[2021-01-14 06:31] hzj629206 opened #22391 "Strange behavior for limit clause."
I have a table like
[code]

Insert some rows with `email = ''`
Insert some rows with `email = 'xxx'`

The document says the result order will be the same as the index the query uses. (just like MySQL)
I tried `select userid from tbl_user where email = 'xxx' limit m, n;`. It works well. The result order is fixed.
[code]

But when I try `select userid from tbl_user where email = '' limit m, n`.  The

[2021-01-14 06:42] arronliu1989 commented on #22383
You can also ask questions in Chinese at asktug（asktug.com）, thanks!

[2021-01-14 07:33] tennix opened #22393 "Latency increased during tidb cluster rolling upgrade"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

This is not yet reproduced.

TiDB cluster is deployed in k8s, the original procedure is changing the log level of pd/tikv/tidb configuration, and tidb-operator will roll upgrade the whole cluster.

### 2. What did you expect to see? (Required)

Low latency during rolling up

[2021-01-14 07:59] tangenta commented on #18254
The fixing PR https://github.com/pingcap/tidb/pull/18326 is not cherry-picked to release-4.0 because of the compatibility issue.

[2021-01-14 08:12] erwadba opened #22394 "TypeNewDecimal handle wrong about string value."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
In Mysql will report err like
[code]
### 3. What did you see instead (Required)
insert success.
### 4. What is your TiDB version? (Required)
[code]

[2021-01-14 09:16] flowbehappy commented on #22184
@StevenCtf We really appreciate the information you provided.

Since there are no more core dump files created after you deleted them, do any more ERROR logs continue to show up in tiflash.log file? And, have you done any DDL jobs (like `alter table xx add column`) before the core dumps happen?

[2021-01-14 10:04] #22308 closed

[2021-01-14 10:42] zhangysh1995 commented on #20994
I reproduced this bug on `5.0.0-rc ` with `tiup playground`.

[code]

[code]

[2021-01-14 10:51] ekexium opened #22395 "Read unexpected NULL value when there are concurrent DDLs that change column type"
## Bug Report

In a bank scenario with concurrent DDLs, a `select  * from t where id in (?, ?) for update` statement reads a NULL value, while the logic should not produce any NULL values.

The table consists of two columns: `id` and `balance`.

The concurrent DDLs include adding/dropping the index on `id`, and changing the datatype and name of the `balance` column.

### 1. Minimal reproduce step

[2021-01-14 10:57] aytrack opened #22396 "tidb panic while get part of partition key values"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
tidb panic
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-01-14 11:01] ChenPeng2013 opened #22397 "the incompatibility of mysql Ver 8.0.21"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
mysql  Ver 8.0.17 for Linux on x86_64 (Source distribution)
[code]

### 3. What did you see instead (Required)
mysql  Ver 8.0.21 for Linux on x86_64 (Source distribution)
[code]
### 4. What is your TiDB version? (Required

[2021-01-14 11:43] zyguan commented on #18954
Yes, #20975 , this one, I think.

[2021-01-14 11:50] mahjonp opened #22398 "01-06 performance regression on batch_insert"
## Bug Report

There is a 10% performance regression on batch_insert

1. What did you do?

[code]

2. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
51794e9d304896a315d80ccb4603f59dc75f26d9

3. How to re-production

Uses the sysbench to run this script with 256 threads.

[code]

[2021-01-14 12:25] overvenus commented on #22306
From https://github.com/pingcap/dumpling/pull/233, Dumpling does not set memory quota by default, can we close the issue?

[2021-01-14 12:31] SunRunAway commented on #22306
Do we have test evidence on AWS c5.2xlarge?

[2021-01-14 12:34] Tjianke opened #22399 "Inconsistenet error reporting format with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-01-14 12:35] overvenus commented on #22306
There is a test in pingcap/dumpling#233 which ensures Dumpling always disable memory quota by default.

[2021-01-14 12:40] overvenus commented on #22306
From my understanding, there two issues

1. Dumpling should not set 32GB memory quota by default (which is fixed by pingcap/dumpling#233)
2. TiDB should never OOM because of some wrong configuration set by client (e.g., dumpling and mydumper)

Maybe we should open another issue for No.2? What do you think @SunRunAway

[2021-01-14 12:44] jebter commented on #22306
@tennix Please confirm whether to fix it? /cc @cyliu0

[2021-01-14 13:02] beihaiguaishou commented on #22396
/assign

[2021-01-14 13:23] beihaiguaishou commented on #22394
/assign

[2021-01-14 15:17] crazycs520 commented on #19404
I found that CockroachDB will deprecate `interleaved tables` in the future. https://www.cockroachlabs.com/docs/stable/interleave-in-parent.html#how-interleaved-tables-work

I found another defect of `interleaved tables` is hard to handle `TRUNCATE TABLE` DDL of the parent table since if the parent table is truncated, the child of interleaved tables will be useless. Or we should truncate those inte

[2021-01-14 15:17] zyguan commented on #18954
I tried tp-test today on latest release-4.0, still got the error
![2021-01-14_231246](https://user-images.githubusercontent.com/6850317/104609809-64367e80-56be-11eb-9ae2-5bb01afb6f8b.png)

[2021-01-14 15:34] BusyJay opened #22400 "TiDB timeout when killing an instance of TiKV"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Deploy a cluster with at least four TiKV nodes and enable shuffle scheduling.
Kill a node randomly and check if all tables can be accessed and then restart it.

### 2. What did you expect to see? (Required)

The operation can be repeated infinitely.

### 3. What did you see

[2021-01-15 03:00] #22357 closed

[2021-01-15 03:02] cyliu0 commented on #22399
It looks like the similar issues you filed yesterday. Can we merge all of them into one?

[2021-01-15 03:03] mahjonp opened #22401 "Clearing spill disk file may slow rowContainer.Close()"
When bench TPCH on TiDB 5.0-rc, we found that the Q11's elapsed time is unstable, jitter from 3 seconds to 9 seconds.

![image](https://user-images.githubusercontent.com/3251373/104675464-88c34280-5720-11eb-8684-92e2a7f994bd.png)

By tracing fine-grained method calls, @qw4990 found the root cause is that deleting the big spilled file on disk increases the processing time.

And we find the introduc

[2021-01-15 03:57] #22384 closed

[2021-01-15 05:43] SunRunAway commented on #22306
Could the test be run to prevent future regression?
Aka, with such a cluster tier, it is guaranteed that nothing will go wrong in the default configuration of BR
@jebter

[2021-01-15 06:09] zyguan opened #22404 "Got unexpected `Error 1105: Can't find column` when executing tp-test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Not a minimal one. I ran [tp-test](https://github.com/PingCAP-QE/tp-test/tree/tp-test/tp-test) to verify latest release-4.0 and found a test failed with `Error 1105: Can't find column`. It's unexpected because tp-test will create database for each test and there is no relat

[2021-01-15 07:35] eurekaka opened #22408 "merge sort for partition table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]

**Describe the feature you'd like:**

For sort on partition tables, we can sort each partition first, and merge sort those ordered inputs. Then for each partition, it may be able to utilize an index to provide the required order. That would accelerate the execution a lot and reduce memory / cpu usages.

[2021-01-15 08:06] eurekaka opened #22410 "disk spill for sort may not be triggered properly"
## Development Task

Start a tidb-server with these configs, which are the default configs actually:

[code]

then prepare data by:

[code]

Then execute the following queries:

[code]

The query reports OOM error, and check out the tidb.log:

[code]

We can see from the stack trace that, the disk spill for sort is not triggered which is not as our expectation.

[2021-01-15 09:52] Tjianke commented on #22399
Well, to be precise, this issue is a compatibility issue with MySQL. Other issues I raised before are actually bugs, where errors should raise.

[2021-01-15 10:14] seiya-annie commented on #1161
/info

[2021-01-15 10:20] StevenCtf commented on #22184
It look like that it's nothing to do with DDL jobs；
Core files rewrite again.
It's relatively clearly this time by reading tiflash_error.log  this time.
Do you have any ideas?
Thanks a lot.
![image](https://user-images.githubusercontent.com/44461199/104712399-761b2e80-575d-11eb-8c56-1c16f78b902c.png)

[tiflash_error.log](https://github.com/pingcap/tidb/files/5819832/tiflash_error.log)

[2021-01-15 10:37] StevenCtf commented on #22184
And It is weird that the core files create time is 2020.1.12.But core file becomes visible on 1.14 or 1.15.

[2021-01-15 11:16] time-and-fate opened #22412 "reduce optimize cpu usage when handling very large IN(...) expression"
## Development Task
When handling expression with a very large `IN(...)` expression, the optimizer could use too much CPU.
![image](https://user-images.githubusercontent.com/25057648/104718653-2b51e480-5766-11eb-812f-2248f0c411ec.png)

[2021-01-15 11:57] lidezhu commented on #22184
Is your system's time correct?

[2021-01-15 12:02] StevenCtf commented on #22184
correct. all right,ignore this weird thing.

---Original---
From: "lidezhu"<notifications@github.com&gt;
Date: Fri, Jan 15, 2021 19:58 PM
To: "pingcap/tidb"<tidb@noreply.github.com&gt;;
Cc: "StevenCtf"<1005290790@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [pingcap/tidb] got lots of core dump files in the deploy directory of tiflash (#22184)

And It is weird that the core fil

[2021-01-15 12:04] lidezhu commented on #22184
The problem is still under investigation. Could you please upload the core file `core.25246` once more? Because this core dump file seems more big than others which means more info but not too big to upload.

[2021-01-16 04:36] StevenCtf commented on #22184
Thanks.I have done according your mail says，you can check this file when you are not busy.
链接：https://pan.baidu.com/s/1LqhkMQqMm7zFcgJ4G2MjCw
提取码：gm0r

[2021-01-16 04:47] Tjianke commented on #22390
/assign @Tjianke

[2021-01-16 04:47] Tjianke commented on #22389
/assign @Tjianke

[2021-01-16 04:58] overvenus commented on #22306
Tested with 14G memory limited TiDB via Cgroup

Test data

[code]

Dumpling 4.0.9 with 32 threads causes TiDB OOM
[code]

Dumpling master branch (pingcap/dumpling#233)  with 32 threads does not cause TiDB OOM
[code]

![image](https://user-images.githubusercontent.com/2150711/104797606-6bfb3d80-57fa-11eb-8050-d6c795c7a3b8.png)

[2021-01-16 05:26] Tjianke commented on #22390
#22163

[2021-01-16 06:44] zhaoxugang commented on #17731
/pick-up

[2021-01-16 07:29] blacktear23 commented on #22391
In TiDB if you want to keep the result set in order, you should use `order by`. In your scenario, if the table's data in one region, your result should be the same. If the table's data already split into multiple regions the result set is unstable.

[2021-01-16 08:31] xhebox opened #22414 "ddl: refactor placement package"
## Development Task

### Background

There are always lots of regressions in DDL placement packages and it usages. Placement rules in SQL heavily relies on manual test due to the lack of PD in unit tests. It is really bad at tests.

### Solutions

Refactor the whole placement package:

1. Move more code into the placement package, thus reduce the tests that needs to be manually verified.
2. Add mo

[2021-01-16 10:13] blacktear23 commented on #22412
https://github.com/pingcap/tidb/blob/master/util/ranger/points.go#L442
If we can change `[]point` to `[]*point`, the sort will be faster. If we sort `[]point` golang will copy `point` struct when iterating and swap.

[2021-01-16 11:15] SunRunAway commented on #22306
I think dumpling still consumes too much memory, it only leaves 16GB-13.82GB  memory for TiDB running SQL.

[2021-01-16 13:52] overvenus commented on #22306
TiDB in the test is limited to14G memory via cgroup, 13.82G is the OOM case. Also in the test, I set the concurrency to 32 threads,  so you can expect there will be less memory consumed by dumpling with 8 threads.

[2021-01-16 16:54] kennytm commented on #22145
The [`format.OutputFormat` function](https://github.com/pingcap/tidb/blob/42edd7a29f9f667ab440a6138514dd45ad725bc9/util/format/format.go#L183-L195) does proper SQL escaping *when `SQL_MODE` does not contain `NO_BACKSLASH_ESCAPES`*. The function escapes `'`, `\n`, `\r` and `\0`.

(I don't think it's possible to escape `\n`, `\r` and `\0` with `NO_BACKSLASH_ESCAPES`, unless you turn `_ascii'foo\r\nb

[2021-01-17 01:33] blacktear23 commented on #22383
@spihiker
1. yes, timestamp still have 2038 issue.
2. In CentOS 7 default file system is XFS and you can change it on the installation step. But if not I think you can keep root format as XFS and your data disk (such as /dev/sdb) format as EXT4.

[2021-01-17 01:49] morgo commented on #22383
The issue to track timestamp Y2K38 is https://github.com/pingcap/tidb/issues/20522

Another solution is to convert to `DATETIME` type.

[2021-01-17 01:51] morgo commented on #22397
This is caused by the MySQL 8.0 client + TiDB returning in binary character set.

You can workaround this by starting the client with `--binary-as-hex=FALSE`

[2021-01-18 02:42] flowbehappy commented on #22184
@StevenCtf
Hi, we have located an issue which highly suspected to relate to the core-dump, and fixed it on v4.0.5. Since the core-dump is difficult to reproduce, it will be best if you like to try the fixed version in your environment. It only needs to replace the tiflash binary.

Please contact me by email: weiwan@pingcap.com. I will send you the new binary and instructions.

[2021-01-18 02:50] Tjianke opened #22419 "Occasional failure in tics-test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Not sure how it triggers, but in PR #22418 same code base went through tics-test twice, one failed and the other passed.

### 2. What did you expect to see? (Required)
Two tics-test results shoule be consistent.
### 3. What did you see instead (Required)
[One failed](https:/

[2021-01-18 03:37] spihiker commented on #22383
What do i want to know is XFS suitiable for TIDB in production environment. Thanks.

[2021-01-18 03:45] XuHuaiyu commented on #22082
@qw4990 Maybe we need to check which commit in master fixed this issue.

[2021-01-18 03:49] XuHuaiyu commented on #22318
fixed in https://github.com/pingcap/tidb/pull/22319

[2021-01-18 03:49] #22318 closed

[2021-01-18 03:55] XuHuaiyu commented on #22401
dup with https://github.com/pingcap/tidb/issues/22375

[2021-01-18 03:55] #22401 closed

[2021-01-18 04:01] #22397 closed

[2021-01-18 04:05] blacktear23 commented on #22383
I think this is related to history. At begining of TiDB I remembered @ngaut told me xfs triggered some bug on rocksdb. So TiDB best practice is using ext4. So most of tikv is running on ext4, even very large cluster. So for xfs I do not know is there still has some corner case can break rocksdb.

[2021-01-18 04:17] #18681 closed

[2021-01-18 04:31] lzmhhh123 commented on #21692
`1.8446744073709552e19` is equal to `18446744073709552000.0`. For MySQL protocol, they are the same when received from the user.

[2021-01-18 04:31] #21692 closed

[2021-01-18 04:40] #22200 closed

[2021-01-18 05:34] tennix commented on #22306
Yes, I've talked with @overvenus. I think we can close this now. But there is still a long-term issue that TiDB does not restrict the client's request memory usage which if the client's request consumes a lot of memory, it will still cause tidb-server OOM.

[2021-01-18 05:34] jebter commented on #22306
Use less memory can be proposed as a feature？

[2021-01-18 05:35] #22306 closed

[2021-01-18 05:52] winoros commented on #22412
Another glance of look is that there're two places named `buildFromIn` in the flame graph. So there might be redundant calculation. If so, simpifing here should also make great improvements.

[2021-01-18 06:19] overvenus commented on #22306
## Bug
1. Root Cause Analysis (RCA) (optional)

    Prior 4.0.10, dumpling set memory quota to 32GB which is too aggressive, and might cause TiDB OOM.

2. Symptom (optional)

    TiDB OOM

3. All Trigger Conditions (optional)

    Run dumpling on a memory limited TiDB.

4. Workaround (optional)

    Lower concurrency by `--threads`.

5. Affected versions

    4.0.2 - 4.0.9

6. Fixed versions

[2021-01-18 06:29] #20234 closed

[2021-01-18 06:50] winoros commented on #22412
This also leads a potential problem this issue's body not mentioned:

- In this issue, the redundant calculation appears in index vs column. But if we have more than one index whose columns start with the column of the `IN ()` expression. We'll build ranges for the `IN()` expression again and again.
- Not like the calculation of the column, we cannot simply regard these calculation as useless. But

[2021-01-18 06:50] bb7133 commented on #22398
It is confirmed that the regression is caused by https://github.com/pingcap/tidb/pull/21275, @rebelice PTAL.

[2021-01-18 07:05] rebelice commented on #22398
/assign

[2021-01-18 07:59] seiya-annie commented on #22325
@sunxiaoguang @wjhuang2016
please confirm the affected version. it seems imported by (#7036)

[2021-01-18 08:20] erwadba opened #22423 "StrToInt not return the error like mysql in convert.go"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-01-18 08:55] wshwsh12 opened #22425 "Upgrade from v4.0.10 to v5.0.0-rc will cause FATAL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Try to upgrade v4.0.10 to v5.0.0-rc

### 2. What did you expect to see? (Required)
TiDB can start.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[2021-01-18 08:57] wshwsh12 commented on #22425
https://github.com/pingcap/tidb/blob/release-4.0/session/bootstrap.go add version51 in 4.0.10.
When upgrading v4.0.10 to v5.0-rc, it will ignore the version51 in 5.0 https://github.com/pingcap/tidb/blob/release-5.0-rc/session/bootstrap.go

[2021-01-18 09:04] wshwsh12 commented on #22425
/cc @rebelice

[2021-01-18 09:06] wshwsh12 commented on #22425
/assign @rebelice

[2021-01-18 09:14] zyguan commented on #22419
[This test](https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_tics_test/detail/tidb_ghpr_tics_test/4501/pipeline/) failed because it's timed out and killed by jenkins.

[2021-01-18 10:38] wjhuang2016 commented on #22325
Introduced by https://github.com/pingcap/tidb/pull/8624, v2.1 is not affected.

[2021-01-18 11:07] djshow832 opened #22427 "Make stale read compatible with DDL"
## Background

This is a subtask of https://github.com/pingcap/tidb/issues/21094.

The executor and coprocessor always read the newest schema, even if in a staleness transaction. If a schema change happens after the specified timestamp, some cases may happen:

### No data reorganization

In this case, the schema change needs no data reorganization, which means only the metadata changes but not tab

[2021-01-18 11:20] blacktear23 commented on #22412
@winoros what do you think use heap.Push in for loop instead of sort?

[2021-01-18 12:13] clark1013 commented on #3930
/pick up

[2021-01-18 12:14] clark1013 commented on #3930
/assign

[2021-01-18 13:34] hzj629206 commented on #22391
I see. Thanks @blacktear23.

[2021-01-18 13:34] #22391 closed

[2021-01-18 14:29] itisslizz opened #22429 "TIDB PD keeps recycling"
## Bug Report

Tidb PD pod keeps recycling.

### 1. Minimal reproduce step (Required)

Start tidb pd.

### 2. What did you expect to see? (Required)

tidb pd should start successfull

### 3. What did you see instead (Required)
tidb pd fails to start with the log entries below.

### 4. What is your TiDB version? (Required)
v4.0.4

Logs:

Name:      tidb-pd-0.tidb-pd-peer.nimbus-preprod.svc
Address

[2021-01-18 14:35] Tjianke commented on #22399
Seems like this issue won't have a quick fix, due to the fact that incompatbility raises from this line:
[code]

`b.args[1].String()` could only return the eventual parsed value of an expression instead of original args in SQL query(what MySQL is returning).

[2021-01-19 03:26] zyguan commented on #22429
@breeswish could you please take a look?

[2021-01-19 05:07] Tjianke commented on #22387
/assign @Tjianke

[2021-01-19 05:36] breeswish commented on #22429
Hi, this is a bug that will cause panic when traffic is low. It is fixed in https://github.com/pingcap/tidb-dashboard/pull/773 (v4.0.8). Could you try with this version?

[2021-01-19 06:19] time-and-fate commented on #22318
### Bug

Note: Make Sure that 'component', and 'severity' labels are added

#### 1. Root Cause Analysis (RCA)(optional)

#### 2. Symptom(optional)
"index out of range"
and
"copIteratorWork meet panic" in log
and
stack trace contains "github.com/pingcap/tidb/store/tikv.(*RegionStore).kvPeer"

#### 3. All trigger condition (optional)
`tidb_replica_read` is set to `leader-and-follower`

#### 4. Worka

[2021-01-19 08:01] SunRunAway opened #22435 "Add a switch to disable "Modify Configuration Online""
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB provides `[Modify Configuration Online](https://docs.pingcap.com/tidb/stable/dynamic-config)` through SQL, but sometimes the owner of Database does not want SQL user to have the ability even the user has SUPER privilege.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

*

[2021-01-19 08:01] tiancaiamao opened #22436 "Point get query does not consider the `@@tidb_snapshot` variable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Start a cluster.

Create a table and insert some data, record the time:

[code]

Insert some more data, and then set @@tidb_snapshot:

[code]

We should see the snapshot at  '2021-01-19 15:52:44', but if we use a point get query, we get the latest data (bug)!

[code]

### 2

[2021-01-19 08:02] SunRunAway commented on #22435
@zz-jason PTAL.

[2021-01-19 08:50] siddontang commented on #22435
IMO, for the short term, we can use this simple way to disable changing configs online, it is dangerous in DBaaS sometimes.

For the long term, we must sort out all the configs clearly, like which privilege can change which configs online, which configs must be moved from the config file to variables, etc.

[2021-01-19 08:57] SunRunAway commented on #22435
Changing configuration Online is not a good idea for flexible customization. If a decision is made by me, I prefer removing this feature **entirely**.

Because in the eyes of traditional DBAs, configuration files are changed manually.
Whether it's on-premise or on-cloud, it's a surprise to the DBA when someone with super privileges can change the configuration in the configuration file.

If a conf

[2021-01-19 09:28] youjiali1995 commented on #22400
When encountering a missing leader, TiDB reloads the region info from the PD and expects a leader exists in it. If the leader doesn't exist, TiDB will access the first peer in the region info.

According to your description, a leader can't be elected until requests are sent to followers or hibernate timeout. It results in the error here If the old leader is the first peer of the region info.

[2021-01-19 09:31] itisslizz commented on #22429
Hey, we use operator version 1.1.4
which version of the operator would use the 4.0.8 ?
or should we set that manually somewhere in the config?

[2021-01-19 10:48] zyguan commented on #22429
Hi, @itisslizz , you can upgrade the tidb cluster according to [this doc](https://docs.pingcap.com/tidb-in-kubernetes/stable/upgrade-a-tidb-cluster).

[2021-01-19 11:01] pengfeiwang-cn commented on #22435
We need to sort out all the configuration items to see which users can configure and which can only be configured through SRE. We have to prevent users from modifying configuration items that may break the SLA. The DBaaS team can't handle these problems, when ticket comes, the kernel team still has to headache with it.

[2021-01-19 11:09] lucklove commented on #21434
Try `tidb-server --config-check --config=/path/to/tidb.toml` on tidb server to check if you can see the same message.

[2021-01-19 11:31] eurekaka opened #22437 "region_count column of information_schema.tidb_hot_regions is always zero"
## Development Task

[code]

Note that, `Count` of `RegionMetric` is not initialized at all, it is always the default value 0.

[2021-01-19 11:38] youjiali1995 commented on #22400
One solution is always to try a different peer in this case. There is a small probability that the current peer who reports not-leader becomes a leader and TiDB has to retry once in this case.

[2021-01-19 14:01] time-and-fate commented on #22412
I have updated the description and added several screenshots of the CPU profile.

I think most CPU time is consumed on the computation work of sorting and handling the string type. Memory allocation and copying is relatively not a big problem.

[2021-01-19 14:43] blacktear23 commented on #22412
@time-and-fate thanks, and if the compare operatuon is expensive, so I think we may try heap sort, that may reduce compare operation. And another method is add some cache for collation decode.

[2021-01-19 16:46] morgo commented on #22435
I investigated this for https://github.com/pingcap/tidb/pull/22352 .

This privilege is enforced by the `CONFIG` privilege, not `SUPER`. SEM mode will disable reading configuration, and `CONFIG` privilege modification (see below). This is different from setting global sysvars, which does require `SUPER`.

Having said that, I'm in favor of removing this feature in future. Its semantics are not very

[2021-01-19 20:35] morgo opened #22439 "Design Doc for Dynamic Privileges"
## Development Task

The following design doc is for [Dynamic Privileges](https://docs.google.com/document/d/1-jU4YSf1HXT-xbOz3W9aE5n-S67pAPryZmNrNotnRFk/edit#heading=h.efxhx09hxyyo).

Please comment and provide feedback. Once it is stable, I will convert it to markdown and add it to `./docs/design/`.

[2021-01-20 03:15] SunRunAway commented on #22435
This feature on Cloud should be disabled.

The configuration item is the responsibility of Cloud SRE. If a user changes a configuration item through SQL, It will cause the configuration file maintained by SRE and the actual configuration file of the cluster to be inconsistent.
The next time the SRE updates the cluster with the configuration file he maintains, the user will find that the configurat

[2021-01-20 03:20] ethan7811 opened #22441 "Automatic Partition Maintenance"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

For time range partitioned table,  tidb does not have a mechanism to  automatic drop partition after xx days and add new partition for new day (which can implemented by stored procedure and event), so how can i maintain fix days partition automatically in tidb?

**Describe

[2021-01-20 03:33] cyliu0 commented on #22436
For dumpling users, if they use `--sql` or `--where` to export a single row, they might hit this. But I don't think the dumpling users will operate like this in most customer scenarios.

[2021-01-20 05:37] Tjianke commented on #22419
I see, thanks for answering. It would be better if tests are stable.

[2021-01-20 05:39] Tjianke opened #22442 "Bug in unsigned minus unsigned builtin function, result not forced to signed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-01-20 05:52] Tjianke opened #22444 "Bug in unsigned minus unsigned builtin function, result forced to signed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-01-20 05:58] Tjianke opened #22445 "Bug in unsigned minus unsigned builtin function, result forced to signed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-01-20 06:07] Tjianke opened #22446 "Bug in unsigned minus signed builtin function, result forced to signed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
set sql_mode='NO_UNSIGNED_SUBTRACTION';
select cast(-1 as unsigned) - 9223372036854775808

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-01-20 06:09] Tjianke opened #22447 "Bug in signed minus unsigned builtin function, result forced to signed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-01-20 06:11] Tjianke commented on #22442
/assign @Tjianke

[2021-01-20 06:11] Tjianke commented on #22387
/assign @Tjianke

[2021-01-20 06:11] Tjianke commented on #22447
/assign @Tjianke

[2021-01-20 06:11] Tjianke commented on #22446
/assign @Tjianke

[2021-01-20 06:11] Tjianke commented on #22445
/assign @Tjianke

[2021-01-20 06:12] Tjianke commented on #22444
/assign @Tjianke

[2021-01-20 09:28] tangenta opened #22453 "alter table add index reports 'panic in the recoverable goroutine'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master `8ddd41c960caaebbdeb28da33c781fca1464f05f`

[2021-01-20 09:46] tangenta commented on #22453
As mentioned in #20727,

splitting regions on a clustered index table can produce a region that consists of **invalid** start_key / end_key.

To show the `ADD INDEX` progress, TiDB uses `tryDecodeToHandleString` [everywhere](https://github.com/pingcap/tidb/search?q=tryDecodeToHandleString), which can ignore the decode error:

https://github.com/pingcap/tidb/blob/91a9d3065ae985b9ec9fb8c5167e650749d

[2021-01-20 09:58] #22377 closed

[2021-01-20 10:55] time-and-fate commented on #22016
I find it interesting that this issue actually comes from several different issues.
1. We don't collect stats on virtual columns (but we collect stats on indices on virtual columns).

2. Even if there is no virtual column, we can also get this wrong row count = 5.
Reproduce (disable '=' pushdown to get the same plan):
[code]
[code]
When the data source has `copTask.rootTaskConds`, which is the con

[2021-01-20 11:40] winoros commented on #22412
The most complicated case is that `col_a in (...) and col_b = ? and col_c = ? and col_d = ? and col_e = ?` where the length of the in list is not always the same and there're indexes on (col_a, col_b), (col_a, col_c), (col_a, col_d), (col_a, col_e).

In this case:
- prepare cache is not easy to use since the you need to create a prepare stmt for the in list with different length.
- optimize the ra

[2021-01-20 12:21] blacktear23 commented on #22412
@winoros I have written a benchmark project (https://github.com/blacktear23/tidb-sorttest) for some sort test. And this is sort String Datum with "utf8mb4_general_ci" collation's result:
[code]

And we can see pointer array will get a little performance improvement. And I found Heap Sort's performance much more better than Quick Sort. That is because Heap Sort will call compare function's time is

[2021-01-20 15:40] winoros commented on #22412
@blacktear23 This one should be the same with the changes in your #22422?

[2021-01-20 15:50] blacktear23 commented on #22412
yes

[2021-01-20 17:17] blacktear23 commented on #22412
@winoros I found if we expand `decodeRune` and `convertRuneGeneralCI` function at `generalCICollator.Compare` we can get some performance improve. And in my benchmark, the performance is almost same as `strings.Compare`.

[2021-01-21 02:45] wshwsh12 opened #22462 "Make memory tracker for aggregate more accurate."
## Development Task

Now tidb only tracks the memory usage for PartialResult in aggregate executor. But the map aggPartialResultMapper maybe also occupies much memory. So we need estimate the memory usage of aggPartialResultMapper and track it.

[2021-01-21 03:57] sylzd opened #22464 "tidb panic when execute sql in inconsistent stats."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image-20210120162152350](/Users/lzd/Library/Application Support/typora-user-images/image-20210120162152350.png)

### 2. What did you expect to see? (Required)

The SQL statement can return rows.

### 3. What did you see instead (Required)

tidb-server panic instead.

![im

[2021-01-21 05:30] time-and-fate opened #22466 "cross validation need to consider whether column stats is valid"
## Development Task
Reference: https://github.com/pingcap/tidb/issues/22016#issuecomment-763520698
Reproduce:
[code]
[code]
In `GetRowCountByColumnRanges`, we check if the column stats is invalid first, then do the row count estimation. We should do the same in `crossValidationSelectivity`.

[2021-01-21 05:31] time-and-fate commented on #22466
/label sig/planner,component/statistics

[2021-01-21 06:02] #12704 closed

[2021-01-21 06:14] morgo commented on #14621
We are in the process of adding Dynamic privileges in https://github.com/pingcap/tidb/issues/22439

I am going to close this issue now as a duplicate of dynamic privileges. Please feel free to comment if you would like a specific `DYNAMIC` privilege added for a subset of `ADMIN` commands.

There is also a proposal which also reduces the power of `SUPER` privilege (which might be the real answer he

[2021-01-21 06:14] #14621 closed

[2021-01-21 06:22] youjiali1995 commented on #10524
Fixed by https://github.com/pingcap/tidb/pull/11533

[2021-01-21 06:22] #10524 closed

[2021-01-21 06:41] time-and-fate commented on #22466
/assign time-and-fate

[2021-01-21 06:43] #22436 closed

[2021-01-21 07:23] sticnarf commented on #22395
I make a minimal reproduction:

[code]

I think it's not related to async commit or 1PC.

[2021-01-21 08:07] Patrick0308 commented on #12979
/pick-up

[2021-01-21 08:45] #22453 closed

[2021-01-21 08:49] djshow832 opened #22470 "Make plan cache compatible with stale read and history read"
## Background

This is a subtask of #21094.

The prepared plan cache caches the physical plan for each cache key.

The cache key depends on:
 - The prepared statement ID
 - The connection ID and current database name
 - **The table schema, a.k.a. the schema version**
 - **The snapshot timestamp, if it's a history read**
 - Other variables or configurations, such as SQL mode, timezone

Among these

[2021-01-21 08:56] winoros commented on #22412
@blacktear23

That repo haven't include the things you mentioned here?

[2021-01-21 09:23] blacktear23 commented on #22412
yep, just modified tidb in my laptop. Below is the Compare function's source code:
[code]

[2021-01-21 09:30] wjhuang2016 commented on #22412
@blacktear23 Please try this PR: https://github.com/pingcap/tidb/pull/17950

[2021-01-21 09:31] winoros commented on #22412
Seems this two impl is nearly the same.

[2021-01-21 09:34] blacktear23 commented on #22412
@wjhuang2016 we all do the manually inline in golang! :D

[2021-01-21 09:45] blacktear23 commented on #22412
@wjhuang2016 I copy your collation mapTable into my repo and lookup a uint16 array will gain about 5% performance improve than prev.

[2021-01-21 09:49] wjhuang2016 commented on #22412
I think it's about to reach the limit.

[2021-01-21 09:53] blacktear23 commented on #22412
And this is master branch benchmark result with enable new collation:
[code]

[2021-01-21 12:40] wjhuang2016 opened #22477 "only_full_group_by is not checked properly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
No error.
### 4. What is your TiDB version? (Required)

master

[2021-01-21 13:18] tangenta opened #22480 "query like 'where in (null)' cause panic in clustered index tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master `dd8fd16145f4ecc07a3b712fe0f6c0e8f6fdaebb`

[2021-01-21 13:53] #20854 closed

[2021-01-21 15:35] blacktear23 commented on #22412
so what should we do next?

[2021-01-21 16:49] gregwebs commented on #22435
For security this feature should be enabled/disabled in TiKV rather than TiDB. As usual, TiDB can add its own permission layer to perform this operation it wants, but if it is off in TiKV configuration there will be no way to change TiKV configuration from TiDB.

[2021-01-22 01:33] morgo commented on #11583
This has already been added for `SELECT INTO OUTFILE` in https://github.com/pingcap/tidb/pull/19553

It is not applicable for the two remaining cases:

`LOAD DATA` does not support the local option:
[code]

The function `LOAD_FILE()` has not been added, see https://github.com/pingcap/tidb/issues/8436

[code]

As such, I am going to go ahead and close this issue.

[2021-01-22 01:33] #11583 closed

[2021-01-22 01:56] morgo commented on #22441
I think this is a duplicate of https://github.com/pingcap/tidb/issues/19132 , would you agree?

The title says "add partition automatically", but the feature request refers to INTERVAL PARTITIONING and ttl tables.

[2021-01-22 02:02] youjiali1995 commented on #20994
@zhangysh1995 What's the result of ``` lsof -p `pidof tidb-server` ```?

[2021-01-22 02:39] #22207 closed

[2021-01-22 03:40] lysu commented on #20994
@zhangysh1995 it's new bug if you using `tiup playground` with tikv, please help give  the result of lsof -p `pidof tidb-server`.

[2021-01-22 03:44] time-and-fate opened #22487 "make extended stats SQL syntax consistent with other stats related SQL syntax"
## Development Task
In https://github.com/pingcap/parser/pull/1138 and https://github.com/pingcap/tidb/pull/22127, we introduced the keyword `TIDB_STATS` to operate extended stats.
[code]
However, this syntax is inconsistent with current other syntax related to stats, like `SHOW STATS_HISTOGRAMS`, `SHOW STATS_TOP_N`, and so on.

After discussion, we decided to replace `TIDB_STATS` with `STATS_EXTE

[2021-01-22 03:44] time-and-fate commented on #22487
/assign time-and-fate

[2021-01-22 03:45] time-and-fate commented on #22487
/label sig/planner,component/statistics

[2021-01-22 05:45] winoros commented on #22412
@blacktear23
The testing env where the flame graph is catched is testing other things. We need to wait a moment to testing this two pr's improvements. But we can push this two prs to be merged first.

This SQl in the env is rather simple, just a simple select stmt with a where clause who has in list with about 200 items and a equal condition on another column `where col_a in (200 items or so) and

[2021-01-22 06:04] wjhuang2016 opened #22488 "parser error for `GROUP BY` stmt when no `FROM` clause or `FROM DUAL`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
No error
### 3. What did you see instead (Required)
Error
### 4. What is your TiDB version? (Required)
master

[2021-01-22 06:07] #22480 closed

[2021-01-22 06:21] blacktear23 commented on #22412
@winoros the collation decode cache method I have tried, but it is slower than current, so just forget that.

[2021-01-22 06:24] blacktear23 commented on #22412
I think optimize Compare function is not a good practice, it is hard to maintaince. So we can change pointer array first, even we can get small performance gain.

[2021-01-22 07:16] jyz0309 commented on #22437
Can I try to fix this bug? @eurekaka @winoros

[2021-01-22 07:26] eurekaka commented on #22437
Sure, that would be appreciated.

[2021-01-22 07:27] wangtianyi2004 opened #22493 "The coprocessor cache dashboard doesn't work in Grafana"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
The dashboard TiDB -> distsql -> coprocessor cache  doen't work

![image](https://user-images.githubusercontent.com/16875363/105459807-d104d680-5cc5-11eb-8513-10d8932bdfc9.png)

I check the method in Grafana for this dashboard, it show me
histogram_quantile(1, sum(rate(tidb_

[2021-01-22 07:57] CadmusJiang opened #22494 "中文(test)"
## Development Task

[2021-01-22 07:58] #22494 closed

[2021-01-22 08:51] wangtianyi2004 opened #22496 "The wrong query result for decimal type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

# create a test table in TiDB
MySQL [test]> create table t12(d decimal(15,2));
MySQL [test]> insert into t12 values('1,999.00');
MySQL [test]> select * from t12;
+------+
| d    |
+------+
| 1.00 |
+------+
1 row in set (0.00 sec)

### 2. What did you expect to see? (Requir

[2021-01-22 09:07] djshow832 opened #22497 "Plan cache doesn't need snapshot timestamp in the cache key"
## Background

The prepared plan cache caches the physical plan for each cache key (`pstmtPlanCacheKey`). The cache key contains a `snapshot` field, which indicates the snapshot timestamp in a historical read.

The `snapshot` is assigned through such statements:
[code]
In this way, the session always read historical data.

## Problem

However, the snapshot timestamp doesn't affect the physical pla

[2021-01-22 09:16] wangtianyi2004 opened #22498 "PD cannot store the configuration persistently"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
I use ./pd-ctl -u http://XXXX:22379 store limit all 20 command to update the store limitation.
But after I restart the pd leader, the store limit change to the default value 15.
More details as following
[root@r10 bin]# ./pd-ctl -u http://r11:22379 store limit
{
 "1": {
 "ad

[2021-01-22 09:42] #22466 closed

[2021-01-22 10:12] blacktear23 commented on #22412
@winoros as you mentioned, I have written a POC of points cache to reduce double calculation at `buildFromIn`, https://github.com/pingcap/tidb/compare/master...blacktear23:points-cache PTAL

[2021-01-22 11:05] AilinKid commented on #22395
After investigation, we found that difference exists between the good plan and bug plan are as follows:
[code]
After researching the code, we found that since writableCols was used both in plan A&B when building update, the executor PointGet and TableReader can also see the `write-only` column.

For a `write-only` column, the column may be nil in underlying KV when you read it out.

For the TableR

[2021-01-22 14:24] zhangysh1995 commented on #20994
It seems the server has crashed.

[code]

I tried to search for `tidb` in htop, but anything else started by `tiup` is running except for `tidb server`.

[2021-01-23 03:07] you06 commented on #21087
Notice the result of insert from session B is `Query OK, 0 rows affected (4.20 sec)`, that means this SQL does not make any change, the local read in the same transaction is not expected.

MySQL does also follow this behavior.

There is a related issue #21447.

[2021-01-23 19:32] morgo opened #22502 "Make it possible to use TiDB without experimental or deprecated features"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently there are a lot of experimental features in TiDB. Just from a docs search, there are [49 results](https://docs.pingcap.com/search?lang=en&type=tidb&version=stable&q=experimental).

Most of these features are behind feature flags, but others such as [User-Defined Variables](https://docs.pingcap.com/tid

[2021-01-24 07:01] jyz0309 commented on #22477
When I try to reproduce this bug in master, it show the correct result.
[code]
So it seem that this bug has been fixed?

[2021-01-24 10:10] Tjianke commented on #14392
Hello, I'm interested in implementing external storage for window function, is it still needed(As I noticed window function already has sliding window implemented in #14294)?

[2021-01-24 10:39] lysu commented on #20994
@zhangysh1995 how about change this line's `return ...`

https://github.com/pingcap/tidb/blob/5d9bb458150913ec7a58bb2858e258fca077990d/server/server.go#L331

to

[code]

and `make build` and redeploy with new binary with https://docs.pingcap.com/tidb/dev/maintain-tidb-using-tiup#replace-with-a-hotfix-package

and reproduce problem then capture the lsof -p `pidof tidb-server`, thanks

[2021-01-24 10:40] wjhuang2016 commented on #22477
Error is expected.

[2021-01-24 11:20] zhangysh1995 commented on #20994
I only have one machine so how could I do the deployment? I think it is quite complex to deploy a cluster and do the hotfix. I do not need a cluster to complete my task.

 Is it possible only to reproduce with `tiup playground`?

[2021-01-24 11:30] lysu commented on #20994
yes, if have only single node can up playgrould's `--db.binpath` to special using own tidb binary ( see more with`tiup playground help`)

[2021-01-24 12:59] zhangysh1995 commented on #20994
[code]

[2021-01-24 15:08] siddontang commented on #22502
I also want to know how long has each experiment feature been available? if an experiment feature exists too long and has not been stable, I think we should investigate the reason.

[2021-01-24 15:18] sunxiaoguang opened #22505 "Existing timestamp bound read SQL syntax is over complicate and hard to use"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Existing timestamp bound read SQL syntax is verbose and complicate.

[code]

**Describe the feature you'd like:**
Use a better syntax to staleness read and deprecates existing syntax.

[2021-01-24 17:37] morgo commented on #22502
@siddontang for the example I gave (user variables), the QA team confirmed it is only due to test coverage. I proposed it for Sprint 2, but it was rejected.

[2021-01-25 02:31] jyz0309 commented on #22496
I will try to fix this issue.Let me try it

[2021-01-25 03:00] lysu commented on #20994
@zhangysh1995 could you help upload the full lsof result as attachment file to https://asktug.com/t/topic/37201/5 again~ thanks

[2021-01-25 06:02] zhangysh1995 commented on #20994
I have attached the file to the thread.

Because this is a private tool now I'm afraid I cannot share it at the current stage.

[2021-01-25 06:29] #15007 closed

[2021-01-25 06:33] AilinKid commented on #22395
After we tested it in the cluster, we found that https://files.slack.com/files-pri/T04AQPYPM-F01K9AY4ZQX/image.png, the cop will still add a default value for TableReader. So I think it may be something wrong with the column type change.

The changing column (temporary column) doesn't set the origin default value should be blamed. It will also cause the phenomenon above.

[2021-01-25 06:35] djshow832 opened #22510 "Make stale read and history read compatible with coprocessor cache"
## Background

This is a subtask of #21094.

The coprocessor cache caches a response for each request on the TiDB side. If two coprocessor requests are equivalent, the second request may skip being processed on the TiKV side. However, the request is still sent to TiKV, because TiKV needs to judge whether the cached response is still valid.

For stale read and history read, the requested snapshot i

[2021-01-25 06:59] disksing opened #22513 "Provide standalone Go client"
@disksing @AndreMouche  @andylokandy

## Roadmap

[TiKV Client Roadmap](https://docs.google.com/document/d/1Q1DiCVzbOaDaa2RAM83ny7p5Rh9h_ZaIFPhQBwtMe_M/edit)

## Development Task
- [x] Clean up dependencies of store/tikv package on other packages of tidb
- [x] Clean up the logic of tidb calls to store/tikv
- [x] Separate TiDB-specific code in store/tikv
- [x] Reorg `store/tikv` structure
- [x] Mov

[2021-01-25 07:06] Yisaer commented on #22427
/assign

[2021-01-25 07:06] Yisaer commented on #22470
/assign

[2021-01-25 07:38] eurekaka opened #22514 "avoid potential panic when generating join hints"
## Development Task

We got a panic stack like:
[code]

but we have no further information to reproduce this panic. There must be something wrong for the `PlannerSelectBlockAsName` slice. Before we figure out what really happens here, we should add a protective patch to avoid this kind of panics first, since it would impact the normal execution of queries, which is not as expected.

[2021-01-25 08:18] zyguan opened #22516 "Metric `batch_executor_token_wait_duration` is incorrectly recorded"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

The buckets declared at [metrics/tikvclient.go](https://github.com/pingcap/tidb/blob/master/metrics/tikvclient.go#L244) has a unit of nano second, however, it observed in the seconds at [2pc.go]( https://github.com/pingcap/tidb/blob/master/store/tikv/2pc.go#L1818).

### 2.

[2021-01-25 09:21] #22514 closed

[2021-01-25 13:18] #22487 closed

[2021-01-26 02:52] hequn8128 opened #22525 "Json function is not compatible with Mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

mysql version: 8.0.23

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-01-26 03:02] lysu commented on #20994
resolved in direct message in slack channel, it's caused by client side connection leak, and resolved by fix leak in client side

[2021-01-26 03:02] #20994 closed

[2021-01-26 06:05] hequn8128 opened #22530 "Date function is not compatible with Mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

mysql: 8.0.23

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-01-26 06:40] AndreMouche commented on #22513
I would like to try to remove `github.com/pingcap/tidb/config` from `store/tikv`

[2021-01-26 06:46] #22425 closed

[2021-01-26 07:19] qw4990 opened #22532 "inaccurate cardinality estimation on multi-column indexes when stats-ver2 is enabled"
## Development Task
[code]
The `estRows` should be 1.00 instead of 1.33;

[2021-01-26 07:53] aytrack opened #22535 "error info not compatible with MySQL for set generated columns default value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
syntax error and "invalid column definition"
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-01-26 08:44] Yisaer commented on #22427
For `Get the schema version for the start ts of the staleness transaction`, I think a possible way is to maintain a queue like `deltaSchemaInfos` in `schemaValidator` and it only receives the `RelatedSchemaChange` which need to cause the data reorgnization. The capacity of this queue is fixed, if the startTS of the stale read transaction is too old, tidb-server will forbid the query because it can

[2021-01-26 08:58] youjiali1995 commented on #21584
https://github.com/pingcap/tidb/pull/11567 should fix it. When meets `StoreNotMatch` and the old store is a tombstone, TiDB will invalidate the store and all regions on it.

[2021-01-26 08:59] #21584 closed

[2021-01-26 12:00] jyz0309 commented on #22496
![image](https://user-images.githubusercontent.com/528332/105798451-221a1080-5fcd-11eb-8a02-fbe138e9e271.png)

https://www.db-fiddle.com/

question: does mysql support comma number?  should we break compatibility to support this - -?

[2021-01-26 13:18] wjhuang2016 opened #22540 "load data with auto-random may panic if too many rows"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Prepare a CSV file with more than 60000 rows.
Create a table with auto-random.
Use the load statement to load the data.

### 2. What did you expect to see? (Required)
Load data successfully.

### 3. What did you see instead (Required)

ERROR 2013 (HY000) at line 1: Lost con

[2021-01-27 02:06] bb7133 commented on #22502
Good idea Morgan, I have 2 questions for now:

- Are the features of TiKV/PD included in your proposal?

- How can we make sure that all experimental/deprecated features can be controlled by the new options?

[2021-01-27 02:45] newHE3DBer opened #22553 "Is the tiflash source code open source?"
## Question

Whether the tiflash source code is open source, if it is open source, please tell the tiflash source code address, if it is not open source, please tell when you plan to open source

[2021-01-27 03:04] clark1013 commented on #10903
/assign

[2021-01-27 03:30] ilovesoup commented on #22553
TiFlash is on its way for open sourcing. It is closed source for now because we haven't got time cleaning up code and other related stuff. The schedule is within this year.

[2021-01-27 03:53] jebter commented on #22496
corner case

[2021-01-27 06:11] morgo commented on #22502
Not currently.

It would be easiest if internally this was controlled by an experiments or feature flags package. This helps make sure the semantics are followed consistently.

[2021-01-27 06:56] tiancaiamao commented on #21509
On the master branch, I find the `Projection` executor has already been added.

[code]

So this bug can not reproduce now.

[2021-01-27 07:25] #21940 closed

[2021-01-27 07:48] winoros commented on #8962
At this moment in time, we found a new case that `LIKE` don't behave like `EQ` when the expression is `unicode collation`.
Simply rewriting `LIKE` to `EQ` would cause correctness problem. We need to handle it in a new way.

[2021-01-27 08:22] Yisaer commented on #22427
To maintain the queue, there are 2 problems we need to solve:

1. How to compare the `schemaDiff` and `stale read startTS`
2. If the tidb-server is restarted, the queue would be empty and `stale read` couldn't check the startTS with the queue.

For the second problem, I think the tidb-server could load the `schemaDiff` from the storage as the init job during being started.

For the first problem,

[2021-01-27 08:57] #12420 closed

[2021-01-27 09:22] eurekaka opened #22567 "prepared stmt cannot execute when tidb_snapshot is set"
## Development Task

Add the below test case into `planner/core/prepare_test.go`:

[code]

This test would fail with stack like:

[code]

Looks like this problem is introduced recently, the GitHash I used is `0ffa6057371d08443176065e54633d91c3da0960`.

[2021-01-27 09:49] yester354 opened #22569 "tidb always crash"
version tidb 3.0.5
tidb always crash ,when i restart tidb process,it can work right,but after a few minutes ,it crash,one time after another
errors as below:
ithub.com/pingcap/errors.AddStack
        github.com/pingcap/errors@v0.11.4/errors.go:174
github.com/pingcap/errors.Trace
        github.com/pingcap/errors@v0.11.4/juju_adaptor.go:15
github.com/pingcap/tidb/server.(*packetIO).flush
        gi

[2021-01-27 09:51] eurekaka commented on #22567
4.0 has this problem as well, `167edacdbfb1db59b6d10c4f6a0ed2b08d0abca8`.

[2021-01-27 10:26] hey-hoho opened #22571 "Dashborad ClusterInfo page change tab cause TiKV container to reboot"
## Bug Report

### 1. Minimal reproduce step (Required)

I follow this site to deploy tidb cluster in kubernetes:
https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/get-started

The yaml file is :
[code]
This is cluster info in dashboard:
![image](https://user-images.githubusercontent.com/8401517/105975814-5de6d000-60ca-11eb-9534-b6545928fe4d.png)

In this page, I got the follow errors when I s

[2021-01-27 10:50] #18887 closed

[2021-01-27 11:06] wjhuang2016 opened #22573 "Can't find column when using group concat"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

v3.0.16

[2021-01-27 11:09] hicqu opened #22574 "heavy log about "2PC will use async commit protocol to commit this txn""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Start a new TiDB cluster, run sysbench workload with async commit enabled.

### 2. What did you expect to see? (Required)

TiDB won't print some logs too frequently.

### 3. What did you see instead (Required)

Seems the log is print for every statement:
2PC will use async

[2021-01-27 11:46] wjhuang2016 opened #22576 "tidb panic when using group concat"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
v3.0.16

[2021-01-27 12:39] JaySon-Huang opened #22578 "`load data local infile` can only load one row when field-term be the prefix of line-term"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
There are 5 rows in table `t`

### 3. What did you see instead (Required)
There is only 1 row in table `t`
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-01-27 13:09] XuHuaiyu commented on #22578
I think this may not a bug.

I can load data successfully using `mysql -u root -P 4000 -h 127.0.0.1 -D test -e "LOAD DATA LOCAL INFILE '~/Downloads/debug/t.csv' INTO TABLE t LINES TERMINATED BY '\n'"`

[2021-01-27 13:20] bb7133 commented on #22578
Looks that the behavior of MySQL 5.7 is the same with TiDB, could you check it again?

[2021-01-27 13:29] bb7133 commented on #22578
Here's what TiDB/MySQL received:

[code]

[2021-01-27 13:30] JaySon-Huang commented on #22578
I check the data and find that it should be `'|\n'` for line terminated, and the t.csv is rows end with '|\n'(data generated by TPCH script). I have updated the Minimal reproduce step, PTAL again @bb7133 @XuHuaiyu

[2021-01-27 13:34] bb7133 commented on #22578
Sorry but I don't get your point...the `cat` command shows that the file is terminated in '\n', right? (I'm not familiar with TPCH so it would good if you can share your input file).

[2021-01-27 13:37] JaySon-Huang commented on #22578
I have updated the input to be
[code]
Try to refresh your browser?

[2021-01-27 13:40] bb7133 commented on #22578
I got your point, thanks for reporting and it is introduced by #21895.

[2021-01-27 14:24] buggithubs commented on #22569
@yester354 Please provide the following **tidb-server** startup parameters

[2021-01-28 01:04] yester354 commented on #22569
startup parameters as below:
# TiDB Configuration.

compatible-kill-query = false
enable-streaming = false
host = "0.0.0.0"
lease = "45s"
lower-case-table-names = 2
oom-action = "log"
run-ddl = true
socket = "/tmp/mysql4000.sock"
split-table = true
store = "tikv"
token-limit = 1000

[log]
disable-timestamp = false
expensive-threshold = 10000
format = "text"
level = "info"
query-log-max-len = 2048

[2021-01-28 02:57] lysu commented on #22574
@hicqu https://github.com/pingcap/tidb/pull/22555 seems fix this

reopen if have more question

[2021-01-28 02:57] #22574 closed

[2021-01-28 03:05] seiya-annie commented on #22464
@sylzd @eurekaka please help confirm the "affected version", thank you.

[2021-01-28 05:42] winoros opened #22589 "The current statistics histogram of a multi-column index actually serves as a single column index"
## Development Task

If you go through the `BetweenRowCount` of the `Histogram`, you'll see that TiDB use `calcFraction4Datums` to calc the `(given range) / (total bucket)`.

But if you look deeper and go into the `calcFration4Datums`. You'll see that we use `convertDatumToScalar(value *types.Datum, commonPrefixLen int) float64` to calc that value for `STRING/[]BYTE` type. The index's histogram wi

[2021-01-28 05:47] #22395 closed

[2021-01-28 06:11] AilinKid commented on #22427
One question:
How does `the executor and coprocessor always read the newest schema` comes from.

I think stale read is quite like a snapshot read, the latter will form a new `informationchema` with the specified timestamp in session context; then the following the txn's start ts will be also set as the specified timestamp.

So as regards stale read syntax, seems we can form a new `informationchema

[2021-01-28 06:13] AilinKid commented on #22427
PTAL @djshow832 @Yisaer

[2021-01-28 06:56] aytrack opened #22592 "Failed to read auto-increment value from storage engine"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
all data insert successfully

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]
It's similar to #10481 but has a different behavior

[2021-01-28 07:06] bb7133 commented on #22592
This is actually duplicated with https://github.com/pingcap/tidb/issues/982.

It will be fixed by https://github.com/pingcap/tidb/pull/20708, but it may lead to some compatibility issues, so the PR is not merged yet.

[2021-01-28 07:49] lysu commented on #17345
https://github.com/pingcap/tidb/pull/17591 can record total backoff now,  no matter how deep backoff is

[2021-01-28 07:52] lysu commented on #17358
https://github.com/pingcap/tidb/pull/17591 can record total backoff now, no matter how deep backoff is

[2021-01-28 07:52] #17358 closed

[2021-01-28 08:29] eurekaka commented on #22532
`0.33` of the row count is from histogram, while the remained `1.00` is from the TopN of the index. TopN includes `(1,1)` and `(2,2)`, but the bounds of the histogram are `(1,1),(4,4),(5,5),(8,8)`, looks like the histogram does not exclude those items in TopN. Also, the NDV of the histogram is 8, which should be not as expected.

[2021-01-28 08:34] eurekaka commented on #22532
`analyze table t`, `analyze table t with 2 topn` and `analyze table t with 3 buckets` leads to correct results, while `analyze table t with 2 topn, 3 buckets` leads to wrong results.

[2021-01-28 08:39] seiya-annie commented on #22207
@crazycs520 @TszKitLo40 please confirm the "affected version"

[2021-01-28 08:44] seiya-annie commented on #20994
seems it is not a tidb issue. i removed the type/bug label

[2021-01-28 08:46] lysu commented on #22578
this only affect on 5.0 and master, and need special prefix term to trigger...maybe we can change severity to major first

[2021-01-28 08:57] wjhuang2016 commented on #22569
Handled in AskTUG https://asktug.com/t/topic/68239

[2021-01-28 08:57] JaySon-Huang commented on #22578
Data files generated by TPC-H are ends with line terminated '|\n', I think it is not a rare case. BTW, this bug has made TiFlash fail for several days😂

[2021-01-28 09:00] lysu commented on #22578
@JaySon-Huang https://github.com/pingcap/tidb/pull/22585 there are a PR fixed in master, please help review thanks

[2021-01-28 09:11] eurekaka commented on #22532
The histograms are collected individually in tikv and are merged in tidb. After we extract the TopN items from the merged histogram, the bucket intervals can only be narrowed down with careful examination of the discrete values around the bucket boundary. For this case, the first bucket `[1,4)` can be narrowed down to `[3,4)` since `a` is of integer type, and `1` and `2` are extracted to the TopN,

[2021-01-28 09:13] lysu opened #22598 "`load data` with same field and line term value lead to miss rows"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

load data

[code]

into `t`.

### 2. What did you expect to see? (Required)

with `fields terminated by '|' lines terminated by '\n'`, result should be

[code]

with` fields terminated by '|' lines terminated by '|'`, result should be

[code]

### 3. What did you se

[2021-01-28 09:25] you06 commented on #21087
Close this issue because it'not a bug.

[2021-01-28 09:25] #21087 closed

[2021-01-28 09:46] #22578 closed

[2021-01-28 10:45] winoros commented on #22576
Master is fixed by some large refactoring.
The 3.0.16's workaround is set `Projection`'s `avoidColumnEvaluator` always true.

[2021-01-28 10:46] xuyifangreeneyes commented on #22167
### Bug

1. Root Cause Analysis (RCA) (optional)

2. Symptom (optional)

3. All Trigger Conditions (optional)

4. Workaround (optional)

5. Affected versions
[v4.0.10],[v5.0.0-rc]

6. Fixed versions
master

[2021-01-28 10:48] aytrack opened #22604 "double type precision does not display in `show create table` while D is 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
As  the [TiDB Doc](https://docs.pingcap.com/tidb/stable/data-type-numeric#decimal-typel) description, while D is omitted, the default is 0. but the type `double` has different behavior from `double(10, 0)` for insert some data.

[code]
if there are differences, the `show cre

[2021-01-28 10:51] aytrack commented on #10446
Maybe this error is also caused by the decimal truncate?
MySQL :
[code]
TiDB:
[code]

[2021-01-28 11:44] xqinghu opened #22605 "JDBC useCompression=true does not work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

Release Version: v4.0.0
Edition: Community
Git Commit Hash: 689a6b6439ae7835947fcaccf329a3fc303986cb
Git Branch: heads/refs/tags/v4.0.0
U

[2021-01-28 12:11] TszKitLo40 commented on #22604
It seems that this problem is caused by parser.

[2021-01-28 12:21] TszKitLo40 commented on #22604
In MySQL8.0, the result is the same.

[2021-01-28 12:40] TszKitLo40 commented on #22206
Should we fix it now or after it has been fixed by MySQL?

[2021-01-28 15:31] morgo commented on #22206
Since MySQL acknowledges it is a bug, it should be fine to fix now. We are only 17 years away from it breaking.

[2021-01-28 22:13] morgo commented on #22605
It looks like TiDB parses but ignores the compression set option. i.e.
https://github.com/pingcap/tidb/blob/master/server/conn_stmt.go#L614-L635

The parser can handle it, the const is `ClientCompress`. But a grep of `server/*` shows it is not present.

[2021-01-28 23:46] kolbe opened #22611 "Support spill HashAgg to disk"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, HashAgg cannot spill to disk, which means that large joins that use HashAgg use a huge amount of memory and can trigger OOM.

**Describe the feature you'd like:**

Support spilling HashAgg to disk! 🙂

https://github.com/eurekaka/tidb/commit/b2f70d17c0c20b3cc5fdcf6a7522b10d9d67744e is one implementat

[2021-01-29 01:38] cosven opened #22612 "TPS decline during go-tpc run"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I don't know if the phenomenon can be reproduced
1. deploy a nightly-version-cluster (1pd - 1db - 3kv) with default config
2. use br to restore the tpcc database (about 2T)
3. run go-tpc run for 6 hours

### 2. What did you expect to see? (Required)

### 3. What did you see

[2021-01-29 03:09] AilinKid commented on #22604
In TiDB, you can view the HTTP API via `http://127.0.0.1:10080/schema/test/t` to see the flen(M) and decimal(D).

the description is for decimal type rather than double

[2021-01-29 03:12] morgo commented on #22604
This is documented here: https://docs.pingcap.com/tidb/stable/mysql-compatibility#incompatibility-caused-by-deprecated-features

Because the feature is deprecated in MySQL, there are no current plans to support it.

[2021-01-29 03:31] Reminiscent opened #22619 "Some partitions will never be used, we should ignore them"
## Development Task
In the [lastest](https://github.com/pingcap/tidb/commit/94fe8d954e6e8ef142c24515853a956b0353343c) TiDB master. You can see the following SQL statements.
[code]
There are only two optional values for column `a` in table `t`. But we created 3 partitions for column `a`. For partition `p2`, it will never be used. We need to deal with this

[2021-01-29 03:43] pupilcp opened #22620 "pd server keeps reboot when deployed with docker-compose, with error "failed to create WAL""
soft version：
linux：centos 7.4
docker：18.03.1-ce
docker-compose: 1.26.0

problem performance：
tidb-docker-compose_grafana_1          /run.sh                          Restarting
tidb-docker-compose_pd0_1              /pd-server --name=pd0 --cl ...   Restarting
tidb-docker-compose_pd1_1              /pd-server --name=pd1 --cl ...   Restarting
tidb-docker-compose_pd2_1              /pd-server --name=

[2021-01-29 03:50] pupilcp commented on #22620
OK

[2021-01-29 04:02] ichn-hu commented on #22620
Would you please change the title to

pd server keeps reboot when deployed with docker-compose, with error "failed to create WAL"

[2021-01-29 04:11] pupilcp commented on #22620
OK

[2021-01-29 04:26] winoros commented on #22589
Some supplement：

- Why we only consider the first 8 byte after the common prefix?
- We need to store the score of range or the bucket to calculate the overlapping rate. 8 byte <=> float64. If we want increase the length. We need to first impl things like float128.

[2021-01-29 04:46] aytrack commented on #22604
I run this again in MySQL `8.0.23`, it's show the precision
[code]

[2021-01-29 04:52] aytrack commented on #22604
I run this using `decimal` data type in TiDB, it shows the correct precision as I created. but when the flen(M) is ommited, the default value actually is 11
[code]

[2021-01-29 04:59] aytrack opened #22622 "range columns partition table doesn't check the column values for partition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-01-29 05:09] HuGanghui commented on #11181
/pick-up

[2021-01-29 05:25] AilinKid commented on #22604
[code]
seems it is ok in current master

[2021-01-29 05:46] seiya-annie commented on #22159
imported by https://github.com/pingcap/tidb/pull/19438  in v4.0.6

[2021-01-29 05:54] seiya-annie commented on #22159
cherry-pick to 4.0.6 with " executor: fix the issue that `SELECT ... INTO OUTFILE` returns runtime error (#19438) (#19672)\n",
    " v4.0.6",

[2021-01-29 06:27] winoros commented on #22412
@blacktear23 Sorry for the late reply, the cache key may not be suitable.
Consider SQL like 'select * from (select * from t2 t where a in (...)) joined_t1, (select * from t1 t where a in (...)) joined_t2 where joined_t1.col_x=joined_t2.col_x`, if we just cache the function's `String` output, we may read the cache wrongly.

[2021-01-29 06:29] winoros commented on #22412
And we can directly cache at `buildFromScalarFunc`?

[2021-01-29 06:53] eurekaka commented on #22573
Latest master and 4.0 has fixed this error in the last round of refactor for expression package, those changes I suppose are pretty hard to be cherry-picked to 3.0.

[2021-01-29 06:53] rebelice commented on #20417
## Please edit this comment to complete the following information
### Bug
Note: Make Sure that 'component', and 'severity' labels are added
#### 1. Root Cause Analysis (RCA)
The same SQL has two different representations in SPM, that is, it does not contain the schema name and it is represented in the default_db field or contains the name of the complete schema. But in TiDB, we think the two are d

[2021-01-29 06:54] #22573 closed

[2021-01-29 07:12] xuyifangreeneyes commented on #22622
/assign

[2021-01-29 07:19] xuyifangreeneyes commented on #22622
The bug cannot be reproduced on the latest master.

[2021-01-29 07:19] #22376 closed

[2021-01-29 07:53] eurekaka commented on #22404
Minimal reproduction steps:
[code]

[2021-01-29 07:56] eurekaka commented on #22404
master branch(`3dff7cd348666fd31dca0ba50befe748b2a2eb63`) does not has this problem.

[2021-01-29 08:07] HuGanghui commented on #11181
/give-up

[2021-01-29 08:18] eurekaka commented on #22404
A more simpler reproduction:
[code]

[2021-01-29 08:39] xiongjiwei commented on #22622
I think it fixed by https://github.com/pingcap/tidb/pull/21398

[2021-01-29 09:15] eurekaka commented on #22404
This can be fixed by https://github.com/pingcap/tidb/pull/21640, but it was not cherry-picked to 4.0.

[2021-01-29 12:27] csyjx opened #22626 "隐式转换后where不具备过滤性，产生错误结果集"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

ncid为字符串类型，使用字符串类型结果集正确
SELECT  count(*) FROM test  WHERE ncid='0'
当使用数字类型时，变成查询总数
SELECT  count(*)FROM  test WHERE ncid=0，
变成随机取10条， whe

[2021-01-29 12:29] wjhuang2016 commented on #22626
Please provide the tidb version and the table schema.

[2021-01-30 02:31] Tjianke opened #22627 "BenchmarkWindowFunctionsWithSlidingWindow failed on master branch"
## Development Task

Function `BenchmarkWindowFunctionsWithSlidingWindow` in `executor/benchmark_test.go` failed on master branch.

[code]

[2021-01-30 03:44] leiysky opened #22629 "Aggregation function COUNT(NULL) will return error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. create arbitrary table `t`
2. run `select count(null) from t`

### 2. What did you expect to see? (Required)
Although `COUNT(NULL)` seems not make any sense, it will still return a numeric `0` in MySQL 8.0 and Postgres 13 instead of error.

### 3. What did you see instea

[2021-01-30 06:46] ichn-hu commented on #22620
@pupilcp could you please share your docker-compose script?

[2021-01-30 06:57] Tjianke opened #22630 "Improve max/min sliding window function algorithm with deque"
## Development Task

### Current status

Currently TiDB is using a `heap` + `map` based sliding window algorithm, where for each element in the heap we also store how many time it was inserted. Then when we query what the smallest/biggest element is, we discard it if its index is zero. Problem with this `late deletion` technique is performance deteriorates badly when input gets larger, since `heap

[2021-01-31 04:01] Tjianke opened #22632 "Window_test failed on CI but passed in local"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

#22631 failed on [CI](https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/73249/display/redirect) in `TestTestWindowFunctionsDataReference`, but this test in local environment passed.

Here're the SQL for easier reproduction:
[code]

### 2. What did you expect to

[2021-01-31 05:32] Tjianke opened #22633 "Common test failed on CI but passed in local"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
SQL to reproduce  the subquery inside select:

[code]

### 2. What did you expect to see? (Required)
Common test in CI should pass.
### 3. What did you see instead (Required)
Here's the [common test](https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_gh

[2021-01-31 05:52] HuGanghui commented on #11181
[code]

[2021-01-31 12:07] Tjianke commented on #11181
To put it simply, the final error result is generated in `executor/builtin_arithmetic_vec.go:716`. The test raised error because it's testing row version of evaluation function `evalInt`, which you just changed.

Your query will call row-based `evalInt` during plan building period(constant folding). Once query gets executed, vectorized version `vecEvalInt` will be called to return final result.

[2021-01-31 12:17] Tjianke commented on #22399
same issue as #11181

[2021-01-31 12:44] HuGanghui commented on #11181
@Tjianke I got it, thanks.

[2021-01-31 12:55] superhail opened #22634 "what does 'actRows' mean when the operator is TableRangeScan decided by columns?"
## General Question

I was testing tpc-h in TiDB,
Here is the sql:
[code]
Here is the result:
[Result_12.txt](https://github.com/pingcap/tidb/files/5899726/Result_12.txt)
for node "TableRangeScan_82", the region table contains only 5 rows, but the value of 'actRows' column is 40. Is this behavior an expected one? If it is, some explanations would be helpful to me, thx in advance.

[2021-01-31 14:58] Thearas opened #22635 "runtime error: slice bounds out of range [:2] with capacity 1"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Work fine.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-02-01 01:56] TszKitLo40 commented on #22635
Can you list the table schema and data in  the table?

[2021-02-01 02:59] ylht commented on #22634
Me, too

[2021-02-01 03:30] cyliu0 opened #22637 "BR in sql performance issue"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

This bug is found by @cosven. And @overvenus is working on the investigation.

### 1. Minimal reproduce step (Required)

Restore 2TB tpcc data via br in sql

### 2. What did you expect to see? (Required)
Expect performance as binary.

### 3. What did you see instead (Required)
As you can see in the below picture, t

[2021-02-01 06:44] #22497 closed

[2021-02-01 06:44] #22567 closed

[2021-02-01 06:54] blacktear23 commented on #22412
So the cache key should include expression and related tables, right?

[2021-02-01 07:05] lzmhhh123 opened #22642 "some sql plans with clustered index are worse the none clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Initialization:
[prepare_sql.txt](https://github.com/pingcap/tidb/files/5902349/prepare_sql.txt)
[code]

query:
[code]

### 2. What did you expect to see? (Required)
The plan of clustered_index and none_clustered_index are the same.

### 3. What did you see instead (Require

[2021-02-01 07:14] lzmhhh123 commented on #22642
Case 2:

[code]

[2021-02-01 07:15] lzmhhh123 commented on #22642
Case 3:

[code]

[2021-02-01 07:18] Tjianke commented on #22627
/label sig/execution

[2021-02-01 07:18] lzmhhh123 commented on #22642
Case 3:

[code]

[2021-02-01 07:19] lzmhhh123 commented on #22642
Case 4:
[code]

[2021-02-01 07:20] xuyifangreeneyes opened #22643 "The return value `rollbackFn` is always nil in activateTxnForRowCount"
## General Question

In function [`activateTxnForRowCount`](https://github.com/pingcap/tidb/blob/master/executor/analyze.go#L784-L804), the return value `rollbackFn` is always nil. Is the logic right? Thanks a lot.

[2021-02-01 07:22] xuyifangreeneyes commented on #22643
/label sig/execution

[2021-02-01 07:29] eurekaka commented on #22410
Close this issue since it is believed to be not a problem. See https://github.com/pingcap/tidb/pull/22411#issuecomment-770635614 for details.

[2021-02-01 07:29] #22410 closed

[2021-02-01 08:02] lzmhhh123 commented on #22642
Case 5:

[code]

[2021-02-01 08:03] lzmhhh123 commented on #22642
Case 6:
[code]

[2021-02-01 08:03] eurekaka commented on #12309
I believe the code around has been refactored a lot, and the problem does not exist anymore.

[2021-02-01 08:03] #12309 closed

[2021-02-01 08:07] lzmhhh123 commented on #22642
Case 7:
[code]

[2021-02-01 08:18] lzmhhh123 commented on #22642
Case 8:
[code]

[2021-02-01 08:30] lzmhhh123 commented on #22642
Case 9:
[code]

[2021-02-01 08:42] mahjonp opened #22646 "db.Exec is blocked when executing empty statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Succeed

### 3. What did you see instead (Required)

Blocked on db.Exec...

### 4. What is your TiDB version? (Required)

v4.0.11-pre

[code]

[2021-02-01 08:45] mahjonp commented on #22646
/cc @lobshunter

[2021-02-02 00:56] ilovesoup opened #22654 "Aggregation query returns wrong results on TiFlash"
## Bug Report
Schema:
`| cb_yield_curve_detail | CREATE TABLE cb_yield_curve_detail (
seq decimal(32,0) NOT NULL,
ctime datetime DEFAULT NULL,
rtime datetime DEFAULT NULL,
curve_encode varchar(240) DEFAULT NULL,
curve_name varchar(440) DEFAULT NULL,
curve_type_code varchar(240) DEFAULT NULL,
curve_type varchar(240) DEFAULT NULL,
dt datetime DEFAULT NULL,
term_y decimal(24,4) DEFAULT NULL,
yield de

[2021-02-02 02:55] morgo opened #22658 "read only transactions are read/write"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Reported via TiDB Community Slack:

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-02-02 02:56] morgo commented on #22658
Since this is probably required for compatibility, it can be protected by https://docs.pingcap.com/tidb/dev/system-variables#tidb_enable_noop_functions-new-in-v40

[2021-02-02 03:29] xhebox opened #22659 "use SchemaName in utils"
## Development Task

There are `util.MetricSchema` and other schema names. But there are inline names everywhere, e.g. SQLs in executor/inspection_* are writing the schema name by hands.

[2021-02-02 03:30] xhebox commented on #22659
/label sig/execution

[2021-02-02 07:33] eurekaka opened #22663 "support explain format = 'test' for fewer meaningless test updates"
## Development Task

Currently, if we change optimizer code, there may be a lot of tests to be updated because of the change of the ID for each planner operator. These trivial updates can be avoided if we use a new syntax `explain format = 'test'`(just for test purpose, so there is no compatibility concern) to stop printing the ID in the explain output.

[2021-02-02 07:41] tiancaiamao opened #22664 "Some test case run twice"
## Development Task

For example,

[code]

The result looks like this:

[code]

Many tests run twice, both in `statsSerialSuite` and `testStatsSuite`.

It caused by the wrong usage of the `pingcap/check` package.

[code]

In the `SerialSuites()`, the `Override` also has the `TestXXX` method, so this one is registered.
As it's already registered in `Suite(&Base{})`, `TestXXX` is registered twice an

[2021-02-02 07:48] wjhuang2016 opened #22665 "constant propagation is wrong used for some collation."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

4.0 - 4.0.10, 5.0 rc, master

[2021-02-02 08:35] zz-jason commented on #22664
how do you find this problem? 😂

[2021-02-02 09:32] #17345 closed

[2021-02-02 11:12] #13931 closed

[2021-02-02 13:34] fzhedu opened #22680 "executor: creating view errors when set @@tidb_isolation_read_engines='tiflash,tidb';"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE `tt` (
  `id` int(11) DEFAULT NULL,
  `value` decimal(15,2) DEFAULT NULL,
  `money` decimal(20,10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;

set @@tidb_isolation_read_engines='tiflash,tidb';
create view revenue0 (supplier_no, to

[2021-02-02 14:27] tirsen commented on #18616
This indeed looks very interesting!

It will also help in the following scenario:
[code]

Both of these queries will do a double read and if the table is very large a large fan out scatter-gather query to fetch all the `amount_cents` data. Since the scatter-gather query has such a wide fan out we will not get benefit of pushing the aggregation operation down in tikv.

If we added these indexes:
[c

[2021-02-02 14:31] fzhedu commented on #22680
root cause https://github.com/pingcap/tidb/blob/e234403616d30f7d643b805287efd97b26367ed8/planner/optimize.go#L84 delete the `tiflash`.

[2021-02-02 17:04] Thearas commented on #22635
Sorry, I have no further information to reproduce it. The table schema and data were lost.  @TszKitLo40

[2021-02-02 18:35] kolbe opened #22683 "information_schema.tikv_region_status incorrect for partitioned tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

This table has 16 regions. They should all be visible in `information_schema.tikv_region_status`, as they are in the HTTP API:

[code]

### 3. What did you see instead (Required)

Only a single record in information_sch

[2021-02-02 22:53] yiwu-arbug commented on #18024
Both of the write-amp based auto-tuned compaction rate limiter and the compaction guard optimization were included in 5.0 RC release.

The TiKV IO rate limiter mentioned above is still being develop.

[2021-02-03 00:35] #22632 closed

[2021-02-03 00:53] Tjianke opened #22684 "Simplify window processor interface"
## Development Task
According to [todo](https://github.com/pingcap/tidb/blob/master/executor/window.go#L133), currently window processor has three methods:
[code]
The old implementation needs the processor has these three methods but now it does not have to. We should combine these methods.

[2021-02-03 02:07] fzhedu opened #22685 "mpp: the precision of avg(decimal) is wider than that from mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
create table test.t (id int, value decimal(6,3));
alter table test.t set tiflash replica 1;
insert into test.t values(1,2.3),(3,4.5),(5,6.7);
insert into test.t values(null,null),(1,null),(null,3.3);

### 2. What did you expect to see? (Required)
mysql> select avg(value) fro

[2021-02-03 08:35] zhangysh1995 opened #22694 "Unmatched error code with MySQL for a same error (only_full_group_by)"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

We have the following in the [error code documentation](https://docs.pingcap.com/tidb/stable/error-codes):

However, for this query, two systems report the same error but give different error codes.

### 4. What is your TiDB ver

[2021-02-03 09:01] xhebox opened #22695 "Find and close recordset by Exec"
## Development Task

So `TestKit` function will return a recordset.

[code]

But sometimes, we did not close the recordset:

[code]

**EDIT**: There may be other leaks that is not in the test, noticed by @wjhuang2016 .

[2021-02-03 10:10] leiysky opened #22700 "Implementation of EXTRACT function is very inefficient"
For now EXTRACT function takes argument with EvalType`types.ETString`, which means it will do ParseDatetime for each evaluation.

This inefficient way was introduced by #21601. It fixed a compatibility issue but brought serious performance degradation when argument's type is `types.ETDatetime`(which is the most common case, IMO :stuck_out_tongue_closed_eyes:), since ParseDatetime is very costly.

[2021-02-03 10:12] leiysky commented on #22700
@ichn-hu PTAL

[2021-02-03 10:28] cosven opened #22703 "grant Super/GRANT for user failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

no error

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-03 10:39] xuyifangreeneyes commented on #22694
/assign

[2021-02-03 11:15] winoros commented on #22412
Since we are dealing with `expression.ScalarFunction` and it's in form of `col op const` or `const op col`.

So there could be two ways to distinguish them:
- Use `ScalarFunction`'s `Hashcode` method.
- Use `expression.Column`'s `UniqueID` field to distinguish the column.

[2021-02-03 11:34] zhangysh1995 opened #22704 "TRUNCATE PARTITION ALL gets stuck, ddl_worker retries, error returned"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Speed up execution and return _understandable_ error messages. Now it runs for several minutes (5min+) and fails.

### 3. What did you see instead (Required)

[code]

You should be able to see log like the following:

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-03 13:05] wjhuang2016 opened #22708 "write conflict when create index on partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
No error in tidb.log
### 3. What did you see instead (Required)
[ERROR] [ddl_worker.go:158] ["[ddl] handle DDL job failed"] [worker="worker 4, tp add index"] [error="[kv:9007]Write conflict, txnStartTS=422642994193104901

[2021-02-03 13:22] Tjianke commented on #22659
/assign @Tjianke

[2021-02-03 13:46] cberescu opened #22710 "Panic on rocksdb."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I can not give a way to replicate, I have only the logs :

[code]

### 4. What is your TiDB version? (Required)
Release Version: v4.0.10
Edition: Community
Git Commit Hash: dbade8cda4c5a329037746e171449e0a1dfdb8b3
Git Branch: heads/refs/tags/v4.0.10
UTC Build Time: 2021-01-

[2021-02-03 13:53] cosven commented on #22703
After some investigation, I found that the correct usage is
[code]

Besides, as we can see, there are two problems on TiDB

1. `grant Super on test_cosven.* to 'br'@'%';` should return a proper error
![image](https://user-images.githubusercontent.com/4962134/106755487-27c8c380-6669-11eb-8a06-a0058ef1101c.png)
On TiDB, the planner raises error
[code]

2. TiDB docs is misleading (or wrong)
![image](

[2021-02-04 02:36] morgo commented on #22629
Seems similar to https://github.com/pingcap/tidb/issues/17486

[2021-02-04 03:36] LittleFall opened #22715 "Support push down `ast.Mod` to TiKV and TiFlash."
## Development Task

Currently, [TiDB code](https://github.com/pingcap/tidb/blob/master/expression/expression.go#L971-L976) doesn't support push down the `mod` operator. But TiKV and TiFlash already support it.

So we should open it.

[2021-02-04 04:01] eurekaka opened #22716 "remove MaxOneRow if filters in subquery fully cover a composite unique index"
## Development Task

[code]

`MaxOneRow` can be eliminated and the `Apply` should be converted to a left outer join.

[2021-02-04 04:06] wshwsh12 opened #22717 "Wrong enum calculation result in where condition."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
17a65ab98bf1c5b86b7b9d8fc5c6e28a57e741a8

[2021-02-04 04:09] wshwsh12 commented on #22717
https://github.com/pingcap/tidb/blob/master/expression/expression.go#L462 We should check Enum valuse, not Enum name.len.  @ichn-hu PTAL

[2021-02-04 04:14] ichn-hu commented on #22717
I think this is such an edge case... and it shows the internal inconsistency of MySQL, if you do

select 1 from t where ''

You get empty set.

[2021-02-04 04:15] ichn-hu commented on #22717
Yeah... But I am currently on calling, I might only be available responding after the new year vacation

[2021-02-04 04:16] fzhedu opened #22718 "mpp: avg(null) returns error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
create table test.t (id int, value decimal(6,3));
alter table test.t set tiflash replica 1;
insert into test.t values(1,null),
 select avg(value) from t group by id;

### 2. What did you expect to see? (Required)
error: divided by zero
### 3. What did you see instead (Requir

[2021-02-04 05:03] MyonKeminta commented on #22710
Thanks for reporting.
Does the environment and the data of the panicking node still exist?

[2021-02-04 05:14] tiancaiamao opened #22721 "grant USAGE privilege operation fail"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`GRANT USAGE ON xx TO xx` should not return error.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

4.0, 5.0, master(b35e15c8cfeaa7e8f4d8a0db1c6cbba88ff116d9)

[2021-02-04 05:15] tiancaiamao commented on #22721
`USAGE` is a virtual privilege item, check this privilege should match the mask with the record.

[2021-02-04 07:11] Thearas opened #22726 "runtime error: makeslice: cap out of range"
## Bug Report

### 1. Minimal reproduce step (Required)
Just execute this SQL:
[code]

### 2. What did you expect to see? (Required)
Work fine like mysql:
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-02-04 07:12] Thearas commented on #22726
#22201

[2021-02-04 08:26] tangenta opened #22730 "Duplicate rows occur in primary/unique key in optimistic transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Use optimistic transaction.
[code]
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

Other types like `char`, `varchar` and others also have this issue.

### 4. What is your TiDB version? (Required)

master `4c

[2021-02-04 08:28] tangenta commented on #22730
Integer column as the primary key does not have this issue:
[code]
[code]

[2021-02-04 08:46] cberescu commented on #22710
Yes, it is available .

[2021-02-04 09:11] seiya-annie commented on #22703
create doc issue for this :https://github.com/pingcap/docs/issues/4791

[2021-02-04 10:58] #22685 closed

[2021-02-04 18:13] morgo commented on #22730
I believe this is intentional, and depends on the setting `tidb_constraint_check_in_place`:
[code]

[2021-02-04 19:33] hhb commented on #10742
Just curious, is your CLA a copy of [CNCF CLA](https://github.com/cncf/cla)? I'm not a lawyer to tell subtle differences but they look pretty similar.

Maybe it is better to emphasize only the differences from a well known license. This will definitely make it easier for reader to understand.

[2021-02-05 01:52] aierui commented on #22513
Like error code,if unpack it need to write two places?
[code]

[2021-02-05 02:25] zoujia-cm opened #22735 "load data bug"
## Bug Report

create a table:
create table ct(ch varchar(255), ch2 varchcar(255));

I have a csv file under /root directory, it's content like:
'ss','ee'|'rr','ss'

When I execute:
 load data local infile '/root/test.csv' into table ct fields terminated by ',' enclosed by '\\'' lines terminated by '|' (ch,ch2)；
 'ss' is stored as 'ss'\n.

when I execute :
       select * from ct;
the output like:

[2021-02-05 02:33] XuHuaiyu commented on #22718
closed by https://github.com/pingcap/tidb/pull/22668

[2021-02-05 02:33] #22718 closed

[2021-02-05 02:40] disksing commented on #22513
@aierui Don't do it like that. I think you can first define plain errors without error code. And then reset the errors in other parts of TiDB.

[2021-02-05 02:51] #22540 closed

[2021-02-05 03:25] morgo commented on #22646
This is not dependent on multi-statement. Here is a minimal testcase:
[code]

The fix is straight forward:
[code]

I believe it was introduced by https://github.com/pingcap/tidb/pull/22451 - cc @tiancaiamao

[2021-02-05 03:27] #22664 closed

[2021-02-05 04:32] ichn-hu opened #22739 "Choose index look with composed value as key"
## Feature Request

**Is your feature request related to a problem? Please describe:**

See the following SQLs

[code]

**Describe the feature you'd like:**

The two query are semantically equivalent, but the first one would choose table scan or index scan with selection instead of index look up as the later one does, making the execution suboptimal.

So we wish the planner could automatically do

[2021-02-05 05:26] seiya-annie commented on #22196
not sure whether other 3.0 version, besides v3.0.16, has this issue

[2021-02-05 05:29] leiysky opened #22741 "Aggregation cannot be pushed down as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

- Create table with: ` CREATE TABLE t (
  a date DEFAULT NULL,
  b varchar(20) DEFAULT NULL,
  c int(11) DEFAULT NULL
)`
- Run query: `explain select avg(c) from t where a = "2021-02-04 00:00:00.000000" and b = '123';`

### 2. What did you expect to see? (Required)
Aggregat

[2021-02-05 05:42] cfzjywxk commented on #22730
I think it's the expected behaviours and not a bug for the optimistic transactions just like the `affected rows` field. For optimistic transactions, the related constraint check or affected rows calculation may not be accurate during the execution.

[2021-02-05 06:28] lysu commented on #22730
the inconsist behavior seems be caused by those addition check

https://github.com/pingcap/tidb/blob/47a182f76a2185cf1778174fc22d00e0416154a3/executor/union_scan.go#L217-L227

it only do additional dup check in intHandle..

however, no matter what user saw in side transaction block, it could NOT commit success, maybe not a bug +1

[2021-02-05 06:39] tangenta commented on #22730
So we are not planning to fix this inconsistency, right?

[2021-02-05 06:42] clark1013 commented on #21098
/assign

[2021-02-05 06:44] ichn-hu opened #22744 "bit_xor on coprocessor returns wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

the correct result is `2188846694` (as is on MySQL), but on v5.0 and v4.0.10, the result is `793141910`.

if we

[code]

then tidb will give the correct result.

### 3. What did you see instead (Required)

### 4. What i

[2021-02-05 06:44] ichn-hu commented on #22744
/label component/copr

[2021-02-05 06:45] ichn-hu commented on #22744
/label components/copr

[2021-02-05 06:59] lysu commented on #22730
IMHO, maybe we can keep current impl - -    how do you think about this  @coocood @cfzjywxk

[2021-02-05 07:13] #22741 closed

[2021-02-05 07:14] leiysky commented on #22741
/unlabel type/bug

[2021-02-05 07:15] leiysky commented on #22741
This is caused by CBO. I missed the estimation info.

[2021-02-05 07:46] guo-shaoge commented on #22530
Looks like it's a bug of MySQL.

result of postgresql-8.4 is same with TiDB:

    test=# select to_char(to_date('0000-01-01', 'YYYY-MM-DD'), '%ID');
     to_char
    ---------
     %6
    (1 row)

We can also write a Go program to verify. The result is Saturday.
[code]

[MySQL](https://dev.mysql.com/doc/refman/8.0/en/mysql-calendar.html) and [PostgreSQL](https://www.postgresql.org/docs/8.4/datetim

[2021-02-05 08:03] XuHuaiyu commented on #22726
1. Dup with #22201
2. non-critical bug will not be cherry-picked to release-5.0-rc.

[2021-02-05 08:03] #22726 closed

[2021-02-05 09:17] TszKitLo40 commented on #22721
/assign

[2021-02-05 09:38] Tjianke opened #22749 "Misleading error format in minus function"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-02-05 10:23] #22654 closed

[2021-02-05 12:41] #22346 closed

[2021-02-05 13:36] lilinghai opened #22750 "Executing the "select * from xx" on the view raise error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
success
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
Release Version: v5.0.0-rc
Edition: Community
Git Commit Hash: fd4437dde445012f5b75e5d4f336433cb076c1ee
Git Branch: h

[2021-02-05 13:44] Thearas opened #22751 "runtime error: index out of range [0] with length 0"
## Bug Report

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
No runtime error.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-02-05 14:01] Thearas commented on #22751
Dup with #22199 , Closed.

[2021-02-05 14:01] #22751 closed

[2021-02-06 09:27] HuGanghui commented on #11181
I think this issue is not easy, because in plan building, the INET_ATON( 35 ) will be calculated first, so when start to run DIV function, we just get constant 35 and can not get any Information about INET_ATON.

[2021-02-06 10:47] ngaut opened #22754 "Issues found by golangci-lint"
## Development Task

[code]

[2021-02-06 11:16] you06 commented on #20860
I tested with the nightly version and got this.
[code]

[2021-02-06 22:50] ulrich-200 opened #22755 "Performance issues while ycsb benchmark test"
## Performance Questions

+-----------------------------------------------------------------------------------------------------------------------------+
| tidb_version()

[2021-02-07 02:30] zz-jason commented on #22755
Did you scale-out the cluster (3 TiKVs -> 6 TiKVs) at around 23:20?

[2021-02-07 07:12] disksing commented on #22755
Could you take a look at the PD grafana panel? There may be some anachronistic scheduling. You can take a look at the type and number of operators in the `operator create` metrics.

[2021-02-07 07:59] ulrich-200 commented on #22755
@zz-jason : No, the metrics shown in the graphics above were all generated by a cluster of 6 tikv's. The cluster was scaled out to 6 tikv nodes first. At 23.00 the leaders and the regions reached a stable state with the topology of 6 tikv nodes. At 23.05 the test started. So there was no change of the topology during the whole test from 23.05 to 23.30.

[2021-02-07 08:28] ulrich-200 commented on #22755
@disksing : The PD starts creating balance-regions operators slightly before 23.30. What could cause this behavior?
![image](https://user-images.githubusercontent.com/78664678/107141080-c170c900-6926-11eb-80ea-2eb8f4b35f99.png)

[2021-02-07 08:55] TszKitLo40 commented on #22683
/cc @djshow832

[2021-02-07 16:16] morgo commented on #22754
See also: https://github.com/pingcap/tidb/issues/20859

[2021-02-08 01:31] Tjianke opened #22759 "Wrong error info returned"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
mysql:
[code]
mycli:
[code]
### 3. What did you see instead (Required)
mycli:
[code]
mysql:
[code]
### 4. What is your TiDB version? (Required)

[2021-02-08 07:43] zhangysh1995 commented on #18048
/pick-up

[2021-02-08 07:44] zhangysh1995 commented on #18048
@ichn-hu Could you please add a label for the bug fixing challenge that I could pick up this issue?

[2021-02-09 00:22] alippai opened #22761 "Participation in h2oai benchmark"
I saw a cool project from h2oai: https://h2oai.github.io/db-benchmark/
They are tracking the major OLAP / tabular data tools' performance and I think adding TiDB would make sense (it's open source). I know TiDB's profile is slightly different, but it'd be nice to see what a hybrid approach can achieve in this field.

[2021-02-09 02:55] ngaut commented on #22761
Good idea, We can also add these test to TiDB's benchmark pool.

[2021-02-09 04:38] sunxiaoguang opened #22762 "Add TTL Table support to automatically reclaim data with given retention policy and garbage collect granularity."
## Feature Request

**Describe the feature you'd like:**
Add TTL Table support to automatically reclaim data with given retention policy and garbage collect granularity.

**Describe alternatives you've considered:**
Manually reclaiming expired data.

**Teachability, Documentation, Adoption, Migration Strategy:**
It's pretty straightforward idea and should be understandable by most people, especial

[2021-02-09 05:15] ulrich-200 commented on #22755
After a lot of investgation I turned off the balance-hot-region-scheduler (as the distribution of the workload is uniform). The balance-region-scheduler and balance-leader-scheduler are still on. The flipping  around of the regions and leaders stopped immediately but the system can not achieve a even distributed state neither of leaders nor of regions. So the load among the instances stays uneven

[2021-02-09 08:37] zz-jason commented on #17856
@ichn-hu which PR fixed this issue?

[2021-02-09 08:50] AndrewDi commented on #22704
/pick-up

[2021-02-09 14:54] hi-rustin commented on #22754
If anyone wants to help fix the issue, a better way is to add a GitHub action to automatically detect these issues.
Please refer to https://github.com/golangci/golangci-lint-action.
Also maybe we need to do some configuration of errcheck to ignore the errcheck checks in the test file.

[2021-02-09 15:11] morgo commented on #8842
Uptime information is available when prometheus is running:
[code]

[2021-02-09 17:00] morgo commented on #22754
The last time I looked at golangci-lint, this was not feasible. But it looks like it is now! See: https://golangci-lint.run/usage/faq/#how-to-integrate-golangci-lint-into-large-project-with-thousands-of-issues

[2021-02-10 06:57] disksing commented on #22755
Hi @ulrich-200 , there will be no hot balance if delete hot region scheduler. I think you can first turn on hot region scheduler, then update the configuration to make it easy to coverage. You could update the tolerance threshold to a higher value:
[code]

[2021-02-10 08:23] djshow832 opened #22765 "Support syntax `SET TRANSACTION READ ONLY AS OF ...` and `SELECT ... AS OF ` for Stale read"
## Background

This is a subtask of https://github.com/pingcap/tidb/issues/21094.

Starting staleness transactions with extending syntax `START TRANSACTION` makes integrating into Java applications much more difficult, but extending syntax `SET TRANSACTION` will be more acceptable. Besides, the original syntax is too complicated, see https://github.com/pingcap/tidb/issues/22505 and https://github.

[2021-02-10 08:49] djshow832 commented on #22765
CRDB: https://www.cockroachlabs.com/docs/stable/follower-reads.html#run-read-only-transactions-that-use-follower-reads
Spanner: https://cloud.google.com/spanner/docs/reference/rest/v1/TransactionOptions
What's your opinion on the syntax and names of the system variables? @morgo

[2021-02-10 09:22] djshow832 commented on #22765
[code]
Would this be better?

[2021-02-10 09:38] nolouch commented on #22765
@djshow832  Would like this more. I think it's more clear.
cc @morgo @scsldb

[2021-02-10 15:39] morgo commented on #22765
@djshow832 yes, I really like this syntax:
[code]

The function is nice because it means the syntax can be unified between staleness (offset) and timestamp (ts). My understanding is that it also implies `exact staleness` by referring to a point far enough in the past?

[2021-02-10 22:15] Jack-Clark opened #22767 "Selecting from a view returns inconsistent results"
## Bug Report
### 1. Minimal reproduce step (Required)
CREATE TABLE t0(c0 TEXT(20)) SHARD_ROW_ID_BITS=32 PRE_SPLIT_REGIONS=16;
CREATE VIEW v0(c0) AS SELECT t0.c0 FROM t0 GROUP BY '泤';

INSERT INTO t0(c0) VALUES ('a');
INSERT INTO t0(c0) VALUES (1);

SELECT * FROM v0; -- Running this repeatedly returns either 1 or a

### 2. What did you expect to see? (Required)
I expected the view creation to fail

[2021-02-11 15:03] ulrich-200 commented on #22755
Hi @disksing, thanks a lot for your advice! I turned on the hot region scheduler again with the ratio of 1.1. The behaviour of the leader - and region change is much better now. Still, the distribution of the CPU load of the nodes is quite uneven and the distribution of regions and leaders is uneven as well. And there can be observed a massive reduction of the regions the more nodes I add. The les

[2021-02-11 22:54] kolbe opened #22768 "Support setting global configuration variables at cluster creation time"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In MySQL/MariaDB, configuration items that are expressed as global variables can also be set in the configuration file. This makes it easy to know the configuration that the server will have when it starts.

TiDB does not support setting global configuration variables at the time the cluster is created. Instead

[2021-02-12 08:59] cberescu commented on #22710
Hey @MyonKeminta  do you still need the node ? Should i keep it ?

[2021-02-12 09:16] serbaut commented on #22285
We see a simliar error in the logs but we have never had more than two tidb afaik,

    [2021/02/12 09:09:40.814 +00:00] [WARN] [proxy.go:181] ["fail to recv activity from remote, stay inactive and wait to next checking round"] [remote=default-tidb-3.default-tidb-peer.databases.svc:4000] [interval=2s] [error="dial tcp: lookup default-tidb-3.default-tidb-peer.databases.svc on 10.43.0.10:53: no such

[2021-02-14 14:30] agaffney opened #22769 "Warning generated when column data is truncated shows no column name when using LOAD DATA"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Create file `foo.sql`:

[code]

Create file `foo.csv`:

[code]

Run SQL file:

[code]

Import CSV file:

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-14 14:50] agaffney commented on #22769
As an additional note, this same test with MySQL 5.7 properly shows the column name in the warning.

[2021-02-15 15:43] tohghua commented on #22735
The case is: the csv file ends with '\n'.
Mysql behaves the same in this case.
If you remove the trailing '\n', you won't get the single quote, still the same as mysql.

[2021-02-15 15:59] tohghua commented on #22735
The case is: the csv file ends with '\n'. You can confirm this by check the file size: 20B
Mysql behaves the same in this case.
If you remove the trailing '\n', you won't get the single quote, still the same as mysql.

[2021-02-16 12:55] jianzhiyao commented on #4989
I can help to support this issue, you can assign it to me :).
@morgo

[2021-02-16 14:52] morgo commented on #4989
/assign @jianzhiyao

[2021-02-16 22:15] kolbe commented on #18396
Hello! Is there any update to the ETA for this feature? It seems that it is still not possible to concurrently add indexes to separate tables.

[2021-02-17 03:52] jianzhiyao commented on #4989
Table storage information should be add in which api?

[2021-02-17 13:02] #22190 closed

[2021-02-17 13:14] xzhangxian1008 commented on #13018
Is this bug fixed now?

[2021-02-18 01:03] mahjonp commented on #22646
Close the issue since it has been fixed.

[2021-02-18 01:03] #22646 closed

[2021-02-18 02:23] MyonKeminta commented on #22710
I'm sorry for mistakenly missing this issue. It's confirmed that we've meet this issue before, but didn't find out the reason. To recover, you should offline the crashing TiKV node and add a new node by scaling out.
If you are still keeping the crashing  node, please consider upload or send us the TiKV's log, RocksDB's log (in your `/tidb/data/tikv-20160/db` directory, named `"LOG-XXXX"`, please k

[2021-02-18 02:55] #22629 closed

[2021-02-18 03:27] #22462 closed

[2021-02-18 05:00] bb7133 commented on #22735
Hi @zoujia-cm ,& @tohghua  Since the behavior is the same as MySQL, I don't think it should be fixed. Do you agree with me?

[2021-02-18 05:07] wshwsh12 commented on #17486
Duplicate of #22629

[2021-02-18 05:07] #17486 closed

[2021-02-18 05:14] winoros commented on #22767
@Jack-Clark
Yes, if you run this SQL with `only_full_group_by` opened in sql mode.
The execution will raise an error, telling you that `there's no functional dependency between the non-aggregate columns and the group-by columns`

But if you remove `only_full_group_by` from the sql mode. This SQL can be executed successfully.
The view won't store the sql mode when creating it.

So we can only throw

[2021-02-18 06:05] guo-shaoge commented on #22530
According to [wikipedia](https://en.wikipedia.org/wiki/1_BC), 1 BC starts on **Saturday**.

Year zero exists in ISO8601 where it coincides with the Gregorian year 1 BC([here](https://en.wikipedia.org/wiki/Year_zero#ISO_8601))

So i believe it's MySQL's bug.

[2021-02-18 06:36] wjhuang2016 opened #22783 "unexpected warning when inserting, schemaLeaseChecker is not set for this transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t(a bigint PRIMARY KEY auto_random);

cat 1.sql
INSERT INTO `t` VALUES ();

mysqlslap --query=1.sql -uroot -h127.0.0.1 -P4000 -c 100 --number-of-queries=10000000 --create-schema=test --commit=1

### 2. What did you expect to see? (Required)
No warning in tidb l

[2021-02-18 07:20] wjhuang2016 commented on #22783
Introduced by https://github.com/pingcap/tidb/pull/22371

[2021-02-18 07:22] cfzjywxk commented on #22783
After the #22371 change, for innner transactions using `RunInNewTxn` function calls, the `context` from upper scope will be inherited and reused. The `connection id` will not be zero initializing the two phase committers, and the warn log is printted as the schema lease checker is not set yet.
Maybe we should keep it consistent for the `RunInNewTxn` interface and `ExecRestrictedSQL`, the storing o

[2021-02-18 07:24] cfzjywxk commented on #22783
Besides, we need to more clearly define the unexpected path fetching the schema lease checker during commit, return error and prevent such transactions from committing successfully.

[2021-02-18 07:24] seiya-annie commented on #17345
/info

[2021-02-18 08:39] jackysp opened #22788 "Scatter region when creating tables is not work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. `set global tidb_scatter_region = 1;`
2. create table without pre-split option in a new session.
3. grep logs of pd leader to find 'add operator' and then 'mv light peer'.

### 2. What did you expect to see? (Required)
Get the operator log.

### 3. What did you see instea

[2021-02-18 08:45] jackysp commented on #22788
This pr #20980 introduced it. It used the batch API `ScatterRegions` instead of `ScatterRegion`, but the batched API doesn't have the same behavior as the single API except it will scatter multi-regions. It is not easy to use the single API directly, because pd doesn't have a single API with an option, which is introduced in #19844 . #19844 is an optimization that could not be reverted directly.
P

[2021-02-18 08:56] djshow832 commented on #22765
The result of `follower_read_timestamp()` is always 4.8s, which means it's always a staleness, not a timestamp.
Besides, in CRDB, it's always exact staleness. They do not have the semantics of bounded staleness. @morgo

[2021-02-18 09:18] lonng commented on #18396
@kolbe Hi, this feature won't be scheduled to release in the short-term.

[2021-02-18 09:18] skyzh commented on #22744
It seems that `crc32` is not in push-down list, but will be pushed down if it is inside `bit_xor`. Is this expected?

[2021-02-18 09:20] ichn-hu commented on #22744
definitely not, this is way out of expectation...

Alex Chi <notifications@github.com>于2021年2月18日 周四下午5:19写道：

[2021-02-18 09:23] skyzh commented on #22744
It's in push-down list, sorry for my mistake... https://github.com/tikv/copr-test/blob/master/push-down-test/functions.txt#L40

[2021-02-18 09:35] wjhuang2016 commented on #22788
It seems that the basic test is missing.

[2021-02-18 09:38] #10543 closed

[2021-02-18 13:18] cfzjywxk opened #22791 "query result for float type is incompatible with previous version"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table tf(f1 float(10,2));
insert into tf values("-34028234.66");
select * from  tf;

### 2. What did you expect to see? (Required)
[code]
This result is the same with tidb version v4.0 and mysql.

### 3. What did you see instead (Required)
[code]

Seems the float typ

[2021-02-18 14:10] alex-quan-001 opened #22792 "tidb dashboard displays an error"
## Bug Report

### 1. Minimal reproduce step (Required)

Today is February 18, 2021.
The tikv process crashed this Monday(February 18), but it shows last Monday
![image](https://user-images.githubusercontent.com/77444503/108368187-1ff64b00-7235-11eb-86cc-443f08df4f47.png)

### 2. What did you expect to see? (Required)

should display "Monday", Instead of last Monday

### 3. What did you see instea

[2021-02-18 14:20] z5614036 opened #22793 "Has TerarkDB made by bytedance been tested to replace rocksdb? I don’t know if it can increase the write performance"
Has TerarkDB made by bytedance been tested to replace rocksdb? I don’t know if it can increase the write performance

[2021-02-18 14:24] alex-quan-001 opened #22794 ""show table ** regions;" ERROR 1105 (HY000): json: cannot unmarshal number 18446744073709354954 into Go struct field RegionInfo.written_bytes of type int64"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
During the data import process, i used "show table ** regions;" comand.

### 2. What did you expect to see? (Required)
Return normal value

### 3. What did you see instead (Required)
It return "ERROR 1105 (HY000): json: cannot unmarshal number 18446744073709354954 into Go st

[2021-02-18 14:30] alex-quan-001 opened #22795 "TiKV crashed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
use mysql client tool load data

### 2. What did you expect to see? (Required)
TiKV crashed

### 3. What did you see instead (Required)
Seven tikv one of the tivk process crashed. The log is as follows:
![image](https://user-images.githubusercontent.com/77444503/108371955-41

[2021-02-18 14:43] alex-quan-001 opened #22796 "API Security Defects, All access should be authorized, includes monitoring and internal communication"
## Bug Report

### 1. Minimal reproduce step (Required)
curl http://hostip:2379/pd/api/v1/regions

### 2. What did you expect to see? (Required)
Only authorized to access data, use password or other encryption methods
All access should be authorized, includes monitoring and internal communication

### 3. What did you see instead (Required)
Return data directly

### 4. What is your TiDB version? (R

[2021-02-18 14:51] alex-quan-001 opened #22797 "How to add second disk for TiKV"
## General Question

I have two SSD disk, how to config it to use the second SSD disk.
Currently the documentation only provides the way to raid, but my first fast disk is almost full, how to expand the second disk up.
Here is a post about the same problem, but did not answer directly whether it is feasible
https://asktug.com/t/topic/34251

[2021-02-18 15:00] alex-quan-001 opened #22798 "doc columns limit confuse"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
create table abc(f1 int,.........f1018 int);

### 2. What did you expect to see? (Required)
like mysql's document,
https://dev.mysql.com/doc/refman/5.7/en/column-count-limit.html#column-count-limits
default configure has a limit of 1017 columns per table.

### 3. What did yo

[2021-02-18 21:21] Jack-Clark commented on #22767
@winoros, thanks for your response. After disabling `only_full_group_by` I agree that no error is thrown. With `only_full_group_by` disabled, I can also see that running:

```SELECT t0.c0 FROM t0 GROUP BY '泤';```

Returns the same results as:

```SELECT * FROM v0; ```

i.e. either returning a or 1. As I understand it, in MySQL and TiDB grouping by a literal value allows an arbitrary row to be retu

[2021-02-19 01:48] bb7133 commented on #22798
PTAL @zimulala

[2021-02-19 01:53] bb7133 commented on #22798
And we also need to update the docs for `table-column-count-limit`: https://github.com/pingcap/tidb/pull/21612

[2021-02-19 01:58] AilinKid commented on #22735
+1

[2021-02-19 02:01] tohghua commented on #22735
+2

[2021-02-19 02:47] wjhuang2016 opened #22799 "tikv_region_status doesn't handle partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
tiup playground

[code]

### 2. What did you expect to see? (Required)

tikv_region_status shows the correct result as `show table t regions`.

### 3. What did you see instead (Required)

wrong data.

### 4. What is your TiDB version? (Required)

master

[2021-02-19 02:47] wjhuang2016 opened #22800 "tikv_region_status doesn't handle partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
tiup playground

[code]

### 2. What did you expect to see? (Required)

tikv_region_status shows the correct result as `show table t regions`.

### 3. What did you see instead (Required)

wrong data.

### 4. What is your TiDB version? (Required)

master

[2021-02-19 02:49] #22800 closed

[2021-02-19 03:06] lysu opened #22801 "admin check table fail when clustered index contain column's prefix"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-19 03:09] djshow832 commented on #22799
Duplicate with https://github.com/pingcap/tidb/issues/22683

[2021-02-19 03:17] #22799 closed

[2021-02-19 03:19] lysu commented on #22801
it's not common usage, but user can define table like that....

[2021-02-19 03:27] skyzh commented on #22744
This is in fact a issue caused by casting json to string. Please refer to the bug-fix PR for details.

[2021-02-19 04:03] HunDunDM commented on #22794
direct cause: [pd: `/region` in the API may return a huge written_keys](https://github.com/tikv/pd/issues/3379)

[2021-02-19 05:13] xhebox opened #22806 "Global variables are not refreshed immediately in a new session"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

[code]

### 2. What did you expect to see? (Required)

If I see `select @@global.tidb_enable_alter_placement == 1`, then the command should execute successfully. In another word, the `sessionVars` of session should be updated.

### 3. What did you see instea

[2021-02-19 05:33] xhebox commented on #22806
a duplicated of #14531

[2021-02-19 05:33] #22806 closed

[2021-02-19 05:37] wjhuang2016 opened #22807 "index merge is not used as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
index merge is used.
### 3. What did you see instead (Required)
indexLookUp
### 4. What is your TiDB version? (Required)
master

[2021-02-19 05:37] xhebox commented on #22806
/label type/duplicate

[2021-02-19 06:02] xhebox opened #22808 "Need to fix the document, or evict the global variables cache immediately"
## Bug Report

refer to #14531 and #22806. While the behavior of this bug is expected, the documentation is problematic.

The description of this behavior is added by https://github.com/pingcap/docs-cn/pull/2208 and https://github.com/pingcap/docs/pull/1797, which describes that:

[code]

But the document is modified to the misleading one in https://github.com/pingcap/docs-cn/pull/4001 and https:/

[2021-02-19 06:10] c4pt0r opened #22809 "[Proposal] Trying io_uring on mysql wire protocol layer in tidb-server"
Since MySQL's wire protocol does not support Pipeline, it is a typical short-term request/response model, which results in a lot of syscalls to kernel in tidb-server. This problem is not obvious when tidb-server calls tikv via grpc, because grpc (using http2) handle batch and pipeline well, so the effect is not obvious, but the same means may have better effect when handling mysql network requests

[2021-02-19 06:27] lysu opened #22811 "prefixed column inside clustered index's TableScan only read prefix data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

start a cluster with tikv(not unistore)

[code]

run queries:

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-19 06:30] lysu commented on #22801
caused by https://github.com/pingcap/tidb/issues/22811

[2021-02-19 06:30] #22801 closed

[2021-02-19 06:38] xhebox commented on #22808
/label sig/infra

[2021-02-19 06:41] seiya-annie commented on #22306
/info

[2021-02-19 06:51] XuHuaiyu commented on #22744
fixed by https://github.com/pingcap/tidb/issues/22744

[2021-02-19 06:57] #22530 closed

[2021-02-19 07:04] #22744 closed

[2021-02-19 07:08] b41sh commented on #22791
MySQL don't support FLOAT(M,D) and DOUBLE(M,D) since 8.0.17
https://dev.mysql.com/doc/refman/8.0/en/floating-point-types.html
we ignored decimal in PR [21788](https://github.com/pingcap/tidb/pull/21788)

[2021-02-19 07:14] #22717 closed

[2021-02-19 07:31] #22700 closed

[2021-02-19 07:46] cfzjywxk commented on #22791
@b41sh Got, do we have related document to remind users about this incompatibily doing upgrade.

[2021-02-19 07:50] djshow832 commented on #22765
@morgo  I have some concerns:
- `AS OF SYSTEM TIME` always implies `exact` semantics, no matter what timestamp / interval / function it refers to. But in our `bounded` semantics, the timestamp is not necessary the exact start ts which the transaction uses.
- `follower_read_timestamp()` always returns `now - 4.8s`, where `4.8s` is configured in the cluster. In their `LAG_BY_CLUSTER_SETTING` policy,

[2021-02-19 08:01] zz-jason commented on #22750
it's an unsupported feature. it's better to treat it as a feature request.

[2021-02-19 08:06] zhaoxugang commented on #19940
I'm Interested in this issue, can you give me some advice? thanks @winoros

[2021-02-19 08:33] aytrack opened #22817 "'>= NULL' should not return the data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
the result is empty.
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-02-19 08:37] bb7133 commented on #22750
[code]

If we use the result of `SHOW CREATE VIEW`, error will be reported:

[code]

So it's about rewritten of the SQL when creating the view.

[2021-02-19 08:39] zimuxia commented on #22798
Fix it in pingcap/docs-cn#5542.

[2021-02-19 08:49] YiuTerran commented on #14486
Please watch `Multi-Valued Indexes` introduced by  MySQL 8.0.17, it's quite usefull.

Implementation of `member of` should be considered.

[2021-02-19 08:54] ChenPeng2013 opened #22818 "incorrect datetime value when comparing time with "23:22:22""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql  8.0.23
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-19 09:11] hykych commented on #11336
I encountered this problem also. after using go-ycsb testing tikv in raw mode. the tidb instances failed.

[2021-02-19 09:22] lzmhhh123 commented on #22817
Caused by #21099

[2021-02-19 09:25] cfzjywxk opened #22819 "ddl: truncate partition results in incorrect schema diff"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
It seems the schema diff is not applied properly for the `truncate` statement.
The result of `Builder.ApplyDiff` is an emptry array containing no related table ids, which is unexpected.

### 2. What did you expect to see? (Required)
Error is reported like schema has

[2021-02-19 09:26] AilinKid opened #22820 "ddl: drop not null will refuse to run when there is foreign key on it"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master
5.0.0-rc
4.0.x

[2021-02-19 09:26] AilinKid commented on #22820
mysql can run it without any error
[code]

[2021-02-19 09:37] AilinKid commented on #22820
Actually, although we do not support FK, for this case above, orders.user_id can be changed as NULL, it has nothing conflict with FK constraint.

Because for the latter insert into orders, the NULL value in the user_id field will skip the check with the foreign table.

[2021-02-19 09:38] xhebox commented on #22819
/unlabel sig/DDL

[2021-02-19 09:38] xhebox commented on #22819
/label sig/infra

[2021-02-19 09:44] bb7133 commented on #22750
![image](https://user-images.githubusercontent.com/1174042/108487204-f7745c80-72d9-11eb-8886-8da0e5704f08.png)

It's weird that the unexpected parentheses are generated, which I believe is the cause of this issue.

[2021-02-19 11:01] b41sh commented on #22791
@cfzjywxk  This is recently modified, the document should not have been modified yet.

[2021-02-19 11:18] johan-j commented on #22791
There is still issues with float type.
To reproduce:
create table t(a float);
insert into t( -34028236.66);

mysql8:
[code]

[2021-02-19 11:27] johan-j commented on #22791
The bug in string representation of floats seem to be because mysql has their own implementation of it as explained here. https://dev.mysql.com/doc/dev/mysql-server/latest/dtoa_8cc.html#ad70328b1022e48cb98875d3dae4a6f32

maybe to resolve these number display bugs, we need to implement the same custom float to string converter? how do you think?

[2021-02-19 11:59] zoujia-cm commented on #22735
fundamentally agree with you

[2021-02-19 12:04] Tjianke opened #22827 "bulitin cast returned wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-02-19 12:12] Thearas opened #22828 "runtime error: index out of range [-1]"
## Bug Report

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
No panic.

### 3. What did you see instead (Required)
Panic:
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-02-19 12:14] bb7133 commented on #22750
[code]
This is the SQL rewritten by TiDB, it can be executed by v4.0, but failed in v5.0 & MySQL.

[2021-02-19 13:34] morgo commented on #22765
Thanks for the detailed reply :-) On this point:

It comes from System-versioned temporal tables (which MySQL does not support, but [MariaDB does](https://mariadb.com/kb/en/system-versioned-tables/)). There is an [article here](https://docs.microsoft.com/en-us/sql/relational-databases/tables/temporal-tables?view=sql-server-ver15) for SQL Server which says it is from ANSI SQL 2011.

[2021-02-19 14:07] zhangjinpeng1987 commented on #22797
One TiKV instance only can use one data-dir.

[2021-02-19 14:51] BusyJay commented on #22795
Can you also provide all (or 1000 lines of) logs before panicking?

[2021-02-19 14:58] bb7133 commented on #22794
The `RegionInfo` in PD uses `uint64` for `WrittenKeys`: https://github.com/tikv/pd/blob/master/server/api/region.go#L53

However the `RegionInfo` in TiDB uses `int64`: https://github.com/pingcap/tidb/blob/master/store/helper/helper.go#L454

Which caused the 'overflow' error.

[2021-02-19 15:19] BusyJay commented on #22795
Known issue: https://github.com/tikv/tikv/issues/8783.

[2021-02-19 17:15] vvdvortsova opened #22831 "Issues found by Svace static analyzer"
## Development Task
builtin_string.go:325
[code]

builtin_string.go:3710
[code]

cache.go:234
[code]

[2021-02-20 00:48] zz-jason commented on #22831
@XuHuaiyu PTAL

[2021-02-20 00:50] zz-jason commented on #22796
@bb7133 could you take a look?

[2021-02-20 01:18] bb7133 commented on #22735
Sure @zoujia-cm , I will close this issue for now.

Thanks for pointing out it! BTW you can join our [Slack channel](https://slack.tidb.io/invite?team=tidb-community&channel=sig-sql-infra&ref=pingcap-community) for the discussions of related bugfixes/improvements of TiDB.

[2021-02-20 01:18] #22735 closed

[2021-02-20 02:02] TisonKun opened #22835 "master `make` failed when fetch go mod"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run `make` under project root path

### 2. What did you expect to see? (Required)

successfully build tidb-server

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master 381ac81f2df09093096c0bda4ba2c9118b759488

[code]

[2021-02-20 02:29] cfzjywxk opened #22837 "txn: make the unique key lock behaviour consistent for all executors"
## Development Task

After https://github.com/pingcap/tidb/pull/21483, we'll try to lock all the related unique keys for pessimistic transactions if the executor is `pointGet` or `batchPointGet`. For other coprocessor related executors, we should also implement this for them, and make the lock behaviours consistent.
Tasks are:
- Try to lock all unique keys for existing data for all executors, make

[2021-02-20 03:10] ChenPeng2013 opened #22839 "wrong result in statement "bit(1) in (0x30)""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql 8.0.23
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-20 03:15] xiongjiwei commented on #22750
a minimum reproduce sql
[code]

it is invalid in both `tidb5.0` and `MySQL8.0`.  `MySQL5.6` works well

please refer to https://github.com/pingcap/parser/issues/1127

the best way to fix this issue is to fix the SQL rewritten by TiDB

[2021-02-20 05:31] winoros commented on #19940
@zhaoxugang Sure, i'll give some reference today.

[2021-02-20 06:15] XuHuaiyu commented on #22827
Why is this a bug?
MySQL 5.7 also returns 0

[2021-02-20 06:21] aytrack opened #22843 "Wrong result of some date and time type in statement "not between null and null""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-02-20 06:43] #22817 closed

[2021-02-20 06:43] Tjianke commented on #22827
Thanks for pointing out, for `cast` tidb is compatible with mysql 5.7, the expected behaviour is from mysql 8.0.

[2021-02-20 07:51] #22827 closed

[2021-02-20 08:41] XuHuaiyu commented on #22843
/cc @guo-shaoge

[2021-02-20 08:42] XuHuaiyu commented on #22843
/assign @guo-shaoge

[2021-02-20 10:33] xhebox opened #22849 "Need more tests on DDL/transaction conflicts and parallel executions"
## Development Task

The bug of #22819 is fixed, though. We should have more tests about DDL/transaction conflicts in CI or somewhere. There is only `grep -r -H 8028 | wc -l == 6` tests about this error.

And `grep -r -H testControlParallelExecSQL | wc -l == 23` tests in `db_change_test.go` that executes different SQLs in parallel. `grep -r -H testParallelExec | wc -l == 17` tests that executes sa

[2021-02-20 10:35] xhebox commented on #22849
/label sig/infra

[2021-02-20 10:36] xhebox commented on #22695
/label sig/exec

[2021-02-20 10:36] xhebox commented on #22414
/label sig/infra

[2021-02-20 10:36] xhebox commented on #22695
/label sig/execution

[2021-02-20 10:50] Thearas opened #22850 "runtime error: index out of range [2] with length 1"
## Bug Report

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
No panic.

### 3. What did you see instead (Required)
Panic:
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-02-20 12:41] lysu opened #22851 "prefixed column clustered index's duplicate error message differ to mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-20 13:07] An-DJ opened #22852 "LogicalPlans that contain Window Function are ambiguous"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. add test case in `planner/cascades/transformation_rules_test.go`. The number of iterations can be greater than 100 :
[code]
2. execute `go test -check.f "testTransformationRuleSuite.TestWindowLogicalPlan"`  in path `planner/cascades`

### 2. What did you expect to see? (

[2021-02-21 03:45] zhaoxugang commented on #19940
OK, look forward to it!

[2021-02-22 02:26] morgo commented on #22145
This was fixed in https://github.com/pingcap/tidb/pull/22499

[2021-02-22 02:26] #22145 closed

[2021-02-22 02:47] qw4990 commented on #22850
Thanks for your feedback. I will fix it soon.

[2021-02-22 02:56] MyonKeminta commented on #22710
Ping, do you still have information that can be provided?

[2021-02-22 02:57] TisonKun commented on #22835
the root cause is related to https://github.com/pingcap/tidb-dashboard/pull/850

workaround with comment https://github.com/pingcap/tidb-dashboard/pull/850#issuecomment-781916927

[2021-02-22 02:59] morgo commented on #22388
I believe this is a duplicate of https://github.com/pingcap/tidb/issues/14241 -- both can be solved by escaping schema names.

[2021-02-22 03:00] morgo commented on #22592
Closing as a duplicate of https://github.com/pingcap/tidb/issues/982

Thanks!

[2021-02-22 03:00] #22592 closed

[2021-02-22 03:02] #22835 closed

[2021-02-22 03:03] TisonKun commented on #22835
I don't find a way to "Remove the 'type/bug' label". Is the reason I don't have related credit?

[2021-02-22 03:04] sticnarf commented on #22811
To my understanding, the `IndexScan` here means `TableScan` using the key only mode, and actually we cannot use the key only mode here?

[2021-02-22 03:06] #22828 closed

[2021-02-22 03:09] morgo commented on #22604
To confirm, there are two separate issues here:

1. TiDB does not implement precision for floating point values. This is documented at https://docs.pingcap.com/tidb/stable/mysql-compatibility#incompatibility-caused-by-deprecated-features (it is deprecated in MySQL, but not removed.) Because it will eventually be removed from MySQL, there are no current plans to implement this.

2. The default prec

[2021-02-22 03:09] #22604 closed

[2021-02-22 05:04] guo-shaoge commented on #22843
The result of 'e1 not between NULL and NULL' should be false.
But according to the source code of MySQL 5.6, datetime/timestamp/date type is exception.(Unclear why, maybe bug here?).

    Welcome to the MySQL monitor.  Commands end with ; or \g.
    Your MySQL connection id is 3
    Server version: 5.6.51 Source distribution

    mysql> select 1 from dual where cast('0000-01-01' as datetime) not b

[2021-02-22 06:09] guo-shaoge commented on #22843
MySQL team verified it's a bug. [here](https://bugs.mysql.com/bug.php?id=102681&thanks=4)

We can close this issue.

[2021-02-22 08:08] zz-jason commented on #22635
seems like this is a bug related to partition tables.

[2021-02-22 09:50] #22663 closed

[2021-02-22 15:04] cfzjywxk opened #22874 "txn: non autocommit mode transaction retry will get incorrect result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
- admin check table t will return success.
- correct row data written.

### 3. What did you see instead (Required)
- admin check table report error.
- incorrect row data written.

### 4. What is your TiDB version? (Requir

[2021-02-23 02:52] AilinKid commented on #22874
seems can't reproduce? any omitted detail?

[2021-02-23 03:07] guo-shaoge commented on #10806
Maybe we should fix it also in coprocessor. The filter is pushed to tikv.

    mysql> explain delete from t where a=10;
    +---------------------------+---------+-----------+---------------+--------------------------------+
    | id                        | estRows | task      | access object | operator info                  |
    +---------------------------+---------+-----------+---------------

[2021-02-23 04:55] mahjonp opened #22881 "02-18 Performance regression on TPCH multiple queries"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

By bisect, I found this performance regression was caused by https://github.com/pingcap/tidb/pull/22463

### 4. What is your TiDB version? (Required)

master fb84db123cad3f5996e712e8f7695ecfd27ac4de

[2021-02-23 04:56] #8841 closed

[2021-02-23 05:42] guo-shaoge commented on #14399
Simplified testcase:

    drop table t;
    create table t(col_double double);
    insert into t values(1);
    select * from t where  0 < (col_double + (-1 ^ 8));
    select 0 < (col_double + (-1 ^ 8)) from t;

MySQL 5.6 result:

    Server version: 5.6.51 Source distribution
    mysql> select * from t where  0 < (col_double + (-1 ^ 8));
    Empty set (0.00 sec)

    mysql> select 0 < (col_double

[2021-02-23 06:25] Miazzy opened #22887 "期待在Tidb的后续版本中加入存储过程"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

因为很多时候，确实使用了存储过程，但是要移植到Tidb的时候发现，居然不支持，如果想要完全移植，就得修改这部分调用存储过程的代码

[2021-02-23 07:59] qw4990 commented on #22635
I reproduced this bug on the table below:
[code]
but it's complex and still being investigated.

[2021-02-23 08:44] AilinKid commented on #22849
ParallelTest in TiDB unit test only tests the concurrent SQL execution in the single TiDB node. We should test DDL/Txn logic on multi-nodes.

[2021-02-23 08:51] xhebox commented on #22849
I actually added a unit test for that issue. It is reproducible with single node TiDB.

[2021-02-23 09:44] aytrack opened #22892 "the result of hash partition table for `not between x and x` is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-02-23 09:44] #22881 closed

[2021-02-23 10:03] ChenPeng2013 opened #22894 "empty result when query contains "in (v1, v2 .. )""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master 3edbab31dbb65e74bad61b398ee7644fabdd4b71 and release-5.0-rc  760c7d1e3033975ac13ca11d0e441433ccc6d17a

[2021-02-23 10:21] gangcheng1030 opened #22896 "SelectionExec.Next(): at least one more row is scanned."
## Bug Report

I discovered the bug by reading the source code, not by using it.

### 1. Description (Required)

tidb/executor/executor.go: SelectionExec.Next()

[code]

req.IsFull() is called before req.AppendRow(), so SelectionExec.Next() must iterate to the next row that is selected.
If there are 10, 000 rows between two selected rows, this will have a serious impact on performance.

### 2. Wha

[2021-02-23 10:29] jianzhiyao commented on #4989
https://github.com/pingcap/tidb/pull/22859 is ready

[2021-02-23 10:31] Tjianke opened #22897 "check_dev_2 failed on updating bindinfo"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

#22137 keeps on failing in `check_dev_2`, saying `update bindinfo failed`. [CI link](https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/75308/nodes/52/steps/61/log/?start=0)

### 2. What did you expect to see? (Required

[2021-02-23 10:49] aytrack opened #22898 "query range partition table got wrong result and TiDB panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
query successfully
[code]
### 3. What did you see instead (Required)
the results is incorrect and tidb panic
[code]
### 4. What is your TiDB version? (Required)

master d6a2b9a3 and 5.0-rc 760c7d1e

[2021-02-23 11:16] LittleFall opened #22899 "Can't push `CastTimeAsString` down to TiFlash"
## Bug Report
### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

push `substr` down to TiFlash like this
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

2020.02.23 tiup palyground nightly
[code]

[2021-02-23 11:23] LittleFall commented on #22899
/assign @LittleFall

[2021-02-23 12:38] cfzjywxk opened #22901 "Refactor of the transaction related structures and interfaces."
## Development Task

Currently, there are several problems in the transaction related pathes in tidb:
- There are serveral transaction activation interfaces , like `NewTxn, txn.Txn(true), initTxnWithStartTS`, what they do is to intialize a `tikvTxn` object and set related fields correctly. Then the txn related apis could be used by the planner or the executor. However, these interfaces have differ

[2021-02-23 19:15] cberescu commented on #22710
yes, sorry about that. You have added an archive with the log and manifest . Need to check the sst if any too sensitive data is present. Let me know if that one is absolutely required.

[https://www.dropbox.com/s/15jify1sb8796ic/tidb.zip?dl=0](url)

[2021-02-24 02:54] seiya-annie commented on #22874
/info

[2021-02-24 02:54] seiya-annie commented on #22874
/info

[2021-02-24 03:16] guo-shaoge commented on #22894
/assign @guo-shaoge

[2021-02-24 03:30] TszKitLo40 commented on #22898
/assign @TszKitLo40

[2021-02-24 03:34] cyliu0 commented on #22896
Is there any way users might trigger this?

[2021-02-24 04:13] lysu opened #22907 "Successive StoreNotMatch errors after add new store with tombstone store's IP"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

0. start a region with 3 store(s1, s2, s3), and s1 is leader
1. make s1 as tombstone
2. add new s4 with s3's ip and make s4 as region leader
3. invoke query to hit region leader

### 2. What did you expect to see? (Required)

some storeNotMatch and recover quickly

### 3. W

[2021-02-24 04:52] cyliu0 commented on #22897
It seems like that this case failed because of your PR. Would you please check whether this ones need to be modified?
[code]

[2021-02-24 05:14] Tjianke commented on #22897
Thanks for replying, I was flooded by 'fail' message in logs and failed to found out the failing test, maybe I should try to search for `FAIL: `instead. I'll change make related changes in PR.

[2021-02-24 05:14] #22897 closed

[2021-02-24 06:41] crazycs520 commented on #22898
@tiancaiamao PTAL

[2021-02-24 07:17] ichn-hu commented on #12967
for `bitOr, bitAnd: no inverse operation, cannot` I think you can use segment tree to calculate (as long as the operator is addictive, segment tree can always help), so it is not can not, but let's see if there is any volunteer who want to help implement this.

[2021-02-24 07:31] zhangysh1995 opened #22913 "Inconsistent converting `time` to `boolean`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]
### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-02-24 07:42] #15272 closed

[2021-02-24 08:02] MyonKeminta commented on #22710
The most likely cause of this kind of problem is corruption of the disk or fault in CPU, but it's hard to locate the actual problem. Though it's hard, we still need the SST file do to some investigation. Can you provide it? If it's not safe enough for you to paste the SST file on Github, we will need to consider communicating in other ways.

[2021-02-24 08:20] winoros commented on #19940
@zhaoxugang
Hi would please join our community slack channel and contact us in #sig-planner channel or directly dm me(Cui Yiding in workspace).

[2021-02-24 08:21] #22569 closed

[2021-02-24 08:25] TszKitLo40 commented on #12967
I want to implement this. But it seems that I need more background knowledge of this issue.

[2021-02-24 08:52] LittleFall opened #22917 "TiFlash report BadRequest when push timestamp down."
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-02-24 08:54] LittleFall commented on #22917
/severity moderate

[2021-02-24 08:54] LittleFall commented on #22917
/sig execution

[2021-02-24 08:56] LittleFall commented on #22917
/assign @LittleFall

[2021-02-24 09:10] #22819 closed

[2021-02-24 09:15] ichn-hu commented on #12967
Thanks for the quick reply, but I am currently refactoring the window funcion framework, which is about to be changed fundamentally, so I would suggest you to implement this later (after my refactorization).

I'll keep you informed for the process of the refactoring, and I'll let you know about the new design doc once it is ready to release.

Please expect to work on this after 3.12, which is the

[2021-02-24 09:16] TszKitLo40 commented on #12967
ok, I will wait for you further response.

[2021-02-24 09:40] LittleFall commented on #22917
/assign @windtalker

[2021-02-24 09:44] xuyifangreeneyes opened #22919 "Improve readability of auto-analyze log content"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Currently the log content of auto-analyze doesn't show the exact sql statement such as `[sql="analyze table test.t"]` but shows `[sql="analyze table %n.%n"]`, which gives less information.

<img width="1296" alt="Screen Shot 2021-02-24 at 5 02 27 PM" src="https://user-image

[2021-02-24 10:11] cberescu commented on #22710
Sure, here u have it, please just let me know when you downloaded it so i can remove the link.

Password of archive is my username on github

https://www.dropbox.com/s/kcl28hzlaxt5fti/040398.ZIP?dl=0

[2021-02-24 10:15] MyonKeminta commented on #22710
Ok. I've downloaded it.

[2021-02-24 10:18] Tjianke opened #22920 "overflow error in builtin multiply function"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master branch

[2021-02-24 10:54] #10903 closed

[2021-02-24 11:19] #22665 closed

[2021-02-24 12:18] #22807 closed

[2021-02-24 12:53] crazycs520 commented on #22894
related issue: https://github.com/pingcap/tidb/issues/22898 @tiancaiamao PTAL

[2021-02-24 13:33] ChenPeng2013 opened #22927 "tiflash and tikv have different results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[code]

[2021-02-25 02:42] #22843 closed

[2021-02-25 02:50] cyliu0 commented on #22927
Should this bug be transferred to tilfash?

[2021-02-25 02:56] guo-shaoge commented on #22894
Looks like it's a bug of partition prune.

    mysql> explain select * from IDT_RP2205 where col1 in (127,127);
    +-------------------------+----------+-----------+---------------------------------+------------------------------------+
    | id                      | estRows  | task      | access object                   | operator info                      |
    +-------------------------+-----

[2021-02-25 03:46] xhebox commented on #14770
@zimulala there is another loop that may benefit from etcd: https://github.com/pingcap/tidb/blob/fb3400763c3d4c10f575613a4a39fe912839b3e4/ddl/ddl.go#L542.

[2021-02-25 04:22] gangcheng1030 commented on #22896
[code]

I believe that req.IsFull() called before !e.selected[e.inputRow.Idx()] is more reasonable. In this way, at most one more row is scanned.

[2021-02-25 04:35] cyliu0 commented on #22896
Would you mind file a PR for this?

[2021-02-25 05:25] xiongjiwei commented on #22388
https://github.com/pingcap/tidb/blob/1970a917c175665c3510ea57a1ea1d417e34f4ee/util/parser/ast.go#L59

here is the problem, I think the `RestoreFlags` should include `RestoreNameBackQuotes`

PTAL @rebelice

[2021-02-25 05:30] breeswish commented on #14433
Is it also possible to provide a column, or a table, to map error types, so that DBAs can distinguish whether this error is a client mistake (like syntax errors), or an infra problem (like region unavailable)?

[2021-02-25 06:36] qw4990 opened #22934 "statistics: inaccurate modify-count/row-count after analyzing a table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
These two `show stats_meta` statements should have the same result.

### 3. What did you see instead (Required)
They have different results.

### 4. What is your TiDB version? (Required)

[code]
### 5. The Root cause of

[2021-02-25 08:42] XuHuaiyu opened #22941 "wrong result of `is null`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

4.0 branch: 8e683506235d2497f725c0bf23d9b0372e37905d
master branch: 745d20aa64395916060a8f716cdecf9cad9b6957
5.0 bra

[2021-02-25 09:10] Win-Man opened #22946 "Privileges check is different with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`mss@'%'` could execute SQL successfully in MySQL-8.0.19.
[code]

### 3. What did you see instead (Required)
TiDB return `ERROR 8121 (HY000): privilege check fail`, but execute successfully after `use db1`.
[code]

### 4

[2021-02-25 09:11] marsishandsome opened #22947 "admin check table with tiflash: Can't find a proper physical plan for this query"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-02-25 09:13] XuHuaiyu commented on #22941
According to the explain result, `bmp.mpid IS NULL` is rewritten to `0` wrongly.

[code]

[2021-02-25 09:20] LittleFall commented on #22947
can't reproduce in 4.0.10, I will try master.

[2021-02-25 09:37] wjhuang2016 commented on #22947
Why not reopen it?https://github.com/pingcap/tidb/issues/21784

[2021-02-25 09:40] marsishandsome commented on #22947
I can reproduce this bug now.

[2021-02-25 10:12] ChenPeng2013 opened #22949 "the result of prepare is different from that of direct query"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master 745d20aa64395916060a8f716cdecf9cad9b6957
release-5.0-rc  64994e96c38a2f963f684763a5ff7c5da701056b
release-4.0

[2021-02-25 11:25] xhebox opened #22950 "Do not report error for placement rules that has an non-exist partition ID"
## Development Task

It is a known issue. Placement rules are cached in memory, persisted in PD. `drop table` should drop placement rules attached to the table. But you may recover the table later and expect that placement rules will recover, too.

We solve that by delaying the deletion of placement rules, check #20575. But as we don't really drop the persisted rules in PD. TiDB will reload the de

[2021-02-25 11:26] xhebox commented on #22950
/assign

[2021-02-25 11:49] lilinghai opened #22952 "The value of last_plan_from_cache is not expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
set the `prepared-plan-cache` true
[code]

### 2. What did you expect to see? (Required)
1
### 3. What did you see instead (Required)
0
### 4. What is your TiDB version? (Required)
Release Version: v4.0.0-beta.2-2190-g5e832ed80
Edition: Community
Git Commit Hash: 5e832ed80a6

[2021-02-25 12:44] you06 opened #22954 "Incorrect datetime value failed binlog syncing"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

In a binlog cluster, execute the following transaction in upstream with amend transaction on.

[code]

### 2. What did you expect to see? (Required)

Drainer sync successfully and got the following result in downstream.

[code]

### 3. What did you see instead (Required)

D

[2021-02-25 12:48] jianzhiyao commented on #12705
/assign

[2021-02-25 15:17] #22941 closed

[2021-02-25 18:04] lysu opened #22960 "prefix column in secondary index in clustered index table maybe return wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

master

[2021-02-25 22:06] johan-j commented on #22791
/assign

[2021-02-26 02:02] xiongjiwei commented on #22946
/assign @xiongjiwei

[2021-02-26 02:36] ChenPeng2013 commented on #22927
It depends on the developer’s analysis

[2021-02-26 02:38] cyliu0 commented on #22954
Are we sure this is a tidb side issue? Or should we transfer this issue to [pingcap/tidb-binlog](https://github.com/pingcap/tidb-binlog)?

[2021-02-26 02:57] #22798 closed

[2021-02-26 03:18] cosven opened #22963 "TiKV panic when using "lightning tidb backend" to import 2T data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. deploy a tidb cluster with 3db/3pd/5kv
2. go-tpc generate csv
3. lightning import csv

### 2. What did you expect to see? (Required)

No panic.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

tikv
[code]

tidb
[code]

[2021-02-26 03:18] cosven commented on #22963
/severity major

[2021-02-26 03:22] cosven opened #22964 "One TiKV instance keeps OOM when using "lightning tidb backend" to import 2T data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. deploy a tidb cluster with 3db/3pd/5kv
2. go-tpc generate csv
3. lightning import csv with 'tidb backend'

### 2. What did you expect to see? (Required)

No OOM.

### 3. What did you see instead (Required)
One TiKV instance OOM again and again.
![image](https://user-imag

[2021-02-26 03:47] cosven commented on #22964
/severity critical

[2021-02-26 05:00] #22387 closed

[2021-02-26 05:00] #22389 closed

[2021-02-26 05:00] #22390 closed

[2021-02-26 05:00] #22442 closed

[2021-02-26 05:00] #22444 closed

[2021-02-26 05:00] #22445 closed

[2021-02-26 05:00] #22446 closed

[2021-02-26 05:00] #22447 closed

[2021-02-26 05:18] #22820 closed

[2021-02-26 05:20] guo-shaoge commented on #10806
This issue is fixed in [TiKV](https://github.com/tikv/tikv/pull/9710). Maybe we can close it.

[2021-02-26 05:21] nolouch opened #22969 "Make the time consuming of `split table` more stable"
## Development Task
Because we split and scatter are asynchronous. If there are many simultaneous split and scatter tasks, it is very likely that there will be a split from a scatter region, resulting in many 4 replicas regions, which will lead to the time-consuming of `split table` be unstable. We need to ensure that all regions that need to be broken up are split at once and then scatter at once

[2021-02-26 05:44] guo-shaoge commented on #22949
/assign @guo-shaoge

[2021-02-26 05:58] #19231 closed

[2021-02-26 06:48] seiya-annie commented on #22817
[["21099"," expression: adjust int constant when compare with year type (#21099)\n"," v5.0.0-rc",null],
["21283"," expression: adjust int constant when compare with year type (#21099) (#21283)\n"," v4.0.9",null]]

[2021-02-26 06:51] seiya-annie commented on #22819
[["20361"," ddl: update rule cache incrementally/pass arguments by ctxvars (#20361)\n"," v5.0.0-rc",null]]

[2021-02-26 06:54] #14241 closed

[2021-02-26 07:43] hicqu commented on #22963
Seems an empty list is not handled correctly. @lhy1024 PTAL thanks.

[2021-02-26 07:45] johan-j commented on #22791
Im working on this in https://github.com/pingcap/tidb/pull/22823

The issue I mention in the comment above:
[code]
Can be solved without solving the deprecated double(m,n)/float(m,n) compatibility issue mentioned in this issue.
So Im thinking if I should create a new issue for this instead, to track them separately?
So 2 issues:
- https://github.com/pingcap/tidb/issues/22791: query result for floa

[2021-02-26 07:58] you06 commented on #22954
The behavior is reasonable in TiDB, but it introduce a compatible issue of binlog with amend transaction. I think it's ok to transfer this issue to [pingcap/tidb-binlog](https://github.com/pingcap/tidb-binlog).

[2021-02-26 08:26] #22963 closed

[2021-02-26 08:28] LittleFall opened #22975 "[potential bug] The TiFlash batch-cop request contain duplicate region."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

It can't stably reproduce.

It used to occur in TiFlash Schrodinger/bank tests with random merge open.

### 2. What did you expect to see? (Required)

Test succeed.

### 3. What did you see instead (Required)

other error: [FLASH:Coprocessor:BadRequest] grpc::Status DB::Bat

[2021-02-26 08:28] LittleFall commented on #22975
/sig executor

[2021-02-26 08:29] LittleFall commented on #22975
/cc @lzmhhh123

[2021-02-26 08:30] LittleFall commented on #22975
/label sig-executor

[2021-02-26 11:28] zimulala opened #22979 "Make some linters really happy"
### Description

Currently, we use "golangci-lint" to execute some linters, but due to some reasons, the entire project code may not really pass some necessary linters.
This issue is for everyone to work together to pass some necessary linters for this project. The specific parameters that need to be supported are shown in the task list below.

### Related Information

* [golangci-lint](https://go

[2021-02-26 11:29] zimulala commented on #22979
Relate to #22754

[2021-02-26 11:35] zimulala commented on #22754
I added a more detailed issue(#22979) for everyone to cooperate in the development, which is a duplicate of this issue.

[2021-02-26 11:35] #22754 closed

[2021-02-26 11:47] jebter commented on #22964
/cc @zhangjinpeng1987 @innerr

[2021-02-26 15:20] Tjianke commented on #22979
I would like to try on errcheck part.

[2021-02-26 15:44] marsishandsome opened #22981 "cluster index bug"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

enable cluster index
[code]

select data (which is wrong)
[code]

disable cluster index
[code]

select data (which is correct)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version?

[2021-02-26 15:49] marsishandsome commented on #22981
duplicate https://github.com/pingcap/tidb/issues/22960

[2021-02-26 15:49] #22981 closed

[2021-02-26 18:36] nayuta-yanagisawa commented on #16062
/pick-up

[2021-02-27 12:15] disksing commented on #22979
I'll take `structcheck`.

[2021-02-27 12:16] Willendless commented on #22979
I'll try --enable=varcheck.

[2021-02-27 13:14] jianzhiyao commented on #12705
@morgo , Rows count of tables may be not updated in real time. Should i return affected rows got from table ``mysql.stats_meta``

[2021-02-28 04:15] lance6716 commented on #12705
could you explain how you are going to use `mysql.stats_meta`? seems the affected rows of DDL is number of databse/table this DDL changed

[2021-02-28 06:28] morgo commented on #12705
It doesn't actually return the actual row count. It just returns `1` for various DDL statements (or `0`).

[2021-02-28 08:25] jianzhiyao commented on #12705
Oooo, It is my misunderstanding！

[2021-02-28 10:51] nolouch opened #23013 "Make linter enable `unused`"
## Development Task
ref https://github.com/pingcap/tidb/issues/22979

check the package like:
[code]

pacakge tasklist:
- [ ] bindinfo
- [ ] config
- [x] ddl
- [ ] distsql
- [ ] domain
- [ ] errno
- [ ] executor
- [ ] expression
- [ ] infoschema
- [ ] kv
- [ ] lock
- [ ] meta
- [ ] metrics
- [ ] owner
- [ ] planner
- [ ] plugin
- [ ] privilege
- [x] server
- [ ] session
- [ ] sessionctx
- [ ] stat

[2021-02-28 10:59] nolouch commented on #22979
I create subtask about `unused`.  https://github.com/pingcap/tidb/issues/23013

[2021-03-01 02:42] cfzjywxk commented on #22874
For the master or the v5.0-rc branch, the retry logic is not changed so this issue will not be entouterd by now. However, it will entouer the activation issue metioned by @jackysp https://github.com/pingcap/tidb/pull/22875#issuecomment-783933713, we could open another issue.

[2021-03-01 02:44] cfzjywxk opened #23015 "txn: the activation does not work as expected for some cases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
As @jackysp  mentioned https://github.com/pingcap/tidb/pull/22875#issuecomment-783933713.

### 2. What did you expect to see? (Required)
The transaction should be activiated at the beginning of retry.

### 3. What did you see instead (Required)
It did not.

### 4. What is yo

[2021-03-01 03:13] cfzjywxk commented on #22874
Close this issue, for the master branch https://github.com/pingcap/tidb/issues/23015 is opened.

[2021-03-01 03:14] #22874 closed

[2021-03-01 03:30] zimulala commented on #22979
#22993 Only fix part of this issue.

[2021-03-01 03:34] #22811 closed

[2021-03-01 04:22] #20243 closed

[2021-03-01 04:28] zimulala opened #23017 "The upper limit of `tidb_ddl_reorg_worker_cnt` doesn't work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

It seems that we don't set the max value to `maxDDLReorgWorkerCoun`, we can see [code](https://github.com/pingcap/tidb/blob/master/sessionctx/variable/sysvar.go#L679).
And we can update [tidb_ddl_reorg_worker_cnt]( https://docs.pingcap.com/zh/tidb/stable/system-variables#tidb_ddl_reorg_worker_cnt ) too.

### 1. Min

[2021-03-01 05:08] MarsonShine opened #23018 "Playground bootstrapping failed when pd-v5.0.0-rc-linux-amd64.tar.gz"
## General Question

following [quickly start tep 3](https://docs.pingcap.com/zh/tidb/v5.0/quick-start-with-tidb#%E7%AC%AC%E4%B8%80%E7%A7%8D%E4%BD%BF%E7%94%A8-tiup-playground-%E5%BF%AB%E9%80%9F%E9%83%A8%E7%BD%B2%E6%9C%AC%E5%9C%B0%E6%B5%8B%E8%AF%95%E7%8E%AF%E5%A2%83)

when download complete，an error occurred:
`The component `pd` is not installed; downloading from repository.
download https://tiup-m

[2021-03-01 06:33] #22917 closed

[2021-03-01 06:33] TszKitLo40 commented on #23017
What's the `maxDDLReorgWorkerCount` should be set?

[2021-03-01 06:47] zhaoxugang commented on #19940
/pick-up

[2021-03-01 07:25] eurekaka opened #23021 "check `tidb_enable_extended_stats` in analyze and estimation"
## Development Task

We only checked `tidb_enable_extended_stats` in extended stats ops, we should check it in analyze and estimation as well, to totally disable this feature when its value is `off`.

[2021-03-01 08:28] AilinKid opened #23027 "ddl: select from view report error but creating it"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
CREATE BASE TABLE
[code]
CREATE VIEW
[code]
select * from v;

### 2. What did you expect to see? (Required)
Success With Empty Set

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master, 4.0.10

[2021-03-01 08:46] lilinghai opened #23030 "core.(*joinReOrderSolver).optimizeRecursive panic with the runtime error "index out of range [6] with length 6""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
download the [sqls](https://github.com/pingcap/tidb/files/6066079/1.txt)
[code]

### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1105 (HY000): runtime error: index out of range [4] with length 4
The tidb log is
[cod

[2021-03-01 09:02] TisonKun opened #23031 "flash: A pari of ExchangeReceiver / ExchangeSender has difference schema on the same column"
## Bug Report

Related to https://github.com/pingcap/tics/issues/1500 & https://github.com/pingcap/tics/issues/1492

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

with RELWITHDEBINFO build

[code]

with TiFlash DEBUG build

[code]

### 4. What is your TiDB version? (Required)

tidb = 03109adaadcb

[2021-03-01 09:07] aytrack opened #23032 "inner join result is incorrect when new collation is enable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. set `new_collations_enabled_on_first_bootstrap = true`
2. execute the sqls.
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)
master 550ca8ea

[2021-03-01 09:28] eurekaka opened #23033 "support `SHOW STATS_EXTENDED` to inspect extended stats cache"
## Development Task

We have a cache layer for extended stats in `mysql.stats_extended`, we need a `SHOW STATS_EXTENDED` SQL interface to inspect the cache contents, and improve the readability.

[2021-03-01 09:39] overvenus commented on #22964
What's your lightning version?

[2021-03-01 09:42] aytrack opened #23035 ""INL_JOIN" hint got wrong result while new collation is enabled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. set `new_collations_enabled_on_first_bootstrap = true`
2. execute the sqls.
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master 550ca8ea

[2021-03-01 09:44] lilinghai opened #23036 "The expression of "case when" on clustered_index table get wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
Empty set
### 4. What is your TiDB version? (Required)
Release Version: v4.0.0-beta.2-2215-g6bd6df7d1
Edition: Community
Git Commit Hash: 6bd6df7d1ec0b0a2056a5d40aca8261c5

[2021-03-01 09:51] time-and-fate opened #23037 "Does handles need read from table worker if index lookup doesn't require keep order?"
## Development Task

### tldr

Only read handle column(s) when index lookup requires to keep order => will possibly fail to log missing handles if inconsistency between index and data happened. (just from code logic, haven't verified yet)

Read handle column(s) even when index lookup doesn't require to keep order => sometimes unneeded columns will be read.

Our current implementation is the first

[2021-03-01 09:54] harveyor commented on #23027
select * from v;

expect to see：
         Success With Empty Set

see instead：
       ERROR 1105 (HY000): line 1 column 61 near "_UTF8',') AS `st_code`,GROUP_CONCAT(`c`.`st_name` SEPARATOR _UTF8',') AS `st_name` FROM `ryl`.`c_st_tab` AS `c` GROUP BY `c`.`bj_id`"

[2021-03-01 09:56] zz-jason commented on #23035
@aytrack I think the severity should be critical.

[2021-03-01 10:23] TisonKun commented on #23031
can be possibly resolved by https://github.com/pingcap/tidb/pull/22845

[2021-03-01 10:25] ChenPeng2013 opened #23038 "wrong result of "left join where year != null""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql 8.0.23
[code]
### 3. What did you see instead (Required)
master
[code]

release-4.0 and release-5.0-rc
[code]
### 4. What is your TiDB version? (Required)

master dc9ceb4bba96608de2aa5ac906e9ad003fa8a46c
release-5.

[2021-03-01 12:48] #22960 closed

[2021-03-01 14:35] xuyifangreeneyes commented on #23030
It seems that there is no statement that creates `view_8` or `view_10` in 1.txt.

[2021-03-01 15:02] cosven commented on #22964
v5.0.0-rc.

[2021-03-01 15:52] liusf1993 commented on #15082
Is there a fix schedule for the bug? There are some performane issue in my project becuase of this case (currently is in test for tidb), I'll have to modify  my business code if too long.

[2021-03-01 21:43] morgo commented on #22230
@zhouqiang-cl I spent a little bit too much time looking at this, but it is not a bug :-)

The error message shows:

So it looks like your `wait_timeout` (or `interactive_timeout` as it applies to sessions with the interactive bit set) has been set to only 1 second. I can reproduce it on my side with a 1 or 2 second timeout and deliberately pausing after creating a connection:

[code]

[2021-03-02 01:45] XuHuaiyu commented on #22896
I change the label from `bug` to `enhancement`

[2021-03-02 01:46] #17008 closed

[2021-03-02 02:15] guo-shaoge commented on #23038
filter: looks like ne(test.t.col1, 0) is wrong. In my option, "col1 != NULL" should always be false.(!= is **not null safe**)

    mysql> explain select * from t as t1 left join t as t2 on t1.col1 = t2.col1 where t1.col1 != NULL;
    +------------------------------+---------+-----------+---------------+-------------------------------------------------------+
    | id                           | es

[2021-03-02 02:56] #22851 closed

[2021-03-02 03:43] lilinghai commented on #23030
Sorry , The sqls uploaded is wrong. I will fix it.

[2021-03-02 06:18] wjhuang2016 commented on #23035
Duplicate with https://github.com/pingcap/tidb/issues/23032

[2021-03-02 06:18] #23035 closed

[2021-03-02 06:23] cosven commented on #22964
It can be reproduced with following steps:

1. start a cluster with nightly or release-5.0-nightly
2. insert data into tidb with `go-tpc -H xxx -P 3306 -D tpcc tpcc prepare -T 16 --warehouses 30000`
3. after several minutes
4. one of the five tikv server keeps OOM

[2021-03-02 07:07] esakarya commented on #10250
I tested on two servers with all the same features and institutions. The same product category and product detail query times are below. there is a noticeable difference. I imported the same database from mysql to tidb.

**Product Categories**
TiDB
Queries total time: 0.40799 s.
MariaDB
Queries total time: 0.01673 s.

**Product Detail**
MariaDB
Queries total time: 0.02648 s.
TiDB
Queries total tim

[2021-03-02 07:21] eurekaka opened #23048 "report error if user registers extended statistics for a partitioned table temporarily"
## Development Task

Do not support extended statistics for partitioned table at least for now, we can discuss the behaviors later when global statistics for partitioned table has been finished. Report error when user tries to register extended statistics for a partitioned table.

[2021-03-02 07:44] LittleFall commented on #22947
We can't reproduce this bug now(in master and release 4.0), PTAL @ichn-hu

[2021-03-02 10:15] aytrack opened #23051 "Internal : Can't find a proper physical plan for this query"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master 550ca8eae
5.0-rc f41ca49fab41

[2021-03-02 11:37] wjhuang2016 opened #23053 "wrong fast plan for set or enum"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

4.0, master

[2021-03-02 11:57] vvdvortsova opened #23054 "Issue found by Svace static analyzer (race conditon)"
## Development Task
Hello
This warning found with the Svace.
Here, defer func() calls inside the loop don’t get executed until the func recordProfile() ends.
defer func() calls inside the loop don’t get executed when each step of for loop ends.
All defer calls here will eat up the func’s stack and may cause unforeseen problems.

https://github.com/pingcap/tidb/blob/6bb16e55ff038bf439fc7c3f22c9401e

[2021-03-02 14:30] #22721 closed

[2021-03-02 16:47] nayuta-yanagisawa commented on #18053
/pick-up

[2021-03-02 18:54] #23021 closed

[2021-03-03 02:52] yilongrong opened #23058 "Index lookup cannot push down the limit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE `retry_queue` (
`id` int(11) NOT NULL AUTO_INCREMENT,
`created_at` datetime DEFAULT CURRENT_TIMESTAMP,
`deleted_at` datetime DEFAULT NULL,
`updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
`request_id` varchar(255) COLLATE utf8mb4_general_ci DEFAU

[2021-03-03 03:05] zhouqiang-cl commented on #22230
Got it, thank you @morgo

[2021-03-03 03:05] #22230 closed

[2021-03-03 03:56] PragmaTwice opened #23059 "TiDB reported out-of-range error while `tidb_analyze_version = 2`"
## Bug Report

### 1. Minimal reproduce step (Required)
1. set up a TiDB server.
2. assume `TIDB` as its ip address, run shell commands below
[code]

### 2. What did you expect to see? (Required)
No error from tidb.
### 3. What did you see instead (Required)
TiDB reported a runtime error as below:
[code]
details:
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-03 05:27] Thearas opened #23060 "runtime error: index out of range [18446744073709551615] with length 2"
## Bug Report

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
No panic.

### 3. What did you see instead (Required)
Client output:
[code]
TiDB log:
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-03-03 06:15] #22396 closed

[2021-03-03 06:40] zimulala commented on #23017
The `maxDDLReorgWorkerCount` is 128, but we don't use it. So now we can set `tidb_ddl_reorg_worker_cnt` more then `maxDDLReorgWorkerCount`.

[2021-03-03 06:56] lysu opened #23063 "unexpected duplicate error when replace into clustered primary key with prefix column with default value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

two replace successed

### 3. What did you see instead (Required)

last replace failed with

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-03-03 07:00] eurekaka opened #23065 "delete extended stats cache item in current tidb synchronously for `alter table drop stats_extended`"
## Development Task

Currently, `alter table drop stats_extended` would only update records in `mysql.stats_extended`, and the stats cache item is removed in the next `Update()` routine, so the removal is in an async style. This behavior is kind of counter-intuitive, we'd better make the removal on current tidb synchronously.

[2021-03-03 07:12] #22683 closed

[2021-03-03 07:28] lysu commented on #23063
insert on duplicate also have same problem

[code]

[2021-03-03 07:34] fzhedu opened #23068 "planner: expression rewriter panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

mysql -h 172.16.5.85 -P 52324 -u root -D subquery100
tiup cluster nightly of 2021-2-25

[code]

### 2. What did you expect to see? (Required)
run ok

### 3. What did you see instead (Required)
ERROR 1105 (HY000): runtime error: index out of range [2] with length 1
[code]
##

[2021-03-03 07:48] lysu opened #23069 "unexpected column value after insert on duplicate update on prefix column clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`col_17`  should be `HlZjQffSh`

### 3. What did you see instead (Required)

it be `HlZjQf`

### 4. What is your TiDB version? (Required)

[code]

[2021-03-03 08:12] knull-cn commented on #22979
I'll take `--enable=unused`

[2021-03-03 08:18] zyguan opened #23073 "Unexpected select results when using index join with prefixed clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master (602bcd2e40c6c8bcc0eabda38d3097f42b22fbd4)

[2021-03-03 08:22] #22894 closed

[2021-03-03 08:35] zyguan opened #23076 "Unexpected results when applying table reader with clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master (602bcd2e40c6c8bcc0eabda38d3097f42b22fbd4)

[2021-03-03 08:47] guo-shaoge opened #23077 "wrong index range for column of year type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    use test;
    drop table if exists gjttbl;
    CREATE TABLE `gjttbl` (
        `gjtc1` year(4) DEFAULT NULL COMMENT 'DATE AND TIME',
        `gjtc2` varchar(20) DEFAULT NULL,
        KEY (`gjtc1`)
        );
    insert into gjttbl values(1, "1");
    insert into gjttbl

[2021-03-03 08:47] guo-shaoge commented on #23077
/assign @guo-shaoge

[2021-03-03 09:04] lysu commented on #23069
[code]

[2021-03-03 09:21] hicqu commented on #22964
With jeprof we get an allocation map: [a.svg.zip](https://github.com/pingcap/tidb/files/6074815/a.svg.zip).

We can see that besides 4GB block cache, about 5GB memory is allocated in `fetch_entries_to` and its inner calls. I guess those entries are stored in `EntryCache`.

In this case there are about 40k entries per TiKV instance, so `EntryCache` is the mainly reason to trigger OOM killer besides

[2021-03-03 09:34] lysu commented on #23069
[code]

[2021-03-03 09:44] guo-shaoge commented on #23077
will fix here https://github.com/pingcap/tidb/pull/23079

[2021-03-03 09:44] #23077 closed

[2021-03-03 09:45] zyguan opened #23080 "Data & index become inconsistent after inserts"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error reported by `admin check`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master (602bcd2e40c6c8bcc0eabda38d3097f42b22fbd4)

[2021-03-03 10:44] lysu commented on #23080
maybe duplicate with https://github.com/pingcap/tidb/issues/23069

[2021-03-03 10:45] #23080 closed

[2021-03-03 11:02] jianzhiyao commented on #13459
/assign

[2021-03-03 12:06] #23033 closed

[2021-03-03 13:16] #19942 closed

[2021-03-03 14:04] #23032 closed

[2021-03-03 14:09] An-DJ commented on #22979
I'll take `--enable=deadcode`.

[2021-03-03 14:52] breeswish commented on #22635
We have experienced this error as well when using TiDB Dashboard in TiDB 5.0 in cloud environment:

![image](https://user-images.githubusercontent.com/1916485/109823666-1af0bd00-7c73-11eb-82ce-5ce4e3f4fb6f.png)

And it disappears when page is refreshed.

[2021-03-04 02:15] MarsonShine commented on #23018
close

[2021-03-04 02:15] #23018 closed

[2021-03-04 03:03] zmou opened #23095 "Executor: buildAnalyzeColumnsPushdown reports error in L2048"
Link：https://github.com/pingcap/tidb/blob/master/executor/builder.go
Line：2048
Error msg：Unresolved reference 'PrimaryPrefixColumnIds'

[2021-03-04 03:10] #23059 closed

[2021-03-04 03:12] nolouch commented on #22765
relative https://github.com/pingcap/tidb/issues/18672

[2021-03-04 03:20] morgo commented on #22765
See also: https://github.com/pingcap/tidb/issues/22658

[2021-03-04 03:31] guo-shaoge commented on #23036
root cause: CaseWhen expr's ret type got the NotNullFlag, which is unexpected. So when rewrite IsNULL expression, the rewriter return 0 directly because CaseWhen expr got the NotNullFlag.

[2021-03-04 03:50] #19127 closed

[2021-03-04 06:01] xiongjiwei commented on #23027
this bug has been fixed by https://github.com/pingcap/tidb/pull/23083. I will close it

[2021-03-04 06:01] xiongjiwei commented on #23027
/close

[2021-03-04 06:01] #23027 closed

[2021-03-04 06:10] leiysky opened #23098 "Behavior of WHERE is different between TiDB and MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
In MySQL 5.7:
[code]

### 3. What did you see instead (Required)
See section 1.

### 4. What is your TiDB version? (Required)

[code]

[2021-03-04 06:24] wjhuang2016 commented on #23098
MySQL 8.0.22:

[code]

[2021-03-04 06:42] #22642 closed

[2021-03-04 06:47] wjhuang2016 commented on #20776
It happens again.
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/66651/pipeline

[2021-03-04 06:53] AilinKid commented on #23058
/cc @wshwsh12

[2021-03-04 06:53] LittleFall opened #23100 "Show the casted type of `cast` in `explain`/`explain analyze` result in cop task."
## Feature Request

**Describe the feature you'd like:**
Show the casted type of `cast` in explain result.

This is an explain result:
[code]

I want to know what type `test.t.a` is converted into from the `explain` result, like `cast(test.t.a, Duration)`.

[2021-03-04 06:54] LittleFall commented on #23100
/label sig-planner

[2021-03-04 06:54] LittleFall commented on #23100
/label good-first-issue

[2021-03-04 07:11] LittleFall commented on #23100
seems https://github.com/pingcap/tidb/pull/14942 has already done part of this.

[2021-03-04 07:24] tisonkun opened #23101 "SQL_MODE NO_ZERO_IN_DATE is not respected"
## Bug Report

### 1. Minimal reproduce step (Required)

[reproduce.sql.txt](https://github.com/pingcap/tidb/files/6081575/reproduce.sql.txt)

### 2. What did you expect to see? (Required)

mysql produces results without zero_in_date rows, such as 2022-00-23 00:00:00

### 3. What did you see instead (Required)

tidb produces results with zero_in_date rows, such as 2022-00-23 00:00:00, even if set

[2021-03-04 07:27] leiysky commented on #23098
![image](https://user-images.githubusercontent.com/22445410/109926301-c9d9db00-7cfd-11eb-9727-317153f67d8f.png)

Verified as above, with default configuration and session variables, MySQL 5.7 and MySQL 8.0 have different behavior.

[2021-03-04 07:34] #23076 closed

[2021-03-04 07:50] #23048 closed

[2021-03-04 08:04] #23038 closed

[2021-03-04 08:10] tangenta opened #23106 "Adding unique index on duplicate rows hangs (clustered_index + new collation)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Remove old data. For example,
[code]

**Note that the clustered index is enabled.**

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

Error message: "number of columns in two handle is different"

[code]

###

[2021-03-04 08:18] eurekaka opened #23107 "make repetitive add / drop extended statistics work"
## Development Task

[code]

We cannot add extended statistics with same name if old record has not been removed from the table by GC.

[2021-03-04 08:40] ChenPeng2013 opened #23110 "max_execution_time is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql 8.0.21
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master               v4.0.0-beta.2-2274-gdb62e341f
release-5.0-rc  v5.0.0-rc-21-g8304d661f
release-4.0

[2021-03-04 09:12] ChenPeng2013 opened #23112 "use_index_merge return wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master v4.0.0-beta.2-2274-gdb62e341f
release-5.0-rc v5.0.0-rc-21-g8304d661f
release-4.0 v4.0.11-10-g38f9bdd81

[2021-03-04 09:20] eurekaka commented on #23112
QA verified that the problem was introduced in 4.0.9.

[2021-03-04 09:32] xiongjiwei commented on #22703
can this issue be closed?

[2021-03-04 09:46] hicqu commented on #22964
It's not true that `Entry`s are staging in `EntryCache`, because with `a.svg.zip` we can know that those entries are created in `gen_light_ready`, which means thay are committed entries. Committed entries won't be put into `EntryCache` again, they can only be sent to apply workers's input channel.

The relation code is
[code]

I have add some logs to check whether the batch is too large or not, bu

[2021-03-04 09:58] wjhuang2016 commented on #23112
Introduced by https://github.com/pingcap/tidb/pull/20425

[2021-03-04 09:59] dyzsr opened #23114 "Incompatible with MySQL when using expressions returning enum as WHERE conditions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL 8.0.22

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

### 5. Root cause analysis

The eval type of `if(e>1, e, e)` is evaluated as `ETString`. En

[2021-03-04 10:04] ChenPeng2013 opened #23116 "invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master v4.0.0-beta.2-2274-gdb62e341f

[2021-03-04 10:09] hicqu commented on #22964
I suggest to merge and introduce this feature to 5.0 to avoid the OOM: https://github.com/tikv/raft-rs/pull/356.

[2021-03-04 10:19] dyzsr commented on #23114
/sig execution
/component expression

[2021-03-04 10:50] cosven commented on #22703
Has this problem been fixed?

[2021-03-04 12:02] LittleFall commented on #23100
@assign TszKitLo40

[2021-03-04 12:02] LittleFall commented on #23100
/assign @TszKitLo40

[2021-03-04 12:03] TszKitLo40 commented on #23100
/assign

[2021-03-04 12:04] LittleFall commented on #23100
/sig planner

[2021-03-04 12:58] #22612 closed

[2021-03-04 15:44] aytrack opened #23125 "prepare for select got the wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master febac515b136
5.0-rc 8304d661f3ba

[2021-03-05 00:48] assmdx opened #23126 "tiup cluster deploy example 4.0.0 ./topo.yaml --user root -p Failed"
OS: CentOs 7.9

topo.yml:

[code]

run command:
[code]

got:
![image](https://user-images.githubusercontent.com/19722693/110050776-9a73ae80-7d8f-11eb-914a-f0162cf04cdf.png)

[2021-03-05 01:53] XuHuaiyu commented on #23060
/cc guo-shaoge

[2021-03-05 01:54] XuHuaiyu commented on #23060
/cc @guo-shaoge

[2021-03-05 02:04] XuHuaiyu commented on #23060
/assign @guo-shaoge

[2021-03-05 02:20] tangenta commented on #23106
This bug is found by reading the source code of the function `tablecodec.DecodeIndexKV`.
[code]
The root cause is that the assumption of the argument `columns` is changed after https://github.com/pingcap/tidb/pull/20220: it should consist of index columns **plus common handle columns**. However, the usages of this function are not updated.

More test case:
[code]
[code]

[2021-03-05 02:21] guo-shaoge commented on #23060
/assign @guo-shaoge

[2021-03-05 02:38] AilinKid commented on #23060
/assign @guo-shaoge

[2021-03-05 02:44] xiongjiwei opened #23127 "show grants does not get all the grants"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[2021-03-05 02:44] xiongjiwei commented on #23127
/assign @xiongjiwei

[2021-03-05 03:44] guo-shaoge opened #23129 "group_concat panic when @@group_concat_max_limit is small"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table s;
    create table s(a varchar(10));
    insert into s values("0123456789");
    insert into s values("12345");
    set @@group_concat_max_len=8;
    select group_concat(a order by a) from s group by a;
### 2. What did you expect to see? (Required)
    mysql

[2021-03-05 03:44] guo-shaoge commented on #23129
/assign @guo-shaoge

[2021-03-05 07:10] jianzhiyao commented on #23116
/assign