[2020-11-21 13:07] #11327 closed

[2020-11-22 04:50] jackysp commented on #21151
I think `refreshForUpdateTSForRC` is reentrant. `IndexMergeReader` is also a basic reader and has exceeded my expectations.

[2020-11-22 05:33] LENSHOOD commented on #20662
/pick-up

[2020-11-22 09:06] zz-jason opened #21186 "Leverage Apache Arrow to boost performance and embrace warehouse/big data ecosystems"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB adopts a vectorized execution engine method to improve query performance. Data is organized in a columnar data structure called [`Chunk`](https://github.com/pingcap/tidb/blob/master/util/chunk/chunk.go#L32), which is a columnar layout like Arrow.

The problems for us are: We have to maintain `Chunk` oursel

[2020-11-22 10:20] blacktear23 commented on #21177
is this happened  on a heavy load server?

[2020-11-22 10:29] blacktear23 commented on #21177
https://github.com/pingcap/tidb/blob/master/store/tikv/coprocessor.go#L1451 seems we also need to check e.cond.enabled

[2020-11-22 16:31] zz-jason commented on #21186
related to https://github.com/pingcap/tidb/issues/21056

[2020-11-22 16:41] zz-jason opened #21191 "leverage fgprof for better performance profiling"
## Development Task

https://github.com/felixge/fgprof is a wanderful tool which can do both On-CPU and Off-CPU profiling, as it said:

Let's have a try.

[2020-11-22 16:41] zz-jason commented on #21191
@bobotu would you like to take a look?

[2020-11-23 02:00] asiafrank commented on #19021
/pick-up

[2020-11-23 02:25] ChenPeng2013 commented on #21177
No, it's just a very simple case

[2020-11-23 02:26] jimmyjan0824 opened #21193 "Timezone parameter set (ex: UTC) when building up TiDB Cluster via TiUP tool (topology.yaml)"
## Feature Request

**Is your feature request related to a problem? Please describe:**
MySQL can set default timezone in my.cnf configuration file; however, TiDB does not have related timezone parameter which can be set in topology.yaml when using TiUP tool to build up cluster.

If the machine default is UTC+8, it's easy to forget to set the timezone after setup.

MySQL configuration parameter is

[2020-11-23 02:35] xiongjiwei opened #21194 "the collation_connection incorrect when mysql client connect tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
set new collation is enabled
use MySQL client connect tidb

[code]

### 2. What did you expect to see? (Required)

according to tidb document, the `collation_connection` variable should be `utf8mb4_bin`

### 3. What did you see instead (Required)

`utf8mb4_0900_ai_ci`

### 4

[2020-11-23 02:42] blacktear23 commented on #21177
@ChenPeng2013 cloud you post a reproduce steps?

[2020-11-23 03:03] lzmhhh123 commented on #20874
Hi, clustered index related issues should be maintained the severity to major. It doesn't affect the release branch.

[2020-11-23 03:04] lzmhhh123 commented on #20876
Hi, clustered index related issues should be maintained the severity to major. It doesn't affect the release branch.

[2020-11-23 03:07] Reminiscent commented on #19324
You can see [here](https://docs.pingcap.com/tidb/dev/tidb-configuration-file#nested-loop-join-cache-capacity) for more information. In short, when we set `nested-loop-join-cache-capacity` to 0, `nested loop join cache` is disabled by default.

[2020-11-23 03:29] lzmhhh123 commented on #20417
Since the SQL `select * from t1 where b = ? and c = ?` could be recognized to different SQL on different DB context. I think the `select * from test . t1 where b = ? and c = ?` can't hit the binding is reasonable. Should the issue be an enhancement issue?

[2020-11-23 03:42] yufan022 commented on #3775
/pick-up

[2020-11-23 03:50] ichn-hu commented on #18976
/unlabel sig/execution

[2020-11-23 03:50] ichn-hu commented on #18976
/label sig/transaction

[2020-11-23 03:55] ichn-hu commented on #1108
Sure, it is still open, thank you in advance of your fixing PR.

[2020-11-23 03:56] ichn-hu commented on #1108
@xuhui-lu you could comment `/assign @xuhui-lu` to assign yourself on this issue.

[2020-11-23 03:58] ChenPeng2013 commented on #21177
It can't be reproduced stably
oom-action = "cancel"
[code]

[2020-11-23 04:08] zshao opened #21197 "Nested Schema Support in tidb"
## Feature Request

**Is your feature request related to a problem? Please describe:**
For data warehouse applications, people often want denormalized schemas to improve query speed.  Denormalized schema are usually nested, and nested schemas are NOT supported by tidb.

**Describe the feature you'd like:**
Most of the modern data warehouse systems support nested schemas due to the fact that in dat

[2020-11-23 04:25] phamtai97 commented on #21075
Hi @xiaodong-ji
Now, there are about 90 million rows in the account_log table.

I have tried using cheat: `order by accounting_time, 1`, suddenly it ran very fast.

[2020-11-23 04:47] #18729 closed

[2020-11-23 05:09] miaoqingli commented on #20676
I agree that TiDB need the cost that can directly display how much cost the execution plan used.
For example, there are Cost (%CPU) and bytes  in Oracle.
![image](https://user-images.githubusercontent.com/51319517/99930022-91377680-2d8a-11eb-8afd-39f2ef21f849.png)
There are width and cost in another database named DM.
![image](https://user-images.githubusercontent.com/51319517/99930249-52ee8700-2d

[2020-11-23 05:44] #20508 closed

[2020-11-23 05:55] #18588 closed

[2020-11-23 05:58] Reminiscent commented on #20467
/assign

[2020-11-23 06:04] winoros opened #21200 "`DELETE` doesn't delete data in some cases when the database name is capitalized"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The row in `t` is deleted successfully.

### 3. What did you see instead (Required)

No row is deleted.

### 4. What is your TiDB version? (Required)

Latest master and 4.0.8.

[2020-11-23 06:06] #20809 closed

[2020-11-23 06:33] lzmhhh123 commented on #19021
It has been fixed. @SunRunAway Please provide the PR if free.

[2020-11-23 06:33] #19021 closed

[2020-11-23 06:59] crazycs520 opened #21204 "planner: Point get plan will cause wrong result set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Related issue: https://github.com/pingcap/tidb/issues/21123

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-23 06:59] #21200 closed

[2020-11-23 07:36] lzmhhh123 commented on #13801
Yes, we can close the issue. Truncated number makes it equal.

[2020-11-23 07:36] #13801 closed

[2020-11-23 07:38] lzmhhh123 commented on #17223
It seems https://github.com/pingcap/tidb/pull/18424 cloud close the issue.

[2020-11-23 07:38] #17223 closed

[2020-11-23 07:43] #20928 closed

[2020-11-23 07:57] blueseason commented on #20467
/pick-up

[2020-11-23 07:59] AilinKid commented on #19097
`SQL_BUFFER_RESULT` is introduced in https://github.com/pingcap/parser/pull/304 for compatibility, and it has nothing to do with the TiDB side.

[2020-11-23 08:13] glkappe commented on #16617
hello, 请问该问题后面的优化方案是怎么样的

[2020-11-23 08:21] wjhuang2016 commented on #19097
For the second SQL, we can document that `SQL_BUFFER_RESULT` is ignored.

[2020-11-23 08:27] ChenPeng2013 opened #21215 "SPM: capture failed when the query uses binary protocol"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

binary protocol
[code]

### 2. What did you expect to see? (Required)
Capture succeed

### 3. What did you see instead (Required)
[2020/11/23 16:18:03.946 +08:00] [DEBUG] [handle.go:623] ["generate hints failed"] [SQL="select * from t where a = ?"] [error="[parser:1

[2020-11-23 09:13] ilovesoup opened #21217 "TiFlash should support location awareness"
## Feature Request
TiFlash currently does not support location awareness. According to TiKV, it support PD schedule aware of location label reported and avoid schedule replicas of same region to the same location (node, rack or DC). Although TiFlash support single instance multiple disks but it still need rack and DC awareness.

**Describe the feature you'd like:**
[Just like in TiKV](https://docs

[2020-11-23 09:25] wjhuang2016 commented on #12610
Close this issue since it is fixed by pingcap/parser#960

And after the discussion with @lzmhhh123 , we decide not to cherry-pick to 4.0/3.0 because:

The work is non-trivial.
The syntax is a corner case and does not lead to a serious problem.

[2020-11-23 09:25] #12610 closed

[2020-11-23 09:32] you06 opened #21218 "txn: select for update does not lock multi column pk"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Insert in t2 wait for t1 commit and execute success.

### 3. What did you see instead (Required)

Insert in t2 failed with error `E1062: Duplicate entry '1-1' for key 'PRIMARY'`.

### 4. What is your TiDB version? (Required)

[code]

This issue also exists in 4.0.

[2020-11-23 09:34] #20723 closed

[2020-11-23 09:36] blacktear23 commented on #21177
@ChenPeng2013 It can be reproduced in master branch and cannot reproduced on #21187.

[2020-11-23 09:44] lzmhhh123 commented on #18175
Already fixed. Check #18068

[2020-11-23 09:44] #18175 closed

[2020-11-23 09:53] #20552 closed

[2020-11-23 09:56] cfzjywxk commented on #21218
It's caused by that the `PointGetExec` will not lock index keys if the correspond row key exists. BTW, common usage is
[code]
But it's still not very friendly that the insert returns error if it executed before the `delete/update` statement, I think we need to fix it.

[2020-11-23 09:56] lzmhhh123 commented on #9728
/pick

[2020-11-23 09:58] cfzjywxk commented on #21218
The `BatchPointGetExec` may have similar issues like this.

[2020-11-23 10:06] AilinKid commented on #19097
Reason:
This is a difference between TiDB and MySQL. For lock-clause and into-clause, MySQL will parse them as the suffix of the `query_expression` which is an embedded loop of the select statement.

So SQL like `select a,b from t1 into outfile 'skr' union select a,b from t2 ` is invalid in MySQL, because after the into-clause is parsed, the union clause will be unrecognized, which leads to error.

[2020-11-23 10:06] AilinKid commented on #19097
PTAL @wjhuang2016 @bb7133

[2020-11-23 10:07] time-and-fate commented on #20552
## Please edit this comment or add a new comment to complete the following information
 ### Not a bug

 1. Remove the 'type/bug' label

 2. Add notes to indicate why it is not a bug

 ### Duplicate bug

 1. Add the 'type/duplicate' label

 2. Add the link to the original bug

 ### Bug

 #### 1. Root Cause Analysis (RCA) (optional)
`FuncCallExpr` and `CaseExpr` need args be put on `ctxStack`, which

[2020-11-23 10:16] ichn-hu commented on #19130
/unassign @ichn-hu

[2020-11-23 11:20] wjhuang2016 commented on #20985
This usage maybe not correct, we need to investigate it. Reopen this issue if we verify that it's a bug.

[2020-11-23 11:20] #20985 closed

[2020-11-23 11:29] yufan022 commented on #12342
/pick-up

[2020-11-23 11:32] Reminiscent commented on #10497
/assign

[2020-11-23 11:59] xiongjiwei opened #21225 "time type column should enabled in columns partition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

`create table t(a time) partition by range columns (a) (partition p1 values less than ('202020'));`
### 2. What did you expect to see? (Required)
create table success
### 3. What did you see instead (Required)
`ERROR 1659 (HY000): Field 'a' is of a not allowed type for this

[2020-11-23 12:09] xiongjiwei opened #21227 "check partition definition get wrong result if column is date or time type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
create table success
### 3. What did you see instead (Required)

`ERROR 1493 (HY000): VALUES LESS THAN value must be strictly increasing for each partition`

it is because we compare DateTime as string
### 4. What is you

[2020-11-23 12:31] ThySinner commented on #20460
/assign
https://github.com/pingcap/tidb/pull/21078

[2020-11-23 12:33] ThySinner commented on #20460
/assign

[2020-11-23 14:22] ichn-hu commented on #20027
This issue is fixed by a0515bcc2de91f74ce92b66948a2ecbb8ed410ee on release-4.0, which is brought about by https://github.com/pingcap/tidb/pull/20565 , it is now safe to close this issue.

PTAL @lzmhhh123

[2020-11-23 14:24] ichn-hu commented on #20027
This fix is found by git bisect, the script is attached bellow

[code]

[code]

[code]

[2020-11-23 15:44] ilovesoup commented on #21186
We tested arrow on tiflash before and it burns quite a lot CPU and we abandoned it. If it is to connect to external eco system I suggest have extra interface to do it and only use arrow on the border of these interface. Binding internal representation to arrow or use it btw internal nodes does not sounds a good idea to me. It will largely prevent you from further internal optimizations inside your

[2020-11-23 17:02] 9547 commented on #15492
@ChenPeng2013  In my local env, can't reproduce with tidb in `mocktikv` mode; but happened with tidb in `unistore` mode, I'm using tidb:

[code]

[2020-11-23 18:06] winoros opened #21232 "Unexpected insert error happened when the execution plan contains index join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The update executed successfully and one row is affected(though actually no changes happened).

### 3. What did you see instead (Required)

Error thrown. `Data Too Long, field len 1, data len 5`

A related behavior. If

[2020-11-23 19:00] innerr commented on #21186
In my experience, Arrow is not fit for data transmission, it's too heavy on coding (yes people always just let you focus on the bright side, the decoding).

Back in TiFlash @ilovesoup mentioned above, when transmiting about 900M/s data between TiFlash and TiDB, Arrow encoding ate up 12 cores, in the TPCH benchmark.

[2020-11-24 00:18] kolbe opened #21234 "Incorrect results using a prefix index with OR condition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-24 00:26] kolbe commented on #21234
I originally spotted this in 4.0.8 and was able to reproduce it in master.

[2020-11-24 00:36] kolbe commented on #21234
[code]

[2020-11-24 00:59] zz-jason opened #21235 "explain for connection shows incorrect empty result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

the execution plan of the current connection, not an empty result.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-24 01:00] zz-jason commented on #21235
I found this when reproducing https://github.com/pingcap/tidb/issues/21234

[2020-11-24 01:05] zz-jason commented on #21234
the execution plan is:

[code]

I think the range is incorrect for the prefix index `index(t(8))`

[2020-11-24 01:25] asiafrank commented on #19324
Fix this after #20844  merge.

[2020-11-24 01:42] kolbe commented on #21234
The result is correct after the statistics for the table are updated, either because of explicit `analyze table` or because statistics have automatically been updated.

[code]

[code]

[2020-11-24 01:49] zhaoxugang commented on #18042
/pick up

[2020-11-24 01:57] zhaoxugang commented on #18042
/pick-up

[2020-11-24 02:08] zhaoxugang commented on #18042
hi，pull is pending in reward check, I need help @lzmhhh123

[2020-11-24 03:01] Patrick0308 commented on #15284
/give-up

[2020-11-24 03:03] TszKitLo40 commented on #15284
/pick-up

[2020-11-24 03:10] wjhuang2016 commented on #19097
I think we should make TiDB be compatible with MySQL

[2020-11-24 03:21] SunRunAway commented on #21235
/assign @crazycs520

[2020-11-24 03:25] #20027 closed

[2020-11-24 03:27] lzmhhh123 commented on #21234
/assign @Reminiscent

[2020-11-24 03:32] kolbe commented on #21234
Hm, `analyze table` did *not* make any difference for a more complex test environment on v4.0.8.

[code]

[code]

[2020-11-24 03:33] #9869 closed

[2020-11-24 03:33] #17652 closed

[2020-11-24 03:43] xiaodong-ji commented on #21075
I didn't reappear this problem. Could you please provide the structrue of the `account_log` table and a few rows data.

[2020-11-24 03:54] #21123 closed

[2020-11-24 03:54] #21204 closed

[2020-11-24 04:09] ichn-hu commented on #11437
/assign @ichn-hu

[2020-11-24 04:11] ichn-hu commented on #21159
I can well reproduce this error with tiup.

[2020-11-24 04:13] ichn-hu commented on #21159
/assign @ichn-hu

[2020-11-24 04:14] ichn-hu commented on #21159
I wonder, however, is this really a bug fix or a feature request...

[2020-11-24 04:46] #19892 closed

[2020-11-24 05:05] #21172 closed

[2020-11-24 05:38] bb7133 commented on #19097
Sounds that is not 'difficult/easy'.

What's the estimated work time to change the parser?

[2020-11-24 06:00] wjhuang2016 commented on #3963
This behavior is very strange, and it isn't documented in MySQL.
[code]
I don't think users should rely on this behavior, and it shouldn't be taken as a bug.

[2020-11-24 06:04] wjhuang2016 commented on #8191
Close this issue since it is fixed by pingcap/parser#960

And after the discussion with @lzmhhh123 , we decide not to cherry-pick to 4.0/3.0 because:

The work is non-trivial.
The syntax is a corner case and does not lead to a serious problem.

[2020-11-24 06:04] #8191 closed

[2020-11-24 06:07] wjhuang2016 commented on #8193
Close this issue since it is fixed by pingcap/parser#960

And after the discussion with @lzmhhh123 , we decide not to cherry-pick to 4.0/3.0 because:

The work is non-trivial.
The syntax is a corner case and does not lead to a serious problem.

[2020-11-24 06:07] #8193 closed

[2020-11-24 06:09] wjhuang2016 commented on #8194
Close this issue since it is fixed by pingcap/parser#960

And after the discussion with @lzmhhh123 , we decide not to cherry-pick to 4.0/3.0 because:

The work is non-trivial.
The syntax is a corner case and does not lead to a serious problem.

[2020-11-24 06:09] #8194 closed

[2020-11-24 06:15] wjhuang2016 commented on #17733
Fixed by ##19102

[2020-11-24 06:15] #17733 closed

[2020-11-24 06:20] wjhuang2016 commented on #18582
Close this issue because it can not reproduce.

[2020-11-24 06:20] #18582 closed

[2020-11-24 06:32] Reminiscent commented on #21234
Do some experiments
[code]

[2020-11-24 06:57] solotzg commented on #21217
PD show Error `Failed to set config: [400] "cannot update LocationLabels when placement rules feature is enabled, please update rule instead"`

[2020-11-24 07:13] #17475 closed

[2020-11-24 07:14] solotzg commented on #21217
Set labels in proxy config file, like
[code]
Use ddl `ALTER TABLE table_name SET TIFLASH REPLICA count LOCATION LABELS location_labels` like `alter table test.orders set tiflash replica 2 location labels "zone"`.
Use pd-ctrl to set `config set location-labels zone`.
Finally, PD will reschedule region peer and region count of each tiflash store will be like
[code]

https://docs.google.com/document/

[2020-11-24 07:14] lzmhhh123 commented on #17785
@francis0407 any update about the issue?

[2020-11-24 07:16] lzmhhh123 commented on #20621
This issue has been fixed by https://github.com/pingcap/tidb/pull/20560.

[2020-11-24 07:16] #20621 closed

[2020-11-24 07:28] SunRunAway commented on #21092
@xiaodong-ji PTAL

[2020-11-24 07:28] SunRunAway commented on #21093
@xiaodong-ji PTAL

[2020-11-24 07:51] lzmhhh123 commented on #20873
Can't reproduce.

[code]

[2020-11-24 07:51] #20873 closed

[2020-11-24 07:59] lzmhhh123 commented on #3563
We can close the issue after we discuss it. To support a more reasonable multi-table update way.

https://github.com/pingcap/tidb/pull/20493

[2020-11-24 07:59] #3563 closed

[2020-11-24 08:05] #19836 closed

[2020-11-24 08:20] #21177 closed

[2020-11-24 08:28] lzmhhh123 commented on #21235
If the SQL finished. The `explain for connection` will return empty. In otherwise, SQL not finish, the `explain for` is still working.

[2020-11-24 08:34] SunRunAway commented on #21235
Could you describe this feature which is different from MySQL in the documentation? @crazycs520

[2020-11-24 09:00] #21232 closed

[2020-11-24 09:02] xuhui-lu commented on #1108
/assign @xuhui-lu

[2020-11-24 09:05] qw4990 opened #21250 "push Limit down to the probe side of IndexLookUp even if there is an Order"
## Development Task
[code]
In the case above, we can push Limit down to the probe side to get a better plan:
[code]

[2020-11-24 09:07] qw4990 commented on #21250
@tangwz Would you like to take a look at this?

[2020-11-24 09:39] #21151 closed

[2020-11-24 09:45] ichn-hu commented on #11437
/label sig/planner

[2020-11-24 09:45] ichn-hu commented on #11437
/unlabel sig/execution

[2020-11-24 10:02] breeswish commented on #21159
Example 2 could be considered as a critical bug, but I have not yet reproduced it.

Example 1 is not a very important bug.

@ichn-hu

[2020-11-24 10:06] #10392 closed

[2020-11-24 10:09] SunRunAway opened #21254 "TiDB can sense all TiFlash replicas have been down and make a plan to access TiKV."
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, if all TiFlash replicas of a query's data have been down, tidb-server would still make those plans to acesse TiFlash.

**Describe the feature you'd like:**

Provide a configuration to let users choose the storage fallback policy. It should defaut to not fallback, because the workload for TiFlash may

[2020-11-24 10:15] SunRunAway commented on #21254
cc @lzmhhh123 @nolouch
Do you have any suggestions?

[2020-11-24 11:38] Yisaer commented on #18643
closed in https://github.com/tikv/pd/pull/3047

[2020-11-24 11:41] Yisaer commented on #16104
fixed in https://github.com/pingcap/tidb/pull/21168

[2020-11-24 11:44] SunRunAway opened #21256 "unit test TestUnionScanForMemBufferReader fails"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-11-24 11:53] #21131 closed

[2020-11-24 12:11] rleungx opened #21260 "Statistics are not match with PD when querying INFORMATION_SCHEMA.TIDB_HOT_REGIONS"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Analyze a table, and use `select * from INFORMATION_SCHEMA.TIDB_HOT_REGIONS`.

### 2. What did you expect to see? (Required)

The hot regions' statistics

### 3. What did you see instead (Required)

Use SQL:

<img width="912" alt="Screen Shot 2020-11-24 at 8 08 08 PM" src="

[2020-11-24 12:47] xiongjiwei commented on #3775
it is not a bug, the result of tidb is expected since tidb's default collation is `utf8mb4_bin` and MySQL's is `utf8mb4_0900_ai_ci`. All UCA will skip the `0` weight, and tidb has implemented `utf8mb4_unicode_ci`, it is the same with MySQL
[code]

[2020-11-24 13:01] sre-bot opened #21263 "aggregate_test.go:testSuiteAgg.TestIssue20658 failed"
aggregate_test.go:testSuiteAgg.TestIssue20658

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/62969/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59080/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/63013/display/redirect

[2020-11-24 13:01] sre-bot opened #21264 "union_scan_test.go:testSuite7.TestUnionScanForMemBufferReader failed"
union_scan_test.go:testSuite7.TestUnionScanForMemBufferReader

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59153/display/redirect

[2020-11-24 13:09] ichn-hu commented on #11437
This bug seems more complicated than it seems, according to https://github.com/pingcap/tidb/pull/11830#pullrequestreview-278238963, we may need to implement a [functional denpendency](https://en.wikipedia.org/wiki/Functional_dependency) algorithm to solve it.

[2020-11-24 14:05] #16104 closed

[2020-11-24 14:21] ou-bing commented on #17726
I get the same return value in mysql8.

[code]

[2020-11-24 14:27] ou-bing commented on #17726
/pick-up

[2020-11-25 00:48] tangwz commented on #21250
/assign

[2020-11-25 02:33] zhaoxugang commented on #20128
/pick-up

[2020-11-25 02:49] yufan022 commented on #3775
@xiongjiwei
Hi, i checked master branch, and the result is always 1;
![image](https://user-images.githubusercontent.com/30121694/100176604-95d76880-2f0b-11eb-83a2-c30844b1a7ca.png)

[2020-11-25 03:01] wjhuang2016 commented on #3775
You need to enable the new collation.

[2020-11-25 03:03] xiongjiwei commented on #3775
make sure new collation is enabled
[code]

[2020-11-25 03:20] yufan022 commented on #3775
@xiongjiwei @wjhuang2016
Yes, The result looks the same. Thanks for the help, I will close the PR.

[2020-11-25 03:21] #11208 closed

[2020-11-25 03:46] #21225 closed

[2020-11-25 03:46] #21227 closed

[2020-11-25 03:48] ichn-hu commented on #16945
/assign @ichn-hu

[2020-11-25 03:50] #3775 closed

[2020-11-25 03:53] sticnarf opened #21274 "Schema change not working when an async-commit txn updates an old row"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Enable async commit or 1PC**

Session 1 | Session 2
---------|----------
|create table t (c1 int primary key, c2 int)|
|insert into t values (1, 1)|
|begin|
|update t set c2 = 2 where c1 = 1|
||alter table t add index k(c2)
|commit|

### 2. What did you expect to see? (Re

[2020-11-25 04:59] KwonMinho opened #21276 "Can i insert data larger than 6mb into the column(TIDB)?"
If possible, what can be modified in tidb configuration?  🤔

[2020-11-25 05:57] lzmhhh123 commented on #13146
This issue has been fixed.

[2020-11-25 05:57] #13146 closed

[2020-11-25 06:39] lysu opened #21280 "unexpected plan after add condition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

run sql1

[code]

will get the right plan

[code]

but just add addition filter condition ` and d = 3`

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[

[2020-11-25 06:40] #21234 closed

[2020-11-25 06:57] lysu commented on #21280
and if we change schema as

[code]

we will get plan:

[code]

but ideal we should get

[code]

[2020-11-25 07:09] phamtai97 commented on #21075
Hi @xiaodong-ji xiao

This is schema account_log table:

[code]

[2020-11-25 07:17] ichn-hu commented on #17780
/assign @ichn-hu

[2020-11-25 08:20] wjhuang2016 opened #21284 "transaction retry may cause panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Commit successfully.
### 3. What did you see instead (Required)
ERROR 1105 (HY000): runtime error: invalid memory address or nil pointer dereference
### 4. What is your TiDB version? (Required)

4.0

[2020-11-25 08:21] SunRunAway commented on #20417
SPM has many related changes in release-4.0, so this fix delays to v4.0.10
cc @zz-jason @shuke987

[2020-11-25 08:31] #20484 closed

[2020-11-25 08:50] eurekaka commented on #13749
The fix is not complete, reopen this issue first.

[2020-11-25 09:19] ChenPeng2013 opened #21288 "SPM: unexpected behavior in parallel creation of global binding"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

cluster config
2 tidb
1 pd
1 tikv

[code]

run a minute and ctrl +c
[code]
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-25 09:22] zyguan opened #21289 "Found index data inconsistency after randomly commit transactions with DDLs"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

The minimal reproduce steps are still unkown. We use [txn-with-ddl](http://172.16.4.191:8000/zyguan/sqlgen/-/blob/master/sqlgen/t/txn_with_ddl.py) to test amend transaction along with binlog on release-4.0. After running the test a while, we executed `admin check table t` o

[2020-11-25 09:24] zyguan commented on #21289
/label severity/critical

[2020-11-25 09:32] xiongjiwei opened #21290 "time type in `in` function will get wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

`1`

### 3. What did you see instead (Required)

`0`

### 4. What is your TiDB version? (Required)

[2020-11-25 09:33] liushiqi1001 opened #21291 "get all tidb-server nodes"
## General Question
I want to know how many tidb-server nodes online ,is there  any restful api ???
http://${host}:${port}/status ,it is too little information

[2020-11-25 09:42] #13093 closed

[2020-11-25 09:55] #21256 closed

[2020-11-25 10:44] cosven opened #21295 "client hang during connecting to tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I'm not sure if the problem can be reproduced with following step
1. deploy a  tidb cluster with topology `1pd 1tidb 5tikv`
2. network partition pd for a while
3. recover partition

### 2. What did you expect to see? (Required)
client can connect to tidb after partition is

[2020-11-25 11:15] rebelice commented on #18681
/assign @rebelice

[2020-11-25 11:44] #18322 closed

[2020-11-25 11:56] #21092 closed

[2020-11-25 11:56] #21093 closed

[2020-11-25 12:10] #20874 closed

[2020-11-25 13:01] sre-bot opened #21300 "set_test.go:testSuite5.TestSetVar failed"
set_test.go:testSuite5.TestSetVar

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59347/display/redirect

[2020-11-25 13:24] #21047 closed

[2020-11-25 13:39] #21156 closed

[2020-11-25 18:32] erikthorselius commented on #20990
Is it possible to take any decision? I'm just a humble user of your great software, I have a clunky workaround that I can live with. But maybe this could help other users.

[2020-11-26 02:34] xiongjiwei commented on #21290
@TennyZhuang hi,  PTAL   The `Time` type has `compare` function, is it same with `==`?   also, it has `getCoreTime` function. What the difference among `A==B`, `A.compare(B)` and `A.getCoreTime==B.getCoreTime`?

[2020-11-26 03:02] lance6716 opened #21307 "didn't output good width for timestamp column sometimes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

in mysql client

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-26 03:42] xiongjiwei opened #21308 "list partition does not check partition definition correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

new collation is enabled
[code]

[2020-11-26 03:46] time-and-fate commented on #11210
This bug has been fixed by https://github.com/pingcap/tidb/pull/19709 on master but not cherry-picked to release-4.0

[2020-11-26 03:51] ichn-hu commented on #16945
@nullnotnil I would suggest this issue to be a won't fix.

If we run the sample on MySQL

[code]

It will report a warning stating that the `VALUES` function is already deprecated.

And if we remove the `VALUES` function, this SQL would report error just as TiDB does.

[code]

According to https://dev.mysql.com/doc/refman/8.0/en/miscellaneous-functions.html#function_values , this function is depre

[2020-11-26 04:19] ichn-hu commented on #17757
/assign @ichn-hu

[2020-11-26 04:19] ichn-hu commented on #17757
This bug can't be reproduced, and according to https://github.com/tidb-challenge-program/bug-hunting-issue/issues/68#issuecomment-629743171, it has been fixed in https://github.com/pingcap/tidb/pull/15927

[2020-11-26 04:25] ichn-hu commented on #11200
/assign @ichn-hu

[2020-11-26 04:27] ichn-hu commented on #21291
You might want to try

[code]

[2020-11-26 04:34] nullnotnil commented on #16945
@ichn-hu makes sense. I agree with your analysis.

[2020-11-26 05:51] #17757 closed

[2020-11-26 06:01] cfzjywxk commented on #21289
The root cause is https://github.com/tikv/tikv/issues/9119

[2020-11-26 06:12] ichn-hu opened #21314 "Out of range error message is not informative enough"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

This bug is found in https://github.com/pingcap/tidb/issues/16945 .

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL 8.0.22

[code]

### 3. What did you see instead (Required)

TiDB

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-26 06:12] ichn-hu commented on #21314
/label severity/minor

[2020-11-26 06:12] ichn-hu commented on #21314
/label sig/execution

[2020-11-26 06:13] #16945 closed

[2020-11-26 06:18] ichn-hu commented on #11200
/unlabel severity/critical

[2020-11-26 06:19] #21235 closed

[2020-11-26 06:20] ichn-hu commented on #11200
/label severity/minor

[2020-11-26 06:21] ichn-hu commented on #11200
/unlabel severity/major

[2020-11-26 06:21] ichn-hu commented on #11200
/unassign @ichn-hu

[2020-11-26 06:22] ichn-hu commented on #11200
Note to contributors, we need to be compatible with MySQL 8.0, hence we only need to correct the error message.

[2020-11-26 06:22] ichn-hu commented on #11200
@9547 are you still interested in fixing this issue?

[2020-11-26 06:27] ichn-hu commented on #11210
@rebelice PTAL

[2020-11-26 06:28] lzmhhh123 commented on #19243
Can't reproduce.

[2020-11-26 06:28] #19243 closed

[2020-11-26 06:32] lzmhhh123 commented on #19204
The NULL value is because we didn't support the user variable type before. The issue can't be closed since TiDB differentiates user variable type on v4.0.9.

[2020-11-26 06:32] #19204 closed

[2020-11-26 06:41] cfzjywxk commented on #20990
@erikthorselius
I think it should be changed to the same, the problem that `unit test` cases may fail becasuse they depend on the old default value and we may need to refactor these cases, as @nullnotnil said. It may need to some time to change tham all.
The set statment `set global tidb_txn_mode  = 'pessimsitic'` could be used to change it currently before other statement executions.

[2020-11-26 06:43] winoros commented on #21075
It's a little strange that the `EstRows` are all `0.0` in your explain result. Have you analyzed this table yet?

[2020-11-26 06:48] xiaodong-ji commented on #21280
/assign

[2020-11-26 06:56] rebelice commented on #11210
I'll cherry-pick this pr later.

[2020-11-26 07:01] ou-bing commented on #20139
/pick-up

[2020-11-26 07:20] #17868 closed

[2020-11-26 07:38] sticnarf commented on #21263
PTAL @qw4990

[2020-11-26 07:43] ichn-hu commented on #21307
This is an interesting bug, after investigation, it might be that TiDB wrongly calculated the Flag column information, and a simplest reproduce is to

[code]

[2020-11-26 07:49] #21260 closed

[2020-11-26 07:58] XuHuaiyu opened #21321 "the range of bootstrapVer of different release should not overlapped"
The range of bootstrapVer of branch release-4.0 and branch master is overlapped for now.
* branch release-4.0
![企业微信截图_49777abf-e693-4914-ade9-0a3122214f10](https://user-images.githubusercontent.com/9039012/100322580-73267c00-2fff-11eb-8307-0c29c5dc187f.png)

* branch master
![企业微信截图_add06a2a-6071-4ca9-b47c-4b22ba2e6af2](https://user-images.githubusercontent.com/9039012/100322589-7588d600-2fff-11e

[2020-11-26 08:17] crazycs520 commented on #20236
? Already has a PR: https://github.com/pingcap/tidb/pull/20750

[2020-11-26 09:12] #20900 closed

[2020-11-26 09:12] winoros opened #21326 "Support `SHOW STATS_TOPN` to show a human readable topn statistics"
## Development Task

If we directly select things from `mysql.stats_top_n`, the result is not human-readable.
So we should introduce `SHOW STATS_TOPN` to have a human-readable result for topn statistics.

[2020-11-26 09:54] #21274 closed

[2020-11-26 10:00] Yisaer commented on #18643
@scsldb can we close the issue?

[2020-11-26 10:00] 9547 commented on #11200
/pick-up

[2020-11-26 10:08] SunRunAway commented on #18421
@crazycs520 PTAL

seen in https://github.com/pingcap/tidb/pull/21219#issuecomment-734119721
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/59494/pipeline

[2020-11-26 10:17] ichn-hu commented on #21291
Please feel free to close this issue if your question is resolved.

liushiqi1001 <notifications@github.com>于2020年11月26日 周四下午6:08写道：

[2020-11-26 10:26] xuhui-lu commented on #18653
/assign @xuhui-lu

[2020-11-26 10:52] SunRunAway commented on #15978
[code]

https://github.com/pingcap/tidb/pull/21219#issuecomment-734209719
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/26100/pipeline

[2020-11-26 10:53] SunRunAway commented on #15978
@tiancaiamao PTAL

[2020-11-26 10:53] bb7133 opened #21330 "ddl: reduce the duration of adding index on empty/tiny tables"
## Development Task

Currently, it takes several seconds for TiDB to adding an index on an empty table when the statement is not run on the 'DDL owner' instance:

[code]

Suppose that we have a connection on `192.168.197.193:4001`(the non-owner instance) and run the following statement:

[code]

It takes 3+ seconds to create an index. The job can actually be processed quickly, but ~3s is spent on

[2020-11-26 11:20] crazycs520 opened #21331 "Keep information in STATEMENTS_SUMMARY consistent with SLOW_QUERY"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, some runtime information doesn't exist in  `STATEMENTS_SUMMARY` but in `SLOW_QUERY`:

[code]

Those information need to add to `STATEMENTS_SUMMARY` too.

[2020-11-26 12:31] #21295 closed

[2020-11-26 12:36] nolouch commented on #21295
/assign @JmPotato

[2020-11-26 14:03] zyguan opened #21335 "`select for update` doesn't seem to work on views in some cases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`select * from v where a < 2 for update;` should be blocked by t1.

### 3. What did you see instead (Required)

It's not blocked.

### 4. What is your TiDB version? (Required)

release-4.0 (1e73c51515e123e3066fa5abeb144

[2020-11-27 01:24] hanlins commented on #18401
/assign

[2020-11-27 01:33] hanlins commented on #18401
I think it should be related to the uninitialized handler [here](https://github.com/pingcap/tidb/blob/v4.0.2/executor/executor.go#L1528):
[code]
I think `ExpensiveQueryHandle` returns a query handler that is not initialized, and its method is returned as a closure which referenced the nil pointer(i.e. the handler) later on. Can anyone justify why we don't initialize the query handler in the `NewDo

[2020-11-27 02:06] sticnarf opened #21339 "Index inconsistency after add index when using async commit"
## Bug Report

### 1. Minimal reproduce step (Required)

1. Table structure: `create table t (id int primary key, balance int)`
2. Insert 10 rows.
3. Do random bank transfer in the table.
4. At the same time, add index to the table (either index to id or balance is ok).
5. admin check table, it will fail.

If it doesn't fail, delete the index and add again.

### 2. What did you expect to see? (Req

[2020-11-27 02:15] sticnarf commented on #21339
The cause is that DDLs use the KvScan interface to read rows and do backfilling.

However, KvScan implementation is not correct under async commit. TiDB expects all KV pairs to be returned, but TiKV only returns one if a memory lock is found. This is similar to https://github.com/tikv/tikv/issues/9069

[2020-11-27 02:16] hanlins commented on #18401
Root cause:

This issue is bootstrap only, and it happens before the expensive query handler initialization. From the panic stack trace, the issue is triggered [here](https://github.com/pingcap/tidb/blob/v4.0.2/session/session.go#L1653), and a few lines [after](https://github.com/pingcap/tidb/blob/v4.0.2/session/session.go#L1680), the query handler is initialized, and from then on memory exceed er

[2020-11-27 02:41] xiaodong-ji commented on #21314
/assign

[2020-11-27 02:53] zbingwen commented on #11371
I think  it is better .  I get lock detail difficult  by lock manager in grafana.

[2020-11-27 03:14] lysu opened #21341 "Refine panic log when it's a OOM Panic"
## Feature Request

**Is your feature request related to a problem? Please describe:**

OOMAction will panic with panic message prefixed with `Out Of Memory Quota!`

but some panic recovery blocks catch panic and report new panic message by it self

https://github.com/pingcap/tidb/blob/dfacc2bbddd21096725aaf28b0f2412b590a7469/executor/index_lookup_join.go#L336

it makes confused to some user.

**D

[2020-11-27 03:15] glorv opened #21342 "call tables.TableFromMeta panic with partition table meta"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Running lightning with current master branch tidb(`fd0299f58ecc174e5ed8f91660299ebac8fa2b9c`) panic.
table schema:
[code]
panic stack trace:
[code]

The cause of the panic is https://github.com/pingcap/tidb/blob/d084651fafb69f5b9ff09e9ffcc5102e5dcb2c62/express

[2020-11-27 04:18] SunRunAway opened #21344 "unit test TestPreferRangeScan fails"
FAIL: integration_test.go:1910: testIntegrationSuite.TestPreferRangeScan

## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-11-27 04:18] SunRunAway commented on #21344
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/59456/pipeline/99

[2020-11-27 04:19] SunRunAway commented on #21344
cc @xiaodong-ji @winoros

[2020-11-27 04:27] nullnotnil commented on #21335
Because views are non-writeable in TiDB, the expected behavior should be an error when trying `FOR UPDATE` or `LOCK IN SHARE MODE`.

[2020-11-27 05:17] SunRunAway commented on #20129
[code]

[2020-11-27 05:19] SunRunAway commented on #20129
Because failed to restore the stack, we need to modify the GORACE option `history_size` to 7, see https://golang.org/doc/articles/race_detector.html#Options

[2020-11-27 05:36] xiongjiwei commented on #21342
https://github.com/pingcap/tidb/pull/19828 introduce `RewriteAstExpr` and used in `simple_rewriter`, but it may un-init in other projects which requires tidb

[2020-11-27 05:56] Reminiscent commented on #17736
/assign

[2020-11-27 06:04] breeswish commented on #16350
Implemented in https://github.com/pingcap/tidb/pull/20492

[2020-11-27 06:04] #16350 closed

[2020-11-27 06:16] Reminiscent commented on #17736
In master 93c3e6becd5929cc37901d78d1f679cbc5d86342 , the result of TiDB are correct.

[2020-11-27 07:09] tiancaiamao commented on #8393
I decide not to fix this for **system session variables** because those variables are bind to special semantic and when they take effect is vague.
Some system session variables are not simply a value, they also behave as a switch.

We may take them as data at the first thought: after a statement finish they take effect inside a transaction, and if the transaction rollbacks their effects are gone.

[2020-11-27 07:09] 5kbpers commented on #21094
For decoupling Resolved TS, may include the following changes:
* Move the `CmdObserver` implementation of `CdcObserver` to `resolved ts` package
* Start a new thread for capturing changes from apply worker, tracking the lock, and redirecting changes to cdc thread
* Provide an interface (through an atomic variable) for getting the current resolved ts

[2020-11-27 07:10] #8393 closed

[2020-11-27 07:13] hanlins commented on #18401
/pick-up

[2020-11-27 08:25] phamtai97 commented on #21075
Hi @winoros
I do not run `analyze` for the table. This is the result when I run to `EXPLAIN ANALYZE` SQL:

[code]

[2020-11-27 08:53] #21289 closed

[2020-11-27 08:54] rebelice commented on #15771
Both SQL will return the same result (18446744073709551614) on the master, related PR #21236.
On the other hand, the above two SQL return the 18446744073709551614 in MySQL-8.0, so I think this issue has been resolved, and we should close it.

[2020-11-27 08:55] eurekaka commented on #21175
If we add a capture filter for the processed queries, there still exist corner cases which have tricky behaviors. For example, if we have already manually created a binding for a query, then baseline capture would not generate captured binding for this query, then if we don't want the original manual binding anymore, capture would still not work even if we delete that binding in mysql.bind_info be

[2020-11-27 08:59] #15771 closed

[2020-11-27 09:00] rebelice commented on #15771
close by #21062, cherry-pick release-4.0 PR is #21236

[2020-11-27 09:18] rebelice commented on #15771
Please edit this comment to complete the following information
### Bug
Note: Make Sure that 'component', and 'severity' labels are added
#### 1. Root Cause Analysis (RCA)
Not process UnsignedFlag in AggFieldType
#### 2. Symptom
Wrong result when using unsigned in AggField
#### 3. All Trigger Conditions
-  using unsigned in AggField
#### 4. Workaround (optional)
#### 5. Affected versions
[v4.0.1:v4

[2020-11-27 09:24] hi-rustin commented on #20893
/pick-up

[2020-11-27 09:24] hi-rustin commented on #20893
/give-up

[2020-11-27 10:00] xiongjiwei commented on #21290
`CoreTime.compare` function use first 60bit to compare time, which is same with `uint64(a)&coreTimeBitFieldMask`

[2020-11-27 10:20] rebelice commented on #17736
Closed by #19620

[2020-11-27 10:44] time-and-fate opened #21354 "behavior when comparing date with string incompatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
MySQL 8.0.22
[code]
### 3. What did you see instead (Required)
TiDB master cc0e1d46
[code]
### 4. What is your TiDB version? (Required)

master, 4.0

[2020-11-27 10:44] time-and-fate commented on #21354
/assign

[2020-11-27 10:56] youjiali1995 opened #21355 "A transaction may be committed and TiDB doesn't return an undetermined error"
## Bug Report

A region error doesn't mean a write request is failed:
* When TiKV is gracefully shutdown, it will return `StaleCommand` to all proposed requests: https://github.com/tikv/tikv/blob/4ed382c21699596a84aa3342b27e3221c0741893/components/raftstore/src/store/fsm/apply.rs#L3006-L3010
* When a region is destroyed, it will return `RegionNotFound` to all proposed requests: https://github.com/

[2020-11-27 10:58] youjiali1995 commented on #21355
/cc @cfzjywxk @MyonKeminta @sticnarf @nrc

[2020-11-27 11:25] tiancaiamao commented on #10965
I'd like to change the default output format of the trace statement to 'row', so as to avoid the troublesome JSON format output.

https://github.com/pingcap/parser/pull/1107

[2020-11-27 11:39] #17736 closed

[2020-11-27 11:48] tiancaiamao commented on #11691
The reason JSON output is split into lines is that we have the column size limitation.
The trace result is large, as long as we output them as JSON data and display them in MySQL client, we have to split the content, this issue is intrinsic.

I plan to use format = 'row' as the default output format, to avoid the JSON problem.
https://github.com/pingcap/parser/pull/1107

There is no plan for impro

[2020-11-27 11:48] #11691 closed

[2020-11-27 11:52] tiancaiamao commented on #15826
And for unique indices, we have made the @@tidb_constraint_check_in_place session variable work for the update statement in https://github.com/pingcap/tidb/pull/20939

[2020-11-27 11:52] #15826 closed

[2020-11-27 12:16] youjiali1995 commented on #21355
We can shut down the gRPC server synchronously.

I'm not clear what circumstances this case will occur now. I think we should list all cases which may result in undetermined stats.

[2020-11-27 13:00] sre-bot opened #21358 "integration_test.go:testIntegrationSuite.TestPreferRangeScan failed"
integration_test.go:testIntegrationSuite.TestPreferRangeScan

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59582/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/64187/display/redirect

[2020-11-27 19:51] 9547 commented on #11200
Seems it's caused by https://github.com/pingcap/tidb/blob/cc0e1d46e676e0213ecd5432cce71973f88cc7bb/types/etc.go#L166-L168

and the `database/table/colum` information is stored in https://github.com/pingcap/tidb/blob/cc0e1d46e676e0213ecd5432cce71973f88cc7bb/types/field_name.go#L23-L28

@ichn-hu I wonder if you could give me some advice on how to fetch those fields?

[2020-11-28 01:04] yiwu-arbug commented on #18024
Plan update:
For the short term we will be focus on the introduction of [TiKV IO rate limiter ](https://docs.google.com/document/d/1Jdsi7Ah1YtlZ3trCenqOL3BQ0FyeeubPJwyGwPeUdXM/edit?usp=sharing)to better control and monitor IO usage, especially for cloud disk.

As to previous planed tasks:
* Fsync control: plan to included in 4.0.9 release. The feature will be default to off, since it aim to reduce

[2020-11-28 05:12] sev7ndayyoo commented on #21276
This limit cannot currently be modified through configuration.

[2020-11-28 07:15] #20838 closed

[2020-11-28 10:57] sduzh commented on #16028
I quit this issue.

[2020-11-29 08:21] #20841 closed

[2020-11-29 08:47] hidehalo commented on #16581
/pick-up

[2020-11-29 09:12] LENSHOOD opened #21362 "The behavior of conversion from JSON object/array to integer/float is incompatible with MySQL"
## Development Task
In current TiDB implementation, the conversion from JSON object/array to integer/float is simply set to 0 with no error or warning:
[code]

output:
[code]

On the contrary, MySQL will get error:
[code]

The float conversion will get same result.

We better return an error or waning when cast json object/array to integer/float.

Some related repo maybe influenced since the conve

[2020-11-29 09:17] kennytm commented on #11691
(X) Doubt.

MySQL 8.0.20 is able to handle this fine, which generates a single JSON row of 9.4 MiB (every new view multiplies the output size by roughly 4.7×).

[code]

I don't think the 4 KiB "max packet size" (#8530) is a true limitation of the MySQL protocol.

[2020-11-29 09:23] hidehalo commented on #11181
/pick-up

[2020-11-29 10:34] xhochy commented on #21186
@ilovesoup @innerr can you enlighten me what you mean with encoding? I would accept that for a format like Parquet but in Arrow the data is quite "plain" in memory and the only thing that would roughly be some sort of encoding would be the validity bitmap. That is though extremely optimized at least in the C++ implementation.

[2020-11-29 14:42] JinLingChristopher commented on #20651
/pick-up

[2020-11-29 14:54] #20651 closed

[2020-11-29 15:11] #14441 closed

[2020-11-30 02:08] Reminiscent commented on #17808
/assign

[2020-11-30 02:18] xuhui-lu commented on #21342
hello @ichn-hu , may I pick up this issue?

[2020-11-30 02:32] Reminiscent commented on #17808
Can not produce in the latest master.
[code]

The result is the same with MySQL8.0
@SunRunAway PTAL

[2020-11-30 02:36] wjhuang2016 commented on #19097
@AilinKid Any progress?

[2020-11-30 02:56] eurekaka commented on #15972
/pick

[2020-11-30 03:02] #21284 closed

[2020-11-30 03:12] #20978 closed

[2020-11-30 04:05] hidehalo commented on #11181
/give-up

[2020-11-30 04:30] hidehalo commented on #19499
/pick-up

[2020-11-30 05:01] sticnarf commented on #21355
The second case looks unlikely to happen. Transfer and region merge should not result in undetermined states before destroying the peer.
If a peer destroys itself after being orphan like https://github.com/tikv/tikv/issues/9113, the problem can happen. But it shouldn't be a problem if we add timeout to callback.

[2020-11-30 05:33] SunRunAway commented on #21263
PTAL @JinLingChristopher @qw4990

[2020-11-30 05:38] #21344 closed

[2020-11-30 06:04] Reminiscent commented on #16028
In the master 93c3e6becd5929cc37901d78d1f679cbc5d86342, the result is correct.
[code]

[2020-11-30 06:32] kolbe commented on #11691
Right, the MySQL protocol can support up to 1GB packets, that's been true ... forever. We can mark the column type differently to support larger values.

[2020-11-30 06:44] zier-one opened #21372 "found a data race in #21370"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

found a data race in #21370

see: https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/59744/pipeline

[code]

[2020-11-30 07:00] #21339 closed

[2020-11-30 07:01] ichn-hu commented on #21342
It depends on if @xiongjiwei is currently working on this or not.

@xiongjiwei are you still following this issue and will you propose a PR to fix it? Otherwise please let @xuhui-lu know that he/she could pick this issue.

[2020-11-30 07:07] 7yyo opened #21374 "dayofweek('0000-00-00') behavior is inconsistent with mysql"
## Description
## Bug Report

DDL
[code]

in TiDB
[code]

in MySQL
[code]

### 1. Minimal reproduce step (Required)

As above

### 2. What did you expect to see? (Required)

Behave the same as `mysql` , At least single quotes should not be empty .

### 3. What did you see instead (Required)

As above

### 4. What is your TiDB version? (Required)

*************************** 1. row ****************

[2020-11-30 07:09] xiongjiwei commented on #21342
@xuhui-lu hi, I am not working on this. You can pick up this issue.

[2020-11-30 08:16] jackysp opened #21377 "Not all autocommitted statements closed the transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The last statement should get "1, 2".

### 3. What did you see instead (Required)

It returns "1".

### 4. What is your TiDB version? (Required)

38324d329d56e15415111a563f950ff9796e2b80
https://github.com/pingcap/tidb/

[2020-11-30 08:30] backkem commented on #21056
Looks like initial support already landed in apache/arrow#8175 ([commit](https://github.com/apache/arrow/commit/c0dd2e2166f5f3a9c6b6a03c6983bd886de16c65#diff-4cd0e21a9a0795a14ec9aa5f0e7d1abff0492565770e43eafdf1e3e8afed1f33)).

[2020-11-30 08:35] #15972 closed

[2020-11-30 08:55] #18052 closed

[2020-11-30 09:01] kennytm commented on #11691
The maximum size is controlled by the [*client*'s `max_allowed_packet` setting](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_max_allowed_packet). The default value is 16 MiB (note that the `@@GLOBAL.max_allowed_packet` system variable reports the *server*'s `max_allow_packet` and is controlled independently from the client value).

Indeed, if we add a `create view g`

[2020-11-30 09:01] crazycs520 opened #21383 "optimize the list columns partition pruner"
### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-30 09:04] you06 opened #21384 "ddl: unexpected conflict error in parallel ddls"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Use [stmtflow](https://github.com/zyguan/sqlz/tree/master/tools/stmtflow) run this SQL file can reproduce.

[code]

### 2. What did you expect to see? (Required)

The DDLs executed successfully without error.

### 3. What did you see instead (Required)

There are co

[2020-11-30 09:30] #21102 closed

[2020-11-30 09:42] hidehalo commented on #19850
/pick-up

[2020-11-30 09:49] AilinKid commented on #19097
@tangenta is resorted to helping with this.

[2020-11-30 09:55] hidehalo commented on #19850
/give-up

@qw4990 @wshwsh12 can not be reproduced at latest master commit(c9288d246c99073ff04304363dc7234d9caa5090)

[2020-11-30 09:58] hidehalo commented on #19150
/pick-up

[2020-11-30 11:36] cfzjywxk commented on #21377
LGTM

[2020-11-30 11:56] #17332 closed

[2020-11-30 11:59] MyonKeminta opened #21391 "Changing column type uses old row format to rewrite new rows"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Then access `/mvcc/key/test/t/1` from TiDB's status port to get the mvcc data of the row.

### 2. What did you expect to see? (Required)

There are two versions of the row, and all encoded with new row format.

### 3. What did you see instead (Required)

[code]

The

[2020-11-30 12:59] zz-jason commented on #17699
it happens now: https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/59648/pipeline

[2020-11-30 13:01] sre-bot opened #21393 "DATA_RACE:sync/atomic.CompareAndSwapInt32() failed"
DATA_RACE:sync/atomic.CompareAndSwapInt32()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59744/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59765/display/redirect

[2020-11-30 13:01] sre-bot opened #21394 "integration_test.go:testIntegrationSerialSuite.TestPreferRangeScan failed"
integration_test.go:testIntegrationSerialSuite.TestPreferRangeScan

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59778/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59762/display/redirect

[2020-11-30 13:16] zz-jason commented on #16681
confirmed that it's fixed in v4.0.0:

[code]

[2020-11-30 13:33] #21377 closed

[2020-11-30 13:34] XuHuaiyu commented on #17979
The remained work for this task is to change the default value of `oom-action` from `log` to `cancel`.
It'll be release in v4.0.10.

[2020-11-30 13:34] XuHuaiyu commented on #20527
dup with https://github.com/pingcap/tidb/issues/17979

[2020-11-30 13:34] #20527 closed

[2020-11-30 13:40] crazycs520 opened #21397 "create list partition with wrong value should return error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-30 13:47] xiongjiwei commented on #21397
/assign @xiongjiwei

[2020-11-30 13:48] crazycs520 commented on #21397
@xiongjiwei https://github.com/pingcap/tidb/pull/21398 will fix this bug, I will add more test for list partition for list partition GA.

[2020-11-30 13:50] crazycs520 opened #21399 "create list partition return wrong error message"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-30 13:55] timeofeve opened #21400 "upgrade error"
## Bug Report
### 1. Minimal reproduce step (Required)
My tidb cluster version is v4.0.0，I need to upgrade to V4.0.8。

#### command
`tiup cluster upgrade mytidb v4.0.8`

#### Error
`Error: version v4.0.8 on linux/amd64 for component tikv not found`

![image](https://user-images.githubusercontent.com/34182549/100617445-7bf7b480-3355-11eb-90b7-c5cb4325e60d.png)

![image](https://user-images.githubus

[2020-12-01 02:54] shuke987 commented on #18836
All these bugs have been fix in v4.0.9, and this tool has been added to release testing. We will keep enhancing and running these tests in the background. Issue closed.

[2020-12-01 02:54] #18836 closed

[2020-12-01 03:30] lzmhhh123 commented on #20467
/assign @lzmhhh123

[2020-12-01 03:51] ichn-hu commented on #11437
/unassign @ichn-hu

[2020-12-01 04:14] #21290 closed

[2020-12-01 05:06] #21263 closed

[2020-12-01 05:27] hanlins commented on #18547
pick-up

[2020-12-01 05:27] hanlins commented on #18547
/pick-up

[2020-12-01 05:32] dyzsr commented on #17737
/assign

[2020-12-01 05:46] #21321 closed

[2020-12-01 05:57] ichn-hu commented on #9871
@wjhuang2016 I guess we could close this issue as a won't fix and create a new issue that describes more explicitly about fixing the overflowing behavior of casting intergers?

[2020-12-01 06:00] wjhuang2016 commented on #9871
I think it's ok since this is not a big problem.

[2020-12-01 06:08] #20876 closed

[2020-12-01 06:21] ichn-hu commented on #9871
/label type/wontfix

[2020-12-01 06:22] ichn-hu commented on #9871
Please help close it~

[2020-12-01 06:22] #21384 closed

[2020-12-01 06:27] #11425 closed

[2020-12-01 06:33] #9871 closed

[2020-12-01 06:48] tiancaiamao commented on #20129
I'll take a look

[2020-12-01 06:50] tiancaiamao commented on #13849
I think it's safe to close this now, there is no report about it for a long time.

[2020-12-01 06:50] #13849 closed

[2020-12-01 06:53] lzmhhh123 commented on #20467
/pick-up

[2020-12-01 06:57] tiancaiamao commented on #13289
This issue is quite old and we never see it recently, so I'll close it.

[2020-12-01 06:57] #13289 closed

[2020-12-01 07:05] qw4990 commented on #18048
Sorry for my late reply. Could you please give me your `go.mod`? I cannot reproduce this problem now. @csuzhangxc

[2020-12-01 07:05] #16028 closed

[2020-12-01 07:07] qw4990 commented on #18048
Since this problem only occurs in `mockstore`, its severity is degraded to minor.

[2020-12-01 07:22] Reminiscent commented on #16571
/assign

[2020-12-01 07:30] xiongjiwei commented on #19697
it is the same reason as #19521. we should keep our behavior since `find_in_set` is compatible with this case.

[2020-12-01 07:46] wjhuang2016 commented on #14411
Duplicate with https://github.com/pingcap/tidb/issues/20217

[2020-12-01 07:46] #14411 closed

[2020-12-01 07:46] timeofeve commented on #21400
I have resolved the problem that the remote mirror repository was modified to cause locally.

[2020-12-01 08:17] bb7133 commented on #20608
It's a very cornered case that (IMH) rarely met by the users, so I decide not to backport to existing releases.

[2020-12-01 08:30] dyzsr opened #21414 "Wrong result of correlated aggregates"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL 8.0.22

[code]

### 3. What did you see instead (Required)

`count(n.a + a)` contains columns from both outer query and subquery, so it should be evaluated inside subquery.

[code]

### 4. What is your TiDB versio

[2020-12-01 08:59] ichn-hu opened #21416 "Cast float/double to string is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-01 08:59] ichn-hu commented on #21416
/label component/expression

[2020-12-01 08:59] xiongjiwei commented on #20608
actually, any multiple bytes Unicode character will meet this error if we use the same count `_` with the character bytes.

[2020-12-01 09:02] #21326 closed

[2020-12-01 09:04] ichn-hu commented on #21416
/label severity/minor

[2020-12-01 09:11] ichn-hu commented on #21416
/unlabel type/bug

[2020-12-01 09:11] ichn-hu commented on #21416
/label type/compatibility

[2020-12-01 09:11] pepezzzz commented on #17688
@breeswish  Please help develop a simple one, end-user dba can oberseve the duration per database.
like https://github.com/pingcap/tidb/issues/19360

[2020-12-01 09:11] ichn-hu commented on #21416
/unlabel severity/minor

[2020-12-01 09:32] ichn-hu commented on #21416
https://dev.mysql.com/doc/internals/en/floating-point-types.html this post might be helpful if want to fix this compatibility issue.

[2020-12-01 09:38] dyzsr commented on #21414
/label sig/planner

[2020-12-01 09:48] wjhuang2016 commented on #8192
TiDB doesn't support `select 1 into @var`, so I turn this issue into a feature request.

[2020-12-01 11:14] qw4990 commented on #21335
PTAL @cfzjywxk @lysu

[2020-12-01 11:17] wjhuang2016 commented on #11410
@july2993  Because it doesn't lead to an incorrect result, we don't have a plan to fix this issue. Can we mark it as won't fix and close?

[2020-12-01 11:25] tiancaiamao commented on #20129
I believe the original case and the recent one are not the same problems, although they both report data race in `session.(*session).Parse()`

In the original case, one goroutine write in `Parse()` and another read in `FinishExecuteStmt()`,  the data race happen in https://github.com/pingcap/tidb/blob/90c7987763924ed82f759dad699805f753271800/session/session.go#L1201 or https://github.com/pingcap/t

[2020-12-01 11:25] #20320 closed

[2020-12-01 11:35] #8623 closed

[2020-12-01 11:41] wjhuang2016 commented on #8824
Close this issue because it's no active for a long time.

[2020-12-01 11:41] #8824 closed

[2020-12-01 11:46] #14116 closed

[2020-12-01 11:54] wjhuang2016 commented on #12207
Confirm that this issue had been fixed in master.
[code]

[2020-12-01 11:54] #12207 closed

[2020-12-01 11:56] wjhuang2016 commented on #12208
Confirm that this issue had been fixed in master.

[code]

[2020-12-01 11:56] #12208 closed

[2020-12-01 11:58] wjhuang2016 commented on #12204
Confirm that this issue had been fixed in master.

[code]

[2020-12-01 11:58] #12204 closed

[2020-12-01 12:08] wjhuang2016 commented on #14753
Close this issue according to @csuzhangxc

[2020-12-01 12:08] #14753 closed

[2020-12-01 12:11] wjhuang2016 commented on #17419
@SunRunAway PTAL

[2020-12-01 12:13] wjhuang2016 commented on #17808
I try `CREATE TABLE t1(c0 INT) PARTITION BY HASH((NOT c0)) PARTITIONS 2;`:

[code]

But in MySQL:
[code]

[2020-12-01 12:55] qw4990 commented on #21250
After discussion, we find the Limit cannot be pushed down to the table side in this case since rows read from the index side would be reordered before being sent to the table side.

[2020-12-01 13:00] sre-bot opened #21422 "db_test.go:testDBSuite5.TestAddPrimaryKeyRollback1 failed"
db_test.go:testDBSuite5.TestAddPrimaryKeyRollback1

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/59898/display/redirect

[2020-12-01 13:04] ichn-hu commented on #11674
Can't reproduce, the `float(64)` syntax is alread deprecated and not supported anymore.

[2020-12-01 13:05] ichn-hu commented on #11674
/assign @ichn-hu

[2020-12-01 13:07] ichn-hu commented on #11674
@lzmhhh123 Please help close it.

[2020-12-01 13:08] #11976 closed

[2020-12-01 13:13] ichn-hu commented on #13004
/assign @ichn-hu

[2020-12-01 13:18] ichn-hu commented on #13004
error stack

[code]

[2020-12-01 15:03] ou-bing commented on #17726
/pick-up

[2020-12-02 01:43] Reminiscent commented on #21414
/assign

[2020-12-02 01:52] zz-jason commented on #21414
does it affect release 4.0?

[2020-12-02 02:14] TszKitLo40 commented on #15284
/pick-up

[2020-12-02 03:02] #20878 closed

[2020-12-02 03:05] bobotu commented on #20932
Closed by #20920

[2020-12-02 03:05] #20932 closed

[2020-12-02 03:16] #20573 closed

[2020-12-02 03:31] wjhuang2016 commented on #19097
@tangenta Any progress?

[2020-12-02 03:45] tiancaiamao commented on #13397
This issue is old and maybe the PD or environment problem has gone, so I'll close it.

[2020-12-02 03:45] #13397 closed

[2020-12-02 03:51] ichn-hu commented on #9918
/assign @ichn-hu

[2020-12-02 03:58] hanlins commented on #18547
Reproduced the issue locally. The issue is caused by context cancellation handling. Originally just return `nil` when the task is cancelled, and caused the `nil` pointer panic later. This issue seems has been fixed in f5fa3e7aa753f98c9d3061598fd14b9522e31911. If needed I could add some tests to prevent from regression, or backport the fix to previous releases, otherwise the issue has been technica

[2020-12-02 04:03] hanlins commented on #18547
Fixed by https://github.com/pingcap/tidb/pull/19235 @lzmhhh123 .

[2020-12-02 04:09] wjhuang2016 commented on #21033
No, you can try it!

[2020-12-02 04:18] #17817 closed

[2020-12-02 04:41] #20129 closed

[2020-12-02 05:02] TszKitLo40 commented on #20256
@breeswish @crazycs520 Can I try this issue?

[2020-12-02 05:10] djshow832 opened #21426 "Check partition placement constraints when local transactions read data"
## Background

Issue #20827 proposes to forbid local transactions to write partitions placed at other DC. It intends to avoid lost updates because the local timestamps from 2 DC are not monotonically increasing.

In that proposal, local transactions are allowed to read partitions placed at other DC. However, this may violate linearizability. So this issue proposes to also check placement constrain

[2020-12-02 05:11] Yisaer opened #21427 "estimate the memory consuming spike for the coprocessor"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In this request https://github.com/pingcap/tidb/pull/21168, we use `ratelimit` to limit the max count of cached response size in the tidb-server for one query. The coprocessor is response for the fetching data from storage and works as a `producer/consumer` model. There exists multiple workers(as producer) try

[2020-12-02 05:21] dyzsr commented on #21414
4.0 is also affected. And I think the cause of this issue is the same with https://github.com/pingcap/tidb/issues/17737

[2020-12-02 05:29] Yisaer commented on #21426
Maybe We can check the placement constraint in the `TableReaderExecutor.buildResp`? This `Executor` is responsible for the building the request and then send to the TiKV.

We can check the `txn-scope` and the request data range with placement policy here. No sure whether this could handle all this cases mentioned is this issue. @zz-jason  WDYT?

[2020-12-02 05:35] GMHDBJD commented on #18048
[test.tar.gz](https://github.com/pingcap/tidb/files/5627183/test.tar.gz)
I reproduce with master tidb.(both mocktikv and unistore)

[2020-12-02 05:49] #21118 closed

[2020-12-02 06:06] Yisaer opened #21428 "Provide detail for coprocessor's ratelimit action in explain analyze"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, the `operator info` and `execution info` didn't provide the detail information about its `oom action`.

For exmaple, for the following query:

[code]
We can provide the `initial ratelimit's token count` for the `TableFullScan` in the `operator info` and the `discarded token count` in the `execution i

[2020-12-02 06:09] ichn-hu commented on #21416
Also, `appendFormatFloat` function in `server/util.go` might be helpful.

[2020-12-02 06:12] ichn-hu opened #21429 "Support cast as year in TiDB"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The following syntax is currently not supported in TiDB, however it is supported in MySQL 8.0:

Note that cast as year is not supported in MySQL 5.6 as well.

[code]

In TiDB:

[code]

In MySQL 8.0:

[code]

In MySQL 5.6:

[code]

[2020-12-02 06:12] ichn-hu commented on #21429
/label sig/execution

[2020-12-02 06:31] ichn-hu commented on #21374
/lable sig/execution severity/minor

[2020-12-02 06:31] ichn-hu commented on #21374
/label sig/execution severity/minor

[2020-12-02 06:39] ichn-hu commented on #21374
/label sig/execution, severity/minor

[2020-12-02 06:42] XuHuaiyu commented on #21414
Is this issue dup with https://github.com/pingcap/tidb/issues/18350?

[2020-12-02 06:46] dyzsr commented on #21414
No. This one evaluates aggregate function in subquery, but in #18350 it should be evaluated in outer query.

[2020-12-02 07:21] #21397 closed

[2020-12-02 07:21] #21399 closed

[2020-12-02 07:27] ChenPeng2013 opened #21433 "SPM: capture baseline failed because of Unknown query block name in hint hash_join(@`sel_-1` ``)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
capture baseline successed
### 3. What did you see instead (Required)

[2020/12/02 15:24:30.977 +08:00] [INFO] [handle.go:641] ["capture baseline failed"] [SQL="SELECT * FROM bhmsac WHERE ROW(aeqxmv,avasr) IN (SELECT xkmr

[2020-12-02 07:34] zhouyueyue1115 opened #21434 "TiUP show the error message:unknown configuration options:txn-total-size-limit when txn-total-size-limit exceed 10G."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

the user modifies the value of `txn-total-size-limit` to 20G, and then reload the cluster. But the TiUP log shows the message: unknown configuration options:`txn-total-size-limit`.

### 2. What did you expect to see? (Required)

TiUP log should show: txn-total-size-limit is

[2020-12-02 07:47] zhouyueyue1115 opened #21435 "the value of the `txn-total-size-limit` parameter is different in many tidb-server, and the large transactions may not execute normally."
## Feature Request

**Is your feature request related to a problem? Please describe:**

the value of the `txn-total-size-limit` parameter is different in many tidb-server, and the large transactions may not execute normally. Also, there is no warning or check for me to find this problem.
**Describe the feature you'd like:**

after I modify the configuration or scale out a tidb-server, TiUP can che

[2020-12-02 07:50] #12065 closed

[2020-12-02 08:16] ichn-hu commented on #11200
I guess you could either pass these fields to the `overflow` function if convenient, or catch the `ErrOverflow` error along the way where the fields information can be obtained easily and reconstruct the error.

[2020-12-02 08:27] crazycs520 opened #21437 "error message of list partition table has no partition is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-02 08:28] djshow832 commented on #21426
Some other operators are missed. AFAIK, `PointGetExecutor`, `BatchPointGetExec`, `IndexReaderExecutor`, `IndexMergeReaderExecutor` will read table data, and they may appear without `TableReaderExecutor`.

Some other operators are missed. AFAIK, `PointGetExecutor`, `BatchPointGetExec`, `IndexReaderExecutor`, `IndexMergeReaderExecutor` will read table data, and they may appear without `TableReaderEx

[2020-12-02 08:33] #14911 closed

[2020-12-02 08:44] tiancaiamao commented on #21393
This DATA RACE is caused by `updateStatsWorker` and `autoAnalyzeWorker` https://github.com/pingcap/tidb/blob/d9be31c5bfdcf1034e928d39c05b8483c92bbfff/domain/domain.go#L1105-L1108

They both run in a background goroutine and they both use the `do.statsHandle`, so they visit and modify the same `sessionctx.StmtCtx ` and result in the DATA RACE.

[2020-12-02 09:19] eurekaka commented on #21433
https://github.com/pingcap/tidb/pull/20675 would fix this issue.

[2020-12-02 09:20] ChenPeng2013 opened #21440 "SPM: capture baseline failed and TiDB doesn't have any log information"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-12-02 09:30] eurekaka commented on #21440
Capture / Evolve would skip those PointGetPlan queries. PointGet plans would always be chosen if available, so there is no need to create bindings for them.

[code]

[2020-12-02 09:33] #21440 closed

[2020-12-02 10:54] lysu opened #21441 "Support lazy open union children"
## Development Task

In #19827, we support concurrency control for  Union's children execution.

but Union executor still `Init` all children before execute `Next`

init children will cause sub-plan nodes's `Init` be called

combined with #14320, partition table will make the "buildCopTasks takes too much time" problem even worse.

so for a partition table with 128 partitions

[code]
it will build

[2020-12-02 12:15] #20732 closed

[2020-12-02 14:14] blacktear23 commented on #18396
I think we also need a parallel level control and rate limitation policy to prevent DDL job eat all disk IO. And there also should be a method to online reduce the parallel level.

[2020-12-02 15:17] kennytm opened #21445 "Generated columns can be wrongly moved before its referred columns"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The `alter table modify column` statement should fail with

[code]

### 3. What did you see instead (Required)

The `alter table modify column` statement succeeds, and the final `select` returns

[code]

should be relat

[2020-12-02 17:53] morgo opened #21446 "Add information_schema.variables_info view"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This is a subset of an earlier proposal https://github.com/pingcap/tidb/issues/19332

The behavior of instance scoped variables is still being discussed, but part of the proposal which can be decoupled is `information_schema.variables_info`.

**Describe the feature you'd like:**

MySQL 8.0 exposes meta-data abo

[2020-12-02 18:20] hanlins commented on #18547
I've reproduced the issue locally and with the fix mentioned above, the issue is gone. @ChenPeng2013 can you verify if this issue is still there in latest master? If not then we can resolve this issue and backport the fix if necessary.

[2020-12-02 18:51] morgo commented on #18396
For online reconfiguration, may I suggest using `SET GLOBAL sys_var = newvalue`?

In https://github.com/pingcap/tidb/pull/21424 I am working on a way for changing sessionvars to execute arbitrary code. It is a little bit more complicated for globalvars because the semantics need to be worked out for the local instance + other tidb instances.

[2020-12-03 01:29] cosven commented on #21434
/label severity/minor

[2020-12-03 01:32] cosven commented on #21433
/label severity/moderate

[2020-12-03 01:41] cfzjywxk opened #21447 "txn: read using different executors in transaction result in different results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

If the child of update is `tableScan`
[code]

### 2. What did you expect to see? (Required)

`t2` will return same results using different executors.

### 3. What did you see instead (Required)

`t2` returns the snapshot value for `tableScan` but current value for `

[2020-12-03 02:13] cosven commented on #21445
/label severity/critical

[2020-12-03 02:15] #20626 closed

[2020-12-03 02:31] heming79 opened #21448 "start with multi-ip addresses `--advertise-address=192.168.7.210 xxx.xxx.18.210` couldn't connect server success"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Tidb 4.0.7 vim /etc/hosts
192.168.7.210 yz-mbg-018210
xxx.xxx.18.210 yz-mbg-018210
hostname -i 输出  192.168.7.210 xxx.xxx.18.210
启动tidb 会导致启动参数 --advertise-address=192.168.7.210 xxx.xxx.18.210
此时4000端口监听正常 ，但是 mysql连接报授权失败

### 2. What did you expect to see? (Required)
希望做一下

[2020-12-03 02:37] heming79 commented on #21448
或者检查一下 为什么这种情况tidb服务不可用

[2020-12-03 03:02] #21140 closed

[2020-12-03 03:28] zhongzc opened #21451 "Aggregation `MIN/MAX` for `ENUM/SET` is incompatible with MySQL"
## Bug Report

From MySQL manual https://dev.mysql.com/doc/refman/5.7/en/aggregate-functions.html#function_max:

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

MySQL 5.7:

[code]

[code]

### 3. What is your TiDB version? (Required)

5723034c061711107ecc2edc0fbc97d366e8396e

[2020-12-03 03:37] djshow832 opened #21452 "Allocate local TSO for other modules except for transactions"
## Background

Besides fetching start ts and commit ts for transactions, there are other situations where we need to fetch TSO:
- Lock resolver, which resolves locks that are expired. It needs a current TSO to compare it with the TSO of existing transactions.
- TTL manager, which keeps some transactions alive and ends expired transactions. It needs a current TSO to compare it with the TSO of exist

[2020-12-03 03:43] ChenPeng2013 opened #21454 "SPM: create binding failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
create global binding successed

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-03 03:45] zhongzc opened #21455 "Builtin function `MAKETIME` produces wrong results"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

returns

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What is your TiDB version? (Required)

5723034c061711107ecc2edc0fbc97d366e8396e

## Score
- 200

## Mentor
- @zhongzc

[2020-12-03 03:46] ChenPeng2013 opened #21457 "SPM: confusing warning"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-12-03 03:50] Reminiscent commented on #17808
What's your TiDB version?

[2020-12-03 04:01] LENSHOOD commented on #14266
/pick-up

[2020-12-03 04:03] #1034 closed

[2020-12-03 04:32] lysu commented on #21448
thanks for your feedback.

yes, `-advertise-address` should add check, but it seems there are some misunderstand for you about `advertise-address` usage.

First, for go's `flag.String`, you can not split multiple parameters with SPACE(" "), so for your command tidb only recieve `192.168.7.210`.
Second, `-advertise-address` only a advertise address to others, real bind host is `-host`(why need two

[2020-12-03 04:33] wjhuang2016 commented on #17808
master. Note that the given SQL is wrong, should be `HASH((NOT c0))`, not `HASH(NOT c0)`.

[2020-12-03 05:35] Andrewmatilde opened #21463 "[bug] date_add with date arguments give invalid when output"
## Bug Report

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)
![image](https://user-images.githubusercontent.com/32479514/100968509-6dcfb100-356c-11eb-98c3-247baffe47cd.png)

### 3. What did you see instead (Required)
![image](https://user-images.githubusercontent.com/32479514/100968407-411b9980-356c-11eb-93e8-3364de6847a4.png)
### 4. What is your TiDB vers

[2020-12-03 05:43] #21463 closed

[2020-12-03 05:44] Andrewmatilde commented on #21463
not a tidb bug

[2020-12-03 06:08] #11674 closed

[2020-12-03 06:12] ichn-hu commented on #21451
I would argue that this should be a compatibility issue, and MySQL's inconsistency with `order by` on min/max would really cause confusion. @nullnotnil @SunRunAway What do you think?

[2020-12-03 06:29] #19663 closed

[2020-12-03 06:33] Yisaer commented on #21426
How about both checking the constraint in the `store/tikv/coprocessor` (covered table scan cases) and the `kv.snapshot`?(covered pointGet cases).

[2020-12-03 06:39] cfzjywxk opened #21465 "ddl: primary column flag changed after alter table statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Do the `alter table`
[code]

Check the flags again
[code]
There will be a new `NO_DEFAULT_VALUE NUM` on the primary key column but we changed nothing.

### 2. What did you expect to see? (Required)
A new flag `NO_DEFAULT_VALUE ` is added onto the new column.

### 3.

[2020-12-03 06:43] #20598 closed

[2020-12-03 06:53] SunRunAway commented on #21446
I actually don’t really recommend putting variables in the tidb‘s table

for example:
Now enable a log_redact configuration, users need to change PD's configuration, tiflash's configuration, and tidb's.

It's ideal that after setting @@global.tidb_redact_log=1, all components can read it.

If we put the variable in the tidb's table, it will be difficult to read when other components are started, b

[2020-12-03 07:02] cfzjywxk commented on #21465
@bb7133 @wjhuang2016 PTAL

[2020-12-03 07:12] #21288 closed

[2020-12-03 07:18] #20471 closed

[2020-12-03 08:09] ou-bing commented on #20139
/pick-up

[2020-12-03 08:11] eurekaka commented on #21457
The bug is introduced by https://github.com/pingcap/parser/pull/1004.

[2020-12-03 08:33] MyonKeminta opened #21470 "Amending transaction accepts DDLs that changes column types but gives wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

| session 1 | session 2 | |
|--|--|--|
| `begin;` | | |
| `insert into t values (1, "123456789");` | | |
| | `alter table t modify column v varchar(5);` | |
| `commit;` | | |
| `select * from t;` | | Gets `(1, NULL)` |

### 2. What did you expect to see? (Required)

[2020-12-03 08:38] cfzjywxk commented on #21470
The new feature on master branch `Change column type` should not be allowed for txn amend, this is a incompatibily for two new features on the master branch. We need to add check for this column type change doing amend.

[2020-12-03 08:46] #20567 closed

[2020-12-03 08:57] #20795 closed

[2020-12-03 09:16] lzmhhh123 commented on #20467
/pick-up

[2020-12-03 09:18] wjhuang2016 commented on #10484
Confirm that this bug had been fixed in both mater and release 4.0.
[code]

[2020-12-03 09:18] #10484 closed

[2020-12-03 09:26] wjhuang2016 commented on #11210
Close this issue because the bug had been fixed by #19709.

[2020-12-03 09:26] #11210 closed

[2020-12-03 09:30] #21445 closed

[2020-12-03 09:34] eurekaka commented on #21454
Hmmm, this is the same problem as `DELETE USING`. Here is the rule for JOIN:

[code]

The parser is supposed to know the second rule cannot apply because there is no `(` after `USING` in the query, and then apply rule 1 for the select statement, thus the `USING` is resolved to be the syntax of `CREATE BINDING`. However, the parser does not work as our expectation now, which behaves same as `DELETE

[2020-12-03 09:46] #21465 closed

[2020-12-03 09:58] ichn-hu commented on #17856
I can reproduce it on commit 88dfb22, but not on current master, therefore it has already been fixed, please help close it. @lzmhhh123

[2020-12-03 10:05] #20467 closed

[2020-12-03 10:10] ChenPeng2013 opened #21475 "SPM: the captured binding has _utf8mb4 encoding"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-03 10:39] #20295 closed

[2020-12-03 10:59] 3pointer opened #21478 "binlog: do not write prewrite log duplicated in commit."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. if [`doCommit`](https://github.com/pingcap/tidb/blob/081e3a99c5118c250044e294d53b865083a307f0/session/session.go#L498) failed. every time retry will send same [prewrite](https://github.com/pingcap/tidb/blob/051285a572587a3f92ddcd2e25b007bf1c0f7a10/store/tikv/2pc.go#L1088)

[2020-12-03 11:14] cosven opened #21479 "tidb restart infinitely"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I don't know how to reproduce.

I run [a tipocket case](https://github.com/pingcap/tipocket/blob/master/cmd/rawkv-linearizability/main.go) with release-4.0 pd/tikv/tidb on K8s. After about 8 hours, the tidb crashed and restart infinitely.

### 2. What did you expect to see?

[2020-12-03 11:15] wjhuang2016 commented on #18147
Close this issue because it does not happen for a long time, feel free to open it if it happens again.

[2020-12-03 11:15] #18147 closed

[2020-12-03 11:35] xiongjiwei commented on #21475
I think this is expected. the `sql` after restore will have charset information. it is by-design

[2020-12-03 11:39] #21330 closed

[2020-12-03 12:21] TszKitLo40 commented on #17597
Can this issue still be picked up?

[2020-12-03 13:01] sre-bot opened #21481 "admin_test.go:testSuite5.TestClusteredAdminCleanupIndex failed"
admin_test.go:testSuite5.TestClusteredAdminCleanupIndex

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60121/display/redirect

[2020-12-03 13:28] #21218 closed

[2020-12-03 13:42] #20071 closed

[2020-12-03 14:37] jackwener commented on #20890
/pick-up

[2020-12-03 15:15] morgo commented on #21446
That makes sense to me too, but it can be handled independent of this task. `Information_schema.variables_info` is a view, and won't make any changes to persistence.

The meta data it shows is read from `variable.sysVars map[string]*SysVar` and `SessionVars.systems map[string]string` through accessor methods (`SessionVars.systems` is populated by `mysql.GLOBAL_VARIABLES`, but that does not need to

[2020-12-03 15:30] morgo commented on #21475
I think it's a bug. It should be able to rely on `charset` and `collation`, but these columns are empty. For a similar MySQL example, here is `CREATE VIEW`:

[code]

[2020-12-03 16:14] #20662 closed

[2020-12-03 16:50] kennytm opened #21485 "MySQL compatibility - Support @@div_precision_increment"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

MySQL (at least since 5.6) has [the `@@div_precision_increment` system variable](https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_div_precision_increment) which controls the precision of division result (default is 4). If we compute `p/q` where `p

[2020-12-03 16:52] kennytm commented on #21485
/label  component/expression,  sig/execution,  type/compatibility

[2020-12-03 17:32] kennytm opened #21486 "VALUES statement panics"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Execute the [VALUES statement](https://dev.mysql.com/doc/refman/8.0/en/values.html)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

The connection thread panics.

[code]

[code]

### 4. What is your TiDB version? (

[2020-12-03 17:34] kennytm commented on #21486
/label  sig/planner

[2020-12-03 18:44] kennytm commented on #19934
We should reopen this. #20314 only updated the parser deps, but did not actually implement the feature. Currently using TABLE and VALUES statement just crashes (#21486).

[2020-12-03 22:08] morgo commented on #16150
Confirming that this bug has been fixed in master:
[code]

[2020-12-03 22:43] morgo commented on #13750
This is actually a duplicate of https://github.com/pingcap/tidb/issues/20133 - the options in TiDB have a specific order requirement, but MySQL does not. See the following testcase:

[code]

[2020-12-04 01:55] morgo commented on #11952
The behavior has changed slightly in master after https://github.com/pingcap/tidb/pull/20206 merged. The insert statement now fails as expected:

[code]

The issue is only with DDL. The expected result is:
[code]

[2020-12-04 01:59] morgo commented on #8637
This issue can now be closed. Confirming against master:

[code]

There is one remaining issue, which is specific to `ALTER TABLE`. The issue https://github.com/pingcap/tidb/issues/11952 is tracking it.

[2020-12-04 02:26] tangenta commented on #19097
I tried to extract `lock-clause` and `into-clause` to an upper level, but the shift/reduce conflicts is hard to resolve. Can we throw the syntax error in the semantic action?

[2020-12-04 02:34] #20853 closed

[2020-12-04 02:55] #14636 closed

[2020-12-04 03:31] #20509 closed

[2020-12-04 03:34] crazycs520 opened #21489 "Optimize the performance of slow_query and log-search In many files scenarios"
## Development Task

When the `tidb_slow_query.log` and `tidb.log` files more than 1000, query `CLUSTER_SLOW_QUERY` and `CLUSTER_LOG` will be very slow. This issue uses to optimize the performance in this scenario.

- [x] Fix cancel log-search as soon as possible. https://github.com/pingcap/tidb/pull/21373
- [ ] Fix cancel query `SLOW_QUERY` as soon as possible. https://github.com/pingcap/tidb/pul

[2020-12-04 03:46] lzmhhh123 commented on #20060
/pick-up
/assign @lzmhhh123

[2020-12-04 03:46] lzmhhh123 commented on #20060
/assign @lzmhhh123

[2020-12-04 04:22] wjhuang2016 commented on #19097
You can ask amao or kenny for help.

[2020-12-04 05:14] xiongjiwei commented on #21342
@xuhui-lu friendly Ping! will you pick this issue up?

[2020-12-04 05:27] #20481 closed

[2020-12-04 05:29] wjhuang2016 commented on #14653
Duplicated with #17762, let it tracks this test.

[2020-12-04 05:29] #14653 closed

[2020-12-04 05:30] #20483 closed

[2020-12-04 05:41] #21452 closed

[2020-12-04 05:54] lzmhhh123 commented on #20060
I have tested the fail case `'~' REGEXP '[[.~.]]'` with some other reg engines. The pattern string is regarded as `[\[\.\~\.]\]`. So in my option, we don't need to fix it. It's a bug from MySQL.

[2020-12-04 05:55] #20060 closed

[2020-12-04 06:12] lzmhhh123 commented on #18281
This race has been fixed. https://github.com/pingcap/tidb/pull/18266

[2020-12-04 06:12] #18281 closed

[2020-12-04 06:12] xiongjiwei commented on #14266
/assign @LENSHOOD
the different result may be caused by different go version

[2020-12-04 06:13] xiongjiwei commented on #14266
/assign @LENSHOOD

[2020-12-04 06:14] xiongjiwei commented on #14266
the different result may be caused by different go version

[2020-12-04 06:15] lzmhhh123 commented on #17351
Could be fixed by #21150

[2020-12-04 06:24] XuHuaiyu opened #21494 "the log level of the error which is caused by OOMAction should be refined"
## Development Task

### Background

When [oom-action](https://docs.pingcap.com/zh/tidb/stable/tidb-configuration-file#oom-action) is set to cancel, panic will be triggered to cancel the SQL if the memory usage of a SQL exceeds [mem-quota-query](https://docs.pingcap.com/zh/tidb/stable/tidb-configuration-file#mem-quota-query).
With the [recover](https://blog.golang.org/defer-panic-and-recover) mech

[2020-12-04 06:28] #21393 closed

[2020-12-04 06:51] TszKitLo40 commented on #20256
/pick-up

[2020-12-04 07:00] Reminiscent commented on #17808
/label sig/ddl

[2020-12-04 07:19] tiancaiamao commented on #20019
The problem exists after `set @@tidb_partition_prune_mode = 'dynamic-only'` which is not the default configuration.
So I change the label to severity/minor.

[2020-12-04 07:29] #21391 closed

[2020-12-04 07:59] MyonKeminta opened #21498 "RC transactions may see inconsistent data when there are concurrent DDLs"
## Bug Report

**The reason**:  In the current implementation of RC transaction, it fetches a latest ts to read data for each read statement. However it always uses the schema at the transaction's startTS (if I'm correct). So if the schema changed while the transaction is running, the transaction may see data that doesn't match the definition of the schema.

### 1. Minimal reproduce step (Required

[2020-12-04 08:25] #17762 closed

[2020-12-04 08:25] #21422 closed

[2020-12-04 08:55] eurekaka commented on #21475
This issue is pretty complicated.

First of all, an awkward fact is that `charset` and `collation` of bindings are not used actually now. The bindings are only used in 2 scenarios:
1) in `Optimize()` to bind a plan for a SQL. In this case, we only care about the hints of the binding, specifically, we directly inject the hints into the parsed `StmtNode` of the query, which has right charset / colla

[2020-12-04 09:49] wjhuang2016 commented on #21479
We used "mBootstra\\xffpKey\\x00\\x00\\x00\\x00\\xfb\\x00\\x00\\x00\\x00\\x00\\x00\\x00s" to locate the region, and found:
[code]

It seems that the start_key is invalid.

Nota that the TiKV is built on https://github.com/tikv/tikv/pull/9112, not sure if it's caused by this PR.

[2020-12-04 09:57] tiancaiamao commented on #21441
There is such an attempt some time ago  https://github.com/pingcap/tidb/pull/16815

[2020-12-04 09:59] xuhui-lu commented on #21342
/assign @xuhui-lu

[2020-12-04 10:04] tangenta opened #21502 "clustered index + old row format + transaction, delete from t index out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Restart session.

[code]

### 2. What did you expect to see? (Required)

Query OK.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master `c3fac5a2c41f43f1000e87476b8928b10c4c005b`

[2020-12-04 10:45] ichn-hu commented on #17780
/pick

[2020-12-04 10:45] ichn-hu commented on #17780
/pick-up

[2020-12-04 10:50] wjhuang2016 commented on #21502
I test it based on #20220, it doesn't report error:
[code]

So maybe this issue is duplicated with https://github.com/pingcap/tidb/issues/19942

[2020-12-04 10:59] #11177 closed

[2020-12-04 11:08] wjhuang2016 commented on #21481
![image](https://user-images.githubusercontent.com/17380469/101156623-d5b4f300-3663-11eb-9ba5-fc6a2a10bf17.png)
This is caused by #21365, and it's been fixed before the PR got merged.
So, this is a false postive.

[2020-12-04 11:08] #21481 closed

[2020-12-04 11:51] lysu commented on #16681
it doesn't full fixed, `partition by range columns(...)` still cannot be pruned if using `in`

[code]

[2020-12-04 11:51] jackwener commented on #21455
/pick-up

[2020-12-04 12:25] cosven commented on #21479
The test case puts key-value into tikv with rawkv client and the region start key `3939383633` is put by the test case.

TiDB decodes the region start key(`3939383633`) with tidb codec and return error `insufficient bytes to decode value`
https://github.com/pingcap/tidb/blob/d2552961a52719982eb8f78f44fa52b06235ba20/store/tikv/pd_codec.go#L31-L35

[2020-12-04 12:26] #21479 closed

[2020-12-04 12:29] #21314 closed

[2020-12-04 12:34] zyguan opened #21506 "`insert ... select ...` can read latest data even under RR level"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Either `t2` should be blocked or the second insert of `t1` failed with duplicated error.

### 3. What did you see instead (Required)

The second insert of `t1` succeed.

### 4. What is your TiDB version? (Required)

rel

[2020-12-04 13:34] wjhuang2016 commented on #7663
Close this issue because it can not reproduce.

[2020-12-04 13:34] #7663 closed

[2020-12-04 13:45] wjhuang2016 commented on #3037
Close this issue because it's not active for a long time. For the beginning question, @nullnotnil has given an answer.

[2020-12-04 13:45] #3037 closed

[2020-12-05 03:47] jackwener commented on #21455
/pick-up

[2020-12-05 03:52] zhongzc commented on #21455
@ichn-hu Could you help add the `challenge-program` label?

[2020-12-05 06:41] zyguan opened #21509 "Unexpected constant overflow error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The last query returns the same result without error.

### 3. What did you see instead (Required)

It failed with `constant 20201205010203 overflows int`.

### 4. What is your TiDB version? (Required)

release-4.0 (2862

[2020-12-05 09:28] #21291 closed

[2020-12-05 11:54] sev7ndayyoo commented on #21437
/pick-up

[2020-12-06 00:08] kennytm opened #21510 "@@global.default_week_format was not immediately loaded on new session, causing week() to use the wrong mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

First, change the global default_week_format

[code]

Then execute week() in a new connection.

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

The first execution of `week('2020-02-02')` used mode 0 instead

[2020-12-06 00:11] kennytm commented on #21510
/label  component/session,sig/DDL

[2020-12-06 06:07] jackwener commented on #21455
/pick-up

[2020-12-06 10:52] dbsid commented on #15351
Seems the development for this feature is on hold. For analytical query, this feature is critical for performance improvement.

For example the plan snippet from TPCDS query71.sql, for the hash join between date_dim and store_sales, the majority of elapsed time is on the TableReader and the following HashJoin. If bloom filter pushdown(to TiFlash or TiKV) is implemented. The actual rows the TiDB ne

[2020-12-07 01:20] tiancaiamao commented on #21030
Why setting global variables affect this test result?  @xiongjiwei

[2020-12-07 02:15] xiongjiwei commented on #21030
global variable `tidb_slow_log_masking`  aka `tidb_redact_log` is used to hidden sensitive data in log.

[2020-12-07 02:57] #21030 closed

[2020-12-07 02:57] #21154 closed

[2020-12-07 02:57] #21264 closed

[2020-12-07 03:06] morgo commented on #21037
Closing as a duplicate of https://github.com/pingcap/tidb/issues/14766 , Thanks!

[2020-12-07 03:06] #21037 closed

[2020-12-07 03:07] morgo commented on #5166
I am going to close this as a duplicate of https://github.com/pingcap/tidb/issues/14766

I realize this issue predates this, but #14766 is actively being worked on, and has a better break down of the sub-tasks involved. Thanks!

[2020-12-07 03:07] #5166 closed

[2020-12-07 03:10] morgo commented on #8964
I am going to close this as a duplicate of https://github.com/pingcap/tidb/issues/14766

#14766 is actively being worked on, but will be completed as a set of sub-tasks. We will have to re-evaluate Prisma compatibility after it is complete. Thanks!

[2020-12-07 03:10] #8964 closed

[2020-12-07 03:11] morgo commented on #15403
Closing as a duplicate of https://github.com/pingcap/tidb/issues/13635 , per last comment. Thanks!

[2020-12-07 03:11] #15403 closed

[2020-12-07 03:13] morgo commented on #8637
Per last comment, this issue has been resolved.

[2020-12-07 03:13] #8637 closed

[2020-12-07 03:19] ChenPeng2013 opened #21516 "SPM: multiple tidb instances sync bindings failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

cluster config:
2 tidb
1 pd
1 tikv

[code]

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-12-07 03:23] LinuxGit opened #21517 "tidb image: "exec: \"curl\": executable file not found in $PATH""
## Bug Report

Please answer these questions before submitting your issue. Thanks!
CI uses another Dockerfile instead of https://github.com/pingcap/tidb/blob/release-4.0/Dockerfile#L43

### 1. Minimal reproduce step (Required)

Create a `pingcap/tidb:release-4.0-nightly` version TiDB Cluster by tidb-operator.

[code]
### 2. What did you expect to see? (Required)
tidb pod should be running

### 3.

[2020-12-07 03:27] LinuxGit commented on #21517
@lilinghai PTAL

[2020-12-07 03:43] rebelice opened #21518 "decorrelation does not support some scenarios"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Do not use APPLY operator.

### 3. What did you see instead (Required)
Use APPLY operator.

### 4. What is your TiDB version? (Required)

| Release Version: v4.0.0-beta.2-1662-gcc0e1d46e
Edition: Community
Git Commit Hash

[2020-12-07 03:44] rebelice commented on #21518
/label sig/planner

[2020-12-07 03:51] Win-Man opened #21519 "select ' '='' returns 0 in TiDB while returns 1 in MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-07 04:30] lilinghai commented on #21517
According to the unknown historical reasons, the release Dockerfile  does not install `curl` . Thanks for your feedback, I have fixed in the cd.

[2020-12-07 04:33] sev7ndayyoo commented on #21519
MySQL 8.0.15

[code]

MySQL 8.0.20
[code]

MariaDB

[code]

why ? 😂

[2020-12-07 04:43] morgo commented on #21519
This is due to the pad attribute of collations:

[code]

In MySQL 8.0 the default collation has `NO PAD`:
[code]

This differs from MySQL 5.7's default, and MariaDB's default. Here is a quick testcase:

[code]

[2020-12-07 04:43] wjhuang2016 commented on #21519
I think it's because you didn't enable the new collation, please check it again:
[code]

[2020-12-07 04:57] sev7ndayyoo commented on #21519
@morgo ok!

[2020-12-07 05:20] Yisaer opened #21522 "Support calculating historical timestamp"
## Development Task

In https://github.com/pingcap/tidb/issues/19817 , we are going to support timestamp bounded read-only transactions. There are 2 kinds of query for the ` timestamp bounded read-only transactions`

1. exact staleness

[code]

For the first query, we need to generate a TSO which represents for the TSO 5 secs ago. For the second query, we need to generate a TSO which represents th

[2020-12-07 05:21] morgo commented on #18336
I think this is a duplicate of https://github.com/pingcap/tidb/issues/10260 - please close both if you fix it :-)

[2020-12-07 05:28] #17530 closed

[2020-12-07 06:13] #9728 closed

[2020-12-07 06:13] #11178 closed

[2020-12-07 06:30] #21300 closed

[2020-12-07 06:31] lzmhhh123 commented on #13494
Here is an easy way to reproduce it.

In MySQL 8:

[code]

But in TiDB:

[code]

The warnings are consistent.

[code]

[2020-12-07 06:36] #21517 closed

[2020-12-07 07:12] blacktear23 commented on #13992
The simple fix is if we meet collation in [charset.CollationUTF8, charset.CollationUTF8MB4, charset.CollationASCII, charset.CollationLatin1], just add `mysql.BinaryFlag` to column's `Flag`. But due to https://github.com/pingcap/tidb/pull/9689 client will get `NOT_NULL BINARY` as column type result. And this is also not compatible with MySQL.

[2020-12-07 07:12] #21119 closed

[2020-12-07 07:20] Yisaer commented on #21426
After discussion with @djshow832 @XuHuaiyu , the constraint checking will be placed into `executorBuilder.build`. For all the `Executor` which reads data, we will check the data constraint with txn-scope.

[2020-12-07 07:28] ou-bing commented on #17726
@lzmhhh123 hello, I did some special work with the average results for time type columns. I can't add test cases, because, in the test environment, the process of reading query results is inconsistent with that in the production environment。

This mainly refers to the difference between func `ResultSetToStringSlice` and `dumpTextRow`.

[2020-12-07 07:35] Yisaer opened #21527 "Support check partition placement constraints when local transactions read data"
## Development Task

Here is the detailed description: https://github.com/pingcap/tidb/issues/21426 . This issue describe the implementation.

## Implementation

To check the `txn-scope` constraint, we finally decide to check the txn-scope and the placement policy during `executorBuilder.build` function. If the executor read the `data`, the constraint should be checked during `build`.

Here are th

[2020-12-07 07:43] ou-bing commented on #3644
/pick-up

[2020-12-07 07:45] Reminiscent commented on #17153
Another case:
[code]

[2020-12-07 07:46] ou-bing commented on #17746
/pick-up

[2020-12-07 07:47] Yisaer commented on #21527
@XuHuaiyu @djshow832  PTAL

[2020-12-07 07:58] xiaoyang1999 opened #21528 "Can I use while"
在ELT过程中，数据UPDATE量过大，抛出事务大小超过10M，后来打算使用while方式来分批修改，但是语法报错

[2020-12-07 08:04] ichn-hu commented on #17780
/unlable challenge-program

[2020-12-07 08:05] xiaoyang1999 commented on #21528
You have an error in your SQL syntax; check the manual that corresponds to your TiDB version for the right syntax to use line 1 column 16 near "PROCEDURE pro_insert () BEGIN

[2020-12-07 08:05] ichn-hu commented on #17780
/unlabel challenge-program

[2020-12-07 08:18] lzmhhh123 commented on #17726
Maybe we should make them consistent.

[2020-12-07 08:18] ichn-hu commented on #17780
/give-up

[2020-12-07 08:19] ichn-hu commented on #17780
/unlabel challenge-program

[2020-12-07 08:38] #17780 closed

[2020-12-07 09:22] #10462 closed

[2020-12-07 10:15] sev7ndayyoo commented on #8123
/pick-up

[2020-12-07 11:30] hidehalo commented on #19150
/pick-up

[2020-12-07 11:30] hidehalo commented on #19499
/pick-up

[2020-12-07 11:43] crazycs520 commented on #21437
@sev7ndayyoo  https://github.com/pingcap/tidb/pull/21423/files#diff-b162f5fd0f5d187791658b65d19334a3b8c3762542818bb1379f5163c65f5ed1R668 This PR already fix this issue.

[2020-12-07 11:49] sev7ndayyoo commented on #21437
ok

ok ，I didn't pay attention.😊

[2020-12-07 11:59] time-and-fate opened #21537 "refactor column stats"
## Development Task
Please refer to [Index Selection Work Plan](https://docs.google.com/document/d/1-U5s4JtP9vsaK0xgT5Exr8lNCztIcRhbNzpqMY_wgew/edit) for details about the entire project.

This issue record works on column statistics.

-  Introduce stats version field (we're already storing this in `mysql.stats_histograms` but not used in column stats) to column stats to distinguish old stats and

[2020-12-07 11:59] time-and-fate commented on #21537
/assign time-and-fate

[2020-12-07 12:05] crazycs520 commented on #21437
@sev7ndayyoo, Anyway, thanks for your attention, you can find other issues in https://github.com/pingcap/tidb/issues?q=is%3Aopen+is%3Aissue+label%3Astatus%2Fhelp-wanted+label%3Adifficulty%2Feasy.

[2020-12-07 12:17] #21447 closed

[2020-12-07 12:52] Yisaer opened #21540 "Support choose the replicas by labels"
## Development Task

In https://github.com/pingcap/tidb/issues/21094, we are going to support the stale read for timestamp bounded read-only transactions. Thus, the tidb-server would be allowed to read data from `follower` or `leanrer` peer though they may haven't the latest data If the target peer and the tidb-server located in the same dc.

Here is one example:

![image](https://user-images.gith

[2020-12-07 15:48] sev7ndayyoo commented on #21528
Please paste the complete sql.

[2020-12-07 17:16] morgo commented on #21528
The error is caused when trying to create a stored procedure, which TiDB does not support. This is documented under [MySQL compatibility](https://docs.pingcap.com/tidb/stable/mysql-compatibility#unsupported-features).

(If you would like to ask questions in Chinese, may I suggest [AskTUG](https://asktug.com/).)

[2020-12-07 17:24] morgo commented on #10123
I am going to close this as a duplicate of https://github.com/pingcap/tidb/issues/6347

Please feel free to re-open this issue if you have additional questions. Thanks!

[2020-12-07 17:24] #10123 closed

[2020-12-07 17:36] morgo commented on #18053
(I have updated the description. The example showed dropping multiple indexes at once using incorrect syntax.)

[2020-12-07 17:40] morgo commented on #20133
https://github.com/pingcap/tidb/issues/18425 is a duplicate of this issue. Here is the added testcase:
[code]

[2020-12-07 17:41] #13750 closed

[2020-12-07 17:46] morgo commented on #10817
Closing as a duplicate of https://github.com/pingcap/tidb/issues/5714

[2020-12-07 17:46] #10817 closed

[2020-12-08 02:43] Reminiscent commented on #11328
/assign

[2020-12-08 02:54] #21414 closed

[2020-12-08 03:17] lzmhhh123 commented on #21075
@phamtai97 Could `analyze` table choose the right index? If could, I would supposed to close the issue.

[2020-12-08 03:18] lzmhhh123 commented on #21486
/assign @xuyifangreeneyes

[2020-12-08 03:19] lzmhhh123 commented on #15492
/assign @xuyifangreeneyes

[2020-12-08 03:34] XuHuaiyu commented on #15492
/assign xuyifangreeneyes

[2020-12-08 03:35] XuHuaiyu commented on #15492
/assign @xuyifangreeneyes

[2020-12-08 03:40] wjhuang2016 commented on #17820
Confirm that this bug had been fixed in both master and v4.0.0.
[code]

[2020-12-08 03:40] #17820 closed

[2020-12-08 03:51] wshwsh12 commented on #13280
Can't reproduce.. I think the issue has been fixed now.

[2020-12-08 03:52] #13280 closed

[2020-12-08 03:53] lysu commented on #20511
should be fixed after re-start dynamic prune project in furture

[2020-12-08 03:53] #20511 closed

[2020-12-08 03:55] ichn-hu commented on #20995
/assign @dragonly

[2020-12-08 04:04] wjhuang2016 commented on #12436
@morgo I think we can accept the warning, what do you think?

[2020-12-08 04:10] SunRunAway opened #21547 "cannot use index if the type of prepare parameter does not match the column's"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Use range scan.
[code]

### 3. What did you see instead (Required)

Use full scan.
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-08 04:12] SunRunAway commented on #21547
cc @eurekaka

[2020-12-08 04:14] morgo commented on #12436
I think it's worth fixing, but not high priority. Here is a reduced testcase:
[code]

I am going to update the original description and title.

[2020-12-08 04:24] wjhuang2016 commented on #12436
The previous bug had been fixed in both v4.0.8 and master.

[2020-12-08 04:45] #12436 closed

[2020-12-08 05:05] lzmhhh123 commented on #21486
/assign @xuyifangreeneyes

[2020-12-08 05:22] lzmhhh123 commented on #9988
We didn't fully support json type. I convert the issue to `type/feature`.

[2020-12-08 05:54] nolouch commented on #21094
Hi, @sunxiaoguang , Is anyone interested in #21522 and #21540？

[2020-12-08 05:54] StoneDotYang commented on #21451
I have found the code which will be modified

[2020-12-08 06:06] lzmhhh123 commented on #9988
![image](https://user-images.githubusercontent.com/26040259/101446579-840bb180-395e-11eb-85d4-e26c098a0955.png)
![Uploading image.png…]()

The difference json type between MySQL 8 and TiDB.

[2020-12-08 06:07] wjhuang2016 commented on #9762
Confirm that this bug had been fixed in master, not in v4.0.8.

[code]

[2020-12-08 06:10] #21308 closed

[2020-12-08 06:18] XuHuaiyu commented on #14266
@LENSHOOD Hi, friendly ping, any update here?

[2020-12-08 06:28] wshwsh12 commented on #12205
Now, in master branch , commit 189ef5e66b5dea5fb8ee2bfa2353b83797b5b629 . The error has changed..
[code]

[2020-12-08 06:30] AilinKid opened #21549 "tics: test should check `tidb_enable_change_multi_schema` before changing multi schema"
## Bug Report

**Please answer these questions before submitting your issue. Thanks!**

Since multi-schema-change is not a feature of release-5.0, we add a variable to prevent side effects from the stability of v5.0.
So tics test should be aware of that and make the tests be compatible with this variable.

### 1. Minimal reproduce step (Required)
https://internal.pingcap.net/idc-jenkins/blue/organ

[2020-12-08 06:31] AilinKid commented on #21549
PTAL @JaySon-Huang

[2020-12-08 06:31] LENSHOOD commented on #14266
Hi, I've been a little busy lately, this issue still pending, sorry about that.
I may need more time to do this, I hope I can finish this in a week.

[2020-12-08 06:33] Win-Man commented on #21519
It returns same result with MySQL when I enabled new collation, so I closed this issue.

[2020-12-08 06:34] #21519 closed

[2020-12-08 06:36] wjhuang2016 commented on #10587
Confirm that this bug had been fixed in master, but not in v4.0.8.

[code]

[2020-12-08 06:36] #21549 closed

[2020-12-08 06:37] AilinKid commented on #21549
duplicated with https://github.com/pingcap/tics/issues/1271

[2020-12-08 06:37] #10447 closed

[2020-12-08 06:39] Reminiscent commented on #11328
In MySQL 8.0
[code]

in TiDB master
[code]

in [golang](https://play.golang.org/p/s_D1nXVVb3o)

[2020-12-08 06:45] sylzd opened #21551 "Whitelist not working in lvs"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. add: lvs_ip -> tidb_ip
2. connect: mysql -h lvs_ip -uroot
3. output:
Access denied for user 'lvs_test'@'lvs_ip'

### 2. What did you expect to see? (Required)
white list like user@[allow_ip] work.

### 3. What did you see instead (Required)

### 4. What is your TiDB vers

[2020-12-08 06:47] #10587 closed

[2020-12-08 06:54] wjhuang2016 commented on #10587
Fixed by PR https://github.com/pingcap/tidb/pull/20657

[2020-12-08 06:58] zanmato1984 commented on #19992
The thing under the hood in MySQL is that, `dayname` function has an implicit code path to evaluate as integer and it is triggered when evaluating expressions such as `dayname(...) is true` and `dayname(...) + 1`.

We can easily find contradictions about this case in MySQL:
1. Using string literal to replace the `dayname(...)`:
[code]
2. Use CTAS (to preserve schema) to materialize the result of `

[2020-12-08 07:03] XuHuaiyu commented on #11328
It's not a **bug** but a compatibility problem.
We can describe this in the doc to make it clear.

[2020-12-08 07:04] zanmato1984 commented on #20003
PR https://github.com/pingcap/tidb/pull/21534 will fix the "wrongly casted to FALSE" part of this issue.

The rest "TIMESTAMP() result is incorrect" part will be fixed in another PR, which relies on PR https://github.com/pingcap/tidb/pull/21534 .

[2020-12-08 07:11] wjhuang2016 commented on #9762
Fixed by https://github.com/pingcap/tidb/pull/20206

[2020-12-08 07:13] #9762 closed

[2020-12-08 07:22] #11193 closed

[2020-12-08 07:23] wjhuang2016 commented on #11193
Close this issue because it's duplicated with #20295 and it had been fixed.

[2020-12-08 07:38] wjhuang2016 commented on #12233
In master:
[code]

But using TiKV:
[code]

[2020-12-08 08:00] wshwsh12 commented on #12205
Minimal reproduce step
[code]

[2020-12-08 08:04] ChenPeng2013 opened #21556 "SPM: tidb paniced because of baseline capturing"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-12-08 08:08] djshow832 commented on #21540
I suggest maintaining `label` in `Store` and do not add a label selector. `RPCContext` contains the peer that you have chosen.
Besides, consider the following cases:
1. There is more than one store in the same DC. You should select a store randomly or in a round-robin style to avoid hotspot. (YugabyteDB chooses randomly selecting one, see https://github.com/yugabyte/yugabyte-db/blob/master/src/yb/

[2020-12-08 08:32] #20139 closed

[2020-12-08 08:34] Yisaer commented on #21540
I haven't decided yet. I think we can choose the leader directly as the fallback.

[2020-12-08 08:58] ichn-hu commented on #5817
/unlabel challenge-programe

[2020-12-08 08:58] ichn-hu commented on #5817
/unlabel challenge-program

[2020-12-08 09:02] jebter opened #21560 "Inappropriate error message: FUNCTION test.json_arrayagg does not exist"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

drop table if exists t;
CREATE TABLE `t` (`a` int(11) DEFAULT NULL);
SELECT (SELECT 1 FROM t WHERE JSON_ARRAYAGG(1 IN (SELECT 1 FROM t)));
### 2. What did you expect to see? (Required)
Invalid use of group function
### 3. What did you see instead (Required)
FUNCTION test.js

[2020-12-08 09:03] Kuri-su commented on #7125
i have same question, but this issue solved my doubts , thx :laughing:

[2020-12-08 09:10] ichn-hu commented on #21457
@eurekaka please close this issue since it is fixed.

[2020-12-08 09:11] #21457 closed

[2020-12-08 09:12] tangenta commented on #21502
I use the binary compiled from #19942, a similar problem is found:

[code]

[2020-12-08 09:38] wshwsh12 commented on #18547
The issue has been fixed by #19235, and ported in release v4.0.4. I think we can close the issue now.

[2020-12-08 09:38] #18547 closed

[2020-12-08 10:25] Yisaer commented on #21522
/assign Andrewmatilde

[2020-12-08 10:26] Yisaer commented on #21522
/assign @Andrewmatilde

[2020-12-08 11:18] tangenta commented on #21502
It seems the problem is not the same one. I'll file another issue.

[2020-12-08 11:29] tangenta opened #21568 "clustered index + old row format + transaction, 'delete from t where' invalid encoded key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Restart session.

[code]

### 2. What did you expect to see? (Required)

Query OK.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master `2595487ff1486c72c05b07b20922f70effd3f655`

[2020-12-08 11:37] AilinKid commented on #18336
I've investigated for a while.
1: the domain got some work to do before close TiDB, such as clean some registered information in PD, the etcd campaign needs pdclient.done() signal to break the loop, However, the PD client is closed in the store layer which is after the domain close action. Putting it ahead seems good.

2: Besides, there many sub-goroutines that need oracle ts to push forward their

[2020-12-08 12:13] wjhuang2016 commented on #12743
I can't reproduce it in both release 4.0 and master.

[2020-12-08 12:24] wjhuang2016 commented on #12743
I tested it by some commits around 16 Oct 2019, and it still can not reproduce.

[2020-12-08 12:24] #12743 closed

[2020-12-08 12:36] wjhuang2016 commented on #12450
Cannot reproduce it in both release3.0, release 4.0, and master.

[2020-12-08 12:39] wjhuang2016 commented on #12446
The minimal reproduce should be:

[code]

[2020-12-08 13:02] zanmato1984 commented on #19992
@jebter PTAL the above comment and help to decide how do we proceed with this issue. Thanks.

[2020-12-08 13:05] #19986 closed

[2020-12-08 13:05] #19999 closed

[2020-12-08 13:05] #20001 closed

[2020-12-08 13:11] #12450 closed

[2020-12-08 13:16] crazycs520 opened #21574 "create columns partition table failed when contain SQL key word"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Execute successfull.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

## Score
- 100
## SIG slack channel（must）:
   https://tidbcommunity.slack.com/archives/CMAK

[2020-12-08 13:46] lysu opened #21576 "Doesn't follow @@net_buffer_length to response data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

it just a incompatible point, it seems doesn't cause problem or bug in classical client driver.

I'm not sure whether it can help reduce memory allocation in some situation, just a mark

### 1. Minimal reproduce step (Required)

use tcpdump or wireshake to pcap tidb response

### 2. What did you expect to see? (Req

[2020-12-08 13:59] #21502 closed

[2020-12-08 14:01] #14223 closed

[2020-12-08 14:04] xhebox commented on #20843
Closed due to low performance improvement and high code complexity.

[2020-12-08 14:04] #20843 closed

[2020-12-08 16:58] morgo commented on #19992
I think it has to be treated as a bug. The query is asking MySQL to implicitly convert the predicate `DAYNAME( '2016-03-08' );` to a boolean value:
[code]

It's probably not the best way to do it, but applications may depend on this functionality to confirm that a date itself is valid:
[code]

See https://github.com/pingcap/tidb/issues/12233 for a similar example with JSON.

[2020-12-08 17:40] morgo commented on #21451
@ichn-hu I think if the behavior is documented, it is intended and we should follow it. But I have to admit, I wasn't aware of it!

[2020-12-08 20:13] morgo commented on #20001
MySQL 5.7 and MySQL 8.0 have different behavior here. I've updated the description, but for confirmation the fix uses MySQL 8.0 behavior:
[code]

[2020-12-08 22:20] xiaobogaga opened #21579 "[DML]: select id + 1 from mytest group by id + 1 having id + 1> 0, it shows unknown column id in having clause"
Hi tidb team, I have a question regarding to the following queries:
[code]
in tidb playground: https://play.pingcap.com, after I run such query, it shows error message: `[planner:1054]Unknown column 'id' in 'having clause'`.

This error message looks like consistent with mysql(with version 8.0.22).

But I feel this message is not user-friendly, because the id is not an unknown column.

And I feel

[2020-12-09 02:48] TszKitLo40 commented on #21574
/pick-up

[2020-12-09 02:49] bb7133 opened #21580 "ddl: make `TableColumnCountLimit` configurable or be compatible with MySQL."
## Feature Request

**Is your feature request related to a problem? Please describe:**
There is a limitation for the number of columns for a table in TiDB, for now, it is 512(hard-coded):

https://github.com/pingcap/tidb/blob/master/ddl/ddl.go#L83

Please notice that this is different from [MySQL](https://dev.mysql.com/doc/refman/8.0/en/column-count-limit.html#:~:text=MySQL%20has%20hard%20limit%20

[2020-12-09 03:30] tsthght opened #21581 "Have a log or other methods to locate the conflicting sqls quickly when write conflict occurs"
## Feature Request

**Is your feature request related to a problem? Please describe:**
When write conflict occurs, I can not know which sqls are conflicted by log

[code]

**Describe the feature you'd like:**
Have a log or other methods to locate the conflicting sqls quickly when write conflict occurs

[2020-12-09 03:38] #13004 closed

[2020-12-09 03:44] disksing opened #21584 "Drop store cache and region cache when handling StoreNotMatch region error"
## Bug Report

### 1. Minimal reproduce step (Required)
1. Start a cluster. Prepare some data.
2. Run some query to fill TiDB's region cache.
3. Delete a TiKV (Offline -> Tombstone)
4. Add the TiKV node (same address, same port) to another cluster.
5. Send some query to the old TiDB server again.

### 2. What did you expect to see? (Required)
- TiDB will get 'StoreNotMatch' from TiKV server.
- TiD

[2020-12-09 03:48] disksing opened #21585 "Verify cluster ID when connect to TiKV"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some times TiDB may connects to a TiKV server belong to another cluster. And we don't compare their cluster ids.
https://github.com/pingcap/tidb/issues/21584 describes an example.

**Describe the feature you'd like:**

When a tidb-server connects a tikv-server, it sends its cluster id (which was acquired from P

[2020-12-09 04:15] zhouqiang-cl opened #21586 "Connect to TiDB report `Variable 'character_set_server' can't be set to the value of 'NULL'`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
execute the SQL in terminal `mysql -u root -h 172.16.4.27  -P 32913 -D test` and execute the following command
[code]
exit terminal and reconnect like `mysql -u root -h 172.16.4.27  -P 32913 -D test` it report
[code]

### 2. What did you expect to see? (Required)
We can reco

[2020-12-09 05:03] lzmhhh123 commented on #9716
In MySQL:

[code]

We'd better rewrite `extract` function instead of using cast datetime.

[2020-12-09 05:15] #12205 closed

[2020-12-09 05:18] TszKitLo40 commented on #21574
/pick-up

[2020-12-09 05:39] zanmato1984 commented on #19992
I'm afraid it's not the right way to do it, unless users want "check if the date is valid and **NOT Monday**" - Monday is represented as 0 internally thus evaluates to false:
[code]

So I'm still thinking this is somewhat a MySQL mystery that we may not follow.

[2020-12-09 05:40] nolouch commented on #21540
We should consider user behavior about how to choose by labels:
1. Session Variable, such as [follower read](https://docs.pingcap.com/tidb/stable/follower-read#usage), user use `set @@tidb_replica_read = '<target value>';`
2. Special SQL, `START TRANSACTION READ ONLY WITH TIMESTAMP BOUND EXACT STALENESS '00:00:05';` Will the label be automatically selected or need additional session variables?

[2020-12-09 05:54] zanmato1984 commented on #19992
OK, got one:
[code]
This seems to justify that TiDB should align with MySQL.

I'll fix it.

[2020-12-09 06:01] wjhuang2016 commented on #13749
@eurekaka If the fix is not complete, is the bug still critical?

[2020-12-09 06:17] ichn-hu commented on #12178
/unlabel challenge-program

[2020-12-09 06:17] TszKitLo40 commented on #21574
/pick-up

[2020-12-09 06:22] ichn-hu commented on #12206
/unlabel challenge-program

[2020-12-09 06:27] #5817 closed

[2020-12-09 06:44] #21551 closed

[2020-12-09 06:54] wshwsh12 opened #21595 "Make memory tracker during aggregate function GA."
## Development Task

Now we have implemented memory recording functions for every aggregate functions, and add a memory tracker to trace the memroy usage.
We need systematic testing to make the feature GA.

[2020-12-09 07:07] kele1997 commented on #21579
`select id+1 as tmp from mytest group by tmp having tmp > 0` works
This is my guessing:
Maybe the `group by id+1` generate a temporary column like t1, then `having id+1 ` generate a temporary column like t2, and the column name in `group by` and `having` is different, so that not work as you want.
And when we use alias , we can use the same temporary column in `group by` and `having`

[2020-12-09 07:37] TszKitLo40 commented on #21033
/pick-up

[2020-12-09 07:56] #21082 closed

[2020-12-09 07:57] tangenta commented on #21568
A similar problem(clustered index + old row format + transaction, 'update t' reports 'column cannot be null'):
[code]
[code]
[code]
[code]

After investigation, the problem is that `pkColIDs` field of `memTableReader` is not initialized.

https://github.com/pingcap/tidb/blob/0eb8ff97bc1177fd9ac62f2d925eeec196211036/executor/mem_reader.go#L446

For convenience, this will be fixed by https://github.

[2020-12-09 08:18] AilinKid commented on #19097
yes, it's quite hard to solve. I suspect there will be some other work after the parser is finished.

[2020-12-09 08:24] kennytm commented on #13004
**1. Root Cause Analysis (RCA) (optional)**

Type of TIMESTAMP literal is TIMESTAMP instead of DATETIME.

**2. Symptom (optional)**

`TIMESTAMP '9999-01-01 00:00:00'` produces "Incorrect timestamp value" error which does not happen on MySQL.

**3. All Trigger Conditions (optional)**

Using TIMESTAMP literal for dates outside of the 31-bit timestamp range (year 1970 to 2038).

**4. Workaround (opti

[2020-12-09 08:28] wshwsh12 commented on #12575
I can't reproduce the problem.  The last appeared time is 2 month ago or earlier. Maybe it has been fixed.  I close the issue now.  We can reopen this issue when the problem appear again.

[2020-12-09 08:28] #12575 closed

[2020-12-09 08:35] TszKitLo40 commented on #21033
@windtalker if `decimal(0,0)`is met, should we throw an error or make it can be pushed to tiflash?

[2020-12-09 08:35] blacktear23 commented on #21509
https://github.com/pingcap/tidb/blob/master/executor/executor.go#L931

[2020-12-09 08:45] #20003 closed

[2020-12-09 08:48] blacktear23 commented on #21509
And this can be reproduced by any join query, not only sub query.

[2020-12-09 08:53] wjhuang2016 commented on #12571
Fixed by https://github.com/pingcap/tidb/pull/20206

[2020-12-09 08:54] #12571 closed

[2020-12-09 09:13] wjhuang2016 commented on #20859
After the above PRs merged:
[code]

[2020-12-09 09:23] #12178 closed

[2020-12-09 09:26] TszKitLo40 commented on #21448
I have filed a PR, PTAL @lysu

[2020-12-09 09:39] tangenta opened #21607 "Aggregation on table with absurdity selection in transaction reports 'column not found'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[code]

More test cases:
[code]
[code]

[code]
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master `8eaca0ecd4a70ead77c7bb02dd8f038b7c65033e`

[2020-12-09 09:47] tangenta commented on #21607
After preliminary investigation, here are a few facts about the first case.
- Absurdity conditions like `where b > 1 and a in (2)` build a `TableDual` operand with schema `[_tidb_rowid]`.
- When the optimizer resolves indices, `PhysicalUnionScan` also resolves the indices of columns in the condition `b`.

Since the column `b` is not found in schema `[_tidb_rowid]`, an error is reported.
[code]

[2020-12-09 09:49] #12446 closed

[2020-12-09 11:01] #20369 closed

[2020-12-09 11:04] dyzsr commented on #19499
Postgres also support `std/var_pop/var_samp(distinct)`, do we really have to disable it? @XuHuaiyu

[2020-12-09 11:20] disksing opened #21611 "`select _tidb_rowid` does not work now"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Display the row id.

### 3. What did you see instead (Required)
Error.

### 4. What is your TiDB version? (Required)

[code]

[2020-12-09 11:30] wjhuang2016 commented on #21611
This is the expected behavior. Because the clustered index is enabled by default.
When using the clustered index and the primary key is varchar, there is no _tidb_rowid.

[2020-12-09 11:30] #21611 closed

[2020-12-09 11:54] #13953 closed

[2020-12-09 12:04] blacktear23 commented on #21033
@TszKitLo40 decimal(0, 0) is allowed in MySQL, so we should not throw an error.

[2020-12-09 12:05] TszKitLo40 commented on #21033
In the newest version of master, it seems that this bug has been fixed.

[2020-12-09 12:07] wjhuang2016 commented on #12201
I got the other error message:
[code]

It seems that it's introduced by https://github.com/pingcap/tidb/pull/20221.
[code]
It changes the evalType, but the fucSig is only for string, result in `baseBuiltinFunc.vecEvalInt() should never be called`.

[2020-12-09 12:10] TszKitLo40 commented on #21033
/give-up

[2020-12-09 12:18] wjhuang2016 commented on #21475
Maybe we can add an option to Restore() to decide to restore the charset and collation or not.

[2020-12-09 12:25] Reminiscent commented on #13551
/assign

[2020-12-09 12:27] Yisaer commented on #21540
I tend to create a new session variable like `@@tidb_match_label_replica_read`  (default empty).

1. If it is defined, like ` set @@tidb_match_label_replica_read = 'zone=dc-1'`, the tidb-server will try to read the data from matched replicas.

2. If `tidb_match_label_replica_read` is defined and `tidb_replica_read` is defined as `leader`, the tidb-server will directly read data from the leader wit

[2020-12-09 13:12] blacktear23 commented on #21033
@TszKitLo40 do you really using tiflash store for the test table? In tikv it can be worked.

[2020-12-09 13:16] TszKitLo40 commented on #21033
Yes, I use the default tiup playground command to test.

[2020-12-09 13:21] crazycs520 commented on #21509
[code]

Look like we need a projection to act as a child of`SelectLock_18 `  and the parent of `HashAgg_21` ? @winoros PTAL

[2020-12-09 14:16] #21568 closed

[2020-12-09 15:35] bb7133 opened #21618 "*: pessimistic lock doesn't work on the partition for subquery/joins"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Session 1 and session 2 tries to acquire the lock for the same record, so one of them should be blocked and waited for the lock.

### 3. What did you see instead (Required)
Neither `select ... for update` is blocked.

###

[2020-12-09 22:36] morgo opened #21619 "Cast int string to JSON results in wrong type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-09 23:13] xiaobogaga commented on #21579
@kele1997  thank you kele. Year, what you given is a possible cause for the issue here.

[2020-12-10 00:09] kennytm opened #21620 "Data race in TestClusterIndexCBOPointGet"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/br_ghpr_unit_and_integration_test/detail/br_ghpr_unit_and_integration_test/4163/pipeline

[code]

[code]

[2020-12-10 00:09] kennytm commented on #21620
/label component/test

[2020-12-10 00:12] kennytm commented on #19499
(for those not following, please check the discussion in pingcap/parser#1116.)

[2020-12-10 00:34] #21510 closed

[2020-12-10 01:41] morgo commented on #11489
There are a few different bugs here:

1. Inserting an integer larger than `int64.MaxValue` but less than `uint64.MaxValue` leads to incorrect values (you can see this in the `t2` table result above). Forked as https://github.com/pingcap/tidb/issues/21619

2. Inserting `bigint unsigned` values into json tables that produce `bigint signed` virtual columns is permitted in MySQL. The value is expected

[2020-12-10 02:17] Reminiscent commented on #17808
/unlabel sig/ddl

[2020-12-10 02:18] Reminiscent commented on #17808
/label sig/ddl

[2020-12-10 02:18] Reminiscent commented on #17808
/unlabel sig/planner

[2020-12-10 02:43] KivenChen commented on #15106
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66430/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66430/display/redirect</a>

[2020-12-10 02:43] KivenChen commented on #16107
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60668/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60668/display/redirect</a>

[2020-12-10 02:43] KivenChen commented on #6497
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66421/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66421/display/redirect</a>

[2020-12-10 02:44] #19119 closed

[2020-12-10 02:52] TszKitLo40 commented on #15938
@imtbkcat Can this issue still be picked now?

[2020-12-10 02:59] wshwsh12 opened #21625 "different behavior from mysql planner with a condition caused error."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE ttt (
a int(10) unsigned,
b int(10) unsigned
);
insert into ttt values(1,10),(20,2);
select * from ttt where a-b>0 and a = 1 and b = 9;

### 2. What did you expect to see? (Required)

In MySQL 8.0
[code]

### 3. What did you see instead (Required)

[code]

###

[2020-12-10 03:02] wshwsh12 commented on #21625
Of course, it may be a MySQL bug. Because the condition is always false and it should get an empty result.

[2020-12-10 03:34] #1108 closed

[2020-12-10 03:39] AilinKid commented on #18979
1: explanation about the old code:
the first several the finish path return with `Get Func` or `Set with uncommit flag`, which means they may already be in the TiKV but mem buffer, `Set with uncommit flag` will fill the mem buffer. `Get Func` return success means the mem buffer is also already filled with it, `Set with uncommit flag` can be eliminated. So both of these scenarios won't occur KeyExi

[2020-12-10 03:40] #18979 closed

[2020-12-10 03:45] #21033 closed

[2020-12-10 04:45] lzmhhh123 commented on #13494
I think it's a bug for mysql. Here is the evidence.

[code]

When call `cast as datetime` explicitly to convert the text type. It returns NULL.

But when implicitly convert it in `where` condition. It has been regarded as `0000-00-00 00:00:00`.

[code]

[2020-12-10 05:40] #13494 closed

[2020-12-10 06:10] nolouch commented on #21540
can we extend `tidb_replica_read` rather than add new?

[2020-12-10 06:32] Yisaer commented on #21540
What about `tidb_replica_read=txn_scope`? Then tidb-server would replica replicas from any peer which have the `zone=txnScope` label and read leader as the fallback.

[2020-12-10 06:34] #12342 closed

[2020-12-10 06:54] wshwsh12 opened #21636 "Executor: reimplementing window executor in a pipeline manner."
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now the window executor holds one window partition into memory before calculating. In some cases, it holds the whole table in memory and take up huge memory.

**Describe the feature you'd like:**

Reimplementing window executor in a pipeline manner to reduce the memory usage.

**Describe alternatives you've con

[2020-12-10 07:07] wshwsh12 commented on #18444
There are two problems in this issue.
1. The scan operator occupy a lot of memory.   https://github.com/pingcap/tidb/pull/21168 has fixed it.  Scan operator will control the concurrency dynamically when the memory usage is too large.  **It can greatly alleviate this problem now.**
But it still a little flawed, maybe consuming spike at the beginning. There is an issue  https://github.com/pingcap/ti

[2020-12-10 07:07] #18444 closed

[2020-12-10 07:12] seiya-annie opened #21637 "ddl like "drop table sbtest1,sbtest2" don't split into two statements when send to binlog"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. execute drop table sbtest1,sbtest2; in upstream tidb
2. check drainer log

### 2. What did you expect to see? (Required)
drainer received two ddl statement:
drop table sbtest1;
and drop table sbtest2;

### 3. What did you see instead (Required)
drainer received two state

[2020-12-10 07:18] #20880 closed

[2020-12-10 07:33] #21194 closed

[2020-12-10 07:35] seiya-annie commented on #21637
[code]

[2020-12-10 07:42] winoros commented on #15492
mocktikv's coprocessor is out of date. We ignore the coprocessor errors of it. Just focus on the failure caused by `bin/tidb-server -store unistore -path /tmp/tidb-unistore`

[2020-12-10 07:48] #11911 closed

[2020-12-10 07:48] #19137 closed

[2020-12-10 07:49] XuHuaiyu commented on #17191
hadn't seen for a long time, I think it's been fixed already

[2020-12-10 07:49] #17191 closed

[2020-12-10 07:50] XuHuaiyu commented on #20859
This not bug, so I remove the bug label

[2020-12-10 07:53] XuHuaiyu commented on #20009
had not seen for a long time

[2020-12-10 07:53] #20009 closed

[2020-12-10 07:58] XuHuaiyu commented on #17993
Error message or error code does not match MySQL

It should be considered as a minor bug.

[2020-12-10 07:59] nolouch commented on #21540
@Yisaer  How to limit the scope on `stale read` ?

[2020-12-10 08:01] #17734 closed

[2020-12-10 08:03] Win-Man commented on #11333
/pick-up

[2020-12-10 08:03] XuHuaiyu commented on #21620
Fixed in https://github.com/pingcap/tidb/pull/21627

[2020-12-10 08:03] #21620 closed

[2020-12-10 08:04] wjhuang2016 commented on #21637
Duplicate with https://github.com/pingcap/tidb/issues/11410

[2020-12-10 08:06] XuHuaiyu commented on #16062
@mmyj Hi, would you continue the fix?

[2020-12-10 08:09] XuHuaiyu commented on #13869
had not seen for a long time, thus I'll close this issue

[2020-12-10 08:09] #13869 closed

[2020-12-10 08:11] XuHuaiyu commented on #10215
Can not reproduce, I'll close this issue

[2020-12-10 08:11] #10215 closed

[2020-12-10 08:13] XuHuaiyu commented on #15766
Can nor reproduce in master branch, I'll close this issue now.

[2020-12-10 08:13] #15766 closed

[2020-12-10 08:15] XuHuaiyu commented on #4003
It's expected behavior, so I convert this issue to feature-request

[2020-12-10 08:28] ChenPeng2013 opened #21642 "decode plan in statement summary failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-10 08:38] djshow832 commented on #21540
Another option:
After the user sets `txn_scope` in the TiDB configuration and a stale read transaction is started, TiDB will read the replica whose label contains `txn_scope`. That is, `txn_scope` replaces `label` for TiDB instances.
Pros: Users don't need to specify any session variables in applications, which reduces complexity.
Cons: The configuration name `txn_scope` is not suitable in this sc

[2020-12-10 08:47] #21574 closed

[2020-12-10 08:47] seiya-annie commented on #21637
ok

[2020-12-10 08:48] #21637 closed

[2020-12-10 09:23] wjhuang2016 commented on #13992
MySQL's behavior is strange, and we decide not to fix it unless it really affect the usage.

[2020-12-10 09:39] ChenPeng2013 opened #21646 "SPM: capture baseline failed after out of memory quota"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-10 10:07] ilovesoup opened #21647 "Support vector and vector index"
## Feature Request

**Is your feature request related to a problem? Please describe:**
According to rising attentions for traffic monitoring, image / video retrieval, recommendation system, more and more application use AI / Deep learning to process data. TiDB are usually used as meta data storage solution for those cases: store raw video / image in a blob store and store image tags and meta info

[2020-12-10 10:24] nolouch commented on #21540
@djshow832 I think it's ok in the stale read scenario.  In the other normal read scenario, we can use the extended `tidb_replica_read` to control read requests. but it's may confuse user

[2020-12-10 11:27] #20677 closed

[2020-12-10 12:12] #21527 closed

[2020-12-10 13:11] XuHuaiyu commented on #21560
Why does it need to return `Invalid use of group function` ?
TiDB does not support json_arrayagg, the error message seems to be acceptable.

[2020-12-10 15:43] zhaoxugang opened #21653 "haven't track the memroy usage of PointGet/BatchPointGet"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1.drop table if exists t1;
2.create table t1(a int primary key);
3.set tidb_mem_quota_query=1;
4.select * from t1 where a = 1;
5.select /*+ MEMORY_QUOTA(0 GB) */ * from t1 where a = 1;
6.select /*+ MEMORY_QUOTA(1 GB) */ * from t1 where a = 1;

### 2. What did you expect to

[2020-12-10 16:17] morgo opened #21654 "generated columns do not wrap unsigned values to signed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-10 16:21] morgo commented on #11489
The MySQL team has verified the bugs reported. I will leave this issue open for a while in case the status changes, but my intention is to close this as a 'duplicate'. The forked issues better isolate the issues discovered.

[2020-12-10 17:14] zyguan opened #21655 "Pessimistic transactions may see inconsistent data while doing partitioning DDLs concurrently"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Similar to #21498, partitioning DDLs may also cause inconsistent read.

Case 1
[code]

Case 2
[code]

### 2. What did you expect to see? (Required)

For case 1, it should be only 1 row returned.

For case 2, if we see (4, 40) in txn, we should also see (6, 60) because inser

[2020-12-10 17:53] morgo commented on #11386
This is a duplicate of https://github.com/pingcap/tidb/issues/21619 - I have verified it will be fixed in https://github.com/pingcap/tidb/issues/21619

[2020-12-10 17:53] #11386 closed

[2020-12-10 18:05] morgo commented on #10467
I think the best way to fix this is to add the JSON type of decimal (see: https://github.com/pingcap/tidb/issues/9988 ).

There was a proposed PR for this which used float64 to compare, but that produces inaccurate results for some cases. If when grouping JSON values decimal is used, it should be safe for all cases.

[2020-12-10 21:58] morgo commented on #20133
Confirming this is fixed(ish) in master after updated the parser dependency and rebuilding:

[code]

The error is because TiDB does not actually implement `SQL_CALC_FOUND_ROWS` (it ignores this keyword, see https://github.com/pingcap/tidb/issues/8235). If you are okay with that restriction, run `SET GLOBAL tidb_enable_noop_functions=1`. Wordpress works okay with this mode, except pagination may no

[2020-12-11 03:15] morgo commented on #21654
I figured out how to permit the insert and correctly read back the value with:
[code]

But there is another bug with generated columns. The value generated is incorrect:
[code]

[2020-12-11 03:48] wjhuang2016 commented on #20133
Close by https://github.com/pingcap/parser/pull/1122

[2020-12-11 03:48] #20133 closed

[2020-12-11 03:58] lzmhhh123 commented on #14266
Confirm in MySQL 8.0.22:

[code]

[2020-12-11 04:00] jackwener commented on #20890
/pick-up

[2020-12-11 04:04] MyonKeminta opened #21658 "Queries using batch point get plan may be blocked when encounters locks of another alive transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run `CaseRCResolveLockBatchPointGet` which is implemented [here](https://github.com/pingcap/automated-tests/pull/543/files#diff-5235c0b2974a3c43dfcd805890740fb1a151a182d3162666bba3ee748893d211R1631), and with TiDB's failpoint API enabled.

The procedure of the case:

[code]

[2020-12-11 04:48] wjhuang2016 commented on #21654
I think it's a bug in MySQL:
[code]

MySQL fails to check the overflow when the generated column is `BIT INT`, but check it for `INT`.
If the sql_mode is empty, MySQL would round to the upper limit:
[code]

[2020-12-11 04:54] wjhuang2016 commented on #21654
Interested in MySQL:
[code]

[2020-12-11 05:02] windtalker opened #21659 "Broadcast join/MPP return empty result when query involves clustered index table."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. load tpch lineitem table with clustered index on
2. run query
[code]
using broadcast join or MPP execution.

### 2. What did you expect to see? (Required)
query returns correct result.

### 3. What did you see instead (Required)
query returns 0.

### 4. What is your TiDB

[2020-12-11 05:03] AilinKid commented on #18336
After trail and error, we got
[code]

[2020-12-11 05:09] AilinKid commented on #18336
But letting etcdcli close firstly is not always a good choice, because you can not tell whether it is caused by PD death. If the PD is good, this code will ignore much information cleaning in the ETCD, and stats related info won't be stored in the TiKV, and ...

Judging whether PD is dead is subjective to your mind, you can send PD request for testing. However, the connection refused can also caus

[2020-12-11 05:13] AilinKid commented on #18336
so I think, for a subjective extreme case (PD is dead), letting the user close TiDB forcibly by `kill -9 PID` is much understandable.

[2020-12-11 05:18] AilinKid commented on #18336
PTAL @morgo @bb7133 @wjhuang2016

[2020-12-11 05:37] morgo commented on #18336
The use case I was thinking about is that the `pd-server` is dead because of an incorrect shutdown order. i.e. you want to shutdown all components, but `pd-server` shuts down first. `tidb-server` and `tikv-server` already correctly handle the case or incorrect startup order (they will spin waiting for pd-server).

In a distributed system it is hard to ensure order, so its nice if shutdown can have

[2020-12-11 05:52] qw4990 opened #21661 "remove the impact of ignored indexes on cardinality estimation"
## Development Task
[code]
As shown in the above case, although the index `(a, b)` is ignored in the second SQL, it also affects the estimation rows, since it has a different `estRows` than the first SQL.
How about removing the effect of ignored indexes on estimation?
It seems more rational and has no side effects.

In addition, it may be useful when testing the optimizer, for example, we can use

[2020-12-11 05:53] qw4990 commented on #21661
What're your options? @zz-jason @winoros @eurekaka @time-and-fate

[2020-12-11 06:07] KivenChen opened #21662 "sort_test.go:testSerialSuite1.TestIssue16696 failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66534/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66534/display/redirect</a>

[2020-12-11 06:13] AilinKid commented on #18336
Make sense, maybe we can change this issue as a feature request and try to figure out an elegant way to do this.

[2020-12-11 06:20] TszKitLo40 commented on #21342
@xuhui-lu hi, are you working on this, if you don't, I want to pick this issue.

[2020-12-11 06:21] morgo commented on #21654
Yeah, I think you are right - I will report it as a MySQL bug tomorrow and see what they think.

[2020-12-11 06:25] wjhuang2016 commented on #17761
Duplicate with #17771

[2020-12-11 06:25] #17761 closed

[2020-12-11 06:26] #16939 closed

[2020-12-11 06:31] eurekaka commented on #13749
Yes

[2020-12-11 06:55] #11755 closed

[2020-12-11 06:55] TszKitLo40 commented on #20256
/pick-up

[2020-12-11 07:20] wjhuang2016 commented on #3644
If `column type change` is not enabled, we can't append the padding `0x00` in the end. So I think we should forbid this alter table job.

[2020-12-11 07:37] #14266 closed

[2020-12-11 07:40] ou-bing commented on #3644
Do you think that changing the column type from `binary (22)` to `binary (33)` should not be supported?

[2020-12-11 08:07] KivenChen opened #21670 "point_get_test.go:testPointGetSuite.TestPointGetReadLock failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66602/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66602/display/redirect</a>

[2020-12-11 08:07] KivenChen opened #21671 "Failed in branch TiCS Test failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3452/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3452/display/redirect</a>

[2020-12-11 08:24] wjhuang2016 commented on #3644
Yeah

[2020-12-11 08:47] #20995 closed

[2020-12-11 08:59] Reminiscent opened #21674 "Wrong result when we compare field with zero value in subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
Latest master `39d8fcc71b6d83a96defcbeafaf2c076583a8328`

[2020-12-11 08:59] Reminiscent commented on #21674
/label sig/planner

[2020-12-11 08:59] Reminiscent commented on #21674
assign

[2020-12-11 09:00] Reminiscent commented on #21674
/assign

[2020-12-11 09:10] #13992 closed

[2020-12-11 09:13] #9716 closed

[2020-12-11 09:17] wjhuang2016 commented on #13157
I think it's a compatibility problem. MySQL would return an error, while TiDB returns a warning.
According to the Query Cast Injection in.8.0. The result should be the same as the explicit cast. This is, return a warning instead of an error.
It's hard to be fully compatible with MySQL. I'm not sure if we need to be compatible with MySQL here.

[2020-12-11 09:37] xiongjiwei opened #21677 "some sql stmt was parsed to wrong identifier"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[2020-12-11 09:53] #15492 closed

[2020-12-11 10:00] XuHuaiyu commented on #11489
@morgo If this is a 'duplicate', I think we can close it.

[2020-12-11 10:02] XuHuaiyu commented on #21654
@morgo If this is a bug in MySQL, we can close this issue, or remove the bug label and add a compatibility label for it.

[2020-12-11 10:07] KivenChen commented on #21671
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3493/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3493/display/redirect</a>

[2020-12-11 10:07] KivenChen opened #21679 "level=fatal msg="run test [type_time] err: sql:SELECT TIME('1000009:10:10.1999999999999');: failed to run query \n\"SELECT TIME('1000009:10:10.1999999999999');\" \n around line 125, \nwe need(71):\nSELECT TIME('1000009:10:10.1999999999999');\nTIME('1000009:10:10.1999999\nbut got(71):\nSELECT TIME('1000009:10:10.1999999999999');\nError 1105: Invalid fsp 13\n\n" failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27091/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27091/display/redirect</a>

[2020-12-11 10:07] #12442 closed

[2020-12-11 10:25] you06 commented on #21498
Here are some cases in RR.

- Update

[code]

- Delete

[code]

- Select inside Insert

[code]

[2020-12-11 10:27] #17771 closed

[2020-12-11 10:36] wjhuang2016 commented on #6882
Confirm that this bug had been fixed in master and release 4.0.

[code]

[2020-12-11 10:52] wjhuang2016 commented on #6882
Fixed by https://github.com/pingcap/tidb/pull/18973

[2020-12-11 10:53] #6882 closed

[2020-12-11 11:07] wjhuang2016 commented on #10091
@morgo Could we close this issue now?

[2020-12-11 12:02] TszKitLo40 commented on #12134
I test in the master version, this issue has been fixed.

[2020-12-11 12:07] KivenChen opened #21681 "level=fatal msg="run test [type_time] err: sql:SELECT TIME('1000009:10:10.1999999999999');: failed to run query \n\"SELECT TIME('1000009:10:10.1999999999999');\" \n around line 125, \nwe need(97):\nSELECT TIME('1000009:10:10.1999999999999');\nError 1105: Invalid fsp 13\nSELECT TIME('10000090:10:1\nbut got(97):\nSELECT TIME('1000009:10:10.1999999999999');\nTIME('1000009:10:10.1999999999999')\n838:59:59.000000\n\n" failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27044/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27044/display/redirect</a>

[2020-12-11 12:07] KivenChen opened #21682 "level=fatal msg="run test [window_functions] err: sql:SELECT (select AVG(i)+RANK() OVER (ORDER BY i)) FROM t1;: failed to run query \n\"SELECT (select AVG(i)+RANK() OVER (ORDER BY i)) FROM t1;\" \n around line 1890, \nwe need(103):\nSELECT (select AVG(i)+RANK() OVER (ORDER BY i)) FROM t1;\n(select AVG(i)+RANK() OVER (ORDER BY i))\nDROP \nbut got(103):\nSELECT (select AVG(i)+RANK() OVER (ORDER BY i)) FROM t1;\n(select AVG(i)+RANK() OVER (ORDER BY i))\nNULL\n\n" failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27052/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27052/display/redirect</a>

[2020-12-11 13:07] KivenChen commented on #21671
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3504/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3504/display/redirect</a>

[2020-12-11 13:07] KivenChen opened #21683 "DATA RACE:github.com/pingcap/tidb/ddl.(*worker).runReorgJob() failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60424/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60424/display/redirect</a>

[2020-12-11 13:07] KivenChen opened #21684 "level=fatal msg="run test [type_time] err: sql:SELECT TIME('1000009:10:10.1999999999999');: failed to run query \n\"SELECT TIME('1000009:10:10.1999999999999');\" \n around line 125, \nwe need(97):\nSELECT TIME('1000009:10:10.1999999999999');\nError 1105: Invalid fsp 13\nSELECT TIME('10000090:10:1\nbut got(97):\nSELECT TIME('1000009:10:10.1999999999999');\nTIME('1000009:10:10.1999999999999')\n838:59:59.000000\n\n" failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27111/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27111/display/redirect</a>

[2020-12-11 13:07] KivenChen opened #21685 "level=fatal msg="run test [type_time] err: sql:SELECT TIME('1000009:10:10.1999999999999');: failed to run query \n\"SELECT TIME('1000009:10:10.1999999999999');\" \n around line 125, \nwe need(97):\nSELECT TIME('1000009:10:10.1999999999999');\nError 1105: Invalid fsp 13\nSELECT TIME('10000090:10:1\nbut got(97):\nSELECT TIME('1000009:10:10.1999999999999');\nTIME('1000009:10:10.1999999999999')\n838:59:59.000000\n\n" failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27115/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27115/display/redirect</a>

[2020-12-11 13:07] KivenChen opened #21686 "level=fatal msg="run test [multi_update] err: sql:SELECT addresses.id, addresses.user_id, addresses.email_address FROM addresses ORDER BY addresses.id;: failed to run query \n\"SELECT addresses.id, addresses.user_id, addresses.email_address FROM addresses ORDER BY addresses.id;\" \n around line 13, \nwe need(159):\nSELECT addresses.id, addresses.user_id, addresses.email_address FROM addresses ORDER BY addresses.id;\nid\tuser_id\temail_address\n2\t8\ted2\n3\t8\ted2\n4\t9\tfred@fred.co\nbut got(159):\nSELECT addresses.id, addresses.user_id, addresses.email_address FROM addresses ORDER BY addresses.id;\nid\tuser_id\temail_address\n2\t8\ted\n3\t8\ted\n4\t9\tfred@fred.com\n\n" failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27113/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/27113/display/redirect</a>

[2020-12-11 13:32] #21437 closed

[2020-12-11 15:07] KivenChen commented on #21671
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3509/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3509/display/redirect</a>

[2020-12-11 15:07] KivenChen commented on #21679
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_common_test/27154/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_common_test/27154/display/redirect</a>

[2020-12-11 16:13] morgo commented on #10806
I can still reproduce this against master, but it requires a tikv server present:
[code]

[2020-12-11 16:18] morgo commented on #10091
Sounds good to me.

[2020-12-11 16:18] #10091 closed

[2020-12-11 16:31] morgo commented on #21654
This is filed as https://bugs.mysql.com/bug.php?id=101976 - I will close this issue as soon as the MySQL bug is marked verified.

[2020-12-11 16:33] morgo commented on #11489
I agree, I am going to close this issue now. The remaining issues are forked into #21619 and  #21654.

[2020-12-11 16:33] #11489 closed

[2020-12-11 18:11] morgo commented on #21654
Alright, it's been verified as a MySQL bug. Closing this issue.

[2020-12-11 18:11] #21654 closed

[2020-12-11 18:46] xuhui-lu commented on #21342
oh, I am working on this already. Thanks for your help.

[2020-12-12 06:34] #21686 closed

[2020-12-12 06:34] #21679 closed

[2020-12-12 06:34] #21681 closed

[2020-12-12 06:35] #21682 closed

[2020-12-12 06:35] #21684 closed

[2020-12-12 06:35] #21685 closed

[2020-12-12 13:11] zyguan opened #21688 "Point get may acquire unnecessary locks"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Note that the `update` of t1 won't be blocked  if we use table scan as following.
[code]

### 2. What did you expect to see? (Required)

Since nothing has been updated by t0, t1 shouldn't be blocked by it.

### 3. What did you see instead (Required)

t1 was blocked

[2020-12-12 13:45] #21619 closed

[2020-12-13 07:55] #20069 closed

[2020-12-13 08:26] wshwsh12 commented on #12209
Now run the sql will return a different error.
[code]

Reproduce Steps:
[code]

I will fix it soon.

[2020-12-14 01:32] morgo commented on #21661
Interesting! I can't reproduce this locally (with or without TiKV). I agree it makes sense that ignore should prevent usage for row estimation, but it's not a strong preference. However, if the index is invisible then it should never be used.

[2020-12-14 02:20] morgo commented on #10467
Re-opening for TiKV investigation.

[2020-12-14 02:48] lance6716 opened #21692 "DOUBLE type can't keep precise"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

lightning's CI

[code]

### 2. What did you expect to see? (Required)

MySQL 8.0.19

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-1804-g06cd92e05
Edition: Community
Git Commit Hash:

[2020-12-14 02:59] #21455 closed

[2020-12-14 03:04] zbingwen commented on #18068
hi @lzmhhh123
which version is this bug fixed? I encountered the same phenomenon in 5.7.25-TiDB-v4.0.6.
git hash is 51d365fc45fdfc039eb204a96268c5bd1c55075f.

[2020-12-14 03:21] zbingwen commented on #18068
![image](https://user-images.githubusercontent.com/6135275/102036724-8490c600-3dfe-11eb-9f19-cafa98a92986.png)

[2020-12-14 03:24] lance6716 commented on #21692
/unlabel type/bug

we didn't support `DOUBLE(M,D)` since https://dev.mysql.com/doc/refman/8.0/en/floating-point-types.html

[2020-12-14 03:51] XuHuaiyu commented on #13157
@wjhuang2016 Please discuss the conclusion with @jebter

[2020-12-14 04:25] lzmhhh123 commented on #17737
Wrong issue.

[2020-12-14 04:25] #17737 closed

[2020-12-14 04:31] lzmhhh123 commented on #21677
/assign @xuyifangreeneyes

[2020-12-14 05:28] xiongjiwei commented on #21677
similar to https://github.com/pingcap/parser/issues/1114

[2020-12-14 06:00] XuHuaiyu commented on #17990
I'll close this issue according to this comment.

https://github.com/pingcap/tidb/issues/17990#issuecomment-644508661

[2020-12-14 06:13] xiongjiwei commented on #21677
it's about parser

[2020-12-14 06:13] wshwsh12 opened #21695 "Different behavior between tidb and tikv."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The result is same.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
 06cd92e05

[2020-12-14 06:21] #21556 closed

[2020-12-14 06:23] XuHuaiyu commented on #21049
If we can only reproduce this problem after `set @@tidb_capture_plan_baselines = on;`, I suppose to change the label from bug to feature-request. @rebelice

[2020-12-14 06:25] crazycs520 commented on #15612
This issue can be closed now? @lysu @tiancaiamao

[2020-12-14 06:33] #21112 closed

[2020-12-14 06:58] AilinKid commented on #15178
This behavior is the same as MariaDB, so let's close it temporarily.

[2020-12-14 06:58] #15178 closed

[2020-12-14 07:21] AilinKid commented on #19548
`TestAddPrimaryKeyRollback2` and `TestAddPrimaryKeyRollback1` are both based on function `testAddIndexRollback` and I think it is has been fixed in https://github.com/pingcap/tidb/pull/21492 for a similar reason, so here we close this issue.

[2020-12-14 07:21] #19548 closed

[2020-12-14 07:33] AilinKid commented on #13399
This issue is fixed by https://github.com/pingcap/tidb/pull/13447.
When a session is executing DDL, the same session should do an additional query in the callback interface.

[2020-12-14 07:33] #13399 closed

[2020-12-14 07:40] #20161 closed

[2020-12-14 07:46] KivenChen opened #21701 "write_test.go:testSuite4.TestWriteListColumnsPartitionTable2 failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65711/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65711/display/redirect</a>

[2020-12-14 07:46] KivenChen opened #21702 "session_test.go:testSessionSuite.TestDefaultWeekFormat failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check/66426/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check/66426/display/redirect</a>

[2020-12-14 07:52] zhaoxugang commented on #20128
/pick-up

[2020-12-14 07:54] wjhuang2016 opened #21704 "The coercibility of the cast function is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
2
### 3. What did you see instead (Required)
4
### 4. What is your TiDB version? (Required)
master

[2020-12-14 08:25] #21607 closed

[2020-12-14 08:45] XuHuaiyu commented on #13492
A duplicate issue with https://github.com/pingcap/tidb/issues/9988.

Not a bug according to [this comment](https://github.com/pingcap/tidb/issues/9988#issuecomment-740400796)

[2020-12-14 08:46] #13492 closed

[2020-12-14 08:46] KivenChen opened #21707 "write_test.go:testSuite4.TestWriteListColumnsPartitionTable2 failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65767/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65767/display/redirect</a>

[2020-12-14 08:46] KivenChen opened #21708 "leaktest.go:Test TestT check-count 50 appears to have leaked: github.com/klauspost/compress/zstd.(*blockDec).startDecoder failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60801/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60801/display/redirect</a>

[2020-12-14 09:01] rebelice opened #21710 "the monitoring did not meet expectations after turning off the feedback"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
set `feedback-probability = 1.0` in config
[code]
SQLs
[code]

### 2. What did you expect to see? (Required)
no Store Feedback QPS

### 3. What did you see instead (Required)
Store Feedback QPS is not 0.

### 4. What is your TiDB version? (Required)

| Release Version: v4.0.

[2020-12-14 09:01] rebelice commented on #21710
/assign

[2020-12-14 09:02] rebelice commented on #21710
/label sig/planner

[2020-12-14 09:02] #15847 closed

[2020-12-14 09:02] rebelice commented on #21710
/label component/statistic

[2020-12-14 09:03] rebelice commented on #21710
/label component/statistics

[2020-12-14 09:04] qw4990 commented on #21433
Close since it is fixed.

[2020-12-14 09:04] #21433 closed

[2020-12-14 09:19] #21704 closed

[2020-12-14 09:24] XuHuaiyu commented on #10467
What does `for TiKV investigation` mean?

[2020-12-14 09:26] XuHuaiyu commented on #10467
If there is any development task that needs to be done,
I think we can create a new issue for it but not keep the `bug` issue opened.

[2020-12-14 09:41] #18884 closed

[2020-12-14 09:54] djshow832 opened #21717 "Allocate start timestamps for exact staleness read-only transactions"
## Background

This is a subtask of https://github.com/pingcap/tidb/issues/21094.

An exact staleness timestamp bound executes reads at a user-specified timestamp.

Users can specify 2 kinds of timestamps:
- An absolute timestamp, such as "2020-12-31 00:00:00".
- A duration relative to the current time, such as "00:00:05".

For an absolute timestamp, it can always be taken as the start timestamp,

[2020-12-14 09:55] #10460 closed

[2020-12-14 10:02] qw4990 commented on #21454
Since essentially it's a problem about Parser and we have workarounds of it, we set it `severity/minor` and `priority/backlog`.

[2020-12-14 10:04] zbingwen opened #21719 "多表关联limit offset 跳过前N(>0)行， 语句hang住"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-12-14 10:11] #21719 closed

[2020-12-14 10:45] xuyifangreeneyes commented on #17785
I am not sure about when redundant `SLEEP` would take effect. In MySQL, `SLEEP` takes effect in `SELECT 1 FROM (SELECT SLEEP(1)) t` (see #11905) while it is eliminated in `SELECT id, pad1 FROM (SELECT id, pad1, SLEEP(2) FROM t1) t2`. It seems that `SLEEP` would take effect when it is selected from Dual Table and would be eliminated otherwise.

[2020-12-14 11:37] tangenta opened #21722 "execute DDL statement in transaction reports 'invalid transaction'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

log output:

[code]

### 4. What is your TiDB version? (Required)
master, `49b926ede766b316cc42bdf40d9ada37deb67968`

[2020-12-14 11:47] KivenChen opened #21723 "integration_test.go:testIntegrationSerialSuite.TestPreferRangeScan failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66520/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66520/display/redirect</a>

[2020-12-14 12:18] hidehalo commented on #19150
/pick-up

[2020-12-14 12:28] qw4990 commented on #14608
@tangwz Would you like to take a look at this?

[2020-12-14 12:35] ichn-hu commented on #12201
/unlabel challenge-program

[2020-12-14 12:43] ichn-hu commented on #12201
I've fixed this as well, but TiDB will produce `00:00:00` instead of `NULL` of MySQL, this is a known compatibility issue, see https://github.com/pingcap/tidb/issues/19158 , so I will not touch it.

[2020-12-14 12:47] KivenChen commented on #21671
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3556/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3556/display/redirect</a>

[2020-12-14 12:47] KivenChen opened #21726 "DATA RACE:github.com/pingcap/tidb/session.(*TxnState).changeToInvalid() failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60730/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60730/display/redirect</a>

[2020-12-14 12:47] KivenChen opened #21727 "DATA RACE:github.com/pingcap/tidb/session.(*session).doCommit.func1() failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60819/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60819/display/redirect</a>

[2020-12-14 12:47] KivenChen opened #21728 "DATA RACE:github.com/pingcap/tidb/store/tikv.(*tikvTxn).close() failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60819/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60819/display/redirect</a>

[2020-12-14 12:47] KivenChen opened #21729 "DATA RACE:github.com/pingcap/tidb/session.(*TxnState).cleanupStmtBuf() failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60819/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60819/display/redirect</a>

[2020-12-14 12:47] KivenChen opened #21730 "DATA RACE:github.com/pingcap/tidb/session.(*TxnState).initStmtBuf() failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60730/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/60730/display/redirect</a>

[2020-12-14 13:05] crazycs520 opened #21731 "create unique index without partition column error when enable-global-index is true"
## Development Task

Please answer these questions before submitting your issue. Thanks!

related issue: https://github.com/pingcap/tidb/issues/18032

### 1. Minimal reproduce step (Required)

TiDB config:

[code]

[code]

### 2. What did you expect to see? (Required)

Execute success.

Currently, `create table` without unique index, but `alter table add unique index` later will be success.

[code

[2020-12-14 13:06] crazycs520 commented on #21731
@tiancaiamao PTAL

[2020-12-14 13:27] XuHuaiyu commented on #21723
Out of date test case.
Merging the latest master can solve this problem.

[2020-12-14 13:27] #21723 closed

[2020-12-14 13:32] crazycs520 opened #21732 "query partition table with global unique index get wrong result"
## Development Task

Related issue: https://github.com/pingcap/tidb/issues/18032

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

TiDB config:

[code]

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-12-14 13:32] crazycs520 commented on #21732
@tiancaiamao PTAL

[2020-12-14 14:47] KivenChen commented on #21662
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67177/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67177/display/redirect</a>

[2020-12-14 15:58] xuyifangreeneyes opened #21734 "wrong result of sql `select * from t where (a = 2 or a = 2) and (a = 2 or a = 2)`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2020-12-14 16:21] morgo commented on #17785
As long as the elimination is legal, I don't think MySQL compatibility needs to be strictly followed.

I think what MySQL is doing, is its attempt at an optimization. If the query is against the table `dual`, it will actually execute the subquery during planning, and then rewrite the query that needs to be executed:

[code]

Executing subqueries during planning is a bit of a weird MySQL-ism that c

[2020-12-14 16:47] KivenChen opened #21736 "pessimistic_test.go:testPessimisticSuite.TestAsyncCommitWithSchemaChange failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67045/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67045/display/redirect</a>

[2020-12-14 17:18] morgo commented on #21734
This slightly more common variant of the query also fails:
[code]

`EXPLAIN` shows this as a query against dual:
[code]

[2020-12-14 17:20] morgo commented on #10467
Sounds good to me. I will reclose.

[2020-12-14 17:20] #10467 closed

[2020-12-14 17:27] breeswish commented on #10467
I think while this PR is closing a bug, it opens another one, due to not identical implementations between TiDB and TiKV. The fail case could be constructed. This might not be considered as a complete fix.

[2020-12-14 17:47] KivenChen commented on #21736
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67197/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67197/display/redirect</a>

[2020-12-14 17:47] KivenChen commented on #21662
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67198/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67198/display/redirect</a>

[2020-12-14 18:07] nolouch commented on #21717
The timestamp `start_ts` serves as the version of in the [TiKV MVCC](https://pingcap.com/blog-cn/tikv-source-code-reading-13/), we should make the version be unique. for the read-only transaction, we can use any version(timestamps) to read data, that same as https://docs.pingcap.com/tidb/stable/read-historical-data.

[2020-12-14 19:47] KivenChen opened #21737 "dump_test.go:testStatsSuite.TestDumpPartitions failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21738 "gc_test.go:testStatsSuite.TestGCPartition failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21739 "handle_test.go:testStatsSuite.TestLoadStats failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21740 "update_test.go:testStatsSuite.TestLogDetailedInfo failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21741 "update_test.go:testStatsSuite.TestOutOfOrderUpdate failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21742 "update_test.go:testStatsSuite.TestUpdatePartitionErrorRate failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21743 "ddl_test.go:testStatsSuite.TestDDLTable failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21744 "update_test.go:testStatsSuite.TestFeedbackRanges failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21745 "update_test.go:testStatsSuite.TestMultiSession failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21746 "update_test.go:testStatsSuite.TestTableAnalyzed failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21747 "update_test.go:testStatsSuite.TestUpdateSystemTable failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21748 "handle_test.go:testStatsSuite.TestVersion failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21749 "handle_test.go:testStatsSuite.TestInitStats failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21750 "handle_test.go:testStatsSuite.TestLoadHist failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21751 "update_test.go:testStatsSuite.TestSingleSessionInsert failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21752 "handle_test.go:testStatsSuite.TestStatsStoreAndLoad failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21753 "update_test.go:testStatsSuite.TestUpdatePartition failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21754 "update_test.go:testStatsSuite.TestUpdatePartitionStatsByLocalFeedback failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21755 "handle_test.go:testStatsSuite.TestEmptyTable failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21756 "update_test.go:testStatsSuite.TestIndexQueryFeedback4TopN failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21757 "dump_test.go:testStatsSuite.TestDumpAlteredTable failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21758 "gc_test.go:testStatsSuite.TestGCStats failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21759 "update_test.go:testStatsSuite.TestQueryFeedback failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66162/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/66162/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21760 "update_test.go:testStatsSuite.TestQueryFeedbackForPartition failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check/66139/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check/66139/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21761 "handle_test.go:testStatsSuite.TestStatsCache failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21762 "update_test.go:testStatsSuite.TestTxnWithFailure failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21763 "update_test.go:testStatsSuite.TestDeleteUpdateFeedback failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21764 "update_test.go:testStatsSuite.TestUnsignedFeedbackRanges failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21765 "update_test.go:testStatsSuite.TestUpdateErrorRate failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check/66139/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check/66139/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21766 "update_test.go:testStatsSuite.TestUpdateStatsByLocalFeedback failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21767 "ddl_test.go:testStatsSuite.TestDDLPartition failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21768 "dump_test.go:testStatsSuite.TestDumpCMSketchWithTopN failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21769 "update_test.go:testStatsSuite.TestLoadHistCorrelation failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21770 "update_test.go:testStatsSuite.TestRollback failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21771 "dump_test.go:testStatsSuite.TestDumpPseudoColumns failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21772 "gc_test.go:testStatsSuite.TestGCExtendedStats failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/65943/display/redirect</a>

[2020-12-14 19:47] KivenChen opened #21773 "db_test.go:testDBSuite2.TestTransactionOnAddDropColumn failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61103/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61103/display/redirect</a>

[2020-12-14 20:47] KivenChen commented on #21773
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61107/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61107/display/redirect</a>

[2020-12-14 21:47] KivenChen commented on #21773
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61111/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61111/display/redirect</a>

[2020-12-14 22:47] KivenChen commented on #21773
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61114/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61114/display/redirect</a>

[2020-12-14 23:47] KivenChen commented on #21773
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61117/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61117/display/redirect</a>

[2020-12-14 23:47] KivenChen opened #21774 "db_test.go:testDBSuite1.TestAddIndex1 failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61117/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61117/display/redirect</a>

[2020-12-15 00:47] KivenChen opened #21775 "merge_join_test.go:testSuite2.TestMergeJoinInDisk failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61119/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/61119/display/redirect</a>

[2020-12-15 01:18] tangwz commented on #14608
/assign

[2020-12-15 02:12] Reminiscent commented on #21734
/assign

[2020-12-15 02:28] #19067 closed

[2020-12-15 02:40] lance6716 commented on #21692
/label type/bug

since behaviour is not same with MySQL 8.0 (thought a deprecated feature), I still let this issue open

[2020-12-15 02:47] KivenChen commented on #21662
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67241/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67241/display/redirect</a>

[2020-12-15 03:09] crazycs520 opened #21778 "optimize the list partition pruner performance in huge partitions"
## Development Task

Related to https://github.com/pingcap/tidb/issues/20678

When there are many partitions, the list partition pruner performance is not good enough. such as the below table has 1000 partitions, each partition has 50 values:

[code]

The following sections describe the current implementation and ideas for improvement.

For simplicity, the following table is used as an example to

[2020-12-15 03:16] lysu commented on #15612
maybe still couldn't, because new implement is disable by default and it won't shipped with 5.0, maybe need waiting 6.0 :disappointed:

[2020-12-15 03:17] Andrewmatilde opened #21780 "store/tikv/oracle: leak when use GetTimestamp"
## Bug Report
I add a very simple goleak test in store/tikv/oracle ,
but get goleak.
The inserted code is:
[code]

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)
no go leak,it works ok
### 3. What did you see instead (Required)
[code]

[2020-12-15 03:23] dyzsr opened #21781 "Support JSON object with key length >= 65536"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Original issue: #9995
A temporary fix: #21779

TiDB produces wrong result when creating JSON object if there's any key length >= 65536. The key length will be truncated to `uint16`, since it is stored into `uint16` instead of larger integer types. And this issue cannot be fixed easily like #21594 , which will b

[2020-12-15 03:28] #21175 closed

[2020-12-15 03:39] XuHuaiyu commented on #17994
dup with https://github.com/pingcap/tidb/issues/9765
I'll close this issue, if you have any further questions, feel free to reopen this.

[2020-12-15 03:39] #17994 closed

[2020-12-15 03:40] #21780 closed

[2020-12-15 03:42] #21659 closed

[2020-12-15 03:47] KivenChen commented on #21671
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3567/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_tics_test/3567/display/redirect</a>

[2020-12-15 03:48] KivenChen commented on #21670
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67245/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/67245/display/redirect</a>

[2020-12-15 03:49] XuHuaiyu commented on #10154
Can not reproduce, fixed already

[2020-12-15 03:49] #10154 closed

[2020-12-15 03:52] XuHuaiyu commented on #8235
@morgo Can we create a new issue for `enable SQL_CALC_FOUND_ROWS/LOCK IN SHARE MODE by default`, and close this **bug** issue?

[2020-12-15 04:12] marsishandsome opened #21784 "admin check table with tiflash: Can't find a proper physical plan for this query"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]