[2021-03-05 07:12] glkappe commented on #23127
add asktug link ：https://asktug.com/t/topic/68817

[2021-03-05 07:27] eurekaka commented on #23116
panic stack:

[code]

[2021-03-05 07:37] eurekaka commented on #23116
panic is triggered by

[code]

`indexAccessPaths[i].Index` is nil because the filter `key2 < SOME (SELECT /*+ use_index_merge(t1)*/ key2 FROM t1 WHERE key1<5 OR key2<8)` is collapsed into constant true.

[2021-03-05 07:50] eurekaka commented on #23116
The bug is introduced by https://github.com/pingcap/tidb/pull/22825, the estimation logic below does not consider possible table path at all.

[code]

[2021-03-05 07:53] jianzhiyao commented on #23116
If indexAccessPaths[i].Index equals nil, continue in the loop?

[2021-03-05 07:58] eurekaka commented on #23116
No, we'd better:
1) handle the constant DNF item in `generateIndexMergeOrPaths`;
2) take table path into consideration in `buildIndexMergePartialPath` as well;

[2021-03-05 08:10] #21731 closed

[2021-03-05 08:28] jianzhiyao commented on #23116
Could you provide some advise for me to fix that bug? I'm just a new hand and very interested in tidb.

[2021-03-05 08:36] eurekaka commented on #23116
Nice to hear that, but I suggest you starting from issues marked as "help-wanted", i.e, https://github.com/pingcap/tidb/issues?q=is%3Aopen+is%3Aissue+label%3Astatus%2Fhelp-wanted. For this issue, IMO it is pretty unfriendly for new contributors if we need not just a protective patch for panic.

[2021-03-05 08:39] jianzhiyao commented on #23116
Thanks for your advise :-). Seems i have misunderstanding on that issue.

[2021-03-05 08:44] #23036 closed

[2021-03-05 08:49] time-and-fate opened #23136 "some logic of index merge row count estimation should be corrected"
## Development Task
We only considered AccessConds but forgot IndexFilters here.
And conditions for one partialPath should be connected by AND instead of OR.

https://github.com/pingcap/tidb/blob/e83a8f656332e6d87a781469b349a640e084e179/planner/core/stats.go#L454-L459

[2021-03-05 08:49] time-and-fate commented on #23136
/assign time-and-fate

[2021-03-05 09:45] windtalker opened #23140 "TiDB generate wrong plan"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
a plan with join and aggregation

### 3. What did you see instead (Required)
a plan only for a subquery of the original query

### 4. What is your TiDB version? (Required)
[code]

[2021-03-05 09:51] guo-shaoge commented on #23060
Guess caused by this fix: https://github.com/pingcap/tidb/pull/18855/files . Trying to figure out how to fix it.

[2021-03-05 10:08] fzhedu commented on #23031
cannot solved via test.
I will fix this issue.

[2021-03-05 10:47] jianzhiyao commented on #17849
/assigin

[2021-03-05 10:48] jianzhiyao commented on #17849
/assign

[2021-03-05 10:58] #23017 closed

[2021-03-05 15:08] wanliyi opened #23144 "Repeated execution of Prepare with null parameter"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-03-06 05:50] lucklove commented on #23126
Can this issue be reproduced when you retry? It is likely to be an occasional operation timeout because there are too many instances running in the same host.

[2021-03-06 05:59] wanliyi opened #23147 "inner join result is incorrect when character set utf8"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-03-07 03:56] 24681430 opened #23151 "How to get the IO consumed of a SQL in TiDB 4.0"
## Description
hi:
May I Chinese?
tidb request a SQL read blocks count
为提高效率，请提供以下信息，问题描述清晰能够更快得到解决：

【TiDB 版本】
4.0
【问题描述】
在mysql可能通过开启profie来查看消耗的IO，但TIDB中并不支持，TIDB中有类似于下面命令的功能吗？用取SQL所需要消耗的IO
set profiling=1;

[2021-03-07 03:59] djshow832 commented on #23151
What do you mean by IO? The disk usage or the number of network/disk accessing?

[2021-03-07 04:08] djshow832 commented on #23151
There's no concept of "read block count" in TiDB. Similar concepts in TiDB are total keys and processed keys.
You can get this either from the `TOTAL_KEYS` of statements summary or `proc_keys` of `Explain Analyze`.
The Chinese docs are https://docs.pingcap.com/zh/tidb/stable/statement-summary-tables and https://docs.pingcap.com/zh/tidb/stable/sql-statement-explain-analyze#%E7%A4%BA%E4%BE%8B

[2021-03-07 04:56] assmdx commented on #23126
It reproduced every time. How to fixed it?

[2021-03-07 04:59] assmdx commented on #23126
And I can't connect the host by ssh, when the error happened every time.

[2021-03-07 11:40] #22759 closed

[2021-03-08 01:17] ming535 opened #23154 "write fencing in schema change"
## General Question

Hi, I was reading the paper "Online, Asynchronous Schema Change in F1" while reading the code in TiDB related to schema change.

My understanding is that, to guarantee safety, there should't be more than two schemas in TiDB servers. Schema lease is just a way to improve the performance but we actually need write fencing to guarantee safety. This is just like any protocols that

[2021-03-08 01:25] WeiTangLau opened #23155 "Feature Request: Arm64 Arch"
## Feature Request

Given the rise of arm64 architecture, it will be beneficial if there is an arm64 arch of TiDB.
I have read the article from the link below regarding the potential of arm64 for TiDB.
https://pingcap.com/blog/porting-tidb-to-arm64-for-greater-flexibility

May I know if there is any update for this?

**Describe alternatives you've considered:**
The alternatives that I have conside

[2021-03-08 02:04] TszKitLo40 commented on #23144
/assign

[2021-03-08 02:18] lucklove commented on #23126
Can you check the upload of the host when this happend?

[2021-03-08 03:01] tiancaiamao commented on #23144
For the first `execute stmt using@a,@b;`

[code]

For the following on `execute stmt using@a,@b;`:

[code]

[2021-03-08 03:30] xiongjiwei commented on #23147
it has been fixed by https://github.com/pingcap/tidb/pull/23045

[2021-03-08 03:31] lilinghai opened #23157 "The result of expression nullif is not correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
Empty set
### 4. What is your TiDB version? (Required)
Release Version: v4.0.0-beta.2-2287-g280d07c4a-dirty
Edition: Community
Git Commit Hash: 280d07c4a0bab259ed21466f126

[2021-03-08 03:32] #23147 closed

[2021-03-08 03:33] windtalker commented on #23140
Looks like the out join is eliminated by `outer_join_eliminate` rule, so it is not a bug.

[2021-03-08 03:33] #23140 closed

[2021-03-08 03:38] lilinghai commented on #23157
The result of statement `select * from t where if(a,null,a) is null;` if also not correct.

[2021-03-08 03:45] wjhuang2016 commented on #23157
Relate to https://github.com/pingcap/tidb/pull/23102, @guo-shaoge Could you take a look?

[2021-03-08 03:50] #23116 closed

[2021-03-08 05:00] occho opened #23159 "Step value overflowed on split command"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
This happens because `step` value is overflowed while calculating it.
https://github.com/pingcap/tidb/blob/v4.0.8/executor/split.go#L542

### 2. What did you expect to see? (Required)

The command succeeded, and the table is splitted. (really?)

### 3. What did you s

[2021-03-08 05:46] qw4990 opened #23160 "The auto-analyze processing on an unanalyzed table is not controlled by the analyze time range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

If a table has never been analyzed, TiDB will auto-analyze it when it has not been modified for a while.
But this behavior is not controlled by the time range [auto_analyze_start_time, auto_analyze_end_time], this makes the user confused.

### 2. What did you expect to see?

[2021-03-08 06:33] guo-shaoge commented on #23157
Same reason as https://github.com/pingcap/tidb/pull/23102

[2021-03-08 06:45] time-and-fate commented on #22952
/assign time-and-fate

[2021-03-08 06:49] time-and-fate commented on #22952
Seems it's introduced by the user variable type system mechanism, which made some plan caches don't work anymore because of type difference.

[2021-03-08 07:50] #23112 closed

[2021-03-08 08:02] eurekaka opened #23168 "check if same type extended stats on same column group has been registered"
## Development Task

[code]

To make life easier, we do not allow same extended stats type on same column group to be registered, so we should report error for the second `alter table` statement.

[2021-03-08 09:24] mantuliu commented on #23159
I test it in the master branch, has the same question.

If @occho  is not interested in fixing this bug, please assign it to me from an official TiDB partner. I want to fix this problem. ^_^ Thanks.

[2021-03-08 09:33] wanliyi opened #23173 "Can't group on aggregate functions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-03-08 09:38] occho commented on #23159
Fine with me about this.

[2021-03-08 11:05] guo-shaoge commented on #23114
drop table t1;
    create table t1(c1 enum('a', 'b'));
    insert into t1 values('a');
    select if(c1 > -1, c1, 1) > 1 from t1;

    mysql> select (case when c1 then c1 end) > 1 from t1;
    ERROR 1105 (HY000): baseBuiltinFunc.evalInt() should never be called, please contact the TiDB team for help

Same reason here: Expression don't return enum/set type when deduce type.

CaseWhen expr's eval fu

[2021-03-08 12:39] wjhuang2016 opened #23178 "admin check table fail on prefixed clustered primary key with new collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Enable the new collation
[code]
### 2. What did you expect to see? (Required)
Ok
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master

[2021-03-08 13:56] lysu opened #23179 "point-get + pessimistic txn + overflow in secondary index may panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

update success

### 3. What did you see instead (Required)

[code]

[code]

### 4. What is your TiDB version? (Required)

master tidb

[2021-03-08 14:19] lysu commented on #23179
it's about overflow condition in pessimistic txn(also with unistore)

change pk to tinyint  and change condition value to  -200 also can trigger it.

[2021-03-08 14:45] lysu commented on #23179
it's a bug in point-get + pessimistic txn + overflow

we also can reproduce it with newest release-4.0

[code]

[code]

[2021-03-08 20:07] morgo commented on #16653
I looked into how MySQL handles this, and was a little dissapointed to discover that it does not. See: https://bugs.mysql.com/bug.php?id=80173

Here is some sample code to reproduce. TiDB will return the statement sample text with a placeholder vs. MySQL that will not even return the statement.

[code]

In TiDB:
[code]

[2021-03-09 00:28] morgo commented on #23173
This behavior is MySQL 5.7 compatible, but not MySQL 8.0:

[code]
vs:
[code]

[2021-03-09 02:08] kolbe opened #23180 "tidb_decode_key doesn't work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2021-03-09 02:26] kolbe commented on #23180
[code]

[2021-03-09 02:39] windtalker opened #23182 "TiDB throw `invalid memory address or nil pointer dereference` error when clustered index is enabled."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
The error can be reproduced using the file attached below.

[error4.txt](https://github.com/pingcap/tidb/files/6105497/error4.txt)

### 2. What did you expect to see? (Required)

sql finished without error
### 3. What did you see instead (Required)
[code]

### 4. What is you

[2021-03-09 04:34] tangenta commented on #23180
This is expected because of the implementation of `SPLIT TABLE`(on a clustered index table):

The clustered primary key's upper bound & lower bound values are converted to `[]byte` first, then it calculates the cut points without the knowledge of "column data".
https://github.com/pingcap/tidb/blob/602bcd2e40c6c8bcc0eabda38d3097f42b22fbd4/executor/split.go#L256-L271

So the cut points are probably

[2021-03-09 04:53] djshow832 opened #23187 "Can't find a proper physical plan for this query"
## Bug Report

The query reports "Can't find a proper physical plan for this query", but it should be executed successfully.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Returns empty result.

### 3. What did you see instead (Required)

```ERROR 1815 (HY000): Internal : Can't find a proper physical plan for this query```

### 4. What is your TiD

[2021-03-09 06:18] kolbe opened #23189 "global variable to change default collations"
## Feature Request

**Is your feature request related to a problem? Please describe:**

A table in MySQL or TiDB that is created with an explicit character set but without an explicit collation uses the default collation for the character set.

The default collations in MySQL are different than those in TiDB.

MySQL uses default `_general_ci` collations, while TiDB uses default `_bin` collations.

[2021-03-09 06:33] Reminiscent commented on #22622
/close

[2021-03-09 06:33] #22622 closed

[2021-03-09 06:37] bb7133 commented on #23189
Sounds reasonable to me, but this is specific for `utf8`/`utf8mb4`. How about other charsets, should we have such variables(or if we need them)?

[2021-03-09 06:39] wjhuang2016 commented on #23180
It's the expected behavior and the error should be more understandable.

[2021-03-09 06:39] kolbe commented on #23189
The easiest thing would be to have a single setting that causes the default collations in TiDB to match the default collations in MySQL, for all character sets. Beyond that, there's a huge amount of complexity to support different default collations for each character set, etc., but we don't need that to solve this specific use-case.

[2021-03-09 07:04] rebelice opened #23190 "SPM doesn't take effect without `use database`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

a new session without `use database`:
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-03-09 07:05] rebelice commented on #23190
/sig planner

[2021-03-09 07:08] tangenta commented on #23180
@lilinghai Could we remove the `critical` tag now?

There are two possible solutions for this issue:
- Leave the cut points undecodable. Refine the error message.
- Design a new `SPLIT TABLE` algorithm for the clustered index tables so that the cut points can be decoded.

WDYT @coocood @bb7133

[2021-03-09 07:22] rebelice commented on #23190
/cc @rebelice

[2021-03-09 07:22] rebelice commented on #23190
/assign @rebelice

[2021-03-09 07:33] qw4990 opened #23192 "planner: inaccurate estimated rows when DNF and CNF are nested together"
## Development Task
[code]
In the explain result, the access range is the correct value `[2, 2]` while its `estRows` is `41.00` which is too larger for this range.
I think its root cause is the way we deal with nested DNF and CNF is too naive.

[2021-03-09 07:34] lzmhhh123 opened #23193 "analyze prefix clustered index get wrong histogram buckets"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
buckets of t0 and t1 are the same.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

nightly

[2021-03-09 07:35] bb7133 commented on #23180
Basically I agree with @tangenta , and is there any possibility that we can decode the cut points? If possible, we can turn it into an 'enhancement' or 'feature request'.

I just found that we don't have any user doc for `TIDB_DECODE_KEY` :(

[2021-03-09 07:35] coocood commented on #23180
The issue not only relates to the clustered index, when you split an index, the region's bound key can not be decoded too.

[2021-03-09 07:37] qw4990 commented on #23192
Do you have any idea about this? @eurekaka @time-and-fate
We can fix issues like this case by case, but would you have any idea that can improve the ability of our planner to process nested DNF/CNF thoroughly?

[2021-03-09 07:42] Reminiscent commented on #23053
It seems we can change the label to `enhancement`. Because we just hold the type not the value for the column now. So if the column is `enum` or `set` type, it can not get the value from the type. What's your opinion? @qw4990 @wjhuang2016

[2021-03-09 07:46] zz-jason commented on #23053
it could cuase incorrect result, it's a critical bug.

[2021-03-09 07:48] lzmhhh123 opened #23195 "analyze clustered index table cause tikv panic when the last column in pk"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
analyze success.

### 3. What did you see instead (Required)
tikv-server panic.

### 4. What is your TiDB version? (Required)

nightly

[2021-03-09 07:52] Reminiscent commented on #23053
/assign

[2021-03-09 07:54] #22496 closed

[2021-03-09 07:58] Reminiscent commented on #23053
Minimal steps to reproduce:
In mysql8.0:
[code]

In TiDB lastest master
[code]

[2021-03-09 08:13] leiysky opened #23198 "Behavior of IN expression is different from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
In MySQL 5.7 and MySQL 8.0:
[code]

### 3. What did you see instead (Required)
In TiDB:
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-03-09 08:19] xiongjiwei opened #23199 "create database should use `collation_server` collation if it not specified"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
please see https://dev.mysql.com/doc/refman/8.0/en/charset-database.html
### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-03-09 08:28] zz-jason commented on #23106
would it block other DDL jobs in the job queue?

[2021-03-09 08:49] AilinKid opened #23202 "ddl: ddl job will hang on loop when it encounts panic in cancelling logic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
**The case is that when add index takes a long time, the user manually canceled the DDL job, so the add index logic will be converted to drop index logic.**

**Once there is a panic in the path of canceling, the goroutine will be pulled up and set its state as canceling agai

[2021-03-09 08:54] #23063 closed

[2021-03-09 08:54] #23069 closed

[2021-03-09 09:14] bb7133 commented on #23106
I will change it to 'critical' since it makes the DDL hangs for a long time(keep retrying), which blocks the succeeding DDLs.

[2021-03-09 09:26] lzmhhh123 opened #23205 "fast analyze clustered index table return error from TiKV"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

table data: https://github.com/pingcap/tidb/files/6107514/tbl_0.zip

### 2. What did you expect to see? (Required)
analyze success.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

nightly

[2021-03-09 09:28] #22750 closed

[2021-03-09 09:30] yilongrong opened #23207 "When use BEGIN OPTIMISTIC and open general log，tidb log txn_mode still use session txn mode."
## General Question

When use BEGIN OPTIMISTIC and open general log，tidb log txn_mode still use session txn value.
If txn_mode set txn value should better?

![image](https://user-images.githubusercontent.com/55389305/110449240-f8d8be00-80fc-11eb-8ffb-ab0d30bb1f2d.png)

[2021-03-09 09:42] lzmhhh123 commented on #23205
[tbl_0.zip](https://github.com/pingcap/tidb/files/6107514/tbl_0.zip)

[2021-03-09 09:47] time-and-fate commented on #23192
After investigation, this issue exists on the release-4.0 branch. On the master branch, it's been indirectly fixed by #18741.

The direct cause is that, on the release-4.0 branch, it will go into the condition branch below, but on the master branch, it won't.
https://github.com/pingcap/tidb/blob/aa82a038f1aa1739885592b57251eb77eaff9991/planner/core/logical_plans.go#L707-L711

The reason behind thi

[2021-03-09 09:47] time-and-fate commented on #23192
And we're cherry-picking #18741 to release-4.0 now.

[2021-03-09 09:54] jyz0309 commented on #23110
/assign

[2021-03-09 09:56] guo-shaoge commented on #22949
Looks like same problem: https://github.com/pingcap/tidb/issues/23125

[2021-03-09 10:14] #22839 closed

[2021-03-09 10:54] Reminiscent commented on #23053
/assign @wjhuang2016

[2021-03-09 11:18] zz-jason commented on #23205
does incremental analyze have the same issue?

[2021-03-09 11:42] #23073 closed

[2021-03-09 12:44] #23157 closed

[2021-03-09 14:40] guo-shaoge commented on #22949
root cause: When rewrite GetVar expr, we use ETString as result type(type of session var a is TypeVarString, we deduce result type of GetVar expr is string).

So we convert 0x3135 as string, which is "15", which equals 0x0F.

[2021-03-09 14:46] #23179 closed

[2021-03-09 15:09] guo-shaoge commented on #22949
But we don't have BinaryLiteral/HexLiteral type in EvalType(only ETInt, ETReal, ETString...). So result type of any expr cannot be BinaryLiteral/HexLiteral.  (see scalar_function.go:Eval(). Result type of an expression is related to eval type)

Maybe we should use result type of an expression to choose evalXXX function.

(But the better way maybe no type switch in runtime, use function pointer to

[2021-03-09 16:08] assmdx commented on #23126
Thanks for your hint ! I try this command ``tiup playground v4.0.0 --db 1 --pd 1 --kv 1 --monitor`` and success.
![image](https://user-images.githubusercontent.com/19722693/110500984-b337e780-8134-11eb-9440-01c25cfa5e36.png)

[2021-03-09 16:08] #23126 closed

[2021-03-09 16:09] assmdx commented on #23126
Remove the 'type/bug' label

[2021-03-09 17:47] wjma90 opened #23222 "Is the "tiflash_proxy_tikv_encryption_ *" metric available?"
## General Question

metric "tiflash_proxy_tikv_encryption_ *" not found or exposed in prometheus.
tiflash: **v4.0.8**
tidb operator: v1.1.10

![image](https://user-images.githubusercontent.com/4097850/110514515-5e18b900-80d5-11eb-8c28-eaa4d43cd7ad.png)

![image](https://user-images.githubusercontent.com/4097850/110514656-86081c80-80d5-11eb-8946-51c7a1115c7f.png)

[2021-03-10 01:35] morgo commented on #23189
I believe this is fine, since `new_collation_enabled=True` only applies at new cluster bootstrap. I am not sure if there are intentions to support enabling this for existing clusters, which is where the really weird scenarios come in. Consider the case that:

1. A user creates a table with `utf8mb4` with an indexed column on a varchar. It will be `utf8mb4_bin` collation.
2. They then upgrade, set

[2021-03-10 02:10] bb7133 commented on #23198
I'm sure the bug is in TiKV copr, I am able to reproduce it in TiDB(`4218f28`, same githash as reported) + TiKV(v4.0.9) but not by TiDB + unistore.

[2021-03-10 02:11] morgo commented on #23198
I have changed this to critical, because it is a wrong results bug. In internal discussion, it was confirmed that it can only be reproduced when using tikv. i.e. without tikv it is the same result as MySQL:

[code]

[2021-03-10 02:35] TszKitLo40 commented on #23144
I want to try this issue but have some questions, can I get help from you on Slack @eurekaka ?

[2021-03-10 02:38] wshwsh12 commented on #23058
@winoros  But if the field `processed` is `int` instead of `bit(1)`, the limit can push down to tikv. Is it reasonable?

[2021-03-10 02:50] XuHuaiyu commented on #22818
/assign @b41sh

[2021-03-10 02:51] Reminiscent commented on #23030
/assign

[2021-03-10 03:41] lzmhhh123 commented on #23205
It's under testing now. If some issues like this. Other TiDB issues would be proposed.

[2021-03-10 04:18] #23060 closed

[2021-03-10 07:01] lzmhhh123 opened #23230 "analyze primary index statement for clustered index table is not triggered"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

nightly

[2021-03-10 07:13] lzmhhh123 commented on #23230
It seems caused by https://github.com/pingcap/tidb/pull/18767

[2021-03-10 07:32] lzmhhh123 commented on #23230
[code]
can trigger analyze primary key.

[code]
can't trigger analyze primary key.

[2021-03-10 08:26] lysu opened #23235 "auto_random metaphors the column be PK but has no way to be clustered"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

create table `t` that a be clustered primary key

### 3. What did you see instead (Required)

ERROR 8216 (HY000): Invalid auto random: column a is not the integer primary key, or table is created with alter-primary-key

[2021-03-10 08:28] zhushuaiCoding commented on #5892
Now I check the introspect using jdbc metadata option on the datagrip, which can cause the presentation information of the table to not be seen.
![image](https://user-images.githubusercontent.com/38322565/110598945-52082680-81bd-11eb-8736-82ed3118281e.png)
![image](https://user-images.githubusercontent.com/38322565/110599187-9267a480-81bd-11eb-82aa-a4e4cf2130d2.png)

[2021-03-10 08:34] wanliyi opened #23236 "Wrong result of comparison operation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2209-gfebac515b
Edition: Community
Git Commit Hash: febac515b1369643216e1efc971a262615d

[2021-03-10 08:37] lysu commented on #23235
user can work around by change ddl to

[code]

it's low priority to fix this, just mark

[2021-03-10 08:40] TisonKun commented on #23031
ref https://github.com/pingcap/tidb/pull/23172

[2021-03-10 08:46] #23106 closed

[2021-03-10 09:07] eurekaka opened #23239 "disable prepare plan cache by default"
## Development Task

I don't believe prepare plan cache is stable enough now, once problem occurs in this component, query may have chance to return wrong results, hence we'd better disable this feature by default.

[2021-03-10 10:35] #23178 closed

[2021-03-10 11:10] #23182 closed

[2021-03-10 11:20] #23193 closed

[2021-03-10 12:12] TszKitLo40 commented on #23144
I think this issue should be caused by prepare plan cache.

[2021-03-10 12:16] #23195 closed

[2021-03-11 02:49] XuHuaiyu commented on #23144
It seems the bug disappears if we disable PreparePlanCache:
[code]

[2021-03-11 02:51] TszKitLo40 commented on #23144
Yes, this bug should be caused by `PlanCache`. And I found the `AccessCondition` of this two executions is different.

[2021-03-11 03:16] morgo commented on #5892
@zhushuaiCoding can you confirm what version of TiDB you are using, by executing `select tidb_version()`.

This appears to be the same issue reported in https://github.com/pingcap/tidb/issues/6949 which has since been fixed.

[2021-03-11 03:45] zhushuaiCoding commented on #5892
Sorry, I didn't use tidb directly. I simply installed MySQL locally, and then the datagrip connection reported this error. Gothub search this problem, want to solve this problem, asked this problem, caused trouble to you, really sorry.

At 2021-03-11 11:17:09, "Morgan Tocker" <notifications@github.com> wrote:

@zhushuaiCoding can you confirm what version of TiDB you are using, by executing select

[2021-03-11 05:50] wshwsh12 commented on #23125
Duplicate of https://github.com/pingcap/tidb/issues/22949

[2021-03-11 05:50] #23125 closed

[2021-03-11 05:58] zbingwen opened #23253 "Performance of simple SQL is unstable under pressure test"
【TiDB 版本】
4.0.10

【问题描述】
 背景：1. 业务压测 <br> 2. 慢语句阀值是100ms <br> 3.system_config_id 和owner_id  有联合组合索引 <br> 4. system_config_item  为配置表，大概2k数据  <br>
 语句:
[code]
现象：偶尔会出现执行超过100ms的慢语句

捕获数据: <br>
正常情况：
![image](https://user-images.githubusercontent.com/6135275/110742657-b97fae00-8271-11eb-8262-cc01becbfc01.png)
异常情况(超过100ms)：
![image](https://user-images.githubusercontent.com/6135275/110742687-c604068

[2021-03-11 06:47] #22635 closed

[2021-03-11 07:09] solotzg commented on #23222
Do you enable encryption config in tiflash?

[2021-03-11 07:19] jianzhiyao commented on #19960
marked

[2021-03-11 07:23] ilovesoup commented on #20372
What's the status of this one? @lysu

[2021-03-11 07:30] #23129 closed

[2021-03-11 08:10] #18401 closed

[2021-03-11 08:26] #23239 closed

[2021-03-11 08:38] time-and-fate opened #23261 "building extended stats fails sometimes when met NULL"
## Bug Report

[code]

version: master

[2021-03-11 08:39] time-and-fate commented on #23261
/assign time-and-fate

[2021-03-11 09:22] lilinghai opened #23262 "The type of year compare with 1- or 2-digit strings is not as expected"
## Bug Report
According to the [mysql manual](https://dev.mysql.com/doc/refman/8.0/en/year.html)

The TiDB didn't cover the converts of year type.

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
2002
### 3. What did you see instead (Required)
empty set
### 4. What is your TiDB versi

[2021-03-11 09:30] guliangliangatpingcap opened #23263 "tiflash binary type date format error after ddl"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[err5.txt](https://github.com/pingcap/tidb/files/6121899/err5.txt)

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-03-11 09:40] guo-shaoge commented on #22949
If `IDT_MC10146` has no index on `COL1`, result is different. Report a bug for MySQL. [bug report](https://bugs.mysql.com/bug.php?id=102912&thanks=4)

    version: Server version: 8.0.23 MySQL Community Server - GPL

    drop table t1_no_idx;
    create table t1_no_idx(id int, col_bit bit(16));
    insert into t1_no_idx values(1, 0x3135);
    insert into t1_no_idx values(2, 0x0f);
    prepare stmt

[2021-03-11 10:10] PatrickNicholas commented on #23239
@eurekaka Hi, would you mind prodivding some test cases to reproduce this problem ?

[2021-03-11 11:06] #14433 closed

[2021-03-11 11:15] qw4990 commented on #21035
Close it since it is failed to reproduce and not updated for a long time.
If it happens again, please reopen it and notify me.

[2021-03-11 11:15] #21035 closed

[2021-03-11 14:44] nolouch opened #23271 "Stale read request may send to a not initailized peer"
## Development Task
Stale read request may send to a not initailized peer
the backoff:

![image](https://user-images.githubusercontent.com/6428910/110804240-f15f1380-82ba-11eb-9846-1edb126528c9.png)
and the region 2 is being added peer, also region 2 is a hot region, the operator not work fast.
![image](https://user-images.githubusercontent.com/6428910/110804549-3f741700-82bb-11eb-9640-dd14c25e5b3

[2021-03-11 14:45] tangenta commented on #23235
So the expected behavior is that `auto_random` implies `clustered`?

[2021-03-11 15:35] nayuta-yanagisawa commented on #18053
/give-up

[2021-03-11 18:13] cberescu commented on #22710
I do not know if you already have this in the logs , but i just realized that the server with the issues is a AMD Ryzen 5 3600 .

I did a full format and install and the issue appeared again.

I added this in case it helps.

[2021-03-11 23:45] #23230 closed

[2021-03-12 02:08] windtalker opened #23273 "TiDB does not throw `Expression of SELECT list is not in GROUP BY clause and contains nonaggregated column` in only_full_group_by mode for complex sql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
TiDB throw error like `Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column`
### 3. What did you see instead (Required)
Query success without any error or warning info.
### 4. What is y

[2021-03-12 03:15] Howie59 commented on #23262
/pick-up

[2021-03-12 04:00] #23065 closed

[2021-03-12 05:32] aytrack opened #23277 "the result of AVG function is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master: 8304d661
5.0-rc: fd4437dde4
release-4.0: 122ee4d8fc

[2021-03-12 06:23] TszKitLo40 commented on #23277
@assign

[2021-03-12 06:23] TszKitLo40 commented on #23277
/assign

[2021-03-12 07:15] sunby commented on #22934
I want to have a try and I have few questions. Should we use the `InitTime` in `TableDelta` to record the generated-time? If so and  we execute these sqls:
[code]
These two inserts will use the same `TableDelta` whose generated-time is before the analyze-statement. Should we abandon the `StatsDelta`?

[2021-03-12 07:51] LittleFall opened #23280 "TiDB CI data race (once)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

see:
https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/67419/nodes/82/steps/323/log/?start=0

### 2. What did you expect to see? (Required)

test success

### 3. What did you see instead (Required)

[code]

### 4. Wh

[2021-03-12 07:56] LittleFall commented on #22975
/cc @hanfei1991

[2021-03-12 07:56] LittleFall commented on #22975
/assign @hanfei1991

[2021-03-12 08:07] XuHuaiyu commented on #23144
PTAL @eurekaka

[2021-03-12 08:17] xiongjiwei commented on #22946
/label severity/critical

[2021-03-12 08:17] xiongjiwei commented on #22946
/type severity/critical

[2021-03-12 08:18] xiongjiwei commented on #22946
/label critical

[2021-03-12 08:46] #22398 closed

[2021-03-12 09:28] aytrack opened #23286 "concat time data type lost the time fsp"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master: b42a6f449a4
release-4.0: 122ee4d8fc9cf1
5.0-rc: fd4437dd

[2021-03-12 09:32] eurekaka commented on #23144
https://github.com/pingcap/tidb/pull/23238 can fix this problem.

[2021-03-12 09:40] lysu opened #23287 "union bit column got different result between clustered and nonclustered table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

get same result

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[2021-03-12 09:52] wjhuang2016 commented on #23287
[code]

[2021-03-12 10:28] zyguan opened #23289 "Another issue when using index join with prefixed clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
similar issue: #23073

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

Empty set.

### 4. What is your TiDB version? (Required)

master (6d258c708a99e5c8ca9680fcdaae9edf680a85a2)

[2021-03-12 10:32] aytrack opened #23290 "the result of prepare execute is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

release-4.0:  122ee4d8fc9cf
master:  b42a6f449a4
5.0-rc: fd4437dde44

[2021-03-12 10:36] wanliyi opened #23291 "The column name is inconsistent with mysql when character set utf8"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-12 11:17] xiongjiwei commented on #23291
I may not agree it is a bug. it is more like a compatibility issue. we use the name you specified in `create table` stmt, but MySQL uses the lower case of the name string.

[2021-03-12 12:00] #23053 closed

[2021-03-12 17:19] wjma90 commented on #23222
How do you enable encryption at rest? i have reviewed [this](https://github.com/pingcap/docs/blob/master/tiflash/tiflash-configuration.md) information and it doesn't indicate how it's done

[2021-03-12 23:11] wjma90 commented on #23222
tidbcluster yaml:
![image](https://user-images.githubusercontent.com/4097850/111008037-3d16c900-835e-11eb-8398-df799f2047fe.png)

tiflash json log - config.toml:
![image](https://user-images.githubusercontent.com/4097850/111007943-fcb74b00-835d-11eb-83e6-81e31e141a8c.png)

tiflash-pod log:
![image](https://user-images.githubusercontent.com/4097850/111007867-d1346080-835d-11eb-9edd-039149ec5c55.png

[2021-03-13 03:20] solotzg commented on #23222
You can check https://github.com/pingcap/docs/pull/3850

[2021-03-13 03:28] solotzg commented on #23222
You can check https://docs.pingcap.com/zh/tidb/stable/encryption-at-rest#tiflash-静态加密-从-v405-版本开始引入

[2021-03-13 05:50] #23202 closed

[2021-03-13 13:02] zz-jason commented on #20804
@ichn-hu is this challenge still effective, can we close this issue?

[2021-03-13 16:01] ichn-hu commented on #23273
@jebter I think this is a planner's bug.

[2021-03-14 14:22] TisonKun commented on #23031
fixed by https://github.com/pingcap/tidb/pull/23172

[2021-03-14 14:22] #23031 closed

[2021-03-14 16:33] guo-shaoge commented on #23198
Implementation of IN expr in copr use generic type, so it cannot handle both signed and unsigned int in one function.

Maybe we should rewrite **c1 IN (unsigned_constant_int, signed_constant_int)** as **c1 IN (unsigned_constant_int) OR c1 In (signed_constnat_int)** to solve this problem.

[2021-03-15 02:11] morgo commented on #23291
I actually think this could be a serious issue. Consider the case that a user's ORM references results not by index, but by a hash which is case sensitive. In this case, the results of TiDB are problematic.

[2021-03-15 02:20] wanliyi opened #23304 "The result of executing prepare is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-15 02:20] morgo commented on #23291
I can't reproduce this issue - is it possible there could be another setting involved? I tried against both master and the hash that you provided. The result is the same as MySQL:

[code]

TiDB:
[code]
MySQL:

[code]

[2021-03-15 02:25] wanliyi commented on #23291
select col1 from t1 where col1 = "a"

[2021-03-15 02:42] morgo commented on #23291
Thanks! verified as described:
[code]

[2021-03-15 02:47] morgo commented on #23291
Here is the correct testcase, verified against master and MySQL 8.0:
[code]

Results (tidb and mysql 8.0):
[code]

[2021-03-15 03:04] xiongjiwei commented on #23291
I get the point, it should be a bug, I will fix it.

[2021-03-15 03:04] xiongjiwei commented on #23291
/assign

[2021-03-15 03:04] xiongjiwei commented on #23291
/assign @xiongjiwei

[2021-03-15 03:07] morgo commented on #23291
I've updated the testcase based on that it does not sem to be related to the character set. It only occurs on columns defined as the primary key:

[code]

So the likelyhood is a now far less common. The user would have to perform a lookup based on a primary key, and then also explicitly select the column for the primary key (when they already know it).

[2021-03-15 03:32] xiongjiwei commented on #23291
it may relate to `Point_Get`. When using `unique index`
[code]

[2021-03-15 03:45] wanliyi opened #23305 "The column name is wrong when two prepares are executed together"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-15 03:49] zyguan opened #23306 "Amend-random test failed when using unique-index mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Not a minimal one. we find that [amend-random::alter-unique-index](https://github.com/pingcap/test-store/blob/3b10cfbe4503a565f130baa6f6716482e887856f/tests/amend-random/meta.yaml#L39) may failed with `record count not same, ...`. [Here](http://fileserver.pingcap.net/downlo

[2021-03-15 03:49] MyonKeminta commented on #22710
Thanks for the information you provided. Currently we have no clue about the exact cause of the problem, and it's possible that the CPU caused the problem.
cc @yiwu-arbug

[2021-03-15 03:52] #23305 closed

[2021-03-15 04:44] Howie59 commented on #23286
i will fix it in my spare time

[2021-03-15 04:50] Howie59 commented on #23286
/assign

[2021-03-15 05:11] wjma90 commented on #23222
crash
![image](https://user-images.githubusercontent.com/4097850/111106329-e8707b00-8522-11eb-898c-79b579b66f53.png)

[2021-03-15 05:49] solotzg commented on #23222
Is there any error shown in tiflash server log ?

[2021-03-15 06:15] lilinghai opened #23308 "The result is not correct when using in expression on year type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t(a decimal(40,20),b year);
insert into t values(1,2002);
select * from t where b in (2); -- correct result
select * from t where b in (2,2); -- wrong result
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
Empty s

[2021-03-15 06:21] windtalker commented on #23308
TiFlash does not have the year type, it simply maps the year type to Int16, so if the expected result of `select * from t where b in (2,2);` is return row `1, 2002`, then TiFlash need extra support for this.

[2021-03-15 06:25] windtalker opened #23309 "The FieldType of a NULL constant is not set correctly, which cause TiFlash return wrong result."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

refer to pingcap/tics#1522

1. Mini reproduce
[code]
2. Expected result
Empty set
3. Actual result
The result from Tikv engine is correct, but the TiFlash engine is
[code]

Cluster version:
Release Version: v4.0.0-beta.2-2209-gfebac515b
Edition: Community
Git Commit Hash: febac515b1369643216e1efc971a262615dc4794
Gi

[2021-03-15 06:52] blacktear23 commented on #23304
/pick-up

[2021-03-15 06:57] disksing commented on #22755
Sorry @ulrich-200  I missed this message. In TiDB, under normal circumstances, the number of regions is strictly based on region size  -- region splits when data size exceeds 144MiB. If you want more Regions, we usually recommend adjusting the configuration to use a smaller region size. Please refer to [configuration file](https://github.com/tikv/tikv/blob/272fb0ab2ea12f869fd584b5d9d11b59976a99c0/

[2021-03-15 07:23] ichn-hu commented on #20804
I think as for the the challenge, it is not effective, but as a guide for our community contributors, this issue is still valuable (as a pinned issue, they would notice it once they entered the issue page).

I could rename the issue to _Welcome to contribute_ and modify the content a little bit to instruct the contributors to pick any bugs that has not yet being assigned to get start.

[2021-03-15 07:43] wanliyi opened #23311 "length(folat) is not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-15 07:56] johan-j commented on #20804
As a first time contributor how found this challenge a few weeks ago I just want to agree with what @ichn-hu is saying. This issue with the title "welcome to contribute" was what triggered me to have a deeper look into your project and send in my first PR's.
So if your goal is to get more contributors and a bigger open source community, this issue can help with that!

[2021-03-15 08:01] wanliyi opened #23312 "GROUP_CONCAT(folat) is not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-15 08:38] fzhedu opened #23313 "executor: show more warnings than mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
from mysql
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-03-15 08:39] ichn-hu commented on #20804
Thank you very much for the feedback!

[2021-03-15 08:42] wanliyi opened #23314 "The result of GROUP_CONCAT(time) is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-15 08:45] Howie59 commented on #23314
/assign

[2021-03-15 08:54] wentaojin opened #23315 "tidb modify server-version ，@@version and show variables like '%version%' not take effect"
modify server-version  5.7.31-TiDB-v4.0.9 ，@@version and show variables like '%version%' not take effect
![image](https://user-images.githubusercontent.com/34805682/111127416-cae8f300-85ae-11eb-86d3-206c181a7f6c.png)
![image](https://user-images.githubusercontent.com/34805682/111127686-0e436180-85af-11eb-9a52-43a241e5534f.png)

[2021-03-15 09:58] hidehalo commented on #20890
Hi @jyz0309 , have you working on it?

[2021-03-15 11:03] AilinKid opened #23321 "ddl: rollingback add index meets panic will lead json unmarshal object error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check/detail/tidb_ghpr_check/75909/pipeline/

On every occasional way, when I cherry-pick the pr to release-4.0, I meet a very strange test failure with message info like
[code]
At the first beginning, I thought it has nothing to do with m

[2021-03-15 11:04] AilinKid commented on #23321
PTAL @zimulala @bb7133

[2021-03-15 11:05] lilinghai opened #23322 "It raised encoding failed when executing select statement on medium blob type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

deploy the tide cluster containing TiKV instance
download [1.txt](https://github.com/pingcap/tidb/files/6140838/1.txt)
[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1105 (HY000): encoding failed
tidb log
`

[2021-03-15 11:30] ChenPeng2013 commented on #23308
mysql 8.0.23
[code]

[2021-03-15 11:44] zz-jason commented on #23308
@lilinghai could you elaborate on the reproduce step, can it be reproduced in TiKV?

[2021-03-15 11:48] lilinghai commented on #23308
@zz-jason Both tidb mocking tikv and  tidb cluster containing tikv instance  will be reproduced.

[2021-03-15 11:52] zz-jason commented on #23308
TiDB returns the same empty result with MySQL in the second query `select * from t where b in (2,2);`

[2021-03-15 11:57] zz-jason commented on #23308
In TiDB, the execution plan is:

[code]

[2021-03-15 11:59] zz-jason commented on #23308
MySQL has the similar plan:

[code]

[2021-03-15 12:09] LittleFall commented on #23308
@ichn-hu says that `in` with one parameter uses `equal` to check, and it converts 2002(type year) to 2(type int) so it returns true in this comparison.

And `in` with two or more parameters uses `hash` to check, hash(2002) is different with hash(2), so it returns empty.

This may be MySQL's design mistake and TiDB ported it.

[2021-03-15 12:54] Howie59 commented on #23312
/assign

[2021-03-15 20:10] wjma90 commented on #23222
i had to uninstall tiflash and reinstall it.

[2021-03-15 20:10] #23222 closed

[2021-03-16 00:59] zbingwen commented on #23253
hi？

[2021-03-16 01:48] mantuliu commented on #23159
@wshwsh12 @ichn-hu @occho #21277 fix the bug.

[2021-03-16 02:16] XuHuaiyu commented on #23308
@lilinghai We may report this as a bug issue to MySQL

[2021-03-16 02:41] #23159 closed

[2021-03-16 04:27] zyguan opened #23331 "The ddl test suite of stmtflow failed with 1pc enabled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
The stmtflow tool is located at [here](https://github.com/zyguan/tidb-test-util/tree/master/cmd/stmtflow) and the test suite can be found [here](https://github.com/pingcap/automated-tests/tree/master/ticases/transaction/tests/ddl).

### 2. What did you expect to see?

[2021-03-16 04:27] you06 commented on #23306
[code]

Seems this case can reproduce it.

[2021-03-16 06:02] jyz0309 commented on #20890
sry to response too late... When I try to fix this issue, I find that read one slog-log file by multi goroutine can not make the “reading file” module faster because of the IO limit. But if you want to try, welcome)

[2021-03-16 06:03] jyz0309 commented on #20890
@hidehalo sry to response too late... When I try to fix this issue, I find that read one slog-log file by multi goroutine can not make the “reading file” module faster because of the IO limit. But if you want to try, welcome)

[2021-03-16 06:04] cfzjywxk commented on #23331
There seem to be two problems:
1. The left pessimistic locks are not cleaned up using `1pc` protocol to commit, blocking other concurrent transactions on these keys.
2. The `ttlManager` is not closed, if the max ts caculation error is reported using `async commit` or `1pc`, thus the left pessimistic locks could not be resolved by the ddl backfill worker.

[2021-03-16 06:14] guo-shaoge commented on #23198
TiKV [PR](https://github.com/tikv/tikv/pull/9823)

[2021-03-16 06:46] #23262 closed

[2021-03-16 07:00] lookhua opened #23338 "Placement Rules set with databasename or tablename not with startkey and end key"
## Feature Request
now Placement Rules is setted with tartkey and end key, it is not convenient; i want to set with databasename or tablename

[2021-03-16 07:05] hidehalo commented on #20890
Thx, I'd like to take a try.

[2021-03-16 07:34] #23205 closed

[2021-03-16 07:34] lzmhhh123 commented on #23205
fix by https://github.com/tikv/tikv/pull/9787

[2021-03-16 07:53] wanliyi opened #23344 "unsupport log format: console"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
[code]

### 2. What did you expect to see? (Required)
Launch TiDB successfully.
### 3. What did you see instead (Required)
panic: unsupport log format: console
### 4. What is your TiDB version? (Required)
v4.0.11

[2021-03-16 08:16] #23100 closed

[2021-03-16 08:40] djshow832 opened #23351 "Setting `wait_timeout` to 0 doesn't take effect"
## Bug Report

After setting `wait_timeout` to a non-zero value and then setting it back to 0, the connection will still timeout.

[code]

In this function, setting `wait_timeout` to 0 won't go into `SetReadDeadline`, so it doesn't take effect.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The query is executed successfully.

### 3. What did you

[2021-03-16 09:42] #23289 closed

[2021-03-16 10:06] #13459 closed

[2021-03-16 10:50] wanliyi opened #23359 "The result of bitwise OR is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-16 10:55] jackwener commented on #23309
the website isn't reachable.

[2021-03-16 11:27] cfzjywxk commented on #23306
@zyguan @you06
Seems related to https://github.com/pingcap/tidb/issues/20909.
We may need to disable such duplicate writes generating in `amend-random` currently.

[2021-03-16 13:05] Howie59 commented on #23351
/assign

[2021-03-16 13:14] Howie59 commented on #23359
/assign

[2021-03-16 14:20] you06 commented on #23306
I've added the unique check in `amend-random`, seems it do not work well :(

[2021-03-16 14:25] Howie59 commented on #23315
/assign

[2021-03-16 21:14] morgo commented on #23351
In MySQL, the minimum value is actually `1` not zero:
[code]

Compared to TiDB:
[code]

[2021-03-16 21:25] morgo commented on #16653
Summarizing this issue:

TiDB will record the statement, but only in prepared statement form versus MySQL which will not record the statement.

TiDB is not strictly compatible with MySQL's performance schema, so it is possible that this could be fixed to be the actual statement. But given the MySQL behavior, it is a lower priority issue.

[2021-03-17 02:58] #23263 closed

[2021-03-17 03:08] djshow832 commented on #23351
Yes, I know. I assume the reason why TiDB is different is that TiDB doesn't support `wait_timeout` before v3.0, and to be compatible with the older versions, TiDB must support `unlimited` and make it default. @morgo

[2021-03-17 03:11] morgo commented on #23351
OK. I believe @SunRunAway would like to change the default for `wait_timeout` (the MySQL default is quite ridiculous, and changes in Aurora/RDS). Maybe we can handle it at the same time?

[2021-03-17 03:16] SunRunAway commented on #23351
I think they're different things and this bug should be fixed or users cannot revert the wait_timeout setting back.

[2021-03-17 03:32] zhangjinpeng1987 commented on #22927
any update?

[2021-03-17 03:33] zhangjinpeng1987 commented on #22927
@zanmato1984 PTAL

[2021-03-17 03:54] sticnarf opened #23363 "Risk of breaking consistency when changing column from null to not null"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Initial table:

[code]
Change the value to `NULL` and change the value to not null concurrently.

[code]

### 2. What did you expect to see? (Required)

Either the DDL or the transaction fails.

### 3. What did you see instead (Required)

I think it is possible that both th

[2021-03-17 04:01] cfzjywxk commented on #22927
@ChenPeng2013 Which result in the issue is expected?

[2021-03-17 04:15] zanmato1984 commented on #22927
This issue is expected to be fixed by this pr https://github.com/pingcap/tics/pull/1508, which got merged 8 days ago.

Please verify if this issue still exists on the latest version. @ChenPeng2013

[2021-03-17 04:32] hidehalo commented on #20890
@jyz0309 Do you have a slack account in TiDB community? I have to take a discuss to you plz.

[2021-03-17 05:00] jyz0309 commented on #20890
Alkaid Jiang~

[2021-03-17 05:33] seiya-annie opened #23366 "config: max-memory has been deleted from 5.0.0, should not displayed in config list of tidb log"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. install v4.0.11 with max-memory = 0
2. upgrade to v5.0.0
3. check config value in tidb log

### 2. What did you expect to see? (Required)
max-memory can't find in config list

### 3. What did you see instead (Required)
["loaded config"] [config="{\"host\":\"0.0.0.0\",\"ad

[2021-03-17 05:33] seiya-annie commented on #23366
/info

[2021-03-17 05:42] #23277 closed

[2021-03-17 05:59] wanliyi opened #23371 "The inserted bit value is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-17 06:08] TszKitLo40 commented on #23371
/assign

[2021-03-17 06:12] TszKitLo40 commented on #23371
In master version, the result is

[2021-03-17 06:46] #22950 closed

[2021-03-17 07:02] #22949 closed

[2021-03-17 07:21] djshow832 opened #23375 "Rename transaction retry related system variables"
## Background

As mentioned in https://github.com/pingcap/docs-cn/pull/5725, there are 3 variables and configurations to control the retrial of transactions:

- Optimistic transactions: `tidb_disable_txn_auto_retry` and `tidb_retry_limit`.
- Pessimistic transactions: `max-retry-count`.

Although the document is polished, users may be still confused if they don't refer to the document.

## Proposal

[2021-03-17 07:25] djshow832 commented on #23375
@SunRunAway @cfzjywxk  What do you think? Any better ideas?

[2021-03-17 07:52] time-and-fate commented on #23273
/assign time-and-fate

[2021-03-17 08:20] #22072 closed

[2021-03-17 08:52] #23144 closed

[2021-03-17 08:52] #23187 closed

[2021-03-17 08:52] #23304 closed

[2021-03-17 08:52] #23290 closed

[2021-03-17 08:55] wjhuang2016 commented on #23363
Dose this can only be reproduced when using the async-commit?

[2021-03-17 09:14] sticnarf commented on #23363
Yes. If it's a normal transaction, the transaction will be aborted by the schema check between prewrite and commit.

[2021-03-17 10:34] ThySinner commented on #16896
/assign

[2021-03-17 10:36] wanliyi commented on #23371
could you please provide your version？

[2021-03-17 13:06] dentiscalprum commented on #16788
/pick-up

[2021-03-17 13:07] dentiscalprum commented on #16788
assign

[2021-03-17 13:07] dentiscalprum commented on #16788
/assign

[2021-03-17 13:40] jackysp opened #23380 "processlist.txnstart is missing when tidb_snapshot is set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
9c48b24cb108d8239534730961a17aa66cfbf36b

[2021-03-17 14:01] shenli opened #23382 "Show table row count in metrics"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Monitor the data volume of the tables.

**Describe the feature you'd like:**

Show the row count info in metric (like Grafana/Dashboard).

**Describe alternatives you've considered:**

https://github.com/prometheus/mysqld_exporter may be an alternative. But I am not sure.

**Teachability, Documentation, Adoptio

[2021-03-17 14:03] tirsen commented on #23382
Best is if we emit metrics that are compatible with the metrics emitted (from the same information_schema tables) of Prometheus mysqld_exporter: https://github.com/prometheus/mysqld_exporter

[2021-03-17 15:20] githubxxcc commented on #22680
/assign

[2021-03-18 00:15] morgo commented on #23375
Why not use `tidb_txn_retry_limit` for both pessimistic and optimistic? I don't think it is good to abbreviate to `opti` or `pess`, since it is not like `txn` where the abbreviation is well established.

[2021-03-18 01:28] xhebox commented on #23127
@xiongjiwei Does this issue get fixed?

[2021-03-18 01:54] aytrack opened #23385 "create partition table doesn't check the unsigned option"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master:   9e3c0649e43db48
release-4.0:  f0550862604419246
release-5.0rc: d3ac2c0d3e

[2021-03-18 02:22] TszKitLo40 commented on #23371
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| tidb_version()

[2021-03-18 02:29] xiongjiwei commented on #23127
the parser may not be updated. I will do it

[2021-03-18 02:30] wanliyi commented on #23371
This is verified as a problem with my mysql client

[2021-03-18 02:30] djshow832 commented on #23375
I agree with you on that the abbreviation is not suitable. I'm concerned by whether the retry limit of optimistic and pessimistic transactions can be always the same. What do you think by your experience? @cfzjywxk

[2021-03-18 02:31] #23371 closed

[2021-03-18 02:33] djshow832 commented on #23375
Besides, can we use `tidb_enable_txn_retry` for both pessimistic and optimistic?

[2021-03-18 02:38] xhebox commented on #23127
I think it is already done in #23040 . But I am waiting for another LGTM.

[2021-03-18 02:39] morgo commented on #23375
I think it's safer to use the same name for both (even if the implementation logic ends up being different). If you use different names there is a higher risk of misconfiguration.

If users want different behaviors for their pessimistic vs. optimistic transactions, they will need to use session variables.

[2021-03-18 02:42] zyguan opened #23386 "The feature comment of clustered index does not take effect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
This is issue seems to be introduced by #23046 .

### 2. What did you expect to see? (Required)

The primary key of t should be clustered

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master (9f388deb62b7c8ee81a472

[2021-03-18 03:01] xiongjiwei commented on #23385
/assign

[2021-03-18 03:08] cfzjywxk commented on #23375
The retry is a a bit different as the pessimistic retry is statement level retry and the optimistic retry is transaction level, the optimistic retry may be deprecated in the future.  Maybe we could leave just one "retry" variable, I'm not sure about the proper name currently,  or just keep the `tidb_retry_limit` name?

Besides, we may need to consider about the incompatibility issues for users usi

[2021-03-18 03:10] cfzjywxk commented on #23306
@you06 @zyguan
We could record an issue in amend-random repo and close this issue.

[2021-03-18 03:14] seiya-annie opened #23387 "v4.0.11 upgrade to v5.0.0, user privileges changed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. create user quatest with create privi on v4.0.11
MySQL [(none)]> create user qatest;grant Create on *.* to qatest;
Query OK, 0 rows affected (0.03 sec)
2. upgrade to v5.0.0
3. check user privileges

### 2. What did you expect to see? (Required)
MySQL [(none)]> show grants

[2021-03-18 03:21] #23306 closed

[2021-03-18 03:25] kolbe commented on #23386
@zyguan I think the problem is that you excluded the exclamation point from your CREATE TABLE statement. You have to put a ! between the T and the opening square bracket, like this:

[code]

[code]

[2021-03-18 03:30] #23380 closed

[2021-03-18 03:35] zyguan commented on #23386
Sorry, I missed the `!`.

[2021-03-18 03:35] #23386 closed

[2021-03-18 04:52] #23331 closed

[2021-03-18 05:19] coocood commented on #21250
@winoros
There are many cases this optimization makes a significant difference.
If the 20000 handles need like 10 tableScan cop requests, and the selection match 50% of rows, then with this optimization we only need to read 20 rows instead of 20000 on TiKV.

[2021-03-18 05:30] lysu opened #23390 "add clustered/nonclustered keyword in normal index should report error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

should report error, because we don't support it in 5.0

### 3. What did you see instead (Required)

create table success.

### 4. What is your TiDB version? (Required)

master

[2021-03-18 05:47] lysu opened #23391 "explaintest create stats function cannot works"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

3cfb984211901c3416ec539658ac86d2cb64e81f

[2021-03-18 05:51] winoros commented on #21250
@coocood
For such cases, control the cop worker using tech like slow-start should work. Push down or not will always need a sort after the second read. The `sort` would be a single node calculation.

[2021-03-18 06:36] qw4990 commented on #23309
@windtalker could you please give me more details like the query and table schema?

[2021-03-18 06:42] windtalker commented on #23309
1. Mini reproduce
[code]
2. Expected result
Empty set
3. Actual result
The result from Tikv engine is correct, but the TiFlash engine is
[code]

Cluster version:
Release Version: v4.0.0-beta.2-2209-gfebac515b
Edition: Community
Git Commit Hash: febac515b1369643216e1efc971a262615dc4794
Git Branch: master
UTC Build Time: 2021-03-01 03:47:27
GoVersion: go1.13
Race Enabled: false
TiKV Min Version: v3.

[2021-03-18 07:09] zyguan commented on #21884
The [regression test](https://github.com/pingcap/automated-tests/blob/master/ticases/transaction/regression/cases.go#L139-L166) failed on master because #23240 disabled plan-cache by default recently.

![2021-03-18_150914](https://user-images.githubusercontent.com/6850317/111586542-f1e83480-87fb-11eb-8ab7-ee4ab2198cc1.png)

[2021-03-18 07:35] #22850 closed

[2021-03-18 07:37] lysu commented on #23235
@bb7133 @coocood  how do you think about this?

[2021-03-18 08:00] #18042 closed

[2021-03-18 08:03] djshow832 opened #23396 "Querying `stats_extended` reports syntax error"
## Bug Report

Selecting `stats_extended` reports syntax error, and I have to add quotes for it:
[code]
Is `stats_extended` implemented as a keyword in `show  stats_extended`? It doesn't make sense because other stats tables are fine, such as `select * from stats_histograms`.

### 1. Minimal reproduce step (Required)

select * from stats_extended limit 1;

### 2. What did you expect to see? (Requi

[2021-03-18 08:51] wanliyi opened #23402 "min() returns wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-18 09:07] eurekaka opened #23406 "trigger stats gc properly"
## Development Task

[code]

Even after 2 stats gc intervals, i.e, 10 mins, the records in `mysql.stats_meta`, `mysql.stats_histograms` and `mysql.stats_buckets` are not removed.

The stats gc can only properly work if there are other stats operations that would update the `LastUpdateVersion` of stats cache in the stats owner.

We should optimize stats gc to remove this assumption.

[2021-03-18 09:29] kennytm commented on #23402
The actual behavior difference is the treatment of `year :: decimal → int` function when `NO_ZERO_DATE` is active

In MySQL 8 (with `NO_ZERO_DATE` sql mode)

[code]

In TiDB when NO_ZERO_DATE is on:

[code]

The numbers are the same when `NO_ZERO_DATE` is removed.

[2021-03-18 09:39] kennytm commented on #23402
/retitle `YEAR(0.9)` returns NULL instead of 0 in `NO_ZERO_DATE` mode

[2021-03-18 09:40] wanliyi commented on #23402
Thank you for your analysis！

[2021-03-18 09:43] kennytm commented on #23402
i don't think it should be closed like this since it is an actual compatibility issue, unless we decide that this is "won't fix".

[2021-03-18 09:51] rebelice opened #23408 "hide `index-usage-sync-lease` config for 5.0"
## Feature Request

we need hide `index-usage-sync-lease` config for 5.0 because feature `index usage collect` is not GA.

[2021-03-18 10:01] #23286 closed

[2021-03-18 10:01] #23314 closed

[2021-03-18 10:25] wan1y opened #23411 "The result of 'varbinary + 1' is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-18 10:31] winoros commented on #21250
Yeah, we get a new case that is not mentioned above.
A very extreme case is that:
- Only one region is scanned, and only first of it can meet the needs.
- But the minimum unit of our scan is region. Thus, many unnecessary rows are scanned.

This correct solution should be streaming api.

[2021-03-18 11:11] lysu commented on #23390
fixed by https://github.com/pingcap/tidb/pull/23270

[2021-03-18 11:11] #23390 closed

[2021-03-18 11:15] lysu opened #23412 "add shard_row_id_bits to clustered index should report error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

both two stmt should fail

### 3. What did you see instead (Required)

success

### 4. What is your TiDB version? (Required)

master

[2021-03-18 11:15] lysu commented on #23412
fixed by #23270

[2021-03-18 11:15] #23412 closed

[2021-03-18 12:05] dentiscalprum commented on #23411
/assign

[2021-03-18 12:24] winoros opened #23414 "MPP cop request should give correct error when tiflash is killed when request is sent."
## Development Task

Step
- Start cluster
- Create a table with tiflash replica.
- Send a tiflash MPP request.
- set @@session.tidb_allow_fallback_to_tikv = 'tiflash';
- Kill tiflash server before the query is finished.

Expected result:
- The query is successfully executed with tikv engine.

Got:
- `ERROR 1105 (HY000): rpc error: code = Unavailable desc = transport is closing`

[2021-03-18 15:09] bb7133 opened #23419 "ddl: changing a column from nullable to `NOT NULL` is not 'SQL_MODE'-aware."
## Bug Report

### 1. Minimal reproduce step (Required)
Reproduce scripts:
[code]

### 2. What did you expect to see? (Required)
In MySQL:
[code]
### 3. What did you see instead (Required)
TiDB:
[code]
### 4. What is your TiDB version? (Required)
v5.0.0-rc, but I believe it happens for all existing versions.

[2021-03-18 16:02] kennytm opened #30709 "S3's `check-path` is not specific enough"
Please answer these questions before submitting your issue. Thanks!

### 1. What did you do?

1. dump some SQL files into `s3://some-bucket/some-prefix/` on AWS S3.
2. create a role, give it the `s3:ListBucket` and `s3:GetObject` permission, conditioned with `s3:prefix`=`some-prefix/`.
3. run Lightning using that role

### 2. What did you expect to see?

successfully restored.

### 3. What did you

[2021-03-18 23:44] Yan-Ou opened #23423 "Issue with loading TPC-C warehouses"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

- Deploy tidb cluster respectively on c6g.2xlarge instance's and r5b.2xlarge instance's EKS clusters.
- Load TPC-C 5000 wareshouses into the clusters as per the instructions here: https://docs.pingcap.com/zh/tidb/stable/benchmark-tidb-using-tpcc
- Watch the EKS nodes status

[2021-03-19 01:50] #10806 closed

[2021-03-19 02:17] #23363 closed

[2021-03-19 02:23] TszKitLo40 commented on #23419
/assign

[2021-03-19 02:49] jyz0309 commented on #23402
I think maybe you can update the issue's topic to "YEAR(0.9) returns NULL instead of 0 in NO_ZERO_DATE mode" and update  the issue Description？

[2021-03-19 03:33] jyz0309 commented on #23402
I will try to fix it next week /assign

[2021-03-19 08:16] ChenPeng2013 commented on #22927
verified on tiflash v5.0.0-nightly-4-g9ed85da6f

[2021-03-19 08:16] #22927 closed

[2021-03-19 09:30] XuHuaiyu opened #23436 "optimize count(distinct a) to count(a) if there is an unique key on a"
## Feature Request

**Is your feature request related to a problem? Please describe:**
[code]

TiDB will OOM if there are too many tuples in table `t`.

**Describe the feature you'd like:**
Actually we can optimize `count(distinct a)` to `count(a)` since there is an unique key on column a.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-03-19 09:32] winoros commented on #23436
This one can be added in `rule_aggregation_elimination.go`.
And the case can be limited to the most simple one:
- No group by.
- Only agg funcs with same distinct column.
- There's unique key on the column.

[2021-03-19 09:40] TszKitLo40 commented on #23436
/assign

[2021-03-19 09:41] TszKitLo40 commented on #23436
I want to try this issue

[2021-03-19 09:43] winoros commented on #23436
yeah, if you have questions, just contact us via slack!

[2021-03-19 09:59] #23107 closed

[2021-03-19 10:25] XuHuaiyu commented on #23359
It's expected behavior as we described in the doc.
中文：https://docs.pingcap.com/zh/tidb/stable/data-type-numeric#float-%E7%B1%BB%E5%9E%8B

[2021-03-19 10:26] #23359 closed

[2021-03-19 11:13] xhebox opened #23440 "config: add no delay option for tcp connection"
## Development Task

#22757 has added no delay option, but pingcap/docs and pingcap/docs-cn have not been updated yet, that is the tidb-configuration-file.md file.

[2021-03-19 12:32] jianzhiyao commented on #14466
marked

[2021-03-19 15:11] #22704 closed

[2021-03-19 15:23] Howie59 commented on #23199
/assign

[2021-03-19 15:39] githubxxcc commented on #22680
I am seeing slightly different behaviour than the original post.

#### Minimal reproduce step
- `make server` from master branch commit: 4b90ef471ccbbda048e02108fc64af61798f870d
- Run the queries as above

#### What I see instead
[code]
Note: `Available values are 'tikv'.` There is no `tiflash` available at all, which is different from what @fzhedu saw earlier.

[2021-03-19 16:06] Howie59 commented on #23321
/assign

[2021-03-20 05:02] Howie59 commented on #23315
@WentaoJin how did u modify server version? modify the configuration directly?

[2021-03-20 06:50] uqix opened #23446 "One of 3 tikv nodes suddenly transitioned to Pending Offline state, how to resolve it?"
[code]

So far, I have tried something like restarting the cluster, scale-in then scale-out the `Pending Offline` node, nothing worked.

pd logs:
[code]

tikv logs:
[code]

[2021-03-20 14:23] uqix commented on #23446
Or how to cancel the scale-in operation considering a cluster needs at least 3 tikv nodes?

[2021-03-20 16:33] morgo commented on #23110
This is currently a [documented behavior](https://docs.pingcap.com/tidb/dev/system-variables#max_execution_time):

I think it is wrong though, it should not apply to DDL. There is no problem with it applying to INSERT/UPDATE/DELETE.

[2021-03-22 00:46] HuGanghui commented on #23440
I am on it.

[2021-03-22 01:08] LittleFall opened #23449 "Support push aggregations down to coprocessor when grouping by column calculated by subquery's scalar function."
## Feature Request

**Describe the feature you'd like:**

Support push aggregations down to coprocessor when grouping by column calculated by subquery's scalar function.

[code]

version 4.0.11

[2021-03-22 01:09] LittleFall commented on #23449
/label sig-executor

[2021-03-22 01:09] LittleFall commented on #23449
/sig executor

[2021-03-22 01:28] LittleFall commented on #23449
has been opened by https://github.com/pingcap/tidb/pull/21459

[2021-03-22 01:28] #23449 closed

[2021-03-22 02:06] zimulala opened #23450 "tidb_test.go:tidbTestSerialSuite.TestTLS failed"
[code]

[tidb_ghpr_unit_test](https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/80640/pipeline)

[2021-03-22 02:24] guo-shaoge commented on #23198
we can close this bug. @XuHuaiyu

[2021-03-22 02:36] xhebox commented on #23440
/assign @HuGanghui

[2021-03-22 02:36] xhebox commented on #23440
/sig sql-infra

[2021-03-22 02:54] morgo commented on #23198
I've confirmed that this has been fixed against daily builds of tikv + tidb:
[code]

[2021-03-22 02:54] #23198 closed

[2021-03-22 03:12] jyz0309 commented on #23110
Yep, and although it seemed to apply to DDL, the DDL will exec successful after show the error. So I think it's a bug caused by Expensive Query

[2021-03-22 05:32] winoros opened #23451 "`SHOW ANALYZE STATUS` missed the finish time for each task"
## Feature Request

**Describe the feature you'd like:**

![image](https://user-images.githubusercontent.com/7846227/111944496-ba86ca00-8b12-11eb-849d-040aa8657b7e.png)

We've have `show analyze status` grammar to show the current analyze status. But we only have the column of the created time and the current status. No finish time. It's a little hard for now to know when the analyze is finished.(

[2021-03-22 05:37] Yisaer opened #23452 "Hide the detail in warning message after editing pd config"
## Development Task
It might be not user-friendly to expose the detail in pd for user, we should hide some details.

[code]

[2021-03-22 05:40] winoros opened #23453 "Not very resonable behavior of the `modify_count` in `show stats_meta`."
## Feature Request

**Describe the feature you'd like:**

Currently, when we analyze a big table(e.g. There are billions rows in it). The analyze will last a long time.
It cause two problems:
1. We will clean the modify count after the analyze is finished. But since the analyze lasts a long time, the modify count after it's triggered and before it's finished will lose. This would lead to wrong row

[2021-03-22 06:40] xhebox commented on #23338
/sig sql-infra

[2021-03-22 06:43] xhebox commented on #23338
Does this [RFC: placement rules in SQL](https://github.com/pingcap/tidb/blob/master/docs/design/2020-06-24-placement-rules-in-sql.md) suit your needs, @lookhua?

The master branch has supported add rules by partition names. It is on a very early stage of dev.

[2021-03-22 06:46] xhebox commented on #23154
/sig sql-infra

[2021-03-22 06:50] xhebox commented on #23154
I think you could move to the slack channel #sig-sql-infra for a more responsive communication. As for the problem, I haven't read the paper... I did not know the full view.

[2021-03-22 07:11] #23261 closed

[2021-03-22 07:58] winoros commented on #21884
This one does exist. It's a little strange, still under investigation.

[2021-03-22 08:53] zimulala commented on #23387
PTAL @bb7133

[2021-03-22 09:32] time-and-fate opened #23456 "Selectivity() can't correctly recognize an index can cover which expressions"
## Development Task
[code]
Add a breakpoint in `getMaskAndRanges()` and run this SQL:
[code]
When handling index iab, you'll find the `mask` is 0, which means this index doesn't cover any expressions.
However, this is wrong, in fact, index iab covers the first 4 expressions.
Eventually, this makes `GetUsableSetsByGreedy()` chooses statistics of column a, column b, and index ic to calculate selecti

[2021-03-22 09:33] time-and-fate commented on #23456
/sig planner

[2021-03-22 09:42] zimulala commented on #23322
/cc @XuHuaiyu

[2021-03-22 09:43] zz-jason commented on #23322
It's better to figure out the affected versions firstly.

[2021-03-22 09:47] cfzjywxk commented on #23015
As the influence of this issue is not that big, change the severity to minor, it could be solved in the progress of  the refactor task https://github.com/pingcap/tidb/issues/22901.

[2021-03-22 09:50] cfzjywxk commented on #22658
It is that urgent, so I changed the severity to minor.

[2021-03-22 09:52] zz-jason commented on #22388
I think it's not blocking 5.0 GA, but we need to fix it ASAP in the following releases.

[2021-03-22 09:54] zz-jason commented on #23068
@fzhedu could you provide the table schema and the full reproduce steps?

[2021-03-22 09:56] cfzjywxk commented on #22345
As the usage is not that common, I change the severity to minor and the pr could be merged if @lysu has time.

[2021-03-22 09:57] cfzjywxk commented on #21618
@bb7133 time to merge the fix pr before 5.0 GA?

[2021-03-22 10:19] rebelice commented on #22388
This issue is resolved by [pull/23161](https://github.com/pingcap/tidb/pull/23161/), we can close it.

[2021-03-22 10:39] zimulala commented on #22791
/cc @XuHuaiyu

[2021-03-22 10:47] #23408 closed

[2021-03-22 11:24] blacktear23 commented on #21618
https://github.com/pingcap/tidb/pull/21148
@cfzjywxk PTAL

[2021-03-22 11:28] qw4990 commented on #23309
It's caused by this https://github.com/pingcap/tidb/pull/14571.

[2021-03-22 11:57] #21884 closed

[2021-03-22 12:00] lysu opened #23459 "Cascade / MPP's LogicalTableScan derive stats with wrong range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

no reproduce but see it has something wrong in code

<img width="1469" alt="Screen Shot 2021-03-22 at 7 50 05 PM" src="https://user-images.githubusercontent.com/528332/111986496-fe94c180-8b48-11eb-9f22-7e5902b5ab4c.png">

LogicalTableScan only be used in cascade and MPP

##

[2021-03-22 12:02] guo-shaoge commented on #23322
drop table if exists t1;
    create table t1(c1 blob);
    insert into t1 values(unhex('f7'));
    select hex(c1) from t1;
    mysql> select * from t1 where c1 = 1;
    ERROR 1105 (HY000): encoding failed

root cause: Copr tries to convert **0xf7** into utf8, then convert it to float, which will be compared by **1**. But 0xf7 is not a valid utf8 char(one byte and first bit is 1). So TiKV gives err

[2021-03-22 12:29] #22952 closed

[2021-03-22 12:31] cfzjywxk commented on #22516
@zyguan
https://github.com/pingcap/tidb/pull/17268 did some fix on this metric and changed the observing value to `seconds` instead of `nanoseconds`.

[2021-03-22 12:55] wangtianyi2004 opened #23460 "the issue with tidb socket"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
after I drop the root@'%', I can still logon tidb by root@'XXX'.

**### 1. Minimal reproduce step (Required)**

[root@r40 topology]# cat tidb-c1.yaml | grep -C 10 sock
# #   readpool.storage.use-unified-pool
# #
# # You can overwrite this configuration via the instance-level `config` field.

server_configs:
  tidb:

[2021-03-22 13:21] cfzjywxk commented on #22516
/cc @lysu

[2021-03-22 14:15] morgo commented on #22658
@cfzjywxk triage guidelines say that if a feaure does not support its primary use case then it is critical. In this case, if a user executes this query expecting tidb to not permit modification, it can result in wrong results.

[2021-03-22 14:25] cfzjywxk commented on #22658
Make sense. We could try to fix it before 5.0 GA.

[2021-03-22 15:06] morgo commented on #22658
Yes, I agree. Because after GA it becomes an issue to change a statement to now be an error (even if that is the correct behavior in this case).

[2021-03-22 19:43] morgo commented on #23460
Verified as described. I will take a look.

[2021-03-23 02:10] aytrack opened #23464 "range columns partition table does not support the binary data type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master: fd706ab76bd09ac859
release-4.0: f0550862604
release-5.0: 03f11d24c716b

[2021-03-23 03:13] #23192 closed

[2021-03-23 03:52] ThySinner commented on #16581
Sorry I didn't get the point. Why expand the table? I found the following sql
[code]
has an equivalent semantic and will generate less execution operators, which means it is more likely to have a better performance.
However, if we add an `expand` operator like Spark SQL does, we could use it to implement `with rollup` and `with cube` clauses.

[2021-03-23 05:17] #23273 closed

[2021-03-23 06:33] winoros opened #23472 "Test that the multi-cols' statistics is based on sampling."
## Development Task

Currently, we are constructing the index(i.e. multi-column for most cases)'s statistics. This will make the analyze run a very long time after the command is triggered. And this will cause issue like https://github.com/pingcap/tidb/issues/23453.

So we're testing to construct the index's statistics based on sampling to see whether it will lose precision on row count esitmation

[2021-03-23 06:33] winoros commented on #23472
It's under testing, and will give report soon.

[2021-03-23 06:39] time-and-fate commented on #22477
This bug has been fixed by https://github.com/pingcap/tidb/pull/23404

[2021-03-23 07:00] zyguan opened #23473 "`NO_DEFAULT_VALUE` disappeared after altering primary key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Execute following sql via mysql command with `--column-type-info`.
[code]
It may lead to a failure of amend txn at the first time of altering primary key.

Note that if we create table as `create table t (k int auto_increment primary key, v int)`, there is no `NO_DEFAULT_VA

[2021-03-23 07:23] time-and-fate commented on #23456
/assign time-and-fate

[2021-03-23 07:40] #23309 closed

[2021-03-23 08:05] winoros commented on #23453
Whatever the #23472 's test satisfies our needs or not. The `1.` will always exist. If we analyze on a large table whose data is billions. There's always a gap between the trigger time and the finish time.

[2021-03-23 08:05] coocood commented on #23453
We can do this:

When a analyze task begins to run, it read the current modified count, then after the analyze task finish it update modfied count by subtract the modified count with the value it previously read.

[2021-03-23 08:19] Win-Man opened #23476 "Change mysql.user Host field to char(255)"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I want to set IP white list, but it exceed char(64).

**Describe the feature you'd like:**

Change mysql.user Host field to char(255).

[code]

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-03-23 08:22] zyguan opened #23477 "tipocket vbank found invalid when running with async-commit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

The minimal one is still unkonwn. We ran [tipocket/vbank](https://github.com/pingcap/tipocket/tree/master/testcase/vbank) and it failed with invalid state (the total sum of balance is incorrect). The full test command is as following:

[code]

The test log can be found [her

[2021-03-23 09:16] aytrack opened #23479 "the behavior of bit type for / is incompatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master: fd706ab76bd0
release-5.0: 03f11d24c7

[2021-03-23 09:16] seiya-annie commented on #23287
/info

[2021-03-23 09:33] aytrack commented on #23479
following sqls are execute on tidb.
[code]

[2021-03-23 09:40] lysu opened #23482 "update right columns in left join report wrong null check error when no match record in right side"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

[code]

without not-null  constraint, it will write down wrong null row data in table `b`

### 4. What is your TiDB version? (Required)

master

[2021-03-23 10:05] lilinghai opened #23483 "The result of in expression using decimal unsigned column with index is not expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1690 (22003): DECIMAL value is out of range in '(10, 0)'
### 4. What is your TiDB version? (Required)
Release Version: v4.0.0-beta.2-2431-gd1cc4c6a9
Edition: C

[2021-03-23 10:12] mmyj commented on #17083
/pick-up

[2021-03-23 10:13] mmyj commented on #17083
/assign

[2021-03-23 11:31] #23385 closed

[2021-03-23 11:37] lysu commented on #23482
introduced by 658132fcf3d859204ec53c0caaf27d837a63cf00

[2021-03-23 12:20] zyguan opened #23488 "Text column can be used in index without key length"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`alter table ...` should failed with `1170, "BLOB/TEXT column 'k' used in key specification without a key length"`

### 3. What did you see instead (Required)

All statements succeeded. `show create table t` prints as f

[2021-03-24 01:59] morgo opened #23494 "admin show ddl jobs output confusing with multiple jobs"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

I have 10 tables all trying to add an index concurrently (via sysbench):

[code]

There are two confusing parts to this output:
- `START_TIME` is the time the job was first created, not the time it actually started (because of queueing).
- The `STATE` of `none` for the queu

[2021-03-24 02:19] aytrack opened #23495 "cast as decimal return the wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
the default number of digits for decimal should be 10.
[code]
### 3. What did you see instead (Required)
the default number of digits for decimal should be 10, but `cast` return 11
[code]
### 4. What is your TiDB version?

[2021-03-24 02:22] xhebox commented on #22703
/assign

[2021-03-24 02:42] zimulala commented on #23068
@fzhedu Sorry, I can’t reproduce this problem. Could you give me specific steps to reproduce it?

[2021-03-24 04:22] fzhedu commented on #23068
after checked, this bug does not occur on the master now.

[2021-03-24 05:44] zimulala commented on #23068
OK.
I try this SQL on v4.0.4, it doesn't return a panic and an error.
On v4.0.11, it will return the error of `ERROR 1054 (42S22): Unknown column 'subquery1_t1.col_varchar_binary_key' in 'where clause'`.
On release-5.0, it will
On master it is OK.

Maybe we forgot to cherry-pick a PR. @winoros could you confirm it?

[2021-03-24 05:55] overvenus opened #34205 "Lightning exit log does not report actual error"

[2021-03-24 06:01] youjiali1995 opened #23498 "simple_test.go: testSuite3.TestDropPartitionStats failed"
[code]

[2021-03-24 06:11] wanliyi opened #23499 "The result of ‘group by having' is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-24 06:21] lilinghai opened #23501 "The index join on columns of year type and int type gets wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
ERROR 8033 (HY000): invalid year
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2431-gd1cc4c6a9
Edition: Community
Git Commit Hash: d1cc4c6a9

[2021-03-24 07:24] #23414 closed

[2021-03-24 07:31] mmyj commented on #17083
Origin plan is
[code]
the optimizer eliminates the second projection operate, generate final plan
[code]
I'm not sure that it is a bug. @qw4990

[2021-03-24 07:39] kennytm commented on #1895
In Sync-diff-inspector, we have a custom checksum command based on:

[code]

(for sure this is not a general solution because the `concat_ws` result cannot exceed `@@max_allowed_packet`, and also it relies on the stability of data → string conversion.)

[2021-03-24 07:40] zimulala commented on #23154
On very old versions (before the release-1.0 version, such as rc1), we directly use the lease time to check the transaction commit. But this granularity is too large, causing many transactions to fail to commit, so do some optimization.

[2021-03-24 08:12] aytrack opened #23506 "tidb panic while query a table which was set collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. set `new_collations_enabled_on_first_bootstrap = true`
2. execute the sqls.
[code]

### 2. What did you expect to see? (Required)
execute successfully and TIDB not panic
### 3. What did you see instead (Required)
[code]
tidb log:
[code]

### 4. What is your TiDB version?

[2021-03-24 08:22] wanliyi opened #23507 "The result of selecting with hexadecimal is wrong when character set utf8"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-24 08:34] aytrack opened #23508 "“ Unexpected ExprType Float64 and EvalType Int” while using cluster index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
execute  successfully without error
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master: fd706ab76bd09ac859

[2021-03-24 08:50] ming535 commented on #23154
My understanding is that "write fencing" in F1 is implemented by spanner which depends on TrueTime; how does TiDB guarantee safety?

[2021-03-24 09:08] aytrack opened #23510 "cluster index table Error: key not exist"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
execute successfully without error
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master: b1b375e7ef0

[2021-03-24 09:09] eurekaka commented on #23396
This is because `stats_extended` is marked as a reserved keyword now, while `stats_histograms` is marked as tidb keyword. The rationale behind this difference is to support the syntax like `alter table t add stats_extended s1 ...`, if `stats_extended` is not marked as a reserved keyword, the parser cannot know it is a keyword or a column name, since `alter table t add [column] a ...` is supported

[2021-03-24 09:14] eurekaka commented on #23051
Fixed by https://github.com/pingcap/tidb/pull/23238.

[2021-03-24 09:14] #23051 closed

[2021-03-24 09:25] kennytm commented on #23507
This is likely just the issue that "new collation" (`utf8_general_ci`) is not enabled.

[code]

[2021-03-24 09:45] wanliyi opened #23511 "The result of selecting with hexadecimal is wrong when bit as the primary key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-24 09:50] wanliyi commented on #23507
mysql> SELECT VARIABLE_VALUE FROM mysql.tidb WHERE VARIABLE_NAME='new_collation_enabled';
+----------------+
| VARIABLE_VALUE |
+----------------+
| True           |
+----------------+
1 row in set (0.08 sec)

[2021-03-24 09:50] aytrack commented on #23507
I have enable new collation, a

[2021-03-24 09:53] wanliyi commented on #23507
[code]

[2021-03-24 09:54] kennytm commented on #23507
what if you make the collation `utf8mb4_general_ci`

[2021-03-24 10:02] sylar8023baby opened #23512 "ERROR 1105 (HY000): Please specify the 'table_schema' when query information_schema.TABLE_STORAGE_STATS"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)

We can get correct output results;

### 3. What did you see instead (Required)

ERROR 1105 (HY000): Please specify the 'table_schema'

### 4. What is your TiDB version? (Required)
// I did the test on v4.0.8 and v5.0.0-rc

[2021-03-24 10:16] wanliyi commented on #23507
There is also this problem on collation utf8mb4_general_ci

[2021-03-24 10:40] zyguan commented on #23512
Thanks for the report, @sykp241095 . This might be by design according to [here](https://github.com/pingcap/tidb/blob/411dba25b165f1d9baa6ab11895788b530dd7984/executor/infoschema_reader.go#L1577). @reafans Could you please confirm this?

[2021-03-24 10:53] Reminiscent commented on #23030
After investigation, it was found that this bug has been fixed on `master` and `release-5.0`.

[2021-03-24 10:55] #23030 closed

[2021-03-24 11:01] mmyj commented on #17677
v3.0.12 can not reproduce it.
![image](https://user-images.githubusercontent.com/21154264/112299945-45aebe00-8cd3-11eb-9b31-67366436cb96.png)

[2021-03-24 11:11] #23460 closed

[2021-03-24 11:34] mmyj commented on #18309
https://github.com/pingcap/tidb/pull/22232

[2021-03-24 12:03] zyguan commented on #23511
Similar to #23053 , the binary literal will be convert to a bit datum and the comparation failed, thus table dual (instead of point get) used as the final plan.

[2021-03-24 12:20] time-and-fate opened #23515 "auto analyze log doesn't print table name and partition name"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

When auto analyze is triggered, the log information is incomplete. The parameters are not replaced by the actual values.
![image](https://user-images.githubusercontent.com/25057648/112308398-0c7b4b80-8cdd-11eb-8a04-7db4a1d231fe.png)

### 2. What did you expect to see? (Requ

[2021-03-24 12:21] time-and-fate commented on #23515
/assign time-and-fate

[2021-03-24 12:24] #18309 closed

[2021-03-24 15:05] githubxxcc commented on #21098
Is it fixed already or still a bug?

I am seeing almost identical behaviour on current master 4b90ef471ccbbda048e02108fc64af61798f870d with MySQL. (Just that `analyze` doesn't produce a table on TiDB, but does on MySQL, which seems not to be the concern of this issue).

[2021-03-24 15:36] zyguan commented on #23499
When trying to remove duplicated exprs in `LogicalJoin.PredicatePushDown`, we calculate the hash code of each expr. However, `t1.col1 = 0xe59388e59388e59388` and `t1.col1 = 0xe598bfe598bfe598bf` actually have same hash code because both binary literals are greater than MaxUint64, then `t1.col1 = 0xe598bfe598bfe598bf` gets dropped.

[2021-03-25 00:23] morgo commented on #23476
This came up in the review of the design in Dynamic privileges: https://github.com/pingcap/tidb/pull/23224#discussion_r593739601

I agree, I think we should fix it.

[2021-03-25 02:42] Reminiscent commented on #23511
/assign

[2021-03-25 02:43] xhebox commented on #22703
/sig execution

[2021-03-25 03:53] #22892 closed

[2021-03-25 05:06] xiongjiwei commented on #23464
/assign

[2021-03-25 05:07] #23387 closed

[2021-03-25 06:18] seiya-annie opened #23531 "v4.0.0 panic: runtime error: invalid memory address or nil pointer dereference [recovered]"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

server_configs:
  tidb:
    alter-primary-key: true
    enable-streaming: false
    experimental.allow-auto-random: false
    experimental.allow-expression-index: true
    mem-quota-query: 10
    new_collations_enabled_on_first_bootstrap: true
    oom-action: cancel
    per

[2021-03-25 06:42] djshow832 commented on #23531
When `mem-quota-query` is `10` and `oom-action` is `cancel`, the internal SQL exceeds the memory quota and `eqh.sm` is not initialized. So it panics.

[2021-03-25 06:43] #23510 closed

[2021-03-25 07:00] seiya-annie commented on #23531
error info is not clear. please fix error info

[2021-03-25 07:02] winoros commented on #23068
It should be fixed by #23354, which isn't merged to 5.0 yet.

[2021-03-25 07:17] fzhedu opened #23539 "planner: wrong results of null and 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
this error exsits regardless of mpp execution.
mysql -h 172.16.5.85 -P 52324 -uroot -D agg_sub200

### 2. What did you expect to see? (Required)
mysql :
[code]

[code]

### 3. What did you see instead (Required)
[code]

[code]
### 4. What is your TiDB version? (Required)

ma

[2021-03-25 07:29] cfzjywxk opened #23540 "txn: the async commit transaction status judge may be inaccurate with fallback"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

This is raised during the investigation of https://github.com/pingcap/tidb/issues/23477.

1. Raise an async commit transaction.
2. Let the transaction fallback to 2pc before the commit stage.
3. Raise another transaction trying to resolve the prewrite locks of the previous

[2021-03-25 07:31] King-Dylan opened #23541 "Compatible with mysql 5.7 noop variables: innodb_default_row_format"
## Feature Request
Compatible with mysql 8.0 parameter innodb_default_row_format

**Is your feature request related to a problem? Please describe:**
jira is required for  innodb_default_row_format = dynamic

**Describe the feature you'd like:**
user can set innodb_default_row_format and can use set variables  change value

**Describe alternatives you've considered:**

**Teachability, Documentation

[2021-03-25 07:40] djshow832 commented on #23541
As the row format is not suitable for TiKV, does it mean TiDB can allow users to set its value and just ignore it?

[2021-03-25 07:41] King-Dylan commented on #23541
yes

[2021-03-25 07:46] cfzjywxk opened #23542 "txn: some logs and assumptions are inaccurate when the async commit protocol is used"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
There are some logs and assumptions which are not accurate or wrong when the async commit protocol is used, they are:
1. https://github.com/pingcap/tidb/blob/master/store/tikv/commit.go#L146 when the async commit protocol is used, the  first commit batch which is successful

[2021-03-25 07:51] #23515 closed

[2021-03-25 08:31] sticnarf commented on #23540
I don't think it actually causes a problem. The TTL must have expired if 4.5 is triggered. Then, in 4.8, TiKV must treat the primary lock as expired and rolls it back.

But it's indeed logically incorrect and needs to be fixed.

[2021-03-25 08:50] #14800 closed

[2021-03-25 08:55] wan1y opened #23549 "count() is incompatible with mysql and tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-25 09:03] #23477 closed

[2021-03-25 09:05] #23483 closed

[2021-03-25 09:11] martin-g opened #23552 "Test failures on Linux ARM64"
## Bug Report

### 1. Minimal reproduce step (Required)

Running `make test` on Ubuntu 20.04.2 64bit reports several failures:

[code]

[code]

[code]

[code]

### 2. What did you expect to see? (Required)

All tests to pass

### 3. What did you see instead (Required)

Test failures

### 4. What is your TiDB version? (Required)

Current `master`.
[code]

[2021-03-25 09:18] martin-g commented on #23552
I see the project uses [CircleCI](https://github.com/pingcap/tidb/blob/1915517c0c0ded0749a2c534be8a4813d82ea890/circle.yml) (although I'd expect the CircleCI config to be placed at .circleci/config.yml).
Since recently CircleCI provides ARM64 builders - https://github.com/CircleCI-Public/arm-preview-docs.
If you are interested I could work on a Pull Request to add CI job to build and test on ARM64

[2021-03-25 09:22] martin-g commented on #23552
Yet another way to get access to ARM64 is by using Docker+QEMU.
In short:
- (dev-machine) $ docker run -it --rm --privileged multiarch/qemu-user-static --credential yes --persistent yes
- (dev-machine) docker run -it --rm -v /path/to/tidb:/tidb arm64v8/ubuntu:focal bash
- (docker) # # install any prerequisites
- (docker) # cd /tidb
- (docker) # make test

More details about this setup could be fou

[2021-03-25 09:41] guo-shaoge commented on #23287
/assign

[2021-03-25 09:42] lzmhhh123 opened #23553 "update single table with join having panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
update successfully.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

both 4.0 and master

[2021-03-25 11:38] #23168 closed

[2021-03-25 11:58] #23406 closed

[2021-03-25 12:39] #23540 closed

[2021-03-25 13:44] lysu opened #23563 "partition selection doesn't take affect on PointUpdate"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

like https://github.com/pingcap/tidb/pull/17285 but point-get update

[code]

### 2. What did you expect to see? (Required)

report error like `Found a row not matching the given partition set`

### 3. What did you see instead (Required)

success

### 4. What is your TiDB v

[2021-03-25 13:45] lysu commented on #23563
https://github.com/pingcap/tidb/pull/17285 handle normal update, but miss point-get code path, add them maybe can fix this.

[2021-03-25 13:47] cfzjywxk commented on #21655
@zyguan
Seems it's still not fixed yet for the partition table changing, though the transaction could not commit successfully but the reading result is incorrect.

[2021-03-25 15:17] NingLin-P commented on #22964
https://github.com/tikv/raft-rs/pull/356 may not solve the problem completely, because it only limits the number of committed entries within each `Ready`, but if TiKV apply log not fast enough and the store thread run fast and produce `Ready` without any limit, it can produce multiple `Ready` for all committed entries, and cause OOM like this issue.

[2021-03-26 01:27] morgo opened #23567 "non-zero feedback-probability causes panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

- Change feedback-probability to 0.05:
[code]
- Run a simple sysbench test (using 1.0.20 which ships with Ubuntu)

[code]

### 2. What did you expect to see? (Required)

It should just run sysbench

### 3. What did you see instead (Required)

[code]

In the TIDB server log:

[2021-03-26 01:45] morgo commented on #23549
Verified as described. My client returned a warning for this statement though:
[code]

[2021-03-26 01:51] morgo commented on #23541
I agree in this instance it is fine to ignore. What JIRA is doing is a little bit silly:

- `innodb_default_row_format` was introduced in 5.7 where the default is `DYNAMIC`. Prior to this, you needed to specify the row format per-table.
- JIRA is setting it to `DYNAMIC`, very likely to ensure that indexes on `varchar(255)` + utf8mb4 are supported. So it is essentially only handling the case that a

[2021-03-26 02:18] morgo commented on #23541
@King-Dylan I have a PR available to fix this, but I've not tagged it for cherry picking to a release branch. Let's chat on Feishu/Slack if you would like it to be.

[2021-03-26 02:41] Reminiscent commented on #23506
/assign

[2021-03-26 03:10] XuHuaiyu opened #23569 "index_merge returns wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
[code]

[2021-03-26 03:16] xhebox commented on #23473
/assign

[2021-03-26 03:20] zimulala commented on #23494
Currently `START_TIME` true meaning may be `CREATE_TIME`. I think a new field can be added.

[2021-03-26 03:24] qw4990 opened #23570 "planner: hints don't work in some batch/point get cases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

## Development Task
[code]
As you see above, the `ignore hint` doesn't work in the first case but can control the second.

### 2. What did you expect to see? (Required)
Both cases can be controlled by the hint.

### 3. What did you see instead (Required)
Only the second cas

[2021-03-26 03:33] qw4990 commented on #23570
@zz-jason  PTAL, should we regard this as a bug and what severity should it be?

[2021-03-26 03:36] xhebox commented on #23450
/assign

[2021-03-26 03:39] lcwxz1989 opened #23571 "Same table data isolate because of multi tenant in application level"
## Feature Request

In my application, there will be a lot of tenant. And I must isolate tenant data by recommend.
I can use mysql to meet the recommend by sharding, but how can I do this in TiDB

[2021-03-26 03:43] zz-jason commented on #23570
I think it should be critical.

[2021-03-26 04:31] Reminiscent commented on #23506
It's related to the collation decode. Assign @xiongjiwei

[2021-03-26 04:31] Reminiscent commented on #23506
/assign @xiongjiwei

[2021-03-26 04:47] #23553 closed

[2021-03-26 05:01] xuyifangreeneyes commented on #22934
IMHO, one way is that we abandon the `TableDelta` (or dump it to disk) before starting analyze so the second insert statement will use a new `TableDelta`. However, this method have problems when there are several TiDB instances. It may be hard to let one instance, who wants to execute `analyze`, ask another instance to abandon or dump `TableDelta`.

[2021-03-26 06:16] xiongjiwei commented on #23506
it happens because will assume all the string to compare is valid utf8, but it is not true, it may be a binary charset. MySQL does `binary` compare if it is an incorrect string. https://github.com/mysql/mysql-server/blob/7ed30a748964c009d4909cb8b4b22036ebdef239/strings/ctype-utf8.cc#L7541-L7544
PTAL @bb7133 @wjhuang2016

[2021-03-26 06:37] RickyWuCN opened #23579 "most of the opentracing span not created due to the root span not passed to the context."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I tested tidb with opentracing enabled, using opentelemetry-collector to collect traces. everything looks good but only 'server.dispatch' span was captured. I have already read some of the code, it looks like other types of span never created when tidb is running. I found s

[2021-03-26 06:43] XuHuaiyu commented on #23569
This bug has been fixed in #23572 and there are 2 LGTM already.
Since we plan to not release it in 4.0.12, I'll remove the `critical` and `bug` label temporarily to avoid been moved into the bug jail.

[2021-03-26 07:06] lilinghai opened #23581 "The result of simple select wrong when cluster index is on"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. SET @@global.tidb_enable_clustered_index = 1
2. execute the sqls
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2460-g40b92181d-dir

[2021-03-26 07:13] WentaoJin commented on #23315
@Howie59 yes，modify tidb config parameter  server-version ,then reload tidb-server

[2021-03-26 07:26] wjhuang2016 opened #23582 "INL_JOIN hint is not used correctly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master

[2021-03-26 07:32] winoros commented on #23582
Confirmed that this should be the current restriction of the partition table.
Move it to enhancement.

[2021-03-26 07:34] tisonkun opened #23583 "Randgen: Anti join with different scale / precision decimal join key produces wrong result"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-03-26 07:38] winoros commented on #23068
Closed since 5.0 is merged.

[2021-03-26 07:38] #23068 closed

[2021-03-26 07:43] wjhuang2016 commented on #23582
Anyway, the warning is still wrong.
[code]

[2021-03-26 08:33] LittleFall opened #23587 "Add column `End_time` in `show analyze status` and add related infromation in logs."
## Feature Request

**Is your feature request related to a problem? Please describe:**

I suggest a customer analyze a table, it cost a lot of time, but we all don't know when it is ended.

**Describe the feature you'd like:**

1. Add column `End_time` in `show analyze status`:
[code]

2. And when the analysis ended, print information to log.

**Describe alternatives you've considered:**

Can't fi

[2021-03-26 08:36] LittleFall opened #23588 "Support global `show analyze status`."
## Feature Request

**Is your feature request related to a problem? Please describe:**

I suggest a customer analyze table, but he can't find any information from `show analyze status` after the tidb-server dumped and restarted.

**Describe the feature you'd like:**

Support global `show analyze status`.

**Describe alternatives you've considered:**

https://github.com/pingcap/tidb/issues/23587

*

[2021-03-26 09:41] zmou commented on #23095
Has been resolved

[2021-03-26 09:41] #23095 closed

[2021-03-26 09:48] TszKitLo40 commented on #23563
/assign

[2021-03-26 10:38] TszKitLo40 commented on #23563
I want to try this issue.

[2021-03-26 11:05] #22400 closed

[2021-03-26 11:43] #23482 closed

[2021-03-26 12:39] #23581 closed

[2021-03-26 13:53] lilinghai opened #23601 "The result of aggregation with the having condition is not as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. deploy and start a tidb cluster
2. execute the sqls
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
Empty set
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2460-g40b92181d-dirty
Edition

[2021-03-26 20:35] kolbe opened #23602 "Incompatible casting of hexadecimal literals"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL successfully casts the hexadecimal notation strings to integers and is able to use the index. TiDB fails to cast them correctly and instead performs a table scan.

[code]

### 3. What did you see instead (Required

[2021-03-26 21:15] morgo commented on #23602
There is a similar issue in https://github.com/pingcap/tidb/issues/23464 - I don't think it fixes this issue, but it shows there might be a lack of test coverage for an expression using hex literals like this.

[2021-03-26 21:45] morgo commented on #22439
Fixed in https://github.com/pingcap/tidb/pull/23224

[2021-03-26 21:45] #22439 closed

[2021-03-26 23:07] kolbe opened #23603 "Show component versions in Overview dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It's common for us to have access to Grafana dashboards but maybe not to other types of data. It would be convenient if it was easier to know the versions of all nodes in the cluster.

**Describe the feature you'd like:**

I'd like there to be a panel in the Overview dashboard to show the versions of all compon

[2021-03-27 08:45] wjhuang2016 opened #23606 "batch point get is not used as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Batch point get is used.
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-03-27 11:19] aytrack opened #23608 "wrong partition pruning cause the query result incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-03-27 12:28] lilinghai opened #23609 "It raise Incorrect time value when using index join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1292 (22007): Incorrect time value: '{2000 0 0 0 0 0 0}'
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2477-g149440854-dirty
Edi

[2021-03-27 13:33] zz-jason commented on #23609
I think it's quite critical: the query result can not be stable because the optimizer decides whether to use index join or hash join.

[2021-03-27 18:01] morgo commented on #23603
See also: https://github.com/pingcap/tidb/issues/14487

It would be useful to also see the other components in bug reports.

[2021-03-28 04:52] zhouqiang-cl opened #23611 "Unstable unit test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
all unit test pass
### 3. What did you see instead (Required)
<img width="893" alt="截屏2021-03-28 下午12 42 43" src="https://user-images.githubusercontent.com/23521459/112742724-b865b500-8fc3-11eb-8d37-ea3ba3dda2a9.png">
in

[2021-03-28 05:00] zz-jason opened #23612 "3min CI: let's limit the CI time to 3 minutes"
## Background

It takes me 6 minutes to pass all the unit tests in my local machine:

[code]

## Analysis

At present, most of the UTs are written in SQL, for example:

- [`expression/integration_test.go`](https://github.com/pingcap/tidb/blob/1e3921aff5f7f2bcc02a3d520244ba1db547d734/expression/integration_test.go):
[code]

- [executor/executor_test.go](https://github.com/pingcap/tidb/blob/1e3921af

[2021-03-28 06:48] cyliu0 opened #23613 "PD version in cluster info is different from pd-server -V"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
They have the same version

### 3. What did you see instead (Required)
They are 5.0.0-nightly and 5.0.0-rc.x

### 4. What is your TiDB version? (Required)

[2021-03-28 09:25] zz-jason commented on #23608
@aytrack how did you find this bug?

[2021-03-28 10:54] zz-jason commented on #20804
@ichn-hu sure, but the challenge program has finished, the issue description needs to be clarified.

[2021-03-28 11:02] seiya-annie opened #23614 "alter column type for range columns partition table fail"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

MySQL [function]> alter table dup_sbtest1 modify column id bigint(11) NOT NULL AUTO_INCREMENT;
Query OK, 0 rows affected (0.13 sec)

MySQL [function]> show create table dup_test_range_column;
+-----------------------+---------------------------------------------------------

[2021-03-28 11:05] seiya-annie commented on #23614
not a bug

[2021-03-28 11:10] #23614 closed

[2021-03-28 11:36] seiya-annie opened #23615 "drop nonclustered primary key, and add new clustered key fail"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

MySQL [function]> show create table tidb;
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2021-03-28 13:16] xuyifangreeneyes opened #23617 "the result of hash partition table with not expression in where clause is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

### 5. Root Cause:
In `func (r *builder) buildFromNot(expr *expression.ScalarFunction) []*point`, we don't ha

[2021-03-28 13:24] thinkinnight commented on #23488
/assign

[2021-03-29 02:25] XuHuaiyu commented on #21441
reopen this issue cause the fix is reverted in https://github.com/pingcap/tidb/pull/23276

[2021-03-29 02:42] wshwsh12 opened #23619 "Support enum push down to coprocessor."
## Development Task

Now enum type data can only be calculated on the tidb side. So if a filter condition using enum type data, it can't push down.

We can support enum date calculation in TiKV, and push down the condition to filter data close to storage, to reduce network and computing pressure.

## Task

- [x] Support Enum expression calculation in TiKV https://github.com/tikv/tikv/issues/9066
-

[2021-03-29 02:55] #23579 closed

[2021-03-29 03:14] zeroslope commented on #15519
/assign

[2021-03-29 03:43] aytrack commented on #23608
We prepare 2w+ tables and write data randomly, and prepare some query templates to execute on these 2w tables, details: https://github.com/pingcap/automated-tests/tree/com-tables/cases/common

[2021-03-29 03:57] Reminiscent commented on #23601
/assign

[2021-03-29 04:07] fzhedu opened #23621 "executor: sum(time) differs from mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-03-29 04:14] #23621 closed

[2021-03-29 06:11] aytrack opened #23622 "tidb panic: runtime error: slice bounds out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
tidb not panic
### 3. What did you see instead (Required)
tidb panic
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-29 06:23] Reminiscent commented on #23601
Can not reproduce the bug. Please confirm it, thanks! @lilinghai

[2021-03-29 06:26] #22388 closed

[2021-03-29 06:27] xuyifangreeneyes commented on #23608
@tiancaiamao Hi, I think issue #23617 has similar cause with this one. If you do not mind, I am willing to have a try to fix them.

[2021-03-29 06:31] Reminiscent commented on #23622
/assign

[2021-03-29 06:39] tiancaiamao commented on #23608
With pleasure, go ahead! @xuyifangreeneyes
The calculated range for `not` expression seems incorrect.

[2021-03-29 06:48] ChenPeng2013 opened #23623 "wrong result when including subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master v4.0.0-beta.2-2479-g1e3921aff
release-5.0 v5.0.0-nightly-51-g638272efb
release-4.0 v4.0.11-40-g11a9254be

[2021-03-29 06:54] wjhuang2016 opened #23624 "varchar and char conversion causes data and index inconsistent"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
data and index consistent
admin check table reports the inconsistence.
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-03-29 06:56] winoros commented on #22576
This one is fixed from 4.0 via a large refactoring around the `expression.Column`. (https://github.com/pingcap/tidb/pull/12573)

We strengthened the meaning of `UniqueID` in the refactoring. If we project a column to multiple ones like `select a as b, a as c, a as d from t`, the three `b', `c`, and `d` share the same pointer from the beginning to avoiding such case happen.

In the future, we would

[2021-03-29 06:56] #22576 closed

[2021-03-29 07:26] eurekaka commented on #22680
@githubxxcc I guess you need to add a tiflash replica for this table before you can reproduce the problem.

[2021-03-29 07:27] eurekaka commented on #22680
Please see https://docs.pingcap.com/tidb/stable/use-tiflash for more details.

[2021-03-29 07:38] xuyifangreeneyes commented on #23617
/assign

[2021-03-29 07:47] eurekaka commented on #22680
I think we should just skip calling `filterPathByIsolationRead()` for `create view`, if there is really no access path for the select query under the storage engine setting, the "Can not find access path" error should be raised when querying the view, instead of when declaring the view.

[2021-03-29 07:57] aytrack opened #23625 "runtime error: makeslice: cap out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

source [uk_multi_col_11220.txt](https://github.com/pingcap/tidb/files/6220075/uk_multi_col_11220.txt)
[code]
Sorry about that I can't reproduce this issue after the TiDB cluster was redeployed. The original cluster was destroyed because the server system disk was broken, an

[2021-03-29 08:28] sinfere opened #23626 "ERROR 8200 (HY000): Unsupported modify charset from utf8mb4 to ascii"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

action: change column character set from utf8mb4 to ascii
sql: ALTER TABLE `operator` CHANGE `path` `path` VARCHAR(999) CHARACTER SET ascii COLLATE ascii_bin NOT NULL DEFAULT '';

### 2. What did you expect to see? (Required)
no error

### 3. What did you see instead (Requi

[2021-03-29 09:07] #13978 closed

[2021-03-29 09:08] eurekaka commented on #23567
[code]

Looks like tikv coprocessor returns unmatched `OutputCounts` and `Ndvs`, while tidb expects these 2 slices to have same lengths. @winoros do you have any idea about the possible related changes in coprocessor recently?

[2021-03-29 09:15] hidehalo commented on #23587
/pick-up

[2021-03-29 09:15] RickyWuCN commented on #23579
## Duplicate bug
original bug: #23326
the bug is solved after commit: [f9deac1](https://github.com/pingcap/tidb/commit/f9deac177fb96156e3ff314892dc108f14762c8b)
that works better

[2021-03-29 09:18] breeswish opened #23630 "TiDB cannot query, reporting "slice bounds out of range ...""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Use TiDB Dashboard to send query over statement table in TiDB 5.0.

Note that TiDB Dashboard just send normal queries like other applications. This means the error will also affect users.

### 2. What did you expect to see? (Required)

Query success.

### 3. What did you se

[2021-03-29 09:25] #22144 closed

[2021-03-29 09:34] breeswish commented on #23630
Note: This bug is previously reported in https://github.com/pingcap/tidb/issues/22635 but seems that the fix is not complete.

[2021-03-29 09:44] eurekaka commented on #23567
In https://github.com/pingcap/tidb/pull/20580 and https://github.com/pingcap/tipb/pull/202, we introduced `Ndvs` into `SelectResponse`, and use it in feedback, but we only changed the unistore to fill the `Ndvs` of the `SelectResponse`, while not updated the tikv coprocessor(see https://github.com/tikv/tikv/blob/master/components/tidb_query_executors/src/runner.rs#L430), so this field is not fille

[2021-03-29 09:48] zyguan opened #23631 "Non-unique index key may exceed default key size limit of tikv when using clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Both inserts should return same results.

### 3. What did you see instead (Required)

Insert failed with clustered index.

### 4. What is your TiDB version? (Required)

master

[2021-03-29 09:59] hidehalo commented on #23587
@LittleFall Hello! I want to pick up this issue.

[2021-03-29 11:00] wjhuang2016 opened #23633 "Unexpected error level log"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
No error level log.
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-03-29 11:03] LittleFall commented on #23587
/assign @hidehalo

[2021-03-29 11:04] LittleFall commented on #23587
welcome!

[2021-03-29 11:29] HuGanghui commented on #23495
I will try it.

[2021-03-29 11:47] lysu commented on #23615
it's desired, it does support add clustered index after create table(because it need reorg all table and index data in ddl)

now we only support add non-clustered primary key.

[2021-03-29 12:35] Tjianke commented on #22627
`BenchmarkWindowFunctionsWithSlidingWindow` failed due to `maxMinHeap`, which will be removed in #22628, benchmark works fine under #22628.

[2021-03-29 12:46] lilinghai commented on #23601
@Reminiscent it is fixed in the latest version of master.

[2021-03-29 12:47] #23608 closed

[2021-03-29 12:47] #23617 closed

[2021-03-29 14:32] aytrack opened #23644 "delete without where condition should not check the select privilege"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
delete successfully
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master: a49effd47ed9cd9
release-4.0: 11a9254bec522c

[2021-03-29 14:47] Yisaer commented on #22627
@Tjianke  I found the error was not caused by the `heap` but caused by data generating, I think you can try to use https://github.com/pingcap/tidb/issues/22627 to check your benchmark result.

[2021-03-29 15:55] morgo commented on #23644
I verified this against MySQL 8.0.23. It is as described, but slightly more specific:
- A `delete` with no where clause only requires `delete` privilege.
- But a `delete` with no columns also only requires `delete`.

[code]

I will have to check how easy this is to do. In the worst case, the `where 1=1` condition may still require `select`.

[2021-03-29 16:11] HuGanghui commented on #23495
After recovering the wrong result, I found that this issue is caused by the different defaultLength of TypeNewDecimal:

https://github.com/pingcap/parser/blob/ae4372a9539acc60fc66e074fe9410580496be92/mysql/util.go#L23-L32

https://github.com/pingcap/parser/blob/ae4372a9539acc60fc66e074fe9410580496be92/mysql/util.go#L75-L79

[2021-03-29 16:19] HuGanghui commented on #23495
And I have test it in my local that https://github.com/pingcap/parser/pull/1202 can solve this issue, so please first merge the parser 1202, and then I will add unit test for this issue.

[2021-03-29 16:19] HuGanghui commented on #23495
/assign

[2021-03-29 17:09] lysu opened #23646 "pointUpdate clustered index with old row format maybe miss remove old index contains prefix columns"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

need run with tikv

set `set global tidb_row_format_version=1` and reconnect

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

admin check fail

### 4. What is your TiDB version? (Required)

master

[2021-03-29 19:45] morgo opened #23648 "Support RENAME USER command"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]
In TiDB:
[code]

**Describe the feature you'd like:**

See above. I noticed this while porting tests for dynamic privileges - I don't have an active need for it.

**Describe alternatives you've considered:**

N/A

**Teachability, Documentation, Adoption, Migration Strategy:**

MySQL compatibility.

[2021-03-29 21:51] morgo opened #23649 "grant nonexistent user/role incompatible error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I am logged in as root with `SUPER` privilege. The MySQL error messages returned are more helpful than the TiDB ones:

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Requi

[2021-03-30 00:14] kolbe opened #23650 "Cannot parse 2 consecutive identifiers that both start with digit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

See https://github.com/pingcap/parser/issues/1203

[code]

[2021-03-30 01:39] Reminiscent commented on #23601
OK. Please close the issue. Thanks!

[2021-03-30 01:58] bb7133 commented on #23644
Looks that it can be reproduced in 2.1 and 3.0.

[2021-03-30 02:00] morgo commented on #23644
Does it need a cherry pick to these? I was debating if it needs a cherry pick to 4.0 because it is not critical (it requires more privileges than it should. If it required _less_ that would be critical).

[2021-03-30 02:23] lilinghai commented on #23601
fixed by https://github.com/pingcap/tidb/pull/23591

[2021-03-30 02:23] #23601 closed

[2021-03-30 03:38] eurekaka commented on #23506
@wjhuang2016 PTAL

[2021-03-30 03:40] eurekaka commented on #22680
@githubxxcc do you still have interest to fix this issue?

[2021-03-30 03:44] zyguan opened #23653 "Index join with point get causes wrong results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

Empty set

### 4. What is your TiDB version? (Required)

release-5.0 (09a4c57d00175ae3ff9c900d5fb67f6757c58181)

[2021-03-30 04:01] #23511 closed

[2021-03-30 04:08] githubxxcc commented on #22680
Yeah, I guess you are right.

Not too sure about this, why `tidb_isolation_read_engines` has no effect on `create view`?

I am caught up with other projects now. So feel free to take ownership!

[2021-03-30 04:08] zyguan opened #23657 "Unexpected empty set returned by index join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

maybe related to #23653

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

Empty set

### 4. What is your TiDB version? (Required)

release-5.0 (09a4c57d00175ae3ff9c900d5fb67f6757c58181)

[2021-03-30 04:16] ichn-hu commented on #20804
@zz-jason sure, the title and content is updated, and the challenge column is removed.

[2021-03-30 04:19] #23541 closed

[2021-03-30 05:55] nolouch commented on #22765
We need to consider the `SELECT` statement.

[2021-03-30 05:57] AilinKid commented on #23626
Assume that you change from VARCHAR(999)  to VARCHAR(999) CHARACTER SET ascii COLLATE ascii_bin, when collation is changed, it's not a meta-only alter action anymore, reorg is required to re-fill the index row with the specified collation info.

[2021-03-30 06:00] sinfere commented on #23626
So what should I do ? It works in MySQL

[2021-03-30 06:05] wjhuang2016 opened #23659 "runtime error: invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error

### 3. What did you see instead (Required)
panic:
[code]

### 4. What is your TiDB version? (Required)
master

[2021-03-30 06:14] XuHuaiyu commented on #23508
A bug related to clustered index, thus I change from sig/sql-infra to sig/execution

[2021-03-30 06:19] lysu commented on #23508
@XuHuaiyu this bug isn't releated to clustered index, it caused by https://github.com/pingcap/tidb/pull/20338 and related to executor

[2021-03-30 06:20] guo-shaoge commented on #23623
/assign

[2021-03-30 06:23] AilinKid commented on #23626
Are you in the test environment or something?

[2021-03-30 06:27] AilinKid commented on #23626
Since Column Type Change is still under the test, there is a tricky way to do that by `VARCHAR(999) -->> VARCHAR(998) CHARACTER SET ascii COLLATE ascii_bin`, this will trigger the reorg process. Don't use it in production for now.

[2021-03-30 06:30] sinfere commented on #23626
In production env, but I think I could have a try

[2021-03-30 06:31] sinfere commented on #23626
TiDB is acting as a slave, using TiDB DM, I need to rebuild whole db in the worst case

[2021-03-30 06:31] cfzjywxk commented on #23606
@wjhuang2016
Does this issue exist only on partitioned table?

[2021-03-30 06:40] AilinKid commented on #23626
Thx, if you have any problem, pls let us know for the first time, you can get help from the on-call team directly

[2021-03-30 06:46] wjhuang2016 opened #23662 "tidb panic in the recoverable goroutine"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[log1.sql.zip](https://github.com/pingcap/tidb/files/6226925/log1.sql.zip)
source log1.sql

### 2. What did you expect to see? (Required)
No panic
### 3. What did you see instead (Required)
Panic:
[code]

### 4. What is your TiDB version? (Required)
master

[2021-03-30 06:57] sinfere commented on #23626
So what's the tricky way? let me try it

[2021-03-30 06:59] fzhedu opened #23663 "executor: wrong results from in subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
mysql -h 172.16.5.85 -P 53324 -u root -D agg_sub_datat1000

[code]

### 2. What did you expect to see? (Required)
from mysql
[code]
### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

master

[2021-03-30 07:01] wjhuang2016 commented on #23606
Yeah.

[2021-03-30 07:02] zimulala commented on #23657
I try these operations on v4.0.11, it got the correct result.

[2021-03-30 07:04] AilinKid commented on #23626
change it target type to VARCHAR(998) CHARACTER SET ascii COLLATE ascii_bin, 998 is short than 999

[2021-03-30 07:05] ichn-hu commented on #23609
/assign @ichn-hu

[2021-03-30 07:05] ichn-hu commented on #23609
/unassign @XuHuaiyu

[2021-03-30 07:09] zimulala commented on #23653
I try these operations on v4.0.11, it got the correct result.

[2021-03-30 07:11] ichn-hu commented on #23657
/assign @ichn-hu

[2021-03-30 07:11] ichn-hu commented on #23653
/assign @ichn-hu

[2021-03-30 07:18] zimulala commented on #23650
I do it on v4.0.11 that got the correct result. It reproduces on release-5.0.

[2021-03-30 07:23] ichn-hu commented on #23495
@HuGanghui thanks for your contribution!

do you have any reference to this claim?

you can propose the unit test now, your parser PR needs to be merged at the same time with your TiDB PR, see https://github.com/pingcap/parser/blob/master/docs/update-parser-for-tidb.md for how to update parser PR for TiDB.

[2021-03-30 07:26] sinfere commented on #23626
Great! it works! so tricky!

[code]

[2021-03-30 07:38] HuGanghui commented on #23495
@ichn-hu

sorry, I do not find the reference, but I test it in MySQL 5.7, it is 10 which is the same as the issue expected to see `the default number of digits for decimal should be 10.`

[2021-03-30 07:42] lilinghai opened #23665 "The TiDB treats TiFlash and TiKV engines differently when using br restore"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
deploy the tidb v5.0.0-nightly cluster with 4 kv,2 tiflash,3 pd,2 db
br restore the TPCC 10000 warehouses（no tiflash data） to cluster
In the process of restore，alter the tpcc tables tiflash replica 2 ; Then execute sqls like "select count(*) from district;"

### 2. What did

[2021-03-30 07:42] ichn-hu commented on #23495
what do you mean by "test"? also, would you like to test on MySQL 8.0?

it would be much more convincing if you could refer to MySQL's source code (this might be too demanding, but if you do it will be much more informative for how we should fix this issue).

[2021-03-30 07:52] HuGanghui commented on #23495
maybe this https://dev.mysql.com/doc/refman/8.0/en/fixed-point-types.html can be a reference, please see it.

[2021-03-30 07:55] eurekaka opened #23667 "do not show extended stats for dropped columns"
## Development Task

[code]

The result now is:

[code]

because the record in `mysql.stats_extended` has not been garbage collected yet. We should not present this row in `show stats_extended` when the column has been dropped.

[2021-03-30 08:02] zimulala commented on #23663
@fzhedu
Please give the structure of the related tables.

[2021-03-30 08:02] XuHuaiyu commented on #23662
[code]

[2021-03-30 08:05] aytrack opened #23669 "prepare execute 沟通"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-03-30 08:05] wjhuang2016 opened #23670 "[aggregate.go:393]["parallel hash aggregation panicked"] [error="runtime error: index out of range [0] with length 0"]"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[log3.sql.zip](https://github.com/pingcap/tidb/files/6227430/log3.sql.zip)
source log3.sql;

### 2. What did you expect to see? (Required)
No panic
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
master

[2021-03-30 08:06] ichn-hu commented on #23495
nice!

[2021-03-30 08:17] XuHuaiyu commented on #23663
[test.txt](https://github.com/pingcap/tidb/files/6227498/test.txt)

[2021-03-30 08:25] #23669 closed

[2021-03-30 08:27] aytrack opened #23671 "prepare execute got wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
It similar to #23390, but I encounter this after  #23238 merged

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-03-30 08:29] #22627 closed

[2021-03-30 08:34] wanliyi opened #23672 "Use hexadecimal to select and get wrong results when opening new collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-03-30 08:39] bb7133 commented on #23624
I think we can simply forbid conversions between `VARCHAR` and `CHAR`, if they're covered by the index.

[2021-03-30 08:43] winoros commented on #23659
This one is caused by random tests and cannot be re-produced via a normal environment. So we move it to not so high priority.

[2021-03-30 08:58] eurekaka opened #23675 "print INFO log when tidb marks extended stats as deleted internally"
## Development Task

If a table is dropped, or a column in the table is dropped, stats GC mechanism would delete the extended stats records internally. For debugging purpose, or to make the data changes in `mysql.stats_extended` easier to trace, we should print logs in such kind of operations.

[2021-03-30 08:58] youjiali1995 opened #23676 "TiDB wrongly uses PD client's GetStore which may result in dead loops"
## Bug Report

When TiDB meets the `StoreNotMatch` error, it will resolve the store through PD client's `GetStore()`:
- If the store is deleted or a tombstone, regions on this store are all invalidated.

However, TiDB wrongly uses the PD client's `GetStore()`:
https://github.com/pingcap/tidb/blob/a8a52c0175b91ffab369ddeb1c6b642ce1b76cf2/store/tikv/region_cache.go#L1775-L1793

TiDB assumes it retur

[2021-03-30 09:02] lilinghai commented on #23665
The TiDB can't accurately check whether The TiFlash replica is available. Although the information_schema.tiflash_replica shows that the TiFlash replica is available, the process of TiFlash ingest sst is not complete.
If the users use the default value of `tidb_isolation_read_engines`, the TiDB will select the TiFlash engine and then It will raise error.

[2021-03-30 09:06] youjiali1995 commented on #23676
/assign @longfangsong

[2021-03-30 09:08] longfangsong commented on #23676
/assign

[2021-03-30 09:08] ichn-hu commented on #23609
this issue should not block 5.0GA release.

[2021-03-30 09:13] HuGanghui commented on #23495
please review https://github.com/pingcap/tidb/pull/23680 and https://github.com/pingcap/parser/pull/1202

[2021-03-30 09:20] youjiali1995 commented on #23676
BTW, the `store.State` isn't changed if it becomes a tombstone:
https://github.com/pingcap/tidb/blob/a8a52c0175b91ffab369ddeb1c6b642ce1b76cf2/store/tikv/region_cache.go#L1786-L1793

The store will be resolved forever now...

[2021-03-30 09:26] lzmhhh123 commented on #23662
function `approx_percentile` panic.

[2021-03-30 09:28] fzhedu commented on #23663
after reset sql_mode, the case disappers, so I close this issue.
[code]

[2021-03-30 09:28] #23663 closed

[2021-03-30 09:42] zz-jason commented on #23663
@fzhedu I tested in the 5.0 branch, the result is incorrect, why closing this issue?

[2021-03-30 09:44] fzhedu commented on #23663
does 5.0 report another error? I test it on master.
this error disapper after I set sql_mode, so I close it.

[2021-03-30 09:45] fzhedu opened #23684 "executor: wrong results from subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
mysql -h 172.16.5.85 -P 53324 -u root -D agg_sub_datat4000

[code]
mysql -h 172.16.5.85 -P 53324 -u root -D agg_sub_datat10000
[code]

### 2. What did you expect to see? (Required)

on 172.16.5.85 mysql
mysql -h 127.0.0.1 -P 3306 -u root -D agg_sub_datat10000
[code]

[code]

[2021-03-30 09:46] #23570 closed

[2021-03-30 09:47] zz-jason commented on #23663
yes, I firstly execute `set @@sql_mode=''` then execute the query, it gets wrong result.

[2021-03-30 09:52] fzhedu commented on #23663
the different results from mysql and tidb is as expected if `set @@sql_mode=''`, because the subquery resultes are not stable when non-agg columns in projection do not exist in group by clauses.

[2021-03-30 10:00] lilinghai commented on #23665
`set @@tidb_allow_fallback_to_tikv='tiflash' `can't also control the behavior.

[2021-03-30 10:03] #23622 closed

[2021-03-30 10:24] #23626 closed

[2021-03-30 10:31] #23653 closed

[2021-03-30 10:31] #23657 closed

[2021-03-30 10:50] time-and-fate opened #23693 "new collation + merge join get wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

new collation: on (confirmed that this is needed to trigger this bug)

[clustered_index_go_c.tbl_2-schema.sql.txt](https://github.com/pingcap/tidb/files/6228373/clustered_index_go_c.tbl_2-schema.sql.txt)
[clustered_index_go_c.tbl_2.000000000.sql.txt](https://github.com/ping

[2021-03-30 10:56] time-and-fate commented on #23693
query plan with the correct result (removed some irrelevant fields for clarity)
[code]
query plan with the wrong result
[code]

Seems the bug is related to the merge join.

[2021-03-30 11:22] fzhedu opened #23696 "executor: wrong results (when overflow?)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
mysql -h 172.16.5.85 -P 53324 -u root -D agg_sub_datat10000

after replacing the subquery with the subquery results, the query runs ok, but errors if not.

### 2. What did you expect to see? (Required)
on 172.16.5.85 mysql
mysql -h 127.0.0.1 -P 3306 -u root -D agg_sub_datat1

[2021-03-30 11:35] lysu opened #23698 "avoid duplicate handle calculate & useless handle change in clustered index"
## Development Task

1. sql update multiple columns in pk, make duplicate calculate

[code]

[code]

will calculate common handle key for N times for each row.

2. prefix column not changed no need handleChange logic

[code]

[code]

should only send PUT 1 KV, but now will 1 DEL + 1 PUT

[2021-03-30 11:35] zz-jason commented on #23693
you can add hint to the query to make the reproduce step stable.

[2021-03-30 11:38] zz-jason commented on #23693
how did you find this bug?

[2021-03-30 12:01] #23646 closed

[2021-03-30 12:53] #23623 closed

[2021-03-30 12:53] #23684 closed

[2021-03-30 13:12] zyguan opened #23707 "insert on char(n) prefix primary key with new collation lead to inconsistent"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. setup up 2 tidb instances with new collation on
2. execute following sql on upstream
[code]
3. backup the table and restore it to downstream
4. do admin check table on downstream

### 2. What did you expect to see? (Required)

No error reported.

### 3. What did you see

[2021-03-30 13:24] wjhuang2016 opened #23708 "admin check failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[log6.sql.zip](https://github.com/pingcap/tidb/files/6229316/log6.sql.zip)
source sql.6;
admin check table tbl_2;

### 2. What did you expect to see? (Required)
No error.
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master, f

[2021-03-30 14:04] zyguan commented on #23707
The same issue for cdc.

[2021-03-30 14:20] seiya-annie opened #23709 "set pessimistic-txn.enabled=false in 4.x version, when upgrade to 5.0.0, the txn mode maybe changed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. config pessimistic-txn.enabled=false in 4.x version,
2. upgrade to 5.0.0 version
3. check default txn mode

### 2. What did you expect to see? (Required)
current behavior maybe has the risk of incompatible, should record in release notes
### 3. What did you see instead (

[2021-03-30 16:11] cosven opened #23712 "Sudden increase of connections causes TiDB OOM"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. deploy a v5.0.0-nightly tidb cluster with `3pd 2db 1ha 3kv`. The two TiDB instances run on a 8c16G docker container.
2. restore 2T tpcc data (about 6T data in cluster) with br
3. run `go-tpc -H x -P x-D tpcc30k tpcc run -T 1000 --warehouses 30000 --time 24h --ignore-erro

[2021-03-30 16:56] lysu commented on #23708
min reproduce script

need `set global tidb_row_format_version=1` and reconnect

[code]

[2021-03-30 17:20] morgo commented on #7968
I moved skip-locked to the essential list. At the time this list was created, the default was optimistic locking. But since it is now pessmistic, it is highly desirable.

[2021-03-30 19:57] EricTing commented on #1793
The official website also mentions Spatial functions

but this ticket has nothing to do with spatial search.

[2021-03-31 02:06] sultan8252 opened #23715 "SQL command `Flushback ` suport partition table"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Flushback command support normal tables now，but not support partition tables，and return error code。
This‘s failed！！
Ex.
[code]

**Describe the feature you'd like:**
flushback command support partition tables!!

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strat

[2021-03-31 02:44] xiongjiwei commented on #23507
/assign

[2021-03-31 02:45] fzhedu commented on #23684
dose the PR solve the second query which was added later?

[2021-03-31 03:05] qw4990 commented on #23671
I'll investigate and try to fix it soon.

[2021-03-31 03:10] lysu commented on #23707
maybe it's not releated to br or cdc..admin check can fail in upstream cluster

[code]

and trigger condition seems be:

- clustered index
- new collation
- prefix pk
- char type(instead of varchar)

not related to:

- new or old row format

[2021-03-31 03:12] xuyifangreeneyes commented on #23665
Currently TiDB only falls back to TiKV when ErrTiFlashServerTimeout occurs.

[2021-03-31 03:22] qw4990 commented on #23671
I cannot reproduce this issue:
[code]

I guess it's probably because your TiDB didn't enable (new_collations_enabled_on_first_bootstrap)[https://docs.pingcap.com/zh/tidb/stable/character-set-and-collation#%E6%96%B0%E6%A1%86%E6%9E%B6%E4%B8%8B%E7%9A%84%E6%8E%92%E5%BA%8F%E8%A7%84%E5%88%99%E6%94%AF%E6%8C%81].
Could you please confirm it again? @aytrack

[2021-03-31 03:30] zyguan commented on #23707
Yes, I forgot to check upstream...

[2021-03-31 03:33] #23676 closed

[2021-03-31 03:40] Reminiscent commented on #22301
/assign

[2021-03-31 04:23] xhebox commented on #23450
@zimulala Can not reproduce, any idea?

[2021-03-31 04:37] xuyifangreeneyes commented on #23671
When I disable new_collations_enabled_on_first_bootstrap,
[code]
I guess that it is normal?

[2021-03-31 05:43] zz-jason commented on #23670
@wjhuang2016 seems the panic stack is the same with https://github.com/pingcap/tidb/issues/23662, maybe they have the same root cause?

@lzmhhh123 PTAL

[2021-03-31 06:09] wjhuang2016 commented on #23670
I guess not， I used the fresh build tidb，it should contain the fix of that issue.

[2021-03-31 06:09] GMHDBJD opened #23721 "Rename a non exist table report wrong error message"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
[code]
### 3. What did you see instead (Required)
[code]

[2021-03-31 06:10] time-and-fate opened #23722 "index out of range on innerWorker of index lookup join when clustered index enabled"
## Bug Report

### 1. Minimal reproduce step (Required)

[clustered_index_go_c.tbl_3-schema.sql.txt](https://github.com/pingcap/tidb/files/6234068/clustered_index_go_c.tbl_3-schema.sql.txt)
[clustered_index_go_c.tbl_3.000000000.sql.txt](https://github.com/pingcap/tidb/files/6234070/clustered_index_go_c.tbl_3.000000000.sql.txt)
[code]
### 2. What did you expect to see? (Required)

get query result

[2021-03-31 06:23] xhebox commented on #23649
I think it is an bug of execution, though... Whatever, it is a small bug. @morgo

[2021-03-31 06:27] tisonkun opened #23724 "Duplicate entry of "Alter" privilege"
https://github.com/pingcap/tidb/blob/55580eef8f7456e625ededa367c94c7ad7f1eed0/executor/show.go#L1374-L1378

straightforward as shown above.

[2021-03-31 06:28] winoros commented on #23451
duplicated with #23587

[2021-03-31 06:28] #23451 closed

[2021-03-31 06:30] qw4990 opened #23725 "planner: support explain and explain analyze statements for prepared queries"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Explain and explain analyze statements can print query plans, which is useful when optimizing queries and investigating issues, but prepared queries cannot support this feature:
[code]

**Describe the feature you'd like:**

Support explain and explain analyze statements for prepared queries, for example:
[code]

[2021-03-31 06:41] seiya-annie opened #23726 "v4.0.9 with new config upgrade to v5.0.0 fail"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. install v4.0.9 version
2. tiup cluster edit-config to add 5.0 new add configs in cluster
     deprecate-integer-display-length: true
    index-limit: 125
    enable-enum-length-limit: false
    txn-entry-size-limit: 6291400
    index-usage-sync-lease: "10s"
    grpc-comp

[2021-03-31 06:43] #23672 closed

[2021-03-31 06:52] LittleFall commented on #23451
sorry for the duplicate (

[2021-03-31 07:46] ouxiangfeng17 opened #23732 "Is the index of the two kV inconsistent? seek help"
LOG：

[2021/03/31 14:41:59.747 +08:00] [INFO] [raft.rs:285] [newRaft] [peers="[(18, Progress { matched: 112, next_idx: 113, state: Probe, paused: false, pending_snapshot: 0, pending_request_snapshot: 0, recent_active: false, ins: Inflights { start: 0, count: 0, buffer: [] } }), (51, Progress { matched: 0, next_idx: 113, state: Probe, paused: false, pending_snapshot: 0, pending_request_snapshot: 0,

[2021-03-31 07:47] seiya-annie commented on #23726
pessimistic-txn.enable, tikv-client.copr-cache.enable has been delete from 5.0, need delete manually.
enable-global-kill is hidden in 5.0

[2021-03-31 08:03] #23624 closed

[2021-03-31 08:23] aytrack opened #23736 "Can't find column in schema Column: [Column#10] Unique key: [] when using stream_agg() hint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master: f43f750fb551f2f

[2021-03-31 08:24] guo-shaoge commented on #23322
We close this. Fix in tikv.

[2021-03-31 08:25] guo-shaoge commented on #23280
/assign

[2021-03-31 08:27] #23322 closed

[2021-03-31 08:31] zimulala commented on #23670
I can reproduce it on release-5.0.

[2021-03-31 08:35] fzhedu opened #23737 "planner: wrong results from outer join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
drop table if exists m, mp
CREATE TABLE m (
		mid varchar(50) NOT NULL,
		ParentId varchar(50) DEFAULT NULL,
		PRIMARY KEY (mid),
		KEY ind_bm_parent (ParentId,mid)
	);
CREATE TABLE mp (
		mpid bigint(20) unsigned NOT NULL DEFAULT '0',
		mid varchar(50) DEFAULT NULL COMMENT

[2021-03-31 08:36] ichn-hu commented on #23670
did you use tikv as storage or unistore?

[2021-03-31 08:41] mahjonp commented on #23712
@XuHuaiyu  OOM may be caused by this issue: #22132 I guess.

[2021-03-31 08:41] CadmusJiang commented on #23737
sql 代码建议用
[code]
检测中文逻辑会跳过```之间的内容

[2021-03-31 08:42] youjiali1995 commented on #22907
TiFlash meets the same problem. Close it.

[2021-03-31 08:42] #22907 closed

[2021-03-31 08:52] ichn-hu commented on #23670
data has been simplified, source the following data

[data.sql.gz](https://github.com/pingcap/tidb/files/6235199/data.sql.gz)

and the panic is caused by

[code]

[2021-03-31 08:54] qw4990 commented on #23671
The root cause is that TiDB caches an invalid plan:
After finishing the first exec statement, TiDB got and cached a plan `TableReader(Table(ta)->Sel([eq(test.ta.b, 2) ge(test.ta.a, a)]))`.
And you can see in this plan, the `between` expression including `@a` and `@b` are merged into an `eq` expression `eq(b, 2)`.
When processing the second exec statement, the cached plan is used again, and since t

[2021-03-31 09:05] seiya-annie opened #23739 "index-usage-sync-lease is hidden in 5.0, please remove from config.toml.example"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

 performance.index-usage-sync-lease: 10s
 index-usage-sync-lease is hidden in 5.0, please remove from config.toml.example

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

v5.0.0

[2021-03-31 09:14] XuHuaiyu commented on #23712
It's an expected phenomenon.
I've checked tidb.log.
- There are many `expensive_query` logs when the count of thread is 1000. But no `expensive_query` is recorded when the count of thread is 400. e.g.
[code]
- The pressure of the cluster is too high, which causes too many queries to run slowly. Thus the memory can not be free, and many goroutines can not exit.

[2021-03-31 09:15] zeroslope commented on #15519
I am a new contributor and want to find a goof-first-issue. So I found this issue.
When I wanted to find the execution path of this sql statement, I found that it was not as I expected.
 So I checked the parser of tidb and found that Optimizer Hints does not support force_index, and force_index does not appear in the [document](https://docs.pingcap.com/zh/tidb/stable/optimizer-hints#optimizer-hint

[2021-03-31 09:16] eurekaka commented on #23606
We cannot build `BatchPointGet` plan for table partitions now, because seems like the executor lacks such kind of support, i.e, if executor receives such plans, wrong results would be produced. For example, for the test case below:

[code]

After I change the planner to build `BatchPointGet` for table partitions, i.e, line 980 would succeed, line 983 would fail then. After investigation, the plan

[2021-03-31 09:17] eurekaka commented on #23606
@cfzjywxk PTAL

[2021-03-31 09:21] ichn-hu commented on #23670
@zimulala @zz-jason @wjhuang2016 this panic is fixed by https://github.com/pingcap/tidb/pull/23687, 5.0-release has this panic, because the fix PR has not yet been merged into 5.0-release, I tested on the fix PR, and it is fixed https://github.com/pingcap/tidb/pull/23703

[2021-03-31 09:21] ichn-hu commented on #23670
@wjhuang2016 I think it is safe to close this issue.

[2021-03-31 09:25] seiya-annie opened #23743 "upgrade from v4.0.9 to 5.0.0, store: mocktikv config changed to store：tikv"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

install v4.0.9 with store: mocktikv
upgrade to 5.0.0
check config with select @@tidb_config

### 2. What did you expect to see? (Required)
store: mocktikv
### 3. What did you see instead (Required)
store: tikv
### 4. What is your TiDB version? (Required)

MySQL [(none)]> se

[2021-03-31 09:26] tangenta commented on #23722
Minimal reproducible steps:
[code]

[2021-03-31 09:30] XuHuaiyu commented on #23712
<img width="881" alt="截屏2021-03-31 下午5 28 23" src="https://user-images.githubusercontent.com/9039012/113122946-b3fcfe80-9246-11eb-8863-0d4c676aa3d9.png">

[2021-03-31 09:30] XuHuaiyu commented on #23712
This is a good test case when we support the backpressure mechanism.

[2021-03-31 09:37] XuHuaiyu commented on #23670
dup with https://github.com/pingcap/tidb/issues/23662, thus we remove the `bug` and `critical` label

[2021-03-31 09:39] seiya-annie opened #23744 "some system variables values lost after upgrade to 5.0.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

in v4.0.2:
MySQL [(none)]> set @@tidb_projection_concurrency=1;
Query OK, 0 rows affected (0.00 sec)

MySQL [(none)]> set @@tidb_window_concurrency=1;
Query OK, 0 rows affected (0.00 sec)

MySQL [(none)]> set @@tidb_hash_join_concurrency=1;
Query OK, 0 rows affected (0.00 s

[2021-03-31 09:48] seiya-annie opened #23745 "the value of 5.0 new added system vars :'%tidb_enable_strict_double_type_check%' is different in upgraded cluster and new created cluster"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. the cluster is upgrade from v4.0.9 to v5.0.0
   check tidb_enable_strict_double_type_check value, the value is off

2. in new created v5.0.0 cluster
   check tidb_enable_strict_double_type_check value, the value is on

### 2. What did you expect to see? (Required)
tidb_e

[2021-03-31 09:52] XuHuaiyu commented on #23696
I tested it in the latest master branch(8fca6a21a675908cb82c5ac9a69d677fb0fd974a) and release-5.0 branch (7fd6826132a386627ac3d1f78817a049bbb0e8e9).
The bug has been fixed.

[2021-03-31 09:52] #23696 closed

[2021-03-31 09:54] xhebox opened #23748 "config: data races in tests"
## Bug Report

The root cause of data race in config packages is that, it stores the pointer of the global config: https://github.com/pingcap/tidb/blob/master/config/config.go#L676-L684. Lots of tests fail due to this.

So when two goroutines access one single field in the struct pointed by the pointer, it races. The following race example will clarify:

[code]

There is one PR trying to fix: #179

[2021-03-31 10:00] #23744 closed

[2021-03-31 10:00] flowbehappy opened #23750 "close of nil channel when query a table with stale TiFlash replica"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Many tikv instances, with very few tikv instances
2. Create an empty table T with tiflash replica 1
3. Insert into the table with very heavy load. The tiflash replica is expected cannot catch up with tikv.
4. Use a MySQL client to issue the query `set tidb_isolation_read

[2021-03-31 10:19] lysu opened #23753 "panic in 2pc pessimisticLockMutations"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

paniced

[code]

### 4. What is your TiDB version? (Required)

master

[2021-03-31 10:43] #23739 closed

[2021-03-31 10:54] time-and-fate commented on #23736
/assign time-and-fate

[2021-03-31 11:33] #23737 closed

[2021-03-31 12:24] xiongjiwei opened #23759 "collation and flag of some functions are wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

it should not be binary
### 4. What is your TiDB version? (Required)

[2021-03-31 12:45] XuHuaiyu commented on #23693
[code]

[2021-03-31 12:46] XuHuaiyu commented on #23693
[code]

[code]

[2021-03-31 13:13] rebelice opened #23765 "config: add a test to ensure that there is no hidden config in `config.toml.example`"
## Feature Request

For unprepared features， we need to hide their config. But we don't have a test to ensure that there is no hidden config in `config.toml.example`. We need to add it.

[2021-03-31 13:43] cfzjywxk commented on #23606
@eurekaka
The incorrect result is caused by the incorrect `PartitionColPos` [field](https://github.com/pingcap/tidb/blob/master/planner/core/point_get_plan.go#L259) in the `BatchPointGetPlan`. It's used to get the physical table id for each index [value](https://github.com/pingcap/tidb/blob/master/executor/batch_point_get.go#L212) and the following encoding will use it.
To fix this maybe we could

[2021-03-31 14:07] #23671 closed

[2021-03-31 15:42] lysu commented on #23753
require:

- batch point get
- overflowed key

[2021-03-31 17:35] #22516 closed

[2021-03-31 19:33] #23753 closed

[2021-03-31 20:31] #23722 closed

[2021-03-31 21:31] #23473 closed

[2021-03-31 23:01] morgo commented on #22765
@nolouch I like it a lot. It makes sense to me.

[2021-04-01 02:15] #23707 closed

[2021-04-01 02:38] coolboydan opened #23784 "Error in accuracy when adding CURRENT_TIMESTAMP column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)
v3.0 v3.1 v4.0...

Please assign this issue to me, I want to submit PR and fix it, thanks.

[2021-04-01 02:40] Reminiscent commented on #23784
/assign @coolboydan

[2021-04-01 02:56] morgo commented on #22765
There is an added MySQL-ism to be aware of (it is minor). You can start a read only transaction with a session var as well:

[code]

If you start a read-only transaction it won't explicitly update this variable though. JDBC drivers [are noisy](https://stackoverflow.com/questions/32394729/i-get-many-select-session-tx-read-only-would-one-do-the-same) at checking the value of this.

[2021-04-01 03:16] AilinKid opened #23786 "plugin: audit plugin panic with nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
no panic

### 3. What did you see instead (Required)
panic

### 4. What is your TiDB version? (Required)

master,  v4.0.9

[2021-04-01 03:16] AilinKid commented on #23786
/assign @AilinKid

[2021-04-01 03:45] seiya-annie opened #23789 "system variable "tidb_dml_batch_size " is a session vars in 4.0.x, will lost after upgrade to 5.0.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

MySQL [(none)]> set global tidb_dml_batch_size=3000;                                                                                                  │
ERROR 1105 (HY000): Variable 'tidb_dml_batch_size' is a SESSION variable and can't be used with SET GLOBAL

### 2. What di

[2021-04-01 03:50] seiya-annie commented on #23789
this behavior is expected.

[2021-04-01 04:01] #23351 closed

[2021-04-01 05:16] hanfei1991 opened #23793 "Output cost of plans in explain "verbose" mode"
## Feature Request

For now the "verbose" mode of explain is not implemented. I propose that we can output the cost as the first step. It has following advantages:

- When we use `horoscope` to test TiDB's plan, it's possible to run a lot of plans. Like tpch query 2, there are nearly 1000 plans including mpp plans. It makes no sense to enumerate every plan. It's better to sort the plans by cost an

[2021-04-01 05:55] qw4990 commented on #23793
I agree and here is another point from our user https://github.com/pingcap/tidb/issues/20676#issuecomment-731929203.

[2021-04-01 06:10] qw4990 commented on #23793
Is there any progress to accept and promote feature requirements from outside(other teams or contributors)? @zz-jason
This requirement looks good to me, so should I approve it?
And what're your options about this requirement? @winoros @eurekaka

[2021-04-01 06:13] zz-jason commented on #23793
@hanfei1991 please write a detailed proposal about this feature, including feature design, tech design, and test design.

[2021-04-01 06:30] hanfei1991 commented on #23793
@zz-jason add some info in the description.

[2021-04-01 06:37] wjhuang2016 opened #23797 "tikv aborts txn: KeyTooLarge"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Enable the new collation.
[code]

[code]
### 2. What did you expect to see? (Required)
No error.
### 3. What did you see instead (Required)
ERROR 1105 (HY000): tikv aborts txn: KeyTooLarge(14220, 4096)
### 4. What is your TiDB version? (Required)
master

[2021-04-01 06:37] zimulala commented on #23743
@seiya-annie
Could show me the specific process？It can't reproduce it.
* I start v4.0.9 TiDB with default configures. And the store is `mocktikv`.
* Then I kill the TiDB, start the v5.0.0 TiDB with default configures. And the store is `unistore`.

[2021-04-01 06:49] zimulala commented on #23736
I reproduce it on release5.0 and v4.0.11. And I can't reproduce it on v4.0.9.

[2021-04-01 06:57] LittleFall opened #23798 "Support push `CastStringAsReal` down to TiFlash."
## Development Task

[code]

[2021-04-01 07:15] sticnarf opened #23799 "Unnecessary pessimistic rollback is sent on ErrKeyExists"
## Bug Report

### 1. Minimal reproduce step (Required)

It is a regression caused by https://github.com/pingcap/tidb/pull/22976.

#22976 created a `ErrKeyExists` wrapper in `store/tikv`. Then, the type match at https://github.com/sticnarf/tidb/blob/375de3758c/store/tikv/txn.go#L472 was incorrect. Unnecessary pessimistic rollback may be sent if we receive `ErrKeyExists`.

### 2. What did you expec

[2021-04-01 07:23] time-and-fate commented on #23736
I'm still investigating and I believe https://github.com/pingcap/tidb/pull/20478 introduced this bug so far. This pr is to fix https://github.com/pingcap/tidb/issues/20071 and it's not cherry-picked to release-4.0. And I reproduced https://github.com/pingcap/tidb/issues/20071 on 4.0.11 successfully.

[2021-04-01 07:30] tangenta commented on #23797
We also need to check the clustered primary key length:

[code]

ERROR 1105 (HY000): tikv aborts txn: KeyTooLarge(14202, 4096)

[2021-04-01 07:35] qw4990 commented on #23725
Any options about this requirement? @zz-jason @eurekaka @winoros
Since it is not complex and urgent, we can ask some contributors to implement this feature if it is accepted.

[2021-04-01 07:51] aytrack opened #23802 "tidb panic while query hash partition table with `is null` condition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
query successfully
### 3. What did you see instead (Required)
tidb panic
[code]
tidb log:
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-04-01 08:51] lysu opened #23805 "insert ignore panic on empty clustered index table with new collation enabled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

ERROR 1105 (HY000): runtime error: index out of range [0] with length 0

### 4. What is your TiDB version? (Required)

master

[2021-04-01 08:56] Reminiscent commented on #22301
These SQL statements can work in TiDB:
[code]

But these statements will get the wrong results:
[code]

[2021-04-01 09:00] lysu commented on #23805
related to https://github.com/pingcap/tidb/pull/23742 @wjhuang2016  PTAL

[2021-04-01 09:29] #23488 closed

[2021-04-01 10:33] #22716 closed

[2021-04-01 10:44] ichn-hu opened #23807 "Window function pipelining tasks tracker"
## Development Task

In https://github.com/pingcap/tidb/issues/18444, we identified an OOM case caused by window function (namely row_number), and we proposed to refactor the window function implementation in a pipeplined manner in feature request https://github.com/pingcap/tidb/issues/21636, and we later wrote a proposal on it https://github.com/pingcap/tidb/pull/23028, and this issue is meant fo

[2021-04-01 11:18] lysu opened #23809 "ignore dup error after insert on duplicate get wrong result in clustered index or int pk table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create nonclustered table ..insert then insert ignore ..check last table result

[code]

rerun with clustered index table

[code]

### 2. What did you expect to see? (Required)

same result

### 3. What did you see instead (Required)

non-clustered *(RIGHT)*

[code]

cluste

[2021-04-01 11:40] Howie59 commented on #23802
/assign

[2021-04-01 12:56] jianzhiyao commented on #21787
marked

[2021-04-01 13:03] #23631 closed

[2021-04-01 13:04] jianzhiyao commented on #21787
It may be relevant.
https://github.com/pingcap/tidb/issues/7079

[2021-04-01 13:27] lysu commented on #23809
also affact on 5.0- 's in pk is handle

require:

- clustered index or  in pk is handle(so can trigger handle change logic)
- has another unique key

then

1. insert duplicate on pk
2. update pk to a not exist pk value
3. at the same time update unique key column to a conflict value

[code]

[2021-04-01 13:48] #23693 closed

[2021-04-01 14:09] tirsen opened #23815 "expression index using autoinc column"
## Feature Request

If I try to create an expression index on an autoincremented column like this:

[code]

I get the following error:
[code]

We have a use case where we do need an expression index on an auto-incremented column.

[2021-04-01 14:16] tirsen commented on #23815
I'm guess it's because the auto increment value hasn't been assigned when the expression pseudo-column is evaluated?

[2021-04-01 15:42] #23736 closed

[2021-04-01 16:58] #23805 closed

[2021-04-01 17:45] kolbe commented on #23815
This restriction also exists in MySQL: https://bugs.mysql.com/bug.php?id=78290
[code]

If we're lucky, the TiDB architecture and order-of-operations is different enough that we might be able to more easily lift this restriction.

[2021-04-01 19:10] morgo commented on #23815
TiDB often has the same restrictions as MySQL so that it doesn't lock users in (for example: the number of columns on a table). We will have to check if it is one of those cases, in which case a config option can be added to lift the restriction.

[2021-04-01 21:24] morgo commented on #23789
This

[2021-04-01 21:27] morgo commented on #23789
(Reclosing; I thought this broke an upgrade case, but I misunderstood).

[2021-04-01 21:27] #23789 closed

[2021-04-01 23:35] #23644 closed

[2021-04-01 23:44] thinkinnight commented on #23488
/label severity/minor

[2021-04-01 23:51] thinkinnight commented on #23488
Bug

1. Root Cause Analysis (RCA) (optional)
While do altertable in ddl, did not check index constraint for BLOB etc.
2. Symptom (optional)
3. All Trigger Conditions (optional)
4. Workaround (optional)
5. Affected versions
master (1e3921a)
6. Fixed versions
master (6bde44a)

[2021-04-01 23:51] #23765 closed

[2021-04-02 00:07] #23786 closed

[2021-04-02 00:57] kolbe opened #23821 "Query text missing from slow query log"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Don't know! 🙁

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

There are a large number of instances of slow query log entries where the query text is only two hyphens, "--":
[code]

There are some others where a "use <db>;" statem

[2021-04-02 01:00] cosven commented on #22964
I reproduce the problem with following workload and topology, and there is no panic before OOM.

**workload**
[code]

**topology**
* each TiDB: 16c32G
* each PD: 8c16g
* each TiKV: 8c16G
[code]

[2021-04-02 02:22] xhebox commented on #23821
I think it is related to `RedactLog` option, which is now an alias of `SlowLogMasking`, could you test it? That is these SQLs are internal SQLs. This behavior may be intended.

[2021-04-02 02:38] seiya-annie commented on #23743
i installed v5.0.0-nightly with following config:
server_configs:
  tidb:
    alter-primary-key: true
    enable-streaming: false
    experimental.allow-expression-index: true
    mem-quota-query: 1000000
    new_collations_enabled_on_first_bootstrap: true
    oom-action: log
    performance.feedback-probability: 0.05
    performance.max-memory: 50000
    performance.max-txn-ttl: 600000
    perfor

[2021-04-02 02:40] seiya-annie commented on #23743
@zimulala

[2021-04-02 02:42] #23615 closed

[2021-04-02 02:52] #23670 closed

[2021-04-02 03:21] tangenta commented on #23748
https://github.com/pingcap/tidb/pull/19765 Perhaps we can modify this PR to make it applicable global config test cases.

[2021-04-02 03:45] #23567 closed

[2021-04-02 03:49] AilinKid commented on #23748
Do you mean to make these tests including the global config modification run serially as failpoint case does?

[2021-04-02 03:54] xhebox commented on #23748
I do mean so.

[2021-04-02 04:47] kolbe commented on #23821
@xhebox that can't possibly explain why only particular queries are totally omitted from the slow query log. Also, these are certainly not internal SQLs — that has been confirmed by running tidb_decode_plan().

[2021-04-02 05:03] xhebox commented on #23821
@crazycs520 @wshwsh12 PTAL

[2021-04-02 05:21] kolbe commented on #23821
This was entirely due to a mistake I made when trying to extract sections from the slow query log, I'm so sorry. This is not an issue with TiDB.

[2021-04-02 05:21] #23821 closed

[2021-04-02 05:23] wjhuang2016 commented on #23815
I tested it and TiDB can work as expected. So maybe we can add an option to relax the restriction.

[2021-04-02 05:30] lysu opened #23824 "improve update ignore & Insert on duplicate ignore performance"
## Development Task

currently, "update" or "insert on duplicate update" modify Int Primary Key or Clustered Primary Key will trigger a special code path called "handle change" in write.go: `updateRecord()` method

https://github.com/pingcap/tidb/blob/master/executor/write.go#L192

handle change means we need change KV pair's key due to primary changed, but it's not very effective

specially, when

[2021-04-02 06:05] #23809 closed

[2021-04-02 06:28] ankitdobhal opened #23827 "Integration DeepSource"
## Description

Hi 👋 I ran the [DeepSource](https://deepsource.io/) static analyzer on the forked copy of this repo and found some interesting code quality issues which are available [here](https://deepsource.io/gh/ankitdobhal/tidb/issues/).
I opened a PR (#23445 ) fixing some of the issues detected for you to assess if it is right for you.

**Describe the feature you'd like:**

The Static Code An

[2021-04-02 06:43] Yisaer opened #23829 "show drainer status will get panic when All pd have been replaced"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. scale out new pd
2. scale in all the old pd
3. execute `show drainer status`

### 2. What did you expect to see? (Required)
statement executed successfully.

### 3. What did you see instead (Required)
tidb get panic

### 4. What is your TiDB version? (Required)
master ver

[2021-04-02 07:13] nolouch commented on #18374
closed it firstly. maybe we can reopen it in the future.

[2021-04-02 07:13] #18374 closed

[2021-04-02 07:28] sykp241095 commented on #23759
Hi, will it be fixed in 5.0 GA ?

[2021-04-02 07:29] TszKitLo40 commented on #23824
I want to try this issue. But if I have question, can I get help from you in Slack? @lysu

[2021-04-02 07:30] lysu commented on #23824
surely, my nickname in community is robi

[2021-04-02 07:37] TszKitLo40 commented on #23824
/assign

[2021-04-02 07:53] aytrack opened #23832 "bit column union Numeric literals select got the wrong results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master: 096281ec2f9a0b9a1e
release-4.0: 11a9254bec522
release-5.0: e2740f54b6b2

[2021-04-02 09:54] windtalker opened #23839 "TiDB throw error when explain a complex sql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

the query plan
### 3. What did you see instead (Required)

runtime error
### 4. What is your TiDB version? (Required)

[code]

[2021-04-02 10:17] #23563 closed

[2021-04-02 13:02] kilik52 commented on #4435
Any updates on this?

[2021-04-02 14:21] dveeden commented on #20378
This feature would improve support for MySQL Workbench. The visual explain feature is build on top o the JSON explain output.

This is what happens with MySQL Workbench 8.0.23:
[code]
The workaround for this is to prefix the query with `EXPLAIN ` and execute this as a normal query to get a textual explain instead of using the explain button.

Note that MySQL Workbench is named on https://docs.ping

[2021-04-02 14:43] dveeden commented on #23832
The `--column-type-info` and `--skip-binary-as-hex` options of the MySQL client may be useful here.

With MySQL 8.0.22:
[code]

And with TiDB:
[code]

[2021-04-02 15:29] dbsid opened #23841 "Improve the selectivity on out-of-range predicate value"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When below 3 conditions are met , The default selectivity(0.01) is used. For large table, the default selectivity causes  orders of magnitude wrong estimation and bad plan.

1. Predicate value is out of range
2. Stats_health is not 100%
3. There are many modified row count

real-world example from tug
https://a

[2021-04-02 15:35] #22852 closed

[2021-04-02 16:33] #15549 closed

[2021-04-02 18:45] #18894 closed

[2021-04-03 02:28] kolbe opened #23843 "Expose stores/regions consulted in EXPLAIN ANALYZE and slow query log"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When trying to diagnose issues where specific, individual regions are overburdened, it's difficult to know which queries may be hammering an individual store especially hard.

**Describe the feature you'd like:**

It would be very helpful if the slow query log had information about the individual stores that we

[2021-04-03 02:48] kolbe commented on #23843
It would be great to have a new line in the slow query log that shows the list of stores/TiKVs and the number of regions consulted for each store.

I think it would also be nice to have that information exposed in EXPLAIN ANALYZE output somehow, though I think we can generally use SHOW TABLE ... INDEX ... REGIONS generally to accomplish that?

If we don't want to drastically alter the format and c

[2021-04-03 05:43] xuyifangreeneyes commented on #23839
/assign

[2021-04-03 05:47] xuyifangreeneyes commented on #23839
a simplified case:
[code]

[2021-04-04 08:25] Howie59 commented on #23649
/assign

[2021-04-05 07:45] lilinghai opened #23846 "The execution result of using TableDual plan is not correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
0x00A4EEF4FA55D6706ED5
### 3. What did you see instead (Required)
Empty result
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2561-g9c75cfa4e
Edition: Community
Git Commit Hash: 9c75cfa4e2bbb

[2021-04-05 08:01] dveeden opened #23847 "Rollback options are silently ignored"
## Bug Report

### 1. Minimal reproduce step (Required)

MySQL:
[code]

TiDB:
[code]

### 2. What did you expect to see? (Required)

1. I expect to be in a transaction when executing `ROLLBACK AND CHAIN`
2. I expect a new connection after executing `ROLLBACK RELEASE`

### 3. What did you see instead (Required)

Both `AND CHAIN` and `RELEASE` options for `ROLLBACK` seem to get ignored silently.

##

[2021-04-05 08:15] dveeden commented on #23847
Note that PostgreSQL also has the `AND CHAIN`, but limits this to transaction blocks.
[code]

https://crate.io/docs/sql-99/en/latest/chapters/36.html indicates that this is part of the SQL:1999 standard.

[2021-04-05 08:30] dveeden commented on #23847
I don't think these options are commonly used in MySQL. However I would not be surprised if some benchmarks or other tools use `rollback release` to force a connection reset.

[2021-04-05 08:34] dveeden commented on #23846
I failed to reproduce this on TiDB 5.0

[code]

[2021-04-05 08:58] dveeden commented on #23847
https://github.com/pingcap/parser/blob/7b490931db5f6fa20180d3097339bac3969f3160/parser.y#L7680 seems to be aware of the syntax.

https://github.com/pingcap/tidb/blob/9c75cfa4e2bbb854ab90562ecec0409f84a989b0/executor/simple.go#L745 doesn't seem to use the `CompletionType` of the `RollbackStmt`.

[2021-04-05 15:00] lilinghai commented on #23846
@dveeden I found the issue in the master branch.

[2021-04-05 16:02] morgo opened #23850 "REVOKE ALL fails on current user"
## Bug Report

This was discovered by running mysql-test against TiDB. A user should have permission to revoke privileges from themselves as long as they have `CREATE USER` granted.

This fails in TiDB because `ALL` is expanded into the all privileges mask + Grant priv.

It also fails in the case that the privilege check is met (u4).

### 1. Minimal reproduce step (Required)

[code]

### 2. What d

[2021-04-06 00:57] cosven commented on #22964
Reproduced with following workload
[code]

![image](https://user-images.githubusercontent.com/4962134/113643853-df07a800-96b5-11eb-8f13-86ed9e148e2a.png)

Topology

* 1 TiDB: 8c16G
* 1 PD: 8c16g
* 5 TiKV: 8c16G

[2021-04-06 02:20] kilik52 opened #23851 "How to use TiGraph?"
## General Question

Hi, i cannot found any documents about TiGraph except one PR report. i wonder if TiGraph is useable or still under development. thx

[2021-04-06 03:19] #23675 closed

[2021-04-06 03:27] JaySon-Huang opened #23852 "Unsupport changing column type from char to varchar in master/v5.0.x"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-04-06 03:41] zimulala commented on #23852
Yep, we change this behavior in this PR(#23688).

[2021-04-06 04:03] crazycs520 commented on #23851
@kilik52 TiGraph is in another repo, here is a usage demo:
https://github.com/tigraph/tidb/blob/master/demo.md

[2021-04-06 06:16] winoros opened #23856 "IndexUsageCollector will consume memory much and mucher when its closed."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Relase & New the session quickly.

### 2. What did you expect to see? (Required)

The memory usage is smooth.

### 3. What did you see instead (Required)

Memory goes higher, and the `IndexUsageCollector` consumes a lot.

![Lark20210406-141650](https://user-images.githubuse

[2021-04-06 06:18] rebelice commented on #23856
/assign

[2021-04-06 06:43] zimulala commented on #23847
Thanks for your report!
Now we only support `chain` and `release` on syntax. We handle it in pingcap/parser/pull/751.

[2021-04-06 06:43] qw4990 commented on #23846
I find this issue is caused by https://github.com/pingcap/tidb/pull/23523 which is supposed to fix another bug.
I'll fix this issue soon.

[2021-04-06 06:51] #22680 closed

[2021-04-06 07:07] zimulala commented on #23802
It can reproduce on release-5.0, and can't reproduce on v4.0.12.

[2021-04-06 07:50] #23839 closed

[2021-04-06 09:27] winoros opened #23865 "binary literal containing invalid-unicode characters are truncated in the metadata"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

Two rows of value `0x00A4EEF4FA55D6706ED5`.
And the select can select the rows.

### 3. What did you see instead (Required)

The first insert raised an error `Data Truncated`. Only one row inserted.

And the select retur

[2021-04-06 09:35] winoros commented on #23865
There's also another interesting thing.
In MySQL, if you change the where clause to `0x2`, `0x3`, `0x4`. The select can also return the rows.

[2021-04-06 09:56] ichn-hu opened #23869 "Cast year as datetime should return null"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

this bug is caused by https://github.com/pingcap/tidb/pull/20233 , TiDB acts correctly before this PR, na

[2021-04-06 09:57] lilinghai opened #23870 "Encoding failed when comparing the type of char and hex"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1105 (HY000): encoding failed
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2561-g9c75cfa4e
Edition: Community
Git Commit Hash:

[2021-04-06 11:28] Howie59 commented on #23494
/assign

[2021-04-06 11:48] #20893 closed

[2021-04-06 11:49] cfzjywxk opened #23872 "ddl: the column flag is changed after modifying column name"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
The column flags of column `id_new`  should be the same as the original column `id`.

### 3. What did you see instead (Required)
The `NoDefaultValueFlag` flag is added to the column `id_new`.

### 4. What is your TiDB ver

[2021-04-06 11:53] cfzjywxk commented on #23872
@wjhuang2016
PTAL

[2021-04-06 12:53] Howie59 commented on #23872
/assign

[2021-04-06 13:46] lysu opened #23874 "truncate error after CAST push down to tikv"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

success and delete nothing

### 3. What did you see instead (Required)

ERROR 1265 (01000): Data Truncated

### 4. What is your TiDB version? (Required)

5.0.rc

[2021-04-06 14:16] lysu commented on #23874
after https://github.com/pingcap/tidb/pull/14672

plan will be

[code]

and it will return truncate error from tikv and make delete stmt failed

[2021-04-06 14:17] lysu commented on #23874
it will succeed if it's a castable value like

[code]

so maybe it's not critial

[2021-04-06 14:32] Howie59 commented on #23869
/assign

[2021-04-06 15:00] #20971 closed

[2021-04-06 15:24] bezmax commented on #23815
If this is going to be implemented, I think this restriction is as arbitrary (and very similar too):
[code]

[2021-04-06 17:23] wjhuang2016 commented on #23815
Yeah, the reason that the expression index can not use the auto-increment column is that the generated column can not use it. This limit is inherited from the generated column.

[2021-04-06 19:22] rnav1234 commented on #18209
Also consider adding foreign keys as a good way to ensure **cascade delete**'s happen when needed

[2021-04-07 01:13] jebter opened #23877 "disable strict sql mode should not ignore bad null error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

drop table if exists t;
create table t (i int not null);
set sql_mode = '';
insert into t values (null);
### 2. What did you expect to see? (Required)
ERROR 1048 (23000) at line 4: Column 'i' cannot be null
### 3. What did you see instead (Required)
No error returned.
### 4

[2021-04-07 01:16] jebter commented on #23877
recurrent bug：#10153

[2021-04-07 02:10] XuHuaiyu commented on #23236
This is a corner case that we almost never encountered in production scenarios.
And TiDB will return a warning for such case, thus I think we do not need to fix this issue.
[code]

[2021-04-07 02:10] #23236 closed

[2021-04-07 02:25] XuHuaiyu commented on #23287
I checked the result in MySQL 5.7:
[code]

We can see that it's a bug of clustered index, thus I change the label from `sig/execution` to `sig/transaction`

[2021-04-07 02:34] wjhuang2016 commented on #23877
It's the expected behavior, refer to https://bugs.mysql.com/bug.php?id=101727

[2021-04-07 02:45] seiya-annie commented on #23743
tiup specially configured --store=tikv when launched tidb server. so the item in tidb.toml will be ignored.
[root@101 conf]#  ps -ef | grep tidb-server                                                                                                    │   0.00
tidb      94380      1 18 4月06 ?       03:41:50 bin/tidb-server -P 4000 --status=10080 --host=0.0.0.0 --advertise-address=172.16.5.101 --sto

[2021-04-07 02:46] #22920 closed