[2021-05-12 09:27] LittleFall commented on #24512
/cc @hanfei1991

[2021-05-12 09:41] LittleFall opened #24583 "test random failed in TestExtractStartTs"
## Bug Report

pr: https://github.com/pingcap/tidb/pull/24516

ci test name: idc-jenkins-ci-tidb/check_dev_2

logs: https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/3707/log/?start=0
[code]

[2021-05-12 09:43] AilinKid opened #24584 "ddl: admin cancel column-type-change will not release the background work goroutine"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
// Mock infinite worker logic here
[code]
make
./bin/tidb-server

session1:
[code]
session2:
[code]

However, the start console still outputs the `running` log, which means the work goroutine is leaked.

### 2. What did you expect to see? (Required)
worker goroutine is over

[2021-05-12 09:58] LittleFall opened #24586 "test failed because of DATA RACE"
## Bug Report

pr: #24516

ci test name: idc-jenkins-ci-tidb/unit-test

logs: https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/2418/nodes/104/steps/190/log/?start=0

[code]

[2021-05-12 09:59] AilinKid commented on #24576
/cc @wshwsh12

[2021-05-12 10:11] aytrack opened #24587 "inner join for enum type got wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-12 10:21] vivid392845427 opened #24589 "ddl operation triggers the implicit commit，user prompt message unfriendly and miss log:NewTxn() inside a transaction auto commit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1、do some transaction operation

mysql> create table t(a int, b varchar(20), primary key(a,b(3)));
ERROR 1105 (HY000): tikv aborts txn: Txn(Mvcc(PessimisticLockNotFound { start_ts: TimeStamp(424884930163769345), key: [116, 128, 0, 0, 0, 0, 0, 27, 42, 95, 105, 128, 0, 0, 0,

[2021-05-12 10:24] aytrack commented on #24587
duplicated with #24473

[2021-05-12 10:26] vivid392845427 opened #24591 "ddl operation triggers the implicit commit，ddl operation fails occasionally"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1、do some transaction operation

mysql> create table t(a int, b varchar(20), primary key(a,b(3)));
ERROR 1105 (HY000): tikv aborts txn: Txn(Mvcc(PessimisticLockNotFound { start_ts: TimeStamp(424884930163769345), key: [116, 128, 0, 0, 0, 0, 0, 27, 42, 95, 105, 128, 0, 0, 0,

[2021-05-12 10:30] zhouqiang-cl opened #24592 "unstable test"
## Bug Report

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/3743/pipeline/

[code]

### 1. Minimal reproduce step (Required)

run CI

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

in https://github.com/pingcap/tidb/pull/24408

[2021-05-12 10:51] #24109 closed

[2021-05-12 11:18] cfzjywxk commented on #24591
The `PessimisticLockNotFound ` error is unexpected, the process is:
`424884930163769345` is pessimistic transaction which is started at `2021-05-12 16:16:21.301 +0800 CST`, The `max-txn-ttl` is default value 1 hour.
[code]

From the log,  the heartbeat at `2021/05/12 08:34:52.130 +00:00` as the primary key lock is not found. `424884930163769345` is used as the safepoint for gc, the lock resolving

[2021-05-12 11:20] cfzjywxk commented on #24589
Related to https://github.com/pingcap/tidb/issues/24591.
The ddl operation commit the last transaction implicitly and the commit failed. The problem is that the error message is confusing for the user, maybe it's needed to make the error information more understandable.

[2021-05-12 11:40] wjhuang2016 commented on #23941
I believe it works now. Feel free to reopen it if encounter again.

[2021-05-12 11:40] #23941 closed

[2021-05-12 11:56] ChenPeng2013 opened #24594 "MySQL Bugs: #103665 The aliases interferes despite the fact that the database is specified"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
update succeeded

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-12 12:55] Howie59 commented on #24582
/assign

[2021-05-12 13:02] Howie59 commented on #24580
/assign

[2021-05-12 13:12] sylzd commented on #24473
/assign

[2021-05-12 13:46] mjonss opened #24599 "Inconsistent plans around partition boundaries and impossible BETWEEN where"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE tp (a int, b varchar(255))
PARTITION BY RANGE (a)
(PARTITION p0 VALUES LESS THAN (1000),
 PARTITION pMax VALUES LESS THAN (MAXVALUE));
INSERT INTO tp VALUES (0, "0..."), (999, "999 filler"), (1000, "1000 filler"), (1001, "1001 filler");
EXPLAIN SELECT * FROM tp

[2021-05-12 13:49] mjonss commented on #24599
So the partition pruning code does the correct thing and changing to TableDual (empty system table) when no partition can match the impossible BETWEEN (i.e. it happens at the partition boundary), but the otherwise it will not (also non-partitioned tables does the same).

I consider this as a minor bug with low priority. But it is an inconsistency :)

[2021-05-12 15:07] mjonss commented on #24327
/type enhancement

[2021-05-12 15:07] mjonss commented on #24327
/remove-type bug

[2021-05-12 15:08] mjonss commented on #24599
/type enhancement

[2021-05-12 15:08] mjonss commented on #24599
/remove-type bug

[2021-05-12 15:10] morgo commented on #24599
(Related) there is also an off-by-one in how partitions are pruned.

I tried fixing this once, but almost introduced a bug. So I added a testcase instead: https://github.com/pingcap/tidb/pull/22836

[2021-05-12 15:10] CadmusJiang opened #24602 "Go version upgrade"
## Development Task
Go1.16 has more performance improvement than Go1.13, improves some existing problems and defects, and supports M1.
Thanks to the efforts of every member of go community, and in order to better exploit the potential performance of TiDB, we decided to upgrade the Go version from Go1.13 to Go1.16.
After deciding to upgrade, we tested the #23932  on the master branch, including com

[2021-05-12 15:15] zhouqiang-cl opened #24603 "unstable race test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run CI

### 2. What did you expect to see? (Required)
race test pass

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
pr https://github.com/pingcap/tidb/pull/23152

detail link: https://ci.pingcap.net/blue/organizations/jenkin

[2021-05-12 15:15] #24602 closed

[2021-05-12 16:07] kolbe commented on #24415
@lonng can you provide any additional information about why it was necessary to forbid pushdown of json_unquote to the coprocessor?

[2021-05-12 16:19] #21595 closed

[2021-05-13 01:44] tisonkun commented on #22198
@wjhuang2016 I'd suggest change the title name to `Upgrade Go Version to 1.16` and thus we get it clear.

I know that @CadmusJiang and @zhouqiang-cl are in charge for upgrading Go Version to 1.16 and most of validation works are done manually. Hopefully we get it done in this month and I'd like to use this existing issue as a tracking issue.

Upgrading the whole TiDB stack Go Version including

-

[2021-05-13 01:48] lonng commented on #24415
@kolbe I forbade the `json_unquote` pushdown switcher because I found the implementation inconsistent between TiKV and TiDB when I develop the `copr-test` testing framework last year. I just simply comment the `json_unquote` to make the subsequent works going on because I have no time to take an investigation at that time.

I am not sure does this inconsistent have been fixed in the last year. So

[2021-05-13 01:58] KASSADAR opened #24607 "add Monitoring Alerts of restarts"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**
We need receive a warning when server restarted.
when server has been oom, No notice
when server has been panic, No notice
when server has been killed, No notice

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-05-13 02:38] b41sh commented on #24496
@dveeden
we can fix it after this pr [1223](https://github.com/pingcap/parser/pull/1223) merged.

[2021-05-13 03:15] #24439 closed

[2021-05-13 03:27] djshow832 commented on #24560
PTAL @cfzjywxk

[2021-05-13 03:28] wshwsh12 commented on #24561
What's the tikv version?

[2021-05-13 03:40] xiongjiwei commented on #24502
it can be explained,
[code]
`like` is different from `=`, the second parameter of `like` will be treated as a pattern, so that `\9jM\M = 9jMM`

[2021-05-13 03:42] xiongjiwei commented on #24496
well, the parser is not updated. Reopen this issue until parser updated

[2021-05-13 03:52] aytrack opened #24610 "enum type min/max result is different from order result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-13 03:55] #24583 closed

[2021-05-13 03:55] #24592 closed

[2021-05-13 04:45] #24541 closed

[2021-05-13 06:02] wshwsh12 commented on #24530
/assign @lzmhhh123

[2021-05-13 06:04] wshwsh12 commented on #24562
/assign @lzmhhh123

[2021-05-13 06:20] lzmhhh123 commented on #24562
A more simple case:

[code]

[2021-05-13 06:28] aytrack commented on #24561
[code]

[2021-05-13 06:34] ichn-hu commented on #24587
can we close this issue since it is duplicated?

[2021-05-13 06:40] ichn-hu commented on #24610
/assign @wshwsh12

[2021-05-13 06:41] ichn-hu commented on #24563
/unlabel sig/execution

[2021-05-13 06:47] wshwsh12 commented on #24610
https://dev.mysql.com/doc/refman/8.0/en/enum.html#enum-sorting
The order rule and min/max rule for enum is different.
The result of the sql is same with mysql, so I think it is not a bug.

[2021-05-13 06:58] aytrack commented on #24610
The minimum value of order and the min result on mysql are the same.
[code]

[2021-05-13 07:17] sticnarf opened #24615 "PD Server Timeout under high write pressure"
### 1. Minimal reproduce step (Required)

Keeps giving TiKV huge write load. I run with uniform workload in pingcap/tipocket#410.

### 3. What did you see instead (Required)

The client receives lots of `Error 9001: PD server timeout`.

The TiDB log shows a lot of `region not found for key`:

[code]

### 4. What is your TiDB version? (Required)

A recent master.
TiDB: 075df515e4620255a423ab2a9d6b2

[2021-05-13 07:57] hanfei1991 commented on #22975
@ichn-hu yes, we have yet fixed it.

[2021-05-13 08:00] zimulala opened #24621 "The truncate error message is not compatible with MySQL when modifying the column type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`ERROR 1265 (01000): Data truncated for column 'a' at row 1`

### 3. What did you see instead (Required)
`ERROR 1406 (22001): Data Too Long, field len 12, data len 20`

### 4. What is your TiDB version? (Required)

Relea

[2021-05-13 08:04] xiongjiwei opened #24622 "the name resolve of query is really different from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

run success expects 3th.

### 3. What did you see instead (Required)

all failed

### 4. What is your TiDB version? (Required)

[2021-05-13 08:06] wshwsh12 commented on #24610
It is a mysql bug.
In mysql5.7, 8.0
drop table t;
create table t(a enum('y','b','1','x','0','null') DEFAULT NULL,key(a));
insert into t values('y'),('b');
select min(a) from t;
MySQL [test]> select min(a) from t;
+--------+
| min(a) |
+--------+
| y      |
+--------+
1 row in set (0.000 sec)

drop table t;
create table t(a enum('y','b','1','x','0','null') DEFAULT NULL);
insert into t values('y'),(

[2021-05-13 08:31] aytrack commented on #24610
@wshwsh12 could you please give the issue link if you reported a bug to MySQL.
The following are the results in postgres
[code]

[2021-05-13 08:39] wshwsh12 commented on #24610
https://bugs.mysql.com/bug.php?id=103677

[2021-05-13 08:41] wshwsh12 commented on #24610
In mysql docs, https://dev.mysql.com/doc/refman/8.0/en/aggregate-functions.html#function_max, for MAX(), MySQL currently compares ENUM and SET columns by their string value rather than by the string's relative position in the set.
So I think we should keep the behavior of mysql docs @aytrack

[2021-05-13 08:56] vivid392845427 opened #24626 "trailing spaces handle Inconsistent when set new_collations_enabled_on_first_bootstrap 1 and 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t1(a varchar(40));
insert into t1 values('aaaaa');
insert into t1 values('aaaaa ');
select * from t1 where a = 'aaaaa';
select * from t1 where a = 'aaaaa ';

### 2. What did you expect to see? (Required)

ignore trailing spaces

mysql> select * from t1 where a

[2021-05-13 09:08] #23665 closed

[2021-05-13 09:08] #24421 closed

[2021-05-13 09:09] aytrack commented on #24587
Yes, we can close this issue, and I'll test this again after the issue was fixed

[2021-05-13 09:09] #24587 closed

[2021-05-13 09:16] SilvaXiang opened #24627 "The result of Replace into statement is different from mysql"
## Bug Report

### 1. Minimal reproduce step (Required)

1.Create a table test whose primary key is AUTO_INCREMENT
`create table test(id float primary key AUTO_INCREMENT, col1 int);`

2.use **replace into** statement to insert the data
`replace into test(col1) values(1);`
`replace into test(col1) values(2);`

3. Query the data from table **test**
`select * from test;`

### 2. What did you expect t

[2021-05-13 10:24] wenfengwang opened #24630 "Query 5 of TPCH Testing failed and make server down on v5.0.1"
## Bug Report

Query 5 failed of TPCH Testing due to `TiFlash Server Timeout`

### 1. Minimal reproduce step (Required)

run TPCH-100 Testing step by step according to: https://docs.pingcap.com/zh/tidb/stable/v5.0-performance-benchmarking-with-tpch#%E6%B5%8B%E8%AF%95%E7%BB%93%E6%9E%9C

topo: one host(2 NVMe, 256G mem, 144vCore ) deploy 2 TiFlash instance

### 2. What did you expect to see? (Requir

[2021-05-13 10:29] aytrack commented on #24626
This may be not a bug, old collation has a different behavior from  new collation frameworks, as described in the [documentation](https://docs.pingcap.com/tidb/stable/character-set-and-collation#character-set-and-collation)

[2021-05-13 10:36] wenfengwang commented on #24630
other info:
1. NUMA configured
2.  all configurations are default exclude port

[2021-05-13 10:37] qw4990 opened #24631 "Wrong results when accessing partition tables by IndexJoin"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
They should return the same result.

### 3. What did you see instead (Required)
Their results are different.

### 4. What is your TiDB version? (Required)

Master Branch

[2021-05-13 10:52] winoros commented on #24057
Cannot reproduce, waiting to reproduce again.

[2021-05-13 11:08] qw4990 commented on #24631
I'm working on this now.

[2021-05-13 11:51] winoros commented on #24452
Set the cascades to off. This still exists.

[2021-05-13 11:51] #24477 closed

[2021-05-13 12:03] #24356 closed

[2021-05-13 12:24] bb7133 opened #24636 "Wrong value when query a partition table with `LIMIT`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Scripts:
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

TiDB v5.0.1

### Other versions
It is not reproduced in v4.0, but in current master(aecff1c42e3a05b911311f6

[2021-05-13 12:42] bb7133 commented on #24636
PTAL @mjonss

[2021-05-13 13:08] chenquan commented on #17489
/pick-up

[2021-05-13 13:19] zimulala opened #24638 "Support column type conversion between non-varchar to varchar"
## Development Task

We forbid changing column type conversion between non-varchar to varchar in master/v5.0.x(PR: #23688). Before #23688, this feature(conversion between char to varchar) was originally supported by modifying only the column structure without modifying the data.
However, it was later found that some scenarios(these cases are executed on the branch which before forbidding this feat

[2021-05-13 15:07] youjiali1995 opened #24640 "SessionPool may contain sessions with valid transaction state which results in TiDB unavailable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

It's hard to reproduce but it happened.

1. TiDB fails to execute a restricted SQL due to network partition, and the internal session has got a start timestamp.
2. The TiDB is partitioned for a long time and the GC safepoint is greater than the session's start timestamp.
3.

[2021-05-13 15:40] zimulala opened #24642 "The update statement reported the truncate error message isn’t compatible with MySQL after column type change"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`ERROR 1292 (22007): Truncated incorrect DOUBLE value: '0123456789abc\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x0'`

### 3. What did you see instead

[2021-05-13 15:42] bbarclay commented on #21435
Yes. How to get this to work in Kuberentes. We were told by a lot of people to use TiDB lighting, but this configuraiton is giving us trouble because our file size is over, for some reaons.

[2021-05-13 16:28] youjiali1995 opened #24643 "Should log table and index name when data inconsistencies occour"
## Bug Report

TiDB will report and log an error message if it detects data inconsistencies, but it only logs the index name. We don't know the table name! For example,
https://github.com/pingcap/tidb/blob/b7c22aa31d062b77a96493519a6b50ca9b627971/executor/distsql.go#L1215-L1223

TiDB should log enough information.

[2021-05-13 18:04] sticnarf opened #24644 "Remove the upper limit of total TiKV RPC time"
## Development Task

Now TiDB sets max sleep time to TiKV RPCs. For example, the max sleep time of prewrite is 20s.

When the total sleep time exceeds the limit, an error is thrown to the user, whose type is based on the backoff type. Most of the TiKV RPCs use `boTiKVRPC`, and the corresponding timeout error is `TiKV server timeout`.

I think errors like `TiKV server timeout` or `TiKV server is bu

[2021-05-13 20:18] morgo opened #24645 "assignable dynamic privileges should be listed in `SHOW PRIVILEGES` statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

In TiDB:

[code]

### 2. What did you expect to see? (Required)

In MySQL:
[code]

### 3. What did you see instead (Required)

The TiDB server doesn't show any of the dynamic privileges registered with the privilege manager.

### 4. What is your TiDB version? (Required)

[c

[2021-05-14 01:22] tisonkun commented on #22979
`gosimple` is enabled by #24617

[2021-05-14 01:40] youjiali1995 opened #24648 "TiDB report store-not-found error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Force offline a store to turn it into a tombstone store and some regions still have peers on it.
2. TiDB doesn't cache the tombstone store's information so it will query PD.
3. TiDB returns a store-not-found error to the user.

`RegionCache` can't handle peers on a tombs

[2021-05-14 02:22] zimulala opened #24651 "Return truncate error when update text column data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Successful execution.
[code]

### 3. What did you see instead (Required)
`ERROR 1292 (22007): Truncated incorrect FLOAT value: '檝汛藲逦鍙榓戌儛恆婪血垥蛖颢蜛踣臵曧踳擻'`

### 4. What is your TiDB version? (Required)

Release Version: v4.0.

[2021-05-14 02:24] cfzjywxk commented on #24560
The logic of reset of `TxnState` or currrent `LazyTxn` is not appropriate and the unecessary revert in the reset leads to the race, it's needed to fix the reset logic of the `TxnState` and seperate it with the `StmtCommit/StmtRollback` logic.

[2021-05-14 02:31] #24591 closed

[2021-05-14 02:45] lysu commented on #24560
reproduced at https://github.com/pingcap/tidb/pull/24505

[2021-05-14 03:32] youjiali1995 commented on #24643
@aytrack It's not critical. It's only related to log...

[2021-05-14 03:37] zimulala commented on #24651
[code]

[code]

[2021-05-14 03:55] #24576 closed

[2021-05-14 05:39] winoros commented on #24452
After discussing with @wshwsh12 . The correct result should be `b`. That the MySQL returns `y` is a bug of itself. See https://bugs.mysql.com/bug.php?id=103677

[2021-05-14 06:55] LittleFall opened #24660 "Refine the error message when group by subquery's column with union."
## Development Task

[code]

error message in TiDB(v5.0.1): [42000][1250] Table 's' from one of the SELECTs cannot be used in group statement

error message in MySQL 8.0: ERROR 1054 (42S22): Unknown column 's.cc' in 'group statement'.

I think the error message in tidb is far less clear than that in mysql, especially when the user's table structure is very complicated.

[2021-05-14 08:07] #24645 closed

[2021-05-14 09:35] zhangjinpeng1987 commented on #24636
@bb7133 Is it easy to fix?

[2021-05-14 09:35] bb7133 commented on #24636
Looks that 1 projection is missing:

v5.0:
[code]

v4.0:
[code]

[2021-05-14 09:36] bb7133 commented on #24636
@zhangjinpeng1987 , @mjonss is working on it, not so difficult.

[2021-05-14 10:00] time-and-fate opened #24667 ""order by + num " can use a column not in select fields"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

current master (ea7f0ca)

[2021-05-14 10:00] time-and-fate commented on #24667
/assign time-and-fate

[2021-05-14 10:05] time-and-fate commented on #24667
/sig planner

[2021-05-14 10:07] time-and-fate commented on #24667
/remove-sig infra

[2021-05-14 10:07] time-and-fate commented on #24667
remove-sig sql-infra

[2021-05-14 10:08] time-and-fate commented on #24667
/remove-sig sql-infra

[2021-05-14 10:45] ngaut opened #24672 "Make golangci-lint happy."
tidb git:(031a9fa18) ✗ ~/projects/bin/golangci-lint run -E prealloc --timeout 100s

[code]

[2021-05-14 11:09] #24571 closed

[2021-05-14 11:51] KinglittleQ commented on #24309
Dear TiDB maintainers,

Could I take responsibility for this issue? I'd like to fix this bug. Furthermore, it would be great if anyone could give me some suggestions, such as which file should I look into.

Thanks.

[2021-05-14 14:46] bb7133 commented on #24626
Exactly, I'm closing this issue @vivid392845427 @aytrack

[2021-05-14 14:46] #24626 closed

[2021-05-14 14:47] bb7133 commented on #24581
I would rather treat it as a enhancement or feature request.

[2021-05-14 15:00] dveeden commented on #24627
When testing this try all 3 values for [innodb_autoinc_lock_mode](https://dev.mysql.com/doc/refman/8.0/en/innodb-parameters.html#sysvar_innodb_autoinc_lock_mode) on MySQL. Maybe also try other storage engines (`MyISAM`, `MEMORY`, ...)

[2021-05-14 17:20] morgo opened #24676 "columns that match group by expr should not trigger only-full-group-by-error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

If a column in the FROM list matches the GROUP BY expression exactly, and all functions specified are deterministic, then there is no violation of only-full-group-by. Here is the result from MySQL 8.0.24:

[code]

### 3

[2021-05-14 17:33] morgo commented on #24676
Here is another example of the same problem, except the group by expression is two columns. Both columns appear in the SELECT list, and should be considered legal:

[code]

This statement products an error in TiDB, but is valid in MySQL.

[2021-05-15 00:10] morgo commented on #23914
I've looked into this, and the behavior is a little weird..

* If there is a last_insert_id available for the session, it will return it (it's for the session, not the value being updated for this statement).
* If there is no last_insert_id, such as with a new session, it appears to return the auto_increment value of the row being updated. But it never updates the value which is used by the functi

[2021-05-15 01:00] morgo commented on #10807
I am going to close this issue as stale, but please feel free to re-open it (or ask again on asktug.com) if you have additional questions. Thank you!

[2021-05-15 01:00] #10807 closed

[2021-05-15 05:27] SilvaXiang commented on #24627
I'm sorry I didn't quite understand your meaning, but isn't it a mistake?

[2021-05-15 12:16] kimmy-github opened #24678 "TIDB5.0.0 can't execute ddl by drainer send"
Here is my issue:
I have a TIDB2.1.15 CLUSER,NOW I'd like to migrate to TIDB5.0.5,and I use tidb binlog to migrate data;After I set up pump and drainer and they all begin to work,I found there is no data from TIDB2.1.15 to TIDB5.0.0;

this is the drainer's log:
2021/05/14 12:12:55 syncer.go:516: [info] [ddl][start]use test_keystat; create table test2(name varchar(11));[commit ts]424883679751569418

[2021-05-15 12:17] kimmy-github commented on #24678
the dest TiDB cluster is TIDB5.0.0,not 5.0.5

[2021-05-15 14:15] ichn-hu commented on #24252
@liaohongxing I can't reproduce it with `tiup playground` would you like to provide more details on how to reproduce?

[2021-05-15 14:20] liaohongxing commented on #24252
@ichn-hu This is my production cluster and I haven't used tiup playground

[2021-05-15 14:24] liaohongxing commented on #24252
@ichn-hu
Cluster topology
[code]

[2021-05-15 14:55] ichn-hu commented on #24252
@liaohongxing is your tiflash nodes still functioning?

[2021-05-15 15:06] blacktear23 commented on #24449
Seems planner missing a Projection between HashAgg_18 and TableReader_19

[2021-05-15 15:11] liaohongxing commented on #24252
@ichn-hu tiflash is normal

![捕获](https://user-images.githubusercontent.com/35255844/118366468-eda97f00-b5d2-11eb-8ba5-86e6b27cc189.JPG)

[2021-05-15 15:18] liaohongxing commented on #24252
@ichn-hu
Step1

[code]

Step2

[code]

![捕获](https://user-images.githubusercontent.com/35255844/118368078-d9b24d00-b5d3-11eb-94d8-cc2448925ae1.JPG)

[2021-05-15 15:32] ichn-hu commented on #24252
seems this is from tiup, would you like to share your cluster.yml file?

[2021-05-16 11:22] zhangjinpeng1987 commented on #24545
What is the "unexpected results"?

[2021-05-16 12:42] chenquan commented on #24567
/pickup

[2021-05-17 02:25] lucklove commented on #24510
<img width="546" alt="屏幕快照 2021-05-17 上午10 24 47" src="https://user-images.githubusercontent.com/8718109/118424623-22642600-b6fa-11eb-8a80-8b0dc0bbe459.png">

This problem still exists this week.

[2021-05-17 03:25] #18378 closed

[2021-05-17 03:51] #24631 closed

[2021-05-17 05:56] disksing opened #24679 "TestAnalyzeGlobalStatsWithOpts2 test failed"
## Bug Report

[CI failure](https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/2874/pipeline):

[code]

[2021-05-17 06:15] #24302 closed

[2021-05-17 06:35] #24569 closed

[2021-05-17 06:46] youjiali1995 commented on #24640
BTW, it's confusing that there is not only one `sessionPool` struct and `sessionPool` interface. All of them should roll back the session before putting it back to the pool. More ridiculous, the `sessionPool` in `domain` package is private but it's exported by a exported function and implements other package's private interface!(`sessionPool` interface in session package)

[2021-05-17 06:46] LENSHOOD commented on #3644
Let me do this?

The issue could be easy to fix since modify column feature almost finished.

We can just forbid alter binary to binary when `tidb_enable_change_column_type = 0` and do the column change when `tidb_enable_change_column_type = 1`.

[2021-05-17 06:53] sylzd commented on #24473
It's already fixed!

[2021-05-17 07:18] sylzd commented on #24473
/assign

[2021-05-17 09:18] mjonss commented on #24636
I can reproduce the `ERROR 1105 (HY000): Internal error: UnionExec chunk column count mismatch, req: 3, result: 4` error. The plan was changed in https://github.com/pingcap/tidb/pull/20288 and I have not yet managed to understand the cause, some pointers would be appreciated.
Also is the issue that the projection is missing when introducing the Limit in pull/20288? Or that the Limit is not doing t

[2021-05-17 11:20] yuqi1129 opened #24690 "Optimize warning information when query table information_schema.cluster_config"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Set up a cluster with at least one tiflash server

### 2. What did you expect to see? (Required)
[code]
Mon May 17 19:16:17 2021

### 3. What did you see instead (Required)

node `tiflash` is a tiflash node, maybe the initial meanings was 'Can't get config from tiflash node

[2021-05-17 11:53] qw4990 commented on #24636
After going through this issue and some related code, I found it's a little complex...
How about disabling inline-projection on Limit for partition tables as a quick fix of this issue? @mjonss @bb7133

[2021-05-17 12:00] mjonss commented on #24636
@qw4990 I'm OK with reverting https://github.com/pingcap/tidb/pull/20288 as a quick fix. Or do you mean something else by 'disabling inline-projection on Limit for partition tables'? I.e. should I add a condition to not do it for partitioned tables only? I would guess that it would be possible to create a test case using UNION instead of partitioning and hit this issue as well.

[2021-05-17 12:17] yuqi1129 opened #24693 "infoschema: version of tiflash is inconsistent with other component in table information_schema.cluster_info"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Set up a cluster with tiflash and execute query
[code]

### 2. What did you expect to see? (Required)

![image](https://user-images.githubusercontent.com/15794564/118486985-d4c4d900-b74c-11eb-920d-4fa5eaf667af.png)

### 3. What did you see instead (Required)

version of tif

[2021-05-17 12:35] kaixu120811 opened #24695 "Add new telemetry statistic data within sprint3"
## Feature Request

Add statistic about SQL execution, transaction conflict, server load and cluster index.

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-05-17 12:39] kaixu120811 commented on #24695
I will finish it by myself.

[2021-05-17 12:53] qw4990 commented on #24636
OK, got it. Then it seems disabling it is not a good idea, but reverting #20288 seems also complex since there are quite a few changes after it.

[2021-05-17 13:49] #24560 closed

[2021-05-17 13:54] bb7133 commented on #24695
Could we add the ['new collation'](https://docs.pingcap.com/tidb/stable/character-set-and-collation/#new-framework-for-collations) as well? It is added since v4.0.

[2021-05-17 13:55] bb7133 commented on #24678
Hi @kimmy-github , thanks for reporting it, we'll try to reproduce it.

[2021-05-17 14:13] #24326 closed

[2021-05-17 14:41] bb7133 opened #24698 "*: refine the logs of TiDB"
## The annoyance

The logs of TiDB are verbose and annoying, in my mind, it is partially due to the fact that: (1) we don't want to lose any detail, even when it is hardly useful. (2) we didn't pay much attention to them.

Give a possible example, a simple `ERROR 1046 (3D000): No database selected` error like
[code]
Make 2 long annoying entries in TiDB log:
[code]
It is annoying for at least 2 rea

[2021-05-17 14:56] tisonkun commented on #24169
@djshow832 we can possibly use format

- grammar change for the global temporary table https://github.com/pingcap/parser/pull/1211

instead of

- [grammar change for the global temporary table](https://github.com/pingcap/parser/pull/1211)

and thus we get more info while keep link click magic.

[2021-05-17 14:58] zz-jason commented on #24698
LGTM. Maybe we need to enumerate the possible error to check whether there are redundant logs. A question is, how to add tests to ensure the logs are not adding back in the future?

[2021-05-17 18:11] morgo opened #24700 "background jobs should be observable"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently the TiDB server has a number of background jobs which are not visible in SHOW PROCESSLIST, and the success of, or resources used are non-observable. The schedule of these tasks is also not visible (except for GC).

For example:
- Privilege cache loop
- sysvar cache loop (new)
- bindinfo loop
- evolvep

[2021-05-17 19:45] morgo commented on #24698
@bb7133 can we categorize the ones that are purely "client errors" as not server loggable? i.e. the examples no database selected and syntax error fit clearly in this category to me.

The [client error information schema tables](https://docs.pingcap.com/tidb/stable/client-errors-summary-global#client_errors_summary_global) are a better fit.

[2021-05-18 01:06] kolbe opened #24702 "information_schema.tables.auto_increment shows 1 instead of correct value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The output show should the expected next value of the auto_increment value. It's possible that this will not be the next value in the sequence, due to the ranges of values that are allocated to individual instances of t

[2021-05-18 02:29] tisonkun commented on #24326
@morgo do you refer to `all` by "all versions before and include 5.0.1?

[2021-05-18 02:33] morgo commented on #24326
Yes.

[2021-05-18 02:35] seiya-annie commented on #24552
/info

[2021-05-18 02:37] seiya-annie commented on #24552
/info

[2021-05-18 02:40] seiya-annie commented on #24552
/info

[2021-05-18 03:31] seiya-annie commented on #24272
/label sig/aaa

[2021-05-18 03:32] seiya-annie commented on #24272
/label severity/minor

[2021-05-18 03:33] seiya-annie commented on #23934
/label severity/minor

[2021-05-18 03:55] vivid392845427 opened #24705 "subquery with any，the connection field uses a different character set，occur runtime error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t1  (c_int int, c_str varchar(40) character set utf8 collate utf8_general_ci);
create table t2  (c_int int, c_str varchar(40) character set utf8 collate utf8_unicode_ci);
select * from t1 where c_str < any (select c_str from t2 where c_int between 6 and 9);

##

[2021-05-18 03:57] kaixu120811 commented on #24695
Let's check it first, thanks.

[2021-05-18 03:59] vivid392845427 opened #24706 "open new collation + index join + not null column，occur error: index out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
set  new_collations_enabled_on_first_bootstrap: true

[code]
### 2. What did you expect to see? (Required)

select return successful

### 3. What did you see instead (Required)

select return fail

mysql> select * from t1 partition (p3), t2 partition (p3) where t1.c_int = t2

[2021-05-18 04:01] kaixu120811 opened #24707 "Add comments to explain why here's no preview telemetry data when telemetry is disabled."
## Feature Request

If telemetry is disabled by configuration file or sys config, here is no preview telemetry data when a preview command is input .

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-05-18 05:34] kimmy-github commented on #24678
how to reproduce it,should i provide information details?thank you

[2021-05-18 05:53] guo-shaoge commented on #24415
The pushdown of json_unquote will be enabled after this [PR](https://github.com/tikv/tikv/pull/10177) is merged.

[2021-05-18 05:56] wjhuang2016 opened #24709 "dml_batch_size doesn't load the global variable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

set global dml_batch_size= 1000

And it doesn't work.

### 2. What did you expect to see? (Required)

dml_batch_size take effect.
### 3. What did you see instead (Required)
No effect.
### 4. What is your TiDB version? (Required)
master

[2021-05-18 06:19] kolbe commented on #24415
@guo-shaoge can we demonstrate that this passes any set of tests to verify correctness? Are there any MySQL or MariaDB tests we can adopt?

[2021-05-18 06:38] youjiali1995 opened #24712 "TestSecurityEnhancedModeRestrictedTables failed"
## Bug Report
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/2965/pipeline
[code]

[2021-05-18 06:56] morgo commented on #24712
Thanks, I will take a look tomorrow. This would have been a new issue introduced in the last day, since `LoadSysVarCacheLoop` was just merged.

[2021-05-18 07:10] wshwsh12 commented on #24473
It seems enum shouldn't use index to participate merge_join/inl_merge_join, because enum index is order by values, not name.
In this case, 'y' have the bigest ascii and the smallest value `1`, it leads the result wrong.
For example,  if I change the elements in enum struct, using alphabetical order, the result will be different.  @winoros  PTAL
[code]

[2021-05-18 07:11] guo-shaoge commented on #24415
We have some tests for json_unquote in [copr-test](https://github.com/tikv/copr-test) and I verified that these cases are passed.

But the test coverage is very small(just 50 SQL). So maybe we should only enable the pushdown on master branch. And make more tests on json_XXX before next release.

[2021-05-18 07:26] dveeden commented on #24627
You are comparing MySQL behavior to TiDB behavior. The behavior of MySQL is dependent on the `innodb_autoinc_lock_mode`, so that could influence the comparison.

However I don't think this will make any real difference in this case.

[2021-05-18 07:27] vivid392845427 opened #24716 "query use prefix index and hint IndexHashJoin，occur error: index out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE `t1` (
  `c_int` int(11) DEFAULT NULL,
  `c_str` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`c_str`(7)) /*T![clustered_index] NONCLUSTERED */
);

CREATE TABLE `t2` (
  `c_int` int(11) NOT NULL,
  `c_str` varchar(40) NOT NULL,
  PRIMARY KEY

[2021-05-18 07:31] vivid392845427 opened #24717 "query use prefix index and hint INL_JOIN，occur error: index out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE `t1` (   `c_int` int(11),`c_str` varchar(40), KEY `c_str` (`c_str`(8)) );
CREATE TABLE `t2` (   `c_int` int(11),`c_str` varchar(40), KEY `c_str` (`c_str`(8)) );
insert into t1 values(1,'optimistic villani');
insert into t2 values(1,'fervent dubinsky');
select /

[2021-05-18 07:55] ngaut commented on #24672
There are still typecheck warnings.

[code]

[2021-05-18 07:55] #24561 closed

[2021-05-18 08:22] qw4990 commented on #24636
![image](https://user-images.githubusercontent.com/7499936/118613336-3cccfb00-b7f1-11eb-94aa-4c5e682a1871.png)

It seems a complex issue about the optimizer...
As shown above, I print the number and names of returned columns of each node in the plan in some places of the optimizer.

After `column_pruning` (which is one step of logical optimization) the top Projection is inlined into the 2 Limit si

[2021-05-18 08:25] Rick-lee01 opened #34203 "tidb-lightning-ctl --fetch-mode return rpc error: code = Unimplemented desc ="
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
When using `tidb-lightning-ctl --fetch-mode` , tikv nodes are normal ,but tiflash nodes will return these erros:
[code]

2. What did you expect to see?
'Normal mode'

3. What did you see instead?
'Error: rpc error: code = Unimplemented desc ='

4. What version of TiDB-lightning and TiDB are you using?
TiDB-lig

[2021-05-18 08:42] tisonkun commented on #24672
@ngaut here is our ci script enabling linters

[code]

I think it is the checked file list to be blamed. @zimulala @disksing @nolouch do you have any ideas?

[2021-05-18 08:42] tisonkun commented on #24672
From what I can say we just filter our all files under `cmd` in `grep -vE "cmd|github.com\/pingcap\/tidb\/tests"`

[2021-05-18 08:43] lonng opened #24719 "a lot of lint warnings reported while enable `prealloc` option of golangci-lint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Enable the `prealloc` option of golangci-lint via `-E prealloc`.

### 1. Minimal reproduce step (Required)

[code]

[2021-05-18 08:59] disksing commented on #22513
Looks it is intentional. I think for tests we can lower the standard. As for cmd, I'm not so sure.

[2021-05-18 08:59] disksing commented on #24672
Looks it is intentional. I think tests can lower the standard. As for cmd, not so sure.

[2021-05-18 09:06] winoros opened #24721 "Add new agg function like `SKEW` or `SKEWNESS` to show the skewness of the expression/column."
## Feature Request

**Is your feature request related to a problem? Please describe:**

A aggregate function to show the skewness of the data. To better know the distribution.

**Describe alternatives you've considered:**

[Snowflake](https://docs.snowflake.com/en/sql-reference/functions/skew.html), [SAS](https://documentation.sas.com/docsets/casfedsql/3.1/content/p04x27b92gon3gn10e5y5ybxbvmi.htm)

[2021-05-18 09:17] mjonss commented on #24205
This does not require partitioning:
[code]
gives:
[code]
[code]

[2021-05-18 09:51] eurekaka opened #24722 "potential lock leak when using `admin reload stats_extended`"
## Development Task

[code]
If line 1535 returns error, lock would not be released.

Note that, this would only be triggered when using extended stats, which is not enabled by default now.

[2021-05-18 10:38] wshwsh12 opened #24725 "Incompatible with MySQL when using control functions with bit type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
drop table b;
create table b(b bit(8));
insert into b values(97);
select if(1,b,'1') ='a' from b;
select if(1,b,'1') = 97 from b;

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Requi

[2021-05-18 12:43] jianzhiyao commented on #9988
reference: https://dev.mysql.com/doc/refman/8.0/en/json-attribute-functions.html#function_json-type

[2021-05-18 13:12] youjiali1995 opened #24727 "Optimize retry logic for region requests"
## Development Task

There are some unreasonable places of the current retry logic. we should optimize it:
- [ ] Remove the backoff sleep limit and find a better solution that can distinguish real errors to break the retry loop. It's unreasonable there is a backoff limit like https://github.com/pingcap/tidb/issues/24644 says and CockroachDB doesn't have this limit for dist requests and it [reties

[2021-05-18 13:26] CadmusJiang commented on #22198
Get go1.16 image:  `docker pull hub.pingcap.net/pingcap/centos7_golang-1.16:latest`

[2021-05-18 14:52] sylzd commented on #24473
Maybe enum type cannot be merge join (yes, not only inl_merge_join,  merge_join can reproduce the same problem.)

[2021-05-18 14:54] sylzd commented on #24473
I agree, unless compareFunc can be added a enum type.

[2021-05-18 15:16] bb7133 opened #24728 "Incompatible behavior with MySQL: row size too large."
## Bug Report

### 1. Minimal reproduce step (Required)

CREATE TABLE t(a varchar(21845)) character set utf8 collate utf8_bin;

### 2. What did you expect to see? (Required)
MySQL:

[code]

### 3. What did you see instead (Required)
TiDB:

[code]

### 4. What is your TiDB version? (Required)
It can be reproduced in all TiDB versions.

[2021-05-18 15:23] bb7133 commented on #24728
Be aware that fixing it would be a potential compatibility breaker for old TiDB users.

Compared with a configuration(adding a configuration like 'index-limit'(#21192)), a TiDB-specific system variable like `tidb_row_size_limit` may be a better choice, since we don't have to restart the tidb-server to make the change work. cc @morgo @SunRunAway

[2021-05-18 16:18] kolbe opened #24729 "expose transaction ID via special/hidden column"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It would be nice if it were possible to know the transaction id of individual rows in a table or resultset.

**Describe the feature you'd like:**

We have the `_tidb_rowid` special/hidden column to expose the internal TiDB row id for a row. We should add another special/hidden column to expose the transaction i

[2021-05-18 16:25] #24709 closed

[2021-05-18 16:56] kolbe commented on #24729
It would be nice to be able to use this feature in a WHERE clause to get rows updated only before/after a particular timestamp, or all rows from a table that were updated as part of a specific transaction.

It would also be great to be able to use this in an ORDER BY clause to find the most-recently and least-recently updated rows in a table.

[2021-05-18 17:26] tisonkun commented on #24150
Thanks! I'll try to take a look when I stage my current works.

FYI when I refer to this project in our developer discussion forum(https://internals.tidb.io/t/topic/97/2), I said

Please confirm whether it is precise and I'll appreciate it if you can reply on the forum topic.

[2021-05-18 22:55] morgo commented on #24728
I think you are right, it's hard to know who is affected. It would be nice to group some of these settings under a unified flag though, since every time a new incompatibility is introduced a new flag is required.

The other option is to be more consistent about introducing flags to support the upgrade case, with a known plan for when they will be deprecated.

[2021-05-18 23:51] #23114 closed

[2021-05-19 02:31] BusyJay opened #24734 "Too many slow logs when loading data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tiup bench tpcc -H tidb_host -P tidb_port -D tpcc --warehouses 84000 -T 32 prepare

### 2. What did you expect to see? (Required)

The command can run successfully.

### 3. What did you see instead (Required)

The command stuck at some point and disk is full. There are too

[2021-05-19 02:32] XuHuaiyu opened #24735 "data race"
[code]

[2021-05-19 05:26] Yisaer commented on #21094
assign `Supports SET TRANSACTION READ ONLY AS OF `

[2021-05-19 06:11] AilinKid commented on #22046
ALTER privilege is already implemented in replica setting
[code]
I think what we need is to ban the behavior for all users
[code]

[2021-05-19 06:26] cfzjywxk opened #24741 "executor: the cached prepared plan is used incorrectly for point get"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

prepare stmt1 using a point get plan
execute some autocommit point get with the prepared stmt1, now the prepared point get plan is cached
start transation
execute the same point get with prepared stmt1

### 2. What did you expect to see? (Required)
The result is returned.

[2021-05-19 06:53] AilinKid opened #24742 "parser: something wrong with scanner with the `stats_extended` table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
show the result

### 3. What did you see instead (Required)
parser error

### 4. What is your TiDB version? (Required)

master

[2021-05-19 07:04] qw4990 opened #24743 "planner: the planner generates bad plans when converting aggregations with HAVING to joins"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The first query shouldn't use a CARTESIAN join.

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2021-05-19 07:26] vivid392845427 opened #24746 "Specify non-matching partition insert record fail expectly，but successful"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t(a int, b varchar(40), c int, primary key(b(8),a)) partition by range(a)(partition p0 values less than (5),partition p1 values less than (10), partition p2 values less than maxvalue);
insert into t partition (p0) values(4,'test',4) on duplicate key update a= a

[2021-05-19 08:31] qw4990 opened #24751 "planner: the planner generates a wrong TableDual and returns wrong results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-19 08:37] #24751 closed

[2021-05-19 08:50] tiancaiamao opened #24752 "SHOW CREATE TABLE result wrong for the global temporary table"
## Development Task

[code]

The `GLOBAL TEMPORARY ... ON COMMIT DELETE ROWS` are missing.

Note: we have to take the replication to downstream TiDB into consideration.

[2021-05-19 09:01] b41sh commented on #24496
@xiongjiwei  the parser has updated, we can close this issue.

[2021-05-19 09:20] aytrack commented on #24610
I think It is OK to be consistent with mysql doc behavior

[2021-05-19 09:31] dbsid opened #24754 "tidb runtime error with max funtion"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

runs fine

[code]

with max function time error:

[code]
![image](https://user-images.githubusercontent.com/2316425/118789844-c3eca280-b8c7-11eb-8838-219c916fd20b.png)

### 1. Minimal reproduce step (Required)

reproduced internal database

### 2. What did you expect to see? (Required)
no runtime error

### 3. What

[2021-05-19 09:42] dbsid opened #24756 "Lift the parser limitation on windows function keyword"
## Bug Report

With window function enabled, below query from Jira failed as the LEAD column is the same as the windows function name LEAD(). On the production db, the database is forced to disable window function, other application can not use window function by default, need to lift the parser limitation on the window function. no such issue for builtin functions.
[code]
Please answer these ques

[2021-05-19 10:43] disksing opened #24759 "session: DATA RACE detected in test"
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/3168/pipeline

<details>

[2021-05-19T10:23:06.516Z] WARNING: DATA RACE
[2021-05-19T10:23:06.516Z] Write at 0x00c0001c4570 by goroutine 318:
[2021-05-19T10:23:06.516Z]   runtime.mapassign_fast64()
[2021-05-19T10:23:06.516Z]       /usr/local/go/src/runtime/map_fast64.go:92 +0x0
[2021-05-19T10:23:06.516Z

[2021-05-19 10:55] zhuo-zhi opened #24760 "cannot set 'KeepOrder = true' when reading partition table under dynamic pruning mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

Don't use sort, and set 'KeepOrder = true' in the indexFullScan

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master branch

[2021-05-19 10:56] zhuo-zhi commented on #24760
/type enhancement

[2021-05-19 10:56] zhuo-zhi commented on #24760
/remove-type bug

[2021-05-19 11:00] disksing opened #24761 "TestMemoryUsageAlarmVariable failed"
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/5154/pipeline

<details>

[2021-05-19T10:41:14.853Z] FAIL: session_test.go:3812: testSessionSuite2.TestMemoryUsageAlarmVariable
[2021-05-19T10:41:14.853Z]
[2021-05-19T10:41:14.853Z] session_test.go:3816:
[2021-05-19T10:41:14.853Z]     tk.MustQuery("select @@session.tidb_memory_usage_alarm_ratio").Check(tes

[2021-05-19 11:01] #24496 closed

[2021-05-19 11:15] #24378 closed

[2021-05-19 11:39] ChenPeng2013 commented on #24756
MySQL 8.0.21
[code]

[2021-05-19 11:53] mjonss commented on #24746
Issue is that the `insert into t partition (p1) values(4,'test',4) on duplicate key update a= a +1;` should either check the original value `(4,'test',4)` or disallow reading from any other partition than p1. Investigating further.

[2021-05-19 14:03] Win-Man opened #24768 "runtime error: index out of range [0] with length 0 return in GORM tests"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run GORM tests

[code]

tidb.log

[code]

### 2. What did you expect to see? (Required)

TiDB execute sql sucessfully.

### 3. What did you see instead (Required)

TiDB paniced.

### 4. What is your TiDB version? (Required)
v5.0.1

[2021-05-19 15:11] bb7133 opened #24771 "Syntax error is reported when querying a view that contains subquery."
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The query runs succesfully.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
v5.0.1

[2021-05-19 15:16] bb7133 commented on #24771
`show create view v_st_2;` gives:
[code]
The result is different with MySQL 5.7 & MySQL 8, both versions gives:
[code]
But their semantics are the same, and if we pick the 'rewritten query part'(`SELECT ...` of the view definition), the result of TiDB can be run by MySQL 5.7/8, while the result of MySQL 5.7/8 cannot be run by TiDB.

[2021-05-19 15:55] #24712 closed

[2021-05-19 15:55] #24735 closed

[2021-05-19 16:09] #23648 closed

[2021-05-19 19:05] #24562 closed

[2021-05-19 19:17] #24530 closed

[2021-05-19 23:25] kolbe opened #34206 "tidb-lightning fails if column name in header doesn't match column name in the table schema"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

I've included `header = true` in the config, and [the documentation](https://docs.pingcap.com/tidb/stable/tidb-lightning-configuration) tells me this means "the first line will be skipped".

3. What did you see in

[2021-05-19 23:41] kolbe opened #34209 "tidb-lightning doesn't report warnings issued by statements sent to tidb backend"

[2021-05-20 02:27] XuHuaiyu opened #24774 "unstable test case TestTiDBLastTxnInfoCommitMode"
[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/3315/pipeline/103

[2021-05-20 02:35] zimulala commented on #24459
| branch |  go test ddl package with race( exec `go test -v -vet=off -p 5 -timeout 20m -race` **locally**)   |  CI (Race Test Chunk #7 ddl-other) |
----------------------------------------------------------- |----------- |----------- |
 |   before this PR(#24704)  |  566s | 6m 13s  |
 |   after this PR(#24704) |    505s | 6m33s |

[2021-05-20 03:05] qw4990 commented on #14777
+1
https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/3320/nodes/121/steps/418/log/?start=0

[2021-05-20 03:24] #24610 closed

[2021-05-20 04:16] sylzd commented on #24705
/assign

[2021-05-20 06:42] zimulala commented on #24459
After CI using PingCAP-QE/ci#190.

| branch |   CI (Race Test Chunk `#7` ddl-other) **in local**
----------------------------------------------------------- |----------- |
 |   before this PR(#24704)  |   375s  |
 |   after this PR |  267s  |

[2021-05-20 06:49] zimulala commented on #14777
The situation here should not be the same as this issue, where the error message is:
[code]

[2021-05-20 07:02] amirvaza opened #24783 "Regions distribution across TiFlashes"
Hello everyone, after few days of not finding the solution, I'd love some help.

I have a cluster of 2 TiKV and 2 TiFlashes, altering the table to replicate into TiFlash once, expecting half of the data will be on each TiFlash.

Using `tiup playground --tiflash 2 --kv 2` everything works perfect, I actually see half in each.

Using `tiup cluster`, the data stays on one host only.

I've went throug

[2021-05-20 07:40] qw4990 opened #24786 "an unstable test in package `telemetry`"
## Development Task
[code]

[2021-05-20 07:56] zimulala opened #24787 "`TestDropLastVisibleColumn` and `TestDropLastVisibleColumns` don't stable"
## Bug Report
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/3352/pipeline/112

[code]

[2021-05-20 08:00] tiancaiamao opened #24788 "SHOW CREATE TABLE nil pointer dereference for temporary table"
## Development Task

[code]

On the master branch

[code]

[2021-05-20 08:04] guo-shaoge opened #24789 "CI acceleration of executor package"
The current CI time under the executor package is 5 minutes, and the goal is optimized to within 3 minutes.

Below is a list of approximate execution times.
**Our strategy** is to divide the case into multiple suites as much as possible for parallel execution.

    testSuite1, 1m44.441s, analyze_test.go:167:
        |TestAnalyzeParameters              |19.001s|
        |TestClusterIndexAnalyze

[2021-05-20 08:23] zimulala opened #24794 "`testSysVarSuite.TestInstanceScopedVars` failed"
## Bug Report

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/5468/pipeline

[code]

[2021-05-20 08:34] MyonKeminta opened #24795 "Transaction MemDB size potential overflow"
## Bug Report

Currently, the `MemDB` in transaction uses `int` type to record it's `Len` (count of keys) and `Size` (count of bytes)

https://github.com/pingcap/tidb/blob/542da5d60bb6d7e63e694e908d11f8bde3bce920/store/tikv/unionstore/memdb.go#L62-L63

It seems that if a transaction is too large (over 2GB), the `size` field may overflow. And though it's not very likely to happen, the `len` field m

[2021-05-20 09:01] lysu opened #24796 "Binlog/CDC build nonclustered table when create clustered table with session var in upstream"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. setup two cluster a and b, and replica a to b by binlog or cdc
2. set tidb_enable_clustered_index=1, create a clustered table without clustered keyword in upstream cluster a
3. show create table in cluster b

### 2. What did you expect to see? (Required)

new table in cl

[2021-05-20 09:15] zimulala commented on #24786
The reason for this is that the Go version in CI has been upgraded from 1.13 to 1.16.

[2021-05-20 09:35] buggithubs opened #24800 "Statistics by SQL traffic"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

TiDB nodes are experiencing a lot of network traffic and cannot tell where that traffic is coming from. For example: the update Join statement, which only requires network interaction between tidb / tikv.
The linux iftop can only pinpoint the tidb-server process as the caus

[2021-05-20 12:24] zimulala opened #24805 "Executing `testDBSuite1.TestColumn` with race is unstable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

` go test -v -vet=off -p 5 -timeout 20m -race github.com/pingcap/tidb/ddl`

### 2. What did you expect to see? (Required)
Success

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2913-g2ca98e393

[2021-05-20 12:42] #24787 closed

[2021-05-20 13:22] #24774 closed

[2021-05-20 14:44] #24252 closed

[2021-05-20 16:25] hanlins commented on #24795
Hi @MyonKeminta, do you have seen related bugs, or can you reproduce this issue in a large transaction? I think the size of `int` is dependant on the system. If the system is on a 32-bit platform (e.g. x86) then it will be 4 bytes in size, if on a 64-bit platform (e.g. x86-64) then it will be 8 bytes in size. Check [this](https://play.golang.org/p/hm10U-lHzqh) out.

Generally, I think it won't be

[2021-05-20 17:02] winoros commented on #24323
This is a very rare corner case, so move the severity down.

[2021-05-20 17:03] winoros commented on #24452
Re-confirmed, this one only occurs in cascades. Move the severity down to moderate.

[2021-05-20 17:04] winoros commented on #22404
https://github.com/pingcap/tidb/pull/22624 4.0's PR merged.

[2021-05-20 17:04] #22404 closed

[2021-05-21 02:16] #24648 closed

[2021-05-21 02:52] morgo commented on #24794
I'm going to disable this. It is a fairly new test, and we can live without it.

[2021-05-21 03:16] djshow832 commented on #24742
Duplicate with https://github.com/pingcap/tidb/issues/23396

[2021-05-21 03:16] #24742 closed

[2021-05-21 03:19] guo-shaoge opened #24808 "Add CTEExec and CTETableReaderExec"
## Development Task
CTEExec and CTETableReaderExec is responsible for the execution of CTE.

[2021-05-21 03:43] YinWeiling opened #24811 "About the generative mechanism of TrackingID"
## General Question
Thank for the great work. I have some questions to ask.
What's the generative mechanism of TrackingID? Under what circumstances (eg. restart, change of IP address, scale in & out, etc. ) will it change?

[2021-05-21 03:58] zimulala opened #24812 "`TestStalenessTransactionSchemaVer` is failed"
## Bug Report

[code]

[2021-05-21 04:00] zimulala commented on #24812
PTAL @JmPotato @xhebox

[2021-05-21 04:19] MyonKeminta commented on #24795
@hanlins Ah, yes, you are right, it's actually safe. Being the one that usually use int64 explicitly in this case, I just feel the code  suspicious. Thanks for replying.

[2021-05-21 04:20] #24795 closed

[2021-05-21 04:34] xhebox commented on #24812
/assign

[2021-05-21 04:58] #24786 closed

[2021-05-21 05:59] zimulala opened #24817 "`testSuite6.TestSetDDLReorgWorkerCnt` is unstable"
## Bug Report

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/3507/pipeline

[code]

[2021-05-21 06:32] yuqi1129 opened #24819 "runtime: return invalid memory address or nil pointer dereference when execute count(*)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. use the latest release version of tidb
2. execute count(*)  on one table `select count(*) from user_goods`

the actual count is 156642459 and it's ok to execute that sql on v4.0.12
### 2. What did you expect to see? (Required)
execute count(*) returns OK
### 3. What did

[2021-05-21 06:38] lysu commented on #24706
it can simplify as

[code]

[2021-05-21 06:44] ichn-hu commented on #24819
stack unrolled

[code]

[2021-05-21 06:46] ichn-hu commented on #24819
@yuqi1129 this issue should be a known bug that has already been fixed in https://github.com/pingcap/tidb/pull/24231

[2021-05-21 07:01] yuqi1129 commented on #24819
@ichn-hu , Hi, if i only use `tikv` to execute that query, It's OK, the real problem lies in `tiflash` i think, if there any fix about this problem in tiflash ?

[2021-05-21 07:20] ichn-hu commented on #24819
this panic is indeed caused by tiflash unexpected closed, @leiysky PTAL

[2021-05-21 07:34] fzhedu opened #24822 "abs() is not right when set @@tidb_isolation_read_engines='tiflash,tidb';"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-05-21 07:35] #24822 closed

[2021-05-21 07:37] zimulala commented on #24459
After PR  #24780:
| branch |   go test ddl package with race( exec `go test -v -vet=off -p 5 -timeout 20m -race` locally)  |  CI (Race Test Chunk #7 ddl-other) |  CI (Race Test Chunk `#7` ddl-other) **in local**
----------------------------------------------------------- |----------- |----------- |----------- |
 |   before this PR(#24704)  |      505s      |       6m 22s |  379s  |
 |   after this

[2021-05-21 08:06] #24547 closed

[2021-05-21 08:06] #24716 closed

[2021-05-21 08:06] #24717 closed

[2021-05-21 08:15] tisonkun commented on #22198
possible failure case: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/5742/pipeline

[2021-05-21 09:07] xiongjiwei opened #24829 "update failed when value out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
looks like it is a MySQL's bug.

[2021-05-21 09:24] guo-shaoge commented on #24205
Fix in [copr](https://github.com/tikv/tikv/pull/10167)

     mysql> CREATE TABLE t1  (
     COL1 bigint(    ->   COL1 bigint(16) UNSIGNED NULL DEFAULT NULL
    ) ENGINE     -> ) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_bin ROW_FORMAT = Compact PARTITION BY HASH (`COL1` DIV 67)
    ARTITIONS 5
    (    -> PARTITIONS 5
    PART    -> (PARTITION `p0` MAX_ROWS = 0 MIN_ROWS = 0 ,
    R

[2021-05-21 09:24] #24205 closed

[2021-05-21 10:06] zyguan commented on #23899
https://github.com/pingcap/tidb/issues/23899#issuecomment-814934550 this one.

[2021-05-21 10:10] lzmhhh123 commented on #23899
It has been fixed by https://github.com/pingcap/tidb/pull/24568

[2021-05-21 10:10] #23899 closed

[2021-05-21 11:44] lysu commented on #24706
it does not only affect on the clustered index but also normal index with NOT NULL column also have the same problem(primary key ensure all column be not null, so it always has problem)

[code]

[2021-05-21 16:16] zimulala opened #24832 "Reduce the test execution time for server package"
## Development Task
Update: 2021-05-22 00:07 CST

Make the following tests <= 3min.

| branch | `CI (Leak Test Chunk #7)` | `CI (Race Test Chunk #4)` | `CI (Unit Test Chunk #7)` |
----------------------------------------------------------- |----------- |----------- |----------- |
 |   PR #24780  |  321.047s |   359.455s |  322.275s |

[2021-05-21 16:25] zimulala commented on #24459
The time of `CI (Race Test Chunk #7 ddl-other)` is reduced to 3min, and this issue can be closed first.

[2021-05-21 16:25] #24459 closed

[2021-05-22 08:39] AilinKid opened #24838 "executor: select statement has the difference result set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

SQL
[code]

TiDB
[code]

MySQL
[code]

### 2. What did you expect to see? (Required)
same result

### 3. What did you see instead (Required)
difference result

### 4. What is your TiDB version? (Required)

[2021-05-22 08:40] AilinKid commented on #24838
/cc @wshwsh12

[2021-05-22 08:49] tangenta commented on #24838
Could you please also put the result of `show warning`?

[2021-05-22 08:53] AilinKid opened #24839 "ddl: column type change will retry 512 time for error like `cannot convert datum from %s to type %s`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
give me a error as soon as possible

### 3. What did you see instead (Required)
retry 512 times * 2.5 duration for 1pc sleep

### 4. What is your TiDB version? (Required)

master

[2021-05-23 03:31] tisonkun commented on #24811
You can post the question on internals.tidb.io and our experts will take care of new posts for answering the question. Issues suffer from a large traffic of concrete development task and bug reports.

[2021-05-23 04:54] jyz0309 commented on #24621
I will try to fix this issue

[2021-05-24 02:33] zz-jason opened #24852 "support non-transactional table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In some HBase or Casandra use scenarios, the data stored in HBase or Cassandra is structured like a table. The most required capability for the underlying database is low latency, the transaction isolation can be sacrificed in these scenarios.

**Describe the feature you'd like:**

Support a new **`RawKV`** eng

[2021-05-24 03:19] qw4990 opened #24853 "planner: conditions cannot be pushed down through JOIN in some cases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
The condition `t1.tran_id = 1540776` can be propagated to `t0` and be pushed down through the JOIN.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

`v5.0.0`

[2021-05-24 03:30] TszKitLo40 commented on #24721
@winoros Can I try this issue?

[2021-05-24 03:54] AilinKid commented on #24838
/cc @tangenta

[2021-05-24 03:57] blacktear23 opened #24855 "Update with Sub-Query got wrong result"
## Bug Report

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

In MySQL
[code]

### 3. What did you see instead (Required)

For TiDB

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-24 05:26] nolouch commented on #18012
all P0 is done, I'm going to close this issue.

[2021-05-24 05:26] #18012 closed

[2021-05-24 05:31] #24582 closed

[2021-05-24 05:56] winoros commented on #22301
Since we mark it as a long job. Move its severity down.

[2021-05-24 06:05] #24789 closed

[2021-05-24 06:32] blacktear23 commented on #24855
But I test the SQL in PostgreSQL 10, same behavers as TiDB. Shall we follow MySQL's logic or just keep the current logic?

[2021-05-24 06:51] MyonKeminta opened #24858 "Tables of Lock View doesn't present times in correct timezone."
## Bug Report

This is a bug of [Lock View](https://github.com/pingcap/tidb/issues/24199) (the feature is currently in development and not released yet)

### 1. Minimal reproduce step (Required)

* Start some transaction, or construct some deadlock errors
* `select * from information_schema.tidb_trx` or `select * from information_schema.deadlocks`

### 2. What did you expect to see? (Required)

Fo

[2021-05-24 08:31] dbsid commented on #24754
duplicate as #23844, closing

[2021-05-24 08:31] #24754 closed

[2021-05-24 08:36] zimulala commented on #24427
`it takes 2.5s( 1pc wait duration ) * 2`

About this problem,  I think we can optimize it. We can move [delayForAsyncCommit()](https://github.com/pingcap/tidb/blob/master/ddl/reorg.go#L161) after https://github.com/pingcap/tidb/blob/master/ddl/reorg.go#L174. Then we only do 1PC wait once.

[2021-05-24 09:25] #23912 closed

[2021-05-24 09:49] #24164 closed

[2021-05-24 09:58] #20890 closed

[2021-05-24 10:27] #24812 closed

[2021-05-24 11:01] wjhuang2016 commented on #20647
I guess it's been fixed. Could you try it again? @watchpoints

[2021-05-24 11:34] wjhuang2016 commented on #24305
I think so, @AilinKid PTAL

[2021-05-24 11:47] time-and-fate commented on #24545
The statistics will likely be inaccurate or totally wrong. The new analyze method is not designed to be used together with incremental analyze.

[2021-05-24 12:29] #24676 closed

[2021-05-24 12:43] PragmaTwice opened #24865 "dml: select result is not compatible with MySQL while joining a subquery with a where clause evaluated to false"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]

### 3. What did you see instead (Required)
in TiDB:
[code]
The result is zero even type of `t1.c1` and `t2.c2` (char) is replaced with integer, so it is not due to truncated values (message in warnings)

[2021-05-24 14:13] #22046 closed

[2021-05-24 14:43] seiya-annie opened #24868 "v4.0.13 report inconsistent index handles"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
MySQL [tptest]> select txn, seq, stmt, is_query from stmt where test_id = "37b7a23b-af9e-4e8f-82d4-76699d877361";
ERROR 1105 (HY000): inconsistent index PRIMARY handle count 146 isn't equal to value count 0
MySQL [tptest]>

---------------------------------------------------

[2021-05-24 15:13] guo-shaoge opened #24869 "Support limit in CTEExec"
## Development Task
User can use `limit` to easily terminate the recursive CTE. So no need to worry infinite loop. For example:

`with recursive cte1(c1) as (select 1 union select c1 + 1 from cte1 limit 5 offset 1) select * from cte1;`

[2021-05-24 15:58] vvdvortsova opened #24871 "Issue found by Svace static analyzer(DEREF_AFTER_NULL)"
## Development Task
Hello
This warning found with the Svace.
After having been compared to nil value, pointer 'store' is dereference.
https://github.com/pingcap/tidb/blob/d5e0ed0aaed72d2f2dfe24e9deec31cb6cb5fdf0/session/tidb.go#L54
https://github.com/pingcap/tidb/blob/d5e0ed0aaed72d2f2dfe24e9deec31cb6cb5fdf0/session/tidb.go#L60

[2021-05-24 22:55] morgo commented on #24199
I played around with this feature today, and it looks really useful! I have a couple of questions/suggestions:

1. The `digest` seems to be the last statement executed; but the len+size relates to the whole transaction. Is it possible to actually "digest" a transaction, so that I could see the statements that it is composed of? If this is not planned initially, maybe it is better to rename it to `

[2021-05-25 00:59] tisonkun commented on #24182
Hi @winoros ! Is this issue the same as https://github.com/pingcap/tidb/issues/18065?

I can see you link to #18065 on the [weekly report](https://docs.google.com/document/d/1-U5s4JtP9vsaK0xgT5Exr8lNCztIcRhbNzpqMY_wgew/edit) but the working items linked to this issue.

[2021-05-25 01:32] tisonkun commented on #24808
@guo-shaoge do we have an existing PR already or can you link to your dev branch?

[2021-05-25 02:47] zoomxi commented on #24449
/assign

[2021-05-25 03:20] crazycs520 opened #24875 "Implement Top-SQL feature"
## Development Task

[ ] pass SQL, plan digest down to KV request #24854
[ ] Use pprof profile + labels to collect CPU time by SQL.
[ ] Fix pprof profile HTTP API usage.
[ ] Collect internal SQL CPU time.

[2021-05-25 03:46] MyonKeminta commented on #24199
@morgo Thanks for  your feedback!
1. Currently the `digest` field shows the last executed statement, but that's actually not an expected behavior. In our design, it should show the *current executing statement*, which is corrected along with [this PR](https://github.com/pingcap/tidb/pull/24863). I agree that the naming is kind of confusing, and I'll propose a patch to the design to rename it to `C

[2021-05-25 04:06] tangenta opened #24876 "`union all` gives incorrect result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master `d1b3e47111a34a2d3e9c`

Commit date: Tue May 25 10:37:33 2021 +0800

[2021-05-25 04:41] tisonkun commented on #22198
closed by #24527

other repository upgrade will be tracked in issues linked above.

[2021-05-25 04:41] tisonkun commented on #22198
cc @wjhuang2016

[2021-05-25 05:34] cfzjywxk commented on #24868
The distsql index fetch, the result `_tidb_row` are the same value which is unexpected.

[2021-05-25 05:42] cfzjywxk commented on #24868
The reproduce steps:

tidb config
[code]

[code]

[2021-05-25 05:46] cfzjywxk commented on #24868
Without the `new_collations_enabled_on_first_bootstrap` configurations, there is no error report for admin check.

[2021-05-25 05:55] #24548 closed

[2021-05-25 06:06] cfzjywxk commented on #24868
v4.0.12 could reproduce this issue using the configuration mentioned above.

[code]

[2021-05-25 06:16] wjhuang2016 commented on #24868
`enable-streaming = true` is also needed.

[2021-05-25 06:25] #24291 closed

[2021-05-25 06:49] eurekaka opened #24878 "analyze results unexpected in version 3 stats"
## Development Task

Disable auto-analyze in config before starting the tidb-server, then:

[code]

use HTTP API to get the stats of table t, we can see some unexpected results.

- For column `a`, the `ndv` is `518528`, which is expected to be the row count of the table `524288`, since column a is unique;

[code]

- Each item in `top_n` has count `52`, which is expected to be `1`;

[code]

- For c

[2021-05-25 06:53] eurekaka commented on #24878
I believe we can optimize 1 and 2 by utilizing the unique constraint of column `a`. 3 may not be a problem, since the analyze results are built according to samples, and `ndv` is not an accurate truth that we can trust. 4 seems like to be a bug. @winoros how do you think?

[2021-05-25 07:10] HunDunDM opened #24879 "The STATUS field data in the TIKV_REGION_PEERS table is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

* Randomly choose a Region containing down-peer (shutdown a TiKV in the cluster and wait for a while)
* `pd-ctl region ${region_id}`
* `SELECT * FROM INFORMATION_SCHEMA.TIKV_REGION_PEERS WHERE REGION_ID=${region_id};`

### 2. What did you expect to see? (Required)

* Their

[2021-05-25 07:32] aytrack opened #24880 "create partition table error while using `'NO_UNSIGNED_SUBTRACTION` sql mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
create table successfully
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master: 8c25a0074a62e6ebffe50ac765b269
v4.0.12
v5.0.1

[2021-05-25 07:43] wjhuang2016 commented on #24868
It has been fixed in master and 5.0 by https://github.com/pingcap/tidb/pull/20220

[2021-05-25 07:49] guo-shaoge commented on #24627
Looks like is realated to `auto_increament`. I am not sure if this behavior is expected.

[2021-05-25 07:55] AilinKid commented on #24627
did you turn on the switch `alterPrimaryKey`? it's because the table has implicit rowid share the allocation of increment column.

[2021-05-25 08:18] tangenta commented on #24627
This is because there is no integer primary key in the table. In this case, TiDB uses an implicit row_id to identify each row:

[code]

The current implementation is that `auto_increment` ID and `_tidb_rowid` share the same allocator. You can see the first row consumes `1` for `auto_increment` ID and `2` for `_tidb_rowid`. The [documentation](https://docs.pingcap.com/tidb/stable/mysql-compatibilit

[2021-05-25 08:22] winoros commented on #24878
`2.` is fixed in local env.
`4.` is investigating.

[2021-05-25 08:27] PragmaTwice opened #24882 "dml: error message (ERROR 1242 (21000)) for select statement is not compatible with mysql (ERROR 1060 (42S21))"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
in TiDB:
[code]
It is wrong. There is no multiple-row subquery in this select statement.
### 4. What is your TiDB version? (Required)
[code]

[2021-05-25 08:45] SilvaXiang commented on #24627
But this behavior is very counter-intuitive which will make some aggregate operations involving primary keys wrong, right?

[2021-05-25 08:50] guo-shaoge commented on #24768
We can reproduce this bug by following [doc](https://pingcap.feishu.cn/docs/doccnhvicZSkxs35suQh3PUI0pf).

[2021-05-25 08:52] guo-shaoge commented on #24768
How to reproduce:
1. git clone git@github.com:go-gorm/gorm.git
2. patch following diff:
[code]
3. tiup playground v5.0.1 --db 1 --pd 1 --kv 1 --tiflash 0
4. cd gorm/tests/ && ./tests_all.sh

[2021-05-25 08:55] aytrack commented on #22795
should we close this issue while It's a known issue and was fixed?

[2021-05-25 08:58] fzhedu opened #24884 "eliminate uncessary projection if order by items of topn refer to projection items for some cases"
## Feature Request

the extra projection for topN are unnecessary.

[code]
**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-05-25 09:21] aytrack commented on #23308
execute the case in TiDB 4.0.12, TiDB 5.0.1, TiDB master (8c25a0074a62e) and MySQL 8.0.23 and got the same result. should we close this issue?
[code]

[2021-05-25 09:22] tangenta commented on #24627
What does "some aggregate operations" mean? Could you show an example?

Anyway, the application devs should not assume the values of the `auto_increment` column to be sequential or incremental.

[2021-05-25 09:29] SilvaXiang commented on #24627
Some aggregate function such as Max(), Min(), Avg(), etc. For example ,this query result is counter-intuitive in this case:
`select sum(id), avg(col1) from test`
In many analytic workloads, aggregate functions involving primary keys may be common.(I guess.....)

[2021-05-25 09:44] tangenta commented on #24627
I don't think accumulating an ID is meaningful. Why would an application depend on a distributed, implicit-allocated value? There are so many substitutions like sequence, ID generator at the application level...

[2021-05-25 09:46] aytrack commented on #24756
MySQL 8.0.23 has the same result, this may not a bug
@XuHuaiyu  PTAL~

[2021-05-25 10:03] jebter commented on #22626
show create table companies;
+-----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table     | Create Table

[2021-05-25 10:05] zhuo-zhi commented on #21655
MySql will commit the current transaction when encountering DDL statement. Here is the [document](https://dev.mysql.com/doc/internals/en/transactions-life-cycle.html).

In order to make TIDB compatible with MySql. I suggest that we also change our transaction logic to behave the same way as MySql. In this way, this inconsistency will also disappear.

[2021-05-25 10:15] aytrack commented on #22626
It's has the same behavior with MySQL 8.0.23
[code]

[2021-05-25 11:08] billhcmus opened #24885 "Unknown or incorrect time zone: posixrules"
## Bug Report

### 1. Minimal reproduce step (Required)

1. start pd-server
2. start tikv-server
3. start tidb-server

### 2. What did you expect to see? (Required)

tidb-server start normally

### 3. What did you see instead (Required)

I see the following error message
[code]
We already setup NTP, but no luck, please help

Reate issues: https://github.com/pingcap/tidb/issues/15722

### 4. What i

[2021-05-25 11:18] wjhuang2016 commented on #24868
It's caused by streaming which we don't want to use again. FYI: https://github.com/pingcap/tidb/issues/20759

[2021-05-25 11:36] cfzjywxk commented on #21655
@zhuo-zhi
The `ddl` and `txn` related statements in the issue description are executed in different sessions, currently TiDB does not have meta data lock like utilities like MySQL, so the transaction executing DML statements may fail because of the concurrent DDLs. In this issue, the in-transaction current read returns unexpected results when partition table is used.

[2021-05-25 12:05] wjhuang2016 commented on #24882
[code]
So `Subquery returns more than 1 row` is reasonable.

[2021-05-25 12:15] PragmaTwice commented on #24882
Sorry for that, closed.

[2021-05-25 12:15] #24882 closed

[2021-05-25 12:23] yuqi1129 opened #24888 "types: warning information is inconsistent with MySQL when convert string to double/float"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Do the following in MySQL and TiDB
[code]

### 2. What did you expect to see? (Required)

The warning content of both should be
[code]
### 3. What did you see instead (Required)
MySQL:
[code]

TiDB:
[code]

### 4. What is your TiDB version? (Required)

Master branch

[2021-05-25 12:33] #24788 closed

[2021-05-25 12:57] #24478 closed

[2021-05-25 13:03] lysu opened #24890 "utf8mb4_unicode_ci clustered index replica to downstream as wrong value via binlog"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

enable new collation in up/down stream tidbs

insert in upstream clustere

[code]

### 2. What did you expect to see? (Required)

downstream should get 1010

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master(dev feature

[2021-05-25 13:09] cfzjywxk commented on #24868
@seiya-annie @wjhuang2016
I think we need a PR to disable the configurations related to the to be deprecated feature ASAP, since there's still chance users may enable it mistakenly and get encounter such errors.

/cc @zz-jason

[2021-05-25 13:44] alex-quan-001 opened #24891 "release: v5.0.2"
Planned release date June 9, 2021.
- [x] Bug triage

- [x] June 3rd, seal version and release note review
- [x] Released on June 9

[2021-05-25 13:45] dveeden commented on #9411
There are two modes of caching_sha2 authentication:
- *fast authentication*: This works if the server has a cache entry for the account. This does work over insecure connections. This is the caching part of `caching_sha2_password`.
- *full authentication*: This is needed in case there is no cache entry. This means the plaintext password gets send over a secure connection to the server allowing the

[2021-05-25 15:09] PragmaTwice opened #24893 "executor: select result with truncated values is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
in TiDB:
[code]
Interestingly, the result become to `2` while the same query is executed again.
### 4. What is your TiDB version? (Required)
[code]

[2021-05-25 17:37] #24368 closed

[2021-05-25 18:18] kolbe opened #24895 "information_schema.cluster_config "unknown node type" for TiFlash"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Deploy a cluster with TiFlash. Query information_schema.cluster_config.

### 2. What did you expect to see? (Required)

TiFlash configuration information should be shown in information_schema.cluster_config.

### 3. What did you see instead (Required)

[code]

### 4. What i

[2021-05-26 01:15] huwsun commented on #17531
Is there a roadmap for this?

[2021-05-26 02:17] sylzd commented on #24473
Logic conflict with `[order](https://dev.mysql.com/doc/refman/5.7/en/enum.html#enum-sorting. )` and `join` in enum type. I think it is resonable to cancel the `merge join` plan of  enum type.

[2021-05-26 02:30] aytrack commented on #24885
Could you please provide the result of `ls -l /etc/localtime` on tidb and tikv node.

[2021-05-26 02:44] sylzd commented on #24323
/assign

[2021-05-26 02:59] #24746 closed

[2021-05-26 03:04] guo-shaoge commented on #23498
Dup with [24015](https://github.com/pingcap/tidb/issues/24015)

[2021-05-26 03:08] #23498 closed

[2021-05-26 03:23] seiya-annie commented on #24868
hi, i closed enable-streaming and reload tidb:
[2021/05/25 21:04:06.229 +08:00] [INFO] [printer.go:33] ["Welcome to TiDB."] ["Release Version"=v4.0.13]
 and run tptest continue, still report panic with :
2021/05/25 21:27:41.957 +08:00] [ERROR] [conn.go:727] ["connection running loop panic"] [conn=222] [lastSQL="select * from t1 where c_timestamp in (select c_timestamp from t2 where c_int in (8, 9,

[2021-05-26 03:23] guo-shaoge commented on #24838
drop table if exists t1;
    create table t1(c1 timestamp, c2 varbinary(30));
    select bit_or(c1) from t1 union select bit_or(c2) from t1;

MySQL:

    mysql> select bit_or(c1) from t1 union select bit_or(c2) from t1;
    +----------------------------------------------------------------+
    | bit_or(c1)                                                     |
    +---------------------------------

[2021-05-26 03:37] jingshanglu opened #24900 "DML: insert with value of bit type. Not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql
[code]

### 3. What did you see instead (Required)
tidb
[code]
mysql
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-26 04:05] jingshanglu opened #24901 "DML: delete with where report "Error 1292: Truncated incorrect INTEGER value""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-26 04:07] jingshanglu commented on #24901
May be related to #24651 .

[2021-05-26 04:39] cfzjywxk commented on #24868
@seiya-annie
Maybe open another issue for it?

[2021-05-26 05:06] morgo commented on #24838
The MySQL 8.0 behavior is actually partially the result of a MySQL 8.0 client. There is a new behavior to output binary as hex. When disabled, 8.0 produces the following:

[code]

[2021-05-26 05:50] guo-shaoge commented on #24567
I cann't reproduce this on master.

    drop table if exists t;
    drop table if exists t1;
    create table t(a int);
    create table t1(b int);
    update (select 1 as a) as t set a=1;
    update (select 1 as a) as t, t1 set a=1;

No errors:

    mysql> update (select 1 as a) as t set a=1;
    Query OK, 0 rows affected (0.00 sec)
    Rows matched: 0  Changed: 0  Warnings: 0

    mysql> update

[2021-05-26 06:32] zhuo-zhi commented on #21655
Oh you are right. I didn't notice that the ddl is executed concurrently in another session. Thanks for explanation!

[2021-05-26 06:38] cosven commented on #23271
/severity major

[2021-05-26 06:51] qw4990 commented on #24636
I'm stuck in ONCALL this week and I'll go on to finish this next week.

[2021-05-26 07:02] cfzjywxk commented on #21655
@zhuo-zhi
Yes, we're considering this, it's difficult to implement a distributed meta data lock mechanism and this may hurt performance a lot. Any suggestions？

[2021-05-26 07:15] #24839 closed

[2021-05-26 11:39] tisonkun commented on #24752
ref #24169

[2021-05-26 12:03] sylzd commented on #24323
It can be reproduced by  common sql like this:
[code]

[2021-05-26 12:59] #19116 closed

[2021-05-26 13:29] #24705 closed

[2021-05-26 14:17] zimulala opened #24910 "Column type change test for GA"
## Development Task

Currently, there are only some unit and functional tests for this feature. To make this function more stable, the following tests are added:

- Design ticases
  - [x] Conversion between the same types @zimulala
  - [x] Conversion between different types @zimulala
  - [x] Correctness test @AilinKid
  - [x] Compatibility test with other features @AilinKid

- Conversion between t

[2021-05-26 14:23] zimulala commented on #17526
You can see the link(https://github.com/pingcap/tidb/projects/66) to support the progress of changing column types on the TIDB side.

[2021-05-26 14:58] b41sh commented on #24309
@KinglittleQ you can add a check `s.SelectIntoOpt != nil` in `checkSetOprSelectList` at this file https://github.com/pingcap/tidb/blob/master/planner/core/preprocess.go#L529

[2021-05-26 15:25] qw4990 opened #24911 "empty entry information in duplicate entry errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

The master branch.

[2021-05-26 15:28] qw4990 commented on #24911
@bb7133 It seems that the DDL worker cannot get the entry info when meeting this error, and this makes it hard to locate duplicated rows.

[2021-05-26 22:42] morgo opened #24912 "Restore database requires ALTER TABLE privilege"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

It is useful to have a minimally privileged user be able to backup and restore data without having access to read the data. The scenario for backup is more common (and works), but restore is nice for `RESTORE` be orthog

[2021-05-26 23:39] morgo commented on #24912
@kennytm do you have any strong opinions on this, or would you like me to take a look at it?

[2021-05-27 02:02] KinglittleQ commented on #24309
@b41sh Thanks for your guidance. I will create a PR ASAP.

[2021-05-27 02:40] XuHuaiyu commented on #24865
A simplified case:

[code]

As we can see from `StreamAgg_22`, `count(_tmp_6.i2)` is rewritten to `firstrow(1)` wrongly.

[2021-05-27 03:08] zimulala commented on #24638
<img width="657" alt="Screenshot 2021-05-27 at 11 05 21" src="https://user-images.githubusercontent.com/4242506/119760052-e429ec00-bedb-11eb-89da-998cf2f477b3.png">
<img width="729" alt="Screenshot 2021-05-27 at 11 05 28" src="https://user-images.githubusercontent.com/4242506/119760064-e8eea000-bedb-11eb-9d47-1fa4d0837d5c.png">

[2021-05-27 03:45] #24543 closed

[2021-05-27 04:13] purelind commented on #22198
@tisonkun @nolouch pd jenkins ci already upgrade go version from 1.13 to 1.16.4 (only branch master)

[2021-05-27 04:29] PragmaTwice opened #24916 "dml: error message (ERROR 1242 (21000)) for select statement is not compatible with mysql (ERROR 1241 (21000)))"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
in TiDB:
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-05-27 05:22] wjhuang2016 commented on #24916
[code]
TiDB returns `Subquery returns more than 1 row` is expected.

[2021-05-27 05:23] PragmaTwice opened #24917 "dml: unnecessary error reporting for select statement with redundant where clause in TiDB while MySQL returns correct results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
in TiDB:
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-05-27 05:25] #24879 closed

[2021-05-27 05:27] PragmaTwice commented on #24916
Is there a specific description of compatibility for error messages?
If it is sufficient to require only that the error message be interpretable but not be consistent, I will no longer report such errors.

[2021-05-27 05:53] wjhuang2016 commented on #24916
Because there are two errors in this SQL, it's ok not to completely be compatible with MySQL.

[2021-05-27 05:55] wjhuang2016 commented on #24916
I don't think this inconsistency would bring trouble to users.

[2021-05-27 06:36] PragmaTwice commented on #24916
Got it.

[2021-05-27 06:43] zimulala opened #24920 "Executing STDDEV_SAMP with DISTINCT behaves differently than MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'distinct  col_32 ) aggCol from tbl_7' at line 1`

### 3. What di

[2021-05-27 06:50] wshwsh12 commented on #24920
https://dev.mysql.com/doc/refman/8.0/en/aggregate-functions.html
In mysql docs, if a function supports distinct, it will be clearly identified. e,g `AVG([DISTINCT] expr) [over_clause]`  `COUNT(DISTINCT expr,[expr...])`, otherwise it is not supported distinct.
Seems this function `STDDEV_SAMP(expr) [over_clause]` doesn't support distinct clause.

[2021-05-27 07:11] bb7133 commented on #24172
@jebter I don't think it is a critical bug, it doesn't lead to serious issue to the end-user, so I'm changing it to 'major'

[2021-05-27 07:37] buggithubs opened #24924 "about "grant File_priv""
## General

`File_priv` is a global permission and cannot specify a target authorization.

TiDB should not return an ERROR 1054

### mysql 8.0

[code]

### TiDB 5.0.1

[code]

[2021-05-27 08:08] guo-shaoge commented on #24876
TiDB is compitable with MySQL 5.6/5.7.

    drop table if exists tbl_2;
    create table tbl_2 (col_11 bigint, col_13 int unsigned);
    insert into tbl_2 values (-1,1);
    insert into tbl_2 values (1,2);
    (select col_13 from tbl_2) union all ( select col_11 from tbl_2);

TiDB:

    mysql> (select col_13 from tbl_2) union all ( select col_11 from tbl_2);
    +--------+
    | col_13 |
    +----

[2021-05-27 08:25] yuqi1129 opened #24927 "executor: Error message is inconsistent with MySQL when execute insert into operationn"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

Master branch

[2021-05-27 08:35] yuqi1129 commented on #24927
Seems that like the following sql also have the same problem
[code]
is this problem need to be fixed ?

[2021-05-27 08:55] eurekaka commented on #24865
Minimal reproduction:

[code]

[2021-05-27 09:13] JaySon-Huang opened #24928 "`str_to_date` is not compatible with MySQL under some input"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. "%D","%j","%U","%u","%V","%v","%W","%w","%X","%x","%%" are not supported by TiDB.
  A related question from [asktug](https://asktug.com/t/topic/63329)
  @tiancaiamao Have filed a PR for supporting "%X","%V","%W" in #21887, but it didn't get reviewed and merged
2. (Fixed in #25386) <del>Some incompatible parsing

[2021-05-27 09:34] JmPotato commented on #21094
assign `Errors handling`.

[2021-05-27 09:54] bb7133 opened #24929 "expression: builtin function `current_date()` should return `DATE` type."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
(`--column-type-info` is needed for MySQL client, so that the returned type info can be verified easily)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
v5.0.1

###

[2021-05-27 09:59] bb7133 commented on #24929
I think the root cause is straightforward:

We didn't explicitly set the return type of `current_date()`, so the default type(`DATETIME`) is used:

https://github.com/pingcap/tidb/blob/5fd17dd7f4cef3f2e103f12427cb9197d9838b73/expression/builtin_time.go#L2110

[2021-05-27 10:04] qw4990 opened #24930 "a query may hang forever when its plan has a ParallelApply under TopN"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
The query can return an empty result.

### 3. What did you see instead (Required)
The query hangs forever.

### 4. What is your TiDB version? (Required)

Master

### 5. Root cause analysis!
All executors in TiDB have an i

[2021-05-27 10:05] qw4990 commented on #24930
`ParallelApply` is disabled by default so I label this issue with `severity/major` instead of `severity/critical`.
And I will fix it soon by making `ParallelApply` be safe to be called again even after returning an empty result.

[2021-05-27 10:08] #24890 closed

[2021-05-27 10:47] nolouch opened #24932 "Make AsOf compatible with Prepare"
## Background
AsOf mainly used in the stale read scenes. details in https://github.com/pingcap/tidb/issues/21094. we need to let it compatible with Prepare.

As Prepare will cache the `Plan` and also cache the `schema version`.  we may use the As Of such as :
[code]
If the schema is changed we should rebuild the prepare object in the cache.
## Details Implement
Currently, the prepare process alrea

[2021-05-27 10:55] wjhuang2016 opened #24933 "view returns unexpected error when containing count(*)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master

[2021-05-27 10:57] wjhuang2016 commented on #24933
The problem is that, when restoring the SQL, we get count(1), not count(*). So it can't find the column.

[2021-05-27 11:25] qw4990 commented on #24930
I upgrade its severity to critical since we have to pick it into `v5.0`.

[2021-05-27 11:31] tisonkun commented on #22198
@purelind thanks for your information. I've done the code upgrade part.

[2021-05-27 12:34] dveeden opened #24941 "Outdated `CHANGELOG.md`"
## Bug Report

https://github.com/pingcap/tidb/blob/master/CHANGELOG.md is outdated.

Either we should update this file to indicate it isn't used anymore or remove the file or update the file and make sure it stays up to date.

[2021-05-27 15:28] zhangyunhao116 opened #24943 "Benchamark IndexJoinExec failed"
## Bug Report

### 1. Minimal reproduce step (Required)

`cd executor && go test -bench=IndexJoinExec/index_outer -run=NOTEST`

### 2. What did you expect to see? (Required)
Test success.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
Latest master branch.

[2021-05-27 19:18] winoros commented on #24884
For this case, we are not going to eliminate the topn, we should move the projection down to the topn to remove the redundant calculation here.

Take another simple case as an example. `Project{a+1}->TopN{by a+1, count 10}->Scan(t)`. Notice that the top-n is just a calculator, it won't change the output of its child. So its output is `a` instead of `a+1` since its child `Scan(t)`'s output is `a`.

[2021-05-27 21:59] mjonss commented on #24746
### Bug
Table/Partition allowed to read from non specified partition when:
`INSERT INTO t PARTITION (pN) VALUES (v) ON DUPLICATE KEY UPDATE c = new_val`

if value 'v' was not in partition pN, it would still check in the other partition and if found update the value if it would result in partition pN (if not, then it would give the correct error).

#### 1. Root Cause Analysis (RCA) (optional)
For i

[2021-05-28 02:07] AilinKid commented on #24933
here is what's in the meta:
 "view_select": "SELECT `test`.`qn`.`a`,`qn`.`count(*)` FROM (SELECT `a`,COUNT(1) FROM `test`.`t1` WHERE `b`\u003e=_UTF8MB4'c' GROUP BY `a`) AS `qn`",

[2021-05-28 02:21] morgo commented on #24912
@jingshanglu This only affects master, and it is a case where a use-case requires more privileges than expected (not less). So it is more like moderate/major to me.

[2021-05-28 02:25] AilinKid commented on #24911
actually we can get the entry info since here
`return kv.ErrKeyExists.FastGenByArgs(strings.Join(valueStr, "-"), indexName)`

I will take a look

[2021-05-28 02:33] AilinKid commented on #24871
I don't get it, @tiancaiamao do you figure it out?

[2021-05-28 02:58] wshwsh12 opened #24944 "Ifnull enum type with not null flag has different result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Same result.
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master, v5.0,v4.0

[2021-05-28 03:10] #24752 closed

[2021-05-28 03:13] tiancaiamao commented on #24928
refer https://github.com/pingcap/tidb/pull/21887

[2021-05-28 03:23] tangenta opened #24946 "Modifying column doesn't record affected rows"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-28 03:24] AilinKid commented on #24880
/cc @mjonss

[2021-05-28 03:30] eurekaka commented on #24917
We had a discussion about the optimization strategy regarding uncorrelated subqueries before, but did not reach an agreement on a plan to change that implementation, so this compatibility problem may not be solved in a short time.

[2021-05-28 03:37] XuHuaiyu commented on #24930
related: https://github.com/pingcap/tidb/issues/12759

[2021-05-28 03:38] purelind commented on #22198
@tisonkun @Ehco1996 @lance6716 dm jenkins ci already upgrade go version from 1.13 to 1.16.4 (branch master only)

[2021-05-28 03:40] purelind commented on #22198
@tisonkun @BusyJay tikv integration test ci already upgrade go version from 1.13 to 1.16.4 (branch master only)

[2021-05-28 04:03] zimulala opened #24947 "Inconsistent with MySQL behavior when conversion `date` type with null data to `timestamp` with `not null`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

TiDB need to set `set global tidb_enable_change_column_type = 1`;

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-28 05:19] lysu opened #24949 "window function result is unstable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

couldn't stable reproduce..

http://172.16.4.180:31702/#/namespaces/testground/taskruns/tikops-test-utf-go-crrzl-test-2mtzb?step=test

[code]

and run window function

[code]

### 2. What did you expect to see? (Required)

stable

[code]

### 3. What did you see instead (Re

[2021-05-28 05:37] zimulala opened #24951 "Updating date return an error after conversion `timestamp` to `date`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
TiDB need to `set set global tidb_enable_change_column_type = 1;`

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`Query OK, 0 rows affected (0.00 sec)`

### 3. What did you see instead (Required)
`ERROR 1292 (22007): Incorrect date value: '0000-00-00'`

### 4. What i

[2021-05-28 06:50] qw4990 commented on #24853
It can be reproduced in v3 and v4.

[2021-05-28 06:55] winoros commented on #24473
You can disable the index merge join for enum at `constructIndexMergeJoin` by checking the column type.

[2021-05-28 06:57] winoros commented on #24473
And for merge join. It may be caused by that we just push the order property down to the index but without telling the index which order to follow. So it goes wrong. A quick fix is also banning the enum type for merge join at `GetMergeJoin`.
@sylzd

[2021-05-28 07:19] #23920 closed

[2021-05-28 08:01] purelind commented on #22198
@tisonkun @3pointer @overvenus @amyangfei  binlog / br / ticdc ci already upgrade go version from 1.13 to 1.16.4 (branch master only)

[2021-05-28 08:04] mjonss commented on #22096
Example:
[code]
^ MySQL 8.0.25
v TiDB master
[code]

So I don't think this should be a part of the partitioning project?

[2021-05-28 08:07] AilinKid opened #24953 "executor: select with join return inconsistent result with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[initSQLs.txt](https://github.com/pingcap/tidb/files/6559552/initSQLs.txt)
[execSQLs.txt](https://github.com/pingcap/tidb/files/6559553/execSQLs.txt)

table A & B
[code]
data:
[code]

query
[code]

### 2. What did you expect to see? (Required)
MySQL
[code]
TiDB
[code]

### 3

[2021-05-28 08:26] ChenPeng2013 opened #24954 "the hint inl_merge_join doesn't work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
use IndexMergeJoin

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-28 08:27] zimulala opened #24955 "The `prepare` statement does not execute the same result as MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-28 08:49] vvdvortsova commented on #24871
Here the variable 'store' may be nil
https://github.com/pingcap/tidb/blob/d5e0ed0aaed72d2f2dfe24e9deec31cb6cb5fdf0/session/tidb.go#L60

[2021-05-28 08:55] tiancaiamao commented on #24871
The code is:

[code]

The static analyse maybe find a  case that if `len(dm.domains) != 1` and `store == nil`, the code panics.
However, `len(dm.domains) != 1` and `store == nil` is not a legal input for this function.
The equivalent code is:

[code]

[2021-05-28 08:57] #24871 closed

[2021-05-28 09:41] hawkingrei opened #24957 "the bug of shirou/gopsutil resulting in the failure of telegram_test in mac"
## Bug Report

### 1. Minimal reproduce step (Required)

run ```make test``` in mac.

you will find:

[code]

### 2. What did you expect to see? (Required)

it should secceed to run this test.

### 4. What is your TiDB version? (Required)

master branch

[2021-05-28 09:45] hawkingrei commented on #24957
It is a bug of shirou/gopsutil. Compared the implement between linux and mac.

https://github.com/shirou/gopsutil/blob/master/cpu/cpu_linux.go#L184

https://github.com/shirou/gopsutil/blob/master/cpu/cpu_darwin.go#L52

In darwin, It forget initialization of cpuflags.

[2021-05-28 09:49] #24957 closed

[2021-05-28 10:15] eurekaka commented on #24853
Interesting issue. Here is an easier case for discussion:

[code]

The first critical optimization step of this query is the "aggregation pull up", i.e, the `max(t2.a)` is pulled up from the subquery to be the parent of `HashJoin_14`, to guarantee the correctness, a `group by t1.a` is added to the pulled up aggregation.

The second critical optimization step is the "predicate pushdown through aggr

[2021-05-28 13:00] juravlikk opened #24962 "ALTER TABLE INPLACE is failing for tables with set field in MySQL 8.0"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

### 5. Research results
**It doesn't matter what options `set` field consists of.** E.g. the same issue occurs if the table looks like this:
[code]

**But it matters what length

[2021-05-28 13:01] #24476 closed

[2021-05-29 07:15] zimulala opened #24966 "Inaccurate error message when changing column type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
`ERROR 8200 (HY000): Unsupported modify column: change from original type bit(30) to datetime is currently unsupported yet`

### 3. What did you see instead (Required)
`ERROR 8200 (HY000): Unsupported modify column: chang

[2021-05-29 07:41] AilinKid opened #24967 "select stmt with window function returns inconsistent result with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

table
[code]
data
[data.txt](https://github.com/pingcap/tidb/files/6564199/data.txt)

sql
[code]

the return type for TiDB is bit;
[code]
the return type for MySQL is longlong;
[code]

### 2. What did you expect to see? (Required)
should be the same

### 3. What did you see

[2021-05-29 08:35] equiclouds opened #24968 "Add a logic layer: Database > Schema > Table"
## Feature Request

MySQL only has two level to organize data, that is schema and table. If creating multiple databases, Many MySQL instance must be set. It't is easy for mysql but not for TiDB.

So Is it possible for TiDB add a logic layer in a DBMS to support multiple database in a single TiDB instance?

Thus, It will lead many advantages for creating multiple apps in TiDB.

[2021-05-29 09:07] zimulala opened #24969 "Select stmt with `union` that returns the result with `DOUBLE` is inconsistent with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-29 09:25] AilinKid opened #24970 "executor: table self join occurs inconsistency against MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

data
[code]

sql
[code]

### 2. What did you expect to see? (Required)
MySQL
[code]

### 3. What did you see instead (Required)
TiDB
[code]
### 4. What is your TiDB version? (Required)

master

[2021-05-29 09:31] zimulala opened #24971 "After executing `add column`, conversion `blob` to `int` is inconsistent with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-29 09:41] AilinKid opened #24972 "executor: select result with window function report the inconsistency with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

data
[code]

sql
[code]

### 2. What did you expect to see? (Required)
mysql
[code]
### 3. What did you see instead (Required)
TiDB
[code]

### 4. What is your TiDB version? (Required)

master

[2021-05-29 09:44] zimulala commented on #24971
**About `binary`:**

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

[2021-05-29 09:48] zimulala opened #24973 "After executing `add column`, conversion `binary` to `int` is inconsistent with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

## About `binary`:

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-29 10:37] AilinKid opened #24974 "ddl: column type change doesn't have the same behavior with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
ERROR 1264 (22003): Out of range value for column 'b' at row 1

### 3. What did you see instead (Required)
Query OK, 0 rows affected (2.75 sec)

### 4. What is your TiDB version? (Required)

master

[2021-05-29 13:33] jackysp opened #24976 "`tikv_gc_safe_point` in mysql.tidb does not go forward when autocommit = 0 for global"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. `set global autocommit = 0`
2. keep on `select variable_value from mysql.tidb where variable_name = 'tikv_gc_safe_point';` to check the value will change or not.

### 2. What did you expect to see? (Required)
Value changed.

### 3. What did you see instead (Required)
Not

[2021-05-30 02:12] zhaoxugang commented on #22837
I have an idea , It is i choose which index to lock dependency access path of data source . If there not exists index that was choosing , i will lock the table .
@you06

[2021-05-30 02:47] hawkingrei commented on #24929
this issue has been fixed. it can be closed.

[2021-05-30 03:25] #24929 closed

[2021-05-30 09:02] zhaoxugang opened #24977 "generated-column-index-optimizations is invalid"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

  1. CREATE TABLE t1 (f1 INT, gc INT AS (f1 + 1) VIRTUAL, INDEX (gc));
  2. insert into t1 (f1) values (1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12),(13),(14);
  3. explain SELECT * FROM t1  WHERE (f1+1) = 13;
### 2. What did you expect to see? (Required)
  query use i

[2021-05-30 13:21] wjhuang2016 commented on #24977
This is because the indexLookUp may take more time than the tableFullScan.
You can see the following example:
[code]

For these small scalar data, tableFullScan may be faster. If this table has more data, then you can expect it to use the index.

[2021-05-30 13:39] zhaoxugang commented on #24977
Sorry，My description is wrong，actual case is ’SELECT * FROM t1 WHERE (f1+1) = 13‘.@wjhuang2016

[2021-05-30 15:22] shenli commented on #24326
may I know why this issue is closed?

[2021-05-30 16:01] morgo commented on #24326
This has been fixed with the introduction of sysvar cache in master. The sysvar cache functions differently to the previous global variables cache in that it invalidates the cache when changes are made. Regeneration is also handled in the background.

[2021-05-30 17:22] wjhuang2016 commented on #24977
@zhaoxugang
To make it work, the type of `gc` needs to be `BIGINT`
[code]

Because the type of expression (f1+1) is `BIGINT`.

[2021-05-30 23:09] pengdaqian2020 commented on #24951
Due to https://github.com/pingcap/tidb/blob/7f4f5c02364b6578da561ec14f409a39ddf954a5/ddl/column.go#L853
It will set zero original default value, and the default value for `date` type is `0000-00-00`.
After  ```alter table tbl_41 modify column col date not null;```
the OriginDefaultValue of `tbl_41` will become `0000-00-00`.

How can I fix it?
Change the default value not zero seems feasible.

[2021-05-31 01:00] xuhui-lu commented on #8205
@eurekaka  Is this issue still open?

[2021-05-31 01:47] aytrack commented on #24970
could you please provide the  `tbl_0` table structure and data?

[2021-05-31 02:34] hawkingrei opened #24979 "telemetry_test fail to run on apple M1"
## Bug Report

### 1. Minimal reproduce step (Required)

run the test on m1, you will find this error.

[code]

### 2. What did you expect to see? (Required)

It should run successfully.

### 4. What is your TiDB version? (Required)

master branch

[2021-05-31 02:37] hawkingrei commented on #24979
https://github.com/shirou/gopsutil/blob/master/cpu/cpu_darwin.go#L52

this bug can be triggered because it will not get many information for cpu on the mac.so it can not get cpuflags info.

[2021-05-31 02:51] tiancaiamao opened #24980 "alter table add partition error when sql_mode is set to ANSI_QUOTES"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Originally reported from https://asktug.com/t/topic/69811

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error.

### 3. What did you see instead (Required)

The error message is misleading... what the hell is it actually?

----------

When `ANSI_QUOTES` is set,

[2021-05-31 02:53] tiancaiamao commented on #24980
PTAL @mjonss @qw4990

[2021-05-31 03:15] breeswish opened #24981 "other error: panic when RPC server handing coprocessor, stack:not supported in IntHandle"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Query successful.

### 3. What did you see instead (Required)

[code]

Error logs:

[code]

### 4. What is your TiDB version? (Required)

v5.0.0

[2021-05-31 03:16] breeswish commented on #24981
Note: this constantly happens in some clusters, fail to query.

[2021-05-31 03:19] breeswish opened #24982 "projection executor panicked -- runtime error: slice bounds out of range [::40] with capacity 38"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Query statement summary table successfully.

### 3. What did you see instead (Required)

[code]

Error log:

[code]

### 4. What is your TiDB version? (Required)

v5.0.0

[2021-05-31 04:00] wjhuang2016 commented on #24982
Could you check the master branch?

[2021-05-31 04:00] wjhuang2016 commented on #24981
/cc @lysu

[2021-05-31 04:01] wjhuang2016 commented on #24977
Since it's the expected behavior, I remove the bug label.

[2021-05-31 04:02] wjhuang2016 commented on #24974
Could you refine the title?

[2021-05-31 04:26] breeswish commented on #24981
@crazycs520 is looking at this issue.

[2021-05-31 04:31] xhebox commented on #24233
Closed for #24230, #24236, #24820. Feel free to reopen if cherry-picking is needed.

[2021-05-31 04:31] #24233 closed

[2021-05-31 04:34] zhaoxugang commented on #24977
but it can work in mysql.

[2021-05-31 04:57] wjhuang2016 commented on #24977
@zhaoxugang  I will show you why MySQL is wrong:
[code]

[2021-05-31 07:00] amirvaza commented on #24783
?

[2021-05-31 07:14] amirvaza opened #24987 "Regions distribution across TiFlashes"
Hello everyone, after few days of not finding the solution, I'd love some help, not sure if its a bug or not, but something is indeed wrong.

I have a cluster of 2 TiKV and 2 TiFlashes, altering the table to replicate into TiFlash once, expecting half of the data will be on each TiFlash.

Using tiup playground --tiflash 2 --kv 2 everything works perfect, I actually see half in each.

Using tiup cl

[2021-05-31 07:49] AilinKid commented on #24974
similar with： https://github.com/pingcap/tidb/issues/24971

[2021-05-31 07:51] AilinKid commented on #24974
similar with : https://github.com/pingcap/tidb/issues/24971

[2021-05-31 07:56] zimulala commented on #24973
Related to #24971

[2021-05-31 08:03] zhouqiang-cl opened #24989 "unstable tests"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in  https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check/detail/tidb_ghpr_check/7114/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-05-31 08:24] nolouch commented on #24932
cc @xhebox @JmPotato
Can you help to solve this?

[2021-05-31 08:46] xhebox commented on #24932
I am on it.

[2021-05-31 08:55] crazycs520 commented on #24981
The main reasone is caused by there are different version of TiDB in this cluster, `v5.0.0` and `v4.0.11`. It is incompatible when querying `cluster_xxx` table.

![image](https://user-images.githubusercontent.com/26020263/120167967-ef10b380-c230-11eb-9874-61de6819ee96.png)

[2021-05-31 08:57] crazycs520 commented on #24982
The main reasone is caused by there are different version of TiDB in this cluster, `v5.0.0` and `v4.0.11`. It is incompatible when querying `cluster_xxx` table.

![image](https://user-images.githubusercontent.com/26020263/120167967-ef10b380-c230-11eb-9874-61de6819ee96.png)

[2021-05-31 09:15] aytrack opened #24993 "should not set tiflash replica while create temporary table like a table with tiflash replica"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
doesn't set tiflash replica for tb1

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-05-31 09:26] AilinKid opened #24995 "ddl: add date column will succeed while mysql doesn't"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

TiDB
[code]

MySQL
[code]

TiDB & MySQL sql mode
[code]

SQL_Mode only takes effects when the `insert` move is triggered. Since add column doesn't reorg the data, that's why this happened.

### 2. What did you expect to see? (Required)
add column should fail

### 3. What di

[2021-05-31 09:45] aytrack opened #24996 "could create a temporary table with partition options"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
report an error while create temporary table with partition by options
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-05-31 09:47] AilinKid opened #24997 "executor: select with `inl_hash_join` return inconsistency with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

table
[code]

data
[tbl2.txt](https://github.com/pingcap/tidb/files/6569416/tbl2.txt)
[tbl14.txt](https://github.com/pingcap/tidb/files/6569417/tbl14.txt)

### 2. What did you expect to see? (Required)
result shoul d be the same since meta and data is the same

### 3. What

[2021-05-31 10:15] time-and-fate commented on #24855
Seems that it will be hard to fix this issue.

Consider this case:
[code]
MySQL 8.0.25, 5.7.32:
[code]
TiDB master 04cb5e9f6, PostgreSQL 13.0, Oracle 19c:
[code]

If we want to be consistent with MySQL, we need to get `t.a` updated before running `(select b from t1 where t1.a = t.a)` and get `t.b` updated before running `(select b from t2 where t2.a = t.b)`, and I think this is quite different fro

[2021-05-31 10:26] #24996 closed

[2021-05-31 10:45] ichn-hu commented on #24970
@AilinKid I don't see window function here, would you provide more details

[2021-05-31 10:46] ichn-hu commented on #24967
the `col_13` is indeed a BIT type, I think it should be a bug of MySQL.

[2021-05-31 10:47] ichn-hu commented on #24967
@aytrack @AilinKid would you please write a bug to MySQL to see what they think?

[2021-05-31 10:50] ichn-hu commented on #24949
@lysu how frequent is the wrong result?

[2021-05-31 10:55] lysu commented on #24949
it seems unfrequent and can not stable reproduce 😞

[2021-05-31 11:18] zimulala commented on #24969
[code]

[code]

[code]

[2021-05-31 12:24] lysu opened #25001 "index join in binary prefixed clustered index panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-05-31 12:35] lysu commented on #25001
duplicate question...fixed by https://github.com/pingcap/tidb/pull/24568

[2021-05-31 12:35] #25001 closed

[2021-05-31 13:15] wjhuang2016 opened #25002 "cannot change index prefixed column type to non-prefixed one"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-05-31 14:09] blacktear23 commented on #24855
@time-and-fate yes, it is hard to fix. I think we should discuss about is this mysql feature we should follow.

[2021-05-31 14:20] zhouqiang-cl opened #25003 "race detected on master"
## Bug Report

[code]

### 1. Minimal reproduce step (Required)

run ci on https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/4120/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master
tidb hash: a80047c6049ac6611f7af39771683b0d1cf5167e

[2021-05-31 16:06] kaixu120811 opened #25005 "Add slow query statistic information into telemetry data"
## Development Task
As title, implement this feature.

[2021-05-31 16:08] morgo commented on #24381
Can we pass this feedback back to Hibernate? They may decide if the behavior is undefined that the testsuite should be updated.

[2021-05-31 17:00] zimulala opened #25007 "Conversion `decimal` to `timestamp` is inconsistent with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-31 19:12] #22373 closed

[2021-06-01 02:00] guo-shaoge commented on #24930
Looks like a PR has already be merged.

[2021-06-01 02:57] zhouqiang-cl opened #25010 "unstable test `analyze_test.go:577: testSuite1.TestAnalyzeIncremental`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/4131/pipeline/19

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

matter: a8

[2021-06-01 02:58] AilinKid commented on #24970
Sorry, it's my fault, it occurs in my rand test and I have lost its environment...

Actually, you can find more details in automated-test/ticases/column_type_change/TIDB_CTC_TIME_TO_OTHERS
If always have the inconsistency cases taken places here.

[2021-06-01 02:59] AilinKid commented on #24970
https://github.com/PingCAP-QE/clustered-index-rand-test/tree/master/sqlgen is recommended to do the AB rand test.

[2021-06-01 02:59] #24970 closed

[2021-06-01 03:05] #24930 closed

[2021-06-01 03:07] zhouqiang-cl opened #25012 "unstable test `aggregate_test.go:1279: testSuiteAgg.TestIssue20658`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/4132/pipeline/

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
release-5.0
e0e4

[2021-06-01 03:13] zhouqiang-cl opened #25013 "data race in `executor_test`"
## Bug Report
[code]
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/4133/pipeline/104

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master a80047c60

[2021-06-01 03:21] zhouqiang-cl opened #25014 "unstable test `FAIL: prepare_test.go:448: testPrepareSerialSuite.TestPrepareCacheForPartition`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/4136/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

release-5.0 e0e

[2021-06-01 03:21] #20859 closed

[2021-06-01 03:21] #23611 closed

[2021-06-01 03:21] #24603 closed

[2021-06-01 03:59] #24808 closed

[2021-06-01 04:02] crazycs520 opened #25016 "information_schema.CLUSTER_xxx table incompatible with old version"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Start 2 different TiDB version in one cluster, such as:

[code]

2. Use MySQL client connected into v4.0.11 TiDB, and query:
[code]

And query from v5.0.0 TiDB:

[code]

### Cause

The main reason is that the cluster table schema of `information_schema` maybe different i

[2021-06-01 04:03] crazycs520 commented on #24982
Related issue: https://github.com/pingcap/tidb/issues/25016

[2021-06-01 04:03] crazycs520 commented on #24981
Related issue: https://github.com/pingcap/tidb/issues/25016

[2021-06-01 04:17] morgo commented on #24912
I chatted with @SunRunAway and we will use a new dynamic privilege called `RESTORE_ADMIN`. This handles the case that a user requires more privileges to restore than to backup a database.

In MySQL there is not a direct comparison, but the closest is with the [clone plugin](https://dev.mysql.com/doc/refman/8.0/en/clone-plugin-remote.html):

The privilege name `CLONE_ADMIN` doesn't make sense here.

[2021-06-01 05:15] #24977 closed

[2021-06-01 05:15] zhaoxugang commented on #24977
Not a bug

[2021-06-01 05:50] ichn-hu commented on #24972
@AilinKid

[code]

I think the type of TiDB's window function is correct, it could be a bug of MySQL.

[2021-06-01 06:20] ichn-hu commented on #24989
@zhouqiang-cl this is already fixed in https://github.com/pingcap/tidb/pull/24341 and it has been merged.

[2021-06-01 06:22] ichn-hu commented on #25003
[code]

[2021-06-01 06:33] ichn-hu commented on #25003
[code]

[2021-06-01 06:43] qw4990 commented on #24012
Close since this failure didn't appear for a few weeks according to our monitoring.
If it appear again, please reopen it and mention me in this issue.

[2021-06-01 06:53] AilinKid opened #25020 "dml: insert constant into json column should report some errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[code]

MySQL8.0
[code]
TiDB
[code]

### 2. What did you expect to see? (Required)
should it be the same?

### 3. What did you see instead (Required)
as you see above

### 4. What is your TiDB version? (Required)

master

[2021-06-01 06:57] guo-shaoge commented on #24502
@xiongjiwei PTAL. Looks like out pattern compilation logic is not compatible.

[2021-06-01 07:00] qw4990 opened #25021 "remove the intermediate String results when converting MyDecimal to Float"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When TiDB converts a MyDecimal to a Float, it first converts the MyDecimal to a String and then parses the String into a Float.
This method can generate lots of unnecessary intermediate results and affect Golang GC.

![image](https://user-images.githubusercontent.com/7499936/120280038-c6002980-c2e9-11eb-82b2-35

[2021-06-01 07:02] xiongjiwei commented on #24111
close because https://github.com/pingcap/tidb/pull/24986

[2021-06-01 07:02] #24111 closed

[2021-06-01 07:11] guo-shaoge commented on #24110
dup with #24808

[2021-06-01 07:11] #24110 closed

[2021-06-01 07:16] guo-shaoge commented on #24944
We directly rewrite ifnull to its argument if first argument got not null flag. Check [here](https://github.com/pingcap/tidb/blob/ccaefa2a3ddf8adb4cf303edcf0795387e7fc6cf/planner/core/expression_rewriter.go#L1660)

[2021-06-01 07:25] lzmhhh123 commented on #24567
![image](https://user-images.githubusercontent.com/26040259/120283043-57bd6600-c2ed-11eb-9e38-8b9750057e3a.png)

https://github.com/pingcap/tidb/pull/24614 @xiongjiwei You claimed it is a bug in MySQL. What's your opinion?

[2021-06-01 07:32] XuHuaiyu commented on #24893
[code]

[2021-06-01 07:34] XuHuaiyu commented on #24893
[code]

[2021-06-01 07:37] XuHuaiyu commented on #24893
[code]

[2021-06-01 07:40] ichn-hu commented on #24972
I reported the bug to

https://bugs.mysql.com/bug.php?id=103872

[2021-06-01 07:41] ichn-hu commented on #24955
I think this is the same as https://github.com/pingcap/tidb/issues/24972

[2021-06-01 08:09] AilinKid commented on #24971
the expected result for MySQL is NULL and NULL, should I fix the description?

[2021-06-01 08:19] jianzhiyao commented on #14675
@b41sh
Are you still working on it?
I am so interested in that issue.

[2021-06-01 08:42] qw4990 commented on #24010
This issue only affects our test case, so I degrade its severity to moderate.

[2021-06-01 08:42] qw4990 commented on #24013
I'm working on this Now, and since this issue only affects our test case,  I degrade its severity to moderate.

[2021-06-01 08:46] qw4990 commented on #24014
I'm working on this Now, and since this issue only affects our test case, I degrade its severity to moderate.

[2021-06-01 08:47] qw4990 commented on #24679
I'm working on this Now, and since this issue only affects our test case, I degrade its severity to moderate.

[2021-06-01 08:47] qw4990 commented on #24015
I'm working on this Now, and since this issue only affects our test case, I degrade its severity to moderate.

[2021-06-01 08:54] XuHuaiyu commented on #24893
minor case:
[code]

[2021-06-01 09:01] XuHuaiyu commented on #24893
This should be a bug of optimizer:
As the explain result of MySQL shows, `count(t3._tmp_4)` is rewritten to `count(3)`:
[code]

TiDB does not handle correlated aggregate correctly:
[code]

[2021-06-01 09:10] XuHuaiyu commented on #24989
According to [comment](https://github.com/pingcap/tidb/issues/24989#issuecomment-851852655), I'll close this issue

[2021-06-01 09:10] #24989 closed

[2021-06-01 09:24] AilinKid opened #25028 "ddl: column type change will use default value as converted one for a invalid old json string"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
MySQL
[code]

### 3. What did you see instead (Required)
TiDB
[code]

### 4. What is your TiDB version? (Required)

master

[2021-06-01 09:35] vivid392845427 opened #25029 "query table CLUSTER_TIDB_TRX generate records in CLUSTER_TIDB_TRX"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

select * from CLUSTER_TIDB_TRX\G
select * from TIDB_TRX\G

### 2. What did you expect to see? (Required)

both of tables query return empty

### 3. What did you see instead (Required)
mysql> select * from CLUSTER_TIDB_TRX\G
*************************** 1. row ***************

[2021-06-01 09:48] MyonKeminta commented on #24199
Known issue +1 https://github.com/pingcap/tidb/issues/25029

[2021-06-01 09:57] rebelice opened #25030 "A bug found by Randgen test tool about dynamic partition prune mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Run successfully.

### 3. What did you see instead (Required)
ERROR 1105 (HY000): runtime error: invalid memory address or nil pointer dereference

[code]

### 4. What is your TiDB version? (Required)

nightly master

[2021-06-01 10:20] AilinKid opened #25032 "cast: convert float value to json have different precision with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t(a json);
insert into t values("323232323.3232323232");
select * from t;

### 2. What did you expect to see? (Required)
MySQL
[code]

### 3. What did you see instead (Required)
TiDB
[code]

### 4. What is your TiDB version? (Required)

master

[2021-06-01 10:34] AilinKid opened #25033 "executor: select agg from json column return wrong result with the MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
MySQL8
[code]

### 3. What did you see instead (Required)
TiDB
[code]

### 4. What is your TiDB version? (Required)

master

[2021-06-01 10:44] guo-shaoge opened #25034 "case unstable: CTETestSuite.TestSpillToDisk"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

 CTETestSuite.TestSpillToDisk is unstable
### 2. What did you expect to see? (Required)
Be stable
### 3. What did you see instead (Required)
[2021-06-01T09:09:35.522Z] ----------------------------------------------------------------------
[2021-06-01T09:09:35.522Z] FAIL: ct

[2021-06-01 10:50] xiongjiwei commented on #24567
@lzmhhh123 please see: https://bugs.mysql.com/bug.php?id=103665&thanks=unsub. MySQL will give an error, but it should not

[2021-06-01 10:56] xiongjiwei commented on #24567
it is different from this issue, this issue is tidb's bug

[2021-06-01 10:59] #24638 closed

[2021-06-01 11:24] qw4990 commented on #25021
PTAL @XuHuaiyu

[2021-06-01 11:24] tisonkun commented on #24808
ref #17472

[2021-06-01 11:27] tisonkun commented on #18752
@wjhuang2016 I think we can close this issue prefer #17472.

@sstubbs @nullnotnil there is an ongoing develop effort on both recursive and non-recursive CTE to TiDB. Feel free to track it from #17472  and https://github.com/orgs/pingcap/projects/37 , or throw any ideas about it.

[2021-06-01 11:33] wjhuang2016 commented on #18752
Yes, I think recursive CTE can solve this problem. Please refer to #17472. I am going to close this issue now.

[2021-06-01 11:33] #18752 closed

[2021-06-01 12:31] qw4990 commented on #25030
The root cause is that when TiDB encodes KV range for partition tables in `kvRangeBuilderFromRangeAndPartition.buildKeyRange`, it doesn't consider the unsigned flag so some wrong KV ranges are generated.
I'll fix it soon and add more cases related to this problem.

[2021-06-01 13:52] tisonkun commented on #24993
Please refer this issue to the tracking issue of temporary table #24169 .

[2021-06-01 14:21] tisonkun commented on #22513
I don't see any open issue / pr to this tracking issue. What is the current status of standalone Go Client?

[2021-06-01 16:10] zimulala opened #25037 "Conversion `bit` to `binary` is inconsistent with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

0158f71cda6ccbbd382c6e8759904234baca259c

[2021-06-01 16:11] blacktear23 commented on #24768
After digging into this bug I found a way to reproduce it:

[code]
after executing the update statement TiDB will panic. If comments `created_at` field the update statement will execute without panic.

[2021-06-01 17:02] zimulala opened #25038 "Select result with window function(`lead`) report the inconsistency with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

0158f71cda6ccbbd382c6e8759904234baca259c

[2021-06-01 18:29] time-and-fate commented on #24855
I tried to find relevant descriptions from docs of other databases and the SQL standard.

In [MySQL's doc on UPDATE statement](https://dev.mysql.com/doc/refman/8.0/en/update.html), it says we should use the updated value of previous assignments, but it doesn't explicitly say it's also true for subquery, and we have also decided not to follow this behavior in #19137.

Postgres explicitly say that w

[2021-06-02 01:26] kolbe opened #25041 "Incompatible error when grouping on join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

This query should return results, because there cannot be any ambiguity when grouping on a column that is covered by the join condition.

### 3. What did you see instead (Required)

[code]

This type of query ca

[2021-06-02 01:33] morgo commented on #25041
This is specific to the use of `using`. If you use the alternative join syntax it doesn't work in MySQL:
[code]

I am not sure how these are different. I would have thought it's functionally the same.

[2021-06-02 02:19] kolbe commented on #25041
The behavior of NATURAL JOIN is the same as USING.

I tested this at https://www.db-fiddle.com/ on Postgres and SQLite and they have the same behavior as MySQL, so we're the outlier here. Let's fix it!

[2021-06-02 02:49] guo-shaoge opened #25043 "index related case got data race"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Found by [CI unit-test.](https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/4264/pipeline)

### 2. What did you expect to see? (Required)
Everything be ok.
### 3. What did you see instead (Required)

    [2021-06-02T02:12:38.189

[2021-06-02 03:07] aytrack opened #25045 "can't find column while use index merge"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
execute successfully
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-06-02 03:13] blacktear23 commented on #24855
I think we should document this at docs. Seems some ORM framework depends on this feature.

[2021-06-02 03:43] #24971 closed

[2021-06-02 04:09] XuHuaiyu commented on #25033
[code]

[2021-06-02 05:04] sylzd commented on #24473
I will try.

[2021-06-02 05:31] #24112 closed

[2021-06-02 05:46] truong-hua opened #25050 "How to update pd member peer url of running cluster"
Etcd has a command `etcdctl member update <member_id> --peer-urls=<new_peer_url>` to cover a case that a etcd member is restarted and it's IP address has been changed.

I have a 3 node pd cluster as follows:
[code]

Now I shutdown pd0, I keep all volumes persistent and replace pd0 with a new pd4 as follows:
[code]

After pd4 has been started, it joined to the cluster successfully and every is seem

[2021-06-02 06:37] raywill opened #25052 "found some document and code typos"
## Bug Report

### 1. Minimal reproduce step (Required)

I wrote a spell checker to scan OceanBase typo this morning.
After all work finished, I tried it on TiDB. TiDB has much less typo.

Here are some typos in case you want to correct.
[code]

### 2. What did you expect to see? (Required)

correct spelling.

### 3. What did you see instead (Required)

typo

### 4. What is your TiDB version? (Req

[2021-06-02 06:46] tangenta opened #25053 "`json_objectagg()` is not compatible with MySQL on `varbinary` type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

MySQL returns a strange string:
[code]

### 3. What did you see instead (Required)

TiDB returns `o` for varbinary:
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-06-02 06:48] AilinKid commented on #24995
fixed in  tidb/pull/25025

[2021-06-02 06:49] AilinKid commented on #24995
https://github.com/pingcap/tidb/pull/25025

[2021-06-02 06:49] AilinKid commented on #24973
https://github.com/pingcap/tidb/pull/25025

[2021-06-02 06:49] #24973 closed

[2021-06-02 06:49] AilinKid commented on #24974
https://github.com/pingcap/tidb/pull/25025

[2021-06-02 06:49] #24974 closed

[2021-06-02 06:51] #24545 closed

[2021-06-02 07:48] zhuo-zhi commented on #25045
/assign

[2021-06-02 08:49] qw4990 commented on #24636
A minimal reproducible case:
[code]

[2021-06-02 08:58] ClSlaid opened #25055 "unstable test FAIL: cte_test.go:110: CTETestSuite.TestSpillToDisk"
## Bug Report

### 1. Minimal reproduce step (Required)

1. make some contribution to tidb
2. test may fail in `check_dev_2`.
3. take a look in `detail`.

### 2. What did you expect to see? (Required)

No `FAIL` All `PASS`.
### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

following master.

[2021-06-02 09:02] ClSlaid opened #25056 "unstable test FAIL: tidb_test.go:1024: tidbTestSuite.TestClientErrors"
## Bug Report

### 1. Minimal reproduce step (Required)

1. contribute to tidb, pull request and run tests.
2. CI may fail at `check_dev_2`.

### 2. What did you expect to see? (Required)

No `FAIL` All `PASS`.

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

Following `master`.

[2021-06-02 09:30] #25030 closed

[2021-06-02 09:45] wshwsh12 opened #25059 "unionscan with parititon maybe cause panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
ERROR 1105 (HY000): runtime error: index out of range [2] with length 2

Stack: <details>
[code]
</details>

### 4. What is your TiDB version? (Required)

master, 5.0, 4.

[2021-06-02 10:20] #24865 closed

[2021-06-02 12:28] AilinKid commented on #25037
There are 2 points to be fixed for this.
1: for default value of binary of create-table, it should append the \0 as the suffix to meet to flen.
2: when cast the bit to binary, we should consider to convert it to uint then cast uint to string, rather than takeing the bit to string directly.

[2021-06-02 12:56] qw4990 commented on #24012
My mistake. This test is skipped now, so this problem may still exist.
Since this problem only affect CI, I degrade its severity to moderate and I will fix it soon.

[2021-06-02 13:42] XuHuaiyu commented on #24933
minor case:
[code]

[2021-06-02 15:20] guo-shaoge commented on #25055
Trying to merge it. #25035

[2021-06-02 15:21] guo-shaoge commented on #25055
dup with #25034

[2021-06-02 15:21] #25055 closed

[2021-06-02 15:23] guo-shaoge opened #25066 "IndexLookupJoin related case got data race"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Found by CI unit-test
### 2. What did you expect to see? (Required)
Case runs ok.
### 3. What did you see instead (Required)
    [2021-06-02T15:05:43.297Z] WARNING: DATA RACE
    [2021-06-02T15:05:43.297Z] Write at 0x0000079c43a0 by goroutine 757:
    [2021-06-02T15:05:43.2

[2021-06-02 15:26] #25034 closed

[2021-06-02 15:29] zimulala opened #25067 "Select result with `not(year)` report the inconsistency with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

0158f71cda6ccbbd382c6e8759904234baca259c

[2021-06-02 19:21] kolbe commented on #25041
Morgan found that MySQL actually rewrites the query with USING() so that `id` becomes `t1.id` in the field list:

https://gist.github.com/morgo/cc229e891c0abd0563b78b93ffb10cca

[2021-06-02 21:56] morgo opened #25068 "support for `show count(*) errors | warnings`"
## Bug Report

This feature is used by the test suite. I've never seen it used by applications or users, but it seems easy to implement.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-06-02 21:59] morgo opened #25069 "show errors is incorrectly a noop statement"
## Bug Report

Found via the testsuite - this statement could be used by users or applications, and is not safe to noop.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-06-02 22:00] morgo commented on #25069
`SHOW WARNINGS` however does work as expected:
[code]

[2021-06-03 01:06] lcwangchao opened #25070 "make failpoint-enable still rewrite excluded folders"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

no error

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

We should also exclude folders like `.idea` , `vscode` which was generated by IDE and may have some tem

[2021-06-03 01:44] tisonkun commented on #25070
Actually the first time I notice failpoint-ctl rewrite files I'm thinking of whether we can avoid that...

[2021-06-03 02:08] zhouqiang-cl commented on #25012
fixed by https://github.com/pingcap/tidb/pull/24466

[2021-06-03 02:08] #25012 closed

[2021-06-03 02:10] zhouqiang-cl opened #25072 "Leak test in `builtin_time_vec_test.go`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/45/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master 9f

[2021-06-03 02:14] zhouqiang-cl opened #25073 "data race in release-4.0"
## Bug Report

[code]
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/41/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
release-4.

[2021-06-03 02:17] zhouqiang-cl opened #25074 "data race in parallel_apply_test.go"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/37/pipeline/99

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
release

[2021-06-03 03:23] tangenta opened #25076 "The "data truncated" warning message is not properly formatted"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL:
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master
[code]

[2021-06-03 03:34] tisonkun opened #25077 "Update CODEOWNERS file"
Our [CODEOWNERS](https://github.com/pingcap/tidb/blob/master/.github/CODEOWNERS) file is out-of-date for quite a while. Also the team relationship is lack of maintenance. In order to

1. Keep CODEOWNERS up-to-date and thus review auto-assignee works smoothly
2. Decouple CODEOWNERS with team maintenance which is out of regular workflow.

I'd propose we update CODEOWNERS file and break down owners i

[2021-06-03 03:34] tisonkun commented on #25077
/assign

[2021-06-03 04:54] eurekaka commented on #25041
The problem is incurred by https://github.com/pingcap/tidb/pull/21922 when trying to fix https://github.com/pingcap/tidb/issues/6712, I have had a patch to fix this issue, but found another related problem on ONLY_FULL_GROUP_BY check, still working it.

[2021-06-03 06:00] raywill commented on #25052
btw, here a full list of unusual words found in TiDB master. sone them are mis-spelling.
such as adjacents, afterwrards, avgerage etc.

[code]

[2021-06-03 06:08] #25005 closed

[2021-06-03 06:39] luyomo opened #25086 "ERROR 1105 (HY000): runtime error: index out of range [-1]"
## Bug Report

I am testing the migration from mysql to tidb for icinga2.  Everything is fine until the data migration, but when I attempted to start the icinga2 web service, the following errors comes.
https://github.com/Icinga/icinga2
ERROR 1105 (HY000): runtime error: index out of range [-1]

### 1. Minimal reproduce step (Required)
Please find the attached file  reproduce.ddl and errorQuery.sq

[2021-06-03 06:46] #24114 closed

[2021-06-03 07:09] ChenPeng2013 opened #25088 "the variable 'tidb_enable_clustered_index' can be set to 2, 3, 4"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-06-03 07:33] eurekaka opened #25089 "infer functional dependencies from filters / join conditions and use them for only_full_group_by check"
## Development Task

Below is the output from mysql 5.7:

[code]

We can see that, MySQL infers functional dependencies from filters and join conditions, and uses them for only_full_group_by check. Compared with MySQL, TiDB uses a pretty naive approach for only_full_group_by check, and TiDB would report error for all the above SELECT statements.

PostgreSQL(12 devel) has same loose check as TiDB.

[2021-06-03 07:36] aytrack opened #25090 "grant error message inconsistent"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-06-03 07:45] DanielZhangQD opened #25091 "Provide health check API without certs required when TLS enabled"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When we deploy TiDB in the platforms like Kubernetes, we can leverage the health check mechanism provided by Kubernetes to exclude the unhealthy Pod from the service endpoint automatically, to do that, we need to provide a health check API.
We have the API /status, however, when TLS is enabled, certs are requir

[2021-06-03 07:50] #24116 closed

[2021-06-03 08:14] zimulala opened #25093 "The result of `timestamp` is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

0158f71cda6ccbbd382c6e8759904234baca259c

[2021-06-03 08:20] eurekaka commented on #25041
Filed a PR #25094 to solve this issue, the related incompatibility problems regarding only_full_group_by check are recorded in a separate issue https://github.com/pingcap/tidb/issues/25089.

[2021-06-03 08:26] #24869 closed

[2021-06-03 08:37] aytrack commented on #25086
can reproduce on `5.0.1`, but can't reproduce on master and `5.0.2` freeze commit(f610f8bd01b09790f9915fd）

[2021-06-03 09:24] #24473 closed

[2021-06-03 09:30] wshwsh12 opened #25099 "Enum index can't handle zero-value/empty-string correctly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

drop table t;
create table t(e enum("a","b","c"), index idx(e));
insert ignore into t values(0),(1),(2),(3);
select * from t where e = '';
select * from t where e != 'a';

drop table t;
create table t(e enum(""),  index idx(e));
insert ignore into t values(0),(1);
select *

[2021-06-03 09:42] seiya-annie opened #25100 "in v5.0.2, tidb_gc_scan_lock_mode default value is different in scratch installed server and upgrade server"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in scratch install server, the default value for tidb_gc_scan_lock_mode is PHYSICAL
but in the upgraded server(don't change this param before upgrade), the default value is LEGACY

MySQL [(none)]>

### 2. What did you expect to see? (Required)

### 3. What did you see instea

[2021-06-03 10:00] tangenta opened #25103 "Different types in `where in` clause are handled different from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL:
[code]

### 3. What did you see instead (Required)

TiDB:
[code]

### 4. What is your TiDB version? (Required)

master

[code]

[2021-06-03 10:27] seiya-annie opened #25104 "upgrade from v5.0.0 to v5.0.2 , report "TiFlash_schema_error " alert"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

upgrade from v5.0.0 to v5.0.2

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

TiFlash_schema_error&nbsp;(1 active)
--
alert: TiFlash_schema_error expr: increase(tiflash_schema_apply_count{type="failed"}[15m])   &gt; 0 for: 1m labe

[2021-06-03 10:34] seiya-annie commented on #25104
move to tiflash repo: https://github.com/pingcap/tics/issues/2071

[2021-06-03 10:40] #25104 closed

[2021-06-03 10:54] #24993 closed

[2021-06-03 11:06] martin-g commented on #23552
There are two new failing tests:

[code]

and

[code]

[2021-06-03 11:15] MyonKeminta commented on #25100
The problem is, on a new-created cluster that haven't do GC, the entry `tikv_gc_scan_lock_mode` is no written into the `mysql.tidb` table, and querying the `tidb_gc_scan_lock_mode` returns the wrong result "PHYSICAL", but the actual behavior is still "LEGACY".

[2021-06-03 11:17] wjhuang2016 commented on #24113
Since trace is supported by nature, I will close this issue.

[2021-06-03 11:17] #24113 closed

[2021-06-03 11:50] DanielZhangQD opened #25107 "Support graceful shutdown API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Since TiDB is a distributed SQL server, we have to use a load balancer to balance the traffics from the application, however, since the connections are usually persistent connections, so here are the issues:

- If we scale out new tidb-server during a high workload, the new TiDB servers cannot be used until new

[2021-06-03 11:52] wjhuang2016 commented on #20647
Close this issue because it's inactive.

[2021-06-03 11:52] #20647 closed

[2021-06-03 11:54] wjhuang2016 commented on #21063
Closed by https://github.com/pingcap/tidb/pull/21845

[2021-06-03 11:54] #21063 closed

[2021-06-03 12:01] martin-g commented on #23552
`testEvaluatorSuite.TestExprOnlyPushDownToFlash` also fails on my x86_64 machine, so it seems it is not something caused by ARM64

[2021-06-03 13:48] #23271 closed

[2021-06-03 14:20] #24794 closed

[2021-06-03 14:50] #24944 closed

[2021-06-03 15:52] youjiali1995 opened #25117 "Too many grpclogger's logs"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Start a nightly TiDB.

### 2. What did you expect to see? (Required)

No grpclogger's logs.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

Seems introduced by https://github.com/pingcap/tidb/pull/23534.

[2021-06-03 15:55] youjiali1995 commented on #25117
/cc @SabaPing

[2021-06-03 16:16] #25100 closed

[2021-06-03 17:53] #24557 closed

[2021-06-03 22:15] ichn-hu commented on #25038
I suspect that this incomptibility is due to mysql's bug https://bugs.mysql.com/bug.php?id=103872

[2021-06-03 22:51] yudongusa commented on #24893
Emm, MySQL's rewrite seems a little bit confused to me where count(3) vs. count(column) can return different results if there is NULL in "column". From the standard SQL point of view, the rewrite is non equivalent.  @XuHuaiyu @morgo  what do you think?

[2021-06-04 00:40] morgo commented on #25088
@ChenPeng2013 This affects 5.0 only. I will fix it.

The root cause is this code:
[code]

It should read:
[code]

The sysvar system permits specifying ENUM values by their ordinal value as well, so it is actually intentional that you can set it to  `0 = OFF, 1 = ON, 2 = INT_ONLY`. This behavior is borrowed from MySQL (but strangely not all enum sysvars in MySQL have this property).

[2021-06-04 00:48] luyomo commented on #25086
When can we get the 5.0.2 from tiup?
I would like to test it

[2021-06-04 01:42] morgo commented on #24893
It should be considered a bug.

I believe the specific EXPLAIN you have is from MySQL 8.0? In MySQL 5.7 it will not cache the condition, but it still executes with the same result as 8.0.

The 8.0 explain behavior is because MySQL will execute parts of queries during planning and cache/eliminate work (we can't match that, but we can match on results).

[2021-06-04 02:02] zhouqiang-cl opened #25121 "unstable test `testSerialSuite.TestTiDBLastTxnInfoCommitMode`"
## Bug Report

[code]
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/87/pipeline/18

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
releass

[2021-06-04 02:06] zhouqiang-cl opened #25122 "unstable test `tidbTestTopSQLSuite.TestTopSQLCPUProfile`"
## Bug Report
[code]

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/85/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
release-5

[2021-06-04 02:09] zhouqiang-cl opened #25124 "unstable test TestMemoryUsageAlarmVariable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/82/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master 41e

[2021-06-04 02:22] xiongjiwei commented on #25068
I think it is more like a feature request

[2021-06-04 02:23] LittleFall opened #25125 "CI"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-06-04 02:25] LittleFall opened #25126 "race: CI failed caused by data race at TestTableFromMeta"
## Bug Report

pr: https://github.com/pingcap/tidb/pull/25097
log: https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/4621/nodes/109/steps/284/log/?start=0

race log:
[code]

seems related to  https://github.com/pingcap/tidb/issues/20518

[2021-06-04 02:52] xiongjiwei commented on #24502
the root cause is function https://github.com/pingcap/tidb/blob/6154335ac01731bdcfdabbb978cd121f656956d2/util/stringutil/string_util.go#L155
we do not implement it correctly

[2021-06-04 02:55] morgo commented on #25056
Duplicate of https://github.com/pingcap/tidb/issues/23977

I'll take a look

[2021-06-04 02:56] morgo commented on #25068
Yeah, that makes sense. Thanks!

[2021-06-04 03:32] sylzd commented on #25093
/assign

[2021-06-04 03:57] morgo commented on #22502
I would like to propose a new unified sysvar called `tidb_experimental_switch`. The semantics will behave similar to [MySQL optimizer switch](https://dev.mysql.com/doc/refman/5.7/en/switchable-optimizations.html):

[code]

The behavior extension that I would like to add, is that wildcards are also permitted. This will permit for all experiments to be enabled or disabled. i.e.

[code]

(I am not su

[2021-06-04 03:57] zimulala commented on #25007
`date` and `datetime` also have this problem.

[2021-06-04 04:01] bb7133 commented on #24962
Hi @juravlikk , thanks for reporting this! For now, I cannot reproduce it.

[2021-06-04 04:07] bb7133 commented on #24962
Here is the result from my env:

[code]

[2021-06-04 04:40] zimulala commented on #25093
Related to #25007.

[2021-06-04 05:45] chAngeZhaoZhanBo opened #25137 "CI failed on TestBroadcastJoin"
## Bug Report

pr: https://github.com/pingcap/tidb/pull/25085
log: https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/8396/nodes/62/steps/73/log/?start=0

[2021-06-04 05:47] chAngeZhaoZhanBo commented on #25137
@bb7133 PTAL

[2021-06-04 05:54] #24636 closed

[2021-06-04 06:15] sylzd commented on #24323
concurrency of `Hash Aggregation` bring on this, should  I make it sequential?

[2021-06-04 06:29] qw4990 commented on #24162
Close since all work items have been finished 🎊

[2021-06-04 06:29] #24162 closed

[2021-06-04 06:33] seiya-annie opened #25144 "upgrade from v4.0.0 to v5.0.2, report "panic in the recoverable goroutine""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
performance.feedback-probability: 0.05
upgrade from v4.0.0 to v5.0.2, then check log
[2021/06/04 09:54:28.823 +08:00] [INFO] [region_cache.go:971] ["switch region leader to specific leader due to kv return NotLeader"] [regionID=23] [currIdx=1] [leaderStoreID=3]
[2021/06/04 0

[2021-06-04 06:45] zimulala opened #25147 "TestExprOnlyPushDownToFlash fail"
## Bug Report
[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/8458/pipeline

[2021-06-04 07:04] wjhuang2016 opened #25149 "Optimize CTE performance"
## Description

what's the problem, how to solve it

CTE is just implemented and not fully optimized. We hope that you can help us to optimize the performance of CTE.

## Document Collection

- Proposal doc: TBD
- Weekly report: TBD

## Talent Challenge Program information

- Mentor of this issue: @wjhuang2016
- Recommended skills: Golang, SQL.
- Estimated Workloads: (2XL, 2 man-months)

## Milest

[2021-06-04 07:10] wjhuang2016 opened #25150 "Expression index GA"
## Description

what's the problem, how to solve it

Make expression index GA

## Document Collection

- Proposal doc: TBD
- Weekly report: TBD

## Talent Challenge Program information

- Mentor of this issue: @wjhuang2016
- Recommended skills: Go, DDL
- Estimated Workloads: (2XL, 2 man-months)

## Milestones and action items

Milestone 1: Resolve remaining issues, Expected finish date: TBD

- [ ]

[2021-06-04 07:21] seiya-annie opened #25151 "v4.0.5 report "decode plan in statement summary failed""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. deploy v4.0.5 with tiup
2. run bank workload on it
3. check the log
found a similar issue https://github.com/pingcap/tidb/issues/21642 , but can't reproduce with the steps in 21642.
please help check whether this is a known issue.

### 2. What did you expect to see? (Req

[2021-06-04 07:30] xiongjiwei opened #25152 "GBK character set support in TiDB"
## Description

For now, tidb only supports few character sets(see [docs](https://docs.pingcap.com/zh/tidb/stable/character-set-and-collation)), while MySQL supports a lot. It is hard for us to add a new character set in tidb so that we need a character framework in tidb.

## Document Collection

- Proposal doc: [character support in tidb](https://docs.google.com/document/d/1SC0spRoNScR8-GwUNJ9ZHA

[2021-06-04 08:46] zhouqiang-cl opened #25157 "Bring some tests back online before 2021-06-18"
## Five unstable tests should bring online before 2021-06-18
- [x] TestTopSQLCPUProfile @crazycs520 by ???
- [x] TestAnalyzeGlobalStatsWithOpts @qw4990 by https://github.com/pingcap/tidb/pull/25487
- [x] TestAnalyzeGlobalStatsWithOpts2 @qw4990 by https://github.com/pingcap/tidb/pull/25487
- [ ] TestGlobalKillSuite.TestLostConnection @ichn-hu
- [ ] testSerialSuite1.TestMergeJoinInDisk @wshwsh12

Th

[2021-06-04 08:47] zjj1002 opened #25158 "snapshot feature request for tikv"
Feature Request

**Is your feature request related to a problem? Please describe:**
I would like a snapshot api just for tikv
Because i want to compare the diffenrent data from tikv and cassandra based on same Consistency

I hope to have a snapshot interface to ensure the consistency of transactions, so that I can export all the data of a certain time node under the guarantee of consistency
It is

[2021-06-04 08:53] qw4990 commented on #24010
TestAnalyzeGlobalStatsWithOpts2 also has this problem.

[2021-06-04 08:55] bb7133 commented on #25072
/cc @XuHuaiyu , PTAL

[2021-06-04 08:55] bb7133 commented on #25147
/cc @windtalker PTAL

[2021-06-04 08:57] bb7133 commented on #25121
This issue expects the backport of https://github.com/pingcap/tidb/pull/24779.

/cc @MyonKeminta

[2021-06-04 08:59] seiya-annie opened #25161 "upgrade from v4.0.5 to v5.0.2, global bindings lost, and report "update bindinfo failed""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
deploy v4.0.5 with tiup
use test;
drop table if exists t;
create table t(a int, b int, c int, index idx(a));
create global binding for select * from t where a < 1 using select * from t use index(idx) where a < 1;
create global binding for select * from t where a < 1 using se

[2021-06-04 09:00] bb7133 commented on #25124
/cc @wshwsh12 PTAL

[2021-06-04 09:06] bb7133 commented on #25074
Close it because it is duplicated with #23280

[2021-06-04 09:06] #25074 closed

[2021-06-04 09:12] YinWeiling opened #25163 "read metrics from Prometheus for telemetry report data shoudl use queryMetrics() func"
## Development Task

[2021-06-04 09:28] #25099 closed

[2021-06-04 09:52] bb7133 commented on #25144
Looks that it is related to stats feedback, PTAL @rebelice

[2021-06-04 09:53] guo-shaoge commented on #24768
Looks like we got bug in **PointGet** when **subquery** is used.

If we don't use **point get**, everything is OK, the SelectExec in UpdateExec is as following:

[code]

But if we use point get, we got the following wrong plan:
[code]

The wrong plan makes the output expr's column index of subquery be wrong(11 is correct and 2 is wrong).

[2021-06-04 10:01] lcwangchao opened #25167 "stale read like 'select ... as of timestamp ...' for point get not work'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-06-04 10:13] #25125 closed

[2021-06-04 10:28] xhebox commented on #25167
Will be fixed by #25156

[2021-06-04 10:32] #25007 closed

[2021-06-04 10:40] zhouqiang-cl opened #25169 "unstable test `builtin_time_vec_test.go:573: testVectorizeSuite2.TestVectorizedBuiltinTimeEvalOneVec`"
## Bug Report
[code]

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/91/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master 11f

[2021-06-04 10:56] #25124 closed

[2021-06-04 10:57] #24761 closed

[2021-06-04 10:58] wshwsh12 commented on #24761
Duplicate of https://github.com/pingcap/tidb/issues/25124

[2021-06-04 11:27] #24966 closed

[2021-06-04 12:10] AilinKid opened #25172 "cast: cast bit to varchar will occur incorrect utf8 value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[code]

[code]

### 2. What did you expect to see? (Required)
succeed

### 3. What did you see instead (Required)
as you see above

### 4. What is your TiDB version? (Required)

master

[2021-06-04 12:34] breeswish commented on #25122
@crazycs520 PTAL

[2021-06-04 12:46] xiongjiwei opened #25174 "data race when running mysql test with cte"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/4130/pipeline

[2021-06-04 13:24] lcwangchao opened #25176 "strange behavior when begin transaction when 'tidb_snapshot' is set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

s1, and s2 are two tidb connections.

| s1 | s2 |
| ------ | ------ |
| create table test.ttt (id int primary key, a int); |  |
|  insert into test.ttt values(1, 1); | |
| | begin; |
| update test.ttt set a=2 where id=1; | |
| | do sleep(1);set @@tidb_snapshot=TIMESTAMP(NOW

[2021-06-04 14:40] #25161 closed

[2021-06-04 16:04] #24584 closed

[2021-06-04 18:47] juravlikk commented on #24962
Hi @bb7133! According to your log, you have reproduced the issue, but by the other way - you got a warning message instead. Could you please tell me whether the alter query finally applied or not? And also could you please check the same alter with the `set` field of 86 characters length or less? Does the warning occur?

[2021-06-04 22:14] lcwangchao commented on #25176
@cfzjywxk PTAL

[2021-06-04 22:26] lcwangchao commented on #25176
It seems when building a executor, getSnapshotTs's return uses sys var 'SnapshotTS' once it isset ignoring the txn's startTs.

https://github.com/pingcap/tidb/blob/fbbada3f0f3c2c18f8af62dbe04c93144d6d83cb/executor/builder.go#L1397-L1404

And when opening PointGetExecutor, it will step to line 135 if for update read ts is bigger than txn read ts, thats why it only happends after a select ... for up

[2021-06-05 02:06] morgo commented on #22502
I have a demo available:

[code]

[2021-06-05 06:02] #25174 closed

[2021-06-05 07:00] #25002 closed

[2021-06-05 10:07] bb7133 opened #25179 "A possible code improvement for querying metrics from Prometheus."
## Development Task

It can be noticed that we have some shared code snippets for querying metrics from Prometheus in:

- https://github.com/pingcap/tidb/blob/35eded065e45ff12685ba0a3bb27a969e8d66606/executor/metrics_reader.go#L90
- https://github.com/pingcap/tidb/blob/b21aed8cc46e229b74fcd4e96e9f4170ceecde98/telemetry/data_slow_query.go#L113

We can improve the code by:

- Creating a separate uti

[2021-06-05 12:18] bb7133 opened #25181 "Bring some tests back online before 2021-06-19"
## Development Task

#25149 e unstable tests should bring online before 2021-06-19:
- [ ] testSuite.TestApplyGoroutinePanic @qw4990

It is skipped in:
- https://github.com/pingcap/tidb/pull/25180

[2021-06-05 15:43] zimulala opened #25183 "`TestChangingColOriginDefaultValue` is not meaningful to verify #22500"
## Bug Report

`TestChangingColOriginDefaultValue` is used to test #22500. But remove the [change](https://github.com/pingcap/tidb/pull/22500/files#diff-42e0180cdc8c14def674a9e45d908d6700f6a8ccba0f9ff4b14b27c0daa49859R850) in ddl/column.go we also can pass `TestChangingColOriginDefaultValue`.

[2021-06-05 16:34] zimulala commented on #24951
@pengdaqian2020
Thank you very much for your reply!
Sorry, did not reply you in time to see this, if you find our reply is not timely, can through the slack (https://tidbcommunity.slack.com/archives/CMAKWBNJU).
The problem to be considered is rather complicated and we need to finish it in the near future, so I will deal with it first. And  welcome your comments on my PR.
If you are interested in f

[2021-06-06 05:20] zimulala opened #25186 "Update date return an error during conversion from `timestamp` to `date`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
TiDB need to `set set global tidb_enable_change_column_type = 1;`

### 1. Minimal reproduce step (Required)

Find this issue when fix #24951. Related #22500.
[code]

|  conn1                                                     | conn2   |
-----------------------------------------------------------|-----------
| `alt

[2021-06-06 08:04] #24695 closed

[2021-06-06 08:56] #24951 closed

[2021-06-06 09:42] cfzjywxk commented on #25176
@lcwangchao
Thanks for the feedback, the behaviour is strange and we'll disscuss about the `tidb_snapshot` variable when it's used with the pessimistic transaction.

[2021-06-06 15:24] zhouqiang-cl opened #25187 "unstable test `analyze_test.go:584: testSuite1.TestAnalyzeIncremental`"
## Bug Report
[code]

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/202/nodes/125/steps/545/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requi

[2021-06-06 15:27] zhouqiang-cl opened #25188 "unstable test `analyze_test.go:561: testSuite1.TestAnalyzeIndex`"
## Bug Report

[code]
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/195/nodes/125/steps/527/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requi

[2021-06-06 15:32] zhouqiang-cl opened #25189 "data race in `github.com/pingcap/tidb/store/mockstore/unistore.(*RPCClient).SendRequest()`"
## Bug Report
[code]

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/189/nodes/105/steps/330/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requi

[2021-06-06 15:35] zhouqiang-cl opened #25190 "unstable test `point_get_plan_test.go:58: testPointGetSuite.TearDownSuite`"
## Bug Report

[code]
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci  https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/186/nodes/134/steps/606/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requ

[2021-06-06 15:37] zhouqiang-cl opened #25191 "unstable test `join_test.go:1184: testSuiteJoin1.TestIndexLookupJoin`"
## Bug Report
[code]

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/183/nodes/125/steps/446/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requi

[2021-06-07 01:06] equiclouds opened #25192 "To support a TiDB has multiple databases, and each database has multiple schemas, each schema has multiple tables and views, etc."
## Feature Request

**Is your feature request related to a problem? Please describe:**
MySQL only has two level to organize data, that is schema and table. If creating multiple databases, Many MySQL instance must be set. It't is easy for mysql but not for TiDB. But always many applications need use multiple schemas (may be eash module use an schema or eash subsystem use an schema). Thus the TiDB c

[2021-06-07 01:32] bnuboy commented on #25192
It is very important for tidb to support multiple databases.

[2021-06-07 02:58] oraluben opened #25193 "Incompatible convention of `timestamp` with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-06-07 04:40] PragmaTwice opened #25196 "dml: Missing column name in error message for ERROR 1055 (only_full_group_by)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-06-07 04:47] hicqu opened #25197 "allocHandleIDs conflicts very heavy when there are lots of tables in one database"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. creating 8192 tables for sysbench:
  sysbench --tables=8192 --table-size=0 --threads=32 --auto-inc=false oltp_insert prepare
2. run oltp_insert for these tables:
  sysbench --tables=8192 --table-size=0 --threads=1024 --auto-inc=false oltp_insert run

### 2. What did you

[2021-06-07 04:53] guo-shaoge commented on #24900
TiDB is same with MySQL 5.7

    Server version: 5.7.25

    mysql> insert ignore into t1(col2, col3) values(0x3635313836, 2152), (0x3635313836, 2152);
           select * from t1;
    Query OK, 2 rows affected, 2 warnings (0.00 sec)
    Records: 2  Duplicates: 0  Warnings: 2

    +------+------------+------+------+
    | COL1 | COL2       | COL3 | COL4 |
    +------+------------+------+------+

[2021-06-07 05:03] MyonKeminta commented on #25121
The cherrypick to 5.0 was merged

[2021-06-07 05:03] #25121 closed

[2021-06-07 06:00] jebter commented on #24473
The release-5.0  has the same problem

[2021-06-07 06:05] PragmaTwice opened #25199 "dml: TiDB rejected valid select statement due to only_full_group_by while MySQL don't"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
`only_full_group_by ` is also enabled in MySQL.
### 3. What did you see instead (Required)
[code]
Interestingly, the column name `'.g.'` in this message is also weird.
### 4. What is your TiDB version? (Required)
[

[2021-06-07 06:32] #23619 closed

[2021-06-07 06:48] rebelice opened #25200 "wrong result when using `double`, `cast`, `union`, `unaryminus` and `0.0`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Please use tiup to deploy TiDB cluster.
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
Empty Set.

### 4. What is your TiDB version? (Required)
[code]

[2021-06-07 07:06] PragmaTwice opened #25202 "dml: wrong result in subquery with `order by` clause"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-06-07 07:21] djshow832 opened #25204 "Local temporary table"
## Description

A temporary table is a special table whose rows data are only temporarily available. https://github.com/pingcap/tidb/issues/24169

TiDB has implemented [global temporary tables](https://github.com/pingcap/tidb/projects/60), which is not enough to be released. We need also to implement local temporary tables.

## Document Collection

- Proposal doc: https://github.com/pingcap/tidb/p

[2021-06-07 07:24] eurekaka commented on #24893
I failed to reproduce this problem following either the original steps in the issue description, or the simplified steps in https://github.com/pingcap/tidb/issues/24893#issuecomment-851953800. I have tried the GitHash d5e0ed0aaed72d2f2dfe24e9deec31cb6cb5fdf0 also, TiDB returns correct result as well. Besides, results are consistent when using unistore and real tikv. Are there any steps I am missin

[2021-06-07 07:40] wshwsh12 commented on #24955
Duplicate of #24972

[2021-06-07 07:40] #24955 closed

[2021-06-07 07:40] #24900 closed

[2021-06-07 07:40] wshwsh12 commented on #24972
This issue is a mysql bug, and it has verified by mysql team. So I close this issue now.

[2021-06-07 07:40] #24972 closed

[2021-06-07 08:00] wshwsh12 commented on #25067
'1989' and '2015' is incorrect time value, so they will convert to NULL.
In mysql docs, https://dev.mysql.com/doc/refman/8.0/en/comparison-operators.html#operator_between
`between` is equivalent to the expression (min <= expr AND expr <= max), but for datetime type, it is not.
In mysql 8.0:
[code]
TiDB will convert the condition to (col_14 <= NULL AND col_14 <= NULL) and gets NULL, and not null wi

[2021-06-07 08:00] #25067 closed

[2021-06-07 08:20] alex-quan-001 opened #25207 "release: v5.0.3"
- [x] June 24 merge finished

- [x] June 24, seal version and release note review
- [x] Released on June 30 -> July 2

[2021-06-07 08:21] alex-quan-001 opened #25208 "release: v4.0.14"
- [x]  1 July 20 merge finished

- [x] 2 July 20, seal version and release note review
- [x] 3 Released on July 22 -> Delay
- [x] Postponed to July 29th (due to bug found in regression testing, investigation and repair in progress)

[2021-06-07 08:31] tiancaiamao commented on #25197
The conflict stack:

[code]

[2021-06-07 08:52] JinheLin opened #25211 "UPDATE result not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**TiDB version: v5.0.0-nightly-20210605**
[code]

**MySQL version: 8.0.25**
[code]
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-06-07 09:38] qw4990 commented on #21847
Close since it has been solved by https://github.com/pingcap/tidb/pull/24856.

[2021-06-07 09:38] #21847 closed

[2021-06-07 09:44] qw4990 commented on #16681
Close since it has been solved.
[code]

[2021-06-07 09:45] xiongjiwei commented on #25211
maybe related https://github.com/pingcap/tidb/pull/20493

[2021-06-07 09:50] lance6716 opened #25216 "Dumpling's exporting transaction has CurTxnStartTS = 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I added a log in `(*Server).ShowProcessList` printing `CurTxnStartTS`. Then deploy tiup playground and hotpatch the tidb binary.

Dumpling's action could be imitated as

[code]

### 2. What did you expect to see? (Required)

printed CurTxnStartTS should be the TSO of tidb_s

[2021-06-07 09:53] you06 opened #25217 "Some bugs on date types boundary values"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

I ran the [sql-boundary](https://github.com/you06/sql-boundary) on TiDB, and find the 50 failure cases.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

update statement, should got failed.

### 3. What did you see instead (Required)

update statement successes, the

[2021-06-07 10:32] tiancaiamao commented on #25197
The txn conflicts on the `dbKey` here https://github.com/pingcap/tidb/blob/f3e2b798221bfc721f02d92449ec24788202746c/meta/meta.go#L194

**The `HInc` API's design seems silly**.
It maintains a meta info (field count) of the hash structure, and the meta info is stored in the this key:
https://github.com/pingcap/tidb/blob/f3e2b798221bfc721f02d92449ec24788202746c/structure/hash.go#L130-L141

Every time

[2021-06-07 10:32] tiancaiamao commented on #25197
I'll modify the code to avoid this txn conflict ...

[2021-06-07 11:08] lysu opened #25219 "panic on DeriveStats for secondary index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

47f0f15b14ed54fc2222f3e304e29df7b05e6805

[2021-06-07 11:11] lysu commented on #25219
@winoros @lzmhhh123  PTAL， it seems 5.1 release branch also has this problem

[2021-06-07 11:36] ChenPeng2013 opened #25220 "ERROR 1105 (HY000): encoding failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

release-5.0

[code]
### 2. What did you expect to see? (Required)
Don't have error info

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-06-07 12:28] #23802 closed

[2021-06-07 13:33] bb7133 opened #25223 "Bring some tests back online before 2021-06-22"
## The following unstable tests should bring online before 2021-06-22
- [ ] testResourceTagSuite.TestResourceGroupTag (#25189) @crazycs520
- [ ] testSuiteJoin1.TestIndexLookupJoin (#25191) @guo-shaoge
- [ ] testSuite1.TestAnalyzeIndex (#25188) @qw4990
- [ ] testSuite1.TestAnalyzeIncremental (#25187) @qw4990
- [ ] testVectorizeSuite2.TestVectorizedBuiltinTimeEvalOneVec (#25169) @guo-shaoge

They ar

[2021-06-07 13:55] zhangguiyu opened #25225 "ALTER USER REQUIRE SSL or X509 clears out user's authentication_string (password)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

`mysql> select user,host,authentication_string from mysql.user;
+-------------+-----------+-------------------------------------------+
| user        | host      | authentication_string                     |
+-------------+-----------+---------------------------------------

[2021-06-07 14:58] bb7133 commented on #25223
/cc @zhouqiang-cl @pingcap/sql-infra-reviewers

[2021-06-07 15:09] dveeden commented on #22502
I think having something like this would be good and helps people to avoid experimental or deprecated features.

It might be useful to have a `tidb_enable_deprecated_features` with ON/OFF/WARN. So ON would not result in warnings etc but WARN would. Warnings could be in logging or as SQL warnings or both.

For the `tidb_experimental_feature_switch`: We could consider JSON for this as that is easier

[2021-06-08 00:58] tisonkun commented on #24190
Hi @SabaPing , what is the next step you would like to go?

[2021-06-08 02:31] youjiali1995 commented on #25216
Duplicated with https://github.com/pingcap/tidb/issues/23380

[2021-06-08 02:44] #24912 closed

[2021-06-08 02:45] #25037 closed

[2021-06-08 03:02] ichn-hu commented on #25038
@zimulala shall we close this issue since mysql has verified this bug?

[2021-06-08 03:46] morgo commented on #25225
Verified against master:
[code]

[2021-06-08 03:47] lzmhhh123 commented on #25202
It is because we transfer subquery to join, then the single line `NULL` result of the subquery disappears.

[2021-06-08 03:54] you06 commented on #22837
Lock table sounds terrible, that will introduce a great performance impact.

[2021-06-08 04:37] #25216 closed

[2021-06-08 05:54] hanfei1991 opened #25234 "Prune the dual table"
## Feature Request
In optimizer, it will replace a forever-empty table (like table scan with a constant false) with a "dual" table. This opt can save the rpc calls to TiKV or TiFlash engine. But this opt still miss some cases, there are two opts that're worthy to do:

- inner/semi join with dual table. In this case, we can replace inner join with dual table 'cause the result of join is empty too.

[2021-06-08 06:08] guo-shaoge opened #25235 "Unreasonable behavior when use CTE in view"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists t1;
    drop view if exists vv;
    create table t1(c1 int primary key);
    insert into t1 values(1), (2), (3);
    create view vv as with recursive cte1(c1) as (select c1 from t1 where c1 = 2 union select c1 + 1 c1 from cte1 where c1 < 3) select *

[2021-06-08 07:15] qw4990 opened #25239 "wrong partition statistics of empty partitions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The estRows of p0 should be 0 and the total estRows should be 3;

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-06-08 07:50] tangenta opened #25243 "`union all` in binary type is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

There are some redundant zeros in the result returned by TiDB.

### 2. What did you expect to see? (Required)

MySQL 8.0:
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[2021-06-08 07:59] Lily2025 opened #25244 "QPS dropped severely during the upgrade"
**1. Minimal reproduce step (Required)**
1. deploy a v4.0.11 tidb cluster with 3pd 2db 1ha 4kv.
2. restore 2T tpcc data (about 6T data in cluster) with br
3. run go-tpc -H x -P x-D tpcc30k tpcc run -T 400 --warehouses 30000 --time 10h --ignore-error
4. upgrade the tidb cluster from v4.0.11 to v5.0.2

**2. What did you expect to see? (Required)**
The upgrade is successful without significant perfor