[2020-08-31 04:16] coocood commented on #19604
I think the concept is the same as cost-base optimizer, except that is estimated, this is actual.

[2020-08-31 04:20] nullnotnil commented on #19604
Maybe `events`?

[2020-08-31 04:29] zz-jason commented on #19537
it's better to get a stable lower and upper bounds.

[2020-08-31 04:53] rebelice commented on #19537
OK, I'll try to solve it.

[2020-08-31 05:14] coocood commented on #19604
But not all events are equal cost.

[2020-08-31 05:50] ichn-hu commented on #19517
/assign @ichn-hu

[2020-08-31 06:05] lysu opened #19607 "make ddltest block forever"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run-ddl-integration-test in master

### 2. What did you expect to see? (Required)

pass

### 3. What did you see instead (Required)

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_ddl_test/detail/tidb_ghpr_integration_ddl_test/1691

[2020-08-31 06:12] lysu commented on #19607
it seems caused by https://github.com/pingcap/tidb/pull/19581

@XuHuaiyu  PTAL

[2020-08-31 06:30] lysu opened #19609 "copr-test always fail"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run corp-test in master

### 2. What did you expect to see? (Required)

pass

### 3. What did you see instead (Required)

all PRs failed at

[code]

### 4. What is your TiDB version? (Required)

master

[2020-08-31 06:32] lysu commented on #19609
it caused by https://github.com/pingcap/tidb/pull/19485 @dyzsr  PTAL

[2020-08-31 06:42] SunRunAway commented on #19332
Sorry I hadn't seen the existing proposal before. We can discuss here because it has a detailed plan for migrating items in config file to instance/global variables.

[2020-08-31 06:45] #19500 closed

[2020-08-31 06:52] Patrick0308 commented on #19571
I think I can help you.

[2020-08-31 07:04] SunRunAway commented on #18700
@zhangysh1995 Me neither. Could you help verify?

[2020-08-31 07:07] nullnotnil commented on #19604
How about `weight`?

[2020-08-31 07:07] #17804 closed

[2020-08-31 07:07] #17806 closed

[2020-08-31 07:13] coocood commented on #19604
Sounds OK.

@zz-jason what do you think?

[2020-08-31 07:20] zz-jason commented on #19604
I'm ok with `weight`.

[2020-08-31 08:02] alitrack opened #19615 "fail to compile master version of tidb-server"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

successfully compile and get tidb-server

### 3. What did you see instead (Required)

[code]

I notice there is no github.com/pingcap/pd/pd-client, but exists github.com/pingcap/pd/client

### 4. What is your TiDB versi

[2020-08-31 08:26] JaySon-Huang opened #19617 "TiFlash will throw exceptions when there are duplicated column names"
## Bug Report

### 1. Minimal reproduce step (Required)

1. Deploy a cluster with TiFlash node
2. Create a table using
[code]
3. When TiFlash syncs its schema with TiDB, it will throw an exception that `_col$_c2` already exists.

### 2. What did you expect to see? (Required)
TiFlash keeps an assumption that all column names are unique. No matter the column is public or not. When we try to modify a

[2020-08-31 08:29] JaySon-Huang commented on #19617
@zimulala @AilinKid

[2020-08-31 10:21] zhangysh1995 commented on #18700
I tried but could not reproduce, I think there is something wrong with my submitted test case. You may want to close this issue. @SunRunAway

[2020-08-31 11:08] xiongjiwei commented on #19596
/assign

[2020-08-31 11:24] #15644 closed

[2020-08-31 11:47] zz-jason opened #19624 "support altering primary key to utilize the clustered primary index"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In TiDB 5.0, TiDB supports the clustered primary index. But it doesn't support altering a non-integer primary index (see the config [`alter-primary-key`](https://docs.pingcap.com/tidb/stable/tidb-configuration-file#alter-primary-key) for details), which prevents an existing table to utilize the clustered primar

[2020-08-31 12:09] #19609 closed

[2020-08-31 13:15] watchpoints opened #19626 "Performance enhance about writeResultset  function"
## Description
## General Question

I am using TiDB 4.04  ,Ubuntu 18.04，Virtual CPU 3  ，2G ,Tidb   pd TiKV   1:1:1

I'm using sysbench(oltp_point_select  , 16 tables, 66666 rows) to test the performance of TiDB today.

I find that Writing query results back to the client （writeResultset）is  slow
（TCP default  local transmission  about 20-40ms ）

How to improve concurrency without improving the mac

[2020-08-31 13:55] #18341 closed

[2020-08-31 14:50] markjenny opened #19627 "[enhance] Try to optimize memory cost of the value copy in the initlialize.go"
# topology
running the tiup playground on my laptop. 1 TiKV, 1 TiDB and 1 PD.

# workload
using sysbench to create one database consist of 32 tables. There're 10000 records in each table.
[code]

# profile
generate the profile using the method below
···
curl http://{TiDBIP}:10080/debug/zip?seconds=60 --output debug.zip
···

the heap profile is [here](https://github.com/markjenny/markjenny.github.c

[2020-08-31 15:24] #19504 closed

[2020-08-31 15:31] markjenny opened #19629 "[enhance] Try to reduce the reallocation of insertPlan in the buildValuesListOfInsert"
# topology
running the tiup playground on my laptop. 1 TiKV, 1 TiDB and 1 PD.

# workload
using sysbench to create one database consist of 32 tables. There're 10000 records in each table.
[code]

# profile
generate the profile using the method below
[code]

the heap profile is [here](https://github.com/markjenny/markjenny.github.com/blob/master/images/heap_profile.svg)
The most memory cost is in t

[2020-08-31 20:24] nullnotnil commented on #19332
SGTM. I like the migration plan, and the details all make sense. What I would propose is that config file variables have a mapping to mysql-like names, so they can naturally appear in this list https://docs.pingcap.com/tidb/stable/system-variables and use MySQL sysvar setting syntax. In most cases, this can be done by converting a `.` to `_`. Thus:

[code]

There might be some variables that need

[2020-08-31 20:30] nullnotnil commented on #19604
Awesome, I've updated the description.

[2020-08-31 20:51] nullnotnil commented on #19598
Thank you for the feedback!

The first issue looks like a duplicate of https://github.com/pingcap/tidb/issues/19539 - would you agree?

[2020-08-31 21:50] nullnotnil opened #19631 "new connection establishment very slow"
## Performance Questions

- What version of TiDB are you using?

I have a 16 thread system, which I deploy a tiup playground on, then run the following:
[code]
This doesn't load my CPUs very much. It appears to be write IO bound (~I am using a fast NVMe device~. **Edit:** I made a mistake, this test was using a SATA SSD).

![image](https://user-images.githubusercontent.com/67764674/91770765-fa9a55

[2020-08-31 21:57] nullnotnil commented on #19631
Even with tpcc prepare running in 8 threads there is still lots of variance:
[code]

[2020-08-31 23:04] nullnotnil commented on #19631
It looks like I made a mistake where tiup was saving data. The bottleneck is my SATA SSD (Samsung evo860). In any case, I will leave this open because it should be possible to establish a connection without performing disk IO. This may be important in cloud environments where latency is higher.

[2020-09-01 01:10] dong369 opened #19632 "DM多源同步数据到tidb，表级操作如何不影响tidb"
源多个库的表入tidb的同一张表，其中某个源库表truncate的时候，只会truncate下游部分数据，不会truncate整张表

[2020-09-01 01:49] #18838 closed

[2020-09-01 01:58] #17209 closed

[2020-09-01 02:18] ZenoTan commented on #19632
/label sig/execution

[2020-09-01 02:20] ZenoTan commented on #19629
/label sig/planner

[2020-09-01 02:25] ZenoTan commented on #19627
/label type/suggestion

[2020-09-01 02:28] ZenoTan commented on #19626
/label sig/execution

[2020-09-01 02:40] ZenoTan commented on #19615
go get should add a hash number.

[2020-09-01 02:59] Win-Man opened #19634 "TiDB can insert '0000-00-00 00:00:00' in strict sql_mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

MySQL-5.7.23
[code]

### 3. What did you see instead (Required)
TiDB can insert '0000-00-00 00:00:00' in strict sql_mode

### 4. What is your TiDB version? (Required)

[code]

[2020-09-01 03:09] lilinghai opened #19636 "pessimistic_test.go:testPessimisticSuite.TestGenerateColPointGet failed"
pessimistic_test.go:testPessimisticSuite.TestGenerateColPointGet

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/47216/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/47217/display/redirect

[2020-09-01 03:13] SunRunAway commented on #18745
I reopened this issue because extra works will be needed after #18117 is finished.
1) an interface to let users dump historical statistics according to a timestamp
2) a default GC time for statistics table.

[2020-09-01 03:19] tangenta opened #19637 "Improve the maintainability of slow log time metrics code"
## Development Task
As the demand grows, there are a lot of codes to log the cost time in each phase of SQL execution. The snippets like
[code]
spread everywhere, making it hard to understand & maintain.

We can use a struct to represent these cost times.

[2020-09-01 03:27] #18714 closed

[2020-09-01 03:42] lijiawen opened #19638 "TiDB unsupported modify column type varchar(20) not match origin bigint"
how to modify column type?
TiDB not support bigint to varchar

[2020-09-01 04:04] ichn-hu commented on #19632
您考虑下在 [asktug](https://asktug.com/) 问下看呢？

[2020-09-01 04:33] nullnotnil commented on #18008
As noted in the description, this is useful for JSON. But this use case is currently not supported by the optimizer due to a regression: https://github.com/pingcap/tidb/issues/14456

[2020-09-01 06:25] Win-Man opened #19643 "tidb-server won't create tidb_slow_query.log after remove it"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

TiDB 会在重启之后，第一次遇到慢日志需要记录时，如果发现没有慢日志文件，会自动创建。后续如果在创建慢日志之后，手动删除了慢日志，即使出现慢日志也不会主动创建，需要重启才可以。

### 2. What did you expect to see? (Required)
tidb-server will create `tidb_slow_query.log` if it not exists.

### 3. What did you see instead (Required)
tidb-server won't crea

[2020-09-01 06:26] zz-jason commented on #19405
Since we have supported [`APPROX_COUNT_DISTINCT()`](https://github.com/pingcap/parser/pull/906), how about using `APPROX_PERCENTILE()` to implement [`quantileExact()`](clickhouse.tech/docs/en/sql-reference/aggregate-functions/reference/quantileexact) function in Clickhouse?

[2020-09-01 06:27] youwithouto opened #19644 "Large Memory Usage While Running TPC-H"
## Performance Questions
When running a particular TPC-H query, TiDB was using around 2 GB of memory. Is this the correct behaviour?
The context is given below.

- What version of TiDB are you using?
  v4.0.4

- What's the observed and your expected performance respectively?
  Around 2 GB of memory was used while running one of the queries.

- Have you compared TiDB with other databases? If yes, w

[2020-09-01 06:40] leiysky commented on #19405
@zz-jason That's fine.

[2020-09-01 06:49] #16667 closed

[2020-09-01 06:52] crazycs520 commented on #16964
@Ishiihara Thanks for your report. This should be fixed in https://github.com/pingcap/tidb/pull/19648.

[2020-09-01 06:53] zz-jason opened #19650 "make it able to define a composite primary key on a `auto_increment` attribute"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]

**Describe the feature you'd like:**

Since TiDB 5.0, the clustered primary key is supported by default. Users may define an `orders` table with a primary key on `(customer_id, order_id)` to have all the `orders` belong to a customer stored in the same TiKV Region to achieve low query latency without se

[2020-09-01 06:56] wowdba opened #19651 "mysql-connector-java get metadata.Isnull doesn't meet expectations"
## Bug Report

### 1. Minimal reproduce step
mysql-connector-java version: 5.1.49 & 8.0.15
1.Create table
[code]
2.Running code(java)
[code]

### 2. What did you expect to see?
[code]
### 3. What did you see instead
[code]
MySQL return  “id 0 gmt_create 1”
### 4. What is your TiDB version?

4.0.4

[2020-09-01 07:03] zimulala commented on #19617
TiDB can't execute `modify column` and `add column` for the same table in parallel.

[2020-09-01 07:13] tirsen commented on #19650
IIUC the workaround is to specify `engine=myisam` but we need auto_increment columns that are unique across all primary key prefixes which won't be the case after this bug has been fixed: https://github.com/pingcap/tidb/issues/19432

[2020-09-01 07:16] tirsen commented on #19650
The other workaround is just to add the index on the auto_increment column but that index will have a contested last range ("hot tail shard") during inserts which might not work for some of our more heavily written tables.

[2020-09-01 07:17] time-and-fate commented on #13389
/assign time-and-fate

[2020-09-01 07:28] alitrack commented on #19615
I successfully compile it by using make command, thanks.

[2020-09-01 07:28] #19615 closed

[2020-09-01 07:36] wjhuang2016 commented on #18489
@tangenta  PTAL

[2020-09-01 07:38] wjhuang2016 commented on #18336
@AilinKid Any update?

[2020-09-01 07:44] yufan022 opened #19653 "slow SQL query about CLUSTER_SLOW_QUERY"
## Performance Questions
high performance tidb lesson 03
more infomation: https://github.com/yufan022/High-Performance-TiDB-Homework/tree/master/lesson03

tidb slow query

- What version of TiDB are you using?
v4.0.0

- What's the observed and your expected performance respectively?
When execute TPC-C benchmark, found some slow SQL query, it's about querying `INFORMATION_SCHEMA`.`CLUSTER_SLOW_QUER

[2020-09-01 07:51] XuHuaiyu opened #19654 "indexjoin should take collation into consideration"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
empty set

### 4. What is your TiDB version? (Required)

master @ 349adf85e06df73e219ebb837fde0069105930b9

[2020-09-01 07:53] XuHuaiyu commented on #19654
another case needs to be tested
[code]

[2020-09-01 08:17] wangwei129 opened #19656 "Test: sysbench write_only, io package increased then decreased when concurrency increased"
## Description
## 测试语句
sysbench --config-file=../sysbench/tidb.cfg  oltp_write_only --tables=6 --table-size=100000 run

## 下面是并发8，24，72，216，648，800，1200 的测试结果

[code]

[code]

为何 IO的包大小 变的越来越大 ？是怎么做的呢？ ，到1200并发的时候又变小了，又是因为什么呢？

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

## Score
- 300

## Mentor
 * @SunRunAway

[2020-09-01 08:20] #19342 closed

[2020-09-01 08:25] XuHuaiyu commented on #19654
It's not a bug

[2020-09-01 09:06] darkelf21cn opened #19660 "Unsupported collation breaks TiFlash"
## Bug Report

I know TiDB only supports a subset of the collations of MySQL. Unsupported collations in the DDL will be ignored for compatibility purposes which is awesome. However, TiFlash seems not to follow the same approach.

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

- Create a table with unsupported collation.
[code]
- Add a

[2020-09-01 09:30] nolouch commented on #19638
Hi, @lijiawen, you can read the [documents](https://docs.pingcap.com/zh/tidb/stable/sql-statement-change-column#mysql-%E5%85%BC%E5%AE%B9%E6%80%A7).

[2020-09-01 09:32] nolouch commented on #19636
PTAL @cfzjywxk

[2020-09-01 10:11] ZenoTan commented on #19634
/label sig/ddl

[2020-09-01 10:12] ZenoTan commented on #19627
Thanks for your advice, our team will take a look at this.

[2020-09-01 11:15] SunRunAway opened #19663 "Got `Query execution was interrupted` when graceful shutdown"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

During the sleeping, kill(sig terminate) the tidb-server

### 2. What did you expect to see? (Required)

[code]
And after the result returned, the server exits gracefully.

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB ve

[2020-09-01 11:35] #19410 closed

[2020-09-01 11:54] leiysky opened #19667 "Wrong result of `DATE_ADD` function"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Create a table `t`:
[code]

Insert a record:
[code]

The following SQL will produce different result from MySQL:
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[co

[2020-09-01 11:54] Damanchen opened #19668 "Suggestion: optimization of async io"
## Description
- 部署环境
   - CPU   12核 Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz
   - 内存  16GB
   - 磁盘  ST1000DM010 - hard drive - 1 TB
   - 一台机器上面部署3个TIKV，1个PD，1个TIDB，1个Tiflash
- 压测命令
   - ```./bin/go-tpc tpcc -H 10.234.11.200  -P 4000 -D tpcc --warehouses 4 run --time 10m  --threads 32```
- 对应profile的情况
  - 在进行压测的时候，I/O util被打满，但是在没有压测时候，也会出现I/O Util被打满一段时间的情况
- 建议优化
  - 没在进行压测的时候，可能是有异步任务在跑，会对磁盘进行一

[2020-09-01 11:58] #18674 closed

[2020-09-01 12:01] qw4990 commented on #19537
Since the unstable bound is reasonable, I change the priority to P2.

[2020-09-01 12:03] ichn-hu commented on #19667
That's weird, would like to tell us how do you find this bug?

[2020-09-01 12:05] leiysky commented on #19667
@windtalker found this bug.

[2020-09-01 12:07] leiysky commented on #19667
Maybe `Time.DateFormat` will handle DST(Daylight Saving Time) with current timezone, just an assumption.

[2020-09-01 12:09] #19314 closed

[2020-09-01 12:16] SunRunAway commented on #19667
After setting `set time_zone = "+07:00";`, the bug still exists. So it looks like another bug.
[code]

[2020-09-01 12:18] qw4990 commented on #16781
Close since it cannot be reproduced. We can open it in the future if this problem occurs again.

[2020-09-01 12:18] #16781 closed

[2020-09-01 12:31] crazycs520 opened #19673 "redundant cop_task runtime information"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

`IndexReader_16 ` has 4 `cop_task` information in `execution info`

[code]

### 2. What did you expect to see? (Required)

Only 1 `cop_task` information.

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master
[code]

[2020-09-01 12:35] bb7133 commented on #19667
Looks that the `SYSTEM_TIME_ZONE` is used instead:

[code]

But if I change the `system_time_zone` to `CST`, the result would be `03:00:00`.

[2020-09-01 12:36] zanmato1984 commented on #19660
Hi @darkelf21cn , we confirmed this is a bug in TiFlash.

And something else to confirm with you: I guess besides the reproducing steps you described, you must have some extra DDLs that adds a `enum/set` type column with a default value. Otherwise this bug won't be triggered.

Anyway, we'll get it fixed ASAP.

Thanks.

[2020-09-01 12:42] Win-Man opened #19676 "The result of stddev_pop(distinct xxx) is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2020-09-01 13:01] sre-bot opened #19677 "executor_test.go:testSuite.TestCoprocessorOOMAction failed"
executor_test.go:testSuite.TestCoprocessorOOMAction

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/47585/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/49014/display/redirect

[2020-09-01 13:01] leiysky commented on #19667
Change system time zone to `+7:00` will fix the problem.

[code]

[2020-09-01 13:01] sre-bot opened #19678 "simple_test.go:testSuite3.TestDropStatsFromKV failed"
simple_test.go:testSuite3.TestDropStatsFromKV

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check/52411/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/48984/display/redirect

[2020-09-01 13:01] sre-bot opened #19679 "telemetry_test.go:testSuite.Test01TrackingID failed"
telemetry_test.go:testSuite.Test01TrackingID

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/48803/display/redirect

[2020-09-01 13:05] #19280 closed

[2020-09-01 13:14] leiysky commented on #19667
@SunRunAway You can try to change system time zone to `+7:00`, and keep `@@time_zone` set to `+7:00`. The bug shouldn't occur in this case.

[2020-09-01 13:18] #13961 closed

[2020-09-01 13:32] darkelf21cn commented on #19660
@zanmato1984 Thanks for looking into this. I think you are right. We do have an enum column in that table and it seems to be the trigger.
[code]

[2020-09-01 13:37] windtalker commented on #19667
According to MySQL, datetime should not be DST sensitive, so I think `SELECT DATE_ADD(a, INTERVAL 1 SECOND) FROM t` should always return `1988-04-17 02:00:00` for all the timezone.

[2020-09-01 13:38] #19238 closed

[2020-09-01 13:55] #19516 closed

[2020-09-01 14:03] windtalker commented on #19667
In https://dev.mysql.com/doc/refman/5.6/en/datetime.html, it said:
MySQL converts TIMESTAMP values from the current time zone to UTC for storage, and back from UTC to the current time zone for retrieval. (This does not occur for other types such as DATETIME.) By default, the current time zone for each connection is the server's time. The time zone can be set on a per-connection basis. As long as t

[2020-09-01 14:07] windtalker commented on #19667
Actually, I think in MYSQL, the result of date_add is a datetime value, which means even if the column `a` in table `t` is a timestamp column, `SELECT DATE_ADD(a, INTERVAL 1 SECOND) FROM t` always returns `1988-04-17 02:00:00` for all the timezone(verified in MySQL 8.0.16 and MySQL 5.7.29).

[2020-09-01 14:13] bb7133 commented on #19667
@windtalker Thanks!

[2020-09-01 14:14] wjhuang2016 commented on #19654
I don't think it's a collation bug:

[code]

[2020-09-01 15:01] xhebox commented on #19122
I am picking up this one.

[2020-09-01 15:23] XiaoGe2030 opened #19685 "Predict tidb bottleneck by CPU profile"
## Description
基础环境信息

[code]
集群拓扑结构
[code]

测试语句：``` sysbench --config-file=sysbench.config oltp_point_select  --threads=128  --tables=32 --table-size=1000000 run ```

在压测tidb集群的同时，通过`curl http://10.226.132.104:20080/debug/zip?seconds=60 --output debug.zip`获取tidb节点profile。

![image](https://user-images.githubusercontent.com/22184388/91867810-9e225d80-eca6-11ea-8248-126675b4aa28.png)

![image](htt

[2020-09-01 15:28] AntiKnot opened #19686 "2-node tikv deployment, single node load is too high"
## Performance Questions

- What version of TiDB are you using?

tidb v4.0.0-beta.2-1006-g6831e487a
tipd v4.0.0-rc.2-164-g7a6a9daa
tikv v4.1.0-alpha

- What's the observed and your expected performance respectively?
It is expected that the two tikv nodes can achieve load balance in the read and write tasks, or finally achieve balance after a period of time.
But in the chart of ppref and grafna. Ti

[2020-09-01 15:32] xhebox commented on #19122
It looks like the problem is that, there is actually no conversion support for `Year`(which is added in [`8.0.22`](https://dev.mysql.com/doc/refman/8.0/en/cast-functions.html)). Maybe I should make another issue for this problem first?

[2020-09-01 15:57] tsthght opened #19687 "maybe (*Scanner).scan can be optimized"
## Description
## Performance Questions

![image](https://user-images.githubusercontent.com/13314548/91875768-8353e700-ecae-11ea-88da-018f6b88a0f7.png)

![image](https://user-images.githubusercontent.com/13314548/91875883-a9798700-ecae-11ea-9b41-8c04c20e6d5c.png)

![image](https://user-images.githubusercontent.com/13314548/91875903-ae3e3b00-ecae-11ea-807b-789e637ae7ce.png)

maybe (*Scanner).scan c

[2020-09-02 01:11] #16964 closed

[2020-09-02 01:20] #19315 closed

[2020-09-02 01:33] #19317 closed

[2020-09-02 01:42] #18652 closed

[2020-09-02 01:53] #18370 closed

[2020-09-02 02:01] #19427 closed

[2020-09-02 02:18] watchpoints commented on #19685
Repeated question ， two issue asekd。 my be  kernel.kallsyms]  [k] tcp_transmit_skb  and .writeChunks 。
意思是说查询结果发送出去，跟内核滑动窗口和，Chunks有关

Study together。

[2020-09-02 02:24] #19595 closed

[2020-09-02 02:28] ChenPeng2013 opened #19694 "date compared with string error in UnionStmt"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
in MariaDB
[code]

### 3. What did you see instead (Required)
in TiDB or MySQL
[code]
### 4. What is your TiDB version? (Required)

[code]

## SIG slack channel

 [#sig-exec](https://slack.tidb.io/invite?t

[2020-09-02 02:28] bb7133 opened #19695 "Panic occurred when analyzing a table with new collation enabled in unistore"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Make sure the new collation is enabled:
[code]

[code]

This is actually the case in [explaintest](https://github.com/pingcap/tidb/blob/master/cmd/explaintest/t/generated_columns.test#L68).

### 2. What did you expect to see? (Required)
The `ANALYZE TABLE` ran successfully.

[2020-09-02 02:29] nullnotnil commented on #19651
I believe this is a duplicate of https://github.com/pingcap/tidb/issues/18488. Here is an sql only test-case using `mysql --column-type-info`:

[code]

[2020-09-02 02:33] #19673 closed

[2020-09-02 02:34] XiaoGe2030 commented on #19685
好的，后面多学习下，Study together 。

[2020-09-02 02:40] nullnotnil commented on #19643
I would categorize this as expected behavior: TiDB has a handle open to a file and has no reason to check if it has been deleted from the filesystem.

MySQL doesn't check this either, but what it does provide is a mechanism to close and reopen files via the command [`FLUSH LOGS`](https://dev.mysql.com/doc/refman/5.7/en/flush.html#flush-logs). This command is currently a noop in TiDB, but I think i

[2020-09-02 02:47] ZenoTan commented on #19686
What about metrics related to PD?

[2020-09-02 02:48] qw4990 commented on #18700
Close since cannot reproduce. We can open it in the future if this problem occurs again.

[2020-09-02 02:48] #18700 closed

[2020-09-02 02:50] ZenoTan commented on #19687
Can you be more specific about the optimization?

[2020-09-02 02:52] ZenoTan commented on #19677
/label status/TODO

[2020-09-02 02:53] ZenoTan commented on #19678
/label status/TODO

[2020-09-02 02:53] ZenoTan commented on #19679
/label status/TODO

[2020-09-02 02:58] ZenoTan commented on #19676
/label status/PTAL

[2020-09-02 02:59] nullnotnil commented on #5892
I downloaded DataGrip and manually verified that everything seems to work. I did manage to produce one unsupported query, when right clicking on a query to explain it:

[code]

I think this is acceptable since even if `EXPLAIN EXTENDED` was supported, the execution plan looks very different in TiDB. DataGrip still remains completely usable as well, so I am going to go ahead and close this issue.

[2020-09-02 03:00] ZenoTan commented on #19668
/label status/PTAL

[2020-09-02 03:02] ZenoTan commented on #19685
It is duplicated, and you can refer to #19668

[2020-09-02 03:03] nullnotnil commented on #4627
Sysbench benchmarks are now published [in the documentation](https://docs.pingcap.com/tidb/dev/benchmark-sysbench-v4-vs-v3).

Your numbers do look very low, but a lot has changed since 2017. I am going to go ahead and close this issue as stale, but if you are still experimenting and facing issues, please feel free to open a new issue. Thanks!

[2020-09-02 03:03] #4627 closed

[2020-09-02 03:09] ZenoTan commented on #19656
/label sig/execution

[2020-09-02 03:09] nullnotnil commented on #4616
This is not currently supported, but I will recategorize this as a feature request so that it can be discussed. Thank you for the suggestion!

I am curious to hear your use case if you can provide some examples. There may also be some cases, where for some data users want to reduce the replicas i.e. for data that can be regenerated, you might want only 1 replica to reduce space. This would impact

[2020-09-02 03:10] ZenoTan commented on #19653
/label sig/planner

[2020-09-02 03:12] ZenoTan commented on #19651
It is a duplicate issue.

[2020-09-02 03:13] ZenoTan commented on #19627
/label status/PTAL

[2020-09-02 03:14] ZenoTan commented on #19643
/label sig/tools

[2020-09-02 03:14] bb7133 opened #19697 "Unexpected default values for `SET` when the new collation is enabled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

It looks like that the default value `'1 ,4'` is split into `'1 '` and `'4'` while `'1 '` is incorrectly trimmed to `'1'`, by which the wrong result is caused.

#

[2020-09-02 03:15] ZenoTan commented on #19643
/label status/help-wanted

[2020-09-02 03:17] ZenoTan commented on #19644
/label status/discussion

[2020-09-02 03:18] nullnotnil commented on #19694
This depends on the collation used by the database (and if it has pad or not). For example in MySQL 5.7:
[code]

But in MySQL 8.0:
[code]

I think it is still a bug though, since when I bootstrap with new collations I can still reproduce the issue. I would have expected parity with MySQL 5.7:

[code]

[2020-09-02 03:19] nullnotnil commented on #19694
@bb7133 PTAL

[2020-09-02 03:36] SunRunAway opened #19700 "3 DATARACEs with pointget"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

Seen: https://github.com/pingcap/tidb/pull/19664
branch: release-4.0
commit: https://github.com/pingcap/tidb/tree/00af59ea1c20c4f

[2020-09-02 03:43] xiongjiwei commented on #19697
seems same reason as #19521 at first glance

[2020-09-02 03:44] zyguan opened #19701 "Change a json column using DML statements will lead to change of the column meta data"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Enable amend transaction by set `tidb_enable_amend_pessimistic_txn` to 1, and execute following sql

[code]

### 2. What did you expect to see? (Required)

Transaction should be committed successfully.

### 3. What did you see instead (Required)

[code]

###

[2020-09-02 03:53] nullnotnil commented on #19634
I believe this is caused by https://github.com/pingcap/tidb/pull/16740

It looks like common-test needs to be fixed, and then the change can be pushed again.

[2020-09-02 04:07] #19305 closed

[2020-09-02 04:32] #14427 closed

[2020-09-02 04:33] #16544 closed

[2020-09-02 05:30] cfzjywxk commented on #19701
This is caused by the `update` statement which uses `BuildCastFunction` to build a `castAsJSONFunctionClass` function, whose `getFunction` add a flag `mysql.ParseToJSONFlag` to the schema meta column info. This implicitly changes the schema meta data.
@XuHuaiyu PTAL

[2020-09-02 05:31] bb7133 commented on #17812
It is closed by #19645

[2020-09-02 05:31] #17812 closed

[2020-09-02 05:34] bb7133 commented on #19701
The statements described in 'Minimal reproduce step' should be in different sessions, right? @zyguan

[2020-09-02 06:02] #18410 closed

[2020-09-02 06:15] zimulala commented on #19337
@qw4990 PTAL
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/47879/pipeline

[2020-09-02 06:35] zyguan commented on #19701
@bb7133 Yes, each tag in block comments (/* DDL */) indicates a session. I've implement a simple tool to execute it. https://github.com/zyguan/go-randgen/blob/multi-session/tp-test/tools/xrun/main.go

[2020-09-02 06:35] qw4990 commented on #19073
Reopen this issue since the problem occurs again in https://github.com/pingcap/tidb/pull/19699.

[2020-09-02 06:36] zimulala commented on #16548
PTAL @djshow832
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/49303/pipeline

[2020-09-02 06:45] #19073 closed

[2020-09-02 07:02] SunRunAway opened #19706 "select unix_timestamp() gets an ambiguous error message"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error log is shown.

### 3. What did you see instead (Required)

Got an ambiguous error, `[ERROR] [terror.go:375] ["encountered error"] [error="[types:1265]Data truncated for column '%s' at row %d"]`

### 4. What is

[2020-09-02 07:15] zimulala commented on #19337
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/49347/pipeline

[2020-09-02 07:15] zimulala commented on #19337
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/47921/pipeline

[2020-09-02 07:47] Yisaer commented on #19443
It seems ea6d508 have solved this problem but didn't cherry-pick to release-3.0

[2020-09-02 07:48] #19502 closed

[2020-09-02 07:57] ZenoTan commented on #19695
/label sig/ddl

[2020-09-02 07:59] ZenoTan commented on #19627
/label sig/planner

[2020-09-02 08:00] ZenoTan commented on #19668
/label sig/engine

[2020-09-02 08:00] ZenoTan commented on #19668
/label sig/executionn

[2020-09-02 08:00] ZenoTan commented on #19668
/label sig/execution

[2020-09-02 08:01] ZenoTan commented on #19685
/label sig/execution

[2020-09-02 08:01] ZenoTan commented on #19686
/label sig/scheduling

[2020-09-02 08:04] ZenoTan commented on #19686
/label sig/ddl

[2020-09-02 08:06] ZenoTan commented on #19687
/label sig/execution

[2020-09-02 08:06] liuzix opened #19712 "Table not found after create table succeeded"
## Bug Report

You can download the logs related to this problem [here](https://github.com/pingcap/ticdc/suites/1131313717/artifacts/16133553)
For some more detail, see: https://github.com/pingcap/ticdc/pull/899/checks?check_run_id=1060162046

### 1. Minimal reproduce step (Required)
- Set up TiCDC to sync from a TiDB to another TiDB through Kafka by Avro protocol.
- Create table in the upstream.

[2020-09-02 08:40] Rustin-Liu commented on #9244
/ping

[2020-09-02 08:40] AndreMouche commented on #19369
/pick-up

[2020-09-02 08:40] Rustin-Liu commented on #9244
/help

[2020-09-02 08:52] AndreMouche commented on #19369
/pick-up

[2020-09-02 08:54] AndreMouche commented on #19369
/pick-up

[2020-09-02 08:57] ichn-hu commented on #19041
Hi @cberescu , sorry for a late reply, basically you need to compile & build the tidb server by yourself with go's [race detector](https://golang.org/doc/articles/race_detector.html) turned on.

To compile the tidb-server, you need to have a go environment, then clone the code repository, and use

[code]

to compile the tidb server with the race detector.

And you could then test against the compi

[2020-09-02 08:59] eurekaka commented on #19066
https://github.com/pingcap/tidb/pull/18880 adds support for this statement.

[2020-09-02 08:59] #19066 closed

[2020-09-02 09:06] ichn-hu commented on #19041
More on this, you might not need to use tiup to test the binary file in a cluster, you could just `./bin/tidb-server` to start a single tidb server in a standalone mode (you don't even need tikv) if your test case is not that huge.

If you need to use tiup in any case, if you are using `tiup playground`, you could specify a binary file path, see `tiup playground --help`; if you are using `tiup clu

[2020-09-02 09:08] xiongjiwei commented on #19697
https://github.com/pingcap/tidb/blob/42eaaa590d231368437c894383993054a341133b/ddl/ddl_api.go#L786-L799
use collate will trim trailing spaces

[2020-09-02 09:08] bb7133 opened #19713 "Unit test `TestAutoUpdate` failed in 4.0 branch when new collation is enabled."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Enable the new collation by changing the code in

[code]

And then run the test `TestAutoUpdate`:

[code]
FAIL: update_test.go:371: testStatsSuite.TestAutoUpdate

update_test.go:464:
    c.Assert(hg.NDV, Equals, int64(3))
... obtained int64 = 1
... expected int64 = 3
[code]

[2020-09-02 09:09] AndreMouche commented on #19369
/pick-up

[2020-09-02 09:09] bb7133 commented on #19713
@winoros PTAL

[2020-09-02 09:24] SailerNote commented on #19686
What other metrics or detailed information do I need to provide?

**pd config**
[code]
**Statistics - hot read screenshot**
![image](https://user-images.githubusercontent.com/14977542/91963615-ac24bc80-ed40-11ea-9bef-a45bdef9381a.png)

[2020-09-02 09:25] cberescu commented on #19041
for now i do not seem to receive the error anymore, could it have been fixed maybe in one of releases since 4.0.0?  As i said the error was received on the 4.0.0 version.

[2020-09-02 09:47] Yisaer opened #19718 "CI: TestSelectIntoOutfileTypes failed due to "open /tmp/select-into-outfile.data: file exists""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]

see detail [here](https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/48011/pipeline/)
### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB vers

[2020-09-02 10:11] ZenoTan commented on #19706
/label sig/ddl

[2020-09-02 10:12] ZenoTan commented on #19712
/label sig/ddl

[2020-09-02 10:13] ZenoTan commented on #19718
/label sig/execution

[2020-09-02 10:42] Rustin-Liu commented on #9244
/pick-up

[2020-09-02 10:42] Rustin-Liu commented on #9244
/give-up

[2020-09-02 11:10] ichn-hu commented on #19041
Probably. Perhaps we could consider close this issue? @cberescu feel free to reopen it as long as the problem accur again, thanks for your patience and help~

[2020-09-02 11:11] ichn-hu commented on #19041
@SunRunAway would you help close this issue?

[2020-09-02 11:47] Blue-Sail commented on #7623
/Pick up

JSON_ARRAYAGG()

[2020-09-02 11:53] zz-jason opened #19724 "alter integer primary key to auto_random with certain auto_random_base"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Let's say we have the following table whose primary key is an integer:

[code]

or column `a` is defined without `auto_increment`:

[code]

After inserting some data to table `t`, users may detect that there is a hot write region in the table `t`. Currently, users have to rebuild the table like the following:

[2020-09-02 11:57] #19718 closed

[2020-09-02 12:22] ichn-hu commented on #19041
After investigation, this issue is confirmed to be resolved by later PRs, namely https://github.com/pingcap/tidb/pull/18145/, and the cause is identified here: https://github.com/pingcap/tidb/issues/16817#issuecomment-620969926 . In short, the BatchPointGetExec tries to get a snapshot from the txnState, which after checking validity, might be concurrently changed before `snapshot = txn.GetSnapshot

[2020-09-02 12:55] cberescu commented on #19041
that is great news, thanks for your explanation and patience with me.

[2020-09-02 13:00] sre-bot opened #19728 "select_into_test.go:testSuite1.TestSelectIntoOutfileTypes failed"
select_into_test.go:testSuite1.TestSelectIntoOutfileTypes

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/47870/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/48106/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/48040/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_gh

[2020-09-02 13:00] sre-bot opened #19729 "preprocess_test.go:testValidatorSuite.TestForeignKey failed"
preprocess_test.go:testValidatorSuite.TestForeignKey

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/49478/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/49252/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/49432/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_g

[2020-09-02 13:00] wshwsh12 opened #19730 "test: Data race in Tracker.Consume"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/49359/pipeline/
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-09-02 13:29] tsthght commented on #19687
Thank you for your advice. I'll add something specific optimization  as soon as possible.

[2020-09-02 15:22] nullnotnil commented on #19631
I was concerned that pd might require a disk write to create a new connection, so I [created a loop back device with 200ms latency](https://serverfault.com/questions/523509/linux-how-to-simulate-hard-disk-latency-i-want-to-increase-iowait-value-withou) and put pd data on it.

The results are quite stable:
[code]

I am going to close this issue because it doesn't look like anything is immediately a

[2020-09-02 15:22] #19631 closed

[2020-09-02 16:01] SailerNote commented on #19369
pick `count agg functions`

[2020-09-02 16:15] SailerNote commented on #19369
/pick-up `count agg functions`

[2020-09-02 18:12] tiancaiamao commented on #19712
Hey, man. It's not happening as you described.
Your DML operation on downstream is before the DDL operation.

downstream DDL: create database
[code]

The DML failed with "table doesn't exist".

[code]

Yes, it's because the create table DDL is not executed yet:

[code]

@liuzix

[2020-09-02 18:24] kolbe opened #19732 "tidb-server command line options missing from documentation"
File: [/command-line-flags-for-tidb-configuration.md](https://docs.pingcap.com/tidb/dev/command-line-flags-for-tidb-configuration) is missing some of the command line options available for tidb-server:

[code]

[2020-09-02 23:17] fxrcode opened #19731 "Sign in failed: Failed to connect to TiDB in tiup dashboard using current master (0fd81a8) build, but works with release-4.0.5"
## General Question

* login to tiup dashboard.
   * [ ] current master (0fd81a8) build: Sign in failed: Failed to connect to TiDB
   * [x] works with release-4.0.5, and or earlier.

* Screenshot
![image](https://user-images.githubusercontent.com/13307594/92046357-2fd9ab80-ed37-11ea-9dff-65ca33fc064d.png)

* local envrionment
[code]

* any suggestion how to trace?

[2020-09-02 23:46] nullnotnil commented on #19731
I have verified as described. @breeswish PTAL

[2020-09-03 00:29] xiaodong-ji commented on #19369
/pick-up `max min agg functions`

[2020-09-03 00:30] xiaodong-ji commented on #19369
/pick-up `group concat agg functions`

[2020-09-03 00:32] xiaodong-ji commented on #19369
/pick-up `row number agg functions`

[2020-09-03 00:34] xiaodong-ji commented on #19369
pick `max min agg functions`

[2020-09-03 00:36] xiaodong-ji commented on #19369
/pick-up group concat agg functions

[2020-09-03 00:41] xiaodong-ji commented on #19369
/pick-up `first row agg functions`

[2020-09-03 01:22] SailerNote commented on #19369
pick `count agg functions`

[2020-09-03 01:26] xiaodong-ji commented on #19369
pick `max min agg functions`

[2020-09-03 01:30] SailerNote commented on #19369
pick `count agg functions`

[2020-09-03 01:39] nullnotnil commented on #16276
See also https://github.com/pingcap/tidb/issues/16822 for another simple issue related to EXPLAIN output.

[2020-09-03 01:40] cloudhuang commented on #19369
/pick-up `group concat agg functions`

[2020-09-03 01:46] Howie66 commented on #19369
pick ntile agg functions

[2020-09-03 02:19] TszKitLo40 commented on #19369
pick up count agg functions

[2020-09-03 02:21] asiafrank commented on #19369
/pick-up `row number agg functions`

[2020-09-03 02:23] asiafrank commented on #19369
/pick-up `count agg functions`

[2020-09-03 02:24] TszKitLo40 commented on #19369
/pick-up max min agg functions

[2020-09-03 02:24] asiafrank commented on #19369
/pick-up `first row agg functions`

[2020-09-03 02:26] TszKitLo40 commented on #19369
/pick-up value agg functions

[2020-09-03 02:26] asiafrank commented on #19369
/pick-up `var pop agg functions`

[2020-09-03 02:27] TszKitLo40 commented on #19369
/pick-up rank agg functions

[2020-09-03 02:28] TszKitLo40 commented on #19369
/pick-up row number agg functions

[2020-09-03 02:28] Howie66 commented on #19369
/pick-up ntile agg functions

[2020-09-03 02:28] TszKitLo40 commented on #19369
/pick-up json object agg functions

[2020-09-03 02:29] TszKitLo40 commented on #19369
/pick-up percent rank agg functions

[2020-09-03 02:29] TszKitLo40 commented on #19369
/pick-up group concat agg functions

[2020-09-03 02:29] Howie66 commented on #19369
/pick-up first row agg functions

[2020-09-03 02:30] TszKitLo40 commented on #19369
/pick-up bit agg functions

[2020-09-03 02:31] TszKitLo40 commented on #19369
/pick-up var pop agg functions

[2020-09-03 02:32] TszKitLo40 commented on #19369
/pick-up cume distinct agg functions

[2020-09-03 02:54] XuHuaiyu commented on #19369
@SailerNote @TszKitLo40 @Howie66 @asiafrank @xiaodong-ji

We'll create an individual issue for each item in the description, you may pick up the work later.

[2020-09-03 02:58] #19041 closed

[2020-09-03 03:12] yufan022 commented on #17993
/pick-up

[2020-09-03 03:41] ZenoTan commented on #19729
/label sig/ddl

[2020-09-03 03:41] ZenoTan commented on #19728
/label sig/ddl

[2020-09-03 03:41] b41sh opened #19733 "Call For Participation: add memory trace for bit agg functions"
## Development Task

This issue is used to trace bit agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refactoring

[2020-09-03 03:42] b41sh opened #19734 "Call For Participation: add memory trace for count agg functions"
## Development Task

This issue is used to trace count agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refactoring

[2020-09-03 03:43] SailerNote commented on #19734
/pick-up

[2020-09-03 03:43] b41sh opened #19735 "Call For Participation: add memory trace for cume distinct agg functions"
## Development Task

This issue is used to trace cume distinct agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Ref

[2020-09-03 03:44] b41sh opened #19736 "Call For Participation: add memory trace for first row agg functions"
## Development Task

This issue is used to trace first row agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refacto

[2020-09-03 03:44] b41sh opened #19737 "Call For Participation: add memory trace for group concat agg functions"
## Development Task

This issue is used to trace group concat agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimiz

[2020-09-03 03:45] b41sh opened #19738 "Call For Participation: add memory trace for json object agg functions"
## Development Task

This issue is used to trace json object agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimiza

[2020-09-03 03:46] b41sh opened #19739 "Call For Participation: add memory trace for lead lag agg functions"
## Development Task

This issue is used to trace lead lag agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refactor

[2020-09-03 03:46] b41sh opened #19740 "Call For Participation: add memory trace for max min agg functions"
## Development Task

This issue is used to trace max min agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refactori

[2020-09-03 03:47] b41sh opened #19741 "Call For Participation: add memory trace for ntile agg functions"
## Development Task

This issue is used to trace ntile agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refactoring

[2020-09-03 03:48] Howie66 commented on #19741
i could do this

[2020-09-03 03:48] b41sh opened #19742 "Call For Participation: add memory trace for percent rank agg functions"
## Development Task

This issue is used to trace percent rank agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refa

[2020-09-03 03:49] b41sh opened #19743 "Call For Participation: add memory trace for rank agg functions"
## Development Task

This issue is used to trace rank agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refactoring

[2020-09-03 03:49] b41sh opened #19744 "Call For Participation: add memory trace for value agg functions"
## Development Task

This issue is used to trace value agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refactoring

[2020-09-03 03:50] b41sh opened #19745 "Call For Participation: add memory trace for var pop agg functions"
## Development Task

This issue is used to trace var pop agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refactori

[2020-09-03 03:51] b41sh opened #19746 "Call For Participation: add memory trace for row number agg functions"
## Development Task

This issue is used to trace row number agg functions, which is a part of [19369](https://github.com/pingcap/tidb/issues/19369)

Please comment on this issue if you are interested in.

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 600

## Mentor
* @b41sh

## Recommended Skills
* SQL Optimization
* Golang Profiling
* Code Refact

[2020-09-03 04:00] SunRunAway commented on #9244
I've implemented a rough POC version before.
https://github.com/pingcap/tidb/compare/master...SunRunAway:shuffle-sort-agg

If someone is interested in this issue, you can take it as a reference, and feel free to ask any questions.

[2020-09-03 04:05] Howie66 commented on #19736
i will do this

[2020-09-03 04:22] xiaodong-ji commented on #19740
pick `max min agg functions`

[2020-09-03 04:23] zz-jason opened #19747 "support `utf8mb4_zh_0900_as_cs` for `utf8mb4` character set"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It's unable to order by a column based on it's pinyin order. For example:

[code]

insert some data:

[code]

a query requires to order by column `a` in its pinyin order:

[code]

**Describe the feature you'd like:**

Support the `utf8mb4_zh_0900_as_cs` collate like MySQL, the output should be:

[code]

**Descr

[2020-09-03 04:23] zz-jason commented on #19747
@bb7133 PTAL

[2020-09-03 04:27] zz-jason commented on #19747
BTW, MySQL supports lots of collations for `utf8mb4` charset, in order to support these collations in TiDB in the future, we need a flexible execution engine that allows us to easily add a new collation or even add a new character set. @SunRunAway PTAL

[2020-09-03 04:38] bb7133 commented on #19449
I've filed an PR to Flyway: https://github.com/flyway/flyway/pull/2918

[2020-09-03 04:49] ichn-hu commented on #19731
I encountered this issue yesterday but not realized this is a bug :cry:

[2020-09-03 04:51] #18701 closed

[2020-09-03 04:53] wjhuang2016 commented on #19747
Adding a new collation is easy, but adding a new charset is hard now.

[2020-09-03 04:54] zhangysh1995 commented on #17993
@yufan022 I think you may propose a PR directly? The challenge program has finished. You will need to follow the contribution guidelines for TiDB.

[2020-09-03 05:22] asiafrank commented on #19746
/pick-up

[2020-09-03 05:25] Rustin-Liu commented on #19746
@b41sh  Could you please add challenge-program label and high-performance label for these issues?

[2020-09-03 05:40] cloudhuang commented on #19737
/pick-up

[2020-09-03 05:42] cloudhuang commented on #19737
/pick-up

[2020-09-03 05:49] winoros commented on #19728
closed by https://github.com/pingcap/tidb/pull/19717

[2020-09-03 05:49] #19728 closed

[2020-09-03 05:50] XuHuaiyu commented on #19734
@SailerNote Please try to pick up again

[2020-09-03 05:50] asiafrank commented on #19746
/pick-up

[2020-09-03 05:50] SunRunAway commented on #19443
Closed by https://github.com/pingcap/tidb/pull/19711

[2020-09-03 05:50] #19443 closed

[2020-09-03 05:53] asiafrank commented on #19745
/pick-up

[2020-09-03 05:54] b41sh commented on #19746
@Rustin-Liu labels have added.

[2020-09-03 06:00] SailerNote commented on #19734
/pick-up

[2020-09-03 06:04] djshow832 commented on #16548
It failed due to #17904
It can be reproduced by sleeping before `backfillIndexInTxn`.

[2020-09-03 06:07] liuzix commented on #19712
The place you quoted is not where the problem happened. Please review the following log segment.

[code]

[2020-09-03 06:10] cloudhuang commented on #19737
/pick-up

[2020-09-03 06:17] TszKitLo40 commented on #19740
/pick-up

[2020-09-03 06:22] #19636 closed

[2020-09-03 06:25] xiaodong-ji commented on #19740
@TszKitLo40 I've already chosen, Can you choose other?

[2020-09-03 06:27] TszKitLo40 commented on #19740
/give-up

[2020-09-03 06:28] xiaodong-ji commented on #19740
/pick-up

[2020-09-03 06:30] TszKitLo40 commented on #19743
/pick-up

[2020-09-03 06:32] tangenta commented on #19724
If the performance of this DDL does not matter, it is possible to `select max(a) from t` and rebase to the value internally. So the syntax will be
[code]

[2020-09-03 06:33] XuHuaiyu commented on #19369
@TszKitLo40 @Howie66 @asiafrank @xiaodong-ji
Hi, you can pick up the sub-tasks now.

[2020-09-03 06:34] XuHuaiyu commented on #19741
@Howie66 Thanks. Please comment `/pick-up` to pick up this task.

[2020-09-03 06:38] XuHuaiyu commented on #19736
@Howie66
Thanks. Please comment `/pick-up` to pick up this task

[2020-09-03 06:41] ZenoTan commented on #19732
/label sig/tools

[2020-09-03 06:42] ZenoTan commented on #19732
/label sig/ddl

[2020-09-03 06:58] SunRunAway opened #19751 "TestRemoveDir fails"
FAIL: tempDir_test.go:34: testDiskSerialSuite.TestRemoveDir

## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/

[2020-09-03 06:58] SunRunAway commented on #19751
@wshwsh12 PTAL

[2020-09-03 07:13] Howie66 commented on #19736
/pick-up

[2020-09-03 07:25] time-and-fate commented on #13389
seems like this issue will be fixed by #19620

[2020-09-03 07:38] winoros commented on #16548
@djshow832 can you fix it today? It has caused too may ci failed....

[2020-09-03 08:10] Blue-Sail commented on #7623
pick up

[2020-09-03 08:11] Blue-Sail commented on #7623
/pick-up
JSON_ARRAYAGG()

[2020-09-03 08:22] #16147 closed

[2020-09-03 08:39] SunRunAway commented on #17725
We may also handle `AND` and `OR`.
[code]

[2020-09-03 08:39] SunRunAway commented on #17725
cc @breeswish @TennyZhuang @skyzh

[2020-09-03 08:40] skyzh commented on #17725
Alright, I'll write a RFC for TiKV this weekend.

[2020-09-03 08:41] b41sh commented on #18748
`SetExecutor` is used to execute SET statements, can we use it to execute SET_VAR hint?
As SET_VAR hint takes effect temporarily, we can build two `plannercore.Set` in `PlanBuilder`.
The first is used to set the value of the session, the second change it back.

[2020-09-03 08:42] SunRunAway commented on #19706
/unlabel sig/ddl

[2020-09-03 08:43] SunRunAway commented on #19706
/label sig/execution

[2020-09-03 08:48] #17782 closed

[2020-09-03 09:12] ichn-hu commented on #19337
This is already fixed in https://github.com/pingcap/tidb/commit/0fd81a83e8a0f0c799e006b0be03205533ca2750 , please consider close it @SunRunAway

[2020-09-03 09:17] #19337 closed

[2020-09-03 09:22] zz-jason commented on #18033
A use case on this feature:

- Applications config the preferred data staleness (30 seconds for example) in certain TiDB instances, or just on some certain queries.
- TiDB sends the coprocessor requests to the replica in the local AZ (Available Zone), the replica can be Leader, Follower, or Learner. If it's Follower or Learner and the staleness satisfies the application requirement, no read-index

[2020-09-03 09:32] TszKitLo40 commented on #19738
/pick-up

[2020-09-03 09:42] qw4990 commented on #19312
@tangwz and I will draft a proposal for this feature soon.

[2020-09-03 09:45] eurekaka commented on #19265
This error message is as expected actually?

The result from MySQL 5.7:
[code]

@XuHuaiyu

[2020-09-03 09:54] seiya-annie commented on #19550
/info

[2020-09-03 10:04] seiya-annie commented on #19751
/info

[2020-09-03 11:16] cfzjywxk opened #19769 "Data race using point get executor"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

The unit tests. The `IndexLookUpMergeJoin` executor has data race using `pointGet` executor.
[code]

[code]

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

relea

[2020-09-03 11:25] rickif commented on #19739
/pick-up

[2020-09-03 11:47] tangwz commented on #19312
/assign.

[2020-09-03 12:04] Lvnszn commented on #19733
/pick-up

[2020-09-03 12:14] qw4990 commented on #18748
I think we cannot use `SetExecutor` directly here, since it is used to set variables in global or session level.
In this feature, the variable is in SQL level since it should be removed after finishing this SQL.
So I think it's better to introduce a new approach to set these SQL-level variables instead of reusing `SetExecutor`.

What're your options? @zz-jason @SunRunAway

[2020-09-03 12:16] #13150 closed

[2020-09-03 12:18] breeswish commented on #18990
Not fixed yet

[2020-09-03 13:17] YangKian commented on #19735
/pick-up

[2020-09-03 14:36] Patrick0308 commented on #19742
/pick-up

[2020-09-03 14:51] #13139 closed

[2020-09-03 15:43] #19654 closed

[2020-09-03 15:53] #19706 closed

[2020-09-03 16:58] youwithouto commented on #11193
/pick-up

[2020-09-03 17:23] youwithouto commented on #11210
/pick-up

[2020-09-03 22:28] youwithouto commented on #11223
/pick-up #11193

[2020-09-04 00:40] #18949 closed

[2020-09-04 02:11] youwithouto commented on #11193
/pick-up

[2020-09-04 02:13] youwithouto commented on #11193
Hi @SunRunAway , can I work on this issue as an HP TiDB challenge?

[2020-09-04 02:17] skyzh commented on #17725
I'll check how TiKV will handle case / if later.

[2020-09-04 02:19] Win-Man opened #19782 "Support setting new_collations_enabled_on_first_bootstrap=true to enable CI Collation after cluster first bootstrap"
## Feature Request

**Is your feature request related to a problem? Please describe:**

If I forgot to set `new_collations_enabled_on_first_bootstrap=true` at cluster bootstrap or I want to set `new_collations_enabled_on_first_bootstrap=true` in cluster which upgrade from `v3.0`, need to create a new cluster and set `new_collations_enabled_on_first_bootstrap=true` at bootstrap. And then migrate th

[2020-09-04 02:23] #19660 closed

[2020-09-04 02:31] youwithouto commented on #11178
Hi @SunRunAway , can I work on this issue as the HP TiDB challenge?

[2020-09-04 02:38] zhenjiaogao opened #19784 "Partition table does not support autorandom feature"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Partition table  supports autorandom feature.

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2020-09-04 02:45] zgcbj opened #19785 "pd-ctl working in Interactive mode may lose pd address"
version:  TiDB 4.0.3
[code]

[2020-09-04 02:46] dyzsr opened #19786 "group_concat produces wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Load `group_concat.sql` in [group_concat.sql.zip](https://github.com/pingcap/tidb/files/5172322/group_concat.sql.zip), then execute
[code]

### 2. What did you expect to see? (Required)

mysql 8.0

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is y

[2020-09-04 02:56] #19786 closed

[2020-09-04 03:01] nullnotnil commented on #8510
If I understand the feature request correctly, the problem with the current implementation of `tidb_auto_analyze_ratio` is that when the threshold is hit, the responsibility of analyzing falls to a background thread. If there are multiple tables that reach the threshold at the same time, there might be some delay until the actual `ANALYZE` is scheduled?

I interpret the feature request as to incre

[2020-09-04 03:46] windtalker opened #19788 "explain analyze result for TiFlash is disordered"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-09-04 03:47] ZenoTan commented on #19769
/label sig/execution

[2020-09-04 03:50] #16680 closed

[2020-09-04 04:07] #18525 closed

[2020-09-04 04:54] #19294 closed

[2020-09-04 06:00] Win-Man commented on #19643
Thank you for your reply, I think supporting `FLUSH LOGS`  in TiDB is a good idea.

[2020-09-04 06:02] qw4990 opened #19795 "Call For Participation: implement aggregate function JSON_ARRAYAGG"
All issues are open and welcomed to contributors. You can join **#sig-exec** on [tidb community slack](https://pingcap.com/tidbslack/) to discuss and get help from someone.

## Description

At present, the aggregate function `JSON_ARRARYAGG` is not supported by TiDB.

This is a part job of https://github.com/pingcap/tidb/issues/7623, please help us implement it if you are interested in it.

## Dif

[2020-09-04 06:12] scsldb commented on #8510
Is it because the system is queued that the user thinks that manually forcing Analyze does not work?
We need to know more.

[2020-09-04 06:12] fxrcode commented on #19795
/pick-up

[2020-09-04 06:16] scsldb commented on #19449
To be determined, while additional frameworks need to be considered for support.

[2020-09-04 06:18] scsldb commented on #17690
Note: Desensitization needs to be considered.

[2020-09-04 06:21] scsldb commented on #11703
duplicate [#18672 ](https://github.com/pingcap/tidb/issues/18672)

[2020-09-04 06:21] #11703 closed

[2020-09-04 06:25] #17060 closed

[2020-09-04 06:25] ZenoTan commented on #19785
Please open this issue under PD.

[2020-09-04 06:25] #19785 closed

[2020-09-04 06:26] ZenoTan commented on #19788
/label sig/ddl

[2020-09-04 06:27] ZenoTan commented on #19784
/label sig/ddl

[2020-09-04 06:35] AilinKid commented on #19782
PTAL @wjhuang2016 @bb7133

[2020-09-04 06:47] AilinKid commented on #19638
hi~ column type change is under development, following the issue, https://github.com/pingcap/tidb/issues/19116

[2020-09-04 07:09] time-and-fate commented on #11911
/assign time-and-fate

[2020-09-04 07:16] mmyj commented on #19744
/give-up

[2020-09-04 07:24] yiwu-arbug commented on #18262
Implementation almost finished. Should be able to get a workable version and start sending out PR early next week.

[2020-09-04 07:37] zimulala commented on #15533
[code]

[2020-09-04 08:21] lance6716 opened #19798 "`testRunInterruptedJob` may cause deadlock"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

diff:

[code]

### 2. What did you expect to see? (Required)

test pass

### 3. What did you see instead (Required)

deadlock

### 4. What is your TiDB version? (Required)

[2020-09-04 08:22] lance6716 commented on #19798
will fix soon @wjhuang2016

[2020-09-04 08:25] Hunsmore commented on #19744
/pick-up

[2020-09-04 08:26] #19788 closed

[2020-09-04 08:31] lastboy1228 opened #19801 "error.topology.invalid_topology_data can't recover"
## Bug Report

### 1. Minimal reproduce step (Required)

Add port to advertise-address config in tidb.toml:
`
store = "tikv"
advertise-address = "10.10.0.1:4000"
port = 4000
[status]
report-status = true
status-port = 10080
`

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
After I remove the ":4000" from advertise-address, and restart TiDB, the PD still k

[2020-09-04 08:41] ichn-hu commented on #19700
/unassign @ichn-hu

[2020-09-04 08:41] ichn-hu commented on #19700
/assign @tiancaiamao

[2020-09-04 08:56] Hunsmore commented on #19369
/pick-up value agg functions

[2020-09-04 08:57] Hunsmore commented on #19369
pick value agg functions

[2020-09-04 09:01] ichn-hu commented on #19700
/assign @tiancaiamao

[2020-09-04 09:26] tiancaiamao commented on #11596
Verified this bug exists on v3.0.1, and is fixed on v3.0.14 afterword, v4.0+

[2020-09-04 09:26] #11596 closed

[2020-09-04 09:33] qw4990 commented on #11193
Sorry, it's better to not pick this issue now. We will give out more HP issues tonight.

[2020-09-04 09:52] zimulala commented on #19798
I think put https://github.com/pingcap/tidb/pull/18844/files#diff-ae703365ad7e5ac7f61c75933fe74055R463-R466 and https://github.com/pingcap/tidb/pull/18844/files#diff-ae703365ad7e5ac7f61c75933fe74055R471 to a `select` is better.
If necessary, `TestRunInterruptedJob` test can be checked more loosely.

[2020-09-04 10:21] lance6716 opened #19802 "test `github.com/pingcap/tidb/planner/core` FAIL but all case PASS"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://github.com/pingcap/parser/pull/1008 ⬅️ seems stable reproduce, others:

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/48200/pipeline/69/

https://internal.pingcap.net/idc-jenkins/blu

[2020-09-04 11:00] williamxiongwei commented on #18693
/pick-up

[2020-09-04 11:09] lance6716 commented on #19802
/label planner

[2020-09-04 11:09] lance6716 commented on #19802
/label sig/planner

[2020-09-04 11:25] b41sh commented on #19369
@Hunsmore value agg functions have picked up success

[2020-09-04 11:55] #19745 closed

[2020-09-04 13:42] xiongjiwei opened #19804 "alter set/enum type column does not check constraint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
`[HY000][1291] Column 'a' has duplicated value 'c' in SET`

### 3. What did you see instead (Required)
success
[code]
### 4. What is your TiDB version? (Required)

[2020-09-04 14:05] tirsen opened #19805 "affinity based range placement"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For any given query or transaction there are benefits with decreasing the number of tikv nodes it interacts with. It improves performance to decrease the amount of bandwidth but primarily it improves availability and tail latency.

For that reason it would be good if TiDB relocated ranges to TiKV nodes based on

[2020-09-04 14:27] gregwebs commented on #19805
With respect to 2PC transactions note that in the region based system any transaction across 2 regions will necessitate a 2PC regardless of whether it is on the same TiKV node. Staying on the same node though does make a lot more optimizations possible.

I think static placements such as interleaved tables are usually easier to implement reliably and to understand their behavior. Of course they ha

[2020-09-04 14:28] zz-jason commented on #19805
with the weight graph, we can convert this problem to a classic clustering problem

[2020-09-04 14:28] zz-jason commented on #19805
with the weight graph, we can convert this problem to a classic clustering problem

[2020-09-04 14:51] zz-jason commented on #19805
considered that we have lots of ranges (for example, 2~3 million), we need to carefully design the method to maintain the weighted graph and the algorithm to efficiently identify all the related ranges.

[2020-09-04 15:23] bezmax commented on #19805
Some things to think about:

1. Range splitting. Should affinity be pessimistically zeroed out on a split? Or optimistically weighted-split across the sub-ranges? Probably zeroing out is good enough, as it should be repopulated fast enough.

2. Prioritizing rebalancing of ranges. On every update of affinities some sort of "placement inefficiency coefficient" can be calculated, which determines "ho

[2020-09-04 15:25] seiya-annie commented on #19804
/info

[2020-09-04 15:31] seiya-annie commented on #19804
/info

[2020-09-04 15:34] seiya-annie commented on #19804
/info

[2020-09-04 15:36] seiya-annie commented on #19804
/info

[2020-09-04 15:44] seiya-annie commented on #19747
/info

[2020-09-04 16:02] seiya-annie commented on #19786
/info

[2020-09-04 16:04] lcabancla commented on #19805
Regarding affinity, another possibility is manually assigned weights. Like, what if we want a particular query to have more importance than another (pretty common use case I assume)? The most frequent/longest queries are not necessarily the most important. Or, rather than doing it by query, what if we want a table A to have more affinity to table B than other tables? It looks to me that a big part

[2020-09-04 16:19] nullnotnil commented on #18038
Note that `LOAD DATA` already has this behavior, although no longer by default. See: https://github.com/pingcap/tidb/pull/18807

The setting to make it incremental commit is called `tidb_dml_batch_size`.

[2020-09-04 17:38] nullnotnil opened #19809 "LOAD DATA behavior change causes upgrade issue"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

See my [comment here](https://github.com/pingcap/docs/issues/3155#issuecomment-687253114) and https://github.com/pingcap/docs/pull/3838

There is an issue in that to restore the previous behavior for `LOAD DATA`, because `tidb_dml_batch_size` is only session scope. Therefor

[2020-09-05 02:17] Rustin-Liu commented on #19369
/pick-up

[2020-09-05 05:19] ou-bing commented on #12786
/pick-up

[2020-09-05 09:14] lance6716 commented on #19802
runs a local test (passed as expected) and compared output with https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/48303/pipeline/73/, found these test not printed

[code]

and with https://app.circleci.com/pipelines/github/pingcap/parser/3634/workflows/2dec2f19-6b45-4514-93cf-bf052574ece7/jobs/6581, these test not printed

[code]

[2020-09-05 09:23] wangggong commented on #19121
I'll pick it up if nobody is working on it now. Thx.

[2020-09-05 09:24] #18744 closed

[2020-09-05 09:33] #19751 closed

[2020-09-05 10:29] vagetablechicken commented on #12967
/pick-up

[2020-09-05 11:46] mmyj commented on #12967
hi, the slide window interface of the avg aggFunc had been implemented.

[2020-09-05 11:52] mmyj commented on #12967
@SunRunAway please update the todo list, I had been compelated the avg and the xor.

[2020-09-05 14:17] lance6716 commented on #19802
not printed:

[code]

[2020-09-05 14:43] markjenny commented on #11645
/pick-up

[2020-09-05 14:44] markjenny commented on #11645
I'm interested in this issue. I want to try my best to solve it.

[2020-09-05 14:57] seiya-annie commented on #19786
/info

[2020-09-05 15:31] seiya-annie commented on #19786
/info

[2020-09-05 15:33] seiya-annie commented on #19786
/info

[2020-09-05 15:38] seiya-annie commented on #19786
/info

[2020-09-05 15:38] seiya-annie commented on #19786
/info

[2020-09-05 15:39] seiya-annie commented on #19786
/info

[2020-09-05 15:43] seiya-annie commented on #19786
/info

[2020-09-06 00:53] danche commented on #11181
/pick-up

[2020-09-06 07:42] zz-jason commented on #19387
@wjhuang2016 why release 4.0 is not affected?

[2020-09-06 07:43] zz-jason commented on #19054
@bobotu Is rlease-3.0 affected by this issue?

[2020-09-06 07:44] zz-jason commented on #17807
@rebelice does it affect release 3.0.x?

[2020-09-06 08:27] zz-jason commented on #19663
@tiancaiamao please take a look.

[2020-09-06 09:20] watchpoints commented on #18693
I want to do it,  I am reading coding , but I not how to start  from code?

so run

[code]

[2020-09-06 09:24] zz-jason opened #19817 "support timestamp bounded read-only transactions on data replicas"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There is a scenario that in a multi-region application, mostly all the database transactions are read-only, only some of them are read-write and write-only transactions. Applications can tolerate high read-write and write-only transaction durations. But the throughout of read-only transactions on each Region sh

[2020-09-06 09:54] LebronAl commented on #7623
/pick-up
STDDEV_SAMP()
VAR_SAMP()

[2020-09-06 09:58] LebronAl commented on #7623
/pick-up
VARIANCE()

[2020-09-06 09:59] LebronAl commented on #7623
It seems that this function has not been implemented or picked?And he seems only pick JSON_ARRAYAGG()?

[2020-09-06 10:30] SE-Bin opened #19818 "Need the default order , without using order by in TiDB"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Because of Mysql InnoDB using the IOT, the result is ordered according to the index which is used.
 In TiDB, when the result involves more than 2 regions, the returned result is out of order.

**Describe the feature you'd like:**

The result can be ordered default by the index which is used without using order

[2020-09-06 11:38] TszKitLo40 commented on #12967
/pick-up
group_concat

[2020-09-06 11:39] TszKitLo40 commented on #12967
/pick-up
bitxor

[2020-09-06 11:49] TszKitLo40 commented on #14428
/pick-up limit

[2020-09-06 11:55] TszKitLo40 commented on #14428
Maybe individual issue should be created for each item

[2020-09-06 11:55] TszKitLo40 commented on #14428
/give-up

[2020-09-06 15:19] vagetablechicken commented on #12967
/give-up

ok, give up this issue

[2020-09-06 16:05] nullnotnil commented on #19818
I recommend addressing these issues with [SPM](https://docs.pingcap.com/tidb/stable/sql-plan-management). The problem with forcing order on TiDB, is that it will force sub-optimal query plans.

With MySQL this order is never guaranteed, even if it is often stable due to clustered index+single-threaded execution. As new optimizations are added, the order often changes. We can see from their bugs da

[2020-09-06 16:11] nullnotnil commented on #19817
Relates to https://github.com/pingcap/tidb/issues/18672

I think it's useful to have this as part of a `START TRANSACTION` statement because then all queries that follow will not need additional syntax. From [the comment here](https://github.com/pingcap/tidb/issues/11703#issuecomment-651472489), may I suggest including a pseudo-function to use the most up to date consistent snapshot from followers

[2020-09-06 17:07] 9547 commented on #11329
/pick-up

[2020-09-06 20:31] nullnotnil commented on #18038
I hit this today while trying to create examples for partitioning on moderate-sized tables. Because TiDB does not support adding partitioning, or removing partitioning from existing tables, it requires an export and then a reload:

[code]

It is not user-friendly to show examples that require a local dumper as an in-between step. It is (obviously) optimal if TiDB supports all DDL variants, but ant

[2020-09-06 22:48] 9547 commented on #11329
The implementation of `date_add_interval` in MySQL 8.0 checks only for `MAX_DAY_NUMBER` date without checking for minimum values( >=0 is valid). This does not correspond to the [`1000-00-00` in the MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/datetime.html), which we implemented the same to the source code:

The definition of `MAX_DAY_NUMBER` from [mysql/mysql-server/blob/8.0/inclu

[2020-09-07 02:13] ZenoTan commented on #19809
/label sig/executor

[2020-09-07 02:13] ZenoTan commented on #19809
/label sig/execution

[2020-09-07 02:14] ZenoTan commented on #19801
/label sig/ddl

[2020-09-07 02:23] TszKitLo40 commented on #12967
Maybe individual issue should be created for each item. Otherwise the issues could not be picked up.

[2020-09-07 02:46] AilinKid commented on #19318
MariaDB
[code]

PostgreSQL
[code]
`Start With` is not used to see what the next value is, the major meaning of its existence is to determine the next round first position for those sequences with cycle option.

[2020-09-07 02:47] AilinKid commented on #19318
PTAL @glorv

[2020-09-07 02:48] #19318 closed

[2020-09-07 02:52] #19265 closed

[2020-09-07 03:05] foxchenlei opened #19823 "How to deploy tidb cluster on kubernetes without network components"
## Feature Request

**Describe the feature you'd like:**
I want to deploy tidb cluster on kubernetes using Daemonset. The k8s cluster has no network componets or  Persistent Storage.
The TidbCluster looks like rely on network .  Do you have any ways without network to deploy tidb on kubernetes ?
Thanks

[2020-09-07 03:09] #19743 closed

[2020-09-07 03:13] vagetablechicken commented on #11208
I want to fix this issue, but it doesn't have `challenge-program` label.

[2020-09-07 03:16] mmyj commented on #12967
/pick-up

[2020-09-07 03:16] superlzs0476 opened #19824 "Support SQL of Prepare use SPM to bind SQL."
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB can not support bind SQL of Prepare if the application use Prepare SQL that has an incorrect execution plan, we want to use SPM to bind this type of SQL.

**Describe the feature you'd like:**

SPM support SQL of Prepare.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption

[2020-09-07 03:26] XuHuaiyu commented on #12967
@TszKitLo40
Thanks for the reminder.
I've updated the progress in the description, this is only one subtask remained which is working in progress. Thus we'll not create new issues for the sub-tasks.

[2020-09-07 03:32] #18903 closed

[2020-09-07 03:44] rebelice commented on #17807
Yes.

[2020-09-07 03:55] dyzsr commented on #19786
This is not a correct issue.

- `group_concat` without `order by` inside parentheses doesn't have to preserve the data order of concatenating.

[2020-09-07 04:08] wjhuang2016 commented on #19387
Release 4.0 is also affected.
`What is your TiDB version?` doesn't mean affected version?

[2020-09-07 04:34] XiaoGe2030 commented on #11208
/pick-up

[2020-09-07 05:23] XiaoGe2030 commented on #11178
/pick-up

[2020-09-07 05:23] #19569 closed

[2020-09-07 05:30] gekaiwen commented on #19824
We faced the same question.
e.g.
sql : select x from t limit 1,20
normal SQL parameterization: select x from t limit ...
prepared statement SQL parameterization: select x from t limit ?,?

[2020-09-07 05:44] zz-jason commented on #4616
Seems it's duplicated with this feature request https://github.com/pingcap/tidb/issues/18030. In TiDB 4.0, you can specify the number of replicas through [Placement Rules](https://docs.pingcap.com/tidb/stable/configure-placement-rules#placement-rules).

[2020-09-07 05:49] zz-jason commented on #19332
I think it's duplicated with this issue: https://github.com/pingcap/tidb/issues/9298

[2020-09-07 06:03] zz-jason commented on #19163
I'm going to mark this feature request as accepted, but the solution needs more discussion.

[2020-09-07 06:06] zhuboshuai commented on #8510
yes ,  I agree with you

[2020-09-07 06:07] SunRunAway commented on #9298
Closing it and let's discuss here. https://github.com/pingcap/tidb/issues/19332

[2020-09-07 06:07] #9298 closed

[2020-09-07 06:10] SunRunAway commented on #19332
LGTM. I've added the `Name remapping` section in the issue description.

[2020-09-07 06:45] #17794 closed

[2020-09-07 07:00] SunRunAway commented on #19824
@superlzs0476 @gekaiwen
I tested against the Master branch and Binding SQL does support prepare queries.

[code]

[2020-09-07 07:16] SunRunAway opened #19836 "Prepare queries with LIMIT clause does not work with SQL BIND"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Use table reader but not index reader, like the normal SELECT statement.
[code]

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master, v4.0.5

[2020-09-07 07:17] SunRunAway commented on #19836
@eurekaka PTAL

[2020-09-07 07:19] SunRunAway commented on #19824
Closing it.
Maybe you're facing the bug https://github.com/pingcap/tidb/issues/19836

[2020-09-07 07:46] tiancaiamao commented on #19663
I think the current behavior is not a bug.
When kill or close TiDB, the integrity of the data may not be guaranteed, so return error is a better choice.
 @zz-jason @SunRunAway

[2020-09-07 07:53] SunRunAway commented on #19663
I can't disagree more. TiDB should do its best efforts for serving the current queries when graceful closing, unless it reaches the graceful timeout.

[2020-09-07 07:56] zz-jason commented on #19663
What's the behavior in MySQL?

[2020-09-07 08:04] SunRunAway commented on #19663
I think this is not an issue. When a server facing `kill -9`, the client may also receive the half data and it should treat `connection reset by peer` correctly.

[2020-09-07 08:23] #19426 closed

[2020-09-07 08:28] zjj2wry opened #19840 "add runbook_url for TiDB alerts"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]
There is some alert solution(https://docs.pingcap.com/tidb/stable/alert-rules#tidb_schema_error) on TiDB official website, I hope we can add it to runbook_url annotations. Then users can be got the URL by '{{ (index .Alerts 0).Annotations.runbook_url }}' templates.  The following is the alerts of k8s

![

[2020-09-07 08:31] qw4990 commented on #19054
@bobotu Do we need to pick https://github.com/pingcap/tidb/pull/19042 to v4.0?

[2020-09-07 08:33] bobotu commented on #19054
@qw4990 No. The fix for 4.0 is #19276

[2020-09-07 08:38] bobotu commented on #19054
@zz-jason v3.0 may also have this issue, will be fixed by https://github.com/pingcap/tidb/pull/19841

[2020-09-07 09:08] zz-jason commented on #19784
@bb7133 Can we regard `auto_random` as the brother property of `auto_increment`? So that whenever `auto_increment` is supported, `auto_random` should also be supported.

[2020-09-07 09:27] tiancaiamao commented on #19663
That's totally a different comparison.
If the peer socket is reset, the error is from the network layer and the OS would notify the process about the error. And of course, the client knows how to handle the error.
If the data itself is wrong, and if tidb return the wrong data with OK response message, the client thinks every thing goes well! For example, the database should return 100 lines but ju

[2020-09-07 09:51] jebter commented on #19426
/info

[2020-09-07 11:10] winoros commented on #18693
@watchpoints Do you have account in our community slack workspace? (you can find it in https://github.com/pingcap/community/#communication)

You can ask help in channel #sig-planner

[2020-09-07 11:14] breeswish commented on #19731
Thanks for the report. Investigating.

[2020-09-07 11:21] SunRunAway commented on #19663
What situation would tidb return half-truncated data with an OK response?

[2020-09-07 11:24] breeswish commented on #19731
Looks like it is caused by https://github.com/pingcap/tidb/pull/18786 where the advertise IP is always reported as the NIC address while the address may not be listened.

[2020-09-07 11:25] breeswish commented on #19731
@djshow832 @crazycs520 PTAL

[2020-09-07 11:32] crazycs520 opened #19847 "cop task runtime information is wrong in the index join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/26020263/92383814-8c770500-f141-11ea-9287-a5896a9d4385.png)

As you can see in the upper picture, The inner worker of `IndexJoin_17` spend `2.89010439s` to fetch data, but the child `IndexReader_37(Build)` only spend `1.999

[2020-09-07 11:55] TszKitLo40 commented on #17832
/pick-up

[2020-09-07 11:56] SunRunAway commented on #11208
@vagetablechicken @XiaoGe2030 You can pick it now.

[2020-09-07 12:15] zz-jason commented on #19817
The staleness maybe is not acceptable to the applications. Is there any use case of this behavior?

[2020-09-07 12:16] zz-jason commented on #16893
I think a better solution is the local replica read described in https://github.com/pingcap/tidb/issues/18033.

[2020-09-07 12:17] zz-jason commented on #19817
This feature request can be regarded as a subtask of https://github.com/pingcap/tidb/issues/18033

[2020-09-07 12:23] zz-jason commented on #9714
@imtbkcat I'm going to accept this feature request. BTW, is there any plan to support this feature request?

[2020-09-07 12:37] tirsen commented on #19805
A simpler version of this might be just a static placement "hint" rather than a clever dynamic "affinity".

Something like:
[code]

In this case TiDB would try to place ranges with orders on the same node as the majority of the customers of those orders. (So it's not a placement "policy" just a "hint".)

[2020-09-07 12:45] tiancaiamao commented on #19663
Interrupted, or graceful shutdown here.
The code may be

[code]

[2020-09-07 13:00] sre-bot opened #19850 "executor_test.go:testSuite.TestPrevStmtDesensitization failed"
## Description
executor_test.go:testSuite.TestPrevStmtDesensitization

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/50272/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/48795/display/redirect

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

#

[2020-09-07 13:00] sre-bot opened #19851 "memory_test.go:testMemoryLeak.TestGlobalMemoryTrackerOnCleanUp failed"
memory_test.go:testMemoryLeak.TestGlobalMemoryTrackerOnCleanUp

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/50476/display/redirect

[2020-09-07 13:05] vagetablechicken commented on #11208
/pick-up

[2020-09-07 13:32] ilovesoup commented on #18081
This is duplicated with https://github.com/pingcap/tidb/issues/18087

[2020-09-07 13:32] #18081 closed

[2020-09-07 14:36] SunRunAway commented on #19663
From confirmation, I implemented a simple SQL client to verify what receives when meets a kill, see https://gist.github.com/SunRunAway/7dcb3fce0ceb448e597163ca9ef00a4c

1. run a server based on my branch with a debug sleeping, see https://github.com/pingcap/tidb/compare/master...SunRunAway:isseue19663-test?expand=1#diff-dc417f5322100e2e83a8818c70a25878R1633-R1635
2. create a table with 16384 rows

[2020-09-07 14:50] seiya-annie commented on #19660
/info

[2020-09-07 14:51] seiya-annie commented on #19660
/info

[2020-09-07 15:05] HunDunDM commented on #19306
All tasks have been completed and this issue will be closed.

[2020-09-07 15:05] #19306 closed

[2020-09-07 15:21] markjenny commented on #11645
/pick-up

[2020-09-07 15:36] 9547 commented on #11200
/pick-up

[2020-09-08 02:05] 9547 opened #19853 "another DATETIME's behaviour is different from mysql"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

similar to #11329

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

in MySQL 8.0:
[code]

### 3. What did you see instead (Required)

in TiDB
[code]

### 4. What is your TiDB version? (Required)

[code]

## SIG slack channel
[#sig-exec](https://slack.tid

[2020-09-08 02:40] AilinKid commented on #17586
The `lastval` is implemented as a map in the session scope.
new session / reconnecting / haven't filled the map will get NULL value when you try to get `lastval` function.

[2020-09-08 02:43] AilinKid commented on #17586
PTAL @nullnotnil @GhostChild  Closing issue suggested

[2020-09-08 02:43] #17586 closed

[2020-09-08 02:48] wshwsh12 commented on #19847
/label sig/execution

[2020-09-08 02:48] wshwsh12 commented on #19853
/label sig/execution

[2020-09-08 02:48] #17420 closed

[2020-09-08 02:49] wshwsh12 commented on #19851
/label sig/execution

[2020-09-08 02:57] wshwsh12 commented on #19850
/label sig/execution

[2020-09-08 03:05] wjhuang2016 commented on #19492
Closed by https://github.com/pingcap/tidb/pull/15146

[2020-09-08 03:05] #19492 closed

[2020-09-08 03:20] TszKitLo40 commented on #19148
/pick-up

[2020-09-08 03:44] elvizlai opened #19858 "tidb hangs with unable to connect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
All tikv crashed with OOM, after tikv recovered, one of our tidb can't connected, dashboard can't show related info before restart.

tiup cluster shows everything is ok.

### 2. What did you expect to see? (Required)
All works well.

### 3. What did you see instead (Required

[2020-09-08 05:45] elvizlai opened #19864 "Can't create binding with in stmt"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
create table t(id int, key (id));

CREATE SESSION BINDING FOR select * from t where id in(...) USING select * from t ignore index (id) where id in(...);

### 2. What did you expect to see? (Required)
binding created.

### 3. What did you see instead (Required)
ERROR 1064 (42

[2020-09-08 05:49] ChenPeng2013 opened #19865 "can't read updated data simultaneously in transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

run test code https://gist.github.com/ChenPeng2013/0580bde134c11e5872eafb989c7ec12d

### 2. What did you expect to see? (Required)
Consistent with MySQL behavior

### 3. What did you see instead (Required)
panic

### 4. What is your TiDB version? (Required)

master
r

[2020-09-08 06:04] wshwsh12 commented on #19865
/label sig/transaction

[2020-09-08 06:05] wshwsh12 commented on #19864
/label sig/planner

[2020-09-08 06:16] XiaoGe2030 commented on #11193
/pick-up

[2020-09-08 06:22] SunRunAway opened #19868 "DATA RACE detected at unistore"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-09-08 06:56] zyguan commented on #19865
Minimal reproduce steps:
[code]

[2020-09-08 07:01] cfzjywxk commented on #19865
@ChenPeng2013 @zyguan Good catch.
I think this is the same reason with #15395, it's a compatibility problem.
The `begin` statement in TiDB will set the snapshot ts for the transaction while MySQL does not.
After the `begin` statement execution for `txn2`, the snapshot seems empty set,
the latter `for update` will use current read which may get the newest commit data for table `t1`,
but the followi

[2020-09-08 07:13] seiya-annie commented on #19788
/info

[2020-09-08 07:15] seiya-annie commented on #19788
/info

[2020-09-08 07:16] #17967 closed

[2020-09-08 07:17] zhangjinpeng1987 commented on #18616
@scsldb @zz-jason Cloud-Spanner also has such a feature

Following description copy from https://cloud.google.com/spanner/docs/whitepapers/optimizing-schema-design

_STORING index clause
Secondary indexes allow you to find rows by attributes other than the primary key. If all the data requested is in the index itself, it can be consulted on its own without reading the primary record. This can save

[2020-09-08 07:32] ichn-hu commented on #19769
This issue is the same as https://github.com/pingcap/tidb/issues/19700, and might be fixed by https://github.com/pingcap/tidb/pull/19843

[2020-09-08 07:35] zz-jason commented on #18616
This feature is awesome:

- It reduces the read performance of queries on a secondary index by eliminating a **probe** operation on the table records.
- It allows the user to choose which columns to be stored, i.e. **clustered**, together with the secondary index.

But in order not to waste the storage and increase the write latency caused by storing unnecessary columns, which columns to be stored

[2020-09-08 07:35] #17816 closed

[2020-09-08 07:38] wjhuang2016 commented on #17791
@nullnotnil
Hi, Do you have any idea about if the SQL-mode used in partition expression is OFF too?

[2020-09-08 07:50] TszKitLo40 commented on #19148
/give-up

[2020-09-08 07:53] zz-jason commented on #19840
Good Catch! Its value and use scenarios are clearly described in [Kubernetes Alert Runbooks](https://github.com/kubernetes-monitoring/kubernetes-mixin/blob/master/runbook.md):

[2020-09-08 08:09] zz-jason commented on #19818
Agree with @nullnotnil, if there is no `order by` clause in the query, it's expected that the order is unstable.

Maybe we can add a query hint or instance variable like `reserve_index_order()`, by default it's false, to reserve the data order gathered from all the coprocessor tasks. But it has the following drawbacks:

- If this variable is enabled, the query latency might be increased as @nullno

[2020-09-08 08:11] zz-jason commented on #19818
@SunRunAway Could you assign someone to add a FAQ in the [SQL FAQs](https://docs.pingcap.com/tidb/stable/sql-faq#sql-faqs) document?

[2020-09-08 08:32] zz-jason commented on #19177
It's more like an internal optimization. I'm going to move this out of the "feature request" Kanban.

[2020-09-08 08:37] Patrick0308 commented on #17942
/pick-up

[2020-09-08 08:37] WalterWj opened #19878 "Trigger gc and compact by SQL"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When gc and compact work, cluster performance may fluctuate.

**Describe the feature you'd like:**

 We'd like to use SQL to manually trigger cluster gc and compact.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-09-08 08:39] zz-jason commented on #19878
This feature request loos good to me, @zhangjinpeng1987 PTAL.

[2020-09-08 08:42] zz-jason commented on #17960
A typical result of `information_schema.cluster_info`:

[code]

Maybe adding a `cluster_id` field in the table can meet the request.

[2020-09-08 08:44] lichunzhu commented on #19823
Can [this article](https://docs.pingcap.com/tidb-in-kubernetes/stable/deploy-tidb-operator#offline-installation) meet your expectations?
But for tidbcluster TiKV will need persistent storage.

[2020-09-08 08:47] zz-jason commented on #18207
@cfzjywxk @zhangjinpeng1987 PTAL

[2020-09-08 09:09] TszKitLo40 commented on #16679
/pick-up

[2020-09-08 09:13] Patrick0308 commented on #17942
@crazycs520 I can't reproduce it in commit 72634114

[2020-09-08 09:15] zz-jason commented on #19878
We can even design a series of admin commands for version garbage collection and RocksDB compaction to cover manually updating `mysql.tidb` table:

[code]

[2020-09-08 09:16] zz-jason commented on #8386
@lysu Is there still an "unknown" error in the region error panel?

[2020-09-08 09:24] #13987 closed

[2020-09-08 09:26] zimulala commented on #19851
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/50808/pipeline

[2020-09-08 09:30] zz-jason commented on #17514
It's hard to fully support the JSON features and makes it compatible with MySQL due to the architecture and implementation differences. At present, TiDB encodes and stores the whose JSON attribute and other attributes of a table into the value part of key-value pair in TiKV. There isn't a plan to support this feature to update a JSON attribute.

[2020-09-08 09:30] #17514 closed

[2020-09-08 09:30] #17504 closed

[2020-09-08 09:32] zz-jason commented on #17504
As mentioned above, it's hard to make this feature usable for the applications without the support of flow control statements in the stored program. Considered there isn't a plan to support the stored program in TiDB, this feature request is closed and marked as rejected.

[2020-09-08 09:36] zz-jason commented on #17527
It's glad to see this feature request! But at present, we are focused on the relational databases, there isn't a plan to support NoSQL features. Due to the longterm product roadmap, this feature request is rejected and closed. Thanks anyway.

[2020-09-08 09:36] #17527 closed

[2020-09-08 09:41] zz-jason commented on #19432
@nullnotnil Do you mean to support this feature even when the specified engine is `innodb` in TiDB, control this behavior with a variable or something else?

[2020-09-08 09:42] wangbeib commented on #11181
/pick-up

[2020-09-08 09:48] lysu commented on #8386
unknow means tikv return a region error without type info.

normally tikv should return region error with one of those field https://github.com/pingcap/kvproto/blob/release-4.0/proto/errorpb.proto#L57

but in some tikv code, it just set message but not set region type:

https://github.com/tikv/tikv/search?q=%22errorpb%3A%3AError%3A%3Adefault%28%29%22&type=Code

for example this: https://github.com

[2020-09-08 10:05] wshwsh12 commented on #19858
Is there any error information in tidb.log? Could you please provide tidb.log?  Maybe we can get some useful information from it.

[2020-09-08 10:15] #19851 closed

[2020-09-08 10:41] wjhuang2016 commented on #4727
Closed since we had supported this feature.

[2020-09-08 10:41] #4727 closed

[2020-09-08 10:41] #15533 closed

[2020-09-08 10:50] Lvnszn commented on #19148
/pick-up

[2020-09-08 11:21] wjhuang2016 commented on #8964
The first issue had been resolved by https://github.com/pingcap/tidb/pull/19270

[2020-09-08 11:32] glorv opened #19887 "goroutine stack overflow in 2pc commit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Run br integration test failed by tidb goroutine stack overflow
[code]
See: https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/br_ghpr_unit_and_integration_test/detail/br_ghpr_unit_and_integration_test/2853/pipeline/

### 2. What did you expect to see? (Requ

[2020-09-08 11:32] wjhuang2016 commented on #9372
Duplicate with #9288

[2020-09-08 11:32] #9372 closed

[2020-09-08 11:37] wjhuang2016 commented on #14030
@kennytm Can we close this issue now?

[2020-09-08 11:50] Blue-Sail commented on #7623
/give-up

[2020-09-08 12:25] XiaoGe2030 commented on #12786
/pick-up

[2020-09-08 12:51] cfzjywxk commented on #19887
The DDL job related log
[code]

The scan snapshot version ts is `9223372036854775807` which is an invalid value int64.MAX. This scan resolved the following key and it gets a `min_commit_ts` with `9223372036854775808`, committing this key causes infinite retry because of `commit ts expired error`.
Need to investigate why the DDL job uses an invalid snapshot version or timestamp to do the scan.

[2020-09-08 12:59] kennytm commented on #14030
@wjhuang2016 AFAIK the behavior of `tryRetainID` is still not implemented, so no this should still be kept open.

[2020-09-08 13:00] sre-bot opened #19889 "bind_test.go:testSuite.TearDownSuite failed"
bind_test.go:testSuite.TearDownSuite

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/50681/display/redirect

[2020-09-08 13:00] sre-bot opened #19890 "ddl_test.go:testSuite6.TestSetDDLReorgBatchSize failed"
ddl_test.go:testSuite6.TestSetDDLReorgBatchSize

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/50787/display/redirect

[2020-09-08 13:33] #19596 closed

[2020-09-08 14:05] 9547 opened #19892 "different behaviour of NO_ZERO_DATE with mysql"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

The [`NO_ZERO_DATE`](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_zero_date) define as below:

BUT, in TiDB's implemention, the SQL mode doesn't work.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

in MySQL 8.0

[code]

### 3. Wha

[2020-09-08 14:06] 9547 commented on #19853
@wshwsh12 Seems it's related to the server mode of [`NO_ZERO_IN_DATE`](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_zero_in_date) and found another incompatible issue of [`NO_ZERO_DATE`](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_zero_date) see detail from #19892

[2020-09-08 14:27] nullnotnil commented on #19432
Yes, I think it's better as a variable:
- Not everyone identifies this characteristic as a MyISAM behavior.
- If TiDB behaved this way when `ENGINE=MYISAM`, it still has a lot of innoDB like behaviors which won't be changed (MyISAM doesn't support transactions).

May I suggest something like `tidb_enable_composite_autoinc` ?

[2020-09-08 15:09] rickif commented on #19739
/give-up

[2020-09-08 18:24] bb7133 opened #19893 "planner: enhance the 'BatchPointGet' plan for composite index"
## Feature Request

**Describe the feature you'd like:**
Consider a table as follows:

[code]
Then run queries like:
[code]
Theoretically, the second query can be compiled to a `BatchPointGet` since it is actually the same as the first one.

We can enhance the logical planner to make this optimization available.

**Describe alternatives you've considered:**
We can rewrite the SQL statement to the

[2020-09-08 18:34] bb7133 opened #19894 "planner: panic occurred when querying with `IN` for multiple columns"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

The stack:
[code]

### 4. What is your TiDB version? (Required)
The panic can be reproduced in master:
[code]
And v4.0:
[code]

[2020-09-09 02:43] xiaofeitu2 commented on #15185
/pick up

[2020-09-09 02:45] wshwsh12 commented on #19892
/label sig/execution

[2020-09-09 02:46] wshwsh12 commented on #19890
/label sig/ddl

[2020-09-09 02:47] wshwsh12 commented on #19889
/label sig/ddl

[2020-09-09 03:13] bb7133 commented on #19893
Close this issue cause it duplicates with https://github.com/pingcap/tidb/issues/18118

[2020-09-09 03:13] #19893 closed

[2020-09-09 03:16] #19746 closed

[2020-09-09 03:33] #19742 closed

[2020-09-09 03:50] Patrick0308 commented on #11178
/pick-up

[2020-09-09 03:57] #19733 closed

[2020-09-09 03:58] SunRunAway commented on #14215
#17077 solves that when `firstRowDatums` are equal to `lastRowDatums` then there is no need to evaluate chunk.
It extracts getting `firstRowDatums` and `lastRowDatums` from `evalGroupItemsAndResolveGroups` and call  `evalGroupItemsAndResolveGroups` only when `firstGroupKey` is different than `lastGroupKey`.

I think #17077 is enough for performance. So I'm going to close this issue. If someone has

[2020-09-09 03:58] #14215 closed

[2020-09-09 04:19] bb7133 opened #19897 "*: `not supported in CommonHandle` error when using `DATETIME` as clustered index in MockTiKV"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
The query runs successfully.

### 3. What did you see instead (Required)
When running TiDB with UniStore:
[code]

The following error stack can be found in logs of TiDB-server:
[code]

### 4. What is your TiDB version? (R

[2020-09-09 04:26] hidehalo commented on #14428
/pick-up Sort and TopN

[2020-09-09 05:00] coocood commented on #19897
mocktikv does not support clustered index, you can start tidb with arg `--store unistore`.

[2020-09-09 05:04] #19730 closed

[2020-09-09 05:25] bb7133 commented on #19897
Thanks!

[2020-09-09 05:25] #19897 closed

[2020-09-09 06:19] qw4990 commented on #19054
Close since it is fixed by https://github.com/pingcap/tidb/pull/19841, https://github.com/pingcap/tidb/pull/19276, and https://github.com/pingcap/tidb/pull/19042.

[2020-09-09 06:19] #19054 closed

[2020-09-09 06:37] qw4990 commented on #12967
It seems all issues of this sliding window optimization have been completed 🎊 !
Can we close this issue now? @SunRunAway @mmyj

[2020-09-09 06:45] #12967 closed

[2020-09-09 07:45] zz-jason commented on #19054
/info

[2020-09-09 07:54] seiya-annie commented on #19730
/info

[2020-09-09 08:03] #17720 closed

[2020-09-09 08:03] #17476 closed

[2020-09-09 08:06] shldreams opened #19902 "Can metadata and system tables support 5 copies ?"
## Feature Request

**Is your feature request related to a problem? Please describe:**
In order to prevent the loss and damage of metadata and system table data, we can set these data to 5 copies by way of Placement Rules. The key range of metadata is continuous, but the data of system tables is scattered. If we use Placement Rules to set the number of copies, many rules need to be set, which is v

[2020-09-09 08:09] crazycs520 commented on #19731
@jyz0309 PTAL

[2020-09-09 08:13] jyz0309 commented on #19731
get it

[2020-09-09 08:30] eurekaka opened #19904 "prioritize low selectivity indexes in the greedy search procedure of `Selectivity()`"
## Development Task

Consider this case:

[code]

When computing the total selectivity of this filter, current greedy algorithm would choose index `ab` and `cd` to cover the filters, and multiply these 2 selectivities computed.

However, if column `b` and `c` have some explicit or implicit functional dependency, specifically, there is no record satisfying `b = 1 and c = 1` at all, the final select

[2020-09-09 08:55] #19517 closed

[2020-09-09 09:25] #19735 closed

[2020-09-09 09:29] foxchenlei commented on #19823
fine.  I will have a try

[2020-09-09 09:29] time-and-fate opened #19906 "make `nth_plan` hint don't affect subquery executed in expression rewriter"
## Development Task

Currently, subqueries executed in expression rewriter will use the same `nth_plan` hint as for the entire statement.

This behavior is not desired. Subqueries executed by expression rewriter should not be affected by `nth_plan`.

[2020-09-09 09:30] time-and-fate commented on #19906
/label sig/planner

[2020-09-09 09:30] time-and-fate commented on #19906
/assign time-and-fate

[2020-09-09 09:44] djshow832 opened #19907 "planner: decimal precisions of sum and avg are different from MySQL"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

### Explanation

In TiDB:
- the precision of SUM is always 65, and decimal precision is or

[2020-09-09 10:15] #19744 closed

[2020-09-09 10:38] hidehalo commented on #14770
/pick-up

[2020-09-09 10:41] TszKitLo40 commented on #19386
/pick-up

[2020-09-09 10:44] TszKitLo40 commented on #9384
/pick-up

[2020-09-09 10:46] TszKitLo40 commented on #16679
/give-up

[2020-09-09 10:52] TszKitLo40 commented on #19386
/pick-up

[2020-09-09 11:48] SunRunAway commented on #19148
Tips,
When setting [`Column.RetType`](https://github.com/pingcap/tidb/blob/84e07a2a593b6dd9a85712f1910883e5f7281b07/expression/column.go#L186) from a schema info, using `FieldType.Clone` but not reference may be a good solution.

[2020-09-09 12:08] #19818 closed

[2020-09-09 12:08] #17725 closed

[2020-09-09 12:16] xiaodong-ji commented on #19397
/pick-up

[2020-09-09 13:55] youwithouto commented on #16788
/pick-up

[2020-09-09 14:03] mmyj commented on #9244
/pick-up

[2020-09-09 14:12] Rustin-Liu commented on #9244
/ping

[2020-09-09 14:24] Rustin-Liu commented on #9244
@mmyj Cloud you please try again?

[2020-09-09 14:36] mmyj commented on #9244
/pick-up

[2020-09-09 14:42] Rustin-Liu commented on #9244
/pick-up

[2020-09-09 14:43] Rustin-Liu commented on #9244
@mmyj I will take a look tomorrow.

[2020-09-09 14:48] mmyj commented on #9244
ok

[2020-09-09 15:05] Rustin-Liu commented on #18517
/pick-up

[2020-09-09 15:06] mmyj commented on #19739
/pick-up

[2020-09-09 15:20] 9547 opened #19912 "Inconsistent output of warning msg when invoke function failed"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

in MySQL 8.0

[code]

### 3. What did you see instead (Required)

[code]

TiDB's output has two differ to MySQL:

1. missing the function name;
2. redundant format the raw argument;

### 4. What is your T

[2020-09-10 01:41] hftsin commented on #9244
/pick-up

[2020-09-10 01:57] hftsin commented on #14441
/pick-up

[2020-09-10 02:28] hftsin commented on #14441
@qw4990 can you add a `challenge-program` label to this issue?

[2020-09-10 02:41] wshwsh12 commented on #19912
/label sig/execution

[2020-09-10 02:46] Rustin-Liu commented on #9244
/pick-up

[2020-09-10 02:47] #19736 closed

[2020-09-10 02:59] tangenta commented on #19784
For now, `AUTO_RANDOM` requires that the primary key contains exactly 1 column.

[2020-09-10 02:59] Rustin-Liu commented on #9244
/pick-up

[2020-09-10 03:00] Rustin-Liu commented on #9244
/give-up

[2020-09-10 03:00] Rustin-Liu commented on #9244
@mmyj  Cloud you please try it now?

[2020-09-10 03:02] Rustin-Liu commented on #9244
@zz-jason Cloud you please delete my comments and add correct the issue desc? You can refs [issue template](https://tidb-community-bots.github.io/challenge-bot/issue-template.html). Thanks!

[2020-09-10 03:17] djshow832 opened #19913 "Reduce the impact on DML when executing partition DDL"
## Description

### Example

Table schema:
[code]

Conn1:
[code]

Conn2:
[code]

Conn1:
[code]

Executing the last statement `commit` reports an error:
[code]

### Explanation

DDL will make the concurrent transactions fail, as long as the transactions are writing to the same tables.
The tables which the transactions wrote to are recorded in a map. After the schema of a table changes, TiDB will ch

[2020-09-10 04:02] #18412 closed

[2020-09-10 04:48] ichn-hu commented on #19878
This also sounds very interesting to me.

[2020-09-10 04:54] mmyj commented on #9244
/pick-up

[2020-09-10 04:54] mmyj commented on #9244
thanks

[2020-09-10 04:57] zimulala commented on #14765
1. When adding index failed, we may need rollback(we can see the function of `convertAddIdxJob2RollbackJob`). After calling `convertAddIdxJob2RollbackJob`, it will do `job.IsRollingback()`. `job.Args[0] = indexInfo.ID` is use to remove index  data in delete_range.go

2. `getPartitionIDs` is used for partition table, I think we need to add this function in line648. Could you file an issue?

If I do

[2020-09-10 05:24] #19741 closed

[2020-09-10 06:37] xiaodong-ji commented on #19913
/pick-up

[2020-09-10 06:43] xiaodong-ji commented on #19397
/give-up

[2020-09-10 06:43] #19676 closed

[2020-09-10 07:26] #17883 closed

[2020-09-10 07:43] foxchenlei commented on #19823
Hi, My k8s cluster has no network componets, not offline. local-volume-provisioner still needs network componets.
`Could not get node information (remaining retries: 2): Get https://10.96.0.1:443/api/v1/nodes/192.168.127.83: dial tcp 10.96.0.1:443: connect: connection timed out`

[2020-09-10 07:58] DanielZhangQD commented on #19823
@foxchenlei What do you mean with `no network componets`? You mean no `kube-proxy`? And how do Pods in the cluster access each other?
For `no Persistent Storage`, the PD and TiKV need to persistent data, how can you do that without persistent storage.

[2020-09-10 07:59] DanielZhangQD commented on #19823
BTW, you do not need to use TiDB Operator, right?

[2020-09-10 08:05] zimulala opened #19923 "Support display the process of some DDL operations"
## Feature Request

Now we only have the `job.RowCount` to display the process of `add index`. But, we are supporting `modify/change column` and `drop column with indexes` which has some tasks of backfilling data.
e.g.
[code]
In this operation of the `change column`, we need to rewrite the `b` column data(backfill task 1) in rows and `idx2` data(backfill task 2).

So it has two backfill tasks in t

[2020-09-10 08:30] Hunsmore commented on #19923
/pick-up

[2020-09-10 08:40] Hunsmore commented on #19737
/pick-up

[2020-09-10 08:52] asiafrank commented on #14765
/pick-up

[2020-09-10 08:57] #19343 closed

[2020-09-10 09:16] Damon-PingCap opened #19928 "support wait/nowait grammar on ddl operation"
## Feature Request

**Is your feature request related to a problem? Please describe:**

加索引时在终端被 kill 或者 Ctrl+c 之后与 MySQL 行为不一致，造成混乱。并且一次加多个索引通常需要开多个 session。
另外有些 ddl 也可能被加索引操作长时间阻塞。
比如一个正在加索引的表上的 add column 操作会被阻塞，同时又会阻塞其它表的 ddl 操作，比如 create table ，drop table 之类的。均需要能放到后台的方法，当前是通过 Ctrl+c 来达到效果，与正常的理解有偏差。

**Describe the feature you'd like:**

1，在执行长时间的加索引操作时，可以通过 nowait 选项，让前台 session 返回，添加索引操作自

[2020-09-10 09:18] #19288 closed

[2020-09-10 09:28] wshwsh12 opened #19929 "mem-quota-query can't take effect when reloading config using http api."
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

mem-quota-query can't take effect when reloading config using http api.

1. create config.toml
mem-quota-query = 100000000
2. start tidb using the config.
3. modify config.toml
mem-quota-query = 100012345
4.  curl -G "127.0.0.1:10080/reload-config"
5.
[tidb]>

[2020-09-10 09:28] tangenta opened #19931 "Support GRANT CREATE TABLESPACE syntax"
## Description

### Example

[code]

Related parser issue: https://github.com/pingcap/parser/issues/872.

See https://dev.mysql.com/doc/refman/5.7/en/privileges-provided.html#priv_create-tablespace.

### Solution
For a reference, please see https://github.com/pingcap/parser/pull/680 and learn how to support a new syntax in the parser.

## Score

* 300

## SIG Slack Channel

You can join [#sig-ddl]

[2020-09-10 09:32] zz-jason opened #19932 "can't create binding for union all statements"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

created successfully.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-09-10 09:36] zz-jason opened #19933 "auto analyze the newly added index"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Adding a new index for a table whose `modify_row_count/total_row_count` is smaller than the auto-analyze ratio (0.5 by default). Currently, the auto-analyze job is at table level, it's impossible to auto-analyze the newly added index to get the correct statistics for it. Users have to execute the `analyze table

[2020-09-10 09:41] tangenta opened #19934 "Support VALUES and TABLE statements syntax"
## Description

Related parser issue: https://github.com/pingcap/parser/issues/869

### Example

The [`TABLE`](https://dev.mysql.com/doc/refman/8.0/en/table.html) and [`VALUES`](https://dev.mysql.com/doc/refman/8.0/en/values.html) statements are two query specification statements introduced in [MySQL 8.0.19](https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-19.html#mysqld-8-0-19-sql-syntax)

[2020-09-10 09:44] vagetablechicken commented on #11208
We could make  the test case more simplify.
The Minimum Test Case is
[code]
TIDB:
[code]
MySQL:
[code]

[2020-09-10 09:45] foxchenlei commented on #19823
yes, no `kube-prxoxy`

[2020-09-10 09:47] #19740 closed

[2020-09-10 09:49] #19734 closed

[2020-09-10 09:49] Patrick0308 commented on #19397
/pick-up

[2020-09-10 10:03] seiya-annie commented on #19897
/info

[2020-09-10 10:04] xiaodong-ji commented on #19931
/pick-up

[2020-09-10 10:13] DanielZhangQD commented on #19823
OK, then you do not need to use TidbCluster CR and TiDB Operator, you can write your own yaml files to deploy the TiDB cluster.

[2020-09-10 10:26] xiongjiwei commented on #19747
/assign

[2020-09-10 10:54] DanielZhangQD commented on #19823
@foxchenlei Do you use hostNetwork for your Kubernetes cluster?

[2020-09-10 11:24] xiongjiwei commented on #19747
MySQL has a framework to support language specific collation, it based on UCA v900 and accept different tailoring rules.
we can do same with mysql, add a framework for language specific collation, it will be easier to adding other language specific collation in future, or we implement collation separately, this way has better performance, easier to optimize.

[2020-09-10 11:34] zz-jason commented on #19747
@xiongjiwei How much performance would we gain compared with the unified collation framework?

[2020-09-10 11:40] SailerNote commented on #19739
/pick-up

[2020-09-10 11:49] yufan022 commented on #17993
/pick-up

[2020-09-10 12:00] xiongjiwei commented on #19747
I have no idea, I am not deep in this, but I instinctively feel that if we implement framework very carefully, we may only loss performance when startup, it is hard but still has a way.

[2020-09-10 12:22] SailerNote commented on #19739
/pick-up

[2020-09-10 12:24] xiongjiwei commented on #19747
right

[2020-09-10 12:27] yufan022 commented on #17993
/giveup

[2020-09-10 12:27] crazycs520 opened #19937 "query CLUSTER_SLOW_QUERY return wrong time."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2020-09-10 12:33] zz-jason commented on #19747
OK. I think it's affordable. Would you like to write a proposal for this framework or other algorithms?

[2020-09-10 12:37] yufan022 commented on #17994
/pick-up

[2020-09-10 12:44] xiongjiwei commented on #19747
ok, I will hava a try

[2020-09-10 12:48] yufan022 commented on #17993
/give-up

[2020-09-10 12:52] yufan022 commented on #17993
mockstore can't get column name, no good idea. maybe need discuss.

[2020-09-10 13:02] AilinKid opened #19939 "Support type conversion between different types"
### Description

Partially supports changing the column type;
Mainly focus the column type change between different type;

### Value

* Supports column type conversion between different types that will modify column data.

### Task List
- [ ] P0:  Support conversion from Integer types to others
- [ ] P0:  Support conversion from Numeric types to others
- [ ] P0:  Support conversion from String typ

[2020-09-10 14:33] SailerNote commented on #19739
/give-up

[2020-09-10 14:44] Yisaer commented on #17904
/pick-up

[2020-09-10 15:24] blueseason commented on #19739
/pick-up

[2020-09-10 15:39] bb7133 commented on #19747
This feature request is related to https://github.com/pingcap/tidb/issues/10192 because I believe they actually aim to the same goal - the 'pinyin' order of Chinese character.

Basically we've two alternatives:

- Implement `utf8mb4_zh_0900_as_cs`: we need to implement the [standard UCA algorithm](https://unicode.org/reports/tr10/) and the tailoring rules of `utf8mb4_zh_0900_as_cs` in MySQL 8, whi

[2020-09-10 15:54] ilovesoup commented on #19747
I feel like option 2 is better for now considering the cost. It does not prevent us go for optional 1 in the future if needed.

[2020-09-10 17:08] nullnotnil commented on #17791
Here is the testcase with partitioning:
[code]

As you can see, TiDB is consistent in that it evaluates the expression with the mode of always ON.

In terms of the MySQL behavior, this is expression is not permitted in partitioning:

[code]

I will have to try to find a different testcase to test invalid dates etc.

[2020-09-10 17:08] winoros commented on #19932
The parser only dealed with `SelectStmt` while the `UNION ALL` is `SetOprStmt`

[2020-09-10 17:21] nullnotnil commented on #17791
This is a test for incorrectly applying the session's tz. TiDB passes (same result as MySQL):
[code]

[2020-09-10 17:22] winoros opened #19940 "Support right join for join reorder"
## Description
We haven't support right join in join reorder algorithm.

## Score（must）
     1200
## SIG slack channel（must）:
Contact us in channel `#sig-planner` of [TiDB Community](https://join.slack.com/t/tidbcommunity/shared_invite/enQtNzc0MzI4ODExMDc4LWYwYmIzMjZkYzJiNDUxMmZlN2FiMGJkZjAyMzQ5NGU0NGY0NzI3NTYwMjAyNGQ1N2I2ZjAxNzc1OGUwYWM0NzE)
## Mentor(must)
@winoros
## Recommended Skills：
- Graph

[2020-09-10 17:25] nullnotnil commented on #17791
This is the test with partitioning. The results are not incorrect, but it seems strange to accept an expression that does not support pruning:
[code]

[2020-09-10 17:37] winoros commented on #11653
closed since it's fixed

[2020-09-10 17:37] #11653 closed

[2020-09-10 18:53] arthuryangcs commented on #7623
/pick-up JSON_ARRAYAGG

[2020-09-10 18:58] winoros commented on #15612
This can be closed now? @tiancaiamao @lysu

[2020-09-10 22:03] nullnotnil opened #19941 "partition pruning not effective on date scenarios"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

In MySQL (see "partitions" column):
[code]

### 3. What did you see instead (Required)

In TiDB (see "access object"):
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-09-10 22:05] nullnotnil commented on #19941
@imtbkcat @tiancaiamao PTAL

[2020-09-11 01:01] YangKian commented on #19934
/pick-up

[2020-09-11 01:07] zz-jason commented on #18635
@nullnotnil does the `dump stats <table_name>` syntax looks good to you?
@dunnzhou would you like to have a try?

[2020-09-11 01:28] heming79 commented on #19823
Yes , use hostNetwork  , such as  DaemonSet StatefulSet 。

[2020-09-11 01:37] nullnotnil commented on #18635
I prefer `SHOW STATS <tablename>`, since there are no current commands that start with dump. `SHOW <x>` is very MySQL like / fits in with all the other commands such as [`SHOW STATS_HEALTHY`](https://docs.pingcap.com/tidb/dev/sql-statement-show-stats-healthy).

There is already `DUMP STATS <tablename>` (good).

For the load command, I think the most semantically correct is [`ALTER TABLE`](https://

[2020-09-11 02:23] seiya-annie commented on #19897
/info

[2020-09-11 02:31] seiya-annie commented on #19897
/info

[2020-09-11 02:33] #19695 closed

[2020-09-11 02:43] seiya-annie commented on #19897
/info

[2020-09-11 02:46] dunnzhou commented on #18635
:-) yeah~

[2020-09-11 02:55] #19937 closed

[2020-09-11 03:01] zz-jason commented on #19897
how about:

## Please edit this comment to complete the following information

### Not a bug

1. Remove the 'type/bug' label
2. Add notes to indicate why it is not a bug

### Duplicate bug

1. Add the 'type/duplicate' label
2. Add the link to the original bug

### Bug

#### 1. Root Cause Analysis (RCA)

#### 2. Symptom

#### 3. Minimal steps to reproduce the bug (optional):

#### 4. Solution (opti

[2020-09-11 03:04] seiya-annie commented on #19897
/info

[2020-09-11 03:05] nullnotnil commented on #19782
The value of this setting changes the on-disk format, so I suspect it might be hard to dynamically allow the change?

As a suggested alternative, may I suggest changing the default for new clusters starting with TIDB 5.0. It can be similar to the change from optimistic to pessimistic locking, where upgrades from existing clusters still retained the previous default.

This helps avoid the same prob

[2020-09-11 03:13] bb7133 opened #19942 "*: unexpected error with both new collation and clustered index are enabled."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Set `new_collations_enabled_on_first_bootstrap` to `True` and start a new cluster.

Enable `CLUSTERED INDEX`:

[code]

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
It looks that the value of the secondary ind

[2020-09-11 03:33] #19524 closed

[2020-09-11 03:55] SunRunAway commented on #18808
see https://github.com/pingcap/tidb/issues/19332

[2020-09-11 03:55] yufan022 commented on #17824
/pick-up

[2020-09-11 03:56] yufan022 commented on #17994
/give-up

[2020-09-11 03:58] watchpoints commented on #18149
/pick-up

[2020-09-11 04:51] DanielZhangQD commented on #19823
Is this error reported when you deploy local-volume-provisioner with HostNetwork enabled?

BTW, are you just trying the TiDB on the Kubernetes? If yes, you can try our [get-started guide](https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/get-started#%E4%BD%BF%E7%94%A8-kind-%E5%88%9B%E5%BB%BA-kubernetes-%E9%9B%86%E7%BE%A4) with Kind, which is very easy to setup.

[2020-09-11 05:30] foxchenlei commented on #19823
yes，pod will request k8s svc ip .

[2020-09-11 05:33] DanielZhangQD commented on #19823
Are you just trying the TiDB on the Kubernetes? If yes, you can try our [get-started guide](https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/get-started#%E4%BD%BF%E7%94%A8-kind-%E5%88%9B%E5%BB%BA-kubernetes-%E9%9B%86%E7%BE%A4) with Kind.

[2020-09-11 05:40] foxchenlei commented on #19823
no， I wish deploy TiDB on production.

[2020-09-11 05:57] DanielZhangQD commented on #19823
OK, I think you can build your own yaml files to deploy TiDB Cluster without TiDB Operator.
Please note that, without TiDB Operator (Which also needs to access kube-apiserver via service IP), you have to manually transfer the PD leader during PD Upgrade/ScaleIn and you have to manually transfer the TiKV region leader during TiKV upgrade and delete the TiKV store during TiKV scale-in.
Without PV ma

[2020-09-11 06:07] wshwsh12 commented on #19942
/label sig/ddl

[2020-09-11 06:12] DanielZhangQD commented on #19823
Or would you like to help improve the TiDB Operator to deploy in pure HostNetwork Kubernetes cluster?

[2020-09-11 06:14] rebelice commented on #19932
/assign @rebelice

[2020-09-11 06:14] #19847 closed

[2020-09-11 06:31] tirsen commented on #18090
This will be able to convert a non-clustered table to a clustered table as well? Even if there are no other changes to the table? What would be the SQL syntax for doing that?

[2020-09-11 06:44] asiafrank commented on #14765
/give-up

[2020-09-11 06:45] foxchenlei commented on #19823
The point is TiDB Operator need to access kube-apiserver via service IP

[2020-09-11 07:16] zhangjinpeng1987 commented on #19878
So the key issue you want to fix is the impact caused by GC? We are working on it in TiKV layer, and want to eliminate the impact caused by GC. You can check related works [here](https://github.com/tikv/tikv/pulls?q=is%3Apr+compaction+filter+is%3Aopen)

So close this issue.

[2020-09-11 07:20] ichn-hu commented on #19878
I think the point here is to allow system admin to use SQL to control the GC & compaction action of TiDB and/or TiKV.

[2020-09-11 07:30] DanielZhangQD commented on #19823
Yes, we have to improve it or you have to go with your own YAML files and manual operations.

[2020-09-11 07:34] zz-jason commented on #18090
If `tidb_enable_clustered_index` is true, the correct behavior of this feature is to cluster the new primary key with the table records. So I think the answer should be **yes** if `tidb_enable_clustered_index` is true before altering the primary key.

[2020-09-11 07:40] zz-jason commented on #18090
Seems MySQL doesn't provide the direct syntax to alter a primary key, users have to `drop` the originally primary key firstly, then add a new primary key.

@nullnotnil do you have any suggestions on the syntax to alter the primary key? or should we keep the same behavior with MySQL?

[2020-09-11 07:48] #19229 closed

[2020-09-11 07:51] qw4990 commented on #17600
Close since it is fixed.

[2020-09-11 07:51] #17600 closed

[2020-09-11 07:56] qw4990 commented on #15779
I reproduce this issue on `Master` with the default configuration.
I will investigate it soon.

[2020-09-11 08:07] qw4990 commented on #15779
The reason is that statistics are not completely updated when the first `explain analyze` is processed.
We can add a `flush status` before `explain analyze` to avoid this problem.
Since the behavior is expected, I close this issue now.

[2020-09-11 08:07] #15779 closed

[2020-09-11 08:10] qw4990 commented on #10097
Duplicated with https://github.com/pingcap/tidb/issues/19232, @tangwz is fixing this issue now.

[2020-09-11 08:10] qw4990 commented on #10097
/assign @tangwz

[2020-09-11 08:17] tangwz commented on #15759
let me fix it.

[2020-09-11 08:23] tangwz commented on #15759
/assign

[2020-09-11 08:24] lichunzhu opened #19951 "support using where clause to dump one table's data in a key range"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In the past, dumpling uses `_tidb_rowid` to dump data in a table parallelly.
When TiDB enables clustered index and if the customer doesn't specify an integer type primary key, dumpling still need to split the table into chunks. In TiDB, `start key` can satisfy our expectations.
[code]
However, dumpling still ne

[2020-09-11 08:25] lichunzhu commented on #19951
Related dumpling issue. https://github.com/pingcap/dumpling/issues/149

[2020-09-11 09:33] XiaoGe2030 commented on #12786
/pick up

[2020-09-11 09:33] XiaoGe2030 commented on #12786
/pick-up

[2020-09-11 09:37] eurekaka opened #19952 "increase `flen` of blob type cm_sketch column in mysql.stats_histograms"
## Development Task

Currently, cm_sketch column of mysql.stats_histograms is the default blob type, which has flen 65535. If we want to analyze a table with larger CMSketch, error would reported. For example:

[code]

After we modify the flen of cm_sketch type, the analyze can succeed:

[code]

[2020-09-11 09:38] XiaoGe2030 commented on #12786
/pick-up

[2020-09-11 09:46] XiaoGe2030 commented on #12786
/pick-up

[2020-09-11 10:18] tirsen commented on #18090
No I actually don't want to alter the primary key. I want to rebuild a table that is using a composite key from non-clustered to clustered.

For example if I have a table like this:
[code]

On TiDB 4.0 this table will be non-clustered with a hidden `_tidb_rowid` column.

Then I upgrade to TiDB 5.0. Now I want to rebuild the table to become clustered without changing anything else about the schema.

[2020-09-11 12:13] sultan8252 opened #19956 "partiton table unused best index"
## Performance Questions

- What version of TiDB are you using?
v3.0.14

- What's the observed and your expected performance respectively?
partiton table unused best index
- Have you compared TiDB with other databases? If yes, what's their difference?
in mysql
[code]

- For a specific slow SQL query, please provide the following information:
[code]

`EXPLAIN` result.
[code]

[2020-09-11 12:22] sultan8252 opened #19958 "hint mandatory use tiflash failure"
## Performance Questions

- What version of TiDB are you using?
v4.0.4

- What's the observed and your expected performance respectively?
hint /*+ READ_FROM_STORAGE(TIFLASH[a,b]) */ push `There are no matching table names for (a, b) in optimizer hint /*+ READ_FROM_STORAGE(tiflash[a, b]) */. Maybe you can use the table alias name`
- Have you compared TiDB with other databases? If yes, what's their

[2020-09-11 12:35] #17875 closed

[2020-09-11 12:44] watchpoints commented on #18149
the same quesiton

[code]

[2020-09-11 14:37] youjiali1995 opened #19960 "Extract some conflicting info from TiKV to TiDB to construct the lock wait related information view"
## Description
Now it's very difficult to investigate transaction conflicts issues in TiDB, e.g., are there many transactions waiting for the same lock, which two or more transactions are waiting for one another which causes deadlock. If we have a system table containing transaction waiting info, we can diagnose such issues much easier.

## Score

* 20000

## SIG Slack Channel

You can join [#sig-

[2020-09-11 14:40] nullnotnil commented on #18090
Currently, it's also not possible to either add or remove partitioning from a table. Presumably this will require the COPY algorithm as well:

[code]

[2020-09-11 14:59] nullnotnil commented on #18090
No reason to differ from MySQL here:

[code]

MySQL supports adding a primary key _online_, but dropping a primary key is not. See [Table 14.11 Online DDL Support for Primary Key Operations](https://dev.mysql.com/doc/refman/5.7/en/innodb-online-ddl-operations.html). It would be nice of course if TiDB can support online for both aspects.

**Note:** For the case @tirsen mentions, MySQL supports the

[2020-09-11 16:59] nullnotnil commented on #19137
I think it is better to have the standard behavior here.

If it turns out users depend on the (incorrect) MySQL behavior, we can add an option to permit this behavior. But to keep the options to a minimum: change it first, add the option if it becomes required.

[2020-09-11 17:21] lysu commented on #19956
this question same as https://github.com/pingcap/tidb/issues/15612

and has been partially addressed in the current master for this case

https://github.com/pingcap/tidb/pull/19210

[2020-09-11 17:21] #19956 closed

[2020-09-11 17:26] lysu commented on #15612
@winoros now https://github.com/pingcap/tidb/pull/18862 solve mainly the problem

but it still some improvement like this https://github.com/pingcap/tidb/pull/18862/files/6cafb7c8ca39bbcaaaad4e4ec3a7d3e9162fddad#r462291952 are WIP by @imtbkcat

maybe we can close after all known improve done

[2020-09-12 02:58] nullnotnil commented on #19928
MariaDB [currently supports this syntax on DDL](https://mariadb.com/kb/en/wait-and-nowait/).

The use case is different though: MySQL/MariaDB will not permit schema changes while there is an open transaction that has modified data on the table. See https://github.com/pingcap/tidb/issues/17796 for an example. I don't mind TiDB's behavior here, but it could be better documented.

w.r.t. the use case

[2020-09-12 02:59] nullnotnil commented on #18396
Would it be more correct to call this "concurrent ddl"? This distinguishes it from https://github.com/pingcap/tidb/issues/19386 which is to implement parallelism across the cluster.

[2020-09-12 06:04] nullnotnil commented on #9411
Support for auth switch has been added to master in https://github.com/pingcap/tidb/pull/19959 - so MySQL 8.0 clients will now work without changes.

I will leave this issue open for actually adding `caching_sha2_password`. But likely the priority is now lower.

[2020-09-12 08:17] TszKitLo40 commented on #16679
/pick-up

[2020-09-12 08:21] ichn-hu commented on #19960
This sounds intriguing to me.

[2020-09-12 09:24] myccccccc commented on #11181
/pick-up

[2020-09-12 09:39] wangggong commented on #17013
/pick-up

[2020-09-12 15:17] LENSHOOD commented on #17868
/pick-up

[2020-09-13 02:22] Hunsmore commented on #19737
/give-up

[2020-09-13 02:23] Hunsmore commented on #19923
/give-up

[2020-09-13 03:16] wangggong commented on #18150
/pick-up

[2020-09-13 10:46] watchpoints opened #19964 "Debug a single test in vscode err ,when finding module Sirupsen/logrus"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
 I  fork the tidb, run in vscode by F5, I nerver change the code.
$ git branch
* master

go version go1.15.2 windows/amd64

I am not sure if my problem

this is my Launch.conf

[code]
**the result  go get tag   v1.0.9**
[code]

### 2. What did you expect to see? (Required)
[

[2020-09-13 12:15] watchpoints commented on #19964
I am not sure if my problem,I update the new tag , my machine is out of memory.

[2020-09-13 12:51] lonng commented on #18396
done

[2020-09-13 13:51] ou-bing commented on #14765
/pick-up

[2020-09-13 16:18] wshwsh12 commented on #19958
/label sig/planner

[2020-09-13 16:19] wshwsh12 commented on #19952
/label sig/planner

[2020-09-14 01:09] foxchenlei commented on #19823
Thank you for your answer

[2020-09-14 01:09] #19823 closed

[2020-09-14 01:44] heming79 commented on #19823
May i have your Wechat number , We can talk in Wechat (heming_0120) , I always talk to dongxu in Wechat , my email heming@emar.com

[2020-09-14 01:49] xiongjiwei commented on #19747
hi, @zz-jason, consider opinion of **bb7133** , it is much easier to

if we just need pinyin order.

if we need full compatibility with MySQL, we may have a lot to do. we should discuss which way to achieve pinyin order. I'd like to write a proposal if we choose **full compatibility with MySQL**

[2020-09-14 02:17] TszKitLo40 commented on #19386
@djshow832 I want to try this issue, can this issue be picked up?

[2020-09-14 02:56] Rustin-Liu commented on #19386
/ping

[2020-09-14 02:56] Rustin-Liu commented on #19386
/pick-up

[2020-09-14 02:57] Rustin-Liu commented on #19386
/give-up

[2020-09-14 02:58] djshow832 commented on #19386
Of course, please try picking up again.

[2020-09-14 02:59] #19964 closed

[2020-09-14 03:00] watchpoints commented on #19964
t tag v1.0.9 is Sirupsen

[2020-09-14 03:02] #17013 closed

[2020-09-14 03:13] wjhuang2016 commented on #17791
It seems that we can use the same parser for partition expression and generated column.

[2020-09-14 03:20] zimulala commented on #19571
@Patrick0308
You can join [#sig-ddl ](https://app.slack.com/client/TH91JCS4W/CMAKWBNJU) on slack in your spare time to discuss or get help with us.

[2020-09-14 03:43] nullnotnil commented on #18255
@cfzjywxk Sorry, I missed your comment on https://github.com/pingcap/tidb/issues/18255 and the issue closed when the PR merged. I think this was added recently in https://github.com/pingcap/tidb/pull/19625 (`SUM_EXEC_RETRY_TIME`, `SUM_EXEC_RETRY`).

[2020-09-14 03:58] AilinKid opened #19969 "Support conversion from Integer types to others"
## Description

### Background
With the development of the implementation of column type change, we have break the process into two phases.

1. implement the architecture and column type change between the same type. [phase 1](https://github.com/pingcap/tidb/issues/19116)
2. implement the column type change between the different types and some TODO lists. [phase 2](https://github.com/pingcap/tidb/

[2020-09-14 04:05] AilinKid opened #19970 "Support conversion from Numeric types to others"
## Description

### Background
With the development of the implementation of column type change, we have break the process into two phases.

1. implement the architecture and column type change between the same type. [phase 1](https://github.com/pingcap/tidb/issues/19116)
2. implement the column type change between the different types and some TODO lists. [phase 2](https://github.com/pingcap/tidb/

[2020-09-14 04:13] bb7133 commented on #19695
Close this issue since it happened on `mocktikv`, which does not support 'clustered index' actually.

[2020-09-14 04:17] AilinKid opened #19971 "Support conversion from String types to others"
## Description

### Background
With the development of the implementation of column type change, we have broken the process into two phases.

1. implement the architecture and column type change between the same type. [phase 1](https://github.com/pingcap/tidb/issues/19116)
2. implement the column type change between the different types and some TODO lists. [phase 2](https://github.com/pingcap/tidb

[2020-09-14 04:38] cfzjywxk commented on #19887
@you06 We could add some debug log for the scanner or related path, we may also need to add some sanity check for the `ts` usage for the transaction and the snapshot and report error immediately if there is invalid input.

[2020-09-14 05:19] #13094 closed

[2020-09-14 06:00] wshwsh12 commented on #19929
Mem-quota-query has token effect, but show the wrong value.

[2020-09-14 06:19] zz-jason commented on #19747
@bb7133 @ilovesoup It's indeed easy to be implemented, but introducing a new collation `tidb_utf8_general_zh_cs` brings additional maintenance effects. For example:

- what's the difference between `tidb_utf8_general_zh_cs` and `utf8mb4_zh_0900_as_cs`, `tidb_utf8_general_zh_cs` and `order by convert(... using gbk) asc`?
- would the behavior of `tidb_utf8_general_zh_cs` be changed for newer TiDB ve

[2020-09-14 06:22] bb7133 commented on #18396
Hi @nullnotnil , this feature is planned to finish in 2020 Q4.

[2020-09-14 06:40] #17370 closed

[2020-09-14 07:12] bb7133 commented on #19928
Thanks for the tips @nullnotnil . considering the different semantic of `WAIT`/`NOTWAIT` between this proposal and MariaDB, I think we can use `ASYNC` keyword instead?

[2020-09-14 07:23] zanmato1984 opened #19974 "Add new collation ID into table info"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Collation ID is encoded differently between new collation on and off, i.e., old collation ID being positive number and new collation ID being negative. Currently the only external function (i.e., in other components such as TiKV and TiFlash) that is sensitive to this encoding scheme is coprocessor, which will ch

[2020-09-14 07:32] crazycs520 opened #19975 "query cluster system table panic when order by scalar function."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

![image](https://user-images.githubusercontent.com/26020263/93057109-fb071600-f69f-11ea-8888-5585e1cfdf5e.png)

The cause is `TopN_13` doesn't have `Projection` child then panic when executing. Related PR: https://github.com/pingcap/tidb/pull/9197

### 2. What did y

[2020-09-14 07:41] eurekaka commented on #19958
3 tables in the query are from different databases, you should explicitly specify the database for the tables in the hint to make it effective.

[2020-09-14 07:41] #19958 closed

[2020-09-14 07:49] lysu opened #19976 "automatically vs manually reload client TLS cert"
## General Question

Now we keep compatible with MySQL that reload TLS manually

Users need to execute an extra statement [ALTER INSTANCE RELOAD TLS](https://dev.mysql.com/doc/refman/8.0/en/alter-instance.html), but some our customer ask for remove `ALTER INSTANCE RELOAD TLS` but reload automatically after replace cert file on disk.

![image](https://user-images.githubusercontent.com/528332/930580

[2020-09-14 07:58] #19906 closed

[2020-09-14 08:03] lysu commented on #19976
IMHO, I guess that:

#### 1. if using an additional `ALTER INSTANCE RELOAD TLS` like now

pros:

- keep compatible with MySQL
- support replace cert file but reload them later (or not reload them)
- get reload result immediately(i.g. invalid cert file)
- reload TLS can be under privilege control

cons:

- need to execute one more statement

#### 2. if we choose to automatically reload after replac

[2020-09-14 08:03] lysu commented on #19976
@nullnotnil @kolbe how do you think about this problem, need help :smile:

[2020-09-14 08:18] zz-jason commented on #19805
This method looks good to me. maybe we can try to implement this firstly.

[2020-09-14 08:23] Yisaer commented on #19805
The idea is great. To achieve this target, I think it needs the `Scheduling`(PD) to be awareness for the affinity of the given data. If that is supported, I think many workloads would be benefit from it. (eg: sysbench_update_index)

[2020-09-14 08:39] zz-jason commented on #19805
the performance would be even better if this optimization is combined with https://github.com/pingcap/tidb/issues/19381

[2020-09-14 08:47] crazycs520 commented on #19937
/info

[2020-09-14 08:50] qw4990 commented on #15779
/info

[2020-09-14 08:59] crazycs520 commented on #19847
/info

[2020-09-14 09:28] lichunzhu opened #19981 "TiDB quits abnormally when we using _tidb_rowid as where clause"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. `create table t1(a varchar(11), b int);`

2. insert 3 million records into table t1. b is from 0 to 2,999,999, a is random varchar with length 6.

3.  SELECT * FROM `test`.`t1`  WHERE `_tidb_rowid` IS NULL OR (`_tidb_rowid` < 974012);

### 2. What did you expect to see?

[2020-09-14 09:31] lysu commented on #19981
can reproduce by

[code]

and it seems https://github.com/pingcap/tidb/pull/18741 cause this problem.

@time-and-fate  PTAL, thx

[2020-09-14 10:14] mmyj commented on #9244
/give-up

[2020-09-14 10:26] Lvnszn commented on #19148
Thanks~

[2020-09-14 11:06] cyliu0 opened #19982 "Different file content from executing 'select into outfile' on multiple tidb nodes cluster"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Found this issue when verifying https://github.com/pingcap/tidb/pull/19672

### 1. Minimal reproduce step (Required)

Deploy a 3 tidb cluster.
[code]

### 2. What did you expect to see? (Required)
All the file content are the same

### 3. What did you see instead (Required)
![image](https://user-imag

[2020-09-14 11:58] together-wang opened #19985 "After scaling out tidb-server, execute SQL ERROR 1105 (HY000)"
## Bug Report

If the expanded tidb node has not been used for a long time and cannot generate slow logs, does the information_schema.cluster_slow_query query fail as expected?

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

After scaling out tidb-server, execute SQL ERROR 1105 (HY000) at line 1: other error: open log/tidb_slow_query.

[2020-09-14 12:54] TszKitLo40 commented on #17832
/pick-up

[2020-09-14 14:05] zhangysh1995 opened #19986 "SEC_TO_TIME() function casted to Boolean is inconsistent"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

Compiled the database myself:

[code]

[2020-09-14 15:41] Yisaer commented on #17904
/give-up

[2020-09-14 15:42] William0423 commented on #19737
/pick-up

[2020-09-14 15:57] kolbe commented on #19976
I don’t think automatically trying to reload the certificates in the server is a very good idea. It breaks compatibility with the MySQL behavior. Their automatic renewal process should trigger something that causes tidb-server to reload the certificates. In order to avoid having to execute the SQL to reload certificates, every new connection would have to read certificate files from disk, which do

[2020-09-14 16:09] wangggong commented on #19923
/pick-up

[2020-09-14 16:11] nullnotnil commented on #19976
I agree with @kolbe, but I would also add that it might also be used as a vector for attacking the server if reloading can be triggered by just writing to the correct location. For example: https://github.com/pingcap/tidb/pull/19553 (would not have quite worked, since `INTO OUTFILE` refuses if the file exists). If you do add this, it would be important to refuse to reload it if the user/group and

[2020-09-14 17:22] LENSHOOD commented on #17868
The root cause of this issue is about two parts:

**1. `ScalarFunction.Eval(...)` method takes all `EvalXXX()` result as "null" when there's some sort of err occurred.**
[code]
In the expression `select col2 = 1 from t7`, constant `1` is not a valid `datetime` value, so cast `1` to `datetime` will cause "err != nil", that lead `Eval()` return a null `Datum` as cast result of `1`.

Therefore, `col2

[2020-09-14 19:12] nullnotnil commented on #19928
@bb7133 yes I agree, `ASYNC` better describes the semantic requested. Another sql-like word is `deferred`, borrowed from the feature [deferrable constraints](https://begriffs.com/posts/2017-08-27-deferrable-sql-constraints.html) (not available in mysql)

There might be some hidden scope for reviewers to discuss:

The feature request says that `admin show ddl` has intuitiveness issues, but an `asyn

[2020-09-14 21:11] nullnotnil commented on #19982
@cyliu0 To confirm, the issue is that the trailing tab from one of the rows is trimmed in the first two results, but not the third?

The query itself is non-deterministic (no `ORDER BY`).

[2020-09-15 02:27] cyliu0 commented on #19982
Yes.

No order by.

[2020-09-15 02:33] breeswish commented on #19332
What about existing config items that have "_" in the name? To support it, does it mean that we need to *hard code* all possible TiKV configuration names in TiDB?

[2020-09-15 02:41] nullnotnil commented on #19332
No I think that is a bit excessive. If you execute `show global variables` as well, they will show up (including aliases) which gets messy fast. I am working on a more detailed proposal to find cases where there is:

1. a pre-existing sysvar (no change required)
2. a MySQL sysvar that is identical in functionality (can we just offer the feature as compatibility?)
3. a config file option but not a

[2020-09-15 03:54] seiya-annie commented on #19229
/label need-more-info

[2020-09-15 03:55] seiya-annie commented on #19229
/info

[2020-09-15 04:55] LENSHOOD commented on #14266
This issue seems to be fixed:

[code]

[code]

[2020-09-15 05:05] LENSHOOD commented on #15185
/pick-up

[2020-09-15 05:19] zhangysh1995 commented on #17868
@LENSHOOD I found a related description in MySQL 8 [documentation](https://dev.mysql.com/doc/refman/8.0/en/using-date.html):

It seems it should do a `DATE->INT` conversion, which will call [ this function](https://github.com/pingcap/tidb/blob/b99376b521e6faaa1a3ec17ca99505caedca751a/expression/builtin_cast.go#L1329):

    func (b *builtinCastTimeAsIntSig) evalInt(row chunk.Row) (res int64, isNull

[2020-09-15 05:38] zhangysh1995 opened #19992 "DAYNAME() is not considered as TRUE when implicitly converted to Boolean"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]
### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-09-15 05:46] #19809 closed

[2020-09-15 05:56] LENSHOOD commented on #15185
Root cause is different zero padding strategy between tidb and mysql. Working on it.

[2020-09-15 06:12] wjhuang2016 commented on #14266
I can't get the correct result.

[code]
The git hash is the same as yours.

[2020-09-15 06:14] LENSHOOD commented on #14266
thx, i'll check it again.

[2020-09-15 06:16] zyguan opened #19996 "TiKV panicked unexpectedly during `admin check table`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

no error reported.

### 3. What did you see instead (Required)

[code]

and tikv panicked
[code]

### 4. What is your TiDB version? (Required)

master
[code]

[2020-09-15 06:26] zhangysh1995 commented on #13157
Related to #17868. Actually I also tested the test case of the issue with `DATETIME` and `TIMESTAMP`, the results were incorrect at the time.

[2020-09-15 06:29] wjhuang2016 commented on #19996
What's the config? Is the clustered index or new collation enabled?

[2020-09-15 06:43] XiaoGe2030 commented on #11193
/pick-up

[2020-09-15 06:46] yufan022 commented on #16276
/pick-up

[2020-09-15 06:47] ZenoTan commented on #19992
/label sig/ddl

[2020-09-15 06:47] ZenoTan commented on #19986
/label sig/ddl

[2020-09-15 06:48] ZenoTan commented on #19985
/label sig/ddl

[2020-09-15 06:54] zhangysh1995 opened #19999 "TIMEDIFF() is both IS FALSE and implicity TRUE"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-09-15 07:22] zyguan commented on #19996
@wjhuang2016 Default config is used: new collation is disabled, but the clustered index is enabled by default after #19688.
[code]

[2020-09-15 07:22] zhangysh1995 opened #20001 "TIME() result is both implicitly TRUE and is FALSE"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]
### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-09-15 07:30] zhangysh1995 commented on #15234
/pick-up

[2020-09-15 07:50] zyguan opened #20002 "Index data inconsistency after a transaction with cluster-index enabled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

<del>This issue may be related to #19996 .</del> Tested with https://github.com/tikv/tikv/pull/8673 , not the same issue.

### 2. What did you expect to see? (Required)

`admin check table` is ok and the last select statement has one row returned.

### 3. What did y

[2020-09-15 07:51] zhangysh1995 opened #20003 "TIMESTAMP() result is incorrect & wrongly casted to FALSE"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-09-15 08:13] superlzs0476 opened #20005 "The Monitor of TiDB has an invalid metric about store0."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

![图片](https://user-images.githubusercontent.com/15031522/93184595-06754280-f76f-11ea-86d7-8141c6dbb6f8.png)

### 3. What did you see instead (Required)

This cluster need not store that name is 'store0‘, so I don't want to see

[2020-09-15 09:28] zyguan opened #20007 "Incorrect result when quering on partitioned tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Always return
[code]

### 3. What did you see instead (Required)

The result is unstable, sometimes got wrong results.

[code]

### 4. What is your TiDB version? (Required)

master @ fa6baa9f5321d88f81a99e56af00526643e7

[2020-09-15 10:01] ChenPeng2013 commented on #15779
![image](https://user-images.githubusercontent.com/5506767/93195848-455dc500-f77c-11ea-8697-85e2bea8f084.png)
There are 49 rows in table t1, but we can see that TableFullScan operator will read 98 rows。
why is estimate rows great than actual rows ?

[2020-09-15 10:04] tiancaiamao opened #20009 "DATA RACE in TestAccessPathOnClusterIndex"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Found in CI https://github.com/pingcap/tidb/pull/19977

[code]

### 2. What did you expect to see? (Required)

No data race

### 3. What did you see instead (Required)

Data race

### 4. What is your TiDB version? (Required)

master 70a567e4cb11c0e2356a1ffd10

[2020-09-15 11:31] #19240 closed

[2020-09-15 11:32] Lvnszn commented on #19148
/pick-up

[2020-09-15 11:47] AilinKid commented on #19121
I only handled the column type change between decimal in #20012, you can still the handle the Float Types and Bit.

[2020-09-15 11:51] wangggong commented on #19121
I'll see it. Thx.

[2020-09-15 11:53] #19358 closed

[2020-09-15 12:37] 9547 commented on #11200
/pick-up

[2020-09-15 12:45] #19985 closed

[2020-09-15 13:00] sre-bot opened #20016 "DATA_RACE:github.com/pingcap/tidb/config.SetRedactLog() failed"
## Description
DATA_RACE:github.com/pingcap/tidb/config.SetRedactLog()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52002/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52000/display/redirect

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

[2020-09-15 13:22] youwithouto commented on #16788
The cause of this issue is that the when doing a comparison between a column and a constant value with a type different from the column type, the comparison is getting short-circuited by [refineArgs](https://github.com/pingcap/tidb/blob/aed24e46e2afabf591c0e6c427a84f7ed0c6667e/expression/builtin_compare.go#L1286).
- The result is always a fixed value, i.e. true or false, and the actual column valu

[2020-09-15 13:38] zhangysh1995 opened #20018 "Two Tests of package `expression` failed on Windows Machine with Goland"
## Description
## Bug Report

### 1. Minimal reproduce step (Required)

I don't know how to exactly reproduce the problem, but the tests always fail in my environment.

[code]

### 2. What did you expect to see? (Required)

All tests passed

### 3. What did you see instead (Required)

**Evaluator_test.go**

[code]
### 4. What is your TiDB version? (Required)

I just cloned the repo and run the tes

[2020-09-15 13:47] tiancaiamao commented on #20007
This seems to be related to concurrent executor.
On the master, after setting

[code]

The result is correct and stable.

[2020-09-15 14:00] tiancaiamao commented on #20007
I modify the code and set the concurrency to 1, and `set @@tidb_executor_concurrency = 4`
https://github.com/pingcap/tidb/blob/master/executor/executor.go#L1390

The bug also disappears, so there is a chance this bug has something to do with the concurrent execution of `UnionExec`.

[2020-09-16 02:01] tiancaiamao opened #20019 "'explain for connection' result wrong for partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

Note the access object `partition:p1`, it should be there.

### 4. What is your TiDB version? (Required)

master branch f699bd81a24fafca6f96ea04fb5095bd9047c2f

[2020-09-16 02:42] tiancaiamao commented on #12028
A partition pruning caused by this one:

[code]

Expect the partition pruning work on this SQL:

[code]

Initially reported from https://asktug.com/t/topic/639

[2020-09-16 02:49] XuHuaiyu commented on #20007
PTAL @wshwsh12

[2020-09-16 02:52] ZenoTan commented on #20001
/label sig/ddl

[2020-09-16 02:56] ZenoTan commented on #19999
/label sig/ddl

[2020-09-16 02:58] ZenoTan commented on #20003
/label sig/ddl

[2020-09-16 03:03] ZenoTan commented on #20005
Is it store-0 a valid store in your cluster? You should be more clear about how to reproduce it.

[2020-09-16 03:04] ZenoTan commented on #20009
/label sig/execution

[2020-09-16 03:05] ZenoTan commented on #20016
/label sig/execution

[2020-09-16 03:06] ZenoTan commented on #20018
/label sig/execution

[2020-09-16 03:45] tiancaiamao opened #20024 "alter table t drop partition where ts < '2008-04-01 00:00:00'"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This feature request is initially required by https://asktug.com/t/topic/33424/2

**Describe the feature you'd like:**

We support `alter table t drop partition p0,p1 ...`, but this statement is not convenient enough.

[code]

After the table is created, there is no information about the date and partition name

[2020-09-16 03:45] crazycs520 opened #20025 "Add additional runtime stats columns to SLOW_QUERY, STATEMENTS_SUMMARY, STATEMENTS_SUMMARY_HISTORY"
## Development Task

Currently, some runtime information already log in the slow-log file, but doesn't obtained in `SLOW_QUERY`, `STATEMENTS_SUMMARY`, `STATEMENTS_SUMMARY_HISTORY`.

* `KV_total`
* `PD_total`
* `Backoff_total`
* `Write_sql_response_total`
* `Prepared`

## reference

You can refer PR: https://github.com/pingcap/tidb/pull/19625

[2020-09-16 03:46] crazycs520 commented on #20025
@jyz0309  PTAL

[2020-09-16 03:49] crazycs520 commented on #17938
@jyz0309  PTAL

[2020-09-16 04:00] zyguan opened #20027 "TiKV panicked during query in a transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error reported.

### 3. What did you see instead (Required)

[code]

tikv panicked with
[code]

### 4. What is your TiDB version? (Required)

release-4.0
[code]

[2020-09-16 04:12] tiancaiamao commented on #20019
I find that set process info seems to cache the plan explain info.

After executing a SQL, `session.SetProcessInfo` is called, and at that time,
`ctx` is not set, so there is no partition pruning information in the explain info.

When running `explain for connection`, the cached explain info is used, with no partition pruning information.

[2020-09-16 04:17] nullnotnil commented on #20024
What is the expected behavior if the `WHERE` is split between a partition?

I think for this to work correctly, it would have to be on exact partition boundaries, otherwise you are mixing and matching DDL and DML semantics. If the user has to get the boundary exactly right, I am not sure how much easier this is.

[2020-09-16 04:23] #18487 closed

[2020-09-16 04:30] zyguan opened #20028 "Index out of range when querying on partitioned tables within a transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error reported.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ fa6baa9f5321d88f81a99e56af00526643e7bcaa
release-4.0 @ 51d365fc45fdfc039eb204a96268c5bd1c550

[2020-09-16 04:32] tiancaiamao commented on #20024
This may happen in a hash partition table.
We can limit the usage of this SQL to woke only on the range partition table.

Or some other query like

[code]

We can support this one, or deny this kind of query if the partition pruning results in `where` condition is not continuous, both strategies is OK.

`where quarterly_report_status between XXX` seems to work as expected.

---------

The user can

[2020-09-16 05:10] zz-jason commented on #20024
@tiancaiamao Is there a similar feature in other databases?

[2020-09-16 05:17] lzmhhh123 opened #20029 "select with limit cost exceed 40s but explain analyze only 100ms"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
load tpch_10 and create TiFlash replica for each table.

execute `select * from lineitem limit 100`

### 2. What did you expect to see? (Required)
SQL finished in a very short time.

### 3. What did you see instead (Required)
![image](https://user-images.githubusercontent.co

[2020-09-16 05:42] #20029 closed

[2020-09-16 05:48] zhangjinpeng1987 commented on #20024
It' better to show the partition in a readable format when executing `show create table t`.

[2020-09-16 06:07] ZenoTan commented on #19809
/info

[2020-09-16 06:20] seiya-annie commented on #17013
/info

[2020-09-16 06:21] hidehalo commented on #14428
/pick-up

[2020-09-16 06:25] tiancaiamao commented on #20024
AFAIK, there is no similar feature in MySQL and Oracle. @zz-jason

Well, maybe we can add the information in COMMENT  @zhangjinpeng1987

[code]

[2020-09-16 06:25] seiya-annie commented on #13094
/info

[2020-09-16 06:31] seiya-annie commented on #19942
/info

[2020-09-16 06:32] nullnotnil commented on #20024
@tiancaiamao You can annotate it without an actual comment too. [Here is a case](https://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_show_old_temporals) where MySQL has annotated `SHOW CREATE TABLE` in the past.

[2020-09-16 06:32] tiancaiamao commented on #20024
A potential risk of implement this feature is the +-1 range of partition pruning results.

For example, 'select * from t where dt < 2008-04-15',
partition p0 less than '2008-04-01'
partition p1 less than '2008-05-01'

The partition pruning result is p0, p1

But for `alter table drop partition where dt < 2008-04-15`, drop partition `p1` is certainly unacceptable.

[2020-09-16 06:37] qw4990 commented on #12028
To be compatible with MySQL, TiDB uses [a special approach](https://github.com/pingcap/tidb/blob/release-4.0.4/types/time.go#L1579) to parse the constant number to `date/time` instead of regarding it as a Unix timestamp.

SQLs comparing `timestamp` and `unix_ts_number`(`ts_col < unix_ts_num`) also cause problems in MySQL:
[code]
We should use `ts > '2000-01-01 00:00:01'` or `ts > 20000101000001` i

[2020-09-16 06:43] #19700 closed

[2020-09-16 06:44] SunRunAway commented on #19769
@ichn-hu Could this issue be closed?

[2020-09-16 06:44] ZenoTan commented on #20028
/label sig/ddl

[2020-09-16 06:45] ZenoTan commented on #20027
/label sig/ddl

[2020-09-16 07:12] #19739 closed

[2020-09-16 07:16] #19931 closed

[2020-09-16 07:36] ichn-hu commented on #19769
Surely you can.

[2020-09-16 08:34] williamxiongwei commented on #3644
pick-up

[2020-09-16 08:36] williamxiongwei commented on #3644
/pick-up

[2020-09-16 09:36] tiancaiamao commented on #12028
Got it @qw4990

[2020-09-16 09:50] 3pointer opened #20037 "Restore: use sql restore will change the global config of TiDB."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Restore data via SQL.

### 2. What did you expect to see? (Required)
The config alter-pk won't change.
<img width="568" alt="屏幕快照 2020-09-16 下午5 48 34" src="https://user-images.githubusercontent.com/5906259/93321762-237c4500-f845-11ea-8e3b-cb0da21d3caa.png">

### 3. What did

[2020-09-16 10:15] xiaodong-ji commented on #10505
/pick-up

[2020-09-16 10:31] tiancaiamao commented on #20007
Another finding, I wrap `UnionExec.Next` to print the data

[code]

In the correct case, UnionExec's output is

[code]

in the wrong case, the output is:

[code]

Note the different order in the last two lines

[code]

Union executor does not keep order in partition table, does the upper executor requires ordering?  @wshwsh12

[2020-09-16 11:21] TszKitLo40 commented on #9384
/pick-up

[2020-09-16 13:00] sre-bot opened #20041 "partition_table_test.go:partitionTableSuite.TestImproveCoverage failed"
## Description
partition_table_test.go:partitionTableSuite.TestImproveCoverage

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/50934/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52131/display/redirect

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-perfor

[2020-09-16 15:59] youwithouto commented on #16788
/pick-up

[2020-09-16 16:40] ichn-hu commented on #19572
/assign @ichn-hu

[2020-09-16 16:41] ichn-hu commented on #19130
/unassign @fzhedu

[2020-09-16 16:41] ichn-hu commented on #19130
/assign @ichn-hu

[2020-09-17 01:52] #19804 closed

[2020-09-17 02:57] #19981 closed

[2020-09-17 03:11] ZenoTan commented on #20041
/label sig/execution

[2020-09-17 03:12] ZenoTan commented on #20037
/label sig/ddl

[2020-09-17 03:48] XuHuaiyu commented on #19737
@William0423 Friendly ping~
Do you have any problem when solving the issue?
If so, feel free to let us know, we'll glad if we could be of help.

[2020-09-17 05:26] myccccccc commented on #11181
/pick-up

[2020-09-17 05:40] #18535 closed

[2020-09-17 05:44] SunRunAway commented on #18535
/label needs-cherry-pick-4.0

[2020-09-17 05:45] SunRunAway commented on #18535
/unlabel needs-cherry-pick-4.0

[2020-09-17 05:53] Lvnszn commented on #19148
Here are some questions about this issue. Looks like flag always bigger then 0.

[2020-09-17 05:55] seiya-annie commented on #19981
/info

[2020-09-17 06:03] seiya-annie commented on #20029
/info

[2020-09-17 06:15] seiya-annie commented on #19804
/info

[2020-09-17 06:17] seiya-annie commented on #19700
/info

[2020-09-17 06:23] SunRunAway commented on #13397
Another occurrence in the release-3.0 branch

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/19080/pipeline

@tiancaiamao PTAL

[2020-09-17 06:26] tiancaiamao commented on #19700
/info

[2020-09-17 06:30] rebelice opened #20057 "EXPLAIN can't show the primary key when table has only one column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

drop table if exists t;
create table t(a int, primary key);
explain select * from t where a=1;

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-09-17 06:32] rebelice commented on #20057
/label sig/planner

[2020-09-17 06:35] William0423 commented on #19737
I am reading the source code now, will ask you guys help in case of any problem, thanks for supporting.

[2020-09-17 06:46] time-and-fate commented on #19981
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added

#### 1. Root Cause Analysis (RCA)
`Selectivity()` used recursion to handle DNFs if the DNFs aren't covered by statistics. DNFs are divided into groups that can be handled by `Selectivity()`, then call `Selectivity()` recursively. Missing a check on the _tid

[2020-09-17 06:51] time-and-fate commented on #19981
/label component/statistics

[2020-09-17 06:51] xiongjiwei commented on #19804
## Please edit this comment to complete the following information
### Bug

#### 1. Root Cause Analysis (RCA)

Alter set/enum type column does not check constraint

#### 2. Symptom

[code]

#### 3. Minimal steps to reproduce the bug (optional)

[code]

#### 4. Solution (optional)

- check constraint for enum/set column type
- check type compatible for set type

#### 5. W/A (Workaround)
- No

#### 6

[2020-09-17 06:52] wshwsh12 commented on #20007
Plan:
[code]
Root Cause:
`funcs:firstrow(Column#13)->Column#7` maybe return NULL/1, and it will make the condition :`or(gt(Column#8, 1), or(ne(test.t1.c_int, Column#7), if(ne(Column#9, 0), NULL, 0)))`  result is unstable.

[2020-09-17 07:22] xiaodong-ji commented on #19913
/pick-up

[2020-09-17 07:45] zimulala commented on #20037
@3pointer
Is there any reason?
The reason for not doing this at that time was to discuss with several departments, considering that it is best not to modify this variable at will.

[2020-09-17 07:49] ChenPeng2013 opened #20059 "constant 18446744073709551598 overflows bigint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master and release-4.0

[2020-09-17 08:09] ichn-hu commented on #20027
/assign @ichn-hu

[2020-09-17 08:10] kissmydb opened #20060 "These sql results of function REGEXP are inconsistent with MySQL"
## Description
## Bug Report

These sql results are inconsistent with MySQL

### 1. Minimal reproduce step (Required)
MySQL 5.7：
[code]

MySQL 8.0:
[code]

TiDB：
[code]

### 4. What is your TiDB version? (Required)
[code]

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

## Score
- 300

## Mentor
 * @qw4990

[2020-09-17 08:10] ichn-hu commented on #20028
/assign @ichn-hu

[2020-09-17 08:19] #20007 closed

[2020-09-17 08:25] ichn-hu commented on #19560
/assign @ichn-hu

[2020-09-17 08:36] tshqin opened #20065 "add support of ALTER SEQUENCE"
pls support the `ALTER SEQUENCE` syntax
[code]

[2020-09-17 08:36] hftsin commented on #9244
/pick-up

[2020-09-17 08:47] tiancaiamao commented on #13397
From the stack information, something is wrong with PD:

[code]

[2020-09-17 08:52] tshqin opened #20066 "Compatibility: FLOAT data accuracy"
## Description

[code]
TiDB presents a different result set, I assume it's the FLOAT accuracy issue, PTAL

TiDB 4.0.5
[code]

MySQL 5.7.29
[code]

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

## Score
- 300

## Mentor
 * @qw4990

[2020-09-17 09:03] tshqin opened #20067 "FLOAT data type: out of range data should not be inserted"
## Description
[code]

TiDB 4.0.5
[code]

MySQL 5.7.29
[code]

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

## Score
- 300

## Mentor
 * @SunRunAway

[2020-09-17 09:10] tshqin opened #20068 "Range Partitioned: Unsupport range by multi-columns"
## Description
[code]

TiDB 4.0.5
[code]

MySQL 5.7.29
[code]

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

## Score
- 300

## Mentor
 * @qw4990

[2020-09-17 09:15] qw4990 commented on #12028
Close this issue since it's not a bug.

[2020-09-17 09:15] #12028 closed

[2020-09-17 09:18] #20002 closed

[2020-09-17 09:20] glkappe opened #20069 "v4.0.5 - Compatibility between select and mysql"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE `ttt` (
 `a` int(10) unsigned,
 `b` int(10) unsigned
);

insert into ttt values(1,10),(20,2);

select * from ttt where a-b>0 and a=20;

### 2. What did you expect to see? (Required)
Return a correct value：
mysql retrue：

mysql> select * from ttt

[2020-09-17 09:29] Rustin-Liu commented on #14770
@hidehalo Sorry for that, this is a known [issue](https://github.com/tidb-community-bots/challenge-bot/issues/119).

Since your mentor did not reward your challenge request, the robot cannot find it.

Could you please pick-up again? I will fix it later.

[2020-09-17 09:34] ChenPeng2013 opened #20071 "runtime error: index out of range [8] with length 8"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master and release-4.0

[2020-09-17 09:35] eurekaka opened #20072 "consider NDV when choosing index for inner child of index join"
## Development Task

Currently, when choosing index for the inner child of index join, we simply use the one which covers more columns of join's equal conditions. There may exist cases that index A covers more columns than index B, but index B has higher join selectivity  than index A. We'd better figure out a way to take the NDV of the index into consideration in this procedure.

[2020-09-17 09:40] ichn-hu commented on #20071
/assign @ichn-hu

[2020-09-17 11:01] #19232 closed

[2020-09-17 11:16] lysu commented on #20069
/label sig/executor

[2020-09-17 11:35] SE-Bin opened #20075 "The default collation setting ineffective in `create database`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
I had set the global variables of collation_connection, collation_database, and collation_server which are different from the charset's default.
I found that the SQL of `create database` unused the collation that I had set.

### 2. What did you expect to see? (Required)
The

[2020-09-17 11:47] Yisaer commented on #19381
/assign

[2020-09-17 12:08] #18118 closed

[2020-09-17 13:01] sre-bot opened #20079 "DATA_RACE:github.com/pingcap/tidb/executor_test.(*testSuiteJoinSerial).TestIssue18070.func1() failed"
DATA_RACE:github.com/pingcap/tidb/executor_test.(*testSuiteJoinSerial).TestIssue18070.func1()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52183/display/redirect

[2020-09-17 13:01] sre-bot opened #20080 "DATA_RACE:github.com/pingcap/tidb/util/memory.(*Tracker).Consume() failed"
DATA_RACE:github.com/pingcap/tidb/util/memory.(*Tracker).Consume()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52191/display/redirect

[2020-09-17 13:02] sre-bot opened #20081 "pessimistic_test.go:testPessimisticSuite.TestInnodbLockWaitTimeout failed"
pessimistic_test.go:testPessimisticSuite.TestInnodbLockWaitTimeout

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52279/display/redirect

[2020-09-17 13:02] sre-bot opened #20082 "pessimistic_test.go:testPessimisticSuite.TestSingleStatementRollback failed"
pessimistic_test.go:testPessimisticSuite.TestSingleStatementRollback

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52273/display/redirect

[2020-09-17 13:02] Mertonidas opened #20083 "Kubernetes - BackupSchedule - maxBackups or maxReservedTime dont work"
## General Question

Hi,

I have installed a tidb-cluster using tidb-operator and tidb-cluster CRD.
I'm using the BackupSchedule CRD with BR to take backups of tidb-cluster. I use minio as remote S3 storage, and the backups work well.

https://docs.pingcap.com/tidb-in-kubernetes/stable/backup-to-aws-s3-using-br

In the documentation appears the parameter _.spec.maxBackups_  in the BackupSchedule C

[2020-09-17 14:24] hidehalo commented on #14770
/pick-up

OK, but I still can’t get the reward because I haven’t provided a LGT2 PR

[2020-09-17 14:39] ZenoTan commented on #20059
/label sig/ddl

[2020-09-17 14:41] ZenoTan commented on #20068
/label sig/execution

[2020-09-17 18:53] nullnotnil opened #20085 "Cannot trigger hash join spill to disk"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I tried using an example based on https://github.com/pingcap/tidb/pull/12067 :

[code]

I have oom-tmp-storage on:

[code]

### 2. What did you expect to see? (Required)

I expected the query to spill to disk. I have tried increasing the memory for the query slightly, so ev

[2020-09-17 19:04] nullnotnil commented on #18576
It should show hash joins, with examples of on-disk, in memory, and how to understand collision statistics.

[2020-09-18 01:21] YangKian commented on #19934
/pick-up

[2020-09-18 02:05] TszKitLo40 commented on #19386
/pick-up

[2020-09-18 02:24] seiya-annie commented on #19804
/info

[2020-09-18 02:29] Rustin-Liu commented on #14770
@hidehalo  It doesn't matter, you can just request your mentor to reward.  The reward is just to evaluate the workload.
About this logic you can refs this [video(In Chinese)](https://www.bilibili.com/video/BV1zA411E7t8?from=search&seid=1897970488425189952).

[2020-09-18 02:30] XuHuaiyu commented on #20085
1. When `set tidb_mem_quota_query = 1`, the spill will be triggered as the log shows:
`[2020/09/18 10:25:52.396 +08:00] [INFO] [row_container.go:311] ["memory exceeds quota, spill to disk now."] [consumed=30981] [quota=1]
`

**BUT** even if the hash table is spilled to the disk, the memory quota is not enough for the other executors to execute successfully, thus the panic is triggered.

2.
As the

[2020-09-18 03:03] wjhuang2016 commented on #19996
Duplicate with #20002, fixed by https://github.com/pingcap/tidb/pull/20063.

[2020-09-18 03:03] #19996 closed

[2020-09-18 03:04] Rustin-Liu commented on #19386
Sorry you cannot pick up this issue. Because you do not have a team.

This is a [known issue](https://github.com/tidb-community-bots/challenge-bot/issues/118). I will fix it later.

`hptc` challenge program only for team, so you can try to join a team.

[2020-09-18 03:28] arthuryangcs commented on #7623
/pick-up JSON_ARRAYAGG

[2020-09-18 03:42] hidehalo commented on #14770
@Rustin-Liu Ru Thx! Great to know it!

[2020-09-18 03:45] hidehalo commented on #14428
@SunRunAway PTAL #19900 👀

[2020-09-18 03:58] SE-Bin opened #20090 "`cross-join` cause unexpected errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

When  I set the `cross-join = false` in TiDB. I found that it will raise the error " Cartesian product is unsupported ", even though having the condition of both sides tables, when having a where condition of join column with a constant.

[code]
### 2. What did you expect t

[2020-09-18 04:06] watchpoints commented on #18149
process:  read:pingcap/parser

[2020-09-18 04:12] nullnotnil commented on #20085
Thanks! I think the problem is my hash table was too small. I've adjusted the testcase, and it's more reliable now:
[code]

Closing this issue now.

[2020-09-18 04:12] #20085 closed

[2020-09-18 05:22] lysu commented on #20090
IMHO, it's cross-join in definition even if `t1.id = 1` filter both children as only one record.

but it's better to consult our planner/execution team member, PTAL  @SunRunAway

[2020-09-18 05:25] ichn-hu commented on #18535
/info

[2020-09-18 06:41] time-and-fate commented on #19981
/label severity/critical

[2020-09-18 06:48] bb7133 commented on #20075
I don't think it a bug, `collation_database` is not used for 'setting the default collation when creating a database' and should not be set manually: https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_collation_database.

[2020-09-18 06:48] #20075 closed

[2020-09-18 07:19] lysu commented on #20029
TiKV also became slow if user disables Superbatch(`tikv-client.max-batch-size == 0`)

it was introduced by 4.0.5 https://github.com/pingcap/tidb/pull/18580

[2020-09-18 08:13] tiancaiamao opened #20097 "DATA RACE: github.com/pingcap/tidb/executor_test.(*testFastAnalyze).TestFastAnalyze() fail"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Found in CI https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/52397/pipeline

[code]

### 2. What did you expect to see? (Required)

No DATA RACE

### 3. What did you see instead (Required)

DATA RACE, and CI

[2020-09-18 08:14] tiancaiamao commented on #20097
https://github.com/pingcap/tidb/pull/20089

[2020-09-18 08:25] tiancaiamao commented on #18123
Closed by https://github.com/pingcap/tidb/pull/18981

Disable in master on https://github.com/pingcap/tidb/pull/19911
There is a switch to use the new implementation:

[code]

The value could be 'dynamic-only', 'static-only'(the old way, by default) ...

[2020-09-18 08:25] #18123 closed

[2020-09-18 09:05] #18097 closed

[2020-09-18 09:10] ichn-hu commented on #19572
@ChenPeng2013 what do you mean by infinite loop the query? I manually run the test and can't reproduce the error.

[2020-09-18 09:21] qw4990 opened #20100 "unexpected results returned by `BatchPointGet`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-09-18 09:23] ChenPeng2013 opened #20101 "cannot convert datum from unsigned bigint to type year."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master and release-4.0

[2020-09-18 09:40] tiancaiamao commented on #19585
If nobody tells me about this issue, I would never know it ever happened.

After a binary search between different commits, I locate the bug.
It is introduced in this commit, refactoring the code to use the new partition implementation:

https://github.com/pingcap/tidb/pull/18981

And the bug is fixed by another refactoring, remove `DirtyDB` and `DirtyTable`:

https://github.com/pingcap/tidb/pull/

[2020-09-18 09:40] #19585 closed

[2020-09-18 09:41] tiancaiamao commented on #19585
Both commits on the master branch
3.x 4.x release branch is not affected.

[2020-09-18 09:54] lysu opened #20104 "topN order by subquery result return error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2020-09-18 10:25] myccccccc commented on #20069
/pick-up

[2020-09-18 11:18] #14448 closed

[2020-09-18 11:18] #19383 closed

[2020-09-18 11:19] xiongjiwei commented on #20068
/pick-up

[2020-09-18 11:40] #17807 closed

[2020-09-18 11:43] xiongjiwei commented on #20068
/give-up

[2020-09-18 13:00] sre-bot opened #20109 "DATA_RACE:github.com/pingcap/tidb/executor.ResetContextOfStmt() failed"
DATA_RACE:github.com/pingcap/tidb/executor.ResetContextOfStmt()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52377/display/redirect

[2020-09-18 13:01] sre-bot opened #20110 "DATA_RACE:github.com/pingcap/tidb/executor_test.(*mockSessionManager2).Kill() failed"
DATA_RACE:github.com/pingcap/tidb/executor_test.(*mockSessionManager2).Kill()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52384/display/redirect

[2020-09-18 13:01] sre-bot opened #20111 "DATA_RACE:github.com/pingcap/tidb/executor_test.(*testFastAnalyze).TestFastAnalyze() failed"
DATA_RACE:github.com/pingcap/tidb/executor_test.(*testFastAnalyze).TestFastAnalyze()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52397/display/redirect

[2020-09-18 13:01] sre-bot opened #20112 "db_integration_test.go:testIntegrationSuite1.TestTreatOldVersionUTF8AsUTF8MB4 failed"
db_integration_test.go:testIntegrationSuite1.TestTreatOldVersionUTF8AsUTF8MB4

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52360/display/redirect

[2020-09-18 14:15] CodingBen commented on #19386
/pick-up

[2020-09-18 14:29] qxhy123 commented on #18693
/pick-up

[2020-09-18 14:49] TszKitLo40 commented on #19386
@CodingBen hi, I have picked this issue, can you choose another?

[2020-09-19 07:39] AilinKid commented on #19913
Some considerations of this issue.
For hash partition: hash number is used to probe the inserted partition for DML dynamically.

For example: hash(id) partition 5, DDL truncate 2 partition
when we insert id = 7, the probed hash partition is 7%5=2
After DDL (Retry)
when we insert id = 7, the probed hash partition is 7%3=1

Although the target inserted partition and truncated partition is always dif

[2020-09-19 11:54] scsldb commented on #18300
Reason for reprioritization: there are more important development tasks at hand.

[2020-09-19 13:18] ilovesoup opened #20113 "Support MPP architecture in TiDB"
Description
Support MPP architecture. This will improve TiDB's large scale computing, especially JOIN. This will be done with TiFlash engine and TiDB as coordinator directly connect to it with MySQL protocol.

Feature, Performance

Value
Making TiDB's computation power matches storage scale.

[2020-09-19 13:33] Lvnszn commented on #19148
/give-up

[2020-09-19 14:20] aierui commented on #19386
/pick-up

[2020-09-19 14:47] TszKitLo40 commented on #16679
/pick-up

[2020-09-20 05:38] LENSHOOD commented on #17868
In TiDB, the comparison logic is transfer constant (at this case num "1") to the column type ("date"), so when planner generate logic plan from AST, it will choose related transfer function by comparison pair, we can see this logic at ['foldConstant()'](https://github.com/pingcap/tidb/blob/b99376b521e6faaa1a3ec17ca99505caedca751a/expression/constant_fold.go#L122) function.

Therefore, planner will

[2020-09-20 14:11] Patrick0308 commented on #11178
/pick-up

[2020-09-21 02:09] ZenoTan commented on #20109
/label sig/execution

[2020-09-21 02:09] ZenoTan commented on #20110
/label sig/execution

[2020-09-21 02:09] ZenoTan commented on #20111
/label sig/execution

[2020-09-21 02:11] ZenoTan commented on #20112
/label sig/execution

[2020-09-21 02:12] SunRunAway commented on #20090
Could we deprecate this `cross-join` option now?

@eurekaka

[2020-09-21 02:12] ZenoTan commented on #20101
/label sig/ddl

[2020-09-21 02:41] #16608 closed

[2020-09-21 02:55] ou-bing commented on #14765
/pick-up

[2020-09-21 02:59] ChenPeng2013 commented on #19572
@ichn-hu I can reproduce the error in hash 88e47b806647b36772109e8ad25b4cd8091e9a37, But I can't reproduce the error in hash cc3d9db37ca45437e2a44c297bfba03c22663f20. it seems that it is fixed.

[2020-09-21 02:59] #19572 closed

[2020-09-21 03:01] woodpenker commented on #20067
On MySQL 5.6.33 I see the same output: `Error Code: 1264. Out of range value for column 'col1' at row 1` :confused:

[2020-09-21 04:05] #19731 closed

[2020-09-21 04:53] markjenny commented on #11645
/pick up

[2020-09-21 04:54] markjenny commented on #11645
/pick-up

[2020-09-21 05:51] ichn-hu commented on #18535
## Bug

### 1. Root Cause Analysis (RCA)

The optmization hint in a prepared statement might be overwritten when we are doing SPM, causing the `max_execution_time` hint lost after optimization.

### 2. Symptom

See bug description.

### 3. All Trigger Conditions

See bug description.

### 4. Workaround (optional)

N/A.

### 5. Affected versions

master & 4.0.

### 6. Fixed versions

master & 4.0.

[2020-09-21 05:54] ichn-hu commented on #20110
/assign @ichn-hu

[2020-09-21 06:39] #19868 closed

[2020-09-21 06:52] ChenPeng2013 opened #20118 "bit column insert null value in insert ignore statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master f6d445c7af707edd34f4f74d657d278c5aeab4d7 and release-4.0 0fbe796e98399fc988911170b6711bfebf44bd46

[2020-09-21 06:56] tiancaiamao commented on #14997
I verified that MySQL also uses a full table scan for this query.
That means maybe we still have room for improvement here, but it is **definitely not a bug**.

[2020-09-21 07:29] shenli opened #20119 "Support `bin-to-uuid` and `uuid-to-bin`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Support new builtin functions in MySQL 8.0. Improve compatibility.

**Describe the feature you'd like:**

[uuid-to-bin](https://dev.mysql.com/doc/refman/8.0/en/miscellaneous-functions.html#function_uuid-to-bin) and [bin-to-uuid](https://dev.mysql.com/doc/refman/8.0/en/miscellaneous-functions.html#function_bin-t

[2020-09-21 07:43] iosmanthus commented on #20027
Seems the information push down from `TiDB` is wrong:
[code]
The table scan never fetches a column which type id is 7 standing for a `TimeStamp` column.

[2020-09-21 07:51] tangwz commented on #14441
/pick-up

[2020-09-21 07:57] qw4990 commented on #10097
Close since it is fixed.

[2020-09-21 07:57] #10097 closed

[2020-09-21 07:58] ChenPeng2013 opened #20121 "datetime and year comparison error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master f6d445c7af707edd34f4f74d657d278c5aeab4d7
release-4.0 0fbe796e98399fc988911170b6711bfebf44bd46

[2020-09-21 08:02] tangwz commented on #14467
/aasign

[2020-09-21 08:06] qw4990 commented on #16407
@tangwz Do you willing to help us fix this?

[2020-09-21 08:08] tangwz commented on #16407
@qw4990 I will give a try.

/aasign

[2020-09-21 10:04] xiaodong-ji commented on #10505
Eliminating MaxOneRow requires two conditions, unique and not null. If a NOT NULL constraint is applied to the table (`ss`), MaxOneRow has been eliminated without any code changes. eg.
[code]

[2020-09-21 11:21] eurekaka commented on #10505
We can infer that `ss.a` is not null after applying the `ss.a = t.a` filter. You can refer to `expressionRewriter` code to see if we can maintain this NotNull flag and use it to eliminate the MaxOneRow operator.

[2020-09-21 11:29] SunRunAway opened #20124 "Rollback from master to v4.0.X got Variable 'tidb_index_lookup_concurrency' can't be set to the value of '-1'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. set up a v4.0.X cluster, start tidb-server
2. upgrade to master version(the future v5.0.0), restart tidb-server
3. rollback to the original v4.0.X version, restart tidb-server

### 2. What did you expect to see? (Required)

tidb-server starts normally.

### 3. What did y

[2020-09-21 11:42] superlzs0476 opened #20125 "Support pt-show-grants to export/import privileges of users to other TiDB."
## Feature Request

**Is your feature request related to a problem? Please describe:**

Users want to high efficiently import all privileges to other platforms.

**Describe the feature you'd like:**

As TiDB database adjusts architecture, if the application user's privileges don't change, the administrator wants to use the same as MySQL tools of pt-show-grants to export/import privileges of users

[2020-09-21 12:24] ChenPeng2013 opened #20128 "different types compare error"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master f6d445c7af707edd34f4f74d657d278c5aeab4d7 and release-4.0 0fbe796e98399fc988911170b6711bfebf44b

[2020-09-21 13:00] sre-bot opened #20129 "DATA_RACE:github.com/pingcap/tidb/session.(*session).Parse() failed"
DATA_RACE:github.com/pingcap/tidb/session.(*session).Parse()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52689/display/redirect

[2020-09-21 13:00] sre-bot opened #20130 "executor_test.go:testClusterTableSuite.TestSlowQuery failed"
executor_test.go:testClusterTableSuite.TestSlowQuery

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52649/display/redirect

[2020-09-21 13:01] sre-bot opened #20131 "index_test.go:testIndexSuite.TearDownSuite failed"
index_test.go:testIndexSuite.TearDownSuite

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52697/display/redirect

[2020-09-21 13:01] sre-bot opened #20132 "statement_context_test.go:testSuite1.TestStatementContext failed"
statement_context_test.go:testSuite1.TestStatementContext

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52670/display/redirect