[2020-07-21 09:52] iosmanthus commented on #18680
I can only reproduce this bug while create `1.sql` in python 2 not in python 3. @glorv

[2020-07-21 09:58] glorv commented on #18680
The minimal reproduce should be generead by python2. If use python3, the actual value written to target file is `'INSERT INTO t VALUES ("\xc3\xa4NKNO\xc3\xa6");\n'` though we want to write `'INSERT INTO t VALUES ("\xe4NKNO\xe6");\n'`

[2020-07-21 10:03] zz-jason commented on #18049
- For `insert ... select ...` statements, we can put the hints to the `select` query block.
- For `insert ... values ...` statements, do we really need hints for these kinds of statements? Could you describe more on the use cases? @Yisaer

[2020-07-21 10:10] zz-jason commented on #18561
@qw4990 Could we limit the scope of this issue to only support the concurrency-related runtime hints?

[2020-07-21 10:41] djshow832 commented on #18030
So you mean, we do not support adding TiFlash replicas through the `ALTER PARTITION` statement? @zz-jason

[2020-07-21 11:34] iosmanthus commented on #18680
I add some trace to the `Analyze` code and found that the `TiDB` pushes down some wrong information about the collation of the string. It should be `latin1` instead, the `TiKV` receives a `Utf8Mb4BinNoPadding`:
[code]

[2020-07-21 11:39] zhangysh1995 commented on #18674
I found out this bug has a **wide influence** even on functions like `CEIL`.

[2020-07-21 12:24] wjhuang2016 commented on #18680
Utf8Mb4BinNoPadding is expected.

[2020-07-21 12:40] breeswish commented on #18680
For `Collation::Utf8Mb4BinNoPadding` push down, errors will be thrown when content is illegal utf8 string.

Maybe `Collation::Binary` is better?

[2020-07-21 12:49] qw4990 commented on #18056
Make sense to me, but I think we should add extra fields in slow logs for some important behaviors(for example, time cost on `commit` and `pre-commit`), since some third-party tools like `pt-query` may rely on them and it's more friendly to users.

[2020-07-21 12:58] zz-jason commented on #15935
From [Elasticsearch DSL](https://elasticsearch-dsl.readthedocs.io/en/latest/):

Do you mean to add a similar python lib for TiDB to support similar functions, like:

- store query result
- issue another query with the former query result

@niaiwomattt Could you describe more about what you expect to see?

[2020-07-21 12:59] zz-jason commented on #13900
@winoros PTAL

[2020-07-21 13:45] nullnotnil commented on #15124
This is a duplicate of #8887

I am going to close this issue, but feel free to reopen if you believe this is in error. Thanks!

[2020-07-21 13:45] #15124 closed

[2020-07-21 13:47] nullnotnil commented on #14349
Confirming this issue still exists in master:
[code]

[2020-07-21 13:50] nullnotnil commented on #14326
This appears to be fixed by https://github.com/pingcap/tidb/pull/14323

@lonng can we close this issue?

[2020-07-21 18:48] nullnotnil commented on #13361
It's the following URLs not loading:
https://hub.docker.com/r/pingcap/docs/logo_with_text.png
https://hub.docker.com/r/pingcap/images/tikv_stack.png

I'll ping an admin to take a look.

[2020-07-21 19:16] nullnotnil commented on #3154
This has been fixed in master:
[code]

I am going to close this issue now. Thanks!

[2020-07-21 19:16] #3154 closed

[2020-07-21 19:21] nullnotnil commented on #17586
I believe this behavior is intended. From the [MariaDB docs](https://mariadb.com/kb/en/previous-value-for-sequence_name/):

i.e. `lastval()` is a function of session scope. Here is a pasteable testcase to confirm as well:
[code]

[2020-07-21 19:32] nullnotnil commented on #18339
@lysu I believe this is fixed in #18437?

[2020-07-21 22:25] nullnotnil commented on #12324
Confirming this is fixed in master:
[code]

I am going to close this issue now. Thanks!

[2020-07-21 22:25] #12324 closed

[2020-07-21 22:29] nullnotnil commented on #14176
I tested this against master, and it now produces the same result as MySQL:
[code]

I am going to close this issue now, but please feel free to reopen if you have any further questions. Thanks!

[2020-07-21 22:29] #14176 closed

[2020-07-21 22:33] nullnotnil commented on #11883
I have to say, the MySQL handling of just throwing a warning here is very unsafe. It should be an error (as it is in TiDB). Having said that, this works as expected in MySQL 8.0. Here is a testcase showing the behavior of MySQL 5.7/8.0 and TiDB:
[code]

[2020-07-21 22:38] nullnotnil commented on #14158
Confirming this has been fixed in master:
[code]

There are [other cases](https://github.com/pingcap/tidb/issues/17786) where impossible conditions are not considered correctly still, but this one seems fixed :-)

I am going to close this issue now.

[2020-07-21 22:38] #14158 closed

[2020-07-21 22:46] nullnotnil commented on #13280
I tested this against master, and it looks fixed to me:
[code]
At this point I edited my config file, and set `enable-chunk-rpc = false`. Then repeating the test:
[code]

I will leave this open for a bit, since this is not an area I understand well. But please let me know if my understanding is correct. Thanks!

[2020-07-21 22:55] nullnotnil commented on #12200
This looks fixed in master to me. I compared to both MySQL 5.7 and 8.0 as well - since the expected output given is from MySQL 8.0. TiDB is compatible with MySQL 5.7 here:
[code]

I am going to close this issue now, but please feel free to reopen it if you believe this is in error. Thanks!

[2020-07-21 22:55] #12200 closed

[2020-07-21 22:57] nullnotnil commented on #12445
Confirming that I can reproduce this against master:
[code]

I will work on reducing the size of the testcase to reproduce.

[2020-07-21 23:30] nullnotnil commented on #12445
Here is a testcase that works against master:
[code]

In the log file:
[code]

[2020-07-21 23:33] nullnotnil commented on #13225
This is working for me in master. Do you mind clarifying what setting you mean by push down to TiKV enabled?

[code]

[2020-07-21 23:50] nullnotnil commented on #8234
TiDB defaults to binary collation, so to produce consistency I used the following testcase in MySQL 8.0:
[code]
So it looks like TiDB is correct (so far). The next test is to rebootstrap TiDB with collations enabled (experimental):
[code]

So TiDB is collating results correctly here as well. My TiDB version is:
[code]

I am going to close this issue now, but please feel free to re-open if you have

[2020-07-21 23:50] #8234 closed

[2020-07-22 00:40] zz-jason commented on #18117
Is there any use case on database-level garbage collection (GC)?

[2020-07-22 00:50] zz-jason commented on #18378
Can it be accomplished by the current privilege system?

I'm a little confused about the desired privilege, could you give some links about the described privilege management in Aurora and PolarDB?

[2020-07-22 00:56] zz-jason commented on #18290
A lot of spatial analysis functions are not supported by TiDB. In the following use case of `ST_Distance`:

[code]

The unsupported functions are:

- Point()
- ST_Distance()

@yilongrong If we only support `ST_Distance()`, would it satisfy the requirement of applications?

[2020-07-22 00:58] zz-jason commented on #18233
@crazycs520 Could you describe more about the use case of this feature?

[2020-07-22 01:00] nullnotnil commented on #16747
I think making `show bindings` return both types of bindings is not MySQL-like.

Consider the behavior of `SHOW [GLOBAL|SESSION] STATUS`. If you don't specify either, the default is `SESSION`. `SET` also works this way too:

[code]

If this is a required feature, may I suggest using `SHOW ALL BINDINGS` to avoid this confusion.

[2020-07-22 01:02] zz-jason commented on #18152
Agree. There are cases that users mistakenly updated other data in the `mysql.tidb` table.

[2020-07-22 01:05] zz-jason commented on #18063
Sometimes, the `Open()` operation can also be slow because of the network RPC. But directly printing something like `open_duration` and `close_duration` may confuse the user. Do you have any idea about the variable names?

[2020-07-22 01:15] zz-jason commented on #17932
It looks good to me. I'm curious about the priority of this issue. @cfzjywxk Could you give some advice about the priority, is it expected to be finished in TiDB 5.0?

[2020-07-22 01:18] zz-jason commented on #17847
@tangenta Is it easy to do this?

[2020-07-22 01:20] nullnotnil commented on #18038
As an alternative, may I suggest adding the [`SET_VAR` hint](https://dev.mysql.com/doc/refman/8.0/en/optimizer-hints.html#optimizer-hints-set-var). It helps introduce per-statement scoped variables without needing additional syntax.

[2020-07-22 01:23] zz-jason commented on #16747
IMO, keep `show bindings` the same with `show session bindings` is the best way. It matches all the other `show [session] xx` commands.

`show all bindings` is a good workaround.

[2020-07-22 01:25] zz-jason commented on #17688
@breeswish Could you describe more about the use cases? Seems it's useful in a multi-tenant scenario?

[2020-07-22 01:27] zz-jason commented on #17692
@breeswish Is it related with https://github.com/pingcap/tidb/issues/18233?

[2020-07-22 01:28] zz-jason commented on #18233
Could we enable runtime statistics by default?

[2020-07-22 01:32] zz-jason commented on #17691
This feature request LGTM. About the implication detail, is it possible to use global variables? configuration can be regarded as a instance level variable. I'm curious about whether is a need to easily set all the instance in the cluster to enable this behavior.

[2020-07-22 01:33] zhangjinpeng1987 opened #18718 "Eliminate the point-get stage for `INSERT IGNORE` statement"
### Process of `INSERT IGNORE`

When I running go-ycsb benchmark, I found the `load` case is consists of many `INSERT IGNORE` statements. When the `INSERT IGNORE` statement running, it mainly has 3 steps:

- Point get, to check if the going insert row exists if it exists the whole statement will return
- Prewrite
- Commit

### New process of `INSERT IGNORE`

We can eliminate the `Point get` step,

[2020-07-22 02:01] tabokie commented on #18714
/label component/DDL

[2020-07-22 02:28] tabokie commented on #18718
/label component/transaction

[2020-07-22 03:11] cfzjywxk commented on #17932
It's duplicate with https://github.com/pingcap/tidb/issues/18098, I thought there was no issues on GitHub at first.

[2020-07-22 03:11] #17932 closed

[2020-07-22 04:47] niedhui opened #18719 "EXPLAIN FORMAT='dot' FOR CONNECTION causes panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
Should be same with:
[code]

### 3. What did you see instead (Required)
got a runtime error
[code]

### 4. Affected version (Required)

v4.0.0

### 5. Root Cause Analysis

[2020-07-22 04:53] niedhui commented on #18719
If bug confirmed, I can fix this later.

[2020-07-22 05:00] zz-jason commented on #11703
We can regard this hint as a workaround temporally. The `AS OF SYSTEM TIME` syntax can be supported in non-DML or DQL statements. For example, in [AS OF SYSTEM TIME - CockroachDB](https://www.cockroachlabs.com/docs/stable/as-of-system-time.html):

In BigQuery, it is [`FOR SYSTEM_TIME AS OF`](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax). From the SQL Syntax, seems it'

[2020-07-22 05:20] zz-jason commented on #15000
I noticed https://github.com/pingcap/tidb/issues/15002, so this issue I think is only focused on the REORGANIZE PARTITION` for range partitioned table.

[2020-07-22 05:28] zz-jason commented on #18672
https://github.com/pingcap/tidb/issues/11703 has a good title "Support `AS OF SYSTEM TIME` syntax", but the issue description only discussed the inconvenience of `set @@ tidb_snapshot` operation.

I listed some statements CockraochDB supported in https://github.com/pingcap/tidb/issues/11703#issuecomment-662241900, maybe we can consider them as well.

[2020-07-22 05:30] zz-jason commented on #18672
Your description of the syntax in ANSI SQL and other database systems inspired me about what syntax we should use in TiDB. Can we close one issue and discuss them in one place?

[2020-07-22 05:37] zz-jason commented on #11916
@5kbpers Could you describe more about the problem and use case of this feature with some examples. I'm a little confused. For example:

What does `TableInfo` and `DbInfo` mean, and where are they persisted?

Why not persist the `create table` statement at first then use this statement to create the target table in the destination TiDB cluster?

[2020-07-22 05:40] zz-jason commented on #15590
IMO, it's more like a bug other than a feature request.

[2020-07-22 05:43] zz-jason commented on #15590
There are two options:

1. flashback the tiflash replicas
2. do not flashback the tiflash replicas, correct the tiflash replica information displayed in `information_schema.tiflash_replica` as this issue originally requested.

@bb7133 @ilovesoup PTAL

[2020-07-22 06:02] zz-jason commented on #8510
@zhuboshuai Do you mean to make TiDB able to analyze all the tables in the cluster with one SQL command?

[2020-07-22 07:04] 474420502 opened #18720 "The case the Index is not used !"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
![2](https://user-images.githubusercontent.com/9397764/88145115-86c66e00-cc2c-11ea-8bdd-c34e3fe27354.png)

the index is not used, so that there is very slow to execute sql.

### 2. What did you expect to see? (Required)
![1](https://user-images.githubusercontent.com/9397764/

[2020-07-22 07:33] breeswish commented on #17691
Global variables looks reasonable to me.

[2020-07-22 07:39] breeswish commented on #13225
Hi, push down TIKV means TiDB & TiKV are running together to evaluate this expression.

[2020-07-22 07:40] breeswish commented on #17692
@zz-jason Yes, it is a sub-task of this one.

[2020-07-22 07:42] breeswish commented on #17688
@zz-jason Simply speaking, yes. We already have many customers use a single TiDB cluster to serve multiple & hybrid payloads. These payloads are usually stayed in different databases. But anyway, they are on the same TiDB cluster or even same TiDB instance.

[2020-07-22 08:49] wjhuang2016 commented on #18714
@zimulala PTAL

[2020-07-22 08:51] bb7133 commented on #18702
Close this issue since it is fixed by #18703

[2020-07-22 08:51] #18702 closed

[2020-07-22 09:31] #14326 closed

[2020-07-22 10:08] tangenta commented on #18532
It is an expected behavior after https://github.com/pingcap/tidb/pull/18326. I didn't realize this before. Sorry :)

[2020-07-22 10:08] #18532 closed

[2020-07-22 10:49] #18540 closed

[2020-07-22 11:01] #18171 closed

[2020-07-22 11:06] zz-jason commented on #14487
We can achieve this by `information_schema.cluster_info` table, is it still need to enhance the `tidb_version()` function?

An example:

[code]

[2020-07-22 11:07] ChenPeng2013 opened #18728 "parse UnionStmt error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
in MariaDB or MySQL
[code]
### 3. What did you see instead (Required)
[code]
### 4. Affected version (Required)

[code]
### 5. Root Cause Analysis

[2020-07-22 11:32] zz-jason commented on #9709
To fully support these attributes, seems we need to support the [Password Expiration Policy](https://dev.mysql.com/doc/refman/5.7/en/password-management.html#password-expiration-policy) in MySQL.

[2020-07-22 11:38] zz-jason commented on #16833
Do you mean to build and develop tidb on Windows or to deploy a tidb cluster on Windows, run applications on that cluster?

[2020-07-22 12:01] zz-jason commented on #17504
The main request of this issue is the support for [Cursors](https://dev.mysql.com/doc/refman/5.7/en/cursors.html) in MySQL:

To fully support it, make it usable, we need to support at least these statements:

- [Cursor DECLARE Statement](https://dev.mysql.com/doc/refman/5.7/en/declare-cursor.html)
- [Cursor OPEN Statement](https://dev.mysql.com/doc/refman/5.7/en/open.html)
- [Cursor FETCH Statemen

[2020-07-22 12:04] zz-jason commented on #17507
@cfzjywxk Maybe we can try to do this.

[2020-07-22 12:12] zz-jason commented on #17507
The [information_schema.innodb_lock_waits](https://dev.mysql.com/doc/refman/8.0/en/information-schema-innodb-lock-waits-table.html) table is deperated and removed in MySQL 8.0.1. It provides the [performance_schema.data_lock_waits](https://dev.mysql.com/doc/refman/8.0/en/performance-schema-data-lock-waits-table.html) table to accomplish the same functionality. Modifations are needed for applicatio

[2020-07-22 12:15] zz-jason commented on #17509
@nolouch @innerr PTAL

[2020-07-22 12:18] scsldb commented on #18426
@kolbe  @zz-jason  **Notes**:  We accept `read-only global variables` requirements, but `super-read-only global variables` requirements will be adjusted according to the actual situation late.

[2020-07-22 12:28] zz-jason commented on #17517
@yilongrong Sorry I'm confused about the request description. Could you describe in more detail with some examples, or could you provide the oracle user document link about the requested feature?

[2020-07-22 12:32] zz-jason commented on #17518
@yilongrong Would it helpful to rotate the slow log automatically, leave the log remove operation to the user?

[2020-07-22 12:37] zz-jason commented on #17521
@yilongrong Could you describe it in more detail. I'm confused with the definition of `uniform`. At present, all the component in the TiDB Cluster print the same formatted log:

an example in tidb-server:
[code]

an example in pd-server:

[code]

an example in tikv-server:

[code]

Does it satisfy your request?

[2020-07-22 12:48] zz-jason commented on #17522
From AskTUG, the original request is to support online change the config items defined in config file without restarting the server.

@yilongrong @wwar All the config items described in this issue can be online changed. The document is on the way. At present, the Chinese version(https://github.com/pingcap/docs-cn/pull/3058) is in the review. The English version will be ready soon after the Chinese

[2020-07-22 12:49] zz-jason commented on #17522
I'm going to close this issue. If you'd like other config items being able to be changed online, please let us know. It's recommended to file another issue to describe the new requests.

[2020-07-22 12:49] #17522 closed

[2020-07-22 12:56] zz-jason commented on #17506
Seems TiDB has supported the `show global status` statement:

[code]

[2020-07-22 12:57] oraluben opened #18729 "Incompatible with MySQL when sql_mode='HIGH_NOT_PRECEDENCE'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

### 4. Affected version (Required)

tiup's nightly (2020.6.22)

### 5. Root Cause Analysis

[2020-07-22 13:00] sre-bot opened #18730 "snapshot_test.go:testSnapshotSuite.TestSnapshotRuntimeStats failed"
snapshot_test.go:testSnapshotSuite.TestSnapshotRuntimeStats

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/43598/display/redirect

[2020-07-22 13:17] yilongrong commented on #17521
Hello ，such as：
region id in pd.log write：[region-id=xxxx]，in tikv log write [region_id=xxxx]

[2020-07-22 13:19] cfzjywxk commented on #17507
@zz-jason
It's already planned, there is a [document ](https://docs.google.com/document/d/1BaZ5GdPt2HJ_y3hKgqUXBw2bo__75n0VaaD0pitJozY/edit)about this.

[2020-07-22 13:20] zz-jason commented on #18037
@crazycs520 can we close this issue now?

[2020-07-22 13:22] zz-jason commented on #17693
@breeswish @IANTHEREAL I moved it to the P1 priority, please confirm if that's correct.

[2020-07-22 13:23] yilongrong commented on #17518
yes, It will useful.  but different user maybe have different requirement .  maybe we could use one parameter control the slow log max size?

[2020-07-22 13:27] tianyu4552 opened #18731 "如果tidb能具有HBase那样的TTL机制就好了"
我们现在遇到一个问题，我们打算建一个数据基础维表，数据会被周更。
但是周更的过程不能保证100%全量覆盖，但不希望旧数据被命中出来，这样上层使用方需要做额外处理。
能否像HBase的TTL机制那样，有过期淘汰策略。
可以接受以rowId为主键，对整条数据过过期处理

Now we have a problem. We plan to build a basic dimension table of data, and the data will be updated weekly.

However, the weekly shift process can not guarantee 100% full coverage, but the old data is not expected to be hit, so the upper users need to do additiona

[2020-07-22 13:29] bb7133 commented on #18731
Hi @tianyu4552 , thanks for reporting this request!

Would you mind modifying the title to English, please? Generally, it would be better if everyone is able to understand it.

[2020-07-22 13:33] zz-jason commented on #3640
@winoros PYTAL

[2020-07-22 13:35] yilongrong commented on #17506
Customer hope could support more parameter。

mysql> SHOW STATUS LIKE 'Key%';
+--------------------+----------+
| Variable_name      | Value    |
+--------------------+----------+
| Key_blocks_used    | 14955    |
| Key_read_requests  | 96854827 |
| Key_reads          | 162040   |
| Key_write_requests | 7589728  |
| Key_writes         | 3813196  |
+--------------------+----------+

[2020-07-22 13:35] nullnotnil commented on #14487
It is important to trim the hostnames and anything that directly reveals server count. So something like:
[code]

[2020-07-22 13:38] zz-jason commented on #11130
Confirmed:

[code]

TiDB Version:

[code]

[2020-07-22 13:38] #11130 closed

[2020-07-22 13:42] zz-jason commented on #3364
confirmed it still unsupported:

[code]

tidb version:

[code]

[2020-07-22 13:44] zz-jason commented on #17147
Let's discuss whether to support this feature.

[2020-07-22 13:51] IANTHEREAL commented on #17693
@zz-jason yes, do it

[2020-07-22 13:51] jianyilyu commented on #15384
/assign

[2020-07-22 14:24] nullnotnil commented on #18720
@474420502 Thank you for the bug report.

Can you please provide:
- The output of `SHOW CREATE TABLE source_openrec`.
- A [dump of the statistics](https://docs.pingcap.com/tidb/stable/statistics#import-and-export-statistics) from source_openrec.
- The execution time with and without using the index.

Also, just to confirm it is not out of date statistics - what happens when you run `ANALYZE TABLE

[2020-07-22 14:28] nullnotnil commented on #18719
I can reproduce this against master:
[code]
Then in another window:
[code]

My TiDB version:
[code]

[2020-07-22 14:33] nullnotnil commented on #18729
Confirming I can reproduce:
[code]

[2020-07-22 15:14] zz-jason commented on #18426
Yeah, after discussion `read-only` is a high priority issue. We'll work on the technical design firstly.

[2020-07-22 15:22] zanmato1984 commented on #15590
We studied this problem deeper back then and found this is not the root cause. This problem has been thoroughly fixed in these PRs based this [design](https://docs.google.com/document/d/1arw-ahHhkfInogRs6B9OOS6paD1Ap6dhfPYW4zgbIpk/edit):
https://github.com/pingcap/tics/pull/599
https://github.com/pingcap/tidb/pull/15699

So in a word, this issue is no long valid. We can close it.
@marsishandsome @

[2020-07-22 16:32] nullnotnil commented on #15349
Since this issue was created, TiDB moved statements_summary from performance_schema to information_schema in https://github.com/pingcap/tidb/issues/15348 - so I have renamed the title to "statement histograms".

[2020-07-22 18:28] nullnotnil commented on #11348
I am going to close this issue now, but please feel free to re-open if you have further questions. Thanks!

[2020-07-22 18:28] #11348 closed

[2020-07-22 18:38] nullnotnil commented on #10653
I think I know what happened. MySQL uses `authentication_string`, and TiDB (at the time of this bug report) used `password` (what MySQL 5.6 used).

Mysqldump with --all-databases will also export the schema for `mysql`, which is how the structure was changed here.

Because TiDB now has some privileges MySQL does not (such as sequences), it might require functionality to be added to be more robust

[2020-07-22 18:47] nullnotnil commented on #11172
I am going to close this as a duplicate of https://github.com/pingcap/tidb/issues/18283

Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 18:47] #11172 closed

[2020-07-22 18:51] nullnotnil commented on #11398
Support for large transactions was added in 4.0: https://pingcap.com/blog/large-transactions-in-tidb

I am going to close this issue now, but please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 18:51] #11398 closed

[2020-07-22 18:55] nullnotnil commented on #12281
I am going to close this issue now, but please feel free to reopen if you have additional questions. Thanks!

[2020-07-22 18:55] #12281 closed

[2020-07-22 18:55] nullnotnil commented on #12783
I am going to close this issue now, but please feel free to reopen if you have additional questions. Thanks!

[2020-07-22 18:55] #12783 closed

[2020-07-22 19:49] nullnotnil commented on #3815
I am going to close this issue for now, but please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:49] #3815 closed

[2020-07-22 19:52] nullnotnil commented on #3037
The easiest way to do this now is with TiUP: https://docs.pingcap.com/tidb/stable/quick-start-with-tidb

[2020-07-22 19:54] nullnotnil commented on #2107
I am going to close this issue as stale. Many things have happened since the issue was created: retry is disabled by default, and the default locking is pessimistic.

Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:54] #2107 closed

[2020-07-22 19:54] nullnotnil commented on #1673
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:54] #1673 closed

[2020-07-22 19:55] nullnotnil commented on #4199
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:55] #4199 closed

[2020-07-22 19:55] nullnotnil commented on #4520
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:55] #4520 closed

[2020-07-22 19:56] nullnotnil commented on #4548
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:56] #4548 closed

[2020-07-22 19:57] nullnotnil commented on #4731
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:57] #4731 closed

[2020-07-22 19:58] nullnotnil commented on #5213
The default locking in TIDB has changed to pessimistic, so the behavior will now be similar to InnoDB.

I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:58] #5213 closed

[2020-07-22 19:59] nullnotnil commented on #5353
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 19:59] #5353 closed

[2020-07-22 20:00] nullnotnil commented on #5662
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:00] #5662 closed

[2020-07-22 20:26] nullnotnil commented on #6036
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:26] #6036 closed

[2020-07-22 20:26] nullnotnil commented on #5690
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:26] #5690 closed

[2020-07-22 20:27] nullnotnil commented on #5707
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:27] #5707 closed

[2020-07-22 20:27] nullnotnil commented on #5899
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:27] #5899 closed

[2020-07-22 20:30] nullnotnil commented on #6065
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:30] #6065 closed

[2020-07-22 20:31] nullnotnil commented on #6091
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:31] #6091 closed

[2020-07-22 20:31] nullnotnil commented on #6173
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:31] #6173 closed

[2020-07-22 20:32] nullnotnil commented on #6201
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:32] #6201 closed

[2020-07-22 20:32] nullnotnil commented on #6202
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:32] #6202 closed

[2020-07-22 20:33] nullnotnil commented on #6205
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:33] #6205 closed

[2020-07-22 20:33] nullnotnil commented on #6228
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:33] #6228 closed

[2020-07-22 20:33] nullnotnil commented on #6237
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:33] #6237 closed

[2020-07-22 20:33] nullnotnil commented on #6291
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:33] #6291 closed

[2020-07-22 20:34] nullnotnil commented on #6440
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:34] #6440 closed

[2020-07-22 20:35] nullnotnil commented on #6493
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:35] #6493 closed

[2020-07-22 20:36] nullnotnil commented on #10565
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:36] #10565 closed

[2020-07-22 20:38] nullnotnil commented on #7527
I recommend using `SHOW TABLE REGIONS`: https://docs.pingcap.com/tidb/stable/sql-statement-show-table-regions -- it's a bit easier to understand.

I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:38] #7527 closed

[2020-07-22 20:41] nullnotnil commented on #6533
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:41] #6533 closed

[2020-07-22 20:42] nullnotnil commented on #6675
TiDB also now supports a `SHUTDOWN` command. You can use it like regular SQL.

I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:42] #6675 closed

[2020-07-22 20:42] nullnotnil commented on #6729
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:42] #6729 closed

[2020-07-22 20:43] nullnotnil commented on #6765
Check constraints are now on the roadmap! The majority of the work is already done. You can track the project at: https://github.com/pingcap/tidb/projects/46

I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:43] #6765 closed

[2020-07-22 20:44] nullnotnil commented on #6799
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:44] #6799 closed

[2020-07-22 20:44] nullnotnil commented on #6841
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:44] #6841 closed

[2020-07-22 20:45] nullnotnil commented on #6848
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:45] #6848 closed

[2020-07-22 20:49] nullnotnil commented on #7047
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:49] #7047 closed

[2020-07-22 20:50] nullnotnil commented on #7131
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:50] #7131 closed

[2020-07-22 20:50] nullnotnil commented on #7179
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:50] #7179 closed

[2020-07-22 20:57] nullnotnil commented on #10094
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:57] #10094 closed

[2020-07-22 20:58] nullnotnil commented on #7275
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 20:58] #7275 closed

[2020-07-22 21:04] nullnotnil commented on #10625
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:04] #10625 closed

[2020-07-22 21:09] nullnotnil commented on #7514
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:09] #7514 closed

[2020-07-22 21:09] nullnotnil commented on #7499
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:09] #7499 closed

[2020-07-22 21:10] nullnotnil commented on #7478
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:10] #7478 closed

[2020-07-22 21:10] nullnotnil commented on #7458
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:10] #7458 closed

[2020-07-22 21:12] nullnotnil commented on #10598
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:12] #10598 closed

[2020-07-22 21:13] nullnotnil commented on #10592
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:13] #10592 closed

[2020-07-22 21:13] nullnotnil commented on #10531
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:13] #10531 closed

[2020-07-22 21:14] nullnotnil commented on #10507
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:14] #10507 closed

[2020-07-22 21:16] nullnotnil commented on #9582
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:16] #9582 closed

[2020-07-22 21:17] nullnotnil commented on #9570
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:17] #9570 closed

[2020-07-22 21:19] nullnotnil commented on #10059
It is better to provide a link to the website, as this will include redirects: https://docs.pingcap.com/tidb/stable/mysql-compatibility

I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:19] #10059 closed

[2020-07-22 21:23] nullnotnil commented on #7763
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-22 21:23] #7763 closed

[2020-07-23 00:26] nullnotnil commented on #10305
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 00:26] #10305 closed

[2020-07-23 00:26] nullnotnil commented on #10245
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 00:26] #10245 closed

[2020-07-23 00:26] nullnotnil commented on #10190
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 00:28] nullnotnil commented on #10062
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 00:28] #10062 closed

[2020-07-23 00:28] nullnotnil commented on #10052
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 00:28] #10052 closed

[2020-07-23 00:30] nullnotnil commented on #9934
TiDB now also provides [follower read support](https://docs.pingcap.com/tidb/stable/follower-read). The default remains to read from the leader.

I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 00:30] #9934 closed

[2020-07-23 00:31] nullnotnil commented on #6561
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 00:31] #6561 closed

[2020-07-23 00:42] nullnotnil commented on #7779
There have been some improvements in TiDB 3.1+ to scenarios where the "front most" region is very hot. In addition to auto_increment, TiDB [now supports auto_random](https://docs.pingcap.com/tidb/stable/auto-random). This helps distribute the inserts amongst multiple regions to lessen the hot spot.

As others have indicated; TiDB will require more disk space than specialized time series databases.

[2020-07-23 00:42] #7779 closed

[2020-07-23 00:42] zz-jason commented on #17597
Seem it's an internal optimization, not a feature request.

[2020-07-23 00:57] zz-jason commented on #14487
How about making `select tidb_version();` to display the same result of the following query:

[code]

If there are different versions on a component, the result would not be too long to be displayed in a single line, it also summarizes the instance count of that version:

[code]

[2020-07-23 01:03] zz-jason commented on #14030
Awesome! The hint `/*+ prefer_table_id(3456) */` is really useful in `create table` statements to avoid unnecessary key-value rewrite during backup and restore.

@IANTHEREAL PTAL.

[2020-07-23 01:04] nullnotnil commented on #4279
I am going to close this issue for now, since the original feature request has been implemented.

Support for a JSON format can be handled in a future request if there is demand.

[2020-07-23 01:04] #4279 closed

[2020-07-23 01:11] nullnotnil commented on #8720
With the original question answered, I am going to close this issue for now. Please feel free to create a new issue if you have additional questions. Thanks!

[2020-07-23 01:11] #8720 closed

[2020-07-23 01:11] zz-jason commented on #17506
`show [global] status like` has been supported:

[code]

@yilongrong

[2020-07-23 01:16] zz-jason commented on #17521
Could you list some desired `key`s that needs to be unified? Let's focused on these keys firstly. For example:

| keys | desired format |
|:-----|:---------------|
|region_id, region-id | region-id |

[2020-07-23 01:31] nullnotnil commented on #14487
Per the alternatives considered:

I think it is better to leave this info out.

[2020-07-23 01:42] tabokie commented on #18720
/label component/planner

[2020-07-23 02:20] zz-jason commented on #18426
I'm going to change the title of this issue to "support `read-only` global variable". Let's discuss the `super-read-only` variable in another feature request issue.

[2020-07-23 02:26] GMHDBJD commented on #18714
This is caused by doDDLJob while domain has been closed. We may check quitch in doDDLJob.

[2020-07-23 02:30] zz-jason opened #18733 "support `super_read_only` global variable"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This issue is created based on https://github.com/pingcap/tidb/issues/18426. Let's discuss the `super_read_only` variable here. The problem is the same as https://github.com/pingcap/tidb/issues/18426:

`super_read_only` is more strict than `read_only`: If `super_read_only` is enabled, the server prohibits clien

[2020-07-23 02:52] zz-jason commented on #17518
@yilongrong Let's make the user story clearer. If the user wants to clear the stale slow log periodically, the best rotate strategy is based on the date, not size. Am I correct?

[2020-07-23 03:06] zz-jason commented on #4279
sure

[2020-07-23 03:07] 474420502 commented on #18720
![image](https://user-images.githubusercontent.com/9397764/88248255-17f02000-ccd3-11ea-9b15-809543d7fff7.png)
very strange!
i redo that without that run ANALYZE TABLE source_openrec  , but the result is different to yesterday.
the index is used.
table is not changed, but the data was deleted.

[code]

[2020-07-23 03:10] zz-jason commented on #14487
Got it. Leave the instance count and hostnames out of the result looks good to me.

[2020-07-23 03:39] crazycs520 commented on #18037
Ok, and this issue should also be addressed in https://github.com/pingcap/tidb/pull/18666

[2020-07-23 03:39] #18037 closed

[2020-07-23 04:54] #18662 closed

[2020-07-23 05:46] n0vad3v commented on #13361
Thanks for you feedback, it's now been fixed.

[2020-07-23 06:08] #18321 closed

[2020-07-23 06:53] lzmhhh123 commented on #18480
@XuHuaiyu PTAL.

[2020-07-23 06:54] lzmhhh123 commented on #18481
@qw4990 PTAL.

[2020-07-23 06:54] lzmhhh123 commented on #18482
@winoros PTAL.

[2020-07-23 06:55] lzmhhh123 commented on #18595
@eurekaka PTAL.

[2020-07-23 06:57] lzmhhh123 commented on #18485
@wshwsh12 PTAL.

[2020-07-23 06:58] lzmhhh123 commented on #18486
@tiancaiamao PTAL.

[2020-07-23 07:04] kennytm commented on #14030
Since BR now uses `CreateTableWithInfo` directly, the optimizer hint syntax is no longer required for BR. You just need to implement the `tryRetainID` logic.

https://github.com/pingcap/tidb/blob/6fae78d6cf1e160ec060ea77f683d78c4cd41317/ddl/ddl.go#L127-L140

[2020-07-23 07:16] hesper-guo commented on #17043
/assign

[2020-07-23 07:25] hesper-guo commented on #18056
/ assign

[2020-07-23 07:32] jianyilyu commented on #18056
/assign

[2020-07-23 07:35] hesper-guo commented on #18233
/assign

[2020-07-23 07:38] Frankjunyulin commented on #8790
Thanks for all answers

[2020-07-23 07:38] #8790 closed

[2020-07-23 08:23] time-and-fate opened #18740 "Improve selectivity computing for DNF filters"
## Feature Request

**Is your feature request related to a problem? Please describe:**
For now, TiDB can't handle DNF condition with multiple columns in selectivity calculation. E.g., in the query `select * from t where a > 1 or b = 1;`, currently it's impossible to cover the condition `a > 1 or b = 1` no matter what indices you have. We will simply use 0.8 as selectivity for this uncovered condit

[2020-07-23 08:29] JaySon-Huang commented on #17530
More example:
[code]

[2020-07-23 09:22] rebelice commented on #18528
When use mockstore, cop tasks' attribute actRows will be empty, just like
`MySQL [test]> explain analyze select * from t t1, t t2 where t1.b = t2.a and t1.b = 2333;
+------------------------------------+----------+---------+-----------+----------------------+------------------------------------------------------------------------+---------------------------------------------------+-----------+----

[2020-07-23 09:25] crazycs520 opened #18743 "Add performance diagnose rule to check useless prepare statement"
## Feature Request

![image](https://user-images.githubusercontent.com/26020263/88270911-f6aa2680-cd08-11ea-8ee6-196dc73ec3a7.png)

As you can see, the client try to use the `prepared` statement, but the `prepare` statement should only compile once.

If client has to prepare again before each execution, actually the performance is worse than not use prepare.

This Issue wants to add a diagnose rul

[2020-07-23 09:29] qw4990 commented on #18528
PTAL @bobotu The accuracy of `actRows` is important when testing and debugging the optimizer.

[2020-07-23 11:17] ChenPeng2013 opened #18744 "memory_quota: the query is blocked"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

oom-action=cancel
[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. Affected version (Required)

[code]
### 5. Root Cause Analysis

[2020-07-23 11:18] qw4990 opened #18745 "Support to export historical statistics"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There are some cases that when we(developer) get the wrong execution plan, statistics have been updated by `auto-analyze` or users without intention, which makes it harder to reproduce the plan and locate the reason.

**Describe the feature you'd like:**

Support to export historical statistics.
There is alread

[2020-07-23 11:19] XuHuaiyu commented on #18744
I'm working on this

[2020-07-23 11:49] SunRunAway opened #18746 "Add a documentation page related to tidb-specific built-in function"
## Development Task

- [x] tidb_version
- [x] tidb_is_ddl_owner
- [x] tidb_decode_key
- [x] tidb_decode_plan
- [x] tidb_parse_tso

All the functions above have been documented in https://github.com/pingcap/docs/pull/5699.

[2020-07-23 11:56] SunRunAway commented on #18746
@taozhengcn

[2020-07-23 12:05] zz-jason commented on #18740
@time-and-fate It's more like an internal improvement, not a feature request.

[2020-07-23 12:23] qw4990 commented on #18117
If this feature is implemented, we can set `tikv_gc_run_interval` longer for system tables about statistics, then it will be easy to export historical statistics, which is helpful when locating optimizer problems.(https://github.com/pingcap/tidb/issues/18745)

[2020-07-23 12:31] qw4990 commented on #18745
We can use this feature(https://github.com/pingcap/tidb/issues/18117) to remove the limitation.

[2020-07-23 12:33] qw4990 commented on #18041
Close due to duplicated with #18528.

[2020-07-23 12:33] #18041 closed

[2020-07-23 12:37] qw4990 commented on #14795
/assign rebelice

[2020-07-23 12:38] qw4990 commented on #14795
@rebelice PTAL.

[2020-07-23 12:39] qw4990 commented on #12849
PTAL @wshwsh12

[2020-07-23 13:00] sre-bot opened #18747 "2pc_test.go:testCommitterSuite.TestPrewiteSecondaryKeys failed"
2pc_test.go:testCommitterSuite.TestPrewiteSecondaryKeys

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/43702/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/42560/display/redirect

[2020-07-23 13:03] zz-jason opened #18748 "Support Variable-Setting Hint `SET_VAR`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB supports lots of variables for applications. For example, `tidb_opt_distinct_agg_push_down`, the typical usage is:

[code]

With this hint, there is no need to save and restore the variable value, the above example can be rewritten to:

[code]

https://github.com/pingcap/tidb/issues/11703 also described an

[2020-07-23 13:29] nullnotnil commented on #18720
@474420502 I believe the root cause is that the statistics degraded, but perhaps not enough to trigger auto-analyze yet.

There is a new feature in TiDB 4.0 which can be used to see the health of an index called [SHOW STATS_HEALTHY](https://docs.pingcap.com/tidb/dev/sql-statement-show-stats-healthy). The manual now has an example that shows how stats can get out of date following a bulk delete.

I

[2020-07-23 14:01] oraluben commented on #18729
PR in parser: https://github.com/pingcap/parser/pull/938

[2020-07-23 14:07] time-and-fate commented on #18740
Oh...I didn't notice that Development Task template. I'll pay attention next time.

[2020-07-23 14:39] sstubbs opened #18752 "Dealing With Graph Data"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I'm currently moving a posgres database to tidb. I have some directed acyclic graph data. One table with nodes and another with edges. In terms of querying it I need to find all parents and all children of a node. In postgres I use a recursive CTE. I see there is no recursive CTE or graph support like mariadb ha

[2020-07-23 15:05] nullnotnil commented on #18752
Support for CTEs is planned. You can track it in the following issues:

* https://github.com/pingcap/tidb/issues/17472 (Non-recursive)
* https://github.com/pingcap/tidb/issues/6824 (Recursive)

There are no current plans for a separate engine, such as OQGraph. Thank you for using TiDB, please let us know if you have other migration questions :-)

[2020-07-23 15:08] sstubbs commented on #6824
Is there any idea when this will be available? I really like tidb but I can't use it without recursive CTE support.

[2020-07-23 15:15] nullnotnil commented on #6824
There is an initial design ready for non-recursive CTEs - I expect it will ready for TiDB 5.0. We do not have a current ETA for recursive CTEs yet. I expect the design will follow shortly after non-recursive.

[2020-07-23 16:19] sstubbs commented on #6824
I see ok thanks.

[2020-07-23 16:49] nolouch commented on #18087
I think some parts are already in doing, such as geo and auto-scaling. I think this overall can be P1, it's more about a directly.

[2020-07-23 16:50] nolouch commented on #18094
I think some parts are already in doing, such as geo and auto-scaling. I think this overall can be P1, it's more about a director.

[2020-07-23 16:50] nullnotnil commented on #18746
This sounds like a great thing to add. May I recommend adding it under `Functions and Operators`? i.e. https://docs.pingcap.com/tidb/stable/functions-and-operators-overview

[2020-07-23 16:54] nullnotnil commented on #9656
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 16:54] #9656 closed

[2020-07-23 17:02] nullnotnil commented on #9522
I can confirm that this has been fixed. Here is a full test case:

[code]

TiDB 2.1 behavior:

[code]

Behavior in master:
[code]

The second ALTER TABLE fails because there is an existing NULL value, but the error is the same as in MySQL:

[code]

I am going to close this issue now, but please feel free to reopen if you have further questions. Thanks!

[2020-07-23 17:02] #9522 closed

[2020-07-23 17:35] nullnotnil commented on #9277
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:35] #9277 closed

[2020-07-23 17:47] nullnotnil commented on #6594
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:47] #6594 closed

[2020-07-23 17:48] nullnotnil commented on #7569
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:48] #7569 closed

[2020-07-23 17:49] nullnotnil commented on #9206
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:49] #9206 closed

[2020-07-23 17:49] nullnotnil commented on #9116
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:49] #9116 closed

[2020-07-23 17:51] nullnotnil commented on #9069
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:51] #9069 closed

[2020-07-23 17:51] nullnotnil commented on #9054
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:51] #9054 closed

[2020-07-23 17:51] nullnotnil commented on #9018
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:51] #9018 closed

[2020-07-23 17:51] nullnotnil commented on #9013
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:51] #9013 closed

[2020-07-23 17:52] nullnotnil commented on #8993
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:52] #8993 closed

[2020-07-23 17:54] nullnotnil commented on #8955
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:54] #8955 closed

[2020-07-23 17:54] nullnotnil commented on #8759
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:54] #8759 closed

[2020-07-23 17:54] nullnotnil commented on #8744
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:54] #8744 closed

[2020-07-23 17:57] nullnotnil commented on #7091
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:57] #7091 closed

[2020-07-23 17:59] nullnotnil commented on #7889
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:59] #7889 closed

[2020-07-23 17:59] nullnotnil commented on #8266
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:59] #8266 closed

[2020-07-23 17:59] nullnotnil commented on #8267
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:59] #8267 closed

[2020-07-23 17:59] nullnotnil commented on #8525
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 17:59] #8525 closed

[2020-07-23 18:00] nullnotnil commented on #8145
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 18:00] #8145 closed

[2020-07-23 18:02] nullnotnil commented on #9186
@zz-jason Should this be considered a duplicate of https://github.com/pingcap/tidb/issues/11607 ?

[2020-07-23 18:04] nullnotnil commented on #7957
I am going to close this issue as stale. Please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 18:04] #7957 closed

[2020-07-23 18:08] nullnotnil commented on #8987
Confirming that both of the reported issues have been fixed in master:
[code]

I am going to close this issue now, but please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 18:08] #8987 closed

[2020-07-23 19:07] nullnotnil commented on #10173
I have checked against master, and TiDB now has the same behavior as MySQL here:
[code]

I am going to close this issue now, but please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 19:07] #10173 closed

[2020-07-23 19:12] nullnotnil commented on #15045
I believe the cause may be that you have an existing transaction open. You don't have to restart the TiDB service, executing `ROLLBACK` should be sufficient.

[2020-07-23 19:14] nullnotnil commented on #14699
You can track the progress of the MySQL X Protocol in https://github.com/pingcap/tidb/issues/1109

As @lonng indicated, there are no current plans to implement it.

[2020-07-23 19:16] nullnotnil commented on #14198
Unless there is an explicit `ORDER BY`, TiDB is free to return the results in any order. Even though sometimes the order may appear to be the same, it is not recommended to rely on this, as a change in execution plan could modify the order.

This is SQL-standard behavior, and other databases behave similarly.

[2020-07-23 19:25] nullnotnil commented on #9918
Confirming I can still reproduce this against master:
[code]

[2020-07-23 19:35] sstubbs commented on #18752
Is there any other solution to this problem other than using either of these methods? I've looked at spark but I don't see a solution.  I would rather not revert to using mysql or mariadb just for this feature.

[2020-07-23 19:45] sstubbs commented on #18752
Perhaps running something like dgraph for the graph data along side tidb is the best solution.

[2020-07-23 20:17] sstubbs commented on #18752
Seeing as my graph requirement is fairly simple I'm going to have a go at creating a poject with the petgraph crate and tikv client and see how that performs.

[2020-07-23 21:42] nullnotnil commented on #18752
Non-recursive CTEs can be emulated with temporary tables, but recursive is much harder - the queries tend to use self-joins and look much more complicated. I understand your desire to have this feature, and like you I am hoping that it is added soon :-)

[2020-07-23 21:49] nullnotnil commented on #10543
Confirming I can still reproduce this against master:
[code]

[2020-07-23 21:51] nullnotnil commented on #10462
Confirming I can still reproduce this against master:
[code]

[2020-07-23 22:00] nullnotnil commented on #10176
Changing character set is now supported in master. Here is a test case to confirm:
[code]

I believe TiDB also historically used (M) in VARCHAR(M) to mean bytes, but it now means characters as in MySQL. Here is another test case:

[code]

I am going to close this issue now, but please feel free to reopen if you have further questions. Thanks!

[2020-07-23 22:00] #10176 closed

[2020-07-23 22:15] nullnotnil commented on #9804
Confirming that this has been fixed in master:
[code]

I am going to close this issue now. Thanks!

[2020-07-23 22:15] #9804 closed

[2020-07-23 22:25] nullnotnil commented on #8484
I investigated the behavior of foreign key checks for https://github.com/pingcap/tidb/pull/18360

The PR #8358 did not specifically modify how TiDB handled checks for DDL, it changed the default to advertise what TiDB does more accurately. It also added a feature to "refuse" to allow setting it to ON, since TiDB does not have such capability. There is now a feature request to relax this refusal in

[2020-07-23 22:29] nullnotnil commented on #18641
If the motivation is for flyway compatibility, there is an alternative fix which is safer. See https://github.com/pingcap/tidb/issues/15131#issuecomment-611311153 for an explanation.

[2020-07-23 22:38] nullnotnil commented on #9593
Confirming I can still reproduce a different result from MySQL, but the error no longer occurs:
[code]

I believe that this may now be the same bug as https://github.com/pingcap/tidb/issues/12233

[2020-07-23 22:43] nullnotnil commented on #8682
This bug has been fixed in TiDB 4.0. I am going to close this issue now, but please feel free to re-open if you have additional questions. Thanks!

[2020-07-23 22:43] #8682 closed

[2020-07-23 23:09] nullnotnil commented on #1108
Confirming I can still reproduce this against master:
[code]

[2020-07-23 23:11] #3268 closed

[2020-07-23 23:22] nullnotnil commented on #18152
The same problem exists in `tikv_gc_concurrency`. See: https://github.com/pingcap/docs/pull/3406/files#diff-12d04b34ca55fc01413c0a8ff6a3139dR179-R182 where it is recommended to change it by updating a table.

[2020-07-24 00:42] zz-jason commented on #9186
I think so. But if the join in this issue is merge join, #11607 can not cover that.

[2020-07-24 00:44] nullnotnil commented on #15131
I took a look at fixing this. I think it's a bit harder than it looks. For example, I can get it to return "1" in the context of an `@@` operator with this patch:
[code]

But if you look closer at how MySQL does this, an `@@foreign_key_checks` will also return a typed value:
[code]

In TiDB, both sysvars and user variables are not typed - they are always strings. So if someone who uses flyway want

[2020-07-24 00:47] zz-jason commented on #18152
Although `tikv_gc_life_time` is the most commonly used. lots of items in this table can be set via a variable:

[code]

[2020-07-24 00:48] nullnotnil commented on #13146
Sysvars are also not typed, here is a related issue: https://github.com/pingcap/tidb/issues/15131

[2020-07-24 00:54] #18673 closed

[2020-07-24 01:10] nullnotnil commented on #11363
A fix was added for information_schema.columns being slow when there are lots of tables: https://github.com/pingcap/tidb/pull/18362  If I understand the PR correctly, it pushes down part of the condition so that not as much memory is required,

Something like this could be added for information_schema.tables?

[2020-07-24 01:52] tabokie commented on #18730
/label component/transaction

[2020-07-24 02:16] zimulala commented on #18728
PTAL @SunRunAway

[2020-07-24 02:30] zimulala commented on #17270
@zhangysh1995
Thanks for your feedback! We will improve and unify the error information of TiDB in the near future.

[2020-07-24 02:40] tabokie commented on #18747
/label component/transaction

[2020-07-24 02:41] rebelice commented on #14795
/assign

[2020-07-24 02:58] csuzhangxc opened #18756 "different behavior on foreign key with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

in MySQL  5.7.21

[code]

in TiDB v4.0.0 (also for master branch with git commit https://github.com/pingcap/tidb/commit/9995ad7451540461357551192399d25b9a69044c)

[code]

### 2. What did you expect to see? (Required)

no error reported.

### 3. What did you see instead (Req

[2020-07-24 03:04] yilongrong commented on #18290
Customer just need ST_Distance() now，if have more function would better.

[2020-07-24 03:30] qw4990 commented on #14795
A better plan for this is using `BatchGet`.
Here is another example that composite index is not fully used:
[code]

[2020-07-24 03:56] superlzs0476 opened #18758 "TiDB Product demand discussion - ERROR CODE standardization"
## TiDB Product demand discussion - ERROR CODE standardization

The improvement of TiDB products is inseparable from the participation of community users. When optimizing and perfecting TiDB products, we respect everyone's production environment usage habits, DBA operations, and maintenance specifications. Recently, we plan to improve the log output format of ERRO CODE and ERROR MESSAGE in v4.0 an

[2020-07-24 04:42] zz-jason commented on #18616
@zhangjinpeng1987 Is there any other references about `storeing` column index?

[2020-07-24 04:59] #17989 closed

[2020-07-24 05:31] nolouch commented on #18084
@kolbe  I have added it, I think the implementation idea you mentioned already done in https://github.com/pingcap/tidb/pull/18578. am I right?

[2020-07-24 06:23] qw4990 commented on #17852
After testing, this problem still exists.

[2020-07-24 07:05] qw4990 commented on #17357
`AllSameOrder` lets the planner can select indexes as access paths otherwise some `Sort` must be enforced.
If we have to use `Sort` to keep the order, hash-based operators may be better than these stream-based operators in most cases.
What's your option? @SunRunAway

[2020-07-24 07:08] qw4990 commented on #17684
Close since it is resolved.

[2020-07-24 07:08] #17684 closed

[2020-07-24 07:11] qw4990 commented on #2751
Close since it is resolved.
[code]

[2020-07-24 07:11] #2751 closed

[2020-07-24 07:19] qw4990 commented on #11323
Close since it is resolved.

[2020-07-24 07:19] #11323 closed

[2020-07-24 07:38] IANTHEREAL commented on #14030
@zz-jason now BR uses `CreateTableWithInfo`, as Kenny said

[2020-07-24 08:03] #18720 closed

[2020-07-24 08:42] Win-Man opened #18771 "Separate general log from tidb.log"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

TiDB will write general log in tidb.log when enabled general log. Suggest to separate general log from `tidb.log`. Because it's not easy to analysis general log when there are lots of error log in `tidb.log`.

**Describe alternatives you've considered:**

**Teachability, Do

[2020-07-24 10:57] zz-jason commented on #18290
@yilongrong I'm curious about how to represent a `Point` if we only `ST_Distance()` is supported. Could you explain more about the use cases with some examples?

[2020-07-24 11:12] zz-jason commented on #8880
@nolouch Can we achieve this by [placement rules](https://docs.pingcap.com/tidb/stable/configure-placement-rules#placement-rules)?

[2020-07-24 11:29] nolouch commented on #8880
Yes, maybe you can use partition and move the partition to the HDD. something similar we are doing now, you can check it in https://github.com/pingcap/tidb/issues/18030. @zhuboshuai

[2020-07-24 11:41] zz-jason commented on #8901
@aronfan Could you provide some use cases about the reverse iterator?

[2020-07-24 13:00] sre-bot opened #18778 "executor_test.go:testSplitTable.TestClusterIndexShowTableRegion failed"
executor_test.go:testSplitTable.TestClusterIndexShowTableRegion

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/42622/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/42675/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/42672/display/redirect
https://internal.pingcap.net/idc-jenkins/job/t

[2020-07-24 13:01] sre-bot opened #18779 "handle_test.go:testStatsSuite.TestStatsCacheMemTracker failed"
handle_test.go:testStatsSuite.TestStatsCacheMemTracker

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/43846/display/redirect

[2020-07-24 13:01] sre-bot opened #18780 "join_test.go:testSuite9.TestIssue18744 failed"
join_test.go:testSuite9.TestIssue18744

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check/47452/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/43762/display/redirect

[2020-07-24 13:01] sre-bot opened #18781 "seq_executor_test.go:seqTestSuite.TestIssue18744 failed"
seq_executor_test.go:seqTestSuite.TestIssue18744

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/43778/display/redirect

[2020-07-24 14:30] nullnotnil commented on #12420
Confirming issue still exists against master (it's minor):
[code]

[2020-07-24 14:58] nullnotnil commented on #13361
Thanks! Closing this issue.

[2020-07-24 14:58] #13361 closed

[2020-07-24 15:32] xiongjiwei opened #18782 "should select count(1) from table group by column be ordered?"
![批注 2020-07-24 230537](https://user-images.githubusercontent.com/20839912/88408014-8b924a00-ce05-11ea-8e6f-aa54affa208e.jpg)

seems `MySql` guarantee the order, I run many times, it always 6 3

[2020-07-24 15:48] nullnotnil commented on #18782
MySQL historically default-ordered results in the same order as `GROUP BY`, but this was a deprecated behavior and went away in MySQL 8.0.

Default ordering the results limits what optimizations can be applied during query execution. It is better to require the user to specify an order if they require one.

[2020-07-24 16:22] zimulala commented on #9246
This feature needs to be tested more systematically, reopen this issue to facilitate tracking.

[2020-07-25 01:17] #18782 closed

[2020-07-25 14:50] nullnotnil commented on #7413
I am going to close this as stale. `zap` is now used in a lot of places.

[2020-07-25 14:50] #7413 closed

[2020-07-25 14:54] nullnotnil commented on #7465
Confirming this issue is still present in master:

[code]

[2020-07-25 14:55] nullnotnil commented on #7229
I am going to close this issue as stale. If there are specific bugs discovered, we can create new issues.

[2020-07-25 14:55] #7229 closed

[2020-07-26 01:20] nullnotnil commented on #11703
Another potential behavior difference between dedicated syntax and hints, is that hints typically only generate warnings at most. If using `AS OF SYSTEM TIME`, I think it would be appropriate to generate an error if the snapshot time can not be provided.

[2020-07-26 19:53] nullnotnil commented on #17789
I will fix this in https://github.com/pingcap/docs/pull/3418

[2020-07-26 19:53] #17789 closed

[2020-07-27 01:59] glorv commented on #18781
/label component/executor

[2020-07-27 02:04] glorv commented on #18780
/label component/executor

[2020-07-27 02:05] glorv commented on #18778
/label component/executor

[2020-07-27 02:06] glorv commented on #18779
/label component/statistics

[2020-07-27 02:33] SunRunAway opened #18791 "Adjust the `tidb_distsql_scan_concurrency` by `limit condition` automatically"
## Development Task
ycsb table schema is:
[code]

The `select … from usertable where ycsb_key > xxx limit 12` statement will trigger several(maybe equal to tidb_distsql_scan_concurrency, defaults to 15) coprocessor requests, but the limit is small, actually it may only need to send 1 coprocessor request. After set `tidb_distsql_scan_concurrency=1`, the SCAN OPS increase from 718 to 2200 when the r

[2020-07-27 02:59] cyliu0 opened #18792 "Inaccurate error info for year column out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
On MySQL:
[code]

### 3. What did you see instead (Required)
On TiDB:
[code]

### 4. Affected version (Required)

[code]

### 5. Root Cause Analysis

[2020-07-27 03:29] qw4990 commented on #18791
Describe it more detailedly: if it has a limit condition and the limit number is less than the chunk size (1024 as default) and no other filter condition, we can auto-adjust the concurrency to `1`.

`No other filter condition` means no selection operator is pushed down to the TiKV, for example:
[code]

[2020-07-27 03:38] zz-jason commented on #13808
One problem we are facing is the active connections are broken during the upgrade progress. Can it solve this problem?

[2020-07-27 03:54] crazycs520 opened #18793 "Add instance scope variable and tidb_variables system table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, TiDB has some `session` scope variable, but they are actually `instance` scope, here is the variables list:

* tidb_general_log
* tidb_pprof_sql_cpu
* ddl_slow_threshold
* tidb_force_priority
* tidb_expensive_query_time_threshold
* tidb_max_delta_schema_count
* tidb_store_limit
* tidb_slow_log_thresh

[2020-07-27 03:59] crazycs520 opened #18794 "Add tidb_variables system table to query variables information"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, TiDB has some `session` scope variable, but they are actually `instance` scope, here is the variables list:

* tidb_general_log
* tidb_pprof_sql_cpu
* ddl_slow_threshold
* tidb_force_priority
* tidb_expensive_query_time_threshold
* tidb_max_delta_schema_count
* tidb_store_limit
* tidb_slow_log_thresh

[2020-07-27 04:26] crazycs520 commented on #18793
duplicate witth https://github.com/pingcap/tidb/issues/9298

[2020-07-27 04:26] #18793 closed

[2020-07-27 04:52] bb7133 commented on #18731
Hi @tianyu4552 I've translated the title in English, hope that it can be accepted, thank you!

[2020-07-27 04:56] zz-jason commented on #18117
@zhangjinpeng1987 Maybe we can higher the priority of this feature request.

[2020-07-27 05:04] zz-jason commented on #8880
I'm going to close this issue:

- TiDB 4.0 supports placement rule in PD. you can follow the [user document](https://docs.pingcap.com/tidb/stable/configure-placement-rules#placement-rules) to manually place code data to HDD disks.
- For usability improvement, defining placement rule with SQL is scheduled to be delivered in TiDB 5.0. It's a P0 priority feature, you can trace the progress in https:/

[2020-07-27 05:04] #8880 closed

[2020-07-27 05:27] zz-jason commented on #1895
There are two challenges to implement a MySQL-Compatible `CHECKSUM TABLE` command:

1. to use the same checksum algorithm
2. [`tidb-lighting`](https://github.com/pingcap/tidb-lightning) must be adapted to use the same checksum algorithm if it still uses the `ADMIN CHECKSUM TABLE <table_name>` statement provided in TiDB.

/cc @kennytm, @IANTHEREAL

[2020-07-27 05:35] zz-jason commented on #1895
From MySQL document about [`innodb_checksum_algorithm`](https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_checksum_algorithm), seems the checksum default algorithm is `crc32`:

[2020-07-27 05:51] zz-jason commented on #10192
@wangggong We need more discussion about whether to introduce a new `utf8_cn_pinyin_ci` collation or support the `GBK`(gb18030) character set and its collations.

Reference to MySQL: [Asian Character Sets](https://dev.mysql.com/doc/refman/8.0/en/charset-asian-sets.html)

[2020-07-27 05:51] zz-jason commented on #10192
cc @ilovesoup

[2020-07-27 05:55] zz-jason commented on #9296
Seems the problem this issue wants to solve is the same with https://github.com/pingcap/tidb/issues/1895

[2020-07-27 06:01] zz-jason commented on #17523
–history h=$monitor_db_host,D=$monitor_db_database,t=mysql_slow_query_review_history
–no-report --limit=0% --charset=utf8
–since “$last_analysis_time”
–filter="$event->{Bytes} = length($event->{arg}) and $event->{hostname}="$host" and $event->{client}=$event->{User} and $event->{user}=$event->{User} and $event->{db}=$event->{DB}" $slowquery_file

@yilongrong From AskTUG, I think the original reque

[2020-07-27 06:01] zz-jason commented on #17523
I'll help to analyze this feature request.

[2020-07-27 06:47] cfzjywxk opened #18798 "txn: pessimistic lock unique index key for delete operation"
## Development Task

Currently, the unique index for delete operation will not be pessimistically locked, thus sometimes the conflict will report at the commit phase. For example:

[code]
Two transactions in session1 and session2 are not serialized and commit in transaction 1 commit cause transaction 2 commit failure.

Solution:

Pessimistically lock the unique index for delete operation.

[2020-07-27 06:57] jacktd9 opened #18799 "add statistics of locked tables"
单表频繁被更新，统计信息收集不及时或采集有偏差会导致执行计划变差，如果提供锁定单表统计信息的功能，预期会比较好。

[2020-07-27 07:16] kennytm commented on #1895
I don't see how Lightning or `ADMIN CHECKSUM TABLE` interferes with this feature.

`ADMIN CHECKSUM TABLE` is calculated based on the encoded KV pairs, and includes contributions from the indices. `CHECKSUM TABLE` is based on the SQL values and does not count indices. Therefore, Lightning will not switch to use `CHECKSUM TABLE` even if it is available.

[2020-07-27 07:37] glorv commented on #18792
/label component/expression

[2020-07-27 08:20] zz-jason commented on #8393
Confirmed that user variables are not reverted back in TiDB:

create a table:

[code]

begin a transaction, modify a variable and insert a record, but revert it:

[code]

check the variable and the table, you can see the user variable has been changed:

[code]

Only TiDB has this problem, MySQL works correctly:

[code]

My TiDB version:

[code]

My MySQL version:

[code]

[2020-07-27 08:33] zz-jason commented on #8393
It also affects session/global variables.

An example of a session variable:

[code]

An example of a global variable:

[code]

[2020-07-27 08:35] zz-jason commented on #8393
@cfzjywxk @zhangjinpeng1987 PTAL. It more like a bug.

[2020-07-27 08:54] zz-jason commented on #18799
Do you mean to use the out-dated statistics instead of `pseudo`? In TiDB, you can enlarge the `pseudo-estimate-ratio` config and disable query feedback by setting the `feedback-probability` config to `0.0`. Would that be a workaround for the application?

Are there other databases that provide a similar feature? It would be great that you can provide some references to help us improve the statisti

[2020-07-27 08:57] bb7133 opened #18803 "charset: upgrade existing CI tests for enabled new collation"
## Development Task

The new collation framework('CI collations') is supported in TiDB v4.0, however, due to the cluster configuration `new_collations_enabled_on_first_bootstrap`, the unit tests/integration tests in current CI are designed to run after an explicit `TestNewCollationEnabled()`, for example:

https://github.com/pingcap/tidb/blob/b249dc5780407b256d1383e92f56bd843d2682ed/expression/int

[2020-07-27 09:10] zz-jason commented on #18771
MySQL supports [`--general_log_file`](https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_general_log_file) config to specify the log file of the general log:

[2020-07-27 09:13] zz-jason commented on #18771
It also supports [`general_log_file`](https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_general_log_file) to alter the log file dynamically.

[2020-07-27 09:36] TaoZhengCN opened #18805 "Add a documentation page relate to push-down function (tikv & tiflash)"
need a push-down function documentation page

[2020-07-27 09:46] jacktd9 commented on #18799
是一个建议，在确认当前的统计信息是合适的，通过锁定统计信息禁止采样，稳定执行计划。
oracle：
EXECUTE DBMS_STATS.LOCK_TABLE_STATS ('owner name', 'table name');

[2020-07-27 09:48] zz-jason commented on #18356
It's a sub-task of https://github.com/pingcap/tidb/issues/18098. I'm going to move it out of the feature request.

[2020-07-27 09:49] lichunzhu commented on #17060
It seems not easy for users think that there is a problem with `sql_mode` from the error message `ERROR 1067 (42000): Invalid default value for 'a'`.

[2020-07-27 09:54] SunRunAway commented on #13808
It's a huge work. Hot reload needs an extra supervisor process to keep the state of current connections of the old process and transfer them to the new process.
The feature request only benefits the scenario of a single client to all instances in one server.

[2020-07-27 09:56] #18031 closed

[2020-07-27 10:54] breeswish opened #18808 "Provide settings to prefer index scan over table scan"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There is a notable number of stability problems caused by a SQL statement becomes slow suddenly due to a wrong execution plan that uses table scan instead of index scan. The reason is that in some cases table scan can be faster than index scan, due to no table lookup. CBO may choose wrong plan due to outdated o

[2020-07-27 12:05] SunRunAway commented on #18056
Added documentation for alerting users it has no explain result for DML now, https://github.com/pingcap/docs-cn/pull/4059
Please update this after this issue is resolved.

[2020-07-27 12:25] zanmato1984 opened #18810 "Explicitly report error for TiFlash replica count > TiFlash node count"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When users specify TiFlash replica in `ALTER TABLE SET TIFLASH REPLICA` statement, if the specified TiFlash replica count is bigger than the actual TiFlash node count, the statement can successfully run whereas the outstanding replica will fail to sync forever. As a consequence, users may get confused about TiD

[2020-07-27 12:26] breeswish commented on #18805
How about this one?

https://docs.pingcap.com/zh/tidb/stable/expressions-pushed-down#%E4%B8%8B%E6%8E%A8%E5%88%B0-tikv-%E7%9A%84%E8%A1%A8%E8%BE%BE%E5%BC%8F%E5%88%97%E8%A1%A8

[2020-07-27 12:29] nullnotnil commented on #17523
This should be possible, due to https://github.com/pingcap/tidb/pull/18512 being backported.

[2020-07-27 12:39] winoros commented on #18808
@zz-jason If we implemented this variable, should it be picked up to `4.*`?

[2020-07-27 12:41] winoros commented on #18808
Also for implementation notes, this can be implemented in `skyline pruning` phase. The design doc is [this](https://github.com/pingcap/tidb/blob/master/docs/design/2019-01-25-skyline-pruning.md). And you the entry point `skylinePruning` method of struct `DataSource`.

[2020-07-27 12:51] winoros commented on #18808
If we limit the affected session/server only executes the queries which are expected to return in seconds, we may treat this option as an always good option.

[2020-07-27 13:10] winoros commented on #18808
Implement it as a variable is the most clean way that user don't need to change any part of their production env(like SQL text or their codes) just modify the variable is enough.

If we implement it as a hint, maybe directly a hint `/*+ TP_QUERY_TYPE() */` is ok, and we do some other heuristic optimization for TP type queries or just limit planner's behavior, not consider the optimization for anal

[2020-07-27 13:13] zz-jason commented on #18808
duplicated with https://github.com/pingcap/tidb/issues/15623

[2020-07-27 13:17] breeswish opened #18811 "Improve SPM for TiDB Dashboard Usage"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We would like to provide some basic SPM features in TiDB Dashboard to make SPM more easier to use. For example, user can simply click "Bind current plan" for a plan in [TiDB Dashboard statement view](https://docs.pingcap.com/zh/tidb/stable/dashboard-statement-details) to bind the plan for a statement.

To allow

[2020-07-27 13:36] nullnotnil commented on #18808
I think having a generic setting to disable table scans is error prone. What if it is a very small table (such as a list of category definitions)?

If it is an OLTP workload, my experience has been when users ask for such a setting, what they really want is a way of refusing really expensive queries. So for example if the estimated query cost is really high return an error and don't execute the st

[2020-07-27 13:43] breeswish commented on #18808
@nullnotnil This feature is not disabling table scan in all cases. It only disables table scan when there is an available index for current statement.

For users there might be no difference for: a normal SQL suddently begin refused to be executed  vs   it suddenly takes a long time to be executed. Business logic cannot continue anyway. Also the estimated query cost is never correct (as it is esti

[2020-07-27 13:51] zz-jason commented on #18805
@SunRunAway PTAL

[2020-07-27 13:52] zz-jason commented on #18805
@zanmato1984 We also need a doc for the functions can be push to TiFlash Coprocessor.

[2020-07-27 14:02] bb7133 opened #18812 "ddl: support dropping a column with single-value indices"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Support dropping a column with single-value indices. For now, the `ALTER TABLE ... DROP COLUMN` statement returns an error when dropping a column that is covered with index:

[code]

**Describe the feature you'd like:**
See #3364 for the full feature requests.

**Describe alternatives you've considered:**
Manual

[2020-07-27 14:08] zz-jason commented on #18799
There are 3 procedures in Oracle to lock/unlock stats:

- [LOCK_PARTITION_STATS](https://docs.oracle.com/database/121/ARPLS/d_stats.htm#BABFJDFA) and [UNLOCK_PARTITION_STATS]()
- [LOCK_TABLE_STATS](https://docs.oracle.com/database/121/ARPLS/d_stats.htm#i1043993) and [UNLOCK_TABLE_STATS](https://docs.oracle.com/database/121/ARPLS/d_stats.htm#i1040393)
- [LOCK_SCHEMA_STATS](https://docs.oracle.com/d

[2020-07-28 00:53] zz-jason commented on #18808
Sure. We can even backport it to release 3.0.

[2020-07-28 02:30] yilongrong commented on #17506
variable_name could include under parameters.

每秒tps qps

tidb层面：每秒 insert update delete select 语句数量
Com_insert Com_update Com_delete Com_select
tikv层面：每秒 insert update delete select 语句数量
Innodb_rows_inserted Innodb_rows_updated Innodb_rows_deleted Innodb_rows_read

活跃线程数
Threads_created
Threads_running
Threads_cached

锁相关
tidb锁： 锁时间、锁等待时间、

[2020-07-28 03:56] #17623 closed

[2020-07-28 04:18] lance6716 commented on #18812
https://github.com/pingcap/dm/pull/801

DM has patch this some days ago, FYR

[2020-07-28 05:01] zz-jason commented on #18808
I prefer using an instance-level config to control this behavior:
- Making the optimizer to choose whether to use index range scan or table full scan by default
- If the user found that the index range scan is a better choice for their applications, they can config that value
- Making this config able to be changed online to avoid restart the tidb-server

[2020-07-28 07:26] gejibin opened #18820 "TiDB supports read-only function"
Want TiDB to support  read-only function.

In public cloud environment, when disk usage rate reaches 75% or more, TiDB needs to be set to read-only mode.

[2020-07-28 07:32] gejibin commented on #18378
@zz-jason you can try to use the aurora or polarDB in  Amazon Cloud or Alibaba Cloud.

[2020-07-28 07:39] CaiusBallad commented on #13462
同问最后关闭问题的原因

[2020-07-28 08:16] AilinKid opened #18824 "server: the `0` time returned in prepare stmt can't be parsed correctly by go driver"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

the details referring: https://asktug.com/t/topic/36154/12

MRS:
1: set probably sql mode
2: create table t(a date/datetime/timstamp **default 0**, b int)
3: insert into t(b) values(1),(2);

use go driver: github.com/go-sql-driver/mysql v1.5.0 to query with the following sc

[2020-07-28 08:20] zimulala commented on #18714
We can check `d.ctx.Done()` to make `doDDLJob` returns in time when the store is closed.

[2020-07-28 11:51] cfzjywxk commented on #18778
+1
[code]

[2020-07-28 11:52] cfzjywxk commented on #18747
Solved in https://github.com/pingcap/tidb/pull/18751

[2020-07-28 11:53] #18747 closed

[2020-07-28 12:12] ChenPeng2013 opened #18830 "hash join return wrong result when bit compared with int"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
`
### 4. Affected version (Required)

[code]
### 5. Root Cause Analysis

[2020-07-28 12:50] IANTHEREAL commented on #18089
We have implemented sql based backup & recovery in https://github.com/pingcap/tidb/pull/16960 in 4.0

sql based import/export will be implemented as a sub-task of https://github.com/pingcap/tidb/issues/18629

sql based TiCDC will be implemented as sub-task of https://github.com/pingcap/ticdc/issues/736

[2020-07-28 12:50] #18089 closed

[2020-07-28 13:01] sre-bot opened #18832 "<autogenerated>:testTableSuite.TearDownSuite failed"
<autogenerated>:testTableSuite.TearDownSuite

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/44184/display/redirect

[2020-07-28 13:01] sre-bot opened #18833 "prepared_test.go:testSuite9.TestPlanCacheClusterIndex failed"
prepared_test.go:testSuite9.TestPlanCacheClusterIndex

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/44187/display/redirect

[2020-07-28 15:07] shenli commented on #18820
@gejibin is this something that you are asking for? https://github.com/pingcap/tidb/issues/18426
We are working on the `read_only` feature.

[2020-07-28 15:20] bb7133 opened #18836 "*: enhance the tests for in-txn queries in TiDB"
## Development Task
There are some existing frameworks/tools designed for the correctness test against SQL-based databases, and some of them have been used in TiDB, like:

* [SQLSmith](https://github.com/pingcap/tipocket/tree/master/pkg/go-sqlsmith)
* [go-randgen](https://github.com/pingcap/go-randgen)

However, those tools are focused on the generating of query statements.

In TiDB, sometimes thi

[2020-07-28 21:31] kolbe opened #18838 "Emit better message for deprecated config options."
## Feature Request

**Is your feature request related to a problem? Please describe:**
Today, a deprecated configuration option causes a message like this to be written to the error log:

`config file /etc/tidb/tidb.toml contained unknown configuration options: experimental.allow-auto-random`

**Describe the feature you'd like:**
The message for a deprecated option should be different than the mes

[2020-07-28 22:40] kolbe opened #18839 "IN(NULL) causes "cannot convert <nil>(type <nil>) to string""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
This query should return no results, but it should complete without any error.

### 3. What did you see instead (Required)

[code]

### 4. Affected version (Required)

All 4.0 releases are affected.

TiDB v3.0.16 is not

[2020-07-29 02:03] glorv commented on #18839
/label component/expression

[2020-07-29 02:09] glorv commented on #18836
/assign bb7133

[2020-07-29 02:14] glorv commented on #18833
/label component/executor

[2020-07-29 02:19] glorv commented on #18832
/label component/infoschema

[2020-07-29 02:38] blacktear23 commented on #18812
@bb7133 there has 6 item, we should edit rollingback.go: `rollingbackDropColumn` function to process rollback

[2020-07-29 03:24] qw4990 opened #18843 "BatchPointGet returns wrong results with condition `in (null)` in some cases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Return an empty set.

### 3. What did you see instead (Required)
[code]

### 4. Affected version (Required)

Master branch:
[code]

### 5. Root Cause Analysis

`Datum.ToString()` returns "" if its type is `KindNull`, whi

[2020-07-29 03:24] qw4990 commented on #18843
This problem seems introduced by this PR(https://github.com/pingcap/tidb/pull/17894), PTAL @tiancaiamao

[2020-07-29 03:48] crazycs520 opened #18845 "stuck when query information_schema.columns"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

from https://asktug.com/t/topic/36253

[code]

then connection tidb use user `u2`;
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. Affected version (Required)

* master, v4.0.3

[code]

### 5. Root Cause Analysis

[2020-07-29 03:58] zhouqiang-cl commented on #18843
@Hexilee PTAL

[2020-07-29 04:29] #18845 closed

[2020-07-29 04:41] bb7133 opened #18850 "executor: unexpected result for hash join on `enum` and `set` columns"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Step 2 and 3 followed below behaves exact the same if `enum` is replaced with `set` for the step above.

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
[code]

### 4. Affected version (Required)

v4.0.x

### 5. Root

[2020-07-29 05:51] #18354 closed

[2020-07-29 05:51] #18355 closed

[2020-07-29 05:51] #18353 closed

[2020-07-29 06:09] lance6716 commented on #18714
seems retry and waiting store/worker to recover is an expected behaviour, how about adding a retry limit or something? @zimulala

[2020-07-29 06:12] #18850 closed

[2020-07-29 06:29] liubo0127 opened #18860 "Since CI tests take a long time, it is necessary to optimize CI to shorten the test time"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. What did you expect to see? (Required)
CI tests should be completed within three minutes

### 2. What did you see instead (Required)
- https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_integration_common_test/

- https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/

- https://internal.pingc

[2020-07-29 07:44] iamxy commented on #18025
From cost considerations, it is recommended that we focus on supporting Amazon EBS gp2 volumes
See: https://aws.amazon.com/ebs/volume-types/

and Standard provisioned Persistent Disk for Google Cloud
See: https://cloud.google.com/compute/docs/disks

[2020-07-29 08:25] zz-jason commented on #1248
One use case in the batch process:

create a temporary table in the current session:

[code]

concurrently execute the following transaction:

[code]

[2020-07-29 08:48] nwind opened #18864 "Halt on select INFORMATION_SCHEMA table for normal user"
## Bug Report

### 1. Minimal reproduce step (Required)

1. create a new user，like `CREATE USER 'newuser'@'%' IDENTIFIED BY 'password';`
2. login use that user
3. `select * from INFORMATION_SCHEMA.COLUMNS limit 1`

### 2. What did you expect to see? (Required)

get table result

### 3. What did you see instead (Required)

nothing return, halt.

### 4. Affected version (Required)

v4.0.3

But works

[2020-07-29 09:08] #18496 closed

[2020-07-29 09:35] #8349 closed

[2020-07-29 09:51] wjhuang2016 commented on #18864
@nwind Thanks for your report.
Fixe PR: https://github.com/pingcap/tidb/pull/18854, will be work in v4.0.4.

[2020-07-29 12:07] zz-jason commented on #18117
@qw4990 It's better to find a workaround in release 4.0/3.0, make it able to dump historical statistics.

[2020-07-29 12:09] zhangjinpeng1987 commented on #18117
Currently no.

[2020-07-29 12:12] breeswish opened #18867 "Easier discover performance issues and diagnose causes (Stage 1)"
Simplify the process of discovering performance issues, as well as diagnosing their root causes.

As the first stage, we focus on these specific root causes:

1. hot spot
2. disk jitter
3. GC or tombstone data
4. unnecesaary large data scan (there was a better plan)
5. transaction conflict
6. small resource capacity (thread pool full)

We will do the following task items (the list is growing and t

[2020-07-29 12:15] zz-jason commented on #18838
@wangggong PTAL

[2020-07-29 12:19] zz-jason commented on #17523
@qw4990 PTAL

[2020-07-29 12:24] gregwebs commented on #18836
This is related to #18814

[2020-07-29 12:24] zz-jason commented on #17060
It's hard to decide whether to improve this: if we modify the error message, it breaks the compatibility with MySQL.

@lichunzhu How about this. Since we are adding workarounds for the errors exposed to users in this project: https://github.com/pingcap/tidb/projects/55, maybe we can do it here.

[2020-07-29 12:41] lichunzhu commented on #17060
As long as users can get info to check `sql_mode`, it looks fine to me.

[2020-07-29 14:43] nullnotnil commented on #17754
This is a bug in the mysql client, which is incorrectly parsing statements. Here is an example with the output from MySQL 8.0.21:
[code]

I think the severity is lower, because application will not be affected. It is only uses of the mysql command line client.

I am going to close this issue, but please feel free to file it on bugs.mysql.com.

[2020-07-29 14:43] #17754 closed

[2020-07-29 15:36] SunRunAway commented on #17104
Duplicate of #18850

[2020-07-29 15:36] #17104 closed

[2020-07-29 15:47] nullnotnil commented on #10816
This appears to be fixed in master:
[code]

I am going to go ahead and close this issue now. Please feel free to reopen if this is in error. Thanks!

[2020-07-29 15:47] #10816 closed

[2020-07-29 15:50] nullnotnil commented on #17948
This appears to be fixed in master. The error message is much clearer:
[code]

I am going to go ahead and close this issue. Please feel free to re-open if in error. Thanks!

[2020-07-29 15:50] #17948 closed

[2020-07-29 15:51] #17795 closed

[2020-07-29 15:53] nullnotnil commented on #17787
This was reorganized and is now on https://docs.pingcap.com/tidb/stable/deploy-and-maintain-faq#how-to-back-up-data-in-tidb - it will be fixed in https://github.com/pingcap/docs/pull/3425

[2020-07-29 18:57] nullnotnil commented on #15834
Confirming this still exists in master:
[code]

@imtbkcat it is assigned to you, but if you are not working on it do you mind if I handle?

[2020-07-29 19:13] nullnotnil commented on #17747
Thank you. I am going to close this issue for now.

[2020-07-29 19:13] #17747 closed

[2020-07-29 19:13] nullnotnil commented on #17742
This issue has been fixed.

[2020-07-29 19:13] #17742 closed

[2020-07-29 19:14] nullnotnil commented on #17744
The fix for this issue has been merged.

[2020-07-29 19:14] #17744 closed

[2020-07-29 20:33] nullnotnil commented on #18820
There is also a feature request to limit write requests when TiKV is near full: https://github.com/pingcap/tidb/issues/18007

Please let me know if your feature request is not covered by these two features (read only, and limit write requests near full). Thanks!

[2020-07-29 20:56] joe-getcouragenow commented on #15520
Is running in the browser using tinygo still a target ?

[2020-07-29 21:23] kolbe opened #18870 "enum&set column types should include string length in resultset"
## Bug Report

TiDB does not set the "length" field in the reply packet to the client for enum and set column types. This can cause problems for clients that rely on that metadata. One such client is Hibernate, which is unable to consume enum (and presumably set) data from TiDB.

This issue was introduced via https://github.com/pingcap/tidb/pull/7417 to address https://github.com/pingcap/tidb/issu

[2020-07-29 23:07] nullnotnil commented on #3647
This has been fixed:
[code]

I am going to close this issue.

[2020-07-29 23:07] #3647 closed

[2020-07-29 23:12] nullnotnil commented on #3650
Confirming this issue is still present in master:
[code]

[2020-07-29 23:12] kolbe commented on #18870
[tidb-test-enums-hibernate.zip](https://github.com/pingcap/tidb/files/4997936/tidb-test-enums-hibernate.zip)

This is a simple test case that requires a TiDB server running on port 4000 and a root user with no password.

[code]

[code]

[2020-07-29 23:12] nullnotnil commented on #3912
Against master:
[code]

[2020-07-29 23:14] nullnotnil commented on #4063
Still present in master:
[code]

[2020-07-29 23:17] nullnotnil commented on #4121
This has been fixed in master - the limits are now the same as in InnoDB:
[code]

I am going to close this issue now. Thanks!

[2020-07-29 23:18] nullnotnil commented on #3563
This issue is still present in master:
[code]

[2020-07-29 23:19] nullnotnil commented on #3928
Still present in master:
[code]

[2020-07-29 23:20] nullnotnil commented on #3930
Against master:
[code]

[2020-07-29 23:23] nullnotnil commented on #4251
I am going to close this for now. It is correct for this issue, but there is a broader issue that sysvars require a types system. There is an existing issue for this in https://github.com/pingcap/tidb/issues/15131#issuecomment-663300149

[2020-07-29 23:23] #4251 closed

[2020-07-29 23:25] nullnotnil commented on #2516
This is available as `SHOW TABLE REGIONS`. In docs: https://docs.pingcap.com/tidb/stable/sql-statement-show-table-regions

I am going to close this issue now. Thanks!

[2020-07-29 23:25] #2516 closed

[2020-07-30 00:08] nullnotnil commented on #4003
Confirming against master:
[code]

[2020-07-30 00:09] nullnotnil commented on #8303
@gregwebs I believe this can be closed now (in master). Can you confirm?

[2020-07-30 00:11] nullnotnil commented on #6769
I am going to close this issue as stale. Please feel free to re-open an issue if you have any further questions. Thanks!

[2020-07-30 00:11] #6769 closed

[2020-07-30 00:12] nullnotnil commented on #7974
I am going to close this issue now, as views are now available. Known issues are being tracked in https://github.com/pingcap/tidb/issues/9798

Thanks!

[2020-07-30 00:12] #7974 closed

[2020-07-30 00:15] nullnotnil commented on #8311
This currently returns `NULL` in TiDB. It will be `NULL` in MySQL too by default, since the TZ tables need to be loaded separately - but since TiDB doesn't have this separate step, it can be considered an incorrect result:

[code]

[2020-07-30 00:21] nullnotnil commented on #8280
Here is a better test case which shows that the behavior does not need the SQL mode changed from the default, etc. There are two strings of equal length. MySQL provides only a warning for the one with trailing space:

[code]

TiDB provides an error in both cases:

[code]

It's a weird behavior, but I can actually see some apps depending on it. So I am going to leave this open in case somebody woul

[2020-07-30 00:23] nullnotnil commented on #8254
I am going to close this issue as stale, but please feel free to open a new issue if you are still experiencing problems. Thanks!

[2020-07-30 00:23] #8254 closed

[2020-07-30 00:25] nullnotnil commented on #8237
Confirming this can still be reproduced:
[code]

[2020-07-30 00:27] nullnotnil commented on #5515
I am going to close this issue as stale, but please feel free to reopen if you have additional questions. Thanks!

[2020-07-30 00:27] #5515 closed

[2020-07-30 00:27] nullnotnil commented on #4875
I am going to close this issue as stale, but please feel free to re-open if you have additional questions. Thanks!

[2020-07-30 00:27] #4875 closed

[2020-07-30 00:28] nullnotnil commented on #6448
I am going to close this issue as stale. Please feel free to open a new issue if you continue to experience issues. Thanks!

[2020-07-30 00:28] #6448 closed

[2020-07-30 01:12] zhangjinpeng1987 commented on #18025
@iamxy I think you are talking about this issue https://github.com/pingcap/tidb/issues/18024

[2020-07-30 01:46] breeswish commented on #8311
@nullnotnil Yes, TiDB embeds time zone information by default (as other time zone related functions will work), a proper behaviour should be returning something instead of NULL.

[2020-07-30 01:53] zhangjinpeng1987 commented on #18024
From cost considerations, it is recommended that we focus on supporting Amazon EBS gp2 volumes
See: https://aws.amazon.com/ebs/volume-types/

and Standard provisioned Persistent Disk for Google Cloud
See: https://cloud.google.com/compute/docs/disks

[2020-07-30 02:42] #18839 closed

[2020-07-30 03:11] #17800 closed

[2020-07-30 03:12] qw4990 commented on #13758
@rebelice and I will fix this soon.

[2020-07-30 03:18] qw4990 commented on #14998
@rebelice Would you like to try this task?

[2020-07-30 03:19] qw4990 commented on #14607
@rebelice PTAL.

[2020-07-30 03:21] qw4990 commented on #18528
Close since it is resolved.

[2020-07-30 03:21] #18528 closed

[2020-07-30 03:25] rebelice commented on #14998
OK, I want to try to solve it

[2020-07-30 03:27] #18255 closed

[2020-07-30 03:27] qw4990 commented on #14998
Nice. This issue is duplicated with #14607, so you can see #14607 to get more details.

[2020-07-30 03:29] zz-jason commented on #14998
for the usage statistics of index, it's duplicated with https://github.com/pingcap/tidb/issues/17508

[2020-07-30 03:29] zz-jason commented on #14607
duplicated with https://github.com/pingcap/tidb/issues/17508

[2020-07-30 03:33] glorv commented on #18867
/assign breeswish

[2020-07-30 03:34] glorv commented on #18867
/assign @breeswish

[2020-07-30 03:37] qw4990 commented on #18808
Is an instance-level config enough?
If the user found that the index range scan is a better choice for their applications, they have to config this for all instances in their cluster, so should it be at cluster-level?
Besides, if we want to change it online, it's better to implement it as a SQL variable.
Considering these two points, is it better to implement it as a global SQL variable?

[2020-07-30 03:43] iamxy commented on #18025
Yes, thank you for linking.

[2020-07-30 04:14] nullnotnil commented on #7904
Verifying this has been fixed against master:
[code]

I am going to close this issue now. Thanks!

[2020-07-30 04:14] #7904 closed

[2020-07-30 04:17] breeswish commented on #18808
We are grown-up and can we have all? (session + instance + global)

[2020-07-30 04:46] mahjonp opened #18873 "Backward compatibility problem when rolling update from old nightly tidb-server"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Everything is ok.

### 3. What did you see instead (Required)

[code]

### 4. Affected version (Required)

### 5. Root Cause Analysis

4170007fb60f3ad1ebb11027bbb6ac97c408929d

[2020-07-30 04:54] #18034 closed

[2020-07-30 05:01] lysu commented on #18034
fixed by @crazycs520 's https://github.com/pingcap/tidb/pull/18578

[2020-07-30 06:07] glorv commented on #18873
/label component/infoschema

[2020-07-30 06:13] lucklove commented on #15520
@joe-getcouragenow No. At this time we face another problem: the master branch can't compile with standard golang even. TiDB has too many symbols,  however, the wasm32's limit is less than 65535.

[2020-07-30 06:19] lucklove commented on #15520
@frank-dspeed I'm not familiar with NodeJS，can you help on this? Maybe we can compile tidb v3.x to NodeJS.

[2020-07-30 06:31] frank-dspeed commented on #15520
@lucklove at present we are facing a v8 internal issue there are some open issues in chromium with your current web build as it was able to Freeze the engine thats why i did not reported that back it is also considered a Security issue there are tons of engineers working on that.

tidb works great with wasmer at present. Wasmer is a universal runtime that is also use able embedded in nodejs and th

[2020-07-30 06:36] zimulala commented on #18714
I think we needn't add a retry limit. We get msg from `d.ctx.Done()`, which means that `Domain` is close.

[2020-07-30 06:47] tiancaiamao commented on #15746
This bug is caused by memory overwrite.
The latch module construct a complex hash-alike struct, and the node stores

[code]

The API provide by the latch module is:

[code]

In `Lock(startTS, keys)`, the `keys` is a shadow copy, and it is later used as the node key in the latch internal struct.

If the caller modify the underlying memory of keys later, the hash-alike node would be  modified unexpe

[2020-07-30 06:48] lance6716 commented on #18714
some tests such as `testRunInterruptedJob` will expected ignore `d.ctx.Done()` and keep retrying.

[2020-07-30 07:11] SunRunAway commented on #12233
I've investigated this difference. It is because of the different behaviors of TiKV Coprocessor and mocktikv Coprocessor.

W/ TiKV,
[code]

W/ mocktikv,
[code]

We should fix them both.

[2020-07-30 08:12] glkappe opened #18878 "tidb v4.0.3 select user information will change after show grants is executed"
**First question:**
Below, the result of executing `select user();` multiple times has not changed, but after executing `show grants`, the result has changed

[tidb@node4107 dm-ansible-nightly]$ mysql -uroot -p -P8089 -h172.16.5.169
Enter password:
Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 3
Server version: 5.7.25-TiDB-v4.0.3 TiDB Server (Apache License

[2020-07-30 09:17] #18843 closed

[2020-07-30 10:00] SunRunAway opened #18884 "Unexpectedly, Distinct cannot be pushed across Projection when read partition table"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. Affected version (Required)

### 5. Root Cause Analysis

## SIG slack channel

 [#sig-planner](https://slack.tidb.io/invite?team=tidb-com

[2020-07-30 11:00] glorv commented on #18878
/label component/executor

[2020-07-30 11:18] bb7133 commented on #18520
Should be closed by https://github.com/pingcap/tidb/pull/18842

[2020-07-30 11:33] ChenPeng2013 commented on #18830
duplicated with https://github.com/pingcap/tidb/issues/11896

[2020-07-30 11:33] #18830 closed

[2020-07-30 11:56] #18873 closed

[2020-07-30 12:15] zjj2wry opened #18887 "Add version information in metrics"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When managing multiple TiDB clusters, it is important to view version information.  i suggest add version information in metrics, it would be helpful for debug.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-30 12:24] cfzjywxk commented on #16069
@lysu  PTAL

[2020-07-30 12:28] cfzjywxk commented on #18298
@wshwsh12 PTAL it has failed many times

[2020-07-30 13:25] Hexilee opened #18889 "Why are scan queries so slow in a transaction."
## Performance Questions

- What version of TiDB are you using?

[code]
- What's the observed and your expected performance respectively?

1. Load the [imdb dataset](http://fileserver2.pingcap.net/download/benchbot/imdb.sst.tar.gz).
2. Begin a transaction in the default isolation level.
3. Delete some data:

[code]

4. Then, all scan queries become very slow, for example:

[code]

[code]

5. Execu

[2020-07-30 18:27] nullnotnil commented on #7985
Confirming that this issue exists in master (wrong error code and message for truncated string):
[code]

vs MySQL 5.7:
[code]

[2020-07-30 18:33] nullnotnil commented on #2250
These statistics are now available in prometheus. I am going to close this issue now. Thanks!

[2020-07-30 18:33] #2250 closed

[2020-07-30 18:35] nullnotnil commented on #3839
Confirming this is still not supported in master:
[code]

[2020-07-30 18:37] nullnotnil commented on #3890
I am going to close this issue as won't fix. We can revisit if it becomes known to cause any user issues.

[2020-07-30 18:37] #3890 closed

[2020-07-30 18:38] nullnotnil commented on #4008
Confirming this still exists in master:
[code]

[2020-07-30 18:39] nullnotnil commented on #5072
I am going to close this as stale. Thanks!

[2020-07-30 18:39] #5072 closed

[2020-07-30 18:40] nullnotnil commented on #5729
I believe this has been added (it can be seen in the output of `tidb_version()`).

I am going to close this issue now, but please feel free to re-open if in error. Thanks!

[2020-07-30 18:40] #5729 closed

[2020-07-30 18:41] nullnotnil commented on #5201
I am going to close this as complete. Thanks!

[2020-07-30 18:41] #5201 closed

[2020-07-30 18:50] nullnotnil commented on #2084
I downloaded and took a look at this. hammerdb uses mysql's stored procedures, which makes it very difficult to port to TiDB.

I am going to close this for now as won't fix, since stored procedures are not on the current plan.

[2020-07-30 18:50] #2084 closed

[2020-07-30 19:05] nullnotnil commented on #18047
I am going to close this as a duplicate of https://github.com/pingcap/tidb/issues/6347 , which is a more broad request for SPATIAL functions and indexes. Thanks!

[2020-07-30 19:05] #18047 closed

[2020-07-30 19:06] nullnotnil commented on #4455
I am going to close this as stale. Thanks!

[2020-07-30 19:06] #4455 closed

[2020-07-30 19:09] nullnotnil commented on #7481
Confirming this still exists in master:
[code]

[2020-07-30 19:15] nullnotnil commented on #4586
Confirming that the issue is still present in master:
[code]

[2020-07-30 19:17] nullnotnil commented on #4197
This has been fixed in master:
[code]

I am going to close this issue now. Thanks!

[2020-07-30 19:17] #4197 closed

[2020-07-30 19:18] nullnotnil commented on #3929
This has been fixed:
[code]

I am going to close this issue now. Thanks!

[2020-07-30 19:18] #3929 closed

[2020-07-30 19:19] nullnotnil commented on #3958
This has been fixed:
[code]

[2020-07-30 19:19] #3958 closed

[2020-07-30 19:20] nullnotnil commented on #4744
This has been fixed in master:
[code]

[2020-07-30 19:20] #4744 closed

[2020-07-30 19:41] nullnotnil commented on #8964
Confirming this still exists in master. There are actually two issues - the assertion says that the algorithm inplace is not supported, but I think since INSTANT is "better" it should be permitted. Basically this just needs to refuse if COPY is required. The second is that this is not supported as a multi-schema change:

[code]

[2020-07-30 20:13] nullnotnil commented on #9039
Confirming that this is fixed in master:
[code]

[2020-07-30 20:13] #9039 closed

[2020-07-30 20:17] nullnotnil commented on #9031
This is now fixed in master. The warning messages differ between MySQL and TiDB:
[code]

Vs MySQL:
[code]

[2020-07-30 20:19] nullnotnil commented on #9031
**Note:** the errors actually match between TiDB and MySQL, but the warnings differ. Because the warnings only occur with a non-default sql-mode, I think this one is lower priority.

[2020-07-30 20:21] nullnotnil commented on #4673
Confirming this issue still exists in master:
[code]

[2020-07-30 20:41] nullnotnil commented on #3817
Benchmarks are now available in the TiDB documentation. For example https://docs.pingcap.com/tidb/stable/benchmark-sysbench-v4-vs-v3

Since this issue is now a little stale, I am going to propose closing it for now. Please feel free to re-open though if you have additional questions. Thanks!

[2020-07-30 20:41] #3817 closed

[2020-07-30 21:05] nullnotnil commented on #4328
This now works in TiDB when the server is bootstrapped with collations enabled, and the table is created with an insensitive collation (tidb defaults to binary collation). Here is a pastable testcase:
[code]

I am going to close this issue now. Thanks!

[2020-07-30 21:05] #4328 closed

[2020-07-30 21:07] nullnotnil commented on #4614
I am going to close this issue as stale, but please feel free to re-open it if this problem is still occurring. Thanks!

[2020-07-30 21:07] #4614 closed

[2020-07-30 21:17] nullnotnil commented on #7247
I am going to close this issue as stale. Please feel free to re-open if there are additional issues. Thanks!

[2020-07-30 21:17] #7247 closed

[2020-07-30 21:19] nullnotnil commented on #4762
Confirming this is still an issue:
[code]

[2020-07-30 21:24] nullnotnil commented on #4060
I can reproduce this now, but only for `std(all a)`. Because #7623 is already tracking this, I am going to close this issue as a duplicate. Thanks!

Here is a testcase against master:
[code]

[2020-07-30 21:24] #4060 closed

[2020-07-30 22:16] kolbe opened #18894 "Support init_connect"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We should support the `init_connect` option the same way it's supported in MySQL: https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_init_connect

This would make it easier to cause clients to automatically set particular variables at connect time to work around TiDB-specific behavior o

[2020-07-30 22:17] nullnotnil commented on #18894
I think I can take a look.

[2020-07-30 23:30] nullnotnil commented on #17530
Here is another test case:
[code]

[2020-07-30 23:31] nullnotnil commented on #8965
Here is a minimal test case against master:
[code]

I am going to close this issue and merge it with https://github.com/pingcap/tidb/issues/17530

[2020-07-30 23:31] #8965 closed

[2020-07-30 23:33] nullnotnil commented on #9171
I am going to close this issue as stale. Please feel free to reopen if you have additional questions. Thanks!

[2020-07-30 23:33] #9171 closed

[2020-07-30 23:36] nullnotnil commented on #7518
Confirming this issue is still present:
[code]

[2020-07-30 23:38] nullnotnil commented on #10119
Confirming that this can still be reproduced:
[code]

[2020-07-30 23:43] nullnotnil commented on #11371
It might also be possible to add something like performance_schema.data_locks (which replaces innodb_trx in MySQL 8.0).

[2020-07-30 23:45] nullnotnil commented on #8953
This appears to be valid in MySQL 8.0, but not in below versions:
[code]

It does not yet work with TiDB:
[code]

[2020-07-30 23:55] nullnotnil commented on #9489
Pasteable testcase:
[code]

[2020-07-31 00:04] nullnotnil commented on #18731
MongoDB also has something called [capped collections](https://docs.mongodb.com/manual/core/capped-collections/).

I think an sql-like way to do this would be with partitioning + truncate partition. We could look at the syntax of `interval partitioning` (oracle feature) and add syntax to retain only the last `n` partitions.

[2020-07-31 00:13] kolbe opened #18895 "Support tidb_allow_auto_random_explicit_insert as a global variable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

It should be possible to set allow_auto_random_explicit_insert as a global variable. The rationale for disallowing this in https://github.com/pingcap/tidb/pull/17102#issuecomment-627177465 was that a global vari

[2020-07-31 02:40] nullnotnil commented on #15834
I took a look, it's harder than I thought :-)

[2020-07-31 02:48] zimulala commented on #18714
I think if only in test, we'd better change test instead of the code.

[2020-07-31 02:48] mahjonp opened #18898 "Index out of range on executor.(*IndexNestedLoopHashJoin).finishJoinWorkers"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

relation issue: https://github.com/pingcap/tidb/issues/18889

### 2. What did you see instead (Required)

[code]

### 3. Affected version (Required)

### 4. Root Cause Analysis

## SIG slack channel

 [#sig-exec](https://slack.tidb.io/invite?team=tidb-communi

[2020-07-31 02:54] glorv commented on #18895
/label component/executor

[2020-07-31 03:03] crazycs520 opened #18899 "Optimize the performance for getRuntimeInfo of big query"
## Development Task

example SQL:

[code]

when try to get the `getRuntimeInfo` of upper big query,  it is very slow, we should optimize it.

![image](https://user-images.githubusercontent.com/26020263/88995535-7f365180-d31d-11ea-8f0d-eea4e8ef2338.png)

[2020-07-31 03:49] rebelice commented on #14607
/assign

[2020-07-31 03:49] rebelice commented on #14998
/assign

[2020-07-31 04:30] nolouch commented on #18566
closed by https://github.com/pingcap/tidb/pull/18578

[2020-07-31 05:07] nullnotnil commented on #18808
There is a good use-case for all three:
- Session for debugging / proof of concept
- Instance for a canary deployment across a fleet of TiDB servers (try 5% first).
- Global if it is an effective change

Most variables should actually follow this pattern. Global (cluster-wide) is quite risky.

[2020-07-31 05:16] zz-jason commented on #18731
read from the old partition, update it, write it to the new partition, truncate the old partition periodically. @nullnotnil Am I correct?

[2020-07-31 05:19] wjhuang2016 opened #18903 "Can't find column when delete t.* from t join t1 using(xx)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. Affected version (Required)

master
### 5. Root Cause Analysis

[2020-07-31 05:23] zz-jason commented on #2645
Maybe https://github.com/pingcap/ticdc is what you need.

[2020-07-31 05:36] #17787 closed

[2020-07-31 06:04] glorv commented on #18903
/label component/ddl

[2020-07-31 06:05] glorv commented on #18903
/unlabel component/ddl

[2020-07-31 06:06] glorv commented on #18903
/label component/planner

[2020-07-31 06:54] zhangdan1 opened #18905 "tidb is too low"
My TiDB Cluster is running slow,and I make a diagnosis.The following is Diagnosis Result of TiDB Cluster Diagnostics Report,Is there any good suggestion to improve performance?
min data-block-cache-hit rate of X.X.X.X:20180 tikv is too low
max duration of X.X.X.X:20180 tikv rocksdb-seek-duration is too slow
max duration of X.X.X.X:20180 tikv rocksdb-write-duration is too slow
max duration of X.X.X

[2020-07-31 07:08] mahjonp opened #18906 "HTAP Optimizer effectiveness on IMDB dataset(Join-Order-Benchmark) Test Report"
Follow by previous issue https://github.com/pingcap/tidb/issues/18644, I give a report for TiDB with the TiFlash deployed.

## TiDB Server Configuration

[code]

172.16.4.92, 172.16.4.82 and 172.16.4.85 are40core, Intel(R) Xeon(R) CPU E5-2630, 2 NUMA nodes with NVME SSD.

Version info:

[code]

## Test Report

[code]

[2020-07-31 07:16] breeswish opened #18907 "Digest text changes SQL semantic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Execute SQL statement:

[code]

### 2. What did you expect to see? (Required)

Expect a statement digest text that does not have syntax errors, like

[code]

in `INFORMATION_SCHEMA.CLUSTER_STATEMENTS_SUMMARY_HISTORY` table.

### 3. What did you see instead (Required)

[code

[2020-07-31 07:17] zz-jason commented on #18811
To achieve this, we need a mapping between the digest and the sql.

[2020-07-31 07:22] breeswish opened #18908 "The bug report template is not suitable to report bugs"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Create a [bug issue](https://github.com/pingcap/tidb/issues/new?labels=type%2Fbug&template=bug-report.md)

### 2. What did you expect to see? (Required)

Ask users to fill some necessary fields

### 3. What did you see instead (Required)

Current bug report asks more than w

[2020-07-31 07:44] kennytm commented on #18907
while the extra spaces can be considered a bug, i don't think the digest text are supposed to be syntax-error-free (literals and lists are substituted by `?` and `...`).

[2020-07-31 07:57] SunRunAway commented on #18908
LGTM
cc @zz-jason

[2020-07-31 08:22] joe-getcouragenow commented on #15520
@frank-dspeed Can you link to this ? been meaning to look into using WASMER for Server side ...

[2020-07-31 08:23] #18895 closed

[2020-07-31 08:26] breeswish commented on #18907
@kennytm Yes, we only expect syntax-error free for this specific case.

[2020-07-31 08:42] #18778 closed

[2020-07-31 09:44] XuHuaiyu opened #18910 "tidb-server can not start when downgrading from master to v4.0.x"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
https://asktug.com/t/topic/36334

### 2. What did you expect to see? (Required)
The tidb-server can start successfully.

### 3. What did you see instead (Required)
tidb-server can not start

### 4. Affected version (Required)

### 5. Root Cause Analysis
 https://github.com/p

[2020-07-31 10:22] SunRunAway commented on #12114
Another example

[code]

It produces 5 lines log.
[code]

[2020-07-31 10:27] Jacktomyw opened #18912 "Preparing statement from user variables reports a null exception"
### 1. Minimal reproduce step (Required)

Just run the following code.
[code]

### 2. What did you expect to see? (Required)
The code is successfully executed.
### 3. What did you see instead (Required)
SQL错误（1064）：You have an error in your SQL syntax; check the manual that corresponds to your TiDB version for the right syntax to use line 1 column 4 near "NULL"
### 4. Affected version (Required)
v

[2020-07-31 10:31] Jacktomyw commented on #18912
The same code is successfully executed on MySQL 5.7.31, But your document says SET/PREPARE/EXECUTE statement is fully compatible with MySQL.

[2020-07-31 10:32] SunRunAway commented on #17043
[code]

It does have the SQL detail now, although the log is so huge(see https://github.com/pingcap/tidb/issues/12114).

[2020-07-31 10:32] #17043 closed

[2020-07-31 11:14] SunRunAway opened #18914 "Add memory information of executors if OOM action fires for debugging"
## Development Task

For example
[code]

If this oom happens, no log in tidb.log can show which executor consumes the most memory.

[2020-07-31 12:01] HimanshuChugh2 commented on #10390
i am saving json value which includes base64 text of 3mn characters, i am getting the below error while inserting in mysql.

`The document root must not be followed by other values." at position 2725979 in value for column 'create_content.data'.`

this is how  my table looks like

![image](https://user-images.githubusercontent.com/39953898/89033073-a27bf380-d353-11ea-97ab-b33c6d0ac0a0.png)

the ba

[2020-07-31 13:00] sre-bot opened #18918 "db_partition_test.go:testIntegrationSuite5.TestDropSchemaWithPartitionTable failed"
db_partition_test.go:testIntegrationSuite5.TestDropSchemaWithPartitionTable

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/44717/display/redirect

[2020-07-31 13:00] sre-bot opened #18919 "db_test.go:testDBSuite7.TestSelectInViewFromAnotherDB failed"
db_test.go:testDBSuite7.TestSelectInViewFromAnotherDB

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/44805/display/redirect

[2020-07-31 14:23] nullnotnil commented on #10390
@HimanshuChugh2 can you provide an example `INSERT` statement which fails? I would recommend creating a new issue, but I would be happy to take a look at it for you.

[2020-07-31 14:27] nullnotnil commented on #18907
There are a couple of other issues with the digester if anyone wants to take a look at these together:
https://github.com/pingcap/tidb/issues/14241
https://github.com/pingcap/tidb/issues/18224

[2020-07-31 14:36] nullnotnil commented on #18731
@zz-jason To be TTL based there would need to be a partition on `modified_date`. An update to an old partition would auto-move it to the newest partition. It would need some design work, but I like the idea of `ttl` based tables in principal. It solves a pain point of users that fail trying to do this themselves (with delete statements).

[2020-07-31 15:12] nullnotnil commented on #18794
For an alternative proposal, I like the way that this works in MySQL 8.0.It allows you to see where the configuration was set as well.

See: https://mysqlserverteam.com/mysql-8-0-persisting-configuration-variables/ (scroll to examples that show "variables_info").

[2020-07-31 15:13] zz-jason opened #18921 "fix the unexpected type infer results"
## Development Task

There are lots of TODOs in the `TestInferType` test (located in expression/typeinfer_test.go), to be more compatible with MySQL, it's better to fix them as more as possible.

Here is a simple list of all the TODOs at present:

- [ ] createTestCase4Cast
- [ ] createTestCase4Columns
- [ ] createTestCase4MathFuncs
- [ ] createTestCase4ArithmeticFuncs
- [ ] createTestCase4ControlF

[2020-07-31 15:14] zz-jason commented on #18921
@SunRunAway PTAL

[2020-07-31 15:18] nullnotnil commented on #18908
LGTM too.

The version of tikv should be handled in https://github.com/pingcap/tidb/issues/14487

[2020-07-31 15:24] breeswish commented on #14487
Notice that it might be quite challenge for a function to return multiple datums. How about using some other syntax, like `SHOW CLUSTER VERSIONS`? Additionally I think it would be better *not* to put version and git hash together. It avoids confusing our users, although putting them together is more technically correct.

[2020-07-31 15:24] nullnotnil commented on #18912
Confirming I can reproduce this against master. The root issue appears to be case sensitive. If I switch to lower-case the command works as expected. Here is an example:

[code]

[2020-07-31 15:28] nullnotnil commented on #14487
I think it is fine to truncate after 3 versions. The goal of having it in `select tidb_version()` is to simplify the bug reporting procedure. If there is another command, that makes it slightly harder.

[2020-07-31 16:06] zz-jason commented on #17467
We need more tests to ensure correctness.

[2020-07-31 16:18] nullnotnil commented on #18905
@zhangdan1 can you provide some details about the setup of your cluster? Such as how many TiDB and TiKV servers, and what are the hardware specs.

[2020-07-31 16:24] nullnotnil commented on #4101
Confirming against master again:
[code]

[2020-07-31 16:31] nullnotnil commented on #9999
Confirming this issue can still be reproduced:
[code]

[2020-07-31 16:47] nullnotnil commented on #18560
I am going to close this issue, as support for materialized views will be tracked in #18023.

Please feel free to re-open if you have additional questions. Thanks!

[2020-07-31 16:47] #18560 closed

[2020-07-31 17:41] frank-dspeed commented on #15520
@joe-getcouragenow i did not write that but i need to point out lol you can even run wasmer on the client :) wasmer is amazing they did even compile nginx to wasm and runned it…

[2020-07-31 18:30] HimanshuChugh2 opened #18922 "Data truncation: Invalid JSON text: "The document is empty." at position 0 in value for column column_name | quiljs contents"
Hello,

I am using QuillJs wysiwyg editor, it uses json to represent the data which its editor contains.
i want to save its content in mysql database.
i am using Java Spring Boot as server side language.
(i am a beginner)
so i have JSONObject (org.json.JSONObject) in my entity class `private JSONObject data;` which will contain the data that quill's editor contain.
i am getting the editor's conten

[2020-07-31 18:32] HimanshuChugh2 commented on #10390
Hey buddy @nullnotnil , thanks for your response, i have created a new issue, please take a look and help me,
Thank you

issue link: https://github.com/pingcap/tidb/issues/18922 @nullnotnil

[2020-07-31 23:03] nullnotnil commented on #18922
Hi @HimanshuChugh2

I tried to reproduce with a testcase just in SQL. I can insert a 2MB+ document similiar to yours with no problems. It is possible that some part of your application is truncating the string, which is causing MySQL to error. Please try out my test-case, and confirm that it works for you, with your version of TiDB. If I am missing something, let me know. Thanks!

[issue18922.zip]

[2020-08-01 04:25] glorv commented on #18919
/label component/ddl

[2020-08-01 04:26] glorv commented on #18918
/label component/ddl

[2020-08-01 04:26] glorv commented on #18914
/label component/executor

[2020-08-01 06:45] zz-jason commented on #9170
@SunRunAway PTAL

[2020-08-01 09:44] HimanshuChugh2 commented on #18922
Hey @nullnotnil,

i tried it with your file, its working fine with your file, but why is it not working with the json i am giving it.
below is the same file you shared but with my json text
please take a look and tell me what i am missing.
i think the error is with these kind of brackets [], but please let me know how to make it right.
[Files.zip](https://github.com/pingcap/tidb/files/5010155/File

[2020-08-01 10:55] joe-getcouragenow commented on #15520
@frank-dspeed  Can you link to anything showing this ? would like to play around with this very much.

[2020-08-01 20:04] nullnotnil commented on #18922
With the test case you provided, TiDB is responding the same as MySQL 5.7:

[code]

I suspect what might be happening, is that when base64 encoding the string exceeds a certain size, your application then attempts to insert an empty string into a JSON column. This is considered invalid for a JSON column, as you must insert either `[]` or `{}` at a minimum:

[code]

[2020-08-01 20:31] HimanshuChugh2 commented on #18922
`I suspect what might be happening, is that when base64 encoding the string exceeds a certain size, your application then attempts to insert an empty string into a JSON column. This is considered invalid for a JSON column, as you must insert either [] or {} at a minimum:`

yes this is whats happening, the data i am passing from my html to my controller is not being passed when the file size is aro

[2020-08-02 00:26] nullnotnil commented on #18922
I'm sorry, I don't know java! With this error not TiDB specific, you could also try asking this on the MySQL Community Slack or StackOverflow.

[2020-08-03 01:30] Jacktomyw commented on #18912
Yeah，my script works successfully now. Should I keep this issue open since lowercase user variables should be also available?

[2020-08-03 01:33] brucen1030 commented on #4121
Hi,
What's the influence if in the old version we configured key more than 3072 byte?
It seems working correctly.
And what will happen if we upgrade from old version to tidb with this fix?

Is it possible to provide a configuration option to enable/disable 3072 byte key length check, for better compatibility with old tidb? Our service is already running on old tidb.

Thanks.

[2020-08-03 01:47] nullnotnil commented on #4121
@brucen1030 I believe you are right, there could be a case where there could be an upgrade issue.

i.e. `VARCHAR(1024)` previously implied 1024 bytes, now it (correctly) implies 1024 characters, which could be 1024*4 = 4096 bytes. That would exceed the 3072 byte index length.

I think there is a workaround by using 3-byte utf8 instead (which would have been the default around the time TiDB had thi

[2020-08-03 02:14] brucen1030 commented on #4121
@nullnotnil thanks to your quick reply.

Let me clarify my problem clearer.
In fact, we use tidb 2.1.8 in our service from years ago. And we defined a union key with length at most more than 1024 character. In utf8, it's more than 3072 bytes in total and didn't returned any error. (Yes, we use utf8 already. )
And we found in tidb master branch, it returned the error as per title recently.
I unders

[2020-08-03 02:42] #16617 closed

[2020-08-03 02:43] nullnotnil commented on #11941
Fixed in https://github.com/pingcap/tidb/pull/18753 (not closed due to issue in close syntax.)

[2020-08-03 02:43] #11941 closed

[2020-08-03 02:50] nullnotnil commented on #4121
Thanks @brucen1030. I have 2.1.5 handy, so I tried the following testcase:
[code]

Against TiDB 2.1:

[code]

Against master:

[code]

So from a logical restore perspective at least, it looks like this will be an issue. I did some digging into the configuration file for TiDB though, and there is an option which does as you suggested:

[code]

If I set this to 12288, the testcase in master produces

[2020-08-03 03:16] tangenta opened #18931 "create table with table option 'auto_increment' reports nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. turn off the config `alter-primary-key`.
2. ```sql
   create table t (a int primary key) AUTO_INCREMENT = 10;
[code]

### 3. What did you see instead (Required)

[code]

### 4. Affected version (Required)

master
[code]

### 5. Root Cause Analysis

Before allocate/rebase

[2020-08-03 03:24] AilinKid opened #18933 "CI: invalid memory address or nil pointer dereference in TestPessimisticLockOnPartition in 4.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

4.0 CI link https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check/detail/tidb_ghpr_check/48514/pipeline
[code]

### 2. What did you expect to see? (Required)
No panic

### 3. What did you see instead (Required)
Panic

### 4. Affected version (R

[2020-08-03 03:28] lance6716 commented on #18860
/label component/test

[2020-08-03 03:35] lance6716 commented on #18910
/label component/executor component/config

[2020-08-03 03:35] lance6716 commented on #18910
/label component/executor

[2020-08-03 03:35] lance6716 commented on #18910
/label component/config

[2020-08-03 03:39] lance6716 commented on #18905
Hi @zhangdan1 ,  could you provide some information about your cluster? you could reference out doc here https://docs.pingcap.com/zh/tidb/stable/hardware-and-software-requirements

[2020-08-03 03:45] brucen1030 commented on #4121
@nullnotnil Thanks a lot!

[2020-08-03 03:49] nullnotnil commented on #4121
You are welcome. I am going to reclose this issue now.

[2020-08-03 03:49] #4121 closed

[2020-08-03 03:58] zhangdan1 commented on #18905
Hi,
&nbsp; &nbsp;My TiDB Cluster Diagnostics Report is attached, which provides&nbsp;information about mysql cluster.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "pingcap/tidb"                                                                                    <notif

[2020-08-03 04:01] ChenPeng2013 opened #18934 "clustered index: broke data consistency when using prefix index primary key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. Affected version (Required)

[code]
### 5. Root Cause Analysis

[2020-08-03 04:03] lance6716 commented on #18905
Hi, reply by email seems can't upload attachments to Github, please return to this issue https://github.com/pingcap/tidb/issues/18905 , or turn to our Chinese forum https://asktug.com/. Glad to help you

[2020-08-03 04:10] jyz0309 commented on #15371
Alkaid will fix it this week :)

[2020-08-03 04:53] 474846718 commented on #12876
没试过。。。

[2020-08-03 05:09] Yisaer opened #18935 "Support trace split table statement"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-03 05:09] Yisaer commented on #18935
/assign

[2020-08-03 05:28] breeswish commented on #18935
Can you supply more detail to this issue ?

[2020-08-03 05:30] breeswish opened #18937 "Enable tidb_enable_collect_execution_info by default?"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This is an issue to **discuss** whether `tidb_enable_collect_execution_info` shall be enabled by default.

**Describe the feature you'd like:**

`tidb_enable_collect_execution_info` is introduced in https://github.com/pingcap/tidb/pull/17573 , which can be pretty helpful to see what happens for a slow query.

B

[2020-08-03 05:55] breeswish opened #18939 "Reorganize alerts for TiKV, PD and TiDB"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some alert rules are outdated for v3.0 and v4.0. Some alert rules are missing. All alert rules need clear descriptions.

**Describe the feature you'd like:**

- [ ] Review, reorganize and polish alerts for TiKV
- [ ] Review, reorganize and polish alerts for PD
- [ ] Review, reorganize and polish alerts for TiDB

[2020-08-03 06:05] lance6716 commented on #18933
/label component/executor

[2020-08-03 06:05] lance6716 commented on #18933
/label component/test

[2020-08-03 06:24] crazycs520 opened #18942 "metrics of `pessimistic_lock_keys_duration` doesn't contain the all lock keys duration"
## General Question

`tidb-server` has a `pessimistic_lock_keys_duration` metric, the comment of this metric is `tidb txn pessimistic lock keys duration`.

The problem is, `pessimistic_lock_keys_duration` metric only record the duration when lock keys meet lock.

[2020-08-03 07:02] Yisaer commented on #18935
updated.

[2020-08-03 07:10] #18810 closed

[2020-08-03 07:14] #15653 closed

[2020-08-03 07:25] csuzhangxc commented on #14753
this issue should already be fixed in DM v1.0.4 (https://docs.pingcap.com/tidb-data-migration/stable/1.0.4).

BTW, now we only released DM v1.0.x（and ` v1.1.0-alpha` is a version built from our develop branch _master_).

[2020-08-03 07:48] iosmanthus opened #18944 "Make TiDB's integration tests more portable"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, TiDB's integration tests like `explaintest` hardcode all needed port into `config.toml` and the main file which leads to the execution of the test hang up while the ports are occupied by other processes without any explicit error logs.

**Describe the feature you'd like:**

Tests like `explaintest` s

[2020-08-03 08:00] sre-bot opened #18945 "prepare_test.go:testPlanSerialSuite.TestIssue18066 failed"
prepare_test.go:testPlanSerialSuite.TestIssue18066

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/44920/display/redirect

[2020-08-03 08:04] aronfan commented on #8901
@zz-jason
In game development, we use ZRANGE and ZREVRANGE to rank players' score. The ZRANGE cmd can be implemented by the iterator in snapshot.

workaround: use ZCARD & ZRANGE to simulate the ZREVRANGE cmd if there's no reverse iterator in snapshot.

[2020-08-03 08:10] ChenPeng2013 opened #18946 "clustered index: confusing error message"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. Affected version (Required)

[code]
### 5. Root Cause Analysis

[2020-08-03 09:07] #18356 closed

[2020-08-03 09:41] XuHuaiyu commented on #16147
[code]
If the child of `builtinArithmeticIntDivideDecimalSig` return an `ErrTruncated` error, it's possible that `buf[0].length != buf[1].length` and thus get the error.

[2020-08-03 10:16] lance6716 commented on #18946
/label component/executor

[2020-08-03 10:17] cyliu0 opened #18949 "mysql compatibility: tidb does not trim enum spaces automatically"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
On MySQL:
[code]

### 3. What did you see instead (Required)
On TiDB:
[code]

### 4. Affected version (Required)

[code]

### 5. Root Cause Analysis

[2020-08-03 10:20] cyliu0 commented on #18949
According to [MySQL 8.0 refman](https://dev.mysql.com/doc/refman/8.0/en/enum.html), `Trailing spaces are automatically deleted from ENUM member values in the table definition when a table is created.`

[2020-08-03 10:21] lance6716 commented on #18945
[code]

[2020-08-03 10:25] lance6716 commented on #18945
/label component/planner

[2020-08-03 10:46] #18905 closed

[2020-08-03 10:47] zhangdan1 commented on #18905
My problem is resolved, thanks

[2020-08-03 11:29] shuke987 commented on #18836
We have developed a demo at https://github.com/zyguan/go-randgen/tree/tp-test/tp-test. It uses randgen to generate transaction test cases. We will add more randgen yy files to cover more scenes.

[2020-08-03 12:37] #15531 closed

[2020-08-03 12:50] qw4990 commented on #18921
I will fix these compatible issues these days.

[2020-08-03 13:52] zyguan opened #18954 "Transaction failed with unexpected `Error 8028: Information schema is changed`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Use [tp-test](https://github.com/zyguan/go-randgen/tree/tp-test/tp-test) to test tidb:
1. gen 100 tests
2. run with 4 threads

### 2. What did you expect to see? (Required)

All tests passed.

### 3. What did you see instead (Required)

One of tests failed with: Error 8028:

[2020-08-03 14:06] cfzjywxk commented on #18954
I think it's caused by transaction commit with the following conditions:
- The transaction pessimistically locked keys using `pointGetExecutor`.
- The transaction just locked keys but did not modify memory buffer.
- There are concurrent DDLs so that the schema version is changed doing schema check.

There is lock operation so the transaction is not read-only, it has to do two-phase commit. The sch

[2020-08-03 14:56] nullnotnil commented on #8841
I took a look at this. It returns `string.EOF` ([source](https://dev.mysql.com/doc/internals/en/com-statistics.html)) which makes it a little different from the other RPCs. I am not sure why my patch didn't seem to work with my MySQL client. Perhaps someone else wants to take a look after https://github.com/pingcap/tidb/pull/18893 merges.

[2020-08-03 15:05] nullnotnil commented on #9903
I am going to close this issue as stale. Please feel free to re-open it if you are continuing to experience problems. Thanks!

[2020-08-03 15:05] #9903 closed

[2020-08-03 15:07] bb7133 opened #18955 "charset: incorrect encoding for `latin1` character set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

case 1:
[code]
case 2:
[code]
### 2. What did you expect to see? (Required)
[code]
case 2:
[code]

### 3. What did you see instead (Required)
case 1:
[code]
The encoding of `¥` in `latin` should be `A5`.

case 2:
[code]

### 4. Affected version (Required)

All versi

[2020-08-03 15:08] nullnotnil commented on #7349
I am going to close this issue as stale. Please feel free to re-open it if you are still experiencing issues. Thank you!

[2020-08-03 15:08] #7349 closed

[2020-08-03 15:12] nullnotnil commented on #8961
I have moved this to the docs project as https://github.com/pingcap/docs/issues/3530

I am going to close this issue now. Thanks for the great work!

[2020-08-03 15:12] #8961 closed

[2020-08-03 15:16] nullnotnil commented on #5680
I am going to close this issue as stale. Please feel free to re-open it if you are continuing to experience issues. Thanks!

[2020-08-03 15:16] #5680 closed

[2020-08-03 15:19] nullnotnil commented on #6609
Confirming against master:

[code]

[2020-08-03 15:20] nullnotnil commented on #6917
I am going to close this issue as stale. Please feel free to re-open it if you are continuing to experience problems. Thanks!

[2020-08-03 15:20] #6917 closed

[2020-08-03 15:25] nullnotnil commented on #5979
Uptime information for components is available in Prometheus. The status port does not explicitly have an `uptime` metric, but it does expose a `start_timestamp` at `/info`.

I am going to leave this request open for an `uptime` metric. It may be useful to have it pre-computed.

[2020-08-03 15:31] nullnotnil commented on #9336
This feature request is to cache coprocessor cache results in TiDB - differing from the already implemented coprocessor cache. It may overlap with https://github.com/pingcap/tidb/issues/17469 - in which case maybe we should close this issue to reduce duplication?

[2020-08-03 15:35] nullnotnil commented on #8727
I am going to close this issue as stale. Please feel free to re-open it if you continue to experience issues. Thanks!

[2020-08-03 15:35] #8727 closed

[2020-08-03 15:37] nullnotnil commented on #9120
This has been fixed. I am going to close this issue.

[2020-08-03 15:37] #9120 closed

[2020-08-03 15:38] nullnotnil commented on #8946
I am going to close this issue. The code has changed a bit, and separate issues can be filed to fix error messages in specific cases.

[2020-08-03 15:38] #8946 closed

[2020-08-03 15:44] nullnotnil commented on #3120
I am going to close this issue as stale. I ran a goword check, and there are 500+ lines, but nothing looked obviously wrong.

[2020-08-03 15:44] #3120 closed

[2020-08-03 15:50] nullnotnil commented on #7714
This has been added.

See: https://docs.pingcap.com/tidb/stable/sql-statement-show-table-regions (show statement version) and https://docs.pingcap.com/tidb/stable/information-schema-tikv-region-status (information schema version)

I am going to close this issue now. Thanks!

[2020-08-03 15:50] #7714 closed

[2020-08-03 16:17] breeswish commented on #9336
@nullnotnil This feature is already implemented. Coprocessor cache caches results in TiDB exactly as what this issue describes. I think we can close this issue.

[2020-08-03 16:17] #9336 closed

[2020-08-03 16:36] nullnotnil commented on #9016
Confirming this can still be reproduced:
[code]

[2020-08-03 16:36] nullnotnil commented on #9543
I am going to close this as a duplicate of https://github.com/tikv/tikv/issues/2874 Thanks!

[2020-08-03 16:36] #9543 closed

[2020-08-03 16:37] nullnotnil commented on #9490
I am going to close this issue as stale. Please feel free to re-open if you are continuing to experience issues. Thanks!

[2020-08-03 16:37] #9490 closed

[2020-08-03 16:44] zyguan opened #18956 "Delete statement reports `ERROR 1062: Duplicate entry`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The insert statement should report `ERROR 1062: Duplicate entry`, but the last delete statement shouldn't.

### 3. What did you see instead (Required)

[code]

### 4. Affected version (Required)

v4.0.4

### 5. Root Cau

[2020-08-03 17:12] nullnotnil commented on #9357
This is a duplicate of #15131

It requires a type system for system variables, so that depending on context of `@@` or `show variables` the value can be returned correctly.

I am going to close this to reduce duplication.

[2020-08-03 17:12] #9357 closed

[2020-08-03 17:35] nullnotnil commented on #9208
I believe this has been improved in recent versions of TiDB (and the hashagg appears to run in parallel). Testcase:

[code]

When I execute in tidb 2.1.5, it takes about 1.82 seconds:
[code]

The same query in master is 0.94 seconds:
[code]

I am using the defaults for concurrency.

I am going to close this issue as stale, but please feel free to re-open if you have additional questions. Thanks!

[2020-08-03 17:35] #9208 closed

[2020-08-03 17:38] nullnotnil commented on #9307
Confirming this can still be reproduced:
[code]

[2020-08-03 17:46] nullnotnil commented on #9232
I checked against MySQL 8.0, and I agree that the behavior TiDB now has is correct. The differences are only because of default binary collation:
[code]

vs MySQL:

[code]

I am going to close this issue now. Thanks!

[2020-08-03 17:46] #9232 closed

[2020-08-03 17:49] nullnotnil commented on #9943
I am going to close this issue as stale. Please feel free to re-open if you have any additional questions. Thanks!

[2020-08-03 17:49] #9943 closed

[2020-08-03 19:15] nullnotnil commented on #8881
Cop tasks now include execution info:
[code]

I am going to close this issue accordingly. Thanks!

[2020-08-03 19:15] #8881 closed

[2020-08-03 19:15] nullnotnil commented on #6892
Sounds good. Thanks!

[2020-08-03 19:15] #6892 closed

[2020-08-03 19:18] nullnotnil commented on #10532
Confirming the behavior is consistent with MySQL 8.0. The warning error message/code is not though:
[code]
Vs MySQL 8.0:
[code]

[2020-08-03 19:23] nullnotnil commented on #18426
See also: https://github.com/pingcap/tidb/issues/9172 (MySQL can do both a read-only and an "Offline Mode"). `read-only` sounds like higher priority though.

[2020-08-03 19:36] nullnotnil commented on #9655
I was going to close this issue, but I took another look, and there are a lot of small differences from MySQL:

- s/Host char(64) NOT NULL/Host` char(60) NOT NULL/
- s/FILE_priv/File_priv/
- s/Account_locked/account_locked/

Some programs will depend on the column name case matching. A longer hostname in TiDB could create a compatibility issue, but is probably not likely.

[2020-08-03 19:37] nullnotnil commented on #1316
I am closing this issue as stale. Thanks!

[2020-08-03 19:37] #1316 closed

[2020-08-03 19:38] nullnotnil commented on #5497
This is now cached every 2 seconds. Closing this issue now. Thanks!

[2020-08-03 19:38] #5497 closed

[2020-08-03 19:56] nullnotnil commented on #9288
Confirming that this is still an issue in master, except there is an error now for adding a generated column via ALTER:

[code]

If I modify the testcase and change it to a virtual column it produces the expected result:

[code]

Thus, I think the issue is about not being able to add stored columns through `ALTER TABLE`. I will updated the title to say 'unsupported' instead of invalid.

[2020-08-03 20:23] nullnotnil commented on #9865
Confirming this is still an issue:
[code]

[2020-08-03 20:26] nullnotnil commented on #5777
The warning has changed slightly in TiDB (incorrect):
[code]

[2020-08-03 20:27] nullnotnil commented on #9621
Closing for now (TiUP is easier to use than homebrew). We can re-open if these is demand.

[2020-08-03 20:27] #9621 closed

[2020-08-03 20:28] nullnotnil commented on #9962
Closing as duplicate.

[2020-08-03 20:28] #9962 closed

[2020-08-03 20:39] nullnotnil commented on #9996
Confirming this issue still exists:
[code]

[2020-08-03 20:47] nullnotnil commented on #10554
It looks like the warnings are still thrown in MySQL, but not TiDB:

[code]

Vs MySQL 8.0.21:
[code]

[2020-08-03 20:50] nullnotnil commented on #10468
This has been improved. There is now an error, and the code is correct. The error message is not identical, but close enough:
[code]

I think because the error message ties into the JSON parser I will go ahead and close this issue. We can re-open it and take a closer look if an application depends on this being absolutely exact. Thanks!

[2020-08-03 20:50] #10468 closed

[2020-08-03 20:52] nullnotnil commented on #10469
Confirming this issue still exists:
[code]

[2020-08-03 20:56] nullnotnil commented on #10485
Confirming this is still an issue:
[code]

[2020-08-03 21:04] nullnotnil commented on #11269
This is required for fixing compatibility issues. i.e. When you run `SHOW VARIABLES LIKE 'x'` in MySQL you should get a string type, but `SELECT @@x` should return the actual type. I am tracking a request for typed variables in https://github.com/pingcap/tidb/issues/15131 , so I am going to close this issue to reduce duplication. Thanks!

[2020-08-03 21:04] #11269 closed

[2020-08-03 21:13] nullnotnil commented on #9974
I verified that this looks correct. The reason MySQL would have returned 50 is because it is configured to be latin1 encoding (MySQL 5.7 and earlier). If we harmonize MySQL/TiDB at utf8mb4 and use `--column-type-info` they are consistent:

[code]

Vs MySQL:

[code]

I am going to close this issue now. Please feel free to reopen if you have additional questions. Thanks!

[2020-08-03 21:13] #9974 closed

[2020-08-03 21:15] nullnotnil commented on #318
Support was added in https://github.com/pingcap/tidb/pull/17250

I am going to close this issue for now. Thanks!

[2020-08-03 21:15] #318 closed

[2020-08-03 21:17] nullnotnil commented on #10122
Confirming this has been fixed:
[code]

I am going to close this issue now. Thanks!

[2020-08-03 21:17] #10122 closed

[2020-08-03 21:22] nullnotnil commented on #10481
Confirming this still exists in master:
[code]

[2020-08-03 21:37] nullnotnil commented on #9013
A duplicate issue to track this issue is available in https://github.com/pingcap/tidb/issues/10760

[2020-08-03 21:39] nullnotnil commented on #10192
GBK support is being tracked in https://github.com/pingcap/tidb/issues/10760 Thanks!

[2020-08-03 21:48] nullnotnil commented on #13758
There is another issue with nullability correctness in https://github.com/pingcap/tidb/issues/3773

I don't want to assume they are the same issue, but it would be great to get both addressed. Thanks!

[2020-08-03 21:51] nullnotnil commented on #3773
An example to show how this could manifest into bugs:

[code]

This should return `NULL`.

[2020-08-03 21:55] nullnotnil commented on #14994
It is important to clarify that this can cause correctness issues for applications. They depend on `get_lock` to act like a mutex and serialize access to some shared resource. By TiDB always returning that the lock is free, the application will have data races and could generate incorrect behavior.

[2020-08-04 01:23] nullnotnil commented on #11140
Confirming that this has been fixed:
[code]

I am going to close this issue now. Thanks!

[2020-08-04 01:23] #11140 closed

[2020-08-04 01:24] nullnotnil commented on #10975
Confirming that this has been fixed:
[code]

I am going to close this issue now. Thanks!

[2020-08-04 01:24] #10975 closed

[2020-08-04 01:27] nullnotnil commented on #11190
This looks fixed to me:
[code]

I am going to close this issue now. Thanks!

[2020-08-04 01:27] #11190 closed

[2020-08-04 01:32] leoones commented on #8727
OK

[2020-08-04 01:34] nullnotnil commented on #11136
Confirming this issue still exists. Here is a slightly simplified testcase:
[code]

[2020-08-04 01:40] nullnotnil commented on #9077
I am going to close this issue as stale. Please feel fee to re-open it if you have additional questions. Thanks!

[2020-08-04 01:40] #9077 closed

[2020-08-04 01:43] nullnotnil commented on #10806
Confirming this issue can still be reproduced:
[code]

[2020-08-04 01:58] nullnotnil commented on #11082
Confirming this is still an issue:

[code]

[2020-08-04 02:03] nullnotnil commented on #10903
Confirming this issue still exists in master:
[code]

[2020-08-04 02:17] nullnotnil commented on #10515
For me, TiDB is returning the same result as MySQL 8.0.21 and 5.7.31. I can't get MySQL to respond as was listed for 'expected':

[code]

I checked the wire protocol to make sure that it wasn't something the client was doing (since MySQL is not returning the values shown in this client - which are formatted). TiDB is incorrectly returning the `NOT_NULL` attribute, but is otherwise correct:

[code]

[2020-08-04 03:06] zyguan opened #18958 "An insert statement which violate key constraint can be committed successfully"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The last insert statement of the transaction should failed with `ERROR 1062 (23000): Duplicate entry '10' for key 'PRIMARY'`.

### 3. What did you see instead (Required)

[code]

Note that the row where `c_int = 10` has

[2020-08-04 03:40] zyguan commented on #18958
/label component/transaction

[2020-08-04 03:57] wshwsh12 opened #18960 "Unexpected error no such file executing sql."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Start a tidb instance.
2. rm temp-storage-path.   (Simulate systemd-tempfiles clean.)
3. Execute a SQL that trigger spill action.
4. Get an error open ..... no such file.

### 2. What did you expect to see? (Required)

Execute successfully if tidb can create the director

[2020-08-04 05:35] #18946 closed

[2020-08-04 05:47] #18933 closed

[2020-08-04 05:48] coocood commented on #18222
fixed by https://github.com/pingcap/tidb/pull/18963

[2020-08-04 05:48] #18222 closed

[2020-08-04 05:48] coocood commented on #18039
fixed by https://github.com/pingcap/tidb/pull/18963

[2020-08-04 05:49] coocood commented on #17146
fixed by https://github.com/pingcap/tidb/pull/18963

[2020-08-04 05:49] #17146 closed

[2020-08-04 05:50] coocood commented on #16435
fixed by https://github.com/pingcap/tidb/pull/18963

[2020-08-04 05:50] #16435 closed

[2020-08-04 05:50] coocood commented on #15182
fixed by fixed by https://github.com/pingcap/tidb/pull/18963

[2020-08-04 05:50] #15182 closed

[2020-08-04 06:04] sykp241095 commented on #18860
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/16326/pipeline

Still costs more than 10mins.

[2020-08-04 06:13] zyguan commented on #18956
Here is an another failure case:
[code]

[2020-08-04 07:18] cfzjywxk commented on #18956
A minimal case to reproduce this problem in v4.0.4:

[code]

[2020-08-04 07:40] cfzjywxk commented on #18956
This is caused by:
The update statement updates the row value containing the unique index value, and the index value is put into the memory buffer.
The next insert statement checks the memory buffer for index key column `c2`, it finds a duplicate entry, so the insert statement execution returns, the `PresumeKeyNotExistsError` flag is set on the row key.
The delete statement using `pointGetExecutor

[2020-08-04 08:09] mahjonp opened #18969 "CH-benCHmark Q9 occupy huge MEM"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. deploy v4.0.4

$ cat cluster.toml

[code]

$ tiup cluster deploy tidb-test v4.0.4 cluster.toml

2. import data

$ go-tpc tpcc --warehouses 100 prepare && go-tpc ch --analyze --tiflash prepare

3. run bench

$ go-tpc ch --warehouses 100 -T 100 -t 1 --queries="q9" --time 6

[2020-08-04 08:30] #18944 closed

[2020-08-04 08:39] cfzjywxk commented on #18958
A minimal case to reproduce this problem
[code]

[2020-08-04 08:45] tangenta commented on #18934
In MySQL:
[code]
[code]

[2020-08-04 08:58] #16532 closed

[2020-08-04 09:02] wshwsh12 opened #18971 "Encryption for temporary chunks in disk"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Now we have spilled chunks data to disk when Join or Sort exceeds the memory quota. But the data in disk should be encrypted, to ensure that others can't read the temp file to steal user data.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adop

[2020-08-04 09:04] wshwsh12 commented on #18971
/assign mmyj

[2020-08-04 10:49] lddlww opened #18975 "how can i collect tidb jaeger metrics?"
i use the all-in-one jaeger server：
[code]
then export env  and execute tidb-server：
[code]

but in jaeger server，i can't find any metrics about with tidb-server

[2020-08-04 11:17] heidawei opened #18976 "TXN not rollback when context deadline exceeded"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

insert rows(sample insert sql), but failed, return context deadline exceeded
then I see GC work try to clear TXN records, and some insert slow for lock conflict。
### 2. What did you expect to see? (Required)
I think we should rollback the txn when return cont

[2020-08-04 11:22] cyliu0 opened #18977 "Can't create latin1 enum"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. Affected version (Required)

[code]

### 5. Root Cause Analysis

[2020-08-04 11:36] jzdxeb opened #18979 "index Create method return value"
## General Question
[code]

https://github.com/pingcap/tidb/blob/release-3.0.13/table/tables/tables.go

[2020-08-04 11:42] qw4990 opened #18980 "`nulleq` operator cannot be used to calculate ranges"
## Development Task
[code]

[2020-08-04 11:47] #18922 closed

[2020-08-04 12:15] #18870 closed

[2020-08-04 12:39] jackysp commented on #18958
introduced by https://github.com/pingcap/tidb/pull/15257

[2020-08-04 13:26] gejibin commented on #18820
when set to read-only mode， tidb can only read but not write，it‘s ok for us.
like mysql, set global read_only=1;

[2020-08-04 13:41] lddlww commented on #18975
oh，just use tidb itself config，like the following config：
[code]

[2020-08-04 13:41] #18975 closed

[2020-08-04 14:18] #8484 closed

[2020-08-05 02:10] lance6716 commented on #18979
`err` is prior to `h` or `0` to caller function, so both are fine.

[2020-08-05 02:11] lance6716 commented on #18979
/label component/DDL

[2020-08-05 02:12] lance6716 commented on #18977
/label component/DDL

[2020-08-05 02:15] lance6716 commented on #18976
/label component/executor

[2020-08-05 02:30] jzdxeb commented on #18979
i dont think so.
in ddl/index.go
Error is keyexsit
handle is checked,so return 0 maybe incorrect

Actually I think this is a bug in release-3

[2020-08-05 02:43] lance6716 commented on #18979
Do you mean apart from `return handle, kv.ErrKeyExists`, `(*index).Create` also return `0, kv.ErrKeyExists`? Where does this happen?

[2020-08-05 02:47] lance6716 commented on #18979
PTAL @tiancaiamao @AilinKid

[2020-08-05 03:12] ChenPeng2013 opened #18984 "clustered index: inconsistent index idx handle"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. Affected version (Required)

[code]
### 5. Root Cause Analysis

[2020-08-05 03:19] crazycs520 opened #18985 "panic in mergeRegionRequestStats"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Reproduce:

[code]

then run:

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

In release-4.0 branch, hash: `df16c56c51fbc6710431ff1ee7bbac23c610e924`, the panic stack is below:

[code]

### 4. Affected version (Required)

[2020-08-05 03:19] lddlww opened #18986 "jaeger server can't find TIDB service?"
use all-in-one jaeger server:
[code]

then set tidb.toml config:
[code]

but i can't find any tracing about with tidb service

[2020-08-05 04:06] Win-Man commented on #7623
pick up
[] STD()/STDDEV()/STDDEV_POP()
[] STDDEV_SAMP()

[2020-08-05 04:58] lennonwoo commented on #9958
hi, if the overall data is too big, and the primary key is un-ordered, how could we retrieve data from TiDB by batch?

[2020-08-05 05:38] breeswish opened #18990 "CLUSTER_INFO system table may not work after PD is scaled-in"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Scale-in PD.

### 2. What did you expect to see? (Required)

Successfully query INFORMATION_SCHEMA.CLUSTER_INFO

### 3. What did you see instead (Required)

It tries to access a PD that no longer exists. dial tcp xxxx: connect: connection refused

### 4. Affected version (R

[2020-08-05 05:39] breeswish commented on #18990
Friendly hint: According to current code base, the scaled-out PD node may be displayed improperly as well.

[2020-08-05 05:53] #18985 closed

[2020-08-05 06:01] XuHuaiyu opened #18992 "unexpected error when executing an update stmt"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
no error reported

### 3. What did you see instead (Required)
[code]

### 4. Affected version (Required)
master

### 5. Root Cause Analysis

[2020-08-05 06:11] #18461 closed

[2020-08-05 06:13] lance6716 commented on #18986
/label component/deployment

[2020-08-05 06:18] jzdxeb commented on #18979
in ddl/index.go
if err == ErrKeyExists
then
return handle and kv. ErrKeyExists
if err != ErrKeyExists  0 or handle is ok

bug case
[code]
add index count will be incorrect when reorg worker meet error

[2020-08-05 06:48] SunRunAway commented on #18833
@lzmhhh123 PTAL

[2020-08-05 06:53] ThySinner commented on #11896
It seems this difference between MySQL and TiDB shares the same root cause

[code]

[code]

So we could see that MySQL treats both `bigint` and `bit` as `unsigned` while it is executing the `join` clause, no matter hash-join or merge-join.

[2020-08-05 07:12] SunRunAway commented on #11896
Thank you for your analysis. @ThySinner
Would you like to file a pull request to fix this?

[2020-08-05 07:16] lilinghai opened #19001 "When inserting into unique column with case_insensitive collation, the error info is not as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
tidb config `new_collations_enabled_on_first_bootstrap = true`

[code]

### 2. What did you expect to see? (Required)
(1062, "Duplicate entry 'a' for key 'PRIMARY'")
### 3. What did you see instead (Required)
(1062, "Duplicate entry '\x00A' for key 'PRIMARY'")
### 4. Affecte

[2020-08-05 07:23] SunRunAway commented on #18298
The corresponding cherry-pick PR was merged 5 days ago. See https://github.com/pingcap/tidb/pull/18529#event-3606763560. I think it's fixed now.

[2020-08-05 07:36] eurekaka opened #19002 "wrong point-get result when clustered index is used with plan-cache"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Start a tidb-server with plan cache enable:

[code]

### 2. What did you expect to see? (Required)

The second execute should return 1 record.

### 3. What did you see instead (Required)

It returns empty record.

### 4. Affected version (Required)

master branch: 6ccd8248a

[2020-08-05 08:36] ChenPeng2013 opened #19007 "clustered index: invalid encoded key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

new_collations_enabled_on_first_bootstrap = true
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. Affected version (Required)

[code]

### 5. Root Cause Analysis

[2020-08-05 08:39] ChenPeng2013 opened #19010 "clustered index: index out of range [1] with length 1"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

new_collations_enabled_on_first_bootstrap = true
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. Affected version (Required)

[code]
### 5. Root Cause Analysis

[2020-08-05 09:07] ZheyunYao opened #19011 "unknown都不会拼，什么水平？"
https://github.com/pingcap/tidb/blob/51dc39308885a0523af9927f364845518ebfcb82/ddl/ddl_worker.go#L111

[2020-08-05 09:07] #19011 closed

[2020-08-05 09:54] XuHuaiyu opened #19012 "wrong value of first_row"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. Affected version (Required)
release-3.0(>= 3.0.7)

### 5. Root Cause Analysis

[2020-08-05 10:05] lance6716 commented on #19010
/label component/executor

[2020-08-05 10:06] lance6716 commented on #19007
/label component/executor

[2020-08-05 10:08] lance6716 commented on #19001
/label sig/execution

[2020-08-05 10:17] gentcys commented on #18681
`LOAD DATA` regards all input as strings and [`(d *Datum) convertToMysqlBit(sc *stmtctx.StatementContext, target *FieldType)`](https://github.com/pingcap/tidb/blob/51dc39308885a0523af9927f364845518ebfcb82/types/datum.go#L1347) cannot convert any string to bit correctly, so it's always `NULL` value.

[2020-08-05 11:05] cyliu0 opened #19014 "Can't create binary enum"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
On MySQL:
[code]

### 3. What did you see instead (Required)
On TiDB:
[code]

### 4. Affected version (Required)

[code]

### 5. Root Cause Analysis

[2020-08-05 11:25] cyliu0 opened #19016 "Charset conversion does not work properly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
On MySQL:
[code]

### 3. What did you see instead (Required)
On TiDB:
[code]

### 4. Affected version (Required)

[code]

### 5. Root Cause Analysis

[2020-08-05 11:57] #18984 closed

[2020-08-05 12:24] cyliu0 opened #19018 "mysql compatibility: enum element length limit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

According to [MySQL 8.0 Refman](https://dev.mysql.com/doc/refman/8.0/en/string-type-syntax.html): `The maximum supported length of an individual ENUM element is M <= 255 and (M x w) <= 1020, where M is the element literal length and w is the number of bytes required for the maximum-length character in the character

[2020-08-05 12:31] #18833 closed

[2020-08-05 15:47] nullnotnil commented on #11831
This has been fixed. I was confused for a second because the expected result and TiDB output are flipped in the description :-)

[2020-08-05 15:47] #11831 closed

[2020-08-05 15:55] nullnotnil commented on #7404
Confirming that this was recently fixed in master (using some mysql cli magic to shell-out):
[code]

I am going to close this issue now. Thanks!

[2020-08-05 15:55] #7404 closed

[2020-08-05 15:59] nullnotnil commented on #3959
Confirming that this has been fixed:
[code]

I am going to close this issue now. Thanks!

[2020-08-05 15:59] #3959 closed

[2020-08-05 16:00] nullnotnil commented on #11864
@IANTHEREAL can we close this issue as a duplicate of TiCDC?

[2020-08-05 16:07] july2993 commented on #11864
close by https://github.com/pingcap/ticdc

[2020-08-05 16:07] #11864 closed

[2020-08-05 16:10] nullnotnil commented on #10115
Including a pastable testcase with the results of MySQL 5.7 and TiDB. It looks like TiDB is compatible with MySQL now, with the exception of one additional warning being generated.

[code]

MySQL 5.7:
[code]

TiDB:
[code]

[2020-08-05 17:22] nullnotnil commented on #10551
Pastable testcase against master:
[code]

[2020-08-05 17:32] nullnotnil commented on #10648
Note that this can not be tested through the SQL interface for prepare. i.e. the following testcase fails in both MySQL and TiDB:
[code]

MySQL:
[code]
TiDB (gives a better error):
[code]

I will write a small program to verify this shortly.

[2020-08-05 17:52] nullnotnil commented on #10648
The following testcase fails in MySQL. I think that what might be happening, is that `rewriteBatchedStatements=true` disables prepared statements and just emulates prepared statements. Thus, the question might be: does TiDB support `MYSQL_OPTION_MULTI_STATEMENTS_ON`? (I will test this next):
[code]

Output from MySQL:
[code]

[2020-08-05 18:34] nullnotnil commented on #10648
I believe this bug has been fixed, since I can execute multiple statements in one mysql_query call:
[code]

Output:

[code]

[2020-08-05 19:28] nullnotnil commented on #3635
Still exists:
[code]

[2020-08-05 19:38] nullnotnil commented on #10486
Confirming that this has been fixed in master:
[code]

I am going to close this issue now. Thanks!

[2020-08-05 19:38] #10486 closed

[2020-08-05 19:43] nullnotnil commented on #10521
Confirming against master with pasteable testcase:
[code]

MySQL 8.0.21:
[code]

TiDB:
[code]

[2020-08-05 19:49] nullnotnil commented on #10842
The [CONTRIBUTING guide](https://github.com/pingcap/community/blob/master/contributors/README.md )no longer suggests anything about installing git hooks. This could be in error...

If it's intentional, that would make this issue obsolete. What do you think?

[2020-08-05 19:52] nullnotnil commented on #19014
Verified as described:
[code]

Here is the expected result in MySQL:
[code]

[2020-08-05 19:53] kolbe commented on #12114
We should probably just change the logging level of application-facing errors so they aren't written to the server error log, or to make it easy for a user to toggle that. There isn't much use in writing duplicate key and syntax errors to the server log, those are not problems a DBA should usually be concerned with. Those errors are returned to the client, which is responsible in any case for hand

[2020-08-05 20:06] kolbe opened #19021 ""Duplicate key" values should not be logged when tidb_log_desensitization is set"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

With tidb_log_desensitization enabled, the value that causes the duplicate key error should not be written to the log.

### 3. What did you see instead (Required)

The error log output contains the value

[2020-08-05 20:20] nullnotnil commented on #12114
I like how performance_schema in MySQL 8.0 instruments client errors. It can be useful after an upgrade, change to sql-mode etc. Not all applications track this as they are expected.

[2020-08-05 22:27] nullnotnil commented on #19016
I believe this relates to https://github.com/pingcap/tidb/issues/18955

TiDB does not support latin1 correctly - it treats it as a subset of utf8. This is only safe for the lower 128 characters of latin1.

[2020-08-05 22:39] nullnotnil commented on #18488
This is a regression between TiDB 3.1 and 4.0. I can reproduce on 4.0.1, but not on 3.1.2.

[2020-08-05 22:51] nullnotnil commented on #3960
This is improved in master, but the `ignore` keyword is _ignored_ :

[code]

In TiDB:
[code]

Vs MySQL 8.0.21:

[code]

[2020-08-06 00:54] zz-jason commented on #18566
when `` is set to `1`, the duplicated key is printed to the log. I'm going to reopen this since it has not been fixed totally.

Here is an example:

[code]

the log printed for the last insert statement:
[code]

[2020-08-06 00:55] zz-jason commented on #18566
@zanmato1984 PTAL, thanks.

[2020-08-06 01:17] zz-jason commented on #18566
maybe we can write a tool to monitor the log file. report a security issue if it prints data in the table or from the query.

[2020-08-06 01:22] zz-jason commented on #18939
There are some alert rules that also may not needed, I think.

[2020-08-06 01:25] zz-jason commented on #18937
It's better to clearly describe the performance impacts for several parts:
- the benchmark
- QPS impact
- CPU impact
- duration impact
- log size impact
- etc.

[2020-08-06 01:39] tangenta opened #19023 "clustered index: invalid codec version in old row format"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. Affected version (Required)

master

### 5. Root Cause Analysis

[2020-08-06 02:05] lance6716 commented on #19021
/label sig/execution

[2020-08-06 02:06] lance6716 commented on #19023
/label sig/execution

[2020-08-06 02:07] nullnotnil commented on #10515
@iosmanthus I was not able to reproduce. Can you please confirm that you are still experiencing this issue? Thanks!

[2020-08-06 02:22] Win-Man commented on #18642
OK, thank you.

[2020-08-06 02:22] #18642 closed

[2020-08-06 03:04] qw4990 commented on #18980
I will fix this soon.

[2020-08-06 03:17] SunRunAway opened #19025 "JSON type has an unexpected NOT_NULL flag."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. Affected version (Required)

### 5. Root Cause Analysis

[2020-08-06 03:25] breeswish commented on #18937
@crazycs520 PTAL

[2020-08-06 03:29] crazycs520 commented on #18937
Great, I will do a bench test later.

[2020-08-06 03:38] qw4990 opened #19028 "Show null ranges `[NULL, NULL]` in `IndexScan` operators when processing explain"
## Development Task
[code]
As shown above, the result is correct, but the range of `IndexScan_5` should be `[NULL, NULL]`:
[code]

[2020-08-06 03:42] rebelice commented on #19028
/assign

[2020-08-06 04:25] nullnotnil commented on #8303
This is assumed to be fixed in https://github.com/pingcap/tidb/pull/18360

I am going to close this issue now, but feel free to re-open if you discover otherwise. Thanks!

[2020-08-06 04:25] #8303 closed

[2020-08-06 05:09] ThySinner commented on #11896
Well, I tried to execute the same set of sqls on MySQL with other int types, including `tinyint`, `smallint`, `mediumint` and `int`. And I found that MySQL only treats `bigint` as `unsigned` on `join` execution. So whether MySQL is intentional to do this still needs to be discussed.
Please check this PR https://github.com/pingcap/tidb/pull/19032

[2020-08-06 06:00] #18958 closed

[2020-08-06 06:36] time-and-fate opened #19034 "remove the limit that nth_plan() hint value can't exceed 100"
## Development Task

`nth_plan()` hint is for choosing a specific physical plan to execute.

Previously `nth_plan()` hint value was limited to must be less than or equal to 100 to prevent too long execution time. However, in fact, sometimes the search space is larger than 100 and we need to specify a `nth_plan()` hint value larger than 100. So we need to remove this limit.

[2020-08-06 06:36] time-and-fate commented on #19034
/assign

[2020-08-06 06:40] time-and-fate commented on #19034
/assign @time-and-fate

[2020-08-06 08:00] cfzjywxk commented on #18954
After #19006  the table delta update is disabled both for `pointGetExecutor and `selectLockExec`, so this will happen not only to `pointGetExecutor` but also other paths using `selectLockExec`.

[2020-08-06 08:17] qw4990 commented on #18644
Here is a Chinese [analysis document](https://docs.google.com/document/d/1Iu2DberukpZBXFbMtYuTlyf5FNtoM0Ym80IOD4DcraM/edit?usp=sharing) about index selection tests.

[2020-08-06 08:27] mahjonp commented on #18644
I generate 50 SQLs on only none table each, to get rid of the interference of table join, this is the report.

+--------+-------------+------------------------+--------------------------+---------------+-----------------------------------------+------------------------------------------------------------+----------------------------------------------------------------------------------------------

[2020-08-06 08:48] time-and-fate opened #19039 "improve index merge row count estimation"
## Development Task
Currently, when index merge estimates total row count of all partial paths, it simply adds up row counts of all partial paths as implemented below.

https://github.com/pingcap/tidb/blob/8359f67bf773da3419ed046eafd6614808f31b99/planner/core/find_best_task.go#L769-L780

This will cause inaccurate row count estimation because there may be overlapping. We need to improve index merg

[2020-08-06 08:49] time-and-fate commented on #19039
/assign @time-and-fate

[2020-08-06 09:10] bb7133 commented on #18955
I think we've 3 options for this issue:

1. Keep `latin1` in TiDB as what it is. If it has been worked fine for most scenarios, it may work well in the future.

2. Add a configuration like 'treat-old-version-latin1-as-utf8mb4', set its default to `true` for legacy clusters, and to `false` for new clusters. As is suggested by @nullnotnil , when it is `false`, we treat `latin1` as `ascii` and report

[2020-08-06 09:15] cberescu opened #19041 "1105 runtime error: invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Can not really reproduce, it does not happen all the time.

### 2. What did you expect to see? (Required)
To not receive a error

### 3. What did you see instead (Required)

General error: 1105 runtime error: invalid memory address or nil pointer dereference

[2020/08/06 11:

[2020-08-06 09:31] qiffang opened #19043 "StartSchema 测试执行 analyze table 后性能下降"
## Performance Questions

- What version of TiDB are you using?

`4.0.4`

- What's the observed and your expected performance respectively?
用 starSchema 测试 tikv 和 tiflash

- 导入数据
[code]

- 分别设置 tikv 已经 tiflash 隔离，执行[Queries](https://github.com/pingcap/tidb-bench/tree/master/ssb/queries)

- 对 `ssb` 5 张表执行 `analyze table`

- 再次执行 [Queries](https://github.com/pingcap/tidb-bench/tree/master/ssb/querie

[2020-08-06 10:04] lance6716 commented on #19043
/label component/planner

[2020-08-06 10:05] lance6716 commented on #19043
/label component/executor

[2020-08-06 10:05] lance6716 commented on #19041
/label component/executor

[2020-08-06 10:08] lance6716 commented on #19041
[code]

[2020-08-06 12:04] XuHuaiyu opened #19045 "unexpected result of a select"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. Affected version (Required)
4.0

### 5. Root Cause Analysis

[2020-08-06 12:24] jackysp commented on #17688
emm... something like https://github.com/pingcap/tidb/pull/9151 ?

[2020-08-06 12:56] zz-jason commented on #18731
here is the reference from HBase [Time To Live (TTL)](https://hbase.apache.org/book.html#ttl):

[2020-08-06 12:58] zz-jason commented on #17060
@IANTHEREAL How do you think?

[2020-08-06 14:19] nullnotnil commented on #11167
This is now working in master:
[code]

I am going to close this issue now. Thanks!

[2020-08-06 14:19] #11167 closed

[2020-08-06 14:28] nullnotnil commented on #12806
The root cause of this, is that TiDB defaults to binary collation. MySQL defaults to a case-insensitive collation.

Support for collations is currently experimental in TiDB. When enabled, the behavior will be the same as MySQL:
[code]

If you would like to test this out, the instructions for enabling new collations are [documented here](https://docs.pingcap.com/tidb/stable/character-set-and-collat

[2020-08-06 14:28] #12806 closed

[2020-08-06 14:46] nullnotnil commented on #13420
I agree it is a compatibility issue only. Here is a test-case showing more of MySQL's inconsistency:
[code]

TiDB:
[code]

MySQL 5.7 (and 8.0):
[code]

TiDB is consistent in casting all contexts.

[2020-08-06 14:47] nullnotnil commented on #13420
I am going to suggest we close as won't fix, but I will wait a little bit to allow others to give feedback. Thanks!

[2020-08-06 14:54] nullnotnil commented on #13635
This behavior makes sense for MySQL, since InnoDB does actually promote the first not-null index to a primary key, in the absence of a defined primary key. TiDB instead creates a hidden primary key in this instance (and other instances, such as when the primary key is non-numeric). If you remove the `NOT NULL` attribute, MySQL will not do this - and you can see the same output.

I think this behav

[2020-08-06 14:58] nullnotnil commented on #18912
Yes, let's leave it open. I will change it from a bug to a compatibility issue, since it is not returning wrong results etc. It is just not behaving the same as MySQL.

[2020-08-06 15:08] nullnotnil commented on #18731
See also: https://www.percona.com/blog/2020/08/04/the-road-story-of-a-myrocks-mariadb-migration/

This describes the use of a TTL in the `SHOW CREATE TABLE` statement.

[2020-08-06 15:14] nullnotnil commented on #14507
I have updated the title to be a little bit clearer. This feature request is for TiKV to offload Levels `N` and higher to an object store. It will likely be independent of TiDB.

[2020-08-06 15:46] nullnotnil commented on #7188
Confirming that this has been fixed:
[code]

I am going to close this issue now. Thanks!

[2020-08-06 15:46] #7188 closed

[2020-08-06 15:51] nullnotnil commented on #7023
This has been fixed in master. MySQL does not show a warning when casting inside a join, but I think that is fine, since it does in other contexts (such as `select 1 = '1-2';`) :

[code]

Vs MySQL 8.0:
[code]

Same also in MySQL 5.7:
[code]

I am going to close this issue now. Thanks!

[2020-08-06 15:51] #7023 closed

[2020-08-06 15:52] nullnotnil commented on #7519
New collations are now available, and documented at https://docs.pingcap.com/tidb/stable/character-set-and-collation#new-framework-for-collations

I am going to reclose this issue. Thanks!

[2020-08-06 15:52] #7519 closed

[2020-08-06 15:53] nullnotnil commented on #13485
Should this be closed as a duplicate of https://github.com/pingcap/tidb/issues/18548 ?

[2020-08-06 15:56] #7085 closed

[2020-08-06 15:57] nullnotnil commented on #7085
This will be collation dependent (NOPAD attribute). But for now, TiDB has MySQL 5.7 semantics. MySQL 8.0 changes this.

[2020-08-06 16:04] nullnotnil commented on #15403
This predates MySQL 8.0. InnoDB will promote the first not-null unique key to a primary key. I am going to mark this as a duplicate of: https://github.com/pingcap/tidb/issues/13635

I have proposed closing https://github.com/pingcap/tidb/issues/13635 as won't fix. Please comment if you agree/disagree. Thanks!

[2020-08-06 16:52] nullnotnil commented on #13001
This makes sense to me. I would also propose that `_row_id` be added as an alias of `_tidb_rowid`, since with this change TiDB can be MySQL compatible.

[2020-08-06 16:55] nullnotnil commented on #9201
@WangXiangUSTC can this issue be closed?

[2020-08-06 17:19] #7822 closed

[2020-08-06 17:25] nullnotnil commented on #11653
I believe this was fixed in https://github.com/pingcap/tidb/pull/14510 ?

[2020-08-06 17:31] nullnotnil commented on #16893
I think the best way to do this is with: https://github.com/pingcap/tidb/issues/18672

If you can specify an `AS OF TIMESTAMP` for each table, and for the time use a helper function of `experimental_follower_read_timestamp()`, that would allow a replica read to be used.

[2020-08-06 17:40] nullnotnil commented on #14297
Confirming this is still an issue in master:
[code]

[2020-08-06 17:52] nullnotnil commented on #18989
I believe the reason why this is broken, is because `tidb_force_priority` is intended to be of instance scope, but the configuration system doesn't natively handle such.

i.e. if you issue `SET GLOBAL`, it propagates to all other TiDB servers in the cluster, which does not really make sense for setting priority. But when you set it to `SET SESSION`, it also applies to other sessions on the same in

[2020-08-06 18:39] nullnotnil commented on #6116
Including a pasteable testcase:
[code]
Vs MySQL:

[code]

[2020-08-06 18:54] nullnotnil commented on #14607
As well as `sys.schema_unused_indexes`, the forks of MySQL also have this feature in index_statistics / user_statistics etc: https://www.percona.com/doc/percona-server/LATEST/diagnostics/user_stats.html

The advantage of copying one of these two designs, there are tools like `percona-toolkit` that understand how to read this metadata.

[2020-08-06 18:55] nullnotnil commented on #8124
There is also a separate issue where the user variables used in prepared statements do not support upper case: https://github.com/pingcap/tidb/issues/18912

[2020-08-06 19:13] nullnotnil commented on #14492
I am going to close this as a duplicate since it is a subset of https://github.com/pingcap/tidb/issues/18283

Please feel free to re-open if you have any additional questions. Thanks!

[2020-08-06 19:13] #14492 closed

[2020-08-06 19:16] nullnotnil commented on #4295
I am going to close this issue as stale. It is not something that is explicitly supported, but it should be possible to build TiDB on Windows with WSL. Thanks!

[2020-08-06 19:16] #4295 closed

[2020-08-06 19:23] nullnotnil commented on #737
I have verified that the C/C++ and PHP connectors work as expected.

[2020-08-06 19:34] #737 closed

[2020-08-06 20:01] nullnotnil commented on #15778
I actually feel the other way, and like that it shows the default port at: https://github.com/pingcap/tidb/blob/master/docs/tidb_http_api.md

Most users are not likely to change the ports.

But the way some of the most recent examples in the manual show it is probably the best way. [On this page](https://docs.pingcap.com/tidb/stable/tidb-monitoring-api), it shows the convention is `http://${host}:

[2020-08-06 20:04] nullnotnil commented on #14586
I believe this is caused by the same problem as https://github.com/pingcap/tidb/issues/18989

See [my explanation](https://github.com/pingcap/tidb/issues/18989#issuecomment-670083360)  on what I think causes this. I believe the MySQL-like name for server scope is "instance". There is a FR for it here: https://github.com/pingcap/tidb/issues/9298

[2020-08-06 20:17] nullnotnil commented on #2120
This was partially fixed in https://github.com/pingcap/tidb/pull/8711

There is a known bug where it is not guaranteed that ongoing requests would finish: https://github.com/pingcap/tidb/issues/13369

I am going to close this issue as a duplicate, as https://github.com/pingcap/tidb/issues/13369 supersedes this with a similar request.

[2020-08-06 20:17] #2120 closed

[2020-08-06 20:22] nullnotnil commented on #13830
This has been fixed. TiDB now uses a hash table (map) as well.

[2020-08-06 20:22] #13830 closed

[2020-08-06 20:32] nullnotnil commented on #13987
I think it is better to handle this in the application since I suspect a not-fully-unique UNIQUE index makes it hard for the optimizer to plan things successfully.

There are a couple of things you can do to manage this:

1. Before you add the unique index, run `SELECT <unique-key>, COUNT(*) FROM your_table GROUP BY <unique-key> HAVING COUNT > 1`. Then attempt to fix these records.

2. Add a new c

[2020-08-06 20:58] nullnotnil commented on #5819
Confirming that this bug has been fixed:
[code]

I am going to close this issue now. Thanks!

[2020-08-06 20:58] #5819 closed

[2020-08-06 21:03] nullnotnil commented on #16945
Confirming that this issue still exists against master:
[code]

[2020-08-06 21:18] nullnotnil commented on #17078
This appears to be fixed in master:
[code]

I am going to close this issue now. Thanks!

[2020-08-06 21:18] #17078 closed

[2020-08-06 21:20] nullnotnil commented on #17169
This has been fixed in master:
[code]

I am going to close this issue now. Thanks!

[2020-08-06 21:20] #17169 closed

[2020-08-06 21:29] nullnotnil commented on #17290
I have removed bug, and just marked this as a compatibility issue. TiDB is currently behaving the same as MySQL 5.7 does:
[code]

[2020-08-06 21:44] nullnotnil commented on #12065
I believe this is a duplicate of https://github.com/pingcap/tidb/issues/3773

[2020-08-06 22:09] nullnotnil commented on #18820
Thanks @gejibin

I am going to close this as a duplicate of https://github.com/pingcap/tidb/issues/18426 - please subscribe to this issue for updates. Thanks!

[2020-08-06 22:09] #18820 closed

[2020-08-06 22:18] nullnotnil commented on #14699
I am going to close this issue as a duplicate of #1109. Please subscribe to updates in this issue to track the progress. Thanks!

[2020-08-06 22:18] #14699 closed

[2020-08-07 01:08] nullnotnil commented on #14148
There are a few other ways of solving this depending on what problem you are trying to solve:

1) The concept of a "service user" - Percona server had something like this at one point. Basically it is a user set in configuration which can not be deleted. The use-case was for DBaaS.

2) An "admin only port" - a separate port that is available only for admin users, but speaks the MySQL protocol. Thi

[2020-08-07 01:23] nullnotnil commented on #11645
Verifying against master, it looks like most of these are fixed. The following is still incorrect, however:
[code]

TiDB also does not trigger any warnings. Statements 3-4 and 6-7 produce warnings in MySQL.

[2020-08-07 01:37] nullnotnil commented on #8844
I believe the original cases are all fixed, but the hash-join case is not fixed.

Original testcase:

[code]

Hash join case:

[code]

The third column should be `NULL` and not zero.

[2020-08-07 01:54] zz-jason commented on #18566
It exposes another issue: we can reduce the logs of `Duplicate entry` error.

[2020-08-07 02:06] zz-jason opened #19052 "reduce the log of `Duplicate entry` error"
## Reproduce Step

[code]

the log printed for the last insert statement:

[code]

1 failed SQL (`Duplicate entry`) causes 2 warning, 1 error, 1 info log.

## Goals

the goal of this task is to reduce the log when `Duplicate entry` error happens.

[2020-08-07 02:09] zz-jason opened #19053 "Reduce TiDB Log Size"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB log expands too fast. For example, in a `create table` statement, 1 SQL can cause 12 logs in the log file (https://github.com/pingcap/tidb/issues/15807). Storing too many logs brings a heavy maintenance overhead.

some known issues (sub-tasks):

- [ ] https://github.com/pingcap/tidb/issues/19052 reduce the

[2020-08-07 02:20] zz-jason commented on #17508
I'm going to close it since it's duplicated and lack of discussion. Let's track the issue and discuss it here: https://github.com/pingcap/tidb/issues/14607

[2020-08-07 02:20] #17508 closed

[2020-08-07 02:24] bobotu opened #19054 "Data race when Update -> IndexLookUp -> UnionScan"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
A new test case added in #19042.

[code]

### 2. What did you expect to see? (Required)
No data race.

### 3. What did you see instead (Required)
#### master
[code]

#### release-4.0
[code]

### 4. Affected version (Required)

master, release-4.0

### 5. Root Cause Analysis

[2020-08-07 02:26] nullnotnil commented on #19052
To me, this is a "client error". i.e. the server hasn't done anything wrong, the client has tried to do something that the server is designed to protect against.

It would be nice to track client errors / statistics in a way that does not pollute the server's log file. See https://github.com/pingcap/tidb/issues/14433 for example.

[2020-08-07 02:26] zz-jason commented on #14998
I'm going to close this issue since it's duplicated with https://github.com/pingcap/tidb/issues/14607 and lack of discussion. let's trace the progress and discuss it in https://github.com/pingcap/tidb/issues/14607

[2020-08-07 02:26] #14998 closed

[2020-08-07 02:31] WangXiangUSTC commented on #9201
@nullnotnil OK

[2020-08-07 02:31] #9201 closed

[2020-08-07 02:47] nullnotnil commented on #7764
I am going to close this issue as stale, but please feel free to re-open if you can reproduce. Thanks!

[2020-08-07 02:47] #7764 closed

[2020-08-07 03:04] zz-jason commented on #18566
I noticed that it's a P0 sub-task in https://github.com/pingcap/tidb/issues/18084, also we'd better backport this security improvement to release 4.0

[2020-08-07 03:34] zz-jason commented on #18566
we also need to consider the `debug` level logs.

[2020-08-07 03:36] zz-jason commented on #18566
the privilege of turning the global variable `tidb_log_desensitization` also needs careful design. for example, only users with `super` privilege can turn on or turn off this variable.

[2020-08-07 03:39] nullnotnil commented on #18566
I think it might be more practical to document that it is only supported for `INFO` and higher levels? Debug implies verbose, so as a user I don't have a full expectation I can have both. But for safety, it might be useful to handle this in config check, and refuse to allow `DEBUG` if `tidb_log_desensitization` is enabled.

[2020-08-07 04:09] XuHuaiyu commented on #19045
fixed

[2020-08-07 04:09] #19045 closed

[2020-08-07 04:10] XuHuaiyu commented on #19012
Fixed

[2020-08-07 04:10] #19012 closed

[2020-08-07 06:05] #18908 closed

[2020-08-07 06:10] lance6716 commented on #19054
/label sig/transaction

[2020-08-07 06:10] bb7133 commented on #19001
PTAL @tangenta

[2020-08-07 06:27] #10842 closed

[2020-08-07 06:56] SunRunAway opened #19061 "Provide a performance benchmark report for IN function with million arguments"
## Development Task

We have already resolved https://github.com/pingcap/tidb/issues/12970 providing the optimization of IN function by involving hash map, but this work lacks a performance benchmark report.
It is appreciated to provide a performance benchmark report showing the speed improvement, CPU usage and memory usage.

[2020-08-07 08:42] ekexium opened #19063 "Insert on duplicate key update does not return error when there is conflict"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t ( c_int int, c_string varchar(40) collate utf8mb4_bin , primary key (c_string), unique key (c_int));

[code]

### 2. What did you expect to see? (Required)

For the insert statement, it should return:

[code]

The select statement should return:

[code]

###

[2020-08-07 08:45] cfzjywxk commented on #19063
release-4.0 branch with commit "7cac557b024f0aaca6825193477e5e6daea7055b" dose not reproduce this problem,
master branch has this problem