[2018-07-23 17:32] zhexuany commented on #6978
closing

[2018-07-23 17:32] #6978 closed

[2018-07-23 17:32] zhexuany commented on #7030
closing

[2018-07-23 17:32] #7030 closed

[2018-07-24 02:12] mail2fish commented on #7131
After checked the tidb master code.  The error  code  has changed since
[code]

to

[code]

Is that mean the error is caused by this?

ERROR 9006 (HY000): GC life time is shorter than transaction duration

The interval of GC Life Time is too short. The data that should have been read by long transactions might be deleted. You can add GC Life Time using the following command:

update mysql.tidb set

[2018-07-24 03:49] #7079 closed

[2018-07-24 07:08] spongedu commented on #7085
@zz-jason actually `VARCHAR` type is only affected when compare, but  `CHAR` is affected everywhere.

[2018-07-24 07:44] shenli opened #7137 "Make the concepts of `Table`/`Partition`/`TablePartition`/`PartitionedTable` more clear"
There are many concepts introduced during we implement the partitioned table. We should reconsider them and make them more clear.
I am quite confused with some comments/function-names/argument-names in our code.

[2018-07-24 09:02] 474420502 opened #7140 "pd server timeout?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?
sys-log = false.
pd server timeout.
insert and update can trigger it once in a while.
![error](https://user-images.githubusercontent.com/9397764/43127911-3cd16ff0-8f63-11e8-817a-5db431b6e253.p

[2018-07-24 09:36] disksing commented on #7140
Hi @474420502 , could you also check the error log of tidb-server? BTW, if you have installed prometheus and grafana, please check `TiDB - PD Client - PD Client CMD Fail OPS` to determine the specific error type.

[2018-07-24 10:14] 474420502 commented on #7140
@disksing i set sys-log = true; and all ok !
but i can't  try it again, it is Production Environment;

[2018-07-24 12:18] ciscoxll opened #7146 "traverse table constraints and set column flag errors"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

    An error was found in the set Column Flag `MultipleKeyFlag`.

2. What did you expect to see?
* mysql
[code]

3. What did you see instead?

* tidb
[code]
* tidb log
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_v

[2018-07-25 03:48] mail2fish commented on #7131
@coocood  Do you know what is the exactly problem for the above error?

[2018-07-25 06:19] 474420502 commented on #7140
@disksing
raftstore:
  # true (default value) for high reliability, this can prevent data loss when power failure.
  sync-log: true

[2018-07-25 06:20] 474420502 commented on #7140
sorry !  sync-log is right.

[2018-07-25 06:50] Darren opened #7148 "updateStatsWorker got runtime error: index out of range"
tidb version:

[code]

stack:

[code]

[2018-07-25 07:00] zimulala commented on #7148
PTAL @lamxTyler

[2018-07-25 07:05] zimulala commented on #7148
@Darren
Thanks for your report!

[2018-07-25 07:08] lamxTyler commented on #7148
@Darren  It will be fixed by https://github.com/pingcap/tidb/pull/7128.

[2018-07-25 07:53] 474420502 commented on #7140
![1](https://user-images.githubusercontent.com/9397764/43186945-cfad1562-9022-11e8-81b2-753c5fdef11e.png)
@disksing

[2018-07-25 08:47] zz-jason opened #7153 "need to handle "ER_WARN_ALLOWED_PACKET_OVERFLOWED" for some string functions"
Take this as an example:
[code]

In MySQL, the result is NULL and a warning about **"Result of rpad() was larger than max_allowed_packet"** is returned:
[code]

In TiDB, this query results in a "lost connection" and the panic is **"runtime error: makeslice: len out of range"**, and the panic stack is:
[code]

What we need to do is **not** allocate a buffer larger than **"max_allowed_packet"** for

[2018-07-25 09:02] CrazyNash opened #7154 "No database selected"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

**proxysql (Two instances) + Tidb (Three instances)**

[code]
**It's seems rare, only hit this once, can't recreate after many times retries later.**

2. What did you expect to see?

select works

3. What did you see instead?

error

4. What version of

[2018-07-25 09:31] tiancaiamao commented on #7154
Maybe something is wrong with the proxy, try to connect TiDB directly to verify it.

[2018-07-25 14:41] #7061 closed

[2018-07-25 14:41] #7064 closed

[2018-07-25 14:42] holys opened #7158 "default value for text/blob/json type"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

| Release Version: v2.0.0
Git Commit Hash: 637e130e6a9ba2e54e158131c0

[2018-07-25 16:44] Darren opened #7159 "is this memory leak?"
In issue #7089 we met tidb-server OOM, I tried to find a recipe to reproduce, here's what I got:

1. start tidb-server with mocktikv
2. create table like this:
[code]
3. popluate the table with 500000 rows of sample data
4. update the table parallelly
5. watch tidb-server memory usage when update starts
6. we test on a server with 32CPUs and 128G of ram, the memory usage:
[code]
7. tidb version:
[

[2018-07-25 17:21] tiancaiamao commented on #7159
Maybe the transaction never commit so TiDB hold all the data in the memory?
I'm not sure about the 'auto commit' session variable, but you can try to add some 'commit' statement during the batch insert.

If you start the binary with './tidb-server', take a look at the directory data size in '/tmp/tidb'.

[2018-07-25 17:24] Darren commented on #7159
the /tmp/tidb is small
[code]

[2018-07-25 17:45] tiancaiamao commented on #7159
I've reproduce it, thanks for your report. @Darren

[2018-07-25 19:33] diwakarpp opened #7160 "Performance comparison between TiDB and Vitess"
Hi,

Recently we migrated our https://thulya.com production database from MSSQL to TIDb to experiment. TiDb is definitely the best amongst several SQL and NoSQL systems we have tried/used. The installation using Ansible is so easy and seamless.  We have setup the cluster with total of 8 nodes and 4 in each DC (multi DCs) and 2 replicas in each DC. Its working brilliantly for the write queries and

[2018-07-25 23:03] ddorian commented on #7160
Because of the range-sharding, many joins/inserts/updates/deletes become cross-node, which is slow/inneficient. I'm assuming all the fast stuff that Vitess does are when querying/joining data that resides on the same node (so partitioned by same key). This works the same with CitusDB for example.

Assuming TiDB will introduce hash partitioning, it should be able to do the same. Currently, range-sh

[2018-07-26 00:41] Darren commented on #7159
I have tested it against latest tidb-server (b5f9b35a453a0b5f06fd4a7fa77b94f251e7716e),

the mem usage is much stabler, with 64 goroutines updating, the memory usage stop growing after it reaches 16GB.

I think the problem may have already been fixed.

[2018-07-26 00:50] Darren commented on #3421
batch delete is supported

[code]

see:

https://github.com/pingcap/tidb/blob/master/sessionctx/variable/tidb_vars.go

[2018-07-26 00:50] #3421 closed

[2018-07-26 01:11] shenli commented on #7160
@diwakarpp Thanks for your feedback!
We do not have any performance comparison with Vitess. You can find some benchmark result [here](https://github.com/pingcap/docs/tree/master/benchmark) including sysbench/tpc-h.

As you said, some join queries are slow. Would you like to show us your schemas and queries? Maybe we could give you some advice.

[2018-07-26 01:57] c4pt0r commented on #7160
Hi, @diwakarpp I'm the architect of TiDB, and I think I'm quite familiar with Vitess too.
from the architecture we can see, Vitess is a MySQL sharding solution, like a proxy on top of MySQL, because of that, it's really hard for vitess to handle cross-shard join or subquery (that means you need to build a full-featured SQL optimizer to do that.), it's OK for some complex queries that happen in a s

[2018-07-26 02:36] CrazyNash commented on #7154
@zimulala @tiancaiamao unfortunately, the cluster was destroyed. I am closing this first, come back later if hit this again.

[2018-07-26 02:36] #7154 closed

[2018-07-26 02:53] Darren commented on #7089
before #7108 is merged, the following sql returns incorrect result.

[code]

now it returns correct result!

[2018-07-26 03:10] zimulala commented on #7089
@Darren Thanks for your report!
@XuHuaiyu PTAL

[2018-07-26 03:15] diwakarpp commented on #7160
Hi @ddorian , @shenli and @c4pt0r  thanks a lot for the detailed inputs. I think Vitess has many pitfalls in their approach and architecture. We have done good decision by migrating our db to TiDb rather than Vitess. TiDb seems to be quite stable and resilient and we will fine tune it to handle the complex joins (e.g: conditional match and inner join between 8 tables or 10 tables in some instances

[2018-07-26 03:21] diwakarpp commented on #7160
(4) Currently we did not enable big logs.
   4.1 If we enable bin logs, will it impact the performance of the cluster or queries?
   4.2. Is there any query that we can run from the mysql client to fetch the binlogs from the cluster or should we read it from each node?
   4.3. Also, how long the bin logs will be present for our data sync with Elasticsearch ?
   4.4. During our data sync, how to ma

[2018-07-26 03:51] Darren commented on #7159
@tiancaiamao

After #7108 is merged, it is not reproducible with tidb-server tip.

I just want to know why tidb-server memory usage grows out of boundary if many expensive SQLs are being executed on the server.

Is it still possible that some bad written SQLs (like full table scan) in the application code cause tidb-server OOM again?

[2018-07-26 05:19] tiancaiamao commented on #7159
Hi, @Darren

Good catch!

I'm still investigating it, we need to find why the OOM happen before reaching a conclusion.
B.T.W, the SQL in the test code is not expensive query.

Probably. full table scan and some heavy hash join operation will cause tidb-server OOM.
We have some session variable to control the concurrency, and some session variable to limit a session's memory usage.

In the latest t

[2018-07-26 06:34] alexv1 opened #7161 "tidb backup error, Lost connection"
Please answer these questions before submitting your issue. Thanks!
the issue is same with [Lost connection while export using mydumper](https://github.com/pingcap/tidb/issues/5267)

1. What did you do?
`sudo nohup mydumper -h 127.0.01 -u root -p 12345-P 4000 -t 16 -F 64 -B gongshang -T company --skip-tz-utc -o /data/export/gongshang >> ./task.log 2>& 1 &`

when i login to tidb to run 'show proces

[2018-07-26 06:42] zimulala commented on #7161
@alexv1
Thanks for your report!
Could you show me the TiDB log when you encounter this error?

[2018-07-26 07:09] alexv1 commented on #7161
which log file
![_15325884928471](https://user-images.githubusercontent.com/5744909/43246942-d138f824-90e5-11e8-9287-c52bd8d4f828.png)

[2018-07-26 07:36] zimulala commented on #7161
@alexv1
Those logs with the prefix of `tidb-2018-07-` or `tidb.log`.  I don‘t know when you encounter this error. If you find the error on the 25th, then the log is `tidb-2018-07-25T*` or `tidb.log`. Then you can confirm the log file by the specific time. If you find the error on the 26th, then the log is `tidb.log`.

[2018-07-26 07:53] tiancaiamao commented on #7159
Before https://github.com/pingcap/tidb/pull/7108, the OOM is caused by the high concurrent full table scan, and related things are already explained in issue https://github.com/pingcap/tidb/issues/7089

Then, after running the test, I found tidb-server process will still take about 600M memory on my machine, and I suspected maybe there are leaks somewhere.

Now I confirmed that it's caused by mock

[2018-07-26 08:46] disksing commented on #7140
Hi @474420502 , during the time when error occurs, is the load of pd or tidb too high? Can you discover anything abnormal in log files of tidb and PD? In addition, is pd deployed on the same host as tikv, causing disk i/o contention?

[2018-07-26 09:32] alexv1 commented on #7161
@zimulala
when error happened

[code]
[shell.txt](https://github.com/pingcap/tidb/files/2231324/shell.txt)

[2018-07-26 12:02] #7034 closed

[2018-07-26 12:03] 474420502 commented on #7140
insert 70 per seconds and update 70 per seconds . io very low; when i setting sync-log = true, that is all running well. i want not to see the log. i must solve this problem in a time.
@disksing

[2018-07-26 12:17] winoros commented on #7085
@spongedu Oh yes, it's typo.

[2018-07-27 01:50] alexv1 commented on #7161
@zimulala
OOM，so I need to restart TiDB？

[2018-07-27 02:33] tiancaiamao commented on #7161
Did you deploy TiDB using ansible? If so, you need to do nothing. TiDB will restart automatically when it's killed.

[2018-07-27 03:48] alexv1 commented on #7161
@tiancaiamao
1. ansible deployed
2. restarted tidb，and change -t to 1，it was running over 30 minutes and exit with error
[code]

[2018-07-27 04:20] #7159 closed

[2018-07-27 05:59] zimulala commented on #7161
@alexv1
I think you need to extend the GC time.
How long does it take for you to run the longest transaction? And do you need to use the previous transaction TS to read the data?

[2018-07-27 08:35] tiancaiamao commented on #7161
@alexv1
Set GC time with this command:
[code]

When your dump finish, don't forget to set it back.
Chinese document [here](https://pingcap.github.io/docs-cn/op-guide/gc/)

[2018-07-27 11:44] diwakarpp commented on #7160
Hi, I would appreciate your reply for the above aspects. Do you want me to create separate thread for the above aspects? Thanks and regards.

[2018-07-27 12:33] birdstorm commented on #7115
@coocood This should be a problem with your locale.
Please set your locale to zh_CN.UTF-8 and you will reproduce this.
![image](https://user-images.githubusercontent.com/15857134/43320801-4f10b966-91dc-11e8-8a8e-d2bb6efab05c.png)
Confirmed with @winoros

[2018-07-27 12:53] lysu opened #7176 "update table left join with an auto_increment column table failure"
1. What did you do?

[code]

2. What did you expect to see?

update success

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

Release Version: v2.0.5

[2018-07-27 15:16] #7140 closed

[2018-07-27 19:11] diwakarpp commented on #7160
I know you guys might be very busy or not available currently. Its a concern that there are no replies even after 2 business days since my above questions. This is a concern for us to use TiDb in production. Whereas Vitess team are responding to our queries quicker and in most cases instantly.

[2018-07-28 00:43] c4pt0r commented on #7160
Sorry for the late response, I was on a business trip yesterday. I'm preparing the answers now, will post soon.

[2018-07-28 09:00] c4pt0r commented on #7160
@diwakarpp

TiDB splits data in multiple regions(96MB), every region has 3 replicas by default, PD will place the replcas in different machines/racks/DCs, but only *leader replica* will handle the traffic, we can specify all the region leaders in one datacenter, so JOINs will not fetch data from different DCs.

It matters, but it only affects the scheduling strategy and HA, if you have multiple DC

[2018-07-28 11:44] diwakarpp commented on #7160
Hi @c4pt0r , thank you very much for your detailed reply. Its helpful and much appreciated.

Could you pl confirm the below so we will proceed to configure and test them?

(1) How to configure Ansible or TiDb yaml to specify all the region leaders within the same datacenter (for the joins to work within the same DC)? Could you pl give any write up/reference for this one.

We have two DCs. In our A

[2018-07-28 18:56] shenli commented on #7160
@diwakarpp
For question 1:
You can use pd-ctl to add scheduling strategy to make all the leaders in the same IDC. Please refer to the [document](https://github.com/pingcap/docs/blob/master/tools/pd-control.md#scheduler-show--add--remove). In this case, I think you can use `scheduler add evict-leader-scheduler storeID` to evict leaders from the other IDC.
BTW: I recommend you to set max-replicas to

[2018-07-29 04:49] #7127 closed

[2018-07-29 14:01] shenli commented on #7158
@ciscoxll Any update?

[2018-07-29 15:17] c4pt0r commented on #7160
@diwakarpp Happy to hear that! Please feel free to contact me via email, huang@pingcap.com :)

[2018-07-30 02:56] ciscoxll commented on #7158
mysql
[code]

master branch
[code]

[2018-07-30 03:49] wsabc01 opened #7179 "datetime column default value detection is different from mysql"
####mysql
[code]
####tidb
[code]

[2018-07-30 05:48] #7075 closed

[2018-07-30 05:51] mccxj opened #7182 "connection verification is diff from mysql"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

mysql:
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-07-30 06:42] liubo0127 opened #7183 "kill tidb query id can't terminates the statement the connection is currently executing"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
`kill tidb query id`

2. What did you expect to see?
It can terminates the statement the connection is currently executing.

3. What did you see instead?
When 'kill tidb query id' is executed, DML still execute.

4. What version of TiDB are you using (`t

[2018-07-30 06:47] supernan1994 commented on #7153
I wanna take to_base64 and from_base64, I will start when #7171 is merged

[2018-07-30 06:48] zz-jason commented on #7153
@supernan1994 Thanks for your participating! We'll merge #7171 as soon as possible 😄

[2018-07-30 07:50] tiancaiamao commented on #7179
Hi, @wsabc01
If you test in MySQL like this, you'll get the same result with TiDB:

[code]

`1970-00-00` is not a valid time if `NO_ZERO_IN_DATE` is set, and that is the default setting in TiDB.
So, it's not the column default value detection, but the different SQL_MODE that affects.

[2018-07-30 07:52] alexv1 commented on #6900
最新情况，查询性能突然变好了，新的查询计划如下。问题关闭吧，还是很困扰......
"id"	"parents"	"children"	"task"	"operator info"	"count"
"IndexScan_94"	""	""	"cop"	"table:t1, index:name, sourceflag, range:[xxx,xxx], keep order:false"	"26983.34"
"IndexReader_95"	"IndexJoin_69"	""	"root"	"index:IndexScan_94"	"26983.34"
"IndexScan_66"	""	""	"cop"	"table:t2, index:staff_id, range:[<nil>,+inf], keep order:false"	"120412608.00"
"TableScan_6

[2018-07-30 07:54] winoros commented on #6900
@alexv1 The plan is changed. It was used to index join, but now hash join.

[2018-07-30 07:56] shenli commented on #6900
@alexv1 Have you upgraded your TiDB cluster？

[2018-07-30 09:14] yowner opened #7187 "Create function is error?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

CREATE FUNCTION `FN_UP_TRADEDAY`(
  endDay int(11),
  upDays int(11),
  marketx varchar(20)
) RETURNS int(11)
    READS SQL DATA
BEGIN

  declare beginDay int(11);
  declare days int(11) default upDays-1;

  select
    day into beginDay
  from t_tradeday
  where market = marketx and day <= endDay
  order by d

[2018-07-30 10:02] hustwk opened #7188 "'load data' problem from file whose lines separated by unicode string"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

The file 000000_2 contains fields terminated by unicode '\u0017', then

load data local infile '/root/test/test_table/000000_2' into table test.test_table fields TERMINATED by X'\11';
or
load data local infile '/root/test/test_table/000000_2' into table

[2018-07-30 10:20] shenlijungg opened #7189 "Resource isolation in TiDB"
HI：
   pingcap 团队。
想通过将多个垂直的数据库，合并到一个TIDB集群中。想实现资源的隔离，A团队的表的物理资源，不能影响到B团队表的物理资源。

[2018-07-30 10:36] tiancaiamao commented on #7189
One TiDB cluster can't achieve that goal, team A and team B will share the resources.
If you want those databases or tables to be strictly isolated, deploy them in different clusters.
@shenlijungg

[2018-07-30 10:46] shenlijungg commented on #7189
namespace 不行吗

[2018-07-30 10:50] shenli commented on #7189
`namespace` is deprecated.

[2018-07-30 12:45] birdstorm commented on #7115
Problem lies here
[check this line](https://github.com/pingcap/tidb/blob/48a42fe4242b9fb1e1d274bfe3c3b9df99eba43f/util/ranger/ranger.go#L425)

[code]

The ranger cut the prefix by its bytes.

@coocood

[2018-07-30 12:47] zimulala commented on #7188
@hustwk
Thanks for your report!
[code]
Could you show me the content of `000000_2` and the result of `show create table test.test_table`?

[2018-07-30 12:58] yowner commented on #7187
Oh, When will it be supported?

[2018-07-30 13:01] tiancaiamao commented on #7183
What's the query? @liubo0127

[2018-07-30 13:15] zimulala commented on #7187
@yowner
We don't support it, and it isn't on our roadmap now.

[2018-07-30 13:17] zz-jason commented on #7187
@yowner thanks for your feedback, TiDB does not support UDF/UDAF/UDTF currently, maybe you can try TiSpark on these OLAP features as a workaround.

[2018-07-30 13:38] tiancaiamao commented on #7182
Thanks for your feedback, I'll take a look. @mccxj

[2018-07-30 13:44] #7187 closed

[2018-07-30 15:07] coocood commented on #7115
@birdstorm
Good job!

@winoros PTAL

[2018-07-30 15:10] spongedu opened #7195 "Complete correctness for system variables"
In #7117 we add a framework to validate input when set system variables, but not all system variables are checked in that pr because there are too much of them. We should complete these checks step by step.

What to do:
1.  Find out the specific limitation in [MySQL system variable reference](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html)
2. Add related validation in method

[2018-07-30 15:12] spongedu commented on #7195
@shenli @zz-jason I think this issue can be marked as `for-new-contributors` ?

[2018-07-30 16:21] zz-jason commented on #7195
sure!

[2018-07-31 02:05] tiancaiamao commented on #7182
TiDB currently sort rows by 'host, user', that's the problem.
It should do it according to the following rules:

https://dev.mysql.com/doc/refman/8.0/en/connection-access.html
I'll fix it.

[2018-07-31 03:01] spongedu commented on #7195
#7196 deal with:
- [x] sql_select_limit
- [x] max_connect_errors
- [x] table_definition_cache
- [x] tmp_table_size
- [x] connect_timeout

[2018-07-31 04:51] hustwk commented on #7188
The simplest steps to reproducing the error.

step 1: create test_table
`create database test;
use test;
CREATE TABLE `test_table` (
  `key` varchar(12) NOT NULL,
  `value` varchar(8) NOT NULL
);`

step2: generate test.data, run bash command
`printf key'\x11'value > test.data`

check the column separator is 0x11 in hex or 021 in octal format:
`# cat test.data |hexdump -c
0000000   k   e   y 021

[2018-07-31 06:06] ngaut opened #7199 "Some performance optimization for sysbench point select"
I am doing point select with sysbench, and profiling tidb-server. And found something interesting.

(pprof) top20 -cum readOnePacket
Active filters:
   focus=readOnePacket
Showing nodes accounting for 3.17s, 4.91% of 64.58s total
Dropped 22 nodes (cum <= 0.32s)
Showing top 20 nodes out of 49
      flat  flat%   sum%        cum   cum%
         0     0%     0%      4.62s  7.15%  github.com/pingcap/t

[2018-07-31 06:08] ngaut commented on #7199
bench command:
oltp_point_select.lua --db-driver=mysql --mysql-host=127.0.0.1 --mysql-port=4000 --mysql-user=root --mysql-password="" --mysql-db=test --tables=1 --table-size=10000000 --report-interval=3 --threads=512 --time=600 run

[2018-07-31 06:11] ngaut commented on #7199
The whole profile list:

(pprof) top100 -cum
Showing nodes accounting for 28.40s, 43.98% of 64.58s total
Dropped 611 nodes (cum <= 0.32s)
Showing top 100 nodes out of 251
      flat  flat%   sum%        cum   cum%
         0     0%     0%     44.54s 68.97%  github.com/pingcap/tidb/server.(*Server).onConn
     0.23s  0.36%  0.36%     44.54s 68.97%  github.com/pingcap/tidb/server.(*clientConn).Run

[2018-07-31 06:20] XuHuaiyu opened #7200 "select big_unsigned_int union decimal differ from mysql"
Please answer these questions before submitting your issue. Thanks!

[db.txt](https://github.com/pingcap/tidb/files/2243985/db.txt)

result of TiDB
[code]

result of MySQL:
[code]

tidb_version:
tidb> select tidb_version();
[code]

[2018-07-31 06:30] #7148 closed

[2018-07-31 07:09] Darren commented on #7189
@tiancaiamao
when you say different clusters. do you mean cluster with whole set of tidb/tikv/pd, or just tidb-server or just tidb-server instance?

[2018-07-31 07:15] zz-jason commented on #7153
@supernan1994 friendly ping, #7171 has been merged.

[2018-07-31 07:50] supernan1994 commented on #7153
@zz-jason Got it!

[2018-07-31 08:14] #7115 closed

[2018-07-31 08:55] zz-jason opened #7205 "transform semi join to inner join"
Take this query as an example:
[code]

The plan for this query can be:
<img width="392" alt="2018-07-31 16 36 18" src="https://user-images.githubusercontent.com/5268763/43448284-20488936-94e0-11e8-892b-e0b1edaa7d53.png">

Here the above "semi join" can be transformed to an "inner join":
<img width="411" alt="2018-07-31 16 42 43" src="https://user-images.githubusercontent.com/5268763/43448547-d4012

[2018-07-31 08:57] winoros commented on #7205
It depends on stats so i think we'd better not add it in the current optimizer.

[2018-07-31 08:59] zz-jason commented on #7205
@winoros Yes, it's better after we have supported the volcano or cascades planner model.

[2018-07-31 10:04] ciscoxll commented on #7158
@morgo Thank you for your suggestion.

`No use sql_mode`
[code]

`set sql_mode=''`
[code]

[2018-07-31 12:47] laidahe commented on #7195
Is there any other system variables need to add?  @spongedu

[2018-07-31 13:21] #7200 closed, assigned to lysu

[2018-07-31 13:55] spongedu commented on #7195
@laidahe you can take a look at https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html and #7196 ,  and find the remaining system variables in `sessionctx/variable/sysvar.go`

[2018-07-31 16:33] shenli commented on #7018
Any update?

[2018-07-31 18:20] birdstorm opened #7213 "Histogram calcFraction panics"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Reported by **TiSpark Jenkins CI**. You can check the full logs [here](https://internal.pingcap.net/jenkins/job/tispark_ghpr_integration_test/344/execution/node/46/log/?consoleFull)

2. What did you expect to see?

Pass the integration test.

3. What di

[2018-08-01 03:04] hustwk commented on #7188
Sine the default delimiter for Hive table files is **^A(ctrl-a)**, which is the **unicode '\u0001'**. So if we want to load existed hive tables files directly to TiDB, we should specify the fields **unicode** separator.
This may be common usage scenarios, and may have some best practices.
Do you have any suggestion?

[2018-08-01 05:37] #7213 closed

[2018-08-01 07:29] birdstorm opened #7221 "Cannot exit TiDB by Ctrl-C interrupt"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Kill `tidb-server` process by Ctrl-C

2. What did you expect to see?

`tidb-server` exiting normally.

3. What did you see instead?

Process hangs, and needs to be killed via kill with signal 9.
[code]

4. What version of TiDB are you using (`tidb-serve

[2018-08-01 07:33] ciscoxll opened #7222 "support drop index in range partition"
This is a new feature , support drop index with range type table partition.

[2018-08-01 08:03] ciscoxll opened #7223 "support rollback add index in range partition"
Support for `txn` rollback and retry when partitioning tables are not allowed to add indexes.

[2018-08-01 08:59] birdstorm opened #7226 "Join on index has incorrect range and will contain NULL value"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Make a simple join test which has NULL value with this file. [IndexTest.txt](https://github.com/pingcap/tidb/files/2248750/IndexTest.txt)
[code]

2. What did you expect to see?

[code]

3. What did you see instead?
[code]

[code]

You can see that the r

[2018-08-01 09:04] zhexuany commented on #7226
@winoros It seems you are the right person to ping.

[2018-08-01 09:35] tiancaiamao opened #7229 "Check how MySQL sort privilege cache items exactly"
https://github.com/pingcap/tidb/pull/7211 try to sort the user records according to the document https://dev.mysql.com/doc/refman/5.5/en/connection-access.html

The document missing many details, so maybe we should check the MySQL source code to see how to do it.

[2018-08-01 09:35] tiancaiamao commented on #7229
@XuHuaiyu

[2018-08-01 12:54] lysu opened #7237 "update subquery table should be forbidden"
1. What did you do?

prepare two table and a record.

[code]
update b using

[code]
2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-08-02 01:25] shenlijungg commented on #7189
就一个tidb 集群，能否实现2个库互相不影响呢

[2018-08-02 04:28] gregwebs opened #7247 "Fix static analysis issues"
#7240 is showing many issues in static analysis. After that is merged, run `make check-fail`. The most important to fix is probably `errcheck` and `gosec`.

[2018-08-02 05:47] #7176 closed

[2018-08-02 06:11] zz-jason commented on #7226
@zhexuany The behavior of MergeJoin is not correct, I think you can take a look and try to fix it.

[2018-08-02 06:32] zz-jason commented on #7226
Seems like both "Index Join" and "Merge Join" have the same problem:
[code]

[2018-08-02 06:42] zz-jason commented on #7226
For "Merge Join", the compare function is gained from "util/chunk/compare.go":
[code]

And the behavior of `cmpNull` is:
[code]

In a word, these functions have this common behavior: **`NULL` is equal to `NULL`**. We should check whether the join key has any `NULL` value before comparison.

[2018-08-02 08:15] gutongjiang opened #7253 "Optimizer selected nested loop over hash join incorrectly"
I migrated mysql to tidb and executed the following sql statement. Found that tidb is much slower than mysql

`
select wallet.*,coin.name as coinName,coin.short_name as shortName
    from bae_coin.user_coin_wallet wallet
	LEFT JOIN bae_coin.system_coin_type coin on wallet.coin_id = coin.id
    where uid = 2 and coin.status != 2 order by coin.sort_id
`

mysql: 0.21 sec;
tidb: 11.21 sec;

table user

[2018-08-02 08:18] winoros commented on #7253
@gutongjiang Thanks for your reporting!
Could you show me the explain result of this sql?

[2018-08-02 08:18] jackysp commented on #7253
Hi @gutongjiang , thanks for your report! Please show your `explain` results.

[2018-08-02 08:34] birdstorm commented on #7221
@jackysp TiKV

[2018-08-02 08:36] winoros commented on #7253
@gutongjiang No, TiDB can transform the outer join to inner join automatically.
The plan seems correct.
I need more information to figure out why it's so slow.
1. What's the row count after join.
2. Will condition `uid = 2` filter out too many row?
3. If `2.` is true, is there a index whose prefix is (uid, coin_id) or (coin_id, uid)

[2018-08-02 08:53] gutongjiang commented on #7253
@winoros
1. 26
2. yes
3. yes

[2018-08-02 09:18] winoros commented on #7253
@gutongjiang What if you use index to force choose that index?
And you can use `select tidb_version()` to get the tidb information and paster it here.

[2018-08-02 09:27] gutongjiang commented on #7253
| tidb_version()
Release Version: v2.0.5
Git Commit Hash: 43ab80012ae6a154e221e124a2ad3a396f0de822
Git Branch: release-2.0
UTC Build Time: 2018-07-06 08:52:37
GoVersion: go version go1.10.2 linux/amd64
TiKV Min Version: 2.0.0-rc.4.1 |

[2018-08-02 09:28] gutongjiang commented on #7253
i dont understand your mean.

[2018-08-02 09:31] winoros commented on #7253
@gutongjiang If the name the index whose prefix is (uid, coin_id) or (coin_id, uid)is `idx_name`. `use index (idx_name)` to force to choose that index.

[2018-08-02 11:12] winoros commented on #7253
@gutongjiang What's the explain result when there isn't `coin.status!=2`?

[2018-08-02 11:14] gutongjiang commented on #7253
![_20180802191253](https://user-images.githubusercontent.com/13601367/43580503-4b25a7c0-9688-11e8-8373-b4f496167acc.png)

[2018-08-02 12:35] gutongjiang commented on #7253
@winoros Thanks, It's works well, mail has been sent

[2018-08-02 13:25] serbaut commented on #7161
I am also seeing OOM when using mydumper on a 60GB database. The tidb-server machine has 32G ram.

The only tuning I have found is `mem-quota-query` but setting this doesn't seem to help. Lowering the number of dumper threads does help but there should be some other way to control the memory usage right?

[code]

[2018-08-02 13:32] shenli commented on #7161
@serbaut There are two ways to reduce the risk of OOM:
1. Reduce the thread number of mydumper.
2. Reduce the value of system variable `tidb_distsql_scan_concurrency`. I guess 5 is a safe number. The default value is 15.

We are trying to find a better way now.

[2018-08-02 14:25] serbaut commented on #7161
Ty @shenli I will try the system variable (should be basically the same as setting -t 5 when invoking mydumper right?).

[2018-08-02 14:33] shenli commented on #7161
@serbaut
For each query, tidb-server will load data from tikv-server with the degree of concurrency of `@@tidb_distsql_scan_concurrency`. For each thread of mydumper, there will be a query like `select * from t;`. So the total concurrency should be @@tidb_distsql_scan_concurrency * thread-number.
So reducing either of them could help to reduce the memory consumption of tidb-server.

Have you used

[2018-08-02 19:18] morgo opened #7267 "Support utf8mb4 as alias for utf8"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I tried to install wordpress using default options.  Because TiDB identifies itself as MySQL 5.7, wordpress defaults to using utf8mb4 as the character set.  The only customization I made was to enable debugging (which logs errors; I wanted to see if it complained about TiDB).

2. What did you expect to see?

[2018-08-03 00:45] shenli commented on #7267
@morgo I find that the root cause is that `utf8mb4` is missing in [this table](https://github.com/pingcap/tidb/blob/master/util/charset/encoding_table.go#L38). We should add it there.

[2018-08-03 01:47] hustwk commented on #7188
Three working days have passed, it seems that no one cares about this problem while I gave detailed description to reproduce the problem.
The community is not so active, but I would be very grateful if you can care about user’s questions.

[2018-08-03 01:52] shenli commented on #7188
@hustwk We are working on a release in recent days. We will investigate your issue soon.

[2018-08-03 01:54] morgo commented on #7267
If that's the case, I would like to attempt a patch :-)

I'm out tomorrow / Monday.  I'll attempt mid next week.

[2018-08-03 02:00] shenli commented on #7188
@hustwk I tried your case. But got an error:

ERROR 1105 (HY000): line 1 column 93 near "" (total length 93)
mysql>

[2018-08-03 02:41] jackysp commented on #7188
Sorry for the late reply @hustwk . We have a plan to improve the starting/terminated/separated/enclosed in load data in the future. This the unicode will be supported then.

[2018-08-03 02:41] hustwk commented on #7188
@shenli Thanks for your reply.
That is the problem. The same SQL can be executed correctly in MySQL while can **NOT** executed in TiDB. So we can not load files with unicode separator such as existed hive table files.

[2018-08-03 02:42] shenli commented on #7188
@hustwk Thanks! I have reproduced the issue. We will fix it.

[2018-08-03 02:45] hustwk commented on #7188
@jackysp Thanks for your reply. Glad to hear that and thanks for all your contribute!

[2018-08-03 08:39] jiancaiHub opened #7271 "auto-increment primary key setting error, leading to primary key auto-increment problem"
问题：自增主键自增异常

尝试设置自增步长为1解决问题，问题未能解决；
`SET auto_increment_increment=1;`

尝试删除数据库并重建，问题仍未能解决；

主键：
1
2
3
4
5
6
7
8
9
10
11
12
13
14
30001
30002
30003
30004
30005
30006
30007
30008
30009
30010
30011
30012
30013
30014
30015
30016
30017
30018
30019
30020
30021
30022
30023
30024
30025
30026
30027
30028
30029
30030
30031
60001
60002
60003
60004
60005
60006
60007
60008
60009
60010
60011
60012
60013
60014
6

[2018-08-03 08:47] ciscoxll commented on #7271
@jiancaiHub Thanks for your report!

[2018-08-03 08:51] ciscoxll commented on #7271
You can try ` RebaseAutoID `, you can use `alter tabletableName auto_increment = 1;`.

[2018-08-03 08:52] jebter opened #7272 "Tinyint type check error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

mysql> CREATE TABLE t1(a tinyint);
Query OK, 0 rows affected (0.02 sec)

mysql> INSERT INTO t1 VALUES ('-838:59:59.0000002');
ERROR 1264 (22003): Out of range value for column 'a' at row 1
mysql>

3. What did you see inst

[2018-08-03 09:05] ciscoxll commented on #7271
@jiancaiHub Do you have multiple tidb servers?

[2018-08-03 09:34] ciscoxll commented on #7271
@jiancaiHub The AUTO_INCREMENT ID is only guaranteed to be self-incrementing and unique, and does not guarantee continuous allocation.

[2018-08-03 09:35] zimulala commented on #7271
@jiancaiHub
You can refer to the [docs-cn](https://github.com/pingcap/docs-cn/blob/master/sql/mysql-compatibility.md#%E8%87%AA%E5%A2%9E-id).
And the step(5000) is out of date, now it's 30000. We will update this doc.

[2018-08-03 10:49] zimulala opened #7273 "Support showing currently running jobs when executing "admin show ddl""
After merging the PR of "preliminary support for the parallel DDL operation", the SQL that "admin show ddl" only can show the general jobs(except "add index" job). Hope can also support showing "add index" jobs.

[2018-08-03 12:14] SchopenhauerZhang opened #7275 "Grafana cannot be accessed normally"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
http://172.16.10.3:3000/

2. What did you expect to see?
open it and show the monitor .
打开浏览器，访问以下监控平台：

地址：http://172.16.10.3:3000， 默认帐户和密码为：admin@admin。

3. What did you see instead?

can not open the link "http://172.16.10.3:3000"   and pingcap  can r

[2018-08-03 12:22] ciscoxll commented on #7275
@SchopenhauerZhang Thanks for your report! How did you deploy it?

[2018-08-03 12:31] ciscoxll commented on #7275
@SchopenhauerZhang Maybe grafana service did not start successfully, you can refer to the [deployment document.](https://pingcap.com/docs-cn/op-guide/ansible-deployment/)

[2018-08-03 16:03] ciscoxll commented on #7272
@XuHuaiyu Please help to see.

[2018-08-04 10:03] ngaut opened #7278 "sysbench point select profile"
sysbench point select profile of tidb-server. I saw many many costs, we should do further optimization.

[azure-vm-point-select.tar.gz](https://github.com/pingcap/tidb/files/2259408/azure-vm-point-select.tar.gz)

[2018-08-05 12:24] zz-jason opened #7279 "handle more than one 'equal' or 'in' function for a column in ranger"
Take this as an example:
[code]

Now let's issue a query on column 'a':
[code]

As you can see, this results in a `IndexScan_8` followed by a `Selection_9`, and the query range in `IndexScan_8` is `[1,1], [3,3]`.

If we could handle more than one 'equal' or 'in' function for a column in the ranger, we can optimize the query to only one `IndexScan` with the query range `[1, 1]`.

In **"util/ranger/

[2018-08-06 04:29] shenli commented on #7278
@coocood PTAL

[2018-08-06 08:13] birdstorm commented on #7226
fixed by #7255

[2018-08-06 08:13] #7226 closed

[2018-08-06 08:17] jackysp opened #7284 "set character_set_results = null seems not work"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
Git Commit Hash: 7e48ab12846b2b3aaddb082c565800ae4b067f38
Git Branch: ma

[2018-08-07 05:47] zz-jason commented on #6886
Can not reproduce in the master branch:
[code]

[2018-08-07 05:47] #6886 closed

[2018-08-07 07:42] jackysp opened #7295 "create user identified WITH mysql_native_password not work"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
2. What did you expect to see?
It should be OK.

3. What did you see instead?
`createUser("'bug19354014user'@'%'", "identified WITH mysql_native_password");` return an syntax error. "java.sql.SQLException: line 1 column 50 near " mysql_native_pass

[2018-08-07 08:00] jackysp opened #7296 "Column type precision maybe wrong for binary type."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
No errors.

3. What did you see instead?
[code]
at
`assertEquals(32, rsmd.getPrecision(1));`
It may be easy to reproduce by client option `--column-type-info`

4. What version of TiDB are you using (`tidb-server -V`

[2018-08-07 08:13] jackysp opened #7297 "Column length is wrong for type set"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
No errors

3. What did you see instead?
[code]
for `assertEquals(maxValue.length(), this.rs.getInt("COLUMN_SIZE"));`

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-08-07 08:29] secmask opened #7299 "Does tidb support json_contains?"
1. What did you do?

query: select json_contains('[3,4]','4');

2. What did you expect to see?

`|1|`

3. What did you see instead?

FUNCTION json_contains does not exist

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

v2.0.6

we're trying to use TiDB in application, and I know that not all json function is supported, can I know when it/they will

[2018-08-07 08:39] jackysp commented on #7299
Thanks for your feedback, @secmask ! TiDB does not support `json_contains` now.

[2018-08-07 08:41] zz-jason opened #7300 "Support the `init_vector` argument for builtin function `AES_ENCRYPT`/`AES_DECRYPT`"
The MySQL document about builtin function `AES_ENCRYPT`/`AES_DECRYPT`:
- `AES_ENCRYPT`: https://dev.mysql.com/doc/refman/5.7/en/encryption-functions.html#function_aes-encrypt
- `AES_DECRYPT`: https://dev.mysql.com/doc/refman/5.7/en/encryption-functions.html#function_aes-decrypt

The function signature can be simplified as:
[code]

Currently, TiDB can only handle the first two arguments:
[code]

If

[2018-08-07 08:44] secmask commented on #7299
@jackysp thanks for quick answer, I have read thought issues and know that it does not support now. but, could you estimate when it will get support? because I need to know should I wait.

[2018-08-07 10:35] #7273 closed

[2018-08-07 14:44] morgo opened #7307 "server crash on GROUP BY indexed enum"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?

Not crash.

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-08-07 14:50] ciscoxll commented on #7307
@XuHuaiyu PTAL.

[2018-08-07 16:47] spongedu commented on #7085
details about the trailing spaces can be found here;
https://dev.mysql.com/doc/refman/5.7/en/char.html
https://dev.mysql.com/doc/refman/5.7/en/binary-varbinary.html
https://dev.mysql.com/doc/refman/5.7/en/blob.html

[2018-08-07 17:26] tiancaiamao opened #7308 "unique key disappear in the partitioned table"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Where is the the unique key gone:

[code]

3. What did you see instead?

Show create table should be the same with create table.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version

[2018-08-08 01:52] GHRuiLiu commented on #6359
I have the same problem,  have you solved it?
randread iops of deploy_dir disk is too low: 3110 < 8500, it is strongly recommended to use SSD disks for TiKV, TiDB and PD, or there might be performance issues

[2018-08-08 01:54] jampus commented on #6359
me too ...

[2018-08-08 02:39] LinuxGit commented on #6359
@jampus @GHRuiLiu In test environment, you can set `dev_mode = True`, CPU, memory and disk performance will not be checked when dev_mode = True, False by default. But in production environment, it is strongly recommended to use SSD disks for TiKV, TiDB and PD, or there might be performance issues. See https://github.com/pingcap/docs/blob/master/op-guide/ansible-deployment.md.

[2018-08-08 03:35] yezhibo opened #7310 "connection tidb unstable"
我用了4台服务器来部署TiDB, 但是实际测试过程中发现测试结果很不稳定，请问有遇到过类似的问题吗？

[2018-08-08 03:41] jackysp commented on #7310
Thank you for your feedback, @yezhibo ! Please show more details for your test, e.g.
1. which test case you used?
1. what error you met?

[2018-08-08 04:44] hustwk opened #7311 "runtime error: index out of range"
tidb version:
[code]

stack:
[code]
The select query sometimes correct, sometimes runtime error and lost connection.  Please check if the stack information helps.

[2018-08-08 04:46] jackysp commented on #7299
PTAL @shenli

[2018-08-08 04:47] jackysp commented on #7311
Thanks for your report, @hustwk !
PTAL @zz-jason

[2018-08-08 04:53] zz-jason commented on #7311
@hustwk Could you provide more informations to help us reproduce this issue, i.e:
- the sql query
- `create table` statements of the related tables
- maybe some test data

[2018-08-08 06:09] jampus commented on #6359
@LinuxGit thanks, I   sett dev_mode = True, now it is work,
SSD problem will be discussed later, Although it is now using Amazon's  SSD

[2018-08-08 06:43] alexv1 opened #7312 "how to move monitor-node to another machine"
1. What did you do?
I created tidb cluster with 4 machine, and the tidb001(10.81.56.225) used as tidb/pd/monitor roles.
Now I try to add new machine(10.80.176.86) to cluster as monitor, when i modified inventory.ini and excute command below and failed
[code]
error msg was below:
[code]

next time i execute command ```ansible-playbook rolling_update.yml``` before rolling_update_monitor, it's not wo

[2018-08-08 07:12] ximengyun opened #7313 "Does TiDB support multi-datasource connection?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-08-08 07:35] lysu commented on #7313
hi @ximengyun, what do you mean about "多数据源连接"?

[2018-08-08 07:36] lysu commented on #7312
@LinuxGit PTAL thx~

[2018-08-08 07:39] LinuxGit commented on #7312
ansible-playbook stop.yml
add 10.80.176.86 to inventoy.ini
ansible-playbook bootstrap.yml -l 10.80.176.86
ansible-playbook deploy.yml
ansible-playbook start.yml

[2018-08-08 07:39] #7312 closed

[2018-08-08 07:45] XuHuaiyu commented on #7313
@ximengyun https://github.com/pingcap/tidb/issues/6083
Hi, can this issue solve your problem?

[2018-08-08 08:07] yezhibo commented on #7310
how to show you my grafana?   by the way can you give me some advice to use the grafana?

[2018-08-08 08:29] tiancaiamao commented on #6910
@lysu  Do you have any idea for this issue?

[2018-08-08 08:38] lysu commented on #6910
ok, I will investigate and fix it later, I feel @zz-jason 's comment maybe be the root cause too.

[2018-08-08 09:18] imtbkcat opened #7320 "Can not upgrade tidb cluster from v1.0.3 to master using ansible"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

ansible-playbook rolling_update.yml
from v1.0.3 to v2.1.0 beta

2. What did you expect to see?

rolling update finished successfully

3. What did you see instead?

TASK [start TiDB by supervise] *************************************************

TASK [s

[2018-08-08 09:18] imtbkcat commented on #7320
Upgrade from v1.0.3 to v2.0.3, then from v2.0.3 to master is avaible.

[2018-08-08 13:16] alexv1 opened #7324 "the secondary tidb-node doesn't work"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I add tidb002 to cluster successful, and it show in grafana
but the tidb002 has no connection!
![1](https://user-images.githubusercontent.com/5744909/43839065-c028d10c-9b4f-11e8-87f4-e71e8ab15851.png)
when I run sysbench test, the tidb001 cpu is full, the tidb002 doesn't process any requests!
what's problem?

[2018-08-08 14:22] darionyaphet opened #7325 "INFORMATION_SCHEMA.ENGINES should just support tidb"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Currently, when I connect to `tidb server` and running
`select * from INFORMATION_SCHEMA.ENGINES;`  and we can found :

[code]

2. What did you expect to see?
In my opinion,  INFORMATION_SCHEMA.ENGINES would contain a single engine `tidb`.
If `tidb` support plugin engine , will append in this table .

3. What

[2018-08-08 14:25] shenli commented on #7325
@darionyaphet Thanks for your feedback!
The `INFORMATION_SCHEMA.ENGINES` is used for compatibility purpose. We do not want to make the existing MySQL admin tools surprise. So we do not put 'tidb' in that table.

[2018-08-08 14:32] darionyaphet commented on #7325
OK understood, maybe this is not a issue :) . Closed

[2018-08-08 14:32] #7325 closed

[2018-08-08 14:33] darionyaphet commented on #7325
I check source code and find it in `infoschema.tables` dataForEngines() .

[2018-08-08 17:28] alexv1 commented on #7324
I find the answer： I need to access tidb002 directly！
I feel confused that, tidb why not provide load-balance component！It makes many problems in production env.

[2018-08-09 02:50] shenli commented on #7310
You can send your grafana ip/username/pwd to `shenli at pingcap.com`.
[Here](https://github.com/pingcap/docs/blob/master/op-guide/dashboard-overview-info.md) is the related document for the monitor system.

[2018-08-09 02:52] shenli commented on #7313
@ximengyun TiDB only supports one data source. You can't access multiple data sources in a TiDB cluster.

[2018-08-09 03:09] lysu commented on #7324
Thanks for your feedback, @alexv1 ! there are many comprehensive load-balance solutions(both layer4 or layer7) existed, it's better to use them directly for now.

[2018-08-09 04:06] zhexuany commented on #7018
Report: why query 8 is so slow.

Collecting trace result is easy just add `trace` to the original query 8. Original trace output is huge. `Trace` produces 88MB data.

[code]

What we really card in this output is only those operations which cost most time during query execution process.

[code]

query 8 takes roughly 210 seconds which is just 3 minutes and 52 seconds. From the trace result we can

[2018-08-09 08:10] jackysp opened #7331 "Cannot use concat in group statement"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
af7fed9b3848f71db23d3763038e3e29e0aa9b60

[2018-08-09 08:32] shenli commented on #7018
@zhexuany Go Pprof is a more convenient tool for profiling. Would you please post the pprof result here?

[2018-08-09 08:44] lysu opened #7333 "miss "subquery returns more than 1 row" check when MaxChunkSize=1"
This issue will be fixed with #7141

1. What did you do?

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-08-09 08:50] jackysp opened #7334 "The missing microsecond for timestamp"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
af7fed9b3848f71db23d3763038e3e29e0aa9b60

[2018-08-09 09:39] lysu opened #7337 "left join & group by got unstable result with small max_chunk_size"
1. What did you do?

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

if u run `select a.c from t a left join t b on a.c = b.d group by b.d order by b.d;` many times will got

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-08-09 09:40] jackysp opened #7338 "JSON results need one more space"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
af7fed9b3848f71db23d3763038e3e29e0aa9b60

[2018-08-09 10:37] zz-jason commented on #7337
@XuHuaiyu PTAL

[2018-08-09 10:39] zz-jason commented on #7333
@lysu We should fix this issue in an individual PR and cherrypick that PR to release-2.0

[2018-08-09 10:42] zz-jason commented on #7018
@zhexuany The tracing result of `hash_agg_exec_partial_worker` is too large.

Seems like the tracing result is affected by the input data size.

[2018-08-09 10:45] XuHuaiyu commented on #7337
I'll take a look

[2018-08-09 10:56] zhexuany commented on #7018
cc @zz-jason After some research, the reason for `hash_agg_exec_partial_worker` being too large could be we did not add trace for `HashLeftJoin`.

`HashLeftJoin` is a child of `HashAgg`. I am working on adding trace for `HashLeftJoin`. I will ping you once I get the new result.

I also attached the explain result in the following:

[code]

[2018-08-09 11:06] XuHuaiyu commented on #7337
@lysu @zz-jason
This is not a correctness issue.
explain of the sql:
[code]

We can see `first_row(a.c)` from the explain result.
Since the result of first_row is unstable in TiDB now,
the result of this sql is unstable.

The result of `select b.d, max(a.c) from t a left join t b on a.c = b.d group by b.d order by b.d;`
would be always the same.

[2018-08-09 11:10] zz-jason commented on #7337
@XuHuaiyu If set [`ONLY_FULL_GROUP_BY`](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by) sql mode, what result will TiDB and MySQL returns?

[2018-08-09 11:13] XuHuaiyu commented on #7337
select a.c from t a left join t b on a.c = b.d group by b.d order by b.d;
will be rejected.
tidb:
[code]

mysql:
[code]

[2018-08-09 11:16] lysu commented on #7337
@XuHuaiyu ok~It's not correctness issue~ closed

[2018-08-09 11:16] #7337 closed

[2018-08-09 18:43] ssnijik opened #7344 "Is there any log size limit for TiDB?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
After loading data into TiDB several times, huge amount of errors were written into log file. Every 300M of log file will be written in to a separate file. But all log file will be kept, which may be several hundreds of gigabytes.

2. What did you expect

[2018-08-10 02:45] ciscoxll opened #7345 "Can not show index for the partitioned table"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

* master

[2018-08-10 02:56] XuHuaiyu commented on #7344
Hi, @ssnijik , thank you for your feedback.
TiDB provides some configuration item to set the limitation of log files.
You can find it [here](https://github.com/pingcap/docs/blob/master/op-guide/tidb-config-file.md#logfile).

[2018-08-10 03:48] #7267 closed

[2018-08-10 05:03] zz-jason commented on #6952
All the aggregate functions are implemented, close this issue now.

[2018-08-10 05:03] #6952 closed

[2018-08-10 06:07] jackysp opened #7348 "LOAD DATA does not support to set character set"
Part of MySQL syntax looks like below:
[code]
It has a character set option in it, but TiDB not.
TiDB version: 0d18ac2c18c31d7d2fcf85ab7828359df0408c7f

[2018-08-10 08:03] jaltabike opened #7349 "Data and loads are not well distributed in my benchmark"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I tried to insert tuples into TiDB by using YCSB (Yahoo! Cloud Serving Benchmark).
My TiDB settings were as follows:
- I used 9 AWS EC2 instances (each instance is i3.2xlarge: 8 vCPUs, 61GiB RAM , 1 x 1900GB nvme disk)
   . node#1~#3: 1 x TiDB & 1 x PD

[2018-08-10 08:17] XuHuaiyu commented on #7349
Hi, @jaltabike Thank you for your feedback.
We'll reply to you soon.

[2018-08-10 09:03] XuHuaiyu commented on #7349
PTAL @liukun4515

[2018-08-10 09:44] diwakarpp commented on #7160
thank you @c4pt0r and @shenli . I do not know how to use pd-ctl, I will refer your docs and apply the scheduling strategy to restrict the queries and join queries to within the DC. At the time asking the original question we were in a rush for the production deadline. Now we have rescheduled it for August end to do the stability checks. We will apply the pd-ctl  and let you know if any questions o

[2018-08-10 10:08] c4pt0r commented on #7160
@diwakarpp cool, looking forward to it, feel free to ping us if you have any question

[2018-08-10 10:27] jackysp opened #7352 "Support for flush status"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
`flush status;`

2. What did you expect to see?
no error

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
0d18ac2c18c31d7d2fcf85ab7828359df0408c7f

[2018-08-10 10:28] jackysp commented on #7352
Please add the syntax support for `flush status` first.

[2018-08-10 10:59] BusyJay opened #7354 "RegionNotFound should be retryable"
According to the code

https://github.com/pingcap/tidb/blob/3ac6d3a9f40335d9c1de399aea8e8409f4815efa/store/tikv/region_request.go#L235-L239

RegionNotFound error will not be retried. However if a region is merged, it will report `RegionNotFound`, which should be retried again.

[2018-08-10 10:59] BusyJay commented on #7354
/cc @disksing @coocood @tiancaiamao

[2018-08-10 11:47] liukun4515 commented on #7349
Can you provide more detailed ycsb workload file and load script?
@jaltabike

[2018-08-10 16:27] jaltabike commented on #7349
@liukun4515
My YCSB properties(configs) are as follows:
- maxexecutiontime=3600
- recordcount=1000000000
- operationcount=1000000000
- workload=com.yahoo.ycsb.workloads.CoreWorkload
- readallfields=true
- readproportion=0
- updateproportion=0
- scanproportion=0
- insertproportion=1
- requestdistribution=zipfian
- insertstart=0
- fieldcount=10
- fieldlength=100
- reportlatencyforeacherror=true
- db

[2018-08-11 07:39] gutongjiang opened #7360 "select for update"
I execute the same sql in mysql and TiDB, but TiDB spend more time then mysql,
TiDB needs 0.27sec, mysql nees 0.02sec
the sql is `select total from user_coin_wallet where uid = 3 and coin_id = 2 for update;`
and the explain:
![_20180811153420](https://user-images.githubusercontent.com/13601367/43989439-9a9af4c2-9d7c-11e8-97d4-7966afa08be0.png)

[2018-08-11 08:30] lysu commented on #7360
Thanks for your feedback!  @gutongjiang

What about execute time & explain result for same query without `for update`~?

[2018-08-11 08:45] lysu commented on #7360
And maybe give us a MySQL explain result if convient, thx~

[2018-08-11 08:56] zz-jason commented on #7360
@gutongjiang Could you provide us the following information to help us locating why the sql runs slower than MySQL:

- what is the result of the following two queries:
[code]
- `create table` statement for the `user_coin_wallet` table in the query:
[code]
- TiDB version:
[code]
- the statistics data of the table `user_coin_wallet`:
[code]

- the execution plan of MySQL:
[code]

[2018-08-11 16:31] #7284 closed

[2018-08-13 02:18] disksing commented on #7354
@BusyJay It is retryable, it just doesn't try again by resending the same request.

[2018-08-13 02:51] chainkite opened #7362 "lost connection when I create partitioned table"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I tried to load data into tidb with tidb‘s `loader`, but it always lost connection while loading metadata sql, without any error information.

Finally I found out the reason... it lost connection while creating partitioned table.

Reproduce the issue:
[code]

2. What did you expect to see?
Detail error messag

[2018-08-13 02:54] winkyao commented on #7362
@ciscoxll PTAL

[2018-08-13 03:07] winkyao commented on #7362
@ciscoxll I am looking into it.

[2018-08-13 03:13] tiancaiamao commented on #7362
It's fixed in https://github.com/pingcap/tidb/pull/7252
Curiously, this bug should not happen in any released version.
Did you ever upgrade the TiDB from an older version? @chainkite

[2018-08-13 03:14] coocood commented on #7354
@BusyJay
Have you met the error in a cluster?
Is it possible that the error retried but the retry limit is reached?

[2018-08-13 03:14] winkyao commented on #7362
@tiancaiamao No, it is another issue

[2018-08-13 03:38] coocood commented on #5267
outdated

[2018-08-13 03:38] #5267 closed

[2018-08-13 05:07] coocood opened #7367 "`State` column in `show processlist` should provide more information."
The `show processlist` currently only show a number `2` which represents `autocommit`, but the `State` column is string type, should describe the execution state.

[2018-08-13 06:07] #7362 closed

[2018-08-13 07:03] jackysp opened #7371 "Syntax support of character in create table statement"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
Table created.

3. What did you see instead?
ERROR 1105 (HY000): line 1 column 39 near "(10))" (total length 44)

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
876

[2018-08-13 08:38] #7352 closed

[2018-08-13 08:43] tiancaiamao commented on #7183
Do not terminate a transaction as long as it runs into 2PC.

[2018-08-13 08:43] #7183 closed

[2018-08-13 09:14] zhexuany opened #7377 "Make the use of `FixedZone` correct"
In our current codebase, we use `FixedZone` to create a customized timezone when  is not set. I suspect our use of `FixedZone` is not correct.

[code]

Running `go doc time.FixedZone`, the following output will be given:
[code]
The given zone name should be unique and different compared with builtin timezone name.

[2018-08-13 09:15] zhexuany commented on #7377
cc @zz-jason @tiancaiamao for second opinion. ;)

[2018-08-13 09:25] zz-jason commented on #7377
[code]

This is how we handle the query like:
[code]

I think this behavior is correct, @tiancaiamao What's your opinion?

[2018-08-13 09:27] coocood commented on #7377
Go src use the empty string as the fixed zone name, I think we can do the same.

https://github.com/golang/go/blob/master/src/archive/zip/struct.go#L208

[2018-08-13 09:32] BusyJay commented on #7354
Looks like a bug from TiKV, which handles the errors from internal API calls inappropriately.

[2018-08-13 09:32] #7354 closed

[2018-08-13 10:25] zhexuany commented on #7377
Suppose you have the following situation:

[code]

Right now, `sc.TimeZone` is not the `UTC` location but rather the customized location we just created.

After initialized this `sc.TimeZone`, you need to use this variable in another place. To be exact, you want to adjust the `sc.TimeZone` when `sc.TimeZone.String()` is `UTC`. This is where the confusion arises.

[2018-08-13 11:35] #7297 closed

[2018-08-13 12:31] zz-jason opened #7380 "Wrongly throw error "Duplicate entry""
This case is taken from the [UT](https://github.com/pingcap/tidb/blob/master/executor/write_test.go#L585):
[code]

Now, let's set chunk size to `1` and run the real test query:
[code]

The above error **`ERROR 1062 (23000): Duplicate entry '1' for key 'code'`** should not happen, in MySQL:
[code]

[2018-08-13 12:54] zz-jason opened #7382 "the argument hold by `Error` may be changed due to the buffer reusing"
Let's take the function [`StrToFloat()`](https://github.com/pingcap/tidb/blob/master/types/convert.go#L303) as an example, Note the code exists in line 311:
[code]

And let's take a look at the function [`GenByArgs()`](https://github.com/pingcap/tidb/blob/master/terror/terror.go#L230):
[code]

The argument passed into `GenByArgs()` will be buffered until we printing the error to the client.

In ma

[2018-08-13 17:14] #7371 closed

[2018-08-14 03:29] #7344 closed

[2018-08-14 03:46] zimulala commented on #7320
@imtbkcat
Two servers are upgraded separately. At first, the TiDB1-1 upgrades from version 1.0.3 to master. Then the TiDB1-2 becomes the DDL owner. TiDB1-1 need to do bootstrap and the bootstrap has an operation of "add index". The operation of "add index" be put into the add-index queue. But at that time, the TiDB1-2 can't handle jobs in the add-index queue. So In the bootstrap, this index-adding

[2018-08-14 03:47] #7320 closed

[2018-08-14 04:42] zz-jason commented on #7380
@jackysp PTAL

[2018-08-14 04:49] zz-jason opened #7384 "need UT for `Executor.Next()`"
In order to make it easy to write an UT for executor, we may need to consider:
- an easy way to construct a `schema`
- some mock executors with hooks to provide test data.
- an easy way to make these mock executors
- an easy way to construct a `Chunk` and the data inside it.

[2018-08-14 07:12] shenli opened #7387 "Add more metrics for sql-query, read/write flow"
We need to measure the database activity and aggregate the results per account, table and index.
With these metrics, users could get a deeper insight into the database and do future optimization.
The following metrics have come to my mind:

- Slow Query
- Write flow bytes
- Read flow bytes
- Scan rows/keys
- Index hint frequency

[2018-08-14 07:30] zhexuany commented on #7377
@zz-jason @coocood Any comments on this issue?

[2018-08-14 07:34] zz-jason commented on #7377
@zhexuany
1. in tidb-server, call `time.FixedZone("", offset)` to make a customized timezone.
2. coprocessor also need to handle timezone name/offset for the analyze request in the same way that select request does.

[2018-08-14 07:37] zz-jason commented on #7377
I'm working on this in https://github.com/pingcap/tidb/pull/7372

[2018-08-14 07:50] zz-jason opened #7390 "provide more info in error "Data Truncated""
In TiDB:
[code]

When the error "Data Truncated" happened, we can not know what data in which column is truncated, MySQL does well in this case:
[code]

It prints the origin value and the column info to help user understand the error and check their queries.

[2018-08-14 07:52] zz-jason commented on #7390
despite the error info, the error code that TiDB returns, which is `1265`, is not equal to the one MySQL returns, which is `1366`.

[2018-08-14 07:53] crazycs520 commented on #7390
let me have a try.

[2018-08-14 07:55] zz-jason commented on #7390
@crazycs520 Good!

[2018-08-14 08:12] zhexuany commented on #7377
If we set timezone name to the empty string, KV layer does not require any changes. #7372 seems not strongly dependent with this issue. This issue aims to make all use of `FixedZone` correct rather than just change the way we construct time zone in coprocessor layer.

[2018-08-14 09:02] tiancaiamao commented on #7377
What's the difference between
[code]
and
[code]
@zhexuany  @zz-jason

[2018-08-14 09:07] tiancaiamao commented on #7377
When using offset, I think we should always based on UTC,  there will never be "Asia/Shanghai + offset" sense. @zhexuany

[2018-08-14 11:59] ddorian opened #7392 "Does TiDB support Hash sharding?"
Hi,

Will you implement hash sharding together with range-sharding ?
Cause some tables/dbs can be better colocated by <hash(key)>, which will keep many transactions in the same server (like vitess, citusdb etc).

regards,
ddorian

[2018-08-14 14:10] lysu commented on #7392
Thanks for your feedback! @ddorian

Current, TiDB only supports range-based sharding.
But with coming soon feature ---- table partition will support range/list also hash re-sharding.

[2018-08-14 14:31] ddorian commented on #7392
Will the hash partitioning allow multiple tables to be colocated with same value hash(column_id) ?

[2018-08-14 14:52] morgo opened #7395 "Convert unique subquery directly to inner join"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

Using the world sample database from MySQL, I tried this sample query:
[code]

2. What did you expect to see?

Because Country.code is the primary key, I was expecting that TiDB would detect that the result set is guaranteed unique.  Thus, the semi-join step is not required and the query could be converted di

[2018-08-14 14:57] lysu opened #7396 "INFORMATION_SCHEMA.COLUMNS's PRECISION value for different type"
1. What did you do?

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-08-14 15:11] lysu opened #7397 "prepare select '0000-00-00 00:00:00' got `0001-01-01 00:00:00`"
1. What did you do?

use prepare stmt to read a '0000-00-00 00:00:00' timestamp column

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-08-14 15:35] crazycs520 opened #7398 "convert string to int return wrong result."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
In TiDB
[code]

In MySQL
[code]

[2018-08-14 15:39] zz-jason commented on #7398
nice catch! how did you find it?

[2018-08-14 15:41] crazycs520 commented on #7398
when I try to do this issue...

[2018-08-14 15:43] zz-jason commented on #7398
👍

[2018-08-15 03:05] #7348 closed

[2018-08-15 03:23] zhexuany opened #7399 "make sure adding trace does not hurt performance"
We need come up a way to make sure that adding tracing support will not hurt current performance.

[2018-08-15 04:55] winoros commented on #7395
This is a special case of #7205 , we need implement it first. Then use unique and not null information to remove the aggregation.

[2018-08-15 06:59] imtbkcat commented on #7296
https://github.com/pingcap/tidb/blob/9cf670a32493c3cc36a7f9d9bc5c7e91953d0d78/server/driver_tidb.go#L390

[2018-08-15 07:06] jackysp commented on #7296
OK.

[2018-08-15 07:06] #7296 closed

[2018-08-15 11:49] tiancaiamao opened #7403 "Check user privilege when setting global/session variables"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

Change global session variable may need some kinds of privilege, TiDB should check them.

2. What did you expect to see?

I guess TiDB doesn't check it.

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

master 9fc67b9a9f5094532a78

[2018-08-15 11:56] lysu opened #7404 "LOAD DATA need support column/variable list and SET clause"
For the last part of https://dev.mysql.com/doc/refman/8.0/en/load-data.html, load data support column/variable list and SET clause is useful if we want to load only some of a table's columns or import BINARY, VARBINARY and BIT data into TiDB.

1) create a table with a binary column.

[code]

2) prepare a data file in `/home/data/test.txt` with content

[code]
3) load data into binary column using

[2018-08-15 12:26] tiancaiamao commented on #7392
You can view the implementation as two layer mapping:
1. How to mapping table data to a logical key-value range.
2. How the logical key-value range data is stored into physical TiKV instances.

Hash partitioning will happen in 1, so different table will be hash to different key-value range.
Where the key-range data will be located happen in 2, and it's controlled by https://github.com/pingcap/pd

[2018-08-15 12:35] tiancaiamao commented on #7392
While "keep many transactions in the same server" is better for performance, it is not really distributed transaction. It's still transaction on single machine and sharding.
TiDB is a real distributed database.

[2018-08-15 12:42] ddorian commented on #7392
@tiancaiamao

Getting good performance on high scalability is understanding the domain really well and how to partition it.
While range-sharding is better scalable, sometimes hash-sharding is better.
Best way would be to chose what you need depending on table.

Should I keep this open as a feature request to colocate different tables to same server with same `hash(value)` ?

[2018-08-15 13:29] tiancaiamao commented on #7392
From the user's point of view, he should not care about how the database is implemented.

The ultimate pursue of our database is that, even the user know nothing about range-sharding or hash-sharding (which is about implementations), the database is still very scalable and get a high performance.

Of course, a good understanding of the implementation is very useful to constructing a better system

[2018-08-15 14:11] mccxj commented on #7300
https://dev.mysql.com/doc/refman/5.7/en/encryption-functions.html#function_aes-decrypt
The  block_encryption_mode system variable controls the mode for block-based encryption algorithms.

I try to add ECB/CBC modes with 128/192/256-bit key length for AES function. New PR is coming soon.

[2018-08-15 16:02] #7390 closed

[2018-08-16 03:01] zhexuany opened #7413 "investigate can we replace logrus with uber zap"
`zap` is much more faster than `logrus`. If we can replace it, then overall performance will benefit from this replacement.

[2018-08-16 03:03] shenli commented on #7413
There is already an issue about zap.
https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue+zap

[2018-08-16 03:04] #7338 closed

[2018-08-16 04:44] #6782 closed

[2018-08-16 05:37] liukun4515 commented on #7349
This situation is caused by hot region.
You can refer to [_tidb_rowid](https://pingcap.com/docs/sql/tidb-specific/#shard-row-id-bits) and [SHARD_ROW_ID_BITS](https://pingcap.com/docs/sql/tidb-specific/#shard-row-id-bits).
@jaltabike

[2018-08-16 06:45] Lyle-liang opened #7416 "region not found for key "mBootstra\xffpKey\x00\x00\x00\x00\xfb\x00\x00\x00\x00\x00\x00\x00s""
error log
![image](https://user-images.githubusercontent.com/14850448/44192625-c3e17600-a162-11e8-843d-fd768e66f4a8.png)

![image](https://user-images.githubusercontent.com/14850448/44192664-e4113500-a162-11e8-8c63-5cbc95ff115b.png)

why and what to do?
 Thanks.

[2018-08-16 06:59] coocood commented on #7377
@tiancaiamao
If we use an empty string for the fixed zone,  "UTC" will always have the zero offset.

[2018-08-16 07:00] lamxTyler commented on #7416
@Lyle-liang Could you verify that is the pd server alive?

[2018-08-16 07:10] Lyle-liang commented on #7416
@lamxTyler I am trying to deploy. wait for a moment.

[2018-08-16 07:17] ddorian commented on #7392
@tiancaiamao

There is **no** product  good with scalability / performance where the user shouldn't care how the database is implemented.

You can think hbase, cassandra, scylladb, elasticsearch, redis, postgresql,tidb, on all of them you should be careful with your schema,partitioning,indexes,hotspots depending on your workload. While they will work knowing ^ will 10x+ your speed.

Extreme/best c

[2018-08-16 07:31] tiancaiamao commented on #7392
That's happening...

MySQL: SQL is a friendly user interface
hbase, cassandra, scylladb, elasticsearch ... : NoSQL is highly scalable
Spanner, TiDB, CockroachDB: I see a wonderful future!

[2018-08-16 07:33] Lyle-liang commented on #7416
@lamxTyler
![image](https://user-images.githubusercontent.com/14850448/44194774-977d2800-a169-11e8-91c7-51ef31391062.png)

I meet the error again. I verify the pd servers are alive.

[2018-08-16 07:40] Lyle-liang commented on #7416
I use this demo
![image](https://user-images.githubusercontent.com/14850448/44195130-b7611b80-a16a-11e8-9c72-e35b8b0b6049.png)

[2018-08-16 07:46] Lyle-liang commented on #7416
I find Tikv server is not work. Why? the config like demo.

[2018-08-16 07:47] ddorian commented on #7392
Let's take cockroachdb since it's closer to TiDB. To get best performance you need to know and use:
https://www.cockroachlabs.com/docs/stable/performance-best-practices-overview.html

Even adding an index, you have to be careful on the order of fields, cause you may get a new hotspot if it starts with low-cardinality/timestamp/autoincrement field. See column families, partitioning, all the subpage

[2018-08-16 07:49] lamxTyler commented on #7416
Thanks for your feedback. PTAL @breeswish

[2018-08-16 08:29] Lyle-liang commented on #7416
get it. Thanks.

[2018-08-16 08:29] #7416 closed

[2018-08-16 12:48] jaltabike commented on #7349
Thank you, @liukun4515
I will change the value of SHARD_ROW_ID_BITS and run the ycsb benchmark again.
By the way, can the region size exceed region-max-size?
"approximate region size", the graph I attached above, shows that average region size is 20.3GiB which is far larger than region-max-size (default: 144MB).
Why do not regions whose size is far larger than region-max-size be splitted?

[2018-08-16 15:54] #7377 closed

[2018-08-16 16:40] morgo commented on #7367
I just came across this while load testing.  The states do not need to be identical to MySQL, but currently, I can not differentiate between `running`, and `queued` (i.e. waiting on locks) :(

[2018-08-16 17:26] zz-jason opened #7420 "use a more cache-friendly way to make join rows"
For left outer join, right outer join, and inner joins, we use the function `makeJoinRowToChunk` to concat the left and right records, take the left outer join as an example:

in file **executor/joiner.go**:
[code]

This method is far away from efficiency: `Chunk` has an column-oriented memory layout, data inside the same column are stored continuously in the memory. The relationship between row a

[2018-08-16 20:14] morgo opened #7421 "Reading from information_schema.table fails while DDL is being performed"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

In 15 parallel threads, I performed DDL in a loop (15 different schemas):
[code]
I then queried `information_schema.tables`.

2. What did you expect to see?

I expected it to be slow, or have to wait on a lock.

3. What did you see instead?

I received an error, which makes me think it is inconsistently readi

[2018-08-17 02:29] #6910 closed

[2018-08-17 03:32] lerencao opened #7422 "Updating rows by auto_increment id cause id increasing dramatically"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

1. connect to one tidb-server, and do:

[code]

2. then checkout to another tidb-server:

[code]

3. and then check back to first tidb-server:

[code]

2. What did you expect to see?

Expected id of `insert into t1(b) values(3)` is `2`.

3. What did you

[2018-08-17 03:41] lamxTyler commented on #7421
Thanks for your feedback. PTAL @ciscoxll

[2018-08-17 03:44] tiancaiamao commented on #7392
CockroachDB's best practices mostly applicable to TiDB.
There is also this one https://pingcap.com/blog/2017-07-24-tidbbestpractice/

I've said it before, but there are still something need to clarify: the best practices tell you how to use the database, it's should not be a emphasize on how the database is implemented.

Take this example as an analogy, does one need to know all things about the e

[2018-08-17 03:49] shenli commented on #7420
Is there any quantitative evaluation of this issue?

[2018-08-17 03:51] lerencao commented on #7422
@lamxTyler The doc only specifies that user should not add custom id when insert.

However, this case is caused by updating to existed rows.

[2018-08-17 04:12] ddorian commented on #7392
`will not be important one day`, yes, one day when network latency is 0ms.
Until then, everybody who will make single-node joins/transactions will get better performance.

[2018-08-17 04:12] #7392 closed

[2018-08-17 04:53] zz-jason commented on #7420
@shenli Here is a simple benchmark, the benchmark result is:
[code]

the benchmark code is:
[code]

[2018-08-17 04:54] shenli commented on #7420
Great! Much faster!

[2018-08-17 04:59] zz-jason commented on #7420
And with the "copy column by column" method, we can copy a continuously memory, which also speeds up the execution time:

[code]
[code]

[2018-08-17 05:52] #7295 closed

[2018-08-17 06:08] liukun4515 commented on #7349
Any update for your benchmark result?

[2018-08-17 06:40] #7334 closed

[2018-08-17 06:41] #7222 closed

[2018-08-17 06:47] jackysp commented on #7422
Thanks for your report, @lerencao !
It is an expected behavior of TiDB.  For a single TiDB, if the value of the auto-increment ID is larger than the current step upper limit, it will try to retrieve a new step of auto-increment IDs, when each write-operation occurs. It is the requirement of the distributed design.

[2018-08-17 07:53] dbjoa commented on #7349
@liukun4515 Can TiDB split the region automatically if the user changes SHARD_ROW_ID_BITS via ALTER TABLE?

[2018-08-17 08:26] lerencao commented on #7422
@jackysp
even in the case of updating?

It wastes too many numbers, and the id increasing speed is amplified `3000 * number_of_tidb_servers` times.

[2018-08-17 08:52] #7380 closed

[2018-08-17 09:35] liukun4515 commented on #7349
The value of SHARD_ROW_ID_BITS doesn't impact the region split. @dbjoa

[2018-08-17 09:38] ihipop commented on #5166
any update on this issue

[2018-08-17 09:39] zhexuany commented on #7399
[code]

Using the above benchmark, we can understand how much time is spent on each operation.

[code]

We can conclude that if we use `LogKV` in a reasonable way and do not use `fmt.Sprintf` in `LogKV`, the side effect of `noop` can be ignored.

[2018-08-17 09:39] #7399 closed

[2018-08-18 14:16] zz-jason commented on #7420
Just fund that the cache utilization of function `joiner.filter()` is also not efficient:
[code]

We should copy the selected row column by column as well.

[2018-08-19 10:12] jimmie0204 opened #7432 "实时查询结果怎么落地"
哈喽，我用TiDB做统计报表，在数据量比较大的情况下，一些OLAP实时查询返回可能需要十秒左右，这种对于查看报表的用户来说也是不能接受的。请问我能把实时查询的统计报表结果落到一个表里吗？这样就不用每次都重新计算查询了。或者TIDB还提供了其他更优雅的解决方式吗？

[2018-08-19 11:56] ngaut commented on #7432
Duplicate issue, closed. #https://github.com/pingcap/docs-cn/issues/844

[2018-08-19 11:56] #7432 closed

[2018-08-19 13:31] jaltabike commented on #7349
Thank you for your answer, @liukun4515
I currently can not access my workspace until next Tuesday (Aug. 21st).
I will run the benchmark next Wednesday (Aug. 22nd), and I will share the results as soon as possible.

[2018-08-19 14:10] laidahe commented on #7420
In my perspective, the first argument  of tryToMatch of joiner interface should be changed to pass chunk.column rather than chunk.Row. Am I right? If so, there are many places must to be changed.

[2018-08-19 14:46] zz-jason commented on #7420
@laidahe No, it should be `row`, not `chunk.column`, just need to add another function to replace `makeJoinRow`

[2018-08-19 14:57] supernan1994 commented on #7420
I'm working on it~

[2018-08-19 14:58] zz-jason commented on #7420
@supernan1994 Oh, Thanks!

[2018-08-20 02:35] XuHuaiyu commented on #7307
[code]
This may be caused by the wrong type inferring of `firstrow(enum_col)`,
I'll solve this problem.

[2018-08-20 07:17] zimulala commented on #7421
@morgo
Please tell me how much TiDBs are in this cluster?

[2018-08-20 07:25] #7397 closed

[2018-08-20 08:40] #7345 closed

[2018-08-20 08:40] tiancaiamao commented on #7308
Duplicate with https://github.com/pingcap/tidb/issues/7345

[2018-08-20 08:40] #7308 closed

[2018-08-20 08:47] #7271 closed

[2018-08-20 12:39] laidahe commented on #4502
Maybe i could work on this issue?

[2018-08-20 12:41] zz-jason commented on #4502
@laidahe Great!

[2018-08-20 12:52] laidahe commented on #7279
Seams like that what we need to do is combining multiple “in” into single "in",or as few "in" as possible.

[2018-08-20 12:55] zz-jason commented on #7279
@laidahe Um.. yes, much like that. You can take a look at the code and do some investigation to decide the best solution.

[2018-08-20 13:41] diwakarpp opened #7444 "Opening storage failed open DB in /home/tidb/deploy/prometheus2.0.0.data.metrics: Locked by other process"
hi, I have just deployed the latest TiDB today(20th Aug 2018) in our (CentOS 7) cluster through Ansible.  Every step successfully completed but finally Prometheus did not start with 'Opening storage failed open DB in /home/tidb/deploy/prometheus2.0.0.data.metrics: Locked by other process' error.

Could you pl suggest me a fix?

prometheus.log under /home/tidb/deploy/log:

level=info ts=2018-08-20T

[2018-08-20 15:32] morgo commented on #7421
@zimulala Only one TiDB (My full setup: 1x PD, 1x TiKV, 1 x TiDB).

[2018-08-20 15:45] diwakarpp commented on #7444
I have noticed a [similar issue here discussed in the Prometheus thread](https://github.com/prometheus/prometheus/issues/2689) and I am not sure if thats related to this one or a different issue. Any thoughts or suggestions @shenli @c4pt0r to fix this blocking issue? Thanks and regards.

[2018-08-20 16:28] diwakarpp commented on #7444
hi @shenli and @c4pt0r , I have deleted the lock file present at /home/tidb/deploy/prometheus2.0.0.data.metrics and re-run the ansible installation without any changes and it worked perfectly. Not sure why it created the locak on first time install on a clean machine and all configurations set correctly. It may be worth figuring out if anyone else too come across the same issue. For now my issue i

[2018-08-20 16:30] diwakarpp commented on #7160
This issue is resolved now. I am closing this post. Thanks.

[2018-08-20 16:30] #7160 closed

[2018-08-21 03:34] WangXiangUSTC opened #7446 "the result of GROUP_CONCAT seems different from mysql"
1. What did you do?
I want use GROUP_CONCAT to connect all rows value as a string, and then use this string to calculate the crc32 value as checksum.  table information:

[code]

sql:

case 1:
[code]

case 2:
[code]

2. What did you expect to see?

I want to see:
[code]

3. What did you see instead?
the result of case 1:
[code]

the result of case 2:
[code]
4. What version of TiDB are you using (`

[2018-08-21 03:35] zz-jason commented on #7446
@XuHuaiyu PTAL

[2018-08-21 03:39] lamxTyler commented on #7446
Could you try the latest master? Seems that it has been fixed by https://github.com/pingcap/tidb/pull/7328

[2018-08-21 03:46] WangXiangUSTC commented on #7446
@lamxTyler ok

[2018-08-21 04:05] WangXiangUSTC commented on #7446
@lamxTyler  thanks, the latest version is ok. this issue can be closed

[2018-08-21 04:06] #7446 closed

[2018-08-21 07:46] XuHuaiyu opened #7450 "Tune the perfomance of hash aggregate operator"
After #7268 , all the aggregate evaluation was switched to new the evaluation
framework, but there still remains some optimization to be done to speed up
the evaluation, reduce the memory usage or cache miss ratio. We need to test
the new framework through some benchmarks, and profile the execution process
to find the optimize points.

related issues:
#6952

The details of performance tuning are s

[2018-08-21 11:07] zimulala commented on #7421
@morgo
Thanks. I can reproduce it. We will handle it.

[2018-08-21 11:59] jackysp commented on #7422
We will consider your suggestion, @lerencao .

[2018-08-21 12:38] diwakarpp commented on #7444
Thank you for your note @LinuxGit . Just for note that its not clear why Prometheus got stuck when the current TIDB Ansible installation was done on a fresh servers in the clean cluster. We did not start prometheus binary manually or did not do anything else with manual steps; it was just a straightforward automated install on a clean cluster with already tested configuration. This is just for you

[2018-08-22 02:14] chainkite opened #7458 "scan all rows when select multiple group func on an indexed field"
1. What did you do?
select multiple group func on an indexed field of a huge table;
[code]

2. What did you expect to see?
Get result quickly as in MySQL

3. What did you see instead?
Waiting for a long time, so I explained it and found that it seems scanned all rows instead of the index.

The difference of explain is shown as below. `test_index` is a test table just for reproducing the issue.
[co

[2018-08-22 02:16] winkyao commented on #7458
@winoros @zz-jason PTAL

[2018-08-22 02:26] chainkite commented on #7458
@shenli Is it planned?

[2018-08-22 02:27] shenli commented on #7458
@chainkite Yes, but there is no schedule for this feature.

[2018-08-22 02:28] chainkite commented on #7458
@shenli I see, thx

[2018-08-22 02:28] shenli commented on #7458
The optimization for max/min is [here](https://github.com/pingcap/tidb/blob/master/plan/rule_max_min_eliminate.go). @chainkite FYI

[2018-08-22 02:45] zz-jason commented on #7458
@chainkite
What's the execution time of TiDB and MySQL, respectively, to handle the following query?
[code]

Could you provide us the following information to help locating why the sql runs slow:

- the `create table` statement for the involved tables
[code]

- how many records are there in the table
[code]

- The execution plan that MySQL used:
[code]

- the statistics data of the involved tables

[2018-08-22 05:40] zz-jason opened #7460 "add/refine some user documentations"
update documents in:
- https://github.com/pingcap/docs-cn
- https://github.com/pingcap/docs

including but not limited to the following items in the check list:
- [x] refine document about system variables @XuHuaiyu https://github.com/pingcap/docs-cn/pull/852
- [x] add document about the implementation of hash aggregate operator @XuHuaiyu https://github.com/pingcap/tidb/issues/7609
- [ ] add docum

[2018-08-22 07:37] jaltabike commented on #7349
@liukun4515 @XuHuaiyu
I would like to share my new benchmark results.

I just set the value of SHARD_ROW_ID_BITS to 4,

and performed the same benchmark as the first one mentioned [above](https://github.com/pingcap/tidb/issues/7349#issue-349415040).

As the result, it seemed that data and loads were well-distributed as follows:

- Data were well-distributed:
![image](https://user-images.githubuser

[2018-08-22 07:51] lerencao commented on #7422
Thanks for consideration on this. :)

Looking forward for the further plan.

[2018-08-22 07:55] winoros commented on #7349
@jaltabike
When there's no int primary key and you performed a range query on table's primary key and try to get data that not only containing index key but also other columns, TiDB will first scan index and get its corresponding `__tidb_rowid` then use the `__tidb_rowid` to seek the table data. You can explain the sql to see its execution plan.
`SHARD_ROW_ID_BITS` won't affect the process of scan

[2018-08-22 08:33] breeswish commented on #7349
Hi, this is an answer for your previous question:

TiKV handles write requests in a component called Scheduler. If there are many scheduler pending commands for one TiKV instance, it usually means that there are too many writes for this TiKV instance. If only one TiKV instance has many pending commands but others do not, it means that the write requests are not balanced to all TiKVs, which usually

[2018-08-22 12:45] lysu opened #7465 "blob/text/int length isn't accuracy in columnm metadata"
1. What did you do?

connection tidb with `--column-type-info`

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

ref #7463

[2018-08-22 14:30] jiancaiHub opened #7466 "2003 - Can't connect to mysql server on (61 "Connection refused")"
TiDB执行查找重复记录的SQL时报：2003 - Can't connect  to mysql server on (61 "Connection refused")
表的大小：2000万
执行的SQL：
`insert into duplicate_ids select id from record where unique_id in (select unique_id from record group by unique_id having count(*) > 1) and id not in (select max(id) from record  group by unique_id having count(*) > 1);`
TiDB的配置：
TiDB/PD 2核4G * 3
TiKV  4核16G * 3 （本地SSD）

[2018-08-22 15:46] jaltabike commented on #7349
@winoros @breeswish
Thank you for your answer~!

[2018-08-22 19:31] winoros commented on #7466
@jiancaiHub
Could you give more information such as tidb log of that time?
`2003 error` is usually caused that there's no server listening on the port.
We need more information to know what happened on tidb that time.

[2018-08-22 21:31] siddontang commented on #7349
@jaltabike

I find that you use zipfian for the request distribution, it will cause hot keys and then cause hot region. Maybe a better way is to use uniform.

[2018-08-23 01:50] XuHuaiyu commented on #7450
T2:

DataSet |row count  | group count
------ | ---------- | -------------
TPC-H 50G | 75,000,000 | 5,000,000

sql | flame graph | profile graph
---- | ----- | -----
`select avg(distinct o_totalprice) from orders group by o_custkey;` | [q2.txt](https://github.com/pingcap/tidb/files/2312545/q2.txt) | [q2-torch.txt](https://github.com/pingcap/tidb/files/2312509/q2-torch.txt)

Note: the name suffix o

[2018-08-23 02:39] jaltabike commented on #7349
@liukun4515 @XuHuaiyu
I would like to share my new benchmark results.

I just set the value of SHARD_ROW_ID_BITS to 4,

and performed the same benchmark as the second one mentioned [above](https://github.com/pingcap/tidb/issues/7349#issuecomment-412473725).

As the result, it seemed that data and loads were relatively well-distributed as follows:

- Data were relatively well-distributed:
![image](

[2018-08-23 05:25] winoros opened #7468 "TiDB should be able to use sql to get the disk usage"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

There's a builtin function or something else, which we can use to get the disk-usage of one table or one database.

3. What did you see instead?

Currently there's only http API to do this. And we can use `tidb-ctl` to do

[2018-08-23 05:32] #7421 closed

[2018-08-23 05:34] zz-jason opened #7469 "support `groupjoin` operator"
Some TPC-H queries can also benefit from the `groupjoin` operator. For example Q13, Q3, Q21

References:
- [Accelerating Queries with Group-By and Join by Groupjoin.pdf, VLDB, 2011](https://github.com/pingcap/tidb/files/2313020/2011.VLDB.Accelerating.Queries.with.Group-By.and.Join.by.Groupjoin.pdf)

[2018-08-23 07:17] jaltabike commented on #7349
@siddontang
Because there is enough memory available (total memory size: 61GiB, memory used by tikv_4: 15GiB at max), it is unlikely that OOM occurred.
Although I couldn't find any OOM messeage in dmesg (*command I used: dmesg | egrep -i 'killed process'),
tikv.log says that tikv restarted at that time as you expected.
And there is an error that seems to be related to this restart:
`2018/08/22 16:

[2018-08-23 11:43] ddorian commented on #7160
@c4pt0r You guys have any roadmap with hash-sharding and putting data with same shard_id across different tables in the server ? This way you get the benefits of both range & hash sharding (unlimited scale on range sharding, better joins/transactions on hash sharding when using same hash_value).

[2018-08-23 13:11] diwakarpp commented on #7160
As @ddorian mentioned, combining range sharding and hash sharding both would be a smart combination to speed up the join queries. I'm not sure about the cons though. @c4pt0r @shenli any thoughts/plans for this?

[2018-08-23 14:36] morgo commented on #7468
The SQL standard way to do this is `information_schema`.  Currently TiDB sets `information_schema.tables.data_length` to always be 16384 (1 InnoDB page).

+1 for exposing more features through the server.  The MySQL team is doing this too (See [#1 Use SQL](https://mysqlserverteam.com/making-mysql-easier-to-use-our-new-server-usability-guidelines/)).

[2018-08-23 15:07] shenli commented on #7160
@diwakarpp @ddorian Thanks for your advice.
We don't have a plan for it. In TiDB, data is managed in the unit of `region`.  There is no guarantee that data with the same hash value will be settled in the same region. I think the hierarchical schema used in Google F1 is a better way.

[2018-08-23 19:48] morgo opened #7476 "Feature Request: LOAD DATA LOCAL INFILE does not support IGNORE LINES"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I tried to import a csv file, using instructions in the MySQL manual:
[code]
Big data sets are often distributed as CSV, and [in this case](https://www.capitalbikeshare.com/system-data) it had a header row which needs to be skipped.

2. What did you expect to see?
MySQL behavior:
[code]

3. What did you see in

[2018-08-24 00:55] morgo opened #7477 "LOAD DATA LOCAL INFILE does not update processlist"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I imported sample data in 8 threads into TiDB using `LOAD DATA LOCAL INFILE` (script called from an xargs on ls):
[code]
I was trying to see the status of the files in `SHOW PROCESSLIST` or `SHOW FULL PROCESSLIST`:

[code]

2. What did you expect to see?

It looks like the `Time` and `Info` columns are not up

[2018-08-24 03:03] shenli commented on #7468
@morgo Use SQL API is on the plan. I think it is more convenient. We have a project to expose more cluster internal info to users and tidb admin tools. Will public it on the Github soon.

[2018-08-24 03:41] gutongjiang opened #7478 "loader error"
Use loader to import database and get an error:

`
2018/08/24 11:36:27 db.go:45: [error] query sql[CREATE SCHEMA `tidb_loader`] failed Error 1105: privilege check fail
2018/08/24 11:36:27 main.go:56: [fatal] [loader] initialize loader error Error 1105: privilege check fail
/home/jenkins/workspace/build_tidb_enterprise_tools_master/go/src/github.com/pingcap/tidb-enterprise-tools/loader/db.go:47:
/h

[2018-08-24 03:41] siddontang commented on #7349
oh, this is a known problem.

/cc @breeswish

[2018-08-24 03:45] tiancaiamao commented on #7478
It seems that you have the privilege to execute the SQL.
Use another account, such as `root`, and try again. @gutongjiang

[2018-08-24 04:36] dbjoa commented on #7349
@siddontang, would you let us know the issue filed?

[2018-08-24 04:43] breeswish commented on #7349
Hmm, currently when our scheduler channel is full, tikv will panic. You can adjust the configuration `scheduler-notify-capacity` to a larger value, i.e. `102400`, so that it will be less likely to crash.

The reason that scheduler channel is full is related to large amount of log output from scheduler when operations takes > 1s. This issue has been solved in master branch, but not 2.0.x.

[2018-08-24 05:15] #7396 closed

[2018-08-24 06:38] liubo0127 opened #7481 "TiDB does not handle table dual correctly."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

`create table t(id int(11) primary key not null auto_increment,name varchar(20) default null);`

`insert into t5(id) values(1),(2),(3),(4);`

`mysql> insert into t select 5,'aaa' where not exists (select 1 from t where t.id=5);
ERROR 1105 (HY000): line

[2018-08-24 09:16] tiancaiamao opened #7484 "ERROR 1292 (22007): Incorrect datetime value: '2011-04-26 19:19:44'"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

No error

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

master 224ea311fe114248737e39346f2704a5fdda7f93

[2018-08-25 02:26] winkyao commented on #7481
@mccxj This case is caused by MySQL's parser treat the select statement in insert as create_select:

[code]

The select statement is

[code]

It is not the same. And in TiDB, we just reuse the SelectStmt in InsertIntoStmt, if we want to support this syntax, we need to refactor the UnionStmt and create a new defines CreateSelect. But I think this is not worthy.

In this case, we can just modify the

[2018-08-25 04:31] zhexuany opened #7489 "support query like `explain trace select * from t`"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

master branch.

[2018-08-25 06:59] mccxj commented on #7484
mysql Server version: 5.7.23-0ubuntu0.16.04.1 (Ubuntu)

[code]

[2018-08-25 07:37] winoros commented on #7489
@zhexuany The expected result seems that no trace result included?

[2018-08-25 14:17] shenli commented on #7160
@ddorian With Hierarchical schema we could choose streaming join operator. It is faster and more memory efficient.

[2018-08-26 01:35] mccxj opened #7490 "add more modes for AES"
https://github.com/mysql/mysql-server/blob/4f1d7cf5fcb11a3f84cff27e37100d7295e7d5ca/mysys_ssl/my_aes_openssl.cc#L49

mysql with openssl supports ECB/OCB/CFB1/CFB8/CFB128/OFB modes:

- [X] aes-128-ecb
- [X] aes-192-ecb
- [X] aes-256-ecb
- [ ] aes-128-cbc https://github.com/pingcap/tidb/pull/7425
- [ ] aes-192-cbc https://github.com/pingcap/tidb/pull/7425
- [ ] aes-256-cbc https://github.com/pingcap

[2018-08-27 03:25] mccxj commented on #7476
I am going to do it, if no one is doing it?

[2018-08-27 05:59] tiancaiamao commented on #7484
Yes, you're right. @mccxj

[2018-08-27 05:59] #7484 closed

[2018-08-27 06:04] shenli commented on #7476
@mccxj Great!

[2018-08-27 09:18] lysu opened #7497 "using prepare statement to update bit column failure"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

using MySQL API exec sql:

[code]

configurate parameter bind like this:

[code]
then  bind, exec and check

[code]

2. What did you expect to see?

success update(just as in MySQL)

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_versi

[2018-08-27 09:38] lysu commented on #7497
We will fix this, but this question can be workaround before our fix.

change

[code]
to

[code]
this question is caused by convert string to int in prepare stituation, so using num type can works before our fix.

[2018-08-27 09:40] tiancaiamao opened #7498 "create partitioned table with bigint column fail"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

No error.

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

master 09fb68ae3bd5d93f5d8c2c4d3efc50575769338c

[2018-08-27 10:29] gutongjiang opened #7499 "tikv server timeout"
3 tikv cpu usage is very different, there is a special high, then tikv server timeout appears

[2018-08-27 12:05] lysu opened #7501 "insert timestamp failure with 0000-00-00 00:00:00.000000 in prepare statement"
1. What did you do?

[code]
then prepare and exec a insert 0000-00-00 00:00:00.000000 into `tstamp`

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-08-27 14:12] goldwinner opened #7507 "question about deleting tikv from pd-ctl"
今天刚用ansible方案装好了TIDB集群，2个tidb、3个pd、3个tikv，运行都正常。之后手贱的想试试缩容命令，然后就悲剧了。
执行命令如下：
pd-ctl -u "http://{pd-addr}:2379" -d store delete store_id，命令执行成功
pd-ctl -u "http://{pd-addr}:2379" -d store
查看这个tikv节点的"state_name"为offline，看指南说等一段时间会变成Tombstone
，等啊等，等了两个小时还是offline状态。当时没看到这个https://github.com/pingcap/tidb/issues/4968
就对这个节点进行初始化、安装tikv节点，再滚动升级，升级之后上grafana看状态，store节点倒是有3个，但之前下线的那个节点的store_id变了，而且还有1个处在

[2018-08-27 15:17] winoros commented on #7507
Thanks for your reporting, we'll reply you soon.

[2018-08-27 15:46] winoros commented on #7499
There may be hot spot. We need more information to know what happened.

[2018-08-27 23:49] jaltabike commented on #7349
@siddontang @breeswish
Thank you for your comments.

Again, I performed the same benchmark with my latest benchmark [above](https://github.com/pingcap/tidb/issues/7349#issuecomment-415263515).

The only difference was a tidb version; I used the tidb version 2.1.0-rc.1 which is the latest version I can install by using tidb-ansible now.

As the result, it seemed that data and loads were relatively

[2018-08-28 01:30] shenli commented on #7499
@gutongjiang Please fill the issue template. Do not delete them.

[2018-08-28 03:23] GiggleAll opened #7509 "tidb grafana no data points"
I run tidb tikv pd in the test env. the config like this:
![image](https://user-images.githubusercontent.com/12868931/44698769-f6b93180-aab3-11e8-8466-8435f6056f16.png)
![image](https://user-images.githubusercontent.com/12868931/44698776-fde03f80-aab3-11e8-8733-36b8010cdd3e.png)

And above config file like this:
pd.toml:
![image](https://user-images.githubusercontent.com/12868931/44698821-1d776800

[2018-08-28 03:25] winkyao commented on #7509
@LinuxGit @tennix PTAL

[2018-08-28 03:30] gutongjiang commented on #7499
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-08-28 04:04] LinuxGit commented on #7509
You can https://github.com/pingcap/tidb-docker-compose or https://github.com/pingcap/tidb-operator d driectly.
You should import  prometheus datasource for grafana. And check if there's metrics on pushgateway and prometheus web pages.

[2018-08-28 04:17] WangXiangUSTC opened #7511 "BIT_XOR get different result from mysql"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
execute in mysql:
[code]
I want see the same result when execute in tidb.

3. What did you see instead?
execute in tidb:
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
tidb version:
[code]
mysql version:  5.7.18

[2018-08-28 04:59] GiggleAll commented on #7509
Yep. I already import datasource for grafana. the info like this:
I config prometheus.yml like this ：
![image](https://user-images.githubusercontent.com/12868931/44701441-510cbf00-aac1-11e8-94cf-8f8fd8221726.png)
when access prometheus it's display like this:
![image](https://user-images.githubusercontent.com/12868931/44701471-7bf71300-aac1-11e8-9af0-80153bf91be8.png)
I think maybe "http://120.220

[2018-08-28 05:32] winoros commented on #6933
@shenli It works but not enough. It's range may become nil in future optimization.

[2018-08-28 05:36] #7501 closed

[2018-08-28 06:04] hh8shyy opened #7514 "`tls: bad certificate` when starting pd"
WARNING: 2018/08/28 13:56:04 Failed to dial 0.0.0.0:2379: connection error: desc = "transport: authentication handshake failed: remote error: tls: bad certificate"; please retry.
WARNING: 2018/08/28 13:56:04 Failed to dial x.x.x.x:2379: connection error: desc = "transport: authentication handshake failed: remote error: tls: bad certificate"; please retry.
2018/08/28 13:56:04.228 log.go:82: [warnin

[2018-08-28 06:17] disksing commented on #7507
@goldwinner Another thing is that we need to move all data from the offline store to another available store before switching it to _Tombstone_ state. As your cluster has only 3 TiKV nodes, there is no other TiKV to store data, so the state will never proceed to _Tomestone_.

[2018-08-28 07:03] LinuxGit commented on #7509
You can try pushgateway v0.4.0, and check if there's metrics in pushgateway job group, pushgateway' `/metrics` interface need to be available.

[2018-08-28 07:21] tiancaiamao opened #7516 "enhance partition pruning for table partition"
There are two known issues for current partition pruning implementation:

1. it doesn't support filter conditions that can't be push down to datasource
2. it doesn't support expressions that can't calculate range

Both of them are not reasonable.

@coocood advised in https://github.com/pingcap/tidb/pull/6642 to ignore the selection node above datasoure node, so filter conditions that can't be push

[2018-08-28 07:38] winoros commented on #7516
This is also the limitation the non-partitioned table have when calculating range.

[2018-08-28 08:12] GiggleAll commented on #7509
Yep  the v0.4.0 work well.  and the v0.5.0 hava bugs, and the bug has not been fixed so far.  I found pushgateway issue, someone said that we should not use 0.5.x.
thanks @LinuxGit .maybe update your office document(tidb) to avoid this problem.

[2018-08-28 08:12] #7509 closed

[2018-08-28 09:44] GiggleAll commented on #7509
That's cool, But if use prometheus to pull metrics directly, each node needs an open port. It is not safe for a user with many nodes to open the port. Will you have the better way to solve it?

[2018-08-28 10:12] LinuxGit commented on #7509
TiDB, PD and binlog modules have /metrics interface already on its service port or status port.

[2018-08-28 13:32] ciscoxll opened #7517 "limit the number of retries when a DDL job error occurs"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

*   DDL job fails.
2. What did you expect to see?

* If the current DDL job fails, it will be retried indefinitely, so we need to limit the number of retries.
  Avoid error jobs blocking the entire DDL.

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_

[2018-08-28 14:07] goldwinner commented on #7507
@nolouch 你的意思是grafana里面的这个“处在Tombstone状态的store节点”，没有办法去除掉了，对吗？

@disksing 我在https://github.com/pingcap/tidb/issues/4968 里面看到过类似信息，可惜我之前没看到。
但就我的集群来说，那个节点我折腾了很久：初始化、清空tikv节点数据、重新加入集群、重启集群、滚动升级等等都试了个遍，一直都是offline状态。突然有一次滚动升级之后，这个store节点就变up状态了。但是store_id不是之前的5，变成了1001。在grafana里面看就是有4个store，3个up、1个tombstone。

我想提个建议：“在做缩容的时候检测一下节点数量，对于已经是最小配置的集群(3 PD、3TiKV、2TiDB)，就提示无法缩容，以免其他人犯和我一样的错误”
最后，感谢两位的答复。

[2018-08-28 14:38] morgo opened #7518 "SHOW TABLE STATUS case sensitivity"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]
Also:
[code]

This command is however correct:
[code]

(I checked some other commands too: `SHOW INDEXES FROM T1` is also correct leading to some inconsistency.)

2. What did you expect to see?

`SHOW TABLE STATUS` should be case insensitive / behave the same as the select statement, since TiDB behaves

[2018-08-28 14:57] morgo opened #7519 "Support Case Insensitive Collations"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?
MySQL result:
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-08-28 15:01] morgo commented on #7519
It looks like it is only collating as binary:

MySQL 8.0:
[code]

TiDB:
[code]

[2018-08-28 15:05] morgo commented on #7519
I did some research, looks like this is a [Roadmap](https://github.com/pingcap/docs/blob/master/ROADMAP.md) feature.  Should I close this bug or leave it open?

[2018-08-28 15:18] morgo commented on #7468
Related to this, `SHOW TABLE STATUS` and `information_schema` both report different numbers for data size statistics (0 versus 100).  When a value is not available, it is better to report `NULL`:

[code]

[2018-08-28 16:04] diwakarpp commented on #7160
thank you @shenli  Just for discussion on the join query performance, looks like cratedb guys used [Block Hash Joins and they explained it in a recent article here](https://crate.io/a/lab-notes-how-we-made-joins-23-thousand-times-faster-part-two/). I guess it could be a overkill for TiDB performance fine tuning as TiDB and CrateDB both are completely different systems in the core engine level but

[2018-08-29 01:25] morgo opened #7522 "set password='xx' fails privilege check"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I tried to change the password for a non-privileged user:
[code]

2. What did you expect to see?

It should be possible to set your own password.

3. What did you see instead?

Error.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-08-29 01:42] morgo opened #7523 "FR: EXPLAIN on partitioned table should describe partitions"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?

I would like to see the table:employees include the partition name.  For example:
table:employees[p0]

This is helpful if I've used pd to move certain partition's regions to different geographic regions.  I can confirm with `EXPLAIN` that the data ended up where expecte

[2018-08-29 02:56] morgo opened #7524 "FR: Option to have all queries low priority"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

Currently, it is possible to explicitly set individual queries to either low or high priority:
https://github.com/pingcap/docs/blob/master/FAQ.md#how-to-control-or-change-the-execution-priority-of-sql-commits

I would like to have an option to be able to set all queries from a TiDB server to Low Priority.

2.

[2018-08-29 04:46] GiggleAll opened #7526 "syncer tool run failed. "xxx table doesn't exist""
I use syncer tools that it work well in the test env,but when I run dev env it have some problems.
![image](https://user-images.githubusercontent.com/12868931/44765805-0d7d8800-ab89-11e8-8796-54137234e8fd.png)
this check all pass.

but I run "./bin/syncer -config config.toml -log-file ./syncer.log"
the error like this:
![image](https://user-images.githubusercontent.com/12868931/44765875-60efd600-a

[2018-08-29 06:04] q6413260 opened #7527 "how can I know the region of some rows in a table?"
how can I know the region of some rows in a table?

[2018-08-29 07:42] disksing commented on #7507
@goldwinner Thank you for your suggestion. I added an issue in the backlog. We might consider improving it  in the future.

[2018-08-29 07:49] WangXiangUSTC opened #7529 "CONCAT_WS get wrong string for float type value"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

677185000 changed to 677185024

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
Release Version: v2.1.0-rc.1-8-g55565f1
Git Commit Hash: 55565f1c938f47ab09bae8b04dc4edc29ce4d8e3

[2018-08-29 07:50] winoros commented on #7529
I think this one is duplicated with https://github.com/pingcap/tidb/issues/7511. And is the reason of that one.

[2018-08-29 07:58] #5691 closed

[2018-08-29 08:29] lysu commented on #7333
fixed by #7375

[2018-08-29 08:29] #7333 closed

[2018-08-29 08:35] WangXiangUSTC commented on #7529
OK， I will close this issue @winoros

[2018-08-29 09:44] GiggleAll opened #7535 "mysql to tidb data migration"
您好  问个问题， 我们之前用的是mysql数据库 现在想逐步迁移到tidb上，但是现在有个问题是，之前在mysql上的binlog是不完整的，然后我们就想着使用你们提供的那个sycner工具，有一个问题是syncer只能同步binlog中存在的数据，这样的话只用syncer是不能完整的将mysql迁移到tidb上，  然后就想着用另外一个工具loader来先导入数据，记下位置然后让binlog直接从那个位置上开始同步，但是在dump数据的时候要是不停止mysql服务的话肯定还会有数据写入进来，这样之前记下的位置和实际的位置中间重复，  所以有个问题是在这种情况下syncer会不会导致进入到tidb的数据库数据重复？  （我们不想停止线上的mysql服务器，来做到数据迁移）  请问有没有什么好的方案？

[2018-08-29 09:53] #7535 closed

[2018-08-29 11:28] eurekaka commented on #7279
some more queries to be verified for the solution of this issue:
[code]

[2018-08-29 11:35] jackysp opened #7537 "type year has an unsigned flag"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
Flags:      UNSIGNED ZEROFILL NUM

3. What did you see instead?
Flags:     ZEROFILL NUM

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
eec68995689d5811f4d52846586e

[2018-08-29 11:45] zz-jason opened #7539 "optimize count distinct a single column individually"
The implementation of the aggregate function `count(distinct xx)` calculates the value of the input column, encodes it to a `byte` slice, and visits a `map` with that `byte` slice to check whether the input is a distinct value.

It results in a poor performance, which takes **1 min 16.23 sec**:

[code]

But we can specially handle the scenario that there is only one parameter in the `count` functi

[2018-08-29 12:34] winoros commented on #7539
Another fact is that if we can choose stream agg with index to do the distinct, its performance is far more better than hash.
Maybe we can first rewrite the things with single distinct to group by first. Then optimize the group-by's performance.

[2018-08-29 12:47] zz-jason commented on #7539
@winoros yes, the optimizations you mentioned should also be considered. But we still need to optimize the performance of `count(distinct)` a single column, because in some scenarios, we have to calculate the `count(distinct)` directly:

[code]

@winoros It's better to file another issue to describe the rewrite method.

[2018-08-29 15:11] crazycs520 opened #7545 "ctrl-c can't kill tidb-server"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
tidb-server exit.

3. What did you see instead?
tidb-server do not exit.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
Release Version: v2.1.0-rc.1-6-g1d0d0a666
G

[2018-08-29 15:55] jmesyan commented on #2413
oh, out mysql database use so many Stored Procedure, can't support it?

[2018-08-29 16:01] coocood commented on #2413
@jmesyan
We still do not have a plan for it.

[2018-08-30 01:04] mccxj opened #7546 "Support remaining JSON functions from MySQL 5.7"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

scalar function. See https://dev.mysql.com/doc/refman/5.7/en/json-function-reference.html
- [X] JSON_TYPE
- [X] JSON_EXTRACT
- [X] -> equivalent to JSON_EXTRACT()
- [X] ->> equivalent to JSON_UNQUOTE(JSON_EXTRACT())
- [X] JSON_UNQUOTE
- [X] JSON_ARRAY
-

[2018-08-30 02:12] 474420502 opened #7547 "PD server timeoutstart timestamp may fall behind safe point"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?
root@vn101:~# mysql -h 192.168.6.101 -P 4000 -u root -D log
ERROR 9001 (HY000): PD server timeoutstart timestamp may fall behind safe point
错误明显忽然时间戳在凌晨5点出现这个问题.

4. What version of TiDB are y

[2018-08-30 02:52] coocood commented on #7547
@474420502
Thank you for your report.

Please take a look at https://github.com/pingcap/docs/blob/c198d01eed47b76d0fb3aad552167ed96364d117/FAQ.md#error-9001-hy000-pd-server-timeout-start-timestamp-may-fall-behind-safe-point

[2018-08-30 02:55] coocood commented on #7545
@crazycs520
Is it reproducible?

[2018-08-30 03:14] tiancaiamao commented on #7545
I also meet this error sometimes.

[2018-08-30 04:13] coocood commented on #7547
@474420502
Another possible reason is that the disk on the PD's machine is slow.

[2018-08-30 04:17] coocood commented on #7547
You can try to deploy PD on a dedicated server and see if the error happens again.

[2018-08-30 04:54] crazycs520 commented on #7545
@coocood yes, It is reproducible.

[2018-08-30 06:46] 474420502 commented on #7547
@coocood  :+1:  :ok_hand:  thanks!

[2018-08-30 07:27] zhexuany commented on #7537
@jackysp title is kinda confusing. Do you mean "type year should have an unsigned flag, but it does not have currently"?

[2018-08-30 07:44] lamxTyler opened #7551 "Index join hint do not take effect"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
Second query should also choose index join.

3. What did you see instead?
Second query chooses the hash join.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
c625c2723914be69327347650db080a0faafe3d3

[2018-08-30 08:44] bqwzhl20 opened #7552 "unexpected dml statement found in query event"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
使用syncer同步数据，然后用pt-table-checksum检查数据一致性
语句如下：
pt-table-checksum -uroot -pxxx -h10.24.195.1 -P3307 --no-check-binlog-format

报错信息如下：
2018/08/30 16:24:17 syncer.go:691: [info] [query]DELETE FROM `percona`.`checksums` WHERE db = 'test' AND tb
l = 'table_test' [current pos](mysql-log-bin.000068, 465066953) [next

[2018-08-30 10:02] laidahe commented on #4502
I am working on it.It's my pleasure.

[2018-08-30 10:40] lvleijie opened #7555 "TiDB will kill process of a simple select sql about 2 minutes"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

This is what happened to me, when I tried to query with a simple select sql, It will be killed automatically after about 2 minutes. Just like this :

mysql> select * from mbk_orders where orderid>'1';
已杀死(has been killed)

2. What did you expect to see?

[2018-08-30 12:12] WangXiangUSTC commented on #7552
when use pt-table-checksum to compare data, this tool will set binlog format to `statement`, but syncer require `row` format, so this binlog event parsed failed in syncer.

[2018-08-30 14:09] winoros commented on #7555
@lvleijie
Thanks for your reporting.
Could you provide more information such as the tidb log or dmesg log around the time executing this sql?
And what error returned from the terminal? Is it something like `Lost connection to MySQL server`?

[2018-08-30 14:23] tianjiqx opened #7559 "TiDB logical optimization: extend outer join elimination"
TiDB(Release Version: v2.1.0-beta-171-g7223353) support outer join elimination,  but it can be further expanded.

[code]

[2018-08-30 14:35] tianjiqx commented on #7559
If there are no other idle people, I can try to implement it.

[2018-08-30 14:58] zhexuany commented on #7559
this proposal is still being reviewed. We need all agree on design first and then implement it. We are really happy if you could jump in and contribute to ours project.

[2018-08-30 16:10] zz-jason commented on #7559
@tianjiqx The first example:
[code]

Because the filter `t3.c2 < 5` is NULL rejective, the left outer join on `t2` and `t3` is simplified to inner join. After this simplification, we can safely add another two filters on `t2` and `t3`, which are `t2.c1 is not null` and `t3.c2 is not null`, based on the `on` condition of the simplified inner join:

[code]

With the derived filter `t2.c1 is not null

[2018-08-30 16:32] zz-jason commented on #4833
done in: https://github.com/pingcap/tidb/issues/6952

[2018-08-30 16:32] #4833 closed

[2018-08-30 16:35] tiancaiamao commented on #7555
It seems that mysql client OOM. @lvleijie

[2018-08-30 17:04] tianjiqx commented on #7559
Good

[2018-08-31 03:09] ngaut opened #7565 "We need a tutorial on how to use tidb tracing"
Reference https://github.com/pingcap/tidb/pull/7016

[2018-08-31 03:26] weilain opened #7566 "mydumper/loader 的使用方法"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-08-31 03:44] goldwinner opened #7567 "question of the guide of syncer"
在官方文档：https://pingcap.com/docs-cn/tools/syncer/#syncer-%E4%BD%BF%E7%94%A8%E6%96%87%E6%A1%A3 里面的“配置 Syncer 监控与告警”段落

能否详细解释一下这个expr表达式是什么意思？谢谢！
IF syncer_binlog_file{node='master'} - ON(instance, job) syncer_binlog_file{node='syncer'} > 1

[2018-08-31 03:47] #7223 closed

[2018-08-31 06:01] birdstorm commented on #7545
I think this issue duplicates with #7221

[2018-08-31 06:03] tiancaiamao commented on #7221
Close since it's duplicated

[2018-08-31 06:03] #7221 closed

[2018-08-31 06:05] tiancaiamao commented on #7545
@birdstorm  I close that issue.
Now @crazycs520 and @coocood  is working on this one.

[2018-08-31 06:40] crazycs520 commented on #7545
@shenli @tiancaiamao
background: There is a big table that contains 50000 rows data and do not have any index.
The reason is already find by @coocood .
* Reason1: auto analyze trigger condition, Fix by @lamxTyler .  In.  https://github.com/pingcap/tidb/pull/7556
* Reason2 and the main reason, in `domain.Close()`,  `do.sysSessionPool.Close()`  is blocked cause by  `sysSessionPool` recycling resourc

[2018-08-31 07:16] lerencao commented on #7422
Awesome!

[2018-08-31 08:45] #7537 closed

[2018-08-31 10:10] denghuancong opened #7568 "Is"

[2018-08-31 10:11] #7568 closed

[2018-08-31 10:19] #7555 closed

[2018-08-31 10:26] AlexNewTao opened #7569 "When TIDB uses mydumper to back up, how much impact will it have on the original performance?"
1 When TIDB uses mydumper to back up, you need to obtain a global write lock. How much impact will this have on TIDB's original performance?
2 Do you have data to illustrate such an impact?
3 Is there any plan to develop TIDB's own backup solution?
4 When mydumper does not get the global write lock of TIDB, how to ensure the consistency of data?
5 if we get the global write lock of TIDB,how much n

[2018-08-31 16:22] lysu opened #7572 "prepare insert/update long-data type cols got null using mariadb connector-c"
1. What did you do?

using mariadb c client libary https://downloads.mariadb.org/connector-c/

to insert/update TEXT, TINYTEXT, MEDIUMTEXT, LONGTEXT and BLOB, TINYBLOB, MEDIUMBLOB, LONGBLOB columns.

2. What did you expect to see?

the value provided

3. What did you see instead?

always got null

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

2.

[2018-09-01 02:54] #7526 closed

[2018-09-01 05:40] jmesyan commented on #2413
It's a pity @tracymacding

[2018-09-01 15:25] iakisey opened #7578 "slice bounds out of range"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
programer

2. What did you expect to see?
![371535815214_ pic](https://user-images.githubusercontent.com/20331418/44947327-2cf10b00-ae3e-11e8-98e5-bad41e7eaf4d.jpg)

3. What did you see instead?
![381535815342_ pic](https://user-images.githubusercontent.com/20331418/44947332-367a7300-ae3e-11e8-8919-0e3013285d9

[2018-09-02 04:41] eurekaka opened #7579 "plan cache would be broken if empty range DataSource is converted to TableDual"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

set `prepared-plan-cache-enabled=true` first in config.toml and start TiDB using this config file.

[code]

2. What did you expect to see?

last `execute` statement should return all 3 rows of table.

3. What did you see instead?

empty set returned.

4

[2018-09-02 04:46] eurekaka opened #7580 "ranger returns wrong empty range for `null` filter"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

third row of the table should be returned, i.e, `| NULL | 3 |`

3. What did you see instead?

empty set returned.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-09-02 04:51] eurekaka commented on #7580
Hmm, I just figured out `NULL = NULL` is `false`, so the result is right. Close this issue.

[code]

[2018-09-02 04:51] #7580 closed

[2018-09-02 05:37] zhexuany commented on #7578
Thanks for your reporting. We will investigate this. @zz-jason PTAL when you have time.

[2018-09-02 05:39] zhexuany commented on #7567
@goldwinner Thanks for using `TiDB`. This repo may not be a good fit for this question. Maybe you should ask this question in syncer repo.

[2018-09-02 05:40] zhexuany commented on #7566
I believe we already have such document in chinses. You can google it.

[2018-09-02 05:40] #7566 closed

[2018-09-02 06:08] coocood commented on #7569
@AlexNewTao
Thank you for your interest in TiDB.

1. it will increase the query latency, but not by much, the accurate impact number depends on the cluster environment.
2. Not yet.
3. Our own backup solution is in the roadmap.
4. The data consistency is ensured by a global timestamp, future inserted data is not visible for the transaction reader.
5. We don't have a global write lock.

[2018-09-02 09:08] mccxj commented on #7578
mini testcase:
[code]

[2018-09-02 12:28] eurekaka opened #7582 "wrong `count` output of explain for TableScan plan"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

`count` outputs should all be `0.00` for the above `explain` statements.

3. What did you see instead?

`count` field is `10000.00`.

Three requirements to trigger this problem:
- filter is on primary key;
- filte

[2018-09-02 14:01] goldwinner commented on #7567
@zhexuany syncer不是闭源的吗？请问它的repo地址是多少？

[2018-09-02 14:29] shenli commented on #7547
@474420502 Does it solve your problem?

[2018-09-02 14:31] zhexuany commented on #7565
Sorry for the delay. I will do it shortly.

[2018-09-02 14:34] zhexuany commented on #7567
My bad. I already forwarded this issue to sre team.

[2018-09-02 22:37] tianjiqx commented on #7559
Addtional:

**1. a predicate containing two tables on where is also a null value rejection.**
[code]
tidb is not processed at present.
[code]
It can be rewritten into the following form(reduce left join and from where push down to join on condition). =>
[code]
this SQL's explain plan is in PostgreSQL(hash join is represent inner join, otherwise hash right join/hash left join).
[code]
sometimes it

[2018-09-02 23:00] tianjiqx commented on #7559
Sorry, I am a little busy recently. Only now can I reply to you. @zz-jason

I review the code logic about the predicate push down on the join operator in PostgreSQL(include reduce_outer_joins() and distribute_qual_to_rels()).However, I don't fully understand it.It seems that it first completes the outer join elimination and then makes the predicate push down.

I want to illustrate the elimination

[2018-09-03 01:07] breeswish commented on #7349
@jaltabike Sorry I missed the notification. Would you like to share the TiKV metrics in the "Threads" section? We can help diagnosis the issue. Currently we indeed have some known edge cases that may cause what you see and the fix requires some adjustments of configurations. However we need to first identify it.

[2018-09-03 02:35] WangXiangUSTC commented on #7567
it means the syncer's synced position is one binlog file behind the master, for example, you show master status in mysql, the binlog position is binlog.00002, but the syncer only synced the binlog.00001, it can means that syncer can not sync data in real time, you need pay attention to it.

[2018-09-03 04:53] eurekaka commented on #7582
https://github.com/pingcap/tidb/pull/7583 merged

[2018-09-03 04:53] #7582 closed

[2018-09-03 04:53] zz-jason commented on #7582
does index scan have the same problem?

[2018-09-03 04:54] xiangyuf commented on #7546
I will implement JSON_CONTAINS_PATH

[2018-09-03 04:56] eurekaka commented on #7582
@zz-jason no, only happens on PK table scan

[2018-09-03 06:27] 474420502 commented on #7547
@shenli  我已经把该节点分散负载了, 目前还没什么问题, 但是我也不想还原之前的场景.

[2018-09-03 07:59] iakisey opened #7590 "pd error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
start pd

2. What did you expect to see?
pd run

3. What did you see instead?
![431535961443_ pic_hd](https://user-images.githubusercontent.com/20331418/44974445-40ad8600-af92-11e8-9ed4-7297c764e114.jpg)

4. What version of TiDB are you using (`tidb-serv

[2018-09-03 08:20] XuHuaiyu opened #7591 "consider unsigned int for built-in function truncate"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-09-03 08:51] guohonglei opened #7592 "why is this sql so slow"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I have a sql ,i don't know why it runs so slow.
the sql is
[code]

2. What did you expect to see?
I hope this sql can runs fast in some way

3. What did you see instead?
I don't know.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
v2.0.4-1

[2018-09-03 08:53] winoros commented on #7592
@guohonglei Thanks for your report.
Please provide the table schema and the `EXPLAIN` result of this sql.

[2018-09-03 08:53] zz-jason commented on #7592
Could you provide us the following information to help locating why the sql runs slow:

- the execution plan of this SQL in TiDB
[code]

- TiDB version
[code]

- the `create table` statement for the involved tables
[code]

- the statistics data of the involved tables
[code]

- is the query always slow, or just occasionally

[2018-09-03 08:55] jackysp opened #7593 "insert a id > 9223372036854775807 should not raise an error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
No error.

3. What did you see instead?
ERROR 1690 (22003): constant 18446744073709551200 overflows bigint

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
e04f74b03

[2018-09-03 08:58] zhexuany commented on #7590
@iakisey Thanks for using TiDB. It seems to be a pd problem and you could create a issue at github.com/pingcap/pd

[2018-09-03 08:59] jackysp commented on #7593
Duplicated with 3647

[2018-09-03 08:59] #7593 closed

[2018-09-03 09:16] jackysp opened #7594 "type bit could have null as its default value"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
No error.

3. What did you see instead?
ERROR 1067 (42000): Invalid default value for 'field_1'

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
e04f74b031f5b47dba79

[2018-09-03 09:32] Connor1996 commented on #7590
/cc @nolouch

[2018-09-03 09:48] nolouch commented on #7590
@iakisey  Have you downgraded the PD? Please check the log. Now Version 2.1 can't be downgraded to Version 2.0, you can still use the 2.1 version or use [pd-recover](https://github.com/pingcap/docs/blob/master/tools/pd-recover.md) to recover the PD cluster to 2.0.

[2018-09-03 10:40] shenli commented on #7567
@goldwinner Does it solve your problem?

[2018-09-03 10:52] WangXiangUSTC commented on #7552
@bqwzhl20 any other question? or I will close this issue.

[2018-09-03 11:42] jaltabike commented on #7349
Thank you, @breeswish
TiKV metrics in the "Threads" section are as follows:
![image](https://user-images.githubusercontent.com/1661884/44984840-394da300-afb9-11e8-9714-710f01173459.png)
![image](https://user-images.githubusercontent.com/1661884/44984850-3fdc1a80-afb9-11e8-8a20-c6085ec10bdb.png)

There are only 2 metrics in the "Threads" section.
Each metric contains various types of values, so tha

[2018-09-03 11:52] AlexNewTao commented on #7569
@coocood  Thank you very much for replying me so soon. There are still some questions here, I look forward to receiving your answer.

1 What time the backup solution suppose to be released ? Where can I see the roadmap of your development plan?
2 You said the data consistency is ensured by a global timestamp,can you explain it detail?
3 In order to make TIDB better, can you provide details about t

[2018-09-03 12:29] guohonglei commented on #7592
![sql_explain](https://user-images.githubusercontent.com/22292400/44986947-0e168400-afb8-11e8-8678-3bed9df4e813.png)

[2018-09-03 12:30] guohonglei commented on #7592
tidb version:  v2.0.4-1

[2018-09-03 12:37] winoros commented on #7592
@guohonglei What's the index on this table? Or you just want to see the performance without index?

[2018-09-03 12:38] zz-jason commented on #7592
It's an known issue, you can
1. update the cluster to the latest master version to gain the performance improvement.
2. handcraft the sql to avoid the `desc` order by. For example: if there are total N records without the `limit` clause, the records which have the top 20 least `id` is the same with the records which have the top N-20 largest `id`

[2018-09-03 12:39] guohonglei commented on #7592
![sql_index](https://user-images.githubusercontent.com/22292400/44987312-669a5100-afb9-11e8-85ba-28165b340134.png)

[2018-09-03 12:43] guohonglei commented on #7592
@zz-jason   I don't know how to fix it with mysql syntax

[2018-09-03 12:44] guohonglei commented on #7592
@zz-jason  without limit ,how can I get the top 20

[2018-09-03 12:49] zz-jason commented on #7592
1. you can get the number of records by this sql query:
[code]

2. the equivalent sql query for this issue is:
[code]

`N` is the result of the former query.

[2018-09-03 12:51] guohonglei commented on #7592
I find one way , but I don't konw why
[code]

[2018-09-03 12:52] zz-jason commented on #7592
@gregwebs If it's not convenient to update the cluster to the latest master branch, maybe you can try to update it to the latest `v2.0.6` release version. The performance should also be improved.

[2018-09-03 12:54] csuzhangxc commented on #7569
@AlexNewTao
1. New backup solution will be released around the end of this year, and the roadmap is not yet public.
2. When executing `SHOW MASTER STATUS`, TiDB will return a global timestamp like MySQL's binlog pos.
3. The backup solution is still in the early stage of design.

[2018-09-03 12:55] zz-jason commented on #7592
@guohonglei I think the result of this modified query is not the same with the original query, because the modified query orders the result by the value of `create_time`, while the original query orders the result by the value of `id`.

[2018-09-03 12:58] guohonglei commented on #7592
why order by different field  costs different time, more than 60 seconds and less than 1 second

[2018-09-04 03:35] guohonglei commented on #7592
Today's slow SQL suddenly runs faster.I'm confused.
I think we haven't changed anything.

[2018-09-04 03:36] guohonglei commented on #7592
the version is still v2.0.4-1

[2018-09-04 05:15] winoros commented on #7592
@guohonglei Is the plan changed? You can `explain` and paste the new result.

[2018-09-04 05:53] breeswish commented on #7349
@jaltabike Hi, there should be a dashboard called "xxx-tikv" (by default, `IP:3000/dashboard/db/test-cluster-tikv`), in which there is a panel called "Thread CPU".

[2018-09-04 06:31] gutongjiang opened #7601 "I removed 5 of the 8 tikv machines, can the data be restored"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

I removed 5 of the 8 tikv machines, can the data be restored?

[2018-09-04 07:14] guohonglei commented on #7592
here is the new explain:
![sql_explain_new](https://user-images.githubusercontent.com/22292400/45015719-24265200-b055-11e8-8bf0-629797088ca3.png)

[2018-09-04 07:15] guohonglei commented on #7592
It seems to have changed a lot

[2018-09-04 07:28] birdstorm commented on #7594
+1 because TiSpark is failing corresponding tests because data cannot be loaded by TiDB.

[2018-09-04 07:28] guohonglei commented on #7592
How to analyze table tr?

[2018-09-04 08:19] holys opened #7603 "parser failed to parse comment starts with two dash without whitespace but follows by other control character"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

Note: The is no whitespace after the first `--` and third `--`.

If we use "%q" in Go to format, it will look like:
[code]

Btw, I test with parser code, not execution in mysql client.

2. What did you expect to see?
[code]

3. What did you see

[2018-09-04 08:41] shenli commented on #7603
We should consider comment with `--` and a newline [here](https://github.com/pingcap/tidb/blob/master/parser/lexer.go#L310).

[2018-09-04 09:07] kennytm commented on #7603
Just quote my comment from Slack,

If we could figure out the precise definition of "control character" from the MySQL doc we could replace that `isSpace`.

(Maybe need to handle the case where a `--` appears at EOF as well)

[2018-09-04 09:55] meilihao opened #7606 "auth error: no such host"
1. What did you do?
[code]

2. What did you expect to see?
mysql client works.

3. What did you see instead?
[code]
tidb.log:
[code]

And i found `mysql-client-5.7` is ok:
[code]
4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-09-04 10:02] meilihao commented on #7606
MariaDB client 5.5 is ok too.
[code]

[2018-09-04 10:17] zhexuany commented on #7606
Per our source code, `no such host` is returned by `net.LookupAddr()`. It seems such ip cannot be accessed from your host.

[2018-09-04 10:19] zhexuany commented on #7601
Thanks for using `TiDB`. It is possible but the change is small. In my opinion, it depends on region distribution. @breeswish please confirm this.

[2018-09-04 11:18] meilihao commented on #7606
i show my public ip(221.12.20.22).

I don't know why connetion need net.LookupAddr("22.20.12.221"). what's different between mysql clinet 8.0 and client 5.x?

[2018-09-04 11:27] zhexuany commented on #7606
My bad, I overlook `8.0` version. Currently, ` TiDB` is compatible with 5.7. https://github.com/pingcap/tidb/issues/6942 is a known issue. Closing due to duplicate.

[2018-09-04 11:31] meilihao commented on #7606
duplicate? @zhexuany my question has nothing to do with the character set. It should be another problem.

[2018-09-04 11:38] ciscoxll opened #7607 "Create `Range columns` type partition error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?

Meet no error.

3. What did you see instead?
[code]

The range partition comes in two varieties:
 + a. partition by range(expr)   **`support`**
 + b. partition by range columns(column_list)  **`not support`**

`Range columns partition` only implements the parser, so it

[2018-09-04 11:40] zhexuany commented on #7606
[code]
Above code snippet is where the err comes from. According to the comment of `LookupAddr`, and I quote below:

A easy checking is writing a `main.go` calling `net.LookupAddr(22.20.12.221)` to see whether the error still persists.

[2018-09-04 11:44] zhexuany commented on #7606
[code]
It is likely to be a dns resolver problem.

[2018-09-04 11:51] XuHuaiyu opened #7609 "dd document about the implementation of hash aggregate operator"
As the title says.
subtask of #7460

[2018-09-04 11:52] XuHuaiyu commented on #7609
PR https://github.com/pingcap/docs-cn/pull/859

[2018-09-04 12:16] XuHuaiyu opened #7611 "HashJoinExec.Close should wait for the exit of innerWorker"
After, #6856 the inner data fetcher and outer data fetcher will run
simultaneously. If an error happens during fetching the outer table data,
HashJoinExec.Close will be called, but the inner data fetcher may be still
running at this time. Some unexpected error may be raised due to this such
as data race. So, the inner data fetcher should exit in time if there is an
error found in outer data fetche

[2018-09-04 12:17] XuHuaiyu commented on #7611
Fix in https://github.com/pingcap/tidb/pull/7554

[2018-09-04 12:17] #7611 closed

[2018-09-04 15:37] xiaoma20082008 commented on #7592
@guohonglei run `analyze table tr` in your command line

[2018-09-04 16:46] tiancaiamao commented on #7516
A demo for it https://gist.github.com/tiancaiamao/4aab62ba70381fce15da1e4572fbd0b1

[2018-09-05 01:41] meilihao commented on #7606
Yes, I tried and got the error.

What I don't understand is why two public ip communications need it.

[2018-09-05 02:29] #7603 closed

[2018-09-05 02:32] zhexuany commented on #7606
`getHostByIP` is called under `*session.Auth`. I guess this is how `MySQL` handle authentification, we just adopt it from MySQL. @tiancaiamao Could you please confirm this? I believe you are the point person point regarding this particular issue.

[2018-09-05 02:41] zhexuany commented on #7545
@crazycs520 If you already fixed this issue, please close this one ;)

[2018-09-05 02:42] zhexuany commented on #7527
@breeswish any idea for this question?

[2018-09-05 02:44] #7552 closed

[2018-09-05 02:45] zhexuany commented on #7547
@coocood It is worth to add "Another possible reason is that the disk on the PD's machine is slow and busy." to our doc.

[2018-09-05 02:59] XuHuaiyu commented on #7125
It seems that the `cpu-perf for pkg all error` is lost in the description.😄

[2018-09-05 03:45] tiancaiamao commented on #7545
I think we should re-design the resource pool, when resource is take out from the pool, its ownership should be moved from the pool.

[2018-09-05 03:54] shenli commented on #7545
@tiancaiamao Agree. Please provide a proposal doc.

[2018-09-05 04:45] morgo opened #7613 "current_user() function returns incorrect results"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

In TiDB, the `current_user()` function appears to just be an alias of the `user()` function.  In MySQL these have differing behaviors.

2. What did you expect to see?

[code]

Note that `current_user()` shows the same user you would see in `SHOW GRANTS`.  This is useful for corner cases where multiple users c

[2018-09-05 04:50] crazycs520 commented on #7613
Thanks for your feedback.

[2018-09-05 04:51] crazycs520 commented on #7613
@tiancaiamao PTAL

[2018-09-05 05:03] morgo opened #7614 "show grants syntax contains inconsistencies with MySQL"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

There are inconsistencies with MySQL SHOW GRANTS.  Some of them make TiDB user administration more susceptible to typos etc.

2. What did you expect to see?

In MySQL checking grants for a non-existing user (not dependent on SQL mode):
[code]

In TiDB:
[code]

In MySQL there is a shortcut to show your current

[2018-09-05 05:06] crazycs520 commented on #7614
Thanks for your feedback.

[2018-09-05 06:27] jaltabike commented on #7349
@breeswish
TiKV metrics in the "Thread CPU" section are as follows:
![image](https://user-images.githubusercontent.com/1661884/45074576-f4438100-b11e-11e8-9410-bbb2ae8b1045.png)
![image](https://user-images.githubusercontent.com/1661884/45074585-fc032580-b11e-11e8-985f-db8058f20d4d.png)
![image](https://user-images.githubusercontent.com/1661884/45074612-10472280-b11f-11e8-83c3-b340e74a18a1.png)
![

[2018-09-05 07:20] winoros opened #7615 "Wrong behavior on builtin function `truncate`"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

`select truncate(9223372036854775808, -10);`

TiDB don't handle the unsigned int case of this function.

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select

[2018-09-05 07:40] tiancaiamao commented on #7578
It's around here:
https://github.com/pingcap/tidb/pull/7268/files#diff-2ed8f699513f49aaaf408561a56aa2e7L477

The old code evaluate using type.Datum, and enum type info would be handle properly.
After the change, we'll use chunk.Chunk instead of types.Datum, the eval type is always using string.

When the chunk execution finish, the column data stored in the chunk is string (it **should be** conver

[2018-09-05 08:15] tiancaiamao commented on #7606
Have you ever change the root password? @meilihao
Make sure you're using the right password, I guess that's the problem.
Don't bother with the "no such host" in the error message, it's misleading.

[2018-09-05 08:29] tiancaiamao commented on #7606
Please focus on the user's problem. @zhexuany
Don't guessing.
Don't open a new topic.

[2018-09-05 08:37] #7072 closed

[2018-09-05 09:26] meilihao commented on #7606
@tiancaiamao I am sure I have used the correct password.

[2018-09-05 09:31] #7572 closed

[2018-09-05 09:34] tiancaiamao commented on #7606
So I suspect it's caused by this:

https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-11.html

**MySQL 8.0 changes the default authentication plugin from mysql_native_password to caching_sha2_password**.

https://stackoverflow.com/questions/50093144/mysql-8-0-client-does-not-support-authentication-protocol-requested-by-server

We'll take a look to confirm that, thanks for your feedback. @mei

[2018-09-05 13:34] morgo commented on #7516
In #7523 I have a small feature request which complements test-cases for partition pruning.

[2018-09-05 13:57] tiancaiamao commented on #7516
I have already make partition info visible in this PR:
https://github.com/pingcap/tidb/pull/7505/files#diff-0d9c730193ced8057a092d0c770ea44fR28

There is a lot of room for improvement, any suggestion is welcome. @morgo

[2018-09-05 14:05] victorggsimida opened #7620 "TIKV DISCONNECTED!! Raftstore Busy!!"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

i do nothing

2. What did you expect to see?

tikv just work as normal

3. What did you see instead?

tikv is disconnected in pd ctl with store command

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

|

[2018-09-05 14:13] crazycs520 commented on #7620
Thanks for your feedback. @coocood PTAL.

[2018-09-05 14:15] crazycs520 commented on #7620
@breeswish PTAL

[2018-09-05 14:16] victorggsimida commented on #7620
more info

1. the problem happen in different tikv. and the  error log 'send raft msg to raft store fail'  always come after apply snapshot

2.I find that the snap directory in data is sometimes 240M or very small several kb in different tikv.

3.I don't know how to fix it. it is very important for us.

[2018-09-05 15:07] victorggsimida commented on #7620
@siddontang
hi, I will give it to u tomorrow! Can u give me your email address!
the log is a little big!

[2018-09-05 15:11] Connor1996 commented on #7620
@victorggsimida you can give the log to me `zhangbokang#pingcap.com`(Please replace # with @)

[2018-09-05 15:15] siddontang commented on #7620
@victorggsimida

There is a report icon on the TiKV Grafana page, like

![image](https://user-images.githubusercontent.com/1080370/45102871-2d9ce080-b161-11e8-84f4-880555e0b54b.png)

you can click it and generate a PDF for the whole metric page.

[2018-09-05 15:21] victorggsimida commented on #7620
@siddontang  ok thanks so much!

[2018-09-05 15:42] victorggsimida commented on #7620
another problem with syncer

syncer version

[code]

1. data in mysql
[code]

2. after syncer sync the data  to tidb
name is ok,chinese is ok
but the json : chinese is

[code]

3. my test

golang： connect mysql with latin1 set in the connection : insert the data to tidb  with another utf8 connection. all data is ok.

but I found that the same data:

in syncer log I see that the json column bytes i

[2018-09-05 16:07] Connor1996 commented on #7620
@victorggsimida This is off topic which is not convenient for future searching, would you mind create another issue to describe that? I will ask someone take a look tomorrow morning.

[2018-09-05 16:17] zz-jason opened #7623 "Call For Participation: finish the unsupported aggregate functions"
All issues are open and welcomed to contributors. You can join **#sig-exec** on [tidb community slack](https://pingcap.com/tidbslack/) to discuss and get help from someone.

## Description

At present, the aggregate functions that TiDB supports are:
- `AVG()`
- `BIT_AND()`
- `BIT_OR()`
- `BIT_XOR()`
- `COUNT()`
- `COUNT(DISTINCT)`
- `GROUP_CONCAT()`
- `MAX()`
- `MIN()`
- `SUM()`

In order to be co

[2018-09-05 17:59] zz-jason commented on #7578
In the type infer phase, the result type for function `first_row(enum)` is inferred to string, and the column type in the schema should also be changed to string.

In a word, the type of the column in the schema should be reset after creating an aggregate function descriptor through the function `aggregation.NewAggFuncDesc()`

[2018-09-06 00:46] tianjiqx commented on #7559
I analyzed the process of [predicates push down in TiDB](https://github.com/tianjiqx/notes/blob/master/tidb/tidb2.1%E8%B0%93%E8%AF%8D%E4%B8%8B%E5%8E%8B.md) and then tried to improve the outer join elimination.It seems to work, hopefully bug free.

I didn't change too much code and only did two things.
- One is to adjust the order in which the OuterJoin of the LogicalJoin and its child nodes is eli

[2018-09-06 01:59] eurekaka commented on #7559
@tianjiqx Could you please open a pull request for your code change? GitHub issue is not that friendly for following code changes. Thanks.

[2018-09-06 02:39] victorggsimida commented on #7620
@Connor1996  log is sent to u.
grafana report is not ready to export!

[2018-09-06 03:32] zz-jason opened #7628 "enhance the predicate push down on join operator"
For example, the DNF `(t1.a=1 and t2.a=1) or (t1.a=2 and t2.a=2);` can be transformed to the following CNF:

[code]

[2018-09-06 03:41] winoros commented on #7628
There's no algorithm to do this transformation with a acceptable time complexity.
Spliting it to `(a = .. or a = ..) and (b = .. or b =..) and original DNF expr` is more exercisable

[2018-09-06 03:52] tiancaiamao commented on #7628
[code]

If we continue to apply this transform rule to

`(t1.a=1 and t2.a=1) or (t1.a=2 and t2.a=2);`

==>

`(t1.a=1 or (t1.a=2 and t2.a=2)) and (t2.a=1 or (t1.a=2 and t2.a=2))`

==>

`(t1.a=1 or t1.a=2) and (t1.a=1 or t2.a=2) and (t2.a=1 or t1.a=2) and (t2.a=1 or t2.a=2)`

@winoros

[2018-09-06 03:53] zz-jason commented on #7628
Yeah, considered the time complexity and we only need filters on certain columns, how about simply implement the function:

[code]

[2018-09-06 03:59] crazycs520 commented on #7620
@victorggsimida Currently, TiDB only supports utf8 charset.

[2018-09-06 05:17] Connor1996 commented on #7620
By the way, which type is your storage?

[2018-09-06 06:27] zz-jason commented on #7628
and some SQL queries are made by scripts, not handcrafted

[2018-09-06 06:37] victorggsimida commented on #7620
@Connor1996  SSD.  disk performance is sent to u

[2018-09-06 07:03] victorggsimida commented on #7620
@Connor1996  write  means sequential write？  or random write？

[2018-09-06 07:05] mz1999 commented on #7591
I executed the above SQL statements on MySQL, Why didn't I get the expected results?

[code]
MySQL version is 5.7

[code]

[2018-09-06 07:13] winoros commented on #7591
@mz1999
The insert sql should be same with `insert into t value(cast(DEFAULT as unsigned));`
cast(default as unsigned) => cast(null as unsigned) => null
truncate(NULL, 1) = NULL

[2018-09-06 09:15] #7607 closed

[2018-09-06 09:51] zhexuany commented on #7592
@guohonglei Can we close this issue?

[2018-09-06 10:08] winoros opened #7634 "Enhance the method `Selectivity`"
It only return a float number tell you the selectivity of the given filters.
The `NDV`(number of distinct value) of one column cannot be maintained easily if we don't know this column's distribution after the given filters though we have histogram information.
Return these information from `Selectivity` seems to be a good choice.

[2018-09-06 11:28] tianjiqx commented on #7559
@eurekaka
I saw that the task has been assigned to @ zhexuany, so I just provide suggestions without opening a pull request.

[2018-09-06 11:30] zz-jason commented on #7559
@tianjiqx The task is not assigned to @zhexuany, please feel free to contribute 😂

[2018-09-06 14:07] diwakarpp commented on #7160
@shenli  The final article [Part 3 about performance improvement using Hash joins](https://crate.io/a/lab-notes-how-we-made-joins-23-thousand-times-faster-part-three/) seems to have been posted by Crate guys. This is just for a reference on the Hash Joins! Thanks and regards.

[2018-09-06 14:12] diwakarpp commented on #7160
@shenli  The final article [Part 3 about performance improvement using Hash joins](https://crate.io/a/lab-notes-how-we-made-joins-23-thousand-times-faster-part-three/) seems to have been posted by Crate guys. Interestingly (1) The locality approach (2) The modulo distribution approach both seem to have been discussed. This is just for a reference! Thanks and regards.

[2018-09-06 14:35] tianjiqx commented on #7634
<img width="574" alt="ndv" src="https://user-images.githubusercontent.com/7732802/45164454-10c9e100-b225-11e8-9ebc-3994ba127ca7.PNG">

[2018-09-06 15:07] eurekaka commented on #7634
Sounds fair, I like this idea.

[2018-09-06 15:54] morgo commented on #7476
Fixed in #7576

[2018-09-06 15:54] #7476 closed

[2018-09-06 16:08] zz-jason commented on #7634
Sounds reasonable

[2018-09-06 16:10] zz-jason commented on #7420
fixed by https://github.com/pingcap/tidb/pull/7493

[2018-09-06 16:10] #7420 closed

[2018-09-06 21:12] kocoten1992 commented on #2712
sometime ```retry``` can't be an option, like a transaction would last 4 hours (long background jobs, transaction just for keeping sure it done when it done), wouldn't expect a failed trans if I've ```select for update {skip locked,no wait}``` from the start.

[2018-09-07 01:30] victorggsimida commented on #7620
@Connor1996  is there any progress after sending u the tikv report.

It seems that the problem is more serious yesterday!

[2018-09-07 02:36] zz-jason commented on #7546
/cc @hicqu @XuHuaiyu

[2018-09-07 02:38] zz-jason commented on #7546
@mccxj The aggregate functions list here are duplicated with https://github.com/pingcap/tidb/issues/7623

[2018-09-07 02:41] Connor1996 commented on #7620
@victorggsimida Please check your email, we need some adjustment for metrics showing

[2018-09-07 02:44] hustwk opened #7637 "Data missing from index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

1.1 create test table
[code]

1.2 insert value
[code]

1.3 select data without index
[code]

1.4 create index
[code]

1.5 select data again with index, NO DATA selected
[code]

2. What did you expect to see?
The data selected with index i

[2018-09-07 02:47] crazycs520 commented on #7637
@hustwk Thanks for your feedback.
The bug is already fix in mater.

[2018-09-07 02:55] hustwk commented on #7637
Glad to hear that. You guys are so great！

[2018-09-07 03:01] lysu commented on #7628
it seems gp try to solve same question~ https://sourcegraph.com/github.com/postgres/postgres/-/commit/9888192fb7732cdd1a85a7af9582d72a297d9a6d

[2018-09-07 04:45] zz-jason commented on #7299
fixed by https://github.com/pingcap/tidb/pull/7443

[2018-09-07 04:45] #7299 closed

[2018-09-07 04:55] eurekaka commented on #7628
@lysu I have taken a brief glance of the PG patch, it should provide same functionality as what `ExtractFiltersFromDNFs` does in TiDB, i.e, extract common CNF items appeared in all DNF items, for example:
[code]
this cannot handle cases of this issue like `(a = 1 and b = 1) or (a = 2 and b = 2)`, because no common expression can be extracted.

[2018-09-07 05:51] breeswish commented on #7349
Hi @jaltabike

The jitter has a direct relationship with the panic issue you face previously. Previously this kind of jitter will cause panic, now it will not panic, but will slow down the write for a short time. This situation is relaxed in 2.1 (master) branch, because logging becomes async.

Currently I have no idea about the active written leader issue. Would you like to share your logs? We may

[2018-09-07 11:51] #7637 closed

[2018-09-07 14:50] chengpohi opened #7644 "Weird Same Value Update Between Two or More Transactions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

[code]

2. What did you expect to see?

Maybe like :)

[code]

or

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

**master branch**

---

Hello, I have seen this interesting issue :) [Same t

[2018-09-07 14:52] shenli commented on #7644
@chengpohi Thanks for your feedback! Please post the full output of "tidb-server -V or run select tidb_version();" in the issue.

[2018-09-07 14:55] chengpohi commented on #7644
@shenli it's from the master branch:

[code]

[2018-09-07 15:32] shenli commented on #7644
@chengpohi
`master` is a branch, but not a version. There are about 50 commits per week in TiDB's master branch. It is our dev branch. So we need the exactly GitHash to make the issue investigation clear.

I read the stackoverflow post. I should point out that TiDB does not support the `READ_COMMITTED` isolation anymore.  We disabled it a few weeks ago.

And there is one thing I can not understand

[2018-09-07 16:01] crazycs520 commented on #7644
@chengpohi Hi, I try to run your test code. You may should add `c1.begin()` to begin a transaction.
Then out put will ok:
[code]

[2018-09-07 16:43] chengpohi commented on #7644
@shenli ok, Thanks

How should we handle the other transaction committed data?  if override it like currently doing(if i am wrong, please call out), but current transaction still compare the **new data** with  **old data**(**SNAPSHOT**?) that started from the current **transaction**.

Problem is:  if **new data** is same as **old data**, it will actually skip this update even if the data already u

[2018-09-07 16:45] chengpohi commented on #7644
Hi @crazycs520 ,  what's meaning of put `c1.begin()` to begin a transaction? Do you mean put it before `update("update t set b=0 where a=1", c1)`?

[2018-09-07 16:49] crazycs520 commented on #7644
@chengpohi, add  ` c1.begin()`  before `fetchAndPrint("select b from t where a = 1", c1)`

[2018-09-07 16:53] chengpohi commented on #7644
@crazycs520 for my understanding, the **PO** want to simulate between **transaction 1** there is another **transaction 2** updated the value, if add `c1.begin()` after **transaction 2**, I think this is meanness?

[2018-09-07 16:59] crazycs520 commented on #7644
@chengpohi , then you should add  `c1.begin() ` before `update("update t set b=2 where a=1", c2)`.
BTW, for transaction 2, you also should add `begin` and `commit` for `c2`.

[2018-09-08 05:16] chengpohi commented on #7644
Hi @crazycs520 , I think if you do as you suggested, the output should not be:

[code]
Is it right? if I am wrong, please correct me.

[2018-09-09 03:34] morgo commented on #7613
There is a TODO on `expression/builtin_info.go:151` from `2015-09-23 11:02:45 +0800` that shows this is a known issue:

[code]

[2018-09-09 04:53] breeswish opened #7650 "Improve error message of GC life time"
## Feature Request

Currently we may face this error: GC life time is shorter than transaction duration

The error message can be improved, for example, including information about when the transaction is started and when GC was happened, so that it will be easier to understand the cause, i.e. inside a transaction started long time ago, or a query takes too long time, etc.

[2018-09-10 00:30] jaltabike commented on #7349
@breeswish
I attached my log files:
[tikv-logac.zip](https://github.com/pingcap/tidb/files/2364796/tikv-logac.zip)
[tikv-logad.zip](https://github.com/pingcap/tidb/files/2364797/tikv-logad.zip)
[tikv-logaa.zip](https://github.com/pingcap/tidb/files/2364798/tikv-logaa.zip)
[tikv-logab.zip](https://github.com/pingcap/tidb/files/2364799/tikv-logab.zip)

Please notice that there are some errors such a

[2018-09-10 02:57] ssnijik opened #7652 "Inappropriate handle empty value in load data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
When loading data(csv) into tidb, if numeric field(integer, double, ...) is empty, it will raise an error from function StrToFloat.

2. What did you expect to see?
I try to insert following record into table(decimal(18,0),varchar(64),tinyi

[2018-09-10 03:16] crazycs520 commented on #7652
Hi @ssnijik , Thanks for your feedback.
1. Dose 123456789,xyzxyz,1,-99,,,,,N,,,N,N,N,N insert into table in MySQL correctly?
2. new data importing tool, [syncer](https://github.com/pingcap/docs-cn/blob/master/tools/syncer.md) , [loader](https://github.com/pingcap/docs-cn/blob/master/tools/loader.md).
3. import data from where?

[2018-09-10 03:28] jackysp commented on #7652
Hi  @ssnijik ,
Could you show your data in TiDB by `select * from`, after loading data `123456789,xyzxyz,1,-99,,,,,N,,,N,N,N,N` into TiDB.
Are these results expected as you wish?

[2018-09-10 05:28] ssnijik commented on #7652
The result is correct, but too many errors mean (a)log file for tidb is too large and (b) tidb need disk IO for every record
@crazycs520 I don't use syncer or loader because my data source is hdfs not mysql. For data format, I import data by `load data local infile 'part-00001' into table user fields terminated by ',' lines terminated by '\n';', 'part-00001' is a csv file

[2018-09-10 06:30] Connor1996 commented on #7620
Then most details are involved in email, here just give a brief report.
From the log, we see that write operations to RocksDB cost too much time which caused by write stall, so raft message channel is full. In RocksDB log, find the reason for write stalls is too many pending compaction bytes that all comes from write cf. But the write workload is not too heavy, and then we find that the "dynamic-l

[2018-09-10 06:31] #7620 closed

[2018-09-10 07:38] ssnijik commented on #7652
Actually the result is different. If the value is empty, i think it should be null, but it is set to be 0.

[2018-09-10 08:45] jackysp commented on #7652
Thanks for your reply. Does the result the same with MySQL, if you load this line to MySQL?

[2018-09-10 09:39] jackysp commented on #7652
@ssnijik , if the results are the same with MySQL, I think it is not a bug, due to TiDB is compatible with MySQL. The error your shown is an error which TiDB ignored as a warning. If you do not want it, you could set the log level of TiDB server to error or fatal.
Btw: Lightning is generally available now. It is much faster than `load data`. I think it is exactly what you need. There is just one t

[2018-09-10 10:03] kennytm commented on #7652
Hi @ssnijik,

The current version of Lightning is focused on importing local SQL dump only, which may not be suitable for your use case. We plan to implement CSV support by the end of 2018. If you are interested, you may send a mail to info@pingcap.com for inquiry.

[2018-09-10 15:47] victorggsimida opened #7660 "Syncer：sync Json type data with UTF8 chinese character values"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]
[code]

[code]
maybe is there something wrong with the binlog parse where json have utf8 chinese character
[code]

[2018-09-10 16:07] crazycs520 commented on #7660
Hi ~ @victorggsimida Thanks for your feedback.
Currently TiDB only support utf-8 charset.

[2018-09-10 16:10] zz-jason commented on #7660
@victorggsimida The latest release-2.0 and master branch have already fixed the problem.

[2018-09-10 16:17] victorggsimida commented on #7660
@crazycs520  the data is utf8.   there are tow columns.  name and jdata. name colum is ok.

@zz-jason  should I  upgrade tidb to release-2.0?

syncer is the latest version.

tidb version info

[code]

[2018-09-10 17:13] breeswish commented on #7349
@jaltabike I have got your logs. Will keep you updated once there are some findings.

[2018-09-10 22:40] mccxj commented on #2578
This syntax is deprecated as of MySQL 5.7.20 and will be removed in a future version of MySQL.

@coocood

[2018-09-10 22:44] mccxj commented on #2283
@coocood maybe we should close it.

[2018-09-11 01:00] coocood commented on #2283
@mccxj  thanks for the remind

[2018-09-11 01:00] #2283 closed

[2018-09-11 01:50] kuafou commented on #3120
Ping @zhexuany mysql and server are done: #7661

[2018-09-11 02:56] kennytm commented on #7652
@ssnijik Yes. Specifically the output of [mydumper](https://github.com/maxbube/mydumper).

[2018-09-11 03:18] 474420502 opened #7663 "Strange index issue"
## Description
[code]

超级诡异!
## SIG slack channel

 [#sig-planner](https://slack.tidb.io/invite?team=tidb-community&channel=sig-planner&ref=high-performance)

## Score

300

## Mentor

- @lzmhhh123

[2018-09-11 03:34] hlld3344 opened #7664 "checker of tidb"
## Question

I've read the doc of data transfer from mysql to tidb and come across this :

./bin/checker -host 127.0.0.1 -port 3306 -user root test t_error
2016/10/27 13:19:28 checker.go:48: [info] Checking database test
2016/10/27 13:19:28 main.go:37: [info] Database DSN: root:@tcp(127.0.0.1:3306)/test?charset=utf8
2016/10/27 13:19:28 checker.go:63: [info] Checking table t_error
2016/10/27 13:19:

[2018-09-11 03:35] #7650 closed

[2018-09-11 04:40] imtbkcat opened #7665 "decimal type in `show create table` is not same as MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

          create table decimalschema(x decimal(15));
          show create table decimalschema;

2. What did you expect to see?

        +---------------+--------------------------------------------------------------------------------

[2018-09-11 05:09] crazycs520 commented on #7664
Hi @hlld3344 , Thanks for your feedback.
We have solved the issue. You can have a try in version  `v2.1.0-rc.1`

[2018-09-11 06:03] coocood commented on #2578
@mccxj
Thanks, we can close it now.

[2018-09-11 06:03] #2578 closed

[2018-09-11 06:27] ljhmily opened #7668 "PD rebalance is right？"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
structure：5 tikv，2tidb，3pd
first，drop table a（800w+）
then，rebuild a，and insert data with java program
while insert datas，we execute SQL，too slow（800 col，use more than 45s）
SELECT
t.lookup_type lookupType,
t.lookup_code lookupCode,
t.meanin

[2018-09-11 07:50] ssnijik commented on #7652
I think output format of mydumper is ok for me. When will lighting officially be released?

[2018-09-11 09:46] hlld3344 commented on #7664
Hi @crazycs520 thank you very much

[2018-09-11 09:49] feng04 commented on #6327
后来怎么解决的呢？

[2018-09-11 11:14] #7664 closed

[2018-09-11 11:34] crazycs520 commented on #7668
Hi, @ljhmily Thanks for your feedback.
Could you describe in more detail？ Such as table schema, specific version of TiDB.
"while insert datas，we execute SQL，too slow（800 col，use more than 45s" ?  800 col ?

[2018-09-11 13:31] #7450 closed

[2018-09-11 13:48] mccxj commented on #4477
@jackysp it should be closed

[2018-09-11 13:54] mccxj commented on #4307
@winkyao it should be closed.

[2018-09-11 14:50] zz-jason opened #7674 "change the parameter of AggFunc from Expression to Column"
with this optimization, the execution of aggregate function should be faster.

[2018-09-11 15:01] shenli commented on #4307
@mccxj Yes. Thanks!

[2018-09-11 15:01] #4307 closed

[2018-09-11 15:02] shenli commented on #4477
@mccxj Yes.

[2018-09-11 15:02] #4477 closed

[2018-09-11 15:02] shenli commented on #7674
Is there any proof to show the consuming?

[2018-09-11 23:36] mccxj commented on #7578
@zz-jason duplicate with https://github.com/pingcap/tidb/issues/7307

[2018-09-12 02:26] zz-jason commented on #7578
@mccxj Got it! Thanks!

[2018-09-12 02:29] #7665 closed

[2018-09-12 02:37] kennytm commented on #7652
@ssnijik We plan to release the first version by October. We'll post further info when it's ready 🙂.

[2018-09-12 03:11] ssnijik commented on #7652
Thanks. Looking forward to it. 🙂

[2018-09-12 03:11] #7652 closed

[2018-09-12 03:16] guohonglei commented on #7592
Yes, although I don't understand the reason

[2018-09-12 03:19] zhexuany commented on #7592
the reason of why is query so slow?

[2018-09-12 03:26] guohonglei commented on #7592
this question and why suddenly be faster

[2018-09-12 03:28] zhexuany commented on #7592
Did you see the above reply from my colleague?

[2018-09-12 08:03] #7125 closed

[2018-09-12 09:11] zz-jason commented on #7591
discovered in https://github.com/tikv/tikv/pull/3532

[2018-09-12 09:15] WangXiangUSTC commented on #6239
pump will gc expired file, and the default gc value is 7 days.

[2018-09-12 10:00] siuu opened #7677 "How to remove Offline store?"
I have a TIKV node that has expired. I tried to delete this node using `pd-ctl store delete`, but it is always in the Offline state.

[2018-09-12 10:35] ciscoxll commented on #7677
@siuu Thanks for your feedback.

[2018-09-12 11:21] hustwk opened #7678 "tikv panic and can not startup"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Our 3 tikv nodes all exited and we restart them, but 2 tikv server exited again after several minutes, and only 1 server were running. We tried server times but the result are the same: only one of them can startup, randomly.

2. What did you expect to see?
all tikv servers run normally.

3. Wha

[2018-09-12 11:29] ciscoxll commented on #7677
@siuu TIKV node that has expired？please refer to [docs.](https://pingcap.com/docs-cn/op-guide/horizontal-scale/#%E5%8A%A8%E6%80%81%E5%88%A0%E9%99%A4%E8%8A%82%E7%82%B9)

[2018-09-12 11:37] ciscoxll commented on #7678
Thanks for your feedback. @DorianZheng PTAL.

[2018-09-12 12:10] eurekaka opened #7679 "fold column equal conditions when simplifying outer join"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, for the following 4 kinds of query, outer join is generated, but they can be converted to inner join semantically.

[code]

If we can convert them to inner join, we can apply more predicate pushdown optimizations, and we have more choices when exploring physical join operators.

**Describe the featur

[2018-09-12 12:29] #7307 closed

[2018-09-12 12:29] #7578 closed

[2018-09-12 14:01] denghuancong opened #7681 "no database selectd error?"
tidb version: v2.0.4
2 proxysql proxy, proxysql-1.4.8-1-centos7.x86_64.rpm
3 tidb server
3 pd server
3 tikv server
-----------------------------------------
we use github.com/go-xorm/xorm("version 0.7.0")  to connect tidb cluster, we create multi connections connect to the proxy, some connection return "No database selected", some are succeed .

we found tidb log , the log as following:
[code]

[2018-09-12 14:04] shenli commented on #7681
@denghuancong Thanks for your feedback!
1046 error is a MySQL standard error. Please refer to [mysql error code document](https://dev.mysql.com/doc/refman/5.7/en/error-messages-server.html#error_er_no_db_error).

[2018-09-12 14:10] jackysp commented on #7681
Thanks for your feedback, @denghuancong !
Seems it depends on your proxy algorithm. If you use a random algorithm, it may cause this problem.

[2018-09-12 23:49] morgo opened #7682 "defaults: change --store to tikv?"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I was using a local install of TiDB, and I accidentally forgot to include the startup option `--store=tikv`.  TiDB used the default store, which was a surprising result to me.  Defaults should follow the recommended deployment pattern.

**Describe the feature you'd like:**

Should the default `--store` to be `t

[2018-09-13 02:11] hustwk commented on #7678
We have hundreds of Gigi bytes data in the cluster and worked hard all night to solve the problem. Please check the panic reason soon and we need your help.

[2018-09-13 02:33] hustwk commented on #7678
We do not very clear the true reason. The most possible reason is that someone create an index on a big table. The sync_log is true.
The cluster should not be unavailable even some data lost or not normal, so is there any method to repair it?

[2018-09-13 02:36] DorianZheng commented on #7678
@hustwk What version of TiKV you are using?

[2018-09-13 02:48] hustwk commented on #7678
@DorianZheng We use the version 2.0.5
[code]

[2018-09-13 02:52] gutongjiang opened #7683 "unknown error Mvcc(Engine(Request(message: "key is not in region""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

`update f_entrust set fstatus=4 where fstatus in (1,2);`

2. What did you expect to see?

3. What did you see instead?

`ERROR 1105 (HY000): other error: unknown error Mvcc(Engine(Request(message: "key is not in region" key_not_in_region

[2018-09-13 02:55] huachaohuang commented on #7678
@hustwk
Can you provide the logs of TiKV (before and after the panic)?
Can you help to dump the MVCC info of the key using tikv-ctl? https://github.com/pingcap/docs/blob/master/tools/tikv-control.md#view-mvcc-of-a-given-key

If you just want to recover and don't care about data loss, you may want BACKUP YOUR DATA and try this:
https://github.com/pingcap/docs/blob/master/tools/tikv-control.md#recov

[2018-09-13 02:56] jackysp commented on #7683
@gutongjiang , thanks for your feedback! I think it a known bug which already fixed in TiKV. PTAL @Connor1996 , please confirm if it is the fixed bug.

[2018-09-13 02:59] ciscoxll commented on #7683
@gutongjiang Thanks for your feedback, please provide `schema` information.

[2018-09-13 02:59] siuu commented on #7677
I have deleted the store according to the docs, but he has been in the Offline state and has not become a tombstone. Other TiKV nodes always output an error log requesting the failure of this node.

[2018-09-13 03:01] siuu commented on #7677
[code]

[2018-09-13 03:03] huachaohuang commented on #7678
@hustwk
You may need to add a 'z' before the key to dump the MVCC info, like this:
tikv-ctl --db /path/to/tikv/db mvcc -k
 "zt\200\000\000\000\000\000\003\377\310_r\200\000\000\000\000\377\000\000\001\000\000\000\000\000\372" --show-cf lock,default,write

[2018-09-13 03:06] gutongjiang commented on #7683
mysql> SELECT * FROM information_schema.tables WHERE table_name='f_entrust'\G
*************************** 1. row ***************************
  TABLE_CATALOG: def
   TABLE_SCHEMA: bae_coin
     TABLE_NAME: f_entrust
     TABLE_TYPE: BASE TABLE
         ENGINE: InnoDB
        VERSION: 10
     ROW_FORMAT: Compact
     TABLE_ROWS: 2306
 AVG_ROW_LENGTH: 0
    DATA_LENGTH: 16384
MAX_DATA_LENGTH: 0
   IN

[2018-09-13 03:13] jackysp commented on #7677
@LinuxGit ，please provide an official way to recover the cluster when it meets some fault operations.

[2018-09-13 03:14] Connor1996 commented on #7683
What version of TiKV are you using (tikv-server --version)?

[2018-09-13 03:17] gutongjiang commented on #7683
@Connor1996
`./tikv-server --version
TiKV
Release Version:   2.1.0-rc.1
Git Commit Hash:   18f10b0f1968c442b8d5e807e0f81871e189e1af
Git Commit Branch: master
UTC Build Time:    2018-08-27 10:19:16
Rust Version:      rustc 1.29.0-nightly (4f3c7a472 2018-07-17)`

[2018-09-13 03:27] huachaohuang commented on #7678
Well, we need more logs to understand the whole picture here. All logs from tidb, tikv and rocksdb (in data/db/LOG*) are helpful if possible, thanks.
Also, do you recall doing any special operations before the first panic? Like restarting programs or machines, or upgrading from an old cluster, etc.

[2018-09-13 03:27] Connor1996 commented on #7683
@gutongjiang This is a known issue already fixed in TiKV master, you can upgrade TiKV to latest master to fix this. Also you can also wait until later tomorrow when we will release 2.1.0-rc.2.

[2018-09-13 03:40] gutongjiang commented on #7683
@Connor1996  I am using TiDB-Ansible to deploy the cluster, how to upgrade tikv separately

[2018-09-13 03:42] rleungx commented on #7677
@siuu Hi, Could you provide more detailed information?
e.g.
- Which version of PD and TiKV do you use?
- How do you set up the label?
- How long does this status last for?

[2018-09-13 03:44] Connor1996 commented on #7683
1. complie new tikv binary
2. copy`tikv-server` to tidb-ansible-dir/resources/bin/
3. run `ansible-playbook rolling_update.yml --tags=tikv` in tidb-ansible-dir

[2018-09-13 04:01] ihipop commented on #6110
@winkyao
What you said doesn't match the doc

![image](https://user-images.githubusercontent.com/423077/45466437-726ddc00-b74c-11e8-8be8-d8fe7a4c5983.png)

And I tried,The doc is right.
Must use `Detele+Limit` for now

[2018-09-13 04:06] Lunatictwo commented on #7526
@GiggleAll Can you share how you fix this problem? I have the same issue.

[2018-09-13 04:16] siuu commented on #7677
- `tidb_version = v2.0.0`
-  inventory.ini
[code]

- This state lasted for one day.

[2018-09-13 05:04] rleungx commented on #7677
@siuu Can you provide the error log and all regions' info by using `region` command in `pd-ctl`?

[2018-09-13 05:38] XuHuaiyu commented on #7674
@zz-jason
I made a benchmark.
dataset: 100w string rows
function: crc32
It seems that the performance result of the original parameter
definition is the same as the implementation after changing
the parameter to column.

[code]

[2018-09-13 05:50] XuHuaiyu commented on #7674
[code]

The benchmark result of the two implementations are all:
BenchmarkAggColArg-4    2000000000               0.08 ns/op

[2018-09-13 06:19] siuu commented on #7677
this is tikv error log.

`2018/09/13 14:17:02.093 subchannel.c:687: [INFO] Connect failed: {"created":"@1536819422.093243717","description":"Failed to connect to remote host: OS Error","errno":111,"file":"/home/jenkins/.cargo/registry/src/github.com-1ecc6299db9ec823/grpcio-sys-0.2.1/grpc/src/core/lib/iomgr/tcp_client_posix.c","file_line":201,"os_error":"Connection refused","syscall":"connect","tar

[2018-09-13 07:26] rleungx commented on #7677
@siuu The reason why the state of this store cannot become tombstone is there are still some regions leaving on this store which are supposed to be removed. Please make sure that you remove the store through these steps:
-  run `store delete <store_id>` in `pd-ctl`
-  wait for this store to become tombstone
-  run `ansible-playbook stop.yml -l <alias_name_of_the_store>`
-  comment this store in `i

[2018-09-13 07:37] siuu commented on #7677
I have done a wrong operation before. i didn't wait for store to become tombstone. I stop node and rm db file.

[2018-09-13 07:43] rleungx commented on #7677
Here is the [documentation](https://pingcap.com/docs/op-guide/ansible-deployment-scale/) about how to scale the cluster using `Ansible`.

[2018-09-13 07:50] siuu commented on #7677
but now I can't remove the Offline node? I don't care about the region above.

[2018-09-13 08:31] CrazyNash opened #7686 "TiDB mem heap is over 1GiB"
We have an instance setup as slave of mysql via syncer, currently a lot of mem heap alert fired like this. After checking tidb logs and monitors, can't find anything obviously.

[code]

* What we should do when got this alert?
* What does instance 379433a4a318_4000 stand for and where is the value from?
* Why it's 1GB? how to adjust from different environment?
* Where is the source code to learn t

[2018-09-13 08:39] eurekaka opened #7687 "wrong result for query containing embedded outer join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I was trying to propagate constant before simplifying outer join(see also https://github.com/pingcap/tidb/issues/7679), and found some lines of function `simplifyOuterJoin` incorrect. It would lead to wrong result returned for query conta

[2018-09-13 08:42] ciscoxll commented on #7686
@CrazyNash Thanks for your feedback.
`What does instance 379433a4a318_4000 stand for and where is the value from?`
Instance is the hostname and values is the current memory footprint.

[2018-09-13 08:52] ciscoxll commented on #7686
`Why it's 1GB? how to adjust from different environment?`[ reference link](https://github.com/pingcap/tidb-ansible/blob/master/roles/prometheus/files/tidb.rules.yml#L64)

[2018-09-13 08:54] siuu commented on #7677
I solved it by using `tikv-ctl unsafe-recover remove-fail-stores`. Thanks for your help.

[2018-09-13 08:54] #7677 closed

[2018-09-13 09:08] LinuxGit commented on #7686
Hi, default value of TiDB_memory_abnormal alert rule is 10 GB now, it is suitable for OLTP scenarios.
If you have a lot of OLAP quries, you can modify its's value according to your situation.
see https://github.com/pingcap/tidb-ansible/blob/master/roles/prometheus/files/tidb.rules.yml#L64
After you modified the value, you can run `ansible-playbook rolling_update_monitor.yml --tags=prometheus` to m

[2018-09-13 09:08] #7686 closed

[2018-09-13 09:18] CrazyNash commented on #7686
Thank you all for your kind support @jackysp @ciscoxll

One last question where is the source code from tidb to collect mem heap?

[2018-09-13 09:19] winoros commented on #7247
related issue: https://github.com/pingcap/tidb/issues/3120

[2018-09-13 09:34] CrazyNash commented on #7686
@shenli thank you!

[2018-09-13 11:13] silentsai opened #7690 "Explain shows query with range executed without using index ?"
## Explain shows query with range executed without using index ?

### What TiDB version I used
[code]

### Description

Here is the schema of my table
[code]

As you can see , a composite index  `_k_ctime_stage` is specified on column `ctime`, which stores unix time , and enum column `stage`.

But I found `explain` command shows that index is incapable to work while query with
`ctime` range condit

[2018-09-13 11:16] #7468 closed

[2018-09-13 11:49] winoros commented on #7690
@silentsai
When the selectivity of the filter is not very small(for your first case, the selectivity is `3712/5713=0.65`) and you need a double read(i.e. we need to scan index to fetch row id firstly, then use row id to fetch the total row data). Scanning table may not be worse than scanning index. And as you can see when you change the filter to one that only returns 726 rows, TiDB chooses index

[2018-09-13 12:34] zz-jason commented on #7674
@XuHuaiyu PTAL
[code]

[code]

[2018-09-13 14:05] silentsai commented on #7690
Ops , thanks for you guys response in such a short time !

@winoros
According to your description `This is caused by enum's calculation is blocked on tidb.` . Is that means if I build index like `_k_stage_ctime (stage, ctime)` and query like `stage = 'finished' ctime > 0 and ctime < 100` , the index also useless ? ( By contrast , I think MySQL will work in this case )

[2018-09-13 14:51] huachaohuang commented on #7678
@hustwk Any update? I appreciate if you can provide more information to help to understand the problem.

[2018-09-14 01:42] hustwk commented on #7678
@huachaohuang Sorry for the late update because we tried to recover data from other way and tired for not sleep. But we keep the old Tidb cluster scene for investigation later.
 I just run the command mvcc, and it shows as below:
[code]
 It seems not having any short value.
The log is too big because of many restart, and I will paste some of them later, hoping it helps to analyze problems.

[2018-09-14 02:24] gutongjiang opened #7693 "query slower after migrated to tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

the same sql query slower than mysql :
`select fid, floginname, fnickname, floginpassword, ftradepassword, ftelephone, femail, frealname, fidentityno, fidentitytype, fgoogleauthenticator, fgoogleurl, fstatus, fhasrealvalidate, fhasrealval

[2018-09-14 02:27] shenli commented on #7693
@gutongjiang Thanks for your feedback! Have you analyzed that table?

[2018-09-14 02:29] gutongjiang commented on #7693
@shenli What do you mean, should I provide more informations

[2018-09-14 02:30] 474420502 commented on #7683
I also have this problem!

[2018-09-14 02:32] shenli commented on #7693
1. The Schema of table `f_user`
2. The statistics for table `f_user `. You can dump it according to [this document](https://github.com/pingcap/docs/blob/master/sql/statistics.md#export-statistics).

[2018-09-14 02:43] jackysp commented on #7693
Hi @gutongjiang ,
How about try to execute `analyze table f_user;`, then try the slow SQL again.

[2018-09-14 03:00] gutongjiang commented on #7693
@shenli

*************************** 1. row ***************************
       Table: f_entrust
Create Table: CREATE TABLE `f_entrust` (
  `fid` bigint(40) NOT NULL AUTO_INCREMENT,
  `fuid` int(11) DEFAULT NULL,
  `ftradeid` int(11) UNSIGNED DEFAULT NULL,
  `fbuycoinid` int(11) UNSIGNED DEFAULT NULL,
  `fsellcoinid` int(11) UNSIGNED DEFAULT NULL,
  `fstatus` int(11) DEFAULT NULL,
  `ftype` int(11)

[2018-09-14 03:01] gutongjiang commented on #7693
@jackysp the analyze doesn't work

[2018-09-14 03:07] zz-jason commented on #7693
@gutongjiang pay attention to this:
[code]
I think the full range table scan is the root cause of slow execution speed. The filter for this query is:
[code]

Can you add the following index for this table, and testing the speed of the query again once the index is added:
[code]

[2018-09-14 03:12] shenli commented on #7693
@gutongjiang Does this table has an index on `floginpassword` or `ftelephone` in MySQL?

[2018-09-14 03:13] gutongjiang commented on #7693
@shenli no

[2018-09-14 03:13] shenli commented on #7693
Could you post the explain result of MySQL? How many rows are there in MySQL?

[2018-09-14 03:36] winoros commented on #7690
@silentsai
Yes, this is current TiDB's behavior. You can treat this as a bug. We'll fix it soon.

[2018-09-14 03:42] Lunatictwo commented on #7526
Thanks @GiggleAll , got it. I fixed it yesterday by setting specific tables (setting [[replicate-do-table]]) in my syncer config file.

[2018-09-14 03:43] gutongjiang commented on #7693
@shenli Sorry, the mysql server has shutdown, but I know there are about 144000 rows

[2018-09-14 03:49] shenli commented on #7693
@gutongjiang Have you set the time zone for your TiDB cluster? Or are you using the "System" timezone?

[2018-09-14 03:51] gutongjiang commented on #7693
@shenli the "System" timezone

[2018-09-14 03:57] shenli commented on #7693
@gutongjiang There is performance downgrade when using the System timzone. We are solving this issue. Please refer to [this PR](https://github.com/pingcap/tidb/pull/7638). We hope to merge it today.

In this time, you can try to set the time zone explicitly (Use UTC or Asia/Shanghai). But I think TiDB could not be faster than MySQL in this size of data set.

[2018-09-14 04:30] eurekaka commented on #7679
I just came to realize that we do not need to rewrite the filters, instead, we can enhance `foldConstant` to handle `null op column` expressions.

[2018-09-14 04:54] hustwk commented on #7678
These are some logs of tidb and tikv. The error information is similar between every restart.
[Uploading tikv3.log.txt…]()
[Uploading tidb.log.txt…]()

[2018-09-14 05:58] GiggleAll commented on #7526
good idea if you don't need the table, it the better by the way.

[2018-09-14 06:26] sakufo opened #7699 "drainer error"
启动drainer提示以下错误，请问如何解决。
2018/09/14 14:25:05 offset_seeker.go:82: [info] kafka consumer version 0.8.2.0
2018/09/14 14:25:05 client.go:115: [sarama] Initializing new client
2018/09/14 14:25:05 config.go:351: [sarama] ClientID is the default of 'sarama', you should consider setting it to something application-specific.
2018/09/14 14:25:05 config.go:351: [sarama] ClientID is the default of 'sarama', y

[2018-09-14 06:31] loveleon commented on #6641
using ssd is just recommond suggestion ? It's not a necessary compulsive requirement.So we can use (eg,SAS)for using.

[2018-09-14 06:48] zz-jason opened #7700 "enhance the rule of "Group Pruning""
## Feature Request

**Describe the feature you'd like:**

refer to this blog post: https://blogs.oracle.com/optimizer/group-by-and-aggregation-elimination

Group pruning is a transformation rule, which is always beneficial. It removes the groups not needed in the outer query blocks. For example, consider the following query:

[code]

Can be transformed into something like this:
[code]

[2018-09-14 08:17] ideascf opened #7702 "Question: why is tidb-server NOT full load running `tidb-bench`"
## Question
The tidb-server can't be full load, when running tidb-bench.
[![image](https://user-images.githubusercontent.com/5330706/45537636-5f840600-b837-11e8-9bdf-fa3db290a24b.png)
]

## Details
- version
  - TiDB: 2.0.7
  - sysbench: 1.0.9
  - OS: all is `CentOS Linux release 7.5.1804 (Core)`
- The TiDB cluster was installed follow (ansible-deployment)[https://pingcap.com/docs-cn/op-guide/ansi

[2018-09-14 08:41] sakufo opened #7703 "Does TiDB support delayed replication like MySQL?"
如题，谢谢。

[2018-09-14 08:42] sakufo commented on #7703
补充：Drainer 该工具是否支持延迟输出，或者有没有其它工具可以实现类似的功能

[2018-09-14 08:47] zz-jason opened #7704 "support join elimination rule"
## Feature Request

**Describe the feature you'd like:**

Three kinds of join eliminations:

1. ~**inner join elimination**~. Since it's based on the foreign key constraint, no need to consider it in TiDB
2. **outer join elimination**. For example left outer join, if the parent only use the columns from left table and the join key of right table(the inner table) is a unique key of the right table.

[2018-09-14 08:54] july2993 commented on #7699
look like you are using kafka 2.0?, drainer don't  support 2.0 now,  you can use version 1.*, we may update to support 2.0 later

[2018-09-14 08:55] jackysp commented on #7703
Thank you for your attaction, @sakufo ! Please do not delete the issue template when you create an issue. PTAL @GregoryIan @csuzhangxc ！

[2018-09-14 08:57] shenli commented on #7702
@ideascf We have a benchmark report [here](https://github.com/pingcap/docs/blob/master/benchmark/sysbench.md). Could you follow the steps?

[2018-09-14 09:02] zhexuany commented on #7592
auto-analyze is running at background. That is could be why.

[2018-09-14 09:02] #7592 closed

[2018-09-14 09:03] july2993 commented on #7703
@sakufo
drainer don't supports delayed replication

[2018-09-14 09:28] victorggsimida commented on #7660
@crazycs520  yes. u r right. Maybe I need to change the production table charset.

this issue can be closed now

[2018-09-14 09:52] shenli commented on #7702
Can we access your Grafana? I need to check the metrics system to see what is happening.

[2018-09-14 10:01] ideascf commented on #7702
sure, I send a email to your Gmail. pls  check soon.

[2018-09-14 10:09] shenli commented on #7702
From the metrics, I found that the sysbench concurrency is 1?

[2018-09-14 10:16] huachaohuang commented on #7678
Thanks, @hustwk , but the log files seem still uploading and cannot be downloaded, can you try it again?

[2018-09-14 10:17] ideascf commented on #7702
How to change the concurrency of sysbench?  I use the default value on conf.sh which is 256. The screenshot is:

原始邮件
发件人:Shen Linotifications@github.com
收件人:pingcap/tidbtidb@noreply.github.com
抄送:ideascfchenfei@qfpay.com; Mentionmention@noreply.github.com
发送时间:2018年9月14日(周五) 18:10
主题:Re: [pingcap/tidb] Question: why is tidb-server NOT full load running `tidb-bench` (#7702)

From the metrics, I fo

[2018-09-14 10:18] shenli commented on #7681
@denghuancong A friendly ping. Is your problem solved?

[2018-09-14 10:56] qiufengsese opened #7706 "unexpected dml statement found in query event"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
上游MySQL端binlog_format已经改为ROM，使用Syncer进行同步，然后报错。报错的表没在Syncer的配置文件中。报错信息是：2018/09/14 18:44:19 syncer.go:695: [error] fail to be parsed, error query UPDATE QRTZ_SCHEDULER_STATE SET LAST_CHECKIN_TIME = 1536919749922 WHERE SCHED_NAME = 'xxx' AN