[2021-07-02 02:19] tisonkun commented on #8854
@pingyu Thanks for your information! I'll create TODO as subtasks for this issue to you.

[2021-07-02 02:20] tisonkun opened #25880 "32bits server ID part"

[2021-07-02 02:20] tisonkun opened #25881 "Integration test case for kill connection or query"

[2021-07-02 02:21] tisonkun commented on #25880
@pingyu please assign yourself if it is the case.

[2021-07-02 02:21] tisonkun commented on #25881
@pingyu please assign yourself if it is the case.

[2021-07-02 02:48] pingyu commented on #25880
/assign

[2021-07-02 02:49] pingyu commented on #25881
/assign

[2021-07-02 03:07] XuHuaiyu commented on #25093
Result in MySQL 5.7:
[code]

[2021-07-02 03:13] #25853 closed

[2021-07-02 03:26] tisonkun commented on #25204
@djshow832 is this issue a subtask of #24169 ? If so, can we set up the reference between this two issues?

I can see that #24169 has a lot of `todo`s  so which ones this issue would contain?

[2021-07-02 03:32] wshwsh12 opened #25882 "Support spill HashAgg to disk"
## Project Tracking for Support spill HashAgg to disk
### Background
[Feature Request](https://github.com/pingcap/tidb/issues/22611)
At present, HashAgg cannot spill to disk, which means that large joins that use HashAgg use a huge amount of memory and can trigger OOM.

### Plan
- [x] Finish design docs(https://github.com/pingcap/tidb/pull/25792)
- [x] Implement(https://github.com/pingcap/tidb/pul

[2021-07-02 03:33] hawkingrei opened #25883 "LIKE is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
SELECT 'abc' LIKE 'ABC';

### 2. What did you expect to see? (Required)

MySQL 8.0.25

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master 209334951cd920e5408f67fd60a0b542507526ee

[2021-07-02 03:45] djshow832 opened #25884 "ddl: `show create table` for a local temporary table"
A subtask of https://github.com/pingcap/tidb/issues/24169.

[2021-07-02 03:46] djshow832 opened #25885 "ddl: Drop a local temporary table"
A subtask of #24169.

[2021-07-02 03:52] djshow832 opened #25886 "ddl: Truncate a local temporary table"
A subtask of #24169.

[2021-07-02 03:53] djshow832 opened #25887 "ddl: Dropping a database doesn't drop local temporary tables."
A subtask of #24169.

[2021-07-02 03:54] djshow832 opened #25888 "ddl: Check other operations and make sure 'alter table' operations raise an error"
A subtask of #24169.

[2021-07-02 03:54] djshow832 opened #25889 "ddl: Check table options behavior same with global table"
A subtask of #24169.

[2021-07-02 03:55] djshow832 opened #25890 "ddl: Create temporary table like tbl_xx"
A subtask of #24169.

[2021-07-02 03:56] djshow832 opened #25891 "ddl: Create temporary table if not exists"
A subtask of #24169.

[2021-07-02 04:44] zhouqiang-cl opened #25893 "Unstable test `testSysVarSuite.TestInstanceScopedVars`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/13627/pipeline/

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-07-02 04:46] zhouqiang-cl commented on #25783
happends again https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/3262/pipeline

[2021-07-02 04:50] zhouqiang-cl opened #25894 "Test session with tikv hang more then 10 minutes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/13643/nodes/55/steps/92/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-02 04:50] zhouqiang-cl commented on #25894
another https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/13646/pipeline

[2021-07-02 04:54] zhouqiang-cl opened #25895 "CI check2 hang more then 10 minutes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/13658/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-07-02 04:55] zhouqiang-cl commented on #25894
another https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/13661/pipeline

[2021-07-02 04:56] lzmhhh123 commented on #25782
/cc @winoros

[2021-07-02 04:57] zhouqiang-cl opened #25896 "Unstable test `testInfoschemaTableSuite.TestForAnalyzeStatus`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/13671/nodes/53/steps/64/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-02 04:59] zhouqiang-cl commented on #25190
happend again https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/3298/pipeline

[2021-07-02 05:02] zhouqiang-cl opened #25897 "Unstable test `testStaleTxnSerialSuite.TestSelectAsOf`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/3310/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-07-02 05:03] zhouqiang-cl commented on #24817
happens again https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/3316/pipeline

[2021-07-02 05:04] lzmhhh123 commented on #25584
@LittleFall Any updates?

[2021-07-02 05:06] lzmhhh123 commented on #25802
/assign @guo-shaoge

[2021-07-02 05:09] zhouqiang-cl opened #25898 "data race in `tidb/domain/domain.go:1336`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/3334/nodes/116/steps/534/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requ

[2021-07-02 05:16] zhouqiang-cl commented on #25896
again https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/13719/nodes/53/steps/64/log/?start=0

[2021-07-02 05:16] zhouqiang-cl commented on #18270
happend again https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/3344/pipeline

[2021-07-02 05:23] lzmhhh123 commented on #25688
The length doesn't affect anything. The Max_length and Decimals are consistent.

[2021-07-02 05:23] #25688 closed

[2021-07-02 05:39] tisonkun opened #25899 "Tracking issue for unstable tests"
## Timeout test

* [x] #27438
* [x] #27439
* [x] #27440
* [x] #27441
* [x] #27443
* [x] #27444
* [x] #27445
* [x] #27446
* [x] #27447
* [x] #27449
* [x] #27450
* [x] #27620
* [ ] #28017
* [ ] #28019

## Integration tests

* [x] #27124

## race

* [x] #27979
* [x] #25003
* [x] #25013
* [x] #25073
* [x] #25189
* [x] #25270
* [x] #25393
* [x] #25643
* [x] #25691
* [x] #25782
* [x] #25898
* [x] #26539

[2021-07-02 05:44] tisonkun opened #25900 "Unstable tests for xxx"

[2021-07-02 05:44] #25900 closed

[2021-07-02 05:52] bb7133 commented on #25869
Sounds like a good idea, I've made the change. Thanks!

[2021-07-02 06:00] yuqi1129 commented on #25688
@lzmhhh123 It's the different return type that this issue addresses

[2021-07-02 06:02] lzmhhh123 commented on #25688
Yep, however, IMHO, the datetime type is more reasonable.

[2021-07-02 06:10] lzmhhh123 commented on #25443
Fixed by https://github.com/pingcap/tidb/pull/24011.

[2021-07-02 06:10] #25443 closed

[2021-07-02 06:13] tisonkun commented on #25869
@bb7133 Yes. I can see the reflection on org view. Thanks!

![image](https://user-images.githubusercontent.com/18818196/124229126-b7eb3600-db3f-11eb-915b-8af96b01cda1.png)

closed as resolved.

[2021-07-02 06:13] #25869 closed

[2021-07-02 06:49] #24933 closed

[2021-07-02 06:57] sylzd opened #25902 "error implicit convertion between varchar and timestamp when join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

5.10 release version &  v5.1.0-alpha-372-g4e61eb149-dirty

[2021-07-02 06:59] sylzd commented on #25902
/assign

[2021-07-02 07:00] sylzd commented on #25902
This bug produced in production environment!!!

[2021-07-02 07:07] #25610 closed

[2021-07-02 07:13] YinWeiling commented on #25760
Sorry for the annoying log, we will fix it ASAP!!!

[2021-07-02 07:18] #4841 closed

[2021-07-02 08:27] zhuo-zhi commented on #25739
Currently,  we have a session variable to control whether we allow distinct aggregation to be pushed down. See [source code](https://github.com/pingcap/tidb/blob/master/planner/core/exhaust_physical_plans.go#L2344-L2349).

Now that we can push distinct aggregation down in the subquery, should we remove this variable, or set this variable to always true.

[2021-07-02 08:28] zhuo-zhi commented on #25739
[code]

[2021-07-02 08:30] zimulala commented on #24910
The weekly report link:https://docs.google.com/document/d/10MXVdI2J_9hHhYL9ubTkzCDytgY3YhRXrJSECoyoZRY/edit#heading=h.fulmy43pr0uv

[2021-07-02 08:30] #24910 closed

[2021-07-02 08:31] wshwsh12 commented on #25103
In mysql docs, https://dev.mysql.com/doc/refman/8.0/en/comparison-operators.html#operator_in , said that we shouldn't write sql like this.

On the other hand, when compare int with string, we should convert both them to float, not int.  And '' and convert to float without warnings. So should we keep the current behavior unchanged?
[code]

[2021-07-02 08:35] xuyifangreeneyes opened #25903 "planner: skyline pruning drops certain index choice and may make plan suboptimal"
## Enhancement

When index a needs a double scan while index b doesn't, and the two indices are even at the other two skyline pruning factors, skyline pruning regards index b better than a and removes index a from candidates. However, in some cases it is possible that index b is worse than a. Here is an example.

[code]
In this case, choosing `pk` may not be optimal though it doesn't need a double

[2021-07-02 08:37] xuyifangreeneyes commented on #25903
\label \planner

[2021-07-02 08:37] dveeden commented on #25760
Isn't this the same as #25877 and already fixed with 1314b08c8b34462767ce92bfbe9cf1fc2b12b7ee ?

[2021-07-02 08:39] xuyifangreeneyes commented on #25903
/label sig/planner

[2021-07-02 08:54] YinWeiling commented on #25760
[1314b80](https://github.com/pingcap/tidb/commit/1314b08c8b34462767ce92bfbe9cf1fc2b12b7ee) fix the bug about `[2021/06/25 14:59:09.994 +08:00] [INFO] [data_slow_query.go:146]`.
The other bug is the same as [#25785](https://github.com/pingcap/tidb/issues/25785)

[2021-07-02 08:54] YinWeiling commented on #25760
[1314b80](https://github.com/pingcap/tidb/commit/1314b08c8b34462767ce92bfbe9cf1fc2b12b7ee) fix the bug about `[2021/06/25 14:59:09.994 +08:00] [INFO] [data_slow_query.go:146]`.
The other bug is the same as [#25785](https://github.com/pingcap/tidb/issues/25785) @dveeden

[2021-07-02 09:04] wshwsh12 commented on #25103
Mysql converts the args in In() to int will cause some problems,  there is a issue https://bugs.mysql.com/bug.php?id=104189

[2021-07-02 09:10] tisonkun commented on #25507
@ichn-hu @tiancaiamao any ideas?

[2021-07-02 09:40] wshwsh12 commented on #25103
What do you think about lowering the severity or closing this issue?  @tangenta  @jebter  cc

[2021-07-02 10:13] 634750802 opened #25908 "add documents for docker hub"
## Enhancement
Add documents for https://hub.docker.com/r/pingcap/tidb

[2021-07-02 10:14] 634750802 commented on #25908
cc zhouqiang-cl

[2021-07-02 10:20] Howie59 commented on #25885
/assign

[2021-07-02 12:05] yuqi1129 commented on #25688
@lzmhhh123 Yes, i do agree with you on this point, but when you execute the following sql in MySQL and TiDB
[code]
the value of b is different

the reason lies in here
![image](https://user-images.githubusercontent.com/15794564/124272048-d0c00f80-db70-11eb-8dc6-4081202a1de7.png)

[2021-07-02 17:59] tisonkun commented on #25613
Hi @djshow832 shall we adopt tracking issue style as in https://github.com/pingcap/tidb/issues/25899 instead of GitHub Project management?

For rationale, see also [this section](https://tisonkun.github.io/ziggurat/f379bf788b20/) also in the page it describes how to make use of GitHub mechanism implementing tracking issue pattern.

[2021-07-03 15:07] hawkingrei opened #25913 "FORMAT in EXPLAIN is compatible with MySQL"
## Bug Report

In Mysql, when you use ``` EXPLAIN FORMAT=<formatStmt>```, This ```formatStmt``` support string and identifier.
but In TiDB, it is in confusion.

### 1. Minimal reproduce step (Required)

explain FORMAT='TRADITIONAL'   select * from mysql.db;

### 2. What did you expect to see? (Required)

in mysql 8.0.25

[code]
### 3. What did you see instead (Required)

[code]

### 4. What is you

[2021-07-04 04:59] #24885 closed

[2021-07-04 06:23] zhaoxugang commented on #25884
/assign

[2021-07-04 10:33] tisonkun commented on #18030
@xhebox @morgo would you mind to link the subtasks finished P0 tasks which marked as done here since it is a tracking issue? Also for the remaining P1 features we may follow the tracking issue pattern as in #25899 to build the bidirectional link.

[2021-07-04 11:52] djshow832 opened #25916 "Create view should not refer a local temporary table"

[2021-07-04 11:53] djshow832 opened #25917 "View should always read non local temporary table"

[2021-07-04 11:53] djshow832 opened #25918 "Support create if not exists"

[2021-07-04 11:54] #25891 closed

[2021-07-04 11:54] djshow832 opened #25919 "Support write operation to a local temporary table"

[2021-07-04 11:55] djshow832 opened #25920 "Support read operation to a local temporary table"

[2021-07-04 11:55] djshow832 opened #25921 "Drop table should clear data in session"

[2021-07-04 11:55] djshow832 opened #25922 "Handle the point get / batch point get path"

[2021-07-04 11:55] djshow832 opened #25923 "check `tidb_constraint_check_in_place` for insert and update"

[2021-07-04 11:55] djshow832 opened #25924 "Maintain row count stats for temporary tables"

[2021-07-04 11:55] djshow832 opened #25925 "Analyze / auto analyze"

[2021-07-04 11:55] djshow832 opened #25926 "Check allocate autoID behavior"

[2021-07-04 11:55] djshow832 opened #25927 "Check binlog behavior"

[2021-07-04 11:55] djshow832 opened #25928 "Memory size does not exceed `temp_table_size`"

[2021-07-04 14:36] guo-shaoge opened #25929 "Error when create view with Window function"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists t6;
    CREATE TABLE t6(t TIME, ts TIMESTAMP);
    INSERT INTO t6 VALUES ('12:30', '2016-07-05 08:30:42');
    INSERT INTO t6 VALUES ('22:30', '2015-07-05 08:30:43');
    INSERT INTO t6 VALUES ('13:30', '2014-07-05 08:30:44');
    INSERT INTO t6 VAL

[2021-07-05 02:20] djshow832 opened #25931 "Check handle schema change during transaction commit"

[2021-07-05 02:20] djshow832 opened #25932 "Check Ignore locks behavior on local temporary tables"

[2021-07-05 02:20] djshow832 opened #25933 "Check Retry DML on local temporary tables"

[2021-07-05 02:20] djshow832 opened #25934 "Forbid admin check table on local temporary tables"

[2021-07-05 02:20] djshow832 opened #25935 "Forbid admin checksum table on local temporary tables"

[2021-07-05 02:20] djshow832 opened #25936 "Forbid show table regions / split table in local temporary tables"

[2021-07-05 02:20] djshow832 opened #25937 "Forbid stale read in local temporary tables"

[2021-07-05 02:21] djshow832 opened #25938 "do not allow historical read in local temporary tables"

[2021-07-05 02:21] djshow832 opened #25939 "Forbid tablesample in local temporary tables"

[2021-07-05 02:22] djshow832 opened #25940 "Forbid flashback / recover table in local temporary tables"

[2021-07-05 02:22] djshow832 opened #25941 "Forbid SQL binding in local temporary tables"

[2021-07-05 02:22] djshow832 opened #25942 "Support telemetry in local temporary tables"

[2021-07-05 02:22] djshow832 opened #25943 "Forbid setting tiflash in local temporary tables"

[2021-07-05 02:35] bb7133 commented on #25898
PTAL @qw4990

[2021-07-05 02:36] bb7133 commented on #25897
PTAL @nolouch

[2021-07-05 02:41] bb7133 commented on #25896
PTAL @qw4990

[2021-07-05 02:42] bb7133 commented on #25894
PTAL @djshow832

[2021-07-05 02:42] bb7133 commented on #25895
PTAL @djshow832

[2021-07-05 02:58] xhebox commented on #18030
I'll do it later. This project will be restarted soon.

[2021-07-05 03:06] zdjkea opened #25945 "How to make `tidb_mem_quota_query` take effect globally"
你好。这边有个工程查询的数据库比较大。所以经常会导致内存溢出，看了官方的说明是执行set @@tidb_mem_quota_query = 10 << 30;  就可以。但是测试下来。这种执行只能是当前会话的。如何在服务器端设置永久有效？

[2021-07-05 03:15] #9411 closed

[2021-07-05 03:30] tangenta commented on #25945
Hi, there is a corresponding option in the configuration file: https://docs.pingcap.com/zh/tidb/stable/tidb-configuration-file#mem-quota-query

[2021-07-05 04:17] YinWeiling opened #25947 "Add builtinfunction usage statistics"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some builtinfunctions doesn't support pushdown. The builtinfunctions’ usage needs to be counted to determine the priority.

**Describe the feature you'd like:**

usage statistics of all the builtinfunctions

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strateg

[2021-07-05 04:21] YinWeiling opened #25948 "Add builtinfunction statistics into telemetry"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Add builtinfunction usage statistics data into telemtry.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-07-05 04:44] zhouqiang-cl opened #25949 "Integration test break by #25851"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

https://github.com/pingcap/tidb/pull/25851 breaks integration test
[code]
### 1. Minimal reproduce step (Required)
in https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/5482/pipeline/144

### 2. What did you expect to see? (Required)

### 3.

[2021-07-05 05:35] LittleFall commented on #25584
investigating

[2021-07-05 05:38] tiancaiamao opened #25950 "port mysql temporary table tests"
## Enhancement

mysql test can be found here https://github.com/mysql/mysql-server/tree/8.0/mysql-test/t

Some of the temporary table related tests:

[code]

It seems only `temp_table.test` can be imported

[2021-07-05 05:48] dveeden commented on #25837
@JmPotato I think this issue can be closed now that #25912 is merged?

[2021-07-05 05:50] tiancaiamao opened #25951 "Add cases that local temporary table works well for cte"
[code]

After discussion in #27174 . The above is a bug from mysql's implement, so we need not to follow it.

See:
- https://bugs.mysql.com/bug.php?id=10327
- https://bugs.mysql.com/bug.php?id=98458

Just keep temporary table works well in cte.

[2021-07-05 05:52] JmPotato commented on #25837
Yeah, I think so!

[2021-07-05 06:15] #25949 closed

[2021-07-05 06:24] xzhangxian1008 opened #25955 "Query failed by: ERROR 1105 (HY000): DB::Exception: Duplicate names in enum: 'a' = 27 and 'a' = 1"
reproduce step:

[code]

error message:
[code]

version:
20210617 tiup playground nightly
[code]

[2021-07-05 06:24] xzhangxian1008 commented on #25955
TiDB add enum types repeatedly in the following codes:

file: tidb/planner/core/plan_to_pb.go

func (e *PhysicalExchangeReceiver) ToPB(ctx sessionctx.Context, storeType kv.StoreType) (*tipb.Executor, error) {

...

	for _, column := range e.Schema().Columns {
		pbType := expression.ToPBFieldType(column.RetType)
		if column.RetType.Tp == mysql.TypeEnum {
			pbType.Elems = append(pbType.Elems, colum

[2021-07-05 06:29] hawkingrei opened #25956 "interface conversion: interface {} is int64, not uint64"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

(1105, 'interface conversion: interface {} is int64, not uint64')

[code]

### 4. What is your TiDB version? (Required)

master

[2021-07-05 06:29] lcwangchao opened #25957 "Complete getting network factor for temporary table using cascade optimizer"

[2021-07-05 06:34] tisonkun commented on #25837
closed as resolved.

[2021-07-05 06:34] #25837 closed

[2021-07-05 07:06] wjhuang2016 opened #25961 "expression index can not be used if condition connected by or"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
master

[2021-07-05 07:49] jiaohu opened #25962 "Question for WrapCastForAggArgs: which aggregate function returns datetime, timestamp, duration"
## General Question

HELP! In expression/aggregation/base_func.go, there is a code to wrap the args of an aggregate function with a cast function. However, i could not find a aggregate function to test the cases about `types.ETDatetime`, `types.ETTimestamp` ,`types.ETDuration`.  Could you please give me a sample?
[code]

[2021-07-05 08:12] zimulala opened #25963 "metrics/grafana/tidb.json has the duplicate ID"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[TiDB DDL backfill progress](https://github.com/pingcap/tidb/blob/master/metrics/grafana/tidb.json#L9961
) and [The duration of the transaction](https://github.com/pingcap/tidb/blob/master/metrics/grafana/tidb.json#L3991) have the same id(193) in metrics/grafana/tidb.json.

[2021-07-05 08:13] youjiali1995 opened #25964 "Report write-conflict error in pessimistic transactions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Enable async-commit.
2. Make two transactions conflict on the non-unique secondary index, for example, one transaction inserts a row and the other delete it. Because pessimistic transaction in TiDB doesn't acquire pessimistic locks on the non-unique secondary index, it's

[2021-07-05 08:14] lichunzhu opened #25965 "TiDB doesn't write binlog for grant sqls, which is in-consistenct with MySQL"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When we want to replicate grant sqls to downstream, TiDB won't write any binlog to pump.

**Describe the feature you'd like:**

[code]
Save grant sqls to binlog like MySQL. Users can choose whether to replicate these sqls by their own.

**Describe alternatives you've considered:**

**Teachability, Documentation

[2021-07-05 08:24] crazycs520 opened #25968 "add index row count doesn't match the actual row count"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

![image](https://user-images.githubusercontent.com/26020263/124440649-68aa3d00-ddad-11eb-8b4c-67cb59d0cf20.png)

### 2. What did you expect to see? (Required)

add index row count match the actual row count.

### 3. What did you see instead (Required)

doesn't match

[2021-07-05 09:17] LittleFall commented on #25584
The root cause: the current version of TiDB server will add the `date_add` function to the [blacklist when it bootstraps](https://github.com/pingcap/tidb/blob/cb06e116c1bfb1089c2e1df5072e889a3b7decd3/session/bootstrap.go#L1136-L1139), so that the push down of this function is blocked. Even though the test suite initialization of `TestExprOnlyPushDownToFlash` does not execute this bootstrap process

[2021-07-05 09:40] eurekaka opened #25970 "tracking issue for SPM enhancement"
## Enhancement

This issue is a summary for this round SPM improvements.

- [ ] https://github.com/pingcap/tidb/issues/25842
- [ ] https://github.com/pingcap/tidb/issues/25864
- [ ] https://github.com/pingcap/tidb/issues/15702
- [ ] https://github.com/pingcap/tidb/issues/15660
- [ ] https://github.com/pingcap/tidb/issues/15655

[2021-07-05 10:22] tangenta commented on #25103
I prefer to close this issue.

[2021-07-05 10:36] aytrack opened #25972 "`show gants` result error while user only have grant option privileges for db"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

release-5.1: 8acd5c88471cb7b4d4c4a8ed73b4d53d6833f13e
master: cb06e116c1bfb1089c2e1df

[2021-07-05 10:59] #25526 closed

[2021-07-05 12:17] crazycs520 opened #25976 "set config instance return invalid instance"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

execute success

### 3. What did you see instead (Required)

failed

### 4. What is your TiDB version? (Required)

[code]

[2021-07-05 12:51] #25584 closed

[2021-07-05 14:41] AilinKid opened #25979 "dml: load data can succeed with with wrong utf8 character"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

When we load data to a column of CHAR(2) of a existed table with data BINARY(X'c2c2c2c2'). It will succeed in
insertion ignoring the data-too-long error. (make it as warning)

Reason: Cast function will throw data-too-long error and return the truncated string equal

[2021-07-06 03:18] tiancaiamao commented on #25573
Sorry for the Chinese, I'll translate it later.
The observation is, if we can cut down the allocs/op by 30% (from 101 -> 67), we can get a performance improvement near 30%(from 9578 -> 6925)

[code]

[2021-07-06 03:21] #25902 closed

[2021-07-06 04:30] AilinKid opened #25982 "Make the dashboard query to slow logs more lightweight"
## Enhancement

Refer this https://github.com/pingcap/tidb/pull/25892, query the  `statemens summary` table maybe very slow cause by decode plan, event the query doesn't need to read the `plan`, **Which means that the decode behavior is quite time-consuming and memory-consuming compared to the user workload.**

In the recent oncall issue-3291, as obviously demonstrated in the profile below

![scre

[2021-07-06 05:47] tisonkun commented on #25899
@LittleFall thanks for fixing #25584 ! I'd like to know whether or not its cause fits one of entries listed above? Or it seems like a logical errors.

[2021-07-06 05:59] #25755 closed

[2021-07-06 06:03] jiyfhust commented on #25755
pull request is mergered.

[2021-07-06 06:24] mengxin9014 opened #25986 "Unstable test testPessimisticSuite.TestAmendForUniqueIndex and testStatsSuite.TestAnalyzeGlobalStatsWithOpts2"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/14699/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-06 06:39] #25964 closed

[2021-07-06 06:45] lilyjazz opened #25989 "Granafa version is too low, and has some important security bug."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Grafana v6.1.6 has 2 important security bugs which are fixed in the higher version.
https://grafana.com/blog/2020/06/03/grafana-6.7.4-and-7.0.2-released-with-important-security-fix/
https://grafana.com/blog/2019/08/29/grafana-5.4.5-and-6.3.4-released-with-important-security-

[2021-07-06 06:50] lysu opened #25992 "buildValuesListOfInsert is slow when many ‘?’ in values"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

use prepare to execute

[code]

### 2. What did you expect to see? (Required)

fast and low cpu usage in tidb

### 3. What did you see instead (Required)

hig cpu usage

![image](https://user-images.githubusercontent.com/528332/124555118-4aa21280-de69-11eb-9e67-28e4a0014069

[2021-07-06 06:55] aytrack opened #25993 "invalid year value cast incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
As described in [doc](https://docs.pingcap.com/tidb/stable/data-type-date-and-time#date-and-time-types)

[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-07-06 07:04] tisonkun commented on #24910
Hi @zimulala ! I can see that there is still 3 remaining issues in the project board. Why this tracking issue gets closed when there are remaining issues?

[2021-07-06 07:21] LittleFall commented on #25899
it's a logical error (of test framework)

[2021-07-06 07:48] sticnarf opened #25997 "TiDB panics at CheckUpdateList after change columns"
## Bug Report

### 1. Minimal reproduce step (Required)

Launch a TiDB:

[code]

Run the program in this comment: https://github.com/pingcap/tidb/issues/22395#issuecomment-764438855

### 2. What did you expect to see? (Required)

No error reported

### 3. What did you see instead (Required)

[code]

TiDB Log:

[code]

### 4. What is your TiDB version? (Required)

TiDB nightly 20210706

[code]

[2021-07-06 08:10] sticnarf commented on #25997
I can confirm this issue occurs on all released TiDB versions including 5.0.0 ~ 5.0.3 and 5.1.0.

[2021-07-06 08:13] #25546 closed

[2021-07-06 08:27] Reminiscent commented on #25842
/assign

[2021-07-06 08:27] Reminiscent commented on #25864
/assign

[2021-07-06 10:25] pepezzzz opened #25999 "execute insert statement successfully with invaild timestamp"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

MySQL [test]> show create table t2;
+-------+----------------------------------------------------------------------------------------------------------------------------------------------------+
| Table | Create Table

[2021-07-06 11:17] eurekaka opened #26002 "optimize a query only once when binding exists"
## Enhancement

Currently, we would optimize a query firstly, and build a hint from the plan, then check if the hint matches any binding in the cache, if not, we use the bindings for another round of optimize. This would make a query be optimized several times if the hint in the binding is not normalized, and if the query contains uncorrelated subqueries, this optimization process would consume a

[2021-07-06 12:40] yuqi1129 opened #26004 "Cast string like '.1a1' to decimal has no warnings infromation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Run Master and execute

[code]

### 2. What did you expect to see? (Required)

**MySQL**
[code]

### 3. What did you see instead (Required)
**TiDB**
[code]

### 4. What is your TiDB version? (Required)

Master branch

[2021-07-06 12:56] bb7133 commented on #25999
I cannot reproduce this bug:

[code]

[2021-07-06 13:51] bb7133 commented on #25999
Update: I didn't reproduce it because I used TiDB with Unistore(mocktikv), it is reproducible with TiDB + TiKV.

So the root cause is 'TiDB failed to validate the data, while TiKV did the validation'.

[2021-07-06 14:21] #25700 closed

[2021-07-06 15:53] #25856 closed

[2021-07-06 16:02] mjonss opened #26008 "Client connections from 127.0.0.1 loop back interface is not matching 'localhost'"
## Enhancement

In MySQL tcp/ip connections to loopback network interface 127.0.0.1 is shown as coming from 'localhost' and not 127.0.0.1 (but not for authentication and authorisation) and while TiDB will show it as 127.0.0.1 (including when authentication and authorisation).

(See examples in https://github.com/pingcap/tidb/pull/25914)

This is an incompatibility with MySQL, but changing it would

[2021-07-07 02:37] #25918 closed

[2021-07-07 03:01] #25957 closed

[2021-07-07 03:33] xhebox commented on #18030
@tisonkun Take a look? Almost all PRs and issues are listed. I know PRs are a lot, but as it is not listed in the sub issue, it is listed here.

[2021-07-07 04:15] lance6716 commented on #14766
seems the TODO list item "Dropping column with index covered isn't fully compatible with mysql" is marked as done, but its issue is still open

[2021-07-07 04:55] zhouqiang-cl opened #26009 "TIDB exit again and again in ci"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]
### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_integration_ddl_test/runs/4218/nodes/62/steps/256/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB versio

[2021-07-07 04:56] zhouqiang-cl commented on #26009
all are in Integration DDL Delete test

[2021-07-07 04:57] zhouqiang-cl commented on #26009
1. https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_ddl_test/detail/tidb_ghpr_integration_ddl_test/4218/pipeline
2. https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_ddl_test/detail/tidb_ghpr_integration_ddl_test/4212/pipeline
3. https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_ddl_test/detail/tidb_ghpr_integration_ddl_test/4209/p

[2021-07-07 06:11] #25961 closed

[2021-07-07 07:29] #25765 closed

[2021-07-07 07:47] #25913 closed

[2021-07-07 08:51] dveeden opened #26016 "Support for 'RESTART' statement"
## Enhancement

MySQL 8.0 has a `RESTART` statement. https://github.com/pingcap/tidb/issues/7968 identified this is one of the things TiDB needs for improved MySQL 8.0 compatibility.

The parser part seems easy: https://github.com/pingcap/parser/pull/1267

The [documentation in MySQL for this command](https://dev.mysql.com/doc/refman/8.0/en/restart.html) are quite detailed.

We could do something

[2021-07-07 08:51] dveeden commented on #26016
cc @morgo

[2021-07-07 09:44] xuyifangreeneyes opened #26017 "planner: redundant sort when making sql plan"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`idx_a_b_c` matches the physical property that `order by a, c` asks and no sort is needed. Here is the plan made by MySQL
[code]

### 3. What did you see instead (Required)
The plan made by TiDB has redundant sort.
[code

[2021-07-07 10:03] xuyifangreeneyes commented on #26017
/assign

[2021-07-07 10:29] zhouqiang-cl opened #26018 "Integration test break by #25766"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
from or https://github.com/pingcap/tidb/pull/25766
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/5363/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

###

[2021-07-07 10:30] zhouqiang-cl commented on #26018
@lzmhhh123

[2021-07-07 10:30] zhouqiang-cl commented on #26018
@ichn-hu

[2021-07-07 11:02] mjonss commented on #25856
/label component/privilege

[2021-07-07 11:03] jiyfhust opened #26019 "plugin global variables can not be registered"
## Bug Report

TiDB newest code, i tested on version v5.2.0-alpha.

I define a global variable for my plugin, but on mysql client:

mysql> show global variables like 'my_variable';

no my variable defind.

master version, the code:

https://github.com/pingcap/tidb/blob/14adc46253e4c47b15798b143dcd4055440c5915/session/session.go#L2371-L2382

https://github.com/pingcap/tidb/blob/14adc46253e4c47b1579

[2021-07-07 11:51] youjiali1995 commented on #25726
BTW, the ycsb workload-e is a TiDB CPU-bound workload. I guess there are many potiential optimizations here.
![image](https://user-images.githubusercontent.com/14819777/124754146-7520c800-df5c-11eb-8c67-f28b59a3da34.png)

Related to https://github.com/pingcap/tidb/issues/25573#issuecomment-874429222.

[2021-07-07 12:45] mjonss commented on #25856
### Bug

#### 1. Root Cause Analysis (RCA)
The connections from the unix domain socket file was forwarded to the listening network interface (normally the loop back interface), which made the authentication see the connection coming from '127.0.0.1' instead of 'localhost'

#### 2. Symptom
Could not login through socket file matching host 'localhost', like 'user'@'localhost'

#### 3. All Trigger Co

[2021-07-07 13:57] bb7133 commented on #26009
PTAL @zimulala

[2021-07-07 15:01] winoros opened #26020 "Tracking issue for heuristic rules enhancement for index selection"
## Enhancement

This issue tracks the status of the heuristic rules used for index selection to pruning some indexes by rule. This can help TiDB avoid choosing some wrong indexes by the out-date/not-good statistics.

* [x] #27227
* [x] #26319
* [x] #26320
* [x] #27228
* [x] #27229
* [x] Scenario tests if needed (No need)
* [x] #27230

Follow ups:

* [x] #27313

[2021-07-07 16:50] morgo commented on #26019
@jiyfhust thank you for the bug report.

@lysu The sysvar system has dynamic plugin registration (and unregistration), so I think the plugin system should instead either call this API, or parse a full `SysVar{}`. This will mean that it can also add validation/setter/getter functions, which will be really useful. I am happy to take a look, do you have a preference?

[2021-07-07 17:16] tisonkun commented on #18030
@xhebox thanks for your update! That looks good. We don't trace back to all backlogs which gains little but pays a lot.

I'd like to know whether subtasks don't have a dedicated issue will be associated to one before they are started, such as "Support adding placement rules for databases".

[2021-07-07 23:32] tisonkun opened #26022 "Tracking issue for restructure tests"
## Brief Motivation

This issue tracks the efforts to restructure TiDB tests, focusing on unit tests and integration tests, especially on separating `integration_test.go` as well as unifying test infrastructure in [testify](https://github.com/stretchr/testify).

For the detailed design, see also:

* [x] #26023

## Join force

We are currently on the first phase on the effort and focus on migrating

[2021-07-07 23:37] tisonkun commented on #26018
Hi @zhouqiang-cl is it an instance of https://github.com/pingcap/tidb/issues/25899?

[2021-07-07 23:39] tisonkun opened #26023 "Create design doc for restructure tests"
Previous discussion happened on TiDB Internals forum, see also https://internals.tidb.io/t/topic/200.

[2021-07-08 00:17] tisonkun opened #26025 "Introduce testify dependency"

[2021-07-08 02:43] #25956 closed

[2021-07-08 02:55] xhebox commented on #18030
@tisonkun It depends, I think. The person who created the issue is scsldb, but the actually project leader is djshow832 and the actual coder is me.

Scsldb created the issue and does update more on this issue. djshow832 created several sub issues. And I did not link the PR to issues somehow. We lack communication and guidance to ensure how the github tracking issue will be maintained. And it is li

[2021-07-08 03:02] ChenPeng2013 opened #26029 "query result error when using prefix index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-07-08 03:57] #22414 closed

[2021-07-08 05:11] morgo commented on #26016
I think wrapper scripts like mysqld_safe are dangerous. If it's needed, it's much better to rely on systemd.

There is another option, which is to not rely on the OS at all. The server could close all its ports, and then go through the startup loop again without changing the PID.

There are some risks to this approach though. If the server had rogue handles to temporary files open they wouldn't be

[2021-07-08 05:52] xuyifangreeneyes commented on #26029
[code]
The two query ranges `["物碃貞枕騫摨聫嚣蜻禼" 72 -inf,"物碃貞枕騫摨聫嚣蜻禼" 73 2024-10-19 08:55:32)` and `("物碃貞枕騫摨聫嚣蜻禼" 72 2024-10-19 08:55:32,"物碃貞枕騫摨聫嚣蜻禼" 73 +inf]` overlap with each other.

[2021-07-08 05:57] xuyifangreeneyes commented on #26029
/assign

[2021-07-08 06:23] it2911 opened #26044 "About any user can select the cluster-* tables of information schema"
## Bug Report

Any user can get the TiDB cluster information by select information_schema.cluster_info table. It is problem to cluster security.

### 1. Minimal reproduce step (Required)

The user who only have least privilage can read the information of TiDB cluster.

Example
select * from CLUSTER_HARDWARE;

### 2. What did you expect to see? (Required)

Don't allow any user can read the cluster

[2021-07-08 06:54] Reminiscent commented on #25864
The root cause is that after the [PR#21275](https://github.com/pingcap/tidb/pull/21275), TiDB will rewrite the bindings in `mysql.bind_info` after the version upgrade, and the process of `RestoreNameBackQuotes` in [PR#23295](https://github.com/pingcap/tidb/pull/23295) was omitted during the rewriting phase. As a result, some of the rewritten bindings have grammatical errors and cannot be parsed by

[2021-07-08 06:59] #13626 closed

[2021-07-08 08:09] lcwangchao opened #26048 "Support insert and point_get for local temporary table"

[2021-07-08 08:10] lcwangchao opened #26049 "Support delete for local temporary table"
Depends for #25920 for update need output from executors like TableReader

[2021-07-08 08:11] lcwangchao opened #26050 "Support batch point get for temporary table"

[2021-07-08 08:15] lcwangchao opened #26051 "Support update for local temporary table"
Depends for #25920 for update need output from executors like TableReader

[2021-07-08 08:17] lcwangchao commented on #25919
Related issues:

- #26048
- #26049
- #26051

[2021-07-08 08:36] Howie59 commented on #25920
/assign

[2021-07-08 08:49] dragonly commented on #24194
IMHO, we should remove those `(to be listed)` check boxes, because they're semantically unnecessary, and misleads the task counter.

[2021-07-08 08:53] dveeden commented on #26016
- Yes and relying on systemd is what MySQL does if you install the RPMs etc.
- However for MySQL the process is easier as the server and systemd service file are part of the same RPM.

Yes like #26052 ?

Another possible issue is that this wouldn't help when restarting as part of doing upgrades.

In MySQL the main purpose of restart is to be able to do `SET PERSIST_ONLY some_non_dynamic_var = "foo

[2021-07-08 09:01] bb7133 commented on #26044
At least for now, this is by-design. The 'security enhanced mode' is used for your requirement: https://github.com/pingcap/tidb/blob/master/docs/design/2021-03-09-security-enhanced-mode.md

[2021-07-08 09:22] dveeden commented on #26016
Another set of options would be:

- Not implementing this in TiDB (as `SET PERSIST...` is not applicable) and `tiup` and TiDB Operator are already handling rolling restarts.
- Implementing this as a noop
- Having this trigger a full cluster rolling restart. (I don't really like this as that means this works differently than the command in MySQL)

[2021-07-08 09:27] mjonss opened #26058 "tidb using unix socket cannot restart if after SIGKILL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Success / tidb-server started again

### 3. What did you see instead (Required)
FATAL error, server not started
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-08 09:30] mjonss commented on #26058
The reason is that `kill -9` does not execute any cleanups etc, leaving the socket file and it cannot be opened next time. MySQL seems to solve this by also having a lock file with the process id of the creator of the socket file, and if the socket file and lock file exists when the server is starting, it reads the lock file and checks if the process id is still matching a running process and if n

[2021-07-08 09:42] dveeden commented on #26058
If there is nothing listening on that socket the entry from `/proc/net/unix` for it should be gone.

[2021-07-08 09:52] dveeden commented on #26058
[code]

[2021-07-08 09:58] dveeden commented on #26058
https://pkg.go.dev/github.com/prometheus/procfs can be used as an abstraction layer if needed

[2021-07-08 10:00] mjonss commented on #26058
Will it work on all linux systems? It seems like it there are no `/proc` on macOS :(

[2021-07-08 10:06] dveeden commented on #26058
yes that works on all linux systems

On Thu, Jul 8, 2021, 12:00 Mattias Jonsson ***@***.***> wrote:

[2021-07-08 10:12] david6522-man opened #26060 "Tiup DM start task.yaml raise JSON error"
hello  everyone ：
       I test mysql migrate database to tidb , used tiup to delpoy DM cluster and to start task.yaml caused this problem:
![image](https://user-images.githubusercontent.com/77654188/124904592-c3df6800-e017-11eb-8302-8e92fb26c57e.png)

     mysql version:5.6.36
     tidb version:5.7.25-TiDB-v5.0.0
     as we all know mysql 5.7 already support json column,but i meet this error,plea

[2021-07-08 10:28] #26060 closed

[2021-07-08 10:58] SunRunAway opened #26062 "account who only has USAGE privilege can see information_schema.CLUSTER_CONFIG"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

[code]

[code]

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-08 11:50] SunRunAway commented on #26062
[code]

[2021-07-08 12:53] #26023 closed

[2021-07-08 15:26] dveeden commented on #19976
#24141 creates TLS certificates if none are specified and does automatically renew these and reload them every x days.

When something like https://github.com/Netflix/lemur or https://github.com/certbot/certbot is managing certificates it is the task of the automation to place the files at the right location and do a `ALTER INSTANCE RELOAD TLS`.

Having an API endpoint like @kolbe suggest would be

[2021-07-08 15:27] dveeden commented on #9628
Looks like this issue went stale and should be closed

[2021-07-08 15:28] dveeden commented on #8671
Looks like this issue went stale and should be closed

[2021-07-08 15:33] dveeden opened #26065 "Fail server startup when opening TLS context fails"
## Enhancement
Related to #24141

When specifying non-existent files for `ssl-cert` and/or `ssl-key` this happens:
[code]

Note that startup already fails if `-require-secure-transport` is used with invalid certificate paths.

[2021-07-08 15:33] dveeden commented on #26065
cc @mjonss

[2021-07-08 17:39] morgo opened #26067 "test-suite can not run when there is a server running on port 4000"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make test

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

[code]

This looks to be a regression from f23e1004ac

[code]

After `cfg := newTestConfig()`, it should set `cfg.Port = 0` so a random port is chosen.

### 4. Wha

[2021-07-08 17:57] morgo commented on #26016
I like the implementation in #26052, I think it is useful actually. We can review it from there when you are ready.

[2021-07-08 18:21] morgo commented on #26062
@SunRunAway I'm going to fork the information_schema.USER_PRIVILEGES to a separate bug report. I have a PR ready for it.

[2021-07-08 18:22] morgo opened #26069 "infoschema.user_privileges privilege requirements is not dependent on user's privileges"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The usage user should only see their own access.

### 3. What did you see instead (Required)

Can see all users.

### 4. What is your TiDB version? (Required)

[code]

[2021-07-08 18:22] morgo commented on #26069
This is forked from https://github.com/pingcap/tidb/issues/26062

[2021-07-08 21:52] dveeden commented on #26016
Who would be good reviewers on this? I'd like to make sure that this doesn't leave things half-initialized etc. and I don't know if there are other ways of doing this in Go that might be better.

[2021-07-09 00:35] morgo commented on #26016
Maybe @tiancaiamao and @lysu ?

[2021-07-09 02:45] #26018 closed

[2021-07-09 03:01] sylzd commented on #24323
For this issue, `order` does not work because field `a` not exits in t2, which makes it equals `SELECT * FROM t1 UNION SELECT * FROM t1`;
[code]

[2021-07-09 03:02] purelind opened #26074 "run make check on arm64 machines always failed"
## Bug Report

### 1. Minimal reproduce step (Required)
* run 'make check' on an arm64 machine always failed. Error message as follows:
`` Generate errors.toml failed: exit status 1, output:
_errdoc-generator/main.go:17:15: expected 'STRING', found '.'
``

### 2. What did you expect to see? (Required)
No error
### 3. What did you see instead (Required)
`` Generate errors.toml failed: exit status 1

[2021-07-09 03:05] bb7133 commented on #26058
@aytrack I do not think it is a major bug, PTAL

[2021-07-09 03:13] #25992 closed

[2021-07-09 03:30] wjhuang2016 opened #26077 "binding normalize every number makes using expression index wrongly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

For SQL `select * from t where a+2 > 2;`, don't use the expression index. But the hint work for it.

### 3. What did you see instead (Required)
Wrong plan for `select * from t where a+2 > 2;`

### 4. What is your TiDB v

[2021-07-09 03:44] tisonkun commented on #26020
Hello @winoros ! We published a planning for TiDB v5.2 development cycle. Is this feature to be included? If so, would you mind to comment on the [thread](https://internals.tidb.io/t/topic/219) so that the author can update information?

[2021-07-09 04:05] qw4990 opened #26079 "TiDB returns wrong results when accessing the mem-table `slow_query` with some filters related to time"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Download the text below as your `tidb-slow.log`
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

Master

[2021-07-09 04:05] qw4990 commented on #26079
@crazycs520 Could you take a look at this?

[2021-07-09 06:11] tisonkun opened #26081 "migrate test-infra to testify for errno pkg"

[2021-07-09 06:28] ichn-hu commented on #23630
@breeswish can this bug be consistently reproduced? are there running instances that can be used to reproduce and debug?

[2021-07-09 07:36] HunDunDM commented on #24615
After the Region is split into two, if there is only one reporting heartbeat, a Range hole will appear on the PD side. Is it possible that TiKV is too busy to cause this phenomenon?

[2021-07-09 07:36] lcwangchao opened #26083 "Check local temporary table behavior 'insert ignore/on duplicate/replace'"

[2021-07-09 07:38] zimulala commented on #26009
The TiDB exists again and again after CI execution timeout.
[code]

I see that the two tests have been finished. I don't know why it doesn't quit the test. Let me confirm it again

[2021-07-09 07:56] sticnarf commented on #24615
Yes. This problem is probably because the raftstore stalls.

[2021-07-09 08:43] dveeden commented on #7968
User attributes might also be something to add
[code]

[code]

[2021-07-09 08:45] breeswish commented on #23630
@ichn-hu We didn't observe such errors recently.

[2021-07-09 09:15] time-and-fate opened #26085 "Tracking issue for Cardinality Estimation Enhancement"
## Enhancement
We're investigating flaws in our cardinality estimation logic and trying to fix them. And we're also trying to improve our cardinality estimation mechanism. This issue is for tracking the developments.

- [x] #26086
- [x] #26088
- [x] #26089
- [x] #26281
- [x] #26282
- [x] #26283

[2021-07-09 09:15] time-and-fate commented on #26085
/sig planner

[2021-07-09 09:21] time-and-fate opened #26086 "Improve out-of-range handling logic"
## Enhancement
Currently, when doing the row count estimation for a range condition, we're using a fixed 1/100 selectivity for the out-of-range part if it is out of the range of our histogram. But this rule is too simple sometimes, we'll try to switch to a smarter strategy.

[2021-07-09 09:21] time-and-fate commented on #26086
/sig planner

[2021-07-09 09:26] time-and-fate opened #26088 "Improve row count estimation for Limit/TopN"
## Enhancement
Currently, when doing row count estimation for the index/table scan in a SQL with LIMIT, we'll adjust the row count according to the LIMIT number and the correlation from statistics. This is a good strategy but sometimes it makes the planner choose `TableScan` when it should choose `IndexScan`, and the SQL execution becomes very slow. We'll try to fix it.

[2021-07-09 09:27] time-and-fate commented on #26088
/sig planner

[2021-07-09 09:32] time-and-fate opened #26089 "Always push down TopN when N is less than a specific variable"
## Enhancement
Currently, in the planner, the choice between push down TopN or not is cost-based. But sometimes the cost calculation is not accurate enough to make the correct choice. When we choose not to push down TopN when it should, the SQL execution will become very slow sometimes. Considering the risk and benefit, always choose to push down the TopN may be a better strategy.

[2021-07-09 09:32] time-and-fate commented on #26089
/sig planner

[2021-07-09 09:40] LittleFall opened #26090 "question: why this condition is left condition, instead of other condition?"
## General Question

[code]

[2021-07-09 09:59] LittleFall commented on #26090
question: in this anti semi join, which is the left table?

[2021-07-09 10:13] #26048 closed

[2021-07-09 11:20] LittleFall commented on #26090
the left table should be `select * from t2`

[2021-07-09 12:02] LittleFall commented on #26090
in this situation, are all the left conditions useless? If they are, is there any plan to eliminate them?

[2021-07-09 12:20] chabater opened #26092 "詢問如何單純部署tidb"
我透過tiup的方式部署tidb集群使用，使用起來覺得非常合適使用，有研究網站上也有kubernetes的部屬方式，為了取得各自的優勢，我想部署幾個tidb的container到kubernetes上，並且共用我目前的pd,tikv,tiflash，請問你們是否可以單獨部署tidb container並設定自定義的集群設定呢？

[2021-07-09 17:58] #25883 closed

[2021-07-10 06:11] tisonkun commented on #26092
Hi @chabater ! Thanks for your question on TiDB. We host a forum for answering user questions in Chinese. You can refer to https://asktug.com/c/administration and report the question there.

Closing as redirected...

[2021-07-10 06:11] #26092 closed

[2021-07-10 06:12] tisonkun commented on #23851
Closed as answered and no more followups.

[2021-07-10 06:12] #23851 closed

[2021-07-10 06:26] tisonkun opened #26099 "unstable test: `trackerrecorder_test.go:63: trackRecorderSuite.TestHeapProfileRecorder`"
## Bug Report

[code]

### 1. Minimal reproduce step (Required)

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/15977/pipeline

[2021-07-10 06:29] #26025 closed

[2021-07-10 06:30] tisonkun commented on #25584
@LittleFall do you know which commit introduce the blacklist logic for that expression? I'm curious why we do not detect the violation at the first place.

[2021-07-10 06:30] tisonkun commented on #26081
closed by https://github.com/pingcap/tidb/pull/26082

[2021-07-10 06:30] #26081 closed

[2021-07-10 07:35] tisonkun opened #26100 "migrate test-infra to testify for `kv` pkg"
This package contains tests for leak. Replace manually leak scripts with [go.uber.org/goleak](https://github.com/uber-go/goleak) as in https://github.com/tikv/client-go/pull/172

[2021-07-10 07:45] tisonkun opened #26102 "migrate test-infra to testify for `util/admin` pkg"

[2021-07-10 07:45] tisonkun opened #26103 "migrate test-infra to testify for `util/arena` pkg"

[2021-07-10 09:00] tisonkun commented on #26004
what do you mean by `like '.1a1'`? Malformed string to decimal cases?

[2021-07-10 09:03] yuqi1129 commented on #26004
Yes,  this is only one bad cases, for more, you can see the description about the related PR

[2021-07-10 09:07] zhaoxugang commented on #25890
/assign

[2021-07-10 09:33] yuqi1129 commented on #26004
Moreover, string to decimal also have the following problem compared to MySQL
[code]
warning information is `1.4` not `1.4a`, which is quite confused as '1.4' can absolutely cast to Decimal

[code]

*Warning info is inconsistent with MySQ*

[code]
*Warning info is somewhat Semi-finished products*

[code]
*The above SQL should have warning information*

[2021-07-10 09:53] yuqi1129 commented on #26004
Besides the related case as below also need to be change;
**TiDB**
[code]

**MySQL**
[code]

[2021-07-10 15:49] jyz0309 commented on #26022
A little question, if we use testify to instead `pingcap/check`, maybe we need to restructure the `/utils/testkit` first? It seem that we use `TestKit.MustExec` to exec sql in TiDB test, and MustExec need to use `pingcap/check`.

[2021-07-10 15:56] tisonkun commented on #26022
@jyz0309 Yes of course. That is in the plan and we will create testkit with go testing & testify. We use go-check for matchers almost and it won't be too complex.

[2021-07-10 15:56] tisonkun commented on #26022
@july2993 BTW #26102 & #26103 are still free to be assigned. If you want to take one of them, feel free to comment there.

[2021-07-10 16:21] tisonkun opened #26106 "Implement flags bridge to workaround tests fail with undefined flags"

[2021-07-10 16:21] tisonkun opened #26107 "Adopt go.uber.org/goleak for leak tests"

[2021-07-10 16:22] tisonkun opened #26108 "Implement testkits for server tests"

[2021-07-10 16:23] tisonkun commented on #26106
closed by https://github.com/pingcap/tidb/pull/26082

[2021-07-10 16:23] #26106 closed

[2021-07-11 03:22] tisonkun commented on #25882
So what's the different between this issue and #22611? Shall we close that one as superseded by this one? From my perspective they are just the same.

[2021-07-11 03:23] tisonkun commented on #25882
BTW you can create issues to track subtasks instead of just link PRs since you may have multiple PRs to one topic but exactly one issue for that topic.

[2021-07-11 03:24] tisonkun commented on #22611
closed as superseded by https://github.com/pingcap/tidb/issues/25882

[2021-07-11 03:24] #22611 closed

[2021-07-11 04:07] tisonkun commented on #25808
@crazycs520 from the [v5.2 planning topic](https://internals.tidb.io/t/topic/219) I see you are the owner of this proposal, is that true? If so, could you assign yourself so that we know it is taken?

[2021-07-11 04:43] djshow832 commented on #25204
Duplicated with https://github.com/pingcap/tidb/issues/24169

[2021-07-11 04:43] #25204 closed

[2021-07-11 07:35] hooopo opened #26110 "`show keys from` return expression field is not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Schema
[code]
MySQL
[code]

TiDB
[code]

### 2. What did you expect to see? (Required)
The expressions field should return `null`, not the `string 'NULL'`
![image](https://user-images.githubusercontent.com/63877/125186239-c03c2300-e25b-11eb-9866-b327abcd3f51.png)

### 3. Wh

[2021-07-11 09:13] tisonkun commented on #26004
[code]

Seems behavior changed. Which version of MySQL you use to test? Is there a source from MySQL document?

[2021-07-11 09:20] jyz0309 commented on #26108
Does this mean that we need to re-implement a TestKit and let it gradually replace `utils/testkit`? Or just make changes to the original `testkit`?
A little concern, now testkit is used by many test. If we make changes to the original testkit directly, this is a big change.

[2021-07-11 09:26] yuqi1129 commented on #26004
The following is the result that executed locally
[code]
However, In MySQL 5.7 the result is quite different

[code]

[2021-07-11 09:28] yuqi1129 commented on #26004
So, I wander what version of MySQL should TiDB consistent with ?

[2021-07-11 09:41] jyz0309 commented on #26110
![image](https://user-images.githubusercontent.com/38248129/125190323-15cdfb00-e26f-11eb-8dd0-33dfc54f28b2.png)
I have try to reproduce this bug in master. It seem that all <null> become NULL

[2021-07-11 10:09] hooopo commented on #26110
I use mycli because mysql console can't see the difference between NULL and string NULL, it shows the same.

[2021-07-11 10:59] hooopo opened #26111 "foreign key info in information_schema is not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**MySQL**

[code]

[code]

[code]
MySQL query result;
[code]

**TiDB**

[code]

[code]

[code]

TiDB query result:

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required

[2021-07-11 12:22] francis0407 opened #26112 "A recursive CTE causes TiDB server panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-07-12 01:58] tisonkun commented on #26108
[x] re-implement a TestKit and let it gradually replace utils/testkit

**_We use go-check for matchers ( in testkit ) almost and it won't be too complex._**

[2021-07-12 02:51] tangenta commented on #26004
AFAIK, we don't have a clear goal to be compatible with 5.7 or 8.0.

Unless there is a strong reason, I think both are acceptable.

[2021-07-12 03:01] tisonkun commented on #26004
But this issue is itself a compatible issue. If it is unclear which version to be compatible with, then the issue itself is unclear to stand or not.

[2021-07-12 03:22] hawkingrei opened #26115 "Add TiDB backend support for the Django ORM"
* Brief Motivation
Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. it contains an ORM supporting many databases. it enables different feature by different database character.so we want to add this ability to the Django ORM for TiDB.

[2021-07-12 03:25] #25779 closed

[2021-07-12 03:44] zhouqiang-cl commented on #26074
log is https://ci.pingcap.net/blue/organizations/jenkins/tidb_nightly_test_arm64/detail/master/50/pipeline/

[2021-07-12 03:57] yuqi1129 commented on #26004
@tisonkun I think 5.7 maybe the right version that tidb should follower with. as there are big difference between version 5.7 and 8.x, what's your thought on this point?

[2021-07-12 04:31] tiancaiamao commented on #25507
I totally agree with @JaySon-Huang
This issue is labeled as 'help wanted', the change is easy, hope someone will do it.

[2021-07-12 04:45] #26100 closed

[2021-07-12 04:45] #26107 closed

[2021-07-12 05:05] tisonkun commented on #26103
@Ranxy do you want to take this issue? You can comment `/assign` to assign the issue to you. Please assign the issue to you first and then start working.

[2021-07-12 05:09] Ranxy commented on #26103
/assign @Ranxy

[2021-07-12 05:10] Ranxy commented on #26103
@tisonkun Thank you for the reminder.

[2021-07-12 05:44] evilbinary commented on #26102
Hi @tisonkun, I'd like to migrate tests under `util/admin` pkg. Please create a subtask and assign to me.

[2021-07-12 05:55] tisonkun commented on #26102
/assign @evilbinary

Glad to see your interest @evilbinary ! That is the subtask and I will assign it to you.

[2021-07-12 05:59] djshow832 opened #26120 "Fix privilege problems of accessing `information_schema`"
## Background

There are some privilege problems of accessing the tables in `information_schema`.
Generally, there are 2 kinds of problems:
1. Users without `PROCESS` privilege should be unable to access the cluster data, such as `cluster_config`, but they can.
2. Users without the super privilege should able to access their own data, such as `user_privileges`, but they can access all.

## Risks

[2021-07-12 06:11] djshow832 opened #26121 "Users without process privilege should be unable to query cluster_hardware"

[2021-07-12 06:11] djshow832 opened #26122 "Users without process privilege should be unable to query cluster_info"

[2021-07-12 06:11] djshow832 opened #26123 "Users without process privilege should be unable to query cluster_load"

[2021-07-12 06:11] djshow832 opened #26124 "Users without process privilege should be unable to query cluster_log"

[2021-07-12 06:11] djshow832 opened #26125 "Users without process privilege should be unable to query CLUSTER_STATEMENTS_SUMMARY_EVICTED"

[2021-07-12 06:11] djshow832 opened #26126 "Users without process privilege should be unable to query CLUSTER_SYSTEMINFO"

[2021-07-12 06:11] djshow832 opened #26127 "Users without process privilege should be unable to query CLUSTER_TIDB_TRX"

[2021-07-12 06:11] djshow832 opened #26128 "Users without super privilege should be unable to query TABLE_STORAGE_STATS of other users"

[2021-07-12 06:36] bb7133 commented on #25400
@kennytm Personally, I prefer to skip `SELECT MAX...` for the following reasons:
- `SELECT` can be slow and expensive for a large table.
- Since DML and DDL do not block each other in TiDB, the `SELECT` result may not be accurate.
- This syntax is not recommended for normal cases, we will explicitly document its risk in our official website.

[2021-07-12 07:14] tiancaiamao commented on #25573
/merge

[2021-07-12 08:14] jackysp opened #26136 "set `tidb_dml_batch_size` may not take effect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

Use another session to load data into TiDB.

### 2. What did you expect to see? (Required)
Get the log `batch limit hit when inserting rows`.

### 3. What did you see instead (Required)
No the above log, and the heap memory usage of TiDB is higher than expect.

### 4

[2021-07-12 08:14] hooopo opened #26137 "DDL:1091 error message is not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

MySQL
[code]

TiDB

[code]

### 2. What did you expect to see? (Required)
[code]
https://github.com/pingcap/tidb/blob/9cf25b6c24a340b0ee0c5c2d777abde90c6a8f9f/errors.toml#L84-L87
### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required

[2021-07-12 08:29] zhouqiang-cl opened #26138 "Unstable integration mysql test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]
### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/5558/pipeline/

replay is ok for this test

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

###

[2021-07-12 09:19] dveeden commented on #26115
Related to #24194 and https://github.com/hawkingrei/django-tidb

[2021-07-12 09:24] wzru commented on #24387
/cc @sticnarf

[2021-07-12 09:27] #24722 closed

[2021-07-12 09:45] #25979 closed

[2021-07-12 10:26] vivid392845427 opened #26147 "In some cases, the error code of 1105 does not give specific error information"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run tipocket bank2，set nemesis type:pod-failure, the testcase fail, error message is null; for example：

2021/07/11 12:03:06 control.go:478: [info] recover nemesis type:pod-failure,duration:1m34s,node:node[comp=pd,ip=default-1626001720-pd-2.default-1626001720-pd-peer.tipock

[2021-07-12 10:31] #26112 closed

[2021-07-12 10:31] ichn-hu commented on #26136
/unlabel sig/execution

[2021-07-12 10:31] ichn-hu commented on #26136
/label sig/infra

[2021-07-12 10:32] ichn-hu commented on #26136
/unlabel sig/execution
/label sig/sql-infra

[2021-07-12 10:57] #26062 closed

[2021-07-12 11:29] #25955 closed

[2021-07-12 11:48] yuqi1129 opened #26151 "Year function can't handle some date string"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Master
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

Master branch

[2021-07-12 12:09] #26103 closed

[2021-07-12 12:16] tisonkun commented on #26103
@Ranxy thanks for your contribution! You can figure out other package doesn't migrate and ask for a subtask in the tracking issue #26022 . Also you can put an eye on the logic covered by tests to see whether there is potential improvement.

[2021-07-12 12:23] tisonkun commented on #26004
@yuqi1129 make sense.

[2021-07-12 12:30] tisonkun opened #26153 "migrate test-infra to testify for `util/mock` pkg"

[2021-07-12 12:30] tisonkun opened #26154 "migrate test-infra to testify for `util/logutil` pkg"

[2021-07-12 12:30] tisonkun opened #26155 "migrate test-infra to testify for `domain/infosync` pkg"

[2021-07-12 12:30] tisonkun opened #26156 "migrate test-infra to testify for `distsql` pkg"

[2021-07-12 12:31] tisonkun commented on #26154
Assignee may take a look at https://github.com/pingcap/log/pull/16 and see how to make log tests

[2021-07-12 12:34] yuqi1129 commented on #26004
@tisonkun , Thanks your comment, i think the following point needs to be consistent with 5.7
[code]

This two problem may be have higher priority,  other problem can be ignored currently

[2021-07-12 13:20] xxchan commented on #26153
Hi @tisonkun, I'd like to participate and please assign this task to me

[2021-07-12 13:27] tisonkun commented on #26153
/assign @xxchan

Go ahead!

[2021-07-12 13:28] tisonkun opened #26157 "migrate test-infra to testify for `util` pkg ( top level pkg, not its children )"

[2021-07-12 13:47] tisonkun opened #26160 "migrate test-infra to testify for `executor/write_concurrent_test.go`"

[2021-07-12 14:17] tiancaiamao opened #26161 "Reconsider process info implementation for statement context reuse"
## Enhancement

To reduce object allocation in the point get, I aggressively reuse the objects.
When I try to reuse the `StatementContext` in https://github.com/pingcap/tidb/pull/26007, I found some problem.

In the past, `SetProcessInfo()` get a snapshot of the process info:

[code]

This is a shadow copy, when `ResetContextStmt()` create objects, the `pi` referred objects are never touched again

[2021-07-12 14:23] xhebox commented on #26161
Hmm, I think the PR could be reopened after solving the issue. My first idea is to provide a `Clone` for `StmtCtx`, and remove `RuntimeStatsColl` in the `processinfo`.

[2021-07-12 15:30] alex-quan-001 opened #26162 "release: v5.1.1"
- [x] 1. July 22 merge finished

- [x] 2. July 23, seal version and release note review
- [x] 3. Released on July 30

[2021-07-12 17:02] ZiheLiu opened #26163 "Can onDropColumn() skip write-only state when dropping an optional column without index?"
## General Question

According to [the F1 original paper](http://static.googleusercontent.com/media/research.google.com/zh-CN//pubs/archive/41376.pdf), we can promote an optional structural element `E`
from `delete-only` to `public`, because integrity anomalies cannot occur when element `E` is optional.

Therefore, can [onDropColumn()](https://github.com/pingcap/tidb/blob/cb06e116c1bfb1089c2e1df50

[2021-07-12 23:12] mjonss commented on #26121
/assign @mjonss

[2021-07-12 23:13] mjonss commented on #26122
/assign @mjonss

[2021-07-12 23:13] mjonss commented on #26123
/assign @mjonss

[2021-07-12 23:13] mjonss commented on #26124
/assign @mjonss

[2021-07-13 00:36] tisonkun commented on #26160
.. or you may figure out the difference between `CTestKit` and `TestKit` to see if we can join these two abstractions and use `executor/write_concurrent_test.go` as its first client.

Then we also resolve #26108 .

[2021-07-13 02:51] zoomxi commented on #24044
/assign

[2021-07-13 03:11] bb7133 commented on #25893
Hi @morgo , I've skipped it in #26149, please take a look and try to fix it in 2 weeks.

[2021-07-13 03:11] lysu opened #26166 "Push down sort property to range partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

t1, t2 be same

### 3. What did you see instead (Required)

the partition table can not be eliminated as limitN (even with dynamic prune)

### 4. What is your TiDB version? (Required)

newest master

[2021-07-13 03:25] AilinKid commented on #26125
/assign @AilinKid

[2021-07-13 03:25] AilinKid commented on #26126
/assign @AilinKid

[2021-07-13 03:25] purelind opened #26167 "some lint errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
branch master
`make check`

### 2. What did you expect to see? (Required)
No error

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

branch master

[2021-07-13 03:25] AilinKid commented on #26127
/assign @AilinKid

[2021-07-13 03:25] AilinKid commented on #26128
/assign @AilinKid

[2021-07-13 03:27] #26157 closed

[2021-07-13 03:35] #26153 closed

[2021-07-13 03:39] purelind commented on #26167
golangci-lint version in Makefile diffs on branches
master:  golangci-lint v1.41.0
release-5.1 & release-5.0:  golangci-lint v1.29.0
release-4.0:  golangci-lint v1.21.0

[2021-07-13 04:16] tisonkun opened #26168 "migrate test-infra to testify for `util/bitmap` pkg"

[2021-07-13 04:17] tisonkun opened #26169 "migrate test-infra to testify for `util/checksum` pkg"

[2021-07-13 04:17] tisonkun opened #26170 "migrate test-infra to testify for `util/chunk` pkg"

[2021-07-13 04:17] tisonkun opened #26171 "migrate test-infra to testify for `util/codec` pkg"

[2021-07-13 04:17] tisonkun opened #26172 "migrate test-infra to testify for `util/collate` pkg"

[2021-07-13 04:17] tisonkun opened #26173 "migrate test-infra to testify for `util/cteutil` pkg"

[2021-07-13 04:17] tisonkun opened #26174 "migrate test-infra to testify for `util/dbterror` pkg"

[2021-07-13 04:17] tisonkun opened #26175 "migrate test-infra to testify for `util/deadlockhistory` pkg"

[2021-07-13 04:17] tisonkun opened #26176 "migrate test-infra to testify for `util/disjointset` pkg"

[2021-07-13 04:17] tisonkun opened #26177 "migrate test-infra to testify for `util/fastrand` pkg"

[2021-07-13 04:17] tisonkun opened #26178 "migrate test-infra to testify for `util/filesort` pkg"

[2021-07-13 04:17] tisonkun opened #26179 "migrate test-infra to testify for `util/format` pkg"

[2021-07-13 04:17] tisonkun opened #26180 "migrate test-infra to testify for `util/generatedexpr` pkg"

[2021-07-13 04:18] tisonkun opened #26181 "migrate test-infra to testify for `util/hack` pkg"

[2021-07-13 04:18] tisonkun opened #26182 "migrate test-infra to testify for `util/kvcache` pkg"

[2021-07-13 04:18] tisonkun opened #26183 "migrate test-infra to testify for `util/localpool` pkg"

[2021-07-13 04:49] #25917 closed

[2021-07-13 04:54] jyz0309 commented on #26181
/pick

[2021-07-13 05:01] jyz0309 commented on #26102
Hello~ @evilbinary
I see the `admin_integration_test.go` have used a lot of `testKit.MustExec()`. And we have not implemented another `testkit` yet. So I think you can migrate test-infra to testify for `admin_test.go` first.
What do you think? @tisonkun

[2021-07-13 05:19] tisonkun commented on #26102
Yep. That makes sense. Besides, we shall make the first migration of `testkit.TestKit` example asap :P

[2021-07-13 06:03] zhouqiang-cl opened #26185 "Unstable test `testTxnStateSerialSuite.TestCommitting`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/16888/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-13 06:04] zhouqiang-cl commented on #25783
happend again https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/5271/pipeline

[2021-07-13 06:05] zhouqiang-cl opened #26186 "Check dev hang for 10 minutes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/16873/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-13 06:06] wshwsh12 opened #26187 "Test for Support spill HashAgg to disk"

[2021-07-13 06:07] #26029 closed

[2021-07-13 06:29] Reminiscent commented on #15660
/assign

[2021-07-13 06:45] xuyifangreeneyes commented on #26020
/sig planner

[2021-07-13 06:48] MyonKeminta commented on #24199
Sprint 3 have ended. This issue will be closed and remaining tasks will be done in the future.
Future works will be managed by [this GitHub project](https://github.com/pingcap/tidb/projects/67).

[2021-07-13 06:48] #24199 closed

[2021-07-13 06:54] LittleFall commented on #25584
blame [this line](https://github.com/pingcap/tidb/blob/149e86ac4bbd0a9e1fc63657bb617983600fb954/session/bootstrap.go#L1138) you can get it's https://github.com/pingcap/tidb/pull/16389/files#diff-87683a21082ba99b8f8ee16504246f92fc7a8e417374ee868d00dc6bc773b015R984 from @windtalker

[2021-07-13 07:27] eurekaka opened #26191 "GC bind record with deleted status"
## Enhancement

Currently, `DROP GLOBAL BINDING` would only mark the bind as deleted, i.e, it is not physically removed from `mysql.bind_info` since we rely on its `update_time` column for incremental synchronization of the bind record to all tidb servers. Hence in the long run, the number of rows in `mysql.bind_info` would become larger and larger. We decide to internally GC those bind records wi

[2021-07-13 07:39] seiya-annie opened #26193 "please provide a debug method to output logical Optimize results"
## Feature Request

**Is your feature request related to a problem? Please describe:**
we want to test tidb optimize function. but it is difficult to check logical optimize results with "explain" or "desc" command because many processes may be merged and can't found in the final result.
and if we mixing logical optimize test and physical optimize in one case,  it may be too complex and not conduci

[2021-07-13 08:11] ichn-hu commented on #25876
@jebter this is an sig/sql-infra bug, please change the label

[2021-07-13 08:26] xhebox commented on #25876
@ichn-hu  It is a execution bug. Just most devs are in sql-infra or PD team..

[2021-07-13 08:32] ichn-hu commented on #25876
@xhebox do you intend to fix it? or I'll assign someone else to fix it.

[2021-07-13 08:36] xhebox commented on #25876
#25954 will fix it. There is already one PR linked to the issue.

[2021-07-13 08:44] ichn-hu commented on #25770
@zhouqiang-cl are there more evidence about the hangs? can it be reproduced? if not, shall we close it until more evidence is collected?

[2021-07-13 08:46] Reminiscent opened #26199 "Support the status variable @@last_plan_binding_update_time for SPM"
## Enhancement
The new system variable `select @@binding_last_update_time` is used to view the timestamp corresponding to the SQL Bind cache of the current TiDB instance. Makes SQL bind related problems easier to debug.

[2021-07-13 08:47] Reminiscent commented on #26199
/assign

[2021-07-13 08:47] Reminiscent commented on #26199
/label sig/planner

[2021-07-13 08:50] ichn-hu commented on #23630
can we close it until more evidence is collected?

[2021-07-13 08:55] ichn-hu commented on #23630
stack unrolled:

[code]

[2021-07-13 08:55] jackysp commented on #26136
Duplicated with https://github.com/pingcap/tidb/issues/24709, closed.

[2021-07-13 08:55] #26136 closed

[2021-07-13 08:57] #25916 closed

[2021-07-13 09:03] ichn-hu commented on #23630
/assign @ichn-hu

[2021-07-13 09:04] ichn-hu commented on #25770
/assign @ichn-hu

[2021-07-13 09:20] wjhuang2016 opened #26203 "Data may be lost when changing column type with `tidb_enable_amend_pessimistic_txn=on`."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
NULL
### 4. What is your TiDB version? (Required)
master

[2021-07-13 09:22] tisonkun opened #26204 "migrate test-infra to testify for `util/profile` pkg"

[2021-07-13 09:22] tisonkun commented on #26204
... also implement a first version of testkit

see also #26108

[2021-07-13 09:25] kennytm commented on #25400
except for partitioned table the `SELECT MAX(_tidb_rowid)` is equivalent to finding the last key in the range `["t{tid}_r", "t{tid}_s")` which should be O(1).

[2021-07-13 09:25] zhouqiang-cl commented on #25770
Seems it not happens this days. I will close it

[2021-07-13 09:25] #25770 closed

[2021-07-13 09:39] #25400 closed

[2021-07-13 10:37] lobshunter opened #26212 "Can't find column in schema Column: [] Unique key: []"
## Bug Report

### 1. Minimal reproduce step (Required)
1. import TPC-DS data
2. execute SQL:

[code]

### 2. What did you expect to see? (Required)
execute successfully

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-07-13 10:46] wjhuang2016 opened #26213 "index data may be lost when creating expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
No error
### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-07-13 11:03] ChenPeng2013 commented on #26213
because expression index is experimental feature, severity is set to major

[2021-07-13 11:12] wjhuang2016 opened #26214 "order by hidden column should report errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
No error. The result is ordered by the hidden column.
### 4. What is your TiDB version? (Required)
master

[2021-07-13 11:13] mengxin9014 opened #26215 "The type of year operation with the type of date is wrong"
## Bug Report
[code]

### 1. Minimal reproduce step (Required)

except:

[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
v5.0.1

[2021-07-13 11:34] cfzjywxk commented on #26213
@wjhuang2016
The current implementation of transaction amend is not compatible with expression index, it's needed to reject the amend path for expression index at https://github.com/pingcap/tidb/blob/master/session/schema_amender.go#L220.Also some compatibility test case are needed to verify the rejection.

[2021-07-13 11:38] cfzjywxk commented on #26203
@wjhuang2016
The current implementation of transaction amend is not compatible with column type change, in the earlier versions the column type is only allowed to be changed to certain types which does not need data reorgnization, but now the assumption is not true. It's needed to add rejection logic at https://github.com/pingcap/tidb/blob/master/session/schema_amender.go#L163.Also some compatibil

[2021-07-13 11:41] cfzjywxk commented on #26203
Seems the column id is also needed to be checked to ensure only field length is increased and other changes will be rejected.

[2021-07-13 12:15] jianzhiyao commented on #14395
/assign

[2021-07-13 12:34] wjhuang2016 opened #26217 "can use invisible index after admin check table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
Can't use the invisible index.
### 3. What did you see instead (Required)
Use the invisible index
### 4. What is your TiDB version? (Required)
master

[2021-07-13 12:35] wjhuang2016 commented on #26217
![image](https://user-images.githubusercontent.com/17380469/125452446-33dffab0-f367-4bfe-9913-19053aa6df87.png)
When `admin check table`, OptimizerUseInvisibleIndexes is set to true, but isn't reseted later.

[2021-07-13 13:40] JaySon-Huang commented on #24928
/label help-wanted

[2021-07-14 02:19] Ranxy commented on #26169
Hi @tisonkun, I'd like to migrate this pkg. Please assign it to me.

[2021-07-14 02:21] tisonkun commented on #26169
/assign @Ranxy

Go ahead!

[2021-07-14 02:23] #26167 closed

[2021-07-14 03:05] #26204 closed

[2021-07-14 03:08] GMHDBJD opened #26226 "Support utf8mb3 charset"
## Feature Request

**Is your feature request related to a problem? Please describe:**

mysql 8.0.24+ and mariadb 10.6.1+, create table with utf8
[code]
show create table will return utf8mb3
[code]

TiDB doesn't support utf8mb3
[code]

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-07-14 03:33] zyguan opened #26227 "TiDB gets OOM killed on pruning hash partitions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The last query succeed.

### 3. What did you see instead (Required)

Connection refused because tidb-server get oom-killed.

### 4. What is your TiDB version? (Required)

release-5.1 (8d622028300288174695350de5984f1ed2c

[2021-07-14 03:41] xhebox opened #26228 "Better Preprocess for stale read and view"
## Enhancement

In #25876, I fixed the issue by adding an extra preprocess. But I can not really handle stale read in `create view ... as select ... as of timestamp ...`.

Refer #25954 for more details.

[2021-07-14 03:42] tangenta opened #26229 "concurrently truncating the same partition hangs DDL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Owner TiDB:
[code]

Non-owner TiDBs run the following SQL concurrently:
[code]

### 2. What did you expect to see? (Required)

All the `TRUNCATE` statements can be executed successfully.

### 3. What did you see instead (Required)

DDL hangs. `ADMIN SHOW DDL`:
[code]

### 4

[2021-07-14 03:44] wzru commented on #25053
/assign @wzru

[2021-07-14 03:45] xhebox opened #26230 "Better solution for stale read and view preprocess"
## Enhancement

The main issue #19817.

In #25954, I fixed the bug by adding an extra `Preprocess`. But I can not just handle stale read in the `Preprocess` of `create view ... as select as of ...`. Refer the PR for more details.

[2021-07-14 03:46] xhebox commented on #25876
Closed in favour of #26228

[2021-07-14 03:46] #25876 closed

[2021-07-14 03:47] wzru commented on #25193
/assign @wzru

[2021-07-14 03:47] ChenPeng2013 commented on #26227
It seems like https://github.com/pingcap/tidb/issues/25598

[2021-07-14 03:52] wzru commented on #24725
/assign @wzru

[2021-07-14 03:53] wzru commented on #24387
/assign @wzru

[2021-07-14 04:06] zhouqiang-cl commented on #25782
happend again https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/5390/nodes/104/steps/398/log/?start=0

[2021-07-14 04:10] zhouqiang-cl commented on #15862
Happend again in https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/17135/nodes/53/steps/64/log/?start=0
[code]

[2021-07-14 04:12] zhouqiang-cl commented on #25986
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/17153/pipeline

[2021-07-14 05:32] zhouqiang-cl commented on #25898
happened again https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/5381/pipeline

[2021-07-14 05:34] zhouqiang-cl opened #26235 "Unstable test `testSuite.TestIterator`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/17129/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-07-14 05:37] zhouqiang-cl commented on #25895
happend again https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/17118/pipeline

[2021-07-14 05:39] zhouqiang-cl commented on #25896
happend again https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/17117/nodes/53/steps/64/log/?start=0

[2021-07-14 06:03] hey-hoho opened #26236 "how to improve unit tests pass rate"
## General Question

I downloaded the TiDB v4.0.11 source code, then run all unit tests by `go test ./... -v --cover `,this is test result summary:
[code]
Many cases are failed. I think the number of failures is a bit high.
How to ensure that all unit tests can run and pass?

My test environment:

- 4Core CPU 20G memory

[code]

[2021-07-14 06:13] zhouqiang-cl commented on #26236
Thank you @hey-hoho
 Maybe you can try `-parallel 2` and post more log here

[2021-07-14 06:26] tisonkun commented on #26236
Hi @hey-hoho, thanks for reporting this issue.

TiDB uses [failpoint](https://github.com/pingcap/failpoint) for tests. You can refer to [Makefile](https://github.com/pingcap/tidb/blob/ed659df5e3b4389648ba94d1fa5c2209ce5ea062/Makefile) to see how to run tests.

Generally you can run `make test` for running tests. I created an issue https://github.com/pingcap/tidb-dev-guide/issues/51 to include how

[2021-07-14 06:33] hey-hoho commented on #26236
@zhouqiang-cl @tisonkun Thanks for your suggestions, I will try it now.

[2021-07-14 06:35] wjhuang2016 commented on #26213
It has nothing to do with amending txn.

[2021-07-14 06:49] #26229 closed

[2021-07-14 06:59] #25103 closed

[2021-07-14 06:59] zimulala commented on #26203
@cfzjywxk
We have rejection logic at https://github.com/pingcap/tidb/blob/master/session/schema_amender.go#L163. But we need to update the column's state https://github.com/pingcap/tidb/blob/master/session/schema_amender.go#L197.

[2021-07-14 07:07] tangenta commented on #24911
The problem has been fixed in master:

[code]

[code]

[2021-07-14 07:07] #24911 closed

[2021-07-14 07:18] LittleFall opened #26242 "Let top-level projection can push down to TiFlash when mpp is not enforced."
## Enhancement

#25450 support top-level projection push down to TiFlash, but it only takes effect when mpp mode is enforced. This changes the semantics of tidb_enforce_mpp: It will introduce new optimization rules instead of just ignoring the optimizer cost estimate.、

It is actually maintaining two sets of optimizers.

https://github.com/pingcap/tidb/pull/26207 wants to fix it, but it finally cl

[2021-07-14 07:59] #25093 closed

[2021-07-14 08:03] dbsid commented on #26212
below two quires can execute successfully

[code]

[code]

[2021-07-14 08:14] ichn-hu commented on #24953
@sylzd are you interested in fixing this PR?

[2021-07-14 08:21] LittleFall opened #26243 "Variables behavior about `broadcast join` seems confusing."
## discuss

Currently, we have four variables about broadcast join: `tidb_opt_broadcast_cartesian_join`, `tidb_opt_broadcast_cartesian_join`, `tidb_broadcast_join_threshold_size` and `tidb_broadcast_join_threshold_count`, and their documents and behavior are really confusing.

We need to sort out the behavior and priority of these variables, or consider delete some variables like `tidb_opt_broadca

[2021-07-14 08:24] jebter commented on #26215
desc select * from t where a>b;
+---------------------+---------+-----------+---------------+--------------------------------------------------+
| id                  | estRows | task      | access object | operator info                                    |
+---------------------+---------+-----------+---------------+--------------------------------------------------+
| TableReader_7       | 1.60

[2021-07-14 08:25] #26181 closed

[2021-07-14 09:07] seiya-annie commented on #25325
add release notes to avoid this issue。

[2021-07-14 09:07] #25325 closed

[2021-07-14 09:13] Ranxy commented on #26169
@tisonkun There is a lot of copy and paste in the test code, should we refactor this?

[2021-07-14 09:43] tisonkun commented on #26169
@Ranxy Yes that makes sense to me. You may also give a descriptive name for "TestTiCase3648" and others.

[2021-07-14 09:54] sylzd commented on #24953
I will try.
/assign

[2021-07-14 11:12] ichn-hu commented on #24949
I tried to reproduce but failed in doing so,

SQL

[code]

script

[code]

@lysu I run it for 1000 times and it can't be reproduced, can we close it for now until we found more evidence?

[2021-07-14 11:46] LittleFall opened #26249 "testutil: When there is `//` in the json test data, the test framework will report an error."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

change any testdata json file , add `//` in it, just like:
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-14 11:51] LittleFall commented on #26249
this may because tidb want to ignore the comment in json.

[2021-07-14 12:17] #25300 closed

[2021-07-14 13:06] lcwangchao opened #26250 "Join partition table with normal table will cause error: invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-07-14 13:17] lcwangchao opened #26251 "Join partition table with normal table for update should lock normal table but not"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Prepare:
[code]

Session1:
[code]

Session2:
[code]

### 2. What did you expect to see? (Required)

Session2 should be blocked util session1's txn is committed or aborted.

### 3. What did you see instead (Required)

Session2 not blocked.

### 4. What is your TiDB version?

[2021-07-14 13:31] mjonss opened #26253 ""show status like" is not case insensitive"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
`show status like 'ssl_cipher';`

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

`show status like 'Ssl_chipher';` works.

### 4. What is your TiDB version? (Required)
[code]

MySQL has case insensitive match for `LIKE

[2021-07-14 13:38] lcwangchao opened #26254 "Create view still keeps "for update" in subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No `FOR UPDATE` in show create view

[code]

### 3. What did you see instead (Required)

`FOR UPDATE` still exists. Scalar subquery and correlated subquery also have the some problem

[code]

### 4. What is your TiDB ve

[2021-07-14 16:58] ateb14 commented on #26168
Hi @tisonkun, I'd like to migrate tests under `util/bitmap` pkg. Please create a subtask and assign to me.

[2021-07-14 22:03] dveeden opened #34204 "Default for `-tidb-port` is not used correctly in Lightning TiDB backend"
1. What did you do?

[code]

`-tidb-port 4000` should not change anything in how the command works as that's the default. But it does.

From the usage info:
[code]

[code]

[2021-07-15 00:59] Reminiscent commented on #25864
[PR#23295](https://github.com/pingcap/tidb/pull/23295) can solve this issue.

[2021-07-15 00:59] Reminiscent commented on #25864
/close

[2021-07-15 00:59] #25864 closed

[2021-07-15 01:57] lcwangchao commented on #26251
Maybe some relationship with #26250

[2021-07-15 02:05] #26009 closed

[2021-07-15 02:25] breeswish commented on #23630
Looks good to me!

[2021-07-15 02:29] #26110 closed

[2021-07-15 02:31] tisonkun commented on #26168
/assign @ateb14

Glad to see your interest! Go ahead.

[2021-07-15 02:33] XuHuaiyu commented on #26227
@zyguan Log or the source data is needed.

[2021-07-15 02:35] yuqi1129 commented on #24387
@guo-shaoge , This issue seems different from #26152
![image](https://user-images.githubusercontent.com/15794564/125718979-a256fda3-dafd-4681-8245-1e67afb97767.png)

#26152 fix problem in ParseDateFormat, however, both of the two issues involve handle date string

[2021-07-15 02:44] XuHuaiyu commented on #26250
[code]

[2021-07-15 03:46] sylzd commented on #24953
##original case:

query:
[code]

- mysql 5.7 result
[code]

- TiDB result
[code]

## case simplified:

query:
[code]

- mysql 5.7 result
[code]

- tidb result
[code]

[2021-07-15 03:48] sylzd commented on #24953
I think it's a bug produced both mysql and tidb. As [document](https://dev.mysql.com/doc/refman/5.7/en/union.html#union-result-set) says:

Selected columns listed in corresponding positions of each SELECT statement should have the same data type. For example, the first column selected by the first statement should have the same type as the first column selected by the other statements. If the data

[2021-07-15 04:06] dbsid opened #26260 "enhance estimate rows on recursive CTE"
running tpc-ds query 78 against TiDB, 1GB dataset, the query out of memory when the @@tidb_mem_quota_query=1GB, need to increase to @@tidb_mem_quota_query to make the query successful.

cause analyze: currently TiDB hard code the estimated rows for  recursive CTE as 1, causing poor join method.

Enhance request: optimizer should provide accurate estimate rows for the CTE expression.

[code]

[code

[2021-07-15 04:19] xuyifangreeneyes commented on #26029
1. Root Cause Analysis (RCA) (optional)

2. Symptom (optional)

3. All Trigger Conditions (optional)

4. Workaround (optional)

5. Affected versions
release-5.0, release-5.1

6. Fixed versions

[2021-07-15 04:22] xuyifangreeneyes commented on #26214
/assign

[2021-07-15 05:12] guo-shaoge commented on #25674
#25514 make it ok.

[2021-07-15 05:31] luyiqu opened #26264 "How can I get the distributed transaction rate?"
## General Question

[2021-07-15 06:05] seiya-annie opened #26266 "v4.0.1 upgrade to 4.0.14, panic in the recoverable goroutine, report invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-15 06:06] ichn-hu commented on #26264
do you mean TPS? we have a TiKV panel in grafana, see https://docs.pingcap.com/tidb/stable/deploy-monitoring-services (or [Chinese version](https://docs.pingcap.com/zh/tidb/stable/grafana-monitor-best-practices))

[2021-07-15 06:11] luyiqu commented on #26264
No, if tikv is deployed on three nodes ,  how can I know a transaction access the number of nodes?

[2021-07-15 06:15] ichn-hu commented on #26266
how is this reproduced?

[2021-07-15 06:16] ichn-hu commented on #26266
do you have corresponding SQL and table schema?

[2021-07-15 06:23] seiya-annie commented on #26266
[errorinfo.txt](https://github.com/pingcap/tidb/files/6820826/errorinfo.txt)

[2021-07-15 06:31] LittleFall commented on #26249
It seems that this is not a planner issue? I take the test in the planner as an example, but other tests may also have this problem.

[2021-07-15 06:36] tisonkun commented on #25507
@JaySon-Huang we don't close this issue by #26218 . Do you intend to remove the definition in pingcap/parse also and then close this one?

[2021-07-15 06:39] JaySon-Huang commented on #25507
@tisonkun Yes, but I may do it later this weekend.

[2021-07-15 07:15] sylzd commented on #24953
mysql 8.0 fixed this bug:
[code]

[2021-07-15 08:09] qw4990 commented on #26250
caused by https://github.com/pingcap/tidb/pull/21148

[2021-07-15 08:09] qw4990 commented on #26266
caused by https://github.com/pingcap/tidb/pull/21148 and its cherry-picks

[2021-07-15 08:27] #26203 closed

[2021-07-15 08:39] #26266 closed

[2021-07-15 08:41] #26217 closed

[2021-07-15 09:00] hey-hoho commented on #26236
@tisonkun I use `make test`, all tests have passed. 👍

[2021-07-15 09:00] #26236 closed

[2021-07-15 09:03] #24868 closed

[2021-07-15 09:08] eurekaka commented on #25760
Related problem:

[code]

Run local tidb with f3c5c1ec904b7800a4ffea40811102f5e6bec7fc commit.

[2021-07-15 09:29] #25342 closed

[2021-07-15 09:37] mjonss opened #26275 "SHOW GRANT reports privileges in mixed case, not upper case"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

I have noticed it on `Process` (also inconsistent error messages) but there might be more privileges with different casing.
Also notice that `SHOW PRIVILEGES` should list `Process` and not `PROCESS`.

### 2. What did you expect to see? (Required)
[code]

### 3. What

[2021-07-15 10:15] tisonkun commented on #21486
on master d05b6f4c711664fae2df842fac557ede45e6cbfd the stack changes to

[code]

[2021-07-15 10:49] hooopo opened #26278 "`drop global temporary table` can only drop global temporary table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL:

[code]

### 3. What did you see instead (Required)

error: mysql: 8007: `drop global temporary table` can only drop global temporary table

### 4. What is your TiDB version? (Required)

[code]

[2021-07-15 11:31] zyguan commented on #26227
@XuHuaiyu The issue can be reproduced on release-5.0. Memory is allocated at [here](https://github.com/pingcap/tidb/blob/4ca5d03fbe2fe1d2106a29a38b4c99be66b36eb1/planner/core/rule_partition_processor.go#L195), it seems `posLow` and `posHigh` were evaled incorrectly. You can also find the tmp-storage [here](http://fileserver.pingcap.net/download/pingcap/qa/draft/oom-tmp-storage.tar.gz).

![2021-07-

[2021-07-15 12:28] tiancaiamao commented on #26227
Not the same cause   @ChenPeng2013

`between -7622884926923238988 and 4467923861679270794 `

Current hash pruning is toooooooooooo inefficient for this case...
It calculate the range and then **take every point data from the range** to check if it fit in any partition

[2021-07-15 12:32] tiancaiamao commented on #26227
A simple fix here is to change the `used` from a []int to a map, that would reduce the allocation. (but not avoid the repeated calculation)

[2021-07-15 12:50] qw4990 opened #26281 "do not convert small range query to multiple point queries under stats-ver2"
## Enhancement
In `stats-ver2`, `CMSketch` is removed so we cannot assume point-query estimation is more accurate than range-query estimation.

[2021-07-15 12:53] qw4990 opened #26282 "Update the formula about judging stale statistics"
## Enhancement
Update the formula to `ModifyCnt / LastAnalyzeCnt`.

[2021-07-15 12:59] #26169 closed

[2021-07-15 13:00] qw4990 opened #26283 "unify the terms `NDV` and `cardinality` in the optimizer"
## Enhancement
Unify the terms `NDV` and `cardinality` in the optimizer.
In the optimizer, both terms `NDV` and `cardinality` are used to refer to the same meaning `the number of distinct values`.
In many other DBs, `cardinality` also means `the estimated number of rows returned by a step or an operator`.
So to make it clear and unified, we decided to remove `cardinality` and only use `NDV` to ref

[2021-07-15 13:22] tangwz commented on #26085
May I have a try?

[2021-07-15 13:25] #25760 closed

[2021-07-15 13:25] #25785 closed

[2021-07-15 14:07] tisonkun opened #26285 "migrate test-infra to testify for `util/execdetails` pkg"

[2021-07-15 14:07] tisonkun opened #26286 "migrate test-infra to testify for `util/expensivequery` pkg"

[2021-07-16 01:19] #26121 closed

[2021-07-16 02:07] tiancaiamao commented on #14466
@jianzhiyao your benchmark code is not correct. The compiler has optimize almost all the code.
Can you find any `memcpy` function in the benchmark profile?

[2021-07-16 02:31] JaySon-Huang commented on #25507
I am going to close this issue since we have remove those exported vars from parser

[2021-07-16 02:31] #25507 closed

[2021-07-16 02:53] #26286 closed

[2021-07-16 03:24] wzru commented on #25447
/assign @wzru

[2021-07-16 04:02] tiancaiamao opened #26289 "limit the time of a single unit test case"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some of the test case panic may cause the whole testing programming hang:

https://github.com/pingcap/tidb/issues/26186

Find out which test cause the problem case by case is time consuming, and we have already met this issue several times.

**Describe the feature you'd like:**

It's better to limit the time a

[2021-07-16 04:25] tisonkun commented on #26022
In an offline discussion with @tiancaiamao it seems we'd better consider test timeout in this effort also.

gocheck provides a `check.timeout` mechanism but the current state seems unsatisfied (why?). golang itself doesn't provides timeout per function.

After a little investigation, I write a helper for this requirement

[code]

... which is used as

[code]

.. one more level of ident but works w

[2021-07-16 04:57] tisonkun commented on #23312
@Howie59 @wanliyi @guo-shaoge @djshow832 I'm curious is this a significant concern of compatibility? Results are the same and only representation different.

@Howie59 according to this comment ( https://github.com/pingcap/tidb/pull/23964/files#r651591316 ), do you investigate how MySQL handles case from float to string? It seems the behavior depends on context which make the issue complex.

[2021-07-16 06:01] tangwz commented on #20734
[code]

The problem no longer exists in the latest version of TiDB?

[2021-07-16 06:37] AilinKid opened #26292 "column type change will write the invalid timestamp value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Only can reproduce it Real TiKV Cluster

[code]

Maybe the root cause is
[code]

### 2. What did you expect to see? (Required)
DML failed with incorrect value

### 3. What did you see instead (Required)
DML succeed and the latter select fail with incorrect value

### 4. Wha

[2021-07-16 06:46] youjiali1995 commented on #25244
Fixed by https://github.com/tikv/tikv/pull/10504

[2021-07-16 06:46] #25244 closed

[2021-07-16 07:08] zimulala commented on #26292
We can check why the normal insert will return an error, but the `WriteOnly` insert is normal.

[code]

[2021-07-16 07:34] djshow832 commented on #26122
Fixed by #26220

[2021-07-16 07:34] #26122 closed

[2021-07-16 07:34] djshow832 commented on #26123
Fixed by #26220

[2021-07-16 07:34] #26123 closed

[2021-07-16 07:35] djshow832 commented on #26124
Fixed by #26220

[2021-07-16 07:35] #26124 closed

[2021-07-16 07:35] djshow832 commented on #26126
Fixed by #26220

[2021-07-16 07:35] #26126 closed

[2021-07-16 07:57] djshow832 commented on #26127
We found that users can only see their own transactions, which is good.

[2021-07-16 07:57] #26127 closed

[2021-07-16 08:17] wshwsh12 opened #26296 "Improve memory management and limit global memory usage"
## Enhancement
Now we can roughly perform SQL basic memory statistics and memory limit functions through memory.Tracker. But when there are many SQLs executed at the same time, TiDB still has OOM risk. We may need to take some measures to avoid this situation.

For TiDB's memory management, there are still several category of things left to do.

### Category A: Track and limit the resident memory

[2021-07-16 08:52] zhouqiang-cl opened #26299 "Leak in client_go"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/5605/nodes/132/steps/512/log/?start=0

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Req

[2021-07-16 08:55] disksing commented on #26299
Need add `ttlManager` to ignore list now. See https://github.com/tikv/client-go/issues/174

[2021-07-16 09:10] jianzhiyao commented on #14466
Sorry, I make a mistake. Just ignore it.

[2021-07-16 09:53] XuHuaiyu opened #26303 "query from `information_schema.tikv_region_status` will fail if specific pd-server node down"
When a query tries to fetch data from the `information_schema.tikv_region_status`, tidb-server will try to get the address of a pd-server node, and request from this node using http api.

https://github.com/pingcap/tidb/blob/d193cb2c36c4dab6b91ce07a3c3b31f56ccd1845/executor/infoschema_reader.go#L1383-L1392
https://github.com/pingcap/tidb/blob/d193cb2c36c4dab6b91ce07a3c3b31f56ccd1845/store/helper/h

[2021-07-16 10:12] tisonkun opened #26306 "migrate test-infra to testify for `domain` pkg"

[2021-07-16 11:45] #26299 closed

[2021-07-16 13:48] haiying-gao opened #26313 "http api http://{TiDBIP}:10080/tables/{db}/{table}(partition)/regions not work as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

return  single partition region info.

### 3. What did you see instead (Required)

return  all partition region info.

### 4. What is your TiDB version? (Required)
[code]

[2021-07-16 15:44] tisonkun opened #26314 "remove deprecated InitZapLogger"
After https://github.com/pingcap/tidb-tools/issues/445 merged, we can remove deprecated `InitZapLogger`.

[2021-07-17 00:21] Ehco1996 opened #26316 "can we open github dependabot feature to keep use latest dependency"
## General Question

github lanched a very nice feature than can keep our go.mod is always up-to-date

mode details: https://github.blog/2020-06-01-keep-all-your-packaages-up-to-date-with-dependabot/

and i think is make our cdebase more robust, maybe we can turn this feature on?

[2021-07-17 04:18] OAkaLala commented on #26179
Hi @tisonkun, I'd like to participate. Could you please assign this task to me. Thx!

[2021-07-17 04:28] tisonkun commented on #26179
/assign @OAkaLala

Thanks for your taking this issue! Go ahead :)

[2021-07-17 06:37] dbsid commented on #26260
waiting for pr #26279 to be merged

[2021-07-17 06:37] #26260 closed

[2021-07-17 08:10] ateb14 commented on #26183
Hi @tisonkun, I'd like to migrate tests under util/localpool pkg. Please create a subtask and assign to me.

[2021-07-17 08:15] tisonkun commented on #26183
/assign @ateb14

Go ahead! Be aware that this is the subtask you want. Only ask for a subtask if there is no issue already.

[2021-07-17 09:39] #26314 closed

[2021-07-17 11:57] zhaoxugang commented on #25951
/assign

[2021-07-18 02:04] #26163 closed

[2021-07-18 03:14] Hatho86 commented on #25976
I found this issue on ovio.org and would love to contribute! [add other relevant info about you]

[2021-07-18 03:16] Hatho86 commented on #25976
Reference in new issue

[2021-07-18 03:16] Hatho86 commented on #25976
Reference in new issue

[2021-07-18 03:18] Hatho86 commented on #20804
type/enhancement

[2021-07-18 03:48] Hatho86 commented on #20804
#20804

[2021-07-18 03:49] Hatho86 commented on #20804
#26104

[2021-07-18 11:18] tisonkun commented on #26020
@xuyifangreeneyes @winoros do we briefly describe todo items or draft a proposal? What heuristic rules we'd like to implement? Is there a framework already or we will introduce a framework at first.

[2021-07-18 11:19] tisonkun opened #26319 "Adding new heuristic rules"

[2021-07-18 11:19] tisonkun opened #26320 "Refine the skyline pruning"

[2021-07-18 11:21] tisonkun commented on #26319
@xuyifangreeneyes I've created a subtask for "Adding new heuristic rules" dedicatedly.

See https://tisonkun.github.io/ziggurat/f379bf788b20/ for rationale. We'd better keep track of issue and never create a PR does not close a specific issue.

[2021-07-18 11:21] tisonkun commented on #26320
@xuyifangreeneyes I've created a subtask for "Refine the skyline pruning" dedicatedly.

See https://tisonkun.github.io/ziggurat/f379bf788b20/ for rationale. We'd better keep track of issue and never create a PR does not close a specific issue.

[2021-07-18 11:22] tisonkun commented on #26320
If you don't have the permission create subtasks directly from the tracking issue, you can ask @winoros for it.

[2021-07-18 13:04] zhouqiang-cl opened #26321 "Unstable test `testTopSQLReporter.TestCollectInternal`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/18263/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-18 13:11] zhouqiang-cl commented on #15862
happend again in https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/5783/pipeline

[2021-07-18 13:12] zhouqiang-cl commented on #18945
happend again in https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/5777/pipeline

[2021-07-18 14:21] ofey404 commented on #26154
Hi @tisonkun, I'd like to migrate tests under `util/logutil` pkg. Please create a subtask and assign to me ;)

Cloned [pingcap/log#16](https://github.com/pingcap/log/pull/16), I think I understand how log test works now XD

[2021-07-18 15:42] tisonkun commented on #26154
/assign @ofey404

Thanks for taking this issue. Go ahead!

[2021-07-18 16:47] tisonkun commented on #26154
@ofey404 before writing code, you are suggested to take a look at PR merged already and keep consistent code style.

[2021-07-19 00:32] xuyifangreeneyes commented on #26020
Here is a [design doc](https://docs.google.com/document/d/1pzm6LV7jbPK2oPCMFe-iEUXu7Jf7R5cvaSq9Lgo-a1U/edit?usp=sharing).

[2021-07-19 02:18] aytrack commented on #26313
The [documentation](https://github.com/pingcap/tidb/blob/master/docs/tidb_http_api.md) does not indicate that the API for getting regions can be used in this way, and we need to disable this usage or fix the API to get the correct information.

[2021-07-19 03:15] tiancaiamao commented on #26022
It's a problem of gocheck, it spawn new goroutines to run the test cases, so a panic does not make the process exit immediately. @tisonkun

[2021-07-19 03:19] #26050 closed

[2021-07-19 03:20] rebelice opened #26325 "Plan recreator development task"
## Plan Recreator

Provide all the information required to reproduce the implementation plan for import/export. Provide a simple, one-stop collection and retention of the event of the scene, simplifying the inspection information extraction steps of the optimizer-related issues.

### Description

PLAN RECREATOR provides two features:
- One-click Export/Import Information Reproducing Single SQL
- O

[2021-07-19 03:47] #26168 closed

[2021-07-19 04:11] #26067 closed

[2021-07-19 04:32] lysu opened #26327 "invalid plan for index on generated column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

use `tidb_hidden_pk_shard`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-07-19 04:43] lysu commented on #26327
[code]

[2021-07-19 05:55] #26303 closed

[2021-07-19 06:03] #26155 closed

[2021-07-19 06:06] jyz0309 commented on #26249
I have checked the code, and seem it is the normal behavior?
https://github.com/pingcap/tidb/blob/a6326ccf9cefb9b0fef81c3bae1151692dd4b4cb/util/testutil/testutil.go#L294

[2021-07-19 06:20] lysu opened #26329 "avoid duplicate generate sql digest & normalized sql for prepared stmt"
## Feature Request

**Is your feature request related to a problem? Please describe:**

generate digest or normalize has some performance cost

![image](https://user-images.githubusercontent.com/528332/126111916-bbd6cb90-3374-4ef7-a2ea-01c45d88f5c4.png)

when SQL executed as prepared statement, normalize sql and sql digest should be prepare once and reuse forever

**Describe the feature you'd like

[2021-07-19 06:38] Reminiscent opened #26330 "Ban baseline evolution feature"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Related to [issue#25970](https://github.com/pingcap/tidb/issues/25970)

**Describe the feature you'd like:**

We will ban the baseline evolution feature until the feature is GA.
1. When we set the system variable `tidb_evolve_plan_baselines` it will report an error.
2. When we execute `admin evolve bindings`, i

[2021-07-19 06:38] Reminiscent commented on #26330
/assign

[2021-07-19 06:40] longfangsong opened #26332 "Check Copyright header in lints"
## Enhancement

Normally we require Copyright header for each file, but it is really easy to forget to add it.

However since there's a clear pattern in Copyright header, it should be possible to check it (and possibly fix it) in lints.

[2021-07-19 06:42] TszKitLo40 commented on #26329
Can I try this issue? But I may need more advice from you to fix it. @lysu

[2021-07-19 06:46] rebelice opened #26334 "Modify parser to add PLAN RECREATOR statement"

[2021-07-19 06:47] rebelice opened #26335 "Add plan replayer GC"

[2021-07-19 06:48] rebelice opened #26336 "Add a HTTP handler to download files for Plan Recreator"
## Enhancement

[2021-07-19 06:49] rebelice opened #26337 "Test Plan Recreator"

[2021-07-19 06:51] Reminiscent commented on #26199
Related to [issue#25970](https://github.com/pingcap/tidb/issues/25970).

[2021-07-19 06:53] jackysp opened #26338 "Copr-cache metrics on TiDB have no data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. make some queries to hit the cache.
<img width="1756" alt="截屏2021-07-19 上午11 58 35" src="https://user-images.githubusercontent.com/4352397/126115593-810ff666-d05e-43b3-90dd-0e758dc30f1a.png">

2. checkout the metrics on Grafana.
<img width="1826" alt="截屏2021-07-19 上午11 5

[2021-07-19 07:02] time-and-fate commented on #26085
Thank you for that.
But some details of these items are still under discussion and we also have to complete them quickly. So I think we probably need to complete them internally.

[2021-07-19 07:15] AilinKid commented on #26292
quick similar like #25560
[code]

1: **when in pure insert statement, cast "3977-02-22" to timestamp will errors (incorrest timestamp value)**

2: **when in  mid-state insert statement, cast "3977-02-22" to date datum first, then the changing col cast date datum to timestamp, which is ok here.**

[2021-07-19 07:29] #4989 closed

[2021-07-19 08:25] #26338 closed

[2021-07-19 08:33] #25982 closed

[2021-07-19 08:46] LittleFall commented on #26249
I have seen it too, but I think it is unreasonable, tidb introduced a bug (we can't type `//` in json) for an unnecessary feature (support comments in json).

 Or maybe we can find a way to support them both, such as a better parser.

[2021-07-19 08:48] LittleFall commented on #21059
closed by https://github.com/pingcap/tidb/pull/25083

[2021-07-19 08:48] #21059 closed

[2021-07-19 08:58] XuHuaiyu opened #26348 "different result between mysql and tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

014005ab68b5c9a28795d13c1ca685cf46a3be7e

[2021-07-19 09:25] djshow832 opened #26349 "update a table with expression index reports error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

set `allow-expression-index` to true;
[code]

### 2. What did you expect to see? (Required)

Success.

### 3. What did you see instead (Required)

ERROR 1105 (HY000): runtime error: index out of range [-1]

### 4. What is your TiDB version? (Required)

master

[2021-07-19 09:36] XuHuaiyu commented on #26348
tidb
[code]

[2021-07-19 10:02] jyz0309 commented on #25963
Have fixed it in #26350 ,PTAL

[2021-07-19 10:07] dveeden commented on #15389
Looks like https://github.com/pingcap/tidb/issues/12317 is more or less the same issue?

[2021-07-19 10:09] #26125 closed

[2021-07-19 10:59] #26128 closed

[2021-07-19 11:16] lcwangchao commented on #25887
Test added by #25851

[2021-07-19 11:16] #25887 closed

[2021-07-19 12:15] yuqi1129 opened #26358 "Incorrect return type about if function when argument type contains bit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run master and do the following
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
Master

[2021-07-19 12:16] yuqi1129 commented on #26358
Seems that the return type in MySQL is var_string and TiDB is LongLong

[2021-07-19 14:26] zyguan opened #26359 "Jepsen monotonic workload failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run jepsen monotonic workload

### 2. What did you expect to see? (Required)

The test exit without error

### 3. What did you see instead (Required)

An anomaly detected
[code]

It seems the following transaction has been committed twice.
[code]

The log can be found [here

[2021-07-19 16:06] b41sh opened #26361 "Wrong warning for Out-of-Range and Overflow Handling"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-07-20 03:59] #26283 closed

[2021-07-20 05:31] #26275 closed

[2021-07-20 06:29] djshow832 commented on #26069
Fixed by https://github.com/pingcap/tidb/pull/26070

[2021-07-20 06:34] tisonkun commented on #26085
@time-and-fate is there a design document or pre-RFC? We may avoid discuss privately if unnecessary.

[2021-07-20 06:54] kissmydb opened #26371 "generate index with ERROR 1072 (42000)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

mysql> show create table sbtest5\G
*************************** 1. row ***************************
       Table: sbtest5
Create Table: CREATE TABLE `sbtest5` (
  `id` int(10) unsigned NOT NULL,
  `k` int(10) unsigned NOT NULL DEFAULT '0',
  `c` char(120) NOT NULL DEFAULT '',

[2021-07-20 06:55] #26349 closed

[2021-07-20 07:16] qw4990 commented on #26085
Here are two simple discussion documents about these in this issue: https://docs.google.com/document/d/1IyxlOJAQY-lFpcId0nRJy4aVgm4Be1K5CUESsqSZNWk/edit?usp=sharing, https://docs.google.com/document/d/16sn1aoTfzQXBWR3QAztTpu-JnIzg8r23lMkRT8ua4Ck/edit?usp=sharing.
Since these items are found from our customers' feedbacks, they are relatively urgent and confidential, so we decided to complete them i

[2021-07-20 07:49] ichn-hu commented on #26358
@yuqi1129 are you interested in fixing it?

[2021-07-20 07:50] yuqi1129 commented on #26358
@ichn-hu , Yes, I am working on this

[2021-07-20 07:52] ichn-hu commented on #26358
/assign @yuqi1129 let me know if you have any problems

[2021-07-20 08:22] tisonkun opened #26374 "migrate test-infra to testify for `types/json` pkg"

[2021-07-20 08:27] #26321 closed

[2021-07-20 08:35] #26179 closed

[2021-07-20 08:47] hanfei1991 opened #26376 "rule_stabilize_results_test fails randomly on release-5.0 branch"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

clone tidb code, checkout release-5.0, make test

### 2. What did you expect to see? (Required)
test passed successfully

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
release-5.0 3f9adb7eebd45264e6cd003d74128326be4951e6

[2021-07-20 08:48] tiancaiamao opened #26377 "create global binding on global temporary table not prohibited"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Create binding on global temporary table should report error #25058

### 3. What did you see instead (Required)

Binding created, no error.

### 4. What is your TiDB version? (Required)

master

[code]

[2021-07-20 09:04] crazycs520 opened #26379 "optimize query statements summary table by avoid decode plan by conditional pushdown"
## Background

PR https://github.com/pingcap/tidb/pull/25843 enlarge the `tidb_stmt_summary_max_stmt_count` default value to 3000. It's great for diagnose problem since the `statements_summary ` can record more SQL. But it will also slow down the performance when query `statements_summary`. Mostly the reasons affecting performance is cause by `DecodePlan` for each row in `statements_summary`.

htt

[2021-07-20 09:31] #26250 closed

[2021-07-20 09:38] djshow832 commented on #26044
This is under development. Some are finished. Refer to https://github.com/pingcap/tidb/issues/26120

[2021-07-20 10:39] #25920 closed

[2021-07-20 10:58] hnes opened #26383 "Confusing error information returned when user has no right to update a table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Tells user has no right to update the db.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-20 11:04] hnes opened #26384 "Precision controll on Pi() seems not work as mariadb does"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-20 11:28] irisyou55 opened #26387 "Can I know the trace information of SQL that I have run in the past?"
## Performance Questions
It seems that the trace command can only let me know the current running status of a certain SQL, can I get the trace of the SQL that I have run in the past?

[2021-07-20 11:36] hnes opened #26388 "Explain shows that hints seems not work as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Use `merge_join` as the hints hinted.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-20 11:41] #24796 closed

[2021-07-20 12:09] yuqi1129 opened #26389 "If function should not use constant fold rule with different arguments type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run master and do the following

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

Master branch

[2021-07-20 12:25] #26348 closed

[2021-07-20 12:59] #25569 closed

[2021-07-20 13:00] xhebox commented on #25569
Closed, since #25284 has been closed.

[2021-07-20 13:43] tisonkun opened #26393 "Solve cloud TiKV disk full problem - TiDB part"

[2021-07-20 13:46] tisonkun commented on #26393
/assign @tier-cap

[2021-07-20 14:19] lcwangchao commented on #25921
completed by #26063

[2021-07-20 14:19] #25921 closed

[2021-07-20 15:19] #26292 closed

[2021-07-20 15:19] Fedomn commented on #26174
Hi @tisonkun, I'd like to migrate tests under `util/dbterror` pkg. Please create a subtask and assign to me.

[2021-07-20 15:31] tisonkun commented on #26174
/assign @Fedomn

Go ahead! BTW this is the dedicated subtask for `util/dbterror`. In the tracking issue I mentioned

... this is the case.

[2021-07-20 15:38] tisonkun commented on #26321
@crazycs520 may you elaborate a bit the cause of this unstable tests? PR description is blank also.

[2021-07-20 15:40] PragmaTwice opened #26396 "Query result is not compatible with MySQL while using `or` clause"
## Bug Report
(Maybe a MySQL issue)

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
[code]
The result become same while remove `col_11 OR`.
### 4. What is your TiDB version? (Required)
[code]

[2021-07-20 15:45] PragmaTwice opened #26397 "A minor issue about error message for ERROR 1267 (HY000)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
[code]
Maybe `=` is more readable than `eq`.
### 4. What is your TiDB version? (Required)
[code]

[2021-07-20 15:56] Fedomn commented on #26174
okay, thanks for your reminder

[2021-07-20 15:59] PragmaTwice opened #26399 "A minor compatible issue with MySQL 8 while invalid timestamp/date is given"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-07-20 16:09] PragmaTwice opened #26400 "Query result is not compatible with MySQL while using `varbinary` and `bit_and`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
in MySQL:
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-07-21 01:39] Fedomn commented on #26174
/assign @Fedomn

[2021-07-21 02:45] Reminiscent opened #26401 "show binding info when execute explain stmt"
Related to [issue#25970](https://github.com/pingcap/tidb/issues/25970)
Currently, we use the `explain (analyze)` stmt to see the plan of the SQL. But it can not see the info for the binding. We decide to support show binding info when we execute `explain` stmt.

[2021-07-21 02:45] Reminiscent commented on #26401
/assign

[2021-07-21 02:45] riteme opened #26402 "Field length of binary arithmetic between integer and decimal is different from MySQL."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Connect to MySQL/TiDB with `--column-type-info` in command line.

[code]

### 2. What did you expect to see? (Required)

In MySQL 5.7/8.0:

[code]

### 3. What did you see instead (Required)

In TiDB:

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-21 03:13] TszKitLo40 commented on #26379
Can I try this issue? @crazycs520

[2021-07-21 03:40] Tammyxia opened #26404 "TiDB ERROR: unexpected resolve err: retryable:\"Txn(Mvcc(TxnLockNotFound..."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

- Prepare workload in TiDB cluster:  bin/go-ycsb load mysql -P ./workloads/oncall2929 -p mysql.host=172.16.6.24 -p mysql.port=4000 -p operationcount=5000000 -p autocommit=1 --threads=200
- Run workload to emulate one of our customer:   bin/go-ycsb run mysql -P ./workloads/o

[2021-07-21 03:53] ichn-hu commented on #26383
@hnes why is the message confusing?

[2021-07-21 03:55] ichn-hu commented on #26388
did you included `--comments` in the mysql command line?

[2021-07-21 04:12] aytrack commented on #26383
It seems to check the select privileges while update the table without where condition,but actually doesn't need the select privilege.
MySQL 8.0:
[code]

[2021-07-21 04:19] #25948 closed

[2021-07-21 04:53] bb7133 commented on #26120
@djshow832 Can we close this issue now?

[2021-07-21 04:59] #26154 closed

[2021-07-21 05:07] #26374 closed

[2021-07-21 05:08] Tammyxia opened #26405 "alter-primary-key is deprecated in doc but actually it's still visible and modifiable in v5.1.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

- This doc said alter-primary-key was deprecated: https://docs.pingcap.com/tidb/stable/tidb-configuration-file,
 but it still visible and modifiable in v5.1.0, which  is confused to users.

- Please make sure alter-primary-key is unavailable for users if it has been depreca

[2021-07-21 05:21] morgo commented on #25425
@SunRunAway can you describe the expected behavior?

[2021-07-21 06:11] SunRunAway commented on #25425
Chatted with @breeswish, he will provide a document for describing privileges required by each component in TiDB-dashboard.

[2021-07-21 06:14] zimulala commented on #25997
@AilinKid found that this was a problem with `Prepare` and `Execute` using different schemas.
The problem is not just that "column type change" is buggy, it has been around for some time

[2021-07-21 06:22] tier-cap opened #26406 "Solve cloud TiKV disk full problem - kvpb part"
Add PB flag used by TiDB to tell TiKV which opeartion can be allowed when TiKV Disk Full happens.
TiKV will use this flag in its' two-level threshold algo.

[2021-07-21 06:52] tisonkun commented on #26332
+1 to check license header.

[2021-07-21 06:52] PragmaTwice opened #26407 "Query result is not compatible with MySQL while using `in` clause for timestamp"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-07-21 06:53] #26371 closed

[2021-07-21 06:55] TszKitLo40 commented on #26379
/assign

[2021-07-21 06:55] PragmaTwice commented on #26399
duplicate as https://github.com/pingcap/tidb/issues/25193

[2021-07-21 06:55] #26399 closed

[2021-07-21 06:56] aytrack commented on #26389
Hi, why did you think the results should be binary.
The results of Mysql 8.0 is
[code]

[2021-07-21 07:01] #26285 closed

[2021-07-21 07:03] yuqi1129 commented on #26389
@aytrack
Server version: 5.7.25-TiDB-v5.1.0 TiDB Server (Apache License 2.0) Community Edition, MySQL 5.7 compatible
I think 5.7 is the right version

[2021-07-21 07:12] wjhuang2016 commented on #25968
[code]

I found the root cause, but it's not easy to fix it.

[2021-07-21 07:12] disksing commented on #13433
Hi, it is designed behaviour. You need to remove tikv data before rejoining into the cluster.

[2021-07-21 07:19] tisonkun opened #26409 "unstable test `TestGlobalKillSuite.TestLostConnection`"

[2021-07-21 07:19] tisonkun opened #26410 "unstable test `testSerialSuite1.TestMergeJoinInDisk`"

[2021-07-21 07:19] tisonkun commented on #25157
closed as part resolved, and other parts logged as https://github.com/pingcap/tidb/issues/26409 and https://github.com/pingcap/tidb/issues/26410

[2021-07-21 07:19] #25157 closed

[2021-07-21 07:20] tisonkun commented on #26410
Skipped at https://github.com/pingcap/tidb/pull/25170/, waiting for bringing back.

[2021-07-21 07:20] aytrack commented on #26396
@PragmaTwice Could you please report a bug to MySQL and give some feedback if there is any update.

[2021-07-21 07:21] tisonkun commented on #26409
Skipped at https://github.com/pingcap/tidb/pull/25155, waiting for bringing back.

[2021-07-21 07:33] tisonkun opened #26411 "migrate test-infra to testify for `util/ranger` pkg"

[2021-07-21 07:34] tisonkun opened #26412 "migrate test-infra to testify for `util/resourcegrouptag` pkg"

[2021-07-21 07:34] tisonkun opened #26413 "migrate test-infra to testify for `util/rowcodec` pkg"

[2021-07-21 07:34] tisonkun opened #26414 "migrate test-infra to testify for `util/decoder` pkg"

[2021-07-21 07:34] tisonkun opened #26415 "migrate test-infra to testify for `util/selection` pkg"

[2021-07-21 07:34] tisonkun opened #26416 "migrate test-infra to testify for `util/sem` pkg"

[2021-07-21 07:34] tisonkun opened #26417 "migrate test-infra to testify for `util/set` pkg"

[2021-07-21 07:34] tisonkun opened #26418 "migrate test-infra to testify for `util/slice` pkg"

[2021-07-21 07:34] tisonkun opened #26419 "migrate test-infra to testify for `util/sqlexec` pkg"

[2021-07-21 07:35] tisonkun opened #26420 "migrate test-infra to testify for `util/stmtsummary` pkg"

[2021-07-21 07:35] tisonkun opened #26421 "migrate test-infra to testify for `util/stringutil` pkg"

[2021-07-21 07:36] tisonkun opened #26422 "migrate test-infra to testify for `util/sys/linux` pkg"

[2021-07-21 07:36] tisonkun opened #26423 "migrate test-infra to testify for `util/sys/storage` pkg"

[2021-07-21 07:36] tisonkun opened #26424 "migrate test-infra to testify for `util/systimemon` pkg"

[2021-07-21 07:36] tisonkun opened #26425 "migrate test-infra to testify for `util/texttree` pkg"

[2021-07-21 07:36] tisonkun opened #26426 "migrate test-infra to testify for `util/timeutil` pkg"

[2021-07-21 07:36] tisonkun opened #26427 "migrate test-infra to testify for `util/topsql/reporter` pkg"

[2021-07-21 07:36] tisonkun opened #26428 "migrate test-infra to testify for `util/topsql` pkg"

[2021-07-21 07:36] tisonkun opened #26429 "migrate test-infra to testify for `util/tracing` pkg"

[2021-07-21 07:36] tisonkun opened #26430 "migrate test-infra to testify for `util/vitess` pkg"

[2021-07-21 07:41] xiaoyangwang5 opened #26431 "When the condition is that the primary key is equal to null, a full table scan is taken"
## Bug Report
 When the condition is that the primary key is equal to null, a full table scan is taken
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
select *  from testid where id=null;

create table testid （id bigint,primary key(id));
explain analyze select * from testid where id=null;
### 2. What did you expect to see? (Required)
Re

[2021-07-21 08:15] kevgeo commented on #26178
Hi @tisonkun,  I'd like to migrate tests under util/filesort pkg.

[2021-07-21 08:19] kevgeo commented on #26178
/assign @kevgeo

[2021-07-21 08:29] lcwangchao opened #26433 "Error when drop two global temporay table and the first one's db is specified"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

no error

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-07-21 08:31] PragmaTwice opened #26434 "Query result is not compatible with MySQL while using `in` clause for enum type"
## Bug Report

(Maybe a MySQL issue)

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-07-21 08:32] tisonkun commented on #26178
@kevgeo Thanks for your interest! Go ahead. It seems you just assign yourself, that's great. Welcome to ask anything if you found stuck.

[2021-07-21 08:36] tisonkun opened #26436 "migrate test-infra to testify for `infoschema/perfschema` pkg"

[2021-07-21 08:43] tisonkun commented on #3708
closed as TiDB Ansible already archived https://github.com/pingcap/tidb-ansible.

[2021-07-21 08:43] #3708 closed

[2021-07-21 08:49] mengxin9014 opened #26438 "Push down ADDDATE(), DATE_ADD() on String, Real types"
## Enhancement

[2021-07-21 08:52] mengxin9014 commented on #26438
#https://github.com/pingcap/tics/issues/2450

[2021-07-21 08:52] #26431 closed

[2021-07-21 08:57] tisonkun commented on #26406
wrong repo. superseded by https://github.com/pingcap/kvproto/issues/784

[2021-07-21 08:57] #26406 closed

[2021-07-21 08:59] ChenPeng2013 opened #26439 "wrong result when using prefix index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-07-21 09:01] ChenPeng2013 commented on #26439
release-5.0 can work correctly

[2021-07-21 09:16] dveeden commented on #26434
`SELECT c IN(SELECT d WHERE b) FROM a` also shows the difference.

[2021-07-21 09:23] dveeden commented on #26316
There is a typo in the URL. The correct one is https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/

[2021-07-21 09:23] #26251 closed

[2021-07-21 09:27] wjhuang2016 commented on #23898
This the because the new cluster doesn't enable the new collation. After enabling the new collation, it gets the correct result.

[2021-07-21 09:28] wjhuang2016 commented on #23898
Not a bug.

[2021-07-21 09:28] #23898 closed

[2021-07-21 09:34] PragmaTwice opened #26442 "Query result is not compatible with MySQL while using `between` clause for timestamp"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in MySQL:
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-07-21 09:34] PragmaTwice commented on #26442
Maybe related to #26407

[2021-07-21 09:37] PragmaTwice commented on #26442
Another example:
[code]

[2021-07-21 10:01] #25947 closed

[2021-07-21 10:38] rleungx commented on #22498
It has been fixed in v4.0.11 and you can find more details in https://github.com/tikv/pd/pull/3380

[2021-07-21 11:07] PragmaTwice commented on #26022
Hi @tisonkun, I'd like to migrate some tests under `utils` pkg, is there any task still free to assign?

[2021-07-21 11:18] tisonkun commented on #26022
@PragmaTwice most of `util/xxx` are free to assign, you may just jump to subtasks listed above.

[2021-07-21 11:22] yuqi1129 commented on #26389
@aytrack
Hi, if you think this is not a bug, just close the issue.

[2021-07-21 11:33] tisonkun commented on #18030
@nolouch @djshow832 do you plan to include this feature in v5.2?

[2021-07-21 11:41] PragmaTwice commented on #26416
Hi @tisonkun, I'd like to migrate this pkg. Please assign it to me.
Just a first try, maybe more pkg could be assign to me after this.

[2021-07-21 11:44] tisonkun commented on #26416
/assign @PragmaTwice

Go ahead!

[2021-07-21 11:45] tisonkun commented on #26416
Yes. `util` contains utilities whose functionality is simple and thus its tests are simple. We will face major challenges when it's up to `executor`, `ddl`, `planner`, and so on.

[2021-07-21 11:53] tiancaiamao commented on #25884
[code]

[2021-07-21 12:37] qw4990 commented on #26088
Please see https://github.com/pingcap/tidb/pull/26445 for more examples and details.

[2021-07-21 12:55] francis0407 commented on #26212
/assign

[2021-07-21 13:00] #26102 closed

[2021-07-21 14:51] aytrack opened #26447 "float type incompatible behavior from mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

5.0.3
4.0.14

[2021-07-21 15:43] mosqd commented on #26429
hi, @tisonkun . I'd like to migrate tests under **util/tracing pkg**. Please create a subtask and assign to me.

[2021-07-21 15:48] tisonkun commented on #26429
/assign @mosqd

Go ahead! Be aware that this is the subtask you'd like.

[2021-07-21 17:28] #26416 closed

[2021-07-21 17:47] longfangsong commented on #26185
/assign

[2021-07-21 18:52] morgo commented on #26111
Here is a reduced test-case:
[code]

You can see from the `SHOW CREATE TABLE` that the fk metadata is clearly captured. The problem is the `information_schema` table not showing the constraints.

[2021-07-21 22:31] yudongusa commented on #26377
@tiancaiamao So this issue is to be resolved by PR 25058? Please assign it to winoros to code review as eurekaka is currently out of office.

[2021-07-21 23:29] morgo commented on #25972
I took a look at this. As shown in the last select statement, the metadata as stored is correct. If you add another `GRANT` statement to follow (such as `grant select on hchwang.* to u3;`), the `show` statement is also correct:

[code]

I'll fix it shortly.

[2021-07-22 00:21] morgo opened #26451 "`show grants` does not handle Grant option directly"
## Bug Report

This was discovered while manually inspecting the code. The privilege checking behaves correctly, it is only the output of `SHOW GRANTS` which uses a boolean for `hasGlobalGrantOptionPriv`. Once it is set to true, it remains so for the rest of the output.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see

[2021-07-22 00:22] morgo commented on #25972
I thought this was an easy fix, but it's not :-) See https://github.com/pingcap/tidb/issues/26451 - where it looks like there is a bit more to it to correctly handle the `WITH GRANT OPTION`.

[2021-07-22 00:35] morgo commented on #26451
The order of the grants for db are also not stable (but are in MySQL). This could cause issues for things like test suite results:
[code]

[2021-07-22 01:58] bb7133 commented on #25270
I think we can check if it is reproduced again.

[2021-07-22 02:04] xuyifangreeneyes commented on #26439
/assign

[2021-07-22 02:38] linhantao commented on #25813
@jingshanglu  repeat the steps as follows:
1、create one table :

2、insert one data:

3、error sql:

![image](https://user-images.githubusercontent.com/56330004/126582900-523690bb-11ed-4700-97f9-75fdbf633107.png)

4、 success sql:

![image](https://user-images.githubusercontent.com/56330004/126582942-c432c339-41b2-43a8-b376-c4fe52bb2d84.png)

![image](https://user-images.githubusercontent.com/5633000

[2021-07-22 03:24] lysu commented on #25188
original test case is steady, but it's failed at new added `show stats_topn`, ptal @winoros

[2021-07-22 03:35] zimulala commented on #25585
PTAL @eurekaka

[2021-07-22 03:38] #26429 closed

[2021-07-22 03:38] zimulala commented on #25586
PTAL @tiancaiamao

[2021-07-22 03:40] zimulala commented on #25589
PTAL @bb7133

[2021-07-22 03:41] zimulala commented on #25640
PTAL @eurekaka

[2021-07-22 03:43] zimulala commented on #25642
PTAL @qw4990

[2021-07-22 03:45] zimulala commented on #25690
PTAL @dbjoa

[2021-07-22 03:47] zimulala commented on #25692
PTAL @winoros

[2021-07-22 03:58] zimulala commented on #25395
@mjonss
So would you like someone to help to investigate this? Or is it a problem you're interested in dealing with?

[2021-07-22 04:07] zimulala commented on #25780
PTAL @zz-jason
I guess this is the util_test.go under the server package.

[2021-07-22 04:39] #24949 closed

[2021-07-22 05:03] zimulala commented on #25634
@tiancaiamao
Your link is wrong. This issue is 25634. The duplicated issue https://github.com/pingcap/tidb/issues/25586.

[2021-07-22 05:03] zimulala commented on #25586
Duplicated with https://github.com/pingcap/tidb/issues/25634.

[2021-07-22 05:03] #25586 closed

[2021-07-22 05:10] zimulala commented on #25456
It feels similar to the reason for this issue https://github.com/pingcap/tidb/issues/25634.

[2021-07-22 05:30] xuyifangreeneyes commented on #26439
#23699 has already fixed the bug.

[2021-07-22 05:34] #26174 closed

[2021-07-22 05:41] #26120 closed

[2021-07-22 05:51] bb7133 commented on #24627
I agree with @tangenta that the allocation of auto_increment in TiDB is different with MySQL, this is by-design.

This issue is duplicated with #982.

[2021-07-22 05:51] #24627 closed

[2021-07-22 05:52] bb7133 commented on #24630
PTAL @hanfei1991

[2021-07-22 05:52] lcwangchao opened #26456 "Drop local temporary table is not atomic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Prepare
[code]

The drop clause will fail here because table tnexist not exist. And then execute sql:

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-07-22 05:56] lcwangchao commented on #25885
closed by #26063

[2021-07-22 05:56] #25885 closed

[2021-07-22 05:59] bb7133 commented on #25137
I don't see any more information on this(the log is not available now). Close it for now and feel free to re-open it if it is reproduced.

[2021-07-22 05:59] #25137 closed

[2021-07-22 06:00] lysu opened #26457 "write useless delete mutation when replace on clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

then replace

[code]

and intercept final 2pc mutation

### 2. What did you expect to see? (Required)

one mutation

[code]

### 3. What did you see instead (Required)

two mutations

[code]

this does hurt correctness but addition DEL will make tikv write more tomb

[2021-07-22 06:01] bb7133 commented on #25573
I do not think this is a bug and changed it to 'enhancment' instead.

[2021-07-22 06:05] qw4990 commented on #26079
It's a mistake. There is another slow log file in the current dir when testing it.

[2021-07-22 06:05] #26079 closed

[2021-07-22 06:05] zhouqiang-cl opened #26458 "Mysql test hangs more then 10 minutes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
first happens in https://github.com/pingcap/tidb/pull/26448

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/5774/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you se

[2021-07-22 06:18] nolouch commented on #25897
@zhouqiang-cl  can I see the statistics?

[2021-07-22 06:28] ChenPeng2013 opened #26461 "query result error when using apply operator"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

release-5.0, release-5.1 and master branch can work correctly

[2021-07-22 06:33] qw4990 commented on #25643
Since the stack of the writer is missed, we cannot identify which unit test that causes this issue.
I close this issue now, and if it appears again, please reopen it and contact me.

[2021-07-22 06:33] #25643 closed

[2021-07-22 06:35] djshow832 commented on #26120
Fine, I'll reopen it after I list the issues in stage 2. @bb7133

[2021-07-22 06:35] cfzjywxk commented on #26404
The error log in this test scenario is triggered by the following conditions.

- txn1 is a pessimistic transaction.
- txn1 executes a pessimistic query which conflicts with some other queries.
- pessimistic retry happend and **the to be locked** keys changed, which means there could be different keys to be pessimistically locked.
- the async pessimistic rollback is triggered, but it's **async**, s

[2021-07-22 06:48] cfzjywxk commented on #26457
@lysu
How did this found?

[2021-07-22 06:50] lysu commented on #26457
during investigate how to add the assertion for check mutation :)

[2021-07-22 07:12] #26457 closed

[2021-07-22 07:20] #21655 closed

[2021-07-22 07:22] #22947 closed

[2021-07-22 07:40] #24572 closed

[2021-07-22 07:42] wjhuang2016 commented on #23745
It's the expected behavior. Because it's the newly added variable. To keep the compatibility, the value is false for the old cluster.

[2021-07-22 07:42] #23745 closed

[2021-07-22 07:45] #24586 closed

[2021-07-22 08:06] #3644 closed

[2021-07-22 08:25] hanfei1991 commented on #24630
The information and logs are too few to tell where is wrong

[2021-07-22 08:36] aytrack commented on #26433
Hi, I can't reproduce it on master (11bc9c139dbd4a73f20859142f97ac7cbca5ae58)
[code]

[2021-07-22 08:39] #24741 closed

[2021-07-22 08:40] qw4990 commented on #26227
This can be solved by https://github.com/pingcap/tidb/pull/25599. I closed cherry-pick PRs of https://github.com/pingcap/tidb/pull/25599 by mistake. I'll pick it soon.

[2021-07-22 08:53] qw4990 commented on #26227
It can be solved by https://github.com/pingcap/tidb/pull/25599. I forgot to pick it into v5.1. I'll pick it soon.

[2021-07-22 09:01] aytrack commented on #25368
Did you mean it took effect while you just edited the config and restarted the cluster?  This should not take effect without deploying a new cluster.

[2021-07-22 09:17] lcwangchao commented on #26433
Sorry that I reversed the 'expected to see' and 'did see'. The right behavior is 'no error', and the current behavior is 'Table 'test2.tmp_1' doesn't exist'. I'll modify the issue description.

[2021-07-22 09:41] ChenPeng2013 opened #26472 "Subqueries with ANY"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
Mysql 8.0.21

[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-07-22 09:51] crazycs520 commented on #23951
This cause by TiKV `config`  HTTP API doesn't return the config `raftstore.hibernate-regions`. just like the issue: https://github.com/tikv/tikv/issues/8883.

[code]

[code]

[2021-07-22 10:04] #26213 closed

[2021-07-22 10:27] aytrack commented on #24997
execute following sql on echo release，
[code]
tidb ：
[code]

mysql 8.0.23:
[code]

I can reproduce this on 4.0.14， 5.0.3 ， 5.1.0 and master (11bc9c139dbd4a73f208591)

[2021-07-22 10:58] hnes commented on #26388
Thanks a lot for your kind reminder. I did only use `--comments` at those two SQLs after `ADD INDEX`. So I updated this issue.

[2021-07-22 11:03] hnes commented on #26383
Thanks a lot @aytrack for your detailed description.

[2021-07-22 11:21] Tammyxia opened #34202 "tiup tidb-lightning parameter real usage is different with --help usage"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

- "# tiup tidb-lightning --help" Usage:  -check-requirements, but -check-requirements=false don't work, --check-requirements=false works.

2. What did you expect to see?

- The real command parameter usage is the same with  --help description.

3. What

[2021-07-22 12:06] #26359 closed

[2021-07-22 12:11] top628LJ commented on #26426
Hi @tisonkun, I'd like to migrate tests under util/timeutil pkg. Please create a subtask and assign to me.

[2021-07-22 13:00] yuqi1129 opened #26485 "Should not omit cast function when convert date/timestamp type to datetime in if/ifnull/case when function"
## Bug Report!
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run master
[code]

### 2. What did you expect to see? (Required)

![image](https://user-images.githubusercontent.com/15794564/126642424-cd361a7a-f29f-4876-9ccd-4bc771579e4f.png)
![image](https://user-images.githubusercontent.com/15794564/126642479-237afa10-da1b-4642-8b3d-ad

[2021-07-22 13:05] yuqi1129 commented on #26485
The problem lies here.
![image](https://user-images.githubusercontent.com/15794564/126643401-d897382c-1a3c-4f59-b7fa-dc7545d0355d.png)

When cast date/timestamp to datetime, we deliberately omit the cast function.  when execute the sql
[code]
the optimizer will use foldConstant rule and convert it to  `select date '2020-12-12'` and thus return type is `date`

[2021-07-22 13:17] Triple-Z commented on #26177
Hi @tisonkun, I'd like to migrate tests under this package. Please create a subtask and assign to me.

[2021-07-22 14:21] PragmaTwice commented on #26417
Hi @tisonkun, I'd like to migrate tests under this pkg, please assign it to me.

[2021-07-22 18:07] tisonkun commented on #26417
/assign @PragmaTwice

Never mind :P

[2021-07-22 18:08] tisonkun commented on #26177
/assign @Triple-Z

You can comment `/assign` to assign yourself 📦

Go ahead!

[2021-07-22 18:09] tisonkun commented on #26426
/assign @top628LJ

Go ahead! You can comment `/assign` to assign yourself anyway.

[2021-07-22 20:32] mjonss commented on #25395
@zimulala Yes please, since this points to an issue with `ANALYZE TABLE`, not the test it self:
[code]

[2021-07-22 20:34] mjonss commented on #25269
This looks like the same issue as https://github.com/pingcap/tidb/issues/25395. Not the test that is unstable, but a bug in `ANALYZE TABLE`

[2021-07-22 20:49] mjonss commented on #25392
Is this related to https://github.com/pingcap/tidb/issues/25274 , https://github.com/pingcap/tidb/issues/25395 and https://github.com/pingcap/tidb/issues/25269 ?

[2021-07-22 21:25] morgo commented on #18030
@tisonkun That is the plan. We will have a better idea on timeframe when we can agree on syntax changes.

Longer story:

The initial proposal handled the 'optimization' use case well, but there were some ambiguous cases that could lead to misconfiguration. We started revisiting the syntax with the intention of better handling compliance requirements (although in the process we've changed a bit mor

[2021-07-23 00:54] tiancaiamao commented on #26227
Not the same problem... #25599 is overflow, but this one is the problem of the algorithm

[2021-07-23 02:40] #25857 closed

[2021-07-23 02:48] #26376 closed

[2021-07-23 03:00] #26214 closed

[2021-07-23 03:08] #26176 closed

[2021-07-23 03:22] morgo commented on #26383
MySQL needs to check that the user has read privileges even though they are not reading the data to prevent blind-SQL injection. i.e. wtih a `SLEEP()` call you could craft a way to detect what the underlying data is.

This check is quite intelligent and does not apply if your `update` / `delete` does not touch any columns. I partially relaxed this in https://github.com/pingcap/tidb/pull/23647 ; bu

[2021-07-23 03:52] aytrack opened #26496 "having clause does not work correctly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
4.0.14
[code]

5.0.3 & 5.1.0 & master(4116dd248a1533c83eebd4eaacc)
[code]
### 4. What is your TiDB version? (Required)

[2021-07-23 03:55] nolouch commented on #18030
agree, it is worth it :)  and I think this feature needs more time, v5.2 is too tight.

[2021-07-23 04:04] ChenPeng2013 commented on #26472
It can be reproduced using tikv store

[2021-07-23 05:16] guo-shaoge commented on #26472
Same with #24205 , not cherry pick to 4.0 for now.

[2021-07-23 05:21] tangenta commented on #26405
"Deprecated" means it will be removed in the future.

Do you mean `show config` should annotate the deprecated options with "(deprecated)"?

[2021-07-23 05:52] HunDunDM commented on #13433
/label type/wontfix

[2021-07-23 06:16] #25013 closed

[2021-07-23 06:21] lzmhhh123 commented on #26496
tidb:
[code]

mysql:
[code]

Having statement is ignored by TiDB.

[2021-07-23 06:24] qw4990 commented on #26227
Emm, I cannot reproduce this bug after picking https://github.com/pingcap/tidb/pull/26471.
I inspected the stack of this issue yesterday, and found it was also stuck in the same loop like #25599:
![image](https://user-images.githubusercontent.com/7499936/126744529-fe749ce5-2500-44eb-937c-017665b1e3af.png)

Could you check it again at your convenience~ @tiancaiamao

[2021-07-23 06:34] #26185 closed

[2021-07-23 06:41] tisonkun commented on #26412
/assign

[2021-07-23 06:43] zimulala commented on #25780
PTAL @tiancaiamao

[2021-07-23 06:56] #25014 closed

[2021-07-23 07:06] An0nymous0 opened #26507 "analyze table return "analyze worker panic""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

analyze table metabase.metabase_field

Detailed file and table structure: https://asktug.com/t/topic/95448

### 2. What did you expect to see? (Required)

`analyze table metabase.metabase_field` return `analyze worker panic`

### 3. What did you see instead (Required)

###

[2021-07-23 08:32] #25190 closed

[2021-07-23 08:57] nolouch commented on #26458
the disk looks slow:
![image](https://user-images.githubusercontent.com/6428910/126759599-ced99230-a096-4195-a2d8-2ff27eddad0b.png)

[2021-07-23 09:02] dveeden opened #30532 "Dump with `--sql` has incorrect progress report"
## Bug Report

1. What did you do? If possible, provide a recipe for reproducing the error.

Run `dumpling --sql $query`

2. What did you expect to see?

Either progress for the number of rows returned from that query or no progress report at all.

3. What did you see instead?

[code]

4. Versions of the cluster

    - Dumpling version (run `dumpling -V`):

[code]

    - Source database version (e

[2021-07-23 09:04] Araon-Li opened #26512 "tidb 4.0.13 Non root users in tidb database cannot change their own password"
tidb version:v4.0.13

Non root users in tidb database cannot change their own passwords. In the tidb
![passswod](https://user-images.githubusercontent.com/83341022/126760314-df9b3a46-01e7-407e-b28e-0e2e57119ae3.jpg)
 version 5.0, non root users can change their own passwords.

The SQL statements used are as follows:

set password for xxx=password('123')

Errors are reported as follows:

ERROR 1044

[2021-07-23 09:18] #26175 closed

[2021-07-23 09:30] #26243 closed

[2021-07-23 09:40] #26177 closed

[2021-07-23 09:55] xhebox commented on #18030
@morgo maybe recover the TODO list back, or make a new tracking issue.

[2021-07-23 10:16] aytrack commented on #26512
Hi, could you provide the details of the TiDB version, I can't set the password for a nonroot user it's self.
tidb 5.0(f5bf404c50e463fdb67b932), v5.0.3, v5.0.0
[code]

but the MySQL  8.0 could set the password.
mysql 8.0.23
[code]

[2021-07-23 10:59] junaire commented on #26425
/assign

[2021-07-23 14:04] beyoung commented on #26022
Hi @tisonkun ,I'd like to migrate util/plancodec pkg , which is not listed above, please create a subtask and assign to me . Thx.

[2021-07-23 14:29] tisonkun commented on #26022
Aha! That's it. Let me create one for you.

[2021-07-23 14:30] tisonkun opened #26518 "migrate test-infra to testify for `util/plancodec` pkg"

[2021-07-23 14:31] tisonkun commented on #26518
@beyoung you can comment `/assign` to assign yourself. GitHub doesn't allow me to assign you as no org member and no comment in this thread :(

[2021-07-23 14:40] beyoung commented on #26518
/assign

[2021-07-23 14:46] tisonkun commented on #18030
@morgo @nolouch thanks for your information. Got it.

@morgo I'd like know why you remove all information and add an empty project? There is a discussion about tracking issue vs. project [1](https://tisonkun.github.io/ziggurat/f379bf788b20/#Why-not-GitHub-Project) and I think tracking issue is better to layout subtasks and comment on. What do you think? BTW where removed information goes?

[2021-07-23 15:43] tisonkun opened #26521 "migrate test-infra to testify for `types/driver` pkg"

[2021-07-23 15:49] kemingy commented on #26418
/assign

[2021-07-23 21:58] gregwebs opened #26524 "query metric error : Get "http://https//..."
## Bug Report

TiDB metric query assumes http. https would be as better assumption, but we should support both and certainly test https.

[code]

in `getPrometheusAddr` this code is wrong. Generally it is best to use net/url to actually parse the url instead of performing brittle string checks.

[code]

I wrote a helper script for generating TLS certs but @BusyJay has [refused to merge](https://gi

[2021-07-24 04:32] unconsolable commented on #26422
/assign

[2021-07-24 07:26] qiaocco commented on #26430
/assign

[2021-07-24 08:10] ofey404 commented on #26172
Hi @tisonkun, I'd like to migrate tests under `util/collate` pkg. Please create a subtask and assign to me. ;)

[2021-07-24 08:28] xiaoshengMr commented on #26173
/assign

[2021-07-24 11:46] Fedomn commented on #26171
/assign

[2021-07-24 15:10] tisonkun commented on #26172
/assign @ofey404

Go ahead!

[2021-07-24 15:15] mjonss commented on #25395
I have tried to reproduce the issue with current master `a4146033fb6deec464de9faf5f5412b87ef5d06c` without success.
 I ran the unit tests in executor directory 100 times with random overlap/concurrent runs. Could it be that it was an issue with `ANALYZE TABLE` that has been an issue before, but has been fixed since this unstable test was reported?

[2021-07-24 15:16] mjonss commented on #25269
I have tried to reproduce the issue with current master `a4146033fb6deec464de9faf5f5412b87ef5d06c` without success.
 I ran the unit tests in executor directory 100 times with random overlap/concurrent runs. Could it be that there was an issue with `ANALYZE TABLE` that triggered this unstable test, but has been fixed since this was reported?

[2021-07-24 17:08] zhaoxugang commented on #24621
/assign

[2021-07-24 17:18] nasnoisaac commented on #26180
/assign

[2021-07-25 00:52] XuHuaiyu opened #26532 "unexpected result of union"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

a4146033fb6deec464de9faf5f5412b87ef5d06c

[2021-07-25 00:52] XuHuaiyu commented on #26532
This bug is introduced by https://github.com/pingcap/tidb/pull/21150

[2021-07-25 03:26] #26425 closed

[2021-07-25 03:36] Araon-Li commented on #26512
my tidb version is v5.1.0

[2021-07-25 04:14] #25589 closed

[2021-07-25 04:14] #25640 closed

[2021-07-25 07:28] #26418 closed

[2021-07-25 13:51] tisonkun commented on #25150
@wjhuang2016 can you refer to the original issue(s) implementing expression index? What is expression index anyway.

[2021-07-25 13:52] tisonkun commented on #25150
GA requires understandability I think. May the original issue(s) as dev / impl source, and document subtasks for user docs.

[2021-07-26 02:11] zhouqiang-cl commented on #25458
happends again
[code]
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/6564/pipeline

[2021-07-26 02:11] tisonkun opened #26537 "migrate test-infra to testify for `telemetry` pkg"

[2021-07-26 02:12] zhouqiang-cl commented on #25783
happends again in https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/6578/pipeline

[2021-07-26 02:15] Reminiscent commented on #26388
/assign

[2021-07-26 02:22] zhouqiang-cl opened #26538 "data race in `github.com/pingcap/parser/ast.(*node).SetOriginTextPosition()`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/6579/nodes/104/steps/353/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requ

[2021-07-26 02:25] zhouqiang-cl opened #26539 "data race in `github.com/pingcap/parser/types.(*FieldType).EvalType()`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/6569/nodes/116/steps/356/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requ

[2021-07-26 02:53] aytrack commented on #26532
this issue can also reproduce in 5.1.0, 4.0.13, 5.0.3

[2021-07-26 02:57] feitian124 commented on #26421
Hi @tisonkun, I'd like to participate and please assign this task to me

[2021-07-26 02:59] tisonkun commented on #26421
/assign @feitian124

Glad to see your interests! Go ahead.

[2021-07-26 03:17] Araon-Li commented on #26512
[tidb@TiDB ~]$ mysql -u jack -P 4000 -h 192.168.10.143 -ptidb
mysql: [Warning] Using a password on the command line interface can be insecure.
Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 7
Server version: 5.7.25-TiDB-v5.1.0 TiDB Server (Apache License 2.0) Community Edition, MySQL 5.7 compatible

Copyright (c) 2000, 2020, Oracle and/or its affiliates. All

[2021-07-26 03:18] Reminiscent commented on #26388
You can see this [doc](https://docs.pingcap.com/zh/tidb/stable/optimizer-hints#merge_joint1_name--tl_name-) for more details. I think it's not a bug, it’s just that the hint is written wrong. So the hint just is treated as comments.
1. The hint should follow behind the `select` keyword.
2. In here we need to use the alias, not the real table name.
@hnes  PTAL
[code]

[2021-07-26 03:28] #26019 closed

[2021-07-26 03:29] Reminiscent commented on #26077
/assign

[2021-07-26 03:33] Lily2025 opened #26543 "Report write-conflict error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Continue to insert large values，The parameters are as follows：
concurrency：500
tables：1000
pad_length：4000000

### 2. What did you expect to see? (Required)
The transaction commit successfully.

### 3. What did you see instead (Required)
Report write-conflict error
![283f898

[2021-07-26 03:46] sticnarf commented on #26543
Some addition to this issue:

The workload is auto-commit inserts of rows with random large values.

The table is created like `create table write_stress%d(col1 bigint, col2 varchar(256), data longtext, key k(col1, col2))`.

In the log, we can see the write conflicts happen on meta keys `mDB:6559\000\376\000\000\000\000\000\000\000H`. I guess the write conflict is from auto id generation.

[code]

[2021-07-26 03:47] sticnarf commented on #26543
@tiancaiamao Could you take a look at the issue?

[2021-07-26 04:02] Lily2025 opened #26544 "sysbench report "Information schema is out of date"，TiKV log show "Region is unavailable""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. run sysbench work load
tableNum = 128
tableSize = 10000000000
threads=128

run_type = 'oltp_write_only'
2. About after 20 minutes，report some error

### 2. What did you expect to see? (Required)
The workload is running normally

### 3. What did you see instead (Required)

[2021-07-26 04:17] tiancaiamao commented on #26289
As PR https://github.com/pingcap/tidb/pull/26546 shows, if we limit the time of single unit test case, we can also make our CI much faster. And it can prevent the CI slow again.

[2021-07-26 04:20] PragmaTwice opened #26547 "TiDB crashed while analyzing table in tpcc with `tidb_analyze_version=2`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-07-26 04:29] MyonKeminta opened #26548 "Setting global variables for GC configuration may reports confusing error message"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

TiDB reports the value is too small (shorter than 10m, the minimum allowed GC life time), or maybe it's also acceptable that TiDB automatically adjust the value to 10m. (I personally prefer the former)

### 3. What did

[2021-07-26 04:32] tisonkun commented on #26289
cherry-pick the demo fixture from #26022 , keep hacking..

[code]

... which is used as

[code]

[2021-07-26 05:05] wjhuang2016 commented on #25150
There is no original issue.

[2021-07-26 05:26] Reminiscent commented on #26077
If we use the hint directly, the SQL `select * from t where a+2 > 2;` will get the same plan.  So I think it is like an enhancement rather than a bug. And it should not be easy to fix in the short term.

[2021-07-26 05:30] wjhuang2016 commented on #26077
The problem is, when we normalize the bound SQL, we should not normalize the whole expression.

[2021-07-26 06:27] qw4990 commented on #26089
Please see https://github.com/pingcap/tidb/pull/26550 for more details

[2021-07-26 06:30] seiya-annie commented on #26266
https://github.com/pingcap/tidb/issues/26250

[2021-07-26 06:40] qw4990 commented on #25898
I guess this issue has the same cause as https://github.com/pingcap/tidb/issues/26539. Seems like it is caused by some functions related to `view` like `tryFillViewColumnType` modifying column types.

[2021-07-26 06:48] qw4990 commented on #25010
Solved by https://github.com/pingcap/tidb/pull/26468

[2021-07-26 06:48] #25010 closed

[2021-07-26 07:00] ChenPeng2013 opened #26551 "BIGINT value is out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

It can be reproduced on branch release-5.0、release-5.1、master
Release-4.0 doesn't exist the issue。
[code]

[2021-07-26 07:10] vivid392845427 opened #26552 "update return error:Truncated incorrect INTEGER value occasionally"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

test store run testcase utf-go::clustered-index ,return error sometimes;

set tidb config:
new_collations_enabled_on_first_bootstrap: true
max-index-length: 12287

 CREATE TABLE `tbl_37` (
  `col_234` varchar(490) COLLATE utf8mb4_general_ci NOT NULL,
  `col_235` double NOT

[2021-07-26 07:25] ChenPeng2013 opened #26554 "Internal error: UnionExec chunk column count mismatch"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

It can be reproduced on branch release-5.0, release-5.1 and master
The release-4.0 branch doesn't have the issue

[

[2021-07-26 07:26] #26426 closed

[2021-07-26 07:28] sticnarf commented on #26543
Duplicated with https://github.com/pingcap/tidb/pull/25221

[2021-07-26 07:28] #26543 closed

[2021-07-26 08:10] killua525 opened #26556 "insert one record into gc_delete_range(drop index on partition table )"
[code]
执行` alter table employees drop index a;` 的时候 gc_delete_range 中只插入了一条数据（gc_delete_range唯一性约束后两条插入失败），我理解这东西至少要有三条吧？BUG？还是？

[2021-07-26 08:11] disksing opened #26557 "Coprocessor does not setup resolveLockLite to resolve locks"
## Bug Report

Originally coprocessor requests use the lite mode to resolve locks, in which the backoff sleep duration is shorter. It was broken since when we were refactoring to move `store/tikv` to `client/go`.

See: https://github.com/pingcap/tidb/pull/22732#discussion_r673636094

We should make it use lite mode again. Note: release-5.0 and release-5.1 do not use standalone `client-go`, we need

[2021-07-26 08:22] sticnarf commented on #26556
I agree it looks like a bug.

Please take a look :) @zimulala

[2021-07-26 08:24] winoros opened #26559 "Uncorrect result when there's union"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

current master

[2021-07-26 08:28] sticnarf commented on #26544
I encountered the same problem before when I was testing high write pressure on TiDB. The root cause is probably https://github.com/tikv/tikv/issues/10169. The issue makes the region containing the schema data cannot serve read requests, so TiDB cannot update its schema in time.

This issue is expected to be solved after https://github.com/tikv/tikv/pull/10249 remove the write stall from TiKV.

[2021-07-26 08:31] disksing commented on #26557
Mistake, closing.

[2021-07-26 08:31] #26557 closed

[2021-07-26 08:56] #26436 closed

[2021-07-26 08:59] tisonkun commented on #25691
It seems another instance re-occurs.

[code]

https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/7916/nodes/109/steps/295/log/?start=0

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/7916/pipeline

cc @zhouqiang-cl @qw4990

[2021-07-26 09:04] #26532 closed

[2021-07-26 09:08] bb7133 commented on #25269
Very likely that it has been fixed by #25547, since the stack looks the same and it doesn't reproduce for several weeks.

Close this issue.

[2021-07-26 09:08] #25269 closed

[2021-07-26 09:09] bb7133 commented on #25395
Very likely that it has been fixed by #25547, since the stack looks the same and it doesn't reproduce for several weeks.

Close this issue.

[2021-07-26 09:09] #25395 closed

[2021-07-26 09:12] tirsen opened #26568 "MetricRetriever doesn't support mTLS when calling pd"
## Bug Report

### 1. Minimal reproduce step (Required)

Set up a cluster using e.g. `tidb-operator` with full intra-cluster mTLS enabled. Watch the logs and you will eventually find the following error:

[code]

### 2. What did you expect to see? (Required)

That it connects to pd using mTLS.

### 3. What did you see instead (Required)

That it fails to connect to pd using mTLS.

### 4. What is y

[2021-07-26 09:22] #26421 closed

[2021-07-26 09:39] ChenPeng2013 opened #26569 "result error in hash partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
release-5.1 and master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-07-26 09:52] feiquan123 opened #26573 "can't build master branch on Mac M1"
## Bug Report
can't build master branch on MAC M1

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
follow Quick start:
[code]

### 2. What did you expect to see? (Required)
success build master branch on Mac M1

### 3. What did you see instead (Required)
run `make`  error:
[code]
### 4. What is your TiDB version? (Required)
master

go e

[2021-07-26 09:54] marsishandsome opened #26574 "Improve the metrics `Total Keys` in `RocksDB - kv` to make it more accurate"
## Enhancement
Currently, the metrics `Total Keys` in `RocksDB - kv` is not very accurate.
We should improve it's accuracy.

[2021-07-26 09:56] feiquan123 commented on #26573
need run `go get -u github.com/shirou/gopsutil` to update `github.com/shirou/gopsutil` version
[code]

[2021-07-26 09:57] marsishandsome commented on #26574
move to tikv repo https://github.com/tikv/tikv/issues/10628

[2021-07-26 09:57] #26574 closed

[2021-07-26 10:00] tiancaiamao opened #26575 "Tracking test cases running more than 3s"
We are plan to to limit the time of single unit test, we have to handle the current tests which run too long.

If we can't limit the time in the testing framework https://github.com/pingcap/tidb/issues/26289, at least we can write a simple and dirty script first, and add that script to the CI workflow, prevent a single test runs too long.

It can be divide into three steps:

1. Add the restriction

[2021-07-26 10:02] feiquan123 commented on #26573
error again when run `make`

[code]

[2021-07-26 10:03] feitian124 commented on #26415
/assign

[2021-07-26 10:10] xuyifangreeneyes commented on #26575
I wrote ` ConnTestSuite.TestTiFlashFallback`. I will handle the test case.

[2021-07-26 10:14] feiquan123 commented on #26573
i ran `brew install llvm`

[code]

[2021-07-26 10:25] hawkingrei opened #26576 "only_full_group_by check is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table
[code]

run problem sql:
[code]

### 2. What did you expect to see? (Required)

not error message in the mysql 8.0.25

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

Release Version: v5.2.0-alpha-392-g71638ee46

[2021-07-26 10:51] qw4990 commented on #25691
I guess this issue has the same cause as #26539. Seems like it is caused by some functions related to view like tryFillViewColumnType modifying column types.

[2021-07-26 11:01] qw4990 commented on #25642
Cannot locate the cause for this issue, and with it didn't appear again for a few weeks, I prefer to close this issue now.
If it appear again, please contact me.

[2021-07-26 15:04] lcwangchao commented on #26507
The some problem with stack:

[code]

[2021-07-26 15:42] gregwebs commented on #26568
duplicate of #26524 This report is a little better, so we could close the original.

[2021-07-26 15:43] gregwebs commented on #26524
closing in favor of #26568

[2021-07-26 15:43] #26524 closed

[2021-07-26 15:58] dveeden commented on #26568
I can see multiple options for fixing this:

Make the test more generic:
[code]

Add an else if:
[code]

With a regexp:
[code]

And besides this: adding a test would be good. Splitting out this stuff into a new function that only deals with adding a protocol if it is missing would make testing this easier.

Besides the protocol, is anything else needed to get mTLS working? (e.g. specifying a CA)

[2021-07-26 16:37] morgo opened #26580 "Support named PLACEMENT POLICY"
This is a sub-task of Placement Rules in SQL: https://github.com/pingcap/tidb/issues/18030

Support the ability to `CREATE PLACEMENT POLICY` with the same options available in `CREATE TABLE|ALTER TABLE` context.

The following subtasks are known:

* [x] Parser: {CREATE|ALTER} PLACEMENT POLICY placement_options https://github.com/pingcap/parser/pull/1313
* [x] Parser: SHOW CREATE PLACEMENT POLICY x

[2021-07-26 16:45] morgo opened #26581 "Support direct placement as table_options"
This is a sub-task of Placement Rules in SQL: #18030

This requires the following subtasks:

- [x] pingcap/parser#1299
parser: Support the following as _table_options_ in `CREATE|ALTER TABLE` and `CREATE|ALTER DATABASE` contexts. This should also work for partitions, such as `ALTER TABLE t PARTITION p0`.
[code]

- [ ] After the support of new syntax for parser, the old syntax should be removed.
-

[2021-07-26 16:59] morgo commented on #18200
Superceded by https://github.com/pingcap/tidb/issues/26581 and https://github.com/pingcap/tidb/issues/26580

[2021-07-26 16:59] #18200 closed

[2021-07-26 17:00] morgo commented on #18201
Superceded by https://github.com/pingcap/tidb/issues/26581 and https://github.com/pingcap/tidb/issues/26580

[2021-07-26 17:00] #18201 closed

[2021-07-26 17:22] morgo opened #26582 "Support SHOW PLACEMENT"
This is a sub-task of Placement Rules in SQL: #18030

This requires the following subtasks:

* [x] Parser: `SHOW PLACEMENT LIKE 'x';
* [x] Parser: Add `SHOW PLACEMENT FOR [{DATABASE | SCHEMA} schema_name] [TABLE table_name] [PARTITION partition_name]`
* [ ] `SHOW PLACEMENT LIKE` should return a list of `PLACEMENT POLICIES` that have been loaded in the TiDB server.
  - #27531
* [ ] `SHOW PLACEMENT

[2021-07-26 18:01] morgo commented on #26575
@tiancaiamao I can't explain why `TestSecurityEnhancedModeInfoschema` was 82s for you. For me it's a quick test:
[code]

The test itself is also quite straight forward (no loops or anything complicated). The only thing I can think of is if reading from one of the tables such as `CLUSTER_STATEMENTS_SUMMARY` blocks while waiting for the resource to be ready.

[2021-07-26 23:02] morgo commented on #26576
@hawkingrei can you provide `SHOW CREATE TABLE defer_regress_location`? Thanks.

[2021-07-27 00:15] feitian124 commented on #26414
/assign

[2021-07-27 00:19] feitian124 commented on #26419
/assign

[2021-07-27 01:03] tiancaiamao opened #26587 "PASS: privileges_test.go:1446: testPrivilegeSuite.TestSecurityEnhancedModeInfoschema 82.565s @morgo"
[code]

This takes 80s ...

[2021-07-27 01:07] tiancaiamao opened #26588 "PASS: gc_worker_test.go:783: testGCWorkerSuite.TestLeaderTick 2.026s @MyonKeminta"

[2021-07-27 01:07] tiancaiamao opened #26589 "PASS: gc_worker_test.go:268: testGCWorkerSuite.TestPrepareGC 2.539s @disksing"

[2021-07-27 01:07] tiancaiamao opened #26590 "PASS: store_test.go:658: testKVSuite.TestRetryOpenStore 3.002s @lonng"

[2021-07-27 01:07] tiancaiamao opened #26591 "PASS: batch_coprocessor_test.go:121: testBatchCopSuite.TestStoreSwitchPeer 40.581s @hanfei1991"

[2021-07-27 01:07] tiancaiamao opened #26592 "PASS: batch_coprocessor_test.go:85: testBatchCopSuite.TestStoreErr 41.758s @hanfei1991"

[2021-07-27 01:24] morgo commented on #25088
I think this is severity/minor and not moderate: it covers only a corner case that is not documented. I have a PR to fix this, but it's been open a while. I am going to close it now, but we can re-open it if this issue is known to affect users.

[2021-07-27 01:28] tiancaiamao opened #26593 "PASS: conn_test.go:756: ConnTestSuite.TestTiFlashFallback 253.585s @xuyifangreeneyes"

[2021-07-27 01:28] tiancaiamao opened #26594 "PASS: tidb_test.go:1509: tidbTestTopSQLSuite.TestTopSQLCPUProfile 4.657s @crazycs520"

[2021-07-27 01:28] tiancaiamao opened #26595 "PASS: http_handler_test.go:1444: HTTPHandlerTestSuite.TestZipInfoForSQL 10.308s @crazycs520"

[2021-07-27 01:28] tiancaiamao opened #26596 "PASS: pessimistic_test.go:2677: testPessimisticSuite.TestAmendForIndexChange 4.394s @cfzjywxk"

[2021-07-27 01:28] tiancaiamao opened #26597 "PASS: pessimistic_test.go:703: testPessimisticSuite.TestInnodbLockWaitTimeout 4.045s @cfzjywxk"

[2021-07-27 01:28] tiancaiamao opened #26598 "PASS: pessimistic_test.go:1145: testPessimisticSuite.TestPessimisticLockNonExistsKey 5.024s @coocood"

[2021-07-27 01:28] tiancaiamao opened #26599 "PASS: pessimistic_test.go:483: testPessimisticSuite.TestSelectForUpdateNoWait 8.038s @cfzjywxk"

[2021-07-27 01:28] tiancaiamao opened #26600 "PASS: session_test.go:4240: testSessionSerialSuite.TestProcessInfoIssue22068 5.007s @wshwsh12"

[2021-07-27 01:28] tiancaiamao opened #26601 "PASS: partition_table_test.go:2356: partitionTableSuite.TestDirectReadingWithAgg 14.772s @zhuo-zhi"

[2021-07-27 01:28] tiancaiamao opened #26602 "PASS: partition_table_test.go:2132: partitionTableSuite.TestDirectReadingWithUnionScan 4.258s @qw4990"

[2021-07-27 01:28] tiancaiamao opened #26603 "PASS: partition_table_test.go:1992: partitionTableSuite.TestParallelApply 4.142s @qw4990"

[2021-07-27 01:28] tiancaiamao opened #26604 "PASS: partition_table_test.go:1889: partitionTableSuite.TestSubqueries 5.442s @qw4990"

[2021-07-27 01:28] tiancaiamao opened #26605 "PASS: executor_test.go:5861: testRecoverTable.TestFlashbackTable 7.213s @crazycs520"

[2021-07-27 01:29] tiancaiamao opened #26606 "PASS: executor_test.go:5765: testRecoverTable.TestRecoverTable 5.118s @djshow832"

[2021-07-27 01:29] tiancaiamao opened #26607 "PASS: tiflash_test.go:146: tiflashTestSuite.TestMppExecution 35.121s @hanfei1991"
This test takes so long and slow down our CI @hanfei1991

[2021-07-27 01:29] tiancaiamao opened #26608 "PASS: tiflash_test.go:612: tiflashTestSuite.TestMppUnionAll 6.067s @hanfei1991"

[2021-07-27 01:29] tiancaiamao opened #26609 "PASS: tiflash_test.go:401: tiflashTestSuite.TestPartitionTable 7.086s @rebelice"

[2021-07-27 01:29] tiancaiamao opened #26610 "PASS: prepare_test.go:1206: testPlanSerialSuite.TestPartitionTable 5.067s @qw4990"

[2021-07-27 01:29] tiancaiamao opened #26611 "PASS: partition_test.go:186: testPartitionSuite.TestAddPartitionReplicaBiggerThanTiFlashStores 10.109s @arenatlx"

[2021-07-27 01:29] tiancaiamao opened #26612 "PASS: db_integration_test.go:1219: testIntegrationSuite5.TestBackwardCompatibility 3.471s @zimulala"

[2021-07-27 01:29] tiancaiamao opened #26613 "PASS: column_type_change_test.go:1183: testColumnTypeChangeSuite.TestColumnTypeChangeFromJsonToOthers 4.540s @LENSHOOD"

[2021-07-27 01:29] tiancaiamao opened #26614 "PASS: column_type_change_test.go:700: testColumnTypeChangeSuite.TestColumnTypeChangeFromNumericToOthers 2.834s @arenatlx"

[2021-07-27 01:29] tiancaiamao opened #26615 "PASS: column_type_change_test.go:473: testColumnTypeChangeSuite.TestColumnTypeChangeFromStringToOthers 3.039s @arenatlx"

[2021-07-27 01:29] tiancaiamao opened #26616 "PASS: :1: testCTCSerialSuiteWrapper.TestColumnTypeChangeFromNumericToOthers 2.834s @arenatlx"

[2021-07-27 01:29] tiancaiamao opened #26617 "PASS: :1: testCTCSerialSuiteWrapper.TestColumnTypeChangeFromStringToOthers 3.059s @arenatlx"

[2021-07-27 01:29] tiancaiamao opened #26618 "PASS: db_test.go:6388: testSerialDBSuite.TestCommitTxnWithIndexChange 3.784s @cfzjywxk"

[2021-07-27 01:29] tiancaiamao opened #26619 "PASS: fail_db_test.go:218: testFailDBSuite.TestAddIndexFailed 69.802s @zimulala"
This test takes too long and slow down our CI

[2021-07-27 01:30] tiancaiamao opened #26620 "PASS: fail_db_test.go:353: testFailDBSuite.TestAddIndexWorkerNum 57.401s @crazycs520"

[2021-07-27 01:30] tiancaiamao opened #26621 "PASS: builtin_miscellaneous_vec_test.go:137: testEvaluatorSuite.TestSleepVectorized 3.503s @XuHuaiyu"

[2021-07-27 01:30] tiancaiamao opened #26622 "PASS: builtin_time_vec_generated_test.go:6730: testVectorizeSuite1.TestVectorizedBuiltinTimeFuncGenerated 1.196s @SunRunAway"

[2021-07-27 01:30] tiancaiamao opened #26623 "PASS: fail_test.go:64: testSuite.TestFailNewSession 5.496s @lysu"

[2021-07-27 01:30] tiancaiamao opened #26624 "PASS: fail_test.go:64: testSuite.TestFailNewSession 5.448s @zimulala"

[2021-07-27 01:51] francis0407 commented on #22076
/assign

[2021-07-27 02:04] #26212 closed

[2021-07-27 02:04] hawkingrei commented on #26576
Sorry, I have updated the issue.

[2021-07-27 02:09] guo-shaoge commented on #26472
cherry pick to release-5.0 in PR #10617
cherry pick to release-4.0 in PR #10616

[2021-07-27 02:34] tiancaiamao commented on #26587
https://github.com/pingcap/tidb/issues/26575#issuecomment-886911212

@morgo Maybe I should assign this issue to @crazycs520

It turned out this is caused by the `CLUSTER_STATEMENTS_SUMMARY` table.
I follow the log and it looks like that:

[code]

**If you have a TiDB listening on :10080, this test can finish soon.**
Otherwise, query the `CLUSTER_STATEMENTS_SUMMARY` table will send distsql request

[2021-07-27 02:43] tiancaiamao commented on #26575
I have a PR https://github.com/pingcap/tidb/pull/26578 to enforce the restriction, and after it's merged, no new slow unit test case can be added.

[2021-07-27 03:02] purelind opened #26626 "Some integration tests always failed on arm64 machines"
## Bug Report

tidb_integration_common_test_arm64
ci link https://ci.pingcap.net/blue/organizations/jenkins/tidb_integration_common_test_arm64/detail/tidb_integration_common_test_arm64/12/pipeline/596
[code]
[code]
tidb_common_test_arm64
ci link https://ci.pingcap.net/blue/organizations/jenkins/tidb_common_test_arm64/detail/tidb_common_test_arm64/16/pipeline
[code]
tidb_unit_test_arm64
ci link htt

[2021-07-27 03:10] xuyifangreeneyes commented on #26593
/assign

[2021-07-27 03:11] morgo commented on #18030
I removed the issues because I was attempting to track in a project :-) But I missed the discussion on why not projects, I will convert it to a list here and close the project tomorrow.

[2021-07-27 03:26] nieshoujun opened #26628 "How to set statement timeout on SpringBoot + Mybatis"
## General Question
if we   use  mybatis   select
some  sql  use  about  30S ,so   how to  set  a timeout
if  > 5s  so  return timeout exception

[2021-07-27 04:41] feiquan123 commented on #26573
success install 🤓
set `LDFLAGS` is empyt
run `LDFLAGS= make`

[2021-07-27 05:17] yedamao commented on #26424
/assign

[2021-07-27 05:32] dveeden commented on #26065
What is needed to fix this is:

- A fatal warning (abort server startup) if certificates are specified but can't be loaded
- A fatal warning (abort server startup) if the server fails to generate TLS certificates if configured to do so

[2021-07-27 05:35] yedamao commented on #26423
/assign

[2021-07-27 06:02] #25893 closed

[2021-07-27 06:41] wjhuang2016 commented on #26147
[code]
No error message for PD server timeout.

[2021-07-27 06:42] wjhuang2016 commented on #26147
/cc @disksing PTAL

[2021-07-27 06:45] disksing commented on #26147
Thanks we wil take a look. /cc @AndreMouche

[2021-07-27 07:05] ChenPeng2013 opened #26638 "Operator should be Batch_Point_Get_1, not TableDual"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
release-4.0、release-5.0、release-5.1 and master
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-27 07:21] mengxin9014 opened #26639 "Push down DATE() to tiflash"
## Enhancement

[2021-07-27 07:27] mengxin9014 commented on #26639
#https://github.com/pingcap/tics/issues/2500

[2021-07-27 07:33] AndreMouche commented on #26147
I think it is not caused by PD server timeout. The error for PD server timeout in tikv-client will convert to a normal PD error for tidb in [driver](https://github.com/pingcap/tidb/blob/6a69ee70ca00fc43b07c3fe33f4b216c5d931606/store/driver/error/error.go#L98)

By the way, @vivid392845427 could you provide the log of tidb/pd/tikv?

[2021-07-27 07:35] AndreMouche commented on #26147
I think it is not caused by PD server timeout. The error for PD server timeout in tikv-client should be converted to a normal PD error for tidb in [driver](https://github.com/pingcap/tidb/blob/6a69ee70ca00fc43b07c3fe33f4b216c5d931606/store/driver/error/error.go#L98) and it have its special error code 9001

By the way, @vivid392845427 could you provide the log of tidb/pd/tikv?

[2021-07-27 08:12] guo-shaoge commented on #26569
Looks like we didn't take care of unsigned int properly when pruning partition. Check [(s *partitionProcessor) findUsedPartitions](https://github.com/pingcap/tidb/blob/01ac21c194a51733b22eb87f7904c35defcd1903/planner/core/rule_partition_processor.go#L190).

[2021-07-27 08:18] jingshanglu opened #26641 "plancache is not used"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-27 08:22] vivid392845427 commented on #26147
tidb log：
[2021/07/27 02:53:34.510 +00:00] [INFO] [conn.go:995] ["command dispatched failed"] [conn=411] [connInfo="id:411, addr:172.18.180.211:54194 status:11, collation:utf8mb4_general_ci, user:root"] [command=Query] [status="inTxn:1, autocommit:1"] [sql="ADMIN CHECK TABLE bank2_accounts"] [txn_mode=PESSIMISTIC] [err="\ngithub.com/pingcap/errors.AddStack\n\t/go/pkg/mod/github.com/pingcap/errors@

[2021-07-27 08:33] dveeden opened #26642 "Timezone ignore for SHOW TABLE STATUS and ADMIN SHOW DDL JOBS"
## Bug Report

The output of `SHOW TABLE STATUS` and `ADMIN SHOW DDL JOBS` include a timestamp that does not have a timezone attached to it:
[code]
[code]

I would expect this to be in the session timezone set by [`time_zone`](https://docs.pingcap.com/tidb/stable/configure-time-zone)

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Differences in th

[2021-07-27 08:34] dveeden commented on #26642
See also https://dev.mysql.com/worklog/task/?id=10828

[2021-07-27 08:37] AndreMouche commented on #26147
According to the log of `tidb`, it is a bug caused by that the driver does not convert the `tikv.err` to `tidb.err` in function  [tidb/store/copr/region_cache.go:65](https://github.com/pingcap/tidb/blob/v5.1.0/store/copr/region_cache.go#L67)