[2016-07-07 12:24] shenli commented on #1385
@overvenus Great to hear that! I will test it on my machine.

[2016-07-08 06:09] geekard opened #1415 "Does TiDB support zabbix?"
@shenli ，你在pull request #1196 里提到TiDB支持zabbix了！这非常令人兴奋！

我们的zabbix系统数据库负载非常大(每天新增70GB左右监控数据)，经常出问题，想使用TiDB来解决数据库的shard、吞吐问题，所以请问下你的测试情况，现在迁移有问题么？

== English ==
@shenli Your PR #1196 shows that TiDB is now support Zabbix! That's awesome.

The workload of our zabbix system is very heavy (70GB new data per day), we want to use TiDB instead of MySQL to avoid shading, and handle the throughput. Does T

[2016-07-08 06:15] shenli commented on #1415
@geekard We have tested running zabbix on TiDB a few month before. It works. But we do not satisfied with the speed.
We are improving the performance of TiDB.  You can try the latest master. If you meet any problem, please raise an issue or send us a PR.

PS: We encourage describing issue in English.

[2016-07-08 06:21] geekard commented on #1415
Thanks shenli ! I will try the latest master.

[2016-07-08 06:24] huangpeilong commented on #1398
@ngaut Ok, I am trying to debug it on windows.
@shenli Now I use the "make server" under the TiDB dictionary, and it reports
"C:\Users\Hplong\Documents\projects\go\src\github.com\pingcap\tidb>make server
[Parser]
Parse table entries: 420495 of 1042566, x 16 bits == 840990 bytes
Parse table entries: 420495 of 1042566, x 16 bits == 840990 bytes
[Build]
godep: No Godeps found (or in any parent direct

[2016-07-08 06:32] shenli commented on #1398
We use vendor to solve golang's dependency. When running "make server", it will add soft link for vendor directory. Seems it does not work on Windows. See: https://github.com/pingcap/tidb/blob/master/Makefile#L138

We suggest running TiDB on Linux/Mac and do not guarantee all the things work on Windows.
Could you send us a PR to fix it?

[2016-07-08 06:33] shenli commented on #1415
@geekard I change the title to English. Hope you don't mind. :)
Please let us know if you meet any problem.

[2016-07-08 06:38] geekard commented on #1415
Never mind. :)

@shenli, Do you have any suggestions before testing? I'm very appreciated!

[2016-07-08 06:39] huangpeilong commented on #1398
What's "PR"?

[2016-07-08 06:42] shenli commented on #1415
If you use TiKV as storage engine, I recommend you deploy TiDB/TiKV on machines with SSD disk.

[2016-07-08 06:44] shenli commented on #1398
PR is short for Pull Request. @huangpeilong
It means sending us a patch for a feature or bug.

[2016-07-08 08:49] geekard commented on #1415
@shenli, I run the latest docker image, but grant privileges failed:

% mysql -h 127.0.0.1 -P 4000 -u root -D test
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MySQL connection id is 10006
Server version: 5.5.31-TiDB-1.0 MySQL Community Server (GPL)

Copyright (c) 2000, 2016, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the curre

[2016-07-08 09:45] shenli commented on #1415
May I have your Zabbix version? @geekard

[2016-07-08 10:04] geekard commented on #1415
I only executed two sql statements, has no relationship with zabbix:

% mysql -h 127.0.0.1 -P 4000 -u root -D test
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MySQL connection id is 10027
Server version: 5.5.31-TiDB-1.0 MySQL Community Server (GPL)

Copyright (c) 2000, 2016, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the curre

[2016-07-08 10:09] ngaut commented on #1415
Thanks for your report. We will fix it later.

[2016-07-08 11:07] huangpeilong commented on #1398
@shenli ok, I am trying it on linux now. And when I running "make server",it reports as below:
"hplong@ubuntu:~/Downloads/tidb-master$ make server
go get github.com/qiuyesuifeng/goyacc
go get github.com/qiuyesuifeng/golex
$(which goyacc) -o /dev/null -xegen temp_parser_file parser/parser.y
Parse table entries: 420495 of 1042566, x 16 bits == 840990 bytes
$(which goyacc) -o parser/parser.go -xe tem

[2016-07-08 15:24] shenli commented on #1415
@geekard Sorry for the late reply. It is a bug in our parser. We miss "grant all privileges" syntax. It is fixed in this PR: https://github.com/pingcap/tidb/pull/1417

BTW:  You should add quote mark for username and host. For example:
grant all privileges on zabbix.* to 'zabbix'@'localhost' identified by 'password';

[2016-07-11 06:05] ziyouchutuwenwu opened #1421 "tidb drop in replacement on rails error"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
[code]

2. What operating system and processor architecture are you using (`go env`)?
[code]

3. What did you do?
I just started tidb beta version, i want to make a drop in replacement of mysql on rails.
But when i run "rake db:create" in rails, it thows error, here are the snap

[2016-07-11 06:07] shenli commented on #1421
@ziyouchutuwenwu Thanks for your report!
Seems there is a bug in TiDB's parser. We will fix it.

[2016-07-11 07:56] shenli commented on #1421
@ziyouchutuwenwu There is a branch named shenli/fix-1421. You can try this branch. We will merge it into master soon.

[2016-07-11 08:23] shenli commented on #1421
@ziyouchutuwenwu Please try the latest master.

[2016-07-11 08:28] ziyouchutuwenwu commented on #1421
I switched to the branch, but compile error.
I'm trying again, but the poor net speed……

I will show the result later, thanks for your hard work.

[2016-07-11 08:42] geekard commented on #1415
@shenli  I run zabbix successfully now, using the latest docker image!

But when displaying 'Status of zabbix', it took 74 seconds, which is too long.

The following is debug output. I will try TiKV later.

******************** Script profiler ********************
Total time: 74.026581
Total SQL time: 74.044125
SQL count: 16 (selects: 13 | executes: 3)
Peak memory usage: 2M
Memory limit: 128M

。。。

[2016-07-11 08:51] ziyouchutuwenwu commented on #1421
hi, the branch shenli/fix-1421 is closed, i re git cloned and make, but compile error，here is the error msg
![error](https://cloud.githubusercontent.com/assets/7458713/16724964/c05bad3e-4787-11e6-92f8-f85609dd9aa0.png)

[2016-07-11 08:54] shenli commented on #1415
@geekard There is a few query with subquery and join which may run slow in TiDB.  We are working on impoving them.
If there is any performance improvement. I will let you know.
May I have your zabbix verson? I will test it on my machine.

[2016-07-11 09:02] shenli commented on #1421
@ziyouchutuwenwu  Please use the latest master.
May I have your go version. It is not compiling error. It is go vet error. So you can run make server to build the binary.

[2016-07-11 09:05] ziyouchutuwenwu commented on #1421
go version
go version go1.6.2 darwin/amd64

[2016-07-11 09:14] shenli commented on #1421
@ziyouchutuwenwu I use go with the same version with you. But I didn't meet the error.
Could try the latest master?
If the error is still there. Please help us check if branch shenli/fix-vet is OK.

[2016-07-11 09:33] geekard commented on #1415
@shenli  Thanks!

I use the latest zabbix docker image(current version is 3.0.3). The commands are following:

$ docker run --name tidb-server -d -p 4000:4000 pingcap/tidb:latest
$ mysql  -h 127.0.0.1 -P 4000 -u root -e "create database zabbix character set utf8 collate utf8_bin;"
$ mysql  -h 127.0.0.1 -P 4000 -u root -e "create user 'zabbix'@'%' identified by '123';"
$ mysql  -h 127.0.0.1 -P 4000

[2016-07-11 09:42] ziyouchutuwenwu commented on #1421
creating and droping database with rails ok
but when i create some model, and run "rake db:migrate", there is still error, seems to be sql parser error,

my steps
[code]

error screenshots
![migrate_error](https://cloud.githubusercontent.com/assets/7458713/16726439/c8f7739a-478e-11e6-8cef-891454bab198.png)
![rails_error](https://cloud.githubusercontent.com/assets/7458713/16726443/cc6eeb8e-478e-11e

[2016-07-11 09:50] shenli commented on #1421
@ziyouchutuwenwu TiDB do not support Get_Lock() function.
Is "ActiveRecod::Migration" frequently used in rails?

[2016-07-11 09:51] shenli commented on #1415
@geekard Thanks!

[2016-07-11 09:54] ziyouchutuwenwu commented on #1421
I'm not clear about the details of ActiveRecord::Migration
but active record was very popular in ruby, not only rails

what a pity

[2016-07-11 10:25] shenli commented on #1421
@ziyouchutuwenwu We will discus whether we will support get_lock() function. I will let you know the result.
Is there any error when you run "make check" on the latest master?

[2016-07-11 10:40] ziyouchutuwenwu commented on #1421
i have the error yet
[code]

[2016-07-11 10:44] shenli commented on #1421
And how about branch "shenli/fix-vet"? If it fix the error, I will create a PR.

[2016-07-11 10:47] ziyouchutuwenwu commented on #1421
branch "shenli/fix-vet" works fine, thanks for your patience

[2016-07-12 02:12] coocood commented on #1405
fixed by https://github.com/pingcap/tidb/pull/1411

[2016-07-12 02:12] #1405 closed

[2016-07-12 02:12] coocood commented on #1252
fixed by https://github.com/pingcap/tidb/pull/1411

[2016-07-12 02:12] #1252 closed

[2016-07-12 05:42] shenli opened #1429 "Add constraint for the length of the index prefix."
"Prefix support and lengths of prefixes (where supported) are storage engine dependent. For example, a prefix can be up to 767 bytes long for InnoDB tables or 3072 bytes if the innodb_large_prefix option is enabled. For MyISAM tables, the prefix limit is 1000 bytes. The NDB storage engine does not support prefixes (see Section 19.1.6.6, “Unsupported or Missing Features in MySQL Cluster”)."

See: h

[2016-07-12 05:50] shenli opened #1430 "Support Hex function"
select hex(a) from t1 order by a;
http://dev.mysql.com/doc/refman/5.7/en/string-functions.html#function_hex

[2016-07-12 07:22] shenli opened #1431 "Check field length when doing DDL."
--error ER_TOO_BIG_FIELDLENGTH
CREATE TABLE b15776 (a char(4294967295));

"M × w bytes, 0 <= M <= 255, where w is the number of bytes required for the maximum-length character in the character set. See Section 15.8.3, “Physical Row Structure of InnoDB Tables” for information about CHAR data type storage requirements for InnoDB tables."
See: http://dev.mysql.com/doc/refman/5.7/en/storage-requiremen

[2016-07-12 09:49] shenli commented on #1421
@ziyouchutuwenwu ActiveRecord Migrations needs mysql's get_lock()/release_lock() function. In TiDB, there will be only one worker which could run ddl statement. So I think may be we do not need get_lock() for schema migration. I pushed a new branch named "**shenli/get-lock**". It parse get_lock/release_lock syntax but do nothing.
Would you please test rails on this experimental branch? Thanks!

[2016-07-12 11:06] ziyouchutuwenwu commented on #1421
get_lock error not appeared, but other error occured. My steps:
[code]

![ar_error](https://cloud.githubusercontent.com/assets/7458713/16764913/c01215f2-4863-11e6-96ec-838b92b87119.png)
![1](https://cloud.githubusercontent.com/assets/7458713/16764914/c23d14c6-4863-11e6-8029-b602a1d90c59.png)
![2](https://cloud.githubusercontent.com/assets/7458713/16764921/c4eb5bc4-4863-11e6-8e64-9daff93c5e17.png)

[2016-07-12 11:19] ziyouchutuwenwu commented on #1421
here is the migration rb file
[code]
content
[code]

here are the exported sql files
[code]
[code]

[code]
[code]

[code]
[code]

[2016-07-12 13:31] ngaut opened #1435 "TiDB should not exit process when load schema failed."
We should give an error message instead of exiting the whole process.

[2016-07-12 14:13] shenli commented on #1421
@ziyouchutuwenwu Thanks for your information! I get the point. There are a few system tables in information_schema database. TiDB does not support all of them. I will add empty tables to prevent error. I will update the branch latter.

BTW: TiDB does not support foreign key constraint. It is parsed but ignored.

[2016-07-12 14:48] ziyouchutuwenwu commented on #1421
👍  i will try your new branch later. fk is not necessary for me, i just need it to make active record working.
Thank you!

[2016-07-12 15:26] ziyouchutuwenwu opened #1436 "tidb seems not support mycli (a python tool)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
[code]

2. What operating system and processor architecture are you using (`go env`)?
[code]

3. What did you do?
[code]

4. What did you expect to see?
![ok](https://cloud.githubusercontent.com/assets/7458713/16772684/c81b2738-4887-11e6-9e99-69ba78c1ba5a.png)

5. What did you s

[2016-07-12 15:35] shenli commented on #1436
@ziyouchutuwenwu Thanks for your report!
Seems mycli try to access table mysql.help_topic. I wil figure out if we could provide that table.

[2016-07-12 16:08] shenli commented on #1421
@ziyouchutuwenwu I add a empty table for information_schema.key_column_usage. Please update the branch "shenli/get-lock" and have a try.
Thanks!

[2016-07-13 01:12] ziyouchutuwenwu commented on #1421
well done! db:migrate works ok, thanks very much!

[2016-07-13 01:29] ziyouchutuwenwu commented on #1436
wonderful!
mycli works!
Thank you very much!

[2016-07-13 02:11] shenli commented on #1436
@ziyouchutuwenwu Great to hear that! I will create a PR.

[2016-07-13 02:16] shenli commented on #1421
@ziyouchutuwenwu I will merge it to master.
Thanks!

[2016-07-13 02:57] #1421 closed

[2016-07-13 03:00] #1436 closed

[2016-07-13 12:53] ngaut opened #1444 "TiDB should not store default value."
Currently we store default value to key-value store. It needs more disk space an  cpu to encoding/decoding. We shouldn't store default value since we can interpret the missing column with default value.  Just like default NULL value.

[2016-07-14 09:31] ngaut opened #1452 "Add support for Myloader and Mydumper"
See https://www.percona.com/blog/2015/01/21/importing-big-tables-large-indexes-myloader/

[2016-07-14 10:21] huangpeilong commented on #1398
@shenli @ngaut Now the make&make server is ok, I can run the "tidb-server" file, but when I debug the tidb-server using "F5", the following error occur：

“/usr/local/go/bin/go build -gcflags "-N -l" [/home/hplong/Documents/go/src/github.com/pingcap/tidb/tidb-server]
# github.com/pingcap/tidb/store/tikv/mock-tikv
../store/tikv/mock-tikv/pd.go:40: cannot use pdClient literal (type *pdClient) as type

[2016-07-14 10:27] shenli commented on #1398
@huangpeilong We updated pingcap/pd repo, but did not update pingcap/tidb repo. It seems that your tidb-server is built with pd in GOPTAH, not in vendor directory. Please try this solution:
Rollback pingcap/pd in your GOPATH to commit version 3fe05c948c17bdd18fc2cc7acf62e699f20b0583

I will update tidb's vendor and fix this problem soon.

[2016-07-14 10:34] huangpeilong commented on #1398
ok，thanks! @shenli

[2016-07-18 09:36] ngaut opened #1469 "Add a debug command to TiDB."
Sometimes we want to debug internal data structures,. we need a simple way to get internal information.

[2016-07-18 09:37] shenli commented on #1469
We have inspectkv tools. @zimulala

[2016-07-18 09:38] ngaut opened #1470 "Do we need to show "push down filters" in explain command ?"
As titled. It maybe helpful to debug SQL plan.

[2016-07-18 12:05] flike opened #1471 "About the args of yyParse"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.6.2

2. What operating system and processor architecture are you using (`go env`)?
MacOS

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?
When I install TiDB from source code,The

[2016-07-18 12:26] coocood commented on #1471
@flike
'parser.go' is generated by 'make parser' command.
We recently updated our parser generator to `github.com/pingcap/goyacc`.
Have you tried run 'make' command again? It will regenerate the parser.

[2016-07-19 02:29] zimulala commented on #1469
Yep，but we only have some simple functions like `show DDL info` now. It's better to list the specific requirements, so that we can gradually realize it in the inspectkv tools.

[2016-07-19 02:34] #1429 closed

[2016-07-19 07:01] shenli commented on #1415
@geekard  We add a new sql optimizer in TiDB. The performance benefits a lot from it.
The new optimizer is not finished yet, so it is not the default sql optimizer. You can enable it by passing an argument to tidb-server.
"docker run --name tidb-server -d -p 4000:4000 pingcap/tidb:latest   --newplan=1"
On my machine, displaying 'Status of zabbix' costs less than one second. Please try the latest m

[2016-07-19 11:02] flike commented on #1471
done. Thank you.

[2016-07-19 11:02] #1471 closed

[2016-07-22 00:27] geekard commented on #1415
@shenli Well Done!  It's amazing to see the performance benefits!

But, when I import online data to TiDB, it reported following error:

[code]
[code]

[2016-07-22 00:34] geekard commented on #1415
@shenli  Our online history.*/trends.* tables were partitioned and we have some views/procedures,  when I restored them, I saw lots of errors as following. Does TiDB support partition/view/procedures? Or, we don't need them any more?

[code]

[2016-07-22 00:45] shenli commented on #1415
@geekard Thanks for your trying.
TiDB does not support partition/view/procedures.
For a distributed database, we do not need explicit partition.
Implement view and procedures will bring some problems. So We are not sure whether we will support them.

Could you show me TiDB's error log for the following problem?

mysqlimport: Error: 1105 line 1 column 36 near ";"

[2016-07-22 01:05] geekard commented on #1415
@shenli Thanks!  The following are containter logs:

**part one:**
2016/07/22 01:03:07 txn.go:54: [debug] [kv] get key:6d 42 67 4a 6f 62 4f 77 6e ff 65 72 00 00 00 00 00 00 f9 00 00 00 00 00 00 00 73, txn:385128696923553792
2016/07/22 01:03:07 txn.go:59: [debug] [kv] set key:6d 42 67 4a 6f 62 4f 77 6e ff 65 72 00 00 00 00 00 00 f9 00 00 00 00 00 00 00 73, txn:385128696923553792
2016/07/22 01:03:07

[2016-07-22 02:19] shenli commented on #1415
@geekard Thanks!

I will fix the following bug.

After reading [MySQL's document about partition](https://dev.mysql.com/doc/refman/5.7/en/partitioning-overview.html) I have an idea. Maybe we could ignore the PARTITION keyword, it will do no harm.
TiDB will automatically partition data into many slices. I will have a try.

[2016-07-23 10:50] tiancaiamao opened #1490 "handwritten lexer"
currently TiDB has some performance issues due to GC, there is too many object allocations.
parser contribute the most among them. it's hard to optimize the generated code by YACC (see https://github.com/pingcap/tidb/pull/1419), whereas it's harder to rewrite the parser completely, so I'm considering rewrite the lexer.

this is a moderate change and should take some steps:

- [x] clean up code

we

[2016-07-25 01:35] ngaut opened #1495 "Clean up embed TiDB driver."
There is no need to keep embed driver, Since we support MySQL protocol.
We should remove https://github.com/pingcap/tidb/blob/master/driver.go

[2016-07-25 02:44] shenli opened #1496 "Use prometheus for metrics."
https://github.com/prometheus

- [x] Add prometheus framework
- [x] Record query executing time
- [x] Record executing time for each type of statement
- [x] Record executing time for RPC calls

[2016-07-27 10:37] zimulala opened #1509 "make race failed"
Failed info:

WARNING: DATA RACE
Write by goroutine 189:
  github.com/pingcap/tidb/executor.(*NewXSelectIndexExec).Close()
      /home/xia/workspace/src/github.com/pingcap/tidb/executor/new_executor_xapi.go:112 +0x90
  github.com/pingcap/tidb/executor.(*ProjectionExec).Close()
      /home/xia/workspace/src/github.com/pingcap/tidb/executor/new_executor.go:610 +0x7b
  github.com/pingcap/tidb/executo

[2016-07-29 05:45] zimulala opened #1520 "TestWriteWriteConflict Failed"
FAIL: isolation_test.go:93: testIsolationSuite.TestWriteWriteConflict

isolation_test.go:62:
    c.Assert(kv.IsRetryableError(err), IsTrue)
... obtained bool = false

[2016-07-29 06:40] zhangjinpeng1987 opened #1523 "tidb doesn't support SET NAMES binary"
When I use mydumper(percona multithread dumper tool) to dump data from mysql, there is  "/*!40101 SET NAMES binary*/;" in schema.sql and data.sql. When I use myloader(percona multithread import tool) to import data to tidb, I enconter an error and can not import data.

[2016-07-29 10:45] #1509 closed

[2016-08-01 03:10] ngaut commented on #1495
Ping @coocood

[2016-08-01 03:12] ngaut commented on #1495
@Unknwon TiDB can listening on local socket, if you use TiDB as an embeddable database, TiDB doesn't need to listen on any ports.

[2016-08-01 03:13] shenli commented on #1495
@ngaut There is still a few tests depend on driver. I will update those tests. Hope it could be done in this week.

[2016-08-02 06:10] qiuyesuifeng opened #1536 "create index with duplicate column name but not failed"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.6.2

2. What operating system and processor architecture are you using (`go env`)?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

create table index

4. What did you expect to see?
in MySQL 5.7.13
[code]

5.

[2016-08-03 02:56] terryzhao opened #1543 "Does tidb support mysql "load data" command for import data from csv file into database ?"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

2. What operating system and processor architecture are you using (`go env`)?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2016-08-03 03:06] ngaut commented on #1543
Thank you for your report, We will support "load command" later in the next two weeks.
Currently you may use mysqldump  to dump data from MySQL, then use mysql client to import data to TiDB.

[2016-08-03 07:07] qiuyesuifeng opened #1544 "TiDB does not support utf8 charset as alias name."
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.6.2

2. What operating system and processor architecture are you using (`go env`)?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

use utf8 as column alias name

4. What did you expect to see?
[code]

5. What

[2016-08-03 07:09] qiuyesuifeng opened #1545 "TiDB does not check char flen."
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.6.2

2. What operating system and processor architecture are you using (`go env`)?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

create table with a char column

4. What did you expect to see?
[code]

5. Wha

[2016-08-04 01:36] terryzhao commented on #1543
OK, Thanks for you quick feedback. Hope that time quickly in the next two weeks!

[2016-08-05 06:32] foobar commented on #1543
I am also expecting the support for "LOAD DATA INFILE". Nice to see it's already on the list!

[2016-08-07 06:42] shenli opened #1559 "Support output log to file and rotate log"
Add a flag named "--log-file" to set log file path.
Rotate log file by time or size.

[2016-08-08 03:31] coocood opened #1561 "Support index single read aggregation."

[2016-08-08 05:54] shenli opened #1562 "RegionInfo clone cost too much time"
Found by go tool pprof.

[2016-08-09 02:42] shenli opened #1570 "Support insert ignore into"
See https://dev.mysql.com/doc/refman/5.7/en/insert.html

[2016-08-09 03:50] elvizlai commented on #301
➜  ~ mysql -h 127.0.0.1 -P 4000 -u root -D test
ERROR 2013 (HY000): Lost connection to MySQL server at 'reading authorization packet', system error: 0 "Internal error/check (Not system error)"

All I do is stop pd leader. After campaign, this happened.
Restart tidb, this can solve. But NOT automatic.

@ngaut @siddontang maybe re-open this issue.

[2016-08-09 04:32] shenli commented on #301
@elvizlai Thanks for your report! I will check this.

[2016-08-09 07:49] #1435 closed

[2016-08-09 08:08] zimulala opened #1571 "Make sure lastInvalidTS is a normal txn TS."
When executing loadInfoSchema timeout(max(lease/2, 20 second)) it makes lastFailedTS value is 0, then lastInvalidTS value also is 0. That make some txns get invalid schema in some extreme cases.

[2016-08-09 08:08] #1380 closed

[2016-08-10 03:27] zhangjinpeng1987 opened #1576 "support percona tool mydumper&&myloader"
1) how to use these tools.
2) checkout why tidb out of memory when use myloader import data

[2016-08-10 04:37] #1545 closed

[2016-08-10 04:37] #1536 closed

[2016-08-11 14:02] #428 closed

[2016-08-12 01:32] foobar opened #1586 "receiving multi-packet"
Per   [mysql doc](https://dev.mysql.com/doc/internals/en/sending-more-than-16mbyte.html), it is possible to receive a zero-length packet, and it explicitly mentions:
[code]

but tidb doesn't seem to allow zere-length packet:

[code]

Is this worth fixing?

[2016-08-12 01:39] shenli commented on #1586
@foobar Thanks for your feedback! Could you send us a PR to fix it?

[2016-08-12 06:44] foobar commented on #1586
I will send a PR later.

[2016-08-12 07:29] shenli commented on #1586
@foobar Cool!

[2016-08-12 15:20] #1559 closed

[2016-08-12 15:20] #1430 closed

[2016-08-15 02:06] #1544 closed

[2016-08-15 02:16] #1490 closed

[2016-08-15 12:15] tiancaiamao commented on #1576
[code]

TiDB can't free objects before a session finish, thus GC can't keep pace with the speed of garbage generated, so it run out of memory...

[2016-08-15 13:43] shenli commented on #1576
There is a argument you should change. Which will decide the size of data for a transaction. @tiancaiamao

[2016-08-15 14:25] #1523 closed

[2016-08-17 07:56] shenli commented on #1291
Yes, we have travis ci running TiDB with go1.7 now.

[2016-08-17 07:56] #1291 closed

[2016-08-18 07:18] zhangjinpeng1987 commented on #1576
./myloader -h 127.0.0.1 -P 15001 -u root -t 4 -q 1 -d ./mydumper-out-path
-q Number of queries per transaction, default 1000

[2016-08-18 07:18] #1576 closed

[2016-08-19 03:11] ngaut commented on #1520
Ping

[2016-08-19 03:37] #1398 closed

[2016-08-19 04:55] disksing commented on #1520
It is caused by a logical flaw in our old lock-resolver implementation. It happens when 4 transactions executes like this:
* _T0_ (startTS=50) leaves a `Lock(50)` on _K1_ then be terminated.
* _T1_ (startTS=60) wants to write _K1_, it prepares a `Prewrite (60,K1)` command.
* _T2_ (startTS=70) encounters the Lock when it tries to read _K1_. After reading _PrimaryLock_, it prepares a `RollbackThenGe

[2016-08-19 04:56] #1520 closed

[2016-08-19 05:55] shenli opened #1607 "Add race detection in CI"
We should add `make race` to CI.

[2016-08-19 07:11] shenli opened #1608 "Cleanup plans and executors"
We could drop old planner and executor. @hanfei1991 @XuHuaiyu

[2016-08-20 01:44] shenli commented on #1607
Added `make race` to jenkins CI.

[2016-08-20 01:44] #1607 closed

[2016-08-20 09:23] shenli opened #1613 "Improve TiDB unit test coverage"
We should improve coverage up to 80 percent for each package.

[2016-08-22 06:18] #1570 closed

[2016-08-22 08:40] GregoryIan opened #1620 "add reconnection mechanism"
Now setting up a TiDB cluster, the start-up sequence must be PD -> TiKV -> TiDB, otherwise it will fail to build，up to 99% probability.  This is not friendly for setting up a cluster, please add a simple reconnection mechanism in TiDB to make world better.

[2016-08-23 02:26] shenli opened #1623 "Support ComSetOption"
See http://dev.mysql.com/doc/internals/en/com-set-option.html
http://dev.mysql.com/doc/internals/en/multi-statement.html

[2016-08-23 05:13] #1561 closed

[2016-08-23 05:19] coocood opened #1626 "Support save `binlog` in TiKV"
`binlog` can be used to sync the data in TiDB to other systems for backup and analysis.

[2016-08-23 09:45] #1586 closed

[2016-08-24 07:16] coocood opened #1633 "Refactor 'tables' package, resolve dependency cycle problem."
To implement binlog, in 'tables' package, we need to import 'infoschema' get the schema version, but  'infoschema' depends on 'tables', this creates a dependency cycle.

In order to resolve the problem, we need to remove 'tables' dependency in 'infoschema'.

[2016-08-25 03:34] shenli opened #1638 "Optimize "select max(id) from t""
If there is an index on id column, we should build a better plan which will use index to calculate max(id).

[2016-08-26 07:49] qiuyi21 opened #1643 "Can't start tidb-server in cluster"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
go version go1.6.3 linux/amd64

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/li

[2016-08-26 07:52] siddontang commented on #1643
@huachaohuang

[2016-08-26 09:57] shenli commented on #1643
@qiuyi21 May I have your TiDB/PD's git version?

[2016-08-26 10:19] qiuyi21 commented on #1643
@shenli
pd: d062c207379d9800f4b41fdc70d98ef59abca047
tidb: 8169806756ae65d605bc65e97bdd8edec17af66c
tikv: 8bd91c6cb51ba63cc7bc684d4f5885968dfe9ddc

[2016-08-26 10:21] huachaohuang commented on #1643
@qiuyi21 May I have your completed log of TiDB?

[2016-08-26 10:22] shenli commented on #1643
It seems that you are using out of date code. Please use the latest code for TIDB/TiKV/PD

➜  tidb git:(master) ✗ git log | grep -A 5 8169806756ae65d605bc65e97bdd8edec17af66c
commit 8169806756ae65d605bc65e97bdd8edec17af66c
Author: Shen Li <shenli3514@gmail.com>
Date:   Sat Jul 30 12:08:36 2016 +0800

    *: Use prometheus for metrics (#1525)

[2016-08-28 10:01] shenli commented on #1643
@qiuyi21 Have you run TiDB cluster successfully?

[2016-08-28 11:54] qiuyi21 commented on #1643
@shenli Thank you! I will try it and report the result tomorrow.

[2016-08-29 02:45] hanfei1991 commented on #1608
#1644 Have fixed this problem in this pr.

[2016-08-29 02:45] #1608 closed

[2016-08-29 03:09] shenli opened #1645 "Replace vendor with glide"
Refer https://github.com/pingcap/pd/pull/299

[2016-08-29 03:12] hanfei1991 opened #1646 "Control some configures by session variables."
There are some important configs in TiDB that inflence performance and stability a lot, like join-concurrency, sort batch size, etc. Currently we can only set them when starting tidb-server. We need to control it by session variables without stopping the server.

[2016-08-29 07:20] ngaut commented on #1452
Please add document to explain how to use Myloader and Mydumper with TiDB. @zhangjinpeng1987

[2016-08-30 06:31] qetee opened #1657 "If the current version can be used in the production environment"
If the current version can be used in the production environment？ is there any plan for 1.0?

[2016-08-30 07:11] shenli commented on #1657
@qetee TiDB is in beta3 stage now.  We hope we could make it stable but there is no guarantee. So we do not encourage you to use TiDB in the production environment.
There will be two or three RC versions before the GA version. It will be achieved in the next two or three months.

[2016-08-30 07:38] zimulala opened #1659 "Control to perform write operations more than two DDL states"
If a write operation during execution the DDL changes two or more states, it has problems.

[2016-08-30 08:06] ngaut commented on #1415
Hi @geekard:
 We just supported the "Load data" command in the master branch.

[2016-08-30 08:08] ngaut commented on #1543
@foobar @terryzhao

We just supported the "Load data" command :)

[2016-08-30 08:08] #1643 closed

[2016-08-30 09:27] shenli opened #1662 "Support Ceiling()"
See http://dev.mysql.com/doc/refman/5.7/en/mathematical-functions.html#function_ceiling

[2016-08-31 01:40] terryzhao commented on #1543
Very Good News for me!!!  Great job!

原始邮件
发件人:goroutinenotifications@github.com
收件人:pingcap/tidbtidb@noreply.github.com
抄送:terryzhaoterryzhao1981@gmail.com; Mentionmention@noreply.github.com
发送时间:2016年8月30日(周二) 16:08
主题:Re: [pingcap/tidb] Does tidb support mysql "load data" command forimport data from csv file into database ? (#1543)

@foobar @terryzhao
We just supported the "Load data" command :

[2016-08-31 07:29] shenli opened #1664 "Change TiDB's behavior by SetStatement"
We should find a way to control TiDB's behavior (such as parallel level, log level, binlog switch) without restart TiDB.
Using SetStatement may be the best way.

[2016-08-31 08:02] coocood commented on #1664
We can define some system variable, use them the same way as `autocommit`, `sql_mode` ...

[2016-08-31 08:07] shenli commented on #1664
It is a good idea. But if we sync data to MySQL through binlog, MySQL will reject unknown system variable. How could we handle this?

[2016-08-31 08:18] ngaut commented on #1664
Are you sure MySQL will reject unknown system variable ? if so we can create another "tidb-system-table"

[2016-08-31 08:21] shenli commented on #1664
➜  ~ mysql -uroot
Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 2
Server version: 5.7.9 MySQL Community Server (GPL)

Copyright (c) 2000, 2015, Oracle and/or its affiliates. All rights reserved.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Type 'help;' or '\h' for he

[2016-08-31 12:43] coocood opened #1668 "support float value fraction number."
1. What did you do?
   If possible, provide a recipe for reproducing the error.
   A complete runnable program is good.

select 0x80 + (1/1)
1. What did you expect to see?

129.0000
1. What did you see instead?

129

Currently, we do not handle displayed float fraction number correctly.

[2016-08-31 12:47] XuHuaiyu commented on #1130
I get correct result in my TiDB, please have a try again.
@zimulala

[2016-08-31 19:26] spacejam opened #1673 "database operations hang after tikv failure during pd downtime"
Please answer these questions before submitting your issue. Thanks!
1. What version of Go are you using (`go version`)?
   `go version go1.7 linux/amd64`
2. What operating system and processor architecture are you using (`go env`)?
   arch linux

[code]
1. What did you do?
   1. start 6x tikv
   2. start 1x pd
   3. start 1x tidb
   4. `CREATE DATABASE t1; USE t1; CREATE TABLE example (id integer,

[2016-08-31 19:37] spacejam commented on #1673
upon restarting tidb, tidb-server logs
[code]

[2016-09-01 00:39] shenli commented on #1673
@spacejam Thanks for your report! I wonder if all the tikv and pd instances run on the same disk?
@siddontang Please take a look at the pd error message.

[2016-09-01 00:46] shenli opened #1674 "Support unhex()"
See http://dev.mysql.com/doc/refman/5.7/en/string-functions.html#function_unhex

[2016-09-01 02:12] zimulala commented on #1130
Yep, TiDB can get correct result now.

[2016-09-01 02:12] #1130 closed

[2016-09-01 05:27] #1662 closed

[2016-09-01 12:53] #1674 closed

[2016-09-04 15:28] spacejam commented on #1673
Forgot to mention, tikv/tidb/pd all using master from the date of submission. @shenli yeah, they are all on the same disk but using different storage directories. let me know if there are issues reproducing this or if specific logs would be interesting

[2016-09-05 05:14] siddontang commented on #1673
Hi @spacejam

The error `cluster is not bootstrapped` tells that the PD has no data but TiKV has.
Please clean all your PD, TiKV data first.

[2016-09-05 05:20] siddontang commented on #1673
Hi @spacejam
Can you give us the more detailed PD logs?

[code]
@huachaohuang seems that etcd doesn't start ok?

[2016-09-05 08:16] huachaohuang commented on #1673
[code]
These logs shows that PD should have finished its initialization.
Before that, PD will response `cluster is not bootstrapped`, which is fine.
@spacejam Can you provide the logs of PD and TiDB when TiDB hangs?

[2016-09-05 09:28] shenli opened #1690 "Support mydumper"
We need to support some SQL statements to support mydumper.

[2016-09-06 03:27] shenli opened #1691 "Ingore foreign key after parsing create table statement"
We do not support foreign key constraint now. We only parse it and store it in the meta data. When using mysqldump to dump database from TiDB. We output foreign key information. This may cause error when we do not output table in proper order.
I suggest that we should ignore foreign key  in TiDB. Just parse it and ignore it.
@coocood @zimulala @tiancaiamao @hanfei1991 PTAL
/cc @ngaut @siddontang @

[2016-09-06 06:38] coocood opened #1693 "Optimize TRUNCTATE TABLE statement."
Current truncate table deletes all the keys in the table in a single transaction.

If the table is too big, this is going to be a large transaction.
A large transaction takes a very long time to finish, consume a lot of memory, and the chance to have confliction is very high.

We can optimize TRUNCATE TABLE by dropping the existing table and recreating a new table.

When `TRUNCATE TABLE` is execut

[2016-09-06 06:52] disksing opened #1694 "Increase gc_worker's requests' network timeout."
`CmdGC` usually takes time much longer than regular commands, use the same timeout could lead to frequently timeout and retry.

[2016-09-06 07:58] siddontang commented on #1694
1 million users, do bank transfer in 200 users randomly each time.

In tidb, I find no gc timeout and retry log for a long time, but all the scheduler workers costs 100% CPU caused by GC.

[code]

For TiDB:

[code]

As we can see, the gc worker starts but doesn't finish.

For TiKV:

[code]

[2016-09-06 08:29] tiancaiamao commented on #1690
I'm looking into it and find those problem so far.

TiDB doesn't support those commands:

[code]

/*!40108 WITH CONSISTENT SNAPSHOT */ don't parsed as comment and skiped:

[code]

[2016-09-07 09:43] foobar opened #1704 "trivial: naming convention for interface"
It seems some interface names are prefixed with `I`, like `IContext`, which is not popular in Golang.
Wondering if that's the naming convention adopted by the project, since it's also noticed that some other interfaces are not named alike.

[2016-09-07 09:46] ngaut commented on #1704
Good point, please feel free to send a PR.

[2016-09-08 16:42] haterbj opened #1709 "After launch, TiDB can only be connected from local machine, can not be connected from other machines."
开始没有指定HOST地址，显示的是0.0.0.0:4000，本机可以连上服务，其它机器连不了
指定IP地址xx.xx.89.69后，其它机器还是没法通过MYSQL协议连上来，这是为何呢。
谢谢
[root@iZ256zv7z3dZ bin]# ./tidb-server -host xx.xx.89.69
2016/09/09 00:35:57 printer.go:30: [info] Welcome to the TiDB.
2016/09/09 00:35:57 printer.go:31: [info] Version:
2016/09/09 00:35:57 printer.go:32: [info] Git Commit Hash: d6f386926143d716c858111ba8c2691b303fea7a
2016/09/09 00:35:57 printer.go:3

[2016-09-09 00:41] shenli commented on #1709
@haterbj Thanks for your report!
Which client do you use to connect to TiDB? May I have your connection URI or command line arguments? Is there any error log in TiDB when your connection failed?

[2016-09-09 02:26] coocood commented on #1709
@haterbj Please check your iptable status
[code]

[2016-09-09 02:29] tiancaiamao commented on #1378
seems it's already fixed in current version

[2016-09-09 02:29] #1378 closed

[2016-09-09 12:22] overvenus opened #1713 "Typo in information_schema.columns"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

go version go1.6.2 linux/amd64

2. What operating system and processor architecture are you using (`go env`)?

[code]

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

[code]

4. What did you expect to see?

[cod

[2016-09-09 14:58] #1713 closed

[2016-09-12 11:17] zimulala opened #1716 "Support backfill index concurrently in DDL"

[2016-09-13 06:25] #1694 closed

[2016-09-13 09:41] tboerger commented on #1495
Why do you want to drop the option to embed tidb? I really like the idea of an embedded database as some kind of alternative to sqlite in pure go.

[2016-09-13 10:41] ngaut commented on #1495
Hi @tboerger, you can still use TiDB as an embed database. TiDB acts as MySQL server by listening on unix socket or network socket. To making things simple and clean, users should use any of MySQL drivers.

[2016-09-13 18:48] tboerger commented on #1495
But if I need a server to provide the socket it's not embedded?

[2016-09-20 07:09] shenli opened #1744 "Find a better way to decode rows in concurrent/async way."
Refer: https://github.com/pingcap/tidb/pull/1661

[2016-09-21 01:30] hanfei1991 opened #1746 "Push Down TopN operator"
It will benifit a lot if we push down a topN operator, when we can't use any indecies and pks.

[2016-09-21 02:21] shenli commented on #1638
Why close this issue? @hanfei1991

[2016-09-21 02:23] hanfei1991 commented on #1638
@shenli because we have implemented steamed agg.

[2016-09-21 02:24] shenli commented on #1638
But we could use index to get max/min value of a column. It is better than streamed aggregation.

[2016-09-21 02:30] hanfei1991 commented on #1638
Well, we should rewrite select max(id) from t to select id from t order by id desc limit 1.

[2016-09-21 08:11] #1645 closed

[2016-09-21 11:41] shenli opened #1753 "Support Alter Table Modify statement"
See: http://dev.mysql.com/doc/refman/5.7/en/alter-table.html
When there is some data in a table. It is better to use modify than drop+add to change the type of existing columns.

[2016-09-24 03:38] siddontang opened #1762 "ticlient: add metric to count tikv RPC response error"
We can count different errors like "not in leader", "stale epoch", etc...

[2016-09-26 07:53] #1633 closed

[2016-09-27 01:35] elvizlai opened #1768 "docker release not worked"
Please answer these questions before submitting your issue. Thanks!
1. What version of Go are you using (`go version`)?
2. What operating system and processor architecture are you using (`go env`)?
3. What did you do?
   If possible, provide a recipe for reproducing the error.
   A complete runnable program is good.
4. What did you expect to see?
5. What did you see instead?

[code]

Start PD and

[2016-09-27 02:24] shenli commented on #1768
@elvizlai Thanks for your report!
It seems that  TiDB could not get response from TiKV. May I have your TiKV's log?

[2016-09-27 02:28] elvizlai commented on #1768
@shenli

[code]

[2016-09-27 02:33] siddontang commented on #1768
Hi @elvizlai

The TiKV log's time is `2016-09-27 02:27:26`, but your TiDB is `2016/09/27 01:39:41`.
Seem that you didn't start TiKV before TiDB?

[2016-09-27 02:37] elvizlai commented on #1768
the log is rebuild PD then rebuild TiKV， the TiDB is not running

[2016-09-27 02:42] shenli commented on #1768
Could you restart your TiDB now? Or may I have your TiKV's log around 01:39:41?

[2016-09-27 02:49] elvizlai commented on #1768
I process some new logs using following steps:
PD -> TiKV -> TiDB
then stop them:
TiDB - > TiKV -> PD

[log.zip](https://github.com/pingcap/tidb/files/494473/log.zip)

[2016-09-27 04:13] siddontang commented on #1768
@elvizlai

I use your script but with alpine docker image, and it works well.

[code]

[2016-09-27 06:46] elvizlai commented on #1768
@siddontang that's strange, I pull from pingcap/*:latest.
I will using alpine and try.

[2016-09-27 06:56] siddontang commented on #1768
Seem we should use alpine for the latest @iamxy now.

[2016-09-27 06:56] siddontang commented on #1768
Restarting TiDB can solve this? @elvizlai

[2016-09-27 07:00] elvizlai commented on #1768
@siddontang  you mean using latest tag? the answer is NO. I tried `docker restart`, but not work.

By the way. How Can I set passwd for TiDB, I create a new user with passwd. But can not login in:
[code]

mysql -h 138.68.xxx.xxx -P 4000 -u elvizlai -D mysql -p

the tidb log:
handshake error ERROR 1045 (28000): Access denied for user 'elvizlai'@'47.90.xxx.xxx' (using password: Yes)

[2016-09-27 07:05] shenli commented on #1768
@elvizlai Please redeploy your cluster with alpine image. It seems that the latest tikv image is not work.
For create user, try CREATE USER 'test1'@'%' identified by '123';

[2016-09-27 07:20] elvizlai commented on #1768
@shenli  user created succeed. But can not login. Any docs?

[2016-09-27 07:22] shenli commented on #1768
mysql -h${TIDB_HOST} -P 4000 -u ${USER_NAME} -p

[2016-09-27 07:39] elvizlai commented on #1768
@shenli  As I mention before. I know how to connect to msql.

Did you tried that cmd?

[2016-09-27 08:10] shenli commented on #1768
@elvizlai I will try this.

[2016-09-27 09:06] disksing commented on #1762
#1765 Fixed it.

[2016-09-27 09:06] #1762 closed

[2016-09-27 17:22] iamxy opened #1770 "Encounters an error while executing `LOAD DATA ...` on some platforms"
Test File: `/tmp/load_data_test.csv`
[code]
Create Table:
[code]
Run STMT:
[code]
Error Occurred:
[code]
Version of MySQL Client:
[code]
TiDB Output Logs:
[code]

The same error met on Ubuntu 14.04 with MySQL client version:
[code]

[2016-09-27 17:57] iamxy opened #1771 "Support executing `LOAD DATA INFILE` to import a huge CSV file"
Now the `LOAD DATA INFILE` implements importing data from a file in one transaction.
So if the file has too many rows, the TiDB memory may run out.
Splitting to a number of small transactions within execution seems to be a solution.
Even further consider concurrent importing to speed up.

[2016-09-28 03:43] shenli commented on #1768
@elvizlai We found the problem. It seems that some mysql clients do not consider server capability during handshake stage. We will fix this. @tiancaiamao

[2016-09-28 06:24] coocood opened #1773 "Mark `SingleReadOnly` transaction for further optimization."
When `autocommit` is set to 1 and there is no explicit `begin`, a SELECT statement will run in its own transaction and this transaction will never do write operation and read for only once, we can mark the transaction as `SingleReadOnly`.

We can do some optimization on it, like ignore lock check, as there will never be repeated read, we don't need to guarantee repeatable read.

Notice: some selec

[2016-09-28 08:01] zimulala commented on #1770
Start MySQL client need to add `--local-infile=1` option. It can solve this problem.
The start MySQL client command like `mysql --local-infile=1 -u root -h 127.0.0.1 -P 4000`.

[2016-09-28 08:06] iamxy commented on #1770
got it! thx @zimulala

[2016-09-28 08:07] #1770 closed

[2016-09-28 08:07] zimulala commented on #1770
Some versions of the MySQL client does not need this option. ^_^

[2016-09-28 10:13] ruiaylin opened #1775 "Can not connect to the TiDB Server using the username and correct password"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
      go version go1.7.1 linux/amd64
2. What operating system and processor architecture are you using (`go env`)?
   [root@l20-8-65 ~]# cat /etc/redhat-release
    CentOS release 6.7 (Final)
3. What did you do?
    When the deployment of the TiDB server was done . I connect to

[2016-09-28 10:16] shenli commented on #1775
@ruiaylin Thanks for your feedback!
Some clients do not set capability properly. We will fix it in this PR: https://github.com/pingcap/tidb/pull/1772

[2016-09-29 04:29] overvenus opened #1778 "Add unnecessary vendor `lint` after `make check`"
After including `_vendor/src` to `GOPATH`, we may add unnecessary vendor `lint` after `make check` if there is no `lint` present.

[code]

ref: #1748

/cc: @tiancaiamao

[2016-09-29 04:34] overvenus commented on #1778
I think .gitignore is the quickest solution.

[2016-09-29 04:48] overvenus commented on #1778
`make install` may fails too.

[2016-09-29 04:48] tiancaiamao commented on #1778
let `go get github.com/golang/lint/golint` use the origin GOPATH ?
@shenli

[2016-09-29 04:48] ngaut opened #1779 "We should speed up the bg(background job) phase."
Currently, the bg(background job) is really slow. Dropping a table with 1 million rows needs hours.

[2016-09-29 04:53] tiancaiamao commented on #1778
`make install` can be removed, I think

[2016-09-29 05:00] tiancaiamao commented on #1778
and @coocood , what's your option?

[2016-09-29 05:02] coocood commented on #1778
How about go get golint before set _vendor to GOPATH?

[2016-09-29 05:04] coocood commented on #1778
go get golint use origin GOPATH is better.

[2016-09-29 05:18] overvenus commented on #1778
Not only golint. Glide, errcheck and anything relate to `go (get|build|install)` may be affected.

[2016-09-29 08:36] ngaut opened #1784 "tidb-server crashed when i am tring to insert lots of data"
mysql> INSERT INTO t2 SELECT \* FROM t2;
Query OK, 57344 rows affected (0.92 sec)

mysql> INSERT INTO t2 SELECT \* FROM t2;
Query OK, 114688 rows affected (1.92 sec)

mysql> INSERT INTO t2 SELECT \* FROM t2;
Query OK, 229376 rows affected (3.87 sec)

mysql> INSERT INTO t2 SELECT \* FROM t2;
Query OK, 458752 rows affected (7.36 sec)

mysql> INSERT INTO t2 SELECT \* FROM t2;
Query OK, 917504 rows af

[2016-09-29 11:09] zimulala opened #1785 "Add the anonymous index"
1. What did you expect to see?

mysql> create table ttt (a int, b int);
Query OK, 0 rows affected (0.02 sec)

mysql> alter table ttt add key (a);
Query OK, 0 rows affected (0.06 sec)
Records: 0  Duplicates: 0  Warnings: 0

mysql> alter table ttt add key (b);
Query OK, 0 rows affected (0.02 sec)
Records: 0  Duplicates: 0  Warnings: 0

2.What did you see instead?

mysql> create table ttt (a int, b i

[2016-09-30 02:22] overvenus commented on #1778
close via #1782

[2016-09-30 02:22] #1778 closed

[2016-09-30 03:56] ngaut opened #1787 "Using kubernetes to deliver the TiDB cluster."
Currently deploy and rolling update the cluster is kind of pain, i guess the better way is using kubernetes to do all the staff.

[2016-09-30 04:59] GregoryIan commented on #1787
[how to easily install a secure Kubernetes cluster](http://kubernetes.io/docs/getting-started-guides/kubeadm/) . The new tool kubeadm in Kubernetes 1.4.

[2016-09-30 05:52] tiancaiamao opened #1788 "memdb randHeight function can be improved"
inspired by http://stackoverflow.com/questions/22892120/how-to-generate-a-random-string-of-a-fixed-length-in-golang

in the code `rand.Int() % 4`, a random int can be use several times by use parts of their bits each time, thus reduce the need of calling rand.Int()

[2016-09-30 05:53] tiancaiamao commented on #1788
https://github.com/pingcap/tidb/blob/master/_vendor/src/github.com/pingcap/goleveldb/leveldb/memdb/memdb.go#L224

[2016-09-30 08:36] zhangjinpeng1987 commented on #1784
The first `select count() from t2` encounter many locks left by the last `INSERT INTO t2 SELECT * FROM t2`, and need wait the locks timeout.

[2016-09-30 10:41] ngaut commented on #1784
mysql> select count(*) from t2;
+----------+
| count(*) |
+----------+
| 26380032 |
+----------+
1 row in set (9.53 sec)

mysql> insert into t2 select * from t2 limit 4000000;
Query OK, 4000000 rows affected (1 min 18.82 sec)

mysql> insert into t2 select * from t2 limit 4000000;
Query OK, 4000000 rows affected (1 min 21.77 sec)

mysql> insert into t2 select * from t2 limit 4000000;
ERROR 2013 (HY

[2016-09-30 11:04] zhangjinpeng1987 commented on #1784
I encounter the same problem. I observe the memory usage and find when the last `insert into ...` is running, the tidb progress used over 90% memory of the machine and then was killed by kernel. I guess it is because the memory used by the previous sqls has not been released by gc modular yet.
[code]

[2016-10-03 00:02] lavvy commented on #673
Any milestone for this feature. Geospatial and realtime?  This is one of the biggest features of modern databases

[2016-10-03 11:41] ngaut opened #1791 "tidb-server crashed when i inserted 2 million rows in one transaction contiguously"
I am using the latest master branch of tidb, tikv and pd.

mysql> insert into t1 select \* from t1 limit 2000000;
Query OK, 2000000 rows affected (1 min 13.37 sec)

mysql> insert into t1 select \* from t1 limit 2000000;
Query OK, 2000000 rows affected (1 min 31.87 sec)

mysql> insert into t1 select \* from t1 limit 2000000;
Query OK, 2000000 rows affected (1 min 0.80 sec)

mysql> insert into t1 se

[2016-10-03 13:05] c4pt0r commented on #1791
[ 6800.429480] Out of memory: Kill process 4343 (tidb-server) score 503 or sacrifice child
[ 6800.429495] Killed process 4343 (tidb-server) total-vm:4480864kB, anon-rss:4039668kB, file-rss:0kB, shmem-rss:0kB
[ 6800.660483] oom_reaper: reaped process 4343 (tidb-server), now anon-rss:0kB, file-rss:8kB, shmem-rss:0kB

[2016-10-03 13:06] c4pt0r commented on #1791
seems tidb-server didn't release memory in time.

[2016-10-03 15:09] shenli commented on #673
@lavvy Thanks for your feedback! We do not have plan for this feature now. We may reconsider the feature later. But it will be no early than the end of this year.

[2016-10-03 16:09] ngaut commented on #1791
And after i restarted tidb-server, it could not count the table forever. I guess there is a bug related to GC or lock.

➜  [118] tidb-bin mysql -h127.0.0.1 -P4000 -uroot
Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 10010
Server version: 5.5.31-TiDB-1.0 MySQL Community Server (GPL)

Copyright (c) 2000, 2016, Oracle and/or its affiliates. All rights reserved.

[2016-10-03 16:15] ngaut commented on #1791
From the log of tidb, looks like ticlient always got a NotLeder error.

2016/10/04 00:13:28 kv.go:211: [warning] tikv reports `NotLeader`: region_id:2 leader:<id:7 store_id:6 > , ctx: region_id:2 region_epoch:<conf_ver:3 version:2 > peer:<id:5 store_id:4 > , retry later
2016/10/04 00:13:28 backoff.go:158: [warning] send tikv request error: read tcp 192.168.199.118:42147->192.168.199.116:20160: i/o

[2016-10-04 12:42] munggruel opened #1793 "future fulltext search support"
Will you have  fulltext search support plan in future

[2016-10-04 12:42] ngaut commented on #1793
Yes, we will.

[2016-10-04 12:52] ngaut opened #1794 "Speed memdb inside of goleveldb by removing locks."
Currently we are using memdb in a single thread, so the lock is not necessary.

[2016-10-07 04:53] siddontang opened #1796 "metics: support should "/metrics" path"
Like PD, we can use  `curl http://127.0.0.1:10080/metrics` to see the metrics directly and easily.

[2016-10-08 02:25] tiancaiamao commented on #1794
Once upon a time, I've tried to remove the lock in the memdb rand.Source, but get runtime panic, and later fix it in this commit:
https://github.com/pingcap/goleveldb/commit/c131135d59a38f4212f627cde570dddfe5261c43

So maybe it's not the truth "memdb in a single thread" and lock can't be avoid.

[2016-10-08 08:24] #1796 closed

[2016-10-09 07:19] shenli opened #1800 "Support divide and subtraction push down on localstore"
Before we implement divide/subtraction on TiKV, we should implement it on TiDB's local storage.

[2016-10-09 07:19] shenli commented on #1800
/cc @BusyJay

[2016-10-09 09:28] shenli opened #1802 "Support use binary as table default charset"
CREATE TABLE `t1` (
  `accout_id` int(11) DEFAULT '0',
  `summoner_id` int(11) DEFAULT '0',
  `union_name` varbinary(52) NOT NULL,
  `union_id` int(11) DEFAULT '0',
  PRIMARY KEY (`union_name`)) ENGINE=MyISAM DEFAULT CHARSET=binary;

[2016-10-10 06:46] coocood opened #1805 "Add a `doc.go` file in `plan`, add package level document."
The plan package has a lot of complex logic which is hard to read, we need documentation at package level to make it easier to understand.

[2016-10-10 10:12] JackDrogon opened #1808 "SQL use like statement，show Utf8Error"
ENV:
go version: `go1.6.1 linux/amd64`

go env:

[code]

Problem:
I use sql to search data like '%{', an error happened like that `ERROR 1105 (HY000): other error: unknown error Codec(Encoding(Utf8Error { valid_up_to: 253 }))`

SQL: `select * from contents where data like "{%";`, Data like that:  `{"__plat":"pc_web","content":"现在我发现这些八卦记者真能忽悠"}`

[2016-10-10 10:18] coocood commented on #1808
@JackDrogon
Thank you for your report, we will look into it.

[2016-10-10 10:18] siddontang opened #1809 "10000 groutines test hang up"
I used 10000 groutines to connect TiDB, execute some queries and then close the connection. After 6000+ operations finished, I found that 3000+ goroutines were hung up and the test was blocked too.

The pprof goroutine for the test was:
[code]

The pprof goroutine for TiDB:
[code]

And in `/var/log/kern.log`, I found
[code]

Seem that the system thinks too many connections at the same time for our

[2016-10-10 10:23] siddontang opened #1810 "new connections with different collation"
I used go-mysql-driver to communicate TiDB, but the log in TiDB for the connection was:
[code]

The collation field is different when closing the connection

[2016-10-10 10:32] coocood commented on #1808
@JackDrogon
How is your data inserted? can you reproduce this error?

[2016-10-10 11:02] #1810 closed

[2016-10-11 02:51] nolouch commented on #1809
I turn the `tcp_syscookies` off and tune up`somaxconn`, the maximum socket  connections. it becomes normal.
[code]

[2016-10-11 03:09] JackDrogon commented on #1808
I can reproduce this error. I use gorm as orm, db.update for insert data. `select * from contents limit 10;` can show the data. the result as
[code]
but I use `select * from contents where data like "{%";` what report error.
mysql uri is `root:@tcp(127.0.0.1:4000)/test?charset=utf8&parseTime=True&loc=Local`

[2016-10-11 03:11] coocood commented on #1808
The input data is written in code or parsed from some text file?

[2016-10-11 03:12] JackDrogon commented on #1808
The input data is from kafka.

[2016-10-11 03:14] JackDrogon commented on #1808
The data is ` `data` varchar(255) DEFAULT NULL` in tidb.

[2016-10-11 03:15] coocood commented on #1808
Maybe the data in kafka is not UTF8, can you confirm that?

[2016-10-11 03:16] coocood commented on #1808
Can you provide sample input data, so we can reproduce it.

[2016-10-11 03:19] JackDrogon commented on #1808
I can output data in my go progrma. My terminal's encoding is utf8. So I think the data is utf8.

[2016-10-11 03:23] JackDrogon commented on #1808
Some data is about my company's privacy? Can you offer me your email address. I can give you some data by email.

[2016-10-11 03:41] coocood commented on #1808
Please send it to email at my profile page.
Thank you.

[2016-10-11 04:45] JackDrogon commented on #1808
OK.

[2016-10-11 05:59] siddontang opened #1815 "add a session var to control TIME_TABLE_SCAN"
Most of the time, we don't need to care this value in log.
2016/10/11 13:54:34 executor_distsql.go:783: [info] [TIME_TABLE_SCAN] 599.708386ms

[2016-10-13 03:41] #1802 closed

[2016-10-13 03:44] coocood commented on #1794
Resolved by https://github.com/pingcap/goleveldb/pull/4 and https://github.com/pingcap/tidb/pull/1812

[2016-10-13 03:44] #1794 closed

[2016-10-13 03:47] coocood commented on #1775
fixed by https://github.com/pingcap/tidb/pull/1772

[2016-10-13 03:47] #1775 closed

[2016-10-13 03:52] coocood commented on #1709
@haterbj
It has been many days since you report the issue, so I'll just close it, please reply if your issue still exists.

[2016-10-13 03:52] #1709 closed

[2016-10-13 03:52] #1693 closed

[2016-10-13 03:53] #1788 closed

[2016-10-13 04:46] coocood commented on #1626
Obsolete issue, we don't save binlog in TiKV, we write binlog in local file instead.

[2016-10-13 04:46] #1626 closed

[2016-10-13 04:54] coocood commented on #1278
When `character_set_client` is not UTF8, we should transform the client character set to UTF8, and transform UTF8 result to client character set.

[2016-10-13 04:57] coocood commented on #1277
Duplicated to https://github.com/pingcap/tidb/issues/1623

[2016-10-13 04:57] #1277 closed

[2016-10-13 05:01] coocood commented on #990
This issue doesn't have enough information to address.

[2016-10-13 05:01] #990 closed

[2016-10-13 05:04] coocood commented on #48
Obsolete.

[2016-10-13 05:04] #48 closed

[2016-10-13 05:05] coocood commented on #245
Duplicated to https://github.com/pingcap/tidb/issues/1793

[2016-10-13 05:05] #245 closed

[2016-10-13 05:14] coocood commented on #1744
The result of https://github.com/pingcap/tidb/pull/1661 shows that decoding rows concurrently doesn't have obvious improvement and imposes a lot of complexity.

[2016-10-13 05:14] #1744 closed

[2016-10-13 05:33] coocood commented on #802
TRUNCATE table has been optimized, now we need to optimize DELETE without WHERE.

[2016-10-13 05:34] coocood commented on #1254
Duplicated to https://github.com/pingcap/tidb/issues/1283

[2016-10-13 05:34] #1254 closed

[2016-10-13 05:46] coocood commented on #295
Duplicated to https://github.com/pingcap/tidb/issues/1753

[2016-10-13 05:46] #295 closed

[2016-10-13 05:47] coocood commented on #278
It's supported now.

[2016-10-13 05:47] #278 closed

[2016-10-13 06:05] coocood commented on #1107
After refactor, index hint logic has been removed, we need to add it back again.
@hanfei1991

[2016-10-13 06:18] coocood commented on #586
Now the result is
"ERROR 1105 (HY000): Incorrect table definition; there can be only one auto column and it must be defined as a key"
Though error code is not correct.

[2016-10-13 06:24] coocood commented on #886
obsolete after refactor.

[2016-10-13 06:24] #886 closed

[2016-10-13 06:29] coocood commented on #1116
Already fixed.

[2016-10-13 06:29] #1116 closed

[2016-10-13 06:30] coocood commented on #1690
Fixed by #1701 & #1703

[2016-10-13 06:30] #1690 closed

[2016-10-13 06:31] #1657 closed

[2016-10-13 06:34] #1543 closed

[2016-10-13 06:44] coocood commented on #1496
Already implemented.

[2016-10-13 06:44] #1496 closed

[2016-10-13 06:46] #1415 closed

[2016-10-13 07:21] coocood commented on #413
Already fixed.

[2016-10-13 07:21] #413 closed

[2016-10-13 07:27] coocood commented on #392
This is not a bug, MySQL has the same behavior.

[2016-10-13 07:27] #392 closed

[2016-10-13 07:36] coocood commented on #1379
Duplicated to #1753

[2016-10-13 07:36] #1379 closed

[2016-10-13 07:53] coocood commented on #1664
@shenli We don't need to sync system variable through binlog.

This issue is duplicated to #1646

[2016-10-13 07:53] #1664 closed

[2016-10-13 13:15] jojo05 opened #1823 "suggestion: document minimum number of servers"
Can you document/define the most basic configurations, i.e. with 2, 3 or 4 servers?

Also, will you support rpi3 ARM64 nodes?

rpi3 + 1TB disk could be great for additional nodes

http://wdlabs.wd.com/products/wd-pidrive-1tb-kit/

[2016-10-14 03:06] coocood opened #1825 "Should we follow golint's rule for 'context.Context'?"
golint added a rule that `context.Context` should be the first parameter in a function.

But that refers to standard package `context.Context`, in our case, `context.Context` is a totally different thing.

Currently, we have this warning in 129 function definition and more in function usage, the cost to change it is very high.

[2016-10-15 04:52] shenli opened #1829 "Find a better way to handle add unique index error"
When  we add an unique index on a column which have duplicate value. We will meet infinite loop and the ddl process will be blocked. We should have this error.

[2016-10-17 04:57] ngaut commented on #1823
Thanks for your report. @jojo05
We will support rpi3 ARM64 nodes, and we need some help to test rpi3.

The minimum setup should be at lease 3 servers since we should keep 3 replicas.

[2016-10-17 06:23] shenli commented on #1823
@jojo05 Hope this document will be helpful. https://github.com/pingcap/docs/blob/master/op-guide/overview.md

[2016-10-17 07:12] #1646 closed

[2016-10-17 07:42] coocood opened #1830 "Make concurrent limit count configurable."
Currently, we have a hard coded limit `100` on concurrent queries, a query must get a token before execution.
This should be configurable by setting a tidb specific system variable.

[2016-10-17 08:17] coocood opened #1831 "error in `util/types.ComputeDivInt` is ignored."
We should properly handle the error returned by `util/types.ComputeDevInt`.

[2016-10-17 09:26] tiancaiamao commented on #1791
After investigate this bug for a while, I find some clues.

One observation is that tidb-server never release memory as long as the session is alive, there must be something wrong.

Another found is that there is bug may cause resource leak, the detail info:

`partialResult` don't release resource on Close (wait its fetch goroutine exit) https://github.com/pingcap/tidb/blob/efc96a73a6e66c155082e86

[2016-10-17 09:50] coocood opened #1832 "Returns `Data Too Long` error for inserting a value longer than column length."
Currently, we just truncate the value, and doesn't returns error when inserting a value longer than column defined length.

[code]

This should return `Data Too Long` error.
[code]

But we return successfully, and the data is truncated to `abcdabcd` silently.

[2016-10-17 11:47] tiancaiamao commented on #1791
Get pprof info http://xxx.xxx.xxx:port/debug/pprof/goroutine?debug=1

[code]

This line means there are 68 goroutines totally:

`goroutine profile: total 68`

And 47 of them block at distsql.go:175

[code]

I use a slightly changed version for testing, and distsql.go:175 is actually https://github.com/pingcap/tidb/blob/efc96a73a6e66c155082e863d620b4ca9984d48f/distsql/distsql.go#L169

In a word, go

[2016-10-18 06:12] #1832 closed

[2016-10-18 07:04] tiancaiamao commented on #1791
after PR https://github.com/pingcap/tidb/pull/1834 , maybe there is still leak under very heavy throughput, infrequency and take longer to debug, I'll come back later.

this is the place may leak:
https://github.com/pingcap/tidb/blob/6938f973cb01b4f1209d7af6bf9d2e789b23ab51/store/tikv/coprocessor.go#L328

[2016-10-19 05:26] GregoryIan opened #1842 "should we add tableInfo into ddl job?"
I think we can add the associated tableInfo into dll job (addColumn,dropColumn,addIndex, dropIndex) before we place it into history ddl job queue.

The cause is  TiDB-Binlog need to compute the new schema base on ddl job.
I don't think it can guaranteed completely correct, so load from TiDB maybe is the best way.

@shenli @coocood @iamxy

[2016-10-19 05:45] coocood commented on #1842
Yes, add full TableInfo in ALTER TABLE DDL job doesn't add much cost.
When we need it, we can use it directly. Otherwise we have to a lot of computing to reconstruct it.

[2016-10-19 05:55] shenli commented on #1842
@zimulala PTAL

[2016-10-19 07:09] iamxy commented on #1842
Good point !!
So we can restore the schema state of any time point by the job list.

[2016-10-19 08:50] disksing opened #1845 "After drop table, metrics shows that scan command takes too much time"
In most cases, only keys (or indexed columns) must be load for delete, using Scan is a waste.

Possible fix 1: Instead of using kv.scan, ddl worker use distSQL to load only keys and necessary columns.
Possible fix 2: Add a new kv command 'deleteRange', push it down to tikv.

[2016-10-19 09:53] coocood commented on #1845
I think we need a mutation coprocessor, which can be used to do many kind of mutation operations.

[2016-10-19 10:33] tiancaiamao opened #1847 "reduce Txn Committer memory footprint"
Txn Committer consume too much memory.

transaction data is batch written to memdb before send to tikv.
memdb data can't be send directly, it must be marshaled to kv protobuf, so we need memdb x2 sized memory.

to make the most of golang, txn committer use multi goroutines for sending data, much of them would be blocked at network, their referenced memory can't be free.

what is worse, transaction

[2016-10-19 12:44] tiancaiamao opened #1849 ""show index in table" not recognized"
Please answer these questions before submitting your issue. Thanks!

3. What did you do?

[code]

4. What did you expect to see?

 `show index in table` should work the same as `show index from table`

[2016-10-19 14:41] shenli opened #1851 "Support show create database statement"
See http://dev.mysql.com/doc/refman/5.7/en/show-create-database.html

[2016-10-20 07:57] #1746 closed

[2016-10-20 12:09] coocood opened #1853 "Reduce memory usage taken by information schema."
The memory used by information schema is too much.

[2016-10-22 06:59] #1823 closed

[2016-10-22 07:00] #1809 closed

[2016-10-22 13:46] nolouch commented on #1851
mydumper also need this statement to dump data
[code]

[2016-10-24 06:58] GregoryIan commented on #1842
I think I should add that we need tbInfo in CreateTable, AlterTable(Truncate Table), DBInfo in CreateDB.
In conclusion, All operations that change tableinfo are required to carry tbInfo.

[2016-10-24 12:19] ngaut opened #1869 "DDL owner eats too much cpu if lease is 1ms"
Currently, the lease of DDL owner is (4 * lease), when i want to import data, i set lease to 1ms. It eats too much CPU even i didn't do anything.

We may need to set Max(3s, lease) as the lease of DDL owner.

[2016-10-26 01:32] shenli commented on #1853
@coocood Should we close this issue now?

[2016-10-26 01:33] shenli commented on #1869
@zimulala Please take a look at this issue.

[2016-10-26 01:52] shenli commented on #1847
@tiancaiamao Any solution for this issue?

[2016-10-26 02:07] zimulala commented on #1869
I know it and I will solve it. @shenli

[2016-10-26 04:56] #1829 closed

[2016-10-26 06:22] #1849 closed

[2016-10-26 08:10] #1842 closed

[2016-10-26 08:25] #1869 closed

[2016-10-26 12:15] shenli opened #1878 "Support identifier start with numbers"
TiDB:
mysql> create database 123test;
ERROR 1105 (HY000): line 0 column 19 near "test"

MySQL:
mysql> create database 123test;
Query OK, 1 row affected (0.01 sec)

[2016-10-27 03:02] sotex opened #1881 "How to build TiDB?"
1. What version of Go are you using (`go version`)?

[code]
2. What operating system and processor architecture are you using (`go env`)?

[code]
3. What did you do?

   Nothing, how to build TiDB is all I want to konw.
   For now, still no idea.
4. What did you expect to see?

   A brief instruction of how to build it.(For people who are less familiar with golang.)

[2016-10-27 03:18] overvenus commented on #1881
你好，

你可以用下面的命令来编译：
[code]

编译完成的 tidb-server 在 bin 文件夹下。

[2016-10-27 05:33] shenli commented on #1881
@sotex You can get the compiled binaries here: https://github.com/pingcap/docs-cn/blob/master/op-guide/binary-deployment.md

[2016-10-27 12:53] Librazy opened #1890 "Add a flag to print the version (Git Commit Hash) and timestamp (UTC Build Time)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
N/A

2. What operating system and processor architecture are you using (`go env`)?
N/A

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

Try to figure out the pre-compiled binary's version and UTC Build Time witho

[2016-10-27 14:49] shenli commented on #1890
@Librazy Good idea! Could you send us a PR?

[2016-10-28 05:42] GregoryIan opened #1893 "support [SHOW MASTER STATUS]"
I think we can support `SHOW MASTER STATUS` in order to make TiDB more friendly to be synchronized.

Use scenario:
While we deploy TiDB-Binlog,  we can do like blew:
1. deploy pump and cistern component to persist Binlog.
2. use  [myDumper](https://github.com/maxbube/mydumper) to dump TiDB data, schema, meta to file at one time point
3. read metadata file to get dump point **max ts over all TiDBs*

[2016-10-28 06:29] iamxy commented on #1893
The core problem is how to retrieve the position which is the latest written commitTS over all TiDBs. Where store this value ?

[2016-10-28 07:33] GregoryIan commented on #1893
It's hard to make TiDB support it, we will get the max ts from cistern or pump after master service stop for some time while we switch Master / Slave or others.

[2016-10-28 07:33] #1893 closed

[2016-10-28 13:31] sjmudd opened #1895 "Feature request: Support CHECKSUM TABLE command"
When importing data into TiDB we want to be sure the data is correct. A convenient command in MySQL is CHECKSUM TABLE <tablename> and this command is not currently supported by TiDB.

Adding it would make it easy to confirm if the data loaded in from an external source matches or not.

Example I did something like:

`$ ssh mysqlhost sudo mysqldump test SomeTable | mysql -h tidbhost -P 4000 -u root

[2016-10-28 13:57] coocood commented on #1895
@sjmudd
Thank you for your suggestion.
This is a very useful feature.
We will let you know when starts to support this feature.

But we can't use the same algorithm to calculate the checksum value because we store data in a different format than MySQL, so the checksum value for the table imported from MySQL to TiDB will be different.

[2016-10-28 16:40] Librazy commented on #1890
#1896 Here it is～

[2016-10-29 23:39] #1890 closed

[2016-10-31 02:08] mysqlbranch opened #1900 "Can the tidb run as production?"
Can the tidb run as production? Thanks.

[2016-10-31 03:26] ngaut commented on #1900
Many of customer are using TiDB in production with our support. Please contact us if you want to use it in production now. You may also use it when we release the GA version in the next a few months.

[2016-10-31 05:38] coocood opened #1904 "Table names are shown as lower case."
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
Go 1.7

2. What operating system and processor architecture are you using (`go env`)?
darwin64

3. What did you do?

[code]

4. What did you expect to see?
[code]
5. What did you see instead?

[code]

[2016-10-31 05:42] coocood opened #1905 "Returns error indicates that we don't support ALTER TABLE ADD PRIMARY KEY"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
Go 1.7

2. What operating system and processor architecture are you using (`go env`)?
darwin64

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
[code]

4. What did you expect to see?

An error indicates that this

[2016-10-31 08:28] shenli opened #1906 "Support from_unixtime()"
https://dev.mysql.com/doc/refman/5.5/en/date-and-time-functions.html#function_from-unixtime

[2016-10-31 09:30] tiancaiamao opened #1908 "distinguish between unicode.ReplacementChar and io.EOF in lexer peek() function"
lexer `peek()` function return `unicode.ReplacementChar` when it meets EOF.
this is not a good way because `unicode.ReplacementChar` is a valid mysql identifier char
we must distinguish those two cases.

ref https://github.com/pingcap/tidb/pull/1887

[2016-10-31 09:57] #1904 closed

[2016-10-31 18:13] Librazy commented on #1385
An AUR package for Arch Linux using binary package:
https://aur.archlinux.org/packages/tidb-bin/

[2016-11-01 05:11] #1851 closed

[2016-11-01 08:25] tiancaiamao opened #1918 "Wrong default value for "show create table" output"
What did you do?

[code]

What did you see?

[code]

 `a` int(11) NOT NULL DEFAULT NULL is wrong.

[2016-11-01 08:34] #1878 closed

[2016-11-02 03:26] #1779 closed

[2016-11-02 03:42] disksing commented on #1845
It turns out that using scan is not the main reason. We have fixed some other issues, now the performance improves a lot.
Refer:
https://github.com/pingcap/tidb/pull/1888
https://github.com/pingcap/tidb/pull/1882

[2016-11-02 03:42] #1845 closed

[2016-11-02 07:25] #1918 closed

[2016-11-03 07:29] GregoryIan opened #1936 "Make Job encode and decode more friendly"
while we use model.Job, we found the Job's Encode() and Decode() is not symmetrical.
We must use them like this:
[code]
the bad is we must specify the var1 type (But the var are not always same for every Job),  otherwise while we call job2.Encode() again, It maybe cause encoding job.Args into an error type.
I think we can have a symmetrical encode and decode function to make it sense.
@coocood @ia

[2016-11-03 09:15] coocood opened #1938 "Make sure DDL jobs are canceled when encountered non-retriable error."
In `ddl` package, there are many places we call
`job.State = model.JobCancelled`
It's easy to forget to set it.
We should check the error, and set cancel it in one place.

[2016-11-03 10:50] zimulala opened #1939 "Constraints' keys can't be duplicated"
1.What did you do?
create table t(a int, b int, key (a, b, a));

2.What did you expect to see?
ERROR 1060 (42S21): Duplicate column name 'a'

3.What did you see instead?
Query OK, 0 rows affected (0.01 sec)

[2016-11-05 07:09] ngaut opened #1954 "Able to handle big transaction"
Currently user may send very big transaction to tidb-server, we should handle it properly.
Such as:
Add  millions of rows.
Delete millions of rows.
Update or replace millions of rows.

[2016-11-06 04:12] steven88888 opened #1958 "not suppot alter table to change a column definition"
ALTER TABLE user_device CHANGE id  id INT AUTO_INCREMENT NOT NULL COMMENT '1000000000 userId'

===

got a error as following:

ERROR 1105 (HY000): line 0 column 30 near " id  id INT AUTO_INCREMENT NO...

[2016-11-06 09:44] coocood opened #1959 "Multi column index produce wrong result."
3. What did you do?

[code]

4. What did you expect to see?

empty result

5. What did you see instead?

[code]

[2016-11-07 14:13] keithyau commented on #1174
Same here

![image](https://cloud.githubusercontent.com/assets/659311/20060714/648d64e4-a537-11e6-8970-4fc3099b394e.png)

import a .sql file have error like the picture show. it is OK in mysql

[2016-11-07 14:17] keithyau commented on #1174
during import with source command

![image](https://cloud.githubusercontent.com/assets/659311/20060813/ef427ed0-a537-11e6-9bfe-f34e29ed7091.png)

[2016-11-08 02:19] shenli opened #1972 "Speed up LoadSchema"
When there are many tables (more than 3k). LoadSchema will cost more than 30s. We should speed it up.

[2016-11-08 02:46] coocood commented on #1959
Fixed by https://github.com/pingcap/tidb/pull/1964

[2016-11-08 02:46] #1959 closed

[2016-11-08 03:07] #1853 closed

[2016-11-08 08:42] zimulala opened #1974 "Inserting the decimal type of data encounters the overflow"
1. What did you do?
CREATE TABLE `sometable` (  `id` int(11) DEFAULT NULL,  `name` varchar(255) DEFAULT NULL,  `balance` decimal(8,4) DEFAULT NULL );
insert sometable values(1, "aaa", 99999);

2. What did you expect to see?
ERROR 1264 (22003): Out of range value for column 'balance' at row 1

3. What did you see instead?
Query OK, 1 row affected (0.01 sec)

Then execute `select * from sometable;`

[2016-11-08 12:51] keithyau opened #1978 "Program exit during import a large data from MySQL Dump (7GB)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.6.3

2. What operating system and processor architecture are you using (`go env`)?
![image](https://cloud.githubusercontent.com/assets/659311/20099741/26fd38e8-a5f5-11e6-8a22-55cfbc7d4337.png)

3. What did you do?
If possible, provide a recipe for reproducing the error.
A comp

[2016-11-08 13:01] shenli commented on #1978
@keithyau May I have the full panic stack?

[2016-11-08 14:13] keithyau opened #1980 "Question: How long it take to import a 7GB mysqldump ?"
FYI, it is just a question. or i need some settings ? currently just using default settings.

[2016-11-08 14:21] shenli commented on #1980
@keithyau It depends on the schema and your hardware.
We do not recommend use mysqldump  to import large data. Compared with MySQL, TiDB has higher latency. So use single thread to import data will be slow.
TiDB could reach higher throughput that MySQL. We usually use mydumper/myloader to migrate data from MySQL to TiDB. You can refer to this [docs](https://github.com/pingcap/docs-cn/blob/master/o

[2016-11-08 14:47] keithyau commented on #1980
will try, thanks

[2016-11-08 14:47] #1980 closed

[2016-11-08 15:03] keithyau commented on #1978
Just a "killed", no other log

[2016-11-08 15:08] shenli commented on #1978
@keithyau Any information in dmesg? Or any log for the reason why the process is killed, such as OOM.

[2016-11-09 02:38] keithyau commented on #1978
in tidbserver log, like below, then killed
![image](https://cloud.githubusercontent.com/assets/659311/20125420/642a4f8a-a668-11e6-94d1-6385864e3069.png)

at myloader, it is like this

![image](https://cloud.githubusercontent.com/assets/659311/20125440/7b7b4428-a668-11e6-94e6-859d63c7049b.png)

The tables got something, but not all imported.

![image](https://cloud.githubusercontent.com/assets/6593

[2016-11-09 02:50] shenli commented on #1978
@keithyau Thanks! We will discuss this bug today and keep you updated.

[2016-11-09 08:53] #1974 closed

[2016-11-09 10:22] coocood opened #1983 "Set Default SQL Mode the same as MySQL 5.6"
Even MySQL 5.7 has changed default SQL mode to strict mode, many applications still using MySQL 5.6 and lower version and assuming non-strict mode, set default SQL mode to strict mode creates many compatibility issues.

[2016-11-09 13:08] keithyau commented on #1978
some more log

![image](https://cloud.githubusercontent.com/assets/659311/20139348/99e52368-a6c0-11e6-91b1-a26d068145e2.png)

[2016-11-09 14:24] shenli commented on #1978
@keithyau From your recent logs, we can tell that your TiDB cluster is too busy. May I have your hardware info and deployment info?

[2016-11-09 14:57] keithyau opened #1985 "str_to_date / concat date_format syntax problem"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

1.6.3
2. What operating system and processor architecture are you using (`go env`)?
![image](https://cloud.githubusercontent.com/assets/659311/20142447/bbeb258e-a6cf-11e6-97e7-d975bdaa6748.png)

3. What did you do?
If possible, provide a recipe for reproducing the error.
A comp

[2016-11-09 15:19] shenli commented on #1985
@keithyau We do not support str_to_date now.  Please refer to the [doc](https://github.com/pingcap/docs-cn/blob/master/op-guide/mysql-compatibility.md#内建函数). We will implement it soon.

[2016-11-10 04:27] keithyau commented on #1978
2G 14G * 3

[2016-11-10 05:33] shenli commented on #1978
How many thread do you use to load data?

[2016-11-10 05:44] leaxoy opened #1986 "Support Mac OS X deploy via homebrew"

[2016-11-10 06:05] shenli commented on #1986
@leaxoy Thanks for your suggestion.
We do not have plan to publish to homebrew. We encourage users deploy TiDB cluster on Linux.
If you are interested in this, could you help us to do this?

[2016-11-10 06:25] keithyau commented on #1978
How to check? i only use all default value

[2016-11-10 07:05] tiancaiamao commented on #1978
@keithyau
-q Number of queries per transaction, default 1000
ref https://github.com/pingcap/tidb/issues/1576

[2016-11-10 07:08] shenli commented on #1978
@keithyau Please use 1 for parameter -q.

[2016-11-10 07:30] gqf2008 opened #1989 "mysqlslap: Cannot run query SELECT intcol1,charcol1 FROM t1 ERROR : table mysqlslap.t1"
mysqlslap -a -c 500 --auto-generate-sql-write-number=100000 -T -i 10  -h 10.25.175.125 -P 4000 -uroot
mysqlslap: Cannot run query SELECT intcol1,charcol1 FROM t1 ERROR : table mysqlslap.t1

不能完成测试。。。

[2016-11-10 07:46] shenli commented on #1989
@gqf2008 Thanks for your report! We will check it out and keep you updated.

[2016-11-10 09:27] shenli commented on #1989
@gqf2008 We have already allocated the bug. It will be fixed soon.

[2016-11-11 02:30] lunny opened #1995 "compile error"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
go version go1.7.3 darwin/amd64

2. What operating system and processor architecture are you using (`go env`)?
mac osx 10.12.1

3. What did you do?
go get -u -v github.com/pingcap/tidb
make build

4. What did you expect to see?
compile no error

5. What did you see instead?
➜  t

[2016-11-11 02:33] shenli commented on #1995
@lunny Please use `make`. Or you should run `make parser` before `make build`.

[2016-11-11 02:51] lunny commented on #1995
sorry for that. resolved.

[2016-11-11 02:51] #1995 closed

[2016-11-12 01:33] shenli commented on #1989
@gqf2008 We fixed this bug. Please try the latest master.

[2016-11-13 01:43] gqf2008 commented on #1989
好的

[2016-11-13 07:20] #1908 closed

[2016-11-14 03:54] winoros opened #1997 "Error "Unknown Column" in having clause"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
go 1.7.3

2. What operating system and processor architecture are you using (`go env`)?
ubuntu

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

[code]

4. What did you expect to see?
[code]

5. What did you see i

[2016-11-15 03:17] winoros opened #2001 "Panic when do comparison subquery and row with nested rows"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.7.3

2. What operating system and processor architecture are you using (`go env`)?
[code]

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
[code]

4. What did you expect to see?
ERROR Operand should contain 3 co

[2016-11-15 07:59] winoros opened #2007 "Seems that there is parser problem when using IN with a double "(())""
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.7.3

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/usr/local/go/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/gopkg"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_a

[2016-11-15 08:39] tiancaiamao opened #2008 "speed up unit test for package ddl & store/tikv"
it takes too long to for tidb unit test.

top three of them are ddl, server, store/tikv

ddl use too many time.Sleep to wait lease @zimulala
store/tikv easy to run out of memory, never finish on  some hardware @disksing

[code]

[2016-11-15 08:55] winoros opened #2009 "Got panic when do the following query"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.7.3

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/usr/local/go/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/gopkg"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_a

[2016-11-15 09:17] shenli opened #2012 "Add table/column comment in show table status result."
See: http://dev.mysql.com/doc/refman/5.7/en/show-table-status.html

[2016-11-16 15:43] zimulala opened #2014 "Control how long it takes to retry when the transaction is committed"
This issue likes #1659 . If committing the transaction takes too long, it will be a problem.

[2016-11-16 17:01] shenli opened #2015 "Support SHOW EVENTS FROM `mysql`"
hedisql will use this statement.
So as:
SHOW FUNCTION STATUS
SHOW PROCEDURE STATUS
SHOW TRIGGERS FROM
SHOW EVENTS

[2016-11-16 17:05] shenli opened #2016 "Support heidisql"
http://www.heidisql.com

[2016-11-16 17:34] tiancaiamao opened #2017 "blob data /*! */ been throw away"
[code]

wrong behavior:

[code]

blob data /*! */ been throw away !!!

[2016-11-17 01:34] dbaspace opened #2019 "tidb-error"
2016-11-17 08:19:48,652 mod.rs:399 - INFO  - Version:
2016-11-17 08:19:48,652 mod.rs:400 - INFO  - Git Commit Hash: eb7efc6f7817df6658ee3d4b09bedfce8a10b35a
2016-11-17 08:19:48,652 mod.rs:401 - INFO  - UTC Build Time:  2016-11-15 10:24:35
2016-11-17 08:19:48,653 tikv-server.rs:221 - WARN  - Limit("kernel parameters net.core.somaxconn got 128, expect 32768")
2016-11-17 08:19:48,653 tikv-server.rs:2

[2016-11-17 01:59] ngaut commented on #2019
From the error message, port 20160  is used by other process.

[2016-11-17 02:51] #2017 closed

[2016-11-17 11:04] winoros opened #2026 "Error when explain a query"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.7.3

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/usr/local/go/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/gopkg"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_a

[2016-11-18 00:36] dbaspace opened #2028 "Add support for statement "show profiles""
![show](https://cloud.githubusercontent.com/assets/23513271/20413819/fa6a4614-ad69-11e6-8df0-83a415fadcbb.png)
可以查询  但会提示

[2016-11-18 00:42] ngaut commented on #2028
Thanks for your report @dbaspace , I translated the title of this issue to english.
We will fix the issue later.  @shenli

[2016-11-18 01:01] dbaspace opened #2029 "Questions on "no hup" command"
tikv的服务正常
[code]

pd-log#这个是启动到关闭当前的会话窗口 加了 nohup
[code]

[2016-11-18 02:01] andelf commented on #2029
nohup 启动方式建议使用

    $> bash -c 'nohup command args... &'

[2016-11-18 02:23] mysqlbranch commented on #1900
Thanks, What time the GA version will release?

[2016-11-18 11:10] #2012 closed

[2016-11-21 08:45] shuxiang opened #2045 "use source filename.sql command, after a while, prompt "InfomationSchema is out of date.""
I use latest tidb today, and source command to load a big sql file, after a minutes, tidb prompt something like:

Query OK, 542 rows affected (0.19 sec)

Query OK, 541 rows affected (0.20 sec)

Query OK, 540 rows affected (0.18 sec)

ERROR 1105 (HY000) at line 1020 in file: '/home/sx/soft/big_data-2016-11-21.sql': context canceled
ERROR 1105 (HY000) at line 1021 in file: '/home/sx/soft/big_data-20

[2016-11-21 08:45] shenli commented on #2045
@shuxiang Please check the log of tidb-server. It seems that tidb-server could not access tikv-server.

[2016-11-21 08:46] shenli commented on #2045
@shuxiang Please refer to this doc: https://github.com/pingcap/docs-cn/blob/master/trouble-shooting.md

[2016-11-21 09:02] shuxiang commented on #2045
thanks，tikv is done

[2016-11-21 09:02] #2045 closed

[2016-11-21 11:00] andelf opened #2047 "TODO: config file support"
We should support a ``-conf-file`` parameter.

[2016-11-22 02:37] shuxiang opened #2053 "JOIN is slow"
I have 2 table， each table have 1Million data，order_unit.order_detail_id ref to order_detail.id, but it is not a reference key, just integer type.
when I query like this:
select od.* from order_unit ou join order_detail od on ou.order_detail_id = od.id where ou.id > 90000 and ou.id < 100000 order by ou.id desc limit 20;

takes: 20 rows in set (7 min 0.35 sec)

query: select count(1) from order_uni

[2016-11-22 02:39] shenli commented on #2053
@shuxiang Thanks for your feedback. May I have your schema?

[2016-11-22 03:31] shenli commented on #2053
@shuxiang Could you try "select od.* from order_unit ou join order_detail od on ou.order_detail_id = od.id where ou.id > 90000 and ou.id < 100000 order by ou.id limit 20;"

[2016-11-22 03:41] tiancaiamao opened #2055 "coprocessor worker goroutine leak"
observed at https://github.com/pingcap/tidb/blob/6c9698e7fa75b287d02225d3aa23bd53f7620365/store/tikv/coprocessor.go#L332

[2016-11-22 04:12] shuxiang commented on #2053
Thanks, looks like the code need some warm up time, I try the code half hour later, it takes 10 seconds. It is better but still must slower than mysql. Expect more optimization.

[2016-11-22 04:12] #2053 closed

[2016-11-22 06:22] zimulala commented on #2008
DDL test time reduce to 71s #2049

[2016-11-22 08:54] ivancxj opened #2059 "start tikv error(invalid address)"
standalone-cluster-deployment is success
but multi-nodes-deployment is fail
My step:

|Name|Host IP|Services|
|----|-------|--------|
|node1|192.168.50.171|PD1, TiKV1, TiDB|
|node2|192.168.50.172|PD2, TiKV2|
|node3|192.168.50.173|PD3, TiKV3|

1. Start PD on every node.

[code]

2. Start TiKV on every node.

[code]
    this start not success, will report error:

 panic_hook.rs:85 - ERROR - thread '

[2016-11-22 08:58] siddontang commented on #2059
@overvenus

[2016-11-22 09:07] ngaut commented on #2059
Thanks for your report. @ivancxj
PTAL @overvenus

[2016-11-22 09:13] ivancxj commented on #2059
1. pd1 log all ok
2. pd2/pd3 error log
[code]
3. tikv1 error log
[code]

[2016-11-22 09:14] shenli commented on #2059
@huachaohuang PTAL There are some error log in pd's log.

[2016-11-22 09:16] ivancxj commented on #2059
1. pd1 log all ok
2. pd2/pd3 error log
[code]
3. tikv1 error log
[code]

[2016-11-22 09:16] overvenus commented on #2059
Hello @ivancxj

TiKV does not accept address with scheme, try `192.168.50.171:2379`.

[2016-11-22 09:20] ivancxj commented on #2059
pd2/pd3 log
[code]
 pd2/pd3 seems can connect 192.168.50.171:2379

[2016-11-22 09:23] shenli commented on #2059
@huachaohuang @siddontang PTAL

[2016-11-22 09:23] ivancxj commented on #2059
pd1 log
[code]

[2016-11-22 09:31] overvenus commented on #2059
Hm, it seems that PD cluster works fine.

---------

It seems that what you passed to TiKV is
`--pd http://192.168.50.171:2379,http://192.168.50.172:2379,http://192.168.50.173:2379`

Please try `--pd="192.168.50.171:2379,192.168.50.172:2379,192.168.50.173:2379"`

[2016-11-22 09:34] ivancxj commented on #2059
my
[code]

[2016-11-22 09:35] ivancxj commented on #2059
it is ok, thanks

[2016-11-22 09:40] overvenus commented on #2059
@ivancxj No problem! ;-)

[2016-11-22 09:40] #2059 closed

[2016-11-22 09:51] siddontang commented on #2059
Thanks @ivancxj

/cc @overvenus we must support `--pd="http://192.168.50.171:2379,http://192.168.50.172:2379,http://192.168.50.173:2379"`.

Now we can just ignore `http://`.

[2016-11-22 10:34] #1571 closed

[2016-11-22 10:34] zimulala opened #2061 "Deal with TestBusyServerCop"
Deal with TestBusyServerCop in the file of  store_test.go

[2016-11-23 05:14] shenli opened #2070 "Drop index statement should contains index name"
Wrong:
ALTER TABLE tablename DROP index;
Right:
ALTER TABLE tablename DROP index indexname;

[2016-11-23 05:17] shenli opened #2071 ""set autocommit=0" doesn't equal to "set autocommit='off'""
Set autocommit to '0' should be the same with set to 'off'.

[2016-11-23 05:18] shenli opened #2072 ""float unsigned" should not be allowed when creating table"
"float unsigned" is not a valid type.

[2016-11-23 05:20] shenli opened #2073 "Get error when using mysqladmin to set password"

[2016-11-23 05:22] shenli opened #2074 "After dropping current database, we should change current database."
use db;
drop database db;  -- We should change the default database after this statement.

[2016-11-23 06:32] zimulala commented on #2070
It because we don't deal with anonymous index, so it repeats #1785.

[2016-11-23 06:32] #2070 closed

[2016-11-23 07:44] hanfei1991 commented on #2026
This problem will be fix in #2063

[2016-11-23 08:00] winoros opened #2077 "attribute "correlated" goes wrong when covert logical plan to physical plan"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.7.3

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/usr/local/go/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/gopkg"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_a

[2016-11-23 10:18] #1972 closed

[2016-11-23 10:58] #2026 closed

[2016-11-23 12:04] #2077 closed

[2016-11-24 03:16] shenli opened #2084 "Support running Harmmerdb on TiDB"
See: http://www.hammerdb.com/
HammerDB is an open source database load testing and benchmarking tool for Oracle Database, Microsoft SQL Server, IBM DB2, TimesTen, MySQL, MariaDB,  PostgreSQL, Postgres Plus Advanced Server, Greenplum, Redis, Amazon Aurora and Redshift and Trafodion SQL on Hadoop.

[2016-11-24 07:06] #2074 closed

[2016-11-24 10:07] zimulala opened #2091 "Find duplicate column name when adding an index"
1. What did you expect to see?
mysql> create table t (a int, b int);
Query OK, 0 rows affected (0.01 sec)

mysql> alter table t add index c (b,a,b);
ERROR 1060 (42S21): Duplicate column name 'b'

2. What did you see instead?
mysql> create table t (a int, b int);
Query OK, 0 rows affected (0.00 sec)

mysql>  alter table t add index c (b,a,b);
Query OK, 0 rows affected (0.01 sec)

[2016-11-24 14:13] #1785 closed

[2016-11-25 08:28] #2001 closed

[2016-11-25 09:02] will835559313 opened #2097 "I got warning: get timestamp too slow"
I deploy tidb on centos7 all in one node by reading this article https://github.com/pingcap/docs/blob/master/op-guide/binary-deployment.md#standalone-cluster-deployment

I got a warning : get timestamp too slow
tow error : [error] [ddl] SetValidity, schema validity is false, lastSuccTS:387990267072086017

and when I use mysql client to connect tidb import some data than mysqldump from mysql , I go

[2016-11-25 10:49] siddontang commented on #2097
Hi @will835559313 , thanks for your report.

I see that you deploy whole TiDB components in one machine, but it seems that your machine has a high load and the TiDB cluster can't supply normal service.

The standalone deployment is only for user first try, you can do some simple operations, but if you want to do more test and benchmark, I suggest deploying TiDB cluster in multi machines :-)

[2016-11-25 11:03] #2007 closed

[2016-11-26 15:54] sjmudd opened #2100 "Please consider providing a make.sh or equivalent build script for LInux/Unix/OSX"
You provide a make.cmd command to build TiDB from Windows. It would be convenient to have a similar command which works also in a Linux/Unix/MacOS type environment.  I tend to use OSX or Linux and I can imagine there are a number of others who use such an environment.

I'm not very familiar with the use of the goyacc or golex tools so not quite sure how to translate the existing build script into

[2016-11-26 16:18] sjmudd commented on #2100
Oh there is a Makefile. It wasn't apparent this existed. Perhaps mention this very briefly in README.md

[2016-11-27 10:43] #2100 closed

[2016-11-27 11:26] sjmudd opened #2102 "ProvideRun TiDB with Docker (multiple nodes)"
The [Quick Start](https://github.com/pingcap/tidb/blob/master/docs/QUICKSTART.md) page shows you how to run TiDB via docker on a single container, but real-life usage is going to need us to run this on more than one node (otherwise we might as well just use MySQL).

It would be quite nice if you can provide an example setup with TiDB split over several docker containers.
* That allows us to check

[2016-11-27 13:35] ngaut commented on #2102
Thank you for your valuable advice. @sjmudd
I added a todo label to this issue.
We are adding more and more documents, they are coming soon 😄
We will let you know of any further related documents.

[2016-11-27 14:26] shenli commented on #2102
@sjmudd I guess you need this doc: https://github.com/pingcap/docs/blob/master/op-guide/docker-deployment.md#multi-nodes-deployment

[2016-11-28 00:19] siddontang commented on #2102
Thanks for your report @sjmudd

The multiple docker deployment document is here https://github.com/pingcap/docs/blob/master/op-guide/docker-deployment.md, seem that we should let user find cluster deployment with binary and docker more easily in the quick start. /cc @shenli

Adding/Removing PD/TiKV/TiDB node is easy, see https://github.com/pingcap/docs/blob/master/op-guide/binary-deployment.md#add

[2016-11-28 00:45] will835559313 commented on #2097
thank you for help me.
When I use 3 virtual machines( every virtual machines has 4 cores and 2G ram) to deploy tidb, I also got that problem.  what should I do ?

[2016-11-28 01:19] AkihiroSuda commented on #2102
Docker 1.13 ([RC available](https://github.com/docker/docker/releases)) supports built-in "Docker Compose on Swarm-mode" feature
https://blog.nimbleci.com/2016/11/17/whats-coming-in-docker-1-13/#deploy-stacks-from-a-docker-compose-file

It would be great if we can use TiDB with that feature

[2016-11-28 01:22] siddontang commented on #2102
Cool @AkihiroSuda

I think we can try it in CI and test first. @iamxy

[2016-11-28 01:24] siddontang commented on #2097
Hi @will835559313

Seem that you run PD + TiKV in one VM too, the load is still high.
The warning message `get timestamp too slow` is not serious, just shows that your TiDB getting TSO from PD slow (maybe network slow, or machine load high, etc..), but the cluster can still work well, you can even ignore this waring if possible.

What I care more is `InfomationSchema is out of date`, this error i

[2016-11-28 01:42] will835559313 commented on #2097
ok,thank you.
I will try do a test on aliyun use 6 ecs machine(4 cores, 16G ram)

[2016-11-28 02:02] tiancaiamao commented on #2097
@zimulala Please check the git version of the binary we published and verify whether it use a version with bug ?

[2016-11-28 03:14] #2015 closed

[2016-11-28 06:06] disksing opened #2104 "store/tikv/mock-tikv: encode keys before save them to MvccStore"
Currently `mock-tikv` does not encode keys, which is different from real tikv-server. We should keep the behavior same with tikv or it will conceal bugs in unit tests.

[2016-11-28 07:06] #2091 closed

[2016-11-28 09:06] zimulala opened #2107 "After retry failed it does nothing with the current transaction"
If there is a statement that is retried 10 times, but it still failed, we do nothing with the current transaction.

[2016-11-28 11:40] #2029 closed

[2016-11-28 11:40] #2019 closed

[2016-11-28 13:55] #2061 closed

[2016-11-28 19:13] nnordrum opened #2119 "Why no Views?"
Apologies if I'm just blind and not seeing it, but I see that Views are not supported "because they cannot be implemented well in distributed scenario."

Is it documented somewhere what the difficulties are with the unsupported features? I feel like this would be important so if somebody has an idea on how to solve the problem, maybe even partially, they know what the known hurdles are. Or maybe s

[2016-11-29 00:23] shenli commented on #2119
@nnordrum Thanks for your suggestion.
I am agree with you and view is on our plan. But it will not be included in the GA version, because of time.

[2016-11-29 00:57] shenli opened #2120 "shutdown tidb-server gracefully when got signal"
When get signal to quit, we should first stop listening on the port and then finish the running jobs.

[2016-11-29 01:53] #2097 closed

[2016-11-29 04:03] #1997 closed

[2016-11-29 06:56] XuHuaiyu opened #2127 "Primary key can't be duplicated"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
go version go1.7.1 darwin/amd64

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/Users/xuhuaiyu/Development/GOPATH/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/xuhuaiyu/Development/GOPATH"
GO

[2016-11-29 07:00] XuHuaiyu opened #2128 "Primary key can not involve duplicate columns."
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (go version)?
go version go1.7.1 darwin/amd64

2. What operating system and processor architecture are you using (go env)?
GOARCH="amd64"
GOBIN="/Users/xuhuaiyu/Development/GOPATH/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/xuhuaiyu/Development/GOPATH"
GORACE

[2016-11-29 07:58] #1939 closed

[2016-11-29 11:39] zimulala commented on #2097
It's not friendly to user but not a bug. And It's more correct. Now this be resolved after #2094 #2110 @tiancaiamao

[2016-11-29 12:25] #2127 closed

[2016-11-30 02:40] #2009 closed

[2016-11-30 03:31] disksing commented on #1659
I think we can add a `Context` arguments for `txn.Commit()` and cancel the context when the commit process is not suppose to continue.
Correspondingly, we need to check the context at every step of 2PC commit, abort the txn as soon as context canceled.

[2016-11-30 06:18] #2104 closed

[2016-11-30 08:17] zimulala commented on #2071
The behavior of the two statements is the same, and they can work.

[2016-11-30 08:17] #2071 closed

[2016-11-30 08:35] zimulala commented on #2072
The executed result on MySQL are as follows：
mysql> create table t1(a float unsigned);
Query OK, 0 rows affected (0.01 sec)

I execute this statement on MySQL use two version: `Server version: 5.7.9 MySQL Community Server (GPL)` and `Server version: 5.6.33-0ubuntu0.14.04.1-log (Ubuntu)`

[2016-11-30 08:35] #2072 closed

[2016-12-01 07:49] disksing opened #2143 "store/tikv: handle 'staleCommand' error from tikv server."
The best behavior will be resend request immediately. Now it backs off and retry.

[2016-12-01 13:30] ch-lgs opened #2151 "Compared with mysql cluster"
Compared with MySQL Cluster,what's the advantage of TiDB?

[2016-12-01 13:36] shenli commented on #2151
@ch-lgs Compare with proxy, TiDB has horizontal scalability, online schema changes, consistent distributed transactions.

[2016-12-01 13:55] ch-lgs commented on #2151
what I mean is not the mysql cluster with proxy,but mysql cluster that MySQL official provides

[2016-12-01 14:51] shenli commented on #2151
@ch-lgs I think TiDB has the following advantages against MySQL cluster:

-  You can deploy TiDB cluster across data centers. We use raft to replicate data between replica. In this scenario, even the whole data center is down, your data is also safe and your service is still on.

- TiDB could handle complex query better. Our optimizer is suitable for distributed computing.

- Adding or removing no

[2016-12-02 04:48] zimulala opened #2153 "Set password without user information"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
mysql> set password = "1";

2. What did you expect to see?
Query OK, 0 rows affected (0.00 sec)

3. What did you see instead?
ERROR 2013 (HY000): Lost connection to MySQL server during query

[2016-12-02 10:29] coocood opened #2158 "Local store related panic that can not be easily reproduce."
During a unit test, a panic occurred with this stack.
It appears that local store transaction has been commited more than one time.

[code]

[2016-12-02 10:34] #2153 closed

[2016-12-02 15:56] #2158 closed

[2016-12-03 02:26] andelf opened #2161 "misleading error message with sysbench"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

    sysbench --test=./lua-tests/db/oltp.lua --mysql-host=127.0.0.1 --mysql-port=4000 --mysql-user=root --mysql-password= --oltp-tables-count=1 --oltp-table-size=100 --rand-init=on prepare

2. What did you expect to see?

note that I didn't provide ``--m

[2016-12-03 10:57] coelho commented on #1906
Is this fixed now that #1929 is merged? I need this for a project and I'm just unsure since it's still open haha.

[2016-12-03 15:29] shenli commented on #1906
@coelho This is fixed. Please try the latest master.

[2016-12-04 02:08] ngaut opened #2162 "Use benchyou to bench TiDB"
Looks like benchyou is a good tool for benching. See: https://github.com/XeLabs/benchyou

[2016-12-04 17:32] BusyJay opened #2165 "store/tikv: refresh leadership when handling a ServerIsBusy error"
When a server returns a ServerIsBusy, it's very likely that it will be unavailable in the following retries and leadership has probably changed. So it's better for ticlient to refresh the leadership when handling a ServerIsBusy error.

@disksing

[2016-12-05 02:43] zimulala commented on #2073
Now we can correctly execute the statement as follows: `mysqladmin -h 127.0.0.1 -P 4000 -utest1 password '1'`.

[2016-12-05 02:43] #2073 closed

[2016-12-05 16:46] hyj0 opened #2172 "schema() Function schema is not implemented."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
SELECT schema()

2. What did you expect to see?
test

3. What did you see instead?
[HY000][1105] Function schema is not implemented.

4. What version of Go are you using (`go version`)?
go version go1.7.1 windows/amd64

[2016-12-06 00:02] shenli commented on #2172
@hyj0 Thanks for your feedback. It will be fixed soon.

[2016-12-06 02:42] elvizlai opened #2175 "ON DUPLICATE KEY UPDATE not work as expected"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

create table first

[code]

insert data several times

[code]
2. What did you expect to see?

x.factor should be added multiple, not once.

3. What did you see instead?

[code]

4. What version of Go are you using (`go version`)?

go 1.7.4

[2016-12-06 02:45] zimulala opened #2176 "Modifying column uses wrong database or table information"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

modify column

2. What did you expect to see?
mysql> create table t(a int, b int);
Query OK, 0 rows affected (0.01 sec)
mysql> alter table t modify tt.b bigint;
ERROR 1103 (42000): Incorrect table name 'tt'
mysql> alter table t modify test1.t.b bigint;

[2016-12-06 03:39] yemt opened #2177 "Question about the kv engine under tidb. (tidb的底层 KV 问题)"
您好，ＴＩＤＢ的架构是不是ＫＶ是单独一层（ＫＶ单独配置），ＴＩＤＢ类似于中间件？

[2016-12-06 05:29] shenli commented on #2177
@yemt Thanks for your feedback!
TiDB is the SQL layer and TiKV is the storage engine layer. Their relationship is just like Google's F1 and Spanner.
TiDB is not a proxy, it is a SQL engine.
BTW: We encourage discuss in English in this repo. So people from all the world could take part in.

[2016-12-06 05:35] shenli commented on #2172
@hyj0 Please try the latest master code. It is already fixed.

[2016-12-06 06:58] elvizlai opened #2180 "Limit and Offset not work"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

using go mysql driver `github.com/go-sql-driver/mysql`

sql: `select id from x LIMIT 10 OFFSET 5`

or

sql: `select id from x LIMIT 5,10`

2. What did you expect to see?

10 results returns

3. What did you see instead?

15 results returns (But I run th

[2016-12-06 07:10] zimulala commented on #2180
@elvizlai Thanks for your report. Can you give us some cases?

[2016-12-06 07:10] hanfei1991 commented on #2180
@elvizlai Can you post your create table stmt and insert data stmt?

[2016-12-06 07:26] hyj0 commented on #2172
use msyql client
$ ./bin/mysql --version
  Ver 14.14 Distrib 5.6.28, for Win32 (AMD64)
mysql> SELECT  schema();
+----------+
| schema() |
+----------+
|     test |
+----------+
that's ok
but,  DataGrid 2016.2.1 with Jdbc-5.1.35
SELECT  schema();
<failed to load>
java.sql.SQLException: Bad format for BigDecimal 'test' in column 1.
	at com.mysql.jdbc.SQLError.createSQLException(SQLError.java:998)
	a

[2016-12-06 07:29] elvizlai commented on #2180
very strange. I tried a test case, but it works now, I'll check.

[2016-12-06 07:30] shenli commented on #2172
@hyj0 We will fix it now.

[2016-12-06 07:35] shenli commented on #2172
@hyj0 It will be fixed in this PR: https://github.com/pingcap/tidb/pull/2181

[2016-12-06 07:43] hyj0 commented on #2172
well, I use jdbc-5.1.38 test it, it's no wrong,  it seems Datagrid's bug.

[2016-12-06 07:44] shenli commented on #2172
@hyj0 Please try the latest master code.

[2016-12-06 07:51] hyj0 commented on #2172
all ok,thanks for your quickly fix. it's some thing wrong in  character encode before?

[2016-12-06 07:53] shenli commented on #2172
@hyj0 It is related to the field type. We return the result of schema() in string but set a wrong field type.   In this [PR](https://github.com/pingcap/tidb/pull/2181), we set it to the right type.

[2016-12-06 07:57] elvizlai commented on #2180
the fmt mislead

[2016-12-06 07:58] shenli commented on #2172
@hyj0 If everything is OK, I will close the issue.

[2016-12-06 09:33] hanfei1991 opened #2183 "dbForge Can't connect to TiDB"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
use dbForge Studio for MySQL to connect TiDB

2. What did you expect to see?
connect successful

3. What did you see instead?
Table 'information_schema.SESSION_VARIABLES' doesn't exist.

4. What version of Go are you using (`go version`)?
1.7

[2016-12-06 10:23] zimulala commented on #2175
@elvizlai Thank you for reporting. We will look into it and keep you updated.

[2016-12-06 11:13] hyj0 commented on #2172
yes, all test ok, thanks again

[2016-12-06 11:29] #2172 closed

[2016-12-06 13:28] ch-lgs commented on #2151
Thank you for your answer.And i want to know when TiDB can release stable version.

[2016-12-06 13:30] shenli commented on #2151
@ch-lgs We are going to release RC1 in the next week. GA will be released early in the next year (may be around Chinese New Year).

[2016-12-07 02:56] #2151 closed

[2016-12-07 03:34] ch-lgs commented on #2162
if tidb supports sysbench?

[2016-12-07 03:39] shenli commented on #2162
@ch-lgs You can use sysbench to bench TiDB.

[2016-12-07 07:09] zimulala commented on #2175
@elvizlai Please try the latest master code. It is already fixed.

[2016-12-07 13:48] #2183 closed

[2016-12-08 09:34] zimulala opened #2201 "Add EVENTS table in INFORMATION_SCHEMA"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
 select * from INFORMATION_SCHEMA.EVENTS;

2. What did you expect to see?
Empty set (0.00 sec)

3. What did you see instead?
ERROR 1146 (42S02): Table 'INFORMATION_SCHEMA.EVENTS' doesn't exist

[2016-12-08 11:20] zimulala opened #2202 "Unsupport "alter table t drop primary key;""
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
 create table t (a int primary key, b int);
Query OK, 0 rows affected (0.00 sec)
 alter table t drop primary key;

2. What did you expect to see?
unsupport this operation.

[2016-12-09 00:52] shenli opened #2209 "Support timediff function"
See https://dev.mysql.com/doc/refman/5.5/en/date-and-time-functions.html#function_timediff

[2016-12-09 09:46] a6802739 commented on #310
@siddontang , could I have a try for this?

[2016-12-09 09:53] siddontang commented on #310
Hi @a6802739

It is very appreciated that you can help us add more functions.

If you add a function, you can first run `make test` local and then send us the PR after test passes.

[2016-12-09 09:59] coocood commented on #310
@a6802739
Do you have the error like `package not found` when you run `make test` on your forked repo?

[2016-12-09 10:01] a6802739 commented on #310
@coocood, not found yet. Do you mean I should cross the wall to download some dependency package?

[2016-12-09 10:07] coocood commented on #310
@a6802739
It seems like you haven't forked tidb yet.
Please describe what you have done and what error you have got, thank you.

[2016-12-09 10:17] a6802739 commented on #310
this is the error I met.
[code]

[2016-12-09 10:19] coocood commented on #310
@a6802739
Please try `make dev`

[2016-12-09 10:23] a6802739 commented on #310
@coocood , should I cross the wall?
[code]

[2016-12-09 10:32] coocood commented on #310
@a6802739
`golint` imports `golang.org/x/tools/go/gcimporter15`, `make check` use `golint`, so you need to use a proxy to get `golint`.
But I think you can run `make test` now.

[2016-12-09 10:35] a6802739 commented on #310
@coocood , got it. Thanks a lot.

[2016-12-09 10:38] coocood commented on #310
@a6802739
Feel free to ask anything, looking forward to your PR.

[2016-12-09 23:09] idlesummerbreeze opened #2220 "undefined: yySymType"
Hello TiDB's developer,

I tired to build TiDB from master branch and it run into these following errors:

# github.com/pingcap/tipb/go-binlog
/home/dev/go/src/github.com/pingcap/tipb/go-binlog/cistern.pb.go:130: undefined: grpc.SupportPackageIsVersion3
/home/dev/go/src/github.com/pingcap/tipb/go-binlog/pump.pb.go:159: undefined: grpc.SupportPackageIsVersion3
# github.com/pingcap/tidb/parser
/home

[2016-12-10 00:37] shenli commented on #2220
@idlesummerbreeze Please use `make` to build the project. Do not use `go build`.

[2016-12-10 02:28] tiancaiamao commented on #2220
Should we add it to FAQ or put parser.go in the repo? @shenli

[2016-12-10 05:45] #2177 closed

[2016-12-10 05:45] #2119 closed

[2016-12-10 05:46] #2008 closed

[2016-12-10 05:46] ngaut commented on #1978
@keithyau Any updates?

[2016-12-10 19:43] idlesummerbreeze commented on #2220
Hi Shenli,

thx for your help! Did you mean that man only need to run make under the project folder? I did it, but saw simliar errors below:

# github.com/pingcap/tidb/parser
/home/dev/go/src/github.com/pingcap/tidb/parser/lexer.go:92: undefined: yySymType
/home/dev/go/src/github.com/pingcap/tidb/parser/misc.go:494: undefined: yySymType
/home/dev/go/src/github.com/pingcap/tidb/parser/yy_parser.go:

[2016-12-11 02:19] shenli commented on #2220
@idlesummerbreeze Do you put tidb dir in GOPATH?
From your error log, it seems that there is no parser.go in parser dir. Could you should me the file list in parser package?

[2016-12-11 09:09] idlesummerbreeze commented on #2220
HI @shenli ,

I see the mentioned file there:

drwxr-xr-x  4 dev dev    4096 Dec 10 20:39 ./
drwxr-xr-x 36 dev dev    4096 Dec 10 22:20 ../
drwxr-xr-x  2 dev dev    4096 Dec  9 23:00 goyacc/
-rw-r--r--  1 dev dev   13653 Dec  9 23:00 lexer.go
-rw-r--r--  1 dev dev    5647 Dec  9 23:00 lexer_test.go
-rw-r--r--  1 dev dev   15523 Dec  9 23:00 misc.go
drwxr-xr-x  2 dev dev    4096 Dec  9 23:00 opcode

[2016-12-12 02:23] #2175 closed

[2016-12-12 02:25] #2176 closed

[2016-12-12 10:50] zimulala opened #2229 "The type of column and default value don't match"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
 CREATE TABLE ttt (id int(11) DEFAULT now());

2. What did you expect to see?
ERROR 1067 (42000): Invalid default value for 'id'

3. What did you see instead?
Query OK, 0 rows affected (0.01 sec)

[2016-12-12 12:47] skybook888 opened #2232 "the log() log2() log10() func not affact in"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
query is  select log(a) from b wil return an error

2. What did you expect to see?

it's work on mysql

3. What did you see instead?

error occured

4. What version of Go are you using (`go version`)?

not so sure, i used the docker from the tutorial 2 m

[2016-12-12 14:13] shenli commented on #2232
@skybook888 Thanks for your feedback!
We haven't implemented log/log2/log10 in TiDB. Would you please send us a PR to add those functions?

[2016-12-12 18:22] hyj0 opened #2234 "no support builtinfunction instr()"
https://dev.mysql.com/doc/refman/5.7/en/string-functions.html#function_instr
btw, this doc https://github.com/ngaut/builddatabase/blob/master/tidb/builtin.md seems out of date, parser/scanner.l has been remove, and parser/misc.go instead . ?

[2016-12-12 22:41] idlesummerbreeze commented on #2220
Hello @shenli ,

any new idea? what could be the reason of this compilation error?

Regards,
Yu

[2016-12-13 00:46] shenli commented on #2234
@hyj0 Thanks for your feedback!
The document you mentioned is out of date. I will send you an updated document for builtin function this week.

[2016-12-13 00:49] shenli commented on #2220
@idlesummerbreeze Could you show me your GOPATH and the absolute path of your TiDB source code?
Please make sure that TiDB's source code is in your GOPATH.

[2016-12-13 06:45] hanfei1991 opened #2238 "mysql forbid specify target table ** for update in FROM clause"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

mysql> desc t;
+-------+---------+------+-----+---------+-------+
| Field | Type    | Null | Key | Default | Extra |
+-------+---------+------+-----+---------+-------+
| a     | int(11) | YES  |     | NULL    |       |
| b     | int(11) | YES  |     | N

[2016-12-13 09:03] abdulrahmantkhalifa opened #2240 "feature request support for redisdb kv"
it would be useful to have support for a more well-known  kv database , for example, Redis DB
I am already in the process of implementing this but wanted to create a feature request to reference the commit before contributing

Also , wanted to inquire about SQL benchmark tests , if they are available in the project , to avoid importing  unnecessary packages  for testing

[2016-12-13 10:03] Z000000 opened #2242 "i find a vulnerability of tidb it can crash tidb remote how i can connect you i have not found mail of you"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of Go are you using (`go version`)?

[2016-12-13 10:04] Z000000 commented on #2242
if you hava read it  please send email   xmaszh@gmail.com

[2016-12-13 10:05] shenli commented on #2242
@Z000000 Thanks for your report! I sent an email to you.

[2016-12-13 10:25] idlesummerbreeze commented on #2220
Hi @shenli,

I get it now. I copy the text from the FAQ here. I think that the description below is not so much precise. The steps should be:

1. under a directory for example $HOME/tidb: git clone
2. run git get
3. go to the directory: $GOPATH/github.com/pingcap/tidb and then run make parser
4. go to the directory: $HOME/tidb and then run make.

Regards,
Yu

使用go get方式安装TiDB为什么报错了?

**请手动将TiDB克隆到

[2016-12-13 10:28] #2220 closed

[2016-12-13 10:44] coocood commented on #2240
@abdulrahmantkhalifa
Thank you for your willing to contribute.
But I'm sorry, we don't have the plan to support Redis API.
Supporting a new Database API is useful, but it is a long-term commitment, which requires a lot of work on implementation,  documentation, and testing, and most importantly, it makes our existing code much more complicated, increases maintenance cost.

The most welcomed contri

[2016-12-13 10:47] coocood commented on #2240
@abdulrahmantkhalifa
Sorry, I misunderstood your issue.

RedisDB is not an embeded storage engine, I'm not sure if it should be implemented as localstore.

[2016-12-13 10:59] coocood commented on #2240
@abdulrahmantkhalifa
For benchmark tests, you can edit `bench_test.go` to use the new engine, and run
[code]
on project directory.
But I guess local store on remote Redis engine will run much slower.

[2016-12-13 13:13] abdulrahmantkhalifa commented on #2240
thank you for your quick response ;
the benchmark does not seem to have correct versioning , i tried the command without altering the bench_test.go file just to see if it works ,the results were a fail

[2016-12-14 01:32] coocood commented on #2240
@abdulrahmantkhalifa
When we run `go test` vendor is not used.
Try this command
[code]

[2016-12-14 02:31] bhzhu203 opened #2244 "Does tidb support MySQL builtin function `find_in_set`?"
tidb支持  find_in_set 这个mysql函数吗 ，还有多少个函数还没有支持的？
select id,count(id) as cnt from (select a.id,b.sale_adviser from ebk_refunds a inner join ebk_acoin_orders b on find_in_set(b.id,a.buy_ids) where a.post_time between 1477929600 and 1480521599 and a.money>0 group by a.id,b.sale_adviser) tbl group by id having cnt>1;

ERROR 1105 (HY000): line 0 column 124 near "b.id,a.buy_ids) where a.post_time between

[2016-12-14 02:40] coocood commented on #2244
No, this function has not been supported yet, supported functions can be found here
https://github.com/pingcap/tidb/blob/master/evaluator/builtin.go

[2016-12-14 03:01] Z000000 commented on #2242
have you confirmed?

[2016-12-14 03:05] bhzhu203 opened #2245 "Cannot see DB when connect TiDB with navicat"
使用navicat 连接tidb的时候看不到DB，navicat 11.017-premium，tidb最新版本

是不是因为在tidb中
 INFORMATION_SCHEMA |
| PERFORMANCE_SCHEMA

这2个数据库是大写的缘故

[2016-12-14 03:55] shenli commented on #2245
@bhzhu203 Please try the latest navicat.
We are working on the compatible problems between TiDB and old version navicat.

[2016-12-14 07:11] hanfei1991 opened #2246 "There is different behaviour between mysql and tidb"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
create table t (a int primary key, b int) ;
insert into t select * from t limit 1 on duplicate key update b = b + 1;

2. What did you expect to see?
MySQL report error:
ERROR 1052 (23000): Column 'b' in field list is ambiguous.
I don't know why.

3. What

[2016-12-14 08:40] andelf opened #2250 "Feature Request: add `up` to metrics"
In order to monitor process uptime in prometheus, I need something like:

[code]

in metrics.
counts from 0 in seconds.

[2016-12-14 08:42] andelf commented on #2250
EDIT: use ``uptime`` instead of ``up``.

[2016-12-14 13:54] shenli commented on #2242
@Z000000 Confirmed! We are working on this. Thanks very much!

[2016-12-14 14:22] shenli commented on #2209
https://github.com/pingcap/tidb/pull/2249

[2016-12-14 15:04] iroi44 commented on #2245
@bhzhu203  Thanks a lot for your interest in TiDB.  You can send an email to info@pingcap.com. We can assist you in person in case you encounter other problem.

[2016-12-15 03:06] zimulala opened #2257 "We should speed up add index and add column phase"

[2016-12-15 07:30] hamo commented on #2232
@shenli  please help to review #2258 for this issue

[2016-12-15 12:34] c4pt0r commented on #2250
LGTM

[2016-12-16 02:57] #2143 closed

[2016-12-16 11:33] zimulala opened #2265 "Support the statement of `rename table`"
This method can to move tables from one database to a different one.

See [URL](http://dev.mysql.com/doc/refman/5.7/en/rename-table.html)

[2016-12-16 15:33] skybook888 opened #2266 "change the auto_increment by alter table does not affect"
i moved my data from mysql to tidb(docker:lastest single node)

i loss all the autoincrement info

i try to use "alter table data auto_increment = 50000" to slove it
well this qry run sucess

but not affect

[2016-12-16 15:36] shenli commented on #2266
@skybook888 May I known how you migrate your data from mysql to TiDB? Do you use any tool to dump and import the data?

[2016-12-16 17:02] skybook888 commented on #2266
i just follow the  tutorial
using mydumper

[2016-12-17 02:21] shenli commented on #2266
@skybook888 Could you show me the result of "show create table your_table_name;"  on MySQL and TiDB?

[2016-12-17 03:24] #2242 closed

[2016-12-17 22:46] idlesummerbreeze opened #2269 "go test run into following errors"
Hello TiDB's team,

I tried to run go test, but it run into following errors:

# github.com/pingcap/tipb/go-binlog
../tipb/go-binlog/cistern.pb.go:130: undefined: grpc.SupportPackageIsVersion3
../tipb/go-binlog/pump.pb.go:159: undefined: grpc.SupportPackageIsVersion3
FAIL	github.com/pingcap/tidb [build failed]

Do you have any idea, what could be the reason?

Kindly regards,
Yu

[2016-12-17 23:07] idlesummerbreeze commented on #2269
sorry, i have found the solution: ln -s _vendor/src vendor. So I close this issue.

[2016-12-17 23:07] #2269 closed

[2016-12-19 04:05] zimulala opened #2272 "Add the index key prefix limit"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
 create table t(a varchar(3073), index(a));
 create table t(a varchar(1073), b varchar(2000), index(a, b));

2. What did you expect to see?

ERROR 1071 (42000): Specified key was too long; max key length is 3072 bytes

3. What did you see instead?

Query

[2016-12-19 04:05] zimulala opened #2273 "A maximum of 16 columns is permitted for multicolumn indexes"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
 create table t(a char, b char, c char, d char, e char, f char, g char, h char ,i char, j char, k int, l char ,m char , n char, o char , p char, q char, index(a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q));

2. What did you expect to see?

ERROR 1070 (42000): Too m

[2016-12-19 07:23] silentred opened #2274 "Build failed because of existing LDFLAGS env var"
An existing LDFLAGS will cause build failure. In my case, I set LDFLAGS=-L/lib/path long time age. So `make server` reports error with flag package.
Do you think it should be `LDFLAGS = ` instead of `+=` at https://github.com/pingcap/tidb/blob/master/Makefile#L22 ?

[2016-12-19 09:40] shenli commented on #2274
@silentred I think it is OK to change L22 from '+=' to '='.

[2016-12-19 12:46] idlesummerbreeze opened #2278 "Why sqls on information_schema is handled differently?"
Hello TiDB's team,

I am learning the source code and debuging some executors. I have seen that sqls on information_schema is differently handled in compare to those sqls on test schema. Could you please explain me the reason and your desgin behind it?

Regards,
Yu

[2016-12-19 13:21] shenli commented on #2278
@idlesummerbreeze information_schema is a virtual table which exists only in the memory of tidb-server.
For most of sql statements, we need to refer to schema/table/index/column information when we building query plans. We keep all those info in the memory for performance consideration. So we do not need to store those data as normal tables, we could get what we need from the memory.

[2016-12-19 14:09] idlesummerbreeze commented on #2278
Hi @shenli ,

thx for your answer! Are there more documents about the Inside of TiDB?

Regards,
Yu

[2016-12-19 14:11] shenli commented on #2278
I am writing a document and it will be release in this week. I will keep you updated.

[2016-12-19 14:12] abdulrahmantkhalifa commented on #2240
@coocood
As you said the bench marks are slower on a remote redis , but a local one , not as much.
so concerning the code it will remain on the fork if you require the feature at any point in the future  , inform and i will create a pull request or you can create a pull request yourself ,

thank you again for all your help.

[2016-12-19 14:13] idlesummerbreeze commented on #2278
@shenli

That's great!

Regards,
Yu

[2016-12-19 14:20] #2278 closed

[2016-12-19 15:24] idlesummerbreeze opened #2279 "How to run a single test?"
Hello TiDB's team,

I am going to run a single test function under the executor package in the following way:

go test -v -run TestAggregation

Though there was no errors, it seems that the test doesn't get executed in this way.

Regards,
Yu

[2016-12-19 15:59] shenli commented on #2279
@idlesummerbreeze Try this: go test -check.f TestAggregation

[2016-12-19 20:01] idlesummerbreeze commented on #2279
@shenli thx! it works with gocheck.

[2016-12-19 20:01] #2279 closed

[2016-12-19 23:31] coocood commented on #2240
@abdulrahmantkhalifa
Good job to implement the redis store!
I'm sorry we can't accept this feature right now.
Thank you for your understanding.

[2016-12-19 23:31] #2240 closed

[2016-12-19 23:34] coocood commented on #2266
@skybook888
Please provide more detailed information to reproduce this issue.
Thank you.

[2016-12-20 03:38] skybook888 commented on #2266
CREATE TABLE `world` (
  `worldid` int(11) NOT NULL AUTO_INCREMENT,
  `seed` varchar(50) NOT NULL DEFAULT '',
  `name` varchar(45) DEFAULT '',
  `roleid` int(11) NOT NULL,
  PRIMARY KEY (`worldid`),
  UNIQUE KEY `worldid` (`worldid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8_bin AUTO_INCREMENT=112
this is the createtable from tidb
CREATE TABLE `world` (
  `worldid` int(11) NOT NULL AUTO_INCREMENT,
  `s

[2016-12-20 03:46] skybook888 commented on #2266
![default](https://cloud.githubusercontent.com/assets/2900755/21337600/baa8f558-c6a9-11e6-90ff-171abef2f8da.png)
i just create  a new schema and a new database to test it
i only use one node form docker for development

[2016-12-20 03:48] shenli commented on #2266
@shuhuai007 So the bug is creating a new table and altering auto_increment to 500, but the new inserted data has id start from 1?
@zimulala PTAL

[2016-12-20 03:55] zimulala commented on #2266
@skybook888 The statement of "alter table tableName auto_increment = num" we haven't support yet.

[2016-12-20 04:06] zimulala commented on #2266
@skybook888  If you are interested, you can send us a PR.

[2016-12-20 08:22] hanfei1991 opened #2282 "optimize comparable subquery"
For query like select a < all (select b from t) from s; we should optimize it as

(select a from S) Apply (select b from t having a < min(b))

[2016-12-20 08:30] yanzhe-chen opened #2283 "Add FileSort in util package"
Used by SortExec in executor/executor.go.

Required since the input might exceed the memory capacity.

A typical interface of FileSort might look like this:

[code]

Caller need to create a instance of `FileSorter` to sort a group of input.

Input is fed by calling `Input` method.

Sorted output can be lazily fetched by calling `Output` method.

Caller needs to follow the strict usage pattern: **N

[2016-12-20 09:04] skybook888 commented on #2266
i sorry for my poor english，what does the PR mean？

[2016-12-20 09:05] shenli commented on #2266
@skybook888 PR means Pull Request :)

[2016-12-20 10:13] zimulala opened #2285 "Using auto_increment id as a unique key will be duplicated in some cases"
2 TiDB, A table has a unique key, and it is auto_increment field.
One TiDB(1) caches (1-5000) auto_increment IDs
Another TiDB(2) caches (5001-10000) auto_increment IDs
A client set the field to 1. The request send to TiDB2, and it's successful.
Then the client inserts a record doesn't set the field. The request happens to be sent to TiDB1, so the field will be set by TiDB1 and the value is 1. It w

[2016-12-21 09:18] zxsciro opened #2293 "the error after execute 'alter table '"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
a.Build the TIDB on five machine ,according to the  document 'https://github.com/pingcap/docs-cn/blob/master/op-guide/binary-deployment.md'  .
b.Start  pd,tikv,tidb succeed!
c.Use mysql client connect to tidb for test :
    create  database  'tidbtest'  used 2 second
   create table   zx   and insert  two reco

[2016-12-21 09:29] shenli commented on #2293
@zxsciro DDL on TiDB is slower than on MySQL. You can refer to the [FAQ](https://github.com/pingcap/docs/blob/master/TiDB_FAQ.md#why-is-the-ddl-statement-so-slow-when-using-tidb) doc for the reason. If you have only one tidb-server, you could set the --lease to 0. And the speed of DDL statement will be fast.

[2016-12-21 09:38] zxsciro commented on #2293
@shenli thanks  , but the server  show the message frequently .
[error] [ddl] run ddl job err [types:1265]Data Truncated ....
[warning] [ddl] DDL job 30 is not in history, maybe not run

[2016-12-21 09:43] zimulala commented on #2293
@zxsciro Thanks for your report. This is a bug, and I will fix it.

[2016-12-21 09:45] shenli commented on #2293
@zxsciro There are two things we should do.
1. Check if the default value is valid before running the job.
2. When meet fatal error, we should cancel the ddl job.

@zimulala Will fix it. If you are interested in this, you can send us a PR. :)

[2016-12-21 09:59] zxsciro commented on #2293
@zimulala  now insert to  table zx  return the message  'ERROR 1265 (01000): Data Truncated'
and  all the  ddl  is  not response

[2016-12-21 10:31] BusyJay opened #2294 "ticlient: refresh store address when receiving StoreNotMatch"
If StoreNotMatch is returned, the address doesn't belong to the store any more.

[2016-12-21 10:44] zimulala commented on #2293
@zxsciro Yes, this is a bug. If it happens, the job will keep trying and affect the execution of other DDL jobs. You need to restart the TiDB to resolve it.
The right way to handle this is to cancel the DDL job when we meet this error. And This is easy to fix. Do you want to send a PR to us?

[2016-12-21 11:19] idlesummerbreeze opened #2295 "select count(*) from information_schema.columns run into error"
Hi TiDB's Team

I tried to solve the following problem by myself, but without success. I suppose that the reason starts very deeply from the build of plan or executors, since the e.columns is empty:

		columns := make([]*table.Column, len(e.schema))
		for i, v := range e.columns {
			columns[i] = table.ToColumn(v)
		}

Perhaps the problem comes back to the different handling between normal tables

[2016-12-21 11:57] coocood commented on #2295
@idlesummerbreeze

Thank you for your report and kindly try to fix this issue.
You almost addressed the issue, good job!
Elements in `columns` should not be nil.
It looks like the length of `e.schema` is different than the length of `e.columns`.

[2016-12-21 12:45] zxsciro commented on #2293
after  restart  all the service  the error log  still  exists.
as for  the bug fix , it is difficult for me .
the server  conld not  catch the error   'default value Invalid'. so  can not set the  job to 'JobCancelled'  and the bug occurred ?

[2016-12-21 13:01] zimulala commented on #2293
@zxsciro I'm sorry. It needs to restart TiKV too. Fixing this bug requires some background knowledge. I will fix it.

[2016-12-21 13:32] zimulala commented on #2293
@zxsciro  This bug is fixed. You can try the latest master code and remove the old data.

[2016-12-21 15:03] idlesummerbreeze commented on #2295
Hi @coocood ,

i'm not sure. perhaps it has to do with prunning column. After debugging i found that: prunning column works differently for the following sqls:

-- for a info table of the information schema
select count(*) from columns;

-- for a normal table of the schema test
select count(*) from x

Regards,
Yu

[2016-12-21 16:10] coocood commented on #2295
@idlesummerbreeze

The root cause is that the aggregation `count(*)` has been pushed down to memory table.
So the `e.schema` is aggregation function `count(*)`, but memory table cannot handle it.

When we handle normal table, we send a request to TiKV coprocessor which can handle aggregation function.

`e.columns` is empty because we don't need any columns, we just need row count, so all the infos

[2016-12-22 04:29] zxsciro commented on #2293
mysql> create  table zz (a int not null ,b int not null)
    -> ;
Query OK, 0 rows affected (2.02 sec)
mysql> alter table zz add  c int not null default '';
ERROR 1265 (01000): Data Truncated
mysql> show create table  zz ;
+-------+------------------------------------------------------------------------------------+
| Table | Create Table

[2016-12-22 04:37] zimulala commented on #2293
@zxsciro  This bug has two things we should do.
1. Check if the default value is valid before running the job.
2. When meet fatal error, we should cancel the ddl job.

Now we have only done the second thing. We are doing the first thing.

[2016-12-22 06:14] BusyJay opened #2299 "Handle truncate when convert string to integer"
In some cases, coprocessor will convert string to integer, which will always report Error when truncation happens.

[2016-12-22 07:03] coocood opened #2300 "HashJoinExec and UnionExec may ignore error."
When select two channels, and both of them can receive, which channel will be selected is undetermined.
It's possible that error channel has an error, but result channel is finished and selected, then error is ignored.
We can use one channel instead to avoid this issue.

[2016-12-22 08:39] #2295 closed

[2016-12-22 09:39] shubershu opened #2303 "show keys from table from database"
1. What did you do?
[code]

2. What did you expect to see?
result of ```show index from table from database``` should be same as ```show index from table```

[2016-12-22 10:22] idlesummerbreeze opened #2305 "some comments make one confused"
Hi TiDB's Team,

I am reading the source code from ast package and have found some comments that are not very clear. I think that one should write implements `ExprNode` interface instead of `Expression` interface.

Regards,
Yu

`// expressionNode is the struct implements Expression interface.
// Expression implementations should embed it in.
type exprNode struct {
	node
	types.Datum
	Type types.Fi

[2016-12-22 10:26] coocood commented on #2305
Good catch!
Would you please send a PR to fix this?

[2016-12-22 10:30] coocood commented on #2303
Thank you for your report.
We will fix it soon.

[2016-12-22 10:38] idlesummerbreeze commented on #2305
@coocood ,

ok, i give me try.

Regards,
Yu

[2016-12-22 12:06] #2305 closed

[2016-12-22 14:20] idlesummerbreeze opened #2311 "what is the purpose of this code block?"
Hi TiDB's Team,

I ofen see code that is similar to the following block. I cannot figure out why you use blank identifier here.

Regards
Yu

`var (
	_ DDLNode = &AlterTableStmt{}
	_ DDLNode = &CreateDatabaseStmt{}
	_ DDLNode = &CreateIndexStmt{}
	_ DDLNode = &CreateTableStmt{}
	_ DDLNode = &DropDatabaseStmt{}
	_ DDLNode = &DropIndexStmt{}
	_ DDLNode = &DropTableStmt{}
	_ DDLNode = &TruncateTableSt

[2016-12-22 15:03] ngaut commented on #2311
To make sure all of those statements implement the DDLNode interface. It's quite common in Go :)

[2016-12-22 15:13] idlesummerbreeze commented on #2311
Hi @ngaut ,

ok, i get it now, since in golang there aren't keywords like implements/extends of java to make the extenstion/implementation explicitly.

this is really a brilliant way for verification and make code more readable.

Best Regards,
Yu

[2016-12-22 15:25] #2311 closed

[2016-12-23 03:44] #2303 closed

[2016-12-23 09:06] tiancaiamao opened #2317 "wrong union select behavior"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

[2016-12-23 10:08] tiancaiamao opened #2318 "wrong behavior ignore index for select result"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

[2016-12-23 21:03] idlesummerbreeze commented on #2318
Hi @tiancaiamao ,

it is possible that tidb handles the 20021020 as an integer (unix time?)

`$26 = {github.com/pingcap/tidb/ast.exprNode = {github.com/pingcap/tidb/ast.node = {text = 0x0 ""}, github.com/pingcap/tidb/util/types.Datum = {k = 1 '\001',
      collation = 0 '\000', decimal = 0, length = 0, i = **20021020**, b = {array = 0x0, len = 0, cap = 0}, x = {_type = 0x0, data = 0x0}}, Type = {T

[2016-12-23 21:20] idlesummerbreeze commented on #1469
Hi @shenli ,

I have learned golang just since two weeks. I found nothing than GDB to debug GO code. This is very hard to do debug with Interface:

1. cast an interface to a subinterface
2. call a method on the interface

can you show me how can one do it.

Best Regards,
Yu

[2016-12-24 02:16] ngaut commented on #1469
We don't use debugger at all, it's hard to debug a distributed system with a debugger. Log and distributed tracing tools are very helpful.

[2016-12-24 02:19] shenli commented on #1469
You can try the IDE for golang from jetbrain. It could analyze interface and its implementations in realtime.

[2016-12-24 02:20] tiancaiamao commented on #1469
GDB sucks for Go, you may like this https://github.com/derekparker/delve for command line debugging, but @ngaut is right, actually.

[2016-12-24 13:28] idlesummerbreeze commented on #1469
Hi @ngaut, @shenli and @tiancaiamao ,

thx for your information! I will give it a try.

besides it, **Happy Christmas!**

[2016-12-26 03:21] zimulala commented on #2293
@zxsciro This bug is fixed now. You can try the latest master code.

[2016-12-26 09:33] ch-lgs opened #2328 "How to deploy TiDB in different IDCs?"
I have two IDCs in shanghai and hangzhou.Now I deploy mysql cluster in these two IDCs and use otter(a middleware consume mysql binlog to sync data between different IDCs) to keep data consistent.

[2016-12-26 10:05] siddontang commented on #2328
Hi @ch-lgs

Raft must use at lease 3 replicas to guarantee data safety, 2 DC can't guarantee it. If one DC is down, the cluster can't work.

If you have 3 DCs, PD can schedule the replicas to different DC automatically, and we will support it soon, see https://github.com/pingcap/pd/issues/454.

[2016-12-27 02:37] coocood opened #2329 "Make sure TiDB cluster can handle deleting large amount of rows in a transaction."
A single delete statement may delete millions of rows, we need to know how can this operation affect the cluster.

We currently have a hard limit of 400MB data in a transaction, if a key length is 20 bytes, the rows to delete is 20 million, the lock timeout is 120 seconds.

We should test how the cluster is affected when handling this while handling many concurrent small transactions, monitor the

[2016-12-27 02:49] coocood commented on #2299
@BusyJay
Is this issue fixed by https://github.com/pingcap/tikv/pull/1423 ?

[2016-12-27 03:19] shenli opened #2330 "Test delete huge amount of data"
Try delete millions of rows in single transaction.
Test deleting 1 million, 2 million, 3 million, ..... 10 million rows.

[2016-12-27 03:33] shenli commented on #2330
Duplicate with https://github.com/pingcap/tidb/issues/2329

[2016-12-27 03:33] #2330 closed

[2016-12-27 06:11] BusyJay commented on #2299
No entirely, still need to merge pingcap/tikv#1437.

[2016-12-27 16:03] zyguan opened #2333 "A question on args validation for builtin functions"
Hi, I have a question on args validation for builtin functions. It seems that the behavior of tidb (errno) is inconsistent with the mysql, although the error message is clear enough. Does it matter in some cases?

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of Go are you using (`go version`)?
[code]

[2016-12-27 16:12] shenli commented on #2333
@zyguan Thanks for your feedback!
The error message means the number of arguments is not right. For greatest(), it need at least 2 argument.
"[2, -1]" means the function need at least 2 arguments and no upper limit.

[2016-12-27 16:26] zyguan opened #2334 "Ask for advice on distinguishing between INTERVAL keyword and INTERVAL function"
Hi, I'm working on implementing INTERVAL function and have trouble in resolving some shift/reduce conflicts. Also, I found the following behavior. Could you please give me some advice?

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of Go are you using (`go version`)?
[code]

[2016-12-27 16:33] shenli commented on #2333
@zyguan This will be fixed in https://github.com/pingcap/tidb/pull/2335

[2016-12-27 16:36] shenli commented on #2334
@zyguan Is there any error message when you run `make parser`? If there is any error message about 'shift/reduce' error. You should add precedence info on the rules.

[2016-12-28 01:16] zyguan commented on #2334
@shenli Sure, there were some 'shift/reduce' conflicts when I first tried to add the support for INTERVAL function. I could resolve these conflicts by the following modification
[code]

It can pass the test case, however, I'm still not very sure I did the right thing. I will test it further :)

[2016-12-28 01:21] zyguan commented on #2333
Thanks @shenli ! Is it a urgent issue? I may be able to fix #2335.

[2016-12-28 01:28] zyguan commented on #2333
Sorry, It's been fixed by #2335, forget my previous comment.

[2016-12-28 02:59] shenli commented on #2334
@zyguan I think you are on the right way. :)

[2016-12-28 06:57] #2333 closed

[2016-12-28 16:09] nolouch opened #2342 "support function CONV() BIT_XOR() CRC32()"
now some user needs this functions.

[2016-12-29 04:05] 496080199 opened #2346 "I can't use sysbench to test tidb"
I have a host(4core,2GB memory,100GB disk) to run tidb,method like this:

https://github.com/pingcap/docs-cn/blob/master/op-guide/binary-deployment.md#%E5%8D%95%E8%8A%82%E7%82%B9%E6%96%B9%E5%BC%8F%E5%BF%AB%E9%80%9F%E9%83%A8%E7%BD%B2

my test like this:

sysbench --test=oltp --db-driver=mysql --mysql-table-engine=innodb --oltp-table-size=1000000  --num-threads=4  --mysql-host=192.168.2.183 --mysql-

[2016-12-29 04:19] shenli commented on #2346
@496080199 Thanks for your feedback!
We will fix it soon.
@tiancaiamao PTAL

[2016-12-29 09:44] kaiwu commented on #2244
@bhzhu203 please notice that `find_in_set` can be mostly handled directly using approach like [this](https://www.periscopedata.com/blog/splitting-comma-separated-values-in-mysql.html)

[2016-12-29 15:40] shenli commented on #2346
@496080199 This is fixed in #2351 . Please try the latest master.

[2016-12-29 15:46] tiancaiamao opened #2353 "integration testing for mysql packet protocol"
Currently, testing for packet protocol related is insufficient for TiDB.
Unit testing have a drawback: TiDB must ensure compatibility for all kinds of drivers, not just Go sql driver.

Test cases should involve:

* Different driver, maybe java, Go, mysql native client, sysbench, and so on...
* Different Conn Capability setting...
* Coverage all kinds of packet, COM_QUERY, COM_STMT_PREPARE, COM_STM

[2016-12-29 15:55] #1768 closed

[2016-12-29 15:55] #2346 closed

[2016-12-30 11:52] coocood opened #2357 "Concurrently parse sql and get timestamp."
An optimization to reduce the latency of small queries.

[2016-12-31 00:58] c4pt0r commented on #158
@Tratar
we have a document for contributors who wants to add built-in functions to TiDB, you can pick one function in https://github.com/pingcap/tidb/issues/236, and follow the steps in https://pingcap.github.io/blog/2016/12/19/adding-built-in-function/
Happy hacking :)

[2016-12-31 02:30] shenli commented on #158
@Tratar You can refer to https://github.com/pingcap/tidb/issues/310 and  https://github.com/pingcap/tidb/issues/236 for the unimplemented builtin functions. If you have any problem, please let us know.
Thanks!

[2016-12-31 10:24] shenli commented on #2346
@496080199 Have you tested sysbench with the latest TiDB?

[2016-12-31 10:52] zet4 commented on #2180
Encountered same issue when I tried to use tidb alongside micro/user-srv (haven't tried other srv's from micro with tidb yet), [sql source](https://github.com/micro/user-srv/tree/master/db/db.go), errors:
[code]
(note the Preparing log is my addition, not part of master branch of user-srv)
This issue seems to only occur to statements containing limit & offset.
TiDB is simply ran from latest image

[2016-12-31 10:55] shenli commented on #2180
@zet4 Thanks for your feedback! We will look into it.

[2016-12-31 11:53] shenli commented on #2180
@zet4 It is a bug about limit/offset with prepare statement. I will fix it.

[2016-12-31 15:59] shenli commented on #2180
@zet4 This will be fixed in https://github.com/pingcap/tidb/pull/2364. You can try the branch shenli/issue-2180 or use the latest master after this PR is merged.
Thanks again for your report!  Happy New Year!

[2016-12-31 17:15] zet4 commented on #2180
Thanks, you too!

[2017-01-01 08:57] #2334 closed

[2017-01-01 09:08] tiancaiamao commented on #236
This is a good suggestion and we'll support it soon.
Thanks for feedback. @shlomi-noach

[2017-01-01 10:32] idlesummerbreeze commented on #2272
Hi @zimulala,

may I give it a try to fix the problem?

Regards,
Yu

[2017-01-01 10:39] shenli commented on #2272
@idlesummerbreeze Of course! If you need any help, please let us know.

[2017-01-01 22:30] idlesummerbreeze commented on #2272
Hi @shenli,

if a field is defined with int or char, how can I know how many bytes does this field take? The code below return a ColumnInfo but its Flen is -1.

`findCol(tblInfo.Columns, ic.Column.Name.O)`

[2017-01-02 02:27] shenli commented on #2272
@idlesummerbreeze -1  means unspecified field length.
For integer, we do not to care about field length. For char/varchar, if you define a column with field length, we will store it in Flen field.

[2017-01-02 02:57] ngaut commented on #2272
Thank you for asking. @idlesummerbreeze

Since -1 makes us confused, we should define it as constant. @shenli

[2017-01-02 03:03] shenli commented on #2272
@ngaut There is already a constant named UnspecifiedLength in types package.

[2017-01-02 03:16] ngaut commented on #2328
Feel free to re-open the issue if you still have any questions.

[2017-01-02 03:16] #2328 closed

[2017-01-02 09:37] idlesummerbreeze commented on #2272
Hi @shenli,

if we cannot get the physical length in byte/char for unspecified columns, we cannot handle the following situation for compound index:

no error:
`create table t(a varchar(3072), index(a));`

 with error:
`create table t(a varchar(3072), b int, index(a,b));`

ERROR 1071 (42000): Specified key was too long; max key length is 3072 bytes

Regards,
Yu

[2017-01-02 10:01] shenli commented on #2272
@idlesummerbreeze You can refer to this doc: http://dev.mysql.com/doc/refman/5.7/en/storage-requirements.html
For each type of integer, there is a specified physical length.

[2017-01-02 14:10] idlesummerbreeze commented on #2272
Hi @shenli,

the current maxPrefixLength is 767. Should we increase the value to  3072?

I have found a new bug. for example:

`create table (b blob, index(b))`

doesn't run into error. Atually an error is expected: ERROR 1170 (42000): BLOB/TEXT column 'b' used in key specification without a key length.

I'm going to fix this new bug together.

Regards,
Yu

[2017-01-02 15:01] shenli commented on #2272
@idlesummerbreeze Yes it is a bug. I am glade if you could fix it.
For the maxPrefixLength, why you want to increase it to 3072?

[2017-01-02 15:15] idlesummerbreeze commented on #2272
Hi @shenli,

since @zimulala has written in her comment that it should be 3073. 3073 ist the new max length in mysql 5.7 and 767 is from 5.5.

by the way, if i want to define the physical size of unspecified types, in which file should i code it.

[2017-01-02 15:18] shenli commented on #2272
@idlesummerbreeze OK!
You can define those constants in mysql/const.go.

[2017-01-03 06:53] shenli commented on #2180
@zet4 Please try the latest master. If there is also something wrong, feel free to reopen this issue.
Thanks!

[2017-01-03 07:16] #1906 closed

[2017-01-03 07:21] tiancaiamao commented on #2232
TiDB supports those functions now, so I close this issue.
If you find something wrong with those functions, feel free to reopen this issue.
@skybook888

[2017-01-03 07:21] #2232 closed

[2017-01-03 07:52] zet4 commented on #2180
Sorry to bother you but it still doesn't seem to work:
[code]
port ending with 69 is an alpine-mysql container and works OK with it, but port ending in 70 is latest tidb and doesn't work, version:
[code]

latest record in the log for tidb after one attempt is:
[code]
I also attached entire docker container log file: [logs.txt](https://github.com/pingcap/tidb/files/681842/logs.txt)

[2017-01-03 07:56] shenli commented on #2180
@zet4 Please update your binary/source. 3f9a101ce6a31d508d184aa03f2ebb8209a9e480 is not the latest githash.

[2017-01-03 09:35] zet4 commented on #2180
Okay yeah, pulling it again worked, but now I have a new error, when actually using the limit/offset:
[code]
I believe the query in question was
[code]
with arguments `user`, `1`, `0`. (`r, err = st["searchUsername"].Query(username, 1, 0)`)

[2017-01-03 09:42] shenli commented on #2180
@zet4 The value for limit/offset should be integer(or a string could be parsed to integer).
May I know your command? Still the following command?
`H:\gopath\src\github.com\micro\user-srv>user-srv.exe -- database_url="root:111111@tcp(192.168.99.100:32769)/users"`

[2017-01-03 09:50] zet4 commented on #2180
That one was used for alpine-mysql, my commands right now are
`H:\gopath\src\github.com\micro\user-srv>user-srv.exe --database_url="root@tcp(192.168.99.100:4000)/users"
`
to launch and then I did `query go.micro.srv.user Account.Create {"user": {"username":"user"}, "password": "pass"}` to create account and `query go.micro.srv.user Account.Login {"username": "user", "password": "pass"}` which is w

[2017-01-03 09:51] shenli commented on #2180
@zet4 OK, I will check it out and fix it soon.

[2017-01-03 11:23] ngaut commented on #2342
Have you finished all of these functions ?

[2017-01-03 22:11] idlesummerbreeze opened #2381 "ddl: bug in columnDefToCol, Length shouldn't be set for unspecified fields."
this problem is referenced with #2380
`
keys := []*ast.IndexColName{
			{
				Column: colDef.Name,
				Length: colDef.Tp.Flen,
			},
		}
`

[2017-01-04 02:55] zimulala opened #2383 "Support the statement of `ALTER [COLUMN] col_name SET DEFAULT `"
This method can change the default value.
See [URL](http://dev.mysql.com/doc/refman/5.7/en/alter-table.html).

[2017-01-05 06:37] shenli commented on #236
@shlomi-noach unix_timestamp() is already supported. Please try the latest master.

[2017-01-05 08:15] #1771 closed

[2017-01-05 08:41] coocood commented on #2357
Fixed by https://github.com/pingcap/tidb/pull/2395

[2017-01-05 08:41] #2357 closed

[2017-01-05 08:43] coocood commented on #2381
Fixed by https://github.com/pingcap/tidb/pull/2382

[2017-01-05 08:43] #2381 closed

[2017-01-05 09:23] yanzhe-chen opened #2400 "Write micro benchmark for util/filesort"
Required to measure the performance.

[2017-01-05 14:35] shlomi-noach commented on #236
@shenli thank you -- `unix_timestamp()` works!

[2017-01-05 15:19] shenli opened #2402 "Parse int literal failed."
On TiDB:
mysql> create table tt (c1 int(11) UNSIGNED DEFAULT NULL);
Query OK, 0 rows affected (0.12 sec)

mysql> insert into tt values (01000001783);
ERROR 1105 (HY000): line 0 column 34 near ")"integer literal: strconv.ParseUint: parsing "01000001783": invalid syntax

On MySQL:
mysql> create table tt (c1 int(11) UNSIGNED DEFAULT NULL);
Query OK, 0 rows affected (0.14 sec)

mysql> insert into tt v

[2017-01-06 04:06] zimulala commented on #2257
Now add an integer index to spend the total time is the original 3/50 when the lease is 1.

[2017-01-06 06:51] zimulala commented on #1716
It is fixed #2341

[2017-01-06 06:51] #1716 closed

[2017-01-06 06:58] #2293 closed

[2017-01-06 07:03] #1936 closed

[2017-01-06 07:06] #1753 closed

[2017-01-06 07:14] #2294 closed

[2017-01-06 07:17] #2209 closed

[2017-01-06 07:35] coocood opened #2406 "Wrong plan is used when order by an index column"
When there is PK between a small range and order by an index column.
IndexScan is used which produce bad performance.

[2017-01-06 09:01] TheNorthMemory opened #2408 "indexScan is not used `where in ()`"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

   - 2.1 execute `explain select * from test where a in ('x', 'y', 'z')` use indexScan;
   - 2.2 execute `explain select * from test where a in ( select 'x' from dual)` should use indexScan as well.

3. What did y

[2017-01-06 09:08] zimulala opened #2409 "The result of `select round(1e3, 2)` is wrong"
1. What did you do?
If possible, provide a recipe for reproducing the error.
select round(1e3, 2);

2. What did you expect to see?
+---------------+
| round(1e3, 2) |
+---------------+
|       1000.00 |
+---------------+
1 row in set (0.01 sec)

3. What did you see instead?
+---------------+
| round(1e3, 2) |
+---------------+
|          1000 |
+---------------+
1 row in set (0.00 sec)

[2017-01-06 10:33] tracymacding opened #2413 "does tidb support procedure?"
Does tidb support mysql procedure?

[2017-01-06 13:50] shenli commented on #2413
@tracymacding No, we do not support Stored Procedure.

[2017-01-06 13:56] tracymacding commented on #2413
any roadmap?

[2017-01-06 13:59] shenli commented on #2413
We do not have any plan for it.

[2017-01-08 04:42] coocood opened #2414 "Optimize DELETE statement execution."
Currently, DELETE statement execution flow is as following:

1. read all the rows via coprocessor.

2. for every row, call `table.Row` to get the row DATA, then call `table.RemoveRecord` for the row.

3. commit the deleted rows.

In step 2, calling `table.Row` is unnecessary because we already have the data of the rows in step 1, and every call to `table.Row` trigger an RPC, which is time-consumin

[2017-01-09 09:13] shenli opened #2420 "Support more math functions"
- [x] SIGN
- [x] FLOOR
- [x] EXP
- [x] SQRT
- [x] PI
- [x] COS
- [x] SIN
- [x] TAN
- [x] ACOS
- [x] ASIN
- [x] ACOS
- [x] ATAN
- [x] COT
- [x] DEGREES
- [x] RADIANS
- [x] TRUNCATE

[2017-01-09 15:56] zyguan commented on #2409
I think it's because we always use `-1` as the prec arg of `strconv.AppendFloat` [here](https://github.com/pingcap/tidb/blob/master/server/util.go#L330).

To fix it, we need to know the real prec first. However, it seems that the float datum hasn't provide such information yet. Is it ok to reuse an another field defined in `Datum` to store such info?

BTW, the mysql-workbench shows that the result

[2017-01-10 00:27] #2413 closed

[2017-01-10 00:29] shenli commented on #2408
@TheNorthMemory Thanks for your feedback!
@hanfei1991 PTAL

[2017-01-10 02:59] geekard commented on #1900
Also want to know the time of GA version.

[2017-01-10 03:24] ngaut commented on #1900
We plan to release the GA version around april, please stay turned.

[2017-01-10 03:36] hanfei1991 commented on #2408
Because you didn't create an index.
See:
mysql> create table tt(c int);
Query OK, 0 rows affected (0.00 sec)

mysql> create index cc on tt(c);
Query OK, 0 rows affected (0.01 sec)

mysql> explain select * from tt where c in (1,2,3);
+-------------+--------------------------------------------------------------------------------------------------------------------------------------------------------

[2017-01-10 03:40] hanfei1991 opened #2428 "The planner will report an error when a subquery and aggregation functions appear in select fields."
mysql> create table abc(id int, a int, name varchar(10));
Query OK, 0 rows affected (0.00 sec)

mysql> select aa.name, avg(aa.a) as c,(select count(*) from abc cc where aa.id = cc.id) from abc aa;
ERROR 1105 (HY000): Unknown column  aa id.

mysql> select (select count(*) from abc cc where aa.id = cc.id) from abc aa;
Empty set (0.00 sec)

[2017-01-10 03:47] TheNorthMemory commented on #2408
@hanfei1991 The column `a` was the primary key  in the `test` table, so i think the usage should be fine.  i'm just waiting for usage indexScan of the `select * from test where a in ( select 'x' from dual)` implementation.

[2017-01-10 03:56] hanfei1991 commented on #2408
Well, your case is pretty seldom, because (select 'x' from dual) will only return 'x'. Most times a `In` subquery should return different records.

[2017-01-10 04:03] winoros opened #2429 "count multiple expression doesn't return error."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

`select count(a, b) from t`

2. What did you expect to see?

return a error.

3. What did you see instead?

executed successfully.

4. What version of Go are you using (`go version`)?

[2017-01-10 05:58] TheNorthMemory opened #2430 "the `where 1` condition was caused different results like mysql did"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

 `select * from test where 1 limit 1,1;`

[code]

3. What did you see instead?

[code]

4. What version of Go are you using (`go version`)?

golang 1.6

[2017-01-10 07:21] zimulala opened #2432 "Wrong behavior when executing `alter table t add index c (c(3));`"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
create table t(c char);
alter table t add index c (c(3));

2. What did you expect to see?
ERROR 1089 (HY000): Incorrect prefix key; the used key part isn't a string, the used length is longer than the key part, or the storage engine doesn't support uniqu

[2017-01-10 08:53] kaiwu commented on #2408
@hanfei1991 another example

## create table like these
[code]

## queries

[code]

which equals to

[code]

the question is that there is an index on `demo.y`  (primary key) but the index is not used in either query above, and table scan is applied, it's becoming quite slow if table `demo` has thousands of rows, any suggestions ?

[2017-01-10 09:17] kaiwu commented on #2408
in the original example one could use

[code]

and the result is no different: the index on `test.a` is not used

[2017-01-10 09:42] idlesummerbreeze commented on #2432
Hi @zimulala ,

 I am going to give it a try. Is it ok ?

[2017-01-10 09:45] ngaut commented on #2432
Sure, feel free to fix it, thank you @idlesummerbreeze

[2017-01-10 10:36] zimulala commented on #2272
It fixed by #2380

[2017-01-10 10:36] #2272 closed

[2017-01-10 12:33] hanfei1991 commented on #2408
@kaiwu  Index look up Join is very inefficient for distributed computing. So we always use hash join. If the table in `In` subquery is always small, we can do index look-up join, this is in our roadmap.

[2017-01-10 12:34] hanfei1991 commented on #2430
Thank you for your report ! this is a bug, i will fix it soon.

[2017-01-10 12:45] kaiwu commented on #2408
@hanfei1991 , ok i see, thanks for your feedback

[2017-01-11 00:11] #2430 closed

[2017-01-11 06:54] coocood commented on #2414
fixed by https://github.com/pingcap/tidb/pull/2421

[2017-01-11 06:54] #2414 closed

[2017-01-11 06:58] coocood commented on #2329
obsolete after https://github.com/pingcap/tidb/pull/2426

[2017-01-11 06:58] #2329 closed

[2017-01-11 10:27] zimulala commented on #2432
Fixed by #2441

[2017-01-11 10:27] #2432 closed

[2017-01-11 13:36] ngaut opened #2446 "0.99999 query latency is very high"
0.99999 query latency is very high in our user's production environment. Please take a look.

![99](https://cloud.githubusercontent.com/assets/878009/21850506/dc62bde8-d845-11e6-8df7-61dc4a6b732a.png)

[2017-01-11 13:37] ngaut opened #2447 "Select count(*) is really slow in bank test."
Select count(*) is really slow when we do the bank test. @cwen0 has reproduced it multiple times.

[2017-01-11 13:38] ngaut commented on #2446
The lowest latency is 500ms

[2017-01-12 13:21] idlesummerbreeze commented on #2429
Hi @hanfei1991,

I found a test written by you and the count(a, b) is used:

`
result = tk.MustQuery("select count(distinct c,d), count(c,d) from t")
result.Check(testkit.Rows("5 6"))
`
I think that @winoros is right about it. The `count(a,b)` should run into error.

If it is a bug, i will give it a try. I think that the problem comes from `parse.y.`

Regards,
Yu

[2017-01-12 14:32] hanfei1991 commented on #2429
@idlesummerbreeze Yes, it's a bug. Thank you !

[2017-01-12 14:42] ngaut commented on #2429
@idlesummerbreeze Could you try to fix it? Feel free to ask any questions if you need help.

[2017-01-13 02:31] #2429 closed

[2017-01-13 03:41] disksing commented on #2446
In fact, the 99.999% graph could be easily misleading. When we have 1 long query that takes more than 8 seconds, it will fall into the <= 16s bucket and increases 99.999% duration to 16s in next 1 minute.

[2017-01-13 08:40] zimulala commented on #2409
You are right, it because we always use `-1` as the argument.
It has the field of `decimal` to store precision information in `Datum`. We can use `Frac()` to get precision information.
There is to be compatible with MySQL.
@zyguan Could you try to fix it?

[2017-01-13 10:06] ngaut commented on #2446
Is that the real reason, are there any long queries every few seconds?

[2017-01-13 10:48] disksing commented on #2446
Only one long query at the beginning of the peak. It lasts 1 minute because we use `[1m]` to calculate rate

[2017-01-13 16:55] zyguan commented on #2409
Sure @zimulala , I would like to try :)

[2017-01-14 06:03] lauyoume opened #2456 "gran all privileges with database name wildcard is error"
I want to grant privileges to dynamic database name with prefix

[code]
It's error. but mysql is ok.

[code]

[2017-01-14 06:12] tiancaiamao commented on #2456
We've working on privilege related issues already, and the current situation would be improved in RC2.
Thanks for your feedback, please stay concerned.

[2017-01-14 07:45] shenli commented on #2447
Fixed in https://github.com/pingcap/tidb/pull/2454

[2017-01-14 07:45] #2447 closed

[2017-01-14 08:23] #2428 closed

[2017-01-14 16:58] #2265 closed

[2017-01-16 02:04] #2342 closed

[2017-01-16 02:06] ngaut commented on #2299
Can we close this issue now?

[2017-01-16 02:08] ngaut commented on #2244
@bhzhu203 We have supported the find_in_set function, feel free to open the issue if you have any questions.

[2017-01-16 02:08] #2244 closed

[2017-01-16 02:09] #2234 closed

[2017-01-16 03:24] #2299 closed

[2017-01-16 04:09] #2317 closed

[2017-01-16 05:13] zimulala opened #2478 "Support `rename table` in binlog"
We support the statement of `rename table` by #2444 . We need to support the behavior in binlog.

[2017-01-16 07:42] ngaut commented on #1978
Feel free to reopen it if you still have any questions.

[2017-01-16 07:42] #1978 closed

[2017-01-16 07:47] #1900 closed

[2017-01-16 07:48] #1101 closed

[2017-01-16 07:48] #1091 closed

[2017-01-16 07:48] #816 closed

[2017-01-16 07:48] #752 closed

[2017-01-16 07:49] #691 closed

[2017-01-16 07:49] #595 closed

[2017-01-16 07:49] #333 closed

[2017-01-16 07:50] #77 closed

[2017-01-16 07:50] #1371 closed

[2017-01-16 07:50] #1293 closed

[2017-01-16 07:51] #1247 closed

[2017-01-16 07:53] ngaut commented on #1142
Is it been fixed ? @zimulala

[2017-01-16 08:01] zimulala commented on #1142
No, it isn't. @ngaut

[2017-01-16 08:24] #1385 closed

[2017-01-16 08:28] #1881 closed

[2017-01-16 08:28] #1847 closed

[2017-01-16 08:28] #1831 closed

[2017-01-16 08:29] #1808 closed

[2017-01-16 08:29] #1704 closed

[2017-01-16 15:58] iu0v1 opened #2483 "go get err"
1. What did you do?
If possible, provide a recipe for reproducing the error.

`$ go get -u github.com/pingcap/tidb`

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of Go are you using (`go version`)?
[code]

[2017-01-16 16:43] iu0v1 commented on #2483
I see, my mistake. Thanks for fast reply.

[2017-01-16 16:43] #2483 closed

[2017-01-17 03:00] coocood opened #2485 "Validate @@tidb_snapshot"
Make sure the snapshot time is after GC save point.

[2017-01-17 04:34] GregoryIan commented on #2478
it's done

[2017-01-17 04:34] #2478 closed

[2017-01-17 11:06] andelf opened #2492 "Feature request: json as log format"
We should support json as log format.

related:
https://github.com/pingcap/tikv/issues/1532

[2017-01-17 16:50] coocood opened #2495 "Optimize coprocessor SelectIndex"
Point Get is much faster than range query on TiKV, we should take index unique info and index type into account, use Point Get if possible.

[2017-01-17 18:47] shlomi-noach opened #2496 "UNIX_TIMESTAMP, Lost connection"
Related: https://github.com/pingcap/tidb/pull/2369

1. What did you do?
[code]

2. What did you expect to see?

The time now.

3. What did you see instead?

[code]

4. What version of Go are you using (`go version`)?
[code]

I've pulled `master` latest from today (2017-01-17) and attempted to run a few queries, which failed. I narrowed the error down to running `unix_timestamp(some_argument)` with

[2017-01-17 18:48] shenli commented on #2496
@shlomi-noach Thanks for your report! We will fix it.

[2017-01-17 19:33] shenli commented on #2496
@shlomi-noach It will be fixed in https://github.com/pingcap/tidb/pull/2497

[2017-01-18 04:54] #2496 closed

[2017-01-18 05:55] coocood opened #2501 "Select for update doesn't limit key count"
We didn't consider lock keys when enforce transaction key count limit.
This may cause large transaction that cluster can not handle.

[2017-01-18 07:27] zimulala opened #2502 "Support the statement of `modify/change column` with the field of `first/after`"
See [URL](http://dev.mysql.com/doc/refman/5.7/en/alter-table.html)

[2017-01-19 05:55] andelf opened #2510 "Feature request: unify configuration"
- Should support config file( for consistency, in toml format)
- Should support config by environment variables
- Priority: Command line parameter > Environment variable > Config file > Program Default

[2017-01-19 07:06] ngaut opened #2511 "A better strategy to cache region's address."
Currently, we cached all of the region address that we ever used, i think LRU is a better idea, especially when the database is huge.

[2017-01-19 07:11] BusyJay commented on #2511
Do we cache address for per region? @disksing A better idea is to cache address for store. There are just a few stores in a whole cluster.

[2017-01-19 07:23] disksing commented on #2511
The stores' addresses are cached by storeID, which is small and not frequently update.
And for the regions we have accessed, their metas are cached in an rbtree.

[2017-01-19 23:04] siddontang opened #2516 "admin: query all the regions a table covers"
Sometimes, we want to know all the regions a table covers. Maybe we can support a SQL like `admin shows regions from table`

[2017-01-19 23:11] siddontang opened #2517 "record the hot regions"
For each transaction, we can record the regions the transaction reads / writes. We can cache the hot regions and know these through HTTP API.

[2017-01-19 23:22] siddontang opened #2518 "record transaction in history"
Like PD, for every transaction, we can add it the a history list. We can record the SQL query, the execution time, the detailed accessed regions or other statistics.

We can use a HTTP API to see the transaction history, or a SQL like `admin show transaction histories`.

[2017-01-19 23:33] iamxy commented on #2518
Nice! I think we could record top N slow query SQLs in a period.

[2017-01-19 23:36] siddontang commented on #2517
I think we can record the host tables too.

[2017-01-20 03:07] ngaut opened #2519 "Support ascending or descending index"
According to MySQL reference we should support ascending or descending index, it's helpful for RocksDB engine to do ascend scanning.

[2017-01-20 14:56] glycerine opened #2521 "tikv build problem on osx 10.11.6 under go1.8rc1"
build fails with:
[code]

full log:
[code]

[2017-01-20 15:38] glycerine commented on #2521
per other issues, building with `make` seems to fix this.

[2017-01-20 15:38] #2521 closed

[2017-01-21 02:12] zyguan opened #2522 "Numbers represented in scientific notation should be treated as floating-point numbers"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
The type of the result should be `DOUBLE` according to [the number literals doc](https://dev.mysql.com/doc/refman/5.7/en/number-literals.html).

3. What did you see instead?
The result actually has a type of `DECIMAL`.

4. What version of Go are you using (`go version`)?

[2017-01-21 02:54] zyguan commented on #2522
Does following patch fix the issue properly? Do I miss something? @shenli @coocood

[code]

[2017-01-21 04:16] coocood commented on #2522
@zyguan
No, "1.1" should be `myql.TypeNewDecimal`

[2017-01-21 04:42] zyguan commented on #2522
Hi, @coocood
I think it's already be covered by [this](https://github.com/pingcap/tidb/pull/2461/commits/b2fe03faa3e13c5bf6173dba9f8b5018c5b95e4e#diff-6425b785337ec89d2604eb16f63caac6R53). However, #2461 failed with `An error occurred while generating the build script`. Have I done something wrong?

[2017-01-21 04:52] coocood commented on #2522
That's tranvisCI issue, I restarted it.

[2017-01-21 10:56] c4pt0r opened #2526 "[proposal] `SHOW PROCESSLIST` for specified tidb instance"
if there's a large query that takes a long time, we need to find a way to figure it out.

[2017-01-21 13:16] coocood opened #2527 "Log potential expensive query before execution."
When a query is expensive, it may takes a very long time, we need to log it before the execution.

[2017-01-21 13:17] tiancaiamao opened #2528 "Support cancel session"
Every session should bind a context to support cancel, and when the session context is canceled, stop all computation in this session immediately.

Providing that a session is cancelable, we could implement killing session feature, which is useful when the query runs too long.

see also https://github.com/pingcap/tidb/issues/2526

[2017-01-22 03:06] #2282 closed

[2017-01-22 06:23] #2527 closed

[2017-01-22 08:01] kobebry80 commented on #1307
@shenli
hello, is there any results of comparing the performance TiDB and TiDB+Spark ?

[2017-01-22 08:10] shenli commented on #1307
@kobebry80 For small or medium size data set, TiDB beats Spark. For big data set or extremely sql, Spark is better.

[2017-01-22 09:01] shenli opened #2532 "Support Index Lookup Join operator."
In some scenarios, IndexLookupJoin is a better choice.

[2017-01-22 10:18] kobebry80 commented on #1307
@shenli
thanks a lot!could you show me the the detail data of the performance TiDB?

[2017-01-24 04:06] hanfei1991 opened #2541 "Refine range getter."
1. We should keep the length of range same as the index columns.
2. We should process range more precisely for nested CNF/DNF expression.

[2017-01-24 08:15] catroot opened #2544 "FLUSH statement support"
I've found, that not all flush statements supported at the time.
[code]
If TiDB doesn't really need to take an action on these statements - can it siply reply ok on them?

[2017-01-24 08:43] shenli commented on #2544
@catroot Thanks for your advice! For FLUSH statement, it is OK to reply OK. But for ALTER statement, I think it is better to return error.

[2017-01-24 08:48] catroot commented on #2544
Do you mean, db collations is not alterable?

[2017-01-24 08:53] catroot commented on #2544
support for triggers, views and stored procedures also ommited?

[2017-01-24 11:20] shenli commented on #2544
@catroot
DB collations is not alterable now.
Trigger/View/Stored Procedures is not supported now. Maybe we will support view after GA.

[2017-01-24 13:26] catroot commented on #2544
Got it.
Wishing you to achieve a drop-in replacement level, up to the current mysql features.

[2017-01-25 03:38] siddontang opened #2553 "get table id with table name"

[2017-01-25 04:27] kaiwu opened #2554 "transaction too large error when load a 17 megabytes insert"
Please answer these questions before submitting your issue. Thanks!

## 1. What did you do?
If possible, provide a recipe for reproducing the error.

1. dumped a database with mydumper and option `-F 128`, one of the dumped file is over
17 megabytes
2. load the dumped files to tidb

## 2. What did you expect to see?

expect load to succeed, as this was not an issue before, did TiDB add some extra

[2017-01-25 04:31] shenli commented on #2554
@kaiwu May I have all the argument of your mydumper command?

[2017-01-25 04:34] kaiwu commented on #2554
@shenli  yes, it was

[code]

where `tidb:mydumper` is an image built from [yfix/baseimage](https://github.com/yfix/docker-mydumper), could it be a mydumper problem ?

[2017-01-25 06:15] shenli commented on #2554
When use myload to load data, please add -q 1 in command line. Or you can use the `load` tool developed by us. See https://github.com/pingcap/docs-cn/blob/master/op-guide/migration.md#向-tidb-导入数据

[2017-01-25 06:36] kaiwu commented on #2554
i am using loader with option `-q 1` with above tests.
i just tried to dump with option `-F 8` to chop the dump to around 8 megabytes, still failed at `transaction too large` here is the trace

[code]

please kindly suggest, meanwhile i will be trying mydumper using `-F 4`. BTW,  the loading is on a 64g RAM machine so should not be a hardware issue.

what could be the `limit` for TiDB transactions

[2017-01-25 06:44] shenli commented on #2554
@kaiwu Do you have a table with only a few columns and with integer type? We set a limitation on the key-value entry count and size of a single transaction. For each row/index, there will be a key-value entry.
We increase the limitation from 100k to 300k a few days ago. You can try the latest master of tidb or download the [newest binary](http://download.pingcap.org/tidb-latest-linux-amd64.tar.gz)

[2017-01-25 06:58] kaiwu commented on #2554
i see, your guess was right, the table is like below with only integers

[code]

could you kindly provide the commit sha value for your change, as rc1.1 was also only a few days ago, i could  check with commit logs

[2017-01-25 07:01] shenli commented on #2554
@kaiwu This feature is not merged into rc1.1 and we will release rc2 tomorrow. You can try the latest master. The commit is https://github.com/pingcap/tidb/commit/de9b134c50381123b9fa710ab4e2c110735f73b4

[2017-01-25 09:17] kaiwu commented on #2554
@shenli i confirm that latest master works with files dumped by mydumper using option `-F 2` in my case, and rc1.1 fails them with `transaction too large` error

[2017-01-25 09:45] shenli commented on #2554
@kaiwu Yes, we will release a new tag from master tomorrow. Please use master now.

[2017-01-28 18:29] andelf opened #2571 "Meaningless EXPENSIVE_QUERY log"
Connects to a TiDB in-memory instance via mariadb-client. Log file shows:

[code]

Expensive queries are defined by running time instead of `select *`. It's the user's taste to choose whatever sql, not TiDB. Slow log is enough.

[2017-01-30 05:13] andelf opened #2576 "BUG: sql_mode='ANSI_QUOTES' doesn't work"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

sql_mode changes, and support ANSI ``"`` as identifier quote.

3. What did you see instead?

    ERROR 1105 (HY000): line 0 column 21 near "."db"" (total length 26)

[2017-01-30 05:52] andelf commented on #2446
Prometheus's histogram type can't express `max req time` correctly.
the percentile value phi must satisfies:

Total_Requests > 1 / ( 1 - phi)

So phi is a dynamic value changes with total requests.

OK to be more `9`s under heavy load, but will give upper bucket border under light load.

[2017-01-30 06:16] andelf opened #2577 "NO_ENGINE_SUBSTITUTION for global.sql_mode is wrong"
[code]

refer: https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_engine_substitution

[2017-01-30 06:23] andelf opened #2578 "syntax .tbl_name is not supported"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

refer: https://dev.mysql.com/doc/refman/5.7/en/identifier-qualifiers.html

[2017-01-31 18:06] wegel opened #2579 "Using existing etcd cluster instead of a new PD cluster"
Hello,

   We're currently looking at TiDB to replace a MySQL cluster, which is orchestrated by etcd. It seems that it would be quite redundant to have both an etcd cluster and a PD cluster running on the hosts. Is there a way fo TiDB to use the existing etcd cluster directly? Thanks.

[2017-02-01 00:36] ngaut commented on #2579
Sorry, there is no way to do that. Interesting, PD support a separate etcd cluster in the very earlier versions, it's too complex for users to deploy one more component, so we embedded etcd to PD.

[2017-02-01 11:54] elvizlai commented on #882
Is this feature done or any alternative？

[2017-02-01 14:26] shenli commented on #882
@elvizlai We will consider this after GA.

[2017-02-02 13:41] catroot commented on #212
pls add ponyorm for python to the list

[2017-02-02 13:47] catroot opened #2580 "The python ponyorm fails with tidb"
pymysql.err.ProgrammingError: (1146, "Table 'information_schema.table_constraints' doesn't exist")

Will the information_schema updated to contain the necessary tables?

These orm uses several tables from information_schema:

[code]
Only information_schema.table_constraints missed in tidb.

[2017-02-02 14:39] ngaut commented on #2580
Thank you for your report @catroot
Looks like we need to add an empty table_constraints. Is that right? @shenli

[2017-02-02 14:44] catroot commented on #2580
According to [this document](https://dev.mysql.com/doc/refman/5.7/en/table-constraints-table.html) it will be perfect to fill this table with appropriate values.
Because ponyorm uses this data to determine tables relation.

[2017-02-02 22:18] yuekui2 opened #2581 "No data re-balanced when adding new tikv instances"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I am testing out TiDB. As described in the doc, I used 6 machines, 1tidb, 3 pd, and 3 tikv. Things work greatly when adding and querying data. I added ~10M number of records into the system. But when I tried to do horizontal scaling by adding 2 more tik

[2017-02-02 22:27] yuekui2 commented on #2581
Clarify, I use the way of checking the sst files under tikv#/db folder to decide if there is data re-balanced over.

[2017-02-03 00:08] siddontang commented on #2581
Hi @yuekui2

PD will balance data to other TiKV when the data size exceeds a threshold. Assume your TiKV's capacity is 500GB, and the default `min-balance-diff-ratio` is 0.01, so you should insert at lease 5GB data, then PD will begin to move the data to the empty TiKV.

If you want to test balance, you can:

+ Start TiKV with `--capacity` with a little value, like `1GB`.
+ Change `min-balance-dif

[2017-02-03 01:35] ngaut commented on #2581
We should add the details to FAQ. @shenli @siddontang

[2017-02-03 01:35] shenli commented on #2580
@catroot We will add this table into tidb's information_schema.

[2017-02-03 02:11] yuekui2 commented on #2581
Just wonder the underlying reason to use such a design choice. Why not just try to evenly distribute data cross all available tikv instances instead, like Cassandra.

I set min-balance-diff-ratio to a very small value (0.000001) using pd-ctl, and the entire disk is 1TB. Yet, I still did not see the data moved to the empty tikv. NOTE that my previous "force" data moving by deleting a tikv is still

[2017-02-03 02:26] ngaut commented on #2581
Yes, it's because of the data moving.

The reason of "force" data moving itself is very slow is the limit of PD, which can be configured too. By default it's very slow, because we don't want to make any impact for online transactions.  We will boost the moving and rebalancing speed after RC2. Currently it depends on  https://github.com/pingcap/tikv/pull/1561

Yes

[2017-02-03 02:35] siddontang commented on #2581
Hi @yuekui2

You can use `store` in `pd-ctl` to see the current TiKV cluster information. It is more clear than checking the db folder directly.

For the `min-balance-diff-ratio`, assume we have two TiKV, both capacity is 1TB, one data used size is S1 and the other is S2, if `S1 / 1TB - S2 / 1TB < min-balance-diff-ratio`, PD will consider starting balance, of course, the real balance algorithm is

[2017-02-03 06:50] kaiwu commented on #236
[omnidb](https://github.com/OmniDB/OmniDB) can be handy, but it fails to login tidb because it executes a `SELECT TIMEDIFF(NOW(), UTC_TIMESTAMP())` right after authentication and function `utc_timestamp()` is not supported yet, expect tidb to improve and benefit the eco

[2017-02-03 09:23] shenli commented on #236
@kaiwu Thanks for your feedback!
@zyguan Would you mind add utc_timestamp() for TiDB?

[2017-02-03 09:42] catroot commented on #2580
Thank you!
When you are done with this and ponyorm will take a ride over tidb, i'll build my next project on TiDB.
My best wishes to you, team!

[2017-02-03 09:47] shenli commented on #2580
@catroot Thanks!

[2017-02-03 18:57] luckcolors opened #2584 "386 build is broken again."
Hi.
I'm trying to compile TiDB on armhf (armv7) and but build failed.
It seems that in a previous issue #356 the problem was fixed, but it now seems to happen again on these files.

[code]
My go version is 1.7.4.

[2017-02-03 23:48] ngaut commented on #2584
Thanks for reporting. We don't have any plan to make TiDB work on 386. Could you please send a PR to fix it?

[2017-02-04 00:27] zyguan commented on #236
@shenli Not at all, I will do it later.

[2017-02-04 02:50] shenli commented on #236
@zyguan Great!

[2017-02-04 04:23] shenli commented on #2580
@catroot Please try the latest master or the latest binary.

[2017-02-04 11:27] coocood opened #2589 "Improve pd.Client.GetTS performance."
Currently, we only use one PD client connection to get TS.
Requests may be blocked waiting for other requests to be finished.
Switching to gRPC can resolve this issue.

[2017-02-04 11:31] coocood commented on #2501
Fixed by https://github.com/pingcap/tidb/pull/2525

[2017-02-04 11:31] #2501 closed

[2017-02-04 17:46] luckcolors commented on #2584
Ok so with this pull request the databse successfully builds.
Here's the output of my make test.
[test.log.zip](https://github.com/pingcap/tidb/files/752444/test.log.zip)

[2017-02-04 18:26] zyguan opened #2593 "Incorrect type inferring of 'now(2)+0'"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
The result type should be `DECIMAL`.

3. What did you see instead?
The result type is `BIGINT`.

4. What version of Go are you using (`go version`)?
[code]

Besides, time functions (with an option fsp arg) like CURTIME also suffer from this issue.

[2017-02-04 18:29] zyguan commented on #2522
solved by #2461

[2017-02-04 18:29] #2522 closed

[2017-02-04 18:33] zyguan commented on #1140
solved by #2368

[2017-02-04 18:33] #1140 closed

[2017-02-05 01:43] shenli commented on #2593
@zyguan Thanks!
@coocood @hanfei1991 PTAL

[2017-02-05 02:17] shenli commented on #2589
When will we switch to grpc?

[2017-02-05 02:19] siddontang commented on #2589
@disksing has been working for it, we will release this in RC2.

[2017-02-05 09:48] ngaut commented on #236
@kaiwu UTC_TIMESTAMP has been supported by the latest master, please try it. Thanks.

[2017-02-06 02:15] kaiwu commented on #236
@ngaut yes, i confirm the fix 395a9c6129239f27d007aee10309531d4a718f86  solves the issue raised earlier, omnidb client can login to Tidb and function `UTC_TIMESTAMP` works just fine, THANKS guys !

[2017-02-06 09:55] catroot commented on #2580
Great! Ponyorm now creates the tables for my models!
Thank you for operativeness!

[2017-02-06 12:12] catroot opened #2598 "ALTER MODIFY statement support"
Another dip on my way with TiDB:
```ALTER TABLE authors MODIFY name varchar(100) NULL```
TiDB says:
`[ddl:203]unsupported modify column`

Thus, i can't modify fields?

And another one:

[code]
TiDB reports error:
line 1 column 7 near " `date_applied` DROP DEFAULT" (total length 62)

[2017-02-06 12:29] coocood commented on #2598
@catroot
Thank you for your report.

Those two DDL statements can be supported soon.
But for modifing the length of a varchar column, we can only support increasing the length.

[2017-02-06 13:11] catroot commented on #2598
If it's totally impossible to shrink the lenght of varchar, pls report back 0 altered, instead of rising exception.
Better to log info about unsupported shrinking for varchars.

[2017-02-06 16:44] gqf2008 commented on #1989
mysqlslap -a -c 500 --auto-generate-sql-write-number=100000 -T -i 10 -h 127.0.0.1 -P 4000 -u root
mysqlslap: Cannot run query INSERT INTO t1 VALUES (73673339,'BN3152Gza4GW7atxJKACYwJqDbFynLxqc0kh30YTwgz3FktQ43XTrqJ4PQ25frn7kXhfXD8RuzN1j8Rf3y8ugKy6es3IbqPJM6ylCyD6xS7YcQCfHKZxYNvB7yTahm') ERROR : Information schema is out of date.
很遗憾，不能跑完测试

tidb-server错误日志：

2017/02/07 00:40:48 server.go:192: [inf

[2017-02-07 03:06] tiancaiamao commented on #1989
hi, @gqf2008
The error log `ERROR : Information schema is out of date` says TiDB can't load the schema within a lease. To solve this, you can try to add a command line argument `-lease 10s` when TiDB start.

By the way, this seems to be a resource consuming test, I run it under my laptop and it eat up the whole memory. So, you'd better use TiKV, deploy them separately to get the best performance.

[2017-02-07 03:38] zimulala opened #2600 "Add default value checking when `create table`"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
create table t (b int not null default '' ) ;

2. What did you expect to see?
ERROR 1067 (42000): Invalid default value for 'b'

3. What did you see instead?
Query OK, 0 rows affected (0.00 sec)

[2017-02-07 03:42] gqf2008 commented on #1989
测试机器一共有4台，3台pb，tikv(16c 32g 1t ssd)，1台tidb（8c 16g），出现故障时我观察了pb和kitv的机器，内存、io、cpu其实都不高，但是tidbcpu很高，所以我不确定是不是tidb的问题

[2017-02-07 04:37] tiancaiamao commented on #1989
TiDB是无状态的，如果瓶颈是在TiDB的CPU，那么实际应用中我们可以部署多台TiDB来解决。

针对这个测试，CPU高只是某些地方跑起来有性能瓶颈，应该并不会使测试挂掉的。TiDB默认的lease时间1秒不适合生产环境使用，你可以先把lease调高了试试。

[2017-02-07 04:52] coocood commented on #2598
@catroot
Thank you for your advice.

I think returning error is the right behavior for the not supported feature.
MySQL also returns an error when there is data longer than the specified length.

The error message should be more specific, we will improve that.

[2017-02-07 05:08] gqf2008 commented on #1989
好的

[2017-02-07 05:08] #1989 closed

[2017-02-07 06:19] catroot commented on #2598
Returning error will broke things in orm, that relies on mysql features, and mysql can shrink varchar fields. So this error will raise some unexpected and unhandled errors in orm.

[2017-02-07 06:38] coocood commented on #2598
@catroot
We hope we can support those DDL operations too, but if the DDL operation requires checking every row in the table, it would be difficult to implement.

So my sugguestion is that during development phase, schema changes frequently, you can just use MySQL, when schema is settled down, you can switch to TiDB seamlessly.

[2017-02-07 07:05] catroot commented on #2598
Project lifetime usually requires updates and improvements, Schema must not be static.
Often schema changes requires not only checking every row, but in case of indexed column it requires rebuid all column indexes. If you talking about difficulties for iterating rows in db, pls tell me, what db is for? This is base db feature - to iterate rows, filter them and aggregate their data. There must be n

[2017-02-07 07:37] coocood commented on #2598
@catroot

Currently, we only support online DDL change, when you add a column or index, the table is not locked, can still be written and read.

The difficulty is that when we are checking every row in the table, new rows may be inserted, which may exceed the new length.

We do have the plan to support it, but not in the next few months, but when more users asking for this feature, we will put it

[2017-02-07 07:47] catroot commented on #2598
The solution is to use information_schema as information about the schema.
Since column altered - schema will contain new lenght and new inserts must meet this property.
We don't need to achieve goal for every row contain data strongly limited to the schema, operating with part of data defined in schema is enought. Later, on resharding, optimizing or other write operations data will be shrinked ac

[2017-02-07 08:22] coocood commented on #2598
@catroot
When ALTER TABLE returns successfully, users will expect all rows in the table have the limited length, returning a row longer than the limit may result in more serious errors.

One way to solve the problem is that we can truncate the column value when reading it.

But this can be only applied when strict SQL mode is not set.

In strict SQL mode, every row must be less than the new length

[2017-02-07 08:48] catroot commented on #2598
If db truncates fileds according to the schema lenght - no one can select something longer than schema defines.
Thus, with truncating even in strict SQL mode lenght will always meet.
Bad way to give away untruncated data. Bad way to store untruncated data.
Thus, speed improvement can be achieved with this way. No need to digg all data to truncate them at their place. This can be a very expensive j

[2017-02-07 08:57] coocood commented on #2598
@catroot
According to MySQL docuement
[code]

Strict SQL mode is used to prevent alteration of data, so checking every row is required.

[2017-02-07 09:00] catroot commented on #2598
In case of preventing truncation of data - agree.

[2017-02-07 10:58] zimulala opened #2606 "Failed to create the table when the column type is timestamp and default value is null"
1. What did you do?
If possible, provide a recipe for reproducing the error.
create table t (d timestamp default null);

2. What did you expect to see?
Query OK, 0 rows affected (0.02 sec)

3. What did you see instead?
ERROR 1067 (42000): Invalid default value for 'd'

[2017-02-08 01:14] Unknwon commented on #1495
A follow up question: does TiDB right now can only be started with `./tidb-server`?

[2017-02-08 02:19] ngaut commented on #1495
Yes. @Unknwon

[2017-02-08 03:04] coocood commented on #2600
Make sure to force use strict mode to check default value in DDL.

[2017-02-08 07:03] #2383 closed

[2017-02-08 09:03] tiancaiamao opened #2612 "Wrong input of builtinTimeDiffSig.eval make TimeDiff fail"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

panic...

[code]

There is a workaround PR but not fix  https://github.com/pingcap/tidb/pull/2611

[2017-02-09 00:12] yuekui2 commented on #2581
The re-balance did eventually reach, but very very slow, taking >58h for my data set.
2017-02-03 14:03:57.528554864 -0800 PST
id regions
1  3026
4  2936
5  2414
17293  94
3907515  94

2017-02-05 12:43:57.506226421 -0800 PST
id regions
1  1340
4  2400
17293  2643
3907515  2695

[2017-02-09 00:37] yuekui2 commented on #2581
BTW, the data size on the re-balanced instances are between 1.5GB ~ 2GB, based on the info returned by http://xxx:2379/pd/api/v1/stores

[2017-02-09 00:45] siddontang commented on #2581
The default balance seems slow, and it is strange that why 1 has only 1340 now? @huachaohuang

@yuekui2  We have been improving the balance, will release a version next week.

[2017-02-09 03:10] huachaohuang commented on #2581
Because we balance according to storage ratio for now, we should balance the region count.
The next version will remove some restrictions and configurations, and will be more intuitive.

[2017-02-09 04:37] c4pt0r commented on #2528
any updates?

[2017-02-09 04:38] c4pt0r commented on #2571
any updates?

[2017-02-09 04:59] zimulala opened #2615 "Inserted default value is wrong when the column type is timestamp"
1. What did you do?
If possible, provide a recipe for reproducing the error.
create table t (id int, c1 timestamp);
insert into t set id =1;
select * from t;

2. What did you expect to see?
+------+------+
| id   | c1   |
+------+------+
|    1 | NULL |
+------+------+
1 row in set (0.00 sec)

3. What did you see instead?
+------+---------------------+
| id   | c1                  |
+------+------

[2017-02-09 05:55] #2600 closed

[2017-02-09 12:49] #2541 closed