[2019-06-15 14:24] morgo commented on #10817
I didn't mean for you to have to close it :-) Perhaps we can leave an issue open so that users can comment if this issue affects them?

[2019-06-15 14:36] ericsyh commented on #10817
Sounds reasonable :)  I reopen this issue.
And users currently can use [DM table-routing](https://pingcap.com/docs/dev/reference/tools/data-migration/features/overview/#table-routing) if their MySQL schema/table names will conflict in TiDB.

[2019-06-15 15:35] morgo commented on #10804
The variable [`information_schema_stats_expiry`](https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_information_schema_stats_expiry) relates to the new data dictionary in 8.0.

I suggest that we add it to TiDB with the same default value (`86400`), but make it essentially a noop.

[2019-06-16 05:50] zhexuany opened #10818 "Is Chinese Character allowed in comments?"
https://github.com/pingcap/tidb/blob/7d27fa63d349b9d266682a3fff6e732c156cf1db/table/tables/tables.go#L799

check above line. ;)

[2019-06-17 01:37] #10818 closed

[2019-06-17 01:37] qw4990 commented on #10818
Thanks for your feedback. Your PR is merged now.

[2019-06-17 01:40] qw4990 commented on #10807
@450302324 Thanks for your feedback.
Could you please give us more details about your problem?
For example, your table schema and any SQL can reproduce this problem.

[2019-06-17 01:41] qw4990 commented on #10796
@kennytm PTAL~

[2019-06-17 01:45] qw4990 commented on #10812
@tooapi Thanks for your feedback.
Could you please describe your problem more detailedly?

[2019-06-17 01:48] qw4990 commented on #10806
@DQinYuan Thanks for your feedback and I am looking into this problem now.

[2019-06-17 03:33] 450302324 commented on #10807
My entity like that

[code]

table:
[code]

It will create an UUID as prime key and save successful when I save the entity.But I can't find data or delete data from table by this id.The id format is 7299ee7c-0640-4b0d-bcf2-493aba7d2adb.

[code]

I try it successful by SQL just now.
`select hex(id) from project where id =unhex('7299EE7C06404B0DBCF2493ABA7D2ADB000000000000000000000000000000000000000

[2019-06-17 05:05] kennytm commented on #10796
@DBKent hi, sorry for late reply. Could you try running

[code]

on TiDB after importing and see if it returns nonzero values? Thanks.

[2019-06-17 07:05] beebol commented on #10674
@jackysp  WeChat: itopers
mysql> select * from mysql.tidb where variable_name='tikv_gc_life_time';
+-------------------+----------------+----------------------------------------------------------------------------------------+
| VARIABLE_NAME     | VARIABLE_VALUE | COMMENT                                                                                |
+-------------------+----------------+-------

[2019-06-17 10:20] MyonKeminta commented on #6892
This seems to be fixed by https://github.com/pingcap/tidb/pull/8745 . How about closing it?

[2019-06-17 10:20] MyonKeminta opened #10826 "gc_worker: GC logic not covered"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I watched the coverage report and found this:

![image](https://user-images.githubusercontent.com/9948422/59597171-cec2b980-912b-11e9-94fa-4a476d1e78a3.png)

It seems the test cases is not good enough to cover the `runGCJob` function, but

[2019-06-17 10:32] zz-jason commented on #10199
@morgo, @kolbe To summary, the refinements we should do are:
1. add a column named `mem` for table `information_schema.processlist`
2. add a new command `show processlist meminfo` to display the result of `show processlist` plus a `mem` column.

Am I right? If so, @SunRunAway is going to address this issue.

[2019-06-17 12:19] winoros opened #10828 "Optimizing the usage of `FoldConstant`"
There's a example.
Currently, we build OR/AND expression by `expression.ComposeDNFCondition` or `expression.ComposeCNFCondition`.
Inside this two function, there's function `composeConditionWithBinaryOp`
[code]
Each time the `NewFunctionInternal` is called, we'll call `FoldConstant` once.
But, note that the `FoldConstant` iterate the full expression tree.
It means that if you build OR/AND expressi

[2019-06-17 13:18] breeswish commented on #8881
Can this issue being closed? @zz-jason

[2019-06-17 17:00] kolbe commented on #10199
I think we should only do #1 (add a column to `information_schema.processlist`). There is no great benefit to extending `show processlist` with additional syntax.

[2019-06-18 02:28] DBKent commented on #10796
OK,i drop my table and retry it.
![image](https://user-images.githubusercontent.com/51220911/59649009-92d33700-91b3-11e9-9fa4-92d6d410610a.png)
it returns zero values..
but i count it,have data.
![image](https://user-images.githubusercontent.com/51220911/59649061-c1511200-91b3-11e9-846a-573ecbeefec3.png)

[2019-06-18 02:55] kennytm commented on #10796
Thanks, looks like a problem in TiDB or TiKV. Could you show the TiDB and TiKV versions?

[code]

[code]

and also verify if the data really exists?

[code]

[2019-06-18 02:59] DBKent commented on #10796
Tidb: Release Version: v3.0.0-rc.1-114-gcc74145ff
Tikv: Release Version:   3.0.0-beta.
mysql> select * from FastREportDB5 limit 1\G
*************************** 1. row ***************************
     RoundDate: 2014-11-02
      GameType: 0
          AGID: 41633846
      Currency: RMB
  ExchangeRate: 1.000000
        Payoff: -99.8100
      .....
      ....
       ....
      Platform: 0
        Clie

[2019-06-18 03:31] hailanwhu commented on #10460
I debug it. I find that compare json_object('k', -1) and json_object('k', 2) in bytes. Because -1 equals 255 and 2 equals 2. Thus, the result is 1. Should we need to compare each value with same key using the actual value type?

[2019-06-18 03:33] lonng commented on #10796
@DBKent Is there any `warn` or `error` log about checksum?

[2019-06-18 03:39] DBKent commented on #10796
@lonng  , log about checksum in tidb_lightning.log?
it's all of error log in tidb_lightning.log
![image](https://user-images.githubusercontent.com/51220911/59651755-a4b9d780-91bd-11e9-9e76-908f0a0aa19c.png)

[2019-06-18 03:43] kennytm commented on #10796
@DBKent The log in `tidb.log` and `tikv.log` after executing `ADMIN CHECKSUM TABLE ReportDB.FastReportDB5` from the mysql client.

[2019-06-18 03:49] DBKent commented on #10796
@kennytm  ,no log in tidb.log and tikv.log after executing ` ADMIN CHECKSUM TABLE ReportDB.FastReportDB5`

[2019-06-18 06:07] kennytm commented on #10796
@DBKent 🤔. Would you mind joining our TiDB Community Slack chatroom (https://pingcap.com/tidbslack) for real-time investigation? You could DM me (`@kennytm`) there. (We could also use WeChat if you like)

If you prefer to continue here, could you check

1. Whether all of the following return the same values? (this checks if it is caused by case-sensitivity)

[code]

2. Insert a single row into the

[2019-06-18 06:49] breeswish commented on #10460
@hailanwhu Yes. Currently we compare by bytes for json_object, which is incorrect.

[2019-06-18 07:14] zhouqiang-cl opened #10831 "Is there any possible to define TxnEntrySizeLimit and innodb_log_file_size in config file"
## General Question

We use TiDB as  backend for jira/confluence.  which need set TxnEntrySizeLimit/innodb_log_file_size more large then default.
Now we use `sed` to modify the two const value in tidb's code.
Is there any possible to define TxnEntrySizeLimit and innodb_log_file_size in config file

[2019-06-18 07:41] jackysp commented on #4697
It already been fixed.

[code]
on master
[code]

[2019-06-18 07:41] #4697 closed

[2019-06-18 08:24] jackysp commented on #10449
Please refer to https://pingcap.com/docs/dev/reference/garbage-collection/#tidb-garbage-collection-gc

[2019-06-18 08:24] #10449 closed

[2019-06-18 09:43] breeswish opened #10835 "Incorrect weekday behaviour"
## Bug Report

[code]

MySQL:

[code]

TiDB:

[code]

[2019-06-18 11:37] jackysp commented on #9997
Is there more detailed information now? If not, I will close the issue first. Please feel free to reopen it when you need it. @powqabc

[2019-06-18 11:37] #9997 closed

[2019-06-18 12:25] meeepo opened #10840 "why ssd iops very low on cloud ssd?"
I use tidb and it use rocksb as storage engine and running on aliyun cloud server with cloud ssd.

The ssd iops performance test is 15k iops via 4k write block size and 1k iops via 3k write block size(it's looks like a disk bug and appear on all cloud ssd)

And i found disk util very high to over 80%,iostat shows that avgrq-sz about 6.25,that means my ssd iops performance down to only 1/15 .

I tr

[2019-06-18 14:43] lonng commented on #10840
Related issue: https://github.com/tikv/tikv/issues/4916

[2019-06-18 15:13] morgo commented on #2632
There is a separate issue open for password validation, so I am going to close this now. Everything else has been implemented.

[2019-06-18 15:13] #2632 closed

[2019-06-19 01:58] lonng opened #10842 "pre-commit hooks will emit an error while there is no `goword` installed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

Should install `goword` automatically instead of emitting an error.

3. What did you see instead?

[code]

[2019-06-19 02:58] aeoluswing opened #10843 "TiDB cluster is unavailable after kv conponents disconnected"
Tidb version: 2.1.11
Env: 10 nodes for Production Environment

When pd.logs show lots of `[region/store]send keepalive failed:EOF`,the kv nodes restart one after another,this takes the transformation of stats between up with disconnection on all stores.I guess our kv cluster is crashed because of the synchronization of kv nodes,at the same time `region change leader` occurs frequently.

Trying `un

[2019-06-19 03:36] zhangchangwei opened #10844 "./start_node_exporter.sh: No such file or directory"
## General Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

ansible离线部署
在启动的时候报找不到次脚

[2019-06-19 03:47] kennytm commented on #10796
After a discussion on Slack, we have determined the real cause of this issue is that **ADMIN CHECKSUM does not support partitioned tables**.

[code]

[2019-06-19 04:43] #10844 closed

[2019-06-19 06:40] winoros opened #10852 "TiDB panicked when loading data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I'm loading TPC-H's dataset using `LOAD DATA LOCAL INFILE`.

2. What did you expect to see?

All data is loaded successfully.

3. What did you see instead?

Some connection panicked.
The following is the error stack:
[code]

4. What versi

[2019-06-19 06:41] winoros commented on #10852
@winkyao @jackysp PTAL

[2019-06-19 07:55] jaczuo opened #10857 "Syncer Failed with 'Error 1366: incorrect utf8 value'"
## General Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

Below error occours wher

[2019-06-19 08:48] jackysp commented on #10852
I think https://github.com/pingcap/tidb/pull/9444 may fix it.

[2019-06-19 10:35] hailanwhu commented on #10460
@breeswish  In mysql document, it says 'The order of two objects that are not equal is unspecified but deterministic.' I confuse whether it needs to make the same behavior with mysql. I test `select json_object('k1',-1,'k2',2) > json_object('k1',-1,'k3',2);` in mysql. It returns 0. I guess it still compares in bytes in mysql.

[2019-06-19 11:02] breeswish commented on #10460
@hailanwhu It would be better to be the same.  @XuHuaiyu PTAL

[2019-06-19 16:18] zz-jason opened #10870 ""memory exceeds quota" log better to be formatted to JSON"
When the memory threshold is reached, a "memory exceeds quota" log is printed:
[code]
If we print the tracker tree in JSON format, we can parse and read it easier.

[2019-06-19 16:23] zz-jason opened #10871 "can not know which reader it belongs for a "TableReaderDistSQLTracker""
[code]

And in `builder.SetMemTracker()`:
[code]

We can set the new tracker as a child of the reader instead of the root tracker.

[2019-06-20 00:26] lonng commented on #10857
@jaczuo You should change the charset to utf8mb4 if the `���` in `感冒了，头疼流鼻涕，打喷嚏怎么办���？？？？？` is emoji.

[2019-06-20 03:48] #10199 closed

[2019-06-20 05:58] #10796 closed

[2019-06-20 05:59] #10752 closed

[2019-06-20 08:12] SunRunAway opened #10893 "Should clean the memory usage of MemTracker when a query ends."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

1. run a select query,
[code]

2. run `SELECT * FROM INFORMATION_SCHEMA.PROCESSLIST;` to show memory usage.
[code]

2. What did you expect to see?

The `Sleep` command is not consuming memory.

3. What did you see instead?

The `Sleep` command is consuming memory.

4. What version of TiDB are y

[2019-06-20 08:44] winoros commented on #9777
#9813 and #9874 fixed this issue.

[2019-06-20 08:44] #9777 closed

[2019-06-20 08:46] qw4990 commented on #10843
Thanks for your feedback @aeoluswing , but it seems that this is an issue about TiKV, so it's better to ask this question on [TiKV repo](https://github.com/tikv/tikv/issues).

[2019-06-20 10:22] Danier-Evens commented on #6406
@frwrdt How do you solve this issue?

[2019-06-20 22:25] Ishiihara commented on #10835
@ngaut @breeswish Can you assign this issue to me?

[2019-06-21 02:34] qw4990 commented on #10807
Could you please open `general log` on TiDB and execute your `delete` function again, and then find the actual delete SQL that TiDB received from `JPA` on the general log?

[2019-06-21 05:56] Oly-Don opened #10899 "modify log choice and excute rollupdate then one of tidb can not start"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
  ## excute SQL in tidb01 :
set tidb_general_log=1;
## modified /home/tidb/tidb-ansible/inventory.ini  ：
  enable_binlog = False  ==》  enable_binlog = True
## excute rolling_update at ansible-server：
ansible-playbook rolling_update.yml --tags=tidb
## ansible excute interrupt  in task “wait until

[2019-06-21 05:58] Oly-Don commented on #10899
[txnStartTS=0] [current_db=tspdw] [sql="select b_count,date_day,date_month,date_time,date_year,icode,modifydate,predate,req_syscode,warningtype from bi_warnning where date_time=1561046400000 and req_syscode='TSP-DW'"]
[2019/06/21 12:36:14.584 +08:00] [INFO] [signal_posix.go:54] ["got signal to exit"] [signal=terminated]
[2019/06/21 12:36:14.584 +08:00] [INFO] [server.go:486] ["[server] kill all co

[2019-06-21 10:26] SunRunAway opened #10903 "The Host and Info column of `show processlist` are not same as mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

open 2 mysql client and run `show processlists;` both.

2. What did you expect to see?

The `Info` column of `show processlist` should be NULL if it is not executing any statement.
See https://dev.mysql.com/doc/refman/5.5/en/processlist-t

[2019-06-21 14:33] tangenta opened #10906 "Invalid SQL can be parsed successfully"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Connect a TiDB server through mycli, execute `drop table if exists t';`

2. What did you expect to see?
In MySQL 5.7,
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-06-21 14:59] lonng commented on #10906
Can you submit a PR to fix this problem?

[2019-06-21 15:13] tangenta commented on #10906
Of course! I can try it.

[2019-06-23 14:56] pkbmh commented on #10906
@tangenta  I can't reproduce this bug in my local system.
For me both mysql-5.7 and tidb both are entering in the incomplete query shell.
<img width="1501" alt="Screen Shot 2019-06-23 at 10 53 04 PM" src="https://user-images.githubusercontent.com/11595732/59977942-d7266300-9609-11e9-8ac3-e07a9dc0b921.png">

[2019-06-23 15:07] tangenta commented on #10906
@pkbmh That's probably because MySQL client parsed the string in a unique way. You can try it on different client, like [mycli ](https://www.mycli.net/) or [tidiff](https://github.com/pingcap/tidiff).

[2019-06-23 15:41] pkbmh commented on #10906
@tangenta thanks for the clarification.

[2019-06-23 20:16] kennytm opened #10913 "plugin: Support Pre-parse Query Rewrite for Audit plugins"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In MySQL, [Pre-parse Query rewrite plugin](https://dev.mysql.com/doc/refman/8.0/en/plugin-types.html#query-rewrite-plugin-type) is the way to provide custom SQL syntax ([example](https://blogs.oracle.com/svetasmirnova/backup-server-command-for-mysql-with-query-rewrite-pre-parse-plugin)). Query rewrite plugin is

[2019-06-23 20:28] kennytm opened #10914 "plugin: Allow introduce a custom web handler"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB contains an HTTP interface at port :10080. A plugin may want to expose some status and configuration interface through this port.

**Describe the feature you'd like:**

Allow the plugin to provide an `http.Handler` from the `Manifest`.

[code]

Inside `startHTTPServer()`, for every plugin which has a non-n

[2019-06-24 08:55] crazycs520 opened #10924 "change generated column expression bug when have index on this generated column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
https://github.com/pingcap/tidb/pull/10802 : This PR make virtual columns can be indexed.
Next reproduce is base on this PR.

[code]

2. How to fix it?
When modify generated column generated expression and there is a index on the column, TiDB should do at least 1 thing on the below:

* backfill

[2019-06-24 11:03] jaczuo commented on #10857
it looks no other work around here as those data already in binlog stream. just skip `update` sqls at that time

[2019-06-24 11:03] #10857 closed

[2019-06-24 12:23] aeoluswing commented on #10843
All right.I'll transfer this issue and close current one here.

[2019-06-24 12:23] #10843 closed

[2019-06-24 17:18] #7008 closed

[2019-06-25 00:51] jackysp commented on #10674
Hi @beebol , https://github.com/pingcap/tidb/pull/10927 will fix this bug. Thanks for your report!

[2019-06-25 01:25] morgo opened #10929 "get_lock() and release_lock() should produce errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

`Get_lock` and `release_lock` were added in https://github.com/pingcap/tidb/pull/1437 for compatibility with rails. But these functions don't do anything, which could be very dangerous.

2. What did you expect to see?

In two concurrent sessions:
[code]

Maybe this can be handled similar to htt

[2019-06-25 02:49] XuHuaiyu opened #10931 "error message for `no_auto_create_user` differs from MySQL 5.7"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Test the behavior of SQL Mode `NO_AUTO_CREATE_USER`.

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-06-25 03:30] VoxT opened #10934 "CURRENT_TIMESTAMP consistencies between TiKV node?"
## General Question

I just wonder if I `insert into test(timestamp) values (CURRENT_TIMESTAMP);` then result of the timestamp is consistency between tikv node?

I see that tiDB use

But not really sure CURRENT_TIMESTAMP allocated by PD ?.

THANK YOU.

[2019-06-25 03:55] aeoluswing opened #10935 "Failed dumping TiDB data using mydumper"
## Bug Report

1. What did you do?
If possible, provide a recipe for reproducing the error.

Dumping tidb data will make mydumper critical occasionally.

2. What did you expect to see?
Handle success.

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
version: 2.1.11

[2019-06-25 04:23] morgo commented on #10931
TiDB is MySQL 8.0 compatible here, not 5.7 :(
[code]
An explanation:
- MySQL 8.0 doesn't actually support the `NO_AUTO_CREATE_USER` sql mode. It will never allow this behavior (it's a security risk).
- The error code is not matching 8.0 though :(

[2019-06-25 04:26] morgo commented on #10810
I think it is not good to add syntax which will be removed in the next version :-( But I will let @shenli or @zz-jason decide.

[2019-06-25 04:58] crazycs520 opened #10937 "incompatible behavior when modifying a stored generated column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

In TiDB Master
[code]

# In mysql
[code]

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-06-25 05:43] KangXuechao opened #10938 "select distinct datetime bug"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

sql :
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

  version : 5.7.25-TiDB-v3.0.0-beta.1

[2019-06-25 06:51] aeoluswing opened #10939 "Update operator makes indexWorker in IndexLookupExecutor panicked"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Make some update opearator SQL.

2. What did you expect to see?

IndexLookupExecutor works well.

3. What did you see instead?

Update SQL makes lots of panic below:
[code]

I'm not sure what does this panic mean.Is there any suggestion?

[2019-06-25 06:53] aeoluswing commented on #10935
Command like this for mydumper:
[code]

[2019-06-25 07:04] #10219 closed

[2019-06-25 09:44] uvd commented on #1793
Support FULLTEXT search  support 中文分词

[2019-06-25 10:11] VoxT commented on #10219
I have resolved this issue, so close it here.

[2019-06-25 11:47] #10674 closed

[2019-06-25 12:49] MyonKeminta opened #10945 "Logic of checking transactions' start_ts against GC's lifetime is not perfectly correct"
(Sorry but the issue template is not very proper)

Currently, when doing GC for TiKV, we save the safepoint to PD's etcd and sleep before actually deleting any data. A transaction T may run for so long that before it finish, the safepoint becomes later than T.start_ts. TiDB needs to check it, so each TiDB will fetch safepoint from PD's etcd.
The sleep is used to ensure other TiDB nodes has got the

[2019-06-26 06:30] weekface commented on #8958
How to solve this problem, tidb-operator users have also encountered this problem: https://github.com/pingcap/tidb-operator/issues/605

@crazycs520 @csuzhangxc

[2019-06-26 07:17] bb7133 commented on #10945
PTAL @jackysp

[2019-06-26 07:23] bb7133 commented on #10935
Thanks for reporting @aeoluswing
Would you please take a look? @csuzhangxc

[2019-06-26 07:43] bb7133 commented on #10938
Hi @KangXuechao , thanks for reporting!

[2019-06-26 07:54] jackysp commented on #10945
Is it better to abort the transaction if it could not get the safe point? @MyonKeminta

[2019-06-26 08:56] #10804 closed

[2019-06-26 09:40] bb7133 commented on #10934
Hi @VoxT ,

* About the execution of `CURRENT_TIMESTAMP`:
  `CURRENT_TIMESTAMP` is not allocated by PD, as an expression, its value is simply evaluated in
  TiDB as a constant when building the SQL plan. When the plan is executed, TiKV only sees constants,
  so the consistency is guaranteed.

  You can check the following codes for the details:

  When building the plan, `expressionRewriter` tries

[2019-06-26 10:08] lucas1993ch commented on #8947
my problem is
[code]

it does not work for me。My colleague (under windows) always generate checksum
[code]

while I (under macos) always generate checksum

[code]

for

go.etcd.io/etcd@v3.3.13+incompatible: checksum mismatch

even though I can delete go.sum and generate `my` version of go.sum and It can work fine whatever it's go build or go run or anything but we work together with git ,the go.su

[2019-06-26 10:08] VoxT commented on #10934
@bb7133 thank you for your response.

Address from your answer then `CURRENT_TIMESTAMP` is not allocated by TiDB component right?

My problem is I could run many tidb component but I need to get a `CURRENT_TIMESTAMP` consistency for the whole cluster.

Is there a way I can get a value like that in tidb cluster, like an api to get `CURRENT_TIMESTAMP` from PD leader?

Thank and hope there is a way

[2019-06-26 10:26] bb7133 commented on #10934
hi @VoxT

It is not allocated by PD, but evaluated in TiDB in each connection.

When you talk about 'TiDB component', you mean there are multiple TiDB servers, right?

Are you connecting to all of them and insert `CURRENT_TIMESTAMP` in each connection? If so, there's no way to get the timestamp you want... You may need to get a consistent value by yourself for all your connections and insert the v

[2019-06-26 15:40] morgo opened #10955 "MAX_EXECUTION_TIME behavior differences from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

MAX_EXECUTION_TIME was recently added in https://github.com/pingcap/tidb/issues/7008
I noticed a few behavior differences from MySQL.

2. What did you expect to see?

TiDB supports `set max_execution_time=1000;`, but does not support using this as a hint. This is important for languages such as

[2019-06-26 15:41] morgo commented on #10955
@tiancaiamao PTAL

[2019-06-27 01:20] yangwenmai commented on #10446
in github.com/pingcap/parser/yy_parser.go#214
[code]

so We must be modify the parser?

[2019-06-27 01:40] lucas1993ch commented on #8947
Solved.The reason is colleagues in my team use different goproxy ,someone use https://goproxy.io and someone use that goproxy we run of our own,and then the checksum of module `etcd` turn out to be different。It maybe the problem of our goproxy(but anyway ,if we use the same goproxy ,problem will be solved)and we have decided to update our goproxy and check it later。

[2019-06-27 02:03] lonng commented on #10446
@yangwenmai Yes.

[2019-06-27 02:24] VoxT commented on #10934
Yeah.

Right.

So I see there is no way. But hopeful that there is the way to get a timestamp from PD in the future.

Thank you for your answer and your contribution to an awesome TiDB.

[2019-06-27 03:00] Deardrops commented on #10835
@Ishiihara you could review the PR #10864  for this issue.

[2019-06-27 03:12] tiancaiamao commented on #10955
I'll take a look @morgo

[2019-06-27 05:06] tiancaiamao commented on #10955
This one fix the "sleep" problem
https://github.com/pingcap/tidb/pull/10959

[2019-06-27 06:30] Danier-Evens opened #10960 "How to be push down to TiKV by use Hash Aggregation."
#### TiDB version
![image](https://user-images.githubusercontent.com/9987025/60239775-6d47db00-98e1-11e9-8a23-b7a7660e50a0.png)

#### TiDB Cluster topology
TiDB 8CPU 16G 100G
 PD   5CPU 8G  200G
 TiKV 8CPU 32G 200G(SDD)

#### Question
I use this cluster test a single table aggregation  on a 2kw+ table，view the execution plan, the aggregation method is StreamAgg，TiDB documentation have write "hash

[2019-06-27 08:00] tiancaiamao commented on #10955
And this one fixes the SQL hint and set global var
https://github.com/pingcap/tidb/pull/10963

[2019-06-27 08:25] zimulala commented on #10937
Related to  #9372

[2019-06-27 09:43] breeswish opened #10965 "Trace UI broken"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Following steps in https://github.com/pingcap/docs-cn/blob/master/dev/reference/sql/statements/trace.md

2. What did you expect to see?

Traces as shown in doc

3. What did you see instead?

![image](https://user-images.githubusercontent.

[2019-06-27 11:38] #10893 closed

[2019-06-27 11:45] SunRunAway commented on #10740
It's fixed in #10799

[2019-06-27 11:45] #10740 closed

[2019-06-28 02:23] tangenta opened #10973 "Generated column can refer to an auto-increment column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

It should report an error, like MySQL 5.7:
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-06-28 02:48] tangenta commented on #10937
Here is a similar issue:
[code]
In MySQL :
[code]
In TiDB:
[code]

[2019-06-28 03:24] SunRunAway commented on #10556
The expected error should be similar with mysql output.
[code]

[2019-06-28 05:39] siddontang opened #10975 "`tidb-server -h` output test flags"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?

No any -test fields in the binary.

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-06-28 13:14] morgo commented on #10955
I can still reproduce issues 2 and 4 (both should be fixed in https://github.com/pingcap/tidb/pull/10959 ). I will add a "Fixes" in the issue description.

[code]
and:
[code]

[2019-06-28 16:56] kennytm opened #10988 "Hex/Binary literal is not passed correctly into a PREPARE'd statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

The execution run successfully with no errors. The table `test.t` contains:

[code]

3. What did you see instead?

The execution failed with

[code]

The stack trace looks like:

[code]

4. What ver

[2019-06-28 17:01] kennytm commented on #10988
Interestingly, if we're make it a DELETE WHERE statement, both MySQL and TiDB failed:

[code]

TiDB:

[code]

MySQL 8:

[code]

[2019-06-28 17:05] shenli commented on #10939
@aeoluswing Thanks for your feedback! We will investigate it.

[2019-06-28 17:08] shenli commented on #10935
@aeoluswing Please check the system log like `dmesg`. I guess you meet OOM issue. It is a known issue for 2.1.11. Please upgrade to the 2.1.13.

[2019-06-28 17:11] shenli commented on #10899
Have you deployed the binlog component of TiDB?

[2019-06-28 17:13] shenli commented on #10840
@meeepo I will close this issue due to that it is duplicated with the issue in TiKV repo. TiKV repo is a more suitable place to discuss this issue.

[2019-06-28 17:13] #10840 closed

[2019-06-28 17:16] shenli commented on #10812
@tooapi Please provide more information. Thanks!

[2019-06-28 17:17] shenli commented on #10775
@romber2001 Please upgrade to the 2.1.13. It is fixed.

[2019-06-28 17:21] shenli commented on #10653
@simpson9527 Any update? Have you dropped and re-created the `user` table in TiDB?

[2019-06-28 17:27] shenli commented on #10619
@dbhelp OK. I will close this issue. Thanks for your attention to TiDB.

[2019-06-28 17:27] #10619 closed

[2019-06-28 17:28] shenli commented on #10611
@wang543635182 Hope your problem is solved. I will close this issue. Feel free to reopen it if you have any more question.

[2019-06-28 17:28] #10611 closed

[2019-06-28 17:32] shenli commented on #10531
@dengwfxx We just released 3.0.0. Could you try this release? It fixes many issue in rc1.

[2019-06-28 17:34] shenli commented on #10507
@kxiaoba Please keep the issue template and provide more information.

[2019-06-28 17:37] shenli commented on #10473
Adding Index need to backfill the data. It could be slow. Please read our document.

[2019-06-28 22:57] Oly-Don commented on #10899
i turn on enable_binlog = True,is that ?

[2019-06-29 01:38] zz-jason commented on #10939
@aeoluswing Do you enabled streaming by setting config `enable-streaming` to `true`?

[2019-06-29 02:34] tennix commented on #10650
@lf78204490 Did you run it on Windows? I'm sorry that we haven't tested tidb-docker-compose on Windows. Could you find a Linux or macOS machine to try tidb-docker-compose? If you find any problems on these platforms, then please file an issue in tidb-docker-compose repository.

[2019-06-29 06:02] siddontang commented on #10507
do you set `sync-log` to false?

which version do you use?

[2019-06-29 09:07] shenli commented on #10938
@KangXuechao This is a known issue related to DST. We will fix it latter.

[2019-06-29 10:06] tennix commented on #10779
The default log level in tidb-docker-compose is `error`, however, slow log is not error log, so it will not output in the log files. To enable slow log, you have to set tidb log level to `info` explictily in the configuration file.

[2019-06-29 18:00] romber2001 commented on #10775
thanks for your reply, i've two more questions:
1. is this a mydumper problem or tidb problem?
2. is there any work around to avoid this problem without upgrading to new version?

[2019-06-30 01:02] shenli commented on #10775
@romber2001 It is a problem of tidb and there is no workaround if you need to fetch all the data from a huge table.

[2019-06-30 11:57] romber2001 commented on #10775
@shenli , copy that.

[2019-07-01 03:19] SunRunAway opened #10996 "window function: group_concat error message is not compatible"
## Description

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

## Score

* 50

## Mentor(s)

* @SunRunAway

Contact the mentors: **#tidb-challenge-program** channel in [TiDB Community](https://join.slack.com/t/tidbcommunity/shared_invite/enQtNzc0MzI4OD

[2019-07-01 03:31] VoxT commented on #10934
Got answer, close here

[2019-07-01 03:31] #10934 closed

[2019-07-01 04:52] #9125 closed

[2019-07-01 05:47] tiancaiamao commented on #10965
I guess it's because the SQL output is truncated into multiple lines.
Would you please provide the json data? @breeswish

[2019-07-01 05:49] breeswish commented on #10965
Any SQL doesn't work. I think the root cause should be in my posted image: it uses 0.0.0.0 for all assets, where in Mac 0.0.0.0 is not accessible.

[2019-07-01 07:02] XuHuaiyu commented on #10903
fixed in #10985

[2019-07-01 07:08] SunRunAway commented on #10903
Have it been fixed?

[2019-07-01 07:09] XuHuaiyu commented on #10903
@SunRunAway It will be fixed in another PR.

[2019-07-01 07:12] tiancaiamao commented on #10965
Get it. Thanks for your report, I'll fix it later.

[2019-07-01 07:26] jackysp commented on #9062
I verified it in version 3.0 and did not reproduce it. I will close this issue first. If you still have problems, please feel free to reopen it.

[2019-07-01 07:26] #9062 closed

[2019-07-01 07:32] SunRunAway opened #11001 "window function: frame end cannot be UNBOUNDED PRECEDING."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-01 07:46] SunRunAway opened #11002 "window function: frame start cannot be UNBOUNDED FOLLOWING."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-01 08:18] zimulala commented on #10644
@Mingdr Thanks for your feedback!
It's a bug for the case as follows:
[code]

[2019-07-01 08:35] cfzjywxk commented on #8953
@AndrewDi  hi, I've tried on mysql 5.6 5.7 , they report same parsing error messages.

mysql> select version();
+-----------+
| version() |
+-----------+
| 5.7.26    |
+-----------+
1 row in set (0.00 sec)

mysql> SELECT 1 AS `a` WHERE 1<ANY (SELECT 2) ORDER BY `a`;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the righ

[2019-07-01 08:48] Mingdr commented on #10644
that's all,When can it be resolved.

[2019-07-01 09:12] SunRunAway opened #11007 "window function: A window which depends on another cannot define partitioning."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-01 09:25] SunRunAway opened #11008 "window function: should check fuction's arguments firstly."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]
4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-01 09:26] #8700 closed

[2019-07-01 09:26] jackysp commented on #8700
Fixed by #8866

[2019-07-01 09:44] SunRunAway opened #11009 "window function: function name of error message should be lowercase"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-01 10:09] SunRunAway opened #11010 "window function: Window with RANGE N PRECEDING/FOLLOWING frame requires exactly one ORDER BY expression, of numeric or temporal type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-01 10:18] SunRunAway opened #11011 "window function: Window 'w': frame start or end is negative, NULL or of non-integral type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-01 13:10] #10955 closed

[2019-07-01 13:24] #10906 closed

[2019-07-02 03:01] lamxTyler commented on #10939
@aeoluswing Could you provide the failed SQL and related schemas?

[2019-07-02 05:53] imtbkcat opened #11024 "Unexpected ambiguous error in `insert on duplicatted key `"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
in MySQL:
[code]

3. What did you see instead?
in TiDB:
[code]
4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-02 06:15] lamxTyler commented on #10939
@aeoluswing Do you meet panics if the streaming is disabled?

[2019-07-02 08:09] SunRunAway opened #11031 "Incompatible issues about window function"
We have some incompatible issues about window function, and need help from contributors, most of them are simple to fix. You can reply on this thread to take an issue. Feel free to ask any question, I will reply ASAP.

- [x] #10996 @zhaox1n
- [x] #11001 @lzmhhh123
- [x] #11002  @lzmhhh123
- [x] #11007 @b41sh
- [x] #11008  @gaoxingliang
- [x] #11009  @tcmichael
- [x] #11010  @lzmhhh123
- [x] #11011

[2019-07-02 09:02] qw4990 opened #11034 "Merge handles in `IndexLookup` to reduce the number of inner cop-tasks"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Not a problem, just a proposal to reduce the number of inner cop-tasks in `IndexLookup`, which can save resources of TiDB and TiKV and may get a better performance.

**Describe the feature you'd like:**

Now, the execution flow of `IndexLookup` is:
1. Fetch handles from its outer child(IndexScan);
2. Build inne

[2019-07-02 09:02] qw4990 commented on #11034
@zz-jason @XuHuaiyu How do you think?

[2019-07-02 09:46] #9334 closed

[2019-07-02 12:28] tcmichael commented on #11009
/assign

[2019-07-02 12:59] jackysp opened #11036 "explain analyze panic when insert select"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
I think insert is not supported by explain analyze, so it should return an error. Or we could explain the select part for this SQL.

3. What did you see instead?
Got a panic
[code]

4. What version of

[2019-07-02 14:31] gertvdijk commented on #4841
Clustering your data determines how the data is laid out on disk. Several databases use different terminology to describe the same thing. Let me explain it by example.

Suppose you have a schema with columns `object_id` (integer, incrementing & unique), `user_id` (integer), `data` (binary/varchar or whatever) and you're running MySQL with InnoDB, the following options have a huge impact on your qu

[2019-07-03 01:34] wty4427300 commented on #10556
/assign

[2019-07-03 02:26] tiancaiamao commented on #10899
If you turn on binlog in the config file, you have to deploy the `pump` which is one of the binlog components.
https://pingcap.com/docs/v3.0/how-to/deploy/tidb-binlog/#tidb-binlog-cluster-deployment
@Oly-Don

[2019-07-03 03:09] hwinsCK opened #11046 "tidb 3.0 'tikv-server -V' returns "illegal instruction""
TiDB Version: TiDB 3.0
Software:  http://download.pingcap.org/tidb-3.0.0-linux-amd64.tar.gz
./tikv-server  -V
Illegal instruction (core dumped)

The cpu info for the virtual machine:
vendor_id: GenuineIntel
model name: QEMU Virtual CPU
flags: fpu de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pse36 clflush mmx fxsr sse sse2 syscal nx lm rep_good nopl pni cx16 x2apic popcnt hypervisor lahf_l

[2019-07-03 05:44] Connor1996 commented on #11046
Could you show gdb tikv-server core -batch -ex "disassemble"

[2019-07-03 05:46] b41sh commented on #11007
/assign

[2019-07-03 06:06] zimulala opened #11049 "Should not add an index of length 0 to columns of type Blob, text, etc."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
["Release Version"=v3.0.0-rc.1-264-gcb23b524a]
["Git Comm

[2019-07-03 06:18] qw4990 commented on #11034
cc @lamxTyler @eurekaka @winoros @SunRunAway @lzmhhh123

[2019-07-03 06:50] qw4990 commented on #11034
My mistake, after discussing with @lamxTyler, it seems that adjusting outer-BatchSize is a better way to solve this problem.

[2019-07-03 06:50] #11034 closed

[2019-07-03 08:57] tangenta opened #11052 "Cannot change column collation from `utf8mb4_general_ci` to `utf8mb4_general_ci`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
2. What did you expect to see?
In MySQL 5.7:
[code]

3. What did you see instead?
In TiDB:
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-03 09:00] jiangfengbing opened #11053 "PD server timeout"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]
log of pd1:

[code]

log of pd2:

[code]

log of pd3:

[code]

2. What did you expect to see?

load data ok and finished.

3. What did you see instead?

hanged on LOADING salaries,
ERROR 9001 (HY000) at line 672862 in file: 'load_salaries2.dump': PD server timeout

4. What version of TiD

[2019-07-03 09:16] tiancaiamao commented on #11053
Is there any network errors between pd1 pd2 pd3?

[2019-07-03 09:24] Connor1996 commented on #9628
@liubo0127 any update?

[2019-07-03 09:28] #10924 closed

[2019-07-03 09:28] #10937 closed

[2019-07-03 09:29] #10973 closed

[2019-07-03 11:13] jiangfengbing commented on #11053
No network errors.
No errors in dmesg. No RX errors or TX errors in veth adapters.

[2019-07-03 11:36] tiancaiamao opened #11059 "A critical bug was introduced during a tiny refactor in PR/11018"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

This line introduces the bug:
https://github.com/pingcap/tidb/pull/11018/files#diff-84f3439ff795a2ffd72177b335c225d3R144

The if-else branch is reversed

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

`admin check table` should not return error

[2019-07-03 11:50] jiangfengbing commented on #11053
[logs.tar.gz](https://github.com/pingcap/tidb/files/3354828/logs.tar.gz)

[2019-07-03 12:21] imtbkcat opened #11061 "Unexcepted result in `INSERT INTO ... SELECT`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-03 12:33] imtbkcat commented on #11061
@zz-jason It seems `SELECT (SELECT SUM(LENGTH(c)) FROM t1 WHERE c IN (SELECT t1.c FROM t1)) ` result wrong.

[2019-07-03 16:22] breeswish opened #11064 "Hex values are not correctly handled"
## Bug Report

In TiDB:

[code]

In MySQL:

[code]

[2019-07-04 02:59] GregoryIan commented on #11059
any plan to add tidb-binlog testing case in CI？

[2019-07-04 03:46] #11059 closed

[2019-07-04 03:51] tiancaiamao commented on #11059
Isn't it already covered in your test? How can we find this bug otherwise?
@GregoryIan

[2019-07-04 04:49] GregoryIan commented on #11059
should we find something wrong while we issue a TiDB pr, not afterwards?  @tiancaiamao

[2019-07-04 05:01] tiancaiamao commented on #11059
Improve unit test...

[2019-07-04 06:02] zuoRambo commented on #11002
/assign

[2019-07-04 06:04] zuoRambo commented on #11001
/assign

[2019-07-04 06:05] zuoRambo commented on #11011
/assign

[2019-07-04 06:25] #11007 closed

[2019-07-04 07:02] winoros commented on #11061
Index join's result is wrong while hash join's is correct.

[2019-07-04 07:29] tiancaiamao commented on #11049
Would you like to handle it? if so, you may assign this issue to yourself. @zimulala

[2019-07-04 07:43] SunRunAway opened #11077 "Memory is still growing after killing sql."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

* run a memory consuming sql `select * from texttable, texttable2`
* `kill tidb <connId>` after the memory usage of `tidb-server` reaches 100GB

2. What did you expect to see?

* The memory of the process should be released
* The connecti

[2019-07-04 08:00] tiancaiamao commented on #11077
What's the tidb log look like? Is there any `error` or `kill` in the log  @SunRunAway

[2019-07-04 08:04] SunRunAway commented on #11077
[2019/07/04 16:04:05.245 +08:00] [INFO] [server.go:450] [kill] [connID=2] [query=false]

[2019-07-04 08:09] SunRunAway commented on #11077
Here's dumped goroutine after running `kill` command.

[code]

[2019-07-04 08:41] jiyfhust opened #11078 "check table column not exsists null value may lead to table scan"
https://github.com/pingcap/tidb/blob/master/ddl/column.go

[code]
the sql "select count(*) from `%s`.`%s` where `%s` is null limit 1" is same with "select count(*) from `%s`.`%s` where `%s` is null", then it may count all null values，that may lead to table scane

[2019-07-04 09:25] siddontang opened #11080 "different behavior when inserting too long data in MySQL 5.7 and TiDB 3.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Like MySQL 5.7, insert successfully but with a warning, e.g.

[code]

3. What did you see instead?

Meet error:

[code]

I find that both MySQL 5.7 and TiDB use the same sql mode:

[code]

If I want

[2019-07-04 09:34] siddontang commented on #11080
[code]

[2019-07-04 09:35] tiancaiamao commented on #11078
The logic here has to scan the whole table, in the worst case.
The problem you point out is that `select count() from %s.%s where %s is null limit 1` scan the whole table, in all cases. @jiyfhust
Maybe it's better to change it to `select 1 from %s.%s where %s is null limit 1`

[2019-07-04 10:07] codezero00 commented on #9816
I also have the same question！i drop the view , but i have found the metadata still in  information_schema.

and the other question,  after  i creating the view , I found error on tispark when i run SQL

[2019-07-04 11:35] zz-jason opened #11082 "uniform the way to represent full range scan"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We use different range representations for full range scans in different contexts. For example, `range:[-inf,+inf]` is used to represent a full range scan on a signed int column:
[code]

While for an unsigned column, the full range representation is `range:[0,+inf]`:
[code]

**Describe the feature you'd like:**

[2019-07-04 12:43] XuHuaiyu commented on #11080
A minimal case to re-produce this problem:
[code]

[2019-07-04 14:46] hwinsCK commented on #11046
[gdb.txt](https://github.com/pingcap/tidb/files/3359764/gdb.txt)

[2019-07-05 03:29] #11009 closed

[2019-07-05 04:15] Connor1996 commented on #11046
same as https://github.com/tikv/tikv/issues/4999, it mainly because the distributed release includes AVX operations that your CPU doesn't support. It will be okay for the next release, but for now, you can download tikv source code https://github.com/tikv/tikv/archive/v3.0.0.tar.gz and run make dist_release on your own machine to build the binary fitting for your CPU flags.

[2019-07-05 05:59] ruiaylin opened #11092 "Add doc for the new fast recover feature in TiDB 3.0"
Very excited by The GA  release of TiDB 3.0,  We deploy a testing cluster of 3.0.   When we test the fast recover feature using sql below , an error occur.

[code]
The Correct SQL Command is 👍
[code]
But the recover Command not  in the docs of 3.0 .

[2019-07-05 06:49] SunRunAway commented on #9396
We can give `sync.Pool` a try again using go1.13beta. See https://github.com/golang/go/issues/22950

[2019-07-05 06:49] #10518 closed

[2019-07-05 09:09] tiancaiamao opened #11100 "kill statement can't interrupt subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

As I've mentioned in https://github.com/pingcap/tidb/pull/10959, the MAX_EXECUTION_TIME hint **can only kill queries in execute phase**, kill statement has the same problem.

This query can be killed
[code]

while this cannot:

[code]

2.

[2019-07-05 09:24] jiyfhust commented on #11078
need i send a pull request for this issue?

[2019-07-05 09:24] jiyfhust commented on #11078
@tiancaiamao

[2019-07-05 09:45] tiancaiamao commented on #11078
I'm glad that you can take this job, come on!

[2019-07-05 10:26] lovewin99 opened #11102 "Unexcepted result in `SELECT ... CASE WHEN ... ELSE NULL ...`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-05 11:19] tiancaiamao commented on #11053
PTAL @disksing @nolouch

[2019-07-05 12:02] tcmichael commented on #11010
/assign

[2019-07-05 12:22] disksing commented on #11053
I suspect PD has a high load, or high network delay to complete leadership election, so it can't service. To help us trace, please provide more information:
1. PD's log start from when they start last time
2. host load status
3. screenshoot of the grafana page: Grafana / PD / etcd
Thanks!

[2019-07-05 15:29] tcmichael commented on #11010
@SunRunAway PTAL

[2019-07-05 16:23] tcmichael commented on #11010
/unassign

Sorry, I do not have enough time for this, anyone interested could take it from here.

[2019-07-06 01:02] nange opened #11109 "Autoid value is incorrect when field type is float or double"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

[code]

2. What did you expect to see?
[code]

[code]

3. What did you see instead?
[code]

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-06 02:35] crazycs520 commented on #11109
Thanks for report and contribution.

BTW, the other case may have the same problem, I  just test update:
[code]

[2019-07-06 06:46] fgLxy opened #11111 "扩展set数据类型枚举范围，报错unsupported modify column %!s(ast.ColumnOptionType=12)"]"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
原始表结构
CREATE TABLE `game_asset` (
  `id` varchar(40) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
  `status` int(11) NOT NULL,
  `create_at` datetime NOT NULL,
  `modify_at` datetime NOT NULL,
  `game_id` varchar(40) NOT NULL,
  `url` var

[2019-07-06 07:03] zz-jason opened #11112 "support SELECT ... INTO OUTFILE"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No

**Describe the feature you'd like:**

From MySQL documentation [13.2.10.1 SELECT ... INTO OUTFILE Syntax](https://dev.mysql.com/doc/refman/8.0/en/select-into.html):

It helps us to store the query result in a CSV form.

After this issue https://github.com/pingcap/parser/issues/722, you have to implement a `

[2019-07-06 09:40] fgLxy commented on #11111
和set数据类型无关，是navicat生成的语句带了编码和排序规则信息

[2019-07-06 09:40] #11111 closed

[2019-07-06 09:44] hailanwhu opened #11113 "Generate physical plan for IndexMergePath"
## Feature Request

**Is your feature request related to a problem? Please describe:**

#9019

**Describe the feature you'd like:**

In #10512 pr, we have generated the possible access path, i.e., `IndexMergePath` using multiple indexes to access a table. It is time for us to generate the physical plan for `IndexMergePath`.
**Describe alternatives you've considered:**

**Teachability, Documentatio

[2019-07-06 13:02] lexesv opened #11115 "How to disable auto_increment increasing?"
Hello!
How to disable auto_increment increasing (+30000) at all?
I not found answer

[2019-07-06 13:15] nange commented on #11109
I will take a look.

[2019-07-07 01:48] winkyao commented on #11115
Why do you want to disable auto_increment increasing(+30000)? Could you give more details?

[2019-07-07 01:50] winkyao commented on #11115
Will this [docs](https://pingcap.com/docs-cn/v3.0/reference/mysql-compatibility/#%E8%87%AA%E5%A2%9E-id) can help?

[2019-07-07 01:52] winkyao commented on #11115
You can not disable this feature in TiDB.

[2019-07-08 03:36] zplinuxlover opened #11119 "How do I compile tidb in goland"
## General Question
I import tidb source code into goland， but I compile the code using goland, But I got the error,
the error is below, But when i use make to compile the code , I do not get any error, which tool do you use to develop tidb, goland or vim ?

the error message is

# github.com/coreos/etcd/clientv3
../coreos/etcd/clientv3/auth.go:121:72: cannot use auth.callOpts (type []"github.com/

[2019-07-08 03:44] winoros commented on #11119
Did your Goland open the `Go Modules(vgo)`?

[2019-07-08 04:52] zplinuxlover commented on #11119
can you give me a document of how to setup tidb in goland?

[2019-07-08 05:45] winoros commented on #11119
@zplinuxlover
TiDB uses `go module` instead of vendor to manage dependencies.
You need to open the `vgo` feature in Goland https://blog.jetbrains.com/go/2019/01/22/working-with-go-modules/

[2019-07-08 05:47] #10929 closed

[2019-07-08 07:56] crazycs520 opened #11123 "Invalid JSON value for CAST to DATE/TIME/DATETIME/TIMESTAMP from column json_extract"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
compatible with MySQL.

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-08 07:57] #11123 closed

[2019-07-08 07:57] crazycs520 commented on #11123
Duplicate with https://github.com/pingcap/tidb/issues/9135

[2019-07-08 08:11] XuHuaiyu opened #11124 "actual plan of a running stmt is not the same as the result of `explain stmt`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

In session1:
[code]

In session2:
[code]

2. What did you expect to see?
The same explain result.

3. What did you see instead?
N/A

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
`21d2590ac37bf53e5e687b8a341d50105ddbffe8` in master bran

[2019-07-08 08:25] XuHuaiyu commented on #11124
The root cause is that `StmtCtx` of `explain` is not set correctly.

[2019-07-08 08:26] XuHuaiyu commented on #11124
related issue:
https://github.com/pingcap/tidb/issues/11102

[2019-07-08 08:26] imtbkcat commented on #4475
This is caused by:
https://github.com/pingcap/tidb/blob/master/planner/core/expression_rewriter.go#L951

[2019-07-08 09:46] BeyongTheMemory opened #11126 "Question about TiDB Binlog"
请问为什么TiDB不选择收集TiKV中的raft日志来实现Binlog呢？是出于解耦的考虑或是读TiKV日志的方式实现起来会出现很大的问题吗？
由于我们只需要KV查询功能，所以基于TiKV做了数据库，现在需要类似binlog的功能想请教一下你们当时选型的原因，非常感谢

[2019-07-08 09:49] jackysp commented on #9661
https://github.com/pingcap/tidb/pull/10139 and https://github.com/pingcap/tidb/pull/10223 fixed this issue.

[2019-07-08 09:49] #9661 closed

[2019-07-08 10:34] jiyfhust opened #11127 "A question about add table index code"
hi,  i read code about add table index.

i have a question about it.

code file [link]( https://github.com/pingcap/tidb/blob/master/ddl/index.go "With a Title")

    func (w *worker) addPhysicalTableIndex(t table.PhysicalTable, indexInfo *model.IndexInfo,
        ...
        for {
		    kvRanges, err := splitTableRanges(t, reorgInfo.d.store, startHandle, endHandle)
		    ...
		    remains, err :=

[2019-07-08 11:11] jackysp commented on #9471
TiKV scans data from the new version to the old, the data need-to-GC does not have much impact. If there are too many versions of data and the snapshot is too old, it will affect the performance.

[2019-07-08 11:11] #9471 closed

[2019-07-08 11:11] jackysp commented on #9471
TiKV scans data from the new version to the old, the data need-to-GC does not have much impact. If there are too many versions of data and the snapshot is too old, it will affect the performance.

[2019-07-08 11:15] #10644 closed

[2019-07-08 11:35] wshwsh12 opened #11128 "Optimaze the plan built for a range scan on uint"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now the plan built for a range scan on `uint` can be better.
e.g.
[code]
**Describe the feature you'd like:**

The result can be better.
[code]
**Describe alternatives you've considered:**

No.

**Teachability, Documentation, Adoption, Migration Strategy:**

No.

[2019-07-08 12:35] Ryan-Git opened #11129 "Raft: Laze Peer"
Recently I found a ppt about TiDB in QCon 2019 BJ (here's a [link](https://myslide.cn/slides/18419), at page 21), which states a raft new feature called "Lazy Peer".

What does it exactly mean?

[2019-07-08 13:16] zz-jason opened #11130 "support cast as double"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Since MySQL 8.0.17, it supports cast a value to a double type:

https://dev.mysql.com/doc/refman/8.0/en/cast-functions.html#function_cast

**Describe the feature you'd like:**

Support the feature: `cast(xx as double)` and `cast(xx as real)`

**Describe alternatives you've considered:**

No

**Teachability, Doc

[2019-07-08 13:17] zhangjinpeng1987 commented on #9077
`errors: server is busy` it is caused by TiKV's flow control mechanism, there is too much data pour into TiKV in a short time.

[2019-07-08 13:18] zhangjinpeng1987 commented on #9077
How large your batch size is? And how about the client concurrency?

[2019-07-08 13:41] lizhenda commented on #11130
/assign

[2019-07-08 14:45] shenli commented on #11126
We need to provide transaction binlog. Make sure the binlog is the same order as the transaction. It is much simpler to implement binlog from `tidb-server` side.

[2019-07-08 14:51] vipsql commented on #9077
@zhangjinpeng1987  the batch size is about 3000 rows/s  and the client is about 40~50

[2019-07-08 16:15] BeyongTheMemory commented on #11126
Many tks. If all of the pump servers down,  write operate will fail，right?

[2019-07-08 16:25] shenli commented on #11126
@BeyongTheMemory Yes, but you can set [an option](https://github.com/pingcap/tidb/blob/master/config/config.toml.example#L298) to change the behavior.
We are planning to refactor the `binlog` component to improve high availability and usability.

[2019-07-08 22:37] zhangjinpeng1987 commented on #9077
You said `tikv gc worker is busy`, it was `sever is busy` error indeed?

[2019-07-09 02:07] BeyongTheMemory commented on #11126
ok, thanks

[2019-07-09 02:07] #11126 closed

[2019-07-09 05:35] zhangjinpeng1987 commented on #9077
For version 2.1 and for this 3 node tikv cluster, you can try small batch size like 100, or smaller concurrency like 8. You also can try version 3.0 GA which has better performance.

[2019-07-09 05:38] cosven opened #11136 "data_type of view column should be valid instead of unspecified"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When I extract `DATA_TYPE` info from `information_schema.columns` table for a view column,
TiDB always return `unspeicfied`.

The SQL statements to reproduce the problem:
[code]

The output from TiDB:

[code]

Output from MySQL:
[code]

**Describe the feature you'd like:**

TiDB should return the column data ty

[2019-07-09 06:24] zz-jason opened #11139 "should fill index data after adding an index on a virtual generated column"
## Bug Report

## 1. What did you do?

All the following operations are executed on a tidb-server built from https://github.com/pingcap/tidb/pull/10802

[code]

The query below can produce a correct result:
[code]

Then create an index on the newly added column `d`:
[code]

And run the query again, the result is incorrect:
[code]

The execution plan now is changed to:
[code]

## 2. What did you ex

[2019-07-09 06:35] qw4990 commented on #8300
It seems that this issue has already resolved by this [PR](https://github.com/pingcap/tidb/pull/9057/files#diff-b7776f772f76c1be90188fa55fc7988eR224);

[2019-07-09 07:10] SunRunAway opened #11140 "Column information in error message should take along with database name"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

Column information should be `<database>.<table>.<column>` format.
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version()

[2019-07-09 07:18] zz-jason commented on #5137
@winoros Can we close this issue?

[2019-07-09 07:42] SunRunAway commented on #5334
Duplicate of #1248

[2019-07-09 08:00] SunRunAway commented on #8439
Hi @morgo, is it nice to have a no-op implementation of `MASTER_POS_WAIT`?

[2019-07-09 08:09] wshwsh12 opened #11143 "Optimaze the plan built for a range scan on int"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now the plan built for a range scan on `int` can be better.
e.g.
[code]

**Describe the feature you'd like:**

The result can be better.

[code]

**Describe alternatives you've considered:**

No.
**Teachability, Documentation, Adoption, Migration Strategy:**

No.

[2019-07-09 08:13] zz-jason commented on #11143
How to decide whether to use `TableDual`?

[2019-07-09 08:21] SunRunAway opened #11145 "Column information in error message is missing."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

The column information is missing.
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

fdbc149b72db7034d0

[2019-07-09 08:51] SunRunAway opened #11146 "Can't be negative the value of NAME_CONST."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Can't be negative the value of `NAME_CONST`.
[code]
[code]

2. What did you expect to see?

[code]
[code]
3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiD

[2019-07-09 09:05] crazycs520 commented on #11139
I will fix this today.

[2019-07-09 09:06] zz-jason commented on #11139
I think @tangenta is under investigating?

[2019-07-09 09:07] SunRunAway opened #11147 "Function information in error message should take along with database name"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Function information should be `<database>.<function>` format.
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` o

[2019-07-09 09:10] crazycs520 commented on #11139
@tangenta is busy doing another thing now.

[2019-07-09 09:20] #8300 closed

[2019-07-09 09:40] SunRunAway commented on #11011
Ping @zuoRambo , any update?

[2019-07-09 09:40] SunRunAway commented on #10556
Ping @wty4427300 , any update?

[2019-07-09 10:21] wangsiyu34567 opened #11148 "为什么我使用ansible-playbook start.yml -l 启动某个挂掉的kv节点后在监控平台上还是显示他是down掉的"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
我的TIKV节点不知道因为什么原因挂掉了三个(一开始只挂掉一个，后来有台服务器上的两台节点都挂掉了，并且监控平台上看不到这台服务器的信息)

2. What did you expect to see?
我希望所有的tikv节点都能正常运作

3. What did you see instead?
一共三台服务器，6个kv节点  现在挂了三个,
我使用ansible-playbook start.yml -l 命令或者关闭后重启集群依然起不来挂掉的三个节点

4. What version of TiDB are you using (`tidb-server -V` or run

[2019-07-09 10:33] winkyao commented on #11148
Could you give some error message？

[2019-07-09 10:34] winkyao commented on #11148
@breeswish @hicqu PTAL

[2019-07-09 10:38] wangsiyu34567 commented on #11148
我在使用ansible-playbook start.yml -l 命令或者重启时都没有报错  没有错误信息， 但是监控平台上显示依旧是三个节点死掉

[2019-07-09 10:44] wangsiyu34567 commented on #11148
E0501 02:20:57.215682168   21180 chttp2_transport.c:1143]    Received a GOAWAY with error code ENHANCE_YOUR_CALM and debug data equal to "too_many_pings"
E0501 02:20:58.732688234   21184 chttp2_transport.c:1143]    Received a GOAWAY with error code ENHANCE_YOUR_CALM and debug data equal to "too_many_pings"
E0501 02:20:58.735579097   21186 chttp2_transport.c:1143]    Received a GOAWAY with error co

[2019-07-09 11:02] lizhenda commented on #11147
/assign

[2019-07-09 11:14] b41sh commented on #11146
/assign

[2019-07-09 11:52] zz-jason opened #11149 "support PointGet plan when table has alias name"
## Feature Request

**Is your feature request related to a problem? Please describe:**
[code]

If the table has no alias name, it can be executed with `Point_Get` plan:

[code]

But if we add an alias name for the queried table, it can not be executed by `Point_Get` plan:

[code]

**Describe the feature you'd like:**

Be able to use point get plan even when the table has an alias name.

**Describe

[2019-07-09 12:19] disksing commented on #11148
`"Too many open files in system"` Could you take a look at the ulimit setting?

[2019-07-09 12:22] lysu opened #11151 "accelerate FindColumn when table has huge number of columns"
## Feature Request

**Is your feature request related to a problem? Please describe:**

- `FindCols` (https://github.com/pingcap/tidb/blob/c8d1ff7ca66f6e98d2002c429addf5ba34fd0416/table/column.go#L87)
- `FindColumn` (https://github.com/pingcap/tidb/blob/873d9514bc94be8e76c30c863a85155eafaa468a/expression/schema.go#L111)

will be frequently called when build query plan or build insert value list.

[2019-07-09 12:25] zz-jason commented on #11151
@winoros PTAL

[2019-07-09 12:25] zz-jason commented on #11151
I think we can do it when we refactor the schema.

[2019-07-09 12:25] wangsiyu34567 commented on #11148
[tidb@tikv42 ~]$ ulimit -n
1000000

[2019-07-09 12:36] tcmichael commented on #11140
/assign

[2019-07-09 12:40] winoros commented on #11151
`Schema.FindColumns` can be fixed when refactoring it. But `FindCols` in package is a separate problem.
Maybe we need to maintain a hashmap/hashset for `TableInfo`.

[2019-07-09 14:21] zuoRambo commented on #11011
@SunRunAway pong~ Ongoing...

[2019-07-09 15:16] morgo commented on #8439
Yes, it's similar to `get_lock` (unsafe to noop by default, but could be enabled with `tidb_enable_noop_functions`). I don't think it's high priority though - `get_lock` is used by packaged applications (it was added so Rails migrations would work). Packaged applications tend not to expect replication, so I have not seen anything use `MASTER_POS_WAIT`.

[2019-07-10 07:42] SunRunAway opened #11161 "CONVERT_TZ should return NULL if its arguments are invalid."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Due to https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html#function_convert-tz,

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V

[2019-07-10 08:12] SunRunAway opened #11163 "The result of function COMPRESS is different from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

fdbc149b72db7034d024acf1209e455c0ad4ca9d

[2019-07-10 08:50] imtbkcat opened #11165 "`SET DEFAULT ROLE` fails privilege check"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-10 09:20] foreyes opened #11167 "Planner: outer join elimination didn't work in some cases"
Schema of the tables:

[code]

Unexpected planner behavior in this situation:
[code]
The join of table a and b should be eliminated also.

[2019-07-10 09:22] foreyes commented on #11167
This is because of the inappropriate implement of  outer join elimination rules.

[2019-07-10 09:47] tcmichael commented on #11161
/assign

[2019-07-10 09:55] SunRunAway opened #11171 "SELECT 0 LIKE 'a string' should not be true."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

False with no warning.
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
fdbc149b72db7034d024acf1209e455

[2019-07-10 09:56] kaeverens opened #11172 "alter table fails when changing float to decimal"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

v3.0.0-rc.1-256-g1ddb31720

[2019-07-10 10:14] kennytm opened #11173 "Aliasing a table with DELETE FROM is syntax error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

The 2nd and 3rd statements executed successfully (both should be equivalent to `DELETE FROM x WHERE a = 4`).

3. What did you see instead?

Both of them are syntax error.

[code]

4. What version of

[2019-07-10 10:16] winkyao commented on #11172
@kaeverens Thanks for your report. TiDB doesn't support change column type from float to decimal yet, get more details in the docs of the `modify column` (https://pingcap.com/docs/v3.0/reference/sql/statements/modify-column/).

We are considering to support changing the column type in the future.

[2019-07-10 11:07] disksing commented on #11148
em, 1000000 should be enough for tikv. Could you use `lsof` to count current open files of `tikv-server` and the whole system?

[2019-07-10 11:09] SunRunAway opened #11174 "Function INSERT should be NULL if any argument is NULL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Due to https://dev.mysql.com/doc/refman/5.7/en/string-functions.html#function_insert,

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `s

[2019-07-10 11:23] SunRunAway opened #11175 "Function SUBTIME should return NULL with a warning if its argument is an invalid time value."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

In MySQL 5.7 and MySQL 8.0,

[code]

3. What did you see instead?

In TiDB,
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
fdbc149b72db7034

[2019-07-10 11:34] SunRunAway opened #11177 "Invalid results using BETWEEN...AND... with type conversion"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Invalid results using BETWEEN...AND... with type conversation.

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select ti

[2019-07-10 12:00] SunRunAway opened #11178 "Function DAY/DAYOFMONTH should do type conversation"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
fdbc149b7

## SIG slack channel
[#sig-exec](htt

[2019-07-10 12:35] SunRunAway opened #11179 "Different result from Mysql when casting a type conversation from a long string to an integer."
## Bug Report

Please answer these questions before submitting your issue. Thanks!
Type conversation from a long string to integer.

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

In MySQL,
[code]

3. What did you see instead?

In TiDB,
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version(

[2019-07-10 12:53] SunRunAway opened #11180 "Different result from MySQL using DIV with decimal type."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

In MySQL,
[code]

3. What did you see instead?

In TiDB,
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
fdbc149b7

[2019-07-10 12:59] SunRunAway opened #11181 "Function name is missing in error message."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
fdbc149b7

[2019-07-10 15:02] zuoRambo commented on #11001
https://github.com/pingcap/tidb/blob/8c20289c7de31eabf978ead77270fe6115790fa9/planner/core/logical_plan_builder.go#L3101-L3103

It looks like the issue has been resolved?

[2019-07-10 15:25] zuoRambo commented on #11002
Seem as https://github.com/pingcap/tidb/issues/11001

[2019-07-10 16:08] SunRunAway commented on #11001
Yes, you're right. Thanks for your investigation.

Because the function `PERCENT_RANK` should use the entire partition even if a frame is specified, TiDB does not check the original frame clause and just ignore it while MySQL checks the window frame syntax then ignore it.
TiDB's current implementation is more efficient, and MySQL's implementation is even more wired., but the compatibility should a

[2019-07-10 16:17] zuoRambo commented on #11011
Sorry & SOS, I need help!

I read the code about `PlanBuilder`, when the **PB** buildSelect and detect hasWindowFuncField. **PB** groupWindowFuncs before buildWindowFunctions. What's wrong with the handler stack?
https://github.com/pingcap/tidb/blob/8c20289c7de31eabf978ead77270fe6115790fa9/planner/core/logical_plan_builder.go#L2966-L2969
Map `noFrameWindowFuncs` defines the functions that needn't

[2019-07-10 17:02] yangwenmai commented on #10996
/assign

[2019-07-11 00:40] chenjianxin opened #11185 "Error: This command needs 1 argument: chart name"
helm install pingcap/tidb-cluster --name demo --set schedulerName=default-scheduler,pd.storageClassName=standard,tikv.storageClassName=standard,pd.replicas=1,tikv.replicas=1,tidb.replicas=1 --version=v1.0.0-beta.3

**Error: This command needs 1 argument: chart name**

[2019-07-11 03:02] SunRunAway commented on #11178
Perhaps it's a common issue for all date and time functions.

In MySQL,
[code]

In TiDB,
[code]

[2019-07-11 03:18] #11036 closed

[2019-07-11 03:19] SunRunAway opened #11188 "Function NOT/IF returns incorrect result with decimal argument"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

8c20289c7

[2019-07-11 04:35] SunRunAway opened #11190 "The result of Function COALESCE is different from MySQL."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

In MySQL,
[code]

3. What did you see instead?

In TiDB,
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
8c20289c7

[2019-07-11 04:50] SunRunAway opened #11193 "Should check the range of the DECIMAL's arguments"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

In MySQL,
[code]

3. What did you see instead?

In TiDB,
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

8c20289c7

## SIG s

[2019-07-11 04:57] SunRunAway commented on #310
Hi, it seems that `OCTET_LENGTH` is not implemented in TiDB.

I tested on the master branch with commit id 8c20289c7.
[code]

I've unchecked the `OCTET_LENGTH` box.

[2019-07-11 05:02] SunRunAway opened #11195 "Function OCTET_LENGTH is not implemented but the documentation says yes."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Function `OCTET_LENGTH` is not implemented but it is documented at https://pingcap.com/docs/dev/reference/sql/functions-and-operators/string-functions/
[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

[2019-07-11 05:20] SunRunAway opened #11197 "Function arguments in error message should represent as a column name if possible."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
8c20289c7

[2019-07-11 05:24] SunRunAway opened #11198 "Result of function BIT_OR is different from mysql."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
8c20289c7

[2019-07-11 05:30] SunRunAway opened #11199 "Result of function OR is not correct."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

8c20289c7

[2019-07-11 05:42] ds2d commented on #9867
The option -t [1-16] is ok,but apped -c  I'm going to have an error
error message: ** (mydumper:21871): CRITICAL **: 13:33:50.607: Could not read data from gateway.method_invoke_detail: Lost connection to MySQL server during query

[2019-07-11 05:54] ds2d commented on #9867
The option `-t [1-16]` is ok,but apped `-c|--compress` .I'm going to have an error.
error message:  ** (mydumper:21871): CRITICAL **: 13:33:50.607: Could not read data from gateway.method_invoke_detail: Lost connection to MySQL server during query

[2019-07-11 05:55] SunRunAway opened #11200 "Result of function BIT_AND is different from MySQL."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]
2. What did you expect to see?

In MySQL5.7
[code]

In MySQL8.0
[code]

3. What did you see instead?

In TiDB,
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-11 06:11] lysu opened #11202 "codec: Pre-realloc encode row buffer"
## Performance Questions

- What version of TiDB are you using?

[code]

- What's the observed and your expected performance respectively?

[code]
https://github.com/pingcap/tidb/blob/2106f6198bf08e5e823b1420056cde5e22526d92/tablecodec/tablecodec.go#L227

will encode a row data into a row byte.

https://github.com/pingcap/tidb/pull/5600 introduce optimize to reuse encode buffer.

but some other pl

[2019-07-11 06:11] SunRunAway opened #11203 "Result of function QUARTER/DATE_FORMAT is different from MySQL."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
8c20289c7

[2019-07-11 06:19] SunRunAway opened #11205 "Result of function ROUND is different from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
8c20289c7

[2019-07-11 06:28] SunRunAway opened #11206 "Results of function FORMAT is different from MySQL."
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
8c20289c7

## SIG slack channel
[#sig-e

[2019-07-11 06:53] SunRunAway opened #11208 "Results of function SUM is different from MySQL."
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

8c20289c7

## SIG slack channel

[2019-07-11 07:07] #4054 closed

[2019-07-11 07:12] SunRunAway opened #11210 "ErrBadField occurs when using Function DEFAULT with ORDER BY clause"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
0ea1bf0

[2019-07-11 07:18] SunRunAway commented on #11203
Function DATE_FORMAT meet the same problem.

[2019-07-11 07:34] SunRunAway opened #11211 "Mod(%) operator meets inconsistent 0 results."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

In MySQL,
[code]

3. What did you see instead?

In TiDB,
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
0ea1bf0

[2019-07-11 07:47] SunRunAway opened #11212 "Different results of Function :=(Assign a value)"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
0ea1bf0

## SIG slack channel
[#sig-exe

[2019-07-11 08:28] SunRunAway commented on #11198
Another case:

In MySQL,
[code]

In TiDB,
[code]

[2019-07-11 11:10] imtbkcat commented on #11173
But this is also not supported by MySQL 8.0.

[code]

[2019-07-11 11:36] kennytm commented on #11173
[code]

🤔

[2019-07-11 11:57] winkyao commented on #11127
We already file a PR for this issue https://github.com/pingcap/tidb/pull/9537

[2019-07-11 11:57] winkyao commented on #11127
Thanks for your attention.

[2019-07-12 03:28] tptpp opened #11221 "result of 'select @@tidb_disable_txn_auto_retry' should be a number"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
set @@tidb_disable_txn_auto_retry = 0;
set @@tidb_disable_txn_auto_retry = 1;

set @@tidb_disable_txn_auto_retry = on;
set @@tidb_disable_txn_auto_retry = off;

select @@tidb_disable_txn_auto_retry;

2. What did you expect to see?
result o

[2019-07-12 03:33] tptpp opened #11222 "result of 'select @@tidb_disable_txn_auto_retry' should be both upper or lower case"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
![image](https://user-images.githubusercontent.com/22511647/61100422-ad3dbf00-a498-11e9-851f-ffdd294c56fc.png)

2. What did you expect to see?

result of 'select @@tidb_disable_txn_auto_retry' should be both upper or lower case

3. What di

[2019-07-12 04:10] #10731 closed

[2019-07-12 04:10] #11052 closed

[2019-07-12 04:20] SunRunAway commented on #11011
Hi, I've tried functions which is not in `noFrameWindowFuncs`, it still occurs the same problem.

In MySQL8,
[code]

In TiDB,
[code]

[2019-07-12 04:28] SunRunAway opened #11223 "Incompatible issues about scalar functions"
#11212: Different results of Function :=(Assign a value)
#11211: Mod(%) operator meets inconsistent 0 results.
#11210: ErrBadField occurs when using Function DEFAULT with ORDER BY clause
#11208: Results of function SUM is different from MySQL.
#11206: Results of function FORMAT is different from MySQL.
#11205: Result of function ROUND is different from MySQL
#11203: Result of function QUARTER/DATE

[2019-07-12 05:44] lonng commented on #11222
@tptpp Thanks for your report, could you file a PR to fix it?

[2019-07-12 05:45] lonng commented on #11221
Closed due to duplicated with #11222

[2019-07-12 05:45] #11221 closed

[2019-07-12 06:18] SunRunAway commented on #11001
Hi, @zuoRambo
After some discussion, we think it's better to handle `noFrameWindowFuncs ` after checking the correctness of the frame.
PTAL again, thanks.

[2019-07-12 06:56] #10504 closed

[2019-07-12 07:03] #10445 closed

[2019-07-12 08:33] #11161 closed

[2019-07-12 08:43] ssnijik opened #11235 "Result of JDBC batch update is different from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I'm trying to batch update/delete hundrads of records using PrepareStatement#executeBatch through JDBC. The method will return an array with updated count(`0` or `1`) or response code(`-2` for success or `-3` for failure) for each record.

[2019-07-12 09:44] jiyfhust commented on #11127
oh. 666

[2019-07-12 09:48] #11061 closed

[2019-07-12 11:31] tcmichael commented on #11175
Refered to https://dev.mysql.com/doc/refman/5.7/en/date-and-time-functions.html, many of time functions returns NULL when the arguments are invalid, except `SUBTIME`. Shall we decide which arguments are invalid, will `SUBTIME` returns `NULL`

[2019-07-12 13:55] lonng commented on #11235
@ssnijik Thanks for your report, I will investigate it.

[2019-07-13 07:03] liuhuanHappyStudy commented on #6881
您好。请教一个问题：如果我配置一个PD，能够实现滚动升级吗？
我的配置：PD和TiDB各配置一个，并且在一台机器上。TiKV配置三个，分别在三台服务器上。
172.18.5.9 PD和TiDB
172.18.5.10    TiKV1
172.18.5.11    TiKV2
172.18.5.12    TiKV3

使用：tidb-ansible将TiDB v2.1.0-rc.3滚动升级到TiDB-v3.0.0。遇到如下问题：

[tidb@izwz9gckpmdcwq2glh1kitz tidb-ansible]$ ansible-playbook excessive_rolling_update.yml

PLAY [check config locally] *************************************************************

[2019-07-13 07:11] liuhuanHappyStudy opened #11240 "TiDB update faile wait until the PD port is down"
您好。请教一个问题：如果我配置一个PD，能够实现滚动升级吗？
我的配置：PD和TiDB各配置一个，并且在一台机器上。TiKV配置三个，分别在三台服务器上。
172.18.5.9 PD和TiDB
172.18.5.10    TiKV1
172.18.5.11    TiKV2
172.18.5.12    TiKV3

使用：tidb-ansible将TiDB v2.1.0-rc.3滚动升级到TiDB-v3.0.0。遇到如下问题：

[code]

[2019-07-13 13:28] lysu commented on #11235
@ssnijik do you use `useServerPrepStmts=true` in jdbc params?

maybe give a look at tidb's log and it seems to be caused by this issue https://github.com/pingcap/tidb/issues/4617  if see `Can not prepare multiple statements` in tidb.log

jdbc' batch update will rewrite multiple updates into "multiple stmt"(e.g. `update t1 set .. where..;update t2 set.. where ...`, delete also do the same thing, th

[2019-07-13 13:46] lonng commented on #11240
@liuhuanHappyStudy Can you provide PD log?

[2019-07-13 13:54] lonng commented on #6881
Related issue: https://github.com/pingcap/tidb/issues/11240

[2019-07-14 02:48] ngaut opened #11243 "memory leak unit test is not stable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
See the pull request: https://github.com/pingcap/tidb/pull/11241

2. What did you expect to see?
There should be no memory leak detected

3. What did you see instead?
From the log:
[2019-07-13T13:27:12.667Z] # Mem_max: 12368

[2019-07-13T1

[2019-07-14 13:09] Victorkangsh commented on #5166
It is now in the third quarter of 2019~

[2019-07-15 02:08] SunRunAway commented on #11175
Hi, @tcmichael
TiDB aims to be compatible with MySQL 5.7, so `SUBTIME` is best to behave like it even if it is undocumented.

[2019-07-15 02:41] ssnijik commented on #11235
@lysu Thanks for looking into this! Batch update is the best choice for our case. It seems that set `useServerPrepStmts=false` does't work. Can you help me to see whether there is other property I need to change?

[2019-07-15 03:19] lysu commented on #11235
@ssnijik  Hi，could you give a screenshot for this panel in grafana

![image](https://user-images.githubusercontent.com/528332/61194134-33087700-a6f2-11e9-8ea8-51e15d166014.png)

and does any error log in tidb.log(can use `grep dispatch` to grep error) ~? thanks

[2019-07-15 03:33] #11174 closed

[2019-07-15 05:07] ssnijik commented on #11235
![2019-07-15_13-05-29](https://user-images.githubusercontent.com/3711535/61196462-5be43880-a701-11e9-891b-b030b02efdde.png)

[2019-07-15 05:23] liuhuanHappyStudy commented on #11240
非常感谢。

[2019-07-15 05:25] liuhuanHappyStudy commented on #11240
非常感谢。

[2019-07-15 05:55] ssnijik commented on #11235
Also I don't find any "dispatch error" related to batch update in tidb.log

[2019-07-15 07:17] bb7133 commented on #5166
hi @Victorkangsh , currently we're discussing the plan for new features and the roadmap will be updated soon. Thank you!

[2019-07-15 08:11] wjhuang2016 commented on #11205
In MySQL 8.0.15:
[code]

[2019-07-15 09:01] wshwsh12 opened #11256 "Result of DATE_ADD function is different from mysql.(YEAR overflow)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-15 09:04] wshwsh12 opened #11257 "Result of DATE_ADD function is different from mysql.(MICROSECOND)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-15 09:12] lysu commented on #11235
@ssnijik problem has been identified... current multiple SQL responses are not compatible with mysql protocol, we will fix it soon, sorry for the trouble.

[2019-07-15 12:53] wonderful1984 opened #11261 "upgrade from 2.1.14 to 3.0.0 ,tidb startup fail"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
upgrade from 2.1.14 to 3.0.0

~]$ tidb3/bin/tidb-server --config-check /apps/conf/tidb/tidb10080.toml
config check successful

~]$ tidb3/bin/tidb-server --config /apps/conf/tidb/tidb10080.toml
FATA[0000] toml: cannot load TOML value of typ

[2019-07-15 13:08] wonderful1984 commented on #11261
[tidb10080.txt](https://github.com/pingcap/tidb/files/3392400/tidb10080.txt)

[2019-07-15 14:28] lonng commented on #11261
@wonderful1984 Seems the configuration item type does not match.

[2019-07-15 14:36] lonng commented on #11261
@wonderful1984 The `pessimistic-txn.ttl` should be a string.
[code]

[2019-07-15 16:26] sduzh commented on #11149
while I am working on it, I found another bug: PointGet does not check the table name in where clause.
[code]

[2019-07-16 01:21] wonderful1984 commented on #11261
That's it. Thank you

[2019-07-16 01:21] #11261 closed

[2019-07-16 02:41] xujiapei commented on #7620
@victorggsimida I have the same problem to you.do u  resolve this problem

[2019-07-16 03:15] #11146 closed

[2019-07-16 03:26] SunRunAway opened #11269 "Define all system variables in go type."
## Feature Request

**Is your feature request related to a problem? Please describe:**

For now, all system variables are defined in a map with type string.
[code]
If we need a system variable in which the real type is an integer, for example, we must do string conversation. It's hard to code and bad to performance.

[code]

**Describe the feature you'd like:**

We need to define all system variab

[2019-07-16 04:25] yester354 opened #11271 "tidb ，pd，tikv work abnormal"
## General Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

recently ,my tidb cluste

[2019-07-16 07:50] lonng commented on #11271
@disksing PTAL

[2019-07-16 08:06] SunRunAway opened #11276 "run executor/join_test.go failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

In https://github.com/pingcap/tidb/pull/11262, the unit test failed.

2. What did you expect to see?

no tests fail.

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_versio

[2019-07-16 08:06] winoros opened #11277 "Wrong original table name sent to mysql client"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Start the mysql client with `--column_type_info`

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-16 08:10] disksing commented on #11271
Hi @yester354 , TiDB relies on a specific key format, so a tikv cluster cannot be used to store both TiDB data and rawkv data (or data from other rawkv-based services).

[2019-07-16 08:15] yester354 commented on #11271
@disksing  thanks.

[2019-07-16 11:29] #11271 closed

[2019-07-17 02:54] wonderful1984 opened #11285 "v3.0.0 drop database too slowly"
drop database too slowly

*************************** 1. row ***************************
      JOB_ID: 185
     DB_NAME:
  TABLE_NAME:
    JOB_TYPE: drop schema
SCHEMA_STATE: none
   SCHEMA_ID: 171
    TABLE_ID: 0
   ROW_COUNT: 0
  START_TIME: 2019-07-17 09:14:53.938 +0800 CST
       STATE: done

The database is about 100GB

I've been waiting for an hour, It's still done status

[2019-07-17 02:56] wshwsh12 opened #11286 "Result of DATE_ADD function is different from mysql.(FROM Decimal to MICROSECOND)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-07-17 03:07] wonderful1984 commented on #11285
[2019/07/17 11:03:37.310 +08:00] [ERROR] [misc.go:114] ["syntax error"] [error="line 1 column 24 near \"185；\" "] [errorVerbose="line 1 column 24 near \"185；\" \ngithub.com/pingcap/errors.AddStack\n\t/home/jenkins/workspace/build_tidb_master/go/pkg/mod/github.com/pingcap/errors@v0.11.4/errors.go:174\ngithub.com/pingcap/errors.Trace\n\t/home/jenkins/workspace/build_tidb_master/go/pkg/mod/github.com

[2019-07-17 03:23] wonderful1984 commented on #11285
ADMIN SHOW DDL JOBS;
+--------+---------+--------------------------+---------------+--------------+-----------+----------+-----------+-----------------------------------+------------+
| JOB_ID | DB_NAME | TABLE_NAME               | JOB_TYPE      | SCHEMA_STATE | SCHEMA_ID | TABLE_ID | ROW_COUNT | START_TIME                        | STATE      |
+--------+---------+--------------------------+------

[2019-07-17 04:24] wonderful1984 commented on #11285
[2019/07/17 09:14:54.034 +08:00] [INFO] [ddl.go:588] ["[ddl] start DDL job"] [job="ID:185, Type:drop schema, State:none, SchemaState:none, SchemaID:171, TableID:0, RowCount:0, ArgLen:0, start time: 2019-07-17 09:14:53.938 +0800 CST, Err:<nil>, ErrCount:0, SnapshotVersion:0"] [query="drop database  <database hiding>"]
[2019/07/17 12:13:18.035 +08:00] [INFO] [ddl.go:620] ["[ddl] DDL job is finished"

[2019-07-17 04:33] billhcmus opened #11287 "Setting up and deploy TiDB: using docker-compose in MacOS"
## Bug Report

Hi,

1. What did you do?

Setting up and deploy TiDB: using docker-compose in MacOS
Following this tutorial: https://pingcap.com/blog/how_to_spin_up_an_htap_database_in_5_minutes_with_tidb_tispark/
when I start importing sample data with command

`mysql -h 127.0.0.1 -P 4000 -u root < dss.ddl`

it doesn't work and tidb has repeated error show in logs but it works well in Linux.

2. W

[2019-07-17 05:01] #11235 closed

[2019-07-17 05:44] billhcmus commented on #11287
- Solved: heavy load

[2019-07-17 05:44] #11287 closed

[2019-07-17 06:07] lonng commented on #11285
@wonderful1984 Can you provide the SQL which causes the error message in https://github.com/pingcap/tidb/issues/11285#issuecomment-512083353.

[2019-07-17 06:18] winkyao commented on #11285
@wonderful1984 Could you use `curl http://{TiDBIP}:10080/info` to get the cluster information.

[2019-07-17 06:41] #11257 closed

[2019-07-17 07:44] lonng commented on #11285
@wonderful1984 We can create a new Wechat group to facilitate efficient communication if necessary.

[2019-07-17 07:45] winkyao commented on #11285
Could you execute this command? `curl http://{TiDBIP}:10080/info/all`

[2019-07-17 08:47] amyangfei commented on #11163
This issue may due to the `zlib.compress` implement way in golang, if we use raw golang API we could hardly get format compatible compress result.
https://github.com/golang/go/issues/28594
https://stackoverflow.com/questions/27852940/how-can-i-use-zlib-in-golang-to-cooperate-with-zlib-in-c

[2019-07-17 09:44] zhangxia1030 opened #11294 "View INFORMATION_SCHEMA.TIKV_STORE_STATUS data error reporting"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?
look at INFORMATION_SCHEMA.TIKV_STORE_STATUS data

3. What did you see instead?
![图片](https://user-images.githubusercontent.com/11935969/61366157-9e517500-a8bb-11e9-86ee-4afdf3dfac97.png)
SQL ERROR [1105] [H

[2019-07-17 09:48] zhangxia1030 commented on #11294
Why is the data stored in the INFORMATION_SCHEMA.TIKV_STORE_STATUS table floating-point type and the receiving type defined by StoreDetailStat.region_score int64?

[2019-07-17 11:12] lonng commented on #11294
@zhangxia1030 Thanks for your report, it's a TiDB bug.

[2019-07-17 11:20] lonng commented on #11294
@winoros Protocol incompatible with PD, introduced by: https://github.com/pingcap/tidb/pull/10248

[2019-07-17 15:48] cberescu opened #11302 "Error when tikv is running"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I have created a cluster of PD, added a tikv to it. Deleted that pd cluster and created a new one with the same ID. Tried to join the the old tikv to the new cluster.

2. What did you expect to see?

For the tikv to join the cluster

3. What did you see instead?
[code]

4. What version of TiDB a

[2019-07-18 01:31] zz-jason commented on #10835
fixed by https://github.com/pingcap/tidb/pull/10864

[2019-07-18 01:31] #10835 closed

[2019-07-18 02:00] tshqin opened #11303 "alter table modify column compatibility"
TiDB 2.1.14
[code]

MySQL 5.7.24
[code]

[2019-07-18 02:04] zhangjinpeng1987 commented on #11302
@cberescu The old TiKV store id is not recognized by new pd cluster, this is by design. This design is used to prevent messing up data between different clusters.

[2019-07-18 02:06] zhangjinpeng1987 commented on #11302
@cberescu You mean the same cluster id?

[2019-07-18 02:23] SunRunAway opened #11304 "The warning message of `incorrect datetime` is corrupt."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

SELECT ADDDATE('2008-01-34', -1);

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
651632e79 in master branch

[2019-07-18 03:18] SunRunAway commented on #11163
Thanks @amyangfei
I'll close this issue for now.

[2019-07-18 03:18] #11163 closed

[2019-07-18 03:26] disksing commented on #11302
Did you start all the old tikv-servers? Seems store 462 is not started or not successfully register itself to new PD.

[2019-07-18 03:37] chenzheng1024 opened #11305 "Query too slow for 3 rows"
## Performance Questions

- Questions
The table has 3 rows ,use more than 8 seconds for a query.NOT always , sometimes it happends,last for some hours,how can i solve that?

- What version of TiDB are you using?

| Release Version: v2.1.13
Git Commit Hash: 6b5b1a6802f9b8f5a22d8aab24ac80729331e1bc
Git Branch: HEAD
UTC Build Time: 2019-06-21 12:27:08
GoVersion: go version go1.12 linux/amd64
Race Ena

[2019-07-18 06:08] wshwsh12 opened #11309 "Wrong result of Dateadd() when it working on a Decimal(or float,double) column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-07-18 07:41] winoros opened #11313 "Outputing column name missing"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-18 08:18] cberescu commented on #11302
@zhangjinpeng1987 yes, same cluster id with a big --alloc-id

@disksing i did not create more than one tikv-servers, there were more pd created.

What can i do to start the tikv again? Is there a way to access the database ?

[2019-07-18 08:36] SunRunAway opened #11317 "distsql: make CopStream available"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The streaming feature in `distsql` is disabled by default for now, we should consider enabling it by default.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2019-07-18 10:13] disksing commented on #11302
You definitely had more than one tikv-servers before... We can infer it from the log
[code]
region 168 at least has 2 peers: 169 and 666. It can not happen with only one tikv-server.

[2019-07-18 10:18] cberescu commented on #11302
ok, got it, then i did something stupid somewhere and broked everything.

I shall do another test and see what happens.

Thanks for the help.
I am closing this for now.

[2019-07-18 10:30] cberescu commented on #11302
just one more question, what happens if a tikv server is down and can not be recovered ?

[2019-07-18 10:38] qq1778551951 opened #11318 "docker-compose部署时tikv和pd容器一直自动重启，docker logs 显示缺少权限"
## General Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

[2019-07-18 10:41] qq1778551951 commented on #11318
docker logs 容器里面的内容为这个：
time="2019-07-18T10:19:23Z" level=fatal msg="parse cmd flags error: open /pd.toml: permission denied\n/home/jenkins/workspace/build_pd_2.0/go/src/github.com/pingcap/pd/server/config.go:349: \n/home/jenkins/workspace/build_pd_2.0/go/src/github.com/pingcap/pd/server/config.go:218: \n"

[2019-07-18 10:41] qq1778551951 commented on #11318
tikv的容器log为：
thread 'main' panicked at 'invalid auto generated configuration file "/tikv.toml", err Permission denied (os error 13)', src/config.rs:1096:17
note: Run with `RUST_BACKTRACE=1` for a backtrace.

[2019-07-18 10:56] wshwsh12 opened #11319 "Result of DATE_ADD function is different from mysql.(Second)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-18 11:01] disksing commented on #11302
It is generally recommended to use at least 3 tikv nodes. In the case that more than half of raft peers are unavailable, you could use tikv-ctl to reset raft meta to recover (note that there may be some data loss). For more details about tikv-ctl, please refer to https://github.com/pingcap/docs/blob/master/v3.0/reference/tools/tikv-control.md#force-region-to-recover-the-service-from-failure-of-mul

[2019-07-18 11:19] cberescu commented on #11302
great, thanks for the info.

[2019-07-18 11:19] #11302 closed

[2019-07-18 11:32] lonng commented on #11318
@shuijing198799 PTAL

[2019-07-18 11:40] zyguan commented on #11318
Hi, @qq1778551951 , could you please show the output of `docker run --rm --entrypoint=/usr/bin/id pingcap/pd` and `ls -al config/`?

[2019-07-18 11:46] lonng commented on #11305
@chenzheng1024 Seems the major consume time is `Cop_wait_avg`, Is your TiKV overload?

[2019-07-18 12:15] winoros opened #11323 "Wrong original column returned"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

`select if(1, x, x) as a from t`.

2. What did you expect to see?

ColName is `a`, original column name is empty.

3. What did you see instead?

Both colName and orignal column name is `a`.

4. What version of TiDB are you using (`tidb-se

[2019-07-18 12:25] breeswish commented on #11305
According to

[code]

this request is processed instantly but took a long time waiting for other requests to complete.

[2019-07-18 12:30] lonng commented on #11305
@chenyang8094 Can you export the metrics in PDF to help us to figure out the reason why wait time is so long?

[2019-07-18 15:42] #11286 closed

[2019-07-18 16:53] DQinYuan opened #11327 "Default Decimal precision is inconsistent with tidb document"
## Bug Report

In [tidb document about decimal type](https://www.pingcap.com/docs/v3.0/reference/sql/data-types/numeric/#decimal-type),  it say "If M is omitted, the default is 10.".  But the default M is 11 in fact.

![decimal type document](https://user-images.githubusercontent.com/23725000/61476388-882cdd00-a9bf-11e9-9905-0ce5bdf3e2d8.png)

1. What did you do?

create a table with default decim

[2019-07-18 17:25] DQinYuan opened #11328 "Float precision is different from MySQL"
## Bug Report

When insert into float column, the data precision is not consistent with mysql.

The mysql default float precision is 6 and tidb is 8.

1. What did you do?

[code]

2. What did you expect to see?
In Mysql 5.7

[code]

3. What did you see instead?

In TiDB v3.0.0

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-07-19 00:19] qq1778551951 commented on #11318
the first output is:
uid=0(root)gid=0(root)groups=0(root),1(bin),2(daemon),3(sys),4(adm),6(disk),10(wheel),11(floppy),20(dialout),26(tape),27(video)

the config dir output is
dashboards    grafana                  overview-dashboard.json  pd.rules.yml  prometheus.yml  spark-defaults.conf  tidb.rules.yml  tikv-dashboard.json  tikv.toml
drainer.toml  grafana-datasource.json  pd-dashboard.json

[2019-07-19 00:28] qq1778551951 commented on #11318
what？

[2019-07-19 01:51] wshwsh12 opened #11329 "DATETIME's behaviour is different from mysql."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-07-19 02:31] chenzheng1024 commented on #11305
[metrics_201907191012.pdf](https://github.com/pingcap/tidb/files/3409141/metrics_201907191012.pdf)
This is my grafana report file in 5 minutes.
And as you say ， the cpu usage is nearly 100%

- top -H

![top](https://user-images.githubusercontent.com/19483855/61504962-dcf84400-aa0f-11e9-85d0-e8e51b18171d.png)

- perf top  -p 417098 --call-graph graph
![proc](https://user-images.githubusercontent.co

[2019-07-19 02:38] bb7133 commented on #11303
It's duplicated with https://github.com/pingcap/tidb/issues/10731, for now we need to cherry-pick related PRs

[2019-07-19 03:31] AndrewDi opened #11332 "IFNULL didn't work as expected."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
0

3. What did you see instead?
NULL

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
current master branch build

[2019-07-19 03:42] suzaku commented on #10975
It seems that this PR was already fixed in #11207 .

[2019-07-19 04:14] victorggsimida commented on #7620
@xujiapei   this is related with the write input which is too large that the device is too busy or tikv is too busy

[2019-07-19 04:37] #11211 closed

[2019-07-19 06:13] wjhuang2016 opened #11333 "Data Truncated when `select 0.0000000000000000000000...000;`"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
`select 0.00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;`

2. What did you expect to see?
In MySQL 8.0.15
[code]

3. What did you see instead?
[code]

4. What version of TiDB are y

[2019-07-19 09:47] yester354 opened #11336 "is there any other way to delete raw data in tikv directly"
## General Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

Hi，i had store many raw

[2019-07-19 09:58] #11173 closed

[2019-07-19 11:39] XuHuaiyu commented on #11332
[code]

[2019-07-19 11:49] #11175 closed

[2019-07-19 14:34] #11285 closed

[2019-07-20 15:45] vkingnew opened #11348 "What's the roadmap of TiDB 4.0?"
## What's the roadmap of TiDB 4.0?

[2019-07-21 02:23] shenli commented on #11348
@vkingnew Thanks for your question.
We will publish the updated roadmap next week.

[2019-07-22 02:51] elvizlai opened #11349 "dump of `on update` missing fraction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
create table xyz using:
[code]

then using mysql dump to extract structure.

2. What did you expect to see（result from `circleci/mysql:5.7`）?

[code]

3. What did you see instead(result from TiDB)?

[code]

The `ON UPDATE CURRENT_TIMESTAMP

[2019-07-22 05:05] winkyao commented on #11349
@elvizlai Thanks for your report, @bb7133 will try to fix this issue.

[2019-07-22 05:14] bb7133 commented on #11349
This issue is related to https://github.com/pingcap/tidb/pull/11070, however, the ON_UPDATE CURRENT_TIMESTAMP parted is not fixed.

[2019-07-22 05:32] luoyihua opened #11363 "select from information_schema.tables is very slow"
## Performance Questions

- What version of TiDB are you using?
5.7.25-TiDB-v2.1.11

- What's the observed and your expected performance respectively?
[code]

[code]

information_schema.tables has 4000 rows, use more than 1 second for a query always.
It should be less than 1 sec.

- For a specific slow SQL query, please provide the following information:
    - Whether this SQL query always or occa

[2019-07-22 06:22] lizhenda commented on #11130
/unassign

sorry，don't have spare time for this.

[2019-07-22 06:41] crazycs520 opened #11365 "bug of select on general column when add generated column first."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-22 08:21] saup007 opened #11369 "Failed to upgrade tidb 3.0.1 from 2.1.2"
## Bug Report

1. What did you do?
[code]

ERROR MESSAGE SUMMARY ************************************************************************************************************************************************************************************************************************
[TiKV1-1]: Ansible FAILED! => playbook: excessive_rolling_update.yml; TASK: remove evict-leader-scheduler; message: {"

[2019-07-22 08:22] saup007 commented on #11369
it's ok `http://10.xx.xx.xx:2379/pd/api/v1/members`

[2019-07-22 08:43] rleungx commented on #11369
Thanks for your feedback! @saup007
Could you provide the log of the failed PD?

[2019-07-22 08:55] saup007 commented on #11369
/data1/deploy/scripts/run_pd.sh.88493.2019-07-22@15\:05\:42~
[code]
run_pd.sh

[code]

[2019-07-22 09:08] saup007 commented on #11369
ll -rth /etc/systemd/system/pd*
-rw-r--r-- 1 root root 291 Nov  2  2018 /etc/systemd/system/pd.service
-rw-r--r-- 1 root root 296 Jul 22 15:05 /etc/systemd/system/pd-2379.service

vim  excessive_rolling_update.yml
[code]

maybe fix can't stop pd.

[2019-07-22 09:29] rleungx commented on #11369
What do you mean about this?

And I also wonder to know why PD is not stopped. So can you provide the PD's log?

[2019-07-22 10:14] alwaystest18 opened #11371 "add INFORMATION_SCHEMA.INNODB_TRX table for TiDB"
mysql中可以通过INFORMATION_SCHEMA.INNODB_TRX表来查看当前的事务id等信息，然后结合processlist来关联事务的具体内容，但是tidb中没有这个表，建议增加相关数据，方便跟进当前tidb的中的事务信息

[2019-07-22 11:19] #11109 closed

[2019-07-22 11:32] foreyes commented on #11167
[code]
Do you know why this happen? @lzmhhh123
I don't know much about MySQL join...
These are correct:
[code]

[2019-07-22 11:33] foreyes commented on #11167
The tables are declared at the beginning of this issue.

[2019-07-22 11:43] saup007 commented on #11369
excessive_rolling_update.yml
[code]

But my environment pd is started by pd-2379.service, so

modify excessive_rolling_update.yml
[code]

all's ok

[2019-07-23 02:17] saup007 commented on #11369
Reference https://pingcap.com/docs-cn/v3.0/how-to/upgrade/from-previous-version/

If the process_supervision variable uses the default `systemd` parameter, then incrementally upgrade the TiDB cluster with excessive_rolling_update.yml

But stop pd

     - name: stop PD by systemd
       systemd: name=pd.service state=stopped
       Become: true
       When: process_supervision == 'systemd'

Start p

[2019-07-23 02:17] #11369 closed

[2019-07-23 03:03] foreyes commented on #11167
@lzmhhh123
In this case, `a outer join b` can be eliminated:
[code]

[2019-07-23 03:11] lonng commented on #10391
Closed due to not a TiDB bug.

[2019-07-23 03:11] #10391 closed

[2019-07-23 03:11] lzmhhh123 commented on #11167
Yes, the judge condition should be `innerColsNotInCols`. That's an enhancement. Do you have any interest in resolving it? @foreyes

[2019-07-23 03:13] winoros commented on #11167
@foreyes Natural join/join with USING clause has some bugs that current planner and schema cannot resolve. If you want to try some cases, just use the simplest join grammer. Don't try natrual join.

[2019-07-23 03:16] #10337 closed

[2019-07-23 03:21] foreyes commented on #11167
@winoros Thanks for telling me this.

[2019-07-23 03:23] foreyes commented on #11167
Yeah, I've always wanted to do this. Maybe after your PR is merged. @lzmhhh123

[2019-07-23 03:29] winkyao commented on #4641
alter database is supported in https://github.com/pingcap/tidb/pull/10393, so I close this issue

[2019-07-23 03:29] #4641 closed

[2019-07-23 03:40] #10332 closed

[2019-07-23 06:17] #11313 closed

[2019-07-23 06:50] gaoxingliang commented on #11145
I'm working on this issue. and I will add some UT cases for this

[2019-07-23 07:25] H-ZeX opened #11386 "Insert Json loss accuracy"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-07-23 07:27] H-ZeX commented on #11386
@bb7133

[2019-07-23 08:11] Hanyu2015 opened #11387 "In TiDB 3.0 table name groups cannot work"
## General Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

In my database, there is

[2019-07-23 08:17] winoros commented on #11387
@Hanyu2015
`GROUPS` is a reserved word after we support window function grammer.

And this is the same for MySQL 8.0.

You can use SQL like
[code]
instead.

Or you can set `tidb_enable_window_function` to false. But we don't suggest you do so.

[2019-07-23 08:56] gaoxingliang commented on #11145
Hi @SunRunAway  I looked more into this issue. Do we need to append the dbName.tableName.colName into the description?
I found the root cause is in the [parser.y](https://github.com/pingcap/parser/blob/master/parser.y#L3534) file:
here when it has an AsName (grammar like `select id as t from s`), then the text field is not set.
[code]
and the message is appended here `planner/core/logical_plan_bui

[2019-07-23 09:18] bb7133 commented on #11386
Got it

[2019-07-23 09:37] winkyao commented on #10194
Table Lock is supported in this PR https://github.com/pingcap/tidb/pull/10343, so I close this issue.

[2019-07-23 09:37] #10194 closed

[2019-07-23 09:38] qw4990 opened #11390 "wrong results of `IndexLookupJoin` in some cases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
When building ranges for `IndexLookupJoin` on an expression like `Column=Constant`, it doesn't take their types into account ([at this line of code](https://github.com/pingcap/tidb/blob/master/planner/core/exhaust_physical_plans.go#L949)).

[2019-07-23 12:00] #11202 closed

[2019-07-24 02:09] #10675 closed

[2019-07-24 02:19] #11127 closed

[2019-07-24 02:32] #9083 closed

[2019-07-24 03:15] #11139 closed

[2019-07-24 03:20] SunRunAway opened #11397 "Metrics should distinguish requests between success or failure"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Like https://github.com/pingcap/tidb/blob/fc6baf2/distsql/select_result.go#L99, The metric records the cost time of every `resp.Next()` whether they're a success or failure.
If most of the requests fail fast, this metric will give us misleading that the system is running normally.

**Describe the feature you'd

[2019-07-24 03:23] dnfhujun opened #11398 "Is there any plan for the support of big transactions?"
目前了解到如果要从mysql同步到tidb，tidb只能支持单个事务30万行的数据，这个支持行数比较少，有考虑后期在大事务这块的支持么，这个也是从mysql迁移到tidb最大的困扰

[2019-07-24 04:07] wjhuang2016 opened #11403 "Insert zero date successfully in default sql mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

Relate issue: #8637

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
master

[2019-07-24 04:27] jackysp commented on #11333
Thanks for your report, @wjhuang2016 ! We've already to improve the parser compatibility in recently.

[2019-07-24 04:28] jackysp commented on #11363
Thanks for your report @luoyihua !
I think there should be many auto_increment tables in your database.
We've had a plan to improve it.

[2019-07-24 04:30] jackysp commented on #11371
I think it is better to add transaction info to processlist table. There're many columns in innodb_trx not suitable for TiDB. Thanks for your suggestion, @alwaystest18 !

[2019-07-24 04:33] jackysp commented on #11398
Yes, it is in our plan now. We plan to enlarge the limit of transaction size to 10GB, and remove the kv count limit. Thanks for your report, @dnfhujun !

[2019-07-24 04:34] jackysp commented on #11403
Thanks for your report, @wjhuang2016 ! Would you want to fix it?

[2019-07-24 05:02] wjhuang2016 commented on #11403
Yeah, I will try to fix it.

[2019-07-24 05:27] lonng commented on #11333
Related issue: https://github.com/pingcap/tidb/issues/10446

[2019-07-24 05:33] jackysp commented on #11403
Thanks, @wjhuang2016 !

[2019-07-24 06:04] #11171 closed

[2019-07-24 06:06] july2993 opened #11410 "should rewrite the ddl_query in binlog if split the ddl_query into multi ddl job"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
create table a(id int);
create table b(id int);
drop table a,b;

2. What did you expect to see?
receive two ddl binlog, one is `drop table a`, one is `drop table b`

3. What did you see instead?
receive two ddl binlog, both ddl_query is `d

[2019-07-24 06:15] wjhuang2016 commented on #11333
I had tried to solve this problem, and found that there are two kinds of error need to deal with:
`ErrOverflow` and `ErrTruncated`. I'm not sure if it's necessary to modify the parser, seems that we can modify `mydicimal.go` and `value_expr.go`?

[2019-07-24 07:02] dnfhujun commented on #11398
Is there a specific time node?

[2019-07-24 07:04] jackysp commented on #11398
This December (release 4.0).

[2019-07-24 07:23] lonng commented on #11333
@XuHuaiyu PTAL

[2019-07-24 07:29] winoros opened #11414 "Support scalar query expression to make the plan building/resolver phase more correct"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]

We don't support it currently since this is against our `planner.expressionRewriter`.

When the expressionRewriter rewrites the corrlated plan, the correlated expression will be evaled after the outside the outer plan. i.e. The expression will be evaled after the outer returns row to its upper plan(here

[2019-07-24 11:31] H-ZeX commented on #11386
add these statements as the first two statements `ConvertJSONToFloat`
[code]

### case one

[code]
The log TiDB print is
[code]

### case two

[code]
The log TiDB print is
[code]

[2019-07-24 13:47] AndrewDi opened #11425 "Alter table set pre_split_regions fail"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Alter table test to set `PRE_SPLIT_REGIONS=6` fail without any error.
[code]

2. What did you expect to see?
Alter success.

3. What did you see instead?
Nothing happened

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
Master branch

[2019-07-24 14:17] winkyao commented on #11425
@bb7133 PTAL

[2019-07-24 14:18] winkyao commented on #11425
`alter table test pre_split_regions=6;` should report an error.

[2019-07-24 14:59] bb7133 commented on #11425
hi @AndrewDi , thanks for reporting, I will try to fix it.

[2019-07-25 01:42] lynch0227 opened #11428 "How enable log_bin with k8s installation"
When I install TiDB in k8s with helm, the binlog is disabled.
How can I enable it in values-<version>.yaml with helm?

Thank you.

[2019-07-25 03:09] gaoxingliang commented on #11140
I think this issue is fixed by https://github.com/pingcap/tidb/pull/11406

[2019-07-25 05:46] gaoxingliang commented on #11195
this issue seems not fixed yet on master branch. If so, I will look into this issue.

[2019-07-25 06:24] bb7133 commented on #981
Working on SQLAlchemy and Hibernate, I will update an report for them in this issue and #212

[2019-07-25 06:32] hanfei1991 opened #11435 "CREATE TABLE interprets DEFAULT value incorrectly for enum columns"
TiDB:

[code]

and MySQL:

[code]

If we quote the `2`, result of mysql changes.

[code]

## Score

- 600

## Mentor

- @wjhuang2016

[2019-07-25 06:35] hanfei1991 commented on #11414
exciting!!!

[2019-07-25 06:54] gaoxingliang opened #11437 "group by in a inner query didn't show an error when the selected column not exists in group by fields"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
an error like mysql 5.7.26

3. What did you see instead?
Empty result or no error shown.
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

Rele

[2019-07-25 06:56] #11428 closed

[2019-07-25 07:52] ono-yoko commented on #11304
@SunRunAway I am interesting in this issue. I am filling a PR to fix it.

[2019-07-25 10:12] #11304 closed

[2019-07-25 13:54] SunRunAway opened #11452 "executor: unit test failed."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

In pr https://github.com/pingcap/tidb/pull/11406, unit test failed.
See the detail at https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/4557/pipeline/

2. What did you expec

[2019-07-25 18:18] flyinget opened #11453 "durt read and GC life time is shorter than transaction duration"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

firt error:
when tikv_gc_life_time=10m
query sql or update sql take error
java.sql.SQLException: GC life time is shorter than transaction duration, transaction starts at 2019-07-25 00:50:40.158 +0000 UTC, GC safe point is 2019-07-25 00:54

[2019-07-25 18:27] flyinget commented on #11453
before update sql
we select * from number_interval_rule  where id =XX

[2019-07-26 02:21] #11145 closed

[2019-07-26 02:22] crazycs520 commented on #11453
@flyinget Thanks for your reporting.
In TiDB, If the duration of the transaction execution more than GC lifetime (10 min default), the transaction will return an error like `GC lifetime is shorter than transaction duration....`

You can reduce transaction size to avoid this problem.

[2019-07-26 02:27] crazycs520 commented on #11437
@gaoxingliang  Thanks for your reporting.
@winoros PTAL

[2019-07-26 02:32] crazycs520 commented on #11386
@H-ZeX  Can we close this issue now?

[2019-07-26 06:21] #11195 closed

[2019-07-26 10:57] Xuanwo commented on #212
https://github.com/bitnami/bitnami-docker-phabricator/issues/123

It looks like tidb can't be used in phabricator

[2019-07-26 12:37] SunRunAway opened #11468 "distsql: All data may be stored in memory(potential OOM) if kvReq.KeepOrder is true with a slow client"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Run `select * from sbtest1 order by pk` with a client that does not receive data from its connection.
After a while, tidb-server holds all data from sbtest1 into its memory.

When kvReq.KeepOrder is true, each copTask has its own channel

[2019-07-26 14:06] AilinKid opened #11470 "Parser: AST.Restore() will restore char(1) to char(1,0)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

First, this restored SQL was restored by my code before adding the origin ddl job to the queue. The original `tp` in the case from `ast.stmt` is right: `Flen=1, Decimal=-1`, none of parser's business.
[code]

2. What did you expect to see?

In func `setCharsetCollationFlenDecimal` of TiDB will

[2019-07-26 14:11] AndrewDi commented on #11256
It seems like our `MysqlTime` function will convert invalid year to uint16, and this will reset invalid int.
https://github.com/pingcap/tidb/blob/5611acd3782dd1577e3f0486564d07b203e8591e/types/time.go#L204-L214

[2019-07-26 14:11] AilinKid commented on #11470
may be more conner case in col.Tp restore, be carefully

[2019-07-27 10:46] #11256 closed

[2019-07-27 12:32] AndrewDi commented on #11309
@wshwsh12 I have do some test with mysql 8.0, behavior is a little wired.
[code]

And I think `2003-11-18 07:26:14` is right output... Any idea?

[2019-07-27 14:02] wshwsh12 commented on #11309
@AndrewDi
In the first , `b` is a column typed `double(6,3)` .
In the second , the `1.1` is a `decimal` (not `float` or `double`).
Maybe before the add operator, MySQL will convert the value to string, then parse the string to get the value(hour, minute, second....) .
You can have a see the case following:
[code]

[2019-07-28 02:20] zz-jason commented on #11179
close due to fixed

[2019-07-28 02:20] #11179 closed

[2019-07-28 11:47] H-ZeX commented on #11386
@crazycs520 no, the bug has not fixed, this pr(#11355) is not to fix this issue

[2019-07-29 00:42] ngaut opened #11481 "CI failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
One of the unit tests failed, See the details: https://circleci.com/gh/pingcap/tidb/42094?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[build_42094_step_102_container_0.txt](https://github.com/pingcap/tidb/files/3439743/build_42094_step_102_container_0.txt)

[2019-07-29 01:47] zz-jason opened #11482 "unit-test failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

found in https://github.com/pingcap/tidb/pull/11469

https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/4644/display/redirect

2. What did you expect to see?

It should pass stably.

3. What did you see instead?

In the log file [internal.pingcap.net.txt](https://github.com/pingca

[2019-07-29 02:51] leoppro opened #11486 "Improve parser compatibility"
As MySQL evolves constantly,  there are always new SQL syntaxes that TiDB doesn’t support.  To support a new SQL function in TiDB is a careful decision, and may take a long time. For better compatibility and user experience, it’s our intention that TiDB can parse and ignore the unsupported functions while only executing the supported part of SQL. Therefore, we need to parse as many SQL syntaxes as

[2019-07-29 03:24] lzmhhh123 commented on #11010
/assign

[2019-07-29 04:02] H-ZeX opened #11489 "Convert json to uint different from mysql"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
### difference between mysql and TiDB

[code]
when running it in mysql, the  `insert into tb8 (select cast(a as json) as aj from tb8);` will report out of range error.  But in  TiDB, it will not report error. This seems like a bug of mysql.

### something not ok in  TiDB's impleme

[2019-07-29 05:38] wuzk opened #11496 "Left outer join reports "Column colx is ambiguous" error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
使用mysql执行以下语句是好的，但是在tidb中执行报 “SQL错误(1105) : Column workreport_its.b.id is ambiguous”  workreport_it是数据库名，b 是左连接的表的别名，见下语句。
	SELECT
			A.ID ,
			a.missiontype,
			a.employeeid,
			b.projectcode,
			b.projectname,
			a.MISSIONSTATUS,
			a.startdate,
			a.enddate,
			C.username AS MISSIONEMPNAME,

[2019-07-29 05:53] chrissata opened #11497 "select group by not always return the first row"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
**1)create table.**

  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `deleted` smallint(6) NOT NULL,
  `m_id` bigint(20) DEFAULT NULL,
  `title` varchar(250) NOT NULL,
  `seq` bigint(20) DEFAULT '0',
  `val` varchar(64) DEFAULT '31',
  `onlin

[2019-07-29 06:19] wuzk commented on #11496
[union_ambiguous.txt](https://github.com/pingcap/tidb/files/3440480/union_ambiguous.txt)

[2019-07-29 06:23] winoros commented on #11496
@wuzk This bug is fixed in the later commit of release-3.0 branch.
We'll release a minor release this week. Upgrade to it later can solve the problem.

[2019-07-29 06:31] winoros commented on #11497
@chrissata
This is expected behavior. If you want max value. Use aggregate function `MAX`. We don't guarantee the result if it's not a strict GROUP BY.

[2019-07-29 06:52] crazycs520 commented on #11489
I think there is some compatible problem between TiDB and MySQL.
In TiDB:
[code]

In MySQL
[code]

[2019-07-29 06:57] crazycs520 commented on #11489
@XuHuaiyu PTAL

[2019-07-29 07:52] SunRunAway opened #11501 "executor: distsql.selectResult is not necessary to fetch asynchronously."
## Performance Questions

- What version of TiDB are you using?

ebfb2ae on the master branch

- What's the observed and your expected performance respectively?

[`distsql.selectResult`](https://github.com/pingcap/tidb/blob/master/distsql/select_result.go#L58) uses [`kv.Response.Next()`](https://github.com/pingcap/tidb/blob/master/kv/kv.go#L244) to fetch data from TiKV, since `kv.Response` is alre

[2019-07-29 08:31] winkyao commented on #11482
@amyangfei is investigating this issue.

[2019-07-29 08:32] winkyao commented on #11481
@amyangfei is investigating this issue.

[2019-07-29 08:38] winkyao commented on #11481
@ngaut It is fixed by https://github.com/pingcap/tidb/pull/11465/files

[2019-07-29 08:38] #11481 closed

[2019-07-29 08:39] winkyao commented on #11481
The error message is:
[code]

[2019-07-29 08:41] amyangfei commented on #11482
the error message is
[code]

[2019-07-29 08:45] jackysp commented on #11482
https://github.com/pingcap/tidb/pull/11495 fixed it.

[2019-07-29 08:46] jackysp commented on #11482
@tiancaiamao It seems "ASSERTION FAIL!!!" appeared again. PTAL

[2019-07-29 08:55] NormanZhang opened #11503 "Deploy tidb with docker swarm, fail to send snap between tikv of different hosts"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
我用docker swarm部署tidb，
一个tidb，一个pd，三个tikv，
如果把三个tikv部署在同一台宿主机上，pd部署在另一台宿主机上，
查看pd，tikv日志，都是正常的，几乎没有error日志出现。

如果把两个tikv在同一台宿主机上，一个pd和一个tikv部署在另一台宿主机上
查看tikv的日志，一直在打error日志

4. What version of TiDB are you using (`tidb-server -V` or run `se

[2019-07-29 08:57] lzmhhh123 commented on #10556
@SunRunAway This version of `MySQL` or `TiDB`? May `TiDB` is better?

[2019-07-29 09:09] siddontang opened #11506 "May use hex format to print the keys"
## General Question

[code]
I find that the output key is still protobuf readable format, but I remember we have decided to use hex for printing keys.

[2019-07-29 09:46] SunRunAway commented on #10996
Hi, @yangwenmai
Sorry for the late response,

[2019-07-29 09:52] SunRunAway commented on #10996
Hi, @yangwenmai
Sorry for the late response, I've tried to modify `parser.y` like yours and run `make test` with no error.
Could you provide a branch with this problem in your `parser` repo and let me take a look?

[2019-07-29 10:14] SunRunAway opened #11508 "window function: function name of ErrWindowInvalidWindowFuncUse should be lowercase"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-29 11:34] tcmichael commented on #11508
/assign

[2019-07-29 12:23] zhexuany opened #11513 "drop view does not work as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
In Mysql, we have the following
[code]

while, in TiDB, the thing is not consistent with MySQL.
[code]

2. What did you expect to see?

drop table should report error.

3. What did you see instead?
drop table query drops the view.

4. What

[2019-07-29 12:57] zhexuany commented on #11513
one thing need to be noted, `drop view` cannot actually drop view but `drop table` can(judging from Json of TableInfo). IMHO, we need be consistent with MySQL.

[2019-07-29 14:52] b41sh commented on #11180
/assign

[2019-07-30 02:19] cfzjywxk commented on #11080
MySQL this implicit behavior is not good.  Let's leave this issue alone, until some users strongly rely on this implicit behavior.
more details see jira TiDB-4198

[2019-07-30 02:19] #11080 closed

[2019-07-30 02:56] ngaut opened #11517 "Use two goroutines to speed up "load data""
According to https://github.com/pingcap/tidb/blob/77b6858bf08c2c20dd16b9f7f8d291b17c13b91e/server/conn.go#L1057

There are two steps for "load data" statement, we can use two goroutine to speed up the process, one goroutine for preparing data, and another goroutine for committing.

[2019-07-30 03:36] SunRunAway opened #11518 "Different error message from MySQL when select a window function with group by"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-07-30 03:41] tcmichael commented on #11508
@lamxTyler
I have hard time to add unit test for https://github.com/pingcap/tidb/blob/a92902aeee3a49c835d5f0beb8f1e6dbb645fc3a/planner/core/logical_plan_builder.go#L1244

Could you give me an example sql to cover that line?

[2019-07-30 05:00] lamxTyler commented on #11508
What about the sql in the issue description?

[2019-07-30 05:06] tcmichael commented on #11508
The sql goes here: https://github.com/pingcap/tidb/blob/a92902aeee3a49c835d5f0beb8f1e6dbb645fc3a/planner/core/expression_rewriter.go#L326

[2019-07-30 05:10] SunRunAway commented on #11508
Maybe this one, `SELECT * from table60_int_autoinc having ROW_NUMBER() over() ;`

[2019-07-30 07:01] cfzjywxk commented on #11517
will do some experiments on this. Things need to consider
- consume memory resources, especailly when commit is slow
- load data statement may be changed to atomic like innodb in the future, this optimization may not work

[2019-07-30 09:10] #11317 closed

[2019-07-30 09:14] AilinKid commented on #11470
char(1) case:
the `tp` from `ast.stmt` is right: `Flen=1, Decimal=-1`, none of parser's business.

in func `setCharsetCollationFlenDecimal` will change the `Decimal` to default 0, which will cause `ast.Restore` error.

[2019-07-30 09:16] #11309 closed

[2019-07-30 09:28] jwongz opened #11528 "TiDB3.0.1can't excute some sql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

grafana's dashboard throw exception "search failed",and logs of grafana write like this :

[code]
my grafana version is 6.0.1,and it works well on TiDB 2.1.4

2. What did you expect to see?

excute sql  success

3. What did you see instea

[2019-07-30 09:33] winkyao commented on #11528
@winoros PTAL

[2019-07-30 09:39] winoros commented on #11528
@jwongz
Sorry for your inconvenience. This bug is fixed in next minor release of 3.0, which is expected to be released at 8.6.
If this SQL can be rewritten by hand. You can simply add `grafana_ucloud.dashboard.id` to the final select field.

[2019-07-30 11:00] yangwenmai commented on #10996
https://github.com/yangwenmai/parser/tree/fix_group_cast

[2019-07-30 12:05] SunRunAway commented on #10996
Can't reproduce :(
The error message you pasted shows that the failing test is at https://github.com/yangwenmai/parser/blob/fix_group_cast/parser_test.go#L3276-L3343

Could you take another investigation?

[2019-07-30 13:22] yangwenmai commented on #10996
OK, Thanks.

[2019-07-31 03:29] #11508 closed

[2019-07-31 03:41] BusyJay commented on #11503
Can you paste the full configuration of all the three tikv nodes here? It will be printed when it started.

[2019-07-31 03:50] #11010 closed

[2019-07-31 05:09] cofyc commented on #11503
It may be network problems. Can you describe your steps to deploy TiDB with docker swarm? for example, commands or scripts you run.

[2019-07-31 05:27] gaoxingliang commented on #11008
I will look into this issue.

[2019-07-31 05:56] gaoxingliang opened #11539 "Bug in the sample.go when implement the reservoir alg"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I'm looking into the [cn doc](https://pingcap.com/blog-cn/tidb-source-code-reading-12/), it implements the reservoir algorithm. but it seems it's not working on edge case.
See below code of sample.go[https://github.com/pingcap/tidb/blob/ma

[2019-07-31 05:57] #11011 closed

[2019-07-31 05:58] #11002 closed

[2019-07-31 06:02] gaoxingliang commented on #11539
I think it's my fault. I mixed up with the list.  it's not an issue.

[2019-07-31 06:02] #11539 closed

[2019-07-31 06:27] #11001 closed

[2019-07-31 06:34] siddontang opened #11540 "unnecessary backtrace log when closing connection"
## General Question

[code]

IMO, the close connection log should not include the whole stack, it is unnecessary.

[2019-07-31 08:05] winoros opened #11544 "Index Join executes wrongly when there's index with column has length"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Both them returns correct dataset.

3. What did you see instead?

Only hash join returned. Index join returned a empty dataset.

4. What version of TiDB are you using (`tidb-server -V` or run `selec

[2019-07-31 08:25] winoros commented on #11544
Another case relates to index join and index with prefix index column. Though the root cause is not the same.

[code]
Its result is also a wrong one compared with `TIDB_HJ` hint.

[2019-07-31 08:54] #11540 closed

[2019-07-31 09:34] yester354 opened #11546 "tidb 2.1.9 upgrade to 3.0.1 ,grafana no data point"
after upgrading to tidb 3.0.1，the monitor data of tikv appear abnormal

1、tidb 2.1.9 runs well，grafana work good
2、using ansible-playbook upgrade to tidb 3.0.1 and upgrade monitor
3、only the monitor data of tikv display no data point in grafana web
4、there are no errors in grafana and promethus logs
5、by visiting promethus status data on web，tikv endpoints are all up，and Scrape Duration is less th

[2019-07-31 10:55] winkyao commented on #11546
@liubo0127 PTAL

[2019-07-31 11:10] liubo0127 commented on #11546
Note that when upgrading the cluster version, you also need to execute `ansible-playbook rolling_update_monitor.yml` to upgrade the monitor.

TiKV monitoring data was collected by `Pushgateway` before the upgrade. In version `3.0 or later`, it was changed to `Prometheus` to pull the monitoring data directly. The expressions also have some changes, which will cause the original TiKV dashboard to di

[2019-08-01 01:36] yester354 commented on #11546
it wokrs ，thanks

[2019-08-01 01:36] #11546 closed

[2019-08-01 01:59] chrissata commented on #11497
Thanks for your reply.
But I'm not expecting the max value , what I want are the records which contains the max value for each group.  And now I'm quite sure that tidb-2.1 just can not handle those kind of scenarios which are quite common buzz requirements. Due to the limitation, I will try to upgrade to 3.0 which supports window fuction feature  and that should meet my requirements.

[2019-08-01 01:59] #11497 closed

[2019-08-01 02:33] NormanZhang commented on #11503
[2019/08/01 10:15:20.681 +08:00] [INFO] [server.rs:59] ["using config"] [config="{\"log-level\":\"info\",\"log-file\":\"/log/ssdtidb2_kv_1/kv.log\",\"log-rotation-timespan\":\"1d\",\"panic-when-unexpected-key-or-data\":false,\"readpool\":{\"storage\":{\"high-concurrency\":4,\"normal-concurrency\":4,\"low-concurrency\":4,\"max-tasks-per-worker-high\":2000,\"max-tasks-per-worker-normal\":2000,\"max-

[2019-08-01 02:41] NormanZhang commented on #11503
{
  "services": {
    "pd_1": {
      "name": "pd_1",
      "taskTemplate": {
        "containerSpec": {
          "image": "yhub.com/dev/tidb-pd:v3.0.1",
          "hostname": "ssdtidb2_pd_1",
          "env": [
            "ENV2CONF={\"\":{\"advertise-client-urls\":\"\\\"http://ssdtidb2_pd_1:2379\\\"\",\"advertise-peer-urls\":\"\\\"http://ssdtidb2_pd_1:2380\\\"\",\"data-dir\":\"\\\"/data/ssdtidb

[2019-08-01 02:51] DQinYuan opened #11552 "the processing of float in logic operation is inconsistent with mysql"
## Bug Report

1. What did you do?

[code]

2. What did you expect to see?

but in tidb, the result is:

[code]

3. What did you see instead?

In mysql, the result is:

[code]

Perhaps Because tidb will round float before logic processing.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

mysql is 5.7

[2019-08-01 02:52] #11496 closed

[2019-08-01 02:53] #11528 closed

[2019-08-01 04:09] DQinYuan opened #11556 "QUOTE(null) should return 'NULL' string instead of NULL value"
## Bug Report

In doc:

![image](https://user-images.githubusercontent.com/23725000/62264955-c9f46380-b454-11e9-8e62-6d67c87dbd4a.png)

quote(null) should return 'NULL' string, but tidb return NULL value instead.

1. What did you do?

[code]

2. What did you expect to see?

in mysql:

[code]

3. What did you see instead?

In TiDB:

[code]

4. What version of TiDB are you using (`tidb-server -V` or

[2019-08-01 07:01] NormanZhang commented on #11503
是docker swarm网络的问题，换了个网络好了

[2019-08-01 07:01] #11503 closed

[2019-08-01 08:49] vito16 opened #11569 "TiKv节点的机器磁盘扩容"
版本：3.0.1
之前安装TiKV的时候，是在阿里云的ecs上，每个TiKV节点的磁盘大小为500G（系统盘）
现在想扩容2000G，自己能想到的方法这几个？哪一个合适一点呢？ 我需要保留现有数据。
1. 新加数据盘（2000G），这种方案我是否应该还要做数据迁移以及其他挂载的动作？
2. LVM扩容方案，这种不知道对数据会不会有影响。

[2019-08-01 09:03] SunRunAway commented on #9396
I used `sysbench oltp_read_only` to test on the master branch with go1.13beta1, it seems `newFirstChunk` is not a hot path. I'll close this issue and if someone finds another performance problem with `newFirstChunk`, feel free to reopen it.

[2019-08-01 09:03] #9396 closed

[2019-08-02 00:44] liaohongxing opened #11574 "springboot jpa report exception "Unable to commit against JDBC Connection""
### JDBC Exception ：

[code]

### tidb log: no
### tikv log:
[code]

### version:
SELECT VERSION();  -> 5.7.25-TiDB-v3.0.1
springboot: -> 2.1.6.RELEASE
mysql-connector-java: -> 8.0.16

[2019-08-02 01:50] junplus opened #11575 "Too many regions"
our storage size is nearly 7.8TB, but the number of regions is almost 390,000.

if each region is full of 64M, we can calculate the number of regions should be 120,000.

we have already enable the 'region merge' feature,  but effect was not obvious.

is there any solution ? can i expand the region size to 128M or 256M ?

[2019-08-02 02:38] disksing commented on #11575
Hi @junplus . There are some reasons could lead the mismatch:
1. Region data is compressed before persistent to disk in SST format, so storage size is less than the sum of all regions sizes.
2. By default, PD only merges regions that are less than 20MB. If the workload is uniformity delete keys, it could end up with all regions size are slightly larger than 20MB.

Increase region size is an option

[2019-08-02 03:08] junplus commented on #11575
thx,  the 'max-merge-region-size' option is currently 64M, i'll try to increase region size later.

[2019-08-02 03:08] #11575 closed

[2019-08-02 03:11] gregwebs commented on #11569
LVM does have a noticeable performance overhead when combining disk, so it is not recommended if you need maximum write performance. I am not familiar with disk on Ali cloud, but someone else might be able to help you.

[2019-08-02 03:14] gaoxingliang commented on #11008
Hi @SunRunAway
it has been fixed in https://github.com/pingcap/tidb/pull/9596/files.

[2019-08-02 03:17] gaoxingliang commented on #11556
I will check this issue

[2019-08-02 03:27] iamxy commented on #11569
It is not recommended to use the system disk as a data disk. I recommend that you mount a large data disk separately, and then follow the steps below.

1. Mount a new disk to ECS instance with size > 2000G
2. Stop the TiDB cluster
2. Copy tikv/pd 's data to a directory on the new disk
3. Modify the command line parameters of tikv/pd , make sure to use the new path for data-dir
4. Try to start clus

[2019-08-02 04:01] zhexuany opened #11577 "The usage of TypeDecimal in TiDB could be problematic"
Per our internal discussion, TypeDecimal is reserved for uninitialized type. While in our code base, it is treated as double or even new decimal.

Just take two examples as follows:
https://github.com/pingcap/tidb/blob/3faafb2d5e78851be1edfaf1a3e206ed75e09981/types/field_type_test.go#L281

https://github.com/pingcap/tidb/blob/5c35082f6af637f13f5d4a936a1e91f94e520259/expression/builtin_time.go#L439

[2019-08-02 04:14] vito16 commented on #11569
thanks, @iamxy  @gregwebs
I understand what you mean.
I am also using the new data disk and copying the original tidb-data to the new datta disk.
But with regard to the 4 you mentioned

 how should I modify the configuration?

other question：
I found the data-dir on

But the documentation tells me that on

Did I understand the mistake?

[2019-08-02 04:34] iamxy commented on #11569
If you are deploying clusters with TiDB Ansible, you can find instructions here.
[Ansible Deployment](https://pingcap.com/docs/v3.0/how-to/deploy/orchestrated/ansible/
)

or if you deploy binaries from scratch, refer to this guide.
[From binary](https://pingcap.com/docs/v3.0/how-to/get-started/deploy-tidb-from-binary/)

[2019-08-02 05:46] gaoxingliang commented on #11556
I looked into the definition [here](https://dev.mysql.com/doc/refman/8.0/en/string-functions.html#function_quote). but it's weird for mysql impl (or I can say it's wrong).
See below cases:
[code]
as you can see, the NULL IS NULL = true = 1 and according to the doc, the quote(NULL) should be NULL. so the value should be 1 instead of 0.
I think this is wrong for mysql's implementation.

[2019-08-02 06:34] cfzjywxk opened #11582 "sys variable : support secure_file_priv and limit the file operations with RBAC"
## Feature Request

**Is your feature request related to a problem? Please describe:**

support secure_file_priv like MySQL  to limit the  file related  operations and functions and avoid possible secure risks.Also this is related to FILE privilege in privilege system.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migr

[2019-08-02 06:44] cfzjywxk opened #11583 "privilege: support FILE privilege in TiDB like MySQL"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

support FILE privilege in TiDB like MySQL, so users can control file related operations by users to reduce secure risks

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2019-08-02 07:04] kingsh2012 commented on #7953
`2019/08/02 14:57:22.448 conn.go:426: [error] lastCmd select * from recommend_hy where id <> 2, runtime error: slice bounds out of range, goroutine 1061170414 [running]:
github.com/pingcap/tidb/server.(*clientConn).Run.func1(0xc421493930, 0xc44b713dff)
        /home/jenkins/workspace/build_tidb_2.0/go/src/github.com/pingcap/tidb/server/conn.go:424 +0x10e
panic(0x10a8b00, 0x1cb0a60)
        /usr/lo

[2019-08-02 07:07] shenli commented on #7953
@kingsh2012 Could you show me the tidb version? You can get it from `select tidb_version();`.

[2019-08-02 07:21] vito16 commented on #11569
Yeah,i deploying tidb with tidb-ansible.
I have successfully added the data disk and switched the new data-dir.
1. stop tidb-service
[code]
2. update inventory.ini
[code]
3. move old data-dir to new data-dir(tikv and tidb)
[code]
4. check&change new data-dir's user and group(tikv and tidb)
[code]
like this:
[code]
5. start tidb-service
[code]

enjoy  -,-

[2019-08-02 07:21] #11569 closed

[2019-08-02 07:39] kingsh2012 commented on #7953
TIDB版本
`
MySQL [(none)]> select tidb_version()\G
*************************** 1. row ***************************
tidb_version(): Release Version: v2.0.5
Git Commit Hash: 43ab80012ae6a154e221e124a2ad3a396f0de822
Git Branch: release-2.0
UTC Build Time: 2018-07-06 08:52:37
GoVersion: go version go1.10.2 linux/amd64
TiKV Min Version: 2.0.0-rc.4.1
1 row in set (0.00 sec)
`
表
`
+-------------+-----------

[2019-08-02 07:48] gaoxingliang commented on #11556
Aha, I got more information about this issue.
the cause is the doc is wrong. t**he quote(null) will return a string "NULL" instead of NULL is mysql.**
see my below test:
[code]
it's the upper case "NULL" instead of null.
See the case sensitive version:
[code]

[2019-08-02 08:09] DQinYuan commented on #11556
@gaoxingliang    I think doc say very clearly `quote(null)` will return string 'NULL',  and mysql impl is right

[2019-08-02 08:13] XuHuaiyu commented on #7953
@kingsh2012
Hi, may you try the latest `v2.1.15 tidb-server` to check whether this problem still exists?

[2019-08-02 08:21] gaoxingliang commented on #11556
Yes. u r right. I confirmed. I will try to fix this issue.

[2019-08-02 08:23] ngaut opened #11588 "Propose: clean up the usage of hack package"
Currently we are using hack package a lot, more than 30 files are using the package. The way of using hack.Sring method is ugly and not friendly for new contributors, we should do some clean up by using a byte slice or using string instead, unless there is a big performance improvement.

[2019-08-02 08:32] SunRunAway commented on #11008
Hi, @gaoxingliang
I think you've misunderstood this issue. `nth_value` is already implemented but what this issue describes is the error message problem.

[2019-08-02 08:36] kingsh2012 commented on #7953
@XuHuaiyu  upgrade tidb-server to latest ? pd kv must together to upgrade?

[2019-08-02 08:42] coocood commented on #11588
We can just modify the  implementation of `hack.String` and `hack.Slice`, then do some benchmark.

[2019-08-02 08:50] #11349 closed

[2019-08-02 08:51] H-ZeX opened #11590 "union result is not same as mysql"
## Bug Report

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]
[code]

5. relate issue
https://github.com/pingcap/tidb/issues/7075

[2019-08-02 08:54] gaoxingliang commented on #11008
@SunRunAway I test with latest master branch, it shows the correct error message (if you mean the index should be > 0, that's NTH_VALUE(fieldA, -1) , -1 is illegal):
Example:
[code]

[2019-08-02 08:57] zz-jason commented on #11590
@XuHuaiyu PTAL

[2019-08-02 08:58] SunRunAway commented on #11008
Hi, your test case is different from what this issue describes which a window is depends on another.

[2019-08-02 09:01] SunRunAway commented on #11590
Hi, @H-ZeX
could you provide the version of your MySQL server?

[2019-08-02 09:02] H-ZeX commented on #11590
[code]

[2019-08-02 09:05] SunRunAway commented on #11590
TiDB aims to compatible with MySQL5.7 so it seems to be fixed in #7075

[2019-08-02 09:11] gaoxingliang commented on #11008
@SunRunAway Okay. now I can reproduce it and I will look more into this.

[2019-08-02 09:14] #10556 closed

[2019-08-02 09:17] SunRunAway commented on #11590
Hi, @H-ZeX
I'm closing this issue now, feel free to reopen it if I'm wrong.

[2019-08-02 09:17] #11590 closed

[2019-08-02 09:55] qw4990 opened #11594 "handle unsigned value wrongly in `builtinCastIntAsDecimalSig`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-08-02 16:40] kolbe opened #11596 "Privileges for connection are re-checked after creating user with more specific hostname"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I connect as 'root'@'%' and then create a user with a host that more specifically matches the IP I connect from, in this case 127.0.0.1. It seems that TiDB re-checks privileges for the existing connection and, since the new user 'root'@'1

[2019-08-03 07:16] zz-jason commented on #11102
fixed by https://github.com/pingcap/tidb/pull/11105

[2019-08-03 07:16] #11102 closed

[2019-08-03 07:38] zz-jason opened #11597 "we need to forbid modifying binary column or regenerate data"
# Bug Report

## 1. What did you do?

[code]

change the data type of column `a`:

[code]

## 2. What did you expect to see?

When modifying a column from `BINARY[X]` to `BINARY[Y]`, the underlying data should be regenerated.

* a short workaround is to forbid these kind of alter table DDLs
* better to be fixed by regenerating the data when `x` is not equals to `y`.

## 3. What did you see instead

[2019-08-03 18:13] kennytm opened #11599 "Data race in `analyze_test` due to concurrent modification of global variables"
In https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/4865/nodes/72/log/?start=0 we get a data race while testing #8891:

[code]

The race involved this line:

https://github.com/pingcap/tidb/blob/cfee8c09843b4b061880fa4d83529b2cfdbe3be2/executor/analyze_test.go#L184

which suggests it is caused by modifying the global variable `executor.Max

[2019-08-03 18:44] kennytm opened #11600 "Data race in `(*HashJoinExec).Close()` since `fetchInnerAndBuildHashTable` is still running"
In https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/4865/nodes/69/log/?start=0 we get two data races while testing #8891.

<details><summary>First race</summary>

[code]

</details>
<details><summary>Second race</summary>

[code]

</details>

Both races have the same stack trace involving `(*HashJoinExec).Close()`. In goroutine 98 the `Has

[2019-08-04 06:09] zz-jason commented on #11600
@SunRunAway PTAL

[2019-08-04 06:10] zz-jason commented on #11599
@lamxTyler PTAL

[2019-08-04 06:57] jingyugao opened #11601 "wrong results when IF function along with float argument"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
SELECT  IF(0.1, 1, 2) FROM t1;
2. What did you expect to see?
+---------------+
| IF(0.1, 1, 2) |
+---------------+
|             1 |
+---------------+
1 row in set (0.00 sec)

3. What did you see instead?
+---------------+
| IF(0.1, 1, 2)

[2019-08-04 07:05] jingyugao commented on #11601
In tidb, almost all builtIn*Sig function use the result of `evalInt` to check true or false.
This is not ok when args is float64 which is less than 1, it will be convert to 0 by `evalInt`.
So we should replace `evalInt` with `evalReal`.(By the way,if the argis to small and is out of the float64 accuracy,such as 1e-1000, it should be converted to 0)

[2019-08-04 07:08] zz-jason commented on #11601
`evalInt` means this expression signature should return an `int` result. For this case, we should implement `evalInt`. But in order to get the correct result, we should calling `args[0].EvalReal()` other than `args[0].EvalInt()`.

[2019-08-04 07:13] jingyugao commented on #11601
Yes,I have fix the logic op https://github.com/pingcap/tidb/pull/11587,but many builtinfunc doesnt implement `evalReal`, so it may be difficult to handle.

[2019-08-04 07:28] #11365 closed

[2019-08-04 09:14] zhouqiang-cl opened #11602 "test tikv"
## General Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

[2019-08-04 09:20] zhouqiang-cl commented on #11602
tikv

[2019-08-04 09:28] #11602 closed

[2019-08-04 09:29] zhouqiang-cl opened #11603 "tikv"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2019-08-04 09:34] #11603 closed

[2019-08-04 09:34] zhouqiang-cl opened #11604 "tikv aaa"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2019-08-04 09:34] #11604 closed

[2019-08-05 03:29] GiveMeSunShine opened #11606 "[Err] 1690 - constant -6884244073709551616 overflows bigint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I create table with DDL SQL：

CREATE TABLE `eth_analysis_address` (
  `address` char(42) NOT NULL COMMENT '地址',
  `balance` decimal(60,0) NOT NULL DEFAULT '0' COMMENT '当前余额',
  `income` decimal(60,0) NOT NULL DEFAULT '0' COMMENT '总收入',
  `

[2019-08-05 03:41] #8414 closed

[2019-08-05 03:42] #9126 closed

[2019-08-05 03:42] zz-jason commented on #11606
@SunRunAway PTAL

[2019-08-05 03:47] SunRunAway opened #11607 "Consider using a disk-based hash table for hash join avoiding OOM"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Consider using a disk-based hash table for hash join avoiding OOM.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

-

**Teachability, Documentation, Adoption, Migration Strategy:**

-

[2019-08-05 04:12] elvizlai commented on #7968
is there any progress or plan about `JSON_TABLE` ?

[2019-08-05 06:46] lzmhhh123 opened #11610 "An overflow int64 error in range calculation."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
Query successfully, return an empty set.

3. What did you see instead?
Panic, the error happened in `statistics.enumRangeValues`.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-08-05 07:07] chrissata opened #11612 "window function row_number somtimes return wrong row number"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
**1) PREPARE TABLE AND DATA...**
CREATE TABLE `testtable` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `deleted` smallint(6) NOT NULL,
  `m_id` bigint(20) DEFAULT NULL,
  `title` varchar(250) NOT NULL,
  `seq` bigint(20) DEFAULT '0',
  `

[2019-08-05 07:15] chrissata opened #11614 "window function rank() sometimes lead to tidb-server panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
**1) prepare data**
same mock data set like issue: https://github.com/pingcap/tidb/issues/11612
**2) do query**

SELECT      p.id,     p.title,     p.seq,     p.m_id,     p.val,     rank() over(PARTITION BY p.m_id ORDER BY p.seqDESC) AS ra

[2019-08-05 07:17] zz-jason commented on #11614
@SunRunAway @lzmhhh123 @lamxTyler PTAL

[2019-08-05 07:34] gaoxingliang commented on #11212
/assign

[2019-08-05 08:43] lamxTyler commented on #11612
Could you point out why is it wrong? And did you post the wrong result since the result column is `rank_num`, not `row_num`?

[2019-08-05 08:46] #11610 closed

[2019-08-05 11:05] #11556 closed

[2019-08-05 11:14] #10513 closed

[2019-08-05 11:30] #11594 closed

[2019-08-05 11:50] lovewin99 opened #11622 "planner: when the setvar function is evaluated in the subquery, the parent query condition is pushed down wrongly."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

create table t(c1 int, c2 varchar(255));

insert into t values(1,'a'),(2,'d'),(3,'c');

SELECT *
FROM (
	SELECT t1.c1, t1.c2, @c3 := 1 + @c3 AS c3
	FROM (
		SELECT t.*, @c3 := 0
		FROM t
		ORDER BY t.c1
	) t1
) t01
WHERE t01.c3 = 2
	AND t

[2019-08-05 11:54] chrissata commented on #11612
Hi,
The error is that, for one of the returned records,  of which the id is 31040, the final row_number column value should be 1  rather than 28.
| 31040 | aa | 298 | 1003 | 328 | **28 |**

The column name "rank_num" is just an so-called alias name which has nothing to do with the result since I used "row_number() over " in my query which is pretty clear.

[2019-08-05 12:24] chrissata opened #11626 "using window function "first_value" get "index out of range" runtime error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

SELECT first_value(p.id) over(PARTITION BY p.m_id ORDER BY p.seq DESC) AS first_id FROM     testtable p   WHERE p.deleted = 0      AND p.online = 1      AND p.m_id IN (1977409, 1861420);

2. What did you expect to see?

return correct fir

[2019-08-05 12:31] zimulala commented on #11612
PTAL @lamxTyler

[2019-08-05 12:35] zimulala commented on #11626
@chrissata
Thanks for your feedback! We will handle it.

[2019-08-06 02:02] #11470 closed

[2019-08-06 03:38] #11599 closed

[2019-08-06 04:26] wjhuang2016 commented on #11486
How about statements like `insert into t1 set a=default;`?
[code]
https://dev.mysql.com/doc/refman/8.0/en/insert.html

[2019-08-06 04:30] foreyes opened #11632 "Extract a common error message pattern for conflicted SQL hints"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When adding new optimizer hints, we have these warnings messages:
"Optimizer aggregation hints are conflicted" for `TIDB_HASHAGG` and `TIDB_STREAMAGG`.
"Join hints are conflict, you can only specify one type of join" for Join Hints.

**Describe the feature you'd like:**

Extract a common error message pattern f

[2019-08-06 06:28] SunRunAway commented on #11626
Hi, @chrissata
Could you provide the scheme of `testtable` and the table data to reproduce?

[2019-08-06 06:34] lysu opened #11634 "replace `context.WithValue` string key to typed `struct{}` key"
Current TiDB many places uses a string as the context key which leads to allocations.

for example:

https://github.com/pingcap/tidb/blob/eae30ebbcb8464d4644598db459337998ab1d43b/store/tikv/coprocessor.go#L52

https://github.com/pingcap/tidb/blob/7f3bff8afef001c4d93f4c7632ad9a9595cded8b/session/session.go#L505

https://golang.org/pkg/context/#WithValue

https://www.dropbox.com/s/9u74uvpq8vowwdo/Sc

[2019-08-06 06:59] SunRunAway commented on #11614
Hi, @chrissata
I tested on both v3.0.0 and v3.0.1 and cannot reproduce, the SQL you provided runs normally.

[code]

[2019-08-06 07:00] SunRunAway commented on #11614
Could you provide your TiDB git hash using `tidb-server -V`?

[2019-08-06 07:43] SunRunAway opened #11638 "HashJoinExec is lack of unit tests"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

- None

2. What did you expect to see?

- Unit tests for HashJoinExec

3. What did you see instead?

- Only integration tests.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-08-06 08:54] gaoxingliang commented on #11210
I will check this issue.

[2019-08-06 09:23] WangXiangUSTC commented on #7872
@shenli not urgent, and this operation will indeed delete rows in tikv, so I will close this issue

[2019-08-06 09:23] #7872 closed

[2019-08-06 09:37] gaoxingliang commented on #11210
note if the cols exists in the select, it's okay (seems column pruned before checking sort by)
[code]

[2019-08-06 10:26] #11319 closed

[2019-08-06 10:26] wshwsh12 opened #11645 "Result of DATE_ADD function is different from mysql.(string INTERVAL)"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

## SIG slack channel
[#sig-exec](

[2019-08-06 12:12] chrissata commented on #11614
Release Version: v3.0.1
Git Commit Hash: 9e4e8da3c58c65123db5f26409759fe1847529f8
Git Branch: HEAD
UTC Build Time: 2019-07-16 01:03:40
GoVersion: go version go1.12 linux/amd64
Race Enabled: false
TiKV Min Version: 2.1.0-alpha.1-ff3dd160846b7d1aed9079c389fc188f7f5ea13e
Check Table Before Drop: false

Our environment used to be v2.1.8 and I upgraded it to 3.0.1 version. I was wondering if this error

[2019-08-06 13:48] yanbinghui commented on #11496
Hi, @winoros Have this bug fixed now? I also encounter this issue.

[2019-08-06 13:55] lzmhhh123 commented on #11496
@yanbinghui The master branch has been fixed. We will publish release 3.0.2 tomorrow. Also will be fixed in this release.

[2019-08-06 14:05] qw4990 opened #11647 "wrong results when comparing `bit` with `string`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

The reason is that we select a wrong target field type in function `RefineComparedConstant`.

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or ru

[2019-08-06 14:17] wjhuang2016 opened #11648 "Disabling STRICT_TRANS_TABLES should allow NULL insert into NOT NULL column with default value"
## Bug Report

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
master

[2019-08-06 14:41] wjhuang2016 opened #11649 "`select` failed to keep row order with `distinct`"
## Bug Report

1. What did you do?

[code]

2. What did you expect to see?

[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-08-07 02:28] wjhuang2016 commented on #11649
Also with `select * from test group by id;`

[2019-08-07 03:10] foreyes opened #11650 "Planner: Avoid injecting redundant projection when build LogicalJoin"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]

In this case, t1 should  be used as inner table. But the equal condition is `t1.a = t2.a+1`,  we will inject projections at both sides. `Projection(t1.a -> t1.a)` will be eliminated in the last step, but it still exists when considering `IndexJoin` and projection can't be used as inner table.

**Describ

[2019-08-07 03:28] Sraw opened #11651 "Benchmarking 5 nodes cluster and getting slower and slower performance"
## Performance Questions

- What version of TiDB are you using?

3.0.1
- What's the observed and your expected performance respectively?
I use go-ycsb to benchmark the TIDB using mysql protocol. The structure of the cluster is:
[code]
All hosts have 8 cores and 64GB RAM, and the workload is 0.5 read, 0.05 update, 0.45 insert.
The performance at the beginning:
[code]
And the performance later:
[cod

[2019-08-07 03:54] siddontang commented on #11651
For UPDATE_ERROR, can you run go-ycsb with `-p silence=false` to show the error.

[2019-08-07 03:54] foreyes opened #11653 "Planner: improve projection to keep order or keep index in some cases"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]

[code]

**Describe the feature you'd like:**

Columns can still keep order and use index after projections like `t1.a*2` or `t1.a+1`.

[2019-08-07 03:55] siddontang commented on #11651
another thing is that please update go-ycsb, we have fixed a bug the day before yesterday.

[2019-08-07 03:56] foreyes commented on #11653
Can we do this? Is this useful? @lamxTyler

[2019-08-07 04:12] Sraw commented on #11651
Hi, I've updated and tested it again:

[code]
Here is some errors. As there are too many, I didn't post all of them.

[2019-08-07 04:15] lamxTyler commented on #11653
I think we can do this and it is useful.

[2019-08-07 05:09] foreyes commented on #11653
OK, I may try to do it later.

[2019-08-07 05:36] wjhuang2016 commented on #11649
Close this issue since there is no guarantee that rows will be returned in any particular order without an ORDER BY clause in the query.

[2019-08-07 05:36] #11649 closed

[2019-08-07 06:26] xbddc opened #11656 "Change table schema end up inconsistency"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I ran a `ALTER TABLE` query to modify table schema, but only one of the TiDB services returns correct table schema after this mutation, the other TiDBs remain unchanged.

[code]

2. What did you expect to see?

`SELECT @@global.hostname;

[2019-08-07 07:08] chrissata commented on #11626
Hi,

The git commit is :

Release Version: v3.0.1
Git Commit Hash: 9e4e8da3c58c65123db5f26409759fe1847529f8
Git Branch: HEAD
UTC Build Time: 2019-07-16 01:03:40
GoVersion: go version go1.12 linux/amd64
Race Enabled: false
TiKV Min Version: 2.1.0-alpha.1-ff3dd160846b7d1aed9079c389fc188f7f5ea13e
Check Table Before Drop: false

Sorry I cound't provide exact data to reproduce this error since the data

[2019-08-07 07:30] lauhg commented on #11634
I can work on this if nobody else is.

[2019-08-07 08:42] siddontang commented on #11651
can you give me your go-ycsb workload property file, we can try to produce it by ourselves

@Sraw

[2019-08-07 08:51] junplus opened #11661 "How to know if there are hot regions from PD statistics"
i've got a tikv with 10000 regions, and  the current number of "Hot write Region’s leader distribution" is 4 or 5.

how can i know if there are hot regions.

[2019-08-07 09:01] youjiali1995 commented on #11661
`Hot write Region's leader distribution` is the total number of leader Regions under hot write on each TiKV instance.

[2019-08-07 09:05] junplus commented on #11661
means the larger the better?

[2019-08-07 09:07] youjiali1995 commented on #11661
No. It means there are 4 or 5 hot leader regions in the TiKV.

[2019-08-07 09:08] youjiali1995 commented on #11661
Ideally, it should be 0 or uniformly distributed.

[2019-08-07 09:13] junplus commented on #11661
thx, i've got the point.

[2019-08-07 09:13] #11661 closed

[2019-08-07 09:21] Sraw commented on #11651
Here is my workload:
[code]
It's really simple.

For some reason, I cannot directly provide my log file but here is related log:
[code]

I don't think it is useful as it provides the same information.

[2019-08-07 09:23] bb7133 commented on #11651
Thanks @Sraw ! I will try to reproduce the errors.

[2019-08-07 10:08] #11149 closed

[2019-08-07 10:11] bb7133 commented on #11651
Hi @Sraw , we found that this error is caused by a bug of `go-ycsb`, it will be fixed soon. Thank you!

[2019-08-07 10:14] Sraw commented on #11651
You are welcome. Hope it can be fixed as soon as possible :)

[2019-08-07 11:54] wonderful1984 opened #11666 "tikv down"
逐台tikv重启，重启后，有一台在pd里一直显示down

<pre>
+----------+-------------+------------------+----------+-----------+--------------+---------------+--------------+-------------+--------------+---------------+---------------------+
| STORE_ID | STORE_STATE | STORE_STATE_NAME | CAPACITY | AVAILABLE | LEADER_COUNT | LEADER_WEIGHT | LEADER_SCORE | LEADER_SIZE | REGION_COUNT | REGION_WEIGHT | LAST_HEARTBEAT_TS   |

[2019-08-07 12:31] youjiali1995 commented on #11666
How did you stop and restart TiKV one by one? Did you use the `ansible-playbook rolling_update.yml`?

[2019-08-07 12:35] youjiali1995 commented on #11666
It seems that the TiKV with store id 4 can't connect to the Pd.

[2019-08-07 12:53] wonderful1984 commented on #11666
我设置了"max-store-down-time": "24h0m0s",

变为up了，其实是一直在工作的
<pre>
+----------+-------------+------------------+----------+-----------+--------------+---------------+--------------+-------------+--------------+---------------+---------------------+
| STORE_ID | STORE_STATE | STORE_STATE_NAME | CAPACITY | AVAILABLE | LEADER_COUNT | LEADER_WEIGHT | LEADER_SCORE | LEADER_SIZE | REGION_COUNT | REGION_WEIGHT

[2019-08-07 13:07] youjiali1995 commented on #11666
Is the node still logging?

[2019-08-07 13:11] wonderful1984 commented on #11666
是的，日志不断的刷新中
<pre>
[2019/08/07 21:11:02.789 +08:00] [INFO] [raft.rs:1123] ["[region 1442751] 1442754 [logterm: 9, index: 9, vote: 0] cast MsgRequestVote for 1442753 [logterm: 9, index: 9] at term 10"]
[2019/08/07 21:11:02.825 +08:00] [INFO] [raft.rs:873] ["[region 1257630] 1257634 received MsgRequestVoteResponse from 1257635 at term 12"]
[2019/08/07 21:11:02.825 +08:00] [INFO] [raft.rs:1604] ["[reg

[2019-08-07 13:33] youjiali1995 commented on #11666
Which version do you use? Can you grep 'Welcome' to see whether it restarts frequently? Or you can give me its log(It's too large).

[2019-08-07 13:40] #11468 closed

[2019-08-08 01:11] wonderful1984 commented on #11666
TiKV
Release Version:   4.0.0-alpha
Git Commit Hash:   e6324993f94df73f40decd7182628b7e7a741ce7
Git Commit Branch: master
UTC Build Time:    2019-07-19 01:38:48
Rust Version:      rustc 1.37.0-nightly (0e4a56b4b 2019-06-13)

[2019-08-08 01:20] siddontang commented on #11666
can you provide us your tikv.log? or you can just run `grep -B 30 tikv.log` to check whether TiKV panics or not?

[2019-08-08 01:23] wonderful1984 commented on #11666
日志太大了，丢弃了。。。
经过一个晚上，达到平衡了，不过日志还是刷得挺多的

<pre>
+----------+-------------+------------------+----------+-----------+--------------+---------------+--------------+-------------+--------------+---------------+---------------------+
| STORE_ID | STORE_STATE | STORE_STATE_NAME | CAPACITY | AVAILABLE | LEADER_COUNT | LEADER_WEIGHT | LEADER_SCORE | LEADER_SIZE | REGION_COUNT | REGION_WEIGHT | LAST_HEARTBEA

[2019-08-08 01:24] siddontang commented on #11666
so all are "up" now?

[2019-08-08 01:37] wonderful1984 commented on #11666
yes,all up now。

my action item：
1、check store_id=6 is working...
2、"max-store-down-time": "24h0m0s"
3、waiting for rebalance

[2019-08-08 01:50] Sraw commented on #11651
Is this fixed? I update the go-ycsb today and encounter the same issue.
[code]

[2019-08-08 03:00] junplus opened #11669 "SHARD_ROW_ID_BITS seems no effect"
![image](https://user-images.githubusercontent.com/28999107/62671794-c4ee6180-b9ca-11e9-8681-3b124e23d591.png)

it seems that most of keys are currently written to one tikv instance.
i set 'SHARD_ROW_ID_BITS' to 4 at 10:10, but it doesn't work well.

[2019-08-08 03:05] youjiali1995 commented on #11666
It seems caused by balance-leader. You can see store-4 had 9984 leaders at  2019-08-07 16:30:48, and increased to 89000 at 2019-08-07 20:48:07. And at 2019-08-08 09:17:43 the leader distribution in the cluster is uniform.

BTW, there are too many regions in each TiKV.

[2019-08-08 03:16] wonderful1984 commented on #11666
现在才导入了20TB数据，还有40TB数据尚未导入，如果regions太多有无优化建议？

[2019-08-08 03:18] wonderful1984 commented on #11666
region-max-size = "384MB"
region-split-size = "256MB"

[2019-08-08 03:43] leoppro commented on #11486
The priority of DDL stmts is higher than DML. Therefore we will focus on DDL first.

[2019-08-08 03:57] Sraw commented on #11651
As far as I think, this is not just a simple `first_field` problem. It can be reproduced but not every time. And sometimes there are a lot of errors while sometimes just a few. It looks like a random process.

[2019-08-08 04:10] youjiali1995 commented on #11666
The storage capacity is 33TiB. It's too large. Our recommended capacity is 2TiB. How about your CPU?

[2019-08-08 04:20] wonderful1984 commented on #11666
CPU：Silver 4114 CPU @ 2.20GHz  (40 cores)
MEM：64G
DISK：12 * 6TB SATA Raid 10

使用场景：存放归档了的历史数据

[2019-08-08 04:54] H-ZeX opened #11674 "col type float(64) represent by `mysql.TypeFloat` but not `mysql.TypeDouble` in TiDB"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

**the `insert into tb5 (select * from tb5 where a = b);` insert nothing.**

according to [mysql doc](https://dev.mysql.com/doc/refman/5.7/en/floating-point-types.html)

the `13835058000000000000` can be representable by `double` exactly,
[code]

4. What version of TiDB are you using (`ti

[2019-08-08 05:30] bb7133 commented on #11651
@Sraw No, this issue is nothing to do with `firstField`, but https://github.com/pingcap/go-ycsb/pull/123

Please use the latest `go-ycsb` and retry again, thank you!

[2019-08-08 05:35] youjiali1995 commented on #11666
So data won't be accessed frequently? I think you can try [Hibernate Region](https://github.com/tikv/tikv/blob/master/docs/reference/configuration/raftstore-config.md#hibernate-region) which can reduce the pressure of the raft store.

[2019-08-08 05:49] Sraw commented on #11651
@bb7133 Thanks for your efforts! It now works great.

[2019-08-08 05:49] #11651 closed

[2019-08-08 06:15] SunRunAway commented on #11626
Hi, sorry for the inconvenience, you may call `set @@global. tidb_enable_window_function = 1;` and reconnect all the sessions to use window functions when upgrading from 2.1.X

[2019-08-08 06:59] wonderful1984 commented on #11666
thanks.

[2019-08-08 06:59] #11666 closed

[2019-08-08 07:23] bb7133 commented on #11651
Glad to hear that @Sraw

[2019-08-08 09:12] SunRunAway commented on #11626
Hi, @chrissata I've reproduced this problem and I'm investigating.

[2019-08-08 09:17] zimulala commented on #11648
@wjhuang2016  Thanks for your feedback!
We may not support it in the short term.

[2019-08-08 09:26] zimulala commented on #11656
@xbddc Thanks for your feedback!
Did you execute "SHOW CREATE TABLE test" after the two "alter table"s were executed successfully?

[2019-08-08 09:40] zimulala commented on #11669
@junplus Thanks for your feedback!
I don't know how you can confirm that this has no effect. "SHARD_ROW_ID_BITS" just modify a table. Could you confirm the TiKV region where this table is located? Or only write to this table at the time.

[2019-08-08 10:02] junplus commented on #11669
we have 3 tables  and we run 'SHARD_ROW_ID_BITS=4' on each table.

[2019-08-08 10:44] xbddc commented on #11656
Yes, the instance I connected to shows correct table schema (as `tidb2` in section 3 above)

[2019-08-08 11:18] zimulala commented on #11669
@junplus
Could you show me the result of "show create table" and "select tidb_version()"?
What about the written statement? Will there be a lot of rows inserted in a transaction?

[2019-08-08 11:51] zimulala commented on #11656
@xbddc
How long has this been maintained? Could this scene be reproduced? If it can be reproduced, please describe the steps to me.

[2019-08-08 12:37] xbddc commented on #11656
1. Append another TiDB service in `docker-compse.yml` and launch it

[code]

2. Create test table

[code]

3. Query two TiDBs respectively

[code]

[code]

One of them will return `ERROR 1146 (42S02) at line 1: Table 'test.test' doesn't exist` but we just created at step 2.

[2019-08-08 13:56] junplus commented on #11669
1.schema
CREATE TABLE `t` (
  `c0` varchar(10) NOT NULL DEFAULT '0' ,
  `c1` smallint UNSIGNED NOT NULL DEFAULT '0',
  `c2` mediumint NOT NULL DEFAULT ‘0',
  `c3` json NOT NULL ,
  `c4` bigint UNSIGNED NOT NULL DEFAULT '0',
  `c5` bigint UNSIGNED NOT NULL DEFAULT '0',
  `c6` bigint UNSIGNED NOT NULL,
  PRIMARY KEY (`c0`,`c1`,`c2`,`c6`),
  KEY `k1` (`c0`,`c4`),
  KEY `k2` (`c6`)
) ENGINE=InnoDB DEF

[2019-08-08 14:16] zz-jason commented on #11614
a minimal reproduce step:
[code]

[2019-08-08 14:17] zz-jason commented on #11614
notice that, if we only insert 34 rows into table `t`, we can got an incorrect result which only contains 32 rows rather than panic:
[code]

[2019-08-08 17:19] kolbe opened #11691 "trace format='json' puts illegal linebreaks into json output"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

`trace format='json' select * from information_schema.columns union select * from information_schema.columns`

2. What did you expect to see?

This should output a valid JSON document.

3. What did you see instead?

The output is a JSON d

[2019-08-08 18:41] shenli commented on #11691
@tiancaiamao PTAL

[2019-08-09 01:27] chrissata commented on #11626
Hi,
I checked the value of tidb_enable_window_function  and it's already 1. And the behavior was the same even after I relogin using the mysql cmdline. I already destroyed this tidb cluster and redeployed the v3.0.1. It works well now. So I believed that all these issues are all caused by upgrading.
But since you've already reproduced this problem and maybe there's some bug there.
Thanks for your

[2019-08-09 02:52] yanbinghui commented on #5886
Hi, @shenli , the url is 404. I also encounter this issue, I deploy the pd, tidb and tikv in one single machine. and about 5 hour later, the tikv is crash, but the tidb and pd is ok

[2019-08-09 03:37] zhouqiang-cl commented on #5886
@yanbinghui  The url is back now

[2019-08-09 05:58] tiancaiamao opened #11693 "A data race is found in the CI"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Found here https://github.com/pingcap/tidb/pull/11675

[code]

2. What did you expect to see?

CI should pass

3. What did you see instead?

 DATA RACE

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version()

[2019-08-09 06:02] SunRunAway commented on #11693
[log.txt](https://github.com/pingcap/tidb/files/3484967/log.txt)

[2019-08-09 06:08] junplus commented on #11669
i've got that 'SHARD_ROW_ID_BITS' is not well supported by partition table in v2.x

[2019-08-09 06:08] #11669 closed

[2019-08-09 06:11] #11634 closed

[2019-08-09 06:32] cyliu0 opened #11695 "last_day() does not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
select last_day('2243-01 00:00:00');
There is a closed [issue#9731](https://github.com/pingcap/tidb/issues/9731). But the fix does not cover this one.

2. What did you expect to see?
On MySQL:
mysql> select last_day('2243-01 00:00:00');
+-

[2019-08-09 06:43] jacknate opened #11696 "getGeneratedKeys from batch insert return wrong ids"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
invoke code as follow in muti thread to batch insert and record generated keys which is auto increment
[code]
**I found out that the keys return in program are different from keys in database(tidb).**
What if i use mysql, it works fine.

If possible, provide a recipe for reproducing the error.

[2019-08-09 09:13] #11506 closed

[2019-08-09 09:54] zimulala commented on #11656
@xbddc

Could you reproduce it? If you can, please show the result of "admin show ddl jobs"

[2019-08-09 10:20] XSHui opened #11701 "[Question] About IPv6 support"
## General Question

Q1 :
Tikv doesn't support ipv6 .
Whether Pd support ipv6 ? How about tidb、pump & drainer ？

Q2 :
Whether tools such as pd-ctl, binglogctl, kv-ctl support ipv6?
eg：
`./pd-ctl -u http://[ipv6]:port`

I'm so sorry, we have no env to do the test currently.

[2019-08-09 11:16] bb7133 commented on #11696
hi @jacknate Thanks for reporting!

As you mentioned, this issue is related to JDBC implementation and the semantic of auto-incremental ID in TiDB, I will make an investigation these days.

[2019-08-09 16:16] bb7133 commented on #11696
hi @jacknate , I found the issue you reported is actually about the "consecutive" lock mode(default mode) in InnoDB(https://dev.mysql.com/doc/refman/8.0/en/innodb-auto-increment-handling.html):

Since TiDB aims to behaves with InnoDB by default, we will try fix this issue.

Again, thanks for reporting this, especially all the details that helps for reproducing it.

[2019-08-09 19:33] camerondavison commented on #11271
@disksing `a tikv cluster cannot be used to store both TiDB data and rawkv data ` should be documented somewhere.

[2019-08-09 20:09] shenli opened #11703 "Support `AS OF SYSTEM TIME` syntax"
## Feature Request

**Is your feature request related to a problem? Please describe:**
[Reading historical data](https://pingcap.com/docs/v3.0/how-to/get-started/read-historical-data/#read-historical-data) requires setting a system variable. This has two problems:
1. It is not convenient to use a separate SET statement to set the snapshot version.
2. Session context is weird in go - since the SQL

[2019-08-10 04:14] TennyZhuang commented on #11695
I'd like to fix it.

[2019-08-10 08:22] #11008 closed

[2019-08-11 03:07] spongedu commented on #11486
Description in the doc: [The doc](https://pingcap.com/blog-cn/30mins-become-contributor-of-tidb-20190808/) is a little inaccurate.  some issues, such as #445, is not a `MySQL 8.0` compatible issue. MySQL 5.7 support this as well.

[2019-08-12 02:26] cyliu0 commented on #11695
The fix may introduce a new issue. Please add more unit tests for this.

[code]

[2019-08-12 02:38] TennyZhuang commented on #11695
Hmmm

compatible with bugs of mysql

[2019-08-12 02:58] jingyugao commented on #11130
/assign

[2019-08-12 03:21] xbddc commented on #11656
The second one (port 4001) return the error, and no any new message appeared in `logs/` and `docker-compose`'s output during this query, couldn't you reproduce at your box?

[2019-08-12 03:22] zimulala opened #11708 "Fields parsing with quotes or slash failed in `create global binding`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
[code]

2. What did you expect to see?
The statement executed successfully.

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
tag: v3.0.2