[2021-08-17 17:26] winoros commented on #24526
It's already solved. I'll update the specific commit soon.

[2021-08-17 17:26] #24526 closed

[2021-08-17 17:45] donbowman commented on #14766
mautic requires:
[code]
as a statement to install, which also gives:
`ERROR 8200 (HY000): Unsupported multi schema change`

[2021-08-17 17:48] #25927 closed

[2021-08-18 02:12] jiaxiang521 commented on #26022
Hi @tisonkun, I'd like to migrate tests under `tablecodec` pkg. Please create a subtask and assign to me.

[2021-08-18 02:34] #23965 closed

[2021-08-18 02:42] tisonkun commented on #26867
@jiaxiang521  please comment under this issue so that I can assign to you.

[2021-08-18 02:42] tisonkun commented on #26022
@jiaxiang521 you can comment `/assign` under #26867

[2021-08-18 02:44] jiaxiang521 commented on #26867
/assign

[2021-08-18 02:48] #27179 closed

[2021-08-18 02:52] xuyifangreeneyes commented on #27313
/assign

[2021-08-18 03:11] fubinzh commented on #27187
TiDB OOM issue during analyze table also reproduced when  tidb_analyze_version=1
Log： http://minio.pingcap.net:9000/minio/nfs/logs/tidb_oom/ -> tidboom-tidb_analyze_version1_tidb.log

[2021-08-18 03:22] tisonkun commented on #26867
@jiaxiang521 glad to see you take it over. Go ahead!

[2021-08-18 03:28] #24954 closed

[2021-08-18 03:44] #27272 closed

[2021-08-18 03:48] sticnarf commented on #27297
@winoros Thanks. I failed to find the duplicated issue because that one does not include the `subMergeWorker` keywords.

[2021-08-18 03:48] #27297 closed

[2021-08-18 03:51] jiaxiang521 commented on #26867
/assign

[2021-08-18 04:03] seiya-annie commented on #27290
reproduce on 5.2.0.
5.1.1 seems don't have this bug.

[2021-08-18 04:05] #27314 closed

[2021-08-18 04:07] zhankenson opened #27324 "How to generate docker-compose. yaml from helm"
## General Question

![image](https://user-images.githubusercontent.com/8385159/129835319-071d2bf2-3c18-4262-b9d0-ce3002d023e0.png)
https://docs.pingcap.com/zh/tidb/v3.0/deploy-test-cluster-using-docker-compose

[2021-08-18 04:14] #25937 closed

[2021-08-18 04:40] #27041 closed

[2021-08-18 04:51] aytrack commented on #27290
5.1.1 not report this error but not really grant this privilege.
[code]

[2021-08-18 06:16] zimulala opened #27327 "TestColumnTypeChangeFromDateTimeTypeToOthers and TestAddIndexFailOnCaseWhenCanExit take too long to finish"
## Bug Report

Link: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27052/pipeline/

[2021-08-18T04:21:55.133Z] The following test cases take too long to finish:

[2021-08-18T04:21:55.133Z] PASS: column_type_change_test.go:1002: testColumnTypeChangeSuite.TestColumnTypeChangeFromDateTimeTypeToOthers	10.516s
[2021-08-18T04:21:55.133Z] PASS: db_test.go:67

[2021-08-18 06:18] #25486 closed

[2021-08-18 06:22] llplmlyd commented on #10190
excuse me? the link @tiancaiamao provided can not be opened now. Can anybody update this issue?

[2021-08-18 06:33] purelind opened #27328 "testStatsSuite.TestAnalyzeGlobalStatsWithOpts & testStatsSuite.TestAnalyzeGlobalStatsWithOpts2 failed when make gotest"
## Bug Report

`make gotest`
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/138/pipeline/

[code]

[2021-08-18 06:55] sylzd commented on #25938
It can be closed by #27270.

details are as follows:
https://github.com/pingcap/tidb/pull/27270/files#diff-ff7af5dbd454cd98c804a32d8049cd73e476ad819042c63dbe690502f915afeeR8905

[code]
and

[code]

[2021-08-18 06:58] qw4990 commented on #24318
The minimal reproducible case:
[code]

[2021-08-18 07:19] mjonss commented on #27290
Looks similar to https://github.com/pingcap/tidb/issues/26703, maybe the same type of fix can be applied?

[2021-08-18 07:23] sylzd commented on #25943
/assign

[2021-08-18 07:33] qw4990 commented on #24318
The root cause is that in `expressionRewriter.toColumn` the sub-query cannot get the outer field-list(which is `[1 as a]` in this query).
This issue is not easy to fix, and consider its influence scope, we decide not to fix it now and degrade its severity to moderate.

[2021-08-18 07:37] lcwangchao commented on #25950
`temporal_literal.test` , `temptable_basic.test` are not tests for temporary table

[2021-08-18 07:44] #15655 closed

[2021-08-18 07:45] xiongjiwei opened #27331 "make `gbk_bin` support in infer collation"

[2021-08-18 08:13] qw4990 commented on #25690
This case didn't appear for a few months, and after investigating this issue is probably caused by some other test, so I decide to close it now.
If this issue appears again, please contact me.

[2021-08-18 08:13] #25690 closed

[2021-08-18 08:20] aytrack opened #27333 "`extract` got wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
v5.0.3, v4.0.14,
master: da8bb5e
release-5.2.0: 4c68def

[2021-08-18 08:21] aytrack commented on #27236
open new issue https://github.com/pingcap/tidb/issues/27333 to trace this.

[2021-08-18 08:22] zimulala opened #27334 "SetDDLErrorCountLimit doesn't work in tests"
## Bug Report

The following code does not work in `countForPanic`.
[code]

We need use `set @@global.tidb_ddl_error_count_limit = 1` instead of above code. In addition, there are quite a few places in the test where the above code is used, all of which need to be handled.

After the change, the test execution will be faster.

[2021-08-18 08:22] djshow832 commented on #26952
LGTM

[2021-08-18 08:30] LittleFall opened #27336 "Scalar function date_add(signature: ScalarFuncSig_AddDateStringInt) has different behaviour between TiDB and TiFlash."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

result is same.

### 3. What did you see instead (Required)

result is different.

### 4. What is your TiDB version? (Required)

v5.1.1

[2021-08-18 08:44] #27310 closed

[2021-08-18 09:09] Windforce17 commented on #24194
set `DisableNestedTransaction: true` when call `gorm.Open`,and gorm won't use savepoint.

[2021-08-18 09:43] lcwangchao opened #27340 "`SHOW CREATE VIEW` returns error if a local temporary table exists with a some name"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Mysql:

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-08-18 09:47] joccau commented on #27261
It figure out: the process received the signal and was canced
[2021/08/16 21:37:46.678 +08:00] [WARN] [main.go:30] ["received signal to exit"] [signal=interrupt]

It may be that user do `cancel`  command, or the session is timeout，or other reason.

[2021-08-18 10:08] #26923 closed

[2021-08-18 10:13] YuJuncen commented on #27247
The root cause of the problem is that we get the total size via a key named `"Size"` in the summary collector:

https://github.com/pingcap/tidb/blob/f7fdffc0b3a6ef0b83a97488c415479163371a29/executor/brie.go#L509-L510

...but we recorded the size with other keys, we can record the same data with key `"Size"` to solve the problem, at, for example, here:

https://github.com/pingcap/tidb/blob/550c7d04

[2021-08-18 10:17] yedamao opened #27342 "migrate test-infra to testify for `server/column_test.go`"
This is a subtask of #26863

[2021-08-18 10:20] yedamao opened #27343 "migrate test-infra to testify for `server/conn_test.go`"
This is a subtask of #26863

[2021-08-18 10:21] yedamao commented on #26863
Please add #27342 and #27343  as subtask of this issue.

[2021-08-18 10:35] dragonly commented on #26956
Congrats! You just fixed an error from the Genesis Commit!!!!!!

https://github.com/dragonly/tidb/commit/0d6f270068e8ff2aedc1c314e907771b6a508ebd#diff-3d4a6b7d54b5107bc5694b7a06383f9ec4c68f9abe43ba0942f5d970f3a8ccacR10-R11

[2021-08-18 10:41] fgksgf commented on #26956
@tisonkun We may need create an issue to track the ignored files in `.github/.licenserc.yaml`.

[2021-08-18 10:46] LittleFall commented on #27336
scalar function date_add is default in blacklist.

[2021-08-18 10:47] LittleFall commented on #27336
date_sub has the seem issue.

[2021-08-18 10:50] aytrack commented on #27296
from_base64、repeat、substring、mid、right、left、substr has the same problem

[2021-08-18 11:04] lcwangchao commented on #27340
`SHOW CREATE SEQUENCE` has the same problem

[2021-08-18 11:07] vivid392845427 opened #27346 "set @@tidb_enable_index_merge=1,@@tidb_partition_prune_mode='dynamic'; select use index merge return duplicate result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`two select return the same result`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-18 11:17] vivid392845427 commented on #27138
i can reproduce it  after i execute set @@tidb_partition_prune_mode=dynamic;

[2021-08-18 11:22] #25459 closed

[2021-08-18 11:22] #25692 closed

[2021-08-18 11:22] #25455 closed

[2021-08-18 11:33] yuqi1129 commented on #26358
@XuHuaiyu , Yes, it's `NEWDECIMAL `, thank you for point out it.

[2021-08-18 11:33] aytrack opened #27348 "reorg worker panic while add expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
create index success.
### 3. What did you see instead (Required)
tidb panic.
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-18 11:34] yuqi1129 commented on #26358
Correct:  MySQL is `var_string` and TiDB is `NEWDECIMAL `

[2021-08-18 11:46] qw4990 commented on #27346
`dynamic-mode` is not GA, so I degrade its severity to `moderate` and I'll fix it the next Sprint.

[2021-08-18 11:49] lichunzhu opened #27349 "executor: tablesample return unodered result with "order by" suffix for partitioned tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

dump the following data to TiDB v5.+
[code]
run the following sql:
[code]

### 2. What did you expect to see? (Required)
The result is in order:
[code]

### 3. What did you see instead (Required)
The result is disordered.

### 4. What is your TiDB version? (Required)
v5.0.0

[2021-08-18 11:50] tisonkun commented on #27156
@you06 could you cross reference to the PD issue number?

[2021-08-18 11:54] aytrack opened #27350 "resutl incorrect while using lower() expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-18 11:57] tisonkun commented on #26956
Yes. Would you like to create one for them?

[2021-08-18 11:58] tisonkun commented on #26863
done

[2021-08-18 11:58] MyonKeminta commented on #27058
This is an expected behavior on our current implementation.

* `information_schema.tidb_trx` internally uses `statements_summary` and `statements_summary_history` tables to retrieve the `current_sql_digest_text` information, so it only access only the current TIDB node to retrieve `current_sql_digest_text` information. `cluster_statements_summary` and `cluster_statements_summary_history` is not us

[2021-08-18 12:24] tisonkun commented on #27156
OK I can see the corresponding PR is https://github.com/tikv/pd/pull/3999

[2021-08-18 12:24] tisonkun commented on #27156
@you06 can we close this issue since https://github.com/pingcap/tidb/pull/27337 merged?

[2021-08-18 12:26] you06 commented on #27156
@tisonkun not yet, this issue actually reports a bug of the new feature, as I mentioned here, the second problem still needs to be fixed.

[2021-08-18 12:32] you06 opened #27351 "determine if in test mode another way instead of flag lookup"
# Enhancement

## Background

In new features development, we used to add some system variables to manage if they are enabled. During the development phase, the default value of the switch variables is always `off`. But for easier development, we want the new-developed features to be enabled, so that we can simply test it. There we use the [go flag](https://golang.google.cn/pkg/flag/) to determine

[2021-08-18 12:36] you06 commented on #27156
tikv/pd#3999 temporarily solves the issue of the default value, I filed up an issue for tracing a complete solution in #27351. If you're interested in this problem, check it out.

[2021-08-18 13:13] crazycs520 opened #27353 "goroutine/memory leak when streaming query been cancelled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. prepare data

[code]

2. the TiDB config is :

[code]
[code]

### 2. What did you expect to see? (Required)

No goroutine/memory leak.

### 3. What did you see instead (Required)

goroutine/memory leak.

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-18 13:33] wjhuang2016 commented on #27348
Duplicate with https://github.com/pingcap/tidb/issues/23506

[2021-08-18 13:39] wjhuang2016 commented on #27348
Duplicate with https://github.com/pingcap/tidb/issues/27350

[2021-08-18 13:44] LittleFall commented on #27336
/assign @mengxin9014

[2021-08-18 14:17] jingshanglu opened #27355 "IT `show` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6259/pipeline

start pr: #27339

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What i

[2021-08-18 15:01] tisonkun commented on #26956
I'm creating the issue...

[2021-08-18 15:04] tisonkun opened #27356 "Tracking issue for handling illegal license header"
This is a follow up to #26956

Files below with an illegal license header, should be evaluated carefully.

* [x] 'cmd/explaintest/config.toml'
* [x] 'cmd/importer/config.toml'
* [x] 'cmd/portgenerator/portgenerator.go'
* [x] 'ddl/ddl.go'
* [x] 'ddl/ddl_api.go'
* [x] 'ddl/mock.go'
* [x] 'ddl/options.go'
* [x] 'executor/aggfuncs/func_stddevpop_test.go'
* [x] 'executor/aggfuncs/func_stddevsamp_test.g

[2021-08-18 15:05] tisonkun commented on #26956
as #27356

[2021-08-18 15:21] bb7133 commented on #27350
Close it since #27352 is merged.

[2021-08-18 15:21] #27350 closed

[2021-08-18 15:21] bb7133 commented on #27348
Close it since it is duplicated.

[2021-08-18 15:21] #27348 closed

[2021-08-18 15:33] bb7133 commented on #27349
I don't think this is 'critical' since `TABLESAMPLE` is not exported to the end-user, change it to 'major'.

[2021-08-18 19:05] winoros opened #27357 "Introduce new sampling algorithm for statistics collecting"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The reservoir sampling collects too many wasted samples.
We're using the [this one](https://en.wikipedia.org/wiki/Reservoir_sampling#Algorithm_A-Res)
We need to make sure that each sub-collector collects the same number of samples as the root one when we are in the distributed case.

So when we are collecting 1

[2021-08-18 19:10] winoros opened #27358 "Improve the wide table's statistics collecting"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Two data found during test.
When we analyze a table with 60 million rows and about 10 columns(with indexes), it costs 59s.
When we analyze a table with 10 million rows and about 369 columns(with indexes), it costs 3min.

It shows that when the number of columns increases, the analyze time is heavily increased.

[2021-08-19 02:10] lcwangchao commented on #25938
@sylzd I think we should forbid history read on local temporary table. This behavior is different from global temporary tables which need to be compatible with some tools like dumpling.

[2021-08-19 02:29] sylzd commented on #25938
Got it~ local temporary tables do not need adapt to dumpling.

[2021-08-19 02:33] aytrack opened #27361 "query and insert data error whlie `concat_ws` as expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-19 03:11] fengou1 commented on #27247
Test on v5.0.2, it works as expected
![image](https://user-images.githubusercontent.com/85682690/130001570-ab284925-d8e5-4ef0-a59b-f5559d0f698b.png)

[2021-08-19 03:20] fengou1 commented on #27247
BACKUP in v5.1.1:
<img width="1184" alt="image" src="https://user-images.githubusercontent.com/85682690/130002117-0a219b9e-d0f9-4fe4-9f7c-56e2a229feb7.png">

RESTORE in v5.1.1:
<img width="1085" alt="image" src="https://user-images.githubusercontent.com/85682690/130002407-89d1561e-94db-4701-b13e-f4ab10af8c62.png">

[2021-08-19 03:21] aytrack commented on #27361
replace has the same problem
[code]

[2021-08-19 03:42] lichunzhu commented on #27349
Dumpling heavily relies on `TABLESAMPLE`. If this is not fixed, dumpling will dump partitioned tables incorrectly.

[2021-08-19 04:12] #27242 closed

[2021-08-19 04:18] sylzd commented on #25938
done with #27363

[2021-08-19 04:42] unconsolable commented on #26854
When migrating the tests in `executor`, please check the unexpected goroutine leak issues manually. See also https://github.com/pingcap/tidb/pull/27103#issuecomment-901548669

[2021-08-19 04:58] aytrack opened #27364 "substring length shorter than max key lenght create index failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-19 05:14] cgaofeng opened #27365 "field max-days not found in type spec.TiDBSpec"
tidb_servers:
- host: 192.168.24.101
  ssh_port: 22
  port: 4000
  status_port: 10080
  deploy_dir: /data1/tidb-deploy/tidb-4000
  log_dir: /data1/tidb-deploy/tidb-4000/log
  max-days:  1
  max-backups: 1
  arch: amd64
  os: linux

[2021-08-19 05:28] #27236 closed

[2021-08-19 06:09] tangenta commented on #27349
I will fix this ASAP.

[2021-08-19 07:29] mengxin9014 commented on #27336
/assign @mengxin9014

[2021-08-19 08:02] #27353 closed

[2021-08-19 08:09] tangenta commented on #27349
The problem is the incorrect assumption about the relationship between the ranges and the handles:

**The smaller handles always occur in the ranges with a smaller `start_key`.** If we sort the ranges by `start_key`, the result must be sorted by handles(`_tidb_rowid`).

https://github.com/pingcap/tidb/blob/7755d25aba5120dafde98fff11ab3b98ca4d192f/executor/sample.go#L134-L144

However, this is not

[2021-08-19 08:28] xuyifangreeneyes commented on #27189
/assign

[2021-08-19 08:30] ChenPeng2013 opened #27384 "ERROR 8214 (HY000): Cancelled DDL job"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
release-5.0 & release-5.1 & release-5.2 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-19 08:43] cyliu0 commented on #27349
Since this will block partition table users using dumpling, I'll change the severity to critical

[2021-08-19 09:00] #27157 closed

[2021-08-19 09:13] aytrack opened #27386 "tidb panic while use expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
execute successfully.
### 3. What did you see instead (Required)
tidb panic
[code]
tidb.log
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-08-19 09:28] fubinzh opened #27387 "lightning endless loop and huge logs when there is UK duplicated items in tables with list partition."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
- Use lightning to import tables with list partition, and there are duplicate items.
  ./tidb-lightning -config /minio/tools_test_data/list_partition_sample/lightning.toml

### 2. What did you expect to see? (Required)
- When there is duplicated items, lightning should fail

[2021-08-19 10:10] fubinzh commented on #27387
Also reproducible with 5.2.0
[root@copy-of-vm-ee-centos76-v1 v5.2.0]# ./tidb-lightning  -V
Release Version: v5.2.0
Git Commit Hash: d4d667fba5e82f108c62cd690fcf73c685d7612f
Git Branch: heads/refs/tags/v5.2.0
Go Version: go1.16.4
UTC Build Time: 2021-08-18 12:33:41
Race Enabled: false

[2021-08-19 10:58] #27320 closed

[2021-08-19 11:11] fubinzh opened #27391 "lightning analyze table parameter change to avoid tidb OOM"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

When tidb global.tidb_analyze_version=2 and lightning import 70GB table in TiDB, TiDB might OOM during analyze phase of lightning import.
./tidb-lightning -config /minio/fubin/dbgen/v2data/lightning.toml

### 2. What did you expect to see? (Required)
lightning import succee

[2021-08-19 11:15] Howie59 commented on #27069
/assign

[2021-08-19 11:34] #27387 closed

[2021-08-19 11:56] #26856 closed

[2021-08-19 13:31] MyonKeminta opened #27400 "information_schema.deadlocks incorrectly collects retryable deadlocks as if it's non-retryble"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Construct a scenario where retryable (single-statement) deadlocks occurs.
2. Check `information_schema.deadlocks` for the information of the retryable deadlock.

### 2. What did you expect to see? (Required)

When the config `pessimistic-txn.deadlock-history-collect-retr

[2021-08-19 13:48] wjhuang2016 commented on #27386
[code]
So it's not related to expression index.

[2021-08-19 14:01] w169q169 commented on #26981
/assign

[2021-08-19 15:46] tisonkun opened #27404 "migrate goroutine leak tests to goleak for `executor`"

[2021-08-19 16:01] Howie59 commented on #27092
/assign

[2021-08-19 23:18] xuyifangreeneyes commented on #25727
/assign

[2021-08-20 01:24] tisonkun commented on #26854
@unconsolable I hope we can enable goleak by https://github.com/pingcap/tidb/pull/27405.

[2021-08-20 01:32] aytrack commented on #27386
similar to  #23506

[2021-08-20 01:51] yahonda commented on #19344
I've got a similar error yesterday and this issue has been resolved after deploying tidb-operator.

[code]

[2021-08-20 02:12] jingshanglu opened #27406 "IT `json` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6279/pipeline
pr: #27382

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your T

[2021-08-20 02:38] #25940 closed

[2021-08-20 02:50] jingshanglu commented on #27406
@wjhuang2016

[2021-08-20 03:06] #27327 closed

[2021-08-20 03:07] baichuanyang opened #27408 "Upgrade GRPC version in go.mod"
## Feature Request

i checked the go.mod file and found that the `google.golang.org/grpc ` is `v1.29.1`. however, my project uses `v1.40.0` version. may i know are there any plans to upgrade that dependency's version? thanks

[2021-08-20 03:15] zhouqiang-cl commented on #27406
another fail
[code]
in
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/6121/pipeline

pr is https://github.com/pingcap/tidb/pull/27339

[2021-08-20 03:16] #27268 closed

[2021-08-20 03:24] #27342 closed

[2021-08-20 03:25] zhouqiang-cl commented on #27406
this fixed

[2021-08-20 03:26] xuyifangreeneyes commented on #25727
@lysu I cannot reproduce the error. Could you please check whether the bug still exists, thx~

[2021-08-20 03:34] aytrack commented on #27333
MySQL  verified it's a bug in its output, https://bugs.mysql.com/bug.php?id=104653

[2021-08-20 03:40] zhouqiang-cl commented on #24679
happend again in https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/9089/pipeline/131

[2021-08-20 03:44] #25938 closed

[2021-08-20 03:47] zhouqiang-cl opened #27410 "`bindinfo` hang for 9 minutes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci
https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/9089/nodes/129/steps/437/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Req

[2021-08-20 03:48] zhouqiang-cl commented on #27410
also in https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/27647/nodes/53/steps/64/log/?start=0

[2021-08-20 03:54] #27349 closed

[2021-08-20 03:58] xuyifangreeneyes commented on #25646
#25647 has fixed the bug and is going to check pick to 5.0/5.1/5.2.

[2021-08-20 04:02] zhouqiang-cl commented on #26539
in https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/8982/nodes/117/steps/537/log/?start=0

[2021-08-20 04:08] xuyifangreeneyes commented on #23499
/assign

[2021-08-20 04:58] kolbe opened #27415 "br slow to fail when PD requires TLS but no tls options given"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. deploy a cluster using tiup with `enable_tls: true`
2. execute br without giving TLS options (`--ca`, `--cert`, `--key`)

### 2. What did you expect to see? (Required)

br should *fail fast* and *communicate to the user* that TLS is required for the connection.

### 3. W

[2021-08-20 04:59] 3pointer commented on #27415
/component br

[2021-08-20 04:59] 3pointer commented on #27415
/sig migrate

[2021-08-20 05:01] 3pointer commented on #27415
/assign @joccau

[2021-08-20 05:12] #26977 closed

[2021-08-20 05:27] tisonkun commented on #25986
@zhouqiang-cl is it duplicated with https://github.com/pingcap/tidb/issues/24679? At least for the Opts2 part.

[2021-08-20 05:35] tisonkun opened #27420 "`bindinfo` hang"
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27717/pipeline/

[2021-08-20T05:23:24.482Z] SELECT variable_name, variable_value FROM mysql.global_variables;
[2021-08-20T05:23:24.482Z] coverage: 84.6% of statements
[2021-08-20T05:23:24.482Z] panic: test timed out after 9m0s
[2021-08-20T05:23:24.482Z]
[2021-08-20T05:23:24.482Z] goroutine 8916 [running]:

[2021-08-20 05:38] tisonkun commented on #27420
duplicated with #27410

[2021-08-20 05:38] #27420 closed

[2021-08-20 05:39] tisonkun commented on #27410
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27717/pipeline/

[2021-08-20T05:23:24.482Z] SELECT variable_name, variable_value FROM mysql.global_variables;
[2021-08-20T05:23:24.482Z] coverage: 84.6% of statements
[2021-08-20T05:23:24.482Z] panic: test timed out after 9m0s
[2021-08-20T05:23:24.482Z]
[2021-08-20T05:23:24.482Z] goroutine 8916 [running]:

[2021-08-20 05:41] YuJuncen opened #27421 "BR download / import give up retry when meeting retryable gRPC errors"
## Bug Report

### 1. Minimal reproduce step (Required)
Inject a fail point at here, by `status.Error`
https://github.com/pingcap/tidb/blob/086a63f4713416ae5976eecc5a4d7c40f6121079/br/pkg/restore/import.go#L315-L319

for example:
[code]

Then execute restore with `GO_FAILPOINTS=github.com/pingcap/tidb/br/pkg/restore/restore-gRPC-error=1*return(true)`.

### 2. What did you expect to see? (Required)

[2021-08-20 05:41] YuJuncen commented on #27421
/component br
/sig migrate

[2021-08-20 05:48] #27404 closed

[2021-08-20 05:52] lcwangchao opened #27422 "Complete temporary table check for Insert/Update/Delete statements"

[2021-08-20 06:02] unconsolable commented on #25691
Maybe another occurrence

https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/9696/nodes/108/log/?start=0

[code]

[2021-08-20 06:09] unconsolable commented on #27410
Maybe another occurence

https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/27738/nodes/62/log/?start=0

[code]

[2021-08-20 06:11] tisonkun commented on #8208
closed as no response. @dbaspace feel free to open a new issue following the issue template if the question is still there.

[2021-08-20 06:11] #8208 closed

[2021-08-20 06:15] joccau commented on #27415
It get pd failed with pd address for retry 100 times( one second per retry).

[2021-08-20 06:18] lysu commented on #25727
yes it seems be same as #27245 already fixed by @wjhuang2016  in master and 5.1, but 5.1 ...

[2021-08-20 06:18] #25727 closed

[2021-08-20 06:24] rleungx commented on #27410
Another one: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27652/pipeline

[2021-08-20 06:30] djshow832 opened #27424 "Require PROCESS privilege for statements_summary"
## Enhancement

Now a user needs `SUPER` privilege to read all the statements from the `statements_summary` table. Otherwise, he can only see the statements executed by himself.

It's not reasonable to require `SUPER` privilege because it's deprecated in 5.7. It's more reasonable to require `PROCESS`.

[2021-08-20 06:46] wjhuang2016 commented on #27364
It's the expected behavior now, refer to the document https://github.com/pingcap/docs-cn/pull/6899.

[2021-08-20 07:04] zimulala commented on #27410
It seem that `TestIssue25505` is hang.

[code]

[2021-08-20 07:17] ChenPeng2013 opened #27425 "restore database blocked"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1 tidb, 1 pd, 1 tikv
[code]

### 2. What did you expect to see? (Required)
restore success

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-20 07:20] ChenPeng2013 opened #27426 "ERROR 8125 (HY000): Restore failed: last region's endKey < startKey"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

3 tidb, 3 pd, 3 tikv

[code]

### 2. What did you expect to see? (Required)
restore success

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-20 07:24] YuJuncen commented on #27426
This error can happen if there is a hole in the key space during scanning regions.
This hole usually exists after splitting, a simple retry can handle this.

[2021-08-20 07:28] #27400 closed

[2021-08-20 07:32] fzhedu opened #27429 "group_concat() does not consider collatioin resulting errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-08-20 07:33] fzhedu commented on #27429
what about other agg functions, like count(distinct x)?

[2021-08-20 08:23] ChenPeng2013 commented on #26779
duplicated of https://github.com/pingcap/tidb/issues/23802

[2021-08-20 08:23] #26779 closed

[2021-08-20 08:27] tisonkun opened #27432 "migrate leak tests to goleak for `planner/core`"

[2021-08-20 08:33] tangenta opened #27434 "TiDB decode index key panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

The codec function is not robust enough.

### 2. What did you expect to see? (Required)

No panic.

### 3. What did you see instead (Required)

[code]

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-20 08:39] lcwangchao opened #27435 "Unstable test for testSerialSuite.TestTemporaryTableNoNetwork"
I think it's caused by https://github.com/pingcap/tidb/pull/27405

The test has a goroutine:

[code]

The old version will always be blocked because `blocked` by `blocked <- struct{}{}` channel has a zero capacity. In a right case, none will consume it.

So the pr #27405 made some change:

[code]

The chan will not be blocked any more, but unfortunately, this line in the goroutine function will al

[2021-08-20 08:40] time-and-fate commented on #25066
Close it since it's a duplicate of https://github.com/pingcap/tidb/issues/25013 and it has been fixed.

[2021-08-20 08:40] #25066 closed

[2021-08-20 08:44] #27406 closed

[2021-08-20 08:47] tisonkun opened #27437 "Leak tests pkg `executor` github.com/pingcap/tidb/executor.(*slowQueryRetriever).parseSlowLog"
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27829/pipeline

[2021-08-20T08:39:09.577Z] goleak: Errors on successful test run: found unexpected goroutines:
[2021-08-20T08:39:09.577Z] [Goroutine 574993 in state chan send, 2 minutes, with github.com/pingcap/tidb/executor.(*slowQueryRetriever).parseSlowLog on top of the stack:
[2021-08-20T08:39:09.577Z]

[2021-08-20 09:01] w169q169 commented on #27177
/assign

[2021-08-20 09:02] zhouqiang-cl opened #27438 "Timeout test `db_test.go:1287: testDBSuite5.TestAddIndex5`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27726/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:03] zhouqiang-cl opened #27439 "Timeout test `db_partition_test.go:632: testIntegrationSuite1.TestCreateTableWithListPartition`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]
### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27726/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:04] zhouqiang-cl opened #27440 "Timeout test `db_test.go:573: testDBSuite7.TestCancelAddIndex`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27726/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:05] zhouqiang-cl opened #27441 "Timeout test `db_integration_test.go:1352: testIntegrationSuite6.TestCreateTableTooLarge`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27726/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:08] #27435 closed

[2021-08-20 09:08] zhouqiang-cl opened #27443 "Timeout test `db_partition_test.go:2681: testIntegrationSuite4.TestPartitionCancelAddIndex`"
## Bug Report

[code]
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27698/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:09] zhouqiang-cl opened #27444 "Timeout test `builtin_string_vec_test.go:529: testVectorizeSuite1.TestVectorizedBuiltinStringEvalOneVec`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27698/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:10] zhouqiang-cl opened #27445 "Timeout test `db_test.go:557: testDBSuite8.TestCancelAddPrimaryKey`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27698/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:11] zhouqiang-cl opened #27446 "Unstable test `builtin_vectorized_test.go:119: testVectorizeSuite2.TestMockVecPlusIntParallel`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27683/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:12] zhouqiang-cl opened #27447 "Timeout test `builtin_time_vec_generated_test.go:6727: testVectorizeSuite1.TestVectorizedBuiltinTimeEvalOneVecGenerated`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27683/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:13] tisonkun opened #27448 "unstable test testSerialSuite.TestTemporaryTableNoNetwork"
## Bug Report

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27829/pipeline/

[2021-08-20T08:48:38.716Z] FAIL: <autogenerated>:1: testSerialSuite.TestTemporaryTableNoNetwork
[2021-08-20T08:48:38.716Z]
[2021-08-20T08:48:38.716Z] executor_test.go:8585:
[2021-08-20T08:48:38.716Z]     c.Assert(err, NotNil)
[2021-08-20T08:48:38.716Z] ... value = nil

Pleas

[2021-08-20 09:13] zhouqiang-cl opened #27449 "Timeout test ``builtin_time_vec_test.go:579: testVectorizeSuite2.TestVectorizedBuiltinTimeFunc`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27683/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:15] zhouqiang-cl opened #27450 "Timeout test `tidb_test.go:878: tidbTestSerialSuite.TestTLSAuto`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]
### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/27658/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-20 09:16] #25951 closed

[2021-08-20 09:17] tisonkun commented on #27448
duplicated with https://github.com/pingcap/tidb/issues/27435

[2021-08-20 09:17] #27448 closed

[2021-08-20 09:28] #27232 closed

[2021-08-20 09:28] tisonkun commented on #27437
cc @crazycs520

[2021-08-20 09:36] youjiali1995 commented on #27303
The root cause is that TiKV enables the `TTL` feature which uses compaction filter to delete expired values of the default CF. It mustn't be enabled with txn KV, and we will add a check to prevent such a case.

[2021-08-20 09:36] #27303 closed

[2021-08-20 10:03] time-and-fate commented on #24324
This issue is very similar to https://github.com/pingcap/tidb/issues/24444.
From the viewpoint of our implementation, it's more like a feature than a bug fix.
We need to design a plan to support this kind of correlated subquery.
So I prefer to convert it to an enhancement.

[2021-08-20 10:06] time-and-fate commented on #24444
/type enhancement

[2021-08-20 10:06] time-and-fate commented on #24324
/type enhancement

[2021-08-20 10:07] time-and-fate commented on #24324
/remove-type bug

[2021-08-20 10:08] time-and-fate commented on #24324
/remove-severity major

[2021-08-20 12:23] tisonkun commented on #27437
It seems that when `dataForSlowLog` exit and `case task, ok = <-e.taskList` never execute any more, we don't signal `parseSlowLog` to exit and it blocks on

[code]

[2021-08-20 12:24] #27340 closed

[2021-08-20 12:44] ClSlaid opened #27458 "show processlist show point-get SQL as null."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. create test table in TiDB
connect database `test`
[code]
2. Generate data and test with following golang code:
[code]
3. while running test, connect to TiDB and run `show processlist`

### 2. What did you expect to see? (Required)
All currently run SQLs are fully show in

[2021-08-20 12:49] tisonkun opened #27459 "migrate test-infra to testify for `TestTemporaryTableNoNetwork`"

[2021-08-20 13:13] #27296 closed

[2021-08-20 13:13] #27361 closed

[2021-08-20 13:18] #24010 closed

[2021-08-20 14:00] #27421 closed

[2021-08-20 15:36] #27434 closed

[2021-08-20 20:30] nimah79 opened #27464 "Cannot build on js/wasm"
I want to compile the latest TiDB for Webassembly. I've added these lines to `Makefile`:
[code]
But when I execute `make wasm`, I get this error:
[code]
Does TiDB currently support Webassembly?

[2021-08-21 04:12] #26377 closed

[2021-08-21 05:26] joccau opened #27466 "br: It shows "backup failed" when make a backup of empty DB, but the result $? is 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

(1) Create a database without table
(2) do the command:
./br backup db --db emptydb --pd "$ip:$port" --storage "local://$localDir"

### 2. What did you expect to see? (Required)
the result of "Database backup success summary" is expected and $? is 0

### 3. What did you see

[2021-08-21 05:26] joccau commented on #27466
/sig migrate

[2021-08-21 05:26] joccau commented on #27466
/component br

[2021-08-21 15:24] tisonkun commented on #22198
closed as almost done. Let tidb-operator tracks in pingcap/tidb-operator#3988 by itself.

[2021-08-21 15:24] #22198 closed

[2021-08-22 06:09] sunxiaoguang commented on #27324
Hi @zhankenson, thanks for asking. Using docker compose was deprecated and not supported. I highly recommend trying tiup instead which was documented pretty well at [here](https://docs.pingcap.com/zh/tidb/dev/quick-start-with-tidb).

Besides, if you really want to try docker-compose instead. The error message looks like something is wrong with download link or maybe network connection that prevent

[2021-08-22 08:01] tisonkun commented on #8671
closed as stale. Thank you for reporting this issue @fengzhao ! Now we're using [TiUP](https://tiup.io/) to manage TiDB cluster. You can file an issue there if found any question.

[2021-08-22 08:01] #8671 closed

[2021-08-22 08:04] tisonkun commented on #15712
closed as UCP end and codebase changes a lot. We may later give a report on the nightly master and see how to improve UT coverage.

[2021-08-22 08:04] #15712 closed

[2021-08-22 08:04] tisonkun commented on #15636
closed as UCP end and codebase changes a lot. We may later give a report on the nightly master and see how to improve UT coverage.

[2021-08-22 08:04] #15636 closed

[2021-08-22 08:05] tisonkun commented on #15656
closed as UCP end and codebase changes a lot. We may later give a report on the nightly master and see how to improve UT coverage.

[2021-08-22 08:05] #15656 closed

[2021-08-22 08:07] tisonkun commented on #15037
closed as done. Thanks for your reminder @hidehalo !

[2021-08-22 08:07] #15037 closed

[2021-08-22 08:08] tisonkun commented on #15036
closed as done by #15406

[2021-08-22 08:08] #15036 closed

[2021-08-22 08:08] tisonkun commented on #15039
closed as migrated.

[2021-08-22 08:08] #15039 closed

[2021-08-22 08:09] tisonkun commented on #15032
closed as done

[2021-08-22 08:09] #15032 closed

[2021-08-22 08:10] tisonkun commented on #15031
closed as done

[2021-08-22 08:10] #15031 closed

[2021-08-22 08:10] tisonkun commented on #15030
closed as done

[2021-08-22 08:10] #15030 closed

[2021-08-22 08:15] tisonkun commented on #15206
Is it still valid? I highly suspect we append each row with a constant column. @lonng @Yisaer

[2021-08-22 08:16] tisonkun commented on #15684
closed as UCP end and codebase changes a lot.

[2021-08-22 08:16] #15684 closed

[2021-08-23 01:37] #27333 closed

[2021-08-23 02:08] zhouqiang-cl opened #27473 "data race in `br/pkg/lightning/mydump.setDatumByInt()`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/9385/nodes/117/steps/465/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Req

[2021-08-23 02:14] zhouqiang-cl opened #27474 "data race in `util/collate/collate.go`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/9385/nodes/105/steps/270/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requ

[2021-08-23 02:17] zhouqiang-cl opened #27475 "Leak in `executor.(*slowQueryRetriever).parseSlowLog`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/9380/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-23 02:21] zhouqiang-cl opened #27476 "data race in `executor/executor_test.go`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/9376/nodes/105/steps/225/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requ

[2021-08-23 02:24] zimulala commented on #24621
@zhaoxugang
Well, I think so, in the `reorg state`, processing this number of rows is complicated and inaccurate

[2021-08-23 02:26] bb7133 commented on #27476
PTAL @zimulala

[2021-08-23 02:37] zimulala commented on #27476
@xiongjiwei
It is similar to https://github.com/pingcap/tidb/issues/27474. You can also look at this issue.

[2021-08-23 02:55] wshwsh12 commented on #27274
Duplicate of #26539

[2021-08-23 02:55] #27274 closed

[2021-08-23 03:03] wshwsh12 commented on #27090
Seems the sql use too much memory(higher than tidb_mem_quota_query, default 1GB) and be canceled by tidb.
Please check https://docs.pingcap.com/zh/tidb/v5.0/system-variables#tidb_mem_quota_query, and set it to a suitable value if your sql will take up much memory.

[2021-08-23 03:10] #27426 closed

[2021-08-23 03:20] aytrack opened #27480 "query and insert result incorrect while use `ceil` as expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
1. insert data success after add the expression index
2. select result should be same between use and ignore expression index
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-08-23 03:21] zimulala opened #27481 "Optimize the ”add index“ operation when the table shard bit does not match the number of regions after splitting region"
## Enhancement
After https://github.com/pingcap/tidb/pull/26920, each worker gets the actual end key when it adds indexes to the region range [startHandle, endHandle] by batch. But in rare cases it causes the backfill index to be slower than the write speed of the data in the table. For example, when the auto_random shard bit does not match the number of regions after the "split region". The case

[2021-08-23 03:35] aytrack commented on #27480
funcation `truncate` has same problem
[code]

[2021-08-23 03:45] Defined2014 commented on #27279
/assign

[2021-08-23 03:53] Reminiscent commented on #26638
In mysql8.0
[code]

In TiDB master:
[code]

[2021-08-23 04:08] #27437 closed

[2021-08-23 04:08] #27475 closed

[2021-08-23 04:15] Reminiscent commented on #26638
If we do not define the precision for the `float` type. We can not use the equal condition to find the result. We can only use `like` to find the result. There is no such restriction for the double type.

[2021-08-23 04:47] bb7133 commented on #23344
@seiya-annie  Close this issue since it has been fixed by https://github.com/pingcap/tidb/pull/23534.

[2021-08-23 04:47] #23344 closed

[2021-08-23 06:00] tisonkun opened #27485 "data race in `executor_test` testSerialSuite2).TestCharsetFeature"
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/9823/pipeline

[2021-08-23T05:48:09.885Z] ==================
[2021-08-23T05:48:09.885Z] WARNING: DATA RACE
[2021-08-23T05:48:09.885Z] Read at 0x00c00051b920 by goroutine 255:
[2021-08-23T05:48:09.885Z]   runtime.mapaccess2_faststr()
[2021-08-23T05:48:09.885Z]       /usr/local/go/src/runtime/map_faststr

[2021-08-23 06:40] #26835 closed

[2021-08-23 06:53] aytrack opened #27491 "function `log10` result is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-08-23 06:53] xiongjiwei opened #27492 "data race in `TestViewColumns`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/9831/nodes/108/steps/331/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-23 06:59] ChenPeng2013 opened #27493 "pruneListPartition: index out of range [1] with length 1"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
release-5.0 & release-5.1 & release-5.2 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-23 07:01] #25950 closed

[2021-08-23 07:09] glorv opened #27494 "lightning output huge amount of log and performance is low when log level is debug"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run lightning with `log-level = "debug"` when more than 10GB source data.

There are a lot of log with following pattern which cause lightning running really slow.
[code]

Root cause:
The following debug log will be print for each row, which produces huge numbers of logs.

[2021-08-23 07:10] unconsolable commented on #27485
Another occurence

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/9841/pipeline

[code]

[2021-08-23 07:15] lysu opened #27495 "sent unnecessary request when delete the row in temporary table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

prepare a temp table with one row in it.

[code]

execute delete

[code]

observe the tikv request for last stmt.

### 2. What did you expect to see? (Required)

tidb-server should not send any request to tikv-server in delete stmt

### 3. What did you see instead (Required

[2021-08-23 07:23] vivid392845427 opened #27496 "select use index merge return error: invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

return error，as follow:

mysql> select   tbl_26.col_179, tbl_26.col_180, tbl_26.col_181, tbl_26.col_182, tbl_26.col_183, tbl_26.col_184 from tbl_26 where col_184 in (

[2021-08-23 07:58] xuyifangreeneyes commented on #27496
/assign

[2021-08-23 08:19] xxchan commented on #25808
Can you give an example of TiDB-to-TiDB RPC?

[2021-08-23 08:22] ChenPeng2013 opened #27501 "ERROR 8118 (HY000): Failed to build executor"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
release-4.0 & release-5.0 & release-5.1
[code]

### 3. What did you see instead (Required)
release-5.2 & master
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-23 08:25] Defined2014 commented on #27279
Can't pass test in my own env. So removed the assignment.

[2021-08-23 08:36] Reminiscent commented on #26873
Now we only support `PointGet` for prepared plan cache. You can see `tryCachePointPlan` function in `planner/core/common_plan.go` file for more details. After that, we are trying to optimize the plan cache. So this issue will be closed and can be opened if necessary.

[2021-08-23 08:36] Reminiscent commented on #26873
/close

[2021-08-23 08:38] ChenPeng2013 commented on #10361
[code]

tidb
"2622-05-26 16:36:42.00" < "4330-11-01 16:07:37.00"
unix_timestamp("2622-05-26 16:36:42.00") > unix_timestamp("4330-11-01 16:07:37.00")
[code]

mysql
https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html#function_unix-timestamp
The valid range of argument values is the same as for the TIMESTAMP data type: '1970-01-01 00:00:01.000000' UTC to '2038-01-19 03:14:07.999999'

[2021-08-23 08:47] vivid392845427 opened #27503 "set tidb_row_format_version=1，select return error：ERROR 1265 (01000): Data truncated for column '%s' at row %d"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tidb config：
new_collations_enabled_on_first_bootstrap: true
SQL:

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

return error:

[code]

tidb log:

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-23 08:52] aytrack opened #27505 "function `exp` result is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-08-23 09:09] cfzjywxk commented on #25846
@lysu
The release-3.0 pick is not merged yet, shall we close this issue?

[2021-08-23 09:16] wshwsh12 commented on #27491
Golang's math.log10 result is different from rust...
In rust, 685122_f64.log10()  wil gets 5.835767913403485.
In golang, math.Log10(685112) will gets 5.835767913403484.

[2021-08-23 09:18] wshwsh12 commented on #27505
Golang's math.exp result is different from rust...
In rust, 186_f64.exp() wil gets 600860471168558600000000000000000000000000000000000000000000000000000000000000000
In golang, math.Exp(186) will gets 6.008604711685585e+80

[2021-08-23 09:22] aytrack commented on #27480
same as `floor`

[2021-08-23 09:30] fengou1 commented on #27247
https://github.com/pingcap/tidb/pull/27508

[2021-08-23 09:37] cfzjywxk commented on #27156
@you06
Shall we close this issue and open another for the `dynamic` mode problem?

[2021-08-23 09:44] tisonkun commented on #27279
@Defined2014 how do you test locally? Do you enable failpoints? A common failure cause is that some of TiDB tests depend on failpoints and if you don't enable it, test failed or hanged.

You can see [How to run unit tests](https://pingcap.github.io/tidb-dev-guide/get-started/write-and-run-unit-tests.html#how-to-run-unit-tests) section on TiDB Dev Guide.

[2021-08-23 10:03] feitian124 commented on #27141
/assign

[2021-08-23 10:07] feitian124 commented on #27141
knowlege about statistics
https://github.com/pingcap/tidb-dev-guide/pull/70

[2021-08-23 10:09] disksing commented on #25808
Hi @xxchan , you can search `kv.TiDB` and `tikvrpc.TiDB` in tidb source code.

[2021-08-23 10:10] bb7133 commented on #27197
The current behavior is by-design and I'll change it as the 'enhancement'.

[2021-08-23 10:19] #27476 closed

[2021-08-23 10:19] #27474 closed

[2021-08-23 10:19] #27485 closed

[2021-08-23 10:22] ichn-hu commented on #27501
[code]

[2021-08-23 10:54] #27097 closed

[2021-08-23 11:04] #27424 closed

[2021-08-23 11:12] #27459 closed

[2021-08-23 11:48] tiancaiamao commented on #27197
I have a [PR](https://github.com/pingcap/tidb/pull/27209) change the optimistic to pessimistic, it may alleviate the problem, waiting for feedback from the QA.

[2021-08-23 11:56] #27495 closed

[2021-08-23 12:10] tisonkun commented on #27116
another instance https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/28578/pipeline

[2021-08-23 12:32] #27473 closed

[2021-08-23 12:44] qw4990 opened #27517 "DDL: some DDL logs with `deltaSchemaInfo` cannot be printed correctly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
The structure `deltaSchemaInfo` cannot be printed correctly:
[code]
![image](https://user-images.githubusercontent.com/7499936/130448679-a8bd81b9-8add-420e-bdd5-3690b2b5cd82.png)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
[code

[2021-08-23 14:35] sylzd commented on #25943
tidb return ddl error as follows, and I think it's resonable.
[code]

[2021-08-23 15:06] #27188 closed

[2021-08-23 16:49] adamotonete opened #27520 "expose log.file.max-days as a dynamic parameter"
## Enhancement

Please allow changes on `log.file.max-days` dynamically on tidb instance.

Currently it is necessary to restart the instance to apply a different `log.file.max-days` configuration.

Although the set config won't persists, the customer would be able to change the parameters in a persistent way editing the config files (tiup with --skip-restart)

[2021-08-23 22:10] yudongusa commented on #27187
BR side to modify lightening's "with num" setting to 10000 where TiDB default still keeps 100000 to ensure the accuracy of general case:

https://github.com/pingcap/tidb/pull/27402

[2021-08-23 23:42] yudongusa commented on #26945
@hawkingrei is there any update on the fix? I'm assigning this back to you to follow up.

[2021-08-24 01:45] jingshanglu opened #27521 "IT `alter_table1 ` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6345/pipeline

pr: https://github.com/pingcap/tidb/pull/27484

### 2. What did you expect to see? (Required)

### 3. What did you see inst

[2021-08-24 01:46] jingshanglu commented on #27521
@hawkingrei

[2021-08-24 02:56] yudongusa commented on #25490
@dragonly Is there still the environment to reproduce this problem? Also, did you observe performance difference as well?

[2021-08-24 03:21] lidezhu opened #27522 "No warning when some type of column cannot be pushed to tiflash"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

set @@tidb_allow_mpp=1;
set @@tidb_enforce_mpp=1;
create table t3(b bit(1));
alter table t3 set tiflash replica 1;
insert into t3 values(1);
insert into t3 values(0);

After the replica avaiable in tiflash, run the following sql:
explain analyze select count(*) from t3 wher

[2021-08-24 03:55] Lily2025 opened #27524 "run sysbench update and select *，sysbench return error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
2tidb、3pd、4tikv：4C、8G mem
1、run sysbench update
     tables：32
     threads：512
2、run select * from sbtest limit 1,100

### 2. What did you expect to see? (Required)
sysbench run normally

### 3. What did you see instead (Required)
sysbench return error
FATAL: mysql_stmt_exe

[2021-08-24 04:04] #27280 closed

[2021-08-24 04:10] bb7133 commented on #27057
Hi @rleungx what is the use case of this variable. WIll it be removed after the feature is stable enough?

[2021-08-24 04:42] rleungx commented on #27057
I'm going to hold this variable for now. It depends on the testing results. If it is stable enough before the end of the next sprint, I won't add this switch.

[2021-08-24 05:00] #27429 closed

[2021-08-24 05:43] fengzhao commented on #8671
TiUP也用过了，也是有些小问题，问题一堆。不太稳定。

[2021-08-24 05:48] yudongusa commented on #13167
@fzhedu is there any update on this issue? It seems being awhile since it was assigned. Please free free to let me know if you'd prefer continue working on this or assign to someone from planner team.

[2021-08-24 05:53] lcwangchao commented on #25943
I think just adding a test for `alter table xxx set tiflash replica n` is enough

[2021-08-24 06:01] you06 commented on #27156
Open a new one is a good idea, there are already many discussions about the flag problem in this issue.

[2021-08-24 06:03] wjhuang2016 commented on #27386
Duplicate with #23506

[2021-08-24 06:03] #27386 closed

[2021-08-24 06:04] tisonkun commented on #8671
@fengzhao as mentioned above, you can file an issue there if found any concrete question.

BTW, for user question, we host a Chinese forum https://asktug.com/ you may be interested in.

[2021-08-24 06:14] you06 opened #27532 "dynamic prune mode can not read result set correctly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

This bug is migrated from #27156, found by @vivid392845427.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Two select statement returns the same result sets.

[code]

### 3. What did you see instead (Required)

The first statement in `autocommit=0` transaction got

[2021-08-24 06:18] you06 commented on #27156
The further solution to the first problem can be discussed in #27351.

Move the second problem to #27532, will investigate in that issue.

Close this issue.

[2021-08-24 06:18] #27156 closed

[2021-08-24 07:02] sticnarf commented on #27524
![图片](https://user-images.githubusercontent.com/17217495/130570059-2d0302b5-5b1e-4f87-a6c6-10f75d2a3df3.png)
When write requests take minute-level to finish, the TTL may expire at once and heartbeats may be not able to update the TTL in time.

This reminds us that the throttle time should not be too long. It's better to drop the request earlier rather than let it wait at TiKV.

[2021-08-24 07:03] dbsid opened #27534 "br restore hang"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tiup br:nightly restore db --db=test --pd xxxx:2679 --storage s3://benchmark/sysbench-32-10000000 --s3.endpoint http://xxx:9000 --send-credentials-to-tikv=true

### 2. What did you expect to see? (Required)
br successfully
### 3. What did you see instead (Required)
br does

[2021-08-24 07:26] #27410 closed

[2021-08-24 08:02] #27432 closed

[2021-08-24 08:17] fengzhao commented on #8671
anyway，我依然觉得pingcap是个牛逼的公司，你们在做的东西是技术含量很高的东西。持续关注，我这边中英文均可。

[2021-08-24 08:32] rebelice opened #27539 "The SQL statement that broke the limit of ‘only_full_gropy_by’ did not trigger the error normally"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)

no error

### 4. What is your TiDB version? (Required)

MySQL [test]> select tidb_version();
+----------------------------------------------------------------------------

[2021-08-24 08:37] aytrack opened #27540 "`timestampadd` as expression index got wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-08-24 08:37] lcwangchao opened #27541 "Implement `RangedKVRetriever` in `client-go` to combine KeyRange and Retriever and provide method to intersect two ranges"

[2021-08-24 08:47] dragonly commented on #18771
I am currently working on the general log performance optimization. I'll track this issue.

[2021-08-24 08:48] ChenPeng2013 opened #27544 "the partition expression value of mod( year(a) - abs(weekday(a) + dayofweek(a)), 4) + 1 is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
mysql 8.0.21
[code]
### 3. What did you see instead (Required)
release-5.0 & release-5.1 & release-5.2 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-24 09:04] rebelice opened #27545 "The behavior of least() is incompatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-24 09:09] wfxr commented on #17531
UDF is the biggest obstacle for us to migrating the data warehouse from hive to tidb. Please raise the priority dear devs.

[2021-08-24 09:30] hawkingrei commented on #27521
#27484 is to support the alter table table_name engine=xxxx and not raise the error. but in mysql-test, it will check the statment with the error message. so you will remove this test.

[2021-08-24 09:37] YangFW opened #27546 "update mode"
## General Question
tispark  TiBatchWrite data into tidb  like this

`
val df = spark.sql("select * from table1")

df.show(false)

df.write
.format("tidb")
.option("tidb.user", "root")
.option("tidb.password", "******")
.option("database","schema1")
.option("table","table2")
.mode("append")
.save()
`

but went wrong have this
`User class threw exception: com.pingcap.tikv.exception.TiBatchWriteExce

[2021-08-24 09:55] aytrack opened #27547 "null-safe equal got wrong result while expression result is NULL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-24 10:14] time-and-fate commented on #27093
Close this one since duplicated with #27106.

[2021-08-24 10:14] #27093 closed

[2021-08-24 10:24] #27146 closed

[2021-08-24 10:32] #26170 closed

[2021-08-24 10:52] #27466 closed

[2021-08-24 11:14] Defined2014 commented on #27279
/assign

[2021-08-24 11:54] tisonkun commented on #26170
@xxchan Thanks for working on this issue! Nice work.

[2021-08-24 12:23] fengou1 opened #27552 "Backup and Restore on empty cluster, empty databases and empty table"
## Enhancement
**Notice**: the issue move from https://github.com/pingcap/br/issues/828

Backup/Restore Type
-----------------------------------------------------------------
1. Cluster backup/restore
- Command: `br backup/restore full xxx`
- SQL: `BACKUP/RESTORE DATABASE * TO xxx`

2. Database backup/restore
- Command: `br backup/restore db xxx`
- SQL: `BACKUP/RESTORE DATABASE `test` TO xxx`

3.

[2021-08-24 12:35] djshow832 opened #27553 "Require process privilege to access metrics_schema"
## Enhancement

The system database `metrics_schema` contains metrics about the cluster. To visit the load on the cluster, users need to have `PROCESS` privileges.

Besides, another 2 system tables `information_schema.metrics_summary` and `information_schema.metrics_summary_by_label` also contain metrics on the cluster.

[2021-08-24 13:13] you06 commented on #24195
There is one thing that confused me, the optimistic transactions will not do unique key check for insert statement before commit. This behavior is consistent across all versions of TiDB. However, it brought the problem of dealing with union membuffer data and snapshot data together. Further, which data to be choose is hard to answer.

https://github.com/pingcap/tidb/blob/5516d7d79c268538fd75be73a6

[2021-08-24 13:25] cfzjywxk commented on #24195
@you06
To keep the compatibility, I think it's more reasonable to process this conflict in the union scan operator and return the memory buffer content doing merge, it's weird to return same rows reading a table with unique index keys.
For this solution we may need to verify if this prior strategy will introduce some other weird behaviours or issues related to compatibility, if there's not I think

[2021-08-24 14:06] you06 commented on #24195
If I understood correctly, we may fix it by the first solution, handle it in union scan. The second solution may be a long term improvement in which we should care about if our users will suffer unexpected failures introduced by this change. @cfzjywxk is it what you mean?

[2021-08-24 14:42] bb7133 opened #27555 "Panic happens when TiDB starts with 'skip-grant-table'"
## Bug Report

### 1. Minimal reproduce step (Required)

Start a TiDB server with ['skip-grant-table' mode enabled](https://docs.pingcap.com/tidb/stable/user-account-management#forget-the-root-password):

[code]
Try to connect to TiDB:
[code]

### 2. What did you expect to see? (Required)
Everything is OK.

### 3. What did you see instead (Required)
A panic is noticed:
[code]

### 4. What is your

[2021-08-24 14:54] dveeden commented on #27555
/assign @dveeden

[2021-08-24 16:10] #27555 closed

[2021-08-24 19:04] #27213 closed

[2021-08-24 19:25] morgo commented on #27521
@hawkingrei We just need to re-record the test output for the following tests:
[code]

[2021-08-24 19:28] yudongusa commented on #16909
@lzmhhh123 any update on this issue?

[2021-08-24 19:33] yudongusa commented on #26249
transfer this ticket to parser/sql_infra team for further enhancement.

[2021-08-24 19:55] morgo opened #27560 "incorrect results for SHOW GRANTS FOR CURRENT_USER() USING x"
## Bug Report

The fix for https://github.com/pingcap/tidb/pull/27218 was incomplete. It does not account for CURRENT_USER() + USING syntax. It's not commonly used, but we should fix it.

### 1. Minimal reproduce step (Required)

[code]
Then run:
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Requ

[2021-08-24 20:07] yudongusa commented on #25239
seems similar issue of https://github.com/pingcap/tidb/issues/27083

[2021-08-24 21:54] yudongusa commented on #25364
seems a similar issue: https://github.com/pingcap/tidb/pull/24663

[2021-08-24 22:05] yudongusa commented on #18216
@fzhedu is there any update of this issue?

[2021-08-24 23:31] yudongusa commented on #17852
@XuHuaiyu is there any update of this issue?

[2021-08-24 23:54] yudongusa commented on #22082
@qw4990 @XuHuaiyu since it's been quite awhile after this was fixed and probably hard to locate the PR actually fixed the issue, should we go ahead to close it?

[2021-08-25 00:53] yudongusa commented on #21475
@eurekaka would you please give an updated summary on this given all the enhancement after this issue was originally opened?

[2021-08-25 01:13] yudongusa commented on #21098
@pcqz it seems the problem was already fixed, would you please verify and close if no further issues?

[2021-08-25 02:02] cfzjywxk commented on #24195
@you06
Yes, we could solve some unexpected or unreasonable behaviours first without breaking any compatibility by now.

[2021-08-25 02:16] yudongusa commented on #25603
seems duplicate one of https://github.com/pingcap/tidb/issues/25600

[2021-08-25 02:31] yudongusa commented on #22301
@xuyifangreeneyes @Reminiscent would you please provide an update or verify if the issue still exists?

[2021-08-25 02:36] yudongusa commented on #25086
@luyomo would you please verify if the issue is resolved? If so, please go ahead to close this issue.

[2021-08-25 02:41] yudongusa commented on #19802
@lance6716 would you please verify if the issue still exists? If not, please help to close this issue.

[2021-08-25 02:43] lance6716 commented on #19802
I haven't focused on TiDB's CI these days, so not sure if it has been fixed. We might close it as well 😄

[2021-08-25 02:43] #19802 closed

[2021-08-25 02:43] yudongusa commented on #19713
@bb7133 @winoros should we close this issue if it no more exists?

[2021-08-25 03:10] aytrack commented on #27532
dynamic mode is Experimental feature

[2021-08-25 03:13] youjiali1995 opened #27564 "Dangling delete record when deletes your own write in a transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
See https://github.com/pingcap/ticdc/issues/2612. This behavior of TiDB may result in strange event in TiCDC.

[code]
[code]
### 2. What did you expect to see? (Required)

No delete record in write CF.

### 3. What did you see instead (Required)

Only When deletes by the clu

[2021-08-25 03:14] #25943 closed

[2021-08-25 03:43] hawkingrei commented on #27521
@jingshanglu @morgo it has been fixed.

[2021-08-25 03:52] xuyifangreeneyes commented on #22301
The issue still exists on the current master. Maybe we can open an tracking issue to collect all the issues on only_full_group_by and see how to improve or refactor only-full-group-by-checker.

[2021-08-25 05:04] you06 commented on #27532
@aytrack do we need to mark an experimental feature as major severity?

[2021-08-25 06:25] jingshanglu opened #27570 "IT `role` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

ci:https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6362/pipeline
pr: #27218

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your Ti

[2021-08-25 06:26] jingshanglu commented on #27570
@morgo

[2021-08-25 06:28] #27116 closed

[2021-08-25 06:50] tiancaiamao commented on #25573
I think we can close it now.
We're [monitoring the performance changes](http://www.zenlife.tk:18081/) now, if something goes wrong, we will find it soon.

[2021-08-25 06:50] #25573 closed

[2021-08-25 06:55] yiduoyunQ commented on #25716
seems just need `MaxDays` and `MaxBackups` of SlowQueryFile at https://github.com/pingcap/tidb/blob/v5.1.1/util/logutil/slow_query_logger.go#L25

[2021-08-25 07:01] #26215 closed

[2021-08-25 07:12] mengxin9014 opened #27573 "dateAdd function bug"
## Bug Report

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
v5.1.1

[2021-08-25 07:28] XuHuaiyu opened #27576 "bottleneck when accessing rowContainer.m.Mutex in HashJoinExec"
## Enhancement
### Workload
[1W.txt](https://github.com/pingcap/tidb/files/7044518/1W.txt)
[150W.txt](https://github.com/pingcap/tidb/files/7044519/150W.txt)

[code]

### Test SQL
[code]

### Test Result

|tidb_executor_concurrency|latency|
|--|--|
|2|25.78s|
|4|17.14s|
|8|17.30s|
|16|17.76s|
|32|17.38s|

### Analysis
The test result shows that the query performance does not improve as the concurr

[2021-08-25 07:43] xpepermint commented on #1793
It would be nice to see this feature placed into a milestone.

[2021-08-25 07:51] guo-shaoge commented on #26827
Dup with #27576

[2021-08-25 07:51] #26827 closed

[2021-08-25 07:57] tisonkun opened #27579 "Proposal: Build a lightweight need-more-info logic with concise comments"
## Enhancement

Previous discussion at https://internals.tidb.io/t/topic/352

[2021-08-25 07:57] fubinzh opened #27580 "lightning show lots of fail to split region errors though import is successful"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Use lightning to import data
2. When lightning import finishes, check lightning logs

### 2. What did you expect to see? (Required)
Lightning log should not show lots of ERROR if import is successful.

### 3. What did you see instead (Required)

Lightning show lots of "fa

[2021-08-25 07:58] djshow832 commented on #27553
There are some other problems:
1. Currently if the user has only `PROCESS` privilege, he still cannot see `metrics_schema`. I cannot find a referential behavior in MySQL. Is it reasonable? @morgo
2. Even if he cannot see the database, he can still select from the tables. This is a bug from the beginning.
3. Even if he cannot see the database, he can still visit `information_schema.metrics_tables`,

[2021-08-25 08:08] #27541 closed

[2021-08-25 08:15] djshow832 opened #27582 "Add a `DASHBOARD_CLIENT` dynamic privilege"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB dashboard is going to have a finer privilege control so that users with a special privilege can visit the TiDB dashboard.

**Describe the feature you'd like:**

Add a `DASHBOARD_CLIENT` dynamic privilege.
The `DASHBOARD_CLIENT` dynamic privilege is only used to check if the user has this privilege when the

[2021-08-25 08:20] crazycs520 commented on #27553
BTW, `performance_schema` also has this problem.

[2021-08-25 09:24] wshwsh12 commented on #27505
This problem is not easy to solve in the short term.
1. The current mathematical function calculations are using the standard libraries of programming languages, and the implementation of different programming languages may be different. In the other hand, the same programming language may behave differently under different architectures(eg. x86, arm... )
Now, we use Golang in TiDB, Rust in TiKV a

[2021-08-25 09:25] wshwsh12 commented on #27491
Same reason of https://github.com/pingcap/tidb/issues/27505.  Change the issue to type/compatibility

[2021-08-25 09:59] #27521 closed

[2021-08-25 10:06] #27083 closed

[2021-08-25 10:09] cyliu0 opened #27585 "A unified configuration item for all experimental features"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We have so many experimental features and so many configuration items for all of the experimental features. It's not really user-friendly and test-friendly.

**Describe the feature you'd like:**

I'd like a unified configuration item to allow users to enable/disable all the experimental features like `experimen

[2021-08-25 10:20] aytrack commented on #27573
The returning type is wrong.

[2021-08-25 10:22] jingshanglu commented on #27521
### Bug

#### 1. Root Cause Analysis (RCA) (optional)
before #27484 , tidb not support alter table engin, now, the expected result in IT `alter_table1` test case wrong .

#### 2. Symptom (optional)

IT `alter_table1` fail

#### 3. All Trigger Conditions (optional)

#### 4. Workaround (optional)

#### 5. Affected versions

#### 6. Fixed versions
master

[2021-08-25 10:58] feitian124 commented on #26866
hello, please create subtask for me and put `index_test.go` as the first one.

- [x] migrate `index_test.go`
- [ ] migrate `partition_test.go`
- [ ] migrate `tables_test.go`

[2021-08-25 10:59] lcwangchao opened #27587 "Add method for snapshot for setting custom range retrievers"

[2021-08-25 11:02] tisonkun opened #27588 "migrate test-infra to testify for `table/tables/index_test.go`"

[2021-08-25 11:02] tisonkun opened #27589 "migrate test-infra to testify for `table/tables/partition_test.go `"

[2021-08-25 11:02] tisonkun opened #27590 "migrate test-infra to testify for `table/tables/tables_test.go `"

[2021-08-25 11:08] tisonkun commented on #26866
@feitian124 updated.

[2021-08-25 12:35] #27391 closed

[2021-08-25 13:18] #27139 closed

[2021-08-25 14:34] #27247 closed

[2021-08-25 14:58] feitian124 commented on #27588
/assign

[2021-08-25 15:29] #26782 closed

[2021-08-25 15:29] guo-shaoge commented on #26782
#23373 merged and verified OK.

[2021-08-26 01:02] Reminiscent opened #27594 "support batchPointGet in the prepare plan cache"
## Enhancement
Related to [issue#26873](https://github.com/pingcap/tidb/issues/26873)
Now we don't support `batchPointGet` plan in the prepare plan cache. You can check it through the following steps.

Enable prepared-plan-cache.
[code]

[2021-08-26 04:38] dbsid opened #27601 "Stick to outdated stats rather than pseudo stats"
## Enhancement
A recent issue for reference, I was running tpc-c workload intensively. As the workload on-going and the auto analyze job failed due to "gc life time is shorter than transaction duration". the statistics did not got updated, then the statistics become outdated, the optimizer switch to pseudo stats and cause plan change.

This behavior assume that the pseudo stats is better than the

[2021-08-26 06:52] AilinKid opened #27603 "Ensure {CREATE|ALTER|DROP} PLACEMENT POLICY requires the PLACEMENT_ADMIN privilege"
This is a sub-task of Placement Rules in SQL: https://github.com/pingcap/tidb/issues/18030

Support the ability to `CREATE PLACEMENT POLICY` with the same options available in `CREATE TABLE|ALTER TABLE` context.

The following subtasks are known:

* [ ] Ensure {CREATE|ALTER|DROP} PLACEMENT POLICY requires the PLACEMENT_ADMIN privilege
    * [ ] Require CREATE PLACEMENT POLICY with `PLACEMENT_ADMIN

[2021-08-26 06:54] vivid392845427 opened #27604 "parallel excute ddl and dml in transaction，update return error：Data is corrupted, missing data for NOT NULL column (offset = 1) -> Error 1054: Unknown column 'new_balance' in 'field list'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

excute transaction autotest TIDB_ASYNC_COMMIT_RESOLVE，as follower:
cd /home/tidb/automated-tests/ticases/transaction
go build
 ./transaction run -i suite.async-commit.jsonnet --all

this case test scene，parallel excute ddl and dml in transaction
loop execute ddl：
alter tabl

[2021-08-26 07:21] apollodafoni opened #27605 "DBaaS : v5.2.0 lightning import parquet file in pending"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
import parquet file from S3
180GB
stop importing duiring precheck
![middle_img_v2_ac367f67-595e-4a90-98e5-dd6b0c74d2cg](https://user-images.githubusercontent.com/22490552/130918961-2373227b-fb94-4c0b-9eb6-e7d7f205640f.png)

### 2. What did you expect to see? (Required)
impor

[2021-08-26 09:44] fubinzh opened #27609 "Dumpling of list partition tables failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1.1 Set @@session.tidb_enable_list_partition = ON;
1.2. Create tables with list partition
1.3. Use dumpling to export the table

### 2. What did you expect to see? (Required)
Dumpling succeed.

### 3. What did you see instead (Required)
3.1 dumpling fails
[root@copy-of-vm-ee

[2021-08-26 10:53] ChenPeng2013 opened #27610 "wrong result when using index in enum column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
release-5.0
[code]
### 3. What did you see instead (Required)
release-5.1 & release-5.2 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-26 12:14] lilinghai opened #27613 "the association subquey result is not correct when collation is on"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

download and source the file
[1.txt](https://github.com/pingcap/tidb/files/7059587/1.txt)
[code]
### 2. What did you expect to see? (Required)
1
### 3. What did you see instead (Required)
3
### 4. What is your TiDB version? (Required)

Release Version: v5.2.0-alpha-750-g9f2

[2021-08-26 12:30] dbsid opened #27614 "exception of syntactic/semantics check"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run the tpcc consistent check again the tpc-c dataset. With the extra space after count function, the query failed with semantics check.
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB

[2021-08-26 13:14] seiya-annie opened #27615 "v5.2.0 version, auto-tls default value is ture in config.toml.example but false in online tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in config.toml.example
 Automatic creation of TLS certificates.
 Setting it to 'true' is recommended because it is safer and tie with the default configuration of MySQL.
 If this config is commented/missed, the value would be 'false' for the compatibility with TiDB versions

[2021-08-26 13:46] yedamao opened #27618 "migrate test-infra to testify for `server/conn_stmt_test.go`"
This is a subtask of #26863

[2021-08-26 13:48] yedamao opened #27619 "migrate test-infra to testify for `server/driver_tidb_test.go`"
This is a subtask of #26863

[2021-08-26 13:50] zhouqiang-cl opened #27620 "Timeout test `testDDLTableSplitSuite.TestTableSplit`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci  https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/29283/pipeline/

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-26 13:54] #27615 closed, assigned to nobody

[2021-08-27 01:16] tisonkun opened #27624 "Migrate GitHub Actions workflows of BR subtree"

[2021-08-27 02:24] lcwangchao opened #27626 "Provide `sortedRetrievers` to manage custom data fetch"

[2021-08-27 02:45] lcwangchao opened #27628 "Add method to transaction for setting custom range retrievers"

[2021-08-27 04:22] #27610 closed, assigned to wshwsh12

[2021-08-27 06:23] tiancaiamao opened #27633 "plan builder is too costly"
## Enhancement

![image](https://user-images.githubusercontent.com/1420062/131080499-04022dd3-a894-48c2-8dd6-f86e6185ecfe.png)

There are several apparent part in this picture:

- generate pseudo statistics cause allocation every time
- expression rewrite, from ast column name to expression column, the function takes a long time (maybe many columns?)
- the shadow copy of the column name in express

[2021-08-27 11:07] ChenPeng2013 opened #27641 "SPM: the update time is inconsistent with the time zone"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-27 17:58] kolbe opened #27645 "enumerate consulted stores in query plans (EXPLAIN ANALYZE, slow query log)"
## Feature Request

**Is your feature request related to a problem? Please describe:**

EXPLAIN ANALYZE output, and the query plan information included in the slow query log, shows the number of stores consulted for a query, but it doesn't show *which* stores were consulted for a query.

**Describe the feature you'd like:**

EXPLAIN ANALYZE output and query plan information in the slow query log s

[2021-08-28 00:35] tisonkun commented on #26833
Hi @lysu , is there a design document for this effort or an issue to create a design?

Also it looks like a lot of work to do, would you like to take a look at [developing in a feature branch](https://internals.tidb.io/t/topic/229)?

[2021-08-28 01:57] ekexium commented on #26833
There is a design doc but is internal and in Chinese.

We are trying to develop at a separate feature branch `pingcap:ft-data-inconsistency`.

[2021-08-28 07:07] phamtai97 opened #27647 "Latency commit and prewrite from TiDB to TiKV increased abnormally"
Hi all.

I monitored the TiDB dashboard and found the KV duration pannel to be rather unusual:
<img width="680" alt="Screen Shot 2021-08-28 at 1 41 29 PM" src="https://user-images.githubusercontent.com/38773351/131209585-20f28a3f-8950-4b6e-a154-4e94f3c0059a.png">

It has a regular repeating pattern. I monitor the metric of TiDB and TiKV and see everything as normal. I don't know if there is any pr

[2021-08-28 07:22] #27560 closed

[2021-08-28 08:37] bb7133 commented on #25126
Close it since it is duplicate with https://github.com/pingcap/tidb/issues/25691

[2021-08-28 08:37] #25126 closed

[2021-08-28 08:41] CycleYe opened #27648 "Empty string has different meanings in SELECT and UPDATE in a transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

statement 3 gets empty but statement5 gets
+----+---------+
| a| b|
+----+---------+
|  10 |       1 |
|  20 |       2 |
|  30 |       3 |
+----+---------+

### 4. Wha

[2021-08-29 02:53] tisonkun commented on #26393
closed by #26302

[2021-08-29 02:53] #26393 closed

[2021-08-29 07:17] UBarney commented on #26806
/assign

[2021-08-29 13:22] tisonkun commented on #27618
added as subtask of #26863, you can ping me on the description and I'll handle it. I think it is somehow GitHub's shortcoming comparing with JIRA where anyone can set up a subtask relation.

[2021-08-29 14:21] #27071 closed

[2021-08-29 14:50] xpepermint opened #27650 "How to verify that TiFlash works?"
Dup: https://github.com/pingcap/tidb-operator/issues/4163

I have a `TiDB` cluster with `TiFlash` installed on `k8s`. I'd like to verify that the `TiFlash` component works and understand when `TiFlash` is used over `TiKv`. I found out that one way of verifying the existence of `TiFlash` is to use the `EXPLAIN` operation in MySQL.

Example:
[code]

The result is always (`cop[tikv]`):

[code]

Pleas

[2021-08-29 14:58] karuppiah7890 commented on #27180
/assign

[2021-08-29 15:13] xpepermint commented on #27650
For anyone asking the same question, I came to the solution which I'd like to share with you here.

It seems that after the `TiFlash` component is installed you have to manually `ALTER` each table and enable `TiFlash`. So, to enable `TiFlush` on `items` table, where at least `1` replica is expected the SQL would look like this:

[code]

After executing the SQL above the `EXPLAIN` query above final

[2021-08-29 15:13] #27650 closed

[2021-08-29 15:35] karuppiah7890 opened #27651 "Flaky test: TestShowGrantsForCurrentUserUsingRole"
## Enhancement

The test [`TestShowGrantsForCurrentUserUsingRole`](https://github.com/pingcap/tidb/blob/master/privilege/privileges/privileges_test.go#L2250) is flaky. I was trying to run all the unit tests in the repo and noticed the `TestShowGrantsForCurrentUserUsingRole` test fail like this -

[code]

But later while running the same test standalone to check the error properly (as the full unit

[2021-08-29 15:38] sunxiaoguang commented on #27142
* [ ] migrate test-infra to testify for store/mockstore
* [ ] migrate test-infra to testify for store/driver
* [ ] migrate test-infra to testify for store/copr
* [ ] migrate test-infra to testify for store/store_test.go
* [ ] migrate test-infra to testify for store/helper/helper_test.go
* [ ] migrate test-infra to testify for store/gcworker/gc_worker_test.go

[2021-08-29 15:40] sunxiaoguang commented on #27142
Hi @tisonkun, we may create sub issues for this package to break them into smaller tasks.

[2021-08-29 15:53] tisonkun commented on #27142
Thanks for your prepare. Updating...

[2021-08-29 15:53] tisonkun opened #27652 "migrate test-infra to testify for `store/mockstore`"

[2021-08-29 15:53] tisonkun opened #27653 "migrate test-infra to testify for `store/driver`"

[2021-08-29 15:53] tisonkun opened #27654 "migrate test-infra to testify for `store/copr`"

[2021-08-29 15:54] tisonkun opened #27655 "migrate test-infra to testify for `store_test.go` & `batch_coprocessor_test.go`"

[2021-08-29 15:54] tisonkun opened #27656 "migrate test-infra to testify for `store/helper`"

[2021-08-29 15:54] tisonkun opened #27657 "migrate test-infra to testify for `store/gcworker`"

[2021-08-29 17:43] xpepermint opened #27658 "[FATAL] attempt to calculate the remainder with a divisor of zero"
## Bug Report

I have a running `TiDB` cluster with `TiFlash` component on the latest `k8s`. I see `TiFlash` crashing due to this error:

[code]

### 1. Minimal reproduce step (Required)

Should happen automatically after some time.

### 2. What did you expect to see? (Required)

No such error.

### 3. What did you see instead (Required)

The `[FATAL]` error above and then `CrashLoopBackOff` on `T

[2021-08-30 00:29] jingshanglu opened #27659 "IT `expression_index` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6415/pipeline

pr: #27593

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your

[2021-08-30 00:30] jingshanglu commented on #27659
/cc @morgo

[2021-08-30 01:22] tisonkun commented on #27180
@karuppiah7890 glad to see you working on this!

`ddl` is one of our most complicated packages and domains. Even if we just do tests migration, I suggest you start from child package like `ddl/label`, `ddl/placement`, etc.

You can collaborate with me as how @yadamao did https://github.com/pingcap/tidb/issues/27618#issuecomment-907790848 .

[2021-08-30 02:07] xxchan commented on #25808
I found there are only these TiDB-to-TiDB RPCs (in `rpcServer`):
- `diagnosticspb.RegisterDiagnosticsServer`: This uses `sysutil.DiagnosticsServer`, and isn't copr.
- `tikvpb.TikvServer`: copr
  - globalkill
  - cluster memtable

[2021-08-30 02:39] karuppiah7890 commented on #27180
Sure! Thanks @tisonkun ! I did think that this might be a hard one, looking at no one assigned themselves to it yet. I was planning on checking the package today to understand if it needs more subtasks, as I noticed more sub tasks for other issues. Looks like it does. I'll start from small packages that you mentioned 👍

I'll also note down all the test files and sub packages so that we can create

[2021-08-30 02:58] tisonkun commented on #27180
Either https://github.com/pingcap/tidb/issues/27618#issuecomment-907790848 or https://github.com/pingcap/tidb/issues/27142#issuecomment-907813161 is ok for me.

[2021-08-30 03:25] xiongjiwei opened #27661 "`fieldType` has collation but without charset information"
## Enhancement

the collation must have charset information, such as `utf8mb4_bin` -> `utf8mb4`, but in `fieldType`, it only set collation.

[2021-08-30 03:30] xiongjiwei opened #27662 "use part of the arguments to aggregate the collation"
## Enhancement
When construct a `ScalarFunction`, the function `newBaseBuiltinFuncWithTp` will use **all the arguments** to check and aggregate the collation. e.g.
[code]
but some functions should only use part of them. e.g.
[code]
the `if` function return type is only effects by parameter [2][3] so that only need parameter [2][3] to aggregate the final charset and collation, so do illegal check.

[2021-08-30 03:33] xiongjiwei opened #27663 "use the original arguments to aggregate the collation if the expression is implicit cast"
## Enhancement
implicit `cast`, e.g. `select concat(1,2)`. Arguments [1][2] will be cast to string type implicitly, it affects the repertoire, see [doc](https://dev.mysql.com/doc/refman/8.0/en/charset-repertoire.html#:~:text=For%20functions%20that%20return%20a%20string%20but%20do%20not%20have%20string%20arguments%20and%20use%20character_set_connection%20as%20the%20result%20character%20set%2C%20the

[2021-08-30 03:33] karuppiah7890 commented on #27180
Hoping we won't have too much complex things to comment in the GitHub issues, I'll choose to create just subtasks here for now for easy managment instead of creating too many GitHub issues. But yeah, while creating PRs, we can't close this issue with `Fixes #...`. Let's see. First let me create a list like this - https://github.com/pingcap/tidb/issues/27142#issuecomment-907813161

[2021-08-30 03:34] karuppiah7890 commented on #27180
Ah, https://github.com/pingcap/tidb/issues/27142#issuecomment-907813161 also has subtasks as GitHub issues, okay!

[2021-08-30 03:46] karuppiah7890 commented on #27180
File level list that we need to migrate

- [ ] ddl/attributes_sql_test.go
- [ ] ddl/callback_test.go
- [ ] ddl/column_change_test.go
- [ ] ddl/column_test.go
- [ ] ddl/column_type_change_test.go
- [ ] ddl/db_change_test.go
- [ ] ddl/db_integration_test.go
- [ ] ddl/db_partition_test.go
- [ ] ddl/db_test.go
- [ ] ddl/ddl_algorithm_test.go
- [ ] ddl/ddl_test.go
- [ ] ddl/ddl_worker_test.go
- [ ] ddl

[2021-08-30 04:18] #27278 closed

[2021-08-30 04:18] tisonkun commented on #26812
@zimulala I can see that several task items marked as done but the issue is still open, why?

[2021-08-30 04:27] tier-cap opened #27665 "Support drop/truncate table when TiKV disk full"
## Feature Request
1. When TiKV is disk full, the drop/truncate table should be allowed.

**Describe alternatives you've considered:**
N/A

**Teachability, Documentation, Adoption, Migration Strategy:**
1. When TiKV is disk full, some DML write operations will not be allowed. And for DDL operations with a small amount of writing, it is allowed. But with a huge amount of writing, not allowed.
2. Wh

[2021-08-30 04:38] zimulala commented on #26823
It is supported by PR: https://github.com/pingcap/tidb/pull/27288

[2021-08-30 04:38] #26823 closed

[2021-08-30 04:38] zimulala commented on #26834
It is supported by PR: https://github.com/pingcap/tidb/pull/27288

[2021-08-30 04:38] #26834 closed

[2021-08-30 04:39] zimulala commented on #26825
It is supported by PR: https://github.com/pingcap/tidb/pull/27288

[2021-08-30 04:39] #26825 closed

[2021-08-30 04:39] zimulala commented on #26824
It is supported by PR: https://github.com/pingcap/tidb/pull/27288

[2021-08-30 04:39] #26824 closed

[2021-08-30 04:42] zimulala commented on #26812
@tisonkun
Jiwei's PR dealt with multiple issues before, and he may not have noticed that the corresponding issues were not related. It's done now.

[2021-08-30 05:44] xuyifangreeneyes opened #27666 "ANALYZE TABLE t UPDATE/DROP HISTOGRAM ON col1 [, col2] ... is not implemented"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Behave like https://dev.mysql.com/doc/refman/8.0/en/analyze-table.html#analyze-table-histogram-statistics-analysis says. Update/drop histograms for certain columns.

### 3. What did you see instead (Required)
Just analyze

[2021-08-30 06:03] qw4990 opened #27667 "planner: `query_block` cannot work for sub-queries in select field"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

If the subquery is not in select field, both can work:
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2021-08-30 06:28] #26947 closed

[2021-08-30 06:58] ichn-hu commented on #26878
I've created a design doc with the background introduced, and now it seems we have 3 options for the refactoring, and I need some help on filling the design details and decide with way to go.

https://docs.google.com/document/d/1LIMuHv1wcI1VgfWo8KQK9RPlPXzoAuJHNy4Est1paF4/edit?pli=1#heading=h.t9kaf7pahrr5

I will filling the design details for **Replace the Framework with MPP Execution Framework**

[2021-08-30 06:59] qw4990 commented on #25301
`Agg` under `IndexJoin` also has this problem:
[code]
The above query cannot use `IndexJoin`.

[2021-08-30 06:59] tisonkun commented on #27180
@karuppiah7890 thanks for your prepare. Updating...

[2021-08-30 07:02] tisonkun opened #27669 "migrate test-infra to testify for `ddl/failtest` pkg"

[2021-08-30 07:02] tisonkun opened #27670 "migrate test-infra to testify for `ddl/label` pkg"

[2021-08-30 07:02] tisonkun opened #27671 "migrate test-infra to testify for `ddl/placement` pkg"

[2021-08-30 07:02] tisonkun opened #27672 "migrate test-infra to testify for `ddl/util` pkg"

[2021-08-30 07:03] tisonkun commented on #27180
@karuppiah7890 I created issues for all child packages. For files, I'd like to postpone a bit until you'd actually work on it. Maybe follow https://github.com/pingcap/tidb/issues/27618#issuecomment-907790848 and ask me to update the description, or ask me to create the issues.

[2021-08-30 07:04] ichn-hu commented on #26878
btw, you can tell me your email address and I can give editor permission to you @xxchan @feitian124

[2021-08-30 07:14] #26178 closed

[2021-08-30 07:17] feitian124 commented on #26878
@ichn-hu thanks for pin me.
my email is `feitian124@gmail.com`, but currently i only touched the surface of tidb, i am not sure if i am capable of doing this work. i will read your design doc and reply later

[2021-08-30 07:34] #27425 closed

[2021-08-30 07:34] JaySon-Huang commented on #27336
Another case from AskTUG: https://asktug.com/t/topic/152922
@mengxin9014 @LittleFall

[2021-08-30 07:48] jingshanglu opened #27673 "IT `expression_index` with `Cached` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
 ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6426/pipeline/145
 pr: #27199
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is y

[2021-08-30 07:49] jingshanglu commented on #27673
/cc @YuJuncen

[2021-08-30 08:13] #27659 closed

[2021-08-30 08:13] wjhuang2016 commented on #27673
Fixed by https://github.com/pingcap/tidb-test/pull/1271

[2021-08-30 08:22] #26981 closed

[2021-08-30 08:26] qw4990 opened #27674 "partition pruning panic when joining two TiFlash partition tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The `explain` can be processed successfully.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

v5.1.1

[2021-08-30 08:29] tangenta commented on #22730
Duplicated with https://github.com/pingcap/tidb/issues/24195.

[2021-08-30 08:29] #22730 closed

[2021-08-30 08:29] qw4990 commented on #27674
I'll fix this problem in Sprint5

[2021-08-30 08:55] milkice233 opened #27676 "Data too long error on latin1/ascii collate"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Launch mysql client, connect to tidb and execute the following command

[code]

### 2. What did you expect to see? (Required)

TiDB should output `Query OK, 1 row affected (0.00 sec)`, just like what MySQL does.

### 3. What did you see instead (Required)

TiDB returns an e

[2021-08-30 09:33] AilinKid opened #27679 "Give me the original trace stack when cancelling a ddl job"
## Enhancement
So far, when a ddl job encounter a error, TiDB will store the error message(not including the trace stack) into job and retry until the time limitation has been up to.

So what you can only in the ddl owner's log is something like below:
[code]

For the client side, what you can get is all about:
[code]

For the both side, the only thing you known is `pd unavailable`, but when and w

[2021-08-30 09:34] #27661 closed

[2021-08-30 09:40] tisonkun commented on #27665
@tier-cap is this issue fixed by https://github.com/pingcap/tidb/pull/26302?

[2021-08-30 09:53] zimulala commented on #27676
[code]

[2021-08-30 10:20] #27579 closed

[2021-08-30 10:54] tisonkun opened #27681 "Fake bug report"
for testing

[2021-08-30 11:15] jianzhiyao commented on #14395
/assign

[2021-08-30 11:30] jianzhiyao commented on #14395
@XuHuaiyu
Do you think LSM-Tree is a good idea for building disk-based map?

[2021-08-30 11:48] #27681 closed

[2021-08-30 13:14] fzhedu opened #27683 "group_concat order by rules are not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

### root cause
mysql take null as 0 for numeric data type, but tidb and tiflash take null as the minial value.

[2021-08-30 15:38] bb7133 commented on #27676
This is a known issue that is caused by some historical mistakes, as you can see from the [official website](https://docs.pingcap.com/tidb/stable/character-set-and-collation):

Since TiDB incorrectly treats `latin1` as a subset of `utf-8`, the value `î²>k°{ßt}ÊCID¿%` requires >20 bytes when encoding in UTF8, which caused `Data too long for column` error.

It is possible to be fixed if we do not co

[2021-08-30 15:38] #27676 closed

[2021-08-30 16:21] sylzd commented on #27603
It seems can be closed by one pr.

[2021-08-30 17:13] karuppiah7890 commented on #27669
/assign

[2021-08-30 21:31] SergeyHydra commented on #27655
@tisonkun hi! I'm interested in issue. Can i resolve it?

[2021-08-30 22:30] shellderp opened #27687 "TIDB Instantly runs out of memory when adding index"
## Bug Report

### 1. Minimal reproduce step (Required)

TiDB deployed with Kubernetes AWS deployment, 32gb memory dedicated node (https://docs.pingcap.com/tidb-in-kubernetes/stable/deploy-on-aws-eks/)

Created a table with the following schema

[code]

Inserted 3 million records with random values (I don't know how to reproduce trivially)

[code]

I ran:

[code]

No other queries are running on t

[2021-08-30 23:56] tisonkun commented on #27655
/assign @SergeyHydra

Thanks for taking over this issue. Go ahead!

[2021-08-31 01:13] unconsolable commented on #27652
/assign

[2021-08-31 02:01] zhouqiang-cl commented on #27673
Seems No. it still fail

[2021-08-31 02:04] zhouqiang-cl commented on #27673
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6457/pipeline

in integraion test with TIKV it fail

[2021-08-31 02:09] breeswish commented on #26568
@crazycs520 Please pay attention to this issue, which has been met in cloud.

[2021-08-31 02:40] morgo commented on #27570
@zhouqiang-cl can you confirm this still exists? Is it possible a failure a few days ago could have been because a branch had not rebased on master?

[2021-08-31 02:42] morgo commented on #27673
@wjhuang2016 it is a different query plan:

[code]

[2021-08-31 03:20] xiongjiwei commented on #26819
statistics information does not take account into charset, it will use `weight string`, so no work to do here.

[2021-08-31 03:20] #26819 closed

[2021-08-31 03:22] fzhedu commented on #27683
report to mysql but https://bugs.mysql.com/bug.php?id=104773&thanks=4

[2021-08-31 03:23] fzhedu commented on #27683
@morgo do you see this problem before?

[2021-08-31 03:33] Reminiscent commented on #26873
./reopen

[2021-08-31 03:33] Reminiscent commented on #26873
/reopen

[2021-08-31 03:33] Reminiscent commented on #26873
Related to https://github.com/pingcap/tidb/pull/23238

[2021-08-31 03:35] Reminiscent commented on #27594
Now the prepare plan cache can support the BatchPointGet. So I close the issue.

[2021-08-31 03:35] Reminiscent commented on #27594
/close

[2021-08-31 03:35] #27594 closed

[2021-08-31 03:41] morgo commented on #27683
I don't think it's a common use case. It is possible it is a bug that has been in MySQL for a long time.

[2021-08-31 03:44] Ranxy commented on #27654
/assign

[2021-08-31 05:24] #27343 closed

[2021-08-31 05:34] #27553 closed

[2021-08-31 05:39] zhouqiang-cl commented on #27673
fixed by https://github.com/pingcap/tidb-test/pull/1273

[2021-08-31 05:44] Yui-Song opened #27689 "Show DIGEST and PLAN_DIGEST in information_schema.statements_summary with Execution Plan as the Output of EXPLAIN ANALYZE"
## Feature Request

**Is your feature request related to a problem? Please describe:**

With the changes of data and statistics, the same SQL statement may have multiple execution plans. However, sometimes the plans look very similar to each other. Users have to figure out the differences row by row to confirm the plan has changed. Especially when the plan is very complicated, users may have troub

[2021-08-31 06:28] SabaPing commented on #24190
https://github.com/pingcap/tidb/pull/23534 brought an issue of unwanted GRPC logs.
And it fixed by pr: https://github.com/pingcap/tidb/pull/25454.

[2021-08-31 06:31] SabaPing commented on #24190
#23534 caused an issue that some slow log file configs not working. This made unexpected disk usage.
https://github.com/pingcap/tidb/issues/25716.

Fixed by pr: https://github.com/pingcap/tidb/pull/27625

[2021-08-31 06:34] SabaPing commented on #24190
There is a pr that enables runtime logger configuration: [session: add session var to update global logger max days](https://github.com/pingcap/tidb/pull/27595)

[2021-08-31 07:09] zhouqiang-cl commented on #27570
thank you @morgo , it not exist now

[2021-08-31 07:09] #27570 closed

[2021-08-31 07:09] zhouqiang-cl commented on #27355
Seems fixed now

[2021-08-31 07:09] #27355 closed

[2021-08-31 08:08] jingshanglu opened #27693 "` tidb-ci/fullstack-test-dt/group_concat.test` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_tics_test/detail/tidb_ghpr_tics_test/5955/pipeline/31
pr: #27684
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-31 08:08] cfzjywxk commented on #25659
Fixed in #25730 and related cherry-picks.

[2021-08-31 08:08] #25659 closed

[2021-08-31 08:08] jingshanglu commented on #27693
@dveeden

[2021-08-31 08:10] cfzjywxk commented on #25419
Fixed by tikv/client-go#88 and related cherry-picks.

[2021-08-31 08:10] #25419 closed

[2021-08-31 08:12] #25846 closed

[2021-08-31 08:18] dveeden commented on #27693
I don't see how that PR is related to the failure.

[2021-08-31 08:21] cfzjywxk commented on #25457
@xhebox PTAL

[2021-08-31 08:28] cfzjywxk commented on #26544
@sticnarf
Should we close this issue by now?

[2021-08-31 08:30] #26794 closed

[2021-08-31 08:40] xhebox commented on #25457
@cfzjywxk Thanks for the reminding, there is already a merged PR for this issue: pingcap/tidb#26840. We could close it for now. If there are more unstable cases, we could reopen it.

[2021-08-31 08:50] #27101 closed

[2021-08-31 08:56] cfzjywxk commented on #27604
The error message is not friendly and a bit scary, we may need to add extra checks or refactor the errors for this path.

[2021-08-31 09:08] #27603 closed

[2021-08-31 09:48] #26836 closed

[2021-08-31 09:51] wjhuang2016 opened #27698 "varbinary + int should be double"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
123459.12
### 3. What did you see instead (Required)
123459
### 4. What is your TiDB version? (Required)
master

[2021-08-31 09:52] wjhuang2016 commented on #27698
The problem is that, in numericContextResultType(), if types.IsBinaryStr(ft) then int. It's wrong. We should distinguish hex literal from varbinary.

[2021-08-31 10:25] unconsolable commented on #27651
Another occurence https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/30304/pipeline/62/

[code]

[2021-08-31 10:32] tisonkun commented on #27651
@unconsolable added.

@karuppiah7890 thanks for reporting this. We regard unstable tests as bugs - and should be fixed in time seriously.

@morgo could you please take a look?

[2021-08-31 10:55] ichn-hu commented on #27693
this has nothing to do with 27684, @fzhedu PTAL

[2021-08-31 11:00] ichn-hu commented on #27687
thanks for reporting this bug!

I unrolled the stack

[code]

do you have trouble if the primary key is not clustered index?

[2021-08-31 11:28] sticnarf commented on #26544
I think so. After write stall is removed, this issue should not happen.

@Lily2025 If you encounter the same problem after TiKV 5.2, free free to reopen this issue.

[2021-08-31 11:28] #26544 closed

[2021-08-31 12:42] TszKitLo40 commented on #27698
/assign

[2021-08-31 12:44] TszKitLo40 commented on #27698
Do you mean if there is hex literal in varbinary, we should return types.ETDecimal?

[2021-08-31 13:38] hooopo opened #27702 "Unsupported creating expression index without allow-expression-index in config"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

config.toml

[code]

[code]

[code]

### 2. What did you expect to see? (Required)

no error

### 3. What did you see instead (Required)

ERROR 8200 (HY000): Unsupported creating expression index without allow-expression-index in config

### 4. What is your TiDB version? (R

[2021-08-31 14:03] unconsolable commented on #27652
- [ ] store/mockstore/mockcopr, store/mockstore/unistore/cophandler
- [ ] store/mockstore/unistore/lockstore, store/mockstore/unistore/util/lockwaiter
- [ ] store/mockstore/unistore/raw_handler_test.go, store/mockstore/cluster_test.go, store/mockstore/tikv_test.go
- [ ] store/mockstore/unistore/tikv

[2021-08-31 14:56] penthaapatel commented on #27657
Hi! 👋
I would like to work on this.

[2021-08-31 15:15] penthaapatel commented on #27657
/assign

[2021-08-31 16:09] tisonkun commented on #27657
@penthaapatel thanks for taking over this issue. Go ahead!

[2021-08-31 20:05] LittleFall opened #27706 "tidb_enforce_mpp should change point_get to TiFlash TableScan."
## Enhancement

[code]

point_get is faster than table scan, but in this situation, we need a table scan to push down join and other upper-level plans to TiFlash.

[2021-09-01 00:29] tisonkun commented on #27177
Hi @w169q169 , is there any progress on this issue?

[2021-09-01 01:08] tisonkun opened #27708 "migrate test-infra to testify for `types/set_test.go`"

[2021-09-01 01:58] #27019 closed

[2021-09-01 02:09] djshow832 opened #27710 "Granting privileges to a specific table in `metrics_schema` reports error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

The same problem exists for `performance_schema`.

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-09-01 02:18] zhouqiang-cl opened #27711 "AutoTLS UT fails"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/9958/pipeline/127
### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-09-01 02:18] zhouqiang-cl commented on #27711
@dveeden PTAL

[2021-09-01 02:21] sylzd commented on #27710
/assign

[2021-09-01 02:24] djshow832 opened #27712 "Querying `performance_schema` doesn't need any privileges"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-09-01 02:40] wjhuang2016 commented on #27698
No, it should be ETReal

[2021-09-01 02:42] TszKitLo40 commented on #27698
Yeah, it should be ETReal. But how to know whether there is hex literal in varbinary?

[2021-09-01 02:47] wjhuang2016 commented on #27698
I think we can use a flag(like IsBooleanFlag), what do you think? @XuHuaiyu

[2021-09-01 03:01] xiongjiwei opened #27713 "fold constant makes wrong collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

`utf8mb4_unicode_ci`

### 3. What did you see instead (Required)

`utf8mb4_bin`

### 4. What is your TiDB version? (Required)

[2021-09-01 03:32] lcwangchao opened #27714 "Support ALTER PLACEMENT POLICY"

[2021-09-01 05:04] #27713 closed

[2021-09-01 05:48] dveeden commented on #27711
This looks like a one-time issue where creation of TLS Certificates failed. It looks like the temp storage wasn't created which caused the code creating the certificates to fail on opening `cert.pem` for writing.
[code]

[2021-09-01 06:12] #27702 closed

[2021-09-01 06:13] hooopo commented on #27702
use `allow-expression-index = true`

[2021-09-01 06:26] MyonKeminta opened #27718 "Show information about SQL statement in the debug log about coprocessor encountering lock"
## Enhancement

When coprocessor reading meets lock, TiDB will print a [debug log](https://github.com/pingcap/tidb/blob/477593e31f281d57d66319a66d56326baf809c1a/store/copr/coprocessor.go#L885). However it shows nothing about the related SQL statements, and there's not anywhere else that shows the statements that's affected by the lock. If this log can print the statement, it will be helpful for di

[2021-09-01 06:36] #27626 closed

[2021-09-01 06:38] xxchan commented on #26878
Hello @coocood, could you please tell us why unistore implements a closureExecutor to replace the volcano model? (https://github.com/ngaut/unistore/pull/76)

[2021-09-01 06:54] xiongjiwei opened #27720 "support translate query results to character set result before shipping them back to the client"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-09-01 07:44] qw4990 opened #27723 "planner: full-group checking cannot handle case sensitivity correctly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The query can be processed without any error.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-09-01 08:16] ChenPeng2013 opened #27725 "fatal error: sync: unlock of unlocked mutex"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[tidb_stderr.log](https://github.com/pingcap/tidb/files/7089416/tidb_stderr.log)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2021-09-01 08:45] SunRunAway commented on #14395
I doubt no.
the performance of any disk-based map is horrible because of random IO. We'd better consider another method.

[2021-09-01 08:50] jianzhiyao commented on #14395
Level DB is a key-value database based on LSM-tree. LSM-tree can turn random I/O into sequential I/O.

[2021-09-01 08:50] Reminiscent commented on #26868
/assign

[2021-09-01 08:51] XuHuaiyu commented on #14395
@jianzhiyao
@wshwsh12 has an idea, can you describe it here?

[2021-09-01 08:53] jianzhiyao commented on #14395
I have talk about this with @wshwsh12 ,but I think LSM-tree is a another good solution for this, because even rocksdb base on it.

[2021-09-01 08:55] Reminiscent commented on #26868
In the latest master, the plan cache can be hit.
[code]

[2021-09-01 09:02] XuHuaiyu commented on #14395
@jianzhiyao
If we use an LSM-tree to store the hash table, we'll have to take a random I/O operation each time when we want to fetch a key-value pair from the hashtable.
I doubt that the performance will be bad.

[2021-09-01 09:10] sylzd opened #27726 "bindinfo: Support in(?+) sql bind to cover the number changed of in expression"
## Enhancement

case like that:

### 1. table schema

[code]

### 2. What did you expect to see? (Required)

[code]
succeed, and it works.

### 3. What did you see instead (Required)

[code]

[2021-09-01 09:14] sylzd commented on #27726
/assign

[2021-09-01 09:25] jianzhiyao commented on #14395
first, lsm-tree is used widely in many product enviroment.
and for that issue we can only store the key in lsm-tree to improve performance.
After all, we can make a benchmark testing for random keys withlsm-tree.

[2021-09-01 09:31] SunRunAway commented on #14395
using LSM tree to simulate temporary hash table is horrible for read, all read will comes to random io.

[2021-09-01 09:38] coocood commented on #26878
For better performance, but it doesn't matter much for embeded unistore.

[2021-09-01 09:44] Defined2014 commented on #27210
/assign

[2021-09-01 09:58] tisonkun commented on #9892
closed as wontfix

[2021-09-01 09:58] #9892 closed

[2021-09-01 09:59] tisonkun commented on #10470
closed as wontfix

[2021-09-01 09:59] #10470 closed

[2021-09-01 10:00] tisonkun commented on #13433
closed as wontfix

[2021-09-01 10:00] #13433 closed

[2021-09-01 10:00] tisonkun commented on #13635
closed as wontfix

[2021-09-01 10:00] #13635 closed

[2021-09-01 10:04] tisonkun commented on #16381
As my observation there is several voice talking about go submodule or be able to get tidb by `go get`. Remove the wontfix tag and revive the issue.

Reference

* https://internals.tidb.io/t/topic/364/7

[2021-09-01 10:09] jianzhiyao commented on #14395
Got it.

[2021-09-01 10:34] sylzd commented on #27726
it can work when make multi `?`
[code]

[2021-09-01 10:34] #27726 closed

[2021-09-01 11:07] youngwookim commented on #26810
Works on 5.0.3 version but 5.1 and 5.2 version do not work as expected. Any alternatives to avoid this bug for now?

[2021-09-01 11:24] tisonkun commented on #26044
Duplicate of #26120

[2021-09-01 11:24] #26044 closed

[2021-09-01 11:24] tisonkun commented on #22795
Duplicate of tikv/tikv#8783 .

[2021-09-01 11:24] #22795 closed

[2021-09-01 11:24] tisonkun commented on #22223
Duplicate of #22224

[2021-09-01 11:24] #22223 closed

[2021-09-01 11:26] tisonkun commented on #14586
Duplicate of #18989

[2021-09-01 11:26] #14586 closed

[2021-09-01 12:28] yuqi1129 opened #27736 "Add id column to table `mysql.bind_info` so that we can query or delete by id"
## Enhancement
Currently we can only delete sql binding by bindable sql, However, when bindable sql is large enough, we can't delete sql binding freely

[2021-09-01 13:46] zhouqiang-cl commented on #27711
Seems it fails very frequently https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/9962/pipeline/135

[2021-09-01 13:59] fanghl opened #27739 "TiDB failed to start after one of 3 TiKV nodes generates malformed data"
## General Question
增加1TiKV也无法起动
使用ansible-playbook进行操作

服务一直报9005

[2021-09-01 14:03] fanghl commented on #27739
{"changed": false, "elapsed": 300, "msg": "the TiDB port 3306 is not up"}

[2021-09-01 14:03] fanghl commented on #27739
[2021/09/01 22:03:00.627 +08:00] [FATAL] [session.go:1392] ["check bootstrapped failed"] [error="[tikv:9005]Region is unavailable[try again later]"] [errorVerbose="[tikv:9005]Region is unavailable[try again later]\ngithub.com/pingcap/errors.AddStack\n\t/home/jenkins/workspace/release_tidb_2.1-ga/go/pkg/mod/github.com/pingcap/errors@v0.11.1/errors.go:174\ngithub.com/pingcap/errors.Trace\n\t/home/je

[2021-09-01 14:37] dveeden commented on #27711
/assign @dveeden

[2021-09-01 15:19] dbsid opened #27745 "improve the efficiency of intersect operator"
## Enhancement

tpc-ds query 38 on 50G data set failed to execution on TiDB and cause OOM.
Below are part of the query 38. the number of rows on two sides of the intersect is around two millions. currently the intersect need to go through CARTESIAN semi join, cause the data explosion and OOM. Suggest to handle intersect by a specific operator, which can check if all the columns are null values, to

[2021-09-01 17:18] joseespinoza opened #27746 "Prometheus Alertmanager sends a lot of warning-level alerts as high-level alerts"
Some alerts, such as

tikvclient_backoff_seconds
tikv_coprocessor_request_error
tidb_memory_abnormal
tikv_pending_task

Are being sent hrough the High (more severe) channel. These are warnings that should really be routed differently or ignored.

While it is possible to use custom rules to overwrite the default ones by edit settings with `tiup cluster edit-config` and `reload`, see https://docs.pi

[2021-09-02 02:31] Reminiscent commented on #27736
/assign

[2021-09-02 02:35] jackwener commented on #25293
Hi, I'd like to know whether it's open for working person.

[2021-09-02 03:42] #27210 closed

[2021-09-02 03:54] #27711 closed

[2021-09-02 04:02] fubinzh opened #27749 "Lightning import 35k tables failed on new cluster for too many empty regions and region distribution is unbalanced"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Deploy a new cluster
2. Use lightning to import 35K table (437M, with partitions in some of the schema) to tidb
    Data source: http://minio.pingcap.net:9000/minio/nfs/tools_test_data/new_data1/

### 2. What did you expect to see? (Required)
Import should be successful,

[2021-09-02 04:05] lance6716 opened #27750 "can't UPDATE an ENUM using numeric index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

found in [DM CI](https://ci.pingcap.net/blue/organizations/jenkins/dm_ghpr_new_test/detail/dm_ghpr_new_test/2175/pipeline/170/)

[code]

[code]

### 2. What did you expect to see? (Required)

no error

### 3. What did you see instead (Required)

[code]

`1` is the value of

[2021-09-02 04:06] #27228 closed

[2021-09-02 04:38] fzhedu opened #27751 "group_concat returns wrong results after set group_concat_max_len"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
from mysql 8
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-09-02 06:33] dveeden opened #27755 "Authentication compatibility with Navicat"
# Environment
TiDB: 5.7.25-TiDB-v5.2.0-alpha-800-gafca7649f
MySQL: 8.0.26
Navicat for MySQL: 15.0.28

# Account setup

[code]

# Validating accounts with a MySQL client

[code]

# Testing with Navicat
This is navicat with default settings, but with  Host=127.0.0.1, Port=4000 and user/password set appropriately

* nopwd: OK
* native: OK
* sha2: "1045 - Access denied for user 'sha2'@'127.0.0.1' (usi

[2021-09-02 06:34] dveeden commented on #27755
/assign @dveeden
/type compatibility

[2021-09-02 06:41] dveeden commented on #27711
/unlabel needs-more-info

[2021-09-02 06:42] fubinzh opened #27757 "Lightning: add to feature to validate / determine header configuration of csv import"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When lightning import CSV, it is possible mydumper.csv.header configuration is not correct ( header is true while there is no header, or vice versa)
In this case, lightning import might import data incorrectly, and finally fails at checksum phase. We should try to validate or determine this configuration to avo

[2021-09-02 06:46] dveeden commented on #27210
This indeed fixed the issue. MySQL Workbench now uses the MySQL 8 version of the syntax (with CTE support) if I set the version to `8.0.26-tidb-5.2`.

[2021-09-02 06:48] yuqi1129 opened #27758 "Fix affected row in drop sql binding so that we can avoid clear cache if affected rows is 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Master branch

Drop bind sql use `UPDATE mysql.bind_info SET status = %?, update_time = %? WHERE original_sql = %? AND update_time < %?` to judge whether there exists the sql binding, but this is not true, the correct sql should add
`status != 'deleted'`, for example, if th

[2021-09-02 06:49] yuqi1129 commented on #27758
/assign

[2021-09-02 07:03] wjhuang2016 opened #27760 "Refactor currentTimeFunctionClass and utcTimeFunctionClass"
## Enhancement

currentTimeFunctionClass is very simlier to currentTimeFunctionClass. We can see from the MySQL's code:
[code]
This means that we can reuse some codes.
After investigation, I could that currentTimeFunctionClass's `flen` is more accurate than currentTimeFunctionClass. We can fix it by using currentTimeFunctionClass's logic.

[2021-09-02 07:14] #14765 closed

[2021-09-02 07:28] buggithubs opened #27761 "GRANT DROP VIEW on xxx failed"
## General Question

MySQL Doc：https://dev.mysql.com/doc/refman/5.7/en/drop-view.html

Is TiDB not designed with `drop view` permission?

[code]

**TiDB version：5.2.0**

[2021-09-02 07:38] XuHuaiyu opened #27762 "optimize the directory structure of executor package"
## Enhancement
There are too many `.go` files in the package executor, we need to split the files into multiple subdirectories.
![executor_package](https://user-images.githubusercontent.com/9039012/131802563-eb9ff054-d637-4cef-ad00-42ec139da20b.jpg)

[2021-09-02 07:41] fubinzh opened #27763 "Lightning: DBaaS import csv fails with InvalidRange if CSV file size is about 256MB when strict-format is true"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
On DBaaS, try to import csv from S3, S3 bucket files like below:
[root@centos76_vm ~]# du -shl /minio/fubin/dbgen/xxx/*
257M    /minio/fubin/dbgen/aaaa/aaaa.bbbb.000000000.csv
257M    /minio/fubin/dbgen/aaaa/aaaa.bbbb.000000001.csv
257M    /minio/fubin/dbgen/aaaa/aaaa.bbbb.0

[2021-09-02 07:42] LittleFall commented on #27706
@lisong0214

[2021-09-02 08:03] tisonkun commented on #27762
I propose to address this issue along with #26854 since almost functions relate with `integration_test.go`. Decoupling logics also requests rearrange tests, migration can be done on the fly. Be sure that we refactor code instead of making non-trivial changes.

[2021-09-02 09:17] xxchan opened #27770 "Clean up mocktikv"
## Enhancement
Since `mocktikv` is deprecated, we'd better remove it to avoid confusion.

[2021-09-02 09:19] wjhuang2016 opened #27771 "maketime function gets wrong precision"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-09-02 09:34] nolouch commented on #25281
/assign  @IcePigZDB @qidi1

[2021-09-02 09:42] nolouch opened #27772 "Add virtual table `TiDB_HOT_REGIONS_HISTORY `"
ref https://github.com/pingcap/tidb/issues/25281

## Background

TiDB has a memory table `TIDB_HOT_REGIONS` that provides information about hotspot regions. But it only shows the current hotspot information. This leads to the fact that when DBAs want to query historical hotspot details, they have no way to find the corresponding hotspot information.

According to the [documentation](https://docs.p

[2021-09-02 09:43] nolouch commented on #25281
/assign @qidi1

[2021-09-02 09:49] zimulala commented on #27687
@shellderp
Did the cluster change the values of `tidb_ddl_reorg_worker_cnt` and `tidb_ddl_reorg_batch_size`? We can show it by executing the `select @@global.tidb_ddl_reorg_worker_cnt;` and `select @@global.tidb_ddl_reorg_batch_size;` statements.

In addition, could you please give all the logs during the execution of this "Add Index"?

[2021-09-02 10:03] lcwangchao opened #27775 "Provide `TemporaryTableDDL` to mange temporary table ddl opeartions."
We have too many temporary table states in session.variables and they are exposed to users directly. For example, when dropping a local temporary table, the ddl executor should invoke sessVars.LocalTemporaryTables.RemoveTable first and then clear the table's data in sessVars.TemporaryTableData.

To decouple those codes, we should introduce a package to manage these operations and provide unified A

[2021-09-02 10:46] w169q169 commented on #27177
I'm working on it, but this package need too much work  (65 test func and 417 assert statements). My plan is submitting changes in several stages(may be 4-5 pr).
1. split into serveral file(origin test file is too big and new tests is added on the same time)
2.  migrate some old tests in old file(bind_test.go) in new file
3.  submit a pr
4. repeat ste-2,step-3

[2021-09-02 11:25] tisonkun commented on #13567
closed as all tasks done.

[2021-09-02 11:25] #13567 closed

[2021-09-02 11:28] tisonkun commented on #13426
@djshow832 why do you close this issue? Is there a PR fix it?

[2021-09-02 12:42] #27750 closed

[2021-09-02 12:50] #27708 closed

[2021-09-02 13:40] db-will opened #27778 "Lightning: when status-port is not set or connection timeout, lightning will hang forever"
## Bug Report

when lightning config doesn't contain status-port, or it can't establish connection with tidb status-port, lightning process will hang forever. no error shows up.

### 1. Minimal reproduce step (Required)

Opt1: Startup lightning with config file doesn't contain status-port
Opt2: Startup lightning with config file contain status-port but make the server status-port not connectable

[2021-09-02 14:26] Reminiscent commented on #21475
/assign

[2021-09-02 14:51] #27739 closed

[2021-09-02 14:52] tisonkun commented on #27739
Closed as recommended to ask on AskTUG.

[2021-09-02 15:55] feitian124 opened #27779 "maybe common mistakes with table driven tests and t.Parallel()"
## Bug Report

I am tring to figure out a strang problem in pr #27557, in which 2 tests fail if i add `t.Parallel()` and work well if i removed it. Then when i tried to find more info about `t.Parallel()`, i found that there maybe an common mistake in our test.

###  problem

[code]
for above table driven tests, `test1`, `test2`, `test3` should fail, `test 4` should pass, it works as expect.
but i

[2021-09-02 15:56] feitian124 commented on #27779
@tisonkun please take a look and confirm, thanks

[2021-09-02 16:17] tisonkun commented on #27779
I think you can add the linter and trying to generate a report on how much we suffer from this problem.

For the PR #27557 , just fix it and move forward.

[2021-09-02 16:43] karuppiah7890 commented on #27180
I removed my assignment @tisonkun

[2021-09-02 16:44] karuppiah7890 commented on #27669
I removed my assignment @tisonkun

[2021-09-02 19:10] morgo commented on #24700
I took a look at this today. I instrumented some of the common domain tasks and then ran a tpcc bench:
[code]

There's still a few small details to work out. `stats_refresh_vars` is slow because lock time is included - but I actually think we can get rid of this background task because of sysvar cache.

[2021-09-02 20:29] 3mard commented on #27656
Hi
I'd like to take this

[2021-09-03 00:13] tisonkun commented on #27656
@3mard thanks for taking over it. Go ahead!

[2021-09-03 01:38] tshqin opened #27781 "add MINUS as a synonym of EXCEPT"
This is an usability request, pls add MINUS as EXCEPT's synonym.

[code]

[2021-09-03 02:03] zyguan commented on #27648
Transaction is not required for this issue.
[code]

[2021-09-03 02:24] ChenPeng2013 opened #27782 "tidb-lightnling import failed after scale-in a tikv node"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tiup cluster deploy 3_tikv
tiup cluster scale-in tikv_1
./tidb-lightning --config tidb-lightning.toml

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master
[code]

[2021-09-03 02:38] #26790 closed

[2021-09-03 02:43] jingshanglu commented on #27673
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6506/pipeline

case `expression_index` failed, maybe related this one.

[2021-09-03 03:26] Reminiscent commented on #21475
After this [PR](https://github.com/pingcap/tidb/pull/23161).The  SPM will not be affected by charset.
In the lastest master, we can see
[code]

[2021-09-03 03:27] Reminiscent commented on #21475
/close

[2021-09-03 03:27] #21475 closed

[2021-09-03 03:59] rleungx opened #27784 "Add index to support label rule override"
## Development task

[2021-09-03 04:47] Little-Wallace commented on #27782
Do not import data when cluster do not finish scale

[2021-09-03 05:32] Ehco1996 opened #27786 "Empty GLOBAL VARIABLES `version` in nighty version"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

show normal version like

[code]
### 3. What did you see instead (Required)

empty version

### 4. What is your TiDB version? (Required)
./tidb-server -V
[code]

SELECT tidb_version()
[code]

[2021-09-03 05:48] Defined2014 commented on #27786
I think it's caused by #27731. Sorry, I will fix it.

[2021-09-03 05:48] Defined2014 commented on #27786
/assign

[2021-09-03 06:20] Little-Wallace opened #27787 "BR: retry for PD request error and TiKV IO error."
## Bug Report

I use BR to backup data from TiKV to S3. And BR task failed with the following log:
[code]
I check the code and find that `IO::Custom` does not include in errors which are allowed to retry request.
[code]

But I think it is usually that the requests to S3 fail or break just because timeout. Because user usually deploy a S3 cluster with the normal disk instead of nvme. So we shall re

[2021-09-03 06:26] ChenPeng2013 opened #27788 "tpcc partition table performance test"
## Performance Questions

- What version of TiDB are you using?

master d58d39e9476f2503a1e8790f78a0d25272d0aabe

- What's the observed and your expected performance respectively?

14000 warehouse
20 threads

  | HASH | LIST  (like hash) | (list-hash)/list | RANGE | LIST  (like range) | (list-range)/list
-- | -- | -- | -- | -- | -- | --
DELIVERY(TPM) | 1849.3 | 2156.6 | 16.61% | 1685.0 | 1833.9 |

[2021-09-03 06:39] tisonkun commented on #27177
@w169q169 thanks for your updates! That makes sense for me. Yes I'd like to split into multiple test files also. Please let me know when you create the first PR. And ask for me updating the issue description if necessary.

[2021-09-03 06:49] jackwener commented on #27760
/pick-up

[2021-09-03 06:49] jackwener commented on #27760
/assign-me

[2021-09-03 06:49] jackwener commented on #27760
/help

[2021-09-03 06:54] jackwener commented on #27760
/pickup

[2021-09-03 07:02] tisonkun commented on #27760
@jackwener you can comment `/assign` to assign your self

[2021-09-03 07:03] tisonkun commented on #27760
This time I just do for you (x

[2021-09-03 07:04] jackwener commented on #27760
Thank you !
Some changes misled me.

[2021-09-03 07:10] xhebox commented on #26804
It is safe **under the current impl**.

For example, the first one `<-d.limitJobCh` is blocking, but it checks for length. And there is only one receiver, which means it will increase monotonically for this goroutine. So it is completely safe to block. Similar to case 5.

The other cases are safe, as long as we send the quit chan, it won't be a dead loop. I choose to close the issue, if you have f

[2021-09-03 07:10] #26804 closed

[2021-09-03 07:12] tisonkun commented on #27760
@jackwener never mind. I'd like to see more conversation instead of commands. For example, what do you think to fix this issue? Or it is simple enough to just push a PR？

[2021-09-03 07:22] jackwener commented on #27760
Due to the lack of background or context, I am looking for some relevant material.
I think it would be useful and friendly for the assignees with attach some material of author?

I am accustomed to assign-self first, then find some material and read source code.
I am newbie of open-source, maybe this is a bad habit. Hoping your corrections.

[2021-09-03 07:54] jackwener commented on #27760
@wjhuang2016 Hi, there may be some typo in your description due to c/v.

[2021-09-03 08:02] vivid392845427 opened #27793 "pd panic when run tipocket testcase in test-store"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

excute tipocket test case in test-store
bank2 -run-time=6h -tiflash-replicas=2 -tiflash-data-replicas=1 -nemesis=short_kill_tiflash_1node,shuffle-leader-scheduler,shuffle-region-scheduler,random-merge-scheduler

### 2. What did you expect to see? (Required)

the case run su

[2021-09-03 08:14] yuqi1129 opened #27794 "Add cdc cluster info into system table cluster_info"
## Enhancement
As cdc also depends on PD, we can freely add cdc information into information_schema.cluster_info. So we can have view to cdc information in TiDB and do not need to use tiup

[2021-09-03 08:14] yuqi1129 commented on #27794
/assigin @yuqi1129

[2021-09-03 08:14] wjhuang2016 commented on #27760
Yeah, I've fixed it.

[2021-09-03 08:15] yuqi1129 commented on #27794
/assign @yuqi1129

[2021-09-03 08:30] vivid392845427 opened #27795 "tidb panic when run tipocket testcase in test-store"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run tipocket testcase in test-store
bank2 -run-time=6h -tiflash-replicas=2 -tiflash-data-replicas=1 -nemesis=short_kill_tiflash_1node,shuffle-leader-scheduler,shuffle-region-scheduler,random-merge-scheduler

### 2. What did you expect to see? (Required)

success

### 3. Wha

[2021-09-03 08:44] est commented on #21354
Can confirm this is different behavior

[code]

where as in TiDB

[code]

[2021-09-03 08:48] #27786 closed

[2021-09-03 09:00] time-and-fate opened #27797 "wrong result when aggregation on partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

release 5.0, release 5.1, release 5.2, master

[2021-09-03 09:24] Cira-Zhao opened #27800 "release: v4.0.15"
- [x] 1st triage: Sep 6
- [x] 2nd triage: Sep 8
- [x] Sep 9: merge finished
- [x] Sep 10: seal version and release note review
- [x] Sep 27: release

[2021-09-03 09:24] Cira-Zhao opened #27801 "release: v5.1.2"
- [x] 1st triage: Sep 10
- [x] 2nd triage: Sep 15
- [x] Sep 16: merge finished
- [x] Sep 17: seal version and release note review
- [x] Sep 27: release

[2021-09-03 10:43] fubinzh commented on #27782
this issue is handled by PR https://github.com/pingcap/br/pull/1334

[2021-09-03 12:22] joccau commented on #27787
assign @joccau

[2021-09-03 13:35] jianzhiyao commented on #27092
/assign

[2021-09-03 13:38] yedamao opened #27804 "migrate test-infra to testify for `server/http_handler_test.go`"
This is a subtask of #26863

[2021-09-03 13:39] yedamao opened #27805 "migrate test-infra to testify for `server/server_test.go`"
This is a subtask of #26863

[2021-09-03 13:39] yedamao opened #27806 "migrate test-infra to testify for `server/tidb_test.go`"
This is a subtask of #26863

[2021-09-03 13:41] yedamao opened #27807 "migrate test-infra to testify for `server/statistics_handler_test.go`"
This is a subtask of #26863

[2021-09-03 13:41] yedamao opened #27808 "migrate test-infra to testify for `server/util_test.go`"
This is a subtask of #26863

[2021-09-03 13:45] yedamao commented on #26863
@tisonkun Please add #27804 #27805 #27806 #27807 #27808 as subtask of this issue.

[2021-09-03 14:19] Howie59 commented on #27679
/assign

[2021-09-03 14:33] tisonkun commented on #26863
@yedamao updated. Thanks a lot for driving this issue!

[2021-09-04 01:09] jianzhiyao commented on #27092
May be we should modify the UpdatePartialResult of AggFunc.
like:
[code]

Is it seems necessary? the cost may be not small.

[2021-09-04 04:30] #27657 closed

[2021-09-04 14:01] lipingmu101 opened #27810 "can't get why sql is slow from execution plan"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
select tidb_decode_plan('owHwPjAJMjdfMQkwCTAJTi9BCTAJdGltZTozMnMsIGxvb3BzOjEsIHByZXBhcmU6MzEuOXMsIGluc2VydDo5MS43bQUnJGNrX2tleXM6IHsFPUwxMzguNG1zLCByZWdpb246MTksIAUgDDgwMDABV0Bja19ycGM6MS4yOTU2NDc2MQFuZHJwY19jb3VudDo2MH0JOS41MyBNQglOL0EK');

Insert_1        root    0       N

[2021-09-05 11:46] #27714 closed

[2021-09-05 14:19] feitian124 commented on #27589
/assign

[2021-09-05 15:28] feitian124 commented on #27590
/assign

[2021-09-05 16:34] time-and-fate commented on #27797
Duplicated with #26554

[2021-09-05 16:34] #27797 closed

[2021-09-05 16:36] time-and-fate commented on #27797
/unlabel needs-more-info

[2021-09-05 16:36] time-and-fate commented on #27797
/remove-label needs-more-info

[2021-09-06 02:25] tisonkun opened #27815 "migrate test-infra to testify for `util/disk` pkg"

[2021-09-06 02:27] tisonkun opened #27816 "migrate test-infra to testify for `util/encrypt` pkg"

[2021-09-06 03:24] #27775 closed

[2021-09-06 04:12] lcwangchao opened #27817 "Move inforschema operations to `temptable` package"

[2021-09-06 06:07] zhouqiang-cl opened #27820 "Unstable test `lightningServerSuite.TestGetDeleteTask`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/10247/pipeline/123

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-09-06 06:10] zhouqiang-cl opened #27821 "data race in `tikv.(*KVStore).getTimestampWithRetry()`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-09-06 06:14] zhouqiang-cl opened #27822 "data race in `executor_test.(*mockSessionManager2).Kill()`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/10245/nodes/104/steps/269/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Re

[2021-09-06 06:14] xiongjiwei opened #27823 "builtin functions compatibility problem with different version of mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

MySQL has changed its behavior at v8.0.24 for some builtin functions:
[code]
which will cause a different result. We not following the version before 8.0.24.

MySQL commit https://github.com/mysql/mysql-server/commit/997c747b33628ee5b230294600393d074ec3219b

### 2. What did

[2021-09-06 06:28] jingshanglu opened #27825 "IT `temp_table` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

ci :
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6536/pipeline

pr: #27776
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your

[2021-09-06 06:29] jingshanglu commented on #27825
/cc @rleungx

[2021-09-06 07:20] #27070 closed

[2021-09-06 07:52] LittleFall opened #27827 "expression: Some constant folding rule are closed in the latest TiDB."
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

constant folded.
[code]

### 3. What did you see instead (Required)

constant not folded.

[code]

The unexpected non-folded will let TiFlash report an error, like:

[code]

This will be solved in another TiFlash issue.

### 4. What is your TiDB version? (Required)

can reproduce in
1. 2

[2021-09-06 08:07] xuyifangreeneyes opened #27828 "Tracking issue for analyze predicate/user-specified columns"
## Proposal

related issue: #27358
design doc: https://github.com/pingcap/tidb/pull/28878

Currently `ANALYZ TABLE` collects the statistics for all columns. However, only some columns' statistics are used in making query plans while others are not used. If some column occurs in filter conditions such as where/join conditions, its statistics will be used for calculating selectivity. We call such co

[2021-09-06 08:07] xuyifangreeneyes commented on #27828
/sig planner

[2021-09-06 08:09] fubinzh opened #27829 "Lightning: context canceled error in lightning server mode even import is succeeded"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Do a lightning import job with server mode (On DBaaS, lightning runs as server mode by default)
2. When lightning import finishes, check lightning log

### 2. What did you expect to see? (Required)
Lighting log show no error

### 3. What did you see instead (Required)
Bel

[2021-09-06 08:11] xuyifangreeneyes commented on #27828
/assign

[2021-09-06 08:12] LittleFall commented on #27827
behaviour changed by this commit: https://github.com/pingcap/tidb/pull/27254

before:
[code]

after:
[code]

[2021-09-06 08:31] guo-shaoge commented on #27683
TiDB's behavior is more reasonable, but it's better to update our document to let user know.

[2021-09-06 08:31] #27683 closed

[2021-09-06 08:49] ChenPeng2013 opened #27831 "wrong result in the combined expression"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
release-5.0 & release-4.0
[code]
### 3. What did you see instead (Required)
release-5.1 & release-5.2 & master
[code]
### 4. What is your TiDB version? (Required)

[2021-09-06 08:58] fzhan commented on #26810
Using tidb-operator to set this variable but doesn't seems to be effective:

[code]
Results in
[code]
But
|tidb_skip_isolation_level_check | Off|

[2021-09-06 09:54] #26554 closed

[2021-09-06 10:02] xpepermint opened #27840 "Configuration guidance for docker/k8s and servers with small amount of resource"
Ref: https://github.com/tikv/tikv/issues/10908

There's a lot of configuration keys that we can twist but it looks like nothing works for a very small server setup. In k8s you have to accurately predict the CPU and RAM usage to prevent pods to go down (usually because of OOM). This seems very difficult with `TiDB/TiKV` and memory is growing indefinitely.

Could someone please post recommendations

[2021-09-06 11:08] qw4990 commented on #27609
It's fixed by https://github.com/pingcap/tidb/pull/27383

[2021-09-06 11:08] #27609 closed

[2021-09-06 11:48] #27827 closed

[2021-09-06 12:13] tisonkun opened #27844 "migrate test-infra to testify for `cmd` pkg"

[2021-09-06 13:04] tisonkun commented on #27653
/assign

[2021-09-06 13:44] #27587 closed

[2021-09-06 14:22] #27654 closed

[2021-09-06 14:23] tiancaiamao commented on #27710
In mysql, the behaviour is case sensitive: (Tested in MySQL8.0)

[code]

So the current TiDB behaviour is not a bug.

[code]

[2021-09-06 14:40] #27588 closed

[2021-09-06 16:00] #27787 closed

[2021-09-06 16:21] karuppiah7890 commented on #27816
@tisonkun Is this a good first issue that I can pickup?

[2021-09-06 18:12] penthaapatel commented on #27281
/assign

[2021-09-07 01:27] tisonkun commented on #27816
/assign @karuppiah7890

Yes. Go ahead!

[2021-09-07 02:07] seiya-annie commented on #27615
/info

[2021-09-07 03:19] gozssky commented on #27820
/assign

[2021-09-07 03:34] sylzd commented on #27517
/assign

[2021-09-07 03:37] qw4990 commented on #27544
It is caused by the parser cannot restore the original expression correctly. The original expression is `mod( year(a) - abs(weekday(a) + dayofweek(a)), 4) + 1`, since the parser doesn't add brackets for binary operations, so the restored expression is `YEAR(`a`)-ABS(WEEKDAY(`a`)+DAYOFWEEK(`a`))%4+1`, which has the different meaning with the original one.

[2021-09-07 03:44] sylzd commented on #27517
the codes have changed in master branch, should it be `cherry pick` to v4.0.13?

[2021-09-07 03:45] karuppiah7890 commented on #27816
Cool ! Thanks !

[2021-09-07 07:17] Defined2014 commented on #23476
In Mysql-5.7, the type of Host in mysql.user table is char(60). I think we should compatible with mysql-5.7?

[2021-09-07 07:35] time-and-fate opened #27855 "tidb returns 'Unknown auth plugin' when some old clients didn't set auth plugin in login request"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Use a mysql 5.1 client to connect tidb 5.2

### 2. What did you expect to see? (Required)

Connect success

### 3. What did you see instead (Required)

TiDB returns "1105 Unknown auth plugin" error.

### 4. What is your TiDB version? (Required)
v5.2.0

[2021-09-07 07:35] time-and-fate commented on #27855
/type compatibility

[2021-09-07 07:37] time-and-fate commented on #27855
After capturing network traffic, we found that some old clients won't set auth plugin in the login request.
In this case, TiDB will return the "1105 Unknown auth plugin" error but MySQL won't.
This is introduced in https://github.com/pingcap/tidb/pull/24991.

[2021-09-07 07:40] GMHDBJD commented on #18048
Ping

[2021-09-07 07:40] #27065 closed

[2021-09-07 09:09] Leavrth commented on #27815
/assign

[2021-09-07 09:22] #27576 closed

[2021-09-07 09:38] #27493 closed

[2021-09-07 09:44] wjhuang2016 opened #27862 "Incompatible column type for text"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

In MySQL, the type should be text, not tinytext.

### 4. What is your TiDB version? (Required)
master

[2021-09-07 10:53] #27825 closed

[2021-09-07 12:38] #27544 closed

[2021-09-07 12:56] sylzd commented on #27862
/assign

[2021-09-07 13:07] mjonss opened #27867 "GRANT ALL ON performance_schema.* succeeds"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Error:
[code]

### 3. What did you see instead (Required)

Success
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-09-07 13:09] mjonss commented on #27867
More info on MySQL behaviour here:
https://dev.mysql.com/doc/refman/8.0/en/performance-schema-table-characteristics.html

I don't consider it to be a serious bug, just a minor MySQL incompatibility (and extending the GRANTS rather than limiting them).

[2021-09-07 14:31] sylzd commented on #26137
/assign

[2021-09-07 14:43] morgo commented on #26580
I have moved the tasks of this sub-issue to https://github.com/pingcap/tidb/issues/18030

This was a suggestion to make it easier to see what tasks are unassigned. It makes sense to me, so I am going to close this issue.

[2021-09-07 14:43] #26580 closed

[2021-09-07 14:43] morgo commented on #26582
I have moved the tasks of this sub-issue to https://github.com/pingcap/tidb/issues/18030

This was a suggestion to make it easier to see what tasks are unassigned. It makes sense to me, so I am going to close this issue.

[2021-09-07 14:43] #26582 closed

[2021-09-07 14:44] morgo commented on #26581
I have moved the tasks of this sub-issue to https://github.com/pingcap/tidb/issues/18030

This was a suggestion to make it easier to see what tasks are unassigned. It makes sense to me, so I am going to close this issue.

[2021-09-07 14:44] #26581 closed

[2021-09-07 14:44] morgo commented on #27011
I have moved the tasks of this sub-issue to https://github.com/pingcap/tidb/issues/18030

This was a suggestion to make it easier to see what tasks are unassigned. It makes sense to me, so I am going to close this issue.

[2021-09-07 14:44] #27011 closed

[2021-09-07 15:58] morgo commented on #23476
Often when there is a discrepancy we follow MySQL 8.0 behavior (this is also a feature request, not a bug.)

The reason why MySQL 8.0 switched is to support long hostnames, such as those that exist on AWS.

[2021-09-07 17:21] ChenPeng2013 opened #27870 "the different join hint has different result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
please use tikv to reproduce

source [test.txt](https://github.com/pingcap/tidb/files/7123205/test.txt)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-09-08 01:35] tisonkun opened #27872 "Run table/temptable tests in parallel"
@lcwangchao we avoid suite for running test in parallel.

[2021-09-08 02:21] tisonkun opened #27874 "migrate test-infra to testify for `tests` folder"
* global_kill_test.go
* graceshutdown_test.go
* readonly_test.go

[2021-09-08 02:54] zwj-coder commented on #27874
/assign

[2021-09-08 03:30] #27763 closed

[2021-09-08 03:40] zhouqiang-cl opened #27876 "Data race in `github.com/pingcap/tidb/util/chunk.(*RowContainer).ActionSpill()`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/10350/pipeline

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-09-08 03:40] zhouqiang-cl commented on #27876
happends again and again

[2021-09-08 03:54] tisonkun commented on #27655
@SergeyHydra do you have a schedule on working for this issue?

[2021-09-08 04:00] #27669 closed

[2021-09-08 04:23] tisonkun commented on #27281
closed by #27848

[2021-09-08 04:23] #27281 closed

[2021-09-08 04:23] tisonkun commented on #27281
@penthaapatel thank you!

[2021-09-08 05:48] Defined2014 commented on #23315
It's same as #27210 , already fixed in master branch.
Cloud you close this issue? @tisonkun

[2021-09-08 05:48] #27710 closed

[2021-09-08 05:52] tisonkun commented on #23315
Duplicate of #27210

Thanks for your report. Also you can update #27210  with affects & backport label if any.

[2021-09-08 05:52] #23315 closed

[2021-09-08 05:57] tisonkun commented on #27651
test unstable, affects master, fixed in master

[2021-09-08 06:05] jingshanglu opened #27878 "IT `sqllogic-test` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

ci:
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_sqllogic_test_1/detail/tidb_ghpr_sqllogic_test_1/6240/pipeline

pr: #27577
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (R

[2021-09-08 06:06] jingshanglu commented on #27878
/cc @XuHuaiyu

[2021-09-08 06:47] wjhuang2016 commented on #27870
Can't reproduce it.
[code]

[2021-09-08 07:27] xhebox commented on #26681
The work could start, IMO. `TableInfo` now has realated info.

From what we have done now, `PRIMARY_REGION` should be displayed. We don't have transformation from `PRIMARY_REGION` to `XXX_CONSTRAINTS`, but directly to the internal struct.

[2021-09-08 07:34] #27876 closed

[2021-09-08 07:35] #27878 closed

[2021-09-08 07:51] ichn-hu commented on #27876
caused by https://github.com/pingcap/tidb/pull/27577 and it only exists in master

[2021-09-08 07:59] seiya-annie opened #27883 "tidb panic with "runtime error: invalid memory address or nil pointer dereference""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[[root:@tcp(172.16.5.101:4000)/randgen]]

Execute the following SQL, get an unexpected error from the client and a panic message can be found in the log.
[code]

[code]

[code]

### 2. What did you expect to see? (Required)
no panic
### 3. What did you see instead (Required)

[2021-09-08 08:06] cyliu0 commented on #27829
Looks like a known behavior because of lightning on DBaaS running with web mode

[2021-09-08 08:16] ichn-hu commented on #27883
stack unrolled:

[code]

[2021-09-08 08:36] ChenPeng2013 opened #27885 "select _ascii"">_ascii"\Z8D" is Incompatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
mysql> select _ascii"">_ascii"\Z8D";
+-----------------------+
| _ascii"">_ascii"\Z8D" |
+-----------------------+
|                     0 |
+-----------------------+
1 ro

[2021-09-08 09:03] penthaapatel commented on #27281
@tisonkun Glad to contribute! 🎉

[2021-09-08 09:31] xiongjiwei commented on #27885
it is expected, see [doc](https://docs.pingcap.com/zh/tidb/v5.0/character-set-and-collation#%E6%96%B0%E6%A1%86%E6%9E%B6%E4%B8%8B%E7%9A%84%E6%8E%92%E5%BA%8F%E8%A7%84%E5%88%99%E6%94%AF%E6%8C%81)   `\Z` is less than space

[2021-09-08 09:31] #27885 closed

[2021-09-08 09:43] Defined2014 commented on #23476
/assign

[2021-09-08 09:47] gozssky opened #27888 "Unstable test testDBSuite1.TestDropPrimaryKey"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/32078/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-09-08 09:51] gozssky opened #27889 "Unstable test testIntegrationSuite4.TestTruncatePartitionAndDropTable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/32078/pipeline/62

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-09-08 10:00] phamtai97 commented on #27647
Hi all
I simulated the following:
- I create a table with 16 fields.
- I update 2-3 fields on 128 rows concurrently with 1k TPS.
- Besides, I also use the Sum statement for the values of those 2-3 fields of 128 rows.
- Then, I monitor and see the above issue.

[2021-09-08 10:10] ChenPeng2013 commented on #27870
[root@localhost ~]# timedatectl
               Local time: 三 2021-09-08 18:04:41 CST
           Universal time: 三 2021-09-08 10:04:41 UTC
                 RTC time: 三 2021-09-08 04:17:44
                Time zone: America/New_York (CST, +0800)
System clock synchronized: yes
              NTP service: active
          RTC in local TZ: no

[2021-09-08 10:17] ChenPeng2013 commented on #27870
America/New_York don't matched (CST, +0800)

[2021-09-08 10:17] #27870 closed

[2021-09-08 10:44] wjhuang2016 opened #27891 "The flen of conv function should be 65"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The Length should be 260.
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-09-08 10:54] gozssky opened #27892 "Unstable test testDBSuite8.TestRecoverTable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]

### 1. Minimal reproduce step (Required)

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/32090/pipeline/62

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-09-08 11:16] ChenPeng2013 opened #27893 "inl_merge_join and inl_hash_join have different results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

use test;
source [test.txt](https://github.com/pingcap/tidb/files/7128387/test.txt)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-09-08 11:34] #27653 closed

[2021-09-08 12:21] #27718 closed

[2021-09-08 12:29] crazycs520 opened #27895 "parse slow log return wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-09-08 13:14] NingLin-P opened #27896 "Lightning: remove the csv file name restriction"
## Enhancement

Currently, when import data through lightning with `csv` file, lightning expect the `csv` file name should be in a format like `{db_name}.{table_name}.{id}.csv` where the `id` should be padded with `0` to aligned with the largest `id`.  For example, when there is a file named `db.tbl.12345.csv`, the file name of the file with id `1`  should be `db.tbl.00001.csv` (padded with four `

[2021-09-08 13:15] NingLin-P commented on #27896
/cc @Little-Wallace

[2021-09-08 13:38] #25898 closed

[2021-09-08 13:43] sunxiaoguang opened #27897 "SET GLOBAL tidb_skip_isolation_level_check=1 doesn't work as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
Disconnect and reconnect to TiDB
[code]

### 2. What did you expect to see? (Required)

[code]
Disconnect and reconnect to TiDB
[code]

### 3. What did you see instead (Required)

[code]
Disconnect and reconnect to TiDB
[code]

### 4. What is your TiDB version? (Requ

[2021-09-08 13:50] gozssky commented on #27896
As far as I know, the `{id}`  is mainly used to distinguish between different files of a table. It does not need to be continuous and pad to fixed length.

[2021-09-08 14:14] #27872 closed

[2021-09-08 14:38] feitian124 commented on #27590
for test `TestConstraintCheckForUniqueIndex` in `tables_test.go`, i add print and find that the error actually has value,
but since it run in goroute, this fails seems not captured by gocheck.
but after migrate to testify, it can capture this fail.
the original test is not correct.

[code]
[code]

[2021-09-08 15:12] #27822 closed

[2021-09-08 15:14] feitian124 commented on #27141
hi @tisonkun , please splite this task to sub tasks for me

[2021-09-08 15:29] tisonkun commented on #27140
closed as all subtasks done.

[2021-09-08 15:29] #27140 closed

[2021-09-08 15:32] crazycs520 opened #27903 "Add connection_status system table view to check the connetion status and other information"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Add the following `connection_status` table in `INFORMATION_SCHEMA`.

[code]

The main information the I want to gain from `connection_status` table is the following summary information:
 * `total_wait_cmd_time`: the total wait command duration of this connection since the `begin_time`.
 * `total_exec_cmd_time`

[2021-09-08 15:32] crazycs520 commented on #27903
@breeswish PTAL

[2021-09-08 15:34] penthaapatel opened #27904 "migrate test-infra to testify for `expression/aggregation` pkg"
This is a subtask of #26855
- [x] #27905
- [x] #27906
- [x] #27907
- [x] #27909

[2021-09-08 15:37] penthaapatel commented on #26855
Hi @tisonkun, I'd like to migrate tests under `expression/aggregation` pkg. So I created a new issue #27904 to track the changes easily. Could you add the newly created issue as a subtask of this issue?

[2021-09-08 15:49] penthaapatel opened #27905 "migrate test-infra to testify for `expression/aggregation/agg_to_pb_test.go`"
This is a subtask of #27904

[2021-09-08 15:49] penthaapatel commented on #27905
/assign

[2021-09-08 15:49] penthaapatel opened #27906 "migrate test-infra to testify for `expression/aggregation/aggregation_test.go`"
This is a subtask of #27904

[2021-09-08 15:50] penthaapatel commented on #27906
/assign

[2021-09-08 15:50] penthaapatel opened #27907 "migrate test-infra to testify for `expression/aggregation/base_func_test.go`"
This is a subtask of #27904

[2021-09-08 15:50] penthaapatel commented on #27907
/assign

[2021-09-08 15:51] crazycs520 opened #27908 "Add prepared_statements system table to see the prepared statents information"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Add following `prepared_statements` table in `INFORMATION_SCHEMA`:

[code]

With the `prepared_statements` table:
* Many user use JDBC client to do prepare, this table can make us vary easy to make sure whether the prepare **really** take effect.
* We can know how many prep

[2021-09-08 15:51] crazycs520 commented on #27908
@breeswish PTAL

[2021-09-08 15:51] penthaapatel opened #27909 "migrate test-infra to testify for `expression/aggregation/util_test.go`"
This is a subtask of #27904

[2021-09-08 15:51] penthaapatel commented on #27909
/assign

[2021-09-08 16:06] tisonkun commented on #26855
@penthaapatel added. Thanks a lot for your participant!

[2021-09-08 21:44] mjonss commented on #26681
I have added PLACEMENT POLICY and DIRECT PLACEMENT for tables into my working branch: https://github.com/pingcap/tidb/pull/27478
Have Schema and Partition level DIRECT PLACEMENT been implemented/merged too? Any hints on where to access it?

I think it would be more user friendly to transform `PRIMARY_REGION`/`REGIONS` to `XXX_CONSTRAINTS` so one can query the is.placement_rules table directly on t

[2021-09-08 23:07] morgo commented on #27897
I commented on the PR, but I'm not sure this is a bug. GLOBAL scoped changes are not supposed to apply to the current session yet. They only apply to new sessions.

[2021-09-09 01:09] sunxiaoguang commented on #27897
Oops, you are right. I agree that global changes should not affect current session. However I saw something strange that there might be some other issue as well.

![image](https://user-images.githubusercontent.com/3982329/132605501-db8eaac1-22f2-4bad-88eb-c7816682764e.png)

The first time I restart client to check global variables and change isolation level to `SERIALIZABLE` without having trouble

[2021-09-09 01:44] morgo opened #27914 "Support WARN mode for tidb_enable_noop_functions"
## Enhancement

Currently `tidb_enable_noop_functions` is recommended for some cases including ORM compatibility, but it only has two options:

- `OFF` (default) = unsafe syntax returns an error
- `ON` = unsafe syntax is permitted

In discussing with others, we should consider a third option of `WARN`. This will make it more viable for users to transition from `ON` to `OFF`, which should be encour

[2021-09-09 01:48] sunxiaoguang commented on #27897
After checking comments in PR, I realized that you already pointed out the root cause. My last experiment failed because I didn't read variable before changing isolation level. Simply remove skipInit from `TiDBSkipIsolationLevelCheck` definition works well. Thanks! @morgo

[2021-09-09 01:52] #27618 closed

[2021-09-09 01:57] #27883 closed

[2021-09-09 01:58] seiya-annie commented on #27883
root cause is env conflict

[2021-09-09 02:16] morgo opened #27915 "ADMIN CHECK TABLE does not check TiFlash consistency"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

This could be considered an enhancement or a bug, but due to the lack of docs, I consider it a bug.

The statment `ADMIN CHECK TABLE` does not check TiFlash replicas for consistency. Thus; there might be table corruption, but the user will receive a false-negative "no error

[2021-09-09 02:19] unconsolable commented on #27652
@tisonkun These PRs have been in `LGT1` stage for a week, shall I remind these reviewers to take a look?

[2021-09-09 02:21] tisonkun commented on #27652
@unconsolable I'll schedule another pass tomorrow and request reviewer for you tomorrow. Sorry for the delay and please wait for a bit.

[2021-09-09 03:01] lcwangchao opened #27917 "A simpler implement for snapshot custom retriever"
Considering comments in #27854 , we want some simpler implement for custom data retrieving in snapshot. The new implement have several considerations:

- Make a simple code in snapshot to avoid potential bugs.
- If possible, code in snapshot should be abstract enough for future extension.
- We can suppose snapshot data is empty for custom retriever's ranges to reduce design complexity （avioding on

[2021-09-09 03:04] #18488 closed

[2021-09-09 03:04] #19025 closed

[2021-09-09 03:07] zyguan opened #27918 "TiDB restarted unexpectedly due to an unrecoverable panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

We found tidb panicked and restarted during sqllogic test, as the following log shows:
[code]

It's hard to provide an minimal reproduce step for such a race bug. According to the stack, it seems to be caused by shallow copy, here is the case:
[code]

### 2. What did you ex

[2021-09-09 03:14] fubinzh opened #27919 "lightning: lightning doesn't check whether target table is empty (behavior changed compared to 5.0.x)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Lightning 5.0.1 added a check to ensure target table is empty before import for DBaaS.
Lightning 5.1.0 removed this check due to new feature parallel import / incremental import, this changes previous product behaviors.

Steps:
1. Import a table to TiDB with lightning
2. Imp

[2021-09-09 03:26] #27820 closed

[2021-09-09 03:47] xhebox commented on #26681
No. I guess it will be in `PartitionDef()` and `DBInfo`.

I could provide one, once #27814 is merged. I've leave the decision to you :)

[2021-09-09 05:05] luyomo opened #27921 "Cloud not change auto_increment to smaller value"
## Bug Report

The auto_increment can not be changed to smaller value.

### 1. Minimal reproduce step (Required)

MySQL [test]> create table test03(col01 int primary key auto_increment, col02 int) AUTO_ID_CACHE 10;
Query OK, 0 rows affected (0.445 sec)

MySQL [test]> alter table test03 auto_increment = 100;
Query OK, 0 rows affected (0.479 sec)

MySQL [test]> insert into test03(col02) values(1);
Q

[2021-09-09 05:08] crazycs520 opened #27922 "Unstable test TestBuiltinFunctionsUsage"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Found in https://github.com/pingcap/tidb/pull/27563 CI test.

[2021-09-09 05:32] JayL-zxl commented on #25293
Hi 老师您好 我申请了您负责的这个 tcp项目，我能和您email进行沟通吗

[2021-09-09 05:50] XuHuaiyu commented on #27918
dup with https://github.com/pingcap/tidb/issues/27878

[2021-09-09 05:50] #27918 closed

[2021-09-09 05:55] guo-shaoge commented on #26762
/label needs-cherry-pick-4.0

[2021-09-09 06:09] guo-shaoge commented on #26762
/run-cherry-picker

[2021-09-09 06:24] dveeden commented on #27855
Reproducing this:
TiDB v5.2.0
MySQL Client v5.1.73

Setup:
[code]

Test:
[code]

[2021-09-09 06:48] ChenPeng2013 commented on #27921
mysql 8.0.21
[code]

[2021-09-09 06:56] jingshanglu opened #27930 "`show grants for current_user` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

successful

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master

### Reason
Probably because of the following reasons

[code]
**after drop role r1,
len(e.Roles)=0
but v

[2021-09-09 07:19] time-and-fate opened #27932 "Can't use pt-kill to kill TiDB connections"
## Bug Report

Can't use pt-kill from percona-toolkit to kill TiDB connections.

Because it uses a `kill '1'` syntax, but tidb only supports `kill 1`.

### 1. Minimal reproduce step (Required)

Run a tidb locally, and run `select sleep(50);` in a connection.
Then run `pt-kill --kill --user=root --match-command=Query --host=127.0.0.1 --port=4000 -v`.

### 2. What did you expect to see? (Required)

[2021-09-09 07:20] time-and-fate commented on #27932
/type compatibility

[2021-09-09 07:44] #27624 closed

[2021-09-09 07:57] luyomo commented on #27921
I see. So is this the expected scenario from TiDB?
BTW,
I tried to set one number which exceeds the maximum, no error got back while it failed to set from the result.
Is this the expected scenario ?

MySQL [test]> alter table test03 auto_increment = 9223372036854775810;
Query OK, 0 rows affected (0.347 sec)

MySQL [test]> show create table test03;
+--------+----------------------------------------

[2021-09-09 08:34] breeswish commented on #27903
How does MySQL and Oracle provide such information?

[2021-09-09 08:35] breeswish commented on #27908
Is this possible by merging into Statement? As "prepared" is a statement level information.

[2021-09-09 09:24] fubinzh opened #27937 "lighting: local backend import failed if data has largest number as bigint auto_increment column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Prepare test data, with biggest number (9223372036854775807) as bigint  auto_increment column.
[root@idc-4-30 ~]# cat /minio/tools_test_data/PK_AUTO_INCREMENT9096/new_data1.PK_AUTO_INCREMENT9096.000000000.csv
"COL1","COL2","COL4","COL3","COL5"
1,"鐚傆Ē榉牖纜径鉾抍镒获肾É鷓开纻緖扻鏶囮","84

[2021-09-09 09:25] dveeden commented on #7968
Should we add `utf8mb4_0900_ai_ci` to the list as well?

[2021-09-09 09:32] ethercflow commented on #27937
@fubinzh There are garbled characters in the description of your reproduction steps :)

[2021-09-09 09:56] mjonss commented on #26681
OK, then I will follow up on the github issue where it will be implemented. Possibly seeing if we can merge the work so far (having information_schema.placement_rules only covering `PLACEMENT POLICY` and DIRECT PLACEMENT for tables so far, and add DIRECT PLACEMENT for schemas and partitions later, when they are in place.

Yes, please provide a function transforming the syntax sugar to XXX_CONSTRAI

[2021-09-09 11:18] crazycs520 commented on #27810
Should add the reset auto_id execution stats into DML statements.

[2021-09-09 12:50] #27917 closed

[2021-09-09 13:26] feitian124 commented on #27779
[paralleltest.txt](https://github.com/pingcap/tidb/files/7136644/paralleltest.txt)

above is paralleltest run result, it checks several cases but i will only pay attention to `t.Parallel() is called in the range method and test case variable tc being used, but is not reinitialised` and try fix them

[2021-09-09 14:01] bb7133 commented on #14914
Can't reproduce this issue. @aylei I will close this issue and please feel free to make a try and reopen it again.

[2021-09-09 14:04] morgo commented on #14914
From code-inspection, the issue still exists. I think it is worth fixing.

[2021-09-09 14:06] bb7133 commented on #22791
Close it since we decide not to fix it.

[2021-09-09 14:06] #22791 closed

[2021-09-09 14:50] sylzd commented on #25028
I think it's the same action with mysql8.0, we do not need to fix it.

[code]

[2021-09-09 14:51] sylzd commented on #25028
/assign

[2021-09-09 16:06] tisonkun commented on #27922
It seems be introduced by #27813 that parallelize a formally serial test case. I'll push a fix for it.

[2021-09-09 22:30] xxchan commented on #18030
Hi @sylzd, I think you should remove the keyword "close" in your PRs so that they do not close this issue...

[2021-09-10 00:22] tiancaiamao commented on #26539
The data race stack of the writer is lost, https://github.com/pingcap/tidb/pull/27866 might be the cause.
If this data race doesn't show up in the future, we can close it.

[2021-09-10 01:41] tiancaiamao opened #27941 "'show stats_meta' requires the whole mysql db privilege"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create a user with `mysql.stats_meta` table select privilege granted

[code]

### 2. What did you expect to see? (Required)

I think the user should be able to execute `show stats_meta`

### 3. What did you see instead (Required)

privilege check failed, it requires the who

[2021-09-10 01:45] feitian124 commented on #27779
more detail here: https://golang.org/doc/faq#closures_and_goroutines

[2021-09-10 01:56] sylzd commented on #18030
Okay~  I thought `close:` will not work, since it has a colon `:` after `close` . 😂

[2021-09-10 02:11] tiancaiamao commented on #27941
@morgo @qw4990 What's your opinion, shall we change the privilege to mysql.table level?

[2021-09-10 02:32] #27922 closed

[2021-09-10 02:42] tisonkun commented on #27922
affects master and fixed master.

[2021-09-10 02:43] bb7133 commented on #27821
I suspect that the race is caused by:

https://github.com/tikv/client-go/blob/e4229bde5835fdb5f9a91a47437de3f92653340c/tikv/kv.go#L369-L377:
[code]

Which is called by the background DDL job(the stored stack).

While we have also https://github.com/pingcap/tidb/blob/def6b7df625d314c0b3d73148a228b1d47cb2c41/store/gcworker/gc_worker_serial_test.go#L125:

[code]

Which modify `s.oracle` without synch

[2021-09-10 02:46] #27712 closed

[2021-09-10 03:54] sylzd commented on #25028
that's weird. I think it's a bug both exits in mysql and tidb.  In my opinion, It's the same thing if we `insert values('null')` and `insert values(null)';
But It behaves different when we use `json_valid` and `json_type`

[code]

[2021-09-10 03:57] zhenjiaogao opened #27946 "TiDB support the CI_AS collation"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In TiDB, the parameter `new_collat​​​​ions_enabled_on_first_bootstrap` is set to `true`, but the `CI_AS` collation is not supported:
[code]

In MySQL 8.0.26, using `utf8mb4_0900_as_ci ` collation:
[code]

**Describe the feature you'd like:**

TiDB support the `CI_AS` collation similar to utf8mb4_0900_as_ci in M

[2021-09-10 04:21] bb7133 commented on #26235
There is little information related to the test case, and it cannot be reproduced.

I will close it for now.

[2021-09-10 04:21] #26235 closed

[2021-09-10 05:44] #27444 closed

[2021-09-10 06:28] birdstorm opened #27948 "Information schema is out of date: schema failed to update in 1 lease"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://ci.pingcap.net/blue/organizations/jenkins/tiflash_regression_test_daily/detail/tiflash_regression_test_daily/359/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

TiFlash could not retrieve replica info from TiDB.

[2021-09-10 06:42] tisonkun commented on #24679
another instance

[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/32359/pipeline

[2021-09-10 06:49] sylzd commented on #27895
/assign

[2021-09-10 06:56] tisonkun commented on #27889
[code]

another instance https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/32489/pipeline

[2021-09-10 07:15] Defined2014 commented on #27921
maybe releated to this issue #25400, please take a look.

[2021-09-10 07:41] luyomo commented on #27921
Thanks. That's the same one. Let me close it.

[2021-09-10 07:41] #27921 closed

[2021-09-10 08:59] phamtai97 commented on #27647
Can you help me? @tiancaiamao

[2021-09-10 09:01] qw4990 opened #27949 "planner: binding cannot work when `sql_select_limit` is enabled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

The binding is not working after setting `sql_select_limit`.

### 2. What did you expect to see? (Required)
The binding can work.

### 3. What did you see instead (Required)
The binding is not working.

### 4. What is your TiDB version? (Required)

[2021-09-10 09:14] yuqi1129 commented on #27648
/assign

[2021-09-10 09:32] wjhuang2016 opened #27952 "mpp task may get the same ID and lead to query failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I run the TPC-DS query56.
[code]
I added some logs to TiDB, and got.
[code]

After I added a mutex to protect taskID, the query successed.
[code]

https://github.com/pingcap/tidb/pull/23747 Tried to fix it but I think it doesn't resolve the problem completely.
### 4. What i

[2021-09-10 09:57] dveeden commented on #27915
Is there something like `ALTER TABLE ... FORCE` to rebuild the data on TiFlash? This could help to fix any detected issues etc.

[2021-09-10 10:22] sylzd commented on #27458
I made a test, it's the same behavior with mysql.

There are 2 points:
1. load data function is not correct, you shoud add `defer stmt.close()`
2. we can get the processlist, but your point get is too fast. you can try statement like `select *, sleep(0.1) from t
_point_get where a=?`

then you can get result
![image](https://user-images.githubusercontent.com/10683568/132839503-e6d813c8-06b5-41b9-8

[2021-09-10 11:48] jingshanglu opened #27955 "grant `create routine`,`alter routine`, `event`,`trigger` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
successful

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-09-10 12:45] bb7133 commented on #27955
I don't think it's a bug: we do not support `routine`, `event` or `trigger`. I'll treat it as part of the `feature request` and won't fix it.

[2021-09-10 12:45] #27955 closed

[2021-09-10 12:54] tiancaiamao commented on #27647
How large is the table? do you mean the whole table is 128 rows? or just pick 128 rows randomly?

From the KV Request Duration metrics, this is caused by TiKV, maybe by some background periodic task?

Here is a tool to collect the metrics, if you can update the metrics data, it would be very helpful for us to analyze:
https://metricstool.pingcap.com/#backup-with-dev-tools

@phamtai97

[2021-09-10 13:34] tiancaiamao commented on #26868
@Reminiscent  OK, I can confirm those steps and get the same result using the latest master.
But the flamegraph still not seems correct?

[pprof.tidb-server.samples.cpu.036.pb.gz](https://github.com/pingcap/tidb/files/7144116/pprof.tidb-server.samples.cpu.036.pb.gz)

[2021-09-10 13:37] tiancaiamao commented on #26868
You can try this one to test it on a local tidb:

[code]

[2021-09-10 13:48] #17650 closed

[2021-09-10 14:16] #26820 closed

[2021-09-10 15:28] #27446 closed

[2021-09-10 15:40] #27907 closed

[2021-09-10 17:41] morgo commented on #11371
TiDB now has [lock view.](https://docs.pingcap.com/tidb/dev/information-schema-data-lock-waits) Does this satisfy your request?

[2021-09-10 22:57] hihihuhu commented on #26361
hi @tisonkun, can i take this issue as my first task? thanks!

[2021-09-10 23:49] tisonkun commented on #26361
@hihihuhu thanks for taking over this issue. If you don't have a PR yet, I'd suggest you comment your idea to fix this first.

[2021-09-11 00:22] tisonkun commented on #27656
@3mard  do you have a schedule on working for this issue?

[2021-09-11 01:07] bb7133 commented on #27810
Hi @lipingmu101 we don't treat this as a bug, I've marked it as 'enhancement', thanks.

[2021-09-11 01:11] unconsolable commented on #27889
another occurrence
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/32713/pipeline
[code]

[2021-09-11 01:44] #27589 closed

[2021-09-11 02:42] #27905 closed

[2021-09-11 04:44] ajunlonglive opened #27961 "TiUP 调试 playground 启动tidb5.2报错 time zone错误 5.1.1基本正常"
系统版本 ubuntu16.04
运行环境 vmware 15

192.168.3.107:4000 ... ⠹
tidb quit: exit status 1
[2021/09/11 12:38:43.169 +08:00] [INFO] [grpclogger.go:69] ["Subchannel Connectivity change to READY"] [system=grpc] [grpc_log=true]
[2021/09/11 12:38:43.169 +08:00] [INFO] [grpclogger.go:69] ["Channel Connectivity change to READY"] [system=grpc] [grpc_log=true]
[2021/09/11 12:38:43.171 +08:00] [INFO] [ddl.go:331] [

[2021-09-11 05:09] ajunlonglive commented on #27961
切换到5.1.1后运行基本正常，有一个小报错
Using the version v5.1.1 for version constraint "".

If you'd like to use a TiDB version other than v5.1.1, cancel and retry with the following arguments:
    Specify version manually:   tiup playground <version>
    Specify version range:      tiup playground ^5
    The nightly version:        tiup playground nightly

Playground Bootstrapping...
The component `prometheus` v

[2021-09-11 05:55] ajunlonglive commented on #27961
5.21.启动貌似任然有报错，不过没有报错信息
Using the version v5.2.1 for version constraint "".

If you'd like to use a TiDB version other than v5.2.1, cancel and retry with the following arguments:
    Specify version manually:   tiup playground <version>
    Specify version range:      tiup playground ^5
    The nightly version:        tiup playground nightly

Playground Bootstrapping...
The component `prometheus`

[2021-09-11 06:14] ajunlonglive commented on #27961
5.2.1 正常，issue关闭
Using the version v5.2.1 for version constraint "".

If you'd like to use a TiDB version other than v5.2.1, cancel and retry with the following arguments:
    Specify version manually:   tiup playground <version>
    Specify version range:      tiup playground ^5
    The nightly version:        tiup playground nightly

Playground Bootstrapping...
Start pd instance
Start tikv insta

[2021-09-11 06:15] ajunlonglive commented on #27961
5.2.1已经正常

[2021-09-11 06:15] #27961 closed

[2021-09-11 09:39] kennytm opened #27964 "Error message for DECIMAL overflow is just "ERROR 1690 (22003): %s value is out of range in '%s'""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

Both `master` and v5.1.1.

[code]

[2021-09-11 10:46] 3mard commented on #27656
Hi @tisonkun
Sorry for being late, you can expect a pr by the end of the weekend

[2021-09-11 11:18] 3mard commented on #27656
Sorry for being late!

[2021-09-11 15:58] tisonkun opened #27966 "tests of executor package hang"
[code]

It seems likely `cte_test.go` parallelize wrongly. cc @wjhuang2016

[2021-09-11 16:28] morgo commented on #27941
I think your question is "should we filter the results, and only show db + tables that the user has visibility for"?

Information_schema tables have this semantic, as do statements like `show databases` and `show tables`.

So sure, I think it's fine.

[2021-09-11 17:06] phamtai97 commented on #27647
Hi @tiancaiamao

The size of the table is about 30 million rows.
I selected the previous 128 lines out of 30 million lines for benchmarking. Then, I updated those 128 lines by updating 2 fields including a field1 for adding or subtracting and a field2 containing the time value of that update. TPS of the update flow is about 1k  TPS.
Also while running the update benchmark command I called the quer

[2021-09-12 00:44] #27656 closed

[2021-09-12 04:47] wjhuang2016 commented on #27966
@guo-shaoge PTAL

[2021-09-12 07:27] #16129 closed

[2021-09-12 14:36] unconsolable commented on #27966
I think it may be related to timeout in `TestT`, I made a sample test file in this gist https://gist.github.com/unconsolable/2c94e5bd5dac14e963c356b14d279846
and run as follows
[code]
Looks like the call stacks are similar.

[2021-09-12 14:44] unconsolable commented on #27966
I think a possible reason might be timeout in `TestT`. I am not quite sure, but I made a sample test file in this gist https://gist.github.com/unconsolable/2c94e5bd5dac14e963c356b14d279846
and run results as follows
https://gist.github.com/unconsolable/837c257bca55fefecb277d14369eb3b4
Looks like the call stacks are similar.

[2021-09-12 14:50] feitian124 commented on #27889
same here
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/32849/pipeline#step-73-log-1375

[code]

[2021-09-12 15:40] tisonkun commented on #25086
closed as marked as cannot reproduced. @luyomo feel free to reopen it if any further information missed.

[2021-09-12 15:40] #25086 closed

[2021-09-12 17:56] tianzhou opened #27970 "MySQL 5.7 compatibility issue INFORMATION_SCHEMA.TABLES.TABLE_COLLATION value for VIEW"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Create a Table. CREATE TABLE t1 (name TEXT)

1. Create a View.  CREATE VIEW t1name_view AS SELECT * FROM t1

1. The INFORMATION_SCHEMA.TABLES.TABLE_COLLATION for the created view is NULL, however the TABLE_COLLATION is_nullable is NO. And IFNULL(TABLE_COLLATION, '') does

[2021-09-12 18:07] tianzhou commented on #27970
As a comparison, see the ENGINE column from the same table, which presents the corrected behavior

![CleanShot 2021-09-13 at 02 05 08](https://user-images.githubusercontent.com/230323/132998073-0090cc2e-0be5-4c70-b730-6431a0b6d62f.png)

[2021-09-13 00:29] morgo commented on #27889
@mjonss @tiancaiamao PTAL ;-)

[2021-09-13 00:34] #27808 closed

[2021-09-13 00:38] morgo opened #27971 "Remove old legacy code for placement options"
## Enhancement

Part of https://github.com/pingcap/tidb/issues/18030

The old placement options exist in the parser as `OldPlacementOptions`:

https://github.com/pingcap/parser/blob/ea70ab7caead1b51494db16e7b886221b1aaaf6f/parser.y#L1617-L1646

This is a followup task of https://github.com/pingcap/parser/pull/1299 where we can remove these options.

Some works:

- [x] #29548
- [x] Remove dependenc

[2021-09-13 00:41] morgo opened #27972 "Ensure the database_options for placement are persisted in TiDB DDL"
## Enhancement

Part of https://github.com/pingcap/tidb/issues/18030

This is to track database_options (or schema options) for placement are persisted in DDL.

[2021-09-13 00:46] morgo opened #27973 "Ensure the partitionDef options for placement are persisted in TiDB DDL"
## Enhancement

Subtask of https://github.com/pingcap/tidb/issues/18030

This is to ensure that partition options are persisted for placement.

See Related https://github.com/pingcap/tidb/pull/27799 for table options and https://github.com/pingcap/tidb/issues/27972  for schema options.

[2021-09-13 00:47] morgo opened #27974 "Ensure that table_options respect "Policy Validation" and "Skipping Policy Validation""
## Enhancement

Subtask of https://github.com/pingcap/tidb/issues/18030

We need to ensure that table_options respect "Policy Validation" and "Skipping Policy Validation" sections of the [design document.](https://github.com/pingcap/tidb/blob/master/docs/design/2020-06-24-placement-rules-in-sql.md)

This involves adding a new sysvar to skip validation for reloading, which might be used by logical

[2021-09-13 00:53] morgo opened #27975 "Add placement rules for a schema via ALTER DATABASE"
## Enhancement

Part of https://github.com/pingcap/tidb/issues/18030

This extends https://github.com/pingcap/tidb/issues/18030 to add `ALTER DATABASE` support.