[2018-01-18 12:45] XuHuaiyu commented on #5666
Thank you for your report.
 @wsabc01
This sql is auto-built by Navicat,
may be some return meta data in TiDB is not consistent with MySQL,
I'll check it next week.

[2018-01-18 13:23] #4248 closed

[2018-01-18 23:11] dalinqin opened #5680 "the first prod test on tidb failed ,see detail please."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I'm using spark inserting into tidb database by jdbc driver

2. What did you expect to see?
df.write.jdbc(mysql_metadb_jdbcurl,"MAC_INDOOR",'append',mysql_write_props)
the table name is Mac_indoor ,it's structure is as following 👍

[code]

3. What did you see instead?

from tidb.log I see the following message

[2018-01-18 23:36] dalinqin commented on #5680
after I change jdbc write setting from
` mysql_write_props = {"isolationLevel":"NONE","batchsize":"1000000","truncate":"true"}`
 to
 ` mysql_write_props = {"isolationLevel":"NONE","batchsize":"100000","truncate":"true"}`

problem solved ,though insert into tidb through jdbc is terriblely slow ,I hope someday tispark can allow user to write directly to tidb rather than through jdbc like Elasticsear

[2018-01-19 01:37] haoyougen commented on #4614
I have the same problem.  Cause I changed the PD server from 2 old servers to 3 new servers.
Then tidb can't startup and tikv can't connect to the new cluster.
Any good suggestion how to resolve it ?

[2018-01-19 01:41] haoyougen opened #5681 "Tidb and tikv can't start."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
 I changed the pd server from 2 servers to 3 new servers.
Then a new cluster id generated, and tikv can't connect to the new cluster.
tidb also have the connection problem.
[session.go:1113: [fatal] check bootstrapped err [tikv:9001]PD server timeout[try again later]]
tidb version: 1.0.6

[2018-01-19 01:42] haoyougen commented on #5681
The tikv error msg is
[[ERROR] cluster ID mismatch: local_id 6501639174036732112 remote_id 6512386590412789559. you are trying to connect to another cluster, please reconnect to the correct PD]

[2018-01-19 05:17] ayzmkk commented on #4190
@shenli 这个tidb-binlog的proto的schema在哪里定义的？

[2018-01-19 05:24] zimulala commented on #5681
PTAL @disksing

[2018-01-19 05:26] zimulala commented on #5680
PTAL
@ilovesoup

[2018-01-19 08:38] haoyougen commented on #5681
got the solution ,

[2018-01-19 08:38] #5681 closed

[2018-01-19 10:20] disksing commented on #5681
Hi @haoyougen , as PD stores some of the most critical data of a tidb cluster, you should not just drop the pd-servers and create some new pd-servers to replace them. In order to migrate a 2 node pd-server cluster to 3 nodes, you will need to start a new pd-server to join the old cluster. Please refer our document for more details: https://github.com/pingcap/docs/blob/eb24e29479981ecc69036114b71d4

[2018-01-19 16:02] ilovesoup commented on #5680
For TiSpark part write back to TiDB, we planed a batch write feature 2018 Q1. That one should have a lot better speed for dumping data into TiDB. But very likely only support writing to a new table to avoid transaction and lock semantics.

[2018-01-19 16:07] shenli commented on #5680
@dalinqin May I have the entire log file of your tidb-server?

[2018-01-20 17:34] dalinqin opened #5690 "hint is not working"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

as we can see one table (mac_indoor) is pretty huge , I think nest loop join will be more efficient by the primary key (clientmac,entityid) on mac_indoor. however the hint seems not working .

[code]

[2018-01-20 17:36] dalinqin commented on #5690
another issue is when doing some dml operation ,if I cancel the long running query ,it will take a long time to get back to user . I think it could be avoided in the future.

[2018-01-20 17:38] dalinqin commented on #5680
@shenli  for sure, I have sent it to your mailbox shenli3514@gmail.com

[2018-01-20 17:45] dalinqin commented on #5690
finally the sql statement failed as below:

[code]

can some one help me with this situation?

[code]

[2018-01-20 17:48] dalinqin commented on #5690
I was trying to migrate my old logic from oracle(single instance database) to tidb . it was pretty fast on oracle database when using nest loop join , following is the original oracle statement

[code]

[2018-01-20 17:50] dalinqin commented on #5690
btw, I'm a Chinese ,if any qq group I can join to discuss issues in future ,much appreciate.

[2018-01-20 17:52] dalinqin commented on #5680
@ilovesoup  I guess the logic is directly write data into K-V store(rocksdb) into tikv server, then building up a "view" so that from tidb ,end user can directly "read" it .

[2018-01-20 18:15] dalinqin commented on #5690
the content  of tidb.log

[code]

the tikv log from one tikv server
[code]

[2018-01-20 18:44] dalinqin commented on #5680
[tidb.log.gz](https://github.com/pingcap/tidb/files/1649164/tidb.log.gz)

[2018-01-20 18:50] dalinqin commented on #4875
I got the very same problem ,I'm wondering whether the problem solved or not? if yes ,can some one let me know how?

[2018-01-20 19:12] dalinqin commented on #5690
an update here : I updated parameter replication from default (3) to 1

the insert statement end up with` ERROR 9500 (HY000): transaction too large, len:300001`

I understand tidb was designed for oltp system and has a limit of transaction size ,but the thing is that my system need olap feature in most of cases ,how to override  the error and get it work anyway(suppose it's not allowed to split th

[2018-01-21 03:22] zimulala commented on #5690
@dalinqin
The first issue：PTAL @hanfei1991 @winoros
The second issue: Do you use the statement as `kill query id` or `kill tidb query id`?
About `[tikv:9002]TiKV server timeout[try again later]` issue PTAL @BusyJay
About you said `this situation` issue: I do not understand what you mean.
About `transaction too large` issue: Please refer to the FAQ https://github.com/pingcap/docs/blob/master/FAQ.md

[2018-01-21 03:36] hanfei1991 commented on #5690
@dalinqin please try master

[2018-01-21 04:21] dalinqin commented on #5690
@zimulala  the insert statement works now ,however ` Query OK, 753587 rows affected (10 min 36.38 sec)` any idea how to optimize it ?

[2018-01-21 04:27] shenli commented on #5690
@dalinqin As hanfei's suggestion, please try the latest master. It could generate a better query plan. Do not forget to use `Analyze Table` statement to make sure the statistics are up to date.

[2018-01-21 07:12] huachaohuang commented on #4875
We have fixed some heartbeat issues recently, which may be related to this problem.
It is very kind of you to update to the latest version and report to us if the problem shows up again, thanks.

[2018-01-21 13:37] oceanho opened #5691 "SHOW GRANTS FOR CURRENT_USER() does not work"
Hi.
I'm execute command（by mysql cli）
`SHOW GRANTS FOR CURRENT_USER();`

get the error
`
ERROR 1105 (HY000): line 1 column 28 near "()" (total length 30)
`

tidb version:
`5.7.1-TiDB-v1.1.0-alpha-459-ga2a48b3`

BTW .
tidb support MySQL Protocol , but not very compatible with MySQL's existing client tools ( `Navicat`， `MySQL-Front`，`mysql workbench`  and so on ) . Less convenient for developers to

[2018-01-21 16:30] shenli commented on #5691
@oceanho Thanks for your feedback!
You can use `SHOW GRANTS FOR USER_NAME@HOST` for now. We will support this syntax latter. But it will not be a high priority task.

[2018-01-22 03:42] ngaut commented on #5690
What's your SQL text?

[2018-01-22 05:21] winoros commented on #5690
This hint is not applied in release-1.0 branch.  You can try the release-1.1 branch. The release-1.1 branch should be able to choose nested loop join automatically.

[2018-01-22 10:41] birdstorm opened #5703 "union with date cause runtime error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?

[code]

TiDB log:
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-01-22 10:43] coocood commented on #5703
@zz-jason PTAL

[2018-01-22 10:59] XuHuaiyu commented on #5703
[code]

[2018-01-22 13:09] XuHuaiyu commented on #5703
In commit: 807dc791d4545de8b303988dfa9f0342ab0f1059

add `mysql.TypeNewDate` in `util/chunk/chunk.go:line101` will not raise a panic,
but the result of the query sql is wrong, I'm working on this.

[2018-01-23 07:02] zz-jason opened #5706 "UT failed with panic"
discovered in: http://45.249.247.133:8080/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/1193/pipeline
[code]

[2018-01-23 07:29] #5643 closed

[2018-01-23 13:41] #5703 closed

[2018-01-24 02:29] kylezhang opened #5707 "Why connect tidb more and more slowly when app start？"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Why connect tidb more and more slowly when app(`nodejs/sequelizejs, sequel Pro`) start, often there will be a timeout, the solution is to acquireConnectionTimeout increase.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb

[2018-01-24 03:44] shenli commented on #5707
@kylezhang Thanks for your feedback! Please try the latest master or release 1.0.7. We just fixed a related issue in the last week.

[2018-01-24 04:03] kylezhang commented on #5707
@shenli Thanks, `1.0.7` can solve my problem?

[2018-01-24 04:07] shenli commented on #5707
@kylezhang Please take a look at this PR: https://github.com/pingcap/tidb/pull/5679

[2018-01-24 06:06] adiu opened #5708 "pd-ctl member command Failed to get pd members"
2018/01/24 05:59:36.955 redirector.go:51: [error] redirect from pd2, but pd1 is not leader

[2018-01-24 07:01] adiu opened #5709 "start timestamp fall behind safe point"
/home/jenkins/workspace/build_tidb_1.0/go/src/github.com/pingcap/tidb/store/tikv/coprocessor.go:446:
/home/jenkins/workspace/build_tidb_1.0/go/src/github.com/pingcap/tidb/distsql/new_distsql.go:84:
/home/jenkins/workspace/build_tidb_1.0/go/src/github.com/pingcap/tidb/distsql/new_distsql.go:106:
/home/jenkins/workspace/build_tidb_1.0/go/src/github.com/pingcap/tidb/executor/distsql.go:299:
/home/jen

[2018-01-24 14:22] tiancaiamao commented on #5709
What's your TiDB version?  and what are you doing when you see this error log?  @adiu

Seems it doesn't recover and TiDB refuse new connection? That's oddly enough @disksing

[code]

[2018-01-24 14:30] tiancaiamao commented on #5708
PTAL @AndreMouche

[2018-01-25 06:04] tiancaiamao commented on #5709
Is that happened in an old version TiDB or the problem can't reproduce? @adiu

[code]

would print the TiDB version.

Anyway, feel free to reopen the issue if you meet this problem again,
and we'll be appreciated if any further information can be provided for us to find potential bugs.
Thanks. @adiu

[2018-01-25 07:37] sgphappy2007 opened #5714 "你好，请教一个数据库表大小写的问题？"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
比如在mysql中用 lower_case_table_name来控制大小写，在tidb中如何设置这个参数，谢谢！

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-01-25 07:46] XuHuaiyu commented on #5714
hi, @sgphappy2007
TiDB does not keep a variable like `lower_case_table_name`
to control this.
In TiDB, the name of database and table is cast insensitive.

[2018-01-25 08:01] sgphappy2007 commented on #5714
mysql> show variables like '%lower%';
+------------------------+-------+
| Variable_name          | Value |
+------------------------+-------+
| lower_case_file_system | ON    |
| lower_case_table_names | 2     |
+------------------------+-------+
2 rows in set (0.03 sec)

mysql> set lower_case_table_names=1;
Variable 'lower_case_table_names' is a read only variable

也就是说把lower_case_table_names设置成

[2018-01-25 08:05] tiancaiamao commented on #5714
This feature is not supported yet, so set `lower_case_table_names` to 1 doesn't work.

[2018-01-25 08:05] shenli commented on #5714
@sgphappy2007 Please refer to the document: https://github.com/pingcap/docs/blob/master/sql/variable.md#the-system-variables

[2018-01-25 08:12] sgphappy2007 commented on #5714
我们的场景是这样的：使用goldengate 将数据从db2复制到tidb,
中间报错了2018-01-25 15:17:27  ERROR   OGG-00768  The Value '2' of system variable lower_case_table_names is not supported. SQL error (0).  不知道怎么解决？

[2018-01-25 08:17] #5642 closed

[2018-01-25 08:53] adiu commented on #5709
`./bin/tidb-server -V`
`Release Version: v1.0.4-1-ga05e014`
`Git Commit Hash: a05e0146bd7f085938d2631b3726cca7d102537e`
`Git Commit Branch: release-1.0`
`UTC Build Time:  2017-12-11 03:07:11`
不好意思，英文不好，没及时回复。
查看了代码，问题已经找到并解决。

问题出现是其中一台物理机时间没同步，出现时差。tidb节点在执行`coprocessor.go:446` `it.store.CheckVisibility(it.req.StartTs)` 不能通过。
继续追查定位到是tidb-server 的 gcworker 的safe_point 与时间相关

解决方法比较粗暴，停止所有tidb-ser

[2018-01-25 10:05] disksing commented on #5709
Hi @adiu , thanks for your report. We need some more information to help to reproduce/diagnose the problem:
1. You have mentioned that one of your host's time is not synchronized. We need to know which process is deployed on that host, and whether its time is delayed or ahead of other hosts.
2. In tidb's log, grep `starts GC job`, we can extract the GC history.
3. Use a mysql client, run `select *

[2018-01-25 12:03] adiu commented on #5709
@disksing
有问题的物理机快了几个小时的样子，这台机器部署了pd和tikv-server
starts GC job log:
`2018/01/24 00:09:45.663 gc_worker.go:318: [info] [gc worker] 583a19b9ff80007 starts GC job, safePoint: 397615452425814016
2018/01/24 00:29:45.736 gc_worker.go:318: [info] [gc worker] 583a19b9ff80007 starts GC job, safePoint: 397615767011721216
2018/01/24 00:49:45.663 gc_worker.go:318: [info] [gc worker] 583a19b9ff80007 starts GC

[2018-01-25 16:09] ilovesoup opened #5720 "Change Timestamp type encoding in column value to fixed length"
The value encoded for timestamp type and datetime type is var-length long. For most of the case, this should be slower than fixed length long since most timestamp recent years or future will be using all bits for a long type. Var-length long encoding introduces unnecessary padding flags in between. This might better be changed to fixed length.

[2018-01-26 02:14] ngaut commented on #5720
Nice catch.

[2018-01-26 02:54] zz-jason opened #5722 "list.MemoryUsage is inefficient"
<img width="1205" alt="2018-01-26 10 52 36" src="https://user-images.githubusercontent.com/5268763/35423110-121d6be2-0287-11e8-85a3-35a81d4f3cc3.png">

list.go
[code]

join.go
[code]

[2018-01-26 03:01] XuHuaiyu commented on #5722
got it

[2018-01-26 05:42] disksing commented on #5709
Thanks for your feedback @adiu.
There could be something wrong with timestamp allocation with inconsistent time and time zone configurations. Please help to run the following commands on each pd server:
[code]
[code]

[2018-01-26 07:00] adiu commented on #5709
@disksing 时间已经调整同步了，已经没有意义了
<pre>grep -E "(sync and save timestamp)|(PD cluster leader)" pd*.log*</pre>
pd1：
<pre>
pd-2018-01-24T11-02-54.181.log:2018/01/16 19:51:25.772 tso.go:104: [info] sync and save timestamp: last 2018-01-16 11:46:00.816257907 +0000 UTC save 2018-01-16 19:51:28.730234442 +0000 UTC m=+376553.3147  34271
pd-2018-01-24T11-02-54.181.log:2018/01/16 19:51:25.772 leader.go:249: [inf

[2018-01-26 12:07] #5722 closed

[2018-01-27 14:32] shenli opened #5729 "Add min-required version for TiKV and PD"
We need to add the min-required version of TiKV and PD. So it is easy to tell that a specific tidb-server could be compatible with a specific tikv-server and pd-server.
In the first step, we could use the `tidb_version()` function or `tidb-server -V` to get the min version info.

[2018-01-29 01:54] siddontang commented on #5729
@BusyJay @disksing

We should unify the version format. E.g, for master, like TiKV does `version = "1.1.0-dev"`

[2018-01-29 03:45] lerencao opened #5736 "Subquery based on index causes full table scan"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Init the table with table_size: 1000_000

[code]

Then:

[code]

2. What did you expect to see?

I expected to see some plan similar to `explain select * from test where ip in ('127.0.0.1')`

[code]

3. What did you see instead?

[code]

4. What version

[2018-01-29 03:52] shenli commented on #5736
@lerencao Thanks for your feedback!
For this SQL, TiDB chooses the `Hash Join` operator. So `IndexLookup` is used for the inner table and use `TableScan` for the other table.
If there are more data in the test table, TiDB may choose the `IndexLookupJoin` operator.

PS: You can use the `Analyze statement` to make sure that the statistics is up to the date.

[2018-01-29 03:53] shenli commented on #5736
@hanfei1991 @winoros PTAL

[2018-01-29 03:53] lerencao commented on #5736
More about the query:

We currently use Phoenix on HBase. However, the optimization of Phoenix is less than satisfactory. Sometimes, we need to use the query pattern explicitly to let phoenix do what we want.

Now we plan to migrate some data to TiDB,(without migrating the business logic), so here is the case.

[2018-01-29 03:55] lerencao commented on #5736
Thx, will import more data and report later.

[2018-01-29 04:27] buggithubs opened #5737 "show table status Data ineffective"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

- `show table status` Data ineffective

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-01-29 04:45] winoros commented on #5736
Hello, @lerencao .
We won't check whether the tables of join's two sides are the same one. So `select * from test where pk in (select pk from test where ip in ('127.0.0.1'));` won't be the same as the `select * from test where ip in ('127.0.0.1')`.
But there're some optimizations we can do to make this query quicker. We'll do this in the future.

[2018-01-29 05:16] lerencao commented on #5736
@winoros thanks for the reply.
However, I think it can be a more generalized problem.
If the subquery is not from the same table as the main query table.(It's just an single [unique] index scan on one another table)

[code]
I know little about query optimization, but still, in this case, is the index range scan can be far more better than table scan?

[2018-01-29 05:20] tiancaiamao commented on #5737
Some data in `show table status` columns is fake.

[2018-01-29 05:31] winoros commented on #5736
You can run `set @@session.tidb_opt_insubquery_unfold=1`.
And then explain query to see whether the explain result is changed.

[2018-01-29 05:35] shenli commented on #5737
@lamxTyler PTAL

[2018-01-29 05:44] lamxTyler commented on #5737
@buggithubs You can get the number of rows using `show stats_meta where table_name = 't'`, refer #4519.

[2018-01-29 07:30] lerencao commented on #5736
@winoros  `session.tidb_opt_insubquery_unfold` does do what I expected! Thx!

[code]

The related code evals the subquery, and rewrite the result into a constant expr. So I'm wondering If the subquery return more data like `1w`, `10w` or so, the approach is still a good choice?

Or It's possible to choose different plan based on the analysis info of subquery? Less data goes index seek, more data g

[2018-01-29 07:44] winoros commented on #5736
@lerencao Yes, we can use the statistics information and index information to determine whether we unfold it or not. I'll update this issue when these features are ready.

[2018-01-29 08:31] disksing commented on #5709
Hi @adiu , I have noticed this unusual log in _pd2_:
[code]
It seems that the pd was not able to load timestamp from etcd.
Did you reset and restart the cluster at this point in time? Or did you manually clean up the data the pd had saved in etcd?

[2018-01-29 09:24] jackysp opened #5743 "Table charset option need a valid check"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

Raise an error, because no charset called "abcded".

3. What did you see instead?

No error occur, and it shows the following
[code]
4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_versi

[2018-01-29 09:45] lerencao commented on #5736
Looking forward to this great feature!

[2018-01-30 03:11] disksing commented on #5709
BTW, I'd like to know which pd is ahead of time. @adiu

[2018-01-30 07:28] adiu commented on #5709
@disksing 出问题的时候pd1的时间快了。调整时间后pd也是不能正常启动。我在另外一个问题里面有提到。后面查代码找到问题就用etcdctl把/pd/6498944785535040113/timestamp删除了。

[2018-01-31 02:29] yixinGod opened #5756 "TiDB crash caused by OOM"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
this server(deploy pd/tidb-server) and dmesg stdout error：
[677407.991463] Out of memory: Kill process 1635 (tidb-server) score 985 or sacrifice child
[677407.992115] Killed process 1635 (tidb-server) total-vm:64842052kB, anon-rss:64713488kB, file-rss:0k

[2018-01-31 02:34] tiancaiamao commented on #5756
Is your SQL statement `select xxx order by xxx limit xxx`?
v1.0.6 has some known leak problem on this kind of query, and it have been fixed in master and  release-1.0 branch, you can have a try. @yixinGod

[2018-01-31 05:40] yixinGod commented on #5756
tikv produce this error :
2018/01/31 13:37:07.951 kv.rs:784: [ERROR] send raft msg to raft store fail: Transport(Discard("Failed to send Raft Message due to full"))

we just insert data into tidb using mysqldump

[2018-01-31 05:43] shenli commented on #5756
@yixinGod The error `Failed to send Raft Message due to full` means that TiKV is under heavy write workload. Could you provide the hardware info and deployment topology of the TiDB Cluster?
/cc @siddontang

[2018-01-31 05:45] shenli commented on #5756
@yixinGod What is the SQL statement you are running when tidb-server meet OOM?
If this is a cluster for testing, you can try the latest master.

[2018-01-31 05:54] yixinGod commented on #5756
cluster is that:

172.16.36.125  tidb-pd01  tidb01
172.16.36.126  tidb-pd02  tidb02
172.16.36.127  tidb-pd03  grafana+pro
172.16.36.128  tidb-tikv01
172.16.36.129  tidb-tikv02
172.16.36.130  tidb-tikv03

实例规格：16核 64GB（本地SSD型 i1，ecs.i1.4xlarge）
两块盘 400多g,lvm 一起800多g,挂在在一个目录

[2018-01-31 06:49] shenli commented on #5756
May I have the access to your Grafana?

[2018-01-31 06:53] tiancaiamao commented on #5756
And what's the mysqldump command line arguments?  @yixinGod

[2018-01-31 06:57] disksing commented on #5709
hi @adiu, the timestamp we saved in etcd is to ensure that the ts will never decrease, which is vital to ensure the correctness of transaction. Under normal circumstances, we do not want users to manually delete it... In your cluster, the rollbacked TS may result in some lost updates.
btw, we have an proposal to keep available even we meet clock drift problem. Please check https://github.com/pingc

[2018-01-31 09:09] coocood commented on #5720
@ilovesoup
This is caused by `flatten` method is called first which converts `timestamp` to `uint`.
Then `encode` method will see `uint` instead of `timestamp`, then encode it to `uvarint`.

[2018-02-01 01:24] yixinGod commented on #5756
mysqldump -hrr-bp1m774t1m9v19h8o.mysql.rds.aliyuncs.com --default-character-set=utf8 -u**** -p**** his_calm_online trade_item -t  --where='id>1100000000' --replace --skip-lock-tables|mysql --default-character-set=utf8 -h172.16.36.125 -P4000 -utidb -ptidb ods
data counts: 300000000+

[2018-02-01 01:25] yixinGod commented on #5756
our company access to Grafana needing vpn

[2018-02-01 01:52] tiancaiamao commented on #5756
Could you provide the TiDB log? you can send it to my email mkl@pingcap.com
If Grafana is not available to us, could you capture the picture of the memory monitor information

[2018-02-01 02:25] yixinGod commented on #5756
I have sending ,thanks

[2018-02-01 12:51] wsabc01 commented on #5273
监控没有必要一定是 TiDB 集群的节点，保持跟 TiDB 节点的网络和端口联通都可以。

[2018-02-02 03:32] DavisLinDB opened #5771 "join has not considered the virtual rows."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
The SQL statement to generate sequence:

[code]

2. What did you expect to see?
MySQL:
+------+
| NUM  |
+------+
|    1 |
|    2 |
.....
|   99 |
|  100 |
+------+
100 rows in set (0.08 sec)

MySQL version: Server version: 5.7.21 MySQL Community Server (GPL)

3. What did you see instead?
Empty set (0.00 sec)

[2018-02-02 03:43] jackysp commented on #5771
Thanks for your feedback! PTAL @winoros .

[2018-02-02 03:43] zz-jason commented on #5771
Thanks for your feed back ! I'll take a look.

[2018-02-02 03:54] zz-jason commented on #5771
[code]

[2018-02-02 04:01] winoros commented on #5771
`select 1 from (select 1) t` works well.
`select 1 from (select 1) t, (select 1) tt` return no data.
@zz-jason

[2018-02-02 04:02] zz-jason commented on #5771
Yes, I noticed the same thing.

[2018-02-02 04:03] zz-jason commented on #5771
TiDB(localhost) > desc select 1 from (select 1) t1, (select 1) t2;
+----------------+----------------+---------------------------+------+--------------------------------+-------+
| id             | parents        | children                  | task | operator info                  | count |
+----------------+----------------+---------------------------+------+--------------------------------+------

[2018-02-02 04:04] zz-jason commented on #5771
guess join has not consider the virtual rows.

[2018-02-02 06:57] sorawa opened #5773 "tikv crash with option unwrap"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-02-02 06:58] zz-jason commented on #5773
@breeswish PTAL

[2018-02-02 07:10] jackysp commented on #5773
panic_hook.rs:99: [ERROR] thread 'endpoint-normal-pool' panicked 'calledOption::unwrap()on aNonevalue' at "/checkout/src/libcore/option.rs:335"@AndreMouche PTAL

[2018-02-02 07:14] breeswish commented on #5773
Thanks for the report.

It's a coprocessor panic, @AndreMouche  PTAL.

[2018-02-02 07:58] AndreMouche commented on #5773
What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)? @sorawa

[2018-02-02 08:02] sorawa commented on #5773
@AndreMouche
Release Version: v1.1.0-alpha-195-g8a5b8d5
Git Commit Hash: 8a5b8d54a5f816ee718c5b5f5b466e1205db4664
Git Branch: master
UTC Build Time: 2017-11-30 11:27:07

[2018-02-02 08:15] AndreMouche commented on #5773
What version of TiKV and PD are you using? And what did you do?

[2018-02-02 08:40] AndreMouche commented on #5773
What version of TiKV and PD are you using? And what did you do?

[2018-02-02 10:50] AndreMouche commented on #5773
We are fixing it now, thank you very much@sorawa

[2018-02-02 10:58] mz1999 opened #5777 "TiDB's warning logs for "Data Truncated" Error are not friendly."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I encountered the same error as [https://github.com/pingcap/tidb/issues/5532](https://github.com/pingcap/tidb/issues/5532), but my concern is that the server side warning logs for "Data Truncated" error are not friendly, which caused a lot of trouble in locating the root reason.

[code]

Java Code snippet：

[

[2018-02-02 11:16] zz-jason commented on #5777
@mz1999 Thanks for your feed back ! We are working on this currently.

[2018-02-02 15:00] decker502 opened #5782 "Different behavior with timestamp"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

The behavior is different between Mysql and TiDB.

Create table DDL:
[code]
Insert :

[code]

2. What did you expect to see?

 The result of Mysql is:
[code]

3. What did you see instead?

 The result of TiDB is:
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` o

[2018-02-03 02:22] jackysp commented on #5782
Thanks for your feedback. The version of TiDB compatible with MySQL is **5.7**. The following behavior is from MySQL 5.7. It also returns an error with your SQL.

[code]

[2018-02-03 03:28] decker502 commented on #5782
Get it, thx!

[2018-02-06 05:40] Robert-Xie commented on #5532
@coocood I encountered the same problem in v1.0.7.
When will the solution be ready?

[2018-02-06 05:52] coocood commented on #5532
@Robert-Xie
In a few days.

[2018-02-06 05:59] Robert-Xie commented on #5532
ok. Thanks.

[2018-02-06 06:17] coocood commented on #5380
done

[2018-02-06 06:17] #5380 closed

[2018-02-07 08:20] #5706 closed

[2018-02-07 11:02] ngaut commented on #5773
Could you try latest master?

[2018-02-07 11:06] #5782 closed

[2018-02-07 16:15] yangwenmai opened #5817 "conv bit error"
## Description
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score

[2018-02-07 16:25] shenli commented on #5817
@yangwenmai Thanks for your feedback!
The implementation of the `conv` function is [here](https://github.com/pingcap/tidb/blob/master/expression/builtin_math.go#L866). You can find the corresponding function signature by the argument's type.

[2018-02-07 18:30] yangwenmai commented on #5817
https://github.com/pingcap/tidb/blob/master/expression/util.go#L106

[code]

I do not know how to change getValidPrefix.

[2018-02-07 19:25] aheart commented on #5166
I'm very excited about TiDB, but without this feature it's difficult to use.
Eagerly waiting for this. :smile:
Thanks!

[2018-02-08 01:59] desmondluo opened #5819 "invalid time format"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?

completed in **ms

3. What did you see instead?

[HY000][1105] invalid time format

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]
5.reproducing the error
- create table
[code]
- insert one row
[code]
- execute sq

[2018-02-08 02:16] tiancaiamao commented on #5819
Thanks for your feedback! I've reproduce the bug and working on it. @desmondluo

[2018-02-08 02:54] kitdine opened #5820 "add index slowly when the PK generation strategy is snowflake"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
- in this test case , just a table about 5000w rows, and generate Pk with snowflake which the PK is not continuously;

- the table schema:
[code]
- create index:

[code]
2. What did you expect to see?

- Complete within a receiveable time，maybe a couple

[2018-02-08 03:00] shenli commented on #5817
@yangwenmai I take a look at the code. I think the current implementation of the `conv` function could not handle `bit` properly.  We need to modify the logic in https://github.com/pingcap/tidb/blob/master/expression/builtin_math.go#L887.

[2018-02-08 03:11] lamxTyler commented on #5820
Thanks for your feedback!
PTAL @zimulala

[2018-02-08 03:17] lamxTyler commented on #5820
We will speed up the operation of adding index, see #5192.

[2018-02-08 05:57] yangwenmai commented on #5817
# 2 (Another situation)

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-02-08 06:40] shenli commented on #5817
@yangwenmai Thanks! I think the `conv` function needs a refactor. There are some cases that do not take into consideration.

[2018-02-08 06:48] yangwenmai commented on #5817
OK, I hope I can also join in reconstruction.

[2018-02-08 07:34] #5360 closed

[2018-02-09 07:41] dabaosun opened #5844 "CPU usage is high"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

insert data into one table which has 0.2 billion history data.

2. What did you expect to see?
slow resource

3. What did you see instead?
CPU usage is high: tikv about 30%, tidb about 25%;

4. What version of TiDB are you using (`tidb-server -V` or run

[2018-02-09 07:45] winkyao commented on #5844
@dabaosun Thanks for your feedback.

But I'm misunderstand the issue, TiDB and TiKV cpu just use about 20% - 30% during you inserting 0.2 billion data, the cpu usage is not very high?

[2018-02-09 07:51] winkyao commented on #5844
Maybe your question is `why TiDB use CPU when inserting data`? Because TiDB need to parse the sql, and convert to the type of the column and do some Key-Value Encoding,  decoding, TiKV do the same thing too.

[2018-02-09 08:15] dabaosun commented on #5844
@winkyao
Thanks for your response.
I have another questions as below. Would you please give me some help?

1. With same test environment, TiKV nodes CPU usage is very low (about 10%) when the data is about 20 millions and can support about 10k concurrency including random ACUD. But, when the data is accumulated to about 0.2 billion, the TiKV CPU usage has significant rise, about 80% AND only can s

[2018-02-09 08:31] winkyao commented on #5844
@dabaosun

1. If your test runs immediately after you finished import the 0.2 billion data, the data maybe the balance is not finished, so maybe there is some hot spot data(Please see the [details](https://pingcap.com/blog/2017-07-24-tidbbestpractice/))

2. TiDB can support high concurrency, the more machine, the more throughput capacity.  You can see recommendation of depleyment [here](https://pi

[2018-02-09 09:35] #5743 closed

[2018-02-09 12:40] buggithubs opened #5849 "Expect more information on DDL history"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-02-10 05:32] dabaosun commented on #5844
Thanks and got your comments.

I did that tests one day later, and also I’m a little confused why all tikv nodes have high CPU usage. Seem all tikv nodes becoming hot spot of R/W. Maybe I need add tikv to support more concurrency based on 0.2 billion data ?

[2018-02-10 06:08] coocood commented on #5844
@dabaosun
Can you provide your table schema and query statements?
And how the 0.2 billion data is generated, imported from MySQL or generated by an application?

[2018-02-11 03:25] yangwenmai commented on #5666
This SQL is incorrect "CONCAT(ROUND(SUM(DURATION)/*100,3), '%') AS `百分比`".

Another:

My Tidb Version:

[code]

My Navicat Version:

`12.0.22 unregistered`

When I create a query after selected a database, this error would display in tidb console log.

[code]

Then I think this `GROUP_CONCAT` function is not supported.

[2018-02-11 03:35] XuHuaiyu commented on #5666
yes, @yangwenmai
It may be caused by the lack of support for the full syntax of GROUP_CONCAT as the following SQL shows,
`GROUP_CONCAT(CONCAT(DATA_TYPE, ' ', PARAMETER_NAME) ORDER BY ORDINAL_POSITION SEPARATOR ', ');`

[2018-02-11 03:40] yangwenmai commented on #5666
Yes, I found in https://github.com/pingcap/tidb/blob/master/executor/aggregate_test.go#L314.

Those test case is not incomplete.

[2018-02-11 03:50] yangwenmai commented on #5666
By the way, I highly recommended Sequel Pro, It's opensource software in MacOSX.
It is better compatibility and more friendly interface and more powerful.

[2018-02-11 03:56] yangwenmai commented on #5666
@wsabc01 Are you sure the SQL "CONCAT (ROUND (SUM (DURATION) / * 100,3), '%') AS Percentage" come from tidb log?

This SQL can not be executed in MySQL, itself is not a valid SQL.

[2018-02-11 03:59] yangwenmai commented on #5666
https://dev.mysql.com/doc/refman/5.7/en/group-by-functions.html

[code]

[2018-02-11 04:40] leonchen83 opened #5857 "column does not support `COLLOATE`"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

create table run following sql
[code]

2. What did you expect to see?

No error occur

Root cause:
[parser.y](https://github.com/pingcap/tidb/blob/master/parser/parser.y) line 5264, parsed `COMMENT` but doesn't parse `COLLATE`

3. What did you see inste

[2018-02-11 04:48] leonchen83 commented on #5857
But [docs](https://pingcap.com/docs-cn/sql/character-set-support/) points to
列的 Character Set 和 Collation
[code]

[2018-02-11 05:25] XuHuaiyu commented on #5666
@yangwenmai
Navicat in Windows auto-runs this sql.
https://github.com/pingcap/tidb/issues/5055 may be referred.

[2018-02-11 05:52] lamxTyler commented on #5857
`CHARACTER SET` and `COLLATE` should directly follow the `col_name {CHAR | VARCHAR | TEXT} (col_length)`, so you can create the table in this way:
[code]

[2018-02-11 05:58] leonchen83 commented on #5857
@lamxTyler Thanks to response.
Highly recommend compatible with mysql ddl syntax.
I will close this issue.

[2018-02-11 05:58] #5857 closed

[2018-02-11 06:05] wsabc01 commented on #5666
@yangwenmai  This sql does not look like a full sql ,it only prints a place which with wrong grammar . It seems  to be created and executed by  navicat when someone uses it to get result from TiDB, but TIDB  does not support.

[2018-02-11 09:24] #5773 closed

[2018-02-11 09:26] AndreMouche commented on #5773
Hi, we have fixed it in https://github.com/pingcap/tikv/pull/2744. You can try it with the latest master @sorawa

[2018-02-11 11:04] ngaut commented on #5817
@yangwenmai Sure, feel free to do it.

[2018-02-12 03:07] dabaosun commented on #5844
@coocood

1. Table schema and query statements as below.
2. The data is generated by an application.

CREATE TABLE `Table1` (
  `Id` varchar(26) NOT NULL,
  `CreateAt` bigint(20) DEFAULT NULL,
  `UpdateAt` bigint(20) DEFAULT NULL,
  `EditAt` bigint(20) DEFAULT NULL,
  `DeleteAt` bigint(20) DEFAULT NULL,
  `Pinned` tinyint(4) DEFAULT NULL,
  `UserId` varchar(26) DEFAULT NULL,
  `DepartmentId` varch

[2018-02-12 03:11] dabaosun commented on #5844
Meanwhile ,if only inserting data into the table with **10+** concurrency, all of TiKV nodes have about 30% usage. Not sure it's normal. In other words, Tidb supports high concurrency insert operations ,or not? Is it more dependent on the disk performance?

[2018-02-12 04:05] coocood commented on #5844
@dabaosun
One possibility is that the data is generated randomly, and random insert has greater write amplification.

To confirm this, you can profile the TiKV process and generate a flame graph https://github.com/brendangregg/FlameGraph

[2018-02-12 06:08] lerencao commented on #5680
mysql_write_props = {"isolationLevel":"NONE","batchsize":"1000000","truncate":"true"}
to
mysql_write_props = {"isolationLevel":"NONE","batchsize":"100000","truncate":"true"}

Maybe you commit too much data at a time.
I have came across the similar issue. **The isolation level should be set none, as you did here, and the batch size cannot be too big.** TiDB has some limits on the size of a commit.

[2018-02-12 06:58] qazbnm456 opened #5873 "[Proposed] Should we assign an alias to a standalone variable rather than overwrite TblName?"
### 1. What did you do?
Take the query: `select * from ((select 1)a join (select 2)b);` as an example, I'll get a LogicalPlan from [plan. BuildLogicalPlan](https://github.com/pingcap/tidb/blob/039ad96562ec914f722170704a4c713f30961bb2/plan/optimizer.go#L92).

### 2. What did you expect to see?
Look into the structure of `LogicalProjection` generated from `(select 1)a`, the values of `TblName` and `

[2018-02-12 07:08] XuHuaiyu commented on #5873
hi, @qazbnm456
Thanks for your advice, this is consistent with MySQL.
[code]

[2018-02-12 14:12] dabaosun commented on #5844
The thread named endpoint-normal has high CPU  usage.  What is this thread used for and Do you have any suggestion on next step? Thanks.

[2018-02-12 16:34] coocood commented on #5844
@dabaosun
The endpoint-normal is used to read data for select statements.
If data size fetched for the select statement is proportional to the dataset size, the CPU usage would be much higher when the dataset is larger.

[2018-02-13 06:29] dabaosun commented on #5844
@coocood
Thanks.
How long will the PD migrate the data move to new nodes if new tikv nodes are added? And how does the user know the migration has been done?

[2018-02-13 06:52] coocood commented on #5844
@dabaosun
PD has an HTTP API to get the balance info, see
https://github.com/pingcap/docs/blob/master/op-guide/monitor.md#pd-server

[2018-02-13 07:48] lerencao opened #5879 "TiDB failed, and then cannot be started"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

After I do `analyze table mysql.stats_histogram`, I lost the connection to TiDB。
Then the supervisor cannot start it again.

The panic log:

[code]
The starting log:

[code]

I found that the `SessionStatsCollector` was nil, before `s.Lock()` was called

[2018-02-13 07:51] #5844 closed

[2018-02-13 09:25] shenli commented on #5879
@lerencao Thanks for your feedback!
@lamxTyler PTAL

[2018-02-13 09:39] shenli commented on #5849
@buggithubs Thanks for your feedback!
Could you add more detailed information on this issue? What kind of information do you expect in the ddl history list?

[2018-02-13 09:55] shenli commented on #5756
@yixinGod Thanks!
@tiancaiamao  Any update?

[2018-02-13 09:57] shenli commented on #5737
@buggithubs Some result of `show table status` is mocked. We may improve this in the future. But it is not on the list now.

[2018-02-13 09:57] #5737 closed

[2018-02-13 09:58] shenli commented on #5666
@wsabc01 We will fix it soon.

[2018-02-13 11:00] lerencao commented on #5879
Thx for the quick fix!

[2018-02-13 16:33] shenli commented on #5879
@lerencao You are welcome!

[2018-02-14 07:13] lamxTyler commented on #5879
@lerencao You can try the lastest mater now.

[2018-02-14 07:13] #5879 closed

[2018-02-15 02:46] tiancaiamao commented on #5819
Hi,  @desmondluo
I find it involves more detail than I thought. We'll leave it here right now.
You can try to change `2018-11-23  00:00:01`, remove the extra whitespace TiDB will work.

[2018-02-15 03:08] tiancaiamao commented on #5756
I need some detail information to digest this issue. @shenli
log of TiKV and grafana screenshot from PD is not helpful.
Could you send me something about TiDB? @yixinGod

![unnamed](https://user-images.githubusercontent.com/1420062/36238765-53c0afc6-11ca-11e8-8954-b7b26769d699.png)

![unnamed 1](https://user-images.githubusercontent.com/1420062/36238810-9ba3d836-11ca-11e8-8e9a-b7d2473747ef.png)

[2018-02-19 12:15] bbsyaya opened #5886 "tidb and tikv instance are stopped after 5 hours"
在一台机器上同时启动了，一个pd，一个tikv,一个tidb
在启动5个小时之后，tikv进程和tidb自动停止服务了
tikv的log如下：
2018/02/19 02:03:29.225 apply.rs:699: [INFO] [region 16] 17 execute admin command cmd_type: CompactLog compact_log {compact_index: 878 compact_term: 8} at [term: 8, index: 880]
2018/02/19 02:23:31.225 apply.rs:699: [INFO] [region 16] 17 execute admin command cmd_type: CompactLog compact_log {compact_index: 929 compact_term: 8}

[2018-02-20 02:11] shenli commented on #5886
@bbsyaya Please check the FAQ.
By the way: we encourage to use English to communicate in this repo.

[2018-02-22 02:52] tiancaiamao commented on #5886
In TiKV log:

In TiDB log:

TiDB and TiKV stop service because they got those signal.
This may happen when you start them as front job and leave the console.

Maybe you can try the `nohup` command, and find more detail in wiki https://en.wikipedia.org/wiki/SIGHUP.

@bbsyaya

[2018-02-22 02:56] FreedomMatrix2015 opened #5888 "Will TiDB add Sorted Map (or something like Zset in Redis) in the future？"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-02-23 02:27] coocood commented on #5888
@FreedomMatrix2015

We don't have any plan to support Redis protocol.

[2018-02-23 05:49] shenli commented on #5886
@bbsyaya You can get the answer here: https://github.com/pingcap/docs/blob/master/trouble-shooting.md#the-tidbtikvpd-process-aborts-unexpectedly

[2018-02-23 05:49] #5886 closed

[2018-02-23 05:53] shenli commented on #5888
@FreedomMatrix2015 We do not have a plan to provide structure API through some protocols such as Redis protocol. But you can use some structures by using TiDB as a library. Please refer to the code here：https://github.com/pingcap/tidb/tree/master/structure

[2018-02-23 05:53] #5888 closed

[2018-02-23 06:19] ngaut opened #5892 "Test compatibility using DataGrip"
DataGrip is a Database management systems that support many databases, including MySQL. See https://www.jetbrains.com/datagrip/

[2018-02-23 12:47] shenli commented on #5892
In the first step, we need to check if there is any issue when running datagrid on TiDB.

[2018-02-24 07:33] leonchen83 opened #5896 "Select statement run too slow"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

step 1:
[code]
step 2:
insert into this table 130,000,000rows data.

step 3:
execute `select BK_SYMBOL_ID, max(QUOTE_TIME) as QUOTE_TIME from BK_QUOTE group by BK_SYMBOL_ID`

found that this query is too slow.

the explain sql is following:
`explain sel

[2018-02-24 07:36] coocood commented on #5896
@leonchen83
Thank you for your report!

@winoros PTAL

[2018-02-24 07:37] zz-jason commented on #5896
@leonchen83 tidb master branch is much faster than release1.0, please have a try.

[2018-02-24 07:40] leonchen83 commented on #5896
but for now the master branch is not very stable. isn't?

[2018-02-24 07:52] winoros commented on #5896
We're preparing Stream Aggregation in #5725 . This feature will speed up this sql a lot.

[2018-02-24 07:56] zz-jason commented on #5896
@leonchen83 can you show us the execution plan in mysql by running the following sql in mysql:
`explain format=json select BK_SYMBOL_ID, max(QUOTE_TIME) as QUOTE_TIME from BK_QUOTE group by BK_SYMBOL_ID;`

[2018-02-24 08:00] leonchen83 commented on #5896
@zz-jason
[code]

[2018-02-24 08:12] zz-jason commented on #5896
@leonchen83 Yes, It's related to this optimization: https://dev.mysql.com/doc/refman/5.7/en/group-by-optimization.html, which tidb is not supported yet.

[2018-02-24 08:15] leonchen83 commented on #5896
@zz-jason
if I added additional index `create index INDEX_03 on BK_QUOTE (BK_SYMBOL_ID)` , could this index speed up the select query?

[2018-02-24 08:19] winoros commented on #5896
@leonchen83 INDEX_02 won't take effect until the stream aggregation feature is ready.
INDEX_03 is no better than INDEX_02

[2018-02-24 08:23] zz-jason commented on #5896
@leonchen83 Whether use index or not, TiDB always examine 130,000,000 rows data for now. When "Loose Index Scan" is supported, rows examined by TiDB can be reduced the same as MySQL and may have the same speed compared to MySQL.

[2018-02-24 08:27] leonchen83 commented on #5896
@zz-jason
I can't find Loose Index Scan in [ROADMAP.md](https://github.com/pingcap/docs-cn/blob/master/ROADMAP.md).
will 1.1.0 support this  feature?

[2018-02-24 08:27] denofiend commented on #5331
hi

[2018-02-24 09:00] arthin2008 opened #5899 "when load data with sysbench and ycsb, 3 tikv crashed, and restart failed"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I'm loading data with sysbench and ycsb, just to test.
after about 30m, all these 3 tikv-server crashed, I try to restart it but it was panic again and exited.

3 physical machines(Mem>128G,Cpu>24c, SAS using LVM) with 3 pd/ 3 tikv / 3 tidb-server
My os is Red Hat Enterprise Linux Server release 7.3 (Maipo)

2

[2018-02-24 09:52] coocood commented on #5899
@arthin2008
Thank you for your report!

@zhangjinpeng1987 PTAL

[2018-02-24 09:54] zhangjinpeng1987 commented on #5899
@arthin2008 This is a fixed bug, please upgrade your TiKV.

[2018-02-24 10:25] arthin2008 commented on #5899
how to fixed bug ? My TiKV is latest version

Do you mean to download tikv-server v1.0.8?
Should I replace both PD and TiDB-Server?

$ tikv-server -V
TiKV
Release Version:   1.1.0-dev
Git Commit Hash:   ba488de15f0ebeef2e95e39730ebe6216e9ad34a
Git Commit Branch: master
UTC Build Time:    2018-01-29 07:18:46
Rust Version:      1.25.0-nightly (73ac5d6a8 2018-01-11)

[2018-02-24 10:37] arthin2008 commented on #5899
i deploy using binary code refering to following url https://www.pingcap.com/docs-cn/op-guide/binary-deployment/

104443306 Feb 24 10:55 tidb-latest-linux-amd64.tar.gz

[2018-02-24 12:17] coocood commented on #5899
@arthin2008
Please try to download the latest binary again, the fix for this bug is not included in your TiKV version.

[2018-02-24 12:18] coocood commented on #5899
The latest binary version is
[code]

[2018-02-26 02:13] dreamquster commented on #5666
@yangwenmai , @XuHuaiyu , In MySQL, I find the navicat send this SQL
"SELECT STATE AS ``, ROUND(SUM(DURATION),7) AS ``, CONCAT(ROUND(SUM(DURATION)/0.015120*100,3), '%') AS `` FROM INFORMATION_SCHEMA.PROFILING
 WHERE QUERY_ID=3 GROUP BY STATE ORDER BY SEQ".
TiDB had omited the float number(like 0.015120) in comparsion with MySQL. The char sequence like '/*' is the begining of comments.

[2018-02-26 02:34] arthin2008 commented on #5899
ok, i have cleaned old data and  reinstall latest tidb.

with this latest version, ddl operation is too slow.

MySQL [(none)]> create database ycsb;
Query OK, 0 rows affected (20.06 sec)

MySQL [(none)]> create database sysbench;
Query OK, 0 rows affected (20.05 sec)

tidb log:
2018/02/26 10:30:35.581 syncer.go:307: [info] [syncer] check all versions, ddl /tidb/ddl/all_schema_versions/ec93b0b9-b41

[2018-02-26 05:02] dreamquster commented on #5666
TiDB do not support such SQL:
SELECT QUERY_ID, SUM(DURATION) AS SUM_DURATION FROM INFORMATION_SCHEMA.PROFILING GROUP BY QUERY_ID

In MySQL, the result of the above sql is following:
QUERY_ID	SUM_DURATION
1	0.006733
2	0.001662

TiDB returns nothing
QUERY_ID	SUM_DURATION

[2018-02-26 06:03] coocood commented on #5666
@dreamquster

Good catch!
Thank you for your help!
We should implement profiling table to fix this issue.

[2018-02-26 06:15] winoros commented on #5896
@leonchen83 1.1.0 won't support `loose index scan`. 1.1.0 can speed up this sql to about 50% of original time. We will do this in the near future.

[2018-02-26 06:24] winoros commented on #5896
@zimulala PTAL

[2018-02-26 06:56] zimulala commented on #5896
@leonchen83
Could you let me know about your cluster deployment?

[2018-02-26 07:18] winkyao commented on #5551
can we close this issue? @zimulala

[2018-02-26 07:28] zimulala commented on #5896
@leonchen83
Could you send me your TiDB log to lixia@pingcap.com?

[2018-02-26 07:32] leonchen83 commented on #5896
[code]
the log is very big..

[2018-02-26 07:33] coocood commented on #5666
@wsabc01 @dreamquster

Would please try the latest master and check if the issue has been fixed?

[2018-02-26 07:51] zimulala commented on #5896
@leonchen83
Thank you for your report! We will handle it later. Relate #5192.

[2018-02-26 08:11] zhexuany commented on #5899
@zimulala PTAL

[2018-02-26 08:17] zimulala commented on #5899
@arthin2008
You can reference [docs FAQ](https://github.com/pingcap/docs/blob/master/FAQ.md#why-it-is-very-slow-to-run-ddl-statements-sometimes). Your situation may be the third reason.

[2018-02-27 04:33] leonchen83 commented on #5896
@zimulala
hi
I killed that create index command using `kill tidb process-id`

after killed

[code]

and then I found that create index still running in backend when I check `tidb.log`

[code]

How should I terminate that create index process?

[2018-02-27 04:44] zimulala commented on #5896
@leonchen83
You can use the statement `ADMIN CANCEL DDL JOBS 'job_id' [, 'job_id'] ...`. Related [docs](https://github.com/pingcap/docs/blob/master/sql/admin.md#admin-statement)
The job_id is 53 here.

[2018-02-27 05:38] dabaosun opened #5915 "The number of regions keeps increasing"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Drop one database, and then re-create it.

2. What did you expect to see?
The number of regions should be reset. And the storage is recycled,

3. What did you see instead?
After several days of the drop operations, the storage is recycled ,But the number

[2018-02-27 05:42] zhexuany commented on #5915
The number of regions should be reset. And the storage is recycled,

This is wrong. When you drop one databases, it is only logically dropped not physically. physically dropping is running background. We added a feature call `batch delete` to improve performance of this operation.

[2018-02-27 05:42] zhexuany commented on #5915
I am closing this issue since it is not a bug report or a improvement proposal but please feel free to reopen this issue if you feel like you want to add more stuff.

[2018-02-27 05:42] #5915 closed

[2018-02-27 06:28] dabaosun commented on #5915
Thanks your response.
I understand the physically dropping is running background. However, I'm confused that After several days, why the storage was recycled , but the number of regions not. One and more days are not enough for the background dropping?  Since the storage size was recycled, then the background operations seem be working, but why the number of regions was not decreased.

[2018-02-27 06:30] dabaosun commented on #5915
Thanks.

[2018-02-27 10:29] ilovesoup opened #5918 "Support LONG VHARCHAR alias"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Create table test (t LONG VARCHAR NULL);

2. What did you expect to see?
create table success. It's an alias of MEDIUMTEXT.

3. What did you see instead?
Error happened.

This will allow TiDB work as Hive/Spark's metaserver.

[2018-02-28 01:54] ngaut opened #5919 "Increase the default garbage collection concurrency"
Currently, there is only a single garbage collection thread for the whole cluster by default configuration. It's not capable for large cluster. We can safely increase it the 2 as default value.

[2018-03-01 22:25] 80631004 opened #5935 "the table name with the underline exception occurred when `show table` is performed"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
1）：创建表
CREATE TABLE person_1_2_3 (
    number INT(11),
    name VARCHAR(255),
    birthday DATE
    );

2）执行show tables;
显示表名为：person_
2. What did you expect to see?
执行show tables;
希望为显示为创建的表名:
person_1_2_3

3. What did you see instead?
显示表名为：person_

4.

[2018-03-02 02:32] zimulala commented on #5935
PTAL @jackysp

[2018-03-02 02:35] jackysp commented on #5935
Thank you for your feedback, @80631004 , but I can not reproduce your issue.
[code]

[2018-03-02 02:46] jackysp commented on #5935
I've tried it on Linux, cannot reproduce either. Could you please show more details for your test, @80631004  ?

[2018-03-02 05:50] 80631004 commented on #5935
@jackysp  I am use  Navicat Premium tools  to create table and show table

[2018-03-02 06:07] jackysp commented on #5935
So `show tables` results are correct if you use MySQL client? @80631004

[2018-03-02 06:25] duckstar2 opened #5936 "Can you release tpc-c and tpc-h test result ?thanks"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?
TPC-C and TPC-H test result

3. What did you see instead?

My SQL

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
Assessming....

[2018-03-02 06:34] shenli commented on #5936
@duckstar2 Thanks for your attention!
We will consider releasing the TPC-H result after 1.1-GA. For the TPC-C, we do not have a plan now.

[2018-03-02 07:05] 80631004 commented on #5935
not sure,tonigth I will try it

[2018-03-02 10:11] jackysp commented on #5935
The table name looks good on Navicat Premium 12.0.20.

[2018-03-02 13:44] 80631004 commented on #5935
@jackysp   use mysql client to show table is correct, I am use Navicat Premium 11.2.7 tools to create table, So Navicat Premium 11.2.7 sames have some wrong for show table

[2018-03-03 00:28] shenli commented on #5935
@80631004 Which OS are you using?

[2018-03-03 10:30] 80631004 commented on #5935
windows 7

[2018-03-03 12:03] zhexuany commented on #5918
Related PR is already merged. Closing.

[2018-03-03 12:03] #5918 closed

[2018-03-04 02:59] DeanThompson opened #5940 "Duplicate entry for key PRIMARY"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

Insert rows using Python pymysql:

[code]

Please notice that the primary key is AUTO_INCREMENT, and we didn't specific its value while inserting new records.

2. What did you expect to see?

The new records will be inserted into table successfully.

3. What did you see instead?

[code]

This error ha

[2018-03-04 06:18] zimulala commented on #5940
@DeanThompson
Thanks for your report!
Could I know how many TiDBs in your cluster? How do you perform this insert statement? Is it executed concurrently?

[2018-03-04 06:34] DeanThompson commented on #5940
@zimulala

3 tidb-server, the client connects to TiDB via Haproxy. The statement is executed in serial.

The table is migrated from another TiDB cluster (RC4, 0.8) by mydumper + loader.

And I solved the problem by reseting the AUTO_INCREMENT into a larger value than `MAX(id)`.

[code]

[2018-03-04 06:38] jackysp commented on #5935
I can reproduce this bug. TiDB set a default field length for all show schemas at https://github.com/pingcap/tidb/blob/4e1a114e68e757a68b6b2677b0fde6228b090892/plan/planbuilder.go#L1262 ,
which is not compatible with MySQL.

TiDB:

[code]

and MySQL:

[code]

TiDB caculate an accurate `Max_length` of field type as MySQL, but the `Length` is different. I think navicat 11 use the `Length` field for

[2018-03-04 07:27] zimulala commented on #5940
@DeanThompson
Could you give your RC4 TiDB's `Git Commit Hash`(use `tidb-server -V`)? And please show the result of `select product from t where id < 1000 limit 10;`
Do you know the value of  `AUTO_INCREMENT ` in the result `show create table` before you execute this `ALTER TABLE`?

[2018-03-04 07:45] DeanThompson commented on #5940
[code]

The source database was dropped from the cluster.

The original `AUTO_INCREMENT` is 6184640 (you can find in my first reply.)

[2018-03-05 07:44] zz-jason opened #5946 "select password("xxx") should return a warning"
## 1. What did you do?
[code]

## 2. What did you expect to see?

in mysql:
[code]

## 3. What did you see instead?

in tidb:
[code]

## 4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-03-05 08:01] zimulala commented on #5940
@DeanThompson
Does this `product ` exist on the current cluster? If it exists, please show the result of `select product from t where id < 1000 limit 10;`

[2018-03-05 08:06] zimulala commented on #5940
The case of this question is on the new cluster(TiDB version: v1.1.0-beta-17-g816c764). I'm sorry, I did not make it clear.

[2018-03-05 10:36] sparkpos commented on #720
On my MacOS, I can install  my Drupal 8 over TiDB successfully.

TiDB install: https://github.com/pingcap/tidb-docker-compose
Drupal version: 8.4.4
PHP version: 7.1

Hope it helps.

[2018-03-05 10:37] terryzwt commented on #720
On my MacOS, I can install my Drupal 8 over TiDB successfully.

TiDB install: https://github.com/pingcap/tidb-docker-compose
Drupal version: 8.4.4
PHP version: 7.1

Hope it helps.

[2018-03-05 11:22] DeanThompson commented on #5940
@zimulala

There is no table `t`, do you mean `SELECT * FROM product WHERE id < 1000 LIMIT 10;`? The result set is empty.

The result is `6184640`.

[2018-03-05 11:41] zimulala commented on #5940
@DeanThompson
Sorry.
`please show the result of select id from product where id < 1000 limit 10;`

[2018-03-05 11:43] zimulala commented on #720
@terryzwt
Thanks for your report!

[2018-03-05 11:49] DeanThompson commented on #5940
The result is empty, 0 rows affected.

[2018-03-05 13:31] zimulala commented on #5940
@DeanThompson
The reason is that the old version(RC4) of the `auto_increment` field in the result of `show create table` was problematic.
e.g.
[code]
Do not specify the field of primary_id(auto_increment).
Then excute the statement of `show create table t;`
The old version(RC4) result: create table t (...) auto_increment = 1000;
The correct result: create table t (...) auto_increment = 1000 + n -

[2018-03-05 13:43] Robert-Xie opened #5956 "Long running sql failed with "start timestamp fall behind safe point " in 5.7.1-TiDB-v1.0.7-1-g4913f64."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Run "select * from big_table_a" and fetch rows to a series of text files.
Comment: big_table_a has about **_500,000,000 rows_**.

2. What did you expect to see?

success without errors.

3. What did you see instead?

failed in  5.7.1-TiDB-v1.0.7-1-g4913

[2018-03-05 13:53] zimulala commented on #5956
PTAL @disksing

[2018-03-05 15:54] wentaoxu commented on #5956
thank you for your report!!!
for this problem, you can make gc interval longer using
```update mysql.tidb set variable_value='10h' where variable_name='tikv_gc_life_time';```.
here, '10h' is the interval needed to run the query.
By the way, for distributed oltp dbms, it is not a good way to run this huge query, it will fail easily, it will be helpful if you can break it into small queries using ``

[2018-03-05 23:23] delphidoc opened #5957 "Do you have a plan for windows platform?"
有开发windows版本的计划吗？

[2018-03-06 00:38] shenli commented on #5957
Thanks for your feedback! We do not have such a plan now.

[2018-03-06 00:38] #5957 closed

[2018-03-06 02:27] DeanThompson commented on #5940
@zimulala Thanks for the investigation. I think this could be closed.

[2018-03-06 02:34] zimulala commented on #5940
@DeanThompson
Not at all.

[2018-03-06 02:34] #5940 closed

[2018-03-06 05:44] Robert-Xie opened #5961 "Failed when updating all rows in table_a to fix data error.（ERROR 9500 (HY000): transaction too large, len:300001）."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

update table_a set `column1`='aaaaaa', `column2`=123456;

(Thare are **_840,694 rows_** in table_a ).

2. What did you expect to see?

Query OK ******

3. What did you see instead?

ERROR 9500 (HY000): **_transaction too large, len:300001_**

4. What ve

[2018-03-06 10:06] #5666 closed

[2018-03-06 10:57] Robert-Xie commented on #5961
Thanks

[2018-03-06 11:45] #5961 closed

[2018-03-07 02:11] jackysp commented on #5935
@80631004 , this bug was fixed by #5945 . You can use the latest master branch. Thank you for your report.

[2018-03-07 02:11] #5935 closed

[2018-03-07 05:46] XuHuaiyu opened #5966 "Some built-in funcs that are not consistent with MySQL when meet specific parameter"
[] SELECT Sec_To_Time(`col_time_key`) FROM `table5_utf8_bin_int_autoinc`
[] SELECT Char(`col_bool_key`, `col_char_20_utf8_key`, `col_datetime_key`, `pk`, `col_int_key`, `col_bool_key`, `col_int_key`, `col_bit_20_key`, `col_time_6_key`, `col_set_utf8_key`, `col_bool_key`, `col_datetime_key`, `col_set_utf8_key`, `col_set_utf8_key`, `col_time_6_key`, `col_datetime_6_key`, `col_bit_20_key`, `col_datet

[2018-03-07 05:57] XuHuaiyu commented on #5966
- [ ] SELECT Sec_To_Time(`col_time_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Char(`col_bool_key`, `col_char_20_utf8_key`, `col_datetime_key`, `pk`, `col_int_key`, `col_bool_key`, `col_int_key`, `col_bit_20_key`, `col_time_6_key`, `col_set_utf8_key`, `col_bool_key`, `col_datetime_key`, `col_set_utf8_key`, `col_set_utf8_key`, `col_time_6_key`, `col_datetime_6_key`, `col_bit_20_key`, `col

[2018-03-07 05:57] XuHuaiyu commented on #5966
- [ ] SELECT Field(`col_datetime_6_key`, `col_bit_20_key`, `col_time_6_key`, `col_set_utf8_key`, `pk`, `col_datetime_key`, `pk`, `col_bit_20_key`, `col_int_key`, `col_bool_key`, `col_char_20_utf8_key`, `col_time_6_key`, `col_datetime_6_key`, `col_bit_20_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Least(`col_int_key`, `pk`, `col_int_key`, `col_time_6_key`, `col_datetime_6_key`, `col_char_

[2018-03-07 05:57] XuHuaiyu commented on #5966
- [ ] SELECT Sqrt(`col_set_utf8_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Char(`col_time_6_key`, `col_datetime_6_key`, `col_datetime_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Ord(`col_set_utf8_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Inet6_Ntoa(`col_char_20_utf8_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Substr(`col_set_utf8_key`, `pk`, `col_char_20_

[2018-03-07 05:57] XuHuaiyu commented on #5966
- [ ] SELECT Make_Set(`col_time_key`, `pk`, `col_time_6_key`, `col_time_6_key`, `col_datetime_key`, `col_time_key`, `col_time_6_key`, `col_time_6_key`, `col_set_utf8_key`, `col_bool_key`, `col_datetime_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Greatest(`col_datetime_6_key`, `col_time_key`, `col_set_utf8_key`, `col_bit_20_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Concat(`col

[2018-03-07 05:58] XuHuaiyu commented on #5966
- [ ] SELECT Greatest(`col_time_key`, `col_time_key`, `col_char_20_utf8_key`, `col_bool_key`, `pk`, `col_time_6_key`, `col_int_key`, `col_set_utf8_key`, `col_int_key`, `col_datetime_key`, `col_bool_key`, `col_datetime_key`, `col_time_key`, `col_time_6_key`, `col_time_6_key`, `col_datetime_6_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Char(`col_set_utf8_key`, `col_set_utf8_key`, `col_set_

[2018-03-07 05:58] XuHuaiyu commented on #5966
- [ ] SELECT Unix_Timestamp(`col_datetime_6_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Concat(`col_time_6_key`, `col_char_20_utf8_key`, `col_set_utf8_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Concat_WS(`col_time_key`, `col_bit_20_key`, `col_int_key`, `col_int_key`, `col_char_20_utf8_key`, `col_bool_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT LTrim(`col_time_key`) F

[2018-03-07 05:58] XuHuaiyu commented on #5966
- [ ] SELECT Char(`col_datetime_6_key`, `pk`, `col_time_6_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Insert(`col_time_6_key`, `col_bit_20_key`, `col_char_20_utf8_key`, `col_char_20_utf8_key`) FROM `table5_utf8_bin_int_autoinc`
- [ ] SELECT Least(`col_char_20_utf8_key`, `col_time_key`, `col_bit_20_key`, `pk`, `col_datetime_6_key`, `pk`, `col_char_20_utf8_key`, `col_set_utf8_key`, `col_da

[2018-03-07 08:14] XuHuaiyu commented on #5966
other cases:
[code]

[code]

[2018-03-07 09:45] Robert-Xie opened #5970 "sub query with nick name failed."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

select * from (
     select id, name from table_a
     union all
     select id, name from table_b
     union all
     select id, name from table_c
) t
order by t.id

2. What did you expect to see?

Result list.

3. What did you see instead?

_**ERROR 1

[2018-03-07 10:25] Robert-Xie opened #5971 "STRAIGHT_JOIN error."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

select * from t1 STRAIGHT_JOIN t2 on t1.id = t2.id;

2. What did you expect to see?

Empty set (0.00 sec)

3. What did you see instead?

ERROR 1105 (HY000): line 1 column 33 near " on t1.id = t2.id" (total length 50)

4. What version of TiDB are you usi

[2018-03-07 10:25] winoros commented on #5970
@Robert-Xie  Thanks for reporting. Could you provide a full recipe? I tried simple sql and it runs successfully.
[code]

[2018-03-07 10:31] winoros commented on #5971
We haven't support `STRAIGHT_JOIN`, but it's in our TODO list. @zz-jason

[2018-03-07 10:34] zz-jason commented on #5971
@Robert-Xie I'll support `STRAIGHT_JOIN` in this week. Thanks for your feed back !

[2018-03-07 10:57] Robert-Xie commented on #5971
Thanks a lot.

[2018-03-07 11:02] Robert-Xie commented on #5970
Like this:

MySQL [test]> show create table t1;
+-------+--------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table | Create Table                                                                                                                                           |
+-------+-----------------

[2018-03-07 11:14] XuHuaiyu commented on #5970
@Robert-Xie
Thank you for your feedback, we reproduce the problem.
It'll be fixed soon.

[2018-03-07 11:17] XuHuaiyu commented on #5970
@Robert-Xie You can try branch release-1.1 which will not cause this error.

[2018-03-08 06:29] duckstar2 opened #5975 "when install 9 nodes TiDB cluster,ocurr the error:"join error context deadline exceeded""
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
when install 9 nodes TiDB cluster, ocurr the following error :
第一个节点，启动pd1，启动正常
./bin/pd-server --name=pd1 --data-dir=pd1 --client-urls="http://100.185.120.108:2379" --peer-urls="http://100.185.120.108:2380" --initial-cluster="pd1=http://100.185.120.108:2380,pd2=http://100.185.120.109:2380,pd3=http://100.185.1

[2018-03-08 06:32] tiancaiamao commented on #5975
Thanks for your feedback.
PTAL @disksing

[2018-03-08 06:34] Robert-Xie commented on #5956
Yes, thanks a lot.

[2018-03-08 06:48] wentaoxu commented on #5956
happy

[2018-03-08 06:48] #5956 closed

[2018-03-08 11:48] jomenxiao opened #5979 "Add uptime metric to TIDB status API"
How to know TiDB restarted?(startTS or Uptime)
How to get all of TiDB's status?

[2018-03-08 12:00] jomenxiao commented on #5979
#4989

[2018-03-08 12:03] disksing commented on #5975
Hi @duckstar2 ,

There are currently 2 ways to form a 3 nodes pd cluster.
1. Initialize 3 nodes cluster directly. Each pd should be started with `--initial-cluster="pd1:$addr1,pd2:$addr2,pd3:$addr3"` and `--join=""`.

2. Initialize a single node cluster first, then start 2 other pds to join the existed cluster. The first pd should run with `--initial-cluster="pd1:$pd1"` and `--join=""`, the other

[2018-03-08 13:07] sparkpos commented on #720
but for some update operations, there will be errors.
`Drupal\Core\Entity\EntityStorageException: SQLSTATE[HY000]: General error: 1105 line 1 column 10 near "savepoint_1" (total length 21): SAVEPOINT savepoint_1; Array ( ) in Drupal\Core\Entity\Sql\SqlContentEntityStorage->save() (line 829 of /var/www/html/core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php).`

[2018-03-08 13:35] tiancaiamao commented on #720
What's the error log in TiDB? @sparkpos

[2018-03-08 13:45] jackysp commented on #5979
Good idea, @jomenxiao . We'll consider your advice.

[2018-03-08 14:39] sparkpos commented on #720
@tiancaiamao I install tidb by docker-compose provided by official.
In this case, how check the logs?
I have check tidb, kv, pd logs; But I can only see info logs, can't see error logs.

[2018-03-08 14:42] tiancaiamao commented on #720
@tennix How to check TiDB log?

[2018-03-08 14:53] shenli commented on #720
@tiancaiamao I think this is the SQL which TiDB doesn't support: `SAVEPOINT savepoint_1; `.

[2018-03-08 15:33] Lloyd-longfei commented on #4250
My  also encountered the same problem with TIDB, and when writing SQL, the following mistakes were made:
[code]
This problem may directly affect the running of our online production environment, when can you increase the function, or tell us how to solve the problem. @hanfei1991

[2018-03-08 15:48] zz-jason commented on #4250
@Lloyd-longfei Thanks for your feed back, I'm sorry to tell you that `group by ... with rollup` is not on our roadmap now, but we'll support it as soon as possible.

For now, a workaround it to write another sql to get the aggregation summary, see https://dev.mysql.com/doc/refman/5.7/en/group-by-modifiers.html for more detail.

[2018-03-09 03:09] ngaut opened #5982 "Circle CI failed. Failed case is TestDecodeColumnValue."
FAIL: http_handler_test.go:335: HTTPHandlerTestSuite.TestDecodeColumnValue

See more https://circleci.com/gh/pingcap/tidb/16652?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-03-09 03:11] jackysp commented on #5982
@zimulala is working on it.

[2018-03-09 03:19] zimulala commented on #5982
@ngaut @JackDrogon
PR #5983

[2018-03-09 06:20] XuHuaiyu opened #5985 "remove Next() function of all the Executors"
We no longer need `Next()` for executors since we already have `NextChunk()`. Function `Next()` and all the functions and attributes called only by `Next()` should also be deleted.

After removing `Next()`, we can detect the unused functions by tool `unused`:
[code]

NOTE:
1. all the unused functions and attributes should be deleted.
2. some unit tests may fail and please fix them.

-----
- [x] ex

[2018-03-09 06:22] ngaut commented on #5985
Feels really great to see the thread. 👍

[2018-03-09 06:34] qxhy123 commented on #5985
I'm working on it

[2018-03-09 06:38] XuHuaiyu commented on #5985
We can remove the code of XXXExec.Next(),
and `return nil, nil` in it.
To avoid wide range code changes in one PR.

[2018-03-09 07:35] #5982 closed

[2018-03-09 08:37] dreamquster commented on #5985
I'm working on it.  I will remove next() function in distsql.go.

 executor/distsql.go: TableReaderExecutor
 executor/distsql.go: IndexReaderExecutor
 executor/distsql.go: IndexLookUpExecutor

[2018-03-09 08:58] zz-jason commented on #5985
@qxhy123 @dreamquster Thanks for your help !

[2018-03-09 09:29] qxhy123 commented on #5985
I'm working on it. I will remove next() function in executor.go.
 executor/executor.go: CancelDDLJobsExec
 executor/executor.go: ShowDDLExec
 executor/executor.go: ShowDDLJobsExec
 executor/executor.go: CheckTableExec
 executor/executor.go: SelectLockExec
 executor/executor.go: LimitExec
 executor/executor.go: ProjectionExec
 executor/executor.go: TableDualExec
 executor/executor.go: SelectionExec

[2018-03-09 09:44] Ah39 opened #5992 "where is the mysql test suite?? Can provide mysql test suite ??"
Before the use tidb on production. I need test tidb  support mysql sql well or not .
 **So can Provide the sql test suite or ORM test suite ??**

[2018-03-09 09:48] shenli commented on #5992
@Ah39 The `mysql test` is the internal project. So we can not provide it.

[2018-03-09 09:53] #5992 closed

[2018-03-09 12:24] yangwenmai commented on #5985
I'm working on it.  I will remove next() function in `executor/write.go`.

 executor/write.go: DeleteExec
 executor/write.go: LoadData
 executor/write.go: InsertExec
 executor/write.go: ReplaceExec
 executor/write.go: UpdateExec

[2018-03-09 13:14] yangwenmai commented on #5985
I'm working on it. I will remove next() function in `executor/union_scan.go`.

executor/union_scan.go: UnionScanExec

[2018-03-09 13:27] colinback commented on #5985
I'm working on it. I will remove next() function in
executor/analyze.go: AnalyzeExec
 executor/ddl.go: DDLExec

[2018-03-09 13:31] zz-jason commented on #5985
@colinback Thanks for your participation, `AnalyzeExec` and `DDLExec` have been assigned to @XuHuaiyu , please chose other executors.

[2018-03-10 01:10] Anteoy commented on #5985
I'm working on it. I will remove next() function in `executor/show.go`.

executor/show.go: ShowExec

[2018-03-10 01:48] colinback commented on #5985
@zz-jason Oh sorry, I do not notice that.  Then I choose to do executor/grant.go: GrantExec first.
BTW, have dead line?

[2018-03-10 02:06] XuHuaiyu commented on #5985
@Anteoy Thanks for your help.

[2018-03-10 02:13] XuHuaiyu commented on #5985
@colinback It would be great if you can finish it before next Wednesday.

[2018-03-10 13:03] dreamquster commented on #5985
@XuHuaiyu ， All executors in distsql.go are referenced by RecordSet.Next. Should I change all RecordSet.Next into RecordSet.NextChunk in below picture?
![_ _20180310205746](https://user-images.githubusercontent.com/4962716/37242557-63fd300a-24a6-11e8-9913-7221ef241801.png)

[2018-03-10 16:22] yangwenmai commented on #5985
I'm working on it. I will remove next() function in `executor/simple.go`.
executor/simple.go: SimpleExec

[2018-03-11 01:21] yangwenmai commented on #5985
I'm working on it. I will remove next() function in `executor/explain.go`.
executor/explain.go: ExplainExec

[2018-03-11 01:44] yangwenmai commented on #5985
I'm working on it. I will remove next() function in `executor/prepared.go`.
executor/prepared.go: PrepareExec
executor/prepared.go: ExecuteExec
executor/prepared.go: DeallocateExec

[2018-03-11 01:44] yangwenmai commented on #5985
I'm working on it. I will remove next() function in `executor/revoke.go`.
executor/revoke.go: RevokeExec

[2018-03-11 01:44] yangwenmai commented on #5985
I'm working on it. I will remove next() function in `executor/set.go`.
executor/set.go: SetExecutor

[2018-03-11 01:49] XuHuaiyu commented on #5985
@dreamquster Thank you for your help, I'm working on this.

[2018-03-11 02:10] XuHuaiyu commented on #5985
@colinback Feel free if you wanna try `executor/analyze.go: AnalyzeExec` and
`executor/ddl.go: DDLExec`, I haven't stared them yet.

[2018-03-11 02:20] colinback commented on #5985
@XuHuaiyu I'm OK with it. But I have two problems now.
1. I do not pass CLA, but I already sign 'Contributor License Agreement '
2. After migrating go version to 1.10, `go test` still fail for master branch.
[code]

[2018-03-11 02:27] XuHuaiyu commented on #5985
For question 2:
Try `go version`, what's the output?
Upload the output result of `go test`, we'll take a look.

[2018-03-11 02:29] XuHuaiyu commented on #5985
For question 1:
You may check [here](https://help.github.com/articles/why-are-my-commits-linked-to-the-wrong-user/#commits-are-not-linked-to-any-user).

[2018-03-11 03:27] colinback commented on #5985
For question 2, here is my `go test` log:
[go_test_fail.log](https://github.com/pingcap/tidb/files/1800000/go_test_fail.log)
For question 1, I forget that I set company email for enterprise github on my macbook. Already fix.

[2018-03-11 03:58] XuHuaiyu commented on #5985
@colinback Thank you, we'll take a look.

[2018-03-11 04:20] XuHuaiyu commented on #5985
@colinback The test fail is caused by [the introduction of gofail](https://github.com/pingcap/tidb/blob/master/txn.go#L264-L267). You can run `go test -check.exclude TestFail` OR `make test` at the root directory of TiDB.

[2018-03-11 05:41] colinback commented on #5985
@XuHuaiyu thanks. It works

[2018-03-12 00:54] aruanruan opened #6014 "Can not support sum(...) on json data?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
CREATE TABLE `t_logger_info` (
	 	  `id` varchar(64) NOT NULL,
	 	  `level` int NOT NULL,
	 	  `content` text NOT NULL,
	 	  `create_time` datetime NOT NULL,
	 	  `log_time` datetime NOT NULL,
          `tags` json DEFAULT NULL,
	 	  PRIMARY KEY (`id`)
	 	) ENGINE=InnoDB DEFAULT CHARSET=utf8;

and insert 1 mil

[2018-03-12 00:55] shenli commented on #6014
@aruanruan Thanks for your feedback!
@XuHuaiyu PTAL

[2018-03-12 01:03] aruanruan commented on #6014
I

[2018-03-12 01:12] aruanruan opened #6015 "MySQL Workbench show error for json data"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

when i use MySQL workbench(community 6.3) to managing tidb,  showing error on column of 'JSON'
Docments show that mysql support json data from version '5.7.8',
is tidb's version is too old?

using 'Server Status' in workbench shows version is 5.7.1

2.

[2018-03-12 02:04] hsqlu commented on #5985
I am working on it. I will remove next() function in executor/aggregate.go.
executor/aggregate.go: StreamAggExec

[2018-03-12 02:41] jackysp commented on #6015
Thank you for your feedback! @aruanruan
PTAL @hicqu

[2018-03-12 03:29] Ah39 commented on #5992
whether if other  open source project have some test suite I can use ？？

[2018-03-12 05:45] hsqlu commented on #5985
I am working on it. I will remove next() function in executor/sort.go.
 executor/sort.go: SortExec
 executor/sort.go: TopNExec

[2018-03-12 05:57] aruanruan commented on #6015
My DDL:

DROP TABLE `t_logger_info`;
CREATE TABLE `t_logger_info` (
	 	  `id` varchar(64) NOT NULL,
	 	  `level` int NOT NULL,
	 	  `content` text NOT NULL,
	 	  `create_time` datetime NOT NULL,
	 	  `log_time` datetime NOT NULL,
                 `tags` json DEFAULT NULL,
	 	  PRIMARY KEY (`id`)
	 	) ENGINE=InnoDB DEFAULT CHARSET=utf8;

[2018-03-12 07:40] yangwenmai commented on #5985
I am working on it. I will remove next() function in `executor/join.go`.
executor/join.go: NestedLoopApplyExec

[2018-03-12 10:35] duckstar2 opened #6031 "loader failed"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2018/03/12 18:30:34 db.go:45: [error] query sql[CREATE TABLE tidb_loader.checkpoint (
                id char(6) NOT NULL,
                filename varchar(256) NOT NULL,
                cp_schema varchar(128) NOT NULL,
                cp_table varchar(

[2018-03-12 10:44] tiancaiamao commented on #6031
What version of TiDB are you using (tidb-server -V or run select tidb_version(); on TiDB)?

[2018-03-12 10:58] jackysp commented on #6015
@aruanruan which operations did you do to cause this error? I've tried to reproduce it, but seems it is not easy. Could you please show me more details?

[2018-03-12 11:58] duckstar2 opened #6033 "In the TiDB cluster,mysql and TiDB relation,because connect port 3306 and 4000 are ok!"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-03-12 12:04] tiancaiamao commented on #6033
The default port of TiDB is 4000

[code]

Did you notice `Server version: 5.7.1-TiDB-v1.1.0-beta-57-gd3186dc` , that means it's TiDB. @duckstar2

[2018-03-13 00:16] aruanruan commented on #6015
running ok, no error, workbench show syntax error only : syntax error: unexpected 'json' (identified)

[2018-03-13 02:49] JackFish opened #6036 "jdbc error: select the Bigint(7) value -1, get result 4294967295(max value of big int)"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
try to select Bigint(7) value with jdbc'mysql:mysql-connector-java:6.0.6', the value is '-1'

![9 z_ 273 ky2_ _ rn0v](https://user-images.githubusercontent.com/1689611/37319781-7c3cd2ae-26ab-11e8-9d63-5c1e108ba45f.png)

2. What did you expect to see?

se

[2018-03-13 02:53] jackysp commented on #6036
Thank you for your feedback! PTAL @zz-jason

[2018-03-13 02:54] XuHuaiyu commented on #6036
Hi, @JackFish
Thank you for your feedback,
can you provide us the complete reproduce procedure?
Such as the schema, data, java code?

[2018-03-13 02:58] jackysp commented on #6015
@aruanruan  I've reproduced it. We consider to fix it. Thanks for your report.

[2018-03-13 04:37] #5946 closed

[2018-03-13 04:57] tshqin opened #6038 "Compatibility: insert into t1 (select * from t)"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-03-13 07:54] duckstar2 opened #6042 "Using benchmarkSQL tool to test tpc-c ,occur the error,"Worker 000: ERROR: statement count 5001 exceeds the transaction limitation, autocommit = false""
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Worker 000: Loading ITEM
Worker 000: ERROR: statement count 5001 exceeds the transaction limitation, autocommit = false
2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select

[2018-03-13 07:57] jackysp commented on #6042
Thanks for your feedback!
We add number of statement limitation in one transaction. Please try this option of TiDB : `stmt-count-limit = 100000000`. Then restart your tidb-server.

[2018-03-13 08:03] #6038 closed

[2018-03-13 08:59] Ah39 opened #6043 "select CHAR_LENGTH("中文") dont work right"
In  mysql 5.5.35-rel33.0-log . The result is 6 .
But in 5.7.1-TiDB-v1.1.0-alpha.1-26-g04960d4 The result is 2.
![image](https://user-images.githubusercontent.com/2367243/37332315-4ae15fb4-26e1-11e8-9dc3-c88d08452e90.png)

[2018-03-13 09:11] jackysp commented on #6043
Hi @Ah39 ,
TiDB is compatible with MySQL 5.7. In MySQL 5.7, the result is also 2.
Thank you for your feedback.

[2018-03-13 09:19] Ah39 commented on #6043
The same version() but diffrent character_set . The result is different
![image](https://user-images.githubusercontent.com/2367243/37332812-b4f4298a-26e2-11e8-8c50-cb8ab60b5c83.png)

[2018-03-13 09:28] jackysp commented on #6043
You're right. It is a charset dependent result. TiDB supports only utf8-like charsets. So I think it is a reasonable result.

[2018-03-13 09:39] Ah39 opened #6045 "Some SQL grammars are supported by TIDB"
version 5.7.1-TiDB-v1.1.0-alpha.1-26-g04960d4

SELECT INTERVAL 1   DAY + '2008-12-31';

SELECT DATE_ADD('2009-01-01', INTERVAL 6/4 HOUR_MINUTE);
### The sql is from mysql 5.7 doc

https://dev.mysql.com/doc/refman/5.7/en/date-and-time-functions.html#function_adddate

![image](https://user-images.githubusercontent.com/2367243/37334394-baa03aaa-26e6-11e8-9c80-5d387ba7e36e.png)

[2018-03-13 09:44] jackysp commented on #6045
Hi @Ah39 ,
Please do not remove the new issue template, just follow the issue template when you want to submit a new issue.
[code]

[2018-03-13 10:33] tiancaiamao commented on #6045
You can try:

[code]

@Ah39

[2018-03-13 13:05] Ah39 opened #6047 "`create_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP may cause error when inserting data"
1. What did you do?
insert into order_test(content,create_time) value("helloworld22",null);

2. What did you expect to see?

### Can insert . In java ,some ORM may generator such sql .

3. What did you see instead?
In mysql . The sql can insert.
But in Tidb . The sql cannot insert

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

![image](https://u

[2018-03-13 13:27] zz-jason commented on #6047
@Ah39 Thanks for your feed back ! This is a know issue, which we are working on.

[2018-03-13 14:36] #6015 closed

[2018-03-14 05:46] JackFish commented on #6036
[tables_mysql.txt](https://github.com/pingcap/tidb/files/1809654/tables_mysql.txt)
bean define
<bean id="dataInitializeTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
    <property name="jobDetail" ref="dataInitialize"/>
    <property name="repeatInterval" value="60000"/>
  </bean>

# spring-context-support-4.3.10.RELEASE.jar
public class SimpleTriggerFactoryBean i

[2018-03-14 06:41] zz-jason commented on #6036
@JackFish which table are querying on ?

[2018-03-14 09:10] DavisLinDB commented on #5320
same in TiDB 2.0 RC1.

![2018-03-14 5 08 41](https://user-images.githubusercontent.com/26958647/37392924-98b170de-27aa-11e8-9945-87c3c8c172be.png)

Release Version:  v2.0.0-rc.1-21-g46f938c
Git Commit Hash:  46f938c632103ba7143775e884be33a1875cfa45
Git Commit Branch:  master
UTC Build Time:  2018-03-12 04:25:56
GoVersion:  go version go1.10 linux/amd64
TiKV Min Version:  1.1.0-dev.2

[2018-03-14 09:15] shenli commented on #5320
@DavisLinDB Could you post your SQL and explain result here? Have you run analyze statement on the table you want to query?
@winoros PTAL

[2018-03-15 02:30] shenli opened #6063 "Fill the TABLE_ROWS field of information_schema.TABLES with the information from statistics"
We have updated row_count in the statistics. So we could use it to fill the result of INFORMATION_SCHEMA.TABLES.

[2018-03-15 03:12] zz-jason opened #6064 "syntax error on sql "set transaction isolation level serializable;""
## 1. What did you do?

[code]

## 2. What did you expect to see?

compatible with mysql:
[code]

## 3. What did you see instead?

not compatible with mysql, we don't support this syntax:

[code]

## 4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-03-15 03:41] lerencao opened #6065 "Cannot do `insert ... on duplicate key udpate` after add a column of type `timestamp`"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

A streaming task do `insert ... on duplicate udpate` into TiDB instance **A**。
In the mean time，I do `alter table xxx add column created_time timestamp default current_timestamp` on TiDB instance **B**。
After the `alter table` returns, the streaming tas

[2018-03-15 03:41] dreamquster opened #6066 "Navicat fails to connect (due to missing mysql.proc_priv table)"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

   SELECT * FROM mysql.procs_priv;

2. What did you expect to see?

Host	Db	User	Routine_name	Routine_type	Grantor	Proc_priv	Timestamp

3. What did you see instead?
[Err] 1146 - Table 'mysql.procs_priv' doesn't exist

4. What version of TiDB are you usi

[2018-03-15 04:35] XuHuaiyu commented on #6066
@dreamquster  Thank you for your feedback. what's your Navicat version?

[2018-03-15 04:36] zz-jason commented on #6065
@winkyao PTAL

[2018-03-15 05:12] jackysp commented on #6065
Related to https://github.com/pingcap/tidb/issues/6047

[2018-03-15 05:25] jackysp commented on #6047
Hi @Ah39 ,
The behavior of timestamp in TiDB is like explicit_defaults_for_timestamp = ON in MySQL. See the following link for the explanation of this system variable,
https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_explicit_defaults_for_timestamp ,
which is OFF by default in MySQL.

[2018-03-15 06:39] XuHuaiyu commented on #6065
@lerencao
Thanks for your feedback.
As the above comment says, the behavior TiDB is implemented as `explicit_defaults_for_timestamp = ON` in [MySQL](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_explicit_defaults_for_timestamp).
But TiDB does not support the behavior as MySQL does when set `explicit_defaults_for_timestamp = ON` now. We're working on this.

[2018-03-15 06:59] lerencao commented on #6065
@XuHuaiyu Thx for the explanation!
What if I set the `created_time` to `NULL DEFAULT CURRENT_TIMESTAMP`, can it work?

[2018-03-15 07:31] XuHuaiyu commented on #6065
Hi,  @lerencao
I cannot reproduce your problem.
Can you provide the result of `select tidb_version()`.

My step:
TiDB 1:
[code]

TiDB 2 execute this sql every 0.5s:
[code]

TiDB 1:
[code]

[2018-03-15 07:36] XuHuaiyu commented on #6065
Hi,  @lerencao
I cannot reproduce your problem.
Can you provide the result of `select tidb_version()`.

My step:
TiDB 1:
[code]

TiDB 2 execute this sql every 0.5s:
[code]

TiDB 1:
[code]

[2018-03-15 08:06] lerencao commented on #6065
A build upon `0b7bf3eef59314b8bd0183af7d924afb138a690d`.

[2018-03-15 08:18] lerencao commented on #6065
@XuHuaiyu I believe variable `data` in  https://github.com/pingcap/tidb/blob/65440001d981e081f64b35b4f700ca1acde8b889/executor/write.go#L1577 has `timestamp` column set to null.
Wish it can help.

[2018-03-15 08:28] XuHuaiyu commented on #6065
@lerencao
Please try `show create table your_table_name`,
and comment the result here.

[2018-03-15 08:39] lerencao commented on #6065
[code]

[2018-03-15 09:11] duckstar2 opened #6070 "TiDB support CTE? TiDB have no default configure file ?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-03-15 09:16] XuHuaiyu commented on #6070
1. TiDB does not support CTE now.
2. TiDB has a default config file.
The default configuration file config/config.toml.example can be referred.
You can start tidb-server with flag `  -config config_file_path`.

[2018-03-15 09:35] kylezhang opened #6072 "modify the database name"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

**How to quickly modify the database name?**
**For example: myDatabase1 => myDatabase2**

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

`TiDB-1.0.0`

[2018-03-15 09:41] XuHuaiyu commented on #6072
@kylezhang
Suppose you want to rename database `test` to `test2`.
[code]

[2018-03-15 09:41] dreamquster commented on #6066
Navicat version: 11.2.7 (64-versionk)

[2018-03-15 09:53] dreamquster commented on #6063
INFORMATION_SCHEMA.TABLES count all rows in table.  statitics.handle record the delta change in mysql.stats_meta, but it doesn't count delta change caused by  DELETE statements.
Where can I find correct row_count?

[2018-03-15 10:34] lamxTyler commented on #6063
@dreamquster It counts the delta caused by delete statement. Did you find bugs?

[2018-03-16 02:08] DavisLinDB commented on #5320
@shenli
@winoros

same test  as 2017.12.22 report:

`sysbench --test=/usr/share/sysbench/select_random_points.lua --mysql-host=192.168.1.55 --mysql-port=4000 --mysql-user=sysbench --mysql-password=xxxx --mysql-db=sysbench --report-interval=10 --max-requests=0 --max-time=120 --num-threads=256 --db-driver=mysql --tables=1 --table-size=3500000000 run
`

Release Version: v2.0.0-rc.1-21-g46f938c
Git Co

[2018-03-16 03:22] dreamquster commented on #6063
I'm sorry. Maybe it's caused by unexpected interruption. I'll fill the row_count with the value queried from myql.stats_meta.

[2018-03-16 05:27] #5771 closed

[2018-03-16 14:21] shenli commented on #5320
@DavisLinDB Thanks! We will take a look.

[2018-03-17 14:49] qxhy123 commented on #6064
I'm working on it.

[2018-03-17 14:49] shenli commented on #6064
@qxhy123 Cool!

[2018-03-18 06:42] zz-jason commented on #5392
no need to do this anymore

[2018-03-18 06:42] #5392 closed

[2018-03-18 06:58] zz-jason commented on #4983
currently only `NestedLoopApplyExec` opens and closes children over and over again, after we rewriting this logical to build child and open-next-close, we can safely remove all resources in close.

[2018-03-18 15:10] qazbnm456 opened #6082 "dep: "github.com/ngaut/pools" is missing?"
1. What did you do?
Get the dep "github.com/ngaut/pools".

2. What did you expect to see?
The dep should be there.

3. What did you see instead?
The dep is missing.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
`master` branch

[2018-03-18 15:14] shenli commented on #6082
@qazbnm456 Thanks for your feedback!
@ngaut Have you deleted that repo?

[2018-03-18 15:35] zz-jason commented on #6045
@tiancaiamao maybe we should support these query syntax ?

[2018-03-18 15:36] shenli commented on #6045
Yes, it is worth to support this.

[2018-03-18 15:40] tiancaiamao commented on #6045
Yeah, maybe there are some contributors would like to handle this issue after you tag the "help wanted" label.

[2018-03-18 15:50] ngaut commented on #6082
Hi @qazbnm456 ,
Could you retry building it. I deleted the repo accidentally. Sorry about that.

[2018-03-18 16:56] qazbnm456 commented on #6082
@shenli @ngaut All good! Thanks for your quick fix.

[2018-03-18 16:56] #6082 closed

[2018-03-18 19:32] glycerine opened #6083 "q: can storage engine been swapped? badgerdb would be nice to plug in."
Is the storage engine for tidb swappable?  For instance, badgerdb shows remarkable performance, low write amplification on SSD, and would be quite nice to try.

https://github.com/dgraph-io/badger

[2018-03-19 01:05] duckstar2 commented on #6070
I installed TiDB cluster by binary method, I didn't find configure file. May I add a configure file in TidB?

[2018-03-19 01:42] shenli commented on #6070
@duckstar2 Please use ansible to install TiDB.
If you insist the current way, you could get a configure file [here](https://github.com/pingcap/tidb/blob/master/config/config.toml.example).

[2018-03-19 02:18] yangwenmai commented on #6014
insert data

[code]

[2018-03-19 02:22] duckstar2 opened #6084 "backup TiDB and TiKV data directory"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I want to test tpc-c in TiDB cluster,because load data is slow ,I will backup TiDB or TiKV data directory,use next test,ok?

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `sel

[2018-03-19 02:26] XuHuaiyu commented on #6084
You should backup data directory of TiKV and PD. @duckstar2

[2018-03-19 02:33] duckstar2 commented on #6084
thank you

[2018-03-19 02:34] XuHuaiyu commented on #6083
Thank you for your feedback. @glycerine
But I'm sorry, we don't have the plan to support badgerdb now.
Supporting a new Database API is useful, but it is a long-term commitment, which requires a lot of work on implementation, documentation, and testing, and most importantly, it makes our existing code much more complicated, increases maintenance cost.

[2018-03-19 02:36] duckstar2 commented on #6070
use ansible to install TiDB, need many dependencies packages,what difference betwee binary and ansialbe install?

[2018-03-19 02:45] #5970 closed

[2018-03-19 06:01] glycerine commented on #6083
Not really, in my experience. This doesn't seem to be a well thought out or well argued proposition.

Having a clean, plugable, storage engine API could make things drastically better. The fact that it seems difficult to imagine it does suggest that it is in fact could be quite useful to create cleaner, layered, structure.

[2018-03-19 06:21] tiancaiamao commented on #6083
TiDB is well designed and have a clean, plugable, storage engine API,  namely the `kv.Storage` interface. https://github.com/pingcap/tidb/blob/master/kv/kv.go#L238
In my opinion, it's not too hard to **implement a localstore** based on badger, which may be a funny hobby project.

A fully functional **distributed storage engine** involves much more work than a localstore, we don't intend to maintai

[2018-03-19 06:51] glycerine commented on #6083
Great--that's what I was looking for. Thanks @tiancaiamao.

I just wanted to experiment. No suggestion was implied that the TiDB project should maintain such experiments.

Thanks again for the pointer.

[2018-03-19 07:44] duckstar2 opened #6090 "about TiDB offline install dependenciesis"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I want to install TiDB for using ansible,but can't find dependencies libraries,for example:python-pyasn1 0.1.8.Can you give me the library?

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server

[2018-03-19 08:59] #6083 closed

[2018-03-19 09:00] XuHuaiyu commented on #6090
Chinese doc: https://pingcap.com/docs-cn/op-guide/offline-ansible-deployment/
English doc: https://pingcap.com/docs/op-guide/offline-ansible-deployment/

[2018-03-19 09:37] #6084 closed

[2018-03-19 09:38] #6072 closed

[2018-03-19 09:40] #6043 closed

[2018-03-19 10:32] duckstar2 opened #6091 "about offline install tidb"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
2018-03-19 18:30:21,086 p=18106 u=root |  100.185.120.112 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password).\r\n",
    "unreachable": true
}
2018-03-19 18:30:21,101 p=18106 u=root |  100.185.120.121 |

[2018-03-19 10:39] qazbnm456 opened #6092 "Different results from MySQL and tidb"
1. What did you do?
Execute the statement: `select 1, 2, 3 from dual union select * from t limit 1 offset 2;`.

2. What did you expect to see?
http://sqlfiddle.com/#!9/ce0a4a/1

3. What did you see instead?
![image](https://user-images.githubusercontent.com/6451933/37590921-b8696f1e-2ba4-11e8-9878-8ba252625a93.png)

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_versio

[2018-03-19 10:41] winoros commented on #6092
If there's no `order by` clause, we won't guarantee the return order of the row.

[2018-03-19 10:47] zz-jason commented on #6092
mysql seems have some bugs:
[code]

[2018-03-19 10:54] qazbnm456 commented on #6092
@winoros I don't actually get your point.
@zz-jason Yeah, that's the situation I met.
If I execute the statement in MySQL, it'll process the query like `((select 1, 2, 3 from dual union select * from t) limit 1 offset 2)`. Therefore, only one row returned.

However, tidb seems to process the query like `((select 1, 2, 3 from dual) union (select * from t limit 1 offset 2))`.

I don't know if this i

[2018-03-19 11:14] #6090 closed

[2018-03-19 14:59] lerencao commented on #6065
The line  https://github.com/pingcap/tidb/blob/7f958c5a4028169782e345a33486113a63378176/table/tables/tables.go#L526 decodes into a null value for the column `created_time`.

[2018-03-19 15:48] zz-jason commented on #6091
@duckstar2 seems you are using [TiDB-Ansible](https://github.com/pingcap/tidb-ansible) to deploy a TiDB cluster ? maybe you can try this:

[code]

[2018-03-20 06:27] Ah39 opened #6094 "run_tidb.sh dont work right ,may exit because of the linux signal"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
run_tidb.sh and then exit shell ,then the tidb down

2. What did you expect to see?

exec bin/tidb-server \
    -P 4000 \
    --status="10080" \
    --path="10.242.6.45:2379" \
    --config=conf/tidb.toml \
    --log-file="/opt/tidb/deploy/log/tidb.log" 2> "/opt/tidb/deploy/log/tidb_stderr.log" # &
 **add & in

[2018-03-20 06:42] XuHuaiyu commented on #5985
Hi, a friendly ping. @dreamquster
Did you get any problems when removing the Next function for these three Executors?
executor/distsql.go: TableReaderExecutor
executor/distsql.go: IndexReaderExecutor
executor/distsql.go: IndexLookUpExecutor

[2018-03-20 06:58] XuHuaiyu commented on #6094
@Ah39 You may try this.
[code]

[2018-03-20 08:51] yotingting opened #6100 "when i use spark jdbc insert records to tables,tidb-*.log has no insert log!"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I used spark jdbc api insert records to the table test, tidb-2018-02-19T*.log has no insert log.the following is the log. My code did the things like this:
1): delete test table records of the day '2018-02-19' using java executeUpdate api
2) insert records to the table test using spark jdbc API
3)delete test1

[2018-03-20 08:59] XuHuaiyu commented on #6100
@yotingting
Yes, if INSERT is executed successfully, TiDB will not write it into the log file.
In which situation you need this?

[2018-03-20 09:14] yotingting commented on #6100
@XuHuaiyu  I had ran my code insert the table, but test tables record is 0. the other table's process is the same with test named test3  and the two table's process ran the same time. test3 has records insert into it, but test has no records. so I want to check the tidb.log to make sure whether the data was insert to test.
I also had seen some insert log in the logs, and the insert operation is su

[2018-03-20 09:16] XuHuaiyu commented on #6100
Please check my comment before, I've edited it. @yotingting

[2018-03-20 09:19] XuHuaiyu opened #6101 "In-compatible behavior with MySQL when insert signed values into unsigned decimal column"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
`MySQL is: 99、0、99、0`

3. What did you see instead?
`TiDB is: 99、-99、99、-1`

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2018-03-20 09:35] XuHuaiyu commented on #6101
The unsigned flag should be checked when casting a value as decimal.

[2018-03-20 09:36] yotingting commented on #6100
@XuHuaiyu I see! thank you very much!

[2018-03-20 09:37] #6100 closed

[2018-03-20 11:17] zz-jason commented on #1132
already fixed in current master(release 2.0 RC2)

[2018-03-20 11:17] #1132 closed

[2018-03-20 11:21] zz-jason commented on #5532
was fixed by https://github.com/pingcap/tidb/pull/5801

[2018-03-20 11:21] #5532 closed

[2018-03-20 11:35] zz-jason commented on #5347
I reproduced your problem in our master branch:
[code]

then create a csv file with this content:
[code]

then load data into this table:
[code]

and the error stack printed in tidb-server is:
[code]

However I can successfully load this data into table `t` in mysql

[2018-03-20 11:44] zz-jason commented on #5339
1. `bit_xor` is supported now.
2. we will not panic when a aggregation function is not supported now.

[2018-03-20 11:44] #5339 closed

[2018-03-20 11:55] #3965 closed

[2018-03-20 12:16] zz-jason commented on #2751
we still have this problem:
[code]

[code]

[2018-03-20 12:19] zz-jason commented on #2229
this issue is fixed.

[2018-03-20 12:19] #2229 closed

[2018-03-20 12:22] zz-jason commented on #1905
already supported.

[2018-03-20 12:22] #1905 closed

[2018-03-20 12:50] zimulala commented on #4254
This specific behavior depends on sql_mode.
[code]

[2018-03-20 12:55] zimulala commented on #3597
Done.

[2018-03-20 12:55] #3597 closed

[2018-03-20 12:58] zimulala commented on #2502
Done.

[2018-03-20 12:58] #2502 closed

[2018-03-21 06:34] yotingting commented on #6100
@XuHuaiyu when I Set this value in mysql client ,the error follows:

[code]

[2018-03-21 06:35] ciscoxll commented on #5849
I have done some optimizations.
Relate to PR #6035 .

[2018-03-21 06:35] #5849 closed

[2018-03-21 07:35] lamxTyler commented on #6100
@yotingting You can upgrade your tidb to at least 1.0.7 version to have this feature.

[2018-03-21 11:49] Ah39 opened #6107 "tidb sysbench demo is right ？？ Only deploy one PD"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

![image](https://user-images.githubusercontent.com/2367243/37708212-bc3bbae6-2d40-11e8-86f8-411e773462c8.png)

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_vers

[2018-03-21 11:54] winkyao commented on #6107
@Ah39 Thanks for your feedback, actually, the TiDB cluster can work when deploying only one PD instance. Sysbench is just a benchmark, not a real production environment. So I think it doesn't matter.

[2018-03-21 13:11] sprooose opened #6109 "MySQL JDBC connections severed, single tidb node."
**1. What did you do?**

We are trialling our application on TiDB. It is java application with a relational repository that we run transactions against.
The application uses a JDBC connection pool and runs very generic SQL against the repository database (as we support other RDBMs as well). Connections from the pool are held open, and reused by different parts of the code. The connections are clos

[2018-03-21 13:22] #5971 closed

[2018-03-22 00:25] aruanruan opened #6110 "error when deleting all data in large table"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
i have insert 239224 rows in table 't_metric_info'

then i run:
delete FROM t_metric_info;

table schema is:
CREATE TABLE `t_metric_info` (
  `id` varchar(64) NOT NULL,
  `name` varchar(128) NOT NULL,
  `value` json DEFAULT NULL,
  `create_time` datetime

[2018-03-22 02:43] lamxTyler commented on #6110
@aruanruan The reason for transaction too large can be found [here](https://github.com/pingcap/docs/blob/master/FAQ.md#the-error-message-transaction-too-large-is-displayed).
If you want to delete all data in a large table, you can use `truncate table` to delete it.

[2018-03-22 02:58] lamxTyler commented on #6109
@sprooose "Try Again Later" means tidb will reattempt to run it.
Is there any panic info in TiDB log?

[2018-03-22 05:37] #6014 closed

[2018-03-22 07:30] #5192 closed

[2018-03-22 07:53] zhuxiujia opened #6114 "SELECT count(*) is too slow"
我有一个370万条红包数据的mysql 表和 一个 单机（cpu i7 ,256GB固态硬盘，16G内存，Centos7.3）Docker最新版部署的 TiDb 同样是红包数据表，结构都一样。

测试使用
语句
SELECT count(*) FROM biz_user_red_packet;
表结构
int id,int user_id,int order_form_id,int red_packet_id,date create_time,date use_time,int profit,int status,int delete_flag,int planid

发现 TiDB（花费了33秒）非常缓慢，反而mysql（花费1.45秒） 一下就算出表总数了.能否问下是什么原因？

=======
I have a mysql table with 3.7 million red env

[2018-03-22 08:03] lamxTyler commented on #6114
@zhuxiujia You can refer the docs at [here](https://github.com/pingcap/docs/blob/master/FAQ.md#how-to-optimize-select-count1) or [here](https://github.com/pingcap/docs-cn/blob/master/FAQ.md#512-count-%E5%A6%82%E4%BD%95%E5%8A%A0%E9%80%9F)

[2018-03-22 08:08] winkyao commented on #5896
@leonchen83 this issue is fixed by PR: #5964 , Please have a try.

[2018-03-22 08:11] winkyao commented on #5820
@kitdine This issue was fixed by PR: #5964 , you can try the newest master branch. Appreciate to get your feedback :)

[2018-03-22 08:12] zhuxiujia commented on #6114
Doc文档里 建议使用 SELECT count(1) FROM test.biz_user_red_packet;
代替 SELECT count(*) FROM test.biz_user_red_packet;
但是结果是一样缓慢的。

A SELECT count(1) FROM test.biz_user_red_packet is recommended in the Doc document.

Instead of SELECT count(*) FROM test.biz_user_red_packet;

But the result is as slow as the last one.

[2018-03-22 08:14] winkyao commented on #5626
This issue was fixed by PR: #5976  , you can try the newest master branch. Appreciate to get your feedback :)

[2018-03-22 08:20] lamxTyler commented on #6114
@zhuxiujia Yes, the `count(1)` will be as slow as `count(*)` because they are essentially the same, so you can use methods recommended in the docs to speed up your query.

[2018-03-22 08:24] winkyao commented on #6114
@XuHuaiyu Only one machine.

[2018-03-22 08:24] zhuxiujia commented on #6114
1个TiDb 没有 Tikv pd
i have One TiDb has no Tikv or Pd.

[2018-03-22 08:25] zhuxiujia commented on #6114
One PC was deployed with Docker.

[2018-03-22 08:30] winkyao commented on #6114
If you deploy TiDB upon tikv, TiDB retrive data by GRPC, which needs network round trip. So this is why TiDB is slower than MySQL in small table.

1.  Deploy TiDB in a real cluster, use at least 4 machine.
2. Try to test with larger datas.
3. You can enlarge `tidb_distsql_scan_concurrency` like this [doc](https://github.com/pingcap/docs-cn/blob/master/FAQ.md#512-count-%E5%A6%82%E4%BD%95%E5%8A%A0%E

[2018-03-22 08:34] zhuxiujia commented on #6114
I only use one TiDB without TiKV and TiPD, no network requests such as your GRPC. It's several times slower than mysql without a network request.
我只用了一个 TiDB 没有 TiKV 和 TiPD,没有网络请求例如你说的GRPC。在没有网络请求耗时的情况下，比mysql慢了好几倍

[2018-03-22 08:37] XuHuaiyu commented on #6114
If you only start a tidb-server, there will be a mock-tikv to store data.
Mock-tikv is used for testing.
You may try to deploy a cluster with at lease 1*TiDB, 1*TiKV, 1*PD.

[2018-03-22 08:40] zhuxiujia commented on #6114
@XuHuaiyu I used Docker Compose to deploy the cluster on my machine, with three TiDB, three Tikv, three TiPd, but again, count(*) is 30 times slower than mysql.
我使用 Docker Compose 部署了集群在我那个机器上，包含3个TiDB,3个Tikv,3个TiPd,但是 还是一样，count(*)比mysql慢30倍

[2018-03-22 08:53] XuHuaiyu commented on #6114
TiDB accesses TiKV in every query. When the amount of data is small, all MySQL is in memory, and TiDB needs to conduct a network access.
So you can try [this Chinese doc](https://github.com/pingcap/docs-cn/blob/master/FAQ.md#512-count-%E5%A6%82%E4%BD%95%E5%8A%A0%E9%80%9F) or [this English doc](https://github.com/pingcap/docs/blob/master/FAQ.md#how-to-optimize-select-count1)as what @winkyao mention

[2018-03-22 08:56] sprooose commented on #6109
Oh, yes @lamxTyler, there is a panic... here it is:

[code]

[2018-03-22 09:04] calmzealA opened #6116 "Insert data to a float field with 2 digits in TiDB, got float with N digits"
It seems data stored  in float fields , not equal to what inserted.
See the codes below:

`mysql> create table test2(f float(10,2),db double(10,2), de decimal(10,2));
Query OK, 0 rows affected (1.01 sec)

mysql> insert into test2(f,db,de) values(1.11,1.11,1.11);
Query OK, 1 row affected (0.01 sec)

mysql> insert into test2(f,db,de) values(1.111,1.111,1.111);
Query OK, 1 row affected, 1 warning (0.

[2018-03-22 09:06] XuHuaiyu commented on #6116
@calmzealA
Thank you for your feedback.
We're working on this.

[2018-03-22 09:31] lamxTyler commented on #6109
@sprooose Could you provide the related table schema so we can reproduce this?

[2018-03-22 09:37] sprooose commented on #6109
Here is the table schema:

[code]

[2018-03-22 09:42] winkyao commented on #6109
@sprooose Thanks, we'll look into this.

[2018-03-22 09:43] sprooose commented on #6109
Turns out that in this instance, each of these tables only had 1 row each... Here is the data:

[code]

[2018-03-22 09:43] winkyao commented on #6109
@XuHuaiyu @zz-jason PTAL

[2018-03-22 10:42] jasonkoo opened #6119 "java.util.NoSuchElementException: spark.tispark.pd.addresses"
I am following the guide on this page https://pingcap.com/docs-cn/tispark/tispark-quick-start-guide/ to test the functionality of tispark. I am able to import the sample data into tidb. Also I am able to start spark-shell without any issues. I can import TiContext. But when I tried to create the TiContext, I got the following exception.  Can anyone help me out of this problem? Thank you.

scala> i

[2018-03-22 10:49] lamxTyler commented on #6119
Thanks for your feedback!
PTAL @ilovesoup

[2018-03-22 10:53] winoros commented on #6119
Thanks for your report, you'd better open a issue in https://github.com/pingcap/tispark next time.

[2018-03-22 10:54] birdstorm commented on #6119
Hi, jasonkoo.
Thanks for your feedback! It seems that you may not have correctly configured `spark.tispark.pd.addresses` in `$SPARK_HOME/conf/spark-defaults.conf`. You may check [this document](https://pingcap.com/docs-cn/tispark/tispark-user-guide/) for details.

[2018-03-22 11:07] jasonkoo commented on #6119
@birdstorm My fault. I will set this parameter and see if it's working. Thank you for your quick response!

[2018-03-22 11:13] lerencao opened #6120 "`mediumtext` returns 0xfa(250) instead of (0xfd)253"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

JDBC(version: 5.1.46) returns **byte array(instead of string)** for `mediumtext` type column in TiDB.
But In MySQL, it returns string, which is natural.

I think the same behavior is also applied to `tinytext` and `longtext`, which may have big impacts

[2018-03-22 11:19] lamxTyler commented on #6120
Thanks for your feedback!
PTAL @XuHuaiyu

[2018-03-22 11:24] tiancaiamao commented on #6114
Is SELECT count(*) is slow? Well, it depends.

1. If you just start a TiDB instance on the local machine, it's slower than MySQL.
    TiDB on the local storage is used for testing purpose, it's not optimized for performance.
2. If you run a TiKV cluster and TiDB on just one physical machine, it's slower than MySQL.
    Communication costs in multiple processes is much higher than a single MySQL pr

[2018-03-22 11:47] #6119 closed

[2018-03-23 03:46] dreamquster commented on #5985
@XuHuaiyu , I found that all executors in distsql.go are referenced in too many places on March 10.

[2018-03-23 04:40] yangwenmai opened #6129 "Improve the aesthetics of code review"
## Overview of the problem

Some of the `%` in TiDB's test cases enclose the statement with double quotes `""`, but Github escaping it when displayed, so it will be marked with `%` red, and we are doing a review of It doesn't look beautiful at the moment, so we need to change this and recommend replacing it with the Go language.

For examples: [PR #5697](https://github.com/pingcap/tidb/pull/5697/f

[2018-03-23 04:52] XuHuaiyu commented on #5985
Hi, @dreamquster
This has been resolved in https://github.com/pingcap/tidb/pull/6040

[2018-03-23 06:05] kitdine commented on #5820
good to hear that,I will test it ASAP

[2018-03-23 08:13] sse-xmli opened #6133 "sysbench is slow"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I hava checkout tidb and build it. After I run tidb_server, I use sysbench to test a insert operation performance. But I found that tidb is significantly slower than mysql5.7. The time of tidb insert 10000000 record is over 10minutes, while mysql is only over 2 minutes. Also the select performance is bad, when

[2018-03-23 08:27] winoros commented on #6133
Please provide us your configuration of the deployment. And your machine environment.

[2018-03-23 09:03] DavisLinDB opened #6134 "how to recover tidb cluster?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
The tidb cluster:
.1 E5620 CPU, 32G RAM, 480G * 4 SSD, TiKV + PD
.2 E5620 CPU, 32G RAM, 480G * 4 SSD, TiKV + PD
.3 E5620 CPU, 32G RAM, 480G * 4 SSD, TiKV + PD
.4 E5620 CPU, 32G RAM, 480G * 4 SSD, TiKV
.5 E5620 CPU, 32G RAM, SAS HDD, TiDB
.6 E5620 CPU, 32G RAM, SAS HDD, TiDB
each running CentOS 7.

I erase all

[2018-03-23 09:15] lamxTyler commented on #6134
@DavisLinDB You can refer to the docs at [here](https://github.com/pingcap/docs/blob/master/op-guide/horizontal-scale.md#add-a-node-dynamically-1) and [here](https://github.com/pingcap/docs/blob/master/op-guide/horizontal-scale.md#add-a-node-dynamically).

[2018-03-23 09:20] #5820 closed

[2018-03-23 11:48] #6114 closed

[2018-03-23 11:48] #6110 closed

[2018-03-23 11:49] #6094 closed

[2018-03-23 11:50] #6107 closed

[2018-03-23 11:53] #6063 closed

[2018-03-23 11:54] #4519 closed

[2018-03-23 11:59] #5626 closed

[2018-03-23 13:43] colinback commented on #5966
@XuHuaiyu When I try the first one `SELECT ASCII(`col_bit_1_key`) FROM `table5_utf8_bin_int_autoinc``:
TiDB (mocktikv) is: 0 0 1 1 0
MySQL(5.7.20) is: 0 0 0 1 1
so the inconsistence is the order?

[2018-03-23 14:34] colinback commented on #6045
I would like to take a look at this one.

[2018-03-23 14:41] shenli commented on #6045
@colinback Great!

[2018-03-24 01:34] kangxiaoning commented on #6129
I will be improve the aesthetics of code review in `executor/grant_test.go`.

[2018-03-24 02:41] chenyang8094 commented on #6129
I'm working on [#6138](https://github.com/pingcap/tidb/pull/6138). I will be improve the aesthetics of code review in executor/show_test.go.

[2018-03-24 04:26] colinback commented on #6045
@shenli Well, maybe I need some help.
I add a rule for SimpleExpr which makes `SELECT INTERVAL 1 DAY + '2008-12-31'` work.
[code]

However it affects INTERVA  function. `SELECT INTERVAL(1, 0, 1, 2)` fails now. I'm guessing maybe it's precedence problem. But what is `lowerThanIntervalKeyword` that is not actually defined? What does following %prec mean?
[code]

[2018-03-24 05:52] colinback commented on #6045
OK. lowerThanIntervalKeyword is a pseudo-token and I see 31 shift/reduce conflicts.

[2018-03-24 06:07] lerencao commented on #6120
After look through myql jdbc connector, I found that it caused by JOOQ using an interface which mysql connector has a flawed implementation.
Maybe JOOQ should change to another interface, or maybe fix it in mysql connector.
Whatever, it's not related to TiDB.

[2018-03-24 06:55] lsytj0413 opened #6139 "[question] Does tidb have plans to support the Postgresql protocol?"
Question as the title.

[2018-03-24 07:56] lamxTyler commented on #6139
@lsytj0413 Thanks for your attention, we do not have such plan yet.

[2018-03-24 13:35] #6139 closed

[2018-03-25 12:59] hechen0 commented on #6129
#6144. improved util/ranger/ranger_test.go

[2018-03-26 01:09] shenli commented on #6134
@DavisLinDB For TiKV, you need to [make the old instance offline](https://github.com/pingcap/docs/blob/master/op-guide/horizontal-scale.md#delete-a-node-dynamically-1) through pd-ctl then start a new instance on  server-1.

[2018-03-26 01:23] sse-xmli commented on #6133
CPU: I7-6700
Memory: 8GB
OS: Ubuntu16.04 + Xfce Desktop
I just use the default config in the source code. Only one tidb_server process running in one machine.

[2018-03-26 01:36] shenli commented on #6133
@sse-xmli Have you deploy tikv and pd? We have published a sysbench result [here](https://github.com/pingcap/docs/blob/master/benchmark/sysbench.md#performace-test-result-for-tidb-using-sysbench).

[2018-03-26 03:52] XuHuaiyu commented on #5966
@colinback Thank you for your feedback.
The order problem can be ignored.
You may use sql like `SELECT ASCII(col_bit_1_key) FROM table5_utf8_bin_int_autoinc order by col_bit_1_key;` next time to confirm whether it's the order problem.

[2018-03-26 23:01] colinback commented on #5966
@XuHuaiyu I mean if the order is ignored, `SELECT ASCII` statement returns same result for MySQL and TiDB on my machine. So only part of the above list makes inconsistence?

[2018-03-27 04:44] XuHuaiyu commented on #5966
@colinback Yes

[2018-03-27 05:04] XuHuaiyu commented on #5966
@colinback I'll try to delete the order inconsistent sqls, and  re-upload sql.txt,

[2018-03-27 05:52] yangwenmai commented on #6129
@tiancaiamao The issue todo list has not been resolved and should not be closed.

[2018-03-27 05:57] tiancaiamao commented on #6129
@yangwenmai
Actually, it's closed by github robot.
If you send a PR and write description like `fix #6129`, when the PR is merged, the associating issue would be closed automatically.

[2018-03-27 12:03] Borelset opened #6162 "go-ycsb error when testing TiKV cluster"
1. What did you do?
For testing TiKV cluster, I deploy TiKVs and PDs like below, and run go-ycsb(load mod).

IP/Disk    Disk1  Disk2  Disk3  Disk4
*.*.*.117  TiKV1  TiKV2  TiKV3  PD1
*.*.*.118  TiKV4  TiKV5  TiKV6  PD2
*.*.*.119  TiKV7  TiKV8  TiKV9  PD3,go-ycsb

2. What did you expect to see?
TiKV cluster and go-ycsb all work as normal

3. What did you see instead?
go-ycsb works well at beginning

[2018-03-27 12:37] lamxTyler commented on #6162
Is the tikv server still alive? Is there something wrong with communication between go-ycsb and tikv?

[2018-03-27 12:37] #6134 closed

[2018-03-27 14:16] yangwenmai commented on #6129
Got it.

[2018-03-27 15:38] Borelset commented on #6162
yeah, TiKVs and PDs are still running.
I have try to kill the go-ycsb and restart it, but it still does not work.
would the limit of tcp connection or file descriptor result in this problem?

[2018-03-27 15:40] shenli commented on #6162
@siddontang PTAL

[2018-03-28 00:57] Borelset commented on #6162
In addition, some information could be found in several TiKV`s log.

2018/03/27 22:02:35.689 subchannel.c:687: [INFO] Connect failed: {"created":"@1522159355.689292013","description":"Failed to connect to remote host: OS Error","errno":111,"file":"/home/jenkins/.cargo/registry/src/github.com-1ecc6299db9ec823/grpcio-sys-0.2.0/grpc/src/core/lib/iomgr/tcp_client_posix.c","file_line":201,"os_error":"C

[2018-03-28 02:04] siddontang commented on #6162
the target address showes `127.0.0.1:20160`, how do you configure your cluster? Seem you set a local address for the TiKV `advertise-addr`.

[2018-03-28 02:27] Borelset commented on #6162
Luckily, problem solved by increasing the limit of TCP connection and file descriptor.

[2018-03-28 03:46] zhengvictor opened #6168 "tidb 用户权限解析"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
tidb的用户权限只是解析mysql.user的用户密码和host吧。

但是mysql里，是会和系统的host解析相关的。即会读取/etc/hosts的host和ip的解析。
能实现指定ip登录。

例如mysql：
/etc/hosts
ip1 host_1.db
ip2 host_2.db
ip3 host_3.db

那么然后mysql.users  :host="host_%.db"，这三个ip用户就能指定登录进去。

但是tidb貌似实现不了这样子。
因为它不会读取/etc/hosts 的映

[2018-03-28 04:05] ciscoxll commented on #4486
I have done some optimizations.
Relate to PR #6152  .

[2018-03-28 04:05] #4486 closed

[2018-03-28 04:37] tiancaiamao commented on #6168
I think it's not beneficial to implement this feature in TiDB.
TiDB is a distributed database, so there may be many host machine.
Depends on something in the `/etc/hosts` at different host machine make their behavior inconsistent.
@zhengvictor

[2018-03-28 06:18] #6162 closed

[2018-03-28 09:30] Lloyd-longfei opened #6173 "[error] [167] read packet error, close this connection read tcp"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

When I ask for a large amount of data and a relatively large time range, it will cause the TCP to disconnect.

2. What did you expect to see?

How can I set it up to solve this problem?

3. What did you see instead?

4. What version of TiDB are you usin

[2018-03-28 10:07] zhexuany commented on #6173
Thank you for using TiDB. We are really appreciated and we are truly want to help you. So please provide more information such as log and tidb's version.

[2018-03-28 11:45] #3709 closed

[2018-03-28 13:54] XuHuaiyu commented on #5502
fixed in https://github.com/pingcap/tidb/pull/5960

[2018-03-28 13:54] #5502 closed

[2018-03-28 13:55] XuHuaiyu commented on #5055
fixed in https://github.com/pingcap/tidb/pull/5960

[2018-03-28 13:56] #5055 closed

[2018-03-29 03:12] Lloyd-longfei commented on #6173
Release Version: v1.0.8-1-gaacba4a

I'm querying a table for one month, and when the data volume reaches 30 million or so, the data is aggregated and the dimension is calculated. When tidb queries, it will prompt me to timeout after a certain period of time. I'm at tidb. Log found inside, as follows:
[code]

[2018-03-29 03:16] Lloyd-longfei commented on #6173
How do I need to solve the problem of timeout, what parameters need to be adjusted to control it?

[2018-03-29 08:12] #6109 closed

[2018-03-29 08:19] siddontang opened #6180 "HTTP API: query the DDL history"
After we drop table, we may still need to do some cleanup work in TiKV, but we can't know the dropped table ID now, so can't know which regions belong to this dropped table.

If we can get the DDL history, we can know it.

[2018-03-29 08:58] duckstar2 opened #6182 "2018/03/23 16:00:47.337 server.go:303: [info] handshake error write tcp 10.185.178.120:4000->10.185.178.120:57650: write: connection reset by peer"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
execute ddl statement error log info

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-03-29 09:54] AndreMouche opened #6184 "cast_decimal_as_int: append truncate_error when meet overflow_error"
It makes me confused that  it appends truncate error when meet overflow on https://github.com/pingcap/tidb/blob/master/expression/builtin_cast.go#L761

[code]
Meanwhile, should we process `ErrTruncate` too?

[2018-03-29 09:55] zhexuany commented on #6184
@winkyao Please take a look.

[2018-03-29 13:56] #5341 closed

[2018-03-30 01:50] duckstar2 opened #6189 "sysbench error info ALERT"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I download sysbench config,execute insert operator ,occur the following error:
ALERT: mysql_drv_query() returned error 1062 (Duplicate entry '252697' for key 'PRIMARY') for query 'INSERT INTO sbtest2 (id, k, c, pad) VALUES (252697, 497871, '71996770227-5

[2018-03-30 06:38] XuHuaiyu commented on #5985
done

[2018-03-30 06:38] #5985 closed

[2018-03-30 16:18] zhexuany commented on #6189
@duckstar2 It seems like you insert same data twice?

[2018-03-30 16:25] zhexuany commented on #6173
It seems like tikv side ended connection first. Could you describe your topology of your cluster? If you use tikv as storage layer, could you check out of memory error by using `dmesg`?

[2018-03-31 08:53] #6101 closed

[2018-04-01 10:10] #6129 closed

[2018-04-01 10:10] #5273 closed

[2018-04-01 10:11] #5097 closed

[2018-04-01 11:41] #6133 closed

[2018-04-01 11:42] #2162 closed

[2018-04-01 14:53] #5526 closed

[2018-04-02 07:43] dbaspace opened #6200 "TIDB-server"
开始先用MYSQLDUM 把数据导入TIDB  导了一段时间   后面开始提示：
85, 0, X'') txnStartTS=399154573321437185 costTime=1m6.452244362s
2018/04/02 15:25:47.690 adapter.go:388: [warning] slow-query sql=INSERT IGNORE INTO mysql.gc_delete_range VALUES ("101", "35", "748000000000000023", "748000000000000024", "1522653976") database= succ=true txnStartTS=399154604084035587 connectionId=0 costTime=46.835194637s type=slow-query
2018

[2018-04-02 07:45] shenli commented on #6200
@dbaspace Thanks for your feedback.
@siddontang PTAL

[2018-04-02 07:47] zhexuany commented on #6200
@dbaspace Thanks for the feedback, could you also provide how do you start `pd`, `tikv` and `tidb`?

[2018-04-02 07:53] huachaohuang commented on #6200
Seems the clocks between PD servers are not synchronized, have you started NTP on these nodes?

[2018-04-02 08:59] #6182 closed

[2018-04-02 09:01] #6189 closed

[2018-04-02 10:43] duckstar2 opened #6201 "9 nodes Tidb cluster,cluster state is normal ,but grafana no monitor info"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Almost all are no data points,check server and port are nornal. I don't know how to resolve

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-04-02 10:47] coocood commented on #6201
@duckstar2
Do you mean there are some of the metrics has data points?
What's the version of TiDB?

[2018-04-02 10:59] duckstar2 commented on #6201
version is new ,about March , I find hosts list is empty, which config may be error?

[2018-04-02 11:08] coocood commented on #6201
@duckstar2
There are many things can go wrong, we need more information to help.

[2018-04-02 11:20] duckstar2 commented on #6201
ansible-playbook start.yml occur the following error:
[xxx.xxx.xxx.xxx]: Ansible FAILED! => playbook: start.yml; TASK: import grafana dashboards - run import script; message: {"changed": true, "cmd": "./grafana-config-copy.py", "delta": "0:00:00.099949", "end": "2018-04-02 19:12:50.743089", "msg": "non-zero return code", "rc": 126, "start": "2018-04-02 19:12:50.643140", "stderr": "/bin/sh: ./grafa

[2018-04-02 11:21] coocood commented on #6201
@LinuxGit PTAL

[2018-04-02 11:25] LinuxGit commented on #6201
[code]

[2018-04-02 11:43] MakeYuan-Driver opened #6202 "TikvSever Can't Reslove Domain name In Kubernetes"
I Create  Tidb Cluster with kubernetes, But Tikv Can't Start Normal, Pd Status Like This:

    NAME                           READY     STATUS             RESTARTS   AGE
    pd0-86f8b55d6-js6ts            1/1       Running            0          42m
    pd1-6b784c4b4b-jssdp           1/1       Running            0          39m
    pd2-7b7cdc4798-v89j7           1/1       Running            0

[2018-04-02 12:41] duckstar2 opened #6204 "Use TiSpark occur the following error:java.sql.SQLException: A read-only user or a user in a read-only database is not permitted to disable read-only mode on a connection."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
./spark-shell

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
SLF4J: Class path contains mu

[2018-04-02 12:42] zhexuany commented on #6204
@duckstar2 It is better you create this issue in tispark project. Here is the link: https://www.github.com/pingcap/tispark

[2018-04-02 12:42] #6204 closed

[2018-04-02 12:49] duckstar2 opened #6205 "Use TiSpark, occur the following errors:A read-only user or a user in a read-only database is not permitted to disable read-only mode on a connection"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
SLF4J: Class path contains multiple SLF4J bi

[2018-04-03 03:32] winoros commented on #6205
@birdstorm @ilovesoup PTAL

[2018-04-03 04:04] zhoffice opened #6207 "Query performance problem"
1. What did you do?
execute a query like this:
SELECT
	d.*,
	(
		SELECT
			count(*)
		FROM
			dydnb_t dnb
		WHERE
			d.id = dnb.dydevice_id
		AND dnb.is_delete = 0
	) AS fsCount
FROM
	dydevice_t d
WHERE
	1 = 1
AND d.job_id IN (1017683)
AND d.is_delete = 0
ORDER BY
	d.id

2. What did you expect to see?
the query finished in short time

3. What did you see instead?
it execute about 3 minites, in mys

[2018-04-03 04:07] zhoffice opened #6208 "SQL Error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
SELECT t.* FROM(
select id from zyjkgt_t
UNION ALL
select id from zyzf_t) t

2. What did you expect to see?
The query result

3. What did you see instead?
Unknown table 't'

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
Release Version: v1.0.8-1-gaacba4a
Git

[2018-04-03 04:09] shenli commented on #6208
@zhoffice Thanks for your feedback! Please try the latest master.

[2018-04-03 04:09] shenli commented on #6207
@zhoffice Thanks for your feedback! Please try the latest master.

[2018-04-03 04:40] coocood commented on #6202
@tennix PTAL

[2018-04-03 05:19] tennix commented on #6202
@yuan-make what's the command line argument of pd, tikv and tidb, and could you provide the service you created for these components?

[2018-04-03 07:04] yuan-make commented on #6202
[code]
Deployment yaml

tikv

[code]

[2018-04-03 11:34] winoros commented on #6207
@zhoffice Does the latest master or 2.0 branch solves your problem?

[2018-04-03 11:48] birdstorm commented on #6205
Hi, @duckstar2

Thanks for your feedback. Are you using TiSpark with Hive? Please check if you are accessible to `metastore_db` and delete its `db.lck` file. BTW, could you kindly provide your environment and spark configurations and post the issue in [TiSpark Project](https://github.com/pingcap/tispark)?

[2018-04-03 17:51] didip opened #6218 "Question: Does tidb or tikv support TTL?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

I am currently evaluating both to store large volume of data that is time series in nature. Thus, they don't need to live forever.

2. What did you expect to see?

I am aware that MySQL does not have support for row-level TTL, however I am curious if ti

[2018-04-04 01:15] coocood commented on #6218
@didip
We don't have a plan to support TTL.
You can add a `createdAt` column in the table and delete the old rows periodically.

[2018-04-04 01:16] zhexuany commented on #6218
TiDB may not be a good fit since you mentioned that you are evaluating TiDB to store time-series data.

[2018-04-04 03:29] duckstar2 opened #6219 "TiSpark support to use spark-sql query and concurrent select ?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-04-04 03:30] zhexuany commented on #6219
@duckstar2

Thanks for your feedback. As you may know, we have a repo call `tispark`. It is better you ask there.

Regarding of today's issue, the answer is yes. `tispark` supports both `spark-shell` and `spark-submit`, so does the concurrent select.

[2018-04-04 03:30] #6219 closed

[2018-04-04 03:44] zhexuany commented on #6201
@duckstar2 Have we resolved your problem? If yes, please close issue. If not, please give us more information. In addition, if you want real time help, please send email to sre@pingcap.com

[2018-04-04 04:53] dbaspace commented on #6200
系统都会有这个5 1 * * * /usr/sbin/ntpdate 192.168.21.13

[2018-04-04 06:01] winoros opened #6221 "`unix_timestamp`'s return type is not compatible"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
mysql> select unix_timestamp('2016-01-01');
+------------------------------+
| unix_timestamp('2016-01-01') |
+------------------------------+
|            1451577600.000000 |
+------------------------------+
1 row in set (0.00 sec)

2. What did you expe

[2018-04-04 07:07] huachaohuang commented on #6200
This shows that one of the clocks on the PD servers is wrong, can you manually check the clocks on all PD servers?

[2018-04-05 01:50] zhoffice commented on #6207
I will try in few days thank you

[2018-04-05 10:41] dbaspace opened #6228 "TIDB-SYNC-:4000: i/o timeout"
mysql] 2018/04/05 18:37:57 packets.go:33: read tcp 192.168.21.187:22804->192.168.21.187:4000: i/o timeout
2018/04/05 18:37:57 db.go:139: [error] exec sqls[[REPLACE INTO `db_shop`.`tbl_shop_food_price` (`itemID`,`unitKey`,`groupID`,`shopID`,`bookID`,`bookName`,`foodID`,`foodKey`,`foodCode`,`foodScore`,`unit`,`enUnit`,`price`,`prePrice`,`vipPrice`,`specialPrice`,`specialPrice2`,`specialPrice3`,`spec

[2018-04-05 10:48] shenli commented on #6228
@dbaspace Thanks for your feedback! Could you provide some detailed information? I can not tell what’s happening in your cluster. It seems that the cluster is busy. And tikv is under heavy write workload.

[2018-04-05 11:03] dbaspace commented on #6228
[root@glusterfs9 bin]# tail -f /data2/tidb/tikv/logs/tikv.log
2018/04/05 18:59:33.497 apply.rs:699: [INFO] [region 2880] 2883 execute admin command cmd_type: CompactLog compact_log {compact_index: 99342 compact_term: 10} at [term: 10, index: 99347]
2018/04/05 18:59:33.498 apply.rs:699: [INFO] [region 1280] 1283 execute admin command cmd_type: CompactLog compact_log {compact_index: 44734 compact_te

[2018-04-05 11:06] dbaspace commented on #6228
4个TIKV  3个PD   1个TIDB() -->4台服务器

[2018-04-05 11:36] dbaspace opened #6229 "TIDB-SYNCER BNILOG"
2018-04-04 09:51:58 1 3.528905 3.528905 3.528905 3.528905 0 3.528905 6.5e-05 6.5e-05 6.5e-05 6.5e-05 0 6.5e-05 1 1 1 1 0 1 1.223838e+06 1.223838e+06 1.223838e+06 1.223838e+06 0 1.223838e+06 <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil>

[2018-04-05 11:39] dbaspace commented on #6229
set @@tidb_batch_insert=on;
set @@tidb_batch_delete=on;
通过他们2个来控制？

[2018-04-05 12:09] zhoffice commented on #6208
Can I use ansible upgrade?

[2018-04-05 14:10] ciscoxll commented on #6229
Thanks for your feedback!
open `set @@session.tidb_batch_insert=1`
close `set @@session.tidb_batch_insert=0`
more questions can be viewed [FAQ.](https://pingcap.com/docs-cn/FAQ/)

[2018-04-05 14:28] shenli commented on #6229
@dbaspace Please refer to the [FAQ](https://github.com/pingcap/docs/blob/4fd71e2aacffba816a3485bd61a92c9330936c07/FAQ.md#the-error-message-transaction-too-large-is-displayed).

There are a few constraints in TiDB:
[code]

The error message in you log shows `Error 1118: entry too large`. So I think there is a row in the binlog exceed 6MB. which is not allowed in TiDB. So there is no way to sync it

[2018-04-05 14:35] dbaspace commented on #6229
2018/04/05 22:32:58 syncer.go:370: [fatal] Error 1118: entry too large, size: 7719384
跳过.....你发的这个 看过了 ，不可能因为大事务就跳过BINLOG，，，，，

[2018-04-05 14:47] shenli commented on #6229
The constraints are hardcoded in TiDB. Too large rows will hurt the performance and the stability of TiKV cluster. So skipping the binlog entry is the only way for your scenario.

[2018-04-05 15:07] dbaspace commented on #6229
不可能因为线上有大事务，就跳过的。不过还好给测试出来.....

[2018-04-05 15:08] dbaspace commented on #6229
公司的数据 经常有大事务操作，这就导致一个问题了，继续测试其他可能的问题

[2018-04-05 15:09] #6229 closed

[2018-04-05 15:14] shenli commented on #6228
Please refer to the [metrics document](https://github.com/pingcap/docs/blob/master/op-guide/dashboard-overview-info.md#key-metrics-description) to see if any of the key metrics of TiKV is abnormal.

[2018-04-05 15:18] shenli commented on #6208
Yes. Please refer to the document: https://github.com/pingcap/docs/blob/master/op-guide/ansible-deployment.md#ansible-deployment

[2018-04-05 15:19] shenli commented on #6202
@tennix PTAL

[2018-04-05 15:24] shenli commented on #6173
@Lloyd-longfei Please check the OS's TCP keep-alive configuration.

[2018-04-05 15:28] shenli commented on #6070
@duckstar2 Ansialbe is a convenient way to maintain a cluster.

[2018-04-05 15:28] #6070 closed

[2018-04-05 15:29] #6120 closed

[2018-04-05 15:30] #6047 closed

[2018-04-05 15:31] #5975 closed

[2018-04-05 15:32] #6045 closed

[2018-04-05 15:32] #6033 closed

[2018-04-05 15:34] shenli commented on #6031
@duckstar2 Please feel free to reopen this issue if you still have problem with loader.

[2018-04-05 15:34] #6031 closed

[2018-04-05 15:44] #5756 closed

[2018-04-05 15:50] qazbnm456 commented on #6092
@shenli Sorry, I don't think the issue has been resolved, could you reopen this?

The main question is the same query: `select 1, 2, 3 from dual union select * from t limit 1 offset 2;` giving different results from Tidb and MySQL, and it seems there's no consensus in this thread.

I would prefer getting the result given by MySQL, but I don't know if you have other thoughts regarding this?

[2018-04-05 16:01] shenli commented on #6092
@qazbnm456 I think this issue is clear enough.
In `select * from t limit 1 offset 2;`, there is no order by clause. So the database could return data in any order. It depends on the storage engine. Please refer to [this post](https://stackoverflow.com/questions/1949641/mysql-row-order-for-select-from-table-name).

So any single row from table t is the correct answer for `select * from t limit 1 of

[2018-04-05 16:07] #6042 closed

[2018-04-05 16:17] qazbnm456 commented on #6092
Thanks for your clarification, but I'm not actually arguing the `select * from t limit 1 offset 2;` statement. I know the above query will return any single row from table `t` because I don't give the engine a clear hint.

The query I care more is the result of `select 1, 2, 3 from dual union select * from t limit 1 offset 2;`.

I'm just curious that does it mean executing `select 1, 2, 3 from dua

[2018-04-06 01:35] shenli commented on #6092
@qazbnm456 I got your point.
I read MySQL's [document](https://dev.mysql.com/doc/refman/5.7/en/union.html) and found that:
[code]

I agree the issue is not solved yet. I think we need to fix it in TiDB's parser yacc file.

[2018-04-06 13:30] shenli commented on #5896
@leonchen83 Feel free to reopen this issue if you still have any problem.

[2018-04-06 13:30] #5896 closed

[2018-04-08 06:46] xjlixd opened #6231 "JDBC to TiDB doesn't support useCursorFetch?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
final String fetch = "&useCursorFetch=true&useServerPrepStmts=true&rewriteBatchedStatements=false";
JDBC 's url = URL + fetch;

2. What did you expect to see?
It will get data normally.

3. What did you see instead?
java.sql.SQLException:
Cannot create P

[2018-04-08 08:11] winoros commented on #6231
Please grep `error` in tidb's log, then you can find the raw sql and the error stack information.
Then paste the error log here.

[2018-04-08 08:59] mz1999 commented on #6231
I tried to investigate this issue.

According to MySQL Protocol, the command [COM_STMT_EXECUTE](https://dev.mysql.com/doc/internals/en/com-stmt-execute.html) asks the server to execute a prepared statement.

When a client set a property `useCursorFetch=ture`,  the JDBC driver will set flags to `OPEN_CURSOR_FLAG` (1)

[code]

But now the TiDB server side only [handles `CURSOR_TYPE_NO_CURSOR` flag](

[2018-04-09 00:59] duckstar2 opened #6237 "install lvs,but can't connect tidb with lvs's virtual IP,can connect with tidb real IP address"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
install multi node tidb,and install LVS,but can't connect tidb with lvs's virtual IP,can connect with tidb real IP address

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `sele

[2018-04-09 01:44] duckstar2 commented on #6237
ERROR 2003 (HY000): Can't connect to MySQL server on 'xxx.xxx.xxx.xxx' (110),xxx.xxx.xxx.xxx is virtual ip

[2018-04-09 02:03] tiancaiamao commented on #6237
Maybe there are something wrong with your LVS settings, the request seems never reach TiDB.
Please check the network environment, make sure it works first. @duckstar2

[2018-04-09 03:40] #6221 closed

[2018-04-09 04:08] Lee-Think opened #6239 "Something wrong with binlog"
I installed and tested the pump and drainer in March, and it works. Then I shut down the drainer. Today, I started the drainer discovery log to report "[warning] [stream] node erp-web-other03:8250, pos {Suffix:9 Offset:0}, error RPC error: code = Unknown desc = binlogger: file not found". I guess it may have been caused by the removal of the pump data after it expired. How can I solve this problem

[2018-04-09 06:33] WangXiangUSTC commented on #6239
could you please provide the Git Commit Hash and the error log in detail, you can find Commit Hash in drainer's log.

[2018-04-09 06:40] GregoryIan commented on #6239
it seems u use old version binlog, it's a old bug.  there are two suggestions:

1. suggest u upgrade to have new version binlog that using kafka, u can use [tidb-ansible ](https://github.com/pingcap/docs-cn/blob/master/tools/tidb-binlog-kafka.md#使用-tidb-ansible-部署-pump)
2. u need to show use the binlog files in host erp-web-other03, then we help u to modify your save point file. [binlog files are

[2018-04-09 07:16] zhoffice commented on #6208
OK. No problem in new version.

[2018-04-09 07:16] #6208 closed

[2018-04-09 07:48] ngaut opened #6243 "Using zap instead of logrus"
zap is faster then logrus. Reference

https://github.com/uber-go/zap

[2018-04-09 07:59] shenli commented on #6243
The benchmark result is promising. But we need to investigate how to rotate log file. Find a related issue [here](https://github.com/uber-go/zap/issues/268).

[2018-04-09 08:53] Lee-Think commented on #6239
@WangXiangUSTC Well,I can't find Commit Hash in drainer's log(if the drainer's log means drainer.log file). There is only a group of words that are recycled:
2018/04/09 16:51:23 collector.go:225: [info] erp-web-other03:8250 last CommitTS 0
2018/04/09 16:51:24 pump.go:385: [warning] [stream] node erp-web-other03:8250, pos {Suffix:9 Offset:0}, error rpc error: code = Unknown desc = binlogger: file n

[2018-04-09 08:56] Lee-Think commented on #6239
@GregoryIan Ok,I'll try to use the new version. Thank you~

[2018-04-09 12:13] WangXiangUSTC commented on #6239
@Lee-Think  you can execute ./bin/drainer -V to get commit version

[2018-04-09 15:04] colinback commented on #5966
@XuHuaiyu Sorry I do not notice your last response. I can check your re-uploaded sql.txt this weekend.

[2018-04-10 02:21] normandie199 opened #6250 "failed to set kernel params"
TASK [bootstrap : setting present kernel params] **********************************************************************
failed: [10.17.36.81] (item={u'name': u'net.core.somaxconn', u'value': 32768}) => {"changed": false, "item": {"name": "net.core.somaxconn", "value": 32768}, "module_stderr": "Shared connection to 10.17.36.81 closed.\r\n", "module_stdout": "Traceback (most recent call last):\r\n

[2018-04-10 02:36] Lee-Think commented on #6239
@WangXiangUSTC Git Commit Hash: 90b25b725d5ae2aa0b9959825dffeb7b415ba829

[2018-04-10 02:59] zz-jason commented on #6250
Thanks for your feed back! We'll take a look.

[2018-04-10 03:07] normandie199 commented on #6250
OK, thanks!

[2018-04-10 03:14] LinuxGit commented on #6250
Hi, what's your ansible version ，Linux OS system and version，is it CentOS7?

[2018-04-10 03:34] LinuxGit commented on #6250
Thanks for your feed back.  Are your target machines (10.17.36.81 and 10.17.36.82) all CentOS 7.4 too?

[2018-04-10 03:36] zhaojunliRain opened #6252 "query failed with "runtime error: index out of range""
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
SELECT sum((`salary`/(select sum(`salary`) from (SELECT
  e.employee_id as `employee_id`,
  e.job_id as `job_id`,
  e.manager_id as `manager_id`,
  e.department_id as `department_id`,
  d.location_id as `location_id`,
  l.country_id as `country_id`,
  e.

[2018-04-10 03:38] normandie199 commented on #6250
yes

[2018-04-10 03:39] normandie199 commented on #6250
ansible脚本有问题    ，你们没有做版本兼容

[2018-04-10 03:55] zz-jason commented on #6252
@zhaojunliRain Thanks for your feed back! Could you please provide us the these materials to help us locate the problem:
1. tidb log
2. create table statement

[2018-04-10 05:02] LinuxGit commented on #6250
@normandie199 We found that ansible 2.5 doesn't support include + become. You can install ansible 2.4.2 accroding to https://github.com/pingcap/docs-cn/blob/master/op-guide/offline-ansible-deployment.md#在中控机器上离线安装-ansible-及其依赖. We'll update tidb-ansible as soon as possible.

[2018-04-10 05:16] normandie199 commented on #6250
请问生产上用哪个版本的？ 告诉我下吧

[2018-04-10 06:44] zimulala commented on #6252
@zhaojunliRain
You can do the operation of `ps -ef|grep tidb` to find the path of TiDB log. Then you can do the operation of `grep "index out of range" path/tidb.log -C 50`.

[2018-04-10 07:15] zhaojunliRain commented on #6252
I am using pingcap/tidb image to run tidb, and I can not find tidb.log in my container. Here is the snapshot from my db client.
<img width="623" alt="screen shot 2018-04-10 at 3 13 49 pm" src="https://user-images.githubusercontent.com/33884260/38541554-ff390268-3cd1-11e8-89ec-7cd0f25498c0.png">

[2018-04-10 07:35] zz-jason commented on #6252
@zhaojunliRain we can not reproduce this problem in our master branch, could you please try our master version to check whether this problem still exists ?

[2018-04-10 08:28] shenli commented on #6250
@normandie199 Please use ansible 2.4.2 as @LinuxGit said.

[2018-04-10 12:00] tennix commented on #720
@tiancaiamao `docker-compose logs tidb`

[2018-04-10 12:45] breeswish commented on #720
As stated previously, currently we does not support SAVEPOINT. #3663

[2018-04-10 13:09] tennix commented on #6202
@yuan-make tikv and tidb communicate with pd using client not by its peer, namely you should use port 2379 other than 2389. Besides your pd Deployment yaml seems not work on my cluster, changing advertise-client-urls to `http://$(MY_POD_IP):2379` where `MY_POD_IP` is the pod's IP using K8s downward api.
Some other tips, no privilege and cgroup is required. workingDir is not needed either.

[2018-04-11 12:25] SonixLegend opened #6271 "[Performance] Between mysql and tidb cluster"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I just wrote a benchmark method that insert record to a single table. the table has 1 int(19) auto increment primary key and 14 varchar column, put 20 char on each text column. The cluster contain 2 machine, first 4core 8G 50G HDD, second 4core 4G 50G HD

[2018-04-11 12:51] tiancaiamao commented on #6271
TiDB cluster can't beat MySQL in this environment.
Inter process communication cost is high on different machine, a distributed database
has no advantages at such a scale.
You have to introduce better hardware, and use more machines, to archive the result "the write speed on tidb cluster is faster than on single mysql server" @SonixLegend

[2018-04-12 08:40] Liwink commented on #2420
These tasks may have already been finished.

[code]

[2018-04-12 08:44] winoros commented on #2420
Thank @Liwink !

[2018-04-12 08:44] #2420 closed

[2018-04-12 11:12] arthurkiller commented on #4875
same problem+1

[2018-04-12 11:21] arthurkiller opened #6277 "Can't set the log level for tikv client caused by vendor"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I'm working on tikv client benchmark.

But I realize that `logrus.SetLevel()` will not take effect caused by the vendor.

2. What did you expect to see?

If here is any way for me to set the log level for tikv go client client.

[code]

3. What did you see instead?

nothing happened

4. What version of TiDB a

[2018-04-12 11:31] tiancaiamao commented on #6277
There is a `config.toml.example` file in the tidb/config dir, https://github.com/pingcap/tidb/blob/master/config/config.toml.example

You can change here as you like

[code]

and start TiDB with

[code]

[2018-04-12 11:32] arthurkiller commented on #6277
@tiancaiamao Ehhh

I mean How to set log level in KV client

[2018-04-12 11:42] tiancaiamao commented on #6277
There are benchkv file here https://github.com/pingcap/tidb/blob/master/cmd/benchkv/main.go
You can have a look.

[code]

[2018-04-12 11:45] arthurkiller commented on #6277
@tiancaiamao  yes, but it won't take effort out side this repo in my project caused go will search vendor for this demo, and this `log.SetLevel()` only will take effect if your `main.go` is under `$GOPATH/github.com/pingcap/tidb/`

[2018-04-12 11:51] tiancaiamao commented on #6277
You want to set log level for your benchmark program, of set log level for TiDB ? @arthurkiller

[2018-04-12 11:53] arthurkiller commented on #6277
I get my own repo for tikv benchmark, and I import tikv client. But I can't set the log level for tikv client.

[2018-04-12 11:56] tiancaiamao commented on #6277
So, the problem is tikv client log nothing.
Whether you set log level or not, does not affect the output...

[2018-04-12 13:07] duckstar2 opened #6279 "sysbench 1024 currency test:oltp.sh ,occur the error:mysql_drv_query() returned error 1105 (Information schema is out of date.) for query 'COMMIT'"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
ALERT: mysql_drv_query() returned error 1105 (Information schema is out of date.) for query 'COMMIT'

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on

[2018-04-12 13:12] tiancaiamao commented on #6279
Something may help:
1. use lower currency, this error happen when TiKV is overload
2. modify config file, set `lease = "120s"`, and run
`./tidb-server -config=config/config.toml.example`

[2018-04-13 00:58] arthurkiller commented on #6277
correct

Best regards
✉️✉️✉️✉️✉️✉️✉️✉️✉️✉️✉️✉️✉️✉️

Arthur lee
Sent from my iPhone

[2018-04-13 02:02] arthurkiller commented on #6277
@tiancaiamao why closed? this issue is not solved  yet?

[2018-04-13 02:04] arthurkiller commented on #6277
tikv client default log level is info, the out puts has mixed up

[2018-04-13 02:13] tiancaiamao commented on #6277
Sorry, I don't get the point. @arthurkiller
What do you really want to do? what's the log output do you expected? Is the output by your program or by the tikv client library?
Would you please show me your program source code?

[2018-04-13 02:35] tiancaiamao commented on #6277
So, show me the code or your repo, I can know what happened.

A suspicious place, you should
[code]
not
[code]

[2018-04-13 02:39] arthurkiller commented on #6277
[code]

[2018-04-13 02:41] arthurkiller commented on #6277
You get it

[2018-04-13 02:43] arthurkiller commented on #6277
@tiancaiamao I tried import `"github.com/Sirupsen/logrus"` but nothing changed

[2018-04-13 02:47] arthurkiller commented on #6277
![image](https://user-images.githubusercontent.com/11133870/38714298-1250b9ee-3f08-11e8-9621-ea8e2883c40e.png)

[2018-04-13 02:51] jackysp commented on #6277
@arthurkiller It looks like logs from https://github.com/pingcap/pd .

[2018-04-13 02:53] arthurkiller commented on #6277
@jackysp PD is not on this host...

[2018-04-13 02:55] arthurkiller commented on #6277
Really a confusing problem, hhh

[2018-04-13 03:00] arthurkiller commented on #6277
举一个最简单的例子,

$GOPATH/src/github.com/pingcap/tidb/cmd/benchraw 这个项目我直接 go build , 执行没有 info log 输出

将, main.go copy 到 $GOPTAH/src/demo 下编译, 就会有 log 输出
![image](https://user-images.githubusercontent.com/11133870/38714656-d97715a8-3f09-11e8-8db0-57e0e086bf86.png)

[2018-04-13 03:01] tiancaiamao commented on #6277
Try this one "github.com/sirupsen/logrus" ? @arthurkiller

[2018-04-13 03:03] arthurkiller commented on #6277
@tiancaiamao have a look on my last comment

[2018-04-13 03:06] tiancaiamao commented on #6277
Oh, I see...
Your `GOPATH/src/github.com/sirupsen/logrus` is different from which in `tidb/vendor`

Go to `GOPATH/src/github.com/sirupsen/logrus`, checkout to that git hash and retry.

[code]

[2018-04-13 03:12] arthurkiller commented on #6277
![image](https://user-images.githubusercontent.com/11133870/38714950-3a42cee4-3f0b-11e8-8ab4-ea4bccadc785.png)

![image](https://user-images.githubusercontent.com/11133870/38714958-481313b2-3f0b-11e8-88b6-e3e32d7d68aa.png)

@tiancaiamao  noting.

Caused the vendor has get its own `logrus`. And go will trate with two logrus(one in vendor , one in GOPATH) independently

[2018-04-13 03:26] arthurkiller commented on #6277
@tiancaiamao Bro, If u do this. You will see what will happen...

[code]

[2018-04-13 03:34] arthurkiller commented on #6277
这个问题很难理解么?  [捂脸]

[2018-04-13 03:45] tiancaiamao commented on #6277
This case, Go use `$GOPATH/src/github.com/pingcap/tidb/vendor/github.com/sirupsen` to build the binary.

In this case, Go use `$GOPATH/src/github.com/sirupsen` to build the binary.

It's Mac file system that case-insensitive, not Go.

[code]

It doesn't work?

We provide vendor to get rid of user's environment, and we use Makefile to control the build processing.
If user break the rule, we can't p

[2018-04-13 04:40] arthurkiller commented on #6277
I have change the path name into lowercase, still can't help

If here is any solution setting log level freely for main.go outside tidb's vendor

[2018-04-13 04:43] tiancaiamao commented on #6277
Don't change the path name... remove it !

[2018-04-13 04:47] arthurkiller commented on #6277
After I remove the log, how shoud I set the tikv client log level in my code?

[2018-04-13 04:47] arthurkiller commented on #6277
right, vendor is used to unique dependencies. But we are here talking about `how to use logrus`

In tidb's way, the global log instance is initialized when import logrus, and all the log action point to the same(and only) log instance.

It make's log become clean and unique. But the log instance will be a internal instance which can not be set by SDK user.

[2018-04-13 04:50] arthurkiller commented on #6277
I guess, You are pushing me to build my benchmark code under tikv project. Right?

[2018-04-13 04:50] arthurkiller commented on #6277
I just a tikv SDK user. [shrug]

[2018-04-13 05:41] tiancaiamao commented on #6277
If you remove "sirupsen/logrus", and reinstall it ... You may find it actually works.
I usually get into trouble with my computer, so I reboot it, it work!

[2018-04-13 05:47] arthurkiller commented on #6277
Ridiculous.
I thing this problem is really clear

![image](https://user-images.githubusercontent.com/11133870/38718741-1ae586d4-3f21-11e8-839d-fb2c3670cf78.png)
![image](https://user-images.githubusercontent.com/11133870/38718756-269701b0-3f21-11e8-8e98-f9de42ab2d33.png)

[2018-04-13 05:49] arthurkiller commented on #6277
@ngaut @shenli Help wanted. It's really a slice of problem.

[2018-04-13 05:52] arthurkiller commented on #6243
We work with zap via a auto-rotate io writer which implement the io.File

github.com/arthurkiller/rollingwriter

[2018-04-13 06:08] coocood commented on #6277
@arthurkiller
You can try to add a function `SetLogLevel` in a package under `tidb`, then call that function in your benchmark code.

[2018-04-13 06:14] coocood commented on #6277
@arthurkiller
There is a package `util/logutil` in `tidb, you can try this code.
[code]

[2018-04-13 06:26] tiancaiamao commented on #6277
Modify "$GOPATH/src/github.com/sirupsen/exported.go"

[code]

[code]

And modify "$GOPATH/src/github.com/pingcap/tidb/vendor/github.com/sirupsen/logrus/exported.go"

[code]

[code]

I guess it maybe helpful for debugging the problem. @arthurkiller

[2018-04-13 07:32] duckstar2 opened #6282 "sysbench 512 concurrency ,occur the erro:mysql_drv_query() returned error 9005 (Region is unavailable[try again later])"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
ALERT: mysql_drv_query() returned error 9005 (Region is unavailable[try again later]) for query 'SELECT c FROM sbtest3 WHERE id=999149'
FATAL: failed to execute function `event': 3

2. What did you expect to see?

3. What did you see instead?

4. What ve

[2018-04-13 07:47] coocood commented on #6277
@arthurkiller
We don't need a PR, the `logutil.InitLogger` function is already there, you can use it directly.

[2018-04-13 08:00] arthurkiller commented on #6277
Get it, Closed

[2018-04-13 08:00] #6277 closed

[2018-04-13 15:09] jackysp commented on #6282
@duckstar2 , thank you for your feedback. This error mostly means TiKV is overloaded. Please use a lower currency test, or add more TiKV instances.

[2018-04-14 13:24] UncP opened #6287 "Unknown database `mysql` when cluster initialize"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

`start the cluster and insert some data`

2. What did you expect to see?

3. What did you see instead?

`failed to connect tidb`

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
`TiDB: v2.0.0-rc.4-61-g53

[2018-04-14 13:24] UncP commented on #6287
@zimulala

[2018-04-14 14:45] jackysp commented on #6287
What kind of data did you insert? @UncP

[2018-04-14 14:53] jackysp commented on #6287
I've checked the log file. It looks like the meta data key conflict when parallel alloc table id for the system tables. PTAL @zimulala

[2018-04-15 02:49] UncP commented on #6287
Just some bank account, `id` as primary key and `value`, part of the step of Jepsen test.

[2018-04-16 00:40] colinback commented on #5966
I've started work on this since last weekend. First query in problem is `SELECT AddTime(col_time_6_key, col_bit_1_key) FROM table5_utf8_bin_int_autoinc`.

MySQL result:
![image](https://user-images.githubusercontent.com/2142335/38785360-bc6abf24-4151-11e8-8eaf-9deefee78d04.png)
Tidb result:
![image](https://user-images.githubusercontent.com/2142335/38785356-aa07cd68-4151-11e8-9160-8ab10f35e6b7.png

[2018-04-16 02:49] zimulala commented on #6287
@UncP
Could give the full error message when the client connection failed? E.g. `[dial tcp 127.0.0.1:4001: connect: connection refused]`

[2018-04-16 03:07] UncP commented on #6287
<img width="1323" alt="2018-04-16 10 56 34" src="https://user-images.githubusercontent.com/16263931/38788326-aa9a1c5e-4165-11e8-99ae-da81efeb72c1.png">

Jepsen reported it.

[2018-04-16 03:09] jackysp commented on #5966
PTAL @XuHuaiyu

[2018-04-16 03:12] zz-jason commented on #5966
@colinback Yes, It's lot of work to do, and we really appreciate for your help !

[2018-04-16 03:33] jackysp commented on #6287
I can reproduce you error. Did you start two tidb at the same time for a new cluster? @UncP

[2018-04-16 03:38] jackysp commented on #6287
[code]
The unrecovered panic could be this. @UncP @zimulala

[2018-04-16 04:01] UncP commented on #6287
Jepsen works like this, start 5 node cluster, each node has tidb-tikv-pd, then do test.
What do you mean `start two tidb at the same time for a new cluster`?

It waited 60s to start the test and.

Jepsen does the same test in the same way everyday using the latest release, for the past few weeks, the test is fine, but this error occurs everyday since `v2.0.0-rc.4-61-g533fac1`. Maybe it's related t

[2018-04-16 07:09] shenli commented on #6180
@siddontang This is fixed.

[2018-04-16 07:09] #6180 closed

[2018-04-16 08:01] duckstar2 opened #6291 "I want to test tpc-h 1000x performance ,use tispark,use "load data local infile" to import data,select count(*) ocurr the error:Region is unavailable, can recover automatically?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

MySQL [tpch1000x]> select count(*) from customer;
ERROR 9005 (HY000): Region is unavailable[try again later]

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_versi

[2018-04-16 09:30] birdstorm commented on #6291
Hi, @duckstar2
Thanks for your feedback. I would like to know whether you are querying from TiDB or TiSpark. The situation you mention is most probably due to TiKV overloaded. You may try to use lower concurrency level or add more TiKV instances.

[2018-04-16 09:31] tiancaiamao commented on #6291
Use tispark? I'm a bit confused.
Are you loading date in TiSpark, and do `select count(*)` in TiDB ? @duckstar2

[2018-04-16 10:40] zimulala commented on #6287
@UncP
Thanks for your report!
I can reproduce your error.  I'll handle it.

[2018-04-16 12:00] duckstar2 commented on #6291
I didn't use tispark, use "load data local infile" to import data, file is bigger,after finishing a file import ,select count(*) in tidb.
I install 2 tikv in a server ,modfiy block-cache-size,but occurring errors yet

[2018-04-16 12:18] tiancaiamao commented on #6291
@birdstorm is right.

[2018-04-16 12:43] UncP commented on #6287
Thx.

[2018-04-17 01:43] duckstar2 commented on #6291
I restart tidb cluster ,execute "select count(*) from customer", occur the same error.

[2018-04-17 02:13] colinback commented on #5966
@zz-jason now I can make `AddTime(col_time_6_key, col_bit_1_key) FROM table5_utf8_bin_int_autoinc` work. But `select addtime("2017-01-01 01:01:01", b'1')` or `select addtime("2017-01-01 01:01:01", 0b1)` is still wrong. After I finish it, I will sumbit PR to request XuHuaiyu review.

I'm going to post the difference in the sql.txt.

[2018-04-17 03:34] shenli commented on #6291
@duckstar2 Could you show us your Grafana? Without it, we could not tell what is happening.

[2018-04-17 05:50] JackFish commented on #6036
@zz-jason QRTZ_SIMPLE_TRIGGERS

[2018-04-17 06:38] zz-jason commented on #6036
@JackFish I can not reproduce this issue on master branch:
[code]

[code]

How do you insert the data into the table?

[2018-04-17 07:00] duckstar2 commented on #6291
I  redeply tidb cluster ,a server install tikv service 。because import data failed using “load data local infile” ，after I  have imported serveral files successfully。 So I try to use loader，this tools only import sql data，for example：insert into sbtest values (1,1),(2,2), cant' import such data ?
1,1
2,2
3,3

[2018-04-17 07:11] duckstar2 commented on #6291
I can't show you  my Grafana, the cluster is in internal network

[2018-04-17 07:40] tiancaiamao commented on #6291
You can still capture the screen shot of Grafana. @duckstar2

[2018-04-17 08:38] duckstar2 commented on #6291
I upload the png file failed ,I redeploy the cluster ( a server deoploy a tikv service ) and decrease the import data size,now no error

[2018-04-17 09:03] duckstar2 commented on #6291
My server configure are the following:
vcpu:48core
memory:256GB
IO: 23 sas disk ->raid5
network:10GE
how should I config the tidb cluster?

[2018-04-17 09:14] tiancaiamao commented on #6291
On one single machine? How about this repository as a quick start?
https://github.com/pingcap/tidb-docker-compose

[2018-04-17 09:44] duckstar2 commented on #6291
not single machine ,9 servers，4tikv，3（pd+tidb），2tidb
if I deploy the cluster ：3（pd+tidb），2tidb，4server（8tikv，2tikv/server)，load data andcount(*) all occur the error : region is unavailable

[2018-04-17 10:06] birdstorm opened #6303 "ErrDataOutOfRange is not bounded with args"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-04-17 10:53] victor-simida opened #6304 "alter table from default null to not null default '' false"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
ALTER TABLE `xxx_tab` CHANGE `xxx` `xxx` VARCHAR(200)
 not NULL
 DEFAULT '';
returns: unsupported modify column null to not null
the data in this column is not empty string, but the table structure cannot change it to not null and default ''
2. What did

[2018-04-17 11:07] tiancaiamao commented on #6304
Modify column null to not null is not supported in TiDB now. @victor-simida

[2018-04-18 02:03] victor-simida commented on #6304
well, is it will be supported in the future?

[2018-04-18 02:03] victor-simida commented on #6304
@tiancaiamao

[2018-04-18 02:12] shenli commented on #6304
@victor-simida Without locking the table, we could not find a safe way to achieve this. So we do not have a plan now.

[2018-04-18 06:45] duckstar2 opened #6310 "I use mydump/loader to import data,sometime give info :db.go:294: [info] checkpoint id:d48445 filename test_loader.item.sql already exists, skip it."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I execute to loader to import data more times,give me the following tip,and no import data
db.go:294: [info] checkpoint id:d48445 filename test_loader.item.sql already exists, skip it.

2. What did you expect to see?

3. What did you see instead?

4. Wha

[2018-04-19 03:53] calmzealA opened #6317 "Insert into int field with '' failed"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

[code]

2. What did you expect to see?

While in mysql 5.7,the following sql returns ok

`INSERT INTO test(i1,s1) VALUES ('','aa'); `

3. What did you see instead?

//Error 'Data Truncated'

4. What version of TiDB are you using (`tidb-server -V

[2018-04-19 06:42] jy4618272 commented on #4190
应该是这个：https://github.com/pingcap/tipb/blob/master/go-binlog/binlog.pb.go

[2018-04-19 06:45] jy4618272 commented on #3331
@weirui have u get any response from shenli ? can u share with us?

[2018-04-19 08:43] PureWhiteWu commented on #6317
It comes to me that mysql raises an error:
[code]

My mysql version is 5.7.21

[code]

[2018-04-19 08:47] #6304 closed

[2018-04-19 08:49] zz-jason commented on #6317
@PureWhiteWu In the case you present, TiDB behaves the same as MySQL, this error is caused by the strict sql mode, for a work around, you can:
[code]

[2018-04-19 14:10] zz-jason commented on #6310
@duckstar2 Could you please provide us the tidb version and tidb log to help us locate the problem ?

[2018-04-19 14:11] #6317 closed

[2018-04-20 02:26] winkyao commented on #6287
@UncP This issue is fixed in #6286 , please try latest TiDB master.

[2018-04-20 03:22] #6287 closed, assigned to zimulala

[2018-04-20 04:21] adiu opened #6327 "启动不了PD Tikv"
公司内网配置三台测试机部署情况如下：
192.168.0.202    pd   tikv
192.168.0.203    pd   tikv
192.168.0.208    pd   tikv   tidb

[code]
问题描述：
192.168.0.202 的pd 和 tikv数据目录被删除了，就启动不了

日志为：
[code]

[2018-04-20 08:25] #6327 closed

[2018-04-20 09:41] kylezhang opened #6329 "Does TiDB has backup in default?"
Please answer these questions before submitting your issue. Thanks!
tidb默认有没有开启备份

1. What did you do?
If possible, provide a recipe for reproducing the error.
误删数据中数据。

2. What did you expect to see?
tidb默认有没有开启备份，如何恢复误删的数据。

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2018-04-20 09:43] shenli commented on #6329
@kylezhang The data will not be delete until it meet gc command. Please follow the guide here to read the history data: https://github.com/pingcap/docs/blob/master/op-guide/history-read.md

[2018-04-20 09:44] shenli commented on #6329
If it is urgent, please enlarge the gc life time first.
update mysql.tidb set variable_value='24h' where variable_name='tikv_gc_life_time'

[2018-04-20 10:10] kylezhang commented on #6329
是很紧急的；我这里现在用的是默认的配置，没有做其他的配置。
我大约是在今天17:00删除的数据，目前`mysql.tidb`数据如下：
![image](https://user-images.githubusercontent.com/3679798/39045627-f52f1eaa-44c5-11e8-8e88-31195169e90d.png)

[2018-04-20 10:14] shenli commented on #6329
@kylezhang If so, the data may be already deleted by GC worker. The default lifetime is 10 minutes. So I said that:

update mysql.tidb set variable_value='24h' where variable_name='tikv_gc_life_time'

[2018-04-20 12:38] birdstorm opened #6330 "Missed extra validation for column with dot in create table statement"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-04-20 12:54] #6329 closed

[2018-04-23 03:16] XuHuaiyu commented on #6330
@winkyao @ciscoxll
Please take a look.

[2018-04-23 06:05] iamjohnnyzhuang opened #6338 "TiDB部署在CentOs 6.5 是否可以正常运行？"
你好，
线上生产机器版本均为CentOS 6.5
查看部署文档：https://pingcap.com/docs-cn/op-guide/recommendation/
Linux 操作系统版本要求指定Centos需要7.3 及以上。

[2018-04-23 07:36] duckstar2 commented on #6310
5.7.10-TiDB-v2.0.0-rc.4-14-g905eda7

[2018-04-23 07:54] holys commented on #6310
@duckstar2
1. Loader saves checkpoint data in tidb-server. Its default table is `tidb_loader.checkpoint`.
2. Before restoring data, loader saves the initial values for checkpoint record. It executes the following sql to do this.
[code]
Each table has a record in `tidb_loader.checkpoint`.
3. `checkpoint id:d48445 filename test_loader.item.sql already exists, skip it.`  Means it already has a record

[2018-04-23 07:56] holys commented on #6310
@duckstar2  If you want to make fresh start, it's better to drop that table(`tidb_loader.checkpoint`) before your restoring.

[2018-04-23 12:28] biolee opened #6347 "call for geo index hackers"
pingcap do not have plan for geo index https://github.com/pingcap/tidb/issues/673#issuecomment-251132927,  I am interested in adding this feature to tidb, so Is there anyone else interested or working on this?

[2018-04-23 12:30] XuHuaiyu commented on #6347
@biolee  Thank you for your kind help!

[2018-04-23 12:53] coocood commented on #6347
@biolee
Thank you for willing to help!
But this feature may take hundreds of hours, are you prepared?

[2018-04-23 18:02] Hoverbear opened #6352 "Support `SELECT ... INTO OUTFILE 'foo'`"
### What did you do?

Tried to export a query output to a file:

[code]

### What did you expect to see?

A file created called `test` in the current directory containing `1`.

### What did you see instead?

[code]

### What version of TiDB are you using?

v2.0.0-rc.4-95-gfb8efa

### References

https://dev.mysql.com/doc/refman/8.0/en/select-into.html
https://mariadb.com/kb/en/library/select-into-

[2018-04-24 03:23] LJQBOC opened #6353 "unknown error Other(StringError("Can\'t eval_int from Datum"))"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Using zabbix connecting tidb. When I link template to host, something error.
It is said to be fixed in Release Version: 1.0.0(#4878), but the bug still there.

2. What did you expect to see?
3. What did you see instead?
[code]
see all in
[sql.log](https

[2018-04-24 03:29] XuHuaiyu commented on #6353
@LJQBOC Can you provide us the schema and data to reproduce the problem?

[2018-04-24 04:31] LJQBOC commented on #6353
Thanks for your reply. The schema and data is here
[zabbix_sql.zip](https://github.com/pingcap/tidb/files/1940851/zabbix_sql.zip)
[explain.txt](https://github.com/pingcap/tidb/files/1940854/explain.txt)

We are using Zabbix 3.4.8. Thanks.  @XuHuaiyu

[2018-04-24 04:46] XuHuaiyu commented on #6353
PTAL @winoros

[2018-04-24 05:58] winoros commented on #6353
@LJQBOC Current master branch and release-2.0 branch should have fixed this problem.
You can have a try or wait for GA release.

[2018-04-24 08:39] frwrdt opened #6359 "Could not find or access '/home/tidb/tidb-ansible/resources/bin/fio'""
**1. What did you do?**

ansible-playbook bootstrap.yml

**2. What did you expect to see?**

**3. What did you see instead?**

ERROR MESSAGE SUMMARY ************************************************************************************
[]: Ansible FAILED! => playbook: bootstrap.yml; TASK: machine_benchmark : deploy fio; message: {"changed": false, "msg": "Could not find or access '/home/tidb/tidb-an

[2018-04-24 08:41] XuHuaiyu commented on #6359
@frwrdt Thank you for your reply, we'll take a look.

[2018-04-24 08:44] frwrdt commented on #6359
thank you

[2018-04-24 08:52] XuHuaiyu opened #6360 "behavior of insert -1 into unsigned column is not consistent with MySQL"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-04-24 08:59] XuHuaiyu commented on #6360
Perhaps we can add some check for signed int and unsigned int in `table/column.go: CastValue`,
and strict_sql_mode may also be considered during process.

[2018-04-24 09:05] LinuxGit commented on #6359
You need to run 'ansible-playbook local_prepare.yml' before bootstrap stage.

[2018-04-24 09:15] frwrdt commented on #6359
Cannot connect to the external network, so i download the binary package by myself
and did not run  'ansible-playbook local_prepare.yml'

[2018-04-24 09:21] aesirteam opened #6361 "questions about general_log"
MySQL可以通过设置general_log为“ON”来开启sql记录
TiDB如何记录进入的SQL语句？

原因:
由于将gitlab升级至10.6.4，报错：
Started POST "/projects" for 10.196.230.4 at 2018-04-24 17:05:13 +0800
Processing by ProjectsController#create as HTML
  Parameters: {"utf8"=>"✓", "authenticity_token"=>"[FILTERED]", "project"=>{"ci_cd_only"=>"false", "namespace_id"=>"2", "path"=>"mbh", "description"=>"", "visibility_level"=>"0"}}
Unable to save proj

[2018-04-24 09:25] aesirteam commented on #6361
tidb version： 2.0.0-rc6

[2018-04-24 09:26] frwrdt commented on #6359
because i can not run 'ansible-playbook local_prepare.yml', is there other solutions?

[2018-04-24 09:26] XuHuaiyu commented on #6361
Seems to be a syntax error,
you may check the tidb log and grep `parse error` around 17:05:13.

[2018-04-24 09:38] aesirteam commented on #6361
2018/04/24 16:25:48.232 session.go:809: [warning] [43035] parse error:
line 1 column 9 near " active_record_1" (total length 25)
SAVEPOINT active_record_1
2018/04/24 16:25:48.232 conn.go:481: [warning] [43035] dispatch error:
id:43035, addr:10.196.130.68:44228 status:3, collation:utf8_general_ci, user:root
"SAVEPOINT active_record_1"
line 1 column 9 near " active_record_1" (total length 25)
/home/

[2018-04-24 09:47] shenli commented on #6361
`SAVEPOINT active_record_1`. TiDB does not support savepoint now. @aesirteam

[2018-04-24 10:09] aesirteam commented on #6361
能支持savepoint吗? gitlab源码是这样用的 @shenli

[2018-04-24 10:11] shenli commented on #6361
We could support savepoint syntax in the parser. But we will not support its behaviour.

[2018-04-24 10:17] frwrdt commented on #6359
after i create a directory '/home/tidb/tidb-ansible/resources/bin/fio',
then i run 'ansible-playbook bootstrap.yml' again,
it shows as follows

ERROR MESSAGE SUMMARY ***************************************************************************************************************************************
[]: Ansible FAILED! => playbook: bootstrap.yml; TASK: machine_benchmark : Preflight check - Does f

[2018-04-24 10:20] #6361 closed, assigned to nobody

[2018-04-24 10:23] aesirteam opened #6362 "questions about create view"
使用源码TestView中的语句create view v as select * from t 来创建视图！
tidb.log中无输出，Navicat中的views也没有发现视图

[2018-04-24 10:28] XuHuaiyu commented on #6362
@aesirteam
We do not support view now,
this is on our roadmap in this year.

[2018-04-24 10:34] frwrdt commented on #6359
my disk is not SSD
I add a line ‘machine_benchmark = False’ in tidb-ansible/inventory.ini file
But this is invalid, it still can not skip fio test.
thank you

[2018-04-24 10:37] iamxy commented on #6359
If you just want to try running TiDB cluster on your development environment, you could try docker-compose.

https://github.com/pingcap/docs/blob/master/op-guide/docker-compose.md

[2018-04-24 10:37] aesirteam commented on #6362
Thank's @XuHuaiyu

[2018-04-24 10:37] #6362 closed

[2018-04-25 03:06] frwrdt opened #6373 "The Control Machine must have access to the Internet in order to download TiDB and related packages"
**1. What did you do?**
i do as 'Offline Deployment Using Ansible doc',
and run
'cd tidb-ansible
ansible-playbook local_prepare.yml'
to download TiDB-Ansible and TiDB packages **on the download machine**

while the the download machine have access to the Internet

**2. What did you expect to see?**

**3. What did you see instead?**

ERROR MESSAGE SUMMARY *******************************************

[2018-04-25 04:02] Jacklli opened #6374 "compatability issue with mysql"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
MySQL [(none)]> SELECT  COALESCE(LOWER(CONV(BIT_XOR(CAST(CRC32(CONCAT_WS('#', `id`, `k`, `c`, `pad`)) AS UNSIGNED)), 10, 16)), 0) AS crc FROM `sbtest1`.`sbtest1` FORCE INDEX (`PRIMARY`) WHERE (1=1);

2. What did you expect to see?
MySQL [(none)]> SELECT

[2018-04-25 05:27] lizhenhuan opened #6375 "Lost connection to MySQL server during query error happen when insert"
1. What did you do?
[code]
This sql throw transaction too large , after `@@session.tidb_batch_insert=1;`
`throw   Lost connection to MySQL server during query`

2. What did you expect to see?
`insert success and t_individual_info has all   lifangtong.lift_ps_t_individual_info data`

3. What did you see instead?
mysql client throw an exception:
Lost connection to MySQL server during query

4. What

[2018-04-25 05:31] winoros commented on #6374
@Jacklli Please provide the table schema.

[2018-04-25 05:36] Jacklli commented on #6374
@winoros
create database sbtest1;
use sbtest1;
CREATE TABLE `sbtest1` (
  `id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT,
  `k` int(10) UNSIGNED NOT NULL DEFAULT '0',
  `c` char(120) NOT NULL DEFAULT '',
  `pad` char(60) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `k_1` (`k`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1030001;

[2018-04-25 05:40] winoros commented on #6374
This problem have been fixed in master and release-2.0 branch.

[2018-04-25 05:51] zhexuany commented on #6375
@lizhenhuan

Per error info, it is saying some peer is not leader. This maybe cause by `TiKV`'s com. Could you please check OOM using `dmesg`?

[2018-04-25 09:04] LinuxGit commented on #6373
The download machine need to access to the Internet. Check it by running command `curl --connect-timeout 10 www.baidu.com`.

[2018-04-25 11:06] zimulala opened #6381 "Support “SET NAMES” Syntax"
[code]
https://dev.mysql.com/doc/refman/8.0/en/set-names.html

[2018-04-25 11:16] winkyao commented on #6381
@zimulala Please ref to mysql version 5.7 docs.

[2018-04-25 11:17] zimulala commented on #6381
@winkyao
Sorry.
https://dev.mysql.com/doc/refman/5.7/en/set-names.html

[2018-04-25 11:49] frwrdt commented on #6373
thank you for your reply, it is solved@LinuxGit

[2018-04-25 11:51] #6373 closed

[2018-04-25 12:00] winoros commented on #6353
Open this issue if you still have problem

[2018-04-25 12:00] #6353 closed

[2018-04-25 12:01] winoros commented on #6374
Open this issue if you meet this problem in current master.

[2018-04-25 12:01] #6374 closed

[2018-04-25 14:05] Jacklli commented on #6360
i am new, and try to make PR for TIDB.
i have make a break point at the beginning of function CastValues(table/column.go), but it does not enter this function when insertint '-1' or creating table 't1' as @XuHuaiyu privided.
it seems that it's not useful to change the logic of func CastValue.

[2018-04-26 02:16] XuHuaiyu commented on #6360
@Jacklli
The InsertExec should work like this:
https://github.com/pingcap/tidb/blob/master/executor/write.go#L1276
-->
https://github.com/pingcap/tidb/blob/master/executor/write.go#L1433
-->
https://github.com/pingcap/tidb/blob/master/executor/write.go#L1482

You can use `log.Warning(...)` to trace this.

[2018-04-26 02:54] h1100e commented on #1793
import full text search column error

[2018-04-26 08:53] winkyao opened #6394 "Support alter convert to syntax"
TiDB:
[code]

ref: https://dev.mysql.com/doc/refman/8.0/en/alter-table.html

[2018-04-26 08:56] ngaut opened #6395 "Performance issues of goleveldb"
tidb-server eats lots of CPU inside goleveldb when i am preparing sysbench data

sysbench /usr/local/Cellar/sysbench/1.0.11/share/sysbench/oltp_read_write.lua --mysql-host=127.0.0.1 --mysql-port=4000 --mysql-user=root --mysql-password=""         --mysql-db=test --tables=2 --table-size=1000000         --report-interval=10         --threads=10 --time=0  prepare

Blow is the profile.
➜  go tool pprof

[2018-04-26 09:01] ngaut commented on #6395
[pprof.samples.cpu.004.pb.gz](https://github.com/pingcap/tidb/files/1950450/pprof.samples.cpu.004.pb.gz)

[2018-04-26 09:39] frwrdt opened #6397 "how to change 'grafana_servers' in 'tidb-ansible/inventory.ini' when the cluster is started"
the cluster is started,
i want to cahnge 'grafana_servers' in 'tidb-ansible/inventory.ini'.

How should I do？
thank you!

[2018-04-26 09:44] winoros commented on #1793
@h1100e Full text search is still on the way.

[2018-04-26 09:45] lamxTyler commented on #6397
You can stop the cluster, change the `inventory.ini`, then deploy and start the cluster. @frwrdt

[2018-04-26 09:46] winoros commented on #6395
Seems that testing with mock-tikv instead of tikv?

[2018-04-26 09:51] frwrdt commented on #6397
‘ansible-playbook bootstrap.yml’ is not needed?

[2018-04-26 10:11] winkyao opened #6398 "Support modify column to enum types."
TiDB :
[code]

reports `Error 1105: unsupported modify column modify enum column is not supported`

[2018-04-26 10:48] lamxTyler commented on #6397
I think it is not needed. @frwrdt

[2018-04-26 10:56] #6375 closed

[2018-04-26 10:56] #6359 closed

[2018-04-26 11:10] winkyao opened #6400 "Support alter table force"
[code]

[2018-04-26 11:13] winkyao opened #6401 "Support "ALTER TABLE ti1 AUTO_INCREMENT 3""
[code]

report `line 1 column 32 near ";" (total length 33)`

[2018-04-26 11:31] frwrdt commented on #6397
@lamxTyler  thank you

[2018-04-26 16:09] spongedu commented on #6381
@winkyao @zimulala  It seems that `SET NAMES` Syntax is already supported. The missing part is the `DEFAULT` option.

[2018-04-27 01:59] winkyao opened #6405 "Support alter table rename key."
[code]
reports `line 1 column 25 near " a to b;" (total length 33)`

[2018-04-27 02:05] frwrdt opened #6406 "Timeout when waiting for search string 200 OK in :2379"
1. What did you do?

i run '**ansible-playbook start.yml**'

2. What did you expect to see?

3. What did you see instead?

ERROR MESSAGE SUMMARY ********************************************************************
[     ]: Ansible FAILED! => playbook: start.yml; TASK: wait for PD up; message: {"changed": false, "elapsed": 300, "msg": "Timeout when waiting for search string 200 OK in        **:2379

[2018-04-27 02:06] winkyao commented on #6406
@liubo0127 PTAL

[2018-04-27 03:53] frwrdt commented on #6406
the message in '{{deploy_dir}}/log/pd.log' on the pd node is

2018/04/27 11:51:21.735 log.go:82: [warning] etcdserver: [could not get cluster response from http://172.18.173.22:2380: Get http://x.x.x.x:2380/members: dial tcp x.x.x.x:2380: connect: connection refused]
2018/04/27 11:51:21.735 etcdutil.go:65: [error] could not retrieve cluster information from the given urls

[2018-04-27 04:04] Lee-Think opened #6408 "Some questions about the kafka binlog"
Hi, there are some questions about binlog and kafka:
1.I used the local binlog before, and I found if the pump file expired, then start up drainer there will be something wrong. Now I use the kafka binlog, will it also has the same problem of message expire?

2.The kafka topic about pump only has 1 replica, will the corresponding binlog lost if the broker which retains this replica crashes?

3.If

[2018-04-27 04:13] iamxy commented on #6406
Hi frwrdt,

1. Please check whether the IP address of PD in your inventory is correct, make sure it's a subnet IP.
2. Check if firewall policy restricts 2379.
3. Check the pd-server on the target machine is running properly, if the process exists, please provide its log.

[2018-04-27 06:06] GregoryIan commented on #6408
1. maybe, but I don't think it's a problem. Because  a single node has limited storage capacity, it's more common to meet local binlog expired than Kafka, and u can control Kafka topic GC yourself.
2. In fact one pump writes one topic(one partition). u can set `default.replication.factor` and `min.insync.replicas` of Kafka broker to get HA and consistency

[2018-04-27 06:37] frwrdt commented on #6406
actually, there are three PDs,
only one PD is started,
the other two PDs are not started, and it shows

ERROR MESSAGE SUMMARY ********************************************************************
[ ]: Ansible FAILED! => playbook: start.yml; TASK: wait for PD up; message: {"changed": false, "elapsed": 300, "msg": "Timeout when waiting for search string 200 OK in :2379"}
[ ]: Ansible FAILED! => playb

[2018-04-27 07:26] frwrdt commented on #6406
@iamxy  it is solved, thank you

[2018-04-27 07:43] qazbnm456 commented on #3635
I see https://github.com/pingcap/tidb/pull/5984 add the `_tidb_rowid` for tables without primary key or unique key, which makes it easier to debug and replicate by binlog.

Would it be possible to implement the `_rowid` mentioned in this thread by the same concept?

[2018-04-27 11:26] #6406 closed

[2018-04-27 11:27] #6397 closed

[2018-04-27 11:30] lamxTyler commented on #3635
PTAL @coocood

[2018-04-27 11:33] #6310 closed

[2018-04-27 11:34] #6330 closed

[2018-04-27 11:36] #6282 closed

[2018-04-27 11:36] #6279 closed

[2018-04-27 11:37] #6271 closed

[2018-04-27 11:38] #6250 closed

[2018-04-27 15:48] spongedu commented on #6394
@winkyao  It seems that there's nothing done when change `character set` or `collation` when alter table in TiDB.

the related `TableOption` are ignored in function `AlterTable` in ddl/ddl_api.go.

For example:
In MySQL
[code]

In TiDB:
[code]

[2018-04-28 01:52] coocood commented on #3635
@qazbnm456
This is not the same concept,  `_rowid` is only used as an alias for integer primary key.
`_tidb_rowid` is only used when there is no integer primary key.

[2018-04-28 03:29] #6401 closed

[2018-04-28 03:30] Lee-Think opened #6420 "Kafka binlog error"
Hi, I try to use kafka binlog according to the guide, but when drainer has started, there are some errors in it's log as follow:
2018/04/28 11:22:51 version.go:18: [info] Git Commit Hash: 7816684370de5d7e18faa19957f8ded02769c4cc
2018/04/28 11:22:51 version.go:19: [info] Build TS: 2018-04-26 03:12:50
2018/04/28 11:22:51 version.go:20: [info] Go Version: go1.10
2018/04/28 11:22:51 version.go:21: [in

[2018-04-28 03:49] #6408 closed

[2018-04-28 04:43] TalkIsCheapGiveMeMoney opened #6422 "Failed when rolling update"
滚动升级 由2.0.0-rc4 升到2.0GA报错
配置信息和错误日志在附件
[ansible.log](https://github.com/pingcap/tidb/files/1957285/ansible.log)
[inventory.txt](https://github.com/pingcap/tidb/files/1957288/inventory.txt)

[2018-04-28 07:15] TalkIsCheapGiveMeMoney opened #6423 "Deploy 2.0GA failed"
[192.168.32.136]: Ansible FAILED! => playbook: bootstrap.yml; TASK: check_system_optional : Preflight check - Check TiDB server's CPU; message: {"changed": false, "msg": "This machine does not have sufficient CPU to run TiDB, at least 8 cores."}
这个 8这个参数可以修改么

[2018-04-28 08:19] XuHuaiyu opened #6424 "inconsistent behavior with MySQL when insert into time col"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-04-28 08:39] lamxTyler commented on #6423
You can change the `dev_mode` in `group_vars/all.yml` to `True` to skip the check or you can change the `tidb_min_cpu` in `roles/check_system_optional/defaults/main.yml`.

[2018-04-28 08:40] lamxTyler commented on #6420
PTAL @GregoryIan

[2018-04-28 08:47] XuHuaiyu opened #6425 "inconsistent create table behavior when set timestamp col default value to 0"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2018-04-28 09:01] GregoryIan commented on #6420
thanks!  it's a corner bug in tidb-binlog, we would fix it.  u can remove data-dir and retry

[2018-04-28 09:40] Lee-Think commented on #6420
Ok, I removed the dir, then it works.Thank you.
I used generate_binlog_position tool to generate the savepoint before, so there are these errors happened. And I found the generated savepoint's filename is "savePoint"(note in there, "P" is uppercase), but the correct filename should be "savepoint". I guess this different of case is the reason of those errors.

[2018-04-28 09:46] ngaut commented on #6395
Yes, I used mock-tikv engine, this is not a high priority issue. Take your time.

[2018-04-28 11:08] #6422 closed

[2018-04-28 11:08] #6394 closed

[2018-04-28 11:12] WangXiangUSTC commented on #6239
do you remove some file by yourself?

[2018-05-01 02:58] cnwarden opened #6430 "Does Tidb support 'CREATE EVENT'"
I want to create a event scheduler job, but failed when using `create event`, does tidb support `create event`?

[2018-05-01 04:47] ngaut commented on #6430
TiDB does not support "create event".

[2018-05-01 12:50] #6430 closed

[2018-05-01 12:51] #6420 closed

[2018-05-01 14:42] ddorian commented on #1793
Does it make sense to support this ? Since when you go lots of distributed data, you may want to use a specialized tool like solr,elasticsearch etc ?

[2018-05-01 15:06] iamjohnnyzhuang opened #6431 "What’s the fastest method to load data to tidb?"
您好：
我们有一个程序会从Kafka获取大量的数据然后写入数据库，然后前端程序会定时从数据库查询。
为了保证前端程序查询的实时性需要数据库能达到一定的吞吐量。

上周分别尝试了BATCH INSERT的方式以及LOAD DATA INFILE的方式，发现后者的效率更高。
三台TIKV服务器，一台TIDB/PD服务器。采用LOAD DATA INFILE的方式可以达到6w record/s的吞吐量。请问对于TIDB这是最好的、最快的数据插入方式吗？
如果只是写入性能想要往上提升，只需要扩容TIKV就可以吗？还是TIDB数量也得上去？

非常感谢！

---

(Automated translation)

Hello:
We have a program that gets a lot of data from Kafka and writes it to the database. Th

[2018-05-01 15:14] shenli commented on #1793
Solr or elastic-search would be a better choice.
Full-text search is on our roadmap. This could make it more convenient for accessing your data in TiDB in a different way. But it is not a high priority feature.

[2018-05-02 02:48] Lee-Think commented on #6239
No, it should have been removed by pump

[2018-05-02 02:57] lamxTyler commented on #6431
Yes, `load data infile` could be better than `insert` because it does not need SQL parsing or some other thing.
You can also get better performance if you add more tidb as indicated by our [bench result](https://github.com/pingcap/docs-cn/blob/master/benchmark/sysbench.md#%E5%9C%BA%E6%99%AF%E4%BA%8Ctidb-%E6%B0%B4%E5%B9%B3%E6%89%A9%E5%B1%95%E8%83%BD%E5%8A%9B%E6%B5%8B%E8%AF%95).
Also, you can refer

[2018-05-02 03:08] Lyle-liang opened #6434 "WriteConflict when using Sqoop to export data from hdfs to tidb"
Please answer the question, thanks!

1. sqoop export --connect 'jdbc:mysql://host:4000/db' --username 'root' --table testTable --export-dir 'hdfs://test/' --input-fields-terminated-by '\001' --lines-terminated-by '\n' --input-null-string '\\N' --input-null-non-string '\\N' --update-mode allowinsert --update-key id -m 3

2. error log
![image](https://user-images.githubusercontent.com/14850448/39503