[2019-03-15 07:39] #9591 closed

[2019-03-15 07:42] lamxTyler commented on #9498
@morgo You could try the latest master. It is already fixed.

[2019-03-15 07:47] leshalv opened #9749 "syncer 使用 Prometheus ，当一个syncer 异常退出后，并没有触动Alerts"
![image](https://user-images.githubusercontent.com/30397655/54416123-65e93100-4739-11e9-9bf0-9fed21a9f834.png)
![image](https://user-images.githubusercontent.com/30397655/54416189-a9dc3600-4739-11e9-8bb3-753a3b3fa2c2.png)

[2019-03-15 08:07] #9499 closed

[2019-03-15 08:41] lamxTyler commented on #6834
@anjieych You could try the latest master for window function. Feel free to reopen this issue.

[2019-03-15 08:41] #6834 closed

[2019-03-15 08:45] eurekaka commented on #9749
@GregoryIan PTAL

[2019-03-15 08:56] eurekaka commented on #9745
@leshalv Please follow the issue template to describe the problem with more details.

[2019-03-15 10:28] romber2001 commented on #2220
i got the same error, and when i run make parser command, it shows error:
remove this command later, when our CI script doesn't call it

what do i suppose to do ?

[2019-03-15 13:51] morgo commented on #9498
Thanks!  confirming that it is fixed.

[2019-03-15 13:51] #9498 closed

[2019-03-15 18:37] wjhuang2016 commented on #9736
What version of Mysql are you using?
My Mysql version is 8.0.15, and in this version I get

[code]

I think the new verison makes sense, since month should not be negetive

Here is the logic I found in the source code of Mysql 8.0.15

[code]

and

[code]

It seems that we have many things to do to be compatible with the newest Mysql.

[2019-03-15 20:03] kolbe commented on #2742
@winkmichael we haven't heard anything from you on this issue in a long time, and we're unable to reproduce it without some more information, so I'm going to close it now. If you run into anything like this again, please open up a new issue and we'll be happy to take a look!

[2019-03-15 20:03] #2742 closed

[2019-03-17 01:15] morgo commented on #1895
I stumbled across [`ADMIN CHECKSUM TABLE`](https://github.com/pingcap/tidb/pull/6067) by accident today.  It looks like this is used by lightning.  The output format is not `CHECKSUM TABLE` compatible though:

[code]

The current workaround to compare data between TiDB and MySQL data sources is to use `md5sum` on a result ordered by primary key.  For example:
[code]

I will leave this request open

[2019-03-17 02:58] baiwfg2 commented on #6811
However, I can get metrics from localhost:20180/metrics on tikv server, which means if I start a prometheus server on the same host as tikve, I can get its metrics from /metrics. Why is that ?

[2019-03-17 03:30] zhouqiang-cl opened #9755 "test sync"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-03-17 03:32] #9755 closed

[2019-03-17 07:10] breeswish commented on #6811
@baiwfg2 This is our new feature added to TiKV recently, supporting pulling metrics in the same way as TiDB does.

[2019-03-17 08:03] wjhuang2016 opened #9756 "Is `(-inf` or `+inf)` a good choice instead of ``[-inf` or `+inf]`` to express range info?"
When excute `desc select * from t;`
We get
[code]

The range info here is `[-inf,+inf]`, according to #9231 and #8588, we can improve it as `[NULL,+inf)` or `(NULL,+inf)` when `explain select * from t use index(idx) where a is not null;`

It seems that `(-inf` or `+inf)` is more reasonable than `[-inf` or `+inf]`.
Should we use `(-inf` or `+inf)` even the scan is not a full range scan?

[2019-03-17 12:28] winkyao commented on #6395
This is a known issue, @ngaut, goleveldb use skiplist to implemnt the kv storage. It uses two buffer mainly, one call kvdata, which is used to store key-value, and other is used to store meta data. the kv data array is pre-allocated, but metadata is not. Also, I found the FindGE costs too many cpu in the frame graph.

Maybe we need to find a replacement, or we implement a new memdb?

[2019-03-17 12:51] ngaut commented on #6395
There is a better implementation, see https://github.com/coocood/badger/blob/master/skl/skl.go#L127

[2019-03-18 00:18] #9745 closed

[2019-03-18 02:47] eurekaka commented on #9756
From the code perspective, `NULL` is "less" than `-inf`, if we adjust the display like your suggestion, when the range is full range with NULL, it would be like `[NULL, +inf)`, and this implies that `-inf` is included in the range, which is inconsistent with the implication of `(-inf, +inf)`?

[2019-03-18 02:52] Wythetells commented on #9744
I have solved this problem!

Although iptables-save can see the interface that is released, when I test with telnet 10.92.6.86 10080, the port does not pass.
I tried to restart iptables, restart the server, and did not recover.
Later I refer to this link, reset the iptables rules, iptables returned to normal! Now the newly added node is working fine!

Thinks！Please close this case！

[2019-03-18 02:57] erjiaqing opened #9757 "view: `Can't find any matching row in the user table` on grant"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

`grant select on test.v1 to user@localhost;` success with no error.

3. What did you see instead?

`[42000][1133] Can't find any matching row in the user table`

3'. Stack trace:

[code]

4. What ve

[2019-03-18 02:59] wjhuang2016 commented on #9741
I'm working on this feature, and I have a question that whether we need to consider utf-8 in password?

[2019-03-18 03:04] morgo commented on #9741
@wjhuang2016 great question! We should check how MySQL 8.0 behaves, and if rules like `validate_password_length` are based on byte or character count.

[2019-03-18 03:13] erjiaqing commented on #9757
I forget to create user.

[2019-03-18 03:13] #9757 closed

[2019-03-18 03:15] wjhuang2016 commented on #9756
I got it. So we should use `[NULL,+inf]` to express a full range scan with NULL and `(NULL,+inf]` to express a full range scan without NULL?

[2019-03-18 03:24] qw4990 commented on #9736
@wjhuang2016 My MySQL version is `5.7.25`, and I reproduce your error in `8.0.12`.

[code]

[code]

@morgo Could you please give us some suggestion about this function?

[2019-03-18 03:32] eurekaka commented on #9756
I prefer `[NULL, +inf]` for full range, while `[-inf, +inf]` for full range without null. @zz-jason @winoros what's your opinions?

[2019-03-18 04:20] vkingnew opened #9760 "data type VARCHAR is not compatible for mysql 5.7 when store Chinese character"
# MySQL

[code]

#  TiDB:

[code]

# conclusion：

[2019-03-18 04:46] vkingnew commented on #9760
which version could be fixed this bug and when release ?

[2019-03-18 04:54] morgo commented on #9760
To summarize this problem, in MySQL the _n_ in `varchar(n)` is the maximum number of characters.  So `varchar(255)` could take up to 255*4 bytes in utf8mb4.  In TiDB, the _n_ is the maximum number of bytes.

I believe the SQL standard refers to _n_ being characters as well.  We should at least document this compatibility difference for now.

[2019-03-18 05:07] wjhuang2016 commented on #9741
I tested with Mysql 8.0 and found that we need to consider utf-8.
1. validate_password_length bases on character count.  The length of `你好` would be 2.
2. I'm not sure how upper、 lower or special is count.
In `select VALIDATE_PASSWORD_STRENGTH("你好13579A_");` the result is 100.
It means that the password contains a lower character.

[2019-03-18 05:10] #9744 closed

[2019-03-18 05:23] winoros commented on #9756
Another case is that the `inf` of some numeric type is an actual number not an unbounded limit.
For bigint type, `+inf` is 2^63-1 for signed. `+inf]` is the same with `2^63-1]` and `+inf)` is the same with `2^63-1)`. There're some reasons that we cannot treat the `+inf` of some numeric type as an unbounded limit for now. So to not annoy our users, i prefer use `[]` for all types.

[2019-03-18 05:26] eurekaka commented on #9760
@jackysp PTAL

[2019-03-18 06:03] vkingnew commented on #9760
varchar(N) in MySQL is not SQL standard,just MySQL dialect.when migrate from MySQL to TiDB,we have to change many columns if not compatile for mysql.  @morgo @jackysp

[2019-03-18 06:31] qw4990 opened #9762 "Parsing `datetime` when insert is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 06:44] qw4990 opened #9763 "Null `datetime` is not compatible with MySQL"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In MySQL
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

## SIG slack chan

[2019-03-18 06:59] qw4990 opened #9764 "Wrong `DATE/DATETIME` comparison in `BETWEEN` function"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 07:03] qw4990 opened #9765 "`LEAST` and `GREATEST` are not compatible with Mysql"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

## SIG slack chan

[2019-03-18 07:11] erjiaqing opened #9766 "Grant column privilege is not supported."
## Feature Request

[code]

**Describe the feature you'd like:**

Supported column privilege control.

**Teachability, Documentation, Adoption, Migration Strategy:**

https://dev.mysql.com/doc/refman/8.0/en/grant.html#grant-column-privileges

[2019-03-18 07:22] qw4990 opened #9767 "Handling invalid `YEAR` string is not compatible with Mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 07:39] qw4990 opened #9769 "Cast `date` error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 07:53] qw4990 opened #9770 "Converting `decimal` to `datetime` or `timestamp` when insert is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In MySQL
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 08:52] pcleon opened #9772 "-skip-grant-table=true not work"
want to test forgot password situation, from the faq i should
`Restart the TiDB service, add the -skip-grant-table=true parameter in the configuration file.`
but i make "skip-grant-table=true" in tidb.toml or "-skip-grant-table=true" in command line then restart tidb-server , it still needs i entering my password.
then i add "skip-grant-table=true" in tidb.toml then stop pd-server,tikv-server,tidb

[2019-03-18 09:00] zz-jason commented on #9766
@tiancaiamao PTAL

[2019-03-18 09:09] thinker0 commented on #5166
any update on this issue ?

[2019-03-18 09:11] eurekaka commented on #9772
@tiancaiamao PTAL

[2019-03-18 09:14] qw4990 opened #9773 "`str_to_date` is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 09:21] qw4990 opened #9774 "`TIME_FORMAT` is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 09:35] ngaut commented on #9720
Reference:https://github.com/pingcap/errors/pull/12

[2019-03-18 09:38] qw4990 opened #9775 "`set time_zone` is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 09:43] qw4990 opened #9776 "`convert_tz` is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In Mysql
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-18 09:59] winoros opened #9777 "Window function panicked when range bound is time type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

Execute successfully.

3. What did you see instead?

Panicked.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-03-18 10:18] #9720 closed

[2019-03-18 10:44] YuanDdQiao opened #9778 "support `skip-name-resolve`"
我sqlyog 客户端，隔短时间不操作后，客户端就需要重新连接，
等待时间比较长后才能正常使用。

[2019-03-18 11:28] lamxTyler commented on #9777
It seems that there is something wrong with date_add.
In mysql:
[code]
While in TiDB:
[code]

[2019-03-18 12:06] eurekaka commented on #9778
Please provide the following information:
- TiDB version by using:
[code]

- the output of the following command:
[code]

- TiDB log when you observe the phenomenon you described.

[2019-03-18 12:13] erjiaqing opened #9781 "ERROR 1105 (HY000): privilege check fail (with GRANT OPTION set)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

user `root`:
[code]

user `test_test_u1`

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

`Server version: 5.7.25-TiDB-v3.0.0-beta-231-g20463d6da-dirty`

[2019-03-18 13:01] qw4990 commented on #9710
I'm working on this issue.

[2019-03-18 13:26] tiancaiamao commented on #9772
Are you deploy the TiDB cluster using the [tidb-ansible](https://github.com/pingcap/tidb-ansible)?
If so, you need to update this file https://github.com/pingcap/tidb-ansible/blob/master/conf/tidb.yml (find it in the deploy directory), because tidb.toml is generated by this one and overwrite every time.

Or, you may still update the tidb.toml file: kill the tidb-server process manually (do not use

[2019-03-18 13:30] morgo commented on #9781
Here is a minimal test-case:
[code]

In MySQL the last statement will pass.  In TiDB it fails.

[2019-03-18 13:33] morgo commented on #9781
/cc @tiancaiamao

[2019-03-18 14:05] ngaut opened #9784 "Optimize the convertColumnInfo function"
This function can be more faster if we use the go idiom and by avoiding lookup from a map mysql.CharsetIDs

[code]

[2019-03-18 14:20] jackysp commented on #9760
Hi @vkingnew , it is already fixed on the master branch, we'll release 3.0-beta.2 this week, which could include this bug fix.

[2019-03-18 15:47] TennyZhuang commented on #9699
Hi, I think that binary search is much more faster than any implementations now, and more stable for integers in any range. For any Uint64, we only need exactly 4 or 5 compare operation to get the size.

I write the code and benchmark it with version A (`FormatUint` now), version B(#9726) and version C(Binary search), and version C is much faster than A and B.

Here is my benchmark code, https://p

[2019-03-18 16:00] liufuyang commented on #9699
@TennyZhuang I am not 100% sure but I guess in real cases the input is a distribution might be heavily skewed on small values. With this assumption the binary search might not be the fastest method 🤔

[2019-03-18 16:12] TennyZhuang commented on #9699
@liufuyang I think that stable is more important.
And for skewed small values, /=10 directly is still a good solution, we can use some strategies to reduce the cost for large value, like fast run (x/=10000, cnt+=4), etc. Then we don't need 20 compare operations for large value.

[2019-03-18 18:47] kolbe commented on #3658
The root of this issue seems to be that TiDB interprets `FULLTEXT KEY` on a `TEXT` column as a normal KEY (i.e. it basically just ignores the FULLTEXT keyword). This behavior causes a very confusing error message related to key prefixes on BLOB/TEXT columns.

A better behavior would be to ignore FULLTEXT KEYs entirely, and perhaps issue a warning that they are not supported by TiDB.

[2019-03-19 01:48] pcleon commented on #9772
i deploy the cluster by binary package without ansible playbook , every step is hand by hand . so the tidb.toml can't be changed by ansible .

[2019-03-19 01:50] morgo commented on #9766
This is documented under compatibility already: https://www.pingcap.com/docs/sql/mysql-compatibility/

Note that column level privileges pre-dated views in MySQL (which are usually a better way of handling this).  I don't think this is a high priority feature, but it might be useful for compatibility.

[2019-03-19 02:06] erjiaqing opened #9788 "View should record database name when create."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

[code]

2. What did you expect to see?

No error.

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

It seems that we does not resolve

[2019-03-19 02:25] ngaut commented on #9699
Usually, the value is less than 64k, so we can just iterator the array instead of binary search. And most of value may less than 512. @TennyZhuang

[2019-03-19 02:42] TennyZhuang commented on #9699
For 512，we need 3 compare operation in iterator, and we need only 4 compare
operation in binary search. I don’t think it’s worth to lost the stable
performance.

We can do some optimization for small value and keep stable performance is
use skewed pivot in binary search, which result that:
for smaller value(Len <= 8), we need 4 comparation, for bigger value(Len

goroutine <notifications@github.com

[2019-03-19 03:02] vkingnew commented on #9760
this bug will be fixed in TiDB 2.1 branch？

[2019-03-19 03:07] jackysp commented on #9760
Please confirm it @winkyao .

In this June.

[2019-03-19 03:22] lysu opened #9793 "can not set variable in update statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-03-19 03:23] lysu commented on #9793
if tidb support this, we can something like postgresql's `update returning`

[2019-03-19 04:18] YuanDdQiao commented on #9778
1. TiDB version by using:

Release Version: v3.0.0-beta-215-gb76b2da8f
Git Commit Hash: b76b2da8f626076a42ad2db2ea3677e4395fcb7c
Git Branch: master
UTC Build Time: 2019-03-14 05:06:03
GoVersion: go version go1.12 linux/amd64
Race Enabled: false
TiKV Min Version: 2.1.0-alpha.1-ff3dd160846b7d1aed9079c389fc188f7f5ea13e
Check Table Before Drop: false

2. the output of the following command:
Variable_n

[2019-03-19 04:22] ngaut commented on #9699
Good idea. Could you file a PR?

[2019-03-19 04:41] erjiaqing opened #9796 "Create view with INSERT only privilege behaves different with MySQL 8.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

root:
[code]
test_u1:
[code]

2. What did you expect to see?

No error. MySQL throws error when execute `select * from v2`.

3. What did you see instead?

`ERROR 1142 (42000): SELECT command denied to user '127.0.0.1'@'test_u1' for table

[2019-03-19 05:00] erjiaqing opened #9797 "Privilege bypass in view"
## Bug Report

If Alice create a view `V` on table `T` and
Bob has all privilege on view `V`, but Insert only privilege on table `T`.
Then Bob can do `SELECT * FROM V`;

We should check if Bob can access table `T` before.

1. What did you do?
If possible, provide a recipe for reproducing the error.

After https://github.com/pingcap/tidb/issues/9796

If I create the view with root privilege:

[code

[2019-03-19 05:04] eurekaka commented on #9778
The variables look reasonable, how long was your client being in idle state before observing this phenomenon? @tiancaiamao Do you have any idea?

[2019-03-19 05:09] erjiaqing opened #9798 "Bugs / compatibility issues of view"
- We can create view if we can create view in some place.
- [ ] https://github.com/pingcap/tidb/issues/9796
- However, we should have privileges both on view and underlying tables when select
- [ ] https://github.com/pingcap/tidb/issues/9797
- Column name should be expanded when creating the view.
- [ ] https://github.com/pingcap/tidb/issues/9788

[2019-03-19 07:11] leshalv commented on #9687
Syncer 工具存在问题，我有xxx 和xxxcs 两个库，我使用pattern-schema = "xxx" 只想导入xxx库，但是我发现他进行了匹配操作，其中xxxcs库中有个表没有一个表，它给我报了错，这样就让我解开了一个疑惑，为什么我另一个同步两边数据不匹配，我想这是个bug

[2019-03-19 07:25] winoros opened #9799 "Window function doesn't resolve the type prepared arg correctly"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

execute successfully.

3. What did you see instead?

Error happened. It seems that NTILE treat the paramMarker as string instead of int.

4. What version of TiDB are you using (`tidb-

[2019-03-19 07:39] #9722 closed

[2019-03-19 08:00] #9797 closed

[2019-03-19 08:26] erjiaqing commented on #9796
I think the expected behavior is throw the error, and in MySQL document:

(via https://dev.mysql.com/doc/refman/8.0/en/create-view.html)

But in a clean install of MySQL 8.0:

![](https://user-images.githubusercontent.com/5517838/54590622-78c67300-4a63-11e9-9c48-adf3c34eca0b.png)

I believe this should be an bug of MySQL, so should we follow the bug or not?

@morgo @kolbe PTAL.

[2019-03-19 08:32] kennytm opened #9804 "Hex literal is not checked against integer overflow on INSERT"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Reports an error like

[code]

3. What did you see instead?

The INSERT statement completed successfully. The table indeed contained the value 153.

[code]

You could insert even larger values up to

[2019-03-19 08:39] erjiaqing commented on #9796
I noticed that the document used "some privilege", does it mean that having "SELECT" or some other privileges on that db/table/column is enough for creating the view?

[2019-03-19 08:47] qw4990 opened #9805 "Panic when `explain analyze ...`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
The TiDB execution plan.

3. What did you see instead?
[code]
And
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-19 08:55] winoros opened #9806 "Window function's output order is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

execute successfully.

3. What did you see instead?

panicked

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-03-19 08:56] winoros commented on #9806
After some investigation, when reading Int value, the column reached to places where stores Char.

[2019-03-19 09:06] liufuyang commented on #9699
@TennyZhuang I just made a small change (add two simple if condition) like this to reduce some comparison time. It seems working pretty well and the benchmark result got reduced as well. I think it would probably work well in real case as a number is between 0 to 9999999 the comparison time is around 3 to 5 times and no more than that. Also the code looks quite simpler.
[code]

[2019-03-19 09:10] tshqin opened #9807 "compatibility: “show full columns” prints wrong Collation for date, datatime, timestamp columns"
[code]
TiDB shows a different collation value ("binary") than mysql(null), this is not a big deal in most cases. It's reported that a CDC software called "Attunity" check the "collation" output of "show full columns" of the tables that managed by itself.
the tool can't pass the db usability check ,pls take a look.

MySQL 5.7.20

TiDB 2.1.6:

[2019-03-19 09:25] winoros commented on #9699
For unsigned ones. Golang has implement `bits.LenXX()` which has a good performance in my memory.

[2019-03-19 09:47] TennyZhuang commented on #9699
bits.LenXX is binary length, not the decimal length

Yiding Cui <notifications@github.com>于2019年3月19日 周二17:27写道：

[2019-03-19 10:29] amyangfei opened #9808 "Support explain on replace/insert statement"
## Feature Request

**Is your feature request related to a problem? Please describe:**
`explain` for `insert` or `replace` statement returns `ERROR 1105 (HY000): Unsupported type *core.Insert` now

**Describe the feature you'd like:**

we can get right `execute plan` for `insert` and `replace` statement.

**Describe alternatives you've considered:**

I don't know whether run explain on `insert` or

[2019-03-19 10:40] shenli commented on #9808
@amyangfei It is not a bug. This should be a feature request.

[2019-03-19 10:48] YuanDdQiao commented on #9778
usually，mabe 5-10min
but on docker, it's not exists this question.

[2019-03-19 11:04] amyangfei commented on #9808
ok, I have changed the issue content

[2019-03-19 11:25] vkingnew commented on #9760
@winkyao

[2019-03-19 14:19] AndreMouche opened #9811 "BuiltinFunc: bug exist in function AddDateAndDuration"
## Description
## Bug Report

In the implementation of
 `builtinAddDateAndDurationSig`, TiDB eval duration from the first argument, which should eval DateTime instead.

The source file
https://github.com/pingcap/tidb/blob/master/expression/builtin_time.go#L4315

[code]

## SIG slack channel
[#sig-exec](https://tidbcommunity.slack.com/archives/CMRD79DRR)

## Score
- 300

## Mentor
 * @SunRunAway

[2019-03-19 15:14] TennyZhuang commented on #9699
@liufuyang Why binary is faster in 0 to 64000, or even in 0-512 in my test...

[code]

Test result for `rand.Uint64() % 512`

[2019-03-19 15:19] TennyZhuang commented on #9699
@liufuyang I don't think the complexity of code is important in this function, because it's never need to be  modified again (If needed, just rewrite it).
And in the fact, binary search also can be written in 3-4 line codes and I really know how to implement it, but because Golang has no promise to do loop expansion optimization, and has no macro support, I expand it manually for extreme best perf

[2019-03-19 16:17] liufuyang commented on #9699
@TennyZhuang Sounds cool 😃Do you want to open a PR or you want to use this PR?

If you open a PR, feel free to use/sherry-pick some of my commits here (or you can make a PR to merge into my branch as well, if it is helpful or simpler in anyway. I added a few more tests here, they might be useful.)

[2019-03-19 16:20] winoros opened #9813 "date_add/date_sub can return `mysql.Time`."
## Bug Report

Although in MySQL's docs:
[code]

But in its actual implementation:
[code]
The return type can also be `Time`, which is `Duration` in TiDB.

So currently if the arg[0] is `Duration` we'll get the result with the year, month and day field. Which is not a reasonable return value.
We need to cover this unexpected case.

[2019-03-19 16:26] TennyZhuang commented on #9699
@liufuyang I can make some change on your PR if I can get the permission~
Maybe at the weekend

[2019-03-19 16:34] winoros commented on #9777
wait #9813

[2019-03-19 17:17] wjhuang2016 commented on #9793
I can't reproduce your result.
Here's my result:
[code]

[2019-03-19 17:18] liufuyang commented on #9699
@TennyZhuang Thanks. I think it might be cumbersome to give permissions to others to commit onto it 🤔 But I think you can use your fork, add my fork to your git remote, make a branch out of my branch, then to open PR onto my repo, then I can merge your change into my current PR. Let me know whether it works :)

[2019-03-19 17:54] thinktainer commented on #7884
Yep, all good, thank you!

[2019-03-19 17:54] liufuyang commented on #9699
@TennyZhuang I slightly changed the code like [this](https://github.com/pingcap/tidb/pull/9726/commits/2a273d21b45cecde4f0fefc990c98aa9088a4882) And the result for range 0 to 64000 is faster than the current binary search code.
[code]

But I guess if you further change your binary search to optimise for 0 to 64000 range you can get it faster. Then we have to see how others think about the code com

[2019-03-19 20:10] morgo opened #9815 "ALTER VIEW not supported"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-03-19 20:11] morgo commented on #9815
@AndrewDi are you interested in working on this? :-)

[2019-03-20 01:30] xqwbx163 opened #9816 "can't drop view"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

drop view p_1a_info;

2. What did you expect to see?

drop success

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

version:5.7.10-TiDB-v3.0.0-beta-27-g63987

[2019-03-20 02:20] erjiaqing commented on #9816
Can you provide your database schema, and full command to reproduce the error?

I cannot reproduce this issue on the same version.

[2019-03-20 02:48] eurekaka commented on #9778
@tiancaiamao PTAL

[2019-03-20 03:04] tiancaiamao commented on #9772
[code]

Is your tidb.toml file looks like this? @pcleon

[2019-03-20 03:10] lysu commented on #9793
emm... I can not reproduce it too, today...:dizzy_face:

maybe lasday I am in a special branch, thanks @wjhuang2016

[2019-03-20 03:10] #9793 closed

[2019-03-20 03:12] pcleon commented on #9772
no, i don't know it must be in security section, so i make it under global config section in the first line .
i change it to security section and it works ! thank you ~~

[2019-03-20 03:12] #9772 closed

[2019-03-20 03:23] tiancaiamao commented on #9772
FAQ say nothing about `skip-grant-table` because we hope our user never use it.

[2019-03-20 03:24] WangXiangUSTC commented on #9173
already cherry pick this fix in v2.1.6, you can download from  https://download.pingcap.org/tidb-v2.1.6-linux-amd64.tar.gz

[2019-03-20 03:24] #9173 closed

[2019-03-20 03:26] erjiaqing commented on #9811
To trigger this function, you should call:
`SELECT ADDTIME(DATE("2019-01-01"), TIMEDIFF("1:0:0", "2:0:0"));`

However, tidb produces same result as MySQL 8 for the SQL above. Both returns `-01:00:00`.

[2019-03-20 03:34] leshalv commented on #9749
还没结果吗？

[2019-03-20 03:35] leshalv opened #9818 "Syncer 同步问题"
Syncer 工具存在问题，我有xxx 和xxxcs 两个库，我使用pattern-schema = "xxx" 只想导入xxx库，但是我发现他进行了匹配操作，其中xxxcs库中缺少一个xxx中的表，它给我报了错，我才发现问题，这样就让我解开了一个疑惑，为什么我另一个同步两边数据不匹配，我想这是个bug，因为我并没有使用匹配规则！

[2019-03-20 03:51] ke-pan commented on #9811
Hi, I'd like to give a try. 💪

[2019-03-20 04:14] daikon12 commented on #9623
请问这个问题 需要等到3.0才会修复吗？现在猜到beta版 ，2.1.6也会有这个问题吗

[2019-03-20 04:14] daikon12 commented on #9623
请问这个问题 需要等到3.0才会修复吗？现在猜到beta版 ，2.1.6也会有这个问题吗 @nolouch

[2019-03-20 04:15] daikon12 commented on #9623
请问这个问题 需要等到3.0才会修复吗？现在才到beta版 ，2.1.6也会有这个问题吗 @nolouch

[2019-03-20 04:41] AndrewDi commented on #9815
@morgo OK, I will implement after #9328 merged, because `ALTER VIEW` dependence on `CREATE OR REPLACE`

[2019-03-20 05:32] GregoryIan commented on #9749
I have no idea, you need a syncer process monitoring, @liubo0127 does prometheus provide this feature?

[2019-03-20 05:36] leshalv commented on #9749
你们有文档说提供了prometheus监控功能，但是那是prometheus 1X的，目前是2x ，不支持那种方式了，我改成了yml，无效，你们的文档地址：https://github.com/pingcap/docs-cn/blob/master/tools/syncer.md#%E9%85%8D%E7%BD%AE%20Syncer%20%E7%9B%91%E6%8E%A7%E4%B8%8E%E5%91%8A%E8%AD%A6

[2019-03-20 05:46] tiancaiamao commented on #9778
When the client reconnect, is there a log in tidb like this:

And how long it takes between you operation in sqlyog and you see this log?

[2019-03-20 05:57] GregoryIan commented on #9749
The document only describe the Internal monitoring metrics of `Syncer`, I think you need a process monitoring, our DBA @superlzs0476 would help you

[2019-03-20 06:26] qw4990 commented on #9713
After rewriting expression `dayname("1962-03-01")+0`, it will generate a `plus` node having two children function `dayname` and constant `0`.
Because the `retType` of `dayname` is `string` but it is `int` for constant `0`, the `plus` node will wrap a cast function above `dayname` to convert its `retType` to `real`.
And in TiDB the result of casting nonnumerical stings like "Thursday" to `real` is

[2019-03-20 06:53] superlzs0476 commented on #9749
Please upload the configuration yaml,I will test it on mine environment.

[2019-03-20 06:56] leshalv commented on #9749
groups:
  - name: alert.rules
    rules:
      - alert: syncer_status
        expr: syncer_binlog_file{node='master'} - ON(instance, job) syncer_binlog_file{node='syncer'} > 1
        for: 1m
        labels:
          env: hospital-sync
          channels: alerts
        annotations:
          description: "alert: syncer_binlog_file{node='master'} - ON(instance, job) syncer_binlog_file{node='synce

[2019-03-20 07:00] wjhuang2016 opened #9823 "`SELECT 9223372036854775807 + 1;` is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
`SELECT 9223372036854775807 + 1;`

2. What did you expect to see?
In Mysql 8.0.15
[code]
See also https://dev.mysql.com/doc/refman/8.0/en/out-of-range-and-overflow.html

3. What did you see instead?
[code]

4. What version of TiDB are you

[2019-03-20 07:10] YuanDdQiao commented on #9778
i see in tidb_err.log：

2019/03/19 18:40:09.040 domain.go:112: [info] [ddl] diff load InfoSchema from version 39 to 40 in 8.082478ms, tableIDs [113]
2019/03/20 10:50:46.752 set.go:178: [info] con:252434 wait_timeout=28800
2019/03/20 11:10:27.891 set.go:178: [info] con:257199 wait_timeout=28800
2019/03/20 11:10:27.899 tidb.go:157: [info] RollbackTxn for ddl/autocommit error.
2019/03/20 11:10:27.899

[2019-03-20 07:11] YuanDdQiao commented on #9778
and tidb.log no message print.

[2019-03-20 07:26] eurekaka commented on #9823
@wjhuang2016 thanks for the report, do you have interest to fix this :) ?

[2019-03-20 07:32] wjhuang2016 commented on #9823
I try to. It may take a few days, and I am working on #9804. They may have some connection.

[2019-03-20 07:34] eurekaka commented on #9823
@wjhuang2016 that will be fine.

[2019-03-20 08:54] tiancaiamao commented on #9778
This is a normal log, there is no 'aaaaxx' database.

I mean, is there any evidence for your observation:

1. client reconnect after idle for a while
2. tidb does not respond to the client for a long time

To prove 1, you should grep the "new connection" log in TiDB
To prove 2, you need to trace the actual time costed

[2019-03-20 10:03] leshalv commented on #9687
@amyangfei 用你给的规则不行，emmm ，pattern-schema = "schema"
target-schema = "schema_2"都是匹配模式，我们数据都炸锅了

[2019-03-20 10:23] amyangfei commented on #9687
Please describe the synchronization scenario in detail, including your synchronization purpose, the upstream topology, synchronization tools you use and configuration file for these tools.
We will try to help to solve the problem

[2019-03-20 10:24] liufuyang commented on #9699
@TennyZhuang @ngaut I have tried to make the binary search also optimised for uint range from 0 to 99999. And now seems this is the fastest version I can get. [testing code](https://gist.github.com/liufuyang/a36de53033d989320664e5c242d7d4aa)

Revison 3 output:
[code]

I will make a PR onto the existing PR to discuss whether to use this version.

[2019-03-20 12:50] qw4990 opened #9831 "`kill tidb [session id]` can't stop executors and release resources"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When users want to cancel a SQL, they may use `kill tidb [session id]`.
But it can't stop executors since executors don't watch the `ctx` used to cancel the session and the cancelled session don't call `executor.Close()` to stop them.
So after `kill tidb`, these executors will continue to consume resources to d

[2019-03-20 12:50] qw4990 commented on #9831
I'm working on this now.

[2019-03-20 18:06] kolbe commented on #6633
@ivanjoy42 sorry you didn't get a reply until now! It looks like your ongoing problems are being addressed in issue #6729. I'm going to close this issue now, but please re-open if you have any ongoing concerns about the original topic of manually splitting/merging regions.

[2019-03-20 18:06] #6633 closed

[2019-03-20 18:12] kolbe commented on #6729
@ivanjoy42 did you continue working on this deployment after June of last year? Did you make any progress in either speeding up the import or better understanding the behavior of the cluster? Please let us know if you're still working with TiDB and/or if you are still running into issues.

[2019-03-20 20:19] kolbe opened #9836 "Crash selecting from information_schema.processlist"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

SELECT * FROM information_schema.processlist;

2. What did you expect to see?

A list of processes.

3. What did you see instead?

[code]

[code]

tidb_version(): Release Version: v3.0.0-beta-248-g915b12c96
Git Commit Hash: 915b12c9686bd3

[2019-03-20 20:19] kolbe commented on #9836
@jackysp @morgo suggested I Cc you on this issue.

[2019-03-20 20:33] kolbe commented on #9836
Cannot repeat in release-2.1:

[code]

[2019-03-20 22:04] kolbe commented on #5662
@congcongDBA the ability to consult information_schema.tables to find the size of a table was recently added to TiDB, so you no longer need to use tidb-ctl to do that. Instead, you can execute a query like `select data_length from information_schema.tables where table_schema='myschema' and table_name='mytable'`.

For your second question about long-running transactions, it's important to know that

[2019-03-20 22:58] kolbe commented on #7103
Maybe this is not the place to discuss this, but I'm a little concerned about the behavior in TiDB to silently ignore invalid configuration options. For example, I put "status-port" outside of the [status] section of config.toml and was tearing my hair out wondering why it wasn't working before I figured out what I was doing. IMO, tidb-server should simply refuse to start if someone uses a configu

[2019-03-21 02:41] xiekeyi98 opened #9837 "Need to check and fix more types in `shou (full) columns`"
## General Question

As https://github.com/pingcap/tidb/pull/9810 discussed, we should check more types in `show columns` and ` show full columns`, and fix it!

[2019-03-21 03:42] ke-pan commented on #9811
thought it is easy, but after the change I made. I got panic when run `SELECT ADDTIME(DATE("2019-01-01"), TIMEDIFF("1:0:0", "2:0:0"));`. can someone mentor pls?

changes:
![image](https://user-images.githubusercontent.com/2060146/54732323-22c20e80-4bce-11e9-8d24-a0444b8ec99e.png)

panic stack:
[code]

[2019-03-21 04:57] erjiaqing commented on #9811
In https://github.com/pingcap/tidb/blob/e8299209340ca96853d4ce5ec0d35ebdce8f7f69/expression/builtin_time.go#L3881-L3882

They are converted to `Duration`.

[2019-03-21 05:17] jackysp commented on #9836
Hi @kolbe , thanks for your report!
PTAL @tiancaiamao .

[2019-03-21 05:32] leshalv commented on #9749
@superlzs0476 我重新改了下yaml，你看看，到底是哪里的问题呢？

[2019-03-21 05:32] wjhuang2016 opened #9838 "TiDB doesn't handle `signed + unsigned` properly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
`select cast(1 as signed) + cast(9223372036854775807 as unsigned);`

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiD

[2019-03-21 05:34] wjhuang2016 commented on #9838
I will fix this soon.

[2019-03-21 06:18] YuanDdQiao commented on #9778
i got another diffrent report abort sqlyog .
i don't know why only mine computer timeout-reconnect...
so it's no issure ...thanks...
thank you very much,
i'm sorry to this mistake ！

[2019-03-21 06:55] eurekaka opened #9843 "predicate mistakenly pushed down over join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?

`Selection_33` should be kept in join's `OtherConditions`.

3. What did you see instead?

`Selection_33` is mistakenly pushed down to `t1` side.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-03-21 07:00] #9773 closed

[2019-03-21 07:49] dayuanyuan1989 opened #9847 "`LOAD DATA LOCAL INFILE` with IGNORE will report an error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

run `load data` with `ignore` will occur an error

`
mysql -h {host} -P {port} -u root --local-infile=1 -p{password} -D SCALIFIED -e LOAD DATA LOCAL INFILE 'SCALIFIED.T_STU' IGNORE  INTO TABLE SCALIFIED.T_STU FIELDS TERMINATED BY '\t' LIN

[2019-03-21 07:52] dayuanyuan1989 commented on #9847
the content of file `SCALIFIED.T_STU`

[code]

[2019-03-21 08:20] ke-pan commented on #9811
Thanks @erjiaqing ,

I made a change:

![image](https://user-images.githubusercontent.com/2060146/54739553-890d5800-4bf3-11e9-94ba-f583658027e3.png)

But got same result:

<img width="257" alt="image" src="https://user-images.githubusercontent.com/2060146/54739593-a3dfcc80-4bf3-11e9-8ae8-b91d5993758a.png">

I guess there is a cast that makes date zerotime somewhere 🤔

BTW, though the `evalDuration

[2019-03-21 08:32] eurekaka commented on #9847
@dayuanyuan1989 thanks for the report, please provide:
- the tidb log when this error occurs;
- schema of table `T_STU` by using `show create table T_STU`;

[2019-03-21 08:36] winoros commented on #9748
Also. The unnamed window will raise error when you execute if you only fix the bug in the description.

[2019-03-21 08:49] CrazyNash commented on #9131
@WangXiangUSTC thanks

[2019-03-21 10:06] Debiancc commented on #9776
https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html#function_convert-tz

[2019-03-21 11:08] qw4990 commented on #9776
Thanks for your comment and I have made a mistake here.
This issue should be closed now.

[2019-03-21 11:10] qw4990 commented on #9776
This issue is not necessary because it's a mistake that I forget to take Time Zone Tables into account.

[2019-03-21 11:10] #9776 closed

[2019-03-21 11:14] amyangfei commented on #9687
We have connected to user through teamviewer and found some misuse scenario. After giving a right syncer config, user has successfully run a synchronization task.
We recommend @leshalv to read more official docs https://pingcap.com/docs/tools/syncer/ . This isssue is closed now, if you have more questions and need more help, feel free to connect support@pingcap.com

[2019-03-21 11:14] #9687 closed

[2019-03-21 11:23] #9836 closed

[2019-03-21 14:40] morgo opened #9853 "SHOW PROCESSLIST always reports idle sessions as zero seconds"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

After https://github.com/pingcap/tidb/pull/9842 was merged, `SHOW PROCESSLIST` always reports sleeping sessions as idle zero seconds.

If I go back to release-2.1, it looks like there is a behavior difference where `SHOW PROCESSLIST` reports idle sessions correctly, but `SELECT * FROM informati

[2019-03-21 15:24] tiancaiamao commented on #9853
So here is right https://github.com/pingcap/tidb/pull/9842/files#diff-df919d9361195b93310b219738ea1aeeL253
and here is wrong https://github.com/pingcap/tidb/pull/9842/files#diff-7a9e970fa682861b6af9689a4a8088daL645

and when I abstract them to one function here https://github.com/pingcap/tidb/pull/9842/files#diff-673787e737513db3a354592cbac58953R43, I take the wrong one...

I'll take another fix

[2019-03-21 15:27] tiancaiamao commented on #9853
You fixed it, Thanks! @morgo

[2019-03-21 16:17] #8995 closed

[2019-03-21 16:56] kolbe commented on #7103
@GregoryIan Morgan suggested I ping you regarding my suggestion that tidb-server (and other components of TiDB Platform) should refuse to start if there are any unrecognized items in the configuration file(s).

[2019-03-21 17:36] morgo commented on #9796
@erjiaqing I agree with you, the behavior is not compatible with MySQL.  It took me some time to understand the test-case, I re-wrote it here while wrapping my head around it:

[code]

As you said, the `create view` step passes in MySQL, since it can not be assumed that you want to SELECT from a view.  You may only want to insert into it (which there are permissions for):

[code]

Where it gets na

[2019-03-21 21:43] morgo commented on #1316
@shenli @zz-jason can we close this old issue?

[2019-03-21 21:44] morgo commented on #1805
@coocood @hanfei1991 @zz-jason can we close this old issue?

[2019-03-21 21:45] morgo commented on #746
@coocood @shenli can we close this old issue?

[2019-03-21 21:49] morgo commented on #5497
@winkyao I assume this has this been fixed, because I think I remember seeing reload notices in the logs?

[2019-03-21 21:54] morgo commented on #5035
I have verified two test cases, behavior is the same as MySQL:
[code]
And an error:
[code]

I am going to close this task now.

[2019-03-21 21:54] #5035 closed

[2019-03-21 21:56] morgo commented on #3644
Confirming that I can still reproduce this:
[code]

[2019-03-21 21:58] morgo commented on #4807
Window functions are being added in this project: https://github.com/pingcap/tidb/projects/18

To reduce duplication, I am going to close this issue now.

[2019-03-21 21:58] #4807 closed

[2019-03-21 22:04] morgo commented on #3643
This is caused by https://github.com/pingcap/tidb/issues/9655

I am going to close this issue to reduce duplication and will leave a comment in the other issue that it breaks Navicat compatibility.

[2019-03-21 22:04] #3643 closed

[2019-03-21 22:05] morgo commented on #9655
Note: this is related to #3643 (which I closed to reduce duplication).  When the structure is different, it prevents some GUIs of treating TiDB like MySQL.

[2019-03-21 22:11] morgo commented on #9808
It would be nice to make everything explainable :-)  I have a FR to explain DDL as well https://github.com/pingcap/tidb/issues/8429

[2019-03-21 23:18] morgo commented on #9847
Here is the test case:
[code]

This is a parse error in TiDB, but works fine in MySQL 5.7.

This feature relates to [duplicate key handling](https://dev.mysql.com/doc/refman/8.0/en/load-data.html#load-data-duplicate-key-handling) of `load data infile`.  Note that when the command is `load data local infile` the default behavior is actually **IGNORE**.  The other option is **REPLACE**.

[2019-03-22 00:27] #9818 closed

[2019-03-22 00:27] #9742 closed

[2019-03-22 00:28] #9691 closed

[2019-03-22 01:36] #9853 closed

[2019-03-22 02:17] #9781 closed

[2019-03-22 02:47] eurekaka commented on #9847
I have tested on my laptop, parser would report error when `REPLACE` or `IGNORE` keyword exists, that is to say, we only support implicit `IGNORE` now.

[2019-03-22 04:07] ngaut opened #9860 "A data race has been detected"
See the goroutine stack:

[code]

[2019-03-22 05:37] #9838 closed

[2019-03-22 07:15] wjhuang2016 opened #9861 "The return type of UNIX_TIMESTAMP() is confusing in MySQL"
## General Question

According to #9729,
[code]
will should return 1 instead of 1.000000.
And `select unix_timestamp(1)` will also return 1.

When I try to solve this problem, I found that in MySQL:
[code]

and
[code]

Finaly, in TiDB:
[code]

In MySQL Doc:https://dev.mysql.com/doc/refman/5.7/en/date-and-time-functions.html#function_unix-timestamp
We can see that:

The return type of UNIX_TIMESTAM

[2019-03-22 07:15] wjhuang2016 commented on #9861
@eurekaka PTAL.

[2019-03-22 07:44] #9188 closed

[2019-03-22 08:41] XuHuaiyu opened #9865 "the result and return type of `float union char` differ from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-22 08:43] xiewlgithub opened #9867 "Lost connection to MySQL server during query when exporting data using mydumper"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?

执行导出文件成功

3. What did you see instead?

[code]

![image](https://user-images.githubusercontent.com/39821977/54810372-ee7b4a80-4cc0-11e9-99e5-f9510152ba03.png)

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB

[2019-03-22 09:41] CrazyNash commented on #8784
@WangXiangUSTC Thanks for your support,  pingcap/dm#54 was merged, is this fixed together in latest syncer? how to configure syncer to use test.tl model?

[2019-03-22 15:15] morgo commented on #9760
Just to confirm, I simplified the test case and verified in master that this is fixed.  The error code is also identical to MySQL:
[code]

[2019-03-22 15:18] morgo commented on #9796
I put some more thought in this, and it may actually block `mysqldump`/`mydumper` from restoring.  There could be a `DEFINER` set to a user which only has insert privileges.  Even if the view can currently not effectively be used, we should make sure mysqldump can restore.

[2019-03-22 15:37] shenli commented on #9867
@xiewlgithub Could you decrease the dumping concurrency?

[2019-03-22 15:37] shenli commented on #9867
Which version of mydumper are you using?

[2019-03-22 15:55] morgo commented on #4805
Does this overlap a little with `explain analyze`, since it shows the actual numbers next to the estimates that were available during planning?

There is also `trace` now as well.

[2019-03-22 15:58] morgo commented on #1793
Just a quick update: TiDB 3.0 will not yet support `FULLTEXT`, but we plan to make it a little clearer that it is not supported: https://github.com/pingcap/tidb/pull/9821

[2019-03-22 15:59] morgo commented on #9259
I am going to close this issue to reduce duplication with https://github.com/pingcap/tidb/issues/1793

Please feel free to re-open it if you have any further questions.  Thank you!

[2019-03-22 15:59] #9259 closed

[2019-03-22 16:02] morgo commented on #3635
Confirming this feature is still missing in master:
[code]

[2019-03-22 16:07] morgo commented on #6855
@zhexuany should we close this issue, now that TiDB has tracing?

[2019-03-22 16:09] morgo commented on #6799
I believe this overlaps with this feature request: https://github.com/pingcap/tidb/issues/9469 ?

[2019-03-22 16:20] morgo commented on #7734
This is now supported in TiDB:
[code]

I am going to close this issue now, but please feel free to re-open it if you have any further questions.  Thanks!

[2019-03-22 16:20] #7734 closed

[2019-03-22 19:13] morgo commented on #2495
I played around with this a little bit. If I understand correctly, the FR is to logically transform a range such as `range:[2,3]` to 2 point gets?

I know for example that MySQL will optimize `IN (2,3)` into 2 fetches, but not `BETWEEN 2 AND 3`.

PTAL @zz-jason

[code]

[2019-03-22 19:16] morgo commented on #2274
@silentred I wanted to follow up and check-in.  Some time has elapsed, can we close this issue?

[2019-03-22 19:17] morgo commented on #2750
I am going to close this issue for now.  I am not aware of any specific SQLYog issues, and we can investigate if we get specific complaints.

[2019-03-22 19:17] #2750 closed

[2019-03-22 19:20] morgo commented on #2718
@disksing @AndreMouche I am pretty sure this is fixed?  If I try and run a backup that takes longer than `tikv_gc_life_time`, I will get an error like this one: https://github.com/pingcap/tidb/issues/8896

I am going to close this issue now, but please re-open if I am in error.

[2019-03-22 19:20] #2718 closed

[2019-03-22 19:26] morgo commented on #5213
@zzx8170 Usually if there is a conflict (i.e. two transactions modified the same row) a retry will occur, and both transactions will succeed, but with some delay.  In the case of `select for update`, retry is disabled, and the transaction will return an error.

In a pessimistic locking system (like InnoDB), one transaction would instead block waiting on the lock until the other commits.

I hope th

[2019-03-22 19:38] morgo commented on #4841
I am trying to understand this feature correctly.  Is it a change so that the handle_id may be some other key or column, other than the primary key?

[2019-03-23 07:20] zz-jason commented on #9731
close it due to fixed.

[2019-03-23 07:20] #9731 closed

[2019-03-23 07:26] zz-jason commented on #9806
Please also post the panic stack in the `What did you see instead` section

[2019-03-23 13:51] silentred commented on #2274
Feel free to close this issue.

[2019-03-23 13:53] #2274 closed

[2019-03-23 14:03] morgo commented on #1034
Confirming that this can still be reproduced:
[code]

[2019-03-23 14:04] morgo commented on #4802
@zz-jason can you help re-triage?

[2019-03-23 14:06] morgo commented on #4442
@yitu-z Since there has been no recent activity, I am going to close this issue now.  Please feel free to reopen it if you have any followup questions.  Thanks!

[2019-03-23 14:06] #4442 closed

[2019-03-23 14:55] morgo commented on #9867
The option `-t` will set the threads to 100, which is quite high, since TiDB may also use parallel execution internally.  By contrast, mydumper defaults to 4 threads.

Please try with a lower number (4-16) threads.

[2019-03-23 15:01] zz-jason commented on #4802
OK. We still need to update the cost formular for these physical operators, it's a long term issue, I think we can leave it open.

/cc @eurekaka

[2019-03-23 15:02] morgo commented on #5919
@zhangjinpeng1987 I believe we can close this issue now?

[2019-03-23 15:02] zz-jason commented on #4802
hope we can finish it in release 3.0

[2019-03-23 15:22] morgo commented on #5777
Here is a test-case which uses sql only:
[code]

I ran this against master, and the following was written to the log file:
[code]

I actually think that this is correct for at least `INFO` level notification.  This is a client-related error, the server acted as expected and returned a warning (run `SHOW WARNINGS`).  The warning message was not quite identical between TiDB and MySQL though:

[code]

[2019-03-23 16:05] wjhuang2016 opened #9869 "Bigint unsigned column value in CASE WHEN operator is converted to bigint signed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
See also https://bugs.mysql.com/bug.php?id=79657
2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-23 21:38] morgo commented on #9621
@kolbe Do you mind working on this?  It will be useful for homebrew.

[2019-03-24 02:38] ngaut commented on #5919
Yes, we are using distributed GC.

[2019-03-24 02:38] #5919 closed

[2019-03-24 02:40] #9699 closed

[2019-03-24 02:43] jackysp commented on #9869
Thanks for your report, @wjhuang2016 !
I've reproduced it.
PTAL @XuHuaiyu

[2019-03-24 02:47] jackysp commented on #9861
Thanks for your report, @wjhuang2016 !
Yes, we need to make it clear in TiDB.

[2019-03-24 04:20] #9683 closed

[2019-03-24 04:20] #9756 closed

[2019-03-24 04:56] wjhuang2016 opened #9871 "CAST float is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
I not sure whether the result of MySQL is more reasonable. I think raise a error when overflow is better than truncate it.

2. What did you expect to see?
In MySQL 8.0.15
[code]

3. What did you see instead?
[code]

4. What version

[2019-03-24 07:13] jackysp commented on #9871
Yes, I think to raise an error when overflow is better. Thanks for your report, @wjhuang2016 !

[2019-03-24 07:36] wjhuang2016 commented on #9871
@jackysp  I'm glad you agree with me.
If we deicde to raise an error when overflow, maybe we need to make it consistent with int.
[code]

Though `cast(-1 as unsigned)` will return `18446744073709551615` without warning, it's a verified bug in MySQL, See https://bugs.mysql.com/bug.php?id=79295

[2019-03-24 11:50] winkyao opened #9873 "Performance issue in IsMemoryDB"
https://github.com/pingcap/tidb/blob/59c7b69187e8ad1975a3a19724e210df4fb53526/infoschema/infoschema.go#L371

IsMemoryDB is called by buildDataSource, it is on the main path.

we can change the drivers from an array to a map.

[code]

[2019-03-24 11:52] tiancaiamao commented on #9873
`drivers` is nearly empty @winkyao

[2019-03-24 11:55] winkyao commented on #9873
Just `PERFORMANCE_SCHEMA`? @tiancaiamao

[2019-03-24 11:56] #9873 closed

[2019-03-24 16:28] morgo commented on #6360
I have verified on master that this bug has now been fixed.  TiDB behaves the same as MySQL:
[code]

I am going to close this issue now.

[2019-03-24 16:28] #6360 closed

[2019-03-25 01:42] vkingnew commented on #9760
if the columns define as VARCHAR(255),it can on store max 255 Chinese character,so you test cases are right .

[2019-03-25 02:35] jackysp commented on #9871
What do you think? @XuHuaiyu

[2019-03-25 02:35] eurekaka commented on #2495
I guess this FR is to logically transform ranges like `[2,2]` to point get plan, like your first example. This have been finished and should be closed IMH, @coocood please confirm.

[2019-03-25 02:39] eurekaka commented on #9861
@morgo @kolbe Please help us confirm the behavior here.

[2019-03-25 02:52] XuHuaiyu commented on #9871
I think it's ok. @jackysp
What's your opinion? @morgo

And
Have you tried this in MySQL8.0? @wjhuang2016

[2019-03-25 03:07] erjiaqing opened #9875 "EXPLAIN Select * from view requires different privileges to MySQL"
## Bug Report

1. What did you do?
If possible, provide a recipe for reproducing the error.

root:
[code]

u@'%':
[code]

2. What did you expect to see?

`ERROR 1345 (HY000): EXPLAIN/SHOW can not be issued; lacking privileges for underlying table`

3. What did you see instead?

no error

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

`v3.0.0-beta

[2019-03-25 03:41] wjhuang2016 commented on #9871
Yeah, My MySQL version is 8.0.15

[2019-03-25 03:44] morgo commented on #9871
I am actually a bit surprised by the MySQL 8.0 behavior.  Because strict mode is actually `strict_trans_tables` not `strict_all_tables` I expected it to be a warning not an error (trans tables means: you need to touch a transactional table).

Just as a general rule, make sure you test context with/without a table. i.e.
[code]
(it makes no difference in this specific case.)

[2019-03-25 04:36] morgo commented on #9861
I don't have a good explanation for it, but I tried a couple more examples:
[code]

Is it possible that invalid values result in decimal return values *unless* the reason it is invalid is because of a zero value?

[2019-03-25 05:08] winoros commented on #9806
@zz-jason
[code]
From the schema, the three column of the projection should be `char, int, int`. But from the actual data in chunk, the order is `int, char, int`.
The cause of panic is the `output wrong order`. So panic stack is useless.

[2019-03-25 05:47] #9774 closed

[2019-03-25 05:49] wjhuang2016 commented on #9861
@morgo  I think it's more complecate here.

[code]

So, `"2017-00-00"` is a valid date, which doesn't follow the doc

[2019-03-25 06:43] disksing commented on #2718
@morgo Yes! It's already fixed.

[2019-03-25 07:28] koushiro commented on #9811
It seems that there is the same problem in `AddDateAndString`, `SubDateAndDuration` and `SubDateAndString`.

[2019-03-25 07:29] wjhuang2016 commented on #9875
Note that to explain a view, user also need priv`SHOW VIEW` See https://dev.mysql.com/doc/refman/8.0/en/privileges-provided.html#priv_show-view
and

[2019-03-25 07:34] xiekeyi98 commented on #9875
And the key is :
![image](https://user-images.githubusercontent.com/7782671/54902107-680a7700-4f13-11e9-9010-980314a37749.png)

@wjhuang2016  May you help us try to solve this issue?

[2019-03-25 07:47] wjhuang2016 commented on #9875
Sure :)

[2019-03-25 07:51] xiekeyi98 commented on #9875
@wjhuang2016
Thank you!
There are some similar PRs for your reference:
- https://github.com/pingcap/tidb/pull/9870
- https://github.com/pingcap/tidb/pull/9872

[2019-03-25 07:58] superlzs0476 commented on #9749
`groups:
  - name: alert.rules
    rules:
      - alert: syncer_status
        expr: syncer_binlog_file{node='master'} - ON(instance, job) syncer_binlog_file{node='syncer'} > 1
        for: 1m
        labels:
          env: hospital-sync
          channels: alerts
        annotations:
          description: "alert: syncer_binlog_file{node='master'} - ON(instance, job) syncer_binlog_file{node='sync

[2019-03-25 07:58] superlzs0476 commented on #9749
groups:
  - name: alert.rules
    rules:
      - alert: syncer_status
        expr: syncer_binlog_file{node='master'} - ON(instance, job) syncer_binlog_file{node='syncer'} > 1
        for: 1m
        labels:
          env: hospital-sync
          channels: alerts
        annotations:
          description: "alert: syncer_binlog_file{node='master'} - ON(instance, job) syncer_binlog_file{node='synce

[2019-03-25 07:59] xiekeyi98 commented on #9875
I found the document you used is MySQL8.0, I think we'd better use MySQL5.7 manual.

[2019-03-25 08:00] superlzs0476 commented on #9749
[code]

[2019-03-25 08:02] superlzs0476 commented on #9749
[code]
I try to change syntax, please take a look.

[2019-03-25 08:07] wjhuang2016 commented on #9875
Ok, and could you tell me that in what sisutaion we should use 8.0 doc?

[2019-03-25 08:28] xiekeyi98 commented on #9875
The existing features of TiDB are all compatible with MySQL 5.7.
Currently, we don’t have a plan to make them compatible with MySQL 8.0.
For now, only the Window Functions and RBAC are compatible with MySQL 8.0.

[2019-03-25 08:33] wjhuang2016 commented on #9875
Thanks, I got it.

[2019-03-25 08:42] xiekeyi98 opened #9883 "INSERT INTO table_name not same with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

## In MySQL 5.7
[code]

3. What did you see instead?

## In TiDB Master
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-25 09:00] YuanDdQiao commented on #9778
1.new connection log:
when i fist connect to tidb:
[2019/03/25 16:41:57.182 +08:00] [INFO] [server.go:398] ["new connection"] [conn=80] [remoteAddr=xxx.xx.xxx.xxx:49368]
[2019/03/25 16:41:57.300 +08:00] [INFO] [server.go:398] ["new connection"] [conn=81] [remoteAddr=xxx.xx.xxx.xxx:49369]
[2019/03/25 16:41:57.494 +08:00] [INFO] [server.go:398] ["new connection"] [conn=82] [remoteAddr=xxx.xx.xxx.xxx

[2019-03-25 09:08] tiancaiamao commented on #9778
How long it takes between this time `2019/03/25 16:54:25.139 +08:00` and the time you can operate sqlyog ? @YuanDdQiao

[2019-03-25 09:11] YuanDdQiao commented on #9778
5 minute+

[2019-03-25 09:25] YuanDdQiao commented on #9778
i mean ,i can operate between "5 minute +", but ,if not operate any after about 10minute + ,the sqlyog will need to reconnect a while..

[2019-03-25 09:28] tiancaiamao commented on #9778
Could you enable the TiDB server general log, and repeat the operation, to see what's send to tidb?

Ref: https://github.com/pingcap/tidb/blob/master/docs/tidb_http_api.md

[code]

Replace {TiDBIP} with something like 127.0.0.1

[2019-03-25 09:30] wjhuang2016 commented on #9875
@xiekeyi98
When build the visitInfo in BuildDataSourceFromView we need to know that whether the current stmt is a explain stmt or not. However, planBuilder doesn't provide info about explain.
So I want to add a `isExplainStmt` in planBuilder.
 And the problem is:
https://github.com/pingcap/tidb/blob/d6490c1cab3a634e2faba004802fab442d153035/planner/core/planbuilder.go#L1659-L1667

Presently we have

[2019-03-25 09:57] breeswish opened #9885 "Support query hot read / write regions by SQL"
## Feature Request

It would be great if we can directly use SQL to query hot read and hot write regions.

The respond schema may be like:

[code]

[2019-03-25 10:48] winoros commented on #9885
Implement it as a function and return a JSON object?

[2019-03-25 12:02] wjhuang2016 commented on #9883
It's because `lower_case_table_names` in TiDB is 2 by default, and in MySQL is 0 for linux.
See https://dev.mysql.com/doc/refman/5.7/en/identifier-case-sensitivity.html

[2019-03-25 12:05] morgo commented on #9885
Is it possible to show this in `information_schema`?  I have a similar request to [show region info](https://github.com/pingcap/tidb/issues/7714) here.

[2019-03-25 12:07] breeswish commented on #9885
@winoros I think it can provide data in table format, so that users can use this function very easily.

[2019-03-25 12:07] breeswish commented on #9885
@morgo Yes, we have a hackathon project based on similar ideas. Maybe we can reuse that project.

[2019-03-25 12:08] xiekeyi98 commented on #9883
Thanks!
Sorry for my carelessness.

[2019-03-25 12:10] xiekeyi98 commented on #9883
@jackysp Do we need to change `lower_case_table_names`, or close this issue is enough?

[2019-03-25 12:12] xiekeyi98 commented on #9875
@zz-jason  PTAL, Thanks.

[2019-03-25 12:19] xiekeyi98 commented on #9883
Because of: https://pingcap.com/docs-cn/op-guide/tidb-config-file/#lower-case-table-names in doc.
Closes this issue.

[2019-03-25 12:19] #9883 closed

[2019-03-25 12:30] #9823 closed

[2019-03-25 12:34] zz-jason commented on #9875
@wjhuang2016 You can add a `InExplain` boolean field in `StatementContext`, which can be obtained by `b.ctx.GetSessionVars().StmtCtx`

[2019-03-25 12:42] wjhuang2016 commented on #9875
Great! It's prefect!

[2019-03-25 13:37] zz-jason opened #9891 "support online config item reloading"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, in order to update a config item, our DBA has to modify the config file, stop the cluster, and restart the cluster. This workflow has the following cons:
1. DBAs have to file an application to restart the cluster
2. The restart progress can take a long time if the cluster contains a lot of servers
3

[2019-03-25 13:45] zz-jason opened #9892 "support online config reloading for section "performance""
## Feature Request

**Is your feature request related to a problem? Please describe:**

this is a subtask of https://github.com/pingcap/tidb/issues/9891

**Describe the feature you'd like:**

support online config reloading for config items listed in the `performance` section

**Describe alternatives you've considered:**

No

**Teachability, Documentation, Adoption, Migration Strategy:**

No

[2019-03-25 13:49] #9767 closed

[2019-03-25 14:49] wjhuang2016 opened #9893 "mysql.tables_priv does not support view related privileges"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
Ok

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-25 18:41] kolbe commented on #9861
I think the specifics of why MySQL does what it does in these different cases is sort of irrelevant. There's lots of historical stuff that's happened with date/time handling in MySQL, so it's not very surprising that there are some surprising return values. I guess the question is whether TiDB wants to prioritize MySQL compatibility or prioritize some kind of well-justified handling of erroneous i

[2019-03-25 18:51] kolbe commented on #9621
To summarize the conversation we had on Slack...

I think a default config location is fine, but I think that once you start with this you end up needing to add a tidb-config.d directory, you end up needing to support multiple config files that get merged together, etc.

And adding any of that ultimately is only very meaningful (especially for 3rd-party distros) if you add a build-time option to s

[2019-03-25 20:58] morgo commented on #9891
The MySQL server does this in a different way, which I actually prefer: `SET PERSIST name=value`.

Using a config file assumes that users have a login to the server, or a config management system.  Because there are multiple choices, it makes it hard to describe how to change a setting in the documentation too (describing `set persist` is easy).

Where this is a little bit nuanced though, is that

[2019-03-25 22:57] morgo commented on #9861
I am fine with not being fully compatible with MySQL in these specific cases / declaring the MySQL behavior as a bug.

In general though, it can be difficult to judge when a case is important, so I appreciate the CC.  Thanks!

[2019-03-26 01:31] erjiaqing commented on #9893
[code]

We can see that mysql.tables_priv.Table_priv lack view related privileges.

If we fix them in bootstrap.go, will it breaks backward compatibility?

[2019-03-26 02:04] morgo commented on #9893
@erjiaqing there is a mechanism to upgrade these tables.  See https://github.com/pingcap/tidb/pull/9377 for a recent PR.

[2019-03-26 02:15] erjiaqing commented on #9893
OK, I will try to solve it.

[2019-03-26 03:58] wjhuang2016 commented on #9871
I guess that when dealing with `cast` in MySQL, it doesn't consider the statement context.

[2019-03-26 07:05] Debiancc commented on #9770
hi @qw4990 ,i am new fish of golang & infrastructure software.
I fixed this issue in my local and tests was passed, but i have a question.
I know tidb is very take care performance, does convert decimal to string and then parse to DateTime is the best way?

[2019-03-26 07:29] wjhuang2016 commented on #9861
I'm in favor of your proposal. We should return a decimal only when invoked with an argument with fractional second components.
And I think `SELECT UNIX_TIMESTAMP(id) from a; ` would be a exception. Before we eval the column we need to decide the return type of the function.

[2019-03-26 08:42] XuHuaiyu opened #9900 "wrong result when `select count/sum(distinct ) from int_col union all decimal_col`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-26 09:21] shenlijungg opened #9902 "Does tidb support physical synchronization？"
Does tidb support physical synchronization？

[2019-03-26 10:04] denghuancong opened #9903 "v2.1.4 timezone bug！！！！"
tidb version：v2.1.4
---------------------------
we upgrade tidb from v2.0.4 to v2.1.4，the system NOW() returns the time is diffrence
there are two tidb cluster in same machine using docker container：

THE first tidb cluster：
[code]

THE second tidb cluster：
[code]

[2019-03-26 11:58] jackysp commented on #9902
Not now, but TiKV supports the raft learner for physical backup.

[2019-03-26 12:03] jackysp commented on #9903
What's the time zone setting of OS in the container?

[2019-03-26 14:02] XuHuaiyu opened #9905 "wrong result of `select cast("12.9910" as signed)`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
`5025d582a7a69ac9c2f6f8ed744aa23ce687d433`

[2019-03-26 14:02] XuHuaiyu commented on #9905
related issue https://github.com/pingcap/tidb/issues/7511
related PR https://github.com/pingcap/tidb/pull/8157

[2019-03-26 14:46] wjhuang2016 commented on #9905
I don't think it's a bug. It should  return 13 instead of 12.
[code]
See also https://bugs.mysql.com/bug.php?id=79292

[2019-03-26 14:54] XuHuaiyu commented on #9905
@wjhuang2016
Thanks for your remind.
What's the result of `select version()` in your MySQL?
Mine is
[code]

[2019-03-26 14:59] wjhuang2016 commented on #9905
@XuHuaiyu
The result I just posed is for TiDB
In MySQL 8.0.15:
[code]
It seems that this bug has not been fixed yet in MySQL.

[2019-03-26 15:01] XuHuaiyu commented on #9905
Hi, @morgo
What do you think of this? Should we make this behavior of TiDB to be compatible with MySQL?

[2019-03-26 16:09] morgo commented on #9201
One more feature request: For any `SHOW` command we add, we should also add an `information_schema` table.  It is quite quick to do, and helps users join against the tables.

[2019-03-26 16:22] morgo commented on #9201
I showed this to a MySQL user today, and they suggested that this command is not MySQL-like:
[code]
It should be modeled on [stop slave](https://dev.mysql.com/doc/refman/5.7/en/stop-slave.html):
[code]

[2019-03-26 19:25] kolbe commented on #4232
It looks like TiDB today gives the same output as MySQL for these statements (except that MySQL issues a warning while TiDB does not).

So, either the original test case did not show what the submitter thought it did, or the behavior has changed in the interim. I'm going to close this issue now, but if you think there's still something here to look into or change, please re-open!

[code]

[code]

[2019-03-26 19:25] #4232 closed

[2019-03-26 20:17] kolbe commented on #4205
Why not simply modify the test to have each txn issue a `use` statement before executing its queries? Am I missing something?

[code]

[2019-03-26 20:41] kolbe commented on #5936
Please find the results of TPC-H and other benchmarks here: https://github.com/pingcap/docs/tree/master/benchmark

[2019-03-26 20:53] kolbe commented on #7023
Simplified test:

MySQL 5.7.25:
[code]

TiDB v3.0.0-beta:
[code]

[2019-03-26 22:44] kolbe commented on #2285
https://github.com/pingcap/docs/blob/master/sql/mysql-compatibility.md#auto-increment-id

[2019-03-27 02:03] xqwbx163 commented on #9816
Two days ago,  restart Tidb cluster ,then the view  was gone,why ?

[2019-03-27 02:40] morgo commented on #9905
I believe that **both behaviors** appear to actually SQL standard compliant.  Note the comment on this [bug report](https://bugs.mysql.com/bug.php?id=27736) for context:

[code]
(i.e. either truncation or rounding are both permitted).

TiDB is not strictly SQL standards compliant, but MySQL compatible - so the question is what does MySQL think of their behavior?  [BUG #79292](https://bugs.mysql.co

[2019-03-27 02:49] qw4990 commented on #9770
Thanks for your contribution. @Debiancc
Performance is important for TiDB, but correctness and compatibility are also important too.
Maybe we can do it right now, and optimize it later.

[2019-03-27 02:51] YuanDdQiao commented on #9778
yes,yes,
i gots dubbo same return,:
[root@tidb-01 ~]# tail -100f /data1/deploy/tidb/log/tidb.log |grep -E "close connection|new connection"
[2019/03/26 17:49:56.557 +08:00] [INFO] [server.go:398] ["new connection"] [conn=3106] [remoteAddr=xxx.xxx.xxx.xxx:51851]
[2019/03/26 17:49:56.772 +08:00] [INFO] [server.go:398] ["new connection"] [conn=3107] [remoteAddr=xxx.xxx.xxx.xxx:51853]
[2019/03/26 17:4

[2019-03-27 02:52] morgo commented on #9905
@wjhuang2016 your testcase is really interesting.  It looks like MySQL applies both truncation and rounding depending on context.  It would be nice to just say we always round, as does I assume postgresql.

[2019-03-27 03:00] denghuancong commented on #9903
@jackysp I check the container date output , the value is same as the select now(), but we using the same template to build the container , why is that date time difference ?

[code]

the other container
[code]

[2019-03-27 03:04] shenlijungg commented on #9902
@jackysp     thanks!

[2019-03-27 03:04] #9902 closed

[2019-03-27 03:14] erjiaqing opened #9907 "Make test suite more powerful"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In `/cmd/explaintest` we have a test suite like mysqltest, however, we does not support all of its features, like change users, error checks and many other features.

*TODO: list of unsupported features*

**Describe the feature you'd like:**

https://dev.mysql.com/doc/dev/mysql-server/latest/PAGE_MYSQLTEST_LANG

[2019-03-27 03:57] denghuancong commented on #9903
[code]
both TZ env value is UTC， why tidb server output the different timezone value？

[2019-03-27 05:15] kolbe commented on #2285
This is still easily reproducible, and it's not really clear what the right solution is. Loading a large amount of data in a single session into an empty table has a high likelihood of clobbering allocated ranges of auto-increment IDs if there are multiple TiDB clients. And TiDB servers don't seem to do a very good job of handling this situation. For example:

[code]

[code]

[code]

[code]

As an

[2019-03-27 06:37] javajeans opened #9908 "other error: unknown error StringError"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
（1）、这是表结构
[code]
数据超过2000000条，
执行sql语句：
[code]
昨天还是正常的
今天却报这个错：
[code]
2. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
tidb是单机版：
Release Version: v2.1.0-rc.3-353-gef7082d

[2019-03-27 06:54] jackysp commented on #9903
Hi @denghuancong ,
TiDB server uses https://github.com/pingcap/tidb/blob/05bd727bdd3f2f151f9a23b57dac3efb703464a2/util/timeutil/time.go#L44
to determine the timezone of it in release 2.1 which is not the same as it is in release 2.0. I think using the system timezone files are more reasonable.
I think you could check these files in your containers.

[2019-03-27 06:55] tiancaiamao commented on #9778
[code]

I'd like to know what sqlyog send to tidb when it reconnect @YuanDdQiao

[2019-03-27 07:04] jackysp commented on #9908
Hi @javajeans ,
Thanks for your report!
The returned error was from a TiKV cluster. What's your TiKV version?

[2019-03-27 07:16] #9905 closed

[2019-03-27 07:16] #7511 closed

[2019-03-27 07:27] jackysp commented on #9908
PTAL @breeswish , thanks!

[2019-03-27 07:31] javajeans commented on #9908
Hi @jackysp tikv version is Release Version:   3.0.0-alpha

[2019-03-27 07:38] breeswish commented on #9908
Would you like to post the full output of `tikv-server --version`?

[2019-03-27 07:47] javajeans commented on #9908
TiKV
Release Version:   3.0.0-alpha
Git Commit Hash:   46cbb82bb8cff0a45ccfd67e35e49dc6e3c390b1
Git Commit Branch: master
UTC Build Time:    2018-12-23 05:07:50
Rust Version:      rustc 1.29.0-nightly (4f3c7a472 2018-07-17)

[2019-03-27 07:57] breeswish commented on #9908
Looks like there are unexpected data in the cluster. Maybe caused by some bugs in inserting or updating. Would you like to add my wechat, so that we can talk and investigate this issue more efficiently: breezewish

[2019-03-27 08:13] kennytm opened #9910 "`NODE_ID` is mistaken as a full keyword"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

Execute the DDL

[code]

2. What did you expect to see?

The table successfully created.

3. What did you see instead?

Syntax error:

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-03-27 08:16] kennytm commented on #9910
This also affects the release-2.1 branch:

[code]

[2019-03-27 08:19] zimulala commented on #9910
It seems that is caused by  `https://github.com/pingcap/parser/pull/243`.

[2019-03-27 08:58] javajeans commented on #9908
在tikv/raft目录下的日志输出
[code]
服务器内存只有16G   ，top下
[code]
是否是因为内存不够用,导致的

[2019-03-27 09:50] XuHuaiyu commented on #9900
`sum` also meets this problem
[code]

[2019-03-27 10:12] #9900 closed

[2019-03-27 10:19] denghuancong commented on #9903
we now using system command to change tz ，we hope it can persist to tikv and no change because the docker container env。
[code]

[2019-03-27 11:51] crazycs520 commented on #9908
@javajeans ， 昨天执行有问题的 SQL  （`select * from sys_user_wechat where open_id='o4Xv00IC1duOtC7Kvewpz2H5tuxI'`  ） 报错吗？

[2019-03-27 11:57] breeswish opened #9915 "Output keys in HTTP API MVCC interface"
## Feature Request

According to HTTP API, we can retrieve the value of a specific handle:

https://github.com/pingcap/tidb/blob/master/docs/tidb_http_api.md "Get MVCC Information of the key with a specified handle ID"

We can step further, additionally provides the key in the output as well, so that it can be helpful when we want keys (e.g. then use it in tikv-ctl to scan ranges).

[2019-03-27 13:03] wjhuang2016 opened #9918 "`cast as char` is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-27 13:28] morgo commented on #5115
There will usually be some sort of service monitor for the components, which can adopt a name. i.e. Is there a reason to not just use `systemd` for this?

[2019-03-27 13:31] morgo commented on #2663
@disksing is this issue still current?

[2019-03-27 13:50] XuHuaiyu opened #9920 "wrong result of `select group_concat(123, null)`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-27 13:53] jackysp commented on #9918
Thanks for your feedback, @wjhuang2016 !
We have a plan to improve the compatibility of `cast` in the future.
btw: It seems that you're an expert of the `cast` behavior of MySQL. Any suggestions for us? Is there a cast test suite for MySQL?

[2019-03-27 14:23] wjhuang2016 commented on #9918
@jackysp Thanks.
I am far from being an expert of the cast behavior of MySQL. All I did was search the bug list in MySQL to see if TiDB had this bug as well, and I don't think the type system in TiDB is mature enough.
There is a cast test suite for MySQL, it's in mysql-test/t/cast.test, I think it's useful for TiDB.

[2019-03-27 15:25] XuHuaiyu opened #9922 "wrong aggEliminateCheck for `select group_concat() group by unique`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-27 16:02] disksing commented on #2663
Yes, but I think it is a low priority.

[2019-03-28 06:14] kennytm commented on #9910
Fixed by #9917 and #9928.

[2019-03-28 06:14] #9910 closed

[2019-03-28 06:24] #9920 closed

[2019-03-28 08:06] ericisme opened #9934 "is that tikv only leader region will be readed/queried?"
is that tikv only leader region will be readed/queried?
wiil  the replication data or fllower region data be readed/queried ?

[2019-03-28 11:26] ihipop commented on #7161
how to show dump-speed of mydumper

[2019-03-28 11:38] jackysp commented on #9934
Yes.

No.

[2019-03-28 12:07] vkingnew opened #9941 "UUID_SHORT() function-like supoort"
so far,as version 2.1.7,I don't find a function like MySQL's fuction UUID_SHORT(), which can auto generate incremental int values。
the following function just generate same serial:

Query OK, 0 rows affected (0.00 sec)

+--------------------+
| @@tidb_current_ts  |
+--------------------+
| 407312734087282689 |
+--------------------+
1 row in set (0.00 sec)

+--------------------+
| @@tidb_current_

[2019-03-28 15:42] vkingnew commented on #4250
this feature is still not support as tidb 2.1.6,and which version to support ROLLUP and CUBE

*************************** 1. row ***************************
tidb_version(): Release Version: v2.1.7
Git Commit Hash: f5b52cb9dc5a8a546121aa6ce1fc672bd567ca48
Git Branch: HEAD
UTC Build Time: 2019-03-28 07:54:41
GoVersion: go version go1.11.2 linux/amd64
Race Enabled: false
TiKV Min Version: 2.1.0-alpha

[2019-03-28 15:45] vkingnew commented on #9760
this feature is fixed by TiDB version 2.1.7:

Query OK, 0 rows affected (0.00 sec)
mysql> CREATE TABLE t1 (id bigint, remark varchar(255));
Query OK, 0 rows affected (0.08 sec)
mysql> INSERT INTO t1 (id,remark) VALUES (1,REPEAT('汉',255));
Query OK, 1 row affected (0.11 sec)
mysql> select tidb_version()\G
*************************** 1. row ***************************
tidb_version(): Release Version

[2019-03-28 15:46] vkingnew commented on #4250
this feature is still not support as tidb 2.1.7,and which version to support ROLLUP and CUBE

*************************** 1. row ***************************
tidb_version(): Release Version: v2.1.7
Git Commit Hash: f5b52cb9dc5a8a546121aa6ce1fc672bd567ca48
Git Branch: HEAD
UTC Build Time: 2019-03-28 07:54:41
GoVersion: go version go1.11.2 linux/amd64
Race Enabled: false
TiKV Min Version: 2.1.0-alpha

[2019-03-28 15:46] shenli commented on #9941
@vkingnew Thanks for your feedback!
`uuid_short` is [still missing](https://github.com/pingcap/tidb/blob/master/expression/builtin_miscellaneous.go#L991). But I think this is not difficult to implement.

[2019-03-28 16:01] vkingnew opened #9943 "Could you provide an example to load big dataset like Percona?"
Always to test tidb performance by POC,sometimes we will use the production data,sometimes we can use public dataset such as  ONTIME,like percona. the Genaral data format is CSV,could you provide an example like Percona-lab which used for TiDB.
https://github.com/Percona-Lab/ontime-airline-performance/tree/master/mysql

[2019-03-29 01:13] jackysp commented on #9943
I think TiDB could also use the same data set as Percona.

[2019-03-29 01:56] vkingnew opened #9945 "recovery data from TiDB 2.1.1 to TiDB2.1.7 error by mydumper and loader"
--TiDB version:

mysql> select tidb_version()\G
*************************** 1. row ***************************
tidb_version(): Release Version: v2.1.7
Git Commit Hash: f5b52cb9dc5a8a546121aa6ce1fc672bd567ca48
Git Branch: HEAD
UTC Build Time: 2019-03-28 07:54:41
GoVersion: go version go1.11.2 linux/amd64
Race Enabled: false
TiKV Min Version: 2.1.0-alpha.1-ff3dd160846b7d1aed9079c389fc188f7f5ea13e
Ch

[2019-03-29 02:39] morgo commented on #9943
The tidb manual uses public bikeshare as a sample database.

I have started using ontime myself, I think it is a good dataset. Here is a blog post I wrote about it today: https://pingcap.com/blog/introduction-to-analytics-queries-for-the-mysql-dba/

[2019-03-29 02:45] morgo commented on #9943
Here is the manual link for bike share: https://pingcap.com/docs/bikeshare-example-database/ - look at the using explain page for example to see it in use

[2019-03-29 02:45] jackysp commented on #9945
The latest TiDB version added a config
https://github.com/pingcap/tidb/blob/release-2.1/config/config.toml.example#L52
which will more strictly check the utf8 characters. I think there are some `incorrect utf8 value ` in the backup data.
For a workaround way, I think you can turn it to false, then restart the tidb-server.

[2019-03-29 03:01] morgo commented on #9941
This is a duplicate of https://github.com/pingcap/tidb/issues/4620

I actually think it is not trivial, because TiDB does not have a short `server_id`-like concept. We can not make this for the user to handle either, since `set global server_id=x` propagates to all nodes in the cluster.

[2019-03-29 04:12] RosenTang opened #9950 "SQL excute error,connect interrupt:[Err] 2003 - Can't connect to MySQL server on '***.***.***.***' (10038)"
Environment
CPU:8
Memory：32GB
TiDB version：2.1
excute normal:
SELECT COUNT(*) FROM (SELECT COUNT(*) FROM `operation_all_hour_report_2019_02` `opr` WHERE ( `opr`.`create_time` >= 1548972000 ) AND ( `opr`.`create_time` <= 1550592000 ) GROUP BY `create_hour`, `adv_id`,    `aff_id`, `camp_id`, `event_id`, `source_id` ) t;

Please see the "???" place,connect session was reconnect.  I think this error w

[2019-03-29 06:48] vkingnew commented on #9945
the official advice，by test it works.

[2019-03-29 06:49] vkingnew commented on #9943
Good work,i will try.

[2019-03-29 07:20] #9710 closed

[2019-03-29 09:57] #9667 closed

[2019-03-29 10:05] shenli commented on #9950
@RosenTang Is the query plan the best one? You can tell it from the `explain` statement.

[2019-03-29 10:51] qw4990 commented on #9711
This is fixed by #9884

[2019-03-29 10:51] #9711 closed

[2019-03-29 10:54] RosenTang commented on #9950
@shenli Thank you! I know what's happened,that db roles server was not enough memory,use high memory server was success.

[2019-03-29 11:38] xiekeyi98 opened #9957 "JSON_CONTAIN is not same with mysql."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

## In MySQL
[code]

3. What did you see instead?
## In TiDB

[code]
4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-03-29 11:40] vkingnew commented on #9941
In deed TiDB no server-id parameters,so i ask “any other functions like uuid_short()?”，better to have a similar function 。

[2019-03-29 11:46] vkingnew commented on #9772
the configure file is yaml,right way:

skip-grant-table : true

[2019-03-29 15:32] Cavinlz opened #9958 "How to read all the data in TiDB quickly"
有种场景需要快速遍历TiDB里的所有数据， 请问能通过什么方法拿到Region 的数据分布信息么？以便于可以多线程根据不同region 去遍历数据。比如 Mongo 集群里 我们可以通过查询chunk的分块信息， 不知道TiDB是否也支持类似的方法。 谢谢

[2019-03-30 03:27] #9770 closed

[2019-03-30 04:47] #9775 closed

[2019-03-30 10:34] #9715 closed

[2019-03-30 11:00] wjhuang2016 commented on #9957
The root problem is that we didn't check the validity when use something as a JSON.
In TIDB:
[code]
In MySQL 8.0.15:
[code]

In `JSON_TYPE()`, we set the input type as json then cast it without checking.
We should be careful when turn other types into json.

[2019-03-30 12:11] #9748 closed

[2019-03-30 13:22] morgo commented on #9957
I seem to remember this is fixed in https://github.com/pingcap/tidb/pull/7727

The original PR submitter is marked as busy. I am wondering if someone can take over and submit?

[2019-03-30 13:25] morgo commented on #9903
@denghuancong Yes, `SET GLOBAL time_zone` will propagate to other TiDB nodes and persist.  The `SET time_zone` will only apply to your session.

[2019-03-30 13:30] morgo commented on #9941
@vkingnew `uuid_short` pseudo-guarantees uniqueness in a very small data type. I am not sure it is so useful if it requires a larger data type, or does not offer uniqueness.  Here is the formula that MySQL uses:
[code]

[2019-03-30 13:49] wjhuang2016 commented on #9957
[code]
It seems that only a json or a string could be a valid input, and they will be checked after.
Then we may need to add such code for evey json functions

[2019-03-30 16:35] vkingnew opened #9961 "Does TiDB support incremental backup and restore ?"
If TiDB storage too many data,sometimes need to backup Incremental data to save backup and recovery time and storage space. Does TiDB have a tool to support incremental backup and restore? And it's easy to use and understand.

[2019-03-31 02:31] zz-jason commented on #9958
@Cavinlz To retrieve all the data of a table, you can simple write a sql like:
[code]

To increase the read concurrency and retrieve latency, you can execute the following sql:
[code]

[2019-03-31 02:44] shenli commented on #9961
@vkingnew You can refer to the [binlog component](https://pingcap.com/docs/tools/tidb-binlog-cluster/).

[2019-03-31 02:46] winkyao opened #9962 "Privilege check failed error to be consistent with MySQL"
https://github.com/pingcap/tidb/blob/master/planner/core/planbuilder.go#L1208

visitInfo.err is used to return to the client when the privilege check is failed. we should keep the error message consistent with MySQL, using `nil` will return only `privilege check fail`

[code]

[2019-03-31 02:50] zz-jason commented on #9962
I think this issue is duplicated with https://github.com/pingcap/tidb/issues/8946, @morgo PTAL

[2019-03-31 07:18] zz-jason commented on #4436
close due to fixed.

[2019-03-31 07:18] #4436 closed

[2019-03-31 15:09] crazycs520 opened #9965 "Support not null ScalarFunction."
## Feature Request

**Describe the feature you'd like:**

Currently, TiDB Don't have `not null` ScalarFunction, the implementation of `not null` is `not (is null)`.

Separate implementation of `not null` must be better than the composed of two 2 ScalarFunction.

Next step: implement `not null` in TiKV coprocessor and push down.

[2019-04-01 02:36] Xuanwo commented on #8827
While building tidb 2.1.7, I still facing the `checksum mismatch` error.

[code]

I built it with following command:

[code]

Maybe we should do `go clean -modcache` and `go mod tidy` to fix the sum?

@tiancaiamao

[2019-04-01 03:27] XuHuaiyu opened #9968 "support eliminating group_concat when group-by-items contain at least one unique column"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Group_concat will not be eliminated after #9967 , and the reason is mentioned in that PR.

**Describe the feature you'd like:**
Considering system variable `group_concat_max_len` in CONCAT_WS if it's introduced when eliminating group_concat.
When all the arguments accepted by group_concat are promised to be **no

[2019-04-01 04:21] #9922 closed

[2019-04-01 05:10] WangXiangUSTC commented on #9734
fixed in https://github.com/pingcap/tidb/pull/9933

[2019-04-01 05:10] #9734 closed

[2019-04-01 05:24] nitins64 opened #9971 "tidb drainer source code"
Hi there,

I am looking into change capture capabilities (API) for TiDB. Is seems drainer role reads the bin log and can export the mutation to an external system?

Could you point me to source code for drainer?

Thanks!

[2019-04-01 05:41] leshalv opened #9972 "Syncer sync time zone issue"
将阿里云RES 数据同步到下游TIDB 时区不对，差十二小时，上游和下游数据库时区经过验证一致同为UTC +8，从上游全量导出并导入到下游数据正确，我怀疑是Syncer原因导致和造成的此问题，希望能尽快修复，已经影响到了生产，大范围，其中上游数据库时间字段类型为 timestamp

[2019-04-01 06:08] zimulala commented on #9972
@leshalv Thanks for your feedback!
PTAL @lonng

[2019-04-01 06:56] lonng commented on #9972
Could you provide the timezones of upstream and downstream?

[2019-04-01 07:00] leshalv commented on #9972
China Standard Time UT+8:00

[2019-04-01 07:05] csuzhangxc commented on #9972
can you provide more information? like:

1. Syncer version
2. some binlog events with timestamp (output of `SHOW BINLOG EVENTS` or mysqlbinlog)

[2019-04-01 07:08] leshalv commented on #9972
![image](https://user-images.githubusercontent.com/30397655/55309280-e45f0600-548f-11e9-8b05-89275b8117f0.png)

[2019-04-01 07:17] csuzhangxc commented on #9972
can you show a record both with `SELECT` and `SHOW BINLOG EVENTS` (or mysqlbinlog)

[2019-04-01 07:23] csuzhangxc commented on #9972
and another question

which one is greater? TiDB > MySQL or MySQL > TiDB?

so, can you show some example records?

[2019-04-01 07:31] leshalv commented on #9972
MySQL正确，TIDB少12小时

[2019-04-01 07:32] leshalv commented on #9972
你能帮我写个关于带有时间戳的biglog语句吗

[2019-04-01 07:45] csuzhangxc commented on #9972
I mean you can get the original binlog event data by `SHOW BINLOG EVENTS` or mysqlbinlog tool, like (**only example below, please know what you are doing**)
- ```SHOW BINLOG EVENTS in 'mysql-bin.000003';```
- ```mysqlbinlog --base64-output=decode-rows --verbose mysql-bin.000003```

another question, what's the timezone of your machine running Syncer?

[2019-04-01 07:47] leshalv commented on #9972
运行Syncer的时区是China Standard Time UT+8:00

[2019-04-01 07:50] leshalv commented on #9972
![image](https://user-images.githubusercontent.com/30397655/55311534-c98f9000-5495-11e9-91c0-810c1c143ade.png)

[2019-04-01 07:55] csuzhangxc commented on #9972
is there timestamp column exists in `uaa_miro_db.jhi_persistent_audit_event`?
if so, you can provide **one special record** with the following information:

1. output of `mysqlbinlog --base64-output=decode-rows --verbose`
2. output of `SELECT` in upstream MySQL
3. output of `SELECT` in downstream TiDB

[2019-04-01 08:51] #9831 closed

[2019-04-01 09:00] winoros commented on #9885
@breeswish
The following is the HTTP API result:
[code]
Is the `flow_bytes`, `max_hot_degree`, `region_count` useful?

[2019-04-01 09:15] tiancaiamao commented on #8827
Now we use Go1.12 https://github.com/pingcap/tidb/blob/master/circle.yml#L6
@Xuanwo

[2019-04-01 09:17] leshalv commented on #9972
# at 73429
#190331 22:21:39 server id 1924496971  end_log_pos 73623 CRC32 0x6c2a21d3 	Table_map: `appointment_micro_db`.`appointment` mapped to number 101
# at 73623
#190331 22:21:39 server id 1924496971  end_log_pos 74055 CRC32 0xf4d81b04 	Write_rows: table id 101 flags: STMT_END_F
### INSERT INTO `appointment_micro_db`.`appointment`
### SET
###   @1='65239222-db68-49f3-8cff-baa678f93f06'
###   @

[2019-04-01 09:26] csuzhangxc commented on #9972
which column in this table (``` `appointment_micro_db`.`appointment` ```) has a timestamp type?

I don't find it, only `@9='2019-04-01'`/`@13='08:04:00'`/`@14='08:04:00'` are similar, but I think they are not.

can you provide the output of ``` SHOW CREATE TABLE `appointment_micro_db`.`appointment` ```

[2019-04-01 09:32] breeswish commented on #9885
@winoros Yes! Maybe it's useful? Can we know the index if index region is in the hot region?

[2019-04-01 09:44] leshalv commented on #9972
[code]

[2019-04-01 09:51] xuanyusa opened #9974 "I defined a table field as varchar(50), but I got 66 when I query field length with ResultSetMetaData .getPrecision()"
## Bug Report

I create a table named t_test with statement ,
[code]
 then I use jdbc driver to get the fields metadata of table t_test,
[code]
I get a number 66.But when I do this in mysql, I get a number 50.
my tidb_version() is
[code]

and my mysql driver version is `mysql-connector-java-5.1.52.jar`

[2019-04-01 09:55] csuzhangxc commented on #9972
from this table schema, type of `created_date`/`last_modified_date`/`op_time`/`modify_time` is timestamp.

1. compare it to the binlog event above, `###   @34=` is `NULL`, but ``` `created_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP ```, have you alter `created_date` from `NULL` to `NOT NULL`?

2. can you provide a records both in upstream and downstream with `id

[2019-04-01 10:00] leshalv commented on #9972
我对提交上去的binlog进行了更改，有些信息删除了

[2019-04-01 10:02] leshalv commented on #9972
tidb binlog如何查询呢？查询id为 65239222-db68-49f3-8cff-baa678f93f06 的binlog ，能给个demo吗？

[2019-04-01 10:03] csuzhangxc commented on #9972
can you provide values for `created_date/last_modified_date/op_time/modify_time` :
1. binlog event
2. upstream MySQL
3. downstream TiDB

no need to query values in TiDB binlog, `SELECT` from table is enough.

[2019-04-01 10:09] leshalv commented on #9972
字段太多，我只给你提供日
![image](https://user-images.githubusercontent.com/30397655/55320278-48da8f00-54a9-11e9-9854-3694b13b5369.png)

[2019-04-01 10:16] Xuanwo commented on #8827
Does this commit included in `v2.1.7`?

Arch uses `go 1.12.1` to build.

[2019-04-01 10:32] csuzhangxc commented on #9972
these four column's values in
1. binlog event
2. upstream MySQL
3. downstream TiDB

[2019-04-01 10:43] leshalv commented on #9972
![image](https://user-images.githubusercontent.com/30397655/55321661-d53a8100-54ac-11e9-8ab5-377735f2889c.png)
![image](https://user-images.githubusercontent.com/30397655/55321718-eedbc880-54ac-11e9-888e-c3015b65ac21.png)

binlog对应：
 created_date: 1554042099
 last_modified_date: 1554042099
 op_time: 1554041815
 modify_time: 1554041815

[2019-04-01 10:57] csuzhangxc commented on #9972
what is the output of `SELECT @@GLOBAL.time_zone, @@SESSION.time_zone;` in downstream and upstream?

[2019-04-01 13:13] #4205 closed

[2019-04-01 13:25] tiancaiamao commented on #8827
No, `v2.1.7` is using `go 1.11.3` @Xuanwo
https://github.com/pingcap/tidb/blob/v2.1.7/circle.yml#L6

[2019-04-01 13:38] #9513 closed

[2019-04-01 16:03] morgo commented on #2751
Confirming this still occurs in master.  I've modified the test case slightly, since it needs `only-full-group-by` disabled:

[code]

[2019-04-01 16:29] zz-jason commented on #4903
Yeah, now we only have plan cache for prepare statements.

No there isn't. The plan cache for prepare statements is in the session level. Adding a table in the `information_schema` is a good idea to store all the cached plans and prepare statements for all sessions. For example, store at least these information for each cached plan:
- session id
- query statement
- cached plan for that statement

[2019-04-01 16:40] morgo commented on #8087
This looks like it will be hard to fix.  TiDB depends on Go's time package, which is case sensitive.  Earlier bugs suggesting insensitivity have been rejected: https://github.com/golang/go/issues/21512

[2019-04-01 17:30] morgo commented on #4903
OK!  I think I should leave this issue open, since it's possible to cache plans for unprepared statements too.

[2019-04-01 17:42] kolbe commented on #6900
There hasn't been any reply on this issue in almost a year, so I'm going to close it now. @alexv1 if you are still seeing this issue, please re-open.

[2019-04-01 17:42] #6900 closed

[2019-04-02 00:44] leshalv commented on #9972
![image](https://user-images.githubusercontent.com/30397655/55368089-9f37e400-5522-11e9-950a-136ce06ec06d.png)
![image](https://user-images.githubusercontent.com/30397655/55368115-c55d8400-5522-11e9-9747-8992b88c8909.png)
![image](https://user-images.githubusercontent.com/30397655/55368242-6fd5a700-5523-11e9-8bf1-91ed8456143d.png)

老哥，我们的时间都是标准的啊

[2019-04-02 01:58] csuzhangxc commented on #9972
can you also provide these?

[2019-04-02 01:59] leshalv commented on #9972
能给我个命令吗？

[2019-04-02 02:01] csuzhangxc commented on #9972
execute `date` in a terminal

[2019-04-02 02:03] leshalv commented on #9972
![image](https://user-images.githubusercontent.com/30397655/55370843-88978a00-552e-11e9-8b81-52d359bd2ae9.png)

阿里云RDS看不了终端，但是我们是青岛机房，默认中国标准时间，且源数据没毛病

[2019-04-02 02:05] csuzhangxc commented on #9972
what is the output in the machine which is running Syncer?

[2019-04-02 02:06] leshalv commented on #9972
就是上面这个，我们部署在一台服务器

[2019-04-02 02:35] csuzhangxc commented on #9972
can you provide the output of
[code]
both in MySQL and TiDB?

[2019-04-02 02:38] leshalv commented on #9972
![TIDB](https://user-images.githubusercontent.com/30397655/55372166-56d4f200-5533-11e9-9dce-d5106c19338b.png)

![阿里云](https://user-images.githubusercontent.com/30397655/55372182-694f2b80-5533-11e9-8c2c-13cf3eebc14c.png)

[2019-04-02 02:47] xiekeyi98 opened #9982 "JSON Columns order is not same with MySQL."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
2. What did you expect to see?
## In MySQL
[code]

3. What did you see instead?
## In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-04-02 02:47] qw4990 commented on #9971
PTAL~ @lonng

[2019-04-02 02:50] xiekeyi98 opened #9983 "desc table case is not same with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
## In MYSQL
[code]

3. What did you see instead?
## In TiDB
[code]

[2019-04-02 02:57] lonng commented on #9971
@nitins64 Hi, I am sorry for telling you that you could not get the drainer source code because of related projects have not open source.

[2019-04-02 03:01] morgo commented on #5189
A test-case to show what MySQL is capable of:

[code]

By contrast, TiDB will only use an index on the last query (`regular_int`).

[2019-04-02 03:15] Xuanwo commented on #8827
Got it.

[2019-04-02 03:15] #8827 closed

[2019-04-02 03:35] xiekeyi98 opened #9984 "json_contains_path is not same with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
## In MySQL
[code]

3. What did you see instead?
## In TiDB
[code]

[2019-04-02 05:14] xiekeyi98 opened #9986 "json_remove is not same with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
## In MySQL
[code]

3. What did you see instead?

## In TiDB
[code]

[2019-04-02 05:16] winoros commented on #9885
@breeswish
What does `if index region is in the hot region` mean?

[2019-04-02 05:25] xiekeyi98 opened #9988 "JSON data type does not support custom types (i.e. MySQL types)"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
## In MySQL
[code]

3. What did you see instead?

## In TiDB
[code]

## SIG slack channel

 [#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-perfor

[2019-04-02 05:30] xiekeyi98 commented on #9988
Others may be tested too:
[code]

[2019-04-02 05:45] #9713 closed

[2019-04-02 05:49] xiekeyi98 opened #9989 "json_key is not same with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
## In MySQL
[code]

3. What did you see instead?
## In TiDB
[code]

[2019-04-02 05:56] xiekeyi98 opened #9991 "JSON_EXTRACT is not same with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
## In MySQL
[code]

3. What did you see instead?
## In TiDB
[code]

[2019-04-02 05:59] xiekeyi98 commented on #9991
[code]
Also should be tested.

[2019-04-02 06:05] tshqin commented on #9807
pls reopen the issue, MySQL prints the nothing 'null', not the character 'NULL'. TiDB prints character 'NULL'.
Can't pass the check of "Attunity" by the same reason.

MySQL 5.7.20

[2019-04-02 06:52] erjiaqing commented on #9982
Is this really a bug?

[RFC 7159](https://tools.ietf.org/html/rfc7159#section-1) says:

[MySQL Document](https://dev.mysql.com/doc/refman/8.0/en/json.html) says:

MySQL does not guarantee that the key of an object is in some order.

[2019-04-02 07:07] xiekeyi98 commented on #9982
yep, thanks.

Maybe this issue will be not fixed and close this issue is better?

There is another similiar situation.
I can be sure that the situation below is not a bug, but I am not sure about this issue.

## In MySQL
[code]

## In TiDB
[code]

[2019-04-02 07:22] csuzhangxc commented on #9972
Can you:
1. download our latest version from <http://download.pingcap.org/tidb-enterprise-tools-latest-linux-amd64.tar.gz>
[code]
2. add a new config item `timezone = "Asia/Shanghai"` to the config file
3. re-sync the data using this new Syncer
4. observe the timestamp values whether are correct in downstream

[2019-04-02 07:24] xiekeyi98 opened #9995 "json_object with repeat a long num is wrong."
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
### In MySQL
[code]
**( AS 64 * 1024 , is too long , will not print in here).**

3. What did you see instead?
## In TiDB
[code]

## SIG slack channel

 [#sig-exec](https://slack.tidb.io

[2019-04-02 07:25] erjiaqing commented on #9986
Maybe this is same as https://github.com/pingcap/tidb/issues/9982

[2019-04-02 07:27] xiekeyi98 opened #9996 "json_array with base64 is not same with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
2. What did you expect to see?
## In MySQL
[code]

3. What did you see instead?
## In TIDB
[code]

[2019-04-02 07:29] erjiaqing commented on #9982
Following words comes according to this post https://dba.stackexchange.com/questions/6051/what-is-the-default-order-of-records-for-a-select-statement-in-mysql

In SQL92 spec:

And the order of MySQL is different among different storage engines.

[2019-04-02 07:35] erjiaqing commented on #9991
[code]

According to RFC7159:

   that all software implementations receiving that object will agree on
   the name-value mappings.  When the names within an object are not
   unique, the behavior of software that receives such an object is
   unpredictable.  Many implementations report the last name/value pair
   only.  Other implementations report an error or fail to parse the
   object, and som

[2019-04-02 07:39] superlzs0476 commented on #8681
This requested feature has a lower priority and no plans.

[2019-04-02 07:42] xiekeyi98 commented on #9991
Thanks.
Well, Should we keep the same with RFC7159, or Mysql 5.7 or MySQL8.0?

[2019-04-02 07:54] fengzhao commented on #8681
@superlzs0476  为什么这个需求的优先级就不考虑了呢？

[2019-04-02 07:57] vkingnew commented on #9943
could you show the code how to download the dataset and how to load the data,and total linenumers of ONTIME ,and how much time to run your  SQL?

[2019-04-02 07:59] shenli commented on #8681
@fengzhao The tidb-vision is not production ready and we do not have enough hands to maintain it.

[2019-04-02 08:13] powqabc opened #9997 "Data truncation: BIT value is out of range in '(1)'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
tidb从2.0.11升级到2.1.6后。mysql表中有个字段类型是bit(1)，然后通过otter同步到tidb表是报错，**nested exception is com.mysql.jdbc.MysqlDataTruncation: Data truncation: BIT value is out of range in '(1)'。**
只要存在bit(1)类型字段的表都报错了，具体的报错信息如下：
pid:1141 nid:91 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException:

[2019-04-02 08:24] xiekeyi98 commented on #9986
@erjiaqing  is right, close this issue.

[2019-04-02 08:24] #9986 closed

[2019-04-02 08:25] xiekeyi98 commented on #9982
@erjiaqing
Bravo.
I will close this issue.
Thank you!

[2019-04-02 08:25] #9982 closed

[2019-04-02 09:00] breeswish commented on #9885
Sorry for my typo. I was asking, can we know that particular index is the cause of hot region? If we can know it from the API you give, then it's fine!

[2019-04-02 09:10] xiekeyi98 commented on #9991
The comment what different.

![image](https://user-images.githubusercontent.com/7782671/55390548-06c55200-556a-11e9-84b1-a8b30512ad9e.png)
![image](https://user-images.githubusercontent.com/7782671/55390596-15ac0480-556a-11e9-9956-0fb3edc7f18c.png)

[2019-04-02 09:17] xiekeyi98 commented on #9991
[code]

## In Mysql
[code]

## In TiDB
[code]

[2019-04-02 09:29] #9915 closed

[2019-04-02 10:32] xiekeyi98 opened #9999 "json cast for enum is not same with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

## In MySQL

[code]

3. What did you see instead?

## In TiDB
[code]

[2019-04-02 10:37] xiekeyi98 commented on #9999
[code]
Also should be tested.

[2019-04-02 12:26] eurekaka commented on #8563
@morgo you can try latest master branch to check if this problem is fixed or not. Note that, the fix can only improve null estimation for single-column index, so to make the fix work for this issue, you have to add a single-column index for column `a.b_id`.

[2019-04-02 12:30] zz-jason commented on #8563
@eurekaka for composite index, can we maintain the null count for each prefix index? for example, a composite index (a, b, c), we can maintain 3 null counts:
1. null count for (a)
2. null count for (a, b), where a=null and b = null
3. null count for (a, b, c), where a=null and b=null and c=null

[2019-04-02 12:38] eurekaka commented on #8563
@zz-jason yes, this is a feasible approach, but we have to modify the storage of histograms, because we only use one int field to store the `NullCount` of indexes.

[2019-04-02 13:25] morgo commented on #9943
I use [this script for importing](https://github.com/Percona-Lab/ontime-airline-performance/blob/master/mysql/loaddata.sh) with only small modifications to correct paths.  Note that it requires TiDB 3.0 Beta 1, because earlier versions did not support the syntax `OPTIONALLY ENCLOSED BY`.

[2019-04-02 13:51] morgo commented on #8563
@eurekaka confirming it is not fixed:
[code]

[2019-04-02 14:02] AndrewDi commented on #9995
@xiekeyi98 I found binary key length is short int type, so that `KeyLen >= 65536` will overflow.
[code]
I think we may need to change Length from unsigned int16 to unsigned int32 to resolve this problem, but this may affect the basic binary protocol.

[2019-04-02 14:44] morgo commented on #9991
I think it's more important to have the MySQL 8.0 behavior here. MySQL 8.0 changed to last-value wins because it is more common among JSON implementations.

[2019-04-02 15:21] morgo commented on #1620
I have verified that this now works in TiDB. I started the `tidb-server` first, and observed as it wrote to the log file each second while attempting to connect to pd:
[code]

[2019-04-02 15:21] #1620 closed

[2019-04-02 15:40] morgo commented on #9941
I am going to close this issue to reduce duplication with https://github.com/pingcap/tidb/issues/4620

Please feel free to re-open if you have any further questions.  Thanks!

[2019-04-02 15:40] #9941 closed

[2019-04-02 16:10] wjhuang2016 commented on #9996
`type16` here is special in MySQL to distinguish binary literal from other opaque types.
Since we didn't introduce these types from MySQL, we can only hard code it to 16 presently.
Besides, in MySQL 8.0.15, its type is 15.

[2019-04-02 17:44] kolbe opened #10009 "TiDB Server should check for errors writing to logs"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB Server does not do robust checking to make sure log writes are successful.

It's possible to give a nonsensical argument to --log-file, and TiDB Server will start without complaint and effectively discard all log writes.

#9994 is a stopgap to resolve the issue of an unwritable log file on startup, but we

[2019-04-03 02:02] ericisme opened #10011 "how to try titan store engine in recent tidb cluster"
i have an tidb cluster in production env,

after i readed the article Titan 的设计与实现 (https://www.pingcap.com/blog-cn/titan-design-and-implementation/), than i want to try it.

but there some question i want to know before i do it,

as the article says,:

"在 TiKV 中使用 Titan
目前 Titan 在 TiKV 中是默认关闭的，我们通过 TiKV 的配置文件来决定是否开启和设置 Titan，相关的配置项包括 [rocksdb.titan] 和 [rocksdb.defaultcf.titan]， 开启 Titan 只需要进行如下配置

[2019-04-03 02:39] shenli commented on #9997
@powqabc Could you tell us how to reproduce this issue?

[2019-04-03 02:43] xiekeyi98 commented on #9995
@coocood  PTAL, Thanks.

[2019-04-03 02:49] xiekeyi98 commented on #9984
Close this issue due to be fixed.

[2019-04-03 02:49] #9984 closed

[2019-04-03 02:50] qw4990 commented on #10011
@ericisme Thanks for your feedback, but maybe it's better to ask this question at [TiKV](https://github.com/tikv/tikv) repository.

[2019-04-03 03:16] ericisme commented on #10011
@qw4990 ok thanks, i will ask it at TiKV repository.

[2019-04-03 03:17] #10011 closed

[2019-04-03 05:12] vkingnew commented on #9943
Thanks,In TiDB 2.1.7  the data which loaded  into tidb display error format by Percona's  script.
And support tidb 2.1.7 upgrade to 3.0 Beta 1？

[2019-04-03 05:31] fengzhao commented on #8681
@shenli  可以吧，你开源你说了算。

[2019-04-03 06:29] winkyao opened #10017 "Do the bootstrap only in the owner node."
We will do some DDL and DML works when the cluster is not bootstrapped.

https://github.com/pingcap/tidb/blob/master/session/bootstrap.go#L252

But if we start multi tidb notes on a new cluster, it will do the same bootstrap works in all the notes. Which will cause write conflict and some errors.

Actually, the DDL is only handled by the owner note, so we can figure out whether the node is the own

[2019-04-03 07:31] ngaut opened #10020 "Remove error.Trace in hot path"
Currently, we are using error.Trace call in some hot path which is very slow, this is a profile while i was load a csv file, the csv file came from:
https://toddwschneider.com/posts/analyzing-1-1-billion-nyc-taxi-and-uber-trips-with-a-vengeance/

It sounds like these errors are cast warnings, we should remove the trace call.

[code]

[2019-04-03 07:35] ngaut commented on #10020
More hot path.

[code]

[code]

[code]

[2019-04-03 08:45] winoros opened #10024 "Use SQL to get the DDL owner info."
## Feature Request

**Is your feature request related to a problem? Please describe:**

currently there's builtin function can know whether the TiDB which the client is connected is DDL owner. But cannot get which one is owner.

**Describe the feature you'd like:**

Implement a builtin function `tidb_ddl_owner()`. It can return the IP:PORT information and label information if exists .

[2019-04-03 09:16] zimulala commented on #10024
@winkyao  Now we have the SQL of `admin show ddl`. Could this SQL meet your needs?
[code]

[2019-04-03 09:38] ke-pan commented on #9811
Hi, want to confirm the expectation here.

Context:
1. According to the document, the first arg of `ADDTIME` should be time or datetime, not date.
2. the behavior is the same as MySQL 5.7

so what's the expectation of the function:
1. return an error, cause the document says first arg shouldn't be date
2. although it is date, take it as DateTime
3. keep it as it is,  same behavior as MySQL

needs

[2019-04-03 10:18] eurekaka commented on #8563
@morgo

Could you please add a single-column index on `a.b_id` and check if the fix works?

[2019-04-03 10:42] eurekaka opened #10027 "enhance ranger to choose more prefix columns when building ranges"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]

**Describe the feature you'd like:**

The second query should push `s.d = t.a` down to be part of access conditions like the first query.

**Describe alternatives you've considered:**

No

**Teachability, Documentation, Adoption, Migration Strategy:**

It can improve performance for this kind of query.

[2019-04-03 11:32] haplone opened #10028 "update table privilege error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

use root execute these sqls:
[code]
then use user haha update
[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on

[2019-04-03 12:37] ian-p-cooke commented on #9425
I'd like to get back to this over the weekend.  Can you explain why you exclude DDL statements from being prepared?  It appears to work without any modifications.

[2019-04-03 14:03] morgo commented on #8563
Yes, this fixes it. Sorry, I missed your instruction in the earlier comment to do this :-)

[2019-04-03 15:10] #10020 closed

[2019-04-03 17:45] kennytm commented on #3834
This is no longer reproducible, I think some of the recent parser improvement has fixed this already. (Release Version: v3.0.0-beta.1-46-gad752611c)

[2019-04-03 19:04] morgo commented on #8563
I am going to close this issue.  Adding a single-column index on `a.b_id` is an acceptable solution.

[2019-04-03 19:04] #8563 closed

[2019-04-03 22:55] morgo commented on #9161
@gregwebs there is no use case, but the edge cases need to be defined in the specification since applications have bugs etc.  It is likely that this MySQL chose this behavior to avoid the need for deadlock detection. It is less relevant here because the lock is non-granular.

[2019-04-04 01:56] csuzhangxc commented on #9972
@leshalv have you tried the new version? Is it working correctly now?

[2019-04-04 02:49] jackysp commented on #3834
Thanks, @kennytm !
Closed.

[2019-04-04 02:49] #3834 closed

[2019-04-04 02:50] eurekaka commented on #8563
@morgo thanks.

@zz-jason I revisited the approach mentioned for composite index

it can solve the problem in this issue without forcing to add single-column index on `a.b_id`, but for other queries like `where a = 1 and b is null`, we cannot utilize any null counts maintained.

Currently, for the above 3 null counts, only `null count for (a)` is useful actually because we are not treating `is nul

[2019-04-04 02:52] zz-jason commented on #8563
Got it.

[2019-04-04 03:04] BusyJay opened #10037 "ticlient doesn't make request in a round-robin fashion any more"
In the past, ticlient will try to make requests to all the followers when leader is unable to be connected. But due to pingcap/tidb#6880, it will not try to connect followers anymore.

Note that the a region can still elect a new leader and serve requests within the isolation of PD. So just depending on information in PD may keep TiDB out of service for an unnecessary long time in extreme conditio

[2019-04-04 03:06] shenli commented on #10037
@jackysp @tiancaiamao PTAL

[2019-04-04 03:07] BusyJay commented on #10037
Actually it's an old feature that was removed. :rofl:

[2019-04-04 04:29] jklofs opened #10041 "PD health check fails during deployment"
pd-ctl的health命令的结果和curl http://ip:2379/health健康结果不一样

使用tidb-ansible脚本start.yml进行启动tidb集群
执行命令：
[code]

结果：
![image](https://user-images.githubusercontent.com/24784965/55529612-cdf5bc00-56d4-11e9-832d-797cfe371d20.png)

执行pd-ctl -u http://10.100.249.234:2379

结果：
![image](https://user-images.githubusercontent.com/24784965/55529639-e960c700-56d4-11e9-8d70-71bec8c322b6.png)

执行curl http://10.100.249

[2019-04-04 07:43] winoros commented on #10024
@zimulala I've checked the code of its implementation. It will always show ip and port unless we're in standalone testing mode right?
I tested it in test mode and in cluster. It shows full information when is in cluster and only show port when it's in test mode.

[2019-04-04 07:48] lwlw217 opened #10045 "prometheus start with error"
1. 启动prometheus时报错：报错信息如下
level=error ts=2019-04-04T07:40:11.53411309Z caller=main.go:582 err="Error loading config couldn't load configuration (--config.file=/data/mysql/tidb/deploy/conf/prometheus.yml): parsing YAML file /data/mysql/tidb/deploy/conf/prometheus.yml: yaml: line 82: did not find expected key"
2. 查看配置文件/data/mysql/tidb/deploy/conf/prometheus.yml
![image](https://user-images.githubus

[2019-04-04 07:50] #9843 closed

[2019-04-04 07:50] zimulala commented on #10024
@winoros Yes.

[2019-04-04 08:34] zimulala commented on #10041
@jklofs
Thanks for your feedback!
PTAL @nolouch

[2019-04-04 09:26] qw4990 opened #10051 "expression: `unix_timestamp` is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In MySQL
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-04-04 09:48] qw4990 commented on #10051
The reason for this issue is below:
When building `unixTimestamp`, since the first argument is `string`, it will be cast to `datetime` by `builtinCastStringAsTimeSig`.
In `builtinCastStringAsTimeSig`, it will ignore `InvalidErr` and return `Null`.

[2019-04-04 09:50] winoros commented on #10024
confirmed by OPS
this can meet their needs

[2019-04-04 09:50] #10024 closed

[2019-04-04 10:11] lwlw217 opened #10052 "Offline TiKV nodes still shown in the Grafana"
问题描述：
tikv曾经做过故障演练：增加节点、删除节点，以及系统重装模拟服务器故障等操作。现有tikv为三节点，但是在grafana中显示出现了历史存在的节点。

如下图：
![image](https://user-images.githubusercontent.com/21055334/55547889-d8c84500-5704-11e9-9b6a-12a03448e867.png)

红色标注的都是已经下线的tikv节点。
更为严重的时tikv-dashboard中都有同样的问题。

[2019-04-04 10:19] wjhuang2016 commented on #10051
#9861 has discussed this problem.
As @kolbe pointed out, return `NULL` makes more sense than return 0.
Should we really need to reutrn 0 here?

[2019-04-04 14:44] #9784 closed

[2019-04-04 18:58] darren opened #10056 "bigint unsigned select problem"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]
2. What did you expect to see?

run against MySQL it returns

[code]

3. What did you see instead?

run agains TiDB it returns:

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiD

[2019-04-05 01:53] shenli commented on #10052
@wl21787 Thanks for your feedback!
@nolouch Could you take a look?

[2019-04-05 01:55] shenli commented on #10045
@wl21787 Have you change anything in yaml file before deploying the cluster?

[2019-04-05 01:56] shenli commented on #9974
@xuanyusa Could you try the latest master?

[2019-04-05 02:13] xuanyusa commented on #9974
You mean my version is low, the higher's behavior is same as mysql?

[2019-04-05 03:40] zhangjinpeng1987 commented on #10052
@wl21787 These offline TiKV nodes are still running or exited?

[2019-04-05 18:14] morgo commented on #318
We should also work with [google/oss-fuzz](https://github.com/google/oss-fuzz). They are looking for open source projects to work with, and have already [reported bugs in MySQL](https://github.com/google/oss-fuzz/issues/355).

[2019-04-05 18:18] morgo commented on #6807
This has been improved in the latest TiDB:
[code]

It is not identical to MySQL out of the box, as MySQL does not load the TZ tables by default.  But I think it is an improvement, and useful for applications.

I am going to close this issue now.  Thank you for the bug report.

[2019-04-05 18:18] #6807 closed

[2019-04-05 19:05] morgo commented on #6727
As winkyao suggested, TiDB-Binlog is the recommended tool to replicate between TiDB clusters.

I am going to close this issue now, but please feel free to re-open if you have any additional questions.  Thanks!

[2019-04-05 19:05] #6727 closed

[2019-04-06 14:22] hiqbn opened #10059 "Known Compatibility page not working"
This page
https://github.com/pingcap/tidb/blob/master/sql/mysql-compatibility.md
on
https://github.com/pingcap/tidb

is not found

also, auto increment counter supported? would like to chk out the difference between the two

[2019-04-06 14:26] morgo commented on #10059
This page is now [available here](https://github.com/pingcap/docs/blob/master/sql/mysql-compatibility.md).

[2019-04-07 12:57] AndrewDi commented on #9796
@morgo I think mysql's behavior is wired, when user didn't have privilge on a base table, it can create a view on it...

[2019-04-07 14:18] AndrewDi commented on #9735
@qw4990 I'm working on it...

[2019-04-07 15:03] morgo commented on #9796
The user must have a privilege, but that privilege does not need to be `select`. It could be `insert` instead.

[2019-04-08 00:19] swdee commented on #9033
I ran into this same problem today also where TiDB doesn't behave as MySQL does.

As per the document link @XuHuaiyu  quoted it states;

[code]
This is commonly used to select a random number of rows from a table.

@dbjoa a reproducible scenario is;

Create schema and insert values
[code]

Then randomly select 2 rows from table tmprand
[code]
When running the above select query multiple times TiDB

[2019-04-08 02:45] qw4990 commented on #9735
Thanks for your contribution 😸

[2019-04-08 02:51] fkpwolf commented on #6942
For MySql Workbench 8.0, there is no way to change character-set. Have to switch to Sequel Pro.

[2019-04-08 03:05] wl21787 commented on #10045
My yaml file(inventory.ini) like this:
![image](https://user-images.githubusercontent.com/21055334/55696107-17ece380-59ee-11e9-9ca2-3200acd3d582.png)

[2019-04-08 03:08] wl21787 commented on #10052
离线的tikv节点是我故障演练的时候故意造成的。也就是说已经退出了。

[2019-04-08 03:10] lysu commented on #9033
@WangXiangUSTC @swdee

maybe we can workaround by use sub query like this `select a from (select a, rand() r from t order by r) tt` if we need it in the current version.

it seems to miss a project in plan result:

[code]
it should be like this:

[code]

[2019-04-08 03:15] wl21787 commented on #10052
我升级版本到v2.1.7，offline tikv 节点的显示信息已经正常了。
![image](https://user-images.githubusercontent.com/21055334/55696404-62bb2b00-59ef-11e9-913d-d765e80e3ec7.png)

但是leader balance ratio 和 region balance ratio显示依然是100%
![image](https://user-images.githubusercontent.com/21055334/55696432-7f576300-59ef-11e9-8cca-394254d751a5.png)

[2019-04-08 04:10] swdee commented on #9033
@lysu yes, that sub query workaround does the job.

In my case the dataset was small and doesn't change much so I worked around it by caching the table in
 memory in the application, from which random entries are selected.

[2019-04-08 06:27] XSHui opened #10062 "Question about NODE_disk_read_latency_more_than_32ms"
## General Question

Alert Rules :
[code]
[code]

Questions:

1. In Line 89  and line 101 you use rate/rate to get latancy,  but I think the result should be a multiple instead of a millisecond;

2. Why did you use 16 and 32, we use the alert rules and have got a lot of alerts；

3. Would you  please provide some advice to optimization this alarm;

[2019-04-08 06:44] lysu commented on #10062
@XSHui  Thanks for your feedback!
@liubo0127 @superlzs0476 PTAL?

[2019-04-08 09:37] eurekaka opened #10068 "refactor code of rebuilding index ranges"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Not a problem, just a proposal to improve readability and performance regarding the code logic of rebuilding index ranges.

**Describe the feature you'd like:**

Currently, we would rebuild index ranges in two scenarios:
- when plan cache is used, we need to rebuild index ranges for each `execute` statement;
-

[2019-04-08 10:06] bkkkd opened #10070 "not support show open table"
## Bug Report

1. What did you do?
If possible, provide a recipe for reproducing the error.

I use heidisql,  and meet error caused by unsupported `show open tables` command.

2. What did you expect to see?

no error

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-04-08 10:54] XSHui commented on #10062
@liubo0127, @superlzs0476

[2019-04-08 10:55] xiekeyi98 commented on #9983
Close this issue due to be fixed.

[2019-04-08 10:55] #9983 closed

[2019-04-08 11:17] liubo0127 commented on #10062
1. Please check the description of the two expressions, you can refer to https://wiki.lnd.bz/display/LFTC/Node+Exporter and https://github.com/prometheus/node_exporter/issues/666
2. The default alarm value is a reference, and it certainly cannot match all scenarios. Users need to adjust according to their own environment.
3. Users need to adjust with the business, we can not provide reasonable adv

[2019-04-08 11:32] lysu commented on #10056
Thanks for your feedback! @darren
It's a bug, we will take a look, and also welcome to issue PR if you interesting this :D

[2019-04-08 11:38] XSHui commented on #10062
In question 1, I still don't quite understand why you use rate/rate to as the standard.
Why not use
[code]
@liubo0127

[2019-04-08 17:29] aphyr opened #10075 "Default auto-retry mechanism causes TiDB to lose updates by default"
The auto-retry mechanism, enabled by default in TiDB 2.1.7, retries transaction failures by blindly re-applying writes from the failed transaction in a fresh transaction. This  effectively bypasses the conflict detection required by snapshot isolation: when a conflict is encountered, transactions *should* abort, but instead, they can go on to commit their conflicting writes regardless of conflicts

[2019-04-08 18:01] aphyr opened #10076 "Auto-retry on PD crash can *also* cause lost updates"
As noted in #10075, TiDB loses updates by default thanks to an auto-retry mechanism. The [documentation](https://www.pingcap.com/docs/sql/transaction-isolation/) says you can disable this mechanism by setting `@@global.tidb_disable_txn_auto_retry = 1;`. This is not entirely correct. There is a *second* automatic transaction retry mechanism, which comes into play when the connection to PD is lost--

[2019-04-08 18:30] aphyr opened #10077 "Documentation for transaction retries is misleading"
TiDB's [documentation](https://www.pingcap.com/docs/sql/transaction-isolation/) repeatedly claims to offer snapshot isolation. However, two automatic retry mechanisms (#10075, #10076), invalidate this claim. The first mechanism is partly documented, but the documentation is confusing. The second is undocumented. Until these mechanisms can be disabled or fixed, I suggest updating the documentation

[2019-04-08 19:37] morgo commented on #10077
Thank you for reporting this issue!

We are discussing a longer-term fix to (#10075, #10076), so as you suggest I will interpret this issue as for the documentation specifically. I have created https://github.com/pingcap/docs/pull/1027 - I believe I have updated all the cases you mentioned, but appreciate a review too :-)

[2019-04-09 00:48] #10077 closed

[2019-04-09 02:46] ngaut commented on #10068
Good propose, it will be very helpful for boosting sysbench performance.

[2019-04-09 03:04] liubo0127 commented on #10062
You can check out prometheus related information. The node_disk_read_time_ms type is counter, rate() is best suited for alerting, and for graphing of slow-moving counters..
The other two references https://promcon.io/2017-munich/slides/monitoring-cloudflares-planet-scale-edge-network-with-prometheus.pdf and http://git.openstack.org/cgit/openstack/openstack-helm-infra/tree/prometheus/values.yaml?id

[2019-04-09 03:12] #9805 closed

[2019-04-09 03:13] XSHui commented on #10062
Thanks ！

[2019-04-09 05:19] winoros opened #10081 "Support to show analyze status"
## Feature Request

**Is your feature request related to a problem? Please describe:**

To help DBAs know the progress of the `ANALYZE` statement.

**Describe the feature you'd like:**

Implement some SQL like `admin show analyze`.
It can return that how many regions information have been collected.

[2019-04-09 05:19] winoros commented on #10081
@lamxTyler @lzmhhh123 PTAL

[2019-04-09 05:35] morgo commented on #10081
Why not just estimated progress in `show processlist` output?

[2019-04-09 05:39] winoros commented on #10081
@morgo
The result of the current `show processlist` is
[code]

There's no appropriate column to store the progress status of `ANALYZE` i think.

[2019-04-09 06:27] laimisnd commented on #9831
Meanwhile, is the `systemctl restart tidb-4000.service` a good enough solution to the query/session kill problem ?

[2019-04-09 06:33] morgo commented on #10081
@winoros Others have used the `State` column for this:
https://www.percona.com/blog/2009/11/17/new-tokudb-2-2-0-feature-more-query-progress-information/

Currently `2` means `autocommit`, which is not very useful. I would love to see us do something more with this column :-)

[2019-04-09 08:46] #9735 closed

[2019-04-09 10:50] powqabc commented on #9997
不知道怎么复现

[2019-04-09 19:27] kennytm opened #10091 "Cannot insert negative numbers into a `BIT(64)` column"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

On MySQL 5.7 and 8.0:

[code]

3. What did you see instead?

On TiDB, it reports that the negative number is out-of-range.

[code]

4. What version of TiDB are you using (`tidb-server

[2019-04-10 03:01] marsishandsome opened #10092 "Implementation detail about SET TRANSACTION ISOLATION LEVEL"
I'm confused when working on this PR: https://github.com/pingcap/tidb/pull/10065.

I find that, `SET TRANSACTION ISOLATION LEVEL` will affect two internal variables:
1. `tx_isolation`
2. `transaction_isolation`

Can any body tell me, what's the difference between the two variables?

[2019-04-10 03:20] lysu commented on #10092
@marsishandsome

just alias, and mysql's old stuff.

and there are same history question `tx_read_only`

[2019-04-10 03:21] #10092 closed

[2019-04-10 03:38] weishaopeng opened #10094 "import data from hive to TiDB is slower than MySQL"
我在使用hive2Tidb的过程中，发现写入速度比MySQL慢好几倍，甚至十几倍的情况。

[2019-04-10 05:22] winoros opened #10097 "The bound of `show stats_buckets` is not easy to read"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Use `show stats_bueckets` to show the buckets of one datetime index's histogram.

2. What did you expect to see?

Return the bucket bound with datetime values.

3. What did you see instead?

The bound is returned as int.
[code]

4. What v

[2019-04-10 05:23] winoros commented on #10097
@lamxTyler PTAL

[2019-04-10 05:51] lysu commented on #10094
thanks for feedback @weishaopeng

TiDB's architecture is different from MySQL, so if compare with single node write speed, TiDB may be slower than single node MySQL, but TiDB can scale up write speed with more db & kv nodes， what is your hardware like?

besides that, what's your import sql? take look more grafana's  tikv/tidb also helps to find the import bottleneck.

[2019-04-10 06:21] erjiaqing commented on #10070
Seems that TiDB does not have such operation like open a table in MySQL, maybe we can return a fake data, for example 0 or -1?

[2019-04-10 06:21] lysu commented on #10070
@bkkkd  Thanks for feedback.

TiDB has no concept like mysql's "table cache" and "open table", but we can adapte this to give a no error result in future

[2019-04-10 06:32] XuHuaiyu opened #10098 "wrong result of `select group_concat(distinct col0, col1)`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?

[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-04-10 06:34] XuHuaiyu opened #10099 "wrong result of `select count(distinct col0, col1)`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-04-10 06:35] XuHuaiyu commented on #10099
related issue: #10098

[2019-04-10 07:02] jaczuo opened #10101 "the way to find root cause of kv error"
I have plenty kv errors in my tidb cluster while I don't find any information to help find root cause in tidb.log and tikv.log. I'm wondering is there anyway to dig what happen there?

TiDB version: 2.0

![kv error](https://user-images.githubusercontent.com/8065066/55858008-28918b00-5ba1-11e9-8203-3ee2ed46fdb7.png)

Thanks

[2019-04-10 07:03] winkyao commented on #5166
We are planning to solve this issue in 2019 Q3. Thanks for your attention @serbaut @thinker0

[2019-04-10 09:36] qw4990 commented on #10051
Oh it's my fault that I don't see your discussion before.
And I agree with you that return `NULL` is more reasonable than 0.
This issue will be closed.

[2019-04-10 09:36] #10051 closed

[2019-04-10 10:54] bkkkd commented on #10070
when I run it.

`SHOW OPEN TABLES FROM erp WHERE `in_use`!=0;
/* SQL错误（1105）：line 1 column 9 near " TABLES FROM erp WHERE `in_use`!=0" (total length 43) */`

[2019-04-10 11:24] bkkkd commented on #10070
and it try run a new version.but it has a error always.
MySQL [(none)]> show OPEN TABLES FROM erp WHERE `in_use`!=0;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your TiDB version for the right syntax to use line 1 column 9 near "OPEN TABLES FROM erp WHERE `in_use`!=0"

[2019-04-10 11:26] #9464 closed

[2019-04-10 11:28] bkkkd commented on #10070
thanks.

[2019-04-10 12:08] lysu commented on #10101
Thanks for feedback @jaczuo

retry, backoff and lock resolve is normal operation in TiDB, from you monitor that's ok and don't mean error.

"resolve lock" means the number of errors related to transaction conflicts https://pingcap.com/docs/op-guide/tidb-dashboard-info/#key-metrics-description

"txnLockFast" is "resolve lock" happens in read request. tikv detect conflict tidb will handle them in by

[2019-04-10 12:56] lysu opened #10111 "big unsigned bigint primary key point-select with plan cache enable error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

enable plan cache

[code]

2. What did you expect to see?

got `18446744073709551615, 4, 4` row

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[cod

[2019-04-10 12:57] lysu commented on #10111
this question is caused by our plan cache using string datum and lost unsigned type info.

[2019-04-10 17:40] wjhuang2016 commented on #10091
A interesting finding in MySQL 8.0.15:
[code]

[2019-04-11 00:32] zhuozl commented on #9763
[code]

[2019-04-11 01:56] jaczuo commented on #10101
Thanks for you answer @lysu. That really release my confusion.

[2019-04-11 01:56] #10101 closed

[2019-04-11 02:05] #3658 closed

[2019-04-11 02:34] csuzhangxc commented on #9972
@leshalv I'll close this issue. If you have any problem, you can reopen it.

[2019-04-11 02:34] #9972 closed

[2019-04-11 03:55] hanfei1991 opened #10115 "Some behaviors about decimal calculation are different from MySQL 5.7"
I inserted a max decimal value into tidb and mysql;

mysql> create table t1 (d decimal(65, 0));
Query OK, 0 rows affected (0.01 sec)

mysql> insert into t1 values(99999999999999999999999999999999999999999999999999999999999999999);
Query OK, 1 row affected (0.01 sec)

If we execute SQL like `mysql> select d * 100000000 from t1;`
The result is `9999999999999999999999999999999999999999999999999999999

[2019-04-11 05:25] hiqbn opened #10118 "Does TiDB scale linearly with writes / reads?"
Does TiDB scale linearly with writes / reads as I add more nodes to it? What's the limitation to the scaling in terms of speed in QPS?

[2019-04-11 05:45] wjhuang2016 opened #10119 "`SELECT -0.0 = (-1 % 0.5);`is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In MySQL 8.0.15
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-04-11 06:18] hzj629206 opened #10120 "TiDB does not use index for WHERE (col1, col2) IN ((val1, val2), (val3, val4))?"
PRIMARY KEY is (col1, col2, col3)

it's very slow if use (col1, col2) IN ((val1, val2), (val3, val4)).
it's very fast if use col1 IN (val1, val3).

Is that the expected result?

[2019-04-11 06:19] winkyao commented on #9760
@vkingnew This is a compatibility issue, we will fix it. thanks

[2019-04-11 06:22] winoros commented on #10120
@hzj629206
Please give us enough information.
Multiple-column IN clause can use index.

[2019-04-11 06:29] hzj629206 commented on #10120
···sql
CREATE TABLE `entity_tag_tab` (
  `entity_id` bigint(20) UNSIGNED NOT NULL,
  `entity_type` char(8) NOT NULL,
  `tag_id` bigint(20) UNSIGNED NOT NULL,
  `region` char(4) NOT NULL,
  `status` tinyint(3) UNSIGNED NOT NULL DEFAULT '1',
  `expiry_time` bigint(20) UNSIGNED NOT NULL DEFAULT '0',
  `create_time` bigint(20) UNSIGNED NOT NULL,
  `update_time` bigint(20) UNSIGNED NOT NULL,
  PRIMARY

[2019-04-11 06:32] #9760 closed

[2019-04-11 06:33] hzj629206 commented on #10120
Single column for IN clause.
[code]

[2019-04-11 06:34] hzj629206 commented on #10120
Slow log:

2019/04/11 11:00:00.299 adapter.go:391: [warning] [SLOW_QUERY] cost_time:4.158431763s process_time:41.276s wait_time:8ms request_count:22 total_keys:20000022 processed_keys:20000000 succ:true con:40078188 user:shopee_tag_attr_rw@10.70.9.6 txn_start_ts:407621231210660128 database:shopee_tag_attr_db table_ids:[87],sql:SELECT entity_id, entity_type, tag_id, region, status, expiry_time, cre

[2019-04-11 06:34] winoros commented on #10120
Please answer the questions in `performance issue` template.

- What version of TiDB are you using?

- For a specific slow SQL query, please provide the following information:
    - Whether you analyzed the tables involved in the query and how long it is after you ran the last `ANALYZE`.
    - Whether this SQL query always or occasionally runs slowly.
    - The `EXPLAIN ANALYZE` result of this que

[2019-04-11 06:41] lysu commented on #10119
@wjhuang2016  Thanks for feedbak.

[2019-04-11 06:45] lysu commented on #10118
@hiqbn Thanks for feedback.

TiDB can scale up with add nodes, it's unnormal to meet limit  if you have infine nodes, does you meet any question?

[2019-04-11 06:48] hiqbn commented on #10118
1. where are the benchmarks for these nodes and linear scaling?
2. secondary indexes for tidb will not affect scaling at scale?

[2019-04-11 06:51] lysu commented on #10120
@hzj629206  for your slow log it doesn't use index, but I can not reproduct in myself's env.

please execute to see plan

[code]

and also give us the statistics data of the involved tables
[code]

thanks.

[2019-04-11 07:13] bb7133 opened #10122 "When specifying Collation for a Column, the corresponding Charset should be set as well"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]
2. What did you expect to see?
[code]

3. What did you see instead?
[code]
4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-04-11 07:17] csunny opened #10123 "Is there a plan to support polygon type, When?"
When we use the parser, the mysql datatype polygon is not supported,  Is there a plan to support it?

When?

[2019-04-11 07:18] hzj629206 commented on #10120
What version of TiDB are you using?
    2.1.5

Whether you analyzed the tables involved in the query and how long it is after you ran the last ANALYZE.
    No.

Whether this SQL query always or occasionally runs slowly.
    Always.

The EXPLAIN ANALYZE result of this query if your TiDB version is higher than 2.1, or you can just provide the EXPLAIN result.
[code]

[2019-04-11 07:22] hzj629206 commented on #10120
It's fast if we use `force index (primary)`

[code]

[2019-04-11 07:22] winoros commented on #10120
@hzj629206
You can try to analyze it first.
This should solve your problem.

[2019-04-11 07:33] hzj629206 commented on #10120
@winoros
Still has the problem after analyze table.
We will try to use `force index (primary)` first.

[entity_tag_tab_stats.json.zip](https://github.com/pingcap/tidb/files/3067436/entity_tag_tab_stats.json.zip)

[2019-04-11 07:51] #9732 closed

[2019-04-11 08:45] hanfei1991 commented on #10115
And there is a correctness problem in both TiDB and MySQL:
[code]

For the 2nd query , the correct answer should be `999999999999999999999999999999999999999999999999999999999999999991000000.0`

It drives me crazy ...

[2019-04-11 09:41] winoros commented on #10120
@hzj629206
Sorry for your inconvenience. Seems that this is row count estimation bug. We'll dig into it soon.

[2019-04-11 10:08] taoanqi opened #10128 "how to configurate single tikv process use multiple hard disk."
[code]

tikv tuning guide said: "If there are multiple disks on the machine, store the data of Raft RocksDB on different disks to improve TiKV performance.", how to store data of raft rocksdb data on different disk?

[2019-04-11 11:04] lysu commented on #10118
1. maybe can take a look at this: https://github.com/pingcap/docs/blob/master/benchmark/sysbench.md#scenario-two-tidb-horizontal-scalability-test

2. secondary indexes data also be stored as kv datas in tikv, and it will scale up as region split when indexes data grow just like normal table data.

[2019-04-11 11:11] lysu commented on #10123
Hi @csunny, TiDB has no roadmap to support Geometry function in the short term.

and you just want to parser support this? if so, make parser support syntax is easier, also welcome issue parser PR :D

[2019-04-11 11:32] lysu commented on #10128
@taoanqi Hi, it means configurate `raftdb-dir` to anther dir that be mounted to different disk, the disk is different to `storage.data-dir`'s mounted disk.

and we can see disk mount info by linux command `df `.

[2019-04-11 11:56] aeoluswing opened #10129 "TiDB can not get correct configuration parameter"
## Bug Report

tidb-version:2.1.6
OS:ubuntu16.04

I change `deploy_dir` configuration in `inventory.ini`(default as:`/home/tidb/deploy`),after that I run `ansible-playbook bootstrap.yml` and `ansible-playbook deploy.yml` to init the whole environment.But pre-procedures still locate binary and other files to the old path.Here is my `deploy_dir` section in `inventory.ini`:
[code]
on any node,`deploy

[2019-04-11 12:05] aeoluswing commented on #10129
`/home/tidb/data/` is ceph cluster mount point

[2019-04-11 12:14] aeoluswing commented on #10129
error log as below:
[code]

[2019-04-11 12:26] aeoluswing commented on #10129
Because kv cannot mount to the correct mount point which has nodelalloc option,it's mounted to system file path '/'.

[2019-04-11 15:22] frankobe commented on #9765
@qw4990 Interested in working on this issue! Any pointer to relevant files/modules is welcomed :)

[2019-04-11 17:32] hiqbn commented on #10118
Can it do full text search like mysql? otherwise is the search sequential?
the benchmark seems too good. any downsides of tidb in general or what should we be looking out for?

[2019-04-11 17:51] morgo commented on #10118
`FULLTEXT` is not supported.  See [this page](https://www.pingcap.com/docs/sql/mysql-compatibility/) for compatibility with MySQL.

[2019-04-11 23:17] morgo commented on #10070
For simplicity, I think we can just return an empty result with the same structure as MySQL's `SHOW OPEN TABLES`. I prefer this to faked data.

[2019-04-12 01:15] taoanqi commented on #10128
@lysu 你好，您的意思是存储数据和安装路径可以配置不同磁盘？我的问题是需要将数据存在不同磁盘里

[2019-04-12 01:22] shenli commented on #10128
@taoanqi One tikv instance embedded two rocksdb instances. One for data, and another one for raft log. For each rocksdb instance, it could only use one disk.

[2019-04-12 01:28] taoanqi commented on #10128
@shenli 非常感谢，看官方文档理解上有些误差，是因为rocksdb自身的限制问题吗？

[2019-04-12 01:35] shenli commented on #10128
@taoanqi Yes

[2019-04-12 01:36] taoanqi commented on #10128
@shenli 非常感谢，了解了

[2019-04-12 02:22] lysu commented on #10129
@aeoluswing Thanks for feedbak.

@liubo0127 @superlzs0476 PTAL

[2019-04-12 02:22] #10128 closed

[2019-04-12 02:47] liubo0127 commented on #10129
Please refer to the multi-instance deployment document:https://pingcap.com/docs-cn/op-guide/ansible-deployment/
![image](https://user-images.githubusercontent.com/28344969/56008857-416c7e80-5d10-11e9-80e9-01f6cbe453bb.png)

[2019-04-12 02:49] Junkie0901 opened #10130 "myloader report error when loading the dumped file"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
mydumper -h localhost \
         -P 3306 \
         -u root \
         -p ******\
         -t 16 \
         -F 16 \
         -B ****db\
         --no-locks \
         --skip-tz-utc \
         -o /data/application/mysql/sql

myloader -h 10.

[2019-04-12 07:53] aeoluswing commented on #10129
@liubo0127 Appreciative of your help,maybe I misunderstood some context before,after following this guide,distributions still locate to the default filepath(`/home/tidb/deploy/`),is this a tmp path for the pre-ansible process?
As the documentation said,data blocks redirect to deploy_dir correctly,here is some fragments for log of deploying:
[code]
but `create deploy directories` as follows verify

[2019-04-12 09:25] #9989 closed

[2019-04-12 09:45] saup007 opened #10135 "My hostname is ip, and tidb-ansible can only get the prefix."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

My hostname is ip, and tidb-ansible can only get the prefix.

for examp：
[code]

Ansible FAILED! => playbook: deploy.yml; TASK: check_system_dynamic : Preflight check - Does every node in cluster have different hostname; message: {"change

[2019-04-12 10:05] liubo0127 commented on #10129
In inventory.ini, the variables in `[all:vars]` are global and low-priority. When host does not specify `deploy_dir`, the value of the `deploy_dir` variable under `[all:vars]` is used.

I guess it is because IP information without alias such as 192.168.0.1 is configured under [monitored_servers] or other groups.

[2019-04-12 11:46] superlzs0476 opened #10136 "show index name in `explain` result"
## Feature Request

**Is your feature request related to a problem? Please describe:**
When I was looking at query execution plan,I will ignor index_names' were different. The TiDB  version is 2.1.5

**Describe the feature you'd like:**
My advice add index_name in the query execution plan, these feature wills help us  that clearly identify which indexes have been taken or did not.

**Describe alte

[2019-04-12 12:02] qw4990 opened #10137 "planner: wrong plan when subquery include `LIKE`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
These two query should have a same result, which uses `HashJoin` instead of `Apply`.
[code]

3. What did you see instead?
The second query's result uses `Apply` instead of `HashJoin`:
[code]

4. What

[2019-04-12 15:46] morgo commented on #10130
This error looks to be caused by `mydumper` creating an insert that exceeds [300K key-value pairs](https://pingcap.com/docs/sql/transaction-model/#large-transactions):
[code]
I suspect it might be because `db.table_` is not very wide, so the -F 16 (files of 16MiB) is actually a very large number of rows. Did you mind trying to set this to a lower number such as -F 8 to verify?

Backup restore-abil

[2019-04-12 17:39] jniltinho opened #10141 "TiDB Alpine run like MySQL docker image"
## Info -> https://gitlab.com/jniltinho/tidb-alpine

Today I created a build project in my gitlab.com, to generate a TiDB image the same as the MySQL docker image, so that people will gradually test and thus I can more easily migrate their environment to TiDB.

https://cloud.docker.com/repository/docker/jniltinho/tidb-alpine/general

[2019-04-13 03:01] aeoluswing commented on #10129
@liubo0127 As you said,maybe this is a ansible question,I'll do some further practice at this point but right now I'd better close this issue.Appreciate your help very much。

[2019-04-13 03:02] #10129 closed

[2019-04-13 17:09] morgo commented on #10141
@jniltinho nice work!

/cc @gregwebs @tennix @kolbe @c4pt0r

[2019-04-14 15:57] #6961 closed

[2019-04-15 00:16] tiancaiamao commented on #10136
@zz-jason

[2019-04-15 00:18] tiancaiamao commented on #10135
PTAL @liubo0127

[2019-04-15 02:48] winkyao commented on #9425
@ian-p-cooke That's ok, the reason why we don't support it because of executing DDL in the prepared statements is just not too common in our user scenarios.

[2019-04-15 03:15] zhexuany commented on #8793
@564064202 you can solve this by using the latest master. For more details, please refer to https://github.com/pingcap/tidb/pull/10065. Closing.

[2019-04-15 03:15] #8793 closed

[2019-04-15 03:19] qw4990 commented on #9763
Thanks for your feedback.
It seems you are right.
I will create a issue about this problem on TiKV Repo and make this issue reference it.

[2019-04-15 03:52] liubo0127 commented on #10135
Thanks for the feedback, I will test it and reply later.

[2019-04-15 05:33] eurekaka opened #10146 "treat handle column as last key of non-unique index"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Not a problem, it is an optimization of planner.

**Describe the feature you'd like:**

For non-unique index, we encoded RowID into key of index tuples, so we can treat handle column as the last key of these non-unique indexes. This can help cases like:

[code]
For the second query, we can remove the `Sort_5` a

[2019-04-15 07:05] fxrs111 opened #10148 "The result order of a query `select .. order by .. limit N` is not the same when the N is different"
## Bug Report

在使用order by排序和limit分页查询时，按照时间(时间有相同的)排序分别查询0到10 和0到20时，返回的结果顺序不一致是什么原因

在使用MySQL或者其它数据库时没有类似的问题
![排序问题](https://user-images.githubusercontent.com/46838109/56113520-b0580a80-5f90-11e9-9268-03f608f3a602.png)

[](url)

[2019-04-15 07:17] tiancaiamao commented on #10148
Hi, @fxrs111
You're using `order by create_time` and ask for `item_name` to be ordered

[2019-04-15 07:33] fxrs111 commented on #10148
如果使用多个字段就增加了查询的时候，性能会受影响

[2019-04-15 07:42] tiancaiamao commented on #10148
Did you test that? @fxrs111
If the plan is not changed, I think there is no performance issue here.

[2019-04-15 08:02] #9033 closed

[2019-04-15 08:15] jackysp opened #10150 "Unknown column error in on duplicate update plan"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
9d25a85bda58a19e0c34b09fc88af8c3ccc01b52 o

[2019-04-15 08:26] jackysp opened #10151 "Error subquery returns more than 1 row for insert on dup"
## Description
Bug Report
Please answer these questions before submitting your issue. Thanks!

What did you do?
If possible, provide a recipe for reproducing the error.
CREATE TABLE t1(a INTEGER);
CREATE TABLE t11(a INTEGER primary key);
CREATE TABLE t2(b INTEGER);
INSERT INTO t2 VALUES (1),(1);

INSERT INTO t1(a) VALUES (1)
ON DUPLICATE KEY UPDATE a= (SELECT b FROM t2);

INSERT INTO t11(a) VALUES

[2019-04-15 09:47] jackysp opened #10153 "disable strict sql mode should not ignore bad null error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
No error returned.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
9d25a85bda58a19e0c34b09fc88af8c3ccc01b52 at m

[2019-04-15 09:49] shenli commented on #10153
How do you find this bug?

[2019-04-15 10:21] kennytm opened #10154 "Interpretation of hex literal when converting to an ENUM or SET column is incompatible with MySQL 8"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

The first two INSERTs should succeed, and the third and fourth INSERTs should fail.

[code]

The SELECT returns two rows of values `('g0', 'x0')`.

3. What did you see instead?

The first INSERT (he

[2019-04-15 11:04] jackysp commented on #10153
I'm porting MySQL tests.

[2019-04-15 11:16] android-coco opened #10155 "Error 1105: [try again later]: WriteConflict: startTS=407719599396618242, conflictTS=407719599396618241, key={tableID=302, handle=1} primary={tableID=302, indexID=1, indexValues={53083503, 1, }}"
## General Question

Error 1105: [try again later]: WriteConflict: startTS=407719599396618242, conflictTS=407719599396618241, key={tableID=302, handle=1} primary={tableID=302, indexID=1, indexValues={53083503, 1, }}

[2019-04-15 12:25] qw4990 opened #10156 "Stack overflow caused by checking constant wrongly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
No result and eventually panic caused by stack overflow.
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[2019-04-15 12:44] qw4990 commented on #10156
The root reason is that we check constant wrongly.
In `foldConstant`, we check if a `expression` is const by simply converting it to `*Constant`, and if it succeed, we think it is const.

In this case, we will fold `datediff(b.date8, date(from_unixtime(a.starttime)))`.
Because `date(from_unixtime(a.starttime))` is not const, we will replace it with const `One`, and then call `NewFunctionInternal`.

[2019-04-16 06:33] liubo0127 commented on #10135
Tested, if the hostname contains '.', it will be truncated with '.', this exception is generated when ansible gets machine information, you can give an issue to [ansible](https://github.com/ansible/ansible). It is currently recommended that the hostname not include ‘.’.

**Solution**: After resetting the hostname using `hostnamectl set-hostname $hostname`, execute ansible-playbook deploy.yml to de

[2019-04-16 07:15] bqwzhl20 opened #10164 "Failed to install tidb 2.1.8 with ansible 2.1.8"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
TASK [local : cp tispark] **************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "cp -v /home/tidb/tidb-ansible/downloads/core/

[2019-04-16 07:44] qw4990 commented on #9765
@frankobe Thanks for your contribution :D

[2019-04-16 07:55] tiancaiamao commented on #10164
PTAL @liubo0127

[2019-04-16 07:57] wjhuang2016 opened #10168 "Make paser more powerful"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When pasering a statement, we only turn the info into a special ast presently. For example, a `select` statement will return a selectStmt.
However, we may need to get some infomation in paser stage which will present in many statement.  If we add these infomation in every ast which need it, the code can not be

[2019-04-16 08:14] saup007 commented on #10135
hostnamectl set-hostname h12128
/etc/sysconfig/network

IP: 10.14.11.10 hostname h10
IP:  10.14.11.11 hostname h11
IP:  10.14.11.12 hostname h12
IP:  10.14.11.13 hostname h13
IP:  10.14.11.14 hostname h14
IP:  10.14.11.15 hostname h15

but pd start failed. all pd name is pd_10。

scripts/run_pd.sh
[code]

[2019-04-16 08:27] liubo0127 commented on #10135
Please explain the detailed operation.

[2019-04-16 08:56] saup007 commented on #10135
hostnamectl set-hostname h10 && hostname
hostnamectl set-hostname h11 && hostname
hostnamectl set-hostname h12 && hostname
hostnamectl set-hostname h13 && hostname
hostnamectl set-hostname h14 && hostname
hostnamectl set-hostname h15 && hostname

execute ansible-playbook deploy.yml  success, but pd start failed. all pd name is pd_10。

[2019-04-16 08:57] luckyfish0826 opened #10171 "DATE_FORMAT function wrongly causes " ERROR 1265 (01000): Data Truncated""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I insert data into a table, yet in the process, I used DATE_FORMAT function in my where statement,
---   DATE_FORMAT(transaction_date, '%Y%m%D')= 20190414

2. What did you expect to see?
insert done without any problem.

3. What did you se

[2019-04-16 09:10] liubo0127 commented on #10135
Execute `ansible pd_servers -m shell -a "echo {{ hostvars[inventory_hostname]['ansible_hostname'] }}"` in the `tidb-ansible` directory, and send a screenshot

[2019-04-16 09:19] luckyfish0826 commented on #10171
if used DATE_FORMAT (“2019-01-15 00:00:00” ,'%Y%m%d'), no error, because there is not data lost. This confirms my guess.

[2019-04-16 09:22] liubo0127 commented on #10164
Tispark has been repackaged, it should be fine now, please try again.

[2019-04-16 10:43] WangXiangUSTC commented on #8784
now dm support sql like `create table test.t1..`, can you use dm instead of syncer? @CrazyNash

[2019-04-16 11:59] saup007 commented on #10135
nsible pd_servers -m shell -a "echo {{ hostvars[inventory_hostname]['ansible_hostname'] }}"
PD1 | FAILED | rc=-1 >>
The task includes an option with an undefined variable. The error was: 'ansible.vars.hostvars.HostVarsVars object' has no attribute 'ansible_hostname'

PD2 | FAILED | rc=-1 >>
The task includes an option with an undefined variable. The error was: 'ansible.vars.hostvars.HostVarsVars o

[2019-04-16 12:02] liubo0127 commented on #10135
Execute `ansible pd_servers -m setup` first, then execute `ansible pd_servers -m shell -a "echo {{ hostvars[inventory_hostname]['ansible_hostname'] }}"`.

[2019-04-16 12:12] dingsuo opened #10173 "mysql function UNIX_TIMESTAMP does not work in sql，and return a error msg"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

SELECT * from aa_id where createTime >=UNIX_TIMESTAMP('2019-03-29 09:45:00') and createTime <=UNIX_TIMESTAMP('2019-03-29 09:50:00');

2. What did you expect to see?

the query data that i want

3. What did you see instead?
SELECT * from a

[2019-04-16 20:54] kolbe commented on #10173
Hi! The UNIX_TIMESTAMP() function is used to convert a datetime value into an integer value (seconds since Unix epoch):

[code]

See https://dev.mysql.com/doc/refman/5.7/en/date-and-time-functions.html#function_unix-timestamp for more information.

For your use case, you can simply compare the datetime value directly to your string without using a function at all:

[code]

[2019-04-16 21:06] kolbe commented on #10171
Can you please clarify what you're doing? Where does `transaction_date` originate in your INSERT statement? Can you reproduce this with a small sample table?

[2019-04-17 01:04] tiancaiamao commented on #10171
Could provide the SQL and table schema so we can reproduce it? @luckyfish0826

[code]

[2019-04-17 02:32] saup007 commented on #10135
[code]

[2019-04-17 03:37] lwlw217 opened #10176 "DM sync data from MySQL to TiDB: Error 1406: Data too long for column 'xxx'"
when I sync data from MySQL to TiDB use DM, found some error:
Error 1406: Data too long for column 'xxx'

I known this issue's reseaon is data type varchar(M)  different between MySQL and TIDB。
And this issue have been resolved on v2.1.8 version，but this only be tidb's tables charset is utf8mb4。

**My questions like this:**
MySQL charset utf8,  use mydumper tools to TiDB also is utf8。So I decide t

[2019-04-17 04:26] liubo0127 commented on #10135
This is two commands:
- `ansible pd_servers -m setup`
- `ansible pd_servers -m shell -a "echo {{ hostvars[inventory_hostname]['ansible_hostname'] }}"`

Only need the result of the second command.

[2019-04-17 05:37] bqwzhl20 commented on #10164
it's ok，thanks

[2019-04-17 05:37] #10164 closed

[2019-04-17 05:51] birdstorm opened #10178 "Max result incorrect when using Unsigned bigint as primary key."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

Any version will do.

[2019-04-17 05:59] zhexuany commented on #10178
One more thing to add is that max works as expected on pk is not handle case
[code]

[2019-04-17 06:06] jackysp commented on #10178
I think it is an known issue, because the handle must be signed.

[2019-04-17 06:08] #10155 closed

[2019-04-17 06:13] birdstorm commented on #10178
Supplement:
[code]

[2019-04-17 06:14] birdstorm commented on #10178
The range should be split into two parts because they may not be ordered.

[2019-04-17 07:07] codyrin93 opened #10180 "Fail to show DataFrame when Spark driver submit application to TiSpark due to serialVersionUID mismatch"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
- deploy TiDB via docker compose
- create a dummy database, dummy table and then insert some records
[code]
- run the spark driver program in scalatest as follow
[code]
my build.sbt:
[code]

2. What did you expect to see?
driver program will show the correct row counts of dummy table after run `

[2019-04-17 08:01] qw4990 opened #10181 "Wrong result when using unsigned bigint as primary key and comparing it with float numbers"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
In MySQL
[code]

3. What did you see instead?
In TiDB
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-04-17 23:52] Enver-Yilmaz commented on #9426
What is the actual plan here? Just fake it for the client or genuinely implement utf8mb4_0900_ai_ci?

[2019-04-18 02:19] #9042 closed

[2019-04-18 02:19] Livezxy opened #10182 "How use Tidb on k8s / Raid HDD instead of SSD"
we plan to use tidb on production environment ,
but our server is k8s-cluster,
and storge is Raid 5 of 10 x 4TB HDD

May i use Raid instead of SSD?  how large Tidb need  ?
And..  any way to use tidb with k8s ?

[2019-04-18 02:19] #7565 closed

[2019-04-18 02:20] #7278 closed

[2019-04-18 02:21] #158 closed

[2019-04-18 02:27] sundl123 commented on #9811
@erjiaqing can you give any opinion about the expectation of function?

[2019-04-18 02:37] winkyao commented on #9426
@Enver-Yilmaz We are planning to fix this error in https://github.com/pingcap/parser/pull/294#pullrequestreview-228079286

[2019-04-18 03:09] tiancaiamao commented on #10182
It's not recommand to deploy on HDD @live-xy
See https://pingcap.com/docs/op-guide/recommendation/

I guess @tennix would like to answer k8s deployment related questions

[2019-04-18 03:21] tiancaiamao commented on #10180
PTAL @zhexuany

[2019-04-18 03:56] CrazyNash opened #10185 "TiDB binlog drainer only write to one partition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Setup TiDB binlog, write data to kafka

2. What did you expect to see?

data written to different partitions evenly

3. What did you see instead?

only wrote to first partition

4. What version of TiDB are you using (`tidb-server -V` or r

[2019-04-18 05:19] ngaut opened #10187 "make test failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
make test

2. What did you expect to see?
all tests passed

3. What did you see instead?
a few tests failed

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
latest master, git hash 13290a23

[2019-04-18 05:25] winoros commented on #10187
This may be caused by that the memory of your computer is not enough. You can try to clean the memory first.

[2019-04-18 05:31] tiancaiamao commented on #10185
PTAL @july2993

[2019-04-18 05:45] ngaut commented on #10187
There is another test failed too.

FAIL: tidb_test.go:297: TidbTestSuite.TestTLS

tidb_test.go:351:
    c.Assert(err, IsNil)
... value *net.OpError = &net.OpError{Op:"remote error", Net:"", Source:net.Addr(nil), Addr:net.Addr(nil), Err:0x28} ("remote error: tls: handshake failure")

[2019-04-18 05:47] ngaut commented on #10187
Why we need so much memory to do unit tests? Can we reduce the memory consuming?

[2019-04-18 05:59] july2993 commented on #10185
this is work as expected now, but we will support writing multi partition later.

[2019-04-18 06:00] #8016 closed

[2019-04-18 06:01] #8029 closed

[2019-04-18 06:02] winoros commented on #10187
@ngaut
I think this may not be caused by that the unit test needs a lot of memory. Just because the original memory usage before you run tests is high?
There's a check when insert things into the LRU cache. If the used memory is higher than 90%. It will fail to insert.

For another problem, @tiancaiamao PTAL

[2019-04-18 06:22] CrazyNash commented on #8784
@WangXiangUSTC we have a script written upon syncer and quite easy to use, now we still hope get this feature in syncer so we can keep playing with the script. DM is too heavy for us at the moment. If this is not much work to do, can you please get this integrated?

[2019-04-18 07:00] #10156 closed

[2019-04-18 07:42] #9426 closed

[2019-04-18 08:16] #2495 closed

[2019-04-18 08:17] #6855 closed

[2019-04-18 08:17] #746 closed

[2019-04-18 08:18] #1805 closed

[2019-04-18 08:20] #5293 closed

[2019-04-18 08:40] #6942 closed

[2019-04-18 08:53] ngaut commented on #10187
Another failed test.

FAIL: session_fail_test.go:95: testSessionSuite.TestGetTSFailDirtyStateInretry

session_fail_test.go:105:
    tk.MustQuery(`select * from t`).Check(testkit.Rows("2"))
/go/src/github.com/pingcap/tidb/util/testkit/testkit.go:183:
    tk.c.Assert(errors.ErrorStack(err), check.Equals, "", comment)
... obtained string = "" +
...     "PD server timeout[try again later]\n" +
...

[2019-04-18 09:13] fxrs111 opened #10190 "How to modify the `auto_increment` attribute and the column type?"
在使用的过程中发现有几个问题：
1、若数据表初始设计主键不是自增，后期再想设置成自增时会报unsupported modify column set auto_increment，有没有什么方式能够解决修改自增
2、数据表字段初始设计时是long，后期想转成varchar时更改不了
3、数据字段的长度修改，把数据字段长度从大修改成小一些的时候，修改不了

数据库版本使用的是2.1.2

有没有什么方式能够进行修改呢

[2019-04-18 09:25] jackysp opened #10191 "Default value of year should be converted?"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

3.0.0-beta

[2019-04-18 09:39] tiancaiamao commented on #10190
Alter table to add the `auto_increment` attribute is unsupported, you can create a new table and copy the old table to the new one
Change the column type from long to varchar is not supported

See here for the alter table modify column limitation:
https://github.com/pingcap/docs-cn/blob/master/sql/ddl.md#alter-table-%E8%AF%AD%E6%B3%95

Maybe you have the create a new table and copy data for all th

[2019-04-18 09:41] #9885 closed

[2019-04-18 09:43] ghost opened #10192 "The 'order by' result does not respect to chinese pinyin order"
## Bug Report

1. 创建如下测试表，插入3条测试记录
[code]

2. 执行查询语句
[code]

3. 查询结果为

name |
------------ |
999  |
专业 |
人生 |

4. 期望得到的结果为

name |
------------ |
999 |
人生 |
专业 |

5. 在mysql中可以通过使用 `order by convert(col_name using gbk) ` 实现中文拼音排序，但tidb不支持gbk

6. 使用的tidb版本
[code]

[2019-04-18 12:10] tiancaiamao commented on #10192
This is a known issue,  the cause is that collation is not well-supported in TiDB @GuaiShu

[2019-04-18 13:12] tiancaiamao commented on #10176
PTAL @winkyao

[2019-04-18 13:25] gregwebs commented on #10141
@jniltinho thanks, I like this image as an option for end users to easily run a single node tidb. @morgo how would we direct users to this option?

[2019-04-18 13:44] morgo commented on #10141
@gregwebs I agree!

@jniltinho A few things to mention:
- We recently added [homebrew](https://pingcap.com/docs/dev/how-to/get-started/local-cluster/install-from-homebrew/) and [dbdeployer](https://pingcap.com/docs/dev/how-to/get-started/local-cluster/install-from-dbdeployer/) install options to our manual. We like to include a caveat that this installation method is for testing, and slower than t

[2019-04-18 15:17] morgo opened #10194 "LOCK TABLES does not warn/error when unsupported"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The table t1 exists, the other table does not:

[code]

In either case, this command is a noop in TiDB, which is unsafe, and breaks a contract with user expectations.

**Describe the feature you'd like:**

FR 1: This statement should produce an error if the table does not exist.

Option 1: Produce an error (sin

[2019-04-18 16:38] gregwebs commented on #10141
I created an issue in the docs repo, that is probably the best place to contribute this information. https://github.com/pingcap/docs/pull/1060

[2019-04-18 16:38] #10141 closed

[2019-04-18 18:56] morgo commented on #6405
Rename key works fine now.  However, rename column does not.  I will close this bug and create a new one:
[code]

[2019-04-18 18:56] #6405 closed

[2019-04-18 18:57] morgo commented on #2741
There has been no activity on this issue for some time, so I am going to go ahead and close it.  But please feel free to re-open if you have any further questions.  Thanks!

[2019-04-18 18:57] #2741 closed

[2019-04-18 19:06] morgo opened #10195 "Support ALTER TABLE .. RENAME COLUMN"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB does not currently support rename column.  Rename index works fine though!

**Describe the feature you'd like:**

[code]
tidb:
[code]
mysql:
[code]

**Describe alternatives you've considered:**

It is possible to workaround this with `CHANGE`, so the plumbing to rename obviously exists within the server:

[2019-04-18 22:58] morgo opened #10196 "DROP USER IF EXISTS behavior difference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

This is a similar problem to https://github.com/pingcap/tidb/issues/7867 :

[code]

2. What did you expect to see?

MySQL:
[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `selec

[2019-04-19 03:20] whyliyu opened #10198 "TIKV seems to automatically restart everyday."
**problem:**
Last night at 22:32 clients warned exception like this:
[code]
I checked tidb log and it showed it could not connect to tikv at that moment, which lasted about 1 minutes:
[code]

And the tikv logs it might have a restart at that time:
[code]

When I checked throw the entire log, I found the TIKV seemed to restart everyday:
![image](https://user-images.githubusercontent.com/17723541/56

[2019-04-19 03:23] #10070 closed

[2019-04-19 03:30] shenli commented on #10198
@whyliyu Thanks for your feedback!
Is there any OOM message in dmesg or any error message in tikv's log?

[2019-04-19 03:45] whyliyu commented on #10198
In tikv log, before the 'Welcome to TiKV' statements exists a large quantity of logs with the same format:
[code]
Among thoes logs exist several ERRO log like this:
[code]

I'm not sure whether there was a OOM. There are some monitor graph, maybe it would help
![1](https://user-images.githubusercontent.com/17723541/56404311-89534e80-6298-11e9-8475-08f250000ac8.JPG)

![捕获](https://user-images.githu

[2019-04-19 04:17] zhangjinpeng1987 commented on #10198
@whyliyu Can you provide system dmesg log?

[2019-04-19 04:58] #10178 closed

[2019-04-19 05:30] zz-jason opened #10199 "support "SHOW PROCESSLIST MEMINFO""
## Feature Request

**Is your feature request related to a problem? Please describe:**

In https://github.com/pingcap/tidb/pull/8543, we removed the memory info from the result of `show processlist`. As discussed in https://github.com/pingcap/tidb/pull/8543#issuecomment-444119260, we decide to add a new command like `show processlist meminfo` to show the process lists + meminfo

**Describe the fea

[2019-04-19 07:03] sundl123 commented on #9847
Can I have a try? This is interesting

[2019-04-19 07:05] shenli commented on #9847
Sure, please go ahead :)

[2019-04-19 09:45] winkyao commented on #10194
@morgo we are designing the Lock tables and is going to finish the development in the next month. So Do we still need to return a warning for that?

[2019-04-19 11:20] whyliyu commented on #10198
@zhangjinpeng1987  @shenli  dmesg log was overriged by new info, but I found somthing in /var/log/syslog, which showed the tikv was kill by tidb:
[code]
Note these 2 lines:
[code]
Tidb invoked oom-killer at first and then tikv was killed

[2019-04-21 06:50] zhexuany commented on #7519
reopen since it has more details.

[2019-04-21 06:50] #222 closed

[2019-04-21 07:53] #10153 closed

[2019-04-22 01:49] ngaut commented on #10199
Can we add a new column to the output of "show processlist"? It should be more convenient.
What do you guys think? @morgo @kolbe

[2019-04-22 01:54] #9635 closed

[2019-04-22 02:17] zz-jason commented on #9248
There is a discussion on implementing 128 bits decimal in golang which supports up to 2^8 digits after the decimal point, just behaves the same as MySQL's DECIMAL. But the proposal is declined: https://github.com/golang/go/issues/12332

Another decimal implementation in golang is https://github.com/shopspring/decimal, which supports up to 2^32 digits after the decimal point. It focuses more on cor

[2019-04-22 02:52] erjiaqing commented on #10115
In mysql document:

Also, here is a issue in mysql: https://bugs.mysql.com/bug.php?id=34692

[2019-04-22 03:19] ngaut commented on #10187
One more failed test.
See https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/2565/pipeline

[2019-04-22 05:25] morgo commented on #10199
@ngaut It actually was on `show processlist`, the previous PR removed it. The memory feature does not work exactly as described - it only records memory of some parts of execution, which makes it confusing for new users (and me:-)).

[2019-04-22 05:26] morgo commented on #10194
@winkyao If it is one month ago, that is option #3. I think its the best choice, assuming it makes TiDB 3.0.

[2019-04-22 06:40] shenli commented on #10130
@Junkie0901 Please use `loader` instead of `myloader`.
https://github.com/pingcap/docs/blob/master/v2.1/op-guide/backup-restore.md#restore-data-into-tidb

[2019-04-22 06:41] shenli commented on #10135
@saup007 Does it solved your problem?

[2019-04-22 06:46] ngaut commented on #10199
Great, let's make it work properly.

[2019-04-22 07:05] zz-jason commented on #10199
We can trace memory usage in distsql now. It's much precise than before. However the memory info for some simple statements can still be zero. Because they are not memory intensive queries.

I think we can optimize it in these ways:
1. Display the memory info in `show processlist`. Don'y display zero memory usage for simple queries. We can display a message like "little".
2. Display the memory inf

[2019-04-22 07:39] XuHuaiyu opened #10215 "potential bug for count(distinct JSON)"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Theoretically, `count(distinct JSON_cols)` may have the same problem with https://github.com/pingcap/tidb/issues/10099 as https://github.com/pingcap/tidb/pull/10107#discussion_r274246685 mentioned.

I did not build a case to trigger this successfully. Need more investigations.

## SIG slack channel
[

[2019-04-22 07:42] zz-jason commented on #10215
the deadline of fixing this issue is?

[2019-04-22 07:46] XuHuaiyu commented on #10215
Deadline is `2019-05-30`.

[2019-04-22 07:59] VoxT opened #10219 "Bad performance for Multiple nodes cluster deployment"
## Performance Questions

- What version of TiDB are you using?
[code]

- What's the observed and your expected performance respectively?

I have setup base on https://github.com/pingcap/docs/blob/master/op-guide/binary-deployment.md#multiple-nodes-cluster-deployment

With custom node as bellow:
[code]

Each node have same info:
- OS: CentOS 7
- CPU: 24 core
- RAM: 32 GB

But it's get unexpected p

[2019-04-22 08:00] shenli commented on #10219
@VoxT Thanks for your feedback. Please keep the issue template and fill it. So we could know more about your problem.

[2019-04-22 08:00] zz-jason commented on #10219
@VoxT Could you describe more to help us to investigate this issue and improve the product?

[2019-04-22 08:49] VoxT commented on #10219
sorry guys. I have update the issue, please check it out. thank you.

[2019-04-22 10:22] mxlxm opened #10226 "semi join performance issue"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
`create table t1 (id bigint, ctime timestamp);`
    generate 10w rows data
`select * from t1 where id not in (select id from t1 where ctime < '2019-04-22 18:09:27');`

2. What did you expect to see?
response quickly as tidb-v2.1.4

3. What did you see instead?
very slow since https://github.com/

[2019-04-22 10:49] VoxT commented on #10219
Bigger problem is coming..

I tried sysbench tidb with my structure, table sbtest1.z_account_0
[code]

- Tidb Result: get slower when data size get bigger (of course)
[code]

- Mysql result:
[code]

## Problem
Problem is my database structure is like this:
[code]

I run sysbench insert with insert stm like `INSERT INTO db_$x.z_account_$y` then i have result:

[code]

- with mysql seem it's not hav

[2019-04-22 11:31] #9860 closed

[2019-04-22 13:01] shenli commented on #10219
@VoxT For the sysbench benchmark, please use more and larger table.

[2019-04-22 13:08] shenli commented on #10187
Fixed in https://github.com/pingcap/tidb/pull/10211

[2019-04-22 17:55] kolbe commented on #10199
Why don't we just add a column to information_schema.processlist instead of fooling around w/ extra SHOW PROCESSLIST syntax?

[2019-04-23 00:37] morgo commented on #10199
+1 to @kolbe's suggestion. It is easier to extend `i_s` because applications can write SQL to customize it. For `SHOW` commands it is better to remain compatible.

[2019-04-23 11:34] zz-jason commented on #10226
To guarantee correctness, we moved the equal condition `eq(est.t1.id, test.t1.id)` to be evaluated after the data is joined in PR #9449. So the execution plan for this query at present is:
[code]

As you can see, it performs a cartesian product first and then performs the filter `eq(test.t1.id, test.t1.id)`.

To avoid this transformation, you can add a `not null` property for the column `id`. That

[2019-04-23 11:47] erjiaqing commented on #10191
According to https://dev.mysql.com/doc/refman/5.7/en/year.html, 0001 is not a valid year.

And TiDB's behavior is same as MySQL

[2019-04-23 12:08] zz-jason commented on #10168
The parser has already provided the `set` statement as `SetVar` function. Could you post the the problems you encountered?

[2019-04-23 13:26] wjhuang2016 commented on #10168
@zz-jason
Yes, the parser has provided `SetVar` function, and I want to get all the `Set statement` in `StatementContext`. To get it I have to check if there is a `SetVar` function recursively, and I think it would be great that the parser return a `StatementContext` like struct.
The problem I encoutered is:

In this command:
`mysql> select @a:=FROM_UNIXTIME(1), unix_timestamp(@a);`
`unix_timestam

[2019-04-23 14:24] mxlxm commented on #10226
this behavior is different from MySQL, `NOT IN (subquery)` requires additional checks for NULL values to guarantee correctness even with MySQL.

due to historical reasons, `NULL` represents a business status, so we can't just modify this column.

now we use `NOT EXISTS` instead of `NOT IN(with null values checks)` to avoid the cartesian product.

in production, we have 1000w+ records, with `v2.1.4

[2019-04-23 14:32] wjhuang2016 commented on #10191
@erjiaqing
I had the same feeling with you at first. And then I realised that MySQL takes `0001` as `1`.

[2019-04-23 17:11] kolbe opened #10240 "tidb-server refuses to start if no pump is registered with pd"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
When trying to restart all TiDB cluster components simultaneously, tidb-server will exit if binlog is enabled but no pump instances are yet registered with pd.

2. What did you expect to see?
tidb-server should continue looking for a pump instance either indefinitely or until some timeout, depen

[2019-04-24 01:52] zz-jason commented on #10240
@amyangfei PTAL

[2019-04-24 03:42] superlzs0476 opened #10242 "invalid range,range.start should be smaller than range.end"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Execute query output errors .
SQL:
select count(*) from transaction_stats_tab WHERE (whs_id = 'IDG' AND transaction_type = 2
2. What did you expect to see?
Execute successful.

3. What did you see instead?
ERROR 1105(HY0000):other error: unknown error StringError("[src/coprocessor/dag/executor/t

[2019-04-24 04:48] XuHuaiyu opened #10243 "we should clear the buffered `Modify_count` if we `analyze a table again`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?

The `Modify_count` and `Row_count` should not be updated if we `analyze table t` again during the lease.

[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
`9c8396

[2019-04-24 04:50] lonng commented on #10240
Hi, @kolbe This error occurred because of your deployment and configuration inconsistent. Pump instances must be available if `enable-binlog` is true.

[2019-04-24 04:52] lamxTyler commented on #10243
See https://github.com/pingcap/tidb/issues/9458

[2019-04-24 04:52] XuHuaiyu commented on #10243
Duplicated

[2019-04-24 04:52] #10243 closed

[2019-04-24 04:59] amyangfei commented on #10240
yes, if we configure TiDB with `enable-binlog` true, the recommended startup sequence: `PD -> TiKV -> Pump -> TiDB -> Drainer`

[2019-04-24 05:34] shenli commented on #10242
@superlzs0476 Could please provide the schema?

[2019-04-24 05:40] superlzs0476 commented on #10242
`mysql> show create table transaction_stats_tab \G
*************************** 1. row ***************************
       Table: transaction_stats_tab
Create Table: CREATE TABLE `transaction_stats_tab` (
  `id` bigint(20) UNSIGNED NOT NULL COMMENT 'primary key',
  `transaction_sid` bigint(20) UNSIGNED NOT NULL COMMENT 'global unique identifier',
  `transaction_type` tinyint(4) UNSIGNED NOT NULL COM

[2019-04-24 05:41] superlzs0476 commented on #10242
[code]

[2019-04-24 06:09] Jonyezog opened #10245 "Installing tidb-2.0 on CentOS6.4 meet error."
CentOS6.4安装tidb2.0 在中控机进行初始化的时候提示操作系统版本需要CentOS7.3及以上 这个怎么绕过？

[2019-04-24 06:10] shenli commented on #10245
We do not support low version centos.

[2019-04-24 06:32] #10081 closed

[2019-04-24 06:48] lamxTyler commented on #10242
@superlzs0476 Could you also provide the statistics?

[2019-04-24 06:57] eurekaka commented on #10226
Could you please illustrate more about this comment?

`NOT EXISTS` should be different with `NOT IN` semantically regarding NULL values of nested table, they may return different results sometimes.

[2019-04-24 07:07] lysu opened #10249 "Support TLS 1.3 handshake"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

MySQL 8.0 support TLS1.3 https://dev.mysql.com/doc/refman/8.0/en/encrypted-connection-protocols-ciphers.html

Go adds opt-in support for TLS 1.3 https://golang.org/doc/go1.12#tls_1_3

now it's disabled by default  but maybe enabled in fut

[2019-04-24 07:29] ngaut commented on #10249
Related: https://github.com/pingcap/tidb/issues/10187

[2019-04-24 07:29] lchb369 opened #10250 "没有索引的情况下随机查随10条性能比mysql差很多"
总数据量1200万行,id是自增主键,name字段无索引
select * from test where name='name181' order by id desc limit 10;

TIDB:
MySQL [test]> select * from test where name='name181' order by id desc limit 10;
+----------+---------+------+------+---------+------------+
| id       | name    | sex  | age  | address | email      |
+----------+---------+------+------+---------+------------+
| 12554182 | name181 | 1    |   24 |

[2019-04-24 07:36] yaoquiet opened #10251 "Syncer report Error 1115: Unknown character set: 'utf8mb4'"
## Bug Report
Please answer these questions before submitting your issue. Thanks!
1. What did you do?
If possible, provide a recipe for reproducing the error.
The operation is to migrate incremental from MySQL to TiDB via syncer.

- [ ] Exported full data from MySQL (5.1.73) via mydumper and imported data into TiDB via loader.

- [ ] Get the binlog info from metadata generated by mydumper on MySQL

[2019-04-24 07:38] zz-jason commented on #10250
@lchb369 Could you post the create table statement for table `test` and the statistics data?

[2019-04-24 07:39] lchb369 commented on #10250
MySQL [test]> show create table test;
+-------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2019-04-24 07:39] shenli commented on #10250
You can dump the statistic info in this way: https://github.com/pingcap/docs/blob/master/sql/statistics.md#export-statistics

[2019-04-24 07:46] mxlxm commented on #10226
take a look at this:
https://explainextended.com/2010/05/27/left-join-is-null-vs-not-in-vs-not-exists-nullable-columns/

[2019-04-24 07:46] amyangfei commented on #10251
@yaoquiet Is the MySQL version **5.1.73** (it is quite an old version)? Currently we force to use `utf8mb4` in syncer, while this charset is supported from MySQL 5.5.3

[2019-04-24 07:48] zz-jason commented on #10250
@lchb369 Could run `explain analyze select * from test where name='name181' order by id desc limit 10;` on tidb and post the result here so we can further analyze the performance bottleneck?

[2019-04-24 07:53] lchb369 commented on #10250
OK
MySQL [test]> explain analyze select * from test where name='name181' order by id desc limit 10;
+------------------------+-------------+------+----------------------------------------------------+--------------------------------------+
| id                     | count       | task | operator info                                      | execution info                       |
+-------------------

[2019-04-24 07:58] ngaut opened #10252 "Rename some copy method to clone"
Currently, there are some copy method which is actually means clone, we should rename them.
See the difference: https://stackoverflow.com/questions/2200409/what-is-the-difference-between-copying-and-cloning