[2021-12-10 06:03] seiya-annie commented on #30603
minor reproduce steps:
1. enable_streaming: true
2. create role r1;  grant lock tables on t.* TO 'r1'@'%';
3. upgrade to v4.0.16

[2021-12-10 06:10] hawkingrei opened #30612 "DATA RACE in the TestConstraintCheckForUniqueIndex"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

···
 WARNING: DATA RACE
Write at 0x00c00e0475e0 by goroutine 696:
  github.com/pingcap/tidb/table/tables_test.TestConstraintCheckForUniqueIndex.func1()
      /go/tidb/table/tables/tables_test.go:706 +0xa4
Previous write at 0x00c00e0475e0 by goroutine 144:
  ??()
      -:0 +

[2021-12-10 06:21] #30501 closed

[2021-12-10 06:30] fuzhe1989 commented on #29944
/unassign @wshwsh12

[2021-12-10 07:13] xiongjiwei commented on #30559
close due to not a bug

[2021-12-10 07:13] #30559 closed

[2021-12-10 07:34] #29193 closed

[2021-12-10 07:52] fzhedu commented on #30363
mysql
[code]
 tidb
[code]

test the sql_mode with write, tidb is compatible with mysql.
the problem comes from the read and compute. so we just check the validibility of value when computing the function.

[2021-12-10 07:57] JmPotato opened #30615 "`tidb_decode_key` still shows `_tidb_rowid` even the table has a clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/1446531/145537616-45970bf9-8e96-40d3-80d2-2d03d56c1fc7.png)

### 2. What did you expect to see? (Required)

When a table uses the clustered index, it will not have any `_tidb_rowid` key.

### 3. What did you see instead (Re

[2021-12-10 07:57] JmPotato commented on #30615
/assign JmPotato

[2021-12-10 08:13] tangenta commented on #30581
This is the GBK incompatibility between MySQL and Golang package `simplifiedchinese`:

[code]

`0x80` is a valid character in `simplifiedchinese`..

[2021-12-10 08:18] xiongjiwei commented on #30581
ok, that explains.

[2021-12-10 08:22] tiancaiamao opened #30617 "CI unstable test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I don't know how it happen, found in https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/24143/pipeline

[code]

### 2. What did you expect to see? (Required)

CI pass

### 3. What did you see instead (Required)

CI fail

### 4.

[2021-12-10 08:23] time-and-fate commented on #30580
One thing strange about this issue is that I can't reproduce it on my machine using the `automated-tests`.

[2021-12-10 08:25] Defined2014 commented on #30567
same problem with #30581, close it

[2021-12-10 08:25] #30567 closed

[2021-12-10 08:26] tangenta commented on #30568
https://github.com/pingcap/tidb/pull/28645 This PR sets `gbk_chinese_ci` as the default collation.

@xiongjiwei Do we have any strong reason to do this?

[2021-12-10 08:30] ChenPeng2013 commented on #30580
Is the cluster config is the same
[code]

[2021-12-10 08:32] zimulala opened #30618 "The error message for inserting data into a JSON column is different from that for MySQL when names is gbk"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`ERROR 1406 (22001): Data too long for column 'a' at row 1`

### 3. What did you see instead (Required)
`ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your TiDB version fo

[2021-12-10 08:45] Defined2014 commented on #30565
/assign

[2021-12-10 08:46] lcwangchao opened #30620 "Add tests to test placement requests to PD"

[2021-12-10 08:51] XuHuaiyu commented on #30582
duplicate with #27208

[2021-12-10 08:53] fzhedu commented on #30363
root cause
[code]
the cast does not care the sql_mode, while mysql does.

[2021-12-10 08:54] LittleFall commented on #27706
ping

[2021-12-10 08:55] hawkingrei commented on #30612
[code]

[2021-12-10 08:55] xiongjiwei commented on #30568
to make it compatible with MySQL.

I tested in MySQL, only `utf8mb4` will show the collation in `show create table` even if the collation is the default collation. I think the reason is `UCA` is evolving, the default collation may be changed in the future, but the other charset does not have the problems. I prefer keeping the collation in `show create table`

[2021-12-10 08:59] fzhedu commented on #30363
mysql
[code]

[2021-12-10 09:05] xiongjiwei commented on #30565
it;s not easy to fix

[2021-12-10 09:06] fzhedu commented on #30363
mysql does not
[code]

mysql cast string as date cares the sql_mode, while other functions does not care sql_mode

[2021-12-10 09:24] sykp241095 commented on #29956
So tidb still does't support `partition by hash(enum_col)` ?

@bb7133

[2021-12-10 09:41] maxshuang opened #30625 "Unexpected trx commit when exec DDL in the trx and tidb_enable_amend_pessimistic_txn=on"
## General Question

TiDB version: v5.3.0
I set tidb_enable_amend_pessimistic_txn=on and find when I do DML(pre) + DDL(add column) + DML(after) in one trx, trx will autocommit the DML(pre) unexpectedly. So any error after DDL and rollback will have no impact on the DML(pre).

Detail sequence is as follows:

Before test:
[code]

Transaction 1:
[code]

Transaction2: (after DDL commit in Transaction

[2021-12-10 09:49] #28424 closed

[2021-12-10 09:54] eddievim commented on #29106
/assign

[2021-12-10 09:58] wjhuang2016 commented on #30625
Does it help? https://docs.pingcap.com/tidb/stable/transaction-overview#starting-a-transaction

[2021-12-10 10:03] maxshuang commented on #30625
Nope, the commit behavior is unexpected.

[2021-12-10 10:07] wjhuang2016 commented on #30625
Oh，I pasted the wrong section. https://docs.pingcap.com/tidb/stable/transaction-overview#explicit-and-implicit-transaction

[2021-12-10 10:13] Defined2014 commented on #30565
Found this. 😭

[2021-12-10 10:13] #29877 closed

[2021-12-10 10:15] maxshuang commented on #30625
Oh, It's by design. But why we deal like this, but not just redo the whole trx or make some amend work?
I think it break the semantic of explicit commit, and do the confused and unexpected work.
Do u have further explanation? @wjhuang2016

[2021-12-10 10:20] JZuming opened #30626 "The connection was lost because of "index out of range""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_
[mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7691949/mysql_bk.sql.txt)

**Test case**
[code]

### 2. What did you expect to see? (Required)

The connection will not be lost.

### 3. What did you see instead (Re

[2021-12-10 10:21] JZuming commented on #30626
The log of the server:

[2021-12-10 10:23] hawkingrei commented on #26855
In fact, Many task like ```analyze_test.go``` are not migrated

[2021-12-10 10:25] hawkingrei opened #30628 "migrate test-infra to testify for `expression/analyze_test.go`"

[2021-12-10 10:29] maxshuang commented on #30625
Another question:
Why I do the DDL(alter table test_column add c6 datetime not null;) in another trx, then we can expect the whole txn redo or do some amend work??

I think these two scene has no difference, but do different work.

[2021-12-10 10:43] tisonkun commented on #26855
@hawkingrei sorry that I miss the file :P

[2021-12-10 11:16] fzhedu commented on #30363
mysql 8.0
[code]

[2021-12-10 13:15] eddievim commented on #28605
/assign

[2021-12-10 13:53] #30615 closed

[2021-12-10 14:44] znhh6018 commented on #28564
/cc

[2021-12-10 14:45] znhh6018 commented on #28564
/assign

[2021-12-10 15:17] morgo commented on #30603
Advice for whoever fixes this:

If you need to use a bootstrap task to modify the table, be careful not to just take the next number along (`upgradeToVer53`). This is because bootstrap numbers are shared across all versions, so you will prevent that task from running if someone eventually upgrades to a newer version, leading to an inconsistent state.

What you instead need to do is se e if you can

[2021-12-10 15:31] eddievim opened #30631 "util/testkit/testkit.go: fix typo"
### What problem does this PR solve?
Problem Summary:

Fix typo in util/testkit/testkit.go:263

[2021-12-10 15:51] #28629 closed

[2021-12-10 17:41] ramanich1 opened #30632 "CONCAT is not working with ESCAP in Tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-10 17:49] JZuming opened #30633 "TiDB server is killed when using tikv because of "out of memory (OOM)""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_
[mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7694534/mysql_bk.sql.txt)

**Test case**
[code]

### 2. What did you expect to see? (Required)

TiDB server will not be killed.

### 3. What did you see instead (Req

[2021-12-10 17:52] JZuming commented on #30633
tidb.log

[2021-12-10 21:44] ramanich1 opened #30634 "Tidb is not inserting datetime if the insert string is in multiple lines"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-10 23:48] ramanich1 opened #30635 "Create view ....WITH CHECK OPTION should be syntactically compatible as per docs , but Tidb is resulting error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-11 00:13] ramanich1 opened #30636 "Able to use Update without where clause in sql_safe_updates mode."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-11 00:16] Alkaagr81 opened #30637 "bitwise operations with binary args behavior changes by mysql 5.7 and 8.0 both"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-11 00:39] #30631 closed

[2021-12-11 02:31] tiancaiamao commented on #25293
2021/12/11
* No progress on developing
* The blocking PR [#30066](https://github.com/pingcap/tidb/pull/30066) finally get merged (after 3 weeks)
   so renew write lock lease [#30206](https://github.com/pingcap/tidb/pull/30206) is now ready for review after it.

[2021-12-11 03:13] #27208 closed

[2021-12-11 03:13] #30582 closed

[2021-12-11 04:14] wjhuang2016 commented on #30625
It's to be compatible with MySQL

[2021-12-11 04:18] wjhuang2016 commented on #30625
Sorry, I don't understand your question.

[2021-12-11 05:22] espresso98 opened #30639 "The `ignore` modifier with insert behave differently for out of range value"
## Bug Report
An unsigned integer is a 32-bit datum that encodes a nonnegative integer in the range [0 to 4294967295].

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see?
[code]

### 3. What did you see instead
[code]

### 4. What is your TiDB version?
[code]

[2021-12-11 05:50] CycleYe commented on #28092
@zyguan Thanks for your reply, but this bug can only be triggered in transaction in my tests.

[code]
And it should follow another statement
[code]

[2021-12-11 06:45] #29793 closed

[2021-12-11 07:57] lance6716 opened #30641 "error message of BR is misleading"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://github.com/pingcap/tidb/blob/8e525d8d882241fabb902bdae0d2d3b79b5cf6a8/br/pkg/restore/split.go#L353-L354

### 2. What did you expect to see? (Required)

last region's endKey < endKey, regionEndKey: %s, endKey: %s

### 3. What did you see instead (Required)

last regi

[2021-12-11 08:09] dbsid commented on #30399
further analysis show that after gathering stats and wait for the histograms to be loaded, the estimate rows for regions table is wrong can causing bad plan. The commit 7c1097feed00352ed4f8dfebb53ab85b633724c3 is identified as root cause by bisect run, need to further confirm.

[code]

[2021-12-11 10:31] hawkingrei opened #30642 "DATA RACE in the server"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-11 12:37] alex-quan-001 commented on #30607
Please evaluate if this fix is cherry-pick to release-4.0 branch:
https://github.com/pingcap/tidb/issues/23839
https://github.com/pingcap/tidb/pull/23844

[2021-12-11 12:44] zhaoxugang commented on #30327
/assign

[2021-12-11 14:26] maxshuang commented on #30625
I try in MySQL. Get the point. Thanks a lot! wjhuang2016.

[2021-12-11 14:26] #30625 closed

[2021-12-11 15:50] Tangruilin commented on #19150
/assign

[2021-12-11 15:57] CycleYe commented on #28095
@aytrack  Thanks for your reply! But I'm still confusing.
As mentioned above, the trigger condition of this bug is very tricky:
(1) In an explicit transaction; (2) the UPDATE should follows another UPDATE.
Could you please explain this in implementation-level?

[2021-12-12 00:45] xuyifangreeneyes commented on #30607
#23839 can be cherry picked to release-4.0 branch. #30645 is the cherry pick pr.

[2021-12-12 03:39] #30238 closed

[2021-12-12 03:58] #30568 closed

[2021-12-12 06:12] zyguan commented on #28092
@CycleYe `update t set b = 'def';` is required because it leads to an union scan when executing `update t set b = 'test' where a;`, which eval condition `a` at tidb side (otherwise it will be pushed down to tikv and tikv handle it correctly). The case metioned [here](https://github.com/pingcap/tidb/issues/28092#issuecomment-976615670) can be reproduced when using unistore (instead of tikv) and the

[2021-12-12 08:02] CycleYe commented on #28092
I got it. Thanks for your reply.

[2021-12-12 08:12] hawkingrei opened #30651 "WaitGroup is reused before previous Wait has returned in the TestCacheTablePointGet"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make test

[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/24306/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-12 11:39] znhh6018 commented on #28574
/assign

[2021-12-12 12:20] #30620 closed

[2021-12-13 02:47] XuHuaiyu commented on #30633
From the log, we can see that about 6.5GB system memory space is consumed by other processes.
tidb-server is killed because of the available memory is few.

[2021-12-13 03:06] XuHuaiyu commented on #30633
But the expected behavior of this SQL is to be cancelled by tidb-server but not the OS oom-killer.
The reason why this SQL is not cancelled is because that some memory usage is not tracked in CTE as the heap profile shows:
![screenshot-20211213-110530](https://user-images.githubusercontent.com/9039012/145746082-b49489e6-5fe0-44db-8210-a22438d140dc.png)

[2021-12-13 03:32] hawkingrei opened #30658 "DATA RACE in the doActionOnGroupMutations"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

```make race```

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-13 03:51] Defined2014 commented on #30443
Maybe the root case is same as #30565, we transform the `sql` statements to `gbk` charset before parser it. Then we used `?` to instead of invalid `gbk` characters.

[2021-12-13 04:11] mashenjun commented on #28615
/assign

[2021-12-13 04:42] bb7133 commented on #30642
I think it is caused for the following reason:

- TiDB server is started with a socket listener(read of `s.socket`): https://github.com/pingcap/tidb/blob/6756bd2ea824c5104cf7c326e24692bd7dad97fd/server/server.go#L367
- The test case tries to close the server, during this process `s.socket` is set to `nil`(write of it): https://github.com/pingcap/tidb/blob/6756bd2ea824c5104cf7c326e24692bd7dad97fd/s

[2021-12-13 06:17] XuHuaiyu commented on #30587
The parent operator above the HashJoinExec triggers an error during Open. Thus the `HashJoinExec.closeCh` is not initialized and cause an nil pointer panic during the `HashJoinExec.Close`.

[2021-12-13 06:21] yibin87 commented on #30264
Reproduced in dev machine.

[2021-12-13 06:35] hawkingrei commented on #28600
/assign

[2021-12-13 06:37] TejaSangaru commented on #29116
can you please bit more ..

[2021-12-13 07:07] Defined2014 opened #30661 "Error Msg are not same with MySQL when insert incorrect charset"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

A useful link, https://github.com/pingcap/tidb/pull/25087

[2021-12-13 07:07] Defined2014 commented on #30661
/severity minor

[2021-12-13 07:20] glorv commented on #28462
@morgo Seems there is little document for SEM feature in tidb's document? So do we need to add extra note in tidb-lightning's privilege requirement or just leave it as it is. PTAL

[2021-12-13 07:23] dveeden commented on #30642
@bb7133 That should be fine. In current master `newTestConfig()` sets `cfg.Socket = ""`, so anything that doesn't explicitly need a socket doesn't need to set socket names etc.

[2021-12-13 07:27] glorv commented on #29002
@kolbe Can you reproduce this issue in your environment?

[2021-12-13 07:34] AkiraXie opened #30663 "Different users can't start tidb because of the permission issue of sock file"
## Bug Report

On ubuntu 18.04 , I found example tidb cluster cannot work well

### 1. Minimal reproduce step (Required)
1. install tiup ,according to [guide](https://docs.pingcap.com/tidb/stable/quick-start-with-tidb#Linux)，create topo.yaml and edit ip to 127.0.0.1
2. run `tiup cluster deploy xxx 5.3.0 ./topo.yaml --user root -p`
3.  run `tiup cluster start xxx `

### 2. What did you expect to se

[2021-12-13 08:11] AkiraXie commented on #30663
tidb.log :

[2021/12/13 07:30:23.348 +00:00] [INFO] [trackerRecorder.go:29] ["Mem Profile Tracker started"]
[2021/12/13 07:30:23.349 +00:00] [INFO] [printer.go:48] ["loaded config"] [config="{\"host\":\"0.0.0.0\",\"advertise-address\":\"127.0.0.1\",\"port\":4000,\"cors\":\"\",\"store\":\"tikv\",\"path\":\"127.0.0.1:2379\",\"socket\":\"/tmp/tidb-4000.sock\",\"lease\":\"45s\",\"run-ddl\":true,\"spli

[2021-12-13 08:19] AkiraXie commented on #30663
pd.log:

[2021/12/13 07:29:59.409 +00:00] [WARN] [proxy.go:189] ["fail to recv activity from remote, stay inactive and wait to next checking round"] [remote=127.0.0.1:10080] [interval=2s] [error="dial tcp 127.0.0.1:10080: connect: connection refused"]
[2021/12/13 07:30:01.410 +00:00] [WARN] [proxy.go:189] ["fail to recv activity from remote, stay inactive and wait to next checking round"] [remote=

[2021-12-13 08:25] AkiraXie commented on #30663
tikv.log:

[2021/12/13 07:29:56.500 +00:00] [INFO] [<unknown>] ["New connected subchannel at 0x7f6002966e70 for subchannel 0x7f5fdfa99540"]
[2021/12/13 07:30:08.143 +00:00] [INFO] [kv.rs:1023] ["kv rpc failed"] [err=RemoteStopped] [request=batch_commands]
[2021/12/13 07:30:08.143 +00:00] [INFO] [kv.rs:1023] ["kv rpc failed"] [err=RemoteStopped] [request=batch_commands]
[2021/12/13 07:30:08.148 +00

[2021-12-13 09:15] Defined2014 commented on #9016
/close

[2021-12-13 09:15] #9016 closed

[2021-12-13 09:18] dveeden commented on #30663
Does `/tmp/tidb-4000.sock` exist? and if so, what are the permissions and ownership?

[2021-12-13 09:19] nolouch commented on #14212
I think this is unavoidable because you actively connected to a wrong service.

[2021-12-13 09:19] nolouch commented on #14212
I plan to close this issue. If you have any questions, you can reopen it.

[2021-12-13 09:19] #14212 closed

[2021-12-13 09:20] dveeden commented on #30661
See https://github.com/pingcap/tidb/pull/25087 for some history on this

[2021-12-13 09:23] nolouch commented on #18660
![image](https://user-images.githubusercontent.com/6428910/145785530-3f65e4fa-7eae-4d9a-bffc-eea449908936.png)
I think it's already fixed.

[2021-12-13 09:23] #18660 closed

[2021-12-13 09:23] nolouch commented on #22788
fixed.

[2021-12-13 09:23] #22788 closed

[2021-12-13 09:28] nolouch commented on #25481
@Lily2025  Can we reproduce it, otherwise I'm going to close it. I think the current information is relatively missing.

[2021-12-13 09:29] nolouch commented on #22498
fixed.

[2021-12-13 09:29] #22498 closed

[2021-12-13 09:29] nolouch commented on #21717
Done.

[2021-12-13 09:29] #21717 closed

[2021-12-13 09:33] nolouch commented on #22796
I think it's a feature, ref https://github.com/tikv/rfcs/pull/62

[2021-12-13 09:34] nolouch commented on #24615
can we reproduce it?

[2021-12-13 09:34] AkiraXie commented on #30663
it works, thx!

[2021-12-13 09:35] dveeden commented on #30596
TiDB v5.3.0 via MySQL Shell
[code]

MySQL 8.0.27 via MySQL Shell:
[code]

MySQL 8.0.27 via MySQL Client:
[code]

[2021-12-13 09:53] sticnarf commented on #24615
The issue was reported months ago, before the scheduler flow control implemented in TiKV. The probability of the problem should be quite low because it is less likely that the raftstore is stuck for a long time.

The known problems includes loading evicted entries makes the apply threads slow.

[2021-12-13 09:56] hawkingrei opened #30669 "DATA RACE in the IndexNestedLoopHashJoin.finishJoinWorkers"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-13 09:56] dveeden commented on #30596
I've filed https://bugs.mysql.com/bug.php?id=105875

[2021-12-13 10:14] #28623 closed

[2021-12-13 11:37] Lawrence1223free opened #30672 "DM may get "Duplicate partition" Error when upstream MySQL ADD Partition for partition table"
**1. Minimal reproduce step (Required)**

-------------------- from the DM worker log --------------------
[2021/12/13 09:49:38.653 +08:00] [ERROR] [baseconn.go:184] ["execute statement failed"] [task=task_sbk_replication] [unit="binlog replication"] [query="ALTER TABLE `sbk`.`wager_selection_detail` ADD PARTITION (PARTITION `p20220111` VALUES LESS THAN (_UTF8MB4'2022-01-12'))"] [argument="[]"] [e

[2021-12-13 11:41] #30672 closed

[2021-12-13 12:44] #27795 closed

[2021-12-13 12:49] glorv commented on #27937
@kennytm What do you think of this issue? As when tidb reach the maximum auto_increment value the auto increment counter will overflow and any other insert statement with implicit auto_increment column will result in `ERROR 1467 (HY000): Failed to read auto-increment value from storage engine`, it's hard to do the same thing with SQL interface.

What about when we find the auto_increment value is

[2021-12-13 13:22] tiancaiamao commented on #30489
This is the same issue with https://github.com/pingcap/tidb/issues/28292

It's introduced in 5.1 by the cherry-pick PR https://github.com/pingcap/tidb/pull/21148

It's a critical problem and not easy to fix, see our internal document https://pingcap.feishu.cn/docs/doccnDrJ22mWwkFi9NkUfzwlADc

[2021-12-13 13:22] #28564 closed

[2021-12-13 13:22] #30628 closed

[2021-12-13 15:06] wjhuang2016 opened #30676 "unstable test TestHashInTopN"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/24571/nodes/52/log/?start=0
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-13 15:11] wjhuang2016 opened #30677 "unstable test TestPessimisticLockNonExistsKey"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/51968/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-13 15:15] wjhuang2016 opened #30678 "unstable test TestExprPushdownBlacklist"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/24548/nodes/52/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-13 15:17] wjhuang2016 opened #30679 "unstable test TestAnalyzeFastSample"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/24573/nodes/52/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-13 17:19] breeswish commented on #23613
According to the text you provide, this system is exactly displaying what -v shows:

[code]

What's the problem you think it's wrong?

[2021-12-13 18:44] ramanich1 opened #30682 "Insert NULL into NOT NULL columns is not resulting error in Tidb when sql_mode =''"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-14 00:52] yudongusa commented on #30512
@aytrack please help to review winoros' question above

[2021-12-14 01:06] yudongusa commented on #30426
@AilinKid seems a similar issue to #30501 , please help to verify if this is a duplicated issue.

[2021-12-14 01:10] yudongusa commented on #30382
@tiancaiamao @winoros any update on this issue?

[2021-12-14 01:13] yudongusa commented on #30333
@Reminiscent @tiancaiamao Was the root cause identified?

[2021-12-14 01:13] tiancaiamao commented on #30382
[code]

Join will block the both tables:

[code]

While subquery just blocks the outer table:

[code]

It means when rewrite the apply to join, the SelectLock be the children of the Join, rather than be the parent of the join.

[2021-12-14 01:25] yudongusa commented on #28743
@XuHuaiyu based on the offline discussion last week, should we label expression related issue with sig/execution?

[2021-12-14 01:32] tiancaiamao commented on #30333
I'm not sure, it's still a developing feature, after https://github.com/pingcap/tidb/pull/30206/ I will take a look.
Maybe it will disappear by itself...

If this fails a lot in our CI I'll give it a higher priority.

@yudongusa

[2021-12-14 01:35] tiancaiamao commented on #27941
Because the behaviour is still under discussing, I change the `type/bug` to `type/question`...

[2021-12-14 01:40] yudongusa commented on #30333
Ok, we can check back with the new feature. I removed bug label first as discussed with QA team since it will be handled by features.

[2021-12-14 01:45] windtalker opened #30683 "inconsistent result of `quarter` when the input is zero date"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
The result of `quarter(v1)` and `quarter(v2)` should be the same, both 0 or both null.
BTW in MySQL, both `quarter(v1)` and `quarter(v2)` return 0.
### 3. What did you see instead (Required)
`quarter(v1)` returns 0, and `

[2021-12-14 02:01] dragonly commented on #29497
/assign @wshwsh12

[2021-12-14 02:03] vivid392845427 opened #30685 "UnionScan + IndexMerge, query with or missing record in transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-14 02:11] zimulala opened #30686 "The JSON column returns a error message that are different with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`ERROR 3140 (22032): Invalid JSON text: "Missing a colon after a name of object member." at position 9 in value for column 't.j'.`

### 3. What did you see instead (Required)
`ERROR 3140 (22032): Invalid JSON text: The d

[2021-12-14 02:21] likefallwind opened #30687 "I think it is great"
## General Question

[2021-12-14 02:31] bb7133 commented on #30687
Hello @likefallwind , please have a clear description about your issue, thanks!

[2021-12-14 02:37] #30687 closed

[2021-12-14 02:37] JmPotato opened #30688 "The Max SafeTS Gap metrics is wrong"
## Bug Report

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/1446531/145922936-0a689cb5-91b7-4d28-b8e6-d46dad84ae7e.png)

### 2. What did you expect to see? (Required)

The Grafana panel should work well and show some data.

### 3. What did you see instead (Required)

Nothing.

### 4. What is your TiDB version? (Required)

https://github.com/pingcap/t

[2021-12-14 03:05] Defined2014 opened #30690 "The inserted result is different with blob type in gbk dml test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-14 03:05] Defined2014 commented on #30690
/feature developing

[2021-12-14 03:05] Defined2014 commented on #30690
/severity critical

[2021-12-14 03:06] Defined2014 commented on #30690
/sig sql-infra

[2021-12-14 03:06] Defined2014 commented on #30690
/sig sql-infra

[2021-12-14 03:08] Defined2014 commented on #30690
The `JSON` type also has the same problem.

[2021-12-14 03:15] aytrack commented on #30512
This case has not been run before, and it looks like was added by https://github.com/pingcap/tidb-test/pull/1375 to fix  https://github.com/pingcap/tidb/issues/30281. Also, the first failure was found in https://github.com/pingcap/tidb/pull/30294

[2021-12-14 03:22] aytrack opened #30691 "The result of CTE is not ordered"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
the query CTE result should be ordered consistently.
[code]
### 3. What did you see instead (Required)
the result is not ordered.
[code]
### 4. What is your TiDB version? (Required)
master 755553660e6036ead13d1f0aa271eaf5

[2021-12-14 03:33] zimulala commented on #30690
My local display is as follows:
[code]

[2021-12-14 03:43] Defined2014 commented on #30690
/assign

[2021-12-14 03:46] Defined2014 commented on #30690
It depends on client.
I tried it on `MySQL 8.0.27`, the result is:
[code]
When I use `mycli 1.24.1`, the result is:
[code]

[2021-12-14 03:50] Lily2025 opened #30693 "sysbench report 1205 error when inject Network Partition between two tikvs for 3min"
## Bug Report
### 1. Minimal reproduce step (Required)
2TiDB、3PD、4TiKV
oltp_rel_001_005
1、sysbench --mysql-user=root --db-driver=mysql --time=0 --report-interval=10 --mysql-db=test --mysql-host=tc-tidb.glh-9s8tk --mysql-port=4000 --threads=512 --tables=32 --table-size=10000000 --mysql-ignore-errors=2013,1213,1105,8028 --rand-type=gaussian oltp_write_only run
2、5min later
3、inject Network Partition

[2021-12-14 03:52] Lily2025 commented on #30693
/assign cfzjywxk

[2021-12-14 04:04] qw4990 commented on #29731
This is caused by these two places modifying the same config item `Config.Log.Log` simultaneously.
But now, this config item has been updated to an atomic bool as below, so this issue no longer exists:
![image](https://user-images.githubusercontent.com/7499936/145930869-80a15f1d-cccb-4785-b7e4-b419d9a8bc7b.png)

[2021-12-14 04:04] #29731 closed

[2021-12-14 05:16] lcwangchao opened #30695 "Introduce `TxnManager` and implement `GetTxnInfoSchema()` in it."

[2021-12-14 06:12] qw4990 commented on #30136
This is a new test case introduced by https://github.com/pingcap/tidb-test/pull/1312.

[2021-12-14 06:32] winoros commented on #30399
At that time, the stats haven't been loaded yet. Should we wait until the auto analyze finished?

[2021-12-14 06:32] qw4990 commented on #30136
This issue is in [mysql_test/key](https://github.com/pingcap/tidb-test/blob/master/mysql_test/r/key.result), and it can be simplified as below:
[code]

It is expected that the last `select` cannot read any data related to `t2` since it has already been dropped before, but in this case some data about `t2` is returned.

This issue is related to DDL instead of the optimizer, and the table `informati

[2021-12-14 06:43] bb7133 commented on #30690
GBK is WIP(not released) so I will change the severity to 'major'.

[2021-12-14 06:46] zgcbj commented on #29856
why delay again?

[2021-12-14 06:51] Ivy-YinSu opened #30697 "release: v5.0.7"

[2021-12-14 07:02] kolbe opened #30698 "cannot build on macOS arm64"
[code]

[2021-12-14 07:02] kolbe commented on #30698
$ go version
go version go1.16.3 darwin/arm64

[2021-12-14 07:05] bb7133 commented on #30690
@Defined2014 How did you try to reproduce this issue? If it is ran manually in the client, I think `insert into t values ("你好")` is dependent on the settings of terminal encoding and client encoding.

[2021-12-14 07:07] joccau opened #30699 "br: set `gosec` lint enable for br"
## Enhancement

Enable `gosec`  lint for br in TiDB repo

[2021-12-14 07:08] joccau commented on #30699
Assign to myself

[2021-12-14 07:14] wjhuang2016 commented on #30691
It's expected.
[code]
The outer-most level is a UNION, not recursive CTE. So the result order is not determined.

[2021-12-14 07:14] #30691 closed

[2021-12-14 07:14] guo-shaoge commented on #30691
The result is not consistent because concurrency in  `Union_29`, you can disable concurrency by setting: `set tidb_executor_concurrency = 1;`. Then the result will be ok.

[2021-12-14 07:15] Defined2014 commented on #30690
Em... I mean the result is `0xE6B5A3E78AB2E382BD ` or `浣犲ソ` depends on client version.
But the TiDB-Server response is wrong which caused by `set character_set_client = 'gbk'`. 🥲 @bb7133

[2021-12-14 07:18] Lily2025 commented on #30693
from :cfzjywxk
It seems to be deadlocked because the wait manager is isolated and not detected, and then the lock timed out.

[2021-12-14 07:29] #30074 closed

[2021-12-14 07:59] #30539 closed

[2021-12-14 08:00] purelind commented on #28947
closed by https://github.com/pingcap/tidb/pull/29848

[2021-12-14 08:00] #28947 closed

[2021-12-14 08:03] #27449 closed

[2021-12-14 08:03] #27447 closed

[2021-12-14 08:03] #26999 closed

[2021-12-14 08:03] #25271 closed

[2021-12-14 08:04] #25189 closed

[2021-12-14 08:04] #25122 closed

[2021-12-14 08:17] XuHuaiyu commented on #27126
tested on b626745299655cc4894160d700b19f7838f93d38 with tikv and unistore, can not reproduce

[2021-12-14 08:17] #27126 closed

[2021-12-14 08:20] XuHuaiyu commented on #24630
No update for a long time, close it now.
Feel free to reopen it.

[2021-12-14 08:20] #24630 closed

[2021-12-14 08:23] XuHuaiyu commented on #27693
@fzhedu Can this issue be close? PTAL

[2021-12-14 08:24] wjhuang2016 commented on #30698
Please update the go version to 1.17.4

[2021-12-14 08:36] XuHuaiyu commented on #23549
`count(col1) = "1e64"` is rewritten to `eq(Column#3, 1)`

[code]

[2021-12-14 08:37] znhh6018 commented on #30443
/assign

[2021-12-14 09:13] xiongjiwei opened #30707 "copr_test is always timeout"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_copr_test/activity/

[2021-12-14 09:56] XuHuaiyu commented on #28078
dup with https://github.com/pingcap/tidb/issues/30224, fixed already

[2021-12-14 09:57] Ivy-YinSu commented on #29856
We are sorry to announce that TiDB v4.0.16 will be delayed from Dec. 10th to Dec. 17th.
Because the following two issues may pose quality risks, and we will treat every quality issue with care, we will take 1 week to fix and go through the regression test.
https://github.com/pingcap/ticdc/issues/3615
https://github.com/pingcap/ticdc/issues/3112

[2021-12-14 10:22] #29181 closed

[2021-12-14 10:25] dbsid commented on #30399
the test shows that after analyzing on table region, the estimate rows on `r_name = 'MIDDLE EAST'` is wrong, should be 1, rather than 1

[code]

[2021-12-14 10:34] lance6716 commented on #30709
open since master didn't fix it

https://github.com/pingcap/tidb/blob/ac25e9f04ccb775e228c946fa95f802a38d8291b/br/pkg/lightning/lightning.go#L294

https://github.com/pingcap/tidb/blob/ac25e9f04ccb775e228c946fa95f802a38d8291b/br/pkg/storage/s3.go#L287-L292

[2021-12-14 10:35] lance6716 commented on #30709
/assign @glorv

[2021-12-14 10:38] #29673 closed

[2021-12-14 11:48] #30688 closed

[2021-12-14 12:04] #28031 closed

[2021-12-14 12:04] #30709 closed

[2021-12-14 12:45] cfzjywxk commented on #30693
phenomenon:
The workload has high conflicts we could observe deadlock errors all the time during the test, after ingesting networkpartition on two tikv nodes(one is lock detect leader), the `pessimisticlock` request duration increased to `1s` and lock wait timeout errors are reported by serveral queries and the sysbench client aborts these connections(1205 error code is not ignored).
After investi

[2021-12-14 12:56] xuyifangreeneyes opened #30718 "Improve the file format for cmd/explaintest/r/xxx.result"
## Enhancement

Currently, we write the expected results one by one without any space character into `cmd/explaintest/r/xxx.result`. The logic to compare the actual results with the expected results is as follows:
[code]
The result file format and the comparison logic lead to the problem like #29475. Though #30717 can fix #29475, it may blame on the next query if the previous query result is wrong

[2021-12-14 12:56] xuyifangreeneyes commented on #30718
/sig planner

[2021-12-14 13:22] zgcbj commented on #29856
Thanks for your replay!

[2021-12-14 13:46] #30669 closed

[2021-12-14 14:10] fengou1 opened #30720 "Restore failure due to split region cause some key space unmap to region temporarily."
## Bug Report

### 1. Minimal reproduce step (Required)
There is no specific step to reproduce the issue.
issue happen occasionally.

### 2. What did you expect to see? (Required)
If PD split region ongoing, BR may need to wait until there are error or stuck during split region (timeout 5 mins in tidb)
![image](https://user-images.githubusercontent.com/85682690/146015449-9152f6e4-6f22-491a-a83f-d4

[2021-12-14 14:29] guo-shaoge opened #30721 "Got invalid mem address panic when using IndexMerge"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists tbl_11;
    create table tbl_11 ( col_110 bigint default -3462161617863476991 , col_111 timestamp default '2003-07-01' , col_112 varchar(79) collate utf8mb4_bin default 'ZdSYRMmFe' not null , col_113 int unsigned default 2579889940 not null , col_11

[2021-12-14 15:02] tangenta opened #30722 "string args of `COM_STMT_EXECUTE` are not aware of character_set_client"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

6c0fcea07

[2021-12-14 15:07] hawkingrei commented on #30658
Now all ```Parallel``` are removed. it still existed.

[2021-12-14 15:33] znhh6018 commented on #30443
/unassign

[2021-12-14 16:48] kolbe commented on #30698
Thanks, upgrading golang resolved the issue.

[2021-12-14 16:48] #30698 closed

[2021-12-14 19:16] Alkaagr81 commented on #29741
[code]

[2021-12-14 19:33] ramanich1 opened #30724 "Tidb resulting error when using field name( which have alias) in order by clause."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-14 19:45] ramanich1 opened #30725 "SELECT..ESCAPE is not working with hexadecimal value in Tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-14 20:11] ramanich1 opened #30726 "TiDB incorrect date behavior is not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-14 21:19] ramanich1 opened #30727 "TiDB statistics functions avg(),std(),variance() results are not consistent with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-14 23:19] Alkaagr81 opened #30728 "HEX(LPAD) behavior doesn't match with both 5.7 and 8.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-14 23:50] Alkaagr81 opened #30729 "GET_FORMAT and date_format in eur format is not working in tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-15 00:14] yudongusa commented on #30676
@XuHuaiyu it seems this is the fail from executor testing, could you confirm? github.com/pingcap/tidb/executor_test.TestHashInTopN

[2021-12-15 00:37] yudongusa commented on #30512
Neither of these issues seems related. Also further looking at the plan differences, both plan should have little actual performance differences, one tablescan 3 rows, the other indexscan (only) 3 rows.

[2021-12-15 00:39] yudongusa commented on #30512
@qw4990 please help to check if there is any potential issue/improvement from the costing side.

[2021-12-15 00:46] yudongusa commented on #30433
@winoros this seems to be a candidate of subq rewrite refactor feature.

[2021-12-15 00:56] yudongusa commented on #30382
So this seems that sub-q to join rewrite potentially changed the behavior of the lock. If this is the case, one option is that we may need to add exemption in sub-q to join rewrite to block this rewrite when it involves for update; or we mark the table from sub-q to be excluded from update lock during sub-q to join rewrite. What do you guys think? @tiancaiamao @winoros

[2021-12-15 01:04] Alkaagr81 opened #30730 "hexadecimal string representation of the value is different. with quote"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-15 01:15] Alkaagr81 opened #30731 "Result difference in mysql and TIDB for string function substring and right"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-15 01:40] #30515 closed

[2021-12-15 01:57] dragonly commented on #982
This can be reproduced in `v5.3.0-alpha-1660-gdac5a6874`.

[2021-12-15 01:58] JmPotato commented on #30720
Hi, thanks for reporting the problem although you should not mention anything about Oncall or post an internal Jira link here. We should be community-friendly in a GitHub repo. What you show is meaningless to the contributors of TiDB, they DO NOT and should not ever know or care these rather internal information. The right way should be to extract the key information in the problem and post it her

[2021-12-15 02:16] glorv commented on #28031
NOTE: this bug also affects tidb-lightning v4.0, v5.0 and v5.1.

[2021-12-15 02:18] morgo commented on #30136
Sure, I can fix. I agree it's a bug; the statistics for old tables should not be shown.

[2021-12-15 02:43] aytrack commented on #30728
I can't reproduce 3-6 in master(
[code]
for 1 and 2, IMOH it's more reasonable in tidb
tidb
[code]
mysql 8.0.26
[code]

[2021-12-15 03:20] tangenta opened #30733 "Enable golangci-lint `predeclared`"

[2021-12-15 03:20] cfzjywxk commented on #30535
/cc @youjiali1995 @sticnarf @you06 @MyonKeminta @ekexium @longfangsong

[2021-12-15 03:40] tangenta commented on #982
@dragonly The last PR is still not merged. So the behavior is expected.

[2021-12-15 04:02] Reminiscent commented on #30676
Related to https://github.com/pingcap/tidb/pull/30708
We try to disable the parallel for the test to see whether the error still happens.

[2021-12-15 04:14] #30722 closed

[2021-12-15 04:19] Reminiscent commented on #30676
https://github.com/pingcap/tidb/pull/30692 This PR has been already disabled the parallel. Maybe we can close this PR until it happens again.

[2021-12-15 04:19] #30676 closed

[2021-12-15 07:06] fengou1 commented on #30720
lower priority since retry restore can success and it happen rarely.

[2021-12-15 07:12] nolouch commented on #29204
fixed by https://github.com/pingcap/tidb/issues/28679.

[2021-12-15 07:12] #29204 closed

[2021-12-15 07:18] rebelice opened #30738 "The predicate on the `bit` column cannot be pushed down"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

Release Version: v5.4.0-alpha-411-g04a9618f5
Edition: Community
Git Commit Hash: 04a9618f5cccd2ef262b2ef04aeab1a6770

[2021-12-15 07:23] nolouch commented on #24615
I'm going to close this issue because there is no more information, and we can reopen it if you have any problems.

[2021-12-15 07:23] #24615 closed

[2021-12-15 07:25] winoros commented on #11414
A related issue #30433

[2021-12-15 07:27] winoros commented on #30433
yes, this is an issue about how we deal with the subquery in the rewriting/resolving phase.
I use another issue to track it.
Remove the bug label, use the compatibility label instead.

[2021-12-15 07:27] AilinKid commented on #30426
seems that they are not the same problem, i will take a look

[2021-12-15 07:28] winoros commented on #30433
It's not a one that can be easily backported.
So we also remove the `affects-*` label.
This would be re-considered when we implement this feature.

[2021-12-15 07:40] Defined2014 commented on #30443
The reason is when set `character_set_client` and `character_set_connection` to `gbk`, MySQL will ignore both two value, but TiDB will transfor twice like `gbk -> utf8 -> gbk`.
If the value is invalid for utf8, we will lost information forever at the first transfor.

[2021-12-15 07:41] winoros commented on #30679
We think that the #30692 fixed the problem. So closed first.

[2021-12-15 07:41] #30679 closed

[2021-12-15 07:55] Defined2014 commented on #30443
/remove type/bug

[2021-12-15 07:56] Defined2014 commented on #30443
/remove-type bug

[2021-12-15 07:56] Defined2014 commented on #30443
/type compatibility

[2021-12-15 07:57] Defined2014 commented on #30443
/remove-severity moderate

[2021-12-15 08:01] Defined2014 commented on #30690
Caused by #30288, it not exists on the master branch. 😭

[2021-12-15 08:02] winoros commented on #29766
The design doc:
https://pingcap.feishu.cn/docs/doccndyrRWfcGALhjcyVhOrxWYd

[2021-12-15 08:06] winoros commented on #29766
Splitted working items

- [ ] Introducing the basic structure for the functional dependency.
- [ ] Implementing the basic inserting logic of strict functional dependency.
- [ ] Implementing the basic inserting logic of strict equiv constraint.
- [ ] Implementing the basic inserting logic of lax functional dependency.
- [ ] Implementing the maintain for DataSource.
- [ ] Implementing the maintain f

[2021-12-15 08:11] cfzjywxk commented on #29920
Sometimes the transaction scheduler in tidb could not decide if the transaction has committted successfully because of rpc errors, the undetermined result is expected in this case.
@zyguan
We could turn this into a question and try to verify it next time if it's expected undetermined error.

[2021-12-15 08:20] xiongjiwei opened #30740 "index out of range when create gbk charset enum column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`no panic`

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-15 08:32] vivid392845427 commented on #28095
The main difference is  use unionScan in transaction. The data written in the previous update will be cached in the mem buffer of tidb. If it is related to the read in the next update, the data will be read from the buffer as the latest result. as follow：
[code]
you can read the articles of this blog：https://pingcap.com/zh/blog/tidb-api-union-scan

[2021-12-15 08:34] AilinKid commented on #30426
fixed by #30418

[2021-12-15 08:34] #30426 closed

[2021-12-15 08:52] #30174 closed

[2021-12-15 08:53] lcwangchao opened #30741 "Forbid tiflash replica on the table that has placement settings"

[2021-12-15 08:57] fubinzh opened #30742 "br prevent parallel backup & restore"
## Feature Request

**Is your feature request related to a problem? Please describe:**
It is not recommended to do br backup/restore in parallel, and it is documented in br best practice https://docs.pingcap.com/tidb/stable/backup-and-restore-tool#best-practices.
However br doesn't prevent user from doing so from code level, user can still do br parallel backup/restore, problems could be:
1. BR A

[2021-12-15 09:04] #29475 closed

[2021-12-15 09:22] glorv commented on #29564
The corresponding feature is not GA to user, so needn't cherry-pick to release-5.3 then.

[2021-12-15 09:24] glorv commented on #29566
Only affect nightly.

[2021-12-15 09:58] WillJiang12 opened #30744 "Tidb dashboard page exception PD: Cluster: errnotbootstrapped"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Open http://ip:2379/dashboard
2. Cluster information - > instance
3. Display error pd. client_ request_ failed: Request failed with status code 500 from PD API: "[PD:cluster:ErrNotBootstrapped]TiKV cluster not bootstrapped, please start TiKV first
4. Bench is currently r

[2021-12-15 10:00] WillJiang12 opened #30745 "Tidb dashboard page exception PD: Cluster: errnotbootstrapped"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Open http://ip:2379/dashboard
2. Cluster information - > instance
3. Display error pd. client_ request_ failed: Request failed with status code 500 from PD API: "[PD:cluster:ErrNotBootstrapped]TiKV cluster not bootstrapped, please start TiKV first
4. Bench is currently r

[2021-12-15 10:01] WillJiang12 commented on #30745
![error](https://user-images.githubusercontent.com/64405618/146165543-9bd7ac8d-9a1a-4e3e-8c17-ea7d13954c46.jpg)
<img width="762" alt="up" src="https://user-images.githubusercontent.com/64405618/146165568-be6fe142-b794-4ee8-8e3b-c8a4be7dea65.png">

[2021-12-15 11:44] wjhuang2016 opened #30748 "coercibility is wrong for subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-12-15 12:11] winoros commented on #30636
Seems that we haven't supported this variable yet.
@bb7133

[2021-12-15 12:12] winoros commented on #30636
Mark it as a compatibility problem.

[2021-12-15 12:17] winoros commented on #30554
This might be a known issue, I'm confirming this.

[2021-12-15 12:28] #30580 closed

[2021-12-15 13:12] #25422 closed

[2021-12-15 16:26] morgo commented on #30136
This is a harder fix than I thought, and other i_s tables might have the same problem :(

I assumed that the issue might be a `range` on the internal statistics table, but it is not. It is infact already ranging on the list of tables correctly:

[code]

[2021-12-15 16:44] ramanich1 opened #30755 "Query crashed the Tidb server"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-15 17:03] morgo commented on #30603
@seiya-annie I took a look at this, but I can not reproduce :(

I don't think this relates to `enable-streaming`, but it is quite possible that the role `r1` is related. But I think it is not a change between v4.0.15 and v4.0.16 because there are no bootstrap tasks which change the schema definition:

[code]

Is it possible it could be an install based on an earlier version? It looks like 4.0.13 i

[2021-12-15 18:56] yudongusa commented on #30748
Assign this to @wjhuang2016 who is working on #30750

[2021-12-15 20:03] kolbe commented on #29002
You're right, I can't reproduce this either. Nothing was listening on port 10080 when I did the initial test, because `curl` gave "connection refused". But I don't know what else might have possibly happened to cause this issue.

[2021-12-16 01:26] aytrack commented on #30744
duplicated with #30745, close this.

[2021-12-16 01:26] #30744 closed

[2021-12-16 01:55] WillJiang12 commented on #30745
<img width="1700" alt="restart_ok" src="https://user-images.githubusercontent.com/64405618/146293472-efcd6f11-5e36-48d5-af5d-9dd196aae94f.png">

Now, after I restart the whole cluster, the page is restored. Is it related to the bench I was using yesterday?
tiup bench tpcc -H HO-TiDB-CN-02. bdd-ho. jnu. edu. cn  -P 4000 -p ' JnuTiDB@2021 ' -D tpcc --warehouses 1000 prepare
Steps to restore
tiup clu

[2021-12-16 01:55] bb7133 commented on #30303
Very likely that this issue can be closed by https://github.com/pingcap/tidb/pull/30306, I will close it for now.

[2021-12-16 01:55] #30303 closed

[2021-12-16 02:00] bb7133 commented on #27948
@birdstorm @XuHuaiyu @jebter

I cannot see the `Information schema is out of date: schema failed to update in 1 lease` log from https://ci.pingcap.net/blue/organizations/jenkins/tiflash_regression_test_daily/detail/tiflash_regression_test_daily/359/pipeline. Also, I don't know why the test failed(there are too many logs).

Is the jenkins link wrong?

[2021-12-16 02:05] birdstorm commented on #27948
@bb7133 hi, this issue was created a long time ago, I will try to recall what happened then...

[2021-12-16 02:06] #30642 closed

[2021-12-16 02:18] #29539 closed

[2021-12-16 02:44] Defined2014 commented on #30677
another one https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/52513/pipeline

[2021-12-16 02:53] ramanich1 opened #30759 "TiDB Cast datetime to Double or Float results are not consistent with Mysql."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-16 02:57] morgo commented on #28462
@glorv SEM is mostly for our own internal usage, so it is something we can leave as is for now. But in future the plan is to list all of the privileges that TiDB supports and what they control. Once this is added, each statement reference page should also ideally refer back to the privileges it requires.

[2021-12-16 03:03] ramanich1 commented on #30759
More Cast issues
[code]

[2021-12-16 03:25] #27261 closed

[2021-12-16 03:47] glorv commented on #28462
According to @morgo's comment, I will close this issue.

[2021-12-16 03:47] #28462 closed

[2021-12-16 03:48] glorv commented on #28462
This issue do not affect any version as it's expected behaviour.

[2021-12-16 04:12] #30205 closed

[2021-12-16 04:13] zimulala opened #30765 "When names is GBK, an error occurs when creating a table with set/enum column types"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`Query OK, 0 rows affected (0.05 sec)`

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

`5.7.25-TiDB-v5.4.0-alpha-345-g2a1ea89fd-dirty`

[2021-12-16 04:27] dbsid commented on #30399
wrong table_keys causing wrong sample rate on region table, already raise tikv issue https://github.com/tikv/tikv/issues/11669

[2021-12-16 04:38] xiongjiwei opened #30766 "load data will not ignore lines"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://github.com/pingcap/tidb/blob/6eb11b300ff6a80c0eac19c2852b1a6392516ef3/executor/load_data.go#L507

the `ignore` parameter should not be used in `getLine` function
https://github.com/pingcap/tidb/blob/6eb11b300ff6a80c0eac19c2852b1a6392516ef3/executor/load_data.go#L521

[2021-12-16 04:44] #29986 closed

[2021-12-16 04:46] melonux opened #30767 "Need support for bigger INTEGER or DECIMAL data types."
## Support INT256 / UINT256 or bigger DECIMAL like PostgreDB

Currently TiDB only supports BIGINT and 65 digits' DECIMAL. However, in my project, I have to deal with much bigger integers like UINT256. Would you please support UINT256 directly? Or DECIMAL with higher precision (M>100) like PostgreDB rather than MySQL?

Is there anyway, such as recompile TiDB, to customize max precision of DECIMAL?

[2021-12-16 05:21] fubinzh opened #30772 "lightning precheck failed for the first time but passed for the following import"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Prepare lightning test data, table schema with colomn new_col1 with no default value, and data source doesn't have data for this column
[code]
2. Use lightning to import the data to TiDB -> Precheck failed as expected
[code]
3. Don't do anything, run lightning import agai

[2021-12-16 05:42] #30748 closed

[2021-12-16 05:50] Defined2014 commented on #30661
Another link https://github.com/pingcap/tidb/pull/27959#issuecomment-931879368, maybe helpful.

[2021-12-16 06:01] cfzjywxk opened #30779 "unclear backoff metric type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

There some backoff metric labels are displayed as "type", it's confusing to user.

### 2. What did you expect to see? (Required)
They are displayed as `type` in grafana metrics.

### 3. What did you see instead (Required)
The actual type should be used in the grafana.

###

[2021-12-16 06:35] Defined2014 commented on #30443
As shown above, it's by design.

[2021-12-16 06:35] #30443 closed

[2021-12-16 06:44] AilinKid opened #30786 "CI test failure with sequence schema row count not equal to one"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
should always be the one row

### 3. What did you see instead (Required)
error log shows that it is 9 rows totally.

### 4. What is your TiDB version? (Required)

master

[2021-12-16 06:52] sylzd commented on #30731
/assign

[2021-12-16 06:54] #30527 closed

[2021-12-16 07:04] hawkingrei commented on #30452
/assign

[2021-12-16 07:04] hawkingrei commented on #30454
/assign

[2021-12-16 07:09] breeswish opened #30787 "Top SQL does not have flow control when reporting to ngm"
## Enhancement

In https://github.com/pingcap/tidb/pull/27050 TiDB will report mass amount of data at once. A flow control is necessary in order to avoid resource usage and latency spikes.

[2021-12-16 07:15] mayjiang0203 commented on #30745
duplicated with https://github.com/pingcap/tidb-dashboard/issues/1072.

[2021-12-16 07:21] WillJiang12 commented on #30745
Thank you for your reply。

How to avoid or solve this problem？

[2021-12-16 07:43] XuHuaiyu commented on #29498
/label affects-5.0

[2021-12-16 07:44] bestwoody commented on #29498
/label affects-5.1
/label affects-5.2
/label affects-5.3

[2021-12-16 07:48] Defined2014 opened #30789 "`drop user` failed when `set names gbk`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`No error`

### 3. What did you see instead (Required)
Failed
[code]

### 4. What is your TiDB version? (Required)

There are two problems:
* https://github.com/pingcap/tidb/issues/30565
* https://github.com/pingcap/tidb

[2021-12-16 07:48] #27494 closed

[2021-12-16 07:49] Defined2014 commented on #30789
/feature developing

[2021-12-16 07:49] Defined2014 commented on #30789
/severity major

[2021-12-16 07:49] Defined2014 commented on #30789
/sig sql-infra

[2021-12-16 07:51] yibin87 commented on #29498
Reproduced it on local dev machine.

[2021-12-16 08:02] glorv commented on #29002
Thank you for the feedback. @kolbe
I'd like to close this issue as it's not reproduceable. Feel free to reopen it or add a new one if met again.

[2021-12-16 08:02] #29002 closed

[2021-12-16 08:20] #30587 closed

[2021-12-16 08:38] xiongjiwei opened #30798 "binary literal in gbk columns is not handled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`no error`

### 3. What did you see instead (Required)

`ERROR 1067 (42000): Invalid default value for 'a'`

### 4. What is your TiDB version? (Required)

[2021-12-16 08:38] lijie0123 opened #30799 "failed to build docker image"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
git clone this repo
docker build .

### 2. What did you expect to see? (Required)
build docker image success

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
latest code in master branch

[2021-12-16 08:54] Defined2014 opened #30801 "string args of `Com_Stmt_SendLongData` are not aware of character_set_client"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
一一

### 3. What did you see instead (Required)
һһһ

### 4. What is your TiDB version? (Required)

Related with #30722

[2021-12-16 08:56] Defined2014 commented on #30801
/feature developing

[2021-12-16 08:56] Defined2014 commented on #30801
/severity moderate

[2021-12-16 09:01] joccau opened #30802 "br: backup log: use same struct and API about `etcd client` in `kvproto` rather than in `TiDB` and `TiKV`"
## Feature Request
It should support same struct and API about `etcd client` for `backup steam log` in rep of `kvproto` rather than in different repo with `tidb` and `tikv`

[2021-12-16 09:02] joccau commented on #30802
Related to https://github.com/pingcap/tidb/issues/29501

[2021-12-16 09:12] unhappydepig opened #30803 "Show tables Compatibility differences"
We use tidb and  elastic-job。
We have create job_execution_log in tidb。However, at startup, the program will also try to rebuild the table, because the table already exists, so the program will report an error.

By checking the source code, it is found that elastic job uses 【SHOW FULL TABLES LIKE 'JOB_EXECUTION_LOG';】 No results were returned。when we use lowercase [SHOW FULL TABLES LIKE 'job_execu

[2021-12-16 09:13] JZuming opened #30804 "TiDB connection is lost due to "invalid memory address or nil pointer dereference""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]
_mysql_bk.sql:_
[mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7725907/mysql_bk.sql.txt)

**Test case**
[code]

### 2. What did you expect to see? (Required)

The connection will not be lost.

### 3. What did you see instead (Req

[2021-12-16 09:15] JZuming commented on #30804
The log of tidb-server

[2021-12-16 09:26] birdstorm commented on #27948
@bb7133 it seems the original TiDB log was outdated and could not be downloaded, which should be available in `tiflash-jenkins-test-log-tiflash_regression_test_daily-359.tar.gz` otherwise

[2021-12-16 09:26] VoxT opened #30807 "TiDB temporary latency increase and interval occurs"
## Bug Report

### 1. Minimal reproduce step (Required)

Run TiDB for more than a year.
Deploy 5 TiKVs with max-replicas = 5.
Each TiKV:
- store size = 1.1TB
- available size = 2.6TB
- region size = 38.8k
- leader = 7.7k

### 2. What did you expect to see? (Required)
Latency p99 should be stable.

### 3. What did you see instead (Required)

##### 1. Let's start with what I observed.
- a. The p99 l

[2021-12-16 09:39] aytrack commented on #30745
Maybe you can follow this https://asktug.com/t/topic/95323 to workaround this.

[2021-12-16 09:39] #30745 closed

[2021-12-16 09:40] Defined2014 commented on #30801
`com_change_user` should also have problems, but go-mysql-client does not support yet.

[2021-12-16 09:48] vivid392845427 opened #30809 "check mutation detects inconsistent index values when use expression-index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

set tidb_enable_mutation_checker=1
set experimental.allow-expression-index=true
set new_collations_enabled_on_first_bootstrap: true
[code]

### 2. What did you expect to see? (Required)

`replace success.`

### 3. What did you see instead (Required)

replace failed:
[code]

[2021-12-16 10:20] Defined2014 opened #30811 "error msg not same as MySQL when `set names gbk`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

mysql> select version();
+-----------------------------------------+
| version()                               |
+---

[2021-12-16 10:21] Defined2014 commented on #30811
/feature developing

[2021-12-16 10:22] Defined2014 commented on #30811
/severity minor

[2021-12-16 11:04] #30641 closed

[2021-12-16 11:10] maxshuang opened #30813 "Session can't see new add column after DDL commit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

tiup playground v5.3.0  -T src --db 1 --tiflash 0 --ticdc 1

### 1. Minimal reproduce step (Required)

Session 1:
[code]

Session2:
[code]

### 2. What did you expect to see? (Required)
We can see column c1 after trx commit in session1

### 3. What did you see instead (Required)
We can't see  column c1 after trx co

[2021-12-16 11:35] maxshuang commented on #30813
error issue

[2021-12-16 11:35] #30813 closed

[2021-12-16 11:45] zhangyangyu opened #30814 "update pull request template to describe PR issue association"
## Enhancement

With acceptance of https://github.com/pingcap/community/blob/master/votes/0606-pr-issue-association.md, we'll start to force issue existence in PR body. Update PR template to notify contributors.

[2021-12-16 12:02] #30517 closed

[2021-12-16 12:02] IcePigZDB commented on #30517
dup of #30518

[2021-12-16 12:37] bodhisatan commented on #28638
/assign

[2021-12-16 12:38] #30417 closed

[2021-12-16 14:24] #30453 closed

[2021-12-16 14:38] ekexium commented on #30809
Confirmed it's a bug, not false positive. /cc @wjhuang2016

[2021-12-16 14:47] morgo commented on #28481
This has been added for now. It is waiting on installers to upgrade before being considered for enabling by default.

[2021-12-16 14:47] #28481 closed

[2021-12-16 14:52] morgo commented on #25976
I think this might have been fixed, so best to re-check :-) There was a problem where only IP addresses were accepted, but it now accepts any resolvable hostname.

[2021-12-16 15:08] morgo commented on #30636
I think it has to count as a bug because it is a safety/data loss prevention feature. Because we added a noop TiDB 'advertises' that it supports it, but it infact does not.

@cbcwestwolf Do you mind taking a look at this? We have two choices when we encounter variables like this:

1. Make it read only. Example: https://github.com/pingcap/tidb/pull/30084
2. Require a special setting (`tidb_enable_n

[2021-12-16 16:13] morgo commented on #30636
@dveeden Great catch! If we use `read_only` (1) it will break workbench _by default_. I think that's a problem.

It is likely also a problem if `tidb_enable_noop_functions` needs to be enabled to use workbench, since that will permit too much unsafe syntax.

We can test this out, but we may indeed be required to implement this feature to avoid pitfalls.

[2021-12-16 17:37] mjonss commented on #30636
My view is that we should see this as a bug and not an enhancement. If we are trying to be MySQL compatible, the users should be able to rely on --i-am-a-dummy / --safe-updates / `@@sql_safe_updates`

[2021-12-16 19:04] Alkaagr81 opened #30819 "'ALTER TABLE Add column comment' max length is not set. Mysql max length is 1024"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-16 19:53] morgo commented on #30636
@mjonss Thank you, I agree with your conclusion.

However just to be pragmatic, I'll try `read_only` and see if workbench generates any warnings or errors when its not able to change the value.  If it manages to connect OK (a big if) then we at least have an interim solution that is lower risk and easier to implement.

[2021-12-16 20:23] morgo commented on #30636
OK it does indeed fail:
![image](https://user-images.githubusercontent.com/57982/146443901-a5eddf00-6663-4342-bae0-b17881a59653.png)

[2021-12-16 21:28] morgo opened #30821 "modify tidb_enable_historical_stats behavior"
## Enhancement

In https://github.com/pingcap/tidb/pull/30646 we merged a new system variable: `tidb_enable_historical_stats`.

It uses the functions `getTiDBTableValue()` / `setTiDBTableValue()` to persist the saved values to the `mysql.tidb` table, but for new sysvars we don't need to do this. We should just rely on the built in saving/loading method.

The functions `getTiDBTableValue()` / `setT

[2021-12-16 21:39] morgo commented on #30821
To whoever picks up this issue, please add deprecation warnings to the deprecated API calls:

[code]

[2021-12-17 01:22] GOODBOY008 commented on #29112
/assign

[2021-12-17 01:34] aytrack commented on #30819
It seems no limitations right now. create table should also success.
[code]

[2021-12-17 02:01] tiancaiamao opened #30822 "Make CI great again!"
## Enhancement

The unstable CI has been a hinder to our daily development. Sometimes we have to run it again and again, and again ... to merge a PR.
It takes a very long time to run the CI and if a unstable test fails, all the time are wasted.

There are many bad decisions we made in the past:

- To make it run faster, we use a wrong way to parallel
- Auto re-run to amend for the unstable test ca

[2021-12-17 02:09] cfzjywxk commented on #30809
@ekexium
[2021/12/16 09:29:31.281 +00:00] [ERROR] [mutation_checker.go:318] ["inconsistent index values"] ["truncated mutation datum"="KindNull <nil>"] ["truncated expected datum"="KindString nnamreh lufituaeb"]
The error log is not easy to understand for users, maybe we could try to improve the undestandbility here?

[2021-12-17 02:11] #30766 closed

[2021-12-17 02:14] ekexium commented on #30809
Yes. It's what #30434 does.

[2021-12-17 02:33] guo-shaoge commented on #30721
Only related to unistore.

[2021-12-17 03:20] GOODBOY008 commented on #27180
Hi,@tisonkun . testkit.go and testkit_test.go should migrate test-infra to testify too.

[2021-12-17 03:26] qw4990 commented on #30821
@An-DJ Please take a look at this issue.

[2021-12-17 03:28] vivid392845427 opened #30823 "clustered index + unionscan，query using index return the same 2 records"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

set new_collations_enabled_on_first_bootstrap: true

[code]

### 2. What did you expect to see? (Required)

queries return the same result：
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-17 03:28] guo-shaoge opened #30824 "Add more log and information about why index merge is not used"
## Enhancement
There are many reasons that makes index merge is inapplicable, we should add more information to indicates why. Also this information should be write to log.

https://github.com/pingcap/tidb/blob/a6fc5c6ed4c471ce80a179999a177f468ef9ce52/planner/core/stats.go#L433

[2021-12-17 03:31] ChenPeng2013 opened #30825 "the count of information_schema.cluster_statements_summary is bigger than tidb_stmt_summary_max_stmt_count"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

single tidb-server instance

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-17 03:32] tisonkun commented on #27180
@GOODBOY008 I don't know what you mean. There is no such file in `ddl` package. If you mean that in `util/testkit` folder, please see its successors in `testkit` folder.

Also, existing migration examples should help.

[2021-12-17 03:33] Reminiscent opened #30826 "Plan Cache Enhancement"
## Enhancement
The current Plan Cache feature supports very limited scenarios and has many restrictions. Therefore, we plan to enhance this feature in the future. The related development plan will be recorded under this ISSUE. This ISSUE will continue to be added.

## Milestones and action items
Milestone 1: Support Plan Cache refresh mechanism, including automatic refresh and manual refresh.
- [x

[2021-12-17 03:33] vivid392845427 commented on #30823
the update operation in the transaction does not match the record, why unionscan is used？

[2021-12-17 03:40] bestwoody commented on #29498
Since every func has its flen compute logic, other funcs may has similar problems too.

[2021-12-17 03:40] #28181 closed

[2021-12-17 03:44] GOODBOY008 commented on #28630
/assign

[2021-12-17 03:50] qw4990 commented on #30821
I have an additional question about this. If we don't persist this variable to the `mysql.tidb` table, how can other instances in the same cluster read its value?
According to my understanding, all global variables should be persisted into the storage(`mysql.tidb` here) so that other instances can load them asynchronously.
Please correct me if I miss anything @morgo

[2021-12-17 04:16] ekexium commented on #30823
There is a PUT_index for point get in pessimistic transactions.

It does not call UpdateRecord. The mutation checker is not triggered

[2021-12-17 04:34] ekexium commented on #30823
/cc @cfzjywxk

[2021-12-17 04:49] cfzjywxk commented on #30823
@vivid392845427 @ekexium
I think the root cause for this phenomenon is the same as https://github.com/pingcap/tidb/issues/24195, the last query will use index range:
[code]

The unique index `c_int_2` is used, and currently in the `unionScan` executor will not merge duplicated unique index keys so the same result is returnd twice.

If the `c_str` index is used, as there's no `PUT` on the index rec

[2021-12-17 04:51] cfzjywxk commented on #30823
@MyonKeminta
In the future sprint doing pessimistic transaction optimizations for example if we could push down the lock operator to tikv nodes, the lock behaviour then would be the same for all executors.
/cc
@MyonKeminta @you06

[2021-12-17 04:53] djshow832 commented on #30825
It's expected, see https://docs.pingcap.com/tidb/dev/statement-summary-tables#set-a-proper-size-for-statement-summary
The last row is the summary of evicted statements.

[2021-12-17 04:53] #30825 closed

[2021-12-17 05:14] #29498 closed

[2021-12-17 05:27] xiongjiwei commented on #30740
dup of https://github.com/pingcap/tidb/issues/30798, they have the same root cause

[2021-12-17 05:43] #29252 closed

[2021-12-17 05:45] GOODBOY008 commented on #27180
I got it.Thanks your patience explanation!

[2021-12-17 06:04] lichunzhu commented on #30532
/assign docsir

[2021-12-17 06:06] sylzd commented on #30415
/assign

[2021-12-17 06:12] you06 commented on #30823
IMO, such PUT operation should not be visible to read operations.

[2021-12-17 06:22] #29867 closed

[2021-12-17 06:29] bb7133 commented on #30804
This is related to the optimizer for window functions, I will transfer the tag to `sig/planner`.

[2021-12-17 06:34] glorv opened #30835 "There are some features in tidb-lightning that is not documented."
## Enhancement

We need to add detailed document for following features.
- [ ] File Routing
- [ ] Ignored columns
- [ ] meta table for concurrency importing
- [ ] Disk quota

[2021-12-17 06:37] hawkingrei commented on #30803
/assign

[2021-12-17 06:38] hawkingrei commented on #30803
dup of #29910

[2021-12-17 06:58] xiongjiwei commented on #30686
dup of https://github.com/pingcap/tidb/issues/30565

[2021-12-17 07:08] ChenPeng2013 opened #30836 "ERROR 1105 (HY000): strconv.Atoi: parsing "20a": invalid syntax"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql 8.0.21
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-17 07:27] SelbyLiu opened #30841 "SQL alias rule is different with mysql 5.7"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/23331600/146172948-aee18ed3-53d9-4c09-bce2-eb5669c72bb7.png)
![image](https://user-images.githubusercontent.com/23331600/146172977-074732bd-1f85-4062-bea4-72e49232ca08.png)

in tidb 5.2.1 (linux)
when 'b' is table alias in

[2021-12-17 08:23] Defined2014 commented on #30789
/assign

[2021-12-17 08:34] bodhisatan commented on #28638
/unassign

[2021-12-17 09:12] jansu-dev commented on #25993
/assign

[2021-12-17 09:43] mayjiang0203 commented on #30425
/found automation

[2021-12-17 09:51] Mini256 commented on #29103
/assign

[2021-12-17 11:38] MiaoMiaoGarden commented on #29111
/assign

[2021-12-17 12:43] time-and-fate opened #30845 "pd client can't receive message larger than 4M"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Access tidb ip:10080/tables/{db}/{table}/regions to get regions of a very large table.

### 2. What did you expect to see? (Required)

return the region information of this table

### 3. What did you see instead (Required)

rpc error: code = ResourceExhausted desc = grpc: r

[2021-12-17 14:18] morgo commented on #30821
Global values are persisted into `mysql.GLOBAL_VARIABLES`. It is mainly just gc configuration that is persisted in `mysql.tidb` (we need to keep it there for the scenario that a TiDB 4.0 server still reads/writes it there).

But actually since ~TiDB 5.2 other servers don't read directly from `mysql.GLOBAL_VARIABLES` but from a cache: https://github.com/pingcap/tidb/pull/24359 The cache is periodic

[2021-12-17 16:12] yudongusa commented on #30841
@winoros this one seems a similar to alias issues we are currently investigating. Might be worthy to take this as refactor feature.

[2021-12-17 17:10] morgo opened #30847 "Reduce use of skipInit feature in system variables"
## Enhancement

In https://github.com/pingcap/tidb/pull/24836 the usage of `builtinGlobalVariable` was changed from an allow list to a deny list, since it was a common source of bugs and it is typical that any new sysvar added with session scope should be loaded into the session (this is a MySQL compatible behavior).

This initial PR aimed for 100% backwards compatibility, and the option `skipInit

[2021-12-17 17:59] espresso98 opened #30849 "TiDB returns a long error message instead of warning for Truncated incorrect DECIMAL value with insert"
## Bug Report
Please check ERROR 1292 (22007) message in TiDB, which is an ErrTruncatedWrongValue.

### 1. Minimal reproduce step
[code]

### 2. What did you expect to see?
In MySQL5.7,
[code]

### 3. What did you see instead
In TiDB,
[code]

### 4. What is your TiDB version?

[code]

[2021-12-19 02:43] hawkingrei opened #30852 "invalid memory address or nil pointer dereference in the explaintest"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check/detail/tidb_ghpr_check/40187/pipeline/

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-19 08:35] coldpark commented on #30849
I think this bug is related to "FromString" in mydecimal.go,  I'm trying to fix it now, please assign this to me. Thanks.

[2021-12-19 09:32] wangggong commented on #29109
/assign

[2021-12-19 09:48] #30852 closed

[2021-12-19 13:34] hawkingrei commented on #30651
/assign

[2021-12-19 13:39] xuanyu66 opened #30855 "Show grants using more than two roles return incorrect result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
CREATE DATABASE IF NOT EXISTS `tispark_test`;
CREATE TABLE  IF NOT EXISTS `tispark_test`.`table_test`(i int, s varchar(128));
CREATE ROLE  IF NOT EXISTS 'test_read', 'test_write';
GRANT SELECT ON `tispark_test`.`table_test` TO 'test_read'@'%';
GRANT UPDATE ON `tispark_test`.

[2021-12-19 13:58] sunxiaoguang commented on #30855
cc @pingcap/tidb-committers

[2021-12-19 14:21] #28667 closed

[2021-12-19 16:00] bb7133 commented on #30819
The previous fix for such limitation is that we introduce a new configuration for compatibility of both MySQL and the early version of TiDB, for example (max-index-length)[https://docs.pingcap.com/tidb/stable/tidb-configuration-file#max-index-length].

But for this case, I don't thin it's a good idea to introduce a new configuration just because 'comment length is not limited'. My suggestion is to

[2021-12-19 16:04] bb7133 commented on #27948
The only known reason for `Information schema is out of date: schema failed to update in 1 lease` is the network issue between TiDB and TiKV, so I just suspect that it is something wrong with the test environment.

I will close this issue for now and feel free this issue can be reproduced without network partition.

[2021-12-19 16:04] #27948 closed

[2021-12-19 16:18] bb7133 commented on #30470
It happens again: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/53165/pipeline/

[2021-12-19 16:21] morgo commented on #30819
I agree with truncation + a warning to say it has been truncated.

[2021-12-19 23:57] #29670 closed

[2021-12-20 00:09] #30135 closed

[2021-12-20 01:25] aytrack commented on #30849
/assign coldpark

[2021-12-20 01:53] cfzjywxk commented on #30470
The related issue https://github.com/tikv/tikv/issues/11649

[2021-12-20 02:08] wjhuang2016 commented on #30855
@morgo PTAL

[2021-12-20 02:27] xhebox opened #30858 "placement: mirror issue of tikv/pd#4467"
## Enhancement

Refer to the issue https://github.com/tikv/pd/issues/4467#issuecomment-995879181

[2021-12-20 03:02] lucklove commented on #26689
Any update?

[2021-12-20 03:11] #30402 closed

[2021-12-20 05:12] yibin87 commented on #30264
Update some observations of MySQL confusing type conversion behavior:
1. Least, Greatest function doesn't follow the same type conversion rules as '<', '>' when arguments are not of the same type: the former one will convert numeric to string while the later will convert string to numeric:mysql> select '11' < 2;
+----------+
| '11' < 2 |
+----------+
|        0 |
+----------+
1 row in set (0.01 se

[2021-12-20 05:21] yibin87 commented on #30264
So TiDB's previous behavior seems reasonable, GREATEST(time '20:00:00', 120000) + 0.00, first convert both two arguments of GREATEST to string type=> return '20:00:00', and then plus('20:00:00', 0.00) => 20.
Unfortunately, now TiDB latest trunk code returns '2020-00-00 00:00:00' when calculate GREATEST(time '20:00:00', 120000), I'll look at this strange behavior.

[2021-12-20 06:26] 3pointer commented on #30448
#30716 fixed it.

[2021-12-20 06:26] #30448 closed

[2021-12-20 06:59] lcwangchao opened #30872 "Stale read failed for read-committed isolation when autocommit=0"
## Bug Report

Stale read failed for read-committed isolation

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-12-20 07:01] tiancaiamao commented on #25293
2021/12/20

- [#30206](https://github.com/pingcap/tidb/pull/30206) got merged, so the development is basically done
- Planning for testing now

[2021-12-20 07:27] #29685 closed

[2021-12-20 07:27] #30362 closed

[2021-12-20 07:27] #30429 closed

[2021-12-20 07:45] #30018 closed

[2021-12-20 08:00] fengou1 commented on #30449
On BR v4.0.0-beta.2, there is no br_unit_test provided yet in Makefile:
<img width="663" alt="image" src="https://user-images.githubusercontent.com/85682690/146731949-5fe4f63d-c83c-4c7e-ae65-15fbeda71d4b.png">

on the latest tidb/br:
make br_unit_test can passed all test cases.

[2021-12-20 08:20] fengou1 commented on #30449
@martin-g could elaborate more steps to reproduce the issue?

[2021-12-20 08:43] lilinghai opened #30879 "The query result of latin1 is not correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
10
### 3. What did you see instead (Required)
empty result
### 4. What is your TiDB version? (Required)

Release Version: v5.4.0-alpha-447-g1721706b2
Edition: Community
Git Commit Hash: 1721706b2386b1600743da4c845c9531999

[2021-12-20 08:47] #30741 closed

[2021-12-20 08:51] fubinzh opened #30880 "TiDB OOM during dumpling 2500 tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Use br to restore a backup with 2500+ tables
[code]

[code]
2. Use dumpling to dumpling the TiDB

### 2. What did you expect to see? (Required)
Dumpling should succeed

### 3. What did you see instead (Required)
Dumpling failed due to TiDB OOM
<img width="1854" alt="tidb_

[2021-12-20 09:15] #30789 closed

[2021-12-20 09:18] Defined2014 commented on #30690
/assign tangenta

[2021-12-20 09:28] time-and-fate commented on #30468
I met a case which will fail sometimes if we revert it:
[code]

[2021-12-20 09:35] MyonKeminta commented on #30468
@time-and-fate What's the query's plan and how does it fail? What's the error message and stack?

[2021-12-20 09:38] time-and-fate commented on #30468
Running the SQL returns the error:
[code]
Query plan:
[code]
Stack trace:
[code]

[2021-12-20 09:42] MyonKeminta commented on #30468
If you specify `/*+ INL_HASH_JOIN(t1, t2) */`, may the similar error occur without reverting that change?

[2021-12-20 09:49] #30804 closed

[2021-12-20 09:57] MyonKeminta commented on #30468
By the way, which version (hash) are you using?

[2021-12-20 10:09] #30104 closed

[2021-12-20 11:17] lilinghai opened #30886 "The query in slow log can't be parsed when there single comment in sql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

If we execute the sql with tidb, and image it is a slow query.
[code]
The query recorded in tidb slow log is ```select count(*) from t x ,t y -- condition where x.a<y.a  and x.a is not null -- comment;``` , and we can't parse the sql correctly because we can't identify whic

[2021-12-20 11:49] #30395 closed

[2021-12-20 11:51] fubinzh commented on #30880
Tested with TiDB & Dumpling 5.3.0, dumpling succeed when --threads =4, while it fails when --threads = 20.
For TiDB & Dumpling 5.4.0, it fails for both cases.

[2021-12-20 11:55] wjhuang2016 commented on #30880
@fubinzh  What's configuration of the TiDB server?

[2021-12-20 12:04] tangenta commented on #30879
MySQL:
[code]

[2021-12-20 12:11] #30707 closed

[2021-12-20 14:07] crazycs520 opened #30890 "Continuous Profiling do cpu profile maybe conflict with TopSQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Since both `Continuous Profiling` and `TopSQL` need to do cpu profiling. there are conflict exist since golang only allow 1 profiling by `pprof.StartCPUProfile` at one time.

### 2. What did you expect to see? (Required)
To avoid conflict.

### 4. What is your TiDB version? (Required)

[code]

[2021-12-20 14:57] martin-g commented on #30449
@fengou1 `br_unit_test` target is defined here https://github.com/pingcap/tidb/blob/87ab28ebb2ac87b6e8d7c252187338c517598318/Makefile#L322 (this is current `master` branch)

[2021-12-20 14:59] martin-g commented on #30449
It still fails here :

[code]

but at different line this time

[2021-12-20 15:04] martin-g commented on #30483
Just retested and this test still fails with `v4.0.0-beta.2-5714-gb09c63be8`
// CC @fengou1

[2021-12-20 22:55] ramanich1 opened #30893 "NTH_VALUE(expr, N) : is taking null as argument for N in tidb."
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-21 01:24] fengou1 commented on #30449
in commit hash : 87ab28ebb2ac87b6e8d7c252187338c517598318, it still success in my env.
`[root@Copy-of-VM-EE-CentOS76-v1 tidb]# make br_unit_test
make[1]: Entering directory `/home/ophone/code/tidb_m/tidb'
make[1]: Leaving directory `/home/ophone/code/tidb_m/tidb'
GO111MODULE=on go test -p 8  -ldflags '-X "github.com/pingcap/tidb/parser/mysql.TiDBReleaseVersion=v5.4.0-alpha-459-g87ab28e" -X "github

[2021-12-21 02:51] znhh6018 commented on #30836
/assign

[2021-12-21 02:57] #30685 closed

[2021-12-21 03:47] #29103 closed

[2021-12-21 04:04] 7yyo opened #30896 "mysql.ComStmtFetch occurs index out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

`1`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

`Master`

I guess the panic is caused by this line of code:  https://github.com/pingcap/tidb/blob/master/ser

[2021-12-21 04:19] #30809 closed

[2021-12-21 04:21] MyonKeminta commented on #30468
According to your information, I guess the problem might be caused by concurrently executing the two parts of `union`. Thanks for reporting.

[2021-12-21 05:25] Leavrth opened #30898 "there is a difference of crc32 of gbk charset table between tidb and mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
In mysql 8.0.26:
[code]

In TiDB:
[code]
[code]
content in tidb.toml:
[code]

### 2. What did you expect to see? (Required)

In mysql:
[code]
In TiDB
[code]

### 3. What did you see instead (Required)
the result need to be the same
### 4. What is your TiDB version? (Required

[2021-12-21 05:42] Defined2014 commented on #30898
/assign

[2021-12-21 06:43] Tangruilin commented on #16581
I'm interested in this problem, was it solved by others? /cc @winoros

[2021-12-21 06:49] Tangruilin commented on #19940
I'm not familiar with Graph theory, could I try to solve this problem? /cc @winoros

[2021-12-21 06:53] lichunzhu opened #30903 "br/storage: refine external storage compressed writer"
## Enhancement
Using s3 as example, our external storage's implementation is:
s3 writer -> compress writer -> bytes.Buffer
When we write data to s3 writer, firstly it will write data to compress writer and it will compress data to bytes.Buffer. When the underlying `bytes.Buffer` reaches 5MB, outside s3 writer will upload bytes.Buffer's bytes to S3.

However, this implementation is not simplistic e

[2021-12-21 07:09] Tangruilin commented on #19150
/cc @SunRunAway Could you look at this for me, This is my PR

[2021-12-21 07:09] Tangruilin commented on #19150
https://github.com/pingcap/tidb/pull/30653

[2021-12-21 07:10] sticnarf commented on #30807
I think it's okay for the RocksDB CPU to be 100%. The jitter may come from various reasons and it's hard to tell according to the given information.

In the past few versions, we have been improving the stability of TiKV. I hope you can try a later version of TiDB + TiKV to see whether you will encounter the issue again :)

[2021-12-21 07:10] taotao365s opened #30906 "is there problem still in spring transaction？"
as it describle in 2.0，but now does it work fine in 5.x？

![image](https://user-images.githubusercontent.com/1212932/146886830-4596d775-a3cc-4ef9-925f-217dd3440629.png)

[2021-12-21 07:11] sticnarf commented on #30807
I'm removing the bug tag because it's a performance issue of a rather old version.

[2021-12-21 07:23] #30814 closed

[2021-12-21 07:29] martin-g commented on #30449
[code]

I use Ubuntu 20.04.3 ARM64.
I have noticed that many of the floating point related issues happen only on Linux ARM64. On x86_64 there were no problems with FP.
Let me check this particular failure on x86_64.

[2021-12-21 07:33] mayjiang0203 opened #30907 "information_schema.cluster_info not update immediately after scale-in or upgrade"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
run endless/oltp_fun_005 or oltp_fun_008, may hit this issue occasionally.

### 2. What did you expect to see? (Required)
After upgrade, check instance version, all should in new version.

### 3. What did you see instead (Required)
There are two version rows for one instance

[2021-12-21 07:58] sticnarf commented on #19117
Closed by https://github.com/pingcap/tidb/pull/19198

[2021-12-21 07:58] #19117 closed

[2021-12-21 08:27] bb7133 commented on #30896
Very likely that it is introduced by #30285 , @xhebox PTAL.

[2021-12-21 08:45] sticnarf commented on #27000
Sorry, I cannot reproduce this on the commit you told me and also cannot reproduce it on master. The test just runs successfully and exits.

Could you please try again with the latest master? Or does it require some special configurations?

[2021-12-21 08:56] vivid392845427 opened #30910 "tidb_enable_amend_pessimistic_txn = off，ddl and dml are executed concurrently, admin check table return the data is inconsistent"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

`case run success.`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-21 09:19] ekexium commented on #30910
@you06 Is it expected?

[2021-12-21 09:23] zyguan opened #30913 "Wrong result when using index-merge"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ f1e587704c0f8aa46e4c5bb33c390718e9e577f4

[2021-12-21 09:27] #30898 closed

[2021-12-21 09:36] you06 commented on #30910
Can you upload the log of amend random?

[2021-12-21 09:53] #8842 closed

[2021-12-21 10:00] 7yyo commented on #30893
/assign

[2021-12-21 10:09] zyguan commented on #30872
Hi, @lcwangchao , which commit do you use? I only got some `E1146: Table 'test.t1' doesn't exist` occasionally with latest master (55a38cb1627b2f5476e5b6fe0459d7b9a5706fea).

[2021-12-21 10:09] #27015 closed

[2021-12-21 10:12] Leavrth commented on #30898
new error occurs ...
[code]

[2021-12-21 10:26] fubinzh commented on #30880
@wjhuang2016 default configuration was used.
[code]

[2021-12-21 11:18] xiongjiwei commented on #30898
update tikv can solve this problem

[2021-12-21 11:18] Leavrth commented on #30898
yes!!

[2021-12-21 11:32] hawkingrei opened #30918 "DATA RACE in the SessionVars.InRestrictedSQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make race

[code]

https://prow.hawkingrei.com/view/gs/prowpingcap/logs/tidb_race/1473216687745536000

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-21 12:34] Tangruilin commented on #24443
If I'd like to fix it, what can I read as ref

[2021-12-21 12:47] #30486 closed

[2021-12-21 13:12] martin-g commented on #30449
It fails on x86_64 too:

[code]

[code]

[code]

Please let me know if you need more information!

[2021-12-21 13:25] tiancaiamao opened #30922 "Unstable test TestCacheTableBasicReadAndWrite"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Found in CI
https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/26002/nodes/52/steps/57/log/?start=0

[code]

### 2. What did you expect to see? (Required)

CI stable

### 3. What did you see instead (Required)

Some time it fails

###

[2021-12-21 13:54] time-and-fate opened #30923 "wrong `firstrow` aggregation result when there are regions returning empty result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master
Also reproducible on 4.0.12.

[2021-12-21 17:18] you06 commented on #30910
It's caused by setting [DDL lease](https://github.com/pingcap/tidb/blob/63d23f8aaa3fb5f748325a6debf023d2470b225a/config/config.toml.example#L24-L25) to 0, which is not a valid value and will trigger some test logic in production mode. Change the severity since it'll not affect normal users.

We may make some improvement by either of the following strategy:

- DDL operation should be disabled with

[2021-12-21 17:46] donbowman opened #30925 "insert to mysql.stats_buckets yields errror Data too long for column 'lower_bound' at row 1"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tidb is calling
`insert into mysql.stats_buckets(table_id, is_index, hist_id, bucket_id, count, repeats, lower_bound, upper_bound, ndv) values(5930, 0, 2, 254, 6, 1, _binary'yikes_easy_mailchimp_review_stop_bugging_me', _binary'yoast_premium_as_an_addon_installer', 0);`

wh

[2021-12-22 02:17] #27919 closed

[2021-12-22 02:36] 3pointer commented on #30087
For the long term. we need a flow controller. that control the request do not exceed cloud rate limit. and after that we may abandon such `concurrency/num-threads/multi_part_size` configurations. and implement auto concurrency easily. @IANTHEREAL

[2021-12-22 03:31] nexustar commented on #30663
more user encounter this problem recently on tiup-cluster and tiup-playground

[2021-12-22 03:40] cfzjywxk commented on #30906
@taotao365s
Hello, for this situation it's recommanded to use the pessimistic transaction [mode](https://docs.pingcap.com/zh/tidb/stable/pessimistic-transaction/).

For example

begin; // After v3.0.8 the newly deploed TiDB cluster will default use pessimistic transaction mode, if the cluster is upgraded use `begin pessimistic` instead. There's reference in the above document about how to enable p

[2021-12-22 03:58] ichn-hu commented on #30923
I can reproduce it on master tidb with tikv and pd

[2021-12-22 04:01] ichn-hu commented on #30923
behavior becomes correct after execute group_concat

[code]

[2021-12-22 04:07] nolouch commented on #30845
ref https://github.com/tikv/pd/issues/4429

[2021-12-22 04:20] bb7133 opened #30929 "planner: unstable test `TestAnalyzeGlobalStatsWithOpts`"
## Bug Report

See: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/26474/pipeline:

[code]

### 4. What is your TiDB version? (Required)

Master branch: 7c8b766c54b4b50304d2c33406a4e4fd7196537b

[2021-12-22 05:01] tangenta opened #30930 ""get old row failed" when `replace` into case-insensitive primary key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

23c71f1a3b

[2021-12-22 05:14] tangenta commented on #30930
The normal process is as follows:
1. `'A '` is not found in PK. It inserts a row and an index. (`1 -> 'A'`, `'A' -> 1`, note the space at the end is truncated because the collation is `utf8mb4_general_ci`).
2. `'A'` is found in PK. It removes the old record and index and then adds a new one. (`1 -> 'A'`, `'A' -> 1`).

The problem is the encoded index key is inconsistent between the insertion and d

[2021-12-22 05:39] lzmhhh123 commented on #30923
/assign @ichn-hu

[2021-12-22 05:45] lzmhhh123 commented on #30499
The results are different in the **result order**. But I think the order of TiDB is more reasonable. Because there is statement `order by sum(b)`. In this case, `order by x` is intuitive. I don't think it is a bug for the window function.

[2021-12-22 05:45] #30499 closed

[2021-12-22 05:53] #30695 closed

[2021-12-22 05:56] ilovesoup commented on #30639
These types of bugs should be labeled as sig/infra @ChenPeng2013
Runtime covers DQL related part.

[2021-12-22 05:57] Defined2014 commented on #30686
The reason for decode failure is same as #30565.
But the error msg is hard to same as MySQL, we use `encoding/json` to check data is valid or not which will lost some information.
https://github.com/pingcap/tidb/blob/529ce88c1cc65cbdcf6bd81c48c3a2d0efc424ba/types/json/binary.go#L396-L410

[2021-12-22 05:58] ilovesoup commented on #30633
While we need to investigate this, I suggest we label this a non-bug but an enhancement request.

[2021-12-22 06:09] ilovesoup commented on #30483
We should not directly equal comparing two floating sum results. This should be compared with epsilon. @ichn-hu

[2021-12-22 06:22] vivid392845427 opened #30932 "query use index merge return error record"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-12-22 06:26] lcwangchao opened #30933 "Use `TxnManager.GetTxnInfoSchema()` to get the txn infoschema"

[2021-12-22 06:29] Defined2014 commented on #30618
Two questions here,
1. TiDB got error about parser. It's same as #30565
2. MySQL got `Data too long for column 'a' at row 1`. I think it's a MySQL bug. 🥲

[2021-12-22 06:58] lcwangchao commented on #30872
@zyguan sorry, the description is not right and I just modified it. This error occurs when read-committed and autocommit=0 .

[2021-12-22 07:06] ichn-hu commented on #30330
Note the warning here with MySQL is

[code]

However TiDB should not expose internal errros here.

[2021-12-22 07:07] lzmhhh123 commented on #30932
In this case, the selection is wrongly pushed to one of the index sides.

[2021-12-22 07:27] #30858 closed

[2021-12-22 07:33] zhangyangyu commented on #30082
This case affects TiDB and metabase compatibility. metabase relies a case same as d8: `SELECT str_to_date('201525 Sunday', '%X%V %W')`.

[2021-12-22 07:43] martin-g commented on #30483
Yep! Like here: https://github.com/pingcap/tidb/pull/30482

[2021-12-22 07:58] tangenta opened #30936 "BenchmarkInsertIntoSelect regression"
## Enhancement

Result from http://www.zenlife.tk:18081/:

![image](https://user-images.githubusercontent.com/24713065/147056319-70ce0de6-128f-43e7-83f4-2eb26d54a8a8.png)

This is caused by the UTF-8 validation code change in #30288:

https://github.com/pingcap/tidb/blob/ab35db14a6fcfe0de43b7bca273d3839ed688176/table/column.go#L375

It is better to use `utf8.Valid()` instead of encoding the charac

[2021-12-22 08:05] #30930 closed

[2021-12-22 08:09] tangenta commented on #30930
No version is affected because it is a bug in the developing feature.

[2021-12-22 08:17] dbsid opened #30938 "tidb report Duplicate entry error on table without primary key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
no Duplicate entry since history has no primary key

### 3. What did you see instead (Required)
Duplicate entry

### 4. What is your TiDB version? (Required)
lastest nightly version

[2021-12-22 08:38] Lily2025 opened #30940 "QPS drop to zero when add column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
oltp_fun_002
1、run sysbench
2、add column for all tables
sysbench --mysql-user=root --db-driver=mysql --time=0 --report-interval=10 --mysql-db=test --mysql-host=tc-tidb.endless-oltp--tps-512791-1-934 --mysql-port=4000 --threads=512 --tables=32 --table-size=10000000 --mysql-ig

[2021-12-22 08:40] Lily2025 commented on #30940
/assign wjhuang2016

[2021-12-22 08:40] Lily2025 commented on #30940
/severity Critical

[2021-12-22 09:03] you06 opened #30942 "Allow TiDB read by TiKV's RC"
## Enhancement

### Background

High isolation and consistency level offer a strong guarantee, however, the performance would be poorer than low isolation and consistency level. Currently, TiDB offers 2 isolation levels: "Repeatable Read" and "Read Committed", their definitions are below:

#### [Repeatable Read](https://docs.pingcap.com/tidb/stable/transaction-isolation-levels#repeatable-read-isol

[2021-12-22 09:39] #30933 closed

[2021-12-22 10:03] hawkingrei commented on #30880
![profile001](https://user-images.githubusercontent.com/3427324/147074845-8876d633-2818-48f6-ac77-386aac21baa0.png)

[2021-12-22 10:05] zhouqiang-cl commented on #30626
@wshwsh12 PTAL

[2021-12-22 10:19] #30936 closed

[2021-12-22 10:28] cjphaha opened #30955 "Bug: turn AND NOT to AND ! Will cause no data to be queried"
this is my demo
[code]
then it print
[code]
however this sql can't get data from `Mysql 5.7`

The correct sql should be
[code]

my parser package and tidb package version is
[code]

[2021-12-22 10:57] rebelice commented on #30925
I can't duplicate this issue. Please confirm whether you have modified this column type, you can confirm by `show create table mysql.stats_buckets`.
[code]

[2021-12-22 11:10] qw4990 commented on #28743
This issue is fixed by some PR, and now the behavior is the same with MySQL that an invalid-char-set error is returned:
[code]

[2021-12-22 11:10] winoros commented on #30880
This is a duplicate one, whose cause is https://github.com/pingcap/tidb/issues/29749

[2021-12-22 11:12] winoros commented on #29749
We will use #30880 to trace it.

[2021-12-22 11:12] #29749 closed

[2021-12-22 11:18] Defined2014 opened #30946 "`└` is not valid in GBK encoding."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-22 11:18] Defined2014 commented on #30946
/feature developing

[2021-12-22 11:19] Defined2014 commented on #30946
/severity minor

[2021-12-22 11:23] cfzjywxk commented on #30938
@dbsid
The error stack reported in the tidb.log could be helpful, I guess it's reported inserting the `_tidb_rowid` auto allocated id.

[2021-12-22 11:28] xiongjiwei commented on #28743
run `set names utf8mb4` first

[2021-12-22 11:57] MiaoMiaoGarden commented on #28631
/assign

[2021-12-22 12:16] lzmhhh123 commented on #20510
/assign @rebelice

[2021-12-22 12:17] lzmhhh123 commented on #20510
I have tested it. The selection is wrongly pushed to join.

[2021-12-22 13:37] MiaoMiaoGarden commented on #28635
/assign

[2021-12-22 14:30] tiancaiamao opened #30950 "'show create table' and INFORMATION_SCHEMA.TABLE"

[2021-12-22 15:35] donbowman commented on #30925
so for sure i have not changed the schema since install.

[code]

i also can manually insert that row into the db (by running the insert command).
However, whatever automated analyze activity is occurring, this error fires quite frequently in the log.

[2021-12-22 15:36] donbowman commented on #30925
the error comes from `analyze.go:172`, perhaps it doesn't deal w/ blob properly?

[2021-12-22 16:31] #30922 closed

[2021-12-22 16:45] #30425 closed

[2021-12-22 18:13] ramanich1 opened #30956 "Match() is resulting error in Tidb."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-22 20:05] ramanich1 opened #30957 "COUNT(*) aggregated in outer query is resulting error in Tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-23 01:49] Reminiscent commented on #20510
[code]

[2021-12-23 02:19] dbsid commented on #30938
I don't see error stack either in tidb.log or tidb_err.log, Could you share how can I get the error stack?
here are the log in tidb.log
[code]

[2021-12-23 02:25] ichn-hu commented on #30923
the error on master seems from the erroneous plan

[code]

[code]

[2021-12-23 02:25] Keyrain opened #30958 "types: bug in ConvertFloatToUint function in types/convert.go"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
a. fval=255, upperBound=255, tp=mysql.TypeTiny, then val == ubf == 255, ConvertFloatToUint  function  will return math.MaxUint64, nil, but it overflows mysql.TypeTiny
b. this happens when we use MYSQL_TYPE_DOUBLE type to transmit a 255 value by mysql client connector stateme

[2021-12-23 02:37] cfzjywxk commented on #30938
For the simple insert the duplicate error is reporeted on the allocated record id. Besides there's only one tidb-server in the test cluster.
Need to investigate the auto id allocator and simplify the reproducing steps, I'm not sure if there's some refactor or change about it on the master branch. @tiancaiamao @tangenta PTAL

[2021-12-23 03:08] xhebox opened #30960 "placement: show a better hint message for schduleing state"
## Enhancement

Refer tikv/pd#4467.

[2021-12-23 03:09] bb7133 commented on #30946
Is it a bug?

The encoding of `└` in GBK is 'A9B8' and if I set my 'terminal encoding' to 'GBK', the `EXPLAIN` shows correct `└` in my terminal.

[2021-12-23 03:12] #30946 closed

[2021-12-23 03:24] windtalker opened #30961 "Fine-grained type infer for Decimal type"
## Enhancement
### Background
In TiFlash, the implementation of Decimal type is based on Interger, i.e. the internal storage of Decimal is actually Integer. And TiFlash has 4 subtype of Decimal
- Decimal32 with max precision of 9
- Decimal64 with max precision of 18
- Decimal128 with max precision of 38
- Decimal256 with max precision of 65

As shown in the name, the internal storage of these type

[2021-12-23 03:30] cyliu0 commented on #30663
@dveeden @morgo Would you please check if we need any fix for this?

[2021-12-23 03:45] cyliu0 commented on #30663
May related to this PR https://github.com/pingcap/tidb/pull/28486/files

[2021-12-23 03:59] #30454 closed

[2021-12-23 04:02] tiancaiamao opened #30962 "limit the size of the table that can be cached"

[2021-12-23 05:33] aytrack opened #30963 "show grants error message typo"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-23 05:39] #30200 closed

[2021-12-23 05:55] qw4990 commented on #28743
OK, I can reproduce it now.

[2021-12-23 05:56] bb7133 commented on #30663
I think we can skip the 'socket listener' when TIDB do not have the permission for `/tmp/tidb-x.sock`.

[2021-12-23 06:17] you06 commented on #30940
IMO, the problem is TiDB internally panics. This issue is already fixed in master by #26759. In my test, sysbench quits when meeting internal panic with error `state = 'HY000': MySQL server has gone away`, after restarting sysbench, it works well.

[2021-12-23 06:35] guo-shaoge commented on #30913
Looks like we forgot to rebuild range when got correlated columns. Really thanks for your issue @zyguan .

[2021-12-23 06:42] time-and-fate opened #30965 "where conditions with virtual columns get lost in the query plan"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[code]

### 2. What did you expect to see? (Required)

All four where conditions are in the execution plan.

[code]

### 3. What did you see instead (Required)
The `d = 2` is lost.
[code]
[code]

### 4. What is your TiDB version? (Required)

from 4.0.0 to master

[2021-12-23 06:42] time-and-fate commented on #30965
/assign

[2021-12-23 06:45] #30950 closed

[2021-12-23 06:53] cjphaha commented on #30955
@kennytm Hi bro, I think mybe this is parser package's bug or characteristic? I found this problem when using the parser package alone

[2021-12-23 07:04] Defined2014 commented on #30581
https://github.com/pingcap/tidb/pull/30757/files#r774325510 Seems still have some problems with `insert` statement.

[2021-12-23 07:05] #30720 closed

[2021-12-23 07:24] windtalker commented on #30923
The root cause is
1. `any_value` is rewrite to `first_row` during aggregation
2. the aggregation is converted to 2 stage
    - partial agg, which is push down to tikv, and since there are 20 regions, it will be executed 20 times
    - final agg, which is executed in TiDB
3. according to SQL standard, a aggregation without group by should at least return 1 row
4. there is only one row with `a = 2`,

[2021-12-23 07:28] windtalker commented on #30923
Possible solution:
Since we can make sure that the aggregation executed in TiKV is always the first stage agg, when there is no input for aggregation, it is safe to not return any thing even if the aggregion does not have group by columns.

[2021-12-23 07:36] guo-shaoge commented on #30354
fixed in #30650

[2021-12-23 07:36] #30354 closed

[2021-12-23 07:37] guo-shaoge commented on #30824
fixed in #30341

[2021-12-23 07:37] #30824 closed

[2021-12-23 08:03] wshwsh12 commented on #30626
Minimal reproduction step:
[code]

[2021-12-23 08:21] tiancaiamao commented on #30658
This is caused by an incorrect usage of the caller, instead of callee...
I mean, in the old code, we never call `store.Close()` while some transaction is active,
later this invariance is break and it causes the DATA RACE.

[2021-12-23 08:44] EcoleKeine commented on #24251
same problem, any news?

与https://asktug.com/t/topic/69835同样的问题，heidisql客户端会直接崩溃

[2021-12-23 08:50] tiancaiamao commented on #30938
Is this reproducible? If so, we can investigate the general log to figure out why @dbsid

[2021-12-23 09:03] wjhuang2016 opened #30969 "improve the memory usage of schemaHandler's ServeHTTP"
## Enhancement

Deploy a small cluster, and create 10000 tables, each table has 400 columns.
The memory usage of schemaHandler's ServeHTTP is very hight and may cause OOM.
Here is the grafana:
![image](https://user-images.githubusercontent.com/17380469/147215869-e7b06bb9-25d8-4424-ac82-d090176ad0bd.png)

And you can see that TiDB would OOM continually.
![image](https://user-images.githubuserconten

[2021-12-23 09:05] kennytm commented on #30955
@cjphaha the parser package has been merged back into the TiDB repo as a sub-module since October (#28644).

[2021-12-23 09:10] cjphaha commented on #30955
Ok~ got it,thx

[2021-12-23 09:11] #30658 closed

[2021-12-23 09:13] tangenta commented on #30938
This is a known issue: a duplicated row ID is generated because the ID allocator buffer in some TiDB instances is not cleaned.

There are 2 ways to workaround this issue between step 1 and step 2:
- Restart all the TiDB instances
- Execute `ALTER TABLE xx AUTO_INCREMENT=n` on each TiDB instance

[2021-12-23 09:19] ichn-hu opened #30971 "TiDB ignores ast.SetOprStmt when calculating number of fields of prepared statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

When prepare statement, the mysql protocol requires that the number of fields of the output of the statement should be returned, however, TiDB only calculates it for `ast.SelectStmt`, i.e. simple select statement, however for statement with union, the `ast.SetOprStmt` is not handled, therefore the returning fields

[2021-12-23 09:32] joccau commented on #30699
/assign

[2021-12-23 09:42] winoros commented on #30961
To be compatible with MySQL. We can add a Cast after the calculation so that the final output column info is the same as MySQL.

[2021-12-23 10:02] winoros commented on #30626
This is something also related with https://github.com/pingcap/tidb/issues/11414. That one would make this issue easy to have a final correct solution.

[2021-12-23 10:32] zimulala opened #30974 "Optimize the data store for column type change."
## Enhancement
Perform the column type change operation will call `DecodeTheExistedColumnMap`(the function will decode the handle corresponding value: https://github.com/pingcap/tidb/blob/master/util/rowDecoder/decoder.go#L152), leading to the primary key value(whether or not the column is a primary key handle column)  being written to the row value after the CTC(column type change).
So this can m

[2021-12-23 10:32] zimulala commented on #30974
Related issue: https://github.com/pingcap/tics/issues/3714

[2021-12-23 10:39] #28635 closed

[2021-12-23 11:13] #30965 closed

[2021-12-23 11:19] windtalker opened #30980 "MPP plan is not correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
Here is a ExchangeSender/ExchangeReceiver after HashJoin. Because group by column comes from the inner table of a outer join, and it will generate null values if join not matched.
### 3. What did you see instead (Required

[2021-12-23 11:42] #30940 closed

[2021-12-23 12:07] MiaoMiaoGarden commented on #28569
/assign

[2021-12-23 13:23] dbsid commented on #30938
Can existing issue to tracking? and any plan to fix it?

[2021-12-23 13:37] guo-shaoge commented on #30932
dup with #30913

[2021-12-23 13:40] windtalker commented on #30923
And this issue also exists when running the same query in TiDB + TiFlash.

[2021-12-23 13:57] #30971 closed

[2021-12-23 14:45] Abhilash-03 commented on #29893
alter table tb1 rename to tb2;

[2021-12-23 15:07] guo-shaoge opened #30984 "no_index_merge hint doesn't work in subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists t1, t2;
    create table t1  (c_int int, c_str varchar(40), c_datetime datetime, c_decimal decimal(12, 6), primary key(c_int), key(c_int), key(c_str), unique key(c_decimal), key(c_datetime));
    create table t2  like t1 ;
    insert into t1 (c_int,

[2021-12-23 15:16] guo-shaoge opened #30987 "Wrong result of correlated subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists t1, t2;
    create table t1  (c_int int, c_str varchar(40), c_datetime datetime, c_decimal decimal(12, 6), primary key(c_int), key(c_int), key(c_str), unique key(c_decimal), key(c_datetime));
    create table t2  like t1 ;
    insert into t1 (c_int,

[2021-12-23 16:45] time-and-fate commented on #30925
It's because `lower_bound` and `upper_bound` fields are using the `BLOB` type and it's not enough to contain some long values.
This is a known issue and has been fixed in #28800. It should not happen anymore from v5.3.0.

For lower versions, you can run the following SQLs as a workaround:
[code]
(of course you need to run these SQLs using a user with enough privileges)

[2021-12-23 17:22] donbowman commented on #30925
so thank you for that pointer. i have updated to 5.3.0

I see a slightly different error now:
[code]

[2021-12-23 20:45] donbowman opened #30990 "uncharacterised error after upgrade to v5.3.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

So i'm not sure what causes this since there's no detail. it occurs every couple of seconds, on all of the (3) tidb. I don't observe an external failure from the messages.
there are no additional logs, just this one. And it no context for me to follow.

Does anyone have a p

[2021-12-24 02:21] #30932 closed

[2021-12-24 02:28] XuHuaiyu commented on #30980
Fixed by https://github.com/pingcap/tidb/pull/28067

[2021-12-24 02:28] #30980 closed

[2021-12-24 02:31] wjhuang2016 commented on #30963
It's fixed in master. And it would not cherry-pick to 5.0

[2021-12-24 03:16] guo-shaoge commented on #30987
The result is different because:

TiDB:

    mysql> select c_str >= 'ZZZZZZZZZZZZZZ' from t2;
    +---------------------------+
    | c_str >= 'ZZZZZZZZZZZZZZ' |
    +---------------------------+
    |                         1 |
    |                         1 |
    |                         1 |
    |                         1 |
    |                         1 |
    +---------------------------+

[2021-12-24 03:16] #30987 closed

[2021-12-24 04:31] lcwangchao opened #31001 "support `followers=0` syntax"

[2021-12-24 04:50] xhebox commented on #31001
/cc @morgo , I've forbidden setting it to 0, which makes sense to me. I want to hear from you.

[2021-12-24 06:41] #30651 closed

[2021-12-24 06:59] kennytm commented on #27937
@glorv LGTM. But I think ensuring the input is an unsigned number (`uint64`) rather than signed (`int64`) is sufficient, since the error here is a Syntax Error.

[2021-12-24 07:08] winoros commented on #30961
If the behavior of truncating would be influenced, I think this is a good choice. We can try to add a final cast after the calculation to give MySQL clients the same field type as the original MySQL.

[2021-12-24 07:53] tiancaiamao commented on #30971
This is a non-critical bug, it exists for a long time and affects almost all TiDB version.
No user ever complains about it until recently.
So we decide to only fix 5.3 and newer...

[2021-12-24 08:11] TonsnakeLin commented on #30942
why not add a new isolation level like RC-WRAK, then It is not necessary to import a new variable.
It Increases the user's difficulty when import new variables @you06 @youjiali1995

[2021-12-24 08:28] dbsid opened #31005 "restore a 1TB dataset with 2 tiflash replicas takes over 24 hours"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

restore a interval dataset over 1TB
    br restore full --pd "peer:12379" \
        --storage "s3://1tb" \
        --s3.endpoint "http://xxx" \
        --send-credentials-to-tikv=true \
                --check-requirements=false

### 2. What did you expect to see? (Required

[2021-12-24 09:16] LemonHX opened #31009 "Implement global config in new pd client"
## Enhancement
update pd client version

reimplement global config by using new pd api instead of etcd api

[2021-12-24 09:36] zimulala opened #31011 "We shouldn’t modify a column‘s charset by `alter table … modify column…`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Currently we do not support "alter table…modify column…" to change the character set of a column (except utf8-> UTF8MB4).
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Requ

[2021-12-24 09:37] fzhedu opened #31012 "executor: add timestamp to a log to trace the query context"
## Enhancement
https://github.com/pingcap/tidb/blob/feee7c258ac7799499f561d281434b243c4fc92e/server/conn.go#L1114
this log does not have timestamp which cannot trace the context of this query.
[code]

[2021-12-24 10:04] zyguan commented on #30872
It seems ts future won't be prepared since #29393 , tidb tried to active transaction for the point select statement (as the following stack shown), and then invalid transaction got returned [here](https://github.com/pingcap/tidb/blob/0d899cdd9eee90e4942d87f2b8fcb4854be3c133/session/session.go#L2166). @Yisaer could you take a look?
[code]

[2021-12-24 10:10] Yui-Song opened #31014 "PR #30288 results in 5.4%-10% performance regression in read-heavy workloads"
## Bug Report

PR #30288 results in 5.4%-10% performance regression in read-heavy workloads

### 1. Minimal reproduce step (Required)

1. Deploy a cluster with nightly version
2. Turn on Prepare plan cache
2. Run sysbench oltp_read_only or other read-heavy workloads

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

The performance of workloads drops 5.4%-1

[2021-12-24 10:11] Defined2014 commented on #31011
one more case
[code]

[2021-12-24 10:16] fzhedu opened #31015 "MPP： retry to make plan when dispatch tasks to dead nodes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
executing sql failed when shriking clusters where some nodes are removed.

### 2. What did you expect to see? (Required)
sql sucess.
### 3. What did you see instead (Required)
failed.
### 4. What is your TiDB version? (Required)
master

[2021-12-24 10:23] #30578 closed

[2021-12-24 10:30] Defined2014 opened #31017 "`gbk_chinese_ci` collation should be case insensitive"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
success

### 4. What is your TiDB version? (Required)

[code]

[2021-12-24 10:30] Defined2014 commented on #31017
/feature developing

[2021-12-24 10:31] Defined2014 commented on #31017
/severity major

[2021-12-24 12:01] tiancaiamao commented on #30822
Those are the failed test cases when running `make ut`

- [ ] run test case error ddl TestDropAndTruncatePartition false 697.840205ms exit status 1
- [ ] run test case error ddl TestTable false 987.525765ms exit status 1
- [ ] run test case error ddl TestRenameTables false 698.35512ms exit status 1
- [ ] run test case error session testPessimisticSuite.TestKillStopTTLManager true 2.925076624s exit

[2021-12-24 13:35] bb7133 commented on #31014
Interesting... we have found another performance regression(https://github.com/pingcap/tidb/issues/30936) and thought it was resolved by https://github.com/pingcap/tidb/pull/30937.

[2021-12-24 13:36] morgo commented on #31001
OK, originally I was the same opinion as @xhebox , but on reconsideration @lcwangchao is correct: consider the case that data can be regenerated. In this case you may not wish to have redundancy.

So we should permit the case of `followers=0`.

[2021-12-24 13:59] zyguan commented on #29967
Please show what are you running? why do you think there must be xx-in-txn?

[2021-12-24 14:05] zyguan commented on #28923
@jebter Do we need to fix this bug in release 5.0?

[2021-12-24 14:14] dbsid commented on #29967
it turns out that for workload without transaction(oltp_point_select or oltp_read_only), there is no metrics for xx-in-transactions.

[2021-12-24 14:14] #29967 closed

[2021-12-24 14:21] zyguan commented on #26810
So what's the progress of https://github.com/pingcap/tidb/pull/28953 ? Can we close this issue if it won't be merged?

[2021-12-24 14:39] morgo commented on #30663
@AkiraXie I use Ubuntu (although a later version) and it works fine. TiDB will also try to clean up stale socket files if they are no longer in use. I believe the following occured:

1. TiDB was started with `$USER1` (and shutdown uncleanly)
2. TiDB then attempted to start with `$USER2`. The original TiDB server was not running, but the stale socket file could not be cleaned up.

Relevant log line

[2021-12-24 14:45] morgo commented on #30855
I can take a look next year when I get back from vacation if this is still open :-) I have found `SHOW GRANTS` compatibility very hard, but it is important to get right because users make decisions based on this.

[2021-12-24 20:21] sunxiaoguang commented on #26810
Waiting for triage for next 5.1 and 5.2 release

[2021-12-24 21:25] espresso98 opened #31022 "Collation dependent issue in TiDB on `select * from t1 where v like`"
## Bug Report

I enabled the collation framework but the result is different as in MySQL.

### 1. Minimal reproduce step
[code]

### 2. What did you expect to see?
In MySQL5.7 and 8.0,
[code]

### 3. What did you see instead
In TiDB,
[code]

### 4. What is your TiDB version?
[code]

[2021-12-26 07:59] guo-shaoge opened #31024 "Pessimistic lock doesn't work on a partition table when index merge is used"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists t1, t2;
    create table t1 (c_datetime datetime, c1 int, c2 int, primary key (c_datetime), key(c1), key(c2)) partition by range (to_days(c_datetime)) ( partition p0 values less than (to_days('2020-02-01')), partition p1 values less than (to_days('2

[2021-12-26 08:01] guo-shaoge commented on #31024
Related to #14921 and #21148.

We need to add `extraPIDColumnIndex` when build final TableReader for IndexMerge, just like #21148 did.

[2021-12-26 10:03] tisonkun commented on #26855
Closed as all subtasks done.

@hawkingrei could you please do a sanity check?

[2021-12-26 10:03] #26855 closed

[2021-12-26 10:08] tisonkun commented on #26022
As mentioned in #30692, we decided to run all tests in serial.

Thanks to @tangenta for driving the decision and I've updated the description in this issue. Thanks for all of your participants.

[2021-12-26 10:17] #28574 closed

[2021-12-26 13:55] guo-shaoge opened #31029 "Remove useless code for CTE.iterOutTbl"
## Enhancement
https://github.com/pingcap/tidb/blob/5ea46eaf22b8ac8529f29bf95c4aa903ea11c5f1/executor/builder.go#L4619

unexpected new variable

[2021-12-27 03:23] mayjiang0203 opened #31034 "br: after br restore, tikv used storage is not balance"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
run oltp_fun_001

### 2. What did you expect to see? (Required)
Restore finished at 18:26. Tikv used should be balance in all nodes.

### 3. What did you see instead (Required)
![image](https://user-images.githubusercontent.com/9443637/147431117-e008a9be-90de-43b5-823b-f50fa

[2021-12-27 03:37] Yui-Song commented on #31014
The performance of sysbench read-heavy workloads like: oltp_read_write, oltp_read_only, select_random_points have been improved by https://github.com/pingcap/tidb/pull/30937. However, the performance of shenma, a read-heavy bank workload,   still drop 8.9%-10%. It's a CPU-consuming workload.

[2021-12-27 03:40] ChenPeng2013 opened #31035 "runtime error: index out of range [-1]"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-27 03:42] Yui-Song commented on #31014
Please refer to the internal OLTP Benchmark Overview page for more details.

[2021-12-27 04:13] Yui-Song opened #31036 "PR #30169 results in 6.1%-6.6% performance regression in read-heavy workloads"
## Bug Report

PR https://github.com/pingcap/tidb/pull/30169 results in 6.1%-6.6% performance regression in read-heavy workloads

### 1. Minimal reproduce step (Required)

1. Deploy a cluster with pr https://github.com/pingcap/tidb/pull/30680
2. Turn on prepare plan cache
2. Run sysbench oltp_read_only or other read-heavy workloads
3. Deploy a cluster with pr https://github.com/pingcap/tidb/pull/3

[2021-12-27 04:19] #29597 closed

[2021-12-27 05:07] zyguan commented on #22244
dup of #21688

[2021-12-27 05:07] #22244 closed

[2021-12-27 05:35] windtalker commented on #30961
Even current TiDB's field type is not the same as MySQL, I tested the same query in MySQL,
The return type of `1 - Decimal(15,2)` is `Decimal(18,2)`
The return type of `Decimal(15,2)*(1 - Decimal(15,2))` is `Decimal(33,4)`

[2021-12-27 05:36] Yisaer opened #31038 "Runtime stats collection shouldn't collect stats if enable-collect-execution-info isn't enabled."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Start a cluster and running a workload with setting `enable-collect-execution-info` as false. Scrape the heap profile on tidb-server and we can see the following case:

![image](https://user-images.githubusercontent.com/13427348/147437885-64c0f625-7d7a-4be0-9bbf-8278791fcba

[2021-12-27 06:03] #30699 closed

[2021-12-27 06:06] TonsnakeLin opened #31040 "Using shard index to scatter integer hot index"
[](url)## Enhancement
Hot index reduces the write scalability of the TiDB cluster when the written data is monotonically increasing. Using an expression index to scatter the hot index, the new expression index is called a shard index. The expression prefix of shard index must be tidb_shard() that is a new TiDB built-in function.

In order to simplify the work, Only scatter integer unique index. e.

[2021-12-27 06:07] tiancaiamao commented on #25293
2021/12/27

- The testing plan [document](https://docs.google.com/document/d/1ux8RSo5uXd_LNOxXRATfTlNUQxSzeLwFr9t1HokV1h0/edit?usp=sharing) was written last week
- The design document [PR](https://github.com/pingcap/tidb/pull/23673) was updated and is now ready for review
- There are 2 new PRs are filed:
    - update the display of 'show create table' [#30951](https://github.com/pingcap/tidb/pull/

[2021-12-27 06:33] dveeden commented on #26022
@tisonkun I assume https://pingcap.github.io/tidb-dev-guide/get-started/write-and-run-unit-tests.html#parallel needs updating? Should that section be replaced by an explanation about why we want to run things in serial? or keep it?

[2021-12-27 06:49] xhebox commented on #31022
/cc @xiongjiwei

[2021-12-27 06:51] knull-cn opened #31042 "at login tidb `handshake`，should not print error log when closed normal(EOF)"
## Enhancement
load balance check health by tcp ,and will close before login.
at this time , tidb will stop at handshake with error`EOF`
it print this error every second,like this:
![image](https://user-images.githubusercontent.com/5057528/147448538-240b6d16-5698-44fb-a213-09e0c2cc2214.png)

the implementation is here :`Server::onConn`
https://github.com/pingcap/tidb/blob/v5.3.0/server/server.go#L

[2021-12-27 06:57] xiongjiwei commented on #31022
[code]

`like` in this test has been rewritten to `eq`, they are different from the tailing space.

[2021-12-27 06:57] xiongjiwei commented on #31022
/cc @winoros

[2021-12-27 07:47] dveeden commented on #30663
To test this I created a socket owned by root: `sudo nc -lU /tmp/tidb-4000.sock` and then tried to start `./tidb-server` as normal user (uid=1000). Then I got the error that was reported here.

[code]

This shows the permission issue and the name of the file.

On the OS the file looks like this:
[code]

The info that's missing from the error is who is the owner of the file. We could show that as w

[2021-12-27 08:04] knull-cn commented on #31042
i test the haproxy, it check health finish befor tcp link construct: send sync to tidb and tidb will response ack+syn to haproxy;then haproxy will send rst to tidb (it was closed )
but this is process in net-stack ,so tidb was don't know this rst .
![image](https://user-images.githubusercontent.com/5057528/147449690-0c2d3e08-fdea-486c-9c8e-099c59920e06.png)

[2021-12-27 08:14] #31017 closed

[2021-12-27 08:30] 3pointer opened #31046 "lightning: storageDir seems not work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

`storageDir` seems not work in code: https://github.com/pingcap/tidb/blob/393415782452903b417a539d7fc8cdcecc6ab1bf/br/pkg/lightning/config/config.go#L956

### 2. What did you expect to see? (Required)
a meaningful usage.
### 3. What did you see instead (Required)
storageDir

[2021-12-27 08:35] 3pointer opened #31047 "lightning: removeOneJob seems not used"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
code removeOneJob not used :https://github.com/pingcap/tidb/blob/b266d7d57424812404b27bf35c0b27c75f235e99/br/pkg/lightning/restore/checksum.go#L219
should use it after addOneJob succeed in code : https://github.com/pingcap/tidb/blob/b266d7d57424812404b27bf35c0b27c75f235e99/b

[2021-12-27 08:36] wjhuang2016 opened #31048 "Concurrent Column Type Change would cause inconsistent schema and data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
No error

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
5.1 5.2 5.3 master

[2021-12-27 08:39] lcwangchao opened #31050 "REGION_ID=xxx does not work on table INFORMATION_SCHEMA.TIKV_REGION_PEERS"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Should return 0 rows if REGION_ID not exists

[code]

### 3. What did you see instead (Required)

[code]

The plan seems not right:

[code]

### 4. What is your TiDB version? (Required)

master

[code]

[2021-12-27 08:55] gozssky commented on #31047
https://github.com/pingcap/tidb/blob/abb65829101d2f19b69b4e5a4dd0471dbed05915/br/pkg/lightning/restore/checksum.go#L132-L137

🤔

[2021-12-27 09:08] gozssky commented on #31046
`storageSizeDir = filepath.Dir(storageSizeDir)` is useless here now.
It seems the original author wants to gets storage's capacity and available size even if the directory doesn't exist. However, we always create  the directory first and then check its size.

[2021-12-27 09:43] nolouch opened #31052 "Consider make rule `location_labels` be empty"
## Background

As issue https://github.com/tikv/pd/issues/4467 shown, creating placement rule by DDL will set the  `location_labels` be `region,zone,rack,host` in default. but the TiKV labels may not guarantee the relevant label hierarchy, which leads to un-expect scheduling.
[code]
## Proposal

make  `location_labels` be empty,  it's more like an undefined behavior, we may consider deleting the f

[2021-12-27 10:01] nolouch commented on #31052
ptal @xhebox @morgo @disksing

[2021-12-27 10:03] lcwangchao opened #31053 "Remove variable `tidb_enable_alter_placement`"

[2021-12-27 10:04] XuHuaiyu commented on #30264
`SELECT GREATEST(time '20:00:00', 120000) + 0.00;` should return `20`, I reported a bug to MySQL and got verified.
https://bugs.mysql.com/bug.php?id=105983

[2021-12-27 10:11] xhebox commented on #31052
I would like to see that, probably make `isolationLevel` global too. That makes much more sense to me than setting them in every single rule.

[2021-12-27 10:43] dbsid opened #31056 "ignore stmtClose to make sure smtPrepare can hit plan cache"
## Enhancement
It's not uncommon that real-world application will follow the stmtPrepare -> stmtExec -> stmtClose loop.
In TiDB, the stmtClose will evict the cached plan, and the following stmtPrepare need to recompile the plan, make the plan cache useless.
In Oracle, stmtClose only close the session local handle. The cached plan still exists the in the global cache shared pool, the following prep

[2021-12-27 11:16] glorv opened #31057 "tidb-lightning return context.Canceled error when set wrong csv.header config"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run tidb-lightning with default config (csv.header = true), but source data actually don't contains header.

### 2. What did you expect to see? (Required)
Lightning should report `unknown columns in header ...`

### 3. What did you see instead (Required)
Lightning report `R

[2021-12-27 12:10] disksing commented on #31052
Good idea. I would like to add a situation. When `location_labels: []` is set, the rule does not take location isolation into consideration.

[2021-12-27 12:19] ichn-hu opened #31060 "FallbackOldAndSetNewAction is called too frequently"
## Enhancement

see

![image](https://user-images.githubusercontent.com/29735669/147470980-e448ab0b-cd90-47ab-8e86-69ae60a0ea4e.png)

FallbackOldAndSetNewAction is called on every Send

and the underlying implementation is an O(n^2) sort

![image](https://user-images.githubusercontent.com/29735669/147471191-46240b08-80cc-4329-900d-1eee41adfdef.png)

meaning each call of FallbackOldAndSetNewAction

[2021-12-27 14:26] ilovesoup commented on #30730
Even the very basic behavior of char seems wrong.
`mysql> select char(224);
+----------------------+
| char(224)            |
+----------------------+
| 0xE0                 |
+----------------------+
1 row in set (0.00 sec)`

[2021-12-27 14:28] hawkingrei opened #31062 "DATA RACE in the ```ResetContextOfStmt```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-27 14:34] bb7133 opened #31063 "server: do not report `["encountered error"] [error=EOF]` for TCPConn alive detectors"
## Enhancement

After https://github.com/pingcap/tidb/pull/27962, TiDB reports the handshake error if the connection is not successfully established, as a trivial bugfix. This change is released with v5.3.0

However, we found that some load balancers use the TCP connection for alive detectives, for example, the [GCP](https://cloud.google.com/load-balancing/docs/network) and https://asktug.com/t/to

[2021-12-28 01:04] Ehco1996 opened #31064 "set dumpling consistency vars exported"
## Enhancement

https://github.com/pingcap/tidb/blob/abb65829101d2f19b69b4e5a4dd0471dbed05915/dumpling/export/consistency.go#L16

due to some project (like https://github.com/pingcap/tiflow) may use `dumpling` as lib, so maybe make this vars exported is a better choice

[2021-12-28 01:56] dbsid opened #31065 "high cpu usage from reArrangeFallback of execution on apply operator"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run a query with heavy Apply operator(nested loop join)

### 2. What did you expect to see? (Required)

high cpu usage from reArrangeFallback

### 3. What did you see instead (Required)

![image](https://user-images.githubusercontent.com/2316425/147519127-742201a9-f37d-404c

[2021-12-28 02:01] ichn-hu commented on #31065
duplicaetd with https://github.com/pingcap/tidb/issues/30353

[2021-12-28 02:01] #31065 closed

[2021-12-28 02:01] ichn-hu commented on #31060
duplicated with https://github.com/pingcap/tidb/issues/30353

[2021-12-28 02:01] #31060 closed

[2021-12-28 02:09] Ivy-YinSu commented on #30609
Hello Everyone,
We are sorry to announce that TiDB v5.0.6 will be delayed from Dec. 28th to Dec. 31st.
Because the following issue may pose quality risks, and we will treat every quality issue with care, we will take 3 days to fix and go through the regression test.
    https://github.com/pingcap/tiflow/issues/4090
We have tried to communicate with the known stakeholders of this version change. Be

[2021-12-28 02:33] #30801 closed

[2021-12-28 02:40] shhdgit commented on #30745
Fixed PR: https://github.com/pingcap/tidb-dashboard/pull/1069

[2021-12-28 03:13] Reminiscent commented on #31036
It's an enhancement for plan cache. So I change the tag to feature/developing and enhancement.

[2021-12-28 03:43] #30686 closed

[2021-12-28 03:46] cfzjywxk commented on #28078
As this is a blocking issue, raise the severity to critical.

[2021-12-28 04:01] mayjiang0203 commented on #31034
Seems it is hard to reproduce it. Didn't occur after try 4 times.
![image](https://user-images.githubusercontent.com/9443637/147526576-93bdf83b-5a69-4532-b232-247c80f1d34a.png)

[2021-12-28 04:43] #31048 closed

[2021-12-28 04:55] #30923 closed

[2021-12-28 04:57] #30305 closed

[2021-12-28 05:19] #30786 closed

[2021-12-28 05:36] #31042 closed

[2021-12-28 05:37] knull-cn commented on #31042
it is same to #27962

[2021-12-28 06:45] #30913 closed

[2021-12-28 06:58] wjhuang2016 opened #31074 "alter column set default wrongly modify information_schema"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Modify code the make alter column slow.

![origin_img_v2_91b72c02-323a-4a78-8360-9e5488eceabg](https://user-images.githubusercontent.com/17380469/147537707-39a3f9fb-d351-40a9-8bcb-b65a086ea3bb.png)

### 2. What did you expect to see? (Required)
default 17

### 3. What did y

[2021-12-28 07:05] wjhuang2016 opened #31075 "rename column fail when doing column type change concurrently"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
No error.
### 3. What did you see instead (Required)
![origin_img_v2_056ed67a-b47c-4be5-9088-b4ce11349b1g](https://user-images.githubusercontent.com/17380469/147538277-0afb7b60-5042-4335-a863-258222afb1d0.png)

### 4. Wha

[2021-12-28 07:07] aytrack opened #31077 "insert data into cache table will lead tidb panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
insert success and tidb not panic
### 3. What did you see instead (Required)
[code]
the tidb log
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-28 07:27] tiancaiamao commented on #31077
Link https://github.com/pingcap/tidb/issues/25293

[2021-12-28 07:28] #31036 closed

[2021-12-28 07:59] chrysan opened #31080 "unstable unit test: testPessimisticSuite.TestPessimisticLockNonExistsKey"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
FAIL: pessimistic_test.go:1150: testPessimisticSuite.TestPessimisticLockNonExistsKey
[2021-12-28T07:10:08.170Z]
[2021-12-28T07:10:08.170Z] pessimistic_test.go:1185:
[2021-12-28T07:10:0

[2021-12-28 08:02] chrysan commented on #31080
/assign cfzjywxk

[2021-12-28 08:02] winoros commented on #31080
/label sig-transaction

[2021-12-28 09:25] #28179 closed

[2021-12-28 09:37] tisonkun commented on #28165
@3pointer @kennytm is this package removed?

[2021-12-28 09:51] #31014 closed

[2021-12-28 09:53] guo-shaoge commented on #30984
`no_index_merge` will disable index merge in stmtatement level and it must put in top level.

[2021-12-28 09:53] #30984 closed

[2021-12-28 10:04] kennytm commented on #28165
yes, the feature is deprecated from cdc.

[2021-12-28 10:15] tisonkun commented on #28165
@kennytm thanks for your information!

Closed as invalid.

[2021-12-28 10:15] #28165 closed

[2021-12-28 10:42] LemonHX commented on #31050
some thing more fantastic happends
[code]

but query with `peer_id` seems correctly handled
[code]

and query with `STORE_ID` same problem also exist
[code]

[2021-12-28 10:44] tiancaiamao opened #31085 "run single test TestRenameTables fails"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Success

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-12-28 10:44] tiancaiamao commented on #31085
A subtask of #30822

[2021-12-28 11:19] winoros commented on #30880
We re-investigate the issue.
It's nothing about the analyze. Should be the bug of dumpling itself.

[2021-12-28 11:28] glorv opened #31088 "tidb-lightning import wrong data if user doesn't has right permission"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Use tidb-lightning to import data into a v5.3.0 cluster with (new_collations_enabled_on_first_bootstrap=true). The user in tidb-lightning's config doesn't has permission to access to table `mysql.tidb`

### 2. What did you expect to see? (Required)
The import should either r

[2021-12-28 12:04] lcwangchao opened #31092 "Add `tidb_placement_mode`"

[2021-12-28 12:42] tiancaiamao opened #31094 "goleak: Errors on successful test run: found unexpected goroutines"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Success, no error

### 3. What did you see instead (Required)

Unexpected output, some goroutine are found leak:

[code]

### 4. What is your TiDB version? (Required)

master

[2021-12-28 13:01] time-and-fate opened #31096 "Make `Selectivity()` correctly handle `true` and `false`"
## Enhancement
[code]

The row count estimation of the following two SQL should be the same:

[code]

[2021-12-28 13:16] Tangruilin commented on #16581
/assign

[2021-12-28 13:49] dveeden opened #31097 "Dumpling: The `SortByPk` option is missing a flag"
## Bug Report

### 1. Minimal reproduce step (Required)

Inspect the code: There is a `SortByPk` option, but no flag to set it.

This causes issues when exporting data from Vitess as that doesn't support queries like this if the table is sharded:
[code]

However it does support:
[code]

Or:
[code]

The column in the `ORDER BY` has to be explicitly named in the `SELECT`-list.

### 2. What did you e

[2021-12-28 14:01] dveeden commented on #31097
Related: https://github.com/pingcap/docs/pull/5783

[2021-12-28 14:07] #29382 closed

[2021-12-28 14:07] #30765 closed

[2021-12-28 17:56] Alkaagr81 opened #31100 "log_output is read only variable in TIDB"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-28 23:02] lucifinil commented on #31100
This is sort of expected.
MySQL general log is only partially supported in TiDB, and we will not be able to accomodate the test case fully.

However, one thing that can be considered is to make the message more readable and reasonable when one is trying to set log_output and general_log/general_log_file
Let me give a try.

[2021-12-28 23:02] lucifinil commented on #31100
/assign

[2021-12-29 01:20] tiancaiamao commented on #31062
What's the version? @hawkingrei

[2021-12-29 01:32] tiancaiamao commented on #31062
This looks like when compiling the next SQL, the previous query doesn't fully exit.
Then `indexHashJoinInnerWorker` background goroutine is still actively building the executor and conflict with the next SQL compilation.
PTAL @XuHuaiyu

[2021-12-29 01:56] zyguan commented on #30440
#30513 avoids the panic, but we still don't know why `ri.meta` becomes to nil. We may still use this issue to trace the problem.

[2021-12-29 01:57] bb7133 commented on #30663
I don't think this is 'unsafe' but it did introduce a usability issue.

[2021-12-29 02:13] bb7133 commented on #29891
@ramanich1 Thanks for reporting this!

@ilovesoup @XuHuaiyu I think this is a compatibility issue related to `float` literal to `char`, so it is about the 'execution'. What's more, the behavior of MySQL looks weird:

[code]

So I think TiDB's current behavior is more reasonable. I would prefer to mark it as a known compatibility issue and mark a 'won't fix'.

[2021-12-29 02:23] xiongjiwei commented on #29592
close by https://github.com/pingcap/tidb/pull/31039

[2021-12-29 02:23] #29592 closed

[2021-12-29 03:11] #28916 closed

[2021-12-29 03:11] zyguan commented on #31080
dup of #30677

[2021-12-29 03:13] xuyifangreeneyes opened #31102 "Implement analyze predicate columns"

[2021-12-29 03:26] vivid392845427 opened #31103 "assert false positive"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`delete success`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-29 03:29] coolboydan opened #31104 "In the test cases in TiDB, MySQL and TiDB behave differently, whichever prevails"
## General Question

In the test case  `util/admin/admin_integration_test.go:59`
[code]

In TiDB it can write normally。

When executed in MySQL
[code]

Which shall prevail

[2021-12-29 03:44] tiancaiamao opened #31105 "do not write binlog for 'alter table cache/nocache' DDL statement"

[2021-12-29 03:59] ekexium commented on #31103
It's a feature under development. Will be tracked internally.

[2021-12-29 03:59] #31103 closed

[2021-12-29 04:13] #28617 closed

[2021-12-29 05:28] Triple-Z commented on #18290
Is there have any updates on this issue?

[2021-12-29 05:43] hawkingrei commented on #31062
master. It is found in CI.

[2021-12-29 06:04] tiancaiamao opened #31112 "Performance regression in pr/31072"
## Enhancement

This is detected by https://github.com/pingcap/tidb/issues/25754

See the result here http://www.zenlife.tk:18081/alloc

![image](https://user-images.githubusercontent.com/1420062/147631909-08051330-beae-427a-a4c5-91a497ab69b9.png)

Verify it manually:

[code]

Before:
[code]

After:
[code]

It introduce 11.8% extra allocation, and slightly slow down the ops

[code]

![image](https

[2021-12-29 06:05] xiongjiwei opened #31113 "identifier should convert to ? if it is invalid character"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
`\xd6\xf7\xbc\xfc` is invalid utf8mb4 encoding, we need use `?` instead

[2021-12-29 06:12] you06 commented on #30942
Actually, I wonder this feature would never be used by the users who do not understand the consistency at a very high level.

[2021-12-29 06:17] jackysp opened #31115 "Improve some metrics on Grafana"
## Enhancement

- [ ] TiDB client traffic is too complex, make it simply.
- [ ] `DESC` and `EXPLAIN` are used to show columns of a table and explain a SQL which should be separated on metrics.
- [ ] Add index duration and rate are merged into one panel, which makes the user confused.
- [ ] Batch client requests are displayed as a hate map, which is difficult to decide how many to change `max-batch

[2021-12-29 06:40] zyguan commented on #30470
Close it since PingCAP-QE/ci#544 got merged, feel free to reopen it if the issue still exist.

[2021-12-29 06:40] #30470 closed

[2021-12-29 06:56] AilinKid opened #31117 "prefix index should keep original value in the same Key-Value"
## Enhancement
TiDB
[code]

MySQL
[code]

Intuitively, we just wanna get only column b which is explicit declared in the index `b` without fetch back to table.

[2021-12-29 07:01] winoros opened #31118 "LOAD DATA missed the updates of the stats_meta."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

using load data command to load some data.

### 2. What did you expect to see? (Required)

The `show stats_meta` can see the updates of this table.

### 3. What did you see instead (Required)

The `show stats_meta` still tells that the row count of this table is zero.

###

[2021-12-29 07:02] winoros commented on #31118
This would make TiDB use a wrong analyze sample rate and cause the error.

[2021-12-29 07:11] #31085 closed

[2021-12-29 07:22] winoros commented on #31118
https://github.com/pingcap/tidb/pull/31016 This pr has eased the possibility of the case.

[2021-12-29 07:31] #31077 closed

[2021-12-29 07:33] xiongjiwei commented on #30565
close by https://github.com/pingcap/tidb/pull/31039

[2021-12-29 07:33] #30565 closed

[2021-12-29 07:49] xiongjiwei commented on #30618
yes, the no.2 problem is looks like mysql's bug

[2021-12-29 07:53] xiongjiwei opened #31119 "tidb panic under `no_baskslash_escape` mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[2021-12-29 08:00] peng1999 opened #31121 "Check API V2 in BR"
This is part of https://github.com/tikv/tikv/issues/10938.

- [ ] BR backup should know the current API version of TiKV and write it in backupmeta.
- [ ] BR restore should check the API version in backupmeta and set it in ingest request to TiKV.

[2021-12-29 08:07] #31113 closed

[2021-12-29 08:12] tangenta opened #31124 "type conversion from `BIT` to `CHAR` should always consider uint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL 8.0.27 and MySQL 5.7.36:
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

f39a32815

[2021-12-29 08:17] guo-shaoge opened #31125 "Pushdown substring/substr/mid/char_length to TiKV"
## Enhancement
As title said

[2021-12-29 08:27] #28166 closed

[2021-12-29 08:47] lcwangchao opened #31127 "Should not allow specify FOLLOWERS/LEARNERS when FOLLOWER_CONSTRAINTS/LEARNER_CONSTRAINTS is using dict syntax"
We should forbid the following syntax:

[code]

[2021-12-29 08:56] ichn-hu opened #31129 "IndexNestedLoopHashJoin send on closed channel"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

the reproduce can be done by https://github.com/pingcap/tidb/pull/31128

checkout the code and run

[code]

### 2. What did you expect to see? (Required)

no panic

### 3. What did you see instead (Required)

https://github.com/pingcap/tidb/blob/a5bbee9a7168c4070911def85a71

[2021-12-29 09:00] zyguan commented on #30677
I cannot reproduce the issue locally, and I even don't know the err is nil or something else. The related logs shown as the following, @cfzjywxk do you have any idea? Should we add some logs for further investigation?
[code]
[code]

[2021-12-29 09:13] AndrewDi opened #31130 "When execute select into outfile, affected rows always show 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Execute following sql:
[code]

### 2. What did you expect to see? (Required)
`Query OK, 4 rows affected`

### 3. What did you see instead (Required)
`Query OK, 0 rows affected`

### 4. What is your TiDB version? (Required)
master branch

[2021-12-29 09:18] AndrewDi opened #31131 "When execute select into outfile, affected rows always show 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Execute following sql:
[code]

### 2. What did you expect to see? (Required)
`Query OK, 4 rows affected`

### 3. What did you see instead (Required)
`Query OK, 0 rows affected`

### 4. What is your TiDB version? (Required)
master branch

[2021-12-29 09:47] xuyifangreeneyes commented on #31112
`CollectColumnStatsUsage` increases some cost on sql optimization. The extra memory allocation comes from the `{tblID, colID} -> Column.UniqueID` map, which is relatively large if the table has many columns. I haven't come up with a good solution. #30816 will introduce a switch for `CollectColumnStatsUsage` and we will consider whether to turn the switch off by default.

[2021-12-29 09:49] #30896 closed

[2021-12-29 09:58] jackysp opened #31135 "Add an option to have all types of transactions be in pessimistic mode"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Implicit transactions are still executed in optimistic mode even if the pessimistic transaction option is turned on, which is hard to explain to uses. And often we fall into the same trap when troubleshooting problems ourselves. Also, for the lock view, since it reads info from the wait manager, the lock view i

[2021-12-29 09:59] cfzjywxk commented on #30677
@zyguan
It's werid, there're several possibilities:
- If it's runned with real tikv-store, the pessimistic lock is lost(https://github.com/tikv/tikv/issues/11649)?
- If the pessimistic lock is not lost, it could run slow so the error code is not acctually what we expected?

I think we may need to try to reproduce this issue, besides we could add some debug log in the pessimistic lock path to help

[2021-12-29 10:07] crazycs520 opened #31136 "move topsql variable to topsql/state for avoid import cycle"
## Dev task

move topsql variable to topsql/state for avoid import cycle.

[2021-12-29 10:07] #31119 closed

[2021-12-29 10:13] aytrack opened #31137 "split table error message reversed step and minRegionStep"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-29 10:18] fubinzh opened #31139 "admin check doesn't fail when index not correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. TiDB new_collations_enabled_on_first_bootstrap = true
2. Prepare lightning test data
[code]
3. Use lightning to import the data to TiDB, using a user which doesn't have access to mysql.tidb (in this case, lightning import should fail, but now we can still import data to

[2021-12-29 10:35] #30440 closed

[2021-12-29 10:38] aytrack commented on #31130
duplicate with #31131

[2021-12-29 10:38] #31130 closed

[2021-12-29 11:01] tiancaiamao opened #31141 "prepare 'do 1' panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

A regression found by tidb-test https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/8001/pipeline/

Introduced by https://github.com/pingcap/tidb/pull/30981/

The problem is, we seems to be not running tidb-test for s

[2021-12-29 11:35] wjhuang2016 commented on #31139
In this case, the index is still consistent with data, so it won't report errors.

[2021-12-29 11:45] chrysan commented on #31080
Another similar fail:
[2021-12-29T11:35:56.543Z] FAIL: pessimistic_test.go:488: testPessimisticSuite.TestSelectForUpdateNoWait

[2021-12-29T11:35:56.543Z]

[2021-12-29T11:35:56.543Z] pessimistic_test.go:538:

[2021-12-29T11:35:56.543Z]     c.Check(err, NotNil)

[2021-12-29T11:35:56.543Z] ... value = nil

[2021-12-29T11:35:56.543Z]

[2021-12-29T11:35:56.543Z] pessimistic_test.go:540:

[2021-12-29T1

[2021-12-29 11:46] tiancaiamao commented on #31141
This bug only affects the master branch

[2021-12-29 11:51] #31136 closed

[2021-12-29 12:09] #30969 closed

[2021-12-29 13:15] #31124 closed

[2021-12-29 14:02] crazycs520 opened #31144 "add sql sum execution duration information for top sql"
## dev task

* add sql sum execution duration information for top sql

[2021-12-29 16:07] bb7133 opened #31147 "binlog: use `node.Restore()` to add TiDB-specified feature comments"
## Enhancement

For TiDB-specified features like `AUTO_RANDOM` attributes, we comment them in [TiDB-specified comments](https://docs.pingcap.com/tidb/stable/comment-syntax/#tidb-specific-comment-syntax) for binlog-based replication(deprecated, but still used by some customers) and TiCDC.

After https://github.com/pingcap/tiflow/issues/3755, TiCDC used the [`node.Restore()`](https://github.com/ping

[2021-12-29 17:13] #31131 closed

[2021-12-29 18:25] Alkaagr81 opened #31149 "Creating functional index with null column name worked in tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-30 01:28] fubinzh commented on #31139
@wjhuang2016 ,  Why I can't get data using the below queries?
[code]

[2021-12-30 01:35] ramanich1 opened #31150 "Tidb Compress() results are not consistent with mysql."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-30 01:47] XuHuaiyu commented on #29019
related to https://github.com/pingcap/tidb/issues/30261

[2021-12-30 01:59] #31105 closed

[2021-12-30 02:17] #31137 closed

[2021-12-30 02:35] #31088 closed

[2021-12-30 02:38] AilinKid commented on #30957
seems `SELECT COUNT(*), a+1 as x,(SELECT m FROM t2 WHERE m = x LIMIT 1) FROM t1 GROUP BY a;` this also fail to run

[2021-12-30 02:41] lcwangchao opened #31153 "Sometimes add partition will not add placement rules in PD"
[code]

The new added partition will not have the placement rules synced to PD

[2021-12-30 02:43] glorv commented on #31047
@gozssky We should do the same defer call at https://github.com/pingcap/tidb/blob/abb65829101d2f19b69b4e5a4dd0471dbed05915/br/pkg/lightning/restore/checksum.go#L328-L336

[2021-12-30 02:49] wjhuang2016 commented on #31139
Even if the index uses the wrong encoding config(new collation enabled), the data can be decoded correctly. But if we construct a lookup key, then it doesn't meet the index.
The problem is that, `admin check table` doesn't check the index's encoding.

[2021-12-30 02:53] #31144 closed

[2021-12-30 02:54] crazycs520 opened #31155 "Improve the accuracy of SQL execution time/exec_time for TopSQL"
## Enhancement

https://github.com/pingcap/tidb/pull/31143 already added sql sum execution duration information for TopSQL, but it has some problems:
* The SQL duration doesn't contain the duration of `get token`.
* The duration of `com_stmt_fetch` maybe not right, see: https://github.com/pingcap/tidb/pull/11987
* If the query execute failed first with a retriable error, then the query execute cou

[2021-12-30 02:55] Reminiscent commented on #31022
In the lastest master, we only get two rows.
[code]

[2021-12-30 02:55] winoros commented on #30399
This issue was fixed via #31016

[2021-12-30 02:55] #30399 closed

[2021-12-30 03:19] fzhedu opened #31156 "cast str as datetime is not compatible with mysql 8"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)
mysql
[code]
### 3. What did you see instead (Required)
tidb
[code]
1 row in set, 1 warning (0.00 sec)
### 4. What is your TiDB version? (Required)

master

[2021-12-30 03:33] #30264 closed

[2021-12-30 03:46] #29160 closed

[2021-12-30 04:14] ramanich1 opened #31163 "INTERVAL expr unit is permitted on either side of the + operator in mysql but TiDB is permitting only on the right side."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-30 04:17] espresso98 opened #31164 "The result of CRC32 function differs from MySQL's result"
## Bug Report
CRC32() is the function to compute a cyclic redundancy check value.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see?
In MySQL8.0 and MySQL5.7,
[code]

### 3. What did you see instead
In TiDB,
[code]

### 4. What is your TiDB version?
[code]

[2021-12-30 04:22] espresso98 commented on #31163
This issue is related to https://github.com/pingcap/tidb/issues/30253.

[2021-12-30 04:31] espresso98 opened #31165 "TiDB doesn't give an error or warning for out of range in degrees function"
## Bug Report

DEGREES() function converts radians to degrees. Please provide an out of range error for the case.

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see?
In MySQL,
[code]

### 3. What did you see instead
In TiDB,
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-12-30 04:59] espresso98 commented on #26993
I found more test cases to show discrepancies.

select round(-5000111000111000155,-1);
select round(15000111000111000155,-1);
select round(4, cast(-2 as unsigned)), round(4, 18446744073709551614));
select round(1.5, 2147483640), truncate(1.5, 2147483640);

[2021-12-30 05:04] zyguan commented on #23709
Since it's a major version upgrade, and we've already announce that the config is replaced by system variable `tidb_txn_mode` in our [release notes](https://docs.pingcap.com/tidb/stable/release-5.0.0#configuration-file-parameters). I don't think we need to guarantee that compatibility.

[2021-12-30 05:04] #23709 closed

[2021-12-30 05:12] zyguan commented on #22598
Decrease the severity since it's not a common usage.

[2021-12-30 05:13] Defined2014 commented on #31150
FYI, https://github.com/pingcap/tidb/issues/11163#issuecomment-512162914.

[2021-12-30 05:15] zyguan commented on #22393
No update for a long time, feel free to reopen it if the issue still exists.

[2021-12-30 05:15] #22393 closed

[2021-12-30 05:33] espresso98 opened #31166 "`select cast(pow(2,63) as signed)` behaves differently in MySQL8.0 and MySQL5.7 and TiDB"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step

[code]

### 2. What did you expect to see?
In MySQL8.0,
[code]
In MySQL5.7,
[code]
### 3. What did you see instead
In TiDB,
[code]
### 4. What is your TiDB version?
[code]

[2021-12-30 05:39] #30581 closed

[2021-12-30 06:29] #31057 closed

[2021-12-30 06:48] #31163 closed

[2021-12-30 06:48] ramanich1 commented on #31163
duplicate

[2021-12-30 06:49] ramanich1 commented on #31150
duplicate

[2021-12-30 06:49] #31150 closed

[2021-12-30 06:53] dveeden commented on #31156
Looks like https://github.com/pingcap/tidb/pull/30935 might be related

[2021-12-30 07:04] Defined2014 commented on #31011
Seems we support those stmt. https://github.com/pingcap/tidb/blob/master/ddl/ddl_api.go#L3928

[2021-12-30 07:09] #31141 closed

[2021-12-30 07:17] lcwangchao opened #31173 "Learner peers cannot be scheduled using placement settings"
When we are creating a table with learner placement settings like:

[code]

The schedule will hang when scheduling learner peers. It is caused by tikv bug: https://github.com/tikv/tikv/issues/11463 .

Temporary one way to walk around is to make a two phase operation:

1. Add rules to PD without learner rules and waiting the schedule done.
2. Add learner rules then.

[2021-12-30 07:22] YuJuncen commented on #29033
should already be fixed by #29180

[2021-12-30 07:22] #29033 closed

[2021-12-30 07:26] YuJuncen commented on #31005
The download speed from the environment is slow. As a workaround, we can set `import.num-threads`(at TiKV) and `checksum-concurrency`(at BR) to higher for better utilizing the resource.

However, the download speed is weird -- I have tested the speed via `mc` and seems no connectivity problem between the environment and the storage. Maybe the S3 SDK have involved unnecessary backoff or something.

[2021-12-30 07:33] Defined2014 commented on #30618
/close

[2021-12-30 07:33] #30618 closed

[2021-12-30 07:34] tangenta opened #31174 "`LIKE` does not work as expected for utf8_general_ci strings"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

8a83d01ac

[2021-12-30 07:41] Defined2014 commented on #30740
[code]

[code]

[2021-12-30 07:41] ichn-hu opened #31175 "trace SQL is blocked by restricted read only"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

turn on restricted read only and execute

![image](https://user-images.githubusercontent.com/29735669/147731372-6cec2e85-4e1f-4516-aeb8-ac213f487fb8.png)

### 2. What did you expect to see? (Required)

okay to run

### 3. What did you see instead (Required)

running in read

[2021-12-30 07:45] #31102 closed

[2021-12-30 07:49] YuJuncen commented on #31034
I've checked some of metrics. There are some strange things:

1. PD failed to create operator because of `unhealthy` regions. This can be retried after we using the new `ScatterRegions` API.
2. Seems BR sometimes scatters non-empty region.

[2021-12-30 07:53] zyguan commented on #27524
No update for a long time, feel free to reopen it if the issue still exists.

[2021-12-30 07:53] #27524 closed

[2021-12-30 07:54] zyguan commented on #24428
No update for a long time, feel free to reopen it if the issue still exists.

[2021-12-30 07:54] #24428 closed

[2021-12-30 08:07] #30564 closed

[2021-12-30 08:26] hawkingrei opened #31176 "DATA RACE in the ```util/topsql/reporter```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Too much data race in the ```util/topsql/report```. Please read this log.

https://prow.hawkingrei.com/view/gs/prowpingcap/logs/tidb_race/1476414036286377984

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB

[2021-12-30 08:28] LittleFall commented on #27148
tidb may report "runtime error: invalid memory address or nil pointer dereference", this is becuase the issue fixed by https://github.com/pingcap/tics/pull/2421

[2021-12-30 08:33] #31153 closed

[2021-12-30 08:39] dbsid commented on #31005
after increasing the config, the restore time reduce from ~24h to ~4h
import.num-threads: 64
--checksum-concurrency 64

[2021-12-30 08:57] #30942 closed

[2021-12-30 09:00] cchenkey opened #31178 "SQL BACKUP DATABASE will hang"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-30 09:01] #31178 closed

[2021-12-30 09:07] cchenkey opened #31180 "[component/br] BACKUP DATABASE to S3 cmd will hang when tikv node can not connect to S3 endpoint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1.deploy a tidb cluster which tikv node can not access to your S3 endpoint
2.connect tidb, send BACKUP DATABASE to '[your s3 address]'
3.cmd will be hang and not return anything response

### 2. What did you expect to see? (Required)

when tikv can not connect to S3, do BAC

[2021-12-30 09:22] djshow832 opened #31181 "Log the tables and schema versions when reporting `Information schema is changed`"
## Enhancement

We always see this error in the logs but don't know which tables are affected and which DDL jobs affect the tables. The statements in the transaction are not logged, so it's hard to determine.

[2021-12-30 09:35] zyguan commented on #28658
duplicate of #28923

[2021-12-30 09:35] #28658 closed

[2021-12-30 09:39] #30962 closed

[2021-12-30 09:40] zyguan commented on #26810
Close the issue because https://github.com/pingcap/tidb/pull/28953 & https://github.com/pingcap/tidb/pull/28957 are already waiting for triage.

[2021-12-30 09:40] #26810 closed

[2021-12-30 09:45] zyguan commented on #30410
https://github.com/pingcap/tidb/pull/30447 has been cherry-picked to all release branches and these PRs are waiting for triage. We can close this issue now.

[2021-12-30 09:45] #30410 closed

[2021-12-30 10:17] #30772 closed

[2021-12-30 10:33] tiancaiamao opened #31184 "better display for 'explain analyze ...' on a cached table"

[2021-12-30 10:35] winoros opened #31185 "Not good explain output for temporary table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

[code]

It actually doesn't access the TiKV, but there's still `cop[tikv]`. And the execution info and memory is `N/A`.

We need a better explain output to tell user the behav

[2021-12-30 11:02] aytrack commented on #31166
seems tidb behavior is more reasonable
[code]

[2021-12-30 11:24] xhebox opened #31186 "placement: wrong quorum number"
## Enhancement

Quorum number should be `(n/2)+1` but is calculated as `ceil(n/2+1)` at the time.

[2021-12-30 11:37] lcwangchao commented on #31184
dup with #31185

[2021-12-30 11:38] lcwangchao commented on #31185
Closed for duplicated with #31184

[2021-12-30 11:38] #31185 closed

[2021-12-30 11:51] #31127 closed

[2021-12-30 12:07] tiancaiamao opened #31190 "ignore the TableCacheStatus table info in `br`, so it's handled as a normal table"

[2021-12-30 12:25] #31186 closed

[2021-12-30 12:49] tangenta commented on #31174
The root cause is the incorrect way to build range for pattern matching `%` in `LIKE`:

https://github.com/pingcap/tidb/blob/321d307f3b23877fb2be0e7534a9ecd6a655be05/util/ranger/points.go#L688-L705

This algorithm constructs the range in byte-level: for example, `ab%` is mapped to `[ab, ac]` by adding `1` to the last byte. However, this is incorrect for non-binary collation strings because the **s

[2021-12-30 12:56] tangenta commented on #31174
The reproduce conditions:
1. The `LIKE` operator is used.
1. Pattern match syntax `%` is used.
1. The column type is non-binary collation string.
1. A boundary char of 2 ranges like "`" is used.

@aytrack Since this is a corner case bug, I prefer not to tag it with "severity/critical".

[2021-12-30 13:33] gozssky opened #31194 "lightning: support base64 encoding of password"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Let tidb-lightning supports base64 encoding of password.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-12-30 13:35] #30690 closed

[2021-12-30 13:40] gozssky commented on #31194
/assign @gozssky
/cc @sunzhaoyang

[2021-12-30 13:58] aytrack commented on #31174
degree to major since the 4th condition is a corner case.

[2021-12-30 14:29] #29588 closed

[2021-12-30 14:46] tangenta commented on #30740
They are not the same root cause.

[2021-12-30 15:34] #29891 closed

[2021-12-30 16:07] #31125 closed

[2021-12-30 16:27] #29344 closed

[2021-12-30 18:03] kassah commented on #18207
The above blog page has been removed. This is a link to the relevant documentation: https://dev.mysql.com/doc/refman/8.0/en/innodb-locking-reads.html#idm45429418133392

[2021-12-30 20:37] Alkaagr81 opened #31200 "In information schema column table ORDINAL_POSITION is different"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-30 21:57] gregwebs opened #31201 "security enhanced mode requires initialization and then restart"
## Enhancement

Make it possible to use SEM without restarting TiDB when bringing up a new TiDB cluster.

### Problem

RESTRICTED_* permissions cannot be set by a user with `SUPER` or `ALL PRIVILEGES`.
Once `security.enable-sem = true` is set on a TiDB instance, it is not possible to grant `RESTRICTED_*`, even on a separate tidb instance with `security.enable-sem = false` and/or `skip-grant-table

[2021-12-31 01:42] time-and-fate opened #31202 "`Can't find a proper physical plan for this query` when hint using primary index and tiflash replica exists"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[code]

### 2. What did you expect to see? (Required)

Generate a correct plan.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
master

[2021-12-31 02:00] longfangsong opened #31203 "txn: Unexpected transaction behavior when tidb connection got killed."
## Bug Report

### 1. Minimal reproduce step & What did you expect to see? & What did you see instead?

[code]

[code]

[code]

[code]

Then either mysql client 1 or mysql client 2 should be blocked, but occationally, neither of them did.

And in that situation, if you try to commit both of them, txn in mysql client 1 will commit successfully, txn in mysql client 2 will report `PessimisticLockNotF

[2021-12-31 02:00] longfangsong commented on #31203
/assign

[2021-12-31 02:02] aioas commented on #24515
When will LOAD DATA LOCAL INFILE ... REPLACE INTO be supported? This is very important to us!!!

[2021-12-31 02:52] xuyifangreeneyes opened #31205 "Make tidb_enable_column_tracking off by default"

[2021-12-31 03:07] #30890 closed

[2021-12-31 04:25] zhongzc opened #31211 "topsql: deprecate single target mode"
## Enhancement

TiDB depending on a diag node is anti-patten. We have introduced pub/sub mode to provide resource metering data, so the single target can be deprecated.

[2021-12-31 04:25] zimulala opened #31212 "The Location in the DDL job is empty after decoding."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Because the `Job.Location` object's fields are all lowercase, there are no useful fields after json decoding.
[code]
### 2. What did you expect to see? (Required)

Hopefully, it has data in`newJob.ReorgMeta.Location`.

### 3. What did you see instead (Required)

No data.

#

[2021-12-31 05:25] #31011 closed

[2021-12-31 05:45] #31205 closed

[2021-12-31 05:47] vivid392845427 commented on #28011
duplicate with [24159](https://github.com/pingcap/tidb/issues/24195)

[2021-12-31 05:47] vivid392845427 commented on #30823
duplicate with [24159](https://github.com/pingcap/tidb/issues/24195)

[2021-12-31 05:53] guo-shaoge opened #31216 "Wrong result because of wrong table scan range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists tbl_2;
    create table tbl_2 ( col_20 bigint not null , col_21 smallint not null , col_22 decimal(24,10) default null , col_23 tinyint default 71 not null , col_24 bigint not null , col_25 tinyint default 18 , col_26 varchar(330) collate utf8_bin n

[2021-12-31 05:55] guo-shaoge commented on #31216
Looks like the range of `TableRangeScan_5` is wrong. It didn't consider the the range of `tbl_2.col_27 > 'nSWYrpTH'`, which makes the output number of `TableRangeScan_5` is 0(should be 1).

    mysql> explain select col_25 from tbl_2 where ( tbl_2.col_27 > 'nSWYrpTH' or not( tbl_2.col_27 between 'CsWIuxlSjU' and 'SfwoyjUEzgg' ) ) and ( tbl_2.col_23 <= -95);
    +----------------------------+------

[2021-12-31 06:32] zhangzhao0827 opened #31217 "TIDB v3.1.1 update configuration failed"
## Ask a Question
Please answer these questions before submitting your issue. Thanks!
### TIDB v3.1.1 update configuration failed
Failed to execute  `ansible-playbook rolling_update.yml --tags=pd,tikv`
error message：
`playbook: rolling_update.yml; TASK: check_config_tikv : Create configuration file; message: {"changed": false, "msg": "AttributeError: `
![image](https://user-images.githubuserconten

[2021-12-31 06:37] #20510 closed

[2021-12-31 06:40] LemonHX opened #31218 "update pd client version to adopt global config"
## Enhancement

[2021-12-31 06:57] #30583 closed

[2021-12-31 07:08] zimulala opened #31220 "testStatsSuite.TestLogDetailedInfo is unstable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/28486/pipeline
[code]

[2021-12-31 07:15] #30798 closed

[2021-12-31 07:26] zimulala opened #31221 "gbk default collation to gbk_bin if new collation is not enabled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

"enable-new-charset" is true.
`SHOW CHARACTER SET WHERE CHARSET = 'gbk';`

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

Release Version: v5.4.0-alpha-571-g7f8509169
Edit

[2021-12-31 07:29] winoros commented on #31216
You should forget to open new collation by setting `new_collations_enabled_on_first_bootstrap` in the config to`true`.

[2021-12-31 07:33] glkappe opened #31222 "It is recommended that lightning convert the bool type of parquet to 0/1"
lightning v5.3.0

After the content in parquet may be written by spark, the definition of bool is true or false. Regenerating the parquet file takes time, In tidb, bool behaves as tinyint, so proper type conversion will help improve the success rate of lightning import

parquet file：
![image](https://user-images.githubusercontent.com/21033020/147809823-214dcb34-0e10-4566-aa75-2109c0525144.png)

er

[2021-12-31 07:50] glkappe opened #31224 "lightning ignore-data-column should be placed after parser"
lightning v5.3.0

import file type is parquet.10 columns in parquet. 11 columns in tidb table and all columns has default value.

 i know have a error-format column in parquet and i want ignore it.so i use mydumper.ignore-data-columns configuration

but i got a error `parquet.parser error`:
![image](https://user-images.githubusercontent.com/21033020/147810634-0c0a4887-dbd4-4947-a383-b3be1d7d44bf.p

[2021-12-31 07:54] #31220 closed

[2021-12-31 08:07] Xuanwo commented on #30822
Let's make CI great again! I'm interested to fix some unit tests. Any advice for me to pick up one?

[2021-12-31 08:09] dveeden commented on #24515
@aioas How are you using or planning to use `LOAD DATA LOCAL INFILE ... REPLACE INTO`? any specific usecase? With MySQL Shell dump and load or something else?  Information like this can help with prioritization and also to make sure we fully cover that usecase.

[2021-12-31 08:13] tangenta commented on #30798
No affecting version because it is a developing feature.

[2021-12-31 08:17] #29813 closed

[2021-12-31 08:39] seiya-annie opened #31227 "reload tidb fail in nightly(1231) version"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. install v5.0.5 tidb cluster
2. upgrade to nightly(nightly -> v5.4.0-nightly-20211231 )
3. edit-config : add security.auto-tls: true
4. reload -R tidb

### 2. What did you expect to see? (Required)
reload tidb success

### 3. What did you see instead (Required)
reload tid

[2021-12-31 08:43] zimulala opened #31228 "The columns displayed in the query result are inconsistent with those in MySQL when names is gbk"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-31 08:46] guo-shaoge opened #31229 "DataRace in IndexMergeReaderExec"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    cd $working_dir/tidb/planner/core && go test . -run TestT -check.f testIntegrationSuite.TestIndexMergeWithCorrelatedColumns -race -count 100
### 2. What did you expect to see? (Required)
runs ok.

### 3. What did you see instead (Required)

    ==================
    WA

[2021-12-31 08:47] seiya-annie commented on #31227
change "performance.feedback-probability" to 0.0 still report this error
    performance.feedback-probability: 0.0

[2021-12-31 08:52] 7yyo commented on #31149
/assign

[2021-12-31 08:59] tiancaiamao commented on #30822
Of course! You can try, for example, `make ut X='run statistics/handle` and fix the failed testcases, or
`make ut X='run executor`

You can file a issue and a PR, just link to here, feel free! @Xuanwo

After all the test cases are done, and some other problem solved, we'll use it to replace the default pipeline script, at that time the CI should be more stable.

[2021-12-31 09:01] wjhuang2016 opened #31232 "refine some decode function"
## Enhancement
We can refine some decode functions.
1. We don't need to check NeedRestoredData, which depends on global variables `NewCollationEnabled`.
2. We should follow the `column, handle, default value, null` decode logic, but some decode function doesn't follow it.
3. GetOldrow function is too complex.

[2021-12-31 09:14] time-and-fate opened #31233 "Make TiDB able to use index join when join key types mismatch"
## Enhancement
[code]
For all SQLs like `select * from t left join t1 on t.a=t1.c`, `select * from t left join t1 on t.b=t1.a`, MySQL can use nested loop join and make use of indexes of t1.
But TiDB can't use index join for some of them because of type mismatch. TiDB can only use index join when the inner side is a `DataSource` and join keys don't need typecast. In this case, there will be a `cast

[2021-12-31 09:41] #31229 closed

[2021-12-31 09:41] #29856 closed

[2021-12-31 10:18] hawkingrei opened #31236 "DATA RACE in the ```parser/charset```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make race

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-31 10:22] tiancaiamao commented on #31227
The tidb.toml config file is incorrect.
It use

[code]

Should be:

[code]

[2021-12-31 10:24] tiancaiamao commented on #31227
If this is in formal release version yet, I suggest using

[code]

I can't understand why it's using float64 for `MB`

[2021-12-31 10:27] #31063 closed

[2021-12-31 10:43] seiya-annie commented on #31227
checked in deploy and after edit-config, found that config  changed by test framework.

[2021-12-31 10:49] hawkingrei opened #31237 "DATA RACE in the ```statistics/handle```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2021-12-31 11:01] #27573 closed

[2021-12-31 12:35] time-and-fate opened #31240 "`tidb_isolation_read_engines` affects exhausting physical plans"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

In fact, you can use `/*+ nth_plan() */` hint to enumerate the possible physical plans generated by default. You will find that it will not generate pushed-dow

[2021-12-31 12:53] jetora commented on #24515
For example, in a scenario, I use load data to import 10,000 pieces of data into TiDB, but it fails when the 1000th item is imported. In order to ensure the consistency of the data, I need to import these 10,000 pieces of data from the beginning. I don’t want to delete the imported data through programs or manually. At this time, I need to use load data...replace... to ensure the correctness of th

[2021-12-31 16:22] hawkingrei opened #31243 "DATA RACE in the ```util/topsql_test```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make race

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2021-12-31 16:36] hawkingrei opened #31245 "DATA RACE in the TestGetCPUProfile"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2022-01-01 02:21] tiancaiamao commented on #24428
The data race **might be** a possible reason... concurrent write breaks unistore and make it hang https://github.com/pingcap/tidb/issues/26832

[2022-01-01 02:26] tiancaiamao commented on #31184
No, I mean this issue is for cached table...
Although temporary table and cached table share  the same problem, if we need two PRs to fix them seperately, two issues is required.

If there is one PR to fix them both, it's OK to mark the issue as duplicated.

[2022-01-01 07:42] dwangxxx commented on #22356
It means that we just need to update `LockResolverCountWithExpired` when the transaction is really expired (`ttl==0` and `commmitTS == 0)`? If `commitTS > 0`, it means the transaction is committed, we should not update `LockResolverCountWithExpired`. Do I understand this correctly?

[2022-01-01 07:53] #31052 closed

[2022-01-01 08:13] #29485 closed

[2022-01-01 12:51] #30609 closed

[2022-01-02 02:54] GatorMao commented on #29111
I could try to help this one out.

[2022-01-02 04:19] tisonkun commented on #29111
/assign @GatorMao

Go ahead!

[2022-01-02 05:08] lakevilladom commented on #24038
Bug still exist