[2020-09-21 14:45] TszKitLo40 commented on #17832
/pick-up

[2020-09-21 15:17] pengdaqian2020 commented on #20067
/pick-up

[2020-09-21 17:09] donbowman opened #20133 "Wordpress 5.5.1 incompatible query with SQL_CALC_FOUND_ROWS DISTINCT"
## Bug Report

In wordpress 5.5.1, this query is emitted:
`SELECT SQL_CALC_FOUND_ROWS DISTINCT posts.ID FROM posts  WHERE 1=1  AND posts.post_type = 'post' AND ((posts.post_status = 'future'))  ORDER BY posts.post_date DESC LIMIT 0, 10;`

This causes a syntax error, it works in mysql:

[code]

I have looked at https://docs.pingcap.com/tidb/v2.1/sql-statement-select/ which says:
[code]
but it may n

[2020-09-21 17:36] nullnotnil commented on #20133
Here is a minimal testcase against master:

[code]

Note that `SQL_CALC_FOUND_ROWS` is not supported by TiDB, and since https://github.com/pingcap/tidb/pull/19506 will produce an error by default. This feature is also deprecated in MySQL, but still works. Here is the output from MySQL 8.0.21:

[code]

[2020-09-21 17:51] nullnotnil commented on #20133
Interestingly, TiDB will accept the DISTINCT / SQL_CALC_FOUND_ROWS in the other order:
[code]

[2020-09-21 17:58] pingyu commented on #14428
/pick-up Limit

[2020-09-22 02:27] scsldb commented on #19902
The availability of three copies is already high, and it may be more important to backup the system table regularly than to grow the replica count.

[2020-09-22 02:29] SE-Bin opened #20136 "The JSON Data can not import to TiDB correctly by `load data`"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

While using the `load data` statement to load the CSV file inculd JSON, it can not import the data to TiDB correctly. Just like the file following.
[code]

### 2. What did you expect to see? (Required)
Just like MySQL can load data correctly.
[code]
### 3. Wh

[2020-09-22 02:29] William0423 commented on #19737
/pick-up

[2020-09-22 02:34] scsldb commented on #19782
There are compatibility issues and it is easy to make mistakes, it is recommended to consult others.

[2020-09-22 02:42] #19738 closed

[2020-09-22 02:43] scsldb commented on #19604
If we are using weight, it needs to be explained to the user, and we recommend referring to MySQL and Oracle, where it is called event.

[2020-09-22 02:50] nullnotnil commented on #19604
I have updated the title, since this is really `statements_summary` not `performance_schema.events_statements_summary_by_digest`.

See https://github.com/pingcap/tidb/issues/15348 for background context; the new plan is not to follow performance schema (which I think is better than following and breaking in subtle ways).

[2020-09-22 02:54] nullnotnil commented on #20136
Verified as described against master:
[code]

[2020-09-22 03:05] nullnotnil commented on #20125
I tested this out, since `pt-show-grants` is quite a simple program. I found one error when trying to restore a user with an empty password:

[code]

It seems like an easy fix. There are warnings when restoring a user with a password, but I think they can be ignored:
[code]

[2020-09-22 03:07] nullnotnil commented on #9141
I have updated the proposed variable to `tidb_enable_XX` to match an established convention of sysvars.

[2020-09-22 03:27] qw4990 opened #20137 "unexpected results returned by `IndexMergeJoin`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[2020-09-22 03:31] tiancaiamao commented on #14158
/info

[2020-09-22 03:49] 5kbpers commented on #16893
Sorry for the so late reply.😥 @SunRunAway @zz-jason @nullnotnil

They are not exactly the same.
Sometimes we only want to use replica read on a part of tables or queries, we need some way to specify them explicitly.

Surely this can address the requirement of table-level, but I think we also need a hint to support query-level.

Sounds great for the history read, but what about the realtime read wh

[2020-09-22 03:58] tiancaiamao opened #20139 "constant propagate is not done before range partition pruning"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

c = 1 and id = c, that means id = 1, so partition pruning result should be only p0

### 3. What did you see instead (Required)

partition pruning does not work well in this case.

### 4. What is y

[2020-09-22 06:02] SunRunAway commented on #20124
Duplicate of #18910

[2020-09-22 06:02] LENSHOOD commented on #15185
/pick-up

[2020-09-22 06:22] qw4990 opened #20141 "support showing historical and cluster-level statistics collection tasks executed by TiDB"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now TiDB supports the `show analyze status` statement to shows the statistics collection tasks being executed by TiDB, but it has two limitations:
1. it only shows tasks executed by the connected TiDB instance, so if the instance is not the statistics leader, it show nothing;
2. this information is stored in me

[2020-09-22 06:26] qw4990 commented on #20141
What're your opinions about this feature/enhancement? @SunRunAway @zz-jason

[2020-09-22 06:27] ChenPeng2013 opened #20143 "can not join if join value is negative"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql 8.0.21
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-09-22 06:31] Yisaer opened #20144 "ci: data race detacted in TestIssue18070"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

see detailed in https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/52804/nodes/78/steps/341/log/?start=0

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What i

[2020-09-22 06:49] #19617 closed

[2020-09-22 06:58] #20109 closed

[2020-09-22 07:05] Yisaer commented on #20144
fix in https://github.com/pingcap/tidb/pull/20142/files

[2020-09-22 07:05] #20144 closed

[2020-09-22 07:11] #20137 closed

[2020-09-22 07:40] ChenPeng2013 commented on #20121
[code]

[2020-09-22 08:00] zhangysh1995 commented on #15234
/pick-up

[2020-09-22 08:05] #16548 closed

[2020-09-22 11:17] #19904 closed

[2020-09-22 11:30] #11329 closed

[2020-09-22 13:00] sre-bot opened #20156 "DATA_RACE:github.com/pingcap/tidb/config.SetRedactLog() failed"
DATA_RACE:github.com/pingcap/tidb/config.SetRedactLog()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52779/display/redirect

[2020-09-22 13:01] sre-bot opened #20157 "DATA_RACE:github.com/pingcap/tidb/executor_test.(*testSuiteJoinSerial).TestIssue18070() failed"
DATA_RACE:github.com/pingcap/tidb/executor_test.(*testSuiteJoinSerial).TestIssue18070()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52804/display/redirect

[2020-09-22 13:49] xiaodong-ji commented on #20066
/pick-up

[2020-09-22 14:29] nullnotnil commented on #16893
https://github.com/pingcap/tidb/issues/18672 supports this use-case:

[code]

The `old_table` will have a different `SYSTEM TIME` to `new_table`.

That is the implicit default to provide ACID guarantees. I prefer the behavior that replicas are used automatically if the requested timestamp is far enough in the past that it's known to be correct for that timestamp.

[2020-09-22 14:33] superlzs0476 commented on #19643
The other user of AskTUG feedback the same feature request, I think users' habits remove the older log and create a new log of the same name, so `FLUSH LOG` is a very useful feature. I wish it's release as fast as. https://asktug.com/t/topic/37411/4

[2020-09-22 16:42] 9547 commented on #19912
/pick-up

[2020-09-22 16:42] 9547 commented on #19892
/pick-up

[2020-09-23 03:15] zz-jason commented on #20141
This feature request LGTM.

[2020-09-23 03:22] qxhy123 commented on #18693
/give-up

[2020-09-23 03:42] Reminiscent commented on #18693
/pick-up

[2020-09-23 03:43] lysu commented on #20068
it's not a bug,  just as create table's warning info, the current range partition could not support ranged by multi-columns and treat it as a normal table(just as show create table said), so it seems "can insert out of range"

[code]

current maybe we should support multi columns range in right time because many users maybe need it

cc @tiancaiamao @imtbkcat @zz-jason @scsldb @morgo  do we need su

[2020-09-23 03:46] elvizlai opened #20161 "json_search result different from mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

the two blank is somewhat EMPTY

### 4. What is your TiDB version? (Required)

v4.0.6

[2020-09-23 03:51] tiancaiamao commented on #19677
https://github.com/pingcap/tidb/pull/19828 CI failed
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/52268/pipeline

[code]

From the failure information, this test case get an empty result, that means when the mem quota exceeds,
TiDB may return empty results without error? If so, this is a critical bug.

[2020-09-23 03:51] nullnotnil commented on #20068
Even though it caused some confusion, I like that this is a warning, instead of an error :-) It could be important for compatibility with restoring logical backups.

To answer your question though, I am not sure about the relative priority of multi-column range. I think we can leave it as `priority/awaiting-more-evidence` until a user reports it as an issue, and has a compelling use-case?

[2020-09-23 04:20] lance6716 opened #20163 "could create more indexes on a single table than doc"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

doc: https://docs.pingcap.com/tidb/stable/tidb-limitations#limitations-on-a-single-table

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

no error

### 4. What is your TiDB version? (Required)

[code]

[2020-09-23 05:04] lance6716 commented on #20163
also, there's no partitions limit

[2020-09-23 06:09] 5kbpers commented on #16893
@nullnotnil Cool, that would be great if we could use replica read automatically.

[2020-09-23 06:30] kennytm opened #20165 "Provide a way to export the (non-cached) SEQUENCE state via SQL for backup and restore"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In TiDB a sequence's (non-cached) state is determined by the sequence value (`SID`) and cycle count (`SequenceCycle`). While the SID can be retrieved using the `SHOW TABLE NEXT_ROW_ID` query:

[code]

the SequenceCycle can only be retrieved via internal API (the `meta` package), which is not possible via the SQ

[2020-09-23 06:49] wshwsh12 commented on #20071
/assign @wshwsh12

[2020-09-23 06:56] #19913 closed

[2020-09-23 07:07] XuHuaiyu commented on #18350
We may rewrite the SQL into
[code]

[2020-09-23 07:27] tangwz commented on #15827
/assign

[2020-09-23 07:27] tangwz commented on #16407
/assign

[2020-09-23 07:32] tiancaiamao commented on #18325
Upon creating those partition tables, there are so many statistics data to be updated.
The default load stats lease is 3s, so every 3s `handle.Update()` is called.
At the first few iterations, `handle.Update()` takes a long time, maybe much more than a minute.
Every 3s TiDB needs to perform an operation, and the operation takes more than 3s to finish, the result is TiDB continuously does it again

[2020-09-23 07:32] #18325 closed

[2020-09-23 07:48] ChenPeng2013 opened #20168 "enum value convert to float failed"
## Development Task

Fix bug:

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master 462927bf31f456b23625fc2b43417cd99a660508 and release-4.0 476c992eb10d5105ab60151051898bc52a942b77

Please comment on this issue if you are interested in.

## SIG s

[2020-09-23 07:52] #18792 closed

[2020-09-23 08:01] ChenPeng2013 commented on #20168
### set value convert to float failed
[code]

### expect
[code]
### got
[code]

[2020-09-23 08:03] Yisaer opened #20171 "test: TestCoprocessorOOMAction unstable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/52307/pipeline/

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-09-23 08:03] Yisaer commented on #20171
/assign

[2020-09-23 09:27] xiaodong-ji commented on #20066
/give-up

[2020-09-23 09:37] XuHuaiyu commented on #20168
/pick-up

[2020-09-23 09:38] XuHuaiyu commented on #20168
/give-up

[2020-09-23 09:44] zz-jason opened #20177 "support sql_safe_updates variable"
## Feature Request

**Is your feature request related to a problem? Please describe:**

preventing updating or deleting the whole table by accident

**Describe the feature you'd like:**

Like MySQL [sql_safe_updates](https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_sql_safe_updates):

**Describe alternatives you've considered:**

N/A

**Teachability, Documentation, Adopt

[2020-09-23 09:56] ChenPeng2013 opened #20180 "join return wrong result when using two equal condition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master 462927b and release-4.0 476c992

[2020-09-23 10:37] aylei opened #20181 "TiDB panics when calling RegionStore.accessStore"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
I'm not able to reproduce this issue.

### 2. What did you expect to see? (Required)
TiDB runs normally

### 3. What did you see instead (Required)
TiDB panics when calling RegionStore.accessStore
[code]

### 4. What is your TiDB version? (Required)
`v4.0.6`

[2020-09-23 12:00] TszKitLo40 commented on #9384
/pick-up

[2020-09-23 12:15] cfzjywxk opened #20183 "enhance the long-run test cases"
## Development Task

[tipocket](https://github.com/pingcap/tipocket) is a testing toolkit, it will use [chaos-mesh](https://github.com/pingcap/chaos-mesh)  to inject all-round kinds of nemesis on a TiDB cluster. We could add more long-run test cases based on `tipocket`, keep running these cases while injecting all kinds of nemsis and check if the TiDB cluster **works fine** and the **invariants**

[2020-09-23 12:35] jyz0309 commented on #19512
/pick

[2020-09-23 12:36] jyz0309 commented on #19512
/pick-up

[2020-09-23 12:57] #19512 closed

[2020-09-23 12:58] lysu commented on #20181
@aylei does this cluster has TiFlash node or using the follow-read feature?

[2020-09-23 13:00] sre-bot opened #20188 "executor_test.go:testSerialSuite.TestCoprocessorOOMAction failed"
executor_test.go:testSerialSuite.TestCoprocessorOOMAction

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52916/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/52289/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52906/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tid

[2020-09-23 13:01] sre-bot opened #20189 "executor_test.go:testSerialSuite.TestOOMPanicAction failed"
executor_test.go:testSerialSuite.TestOOMPanicAction

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/52902/display/redirect

[2020-09-23 13:12] aylei commented on #20181
[tidb.log.tar.gz](https://github.com/pingcap/tidb/files/5268325/tidb.log.tar.gz)
[pd2.log.tar.gz](https://github.com/pingcap/tidb/files/5268326/pd2.log.tar.gz)
[pd1.log.tar.gz](https://github.com/pingcap/tidb/files/5268327/pd1.log.tar.gz)
[pd0.log.tar.gz](https://github.com/pingcap/tidb/files/5268328/pd0.log.tar.gz)

[2020-09-23 15:00] xiaodong-ji commented on #10505
/pick-up

[2020-09-24 02:11] tiancaiamao commented on #19677
Again in https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/52351/pipeline

[2020-09-24 03:14] windtalker opened #20192 "Field type in DAG request not set collectly."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
when query from TiFlash, it returns the right answer instead of throw error

### 3. What did you see instead (Required)
mysql> select sum(value), id from test_gb;
ERROR 1105 (HY000): other error: Cannot convert NULL valu

[2020-09-24 03:48] lzmhhh123 commented on #18028
I have test continuous delete with coprocessor cache or without coprocessor cache.

The environment is:
- 3 TiDB, 3 PD, 3 TiKV, 3 TiFlash
- version is v4.0.6
- use tpch factor 10, lineitem table

The script is:
[code]

By monitor of Grafanaz, the result is:

* TiDB with coprocessor cache:
![image](https://user-images.githubusercontent.com/26040259/94098192-aeb79500-fe5a-11ea-99e6-f84e6f7af228.png)

[2020-09-24 03:52] lzmhhh123 commented on #18028
For now, we could turn on the copr-cache to solve the problem by temp. If we need some improvement in the future. I will open the issue again.

[2020-09-24 03:52] #18028 closed

[2020-09-24 04:34] wjhuang2016 commented on #13959
Close because it's all fixed.

[2020-09-24 04:48] jyz0309 commented on #20025
/pick-up

[2020-09-24 04:48] jyz0309 commented on #17938
/pick-up

[2020-09-24 05:58] tiancaiamao commented on #20171
Duplicated by https://github.com/pingcap/tidb/issues/19677

[2020-09-24 05:58] #20171 closed

[2020-09-24 06:02] XuHuaiyu commented on #20180
PTAL @wshwsh12

[2020-09-24 06:06] XuHuaiyu commented on #20143
PTAL @wshwsh12

[2020-09-24 06:16] XuHuaiyu commented on #20189
The log shows that the failed test func is `TestMergeJoinInDisk`:
[code]

PTAL @ichn-hu

[2020-09-24 06:17] zz-jason commented on #18028
@lzmhhh123 could you sumarize the time to delete all the data in the table with or without coprocessor cache?

[2020-09-24 06:18] zz-jason commented on #18028
What's the coprocessor cache hit ratio when the coprocessor cache is enabled?

[2020-09-24 06:21] xiaodong-ji commented on #20168
/pick-up

[2020-09-24 06:22] rebelice commented on #17807
/label component/parser, component/expression

[2020-09-24 06:33] lzmhhh123 commented on #18028
I only delete 20M rows data. The number of total rows is 60M. For turning on coprocessor cache, it cost about 6 minutes. For turning off coprocessor cache, it cost 9 min to delete 9M rows and then got an error `TiKV server timeout`.

There is not an accurate value now. However, it may exceed 90% I guess.

here is the memory usage:
![image](https://user-images.githubusercontent.com/26040259/9410866

[2020-09-24 06:35] rebelice commented on #17807
### Bug
Note: Make Sure that 'component', and 'severity' labels are added
#### 1. Root Cause Analysis (RCA)
The processing logic of DEFAULT function is incorrect
#### 2. Symptom
Cannot parse the DEFAULT function correctly
#### 3. All Trigger Conditions
1. The column in DEFAULT function is not in select field when DEFAULT function in ORDER BY.
2. The column in DEFAULT function appeared in select fi

[2020-09-24 06:36] yiding-he opened #20195 "Unknown character set: 'utf8mb4'"
## Bug Report

Error when executing SQL file with `mysql` command.

### Error Message

[code]

### SQL file:

[error-dump.zip](https://github.com/pingcap/tidb/files/5273899/error-dump.zip)

### TiDB version:

[code]

Same error when trying with other database client:

![dbeaver_9xhAa0Pcxo](https://user-images.githubusercontent.com/900606/94109062-06fa9100-fe73-11ea-8f5a-52b0c6813176.png)

[2020-09-24 07:16] ichn-hu commented on #20189
/assign @ichn-hu

[2020-09-24 08:04] ichn-hu commented on #19572
/unlabel type/bug

[2020-09-24 08:45] SunRunAway commented on #18299
@lzmhhh123 PTAL

[2020-09-24 08:54] zz-jason commented on #18028
Could you add more tests to help users know more about the deletion speed on different data sizes and the batch size for each delete transaction?

1. For different records, how about testing 1, 10, and 100 million records?
2. For the best batch size (`N` in `limit N`), how about testing 1000, 10000, 100000, and other batch sizes to find which is best?

Finally, we can add a new [best practice](htt

[2020-09-24 09:27] lzmhhh123 commented on #18028
@zz-jason Metrics is added, PR is under review. For [best practice](https://docs.pingcap.com/tidb/stable/tidb-best-practices), I will do more experiments and publish an essay for it.

[2020-09-24 09:54] yufan022 commented on #16276
/pick-up

[2020-09-24 10:08] AilinKid opened #20201 "ddl: create table occurs unamed index without column."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
`  KEY `` ()` shouldn't be occured

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
master

[2020-09-24 13:00] lysu commented on #20181
this question is introduced after https://github.com/pingcap/tidb/pull/17337, after it, TiDB will filter unavailable peers after load region from PD and insert the new region with filtered peers into region cache.

but the `DownPeers` changed didn't take effect on the region's Epoch, (kv collect down_peers before heartbeat PD, as the peer long time didn't send a heartbeat, https://github.com/tikv/

[2020-09-24 14:00] #20100 closed

[2020-09-24 16:07] SunRunAway opened #20207 "Different error code from MySQL when inserting incorrect time value"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

Both MySQL 5.7 and MySQL 8.0 produces error code 1292
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master (6a10e2129)

## SIG slack channel

 [#

[2020-09-24 16:08] wjhuang2016 commented on #20195
@yiding-he Hi, could you provide the tidb log?

[2020-09-24 16:17] nullnotnil commented on #9381
@lysu do you mind if I take this over?

[2020-09-24 16:17] wjhuang2016 commented on #20195
And the result of:
`select @@collation_database;` and
`show create database {used database}`

[2020-09-24 22:52] yiwu-arbug commented on #18262
No much progress this week, but the second PR (2/4) is closed to merge.

[2020-09-25 00:55] yiding-he commented on #20195
@wjhuang2016

SQL result:
[code]

Partial TiDB log:

[code]

[2020-09-25 02:02] YangKian commented on #19934
/pick-up

[2020-09-25 03:17] wjhuang2016 commented on #20195
@yiding-he
Please check the result of `select @@collation_connection` and make sure it's charset is utf8mb4.

[2020-09-25 03:48] yiding-he commented on #20195
Thanks! No error occurs after changing line 10 `/*!50503 SET NAMES utf8 */;` to `/*!50503 SET NAMES utf8mb4 */;`

[2020-09-25 03:48] #20195 closed

[2020-09-25 04:46] Yisaer commented on #20171
/label type/duplicate

[2020-09-25 04:47] Yisaer commented on #20144
/label type/duplicate

[2020-09-25 04:52] #20181 closed

[2020-09-25 04:55] wjhuang2016 opened #20209 "charset and collation for view is not handle properly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2020-09-25 05:18] MyonKeminta opened #20211 "pessimistic_test.go:testPessimisticSuite.TestPointGetKeyLock failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run CI

### 2. What did you expect to see? (Required)

CI Passes

### 3. What did you see instead (Required)

TestPointGetKeyLock failed:

[code]

### 4. What is your TiDB version? (Required)

master

[2020-09-25 06:00] lysu commented on #9381
:D surely maybe after finish https://github.com/pingcap/tidb/pull/18717 then maybe have to do this

[2020-09-25 06:35] #20201 closed

[2020-09-25 06:39] AilinKid opened #20213 "ddl: job state is changed while the tableInfo hasn't been store into the KV"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

In some extreme cases, for example, update table info and schema version will cause failure, consequently, you will find that the job state is changed into the next one while the corresponding table into hasn't been store into KV.

You can find the failpoint `mockUpdateVers

[2020-09-25 07:06] qw4990 opened #20215 "validate the statistical information periodically and when modifying it"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now we have met several cases caused by damaged statistical information.
Many reasons may cause this problem, bugs in TiDB and other systems, invalid operations processed by users...

**Describe the feature you'd like:**

It's better to let TiDB validate the statistical information periodically and when modifyi

[2020-09-25 07:07] qw4990 commented on #20215
What're your opinions? @zz-jason @eurekaka @winoros @SunRunAway

[2020-09-25 07:57] #17767 closed

[2020-09-25 08:55] aytrack opened #20217 "create table with invalid `double(50)` data type should raise a syntax error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
raise a syntax error.
### 3. What did you see instead (Required)
execute successfully.
[code]
### 4. What is your TiDB version? (Required)
[code]

[2020-09-25 09:33] ChenPeng2013 opened #20219 "Lost connection to MySQL server during query"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

use test;
source [test.txt](https://github.com/pingcap/tidb/files/5281854/test.txt);
SELECT /*+ inl_hash_join(t1) */ t1.pk, t2.pk from table_290_utf8_undef t1 right join table_290_utf8_undef t2 on t1. `col_char20_key_signed` = t2. `col_set_key_signed` and t1. `col_bool_key_

[2020-09-25 09:40] Win-Man commented on #20066
/pick-up

[2020-09-25 10:08] CodingBen commented on #19386
For owner:
 First check the job  is the parent, if it is, it will only do following three things:
(only the owner can execute the parent job)
1. It will get all the subTasks from the subTaskQueue, then check the ‘runner’ status
which represents the TIDB instance that is executing the subTask,
(if it’s down, update the runner to nil and set status to unclaimed)
2. Check the subTask’s status one by

[2020-09-25 10:19] #19194 closed

[2020-09-25 10:32] CodingBen commented on #19386
/pick-up

[2020-09-25 10:37] zz-jason commented on #20215
once the stats is damaged, how to detect the endless loop and quit it?

[2020-09-25 11:21] wjhuang2016 opened #20223 "from_unixtime + union all returns truncated result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Refer to https://asktug.com/t/topic/37509

CREATE TABLE `t_a` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `type` tinyint(4) NOT NULL,
  `create_time` int(11) NOT NULL,
  PRIMARY KEY (`id`)
)

`select * from t_a`

    id    type  create_time
     1       1     16010

[2020-09-25 11:46] ermazi opened #20226 "how to config TiDB to prevent OOM when retrieve data from TiDB to Hive via Sqoop"
tidb必定oom，请问该如何调整

- version: tidb v4.0.5

[2020-09-25 13:00] sre-bot opened #20227 "placement_rule_test.go:testPlacementSuite.TestPlacementBuild failed"
placement_rule_test.go:testPlacementSuite.TestPlacementBuild

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/52706/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/52720/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/52738/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb

[2020-09-25 13:00] sre-bot opened #20228 "DATA_RACE:Read failed"
DATA_RACE:Read

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/53093/display/redirect

[2020-09-25 13:01] sre-bot opened #20229 "infoschema_reader_test.go:inspectionSuite.TearDownSuite failed"
infoschema_reader_test.go:inspectionSuite.TearDownSuite

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/53125/display/redirect

[2020-09-25 14:17] cyh19890727 commented on #20069
/pick-up

[2020-09-25 16:34] nullnotnil commented on #9381
I meant I would like to work on this if that is okay with you :)

I think it works best as multiple PRs:
1. Convert variables to using status var interface.
2. Refine the sysVar struct to hold min/max/validation (anonymous function), and move it out of ` ValidateSetSystemVar`: https://github.com/pingcap/tidb/blob/master/sessionctx/variable/varsutil.go#L326-L327
3. Add an `information_schema.variab

[2020-09-26 02:49] Lvnszn opened #20231 "[hptc sysbench-Oltp_Point_Select] Support point select from cache in tidb-side"
## Description

Point select is a simple query, but every point select will communicate with TiKV. We can cache the same result for next query and it will improve query speed. Refer issue：#17469

Here's a rough plan:
- When the DML owner only receives `SELECT`, DDL can lock table for keep data consistency then cache the first result for next query.
- If DML owner receives `UPDATE` or `DELETE`, rel

[2020-09-26 02:53] Lvnszn commented on #20231
cc @ohshout

[2020-09-26 14:22] JinLingChristopher commented on #20121
I have glanced over this problem. According to [mysql8.0's implementation](https://github.com/mysql/mysql-server/blob/8.0/sql/item_cmpfunc.cc#L1386), DateTime and Year types comparison should use the function `Arg_comparator::compare_datetime`, which should be [CompareTime in TiDB](https://github.com/pingcap/tidb/blob/master/expression/builtin_compare.go#L2566).

For now, CompareReal is called, th

[2020-09-26 17:09] JinLingChristopher commented on #20121
/assign

[2020-09-26 17:46] CodingBen commented on #19386
The status quo I recognize:
The earliest index addition logic is based on a single physical table, so the progress information of add index exists in such a triplet:
1.JobId-StartHandle (where the current job has been executed)
2.Jobid-EndHandle
3.Jobid-physical table ID
This design actually limits the processing relationship between add index ddl job and physical table at the same time in the sys

[2020-09-26 17:49] JinLingChristopher commented on #20121
this also happened to Date vs year, which need to be fixed together.

[2020-09-26 23:17] zimulala commented on #14911
It happened again
[code]
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/53221/pipeline

[2020-09-27 02:27] ou-bing commented on #14765
My development plan:

- [ ] add new constant  for parser: `ast.AlterDropIndexes` and `model.ActionDropIndexes`

- [ ] Add `func (d *ddl) DropIndexes(...){...}`

- [ ] Add `func onDropIndexes(t *meta.Meta, job *model.Job) (ver int64, _ error) {...}`

[2020-09-27 02:34] GMHDBJD opened #20234 "change tidb_enable_change_column_type to include global | session scope"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
after reconnect to TiDB
[code]

### 2. What did you expect to see? (Required)
tidb_enable_change_column_type effects for the current connection
### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2020-09-27 02:35] nullnotnil commented on #19941
This looks mostly fixed, with the exception of TiDB needing to access `{p2018, p2019}`. MySQL can prune this to just `p2018` - is there an off-by-one error in pruning?

[code]

[2020-09-27 02:57] seiya-annie commented on #20201
/info

[2020-09-27 03:11] qw4990 commented on #20215
We can check if all buckets' left bounds are larger than the previous bucket's right bound to avoid endless loop. @zz-jason

[2020-09-27 03:25] wjhuang2016 commented on #20195
Refer to https://github.com/pingcap/tidb/issues/20209

[2020-09-27 03:31] #20168 closed

[2020-09-27 03:43] crazycs520 opened #20236 "optimize query cluster_slow_query when there are many slow-log files."
## Description

[TiDB Dashboard slow query page](https://docs.pingcap.com/zh/tidb/stable/dashboard-slow-query) will use the below query to query slow queries:

[code]

When there are too many slow-log between `2020-09-24 15:23:41.421396` and `2020-09-25 17:57:35.047111`, such as 10G slow-log files, the upper query execution will be very slow.

The propose of this issue is want to speed up the quer

[2020-09-27 03:44] ChenPeng2013 opened #20237 "count(distinct) get wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

use test;
source [test.txt](https://github.com/pingcap/tidb/files/5287695/test.txt);
SELECT distinct t1. `col_date_key_signed`,t1. `col_float_key_signed` from table_400_utf8_undef t1, table_290_utf8_undef t2 where t1. `col_float_key_signed` = t2. `col_double_key_signed` and

[2020-09-27 03:57] lysu commented on #20181
/info

[2020-09-27 04:13] zz-jason opened #20239 "fill an estimated start time in `show analyze status`"
## Development Task

The `start_time` is `null` if the analyze jobs is `pending` to be executed in the current result of `show analyze status`, for example:

[code]

It's better to fill an estimated start time instead of just null to tell users when will this analyze task probably being executed.

[2020-09-27 04:32] wjhuang2016 commented on #19629
@ZenoTan
Yes, you can take a try.

[2020-09-27 04:36] wjhuang2016 commented on #16276
@yufan022
Hi, if you have any problem with this issue, we can discuss it in the DDL slack channel.

[2020-09-27 04:39] #20223 closed

[2020-09-27 05:31] zz-jason commented on #20215
Yes, but it requires to check every loop on the histogram buckets, am I correct? Could you describe more implementation detail on this issue, for example, does it need a dedicated goroutine to validate the correctness of the histogram, does it also need to validate the histogram in every `for` loop on the histogram?

[2020-09-27 05:33] zz-jason commented on #20239
It may be related to https://github.com/pingcap/tidb/issues/20141. They are both improvements to `show analyze status`. @qw4990 PTAL

[2020-09-27 05:52] you06 opened #20242 "Panic on insertRuntimeStat.String()"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/53018/pipeline

I believe the code changed by the PR can not lead to nil dereference.

### 1. Minimal reproduce step (Required)

/run-check_dev_2

### 2. What did you expect to see? (Required)

Test passed

[2020-09-27 05:58] #19932 closed

[2020-09-27 06:04] coocood opened #20243 "Optimize analyze for clustered index"
## Development Task

Currently analyze clustered index request two full table scan, one is for analyzing the primary key index, another one is for analyzing the columns in the row. This is due to easier to implement.

We need to avoid the extra full table scan by analyzing the primary key index and row columns at the same time.

[2020-09-27 06:21] XuHuaiyu commented on #20237
The result of StreamAgg is wrong, but HashAgg works fine.
[code]

[2020-09-27 06:31] zz-jason opened #20244 "control the concurrency of a certain statement"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There might be two types of SQL which consume too much calculation resources(like CPU, memory):

1. The SQL itself is resource-heavy, for example, consumes too much memory
2. The SQL itself is not resource-heavy, but concurrently executing plenty of them is resource-heavy

For the first scenario, we can kill or

[2020-09-27 06:34] zz-jason commented on #20244
a similar feature in AliSQL: https://help.aliyun.com/document_detail/129926.html?spm=a2c4g.11186623.6.597.3aa094bbBRfwTg (in Chinese)

[2020-09-27 06:42] qw4990 opened #20245 "Check if the query is killed when joining rows in `HashJoin`"
All issues are open and welcomed to contributors. You can join **#sig-exec** on [tidb community slack](https://pingcap.com/tidbslack/) to discuss and get help from someone.

## Description

Check if the query is killed in `HashJoinExec.join2Chunk` and `HashJoinExec.JoinMatchedProbeSideRow2Chunk`, who are the two main functions to join inner rows and outer rows.
Now we don't do this check, which ma

[2020-09-27 06:56] #19192 closed

[2020-09-27 08:08] you06 commented on #19887
@glorv This is caused by the invalid startTS input from BR, and it has been fixed. Besides, I found there still usage of `MaxInt64` in BR's test code, can you help review pingcap/br#526?

[2020-09-27 08:44] SunRunAway commented on #18319
Is it a duplicate of https://github.com/pingcap/tidb/issues/15759?

[2020-09-27 09:14] eurekaka commented on #18319
Yes.

[2020-09-27 09:14] #18319 closed

[2020-09-27 09:37] #16474 closed

[2020-09-27 10:06] #19039 closed

[2020-09-27 10:43] #19677 closed

[2020-09-27 10:57] #20067 closed

[2020-09-27 10:58] xiaodong-ji commented on #10505
/pick-up

[2020-09-27 11:04] pengdaqian2020 commented on #20065
the Syntax is
![image](https://user-images.githubusercontent.com/71140907/94363353-4683e000-00f4-11eb-8a25-89da7ef66bc2.png)
right ?

[2020-09-27 11:37] #19388 closed

[2020-09-27 12:07] rubb1sh commented on #20217
shoule double(59, 2) works?

[2020-09-27 12:08] crazycs520 commented on #20242
should be fix in https://github.com/pingcap/tidb/pull/20190

[2020-09-27 12:18] #20242 closed

[2020-09-27 12:38] Lvnszn commented on #20231
/pickup

[2020-09-27 12:44] #18233 closed

[2020-09-27 12:44] Lvnszn commented on #20231
/pick-up

[2020-09-27 13:26] zz-jason commented on #20090
This config item is used to forbid the Cartesian Product on two tables. It's better to keep it.

[2020-09-27 13:45] cfzjywxk opened #20254 "TiDB fails to compile for parition table query with count distinct case and case when expression"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

The result is returned as MySQL does
![image](https://user-images.githubusercontent.com/3692139/94366390-81910e00-010a-11eb-8411-90bd5f8780c7.png)

### 3. What did you see instead (Required)
[code]

The error st

[2020-09-27 14:23] breeswish opened #20255 "Adapt ScanDetailV2 in Coprocessor Response"
## Description

In https://github.com/pingcap/kvproto/pull/600 a new structure `ScanDetailV2` is introduced in TiKV Coprocessor response. The information contained is very useful for troubleshooting, so that it would be nice to be included in:

- EXPLAIN ANALYZE execution info (1000 points)
- Slow Query (500 points)
- Statements (500 points)

## Score

- 2000

## Mentor(s)

- @crazycs520

Contact

[2020-09-27 14:37] breeswish opened #20256 "Adapt ScanDetailV2 in KvGet and KvBatchGet Response"
## Description

After https://github.com/tikv/tikv/issues/8756 is implemented, we can do something similar to https://github.com/pingcap/tidb/issues/20255: The `ScanDetailV2` in the response in KvGet and KvBatchGet can be utilized and outputted in these places:

- EXPLAIN ANALYZE execution info
- Slow Query
- Statements

## Score

- 1000

## Mentor(s)

- @crazycs520
- @qw4990

Contact the mentors:

[2020-09-28 02:40] wshwsh12 commented on #20143
In mysql 8.0, the result of `c1=c2` is zero, so that the join result should be empty. I have created a bug report to MySQL https://bugs.mysql.com/bug.php?id=100967 and it has been verified.
[code]

[2020-09-28 02:59] xiaodong-ji commented on #10505
/pick-up

[2020-09-28 03:00] pengdaqian2020 commented on #14428
/pick-up

[2020-09-28 03:01] TszKitLo40 commented on #20245
/pick-up

[2020-09-28 03:01] lysu commented on #9381
:+1: Yes, it's ok for me~ :blush:

[2020-09-28 03:12] #20005 closed

[2020-09-28 03:27] ou-bing commented on #14765
/pick-up

[2020-09-28 03:29] SunRunAway commented on #20090
[code]
This case is reasonable to forbid.

---

[code]

IMO, this should not be forbidden from the user perspective, because it really has a join condition `t1.id = t2.id`.

[2020-09-28 03:29] qw4990 opened #20261 "show `CARTESIAN JOIN` inappropriately in some cases"
## Development Task
[code]
In the case above, it's not a cartesian join, but there is a `CARTESIAN` in the result.

[2020-09-28 03:45] eurekaka commented on #20090
Looks like MySQL does not have this `cross-join` option? do we have clear definition on the behavior under this option?

[2020-09-28 03:50] solotzg commented on #18079
TiFlash has supported joint consensus in https://github.com/pingcap/tics/pull/1122

[2020-09-28 04:14] ichn-hu commented on #20219
@ChenPeng2013 I was trying to reproduce this issue, however when I ran `source test.txt`, it says

[code]

On TiDB, but it works for MySQL.

Is this a bug or am I misconfiguring something?

[2020-09-28 04:30] bb7133 commented on #20217
Yes, but according to [MySQL manual](https://dev.mysql.com/doc/refman/8.0/en/floating-point-types.html), `DOUBLE(M,D)` will be deprecated in the future.

[2020-09-28 05:30] #19887 closed

[2020-09-28 05:31] you06 commented on #19887
Should fixed in br.

[2020-09-28 05:57] SunRunAway commented on #20090
Although the definition is not documented, it is well defined in [code](https://github.com/pingcap/tidb/blob/84e07a2a593b6dd9a85712f1910883e5f7281b07/planner/core/optimizer.go#L303).

So I think Case 2 is just a miss judge because of constant propagate.

[2020-09-28 06:08] markjenny commented on #11645
/pick-up

[2020-09-28 06:13] wshwsh12 opened #20267 "expression: enable the hybrid types in ConstantPropagate."
## Development Task

Since pr https://github.com/pingcap/tidb/pull/20258 merged, the optimization ConstantPropagate disable the support for hybrid type. We should enable the hybrid types in ConstantPropagate after we can distinguish the EvalType.

[2020-09-28 06:13] ChenPeng2013 opened #20268 "enum doesn't support collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

new_collations_enabled_on_first_bootstrap = true
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master 0cdd24d36b9e5f441d4cb7425969fae9fc1c0e7f and release-4.0 ddba

[2020-09-28 06:17] XuHuaiyu commented on #20268
PTAL @wjhuang2016

[2020-09-28 06:56] pengdaqian2020 commented on #14428
@SunRunAway
I' confusing about **the inline projection for Limit**. Does it means
[code]
![image](https://user-images.githubusercontent.com/71140907/94399568-332b5000-019a-11eb-89c3-41395a669d27.png)
?

btw

could you please give me more explaition about **inline projection**.
I cannot find it in google.

[2020-09-28 07:01] xiaotupansy opened #20273 "tidb dashboard 404"
I test tidb in a server following the guide in :
https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb
TiUP cluster

After executing following script:
tiup cluster start <cluster-name>

mysql -h ipaddress -P 4000 -u root
shows: command not found

Tested with tidb version:
v3.1.2,v4.0.5,v4.0.6

OS:centos 7.7

[2020-09-28 07:30] bb7133 commented on #20124
Do we treat it as a bug? We never support downgrade for major version.

[2020-09-28 07:50] bb7133 commented on #20234
This issue should be a 'feature request' rather than a 'bug report' because by definition, `GLOBAL` variable does not affect the current session.

So I believe that you want to make 'tidb_enable_change_column_type' available as a session variable.

[2020-09-28 07:52] LENSHOOD commented on #19507
/pick-up

[2020-09-28 08:34] pengdaqian2020 commented on #19923
/pick-up

[2020-09-28 09:30] crazycs520 opened #20277 "invalid partition value should return error when create partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

Execute sucessfully.

### 4. What is your TiDB version? (Required)

[code]

[2020-09-28 09:31] SunRunAway commented on #14428
That's almost right and the top __Projection__ can also be pruned.

And here's a slide for introducing https://docs.google.com/presentation/d/1cjdMjKFMbmQdIaDvTKBHlT9TXcqGJUjgkeylrseTrx8/edit#slide=id.p

[2020-09-28 09:55] scsldb opened #20278 "support hierarchical queries"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

like [Oracle Hierarchical Queries](https://docs.oracle.com/cd/B19306_01/server.102/b14200/queries003.htm)

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-09-28 10:40] qw4990 opened #20280 "TiDB returns error `subquery returns more than 1 row` when updating"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Update successfully.

### 3. What did you see instead (Required)
`subquery returns more than 1 row`

### 4. What is your TiDB version? (Required)

v3.0.14

[2020-09-28 13:00] sre-bot opened #20285 "DATA_RACE:github.com/pingcap/tidb/ddl.(*worker).runReorgJob() failed"
DATA_RACE:github.com/pingcap/tidb/ddl.(*worker).runReorgJob()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/53414/display/redirect

[2020-09-28 13:59] djshow832 commented on #20273
So the problem is "dashboard 404" or "mysql shows command not found"?

[2020-09-28 16:01] rubb1sh commented on #20217
i think the problem belong to pingcap/parser

[2020-09-29 01:13] LENSHOOD commented on #19521
/pick-up

[2020-09-29 01:27] LENSHOOD commented on #19521
Seems the issue has been fixed.

[code]

[code]

[2020-09-29 01:30] bb7133 commented on #19747
We aim to make the Chinese characters of `tidb_utf8_general_zh_ci` ordered by pinyin and that's all. It may be different from `GBK`(actually, `gbk_chinese_ci` collation)/`utf8mb4_zh_0900_as_cs` for non-Chinese characters. This is to make the implementation quick and easy.

It will not change, no collation will be changed since it is released.

We may not support it and this is not something new, c

[2020-09-29 01:54] heming79 opened #20290 "有些mysql支持的类型转换 或者长度转换 能不能加一个force指令 兼容一下"
## Feature Request

**有些mysql支持的类型转换 或者长度转换 能不能加一个force指令 兼容一下:**
不然业务想做大表类型转换只能重建表 迁移数据就很麻烦, 有时 缩小字段类型可以优化数据库

[2020-09-29 01:54] nullnotnil commented on #20273
I think the problem is that the instructions don't show anywhere that you need to install the MySQL command-line client (it's not bundled with TiDB).

[2020-09-29 02:04] TszKitLo40 commented on #17832
/pick-up

[2020-09-29 02:06] LENSHOOD commented on #19150
/pick-up

[2020-09-29 02:11] dyzsr commented on #20101
/assign

[2020-09-29 02:50] bb7133 commented on #20290
Hi, the column type change is working in progress. For example, arbitrary changes between integers have been allowed in `master` branch. You can check https://github.com/pingcap/tidb/issues/18283 for the progress.

[2020-09-29 02:51] bb7133 commented on #20290
May I close this issue since this feature request have been accepted and it is WIP?

[2020-09-29 03:09] heming79 commented on #20290
OK

[2020-09-29 03:09] #20290 closed

[2020-09-29 03:22] wjhuang2016 commented on #19521
No, you have to enable new collation.

[2020-09-29 03:24] wjhuang2016 commented on #20285
@AilinKid PTAL

[2020-09-29 03:30] arthuryangcs commented on #7623
/pick-up JSON_ARRAYAGG

[2020-09-29 03:30] xiaotupansy commented on #20273
I find dashboard 404 first. But then I find that I forget to type 'dashboard' part for address.

[2020-09-29 03:30] #20273 closed

[2020-09-29 04:07] pengdaqian2020 commented on #19923
@zimulala
I cannot run this on tidb
![image](https://user-images.githubusercontent.com/71140907/94511198-43e7ce80-024b-11eb-919c-ebf3efb8a4e9.png)
 Does it means ?
[code]

btw

when I run
[code]
the backfill tasks don't run

it comes to
[code]

Could you please give me more case ?

[2020-09-29 04:35] xiaodong-ji commented on #20060
/pick-up

[2020-09-29 04:37] xhebox commented on #18030
The rule cache is introduced to simplify the implementation. But one thing is that, this cache did not drop unnecessary rules when drop table/partitions. Keep a track here.

[2020-09-29 05:16] LENSHOOD commented on #19521
Yes, after enable new collation now I can reproduce this issue, thx.

[2020-09-29 05:23] JinLingChristopher commented on #20261
/assign

[2020-09-29 06:04] #9381 closed

[2020-09-29 06:05] LENSHOOD commented on #15185
/pick-up

[2020-09-29 06:09] zz-jason commented on #20024
Considered the complexity and uncertainty, I think it's better to use the current method to explicitly specify the partitions to be dropped.

[2020-09-29 06:11] zz-jason commented on #19878
@ichn-hu in which scenario an admin needs to use SQL to control the GC & compaction action?

[2020-09-29 06:39] #17369 closed

[2020-09-29 07:48] tangenta commented on #3928
Fixed by https://github.com/pingcap/parser/pull/926.

[2020-09-29 07:48] #3928 closed

[2020-09-29 07:48] zhangysh1995 opened #20295 "Incompatible `CAST x as DECIMAL()`"
## Bug Report

The behavior of casting to decimal is documented at https://dev.mysql.com/doc/refman/5.7/en/fixed-point-types.html:

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]
### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-09-29 07:56] #19121 closed

[2020-09-29 08:11] #20180 closed

[2020-09-29 08:14] ichn-hu commented on #19878
I think @WalterWj knows more about this, would you please explain about this a bit more?

[2020-09-29 08:18] tangenta commented on #20065
@pengdaqian2020 Yes. The sequence feature in TiDB is borrowed from MariaDB.

[2020-09-29 08:18] WalterWj commented on #19878
Sometimes gc and compact can affect performance in batch running scenarios, hoping to manually trigger gc and compact operations to control the impact range and improve stability

[2020-09-29 08:30] tangenta commented on #3968
Fixed by https://github.com/pingcap/parser/pull/926.

[2020-09-29 08:30] #3968 closed

[2020-09-29 08:56] lysu commented on #20181
/info

[2020-09-29 09:04] hicqu opened #20299 "split table needs too much time"
## Development Task

[2020-09-29 09:08] eurekaka commented on #8733
This is because `GetVar` in the filter is not folded into a constant, so ranger cannot extract it as access condition and build range for it. `GetVar` is marked as `unFoldableFunctions` on purpose, to handle the cases like:
[code]

We can only fold the `GetVar` into a constant if the query contains no `SetVar` for the same user variable, we can try to optimize this after https://github.com/pingcap

[2020-09-29 10:41] #20299 closed

[2020-09-29 11:39] leoppro opened #20302 "Supports reverting table data to any point in time."
## Feature Request

**Describe the feature you'd like:**

TiDB already supports the `tidb_snapshot` variable, with the ability to read snapshots at any time. But I would like TiDB to support reverting table data back to an arbitrary time(later than GC safe time).

For example
[code]

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-09-29 12:59] wjhuang2016 commented on #19521
@nullnotnil
Hi, do you think we need to fix this compatible problem?  It seems that TiDB's result is more correct.

[2020-09-29 15:35] dyzsr opened #20305 "Comparison result is incorrect between year column and int constant"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

In mysql 8.0

[code]

### 3. What did you see instead (Required)

[code]

`69` should be adjusted to `2069`.

### 4. What is your TiDB version? (Required)

[code]

## Score

- 600

## Mentor

* @lzmhhh123

[2020-09-29 17:09] nullnotnil commented on #20278
The more standard way to do this is with a recursive CTE. See: https://github.com/pingcap/tidb/issues/6824

[2020-09-29 17:28] nullnotnil commented on #19521
@wjhuang2016 I agree with you. At first I thought this might be related to MySQL 8.0 utf8mb4 collations being NOPAD, but that appears not to be the case. i.e.

[code]

But even in MySQL 5.7, or MySQL 8.0 with utf8mb4_general_ci (instead of `utf8mb4_0900_ai_ci`), you get the following result:
[code]

I think MySQL is wrong here, because it is not considering the `PAD` attribute of the collation, an

[2020-09-29 17:49] JinLingChristopher commented on #20261
This problem also happens to  `desc select /** tidb_hj(t1) */ * from t t1 inner join t t2 on t1.a = t2.a and t1.a = 1;`

Since `ppdSolver` called, EqualConditions have been pushed down to TableReader, `PhysicalHashJoin` will treat the SQL as a cartesian join.

A new method `isCartesian` needs to be added, I will fix this during the holiday.

[2020-09-29 17:50] JinLingChristopher commented on #20261
the most brutal way is to add a new field isCartesian into LogicalJoinPlan and PhysicalJoinPlan, does this acceptable?

[2020-09-29 17:58] JinLingChristopher commented on #20261
The most brutal way is to add a new field `CartesianJoin bool` into `PhysicalHashJoin`, does this acceptable?

[2020-09-30 00:48] nullnotnil opened #20306 "Enable Prepared Statement cache by default"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Forked from https://github.com/pingcap/docs/pull/3960

Currently, the prepared statement cache is not enabled by default. This means that a user has to know this feature exists, and know that they need to enable it to take advantage.

**Describe the feature you'd like:**

Enable the prepared statement cache by

[2020-09-30 01:07] LENSHOOD commented on #19521
In MySQL 5.7, the doc say [Nonbinary strings have PAD SPACE behavior for all collations](https://dev.mysql.com/doc/refman/5.7/en/charset-binary-collations.html#charset-binary-collations-trailing-space-comparisons).

Otherwise MySQL 8.0 has changed that to [assign a single *pad attribute* to every collations](https://dev.mysql.com/doc/refman/8.0/en/charset-binary-collations.html#charset-binary-coll

[2020-09-30 01:30] tangwz commented on #16407
I saw a comment in function `accessPathsForConds(conditions []expression.Expression, usedIndexCount int)`:

[code]

I think for prefix key we need change these conditions especially the condition **tableFilter is not empty**.

Should I change that limit?

[2020-09-30 02:30] JinLingChristopher commented on #20305
/assign

[2020-09-30 02:30] JinLingChristopher commented on #20305
I will fix this during the holiday.

[2020-09-30 03:04] Win-Man opened #20308 "Support determine while the cluster in `import mode` via SQL"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I don't know while the cluster is in `import mode` or not if I forget which is my lighitng node.

**Describe the feature you'd like:**

I suggest t TiDB support SQL to know the cluster current mode like `tidb-lightning-ctl --fetch-mode`.

**Describe alternatives you've considered:**

**Teachability, Documentati

[2020-09-30 03:10] Win-Man opened #20309 "Support get approximate size of per table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I can't know the size of per table.

**Describe the feature you'd like:**

Support get approximate size of per table, the size could be calculated by region approximate size.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-09-30 03:44] wjhuang2016 commented on #20305
According to https://bugs.mysql.com/bug.php?id=81767, MySQL has verified that it's a bug. So I prefer not to fix this issue.

[2020-09-30 04:08] nullnotnil commented on #20305
I don't like the MySQL behavior, but it is technically [documented](https://dev.mysql.com/doc/refman/5.7/en/year.html):

(This is the docs for the datatype, not a function.. so it should apply in `INSERT` and `SELECT` context).

[2020-09-30 04:20] wjhuang2016 commented on #20305
I think the crucial part here is that, when comparing year with integer, which type should be used? In [here](https://dev.mysql.com/doc/refman/8.0/en/type-conversion.html),

 Then `a` should be converted to 2069?

[2020-09-30 05:00] #20059 closed

[2020-09-30 05:50] JinLingChristopher commented on #20305
ok, I will leave this issue, for more discussion.

[2020-09-30 06:12] dyzsr commented on #20305
I guess the year type should be used according to the bug report.

[2020-09-30 06:14] #19934 closed

[2020-09-30 08:05] wangggong commented on #18150
/pick-up

[2020-09-30 08:14] wangggong commented on #17013
@SunRunAway issue solved by #19963 .

[2020-09-30 08:23] #18150 closed

[2020-09-30 08:53] wjhuang2016 opened #20315 "Can drop the last column if expression index exists"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2020-09-30 09:06] wjhuang2016 opened #20317 "Refine the error message for the expression index on auto-increment column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

Expression index 'idx1' cannot refer to an auto-increment column.

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2020-09-30 09:07] wjhuang2016 opened #20318 "Refine the error message of the expression index"
## Development Task

The error message of the expression index is confused and needs to refine:

- [ ] https://github.com/pingcap/tidb/issues/20317
- [ ] https://github.com/pingcap/tidb/issues/20319
- [ ] https://github.com/pingcap/tidb/issues/20320

[2020-09-30 09:39] wjhuang2016 opened #20319 "Refine the error message for the expression index for INDEX ((CONCAT('')))"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The used storage engine cannot index the expression 'concat('')'.
### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2020-09-30 09:48] bb7133 commented on #19686
Hi @ZenoTan , this issue is not related to DDL, so I've removed the 'sig/DDL' label.

[2020-09-30 09:55] tangenta commented on #18977
After pingcap/parser#975 merged, now the error message becomes
[code]

The problem locates in `getDefaultValue()` of `ddl/ddl_api.go`. When the datum kind is `mysql.TypeEnum`, the value should be stored as a string instead of an integer number.

[2020-09-30 10:20] Howie59 commented on #20317
i want to do this in my spare time

[2020-09-30 10:36] wjhuang2016 opened #20320 "Refine the error message for the expression index for PRIMARY KEY"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

The primary key cannot be an expression index.

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2020-09-30 11:40] TszKitLo40 commented on #20256
/pick-up

[2020-09-30 11:41] TszKitLo40 commented on #20255
/pick-up

[2020-09-30 12:06] TszKitLo40 commented on #9384
/pick-up

[2020-09-30 18:00] JinLingChristopher commented on #20261
`select * from t as t1 cross join t t2`, should this a cartesian join ?

[2020-09-30 19:05] m4ver1k commented on #20320
@wjhuang2016  I would like to work on this

[2020-10-01 00:39] kolbe opened #20322 "Duplicated ORDER BY condition causes bad execution plan"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

These should generate the same execution plan since the items in the ORDER BY clause are redundant.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-10-01 01:00] zz-jason opened #20323 "incorrect explain analyze result of `IndexLookUp` on the probe side"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`actRows` and `execution info` in the `probe` side of `IndexLookUp_17` should not be 0 and empty

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-10-01 02:16] nullnotnil opened #20324 "Move sysvar validation into SysVar struct"
## Development Task

See [comment here](https://github.com/pingcap/tidb/issues/9381#issuecomment-699029623):

This will help make sysvars more pluggable, as the validation can be defined in the sysVar definition. Some of the validation can also be simplified by relying on type information.

### Subtasks

* [x] Boolean, Int, Unsigned Types https://github.com/pingcap/tidb/pull/20346
* [x] Float, Enu

[2020-10-01 02:51] TszKitLo40 commented on #17904
/pick-up

[2020-10-01 08:02] francis0407 commented on #17475
This is fixed by #19621

[2020-10-01 13:05] xiongjiwei opened #20327 "incompatible show create table information with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
![image](https://user-images.githubusercontent.com/20839912/94812091-d5f8fe00-0428-11eb-8390-eec7df45e323.png)
### 3. What did you see instead (Required)
![image](https://user-images.githubusercontent.com/20839912/9481259

[2020-10-02 07:13] zz-jason opened #20329 "integrate with datalog"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[DataDog](https://www.datadoghq.com/) is a cloud monitoring platform, supporting integrating and viewing metrics, logs, tracing, alerts and more in one place for all components. However currently it is not easy for users to plug TiDB into DataDog, which is a missing feature that is wanted by some oversea users

[2020-10-02 07:14] zz-jason commented on #20329
@breeswish @IANTHEREAL PTAL

[2020-10-02 07:27] tirsen commented on #20329
Being able to see what your database does based on expensive queries seems incredibly useful and could be a major advantage compared to MySQL based databases that doesn't have any modern tracing capabilities.

We should also annotate the trace with a serialized query plan.

[2020-10-02 07:31] YKG commented on #18986
@lddlww the port in your config file is incorrect, it's `6831`, not `6381`. I just made the same mistake like yours.

[2020-10-02 07:36] zz-jason commented on #20329
we have collected lots of these runtime statistics, if the query runs too slow, they are printed in the slow query log. For example:

[code]

The following fields can be enabled by default for tracing:

[code]

[2020-10-02 07:38] zz-jason commented on #20329
related to https://github.com/pingcap-incubator/tidb-dashboard/issues/555

[2020-10-02 12:15] TszKitLo40 commented on #19148
/pick-up

[2020-10-02 15:38] #20322 closed

[2020-10-03 08:54] johanavril commented on #20319
Hi @wjhuang2016 , I would like to work on this

[2020-10-03 16:43] William0423 commented on #16581
/pick-up

[2020-10-04 04:59] #17641 closed

[2020-10-04 04:59] #17642 closed

[2020-10-04 05:36] #20237 closed

[2020-10-04 09:34] #17096 closed

[2020-10-05 06:18] goku321 commented on #19643
I'm new to this repo. Would it be wise to pick this ticket up?

[2020-10-05 07:40] goku321 commented on #20277
/pick-up

[2020-10-05 07:59] goku321 commented on #20277
Would like to work on this

[2020-10-05 09:24] markjenny commented on #11645
/pick-up

[2020-10-05 09:32] huang-b commented on #14441
/pick-up

[2020-10-05 12:19] LENSHOOD commented on #19507
/pick-up

[2020-10-05 12:50] pengdaqian2020 commented on #19907
/pick-up

[2020-10-05 13:01] sre-bot opened #20345 "DATA_RACE:github.com/pingcap/tidb/kv/memdb.(*arena).enlarge() failed"
DATA_RACE:github.com/pingcap/tidb/kv/memdb.(*arena).enlarge()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/53977/display/redirect

[2020-10-05 16:30] pengdaqian2020 commented on #20065
I want to do this work. is it available now?

[2020-10-06 05:55] xiaodong-ji commented on #20060
/pick-up

[2020-10-06 11:54] iamxy opened #20348 "Let the timestamp type column can be directly compared with the ISO 8601 format string"
## Feature Request

**Is your feature request related to a problem? Please describe:**
TiDB currently does not support the comparison between the timestamp type column and the ISO 8601 format string.

Example:
[code]

[2020-10-06 12:00] iamxy opened #20349 "Let TiDB support the date_trunc() function"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB currently does not support date_trunc() function, this is very useful for timestamp type columns, especially when used with ISO 8601 format

[code]

The problem about the unsupported ISO 8601 format is described in another issue #20348

[2020-10-06 12:53] cyh19890727 commented on #20069
/pick-up

[2020-10-06 13:00] sre-bot opened #20351 "DATA_RACE:github.com/pingcap/tidb/kv/memdb.(*Sandbox).findGreaterEqual() failed"
DATA_RACE:github.com/pingcap/tidb/kv/memdb.(*Sandbox).findGreaterEqual()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/54048/display/redirect

[2020-10-06 16:08] LENSHOOD commented on #15185
/pick-up

[2020-10-07 00:55] TszKitLo40 commented on #20245
/pick-up

[2020-10-07 00:55] TszKitLo40 commented on #17832
/pick-up

[2020-10-07 06:07] ou-bing commented on #14765
/pick-up

[2020-10-08 01:16] TszKitLo40 commented on #9384
/pick-up

[2020-10-08 01:17] TszKitLo40 commented on #9384
/pick-up

[2020-10-08 01:22] TszKitLo40 commented on #20255
/pick-up

[2020-10-08 02:59] TszKitLo40 commented on #17904
/pick-up

[2020-10-08 12:55] gaokunnanjing commented on #20255
/help

[2020-10-09 00:22] ghost opened #20357 "Support tidb_enable_noop_sysvars"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently TiDB supports a setting called [`tidb_enable_noop_functions`](https://docs.pingcap.com/tidb/dev/system-variables#tidb_enable_noop_functions-new-in-v40) (default: OFF). This is useful because it prevents parse-but-ignore in unsafe scenarios.

**Describe the feature you'd like:**

I would like to propos

[2020-10-09 00:24] nullnotnil commented on #20357
I hacked up a quick implementation of this locally and you can see the improvement to `SHOW GLOBAL VARIABLES` usability. Unfortunately, I have to truncate it due to GitHub's 65536 character limit:

[code]

[2020-10-09 01:18] nullnotnil commented on #20309
This information is available in a couple of places:

[code]

= 1300 MiB from SHOW TABLE regions (physical size)
= 1157437270 + 4568080 = 11008 from I_S / SHOW TABLE regions (logical size)

I think adding up the size of the regions could be useful as a single-statistic. May I suggest that maybe information_schema.tables be extended to show physical size as well as logical size?

[2020-10-09 02:05] tiancaiamao commented on #19263
There are no fails in this case recently, I guess it's already fixed, so I'd like to close it.

[2020-10-09 02:05] #19263 closed

[2020-10-09 02:30] zz-jason commented on #20357
But since `tidb_enable_noop_sysvars` is enabled by default, it's still hard to tell whether a variable is effective.

The output of `show global variable` would be a large list when more variables are supported. We may need other methods to group variables and display them in a more readable way. Introducing `tidb_enable_noop_sysvars` may not help.

[2020-10-09 02:45] zz-jason commented on #20348
It seems that MySQL doesn't support ISO 8601 directly, while PostgreSQL supports. For simplificatin, let's consider the following example:

[code]

In MySQL 8.0.21, the `insert` statement result in error:

[code]

While in PostgreSQL 12.4, the `insert` and `select` statements are both succeed:

[code]

[2020-10-09 02:48] SE-Bin opened #20358 "Using the not expected operator when adding the 1=1"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I found that when I add the where condition `1=1` the SQL execution plan will use `TableScan` instead of using the `PointGet` in v3.0.19.

[code]

### 2. What did you expect to see? (Required)
Just like v4.0.7
[code]

### 3. What did you see instead (Required)
In v3.0.19
[c

[2020-10-09 03:09] nullnotnil commented on #20357
It is still _hard by default_, but it does provide an option that can be recommended to new applications. I still get caught by noops, and know I would turn it off.

An alternative implementation with a more straight forwarded migration path could be to make it an ENUM value:
- ON (how TiDB currently behaves)
- OFF (provides a warning when changing a noop function - I think this is achievable as a

[2020-10-09 03:17] blacktear23 commented on #18053
/pick-up

[2020-10-09 03:36] wjhuang2016 commented on #20317
The error message should be `expression index`, not `functional index`.

[2020-10-09 03:41] zz-jason commented on #20348
It's related to the compatibility of [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date and time representation. Seems the main effect to achieve this is the type conversion between ISO 8601 strings and DateTime/Timestamp values.

But it may break the MySQL compatibility because MySQL doesn't support ISO 8601. There are several questions we need to investigate or discuss:

- Why MySQL doesn't

[2020-10-09 03:44] zz-jason commented on #20349
This function is supported in PostgreSQL, see [9.9. Date/Time Functions and Operators](https://www.postgresql.org/docs/current/functions-datetime.html):

[code]

[2020-10-09 03:49] nullnotnil commented on #20348
I suspect that it is just lack of demand. There are a lot of missing features around timestamp/timezones that need addressing: Y2K38, TIMESTAMP WITH TIMEZONE.

I think this is a safe extension to add. It is at least a standard format (ISO 8601), so the typical risk (MySQL adding it later but differently) is minimal.

[2020-10-09 04:28] AilinKid commented on #20327
Are you interested in fixing this issue? jiwei @xiongjiwei

[2020-10-09 04:31] xiongjiwei commented on #20327
yes,i am working on it

[2020-10-09 06:01] #20268 closed

[2020-10-09 06:20] #20118 closed

[2020-10-09 06:43] #17786 closed

[2020-10-09 07:44] zz-jason commented on #20323
@jyz0309 would you like to take a look? it's related to https://github.com/pingcap/tidb/issues/19349, maybe we can fix this issue in https://github.com/pingcap/tidb/pull/20145 as well.

[2020-10-09 07:48] zz-jason commented on #20358
@jebter @SE-Bin this is actually a performance issue, not a bug. The optimization introduces lots of changes to the codebase, which may reduce the stability of release-3.0. Please upgrade the cluster to release 4.0 instead.

[2020-10-09 07:48] #20358 closed

[2020-10-09 07:53] qw4990 opened #20366 "some lock operations on `statistics.handle.Handle.mu` are not robust"
## Development Task
Example1:
[code]
If it panics between these two lock operation, the lock would not be released.
We should change it to:
[code]

Example2: there is a pair of functions:
[code]
Now we use them as below:
[code]
If `getStatsReader` returns an error, the lock would not be released.
It's better to remove lock operations from `getStatsReader` and `releaseStatsReader` and let the outsi

[2020-10-09 07:56] zz-jason commented on #19324
@qw4990 PTAL. Do we have any switch to control whether to enable `cache` in the `Apply` operator?

[2020-10-09 07:57] kennytm opened #20368 "Stack overflow with view recursion"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

On MySQL 8.0:

[code]

### 3. What did you see instead (Required)

<details><summary>The TiDB server crashed with stack overflow involving `(*PlanBuilder).BuildDataSourceFromView`</summary>

[code]

</details>

### 4. W

[2020-10-09 07:58] kennytm commented on #20368
/label sig/planner

[2020-10-09 08:46] wjhuang2016 opened #20369 "insert into t select values(a) from t returns unexpected message."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
master

[2020-10-09 09:11] #20319 closed

[2020-10-09 09:43] zz-jason commented on #1248
another use case for the temporary table feature is to improve the performance of pagination:

- store the result in the session temporary table
- retrieve the session temporary table for each page

It avoids scanning the underlying table for each page, which can both improve the performance of pagination and reduce the resource utilization in the whole TiDB cluster.

[2020-10-09 09:47] lysu opened #20372 "read_from_storage with new partition impl cannot works"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

explain return success

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

it works well in 4.0

master 3828ba2a0956bfa9d5a70cb84a64d725d04b7e8c

[2020-10-09 10:52] wjhuang2016 opened #20373 "Refine the implement of warning handle of column type change"
## Development Task
![image](https://user-images.githubusercontent.com/17380469/95570555-add95280-0a59-11eb-9f1a-aeabf7238663.png)
As we can see from the picture,  before the change, we get an error instead of a warning in alterStmt.
This confuses us. We need to make it as warnings instead of errors.
After fixing it, we can simplify the logic in reorgCtx.
Besides, we should set the session variabl

[2020-10-09 10:53] wjhuang2016 opened #20374 "refine the logic of warning handle in column type change."
## Development Task
![image](https://user-images.githubusercontent.com/17380469/95570555-add95280-0a59-11eb-9f1a-aeabf7238663.png)
As we can see from the picture,  before the change, we get an error instead of a warning in alterStmt.
This confuses us. We need to make it as warnings instead of errors.
After fixing it, we can simplify the logic in reorgCtx.
Besides, we should set the session variabl

[2020-10-09 11:00] #20374 closed

[2020-10-09 11:28] ichn-hu commented on #20348
/assign @ichn-hu

[2020-10-09 13:00] sre-bot opened #20376 "DATA_RACE:Write failed"
DATA_RACE:Write

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/54232/display/redirect

[2020-10-09 13:01] sre-bot opened #20377 "DATA_RACE:[2020/10/09 failed"
DATA_RACE:[2020/10/09

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/54240/display/redirect

[2020-10-09 14:38] markjenny commented on #11645
Failed case below in TiDB which is different with MySQL:
MySQL [(none)]> select DATE_ADD('2007-03-28 22:08:28',INTERVAL "-2.+2" SECOND);
+---------------------------------------------------------+
| DATE_ADD('2007-03-28 22:08:28',INTERVAL "-2.+2" SECOND) |
+---------------------------------------------------------+
| 2007-03-28 22:08:25.980000                              |
+----------------------

[2020-10-09 14:47] zz-jason opened #20378 "support `explain format=json`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

helps users to parse and validate the execution plan

**Describe the feature you'd like:**

support `explain [analyze] format = json`, output the

**Describe alternatives you've considered:**

N/A

**Teachability, Documentation, Adoption, Migration Strategy:**

N/A

[2020-10-09 14:48] zz-jason commented on #4279
I recreated the feature request for JSON format to https://github.com/pingcap/tidb/issues/20378

[2020-10-10 02:18] TszKitLo40 commented on #19148
/pick-up

[2020-10-10 05:19] seiya-annie commented on #20007
## Please edit this comment to complete the following information

### Not a bug

1. Remove the 'type/bug' label
2. Add notes to indicate why it is not a bug

### Duplicate bug

1. Add the 'type/duplicate' label
2. Add the link to the original bug

### Bug

Note: Make Sure that 'component', and 'severity' labels are added

#### 1. Root Cause Analysis (RCA)

The optimization for `!= any()` conditio

[2020-10-10 05:29] hanfei1991 opened #20380 "[planner] proposal: use tiny benchmark to adjust default CBO factor."
## Feature Request

**Is your feature request related to a problem? Please describe:**

There are some cases that can't choose right storage enigne, like(table name is censored) :
`explain analyze SELECT  SUM(amount) FROM XXXXXX  WHERE shop_id=140193611;`
There is an index with column `shop_id`. As a result , cbo selects **IndexLookUp**
[code]

But If we choose to read TiFlash by hint, it only tak

[2020-10-10 05:31] Howie59 commented on #20320
hi, have u finished this issue?

[2020-10-10 05:34] #18056 closed

[2020-10-10 06:20] zz-jason commented on #20380
The basic idea sounds good to me. How other databases perform this operation? Do they have a similar SQL syntax?

[2020-10-10 06:24] hanfei1991 commented on #20380
@zz-jason I'm not sure. I figure the similar issues only happens on the dbs which supports **multiple isolated engines**. They are deployed on different machines, with different types of disks or net cards. I think it's rare in open-source databases; anyway we can dive into it further.

[2020-10-10 06:48] wjhuang2016 commented on #20317
@Howie59 Hi, I have a comment about the merged PR, could you fix it again?

[2020-10-10 06:56] Howie59 commented on #20317
ok, i could do this after get off work

[2020-10-10 08:16] sev7ndayyoo opened #20385 "Under arm architecture, hint does not take effect."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

DDL
<img width="614" alt="截屏2020-10-10 下午4 14 06" src="https://user-images.githubusercontent.com/47801637/95650056-a7a7ac80-0b13-11eb-9243-c7bdd13676c7.png">

Under arm architecture，Do the following

- explain select /*+ read_from_storage(tikv[t3]) */ count(*) from t3;
- ex

[2020-10-10 08:30] johanavril commented on #20209
hi @wjhuang2016 , may I know what did you expect to see for this issue ?
and also is it intended behaviour to use `character_set_client` and `collation_connection` instead of `character_set_database` and `collation_database` like in the create table command.

[2020-10-10 09:20] xiaodong-ji commented on #19912
/pick-up

[2020-10-10 09:25] crazycs520 opened #20389 "panic when explain analyze update statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

Execute successfully.

### 3. What did you see instead (Required)

execute failed.

### 4. What is your TiDB version? (Required)

[code]

[2020-10-10 09:28] bb7133 commented on #19387
Close this issue since it is fixed by #20095

[2020-10-10 09:53] cncal commented on #20234
/pick-up

[2020-10-10 09:55] cncal commented on #20234
I'd like to enhance it.

[2020-10-10 11:22] wjhuang2016 commented on #15959
@SunRunAway  It depends on character_set_client and collation_connection, please check it again.

[2020-10-10 11:28] hicqu opened #20392 "sessionvar `tidb_replica_read` doesn't work as expected"
## Bug Report

### 1. Minimal reproduce step (Required)
1. set the session variable `tidb_replica_read` to `leader-and-follower`
2. run some queries

### 2. What did you expect to see? (Required)
Coprocessor (or point get) tasks should be sent to both leader and follower replicas

### 3. What did you see instead (Required)
Tasks are only sent to follower replicas

### 4. What is your TiDB version?

[2020-10-10 13:21] 9547 commented on #19892
/pick-up

[2020-10-11 01:06] felixvo opened #20395 "The link under CONTRIBUTING.md in README.md is dead"
README.md

the link: https://github.com/pingcap/community/blob/master/CONTRIBUTING.md is dead.
I guess it should be:
- https://github.com/pingcap/tidb/blob/master/CONTRIBUTING.md or
- https://github.com/pingcap/community/blob/master/contributors/README.md

[2020-10-11 02:13] francis0407 commented on #20385
MySQL command-line clients earlier than 5.7.7 strip optimizer hints by default. If you want to use the Hint syntax in these earlier versions, add the `--comments` option when starting the client. For example: `mysql -h 127.0.0.1 -P 4000 -uroot --comments`.

[2020-10-11 03:05] francis0407 commented on #20395
Thanks for reporting it.

https://github.com/pingcap/tidb/pull/20328 is fixing this.

[2020-10-11 03:43] sev7ndayyoo commented on #20385
It took effect. But under the two architectures, the database version is the same, why does AMD do not need to add it to take effect?

[2020-10-11 03:43] sev7ndayyoo commented on #20385
It took effect. But under the two architectures, the database version is the same, why does AMD do not need to add it to take effect?

[2020-10-11 03:54] francis0407 commented on #20385
It depends on the MySQL client version. If the version is earlier than 5.7.7 (e.g. on your ARM env), the `--comments` option is required. If the version is newer than 5.7.7 (e.g. on your AMD env), that option is not necessary.

You can check your MySQL client version to confirm this.

[2020-10-11 04:10] sev7ndayyoo commented on #20385
<img width="762" alt="截屏2020-10-11 下午12 06 12" src="https://user-images.githubusercontent.com/47801637/95670122-41299980-0bba-11eb-8025-2253bfae8701.png">
<img width="762" alt="截屏2020-10-11 下午12 06 08" src="https://user-images.githubusercontent.com/47801637/95670123-44bd2080-0bba-11eb-92b1-ebf28c41977e.png">

I comprehend this is 5.7.25? AMD can take effect directly, but ARM is MariaDB and the oth

[2020-10-11 04:57] #20349 closed

[2020-10-11 06:44] francis0407 commented on #20368
/assign

[2020-10-11 13:15] XuHuaiyu opened #20400 "unexpected result of OuterJoin when using IndexMergeJoin"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
both query return 1 row

### 3. What did you see instead (Required)
the empty result is returned when using IndexMergeJoin

### 4. What is your TiDB version? (Required)

c704b9756e20d172da32e95f2c7bec3c40dbaff3

[2020-10-11 13:30] William0423 commented on #16581
/pick-up

[2020-10-11 16:37] m4ver1k commented on #20320
@Howie59 hey yes I'm will raise a PR in sometime.

[2020-10-11 18:57] m4ver1k commented on #20320
@Howie59 @wjhuang2016 please review the PR and let me know if this works.

Made a slight change to wordings as follow:
`Primary Key Constraint is not supported for generated columns`

[2020-10-12 02:36] seiya-annie commented on #11329
Please edit this comment to complete the following information
Not a bug
Remove the 'type/bug' label
Add notes to indicate why it is not a bug
Duplicate bug
Add the 'type/duplicate' label
Add the link to the original bug
Bug
Note: Make Sure that 'component', and 'severity' labels are added

1. Root Cause Analysis (RCA)
The implementation of date_add_interval is different from MySQL.

2. Symptom
Th

[2020-10-12 02:49] ChenPeng2013 opened #20403 "wrong result in "not in" statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
mysql 8.0.17
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master c704b9756e20d172da32e95f2c7bec3c40dbaff3 and release-4.0 08c63bf3370921c11adb849cfd5597ed11889086

[2020-10-12 03:25] yufan022 commented on #17824
/pick-up

[2020-10-12 03:28] #17824 closed

[2020-10-12 04:09] #19148 closed

[2020-10-12 05:55] AilinKid commented on #20065
sorry I've picked this, cause there is an urgent test for this.

[2020-10-12 06:24] wjhuang2016 commented on #20143
@ChenPeng2013 Please update the label.

[2020-10-12 07:56] lhy1024 commented on #20403
/label sig/execution

[2020-10-12 08:23] francis0407 commented on #20403
This is a case of **null-aware subquery**.

[2020-10-12 08:24] yufan022 commented on #16276
Thanks, ending my traveling before a few day, i will continue this issue.

[2020-10-12 08:25] yufan022 commented on #16276
/pick-up

[2020-10-12 08:47] #16176 closed

[2020-10-12 09:51] markjenny commented on #11645
/pick-up

[2020-10-12 11:33] Win-Man opened #20411 "Modify configuration online can't work if the cluster is upgrade from v3.0.x"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Deploy a cluster in v3.0.5
2. Upgrade cluster from v3.0.5 to v4.0.7
3. Execute `set config tikv raftstore.sync-log=false;` in  TiDB

[code]

### 2. What did you expect to see? (Required)
Modify tikv's configuration online success.

### 3. What did you see instead (Require

[2020-10-12 11:42] zz-jason commented on #20306
Thanks to @nullnotnil, This feature request LGTM. @SunRunAway Prepare plan cache has passed the internal QA testing, we can enable it in the master branch and the future TiDB v5.0.x releases.

[2020-10-12 11:46] zz-jason commented on #20380
Got it. I think we need more investigation before accepting this feature request. Suggestions are welcomed.

[2020-10-12 11:52] zz-jason commented on #20309
That sounds good to me. @Win-Man what's your opinion?

[2020-10-12 11:53] zz-jason commented on #20308
The user story and feature request sound good to me. for implementation detail and SQL syntax, @IANTHEREAL do you have any suggestions?

[2020-10-12 11:57] qw4990 opened #20414 "wrong results returned by Apply with collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

The master branch.

[2020-10-12 11:57] qw4990 commented on #20414
PTAL @wjhuang2016

[2020-10-12 12:01] qw4990 commented on #20414
My mistake, I forgot to enable collation when testing.

[2020-10-12 12:01] #20414 closed

[2020-10-12 12:04] zz-jason commented on #20234
To be compatible with MySQL, changing the global variable in a session does not take effect in the current session.

We have two methods to achieve this:

1. specially handle `tidb_enable_change_column_type`.
2. provide a SQL syntax to explicitly refresh the current variable to reflect new changes to the global variable. for example, the SQL syntax can be `admin refresh global variables`

Since th

[2020-10-12 12:14] zz-jason commented on #20165
The user story and feature request LGTM. While the SQL syntax and implementation details still need more investigation and discussion.

@bb7133 What's your opinion on the SQL syntax and implementation methods?

[2020-10-12 12:16] zz-jason commented on #20165
I prefer to follow the MariaDB behavior since the sequence feature and SQL syntax are more likely to be MariaDB compatible.

[2020-10-12 12:17] Win-Man commented on #20309
I think it's ok, users can get the size of per table directly will meet user's needs.

[2020-10-12 12:21] zz-jason commented on #19902
IIUC, this feature request is aimed to seek an easy method to config placement rules for metadata and system table. At present, some metadata is not stored in a table. If we store all these metadata into tables and provide a list of these metadata tables, this feature request is achieved.

[2020-10-12 12:25] #20389 closed

[2020-10-12 12:40] zz-jason commented on #19650
I'm going to mark this feature request as accepted. There are lots of methods to achieve this. for example, we can support `engine=tikv` to both not break the MySQL compatibility and achieve the feature request.

[2020-10-12 12:43] zz-jason commented on #19624
I'm going to accept this feature request. But the development priority and the target release version still needs more discussion since it involves lots of development work.

[2020-10-12 12:51] zz-jason commented on #8901
@zhangjinpeng1987 PTAL

[2020-10-12 12:57] zz-jason commented on #2645
I'm going to close this feature request. Please feel free to reopen it if `ticdc` can not fulfill your application requirements.

[2020-10-12 12:57] #2645 closed

[2020-10-12 12:58] ilovesoup commented on #19902
We need to make sure we serialized all metadata in a way that placement rule can replicate easily.

[2020-10-12 13:02] zz-jason commented on #16893
This is what we called local read (https://github.com/pingcap/tidb/issues/18033)

[2020-10-12 13:07] zz-jason commented on #16893
I think we can close this feature request because the following requests can cover the use cases of it:

1. https://github.com/pingcap/tidb/issues/18033 local replica read can provide the ability of automatically read from leader or follower based on the required staleness.
2. https://github.com/pingcap/tidb/issues/18748 the `set_var` query hint and `tidb_replica_read` variable together can provid

[2020-10-12 13:11] zz-jason commented on #16893
I'm going to close this feature request. Feel free to reopen it if the current solution can not fulfill the requirements.

[2020-10-12 13:11] #16893 closed

[2020-10-12 13:14] zz-jason commented on #17519
@yilongrong What's API does the user wish to have?

[2020-10-12 13:16] zz-jason commented on #18758
The error code standardization is being developed by @IANTHEREAL.

[2020-10-12 13:44] zhangjinpeng1987 commented on #19878
@WalterWj In my opinion, this is a common performance jitter caused by GC and compaction, so the main goal is to eliminate the impact of GC and compaction, and we are working on it. I don't think adding a feature that disables GC/compaction to workaround the performance jitter is a good way.

[2020-10-12 14:55] IANTHEREAL commented on #18758
We have completed the first phase of development and we expect to release this feature in version 4.0.8, after everything is done, I will close this issue

[2020-10-12 15:08] IANTHEREAL commented on #20308
1. both BR(backup&restore tool) and tidb-lightning would switch tikv into import mode with a TTL attribute,  when it expires, tikv will be switched back to normal mode by itself.   Based on this situation, I don’t understand what is the actual usage scenario of this requirement.
2.  you can get the relevant configuration through `show config` or `select * from metrics_schema.tikv_config_rocksdb` s

[2020-10-12 15:37] zz-jason commented on #19878
To make the performance predictable, this feature request sounds good to me. But if we can totally eliminate the performance jitter caused by GC and compaction, I think it also achieves the predictable and stable performance.

[2020-10-12 16:35] Win-Man commented on #20066
Found another case:
* MySQL-8.0.19
[code]

* TiDB
[code]

[2020-10-12 16:36] Win-Man commented on #20066
/pick-up

[2020-10-12 16:49] Win-Man commented on #20066
I think the problem is caused by `appendFormatFloat `

https://github.com/pingcap/tidb/blob/master/server/util.go#L354

[code]

[2020-10-12 17:46] SunRunAway commented on #20306
@nullnotnil Would you like to have a pull request?

[2020-10-12 18:02] nullnotnil commented on #20306
Sure, I'll work on it.

[2020-10-12 18:30] nullnotnil commented on #20357
@zz-jason I chatted with @kolbe on this, and I have updated the proposal. The feature is now proposed to be disabled by default (i.e. an incompatibility). The rationale is that errors can be presented in most cases, and users will otherwise not know such a setting exists, making it hard to provide benefit.

[2020-10-12 20:52] nullnotnil opened #20417 "Plan binding evolution rejecting improved plans"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Consider the following test case:

[code]

### 2. What did you expect to see? (Required)

The new plan is faster, and should be accepted. Here is the output from `EXPLAIN ANALYZE`:

[code]

### 3. What did you see instead (Required)

The new plan is rejected:

[2020-10-13 00:28] xiaodong-ji commented on #19853
/pick-up

[2020-10-13 01:59] Win-Man commented on #20308
What is the default value of TTL? And which config controll the value?
@IANTHEREAL

[2020-10-13 02:21] seiya-annie commented on #20029
add component/tikv label based on labels in PR

[2020-10-13 02:33] seiya-annie commented on #20007
add sig/planner label based on labels in PR

[2020-10-13 02:51] zz-jason commented on #11964
We can improve this by achieving the `shuffle` operator in this proposal: https://github.com/pingcap/tidb/pull/14453. The execution plan for this can be like this:

[code]

The hash aggregate only processes several data partitions (partition by day/100) at the same time, other unprocessed data partitions can be stored temporally in the disk. Thus avoids the OOM in tidb-server.

[2020-10-13 02:52] zz-jason commented on #11964
I'm going to close this feature request since we already have solutions (but not implemented yet). feel free to reopen it if the solution above can not fulfill the requirements.

[2020-10-13 02:52] #11964 closed

[2020-10-13 03:03] zz-jason commented on #11854
It's actually not related to any product feature, I'm going to remove this from the feature request list.

[2020-10-13 03:05] #20072 closed

[2020-10-13 03:18] eurekaka commented on #20417
My dev env has so poor performance that I cannot finish the expensive data insert steps.

Can you build index on `c` in the `CREATE TABLE` statement as well, and utilize SQL hint in the first 3 `SELECT` queries to force using index `b`(or manually create the SQL binding to use index `b`)? i.e, the bound plan still uses index `b`, and we can rule out the impact of DDL on this case.

Also, you can u

[2020-10-13 03:30] seiya-annie commented on #20118
/info

[2020-10-13 03:43] #20143 closed

[2020-10-13 04:03] rebelice commented on #19932
### Bug
#### 1. Root Cause Analysis (RCA)
`SQL BINDING` only dealed with SelectStmt while the UNION ALL is SetOprStmt.
#### 2. Symptom
You have an error in your SQL syntax.
#### 3. All Trigger Conditions
Try to create binding for union all statements.
#### 4. Workaround (optional)
#### 5. Affected versions
[v4.0.0:v4.0.7]
#### 6. Fixed versions
v4.0.8

[2020-10-13 04:13] zz-jason opened #20419 "support `explain analyze format = zip` to collect metrics to investigate slow query"
## Feature Request

**Is your feature request related to a problem? Please describe:**

To investigate a slow query, typically we need the following information:

- SQL Query
- Slow Log
- `create table` statements for related tables
- `explain analyze ...`, usually contained in slow log
- TiDB, TiKV, PD related logs (more detail than slow log), usually used when the issue is hard to investigate
-

[2020-10-13 04:19] rebelice commented on #19148
### Bug
#### 1. Root Cause Analysis (RCA)
The `fieldType` is wrongly updated.
#### 2. Symptom
After executing DML, the `flag` of the column is changed.
#### 3. All Trigger Conditions
Use `ValueFunction` in DML.
#### 4. Workaround (optional)
#### 5. Affected versions

[v4.0.1:v4.0.7]
#### 6. Fixed versions

v4.0.8

[2020-10-13 04:22] nullnotnil commented on #20419
For slow query, maybe it is better to include the information from `information_schema.statements_summary`? I would also add bind_info to the list of sources.

[2020-10-13 04:30] nullnotnil commented on #20417
You should be able to reproduce with half of the insert steps. My machine is very powerful though (128G RAM, NVMe SSD etc.)

Here is the revised test case based on your instructions. Let me know if I missed anything:

[code]

The output shows the plan is still rejected:
[code]

[2020-10-13 04:55] zz-jason commented on #20419
both `information_schema.statements_summary` and `bind_info` is helpful for investigation.

[2020-10-13 04:57] zz-jason commented on #20419
@breeswish It would be better if we can support collecting these metrics in TiDB Dashboard.

[2020-10-13 05:03] nullnotnil commented on #20234
@zz-jason as you note in your edit, it looks like from the patch this is just a change to add sessionscope to a sysvar. But to answer your question:

There is not a standard way to tell a session (or all sessions) to pick up a new value of a particular sysvar. This has caused problems in the last in MySQL with the `long_query_time` sysvar. If you are using a connection pool, it's not possible to d

[2020-10-13 05:11] zz-jason commented on #12890
It's not related to any product feature. `buf` is a tool to write, manage `.proto` files. Maybe we can integrate it to http://github.com/pingcap/tipb and https://github.com/pingcap/kvproto

[2020-10-13 06:40] time-and-fate commented on #16474
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added

#### 1. Root Cause Analysis (RCA)
TiDB is returning an error message different from MySQL.

#### 2. Symptom

User sees a different error message from MySQL when in a select statement, `group by` is followed by a number, and this number refers to a window fu

[2020-10-13 06:45] breeswish commented on #20419
The idea is great. Tracing can be supplied as well. I only concern about the implementation for some parts. For example:
- It's very hard to identify "related logs" for non TiDB components now. Maybe supporting https://github.com/pingcap/tidb/issues/17845 can help a little. (but still pretty hard for region related things, since region operation in TiKV are not easy to be linked with a specific Ti

[2020-10-13 06:48] SunRunAway commented on #11911
I think it's duplicate to #19137

[2020-10-13 06:49] wjhuang2016 commented on #18680
@iosmanthus ， Could you find out why comparing didn't cause the error?

[2020-10-13 06:59] huang-b commented on #14441
/pickup

[2020-10-13 07:12] wjhuang2016 commented on #20209
@nullnotnil I don't understand why does MySQL use `character_set_client`, do you have any idea?

[2020-10-13 07:35] zz-jason commented on #20278
After going through the examples listed in Oracle Hierarchical Query and MySQL Recursive Common Table Expression, I agree with @nullnotnil that they can both achieve the same application requirements. [This answer](https://stackoverflow.com/a/33737203) from stack overflow also provides several alternatives and explanations about how to achieve a hierarchical query.

From Wikipedia's explanation of

[2020-10-13 07:36] zz-jason commented on #20278
There is also a proposal about recursive CTE: https://github.com/pingcap/tidb/pull/19253

[2020-10-13 07:37] zz-jason commented on #20278
I'm going to reject and close this feature request. feel free to reopen it if the current solution can not fulfill the application requirements.

[2020-10-13 07:37] #20278 closed

[2020-10-13 07:44] crazycs520 commented on #20068
Should be supported in https://github.com/bb7133/tidb/pull/26

[2020-10-13 07:52] lzmhhh123 commented on #19137
/cc @dyzsr

[2020-10-13 07:54] dyzsr commented on #19137
/assign

[2020-10-13 07:54] ilovesoup opened #20423 "Failover to TiKV from TiFlash"
## Feature Request

Allow TiDB backoff to TiKV if allowed by user when TiFlash is down.

**Describe the feature you'd like:**
When TiFlash is down and there is still TiKV nodes alive, TiDB for now cannot automatically backoff to TiKV even if user set engine isolation to both "TiKV, TiFlash". It is more reasonable in such cases TiDB might detect TiFlash failure via previous cop requests, and failov

[2020-10-13 07:57] zz-jason commented on #20423
It's better to backport this improvement to release 4.0 after QA testing.

[2020-10-13 07:58] #20366 closed

[2020-10-13 08:06] zz-jason commented on #18371
@joe-getcouragenow It basically generates conditions in the `where` clause to limit access to databases, seems we don't need to do anything to this OPA based authorization?

[2020-10-13 08:11] zz-jason commented on #18371
I'm going to close this feature request, feel free to reopen it if more discussion is needed.

[2020-10-13 08:11] #18371 closed

[2020-10-13 08:25] SunRunAway commented on #11911
cc @dyzsr

[2020-10-13 09:12] zz-jason commented on #20302
This feature request LGTM. [MariaDB](https://mariadb.com/kb/en/flashback/) also supports flashback to a point in time:

The SQL syntax may need further discussion.

[2020-10-13 09:13] #20400 closed

[2020-10-13 09:24] cfzjywxk opened #20429 "Reduce the RPC flow size from TiDB to TiKV by enable grpc compression"
## Development Task

When loading data into the TiDB cluster, the TiDB server and TiKV server may not stay in the same AZ, the RPC flow from TiDB to TiKV will cause a lot of traffic cost, compression is needed to reduce these costs.

We could add configurations to enable the grpc compression in TiDB, as TiKV does, to reduce the flow size.
[code]

[2020-10-13 09:24] zhangjinpeng1987 commented on #20302
I suggest that using the physical time to instead of 12 in 'FLASHBACK table tbl TO 12'.

[2020-10-13 09:30] zz-jason commented on #20302
it's also related to time-travel queries, maybe we can borrow a similar syntax.

[2020-10-13 10:28] #20385 closed

[2020-10-13 11:08] #20317 closed

[2020-10-13 12:13] TszKitLo40 commented on #17942
/pick-up

[2020-10-13 14:37] nullnotnil commented on #17506
I think it's possible to map these to PromQL metrics. The easiest place to get started is the `Com_` and `Handler` counts:
- Com stands for command
- Handler is the internal operation

They might not line up, since you may have handler_rollback for connections terminating, but no com count. I am not sure if TiDB tracks both..

[2020-10-13 21:55] nullnotnil commented on #20209
Sorry, I'm not sure either :(

[2020-10-13 23:02] IANTHEREAL commented on #17069
@yl-yue If you mean deploying tidb cluster on k8s, you can refer to tidb-operator document
English: https://docs.pingcap.com/tidb-in-kubernetes/stable
Chinese: https://docs.pingcap.com/zh/tidb-in-kubernetes/stable

I will close this issue, if you have any questions, feel free to reopen it

[2020-10-13 23:02] #17069 closed

[2020-10-14 01:48] ngaut opened #20439 "Introduce text file analysis tool that detects non-inclusive language in TiDB repo"
woke — Check for insensitive language in your source code
https://github.com/get-woke/woke

[2020-10-14 02:07] TszKitLo40 commented on #20245
/pick-up

[2020-10-14 02:36] zhangjinpeng1987 commented on #20423
How about these AP queries which will make the TiKVs overload?

[2020-10-14 02:41] zhangjinpeng1987 commented on #20423
It's better to add another switch(for example allow-tiflash-fallback-to-tikv) to control the behavior, and this switch is off by default.

[2020-10-14 02:45] zhangjinpeng1987 commented on #20423
Can we improve the ability of fault-failover for TiFlash?

[2020-10-14 03:02] #20429 closed

[2020-10-14 03:16] nullnotnil commented on #20439
Here is the output against the main branch:
[code]

And against the docs repo:
[code]

[2020-10-14 03:27] ChenPeng2013 opened #20441 "Unknown column 't3.i' in 'order clause'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master a17d3a978a2483e6a40981fc72d787893f8d0372 and release-4.0 8c6879c3f2f2c1b3ae8f570eafab448e3aaa2333

[2020-10-14 03:44] ChenPeng2013 opened #20442 "wrong result in "natural join" statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master a17d3a978a2483e6a40981fc72d787893f8d0372 and release-4.0 8c6879c3f2f2c1b3ae8f570eafab448e3aaa2333

[2020-10-14 03:49] ChenPeng2013 commented on #20442
duplicated with https://github.com/pingcap/tidb/pull/20117

[2020-10-14 03:49] #20442 closed

[2020-10-14 05:02] seiya-annie commented on #20389
add sig label based on labels in PR

[2020-10-14 05:10] seiya-annie commented on #20242
add sig/execution label based on PR

[2020-10-14 05:30] seiya-annie commented on #20005
add component/metrics based on labels in PR

[2020-10-14 05:49] seiya-annie commented on #17096
add sig/execution based on PR

[2020-10-14 05:59] lance6716 opened #20446 "different `DEFAULT '0'` for `SHOW CREATE TABLE` with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

at least

[code]

to master

[2020-10-14 06:03] seiya-annie commented on #20442
add type/duplicate label

[2020-10-14 06:27] aytrack opened #20447 "float precision should not larger than 53"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-10-14 06:36] #19737 closed

[2020-10-14 07:55] ichn-hu commented on #20349
@iamxy Why is this issue closed?

[2020-10-14 08:02] eurekaka commented on #20417
I still cannot reproduce your problem. Here is my output:

[code]

[2020-10-14 08:45] JmPotato opened #20448 "Local/Global Transaction in Cross-DC Deployment Tasklist"
## Development Task

Part of #18253, #20561, and tikv/pd#2759, in order to make TiDB support the Local/Global Transaction in Cross-DC Deployment, which further enables TiDB to support Cross-Region Deployment & Geo-Partition (https://github.com/pingcap/tidb/issues/18273).

* RFC: [Local/Global Transaction in Cross-DC Deployment](https://docs.google.com/document/d/1t4D2M5W0dqduNTey1aTute4umuEQrKazU-

[2020-10-14 08:48] SE-Bin opened #20449 "Prep stmt can not deallocate when receiving `COM_STMT_CLOSE` in the transaction."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
When using Mydumper to backup TiDB, the `Prepare Statement Count` will grow very high.  I found that TiDB will not deallocate the ` Prep stmt ` when receiving `COM_STMT_CLOSE`  in the transaction.

Mydumper command ：
`/mydumper/mydumper -h 172.16.4.138 -u root -P 4000 -t 16

[2020-10-14 09:06] #20065 closed

[2020-10-14 09:26] Win-Man opened #20450 "TiDB returns diffrent result of float field"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

TiDB display a diffrent result with MySQL.
* TiDB
[code]

* MySQL-8.0.19
[code]

I think the cause of this problem is in `util.go`
[code]

`row.GetFloat32(i)` returns `1000000000000000`, but the `float64(row.GetFloat32(i))` returns `999999986991104`. So the float val

[2020-10-14 09:27] #20025 closed

[2020-10-14 10:19] francis0407 commented on #20441
Looks similar to #15844

[2020-10-14 10:19] francis0407 commented on #20441
/label sig/planner

[2020-10-14 10:21] yufan022 commented on #18149
/pick-up

[2020-10-14 10:48] Yisaer opened #20454 "coprocessor layer may encounter deadlock due to OOM"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Currently coprocessor process may encounter deadlock in some cases.

Here is one example to meet this error:
We can simulate other executors consuming during the coprocessor process which cause the OOM Action. If the response channel was empty at that time, the workers would all get stucked in `waitIfNeeded` functi

[2020-10-14 10:55] Yisaer commented on #20454
/assign

[2020-10-14 12:09] ichn-hu commented on #20071
/unassign @ichn-hu

[2020-10-14 12:09] ichn-hu commented on #20071
/assign @wjhuang2016

[2020-10-14 12:18] ichn-hu commented on #20348
For more information,

[A summary of the international standard date and time notation](A summary of the international standard date and time notation)

summarizes the ISO-8601 pretty neatly.

also https://pypi.org/project/iso8601/ and https://github.com/btubbs/datetime are two packages that implemented the parsing for time string with ISO-8601 format, of which the latter one is in Go with MIT lic

[2020-10-14 13:33] ou-bing commented on #14765
/pick-up

[2020-10-14 13:47] tangwz commented on #19732
/assign

[2020-10-14 14:54] tangwz commented on #18977
/assign

[2020-10-14 16:31] JinLingChristopher opened #20460 "Failed to build PhysicalHashJoinExecutor by enable cascades optimizer"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

`drop table if exists t1, t2;`
`create table t1(a bigint, b bigint);`
`create table t2(a bigint, b bigint);`
`set session tidb_enable_cascases_planner=1;`
`select /*+ HASH_JOIN(t1) */ t1.b, t2.b from t1 inner join t2 on t1.a = t2.b and t1.a = 1;`

### 2. What

[2020-10-14 16:34] JinLingChristopher commented on #20460
I am not sure whether it's a bug or not, PTAL.
@zz-jason @winoros @eurekaka

[2020-10-14 16:43] JinLingChristopher commented on #20460
For more information, the result of `explain` is different. I think it's because `PushSelDownJoin` does not work.

[2020-10-14 18:12] nullnotnil commented on #20378
I took a look at this. Here is a tabular EXPLAIN and the JSON version I have planned:
[code]
[code]

The "operator info" is currently just a set of strings. I could further json-ify it, but as you can see in the example it's not strictly key-value pairs. There is an `inner join` instead of `join: inner` etc.

[2020-10-14 19:33] 26Wongfox opened #20461 "The system disk of the TiDB cluster is formatted, is there any possibility of recovery? Hurry!"
File: [/overview.md](https://docs.pingcap.com/zh/tidb/stable/overview)

[2020-10-15 01:53] TszKitLo40 commented on #9384
/pick-up

[2020-10-15 01:53] TszKitLo40 commented on #20255
/pick-up

[2020-10-15 02:59] amyangfei commented on #20302
Following is a requirement of the flash back feature from TiCDC:

-----

## Background

We have supported a tso-map feature in TiCDC, which means TiCDC can replicate data to a consistent state periodically (under the conditions that upstream TiDB is available), and persists a tso map which records a consistent state between upstream and downstream. Based on that premise, when upstream meets disast

[2020-10-15 03:41] TszKitLo40 commented on #17904
/pick-up

[2020-10-15 03:58] kennytm commented on #20302
Previously in #13109 the syntax was `FLASHBACK tbl UNTIL TIMESTAMP '2020-01-01 12:34:56'`, but this syntax was removed in #14604.

Anyway `FLASHBACK TABLE tbl TO tbl2` already has a meaning (equivalent to `FLASHBACK TABLE tbl TO BEFORE DROP RENAME TO tbl2` in [Oracle](https://docs.oracle.com/en/database/oracle/oracle-database/20/sqlrf/FLASHBACK-TABLE.html)), so don't reuse bare `TO` as a keyword t

[2020-10-15 04:04] freyfl opened #20463 "FLASHBACK DATABASE command in feature"
TiDB 4.0 provide FLASHBACK TABLE command. But in the real project we also used FLASHBACK DATABASE command.
Can we provide FLASHBACK DATABASE command in Feature.

[2020-10-15 04:04] jyz0309 opened #20464 "refine IndexMergeReaderExecutor runtime stats"
## Development Task
Currently, the runtime stats of IndexMergeReaderExecutor is hard to understand, here is an example:
[code]
there is some problem:
1.IndexMergeReaderExecutor uses IndexScan to read first, and got the handle value from index value, then use TableRowIDScan to read data. So, we need to know the information such as below:
- RPC runtime stats of TableScan
- RPC runtime stats of Index

[2020-10-15 05:17] lhy1024 commented on #20460
/label sig/execution

[2020-10-15 05:49] lzmhhh123 commented on #20441
/assign

[2020-10-15 06:14] zdl-king opened #20466 "tiup command not found"
按照快速上手文档指示：
第一种：使用 TiUP Playground 快速部署本地测试环境
执行tiup playground命令后提示 tiup command not found

[2020-10-15 06:26] #20066 closed

[2020-10-15 06:41] ddrsql commented on #2183
Release Version: v4.0.7
Edition: Community
Git Commit Hash: ed939f3f11599b5a38352c5c160c917df3ebf3eb
Git Branch: heads/refs/tags/v4.0.7
UTC Build Time: 2020-09-29 06:56:48
GoVersion: go1.13
Race Enabled: false
TiKV Min Version: v3.0.0-60965b006877ca7234adaced7890d7b029ed1306
Check Table Before Drop: false
@hanfei1991
I am searching for a long time on net. But no use. Please help or try to give som

[2020-10-15 06:49] ran-huang commented on #20466
@zz-jason PTAL.
Related docs: [TiDB 数据库快速上手指南](https://docs.pingcap.com/zh/tidb/dev/quick-start-with-tidb#%E7%AC%AC%E4%B8%80%E7%A7%8D%E4%BD%BF%E7%94%A8-tiup-playground-%E5%BF%AB%E9%80%9F%E9%83%A8%E7%BD%B2%E6%9C%AC%E5%9C%B0%E6%B5%8B%E8%AF%95%E7%8E%AF%E5%A2%83)

[2020-10-15 06:51] qw4990 commented on #19369
Can we close this issue since all tasks have been finished? @b41sh

[2020-10-15 06:52] qw4990 commented on #14705
Close since all tasks have been finished. Thanks @b41sh @mmyj  and all other Contributors!!! 🎊

[2020-10-15 06:52] #14705 closed

[2020-10-15 07:24] ChenPeng2013 opened #20467 "wrong selection of column a"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
mysql 8.0.17
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master a17d3a978a2483e6a40981fc72d787893f8d0372 and release-4.0 8c6879c3f2f2c1b3ae8f570eaf

[2020-10-15 07:25] lzmhhh123 commented on #15844
/assign

[2020-10-15 07:46] #15185 closed

[2020-10-15 07:49] iosmanthus opened #20471 "planner: index out of range while try to get hints from a subquery SQL"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Normal hints string output

### 3. What did you see instead (Required)
session panic, while try to get hints, it will produce the following stack trace:
[code]

### 4. What is your TiDB version? (Required)
`master`
[code]

[2020-10-15 08:16] yufan022 commented on #16822
/pick-up

[2020-10-15 08:24] yufan022 commented on #16822
@wjhuang2016 Hi, could you add some labels for this issue? I can't pick it.

[2020-10-15 08:35] yufan022 commented on #16822
/pick-up

[2020-10-15 08:50] iosmanthus commented on #20471
@qw4990 @winoros PTAL

[2020-10-15 08:52] #17095 closed

[2020-10-15 09:15] yufan022 commented on #16822
/pick-up

[2020-10-15 09:16] yufan022 commented on #16822
/pick-up

[2020-10-15 09:48] yufan022 commented on #18149
/give-up

[2020-10-15 11:58] ChenPeng2013 opened #20476 "ERROR 1051 (42S02): Unknown table 't2'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master cd16de894b4bc523bc6b7dd6241ab6f0e608a6fb and release-4.0 c71000046cf1c5ade501cc2b14d3b130863f366d

[2020-10-15 12:23] ChenPeng2013 opened #20477 "the result returned doesn't exist 't2.a' column"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql 8.0.14
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master cd16de894b4bc523bc6b7dd6241ab6f0e608a6fb and release-4.0 c71000046cf1c5ade501cc2b

[2020-10-15 12:44] SunRunAway commented on #20450
@Win-Man Would you like to have a PR?

[2020-10-15 13:00] sre-bot opened #20479 "DATA_RACE:github.com/pingcap/tidb/statistics.PseudoTable() failed"
DATA_RACE:github.com/pingcap/tidb/statistics.PseudoTable()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/54820/display/redirect

[2020-10-15 14:54] b41sh commented on #19369
yes, we can finish it.

[2020-10-15 14:56] #19369 closed

[2020-10-15 17:15] yiwu-arbug commented on #18262
Sent the third PR (3/4) earlier the week. Awaiting review.

[2020-10-16 01:24] tiancaiamao opened #20481 "Get familiar with the sysbench `oltp_update_index`, analyse the workload"
## Description

Run sysbench `oltp_update_index` workload and compare it with `oltp_update_nonindex`.
The purpose of the comparison is to distinguish `oltp_update_index` from other workloads because there are also other teams focus on those tasks.

Try sysbench with different threads setting, find the throughput of the cluster. Check whether the throughput scale-out.

In this task, the assignees a

[2020-10-16 01:31] tiancaiamao commented on #20481
https://docs.google.com/spreadsheets/d/1Q2_2Na6Qrn17r8l_Fl90RJ1Ub0yF-N7MU7cbRvAJ1xw/edit?usp=sharing
https://github.com/YKG/hptc-shichendahai/issues/8
https://github.com/YKG/hptc-shichendahai/issues/12
From @YKG and @xiaodong-ji

[2020-10-16 01:55] tiancaiamao opened #20483 "Analyze the latency of each step in sysbench `oltp_update_index` query, seeking for improvement"
## Description

In this task, the assignees should analyze the grafana or tracing result of the query, finding out the dominant part of the latency.

The latency in each step should be quantified. Before we optimizing for the workload, it's important to know the detailed latency data.

## Score

* 300

## Mentor(s)

* [@tiancaiamao](https://github.com/tiancaiamao)

Contact the mentors: **#tidb-cha

[2020-10-16 01:57] tiancaiamao commented on #20483
A tiny fix in opentracing https://github.com/pingcap/tidb/pull/20330 @YKG

[2020-10-16 02:19] tiancaiamao opened #20484 "Make @@tidb_constraint_check_in_place session variable work for unique index in the sysbench `oltp_update_index` workload"
## Description

![image](https://user-images.githubusercontent.com/1420062/96205025-3b57fd80-0f98-11eb-9334-3fb468444db9.png)

From the trace result, we can see that update the unique index needs to `getSnapshot` and visit TiKV (`SendReqCtx`) to ensure the new KV entry does not exist.

It should be possible to make this check lazy, just make an assumption the new value does not exist and delay the

[2020-10-16 02:41] tangenta commented on #18489
This is expected. After v4.0.3, the type of the `AUTO_RANDOM` column can only be `BIGINT`.

[2020-10-16 02:41] #18489 closed

[2020-10-16 03:01] tiancaiamao commented on #20484
@xiaodong-ji would you like to take it? it seems the bot has a `/pick` command

[2020-10-16 03:07] xiaodong-ji commented on #20484
OK，Let me try.

[2020-10-16 03:08] xiaodong-ji commented on #20484
/pick-up

[2020-10-16 03:33] seiya-annie commented on #18792
Please edit this comment to complete the following information
Not a bug
Remove the 'type/bug' label
Add notes to indicate why it is not a bug
Duplicate bug
Add the 'type/duplicate' label
Add the link to the original bug
Bug
Note: Make Sure that 'component', and 'severity' labels are added

1. Root Cause Analysis (RCA)
Return the wrong error when year column out of range.

2. Symptom
Return the wr

[2020-10-16 03:55] #19571 closed

[2020-10-16 04:10] seiya-annie commented on #19985
## Please edit this comment to complete the following information

### Not a bug

1. Remove the 'type/bug' label
2. Add notes to indicate why it is not a bug

### Duplicate bug

1. Add the 'type/duplicate' label
2. Add the link to the original bug

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/is

[2020-10-16 04:19] seiya-annie commented on #19358
## Please edit this comment to complete the following information

### Not a bug

1. Remove the 'type/bug' label
2. Add notes to indicate why it is not a bug

### Duplicate bug

1. Add the 'type/duplicate' label
2. Add the link to the original bug

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/is

[2020-10-16 04:23] seiya-annie commented on #19240
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/issues/20100

#### 1. Root Cause Analysis (RCA)
This bug only affects the TiDB cluster which config has enable-table-lock = true, indicates the enable the table lock feature.

If tidb-

[2020-10-16 05:22] seiya-annie commented on #19942
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/issues/20100

#### 1. Root Cause Analysis (RCA)
When tidb_enable_clustered_index is enabled, the new collation(like utf8_general_ci) primary keys are encoded to SortKey, which is unabl

[2020-10-16 05:26] seiya-annie commented on #19937
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/issues/20100

#### 1. Root Cause Analysis (RCA)
When query the cluster_slow_query table, the data type of time column is wrong, then, when user enable tidb_enable_streaming session var

[2020-10-16 05:28] seiya-annie commented on #19804
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/issues/20100

#### 1. Root Cause Analysis (RCA)
Alter set/enum type column does not check constraint

#### 2. Symptom

alter table t change a a set('a', 'b', 'c', 'c');  #success

####

[2020-10-16 05:31] seiya-annie commented on #19700
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/issues/20100

#### 1. Root Cause Analysis (RCA)

The root cause is the unreasonable execution flow:
Execute() return a recordset, and it calls finishStmt to reset the current transacti

[2020-10-16 05:33] seiya-annie commented on #19981
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/issues/20100

#### 1. Root Cause Analysis (RCA)

Selectivity() used recursion to handle DNFs if the DNFs aren't covered by statistics. DNFs are divided into groups that can be handled

[2020-10-16 05:35] seiya-annie commented on #20002
## Please edit this comment to complete the following information

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/issues/20100

#### 1. Root Cause Analysis (RCA)

TableHandlesToKVRanges modifies the slice returned by memdb. This caused memdb kv changed in the execution of SELECT statement.

#### 2

[2020-10-16 06:24] marsishandsome opened #20486 "tidb-4.0 should not support `invisible index` syntax"
## Bug Report

tidb-4.0 should not support `invisible index` syntax

### 1. Minimal reproduce step (Required)

drop table t_invisible_index;
create table t_invisible_index(a int, index idx_a(a));
alter table t_invisible_index alter index idx_a invisible;

### 2. What did you expect to see? (Required)
MySQL [test]> drop table if exists t_invisible_index
    -> ;
Query OK, 0 rows affected (0.22 sec)

[2020-10-16 06:27] scsldb commented on #16833
We are focused Linux platform and do not have the resource accommodate this requirement.

[2020-10-16 06:27] #16833 closed

[2020-10-16 06:28] eurekaka commented on #20403
https://github.com/pingcap/tidb/pull/19620 is supposed to fix this issue.

[2020-10-16 06:31] xiaodong-ji commented on #20484
/pick-up

[2020-10-16 06:38] lhy1024 commented on #20369
/label component/expression

[2020-10-16 06:38] lhy1024 commented on #20392
/label sig/execution

[2020-10-16 06:39] lhy1024 commented on #20446
/label sig/DDL sig/execution

[2020-10-16 06:39] lhy1024 commented on #20446
/label sig/DDL

[2020-10-16 06:40] lhy1024 commented on #20446
/label sig/execution

[2020-10-16 06:40] lhy1024 commented on #20447
/label component/expression

[2020-10-16 06:44] lhy1024 commented on #20417
/label sig/planner

[2020-10-16 06:45] lhy1024 commented on #20471
/label sig/planner

[2020-10-16 06:49] lhy1024 commented on #20454
/label component/coprocessor

[2020-10-16 07:06] lhy1024 commented on #20477
/label sig/execution

[2020-10-16 07:06] lhy1024 commented on #20467
/label sig/execution

[2020-10-16 07:06] lhy1024 commented on #20486
/label sig/execution

[2020-10-16 07:09] lhy1024 commented on #20411
/label component/tikv

[2020-10-16 07:10] lhy1024 commented on #20449
/label sig/transaction

[2020-10-16 07:11] lhy1024 commented on #20450
/label sig/execution

[2020-10-16 07:19] #17836 closed

[2020-10-16 07:50] elvizlai opened #20490 "ddl: new added not null column with default changed to null result behavior not expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Adding a new not null column with default value, then change it to null with default null or without default, then the new added rows filled with `origin_default_value`.

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

[2020-10-16 08:07] bb7133 commented on #20486
Hi @marsishandsome , this is actually expected because, for most syntaxes, we support it in the parser firstly to 'improve the compatibility'. You can see this issue: https://github.com/pingcap/tidb/issues/11486 for more details.

[2020-10-16 09:05] eurekaka commented on #20057
Seems it has been fixed already:

[code]

The used GitHash is b3e1053e94834156aa62fe090f106ff247287215 on master branch.

[2020-10-16 09:05] #20057 closed

[2020-10-16 09:48] hidehalo commented on #15884
@AilinKid @qw4990 Hi! I am very interested in this issue, and I found some problems.
Shall we add more detail comments for [FieldType structure](https://github.com/pingcap/parser/blob/master/types/field_type.go#L40)?
I believe that most developers who want to solve this issue will be a little confused when they see this.
Maybe it already has some related documents for explanation?

[2020-10-16 13:56] johanavril commented on #20209
Oh sorry I didn't know that MySQL also use character_set_client and collation_connection.
Anyway it seems that the `utf8mb4` charset is not associated with `utf8_bin` collation in the parser, therefore the parser regard it as an invalid pair.
I tested creating view with random pair in MySQL and it successfully created, should we even validate charset and collation for create view command then ? th

[2020-10-16 15:57] watchpoints commented on #18149
/pick-up

[2020-10-17 00:41] Win-Man commented on #20450
I will have a try.
@SunRunAway

[2020-10-17 01:52] YangKian commented on #14428
/pick-up Apply

[2020-10-17 09:57] xiaodong-ji commented on #19912
/pick-up

[2020-10-17 16:08] 9547 commented on #19892
/pick-up

[2020-10-17 19:14] jjshanks commented on #20439
@nullnotnil / @ngaut Would a good approach for this be to add a [github action for woke](https://github.com/marketplace/actions/run-woke)?

Do you want to add an ignore file for existing usage or also change them?

[2020-10-18 07:59] bb7133 commented on #20490
This bug is reproduced in all existing releases(2.1 & 3.0)

[2020-10-18 09:42] rajeevrai opened #20500 "Duplicate entry error for a different primary-id"
Duplicate errors happen for different primary-key. eg., On "insert into on duplicate key update" queries, we get "Duplicate entry 'id1' for key 'PRIMARY'". On running select queries over this, we get a different id in the result.

select id from payments where id = 'id1' ;
result => id2

This should never happen; as primary keys are unique.

The TiDB version is: v4.0.6 and our setup is on kubernet

[2020-10-18 09:49] Abingcbc commented on #17270
@zimulala @tangenta I would like to take this issue.
Is there a standard for error messages? How about the message mentioned above `ERROR 8200 (HY000): Unsupported add primary key, alter-primary-key is false. Please check https://docs.pingcap.com/tidb/stable/tidb-configuration-file` ?

Thanks!

[2020-10-18 10:09] zhangjinpeng1987 commented on #20500
@rajeevrai Would you mind to provide the operations and table schema for the payments table? Also is this cluster upgraded from TiDB 3.0?

[2020-10-18 12:11] cfzjywxk commented on #18836
With the usage of the [tp-test](https://github.com/zyguan/go-randgen/tree/tp-test/tp-test), combining test cases for the OLTP scenarios, we've found several bugs with "critical" severity for the SQL execution and transaction layer, these are the [issues](https://github.com/pingcap/tidb/issues?q=is%3Aissue+author%3Azyguan+label%3Aseverity%2Fcritical), most of them are fixed in the latest TiDB relea

[2020-10-19 02:31] ichn-hu commented on #20348
The internal representation of time in TiDB is in type `CoreTime`, which is a `uint64` that stores a timestamp without time zone information, the 64 bits of this structure are all used up, which means there is no room for adding time zone information without large impact and refactoring on the current code base.

To support parsing time string literals in ISO-8601 format, which contains time zone

[2020-10-19 02:37] wjhuang2016 commented on #20209
I guess that MySQL wanted to use `character_set_connection` and `collation_connection`, but wrongly used `character_set_client`.

[2020-10-19 03:06] rajeevrai commented on #20500
schema:

[code]

The first deployment was on 4.0.5 and have upgraded to 4.0.6 since then.

[2020-10-19 03:09] cfzjywxk commented on #20500
@rajeevrai
Thanks, could you provide the operations on the table like the read/write SQL statements. If this table is the only one that reports such errors.

[2020-10-19 03:16] nullnotnil commented on #20439
@jjshanks yes, but we can't currently use GitHub actions on this repo :(

In the local development environment `make dev` runs a set of checks. I think this would be a good place to check all files that are being modified.

[2020-10-19 04:17] zz-jason commented on #20348
@ichn-hu would it cause any correctness issue?

[2020-10-19 04:48] SunRunAway commented on #14428
@YangKian
you can ignore the bot's message and you can still do this issue and get points if your pr is merged.

[2020-10-19 04:52] rajeevrai commented on #20500
Inserts are in the form of "insert into on duplicate key update". selects are either on primary keys and aggregations on status or other columns.

Ttill now, only this table has shown the errors.

[2020-10-19 05:04] dyzsr commented on #1108
The rounding behavior for approximate-value numbers seems to be implementation-defined. Do we have to fix it?

[2020-10-19 05:47] nullnotnil commented on #20348
It is better to return an error if the data can't be accepted. There are a lot of clients that ignore warnings, and storing values in the incorrect timezone can cause a lot of problems.

For timestamps it should be safe to interpret the value and convert it immediately. This is because of the [following behavior](https://dev.mysql.com/doc/refman/8.0/en/datetime.html):

[2020-10-19 06:04] coocood commented on #20500
@rajeevrai
Thank you!
It would be difficult for us to reproduce the bug if we only have the form of the statements.
Could you please provide us a few samples of full SQL statements?

[2020-10-19 06:05] ichn-hu commented on #20348
Behavior in PostgreSQL

Postgres has date, time, timestamp, timestamptz (and interval) for temporal types, for time and timestamp, timezone is parsed and ignored (not even generating warnings, because timestamp is by default without timezone, and PG doesn't differentiate type by literal value, therefore the zone information is ignored see [https://www.postgresql.org/docs/8.4/datatype-datetime.html

[2020-10-19 06:13] #15131 closed

[2020-10-19 06:18] lysu commented on #20500
@rajeevrai and maybe better also provide how transaction group insert <table> statements(e.g.  how many insert or other statements between `begin` and `commit` and what sequence of those statements to construct a transaction), thanks

[2020-10-19 06:19] ichn-hu commented on #20348
Also according to [https://dev.mysql.com/doc/refman/8.0/en/datetime.html](https://dev.mysql.com/doc/refman/8.0/en/datetime.html) , MySQL 8.0's datetime & timestamp actuall all supports timezone, the only difference is that timezone for datetime is only interpreted upon writing to storage, but is not interpreted upon reading, while currently TiDB can't handle such syntax.

[code]

Note that the abo

[2020-10-19 06:27] ichn-hu commented on #20348
Therefore, I propose the following strategy, we will first make the MySQL's timezone syntax work and extend it to be compatible with ISO 8601, and we will handle timezone in the way MySQL does, e.g.

* for `datetime`, the timezone information in the string literal is interpreted when writing to storage with respect to the system's `time_zone` variable. But when reading from storage, the timezone i

[2020-10-19 06:28] ichn-hu commented on #20348
@zz-jason @nullnotnil PTAL about the proposed strategy.

[2020-10-19 06:50] SunRunAway commented on #17419
This issue is resolved by the workaround of https://github.com/pingcap/tidb/pull/19316 and the panic will no longer happen.

But I'll leave this issue open until it is fully fixed.

[2020-10-19 06:54] zz-jason commented on #20348
[code]

According to the MySQL behavior:

- for `datetime`, the timezone in the string literal is ignored
- for `timestamp`, the timezone in the string literal should be used

Am I correct?

[2020-10-19 06:56] ichn-hu commented on #20348
Nope, for `datetime`, the timezone in the string literal is also interpreted, otherwise the dt column in the second row should be `2020-10-10 10:10:10`.

[2020-10-19 07:10] YangKian commented on #14428
@SunRunAway Thanks for reminding~ I'd like to have some try :P

[2020-10-19 07:22] SunRunAway commented on #19369
@b41sh Could you provide a test report showing that your job work?

We can set up a test environment and run some testing aggregation queries. And the job can be proven by the following two points
1. During the execution of a long-running SQL, we can monitor the heap usage in grafana and the SQL's memory usage in the `show processlist` at the same time. Give a comparison chart to show that the mem

[2020-10-19 07:22] zz-jason commented on #20348
OK

[2020-10-19 07:31] ichn-hu opened #20507 "Datetime string literal parsing mistreat separator `.` as FSP delimiter"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

On MySQL:

[code]

### 3. What did you see instead (Required)

On TiDB:

[code]

### 4. What is your TiDB version? (Required)

Could reproduce on master, 4.0 & 3.0

[code]

[2020-10-19 07:32] ichn-hu commented on #20507
/label sig-execution

[2020-10-19 07:32] ichn-hu commented on #20507
/label sig/execution

[2020-10-19 07:33] ichn-hu commented on #20507
I found this bug while working on #20348 , could fix it together.

[2020-10-19 07:49] ichn-hu commented on #20507
for more information, quoted from https://dev.mysql.com/doc/refman/5.7/en/date-and-time-literals.html

Therefore, this seemly ambiguous case is acutally specified that MySQL won't accept `hh:mm.fraction`.

[2020-10-19 07:50] yilongrong opened #20508 "'failed Error 1105: other error: Memory limit (for query) exceeded ' Error please help add tiflash note"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://asktug.com/t/topic/62913

**Describe the feature you'd like:**

‘ failed Error 1105: other error: Memory limit (for query) exceeded: would use 9.31 GiB (attempt to allocate chunk of 1048576 bytes), maximum: 9.31 GiB execute run failed, err execute query’ Error add tiflash note

**Describe alternatives y

[2020-10-19 08:50] AilinKid commented on #19123
JSON type shares the same flen and without the decimal and signed option, so changing from JSON to JSON always means nothing to do.

[2020-10-19 08:50] AilinKid commented on #19123
close suggested.

[2020-10-19 08:50] #19123 closed

[2020-10-19 08:51] ChenPeng2013 opened #20509 "Column 'a' in field list is ambiguous"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master 937949f44d0d25e21f5a5722dbb334773de38db9 and release-4.0 2f6219151967b23e461f98c0c9ed4197f1fed2bf

[2020-10-19 08:57] ChenPeng2013 opened #20510 "wrong result in "left join" statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
mysql 8.0.21
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master 937949f44d0d25e21f5a5722dbb334773de38db9 and release-4.0 2f6219151967b23e461f98c0c9ed4197f1fed2

[2020-10-19 09:09] lysu opened #20511 "IndexJoin/IndexMergeJoin panic on inner side's parser on partitioned table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tpcc query:

[code]

some times meet panic on the partitioned stock table

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2020-10-19 09:10] amyangfei commented on #20302
### Part1

TiDB should support the syntax as follows, where `tbl` must be provided

[code]

Task break down (approximately 10 man-day)

- incremental data scan and sorter module. 3 man-day
- gen undo SQL module. 3 man-day
- parser, command processor, the command should be treated as a DDL? 3 man-day

### Part2

Should we consider to provide a syntax as follows?

[code]

While it is easy to extend

[2020-10-19 11:00] Deardrops commented on #19960
Is this a `tptc` issue or not? I cannot find this issue in [tptc related issue list](https://github.com/pingcap/community/blob/master/challenge-programs/high-performance-tidb-challenge-cn.md).

@youjiali1995 @cfzjywxk

[2020-10-19 11:35] qw4990 commented on #17138
I have tried to reproduce this issue by using TiPocket but failed.
I will try it again soon.

[2020-10-19 11:41] shenoy-anurag commented on #15722
Has this been fixed and is there any workaround?

[2020-10-19 13:00] sre-bot opened #20517 "DATA_RACE:github.com/pingcap/tidb/executor.(*IndexNestedLoopHashJoin).finishJoinWorkers() failed"
DATA_RACE:github.com/pingcap/tidb/executor.(*IndexNestedLoopHashJoin).finishJoinWorkers()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55139/display/redirect

[2020-10-19 13:01] sre-bot opened #20518 "DATA_RACE:github.com/pingcap/tidb/table/tables_test.(*testSuite).TestTableFromMeta() failed"
DATA_RACE:github.com/pingcap/tidb/table/tables_test.(*testSuite).TestTableFromMeta()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55146/display/redirect

[2020-10-19 14:58] nullnotnil opened #20520 "Change EXPLAIN operatorInfo to use ; separator"
## Development Task

This is a fork from the discussion in https://github.com/pingcap/tidb/pull/20482

Currently the `operatorInfo` is separated by `,`, but since this character is commonly used in `range(a,b)`, it would make it easier for automated programs to split based on a semicolon `;`.

[2020-10-19 16:03] zz-jason commented on #20463
LGTM

[2020-10-19 16:03] zz-jason commented on #20463
@bb7133 @ilovesoup PTAL

[2020-10-19 16:04] nullnotnil commented on #20348
LGTM. It it an aside, but I prefer the semantics of `timestamp` to datetime, but `timestamp` is also problematic because it suffers Y2K38. I will create a separate FR issue.

[2020-10-19 16:12] nullnotnil opened #20522 "Support TIMESTAMP WITH TIMEZONE and without Y2K38 limit"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This is forked from https://github.com/pingcap/tidb/issues/20348

**Describe the feature you'd like:**

MySQL has both `TIMESTAMP` and `DATETIME` datatypes, which have different behaviors regarding how to handle timezones. I prefer `TIMESTAMP`, but it has a limitation that the range of values is limited to 32-b

[2020-10-19 21:10] nullnotnil commented on #20417
Sorry, it took me a could of days to get back. I asked some colleagues to verify to make sure I'm not crazy. It is a flaky issue, but I added some debugging code which helps understand the issue:

[code]
My understanding from rejected executions, is that there is a bug in the recorded time for the **current** plan in use. i.e. I will get a debug line like this one:

[code]

But there is no way tha

[2020-10-20 00:31] ichn-hu commented on #20348
Correct, the only difference appears in reading these values. The datetime is stored as a literal value, and will be retrieved as is, therefore you get what you have stored. While timestamp is stored as a physical timestamp, it will be adapted to system timezone upon reading.

[2020-10-20 02:11] zz-jason commented on #20302
May I suggest the following SQL syntax, which is similar to time travel queries proposed in https://github.com/pingcap/tidb/issues/18672:

[code]

[2020-10-20 02:27] ChenPeng2013 commented on #20510
#19620 is supposed to fix this issue.

[2020-10-20 02:36] youjiali1995 commented on #19960
No. It' an issue of high performance lessons. @Deardrops

[2020-10-20 02:52] bb7133 commented on #20302
Looks that the brief idea is straightforward, here are some details I'm considering:

- Since 'Flashback' is a DDL job, I guess that the 'Undo SQLs' are *generated* and *executed* when the job is executing(and by DDL worker), right?
- Shall we support 'rollback' for it? Considering that when the table is flash-backing, there may online updates running and conflicts may happen.
- When we consider t

[2020-10-20 02:54] AilinKid commented on #20302
how can you distinguish the undoSQL is an update or insert from the old value in kv?

[2020-10-20 02:55] wjhuang2016 commented on #20302
And， how the DDL schema changes？

[2020-10-20 03:02] amyangfei commented on #20302
1. Yes, the undo SQLs are generated in DDL worker
2. Yep, there will be a conflict if new DMLs are executed during flashback, we should either warn users not to execute DMLs during flashback or provide some mechanism to disable new writing traffic (I have no idea about the second method)
3. the `TIMESTAMP` or `TSO` could use the same strategy in `BACKUP SNAPSHOT`

I will file an RFC soon

[2020-10-20 03:03] jyz0309 commented on #20323
get it， it is fixed by pr#20145

[2020-10-20 03:04] amyangfei commented on #20302
The kv API provides two fields, `old row data` and `new row data`

- if old row data is nil, it is `insert`
- if old row data is not nil, and new row data is nil, it is `delete`
- if both old row data and new row data are not nil, it is `update`

@wjhuang2016

[2020-10-20 03:09] amyangfei commented on #20302
Could you please describe the scenario in greater detail? @wjhuang2016

[2020-10-20 03:33] Win-Man opened #20526 "How does flashback works"
## General Question

I'v read the document of [FLASHBACK](https://docs.pingcap.com/zh/tidb/stable/sql-statement-flashback-table#%E5%B7%A5%E4%BD%9C%E5%8E%9F%E7%90%86) and had a test.

[code]

Then I have some questions:
1. The document says can't use `flashback` statement to restore the same deleted table multiple times, but it seems works fine in my test case.
2. I found the table_id of `t` change

[2020-10-20 03:34] XuHuaiyu opened #20527 "change the default value of `oom-action` from `log` to `cancel`"
The default value of `oom-action` in tidb config file from `log` to `cancel` after the following items are finished.
- [x] All the memory track process has been tested.
- [x] Support memory adaptive control for copIterator. [PR](https://github.com/pingcap/tidb/pull/19246)
- [x] Test the the memory adaptive control for copIterator.

[2020-10-20 03:41] XuHuaiyu opened #20528 "use `advertise_IP:status_port` instead of `status_ip:status_port` when status_ip is not set"
## Bug Report

Found from https://asktug.com/t/topic/62913 (Chinese version).
We should use `advertise_IP:status_port` instead of `status_ip:status_port` when status_ip is not set. Or `0.0.0.0:status_port` will be requested and the connection will be refused.

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
All the configs can be fetched successfully.

[2020-10-20 03:52] AstroProfundis commented on #20528
The `listen_port` section is designed to make it compatible for environment where IP address on server interface is not the same as what client actually used to connect it, a typical example is when in cloud platform where multiple VPC network is used.

In such an environment, the `host` address is an public IP address routeable on the Internet, but on the server, there is only a private IP of the

[2020-10-20 04:57] kolbe opened #20529 "Integer zerofill size attribute should not prevent type modification"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No data loss can occur with this statement, and it does not cause any change to data storage format. The number in parentheses after an integer data type is just an advisory number used for "zerofill" in the client.

Th

[2020-10-20 05:03] nullnotnil commented on #20529
Here is the test case to show that the display length has no impact on storage range:

[code]

This is compatible with MySQL 5.7:

[code]

[2020-10-20 05:35] tangenta commented on #20526
1. If you execute `flashback`  2 times without any insertion between them, you may get the error:
[code]
2. I think `flashback table t to t1` can be understood as follows:
  - the old "dropped" table `t` is renamed to `t1`.
  - a new table named `t` is newly created.
When TiDB creates a new table, a new `table_id` is allocated.

[2020-10-20 05:42] nullnotnil commented on #20417
I found the bug. The `currentPlanTime` may be calculated using the new `binding.bindSQL`:
[code]

Outputs to my log file:
[code]

Which if I execute in MySQL it does not use the existing binding:
[code]

What it should be evaluating is either the Original_sql (with values inserted), or some variant of the new bindsql with hints removed.

[2020-10-20 05:50] nullnotnil commented on #20417
Edit that. It's even simpler. The reason why it doesn't use the existing plan is because of the qualified schema name:
[code]

[2020-10-20 06:10] bb7133 commented on #20302
@amyangfei So it is timezone-aware. I guess that `FLASHBACK` needs to be replicated by TiCDC, right? If so we should treat the timestamp carefully when the upstream/downstream clusters are in different TZ.

[2020-10-20 06:15] lzmhhh123 commented on #17700
Already fixed.

[2020-10-20 06:15] #17700 closed

[2020-10-20 06:35] Win-Man commented on #20526
@tangenta got it, thanks for your reply.

[2020-10-20 06:52] eurekaka commented on #20417
Are you running those queries in the `test` database? Here is my output:

[code]

My TiDB git hash is 106b04ddab7b5aabc42a58f5136565a8c7efb7a5.

[2020-10-20 07:08] wjhuang2016 commented on #20302
Is the state of the table from StatePublic to StatePublic? Is there any intermediate state?

[2020-10-20 07:23] #20490 closed

[2020-10-20 07:24] cfzjywxk opened #20531 "Optimize the degression caused by schema check for async commit"
## Development Task

Currently, for async commit transactions, we need to do the schema check between `startTS` and `commitTS` by sending get meta version RPC requests to TiKV [twice](https://github.com/pingcap/tidb/blob/master/store/tikv/2pc.go#L1040), which may increase the latency for async commit transactions.

We need to use some metadata lock like utility to sync the related DDL operations a

[2020-10-20 07:26] amyangfei commented on #20302
Emmm, in fact there is no schema change, the purpose of using DDL is to reuse the ddl job queue.

There is an alternative way, we can create another job queue just like BRIE executor does, and don't go to the ddl part, maybe it is better.

What do you think of it? @wjhuang2016

[2020-10-20 07:43] #20526 closed

[2020-10-20 08:00] you06 opened #20535 "Delete and insert on multi column index got unexpected `Duplicate entry`"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

`insert` in txn2 blocked by txn1's `delete`.

### 3. What did you see instead (Required)

`insert` in txn2 got `Duplicate entry` directly.

### 4. What is your TiDB version? (Required)

[code]

[2020-10-20 08:38] #18299 closed

[2020-10-20 09:04] cfzjywxk commented on #20535
It's related to #18798, on the master branch if `cluster index` is enabled by default, it will cover this problem using the `primary key` index.

[2020-10-20 09:35] #20392 closed

[2020-10-20 09:55] liuhuanHappyStudy opened #20539 "Java queries the data in TiDB, sorts and paging, and the paging data appears repeatedly. Excuse me, what are the solutions?"
## Bug Report
Java queries the data in TiDB, sorts and paging, and the paging data appears repeatedly. Excuse me, what are the solutions?

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
**Assume ：paging 1**
SELECT
dmc.id AS dailyMerchantCollectId,
m.CODE AS merchantCode,
dmc.daily_date AS dailyDate,
dmc.merchant_name AS merchantName,
d

[2020-10-20 10:27] wanglunwei opened #20541 "use FLASHBACK to repair the data deleted by multiple ttrace"
If two ttrace operations are performed on a table, I hope to be able to restore the data at the specified ttrace time point through the FLASHBACK command

[2020-10-20 11:06] zz-jason commented on #20466
have you installed `tiup` via `curl --proto '=https' --tlsv1.2 -sSf https://tiup-mirrors.pingcap.com/install.sh | sh`?

[2020-10-20 11:12] lzmhhh123 commented on #20226
请问 oom 报错信息是什么？

[2020-10-20 11:47] lzmhhh123 commented on #20539
Hi, could you provide these things?

1. Part of unexpected SQL results.
2. The plan of the SQL. use `explain` + SQL to query the plan.

[2020-10-20 11:47] lzmhhh123 commented on #20226
What's the error message of the oom?

[2020-10-20 12:05] shenoy-anurag commented on #16971
I'm facing the same issue.

OS: Ubuntu 18.04
Ti Version: 4.0.7

Docs followed: https://docs.pingcap.com/tidb/stable/production-deployment-using-tiup

Topology:
1 pd, 1 Tidb, 3 TiKV, 1 TiFlash all on single machine for testing.

Error on control machine:
`INFO    Execute command finished        {"code": 1, "error": "failed to start tidb: \ttidb 127.0.0.1:4000 failed to start: timed out waiting for

[2020-10-20 12:17] shenoy-anurag opened #20545 "Failed to start tidb: timed out waiting for port 4000 to be started after 2m0s"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

OS: Ubuntu 18.04
Docs followed: https://docs.pingcap.com/tidb/stable/production-deployment-using-tiup
Deployed basic topology to remote server.

Topology:
1 pd, 1 Tidb, 3 TiKV, 1 TiFlash all on single machine for testing.

### 2. What did you expect to see? (Required)

Star

[2020-10-20 12:18] wjhuang2016 commented on #20302
We can refer to RecoverTable,  and we need to disable GC.

[2020-10-20 12:24] Rustin-Liu commented on #20484
/pick-up

[2020-10-20 12:48] ethercflow commented on #20461
TiDB集群的系统盘格式化了，还有恢复的可能吗？急急急！

[2020-10-20 12:49] ethercflow commented on #20226
使用sqoop从tidb中抽取数据到hive中，内存控制不住，总是oom，请问怎么配置？

[2020-10-20 13:01] sre-bot opened #20547 "executor_test.go:testCoprCache.TestIntegrationCopCache failed"
executor_test.go:testCoprCache.TestIntegrationCopCache

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/56166/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55266/display/redirect

[2020-10-20 13:06] lzmhhh123 commented on #20461
Do you mean to recover the data of tikv?

[2020-10-20 13:07] TszKitLo40 commented on #17942
/pick-up

[2020-10-20 13:20] #19122 closed

[2020-10-20 13:27] xhebox commented on #19122
Ah.. I dont think this should be closed. Maybe we need a new issue to track those TODOs? @AilinKid

[2020-10-20 16:09] nullnotnil commented on #20417
@eurekaka the output in your query is the same as mine. Note that in the first example, the index `c` was selected. It should have used the plan binding, as it did in the second query.

I think this will be easiest to debug with https://github.com/pingcap/tidb/pull/18017 - I am going to see if its possible to port this to master.

[2020-10-20 16:11] shenoy-anurag commented on #20545
I tried to change the timezone to other time-zones to check whether it'll work but it doesn't.
It throws the same error.

I switched server timezone to my local timezone and tidb ran on my local without issues, but that that also somehow throws the same error.
(btw I rebooted the server and double checked the new timezone using `timedatectl` but still no dice. Also checked which timezone `/etc/loc

[2020-10-20 17:24] nullnotnil commented on #20417
With [this patch](https://github.com/pingcap/tidb/files/5410365/last-plan-from-binding.txt), you should be able to see bindings easier (and not rely on performance data).

Here is a testcase to show the bug:
[code]

Output:
[code]

The bug is caused because the plan captured by plan evolving is using the form which does not bind.

[2020-10-20 19:41] kolbe opened #20549 "IndexMergeJoin causes panic on NULL value in outer join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

git blame shows that was introduced by https://github.com/pingcap/tidb/pull/19821:

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

[code]

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-10-20 21:04] kennytm commented on #19747
The algorithm of `utf8mb4_zh_0900_as_cs` is described in https://dev.mysql.com/worklog/task/?id=11825. The UCA is implemented in https://pkg.go.dev/golang.org/x/text@v0.3.3/collate, but the table version is 6.2.0 (CLDR v23), rather than 9.0.0 (CLDR v28). Maybe we can make it work from a static 9.0.0 table or adjust the reorder parameters for the golang 6.2.0 range.

<details>

Example program:

[c

[2020-10-20 23:40] kolbe commented on #20549
This issue occurs inconsistently for the same query. When the optimizer chooses IndexMergeJoin, this panic occurs, but it does not occur when the optimizer chooses HashJoin.

[2020-10-20 23:41] kolbe commented on #20549
[code]

[2020-10-21 01:40] liuhuanHappyStudy commented on #20539
reply: 1.Part of unexpected SQL results.
page1:

SELECT
 dmc.id AS dailyMerchantCollectId,
 m.CODE AS merchantCode,
 dmc.daily_date AS dailyDate,
 dmc.merchant_name AS merchantName,
 dmc.institution_name AS institutionName,
 dmc.institution_id AS institutionId,
 dmc.agent_name AS agentName,
CASE WHEN ( dmc.paid_count IS NULL ) THEN 0 ELSE dmc.paid_count END AS paidCount,
CASE WHEN ( dmc.paid_amoun

[2020-10-21 01:51] liuhuanHappyStudy commented on #20539
Without pagination, the total number of rows in the query result is: 686 rows.

reply: 1.Part of unexpected SQL results.
page1:

SELECT
dmc.id AS dailyMerchantCollectId,
m.CODE AS merchantCode,
dmc.daily_date AS dailyDate,
dmc.merchant_name AS merchantName,
dmc.institution_name AS institutionName,
dmc.institution_id AS institutionId,
dmc.agent_name AS agentName,
CASE WHEN ( dmc.paid_count IS NULL

[2020-10-21 02:35] xiongjiwei commented on #19747
- The performance is not as good as implement it by hand, only about 30% under the default table.
- The collation should be also implemented in TiKV, and the results must same, it means, we must implement it by ourselves in TiKV
- As a quick implementation of `pinyin` order, convert to gbk and use `gbk_chinese_ci` is enough, we will support `utf8mb4_zh_0900_as_cs` in some day

[2020-10-21 02:53] JinLingChristopher commented on #20539
You should ask your question on [AskTUG](asktug.com).

[2020-10-21 02:54] lzmhhh123 commented on #20226
请问 OOM 的报错信息是什么？

[2020-10-21 02:55] LENSHOOD commented on #19970
/pick-up

[2020-10-21 02:55] LENSHOOD commented on #19971
/pick-up

[2020-10-21 03:07] TszKitLo40 commented on #20245
/pick-up

[2020-10-21 03:10] dyzsr commented on #10462
/assign

[2020-10-21 03:22] #20486 closed

[2020-10-21 03:37] ChenPeng2013 opened #20552 "panic because of slice bounds out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-10-21 03:40] crazycs520 opened #20553 "load data statement doesn't record into slow-log and statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. save below in `/tmp/test/result.0.csv` file.
[code]

2. execute below sql:

[code]

3. check the tidb slow-log file and `STATEMENTS_SUMMARY` system table.

### 2. What did you expect to see? (Required)

Record load data statement in slow-log and statement.

### 3. What d

[2020-10-21 03:46] kennytm commented on #19747
well this issue is about `utf8mb4_zh_0900_as_cs`, the two don't have to interfere each other.

that's unfortunate, but there's still no need to reimplement UCA by hand in Rust, reusing ICU's `ucol_getSortKey` should be fine (and so the Go side should also use an ICU Cgo binding).

[2020-10-21 03:48] eurekaka commented on #20417
OK, I finally made it to understand the root cause. Here is a minimal repro:

[code]

The query `SELECT /*+ use_index(@sel_1 test.t1 c) */ * FROM test.t1 WHERE b=2 AND c=3924541` would be normalized as `select * from test . t1 where b = ? and c = ?`, while the original_sql of the created bind is `select * from t1 where b = ? and c = ?`, they do not match, so the bind cannot be hit.

[2020-10-21 04:06] wjhuang2016 commented on #19747
The Go's sortKey is not the same as ICU's sortKey. The sortKey can be implement-defined. Besides, collate in Go is still unreleased, and it tends to buggy:https://github.com/golang/go/issues/38726.

[2020-10-21 04:42] #19397 closed

[2020-10-21 04:51] lidezhu commented on #18080
duplicate: #https://github.com/pingcap/tics/issues/929

[2020-10-21 04:53] lidezhu commented on #18082
Managed in: https://github.com/pingcap/tics/projects/6

[2020-10-21 05:15] lzmhhh123 commented on #20461
If only the system disk is formatted and the physical disk is not, you can try to reload the operating system and redeploy the tidb cluster environment.

[2020-10-21 05:21] lzmhhh123 commented on #20552
[code]

[2020-10-21 05:21] lzmhhh123 commented on #20552
@winoros PTAL.

[2020-10-21 05:27] zz-jason commented on #20348
got

[2020-10-21 05:29] lzmhhh123 commented on #20539
Hi, I have checked your reply.

The result is correct for my apart. The first SQL is `limit 100,10` and the second is `limit 300,10`. And both are `GROUP BY dmc.id ORDER BY dmc.daily_date DESC`. As you can see, `daily_date` are the same for both query. So I guess the rows of `daily_date` which values `2020-10-20 00:00:00` is more than 200 rows. If you want to get different results. Change the orde

[2020-10-21 05:29] #20539 closed

[2020-10-21 05:36] lzmhhh123 commented on #20545
The issue is the same as https://github.com/pingcap/tidb/issues/15722.

[2020-10-21 06:27] wshwsh12 opened #20558 "Panic/wrong reuslt when using partition table."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

in 4.0,  it will get runtime error: index out of range [2] with length 2 ("runtime error: index out of range [2] with length 2")
in master, it will get wrong result.

#

[2020-10-21 06:27] crazycs520 commented on #19538
Maybe we can also add this to diagnosis rule (`INSPECTION_RESULT`).

[2020-10-21 06:31] nullnotnil commented on #18038
Here is another use case:

This feature combines very well with a time-travel query  ( https://github.com/pingcap/tidb/issues/18672 ), so you can effectively `INSERT INTO tmplocation SELECT * FROM maintable AS OF SYSTEM TYPE '2020-10-01 10:00:00'`.

Since there is already a PR for the `SET_VAR` hint, and `LOAD DATA` already supports incremental commit with `tidb_dml_batch_size`, my suggestion is t

[2020-10-21 06:33] SunRunAway commented on #19538
@ethercflow will also publish a blog about THP, the documentation can reference it after the blog published.

[2020-10-21 06:41] zz-jason commented on #20558
how did you find this bug?

[2020-10-21 06:47] wshwsh12 commented on #20558
@zz-jason  It's an OnCall issue...

[2020-10-21 06:56] #9246 closed

[2020-10-21 07:21] JmPotato opened #20561 "Support the Local/Global Transaction in Cross-DC Deployment"
## Feature Request

**Describe the feature you'd like:**

As part of #18273. Now PD has the ability to allocate the Local/Global TSO to support the corresponding Local/Global transactions (for more details, you can look at tikv/pd#2759). So we need TiDB to have a mechanism to support starting these two kinds of transactions.

**Teachability, Documentation, Adoption, Migration Strategy:**

* [Local

[2020-10-21 07:35] ChenPeng2013 opened #20563 "You have an error in your SQL syntax near "ON alias4.f2 = alias11.f2""
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
mysql 8.0.21
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master 2f067c054255a7452e32f341b7407a4dd071fb9f and release-4.0 dced64d5cb108782b4bdc47e6

[2020-10-21 07:40] zz-jason commented on #20522
The feature request LGTM. But we need to discuss more the priority of this feature request and the improving methods.

[2020-10-21 08:11] #20558 closed

[2020-10-21 08:42] lzmhhh123 commented on #17814
Can't reproduce, already be fixed.

[2020-10-21 08:42] #17814 closed

[2020-10-21 08:42] lzmhhh123 commented on #17815
Can't reproduce, already be fixed.

[2020-10-21 08:42] #17815 closed

[2020-10-21 09:07] jackysp commented on #18038
`tidb_dml_batch_size` can already apply to `insert ..  select`, as long as https://github.com/pingcap/tidb/blob/master/config/config.toml.example#L65 is turned true and set tidb_batch_insert = 1, you can commit transactions in batches. However, I am not sure whether the `set_var` hint can allow writing when using `tidb_snapshot`.
@nullnotnil

[2020-10-21 09:18] tangenta opened #20567 "Support SELECT FROM TABLESAMPLE"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, it is not easy to get some row samples without scanning the whole table.

Scenario: https://github.com/pingcap/dumpling/issues/149 needs to get a row from each region, in order to support concurrently dumping data from a table.

**Describe the feature you'd like:**

TABLESAMPLE is used in a query to

[2020-10-21 09:48] coocood commented on #19951
replaced by https://github.com/pingcap/tidb/issues/20567

[2020-10-21 09:48] #19951 closed

[2020-10-21 12:08] qw4990 commented on #14795
Close since it is finished by https://github.com/pingcap/tidb/pull/19211.

[2020-10-21 12:08] #14795 closed

[2020-10-21 12:48] ChenPeng2013 opened #20571 "delete unrelated column has different results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

use test;
source [test.txt](https://github.com/pingcap/tidb/files/5415891/test.txt);
SELECT count(*) from table_400_ascii_ascii_bin_undef_1 t1 left join table_300_latin1_latin1_bin_undef_2 t2 on t1. `col_smallint_key_unsigned` = t2. `col_smallint_key_unsigned` and t1. `col_

[2020-10-21 12:52] kennytm commented on #20567
In both PostgreSQL and MS SQL Server, the `TABLESAMPLE` clause can only appear in a SELECT statement of a table. However in the SQL:2003 standard, the TABLESAMPLE clause can [appear almost anywhere a table source was expected](https://wiki.postgresql.org/wiki/TABLESAMPLE_Implementation):

[code]

I suggest we don't support these syntax as they make no sense, and I can't find any DBMS implementing

[2020-10-21 13:00] sre-bot opened #20573 "DATA_RACE:github.com/pingcap/tidb/sessionctx/variable.(*SessionVars).SetSystemVar() failed"
DATA_RACE:github.com/pingcap/tidb/sessionctx/variable.(*SessionVars).SetSystemVar()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55363/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55346/display/redirect

[2020-10-21 13:00] sre-bot opened #20574 "analyze_test.go:testSuite1.TestDefaultValForAnalyze failed"
analyze_test.go:testSuite1.TestDefaultValForAnalyze

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55349/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/56269/display/redirect

[2020-10-21 13:56] rubb1sh commented on #20520
/assign

[2020-10-21 14:00] tangwz commented on #8843
/assign

[2020-10-22 01:35] ou-bing commented on #14765
/pick-up

[2020-10-22 02:08] TszKitLo40 commented on #9384
/pick-up

[2020-10-22 03:21] TszKitLo40 commented on #20255
/pick-up

[2020-10-22 03:24] tangenta commented on #20567
@zz-jason @nullnotnil PTAL

[2020-10-22 03:26] wjhuang2016 commented on #20571
The reason is that stat info is change. And the plan also changes too.
[code]

[2020-10-22 05:29] darkelf21cn opened #20579 "the "INSERT ...SELECT ...FOR UPDATE" statement causes a malformed packet error when using pessimistic transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE `tbl_old` (`id` INT NOT NULL PRIMARY KEY);
CREATE TABLE `tbl_new` (`id` INT NOT NULL PRIMARY KEY);
INSERT INTO tbl_old SELECT 1;

START TRANSACTION;
INSERT INTO tbl_new (id) select id from tbl_old where id = 1 for update;
COMMIT;

### 2. What did you expect to

[2020-10-22 05:38] lysu commented on #20579
@darkelf21cn thanks for the feedback, reproduced by user, we will solve it as soon as possible

[2020-10-22 06:01] SunRunAway commented on #18566
After #20436 merged, we are now working together to review all errors which may have sensitive information and redact them. See https://docs.google.com/document/d/1dOVzkaahH-P8fTYgtuBdKRTRlT8BEV7DM8LJPQwZaAQ/edit#heading=h.x2vdsn83mi0d

[2020-10-22 06:54] SunRunAway opened #20582 "Support cloud storage as the source/destination of SELECT ... INTO OUTFILE & LOAD DATA"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Syntax:
[code]

[code]

The scheme and the parameters of S3 file can be similar with [BR](https://docs.pingcap.com/tidb/stable/backup-and-restore-storages#schemes)'s, along with the credential policy.

**Describe alternatives you've considered:**

**Teachability, Documentat

[2020-10-22 07:02] SunRunAway commented on #20582
/cc @zz-jason @nullnotnil

[2020-10-22 08:48] blueseason commented on #11645
/pick-up

[2020-10-22 08:53] seiya-annie opened #20586 "for test, don't need to process"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
for test

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-10-22 08:53] seiya-annie commented on #20586
/info

[2020-10-22 09:02] #10505 closed

[2020-10-22 09:33] glkappe opened #20592 "`host` recognition problem in `create user` statement"
tidb：
Note that there is a line break operation in create user and host.
There are also line breaks in the user table
And when I delete this user also need to have a line break

![image](https://user-images.githubusercontent.com/21033020/96852566-d9adfc80-148b-11eb-9640-39be96bece3e.png)
![image](https://user-images.githubusercontent.com/21033020/96853004-6ce73200-148c-11eb-97e0-218b952fe12d.png)

[2020-10-22 09:41] seiya-annie commented on #20586
Please edit this comment to complete the following information
Not a bug
Remove the 'type/bug' label
Add notes to indicate why it is not a bug
Duplicate bug
Add the 'type/duplicate' label
Add the link to the original bug
Bug
Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: #20100

1. Root Cause Analysis (RCA)
rca

2. Symptom
symptom

3. Al

[2020-10-22 09:50] ichn-hu commented on #20507
/assign @ichn-hu

[2020-10-22 09:55] #20586 closed

[2020-10-22 11:37] dyzsr opened #20594 "MySQL doesn't allow mutliple updates on primary key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

In MySQL 8.0.19

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-10-22 13:01] sre-bot opened #20595 "DATA_RACE:github.com/pingcap/tidb/ddl.(*worker).updateColumnAndIndexes() failed"
DATA_RACE:github.com/pingcap/tidb/ddl.(*worker).updateColumnAndIndexes()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55483/display/redirect

[2020-10-22 13:02] sre-bot opened #20596 "analyze_test.go:testSuite1.TestClusterIndexAnalyze failed"
analyze_test.go:testSuite1.TestClusterIndexAnalyze

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/56513/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55474/display/redirect

[2020-10-22 13:19] zz-jason commented on #20567
seems it's hard to write a query based on `tablesample`, maybe one of the feasible solution is:

1. get region boundaries
2. construct a SQL to decode all the region boundaries to row data
3. construct a SQL to retrieve all the rows indicated by the region boundaries

[2020-10-22 13:31] ilovesoup commented on #20163
Would you please specify the case you encounter that requires that many indexes?

[2020-10-22 16:42] kennytm commented on #20567
The issue with `tidb_decode_key` is that

1. the region boundary is not necessarily a valid key, maybe just a partial prefix, which will fail `tidb_decode_key`.

2. collated strings are stored in the key as `weight_string()` (the sort key) rather than the string itself, and the `weight_string()` is generally irreversible.

3. even if we don't decode `weight_string()`, the optimizer does not recogn

[2020-10-22 17:05] nullnotnil commented on #20567
I think this is a useful extension to MySQL. In terms of corresponding syntax, @kennytm is correct in that there is an internal sampling API but it is not exposed via SQL syntax.  The closes thing in terms of syntax is [explicit partition selection](https://dev.mysql.com/doc/refman/8.0/en/partitioning-selection.html):

[code]

I agree here. We can always add it later if there is a use case discove

[2020-10-22 18:11] nullnotnil commented on #20582
I think this is a very useful FR. In terms of syntax, I suggest we follow AWS Aurora, which is slightly different:

[code]

Docs:
* [SELECT .. INTO OUTFILE](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Integrating.SaveIntoS3.html)
* [LOAD DATA](
https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Integrating.LoadFromS3.html)

[2020-10-22 18:35] nullnotnil commented on #18038
@jackysp Thanks! I can confirm it works (kind of):

[code]

I don't think `set_var` + `tidb_snapshot` can work together here, since `tidb_snapshot` implies read-only and set_var scope is statement (not query block). We will need to add full support for time-travel query.

I also noted that if I try to simulate a very large table (inserting 1010^3 rows) I could trigger out of memory controls. But t

[2020-10-22 18:48] innerr commented on #18024
A quick summary of current status:
1. We did IO benchmarks on different types of Cloud disk, results: https://docs.google.com/document/d/1hQ86h_-3McW7xVgiGEn1MPLYxFNVFLfh9EBU2fMk828
2. We did IO benchmarks on different types of Cloud disk using different types of caching, results: https://docs.google.com/document/d/15ov6ftVRHi4S_KJBCrnO2_za8DYvgxnxFnh2XD6SAoE
3. We did(and still doing) some TiDB b

[2020-10-23 01:31] tangwz commented on #10137
/assign

[2020-10-23 01:41] #20528 closed

[2020-10-23 02:20] nullnotnil opened #20597 "tidb_batch_insert should not hit executor OOM quota"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

My understanding of `tidb_batch_insert` is that it is not documented intentionally. I think there is a valid use case for incrementally committing data however. See: https://github.com/pingcap/tidb/issues/18038

This bug report is about `tidb_batch_insert`. Consider the fol

[2020-10-23 02:23] nullnotnil commented on #20597
@jackysp PTAL, thanks!

[2020-10-23 02:36] dyzsr opened #20598 "Error is expected when value is specified for generated columns in UPDATE"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

In MySQL 8.0.19

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-10-23 03:11] #19969 closed

[2020-10-23 03:46] #20163 closed

[2020-10-23 05:19] lzmhhh123 opened #20601 "index merge join hang with outer join and limit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Get the `explain analyze` results.

### 3. What did you see instead (Required)
Index merge join hangs sometimes.

### 4. What is your TiDB version? (Required)

master branch 70317615f368e35566c82c39729399bfe5f3f67a
relea

[2020-10-23 08:06] ichn-hu commented on #20348
Test with TiKV

Currently the parsing logic is only implemented on TiDB's side not on TiKV, and given  string-to-datetime cast function pushdown has already being turned on, the user will face the following problem, see the following logs.

[code]

By default, the cast function is pushed down to TiKV, and because TiKV can't parse string in ISO8601 format, it will generate warnings and return wrong

[2020-10-23 08:32] blueseason commented on #12786
/pick-up

[2020-10-23 08:33] SunRunAway commented on #20582
The current URI in BR places the region information as a URL query like `s3://bucket-name/data.txt?region=us-west-2`, and AWS Aurora places it in the Schema.
Is it better to support them both for consistency?

[2020-10-23 08:33] #15722 closed

[2020-10-23 08:33] #20545 closed

[2020-10-23 08:43] blueseason commented on #11645
/give-up

[2020-10-23 09:12] xiongjiwei opened #20608 "The `like` function returns wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in mysql
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-10-23 09:36] iamxy commented on #20348
LGTM. As long as the user doesn’t use `cast(str as datetime)`, it will work well.

[2020-10-23 09:44] yufan022 commented on #16822
/pick-up

[2020-10-23 10:07] #16276 closed

[2020-10-23 11:26] zz-jason commented on #20582
@IANTHEREAL PTAL

[2020-10-23 11:33] #19349 closed

[2020-10-23 11:33] #20323 closed

[2020-10-23 12:03] #16822 closed

[2020-10-23 12:51] blueseason commented on #12786
This  behaviour is  the same as mysql 8.0, I see TIDB in somewhere conforms to mysql5.7, and somewhere conforms to 8.0. So here ishould it be strickly compatiable with mysql 5.7?

[2020-10-23 13:55] nullnotnil commented on #12786
TiDB confirms to MySQL 5.7, but when there is a behavior difference between MySQL 5.7 and 8.0, we usually will pick the 8.0 behavior (provided it is intentional and doesn't look like a bug of course).

I tested this again today, and I can reproduce as you described:

[code]

And TiDB:

[code]

So I am going to go ahead and close this issue. Thank you for looking into it!

[2020-10-23 13:55] #12786 closed

[2020-10-23 16:11] ghimsim opened #20614 "Error logging: TiDB should log errors in a table in the database"
There is currently no way to look at an error log in TiDB. This is particularly useful when I do a batch operation like loading data into TiDB. During a LOAD DATA operation, there will likely be errors in the data and having this log will enable users to go in and see where the errors are.

[2020-10-23 16:14] watchpoints commented on #18149
/pick-up

[2020-10-23 17:19] nullnotnil commented on #20614
A feature like this was [just added](https://dev.mysql.com/doc/refman/8.0/en/performance-schema-error-log-table.html) in MySQL 8.0.22. We should take a look and see if the interfaces make sense for TiDB. There is already pre-existing support for `information_schema.slow_query` which maps to reading a log file.

Note that for the use case that you mentioned (`LOAD DATA` failures), I would categoriz

[2020-10-24 14:21] tennix opened #20619 "Support graceful shutdown API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When upgrading or scaling in tidb-server, users usually send `TERM` signal to tidb-server, and tidb-server will close the port 4000 listener, and handles the existing request, then wait a timeout and then close existing connections.

In general, users will run a load balancer in front of multiple tidb-servers.

[2020-10-24 14:49] nullnotnil commented on #20619
I think this is easy to implement. See my [comment here](https://github.com/pingcap/tidb/issues/13808#issuecomment-682324003):

I suggest that the default timeout can be 30 seconds. Does this work for you @tennix ?

[2020-10-24 15:25] tennix commented on #20619
Yes, it works. We need issuing `SHUTDOWN GRACEFULLY` an API instead of unix signal as the unix signal is bound to pod deletion in k8s environment. And pod deletion is coupled with other controller operations.

[2020-10-25 01:48] CoderYellow opened #20621 "unknown or incorrect time zone: Host"
## Bug Report

_unknown or incorrect time zone: Host_

### 1. Minimal reproduce step (Required)

following [official guide](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb) with command
[code]
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-10-25 01:49] CoderYellow commented on #20621
Is it related to #15722

[2020-10-25 01:52] CoderYellow commented on #20621
[code]

[2020-10-25 02:07] CoderYellow commented on #20621
Solved by setting common timezone
`timedatectl set-timezone America/New_York`

[2020-10-25 14:13] lance6716 commented on #20163
not a actual case, just test behaviour keeping same with doc. Is there any plan to remove this limit in doc?

https://docs.pingcap.com/tidb/stable/tidb-limitations#limitations-on-a-single-table

[2020-10-25 14:57] crazycs520 opened #20624 "generate metrics profile error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

In dashboard

![image](https://user-images.githubusercontent.com/26020263/97110647-4daf0580-1715-11eb-9896-a62c9bc50666.png)

In command line

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version

[2020-10-26 02:19] Win-Man opened #20626 "The use index or ignore index syntax seems can not work"
## General Question

I found a  slow query in the slow log file, and after checking the `EXPLAIN ANALYZE` result of the SQL. I want to change the SQL plan to use another index through `use index()`, but it seems didn't work. I've try `ignore index()`, it didn't work either.

My question is why `use index()` and `ignore index()` can not work, is it the way I use wrong?

My record:

* Table structur

[2020-10-26 02:26] LENSHOOD commented on #19970
depend on https://github.com/pingcap/tidb/pull/20623 to avoid repetitive work.

[2020-10-26 03:10] #11645 closed

[2020-10-26 03:44] tangenta opened #20629 "Cannot get auto-id in retry 'INSERT INTO ... SELECT FROM'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Initialization:
[code]
Session1, Session2 execute for 100 times:
[code]
Session3 executes for 100 times:
[code]

When these sessions run concurrently:
- session 1 and session 2 conflict each other on the record `(null, 1, %d)`. This triggers the transaction retry.
- The `au

[2020-10-26 04:05] #19894 closed

[2020-10-26 05:46] crazycs520 commented on #18052
Should be supported in https://github.com/pingcap/tidb/pull/20279

[2020-10-26 06:15] #20624 closed

[2020-10-26 06:49] SunRunAway commented on #20594
/label sig/execution

[2020-10-26 06:50] SunRunAway commented on #20595
@bb7133 PTAL

[2020-10-26 06:50] SunRunAway commented on #20596
@lzmhhh123 PTAL

[2020-10-26 06:52] SunRunAway commented on #20597
@cfzjywxk PTAL

[2020-10-26 07:04] SunRunAway commented on #20621
@lzmhhh123 PTAL if free

[2020-10-26 07:05] pengdaqian2020 commented on #20552
it seems when invoke `expressionRewriter.handleInSubquery` the subquery is rewrited to inner join.
So the `FuncCallExpr` will have no args

[2020-10-26 07:52] blueseason commented on #11755
/pick-up

[2020-10-26 08:39] eurekaka opened #20640 "support SQL bind for Update / Delete statements"
## Development Task

Support features like:
[code]

[2020-10-26 08:49] cosven opened #20641 "Support Options for rawkv API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I'm trying to use rawkv client to `get` key-value from **write cf**.
However, we can't specify CF in the rawkv client `Get` method and it tries to get key-value from **default cf**.

https://github.com/pingcap/tidb/blob/0d613a2dfaa936ca0284adfe39d2338978cbeefd/store/tikv/rawkv.go#L103-L107

According to the kvp

[2020-10-26 09:14] eurekaka commented on #20640
Duplicated with https://github.com/pingcap/tidb/issues/15827.

[2020-10-26 09:14] #20640 closed

[2020-10-26 09:26] xiaodong-ji commented on #20484
It looks like the `tidb_constraint_check_in_place` parameter is valid for INSERT and invalid for UPDATE.
[code]

[2020-10-26 11:03] #20601 closed

[2020-10-26 11:18] tiancaiamao commented on #16639
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/57141/pipeline

Another one in https://github.com/pingcap/tidb/pull/20631

[2020-10-26 11:20] tiancaiamao commented on #16639
[2020-10-26T09:22:20.921Z] ----------------------------------------------------------------------
[2020-10-26T09:22:20.921Z] PANIC: aggregate_test.go:507: testSuiteAgg.TestGroupConcatAggr
[2020-10-26T09:22:20.921Z]
[2020-10-26T09:22:20.921Z] ... Panic: runtime error: invalid memory address or nil pointer dereference (PC=0x134F571)
[2020-10-26T09:22:20.921Z]
[2020-10-26T09:22:20.921Z] /usr/local/go

[2020-10-26 11:54] zz-jason commented on #20619
IMO, issuing `SHUTDOWN GRACEFULLY` is a critical operation:
- users may need a super privilege to do it to prevent attacks
- TiDB may record an audit log for this operation as well

I think it's better to use SQL commands instead of an HTTP API in the status port.

[2020-10-26 12:09] tennix commented on #20619
Shutting down is a bit scary, in fact we only need to let tidb-server fail the status check to tell external LB to not route traffic to this tidb-server.

[2020-10-26 12:18] zz-jason commented on #20619
how about this:

1. A sends `TERM` signal to tidb-server process via `kill`
2. B queries a status HTTP API in tidb-server to check whether the server is in graceful shutdown progress periodically
3. B removes that tidb from the load balancer once the query result is positive.

[2020-10-26 12:30] tennix commented on #20619
Yeah, `TERM` signal would be the optimal option. But k8s has special handling logic to this. With this KEP (https://github.com/kubernetes/enhancements/pull/1607) implemented, I think it would not be a problem using `TERM` signal. I'll investigate if there is a workaround for this.

So at least TiDB needs to fail status check first instead of closing port 4000 listener when receiving `TERM` signal.

[2020-10-26 13:00] sre-bot opened #20645 "simple_test.go:testSuite3.TestCharsetDatabase failed"
simple_test.go:testSuite3.TestCharsetDatabase

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55858/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55875/display/redirect

[2020-10-26 13:01] sre-bot opened #20646 "DATA_RACE:github.com/pingcap/tidb/domain/infosync.(*InfoSyncer).getPrometheusAddr() failed"
DATA_RACE:github.com/pingcap/tidb/domain/infosync.(*InfoSyncer).getPrometheusAddr()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/55845/display/redirect

[2020-10-26 13:26] watchpoints opened #20647 "go1.15.2 make failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

 go version
go version go1.15.2 linux/amd64
make
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2020-10-26 13:38] kennytm commented on #2285
scripted repro using tiup:

[code]

[code]

[2020-10-26 13:43] kennytm commented on #2285
can we perform the global rebase (`alter table auto_increment`) when we try to commit an INSERT/UPDATE containing an AUTO_INCREMENT column with values outside of its allocated range? i heard that this is too hard to do, but if so how does `setval(sequence, n)` work then? 🤔

[2020-10-26 14:01] nullnotnil commented on #20619
There is actually a privilege specific to [`SHUTDOWN`](https://dev.mysql.com/doc/refman/5.7/en/privileges-provided.html#priv_shutdown).

This is already implemented correctly in TiDB:

[code]

When `SIGTERM` is received it currently handles server shutdown the same way as `SHUTDOWN`, but maybe we can move it to point to the `SHUTDOWN GRACEFULLY` implementation. My only concern is that most process

[2020-10-26 14:17] zz-jason commented on #20619
In my opinion, the correct step should be:

1. remove the tidb-server from the load balancer
2. gracefully shutdown that tidb-server

instead of implementing a `delayed` graceful shutdown:

1. gracefully shutdown that tidb-server
2. tidb should wait x seconds to process the graceful shutdown command, it fails the status check during this period
3. the load balancer detected the tidb-server is goin

[2020-10-26 14:32] Dieken opened #20648 "support sub parititioning"
## Feature Request

**Describe the feature you'd like:**

https://dev.mysql.com/doc/refman/5.7/en/partitioning-subpartitions.html

I have a table like `(account_id, transaction_date, order_id, amount, price, confirm_info)`,   I would like to partition it by `transaction_date` with monthly range partitioning, then subpartition it by `account_id` with hash partitioning.

The online service queries t

[2020-10-26 14:42] cfzjywxk commented on #20619
@tiancaiamao What do you think of this?

[2020-10-26 14:44] zz-jason commented on #20619
how other distributed database handles this scenario?

[2020-10-26 15:12] #18808 closed

[2020-10-26 15:45] bb7133 commented on #20608
Good job! Can you make some explanations about the root cause of it?

[2020-10-26 18:58] nullnotnil commented on #20619
This makes sense, but it is hard to automate because users may have different load balancers. There is no standard way to remove a node from a load balancer, but the concept of a HTTP health check is standard.

[CockroachDB does it with a delayed graceful period](https://www.cockroachlabs.com/docs/stable/remove-nodes.html) (they describe it as a load balancer drain period, which is also fine):

"A

[2020-10-26 22:54] 9547 commented on #19892
/pick-up

[2020-10-26 23:40] nullnotnil commented on #20619
I took a look at this, and have a PR available. The `SHUTDOWN` sql command actually just calls `kill` on the server's process, so to add `SHUTDOWN GRACEFULLY`, logically there would need to be `SIGTERM` handling first.

[2020-10-27 02:07] xiongjiwei commented on #20608
the root cause is `stringutil.CompilePattern` and `stringutil.DoMatch` handle string byte by byte, that is incorrect, a utf8 string may have more than one bytes, it should seem as one character.

[2020-10-27 02:08] nullnotnil commented on #20626
@Win-Man sorry, I can't reproduce. Please include the TiDB version, and a small test-case if it requires data to reproduce. Thanks!

[2020-10-27 02:17] bb7133 commented on #20608
Thanks.

BTW, 'it should be treated as one character.'

[2020-10-27 02:46] qw4990 opened #20651 "Parallelize stream aggregation executors by using shuffle executors"
## Description

In this PR(https://github.com/pingcap/tidb/pull/14238), we introduce the shuffle executor.
Like https://github.com/pingcap/tidb/issues/14441, we may use this shuffle executor to implement parallel stream aggregation by nesting some sort and stream-aggg executors into a shuffle executor:
[code]
It can utilize more CPU resources to get better performance.

- [x] Introduce a new varia

[2020-10-27 02:46] JinLingChristopher commented on #20651
/assign

[2020-10-27 03:28] leoppro opened #20654 "found the goroutine leak in tikv client"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
run this code, and you can find the goroutine leak

### 2. What did you expect to see? (Required)

no goroutine leak

### 3. What did you see instead (Required)

goroutine leak

### 4. What is your TiDB version? (Required)

github.com/pingcap/tidb v1.1.0-beta.0.20200

[2020-10-27 03:29] Win-Man opened #20655 "The GC does not work if the configuration of GC is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The GC can work fine.
Another solution is returning an error if the util is wrong, so I suggest to update the config of GC using `SET` instead of `update`. The `mysql.tidb` should be a read-only table.

### 3. What did y

[2020-10-27 03:37] #20450 closed

[2020-10-27 05:45] seiya-annie commented on #20392
/info

[2020-10-27 06:03] Win-Man commented on #20066
## Please edit this comment to complete the following information

### Not a bug

1. Remove the 'type/bug' label
2. Add notes to indicate why it is not a bug

### Duplicate bug

1. Add the 'type/duplicate' label
2. Add the link to the original bug

### Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: https://github.com/pingcap/tidb/is

[2020-10-27 06:06] hicqu commented on #20392
Bug

Note: Make Sure that 'component', and 'severity' labels are added
Example for how to fill out the template: #20100
1. Root Cause Analysis (RCA)
    the session variable can't make effect in region cache module
2. Symptom
    the session variable can't determine the targe TiKV
3. All Trigger Conditions
    set the session variable to `leader-and-follower` doesn't work in all situations
4. Work

[2020-10-27 06:27] TszKitLo40 commented on #20236
/pick-up

[2020-10-27 06:46] AilinKid opened #20661 "Support conversion from Time types to others"
## Description

### Background
With the development of the implementation of column type change, we have broken the process into two phases.

1. implement the architecture and column type change between the same type. [phase 1](https://github.com/pingcap/tidb/issues/19116)
2. implement the column type change between the different types and some TODO lists. [phase 2](https://github.com/pingcap/tidb

[2020-10-27 06:47] AilinKid commented on #20661
sig/DDL

[2020-10-27 06:50] AilinKid opened #20662 "Support conversion from JSON types to others"
## Description

### Background
With the development of the implementation of column type change, we have broken the process into two phases.

1. implement the architecture and column type change between the same type. [phase 1](https://github.com/pingcap/tidb/issues/19116)
2. implement the column type change between the different types and some TODO lists. [phase 2](https://github.com/pingcap/tidb

[2020-10-27 06:51] AilinKid commented on #20662
sig/DDL

[2020-10-27 06:59] TszKitLo40 commented on #20236
/pick-up

[2020-10-27 07:12] jackysp commented on #20597
Sorry for the late reply. I think we forget to Consume the transaction size when finishing one batch.

[2020-10-27 07:17] kennytm commented on #18038
(note that the hint should be placed after the INSERT keyword, not at the end of the statement.)

[code]

[2020-10-27 07:58] AilinKid opened #20666 "PANIC: analyze_test.go:126: testSuite1.TestClusterIndexAnalyze"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
The CI fail in https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/57346/pipeline
[code]

### 2. What did you expect to see? (Required)
No panic

### 3. What did you see instead (Required)
Panic

### 4. What is your

[2020-10-27 08:18] djshow832 opened #20668 "ddl: label constraint doesn't support single quotes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

It should not report the error, as it's very common to replace double quotes with single quotes.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

## Score

- 300

[2020-10-27 08:24] djshow832 opened #20669 "ddl: altering placement rules misreports ErrBuildRuleList"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

It should not report an error, as `alter` is transformed to `add` and it's legal to add 3 followers.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2020-10-27 08:25] #20348 closed

[2020-10-27 08:25] #20507 closed

[2020-10-27 08:33] wshwsh12 opened #20671 "make the config MemoryUsageAlarmRatio can modified dynamically"
## Development Task
In https://github.com/pingcap/tidb/pull/18858, it involves a config `MemoryUsageAlarmRatio` to control the memory threshold to alarm and record information (SQLs, profile), which are used to debug and located the oom problem.

The config `MemoryUsageAlarmRatio` should be set dynamically if someone wants to open/close the feature anytime.

[2020-10-27 08:42] wshwsh12 opened #20673 "Make memoryUsageAlarm can get the environment memory in container."
## Development Task
In https://github.com/pingcap/tidb/pull/18858, it involves memoryUsageAlarm util to alarm and record information when tidb has the risk of OOM.
Now, memoryUsageAlarm can't get the total memory in the container environment. So that it is necessary to set `server-memory-quota` manually,  to make the feature work well.

It is better to get the container memory limit automatically.

[2020-10-27 08:48] wshwsh12 opened #20674 "Make memoryUsageAlarm can persistence the record in container."
## Development Task
In #18858, it involves memoryUsageAlarm util to alarm and record information when tidb has the risk of OOM.

Now, memoryUsageAlarm will record the information to directory tmp-storage-path/record. If tidb oom in container environment, all temp files will be clear.

We need to persistence the records to debug or locate OOM problem.