[2021-07-27 08:38] #26089 closed

[2021-07-27 08:41] sticnarf commented on #26573
Yep, `gopsutil` does not compile with the llvm installed by homebrew.

Close it as the problem is resolved.

[2021-07-27 08:41] #26573 closed

[2021-07-27 09:01] AilinKid opened #26648 "new session can't see instance-level variable store-limit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
since it's a instance level vairble, the session can see it.

### 3. What did you see instead (Required)
the default 0

### 4. What is your TiDB version? (Required)

master

[2021-07-27 09:16] guo-shaoge commented on #25674
I did some try [here](https://github.com/guo-shaoge/tidb/blob/df9eaffa503960774ee57c9cb84023da3ada0e1e/planner/core/find_best_task.go#L1975) , but it still has problems. In the following situations, there will be problem:

`with cte1 xxx select ... order by cte1.c1 union select ... order by cte.c2`

The plan of `cte1` cannot consider index column when DoOptimize(), because two different references

[2021-07-27 09:34] #26088 closed

[2021-07-27 09:42] #26172 closed

[2021-07-27 09:52] guo-shaoge commented on #24997
Simplified case:

    drop table if exists t1, t2;
    create table t1(c1 varbinary(100));
    insert into t1 values('e');
    create table t2(c1 date);
    insert into t2 values('2019-11-10');
    select * from t1 inner join t2 on t1.c1 <= t2.c1;

MySQL:

    mysql> insert into t2 values('2019-11-10');
           select * from t1 inner join t2 on t1.c1 <= t2.c1;
    Query OK, 1 row affected (0.01

[2021-07-27 10:20] #25474 closed

[2021-07-27 10:52] wshwsh12 opened #26662 "Can't find column using case when function with union."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Need open **newcollation**

[code]

### 2. What did you expect to see? (Required)

query successfully.

### 3. What did you see instead (Required)

ERROR 1105 (HY000): Can't find column Column#5 in schema Column: [test.t1.a] Unique key: []

### 4. What is your TiDB version?

[2021-07-27 11:04] bb7133 commented on #26568
IMO the "generic" way(first option) should be good enough. Actually, I'm not familiar with the scheme/protocol, PTAL @breeswish @rleungx @lysu

[2021-07-27 11:11] bb7133 commented on #26568
I agree with the 'new function' proposal, there was a proposal filed by me before: #25179. Looks that the idea is similar to yours.

Yes, I think the TLS configurations are required...or we cannot communicate with PD. Basically the following codes can be followed:

- https://github.com/pingcap/tidb/blob/cc5e161ac06827589c4966674597c137cc9e809c/store/driver/tikv_driver.go#L124
- https://github.com/

[2021-07-27 11:16] lysu commented on #26568
Besides schema, maybe can use `InternalHTTPClient` which will be init with CA/Cert if tidb configured with TLS like other code snippet

https://github.com/pingcap/tidb/blob/2b461e0ea7f76b62e8b58f113e1eb4187d756869/server/http_handler.go#L1275-L1276

[2021-07-27 11:18] #26412 closed

[2021-07-27 11:28] #26521 closed

[2021-07-27 12:40] guo-shaoge commented on #26472
Dup with #24205 , fix will be in next release.

[2021-07-27 12:40] #26472 closed

[2021-07-27 12:43] francis0407 commented on #22076
Hi all, here is my implementation plan for this issue:
* The physical plan of the uncorrelated scalar subquery will be stored in `StmtCtx`.
* The subquery will not be executed if it is inside an `explain` statement. But it will be executed in `explain analyze`.
* When using `explain` only, the scalar subquery result will be replaced by a special `ScalarFunction` which will never be evaluated.

The

[2021-07-27 13:05] irisyou55 opened #26667 "Why the pessimistic locks were executed many times within an update statement"
## Bug Report
I have deployed [minitrace](https://github.com/pingcap/tidb/pull/19557)  to my tidb cluster. It is indeed a useful tool. However, after I ran the tpcc workload, I checked the trace information.I was surprised to find that some update statements contain multiple records of pessimistic locks that look very similar. I don’t know why.

![image](https://user-images.githubusercontent.com/4

[2021-07-27 13:07] tisonkun commented on #20804
@ichn-hu given we have a good first issue label now, shall we close this issue?

![image](https://user-images.githubusercontent.com/18818196/127158449-e4172b38-bce8-491d-8c69-aa633ce09fbf.png)

https://github.com/pingcap/tidb/contribute

![image](https://user-images.githubusercontent.com/18818196/127158481-fd6f128d-9d72-4694-a7ff-722f2e6a7ec1.png)

From my experience this issue and the bot provide

[2021-07-27 13:28] Reminiscent opened #26668 "Support create more bindings for one SQL stmt"
Now, we only create one binding for one SQL stmt. If we already have a binding for the stmt, the binding will be replaced when we create a new binding for the same stmt. And the newly created binding will be used when we execute the stmt.

[2021-07-27 13:28] Reminiscent commented on #26668
/assign

[2021-07-27 14:18] Reminiscent commented on #26641
/assign

[2021-07-27 14:19] Reminiscent commented on #26551
/assign

[2021-07-27 17:06] tiancaiamao opened #26677 "PASS: http_handler_test.go:686: HTTPHandlerTestSuite.TestTiFlashReplica 7.439s"

[2021-07-27 17:06] tiancaiamao opened #26678 "PASS: tidb_test.go:1400: tidbTestSuite.TestGracefulShutdown 2.794s"

[2021-07-27 17:06] tiancaiamao opened #26679 "PASS: conn_test.go:587: ConnTestSuite.TestConnExecutionTimeout 12.412s"

[2021-07-27 17:22] #26537 closed

[2021-07-27 18:18] yudongusa commented on #26576
@hawkingrei the error message shows "**this is incompatible with sql_mode=only_full_group_by**" which means sql_mode is set to use only_full_group_by that requires columns on select list to be included in group by clause. IMO, this is expected behavior, right?

[2021-07-27 21:06] morgo commented on #26576
The error is not returned by MySQL, but it is by TiDB. I can verify this as described:

[code]

[2021-07-27 21:17] kevgeo commented on #26178
Hi @tisonkun, I have one doubt.
I have written a dummy program to check equivalent 'require' statements for 'assert' and have replaced all the assert statements .

How do we actually run the main_test.go file and verify the changes in filesort_test.go?

[2021-07-27 23:03] tisonkun commented on #26178
@kevgeo

For running from CLI, see also [this page](https://golang.org/doc/tutorial/add-a-test).

For running from GoLand, see also [this page](https://www.jetbrains.com/help/go/performing-tests.html#run-tests-from-the-context-menu).

You remind me to finished our development guide with [Write and Run Unit test](https://pingcap.github.io/tidb-dev-guide/get-started/write-and-run-unit-tests.html) :

[2021-07-27 23:35] morgo commented on #26576
I belive the issue is because the group by column is a primary key, and MySQL understands that expression 5 will not produce multiple rows, whereas TiDB does not.

MySQL's only-full-group-by check is actually quite sophisticated. I believe the property here is the "functional dependence" which is detailed in https://mysqlserverteam.com/mysql-5-7-only_full_group_by-improved-recognizing-functional-d

[2021-07-27 23:46] yudongusa commented on #26576
Thanks @morgo for the detailed explanation. Yes, similar to https://github.com/pingcap/tidb/issues/25089 , we will need to continue improving functional dependency with thorough design to avoid any incorrect output issue.

[2021-07-28 00:44] morgo commented on #26678
This tests that TiDB will wait at least 2 seconds before shutting down, so it has `2.6s` of sleep calls in it.

It is maybe possible to shrink one of the sleep calls down from 2s to 1s.

[2021-07-28 00:55] Reminiscent commented on #26641
@jingshanglu Did you set [the `prepared-plan-cache` variable](https://docs.pingcap.com/zh/tidb/stable/tidb-configuration-file#prepared-plan-cache) in config?
I can not reproduce this issue. In my local environment, this result is correct.
[code]

[2021-07-28 01:11] tiancaiamao commented on #25780
This problem can not reproduce now

[2021-07-28 01:11] #25780 closed

[2021-07-28 01:20] tiancaiamao commented on #26678
Yes, that's better ...

B.t.w,  I find this one, is it moved to integration test already? @SunRunAway

[code]

[2021-07-28 01:32] #26587 closed

[2021-07-28 01:45] morgo opened #26681 "Support information_schema.placement_rules"
Support an information_schema table to summarize all placement rules.

Relates to https://github.com/pingcap/tidb/issues/26582

[2021-07-28 02:26] #26147 closed

[2021-07-28 02:47] jingshanglu commented on #26641
ok, I try it.

[2021-07-28 02:47] zimulala opened #26683 "Optimize ”Add Index” for an explicit split region table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The SHARD_ROW_ID_BITS value is set or the table is SPLIT TABLE operated and a large amount of data is inserted into the table. Later, adding an index to the table, in a few cases, cause the backfill index to be slower than the write speed of the data in the table.

**Describe the feature you'd like:**

For tabl

[2021-07-28 02:59] #26641 closed

[2021-07-28 03:22] tisonkun commented on #14931
another instance

[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/20817/pipeline

[2021-07-28 03:23] tisonkun opened #26684 "Unstable test `analyze_test.go:950: testSerialSuite2.TestIssue20874`"
[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/20817/pipeline

[2021-07-28 03:24] qw4990 commented on #26569
@tiancaiamao Could you take a look at this?

[2021-07-28 03:28] #26415 closed

[2021-07-28 03:45] lysu commented on #26624
I have no idea how to improve it, and maybe move to some to other slow task CI?, original author @zimulala  PTAL~

[2021-07-28 04:04] jiyfhust opened #26686 ""load privilege failed" when autocommit is off"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

mysql> set global  autocommit = 0;

$ tiup cluster stop XXX

$ tiup cluster start XXX

wait some time, about 20 min,  when gc_safe_point > cluster start time.

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

tidb log:

[2021/07/27

[2021-07-28 04:05] jiyfhust commented on #26686
i want to make a pull request for it.

[2021-07-28 04:37] XuHuaiyu commented on #26348
This problem happened because of that the result precision of `cast decimal as double` differs from MySQL:
[code]

[code]

[2021-07-28 04:46] #26180 closed

[2021-07-28 05:22] yedamao commented on #26428
/assign

[2021-07-28 05:36] yeyypp commented on #26182
/assign

[2021-07-28 05:38] darren opened #26688 "different behavior between mysql and tidb about use clause in transaction"
## Bug Report

### 1. Minimal reproduce step (Required)

The actual problem comes from the `syncer` tool  which is deprecated now, we have not switched to `DM` yet.

[code]

### 2. What did you expect to see? (Required)

MariaDB(10.3.29) produces: `OK`

### 3. What did you see instead (Required)

TiDB(v5.1.0) produces ：`Error 1046: No database selected`

### 4. What is your TiDB version? (Required

[2021-07-28 05:51] buggithubs opened #26689 "TiDB 5.0.2 Panic"
## General Question

Error encountered while executing SQL in online environment

[code]

TiDB version

[code]

[2021-07-28 05:59] tisonkun commented on #26182
@yeyypp it seems @jyz0309 assigned himself days ago. You may first ping @jyz0309 to see whether it is already started.

[2021-07-28 06:00] tisonkun commented on #26182
... and wait for a while said a week or half.

[2021-07-28 06:08] #25208 closed

[2021-07-28 06:09] tomatopunk commented on #26156
/assign

[2021-07-28 06:35] rleungx opened #26692 "Support alter table attributes to add label rules"
## Development task

[2021-07-28 06:43] guo-shaoge commented on #26461
plan of 4.0:

    mysql> explain select (select a) from t;
    +-------------------------------+----------+-----------+---------------+--------------------------------+
    | id                            | estRows  | task      | access object | operator info                  |
    +-------------------------------+----------+-----------+---------------+--------------------------------+
    | Proje

[2021-07-28 06:44] #26423 closed

[2021-07-28 06:48] guo-shaoge commented on #26461
`Projection_8`'s output is wrong. The output join row of `Apply_10` is `| t.a | output of MaxOneRow_13`. So the output index of `Projection_8` should be 0.

You can check the `Projection.Expr.Index` after PlanBuilder is done.

Looks like the root cause is [here](https://github.com/pingcap/tidb/blob/4f919b07f8f013e48521894c70cb69004f43c622/planner/core/expression_rewriter.go#L953), but I have no id

[2021-07-28 06:49] rleungx opened #26693 "Support drop table for label rule"
## Development task

[2021-07-28 06:50] tisonkun commented on #26156
@tomatopunk thanks for taking over this issue! `distsql` contains essential execution logic, you can always ask for help and I suggest you go through the execution logic first.

[2021-07-28 06:51] rleungx opened #26694 "Support showing label rule through information schema table"
## Development task

[2021-07-28 06:55] yedamao commented on #26427
/assign

[2021-07-28 07:13] mjonss commented on #26681
/assign @mjonss

[2021-07-28 07:15] wjhuang2016 opened #26697 "prepareplan cache doesn't work for expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Enable the prepare plan cache.
[code]
### 2. What did you expect to see? (Required)
IndexRangSscan
### 3. What did you see instead (Required)
TableFullScan
### 4. What is your TiDB version? (Required)
master

[2021-07-28 07:44] #26424 closed

[2021-07-28 08:22] #23815 closed

[2021-07-28 08:24] seiya-annie commented on #25812
[out_of_index.log](https://github.com/pingcap/tidb/files/6891313/out_of_index.log)

[2021-07-28 08:25] seiya-annie commented on #25812
reproduce steps:
[code]

[2021-07-28 08:37] guo-shaoge commented on #26461
Root cause: `Projection_14`'s output the string form of bit value [here](https://github.com/pingcap/tidb/blob/72807efe20db4ce8f3f01066df877338aea926de/expression/chunk_executor.go#L124).

[2021-07-28 08:42] #26422 closed

[2021-07-28 08:58] jingshanglu opened #26703 "grant references on test.* to ${role_name} ERROR"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
grant successful

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

[code]
### reason
may be relate to
[code]

[2021-07-28 09:05] tiancaiamao commented on #26624
And another problems is ... this test seems to run twice

[2021-07-28 09:12] rleungx opened #26704 "Support alter table partition attributes to add label rules"
## Development task

[2021-07-28 09:14] seiya-annie commented on #25812
[conn.go:801] ["connection running loop panic"] [conn=149] [lastSQL="select * from t1 where c_str > some (select c_str from t2 where c_decimal < 5) for update"] [err="runtime error: index out of range [-1]"] [stack="goroutine 169461 [running]:\ngithub.com/pingcap/tidb/server.(*clientConn).Run.func1(0x3c13118, 0xc002328570, 0xc0000df400)\n\t/home/jenkins/agent/workspace/optimization-build-tidb-linu

[2021-07-28 09:18] lysu commented on #26624
this package has two`func TestT(t *testing.T) `, maybe remove one of them can avoid this.

[2021-07-28 10:02] #24237 closed

[2021-07-28 10:19] ChenPeng2013 commented on #26461
The developer think that only bit columns in subqueries are affected，so severity is downgraded to  major

[2021-07-28 10:21] #20804 closed

[2021-07-28 10:34] zhouqiang-cl commented on #24010
happend again

[2021-07-28 10:39] zhouqiang-cl commented on #25187
happends again in https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/21010/nodes/53/steps/64/log/?start=0

[2021-07-28 10:58] #26281 closed

[2021-07-28 11:22] hawkingrei opened #26709 "Time Zone Support is not compatible with mysql (not bug)"
## Enhancement
In tidb, Only the values of the Timestamp data type is affected by time zone. This is because the Timestamp data type uses the literal value + time zone information. Other data types, such as Datetime/Date/Time, do not have time zone information, thus their values are not affected by the changes of time zone.

In MySQL 8.0.19 and later, you can specify a time zone offset when insert

[2021-07-28 11:43] yeyypp commented on #26413
/assign

[2021-07-28 13:10] winoros commented on #26507
fixed by https://github.com/pingcap/tidb/pull/25311
will be released in v5.1.1

[2021-07-28 13:10] #26507 closed

[2021-07-28 13:24] jyz0309 commented on #26182
@yeyypp Hello, I am sorry that I have no time to do this issue recently, if you want to do it, welcome~ And if you have any questions, just ask me~

[2021-07-28 13:35] winoros commented on #25812
It's strange that we cannot reproduce it on the master branch even if it's a branch before we checkout the v5.1 branch

[2021-07-28 13:50] winoros commented on #26547
I guess this is caused by OOM. I'll contact you for more information.

[2021-07-28 13:50] #26397 closed

[2021-07-28 13:58] qw4990 commented on #26439
Close since this is fixed by #23699 .

[2021-07-28 13:58] #26439 closed

[2021-07-28 15:07] feitian124 commented on #26411
/assign

[2021-07-28 15:10] feitian124 commented on #26420
/assign

[2021-07-28 16:09] winoros commented on #26138
closed via https://github.com/pingcap/tidb-test/pull/1249

[2021-07-28 16:09] #26138 closed

[2021-07-28 16:12] winoros commented on #25270
This it's bug caused by golang, changed in https://github.com/pingcap/tidb/pull/25789/files#diff-242b6560708c7b355e87f16df635a3b0d235ff9f12fe72456738db8df30d8ee0R599
It really strange.

[2021-07-28 16:12] #25270 closed

[2021-07-28 16:48] kolbe opened #34201 "error message suppressed when using tls="preferred""

[2021-07-28 17:19] morgo commented on #25272
I believe I might have figured out the cause of this! It is in this function:
https://github.com/pingcap/tidb/blob/c70662bbecd0bd2a4db62e15bc0393f3aaf55906/domain/sysvar_cache.go#L112-L146

The Lock is only held when replacing the cache, not when reading the table values (`svc.fetchTableValues(ctx)`), so it's possible that the following can occur:

- Updated Request 1 starts, reads table tables.
-

[2021-07-28 17:24] morgo commented on #25272
The only other possibility is that `GetGlobalVar` is failing, and the default is being substituted:
https://github.com/pingcap/tidb/blob/c70662bbecd0bd2a4db62e15bc0393f3aaf55906/session/session.go#L1118-L1129

But I don't think this is the case, since the line above (`select @@global.max_connections;`) is using exactly the same function call.

[2021-07-28 22:24] morgo commented on #26709
@hawkingrei can you include a testcase for the issue?

[2021-07-29 00:27] morgo commented on #14558
Here is an update to the EXPLAIN output in master:
[code]

So what this is showing is different to the earlier output; tikv is able to use the index on `(e)`, but it won't be selected without `FORCE INDEX (e)`. This is not a bug however; the clustered index is more efficient here since all the data is in one region.

If I try some other examples, it uses the index fine:

[code]

So I am going to g

[2021-07-29 00:27] #14558 closed

[2021-07-29 00:34] morgo commented on #14558
The related issue to track the work is: https://github.com/pingcap/tidb/issues/23619

[2021-07-29 02:32] youjiali1995 opened #26716 "unexpected 'pessimistic lock retry limit reached'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Run https://github.com/pingcap/qa/tree/master/bank with `--transaction "open:100%, verify: 0, intsettle: 0"  --threads 1000`.

### 2. What did you expect to see? (Required)
No `pessimistic lock retry limit reached` error and the latency of `AccRquireNumber()` is linearly pro

[2021-07-29 02:40] tomatopunk commented on #26156
Get! I quick scan to get a bird's-eye view of the code, is there anything that i should special attention to?

[2021-07-29 02:42] zhouqiang-cl opened #26717 "Unit test take longer then 3 seconds in CI"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/21155/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-07-29 02:46] #26518 closed

[2021-07-29 02:51] zhouqiang-cl opened #26718 "data race in `telemetry_test.TestReport`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/8120/nodes/108/steps/276/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Require

[2021-07-29 03:03] tiancaiamao commented on #26717
http_handler_test.go  should have been fixed in https://github.com/pingcap/tidb/pull/26546
And others should be in the whitelist ...
I guess the PR is stale, let's see how it works after merge master

[2021-07-29 03:03] lcwangchao commented on #26582
/assign lcwanghcao

[2021-07-29 03:04] lcwangchao commented on #26582
/assign lcwangchao

[2021-07-29 03:08] tisonkun commented on #26156
@tomatopunk not quite special if you don't learn "distsql" ever. "distsql" of TiDB is different from that of CRDB, but that's a noun problem.

[2021-07-29 03:30] ChenPeng2013 opened #26719 "union scan result error when using dynamic mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
release-5.0 & release-5.1 & master
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-29 03:32] ChenPeng2013 commented on #26719
Dynamic Pruning Mode for Partitioned Tables  is experimental feature

[2021-07-29 03:43] hawkingrei commented on #26709
I find the problem when i run the test in the django orm.

[2021-07-29 03:47] tiancaiamao commented on #26227
I can't reproduce this bug too, so it maybe cause by the overflow ...

We can leave the `used = append(used, int(idx))` as an enhancement when `[posLow, posHigh]` range is too large.

Since it can't reproduce, I think we can close this issue. @zyguan @qw4990

[2021-07-29 04:13] #26709 closed

[2021-07-29 04:15] hawkingrei commented on #26709
i think this could be a testing issue. so closed.

[2021-07-29 04:45] guo-shaoge commented on #25243
MySQL 5.6 is same as TiDB.

    Server version: 5.6.51 Source distribution

    mysql> (select * from t) union all (select * from t1);
    Field   1:  `col_62`
    Catalog:    `def`
    Database:   ``
    Table:      ``
    Org_table:  ``
    Type:       STRING
    Collation:  binary (63)
    Length:     182
    Max_length: 182
    Decimals:   0
    Flags:      BINARY

    +-----------------------

[2021-07-29 05:40] tiancaiamao commented on #25254
can't reproduce +1

[2021-07-29 05:52] guo-shaoge commented on #26442
Same reason as #24997

[2021-07-29 05:53] guo-shaoge commented on #24997
Also remember to verify following case in #26442

    create table a(b timestamp default '2006-08-31');
    replace a values();
    SELECT b FROM a WHERE not(b BETWEEN 'o' AND 'a');

[2021-07-29 05:53] #26442 closed

[2021-07-29 06:10] zhouqiang-cl commented on #24817
happend again: https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/6893/pipeline

[2021-07-29 06:13] zhouqiang-cl opened #26722 "Tracking Unstable Timeout cases"
- [ ] [sort_test.go:91: testSerialSuite1.TestIssue16696	4.239s](https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/21182/pipeline)
- [ ] [db_test.go:561: testDBSuite7.TestCancelAddIndex	4.012s](https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/21554/pipeline)

[2021-07-29 06:15] tisonkun commented on #26718
possibly fixed by https://github.com/pingcap/tidb/pull/26650#discussion_r678794721

[2021-07-29 06:17] darren commented on #25254
it is fixed in 5.0.3  (possibly) by 7359a15725be5e265602f07398a3e1f075b5ccf6

[2021-07-29 06:23] #26227 closed

[2021-07-29 06:23] zhouqiang-cl commented on #26538
happend again https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/6888/nodes/104/steps/282/log/?start=0

[2021-07-29 06:25] guo-shaoge commented on #26434
Behavior of MySQL is inconsistent. IMO, it's a MySQL's bug([bug report](https://bugs.mysql.com/bug.php?id=104450&thanks=4))

    drop table if exists t1;
    create table t1(col_datetime datetime, col_enum enum('ABC'), col_double double);
    insert into t1 values('2030-05-19', 'ABC', 0);
    select 1 from t1 where col_enum IN (select col_double where col_datetime);
    select 1 from t1 where col_

[2021-07-29 06:32] guo-shaoge commented on #26703
@morgo Do you have any idea? I am not faimilar with the related code.

[2021-07-29 06:34] bb7133 commented on #26538
PTAL @tangenta

[2021-07-29 06:54] guo-shaoge commented on #26407
Same as #24997

[2021-07-29 06:54] #26407 closed

[2021-07-29 07:08] #26414 closed

[2021-07-29 07:13] ChenPeng2013 commented on #23897
Release-5.1 still don't fix this issue
[code]

[2021-07-29 07:32] tisonkun commented on #9519
@rleungx is it still valid? From my local env it returns

[code]

cc @zhouqiang-cl

[2021-07-29 07:57] wjhuang2016 opened #26727 "global binding doesn't work for expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Last query uses the expression index.
### 3. What did you see instead (Required)
TableFullScan
### 4. What is your TiDB version? (Required)
master

[2021-07-29 07:58] Reminiscent commented on #26727
/assign

[2021-07-29 08:39] tisonkun commented on #26020
@xuyifangreeneyes can we make a proposal follow [design doc process](https://github.com/pingcap/tidb/blob/master/docs/design/README.md)?

[2021-07-29 08:45] tisonkun commented on #26020
Also this document is private that cannot be accessed.

[2021-07-29 09:21] xuyifangreeneyes commented on #26697
/assign

[2021-07-29 09:34] #26419 closed

[2021-07-29 09:34] tisonkun commented on #26108
Fixed by a series of PR referred above. With  https://github.com/pingcap/tidb/pull/26712 merged, what we have to do is only migrating tests and add few methods of Result or TestKit on demand.

Closing...

[2021-07-29 09:34] #26108 closed

[2021-07-29 10:00] #26430 closed

[2021-07-29 10:06] xxchan commented on #26170
/assign

[2021-07-29 12:41] xuyifangreeneyes commented on #26020
sorry, check the link: https://docs.google.com/document/d/1pzm6LV7jbPK2oPCMFe-iEUXu7Jf7R5cvaSq9Lgo-a1U/edit?usp=sharing

[2021-07-29 12:41] xuyifangreeneyes commented on #26020
Sure, I will write one.

[2021-07-29 13:14] tisonkun opened #26731 "Enable goimports linter"
## Enhancement

We actually ask for follow goimports style but miss to require it.

[2021-07-29 13:16] #26417 closed

[2021-07-29 14:34] #26282 closed

[2021-07-29 14:42] #26171 closed

[2021-07-29 16:20] morgo commented on #26703
The test can be simplified to:
[code]

Certain privileges can only be specified on a global level, and not on a per-DB level (such as `REPLICATION CLIENT`, `CONFIG`, etc). It looks like `references` should be [in this list of DB-privileges](https://github.com/pingcap/parser/blob/ae2c4497c07b4eb9c1b3b6dd7eb9b50f09f0679a/mysql/privs.go#L300), but it's not.

[References](https://dev.mysql.com/doc/ref

[2021-07-29 17:11] tiancaiamao commented on #25272
How about let  `LoadSysVarCacheLoop`  the only place to call  `RebuildSysVarCache`?

For example, you can

[code]

[2021-07-29 20:37] morgo commented on #18206
This should have been fixed by #20622. We can reopen if that's not the case.

[2021-07-29 20:37] #18206 closed

[2021-07-29 20:37] morgo commented on #18208
This should have been fixed by #20622. We can reopen if that's not the case.

[2021-07-29 20:37] #18208 closed

[2021-07-29 21:01] morgo commented on #25272
@tiancaiamao This is also used by https://github.com/pingcap/tidb/blob/1e5000c631337629c268a317f06dfb4db956a49a/domain/sysvar_cache.go#L47-L58 which is part of the `SysVarCache` and can't call `domain.NotifyUpdateSysVarCache`.

I could add the channel to the `SysVarCache` instead of a mutex, but my hope is we figure this out better for https://github.com/pingcap/tidb/issues/24700 so that the Loops

[2021-07-29 22:08] morgo opened #26736 "Deprecate the use of "hidden" variables"
## Enhancement

As discussed by our customer success team - the use of "hidden" variables is difficult for debugging. This is an issue to track the change. A proposal will be added shortly.

[2021-07-30 02:53] AilinKid commented on #26688
@morgo   do you reckon that this may have something linked with multi statement switch?

[2021-07-30 02:54] AilinKid commented on #26686
That's will be great! if you have any problem with this, feel free to ask us

[2021-07-30 02:55] qw4990 commented on #26719
A minimal reproducible case:
[code]

[2021-07-30 03:00] morgo commented on #26688
I don't think it is. In this case the user has explictly opted in to multi-statement, so the switch is non-applicable.

It looks like a different bug, where the `use db` command probably only applies to the next statement, and not the current group of statements. I would still classify it as a protocol bug though, and I can take a look.

[2021-07-30 03:14] morgo commented on #26688
I can confirm this bug still exists in 3.0 and 4.0, so it has been present for some time.

[2021-07-30 03:22] xhebox commented on #23748
Changed severity since it is neither a tracking issue or a concrete bug.

[2021-07-30 03:32] pcqz opened #26739 "operator 'in' partition pruning doesn't take effect on date partition key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
v5.1.0

[2021-07-30 03:36] sylzd commented on #25934
/assign

[2021-07-30 03:42] morgo commented on #25781
I think this might be a duplicate of https://github.com/pingcap/tidb/issues/25272 - I'll have to check.

[2021-07-30 04:07] #25884 closed

[2021-07-30 04:51] #26099 closed

[2021-07-30 05:05] #26731 closed

[2021-07-30 05:11] morgo commented on #19097
Changing it to minor since it's a minor compatibility issue, not a bug.

[2021-07-30 06:23] tisonkun opened #26740 "migrate test-infra to testify for `meta` pkg"

[2021-07-30 06:23] tisonkun opened #26741 "migrate test-infra to testify for `meta/autoid` pkg"

[2021-07-30 06:23] tisonkun opened #26742 "migrate test-infra to testify for `metric` pkg"

[2021-07-30 06:23] tisonkun opened #26743 "migrate test-infra to testify for `owner` pkg"

[2021-07-30 06:24] tisonkun opened #26744 "migrate test-infra to testify for `plugin` pkg"

[2021-07-30 06:24] tisonkun opened #26745 "migrate test-infra to testify for `plugin/conn_ip_example_test.go`"

[2021-07-30 06:24] tisonkun opened #26746 "migrate test-infra to testify for `privilege/privileges` pkg"

[2021-07-30 06:24] tisonkun opened #26747 "migrate test-infra to testify for `types` pkg"
* [x] #27708
* [x] #27994
* [x] #27995
* [x] #27996
* [x] #27997
* [x] #27998
* [x] #27999
* [x] #28000
* [x] #28001
* [x] #28002
* [x] #28003
* [x] #28004
* [x] #28005
* [x] #28006
* [x] #28007
* [x] #28008
* [x] #28009
* [x] #28010

[2021-07-30 06:24] tisonkun commented on #26747
You may try to do file by file instead of one big PR handle the whole package which is hard to review.

[2021-07-30 06:57] jiyfhust commented on #26686
ok, I have made a pr， and waiting for to be reviewed.

[2021-07-30 07:09] #26278 closed

[2021-07-30 07:09] #26433 closed

[2021-07-30 07:16] xhebox commented on #23977
@morgo again https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/21455/pipeline/,

[code]

[2021-07-30 07:20] xhebox commented on #23977
I think it helps to show the actual warning rather than the count, then log will be much more helpful next time...

[2021-07-30 07:35] lysu commented on #23874
[code]

@guo-shaoge but why point-get doesn't report error, so for another side, delete from index behavior(or point-get) is different with MySQL and table scan behavior?  😢

[2021-07-30 07:41] #26049 closed

[2021-07-30 07:50] rleungx commented on #23977
It's a known problem related to https://github.com/pingcap/parser/issues/1268. FYI @xhebox

[2021-07-30 07:56] mjonss opened #26750 "Out-of-range errors not fully MySQL compatible"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

TiDB handling of out-of-range differs from MySQL.
Here is an example for `int`:
TiDB:
[code]
### 2. What did you expect to see? (Required)
MySQL:
[code]
### 3. What did you see instead (Required)
TiDB:
[code]
### 4. What is your TiDB version? (Required)

Master:
[code]

[2021-07-30 08:33] qw4990 commented on #26719
Root Cause:
1. When processing a selection in a transaction, `UnionScan` encodes rows into keys and looks up them in its buffer to check if these rows have been deleted(see [here](https://github.com/pingcap/tidb/blob/release-5.1/executor/union_scan.go#L222));
2. When encoding these rows, their partition table IDs are needed, but in `dynamic-mode`, `UnionScan` cannot know the actual partition table

[2021-07-30 08:59] #25932 closed

[2021-07-30 09:00] ChenPeng2013 opened #26754 "subquery with explicit partition selection"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
release-5.0 & release-5.1 & master
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-07-30 09:16] unconsolable commented on #26745
/assign

[2021-07-30 09:21] #26692 closed

[2021-07-30 09:42] yedamao commented on #26742
/assign

[2021-07-30 10:17] aytrack opened #26758 "query result is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
release-5.0
[code]

master(3642e8768768) && release-5.1  && release-4.0 (v4.0.14)
[code]

### 4. What is your TiDB version? (Required)

[2021-07-30 10:22] unconsolable commented on #26744
/assign

[2021-07-30 10:55] bb7133 commented on #26458
It is very likely that this has been fixed by https://github.com/PingCAP-QE/ci/pull/339, close it for now.

[2021-07-30 10:55] #26458 closed

[2021-07-30 11:43] hu00yan commented on #26743
/assgin

[2021-07-30 11:43] hu00yan commented on #26743
/assign

[2021-07-30 11:45] #23977 closed

[2021-07-30 12:22] hu00yan commented on #26743
/assign

[2021-07-30 13:36] bb7133 commented on #26456
I don't think this is a bug, actually, we didn't make `DROP TABLE` atomic for the consideration of the compatibility of MySQL 5.7. This script in the issue can be reproduced in MySQL 5.7 but not MySQL 8.

And it is not only related to 'temporary table', you can see that the 'DROP' for multiple physical tables is not atomic either.

I think it's better to:
- Hold the PR #26464 until we decide to be

[2021-07-30 14:00] bb7133 commented on #26254
@lcwangchao @ChenPeng2013 According to [MySQL manual](https://dev.mysql.com/doc/refman/5.7/en/create-view.html):

The behavior of `FOR UPDATE` is undefined, so I think we can keep it as a bug(considering MySQL compatibility), but make the severity of this bug lower.

[2021-07-30 15:53] morgo commented on #26456
I prefer 'make DROP TABLE atomic for all'. The fact that MySQL 5.7 is not atomic is not really a feature that we need to strive for compatibility with. When there are discrepancies between 5.7 and 8.0 behavior we have usually been picking the 8.0 behavior for quite a while too.

[2021-07-31 01:42] feitian124 commented on #26420
i am alomst finish, see https://github.com/feitian124/tidb/tree/issue-26420
but i must fix  2 failed unit test.

[code]

the orignal test implemented in `gocheck suite`, means 2 side effects:
- whole suite share one `stmtSummaryByDigestMap` instance
- the tests within a suite run in alphabetical order

while migrated to testify, i did not use suite, so it very likely the failed 2 is caused by shar

[2021-07-31 02:05] tisonkun commented on #26420
You don't have to rely on global variable and just create ssmap for each test. Also in this way you can run test in parallel.

We don't keep bad smell legacy code and do mechanically migration.

You can take a look at [patch.diff.txt](https://github.com/pingcap/tidb/files/6910502/patch.diff.txt).

[2021-07-31 02:15] ChenPeng2013 opened #26762 "regression issue: sql_mode=STRICT_TRANS_TABLES insert invalid date Successfully"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
v4.0.10
[code]

### 3. What did you see instead (Required)
release-4.0 & release-5.0 & release-5.1 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-07-31 02:44] BurtonQin opened #26763 "ddl/ddl.go: Recv from chan `task.err` may block forever when send is skipped"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

We found this bug through a WIP Fuzzing project by system-pclub, PSU

### 2. What did you expect to see? (Required)
In ddl_worker.go, `limitDDLJobs()` calls `addBatchDDLJobs()` on L272 if selecting the first case, which in turn calls sending operation `task.err <-err` on L3

[2021-07-31 02:46] morgo opened #26764 "Planner will not consider IndexMerge when an alternative (non selective) index exists"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

I expect more or less the same query plan from both queries.

The column `id` is a unique index. It seems that because an index is considered for `id != 107053556` (but not useful), IndexMerge is not considered at all.

[2021-07-31 02:52] ChenPeng2013 opened #26765 "ERROR 1493 (HY000): VALUES LESS THAN value must be strictly increasing for each partition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
release-5.1 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-07-31 02:59] ChenPeng2013 commented on #26765
case2:

[code]

expect
[code]

got
[code]

[2021-07-31 03:40] ChenPeng2013 opened #26766 "expected invalid default value for `date default '2020-00-00'`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
v4.0.12 & release-5.0 & mysql 8.0.21
[code]

### 3. What did you see instead (Required)
release-4.0 & release-5.1 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-07-31 05:50] yedamao commented on #26740
/assign

[2021-07-31 11:03] unconsolable commented on #26741
/assign

[2021-08-01 03:07] Reminiscent commented on #26727
Please see the [doc](https://docs.pingcap.com/zh/tidb/stable/sql-plan-management#%E5%88%A0%E9%99%A4%E7%BB%91%E5%AE%9A) for more details. In short, session binding will block global binding, even if the session binding is deleted.

[2021-08-01 03:16] bb7133 commented on #26766
Hi @ChenPeng2013 thanks for reporting it. However, I don't think it's a critical bug since no corruption is made.

[2021-08-01 03:22] bb7133 commented on #26766
This bug is introduced by #24174, PTAL @tangenta

[2021-08-01 03:57] bb7133 commented on #25437
I agree with @mjonss for 'keeping it simple(and clear)' and there is a workaround for negative partition values.

[2021-08-01 04:06] bb7133 commented on #26765
It looks like the bug was introduced by #23428 but actually, it is not, the following case can be reproduced in v4.0, v5.0:

[code]

Root cause of this bug is that, when ``NO_UNSIGNED_SUBTRACTION`' is set, TiDB tries to evaluate/cast the value as signed and it reports an error when an overflow happens.

PTAL @xiongjiwei, I think we can check the related logic of MySQL source code for a better comp

[2021-08-01 05:20] xxchan commented on #26554
a smaller reproduction:
[code]

[code]
It seems that `HashAgg` children caused the problem? (I don't know how to fix it 🤔)

[2021-08-01 13:50] sylzd commented on #25935
/assign

[2021-08-01 13:50] sylzd commented on #25936
/assign

[2021-08-01 14:02] zhouqiang-cl opened #26776 "Unstable test `tidbTestSerialSuite.TestTLS`"
## Bug Report
[code]

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/7200/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-01 14:02] zhouqiang-cl commented on #26776
Seems it happends every time

[2021-08-01 14:07] sylzd commented on #26776
Should we fix it now?

[2021-08-01 14:13] zhouqiang-cl commented on #26776
Maybe as soon as possible, but it sunday, I think you can skip it like https://github.com/pingcap/tidb/pull/25170/files and fix it on work day

[2021-08-01 14:20] sylzd commented on #26776
Got it~

[2021-08-01 18:26] morgo opened #26778 "attributes is now a reserved word"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

This is used in the integration test-suite, and seems quite likely that it could be used in an application:

[code]

### 2. What did you expect to see? (Required)

Success

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[co

[2021-08-01 18:28] morgo commented on #26778
This is a regression of https://github.com/pingcap/tidb/pull/26511

[2021-08-02 01:52] ChenPeng2013 opened #26779 "runtime error: index out of range [1] with length 1"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

using tikv store
[code]
### 2. What did you expect to see? (Required)
release-4.0 & release-5.1 & master
[code]

### 3. What did you see instead (Required)
release-5.0
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-02 02:14] aytrack commented on #26778
only can be reproduced on master

[2021-08-02 02:26] ryan-mei opened #26780 "What is the plan of open source TiFlash?"
## General Question

According to this issue: https://github.com/pingcap/tidb/issues/22553
TiFlash will be open source in 2021.

Now half a year has been passed, is there any more accurate roadmap for this?

[2021-08-02 02:46] Reminiscent commented on #26727
/close

[2021-08-02 02:46] #26727 closed

[2021-08-02 02:57] #26776 closed

[2021-08-02 02:57] rleungx commented on #26778
Sadly, it seems that "attributes" is not a good option, any better idea?

[2021-08-02 03:08] AilinKid commented on #26763
limitDDLJobs() chooses the second case is not a valid step, and the tasks are still accumulated in the limitJobCh waiting for the ddl restart.

By the way, how you guys reproduce this phenomenon? query ddl statement at the minute of killing the ddl?

[2021-08-02 03:21] #25447 closed

[2021-08-02 03:31] #26051 closed

[2021-08-02 03:32] ChenPeng2013 opened #26782 "wrong plan in prepare statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
release-4.0 & release-5.1 & master
[code]

### 3. What did you see instead (Required)
release-5.0
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-02 03:33] ChenPeng2013 commented on #26782
mysql> select connection_id();                                                                                                                 +-----------------+
| connection_id() |
+-----------------+
|               5 |
+-----------------+
1 row in set (0.00 sec)

mysql> execute stmt using @a;

[2021-08-02 04:31] #26745 closed

[2021-08-02 04:44] guo-shaoge commented on #26762
`2020-02-31` is a invalid datetime, so the parsed result is a ZeroTime.

In master/5.1/5.0, [CastVlue()](https://github.com/pingcap/tidb/blob/c89d071ae9e2a45bb7efd012df6d7fc1650ba3f6/table/column.go#L304) will not return ZeroTime instead of an error because only `NO_ZERO_DATE` is not set.

[2021-08-02 06:17] #26017 closed

[2021-08-02 06:17] #26320 closed

[2021-08-02 06:25] lysu commented on #26552
it can stable reproduced by change sql to

[code]

[2021-08-02 06:36] xiongjiwei commented on #23984
it happens on MySQL version 8.0.22.

[2021-08-02 06:47] #25729 closed

[2021-08-02 07:37] ChenPeng2013 opened #26790 "length(time(2)) is not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
release-5.1 & master & mysql 8.0.21
[code]

### 3. What did you see instead (Required)
release-4.0 & release-5.0
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-02 08:40] rleungx opened #26794 "Support drop partition for label rules"
## Development task

We should support deleting the corresponding attributes from a partition immediately once the partition is dropped. e.g., we execute the following SQL:
[code]
We can get the corresponding attributes for `p0` from PD.
Once we drop this partition,
[code]
We should not get any attributes of `p0` from PD.

[2021-08-02 08:57] #26401 closed

[2021-08-02 09:07] tangenta opened #26796 "unstable test testIntegrationPartitionSerialSuite.TestListPartitionOrderLimit"
[code]

[2021-08-02 09:38] wjhuang2016 opened #26797 "JSON expression error need to refine"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
ERROR 3753 (42000): Cannot create a functional index on a function that returns a JSON or GEOMETRY value.
### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-08-02 09:43] #26086 closed

[2021-08-02 09:47] zimulala commented on #24995
@AilinKid
https://github.com/pingcap/tidb/pull/25025 doesn't fix this issue ?

[2021-08-02 09:48] AilinKid commented on #24480
@pengdaqian2020 Thanks every much, are you interested with this bug? you can push a request to pingcap/tidb directly!

[2021-08-02 09:50] AilinKid commented on #24995
No

[2021-08-02 10:31] #26648 closed

[2021-08-02 10:44] Zeratulllll opened #26800 "Support clustered secondary index"
Support clustered secondary index. Avoid the cost of lookup the primary keys

[2021-08-02 10:51] #26742 closed

[2021-08-02 11:07] rebelice commented on #26334
close by https://github.com/pingcap/parser/pull/1278

[2021-08-02 11:07] #26334 closed

[2021-08-02 11:11] #26428 closed

[2021-08-02 11:19] #26173 closed

[2021-08-02 11:43] #26797 closed

[2021-08-02 11:50] sticnarf opened #26801 "TxnHeartbeat may start too late if locking the first keys takes too long"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Begin a pessimistic transaction T1.
2. In the first write SQL, write a lot of keys such as `delete * from t` from a big table. To reproduce the issue, this step should take longer than 20 seconds.
3. Mutate the keys that is already locked in step 2 from another transacti

[2021-08-02 11:59] sticnarf commented on #26801
The keep alive goroutine is [launched](https://github.com/tikv/client-go/blob/d535b62b62/txnkv/transaction/txn.go#L630) after [the keys are all locked](https://github.com/tikv/client-go/blob/d535b62b62/txnkv/transaction/txn.go#L581).

Locking the keys may involve multiple requests and the primary key is locked first. So, after all the keys are locked, the primary lock may have been expired.

When

[2021-08-02 13:03] tiancaiamao commented on #24428
That's weird... from the goroutine stack, the code seems blocked in bager engine... it might happen when the `runFlushMemTable` goroutine exit  exceptionally.

Can it reproduce?

[2021-08-02 13:19] dveeden commented on #22979
The tasks in the description that are still open are the onces for staticcheck and errcheck. However looking at the `Makefile` it looks like we already run those outside of `golangci-lint`. And there is `tools/check/errcheck_excludes.txt` and `staticcheck.conf` to configure those.

So what's left to do here? Change the `Makefile` to run these under `golangci-lint`? Remove excludes from the configs

[2021-08-02 13:48] BurtonQin commented on #26763
We found this bug by fuzzing the code from the entry point
https://github.com/pingcap/tidb/blob/fa71a0e46d427e8a7450a2dce27f8c0d4c02a45c/ddl/ddl_test.go#L60

[2021-08-02 13:50] zhouqiang-cl opened #26803 "mysql test error in gcol_select"
## Bug Report
[code]

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/5785/pipeline/87

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-08-02 14:19] dveeden commented on #13959
How does this relate to https://github.com/pingcap/tidb/issues/22979 ?

[2021-08-02 15:39] BurtonQin opened #26804 "ddl, store: some `select` operations may block forever"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

We found 5 blocking bugs through a WIP Fuzzing project by system-pclub, PSU.

### 2. What did you expect to see? (Required)

The `select` operation shall not block forever whatever the order of the concurrent messages.

### 3. What did you see instead (Required)

We found t

[2021-08-02 15:57] jyz0309 commented on #26747
/assign

[2021-08-02 16:00] BurtonQin opened #26805 "store/mockstore: Some `wg.Wait()` operations may block forever"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

We found 2 blocking bugs through a WIP Fuzzing project by system-pclub, PSU.

### 2. What did you expect to see? (Required)

The `wg.Wait()` operation shall not block forever whatever the order of the concurrent messages.

### 3. What did you see instead (Required)

We foun

[2021-08-02 16:22] Ranxy commented on #26746
/assign

[2021-08-03 01:35] wshwsh12 opened #26806 "Tmp-storage-quota can't take affect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Set tmp-storage-quota = 100 << 20 (100MB) in config.
Start the cluster and run the following SQLs:

[code]

### 2. What did you expect to see? (Required)
Sql should be canceled, because tmp-storage-quota is not enough.

### 3. What did you see instead (Required)
[code]
###

[2021-08-03 01:40] vivid392845427 opened #26807 "select return error:ERROR 1105 (HY000): runtime error:“ integer divide by zero occasionally” or ”index out of range“"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

tidb log:

1、index out of range [28] with length 28:

[code]

2、runtime error: integer divide by zero:

[code]

### 4. What is your TiDB version? (Required)

[

[2021-08-03 02:27] bb7133 commented on #25172
Close this issue since it is duplicated with #25287

[2021-08-03 02:27] #25172 closed

[2021-08-03 02:29] #24979 closed

[2021-08-03 02:35] bb7133 commented on #26456
Sure, let's do that.

[2021-08-03 02:36] pcqz opened #26810 "Set variable `tidb_skip_isolation_level_check` seems not work as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Set variable `tidb_skip_isolation_level_check` to on and exit
[code]

Login in to mysql and set unsupported isolation level
[code]

### 2. What did you expect to see? (Required)
After this variable is enabled, if setting unsupported tx_isolation, no error is reported.

### 3

[2021-08-03 02:54] tisonkun commented on #26684
another instance https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/22299/pipeline

[code]

[2021-08-03 02:56] tisonkun commented on #14931
another instance https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/22299/pipeline

[code]

[2021-08-03 03:01] lysu commented on #26807
@leiysky PTAL it seems caused by https://github.com/pingcap/tidb/pull/19799

[2021-08-03 03:01] #26456 closed

[2021-08-03 03:01] lysu commented on #26807
/cc @leiysky

[2021-08-03 03:02] bb7133 commented on #26684
PTAL @time-and-fate

[2021-08-03 03:10] bb7133 commented on #14931
PTAL @qw4990

[2021-08-03 03:15] bb7133 commented on #25783
I believe that it has been fixed by #26514

Close it and feel free to re-open it if reproduced.

[2021-08-03 03:15] #25783 closed

[2021-08-03 03:19] zimulala opened #26812 "Support GBK"
### Description

Currently, TiDB only supports ASCII, binary, latin1, UTF8, and UTF8MB4 character sets. This proposal aims to add a framework for character sets to TiDB to facilitate the support of other characters. This issue is used to support the GBK character set.
This issue tracks our progress in supporting GBK.

* [Weekly Report](https://docs.google.com/document/d/1KpVVRGwHYGoo696rya9OMolrfJ

[2021-08-03 03:19] zimulala opened #26813 "Encapsulate read and write functions, using x/text (fixed version) gbkDecoder and gbkEncoder transform functions."

[2021-08-03 03:20] zimulala opened #26814 "Add parser config, record the Encoding of the current parser, and handle the Restore function correctly"

[2021-08-03 03:20] zimulala opened #26815 "All ParseOneStmt/Parse usage checks"

[2021-08-03 03:20] zimulala opened #26816 "Support GBK for string-related built-in functions"
The reference of built-in functions: https://dev.mysql.com/doc/refman/8.0/en/string-functions.html

- [x] #28304
- [x] #28355
- [x] #28356
- [x] #28357
- [x] #28358
- [x] #28359
- [x] #28360
- [x] #28361
- [x] #28657
- [x] #28876
- [x] #29460
- [x] #29461
- [x] #29462 // do nothing
- [x] #29463

**Update: After some investigation, we found some common patterns in these functions. We introduce 2 in

[2021-08-03 03:20] zimulala opened #26817 "On the Coprocessor side, most string-related builtin functions need special processing after conversion from utf8"

[2021-08-03 03:20] zimulala opened #26818 "Support internal function `from_binary()` for new charset"

[2021-08-03 03:21] zimulala opened #26819 "Consider GBK character set when dealing with statistics information related issues"

[2021-08-03 03:21] zimulala opened #26820 "Special processing of GBK character set during ranger processing"

[2021-08-03 03:21] zimulala opened #26821 "Support gbk_bin on TiDB"

[2021-08-03 03:21] zimulala opened #26822 "Support gbk_bin on Coprocessor"

[2021-08-03 03:22] zimulala opened #26823 "Support for database, table, column character set when building database, table or adding column"

[2021-08-03 03:25] bb7133 commented on #11952
Close it since it is duplicated with #24995

[2021-08-03 03:25] #11952 closed

[2021-08-03 03:25] zimulala opened #26824 "Support setting character set operations, such as set character set gbk, set names gbk, set character_set_client = gbk, etc."

[2021-08-03 03:25] zimulala opened #26825 "Support correct display character set operations, such as show charset/collation"

[2021-08-03 03:30] bb7133 commented on #23951
According to https://github.com/tikv/tikv/issues/8883, it is by-design for now:

So I will change this issue to 'enhancement'.

[2021-08-03 03:35] guo-shaoge opened #26827 "Reduce lock contention in HashJoin"
## Enhancement
HashJoin use multiple JoinWorkers to probe HashTable concurently. But the HashTable use a **Lock** in RowContainer.GetRow(), to make sure it's ok when we want to flush RowContainer into disk.

But the lock contention is serious, especially when we have more JoinWorkers. The FlameGraph shows the CPU usage of Lock is 52% when tidb_hash_join_concurrency is 30.

We can eliminate the usa

[2021-08-03 04:05] ChenPeng2013 commented on #26803
[code]

expect
release-4.0 & release-5.0 & release-5.1
[code]

got
master
[code]

[2021-08-03 04:36] bb7133 commented on #25117
I don't think it's a bug, changed it to 'enhancement'.

[2021-08-03 05:35] zimulala opened #26831 "Porting GBK character set and related collation tests from mysql tests."

[2021-08-03 05:38] linw1995 opened #26832 "TiDB panic index out of range [4294967295] after long time tiup bench run"
## Bug Report

### 1. Minimal reproduce step (Required)

run command `tiup bench tpcc --warehouses 10 --parts 10 run -T 128 -p "xxxxx" -D bench -U bencher`

### 2. What did you expect to see? (Required)

`tiup bench` runs smoothly and works fine.

### 3. What did you see instead (Required)

TiDB is down and stderr outputs this

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-03 06:00] lysu opened #26833 "Defend against data inconsistency and improve its troubleshooting"
### Description

Currently,  some new features may introduce data inconsistency bugs, and we only can find them after `admin check` or `select by indexLookup`, following DML maybe write more inconsistent data after reading old inconsistent records, it's better to has

On the other hand, it's also hard for Customer/Supporter to troubleshoot data inconsistency problems.

This issue tracks our progre

[2021-08-03 06:20] zimulala opened #26834 "Adding an implicit switch to facilitate functionality before GA"

[2021-08-03 06:23] rleungx opened #26835 "Support truncate table for label rules"
## Development task

[2021-08-03 06:33] rleungx opened #26836 "Support truncate partition for label rules"
## Development task

[2021-08-03 06:35] #24130 closed

[2021-08-03 06:38] lcwangchao commented on #26582
Parser finished with pr:

- https://github.com/pingcap/parser/pull/1292

[2021-08-03 06:45] xuyifangreeneyes opened #26838 "Comment on how to add TiDB specific system variable is outdated"
## Enhancement

In `sessionctx/variable/tidb_vars.go`, there is comment about steps to add a new TiDB specific system variable. However, the steps are outdated after refactor. For example, there is no `session.loadCommonGlobalVarsSQL` mentioned at step 7 and there is no `ValidateSetSystemVar` mentioned at step 8. Besides, there seems no need to update `variable.SetSessionSystemVar`. Maybe we can u

[2021-08-03 07:01] xuyifangreeneyes commented on #26838
/sig sql-infra

[2021-08-03 07:02] xuyifangreeneyes commented on #26838
@morgo PTAL

[2021-08-03 07:43] #26796 closed

[2021-08-03 08:07] dveeden opened #26842 "Logging related to `SELECT... FOR UPDATE NOWAIT` is too verbose"
## Bug Report

### 1. Minimal reproduce step (Required)

T1:
[code]

T2:
[code]

### 2. What did you expect to see? (Required)

The second transaction should fail with:
[code]
This is expected and should not result in much logging.

### 3. What did you see instead (Required)

[code]
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-03 08:09] #24387 closed

[2021-08-03 08:20] dveeden commented on #26842
TiDB gets this error via client-go from TiKV:

https://github.com/tikv/client-go/blob/d535b62b62f97dc6513e0c41fefe009c6120807d/txnkv/transaction/pessimistic.go#L215

[2021-08-03 08:42] tisonkun commented on #26022
https://github.com/pingcap/tidb/pull/26752

[2021-08-03 08:45] zhouqiang-cl commented on #25187
happend again
https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/22342/nodes/62/steps/73/log/?start=0

[2021-08-03 08:47] #26199 closed

[2021-08-03 08:50] qw4990 commented on #25187
[code]

[2021-08-03 08:54] VoxT opened #26846 "Query using index has a duplicated result."
## Bug Report

We have 2 TiDB clusters, one master and one slave. Data replicated from master to slave by TiDB-binlog.
When query by index on the slave, the result has a duplicated row, but the result is corrected when executing the same query on master.

Currently, the bug only affected one record, no other duplicate record found so far.

### 1. Minimal reproduce step (Required)

Table schema:
[c

[2021-08-03 09:05] zhouqiang-cl commented on #26539
happend again in https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/8378/nodes/108/steps/298/log/?start=0

[2021-08-03 09:10] zhouqiang-cl commented on #24679
happend again in https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/22461/nodes/62/steps/73/log/?start=0

[code]

[2021-08-03 09:25] #26306 closed

[2021-08-03 09:32] #25745 closed

[2021-08-03 09:32] tirsen opened #26849 "Support binding query with"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We have lots of queries with bad query plans that we would like to create bindings for. Unfortunately they use IN-clauses with hundreds of parameters. It's not feasible to create bindings for each of these queries.

**Describe the feature you'd like:**

Syntax and semantics needs to be defined.

For example we

[2021-08-03 09:47] #26803 closed

[2021-08-03 10:23] #25187 closed

[2021-08-03 11:11] #26427 closed

[2021-08-03 11:19] tisonkun commented on #26289
Hi @tiancaiamao , given that we have method to require duration on single test, do you still want to implement a time limiter and enable it on some tests? If so, you can comment those tests and we can start using our fixture from there.

[2021-08-03 11:20] tisonkun opened #26854 "migrate test-infra to testify for `executor`"
* [x] #26160
* [x] #27097
* [x] #27404
* [x] #27459
* [x] #28074
* [x] #28075
* [x] #28076
* [x] #28440
* [x] #28498
* [x] #28562
* [x] #28563
* [x] #28564
* [x] #28565
* [x] #28566
* [x] #28567
* [x] #28568
* [x] #28569
* [x] #28570
* [x] #28571
* [x] #28572
* [x] #28573
* [x] #28574
* [x] #28575
* [x] #28576
* [x] #28577
* [x] #28578
* [x] #28579
* [x] #28580
* [x] #28581
* [x] #28582
* [x] #285

[2021-08-03 11:21] tisonkun commented on #26854
This package is too complex to have its own issue and we'd migrate then in multiple batches. Please comment the filename you want to do and I will update the checklist.

[2021-08-03 11:28] tisonkun opened #26855 "migrate test-infra to testify for `expression`"
You may try to analyze first and spawn more subtasks instead of one big PR handle the whole package which is hard to review.

* [x] #27904
* [x] migrate test-infra to testify for `expression/bench_test.go`
* [x] migrate test-infra to testify for `expression/builtin_arithmetic_test.go`
* [x] migrate test-infra to testify for `expression/builtin_arithmetic_vec_test.go`
* [x] migrate test-infra to te

[2021-08-03 11:28] tisonkun opened #26856 "migrate test-infra to testify for `planner/cascades`"
You may try to analyze first and spawn more subtasks instead of one big PR handle the whole package which is hard to review.

[2021-08-03 11:28] tisonkun opened #26857 "migrate test-infra to testify for `planner/core`"
You may try to analyze first and spawn more subtasks instead of one big PR handle the whole package which is hard to review.

* [x] #27432
* [x] #28386
* [x] #28387
* [x] #28388
* [x] #28389
* [x] #28407
* [x] #28414
* [x] #28408
* [x] #28405
* [x] #28406
* [x] #28404
* [x] #28413
* [x] #28412
* [x] #28411
* [x] #28410
* [x] #28403
* [x] #28402
* [x] #28401
* [x] #28400
* [x] #28409
* [x] #28390
*

[2021-08-03 11:28] tisonkun opened #26858 "migrate test-infra to testify for `planner/implementation`"
You may try to analyze first and spawn more subtasks instead of one big PR handle the whole package which is hard to review.

[2021-08-03 11:29] tisonkun opened #26860 "migrate test-infra to testify for `planner/memo`"
You may try to analyze first and spawn more subtasks on demand (no strict) instead of one big PR handle the whole package which is hard to review.

[2021-08-03 11:29] tisonkun opened #26861 "migrate test-infra to testify for `planner/property`"
You may try to analyze first and spawn more subtasks on demand (no strict) instead of one big PR handle the whole package which is hard to review.

[2021-08-03 11:29] tisonkun opened #26862 "migrate test-infra to testify for `planner/util`"
You may try to analyze first and spawn more subtasks on demand (no strict) instead of one big PR handle the whole package which is hard to review.

[2021-08-03 11:29] tisonkun opened #26863 "migrate test-infra to testify for `server`"
You may try to analyze first and spawn more subtasks on demand (no strict) instead of one big PR handle the whole package which is hard to review.

* [x] #27041
* [x] #27342
* [x] #27343
* [x] #27618
* [x] #27619
* [x] #27804
* [x] #27805
* [x] #27806
* [x] #27807
* [x] #27808

[2021-08-03 11:29] tisonkun opened #26864 "migrate test-infra to testify for `session`"
You may try to analyze first and spawn more subtasks on demand (no strict) instead of one big PR handle the whole package which is hard to review.

* [x] #28321
* [x] #28322
* [x] #28323
* [x] #28324
* [x] #28325
* [x] #28326
* [x] #28327
* [x] #28328
* [x] #28329

[2021-08-03 11:29] tisonkun opened #26865 "migrate test-infra to testify for `table`"
You may try to analyze first and spawn more subtasks on demand (no strict) instead of one big PR handle the whole package which is hard to review.

[2021-08-03 11:29] tisonkun opened #26866 "migrate test-infra to testify for `table/tables`"
You may try to analyze first and spawn more subtasks on demand (no strict) instead of one big PR handle the whole package which is hard to review.

There may be several unstable tests, be careful or you may try to fix it. If not, keep logic as is.

* [x] #27588
* [x] #27589
* [x] #27590

[2021-08-03 11:29] tisonkun opened #26867 "migrate test-infra to testify for `tablecodec`"

[2021-08-03 12:29] #24072 closed

[2021-08-03 13:17] tiancaiamao opened #26868 "prepared statement doesn't work on 'insert into t1 select from t2 where id = ?'"
## Enhancement

The query is 'insert into t1 select  from t2 where id = ?', it inserts a single line each time, repeat 1000 times with 200 concurrency.

The plan cache doesn't take effect, and it seems to be very inefficient.
Even worse, I suspect in this case it's even slower than the non-prepared statement.
As you can see, most of the time are spend on rebuild of the plan,

![image](https://user

[2021-08-03 13:41] #25886 closed

[2021-08-03 14:46] aytrack commented on #26846
could you provide the data of the table?
Does the data of the table is consistent between that master and slave?

[2021-08-03 15:47] ChenPeng2013 commented on #26805
@sticnarf PTAL, is it a bug, thanks

[2021-08-03 15:49] ChenPeng2013 commented on #26804
@bb7133 PTAL,  is it a bug, thanks

[2021-08-03 16:01] #26183 closed

[2021-08-03 17:19] yudongusa commented on #26846
@VoxT could you please run the following query and show the results?

select * from log where field_1=100122019622518784;

[2021-08-03 17:50] morgo commented on #26838
@xuyifangreeneyes Thank you for spotting this! Actually all steps after 3 are technically out of date. I will fix it shortly.

[2021-08-03 18:03] #26744 closed

[2021-08-03 23:42] feitian124 commented on #26862
hi, seems no tests under this folder

[2021-08-03 23:47] feitian124 commented on #26865
/assign

[2021-08-03 23:47] feitian124 commented on #26866
/assign

[2021-08-04 01:57] tisonkun commented on #26862
@feitian124 you're right.

Close as nothing to do.

[2021-08-04 01:57] #26862 closed

[2021-08-04 01:57] tisonkun commented on #26861
Closed as no tests.

[2021-08-04 01:57] #26861 closed

[2021-08-04 02:05] #26762 closed

[2021-08-04 02:13] VoxT commented on #26846
@yudongusa The result:
[data.csv](https://github.com/pingcap/tidb/files/6928107/data.csv)

[2021-08-04 02:23] VoxT commented on #26846
The data is too large and has sensitive data so I can't. But the data related to this record and some sample data then yes.

We use TiDB-binlog to replicate data. This table accepts the write from the TiDB-binlog only, so I think it is consistent.
Noe:  it has some index on the slave but the master does not.
As I mention, in the master all those queries above have the same result and it is correct

[2021-08-04 02:35] hnes commented on #26388
Thanks a lot, @Reminiscent :-D

I close this issue then.

[2021-08-04 02:35] #26388 closed

[2021-08-04 02:46] xuyifangreeneyes opened #26873 "Prepared plan cache doesn't work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Enable prepared-plan-cache.
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-08-04 03:10] tiancaiamao commented on #26289
There are actually two things we need to solve:
1. Prevent the test case run too long to slow down the CI
2. Make it easier to find out which panic cause the whole unit test hang

We could have modify the testing framework, to solve both 1 and 2 at the same time.

Now #26578 implement 1, by some simple and dirty script instead of hacking the testing framework.

2 is not solved yet, but after we re

[2021-08-04 03:10] #26289 closed

[2021-08-04 03:37] #25934 closed

[2021-08-04 03:37] #25935 closed

[2021-08-04 03:57] #25888 closed

[2021-08-04 04:01] 3pointer opened #26877 "Track issue of merge BR into TiDB"
## Development Task

This issue traces the effort to  merge BR into TiDB.

Original discussion is on https://internals.tidb.io/t/topic/256/8

* [x] #26879
* [x] https://github.com/pingcap/kvproto/issues/790
* [x] #26880
* [x] https://github.com/PingCAP-QE/ci/issues/353
* [x] #26983
* [x] #27624
* [x] #28089
* [x] #28911

[2021-08-04 04:06] ichn-hu opened #26878 "Replace the execution framework on unistore with TiDB's builtin execution framework"
## Enhancement

Currently, the execution framework on unistore handles coprocessor requests is built by empirical rules about the type of coprocessor DAG request, which is too rigid and increased the maintaining labor. If we want to support more executor on copr in the future (such as projection), it will require a lot more consideration and is error-prone.

https://github.com/pingcap/tidb/blob/cc

[2021-08-04 04:25] #26182 closed

[2021-08-04 04:33] tisonkun opened #26879 "Create proposal for merge BR into TiDB"

[2021-08-04 04:33] tisonkun opened #26880 "Merge BR to TiDB"

[2021-08-04 04:38] tisonkun commented on #26879
May port from [this doc](https://docs.google.com/document/d/1zG688-n2_OoL8tX0I6zoVzXwEh8_Ns9Rav0_P_iY_9s) and the [original discussion](https://internals.tidb.io/t/topic/256)

[2021-08-04 04:39] tisonkun commented on #26877
Shall we review in order that first pingcap/kvproto#790 and then #26880 and then PingCAP-QE/ci#353?

[2021-08-04 04:41] 3pointer commented on #26877
Yes, After pingcap/kvproto#790, we need change the go.mod in #26880

[2021-08-04 05:09] xuyifangreeneyes commented on #26873
/sig planner

[2021-08-04 05:13] #26697 closed

[2021-08-04 05:23] #25272 closed

[2021-08-04 05:23] #25781 closed

[2021-08-04 05:33] #26838 closed

[2021-08-04 06:00] hawkingrei opened #26883 "Add TiDB backend support for the SQLAlchemy ORM"
## Brief Motivation

SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL. So we need add tidb backend support for the SQLAlchemy ORM and make it compatibility to TiDB

## Plan

- [ ] inherit the MySQL of SQLAlchemy and overwrite all feature switches.
- [ ] run all tests and list failure tests.
   - [ ] fix failur

[2021-08-04 06:02] yedamao commented on #26858
/assign

[2021-08-04 06:19] #26083 closed

[2021-08-04 06:25] wshwsh12 opened #26885 "Aggregating enum zero value gets different results from mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
This situation can only occur with the following conditions:
1. Enum type has '' name field.
2. Illegal value/zero value is inserted in the data.
So I think this problem is not very serious..

### 2. What did you expect to see? (Required)
[code]
### 3. What did you s

[2021-08-04 06:30] wshwsh12 opened #26886 "Different precision for window funtion when using unparallel hashagg."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master,  v5.0,v5.1,v4.0

[2021-08-04 06:35] yuqi1129 opened #26887 "Inaccurate return type of plus between bit and int"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Master branch and execute the following sql

### 2. What did you expect to see? (Required)

MySQL 5.7
[code]
bit + smallint return **LONGLONG** and bit + decimal return *NEWDECIMAL**
### 3. What did you see instead (Required)

[code]

bit + smallint return **DOUBLE** and bi

[2021-08-04 06:46] hawkingrei opened #26889 "SEQUENCE is not in the INFORMATION_SCHEMA.TABLES"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

in the mariadb  10.6.3
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

Release Version: v5.2.0-alpha-478-gdf0999bbc
Edition: Community
Git Commit Hash: df0999bbcc76331b8788308283f7992e8eb53732
Git Branch: master
UTC Build Time: 20

[2021-08-04 06:46] hawkingrei commented on #26889
/assign hawkingrei

[2021-08-04 06:47] #26719 closed

[2021-08-04 06:47] hawkingrei commented on #26889
/assign hawkingrei

[2021-08-04 07:07] Reminiscent commented on #26873
/assign

[2021-08-04 07:15] qw4990 commented on #25394
Seems to be fixed by https://github.com/pingcap/tidb/pull/26500. I'll close it now, if it appears again, please reopen it.

[2021-08-04 07:15] #25394 closed

[2021-08-04 07:18] qw4990 commented on #25291
I remove the bug label and add the enhancement label.

[2021-08-04 07:19] #26684 closed

[2021-08-04 07:19] #14931 closed

[2021-08-04 07:19] #25188 closed

[2021-08-04 07:19] qw4990 commented on #25066
@time-and-fate Could you take a look at this~?

[2021-08-04 07:33] disksing commented on #22979
I think it would be a good idea to use `golangci-lint` to run all tests. By running all linters from a single entry point, we can more easily run all linters from a single command, and also better align parameters such as timeout.

[2021-08-04 07:57] #25458 closed

[2021-08-04 08:10] #21540 closed

[2021-08-04 08:12] Yisaer commented on #26886
/assign

[2021-08-04 08:15] #7623 closed

[2021-08-04 08:15] #19795 closed

[2021-08-04 08:16] disksing commented on #13959
The issue mentioned here is tracked by #22979. I'm going to close it.

[2021-08-04 08:16] #13959 closed

[2021-08-04 08:30] tangenta commented on #25331
We should also add tests for the following cases:

[code]

[2021-08-04 08:37] tiancaiamao commented on #26868
After changing to non-prepared statement:

![image](https://user-images.githubusercontent.com/1420062/128149828-faf5c3a4-2784-4a79-9255-cbf69f0072e0.png)

[2021-08-04 08:59] #26191 closed

[2021-08-04 09:22] eurekaka commented on #26849
I believe we have already supported this kind of variadic normalization for IN expressions?

[code]

[2021-08-04 09:55] hawkingrei commented on #26889
Although it still can get meta from INFORMATION_SCHEMA.SEQUENCE, it is a compatibility problem.

[2021-08-04 09:55] djshow832 commented on #25032
Maybe it's duplicate with #22791

[2021-08-04 10:06] zhouqiang-cl opened #26898 "JDBC test break by #24141"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/5843/pipeline

introduced by https://github.com/pingcap/tidb/pull/24141

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required

[2021-08-04 10:41] dveeden commented on #26898
Checking.

[2021-08-04 11:36] #25919 closed

[2021-08-04 12:43] #26002 closed

[2021-08-04 12:55] zhouqiang-cl opened #26900 "Mysql test & copr test break by #26141"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
MySQL test
[code]
copr test
[code]

### 1. Minimal reproduce step (Required)
in ci

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/5849/pipeline/86

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_copr_test/detail/tidb_ghpr_integration_cop

[2021-08-04 13:07] zhouqiang-cl commented on #26538
happend again in https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/7512/nodes/104/steps/310/log/?start=0

[2021-08-04 13:09] zhouqiang-cl commented on #15862
happend again in https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/7511/pipeline

[2021-08-04 13:15] zhouqiang-cl commented on #26718
No see it again

[2021-08-04 13:15] #26718 closed

[2021-08-04 15:00] sylzd commented on #25937
/assign

[2021-08-04 15:04] feitian124 commented on #26411
i am migrating `util/ranger` which depends on `util/testkit` and `util/testutil`
i see you re-implemented a TestKit and let it gradually replace utils/testkit in #26108 , how about `util/testutil`?
and does not find a tracker  for `util/testutil` in #26022

[2021-08-04 15:39] mjonss commented on #26765
@bb7133 your conclusion is correct, it will change the range from UNSIGNED to SIGNED. In https://github.com/pingcap/tidb/issues/25437#issuecomment-866873551 I did mention the limitation of the range as well as in the next comment, suggesting to reverting #25435.
I advice to revert pr #25435 / issue #24880 and document this corner case as non-MySQL compliant.

[2021-08-04 15:51] dveeden commented on #26898
Still looking at the tests, but running these seems to be extremely slow for me.

[2021-08-04 18:27] #15702 closed

[2021-08-04 19:05] #26766 closed

[2021-08-04 20:22] morgo commented on #25448
The problem is because the `isValidInstance()` checks for a valid IP address and not a hostname:

https://github.com/pingcap/tidb/blob/0c7283418ba8f2638a84626c358b14ad673b60e9/executor/set_config.go#L155-L165

It looks like an easy fix. I can use `net.LookupIP` instead of `net.ParseIP`

[2021-08-05 00:37] tiancaiamao opened #26908 "PASS: stale_txn_test.go:92: testStaleTxnSerialSuite.TestSelectAsOf 4.023s @nolouch"

[2021-08-05 01:38] morgo commented on #24031
I took a look at this today. The issue is as described; killing a connection sets `cc.status` to `connStatusWaitShutdown`, which is read on the next interaction in that session, and then the connection is killed.

My suggestion to fix it is the following:
1. `SHOW PROCESSLIST` (and infoschema) is modified to show the `State` as `killed`.
2. Instead of setting the read timeout to `waitTimeout`, the

[2021-08-05 01:45] #26330 closed

[2021-08-05 01:59] #25282 closed

[2021-08-05 02:42] bb7133 commented on #26846
Hi @VoxT , could you please run the following command for the `log` table of slave cluster?

[code]

Thanks.

[2021-08-05 03:29] #25448 closed

[2021-08-05 03:29] jingshanglu opened #26913 "Gorm-test unstable cause by env"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]

### 1. Minimal reproduce step (Required)

in ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6005/pipeline/

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB ve

[2021-08-05 03:31] zhouqiang-cl commented on #26913
It  seems env is not very stable

[2021-08-05 03:35] Zhang-Chang-yu opened #26914 "AUTO_INCREMENT value can be adjusted small"
## Feature Request

**Is your feature request related to a problem? Please describe:**
AUTO_INCREMENT value can be adjusted small

**Describe the feature you'd like:**
For example,
table:test  AUTO_INCREMENT=141486388858,
alter table test AUTO_INCREMENT=2000000;
table:test  AUTO_INCREMENT=2000000.

[https://asktug.com/t/topic/94725/18](url)

[2021-08-05 03:49] #25972 closed

[2021-08-05 03:49] #26451 closed

[2021-08-05 03:52] wshwsh12 opened #26915 "Support partition spilling for HashAgg"
## Enhancement

Now we support spiling unparallel hashagg by a naive approach: when memory usage is higher than quota, spilling all unprocessed data reading from child executor.

There is a reasonable optimization point: **Hash partition the data while spilling data**

There are many advantages following:
- Correctness. The way can keep all data that have the same key will be spilled in the same p

[2021-08-05 03:57] #25634 closed

[2021-08-05 03:57] #25456 closed

[2021-08-05 03:58] tisonkun commented on #26411
`util/testutil` is going to be dropped. You may move functions to `testkit/` or if the function used in few places which means uncommon, inline it.

[2021-08-05 04:00] tangenta commented on #26914
Currently, TiDB does not support alter the `auto_increment` ID to a smaller value. The only workaround is to recreate the whole table.

https://github.com/pingcap/tidb/pull/25868 supports this behavior:
[code]
But it is unlikely to backport 5.0, 5.1 or 4.x. It will be usable in the next minor TiDB version(v5.3.0).

Please also attention: the FORCE keyword should be only used to recover metadata. A

[2021-08-05 04:29] feitian124 commented on #26411
found 518 usage of `util/testutil` in whole repo.
i am afraid we have to use similiar manner like `util/testkit`: re-implemented `util/testutil` in `testkit/` and let it gradually replace the old one

[2021-08-05 06:34] jingshanglu opened #26916 "Mysql test `role2` break by #26899"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
ci : https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6013/pipeline

caused by #26899

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is

[2021-08-05 06:36] jingshanglu commented on #26916
PTAL @dveeden

[2021-08-05 07:25] #26438 closed

[2021-08-05 07:28] xuyifangreeneyes opened #26923 "index out of range when explain format = 'verbose' for connection id"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-08-05 07:29] qw4990 commented on #26739
Since it doesn't cause wrong results, I convert it to an `Enhancement`.

[2021-08-05 07:31] VoxT commented on #26846
@bb7133
It takes a long-running and throws this error:
[code]

[2021-08-05 07:39] Reminiscent commented on #26923
/assign

[2021-08-05 07:55] winoros commented on #26547
It will be improved in the next sprint. Move down the severity.

[2021-08-05 07:59] zhouqiang-cl commented on #26898
You can run it on or by comment `/run-integration-tests`

[2021-08-05 08:00] zhouqiang-cl commented on #26898
You can run it on or by comment `/run-integration-tests`

[2021-08-05 08:58] #25291 closed

[2021-08-05 08:58] lysu commented on #25291
maybe we can do not fix this ...

[2021-08-05 09:21] #26900 closed

[2021-08-05 09:40] tangenta commented on #26538
### Root Cause(unclear)

`session.ParseSQL` uses a pool to access the parser, it should not be possible to access the same parser concurrently:

https://github.com/pingcap/tidb/blob/bfbe67db6d149f77c09c5ddd5cb72e0819a7391f/session/session.go#L1264-L1276

I believe this problem is related to the parser internal implementation. For example, the `yySymType` cache in parser is not clean, it may refer

[2021-08-05 10:03] #25999 closed

[2021-08-05 10:26] dveeden commented on #24031
@morgo minor remark: MySQL uses [`Killed`](https://dev.mysql.com/doc/refman/8.0/en/general-thread-states.html) instead of `killed`. Would be good to keep this identical if possible.

[2021-08-05 10:52] zhouqiang-cl opened #26934 "Unstable test `testPlanSerialSuite.TestPlanCacheUnsignedHandleOverflow`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/7612/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-05 10:56] zhouqiang-cl commented on #22212
[code]

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/7608/pipeline

[2021-08-05 11:29] qw4990 commented on #26754
`dynamic-mode` is an experimental feature, so I degrade its severity to moderate and I'll fix it next sprint.

[2021-08-05 13:20] fuzhe1989 opened #26942 "builtinFunc InetAton/InetNtoa/Inet6Aton/Inet6Ntoa/IsIPv4/IsIPv4Compat/IsIPv4Mapped/IsIPv6 miss to fill pbCode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

All functions are pushed down to TiKV.

### 3. What did you see instead (Required)

None of them are pushed down.

[code]

### 4. What is your TiDB version? (Required)

5.7.25-TiDB-v5.0.1

[2021-08-05 13:26] fuzhe1989 commented on #26942
These functions are tagged as can be pushed down to TiKV (see [scalarExprSupportedByTiKV](https://github.com/pingcap/tidb/blob/master/expression/expression.go#L984)).

But there's a check for pbCode is not `tipb.ScalarFuncSig_Unspecified` at [canScalarFuncPushDown](https://github.com/pingcap/tidb/blob/master/expression/expression.go#L1164).

And these functions all miss to fill pbCode, so they can

[2021-08-05 13:28] fuzhe1989 commented on #26942
Fix plan:
1. fill pbCode in each function's `getFunction` method.
2. disable push down these functions in scalarExprSupportedByTiKV (I have concern about whether TiKV can correctly handle them since they are never pushed down).
3. Enable them in scalarExprSupportedByTiKV after they are fully tested in TiKV.

[2021-08-05 14:00] dveeden commented on #26916
I don't yey see how #26899 would result in this.

[2021-08-05 14:03] dveeden commented on #26916
https://github.com/pingcap/tidb/pull/26680 and https://github.com/pingcap/tidb-test/pull/1260 might be related

cc @morgo @mjonss

[2021-08-05 14:14] dveeden commented on #26916
This should be fixed now.

[2021-08-05 14:46] 311ybb opened #26944 "Cardinality always 0"
INFORMATION_SCHEMA.STATISTICS  and SHOW INDEX From xxx   column 'Cardinality' always 0, even after analyze table  executed.

[2021-08-05 15:41] #25997 closed

[2021-08-05 16:17] #26880 closed

[2021-08-05 18:44] wolf31o2 opened #26945 "Table alias is not propagated to subquery"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-05 19:40] kolbe commented on #26945
@wolf31o2 you said you identified this problem due to a query generated by Hibernate, is that correct? I don't know a great deal about Hibernate, but is it possible for you to share information about the code path, methods, etc., that cause Hibernate to generate this query?

[2021-08-05 22:15] morgo commented on #26916
I can confirm from the last merged commit this is fixed.

[2021-08-05 22:15] #26916 closed

[2021-08-06 02:33] zhouqiang-cl commented on #25122
happend again in https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/7685/pipeline

[code]

[2021-08-06 02:35] zhouqiang-cl opened #26947 "tidbTestSerialSuite.TestTLS takes more then 3 seconds"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]
### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/23436/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-06 02:40] zhouqiang-cl commented on #26538
happend again https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/7681/nodes/104/steps/367/log/?start=0

[2021-08-06 02:45] yedamao commented on #26863
/assign

[2021-08-06 03:00] djshow832 commented on #26778
Fixed by https://github.com/pingcap/parser/pull/1290

[2021-08-06 03:00] #26778 closed

[2021-08-06 03:16] TszKitLo40 commented on #26915
@wshwsh12 Can I try this issue?

[2021-08-06 03:17] #25842 closed

[2021-08-06 03:28] wshwsh12 commented on #26915
@TszKitLo40  Sure. If you have any questions, feel free to ask me through slack/github.

[2021-08-06 04:01] ChenPeng2013 opened #26950 "signal SIGSEGV: segmentation violation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I don't know how to reproduce

maybe need to set tidb_partition_prune_mode=true

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-06 05:11] lcwangchao opened #26952 "A more elegant implement for temporary table"
## Enhancement

Temporary tables do not read/write TiKV. For global temporary table, it has an empty snapshot data and for local temporary table, it keeps snapshot data in session. Currently, snapshot does not support reading from memory, so when reading a temporary table's snapshot record, we need to do some tricks.

For example in point get, when reading snapshot, just get the record from sessio

[2021-08-06 05:17] TszKitLo40 commented on #26915
/assign

[2021-08-06 05:21] guo-shaoge opened #26954 "Enable more expressions to be pushdown to TiKV"
## Enhancement

There are some expressions that has been implemented in TiKV copr but the push down is not enabled. There are two reasons:
1. The test is insufficient.
2. The implementation is not compatible with MySQL because the underlying library is different(such as the math library).

For the first situation, we can add more testcase to ensure its correctness. Especially when **Projection pus

[2021-08-06 05:28] lcwangchao commented on #26952
I posted a draft here: https://github.com/tikv/client-go/pull/262 to make KVSnapshot able to read data from memory. It introduces two methods `SetMemSnapshotDB` to determine where it should read memory data from and `SetSortedMemScanRanges` to determine key ranges for memory reading.

I posted another draft in tidb: https://github.com/pingcap/tidb/pull/26948 to use above Snapshot to access tempora

[2021-08-06 05:36] xiongjiwei commented on #22791
we have a document that says the [difference](https://docs.pingcap.com/zh/tidb/stable/data-type-numeric#:~:text=%E4%B8%8E%E5%9C%A8%20MySQL,123456790%20%E5%92%8C%201.2345679%E3%80%82)

[2021-08-06 05:37] xiongjiwei commented on #25032
we have a document that says the [difference](https://docs.pingcap.com/zh/tidb/stable/data-type-numeric#:~:text=%E4%B8%8E%E5%9C%A8%20MySQL,123456790%20%E5%92%8C%201.2345679%E3%80%82)

[2021-08-06 05:49] tiancaiamao commented on #4750
I change the assignee to you @hawkingrei
If you find it's hard or have trouble handling it, you may ask the planner team guys for help or reassign to others.

[2021-08-06 05:50] hawkingrei commented on #4750
I get it.

[2021-08-06 05:50] tiancaiamao commented on #25122
PTAL @crazycs520

[2021-08-06 05:52] crazycs520 commented on #25122
let me see  see again...

[2021-08-06 05:54] riteme opened #26955 "Junk in execution plan when `INET6_ATON` is present in query"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No strange characters in output.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

May be related to #11181.

[2021-08-06 06:37] fgksgf opened #26956 "Integrate SkyWalking-eyes to check license headers in CI"
## Enhancement

Integrate [SkyWalking-eyes](https://github.com/marketplace/actions/license-eye) to check license headers in CI.

For some new contributors, they may do not know the license header is required, we can use the GitHub Action and check license headers in CI automatically.

[2021-08-06 07:12] #25088 closed

[2021-08-06 07:23] tisonkun commented on #26956
Hi @fgksgf , Thanks for creating this issue!

I think it is a good point we enable license checker in CI. In my opinion, you can directly create a PR and let's see how this action works on our repo. Then if it is good to go, we push it to merge.

[2021-08-06 07:42] fgksgf commented on #26956
No problem, I will do this :)

[2021-08-06 07:59] wshwsh12 opened #26958 "Same agg func in one sql will gets different result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
v4.0, v5.0, v5.1, master

[2021-08-06 08:10] wshwsh12 commented on #26958
Only select one column will also gets wrong reuslt.
[code]
See the expaln and find the dinstct flag is missing:
[code]

[2021-08-06 08:11] #26942 closed

[2021-08-06 09:01] jebter commented on #26846
@lichunzhu PTAL

[2021-08-06 09:09] lichunzhu commented on #26846
Could you please set a longer gc_life_time?
[code]

[2021-08-06 09:36] time-and-fate commented on #26779
Confirmed that this bug was fixed by https://github.com/pingcap/tidb/pull/23849 on the master branch.
Cherry-picked to release-5.0 in https://github.com/pingcap/tidb/pull/26963.

[2021-08-06 09:39] UBarney commented on #26413
/assign

[2021-08-06 10:17] #26958 closed

[2021-08-06 10:29] time-and-fate commented on #26944
Our current implementation doesn't use these interfaces to display cardinality. We'll update our documents to reflect this.
You can use the [`SHOW STATS_META` statement](https://docs.pingcap.com/tidb/stable/sql-statement-show-stats-meta) to get the row count of a table.

[2021-08-06 10:54] time-and-fate commented on #26955
MySQL returns the same result.

[2021-08-06 11:28] vivid392845427 opened #26973 "key_info do not parse db_name and table_name when use partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t (a int primary key, b int) partition by range(a) (PARTITION p0 VALUES LESS THAN (2), PARTITION p1 VALUES LESS THAN (4));
insert into t values (1, 10), (2, 20), (3, 30);
/* tx1 */ begin;
/* tx2 */ begin;
/* tx1 */ update t set a=10 where a=1;
/* tx2 */  update

[2021-08-06 12:41] VoxT commented on #26846
@lichunzhu

already set and re-run `admin check table log;`, please wait for the result.
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/13825568/128511622-1c54e6f4-cd21-49fb-8a46-66e4477fa9bd.png)

[2021-08-06 15:39] tisonkun commented on #26420
part 0 won't close this issue, will update PR description

[2021-08-06 16:15] wolf31o2 commented on #26945
Hibernate is a Java ORM. I could probably create some code to generate this. This is a simplified test case of a single query which is failing in TiDB, but passes in MySQL, and is automatically generated in Hibernate using the `org.hibernate.dialect.MySQL57InnoDBDialect` dialect on version `5.5.6.Final` but the issue is readily reproducible without Hibernate involved.

[2021-08-06 16:48] mjonss opened #26977 "bigint unsigned range error when insert select"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

Release Version: v5.2.0-alpha-526-g072cf2791-dirty
Edition: Community
Git Commit Hash: 072cf2791e50461f6d9728efc44d184f575a

[2021-08-07 00:27] sylzd commented on #25938
/assign

[2021-08-07 02:50] tisonkun commented on #26414
It happens that `util.keydecoder` and `util.decoder` (filepath=rowDecoder) all handled by #26629

[2021-08-07 02:51] tisonkun opened #26978 "migrate test-infra to testify for `util/math` pkg"

[2021-08-07 02:51] tisonkun opened #26979 "migrate test-infra to testify for `util/memory` pkg"

[2021-08-07 02:51] tisonkun opened #26980 "migrate test-infra to testify for `util/mvmap` pkg"

[2021-08-07 02:51] tisonkun opened #26981 "migrate test-infra to testify for `util/parser` pkg"

[2021-08-07 02:51] tisonkun opened #26982 "migrate test-infra to testify for `util/printer` pkg"

[2021-08-07 05:00] tisonkun opened #26983 "Dependabot alerts introduced by merge BR into TiDB"
Shall we integrate with Dependabot to automatically create fix PR?

cc @haohaoxuex2005 @3pointer @zhouqiang-cl

[2021-08-07 05:19] haohaoxuex2005 commented on #26983
There are two dependent components in pr (br/web/package-lock.json). The version is low and there is a security problem.
Remediation
Upgrade lodash to version 4.17.21 or later. For example:

"dependencies": {
  "lodash": ">=4.17.21"
}
or…
"devDependencies": {
  "lodash": ">=4.17.21"
}
------------------------------------------
Upgrade browserslist to version 4.16.5 or later. For example:

"depende

[2021-08-07 13:06] zimulala opened #26986 "Unstable test testSerialDBSuite1.TestCreateTableWithRangeColumnPartition"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/8688/pipeline/

[2021-08-07 15:07] xzhangxian1008 opened #26989 "Inconsistent behaviour of position function with mysql"
## Bug Report

Mysql's position function is case insensitive while the tidb is case sensitive.

### 1. Minimal reproduce step (Required)

mysql:

create table if not exists test.test_tb(id int NOT NULL, PRIMARY KEY(id));

insert into test_tb (id) values (1);

select position('a' in 'AA') from test_tb;

tidb:

create table if not exists test.test_tb(id int NOT NULL, PRIMARY KEY(id));

insert into t

[2021-08-07 16:44] mjonss commented on #23602
It seems to even return the wrong results due to the bad cast (since `double` does not have the resolution/range as bigint)
[code]

[2021-08-08 00:05] tisonkun commented on #25321
@rebelice I'd prefer you close this issue and create one on https://github.com/tidb-incubator/tinysql as an improvement proposal or redesign proposal. We cannot just transfer it because these two repositories are under different organizations. :/

[2021-08-08 04:09] #26683 closed

[2021-08-08 05:34] unconsolable commented on #26979
/assign

[2021-08-08 11:51] #26955 closed

[2021-08-08 11:59] riteme opened #26993 "Result of function `ROUND(x, d)` is different from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-08 12:41] riteme opened #26994 "Return type of function `ROUND(x, d)` is different from MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

`ROUND(int, non-const)` returns `DOUBLE` in MySQL, but it returns `LONGLONG` in TiDB.

### 1. Minimal reproduce step (Required)

Connect with `--column-type-info`.

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (R

[2021-08-08 15:11] zhouqiang-cl opened #26997 "Leak in client-go/v2/txnkv/transaction.keepAlive"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/7911/nodes/132/steps/544/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requ

[2021-08-08 15:13] zhouqiang-cl commented on #26997
First introduced by https://github.com/pingcap/tidb/pull/26302

[2021-08-08 15:53] #25207 closed

[2021-08-08 17:02] hawkingrei commented on #26945
@wolf31o2 I've located the cause of the problem and have started working on a fix. When the fix is complete, issue will be updated.

[2021-08-09 01:10] xxchan commented on #26954
How to test the correctness? Is there any example PR?

[2021-08-09 01:16] zhouqiang-cl opened #26999 "Leak test `testRestoreSchemaSuite.TearDownSuite`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb-unit-test-nightly/detail/tidb-unit-test-nightly/7873/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-09 01:17] charlesxsh opened #27000 "Blocking issues at 'TestT' of store/mockstore/unistore/cophandler/cop_handler_test.go"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Simply run the unit test TestT at store/mockstore/unistore/cophandler/cop_handler_test.go

### 2. What did you expect to see? (Required)
All coroutines/channels exit/close properly

### 3. What did you see instead (Required)
Some blocking issues found at

github.com/pingcap/

[2021-08-09 01:36] charlesxsh opened #27001 "blocking issues at `TestT` of ddl/ddl_test.go"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Run the test `TestT` of ddl/ddl_test.go.

### 2. What did you expect to see? (Required)
no blocking issue during/at the exit of testing.

### 3. What did you see instead (Required)
The blocking issues at

github.com/pingcap/badger@v1.5.1-0.20200908111422-2e78ee155d19/value.g

[2021-08-09 01:38] charlesxsh opened #27002 "blocking issues at `TestT of` owner/manager_test.go"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Run the test `TestT` of owner/manager_test.go.

### 2. What did you expect to see? (Required)
no blocking issue during/at the exit of testing.

### 3. What did you see instead (Required)
The blocking issues at

github.com/pingcap/check@v0.0.0-20200212061837-5e12011dc712/chec

[2021-08-09 01:54] tiancaiamao commented on #26934
This leak is not caused by the test itself ... the leak may happen in other places.

[2021-08-09 02:30] zhouqiang-cl commented on #25986
[code]
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/23995/pipeline

[2021-08-09 02:35] lysu commented on #25986
@qw4990  PTAL if free, it seems caused by https://github.com/pingcap/tidb/pull/23169

[2021-08-09 02:37] #26986 closed

[2021-08-09 02:52] XuHuaiyu commented on #26954
@guo-shaoge It'll be better to start this work after `projection push down` is finished?

[2021-08-09 03:02] morgo opened #27007 "Add SHOW PLACEMENT LABELS syntax"
## Enhancement

Part of https://github.com/pingcap/tidb/issues/18030

It is useful to have short hand syntax to summarize all the possible labels which can be set in a placement policy.

I propose `SHOW PLACEMENT LABELS`. I believe the meta data is already available in the following sql query:

[code]

The schema of output has two rows

- Key: The key of the label
- Values: A values of the key

Fo

[2021-08-09 03:12] XuHuaiyu commented on #26554
- UnionStore does not have this problem
- Reproduced when using TiKV

[2021-08-09 03:17] #25936 closed

[2021-08-09 03:17] rebelice commented on #26945
@wolf31o2 Thanks for your issue. I found that `order by (subquery)` is not legal. See details in https://dev.mysql.com/doc/internals/en/optimizer-order-by-clauses.html. Could you please tell me the meaning of this query?

[2021-08-09 03:19] jyz0309 commented on #26982
/assign

[2021-08-09 03:20] XuHuaiyu commented on #26434
Verified in MySQL:

[2021-08-09 03:20] #26434 closed

[2021-08-09 03:29] xhebox opened #27011 "New placement rule engine"
## Enhancement

This is a sub-task of Placement Rules in SQL: #18030. Depends on #26580 and #26581. Once metadata has been finished, we need to add a new middle state to all related DDL jobs to sync rules to PD. Previous, we have already implemented similar code, so the work is more of a migration.

This requires the following subtasks:

- [ ] truncate table/partition
- [ ] exchange table/partitio

[2021-08-09 03:39] #26538 closed

[2021-08-09 03:41] #26461 closed

[2021-08-09 03:42] XuHuaiyu commented on #26461
I'll close this issue cause:
The fix of a major bug will not be cherry-picked to release-4.0.

[2021-08-09 03:43] ChenPeng2013 opened #27012 "list partition query result error in NotBetween Statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
release-5.0 & mysql 8.0.21
[code]

### 3. What did you see instead (Required)
release-5.1 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-09 03:44] eurekaka commented on #26849
It is supported from the beginning by https://github.com/pingcap/parser/pull/32/files#diff-48bbd2ba87d738045c9257feb9af5f078c0392af4cd1a0351ea6c67c3ad57e1cR189

[2021-08-09 03:44] #26849 closed

[2021-08-09 03:53] XuHuaiyu commented on #26400
I'll change the `bug` label to `compatibility`, because the result of MySQL5.7 and MySQL8.0 differs.

MySQL5.7.23:
[code]

MySQL8.0.26:
[code]

[2021-08-09 04:01] #26898 closed

[2021-08-09 04:39] #26694 closed

[2021-08-09 04:40] rebelice commented on #25321
I create a new issue  https://github.com/tidb-incubator/tinysql/issues/83 to show my design and track. Welcome to comment and discuss. I'll close this issue.

[2021-08-09 04:40] #25321 closed

[2021-08-09 04:47] #26743 closed

[2021-08-09 05:35] YuJuncen opened #27015 "backup failed summary should be quieter"
## Enhancement

The current version of backup failed summary is very verbose: it prints each ranges failed to be backed up, with stack trace of the fail reason, even the reason is trivially 'context cancelled'. for example:
`[2021/08/09 02:14:32.193 +00:00] [INFO] [collector.go:195] ["Full backup failed summary"] [total-ranges=8533] [ranges-succeed=3332] [ranges-failed=5201] [backup-total-ranges=8

[2021-08-09 05:53] XuHuaiyu commented on #26358
It seems that tidb returns type `newdecimal`
[code]

[2021-08-09 05:59] YuJuncen commented on #27015
/sig migrate

[2021-08-09 05:59] #26693 closed

[2021-08-09 06:12] ChenPeng2013 opened #27017 "list partition query result error in Having Statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
release-5.0 & mysql 8.0.21
[code]

### 3. What did you see instead (Required)
release-5.1 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-09 06:15] xuyifangreeneyes commented on #27012
/assign

[2021-08-09 06:24] bb7133 commented on #25585
I believe that this has been fixed by #26514, so close it.

[2021-08-09 06:24] #25585 closed

[2021-08-09 06:31] bb7133 commented on #982
This behavior was by-designed and I do not treat it as a bug, change it to 'enhancement' and track in #20708

[2021-08-09 06:33] ChenPeng2013 opened #27018 "list partition query result error in NotIn Statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
release-5.0 & mysql 8.0.21
[code]
### 3. What did you see instead (Required)
release-5.1 &master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-09 06:51] #26688 closed

[2021-08-09 06:54] LittleFall commented on #26994
this may be a little bug of mysql5.7, [their documents](https://dev.mysql.com/doc/refman/5.7/en/mathematical-functions.html#function_round) said

but for the example above, it returns type `double` for `round(int)`.

both mysql8.0 and tidb's behavior is conformed to the document: return the type rounded.

[code]

[2021-08-09 06:54] #26994 closed

[2021-08-09 06:58] xiongjiwei commented on #23650
it has been fixed

[2021-08-09 06:58] #23650 closed

[2021-08-09 06:59] #26858 closed

[2021-08-09 07:07] rleungx opened #27019 "Update label rules when rename table"
## Development task

For now, we use a specified format for rule ID which consists of DB name, table name, and optional partition name if the table has partition rules. When we do the rename table operation, the related rule ID needs to be updated.

[2021-08-09 07:27] wshwsh12 commented on #26554
Release 4.0 also has this problem, but doesn't throw error.
Because in release 4.0, UnionExec doesn't have the following check:
https://github.com/pingcap/tidb/blob/880c9b52fca2c712eae05b3593019b916f171d08/executor/executor.go#L1617-L1620

[2021-08-09 07:32] skyzh commented on #26878
I'm quite confused about unistore. As far as I know, unistore is a separate project here https://github.com/ngaut/unistore. Is the code for unistore inside TiDB the same as the unistore repository?

[2021-08-09 07:39] leiysky commented on #24038
This issue has been fixed in TiDB 5.1.1.

https://docs.pingcap.com/tidb/stable/release-5.1.1

![image](https://user-images.githubusercontent.com/22445410/128673329-e027c772-149d-4dbb-99eb-ce87da7c2f1e.png)

[2021-08-09 08:12] time-and-fate opened #27024 ""Data too long" error when dumping stats from a table with new collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
start a tidb with new collation enabled.
[code]
try to dump the stats:
[code]

### 2. What did you expect to see? (Required)
No error.
### 3. What did you see instead (Required)
"[types:1406]Data Too Long, field len 10, data len 20"
### 4. What is your TiDB version? (Require

[2021-08-09 08:13] time-and-fate commented on #27024
/sig planner
/component statistics

[2021-08-09 08:13] time-and-fate commented on #27024
/assign time-and-fate

[2021-08-09 08:15] qw4990 commented on #27017
A minimal reproducible case:
[code]

[2021-08-09 08:37] bb7133 commented on #22605
Hi @xqinghu ,compression is not supported by TiDB(there's no plan for it before).

I'm going to change your issue for 'bug' to 'feature request', FYI.

[2021-08-09 08:53] xxchan commented on #14486
Hi, what's the status of this issue?

[2021-08-09 08:55] dveeden commented on #22605
I looked at the compressed protocol in 2016 to implement part of this in Wirshark: https://code.wireshark.org/review/#/c/14603/

I don't think it would be very difficult to implement this for TiDB. However I don't think the compressed protocol is very useful, so I don't think this is a high priority issue. But please add a detailed description if anyone things this would make a real improvement fo

[2021-08-09 09:35] xxchan commented on #26170
- [ ] https://github.com/pingcap/tidb/pull/26772
- [ ] https://github.com/pingcap/tidb/pull/27026
- [ ] https://github.com/pingcap/tidb/pull/27028

[2021-08-09 09:51] ChenPeng2013 opened #27030 "varbinary column prune error in list-column partitions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
release-5.0 & mysql 8.0.21
[code]
### 3. What did you see instead (Required)
release-5.1 & release-5.2 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-09 09:55] #27012 closed

[2021-08-09 09:55] qw4990 commented on #27018
fixed by https://github.com/pingcap/tidb/pull/27025

[2021-08-09 09:55] #27018 closed

[2021-08-09 09:55] qw4990 commented on #27017
fixed by https://github.com/pingcap/tidb/pull/27025

[2021-08-09 09:55] #27017 closed

[2021-08-09 09:57] xxchan commented on #26878
@skyzh I found this https://github.com/pingcap/tidb/pull/23837

[2021-08-09 10:08] lcwangchao commented on #27007
We should determine the output of the statement, for example:

We got below result when executing `SELECT distinct label from information_schema.tikv_store_status ORDER BY label;`

[code]

The output of `SHOW PLACEMENT LABLES` can be:

- One column named `Label` that contains the json format data for each label:

[code]

- Two columns named `Key` and `Value`

[code]

- Or we can merge the values w

[2021-08-09 10:08] ChenPeng2013 opened #27031 "ERROR 1690 (22003): constant 46015556 overflows mediumint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
release-5.0 & release-5.1 & release-5.2 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-09 10:59] qw4990 commented on #27031
/run-all-tests

[2021-08-09 11:43] dveeden commented on #26316
https://github.com/pingcap/tidb/issues/26983 seems related

[2021-08-09 11:52] xxchan commented on #22979
Is this issue done?

[2021-08-09 12:03] hslam commented on #26878
@skyzh @xxchan
The unistore code inside TiDB is the same as the ngaut/unistore repository. Because there was an interdependence problem. That PR is to remove the dependency of the TiDB on ngaut/unistore. The ngaut/unistore is developed as a separate project like TiKV. The embedded unistore is used to build tidb-server. The ngaut/unistore is  used to build unistore-server as the golang version of t

[2021-08-09 12:10] IANTHEREAL opened #27036 "Speed up the DDL execution speed of TiDB backup data restore"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

The cluster has 6 TiB data, 30k tables, and 11 TiKVs. When I use BR to backup and restore the cluster, I find that the speed is particularly slow. After investigation, BR can only create 2 tables per second, the entire store speed takes nearly 4h, and the execution time spe

[2021-08-09 12:18] lilinghai opened #27038 "It raises invalid configuration experimental.allow-expression-index when upgrade nightly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tiup deploy v5.1.1 cluster and set the tidb experimental.allow-expre ssion-index true
TiUP upgrade nightly
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
[FATAL] [terror.go:276] ["unexpected error"] [error="config file

[2021-08-09 12:29] tisonkun opened #27039 "Integrate TiDB with Hibernate"
Corresponding to Hibernate JIRA issue [HHH-14576](https://hibernate.atlassian.net/browse/HHH-14576).

* [ ] Update the development branch to fix all failed test cases.
* [ ] File the PR to Hibernate master branch.

[2021-08-09 12:31] tisonkun opened #27040 "Integrate TiDB with Active Record"

[2021-08-09 12:33] tisonkun commented on #27040
cc @hooopo @sykp241095

[2021-08-09 12:46] dveeden commented on #22979
As far as I know everything is done

[2021-08-09 12:53] hooopo commented on #27040
* activerecord-tidb-adapter  https://github.com/pingcap/activerecord-tidb-adapter
* Demo repo for Rails 6.1.4 with activerecord-tidb-adapter: https://github.com/hooopo/activerecord-tidb-adapter-demo
* ActiveRecord and TiDB compatibility test: https://github.com/tidb-incubator/rails
* CI for ActiveRecord and TiDB compatibility test: https://buildkite.com/hooopo

[2021-08-09 13:39] yedamao opened #27041 "migrate test-infra to testify for `server/packetio_test.go`"
This is a subtask of #26863

[2021-08-09 13:40] yedamao commented on #26863
- [ ] #27041

[2021-08-09 13:53] yedamao commented on #27041
/cc @tisonkun how about this?

[2021-08-09 14:21] seiya-annie commented on #25812
still exist in  5.2.0
|| Release Version: v5.2.0-alpha-549-g6720fcd40
Edition: Community
Git Commit Hash: 6720fcd40ff90f11c2f678bb42bb288474854c19
Git Branch: master
UTC Build Time: 2021-08-09 03:22:37
GoVersion: go1.16.4
Race Enabled: false
TiKV Min Version: v3.0.0-60965b006877ca7234adaced7890d7b029ed1306
Check Table Before Drop: false |

[2021-08-09 14:27] jyz0309 commented on #26981
/assign

[2021-08-09 14:27] jyz0309 commented on #26980
/assign

[2021-08-09 14:30] tisonkun commented on #27041
@yedamao looks good.

[2021-08-09 14:31] tisonkun commented on #26863
done.

[2021-08-09 14:43] #25073 closed

[2021-08-09 14:58] bb7133 commented on #25020
I changed the SIG to 'sig/execution' since it is related to JSON.

[2021-08-09 15:08] xhebox commented on #26746
I noticed `mustExec` in #26991, maybe testkit can support `ExecuteInternal`, then `mustExec` can be replaced by `createMockStore` and `testkit.MustExecInternal` or so. @tisonkun

[2021-08-09 15:09] HuGanghui commented on #26978
/assign

[2021-08-09 15:15] tisonkun commented on #26978
@HuGanghui sorry I assign myself 3 days ago for using this issue as an example for https://github.com/pingcap/tidb-dev-guide/issues/51. I'm working on it and will remove your assignment. You can still look for other subtasks in #26022 .

[2021-08-09 15:19] HuGanghui commented on #26978
@tisonkun ok~ It is my oversight that i do not notice it.

[2021-08-09 16:05] kolbe commented on #26945
@rebelice how did you come to the conclusion that "order by (subquery) is not legal"? The document you linked to discusses certain order by optimizations, it certainly does not try to cover all the legal syntax of the order by clause.

Please try testing the reproduce steps in MySQL, and you will find that they work correctly there.

[2021-08-09 16:11] wolf31o2 commented on #26945
Also, this syntax *DOES* work in TiDB:
[code]
So having one.b in the outer query produces a correct query and is processed the same in TiDB as in MySQL. Both syntax work in MySQL.

[2021-08-09 17:04] morgo commented on #27007
I like the merged values actually. Thanks!

[2021-08-09 18:05] morgo commented on #9988
I am assigning this to myself. We have an intern looking into it.

[2021-08-09 18:09] morgo commented on #14486
@xxchan We have someone working on the casting behavior, but nobody is yet looking at Milestone 3. These are harder tasks, if you would like to take a look at one, please reach out to me on Slack (Morgan Tocker). I would be happy to talk you through the issues.

[2021-08-09 21:53] disksing commented on #24672
It looks like we can follow the tradition of ignoring the warnings in tests and cmd. I will close this issue and also close the tracking issue about linters.

[2021-08-09 21:53] #24672 closed

[2021-08-09 21:54] disksing commented on #22979
All done. Thank you to all who participated!

[2021-08-09 21:54] #22979 closed

[2021-08-10 01:41] lcwangchao commented on #27007
Fine, I'll edit the content of this issue.

[2021-08-10 02:35] joccau opened #27046 "br-backup: The performance and the memory consumption about full-backup in tools"
## General Question
The code logic for full backup is:
///////////////Part of the logic in the code////////////////////
StartWriteMetasAsyn()
Backup range()
FinishWriteMetas()

StartWriteMetasAsync()
Backup architecture()
FinishWriteMetas()
///////////////////////////////////

It has two problems
(1) FinishWriteMetas() will repeatedly flush proto.Marshal(writer.backupMeta) to backupmeta. The impac

[2021-08-10 03:00] VoxT commented on #26846
@lichunzhu

Is there another way to check the table? The `admin check table log;` run too long and has been failed due to connection lost after 4 days.
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/13825568/128801747-b5e9c87c-b044-4fc3-a0de-a43a13814293.png)

[2021-08-10 03:24] Cira-Zhao opened #27049 "release: v5.0.4"
- [x] 1st triage: Aug 11
- [x] 2nd triage: Aug 24
- [x] 3rd triage: Aug 30
- [x]  Sep 3: merge finished
- [x] Sep 6: seal version and release note review
- [x]  Sep 27: release

[2021-08-10 03:35] #24759 closed

[2021-08-10 03:36] wjhuang2016 commented on #27038
What's the TiDB hash?

[2021-08-10 03:47] #27031 closed

[2021-08-10 03:52] aytrack commented on #26993
mysql:
[code]
tidb:
[code]

[2021-08-10 03:58] eurekaka commented on #26758
A simpler reproduction:

[code]

Root cause of the problem is that, we mistakenly derived a new join filter `t2.a = ifnull(t2.b, 0)` from the column equal condition, and pushed it down from the left outer join. We need to distinguish the filters containing null sensitive functions, and do not derive new filters for them if the join is an outer join.

[2021-08-10 04:11] aytrack commented on #26989
all collation results should be same with bin collation while set new collation false.
[code]

[2021-08-10 04:17] #26111 closed

[2021-08-10 04:24] bb7133 commented on #24982
Close it since the behavior of mixed-version deployment of TiDB cluster is undefined. We do not treat it as a bug.

[2021-08-10 04:24] #24982 closed

[2021-08-10 04:24] bb7133 commented on #25016
Close it since the behavior of mixed-version deployment of TiDB cluster is undefined. We do not treat it as a bug.

[2021-08-10 04:24] #25016 closed

[2021-08-10 04:25] bb7133 commented on #24981
Close it since the behavior of mixed-version deployment of TiDB cluster is undefined. We do not treat it as a bug.

[2021-08-10 04:25] #24981 closed

[2021-08-10 04:25] #26741 closed

[2021-08-10 04:26] bb7133 commented on #23630
Close it, for the reason above.

[2021-08-10 04:26] #23630 closed

[2021-08-10 04:44] feitian124 commented on #26993
/assign

[2021-08-10 05:05] s3nt3 commented on #26983
A brief analysis of the vulnerability alert:
1. The vulnerability of the browserlis module is a client denial of service with limited impact;
2. The vulnerability of the lodash module may cause more serious problems such as xss, so it is recommended to update to a version that is not affected by the vulnerability;

I want to express my thoughts on vulnerability management of third-party modules he

[2021-08-10 05:30] dveeden commented on #26947
[code]

Some ideas and observations:

- `TestTLS` has three parts
  - Without TLS: No TLS certificates configured: Let the server generate TLS certificates
  - With TLS, but no CA: One-way TLS
  - With TLS and CA: mTLS
  - We could split this into three tests
  - With separate tests it would be easier to spot which one is slow and each of these is more likely to stay under 3s
- The call to `genera

[2021-08-10 05:31] #26746 closed

[2021-08-10 05:36] dveeden commented on #26993
I think this should have the type/compatibility label

[2021-08-10 05:47] 3pointer commented on #27046
/sig migrate

[2021-08-10 05:49] #26807 closed

[2021-08-10 06:00] dveeden commented on #22605
https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_basic_compression.html does have the docs for this.

There seems to be a new flag for zstandard compression.

[2021-08-10 06:04] dveeden commented on #22605
It looks like the Go MySQL driver doesn't support compression: https://github.com/go-sql-driver/mysql/issues/24
This makes this difficult for unittesting and means tools like dumpling etc might not be able to take advantage of this. So if we implement this we should try to contribute support for this to the driver as well.

[2021-08-10 06:26] xqinghu commented on #22605
The bottleneck of ETL extraction task is bandwidth (1g), and the CPU is very idle, client is Java. Thanks @dveeden

[2021-08-10 06:29] #26997 closed

[2021-08-10 06:38] rleungx opened #27057 "Add a switch for alter table/partition attributes"
## Development task

We need a switch to enable/disable the region label feature. Perhaps, adding a new global variable named `tidb_enable_alter_attributes` is enough.

[2021-08-10 06:40] vivid392845427 opened #27058 "TIDB_TRX can not parse CURRENT_SQL_DIGEST_TEXT where use two tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

drop table if exists t;
create table t (a int primary key, b int);
insert into t values (1, 10), (2, 20), (3, 30);
/* tidb0 */ begin;
/* tidb0 */ update t set b=11 where a =1;
/* tidb1 session1*/ update t set b=12 where a =1; ---block
/* tidb1 session2*/ select * from TIDB_

[2021-08-10 07:20] guo-shaoge opened #27064 "Got updateBindinfo error when upgrade from 4.x to 5.x"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. In a cluster v4.0.14, use the following SQL to create bind

    drop table if exists t;
    create table t(a int primary key);
    select * from ( (select * from t) as x), t;
    create global binding for select * from ( (select * from t) as x) inner join t on x.a = t.a u

[2021-08-10 07:21] guo-shaoge commented on #27064
Looks like same problem with [asktug](https://asktug.com/t/topic/69842).

[2021-08-10 07:29] #26979 closed

[2021-08-10 07:33] jebter commented on #26215
@mengxin9014 This problem has been solved?

[2021-08-10 07:55] rleungx opened #27065 "Support recover/flashback table for label rules"
## Development task

[2021-08-10 07:58] bzhaoopenstack opened #27066 "[openEuler DB SIG] How do you think to cooperate with openEuler community?"
Hi, I'm bo zhao, the [DB SIG](https://gitee.com/openeuler/community/tree/master/sig/DB) maintainer in openEuler community. You can know more about openEuler via [openeuler community](https://openeuler.org/zh/) .

The DB SIG aims to extend the DB eco-system for openEuler, currently, we enabled multiple tradition OLTP open-source databases, including Mysql, MariaDB, PostgreSQL, Greenplum and other o

[2021-08-10 08:14] wshwsh12 opened #27069 "Reduce the memory resources required for Sort Spilling"
## Enhancement

Now SortExec supports spilling when memory usage is higher than mem-quota, but is still allocate a lot of untracked memory.

Here is a example, which can be used to analyze the memory usage of Sort Spilling.
![image](https://user-images.githubusercontent.com/14054293/128830962-a6907a3f-1eba-40e3-a201-1fa805abda9b.png)

After the tracking code, I find the memory allocated by the fol

[2021-08-10 08:17] #27030 closed

[2021-08-10 08:23] unconsolable commented on #26854
Some tests has both serial suite and suite, for example `cte_test.go` has both `CTETestSuite` and `CTESerialTestSuite`. Serial suite in pingcap/check can be replaced by suite in testify, while suite can not because parallel execution is not supported in testify.

IMO a parent test may be built and acted as `SetUpSuite` and `TearDownSuite`, and other tests are introduced by sub tests. Also stretchr

[2021-08-10 08:33] fidelis-C commented on #27069
Woo

[2021-08-10 08:38] ChenPeng2013 opened #27070 "Inconvenience Warning: Unsupported partition type, treat as normal table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
Maybe
tidb_enable_list_partition is disabled,  treat as normal table

### 3. What did you see instead (Required)
release-5.0 & release-5.1 & release-5.2 & master
[code]

### 4. What is your TiDB version? (Required)

[code

[2021-08-10 08:50] Cira-Zhao opened #27071 "release: v5.2.0"
v5.2.0 release date Aug 27
- [x] Aug 8 release-5.2 branch
- [x] 1st triage Aug 12
- [x] 2nd triage Aug 13
- [x] 3rd triage Aug 16
- [x] War meeting - release postponed 1 week
- [x] Aug 18: seal version and release note review
- [x] Aug 27: Release

[2021-08-10 08:53] #26162 closed

[2021-08-10 08:54] seiya-annie opened #27072 "v5.2.0 nightly, tidb panicked with "projection executor panicked"] [error="runtime error: index out of range [7] with length 7""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

# [Failed] f99b0c1c-a86e-43f7-af9e-632acef33674 (2021-08-10T08:41:27Z,1s)

## last query

19: (select  * from t1, t2 where t1.c_decimal = t2.c_decimal and t1.c_int = t2.c_int and t1.c_str >= t2.c_str and t1.c_str = 'sharp goldwasser' for update) union all (select  * from t1

[2021-08-10 08:56] seiya-annie commented on #27072
maybe the same issue with https://github.com/pingcap/tidb/issues/24262, but this issue and it's related issue has been closed. please confirm whether this issue is cherry-picked in 5.2.

[2021-08-10 09:12] eurekaka commented on #26782
The root cause of the problem is that, we store BinaryLiteral type user variables as strings internally, and before using them, we do not convert them back. https://github.com/pingcap/tidb/pull/23241 fixed this problem on master branch, while the 5.0 cherry-pick https://github.com/pingcap/tidb/pull/23373 has not been merged.

[2021-08-10 09:13] tisonkun commented on #25150
@wjhuang2016 well. Then could you list adding the design document of expression index as a subtask of making this feature GA? Otherwise it is quite confused what we're going to GA.

[2021-08-10 09:28] seiya-annie commented on #27072
sorry, version is not correct.

[2021-08-10 09:28] #27072 closed

[2021-08-10 09:36] Cira-Zhao opened #27076 "release: v5.1.2-x86"

[2021-08-10 10:29] wjhuang2016 commented on #25150
https://docs.google.com/document/d/12BmhkYm-Y7uv4gjMpUDKJ3KFqos2PX9spEzZ_W2WlF0/edit# But it has nothing to do with GA

[2021-08-10 10:33] jingshanglu opened #27078 "Var tidb_stmt_summary_max_stmt_count does not work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master
commit : (https://github.com/pingcap/tidb/commit/deb6dadc6cef4083160ffb4a41a954b30aab4cec)

[2021-08-10 11:14] tisonkun commented on #26854
@unconsolable almost we use testify checkers only and it is viable to setup/teardown tests with go testing.

See also https://pkg.go.dev/testing#hdr-Subtests_and_Sub_benchmarks.

testify is already aware of this issue https://github.com/stretchr/testify/issues/187 years ago and the author of stretchr/testify#1109 isn't one of the maintainer. I don't think they will enable this feature soon.

You c

[2021-08-10 11:20] xuyifangreeneyes opened #27083 "explain results show `stats:pseudo` in `operator info` though it uses true stats"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-08-10 11:21] xuyifangreeneyes commented on #27083
/sig planner

[2021-08-10 11:21] xuyifangreeneyes commented on #27083
/assign

[2021-08-10 11:22] fengou1 commented on #27015
/sig migrate

[2021-08-10 12:27] #27076 closed

[2021-08-10 12:39] #27038 closed

[2021-08-11 01:42] Reminiscent commented on #27064
/assign

[2021-08-11 02:16] buggithubs opened #27089 "mysql.stats_fm_sketch - internal delete SQL panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/11624213/128959326-2cdc4ad5-bae7-4db6-a509-6ad7bfbcb06e.png)

[code]

`[adapter.go:335] ["execute sql panic"] [sql="delete from mysql.stats_fm_sketch where table_id = 418"] [stack="github.com/pingcap/tidb/executor.(*ExecStm

[2021-08-11 02:23] buggithubs opened #27090 "tableWorker in IndexLookUpExecutor panicked"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Error SQL is not seen in the log

`[distsql.go:988] ["tableWorker in IndexLookUpExecutor panicked"] [stack="goroutine 600103146 [running]:\ngithub.com/pingcap/tidb/executor.(*tableWorker).pickAndExecTask.func1(0x3c13070, 0xc042ec1680, 0xc02097bee0)\n\t/home/jenkins/agent/wo

[2021-08-11 03:10] windtalker opened #27091 "count distinct with multiple column return wrong result under new collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master@a7fdc2a056636119202c16feefb91f25702a8f4f

[2021-08-11 03:16] wshwsh12 opened #27092 "Support spilling for distinct aggregate function"
## Enhancement

Although we support spilling for unparallel HashAgg now, the memory usage of distinct is also out of control.
The reason is that we need a IntSet/FloatSet/StringSet to check whether a value is distinct, and the Set maybe take up huge memory.

We need some spilling strategy for distinct function, to control the memory usage of SQL included distinct function.

Fortunately, only few a

[2021-08-11 03:21] time-and-fate opened #27093 "user variable in GROUP BY might be wrongly pruned in logical optimization"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
[code]

### 4. What is your TiDB version? (Required)

current master

This should be introduced by enabling push down agg below projection by default in ht

[2021-08-11 03:21] time-and-fate commented on #27093
/sig planner

[2021-08-11 03:21] time-and-fate commented on #27093
/assign time-and-fate

[2021-08-11 03:26] wshwsh12 commented on #27092
I have a simple idea, but need to modify the implement of each distinct functions.
Take count(distinct a) as an example, we can record a count value and a set for distinct
1. If the memory is enough, process a key at this time
     a. If the key has appeared in the set, it means that the count has passed, skip
     b. If the key does not appear in the set, count++, insert the key into the set
2. I

[2021-08-11 04:22] seiya-annie commented on #23344
please update the optional value in config.toml.example in 4.0 and 5.0 branch, console should be removed.

# Log format, one of json, text, console.
format = "text"

[2021-08-11 04:37] tisonkun commented on #27040
@hooopo do you have ideas about the progress when we can close this issue and mark the support of Active Record as delivered?

[2021-08-11 04:43] zhouqiang-cl commented on #26947
great, and I think split this into three tests can be much help

[2021-08-11 05:16] cyliu0 opened #27095 "lightning tidb version precheck failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

import data via master build lightning

### 2. What did you expect to see? (Required)
import successfully

### 3. What did you see instead (Required)
precheck failed. "cluster available check failed: TiDB version too new, expected to be within [4.0.0, 5.0.0), found '5.2.0-a

[2021-08-11 05:38] MyonKeminta commented on #26973
Fixed by https://github.com/pingcap/tidb/pull/27027

[2021-08-11 05:39] #27007 closed

[2021-08-11 05:45] 3pointer commented on #27015
/assign @fengou1

[2021-08-11 06:04] XuHuaiyu commented on #26626
It's a compatibility problem between x86 and arm.
[code]

[code]

[2021-08-11 06:07] unconsolable opened #27097 "migrate test-infra to testify for `executor/cte_test.go`"
Sub task of #26854

[2021-08-11 06:08] unconsolable commented on #26854
Please add #27097 as a sub task

[2021-08-11 06:08] unconsolable commented on #27097
/assign

[2021-08-11 06:11] tangenta commented on #25331
MySQL implements the time-to-year conversion by casting to integer first, followed by casting to year:
[code]

TiDB obeys the `cast` function rule described in https://dev.mysql.com/doc/refman/8.0/en/cast-functions.html:

So the result in TiDB is `2021`(current year), which is incompatible with MySQL.

[2021-08-11 06:21] #26765 closed

[2021-08-11 06:25] #24480 closed

[2021-08-11 06:36] rleungx opened #27101 "Support exchange partition for label rules"
## Development task

[2021-08-11 06:54] tangenta commented on #25287
Partially fixed by #25087.

[2021-08-11 06:57] bzhaoopenstack commented on #27066
@rebelice @qw4990 Hi team, could you please see this one? Thanks

[2021-08-11 07:05] guo-shaoge opened #27106 "Wrong query result when session variable is used as group by item"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exist t1;
    create table t1(c1 int);
    insert into t1 values(1), (2), (3), (4), (5), (6);
    select floor(dt.rn/2) rownum, count(c1) from (select @rownum := @rownum + 1 rn, c1 from (select @rownum := -1) drn, t1) dt group by floor(dt.rn/2) order by ro

[2021-08-11 07:07] guo-shaoge commented on #27106
In v4.x, plan is ok.

[2021-08-11 07:09] #26978 closed

[2021-08-11 07:13] mjonss commented on #26703
/assign @mjonss

[2021-08-11 07:14] winkyao commented on #27066
@bzhaoopenstack hi, we will have a discussion about this topic. I will contact you if there is any conclusion.

[2021-08-11 07:19] #26982 closed

[2021-08-11 07:19] qw4990 commented on #26950
This issue is hard to reproduce so that it's not easy to fix it.
I change its severity to moderate temporarily and I'll investigate it more detailedly next Sprint.

[2021-08-11 07:33] tisonkun commented on #26854
@unconsolable done. Thank you!

[2021-08-11 07:42] eurekaka commented on #26934
Seems like the goroutine leak is incurred by the changes in https://github.com/pingcap/tidb/pull/26206, the suspected line change is the newly added `owner.Cancel()` when the domain is exiting, however, look deeper into the `Cancel()` function, it is indeed safe to be called by multiple goroutines. BTW, the stack of `Cancel()` does not match the leaked goroutine printed in the log, so I am not sur

[2021-08-11 07:49] xiongjiwei commented on #26253
I believe it is not related to collation, it should always be case insensitive no matter what the collation is.

[2021-08-11 07:53] #25332 closed

[2021-08-11 07:57] Reminiscent commented on #27064
The behavior here is expected. If SQL fails to pass the parser check in the new version, an error will be generated when the corresponding binding is first loaded after the upgrade. We need to manually delete the binding that corresponds to the error so that it can be started smoothly after the upgrade. I will add more information to remind users when reporting errors。

[2021-08-11 07:59] dveeden commented on #26947
What about something like this: https://github.com/dveeden/tidb/commit/db99386fca13fc166a7e83ae83b5321203ca768f ?
This adds a setting for the RSA key size.

I don't like having more settings just for this. Is there some other way how we can override the keysize just for testing?

[2021-08-11 08:11] xiongjiwei commented on #25482
have been fixed in 5.1

[2021-08-11 08:11] #25482 closed

[2021-08-11 08:14] wzru commented on #25193
The behaviors differ in MySQL 5.7 and MySQL 8.0
TiDB behaves as same as MySQL 5.7
[code]
[code]

[2021-08-11 08:37] XuHuaiyu commented on #25193
Because of the behavior between MySQL 5.7 and MySQL 8.0 is different, I'll use the `compatibility` label instead of `bug` label.

[2021-08-11 08:37] xiongjiwei commented on #24283
I think the length limit indicates the number of bytes, a Chinese character has 3 bytes so that we can only use at most 21 Chinese characters.

[2021-08-11 08:45] zhouqiang-cl opened #27114 "Data race in `sessionctx/variable.(*SessionVars).InitStatementContext`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb-unit-test-nightly/runs/8205/nodes/108/steps/373/log/?start=0

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Requ

[2021-08-11 08:48] zhouqiang-cl opened #27115 "Unstable test `testCTCSerialSuiteWrapper.TestChangingColOriginDefaultValue`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/24772/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-11 08:49] #26411 closed

[2021-08-11 08:50] zhouqiang-cl opened #27116 "Unstable test `testTxnStateSerialSuite.TestBlocked`"
## Bug Report
[code]
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/24756/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-11 08:53] zhouqiang-cl commented on #24679
happend again https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/24721/pipeline

[2021-08-11 09:14] youjiali1995 commented on #26404
Fixed by https://github.com/tikv/tikv/pull/10652.

[2021-08-11 09:14] #26404 closed

[2021-08-11 10:05] jingshanglu commented on #27090
@buggithubs plz add reproduce step.

[2021-08-11 10:06] xiongjiwei commented on #27089
I think this issue belongs to the planner team, I will change the label, let me know if you have any concerns. @jingshanglu

[2021-08-11 10:19] bb7133 commented on #27116
PTAL @longfangsong

[2021-08-11 10:20] bb7133 commented on #27115
PTAL @AilinKid

[2021-08-11 10:57] #27095 closed

[2021-08-11 11:17] #24953 closed

[2021-08-11 12:11] zhouqiang-cl opened #27124 "randgen test break by #26545"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)
introduce in https://github.com/pingcap/tidb/pull/26545

in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6102/pipeline

### 2. What did you expect to see? (Required)

### 3. What did yo

[2021-08-11 12:13] zhouqiang-cl commented on #27124
@ sylzd @XuHuaiyu @ichn-hu PTAL

[2021-08-11 12:16] lilinghai opened #27125 "planner wrongly pushed enum/set filter into tiflash side"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
the plan is
[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1105 (HY000): close of nil channel
[code]
### 4. What is your TiDB version? (Required)

Release Version: v5.2.0-alpha-549-g6720fcd40
Edition

[2021-08-11 12:29] #26989 closed

[2021-08-11 13:05] jingshanglu opened #27126 "Test [udaf_avg_union] failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6101/pipeline/137

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB ver

[2021-08-11 13:09] jingshanglu opened #27127 "Test [udaf_bitor_union] failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6101/pipeline/138

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB ver

[2021-08-11 13:25] lilinghai opened #27130 "The result of query using the tabledual plan is not correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
tabledual plan result is correct
### 3. What did you see instead (Required)
tabledual plan result is not correct
### 4. What is your TiDB version? (Required)

Release Version: v5.2.0-alpha-549-g6720fcd40
Edition: Communit

[2021-08-11 14:14] dveeden commented on #26253
The problem here is that MySQL handles this differently. This can cause compatibility issues.

[2021-08-11 15:29] JaySon-Huang commented on #23852
It is supported in the master branch now. I think it is done by https://github.com/pingcap/tidb/pull/24959, closing it.

[code]

[2021-08-11 15:29] #23852 closed

[2021-08-11 15:53] sylzd commented on #25939
/assign

[2021-08-12 01:03] fengou1 commented on #27015
/assign @fengou1

[2021-08-12 02:02] bzhaoopenstack commented on #27066
@winkyao Thanks.

[2021-08-12 02:50] ichn-hu opened #27132 "show query memory consumption on `show processlist`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

currently the `show processlist` show the time of when the SQL started, but it would be much nicer if it could show the memory consumption of the SQL. Since we've supported memory tracking for some of the executors, it would be a lower bound of how much memory is used by the query.

**Describe the feature you'd

[2021-08-12 02:59] #25437 closed

[2021-08-12 03:51] HackervvSKvasdlK opened #27134 "support function months_between/add_months"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**
**add_months/months_between:**
We now have calculation requirements for month addition and subtraction and monthly difference, and the result needs to be consistent with Oracle/Hive. May I ask whether these two functions can be implemented. Example:
add_months('2019-2-28',1)

[2021-08-12 03:51] #23602 closed

[2021-08-12 03:52] sylzd commented on #25940
/assign

[2021-08-12 03:55] vivid392845427 opened #27135 "runtime error: index out of range [0] with length 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`select excute success;`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-12 03:57] winoros commented on #23453
This is resolved when you set `@@tidb_analyze_version=2`.
`@@tidb_analyze_version=2` will be released soon as a final stable experiments.

[2021-08-12 04:23] #26420 closed

[2021-08-12 04:37] vivid392845427 opened #27138 "set @@tidb_partition_prune_mode=dynamic; select on partition table occur：runtime error: index out of range [0] with length 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]

### 2. What did you expect to see? (Required)
`
select return sucess`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-12 05:12] tisonkun opened #27139 "migrate test-infra to testify for `structure`"

[2021-08-12 05:15] tisonkun opened #27140 "migrate test-infra to testify for `sessionctx`"
* [x] #27278
* [x] #27279
* [x] #27280
* [x] #27281

[2021-08-12 05:15] tisonkun opened #27141 "migrate test-infra to testify for `statistics`"
* [x] #28116
* [x] #28117
* [x] #28118
* [x] #28119
* [x] #28120
* [x] #28121
* [x] #28122
* [x] #28123
* [x] #28124
* [x] #28125
* [x] #28126
* [x] #28127
* [x] #28128
* [x] #28129
* [x] #28130
* [x] #28131

[2021-08-12 05:15] tisonkun opened #27142 "migrate test-infra to testify for `store`"
* [x] #27652
* [x] #27653
* [x] #27654
* [x] #27655
* [x] #27656
* [x] #27657

[2021-08-12 05:15] tisonkun opened #27143 "migrate test-infra to testify for `tidb-server`"

[2021-08-12 05:21] feitian124 commented on #26878
it there a more detailed plan?

[2021-08-12 05:59] buggithubs commented on #27090
I don't know why it happened

[2021-08-12 06:10] ClSlaid commented on #27078
this is a new row of records in statements summary, you can check #25031 for details.
docs are on the way.

[2021-08-12 06:32] lilinghai opened #27146 "The result of association sub query is not correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[1.txt](https://github.com/pingcap/tidb/files/6973281/1.txt)
collation is on
download and source the 1.txt
execute the sql
[code]
### 2. What did you expect to see? (Required)
23
### 3. What did you see instead (Required)
24
### 4. What is your TiDB version? (Required)

Rel

[2021-08-12 06:41] aytrack opened #27147 "autoanalyze panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. execute the cases [ticase-expression-index.test]( https://github.com/pingcap/automated-tests/pull/807/files#diff-e76f64fdee71abff54b4f4bee4923ad5c5a9fc083df234e24ca6ca0a145eed73)
2. check the log

### 2. What did you expect to see? (Required)
all things ok.
### 3. What di

[2021-08-12 06:55] #26889 closed

[2021-08-12 07:29] zhouqiang-cl commented on #26947
I am sorry, I don't know how to answer it

[2021-08-12 07:41] Reminiscent commented on #27064
/close

[2021-08-12 07:41] #27064 closed

[2021-08-12 07:47] windtalker opened #27148 "TiDB throw error for mpp queries"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
query finishes without error
### 3. What did you see instead (Required)
query throw invalid memory address or nil pointer dereference in TiDB, and throw `Block schema mismatch in TiRemoteBlockInputStream(ExchangeReceiver)

[2021-08-12 07:49] wzru commented on #25245
Could you please provide some more complete SQL?
[code]

[2021-08-12 08:03] xiongjiwei commented on #7545
close this one

[2021-08-12 08:03] #7545 closed

[2021-08-12 08:05] xiongjiwei commented on #24734
I think this issue should be an enhancement instead of bug

[2021-08-12 08:06] dveeden commented on #26947
@morgo @tiancaiamao What is your opinion on adding a setting? Is there a better way to do this? Maybe build constraints that set a constant to 4096 for regular builds and to 528 when doing testing?

[2021-08-12 08:12] xiongjiwei commented on #26313
it should be an enhancement not a bug

[2021-08-12 08:14] fubinzh opened #27151 "lightning: pre-check show duplicate info"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. run lightning to import data, and check pre-check information

### 2. What did you expect to see? (Required)
1. No duplicate information displayed.

### 3. What did you see instead (Required)
![lightning_precheck](https://user-images.githubusercontent.com/7403864/12916198

[2021-08-12 08:31] ichn-hu commented on #26878
Not yet, you are welcomed to try to write a detailed proposal for it!

[2021-08-12 08:31] xiongjiwei commented on #22794
seems it has been fixed

[2021-08-12 08:31] #22794 closed

[2021-08-12 08:33] lcwangchao opened #27153 "Data race for test TestIssue23872"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

See:

https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/9045/nodes/99/steps/244/log/?start=0

### 2. What did you expect to see? (Required)

No data race

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB ve

[2021-08-12 08:35] fengou1 opened #27154 "DBaaS import dumpling sql and Aurora Snapshot take a long time when tables = 10000"
## Enhancement
DBaaS TiDB and lightning version. v5.0.1

test result:
Nr of dbs | Nr of tables | Nr of records | Data size | Restore time | Average speed
-- | -- | -- | -- | -- | --
1 | 10000 | 2000 0000 | ~12 GB | 3 hours 38 mins | ?
1 | 10000 | 2000 0000 | ~12 GB | 9 hours 38 mins | ?

DBaaS test steps:

1. Create Aurora MySQL
2. Generate a test data (10K tables, 20M records)
3. Dump Aurora MySQ

[2021-08-12 08:35] #25882 closed

[2021-08-12 08:35] #26187 closed

[2021-08-12 08:38] feitian124 commented on #26878
i'd like to but maybe next time, i am a freshman here still.
but i'd like to join the job if need

[2021-08-12 08:41] ichn-hu commented on #26878
let's see if there is anybody who would like to give a design, perhaps by the end of next week, otherwise I'll come up one.

[2021-08-12 08:44] vivid392845427 opened #27156 "the default value of `tidb_partition_prune_mode` is set to `dynamic`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]

### 2. What did you expect to see? (Required)

commit return err:

[code]

### 3. What did you see instead (Required)

commit success

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-12 08:53] LittleFall commented on #27148
[code]

[2021-08-12 08:53] #26703 closed

[2021-08-12 08:56] LittleFall commented on #27148
there are three problems scene:
1. root cause, tidb generated a plan with mismatch type info.
2. tiflash throw error of mismatch type info, stack as above.
3. tidb crash because of this throwing.

we need to fix 1 as fast as possible and fix 3 later.

[2021-08-12 08:56] tiancaiamao commented on #22212
Seems related to statement summary, PTAL @crazycs520

[2021-08-12 09:11] BusyJay commented on #24734
Why? Is it expected that keep loading data into TiDB will stuck at some point even though there are still enough space in TiKV?

[2021-08-12 09:16] lcwangchao commented on #25926
Duplicated with:

- #26048
- #26050

[2021-08-12 09:17] lcwangchao commented on #25922
Duplicated with:

- #26048
- #26050

[2021-08-12 09:17] #25922 closed

[2021-08-12 09:19] fubinzh opened #27157 "lightning: optimize stdout/log display in case of last lightning import with checkpoint enabled fails."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Last lightning import with checkpoint enabled fails for some reasons, e.g. ulimit setting is too low
2. The error is corrected
3. Try to run the lightning import job again

### 2. What did you expect to see? (Required)
1.  There should be stdout output let user know what

[2021-08-12 09:25] #25890 closed

[2021-08-12 09:26] #25926 closed

[2021-08-12 09:46] lcwangchao commented on #25931
Tests already added in case `TestSchemaCheckerTempTable` of pr: #26267

[2021-08-12 09:46] #25931 closed

[2021-08-12 09:51] anhldbk commented on #26846
Guys, does this bug relate to the following fix in v4? https://github.com/pingcap/tidb/pull/24634

[2021-08-12 09:56] aytrack opened #27159 "got wrong result while use expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
result should be same when use and ignore index

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-08-12 10:03] LittleFall commented on #27148
mininal(?) reproduce:
[code]

[2021-08-12 10:06] vivid392845427 commented on #27156
another test scenario that does not meet expectations：
/* s1 */ create table t2(c1 int primary key, c2 int, c3 int, c4 int, unique key uk2(c2), key k3(c3));
/* s1 */ insert into t2 values (1,1,1,1),(2,2,2,2),(3,3,3,3),(4,4,4,4);
/* s1 */ set autocommit = 0;
/* s1 */ set innodb_lock_wait_timeout = 0;
/* s1 */ set tidb_txn_mode = pessimistic;

/* s3 */ set autocommit = 0;
/* s3 */ set tidb_txn_mode

[2021-08-12 10:20] vivid392845427 commented on #27156
ordinary table excute the same operation twice, and it will be submitted successfully

[2021-08-12 10:27] you06 commented on #27156
@vivid392845427 thanks, this case is confirmed.

[2021-08-12 10:28] jingshanglu commented on #27135
@vivid392845427
[code]
There is a syntax error in this sql, can you check it?

[2021-08-12 10:39] jingshanglu commented on #27138
I can`t reproduce it, can you check it repeat?

[2021-08-12 11:43] xiongjiwei commented on #24734
sorry, misunderstand your point, thought there is a performance issue that makes the slow log too much.

[2021-08-12 11:50] purelind opened #27162 "start tidb-server failed on loading plugin test"
## Bug Report

[code]

ci link
1. https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_build/detail/tidb_ghpr_build/19675/pipeline/

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-08-12 11:59] #26569 closed

[2021-08-12 12:33] #27153 closed

[2021-08-12 12:51] seiya-annie opened #27166 "v4.0.2 upgrade to v5.2.0 success, but report "panic in the recoverable goroutine" in log"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

upgrade from v4.0.2 to v5.2.0, found following issue in tidb.log
```2021/08/12 19:59:53.128 +08:00] [ERROR] [misc.go:117] ["panic in the recoverable goroutine"] [label=domain] [funcInfo=updateStatsWorker] [r={}] [stack="goroutine 934 [running]:\ngithub.com/pingcap/tidb/util

[2021-08-12 12:59] hooopo commented on #27040
The current version is delivered, but it needs long-term maintenance, and many things need to be improved

[2021-08-12 13:04] seiya-annie commented on #27166
[tidb.log.gz](https://github.com/pingcap/tidb/files/6975631/tidb.log.gz)

[2021-08-12 13:13] tisonkun commented on #27040
@hooopo get it. We can track further issues on that repo instead. For confirming we delivered a minimal viable product, could you comment below an example or demo for running TiDB with Active Record? I think then we can close this issue as finished.

[2021-08-12 13:15] yuqi1129 opened #27167 "Wrong charset about union result of date type and int"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run master and
[code]

### 2. What did you expect to see? (Required)

[code]
### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
Master branch

[2021-08-12 13:20] yuqi1129 commented on #27167
Seems that the result collation is not correct
![image](https://user-images.githubusercontent.com/15794564/129203915-f0fb0fc2-dd18-425e-bc04-6b719a770bab.png)

[2021-08-12 13:37] #25939 closed

[2021-08-12 13:37] hooopo commented on #27040
This is demo app using activerecord-tidb-adapter:  https://github.com/hooopo/activerecord-tidb-adapter-demo

[2021-08-12 13:43] tisonkun commented on #27040
@hooopo Thanks! I'm going to close this one and create an issue on https://github.com/pingcap/activerecord-tidb-adapter asking for a brief tutorial on how to build the demo app.

[2021-08-12 13:44] hooopo commented on #24194
[activerecord-tidb-adapter](activerecord-tidb-adapter) is ready, and this is demo app using activerecord-tidb-adapter https://github.com/hooopo/activerecord-tidb-adapter-demo

[2021-08-12 13:48] tisonkun commented on #27040
closed and superseded by https://github.com/pingcap/activerecord-tidb-adapter/issues/6

[2021-08-12 13:48] #27040 closed

[2021-08-12 15:10] bb7133 commented on #27078
Change it to 'minor' because according to #25031, the behavior is expected(but anti-intuitive)

[2021-08-12 16:18] vivid392845427 commented on #27138
i can‘t reproduce it too，but the auto test case failed frequently on test-store

[2021-08-12 16:22] vivid392845427 commented on #27135
select  /*+ hash_join( tbl_19 , tbl_22 */ tbl_19.* from tbl_19 where col_5 in ( select col_134 from tbl_22 where tbl_19.col_5 between 19961 and 64474 );

[2021-08-12 17:10] yudongusa commented on #27089
Any findings why runtime panics? The plan looks ok though.

[2021-08-13 00:52] tisonkun commented on #25970
Hi @eurekaka do we have a design document for this effort? Or these are all concrete enhancements that do not deserve a design doc?

[2021-08-13 01:28] tisonkun opened #27177 "migrate test-infra to testify for `bindinfo` pkg"

[2021-08-13 01:28] tisonkun opened #27178 "migrate test-infra to testify for `br/pkg`"
* [x] #28164
* [x] #28165
* [x] #28166
* [x] #28167
* [x] #28168
* [x] #28169
* [x] #28170
* [x] #28171
* [x] #28172
* [x] #28173
* [x] #28174
* [x] #28175
* [x] #28176
* [x] #28177
* [x] #28178
* [x] #28179
* [x] #28180
* [x] #28181
* [x] #28182
* [x] #28183
* [x] #28184

[2021-08-13 01:28] tisonkun opened #27179 "migrate test-infra to testify for `config` pkg"

[2021-08-13 01:28] tisonkun opened #27180 "migrate test-infra to testify for `ddl` pkg"
- [x] #27669
- [x] #27670
- [x] #27671
- [x] #27672
- [x] #28628
- [x] #28629
- [x] #28630
- [x] #28631
- [x] #28632
- [x] #30086
- [x] #28633
- [x] #28634
- [x] #28635
- [x] #28636
- [x] #28637
- [x] #28638
- [x] #28639
- [x] #29102
- [x] #29103
- [x] #29104
- [x] #29105
- [x] #29106
- [x] #29107
- [x] #29108
- [x] #29109
- [x] #29110
- [x] #29111
- [x] #29112
- [x] #29113
- [x] #29114
- [x] #291

[2021-08-13 01:38] tisonkun commented on #26020
@xuyifangreeneyes is there any schedule to push a design document? At least I think @winoros or you can create a subtask for it now.

[2021-08-13 01:45] tisonkun commented on #24190
@SabaPing BR is merged into TiDB, you can take a look whether we should change something in the plan.

[2021-08-13 03:12] HuGanghui commented on #27139
/assign

[2021-08-13 03:27] rleungx opened #27182 "Use default keyword to reset the label rule"
## Development task

[2021-08-13 03:49] seiya-annie opened #27185 "upgrade will fail when tidb system variable tidb_evolve_plan_baselines =on"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. before upgrade set tidb_evolve_plan_baselines =on
2. upgrade to v5.2.0

### 2. What did you expect to see? (Required)
upgrade success
### 3. What did you see instead (Required)
fail with ] [terror.go:276] ["unexpected error"] [error="Cannot enable baseline evolution feat

[2021-08-13 03:49] Reminiscent commented on #27185
/assign

[2021-08-13 04:01] fubinzh opened #27187 "tidb OOM during analyze table phase of lightning import"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Use lightning to import 70GB of test data
2. Waiting the lightning import finished, and check tidb status.

### 2. What did you expect to see? (Required)
Lightning import should succeed, including analyze table phase at the end of the lightning import.

### 3. What did yo

[2021-08-13 04:01] tisonkun commented on #26022
Hi, audience of this thread.

I'd like to share you an under reviewing dev guide section [Write and Run Unit Tests](https://github.com/pingcap/tidb-dev-guide/pull/75). It collects best practices found in this effort and hopefully we guide every developer how to write unit tests in idiom and run tests by yourself.

[2021-08-13 04:14] glkappe opened #27188 "tidb 5.0 continues to support engine modification"
background:
On a synchronization link like `mysql -> dm -> tidb`, if you upgrade tidb to 5.0, the synchronization will be interrupted, and it will be painful to restore the synchronization. If there is no other special reason, we should continue to support `alter table xx engine = innodb`. Syntax, otherwise it is necessary to communicate with `tidb-tools` to do the upgrade compatibility work, this

[2021-08-13 05:10] xuyifangreeneyes opened #27189 "The cost of TableScan is always the same as that of IndexScan for double-read IndexScan plan"
## Enhancement

In `(*DataSource).convertToIndexScan`, for double-read IndexScan plan, after we calculate the cost of IndexScan, we just assign the same cost to TableScan. Though it won't affect cost based optimization, users may feel confused when seeing the always same cost between IndexScan and TableScan when running `EXPLAIN FORMAT = 'verbose'`.

https://github.com/pingcap/tidb/blob/d4a98d5a72

[2021-08-13 05:10] xuyifangreeneyes commented on #27189
/sig planner

[2021-08-13 05:21] xuyifangreeneyes opened #27190 "is PhysicalTableScan.PkCols redundant?"
## General Question

In the source code of master branch, `PhysicalTableScan.PkCols` is only assigned value in `(*PhysicalTableScan).Clone` and `(*testPlanBuilderSuite).TestPhysicalPlanClone`. Hence, is the field redundant?
<img width="510" alt="Screen Shot 2021-08-13 at 1 20 30 PM" src="https://user-images.githubusercontent.com/30385241/129308605-119b7e5e-a4d7-4d79-8b3d-2502015ba16b.png">

[2021-08-13 05:21] xuyifangreeneyes commented on #27190
/sig planner

[2021-08-13 05:44] Reminiscent commented on #27185
It's expected. The feature for `tidb_evolve_plan_baselines` is forbidden. We will add this to the upgrade checklist.

[2021-08-13 05:47] Reminiscent commented on #27185
/close

[2021-08-13 05:47] #27185 closed

[2021-08-13 05:54] guo-shaoge commented on #27064
Do we have link of the checklist?

[2021-08-13 06:33] #26740 closed

[2021-08-13 06:49] #26758 closed

[2021-08-13 07:01] Lily2025 opened #27197 "when run sysbench prepare，report “Write conflict” error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1、run sysbench prepare
threads=512
tableNum = 512
tableSize = 10000000000

### 2. What did you expect to see? (Required)
sysbench report “Write conflict” error
<img width="919" alt="writeconflict " src="https://user-images.githubusercontent.com/84712107/129317463-0b4a4269-eb

[2021-08-13 07:13] fgksgf commented on #26956
I locally checked the project with  [SkyWalking-eyes](https://github.com/marketplace/actions/license-eye), and found that almost all license headers have one less sentence compared to [the standard one](https://www.apache.org/foundation/license-faq.html#Apply-My-Software).

[2021-08-13 07:27] you06 commented on #27156
Reads from other sessions are incorrect.

[code]

[2021-08-13 07:30] kezhenxu94 commented on #26956
Well, the missing line is "WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.", I think this sentence is critical and a modified Apache license header is not called Apache license actually.

[2021-08-13 07:31] #25304 closed

[2021-08-13 07:31] fgksgf commented on #26956
I'm working on fixing them.

[2021-08-13 07:49] #25287 closed

[2021-08-13 07:55] jingshanglu commented on #27135
tidb config
[code]

error info
[code]

[2021-08-13 08:09] jingshanglu commented on #27197
@Lily2025 Can you add information about executing sql?

[2021-08-13 08:34] jingshanglu commented on #27089
@xiongjiwei @yudongusa  Ok,I can't find

[2021-08-13 08:38] winoros commented on #27166
We are going to refactor and re-test the feedback part. Thus move down the severity for now.

[2021-08-13 08:48] time-and-fate commented on #27147
It might be caused by missing nil check in `(*Table).GetStatsInfo()`

[2021-08-13 08:49] you06 commented on #27156
In the second round, session1 executes `/* s1 */ insert into t2 values (1,1,1,1),(2,2,2,2),(3,3,3,3),(4,4,4,4);` without commit, that's why no conflict is notified by session3.

[2021-08-13 08:57] #27148 closed

[2021-08-13 09:11] you06 commented on #27156
A simple reproduce.

[code]

[2021-08-13 09:12] time-and-fate commented on #27093
The same reason as https://github.com/pingcap/tidb/issues/27106.

[2021-08-13 09:17] time-and-fate commented on #27147
Minimal reproduce:
[code]

[2021-08-13 09:24] Reminiscent commented on #27185
Here is the [doc pr](https://github.com/pingcap/docs-cn/pull/6790).

[2021-08-13 09:27] Reminiscent commented on #27147
/assign

[2021-08-13 09:41] sylzd commented on #25941
/assign

[2021-08-13 09:59] tiancaiamao commented on #27197
The conflicts on the meta key `NextGlobalID`

The create table statement looks like this:

[code]

One create table statement will use a transaction to increase the `NextGlobalID` meta key twice, here is the calling stack:

[code]

[code]

[2021-08-13 10:00] lcwangchao commented on #25923
I wonder if we should keep all behaviors some with normal table, for example：

[code]

It will output:

[code]

The purpose of `tidb_constraint_check_in_place` is for improving performance, but it is not necessary for temporary tables because all data is stored in temporary.

[2021-08-13 10:01] tiancaiamao commented on #27197
From the TiDB log:

[code]

[2021-08-13 10:03] tiancaiamao commented on #27197
So, the problem is, creating new tables need to modify the `NextGlobalID` meta key.
When the concurrency is too high ... the write conflict happens.  @Lily2025

[2021-08-13 10:06] LittleFall opened #27208 "CI: 5.2 unit test race in `(*IndexNestedLoopHashJoin).finishJoinWorkers()`"
origin pr: https://github.com/pingcap/tidb/pull/27203
scene: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/9217/pipeline/
log: https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/9217/nodes/91/steps/128/log/?start=0

[code]

[2021-08-13 10:47] dveeden opened #27210 "Setting the version for TiDB doesn't reflect on global vars"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Start TiDB with this config:
[code]

### 2. What did you expect to see? (Required)

`SELECT VERSION()`, The server greeting packet in the MySQL Protocol and `SELECT @@version` all report the same version, the one that was set in the config

### 3. What did you see instead (

[2021-08-13 10:52] djshow832 commented on #25923
It's unnecessary to keep them the same. Temporary tables can just ignore `tidb_constraint_check_in_place`.

[2021-08-13 11:50] crazycs520 opened #27213 "show grants return wrong result."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
 Create user, role.

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-13 11:50] crazycs520 commented on #27213
@morgo PTAL

[2021-08-13 11:57] #27091 closed

[2021-08-13 12:13] dveeden opened #27214 "CREATE SCHEMA is not respecting the collation_server variable"
## Bug Report

MySQL 8.0.26:
[code]

TiDB v5.2.0-alpha-609-gf7917916e
[code]

When no collation is specified on the `CREATE SCHEMA` statement the collation that is set by `collation_server` should be used.

[code]

[2021-08-13 12:13] dveeden commented on #27214
/type compatibility

[2021-08-13 13:15] bb7133 commented on #27135
Hi @jingshanglu , I don't think this is critical: it doesn't lead to a wrong result. 'major' may be a better choice.

[2021-08-13 14:49] #25331 closed

[2021-08-14 03:03] feitian124 commented on #26022
not sure how many works left, but i write a [migrate-helper](https://github.com/feitian124/migrate-helper) to make this work easier.
welcome to have a try.

[2021-08-14 06:33] #27143 closed

[2021-08-14 06:43] #26860 closed

[2021-08-14 08:57] unconsolable commented on #27179
/assign

[2021-08-14 12:11] xuyifangreeneyes commented on #26020
@tisonkun I write a design document https://github.com/pingcap/tidb/pull/27223. I doesn't have the access to modify the tracking issue. Maybe @winoros or you can update the tracking issue? The untracked PR list as following:
- Design doc for rule based index selection: https://github.com/pingcap/tidb/pull/27223
- Add test for always-good heuristics: https://github.com/pingcap/tidb/pull/26917
- Out

[2021-08-15 09:15] wangpu666 opened #27225 "Looks like an invalid operation"
[code]
I feel that this partition has no effect

[2021-08-15 09:37] zhaoxugang commented on #24621
In my option， maybe like 'ERROR 1265 (01000 ) : Data truncated for column 'a ' , value is '0123456789abc' ' is enough , because the row num is not necessary and if get row num we will maintain a variable to record it .@zimulala

[2021-08-15 09:48] zhaoxugang commented on #24946
/assign

[2021-08-15 14:56] tisonkun commented on #26085
@time-and-fate @qw4990  is there any ongoing issues? If all subtasks closed, it should be a conclusion about the status of the tracking issue.

I'd like to ask for a design document or brief description about this "enhancement". Otherwise we implement feature secretly and hard to trace back even by ourselves.

[2021-08-15 15:52] tisonkun opened #27227 "Create proposal of heuristic rules enhancement for index selection"

[2021-08-15 15:57] tisonkun opened #27228 "refine prefer-range-scan behavior"

[2021-08-15 15:58] tisonkun commented on #27228
@xuyifangreeneyes you can describe what to refine here or ask for update the title. I'd prefer an expressive title instead of "refine" or "improve" xxx.

[2021-08-15 15:58] tisonkun opened #27229 "Functional tests of heuristic rules enhancement for index selection"

[2021-08-15 15:58] tisonkun opened #27230 "Documentation of heuristic rules enhancement for index selection"

[2021-08-15 15:58] #27229 closed

[2021-08-15 15:58] #27230 closed

[2021-08-15 15:59] tisonkun commented on #26020
@xuyifangreeneyes thanks for your information. Updated.

[2021-08-16 01:48] tiancaiamao commented on #26377
It's a bug regression @yudongusa

[2021-08-16 02:17] YuJuncen opened #27231 "BR should retry timed out scatter operators in huge clusters"
## Enhancement
Currently, BR has a loose strategy for failures during scattering. In huge clusters, this may lead to an unbalanced cluster, hence not all nodes would execute the restore then the speed of restoration would slow down, moreover because of the skew of data, the performance after restore would be lower.

The figure shows an example of an unbalanced restore, where the TiKV-{3,5,8} conta

[2021-08-16 02:17] YuJuncen commented on #27231
/component br
/sig migrate

[2021-08-16 02:34] zhouqiang-cl commented on #24679
happend again in https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/26125/pipeline

[2021-08-16 02:49] aytrack opened #27232 "query result incorrect while date_sub result overflow the `datetime` filed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

v4.0.14, v5.0.3,
master：  da8bb5ea8c00bcbbb10afd0ae41a42fa77
release-5.2.0
[code]

[2021-08-16 03:06] ChenPeng2013 opened #27233 "wrong results in associated subquery statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
release-4.0 & release-5.0 & release-5.1
[code]
### 3. What did you see instead (Required)
release-5.2 & master
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-08-16 03:13] YuJuncen opened #27234 "BR can reduce scatter operations via coarse-grained scattering"
## Enhancement
Currently, BR uses the following procedure to scatter regions:
1. BR collect keys for splitting regions from end keys of files and rewrite rules.
2. BR split those keys via `BatchSplit` interface of BR.
3. After the region split getting present, BR create the scatter operators.
4. After those operator getting done or timed out, or 3 mins passed, BR report scatter as done.

At the st

[2021-08-16 03:13] YuJuncen commented on #27234
/component br
/sig migrate

[2021-08-16 03:21] YuJuncen commented on #27234
## farther refactor and optimizations
The batcher was adapted to split huge tables into small batches for preventing generating huge split & scatter batch. After this optimize, it would be better to send huge batches.

So, when meeting huge tables, it's no need to split it into 128-sized ranges, but we can send it directly to the Splitter. (There would be a thread pool to limit the download & inge

[2021-08-16 03:22] disksing commented on #24679
/cc @qw4990

[2021-08-16 03:22] YuJuncen commented on #27015
/component br

[2021-08-16 03:26] wzru commented on #6840
Recently when I test GORM and TiDB compatibility (inspired by https://github.com/pingcap/tidb/issues/24194)
GORM tests failed because TiDB has not supported SAVEPOINT:
[code]
With SAVEPOINT supported, TiDB will also be more compatible with GORM.

[2021-08-16 03:35] aytrack commented on #27232
similar to `timestampadd`
[code]

MySQL :
[code]

[2021-08-16 03:51] #25897 closed

[2021-08-16 04:14] 3pointer commented on #27234
```The number of scatter operators reduces from O(files + rewrite rules) to O(stores).```

Change  `split 128 regions & scatter 128 regions` to `split 3(store-size) regions & scatter 3 regions & split 128/3 regions` sounds a big optimization, @kennytm WDYT🤔?

[2021-08-16 04:17] aytrack opened #27236 "`extract` result incompatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
v5.0.3, v4.0.14,
master: da8bb5ea8c00bcbbb10afd0ae41a42fa
release-5.2.0: 4c68defe055a7040280

[2021-08-16 05:09] bb7133 commented on #6840
@wzru Yes, savepoint is on the roadmap, thanks!

[2021-08-16 05:42] ichn-hu commented on #26954
the projection push down pr is here: https://github.com/pingcap/tidb/pull/27029 and we could include more tests in https://github.com/tikv/copr-test

[2021-08-16 05:44] qw4990 opened #27241 "planner: `PartitionUnion` is not supported by `tidb_decode_plan`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The `UnknownPlanID0_10` should be `PartitionUnion`

### 3. What did you see instead (Required)
`UnknownPlanID0_10 `

### 4. What is your TiDB version? (Required)

Master

[2021-08-16 06:18] ChenPeng2013 opened #27242 "wrong plan when timestamp overflows"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
release-4.0 & release-5.0 & release-5.1
[code]

### 3. What did you see instead (Required)
release-5.2 & master
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-08-16 06:25] #27159 closed

[2021-08-16 07:12] XuHuaiyu commented on #27146
The result differs between tidb and mysql when collate is disabled is because of that:
The default collate of tidb is case-sensitive, but the default collate of mysql is case-insensitive.
After we changing the `CHARSET=latin1 COLLATE=latin1_bin` to `CHARSET=utf8mb4 COLLATE=utf8mb4_bin`, we can get the same result from tidb and mysql.

[2021-08-16 07:19] Yisaer commented on #27242
/assign

[2021-08-16 07:26] winoros commented on #27089
@buggithubs This is just because the memory usage reached the limit and the oom-action is `cancel`, so the SQL failed. Not a bug.
You may find `memory exceeds quota` near the panic log.

[2021-08-16 07:26] time-and-fate commented on #26085
The tasks for this staged have been completed and the design docs are contained in the links above.
We are still planning about the next stage to see what needs to be done and their priority. We'll update this issue if there's any progress.

[2021-08-16 07:27] vivid392845427 opened #27245 "select return error：ERROR 1105 (HY000): other error: [components/tidb_query_expr/src/impl_compare_in.rs:63]: Unexpected ExprType Float64 and EvalType Int"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`select return success`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

only occur release-5.0

Release Version: v5.0.3-37-geb462f2db
Edition: Community
Git Commit Hash

[2021-08-16 07:46] Yisaer commented on #27242
I didn't reproduce your testcases with 88f60fe1140de999c2e64ca56edffb7db7393f1e and 5ae87cae8

[2021-08-16 07:51] #27046 closed

[2021-08-16 08:04] #26934 closed

[2021-08-16 08:04] haiboumich opened #27247 "BACKUP SQL Command returns size of 0"
## Bug Report

### 1. Minimal reproduce step (Required)
#### (1) start a TiDB cluster locally through tiup

1. env: CentOS
2. command: tiup playground
3. version: v5.1.1

#### (2) generate some data before backup
I used the following script to generate around 5 million records
[code]
#### (3) use SQL command to backup
[code]

### 2. What did you expect to see? (Required)
After the BACKUP is finish

[2021-08-16 08:11] djshow832 commented on #25951
It's a bug in MySQL and we don't need to be compatible with it.

[2021-08-16 08:30] ChenPeng2013 commented on #27242
updated reproduction steps，added a step set time_zone="UTC";

[2021-08-16 08:35] youjiali1995 commented on #26716
It's not a bug after investigation. The root cause is that the first waked up transaction takes a long time to commit which makes all waiter in the queue times out.

[2021-08-16 08:35] #26716 closed

[2021-08-16 08:54] #25933 closed

[2021-08-16 08:59] qw4990 opened #27249 "planner: `est-rows` in the probe side of `IndexJoin` are not correct"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
All `est-rows` in the probe side of `IndexJoin` are not correct.
And in the current implementation, the actual meaning of `est-rows` is `the number of rows that the prob

[2021-08-16 09:22] #25929 closed

[2021-08-16 09:32] hooopo commented on #15140
the same issue with sequence primary key:
[code]

[2021-08-16 09:46] lcwangchao commented on #25942
We should discuss that what metrics should be added to telemetry for temporary tables. We can add a metric `LocalTemporaryTableExists` to indicate if feature local temporary table is used but it depends on instances and sessions. Because local temporary table only exists in session, we can find this value is true in some instances and false in other instances in the same cluster.

[2021-08-16 09:58] jyz0309 commented on #24643
It seems that this issue have been fixed. I will close it.

[2021-08-16 09:58] #24643 closed

[2021-08-16 10:01] winoros commented on #27089
Actually, we can let TIDB not produce the same error log when the panic is expected. This can save people's time.

[2021-08-16 10:18] kennytm commented on #27234
🤔 this surely reduces a lot of scatter calls. One effect, though, is that a longer range of similar keys are all clustered in the same configuration. iiuc, the scatter result may be like this,

(we also see that stores 3 and 4 never have any leaders, due to the random nature of scatter. we need a deterministic version of scattering, perhaps by manual migration, to ensure uniform distribution)

[2021-08-16 10:23] tisonkun commented on #26085
@time-and-fate the document above is private to PingCAP org. I'd prefer to see a brief description public in this PR or as a design document.

[2021-08-16 10:24] #26865 closed

[2021-08-16 10:52] #26956 closed

[2021-08-16 10:59] YuJuncen commented on #27234
@kennytm For the unbalanced leader problem seems serval transform leader operator after splitting can help? (BTW, Near keys shares same configuration(i.e. shares the same peer.) seems harmless?)

[2021-08-16 11:14] kennytm commented on #27234
is transfer-leader much cheaper than scattering (the empty regions)?

[2021-08-16 11:16] #23784 closed

[2021-08-16 11:45] #27124 closed

[2021-08-16 12:10] #25889 closed

[2021-08-16 12:30] #26496 closed

[2021-08-16 12:48] #25505 closed

[2021-08-16 13:54] #27147 closed

[2021-08-16 14:12] dbsid opened #27261 "br restore failed Intermittently after progress 100%"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tiup br:nightly restore db --db=test --pd xxxx:2679 --storage s3://benchmark/sysbench-32-10000000 --s3.endpoint http://xxx:9000 --send-credentials-to-tikv=true

### 2. What did you expect to see? (Required)
br successfully
### 3. What did you see instead (Required)
br faile

[2021-08-16 14:20] #25928 closed

[2021-08-16 16:38] lysu commented on #27245
it will be fixed after #23559 cherry-picked

[2021-08-16 20:27] morgo opened #27268 "Audit Plugin API enhancements"
## Enhancement

The audit plugin API currently only logs statements on successful completion. This means that long running statements (which SQL injections often are) will not be logged immediately.

Errors are also not logged, which could be generated by privilege errors, SQL injection attempts etc. These are important for anomoly detection systems.

[2021-08-17 02:11] #26704 closed

[2021-08-17 02:13] you06 commented on #27156
After #26972, the default value of [`tidb_partition_prune_mode`](https://docs.pingcap.com/tidb/dev/partitioned-table#dynamic-pruning-mode) is changed to `dynamic`.

[2021-08-17 02:19] tisonkun commented on #26747
/unassign @jyz0309

Please re-assign when you start working. I'd unassign to free this issue.

[2021-08-17 02:20] tisonkun commented on #26981
/unassign @jyz0309

Please re-assign when you start working. I'd unassign to free this issue.

[2021-08-17 02:21] tisonkun commented on #27178
`br` is original `pingcap/br`, we should break down more subtasks.

[2021-08-17 02:24] you06 commented on #27156
So there are two problems in this issue.
- Why default value of `tidb_partition_prune_mode` is changed.
- In `dynamic` mode, first statement in `autocommit=0` transaction can not detect partitions.

[2021-08-17 02:54] tangenta commented on #26914
Duplicated with https://github.com/pingcap/tidb/issues/25400.

[2021-08-17 02:54] #26914 closed

[2021-08-17 02:54] ChenPeng2013 commented on #27245
looks like a duplicate of https://github.com/pingcap/tidb/issues/23508

[2021-08-17 02:57] wjhuang2016 opened #27272 "select virtual generated column can't find the column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
No error

### 3. What did you see instead (Required)
Can't find column b;

### 4. What is your TiDB version? (Required)
master

[2021-08-17 03:08] AilinKid opened #27274 "data race detected in the test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

CI link https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/9376/pipeline

### 2. What did you expect to see? (Required)
No Race

### 3. What did you see instead (Required)
Race

### 4. What is your TiDB version? (Required

[2021-08-17 03:18] lcwangchao opened #27276 "`Drop if exists` did not work well for temporary table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

[code]

### 2. What did you expect to see? (Required)

[code]

[code]

[code]

### 3. What did you see instead (Required)

[code]

[code]

[code]

### 4. What is your TiDB version? (Required)

master

[2021-08-17 03:49] tisonkun opened #27278 "migrate test-infra to testify for `sessionctx/context_test.go`"

[2021-08-17 03:49] tisonkun opened #27279 "migrate test-infra to testify for `sessionctx/binloginfo`"

[2021-08-17 03:49] tisonkun opened #27280 "migrate test-infra to testify for `sessionctx/stmtctx`"

[2021-08-17 03:49] tisonkun opened #27281 "migrate test-infra to testify for `sessionctx/variable`"

[2021-08-17 03:49] #27233 closed

[2021-08-17 04:37] #27130 closed

[2021-08-17 05:26] you06 commented on #27156
The reason why `tidb_partition_prune_mode` is wrong is the usage of PD packages.

TiDB highly depends on flags when bootstrapping environment variables.

https://github.com/pingcap/tidb/blob/50572f1ab66aea7e4a49721e982a78adf28b0a5a/server/server.go#L91

Here `tidb_partition_prune_mode` is set to the test value though it's in production environment.

https://github.com/pingcap/tidb/blob/50572f1ab66

[2021-08-17 06:12] qw4990 commented on #26085
Close since all tasks have been finished.

[2021-08-17 06:12] #26085 closed

[2021-08-17 06:22] djshow832 commented on #27268
Since errors are generated during the execution, so maybe the approach is to log 2 messages for each statement. One is logged before the execution (and even before the parser) and another is logged (with the error code) after the execution.
Besides, we need to consider the compatibility problem because some commercial users already rely on the plugin.

[2021-08-17 06:36] jingshanglu opened #27290 "grant lock tables on t.* to ${role_name} ERROR"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
grant successful

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
master
commit id: caba86a22fdea7b59e8ec3c385496bf71da87986

[2021-08-17 07:12] #26551 closed

[2021-08-17 07:20] time-and-fate opened #27294 "panic when there are invalid values in WHERE clause"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
no error

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
current master (e4a7c2d8e)

[2021-08-17 07:20] time-and-fate commented on #27294
/sig planner

[2021-08-17 07:20] time-and-fate commented on #27294
/assign

[2021-08-17 07:46] #24743 closed

[2021-08-17 07:47] aytrack opened #27296 "`EXPORT_SET` result type incompatible with MySQL lead to create index failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-08-17 07:49] sticnarf opened #27297 "Idle TiDB keeps OOM because of AnalyzeColumnExec subMergeWorker"
## Bug Report

### 1. Minimal reproduce step (Required)

I have a 1 TiDB + 3 TiKV cluster containing only one table. The workload is insert only, each row is about 64 KiB.

Now the table has about 10 million rows. But after I stopped writing, TiDB keeps OOM. The TiDB node has 32 GB memory.

I did a heap profiling and found most memory is used by `subMergeWorker`.

![图片](https://user-images.githubu

[2021-08-17 07:50] sticnarf commented on #27297
Could you take a look at the problem? @winoros

[2021-08-17 07:50] guo-shaoge opened #27298 "Duplicated definition or Non-normalized message of error code"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

cd $working_dir/tidb && tools/check/check-errdoc.sh

### 2. What did you expect to see? (Required)

Generate successfully

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)
master

[2021-08-17 07:53] guo-shaoge commented on #27298
As the output said, we have some mistakes when defining error code:
1. Non-normalized error: such as `ErrPatternNotMatch`, which didn't use `dbterror.ClassOptimizer.NewStd()` to define it.
2. Duplicated error: such as `ErrNoDB`, which defined in multiple package(`plannercore` and `expression`).

Also we need to fix `tools/check/check-errdoc.sh` to let CI detect this situation.

[2021-08-17 08:02] #27024 closed

[2021-08-17 08:18] #25041 closed

[2021-08-17 08:21] winoros commented on #27272
/assign

[2021-08-17 08:22] winoros commented on #27272
/unassign

[2021-08-17 08:22] chrysan commented on #27166
/assign

[2021-08-17 08:26] XuJianxu opened #27303 "tidb report DefaultNotFound while dm sync data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

- Create tidb/dm cluster, create 2 upstream mysql, create source, create task to replicate data
- After load process finished, pause-task.
- load 450GB data to upstream, resume-task in dm.

### 2. What did you expect to see? (Required)
no error happened

### 3. What did you

[2021-08-17 08:27] chrysan commented on #27187
/assign

[2021-08-17 08:42] jebter commented on #27232
corner case

[2021-08-17 09:04] #27294 closed

[2021-08-17 09:05] djshow832 opened #27307 "Data race in `TestParquetVariousTypes`"
[code]

Link: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/9449/pipeline

[2021-08-17 09:22] #26980 closed

[2021-08-17 09:42] #25941 closed

[2021-08-17 09:55] mmyj opened #27310 "TestHashChunkRowCollation reports warn"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run the test `TestHashChunkRowCollation` (`util/codec/collation_test.go:87`).

### 2. What did you expect to see? (Required)

No warning.

### 3. What did you see instead (Required)

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit

[2021-08-17 10:01] tisonkun commented on #27310
The author of this test is @qw4990 , could you take a look at this issue?

[2021-08-17 10:04] 3pointer commented on #27247
/assign @fengou1

[2021-08-17 10:37] moshanmo opened #27312 "I hope BR has a new storage medium"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I now use the BR backup to store it on local disk. This operation is cumbersome in both backup and restore operations. I understand that it can be stored to network disk（NFS） or object storage（s3，GCS）, but it does not support COS object storage (it has been supported but I have not seen it, please provide releva

[2021-08-17 11:09] winoros commented on #27297
/assign

[2021-08-17 11:11] xuyifangreeneyes opened #27313 "Skyline pruning prunes maybe-good prefix index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
`idx2` remains after skyline pruning.

### 3. What did you see instead (Required)
`idx2` is pruned since skyline pruning thinks it is worse than `idx1`, which is not true considering the index column prefix length.
[code]

[2021-08-17 11:11] xuyifangreeneyes commented on #27313
/sig planner

[2021-08-17 11:12] winoros commented on #27297
this is a duplicate issue with #27187
known with the limitation of current sampling algo.
you can set @@tidb_analyze_version=1
@sticnarf

[2021-08-17 12:34] #25923 closed

[2021-08-17 12:45] jingshanglu opened #27314 "IT `groupby` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]

### 1. Minimal reproduce step (Required)

ci url: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6222/pipeline

failed start #25094

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4.

[2021-08-17 13:06] #24771 closed

[2021-08-17 13:31] guo-shaoge commented on #27236
Looks like a different problem, and this one is not as serious as above. Maybe we can record this problem in another issue.

[2021-08-17 13:54] #27276 closed

[2021-08-17 14:31] jingshanglu opened #27320 "IT `mariadb_cte_recursive ` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

ci url: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/6230/pipeline

pr: #25647

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is

[2021-08-17 15:46] morgo commented on #27268
I am curious why you say before parsing? I had thought after parsing might be more useful, since currently we log the digest for statements and not the statement itself.

It is easy to fix this in the plugin before release. The `OnGeneralEvent` already includes the event type (`event plugin.GeneralEvent`), but currently the audit plugin doesn't do anything witrh it.