[2021-04-07 02:48] #23743 closed

[2021-04-07 04:42] #23759 closed

[2021-04-07 04:48] tisonkun opened #23880 "dist.SelectResult.Fetch is empty"
## Bug Report

All implementation of `dist.SelectResult.Fetch` is empty. Shall we just remove this method or something wrong?

https://github.com/pingcap/tidb/blob/7229416bae71b3ad732870bdf69fe0c27fbba278/distsql/select_result.go#L65

[2021-04-07 04:53] xhebox commented on #23865
/assign

[2021-04-07 04:59] #23127 closed

[2021-04-07 05:00] #15567 closed

[2021-04-07 05:24] #23495 closed

[2021-04-07 06:09] windtalker opened #23881 "support regular expression related functions"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

From MySQL 8.0, more [regular expression](https://dev.mysql.com/doc/refman/8.0/en/regexp.html) function is supported, I would like TiDB to support more regular expression functions(`REGEXP_INSTR()`,`REGEXP_LIKE()`,`REGEXP_REPLACE()`,`REGEXP_SUBSTR()`) as well.
**Describe al

[2021-04-07 06:16] rebelice commented on #15519
@zz-jason We don't support the hint `/*+ force_index() */`, we only support the format like `select * from t force index(idx)`. If we want to resolve this issue, we need to support `/*+ force_index() */` format. Should we need to do this?

[2021-04-07 06:18] #23856 closed

[2021-04-07 07:09] lilinghai opened #23886 "Can't find column in schema Column: [] Unique key: [] when using hash_agg() hint and tiflash engine"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1105 (HY000): Can't find column test.t1.a in schema Column: [test.t1.c] Unique key: []
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-be

[2021-04-07 07:18] zz-jason commented on #23827
Good catch! I removed the 'feature-request' label since it's more about code quality.

[2021-04-07 07:25] fzhedu opened #23887 "executor: (*Column).GetString panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
mysql -h172.16.5.85 -P52324 -uroot -D subquery_agg10000

[code]
[code]
[code]

### 2. What did you expect to see? (Required)
ok

### 3. What did you see instead (Required)
[code]
[code]
### 4. What is your TiDB version? (Required)
master of nightly

[2021-04-07 07:39] fzhedu opened #23889 "executor: wrong results for in clause"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
mysql -h172.16.5.85 -P52324 -uroot -D subquery_agg10000

### 2. What did you expect to see? (Required)
[code]
[code]
### 3. What did you see instead (Required)
[code]
[code]
### 4. What is your TiDB version? (Required)
master of nightly

[2021-04-07 08:06] xiongjiwei commented on #23870
it is the same reason with https://github.com/pingcap/tidb/issues/23506

[2021-04-07 08:40] #23667 closed

[2021-04-07 08:45] fzhedu opened #23891 "executor: wrong results for outer join in a case"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
mysql -h172.16.5.85 -P52324 -uroot -D subquery_agg10000

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master of nightly

[2021-04-07 08:45] lysu opened #23892 "insert ignore on duplicate got wrong result when index value unchanged"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

on duplicate on `b=10` and update a to 100

### 3. What did you see instead (Required)

update nothing

### 4. What is your TiDB version? (Required)

master

[2021-04-07 08:47] lysu commented on #23892
introduced by https://github.com/pingcap/tidb/pull/23814

only in master, not affect on 5.0..

[2021-04-07 08:54] AilinKid opened #23893 "ddl: ddl rollingback error may lead the json unmarshal error(2)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Take cancel add index for example, let mock the error code in Line 45 of `rollingback.go` with hash e1fccc6e980bb0cf0ca4e18c6ddb142551c116cd
[code]
For the sake of manual cancel operation, let hang on `StateDeleteOnly` in Line507 with `index.go` for a while in which we can

[2021-04-07 09:15] aytrack opened #23897 "tidb panic: indexHashJoinInnerWorker.doJoinUnordered failed while execute with prepare"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[cluster_index.UK_MU15544.000000000.txt](https://github.com/pingcap/tidb/files/6270397/cluster_index.UK_MU15544.000000000.txt)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (R

[2021-04-07 09:32] time-and-fate opened #23898 "wrong result when point get new collation column for unknown reason"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
start tidb with real tikv and with new collation turned on.

[backup.zip](https://github.com/pingcap/tidb/files/6270458/backup.zip)

unzip the file and restore it using BR:

[code]

### 2. What did you expect to see? (Required)
get correct result

### 3. What did you see ins

[2021-04-07 09:39] time-and-fate commented on #23898
It's very strange that you can't reproduce this issue using
[code]
You also can't reproduce this issue after dumping the table into .sql file and restore it.

[2021-04-07 09:43] aytrack opened #23899 "prefix index + index join - innerWorker panicked"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
source [cluster_index.PK_MULTI_COL_3049.000000000.txt](https://github.com/pingcap/tidb/files/6270565/cluster_index.PK_MULTI_COL_3049.000000000.txt)
[code]

### 2. What did you expect to see? (Required)
query successfully
### 3. What did you see instead (Required)
tidb report

[2021-04-07 09:50] lysu commented on #23898
how about

[code]

and reconnect & retry

[2021-04-07 09:56] time-and-fate commented on #23898
Currently the `tidb_row_format_version` is 2. I set it to 1 and reconnect & retry, the issue still exists.

[2021-04-07 10:16] seiya-annie commented on #23726
test with v5.0.0-20210403 version.
only following tikv config report error during upgrade to 5.0.0 : [pessimistic-txn] enable = true
server.request-batch-enable-cross-command,
server.request-batch-wait-duration

the config file is :
tidb_servers:
  - host: 172.16.x.x

tikv_servers:
  - host: 172.16.x.x
pd_servers:
  - host: 172.16.x.x
monitoring_servers:
  - host: 172.16.x.x

grafana_servers:
  -

[2021-04-07 11:04] time-and-fate commented on #23898
The original SQL which makes the test fail is different from the issue description.
The original output of the rand test: [a.log](https://github.com/pingcap/tidb/files/6270960/a.log)

I extract SQLs from the output  ([a.sql.txt](https://github.com/pingcap/tidb/files/6270966/a.sql.txt))
and tried to reproduce the issue by `source a.sql;` but also failed.

[2021-04-07 11:20] dbsid commented on #23841
Closing the issue, the root cause is wrong statistics on the table, columns statistics is empty for some reason, NDV=0, causing the optimizer to use the default outOfRangeBetweenRate=100

[code]

[2021-04-07 11:20] #23841 closed

[2021-04-07 12:43] fzhedu opened #23904 "executor: wrong results for a outer join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
mysql -h172.16.5.85 -P52324 -uroot -D subquery_agg10000

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master of nightly

[2021-04-07 13:29] wjhuang2016 opened #23906 "Can't find column when uses the clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
No error
### 3. What did you see instead (Required)
ERROR 1105 (HY000): Can't find column clustered_index_go_c_1617801763.tbl_1.col_7 in schema Column: [clustered_index_go_c_1617801763.tbl_1.col_5,clustered_index_go_c_161

[2021-04-07 13:34] fzhedu opened #23907 "ERROR 1105 (HY000): tidb_cast to Int32 is not supported"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
mysql -h172.16.5.85 -P53324 -uroot -D ssjoin10000

set @@tidb_isolation_level="tiflash";

### 2. What did you expect to see? (Required)
runs ok

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master of nightly

[2021-04-07 13:54] time-and-fate commented on #23899
A simpler method to reproduce:
[code]

And it seems related to prefix index + index lookup join and also related to several recent issues https://github.com/pingcap/tidb/issues/23722 https://github.com/pingcap/tidb/issues/23653.

[2021-04-07 14:47] guo-shaoge commented on #23287
Why got different result:

    mysql> explain select * from t1 where true union select * from t1 for update;
    +--------------------------------+---------+-----------+---------------+-----------------------------------------------------------------------------------------------------+
    | id                             | estRows | task      | access object | operator info

[2021-04-07 14:48] guo-shaoge commented on #23287
Why got different result:

    mysql> explain select * from t1 where true union select * from t1 for update;
    +--------------------------------+---------+-----------+---------------+-----------------------------------------------------------------------------------------------------+
    | id                             | estRows | task      | access object | operator info

[2021-04-07 15:18] kennytm opened #23909 "Users with only Insert privilege can perform `REPLACE` on that table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

As root:

[code]

As user `rrrr`:

[code]

### 2. What did you expect to see? (Required)

User `rrrr` should not be able to execute the REPLACE:

[code]

### 3. What did you see instead (Required)

The REPLACE completed successfully:

[code]

The row is indeed replaced:

[c

[2021-04-07 15:22] kennytm commented on #23909
/label  component/privilege,  sig/sql-infra

[2021-04-07 15:22] lysu commented on #23909
`insert on duplicate` also have the same problem

[2021-04-07 15:23] kennytm commented on #23909
/component privilege
/sig sql-infra

[2021-04-07 15:27] morgo commented on #23909
I think it is technically a different issue with `insert on duplicate key update`. Rationale:
* `REPLACE` is semantically a `DELETE` + `INSERT`.
* `INSERT ON DUPLICATE` is semantically an `INSERT`, unless there is a conflict, in which case it is converted to an `UPDATE` (varying permissions). See https://bugs.mysql.com/bug.php?id=30915

[2021-04-07 15:29] kennytm commented on #23909
changing these lines

https://github.com/pingcap/tidb/blob/3d8084e972d1070981089107f8095ffb2d293574/planner/core/planbuilder.go#L2474-L2475

to include the addition privileges when `insert.IsReplace` should be sufficient i guess.

[2021-04-07 15:31] dbsid commented on #23453
#21207 is trying to improve the selectivity but still rely on the modify_count, the fix does not help on this issue.

For the out-of-range date range selectivity, maybe a better solution is to Use a linear decay strategy as oracle adopts. This approach does not rely on the modify_count, by rewriting the outOfRangeIntervalSelectivity using this method, we don't need to change the current statistics

[2021-04-07 15:39] tiancaiamao commented on #23909
Would you like to file a PR? @kennytm

[2021-04-07 17:59] kennytm commented on #23909
@morgo

The bug report actually says

So even if I write `INSERT INTO t VALUES (3, 'xxx') ON DUPLICATE KEY UPDATE b = 'yyy'` which no conflict exists we still always get:

[code]

that bug report is about column-level privileges (#9766) which we don't support yet. So we can just always require INSERT + UPDATE privileges in case of `ON DUPLICATE KEY UPDATE`.

[2021-04-07 18:33] morgo commented on #23909
+1. I recently [fixed a bug](https://github.com/pingcap/tidb/issues/23644) with `DELETE`, where TiDB will require more privileges than MySQL. I think requiring more is fine.

[2021-04-07 23:18] kolbe opened #23912 "LIKE not rewritten as range for expression index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table tbl1 (id int unsigned not null auto_increment primary key, s int, index (( md5(s) )) );
create table tbl2 (id int unsigned not null auto_increment primary key, s char(32), index(s));

insert into tbl1 (id) select null; insert into tbl1 (id) select null from tbl

[2021-04-08 00:31] dbsid commented on #23453
The current out of range judge is not very strict, either lowVal or highValue is out of range, even the predicate range is part of overlapping with the histogram.

This means every time the stats analyze completes and the modify_count is reset to 0, there is a risk the plan will be changed since the selectivity for out-of-range predicate will drop to zero, no matter how big or small the overlappin

[2021-04-08 01:34] yilongrong opened #23914 "insert on duplicate key update does not return Last Insert ID in the case of an update"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

AskTUG:  https://asktug.com/t/topic/69486

create table test_insert_id
(
    id   bigint auto_increment comment '主键' primary key,
    name varchar(255),
    modified_time datetime default now(),
    unique (name)
) ;

insert into test_insert_id(name) values ('李四') on duplic

[2021-04-08 02:21] morgo commented on #19052
Because client error tracking is now in information_schema, I am going to propose changing this to a debug level message. Here is a testcase showing the expected way to debug:

[code]

[2021-04-08 02:47] wjhuang2016 commented on #23912
Like is not supported yet, so this issue should be a feature request.

[2021-04-08 02:48] kolbe commented on #23912
That makes sense. I don't think I can change the label, though... can you?

[2021-04-08 02:51] wjhuang2016 commented on #23912
Yeah, I change it.

[2021-04-08 02:57] time-and-fate opened #23916 "inconsistent query result from a bit type column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

consistent query result (col_22 is x'00')

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-04-08 03:13] ichn-hu commented on #23869
@Howie59 Thanks for your interest, but I've already proposed a PR, feel free to look at other issues on https://github.com/pingcap/tidb/issues/20804

[2021-04-08 03:13] ichn-hu commented on #23869
/unassign @Howie59

[2021-04-08 03:13] ichn-hu commented on #23869
/assign @ichn-hu

[2021-04-08 03:16] #23846 closed

[2021-04-08 04:04] wjhuang2016 opened #23919 "sorting index merge result in partition union reports 'index out of range'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
No panic
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-04-08 04:13] hidehalo commented on #22919
@xuyifangreeneyes Hi, could I pick up this issue?

[2021-04-08 04:18] hidehalo commented on #12979
@zz-jason Hi, could I pick up this issue?

[2021-04-08 04:24] xuyifangreeneyes commented on #22919
I think #23522 has already fixed the issue. I will close it

[2021-04-08 04:25] #22919 closed

[2021-04-08 04:29] crazycs520 opened #23920 "Record evicted information of statements_summary"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, `statements_summary_history` use LRU cache strategy to cache recent 200 statements and each statement with 24 histories by default.

The old statements which frequently executed before may be evicted by the new statements. Then we can't see it at some time in the past.

In short, we want to record th

[2021-04-08 04:29] crazycs520 commented on #23920
@breeswish PTAL

[2021-04-08 05:58] lysu opened #23921 "point-get return incorrect column `original name` when select with alias"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

query with alias

[code]

Wireshark to cap packet, to watch response's `column def` packet's `original name` property

### 2. What did you expect to see? (Required)

![image](https://user-images.githubusercontent.com/528332/113975306-e2479300-9871-11eb-98f5-de367454

[2021-04-08 07:58] hahaguai opened #23923 "how to record the client's ip and the db'username"
## how to record the client's ip  and the db'username

**Describe the feature you'd like:**
In tidb,it is hard to get the userstat,We can only fetch the ProcessList periodically。When we migrate tidb , we have to know where the user is coming from and which DB is going to access.

**Teachability, Documentation, Adoption, Migration Strategy:**
like the feature in  mariadb : https://mariadb.com/kb/en

[2021-04-08 08:24] dveeden opened #23924 "Support for "SELECT ... INTO <variable>""
## Feature Request

To improve compatibility with MySQL it would be nice to support the following syntax:
[code]

This syntax is not supported in TiDB 5.0.0 yet.

Related docs:
- https://docs.pingcap.com/tidb/dev/user-defined-variables
- https://docs.pingcap.com/tidb/dev/mysql-compatibility
- https://dev.mysql.com/doc/refman/8.0/en/select-into.html

[2021-04-08 11:33] hahaguai commented on #23923
the table and record as below
[code]

[2021-04-08 19:01] time-and-fate opened #23925 "query got error "baseBuiltinFunc.vecEvalInt() should never be called""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

got query result

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-04-09 01:30] lysu commented on #23916
maybe it's duplicate to https://github.com/pingcap/tidb/issues/23287#issue-829935432?

[2021-04-09 02:40] time-and-fate commented on #23916
Yes. I think it's a duplicate.
I'll close this issue.

[2021-04-09 02:40] #23916 closed

[2021-04-09 03:15] fzhedu commented on #23907
duplicated https://github.com/pingcap/tics/issues/1727

[2021-04-09 04:17] xiongjiwei commented on #23507
it related to https://github.com/pingcap/tidb/issues/23506.

[2021-04-09 05:37] seiya-annie commented on #23726
has been add these in RN

[2021-04-09 05:37] #23726 closed

[2021-04-09 05:39] xhebox commented on #23865
Root cause:

[code]

Refer to https://pkg.go.dev/encoding/json#InvalidUTF8Error. Since we are storing and using string to process binaryLiterals, so it is truncated silently by json.Marshal. I would recommend storing binaryLiterals as pure `[]byte`, but it breaks the compatibility.

[2021-04-09 05:58] lhy1024 opened #23928 "The metrics of copr cache is no data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

test and enable copr cache

### 2. What did you expect to see? (Required)

there is some data in panel

### 3. What did you see instead (Required)
![image](https://user-images.githubusercontent.com/19542290/114135262-93fec680-993b-11eb-8e0c-882064dd00fc.png)

### 4. What is

[2021-04-09 07:13] windtalker commented on #23907
Reopen it since TiDB should not generated implicit cast to cast something to `int(11)`

[2021-04-09 07:15] winoros commented on #23865
@xhebox
I'm not sure whether your change will break the behavior when inserting as `insert into t values(0x1)`?

[2021-04-09 07:45] xhebox commented on #23865
No.

For this issue, it is just a problem of storing non-UTF-8 data in the json, or in the (de)serialization. Though we could refine the logic about `binaryLiteral` by switching to `[]byte`, that is another internal improvement.

To avoid invalid characters, either we use another json library that does not validate utf-8, use `[]byte` which has no encodings, or storing `hex.EncodeToString()` which

[2021-04-09 07:47] tangenta commented on #23906
Minimal reproducible case:
[code]

This is introduced in https://github.com/pingcap/tidb/pull/22940 (support pruning common handle columns).

[2021-04-09 07:57] eurekaka commented on #23906
Another reproduction:

[code]

[2021-04-09 09:16] xiongjiwei commented on #23921
I think they are the same https://github.com/pingcap/tidb/issues/23291

[2021-04-09 10:16] #19299 closed

[2021-04-09 10:28] tangenta commented on #23919
Minimal reproducible case:
[code]

This bug occurs when the following conditions are satisfied:

1. Has `partition_union` operator(using partitions)
1. Table contains `_tidb_rowid`
1. Using index_merge
1. Has `sort` operator(using order by)
1. Table contains matched data

[2021-04-09 10:54] seiya-annie opened #23934 "v4.0.5 upgrade to 5.0.0, report "indexWorker in IndexLookupExecutor panicked" error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tiup deploy v4.0.5 version
upgrade to 5.0.0
run bank workload

### 2. What did you expect to see? (Required)
workload run normally, no error in tidb

### 3. What did you see instead (Required)
find the following errors in tidb.log file:
[2021/04/09 18:05:36.326 +08:00] [ERR

[2021-04-09 11:26] #23724 closed

[2021-04-09 13:30] #23880 closed

[2021-04-09 15:08] breeswish commented on #23920
The evicted_count of `cluster_xxx` table will be very inaccurate if we simply add them together. Can we resolve it?

[2021-04-09 16:18] #23909 closed

[2021-04-10 08:25] tirsen commented on #23815
/cc wjhuang2016

[2021-04-10 08:26] tirsen commented on #23815
/cc @wjhuang2016

[2021-04-10 08:54] hbina opened #23941 "Cannot build master branch"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Clone the repo
2. Attempt to build the project with `make`.

### 2. What did you expect to see? (Required)

Builds successfully.

### 3. What did you see instead (Required)

Something about missing dependency?

[code]

And it appears to change `go.mod` and `go.sum`

[cod

[2021-04-10 13:39] kennytm commented on #23909
1. Root Cause Analysis (RCA) (optional)

Privilege check is not strict enough.

2. Symptom (optional)

Users with only INSERT privilege on a table can perform REPLACE or INSERT ON DUPLICATE KEY UPDATE, allowing them to override existing data.

3. All Trigger Conditions (optional)

4. Workaround (optional)

None.

5. Affected versions

[v3.0.0:v3.0.20], [v4.0.0:v4.0.12], [v5.0.0:v5.0.0]

6. Fixed v

[2021-04-10 17:03] zyguan commented on #23899
Maybe introduced by #23755 , it seems we index inner colLens by outerOffset [here](https://github.com/pingcap/tidb/pull/23755/files#diff-ba042b1d932ce5633f5562c36ec788a036f259961bc9a6d483e59e86636ed114R535)? @tangenta

[2021-04-11 11:13] liuhao2050 opened #23943 "Can't build master branch on Apple Silicon (arm64/AArch64-Apple-Darwin)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Clone the repo
2. make

### 2. What did you expect to see? (Required)
Builds successfully.

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
`master`

### 5. Go env
[code]

[2021-04-11 11:27] liuhao2050 commented on #23943
This might be caused by the head file missing in `gopsutil@v3.21.2`, see: https://github.com/shirou/gopsutil/pull/1042.
I tried to update `gopsutil@v3.21.2` to  `gopsutil@v3.21.3` and the build succeeded.

[2021-04-11 13:18] coocood opened #23945 "Baseline Evolution execution time should be no more than the binding execution time."
## Feature Request

**Is your feature request related to a problem? Please describe:**

When enabling the Baseline Evolution feature, a different plan may be executed in the background ocassionally.

The evolution task may be very costly, the default max execution time is set to 600s, which may greatly impact the cluster.

**Describe the feature you'd like:**

The evolution task should set the max

[2021-04-11 13:20] zz-jason commented on #23945
it's more an improvement than a feature request, I changed the label from feature-request to enhancement.

[2021-04-12 02:05] ichn-hu commented on #23934
The log matches https://github.com/pingcap/tidb/issues/23567, @eurekaka would you please help verify?

[2021-04-12 02:35] wshwsh12 commented on #23887
/assign guo-shaoge

[2021-04-12 02:47] wshwsh12 commented on #23891
/assign @XuHuaiyu

[2021-04-12 02:48] wshwsh12 commented on #23934
/assign @ichn-hu

[2021-04-12 02:53] wshwsh12 commented on #23904
/assign ichn-hu

[2021-04-12 02:54] wshwsh12 commented on #23904
/assign @ichn-hu

[2021-04-12 02:54] wshwsh12 commented on #23899
/assign @lzmhhh123

[2021-04-12 02:54] wshwsh12 commented on #23898
/assign @lzmhhh123

[2021-04-12 02:55] wshwsh12 commented on #23897
/assign @XuHuaiyu

[2021-04-12 02:59] guo-shaoge commented on #23887
/assign

[2021-04-12 03:12] sticnarf commented on #23943
It is probably because you are not using the system clang as the C compiler. Could you confirm `which clang` outputs `/usr/bin/clang` instead of something like `/opt/homebrew/opt/llvm/bin/clang`?

[2021-04-12 03:43] lysu opened #23947 "update join paniced with generated column tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create 3 empty tables

[code]

update with

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

[code]

[code]

### 4. What is your TiDB version? (Required)

5.0.0

[2021-04-12 03:49] lysu commented on #23947
same sql works well in 4.0, it's regression in 5.0

[2021-04-12 04:14] lysu commented on #23947
this bug introduce by https://github.com/pingcap/tidb/pull/23404

@time-and-fate  PTAL

[2021-04-12 04:15] #22477 closed

[2021-04-12 04:41] nolouch commented on #22765
Hi @morgo  Can we only support `SET`,`SELECT` firstly? In JDBC or some ORMs, can use the `set statement` to minimize changes in the application code.

[2021-04-12 05:31] liuhao2050 commented on #23943
@sticnarf No, I am not using the system clang, the build is succeed after I switched the clang compiler as you said, thank you.

[2021-04-12 05:31] #23943 closed

[2021-04-12 05:33] liuhao2050 commented on #23943
### Not a bug
1. Remove the 'type/bug' label

[2021-04-12 05:35] windtalker opened #23949 "TiDB push down Enum literal, while both TiFlash and TiKV throw error against it."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
query returns results.
### 3. What did you see instead (Required)
on TiDB + TiFlash
[code]
on TiDB + TiKV
[code]
### 4. What is your TiDB version? (Required)

master @ dbd31ad0441c4e0feba69773c6a7d21154a6ccef

[2021-04-12 05:52] Connor1996 opened #23951 "the config `raftstore.hibernate-regions` is missing from information_schema.cluster_config"
## Bug Report

the config `raftstore.hibernate-regions` is missing from `information_schema.cluster_config`

### 1. Minimal reproduce step (Required)

select * from information_schema.cluster_config where `key` like '%hiber%';

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
same for 5.0 and maste

[2021-04-12 05:53] windtalker opened #23952 "TiDB push down NULL Set literal, while both TiFlash and TiKV not support it"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
query return results.
### 3. What did you see instead (Required)
In TiDB + TiFlash
[code]
In TiDB + TiKV
[code]
### 4. What is your TiDB version? (Required)

master @dbd31ad0441c4e0feba69773c6a7d21154a6ccef

[2021-04-12 08:11] wshwsh12 commented on #23889
Minimal reproduction step:
[code]

In mysql:
[code]

In TiDB:
[code]

The reason is ppdSolver will create an condition `eq(test_t.b, cast(test_t.a, decimal(20,0) BINARY))` and EvalBool will return false instead of null.

[2021-04-12 09:19] crazycs520 commented on #22140
related issue: https://github.com/pingcap/tidb-dashboard/issues/671

[2021-04-12 10:05] leiysky opened #23965 "planner: nil pointer error when building physical plan"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Create table with:

[code]
Executing the following query:
[code]

### 2. What did you expect to see? (Required)
Query can be executed.

### 3. What did you see instead (Required)
TiDB returns error:
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-04-12 10:25] #23291 closed

[2021-04-12 10:27] vivid392845427 opened #23966 "The query in a concurrent transaction returns incorrect results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The last select should return empty set.
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

release-5.0 & release-4.0

[2021-04-12 10:38] wjhuang2016 commented on #23966
`delete from t;` should be blocked and failed, please check it again.
[code]

[2021-04-12 11:20] winoros commented on #17467
The new version has corrected it. But since it's not opened by default. Still mark it as opening.

[2021-04-12 11:21] winoros commented on #18331
closed since we are storing topn.

[2021-04-12 11:21] #18331 closed

[2021-04-12 11:22] rebelice opened #23967 "Fix some unstable partition stats tests"
## Unstable tests
  - [ ] TestAnalyzeIndexExtractTopN
  - [ ] TestExtractTopN
  - [ ] TestFastAnalyze4GlobalStats
  - [ ] TestDropPartitionStats

[code]

[2021-04-12 11:23] rebelice commented on #23967
/assign @rebelice

[2021-04-12 11:23] rebelice commented on #23967
/sig planner

[2021-04-12 11:23] rebelice commented on #23967
/label component/statistics

[2021-04-12 11:27] zhuo-zhi commented on #10137
/assign

[2021-04-12 13:16] cosven commented on #23947
/severity major

[2021-04-12 13:19] cosven commented on #23949
/severity moderate

[2021-04-12 13:21] #23892 closed

[2021-04-12 13:26] cosven commented on #23949
/sig execution

[2021-04-12 13:27] cosven commented on #23952
/sig execution
/sig moderate

[2021-04-12 13:33] cosven commented on #23965
/sig planner
/severity moderate

[2021-04-12 13:55] cfzjywxk commented on #23966
This behaviour is compatible with MySQL, the reason for this is still the mixed usage of current read and snapshot read, I think we could document about this clearer.

[2021-04-12 14:45] morgo opened #23977 "flaky test: runTestInfoschemaClientErrors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

From https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/85111/nodes/52/steps/61/log/?start=0

[code]

### 2. What did you expect to see? (Required)

It should pass.

### 3. What did you see instead (Required)

Flakiness

[2021-04-12 15:00] Howie59 commented on #23977
/assign

[2021-04-12 15:04] morgo commented on #23977
@Howie59 feel free to take this if you like! I was the feature author and can guide you through it. I am not yet sure why it fails.

[2021-04-13 06:39] winoros commented on #23934
They are the same problem.

[2021-04-13 07:05] xiongjiwei opened #23984 "some string functinos has compatibility issue with mysql"
## Feature Request

**Is your feature request related to a problem? Please describe:**

in tidb, a lot of builtin string functions use `string` in golang directly, such as reverse function:
https://github.com/pingcap/tidb/blob/c709217ff49a7bf13a785274abc9b6235bd4611b/expression/builtin_string.go#L797-L798

it works very well if the string is encoding with a valid utf8 sequence. However, it cannot

[2021-04-13 07:09] #23606 closed

[2021-04-13 07:40] sergiomcalzada commented on #20083
Hi, I have the same setup and the same problem.
The TiDbBackups are deleted from the cluster but the files generated in the storage are not deleted so, in the end, they will hit the space limits or grow indefinitely.

Any plan to let the BackupScheduler delete old backup generated files in the storage?

[2021-04-13 09:03] dveeden commented on #9709
The [user attributes](https://dev.mysql.com/doc/refman/8.0/en/information-schema-user-attributes-table.html) introduced in MySQL 8.0 should also be considered as part of this if possible.

[2021-04-13 09:09] leiysky opened #23990 "Use hint to enforce TiDB run query in MPP mode"
## Feature Request

**Is your feature request related to a problem? Please describe:**
So far, TiDB doesn't have ability to enforce query to be ran in MPP mode.

Since CBO of MPP query is not stable enough, TiDB may choose plan randomly in some case, which may cause serious degredation of performance.

We need an approach(e.g. hint) to enforce TiDB run specific query in MPP mode.

**Describe the f

[2021-04-13 09:11] leiysky commented on #23990
/cc @hanfei1991 @ilovesoup

[2021-04-13 09:46] leiysky opened #23993 "Different behavior of error handling in CAST expression between TiDB and TiKV coprocessor"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Consistent behavior.

MySQL's behavior is consistent with TiKV coprocessor, that is return warning.

### 3. What did you see instead (Required)
Inconsistent behavior.

### 4. What is your TiDB version? (Required)

[code]

[2021-04-13 11:34] fzhedu commented on #23990
approved

[2021-04-13 15:13] guo-shaoge commented on #23887
Condition of `HashJoin_17` is wrong, `subquery_agg10000.z.col_char_64` uses outer row as its input, actually `col_char_64` should use inner row.

Trying to figure out why the equal expr is wrong...

    mysql> explain SELECT    count(*) FROM      `j`  LEFT JOIN `w` ON        (w.`col_decimal_40_not_null_key` = j . `col_decimal_30_10_key` ) WHERE     ('e') NOT IN           (SELECT `col_char_64` FROM

[2021-04-14 03:11] minipeanut opened #23998 "the default behavior with float format data is different from mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
like mysql did
![image](https://user-images.githubusercontent.com/42461752/114648737-e4966b00-9d11-11eb-8e9c-af643e294905.png)

### 3. What did you see instead (Required)
![image](https://user-images.githubusercontent.com

[2021-04-14 04:01] #23925 closed

[2021-04-14 04:52] tisonkun commented on #982
@zimulala shall this issue be closed?

[2021-04-14 05:02] tisonkun commented on #982
well I can see that https://github.com/pingcap/tidb/pull/20708 is trying to fix this.

[2021-04-14 05:07] seiya-annie opened #24000 "tidb panic with "runtime error: index out of range [10] with length 10" while executing select statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

MySQL [clustered]> select * from PK_MULTI_COL_4799 where col1 > 0xFB50F2B806101A3B2295 AND col2 > 0xFB50F2B806101A3B2295;
ERROR 1105 (HY000): runtime error: index out of range [10] with length 10

MySQL [clustered]> select * from PK_MULTI_COL_4799 where col1 > 0xFB50F2B8061

[2021-04-14 05:11] #22630 closed

[2021-04-14 05:12] xiongjiwei commented on #24000
close because duplicate with https://github.com/pingcap/tidb/issues/23506

[2021-04-14 05:12] #24000 closed

[2021-04-14 05:51] lzmhhh123 commented on #23899
Confirm it has been fixed.

[2021-04-14 05:56] seiya-annie opened #24001 "distinct-agg-push-down is in config.toml.example but can't be found in @@tidb_config in 5.0.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Whether support pushing down aggregation with distinct to cop task
distinct-agg-push-down = false

### 2. What did you expect to see? (Required)
can be found in select @@tidb_config

### 3. What did you see instead (Required)
can't be found

### 4. What is your TiDB version

[2021-04-14 06:45] XuHuaiyu opened #24009 "unstable test case Test1PCWithSchemaChange"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/85559/pipeline
[code]

[2021-04-14 06:49] XuHuaiyu opened #24010 "unstable test case TestAnalyzeGlobalStatsWithOpts"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/71046/pipeline
[code]

[2021-04-14 06:57] XuHuaiyu opened #24012 "unstable test case TestAnalyzeIndexExtractTopN"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/71046/pipeline/82

[code]

[2021-04-14 07:00] XuHuaiyu opened #24013 "unstable test case"
[code]

[2021-04-14 07:00] XuHuaiyu opened #24014 "unstable test case TestFastAnalyze4GlobalStats"
[code]

[2021-04-14 07:01] XuHuaiyu opened #24015 "unstable test case TestDropPartitionStats"
[code]

[2021-04-14 07:02] XuHuaiyu commented on #24015
skip this test in PR https://github.com/pingcap/tidb/pull/24003

[2021-04-14 07:02] XuHuaiyu commented on #24014
skip this test in PR #24003

[2021-04-14 07:02] XuHuaiyu commented on #24013
skip this test in PR #24003

[2021-04-14 07:02] XuHuaiyu commented on #24012
skip this test in PR #24003

[2021-04-14 07:02] XuHuaiyu commented on #24010
skip this test in PR #24003

[2021-04-14 07:02] XuHuaiyu commented on #24009
skip this test in PR #24003

[2021-04-14 07:38] opsfarmer opened #24017 "Using HTTP API to enable/disable async commit and 1PC for TIDB 5.0 is invalid"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
From TIDB 4.0.11 upgrade to TIDB 5.0，have no “tidb_enable_async_commit”  system variable
"set global" is invalid:
SQL >  set global tidb_enable_async_commit = ON;
Query OK, 0 rows affected (0.00 sec)

Wed Apr 14 15:45:58 2021
SQL > set global tidb_enable_1pc = ON;
Query OK, 0 rows affected (0.00 sec)

SQL >  show va

[2021-04-14 08:03] #23508 closed

[2021-04-14 08:45] ichn-hu commented on #23934
can we close this issue?

[2021-04-14 08:45] ichn-hu commented on #23934
@seiya-annie

[2021-04-14 08:59] #16062 closed

[2021-04-14 09:20] #23921 closed

[2021-04-14 09:37] XuHuaiyu commented on #23891
minor case:
[code]

[2021-04-14 09:37] #23889 closed

[2021-04-14 09:38] XuHuaiyu commented on #23891
We can see from the explain result that `t.id = 1.123` is rewritten to 0 wrongly.
[code]

[2021-04-14 09:42] #23934 closed

[2021-04-14 09:44] guo-shaoge commented on #23874
/assign

[2021-04-14 10:06] jianzhiyao commented on #19685
you can see https://github.com/pingcap/tidb/pull/22757, May be helpful.

[2021-04-14 10:31] #23587 closed

[2021-04-14 10:49] wshwsh12 commented on #23874
I have run the sql in mysql 8.0.22. And it throw truncated error, too.
[code]

[2021-04-14 11:42] wshwsh12 commented on #23411
/assign @wshwsh12

[2021-04-14 11:51] #23832 closed

[2021-04-14 12:05] sticnarf commented on #24017
They are "feature switch variables", which means they don't appear in `SHOW VARIABLES` statements

https://github.com/pingcap/tidb/blob/master/sessionctx/variable/tidb_vars.go#L708

You can use `select @@tidb_enable_async_commit` and `select @@tidb_enable_1pc` to query .

[2021-04-14 12:08] lysu opened #24029 "row & index inconsistent with new collation enabled after tidb-server restarted"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

in 5.0.0 cluster with *new collation enabled*

[code]

restart tidb， then

[code]

### 2. What did you expect to see? (Required)

success

### 3. What did you see instead (Required)

admin check failure

### 4. What is your TiDB version? (Required)

5.0.0

[2021-04-14 12:27] #23906 closed

[2021-04-14 12:59] #23436 closed

[2021-04-14 13:31] cfzjywxk commented on #24009
Seems the fallback is possibly happened which means the transaction committed laste is not using 1pc actually. The sleep time is not enough so the second time schema check fails so that the execution fails.
To fix this we may incrase the sleep time https://github.com/pingcap/tidb/blob/master/session/pessimistic_test.go#L2172 to a larger value to make sure the second time schema check after amend w

[2021-04-14 13:57] cfzjywxk commented on #24009
@MyonKeminta
I don't rembemer the last commit is meant to test fallback commit, or it should commit using 1pc that ddl statement is blocked by the safewindow?

[2021-04-14 13:57] #23625 closed

[2021-04-14 14:07] dveeden opened #24031 "Killing connections needs cooperation from the to-be-killed connection"
## Bug Report

### 1. Minimal reproduce step (Required)

- Run TiDB playground.
- Connect two sessions with `mysql --host 127.0.0.1 --port 4000 -u root -p`
- From connection A: run `SHOW PROCESSLIST` and get the connection ID of the other connection (`mysql` reports its own connection id when starting up)
- Now from connection A issue: `KILL TIDB CONNECTION <id>` where ID is the connection ID of t

[2021-04-14 14:30] zhaoxugang commented on #23542
/pick-up

[2021-04-14 14:39] #24029 closed

[2021-04-14 15:18] morgo commented on #24031
This is important in the case of `max_connections`, since idle connections can consume slots and denial of service new connections.

I assume the fix is to have some idle loop to check if the connection is killed.

[2021-04-14 15:36] guo-shaoge commented on #23874
Maybe we can close it. @lysu

[2021-04-15 01:22] cosven commented on #23977
/severity minor

[2021-04-15 01:27] cosven commented on #23993
/severity major

[2021-04-15 01:29] cosven commented on #24009
/severity moderate

[2021-04-15 01:47] cosven commented on #24001
/sig execution

[2021-04-15 01:51] cosven commented on #24031
/severity major

[2021-04-15 01:51] cosven commented on #24017
/remove-type bug
/type question

[2021-04-15 02:43] #23287 closed

[2021-04-15 04:28] xhebox commented on #24015
Found that there is another issue for it, #23498 , do we close one? @XuHuaiyu

[2021-04-15 05:09] baurine opened #24038 "INFORMATION_SCHEMA.CLUSTER_HARDWARE misses the disk information for tiflash node"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Connect the TiDB database, for example: `mysql -u root -h 10.0.1.12 -P 4000`
2. Run SQL: `select * from INFORMATION_SCHEMA.CLUSTER_HARDWARE where TYPE='tiflash';`

### 2. What did you expect to see? (Required)

The result rows should have 3 kinds of value for `DEVICE_TYP

[2021-04-15 05:09] baurine commented on #24038
/cc @leiysky

[2021-04-15 05:29] rebelice commented on #24015
I already submitted [PR#23968](https://github.com/pingcap/tidb/pull/23968) to solve this problem a few days ago, but there was no merger due to a lack of reviews. Can you guys help me？

[2021-04-15 06:49] dveeden commented on #24031
I tried 4.0.12 and that version behaves the same.

[2021-04-15 06:51] dveeden commented on #24031
Besides what @morgo says this also makes the kill command seem less reliable reducing the trust users may have in the product.

[2021-04-15 07:16] wanliyi opened #24044 "The error messages when inserting errors are not easy to understand"
## Bug Report

I think the error message given by mysql is easier to understand

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-04-15 07:29] hidehalo opened #24045 "Unexpected query result with server error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. build & run tidb server locally.
2. execute sqls below:

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

runtime error: index out of range [-1]

#### error trace:

[code]

### 4. What is your TiDB version? (Requi

[2021-04-15 07:33] lucklove opened #24046 "tidb-server --help exit with code 2"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`0`

### 3. What did you see instead (Required)

`2`

### 4. What is your TiDB version? (Required)

`v5.0.0`

[code]

[2021-04-15 07:34] lucklove commented on #24046
You can simply replay this with TiUP:

[code]

[2021-04-15 07:48] tiancaiamao commented on #23850
I find it's caused by the 'Grant Option'  privilege.

According to the MySQL document https://dev.mysql.com/doc/refman/8.0/en/revoke.html, the privilege check rule for 'revoke some privilege':

However, the rule for 'revoke some privilege' and 'revoke all privilege' are different. 'revoke all privileges' check 'CREATE USER' and so on.

That is the root cause.

[2021-04-15 08:49] tiancaiamao commented on #23850
[code]

[code]

[code]

[code]

I test with MySQL, and the result does not align to your "2. What did you expect to see? (Required)" description @morgo

Do you mean the behavior in MySQL 8.0?

[2021-04-15 09:07] #22658 closed

[2021-04-15 09:13] XuHuaiyu commented on #23583
minor case:
[code]

[2021-04-15 10:23] #23793 closed

[2021-04-15 10:35] #23947 closed

[2021-04-15 11:21] birdstorm opened #24057 "Analyze table failed after the data loaded through Lightning replicated to TiFlash"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
use `tidb-lightning` to load `ontime` data to TiDB

Set TiFlash replica to 2:

[code]

Analyze table after the tiflash replica is ready.

### 2. What did you expect to see? (Required)

analyzed table

### 3. What did you see instead (Required)
[code]

### 4. What is your TiD

[2021-04-15 11:33] #23886 closed

[2021-04-15 12:23] #23609 closed

[2021-04-15 14:06] guo-shaoge commented on #23887
same reason as  [here](https://github.com/pingcap/tics/issues/1718)

[2021-04-15 14:17] Max-Cheng commented on #23920
My idea was to use a hash table to filter through but was rejected by @crazycs520 , the rest of the solution may be to add more information to `Evictedinfo` to determine but it may increase the processing time

[2021-04-15 15:03] #23891 closed

[2021-04-15 15:45] #23321 closed

[2021-04-15 19:29] morgo commented on #23850
Yes, I am comparing to MySQL 8.0. I discovered this issue when looking at MTR tests.

[2021-04-16 01:53] guo-shaoge commented on #23874
This behavior is compatible with MySQL. Not a bug.

[2021-04-16 01:59] netroby commented on #17656
https://github.com/WangXiangUSTC/tidb-lite

This is close to my request. but
 still not satisified with my needed.

Sqlite is an emmbed database. we need the same . no C/S , just embbed it.

[2021-04-16 02:05] netroby commented on #17656
英文表达可能不太清晰，翻译成中文： 我在找一个嵌入式的mysql 协议的实现，等价于sqlite一样的。 这样小企业，个人用户，可以无痛体验TiDB的科技，可以用于小型数据库场景，数据量大了，再上集群。
二十年前，我们学asp, access数据库，后面，学php sqlite，嵌入式数据库始终有它的价值。特别适合小型应用场景。

如果tidb有 嵌入式数据库，那么很有可能可以无缝迁移到集群版本，（只要设计上共享相同的协议层）。

吸引新用户，企业无缝加入TiDB 大家庭。

[2021-04-16 02:35] wshwsh12 opened #24071 "executor: wrong results for not in clause"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

part of https://github.com/pingcap/tidb/issues/23889 and the pr only fixs the first case. I create another issue to trace the second case.

mysql -h172.16.5.85 -P52324 -uroot -D subquery_agg10000
[code]

### 2. What did you expect to see? (Required)

+--------+
| field1 |
+

[2021-04-16 02:35] #23893 closed

[2021-04-16 02:43] #23450 closed

[2021-04-16 02:48] seiya-annie opened #24072 "[encountered error"] [error="connection was bad] occurred during running tiflash bank workload"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
v4.0.0 upgrade to v5.0.0, running tiflash bank and clustered index feature test case on the cluster.
then find the following error info, please help check whether these logs are normal.

[2021/04/15 18:51:10.041 +08:00] [INFO] [conn.go:812] ["command dispatched failed"] [con

[2021-04-16 02:52] AilinKid commented on #23949
/cc @wshwsh12

[2021-04-16 03:23] xhebox commented on #24046
/assign @xhebox

[2021-04-16 03:24] morgo commented on #23923
Thank you for the feature request!

We recently added client error statistics in TiDB 5.0, but in general I think there is still a lot of opportunity to improve statistics about clients or users.

I am planning to next work on an `information_schema` view for system variables, but I'd like to jump back to this after. That is unless a contributor would like to take a look at it, in which case I wou

[2021-04-16 04:51] nolouch commented on #22765
I do some adjustments to make `Bound` and `Exact` for the stale read more clear, and it also can match the Flashback. such as:
SELECT statement:
[code]

I want to use  `AS OF TIMESTAMP xxx` to unify all the historical reading scenes, but I have two questions:
1. Which one to pick?  `AS OF XXXX`  or `FOR SYSTEM TIME AS OF XXX`
    - [Oracal](https://docs.oracle.com/en/database/oracle/oracle-databas

[2021-04-16 05:12] xhebox commented on #22765
I am looking at how did cockroachDB deal with DDL/stale read compatibility. And from what I have seen, I think they may have `versioned tables` too...

[2021-04-16 05:41] #24046 closed

[2021-04-16 06:17] SilvaXiang opened #24076 "Float bug?"
## Bug Report

### 1. Minimal reproduce step (Required)
1. Create the **table_0_13**
[code]

2. Insert the data
[code]

3.Query the data
[code]

4.Query the data
[code]

### 2. What did you expect to see? (Required)
In this query:
[code]
I expect to see this query fetches the only row in the **table_0_13**. And the result of the query
[code]
should be same as the query
[code]
but the latter query

[2021-04-16 06:20] wjhuang2016 commented on #23912
To support it, check substitute() in rule_generate_column_substitute
![image](https://user-images.githubusercontent.com/17380469/114980374-f23d2380-9ebe-11eb-9f56-f67fdc858f1f.png)

[2021-04-16 06:21] nolouch commented on #22765
@xhebox  Does the `versioned tables` in CockroachDB like [this](https://docs.microsoft.com/en-us/sql/relational-databases/tables/temporal-tables?view=sql-server-2017#what-is-a-system-versioned-temporal-table)?  I think we are the same as CorckroachDB naturally has versions, and  GC. but it is not the same as the `System-Versioned (temporal) Tables`,  But it is true that we can support some behavio

[2021-04-16 06:21] Howie59 commented on #23912
/assign

[2021-04-16 06:25] wshwsh12 commented on #23865
The behavior is different from MySQL 5.7, and MySQL 8.0.. So could we treat is as a compatibility problem, not a bug.

MySQL 8.0.22:
[code]

MySQL 5.7.32:
[code]

[2021-04-16 06:36] xhebox commented on #23865
@wshwsh12  Does `enum(0x6ED5)` works for mysql 5.7? This case is not working on TiDB too:

[code]

[2021-04-16 06:46] xhebox commented on #22765
No. And you are correct. However, the metadata loading process is not versioned on TiDB :(

[2021-04-16 06:47] wshwsh12 commented on #23865
In mysql5.7:

[code]

[2021-04-16 07:19] xhebox commented on #23865
Then it is a bug. TiDB won't work...

[code]

[2021-04-16 08:06] crazycs520 opened #24083 "Record all evicted statements information by sum"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

`statements_summary` uses LRU cache to store the statements information. So, when the LRU cache is full, it will remove the oldest statement.

I think TiDB can also collect the removed statement information by sum. Here is some example:

**Before this Issue**

[code]

| dig

[2021-04-16 08:07] crazycs520 commented on #24083
@breeswish @djshow832 PTAL

[2021-04-16 08:16] crazycs520 opened #24085 "Use a better cache strategy for statements_summary"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, `statements_summary_history` use LRU cache strategy to cache recent 200 statements and each statement with 24 histories by default.

The problem is, the history statements can be evicted by the new statement,  so the variable `tidb_stmt_summary_history_size` (which default value is 24) doesn't mean `

[2021-04-16 08:20] crazycs520 opened #24086 "enhangcement statements_summary"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This issue is an epic use to trace related issue:

- [ ] [Record evicted information of statements_summary](https://github.com/pingcap/tidb/issues/23920)
- [ ] [Record all statements information by sum](https://github.com/pingcap/tidb/issues/24083)
- [ ] [Use a better cache strategy for statements_summary](http

[2021-04-16 08:24] seiya-annie opened #24087 "tidb dashboard report API request error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
tidb config : skip-register-to-dashboard: true

API: /topology/alertmanager/172.16.5.101%3A9093/count
error.api.other: Get http://172.16.5.101:9093/api/v2/alerts: net/http: request canceled (Client.Timeout exceeded while awaiting headers)

### 2. What did you expect to see?

[2021-04-16 08:30] cosven commented on #24015
/severity major

[2021-04-16 08:30] cosven commented on #24012
/severity major

[2021-04-16 08:30] cosven commented on #24014
/severity major

[2021-04-16 08:30] cosven commented on #24013
/severity major

[2021-04-16 08:32] cosven commented on #24087
/sig diagnosis

[2021-04-16 08:36] cosven commented on #24010
/severity major
/sig planner

[2021-04-16 08:57] zyguan commented on #23899
![2021-04-16_165559](https://user-images.githubusercontent.com/6850317/114999735-b6ad5400-9ed4-11eb-9370-7f31f943b8d3.png)

[2021-04-16 09:00] lysu commented on #23899
@lzmhhh123 PTAL

[2021-04-16 09:34] lysu opened #24090 "Support get all mvcc for a txn"
## Feature Request

**Is your feature request related to a problem? Please describe:**

now` /mvcc/txn/{start-ts}/{db}/{table}` only return first key, e.g.

[code]
it makes impossible to find out what txn change: row value, index value, or multiple table value

**Describe the feature you'd like:**

return all keys(all count control by get parameter)

**Describe alternatives you've considered:**

n

[2021-04-16 09:37] lysu commented on #24090
this maybe need modify tikv/pd to support scan mvcc information

[2021-04-16 10:05] breeswish commented on #24083
Does this mean that if we implement this one, then we no longer need the evict count?

[2021-04-16 10:07] aytrack opened #24091 "`null div 0` for partition key expression is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-04-16 10:08] kennytm commented on #22765
Note that the PostgreSQL one doesn't count, it is just a proposal from some random person.

----

The `select … for system_time as of` syntax is being compatible with the SQL standard "temporal table" feature. This is both an advantage and disadvantage — The pros being that the syntax is standardized so we have a clear example to follow. The cons being that "time travel query" *is not exactly temp

[2021-04-16 10:25] #24001 closed

[2021-04-16 10:40] wshwsh12 commented on #24071
Same with https://github.com/pingcap/tidb/issues/23887.
Fix by https://github.com/pingcap/tidb/pull/24024.

[2021-04-16 10:40] #24071 closed

[2021-04-16 10:52] wshwsh12 commented on #23904
Same with https://github.com/pingcap/tidb/issues/23887
Fixed by https://github.com/pingcap/tidb/pull/24024

[2021-04-16 10:52] #23904 closed

[2021-04-16 11:20] hanfei1991 opened #24095 "Join reorder occurs "index out of range" error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Empty result

### 3. What did you see instead (Required)
Error

### 4. What is your TiDB version? (Required)
Master (873fbfd0871462c770e750be4c4e3e5acf01fddd)

[2021-04-16 11:21] #23136 closed

[2021-04-16 11:25] wshwsh12 commented on #16679
fixed by https://github.com/pingcap/tidb/pull/24049

[2021-04-16 11:25] #16679 closed

[2021-04-16 12:29] breeswish commented on #23920
@crazycs520 remind me that maybe we just don't need the sum of cluster evict count, as we only need max evict count in different nodes in order to adjust the evict settings.

[2021-04-16 14:10] crazycs520 opened #24096 "statistic load useless stats_histograms endlessly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Just create a table and then write a little data.

Then see the `key visualizer` in `tidb dashboard`:

![image](https://user-images.githubusercontent.com/26020263/115035219-ee30f600-9efe-11eb-8d49-d380d5fec4b6.png)

As you can see, TiDB read the `stats_histograms` table end

[2021-04-16 14:11] crazycs520 commented on #24096
@winoros PTAL

[2021-04-16 16:37] #23649 closed

[2021-04-16 18:19] Max-Cheng commented on #23920
I'll look at the design docs tomorrow and hopefully build a preview version over the weekend

[2021-04-17 01:58] Howie59 commented on #24091
/assign

[2021-04-17 04:30] mmyj commented on #24095
/assign

[2021-04-18 05:42] pengdaqian2020 commented on #24076
it seems because of this
[code]
In MySQL 8.0
[code]
it will also returns empty set.

[2021-04-18 08:18] zhaoxugang commented on #23542
I'm instrest about transaction,can i try to resolve this issue？@cfzjywxk

[2021-04-18 09:41] cfzjywxk commented on #23542
Sure, you could check about https://github.com/tikv/sig-transaction for more information.

[2021-04-18 15:01] guo-shaoge commented on #23280
As @eurekaka suggested, this data race happens when `Apply operator` panic and its' Close() is called, which will read feedback. Also its outer worker(TableReaderExecutor) runs normally, which will also write feedback.

So we may need to wait `Apply operator`'s outer worker to finish, then read feedback.

[2021-04-19 01:50] XuHuaiyu commented on #24095
error message:
[code]

[2021-04-19 04:21] blacktear23 commented on #23993
That is because `builtinCastRealAsDurationSig`.`vecEvalDuration` logic is not exactly same as `builtinCastRealAsDurationSig`.`evalDuration`.

[2021-04-19 04:37] blacktear23 commented on #23993
And there also have a bug for `cast` function, in MySQL `select cast(a as time) from t` returns NULL, but TiDB not. That will cause `select a from t where cast(a as time);` execute in MySQL return empty result set, but TiDB returns the row that table contained.

[2021-04-19 05:10] wjhuang2016 commented on #6824
Traced by https://github.com/pingcap/tidb/issues/17472

[2021-04-19 05:10] #6824 closed

[2021-04-19 05:25] wjhuang2016 opened #24107 "Add design document for common table expression"
## Development Task

Related PR：https://github.com/pingcap/tidb/pull/18247 and https://github.com/pingcap/tidb/pull/19253

But they are not detailed enough, for example, they don't take the ‘MPP’ into consideration.

[2021-04-19 05:30] wjhuang2016 opened #24108 "Support system variable cte_max_recursion_depth"
## Development Task

The common table expression (CTE) maximum recursion depth. The server terminates execution of any CTE that recurses more levels than the value of this variable.

Refer to https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_cte_max_recursion_depth

[2021-04-19 05:31] seiya-annie opened #24109 "the value of tikv-client.store-liveness-timeout should not less than 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

param:  tikv-client.store-liveness-timeout: "1s"
the value of this config should : >=0.
store-liveness-timeout =0, means close the function of check tikv status port.

### 2. What did you expect to see? (Required)
if set store-liveness-timeout = -1, report error in log.

##

[2021-04-19 05:35] wjhuang2016 opened #24110 "Support basic execution of CTE"
## Development Task

Add basic support for CTE, so that TiDB can run a SQL with CTE clause.

[2021-04-19 05:37] wjhuang2016 opened #24111 "Support explain statement for CTE"
## Development Task

support explain statement for CTE

[2021-04-19 05:37] wjhuang2016 opened #24112 "Support explain analyze statement for CTE"
## Development Task
Support explain analyze statement for CTE

[2021-04-19 05:38] wjhuang2016 opened #24113 "Support trace statement for CTE"
## Development Task
Support trace statement for CTE

[2021-04-19 05:39] wjhuang2016 opened #24114 "Support telemetry for CTE"
## Development Task
Support telemetry for CTE

[2021-04-19 05:46] wjhuang2016 opened #24116 "Support CTE in DML statements"
## Development Task
Support CTE in DML statements

[2021-04-19 05:50] tisonkun opened #24117 "Does PointGet work on TiDB and TiKV only?"
https://github.com/pingcap/tidb/blob/05bb31b81120197681196c6f54f8ac262f0d97c5/planner/core/find_best_task.go#L701

if so, we should write as

[code]

for further store type extension.

[2021-04-19 05:58] tisonkun commented on #24107
IMO supports for MPP can be considered individually, given that planning and execution model of tidb and those of tiflash(which contains MPP logics) is actually different. We can hardly consider all details up front but prevent blocking further evolving.

[2021-04-19 06:08] seiya-annie opened #24118 "the value of tikv-client.copr-cache.capacity-mb should >=0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

set tikv-client.copr-cache.capacity-mb = -1.0
this value should >=0. 0； 0.0 means close the function.

### 2. What did you expect to see? (Required)
report error in log

### 3. What did you see instead (Required)
set successfully.

### 4. What is your TiDB version? (Require

[2021-04-19 06:14] wjhuang2016 commented on #24107
No, we do need to consider them as a whole feature. That's why the detailed design is not decided yet.

[2021-04-19 06:23] wshwsh12 commented on #24076
In MySQL 5.7, it will also returns empty set.

[code]

[2021-04-19 07:01] wshwsh12 commented on #23583
It is a MySQL5.7 bug. https://bugs.mysql.com/bug.php?id=103358
If I drop the key `col_decimal_5_2_key` in E table.  The sql will retuen `Empty set`.

The correct result is empty set, because the values in not in clause contains "Null", the result in where clause should be null and fetch no data.

[2021-04-19 07:06] tisonkun commented on #23583
thanks for your clarification, shall we add a document entry mention this "incompatible"?

[2021-04-19 07:10] wshwsh12 commented on #23583
Why "incompatible"? TiDB's behavior is same with MySQL 8.0...

[2021-04-19 07:14] tisonkun commented on #23583
At least the [document](https://docs.pingcap.com/tidb/stable/mysql-compatibility) of compatibility said "TiDB is fully compatible with the MySQL 5.7"

[2021-04-19 07:17] eurekaka commented on #23453
The above solution still needs to check `modify_count`, otherwise, it may lead to over-estimation. Another proposal to maintain correct `modify_count`:
- each table and each index hold its own `modify_count`, and the value is modified in an incremental way as mentioned above;
- only allow one running analyze job for a specific object(i.e, a table, or an index) at a time, to prevent redundant `modi

[2021-04-19 07:17] #24091 closed

[2021-04-19 07:21] tangenta opened #24122 "Support automatically invalidate cache & retry when ID allocation failed"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Though it is mentioned in the [documentation](https://docs.pingcap.com/tidb/stable/auto-increment#uniqueness) of `AUTO_INCREMENT`:

When users migrate data from DM, explicit insert is **required**. After finished data migration, if the user switch to implicit allocation in a cluster with multiple TiDB, the auto

[2021-04-19 07:27] AilinKid opened #24123 "txn: fast deprecate auto increment cache"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

#### outline:
Use the DM tools to sync the data from upstream tidb/mysql cluster to downstream tidb cluster which is behind LoadBalance.

#### characteristic:
The upstream always insert null to the auto-increment column.
The DM always syncs the specific num to the upstream

[2021-04-19 07:28] AilinKid commented on #24123
/cc @tangenta @3pointer

[2021-04-19 07:28] tisonkun commented on #23583
With a short offline discussion I learn that MySQL 5.7 itself will fix this bug at a later version. The tracking issue is [here](https://bugs.mysql.com/bug.php?id=103358).

Closing...

[2021-04-19 07:28] #23583 closed

[2021-04-19 07:30] vivid392845427 opened #24124 "partiton table left join another table use for update in the transaction return error：index out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

drop table if exists t1, t2;
create table t1  (c_int int, c_datetime datetime, primary key (c_datetime)) partition by range (to_days(c_datetime)) ( partition p0 values less than (to_days('2020-02-01')), partition p1 values less than (to_days('2020-04-01')), partition p2 val

[2021-04-19 07:34] wshwsh12 commented on #23870
Duplicate of #23506

[2021-04-19 07:34] #23870 closed

[2021-04-19 07:38] mmyj commented on #24124
/assign

[2021-04-19 07:39] AilinKid commented on #24123
Closed duplicating with https://github.com/pingcap/tidb/issues/24122

[2021-04-19 07:39] #24123 closed

[2021-04-19 07:52] tisonkun commented on #24117
cc @eurekaka @qw4990

[2021-04-19 08:03] winoros commented on #24117
PointGet is using the `Get`/`BatchGet` protocol of the TiKV.

See the `Getter` and `BatchGetter` in `kv/kv.go`

It's used since the `Get` operation is lighter than the coprocessor layer in TiKV. When the number of the scanned rows are just one or other small number. The RPC cost will be reduced a lot compared with the coprocessor protocol.

[2021-04-19 08:03] lzmhhh123 commented on #21825
Will be fixed in 5.0.1 and 4.0.13

[2021-04-19 08:03] #21825 closed

[2021-04-19 08:05] eurekaka commented on #24096
Same problem as https://github.com/pingcap/tidb/issues/23406, i.e, there is no other stats operations that would push the `LastUpdateVersion` forward.

[2021-04-19 08:07] winoros commented on #24117
But, yes, we need to change the checking condition to `path.StoreType == TiKV` for further extenstion.

[2021-04-19 08:08] dveeden opened #24126 "Inconsistent version string for tiflash"
## Bug Report

[code]

Here most components report as `5.0.0` except for `tiflash` which reports as `v5.0.0`. Would be good to make this more consistent so that a query with `WHERE VERSION = '5.0.0'` would work.

[code]

[2021-04-19 08:29] #23919 closed

[2021-04-19 08:36] eurekaka commented on #24096
According to the code comment:

[code]

The correct offset should be `mathutil.MaxInt64(int64(h.Lease()), int64(ddlLease))` now. To avoid the endless and redundant reading of `mysql.stats_histograms` if `LastUpdateVersion` is not increased, seems we should use `version > current_timestamp - offset` as the filter? @winoros @qw4990 how do you think?

[2021-04-19 09:08] winoros opened #24127 "When clustered index is enabled, we can data by cluster index's order when the index condition is point"
## Development Task

For the following case.
[code]

Since the clustered index is encoded in index. So it actually can keep order for the above case. And it can use the clustered index's columns to seek rows if the condition is `c = 1 and a = 2 and b = 3`. We can directly seek the row whose index and clustered index's value tuple is `(1, 2, 3)`.

[2021-04-19 09:29] lilinghai opened #24129 "It raises panic when using max/min distinct on time through tiflash engine"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1105 (HY000): runtime error: index out of range [0] with length 0
[code]
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2671-g3ec

[2021-04-19 09:38] jianzhiyao commented on #3644
What's the final conclusion?

[2021-04-19 09:57] XuHuaiyu opened #24130 "reduce the execution time of `go test -race` for package executor"
## Development Task

Update: 2021-04-20 15:35 CST

[code]

The execution time of the above commands is optimized.
git hash | execution time
-- | --
bc4bde76eb7081731646e2dbde1bed37ce121f62 (before)| 769.181s
fa39b79006c1d35cb1ba0cdafc1febd78fa36f50 (after)| 319.095s

The top 3 most execution time test cases in different test suite are are listed as the following:
[code]

There are some test cases

[2021-04-19 09:58] XuHuaiyu commented on #24130
related issue:
https://github.com/pingcap/tidb/issues/23612

[2021-04-19 11:14] Howie59 commented on #24118
/assign

[2021-04-19 11:14] Howie59 commented on #24109
/assign

[2021-04-19 11:27] wjhuang2016 commented on #3644
@jianzhiyao We shouldn't allow this `alter` for now.

[2021-04-19 11:37] mmyj commented on #24130
let me fix ` aggregate_test.go:1271:testSuiteAgg.TestIssue20658`

[2021-04-19 11:50] jianzhiyao commented on #3644
Does tidb need a pr for that issue?

[2021-04-19 12:23] lysu opened #24133 "Support binlog for clustered index table"
## Development Task

- [x] [tidb]support create table when binlog enabled
- [x] [tidb]only add extCol for PKIsHandle
- [x] [tidb]shouldWriteBinlog => true
- [x] [binlog]insert datums
- [x] [binlog]delete datums
- [x] [binlog]update datums
- [x] [binlog]replica prefix primary key

## Test Task

- [ ] Extend Binlog Intergration Test
  - [x] Regression none clustered index table works well
  - [ ] Cl

[2021-04-19 12:26] lilinghai opened #24134 "It raises baseBuiltinFunc.vecEvalString() should never be called when using tiflash engine"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1105 (HY000): baseBuiltinFunc.vecEvalString() should never be called, please contact the TiDB team for help
### 4. What is your TiDB version? (Required)

Relea

[2021-04-19 12:47] xinwu5 commented on #24031
Running version 5.7.25-TiDB-v5.0.0, kill query just does not work at all.
[code]

[2021-04-19 15:01] dveeden commented on #24031
This looks like it is killing the connection after the first interaction after the running query and not directly stop the query as expected.

[2021-04-19 15:50] morgo commented on #24031
I think this is a different issue, which is that the query being killed is DDL (which runs on the DDL owner, the state in the processlist here is just polling the progress of DDL). Try killing `SELECT SLEEP(60)` for example.

For killing DDL, there is [`ADMIN CANCEL DDL`](https://docs.pingcap.com/tidb/stable/sql-statement-admin-cancel-ddl). I am not sure if it is a feature request or a bug, but DD

[2021-04-19 16:00] zhaoxugang commented on #22837
I want to join to resolve this issue, what can i do for this issue?

[2021-04-19 16:01] zhaoxugang commented on #22837
I want to join to resolve this issue, what can i do for this issue?@cfzjywxk

[2021-04-19 18:47] xinwu5 commented on #24031
`ADMIN CANCEL DDL` manages to kill the query. Agree that `kill` comment should be able to kill the DDL.

[2021-04-19 20:13] morgo opened #24142 "REVOKE / GRANT visitInfo is incorrect on global grants"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

From manual inspection of the code, when GRANT is on *.* the `visitInfo` collected the `dbName`  even if it is not applicable:

https://github.com/pingcap/tidb/blob/adfe0293480715b6d299feb29ecfc9062e63f49b/planner/core/planbuilder.go#L2268-L2291

### 2. What did you expect

[2021-04-19 20:16] morgo opened #24143 "Revoke does not correctly populate the dynamic privilege name"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

With dynamic privileges the "grant option" is per privilege and not global. This is correctly handled in `GRANT`, but not in `REVOKE`.

If there a no-non dynamic privileges being revoked, then the global grant option should not be required:
https://github.com/pingcap/tidb/b

[2021-04-19 20:31] morgo opened #24144 "KILL TIDB or global KILL should cancel DDL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

This is forked from https://github.com/pingcap/tidb/issues/24031

Currently DDL tasks must be killed with `ADMIN CANCEL DDL x`. The MySQL compatible way should be to use the `KILL` statement.

It should be possible for `KILL TIDB` / `KILL` (with global kill) to understand i

[2021-04-19 20:31] morgo commented on #24031
I've forked the KILL DDL issue to https://github.com/pingcap/tidb/issues/24144

[2021-04-20 01:09] cfzjywxk commented on #22837
@zhaoxugang
I think maybe we need to to find out a way to lock the existing unique index keys for pessimistic transaction in `selectLockExec` executor, currently only row keys are locked.

[2021-04-20 03:09] #23872 closed

[2021-04-20 03:35] morgo commented on #24144
I chatted with some colleagues on this - some of this might be historical (before global kill). There is also the case that some DDL jobs can not actually be canceled, so having a different statement may be useful since it can retrun an error to the caller etc.

[2021-04-20 03:48] cosven commented on #24144
/severity moderate

[2021-04-20 03:49] cosven commented on #24143
/severity moderate

[2021-04-20 03:51] cosven commented on #24134
/severity moderate
/sig execution

[2021-04-20 03:53] seiya-annie opened #24148 "5.0.0 upgrade to 5.0.1-pre, report "table reader fetch next chunk failed""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. upgrade cluster from v5.0.0 to 5.0.1
2. get  the following errorsin tidb.log
[2021/04/20 11:34:44.347 +08:00] [WARN] [coprocessor.go:882] ["other error"] [txnStartTS=424382217400877073] [regionID=61] [storeAddr=172.16.4.139:20160] [error="other error: default not found: k

[2021-04-20 03:53] cosven commented on #24126
/severity moderate

[2021-04-20 03:55] cosven commented on #24129
/severity major
/sig execution

[2021-04-20 03:57] mahjonp opened #24149 "v5.0.1-pre Inconsistent select count(1)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-04-20 03:59] qw4990 opened #24150 "Milestone of Partition Table in Sprint3 (2021/4/19 ~ 2021/6/18)"
## Development Task
Development plan:
![image](https://user-images.githubusercontent.com/7499936/118949739-1ee7cd80-b98c-11eb-896d-8f651a527f52.png)

Brief introduction: improve the quality of all experimental features of partition tables, including direct reading, global statistics, list, and column list partition.

All test cases are in [the GA matrix document](https://docs.google.com/document/d

[2021-04-20 05:27] zz-jason commented on #24150
we also need to fix the existing bugs, like https://github.com/pingcap/tidb/issues/20372

[2021-04-20 06:00] dveeden commented on #13958
From https://docs.pingcap.com/tidb/stable/enable-tls-between-clients-and-servers:
"Because the SSL protocol has known security vulnerabilities, TiDB does not support it."

So I wonder why it's there in the first place. Removing it here should be fine.

[2021-04-20 06:02] qw4990 commented on #24150
OK, I'll go through all existed issues about the partition table add them here later.

[2021-04-20 06:05] lzmhhh123 commented on #24149
Can't reproduce on the master branch.

[2021-04-20 06:15] dveeden commented on #24144
With MySQL if you kill a query/connection that somehow can't be killed it will still be in the processlist with a state of 'Killed' until it is really gone. So TiDB could do something similar. A warning/info message about this would be good indeed.

See also: https://dev.mysql.com/doc/refman/8.0/en/general-thread-states.html

[2021-04-20 06:15] qw4990 opened #24154 "Support reading partition table for index lookup reader"
## Development Task
A subitem of https://github.com/pingcap/tidb/issues/24150.
To read partition tables, `IndexLookUp` needs to be wrapped in another executor `PartitionTableExec`, since `PartitionTableExec` is not concurrent, so the performance is unacceptable.
To solve this problem, we decided to make `IndexLookUp` support direct reading, which means it has the ability to read partition tables d

[2021-04-20 06:16] lzmhhh123 commented on #24149
It cause by
commit: 26c33d94515328d78c2796d18b91ca2a1aeffe51
#23816
#23804
@guo-shaoge PTAL.

[2021-04-20 06:21] #19052 closed

[2021-04-20 06:26] time-and-fate commented on #24127
I think `use index (PRIMARY)` can get the plan you want
[code]
For the second case, seems we already have a point get plan for that.
[code]

[2021-04-20 06:39] winoros commented on #24127
@time-and-fate Oh no, it's the case that `c = 1 and a = 2 and b > 1`. The key-value storage of the index(c) actually stores column c and the clustered index(a, b). So `c = 1 and a = 2 and b > 1` can all use the index(c) to apply range seeking.

[2021-04-20 06:46] ClSlaid opened #24158 "Should we replace `a/b*b` scripts with `a - a%b` forms?"
## Should we replace `a/b*b` scripts with `a - a%b` forms?

Yesterday I came up with GoLang code in TiDB respository similar to following code:

[code]
The last line cut off `now` into intervalTime.

However, it's not as straight forward as following code:

[code]

This two lines do actrually same thing, but why doing `a/b*b` instead of `a - a%b`? Performance issues?

I know few about ASM but you

[2021-04-20 07:02] qw4990 opened #24160 "Support reading partition table for index merge reader"
## Development Task
A subitem of https://github.com/pingcap/tidb/issues/24150.
To read partition tables, `IndexMergeReader` needs to be wrapped in another executor `PartitionTableExec`, since `PartitionTableExec` is not concurrent, so the performance is unacceptable.
To solve this problem, we decided to make `IndexMergeReader` support direct reading, which means it has the ability to read partitio

[2021-04-20 07:03] xhebox commented on #23984
Just want to mention that, our metadata is truncated, too, check #23865.

[2021-04-20 07:17] zhuo-zhi opened #24161 "Correctness testing 1: test dynamic pruning and partition related expression calculation"
## Development Task

Subitems from #24150

- [ ] Design and add test cases on hash and range partitions
- [ ] Design and add test cases on list and list column partitions
- [ ] Design and add test cases of operations on partition boundaries

[2021-04-20 07:26] zhuo-zhi opened #24162 "Correctness testing 2: test direct reading with other operators"
## Development Task

Subitems from #24150

- [x]  <code>BatchGet</code> and <code>PointGet</code>
- [x]  <code>Order</code> + <code>Limit</code>
- [x]  All kinds of Joins, especially <code>IndexLookUpJoin</code>
- [x]  All kinds of Aggregations

[2021-04-20 07:36] djshow832 opened #24163 "Support temporary tables"
## Development Task

A temporary table is a special table whose rows data are only temporarily available.

For a global temporary table, the table schema is visible to all the sessions, but the changes into the table are only available within the current transaction, when the transaction commits, all changes to the global temporary table are discarded.

For a local temporary table, it is visible o

[2021-04-20 07:39] wjhuang2016 opened #24164 "Support storage for CTE"
## Development Task
Support storage for CTE

[2021-04-20 07:45] tangenta opened #24165 "`NO_ZERO_IN_DATE` does not work in default value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master `53c5d6e4656658c0e844f62a3e1d2ece74d50671`

[2021-04-20 07:56] AilinKid commented on #23494
Need any help～？

[2021-04-20 07:58] guo-shaoge commented on #24149
This [PR](https://github.com/pingcap/tidb/pull/24024) add `Projection 1`. It means if `Projection`'s output column count is zero, `Projection` will output constant 1.

It means even if `Projection`'s child output is empty, `Projection` may still can output constant. We should change code in ProjectionExec to ensure this requirement.

[2021-04-20 08:03] summer9989 commented on #24165
Marked , via : https://asktug.com/t/topic/69720/5

wait new version

[2021-04-20 08:25] #24009 closed

[2021-04-20 08:46] tiancaiamao opened #24169 "Support temporary table"
## Development Task

A temporary table is a special table whose rows data are only temporarily available.

For a global temporary table, the table schema is visible to all the sessions, but the changes into the table are only available within the current transaction, when the transaction commits, all changes to the global temporary table are discarded.

For a local temporary table, it is visible o

[2021-04-20 08:54] rebelice opened #24171 "histogram buckets has NULL value crated by fast analyze"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
The `lower_bound` is not `NULL`

### 4. What is your TiDB version? (Required)

| tidb_version()

[2021-04-20 08:54] rebelice commented on #24171
/sig planner

[2021-04-20 08:55] rebelice commented on #24171
/assign @rebelice

[2021-04-20 08:55] AilinKid opened #24172 "ddl: admin cancel ddl job may return success appearancely but actually it doesn't"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. you can build a big table with many rows and try to add a index to it (this DDL may take a long time)
2. you can mock the write conflict error for a specified query for `admin cancel ddl jobs job_id`
3. you will get a successful result for this cancel statement still

Re

[2021-04-20 08:59] AilinKid commented on #24172
/cc @zimulala @bb7133

[2021-04-20 09:09] #24161 closed

[2021-04-20 09:26] djshow832 opened #24173 "Temporary table roadmap"
## Backgroud

Issue https://github.com/pingcap/tidb/issues/24163 requests supporting temporary tables in TiDB.

[Tech Design](https://docs.google.com/document/d/1Ub7adXeaAmNhtVyMWQFGOfAVZDELEbfWX2yzdjBrRP4/edit#)

[Weekly Report](https://docs.google.com/document/d/1fUyXVkAJ06X3AIXc7TCu6DSaxS68KeqzH4pDURT1l-0/edit#)

RFC is WIP.

## Support global temporary tables

This part including supporting gl

[2021-04-20 09:38] eurekaka commented on #24096
https://github.com/pingcap/tidb/pull/24175 can avoid the `stats_histograms` overhead, but the redundant read of `stats_meta` still exists unless we change the forward mechanism of `LastUpdateVersion`.

[2021-04-20 09:48] XuHuaiyu commented on #24130
@mmyj Hi, can you help to improve the execution time of `TestVectorizedMergeJoin `?

[2021-04-20 10:58] zz-jason commented on #24150
1. for the milestones, another key milestone is to disable static pruning and enable dynamic pruning by default.
2. for tests, I wish to add more compatibility tests:
	- upgrade tidb cluster from 4.0 to the current release, check whether the dynamic pruning works
	- downgrade tidb cluster from the current release to 4.0, check whether the static pruning works

[2021-04-20 11:11] mmyj commented on #24130
👌

[2021-04-20 11:20] dveeden opened #24176 "SHOW CREATE TABLE output with AUTO_RANDOM results in missing AUTO_RANDOM"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The table having a `AUTO_RANDOM` after re-creating it from the `SHOW CREATE TABLE...` statement.

### 3. What did you see instead (Required)

No default for `id`.

### 4. What is your TiDB version? (Required)

[code]

[2021-04-20 13:42] #24163 closed

[2021-04-20 13:43] djshow832 commented on #1248
Duplicate with #24169

[2021-04-20 13:43] #1248 closed

[2021-04-20 13:44] djshow832 commented on #24173
Duplicate with #24169

[2021-04-20 13:44] #24173 closed

[2021-04-20 15:50] tisonkun commented on #24117
@winoros thanks for your information. FYI https://github.com/pingcap/tidb/pull/24178

[2021-04-20 16:53] #17849 closed

[2021-04-21 02:23] zz-jason commented on #24122
the scenario is a little complicated, better to have a technical proposal to discuss the detailed design

[2021-04-21 02:39] coocood commented on #24117
@tisonkun
The reason point-get doesn't work on TiFlash is that TiFlash doesn't have any index.

[2021-04-21 03:07] #24117 closed

[2021-04-21 03:37] guo-shaoge commented on #24149
Why we got `firstrow` instead of `count` in `HashAgg_11` : `Projection_10` doesn't use any column in `HashAgg_11`, so all agg func in it will be pruned, but we will add firstrow to keep things all right.

Why we have wrong result: The result of query `select count(1) from (select count(1) from (select * from t1 where c3 = 100) k) k2` should be 1 instead of 0. Because the agg func in `HashAgg_11` i

[2021-04-21 03:52] jianzhiyao commented on #14466
According to test result, I think it's unnecessary for No.4 item in todo list

### Test code
[code]

### Benchmark
[code]

[2021-04-21 06:11] winoros commented on #23472
We've got a rather good result on the sampling tech to estimate the row count of index.

![mul-cols-point-query-on-index-zipf5000-bar](https://user-images.githubusercontent.com/7846227/115504641-d5cc2d00-a2aa-11eb-9395-c722994da7a8.png)
![mul-cols-range-query-on-index-zipf5000-bar](https://user-images.githubusercontent.com/7846227/115504653-d82e8700-a2aa-11eb-810c-d539ad7e6214.png)

The one whose

[2021-04-21 06:29] winoros opened #24182 "Refactor statistics Milestones in 2021/4/18 ~ 2021/6/18"
## Development Task

This task is aimed to improve the quality and speed of the current statistics.

Work items:

- Base statistics functionality:
	- [ ] A more stable sampling algorithm. @winoros
	- [ ] Compatible with correlation calculation @time-and-fate
	- [ ] Compatible with partition table @xuyifangreeneyes
	- [ ] Compatible with prefix column index
	- [ ] Compatible with virtual column ind

[2021-04-21 06:44] tangenta commented on #24176
I can't reproduce it in branch `master`.

I couldn't found the branch `automatic_tls` or the [git hash](https://github.com/pingcap/tidb/pulls?q=is%3Apr+is%3Aopen+3f22a5440c60a8d2645e33ece1c). @dveeden Can you provide the link of repo with this git hash?

[2021-04-21 06:48] dveeden commented on #24176
[code]
So looks like v5.0.0 also has the same issue.

[2021-04-21 06:53] dveeden commented on #24176
[code]
This is with a recent master branch

[2021-04-21 06:57] tangenta commented on #24176
This is strange...
[code]

[2021-04-21 07:01] tangenta commented on #24176
Please make sure the option `--comment` is specified in the command line. (But this cannot explain why `/*T![clustered_index] CLUSTERED */` works)

[2021-04-21 07:04] tangenta commented on #24176
https://docs.pingcap.com/tidb/stable/comment-syntax#optimizer-comment-syntax

In MySQL client before 5.7.7, TiDB specific comment syntax and optimizer comment syntax are treated as comments and cleared by default. To use the two syntaxes in the old client, add the --comments option when you start the client. For example, mysql -h 127.0.0.1 -P 4000 -uroot --comments.

[2021-04-21 07:07] #24165 closed

[2021-04-21 07:15] #24108 closed

[2021-04-21 07:16] dveeden commented on #24176
Yes this was indeed the issue. However this still surprised me. This is because I use a MySQL 8.0.23 client which I thought was not stripping out comments. However I was wrong.

The reason for me thinking this is that the client is not stripping out comments that start with `/*!` or `/!+` (mysql version comments and optimizer hints). The `/*T!` does get stripped out.

https://github.com/mysql/mysq

[2021-04-21 07:45] xhebox commented on #23452
Do we remove the `bad request to url`? The source is here: https://github.com/pingcap/tidb/tree/master/executor/set_config.go#L145-L151

[2021-04-21 07:51] tangenta commented on #24176
Even if we change all of the deploying tools, the MySQL client may not be on the same machine of the TiDB servers.

I think these approaches are not different from telling the user to use `mysql --comments` directly.

The syntax is initially borrowed from MariaDB(`/*M! */`).  MariaDB meets the same problem(`/*M!50701 ... */`) but they have their own client... https://github.com/MariaDB/server/blob

[2021-04-21 08:04] dveeden commented on #24176
That's likely not the case for how most people would use `tiup playground`. Creating the config file and letting users
distribute them may work. However you are correct to flag this as an issue.

Currently `tiup playground` outputs this:
[code]
Note that `--comments` is missing here. There might be other cases were we (or the user) may forget this option.

Thanks. Good to know the history on this.

[2021-04-21 08:08] dveeden commented on #24176
Another thing we *could* consider is to recommend `MySQL Shell` instead of `MySQL Client`:
[code]

[2021-04-21 08:17] #24176 closed

[2021-04-21 08:19] dveeden commented on #24176
@tangenta could you set the correct labels on this issue etc? I don't seem to have the right permissions for that.

[2021-04-21 08:26] nolouch commented on #22765
After discussed with @kennytm for this [comment](https://github.com/pingcap/tidb/issues/22765#issuecomment-820904195), the conclusion:
SELECT statement:
[code]
This means we only introduced `AS OF TIMESTAMP`  syntax.

1. Which one to pick? AS OF XXXX or FOR SYSTEM TIME AS OF XXX

    For this question,  we avoid using the `select … for system_time as of` syntax directly according to @kennytm 's [s

[2021-04-21 08:28] rebelice commented on #24150
There is bug #24171 here that prevents `fast analyze` from generating global stats.
(I can't modify the description, so I just comment here

[2021-04-21 11:15] zz-jason commented on #24150
https://github.com/pingcap/tidb/issues/22408 mentioned that there might be performance and resource issues in backup scenario, please take a look

[2021-04-21 11:28] zz-jason commented on #18098
close due to the project is finished.

[2021-04-21 11:28] #18098 closed

[2021-04-21 11:29] zz-jason commented on #18357
@cfzjywxk can we close this issue now since https://github.com/pingcap/tidb/projects/50 is finished?

[2021-04-21 11:31] zz-jason commented on #22441
Yes, I think we can track the progress in https://github.com/pingcap/tidb/issues/19132

[2021-04-21 11:32] #22441 closed

[2021-04-21 11:32] zz-jason commented on #22408
not a SQL feature request, moved it out of the feature-request kanban.

[2021-04-21 11:35] zz-jason commented on #22063
It's more like an enhancement requirement other than a feature request, I moved it out of the kanban. @qw4990 PTAL whether we can improve the log size once lots of partitions are queried.

[2021-04-21 11:38] zz-jason commented on #18546
it's more like a performance enhancement than a feature request, moved it out of the kanban.

[2021-04-21 11:46] crazycs520 commented on #23920
/cc @morgo

[2021-04-21 11:57] zz-jason commented on #24150
we need to add compatibility tests with other components in the cluster, for example: TiFlash MPP, BR, Dumpling, Lightning, Binlog, TiCDC

[2021-04-21 11:58] #18357 closed

[2021-04-21 12:09] #24171 closed

[2021-04-21 12:19] #24095 closed

[2021-04-21 13:17] SabaPing opened #24190 "Meta: Unify Log Library for Golang Projects"
`This issues tracking the progress for "Unify Log Library for Golang Projects"
`

### What problem does this PR solve?

The primary goal is to clean up the logging component. TiDB (and other golang projects) depends on two different third part log components, which are logrus and zap. This creates unnecessary complexity. In addition, there are some other logging flaws in code.

### Task Check List

[2021-04-21 14:38] bb7133 commented on #9426
Hi @ian-p-cooke , I closed this before because this issue is about ’supporting it in syntax'(at least we treated it this way), however TiDB doesn't support the semantic of `utf8mb4_0900_ai_ci`.

In order to avoid ambiguity, I'm going to re-title this issue to "Support for utf8mb4_0900_ai_ci in syntax'. And please feel free to file another issue if you need its 'real semantic'.

[2021-04-21 15:59] zz-jason opened #24194 "Improve ORM Compatibility"
## Introduction

ORM, which is short for Object-Relational Mapping, is usually used by applications to connect to databases like TiDB. Some typical ORM frameworks are:

- Java (refer to [JVM Ecosystem report 2018 – About your Platform and Application](https://snyk.io/blog/jvm-ecosystem-report-2018-platform-application/))
	- [Hibernate](https://hibernate.org/)
	- [MyBatis](https://mybatis.org/mybat

[2021-04-21 16:06] zz-jason commented on #212
let's track the unsupported ORMs in https://github.com/pingcap/tidb/issues/24194

[2021-04-21 16:21] vivid392845427 opened #24195 "Optimistic transactions delay checking，the newly inserted record is unable to merge"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
/* t */ set tidb_enable_clustered_index =on;
/* t */ drop table if exists t;
/* t */ create table t (a int, b int, primary key (a, b) ;
/* t */ insert into t values (1, 10);
/* t */ begin optimistic;
/* t */ insert into t values (1, 10);
/* t */ select * from t;
/* t */ comm

[2021-04-21 16:21] morgo commented on #23920
The historical MySQL way to do this would be to implement a status counter. i.e. `SHOW GLOBAL STATUS LIKE 'statements_summary_evicted_count'`. Unfortunately this would not map to the time windows nicely, so you would have to poll this statistic to keep track.

[2021-04-22 02:25] cfzjywxk commented on #24195
The different behaviours bettween int handle and non-int handle is caused that the `unionScan` operator will do merge or exclude based on the handle value. When the non-int primary key is used, the generated handle `_tidb_rowid` for two rows may be different so we could see two rows in the optimistic transaction.
This different behaviour exist in v4.0, v5.0 and master, it's needed to define the ex

[2021-04-22 02:47] zz-jason commented on #24149
Seems unreasonable, `Projection_10` is expected to use the result of `count(1)` from `HashAgg_11`.

[2021-04-22 05:42] MyonKeminta opened #24199 "Implement Lock View"
## Development Task

We are going to implement the feature Lock View in Sprint3, which will be helpful and much improves the experience when diagnosing transaction lock contention, blocking and deadlocking issue.

The development tasks will be done by me and @longfangsong .

Design doc: https://github.com/pingcap/tidb/pull/24375

Major development tasks:

- [ ] Implement `TIDB_TRX` table which pro

[2021-04-22 05:50] wuwangben commented on #6840
Is there a plan to support savepoint?

[2021-04-22 06:37] youjiali1995 commented on #19960
Close it because we're working on it.

[2021-04-22 06:37] #19960 closed

[2021-04-22 06:38] youjiali1995 commented on #22287
Close it because we're working on it. https://github.com/pingcap/tidb/issues/22513

[2021-04-22 06:38] #22287 closed

[2021-04-22 07:47] tisonkun commented on #22979
@Tjianke  How is it going? I'll start the development this weekend if no activity yet.

[2021-04-22 08:21] Tjianke commented on #22979
Merged PRs on most packages, 3 PRs still waiting for review.

[2021-04-22 08:23] tisonkun commented on #22979
Thanks! I can see

https://github.com/pingcap/tidb/pull/22994
https://github.com/pingcap/tidb/pull/23002
https://github.com/pingcap/tidb/pull/23001

[2021-04-22 08:39] tiancaiamao commented on #24124
Seems duplicate with https://github.com/pingcap/tidb/issues/20028?

[2021-04-22 09:37] #24096 closed

[2021-04-22 09:40] wanliyi opened #24205 "The subquery returned an incorrect result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-04-22 10:07] mmyj commented on #24124
I think they are duplicated.

[2021-04-22 10:44] rebelice opened #24206 "reduce the execution time of go test -race for package planner/core"
## Development Task

reduce the execution time of `go test -race` for package planner/core

The `TestListColumnsPartitionPrunerRandom` cost 200+s(total tests need 345s)

We plan to move this random test to `utf` to reduce CI time.

[2021-04-22 11:03] wanliyi commented on #24205
The following issue is similar to it, I don't know if this is the same issue：

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

[2021-04-22 11:38] cosven commented on #24205
/severity major
/sig execution

[2021-04-22 11:42] qw4990 commented on #13485
Yes, this issue is duplicated with https://github.com/pingcap/tidb/issues/18548;

[2021-04-22 11:42] #13485 closed

[2021-04-22 11:46] #18082 closed

[2021-04-22 11:46] #18262 closed

[2021-04-22 11:48] #18566 closed

[2021-04-22 11:50] qw4990 commented on #18548
This issue is duplicated with https://github.com/pingcap/tidb/issues/18548, so I close it now.

[2021-04-22 11:50] #18548 closed

[2021-04-22 12:11] cfzjywxk commented on #23824
Do we have other pathes which do the samething like this?
BTW, the `on duplicate/ignore` path seems need much more test enhancements :frowning: .

[2021-04-22 12:13] #18546 closed

[2021-04-22 12:17] zz-jason commented on #21254
duplicated with https://github.com/pingcap/tidb/issues/20423

[2021-04-22 12:17] #21254 closed

[2021-04-22 12:17] qw4990 commented on #18016
Close it since it is duplicated with https://github.com/pingcap/tidb/issues/24150.

[2021-04-22 12:17] #18016 closed

[2021-04-22 12:18] qw4990 commented on #18551
Close since it is duplicated with https://github.com/pingcap/tidb/issues/24150.

[2021-04-22 12:18] #18551 closed

[2021-04-22 12:19] qw4990 commented on #15612
Close since this problem can be solved by https://github.com/pingcap/tidb/issues/24150.

[2021-04-22 12:19] #15612 closed

[2021-04-22 12:25] zz-jason commented on #15612
confirmed:

[code]

[2021-04-22 12:32] qw4990 commented on #11977
Close since it is duplicated with #10521

[2021-04-22 12:32] #11977 closed

[2021-04-22 12:33] xuyifangreeneyes commented on #20423
We have implemented fallback to TiKV when TiFlash is down. With `tidb_allow_fallback_to_tikv="tiflash"`, TiDB would retry with TiKV when TiFlash is unavailable. See #22459 and #22886 for details.

[2021-04-22 12:42] zz-jason commented on #20372
confirmed that this issue still existed:

[code]

got the following result for the last two statements:

[code]

[2021-04-22 12:42] qw4990 commented on #20019
Hi, @mahjonp , would you like to take a look at this issue?

[2021-04-22 12:46] tisonkun commented on #17472
Here is the link to weekly report of CTE development: https://docs.google.com/document/d/1b-nL0c2akLL03ZhXXcQT6tj_tqQMmfAE8oKSfcaaDqE

I'm wondering whether we can just post weekly update on this thread as below on finalize:

## 2021/04/22 (10%)

### Summary

- [x] parser/pull/1207 Parser part gets merged into the master branch. @wjhuang2016
- [x] tidb/pull/24170: support new variable cte_max_recu

[2021-04-22 12:46] zhuo-zhi commented on #22619
/assign

[2021-04-22 12:46] zhuo-zhi commented on #16845
/assign

[2021-04-22 12:49] zhuo-zhi commented on #22079
/assign

[2021-04-22 12:51] zz-jason commented on #20372
It's hard to find a scenario that reading different partition from different stores, let's support read the whole table from only one storage for the short term.

[2021-04-22 12:54] qw4990 commented on #20372
Agree. Here is the reason:
For static mode, our optimizer makes the plan for each partition separately, so hints like `/*+ read_from_storage(tikv[t partition(p0)], tiflash[t partition(p1)]) */` can be easily and naturally implemented.
In dynamic mode, all partitions are related to a single `DataSource` operator, and it's very hard and unnecessary to implement the feature that one operator can read

[2021-04-22 12:55] qw4990 commented on #20372
@mahjonp Could you please take a look at this issue?

[2021-04-22 13:05] wjhuang2016 opened #24209 "TiDB doesn't support getting the mvcc key of the secondary index in a clustered index table by HTTP API"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/17380469/115719140-63447580-a3ae-11eb-96e9-58d47ff6447a.png)

Related to https://github.com/pingcap/tidb/pull/22904
### 2. What did you expect to see? (Required)
Return correct info.
### 3. What did you see instead (Require

[2021-04-22 13:09] zz-jason commented on #16681
confirmed that the issue still existed:

queries to be executed:

[code]

result of the last statement:

[code]

TiDB version:

[code]

[2021-04-22 13:19] leiysky opened #24210 "TiDB will panic if ProjectionExec.baseExecutor.Open returns error"
## Bug Report

IMHO, we don't need to reproduce this case since it's obvious.

Just read the code.

If `e.baseExecutor.Open()` returns error, then `e.open()` won't be called, which means `e.childResult` and `e.memTracker` won't be initialized.

https://github.com/pingcap/tidb/blob/f973108fc868cc665c0107b71ae767bbfc857881/executor/projection.go#L84-L89

If `Executor.Open()` returns error, then `Exe

[2021-04-22 13:42] fzhedu opened #24213 "DB::TiFlashException: Duplicated selection in DAG request"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
from https://github.com/pingcap/tics/issues/1731
[code]

### 2. What did you expect to see? (Required)
no duplicated selections

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2021-04-22 14:38] tisonkun commented on #23013
@xhebox sorry I just see your assignment. Could you please help on the review of #24212 ? Or if you already work on this issue, I'm glad to help on the review side also.

[2021-04-22 16:19] morgo commented on #15003
You are correct, it is not supported.

cc @mjonss

[2021-04-23 02:20] xhebox commented on #23013
@tisonkun I am not working on other packages. I will review your PR.

[2021-04-23 03:32] TomShawn opened #24226 "Add value ranges for TiDB configuration items"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The users of the document [TiDB Configuration File](https://github.com/pingcap/docs/blob/master/tidb-configuration-file.md) might need to know the value ranges of certain configuration items. However, only some of these configuration items in this document have value range information.

**Describe the feature y

[2021-04-23 03:37] lpypl opened #24227 "JDBC ResultSetMetaData.getColumnName for view query returns the attribute name defined in the table instead of the one defined in the view"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Just query a view with renamed attribute and print `ResultSetMeta.getColumnName`.
#### Code for reproduce
The [sample code](https://github.com/lpypl/RSMDTest.git) is as follows, and you can get if from <https://github.com/lpypl/RSMDTest.git>.
[code]

#### Table and View def

[2021-04-23 03:52] crazycs520 commented on #23920
Yes, so I prefer providing a system table to display this information.
What do you think of this idea?
If so, can the table name be called `statements_summary_evicted_count` or `statements_summary_lost `.  Since MySQL uses the name `lost`. https://dev.mysql.com/doc/refman/5.7/en/performance-schema-status-variables.html#statvar_Performance_schema_digest_lost

[2021-04-23 03:58] morgo commented on #23920
I like the idea of copying MySQL. statements_summary is similar to performance_schema, but we have renamed it because it is not exactly the same.

[2021-04-23 04:27] #13958 closed

[2021-04-23 04:40] fzhedu commented on #24210
This bug occurs in different place, someone who add memtracker should refactor related code to fix this bug.

[2021-04-23 04:51] xuyifangreeneyes commented on #23665
/assign

[2021-04-23 05:08] ichn-hu commented on #24210
/assign @ichn-hu

[2021-04-23 05:19] #23013 closed

[2021-04-23 05:26] tisonkun commented on #22979
@zimulala @disksing unused is enabled by the whole #23013 . Please update the description of this issue.

[2021-04-23 05:33] disksing commented on #22979
@tisonkun cool, thanks!

[2021-04-23 05:40] ichn-hu commented on #24158
Hi @ClSlaid thanks for your question, I don't see any particular reason why we use a/b*b here, but it is also by no means less straight forward, you are welcomed to propose a PR to add a line of comment to help illustrate.

[2021-04-23 06:08] ichn-hu commented on #24205
@wanliyi I can't reproduce it, would you retry and/or tell more details?

[2021-04-23 06:13] wanliyi commented on #24205
What is your TiDB version?

[2021-04-23 06:57] ichn-hu commented on #24205
[code]

 note I run it without tikv (with unistore)

[2021-04-23 07:13] xhebox opened #24233 "tidb_snapshot is not respected in some cases"
## Bug Report

Refer #24230 , while `SnapshotInfoschema` is set when `set @@tidb_snapshot="xxx"`, it is not applied to all code:

[code]

The above code will always use the latest infoschema instead of the old one. Similar cases happen for `SchemaVersion`. Later a PR will be sent for `SchemaVersion`.

### 4. What is your TiDB version? (Required)

master branch d3885387195bb47cf2c62cc0584c78c0ab437

[2021-04-23 07:17] wanliyi commented on #24205
It may be caused by a tikv bug, you can try to reproduce it on a cluster with tikv.

[2021-04-23 08:43] #24149 closed

[2021-04-23 09:31] eurekaka opened #24237 "change the way of checking auto analyze ratio"
## Development Task

Currently, we use `(modify_count / count) > autoAnalyzeRatio` as the check for auto analyze, this may lead to confusing results sometimes.

For example, if the table has 200 rows, then a 200-row insert can trigger auto analyze if the `autoAnalyzeRatio` is `0.5`, while a 67-row delete can trigger it as well. This inconsistency should be confusing.

To solve this problem, we can

[2021-04-23 10:46] vivid392845427 commented on #24195
Scene 2：Pessimistic transaction
/* s1 */ drop table if exists t;
/* s1 */ create table t (c1 varchar(10), c2 int, c3 char(20), primary key (c1, c2));
/* s1 */ insert into t values ('tag', 10, 't'), ('cat', 20, 'c');
/* s2 */ begin;
/* s2 */ update t set c1=reverse(c1) where c1='tag';
/* s4 */ begin;
/* s4 */ insert into t values('dress',40,'d'),('tag', 10, 't');
/* s2 */ commit;
/* s4 */ select *

[2021-04-23 10:51] #24206 closed

[2021-04-23 11:06] cfzjywxk commented on #24195
As described above, the different behaviours bettwen int handle and non-int handle sometimes may confuse the use that two rows with same unique key values are returned doing snapshot read in a transaction.

[2021-04-23 12:18] dveeden opened #24243 "Incorrect error message for tidb_gc_life_time of less than 10m"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Either the value being accepted or an error indicating that the value is out of bounds.

### 3. What did you see instead (Required)

Error about the type of the argument

### 4. What is your TiDB version? (Required)

[2021-04-23 14:44] Howie59 commented on #23494
i refer 2 draft, but i don't know right or wrong?
[1](https://github.com/pingcap/parser/pull/1210)
[2](https://github.com/pingcap/tidb/pull/24151)

[2021-04-23 21:49] disksing opened #24249 "Some unit tests are not enabled and cannot pass"
We use `pingcap/check` for unit testing and it requires calling `check.TestingT` in every package.

With following script, we can find some packages do not have `TestingT`:

[code]

[2021-04-24 02:14] zz-jason commented on #17474
close since all the issue except for https://github.com/pingcap/tidb/issues/16845 listed in the doc are fixed.

[2021-04-24 02:14] #17474 closed

[2021-04-24 02:18] zz-jason commented on #11950
update: [`enable-cross-table-merge`](https://docs.pingcap.com/tidb/stable/pd-configuration-file#enable-cross-table-merge) is enabled by default since TiDB 5.0

[2021-04-24 02:20] zz-jason commented on #15003
close since it's duplicated with https://github.com/pingcap/tidb/issues/18032

[2021-04-24 02:20] #15003 closed

[2021-04-24 03:24] zz-jason commented on #10185
Oh, this issue is about writing binglog to multiple Kafka partition, not related to the partition table.

[2021-04-24 03:54] zz-jason commented on #14541
close due to stale.

[2021-04-24 03:54] #14541 closed

[2021-04-24 07:38] tisonkun commented on #11223
#11193 is getting done.

[2021-04-24 08:10] tisonkun commented on #11200
Behavior is the same as MySQL 5.7.

[code]

[2021-04-24 08:13] tisonkun commented on #11223
It seems for the last 3 remains issue tracked here.

#11193 is resolved.
#11200 cannot be reproduced at master
#11181  relates to a wide range of code refactor.

Would you mind we UNPIN this issue, mention at the beginning that 2 issues are remain, and possibly close this issue?

[2021-04-24 09:53] #24154 closed

[2021-04-24 13:40] liaohongxing opened #24251 "show warnings and show errors do not support limit clause"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Support  SHOW WARNINGS [LIMIT [offset,] row_count]
Support  SHOW ERRORS [LIMIT [offset,] row_count]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

mysql> select tidb_v

[2021-04-24 13:50] liaohongxing opened #24252 "SHOW CONFIG execution burst warning"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
no warnings

### 3. What did you see instead (Required)
 3 warnings

### 4. What is your TiDB version? (Required)

[code]

[2021-04-24 13:55] AilinKid opened #24253 "ddl: reorg panic when altering column type from `int` to `bit`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

log
[reorgPanic.txt](https://github.com/pingcap/tidb/files/6369735/reorgPanic.txt)

sql
[code]
data
[code]

### 2. What did you expect to see? (Required)
No panic

### 3. What did you see instead (Required)
(From reorgPanic.txt)
[code]

### 4. What is your TiDB version? (Re

[2021-04-24 17:04] mjonss commented on #18032
MySQL does not support global indexes in partitioning, where a secondary index is not alined/partitioned as the base table, it only supports 'local indexes' where each partition contains a set of indexes, including the primary and unique indexes. As of MySQL 8.0.24, it is still not possible to create a global partitioned index, where the index is partitioned differently than the defined table part

[2021-04-25 03:07] qw4990 opened #24255 "Make IndexReaders in the inner side of IndexJoins support direct reading"
## Development Task
`IndexReader` already has the ability to read partition tables directly, but if it is in the inner side of an `IndexJoin`, `PartitionTableExec` is still used now, and this is unnecessary.
To make our code more uniform, we should remove `PartitionTableExec` in this case and just use the ability of direct reading of `IndexReader`.

[2021-04-25 03:09] qw4990 opened #24256 "Make IndexLookups in the inner side of IndexJoins support direct reading"
## Development Task
`IndexLookup` already has the ability to read partition tables directly, but if it is in the inner side of an `IndexJoin`, `PartitionTableExec` is still used now, and this is unnecessary.
To make our code more uniform, we should remove `PartitionTableExec` in this case and just use the ability of direct reading of `IndexLookup`.

[2021-04-25 03:17] ichn-hu commented on #24194
Shall we consider [TypeORM](https://github.com/typeorm/typeorm) (23k star), [Sequelize](https://github.com/sequelize/sequelize) (24k star) and [Prisma](https://github.com/prisma/prisma) (10k star) from the Nodejs community? IMO they are growing very rapidly in the oversea development community.

[2021-04-25 03:57] guo-shaoge commented on #24129
I cannot reproduce this bug. But this error looks like same as [here]().

[2021-04-25 05:49] qw4990 opened #24259 "panic when reading a partition table by IndexLookUpJoin with IndexReader"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
See the test case below:
[code]

### 2. What did you expect to see? (Required)
The test can pass.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-04-25 06:37] guo-shaoge commented on #24129
/assign

[2021-04-25 07:01] lzmhhh123 commented on #24205
I can reproduce it on `v5.0.1` cluster and `nightly` cluster.

[2021-04-25 07:20] seiya-annie opened #24262 ""runtime error: index out of range [7] with length 7"] when split region"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[2021/04/23 18:38:00.674 +08:00] [INFO] [split_region.go:160] ["batch split regions complete"] ["batch region ID"=3] ["first at"=7480000000000006fe] ["first new region left"="{Id:3709 StartKey:7480000000000006fffd00000000000000f8 EndKey:7480000000000006fffe00000000000000f8

[2021-04-25 07:21] seiya-annie commented on #24262
sql statement and result during this time is:
[out-of-index.log](https://github.com/pingcap/tidb/files/6371445/out-of-index.log)

[2021-04-25 07:59] cfzjywxk opened #24264 "tidb panic executing the projection executor"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Query

[code]

### 2. What did you expect to see? (Required)
The execution return results.

### 3. What did you see instead (Required)
The tidb panic with runtime error
[code]
The panic stack:
[code]

### 4. What is your TiDB version? (Required)
master with commit h

[2021-04-25 08:01] aytrack opened #24265 "tidb could change parts of primary to null"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
1. should not modify the primary key type of cluster index
2. should not be set part of primary to null
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-04-25 08:19] lzmhhh123 commented on #24205
Use unistore:

[code]

use tikv:

[code]

[2021-04-25 08:23] #23479 closed

[2021-04-25 09:13] #23993 closed

[2021-04-25 09:17] An0nymous0 commented on #24038
![image](https://user-images.githubusercontent.com/6836030/115987979-1d73f100-a5ea-11eb-9a26-7d90d33778a8.png)

vda and vdb

[2021-04-25 09:45] tangenta opened #24270 "Support specifying range for 'ADMIN CLEANUP INDEX' and 'ADMIN RECOVER INDEX'"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In a table with a large amount of data, the admin recover/cleanup index speed can be very very slow. If the user already knew where the problem is, they should be able to fix it quickly.

**Describe the feature you'd like:**

Scan the handles from region 3, 15 and 20, then add the corresponding index if necessa

[2021-04-25 10:15] cfzjywxk opened #24271 "Incompatible behaviour for insert ignore processing incorrect time value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

The result of `col_0` contains a correct time value.

### 3. What did you see instead (Required)

[code]
The result of `col_0` contains a invalid time value.

### 4. What is your TiDB version? (Required)
master b

[2021-04-25 10:16] seiya-annie opened #24272 "execute sql panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
run tiflash case, find following panic error in tidb.log

[2021/04/25 17:59:08.487 +08:00] [ERROR] [adapter.go:139] ["execute sql panic"] [sql="select value from mysql.stats_fm_sketch where table_id = 1827 and is_index = 0 and hist_id = 1"] [stack="github.com/pingcap/tidb/ex

[2021-04-25 11:06] rebelice commented on #24272
This is the behavior after the memory usage exceeds `mem-quota-query`, not a bug

[2021-04-25 11:06] #24272 closed

[2021-04-25 11:42] youjiali1995 opened #24274 "Avoid region unavailable"
## Background
`RegionUnavailable` is one of the errors reported by TiDB when a request can’t be finished by TiKV or TiFlash in time. Here it refers to all the errors that TiDB can report during the request phase, including `ServerBusy` and `ServerTimeout`. In the scenario of batch processing or data loading, the pursuit of users is high throughput and non-error reporting, and the acceptable reques

[2021-04-25 12:14] tangenta opened #24275 "Move backfill column-type-change job to the adding-index queue"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Since backfill column-type-change is quite similar to add an index, it may take a long time to read and write data. Thus, to prevent blocking other "instant" DDL jobs, column-type-change jobs should be put to the adding-index job queue.

**Describe the feature you'd like:**

Move backfill column-type-change job

[2021-04-25 12:50] tangenta opened #24276 "Support constant substitution on read-only user-define variables"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Table definition:
[code]

[code]

Query 1 result:
[code]

Query 2 result:
[code]

It shows that query 1 `Selection` operator cannot be pushed down to the TiKV, because the user-define variables cannot be pushed down.

**Describe the feature you'd like:**

Since the user-defined variables are read-only in this q

[2021-04-25 13:17] tangenta commented on #24122
@zz-jason Please check if the idea works in #24211. If this is ok, I will write a tech proposal for it later.

[2021-04-25 15:01] #23824 closed

[2021-04-26 04:11] #24142 closed

[2021-04-26 04:11] #24143 closed

[2021-04-26 04:19] fzhedu opened #24281 "out of index[-1] for ColumnIndex"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
`func (s *Schema) ColumnIndex(col *Column) int` [this func](https://github.com/pingcap/tidb/blob/642527d740a981f898360b14358e9c1f731311da/expression/schema.go#L121) return -1 if cannot find a column, but this case does not hold for calling functions, such as func (p *Logical

[2021-04-26 06:06] lzmhhh123 commented on #24262
@seiya-annie Could you help provide simpler reproduction steps?

[2021-04-26 06:19] #18283 closed

[2021-04-26 06:26] linhantao opened #24283 "Table length limit"
I use Chinese to create the table, which supports up to 21 Chinese characters.What's the problem with this?
Mysql supports table creation with 64 characters
The official documentation says the maximum is 64 bits
![image](https://user-images.githubusercontent.com/56330004/116037802-2c66ac00-a69b-11eb-962d-acfa2dddf927.png)

[2021-04-26 06:27] linhantao commented on #24283
TIDB Version 5.0

[2021-04-26 06:34] aytrack opened #24284 "`insert ignore` cast invalid data to bit is not compatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-04-26 06:44] winoros commented on #23665
@lilinghai Could provide a detailed TiDB log?

[2021-04-26 07:23] linhantao opened #24288 "Field length limit"
When migrating from MySQL data, you can create a maximum of 21 Chinese characters when creating fields in Chinese.
Not fully compatible with MySQL.
Mysql supports Column creation with 64 characters
The official documentation says the maximum is 64 bits

![image](https://user-images.githubusercontent.com/56330004/116191363-bfb4e580-a75e-11eb-9029-bd0342aff7de.png)

![image](https://user-images.gith

[2021-04-26 07:57] nolouch opened #24291 "Replace the `WITH Staleness` to `AS OF` clause"
## Background

This is a subtask of #21094. Ref https://github.com/pingcap/tidb/issues/22765, https://github.com/pingcap/tidb/pull/22506

pingcap/parser#1206 has implemented the syntax of `AS OF` clause, so we can replace begin a staleness read-only transaction with `AS OF` clause, which like:
[code]
Note: The `AS OF TIMESTAMP` clause can be used only when the transaction is read-only. If the tran

[2021-04-26 08:32] wanliyi opened #24292 "Truncated incorrect when deleting text type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-04-26 09:25] JmPotato commented on #24291
/assign @JmPotato

[2021-04-26 09:47] HunDunDM opened #24293 "The IS_LEARNER field data in the TIKV_REGION_PEERS table is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

* Randomly choose a Region containing Learner peer (commonly found in the cluster containing TiFlash)
* `pd-ctl region ${region_id}`
* `SELECT * FROM INFORMATION_SCHEMA.TIKV_REGION_PEERS WHERE REGION_ID=${region_id};`

### 2. What did you expect to see? (Required)

* Their

[2021-04-26 11:29] rleungx opened #24295 "Create table causes too much time when tidb_scatter_region is enabled"
## Bug Report

scatter table region：
[code]

scatter index region:
[code]

pd:
[code]

The reason could be when splitting the index region, the scatter operation is working on the same region in handling the table region process. It will add a learner when doing the scatter process, which may cause an extra peer problem when splitting the index region.
Under this situation, PD cannot scatter the i

[2021-04-26 11:35] rleungx commented on #24295
More actions can be found in: https://github.com/tikv/pd/issues/2733

[2021-04-26 12:00] tiancaiamao opened #24296 "Wrong collation for `select concat(unix_timestamp(datetime)*1000, '') from t`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

This bug was introduced in 4.0.11 by https://github.com/pingcap/tidb/pull/19186
It also exists on 5.0 and master.

[2021-04-26 12:13] birdstorm opened #24298 "TiFlash replica progress rounded to 1 if the actual progress is no less than 0.995"
When the TiFlash replica progress is no less than 0.995, e.g., in cases where there are many regions to be synchronized, if we use `select * from INFORMATION_SCHEMA.TIFLASH_REPLICA`, the result will be rounded to 1.

It causes confusion.

[2021-04-26 14:41] #24296 closed

[2021-04-26 15:46] mmyj commented on #24124
/unassign

[2021-04-26 16:13] disksing opened #24302 "Clean up options used in `store/tikv`"
This is a tracking issue of the big task https://github.com/pingcap/tidb/issues/22513

-----

The options (`store/tikv/kv/option.go`) have now been moved to `store/tikv`. However, this usage pattern of options was created due to the limitations of TiDB and now we have a large number of direct references to these enumerations in other packages of tidb. We would like to move the usage of options out

[2021-04-27 02:28] cfzjywxk opened #24305 "The error code and info is incompatible doing alter table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
The error reported from tidb v4.0 and mysql.

### 3. What did you see instead (Required)
[code]
The error reporeted from tidb v5.0 and master branch

### 4. What is your TiDB version? (Required)
master `7e153339203

[2021-04-27 02:37] cfzjywxk commented on #24305
Is this error information change is expected?
/cc @wjhuang2016 @bb7133

[2021-04-27 03:31] #24160 closed

[2021-04-27 04:24] wjhuang2016 commented on #24305
No, It should be "ERROR 1170 (42000): BLOB/TEXT column 'k' used in key specification without a key length"

[2021-04-27 05:19] qw4990 opened #24307 "panic when reading a partition table by IndexLookUpJoin with IndexLookUpReader"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Run the test below:
[code]

### 2. What did you expect to see? (Required)
We can pass the test.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

Master

[2021-04-27 06:08] jackysp commented on #18602
I think it is already finished. PTAL @cfzjywxk

[2021-04-27 06:09] jackysp commented on #18605
I think it is already finished. PTAL @cfzjywxk

[2021-04-27 06:32] XuHuaiyu opened #24309 "`Incorrect usage of UNION and INTO` is not checked"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

7e1533392030514440d27ba98001c374cdf8808f in master

[2021-04-27 06:38] zimulala opened #24310 "Modifying the column type(need to change the data) involved in the generated column is not completely prohibited"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

There is currently no support for changing the type of a column involving generating a column. Related to [compatibility-issues-with-mysql](https://github.com/pingcap/tidb/blob/master/docs/design/2020-07-07-change-column-types.md#compatibility-issues-with-mysql).

### 1. Minimal reproduce step (Required)
[code]

##

[2021-04-27 06:40] dveeden commented on #24292
[code]

It looks like MySQL also tries to convert (var)char columns to an integer/float type when comparing like this but the warnings etc are slightly different.

[2021-04-27 06:44] dveeden commented on #24288
Isn't that bytes?

[2021-04-27 06:47] dveeden commented on #24288
https://docs.pingcap.com/tidb/stable/tidb-limitations says the limit is 64 characters
![image](https://user-images.githubusercontent.com/1272980/116197501-232a1d80-a735-11eb-979c-623d886b54ac.png)

[2021-04-27 06:47] AilinKid opened #24311 "test failed on aggregate"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/775/pipeline

### 2. What did you expect to see? (Required)
No failure

### 3. What did you see instead (Required)
Failure

### 4. What is your TiDB version? (Required)

[2021-04-27 08:03] #24255 closed

[2021-04-27 08:27] #18602 closed

[2021-04-27 08:27] #18605 closed

[2021-04-27 08:29] TomShawn opened #24314 "Add value ranges and types for TiKV configuration items"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The users of the document [TiKV Configuration File](https://github.com/pingcap/docs/blob/master/tikv-configuration-file.md) might need to know the value ranges and types of certain configuration items. However, only some of these configuration items in this document have value range and type information.

**Des

[2021-04-27 08:55] TomShawn opened #24316 "Add value ranges and types for PD configuration items"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The users of the document [PD Configuration File](https://github.com/pingcap/docs/blob/master/pd-configuration-file.md) might need to know the value ranges and types of certain configuration items. However, only some of these configuration items in this document have value range and type information.

**Describ

[2021-04-27 08:56] guo-shaoge commented on #23887
Cause a case regression [here](https://github.com/pingcap/tidb/issues/24149).
So I revert this firx [PR](https://github.com/pingcap/tidb/pull/24180)

[2021-04-27 09:12] XuHuaiyu opened #24318 "unexpected `unknown column` error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

7e1533392030514440d27ba98001c374cdf8808f in master

[2021-04-27 09:12] linhantao commented on #24288
@dveeden I am using Chinese characters, field creation failed

![image](https://user-images.githubusercontent.com/56330004/116214919-c3a23100-a779-11eb-8fe8-7eeabcb6bb7b.png)
![image](https://user-images.githubusercontent.com/56330004/116215007-dc124b80-a779-11eb-836e-287a2fd1fb31.png)

[2021-04-27 09:13] youjiali1995 opened #24319 "Inaccurate runtime information for batch-get and lock-keys operation"
## Bug Report

https://github.com/pingcap/tidb/pull/18666 and https://github.com/pingcap/tidb/pull/19547 collect the backoff information for batch-get and lock-keys operation, but if an operation involves more than one region, the backoffer will be forked and the backoff information is not accurate because we only collect the information of the root backoffer.

[2021-04-27 09:19] zimulala opened #24321 "Modifying the column type(needn't to change the data) involved in the generated column is not completely prohibited"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

There is currently no support for changing the type of a column involving generating a column. Related to [compatibility-issues-with-mysql](https://github.com/pingcap/tidb/blob/master/docs/design/2020-07-07-change-column-types.md#compatibility-issues-with-mysql).

### 1. Minimal reproduce step (Required)
[code]

##

[2021-04-27 09:19] zimulala commented on #24321
Related to #24310.

[2021-04-27 09:30] dveeden commented on #24288
@linhantao Yes that *should* work according to the docs, so that's a bug that indeed affects MySQL Compatibility

[2021-04-27 09:40] dveeden commented on #24288
[code]

[code]
[code]

[2021-04-27 09:43] #24256 closed

[2021-04-27 09:44] linhantao commented on #24288
@dveeden So will this be scheduled to be compatible? Fix the bug

[2021-04-27 09:51] dveeden opened #24322 "Comment length limits cause minor MySQL incompatibility"
## Bug Report

TiDB v5.0.0 allows comments of more than 1024 characters. This make it harder to migrate back to MySQL or when a product has to support both TiDB and MySQL.

### 1. Minimal reproduce step (Required)

create table t1 (id int primary key comment '一二三四五六七八九十......');

With a comment of >1024 characters.

### 2. What did you expect to see? (Required)

MySQL 8.0.22 responds with:
[code]

[2021-04-27 09:53] dveeden commented on #24288
#24283 is related. This is probably an issue for all object names.

[2021-04-27 10:25] linhantao commented on #24288
@dveeden  yes.so When will the problem be fixed

[2021-04-27 10:43] #16845 closed

[2021-04-27 11:19] #24298 closed

[2021-04-27 11:27] XuHuaiyu opened #24323 "unexpected union result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
The result is unstable.
[code]

[code]

### 4. What is your TiDB version? (Required)

7e1533392030514440d27ba98001c374cdf8808f in master

[2021-04-27 11:38] XuHuaiyu opened #24324 "unexpected unknown column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

7e1533392030514440d27ba98001c374cdf8808f in master

[2021-04-27 11:44] XuHuaiyu opened #24325 "wrong only_full_group_by check"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

7e1533392030514440d27ba98001c374cdf8808f in master

[2021-04-27 14:28] morgo opened #24326 "show session variables is very slow on first run"
## Bug Report

This is reported here:

https://asktug.com/t/topic/69586
https://asktug.com/t/topic/69767
https://asktug.com/t/topic/69699

### 1. Minimal reproduce step (Required)

`SHOW VARIABLES` in a new session

### 2. What did you expect to see? (Required)

It should always be fast.

### 3. What did you see instead (Required)

The first execution is slow.

### 4. What is your TiDB version? (R

[2021-04-27 15:29] mjonss opened #24327 "NOT IN and != is not handled in partition pruning"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE t (a int, b varchar(255))
PARTITION BY RANGE (a)
(PARTITION p0 VALUES LESS THAN (1),
PARTITION p1 VALUES LESS THAN (2));
INSERT INTO t VALUES (0, "0"), (1,"1")
EXPLAIN SELECT * FROM t WHERE a != 1
EXPLAIN SELECT * FROM t WHERE a NOT IN (-1,1)

### 2. What did y

[2021-04-27 15:37] mjonss commented on #24327
I consider this only to be a minor bug, since MySQL 8.0.24 seems to prune this. But normally ranges should be large, so I think the benefit is more for non common use cases.

[2021-04-27 19:32] morgo commented on #24326
The problem is more complicated to fix than I first thought. `SHOW VARIABLES` actually shows both session and global variables, for which the global-only variables will load the value from `mysql.global_variables` one row at a time.

The easy fix is to change `loadCommonGlobalVariablesIfNeeded()` to load all variables at once, whether or not they are required. But this may require a lot of additio

[2021-04-27 22:30] tisonkun commented on #24150
Hi @qw4990 ! Is the design of partition table persisted as [this file](https://github.com/pingcap/tidb/blob/dbecb9e74538393906ac844082e60d520d73bacb/docs/design/2018-10-19-table-partition.md)? Or anything should be updated?

[2021-04-28 03:29] ngaut commented on #24326
Good catch, here is another report https://asktug.com/t/topic/69936

[2021-04-28 03:42] lzmhhh123 commented on #21509
I think this bug has been fixed on both master and release-5.0 in another way. Since the fixing PR is also effective for some other cases of transaction. I closed this issue, because another issue will trace the fixing PR.

[2021-04-28 03:42] #21509 closed

[2021-04-28 05:46] sticnarf commented on #23799
https://github.com/pingcap/tidb/pull/23686 has fixed it on master.

[2021-04-28 05:46] #23799 closed

[2021-04-28 05:59] francis0407 commented on #24281
/assign

[2021-04-28 06:15] #24210 closed

[2021-04-28 06:21] lzmhhh123 commented on #22525
Maybe https://github.com/oliveagle/jsonpath could help us rebuild the jsonpath. TiDB's jsonpath needs to be restructure.

[2021-04-28 06:38] qw4990 commented on #24150
Actually there are many updates after the proposal you mentioned. Here is [a simple doc](https://pingcap.feishu.cn/docs/doccnYdx1puMoF8ne6rjDe9oo1c) that may help you track the current progress. I think we will sort out and update some documents about partition table after finishing this milestone.

[2021-04-28 06:42] qw4990 commented on #22708
@zhuo-zhi Could you please take a look at this?

[2021-04-28 07:06] qw4990 opened #24343 "Use `TableReader` directly when accessing TiFlash partition table instead of using `PartitionTableExec`"
## Development Task
Now `TableReader` can support reading partition table directly, but when accessing TiFlash, `PartitionTableExec` is still used.

[2021-04-28 07:09] #23280 closed

[2021-04-28 07:23] wjhuang2016 opened #24346 "Remove ExecStmt.PointGet()"
## Development Task
`(a *ExecStmt) PointGet` in executor/adapter.go is a special execution path, and it tends to produce bugs.
Since normal SQLs rarely use it, we better remove it.
![image](https://user-images.githubusercontent.com/17380469/116363338-9ca93500-a835-11eb-8b6b-820a982adb89.png)

[2021-04-28 07:26] cfzjywxk commented on #24346
As the prepare plan cache is default enabled in 5.0, this special path is not important for peformance test like sysbench test, and the code path is different from the common path which changes rapidly, we'd better remove this special optimization path.

[2021-04-28 07:30] #19579 closed

[2021-04-28 08:12] zhuo-zhi commented on #22708
/assign

[2021-04-28 08:23] #24045 closed

[2021-04-28 08:58] rebelice opened #24349 "some bugs about `MergePartTopN2GlobalTopN`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

When we test the accuracy of global stats， we found that TiDB entered an endless loop. Here is the debug stack
![image](https://user-images.githubusercontent.com/20775801/116373680-2827c380-a840-11eb-9848-2191e805ef7f.png)

Through this, we found a bug in the function `func (hg *Histogram) RemoveVals(valCntPairs []

[2021-04-28 09:20] lilinghai commented on #24129
May be fixed, I can't reproduce with the latest master version.

Release Version: v4.0.0-beta.2-2750-g22dbcc562-dirty
Edition: Community
Git Commit Hash: 22dbcc56276c3781969ede9cec1563f8c5639d33
Git Branch: master
UTC Build Time: 2021-04-28 04:54:46
GoVersion: go1.13
Race Enabled: false
TiKV Min Version: v3.0.0-60965b006877ca7234adaced7890d7b029ed1306
Check Table Before Drop: false

[2021-04-28 09:25] #24264 closed

[2021-04-28 09:43] #24343 closed

[2021-04-28 09:49] cfzjywxk commented on #24305
@wjhuang2016
Could someone help fix this, it will make some regression test suite keep failing.

[2021-04-28 09:59] lilinghai commented on #24129
The plan throwing panic is
[code]

[2021-04-28 10:07] guo-shaoge commented on #24129
We can confirm

Same reason as [here](https://github.com/pingcap/tidb/issues/23887). We can add duplicated lable.

[2021-04-28 10:08] lilinghai commented on #24129
dup with https://github.com/pingcap/tidb/issues/23887

[2021-04-28 10:52] aytrack opened #24355 "`SET` and `ENUM` maximum length limit incompatible with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. set `enable-enum-length-limit = true`
2. execute sql
[code]

### 2. What did you expect to see? (Required)
create table successfully

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-04-28 11:23] saup007 opened #24356 "Return more results than expected when executing SQL with prefix indexes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

#### TiDB
[code]

#### MySQL

[code]

### 2. What did you expect to see? (Required)

a. Separate prefix index results are correct

b. The prefix index is not in the first position of the combined index, the result is also correct

c. The result is correct even if the prefix

[2021-04-28 12:05] tiancaiamao commented on #24356
The range calculation is incorrect for prefix index plus `n_status = 0` condition.

[code]

The range repeats twice so the result is also doubled.

@winoros

[2021-04-28 14:02] saup007 commented on #24356
distinct

[code]

[2021-04-28 14:25] Howie59 commented on #24355
/assign

[2021-04-29 04:04] morgo opened #24368 "sysvar cache for globals in show variables is incorrect."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Session 1 should show the new value because the variable is GLOBAL-only scope.

### 3. What did you see instead (Required)

Session 1 shows the global variable unchanged, but because the setting is global-only scope it

[2021-04-29 06:20] cfzjywxk commented on #24195
It's needed to fix this issue, the way to to so is to change the `unionScan` operator which merge the in memory contents and snapshot results from kv storage, the unique index should be considered doing the merge task.

[2021-04-29 06:35] SunRunAway commented on #17049
Why it's not a bug?

[2021-04-29 06:50] hanfei1991 opened #24372 "Let "nth_plan" return the nth least cost plan"
## Feature Request

**Is your feature request related to a problem? Please describe:**
When using horoscope to test, some complex plans possibly generate massive of alternative plans, which always cost a long time. What if we enumerate the plan by cost and only try the heading ones.
When investgating the plan problems, we wanna know if there is a plan can perform better. It's troublesome to try ev

[2021-04-29 06:51] #20372 closed

[2021-04-29 07:02] lzmhhh123 commented on #24262
I just made it clear. The PR cloud be fixed by https://github.com/pingcap/tidb/pull/21148.

[2021-04-29 07:03] #24262 closed

[2021-04-29 07:37] GdCwh opened #24377 "When synchronizing data, the length of MySQL table name and field name is legal, but tidb is not"
1. What did you do? If possible, provide a recipe for reproducing the error.

   MySQL synchronizes data to tidb, but the table name and field name are in Chinese

2. What did you expect to see?

   Even if the table name and field name are in Chinese, the synchronization is successful

3. What did you see instead?

   Identifier name '啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊' is too long

4. Versions of the

[2021-04-29 07:55] xiongjiwei commented on #24377
may be fixed by https://github.com/pingcap/tidb/pull/24337

[2021-04-29 08:34] guo-shaoge opened #24378 "Enhancement for ListInDisk"
## Bug Report

`ListInDisk` is a temporary storage for operators which need spill data to disk when memory limit is reached.

But there is a limitation of `ListIndisk`. After the user reads data from `ListInDisk`, he can no longer write.

That's because for each chunk added into `ListInDisk`, we try to seperate it as many fixed size segments(1024B), when a segemnt is full, we will compute its chec

[2021-04-29 08:36] Al-assad commented on #18023
Can materialized views be supported plz!!!!

[2021-04-29 09:31] bb7133 opened #24381 "Incorrect user-defined variable(UDV) value for a query with UDV assignment"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

BTW, this bug is found when running the Hibernate test: [MySQLSetVariableEscapeColonTest](https://github.com/hibernate/hibernate-orm/blob/b3e260b234cb65ef7dc96c98e66ce79ebb9203be/hibernate-core/src/test/java/org/hibernate/engine/query/MySQLSetVariableEscapeColonTest

[2021-04-29 09:54] vivid392845427 commented on #24195
Scene 2：insert some record into the table，union scan can not merge when update clustered index  set the value of the first record bigger than the second record；
/* s1 */ drop table if exists test1;
/* s1 */ create table test1(a int primary key clustered, b int);
/* s1 */ insert into test1 values(1,1),(5,5),(10,10);
/* s1 */ begin;
/* s1 */ update test1 set a=8 where a=1;
/* s2 */ begin;
/* s2 */ u

[2021-04-29 10:11] #24259 closed

[2021-04-29 10:11] #24307 closed

[2021-04-29 10:18] cfzjywxk commented on #24195
@vivid392845427
This case is a bit different I think, the pessimistic mode transactions in tidb will use current read doing update,  so the actually updated rows in `s2` are `5, 8, 10`, value `1` is not touched. After the `update test1 set a=a+1;` statement in s2, the new rows are inserted in the memory buffer, then the snapshot read  in `select * from test1` in s2 will see the value `1`, as well

[2021-04-29 10:51] eurekaka commented on #24381
[code]

The behavior is decided by the evaluation order in the project list. However, according to https://dev.mysql.com/doc/refman/8.0/en/user-variables.html

[2021-04-29 11:31] bb7133 commented on #24381
@eurekaka Thanks for your explaination! So I'll close this issue.

[2021-04-29 11:31] #24381 closed

[2021-04-29 11:31] #24349 closed

[2021-04-29 12:41] bb7133 opened #24383 "Make `SELECT COUNT(*) FROM $SEQ_NAME` returns 1."
## Development Task

See [testSequenceTableContainsOnlyOneRow](https://github.com/hibernate/hibernate-orm/blob/6fb52c4fcdb4860cb374a5dd6ab1dc099047dbc3/hibernate-core/src/test/java/org/hibernate/id/enhanced/HHH14219.java#L57).

Although not mentioned in the ANSI SQL document, looks that it is a defacto standard:

[code]

For now, TiDB returns 0:
[code]

It's better to follow the other databases an

[2021-04-29 14:44] sticnarf opened #24384 "Primary lock fallen back from async commit cannot be resolved"
## Bug Report

### 1. Minimal reproduce step (Required)

It is hard to reproduce the issue deterministically. So the reproduce steps contain technical details.

Commit an async-commit transaction with multiple keys. Prewriting the primary lock triggers a fallback (probably because TiKV executes the command too slow), while the secondary lock is prewritten successfully with the async-commit protoco

[2021-04-29 14:52] youjiali1995 commented on #24384
Remember to resolve [client-c](https://github.com/tikv/client-c/blob/44f54edbfabf85a1557408a20482132872d101d0/src/kv/LockResolver.cc#L479-L483) and [client-java](https://github.com/pingcap/tispark/blob/5b17f84f859296a2bac9d973eec349f24becbd04/tikv-client/src/main/java/com/pingcap/tikv/txn/LockResolverClientV4.java#L234-L238). I just realized that tispark doesn't support async-commit fallback.

/cc

[2021-04-29 16:02] morgo commented on #24326
This relates to https://github.com/pingcap/tidb/issues/24368 - the subsequent "fast" runs of `show variables` are actually incorrect anyway, since the first run is caching global values when it is not supposed to. But removing this cache should occur after the sysvar cache is improved.

[2021-04-30 02:09] Win-Man opened #24387 "Cast string to date failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Returns no error.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-04-30 03:07] qw4990 opened #24393 "remove all code about PartitionTableExec"
## Development Task
Since all DataSource operators (like TableReader, IndexLookUp ...) have already supported reading partition table directly, so PartitionTableExec is unused now, and all code about it can be removed.

[2021-04-30 03:25] marsishandsome opened #24395 "tikv crash: Cannot compare two ScalarValueRef in different type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

### 5. tikv log
[code]

[2021-04-30 05:29] #24384 closed

[2021-04-30 07:13] ichn-hu commented on #23807
got some preliminary benchmark result

* memory usage looks good when number of rows is small, but not expected when large
* time consumption is higher

I'll continue invesitigate the problems.

[code]

[2021-04-30 07:27] amyangfei opened #24398 "The overhead of LocateRegionByID method in region cache is too much"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

TiCDC uses TiDB as a library, including the `LocateRegionByID` method in region cache. In a large region count scenario, we found the CPU overhead of `LocateRegionByID` is too much. ref: https://github.com/pingcap/ticdc/issues/1612

### 2. What did you expect to see? (Requi

[2021-04-30 08:18] bb7133 commented on #24265
Let me check the behavior of 'nullable' primary key.

[2021-04-30 08:53] tangenta opened #24399 "Support invalidating all auto_id cache in TiDB-server through HTTP API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Related to #24122. This is a less automatic approach to solve the cache issue.

**Describe the feature you'd like:**

[code]

**Describe alternatives you've considered:**

- Auto retry the transaction as described in #24122, but it is risky?

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-04-30 09:01] #24288 closed

[2021-04-30 09:01] #24377 closed

[2021-04-30 10:05] rebelice opened #24401 "Write FM Sketch data to KV even if the table isn't partition table or in static partition prune mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Empty set.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-04-30 10:06] rpings opened #24402 "rows affected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-04-30 10:06] #24402 closed

[2021-04-30 18:08] morgo opened #24404 "global-only scoped variables should not have SetSession functions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Manual inspection of code in `sessionctx/variable/sysvars.go`:
[code]

The reason why this works, is because `loadCommonGlobalVariablesIfNeeded()` loads global variables into the session `systems[]` array and caches them. But it is not MySQL compatible to treat a global-onl

[2021-04-30 18:12] morgo commented on #24404
Currently the validation function for setting a session variable can not check if the scope is correct because of this (this is instead checked in `executor/set.go`). It would be nice to be able to:
- Standardize validation to be in one place for setting variables.
- Remove the array of variables from `loadCommonGlobalVariablesIfNeeded` and instead change this to just copy all session scoped varia

[2021-05-01 00:13] morgo commented on #24404
I looked into this and have an alternative fix:
- The `loadCommonGlobalVariablesIfNeeded` only calls the `SetSession` function and bypasses validation
- The `SetSession` function has a comment to say that it applies on connection Init and on applying a `SET SESSION` statement.

I will change this in https://github.com/pingcap/tidb/pull/24280 - I am going to close this now though, as not a bug.

[2021-05-01 00:13] #24404 closed

[2021-05-02 14:37] #23464 closed

[2021-05-02 15:21] #22079 closed

[2021-05-04 02:04] glkappe opened #24411 "v5.0.1 - tidb_enable_async_commit and tidb_enable_1pc cannot be displayed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
![image](https://user-images.githubusercontent.com/21033020/116953460-df4c9080-acbf-11eb-807f-e093479fc1cd.png)

### 2. What did you expect to see? (Required)
tidb_enable_async_commit and tidb_enable_1pc can be displayed through `show variables`
like
![image](https://user-im

[2021-05-04 02:06] glkappe commented on #24411
![image](https://user-images.githubusercontent.com/21033020/116953658-67329a80-acc0-11eb-9b26-4fe4411005e6.png)

How should I understand this phenomenon！

[2021-05-04 02:34] morgo commented on #24411
@glkappe This is intentional, you can se a list of the variables that are hidden here:

https://github.com/pingcap/tidb/blob/1145e347d3469d8e89f88dce86f6926ca44b3cd8/sessionctx/variable/tidb_vars.go#L699-L713

I am not a fan of it personally. In MySQL all variables always show up in the `SHOW VARIABLES` list.

[2021-05-04 16:19] siddontang commented on #24399
I think `invalidate_ids` is an anti-restful mode.

BTW, have we already had a SQL interface for operating IDs?

[2021-05-05 05:57] dveeden commented on #24194
I had a quick test with Django 3.2.1 (Python).

I created a new project and app and configured the database config. Then I added the models from the [tutorial](https://docs.djangoproject.com/en/3.2/intro/tutorial02/#creating-models) an ran migrations etc.

With the 'admin' site I added and removed choices and questions. This seemed to work.
When deleting a question while there are choices that hav

[2021-05-05 06:09] dveeden commented on #24387
As comparison, MySQL 8.0.22 behaviour:
[code]

And more specifically:
[code]

[code]
So looks like MySQL strips of the ` hotfix` part before converting it. Also note that for `2.0.8` the resulting year is different.

[2021-05-05 09:11] zz-jason commented on #24194
@dveeden Thanks for your reminder! Seems we have compatibility issues with Django as well, I'll add it to the list. BTW, are you interested in contributing to this project?

[2021-05-05 09:13] zz-jason commented on #24194
@ichn-hu Good idea! Added to the list as well.

[2021-05-05 09:41] dveeden commented on #24194
Yes.

[2021-05-05 09:51] xinghua0123 opened #24414 "Role-base User Created Non-retrievable View"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table table1(
`col1` int,
`col2` int,
`col3` int
);

insert into table1 values (1,1,1),(2,2,2);

CREATE ROLE 'ACL-mobius-admin';

GRANT Select,Insert,Update,Delete,Create,Drop,Alter,Index,Create View,Show View ON test.* TO 'ACL-mobius-admin'@'%';

CREATE USER 'mobius

[2021-05-05 09:52] xinghua0123 commented on #24414
Bug verified by @crazycs520

[2021-05-05 21:45] kolbe opened #24415 "Enable pushdown for json_unquote"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For some reason, https://github.com/pingcap/tidb/pull/13837/commits/721782d9c11f739b5b38901427803581634498ec "forbid json unquote push down".

There's no indication of *why* it was necessary to forbid this or whether there is any feasible fix for the issue. We should address this limitation so that json_unquote

[2021-05-06 01:10] bb7133 commented on #24414
Maybe another bug when I was trying to reproduce it:

...

(##login as mobius-admin
mysql -h 127.0.0.1 -P 4000 -u mobius-admin)
[code]

[2021-05-06 01:22] bb7133 commented on #24414
I guess this bug is not just related to RBAC:

[code]

(##login as test2
mysql -h 127.0.0.1 -P 4000 -u test2)

[code]

[2021-05-06 02:18] youjiali1995 commented on #24411
`tidb_enable_async_commit` and `tidb_enable_1pc` are hidden because they are switches for temporary use. For example, if there are some bugs, we may want to turn off them. And during the rolling upgrade, we can't turn them on because they are not compatible with the old version TiDB and use these variables to turn them on after the upgrade.  Normally, these features should be on at all times and w

[2021-05-06 02:40] tangenta commented on #24399
We do have:

[code]

However this SQL only affects one table at a time, what we need is an API that affects the whole TiDB server.

[2021-05-06 02:50] siddontang commented on #24398
have we not met this problem before? or does TiDB itself don't use this function?

[2021-05-06 03:05] #24118 closed

[2021-05-06 03:10] amyangfei commented on #24398
This function is used in http handler and hot region setter (`information_schema`.`tidb_hot_regions`), seems they are not hot code path.

[2021-05-06 03:32] #18629 closed

[2021-05-06 03:45] aytrack opened #24419 "query result is incorrect while enum pushdown to tikv"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-05-06 05:35] #24383 closed

[2021-05-06 05:50] nolouch commented on #22505
close this by https://github.com/pingcap/tidb/issues/22765

[2021-05-06 05:50] #22505 closed

[2021-05-06 06:40] AilinKid opened #24420 "ddl: the schema state is not appropriate for some removed-type ddl"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![Screenshot_20210506_142031](https://user-images.githubusercontent.com/15825830/117252397-79efcf80-ae78-11eb-817c-d809cf5e6219.png)

As you see in the pic above
state-none has two meanings:
1. one for adding-type DDL, the job hasn't started yet / the job has been rollbacke

[2021-05-06 06:47] LittleFall commented on #23990
/assign

[2021-05-06 06:53] lilinghai opened #24421 "The variable tidb_allow_fallback_to_tikv can't take effect when the tiflash nodes stop"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
The plan is
[code]
### 2. What did you expect to see? (Required)
The last query fallback to tikv
### 3. What did you see instead (Required)
ERROR 9005 (HY000): Region is unavailable
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2791-g20

[2021-05-06 07:42] jianzhiyao commented on #24305
For now, it's unable to change column type from ``varchar`` to ``text``.
Should we allow column changing from ``varchar`` to ``text``?
@cfzjywxk @wjhuang2016

[2021-05-06 08:33] bhzhu203 commented on #4250
TiDB-v5.0.0 still does not support the "ROLLUP" fuction. Our product managers and staff managers like to write the BI statistics queries with the "ROLLUP" fuction , and hard to remove all of the "ROLLUP" from  the losts of queries .
The replacement of the  "ROLLUP" fuction costs a lot. The "ROLLUP" fuction exists in our BI queries over 40% . We still using the slow mysql  instance because that. Ho

[2021-05-06 08:49] #24393 closed

[2021-05-06 08:51] jianzhiyao commented on #21098
Can't reproduce in TiDB 5.0

[code]

[2021-05-06 09:08] wjhuang2016 commented on #24420
I think it should be a feature request?

[2021-05-06 09:15] AilinKid opened #24427 "ddl: reorg handle's update txn is conflict with the ddl job's txn"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Attention 2:
1: why it takes 2.5s( 1pc wait duration ) * 2?
2: why there are no truncate warnings?

Reason:
because when DDL is done, the txn is committed fail caused by write conflicts. So it lost the current job state including the job warnings. So next round the

[2021-05-06 09:39] AilinKid opened #24428 "store: unistore will hang over in some case."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
https://github.com/pingcap/automated-tests/pull/658/files
[code]

The related goroutine
[tidb_debug_20210506140729.zip](https://github.com/pingcap/tidb/files/6433446/tidb_debug_20210506140729.zip)

I've tested it with a real tikv, it works.

### 2. What did you expect to see

[2021-05-06 09:41] Tomccat3 opened #24429 "Can't recognize numeric literals when set 'ANSI_QUOTES' sql_mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
[code]
[code]
[code]

### 2. What did you expect to see? (Required)
On v3.0.3 version, it's ok.
[code]

### 3. What did you see instead (Required)
On v5.0.1:
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-05-06 09:50] djshow832 commented on #19111
To support FoundationDB as a storage of TiDB, there are some work to do. Here is the list I can think of:

- TiDB
From the aspect of TiDB, TiKV needs to conform to the same protocol with TiDB.
  - A RPC client, which conforms to GRPC protocol. FoundationDB connects to TiDB and PD with this client.
  - TiDB sends 40 kinds of commands to TiDB, including querying, writing, locking, transaction, garba

[2021-05-06 10:59] #24133 closed

[2021-05-06 11:04] alex-quan-001 opened #24434 "release: v4.0.13"
v4.0.13 release date May 28th

- [x] May 21 merge finished

- [x]  May 22nd, seal version and release note review
- [x] Released on May 28th

[2021-05-06 11:13] RaphaelL2e opened #24435 "pd down and cant start"
## General Question
v5.0.0

![image](https://user-images.githubusercontent.com/37803042/117289368-17f69080-ae9f-11eb-9b39-0b4c96bcb96d.png)

[2021-05-06 11:18] winoros commented on #24421
Is the environment avaliable?

[2021-05-06 11:59] #22619 closed

[2021-05-06 12:18] lilinghai commented on #24421
The second query log is
[code]
I will offer the env to you with other chat tools.

[2021-05-06 13:01] #24265 closed

[2021-05-06 13:15] #23887 closed

[2021-05-06 15:00] mjonss opened #24439 "Inconsistent error with MySQL for GRANT CREATE USER ON <specific db>.*"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create user testuser@localhost;
grant create user on test.* to testuser@localhost;

### 2. What did you expect to see? (Required)

mysql> create user testuser@localhost;
Query OK, 0 rows affected (0.04 sec)

mysql> grant create user on test.* to testuser@localhost;
ERROR 12

[2021-05-06 15:02] morgo commented on #24429
The problem is related to the table.column identifier, where the column is enclosed in quotes but the table is not. Here is a pasteable testcase with more examples:

[code]

[2021-05-06 15:05] #24419 closed

[2021-05-06 15:08] alex-quan-001 opened #24440 "release: v1.0.0"
this is a sample

- [x] Finish my changes
- [x] Push my commits to GitHub
- [x] Open a pull request

[About task lists](https://docs.github.com/en/github/managing-your-work-on-github/about-task-lists)

[2021-05-06 15:09] #24440 closed

[2021-05-06 15:22] morgo commented on #24414
@bb7133 It is related to RBAC. The reason you are still seeing this error is because of the `DEFINER`.

Here is a testcase that can be completed in one session (no need to log back in):

[code]

`test_view` and `test_view2` should have identical behavior but they do not. So it looks like the code that runs the view in the permissions of `DEFINER` is not picking up the `DEFAULT ROLE` that is associ

[2021-05-06 15:37] morgo commented on #24414
This is a bug in the privilege manager code. The SQL Security definer calls `RequestVerificationWithUser`, which calls `RequestVerification` but sets the activeRoles to `nil`:

https://github.com/pingcap/tidb/blob/289dcfefdd159345972f71cf42c9d6e594255290/privilege/privileges/privileges.go#L142-L143

I verified outside of this example that the session is expected to preload default roles, and not t

[2021-05-06 16:26] mjonss opened #24443 "Support COMMENT and ATTRIBUTE for CREATE USER"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL supports both COMMENT as well as ATTRIBUTE (json_object) for additional metadata per user account (like who created it, why does it exist etc.)

**Describe the feature you'd like:**
Add support for COMMENT 'free text comment' and ATTRIBUTE 'json_object' in:
CREATE USER <user> [COMMENT '<comment>' | ATTRIB

[2021-05-06 16:28] zhaoxugang commented on #22837
the query by unique index keys will be executed by PointGetExec ot BatchPointGetExec, so i don't know what can i do for resolve the issue@you06,@cfzjywxk

[2021-05-07 02:18] sylzd commented on #24439
/assign

[2021-05-07 02:23] ChenPeng2013 opened #24444 "MySQL Bugs: #103609 Unknown column 'upper.j' in 'field list'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
MySQL 8.0.21
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-07 03:33] zimulala commented on #24420
Maybe not. It was changed by https://github.com/pingcap/parser/pull/1210.
@Howie59 Would you be interested in dealing with it?

[2021-05-07 05:10] lilinghai opened #24449 "Aggregation distinct function panic when distinct_agg_push_down and enable_cascades_planner"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
The query plan is
[code]
### 2. What did you expect to see? (Required)
successfully
### 3. What did you see instead (Required)
ERROR 1105 (HY000): runtime error: index out of range [-1]
Panic log
[code]
### 4. What is your TiDB version? (Required)

Release Version: v

[2021-05-07 05:32] tisonkun commented on #24384
@sticnarf does `client-rust` suffer the same issue?

[2021-05-07 06:32] Howie59 commented on #24420
ok. i could do this in my spare time

[2021-05-07 06:46] bb7133 commented on #24429
I found that this bug cannot be reproduced in the early releases(v5.0-rc & v4.0), I would call this bug as a regression.

Hi @morgo , please try to locate the PR that caused this bug(by `github bisect`), thanks!

[2021-05-07 07:04] lilinghai opened #24452 "The max/min aggregation function on set type column is ambiguous"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
the result is to be same
### 3. What did you see instead (Required)
the result is different
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2807-g289dcfefd-dirty
Edition: Community
Git Commit

[2021-05-07 08:06] #24310 closed

[2021-05-07 09:23] zimulala opened #24459 "reduce the execution time of `go test -race` for package ddl"
## Development Task

Update: 2021-05-07 17:35 CST

[code]

The execution time of more than 5s test cases in the different test suite are listed as the following:

| suiteName.testCaseName                                                         | execTime   |
-----------------------------------------------------------|-----------
| testDDLSerialSuite.TestCancelJob

[2021-05-07 09:48] #24253 closed

[2021-05-07 10:50] #24311 closed

[2021-05-07 12:18] #24209 closed

[2021-05-07 15:04] xhebox commented on #24459
@zimulala Actually, I am wonering skip `-race` for some of the tests. The patch from @janzhiyao may improve the speed but will consume more memory. `TestModifyColumnTime` is 8s vs 30s on my PC without race or with race.

[2021-05-07 15:29] morgo opened #24471 "setting sysvar collation does not normalize"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The case should be consistently normalized to latin1_bin.

### 3. What did you see instead (Required)

See above.

### 4. What is your TiDB version? (Required)

[code]

[2021-05-08 02:01] zimulala commented on #24459
@xhebox Some tests can skip '-race', and which tests you are working on can be explained here. Avoid duplication of work.

[2021-05-08 02:30] wjhuang2016 commented on #24321
I think it's ok to allow it. The document should be refined

[2021-05-08 02:32] tisonkun commented on #23945
@eurekaka is this issue still valid? I notice that the document updated but not associated pull request to change the behavior.

[2021-05-08 02:39] zimulala commented on #24321
The reason for the ban here is that there is no energy to carry out the complete test at present. Before the complete test is completed, it can be prohibited by the same treatment as the modification of data(#24310).

[2021-05-08 03:18] #24471 closed

[2021-05-08 03:23] bb7133 commented on #24429
Thanks!

[2021-05-08 03:35] lilinghai opened #24473 "The result of inl_merge_join with the enum type join column is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
The plan is
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2807-g289dcfefd-dirty
Edition: Community
Git Commit Hash: 289dcfefdd

[2021-05-08 04:29] zhuo-zhi opened #24476 "dynamic partition pruning mode cannot use PointGet and BatchGet"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Use PointGet.

### 3. What did you see instead (Required)

Use IndexReader

### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2792-g337beb1f8-dirty

[2021-05-08 04:40] lilinghai opened #24477 "The result of using the plan of TableDual with the statement of NULL-safe equal is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
The plan is
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
Empty set
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2807-g289dcfefd-dirty
Edition: Community
Git Commit Hash: 289dcf

[2021-05-08 04:56] jackysp opened #24478 "Parse duration should be reset after SQL executed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

then check the slow log file,

[code]

For the update statement, it is prepared, but the parse_time is not 0, and the value of it is the same as the previous select statement

### 2. What did you expect to see? (Required)

parse_time should be 0.

### 3. Wha

[2021-05-08 06:12] wshwsh12 opened #24479 "copr: tikv crash when elt enum type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
ERROR 9002 (HY000): TiKV server timeout

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
Only master

[2021-05-08 06:36] qw4990 commented on #24476
I remove the `type/bug` and add `type/enhancement` since this non-optimal plan can still work and return the correct result.
Would you like to take a look at this issue and finish this enhancement?  @zhuo-zhi
`PointGet` can support `hash-partition` and it is handled in the function `TryFastPlan`, you can read through it to see why it cannot handle `hash-range`.

[2021-05-08 06:38] zhuo-zhi commented on #24476
OK

[2021-05-08 06:38] zhuo-zhi commented on #24476
/assign

[2021-05-08 06:38] wshwsh12 commented on #24395
Fixed by https://github.com/tikv/tikv/pull/10101.

[2021-05-08 06:38] #24395 closed

[2021-05-08 07:08] vivid392845427 opened #24480 "Incorrect calculation of text type index length"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

drop table if exists t;
create table t(a text, primary key(a(3072)));
insert into t values (repeat('啊', 1200));

### 2. What did you expect to see? (Required)

mysql> create table t(a text, primary key(a(3072)));
ERROR 1071 (42000): Specified key was too long; max key lengt

[2021-05-08 07:36] youjiali1995 opened #24483 "Some requests can be coalesced to avoid duplicated work"
## Development Task

For example, if a transaction is just committed and many new transactions are reading what it just wrote, there may be many duplicated `checkTxnStatus` requests. If a region is not found and there are many requests to this region, there may be many duplicated `GetRegion` requests. We can use https://pkg.go.dev/golang.org/x/sync/singleflight to improve it.

[2021-05-08 07:39] wjhuang2016 commented on #24321
If generate column is GA, then you can't forbid it. If not, then it does not need to forbid it,

[2021-05-08 08:06] guo-shaoge commented on #24129
Maybe we can close this? @lilinghai  #23887 is fixed in master.

[2021-05-08 08:40] zimulala commented on #24321
But we said we don't support this behavior in https://docs.pingcap.com/tidb/stable/generated-columns#limitations. So I think we need to forbid it.
In addition, if a feature is not fully supported, that is, it is available to users, but the results are uncertain, I think it is better to disable it.

[2021-05-08 09:30] wjhuang2016 commented on #24321
Which statement?

[2021-05-08 09:33] lilinghai commented on #24473
merge_join plan also have the same problem

[2021-05-08 09:55] alex-quan-001 opened #24492 "release: v5.1.0"
v5.1.0 release date June 18

- [x] June 6 release-5.1 branch
- [x] June 10 merge finished

- [x]  June 16, seal version and release note review
- [x] Released on June 24

[2021-05-08 10:29] lilinghai opened #24494 "The function of if with enum type is not same with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
2
### 3. What did you see instead (Required)
1
the result of mysql 8.0.24 is 2
### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-2807-g289dcfefd-dirty
Edition: Community
Git Commit Hash: 289dcfe

[2021-05-08 11:11] wjhuang2016 opened #24495 "Refine column.clone()"
## Development Task

[code]

The clone should clone column.RetType too.

[2021-05-08 11:45] xiongjiwei opened #24496 "group by number get syntax error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-05-08 13:08] TszKitLo40 commented on #24495
Can I try this issue?

[2021-05-08 14:14] wanliyi opened #24502 "The left join result is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-05-08 14:39] wjhuang2016 commented on #24495
Sure

[2021-05-08 15:02] wanliyi commented on #24502
I am not sure about the correctness of the following sql:
[code]

[2021-05-08 17:27] you06 commented on #22837
In a short word, current PointGetExec and BatchPointGetExec will lock exist/unexist keys, however other executors will lock exist keys only. With the executor choice in planner module, it would be confusing for users.

eg.

[code]

Notice that `sql2` takes a looser condition, it should cover the effects which `sql1` makes. However, it does not lock any keys actually. Besides, the push-down request

[2021-05-10 02:01] moyun commented on #24194
for JAVA, it seems integration with libraries like [Apache MetaModel](https://cwiki.apache.org/confluence/display/METAMODEL), [DataNucleus](https://www.datanucleus.org/index.html) will bring great flexibility and generalizability to the data access layer.

[2021-05-10 03:46] lucklove opened #24510 "TiDB telemetry report too frequently"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

As [documented](https://docs.pingcap.com/zh/tidb/stable/telemetry#%E9%81%A5%E6%B5%8B), TiDB should report telemetry at most once every 6 hours. However, we found there is a case that report telemetry every 20 seconds.

<img width="1165" alt="屏幕快照 2021-05-10 上午11 45 45" src=

[2021-05-10 03:48] MyonKeminta commented on #24199
Ok, I'm the bot :)

[2021-05-10 03:49] MyonKeminta commented on #24199
@longfangsong Maybe you need to implement the get_lock_wait_info api first (Implement TiKV APIs to support exposing lock waiting information to TiDB)

[2021-05-10 03:57] longfangsong commented on #24199
Yes, I think these two should be implemented together.

[2021-05-10 04:02] MyonKeminta commented on #24199
Ok, I'll assign you both

[2021-05-10 04:04] sticnarf commented on #24384
`client-rust` does not support async commit yet. So if you mix using `client-rust` with a 5.0 TiDB, it cannot handle all async commit locks. But if you only use `client-rust`, the problem does not exist.

[2021-05-10 04:05] ichn-hu commented on #24449
@aytrack this should be a planner's bug, and note also cascades_planner is not GAed yet, so I doubt if this bug should be a major bug.

[2021-05-10 04:29] ichn-hu commented on #24284
@aytrack this incompatibility is caused by invalid parameter, and there is no apparent reason why `b` should be `0x01`, so I would say this should be a minor bug, please help change the label if you agree.

[2021-05-10 04:40] ichn-hu commented on #23411
Hi @wanliyi , it seems like a corner case caused by invalid parameter, so I would suggest change the severity to moderate, please help change the label if you agree.

[2021-05-10 04:56] wshwsh12 commented on #23949
Now tikv supports enum expression calculation, and the sql `select * from t1 as x where b > (select a from t1 as y limit 0);` will return correct result.
[code]

For TiFlash, I have add a check to avoid enum expr push to tiflash, https://github.com/pingcap/tidb/blob/master/expression/expression.go#L1163

[2021-05-10 04:56] #23949 closed

[2021-05-10 05:07] wshwsh12 commented on #24494
Duplicate of https://github.com/pingcap/tidb/issues/23114
Only one issue is enough, I will fix it soon.

[2021-05-10 05:07] #24494 closed

[2021-05-10 05:25] LittleFall opened #24512 "The plan selected by optimizer has bigger estCost."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The query without hint selects a plan with a lower cost, or the selected plan has a lower estCost.

### 3. What did you see instead (Required)

The plan selected by optimizer has bigger estCost.

### 4. What is your TiD

[2021-05-10 06:31] AilinKid commented on #24459
One question: why separate tests into small cases can reduce the execution time (run parallelly?).

[2021-05-10 06:34] xhebox commented on #24459
Maybe mem will increase, but concurrency does help.

[2021-05-10 06:45] sylzd commented on #24477
/assign

[2021-05-10 06:48] sylzd commented on #24477
/assign

[2021-05-10 06:51] AilinKid commented on #24321
/cc @zimulala

[2021-05-10 06:57] dveeden opened #24515 "Improved support for MySQL Shell dump and load"
## Development Task

MySQL Shell is a relatively new tool from Oracle which is used as the new CLI for various DBA and developer tasks. One of the features of this tool is dumping and loading data. This is somewhat similar to `mysqldump` and `mysqlpump`, but more focus is placed on parallel dumping and restoring to get better performance. This also adds Oracle Cloud features for storing and loadin

[2021-05-10 06:59] dveeden commented on #24515
For the `TRIGGER` permission:
[code]
[code]
It may be comparing `TRIGGER` against `Trigger`, but I'm not sure yet

[2021-05-10 07:17] ddhe9527 opened #24517 "Can only start one tikv instance by following https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb"
I try to deploy a test cluster by following steps like [quick-start-with-tidb](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb#%E7%AC%AC%E4%BA%8C%E7%A7%8D%E4%BD%BF%E7%94%A8-tiup-cluster-%E5%9C%A8%E5%8D%95%E6%9C%BA%E4%B8%8A%E6%A8%A1%E6%8B%9F%E7%94%9F%E4%BA%A7%E7%8E%AF%E5%A2%83%E9%83%A8%E7%BD%B2%E6%AD%A5%E9%AA%A4), topo.yaml is exactly as described, and "tiup cluster deploy" works good

[2021-05-10 07:33] aytrack commented on #24449
I will change the sig label to planner, but I think it's a major bug because the TiDB was panic.

[2021-05-10 07:35] ichn-hu commented on #24421
/unlabel sig/execution

[2021-05-10 07:36] ichn-hu commented on #24421
/label sig/planner

[2021-05-10 07:52] eurekaka commented on #24325
I believe this should be a bug of MySQL, which is unnecessary for us to be compatible with. This is the output of MySQL 5.7.10:

[code]

The behavior themselves are inconsistent. According to either https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html#sqlmode_only_full_group_by or https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by, the error is the expected behavior.

[2021-05-10 07:53] #24325 closed

[2021-05-10 08:06] zhuo-zhi commented on #24476
This issue is kind of similar with #12977

[2021-05-10 09:31] zhuo-zhi commented on #24476
The problem is because we haven't implemented PointGet and BatchGet for range/list partition table. Related Pull Requests are: [pr#14318](https://github.com/pingcap/tidb/pull/14318), [pr#15327](https://github.com/pingcap/tidb/pull/15327/files).

I'll try to continue on this development.

[2021-05-10 11:18] eurekaka commented on #24444
The root cause of the problem is that, in `resolveWindowFunction` called by `buildSelect`, the `havingWindowAndOrderbyExprResolver` would do nothing and simply return for `SubuqeryExpr`, so the `j` column is not appended into the `sel.Fields.Fields`. Then when rewriting the subquery in the window function, the expression rewriter cannot find column `j` in the outer schema.

It is pretty difficult

[2021-05-10 11:26] eurekaka commented on #24444
I think "support correlated columns as the window function arguments" should be a more proper title for this issue.

[2021-05-10 12:20] lysu opened #24526 "subquery be planned as paniced indexjoin"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create two table and insert one row for each tables

[code]

run

[code]

and change nth_plan value to get the plan like this:

[code]

run SQL without explain

[code]

### 2. What did you expect to see? (Required)

success and empty result

### 3. What did you see instead

[2021-05-10 12:29] lysu commented on #24526
@winoros it seems to be an uncommon SQL... please help reassign to the right guy if free...  😄

[2021-05-10 13:20] aytrack opened #24530 "enum type query result is incorrect while using `xxx_ci` collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-05-10 14:08] #24414 closed

[2021-05-10 14:51] dveeden commented on #24496
Also happens when you group by NULL
<pre><span style="background-color:#E4E4E4"><font color="#005F5F"> My</font></span><span style="background-color:#E4E4E4"><font color="#D75F00">SQL </font></span><span style="background-color:#3A3A3A"><font color="#FDF6E3"> localhost:4000 </font></span><span style="background-color:#D75F00"><font color="#FDF6E3"> SQL </font></span><span style="background-color:#

[2021-05-10 15:25] #24213 closed

[2021-05-10 15:48] zhaoxugang commented on #22837
got it,thx

[2021-05-11 03:38] morgo commented on #14914
There are two methods that privilege changes are "broadcast" to other nodes:
1. The privilege loop automatic reloads the on-disk tables every 5-10 minutes.
2. A notification is sent via an etcd channel:

https://github.com/pingcap/tidb/blob/7c1997517c76fda1b27bf64e4e653a33ddfe88e0/domain/domain.go#L1307-L1323

We can see that because the code in the notification is running `FLUSH PRIVILEGES` itsel

[2021-05-11 04:47] #24401 closed

[2021-05-11 05:49] time-and-fate commented on #24512
I believe this is a display error.
The actual cost of `StreamAgg_18` should be slightly larger than `IndexReader_19`, which should also be less than `HashAgg_21`.

When doing physical optimization, we use `task` to calculate and save the cost, and in `explain`, it gets the cost from the physical operators, I think there may be something wrong when setting the values from `task` to physical operato

[2021-05-11 05:52] lysu opened #24541 "clustered index + new collation + old row format got wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

start a tidb with the **new collation enabled** and **MUST started with TiKV**(because unistore only support new format- -)

[code]

reconnect a new session

[code]

### 2. What did you expect to see? (Required)

`aBc`

### 3. What did you see instead (Required)

[code]

##

[2021-05-11 06:16] tisonkun commented on #24124
if it is duplicated, why not close this one?

[2021-05-11 06:30] wshwsh12 opened #24543 "If fucntion can't process enum type."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

drop table t;
create table t(a int,b enum("b"),c enum("c"));
insert into t values(1,1,1),(2,1,1),(1,1,1),(2,1,1);
select if(A, null,b)=1 from t;

### 2. What did you expect to see? (Required)
Get some result.
### 3. What did you see instead (Required)
ERROR 1105 (HY000): ba

[2021-05-11 06:41] #24429 closed

[2021-05-11 06:46] ThySinner commented on #4250
/assign

[2021-05-11 08:11] cfzjywxk commented on #24346
@wjhuang2016
I made a mistake that prepared plan cache is still disabled by default https://github.com/pingcap/tidb/pull/23240, currently removing this path may cause regression on sysbench performance.

[2021-05-11 08:58] eurekaka opened #24545 "wrong incremental analyze index task if using version 3 stats"
## Development Task

In version 3 stats, `buildAnalyzeTable` would be called for `analyze incremental table t index idx`, hence we would incremental analyze all the indexes of the table then, which would cause unexpected results. Do not build incremental analyze task in version 3 stats.

[2021-05-11 09:37] lysu opened #24547 "prefix primary key index lookup join paniced"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

success delete

### 3. What did you see instead (Required)

panic

[code]

[code]

### 4. What is your TiDB version? (Required)

v5.0.0, v5.0.1

[2021-05-11 10:00] vivid392845427 opened #24548 "new collation use latin1，primary key is clustered index，index and data check are inconsistent"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

set new_collations_enabled_on_first_bootstrap: true
create table t1 ( c_int int, c_str varchar(40) character set latin1 collate latin1_bin, primary key(c_int, c_str(8)) clustered , key(c_int) , key(c_str)   );
insert into t1 values (1, 'jovial edison');
admin check table t1

[2021-05-11 10:30] xiongjiwei opened #24550 "Not unique table/alias runs normally"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-05-11 11:57] seiya-annie opened #24552 ""skip-grant-table" can't be found in config.toml.example"
## General Question
there is following check  in code. but can't find "skip-grant-table" in config.tomlexample. should this check be kept here?

https://github.com/pingcap/tidb/blob/82ea46d652970bb564a43d3effc04334f3bf9d0b/session/session.go#L2296
	if !config.GetGlobalConfig().Security.SkipGrantTable {
		err = dom.LoadPrivilegeLoop(se)
		if err != nil {
			return nil, err
		}
	}

// Security is th

[2021-05-11 12:22] yilongrong opened #24553 "Create a table with a name less than 64 characters meet ERROR 1059 (42000)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

CREATE TABLE 我是中文我是中文我是我是中文我是中文我是是12 (
author_name varchar(100) DEFAULT NULL,
id varchar(32) NOT NULL,
单行文本1 varchar(128) DEFAULT NULL,
PRIMARY KEY (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

### 2. What did you expect to see? (Required)
create table success.
### 3. What

[2021-05-11 12:40] #24553 closed

[2021-05-11 18:56] nolouch opened #24557 "Implement `Select .... AS OF` syntax to support Stale Read"
## Background

This is a subtask of #21094.
pingcap/parser#1206 has implemented the syntax of the `Select .... FROM xxx AS OF timestamp xxx` syntax, so we have to implement the syntax.  for example, we can select with:
[code]
## Implementation

`SelectStmt` is different with `BeginStmt`(https://github.com/pingcap/tidb/pull/21897.).  The read relative executors have a unified entry `getSnapshotTS `

[2021-05-11 23:50] kolbe opened #24558 "ddl: Support forcing DDL leader to specific node"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We currently support forcing the current DDL leader to resign, but AFAIK we don't have a mechanism to encourage a specific node to try to become the new DDL leader.

This could be useful if a user knows they are going to execute an expensive DDL job and they want to temporarily isolate all DDL to a single tidb-

[2021-05-12 00:12] kolbe opened #24559 "tidb_decode_key error after dropping index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

I dropped a key and tidb_decode_key() started giving me an error for a specific region.

[code]

Maybe this is expected, I'm not sure. I'm confused that information_schema.tikv_region_status tells me that this region has `IS_INDEX: 0`, but it seems to be related to the secondary key in some way nevertheless?

### 1

[2021-05-12 01:34] tiancaiamao opened #24560 "DATA RACE found in transaction asynchronous clean up and union store data reset"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

It's observed in the CI race test.

[code]

### 2. What did you expect to see? (Required)

No DATA RACE

### 3. What did you see instead (Required)

DATA RACE detected

When 2PC commit fails, the cleanup processing is in another goroutine, it needs to read the union store t

[2021-05-12 01:50] aytrack opened #24561 "Unexpected ExprType MysqlEnum and EvalType Bytes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
 query successfully
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-12 02:03] vivid392845427 commented on #24548
only occurs in clustered index，has been modified the issue title

[2021-05-12 02:10] aytrack opened #24562 "batch point get for enum type get wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-12 02:13] aytrack commented on #24562
[code]

[2021-05-12 02:53] xiongjiwei opened #24563 "wrong Not unique table/alias error report"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-05-12 04:24] vivid392845427 commented on #24548
another Scenes：

[2021-05-12 06:07] cfzjywxk commented on #24548
/cc @lysu @wjhuang2016

[2021-05-12 06:08] guo-shaoge commented on #24205
Coprocessor doesn't distinguish between uint64 and int64, so it treats `11333449897206147134` as a negative int64 val.

[2021-05-12 06:13] xiongjiwei opened #24567 "update stmt get panic and wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-05-12 06:45] lysu opened #24569 "value end with space's unique check doesn't works when columns be non-utf8 collation + prefix column index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

5.0.0, 5.0.1

[2021-05-12 06:57] lzmhhh123 commented on #23899
@zyguan The screenshot is not complete. Could you provide the reproduce SQL by text?

[2021-05-12 07:06] xiongjiwei opened #24571 "wrong error report run update stmt"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[2021-05-12 07:08] zimulala opened #24572 "When you modify a column type, the length of the column is less than the specified length of the index with the column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Successful execution

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

 Release Version: v4.0.0-beta.2-2810-g3e0947fd2
Edition: Community
Git Commit Hash: 3e0947fd21ddb0b83

[2021-05-12 07:56] aytrack opened #24576 "`is not null` for enum type with other condition got wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-05-12 08:40] #23850 closed

[2021-05-12 08:41] zimulala opened #24580 "Error message problem that converts NULL to NOT NULL for column types with NULL data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
`ERROR 1265 (01000): Data truncated for column 'a' at row 1`

### 3. What did you see instead (Required)
`ERROR 1138 (22004): Invalid use of NULL value`

### 4. What is your TiDB version? (Required)

 Release Version: v4.

[2021-05-12 08:55] AilinKid opened #24581 "ddl: the collate-only change in column type change now is not supported."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

Reason:
this two type of action needs reorg the index with sequential sort key (encoded with collation code point). it's banned temporarily.

### 2. What did you expect to see? (Required)
Success

### 3. What did you see instead (Required)
ERROR 8200 (HY000): Unsuppo

[2021-05-12 09:08] lysu commented on #24548
has be addressed with #24578

but the issue still have problem if run with tikv, it can be simplified as

[code]

no prefix and still have problem

[2021-05-12 09:25] vivid392845427 opened #24582 "The clustered index primary key conflict prompt information is not an index value, but a complete field value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t1(a int, b varchar(20), primary key(a,b(3)) clustered);
insert into t1 values(1,'aaaaa');
insert into t1 values(1,'aaaaa');

### 2. What did you expect to see? (Required)

insert fail，the error message is as follows：
ERROR 1062 (23000): Duplicate entry '1-aaa'