[2018-12-28 01:18] jackysp commented on #8853
PTAL @winoros @zz-jason

[2018-12-28 01:20] jackysp commented on #8852
Thanks for your report, @weilain !
Please show the latest version hash code of tidb-ansible.
PTAL @LinuxGit , @nolouch .

[2018-12-28 02:28] 474420502 opened #8857 "Can not start tidb-server after upgrading! Help! Help!"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Dec 28 10:23:48 vnfs-ag-01 systemd[1]: Started tidb-4000 service.
root@vnfs-ag-01:/data/deploy/log# systemctl status tidb-4000.service
● tidb-4000.service - tidb-4000 service
   Loaded: loaded (/etc/systemd/system/tidb-4000.service; disabled; vendor preset: enabled)
   Active: active (running) since Fri 2018-12-28

[2018-12-28 02:30] 474420502 commented on #8857
send tikv request error: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial tcp 192.168.6.101:20160: connect: connection refused", ctx: &{{787169 71 26} id:787169 end_key:"mDB:153\000\000\375\000\000\000\000\000\000\000hTable:10\377040\000\000\000\000\000\372" region_epoch:<conf_ver:71 ve

[2018-12-28 02:33] 474420502 commented on #8857
上面是tidb.log日志. 这次tikv可以启动了, 轮到tidb启动不了.

[2018-12-28 02:46] LinuxGit commented on #8852
Please make sure http://192.168.246.103:2379/pd/api/v1/leader page's return code is 200 and the pd instance is healthy.

[2018-12-28 03:00] shenli commented on #8857
@474420502 From the following log, I can tell TiKV is not running:

[2018-12-28 03:00] Xuanwo commented on #8827
Any update on this ?

[2018-12-28 03:02] weilain commented on #8852
cul

[2018-12-28 03:10] #5277 closed

[2018-12-28 03:18] weilain commented on #8852
Failed connect to 172.16.246.103:2379; Connection refused

[2018-12-28 03:19] weilain commented on #8852
Version upgrade I did not involve the configuration file and the operation of the service. This problem did not occur in the last upgrade.

[2018-12-28 03:40] shenli commented on #8857
Is there any error log in TiKV?

[2018-12-28 03:51] winoros commented on #8853
After some investigating, https://github.com/pingcap/tidb/pull/8805 should fix it.

[2018-12-28 03:59] Mingdr commented on #6917
The same problem,my solution is reinstallation.

[2018-12-28 04:00] zhoffice commented on #8823
@jackysp thanks

[2018-12-28 04:00] #8823 closed

[2018-12-28 05:45] WangXiangUSTC commented on #8827
can you provide all your make log, like this:
[code]

and you can try delete the tidb-tools' cache in your system in $GOPATH/pkg/mod, and then make again?

[2018-12-28 05:58] eurekaka commented on #8844
For hash join, we cannot use it for semi-joins at least now, because for queries like `select *, a in (select a from t t2 where t2.b = t1.b) from t t1`, we would put both `t2.a` and `t2.b` into join keys and do not differentiate them, so even if we specially hand null input, we may generate wrong results using hash join.

[2018-12-28 06:01] Xuanwo commented on #8827
We do not use the Makefile provided by upstream, instead, we use following scripts:

[code]

The while pkgbuild file can be found here: https://gist.github.com/Xuanwo/4ed59a2888361764795e4eeea974f415

We use `devtools` from arch to build the package which will create a new chroot, so I don't think the cache will be the problem.

[2018-12-28 06:32] Xuanwo commented on #8827
I  also try to build tidb 2.1.2 directly with `$GOPATH/pkg/mod/cache` removed, and I facing this error:

[code]

It looks like `go.sum` is not updated correctly ?

[2018-12-28 06:34] tiancaiamao commented on #8827
Try Go1.11.3

[2018-12-28 06:38] Xuanwo commented on #8827
After downgrade go to 1.11.4, problem solved.

So it's a bug in go modules ?

[2018-12-28 06:41] tiancaiamao commented on #8827
Yes, you can google the result. Many user meets the same problem https://github.com/golang/go/issues/29281

[2018-12-28 06:46] XuHuaiyu commented on #8697
[code]

[2018-12-28 07:02] Xuanwo commented on #8827
Great, I add a workaround and it built successfuly, thank you for all~

[2018-12-28 07:03] Guru107 commented on #8827
The release tag v2.1.2  Dockerfile still uses 1.10.3. I also faced the same issue.

[2018-12-28 07:03] 474420502 commented on #8857
2018/12/28 09:54:31.047 INFO util.rs:406: connecting to PD endpoint: "http://192.168.6.104:2379"
2018/12/28 09:54:31.051 INFO util.rs:465: connected to PD leader "http://192.168.6.104:2379"
2018/12/28 09:54:31.051 WARN util.rs:186: heartbeat sender and receiver are stale, refreshing..
2018/12/28 09:54:31.051 INFO util.rs:190: cancel region heartbeat sender
2018/12/28 09:54:31.051 WARN util.rs:205:

[2018-12-28 07:06] jackysp commented on #8857
"version should compatible with version 3.0.0-alpha, got 2.1.2" is the root cause.
It means the cluster version is downgraded not upgraded.
There is a simple way to fix it.

[2018-12-28 07:09] 474420502 commented on #8857
Release Version: v2.1.0-rc.3-381-g7108881
Git Commit Hash: 71088815e7c5121e069d7ec10595d176a44b9bea
Git Branch: master
UTC Build Time: 2018-12-27 09:17:13
GoVersion: go version go1.11.2 linux/amd64
Race Enabled: false
TiKV Min Version: 2.1.0-alpha.1-ff3dd160846b7d1aed9079c389fc188f7f5ea13e
Check Table Before Drop: false

Release Version:   3.0.0-alpha
Git Commit Hash:   72bf02f8a71fef7d66c69deb1f9

[2018-12-28 07:12] rleungx commented on #8857
@474420502 You can use `pd-ctl` to downgrade the cluster version:
[code]

[2018-12-28 07:41] weilain commented on #8852
Can you give a query method?

[2018-12-28 07:50] LinuxGit commented on #8852
1. Please refer to https://github.com/pingcap/docs/blob/master/op-guide/tidb-v2.1-upgrade-guide.md.
2. `get PD leader info` task was run before updating your pd instance. It seems that your pd is not running.
3. Please check your pd process and logs in `${deploy_dir}/logs`.
Or you could start your pd instance by running `./start_pd.sh` in `${deploy_dir}/scripts` directory.

[2018-12-28 07:58] weilain commented on #8852
Yes, pd down, how do I start it?

[2018-12-28 08:02] eurekaka commented on #8844
`AntiLeftOuterSemiJoin` is fixed by https://github.com/pingcap/tidb/pull/8706

[2018-12-28 08:03] weilain commented on #8852
tidb-ansible/scripts Directory not seen start_pd.sh

[2018-12-28 08:31] weilain commented on #8852
Confirm pd down, I want to start but did not find the startup file ，Trouble

[2018-12-28 09:37] #8852 closed

[2018-12-28 09:59] LinuxGit commented on #8852
You could find deploy_dir info in https://github.com/pingcap/docs/blob/master/op-guide/ansible-deployment.md#configure-the-deployment-directory

[2018-12-28 10:34] GitHub-Yann opened #8864 "TiDB query bug with UPPER function"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
(1)prepare 2 tables(test1 and test2) , disable the auto commit
(2)insert data into test1 table
(3)select data from test2 table with UPPER function : SQL"select * from test2 where UPPER(ID) in ('AAAA','BBBB');"
(4)select data from test2 tab

[2018-12-28 10:51] LinuxGit commented on #8691
What's your Linux system destro and version? Could you post the result of the following commnad?
[code]

It seems that the binaries could not run on your system.

[2018-12-28 11:30] #8864 closed

[2018-12-28 11:38] whyliyu commented on #8756
Thanks a lot for your kind help! @lamxTyler @guokr321 @lamxTyler
It seems to be true that tikv cannot use mutiple ssd simultaneously becuase its underlying strorage RocksDB can't;
But I found another way to use this 6 ssd together.
Exactly speaking，the problme is the fact that TIKV cannot use multiple directory path rather than multiple ssd. If we can mount the 6ssd on a single path, we can solve

[2018-12-28 11:42] #8756 closed

[2018-12-29 01:01] AndrewDi commented on #8700
During my test on MySQL 8.0, even column charset is the same with table charset, result would like this:
[code]

[2018-12-29 01:16] 894383755 commented on #8691
[root@ct7-85-tikv ~]# uname -a
Linux ct7-85-tikv 3.10.0-327.el7.x86_64 #1 SMP Thu Nov 19 22:10:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

There's always a problem with tikv, and all the other tikv's working.

[2018-12-29 02:05] jy4618272 opened #8868 "syncer exited, error"
1、What did you do? If possible, provide a recipe for reproducing the error.
when sync data from tidb to mysql 5.7

2、What did you expect to see?

3、What did you see instead?
[error] syncer exited, error /home/jenkins/workspace/build_tidb_binlog_2.1/go/src/github.com/pingcap/tidb-binlog/drainer/syncer.go:568: gen update sqls failed: table `demo`.`xxx_mem`:  row data is corruption [], schema: demo,

[2018-12-29 02:43] #8857 closed

[2018-12-29 02:44] jy4618272 opened #8869 "how to clear all tidb binlog ？"
when i use syncer to sync data from tidb to mysql ，the syncer crash and always fail （[error] syncer exited, error /home/jenkins/workspace/build_tidb_binlog_2.1/go/src/github.com/pingcap/tidb-binlog/drainer/syncer.go:568: gen update sqls failed: row data is corruption）. mybey the binlog data has some errors. how to clear all tidb binlog ？

[2018-12-29 03:31] morgo commented on #5046
I think the semantic expected is just for a single instance shutdown.  I looked into this the other day, and the logical way seemed to do it was for `SHUTDOWN` or the protocol cmd `ComShutdown` to send an interrupt signal to the process.

The will then be caught by the main package, and start shutdown (not-withstanding a current issue that garbage collection doesn't like to be interrupted).

Thus,

[2018-12-29 03:31] 894383755 commented on #8691
same as others
44f6c8ce5fc5b553e0a45cde7358e2f0  bin/tikv-server
44f6c8ce5fc5b553e0a45cde7358e2f0  bin/tikv-server
44f6c8ce5fc5b553e0a45cde7358e2f0  bin/tikv-server

I also duplicate the replacement mode and can't start it properly.

I found that I could install tikv-server in another way and start it successfully (use tidb-latest-linux-amd64.tar.gz)
but i find other tikv-server is error：
2018/12/

[2018-12-29 04:45] LinuxGit commented on #8691
What's your tidb-version in inventory.ini?
It seems that your tikv binary has some compile problem. Could you download latest version of tidb-ansible, and run following command to download specified version.

[code]

https://github.com/pingcap/docs-cn/blob/master/op-guide/ansible-deployment.md#在中控机器上下载-tidb-ansible

If you want to upgrade, you could refer to https://github.com/pingcap/docs-cn/blob

[2018-12-29 05:18] whyliyu opened #8872 "Which manners of loading balance should I choose"
As described in the docs, TIDB does not privide a built-in approach  for loading balance, so client must choose a third-part tools for this.
As the docs says ：

I wonder if the DNS or NGINX is a good choice for loading balance of TIDB server? Better or worse than thoes LVS, HAProxy and F5?

[2018-12-29 06:06] breeswish commented on #8850
Please take a look at TiDB logs. If you find something like "2018/12/29 14:02:01.136 server.go:188: [info] Secure connection is enabled (client verification enabled = false)", it means that TLS is enabled. Otherwise, it means that your configuration is incorrect. For example, maybe you can see something like:

[code]

This means that the certificate you provided does not exist, so that TLS is not

[2018-12-29 06:17] AndrewDi commented on #8532
@leoppro Do we need to considered `sql_mode=ansi_quotes` when process TableName\TableAliasName\ColumnName\ColumnAliasName ?
[code]

[2018-12-29 07:00] Connor1996 commented on #8850
oh, my mistake, seems that the config should be
[code]
instead of
[code]

[2018-12-29 07:43] jackysp commented on #8872
Thanks for your attention, @whyliyu !
PTAL @LinuxGit , thanks!

[2018-12-29 08:14] LinuxGit commented on #8872
LVS, HAProxy and F5 is recommended.

[2018-12-29 08:17] zhuboshuai opened #8880 "add parameter to decide some rows to put in specific tikv instance."
## Feature Request

**Is your feature request related to a problem? Please describe:**

some data are historical data and are rarely accessed , I hope put them to specific tikv instance based on HDD.
**Describe the feature you'd like:**

give a condition for exampe "t1.ts1 > 1546071291 = tikv11", the data in table t1 satisfying ts1 > 1546071291 can store in tikv11 instance.
**Describe alternatives

[2018-12-29 08:22] zhuboshuai opened #8881 "collect coprocessor runtime stats for explain analyze"
## Feature Request

**Is your feature request related to a problem? Please describe:**

SQL "explain analyze table" can get any execution time of all steps including  tikv instance.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

analyze slow query.

[2018-12-29 08:30] zhuboshuai opened #8882 "is tikv support gzip algorithm to compress rocksdb's data in specific level?"
## Question
is tikv support gzip algorithm to compress rocksdb's data in specific level?

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  -

[2018-12-29 08:35] wl21787 opened #8883 "did it support log_slave_updates variable？"
## Feature Request
when use tidb as mysql's slave,did it surpport log_slave_updates variables?

[2018-12-29 09:01] jackysp commented on #8882
Hi, @zhuboshuai
https://github.com/tikv/tikv/blob/75254d54b6e7869f2aded66c0a5f70d1a6035673/etc/config-template.toml#L374
Here is all the compress algorithms which TiKV supports.

[2018-12-29 09:02] jackysp commented on #8883
No, `log_slave_updates` is not supported, @wl21787 .

[2018-12-29 09:09] zhuboshuai commented on #8880
thanks!

[2018-12-29 09:16] wl21787 commented on #8883
That is to say, Syner import data incrementally,but not write binlog to tidb?

[2018-12-29 10:01] WangXiangUSTC commented on #8883
syncer only translate mysql's binlog to sqls, and then execute these sqls to tidb. whether tidb write binlog depend on tidb's binlog config.

[2018-12-29 10:20] wl21787 commented on #8883
I have already config enable_binlog = True.

The tidb process like this:
`bin/tidb-server -P 4000 --status=10080 --advertise-address=10.216.91.116 --path=10.216.91.116:2379,10.216.91.117:2379,10.216.91.118:2379 --config=conf/tidb.toml --enable-binlog --log-slow-query=/data/mysql/tidb/deploy/log/tidb_slow_query.log --log-file=/data/mysql/tidb/deploy/log/tidb.log`

The pump have already install and

[2018-12-29 10:55] WangXiangUSTC commented on #8883
you can check pump's directory or monitoring in grafana.

[2018-12-29 11:38] whyliyu commented on #8872
@LinuxGit
But now I have only tow choice,DNS and  NGINX. Are they  also practicable？If they are,do they have any effects on the performance of TIDB?

[2018-12-29 17:45] morgo commented on #8520
Can I help you with the infoschema implementation?  I can see two issues:
1. omit views from `information_schema.tables`.
2. add views to `information_schema.views`.

[2018-12-29 22:15] morgo commented on #4250
Confirming that this feature is still missing:
[code]

[2018-12-29 22:16] morgo commented on #5979
See also: https://github.com/pingcap/tidb/issues/8842 (mysql compatible way)

[2018-12-29 23:41] morgo opened #8887 "mocktikv fails to set tidb_snapshot"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Success

3. What did you see instead?

An error when using mocktikv.  This works fine with a full TiDB/pd/tikv.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version()

[2018-12-29 23:43] morgo commented on #8887
This will prevent `mydumper` from taking a consistent backup in parallel threads (default) on mocktikv.

[2018-12-30 03:12] AndrewDi commented on #8520
@morgo Sure, Do you check validity of view during select from `information_schema.views` and `information_schema.tables`?

[2018-12-30 03:37] morgo commented on #8520
@AndrewDi I don't think so.  Two things to mention though:
* The mysql server itself did not have view dependency tracking until MySQL 8.0.  So we are 100% compatible to have views that will not work when queried.
* I know of [this issue](https://github.com/pingcap/tidb/issues/8130) where metadata could have been created that is broken.  But I think these should only be corrected/handled on read i

[2018-12-30 03:39] morgo opened #8889 "information_schema support for views"
## Feature Request

**Is your feature request related to a problem? Please describe:**

A subtask of Adding views in #8520

**Describe the feature you'd like:**

1. make information_schema.tables show table_type, comment as view. All remaining columns as NULL.
2. add views to information_schema.views.

**Describe alternatives you've considered:**

N/A

**Teachability, Documentation, Adoption, Migr

[2018-12-30 03:54] AndrewDi commented on #8520
@morgo I have do some test on MySQL 5.7, and it seems like already have view dependency tracking?
[code]
MySQL Version:
[code]

[2018-12-30 04:47] morgo commented on #8520
@AndrewDi interesting behavior!  I think this is the equivalent of running `CHECK TABLE` on each view.  Since TiDB does not support `CHECK TABLE`, I think we should leave this to do later.

The 8.0 feature I was referring to is `I_S.VIEW_TABLE_USAGE`.  You can find more info by searching for "information schema" within [this page](https://mysqlserverteam.com/the-mysql-8-0-13-maintenance-release-is

[2018-12-30 05:02] AndrewDi commented on #8520
@morgo I'm agree with your idea, we could leave view check unimplement here. @XuHuaiyu

[2018-12-30 07:17] Rosmeee commented on #8790
met the same problem.. Even if I downloaded these packages manually from Mirror library in GitHub.
@lamxTyler What if l haven't a proxy?

[2018-12-30 07:47] shenli commented on #8790
@Rosmeee unfortunately, there is no way for now. Please setup a proxy.

[2018-12-30 07:59] tiancaiamao commented on #8838
Hi @morgo
Currently I'm kind of busy. You know, focus on one thing at a period of time maybe more productive. I have plan to do that around 2019.2

We'll going to implement RBAC(Role-based access control) feature in TiDB enterprise edition according to https://dev.mysql.com/doc/refman/8.0/en/roles.html
And at the same time improve privilege compatibility, address something like this issue.

Featur

[2018-12-30 12:40] morgo commented on #8842
Yes, you are right!  I've updated the description.

[2018-12-30 12:57] laidahe commented on #8842
How can the command be implemented? Is there any similar pr? I want to implement it.

[2018-12-30 12:59] morgo commented on #8842
@laidahe , yes see: https://github.com/pingcap/tidb/pull/8888

[2018-12-31 02:34] laidahe commented on #8842
You have implemented it?But I can not see test cases in [#8888](https://github.com/pingcap/tidb/pull/8888). @morgo

[2018-12-31 02:37] morgo commented on #8842
I am looking for feedback on how to test (see checklist).  The obvious way is to use sleep, but I am not sure that is acceptable :-) Looking for feedback.

[2018-12-31 14:05] #8427 closed

[2018-12-31 17:11] dayuanyuan1989 opened #8894 "about tranaction in tidb"
I have a transaction, two target: resource and task

transaction steps:
1. select * from t_resource where state='idle' limit 1;
2. update t_resource set state='busy' where id={resource_id};
3. update t_job set resource_id={resource id};

It has some probability that two job use a same t_resource at the same time

for example

jobA, jobB run the transaction at the same time, when jobA to query a re

[2018-12-31 18:30] morgo commented on #8887
I read the source code, and this looks intentional (there is a test which inserts `tikv_gc_safe_point` into mocktikv to test `tidb_snapshot).  I am going to change this to an enhancement request.

[2018-12-31 18:35] morgo commented on #8894
I believe I understand the problem you are hinting at:
- The transactions `SELECT` data from the table.
- They then `UPDATE` with a modification based on what data they saw in the `SELECT`.
- If a retry occurs, there is a chance of a lost update.

To handle this correctly, I would recommend using `SELECT .. FOR UPDATE`.  The `FOR UPDATE` modifier will prevent retry, and cause an error if the data

[2018-12-31 18:56] morgo opened #8895 "Support for tidb_enable_noop_sysvars"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, it is hard to know if setting a variable in TiDB has an effect.  There are a number of sysvars that are included for compatibility with MySQL, and their inclusion helps compatibility but hurts usability (I have caught myself a couple of times, only to read the manual or the source code and see someth

[2018-12-31 21:30] morgo opened #8896 "default tikv_gc_life_time is too short"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The default `tikv_gc_life_time` is 10 minutes, which means that a `tidb_snapshot` has a risk of being cleaned up and causing an error.

Since this feature is used for backup consistency, it means that a backup that takes longer than 10 minutes to run is at risk of failing.

**Describe the feature you'd like:**

[2018-12-31 21:31] morgo commented on #8896
PTAL @kennytm

[2019-01-01 08:19] shenli commented on #8896
If there are too many garbage in TiKV, the read performance would be slow down. 24 hours would be too long for OLTP scenario. @zhangjinpeng1987 how do you think about this?

[2019-01-01 15:40] gregwebs commented on #8896
Is there a way to only GC up to active snapshots? Presumably TiKV does this already, its just that right now TiDB is not opening a transaction when it sets @@tidb_snapshot?

[2019-01-01 15:49] gregwebs commented on #8896
Oh, I didn't realize this is entirely a feature in TiDB. But the concept should be the same of only running GC up to points of active use.

[2019-01-01 16:31] gregwebs commented on #8896
With the above suggestion you would still need an additional setting to timeout a backup that is accidentally taking too long. So you can have `tikv_gc_life_time` of ten minutes and `tikv_gc_delay_for_transaction` of 4 hours. Normal GC would be 10 minutes, but it would extend to 4 hours for a backup.

There is a potential ability to run GC on versions not in use by the open tidb_snapshot. That is,

[2019-01-01 16:59] morgo commented on #8896
I've updated the description to include the mydumper error message.

[2019-01-02 01:43] caihy05 commented on #8524
This issueswill still occur

[2019-01-02 02:43] dayuanyuan1989 commented on #8894
@morgo

Thanks for you quick reply

In mysql, my case can be handled correctly, a resource can not be assigned to two task

In tidb, the error occur, if I do not use `select ... for update` or do not set the `retry-count` to 0

---

I don't understand the reason of different behavior in transaction between tidb and mysql

If the program used mysql before, then use tidb instead, the logic will be e

[2019-01-02 03:36] morgo commented on #8894
The core difference is because TiDB uses optimistic locking instead of pessimistic locking as in MySQL.  While it can cause incompatibility, it is not unique to TiDB.  Many modern/distributed systems use optimistic because it performs better in the common-case where there are few conflicts.

This is [documented in the manual here](https://www.pingcap.com/docs/sql/mysql-compatibility/#transaction-m

[2019-01-02 06:42] aronfan opened #8901 "add reverse iterator support in snapshot?"
Wish to add a reverse iterator in snapshot.
The reverse iterator had been implemented in transaction, but not in snapshot.

File: tidb/store/tikv/snapshot.go
Line: 294

[2019-01-02 07:53] #8882 closed

[2019-01-02 09:26] longhuguoji opened #8905 "syncer failed to start"
我启动syncer，报如下错误，后来修改root密码，更改权限为%，所有客户端都能连接成功，但仍然报如下错误：
2019/01/02 17:19:20 printer.go:52: [info] Welcome to syncer
2019/01/02 17:19:20 printer.go:53: [info] Release Version: v1.0.0-51-gd2ff8d6
2019/01/02 17:19:20 printer.go:54: [info] Git Commit Hash: d2ff8d6639c29b1bcd7eafd7231e5707a864465d
2019/01/02 17:19:20 printer.go:55: [info] Git Branch: master
2019/01/02 17:19:20 printer.go:56: [info] UTC

[2019-01-02 09:40] csuzhangxc commented on #8905
the error indicates access denied by the downstream instance (maybe TiDB), not the upstream MySQL.
have you changed the password with `%` for downstream instance?
and can connect to TiDB with the password from `20.4.18.43` with any MySQL client?

[2019-01-02 09:43] longhuguoji commented on #8905
是的，我修改了下游（TIDB）的密码和权限（%），但还是报同样的错。

[2019-01-02 09:44] nolouch commented on #8834
duplicate with https://github.com/tikv/tikv/issues/3981．

[2019-01-02 09:44] #8834 closed

[2019-01-02 09:48] csuzhangxc commented on #8905
have you tested with other MySQL client？

[2019-01-02 09:51] csuzhangxc commented on #8905
and try to change `{"host":"localhost","user":"root","port":4000}` to `{"host":"20.4.18.43","user":"root","port":4000}` for `[to]`.

[2019-01-02 10:08] longhuguoji commented on #8905
localhost、127.0.0.1、20.4.18.43都试了，都不行。但是我通过navicat、其他服务器的mysql-client，都可以访问tidb。只是用syncer启动会报错。

[2019-01-02 10:11] dayuanyuan1989 commented on #8894
Thanks for your support. I had use `select ... for update` in my code.

[2019-01-02 10:11] #8894 closed

[2019-01-02 10:53] csuzhangxc commented on #8905
[2019/01/02 17:19:20] [info] binlogsyncer.go:132 create BinlogSyncer with config {43 mysql 20.4.17.6 3306 root false false false UTC true 0 30s 1m0s 0 false}
2019/01/02 17:19:20 metrics.go:117: [info] listening on 20.4.18.43:10086 for status and metrics report.
2019/01/02 17:19:20 main.go:79: [error] Error 1045: Access denied for user 'root'@'20.4.18.43' (using password: YES)

have you modified th

[2019-01-02 14:06] weilain opened #8911 "execution sql appear privilege check fail"
docker-compose  deploy

-------------------------------
issue ：
mysql> update  tb_wehub_server a set a.active_count=a.active_count+1,a.used_count=a.used_count+1 where id=1;
ERROR 1105 (HY000): privilege check fail
![image](https://user-images.githubusercontent.com/42827119/50595149-310b6300-0eda-11e9-91ed-7c3f38ea1824.png)

MySQL [(none)]> select tidb_version();

| Release Version: v2.1.0-rc.3-385

[2019-01-03 02:05] Hanyu2015 opened #8916 "Can't find a proper physical plan for this query"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
mysql>select * from trigger_depends where triggerid_down=397764;
ERROR 1815 (HY000): Internal : Can't find a proper physical plan for this query
2. What did you expect to see?
triggerdepid  triggerid_down triggerid_up
14429            3977

[2019-01-03 02:13] csuzhangxc commented on #8905
I mean, is the IP address in the log changed before you paste it here?
the error
[code]
not match
[code]

can you paste the content of `config.toml`?

[2019-01-03 02:17] longhuguoji commented on #8905
log-level = "info"

server-id = 43

## meta 文件地址
meta = "./syncer.meta"

worker-count = 16
batch = 10

## pprof 调试地址, Prometheus 也可以通过该地址拉取 syncer metrics
## 将 127.0.0.1 修改为相应主机 IP 地址
status-addr = "20.4.18.43:10086"

[[replicate-do-table]]
db-name ="pboc_tm"
tbl-name = "pboc_tm"

[[route-rules]]
pattern-schema = "pboc_tm"
pattern-table = "person_basicinf*"
target-schema = "pboc_tm"
target-table =

[2019-01-03 02:21] csuzhangxc commented on #8905
also the log with current `config.toml`?
at least the part from `Welcome to syncer` to `access denied for user`

[2019-01-03 02:33] csuzhangxc commented on #8905
the log above seems not to match the `config.toml` you paste?
can you paste the log with `config.toml` above?

[2019-01-03 02:43] longhuguoji commented on #8905
你说的是ip吧，我config.toml写的20.4.18.43，log输出:{"host":"localhost","user":"root","port":4000}。是这样，config.toml中的下游ip用localhost或者ip，输出的日志一样，我已经做过比对。如果用20.4.18.43，则输出日志:{"host":"20.4.18.43","user":"root","port":4000}。其他日志部分一模一样。

[2019-01-03 02:47] Hanyu2015 commented on #8916
create table 'trigger_depends' ('triggerdepid' bigint(20) unsigned not null,'triggerid_down' bigint(20) unsigned not null, 'triggerid_up' unsigned not null,primary key ('triggerdepid'), unique key 'trigger_depends_1' ('triggerid_down','triggerid_up'), key 'trigger_depends_2' ('triggerid_up'))

[2019-01-03 02:49] csuzhangxc commented on #8905
so, for the config
[code]

the error is
[code]
or
[code]

[2019-01-03 02:54] longhuguoji commented on #8905
无论config中下游配置ip、localhost或者127.0.0.1，日志始终输出下游登录失败，即'[error] Error 1045: Access denied for user 'root'@'20.4.18.43' (using password: YES)。不是'root'@'20.4.17.6'（即上游）。

[2019-01-03 02:59] zz-jason commented on #8916
@Hanyu2015 Can not reproduce according to the create table statement and the sql you provided:
[code]

on my laptop:
[code]

Could you provide us the full create table statement and the table statistics info to help us locate the issue and fix it ASAP? To obtain the create table statement, connect to the TiDB server with mysql client:

[code]

to download the table statistics info, open a terminal

[2019-01-03 03:37] csuzhangxc commented on #8905
can you paste a whole log with
[code]

[2019-01-03 04:16] longhuguoji commented on #8905
1、请问，tidb的root密码修改了，需要重启生效吗？如何进行重启或者如何生效？
2、TIDB官方修改root密码：SET PASSWORD FOR 'root'@'%' = 'xxx';
      MYSQL修改root密码：update user set password="" where user="root";    flush privileges;
      请问两者修改效果一样吗？

[2019-01-03 04:17] wl21787 commented on #8883
Thanks!

[2019-01-03 04:19] zz-jason commented on #8916
What error does the above `curl` command return?

[2019-01-03 07:19] Hanyu2015 commented on #8916
run the command "analyze table trigger_depends", and then this problem is resolved. Thank you, but I don't know why this happened.

[2019-01-03 07:20] Guru107 opened #8921 "Incorrect row count estimation in TiDB 2.1.1"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

    Create a table with a composite primary key.
[code]

Run query
```explain select column1, column2 from `table1` where (column1=01092213 AND column2=1) OR (column1=01091904 AND column2=2) OR (column1=01091970 AND column2=2) OR (column1=01092706 AND column2=1) OR (column1=01092355 AND column2

[2019-01-03 07:36] Guru107 commented on #8921
@eurekaka Yes it is showing Index scan but it is scanning all rows in 2.1.1 as seen in `count` column. But in 2.0.8 if you see the `count` column it is only 40.

[2019-01-03 07:37] lamxTyler commented on #8916
I think the problem depends on the stats, but it is lost after the analyze.

[2019-01-03 07:44] eurekaka commented on #8921
@Guru107 Does the table have changes between these 2 explains? seems like 2.1.1 uses `column_1` index instead of primary index now. Please provide the statistics information I mentioned above, and **complete** result of `explain analyze` of the above query. Since you can provide the SQL query, I guess there should be no sensitive information need to hide in the explain output?

[2019-01-03 07:52] WangXiangUSTC commented on #8883
I close this issue now, you can reopen it if have other question.

[2019-01-03 07:52] #8883 closed

[2019-01-03 09:36] winoros commented on #8921
@Guru107 The column `count` is the count estimated by TiDB's planner. It's a value the TiDB **think** it should be, not the actual count.
As you can see in the column `operator info`, there're things like `range: [0 1, 0 1], [1 3, 1 3] ...` This indicates the range infomation that is used to seek index.
And you can see when you ran `explain analyze` statement, There's an extra row that contains th

[2019-01-03 09:40] eurekaka commented on #8921
Yes, `explain analyze` shows 50 rows retrieved actually. BTW, the statistics seems to be empty, can you `analyze` the table first, and check the `count` again to see if it is still 100?

[2019-01-03 09:48] eurekaka commented on #8921
@Guru107 thanks, please provide the latest statistics information again, then we would check if the estimation count change is reasonable.

[2019-01-03 09:51] Guru107 commented on #8921
@eurekaka Here's the table stats after `analyze`
[table_stats.txt](https://github.com/pingcap/tidb/files/2723249/table_stats.txt)

[2019-01-03 09:52] eurekaka commented on #8921
@Guru107 Thanks.

[2019-01-03 09:55] dayuanyuan1989 commented on #8850
@Connor1996

Thanks a lot, my tidb can work with ssl successfully by `单向认证`

Then, I test `配置双向认证`

[code]

I can find some key successful words in the log

[code]

Then, I use mysql-client to connect to server with ssl verification, error occur

[code]

[2019-01-03 10:01] longhuguoji commented on #8905
我重新改了一下tidb密码，登录不上了，请帮忙回答一下如下问题。
1、请问，tidb的root密码修改了，需要重启生效吗？如何进行重启或者如何生效？
2、TIDB官方修改root密码：SET PASSWORD FOR 'root'@'%' = 'xxx';
MYSQL修改root密码：update user set password="" where user="root"; flush privileges;
请问两者修改效果一样吗？

[2019-01-03 10:41] Connor1996 commented on #8850
Sorry, our neglect. I check the MySQL document, seems that the ssl-mode= VERIFY_IDENTITY doesn't not work for the certs generated by `mysql_ssl_rsa_setup`.

Please try other modes, like
[code]

[2019-01-03 10:41] eurekaka commented on #8921
The behavior change is caused by these lines in `deriveIndexPathStats`:
[code]
this part is different in 2.0.8 and 2.1.1. @Guru107 thanks for the report, we will try to improve it.

[2019-01-03 10:45] Guru107 commented on #8921
@eurekaka Does this impact query performance?

[2019-01-03 10:48] eurekaka commented on #8921
@Guru107 In your case, the query plan chosen is correct, so no performance impaction.

[2019-01-03 10:54] dayuanyuan1989 commented on #8850
Thanks a lot.

It worked successfully.

[2019-01-03 10:54] #8850 closed

[2019-01-03 11:46] eurekaka commented on #8921
The change is introduced in https://github.com/pingcap/tidb/pull/7233, @lamxTyler PTAL if we should make some adjustment.

[2019-01-03 12:16] lamxTyler commented on #8921
The change is reasonable and needs no change. The root cause of the problem is the selectivity cannot process DNF now, refer https://github.com/pingcap/tidb/blob/master/statistics/selectivity.go#L249.

[2019-01-03 12:42] eurekaka commented on #8921
So if filter is in DNF form, `selectivity` may return estimation not as accurate as `GetRowCountByIndexRanges` because ranger handles DNF now while `selectivity` does not? then shall we mark whether it is DNF filter in `selectivity` and add a check in `deriveIndexPathStats` like:
[code]

[2019-01-04 02:14] AndrewDi opened #8932 "Keep ast's wildcard expanded after building LogicalPlan"
## Feature Request

**Is your feature request related to a problem? Please describe:**
In the implement view feature, SQL from view's definition need to be expanded if sql contains any wildcard,

**Describe the feature you'd like:**
Because table column info mostly can be obtained during build logical plan，**so I think how about we keep ast's wildcard expanded after logical plan building complete?

[2019-01-04 02:14] AndrewDi commented on #8932
@XuHuaiyu PTAL

[2019-01-04 02:38] XuHuaiyu commented on #8932
The code is introduced in https://github.com/pingcap/tidb/pull/2767.
Please check whether there will be negative effects if we do the modification.

[2019-01-04 02:53] AndrewDi commented on #8932
@XuHuaiyu Do we have any test case to reproduce this problem, Following test case from PR #2767 runs fine.
[code]

[2019-01-04 03:00] XuHuaiyu commented on #8932
Have you checked the result of `make dev`?

[2019-01-04 03:27] devin-zhao opened #8933 "some special char can't insert on utf8 charset"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
**create table:**
CREATE TABLE `cd_channel_996`  (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `extra_id` bigint(20) NOT NULL COMMENT '用户唯一标识',
  `extra` json NULL,
  `weibo_extra_id` varchar(16) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL DEFAULT '' COMMENT '绑定的微博用户唯一标识',
  `title` varchar(64

[2019-01-04 03:43] devin-zhao opened #8934 "ON DUPLICATE KEY UPDATE not work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
create table:
CREATE TABLE `video_comment`  (
  `video_id` bigint(20) NOT NULL COMMENT '视频id',
  `comment_id` bigint(20) NOT NULL DEFAULT 0 COMMENT '评论id',
  `content` varchar(256) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL DEFAULT '' COMMENT '评论内容',
  `publish_time` timestamp(0) NULL DEFAULT

[2019-01-04 03:43] yu34po opened #8935 "Support SQL Plan Management"
## Feature Request

The optimizer chooses a plan based on several environmental factors, such as statistics, optimizer parameters, schema definitions and so on. Once the environment changes, we cannot guarantee that the newly optimized plan is always better than the old plan. Therefore we need to provide ways to bind the plan for applications that cannot take the risk of a changed plan.

**Describ

[2019-01-04 03:46] jackysp commented on #8934
Thanks for your report, @devin-zhao ! I'll take a look.

[2019-01-04 03:47] yu34po commented on #8935
we have complete code develop, now work in unit and integration test,
will  complete featuer in 3 PRs
1.support global create/drop/show bind cmd and store data in system table and global cache
2.for every query sql , try to match global hint cache and add hint to original sql
3.session cache support

[2019-01-04 03:58] jackysp commented on #8934
Hi @devin-zhao ,
For the question

What did you see exactly?
I've tried your SQL, the sentiment field is always 0, both before or after the following SQL executed
[code]

[code]

[2019-01-04 04:32] #8889 closed

[2019-01-04 04:35] devin-zhao commented on #8934
@jackysp update info
1. what did you do?
execute sql:
INSERT INTO video_comment (video_id, sentiment, comment_id) VALUES (974712634567720044, 0.1234, 4109668666), (974712634567720044, 0.0167704, 4109668667)

execute sql:
INSERT INTO video_comment (video_id, sentiment, comment_id) VALUES (974712634567720044, 0.2222, 4109668666), (974712634567720044, 0.2222, 4109668667) ON DUPLICATE KEY UPDATE senti

[2019-01-04 04:39] crazycs520 commented on #8933
@devin-zhao , try this:
[code]

[2019-01-04 04:57] devin-zhao commented on #8933
@crazycs520 show error:
alter table cd_channel_996 modify title varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL DEFAULT '' COMMENT '用户名字'

[2019-01-04 05:16] crazycs520 commented on #8933
@devin-zhao ， Oh, sorry, 2.1 doesn't support modify column charset, could you try this in master branch?

[2019-01-04 06:53] darren opened #8939 "Insert utf8mb4 strings to table upgraded from v2.0.0 to v2.1.2 failed"
## Bug Report

1. What did you do?

start tidb 2.0.0 in clean /tmp/tidb  folder
[code]

create a table in v2.0.0
[code]

stop the v2.0.0 server and upgrade to v2.1.2
[code]

now try insert again
[code]

2. What did you expect to see?

insert should succeed without errors

3. What did you see instead?

`ERROR 1366 (HY000): incorrect utf8 value f09f91bcf09f8fbb(👼🏻) for column c
`

[code]

4. What ve

[2019-01-04 07:15] #8838 closed

[2019-01-04 07:17] darren commented on #8939
Duplicate of #8933

[2019-01-04 07:22] darren commented on #8939
MySQL [test]> ALTER TABLE t1 CONVERT TO CHARACTER SET utf8mb4;
Query OK, 0 rows affected (0.00 sec)

MySQL [test]> replace into t1 values (1, '👼🏻');
ERROR 1366 (HY000): incorrect utf8 value f09f91bcf09f8fbb(👼🏻) for column c
MySQL [test]>

[2019-01-04 07:34] birdstorm opened #8940 "`rawBatchPut` is not performing as well as expected"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Not really sure it should be categorized as `Bug`.

I used go client and java client to test `BatchPut` on TiKV cluster.

Following enclosed go script and java project for my test.
Go: [main.go.zip](https://github.com/pingcap/tidb/files/2

[2019-01-04 07:48] XuHuaiyu commented on #8932
Yep, the panic mentioned in that issue may not happen, since we've removed the corresponded code line.

I think it's ok to make this modification.

PTAL @winoros @zz-jason

[2019-01-04 08:01] winoros commented on #8932
It changed the AST tree itself.
When will the `ast.Node.Restore` be called? I'm not sure whether this will break its functionality.

[2019-01-04 08:05] AndrewDi commented on #8932
@winoros I may call `ast.Node.Restore` when `Create View`.

[2019-01-04 08:14] XuHuaiyu commented on #8932
@winoros It seems that we do not re-use the AST now.

[2019-01-04 08:18] XuHuaiyu commented on #8932
@AndrewDi I wonder whether we need this to help us to perform the P1 tasks mentioned in https://github.com/pingcap/tidb/blob/master/docs/design/2018-10-24-view-support.md?
This proposal only considers the **SIMPLEST* functions of view. We need another detailed proposal and discussion on other functions.

[2019-01-04 08:30] AndrewDi commented on #8932
IMO if I want to get a `Expanded AST Tree`, there are two ways:
1. Modify the origin one ---If we do not reuse origin ast tree, this way is more simple.
2. Return a new one

[2019-01-04 08:34] XuHuaiyu commented on #8932
@winoros TiDB changes part of the AST now, like [here](https://github.com/pingcap/tidb/blob/master/planner/core/logical_plan_builder.go#L1193).

[2019-01-04 08:37] XuHuaiyu commented on #8932
@AndrewDi You're right, but detailed investigation needs to be done before coding. Since no one really ensures which way is better. And advanced functions of view are complicated.

[2019-01-04 08:43] AndrewDi commented on #8932
@XuHuaiyu Yes, I just need modify `SelectStmt.Fields.Fields`, so I think it's not a hard decision.

[2019-01-04 09:11] sxp1121 commented on #8933
try this:
alter table cd_channel_996 modify title varchar(64) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL DEFAULT '' COMMENT '用户名字'

[2019-01-04 09:32] devin-zhao commented on #8933
@sxp1121 alter table cd_channel_996 modify title varchar(64) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL DEFAULT '' COMMENT '用户名字' run suceess, but "🕶小楠～" already can't be set to title field

[2019-01-04 09:56] darren commented on #8939
workaround after upgrade to v2.1.2, disable utf8 check:

[code]

[2019-01-04 10:02] #8939 closed

[2019-01-04 12:45] crazycs520 commented on #8933
@devin-zhao The chars "🕶小楠～" is not a utf8 char, so use utf8 charset will return error. tidb 2.1 not support alter column charset to utf8mb4, So, if you don't want to use tidb master, you have to change your chars. change "🕶小楠～" to '小楠' will be ok.

[2019-01-04 12:59] crazycs520 commented on #8933
@devin-zhao ， Or you can set sql_mode, don't use `STRICT_TRANS_TABLES`, this will make insert ok, but return 1 warning.
[code]

[2019-01-04 14:05] morgo opened #8946 "Set mysql compatible error codes in visitInfo"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Following on from https://github.com/pingcap/tidb/pull/8855, `visitInfo` now allows a custom error to be attached.  This issue can serve to track improving all the `appendVisitInfo` calls to attach a correct error code.

Some other privilege checks, such as https://github.com/pingcap/tidb/pull/8426/files can al

[2019-01-04 14:31] acmerfight opened #8947 "met `go: verifying github.com/coreos/etcd@v3.3.10+incompatible: checksum mismatch` error, when I compile TiDB on MacBook"
![image](https://user-images.githubusercontent.com/1516479/50692849-35698480-1070-11e9-928a-d594e3cc055e.png)

go: downloading github.com/coreos/etcd v3.3.10+incompatible
go: downloading github.com/prometheus/client_model v0.0.0-20180712105110-5c3871d89910
go: downloading golang.org/x/text v0.3.0
go: downloading github.com/tiancaiamao/appdash v0.0.0-20181126055449-889f96f722a2
go: downloading gith

[2019-01-04 17:15] morgo opened #8949 "Design doc on MySQL compatibility criteria"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There are cases where TiDB is not strictly MySQL compatible (missing features, differences in implementation).  For two examples:

[code]

In the first example, it is safe to parse but ignore `ENGINE=INNODB` (if TiDB didn't, backups wouldn't restore, replication would fail).

In the second example, this stateme

[2019-01-04 20:07] darren commented on #8947
temporary workaround: rm -f go.sum then make again

[2019-01-04 20:11] darren commented on #8933
Truncate field? that certainly not accpetable！

use this instead as I have commented on #8939

[code]

And "🕶小楠～"  is for certain valid utf8 string.

MySQL uses utf8mb4 due to history reasons while  TiDB does not!
IMHO, make tidb compatible with MySQL about the `utf8mb4` pitfall is really stupid.

@winkyao  can you give the reasons behind PR #8738?

[2019-01-05 02:32] #7403 closed

[2019-01-05 02:49] devin-zhao commented on #8933
@darren it works, thank you for your advice

[2019-01-05 10:21] AndrewDi opened #8953 "Parser SQL error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Run SQL
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
Master branch
[code]

[2019-01-05 11:32] acmerfight commented on #8947
@eurekaka can you help me, I want to be a contributor。I met this problem，when I try to compile TiDB

[2019-01-05 12:58] acmerfight commented on #8947
thank you, @zz-jason
So sad,
`go clean -modcache` didn't work, I met the same error.

[2019-01-05 13:02] zz-jason commented on #8947
@acmerfight the error is "unknown import path"

[2019-01-05 13:20] acmerfight commented on #8947
@zz-jason
after I run `go clean -modcache `
 I met the same error
[code]

[2019-01-05 13:45] acmerfight commented on #8947
@zz-jason thank you very much. I solved this problem.

[2019-01-05 14:46] acmerfight opened #8955 "`flag provided but not defined: -L/usr/local/opt/libxml2/lib` when I compile TiDB on mac"
I met `flag provided but not defined: -L/usr/local/opt/libxml2/lib`,when I compile TiDB on mac
I have installed libxml2 and add config to .zshrc
`go version go1.11.4 darwin/amd64`
[code]

![image](https://user-images.githubusercontent.com/1516479/50725099-6b237180-1133-11e9-9a0c-b9cbca0086f3.png)

![image](https://user-images.githubusercontent.com/1516479/50725374-be97be80-1137-11e9-9d22-e81cc078d

[2019-01-06 12:46] shenlijungg opened #8958 "loader failed ,tidb die?"
Release Version: v2.1.0-5-g4dad722
Git Commit Hash: 4dad722bbf573050477328ce8ff5bcb7f1a1c7f1
Git Branch: release-2.1
UTC Build Time: 2018-12-07 02:29:19
GoVersion: go version go1.11.2 linux/amd64
Race Enabled: false
TiKV Min Version: 2.1.0-alpha.1-ff3dd160846b7d1aed9079c389fc188f7f5ea13e
Check Table Before Drop: false

nohup ./loader -h ip -u root -P 3306 -t 64 -d /data/db_bak > nohupcluster 2>&1

[2019-01-06 14:18] nange opened #8959 "The error code of rename ddl is not compatible with mysql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?
``` ERROR 1146 (42S02): Table 'test1.t' doesn't exist ```

3. What did you see instead?
``` ERROR 1017 (HY000): Can't find file: './test1/t.frm' ```

4. What version of TiDB are you using (`tidb-serv

[2019-01-06 16:15] shenli commented on #8959
@nange Nice catch!

[2019-01-06 16:17] shenli commented on #8935
@yu34po Good job!

[2019-01-07 02:37] TommyLemon opened #8961 "🎉自动化接口和文档APIJSON已支持TiDB，提供从API到TiDB的完整Demo"
APIJSON 接入 TiDB 的详细图文上手教程
https://www.zhihu.com/question/58767602/answer/557035883

[2019-01-07 02:40] shenli commented on #8961
@TommyLemon Amazing work! 👍
Could you translate the title and description into English? So others could know about your work.

[2019-01-07 02:45] tshqin opened #8962 "the optimizer should treat predicate 'like' the same way as predicate '=' when it is an exact match"
there is a multi-column index (a,c,b) on the table, when using 'like' on a condition which is an exact match, the next column in multi-column index could not use index scan.

[code]
[code]

tidb version:

[2019-01-07 02:52] zz-jason commented on #8916
@Hanyu2015 Can you reproduce this issue after `analyze table`?

[2019-01-07 02:55] Hanyu2015 commented on #8916
No, and it‘s ok now’

[2019-01-07 02:58] zz-jason commented on #8916
@lamxTyler Could you explain more?

[2019-01-07 03:54] TommyLemon commented on #8961
@shenli Well, thank you for your support and advice.

[2019-01-07 04:02] darren commented on #8955
tidb does not use libxml2 at all. Don't add these environment variables to .zshrc, only use them when you build tools/libraries that actually depend on libxml2.

if you don't want to change that, then reset LDFLAGS variable when build tidb-server

[code]

[2019-01-07 04:04] TommyLemon opened #8963 "🎉 Supported TiDB with APIJSON(Auto supply APIs and Documents), and supplied a demo with Java and a quick start guide with pictures."
The quick start guide
https://www.zhihu.com/question/58767602/answer/557035883

Introduction for APIJSON
https://github.com/TommyLemon/APIJSON/blob/master/Document-English.md

Configuration for TiDB
https://github.com/TommyLemon/APIJSON/blob/cbffc9bb78cce29dec78ba100cdbca97eda97c85/APIJSON-Java-Server/APIJSONDemo/src/main/java/apijson/demo/server/DemoSQLConfig.java

[2019-01-07 04:06] TommyLemon commented on #8961
I wrote another issue with English for foreigners, and this issue will be kept for Chinese.
https://github.com/pingcap/tidb/issues/8963

[2019-01-07 07:16] crazycs520 commented on #8905
TiDB 也需要用 `flush privileges;` 才能立即生效，负责会有一定延迟。

[2019-01-07 07:16] Victorkangsh opened #8964 "Use TiDB with Prisma not successed"
## Question

Hi, I want deploy my [prisma](https://prisma.io) server with tidb, and it test well at small datamodel, but when i deploy a large datamodal it doesn't work. The error is here:

[code]

This datamodal is work well on mysql.
I am not sure which side can solve this problem better and look forward to the proposal.

[2019-01-07 07:31] winoros commented on #8964
[code]
You can refer to https://github.com/pingcap/tidb/issues/5166
Currently, you need to do DDL one by one. So `add column and add index in one sql`  will report the error.

[2019-01-07 08:30] lwlw217 opened #8965 "unsupported modify column length 255 is less than origin 512"
## Question
When I modify a column length:
` ALTER TABLE `jianzhi`.`jz_third_api_log` CHANGE COLUMN `token` `token` varchar(255) DEFAULT '' NOT NULL COMMENT 'token值';`
tips:
unsupported modify column length 255 is less than origin 512.

The table structure like this:
`CREATE TABLE `jz_third_api_log` (
  `id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '主键id',
  `user_mobile` varchar(64) NOT N

[2019-01-07 08:32] winoros commented on #8965
Yes, TiDB currently cannot alter one column to reduce its length.
@zimulala @winkyao @crazycs520 PTAL

[2019-01-07 08:43] wl21787 commented on #8965
Whether consider add this feature in the furture?

[2019-01-07 11:03] #8959 closed

[2019-01-07 11:21] crazycs520 opened #8967 "variable: select global variable with out global flag return wrong flag."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
such as `max_connections`, `tidb_auto_analyze_ratio` are only global level variable.
In TiDB:
[code]
In Mysql
[code]

2. What did you expect to see?
same as mysql.

3. What did you see instead?

4. What version of TiDB are you using (`tidb

[2019-01-07 11:45] Victorkangsh commented on #8964
Understand, thanks. So when does TiDB could solve this problem?

[2019-01-07 12:43] hhxcc commented on #8414
@crazycs520   I give up ,  Would you help to do this  ?

[2019-01-07 13:17] crazycs520 commented on #8414
@hhxcc , Ok, I will do it.
Anyway, thank you for going and trying.

[2019-01-08 02:26] Hanyu2015 opened #8972 "cannot insert data into tidb"
## Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)
cannot insert data into tidb, and

[2019-01-08 02:31] shenli commented on #8964
@Victorkangsh We will add this feature in the future.

[2019-01-08 02:33] Hanyu2015 commented on #8972
Yesterday I made a tikv node offline and after some time this problem appears. When I restart all tikv nodes, data can be inserted successfully a very short period of time and then this problem happened again.

[2019-01-08 02:35] jackysp commented on #8972
Could you please provide more error logs when the problem happened? @Hanyu2015

[2019-01-08 02:37] zimulala commented on #8965
@wl21787
We plan to support this feature this year.

[2019-01-08 02:47] jackysp commented on #8934
Hi @devin-zhao ,
Sorry for the late reply! The amount of modification for this may be large and requires an internal assessment. Please refer to @zz-jason for details.

[2019-01-08 02:48] Hanyu2015 commented on #8972
![1](https://user-images.githubusercontent.com/13936167/50806742-e737d800-1332-11e9-94b3-78f4f42f7313.jpg)

[2019-01-08 02:56] Hanyu2015 commented on #8972
![2](https://user-images.githubusercontent.com/13936167/50807044-113dca00-1334-11e9-80dc-297662430c80.jpg)

[2019-01-08 02:59] jackysp commented on #8972
The log shows that TiDB cannot connect to the TiKV server. It may be caused by TiKV server is down. Is there any error message in TiKV server's log? @Hanyu2015

[2019-01-08 03:07] Hanyu2015 commented on #8972
I find that there is no log for this problem in tidb.log and tikv.log.

[2019-01-08 03:09] Hanyu2015 commented on #8972
I only find that if I restart all tikv nodes, data can be inerted, but after a litter time data cannot be insert again.

[2019-01-08 03:33] wl21787 commented on #8965
Thanks for your attention and reply !

[2019-01-08 04:37] #8465 closed

[2019-01-08 05:13] #8654 closed

[2019-01-08 05:54] winoros commented on #7205
Done by #7531.
It will be controlled by cost in the cascades-like planner.

[2019-01-08 05:54] #7205 closed

[2019-01-08 05:57] winoros commented on #1134
@morgo
Semi join just does the `return the result when there's one row fetched`. `Limit` may not have much effect.

[2019-01-08 05:59] winoros commented on #7395
Closed since #7205 is done.

[2019-01-08 06:01] #7395 closed

[2019-01-08 06:08] morgo commented on #7395
Confirming the original case looks good:
[code]

Country.Code is the `PRIMARY KEY` so I don't understand why the pseudo stats do not consider the dictionary information.  I will file a separate issue on it though.

[2019-01-08 06:15] morgo opened #8975 "pseudo stats do not appear to consider dictionary information on primary key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I loaded the world sample database from https://dev.mysql.com/doc/index-other.html

It has the following schema:
[code]

2. What did you expect to see?

If I analyze the tables, I see the following:
[code]

3. What did you see instead?

Without `ANALYZE` I see:
[code]

I can't understand why `I

[2019-01-08 06:15] morgo commented on #8975
PTAL @winoros

(issue comes via #7395)

[2019-01-08 06:55] jackysp commented on #8698
It is already fixed in master branch. @xucui220

[2019-01-08 06:55] #8698 closed

[2019-01-08 06:59] jackysp commented on #8699
It's already fixed in master branch.

[2019-01-08 06:59] #8699 closed

[2019-01-08 07:10] #5512 closed

[2019-01-08 07:14] winoros commented on #8975
Thanks for reporting. We'll update this soon.

[2019-01-08 07:53] csuzhangxc commented on #8830
you must specify a correct path to you dumped files.

[2019-01-08 07:56] zz-jason commented on #8947
I'm going to close this issue for it is solved.

[2019-01-08 07:56] #8947 closed

[2019-01-08 07:59] july2993 commented on #8832
[code]
@wl21787 you can set it while `topic-name`

[2019-01-08 08:11] jackysp commented on #8958
Thanks for your report, @shenlijungg !
PTAL @csuzhangxc @WangXiangUSTC

[2019-01-08 08:14] csuzhangxc commented on #8958
@shenlijungg
have you tested with any MySQL client from the host of loader running to connect to `10.4.17.148:4000` with the user/password set in loader's config.

[2019-01-08 08:49] #8933 closed

[2019-01-08 11:14] july2993 opened #8983 "fail to insert record, look like wrongly parsed sql"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
table:
[code]
replace
[code]

2. What did you expect to see?
replace success like mysql (test on 5.7)
[code]

3. What did you see instead?
replace return error

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_ve

[2019-01-08 12:38] winoros commented on #8983
Thanks for your reporting!
We'll look into it.
It seems that TiDB tries to parse it to a floating point number.

[2019-01-08 14:06] #8967 closed

[2019-01-08 15:05] Victorkangsh commented on #8964
Once TiDB solves this problem, I would love to put TiDB's logo and related instructions on the index web of Prisma and use TiDB in best practice examples.

TiDB almost perfectly solved the problem of prisma in distributed transactions. The infinitely horizontal expansion of the data access layer combined with the TiDB is really the best architecture.

[2019-01-09 01:51] #8459 closed

[2019-01-09 02:11] shenlijungg commented on #8958
@csuzhangxc   tidb 有6台，其中几台报check point error .但有几台成功的。  是因为我没有设置密码的问题？但为什么有几台是正常的。check point 应该和 tidb_loader下 table   checkpoint 有关，如何检查或取消报错。

[2019-01-09 02:17] shenlijungg commented on #8958
@csuzhangxc
/loader -h 10.4.17.148 -u root -P 4000 -t 5 -d /data/xx      目前只能开 5个，默认16 tidb 4000端口 会死掉!
logs:
 2019/01/04 17:00:33.282 server.go:271: [error] listener stopped, waiting for manual kill.
2019/01/04 17:01:33.283 server.go:271: [error] listener stopped, waiting for manual kill.
2019/01/04 17:02:33.284 server.go:271: [error] listener stopped, waiting for manual kill.
2019/01/04 17:03:03

[2019-01-09 02:19] csuzhangxc commented on #8958
@crazycs520 PTAL

[2019-01-09 02:40] morgo commented on #8881
See: https://github.com/pingcap/tidb/issues/8429 and also https://github.com/pingcap/docs/issues/833

[2019-01-09 02:44] zz-jason commented on #8881
@breeswish Has merged the PR https://github.com/pingcap/tipb/pull/112 in tipb to make it possible to get all the execution details on TiKV instances.

[2019-01-09 03:41] shalcanleo opened #8987 "Cannot modify column type from varchar(16) to varchar(64)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I want to change column col1 data type from varchar(16) to varch(64) by:
ALTER TABLE `db`.`table` CHANGE COLUMN  `col1` `col1` `mobile` varchar(64)

2. What did you expect to see?
change column success.

3. What did you see instead?
2019/0

[2019-01-09 03:54] morgo commented on #8987
The error message looks like you are changing the character set as well as the `VARCHAR` size.  What happens if you try one of the following:

[code]
-or-
[code]

[2019-01-09 03:58] morgo commented on #8713
@qw4990 can this issue be closed now?

[2019-01-09 05:01] breeswish commented on #8881
You may track https://github.com/tikv/tikv/issues/3903

[2019-01-09 06:16] ericisme opened #8993 "Any differences between query from TiDB and TiSpark"
我想问下 一下直接用jdbc连接tidb做sql query，和用tispark做parksql查询有什么区别？可以用tidb的jdbcl做复杂的时间长的sql查询吗？这样就不需要再多学一个spark了？

[2019-01-09 06:50] crazycs520 commented on #8958
@shenlijungg ， Could you upload the tidb.log file?

[2019-01-09 06:51] dawnbreaks opened #8995 "how to decode start key of record regions"
I can fetch all region info by the TIDB HTTP API, but how to decode the start key and end key of record regions to the origin primary key of the table?  Anyone give me some advices? It would be nice that A new TIDB HTTP API can do this.

$curl http://127.0.0.1:10080/regions/4001
{
    "end_key": "dIAAAAAAAAEk",
    "frames": [
        {
            "db_name": "test",
            "is_record": true,

[2019-01-09 07:06] shenlijungg opened #8996 "Configure tikv.toml in tidb-ansible or tikv server/conf/tikv.toml?"
1  :Configure tikv.toml in tidb-ansible?
需要在中控上新建tikv.toml，操作上直接重启，还是需要 执行?
ansible-playbook stop.yml -l   kvip
ansible-playbook bootstrap.yml -l   kvip
ansible-playbook deploy.yml -l   kvip
ansible-playbook start.yml -l   kvip

2  :Configure tikv.toml in tikv server/conf/tikv.toml?
vi  tikv.toml
ansible-playbook stop.yml -l   kvip
ansible-playbook start.yml -l   kvip

[2019-01-09 07:10] XuHuaiyu commented on #8993
Hi, @ericisme
Thanks for your attention.
1. TiDB and TiSpark are two compute engines but share the same storage TiKV. More details about TiSpark can be referred [here](https://pingcap.com/docs-cn/tispark/tispark-user-guide/)
2. TiDB can handle most of the complex queries, but whether to use TiDB or TiSpark is affected by different business scenario. Cases from our customer can be found [here](http

[2019-01-09 07:16] shenlijungg commented on #8958
@crazycs520
2019/01/06 14:04:50.789 printer.go:52: [info] Config: {"host":"0.0.0.0","advertise-address":"10.4.17.150","port":4000,"store":"tikv","path":"10.4.17.135:2379,10.4.17.136:2379,10.4.17.129:2379","socket":"","lease":"45s","run-ddl":true,"split-table":true,"token-limit":1000,"oom-action":"log","mem-quota-query":34359738368,"enable-streaming":false,"txn-local-latches":{"enabled":false,"capa

[2019-01-09 07:51] shenlijungg commented on #8996
drainer_mysql_drainer.toml      ansible-playbook rolling_update.yml --l  drainerhost?   @liubo0127

[2019-01-09 08:00] liubo0127 commented on #8996
The drainer is a single point service, you need to stop the service first, then update the configuration, and finally start the service.If you want to modify the configuration of drainer1(alias in inventory.ini) the steps are as follows:
1. `ansible-playbook stop_drainer.yml -l drainer1`
2. `ansible-playbook deploy_drainer.yml -l drainer1`
3. `ansible-playbook start_drainer.yml -l drainer1`

[2019-01-09 08:05] shenlijungg commented on #8996
**thanks** @liubo127

[2019-01-09 08:05] #8996 closed

[2019-01-09 09:09] ericisme commented on #8993
你的意思是spark可以处理非sql统计逻辑吗？ 那这个应该算是功能上的差异，我想问下，除了这个功能上的差异，如果是同事处理sql，性能上有差异吗，比如我看问题TiDB节点是无状态的，意味这一条sql只能由一个TiDB节点处理计算（如join逻辑），还是会多个TiDB协作处理？ spark应该是多节点协作处理吧，这是spark在性能上的优势吗？ 另外如果是这样，可以开发一个类似于spark这样的多节点处理的但对用户透明的TiDB节点吗，这样我们很多统计就可以直接用jdbc实现了，可以简单很多也少依赖和学习多一个spark, 谢谢？

[2019-01-09 09:17] winoros commented on #8993
Yes, One sql's execution will happen on only one TiDB for now. Spark's execution framework is stronger than current TiDB.

We definitely will do it. But it'll take much time to make this feature production-ready. So currently you may still need to rely on TiSpark to speed up some of your complex queries.

[2019-01-09 11:34] shafreeck commented on #8643
TiDB is external consistency as well. Instead of using an atomic clock which is a distributed manner, TiDB allocates timestamp from a highly available cluster which implements the `oracle` time service called `Placement driver`.

[2019-01-09 11:45] qw4990 opened #8997 "Add Benchmarks for Aggregation Executor"
There should be some benchmarks for aggregation executors and the input data and parameters can be modified by developers.
These benchmarks help developers to catch the performance of aggregation executors on different parameters and to tune their cost model better.

[2019-01-10 02:29] azza77 opened #9000 "deploy tidb cluster using tidb-docker-compose failed"
机器信息：1 核 1 GB 50G云硬盘
将docker-compose.yml pd2/tikv2 + tispark 启动信息去掉了
docker-compose up -d 启动后 docker ps查看  tikv-server 的status 一直是restart状态
mysql 登录提示：
ERROR 2013 (HY000): Lost connection to MySQL server at 'reading initial communication packet', system error: 0

相关信息如下：

docker images:
REPOSITORY                                   TAG                 IMAGE ID            CREATED             SIZE
do

[2019-01-10 02:33] alex-lx opened #9001 "How to get table name by id?"
How to get table name by id?

[2019-01-10 02:35] siddontang commented on #9000
Can you check the TiKV logs in your logs directory?

[2019-01-10 02:53] tennix commented on #9000
Yes, you can check TiKV logs in `logs` directory.

[2019-01-10 02:57] XuHuaiyu commented on #9001
Hi, @alex-lx Thanks for your attention.
[This](https://github.com/pingcap/tidb/blob/master/docs/tidb_http_api.md) can be referred.
`curl http://{TiDBIP}:10080/schema?table_id={tableID}`

[2019-01-10 03:00] azza77 commented on #9000
tikv0 和tikv1 最近的log:
2019/01/09 16:17:09.053 ERRO tikv-server.rs:437: invalid configuration: StringError("default rocksdb exist, buf raftdb not exist")
2019/01/09 16:36:32.553 ERRO tikv-server.rs:437: invalid configuration: StringError("default rocksdb exist, buf raftdb not exist")
2019/01/10 02:07:43.391 ERRO tikv-server.rs:437: invalid configuration: StringError("default rocksdb exist, buf raftd

[2019-01-10 03:42] shenlijungg opened #9002 "Leader balance ratio and Region balance ratio are 100%?"
version:
'5.7.10-TiDB-v2.1.0-5-g4dad722'

## Question

tidb  Detailed Description of Important Monitoring Indicators
![image](https://user-images.githubusercontent.com/35753836/50944643-35ccaa00-14cc-11e9-832e-a403bff736a5.png)

my grafana  show
![image](https://user-images.githubusercontent.com/35753836/50944627-23eb0700-14cc-11e9-88d3-4d8499f9af96.png)

[2019-01-10 03:43] shenlijungg commented on #9002
![image](https://user-images.githubusercontent.com/35753836/50944829-01a5b900-14cd-11e9-80ff-9c044a3519b2.png)

[2019-01-10 03:45] shenlijungg commented on #9002
![image](https://user-images.githubusercontent.com/35753836/50944880-3fa2dd00-14cd-11e9-970f-3c90d68cbb96.png)

[2019-01-10 03:47] nolouch commented on #9002
@shenlijungg  can you show the metrics of the `Balance` panel.

[2019-01-10 04:01] Wythetells commented on #8905
hi ,I have a problem with the same，
#mysql-server 10.92.6.16
mysql> show grants for bakup@10.92.6.68;
+---------------------------------------------------------------------------------------------------------------+
| Grants for bakup@10.92.6.68                                                                                   |
+---------------------------------------------------------------------

[2019-01-10 04:05] Wythetells commented on #8905
hi ,I have a problem with the same，
#mysql-server 10.92.6.16
mysql> show grants for bakup@10.92.6.68;
+---------------------------------------------------------------------------------------------------------------+
| Grants for bakup@10.92.6.68 |
+---------------------------------------------------------------------------------------------------------------+
| GRANT USAGE ON . TO 'bakup'@'10.92.6

[2019-01-10 04:31] shenlijungg commented on #9002
@nolouch
![image](https://user-images.githubusercontent.com/35753836/50946295-7bd93c00-14d3-11e9-8224-122847688429.png)
![image](https://user-images.githubusercontent.com/35753836/50946315-94495680-14d3-11e9-94bf-0773d4a017f7.png)
![image](https://user-images.githubusercontent.com/35753836/50946329-a1664580-14d3-11e9-8621-e99befb8937a.png)

[2019-01-10 05:44] WangXiangUSTC commented on #8905
@longhuguoji this error log show that you don't have the privilege to execute `SHOW GLOBAL VARIABLES LIKE 'sql_mode'` or `SHOW GLOBAL VARIABLES LIKE 'binlog_format'` in mysql, please check it.

[2019-01-10 05:45] nolouch commented on #9002
Seems you have a tombstone store. This ratio is according the maximum and minimum score，so the ratio is high. But the cluster is normal, we will improve these metrics in the next version.

[2019-01-10 05:47] shenlijungg commented on #9002
@nolouch   thanks!

[2019-01-10 05:50] WangXiangUSTC commented on #8905
@Wythetells I see that you only grant database `zabbix `'s privilege to the user, in fact, syncer need select , replication slave , replication client these privileges, Please grant these privileges and try again.

[2019-01-10 05:56] longhuguoji commented on #8905
@crazycs520  我还没有解决，咱俩问题一样。他们说的都解决不了。你如果解决了说一下解决方法。

[2019-01-10 05:59] WangXiangUSTC commented on #8905
@longhuguoji you can execute `SHOW GLOBAL VARIABLES LIKE 'sql_mode'` or `SHOW GLOBAL VARIABLES LIKE 'binlog_format'` success in mysql?

[2019-01-10 06:06] longhuguoji commented on #8905
@WangXiangUSTC sql_mode如下：ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION；
binlog_format: ROW

[2019-01-10 06:14] WangXiangUSTC commented on #8905
could you please show your privileges for user  'root' with 'localhost'、'127.0.0.1' and '20.4.18.43'? @longhuguoji

[2019-01-10 06:30] longhuguoji commented on #8905
@WangXiangUSTC User:'root'@'127.0.0.1'、User:'root'@'localhost'。没有配置‘20.4.18.43’

[2019-01-10 06:46] WangXiangUSTC commented on #8905
@longhuguoji please add grant for ‘20.4.18.43’ and try again

[2019-01-10 06:50] siddontang commented on #9000
so, seem you have too old data in the docker-compose, you can remove data directory and start again if you just want to test.

[2019-01-10 06:50] WangXiangUSTC commented on #8905
is this meta file grenerate by other user?  you can just chmod +666 to this file and try again

[2019-01-10 06:52] Wythetells commented on #8905
@WangXiangUSTC I used sudo TT

[2019-01-10 07:11] WangXiangUSTC commented on #8905
@longhuguoji @Wythetells  is your syncer work now?

[2019-01-10 07:35] azza77 commented on #9000
也试过了  data&logs目录清空 重新docker-compose up -d
mysql 登录提示：
mysql -h127.0.0.1 -P4000 -uroot
ERROR 2013 (HY000): Lost connection to MySQL server at 'reading initial communication packet', system error: 0

tidb log:
2019/01/10 05:34:30.519 client.go:170: [error] [pd] failed to get cluster id: rpc error: code = Unknown desc = server not started
2019/01/10 05:34:30.526 client.go:170: [error] [pd] failed to

[2019-01-10 07:44] Wythetells commented on #8905
@WangXiangUSTC yes ，my syncer is working ,but my syncer can only run in vty, if the window synchronization is turned off, it will end. I want it to run all the time.

[2019-01-10 07:52] WangXiangUSTC commented on #8905
you need use nohup run syncer @Wythetells

[2019-01-10 07:53] WangXiangUSTC commented on #8905
Seems your problem is solved, I will close this issue, you can reopen it if meet privileges question again. @Wythetells @longhuguoji

[2019-01-10 07:53] #8905 closed

[2019-01-10 09:48] ericisme commented on #9000
我这边windows docker也不行，后来发现是不能挂着data目录到windows上，logs目录是可以的，data目录不挂载可以启动成功，不然会报EOF的错

[2019-01-10 10:03] siddontang commented on #9000
Can you show me the `docker-compose.yml`

[2019-01-10 12:00] jonemeng opened #9009 "MySQL outperform tidb on some queries"
## Question

建表语句如下：CREATE TABLE `mingyi_resource_qa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `key` varchar(255) NOT NULL COMMENT '唯一键',
  `title` varchar(255) NOT NULL COMMENT '标题',
  `title_url` varchar(255) NOT NULL COMMENT '标题url',
  `hospital_doctor` varchar(255) DEFAULT NULL
  `hospital_level` varchar(255) DEFAULT NULL ,
  `answer` varchar(1024) DEFAULT NULL ,
  `img` varchar(255) DEFAUL

[2019-01-10 12:00] tennix commented on #9000
@azza77 Seems containers in your docker-compose can't connect with each other. Can you try to exec into a running container, say `pd0`:
[code]
And then access pushgateway service by `wget -qO- http://pushgateway:9091/metrics` to see if you can connect from one container to another.

[2019-01-10 12:18] winoros commented on #9009
Is tikv busy at that time? You can use grafana monitor to check this. See [文档/Coprocessor 指标解释](https://github.com/pingcap/docs-cn/blob/master/op-guide/dashboard-tikv-info.md#coprocessor)

Also, please provide your TiDB version. You can use `select tidb_version()` to get the result.

[2019-01-10 12:18] azza77 commented on #9000
@siddontang  放在这了  https://github.com/azza77/docker-compose/blob/master/docker-compose.yml

[2019-01-10 12:32] LiYuming opened #9010 "oltp-bench cannot successfully load data into tidb when SF=50"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Evaluating the TPC-C performance of TiDB with oltp-bench (https://github.com/oltpbenchmark/oltpbench).

2. What did you expect to see?

The test database can be loaded successfully~

3. What did you see instead?

When SF=10 and SF=20, tes

[2019-01-10 12:33] LiYuming commented on #9010
For MySQL and PostgreSQL, it's ok when SF = 50.

[2019-01-10 12:47] LiYuming commented on #9010
I get the solution from https://github.com/pingcap/tidb/issues/6042~

[2019-01-10 12:47] #9010 closed

[2019-01-10 13:31] jackysp commented on #9010
Hi @LiYuming
If you're using TiDB master branch, add `sessionVariables=tidb_batch_commit=1` after the jdbc DSN, it will automatically split the large transaction in batch. It is useful when loading data.

[2019-01-10 14:04] azza77 commented on #9000
@tennix  docker-compose exec pd0 sh
RROR: An HTTP request took too long to complete.
云服务器 买的便宜  配置太差，同一个docker-compose.yml配置不同机器错误日志不太一样

[2019-01-10 16:33] jianhaiqing opened #9013 "character gbk to be supported ?"
## Question

* will gbk be supported in the coming days ? columns needs to be sorted by Chinese.
[code]
* sql as follows
[code]

- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

[2019-01-10 17:40] morgo commented on #9013
TiDB currently sorts results based on binary order. It is possible with collations to respect the sorting rules of various languages.

This feature is on the [roadmap](https://pingcap.com/docs/ROADMAP/), initially with a general case insensitive collation.

Please let me know if I can help answer further.  Thanks!

[2019-01-10 18:02] morgo commented on #8995
TiKV recently proposed an RFC to [unify how to present the key](https://github.com/tikv/rfcs/blob/master/text/2018-11-12-unified-key-format.md).  Feedback welcome!

As an aside, I also created a https://github.com/pingcap/tidb/issues/7714 to be able to show the region info inside of TiDB directly.

I hope this helps!

[2019-01-11 02:20] azza77 commented on #9000
@tennix
https://github.com/azza77/docker-compose/blob/master/pushgateway.txt

[2019-01-11 02:41] jonemeng commented on #9009
which quota is very important？ let me show some metric
![default](https://user-images.githubusercontent.com/17735904/51009917-fc0fa800-158c-11e9-97d3-2a7892d3f2ad.png)
![default](https://user-images.githubusercontent.com/17735904/51009962-1b0e3a00-158d-11e9-963b-56d9e5fe9e91.png)
![default](https://user-images.githubusercontent.com/17735904/51009972-22cdde80-158d-11e9-91a0-73a83b582e4d.png)
![defa

[2019-01-11 02:42] tennix commented on #9000
From your pushgateway output, the connection is OK. But the error `An HTTP request took too long to complete.` may be the cause of the failure. 1 CPU and 1GB memory may not bring up the whole TiDB cluster. Could you comment out all except PD sections to see if PD can run correctly? If this works, you can just deploy one PD/TiKV/TiDB by [customizing docker-compose with Helm](https://github.com/ping

[2019-01-11 02:47] zz-jason commented on #9009
@jonemeng Does the `create table` statements in MySQL and TiDB are the same? Could you post the **json** formatted execution plan in MySQL by:
[code]

From the TiDB execution plan posted by you in the above, the execution of this query is so simple, I have two suspicions:
- The execution time is dominated by the double read and filter, or:
- The execution time is dominated by `HashAgg_7` executed

[2019-01-11 02:58] alex-lx opened #9014 "Durations in slowlog should use a simpler format"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We're using aliyun's log service to collect the slowlog, and found it's hard to parse the duration as a number.
**Describe the feature you'd like:**

The slowlog print duration in a fixed format, eg 1.4s, 0.01s, 10000s
**Describe alternatives you've considered:**

Preprocess the slowlog using an external script

[2019-01-11 02:59] shenli commented on #9014
@alex-lx Good suggestion.

[2019-01-11 03:01] zhangjinpeng1987 commented on #8896
@morgo You can enlarge the gc_life_time before running backup. If we enlarge the default gc_life_time, there is a risk that there are too many old versions that may slow some queries.

[2019-01-11 03:07] alex-lx commented on #9014
@shenli I created a PL to resolve this, would you like to take a look?

[2019-01-11 03:13] tshqin opened #9016 "incorrect error msg for utf8mb4 unsupport value"
utf8mb4 doesn't support value unhex('303030cac7'), the error msg is not correct.

repro steps:
[code]

MySQL:

MySQL:

[2019-01-11 03:42] shenlijungg opened #9017 "" tidb explain" Do not understand, do not understand"
## Question
select version()
5.7.10-TiDB-v2.1.0-5-g4dad722

sql:

explain SELECT
  c.f_number AS cNumber

  FROM dzqd_order_main c
 left join

  dzqd_order_entry entry on c.f_number = entry.f_number
   left join

  dzqd_order_cus cus on c.f_number = cus.f_number
 	where
	 c.f_channel_id = '30010004'

tidb explain
![image](https://user-images.githubusercontent.com/35753836/51011974-c4592e00-1595-11

[2019-01-11 03:46] shenlijungg commented on #9017
How to make efficient use of tidb multi-table index？

Do you have detailed documentation?

[2019-01-11 03:52] #8958 closed

[2019-01-11 03:52] jonemeng commented on #9009
[document.pdf](https://github.com/pingcap/tidb/files/2748001/document.pdf)
[tidb.tar.gz](https://github.com/pingcap/tidb/files/2748004/tidb.tar.gz)

MySQL explain
![default](https://user-images.githubusercontent.com/17735904/51012147-adffa200-1596-11e9-8899-175830f8fd4a.png)

your python tools not work ,i access the http interface and response as follow
![default](https://user-images.githubusercon

[2019-01-11 04:02] ericisme opened #9018 "Do we need ntpd to perform clock synchronization during servers in the cluster"
tidb 各个服务器需要做ntpd时间同步吗？

[2019-01-11 04:02] morgo commented on #9017
The EXPLAIN output format is [described in this manual page](https://pingcap.com/docs/sql/understanding-the-query-execution-plan/).  In addition, I can recommend taking a look at [TiDB Academy](https://pingcap.com/tidb-academy), where examples walk through EXPLAIN on a sample data set.

I hope this helps.  Please let me know if you have any further questions!

[2019-01-11 04:03] shenli commented on #9017
@shenlijungg Thanks for your feedback!
I can not get your point.

[2019-01-11 04:37] morgo commented on #9017
@shenlijungg can you please paste the output of:
[code]
Thank you!

[2019-01-11 04:39] shenlijungg commented on #9017
CREATE TABLE `dzqd_order_main` (
  `f_id` varchar(40) NOT NULL COMMENT '主键',
  `f_number` varchar(60) NOT NULL COMMENT '订单号',
  `f_createtime` datetime DEFAULT NULL COMMENT '创建时间',
  `f_last_updatetime` datetime DEFAULT NULL COMMENT '最后更新时间',
  `f_split_paysn` varchar(60) DEFAULT NULL COMMENT '分账序号',
  `f_channel_id` varchar(40) DEFAULT NULL COMMENT '渠道（对象，存储对象ID）',
  `f_grp_father_id` varchar(40)

[2019-01-11 04:40] shenlijungg commented on #9017
CREATE TABLE `dzqd_order_entry` (
  `f_id` varchar(40) NOT NULL COMMENT '主键',
  `f_number` varchar(60) DEFAULT NULL COMMENT '订单号',
  `f_parent_ID` varchar(40) DEFAULT NULL COMMENT '订单主键',
  `f_price` float DEFAULT NULL COMMENT '单价',
  `f_Amount` float DEFAULT NULL COMMENT '金额',
  `f_Amount_Inv` float DEFAULT NULL COMMENT '折扣金额',
  `f_qty` int(11) DEFAULT NULL COMMENT '数量(对象，存储对象id)',
  `f_User_rem

[2019-01-11 04:40] shenlijungg commented on #9017
CREATE TABLE `dzqd_order_cus` (
  `f_id` varchar(40) NOT NULL COMMENT '主键',
  `f_parent_ID` varchar(40) DEFAULT NULL COMMENT '订单主键',
  `f_number` varchar(60) DEFAULT NULL COMMENT '订单号',
  `f_cus_Name` varchar(60) DEFAULT NULL COMMENT '客户姓名',
  `f_cus_Tel` varchar(80) DEFAULT NULL COMMENT '客户电话',
  `f_cus_Zd_Add` varchar(255) DEFAULT NULL COMMENT '账单地址',
  `f_cus_ZJ_Type` varchar(40) DEFAULT NULL C

[2019-01-11 04:58] XuHuaiyu commented on #9018
Hi, @ericisme
ntpd is not needed in TiDB, we use PD to allocate the global unique timestamp.
[This](https://www.jianshu.com/p/4680bc2c2c65) can be referred.

[2019-01-11 05:00] shenlijungg commented on #9017
@morgo

[2019-01-11 05:04] XuHuaiyu commented on #9017
hi, @shenlijungg what do you mean by `multi-table index`？

[2019-01-11 05:05] shenlijungg commented on #9017
@XuHuaiyu     多个表的join关联 ,如何更好的走索引

[2019-01-11 05:07] morgo commented on #9017
Without any data loaded, TiDB will produce a similar execution plan to MySQL:
[code]

An explanation:
- MySQL only produces a nested loop join (TiDB supports nested loop (index), merge and hash).
- In my explain here, we can see it nested loop joins the tables in the same order as MySQL:  c, entry, cus.

Your query seems to be producing a MergeJoin, which suggests the statistics might be different

[2019-01-11 05:15] XuHuaiyu commented on #9017
It looks like TiDB chooses the same access path as MySQL for table c, cus and entry.

[2019-01-11 05:17] #9014 closed

[2019-01-11 05:38] jianhaiqing opened #9019 "feature like "index_merge" from MySQL, only tidb can implement the optimizer"
## Feature Request

**Is your feature request related to a problem? Please describe:**
SQL which contain OR works very slow in TIDB, but work well in MySQL;
+ select SQL looks like as follows:
[code]
+ DDL
[code]

**Describe the feature you'd like:**
TIDB can optimize the sql, working like 'union all';

**Teachability, Documentation, Adoption, Migration Strategy:**

[2019-01-11 05:40] XuHuaiyu commented on #9019
@jianhaiqing Thanks for your feedback.

[2019-01-11 05:42] shenlijungg commented on #9017
hi @morgo

Tidb dump log to send your gmail!!!

[2019-01-11 05:52] XuHuaiyu commented on #9017
Will it be possible to upload the dump file for statistics in this issue?

[2019-01-11 05:58] morgo commented on #9017
@XuHuaiyu I will upload them internally for you.

@shenlijungg I took a look at your stats, and with TiDB 2.1 and our current master branch it will `merge join` as it did in your example.  I just need one more thing from you.  Can you run `EXPLAIN ANALYZE` so we can compare the performance numbers of `merge join` versus the mysql-like behavior of nested loop join:

[code]

Thanks in advance!

[2019-01-11 06:19] morgo commented on #9019
Confirming output of EXPLAIN:
[code]

[2019-01-11 06:48] shenlijungg commented on #9017
@morgo @XuHuaiyu
TIDB_INLJ:
![image](https://user-images.githubusercontent.com/35753836/51017606-95e84c80-15af-11e9-89c7-95350a96e58a.png)
TIDB_SMJ：
![image](https://user-images.githubusercontent.com/35753836/51017715-fa0b1080-15af-11e9-8146-0b2ef435e568.png)

[2019-01-11 07:05] jianhaiqing commented on #9019
Yes. you can reproduce the output from mysql.5.7.

[2019-01-11 07:08] zz-jason commented on #9019
@jianhaiqing Thanks for your report, we are going to support this feature in the near future. 😄

[2019-01-11 07:32] azza77 commented on #9000
只是为了测试 验证些功能，一个pd/tikv/tidb节点 也是失败，
2019/01/11 07:11:36.595 client.go:170: [error] [pd] failed to get cluster id: rpc error: code = Unknown desc = server not started
2019/01/11 07:11:55.072 client.go:333: [error] tso request is canceled due to timeout
2019/01/11 07:11:57.370 kv.go:245: [error] fail to load safepoint from pd: context deadline exceeded
2019/01/11 07:11:57.957 client.go:311: [error]

[2019-01-11 07:54] tennix commented on #9000
@azza77 What about PD's log?

[2019-01-11 07:57] azza77 commented on #9000
2019/01/11 07:50:19.154 leader.go:87: [error] get leader err context deadline exceeded
2019/01/11 07:50:36.181 leader.go:116: [error] campaign leader err save timestamp failed, maybe we lost leader
github.com/pingcap/pd/server.(*Server).saveTimestamp
        /home/jenkins/workspace/build_pd_master/go/src/github.com/pingcap/pd/server/tso.go:69
github.com/pingcap/pd/server.(*Server).syncTimestamp

[2019-01-11 10:09] azza77 commented on #9000
Server version: 5.7.10-TiDB-v2.1.0-rc.3-426-g8468e7e MySQL Community Server (Apache License 2.0)
配置升级core:2 memroy:2g 单节点部署成功了
多谢各位 帮忙排查，我自己的坑。。。

[2019-01-11 11:17] #9000 closed

[2019-01-13 12:37] zz-jason commented on #6489
After this PR https://github.com/pingcap/tidb/pull/8994, we are able to set required chunk size for each executor.

[2019-01-13 14:34] exialin opened #9031 "two edge cases when running insert"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

Record two cases remain unresolved in PR #8544 . Here is some analysis https://github.com/pingcap/tidb/pull/8544#issuecomment-447532337

[code]

2. What did you expect to see?

MySQL:
[code]

3. What did you see instead?

TiDB:
[code]

4. What version of TiDB are you using (`tidb-server -V` or

[2019-01-14 02:19] morgo commented on #4673
A correction to my previous comment, there is a strong use-case for `CHECK TABLE` on a view:

The MySQL server will allow tables that a view references to be removed without dependency checking, so `CHECK TABLE` serves a useful purpose of ensuring a view is queryable.

[2019-01-14 02:59] XuHuaiyu commented on #9031
hi, @exialin
Thanks for your help.
- For Case 1:
As you mentioned in the comment, `18446744073709551616` is regarded as the type `MyDecimal` when be read from the client. And TiDB calls [convertFloatToUint](https://github.com/pingcap/tidb/blob/master/types/datum.go#L904) to do the type converting. But I'm not sure when will this happen: `Due to precision loss of float, it doesn't cause an overflow

[2019-01-14 03:39] eurekaka opened #9032 "broken merge join generated when TIDB_SMJ hint is specified"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?

We should not generate merge join for this query, because it has no column equal condition.

3. What did you see instead?

Merge join is generated, but it cannot be executed.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_ver

[2019-01-14 05:09] shenlijungg commented on #9017
@XuHuaiyu @morgo
Can you look at issue for me?

[2019-01-14 05:37] shenlijungg commented on #9017
@XuHuaiyu
tidb
![image](https://user-images.githubusercontent.com/35753836/51097725-37b2a800-1801-11e9-9edf-e01452b955c6.png)
mysql:
![image](https://user-images.githubusercontent.com/35753836/51097734-48631e00-1801-11e9-8a10-07245913806c.png)

[2019-01-14 05:45] WangXiangUSTC opened #9033 "order by rand() don't return random value"
1. What did you do?

I want get random value by `order by rand()`

2. What did you expect to see?
I use the sql below to get some random values.
[code]
I want to see random result in column a.

3. What did you see instead?
[code]

I run many times, and the result is same.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
tidb version: v2.1.2

[2019-01-14 05:48] dawnbreaks opened #9034 "Optimize SQL for handle ID query"
## Feature Request

[code]
Query execution plan for the above SQL are not acceptable,  TableScan is too slow and expensive. It 's expected that TIDB should use the handle ID(_tidb_rowid) to access the the raw table data directly!

[code]

[2019-01-14 06:30] XuHuaiyu commented on #9034
Hi, @dawnbreaks
What's your tidb_version?
You can run sql `select tidb_version()` to get it.

[2019-01-14 06:34] shenli commented on #9034
@dawnbreaks There is no data in your table. So I think it is reasonable for the query plan.
Please try inserting some data into your table and explain the query again.

[2019-01-14 06:34] shenlijungg commented on #9017
network  configuration    is  10MB    ,Bandwidth increased to 100MB   NOW! Is it enough?
 machine configuration:

8C 31G   500G   tidb1 ,tikv1      no  ssd!
8C 31G 531G     tidb2 ,tikv2        no  ssd!
8C 16G 331G      tidb3 ,tikv3    no  ssd!
16C 31G 531G      ,tikv4           no  ssd!
16C 31G 531G       ,tikv5         no  ssd!
16C 31G 531G       ,tikv6       no  ssd!
8C 15G 331G        pd1

[2019-01-14 06:34] shenlijungg commented on #9017
@XuHuaiyu

[2019-01-14 06:37] XuHuaiyu commented on #9033
@WangXiangUSTC
As the MySQL [manual](https://dev.mysql.com/doc/refman/8.0/en/mathematical-functions.html#function_rand) mentioned, 0<= `rand()` < 1.0.
Thus the results of the following 3 SQLs are always the same.
[code]

[2019-01-14 06:59] XuHuaiyu commented on #9017
Hi, @shenlijungg
The dataset and cluster configuration is enough to test the **function** of TiDB, but if you want to test the **performance** of TiDB.
The size of your test dataset is too small to exploit the advantage of TiDB.
MySQL fetches data from the local but TiDB fetches data through the network, the difference of the comparison results are expected.
We suggest you construct a dataset with

[2019-01-14 06:59] ciscoxll commented on #8987
There are two problems here.
1. Execute sql and try `ALTER TABLE db.table CHANGE COLUMN col1 col1 mobile varchar(16) charset utf8`.
2. Alter table `varchar(16) to varch(64)` there are plans to do this year.

[2019-01-14 07:00] 474420502 opened #9036 "Query is slow and many `peer is not leader` errors appear in log"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
2019/01/14 14:58:19.244 ERRO endpoint.rs:468: Region(message: "peer is not leader" not_leader {region_id: 463256 leader {id: 855655 store_id: 5}})
2019/01/14 14:58:19.246 ERRO endpoint.rs:468: Region(message: "peer is not leader" not_leade

[2019-01-14 07:13] rleungx commented on #9036
Thanks for your feedback! @474420502
How long does this problem last for? And what is your TiKV version?

[2019-01-14 07:15] ciscoxll commented on #9016
Waiting for this PR https://github.com/pingcap/tidb/pull/8818.

[2019-01-14 07:20] 474420502 commented on #9036
@rleungx  2 hours
TiKV
Release Version:   3.0.0-alpha
Git Commit Hash:   72bf02f8a71fef7d66c69deb1f9e0b25ba49a9ee
Git Commit Branch: master
UTC Build Time:    2018-12-27 03:07:19
Rust Version:      rustc 1.29.0-nightly (4f3c7a472 2018-07-17)

[2019-01-14 08:02] longhuguoji commented on #8905
@WangXiangUSTC 非常感谢，按照你的方法已经解决了。

[2019-01-14 08:06] 474420502 commented on #9036
@rleungx  知道问题了, 数据量不大日志行数太多(5亿). 拆出来就问题就减缓了.

[2019-01-14 08:16] zhaojunliRain opened #9039 "str_to_date function does not support ms"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Run sql: select str_to_date('1982-10-01 20:37:16.100', '%Y-%m-%d %H:%i:%s.%f');

2. What did you expect to see?
Return a data time value: 1982-10-01 20:37:16.100

3. What did you see instead?
Return value: null

4. What version of TiDB are

[2019-01-14 08:18] jonemeng commented on #9009
hi , @zz-jason ，are there any new discoveries?

[2019-01-14 08:31] rleungx commented on #9036
@474420502 Hmmm...sorry, I do not quite understand what you did. Could you explain more? What do you mean about splitting?

[2019-01-14 08:38] 474420502 commented on #9036
就是 有很多insert 冲突, 单表行数太大 - 这样的情境.  然后我暴力的把表的数据拆出来, 新创建一个新表. 然后恢复正常!

[2019-01-14 08:56] WangXiangUSTC commented on #9033
but mysql can get random value use this sql @XuHuaiyu

[2019-01-14 09:01] longhuguoji opened #9041 "problems about mydumper, loader, syncer"
question1:
在使用mydumper/loader的过程中，需要一定的时间。同步完之后，再提起syncer会丢失一定数据。请问，是先提起来syncer然后再执行mydumper/loader过程吗？
qustion2:
mydumper中的-t参数代表提起来n个线程卸数，t一般定义多大？
qustion3:
loader中的-t参数代表提起来n个线程装数据，且一个线程同一时间只能处理一个表，假如装100张表，是否t使用100，效率会高？

[2019-01-14 09:18] ngaut opened #9042 "Reduce commit latency in store's Commit method"
We can add a new command type and push the lazy checking to tikv, then we do not need to call batch get, with this way we can reduce a RPC roundtrip.  See
https://github.com/pingcap/tidb/blob/master/store/tikv/txn.go#L177

[2019-01-14 09:20] siddontang commented on #9042
/cc @zhangjinpeng1987

[2019-01-14 09:26] eurekaka opened #9044 "rows missing for LeftOuterSemiJoin when using merge join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

In TiDB:
[code]

2. What did you expect to see?

In MySQL:
[code]

3. What did you see instead?

One row missing when using merge join.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-01-14 09:39] lamxTyler opened #9045 "Grow the chunk size for window executor"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, window executor always use `newFirstChunk` to fetch child result, it's not efficient for big tables.

**Describe the feature you'd like:**

We should be able to grow the chunk size to fetch the child results.
Relates to https://github.com/pingcap/tidb/issues/6489

**Describe alternatives you've consi

[2019-01-14 10:00] #9032 closed

[2019-01-14 10:02] exialin commented on #9031
@XuHuaiyu

- For Case 1:
When the literal value is slightly larger than `MaxUint64`, namely in range [18446744073709551616, 18446744073709553664] (manually tested). Precision loss of float seems unavoidable in Golang. (Did I understand your question?)

- For Case 2:
Thanks for the hint. I'll check it.

[2019-01-14 10:22] zyw8136 opened #9047 "Lost connection to MySQL server during query-index out of range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
执行一个固定的sql时，在我的环境里面，每10次以内，必产生“Lost connection to MySQL server during query”

2. What did you expect to see?
获取到正确的结果。

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb

[2019-01-14 11:09] XuHuaiyu commented on #9047
@zyw8136 Really thanks for your report.
Can you provide us the explain result of the sql?

[2019-01-14 11:34] #8263 closed

[2019-01-14 11:57] XuHuaiyu commented on #9039
@zhaojunliRain
Thanks for your feedback.

[2019-01-14 12:00] winkyao commented on #9016
Close via #8818

[2019-01-14 12:01] winkyao commented on #9016
@ciscoxll This issue is the wrong message. Not the same thing with #8818 .

[2019-01-14 12:07] ciscoxll commented on #9016
@winkyao I am writing a PR again to fix.

[2019-01-14 12:08] WangXiangUSTC commented on #9041
1. you need get the binlog position `pos` before execute mydumper, after all data is loaded in tidb by loader, use  this `pos` to start syncer
2. the default value of threads is 4, you can adjust it according to your mysql and system's configuration.
3. it depends on your mysql/tidb's performance and your system's cpu performance. Under normal circumstances，the default value 16 is enough.

[2019-01-14 12:10] XuHuaiyu commented on #9034
Hi, @dawnbreaks , we've fixed it in this PR.
https://github.com/pingcap/tidb/pull/8047

But it may not be cherry-picked to version 2.1.

[2019-01-14 12:22] XuHuaiyu commented on #9031
@exialin
For Case 1:
I think maybe we should implement function `ConvertMyDecimalToInt`/`ConvertMyDecimalToUint` to solve this.
For now, we call `ConvertFloat64ToInt/Uint` when the type is Decimal or Float, but it will cause precision loss and further cause wrong result.

@jackysp What do you think about this issue?

[2019-01-14 12:40] WangXiangUSTC commented on #9041
I will close this issue, you can reopen it if have any other question. @longhuguoji

[2019-01-14 12:40] #9041 closed

[2019-01-14 12:58] XuHuaiyu commented on #9047
Hi, @zyw8136
I cannot reproduce this bug locally.
Would you mind simplifying this SQL to a minor one which can reproduce the problem?
Or
Will it be possible to provide us the origin data to reproduce it? If it's ok, you can send the file to my official e-mail xuhuaiyu@pingcap.com. The privacy is promised to be is safeguarded.

[2019-01-14 13:29] #9044 closed, assigned to eurekaka

[2019-01-14 15:52] shinytang6 commented on #9039
can l work on that?

[2019-01-14 16:03] zz-jason commented on #9039
Sure!

[2019-01-14 20:32] #9036 closed

[2019-01-15 01:35] zyw8136 commented on #9047
我发邮件给您了，请查收，谢谢！

[2019-01-15 01:38] longhuguoji commented on #9041
@WangXiangUSTC 你好，通的某个库下面有表，show tables可以看到，但是执行select语句报表不存在:table 'pboc.person_info; 'doesn't exist'；请问怎么回事？

[2019-01-15 02:30] wangpeng3477 opened #9054 "tikv cluster cpu usage different"
I have three tikvs
Why are the CPU usage of the three tikvs very different？
![image](https://user-images.githubusercontent.com/12760152/51154851-7f443d00-18b0-11e9-81fd-b9fd23bc2412.png)

[2019-01-15 02:41] #8713 closed

[2019-01-15 02:51] rleungx commented on #9054
@wangpeng3477 Thanks for your feedback!
What is your TiKV version? And could you please check if there is a hot spot in PD dashboard?

[2019-01-15 02:54] zz-jason opened #9055 "expected count should not directly push through certain operators"
## Bug Report

As the title said. For example:
[code]

As you can see in the execution plan, the expected row count 10 was pushed through `HashAgg_15`.

For hash aggregate, it has to pull all the data of its child to calculate the correct result, i.e. it's a pipeline breaker in the execution flow. In this case, the expected output row count for its child should not be 10.

But for stream aggregate

[2019-01-15 02:59] dawnbreaks commented on #9034
Is there a plan to cherry-pick it to version 2.1?

[2019-01-15 03:01] XuHuaiyu commented on #9034
PTAL @zz-jason @shenli

[2019-01-15 03:04] wangpeng3477 commented on #9054
![image](https://user-images.githubusercontent.com/12760152/51156083-fda2de00-18b4-11e9-9f38-fe07596d7a46.png)
![image](https://user-images.githubusercontent.com/12760152/51156143-2c20b900-18b5-11e9-90b5-a16f1bba1250.png)

[2019-01-15 03:06] rleungx commented on #9054
@wangpeng3477 Could you also share the `HotRegion` panel?

[2019-01-15 03:07] shenlijungg opened #9056 "how to change IP address for tidb cluster"
## Question
目前集群已搭建 5tidb,6 tidv,3pd,3pump,1 drainer，目前有数据已有。
目前集群部署在eth0   10.xxx.xxx.xxx 地址
想切换的eth2   172.xxx.xxx.xxx 地址
目前测试环境失败，PD, ETCD 是否需要重新部署，pd 的data.pd  是否需要复制到新节点。

[2019-01-15 03:20] tennix commented on #9056
/cc @tennix @weekface

[2019-01-15 03:20] wangpeng3477 commented on #9054
![image](https://user-images.githubusercontent.com/12760152/51156675-93d80380-18b7-11e9-834b-b6d3e61db6dd.png)

[2019-01-15 03:21] wangpeng3477 commented on #9054
![image](https://user-images.githubusercontent.com/12760152/51156714-bbc76700-18b7-11e9-9c60-e128803e0c8c.png)

[2019-01-15 03:36] rleungx commented on #9054
It seems that store 1 has a read hot spot. I guess this is the reason why the usage of CPU on store1 is higher than others. You can also check `gRPC message count` in TiKV dashboard to see if most of requests are sent to store 1. The way to do it is as follows:
- modify the query by using `sum(rate(tikv_grpc_msg_duration_seconds_count{job=~"$job", type!="kv_gc"}[1m])) by (type, job)` in `grpc mess

[2019-01-15 04:02] nolouch commented on #9056
@shenlijungg  Or you can test with this way:
1. use [`pd-recover`](https://github.com/pingcap/docs-cn/blob/master/tools/pd-recover.md) to rebuild  the PD cluster.
2. modify the PD address in other component configuration file.

[2019-01-15 04:10] shenlijungg commented on #9056
@XuHuaiyu @nolouch  thanks!

[2019-01-15 04:10] #9056 closed

[2019-01-15 05:04] zz-jason commented on #9034
@dawnbreaks already cherry picked to release-2.1, close this issue now.

[2019-01-15 05:04] #9034 closed

[2019-01-15 06:28] denghuancong opened #9062 "mediumtext content insert parse sql error"
tidb version：v2.0.4
---------------------------
we define the table
[code]
and we insert the line：
[code]
and it parse error, tips about grey_status error:
![image](https://user-images.githubusercontent.com/1788022/51162491-52545200-18d1-11e9-98b1-78c6202d691a.png)

Is there anything we using wrong or just data out of range? but we change the content to more small charests , it worked fine, when w

[2019-01-15 06:33] XuHuaiyu commented on #9062
Hi, @denghuancong
Thanks for your feedback, very impressive.

How do you run the `insert` sql?
e.g. run through mysql-client and using prepare statememt?

[2019-01-15 06:41] rleungx commented on #9054
@wangpeng3477 You can click it and edit this panel.

[2019-01-15 06:43] bqwzhl20 opened #9063 "tidb lightning checkpoint are not written to database"
## Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

[2019-01-15 06:48] bqwzhl20 commented on #9063
tidb-lightning.toml  as follow：
[checkpoint]
enable = true
schema = "tidb_lightning_checkpoint"
dsn = "root:xxx@tcp(192.168.5.12:4000)"

checkpoint written to “root:xxx@tcp(192.168.5.12:4000)” file，not to database “tidb_lightning_checkpoint”

[2019-01-15 06:48] wangpeng3477 commented on #9054
![image](https://user-images.githubusercontent.com/12760152/51163408-85e4ab80-18d4-11e9-860a-06d99c57569c.png)
What should I do can average the load?

[2019-01-15 06:52] denghuancong commented on #9062
@XuHuaiyu
we using xorm framework.
the model file as follow
[code]
and the code is
[code]

[2019-01-15 06:54] WangXiangUSTC commented on #9063
you need add `driver = "mysql"` under the `[checkpoint]` @bqwzhl20

[2019-01-15 06:59] XuHuaiyu commented on #9031
After discussed with @jackysp , we may fix Case 1 as I mentioned in [this comment](https://github.com/pingcap/tidb/issues/9031#issuecomment-453987094).

[2019-01-15 07:03] XuHuaiyu commented on #9062
1. `we change the content to more small charests , it worked fine`

What do `small charsets` mean here?

2. May you provide us the result of `show create table table_name`?

[2019-01-15 07:10] bqwzhl20 commented on #9063
it's ok，thanks

[2019-01-15 07:10] #9063 closed

[2019-01-15 07:11] victorggsimida opened #9064 "timestamp column default value bug in multiple time zones"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

the privious version : 08.14 rc version

currecnt version: 2019-01-03 rc version

2. What did you expect to see?

now=2019-01-05 15:06

mysql> alter table Account add column `marstime` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDAT

[2019-01-15 07:13] denghuancong commented on #9062
1.the content value  we set a small one (for example : 20000 chars 'a' , it can insert success, but we change to larger , we set content value to 300000 chars 'a' , it broken ant error
[code]

2. show create table table_name output:

[code]

[2019-01-15 07:18] XuHuaiyu commented on #9062
PTAL @ciscoxll

[2019-01-15 07:21] XuHuaiyu commented on #9064
@victorggsimida Thanks for your feedback.
1.

currecnt version: 2019-01-03 rc version

May you provide us the githash of these two tidb-server binary?

2.

is stil the same

What does `still the same` mean?

3.

What does this mean?

4.

+---------------------+
| max(marstime) |
+---------------------+
| 2019-01-15 22:54:33 |
+---------------------+
1 row in set (0.38 sec)
mysql> select min(marsti

[2019-01-15 07:32] victorggsimida commented on #9064
@XuHuaiyu
1.
Release Version:   2.0.11
Git Commit Hash:   c666277d3565164a00451b95666012cb04274d93
Git Commit Branch: release-2.0
UTC Build Time:    2019-01-03 09:29:52
Rust Version:      1.27.0-nightly (48fa6f963 2018-04-05)

privious version：
tidb-server v2.0.6

2. the same:  I execute the same command in this two version and the result is the same.

Today: I upgrade the cluster from V2.0.6 to 2

[2019-01-15 07:48] rleungx commented on #9054
You can use `pd-ctl` to check which Region is hot. The command lists as follows:
[code]
After you find the Regions, you can transfer the leader of that Region into another store by using the following command:
[code]
If only one Region is hot, you can use split command to divide it into two Regions and then transfer the leader if needed:
[code]

[2019-01-15 07:56] dbjoa commented on #9033
@WangXiangUSTC
Could you show your results and the reproducible scenario?

[2019-01-15 08:02] ciscoxll commented on #9062
@denghuancong

1.the content value  we set a small one (for example : 20000 chars 'a' , it can insert success, but we change to larger , we set content value to 300000 chars 'a' , it broken ant error
[code]
-----
* This character set should be a character set limitation problem tidb v2.0.0 : The default character set is utf8 3 bytes per character so is the maximum length limit 65535 / 3 = 21845
In

[2019-01-15 08:07] shinytang6 commented on #9039
After digging into the code, l found that almost all the functions defined [here](https://github.com/pingcap/tidb/blob/master/types/time.go#L2151) have the same problems, tidb limits the length while mysql uses automatically zero padding.

e.g.

     select str_to_date('1982-10-01 20:37:1.100', '%Y-%m-%d %H:%i:%s');

also return null because the second is `1` not `01`.

@zz-jason @XuHuaiyu Is ther

[2019-01-15 08:17] denghuancong commented on #9062
@ciscoxll
hi, you said that the mediumtext  type only can save  21845 characters when we using utf8 to store data ?
I check the limit of mediumtext  type is 16777215 characters .
Is tidb has its custom limitation ?
how about other type  , such as LONGTEXT ?, we also met the same error

[2019-01-15 08:27] siddontang opened #9067 "YCSB workloade is too slow for scan operation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I start a cluster with 1 PD + 1 TiKV + 1 TiDB, run go-ycsb with workloade like:

[code]
The workloade is little changed with 100% scan:

[code]

2. What did you expect to see,

Scanning at most 10 items has better performance.

3. What did you see instead?

The performance is very pool.

From Ti

[2019-01-15 08:33] ciscoxll commented on #9062
@denghuancong Please ignore the answer just now. this is the inserted column that is outside the allowed range of the data type. the error will also appear in [mysql](https://dev.mysql.com/doc/refman/5.5/en/out-of-range-and-overflow.html).

[2019-01-15 08:33] wangpeng3477 commented on #9054
If I maintain the status quo, will there be a problem?
such as tikv1 is full, will it be saved to other tikvs

[2019-01-15 08:37] ciscoxll commented on #9062
@denghuancong You can try `LONGTEXT` with a maximum column length of 4294967295, Can refer to our [docs](https://pingcap.com/docs-cn/sql/datatype/#tidb-%E6%95%B0%E6%8D%AE%E7%B1%BB%E5%9E%8B);

[2019-01-15 08:50] duhongx opened #9068 "Manual deployment monitoring?"
I am an Operations and Maintenance Engineer, using Ansible offline deployment of all components have been installed, there are no binary installation steps, follow-up deployment is no longer deployed in the Internet environment, need to manually install export, prometheus, grafana, alertmanager components, how these components are installed, can you tell me?

[2019-01-15 09:00] rleungx commented on #9054
@wangpeng3477 In general, if only one TiKV is full, there are still two TiKV, which can meet the majority. It won't affect the normal service. What does matter is after TiKV1 is full, it can't be written. So it will cause some Regions only have two replicas.
And in your case, I find the Region size is balanced. So this situation may not happen. When TiKV1 is full, the others may also be out of spa

[2019-01-15 09:05] liubo0127 commented on #9068
You can refer to the documentation: https://pingcap.com/docs-cn/op-guide/offline-ansible-deployment/. Using the offline download method, you still need to execute local_prepare.yml (download related dependencies) on a networked machine, and then transfer it to the corresponding machine. Follow the online method to deploy, all components will be deployed automatically.

[2019-01-15 09:11] XuHuaiyu commented on #9064
OK, @victorggsimida
I have 2 more questions:
1. What's the result of `select @@time_zone` in TiDB?
If it's `SYSTEM`, you may further check what's the timezone of your system.

2. I can not find this git commit hash c666277d3565164a00451b95666012cb04274d93 in branch [release-2.0](https://github.com/pingcap/tidb/tree/release-2.0). Is it a temporary version?

[2019-01-15 09:15] jeeffy opened #9069 "Disk IO keep close to 100%, even if I remove the region leaders on that node"
Tidb cluster with 5 nodes are installed by docker, version is v2.1.2, cluser info as follows:
[code]
I found that the disk IO of tikv-3 was very high, close to 100%, but the other two nodes were very low, about 20%. By the pd-ctl command `scheduler add evict-leader-scheduler 6`, all the region leaders on tikv-3 are evicted, and the disk IO is still close to 100%, the other two nodes are about 60%.

[2019-01-15 09:36] rleungx commented on #9069
@jeeffy Thanks for your feedback!
Could you please check if there is a write stall? Or if there is another process to write the disk?

[2019-01-15 09:50] XuHuaiyu commented on #9041
Maybe you need to change \`pboc.person_info;\` to \`pboc.person_info\`. @longhuguoji

[2019-01-15 10:01] eurekaka commented on #9067
If the table is empty, the plan looks like:
[code]
so the limit is pushed down to TiKV if table is empty.
I have run `./bin/go-ycsb run tidb -p recordcount=1000000 -p operationcount=1000000 -p threadcount=100 -p fieldcount=5 -p fieldlength=16 -p maxscanlength=10 -p mysql.port=4000 -P workloads/workloade
` and checked the table `usertable` at the same time, looks like the table is empty during the

[2019-01-15 10:09] wangpeng3477 commented on #9054
I feel that the current CPU exception may still need to be improved, according to the method you said can be resolved
And <region_id> <store_id> where to get it

[2019-01-15 10:13] wangpeng3477 commented on #9054
My topology is 1 pd_server,1 tidb,3 tikv.
Does it have anything to do with this?

[2019-01-15 10:16] rleungx commented on #9054
@wangpeng3477 When you use the following command, it will list some Regions which are hot spots. You can find <region_id> from the output. As for <store_id>, you can choose store 4 or store 5 in your case.
[code]

[2019-01-15 10:46] wangpeng3477 commented on #9054
<ip>:<port>  are pd's machine param?

[2019-01-15 10:54] victorggsimida commented on #9064
@XuHuaiyu

1. time_zone variables:

before upgrade today,  I remember that I have set the time_zone to shanghai to avoid the problem of glibc timestamp transfer lock.

Because I have a problem of  using too much system cpu where I select  many  data which the data include timestamp type.

After upgrade:  I roll update the cluster  and the time_zone is as below shows
mysql> select @@time_zone;
+---

[2019-01-15 12:33] denghuancong commented on #9062
@ciscoxll  we test the following case, we change the table architecture, and it can insert success,
[code]
and we insert the line：
[code]

Is there a bug of tidb sql parer ? we deleted some value and using same long value , it worked fine and not out of the limit.

[2019-01-15 13:32] vipsql opened #9077 "Batch insert data with multi-threads meet error"
## Bug Report

1. What did you do?
多线程批量插入数据(采用mysql方式的批量数据插入),出现:
错误1: tikv gc worker is busy
错误2: tidbserver  [domain:1]Information schema is out of date.
github.com/pingcap/tidb/vendor/github.com/pkg/errors.AddStack
        /home/jenkins/workspace/build_tidb_master/go/src/github.com/pingcap/tidb/vendor/github.com/pkg/errors/errors.go:173

2. What version of TiDB are you using (`tidb-server -V`

[2019-01-15 13:51] jackysp commented on #9077
Thanks for your report, @vipsql !
What is the specific bulking-insert workload?

[2019-01-15 13:53] zhangjinpeng1987 commented on #9077
@vipsql Can you provide TiDB and TiKV 's log?

[2019-01-16 00:43] siddontang commented on #9067
No, you need to load data at first.

@breeswish has already told me that now TiDB doesn't support this query, we need to use index hint forcibly.

[2019-01-16 02:03] jeeffy commented on #9069
Only tikv-3 is using the disk，how to check write stall in docker?

[2019-01-16 02:33] eurekaka commented on #9067
@breeswish Could you please elaborate more on this problem here? thanks.

[2019-01-16 02:42] jaczuo opened #9079 "slow query in mysql.stats_histograms"
## Question

Saw following slow query several times, that should be a table used by tidb. Is there any way to work around this?

[code]

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiD

[2019-01-16 02:57] rleungx commented on #9069
@ethercflow PTAL.

[2019-01-16 03:08] ethercflow commented on #9069
@jeeffy

Eg: your tikv-3's data disk is /dev/sdb, you can analyze IO performance as follows
[code]
then please upload sda.btt.

Notice, please run blktrace on other disks, it can generate IO request too.

[2019-01-16 03:14] meixiaofei opened #9081 "Can not setting null as the value of a none exist alias column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
As the title described, I set a null value as init data of a none exist column, and TIDB throw exception: ```runtime error: index out of range```
![image](https://user-images.githubusercontent.com/20218180/51223949-e4666400-197e-11e9-8091-

[2019-01-16 03:20] jeeffy commented on #9069
@ethercflow Thanks, disk sdb performance as follows.  check with ``

[2019-01-16 03:34] vipsql commented on #9077
2019/01/16 11:33:44.733 ERRO process.rs:179: get snapshot failed for cid=1580434, error Request(message: "peer is not leader" not_leader {region_id: 12229})
2019/01/16 11:33:44.733 ERRO process.rs:179: get snapshot failed for cid=1580435, error Request(message: "peer is not leader" not_leader {region_id: 16325})
2019/01/16 11:33:44.733 ERRO process.rs:179: get snapshot failed for cid=1580437, erro

[2019-01-16 03:36] lamxTyler commented on #9079
@jaczuo Thanks for your feedback. Currently, we don't have a way to work around it. But you don't need to worry about it, it does not affect the normal execution of queries. And in release v2.1,  we will label these queries as internal.

[2019-01-16 03:38] vipsql commented on #9077
TiDB Error:
2019/01/16 11:36:44.601 backoff.go:240: [warning] backoffer.maxSleep 20000ms is exceeded, errors:
server is busy, ctx: &{{11477 5 315} id:11477 start_key:"t\200\000\000\000\000\000\000\334_i\200\000\000\000\000\000\000\001\001eb25ed36\3773d42ec46\37712e7238c\3773b05d9dc\37776746e66\37765646362\37702346fb7\377ee708d4a\377461f8717\3770eb56984\37730313233\37734353637\377\000\000\000\000\0

[2019-01-16 03:41] XuHuaiyu commented on #9081
Hi, @meixiaofei
Thanks for your feedback.
May you provide us the whole sql, and the explain result of the sql?

[2019-01-16 03:53] jaczuo commented on #9079
@lamxTyler got it, 3Q

[2019-01-16 03:59] tiancaiamao opened #9083 "Check value constraint for 'partition by range column'"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://github.com/pingcap/tidb/pull/9082 add 'partition by range column'

But it doesn't check value constraint

https://dev.mysql.com/doc/mysql-partitioning-excerpt/5.7/en/partitioning-columns-range.html

[2019-01-16 04:14] jonemeng commented on #9009
my table size about 40G,and i have 3 tikvs  ,now my tidb configure is
**commit-timeout = "41s"
grpc-connection-count = 16**
if i increase the connection size ,is there will be better?

[2019-01-16 04:19] jonemeng commented on #9009
this is my cluster configure ，plz help me check it.thanks very much!
[tidb.txt](https://github.com/pingcap/tidb/files/2762603/tidb.txt)
[tikv.txt](https://github.com/pingcap/tidb/files/2762604/tikv.txt)

[2019-01-16 05:06] ihipop opened #9084 "Weird index / table scan beahvior for same SQL"
## Bug Report

1. What did you do?
Same SQL，Chnange the `mobile` and `username` in SQL，One will have a bunch of table scan，The other have `0` index Scan and table scan

## sql#1
![image](https://user-images.githubusercontent.com/423077/51224984-6e183080-1983-11e9-9cfa-81794472b225.png)

## sql#2
![image](https://user-images.githubusercontent.com/423077/51227094-aa508e80-198d-11e9-9135-58e53e24314b

[2019-01-16 05:12] lamxTyler commented on #9067
@eurekaka From @breeswish's info:

- the `YCSB_KEY` is increasing in the table
- there are 1000000 records in the table
- From `processed_keys:358759`, we can verify that they are about 65% percent keys that satisfy the condition `YCSB_KEY >= 'user6438141073078409495'`

So the planner thinks it is better to choose the table scan, as it assumes the keys are randomly spreaded in table, so scans 9/0.

[2019-01-16 05:43] eurekaka commented on #9067
@breeswish @lamxTyler thanks for the clarification, this can be solved after we know the order correlation between column and table/index. Keep this issue opened here for later revisit.

[2019-01-16 05:47] jeeffy commented on #9069
Result of blktrace performance testing:
[code]

[2019-01-16 06:12] duhongx commented on #9068
Is there any way to manually deploy tidb/pd/tikv monitoring? For example, if you deploy tidb using docker, how should you deploy monitoring?

[2019-01-16 06:13] jeeffy commented on #9069
All the disks on 3 tikvs are the same, they are Intel 545s 512G. Why is only the disk IO of tikv-3 full?

[2019-01-16 06:59] StoneZoul commented on #6359
hello，I am using SSD disk，but it still not fit the requirement... when i do ansible-playbook bootstrap.yml it tells me "fio: randread iops of tikv_data_dir disk is too low: 11406 < 40000, it is strongly recommended to use SSD disks for TiKV and PD, or there might be performance issues."...

I saw other users report said it requires 8500, but why it requires 40000 in my environment...

[2019-01-16 07:39] StoneZoul commented on #9069
hi, i have met the same issue...
I am using SSD disk，but it still not fit the requirement... when i do ansible-playbook bootstrap.yml it tells me "fio: randread iops of tikv_data_dir disk is too low: 11377 < 40000, it is strongly recommended to use SSD disks for TiKV and PD, or there might be performance issues."...

I saw previous issue: https://github.com/pingcap/tidb/issues/6359 said 8500 is mi

[2019-01-16 07:57] jeeffy opened #9089 "Inserting data slows down as the amount of data increases"
Tidb cluster with 5 nodes are installed by docker, version is v2.1.2, cluser info as follows:
[code]
Inserting data slows down as the amount of data increases.

|data increasement| cost|
|--------------------|-----|
|0->0.8 billion         |15h |
|1.1->1.5 billion      |15h |

At the same time, the amount of data inserted is reduced by half. Query performance also decreases dramatically as the amo

[2019-01-16 08:05] tiancaiamao commented on #9089
PTAL @zhangjinpeng1987

[2019-01-16 09:06] ljhmily opened #9091 "query is get the little number, but tidb returns the big more."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
i watn to delete my zabbix history data before timestamp 1544088416.
so i execute select * from history where clock < 1544088416;
desc history;
+--------+---------------------+------+------+---------+-------+
| Field  | Type

[2019-01-16 09:11] eurekaka commented on #9084
@ihipop Thanks for your feedback.

The behavior is decided by the data in your table, i.e, if a lot of rows satisfy the condition `receiver_mobile = xxx`, then the `read` metrics would increase. You can run the following SQL to know how many rows actually scanned:
[code]

[2019-01-16 09:20] eurekaka commented on #9091
@ljhmily Thanks for your report.

Here is the minimal repro on master branch:
[code]

Looks like it is a bug caused by overflow, we will fix this soon.

[2019-01-16 09:32] eurekaka commented on #9091
@ljhmily Oh, it is not a bug, the result is caused by your SQL, you should use:
[code]
instead of:
[code]
since the result is as expected, close this issue.

[2019-01-16 09:32] #9091 closed

[2019-01-16 09:53] ihipop commented on #9084
@eurekaka But what about this,I use index to select the exact order no
[code]
there is a index named `order_id`
![image](https://user-images.githubusercontent.com/423077/51240681-332ff000-19b7-11e9-9590-70f88b39b902.png)

still have both `table scan` and `index scan`
and a very low query speed

with a bunch of read  and many `GRPC error` and db slow down

![image](https://user-images.githubusercon

[2019-01-16 10:04] vipsql commented on #9077
@jackysp i want to make the stream calculate result store to tidb

[2019-01-16 10:09] ihipop commented on #9084
@eurekaka But what about this,I use index to select the exact order id
[code]
![image](https://user-images.githubusercontent.com/423077/51241882-b2262800-19b9-11e9-89e5-f94756731ad5.png)

there is a index named `order_no`

![image](https://user-images.githubusercontent.com/423077/51241812-8f940f00-19b9-11e9-8858-de9a6712e2d0.png)

still have both `table scan` and `index scan`

if I remove `use ind

[2019-01-16 10:41] DamonYellow opened #9092 "Any chance to support changing the primary key with Syncer?"
In this doc: https://pingcap.com/docs-cn/tools/syncer/#sharding-同步支持, we found that one of the sharding rules is: "分表中是否包含唯一递增主键，或者合并后是否包含数据上有冲突的唯一索引或者主键".
Unfortunately, we set a auto-increment primary key starting from 1 in our separate tables(we think most people would also do that), but we do have another key that is globally unique, could we set it as the primary key for syncer sharding pleas

[2019-01-16 10:46] ihipop commented on #9084
@eurekaka if i change `order_no` from `xxxxxxxx` to `yyyyyyy` which `platform_type=1` (platform_type=1 **is most of all in the table**)，the index of explain become `0`，but there is one row returned.
[code]

# And

有时候查询索引的选择也有问题，表里面**只有且只有一个**order_id相关索引，查询条件也只有一个order_id，使用的使用还是必须对查询 使用 use index 指定order_id索引，否则就是表扫
![image](https://user-images.githubusercontent.com/423077/51243903-b3a61f00-19be

[2019-01-16 11:04] meixiaofei commented on #9081
@XuHuaiyu Hi
---
The business sql is ugly, so I take a simple 🌰 here, it reappear the exception.
---
In addition, the sql is executed correctly under mysql8 or change the null value to a not null value which marked ahead before, then it would be executed correctly under our TiDb
---
## Scheme and data sql
[code]
## Excute sql
[code]

[2019-01-16 12:06] zimulala commented on #8779
@qw4990
That PR is merged. If there are still problems, you can reopen it.

[2019-01-16 12:06] #8779 closed

[2019-01-16 12:06] zimulala commented on #8779
@qw4990
That PR is merged. If there are still problems, you can reopen it.

[2019-01-16 12:34] eurekaka commented on #9084
First, `count` of explain is an estimation, not the real number of rows returned. Second, planner would compare the cost of index scan and table scan, if the filter is always true, table scan would be faster than index scan, because index scan would be accompanied with a table scan to get the whole row as you pasted above, that would incur cost. From the explain output you pasted, planner believes

[2019-01-16 12:38] dbjoa commented on #9089
@jeeffy Would you try to use [SHARD_ROW_ID_BITS](https://pingcap.com/docs/sql/tidb-specific/#shard-row-id-bits) when creating the tables?

[2019-01-16 12:42] ethercflow commented on #9069
@rleungx PTAL

[2019-01-16 12:48] rleungx commented on #9069
@StoneZoul You can try to use the following command:
`ansible-playbook bootstrap.yml --extra-vars "dev_mode=True"`

[2019-01-16 13:18] rleungx commented on #9069
@jeeffy Can you share us more metrics?
- write flow and compaction flow in both `RocksDB-kv` and `RocksDB-raft` panel of TiKV dashborad.
- grpc message count in `Grpc` panel of TiKV dashborad.
Before you upload them, you can use edit it and modify the query like this:
![image](https://user-images.githubusercontent.com/35896542/51250543-a34b6f80-19d1-11e9-816e-a22a584ac863.png)
- leader count and l

[2019-01-16 13:35] StoneZoul commented on #9069
thank you,  ansible-playbook bootstrap.yml --extra-vars "dev_mode=True" works

[2019-01-16 14:37] siddontang commented on #9069
@jeeffy

I think you can use `iotop` to check which costs high IO.

[2019-01-16 14:38] siddontang commented on #9089
PTAL @Connor1996

[2019-01-16 14:40] siddontang commented on #9089
@jeeffy

Does your Grafana show the same scenario as meituan's?

[2019-01-16 15:43] breeswish commented on #8947
I met this issue as well.

[2019-01-17 01:42] jeeffy commented on #9089
@siddontang The scenario is similar, but I don't configure heartbeat.

[2019-01-17 01:49] jeeffy commented on #9069
@siddontang snapshot of iotop
![9pnpk k36jcy44zen dym9](https://user-images.githubusercontent.com/10725676/51289861-e0991700-1a3c-11e9-8c23-ca0729d246c8.png)

Snapshot of `top -H`
![295j3 tp ff2j5nv2uzfaom](https://user-images.githubusercontent.com/10725676/51289948-2ce45700-1a3d-11e9-908d-1b1c1a9a69cc.png)

[2019-01-17 02:03] tiancaiamao commented on #9092
PTAL @GregoryIan

[2019-01-17 02:03] victorggsimida commented on #9064
@XuHuaiyu  is there any progress in this issue?

[2019-01-17 02:08] XuHuaiyu commented on #9064
Sorry for late reply, I did not notice your comment before.

1.

Do you mean you changed your timezone to shanghai in tidb server? If so, how did you do that?

2.
What's the timezone of your system?

[2019-01-17 02:14] ihipop commented on #9084
@eurekaka Thanks for your patient

 But ,**The `planner` choose the wrong way. In this Example**, `planner`  prefers `table scan` over `index lookup`, But it cause a very slow query speed **in Minutes**. If I re-query it with ```use index (`order_id`)``` trick  , **the result will return in 0.0x seconds**,
Same SQL ,different `UUID`,Some `UUID` of `order_id` doesn't need the ``use index`` trick,So

[2019-01-17 02:29] victorggsimida opened #9096 "join with USING clause/natural join doesn't work well"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]
3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-01-17 02:31] XuHuaiyu commented on #9064
what's the result of
`explain select min(marstime) From Account;`

[2019-01-17 02:33] victorggsimida commented on #9064
@XuHuaiyu
mysql> explain select min(marstime) From Account;
+----------------+--------------+----------------+------+--------------------------------------------------------------------+-------+
| id             | parents      | children       | task | operator info                                                      | count |
+----------------+--------------+----------------+------+-------------

[2019-01-17 02:44] XuHuaiyu commented on #9064
So your operation process is as follows?
1. SET GLOBAL time_zone = 'Asia/Shanghai'; // I'm not really sure whether you really set the **GLOBAL** timezone.
2. upgrade tidb cluster to v2.0.11
3. run `alter table Account add column marstime timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP;`
4. run `alter table Account add index(marstime);`

[2019-01-17 02:45] XuHuaiyu commented on #9064
And please run the following sqls:
`select min(marstime) From Account ignore index(marstime)`
`explain select min(marstime) From Account ignore index(marstime)`

[2019-01-17 02:46] victorggsimida commented on #9064
@XuHuaiyu
1. I am sure. Because I exit session. and relogin and check the variable

2.  tidb version  now:::
What version of TiDB are you using (tidb-server -V or run select tidb_version(); on TiDB)?
| Release Version: v2.0.11
Git Commit Hash: 83889a5
Git Branch: release-2.0
UTC Build Time: 2019-01-03 09:27:12
GoVersion: go version go1.11.2 linux/amd64
TiKV Min Version: 2.0.0-rc.4.1 |

step 3,4 al

[2019-01-17 02:46] eurekaka commented on #9084
@ihipop First, planner makes its decision of using table scan or index lookup based on statistics information and the value of the `order_id` in your query, so different `order_id` may lead to different decisions, that is normal, not "un-predictable", you can refer to https://github.com/pingcap/docs-cn/blob/master/sql/statistics.md for details of statistics.

Second, as you mentioned, using `use i

[2019-01-17 02:51] XuHuaiyu commented on #9064
Yep.
I meant that: Did the 4 steps the same as what you did 2 days ago?

[2019-01-17 02:59] victorggsimida commented on #9064
@XuHuaiyu
mysql> select min(marstime) From Account ignore index(marstime)
    -> ;
+---------------------+
| min(marstime)       |
+---------------------+
| 2019-01-17 10:49:10 |
+---------------------+
1 row in set (8.73 sec)

mysql> explain select min(marstime) From Account ignore index(marstime);
+----------------+--------------+----------------+------+------------------------------------------

[2019-01-17 02:59] victorggsimida commented on #9064
@XuHuaiyu
mysql> select min(marstime) From Account;
+---------------------+
| min(marstime)       |
+---------------------+
| 2019-01-17 18:49:10 |
+---------------------+
1 row in set (0.08 sec)

mysql>  select max(marstime) From Account;
+---------------------+
| max(marstime)       |
+---------------------+
| 2019-01-17 18:49:10 |
+---------------------+
1 row in set (0.59 sec)

mysql>

[2019-01-17 03:02] XuHuaiyu commented on #9096
Thanks for your feedback.

This can be reproduced on branch release2.1 and master.

After replace `using(a)` as `on a.a = b.a`,
`select b.a from testa a left join testb b on a.a=b.a where a.a=1;` works well.

[2019-01-17 03:05] ethercflow commented on #9069
@jeeffy Would you please share us more info?

- Hosts os version
- filesystem mount parameters
- Is there any errors in demos

You may use https://github.com/ethercflow/diff-system-params/blob/master/recorder.sh to record the hosts kernel parameters and diff, let us make sure there's no difference between them.

BTW, please upload the other two  `iotop`  infos. Thank you.

[2019-01-17 03:06] qw4990 commented on #9096
Thanks for your report. @victorggsimida
I'm working on this issue now.

[2019-01-17 03:09] #7516 closed

[2019-01-17 03:12] crazycs520 commented on #9064
@victorggsimida , It look like this bug: https://github.com/pingcap/tidb/pull/7724.
When you create the index?

[2019-01-17 03:21] crazycs520 commented on #9064
@victorggsimida , It looks like this bug: https://github.com/pingcap/tidb/pull/7724.
When you create the index?

[2019-01-17 03:32] crazycs520 commented on #9064
@victorggsimida , add column and create index in `v2.0.11`?

[2019-01-17 04:54] ihipop commented on #9084
@eurekaka Thanks for your information，I will look into it and dig some information with our DBA to find some thing about it. I will continue to post our progress here if there is any update

[2019-01-17 05:02] ihipop commented on #9084
@eurekaka does `tidb_auto_analyze_ratio` indicates that the `auto_analyze` is disabled?

[2019-01-17 05:36] eurekaka commented on #9084
@ihipop yes, if `tidb_auto_analyze_ratio` is 0, auto analyze is disabled; if `tidb_auto_analyze_ratio` is larger than 0 but less than 0.3, it would be adjusted to 0.3; if `tidb_auto_analyze_ratio` is larger than 0.3, it would be the value specified.

[2019-01-17 05:37] #8697 closed

[2019-01-17 05:47] tiancaiamao opened #9099 "Error code different from MySQL "ERROR 1604 (HY000): locate partition failed""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

[code]

3. What did you see instead?

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-01-17 06:18] ihipop commented on #9084
@eurekaka My `tidb_auto_analyze_ratio` is 0,but why the table meta still beeing updated?

[code]

And mean while the `Stats Inaccuracy Rate-99` is almost 80%  ?

https://user-images.githubusercontent.com/423077/51296850-d422b780-1a58-11e9-8acb-2be65552e856.png

[2019-01-17 06:25] tiancaiamao opened #9100 "add index on partitioned table should check the constraints"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Add index should fail

3. What did you see instead?

Success

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

[code]

[2019-01-17 06:31] duhongx opened #9101 "tikv monitor data is missing"
Using ansible to deploy tidb cluster, after deployment, tikv monitoring data on grafana is not available, other data is normal, how to solve this problem?
![image](https://user-images.githubusercontent.com/27199500/51299778-890ea180-1a64-11e9-84b5-ad8bc6681ed7.png)

[2019-01-17 06:34] duhongx commented on #9101
![image](https://user-images.githubusercontent.com/27199500/51299861-c83cf280-1a64-11e9-9fb6-32cff4cfc5f2.png)
Other data are normal, only tikv data is missing。How to check and solve it?

[2019-01-17 06:36] eurekaka commented on #9084
Stats would be updated not only by manual analyze or auto analyze, but also statistics feedback mechanism. @lamxTyler please double confirm this.

[2019-01-17 06:38] lamxTyler commented on #9084
Yes, and when you perform DML queries, the stats meta will also be updated. You can refer to https://github.com/pingcap/docs/blob/master/sql/statistics.md#automatic-update

[2019-01-17 06:48] ihipop commented on #9084
@eurekaka so in my case , `SHOW STATS_META`/`SHOW STATS_HISTOGRAMS`returns normal and said that it is almost the latest updated,But  `SHOW STATS_BUCKETS` returns

![image](https://user-images.githubusercontent.com/423077/51300374-9c227100-1a66-11e9-8e4c-125d9b4a99ae.png)

does the wrong decision of `order_id` made by planner is caused by this reason?

[2019-01-17 06:54] crazycs520 commented on #9064
I reproduce this bug in
[code]
### prepare
[code]
### Then
Create 2 sessions, both execute `use test` first.
then：
session 1:
[code]
session 2:
[code]

Then, use follow sql to check:
[code]

[2019-01-17 07:05] XuHuaiyu commented on #9064
@victorggsimida
Thanks for your report, we'll fix it soon.

Feel free to let us know if you need any further help.

[2019-01-17 07:09] eurekaka commented on #9084
No, it is saying that your stats **inaccuracy** rate is 80%, and the `Modify_count` is pretty high, both indicates stats is out of date. @lamxTyler please take a look at the error of `show stats_buckets`, is it normal?

[2019-01-17 07:11] #9068 closed

[2019-01-17 07:17] lamxTyler commented on #9084
@ihipop Could you provide the detailed tidb log when the error happens?

[2019-01-17 07:33] ihipop commented on #9084
@lamxTyler

[code]

[2019-01-17 07:34] victorggsimida commented on #9064
@XuHuaiyu

ok  when u fix it,pls let me know. I will upgrade the cluster

[2019-01-17 07:51] Connor1996 commented on #9089
Do you sure the number of regions is decreased after enabling merge?

[2019-01-17 07:53] Connor1996 commented on #9089
and please make sure `merge-schedule-limit` is not zero.
BTW, "max-merge-region-size" is too large, 20 is enough.

[2019-01-17 08:36] duhongx commented on #9101
[root@bigdata2 bin]# ./tikv-server -V
TiKV
Release Version:   2.1.2
Git Commit Hash:   509c8764cb14c173fc66d457639d9806449b890d
Git Commit Branch: release-2.1
UTC Build Time:    2018-12-21 05:39:30
Rust Version:      rustc 1.29.0-nightly (4f3c7a472 2018-07-17)

[tidb@tidb tidb-ansible]$ ansible --version
ansible 2.6.11
  config file = /home/tidb/tidb-ansible/ansible.cfg
  configured module search

[2019-01-17 08:40] victorggsimida commented on #9096
@qw4990  you are welcome

[2019-01-17 08:45] duhongx commented on #9101
From /home/tidb/tidb-ansible/roles/collector_tikv/tasks
You can see that we use insight. py script to collect config and log of tikv, from data collection to writing prometheus, and finally show it on grafana. Do you have the corresponding documents in the middle? In the case of the disappearance of monitoring data, it is necessary to know the details to determine where the data disappeared.

[2019-01-17 08:46] siddontang commented on #9101
@rleungx

seem this version uses `pull` mode?

[2019-01-17 09:17] rleungx commented on #9101
@duhongx Sorry for misleading. Actually, I mean your `tidb-ansible` version. BTW, you can visit web address of Prometheus to find if there is any data?
@siddontang This `Commit Hash` does not contain the pull mechanism.

[2019-01-17 09:32] rleungx commented on #9101
@duhongx Does your pushgateway works well? And can you find if there is any data in Prometheus?

[2019-01-17 10:38] lamxTyler commented on #9084
@ihipop Thanks for your feedback! I will look into this problem.

[2019-01-17 12:09] qw4990 commented on #9096
There is the reason for the problem.

When TiDB builds LogicalJoin from AST and the join statement is natural join or join with using, it will eliminate redundant columns.
After this elimination, redundant columns won’t be contained in schema returned by `LogicalJoin.Schema()` but in `LogicalJoin.redundantSchema`.
This is implemented in method `PlanBuilder.coalesceCommonColumns` in file `logical_p

[2019-01-17 12:33] winoros commented on #9096
This problem is a known issue and it's not very easy to solve.
We need to maintain the hidden column information during the plan building phase. And make it works well with `expression.Schema`.

[2019-01-17 12:37] AndrewDi commented on #8932
@XuHuaiyu @winoros Restore `SelectStmt` to SQL func completed, how about discuss this issue again? [view/keep_ast_expand ](https://github.com/AndrewDi/tidb/tree/view/keep_ast_expand)

[2019-01-17 14:07] #8832 closed

[2019-01-18 02:54] morgo opened #9111 "CREATE USER/DROP USER privilege check is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

[code]

2. What did you expect to see?

MySQL 5.7:
[code]

3. What did you see instead?

TiDB:
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-01-18 03:21] Mingdr commented on #8727
so am I，I have the same problem with this

[2019-01-18 06:01] meixiaofei opened #9116 "Any good idea about sync data from mysql8 to tidb?"
I have use syncer tried, bug failed, QaQ
but if the master mysql version is 5.7 it works well...
---

[2019-01-18 06:07] tiancaiamao commented on #9116
What's the syncer error message? and tidb error log if any...

[2019-01-18 06:20] meixiaofei commented on #9116
@tiancaiamao Added, thx
## Syncer trace
[code]
## DB versions
Mysql :
[code]
TiDB:
[code]

[2019-01-18 10:52] GregoryIan commented on #9116
`syncer` still doesn't support mysql 8, some problems need to be overcomed

[2019-01-18 13:04] IANTHEREAL opened #9120 "don't resolve the charset of column from the table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

* use `loader` to import data from mysql to tidb

* the schema is
[code]
*  insert statement
[code]
`0xf6` is [West European Character Sets](https://dev.mysql.com/doc/refman/8.0/en/charset-we-sets.html)

2. What did you expect to see?

data is imported into tidb without error

3. What did you s

[2019-01-18 13:05] GregoryIan commented on #9120
https://github.com/pingcap/tidb/pull/9105 fix it

[2019-01-19 10:52] jianhaiqing opened #9123 "Float'precision is different from MySQL"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]
+ MySQL OUTPUT:
[code]

+ TiDB OUTPUT:
[code]
 + [Related Issues](https://github.com/pingcap/tidb/issues/6882)

[2019-01-19 12:12] zhangjinpeng1987 opened #9124 "Getting token duration increases a lot when the concurrency increases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Use sysbench to bench update statement. I have 32 tables, and each table has 1000,000 rows. I benching update statement with different concurrencies.

2. What did you expect to see?
The update QPS increases when the concurrency increases.

3. What did you see instead?
The update QPS drops when t

[2019-01-19 14:56] shenli commented on #9123
@jianhaiqing Thanks for your feedback!
@tiancaiamao PTAL

[2019-01-20 16:13] lonng commented on #9124
Could you provide the configuration item `token-limit`.

[2019-01-21 02:44] jiucaiProductions opened #9125 "tidb sql count bug"
-- user default test db
use test;

select @@version;
-- 5.7.10-TiDB-v2.1.0-5-g4dad722

CREATE TABLE `t1` (
  `name` varchar(100) DEFAULT NULL
);

insert into t1 (`name`) values ('test');

-- return 0
SELECT COUNT(1)
FROM (
SELECT COUNT(1)
FROM (
SELECT *
FROM t1
WHERE name = 'test') t)
t2;

insert into t1 (`name`) values ('test2');

-- return 1
SELECT COUNT(1)
FROM (
SELECT COUNT(1)
FROM (
SELECT

[2019-01-21 03:08] eurekaka commented on #9125
@jiucaiProductions thanks for the report, we will fix this.

I reproduced this issue on latest master branch. Here is the simplified reproduction step:
[code]
After auto analyze has been executed in background, plan generated would change to not push down aggregation down to storage layer. Looks like the problem is caused by `TableReader_29` and `StreamAgg_17`. Note that I am using mockTikv here.

[2019-01-21 03:20] crazycs520 opened #9126 "Add column should check column length."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
In tidb
[code]

In mysql
[code]

2. What did you expect to see?
same as MySQL.

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-01-21 06:38] morgo commented on #7749
This now returns an error, which is improved behavior:
[code]

[2019-01-21 07:11] StoneZoul commented on #9069
hi, guys. i have some questions...  The follow command is used to benchmark disk io performance in bootstrap.yml
" ./fio -ioengine=psync -bs=32k -fdatasync=1 -thread -rw=randread -size=10G -filename=fio_randread_test.txt -name='fio randread test' -iodepth=4 -runtime=60 -numjobs=4 -group_reporting --output-format=json --output=fio_randread_result.json"

my question is why choose "-ioengine=psync" i

[2019-01-21 07:22] zhuboshuai opened #9130 "occasionally rollback failure"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
2019/01/14 16:57:42.554 session.go:1460: [info] [GENERAL_LOG] con:84608 user:xxx@1.2.3.4 schema_ver:39423 txn_start_ts:0 sql:SELECT 1
2019/01/14 16:57:42.557 session.go:1460: [info] [GENERAL_LOG] con:84608 user:xxx@1.2.3.4 schema_ver:39423

[2019-01-21 07:33] shenli commented on #9130
@zhuboshuai Thanks for your feedback!
@jackysp PTAL

[2019-01-21 07:52] CrazyNash opened #9131 "Syncer doesn't honor syscall.SIGTERM when retrying errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Syncing data from mysql to proxysql+TiDB, with create table DDL.

2. What did you expect to see?

Syncer should exit gracefully when received signal SIGTERM

3. What did you see instead?

It's known issue ( https://github.com/pingcap/tidb

[2019-01-21 07:53] tiancaiamao commented on #9131
@GregoryIan

[2019-01-21 08:01] CrazyNash opened #9132 "Syncer keeps position in target DB like loader"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Syncer can't ensure data consistency ( I mean Syncer can't flush latest binlog position to syncer.meta before exit) in many scenarios, like when getting KILL signal.

**Describe the feature you'd like:**

The problem here is the position info is kept in a local file, the file couldn't be updated in some scenari

[2019-01-21 08:17] #8798 closed

[2019-01-21 08:25] morgo opened #9133 "error message on no password is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

From a fresh install:

[code]

2. What did you expect to see?

The error message should say:
[code]

This is important in debugging, since a `~/.my.cnf` file or various other files in a search path could be adding a password.

3. What did you see instead?

[code]

4. What version of TiDB are yo

[2019-01-21 09:03] winoros commented on #9125
We've located the root cause of this problem. It will be fixed soon

[2019-01-21 09:31] crazycs520 opened #9135 "Invalid JSON value for CAST to DATE/TIME/DATETIME/TIMESTAMP from column json_extract"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
In mysql5.7
[code]

In TiDB
[code]

2. What did you expect to see?

3. What did you see instead?

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
[code]

[2019-01-21 14:07] morgo opened #9141 "Design mysql_8_strict_compatibility = BOOLEAN"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In planning MySQL 8.0 compatibility, we would like to offer a smoother upgrade than MySQL 5.7 -> 8.0 offers.

For example:
- `set tx_isolation = x` is removed.
- `GRANT` auto-creating users is removed (the `NO_AUTO_CREATE_USER` sql mode is meaningless).

**Describe the feature you'd like:**

I propose we create

[2019-01-21 14:14] morgo opened #9142 "MySQL 8.0: Remove InnoDB variables no longer used"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL 8.0 removes a number of InnoDB variables.  It should be safe to remove them from TiDB.

**Describe the feature you'd like:**
[code]
**Describe alternatives you've considered:**

Should be safe to remove.  If it is proven they are useful, they could be added to https://github.com/pingcap/tidb/issues/9141

[2019-01-21 16:10] zhexuany commented on #8793
I also met this issue in jdbc mysql connector. https://github.com/pingcap/tidb/pull/862 brought this change. Some frameworks often send query like "SET SESSION TRANSACTION ISOLATION LEVEL SERIALIZABLE".

Printing a warning message would be better in my opinion.

@564064202 Regarding your case, you may change to release 2.0 which does not contain this change.

[2019-01-21 16:11] zhexuany commented on #8793
/cc @shenli What do you think? Simply banned query like `SET SESSION TRANSACTION ISOLATION LEVEL SERIALIZABLE` could be problematic.

[2019-01-22 00:12] morgo commented on #8793
This was discussed in https://github.com/pingcap/tidb/issues/2712 and fixed in https://github.com/pingcap/tidb/pull/8625

The issue is that a user could lose data by being led to believe TiDB supports a stronger isolation level than it does.  Most clients ignore warnings.

[2019-01-22 01:44] ethercflow commented on #9069
@StoneZoul We use `psync` because it matches our current IO characteristics, below is the detail: https://www.jianshu.com/p/9d823b353f22
Welcome discussion

[2019-01-22 02:06] 564064202 commented on #8705
![image](https://user-images.githubusercontent.com/12368358/51507754-54686480-1e2d-11e9-9b45-38ba09631a85.png)
NO,your answer is wrong

[2019-01-22 02:06] 564064202 commented on #8705
pelase reopen it

[2019-01-22 02:06] 564064202 commented on #8705
@lysu

[2019-01-22 02:12] 564064202 commented on #8705
when there is a create table ddl sql, syncer will Fall into a Infinite loop

[2019-01-22 02:12] tiancaiamao commented on #8705
PTAL @GregoryIan

[2019-01-22 02:15] 564064202 commented on #6471
when there is a create table ddl sql, syncer will Fall into a Infinite loop

[2019-01-22 02:16] introspection3 opened #9145 "when there is a create table ddl sql, syncer will Fall into a Infinite loop"
when there is a create table ddl sql, syncer will Fall into a Infinite loop

[2019-01-22 02:19] longhuguoji commented on #9041
@WangXiangUSTC 你好，我想请假几个问题。
1、我想在Prometheus监控tidb通过syner实时同步mysql的日志，但是官网文档写的比较模糊：在 Prometheus 中添加 Syncer job 信息，将以下内容刷新到 Prometheus 配置文件，配置文件在哪儿？
配置 Prometheus 告警，将以下内容刷新到 alert.rule 配置文件， alert.rule文件找不见？
2、我想搭建一套生产环境，现在A平台生产一共2T多的数据，请问用虚拟机+全sas盘部署，性能有多少影响？
3、暂时我会把tidb做mysql的从库，将来切换主库后，有没有相应的回退机制？是提前把mysql做成tidb的从库吗？还是有更好的方案？

[2019-01-22 02:50] amyangfei commented on #9041
@longhuguoji
1. `syncer` has no `Prometheus` deployment integration，If you want to send metrics to `Prometheus` you need to deploy `Prometheus` first, and then add `relevant` relevant configurations to `Prometheus` config.
2. If you use `loader` to load 2TB data into TiDB, even if you use `physical machine with SSD PCI-E`, it may still cost much time. For large data full mode import, [TiDB-lightni

[2019-01-22 03:57] 564064202 opened #9148 "create table with sql ,there is a bug"
[SQL]CREATE TABLE IF NOT EXISTS `AA` (
  `PrimaryKey` bigint(20) NOT NULL AUTO_INCREMENT,
  `Mac` varchar(50) CHARACTER SET utf8 NOT NULL,
  `StartDateTimeTicks` bigint(20) NOT NULL,
  `IsMerged` tinyint(1) NOT NULL,
  `MvcUserId` int(11) NOT NULL,
  `Marked` tinyint(1) NOT NULL,
  `NodeName` varchar(200) CHARACTER SET utf8 DEFAULT NULL,
  `Id` varchar(36) CHARACTER SET utf8 NOT NULL,
  `FirstRequ

[2019-01-22 05:34] rla commented on #9148
That error does not seem to be related to the table definition. It likely comes from a query that uses a `GROUP BY` expression. Usually it raises when you select non-aggregate columns that are not itself in the `GROUP BY` expression.

[2019-01-22 05:35] 564064202 commented on #9148
but there is no "group  by"

[2019-01-22 06:05] XSHui opened #9150 "TiDB tikvclient_backoff_count error&TiKV coprocessor_request_error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
1000~8000 concurrent requests to do the same query
we have 3 tikv, 3 pd, 3tidb

alert rules
[code]

2. What did you expect to see?
more than 6000 '' [ERROR] get snapshot failed for cids.....not_leader'' error in kv.log

3. What did you see instead?
alert
[code]

there only a few '' [ERROR] get s

[2019-01-22 06:15] AlexNewTao commented on #9150
Such an alarm occurs when the tikv node crashes due to hardware reasons.

[2019-01-22 14:31] tiancaiamao commented on #9148
Could you provide more details about the error in the tidb log?
@564064202

[2019-01-22 14:37] tiancaiamao commented on #9150
There is a `server is busy` log, it means tikv server is overload:

[code]

You can try to reduce the concurrent count. @XSHui

[2019-01-22 14:48] XSHui commented on #9150
What is the concurrency limit of tikv?@tiancaiamao

[2019-01-22 14:55] tiancaiamao commented on #9150
There is no actually concurrency limit, the workload depends on the query type.
What's the query looks like? Read or write? Simple point get operation or complex analysis query?
@XSHui

[2019-01-23 00:09] morgo opened #9154 "MySQL 8.0: Remove i_s.*variables, i_s.*status"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL 8.0 removes the following `information_schema` tables:
[code]

These tables are empty in TiDB with the exception of `session_variables`, so removing these is not expected to cause incompatibility (see alternatives below).

As a separate issue, these tables are now in `performance_schema` in MySQL.  It wou

[2019-01-23 00:13] morgo opened #9155 "MySQL 8.0: Remove date_format, datetime_format,max_tmp_tables variables"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL 8.0 removes the following variables which have no actual behavior, so they should be safe to remove in TiDB as well:
[code]

**Describe the feature you'd like:**

Remove:
[code]
**Describe alternatives you've considered:**

I do not believe this feature requires a compatibility mode.

**Teachability, Docu

[2019-01-23 00:20] morgo opened #9156 "MySQL 8.0: Remove Query Cache"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL 8.0 removes support for the query cache.

**Describe the feature you'd like:**

This feature was never implemented in TiDB, but the variables and commands that support it were added.  Similar to MySQL, it is important to keep hints like `SQL_NO_CACHE` since mysqldump/mydumper clients may specify this.  Bu

[2019-01-23 00:29] morgo opened #9157 "MySQL 8.0: Remove performance_schema.setup_timers"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL 8.0 removes the table `performance_schema.setup_timers`.  This feature has never been supported by TiDB, so it should be possible to remove it without issues.

**Describe the feature you'd like:**

Remove the table `performance_schema.setup_timers`.

**Describe alternatives you've considered:**

This shou

[2019-01-23 00:42] morgo opened #9158 "MySQL 8.0: Make server respond 8.0.11 instead of 5.7.10"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The version specified in `parser/mysql/const.go` is currently `5.7.10-TiDB`.

**Describe the feature you'd like:**

Change the version to `8.0.11-TiDB`.

**Describe alternatives you've considered:**

This should not require a compatibility mode.

**Teachability, Documentation, Adoption, Migration Strategy:**
Im

[2019-01-23 01:56] morgo opened #9159 "MySQL 8.0: Remove the global scope for sql_log_bin"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL 8.0 removes the global scope for `sql_log_bin`, which was added by accident and doesn't really serve a use case.  It is actually dangerous because it disables binary logging in an inconsistent way.

**Describe the feature you'd like:**

Remove global var `sql_log_bin` (session var remains)

**Describe alt

[2019-01-23 02:05] morgo opened #9160 "MySQL 8.0: Disallow GRANT to create a user (requires mysql_8_strict_compatibility)"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL 8.0 features a new behavior where the sql mode `NO_AUTO_CREATE_USER` has no affect (it is always enabled).

**Describe the feature you'd like:**

When `mysql_8_strict_compatibility` is set to `TRUE` (the default is off) TiDB should have the same behavior.

TiDB only recently added the `NO_AUTO_CREATE_USER

[2019-01-23 08:10] morgo opened #9161 "MySQL 8.0: Support Backup Locks"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, TiDB does not have a mechanism to pause garbage collection for a long-running transaction.  This is different behavior from MySQL, where an open transaction blocks purge.

Since the default `tikv_gc_life_time` is 10m, that means that backups longer than 10 minutes will fail.  See: https://github.com/

[2019-01-23 08:51] lunny opened #9162 "Does select for update really lock the record selected?"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I'm writing tests for tidb on xorm, see the PR https://github.com/go-xorm/xorm/pull/1207

2. What did you expect to see?

mysql could PASS all the tests, expect tidb will do.

3. What did you see instead?

tidb failed on select for update tests.

4. What version of TiDB are you using (`tidb-serv

[2019-01-23 08:53] lunny commented on #9162
Maybe https://github.com/pingcap/tidb/issues/8894 explained that?

[2019-01-23 09:01] lamxTyler commented on #9162
@lunny Yes, you are right.

[2019-01-23 09:02] shenli commented on #9162
@lunny Please refer to the [document](https://pingcap.com/docs/FAQ/#does-tidb-support-select-for-update).

[2019-01-23 09:36] gregwebs commented on #9161
There is one optimization we might want to consider since stopping GC can degrade read performance: the ability to unlock (start GC again) individual tables during backup. Similarly, it is possible to want to take a backup for only a subset of tables.
I doubt we would support this for the first implementation, but it might inform some design choices.

[2019-01-23 11:10] morgo commented on #9161
@gregwebs I could understand the use case better if this *locked* tables, but this is only locking meta-data. We would also need to design syntax, since MySQL does not implement such a feature.  Thus, I would prefer simple :-)

[2019-01-23 11:48] arnkore commented on #8962
Can I work on this issue?

[2019-01-23 11:57] winoros commented on #8962
@arnkore
Oh, thanks for your attention. There's already one #9071 about this.

[2019-01-23 12:10] XSHui opened #9164 "new column not found which added after truncate"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
-  truncate table
-  add new column
-  insert into table

error:new column not found

tidb log:
[code]

2. What did you expect to see?
insert success

3. What did you see instead?
new column not found

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiD

[2019-01-23 12:11] zhuboshuai opened #9165 "enum + insert on duplicate update > data truncate"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
CREATE TABLE `table1` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `f2` enum('cluster','default','common') DEFAULT 'common',
  `f3` varchar(1000) DEFAULT NULL,
  `f4` varchar(255) DEFAULT NULL COMMENT 'group by f3',
  `f5` int(11) DEFAULT N

[2019-01-23 12:20] XSHui commented on #9164
@tiancaiamao

[2019-01-23 12:34] kennytm commented on #9161
What happens if you nest locks in the same session 🙃

[code]

[2019-01-23 12:34] kennytm commented on #9161
What happens if you nest locks in the same session 🙃

[code]

[2019-01-23 12:44] XSHui commented on #9150
some sql like below@tiancaiamao
[code]

[2019-01-23 13:13] lamxTyler commented on #9164
@XSHui Thanks for your feedback. From the log, I can only tell that tidb is retry the sql due to write conflicts. Why do you say the new column is not found? Can you provide more logs?

[2019-01-23 15:22] shenli commented on #9145
@564064202 Please keep the issue template and fill it. We need more detailed info to track the issue.
Thanks!

[2019-01-23 16:28] lunny commented on #9162
@lamxTyler @shenli thanks!

[2019-01-23 16:28] #9162 closed

[2019-01-24 01:31] tiancaiamao commented on #9150
Is there any index on `node_name`? `id` is pk ?
What's the explain result of those two SQL?
And if you use smaller concurrency connections, does the error still happen?
@XSHui

[2019-01-24 01:36] morgo commented on #9161
@kennytm `LOCK` usually implies unlocking all previous locks (to avoid deadlocks).  So you would block garbage collection, then there is a race where it may start, then you would block it again.  But I believe this syntax should be legal.

[2019-01-24 02:02] alex-lx commented on #8013
@JackDrogon It's still there after upgrading our cluster to v2.1.2

[2019-01-24 03:18] gregwebs commented on #9161
What is the use case for executing `LOCK` multiple times? I don't like the idea of having an unintentional race condition (if you want intentional you could execute `UNLOCK` first).

[2019-01-24 05:41] XSHui commented on #9164
we use desc to check, sometimes we can get the new column @lamxTyler

[2019-01-24 05:51] qw4990 opened #9166 "Control the number of rows returned by child executor"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB uses `chunk` to carry data from children to parents, but the num of rows returned by children can’t be controlled by parents.
Most of the time, children return 1024 rows, which is the default size.
That is inappropriate in some cases, for example the parent is `LimitN`, which only needs N rows.

**Describe

[2019-01-24 06:00] lamxTyler commented on #9164
@XSHui So do you mean after the new column is added, when using `desc table`, sometimes you can get the column, while sometimes cannot?

[2019-01-24 06:06] yu34po opened #9167 "hint index look up join do not take effect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
`
mysql> create table t(a int primary key, b int);
Query OK, 0 rows affected (0.01 sec)

mysql> create table t1(a int, b int, key s(b));
Query OK, 0 rows affected (0.01 sec)
`
`
mysql> explain select /*+ TIDB_INLJ(t, t1) */ * from t join t1 on t.a=t1.a;
+------------------------+----------+-----

[2019-01-24 07:05] keithyzk commented on #8120
@evancao77  I have the same problem .
fatal: [PD2]: FAILED! => {"changed": false, "content": "", "msg": "Status code was -1 and not [200]: Request failed: <urlopen error [Errno 111] Connection refused>", "redirected": false, "status": -1, "url": "http://192.168.1.20:2379/pd/api/v1/leader"}
 How do you solve this problem? Thank you .

[2019-01-24 07:21] XSHui commented on #9164
是的
我们先对一张表做truncate操作， 然后增加几列，接着插入数据，报错新增的列不存在。
desc 查看有时候结果中有新增的列，有时候没有。

[2019-01-24 07:30] tiancaiamao commented on #9164
Three tidb instances under a proxy? @XSHui
Would you please login each tidb instances and check the `desc` result ?
And is there a network partition between tidb and pd, or between tidb and tikv?

[2019-01-24 08:58] jackysp commented on #8013
Could you provide the new error logs? @alex-lx

[2019-01-24 09:56] #9167 closed

[2019-01-24 11:03] zhuboshuai opened #9170 "limit he tidb instance's memory usage"
## Feature Request

**Is your feature request related to a problem? Please describe:**

i always found that some tidb instances restart because of out of memory ,the result is slow query peak in the Duration panel of grafana. it's a severe problem. because it affect the query speed of the business, and consequent result is a fault report. it's irksome.
At some point it will happen, but sooner or l

[2019-01-24 11:14] #9133 closed

[2019-01-24 11:16] zhuboshuai opened #9171 "support 'show processlist where' sql"
## Feature Request

**Is your feature request related to a problem? Please describe:**

sql like 'show processlist  where mem > 256' can help DBAs troubleshoot problems more quickly and conveniently. sometimes the  result of 'show processlist' is tedious. it's hard to find the useful item.

**Describe the feature you'd like:**

support 'show processlist  where' sql

**Describe alternatives you've

[2019-01-24 11:23] morgo commented on #9171
Hi @zhuboshuai

The mem column was dropped from `SHOW PROCESSLIST` in master, because it is not fully MySQL compatible (and only includes memory from some operators).  Adding this syntax extension could also create compatibility problems with MySQL if they add syntax down the line, and TiDB differs.

In MySQL there was previously an `information_schema.processlist` table which could be filtered, b

[2019-01-24 13:11] tiancaiamao commented on #9130
This is a fixed bug on master ...

[code]

Please try the TiDB release 2.1.3 @zhuboshuai

[2019-01-25 01:46] morgo opened #9172 "support offline_mode"
## Feature Request

**Is your feature request related to a problem? Please describe:**

A typical configuration is to put multiple TiDB servers behind a load balancer, and balance application connections.

It would be useful to be able to take individual servers out of the rotation in a graceful fashion, without just terminating connections.  This is because most client libraries are not good at c

[2019-01-25 03:09] alex-lx opened #9173 "Drainer skip handling some DDL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Started drainer..

2. What did you expect to see?

The drainer process started successfully

3. What did you see instead?

It exited and print the following log
[code]

After setting log level to DEBUG, we can see the caused binlog is a ddl.
( We hide the real db name for privacy )
[code]
and th

[2019-01-25 03:17] lamxTyler commented on #9173
Thanks for your feedback! PTAL @WangXiangUSTC

[2019-01-25 04:16] zhuboshuai opened #9177 "can't access after rolling update"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
update a cluster from v2.0.0.rc6 to v2.0.1, it's OK after udapte.
update the same culster from v2.0.1 to v2.1.2 , it's not OK ater update.
all the acesses fails. the log show below:
[error] User connection verification failed xxx@192.168.0

[2019-01-25 04:33] lamxTyler commented on #9177
PTAL @tiancaiamao

[2019-01-25 04:49] tiancaiamao commented on #9177
[code]

There is no mysql.host table. @zhuboshuai

You can modify the config file add this:

[code]

Restart the tidb using the modified config file, then try to login again.

I'll verify the upgrading progress from v2.0.1 to v2.1.2

[2019-01-25 05:02] tiancaiamao commented on #9177
I tested with mocktikv just now, upgrading TiDB from v2.0.1 to v2.1.2, and it works well.
Is there any error log in your TiDB cluster, especially protocol error between TiDB and TiKV ?
@zhuboshuai

[2019-01-25 10:00] AlexNewTao opened #9185 "Error 1105: Out Of Memory Quota!"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?

When the amount of data in the lookup table is large, it is found that the memory usage threshold of the given SQL has not been reached, and the disconnection occurs, and an error is reported: Error: [Error 1105: Out Of Memory Quota!.

the size of Memory usage threshold for the entire SQL  is 3

[2019-01-25 10:40] lamxTyler commented on #9185
Thanks for your feedback! PTAL @zz-jason

[2019-01-25 10:57] dayuanyuan1989 opened #9186 "Support using temporary files for queries that require a lot of memory"
## Question

Before asking a question, make sure you have:

I run a sql statement in tidb, the sql statement has some join.

I set the tidb oom=cancel in tidb configuration

The query always be cancelled as it use a large memroy

---

Are there any way to control the memory of single sql query?  But not to kill it

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched o

[2019-01-25 11:02] lamxTyler commented on #9186
@dayuanyuan1989 Sorry I don't understand what do you expect to see and what you see instead?

[2019-01-25 11:05] zz-jason commented on #9186
@dayuanyuan1989 Do you mean to spill the data to disks to allow the query to be executed successfully?

[2019-01-25 11:42] zimulala opened #9188 "The column of `year` has the display problem when executing "show create table""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
create table t(f_year year)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
show create table t;

2. What did you expect to see?
<img width="845" alt="screen shot 2019-01-25 at 19 33 44" src="https://user-images.githubusercontent

[2019-01-25 12:35] dayuanyuan1989 commented on #9185
@zz-jason I am AlexNewTao 's colleague

the exec result as follows:

[code]

[2019-01-25 12:38] dayuanyuan1989 commented on #9186
@zz-jason   yes

[2019-01-25 23:37] hueypark commented on #3120
store is done. #9190

[2019-01-26 06:05] AndrewDi opened #9191 "MySQL privilege check compatibility, error is much too simple."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Create a user `testuser` with `CREATE` privilege, but without `SELECT` privilege.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select ti

[2019-01-26 10:57] morgo commented on #9191
This might be a sub-task of https://github.com/pingcap/tidb/issues/8946

**Context:** In https://github.com/pingcap/tidb/pull/8855 `visitInfo` was extended to allow a custom error to be attached.   https://github.com/pingcap/tidb/issues/8946 tracks cases where a `nil` error is still attached, which generates `ERROR 1105 (HY000): privilege check fail`.

[2019-01-26 11:42] july2993 commented on #9173
@alex-lx maybe a known issue fixed in later version, you can try to use the latest version from http://download.pingcap.org/tidb-binlog-cluster-latest-linux-amd64.tar.gz

[2019-01-26 11:44] #8675 closed

[2019-01-27 06:15] XSHui commented on #9164
1. Three tidb instances under two proxys

2. all tidb , pd , tikv in the same network partition
@tiancaiamao

[2019-01-27 06:29] zimulala opened #9192 "The "0000" value of the year type is different from the MySQL processing"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
create table t(f_year year NOT NULL DEFAULT '0000')ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
insert into t values();
select * from t;
insert into t values('0000');
select * from t;

2. What did you expect to see?
<img widt

[2019-01-27 12:36] hueypark commented on #3227
Hi @ngaut
I created the pull request(https://github.com/pingcap/parser/pull/191) for this issue.
Please review it.

[2019-01-28 01:18] morgo commented on #7733
Parser support was added in https://github.com/pingcap/tidb/pull/8970

@lnhote @tiancaiamao Do you have current plans to implement in TiDB, or would you like me to take a look at it?

[2019-01-28 01:35] ericisme opened #9196 "panic while adding a new tikv instance"
windows机器，机械硬盘，开始三台机器，3个pd,3个tikv,3个tidb(nginx loadbalance), 然后mysql导入了一个数据库备份，各种操作，无异常， 但动态加入一台机器增加一个tikv节点时稳定报这个错误：

2019/01/28 01:29:38.515 ERRO mod.rs:490: thread 'region-collector-worker' panicked 'assertion failed: `(left != right)` (left: `0`, right: `0`)' at "src/raftstore/coprocessor/region_info_accessor.rs:324"
stack backtrace:
   0:     0x563e74fb930c - backtrace::backtrace::libunwind::

[2019-01-28 02:46] tiancaiamao commented on #9164
The TiDB log shows transaction conflict:

[code]

It should have nothing to do with the problem you described:

[code]

A possible condition for this is that through proxy, you first request is sent to a TiDB (DDL owner), while the second request is sent to another TiDB(DDL worker) and the third is to the original one (DDL owner) again.

Schema change may not finish simultaneously in different TiD

[2019-01-28 03:05] lamxTyler commented on #9196
Thanks for your feedback. PTAL @overvenus

[2019-01-28 04:07] tiancaiamao commented on #7733
I have no plan for it yet, go ahead if you'd like to @morgo

[2019-01-28 04:37] lnhote commented on #7733
I can try it @morgo.

[2019-01-28 04:39] shenli commented on #7733
@lnhote Cool! Thanks!

[2019-01-28 04:45] morgo commented on #7733
Excellent, thanks!

[2019-01-28 06:08] WangXiangUSTC opened #9201 "[proposal] use SQL to manage the TiDB-Binlog toolset"
## Feature Request
Support some SQLs to manage the  TiDB-Binlog toolset.

### Background
1. Now we don't know whether a TiDB instance enable the binlog, we need check the TiDB's config file, or look the config information in TiDB's log. It is inconvenience.

2. We must restart the TiDB instance if we need enable or close the TiDB's binlog, it is  inconvenience too.

3. If we want check the pump an

[2019-01-28 06:58] XSHui commented on #9164
In this case:
- How long does it usually take to complete the synchronization?
- And how about the worst case ?
- Is there any parameter we can regulation it ?
@tiancaiamao @zimulala

[2019-01-28 07:47] tiancaiamao commented on #9164
1. How long does it usually take to complete the synchronization?

So I asked

If the network is OK, you should seldom see this problem.

2. And how about the worst case ?

Nothing wrong.

DDL is a **non-block operation** using online schema change, it means that **one user may change the schame (maybe add a column) and you never know it**. You will not be blocked waiting for that DDL operation to

[2019-01-28 08:13] zimulala commented on #9164
@XSHui
In your case, as follows:

add column
insert data (get error response)
desc table

Does the statement that adds the column return the result normally when you do `insert data` or `desc table`？

[2019-01-28 08:49] morgo commented on #9201
On (4), MySQL does not support `global` scope for this because [it is dangerous](https://blog.jcole.us/2014/08/08/stupid-and-dangerous-set-global-sql_log_bin/).

May I recommend either:
a) Modeling based on the command `start slave`?  So for example 'start binlog', 'stop binlog'.
b) Using the name `tidb_binlog` instead.

There are security issues with letting a user disable binlogging for their se

[2019-01-28 12:23] zimulala opened #9205 "Default value precision problem for time types"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
<img width="942" alt="screen shot 2019-01-28 at 20 14 12" src="https://user-images.githubusercontent.com/4242506/51836032-1cd04f80-233a-11e9-9a24-28c86131d041.png">

3. What did you see instead?
<img

[2019-01-28 13:15] GregoryIan commented on #9201
I perfer the `tidb_binlog` setting is only global， it would simplify something, like maybe we don't need `run-ddl` any more.  Or we can imagine, what scenario would we need to turn off `tidb_binlog` in TiDB

[2019-01-29 01:46] alex-lx commented on #9173
@july2993 thanks for your kind help.

Since we use `tidb-binlog` in our production, is the latest version production-ready? Is there any roadmap to release the fixed version and if any plan to backport the fix to v2.1.x?

[2019-01-29 01:59] #9123 closed

[2019-01-29 02:23] hanyu100 opened #9206 "Whether data is lost if a node in the pump cluster hangs？"
## Question
![image](https://user-images.githubusercontent.com/10152316/51879750-a2421700-23af-11e9-8264-7cf3bc7cc493.png)
How do you ensure that data is not lost?
Looking forward to your help。

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
Yes
- Googled your question.
Yes
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issu

[2019-01-29 02:40] WangXiangUSTC commented on #9201
I think the global scope is necessary for tidb_binlog, and we can also support the session and server scope. we need set some limit to avoid some error, for example ddl must generate binlog in all scope type, and we need notice user must be very careful when change the tidb_binlog's scope. @morgo @GregoryIan

[2019-01-29 02:45] WangXiangUSTC commented on #9201
hi  morgo, could you please provide a example of sql for update pump's state. we have several pumps, every pump have a unique nodeID, and the nodeID is set by user.  @morgo

[2019-01-29 04:03] vkingnew opened #9208 "How to optimize the simple aggregation SQL ？"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]
server machince:
SSD 2T
3 tidb
3 tikv （12 tikv instance）
2 pd

the table have   110293676 record.

A big table with 1.6 billion rows，how optime it ？
just a simple aggregation，for example：

[code]
--indexes:
[code]

the explain:
[code]
and it's hard to create index:（too long）
CREATE INDEX ix_createtime_ap

[2019-01-29 04:06] vkingnew commented on #9208
run the above SQL waste 46s, How to reduce it to 3s? we predict the table will be hold 10billion records。

[2019-01-29 05:10] GregoryIan commented on #9201
`we can also support the session and server scope. we need set some limit to avoid some error.`  is it necessary? give a example why we need it?

[2019-01-29 05:18] lamxTyler commented on #9208
Thanks for your feedback! Could you post the result of `explain analyze SELECT
DATE_FORMAT(create_time,'%Y-%m-%d'),s.app_id,'' app_type,s.app_version,'' page_id,'' city_id,
COUNT(s.id),
COUNT(DISTINCT IFNULL(s.user_id,s.uuid)) users,
SUM(IFNULL(s.page_duration,0))
FROM track.ods_online_log s
WHERE s.create_time >=DATE_SUB(CURDATE(),INTERVAL 3 DAY)
GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d'),s.app

[2019-01-29 05:48] vkingnew commented on #9208
id                      count        task    operator info                                                                                                                                                    execution info
----------------------  -----------  ------  --------------------------------------------------------------------------------------------------------------------------------------

[2019-01-29 06:19] lamxTyler commented on #9208
I think it is caused by the unparalleled hash agg. PTAL @XuHuaiyu

[2019-01-29 06:35] zimulala opened #9211 ""show create table" shows that the generated column is inconsistent with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
2. What did you expect to see?
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
Release Version: v3.0.0-beta-18-g7648317da
Git Commit Hash

[2019-01-29 06:36] shenli commented on #9208
@vkingnew Could you show us the result of `show variables like "%tidb_%_concurrency";`?

[2019-01-29 06:37] XuHuaiyu commented on #9208
@vkingnew Can you provide us the schema of table:ods_online_log?

[2019-01-29 06:38] XuHuaiyu commented on #9208
And the result of `show variables like "%tidb%size%"`

[2019-01-29 06:43] zz-jason commented on #9208
`count(distinct count_0)` can not be executed parallelly.

[2019-01-29 08:02] vkingnew commented on #9208
show variables like "%tidb_%_concurrency"

Variable_name                       Value
----------------------------------  --------
tidb_hashagg_partial_concurrency    4
tidb_index_serial_scan_concurrency  1
tidb_hash_join_concurrency          5
tidb_hashagg_final_concurrency      4
tidb_distsql_scan_concurrency       15
tidb_index_lookup_concurrency       4
tidb_index_lookup_join_concurrency  4
tid

[2019-01-29 08:04] XuHuaiyu commented on #9208
we need the result of `show create table ods_online_log;`

[2019-01-29 08:05] XuHuaiyu commented on #9208
What's the number of the CPU cores of the machines where tidb-server runs on?

[2019-01-29 08:43] XuHuaiyu commented on #9208
Since the SQL contains a `count(distinct count_0)`, for now, the aggregation cannot be pushed down to TiKV to distributedly execute, and the HashAggExec cannot execute parallelly, either.

The index `ix_createtime_appid_version` equals to `create_time` for this SQL since `create_time` is wrapped by a function(`GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d'),s.app_id,s.app_version`). StreamAgg would n

[2019-01-29 08:51] vkingnew commented on #9208
@XuHuaiyu In deed the index ix_createtime_appid_version equals to create_time,just for test. if set the concurrency equals to CPU processor nums,may lead to high load for The Server.
How about optimizing it by TiSpark? just reduce the run time. I tryed many times  by execute sql,about 45s,if reduce the time may better.

[2019-01-29 08:59] XuHuaiyu commented on #9208
1. Yep，but you may try to turn up the values of the 3 variables to see whether the execution time can be reduced.
2. TiSpark may run fast for this SQL, but it needs an individual Spark cluster. I'm not sure whether this fits your problem. If you wanna try TiSpark, [this](https://pingcap.com/docs-cn/tispark/tispark-user-guide/#tispark-%E7%94%A8%E6%88%B7%E6%8C%87%E5%8D%97) can be referred.

[2019-01-29 09:56] WangXiangUSTC commented on #9201
some user want ignore generate binlog in load stage @GregoryIan

[2019-01-29 10:16] morgo commented on #9201
@WangXiangUSTC I will get back to you with example syntax early next week.  I want to run it by some users at FOSDEM.

In regards to if `session` should be supported, I would say we need to understand the use case.  For an example in MySQL that really increases complexity: you can change the character set on a per column, table, schema or global basis.  There is no strong use case for this, and it

[2019-01-29 12:45] zimulala opened #9213 "The expression in the added generated column is not processed when the boundary value is exceeded"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
<img width="556" alt="screen shot 2019-01-29 at 18 51 28" src="https://user-images.githubusercontent.com/4242506/51908813-c2042a00-2405-11e9-8748-14d7b6c3d6bd.png">

3. What did you see instead?
<img

[2019-01-29 12:57] zimulala opened #9214 "There is a problem adding an index to a generated column with an expression error."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
[code]

3. What did you see instead?
Executing this statement of `ALTER TABLE t ADD INDEX idx_y(y1);` will get stuck.

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_versi

[2019-01-29 13:13] zz-jason commented on #9165
It's not the same reason with #8934

1. For #8934, it's because the builtin function `Values()` hasn't correctly handled the `float` input value.
2. For this issue, it's because the builtin function `Values()` hasn't correctly handled the `enum` input value.

[2019-01-29 22:36] hueypark commented on #3120
everything is done. #9219

[2019-01-30 02:32] WangXiangUSTC commented on #9041
@kennytm PTAL
@longhuguoji it is better to create a new issue if you have another question.

[2019-01-30 02:37] longhuguoji opened #9220 "About TIDB-Lighting question"
1、请问TiDB-lightning支持mysql的分表分库合并导入TIDB吗，tidb-loader是支持的。
2、如果支持，能否说一下如何配置分表分库导入，或者有没有说明的地址，我先尝试一下。

[2019-01-30 02:53] #8587 closed

[2019-01-30 03:03] wlj030341 opened #9221 "tidb start Shared connection to 192.168.130.81 closed"
fatal: [192.168.130.81]: FAILED! => {"changed": false, "module_stderr": "Shared connection to 192.168.130.81 closed.\r\n", "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_H0a1Bw/ansible_module_wait_for.py\", line 579, in <module>\r\n    main()\r\n  File \"/tmp/ansible_H0a1Bw/ansible_module_wait_for.py\", line 519, in main\r\n    response = s.recv(1024)\r\nsocket.error

[2019-01-30 03:08] kennytm commented on #9041
@longhuguoji The current TiDB-Lightning version doesn't support merging sharded tables yet. There's currently a PR pingcap/tidb-lightning#95 waiting to be reviewed, so the support and documentation will come in the future.

[2019-01-30 04:13] #8934 closed

[2019-01-30 04:37] overvenus commented on #9196
Hi @ericisme What's your TiKV version?

[2019-01-30 05:39] siddontang commented on #9196
@overvenus

Refer to https://github.com/tikv/rfcs/blob/master/text/2018-12-19-unified-log-format.md, seem should be "DEBUG".

[2019-01-30 08:58] ericisme commented on #9196
@overvenus
"store": {
        "id": 6,
        "address": "192.168.9.107:20160",
        "version": "3.0.0-alpha",
        "state_name": "Up"
      },

[2019-01-30 09:46] MyonKeminta commented on #9196
Could you please also provide the commit hash of the TiKV that you tried to add to thre cluster? You can find it in the beginning of its log or by running `./tikv-server -V`.

[2019-01-30 11:05] lamxTyler commented on #9221
Thanks for your feedback. PTAL @liubo0127

[2019-01-31 02:31] ericisme commented on #9196
@MyonKeminta

docker exec -it tikv2 ./tikv-server -V
TiKV
Release Version:   3.0.0-alpha
Git Commit Hash:   979e1f791775d6a64c49add1bca66014e0a6f95b
Git Commit Branch: master
UTC Build Time:    2019-01-07 11:51:30
Rust Version:      rustc 1.29.0-nightly (4f3c7a472 2018-07-17)

[2019-01-31 03:13] eurekaka opened #9231 "range info in explain is inconsistent for full range"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]

2. What did you expect to see?

Range info in both explain should be `[Null, +inf]`

3. What did you see instead?

Range info for table scan is `[-inf, +inf]`, which is wrong because the table scan is a full range table scan.

4. What version of TiDB are you using (`tidb-server -V` or ru

[2019-01-31 03:15] eurekaka commented on #9231
This issue is related with https://github.com/pingcap/tidb/issues/8588, we can fix them together. Another related issue is https://github.com/pingcap/tidb/issues/8058.

[2019-01-31 03:19] longhuguoji commented on #9220
@july2993 请问TiDB-lightning读取mysql从库时，是否会增加全局读锁？影响mysql从库和主库的同步。

[2019-01-31 03:33] spongedu opened #9232 "Results of `show create table` are not consistent with MySQL for character type columns"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do? If possible, provide a recipe for reproducing the error.

As is discussed in #9229 ,  in `SHOW CREATE TABLE` syntax, whether `CHARSET` && `COLLATE` are shown for a column seems determined by whether `CHARSET` && `COLLATE` are specified explicitly when create table. But in TiDB, `CHARSET` and `CO

[2019-01-31 03:37] xiekeyi98 commented on #9232
Thanks for you feedback.
There is another similar PR https://github.com/pingcap/tidb/pull/9113 .

[2019-01-31 03:56] MyonKeminta commented on #9196
@ericisme It seems that's a bug that has been fixed in TiKV's commit dd322faad9877cce8ea84a110766c6b83ca58ee9 . Could you please try a version after that commit in master branch?

[2019-01-31 04:39] ericisme commented on #9196
@MyonKeminta
thank you very much, the bug was disappeared after i update the pingcap/tikv docker images to tag->latest.

[2019-01-31 04:44] MyonKeminta commented on #9196
You are welcome

[2019-01-31 04:44] #9196 closed

[2019-01-31 08:39] #8796 closed

[2019-01-31 12:49] zz-jason opened #9236 "avoid noisiness "reload privilege success" logs"
this log was printed every 5 minutes in the log:

[code]

I think we only need to log the abnormal events, for example: reload privilege failed.

[2019-01-31 22:56] hueypark commented on #3227
@ngaut
I was working on changing int to int64 for 32bit support.
The above operation was successful in `parser`,  but in` tidb` it resulted in a lot of changes (aborted while fixing over 100 errors).
Besides, the readability of the resulting output is significantly lower than before.
Do you need 32bit support in 2019?
Thank you for your constructive review.

[2019-02-01 05:19] liubo0127 commented on #9221
Please give more detailed error information and log information of the corresponding service.

[2019-02-01 08:50] kuixiang opened #9238 "JDBC to TiDB useCursorFetch error..."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

the jdbc url is ：
jdbc:mysql://xxx?serverTimezone=Asia/Shanghai&max_allowed_packet=-1&autoReconnect=true&useUnicode=true&characterEncoding=utf8&useSSL=true&useCursorFetch=true&defaultFetchSize=10000

org.springframework.jdbc.Uncategorized

[2019-02-02 02:15] shenli commented on #9238
@kuixiang Please try 2.1.3 or the latest master. This is already supported.

[2019-02-02 06:46] Hanyu2015 opened #9241 "can not retry select for update statement"
## Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/pingcap/tidb/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiDB Readme](https://github.com/pingcap/tidb)
  - [TiDB Doc](https://github.com/pingcap/docs)

[2019-02-02 06:47] cesar-blog opened #9242 "StringError("[src/storage/engine/raftkv.rs:521]"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Error msg

`StringError("[src/storage/engine/raftkv.rs:521]: key t\\200\\000\\000\\000\\000\\000\\001\\377o_r\\200\\000\\000\\000\\000\\377\\001\\325\\302\\000\\000\\000\\000\\000\\372 is not in region key range [t\\200\\000\\000\\000\\000\\000\\001\\377o\\000\\000\\000\\000\\000\\000\\000\\370, t\\200\\000\

[2019-02-02 06:48] Hanyu2015 commented on #9241
![webwxgetmsgimg 2](https://user-images.githubusercontent.com/13936167/52160991-8ca75700-26f9-11e9-97a3-d9d218ad9593.jpg)

[2019-02-02 07:32] shenli commented on #9241
@Hanyu2015 Thanks for your feedback.
Please search in the document first: https://github.com/pingcap/docs/search?q=select+for+update&unscoped_q=select+for+update

[2019-02-02 07:47] Hanyu2015 commented on #9241
Does this log mean that the table whose id is 111 was affected? And what's the meaning of log 'primary={tableID=111, indexID=1, indexValues=...}'.

[2019-02-02 10:56] #9236 closed

[2019-02-02 11:37] alex-lx commented on #8013
After checking our log, it seems has been fixed, so I will close this issue now.
Thanks for your help, @jackysp ~

[2019-02-02 11:37] #8013 closed

[2019-02-02 12:51] winoros commented on #9242
@cesar-blog Please provide the `show create table` result. The table structure you provided is not very useful.

[2019-02-02 14:44] zz-jason opened #9243 "Optimizer Tracing"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No

**Describe the feature you'd like:**

At present, TiDB SQL Optimization is divided into two phases: Logical Optimization and Physical Optimization

For this Optimizer Tracing, we need to know:
1. What the initial Logical Plan is before the Logical Optimization?
2. What logical transformation rules are appli

[2019-02-02 14:48] zz-jason opened #9244 "Parallel Stream Aggregate"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The current Stream Aggregate operator only uses a single thread, haven't exploit all the CPU capabilities.

**Describe the feature you'd like:**

Implement a multiple threaded Stream Aggregate operator

**Describe alternatives you've considered:**

No

**Teachability, Documentation, Adoption, Migration Strategy

[2019-02-02 14:55] zz-jason opened #9245 "Full Vectorized Expression Evaluation"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The current expression evaluation interface are row-oriented, not efficient. To evaluate a batch of inputs, 1024 rows for example, 1024 function calls are invoked.

**Describe the feature you'd like:**

Expand the expression evaluation interface to add a column-oriented method, evaluate the builtin functions co

[2019-02-02 15:01] shenli opened #9246 "UCP: Support Invisible Indexes"
## Description

MySQL supports [invisible indexes](https://dev.mysql.com/doc/refman/8.0/en/invisible-indexes.html); that is, indexes that are not used by the optimizer.

This is a useful feature when you want to drop an index in a safe way. Invisible indexes make it possible to test the effect of removing an index on query performance, without making a destructive change that must be undone should

[2019-02-02 15:12] zz-jason opened #9247 "Efficient Hash Table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The current MVMap used in TiDB is not efficient for hash join or hash aggregate

**Describe the feature you'd like:**

Implemente an efficient hash table, which should:
1. have a better **probe** performance
2. have a not bad fill factor
3. supplies efficient hash functions for all data types that TiDB has.

Fo

[2019-02-02 15:16] zz-jason opened #9248 "Efficient Decimal Implementation"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The current decimal implemented in TiDB takes 40 bytes, and the operations on that implementations, for example Plus/Minus/Divide/Multiple/Mod/Hash, are not efficient, too.

**Describe the feature you'd like:**

We can implement a new 16 bytes decimal

**Describe alternatives you've considered:**

No

**Teachab

[2019-02-04 03:20] jackysp commented on #8013
Sorry for the late reply, @alex-lx ! It is really busy before the Spring Festival. It is good to see the bug has been fixed. Thanks for your attention!

[2019-02-04 04:13] july2993 commented on #9220
mydumper will use  `flush tables with read lock`. Lightning will not read MySQL directly but read the files dumped by  mydumper.
you can read the docs first before try to use it: https://pingcap.com/docs-cn/tools/lightning/overview-architecture/

[2019-02-06 16:14] spongedu commented on #8161
@morgo I've fixed this issue in #9255 . PTAL.
I've try to open some test settings modified in #8163, but not complete. I think we should look back and take a look after #9255  is merged.

[2019-02-07 12:00] morgo commented on #8161
Sounds good to me.  Thank you for working on this!

[2019-02-08 14:23] spongedu commented on #8439
The `ant_value` issue is fixed in #9255

[2019-02-08 14:26] ivanjaros opened #9257 "Dependency-free single binary"
Hi,
would it be possible to release a version that would be dependency-free(tikv, pd...) single binary, like cockroach db?

[2019-02-08 14:42] morgo commented on #8439
Thanks!  I'll check it off as it merges.

[2019-02-08 16:50] morgo commented on #9201
Okay, I have the following feedback:

* For changing the global value, it should be `log_bin` (not `sql_log_bin`).  It is safe to use the MySQL name `log_bin` as the purpose is identical.  There would just be one difference in that this variable is read-only in MySQL.  (If you don't use the MySQL name, it gets confusing - because this variable exists in TiDB, and you would have to choose what to d

[2019-02-08 16:56] morgo commented on #9246
Note that MySQL 8.0 will likely support INVISIBLE columns in the future as well.  We can tell this because functional indexes in 8.0 are based on virtual columns + invisible columns.

The semantics behind INVISIBLE columns are harder than invisible indexes, but assuming they are added to MySQL, we should plan on adding this feature too.

[2019-02-08 18:50] morgo commented on #9257
I am currently working on it :-)

Technical details:
It is possible to run the `tidb-server` with the `mocktikv` storage engine, and no `pd` or `tikv`.  Mocktikv is based on goleveldb, which is much slower than TiKV (5x in my tests), but it is useful for development environments to test TiDB compatibility.  For production, it will always be recommended to use TiKV.

May I ask which platform you ar

[2019-02-08 19:35] morgo commented on #6774
I agree with your analysis: constant folding should be disabled for the `benchmark` function.

Thanks for looking into this!

[2019-02-08 19:44] ivanjaros commented on #9257
That's good news.
Why goleveldb and not badger though? Doesn't that require cgo?

[2019-02-08 19:49] morgo commented on #9257
Badger support may be added in the future.

Goleveldb is a port to Go, and doesn't require cgo.  The test-suite currently uses TiDB without tikv or pd,  so most of the work is already done.  It still requires packaging and misc bug fixes such as https://github.com/pingcap/tidb/pull/8836 and https://github.com/pingcap/tidb/pull/8886

[2019-02-08 21:19] #9257 closed

[2019-02-08 22:54] morgo commented on #7047
TiDB recently added support for `wait_timeout`, so connections will idle out and close.  I've created an issue for the docs to update the FAQ: https://github.com/pingcap/docs/issues/888

In regards to a MySQL compatible `KILL`, because TiDB connection IDs are local to a server, there is actually some risk that if deployed behind a load balancer (recommended) you could kill a connection of the same

[2019-02-09 18:30] MrWaggel commented on #4435
Any updates on this?

[2019-02-10 06:46] sokoow opened #9259 "mattermost compatibility requires support for FULLTEXT indexes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Tried to launch mattermost 5.7.1

2. What did you expect to see?
Working product

3. What did you see instead?
This:

[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
latest

[2019-02-10 07:48] lamxTyler commented on #9259
@sokoow Thanks for your feedback! TiDB does not support full text yet. Ref https://github.com/pingcap/tidb/issues/1793

[2019-02-10 08:07] sokoow commented on #9259
Any timeline when this will be implemented and how ?

[2019-02-10 12:32] lamxTyler commented on #9259
Currently, there is no such plan.

[2019-02-10 13:52] spongedu commented on #8439
Hi @morgo , `name_const` is supported in #9261

[2019-02-10 16:07] morgo commented on #8895
I discussed this with the TiDB team following devcon this year, and we proposed a slightly different behavior: off by default, but produce a warning when updating a sysvar that is unsupported (irrespective of `tidb_mysql_compatible_variable_info` value).  I will update the proposal to incorporate shortly.

[2019-02-10 16:27] morgo commented on #4435
@MrWaggel Spatial requires considerable effort and is not on our immediate roadmap right now. See also https://github.com/pingcap/tidb/issues/6347 and https://github.com/pingcap/tidb/issues/673

[2019-02-10 19:55] morgo commented on #3560
I believe this has now been fixed in TiDB.  Confirming that the type TiDB returns is similar to MySQL 8.0 (where the default charset changes).  There is still a difference in collation, but both are correct.

[code]

I am going to close this issue now, but please feel free to re-open if you have any further questions.  Thanks!

[2019-02-10 19:55] #3560 closed

[2019-02-10 20:12] ddorian opened #9262 "Distributed backup ?"
Hi,

So TiDB is for big data. Say 10 servers with 2TB each (multi core, nvme etc).
How do you do a distributed backup/restore ? Looking at the docs it's not available.

Am I missing something ?
Do you expect to do a single-machine-backup on 50 machines ?

Regards

[2019-02-10 20:55] morgo commented on #9262
For backup, TiDB supports `mydumper` as a logical dump.  We provide documentation for it here: https://www.pingcap.com/docs/tools/mydumper/

Restore can be done via either [loader](https://www.pingcap.com/docs/tools/loader/) or [lightning](https://www.pingcap.com/docs/tools/mydumper/#).  Lightning currently restores at over 100GiB/hr.

Incremental backup is also possible via [TiDB Binlog](https://

[2019-02-10 22:28] ddorian commented on #9262
Still even lighting/load/mydmpuer look to be single-server, correct ?

[2019-02-10 22:32] morgo commented on #9262
Yes, they will require data to be on a single server.  Support for streaming to object storage is planned.