[2020-08-07 08:58] jackysp commented on #19063
https://github.com/pingcap/tidb/pull/18877 introduced it.

[2020-08-07 10:05] #18405 closed

[2020-08-07 10:46] tangenta opened #19066 "'admin reload statistics' reports 'Unsupported ast.AdminStmt'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master
[code]

[2020-08-07 10:49] lilinghai opened #19067 "Partition pruning is not as expected when condition exceeds the range of column type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
in mysql 8.0，the partition in the plan is null
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master
[code]

[2020-08-07 11:37] nolouch commented on #18566
cc @crazycs520

[2020-08-07 13:00] sre-bot opened #19073 "select_into_test.go:testSuite1.TestSelectIntoOutfileFromTable failed"
select_into_test.go:testSuite1.TestSelectIntoOutfileFromTable

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/45641/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/45642/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/45605/display/redirect
https://internal.pingcap.net/idc-jenkins/j

[2020-08-07 13:00] sre-bot opened #19074 "analyze_test.go:testFastAnalyze.TestFastAnalyzeRetryRowCount failed"
analyze_test.go:testFastAnalyze.TestFastAnalyzeRetryRowCount

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/45665/display/redirect

[2020-08-07 13:01] sre-bot opened #19075 "http_handler_test.go:HTTPHandlerTestSerialSuite.TestAllServerInfo failed"
http_handler_test.go:HTTPHandlerTestSerialSuite.TestAllServerInfo

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/44401/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/45618/display/redirect

[2020-08-07 13:01] sre-bot opened #19076 "scan_test.go:testScanSuite.TestScan failed"
scan_test.go:testScanSuite.TestScan

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/45604/display/redirect

[2020-08-07 13:41] cfzjywxk commented on #18954
@coocood Do we need to add back the `UpdateTableDelta` function call, it's not commonly used to commit transactions like this, but it's a bit annoying for the test case running random combinations.

[2020-08-07 15:21] nullnotnil commented on #19067
This should be an 'impossible where'. MySQL can actually detect it in other cases, but seemingly not this one.

There is a similar issue in https://github.com/pingcap/tidb/issues/17786

[2020-08-07 16:56] kolbe commented on #18566
@nullnotnil I agree. I like the idea of disallowing DEBUG logs if the tidb_log_desensitization is set.

@zz-jason only a user with SUPER can change the value of a GLOBAL variable, so this is already the case, but good point and it's important to mention!

[2020-08-07 19:25] nullnotnil opened #19077 "tidb build time is inaccurate (12 hour clock)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

One of these two options:
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[2020-08-08 01:36] coocood commented on #18954
We could discard the error when related table id is an empty set.

[2020-08-08 04:16] lance6716 commented on #19077
/label component/build

[2020-08-08 04:18] lance6716 commented on #19076
/label component/store

[2020-08-08 04:18] lance6716 commented on #19075
/label component/server

[2020-08-08 04:19] lance6716 commented on #19074
/label component/planner

[2020-08-08 04:19] lance6716 commented on #19073
/label component/executor

[2020-08-08 04:20] lance6716 commented on #19061
/label component/executor

[2020-08-08 08:16] njfanxun opened #19079 ""id bigint NOT NULL generated by default as identity" is not support?"
## General Question

[2020-08-08 17:22] nullnotnil commented on #19079
Hi @njfanxun,

`id bigint not null` can generate an auto_increment value by using either the [auto_increment](https://docs.pingcap.com/tidb/stable/auto-increment) or [auto_random](https://docs.pingcap.com/tidb/stable/auto-random) attribute. For MySQL compatibility, there is also a datatype alias for `serial`, which is a `BIGINT NOT NULL PRIMARY KEY auto_increment`:
[code]

Let me know if this answ

[2020-08-09 01:20] shuke987 opened #19082 "Found inconsistent data index when transaction includes union-all queries"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
no error

### 3. What did you see instead (Required)
admin check table failed.

### 4. What is your TiDB version? (Required)

master, 4.0.X

[2020-08-09 02:02] nullnotnil commented on #19082
@shuke987 sorry, I can't reproduce :( Do you mind sharing setup, is this with tikv? New collations enabled or disabled?

[2020-08-09 06:05] madonhe opened #19085 "ddl change, after canceling, the DDL queue cannot be closed"
[https://stackoverflow.com/questions/63316476/tidb-ddl-after-the-operation-the-queue-still-exists-and-cannot-be-closed](url)

mysql> ADMIN SHOW DDL;
+------------+--------------------------------------+---------------------+--------------+--------------------------------------+-------+
| SCHEMA_VER | OWNER_ID                             | OWNER_ADDRESS       | RUNNING_JOBS | SELF_ID

[2020-08-09 06:39] liuzix commented on #19082
/label sig/transaction

[2020-08-09 06:45] liuzix commented on #19066
/label sig/planner

[2020-08-09 07:57] zz-jason commented on #18969
1073741824 / 1024 / 1024 / 1024 Bytes = 1 GB, but the above picture shows that it exceeds the memory quota.

@wshwsh12 we need to investigate why the memory usage is not restricted to 1 GB only.

[2020-08-09 13:37] lance6716 commented on #19085
/label component/DDL

[2020-08-09 13:54] madonhe commented on #19085
没听懂 您像传递给我的意思。我应该怎么处理这个问题呢

[2020-08-09 13:58] lance6716 commented on #19085
这些是分流信息，工作时间会有 SIG DDL 的开发者查看、解决问题。另外可以在 https://asktug.com/ 中文论坛提问，会有更及时的响应。

[2020-08-09 14:50] #19063 closed

[2020-08-09 15:48] JmPotato commented on #18921
Just FYI, I found some incompatible behaviours of TiDB with MySQL previously. They are reported from #17994 and I tried to fix it by #17997. During the investigation, I found some of the type inference for comparison operation such as `greatest/least` is inconsistent with MySQL implementation. Maybe it also should be considered to fix at once?

[2020-08-09 15:49] nullnotnil commented on #19082
I believe this has been fixed in master: https://github.com/pingcap/tidb/pull/19006

[2020-08-09 15:55] nullnotnil commented on #19082
Confirming that I can reproduce this in 4.0.4, but not in master:
[code]

I am going to close this as a duplicate of https://github.com/pingcap/tidb/pull/19006 Thanks!

[2020-08-09 15:55] #19082 closed

[2020-08-09 16:34] wangggong commented on #18977
Here is some other try:

[code]

Thus the reason is that parser takes the `0xE4` as an `hexLit` instead of `stringLit`.

While no specific way to fix has been occurred to...

[2020-08-10 02:46] #18931 closed

[2020-08-10 03:21] SunRunAway commented on #12233
Coprocessor part is still needed to be fix.

[2020-08-10 03:48] lidezhu opened #19089 "TiDB return wrong result when select partition table from TiFlash"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
run the following sql:
`create table test.employees  (id int,store_id int not null)partition by hash(store_id) partitions 4;`
`alter table test.employees set tiflash replica 1;`

wait for table available in tiflash

run the following sql:
`insert into test.employees(store_id

[2020-08-10 03:50] breeswish commented on #12233
@iosmanthus PTAL

[2020-08-10 04:07] lidezhu commented on #19089
Seems caused by this pr: https://github.com/pingcap/tidb/pull/18981

[2020-08-10 04:08] cfzjywxk commented on #19089
@tiancaiamao PTAL

[2020-08-10 04:12] zz-jason commented on #18238
It's an important usability improvement to address hot write issues. We'd better backport this improvement to the release branches if possible.

[2020-08-10 05:09] SunRunAway commented on #18426
@ichn-hu PTAL

[2020-08-10 05:46] zz-jason commented on #18052
list partition is useful in the geo-partition scenario. take the following table (from [LIST COLUMNS partitioning - MySQL](https://dev.mysql.com/doc/refman/8.0/en/partitioning-columns-list.html)) as an example:

[code]

with placement rules (https://github.com/pingcap/tidb/issues/18030), we can define a location constraint for each partition to achieve better read/write performance.

[2020-08-10 05:55] #18824 closed

[2020-08-10 06:12] zyguan opened #19091 "`admin check table` reports 'data is corrupted' when using clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error should be reported by `admin check table`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-08-10 06:25] zyguan opened #19092 "Got wrong result in a transaction when using clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The two select statements should return same result.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-08-10 06:34] #17799 closed

[2020-08-10 06:44] #19002 closed

[2020-08-10 07:41] zz-jason commented on #18052
@crazycs520 PTAL

[2020-08-10 07:45] zz-jason commented on #16893
@5kbpers do you mean to modify the `create table` schema of the specified table. without modifying the queries to that table?

[2020-08-10 07:58] zyguan commented on #19092
/assign @coocood

[2020-08-10 07:58] zyguan commented on #19091
/assign @coocood

[2020-08-10 08:00] breeswish opened #19095 "SHOW GLOBAL VARIABLES displays SESSION only variables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No session only variables are displayed.

In MySQL, `SHOW GLOBAL VARIABLES` will not display SESSION variables like `last_insert_id`.

### 3. What did you see instead (Required)

Some session only variables are also dis

[2020-08-10 08:01] zyguan commented on #19092
/label severity/critical

[2020-08-10 08:07] ChenPeng2013 opened #19096 "set: unknown column 'a' in 'field list'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
in MySQL or MariaDB
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-08-10 08:12] zz-jason commented on #19095
duplicated with https://github.com/pingcap/tidb/issues/18517

[2020-08-10 08:12] zz-jason commented on #19095
I'm going to close issue, let's discuss it in https://github.com/pingcap/tidb/issues/18517.

[2020-08-10 08:12] #19095 closed

[2020-08-10 08:13] ChenPeng2013 opened #19097 "set: shouldn't support 'select ... into outfile ... union select ... ' and 'select ... union select SQL_BUFFER_RESULT ... ' statements"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
in MySQL or MariaDB
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-08-10 08:16] zz-jason commented on #9298
@SunRunAway can we support it in TiDB 5.0? to distinguish session, instance, and global level variables in the query syntax firstly.

[2020-08-10 08:21] zz-jason commented on #18517
we'd better fix this issue ASAP to avoid confusing users. @SunRunAway PTAL.

[2020-08-10 09:00] zyguan opened #19100 "Query results are different if there is an index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

The two select statement should return same result (mysql returns 0).

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

both master and release-4.0

[2020-08-10 09:29] crazycs520 commented on #18566
Already cherry-pick to release-4.0: https://github.com/pingcap/tidb/pull/18581

[2020-08-10 09:57] wjhuang2016 commented on #15807
Because the DDL operation is very complex, these log is used to help we identify the bug when DDL went wrong.
We don't' t think there is any log we can reduce here.

[2020-08-10 10:08] zz-jason commented on #15807
can we change these internal logs to debug level?

[2020-08-10 10:08] zz-jason commented on #15807
can we only log the required information when there is an error in the DDL operation?

[2020-08-10 11:06] wjhuang2016 commented on #15807
Many problems with DDL are slow or block. It doesn't meet the error.

[2020-08-10 11:20] shuke987 commented on #12065
duplicate with https://github.com/pingcap/tidb/issues/3773

[2020-08-10 11:23] zyguan opened #19104 "Selection in a transaction returns wrong result after an on-duplicate-update insert."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Here is the result of mysql 8.0.

[code]

### 3. What did you see instead (Required)

Here is the result of release-4.0

[code]

In addition, we got a totally wrong result on master...

[code]

### 4. What is your TiDB

[2020-08-10 11:24] crazycs520 commented on #18566
This check is added in https://github.com/pingcap/tidb/pull/19103

[2020-08-10 12:31] #19034 closed

[2020-08-10 13:00] sre-bot opened #19107 "point_get_test.go:testPointGetSuite.TestClusterIndexCBOPointGet failed"
point_get_test.go:testPointGetSuite.TestClusterIndexCBOPointGet

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/44502/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/45783/display/redirect

[2020-08-10 13:00] sre-bot opened #19108 "tidb_test.go:tidbTestSerialSuite.TestTLS failed"
tidb_test.go:tidbTestSerialSuite.TestTLS

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/45763/display/redirect

[2020-08-10 13:10] cfzjywxk commented on #19104
Simplified query to reproduce
[code]

[2020-08-10 13:23] madonhe commented on #19085
问题已解决。3.x 版本角色有：pump_servers。要进行重新部署。
write detect binlog to pump failed   导致的问题

[2020-08-10 13:23] #19085 closed

[2020-08-10 13:57] cfzjywxk commented on #19104
The cause is in functions `buildUnionScanFromReader`

[2020-08-10 14:02] liuzix commented on #19100
/label sig/execution

[2020-08-10 14:10] liuzix commented on #19097
/label sig/execution

[2020-08-10 14:12] liuzix commented on #19096
/label sig/execution

[2020-08-10 14:42] zz-jason commented on #14433
@wwar It would be helpful if you can clearly specify the tables you want to add to tidb.

[2020-08-10 19:51] nullnotnil commented on #19097
I am not sure if `SQL_BUFFER_RESULT` does anything in TiDB? I think this is just a simple parser compatibility issue. Fixing it will help ensure applications can migrate back to MySQL if needed.

[2020-08-10 19:59] nullnotnil commented on #19100
This appears to be caused by incorrect boolean coercion on the value decimal value. When explicitly searching for IS NULL / IS NOT NULL, results are correct:

[code]

There is a similar bug in https://github.com/pingcap/tidb/issues/12233 (it is not identical, it didn't depend on if the value was indexed or not.)

[2020-08-11 02:54] eurekaka commented on #8844
@fzhedu PTAL

[2020-08-11 03:09] xumengpanda opened #19111 "Use FoundationDB as an alternative of TiKV for TiDB"
## Feature Request

FoundationDB (https://github.com/apple/foundationdb) is a deterministic distributed database that supports ACID transactions. It is extremely reliable because it has a deterministic simulator to quickly check its correctness under various interleaving of failure scenarios. One end-to-end test in simulation typically takes less than 30 seconds and covers many failure scenarios.

[2020-08-11 03:24] zyguan opened #19112 "Got incorrect result when using hash join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ 8978773f5e3d43a100550e6babea9904a99e5938
release-4.0 @ 7cac557b024f0aaca6825193477e5e6daea7055b

[2020-08-11 03:27] #18523 closed

[2020-08-11 03:35] nullnotnil commented on #17216
Here is a minimal testcase against master:
[code]

Vs MySQL:

[code]

[2020-08-11 03:37] qw4990 commented on #17600
This problem may be fixed by #18767.
Let us wait a few days to see if it will arise again.

[2020-08-11 03:58] zimulala opened #19116 "Supports transitions between the same types, including unsigned transitions"
### Description

Partially supports changing the column type.

### Value

* Supports column type conversion that will modify column data.

### Task List
- [x] P0: #19118 Add a framework for column type transformation(no rollback operation is supported yet) and support column type conversion within integer types
    - [x] P0: #19119 Improve the framework for column type transformation mainly suppor

[2020-08-11 04:09] SunRunAway commented on #13758
@fzhedu Would you like to take a look?

[2020-08-11 04:10] SunRunAway opened #19117 "data race insertRegionToCache"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/45891/pipeline

[2020-08-11 04:14] SunRunAway commented on #19117
Write:
https://github.com/pingcap/tidb/blob/afb4875e2ff3aa759919747411576cd98ebff5f1/store/tikv/region_cache.go#L454

Read:
https://github.com/pingcap/tidb/blob/afb4875e2ff3aa759919747411576cd98ebff5f1/store/tikv/region_cache.go#L823

[2020-08-11 04:16] SunRunAway commented on #19117
@lzmhhh123 PTAL

[2020-08-11 04:40] zimulala opened #19118 "Add a framework for column type transformation(no rollback operation is supported yet)"
### Description

Partially supports changing the column type.

### Value

* Add a framework for column type transformation(no rollback operation is supported yet) and support column type conversion within integer types

[2020-08-11 04:44] zimulala opened #19119 "Improve the framework for column type transformation mainly supported rollback operation"
### Description

Partially supports changing the column type.

### Value

* Improve the framework for column type transformation mainly supported rollback operation

[2020-08-11 04:49] zz-jason commented on #15807
IMHO, it's better to diagnosis these slow DDL issues via the Grafana monitor.

[2020-08-11 04:49] zimulala opened #19121 "Supports transitions between the same type (other Numeric types)"
### Description

Supports transitions between the same types, including unsigned transitions.

### Value

- Support conversion between other Numeric types
    + Fixed-Point Types (Exact Value) - DECIMAL, NUMERIC
    + Floating-Point Types (Approximate Value) - FLOAT, DOUBLE
    + Bit-Value Type - BIT

[2020-08-11 04:52] zimulala opened #19122 "Supports transitions between the same type (Time types)"
### Description

Supports transitions between the same types, including unsigned transitions.

### Value

- Support conversion between Time types
    + The DATE, DATETIME, and TIMESTAMP Types
    + The TIME Type
    +  The YEAR Type

[2020-08-11 04:58] zimulala opened #19123 "Supports transitions between the same type (JSON types)"
### Description

Supports transitions between the same types, including unsigned transitions.

### Value

- Support conversion between JSON types

[2020-08-11 05:02] #3665 closed

[2020-08-11 05:02] #4640 closed

[2020-08-11 05:36] #18779 closed

[2020-08-11 05:51] liuzix commented on #19108
/label security

[2020-08-11 06:09] wshwsh12 commented on #19100
https://github.com/pingcap/tidb/pull/17117 This pr can cover the case.

[2020-08-11 06:51] cyliu0 opened #19126 "select count result differs between tikv and mocktikv"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
With TiKV (same as MySQL 8.0):
[code]

### 3. What did you see instead (Required)
With mocktikv:
[code]

### 4. What is your TiDB version? (Required)

[code]

## SIG slack channel
[#sig-exec](https://slack

[2020-08-11 07:00] liuzix commented on #19107
/label sig/execution

[2020-08-11 07:01] zyguan opened #19127 "Affected rows are incorrect when updating a table with partitions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Only 2 rows get affected.

### 3. What did you see instead (Required)

[code]
It seems the data is correct after update, only affected-rows in the response is wrong.

### 4. What is your TiDB version? (Required)

master

[2020-08-11 07:01] zyguan commented on #19127
/assign @tiancaiamao

[2020-08-11 07:41] zhangdan1 opened #19129 "tidb slow query"
## Description
my tidb cluster has many slow queries , I don't know how to reslove it ,could you give me some suggestions ?
![image](https://user-images.githubusercontent.com/20087068/89870885-1a1a1000-dbe9-11ea-8b15-30d616565870.png)

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig-exec&ref=high-performance)

## Score
- 300

## Mentor
 * @SunRunAway

[2020-08-11 07:42] cfzjywxk opened #19130 "The point get executor and batch point get executor may not be thread safe"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Issue https://github.com/pingcap/tidb/issues/16817 says
[code]

For `batchPointGetExecutor`, the `init` flag is set using atomic operations, but the `index` field is not, maybe we need to do more checks and tests to ensure these two executors are thread-safe.

### 1. Minimal reproduce step (Required)

### 2. What d

[2020-08-11 07:47] BusyJay commented on #17781
I have commented in the original issue to ask for more information. It can't be tell if it's an expected behavior or a bug.

[2020-08-11 08:10] Win-Man opened #19132 "Support add partion automatically"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Support add partion automatically, like Oralce's Interval Partion: https://blog.csdn.net/hellojoy/article/details/49998653.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-11 09:23] #19028 closed

[2020-08-11 12:15] zyguan opened #19136 "Result of an in-transaction query is incorrect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Both selection should return:
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

release-4.0 @ 3948c7ba7b5d4a081abf2162b791ab67fe650882

[2020-08-11 12:47] zyguan opened #19137 "Can not swap values by a multi-tables update"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The values of `t1.c_str` and `t2.c_str` should be swapped in the above case, that is, the last selection should return an empty set.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version?

[2020-08-11 12:57] zyguan commented on #19137
/assign @zz-jason

[2020-08-11 13:42] nullnotnil commented on #14994
I correct my previous statement. It looks like at some point `get_lock` started returning errors by default (which is great! It helps make sure users are not caught by accident):

[code]

Thus, I have removed the correctness label. I still think this feature is very useful since Ruby on Rails, Flyway use it for migrations. But the current behavior is no longer high-risk.

[2020-08-11 14:21] cfzjywxk commented on #19136
There are two problems need to fix:
1. The `UnionScanExec` should reset `addedRows`, `cursor4AddRows`, `snapshotRows` and `cursor4SnapshotRows` doing `Close` operation. Otherwise the apply executor may open and close union scan operator and the returned data is wrong.
For v4.0 release branch, after fixing this, the result is correct.

2. On the master branch, besides the problem above, [17578](htt

[2020-08-11 15:46] zyguan opened #19141 "PointGet/BatchPointGet will break partition selection"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Partition selection should prevent all rows in other partitions from being selected in any situation.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ 8978773f5

[2020-08-11 15:46] zyguan commented on #19141
/assign @tiancaiamao

[2020-08-11 15:54] zyguan commented on #19141
/label severity/critical

[2020-08-11 16:38] tkaven commented on #14581
pls try this below

[2020-08-11 19:03] liuzix commented on #19129
/label sig/execution

[2020-08-11 19:04] liuzix commented on #19126
/label sig/engine

[2020-08-11 19:05] liuzix commented on #19126
/label sig/execution

[2020-08-12 02:08] nullnotnil commented on #19132
There is a discussion about tables with a TTL in https://github.com/pingcap/tidb/issues/18731. One of the suggestions was to solve this with interval partitioning, but I think we should discuss both feature requests independently. They both have merit!

[2020-08-12 02:43] zz-jason commented on #18808
setting it global is risky. at least we should allow an instance-level setting. @xiaodong-ji PTAL

[2020-08-12 02:49] #19104 closed

[2020-08-12 03:13] breeswish commented on #18808
@SunRunAway Can we formally provide some infrastructures / features for such A/B testing purpose? As I know there are some limitations to implement a session+instance+global variable now.

[2020-08-12 03:22] ChenPeng2013 opened #19143 "clustered index: Data is corrupted, missing data for NOT NULL column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-08-12 03:26] #19143 closed

[2020-08-12 03:28] ChenPeng2013 commented on #19143
duplicated with https://github.com/pingcap/tidb/issues/19091

[2020-08-12 03:35] breeswish commented on #17688
@jackysp Yes, similar to it. The current implementation in #9151 has memory leaks (when database is deleted) and database level metrics is usually not precise enough as well.

[2020-08-12 03:40] jackysp commented on #17688
The key point is that still there are performance issues when there are many databases. It seems like no one uses this feature so that many people don't even know about it.

[2020-08-12 04:30] zyguan opened #19145 "IndexMergeJoin on a partitioned table causes wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Both selection should return
[code]

### 3. What did you see instead (Required)

[code]

Execute `select /*+ INL_MERGE_JOIN(t1,t2) */ * from t1 partition (p0) join t2 on t1.c_int = t2.c_int and t1.c_str < t2.c_str;` to

[2020-08-12 05:42] tiancaiamao commented on #19089
I can not reproduce it @lidezhu

[2020-08-12 05:51] lidezhu commented on #19089
Make sure your tidb version include this pr: https://github.com/pingcap/tidb/pull/18981

[2020-08-12 05:52] tiancaiamao commented on #19089
I see. I get this error in the master branch

[code]

[2020-08-12 05:55] lidezhu commented on #19089
This error is caused by use the wrong version of tiflash. Please also use the latest version on master branch for tiflash.

[2020-08-12 06:00] wjhuang2016 opened #19148 "schema may change when execute DML statement"
##Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 3. What did you see instead (Required)
Before
![image](https://user-images.githubusercontent.com/17380469/89980228-0ed7ea80-dca4-11ea-99d5-55b703bff548.png)

After
![image](https://user-images.githubusercontent.com/17380469/89980242-15666200-dca4-11

[2020-08-12 06:16] tabokie commented on #15135
@chijey Can you verify the IP you're trying to bind is listed in `ifconfig`? If not, it's probable that you're binding to the public IP on a server behind NAT.

[2020-08-12 06:18] liuzix commented on #19145
/label sig/execution

[2020-08-12 06:55] rebelice commented on #17777
This issue is solved by [pull/16752](https://github.com/pingcap/tidb/pull/16752) and [pull/16672](https://github.com/pingcap/tidb/pull/16672). So it will be closed.

[2020-08-12 06:56] #17777 closed

[2020-08-12 07:06] Yisaer opened #19149 "Support Label configurations for TiDB"
## Feature Request

**Is your feature request related to a problem? Please describe:**

To support auto-scaling in PD, PD needs to organize the each instances by groups in the cluster. The current way to marking the several instances as a group is to mark them with the same group label.

For TiKV, If Store 1 and Store 2 both have the same label `group=A`, then PD will think them as one group. As T

[2020-08-12 07:06] Yisaer commented on #19149
/assign

[2020-08-12 07:18] lzmhhh123 commented on #19145
@zyguan Are you sure you produce this bug on `release-4.0` branch? In TiDB 4.0, the partition table can't be the inner child of index merge join. I can produce it on `master` branch, it's not a critical issue. And the root cause may be https://github.com/pingcap/tidb/pull/18981. @tiancaiamao Please take a look.

[2020-08-12 07:23] zyguan commented on #19145
@lzmhhh123 try `select /*+ INL_MERGE_JOIN(t1,t2) */ * from t1 partition (p0) join t2 on t1.c_int = t2.c_int and t1.c_str < t2.c_str;`.

[2020-08-12 07:35] lzmhhh123 commented on #19145
Ok, that's a bug, it seems `index join`, `index hash join` and `index merge join` have the same problem.

[2020-08-12 08:05] ekexium opened #19150 "Incompatibility with MySQL for ADDTIME()"
## Description
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
In MySQL 8.0.21

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-944-gae779e150
Edition: Community
Git Commit Hash: ae779e1502cf99d65511387a4e1eb171bd9eb9c7
Git Branch: master
UTC Build

[2020-08-12 08:10] zyguan opened #19152 "Failed to build union-scan for index-join on patitioned tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ ae779e1502cf99d65511387a4e1eb171bd9eb9c7

[2020-08-12 08:13] zyguan commented on #19152
/assign @tiancaiamao

[2020-08-12 08:14] tallmad opened #19153 "tidb v4.0.4 login denied with password"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[code]

### 2. What did you expect to see? (Required)
ERROR 1045 (28000): Access denied for user 'testuser'@'10.0.0.1' (using password: NO)

### 3. What did you see instead (Required)
login success

### 4. What is your TiDB version? (Required)

[code]

[2020-08-12 08:20] ichn-hu commented on #17216
https://github.com/pingcap/tidb/pull/19131 this PR would solve this issue, we could close it once this PR get merged.

[2020-08-12 09:05] cfzjywxk commented on #19137
The MySQL behavior is explained in [link](http://mysql.taobao.org/monthly/2015/04/08/), TiDB implementation is different from MySQL.

[2020-08-12 09:19] ekexium opened #19155 "Incompatibility with MySQL in BETWEEN operation in where clause"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your TiDB version for the right syntax to use line 1 column 14 near "where 2 between 0 and 3"

### 4. What is your TiDB version? (Required)

[2020-08-12 09:24] ekexium opened #19156 "Incorrect evaluation of BETWEEN condition of type datetime if there is a NULL"
## Description
## Bug Report

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

[code]
### 3. What did you see instead (Required)

`Empty set`

### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-944-gae779e150
Edition: Community
Git Commit Hash: ae779e1502cf99d65511387a4e1eb171bd9eb9c7
Git Branch: master
UTC Build Time: 2020-0

[2020-08-12 09:41] cfzjywxk commented on #19137
MySQL behaviors are different for single and multiple tables, the TiDB behavior is more reasonable, I think we can document about this.

[2020-08-12 10:04] liuzix commented on #19156
/label sig/execution

[2020-08-12 10:04] liuzix commented on #19155
/label sig/execution

[2020-08-12 10:15] liuzix commented on #19150
/label sig/execution

[2020-08-12 10:17] ekexium opened #19158 "Incompatible TIME() with MySQL"
## Bug Report

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
Release Version: v4.0.0-beta.2-944-gae779e150
Edition: Community
Git Commit Hash: ae779e1502cf99d65511387a4e1eb171bd9eb9c7
Git Branch: master
UTC Build Time: 2020-08-11 03:55:14
GoVers

[2020-08-12 10:23] zjj2wry commented on #18887
any plan for this? I can create a PR for it

[2020-08-12 11:28] #17278 closed

[2020-08-12 11:43] ichn-hu commented on #17241
@ChenPeng2013 It looks like a bug of MySQL after some investigaion.

If you swap the two field in the count distinct, the result on MySQL will match TiDB's.

[code]

Additionally, I used a simple python script to calculate the distinct value pairs and it is indeed 43860.

the following file is obtained by extract rows from the database.

[mysql_17241.txt](https://github.com/pingcap/tidb/files/5062

[2020-08-12 13:02] ChenPeng2013 opened #19160 "Incorrect timestamp value when time_zone is set to America/New_York"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-08-12 13:29] cfzjywxk commented on #19160
For the timezone set with EDT/EST, the clock [adjustment](http://www.webexhibits.org/daylightsaving/b.html) may change the time, and this will make `CoreTime`.`GoTime` check fails, which will report "wrong value to the client".

[2020-08-12 13:39] bb7133 commented on #19160
Why this is not expected? "2020-03-08 02:51:21" is not a valid time for New York because of [DST](https://en.wikipedia.org/wiki/Daylight_saving_time).

The behavior is compatible with MySQL.

[2020-08-12 14:25] zyguan commented on #19160
https://en.wikipedia.org/wiki/Eastern_Time_Zone

[2020-08-12 15:15] nullnotnil commented on #8438
I am going to close this issue now. There are only two remaining functions, and both have dedicated issues to track them. Thanks!

[2020-08-12 15:15] #8438 closed

[2020-08-12 15:20] nullnotnil commented on #13420
Closing as won't fix. Thanks!

[2020-08-12 15:20] #13420 closed

[2020-08-12 16:04] nullnotnil commented on #14935
Confirming this has been fixed in master. Here is a better testcase, since the result is timezone dependent:

[code]

I can confirm that TiDB / MySQL 8.0 produce the same result.

[2020-08-12 16:13] zyguan opened #19161 "Unexpected panic when querying on partitioned tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Empty set.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

release-4.0 @ 1483de323abe0f519a43788adfbdaac1dbd71d0d

[2020-08-12 16:32] nullnotnil commented on #10119
I think this could be a more serious bug in type coercion:
[code]

It is hard to tell, but it could impact some common query expressions.

[2020-08-12 16:49] nullnotnil commented on #19160
For mysql, the timezone tables [need to be installed first](https://dev.mysql.com/doc/refman/8.0/en/mysql-tzinfo-to-sql.html).

I verified that MySQL 8.0.20 and MySQL 5.7.31 are consistent with TiDB:
[code]

I am going to close this as 'not a bug'. Thanks!

[2020-08-12 16:49] #19160 closed

[2020-08-12 17:50] nullnotnil commented on #17875
I believe the character set issue was fixed between TiDB 2.1 and TiDB 3.0-ish. I have updated the title to be specifically about the sha256 auth plugin.

[2020-08-12 18:06] nullnotnil commented on #14433
I would like to add the following tables to information schema:
[code]

Here is an example output:
[code]

(Note: This is modeled on the performance_schema tables in MySQL, but for compatibility TiDB leaves performance_schema empty, and adds information_schema tables. I'm fine with that.)

[2020-08-12 22:24] kolbe opened #19162 "Improve compatibility for ALTER TABLE algorithms"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The changes implemented to address https://github.com/pingcap/tidb/issues/8428 introduce incompatibilities with MySQL that make migrations difficult.

[code]

**Describe the feature you'd like:**

Our support of ALTER TABLE algorithms tries to match their names literally to the kind of operation being performed

[2020-08-12 23:08] kolbe opened #19163 "Add comment syntax for TiDB to ignore sections of queries"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes, there are syntax elements that are required in MySQL (or MariaDB, etc.) but might be unnecessary in TiDB or might cause errors.

**Describe the feature you'd like:**

It would be nice if there was a way to tell TiDB to ignore sections of a query while still allowing them to be parsed by other databas

[2020-08-12 23:27] kolbe commented on #19163
Maybe instead of doing the weird syntax with commented out comments, it's better to be more explicit?

[code]

[2020-08-13 01:17] nullnotnil commented on #19162
I think the fix can be straight forward: make these purely assertions that `ALGORITHM=x`  means "this or better", whereby:

[code]

This can be documented as a MySQL incompatibility, but I think it's reasonable. MySQL supports COPY for everything, because that's how it started.. everything was a copy, and then it started adding optimizations. TiDB was designed better from the start where many of t

[2020-08-13 01:21] zz-jason commented on #19162
I mark this feature request as accepted. @bb7133 PTAL if we can improve this.

[2020-08-13 02:08] nullnotnil commented on #19161
It looks like this is fixed in master / the problem is only in the release branch:
[code]

[2020-08-13 02:25] nullnotnil commented on #19156
I'm not actually sure if this is a bug in TiDB. It might be a bug in MySQL (need input from others). Take the following testcase which is a little easier to follow:
[code]

In TiDB:
[code]

In MySQL 8.0:
[code]

In MySQL 5.7:
[code]

[2020-08-13 02:28] nullnotnil commented on #19158
Verified against master, and noting that TiDB does return a warning:
[code]

I have removed the bug label and just categorized this as a compatibility issue, since the behavior around these edge cases is somewhat undefined. Please feel free to correct me if you believe otherwise. Thanks!

[2020-08-13 02:31] nullnotnil commented on #19153
I believe this might be an issue because your client is from MySQL 8.0. See the [FAQ on this here](https://docs.pingcap.com/tidb/stable/tidb-faq#how-is-tidb-compatible-with-mysql).

There is feature request to support caching_sha256_password in https://github.com/pingcap/tidb/issues/17875

[2020-08-13 02:37] nullnotnil commented on #19155
Confirming that this is a MySQL 8.0 compatibility issue, and not strictly a bug. TiDB is consistent with 5.7:
[code]

[2020-08-13 02:43] nullnotnil commented on #19137
I believe the SQL standards do talk about what the correct behavior is here. I am not sure if MySQL is necessarily correct, but if TiDB differs, it should be defendable if it is at least standard.

[2020-08-13 02:48] nullnotnil commented on #19127
Verified against master. To clarify, which result is incorrect:
[code]

[2020-08-13 02:54] ichn-hu commented on #17241
This test case has been reported to MySQL, https://bugs.mysql.com/bug.php?id=100504 , and it has been verified by MySQL team, we might just close this issue, @ChenPeng2013 could you please verify this as well? @SunRunAway FYI.

[2020-08-13 03:03] superlzs0476 opened #19165 "Alert log of GC Failed need modify output log level from error to warning"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Output LOG
[code]

### 2. What did you expect to see? (Required)

I expect to see failed GC as a warning level log when causes by Region transfer that can not GC.

### 3. What did you see instead (Required)

This is error level log now.

### 4. What is your TiDB version? (R

[2020-08-13 03:08] nullnotnil commented on #19129
The time of 670.3 ms is not a wall time, but a cumulative time from multiple threads. From what I can tell, this is also just one query in isolation, as the dashboard will draw a histogram if there are multiple. i.e.

![image](https://user-images.githubusercontent.com/67764674/90089804-90993980-dcdf-11ea-89d4-cb5d9103bc58.png)

Did you want to ask this question in Chinese on https://asktug.com/ ?

[2020-08-13 03:12] liuzix commented on #19161
label sig/execution

[2020-08-13 03:12] liuzix commented on #19161
/label sig/execution

[2020-08-13 03:21] JmPotato commented on #18253
You can check this [doc](https://docs.google.com/document/d/1t4D2M5W0dqduNTey1aTute4umuEQrKazU-ipSwFAaLM/edit#heading=h.efxhx09hxyyo), but only in Chinese now.

[2020-08-13 03:27] fzhedu commented on #19137
I verify this in mysql version 8.0.19, it actually swaps two values from different tables. Should TiDB have the same behavior? @SunRunAway @cfzjywxk @nullnotnil

[code]

[2020-08-13 03:40] wjhuang2016 opened #19166 "result of select collation(concat(NULL,NULL)) is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
select collation(concat(NULL,NULL));

### 2. What did you expect to see? (Required)

binary

### 3. What did you see instead (Required)
utf8mb4_general_ci
### 4. What is your TiDB version? (Required)

master

[2020-08-13 03:42] bb7133 commented on #19162
I think this is valuable & reasonable, thanks @nullnotnil

[2020-08-13 03:52] lzmhhh123 commented on #19010
Can't reproduce on master: ed4004ac04c2c3cfddd71b7774eedc1f3d83a4d4.

[2020-08-13 03:59] nullnotnil commented on #18661
I chatted to @shuke987 and devs and QA will add this check to design review. Because the original issue has since been fixed, I am going to go ahead and close this issue. Thanks!

[2020-08-13 03:59] #18661 closed

[2020-08-13 04:23] windtalker opened #19167 "DML failed on table with column _tidb_rowid"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
DML succeed or DDL failed when creating a table with column `_tidb_rowid`

### 3. What did you see instead (Required)
DDL succeed but DML failed.

### 4. What is your TiDB version? (Required)
master

[2020-08-13 04:48] coocood commented on #19010
run on tikv produce this error:

[code]

[2020-08-13 05:02] Yisaer commented on #19149
@coocood @lysu  @lonng WDYT?

[2020-08-13 05:36] tallmad commented on #19153
Thanks.
Login success With **--default-auth=mysql_native_password**

[2020-08-13 05:36] #19153 closed

[2020-08-13 05:58] Patrick0308 commented on #19166
Can I take it?

[2020-08-13 06:05] #18934 closed

[2020-08-13 06:17] lonng commented on #19149
Can you expand the details why the auto-scaling need group instances first?

[2020-08-13 06:28] lonng commented on #14433
Good idea.
@nullnotnil Do we need to persistent this summary?

[2020-08-13 06:33] zanmato1984 commented on #18086
Dup with https://github.com/pingcap/tidb/issues/18300, closing.

[2020-08-13 06:33] #18086 closed

[2020-08-13 06:42] xiongjiwei commented on #19166
btw, `select coercibility(concat(1,1));` get result 5, should 4

[2020-08-13 06:44] xiongjiwei commented on #19166
`select collation(conv('a' collate utf8mb4_general_ci, 16, 2));` should use connect collation

[2020-08-13 06:47] liuzix commented on #19167
/label sig/ddl

[2020-08-13 07:00] jyz0309 commented on #18990
alkaid will fix it :)

[2020-08-13 07:07] wjhuang2016 commented on #19166
I think @xiongjiwei 's PR can fix this issue already. If you are interested in something related to collation, you can try #17063.

[2020-08-13 08:02] MyonKeminta commented on #19165
There's already  a same issue talking about this: https://github.com/tikv/tikv/issues/8294
And the fixing PR is submitted but not merged yet: https://github.com/tikv/tikv/pull/8396
I'll close this PR and continue tracking the issue in https://github.com/tikv/tikv/issues/8294

[2020-08-13 08:02] #19165 closed

[2020-08-13 08:06] mahjonp commented on #18644
I design two control groups. The first group turns off auto analyze and feedback. The second group turns off auto analyze but turns on feedback.

Experiment steps:
0. create imdb_slice using schema.sql
1. import half data into the database: `python3.6 load_half.py`
2. analyze all tables in imdb_slice
3. run: `python3.6 run.py`

Seems there existed the effectiveness regression on some SQLs.

![imag

[2020-08-13 08:28] #19166 closed

[2020-08-13 09:13] fzhedu opened #19177 "schemas: replace json with a better way to serialize meta data"
## Feature Request

**Is your feature request related to a problem? Please describe:**

loading schemas cause a lot of memory after analyzing the [AskTug](https://asktug.com/t/topic/34176) problem, especially the runtime memory, which is up to 2.5 GB, which is larger than the actual meta data (0.85 GB).

we also bench the memory usage during decoding json, ([code](https://github.com/fzhedu/bench-j

[2020-08-13 09:13] fzhedu commented on #19177
/label sig/DDL

[2020-08-13 09:38] howardlau1999 opened #19180 "Support exposing exact CPU cores quota in containers"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Currently, TiDB uses https://github.com/uber-go/automaxprocs/ to automatically determine `GOMAXPROCS` in containers and exposes this variable as a Prometheus gauge metric `tidb_server_maxprocs`. This value is calculated by discarding the fraction of the exact CPU cores quota(https://github.com/uber-go/automaxpro

[2020-08-13 10:52] winoros opened #19184 "Enhance the accuracy of Histogram."
## Development Task

To improve the selectivity estimation, improve the structure of the histogram so it can be more accurate.

[2020-08-13 10:53] winoros commented on #19184
Currently, we're testing add NDV filed to the buckets of the histogram.

[2020-08-13 11:25] Yisaer commented on #19149
The direct reason PD needs to group the instances in auto-scaling case is to directly mapping the instances in cloud (for tidb-operator, the heterogeneous cluster are managed by different group/ for tidb cloud, the machine types are managed by different machine group) which would be clear to cover the whole auto-scaling process in cloud.

Moreover, I think support label configuration for TiDB may

[2020-08-13 11:29] #11852 closed

[2020-08-13 11:29] #17216 closed

[2020-08-13 11:29] #19112 closed

[2020-08-13 11:32] Yisaer commented on #18049
For the second cases, I think the current supported hints status is enough.

[2020-08-13 11:32] #18049 closed

[2020-08-13 11:40] zz-jason commented on #18049
are all the hints supported for the insert statement?

[2020-08-13 12:27] xiongjiwei opened #19189 "result of select collation(concat(1,1)); is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`utf8mb4_general_ci`
`binary`

### 3. What did you see instead (Required)
`utf8mb4_bin`
`utf8mb4_bin`
###
this bug was introduced after https://github.com/pingcap/tidb/pull/19169. but it is not the root cause, since befo

[2020-08-13 12:32] tiancaiamao commented on #19127
The affected rows is calculate repeatly [here](https://github.com/pingcap/tidb/blob/0448a548751931dac86ddcc557e83187eeb3a395/executor/write.go#L214) in the executor package and [here](https://github.com/pingcap/tidb/blob/0448a548751931dac86ddcc557e83187eeb3a395/table/tables/tables.go#L737) in table package.

Despite the fact this is a bug, I have to gently point out that affected rows is not very

[2020-08-13 13:00] sre-bot opened #19190 "pessimistic_test.go:testPessimisticSuite.TestInnodbLockWaitTimeoutWaitStart failed"
pessimistic_test.go:testPessimisticSuite.TestInnodbLockWaitTimeoutWaitStart

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/46190/display/redirect

[2020-08-13 13:12] zyguan opened #19191 "Wrong result caused by misuse of batch-point-get"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Both selection should return:
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ 84e07a2a593b6dd9a85712f1910883e5f7281b07
release-4.0 @ 1483de323abe0f519a4

[2020-08-13 13:12] zyguan commented on #19191
/label severity/critical

[2020-08-13 13:13] zyguan commented on #19191
/assign @zz-jason

[2020-08-13 13:14] #19010 closed

[2020-08-13 13:17] ChenPeng2013 opened #19192 "index out of range [0] with length 0 when using prepare plan cache"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

new_collations_enabled_on_first_bootstrap = true
prepared-plan-cache.enabled = true
[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

## SIG sla

[2020-08-13 14:14] zz-jason commented on #19184
it's better to make the issue concert and actionable. how about focusing on adding the number of distinct values (NDV) into histogram buckets in this issue?

[2020-08-13 14:24] breeswish commented on #17688
@jackysp I received real-world feature requests from our clients for this one, where they don't deploy multiple TiDB clusters :)

Yes, in addition to the memory leak issue, performance is another problem. I think we can simply let user configure what they want to collect, in order to not suffer from performance problems in default scenarios. It is netural that the more user wants to know, the more

[2020-08-13 14:26] breeswish commented on #18939
@zz-jason Agree. Documentations may also be outdated. I will drive this refinement when we are implementing DataDog / Kibana integration in the near future.

[2020-08-13 14:53] zz-jason commented on #18921
@JmPotato sure. let's try our best to fix them all.

[2020-08-13 17:05] nullnotnil commented on #19156
I chatted with @kolbe about it. We agree that it is likely a bug in MySQL. @ekalinin would you like to file a bug report at bugs.mysql.com?

I would also like to propose we close this issue as well.

Here is also a further test-case to show that this is not an issue with [operator precedence](https://dev.mysql.com/doc/refman/5.7/en/operator-precedence.html):

[code]

[2020-08-13 18:29] nullnotnil commented on #14433
Nope, it can have similar semantics to `STATEMENTS_SUMMARY` / `STATEMENTS_SUMMARY_HISTORY` where it ages out eventually. It would also be useful to have an SQL command `FLUSH CLIENT_ERRORS_SUMMARY`.

But that's basically it. Adding this can also help cleanup some of the current log spam mentioned in https://github.com/pingcap/tidb/issues/19053

[2020-08-13 23:18] kolbe opened #19193 "Desensitize logs for store/tikv"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The tidb_log_desensitization variable added in #18566 should also cause message emitted by the tikv store code in TiDB to be desensitized.

**Describe the feature you'd like:**

In numerous locations of store/tikv/, sensitive data could be logged. For example, store/tikv/prewrite.go:168:

[code]

**Describe alt

[2020-08-14 02:24] lonng commented on #14433
@nullnotnil Do we need to add a frontend page in Dashboard for them? just like `STATEMENTS_SUMMARY`.

[2020-08-14 02:29] zyguan opened #19194 "Failed to `replace` after failure of insertion in a transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The `replace` in the transaction shouldn't fail.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

release-4.0 @ 1483de323abe0f519a43788adfbdaac1dbd71d0d

[2020-08-14 02:31] zyguan commented on #19194
/assign @cfzjywxk

[2020-08-14 02:45] tiancaiamao commented on #19152
This bug is caused by the new implementation of the partition table on the master branch.
4.0 is not affected.

[2020-08-14 03:05] cfzjywxk commented on #19194
Verified this problem on the release-4.0 branch, the master branch does not have this problem.

[2020-08-14 03:09] bb7133 commented on #18812
Thanks, updated.

I will close this feature since #18852 is merged.

[2020-08-14 03:09] #18812 closed

[2020-08-14 03:22] liuzix commented on #19192
/label sig/execution

[2020-08-14 03:22] liuzix commented on #19190
/label sig/transaction

[2020-08-14 03:23] liuzix commented on #19189
/label sig/execution

[2020-08-14 03:26] zz-jason commented on #18812
can we backport it to release 4.0?

[2020-08-14 03:29] nullnotnil commented on #14433
Yes. There are a few problems you can find with this - for example:

* You can find regressions introduced from a new version of an app deployed (where MySQL behavior is to return a warning which was ignored.. but some warnings are super dangerous to ignore).

* There might be configuration errors. Logically restoring data from a system that had strict mode disabled, but with it enabled you can se

[2020-08-14 03:39] bb7133 opened #19196 "ddl: support dropping columns with composite indices"
## Feature Request

**Is your feature request related to a problem? Please describe:**
After PR #18852, #18812 is supported in TiDB.

Now we'd like to go on improving the `ALTER TABLE ... DROP COLUMN` to support dropping columns with composite indices like:

[code]

**Describe the feature you'd like:**
See #3364

**Describe alternatives you've considered:**
Manually, the `ALTER TABLE ... DROP COLU

[2020-08-14 03:40] #19007 closed

[2020-08-14 03:41] bb7133 commented on #18812
Unless it is critical for some users, it's better to keep it in V5.0 since this feature is just a part of the multiple schema changes.

[2020-08-14 03:51] lzmhhh123 commented on #19107
Already fixed.

[2020-08-14 03:51] #19107 closed

[2020-08-14 04:00] bb7133 commented on #19196
After some discussions with @blacktear23 , we've some raw ideas about this. Considering table `t` in the description body as an example:

1. Create a temporary index named like `idx_c1_c2_c3_tempxxx(c1, c2)`, change the state of this index to `StateWriteReorgnization` like what TiDB does for `ADD INDEX`. This is the updated index if `c3` is dropped successfully. However, when the reorganization of

[2020-08-14 04:10] zz-jason commented on #19149
would the tidb-servers in the same group share the same configuration?

[2020-08-14 04:14] Yisaer commented on #19149
@zz-jason No, they won't. Label is the independent component in the configuration and only PD will organize them into groups, but I think in real user cases (like tidb-cloud), they may(as user manually keep the same configuration in one group).

[2020-08-14 05:16] zanmato1984 commented on #19089
Bump the priority to P0 as this bug blocks TiFlash daily regression and we are have risks that we may miss catching some other bugs by daily regression.

[2020-08-14 05:40] wjhuang2016 commented on #9148
Close because this issue is no longer active, reopen it after we receive the reply from @564064202 .

[2020-08-14 05:40] #9148 closed

[2020-08-14 05:41] zz-jason commented on #19149
I mark this feature request as accepted. Let's move on to the technical design progress.

[2020-08-14 05:42] wjhuang2016 commented on #18148
Close by https://github.com/pingcap/parser/pull/923

[2020-08-14 05:42] #18148 closed

[2020-08-14 06:16] tiancaiamao commented on #19145
Reopen because the fix is only for 4.0, I'm working on the fix for master.

[2020-08-14 06:37] wjhuang2016 opened #19201 "select * from information_schema.tidb_indexes doesn't display visible attribute"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
select * from information_schema.tidb_indexes

### 2. What did you expect to see? (Required)
A column to indicate whether the index is visible.

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2020-08-14 08:04] aytrack commented on #19194
I  encounter similar error with `insert` SQL
[code]

[2020-08-14 08:47] GOGOYAO commented on #17331
I encountered the same error. I tried your solution but it failed with the same error.

Anybody help? Version is a4d26bd57c8cd3bf7605912cec89fc1a538ebc88

[2020-08-14 08:54] elvizlai opened #19204 "user variables do not work correctly in multi-statement exec"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
start a mysql
[code]

run on mysql and test tidb
[code]

[code]

### 2. What did you expect to see? (Required)

column b should have expected value something like `AGD200814000001`

### 3. What did you see instead (Required)

TiDB null
MySQL expected

### 4. W

[2020-08-14 09:10] GOGOYAO opened #19208 "Failed to build from source code"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Just run `make`

### 2. What did you expect to see? (Required)
Compile code successfully.

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
a4d26bd57c8cd3bf7605912cec89fc1a538ebc88

[2020-08-14 09:17] #19208 closed

[2020-08-14 09:33] rebelice opened #19209 "Add index usage information"
## Development Task
After discussing, my development plan is as follows

- [ ]  Add CLUSTER_SCHEMA_INDEX_USAGE system table and functions to update
    - [ ]  Add CLUSTER_SCHEMA_INDEX_USAGE system table
    - [ ]  Add functions to update
    - [ ]  Add functions to delete
    - [ ]  Add privilege check
- [ ]  Add SCHEMA_UNUSED_INDEXES view
- [ ]  Add FLUSH CLUSTER_SCHEMA_INDEX_USAGE command

[2020-08-14 09:34] rebelice commented on #19209
/label component/infoschema

[2020-08-14 09:34] rebelice commented on #19209
/assign

[2020-08-14 09:36] rebelice commented on #19209
/assign

[2020-08-14 09:44] Yisaer commented on #19149
@zz-jason  I think the design will be very simple and I updated the alternatives in the description.

[2020-08-14 09:57] fzhedu commented on #16167
cannot reproduce it even change the chunk size on v4 and v3.0.3

[2020-08-14 09:57] #16167 closed

[2020-08-14 10:29] rebelice commented on #19209
/label component/statistics

[2020-08-14 11:10] #19092 closed

[2020-08-14 11:44] #11896 closed

[2020-08-14 11:48] changli6 opened #19216 "Failed to build source code by invalid pseudo-version error"
## Bug Report

### 1. Minimal reproduce step (Required)

run `make` or `make clean`

### 2. What did you expect to see? (Required)

Compilation successfully.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

`7684dcb09d46f9a7aba5ea8b92fde8f7ae32e0c8`

[2020-08-14 13:00] sre-bot opened #19218 "plan_test.go:testPlanNormalize.TestDecodePlanPerformance failed"
plan_test.go:testPlanNormalize.TestDecodePlanPerformance

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/46254/display/redirect

[2020-08-14 14:13] liuzix commented on #19204
/label sig/execution

[2020-08-14 14:14] liuzix commented on #19201
/label sig/ddl

[2020-08-14 14:17] blacktear23 commented on #19196
@bb7133 I just wrote a pseudo code for drop composite index covered column. We can discuss on this base code.

[code]

[2020-08-14 14:33] blacktear23 commented on #19196
@bb7133 and there still has some unclear area:

[2020-08-14 14:48] bb7133 commented on #19196
PTAL @zimulala @AilinKid

[2020-08-14 15:46] nullnotnil commented on #19191
Verified I can reproduce against master. Just to expand the testcase to prove this is not an [operator precedence](https://dev.mysql.com/doc/refman/8.0/en/operator-precedence.html) issue:

[code]

[2020-08-15 02:19] blacktear23 commented on #19196
And there has another point, we need IndexInfo add a field that track the relationship between origin composite index and new created temp composite index.
If without this field we can only use Name to calculate the relation between those indices. But if we use Name hinted method, we should tell user which pattern should not use in index naming. And this will cause some missing usage on TiDB.
So I

[2020-08-15 02:19] blacktear23 commented on #19196
And there has another point, we need IndexInfo add a field that track the relationship between origin composite index and new created temp composite index.
If without this field we can only use Name to calculate the relation between those indices. But if we use Name hinted method, we should tell user which pattern should not use in index naming. And this will cause some missing usage on TiDB.
So I

[2020-08-15 03:42] liuzix commented on #19218
/label sig/planner

[2020-08-16 03:50] ldzhjn commented on #18023
CockroachDB already supported this feature in the latest version.
https://github.com/cockroachdb/cockroach/commit/c3627072d54af35125ee492518f1b218036e6651

[2020-08-16 06:55] liuzix commented on #19216
There was a similar issue before: https://github.com/pingcap/tidb/issues/18584

[2020-08-16 12:28] tianyu4552 commented on #18731
I feel that we can declare the TTL mechanism which is work on row or partition by `CREATE TABLE` statement, and it should be automated.

[2020-08-16 15:18] liuzix commented on #19216
/label type/duplicate

[2020-08-17 03:10] ichn-hu commented on #17241
@ChenPeng2013 , @SunRunAway Shall we close this issue?

[2020-08-17 03:21] markshao opened #19224 "flag provided but not defined: -L/usr/local/opt/libffi/lib"
## Bug Report

 try execute `make` directly under the tidb directory, get error

[code]
looks like the cgo needs link the `-L/usr/local/opt/libffi/lib` ,but it is not defined inside the code .

my friend try same operation in his machine,  the `-L/usr/local/opt/libffi/lib` is not required, see following
[code]

My Environment

- os: macos mojave 10.14.6
- golang: 10.13.12
- tidb branch: master
- l

[2020-08-17 03:33] ichn-hu commented on #19136
Have you fixed them? If so, is there any related PR?

[2020-08-17 03:53] AilinKid opened #19226 "query on base table joined with view will cause runtime error: index out of range [0] with length 0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

The detail and reproduced data is listed in here https://asktug.com/t/topic/36381
[code]

### 2. What did you expect to see? (Required)
no error

### 3. What did you see instead (Required)
runtime error: index out of range [0] with length 0

### 4. What is your TiDB version

[2020-08-17 04:05] markshao commented on #19224
check the `Makefile` , no `libffi` defined, but why it appears when executing

[code]

[2020-08-17 04:55] InfotecMexico commented on #4754
Hi,

I got the same error working with Flyway and Java

Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 63955
Server version: 5.7.25-TiDB-v4.0.0-rc.2 TiDB Server (Apache License 2.0) Community Edition, MySQL 5.7 compatible

Copyright (c) 2000, 2020, Oracle and/or its affiliates. All rights reserved.

Oracle is a registered trademark of Oracle Corporation and/o

[2020-08-17 05:14] crazycs520 opened #19227 "Add diagnose rule for TiKV unified thread pool CPU usage"
![image](https://user-images.githubusercontent.com/26020263/90359473-9dc17a00-e08b-11ea-8dde-4b81b482f1fe.png)

[2020-08-17 05:48] #19023 closed

[2020-08-17 06:10] SunRunAway opened #19229 "Incorrect error message of inserting enum & set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

v4.0.4

[2020-08-17 06:11] Wheeeeeeeeels opened #19230 "About Contribution"
## General Question

[2020-08-17 06:17] rebelice opened #19231 "The result of `show [index/keys] from performance_schema.events_statements_summary_by_digest` is empty"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
It should show the index of table `performance_schema.events_statements_summary_by_digest`.

The table `performance_schema.events_statements_summary_by_digest` has index SCHEMA_NAME(SCHEMA_NAME, DIGEST). And you can confi

[2020-08-17 06:26] ekexium commented on #19224
Does your shell configuration include a LDFLAGS setting? Notice that the Makefile appends `LDFLAGS`.

[2020-08-17 06:28] rebelice commented on #19231
/label component/planner

[2020-08-17 06:29] rebelice commented on #19231
/label component/executor

[2020-08-17 07:11] qw4990 opened #19232 "show lower/upper bounds for composite indexes with `date/time` columns clearly"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When a composite index contains `date/time` columns, `lower/upper` bounds for them in `show stats_buckets` are not comprehensible.
[code]

**Describe the feature you'd like:**

Show slow/upper bounds for them clearly:
[code]

**Describe alternatives you've considered:**

No.

**Teachability, Documentation, Adop

[2020-08-17 07:13] qw4990 commented on #19232
The reason is that when executing `show stats_buckets` the executor doesn't know the type of column `a` so this column is decoded as int.

[2020-08-17 07:14] wjhuang2016 commented on #19192
Minimal reproduced:
[code]

[2020-08-17 07:29] bb7133 commented on #19192
PTAL @SunRunAway

[2020-08-17 07:39] SunRunAway opened #19233 "Index join returns error when join key is enum/set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

And panic occurs in the log
[code]

### 4. What is your TiDB version? (Required)

v4.0.4, master

[2020-08-17 08:35] SunRunAway commented on #19076
@cfzjywxk, PTAL

[2020-08-17 08:54] SunRunAway commented on #19192
@eurekaka PTAL

[2020-08-17 09:12] 3pointer opened #19238 "alter auto_increment sql not work."
## Bug Report

Found that when auto_increment is unsigned, and alter auto_increment is larger than math.MaxInt64, it's not work well. see details below.

### 1. Minimal reproduce step (Required)
1. ```CREATE TABLE `autoid` (`auto_inc_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT, UNIQUE KEY `auto_inc_id` (`auto_inc_id`)) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;```
2. ```alter t

[2020-08-17 09:35] cfzjywxk commented on #19076
Seems related to https://github.com/pingcap/tidb/pull/19056, but not quite sure.

[2020-08-17 09:37] marsishandsome opened #19240 "TiDB does not clean table lock if restart on OOM"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
tidb config
[code]

1. lock tables test.tt write local
2. kill -9 tidb
3. start tidb
4. wait 60 seconds
5. lock tables test.tt write local
6. get error: Table `tt` was lock in WRITE LOCAL by server

### 2. What did you expect to see? (Required)
TiDB should clean table lock i

[2020-08-17 10:05] ekexium commented on #19230
/label type/question

[2020-08-17 10:06] ekexium commented on #19224
/unlabel type/bug

[2020-08-17 10:10] ekexium commented on #19240
/label sig/DDL

[2020-08-17 10:13] leiysky opened #19243 "Unexpected CAST error: 'Incorrect datetime value'"
## Bug Report
### 1. Minimal reproduce step (Required)

Create a table with following SQL:
[code]

Insert a value:
[code]

Enable CAST push down by (this step is required on current master branch):
[code]

Query with SQL:
[code]

And you'll get some warnings like:
[code]

### 2. What did you expect to see? (Required)

Result of MySQL 5.7:
[code]

### 3. What did you see instead (Required)

Result

[2020-08-17 10:14] ekexium commented on #19224
/label type/question

[2020-08-17 11:48] Donaldhan opened #19247 "caused by: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none password], no supported methods remain"
OS ： ubuntu16.04；
install tidb cluster base on this guide（https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb， 使用 TiUP cluster 在单机上模拟生产环境部署步骤）
when i install cluster get following error：

[code]

firstly, root can ssh use no password, such as
[code]

but i doubt why throw this error:
[code]

Is ssh port error, or should't use the port?????

my tidb cofing

[code]

[2020-08-17 11:54] Donaldhan commented on #19247
i execute command use root

[2020-08-17 12:23] #19077 closed

[2020-08-17 12:28] blacktear23 commented on #19196
@bb7133 below is rollback POC
[code]

[2020-08-17 12:42] nullnotnil commented on #19243
Verified as described. Just noting that it is not an error, but a warning, and one of the real issues is that the results differ (empty set for TiDB versus 1 row for MySQL):

[code]

[2020-08-17 13:41] zyguan opened #19250 "Prepared plan cache may cause index data inconsistency"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Enable prepared plan cache, then
[code]

### 2. What did you expect to see? (Required)

`admin check table t` should succeed.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

release-3.0 @ 64469619dfbf6a8d1f430567df00098a435

[2020-08-17 13:42] zyguan commented on #19250
/label severity/critical

[2020-08-17 14:50] zz-jason opened #19252 "error message for invalid config value is hard to read"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. modify the config value of `stats-lease` from the default value `"3s"` to `0`:

[code]

2. start tidb-server with the above config file, get the error message:

[code]

### 2. What did you expect to see? (Required)

As a user, I want to know which config item is wrong.

[2020-08-17 15:04] nullnotnil commented on #19230
For details on contributing: [README.md](https://github.com/pingcap/community/blob/master/contributors/README.md)

For ideas on what to work on, you can use this filter:
https://github.com/pingcap/tidb/issues?q=is%3Aissue+is%3Aopen+label%3Astatus%2Fhelp-wanted

Thanks!

[2020-08-17 15:09] nullnotnil commented on #19247
Some operating systems default to not permitting root over ssh - instead requiring a regular user to connect first and then `su` to become root. I think that we should update the instructions based on this assumption :(

If you would to ask this question in Chinese, may I suggest https://asktug.com/ -- from here, someone can help you edit your ssh config file to allow remote login for root.

[2020-08-17 15:28] nullnotnil commented on #19231
This is only an issue with the `SHOW KEYS` statement. The corresponding infoschema data is correct. An interesting sidenote however, is that this is the only infoschema/perfschema table which has any constraints:

[code]

[2020-08-18 02:13] AndreMouche commented on #19224
/label type/question

[2020-08-18 02:20] ekexium commented on #19240
/label sig/DDL

[2020-08-18 02:42] ekexium commented on #19252
/label sig/DDL

[2020-08-18 02:44] cfzjywxk commented on #19194
Seems related to #18956,  @ekexium will take a closer look into this.

[2020-08-18 04:48] markshao commented on #19224
my mistake

[2020-08-18 04:48] #19224 closed

[2020-08-18 05:48] sykp241095 commented on #18860
Seems to be fixed.

[2020-08-18 05:48] #18860 closed

[2020-08-18 06:24] SunRunAway commented on #19192
Beside, tidb-server is needed to be avoided to be killed by this panic.

[2020-08-18 06:57] Donaldhan commented on #19247
get

enable  allow remote login for root, modify */etc/ssh/sshd_config*  following line:

[code]

to

[code]

restart ssh servce , it is working....

[2020-08-18 06:57] Donaldhan commented on #19247
done

[2020-08-18 06:57] #19247 closed

[2020-08-18 07:16] #18719 closed

[2020-08-18 07:42] scsldb commented on #9132
Writing to the target database also has problems such as write failure and untimely write, if real-time write cost is relatively high.

[2020-08-18 07:51] #19141 closed

[2020-08-18 07:51] scsldb commented on #17060
I suggest keeping with MySQL, because MySQL has more information and more clarity.

[2020-08-18 08:16] scsldb commented on #17527
There are no plans in the short term, thank you.

[2020-08-18 08:20] SunRunAway commented on #19075
@lysu PTAL if free.
Suggest to use `net/http/httptest` package or listen to port 0 for avoiding port conflicting.

[2020-08-18 08:21] scsldb commented on #17518
Keep two strategies (date and size) to give users choices that might be a little better.

[2020-08-18 08:26] eurekaka opened #19258 "different plans for select / update"
## Development Task

[code]

[2020-08-18 08:32] jyz0309 commented on #18990
when I try to scale in 3 tidb,I found `tiup playground display` and `select * from  INFORMATION_SCHEMA.CLUSTER_INFO;` will return correct answer(have 3 tidb), but when I scale out 1 tidb, I found that `tiup playground display` will return correct answer(2 tidb) but `select * from  INFORMATION_SCHEMA.CLUSTER_INFO;` will not, it still show me 3 tidb in cluster

[2020-08-18 09:06] lilinghai opened #19261 "session_test.go:testBackupRestoreSuite.TestBackupAndRestore failed"
session_test.go:testBackupRestoreSuite.TestBackupAndRestore

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_unit_test/45249/pipeline/

[2020-08-18 09:08] qw4990 commented on #18553
Close since it is resolved.

[2020-08-18 09:08] #18553 closed

[2020-08-18 09:15] lilinghai opened #19262 "<autogenerated>:testSessionSuite3.SetUpSuite failed"
:testSessionSuite3.SetUpSuite

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_unit_test/44798/pipeline/38/

[2020-08-18 09:21] lilinghai opened #19263 "<autogenerated>:testIsolationSuite.SetUpSuite failed"
:testIsolationSuite.SetUpSuite

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_unit_test/45105/pipeline/38

[2020-08-18 09:50] bb7133 commented on #19162
For now, the `COPY` algorithm is applicable for all DDL statements but `INPLACE`/`INSTANT` is not:

[code]

IMHO if a 'better' algorithm is chosen by TiDB, we raise a warning just like the message for `COPY`, @nullnotnil are you fine with it?

[2020-08-18 09:52] XuHuaiyu opened #19265 "wrong only_full_group_by check"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

cc82030d2b0aa26e72214a45d8a5097181c8c16f on master

[2020-08-18 10:43] #19075 closed

[2020-08-18 11:07] ekexium commented on #19261
/assign @lilinghai

[2020-08-18 11:08] ekexium commented on #19263
/assign @lilinghai

[2020-08-18 11:08] ekexium commented on #19262
/assign @lilinghai

[2020-08-18 11:08] ekexium commented on #19252
/label sig/DDL

[2020-08-18 13:22] nullnotnil commented on #19162
LGTM

[2020-08-18 14:10] #18055 closed

[2020-08-18 14:10] #18960 closed

[2020-08-18 16:26] bb7133 opened #19273 "infoschema: panic occurred when applying default charset modification for databases named in uppercase."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
v4.0.4

### Others
TiDB panic stack:
[code]
* Looks that if the name of database is lower-case only, the `ALTER ...`

[2020-08-19 01:21] bb7133 commented on #19196
I didn't get the point here, why calling `onDropColumn()` if the temporary composite indicies are in `StateWriteReorganization`?

[2020-08-19 01:26] bb7133 commented on #19196
In fact, we've used the pattern(adding some specific prefix) already, like https://github.com/pingcap/tidb/pull/19059/files#diff-edfa54cbe2fdb418f0a77bd0ec4a56f2R64, can we follow the same style?

[2020-08-19 01:36] bb7133 commented on #19196
I think we can try to reuse `onDropIndex` to support the `onDropCompositeIndices` by some adjustments: for now, it drop index from the args of the job, it may be changed to find the composite indicies from the columns from the args of 'DropColumn' job.

[2020-08-19 02:06] blacktear23 commented on #19196
yes we can follow this style.

[2020-08-19 02:50] Patrick0308 commented on #19229
Let me fix it.

[2020-08-19 03:07] lysu opened #19275 "Panic on selectResultRuntimeStats.String()"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

it seems cause by https://github.com/pingcap/tidb/pull/18916

### 1. Minimal reproduce step (Required)

/run-check_dev_2

### 2. What did you expect to see? (Required)

test pass

### 3. What did you see instead (Required)

[code]

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_

[2020-08-19 03:20] breeswish commented on #18937
Since this parameter is already enabled by default in v4.0.3, I'm going to close this issue.

[2020-08-19 03:20] #18937 closed

[2020-08-19 03:22] breeswish commented on #18990
CLSUTER_INFO is based on some reporting items from TiDB with a lease, how about the result after 1 minute?

[2020-08-19 03:35] blacktear23 commented on #19196
@bb7133 I add [DNM] on pingcap/parser#974. After this feature implemented I will close it.

[2020-08-19 03:53] #19230 closed

[2020-08-19 03:53] Wheeeeeeeeels commented on #19230
ok,thank you

[2020-08-19 03:56] 3pointer opened #19278 "panic when insert values"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. `create database file_sort;`
2. `go-ycsb load mysql -P workload -p mysql.host=127.0.0.1 -p mysql.port=4000 -p mysql.db=file_sort;`
        workload:
[code]

3. `create table file_sort.USERTABLE2 like file_sort.USERTABLE;`
4. ` insert into file_sort.USERTABLE2 select * fro

[2020-08-19 04:02] amyangfei commented on #19278
https://github.com/pingcap/tidb/pull/19277

[2020-08-19 04:05] #19275 closed

[2020-08-19 04:06] amyangfei commented on #19278
panic stack

[2020-08-18T13:41:28.408Z] [2020/08/18 21:41:08.492 +08:00] [ERROR] [conn.go:671] ["connection running loop panic"] [conn=44] [lastSQL="insert into file_sort.USERTABLE2 select * from file_sort.USERTABLE"] [err="runtime error: invalid memory address or nil pointer dereference"] [stack="goroutine 139296 [running]:\ngithub.com/pingcap/tidb/server.(*clientConn).Run.func1(0x3b61fe0, 0xc001

[2020-08-19 04:45] #18980 closed

[2020-08-19 05:31] SunRunAway commented on #18779
[code]
@miamia0 Would you like to take another look?

[2020-08-19 05:39] #18899 closed

[2020-08-19 05:46] wjhuang2016 opened #19280 "Drop primary causes implicit invisible primary will success"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

We can see from the `show create table`, the primary key is dropped.

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2020-08-19 05:55] fzhedu commented on #19137
Yes, this is a standard behaviour in MySQL, but not only in MySQL, but most relational databases.
----
responsed from Mysql comminuty
https://bugs.mysql.com/bug.php?id=100527&thanks=2&notify=67
@cfzjywxk @nullnotnil @SunRunAway
So we should recovery the behavior.

[2020-08-19 07:29] ChenPeng2013 opened #19282 "tidb_enable_parallel_apply can be set to -1, it should be consistent with tidb_evolve_plan_baselines"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-08-19 07:36] #19189 closed

[2020-08-19 08:21] zz-jason opened #19288 "Consider a switch to force TopN push down"
## Development Task

At present, TopN pushdown to TiKV Coprocessor is controlled by the physical optimization phase. This task aims to provide a switch to force TopN pushing down. like [`agg_to_cop()`](https://docs.pingcap.com/tidb/stable/optimizer-hints#agg_to_cop), maybe we can add a `topn_to_cop()` optimizer hint.

An alternative approach is to provide an instance level variable to control whet

[2020-08-19 08:34] qw4990 commented on #19288
@tangwz Would you like to help us fix this issue?

[2020-08-19 08:40] tangwz commented on #19288
/assign

[2020-08-19 08:41] #17992 closed

[2020-08-19 08:42] qw4990 commented on #19288
Since TopN pushdown is in the physical optimization phase, the plan which contains the pushed-down TopN may be cut down by other plans with lower cost.
Would you have any idea about implementing this hint gracefully? @zz-jason

[2020-08-19 08:45] tangwz commented on #19232
/assign

[2020-08-19 08:52] wjhuang2016 commented on #17772
Fixed by https://github.com/pingcap/parser/pull/922

[2020-08-19 08:52] #17772 closed

[2020-08-19 08:56] jyz0309 commented on #18990
The `select * from INFORMATION_SCHEMA.CLUSTER_INFO;` result is still wrong after 5min :(

[2020-08-19 09:06] zz-jason commented on #19288
when the hint is enabled, I think we can only choose to push topN to the coprocessor, no need to consider any other possible plans which topN is not pushed down.

[2020-08-19 09:09] zz-jason commented on #19288
the difficulty but performance-beneficial part is to handle cop tasks on different scan ranges to the same tikv coprocessor at once. we may need to change the task send logic in the tidb part, optimize the task handle part in the tikv coprocessor layer.

[2020-08-19 09:13] zz-jason commented on #19288
consider this case: there are only 3 tikv, but we have 1000 coprocessor tasks (this is usually the common case on table rowid scan), each coprocessor tasks only returns ~1 records, we want to calculate the top 100 records. the best strategy is to calculate the top 100 for tikv 1-3 on all the coprocessor tasks handled in each tikv, not to calculate the top 100 for a single coprocessor task.

[2020-08-19 09:13] #17288 closed

[2020-08-19 09:13] #19201 closed

[2020-08-19 09:22] SunRunAway commented on #19137
I tried on SQLite3

[code]

[2020-08-19 09:39] glkappe opened #19294 "System database execution ddl problem"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
**the session：**
mysql> use metrics_schema
mysql> create table t (id int);
-------- stay still -----------

**new session execute：**
mysql> admin show ddl jobs;
root@172.16.4.107 : (none) 17:36:17>admin show ddl jobs ;
+--------+----------------+------------+--------------+-

[2020-08-19 09:41] buzzers opened #19295 "Add more stringent DDL and DML permission checks to the system table."
## Feature Request

**Is your feature request related to a problem? Please describe:**
Executing a DDL statement in the system database causes the DDL execution queue to hang, and all subsequent DDL statements are permanently waiting.

**Describe the feature you'd like:**
When executing DDL and DML statements in the system database, you should check permissions and reject any "write" statements, s

[2020-08-19 10:04] ekexium commented on #19294
/label sig/DDL

[2020-08-19 10:04] ekexium commented on #19282
/label sig/DDL

[2020-08-19 11:02] breeswish commented on #18990
@jyz0309 Good catch, go on and discover why

[2020-08-19 11:08] bb7133 opened #19299 "autoid, ddl: support changing `AUTO_INCREMENT` attribute to `AUTO_RANDOM`"
## Feature Request

**Is your feature request related to a problem? Please describe:**
For now, column attribute `AUTO_RANDOM` is provided by TiDB as a better solution for unique ID allocations.

However, there may be a case where the users have tables that are currently using auto_increment, but the insert volume grows high enough that it becomes a bottleneck in the future.

**Describe the featur

[2020-08-19 11:15] #19273 closed

[2020-08-19 13:00] sre-bot opened #19304 "gc_worker_test.go:testGCWorkerSuite.TestStartWithRunGCJobFailures failed"
gc_worker_test.go:testGCWorkerSuite.TestStartWithRunGCJobFailures

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/46770/display/redirect

[2020-08-19 13:01] sre-bot opened #19305 "string_util_test.go:testStringUtilSuite.TestBuildStringFromLabels failed"
string_util_test.go:testStringUtilSuite.TestBuildStringFromLabels

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/46798/display/redirect

[2020-08-19 13:11] HunDunDM opened #19306 "Upgrade PD dependencies"
## Development Task

As PD is transferred to the TiKV organization, it is necessary to upgrade the dependencies of each repo.
Due to the circular dependency of `tidb` `br` `unistore` `tidb-tools`, each repo needs to be upgraded twice. Record the upgrade process in this issue.

[2020-08-19 13:13] HunDunDM commented on #19306
Stage 1: Upgrade PD in `br` `unistore` `tidb-tools`. At this stage, these repos will not be compiled.

* [ ] br
* [ ] unistore
* [ ] tidb-tools

[2020-08-19 13:14] HunDunDM commented on #19306
Stage 2: Upgrade `pd` `br` `unistore` `tidb-tools` in `tidb`

* [ ] tidb

[2020-08-19 13:16] HunDunDM commented on #19306
Stage 3: Upgrade `tidb` in `br` `unistore` `tidb-tools`

* master
  * [ ] br
  * [ ] unistore
  * [ ] tidb-tools
* release-4.0
  * [ ] br

[2020-08-19 13:19] qw4990 opened #19307 "planner: fix the incorrect heuristic rule of estimating rows according to limit"
## Development Task
The optimizer uses the limitation in `Limit` operator to estimate the number of rows to scan, but the heuristic rule of it is inappropriate.
Suppose that the optimizer doesn't consider the limitation so far, and the plan is as below:
[code]
When considering `Limit`, the correct number of rows to scan for `IndexScan(cop)` should be `limitation / (estRow(IndexLookUp) / totalRows)

[2020-08-19 14:26] nullnotnil commented on #19278
@3pointer It looks like this issue has been fixed in master. Can you confirm?

[2020-08-19 14:30] shenli commented on #18566
Here is another place that may leak the arguments in log: https://github.com/pingcap/tidb/blob/master/executor/adapter.go#L759

[2020-08-20 01:26] zz-jason opened #19309 "make it able to calculate auto-random(or shard) rowid with certain attributes in the table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

when auto-random or shard row id bits is enabled, the `_tidb_rowid` is generated randomly. if there is an index lookup, the table scans may spread to many disjoint regions because of the randomly generated `_tidb_rowid`.

**Describe the feature you'd like:**

make it possible to calculate the randomly generated

[2020-08-20 02:03] #19145 closed

[2020-08-20 02:18] zimulala commented on #15598
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/45614/pipeline
[code]

[2020-08-20 02:20] zimulala opened #19311 "testSuiteAgg.TestAggregation test failed in aggregate_test.go"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/45614/pipeline
[code]

[2020-08-20 02:21] ekexium commented on #19304
@zyguan Could you take a look?

[2020-08-20 02:30] ekexium commented on #19305
/assign @Yisaer

[2020-08-20 02:36] #13426 closed

[2020-08-20 03:00] ekexium commented on #19252
/assign @zz-jason

[2020-08-20 03:16] qw4990 opened #19312 "consider region distribution in optimization phase"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In [the IMDB test](https://github.com/pingcap/tidb/issues/18644), we found a case that two full index scans on different indexes with limitation have a huge gap on performance.

![image](https://user-images.githubusercontent.com/7499936/90711786-35190e00-e2d4-11ea-9fb4-e2786d8f16f3.png)
![image](https://user-im

[2020-08-20 03:17] time-and-fate opened #19313 "planner: a common handle primary key can't be used to calculate selectivity when clustered index enabled"
## Development Task
Reproduce:
[code]
Add a breakpoint here in the debugger:

https://github.com/pingcap/tidb/blob/aeee1524e40c94790b2031666d9a5c242e261cde/statistics/selectivity.go#L303

Then run
[code]
You'll find the PRIMARY index's `cachedPath.Ranges`, `cachedPath.AccessConds` and so on is `nil`. But these fields should not be `nil`.

Cause:

Probably because in `(*DataSource).DeriveStats`, wh

[2020-08-20 03:32] qw4990 commented on #19312
What are your opinions? @zz-jason @eurekaka @winoros

[2020-08-20 03:50] qw4990 opened #19314 "`SELECT ... INTO OUTFILE` returns runtime error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
All data of table `t` should be dumped into `/tmp/abcd` successfully.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-08-20 03:52] eurekaka commented on #19312
That is what I mean in https://github.com/pingcap/tidb/blob/master/planner/core/find_best_task.go#L1577. Would the result change if we use stream coprocessor request?

[2020-08-20 03:55] qw4990 opened #19315 "`Apply` returns runtime errors in some cases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-08-20 04:13] zyguan commented on #19304
ok

[2020-08-20 05:05] zimulala opened #19317 "Meta information was not cleaned up during rollback of "add partition table""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Cancel the "add partition tables" in `StateReplicaOnly`.

### 2. What did you expect to see? (Required)
Cleanup the meta-information.

### 3. What did you see instead (Required)
The meta-information doesn't clean up.

### 4. What is your TiDB version? (Required)

[code]

[2020-08-20 05:20] time-and-fate commented on #18595
@imtbkcat hi~ I want to handle this PR.

Does this mean I need to create a file `errors.toml` in the root directory of tidb repo and add all errors of `ClassOptimizer` to this file using the format of the example.

[2020-08-20 05:24] glorv opened #19318 "show create sequence always output initial value instead current value for start"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
show create table should show the `start with` with the value of `nextval(s)`  (3)

### 3. What did you see instead (Required)
always the default value (1). This will cause wrong value when use mysqldump or other tools to

[2020-08-20 05:24] glorv commented on #19318
@SunRunAway  PTAL

[2020-08-20 06:05] ekexium commented on #19311
/label sig/execution

[2020-08-20 06:47] ChenPeng2013 opened #19324 "cache is open when tidb_enable_parallel_apply is equal to 0"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
cache: OFF
[code]
### 3. What did you see instead (Required)
cache: ON
[code]
### 4. What is your TiDB version? (Required)

[code]

## SIG slack channel
[#sig-exec](https://slack.tidb.io/invite?team=tidb-co

[2020-08-20 06:54] XuHuaiyu commented on #18971
finished already

[2020-08-20 06:59] AilinKid opened #19325 "ddl add index on generated column with `case-when` expr will hang forever without cancel"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table (
....
a generated always as (case when ....)
）
create index on a

### 2. What did you expect to see? (Required)
hang forever
the log is like below:
ddl add index error: UnkownType: ast.whenClause

### 3. What did you see instead (Required)
Even if we don't sup

[2020-08-20 07:06] #17200 closed

[2020-08-20 07:13] ekexium commented on #19311
/label sig/execution

[2020-08-20 07:24] ekexium commented on #19313
/label sig/planner

[2020-08-20 07:52] ekexium commented on #19324
/label sig/execution

[2020-08-20 07:56] ekexium commented on #19318
/label sig/DDL

[2020-08-20 08:05] wshwsh12 commented on #19250
fixed by https://github.com/pingcap/tidb/pull/19274

[2020-08-20 08:05] #19250 closed

[2020-08-20 08:24] SunRunAway opened #19332 "instance/node level variables"
## Feature Request

### Problem

#### tidb-server

- MySQL semantically supports `SESSION` and `GLOBAL` scoped variables, but not `INSTANCE` (for MySQL instance and global are the same thing).
- TiDB makes MySQL `GLOBAL` variables cluster-wide, but instance-level variables have a strange behavior. Some variables are actually instance-level but shown as a session-level variable, like [`tidb_slow_lo

[2020-08-20 08:34] #18971 closed

[2020-08-20 08:42] breeswish commented on #19332
@lonng @nullnotnil @zz-jason @qw4990 PTAL

[2020-08-20 08:45] breeswish commented on #19332
I think we also need to consider the initial deployment steps for TiUP and TiDB-Operator, as well as upgrading steps for TiUP and TiDB-Operator.

For TiUP / TiDB Operator initial deployment, we'd better provide a new config cluster, for example, `initialGlobalVariables`, to help user automatically set these global variables after initial deployment.

For TiUP / TiDB Operator upgrading, these no-lo

[2020-08-20 08:49] fzhedu commented on #19216
https://github.com/pingcap/tidb/pull/19323 will fix this

[2020-08-20 08:50] fzhedu commented on #18584
https://github.com/pingcap/tidb/pull/19323 will fix this.

[2020-08-20 08:57] HunDunDM commented on #19216
I don't think it will fix this problem. This problem currently needs to be temporarily avoided by `GOPROXY=https://proxy.golang.org`. Due to the circular dependency of `tidb` and `br`, the wrong `go.mod` from old version `tidb` will definitely appear in `go.sum`.

[2020-08-20 09:00] SunRunAway commented on #19332
Thanks, I've added your idea into the Migration Plan section.

[2020-08-20 09:13] HunDunDM commented on #18584
I don't think it will fix this problem. This problem currently needs to be temporarily avoided by GOPROXY=https://proxy.golang.org. Due to the circular dependency of tidb and br, the wrong go.mod from old version tidb will definitely appear in go.sum.

[2020-08-20 09:19] #19089 closed

[2020-08-20 09:20] haiying-gao opened #19336 "select lock in share mode Unexpected behavior"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
select * from t lock in share mode;
Empty set (0.00 sec)

### 3. What did you see instead (Required)
ERROR 1105 (HY000): Can't find column test.t._tidb_rowid in schema Column: [test.t.id] Unique key: []
###

[2020-08-20 09:36] SunRunAway commented on #19073
@qw4990 PTAL

[2020-08-20 09:39] SunRunAway opened #19337 "unit test TestSelectIntoOutfileConstant fails"
FAIL: select_into_test.go:95: testSuite1.TestSelectIntoOutfileConstant

## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

https://internal.pingcap.net/idc-jenkins/blue/rest/organi

[2020-08-20 09:40] SunRunAway commented on #19337
@qw4990 PTAL

[2020-08-20 10:02] ekexium commented on #19282
/label sig/DDL

[2020-08-20 10:09] nolouch commented on #19306
It's too difficult to update the dependency :(

[2020-08-20 11:22] qw4990 commented on #19307
Close since I misunderstand this heuristic rule.

[2020-08-20 11:22] #19307 closed

[2020-08-20 12:15] breeswish opened #19342 "Cannot alter YEAR column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Altered c to remove its coment.

### 3. What did you see instead (Required)

[code]

Notice that according to `SHOW CREATE TABLE`, the column `c` is *NOT* unsigned:

[code]

### 4. What is your TiDB version? (Required)

[2020-08-20 13:12] cfzjywxk commented on #19076
[code]

[code]

The new test failure cases, the row value is not expected value, need more investigations.

[2020-08-20 14:06] qw4990 opened #19343 "statistic: the default value of CMSketch is not initialized correctly when using `Analyze`"
## Development Task
How to reproduce:
[code]

The estimated rows for `a = 1/2/3` is zero, which is not accurate.

This is a bad case for the heuristic rule of removing noise when estimating point get:
[code]

[2020-08-20 14:15] ClSlaid opened #19344 "No matches for kind "TidbCluster" in version "pingcap.com/v1alpha1""
## Bug Report

### What version of TiKV are you using?

v4.0.4
### What operating system and CPU are you using?

kubernetes
system: Ubuntu 18.04 LTS
CPU:  AMD EPYC 7K62 48-Core Processor
Actually a one core 1 GiB virtual server.
### Steps to reproduce

When following [docs](https://docs.pingcap.com/tidb-in-kubernetes/stable/configure-a-tidb-cluster#pdtikvtidb), trying to deploy a demo Tidb Cluster

[2020-08-20 14:26] qw4990 commented on #19343
In this case, we should use the default value of this CMSketch, but it is zero. We should investigate more to know why the default value is zero in this case.

[2020-08-20 14:36] qw4990 commented on #19343
After reviewing the code, I find that the default value of CMSKetch is not initialized correctly in `Analyze` while `Fast Analyze` handles it rightly.
So if we use `Fast Analyze`, you can see the accurate `estRows`:
[code]

[2020-08-20 14:38] qw4990 commented on #19343
I will fix this issue soon.

[2020-08-20 15:09] ilovesoup commented on #18566
Anyone following this? @zz-jason

[2020-08-21 02:21] mahjonp opened #19346 "08-18 performance regression on a bench_upay_178"
## Bug Report

There is a 4% performance regression on bench_upay_178

1. What did you do?

[code]

2. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?

92513a2f4d382dc89bb47d3907261d49175f20ac

[2020-08-21 02:37] bb7133 commented on #19309
The puzzle of this feature is that, what if the attribute the hash value calculated from(say, `name`) is updated? Do we need to update the primary key or `rowid` accordingly?

[2020-08-21 03:01] ekexium commented on #19336
/label sig/execution

[2020-08-21 03:03] ekexium commented on #19336
/cc @zz-jason

[2020-08-21 03:03] ekexium commented on #19342
/label sig/DDL

[2020-08-21 03:23] zimulala commented on #19311
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/47135/pipeline

[2020-08-21 03:30] ChenPeng2013 opened #19348 "partition pruning does not work when using equal operator in hash partitioned table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
partition: p2
[code]

### 3. What did you see instead (Required)
partition: all
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-08-21 03:30] ekexium commented on #19344
/assign @lichunzhu

[2020-08-21 03:47] lichunzhu commented on #19344
Have you deployed `tidb-operator`? https://docs.pingcap.com/tidb-in-kubernetes/stable/deploy-tidb-operator

[2020-08-21 03:55] crazycs520 opened #19349 "refine IndexLookUp executor runtime stats"
**Is your feature request related to a problem? Please describe:**

Currently, the runtime stats of `IndexLookUp` is hard to understand, here is an example:

[code]

there is some problem:

1.`IndexLookUp` reader uses `IndexScan` to read index first, and got the handle value from index value, then use `TableRowIDScan` to read data. So,  we need to know the information such as below:
   * RPC runti

[2020-08-21 03:56] crazycs520 commented on #19349
@qw4990 @zz-jason PTAL

[2020-08-21 03:57] zimulala commented on #19318
PTAL @AilinKid

[2020-08-21 04:12] ClSlaid commented on #19344
Not really, I may try it later

[2020-08-21 04:24] shenli commented on #19309
https://github.com/pingcap/tidb/pull/10704  Here is an attempt.

[2020-08-21 05:25] wjhuang2016 opened #19350 "alter table set default succeeds for auto_increment or auto_random"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 4. What is your TiDB version? (Required)

[2020-08-21 05:42] chestnutsj opened #19352 "insert into will be update"
## Bug Report
  insert into will be update

### 1. Minimal reproduce step (Required)
1 . CREATE TABLE test (
	id bigint primary key,
	name varchar(256) ,
	ts int
)

2.  insert into test values( 1, 'test1', 0);

3.

begin;
   update test set name='xxx' where id =1 and ts <> 0 ;
    insert into test values( 1, 'test2', 0);   <= this will success
commit ;

### 2. What did you expect to see? (Required

[2020-08-21 06:10] tiancaiamao opened #19353 "Get TiFlash region cache data race"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Found in the CI here https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/47161/pipeline

In https://github.com/pingcap/tidb/pull/18402

### 2. What did you expect to see? (Required)

No data race

### 3. What di

[2020-08-21 06:11] ekexium commented on #19352
I cannot reproduce it in 4.0.4. This bug should have been fixed.
You can try using latest releases.

[2020-08-21 06:20] tirsen commented on #19309
Another puzzle of this feature is, what if you add or remove secondary indexes to the table?

[2020-08-21 06:30] chestnutsj commented on #19352
are you sure ? @ekexium

MySQL [test]> SELECT tidb_version()
    -> ;
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| tidb_version(

[2020-08-21 06:30] fzhedu opened #19354 "executor: Close() should be called before returning errors if Open() is called"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
the operators in databases should implement `Open()/Next()/Close` interfaces, which initialize contexts/process data/clean contexts for each operator. In the cases such as in [IndexLookupJoin](https://github.com/pingcap/tidb/blob/4669f68131738ed19def323e8925c6

[2020-08-21 06:32] #19325 closed

[2020-08-21 06:33] KrishnaSindhur commented on #19314
i would like to give a try if no one has picked up

[2020-08-21 06:37] qw4990 commented on #19314
Thanks~ You can comment `/assign` to make the git-robot assign this issue to you. And please `@` me if you have any questions. 😺

[2020-08-21 06:41] ekexium commented on #19352
@chestnutsj Here's my test.

[code]

[2020-08-21 06:43] KrishnaSindhur commented on #19314
/assign

[2020-08-21 06:48] chestnutsj commented on #19352
wow  ,thanks

[2020-08-21 06:48] #19352 closed

[2020-08-21 07:52] #19152 closed

[2020-08-21 07:55] fzhedu opened #19358 "schema: fetch all results of internal sql would cause OOM"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[HandleUpdateStats](https://github.com/pingcap/tidb/blob/b59b5322633b41433b7daf71462ad9a46fe2c07a/statistics/handle/update.go#L504) load all previous stats, it would occupy too much memory so that to cause OOM. In fact, we can process the updates chunk by chunk.

### 2. Wha

[2020-08-21 08:03] windtalker opened #19359 "Query on TiFlash throw CastStringAsInt is not supported error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Query finished without error
### 3. What did you see instead (Required)
ERROR 1105 (HY000): other error: [FLASH:Coprocessor:Unimplemented] CastStringAsInt is not supported.
### 4. What is your TiDB version? (Required)
ma

[2020-08-21 08:13] pepezzzz opened #19360 "record each db duration like record-db-qps feature"
## Feature Request

**Is your feature request related to a problem? Please describe:**

record each db duration when types of workload use different db in the same tidb cluster.
**Describe the feature you'd like:**

like record-db-qps feature, a new parameter  record-db-duration in tidb configuration file controls this feature enable or not .
After feature enable, these metrics related to db durat

[2020-08-21 08:18] #19353 closed

[2020-08-21 08:30] #19162 closed

[2020-08-21 12:16] fzhedu opened #19368 "executor: memory profile is wrong for update statments"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
The memory useage of update statements is closed to 2^64, it maybe overflow.

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
![image](https://user-images.githubusercontent.com/6490813/90889555-fcb82380-e3ea-11ea-9ebd-871fd7e8165a.pn

[2020-08-21 12:38] b41sh opened #19369 "Call For Participation: add memory trace for all the AggFuncs"
## Description

This issue is used to track the memory usage of `AggFunc` in `HashAggExec` as discussed in #14705 and #14103.
We need to implement the method of the `AggFunc` interface and return `memDelta` to identify memory usage of each function.

[code]

All aggregation functions are shown below, you can choose the ones you are interested in.
Feel free to join us in the [#sig-exec](https://sla

[2020-08-21 15:12] sweelim20 opened #19371 "PREPARE stmt FROM @UpperCaseVar"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

mysql> set @v := 'select count(*) from information_schema.tables';
Query OK, 0 rows affected (0.00 sec)

mysql> prepare stmt from @V;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your TiDB version for the right syntax to use

[2020-08-21 15:26] zyguan opened #19372 "Incorrect result when applying IndexLookUp multiple times"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

<details>

[code]

</details>

### 4. What is your TiDB version? (Required)

master @ 6b3964c75d42f3a73970be2fcc308a0d65b84500
release-4.0 @ fb952937dcef74555a

[2020-08-22 15:02] liangyuanpeng opened #19374 "[Bug] Wrong help prompt of store"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. ./tidb -h
2. ./tidb

### 2. What did you expect to see? (Required)

Print default store of unistore in help prompt.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
master

[2020-08-23 13:34] #19371 closed, assigned to nobody

[2020-08-23 16:40] zz-jason opened #19381 "process cop request by tikv instance instead of region"
## Description
## Feature Request

**Is your feature request related to a problem? Please describe:**

Let's say we have an `order` table, whose schema is:

[code]

A query like this:

[code]

As you can imagine, an optimal execution plan is to index lookup: scan all the `id` (note the int primary key in this table) based on the index `idx_customer_id`, then scan the table based on the obtained `i

[2020-08-23 17:03] nullnotnil commented on #8452
GO 1.15 supports embedding the timezone database in the binary: https://golang.org/doc/go1.15#time/tzdata

This doesn't help in the case that a user has different versioned TiDB servers, or that some operations may be pushed down to the coproessor. But it might be an improvement worth considering.

[2020-08-24 02:20] #17241 closed

[2020-08-24 02:42] cfzjywxk commented on #19372
@SunRunAway Seems still something wrong for the `apply` operator, PTAL

[2020-08-24 03:03] #19350 closed

[2020-08-24 03:18] nullnotnil opened #19383 "SELECT LOCK IN SHARE MODE is unsafe"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

See: https://docs.pingcap.com/tidb/stable/pessimistic-transaction#difference-with-mysql-innodb

Under (2) it says that `SELECT LOCK IN SHARE MODE` is a noop. This seems unsafe, at least by default.

### 2. What did you expect to see? (Required)

I would like to see it prote

[2020-08-24 03:22] fzhedu commented on #19137
PG
[code]

[2020-08-24 03:32] zyguan commented on #19137
Oracle http://sqlfiddle.com/#!4/794de/1/0

[2020-08-24 03:45] fzhedu commented on #19137
compared Mysql to Oracle, PG and sqlLite, only mysql does not support swaping two columns. We can verify this on http://sqlfiddle.com/#!4/794de/1/0

[2020-08-24 03:46] djshow832 opened #19386 "Adding index in parallel"
## Description

Now adding index is processed only on the DDL owner. When the table is huge, it takes too much time. We can leverage the computing capability of the whole cluster to accomplish it.

Here's a rough plan:
1. When the DDL owner receives an adding index job, it looks up the statistics to figure out whether the table is huge. It not, it just executes it serially as before.
2. If the tab

[2020-08-24 04:17] wjhuang2016 opened #19387 "`select sum(case when 1 then a end) from t group by a` causes schema change"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

This bug can be fixed by https://github.com/pingcap/tidb/pull/19083.

### 2. What did you expect to see? (Required)

`decimal(16,2)` in `show create table`, that is, the schema won't change after executing the SQL.

### 3. What did you see instead (Re

[2020-08-24 05:11] mmyj opened #19388 "doc: add a doc for the encrypt spilled file config item"
## Development Task (After the discussion, we'll keep the old configuration itme)
- [X] rename the encrypt spilled file config item to `data-encryption-method` https://github.com/pingcap/tidb/pull/19389
- [X] update the `tidb-configuration-file.md`
- [X] update the `encryption-at-rest.md`

## New development Task
- [X] add the `enable-disk-spill-encrypt.md` for `docs-cn` https://github.com/pingcap

[2020-08-24 05:11] mmyj commented on #19388
/assign mmyj

[2020-08-24 06:08] xiongjiwei opened #19390 "runtime error: integer divide by zero"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
`0,0`
### 3. What did you see instead (Required)
one of them is runtime error, depend on 32 or 64 bit machine
### 4. What is your TiDB version? (Required)

[code]

[2020-08-24 06:25] qw4990 commented on #1161
This issue can still be reproduced on Master.

[2020-08-24 06:31] qw4990 commented on #4323
This bug can still be reproduced on Master.

[2020-08-24 06:43] darluc commented on #18023
Anyone knows if itdb compatible with cockroachDB ?

[2020-08-24 06:52] time-and-fate commented on #19383
/label sig/transaction

[2020-08-24 06:54] qw4990 commented on #9604
Is this problem resolved? @hicqu

[2020-08-24 06:54] time-and-fate commented on #19387
/label sig/ddl

[2020-08-24 07:18] crazycs520 commented on #18566
https://github.com/pingcap/tidb/pull/19392 should fix the `previous query doesn't desensitization` problem.

[2020-08-24 07:19] liubaohai opened #19393 "SELECT LOWER not work"
## Bug Report

### 1. Minimal reproduce step (Required)

- create table sql
[code]
- insert into a row
[code]
- select
[code]

### 2. What did you expect to see? (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[code]

[2020-08-24 07:52] tirsen commented on #19309
Actually we need this for AUTO_INCREMENT not just for AUTO_RANDOM.

[code]

[2020-08-24 07:55] wjhuang2016 opened #19397 "Design and implement a scheduling algorithm for ddl jobs"
## Description

What's the observed and your expected performance respectively?

Previously, there are two queues in TiDB to handle DDL jobs. A general worker and an add-index worker.
It worked fine since only add-index used the `in place` algorithm, and it needs much time to complete. Except for the add-index DDL, other DDLs used the `instant` algorithm, which is quick compare to the `in place` a

[2020-08-24 08:28] qw4990 commented on #19314
Hi @KrishnaSindhur  , I'm sorry to say that after discussing, we have planned to fix this bug by ourselves this week since it's critical and urgent.
Here is [another issue list](https://github.com/pingcap/tidb/issues?q=is%3Aopen+is%3Aissue++label%3Aseverity%2Fmajor+), and you can pick some other issues in it.

As for your question, you can `git-clone` TiDB to your local and run `make` in its direc

[2020-08-24 08:42] qw4990 commented on #12202
I will investigate and fix this issue soon.

[2020-08-24 08:42] qw4990 commented on #12203
Same with https://github.com/pingcap/tidb/issues/12202, I will fix it soon.

[2020-08-24 08:42] qw4990 commented on #12447
Same with https://github.com/pingcap/tidb/issues/12202, I will fix it soon.

[2020-08-24 08:42] ilovesoup opened #19399 "Benchmark on impaction of security features like TDE and TLS"
## Development Task
Testing performance downgrade when TLS / Encryption is enabled. Workload TBD.

[2020-08-24 08:47] #19258 closed

[2020-08-24 08:59] KrishnaSindhur commented on #19314
sure no problem, ya i  will check the list

[2020-08-24 09:06] qw4990 commented on #12445
I will fix it this week.

[2020-08-24 09:25] zz-jason opened #19404 "support interleaved tables"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Let's say we have `customer` and `order` tables:

[code]

A join query like this:

[code]

It may require to access many disjoint regions of table `order` and `customer` to get all the customer data, which can cause a significant performance penalty.

**Describe the feature you'd like:**

After the clustered pr

[2020-08-24 09:33] leiysky opened #19405 "Support some analytical functions"
## Feature Request

**Is your feature request related to a problem? Please describe:**
In some analytic scenes, we cannot write SQL conveniently with funtions currently supported by TiDB.

For example, if you want to get a `n-quantile`, you have to write a SQL as follows, where `x` represents `count_of_records / n`:
[code]

While in `Clickhouse`, a function `quantileExact` is enough:
[code]

**Des

[2020-08-24 09:41] fzhedu commented on #19393
Thanks for your first issue. Would you like to solve it ?

[2020-08-24 09:50] tennix commented on #19399
We have done the benchmark in DBaaS before. The performance degradation is about 7~10%

[2020-08-24 09:56] fzhedu commented on #19393
This is fixed in the master and release 4.0, but still exist on v4.0.0, also fixed since 4.0.2. please upgrade your version.

[2020-08-24 09:56] fzhedu commented on #19393
This is fixed in the master and release 4.0, but still exist on v4.0.0, also fixed since 4.0.2. please upgrade your version.

so I close it.

[2020-08-24 09:56] #19393 closed

[2020-08-24 10:00] SunRunAway commented on #19381
https://docs.pingcap.com/tidb/dev/system-variables#tidb_allow_batch_cop-new-in-v40-version
We already have this feature when accessing data from TiFlash, let's see whether this option can be involved in TiKV.

[2020-08-24 10:00] fzhedu commented on #19393
https://github.com/pingcap/tidb/pull/14667 fixed PR.

[2020-08-24 10:32] fzhedu commented on #19278
fixed by https://github.com/pingcap/tidb/pull/19277, so close it.

[2020-08-24 10:32] #19278 closed

[2020-08-24 10:37] ilovesoup commented on #19399
Thanks.

[2020-08-24 10:37] #19399 closed

[2020-08-24 11:08] ilovesoup commented on #19404
This feature will be a very big one but with couple of limitations:
1. Parent table row count vs child row count difference cannot be too big. Otherwise the speedup is very unstable.
2. Read on parent table will be slowed down.
3. Point get on child table need extra index.
4. Very limited use cases with very high customer education cost.

[2020-08-24 11:17] #19149 closed

[2020-08-24 11:41] SunRunAway commented on #11276
https://github.com/pingcap/tidb/pull/19338#issuecomment-679063761

[code]

[2020-08-24 11:51] zyguan opened #19408 "Incorrect result when using IndexMergeJoin on partitioned tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

<details>

[code]

</details>

### 4. What is your TiDB version? (Required)

master @ 6831e487a84c8bde625de8c73feec9e6ec02f426

[2020-08-24 11:57] Yisaer commented on #19305
solved in https://github.com/pingcap/tidb/pull/19212. @ekexium could you close the issue?

[2020-08-24 12:00] ekexium commented on #19305
I don't have permission to close it.

[2020-08-24 12:37] SunRunAway opened #19410 "unexpected result for index join on `enum` and `set` columns"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master(2f100eca2)

[2020-08-24 12:41] SunRunAway commented on #19410
Related issue: https://github.com/pingcap/tidb/issues/18850, https://github.com/pingcap/tidb/issues/17104

[2020-08-24 12:41] SunRunAway commented on #19410
@XuHuaiyu PTAL

[2020-08-24 12:43] zyguan opened #19411 "Incorrect result when left join a partitioned table by IndexJoin"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

<details>

[code]

</details>

### 4. What is your TiDB version? (Required)

master @ 6831e487a84c8bde625de8c73feec9e6ec02f426

[2020-08-24 12:46] SunRunAway commented on #18039
It is still on release-3.1 branch
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_check/detail/tidb_ghpr_check/50916/pipeline

[code]

[2020-08-24 12:46] SunRunAway commented on #18039
@coocood Would your PR fix in that branch too?

[2020-08-24 12:49] SunRunAway opened #19412 "bootstrap doDMLWorks failed in unit test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/47409/pipeline

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-08-24 12:49] SunRunAway commented on #19412
@cfzjywxk PTAL

[2020-08-24 12:50] #19233 closed

[2020-08-24 13:33] mightyguava commented on #19309
I really like the `affinity by (customer_id)` option, as described by @djshow832 in Plan 1. For customer-facing applications, data will commonly benefit from affinity to the customer. The `customer_id` effectively becomes part of the primary key, so not being able to modify or drop it is a reasonable tradeoff.

It also feels like a stop-gap solution to having clustered indexes and basically being

[2020-08-24 13:58] mightyguava commented on #19404
As this is motivated trying to solve the same issues in https://github.com/pingcap/tidb/issues/19309, I think interleaved tables make quite a lot of sense. IMHO I disagree this has limited use cases. Many database schemas are centered around a "customer", or some other type of central entity, which lead to similar use cases. When you have these parent-child relationships in a relational database,

[2020-08-24 15:12] tirsen commented on #19404
There are more many benefits of this feature. Here are a few more:
* Queries with the customer id in the WHERE clause can execute fully inside a single tikv node.
* As a corollary to the above point, joins across interleaved tables can be fully resolved on a single tikv node and doesn’t have to move any data across the network except the end result of the query.
* Transactions on interleaved table

[2020-08-24 15:12] tirsen commented on #19404
As part of this feature we could also support interleaved indexes like this:
[code]
If this index is interleaved with the parent customer it could also be updated entirely inside the same range.

[2020-08-24 15:24] tirsen commented on #19404
I also humbly disagree. :-) This has become a standard feature of NewSQL databases as both Spanner, CockroachDB and (in another shape) Vitess has this. I think there will be a lot of industry knowledge of how to use this feature.

In a distributed database you don't have direct control over where data is stored. With interleaving you hint to the DBMS how you're going to access the data so that it

[2020-08-24 15:27] tirsen commented on #19309
Actually... would it be sufficient to just place the customer_id in the primary key to accomplish this already?

[code]

[2020-08-24 16:54] xhebox commented on #19342
This should be a subissue of the big issue #19116.

[2020-08-24 17:10] cberescu opened #19417 "Error when updating the same row by calling different instance of tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

I am using tidb as a session holder for users , this happens when i update a row multiple times very fast. I am using 2 tidb instances and proxysql that can send the request to either instance.

### 2. What did you expect to see? (Required)
To not receive any errors.

### 3

[2020-08-24 21:26] nullnotnil commented on #19417
I believe I understand why it is happening. To reproduce I started 9 additional copies of tidb-server so that I have 10 running locally:

[code]

I then created a hyopothetical table:
[code]

My load script is as follows:
[code]

So I can create the 10 threads with:
[code]

Which generates warnings of:
[code]

## Suspected Cause

Even though the default transaction model is pessimistic locking, op

[2020-08-24 21:31] nullnotnil commented on #19417
@jackysp @cfzjywxk Do you agree with the analysis here / what do you think about changing the log level for safe retry of optimistic transactions?

[2020-08-24 21:44] nullnotnil commented on #19332
There is an existing proposals or instance scoped variables here: https://github.com/pingcap/tidb/issues/9298

Can these two be merged?

[2020-08-25 01:48] xiongjiwei commented on #1161
`utf8mb4` charset in TiDB default collation is `utf8mb4_bin`
see https://docs.pingcap.com/tidb/stable/mysql-compatibility#default-differences

[2020-08-25 02:28] breeswish commented on #19342
@xhebox They might be different issues. I didn't modify the signed / unsigned flag. I only removed the field comment.

[2020-08-25 02:31] cfzjywxk commented on #19417
@nullnotnil
I think the analysis is correct, for conflict rows updating it's better to use the pessimistic transaction mode which requires explicit `begin` or `start transaction`.
If the commit retry is enabled for a non-autocommit transaction with optimistic transaction mode, the commit retry may change the transaction isolation level. I think we still need to trace it, how about changing the `WA

[2020-08-25 02:48] ilovesoup commented on #19404
Thank so much you for the very helpful input! @tirsen @mightyguava

I fully agree that controlling data locality and placement is a very important thing for distributed databases. An effective way to achieve this goal will be very helpful. This feature will be a very big one and we have to be cautious about its cost-effectiveness. But we are very open for discussion. Understanding real-world use c

[2020-08-25 02:52] tangenta commented on #19167
Duplicate with #12835.

[2020-08-25 02:52] #19167 closed

[2020-08-25 02:55] xhebox commented on #19342
The root cause is that ModifyColumn does not invoke `ColumnDefToCol`. Thus the flag of new column is not processed as the created column.
Do you think it is a standalone problem?

[2020-08-25 03:07] ekexium commented on #19261
/unassign @lilinghai

[2020-08-25 03:08] ekexium commented on #19263
/unassign @lilinghai

[2020-08-25 03:09] ekexium commented on #19262
/unassign @lilinghai

[2020-08-25 03:13] breeswish commented on #19342
@xhebox I have no idea about the implementation faults you talked. I see that #19116 is talking about "supports changing the column type", so that I guess they are not related --- why would removing the field comment lead to changing a column type? It should be either a bug that is not covered by the description of #19116, for example, maybe changing a comment *mistakenly* changes the type, or #19

[2020-08-25 03:30] tiancaiamao commented on #19263
This  is caused by the environment.
PD is not available.

[code]

[code]

[2020-08-25 03:31] zz-jason commented on #19360
I think it's duplicated with https://github.com/pingcap/tidb/issues/17688. close due to duplicated.

[2020-08-25 03:31] #19360 closed

[2020-08-25 03:31] zz-jason commented on #19360
let's discuss this feature request at https://github.com/pingcap/tidb/issues/17688.

[2020-08-25 03:41] tiancaiamao opened #19421 "Integration DLL Test CI not stable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_ddl_test/detail/tidb_ghpr_integration_ddl_test/16524/pipeline

### 2. What did you expect to see? (Required)

CI is stable

### 3. What did you see instead (Required)

CI fail on integ

[2020-08-25 03:41] tiancaiamao commented on #19421
This is caused by the CI environment.
PD is not available.

[2020-08-25 03:50] #17517 closed

[2020-08-25 03:50] yilongrong commented on #17517
wait customer feedback

[2020-08-25 03:52] nullnotnil commented on #19386
+1 I like this design over any static weighting because it responds well to environments where virtual machines could be migrated around or performance could change due to noisy neighbors/steal.

[2020-08-25 03:52] ichn-hu commented on #18535
/assign

[2020-08-25 03:53] ichn-hu commented on #18535
/assign @ichn-hu

[2020-08-25 03:59] zyguan opened #19423 "Incorrect result of an anti-semi-join query"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

Empty set

### 4. What is your TiDB version? (Required)

master @ 6831e487a84c8bde625de8c73feec9e6ec02f426
release-4.0 @ 61f1150e45f929fac9b4b82fc475840efd6b43a1

[2020-08-25 04:03] zz-jason commented on #19312
highly recommended to support this in the query optimizer:

- region distribution stored in PD is nearly the real-time information, we can use it to adjust the selectivity estimation if possible
- we can also take the network rpc times into the cost model
- the regions can be regarded as a huge equal-depth histogram because of the region size limitation, if we can store moge information in a singl

[2020-08-25 04:11] mightyguava commented on #19404
I see. Yes, I think clustered primary index will address many of the performance issues we currently see. It's something I'd love to see backported into 4.0 or 4.1.

Interleaving is exciting that it goes a step beyond. I like the idea of being able to query a customer and its most recent orders querying only a single region. I _really_ like the idea of being able to update a customer _and_ insert

[2020-08-25 04:24] #19348 closed

[2020-08-25 04:46] qw4990 commented on #10939
Close due to no update for a long time.

[2020-08-25 04:46] #10939 closed

[2020-08-25 05:30] wjhuang2016 opened #19426 "`select sum(case when a <= 0 or a > 1000 then 0.0 else b end) from t` returns wrong decimal"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master

[2020-08-25 05:39] #19136 closed

[2020-08-25 05:39] zz-jason commented on #19309
Good catch!

[2020-08-25 05:52] breeswish opened #19427 "SHOW FULL TABLES display incorrect table type for system tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

Note that selecting from `INFORMATION_SCHEMA.TABLES` displays correctly:

[code]

### 4. What is your TiDB version? (Required)

v4.0.4

[2020-08-25 05:55] #19100 closed

[2020-08-25 06:00] ChenPeng2013 opened #19431 "Apply return non empty set in transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-08-25 06:03] zz-jason opened #19432 "`AUTO_INCREMENT` on `MyISAM` engine behaves different from MySQL"
## Bug Report

MySQL document about [`AUTO_INCREMENT` on `MyISAM` engine](https://dev.mysql.com/doc/refman/8.0/en/example-auto-increment.html):

TiDB's behavior is different from MySQL.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

MySQL version:

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version

[2020-08-25 06:05] wshwsh12 commented on #16921
Fixed by https://github.com/pingcap/tidb/pull/19385

[2020-08-25 06:05] #16921 closed

[2020-08-25 06:11] time-and-fate commented on #19423
/label sig/execution

[2020-08-25 06:12] cfzjywxk commented on #19076
Reproduce on the local environment(not very frequent, possible 1/100), the scan next call returned value is incorrect.

[code]

[2020-08-25 06:14] time-and-fate commented on #19426
/label sig/execution

[2020-08-25 06:16] ichn-hu commented on #19431
/assign @ichn-hu

[2020-08-25 06:18] AilinKid commented on #19432
@nullnotnil  hi~ How do you like it above? PTAL

[2020-08-25 06:20] time-and-fate commented on #19427
/label sig/execution

[2020-08-25 06:26] zz-jason commented on #19309
Yes. But like MySQL, TiDB requires the `auto_increment` column being defined as a unique or primary key, we can define the table schema like this to workaround:

[code]

I think it's not necessary. Refer to MySQL Document: [15.6.1.6 AUTO_INCREMENT Handling in InnoDB](https://dev.mysql.com/doc/refman/8.0/en/innodb-auto-increment-handling.html), following is the reason for MySQL to require it's bein

[2020-08-25 06:27] zimulala commented on #19342
@xhebox
Are you interested in fixing this problem？

[2020-08-25 06:28] xhebox commented on #19342
/assign I am picking up this issue.

[2020-08-25 06:34] ichn-hu commented on #19431
/label severity/critical

[2020-08-25 06:42] tirsen commented on #19404
There are two other benefits to interleaved tables that should not be disregarded:
* Joins across multiple interleaved tables can be fully resolved in a single tikv node if the parent key is the same. This will have a huge benefit for our use case. We have a fairly normalized data model and our OLTP queries do joins across a few key tables very frequently but it does specify the customer id. Havin

[2020-08-25 06:53] XuHuaiyu commented on #19311
Fixed in https://github.com/pingcap/tidb/pull/19384

[2020-08-25 06:53] #19311 closed

[2020-08-25 06:55] tirsen commented on #19309
Sadly the index on `id` here would negate some of the benefit of spreading out the write load through the `customer_id` affinity. (This is assuming the `customer_id` itself is spread out.) Since `id` is auto_incremented it would mean that it would get a hot tail shard.

In our use case we have a huge write load on some tables. From our tests several orders of magnitude more than a single tikv node

[2020-08-25 07:00] zz-jason commented on #19309
It's mainly for being compatible with MySQL. I think we can relax this restriction. @bb7133 what's your opinion?

[2020-08-25 07:20] wshwsh12 commented on #12448
fixed by https://github.com/pingcap/tidb/pull/13401

[2020-08-25 07:20] #12448 closed

[2020-08-25 07:36] ChenPeng2013 opened #19435 "apply return wrong result in transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master & release-4.0

[2020-08-25 07:44] ichn-hu commented on #19435
/assign @ichn-hu

[2020-08-25 07:52] wjhuang2016 commented on #19342
This issue has nothing to do with column type change. In fact,  `year` can't be `unsigned` or  `sign`.

[2020-08-25 07:55] ichn-hu commented on #19041
@cberescu could you please give more information on this issue? e.g. how do you find it and how it will likely to occur?

[2020-08-25 07:55] xhebox commented on #19342
@wjhuang2016 Then there is another bug. I think that the unsigned flag of `year` comes from https://github.com/pingcap/tidb/blob/master/ddl/ddl_api.go#L620. So here should be another check of the type.

[2020-08-25 08:03] wjhuang2016 commented on #19342
Yeah, `unsigned` here is an attribute. It will not show in `show create table`.

[2020-08-25 08:04] cberescu commented on #19041
It is hard to duplicate it, it appears in a complex query, i will attach the query if you think it may help here :

[code]

If it is anything else i can give or require please let me know i am available to help in any way i can.

[2020-08-25 08:06] ichn-hu commented on #19041
@cberescu thank you for being so responsive, I'll be looking into this issue, more over, could you please a more specific version number? Say, the output of `select tidb_version()`/

[2020-08-25 08:09] #18515 closed

[2020-08-25 08:18] #18399 closed

[2020-08-25 08:22] qw4990 commented on #19372
I find this issue has been fixed by https://github.com/pingcap/tidb/pull/17674. Can we pick this PR to release-4.0? @lysu

[2020-08-25 08:24] cberescu commented on #19041
Hi, the version was 4.0.0 , i have now updated to 4.0.3  , I can give a try and see it this happens with this version also.

[2020-08-25 08:25] fzhedu commented on #18142
closed by https://github.com/pingcap/tidb/pull/18168

[2020-08-25 08:25] #18142 closed

[2020-08-25 08:30] ichn-hu commented on #19041
Cool, thanks a lot. By the way, how frequent will this error pops up?

[2020-08-25 08:31] cberescu commented on #19417
@nullnotnil yes, i receive client errors i could also duplicate with only one instance of tidb. I will try to enable automatic retry and see what happens.

[2020-08-25 08:52] qw4990 commented on #19372
I find the problem is caused by wrong behaviors on `mocktikv`.
After modifying the store to `unistore` or `tikv`, this problem disappears.
So we can change the store from `mocktikv` to `unistore` on branch 4.0 to avoid this problem.

[2020-08-25 08:57] spihiker opened #19442 "Diffrence between Community edition and Enterprise Edition"

[2020-08-25 08:59] fzhedu commented on #17730
@breeswish so I close it here.

[2020-08-25 08:59] #17730 closed

[2020-08-25 09:09] fzhedu commented on #17729
redirect to https://github.com/pingcap-incubator/tidb-dashboard, closed it here.

[2020-08-25 09:09] #17729 closed

[2020-08-25 09:10] fzhedu commented on #17728
redirect to https://github.com/pingcap-incubator/tidb-dashboard, closed it here.

[2020-08-25 09:10] #17728 closed

[2020-08-25 09:13] rebelice commented on #17613
/assign

[2020-08-25 09:15] rebelice commented on #17613
/assign

[2020-08-25 09:20] #19359 closed

[2020-08-25 09:23] fzhedu commented on #17354
Does it stil exist? otherwise, we will close this issue.

[2020-08-25 09:31] fzhedu commented on #17122
We do not see any bug resulted from this, so I close it.

[2020-08-25 09:31] #17122 closed

[2020-08-25 09:39] fzhedu commented on #13961
@pingyu Can your previous PR can solve this problem?

[2020-08-25 09:48] #11895 closed

[2020-08-25 10:06] #13754 closed

[2020-08-25 10:07] #13753 closed

[2020-08-25 10:14] fzhedu commented on #13626
@bb7133  can we close this issue?

[2020-08-25 10:17] Rustin-Liu commented on #13626
I remember it seems that we still have this problem in some places. So maybe we can find all the problems and open a new issue to track them.

[2020-08-25 10:26] #19091 closed

[2020-08-25 10:45] SunRunAway opened #19443 "sendReqToRegion DATA RACE"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

release-3.0,
seen at https://github.com/pingcap/tidb/pull/19413#issuecomment-679915105

[2020-08-25 10:46] SunRunAway commented on #19443
@Yisaer Would you like to take a look?

[2020-08-25 10:49] #17181 closed

[2020-08-25 10:49] #19390 closed

[2020-08-25 11:00] #15371 closed

[2020-08-25 11:05] fzhedu commented on #9816
@zimulala @XuHuaiyu do you fix similar problem?

[2020-08-25 11:09] fzhedu commented on #9798
@XuHuaiyu fix them?

[2020-08-25 11:14] fzhedu commented on #9304
@zimulala @crazycs520  Does https://github.com/pingcap/tidb/pull/9207 fix this issue? if yes, close this issue, Pls.

[2020-08-25 11:20] fzhedu commented on #9124
@zhangjinpeng1987 still exist? or close it.

[2020-08-25 11:21] fzhedu commented on #8774
close it due to no response sin 11, 2018.

[2020-08-25 11:22] fzhedu commented on #8555
close it due to no response since Dec 2018.

[2020-08-25 11:22] #8555 closed

[2020-08-25 11:24] fzhedu commented on #8452
@zhexuany can we close it?

[2020-08-25 11:26] #19282 closed

[2020-08-25 11:46] birdstorm commented on #10180
@codyrin93 Please confirm if there are multiple versions of TiSpark on your Spark cluster. You may check it via Spark's web UI - the Environment Tab in Application's UI, and see if there are multiple TiSpark jars in your environment.

[2020-08-25 11:47] cberescu commented on #19041
I can not tell you exactly how often it pops up, it did 2 times pretty close to each other  within an hour, after that i moved the query back to mysql. At this moment it is running for about 3 hours and nothing has happened. I will let it run for the next 24 or 48 hours and if nothing happens then i think we can conclude the issue was fixed with the 4.0.3 version .

I will keep you informed if any

[2020-08-25 12:21] #9304 closed

[2020-08-25 13:00] sre-bot opened #19448 "partition_test.go:testPartitionSuite.TestDropAndTruncatePartition failed"
partition_test.go:testPartitionSuite.TestDropAndTruncatePartition

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/46267/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/47515/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/47569/display/redirect

[2020-08-25 13:11] bb7133 opened #19449 "support Flyway for TiDB"
## Feature Request

**Is your feature request related to a problem? Please describe:**
[Flyway](https://flywaydb.org) is an open-source framework for database migration. various databases have been supported by it including MySQL and MariaDB.

For now, Flyway reports an error when doing the migration on TiDB:

[code]

The error is caused by #14994 (`GET_LOCK` and `RELEASE_LOCK`, the "named lock"),

[2020-08-25 13:34] ilovesoup commented on #19404
First of all, 1PC together with interleaved index and shard resiliency are very sound reasons. I think we might have further discussion around these two. BTW, are you interested in join us with in interleaved table development? If we decide to make it happen, your help will make it happen a lot soooner :)

Now please allow me further explain some of the points above.

We currently still have diffi

[2020-08-25 13:44] nullnotnil commented on #19449
There is another issue with flyway in https://github.com/pingcap/tidb/issues/15131#issuecomment-611311153

It issues a query `select @@foreign_key_checks`, which is typed in MySQL. I'm not sure if this is something in older versions, or only becomes evident after setting `tidb_enable_noop_functions=1`?

[2020-08-25 14:35] wjhuang2016 commented on #19448
Close by https://github.com/pingcap/tidb/pull/19441

[2020-08-25 14:35] #19448 closed

[2020-08-25 15:27] zyguan opened #19450 "Incorrect result when using HashJoin on partitioned tables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

release-4.0 @ 61f1150e45f929fac9b4b82fc475840efd6b43a1

[2020-08-25 15:53] bb7133 commented on #19449
@nullnotnil Looks that the issue exists for all versions and we should deal with it as well. Thanks!

[2020-08-25 16:46] cberescu commented on #19417
So, after enabling autoretry and increasing tidb_retry_limit to 30  i still receive the errors. My next step will be to use BEGIN TRANSACTION and see what happens.

[2020-08-25 21:19] nullnotnil commented on #19432
I am not quite convinced that TiDB requires this for compatibility (since MySQL itself did not offer this compatibility between MyISAM and InnoDB). But I do remember it causing issues for users that had their own unit tests that expected certain auto_increment values to be generated.

I would suggest we maybe recategorize it as a feature request, and discuss its merits?

[2020-08-25 23:28] nullnotnil commented on #17788
This has been fixed. [The text](https://docs.pingcap.com/tidb/stable/sql-faq#can-i-use-hints-to-override-the-optimizer-behavior) now reads:

[2020-08-25 23:28] #17788 closed

[2020-08-25 23:45] nullnotnil commented on #11092
This is available in the docs here: https://docs.pingcap.com/tidb/stable/sql-statement-recover-table

[2020-08-25 23:45] #11092 closed

[2020-08-26 01:13] #17354 closed

[2020-08-26 01:49] #15923 closed

[2020-08-26 03:16] #19014 closed

[2020-08-26 04:05] fzhedu commented on #18525
simple reproduce:
[code]

[2020-08-26 04:07] rebelice commented on #17807
/assign

[2020-08-26 04:08] wjhuang2016 commented on #19421
Already fixed, because of the port conflict in CI environment.

[2020-08-26 04:08] #19421 closed

[2020-08-26 04:09] rebelice commented on #17807
/assign @rebelice

[2020-08-26 04:38] ChenPeng2013 opened #19458 "apply return wrong result when using partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master

[2020-08-26 04:59] ichn-hu commented on #18652
This bug seems to be introduced by https://github.com/pingcap/tidb/pull/13602

[2020-08-26 05:19] ichn-hu commented on #18293
/unassign @fzhedu

[2020-08-26 05:19] ichn-hu commented on #18293
/assign @ichn-hu

[2020-08-26 05:20] ichn-hu commented on #18525
/assign @ichn-hu

[2020-08-26 05:20] ichn-hu commented on #18525
/unassign @fzhedu

[2020-08-26 05:22] lzmhhh123 commented on #17809
@dyzsr PTAL.

[2020-08-26 05:22] lzmhhh123 commented on #17720
@dyzsr PTAL.

[2020-08-26 05:22] ichn-hu commented on #19041
Cool, thank you so much for your warm heart, let's work it out together!

Looking forward to your update!

[2020-08-26 05:23] lzmhhh123 commented on #17720
/assign dyzsr

[2020-08-26 05:24] SunRunAway commented on #17487
Duplicate of https://github.com/pingcap/tidb/issues/17148

@Still4 Please upgrade to the newest 4.0.X version.

[2020-08-26 05:24] #17487 closed

[2020-08-26 05:26] lzmhhh123 commented on #17809
/assign @dyzsr

[2020-08-26 05:28] #19191 closed

[2020-08-26 05:28] dyzsr commented on #17809
/assign

[2020-08-26 05:45] #18407 closed

[2020-08-26 05:45] #18406 closed

[2020-08-26 05:48] dyzsr commented on #17720
/assign

[2020-08-26 06:15] #18161 closed

[2020-08-26 06:17] fzhedu commented on #18370
let me fixt it.

[2020-08-26 06:19] jyz0309 commented on #19349
Alkaid will get it done:>

[2020-08-26 06:24] XuHuaiyu commented on #19458
PTAL @lzmhhh123

[2020-08-26 06:41] lzmhhh123 commented on #19458
@ichn-hu please confirm whether #19447 could close the issue.

[2020-08-26 07:15] ichn-hu commented on #19458
@lzmhhh123 I've tested that #19447  can't solve this issue.

[2020-08-26 07:25] #19431 closed

[2020-08-26 07:25] #19435 closed

[2020-08-26 07:31] lzmhhh123 commented on #19426
@dyzsr PTAL.

[2020-08-26 07:33] #18756 closed

[2020-08-26 07:45] qw4990 commented on #18864
Close since it is fixed.

[2020-08-26 07:45] #18864 closed

[2020-08-26 07:50] dyzsr commented on #19426
/assign

[2020-08-26 07:51] #19411 closed

[2020-08-26 08:02] XuHuaiyu commented on #19450
This can be reproduced on TiKV.
If we test this on mocktikv, we'll get an `index out of range` error:
[code]

[2020-08-26 08:12] #19408 closed

[2020-08-26 08:19] fzhedu opened #19475 "expression: let str_to_date() works the same as that in MYSQL"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://github.com/pingcap/tidb/issues/18370 although is fixed, but it need to solve some unexpections.

**Describe the feature you'd like:**

[code]
**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-26 08:22] tirsen commented on #19404
Yes I think we should take that under very serious consideration.

Yes clustered index will give us many of the benefits. Interleaved tables feels like the logical extension to this work and would take things even further in terms of availability and performance.

Right :-) I didn't mean to say that joins across tables would _automatically_ be resolved locally in a tikv. I just said that they coul

[2020-08-26 08:34] SunRunAway commented on #18287
Lack of information, maybe duplicates of #17351, closing it.

[2020-08-26 08:34] #18287 closed

[2020-08-26 08:34] crazycs520 opened #19476 "Execute the no-dependent DDL job as soon as possible"
## Feature Request

**Is your feature request related to a problem? Please describe:**

[code]

As you can see, DDL job `59` is blocked by DDL job `58`, since they are both modify the table `t`, this is reasonable.

But DDL job `61` is also been blocked, it is blocked by DDL job `59`, since they are in the same DDL job queue. This can be optimized because it doesn't have a dependent DDL job.

**Im

[2020-08-26 08:40] fzhedu commented on #17741
redirect to https://github.com/pingcap-incubator/tidb-dashboard/issues/744, so close it here.

[2020-08-26 08:40] fzhedu commented on #17740
redirect to https://github.com/pingcap-incubator/tidb-dashboard/issues/744, so close it here.

[2020-08-26 08:40] #17740 closed

[2020-08-26 08:41] fzhedu commented on #17739
redirect to pingcap-incubator/tidb-dashboard#744, so close it here.

[2020-08-26 08:41] #17739 closed

[2020-08-26 08:42] fzhedu commented on #17738
redirect to pingcap-incubator/tidb-dashboard#744, so close it here.

[2020-08-26 08:42] #17738 closed

[2020-08-26 08:42] fzhedu commented on #17735
redirect to pingcap-incubator/tidb-dashboard#744, so close it here.

[2020-08-26 08:42] #17735 closed

[2020-08-26 08:43] #19423 closed

[2020-08-26 08:43] SunRunAway commented on #16147
Another occurrence from https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_integration-copr-test/detail/tikv_ghpr_integration-copr-test/3553/pipeline/ of https://github.com/tikv/tikv/pull/8466
[code]

[2020-08-26 08:54] SunRunAway opened #19479 "Unit test TestTablesLockDelayClean fails"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/867381/91283116-c3056500-e7bc-11ea-873e-73ea8a008782.png)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-08-26 08:54] SunRunAway opened #19480 "Unit test TestDeleteOnly fails"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
![image](https://user-images.githubusercontent.com/867381/91283177-d4e70800-e7bc-11ea-85ef-102513609736.png)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-08-26 08:56] SunRunAway opened #19481 "Unit test TestColumn fails"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/867381/91283398-2099b180-e7bd-11ea-9427-f0e9011dfa0a.png)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-08-26 08:58] #19076 closed

[2020-08-26 08:58] lucklove commented on #18108
Hi~ what's the tiup version you use?
We have introduce the command `tiup mirror set` in tiup v1.0.9, you can execute `tiup mirror set /home/tidb/tidb-community-server-v4.0.0-linux-amd64` to replace the official mirror and after that you don't need to set the TIUP_MIRRORS again.
And you can execute the command `tiup mirror set https://tiup-mirrors.pingcap.com` to set the official mirror if you want

[2020-08-26 09:04] qw4990 commented on #2285
Any plan to fix this bug? @zimulala

[2020-08-26 09:07] qw4990 commented on #14280
Can we close it now? @iosmanthus

[2020-08-26 09:11] fzhedu commented on #17817
still exist on master.

[2020-08-26 09:12] qw4990 commented on #11866
This problem still exists on Master:
[code]

[2020-08-26 09:32] ichn-hu commented on #18293
@zhangysh1995 this behavior is semantically correct, as there is no contraint on how we should deal with the order of elements of the same value.

Welcome to raise any questions you have, otherwise we will just close this issue.

[2020-08-26 09:32] ichn-hu commented on #18293
@SunRunAway please help close this issue.

[2020-08-26 09:34] #18293 closed

[2020-08-26 09:46] qw4990 commented on #14247
Close since there is no bug by such an implementation.

[2020-08-26 09:46] #14247 closed

[2020-08-26 09:51] fzhedu commented on #11046
close it due to no response for a long time.

[2020-08-26 09:51] #11046 closed

[2020-08-26 10:13] zhangysh1995 commented on #18293
Sorry I just saw the comments. @ichn-hu

In the case of using `a1 order by (t1.a IN (select a0 from t2))`, the result `false, false, true` are evaluated as `0,0,1`, which specifies the order of columns to be evaluated for the sort. _Notice here it is interpreted differently from the *"value"* of the result._ It means `0` is the 0th field in select, and `a` is the 1st field in select. Because there

[2020-08-26 10:26] zhangysh1995 commented on #18293
MySQL 5.7 [doc](https://dev.mysql.com/doc/refman/5.7/en/select.html), 8.0 [doc](https://dev.mysql.com/doc/refman/5.7/en/select.html)

[2020-08-26 11:20] wjhuang2016 commented on #17763
Already fixed in master and release 4.0.

[2020-08-26 11:20] #17763 closed

[2020-08-26 11:35] zz-jason commented on #7668
I'm going to close this since it's a long time without any response. feel free to reopen it if you met the same issue again.

[2020-08-26 11:35] #7668 closed

[2020-08-26 11:52] ichn-hu commented on #18293
May I beg to differ.

It is impossible that the values are interpreted as column number, because on a implementation's perspective, it requires a runtime information to know about the ordering rule.

Even if it is intepreted as "ordering the value by the first column of table 1", `c,a,b` and `c,b,a` are still both valid results.

More on the impossibility of the interpretion, the following example

[2020-08-26 11:58] fzhedu commented on #17817
TiDB
[code]
Mysql
[code]

joining on `_tidb_rowid` is wrong.
[code]

[2020-08-26 12:00] #19226 closed

[2020-08-26 12:08] wjhuang2016 opened #19492 "select collation(convert('a', char(5) character set utf8)); return empty"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Return correct result;
### 3. What did you see instead (Required)
Empty
### 4. What is your TiDB version? (Required)

[2020-08-26 12:37] zz-jason commented on #19405
The feature request looks good to me. I'm thinking about if there any other possible names for these functions. Do other databases have the same functions, what's their function name for these functions?

[2020-08-26 12:50] #11918 closed

[2020-08-26 12:53] zhangysh1995 commented on #18293
You used `desc` to specify the sort order, then it will be `b, a`. I don't see a conflict with my explanation here.

[code]

However, following this example, if I swap `c2` in the table, I found a counterexample for my explanation:

[code]

_My explanation was cited from a contributor for MySQL, based on the new example, I  now suspect his claim._

[2020-08-26 13:01] sre-bot opened #19495 "preprocess_test.go:testValidatorSuite.TestValidator failed"
preprocess_test.go:testValidatorSuite.TestValidator

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/46385/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/47817/display/redirect

[2020-08-26 13:06] zyguan commented on #19372
I actually tested it on tikv.

![2020-08-26_210435](https://user-images.githubusercontent.com/6850317/91306947-e2fa5000-e7df-11ea-87c7-f1b3d583ebb0.png)

[2020-08-26 13:08] qw4990 commented on #19372
You are right. I misunderstand this bug yesterday. I'm writing a PR to fix this bug now.

[2020-08-26 13:30] #19118 closed

[2020-08-26 13:50] leiysky commented on #19405
In Spark SQL there is a `approx_percentile` function(https://spark.apache.org/docs/latest/api/sql/index.html#approx_percentile) to calculate quantile value.

There is a function `ROUND(date)` in Oracle(https://docs.oracle.com/cd/B19306_01/server.102/b14200/functions136.htm), which is more generic but complicated and may break current syntax rules.

@zz-jason FYI.

[2020-08-26 14:23] zyguan opened #19498 "Incorrect result when applying IndexJoin"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ 602afedf840bcdba4ca03383468ee6f47f401365
release-4.0 @ 397fce9bd4bccc0e840096b429a927e30534e8ef

[2020-08-26 14:37] Win-Man opened #19499 "select var_pop(distinct xxx) could successfully execute in TiDB but failed in MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

* TiDB
[code]

* MySQL -8.0.19
[code]

### 2. What did you expect to see? (Required)
select var_pop(distinct xxx) failed.
I‘ve refered MySQL docs: [link](https://dev.mysql.com/doc/refman/8.0/en/aggregate-functions.html)
It seems var_pop/stdev func couldn't contains distinct

[2020-08-26 15:24] zyguan opened #19500 "Applying HashJoin may lead to wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

<details>

[code]

</details>

### 4. What is your TiDB version? (Required)

master @ 602afedf840bcdba4ca03383468ee6f47f401365
release-4.0 @ 397fce9bd4bccc0e84

[2020-08-26 16:36] zimulala opened #19501 "Improve the framework for column type transformation mainly handled some TODOs"
### Description

Partially supports changing the column type.

### Value

* Handle some TODO in #19059

[2020-08-26 16:43] breeswish commented on #17557
@qw4990 Hi, are these new slow log fields available in v4.0 branch?

[2020-08-26 16:43] zimulala opened #19502 "Improve the framework for column type transformation mainly refactor backfillWorker"
### Description

Partially supports changing the column type.

### Value

* Refactoring reusable logic in `index.go`

[2020-08-26 17:05] zyguan opened #19504 "Results of `count(col)` and `count(1)` may be different"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ 602afedf840bcdba4ca03383468ee6f47f401365
release-4.0 @ 397fce9bd4bccc0e840096b429a927e30534e8ef

[2020-08-26 18:50] nullnotnil commented on #19449
I like 2(a) as an initial solution because it is an easy PR to suggest to upstream (handle TiDB the same as PXC).

2(b) Requires more work on upstream, and likely MySQL behavior differences because calling `LOCK TABLES` subsequent times releases previous locks.

Users will just have to extend the pessimistic lock time to >10minutes if they have long-running DDL. They currently have to extend gc to

[2020-08-26 23:52] nullnotnil commented on #19383
This seems similar to https://github.com/pingcap/tidb/pull/19506 -- I will take a look after it merges.

[2020-08-27 03:06] dyzsr commented on #19426
/assign @dyzsr

[2020-08-27 03:07] aytrack opened #19507 "show index got wrong result"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
The `Null` column of c is null
[code]

### 3. What did you see instead (Required)
The `Null` column of c is `YES`
[code]
### 4. What is your TiDB version? (Required)

[code]

## SIG slack channel
[#sig-exec

[2020-08-27 03:07] dyzsr commented on #17720
/assign @dyzsr

[2020-08-27 03:08] dyzsr commented on #17809
/assign @dyzsr

[2020-08-27 03:11] #19372 closed

[2020-08-27 03:11] XuHuaiyu commented on #19498
INL_HASH_JOIN and INL_MERGE_JOIN works fine

[2020-08-27 03:50] scsldb commented on #18616
col4 add to `idx_col2_col3` index, maybe the problem is solved.

[2020-08-27 03:53] #17801 closed

[2020-08-27 03:57] zhangjinpeng1987 commented on #18093
I think https://github.com/pingcap/tidb/issues/18117 can replace this issue, let's close this one.

[2020-08-27 03:57] #18093 closed

[2020-08-27 04:05] ichn-hu commented on #19442
Sorry but we use issues more for a development purpose. Feel free to contact our sales for more information about the difference, the email address is `info@pingcap.com`.

[2020-08-27 04:05] SunRunAway opened #19512 "Record the time consuming of memory operation of Insert Executor in Runtime Information"
## Description
## Development Task

INSERT IGNORE from a table of 300,000 rows,

[code]
And we got the following slow query log.
![image](https://user-images.githubusercontent.com/867381/91382035-6016db00-e85b-11ea-8935-23d6fb85e915.png)

Unfortunately, with this log, we have no clue where the time is consumed.

Then we must investigate this problem by using go profile or trace.

![image](https://

[2020-08-27 06:05] #19498 closed

[2020-08-27 06:10] qw4990 commented on #11763
Close since it is no update for a long time. We can open it if this issue occurs again.

[2020-08-27 06:10] #11763 closed

[2020-08-27 06:21] crazycs520 opened #19516 "bug of plan digest: same plan with different digest"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Run [TPCC test](https://docs.pingcap.com/zh/tidb/stable/benchmark-tidb-using-tpcc) to reproduce.
2. Check the `information.STATEMENTS_SUMMARY` system check, here is an example:

 Plan 1:

[code]
 Plan 2:

[code]

As you can see, the `plan 1` is same as `plan 2`, but the

[2020-08-27 06:41] #19458 closed

[2020-08-27 06:42] lzmhhh123 commented on #19450
#19514 only fix the master branch. I will file another pull request for release-4.0.

[2020-08-27 06:45] breeswish opened #19517 "SELECT INTO does not quote correctly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL result:

[code]

### 3. What did you see instead (Required)

TiDB result:

[code]

### 4. What is your TiDB version? (Required)

v4.0.4

[2020-08-27 06:50] tiancaiamao commented on #19450
It should be close after 4.0 is fixed

[2020-08-27 06:55] scsldb commented on #11916
`Create Table` with TableInfo looks like it would only be used for backup and recovery, data migration, and not a general purpose feature.

[2020-08-27 06:55] #15600 closed

[2020-08-27 06:55] #15640 closed

[2020-08-27 07:04] zz-jason opened #19520 "support history tables like DB2"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Background: in some application scenarios, there is a need to keep the history data (for example, within a month) of a table.

In TiDB, we can keep the history data by setting the value of `tikv_gc_life_time` in `mysql.tidb` table. For example, the following statement makes the MVCC GC keep history data for the

[2020-08-27 07:08] lysu commented on #17919
Hi @Tongzhenguo thanks for the feedback.

Could you give more information:

1. what's your insert or update stmt generate this record?

[code]

2. what's your TiDB server version?

could you give the result for:

[code]

thanks

[2020-08-27 07:10] bb7133 commented on #10191
Looks that this bug has been fixed in TiDB v3.0/4.0/master.

[2020-08-27 07:11] #10191 closed

[2020-08-27 07:11] ichn-hu commented on #18525
The root cause is found. It is due to the binary search algorithm we currently employed can't handle NULL values correctly.

[2020-08-27 07:15] ichn-hu commented on #18525
@zhangysh1995 Do you have any suggestions about binary searching an array where there are uncomparable holes inside? One possible strategy I can come out with is to look around the hole to find the nearest comparable value, I am not sure if MySQL takes this strategy, I am going to read the implementation of the interval function in MySQL.

[2020-08-27 07:16] bb7133 commented on #11410
Confirmed that this issue doesn't lead to an incorrect result, we'll try to make `drop tables` atomic, as what is changed in MySQL 8(https://dev.mysql.com/doc/refman/8.0/en/atomic-ddl.html)

[2020-08-27 07:19] bb7133 commented on #2285
This is not something trivial to solve. Such error has been warned in https://docs.pingcap.com/tidb/stable/auto-increment#uniqueness.

[2020-08-27 07:20] qw4990 commented on #16147
I can't reproduce this case. We should print the stack information when it occurs.

[2020-08-27 07:20] wjhuang2016 opened #19521 "find_in_set is not compatible with MySQL"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
select find_in_set('b', 'a,b ,b'); /* use general_ci */

In MySQL, got 3. But in TiDB, got 2.
Because MySQL does not consider padding here, but TiDB does.

### 4. What is your TiDB version? (Required)

mastert

## SIG slack channel
[#sig-exec](https://slack.ti

[2020-08-27 07:22] time-and-fate commented on #19492
/label sig/execution

[2020-08-27 07:22] breeswish commented on #16147
@qw4990 The stackinfo is available in  https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_integration-copr-test/detail/tikv_ghpr_integration-copr-test/3553/pipeline/

[2020-08-27 07:27] time-and-fate commented on #19499
/label sig/execution

[2020-08-27 07:28] SunRunAway opened #19524 "cannot select session scope ScopeNone variable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-08-27 07:30] time-and-fate commented on #19512
/label sig/execution

[2020-08-27 07:39] tiancaiamao commented on #18032
## Proposal Doc

https://github.com/pingcap/tidb/blob/master/docs/design/2020-08-04-global-index.md

## Motivation

TiDB claimed to be MySQL compatible, and it also inherit some of MySQL's constraints.
MySQL does support global index for partition table.

This becomes a obstacle and hinder the non-mysql user (such as Oracle) from migrating to TiDB.

Support global index for partitioned table could

[2020-08-27 07:39] tiancaiamao commented on #18032
@zhangjinpeng1987

[2020-08-27 07:40] #18740 closed

[2020-08-27 07:55] #17247 closed

[2020-08-27 07:55] crazycs520 commented on #17363
@lysu, this should be fixed after https://github.com/pingcap/tidb/pull/19176

[2020-08-27 07:57] fzhedu commented on #17351
following error cases:

[code]

[code]

[2020-08-27 07:58] bb7133 commented on #17460
[code]
The value is expected because of the cache: https://docs.pingcap.com/tidb/stable/auto-increment#concept

[code]
Looks that the error message should be refined.

[2020-08-27 08:11] Yisaer commented on #19443
Sure, please assign to me @SunRunAway

[2020-08-27 08:11] #17363 closed

[2020-08-27 08:15] fzhedu commented on #17351
should treat items in LEAST() as string instead of numbers.
[code]

[2020-08-27 08:24] Yisaer commented on #19443
/assign

[2020-08-27 08:45] sre-bot opened #19530 "pessimistic_test.go:testPessimisticSuite.TestOptimisticConflicts failed"
pessimistic_test.go:testPessimisticSuite.TestOptimisticConflicts

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/48100/display/redirect

[2020-08-27 08:49] SunRunAway opened #19532 "INSERT IGNORE is too slow"
## Performance Questions

- What version of TiDB are you using?

- What's the observed and your expected performance respectively?

## Development Task

INSERT IGNORE from a table of 300,000 rows,

[code]
And we got the following slow query log.
![image](https://user-images.githubusercontent.com/867381/91382035-6016db00-e85b-11ea-8935-23d6fb85e915.png)

And investigated this problem by using go pr

[2020-08-27 08:50] tiancaiamao opened #19533 "Regression test for table partition cases"
## Development Task

After https://github.com/pingcap/tidb/pull/18981, we have to regression test for table partition [cases](https://internal.pingcap.net/jira/issues/?jql=cf%5B11712%5D%20%3D%20PartitionTable%20).

- [ ] [TICASE-1958](https://internal.pingcap.net/jira/browse/TICASE-1958)
- [ ] [TICASE-1959](https://internal.pingcap.net/jira/browse/TICASE-1959)
- [ ] [TICASE-1960](https://internal.

[2020-08-27 08:52] #17063 closed

[2020-08-27 09:07] tiancaiamao commented on #19533
@imtbkcat  @lysu

[2020-08-27 09:08] lysu commented on #19161
[code]

same question on master using old impl

[2020-08-27 09:08] fzhedu opened #19534 "Expression: errors from comparing different data types"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!
Test case sources are available in https://github.com/tikv/copr-test/tree/master/push-down-test/prepare

Root Cause: maybe due to infer errors like https://github.com/pingcap/tidb/issues/17994
https://github.com/pingcap/tidb/issues/18921

### 1. Minimal reproduce step (Required)
create database expr;

[2020-08-27 09:09] zz-jason commented on #18033
It's like the strong read and stale read in Cloud Spanner:

See the document for more detail: [Replication | Cloud Spanner](https://cloud.google.com/spanner/docs/replication)

[2020-08-27 09:11] fzhedu commented on #17351
The order error in this issue cannot be reprocuced, but I find many errors from expression computation, which are concluded in https://github.com/pingcap/tidb/issues/19534

[2020-08-27 09:11] lysu commented on #19161
it caused by column pruning logic above union all operator.

for example schema is  c1, c2 but use condition c2 can be pruned in selection

[code]
but currently it only can prune `c2` from `Scan(p1)`

[2020-08-27 09:49] #19374 closed

[2020-08-27 09:50] rebelice opened #19537 "The histogram has wrong and unstable boundaries when use `Analyze` for table column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
The result is unstable. May be one of the following.
[code]
[code]
Other situations are not listed one by one.

### 3. What did you see instead (Required)
The Lower_Bound is 0 and Upper_Bound is 3 after merging all.

###

[2020-08-27 09:51] rebelice commented on #19537
/label component/statistics

[2020-08-27 10:19] crazycs520 commented on #19512
@jyz0309 PTAL

[2020-08-27 10:58] qw4990 commented on #19537
In this case, there should be 2 buckets with bounds `[0, 0]` and `[1, 3]`.

[2020-08-27 10:59] SunRunAway commented on #19532
@cfzjywxk @zhangjinpeng1987 PTAL

[2020-08-27 11:33] eurekaka commented on #13758
A minimal reproduction step:

[code]

Note that, if we directly use `SELECT (SELECT a FROM t1 WHERE b >= t2.a order by a limit 1) AS field FROM t2;`, it would produce wrong result firstly, after several seconds, it would produce correct results. The reason is that the plan is `IndexLookUp` instead of `TableScan` for the first several executions, and after the stats delta has been dumped, the plan

[2020-08-27 11:33] #13758 closed

[2020-08-27 11:37] SunRunAway opened #19538 "Check Transparent Huge Pages(THP) on start and on deploy"
## Feature Request

**Is your feature request related to a problem? Please describe:**

1. We need documentation describing how to disable the THP, like https://docs.mongodb.com/manual/tutorial/transparent-huge-pages/#using-tuned-and-ktune
2. TiUP should warn or fatal when deploying TiDB if THP is enabled
3. tidb-server should warn on start, if THP is enabled

**Describe the feature you'd like:**

[2020-08-27 11:41] zz-jason commented on #19538
I think we should backport this check to the current release branches.

[2020-08-27 11:42] SunRunAway opened #19539 "statement summary hurts sysbench's perfomance"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/867381/103128025-af1c3200-46ce-11eb-818d-4f61da09615b.png)

sysbench oltp_point_select 512 * 3 thread, the performance decreases a lot

<img width="1869" alt="企业微信截图_6d5f0fc1-6b21-407c-b2c0-218c079bc6a1" src="https://user-i

[2020-08-27 11:42] SunRunAway commented on #19539
@djshow832 PTAL

[2020-08-27 12:05] tiancaiamao commented on #16329
I found what they have in common is that this CI fail all happens on the 3.X branch.

[2020-08-27 12:09] Yisaer commented on #19443
After adding the debug log and investigating, I found that the data race visting is around the `Region.Meta` in `mocktikv` package.

The writing goroutine and reading goroutine are all created by the following codes:
[code]

In most cases, each batch in the batches have the different regionID. If there existed multiple batch in the batches have the same regionID, it will cause the data race in thi

[2020-08-27 12:37] time-and-fate commented on #19507
/label sig/execution

[2020-08-27 12:40] time-and-fate commented on #19517
/label sig/execution

[2020-08-27 12:42] #19450 closed

[2020-08-27 12:42] #19161 closed

[2020-08-27 12:43] time-and-fate commented on #19521
/label sig/execution

[2020-08-27 12:45] time-and-fate commented on #19530
/label sig/transaction

[2020-08-27 12:46] time-and-fate commented on #19534
/label sig/execution

[2020-08-27 13:00] sre-bot opened #19548 "db_test.go:testDBSuite1.TestAddPrimaryKeyRollback2 failed"
db_test.go:testDBSuite1.TestAddPrimaryKeyRollback2

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/48154/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/46819/display/redirect

[2020-08-27 13:00] sre-bot opened #19549 "db_test.go:testDBSuite5.TestAlterPrimaryKey failed"
db_test.go:testDBSuite5.TestAlterPrimaryKey

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/48208/display/redirect

[2020-08-27 13:37] cyliu0 opened #19550 "field() return wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
On MySQL:
[code]

### 3. What did you see instead (Required)
On TiDB:
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-08-27 13:38] cyliu0 commented on #19550
@jebter @aytrack Plz check this issue. Found by an internal test case TICASE-1582

[2020-08-27 14:35] wjhuang2016 commented on #19550
@cyliu0 Did you check new_collation_enabled?
mysql> select * from mysql.tidb;
+-----------------------+----------------+----------------------------------------------------+
| VARIABLE_NAME         | VARIABLE_VALUE | COMMENT                                            |
+-----------------------+----------------+----------------------------------------------------+
| bootstrapped          | True

[2020-08-27 16:07] tiancaiamao commented on #19263
@wjhuang2016   I remember you mentioned that PD fail to start is caused by port conflict?
So that fix also address this issue?

[2020-08-27 16:51] wjhuang2016 commented on #19263
It's not caused by port conflict. I think this problem was fixed by https://github.com/pingcap/tidb/pull/19382

[2020-08-27 18:03] nullnotnil commented on #19532
See https://github.com/pingcap/tidb/issues/18718 for a potential optimization to remove point-get phase.

[2020-08-27 18:19] nullnotnil commented on #19417
@cberescu Thanks for the update. Pessimistic is a better fit when you have this many conflicts.

With optimistic, it is more expensive in the case of a conflict because it actually incurs the cost of making the changes before discovering the conflict. Pessimistic acquires the locks before attempting to make the changes, and if it doesn't acquire the lock it won't make the change (which should be c

[2020-08-28 00:21] yiwu-arbug commented on #18262
Implementation ongoing, 20% progress.

[2020-08-28 02:01] Patrick0308 commented on #19524
Let me fix it.

[2020-08-28 02:25] nullnotnil commented on #7973
Verifying this against master (and confirming MySQL behavior - which would show impossible WHERE if it could optimize this. It looks like it does not either):

[code]

TiDB:
[code]

MySQL:
[code]

See https://github.com/pingcap/tidb/issues/17786 , https://github.com/pingcap/tidb/issues/19067 and https://github.com/pingcap/tidb/issues/10497 for other cases where an impossible where is not discovere

[2020-08-28 02:29] nullnotnil commented on #10931
I am going to suggest closing this as won't fix, since the MySQL 8.0 error message is more informative. We can revisit if it proves to be a major compatibility problem. Thanks!

[2020-08-28 02:29] #10931 closed

[2020-08-28 02:30] nullnotnil commented on #11115
Starting with TiDB 3.0, the cache size is configurable. See docs; https://docs.pingcap.com/tidb/stable/auto-increment#cache-size-control

I am going to close this issue as stale, but please feel free to re-open if you have additional questions. Thanks!

[2020-08-28 02:30] #11115 closed

[2020-08-28 02:39] cyliu0 commented on #19550
No... I didn't find the configuration described in the precondition of the case. After I enabled it, the case works fine. I'll close this one. And can we update the precondition of TICASE-1582? @jebter @aytrack

[2020-08-28 02:39] #19550 closed

[2020-08-28 02:40] zimulala commented on #2285
There are no plans at present @qw4990

[2020-08-28 03:03] eurekaka commented on #19041
It looks like a data race when BatchPointGet is executed in multi-thread context. You can enable `-race` flag when building tidb-server, and then try the reproduction again.

[2020-08-28 03:30] shuke987 commented on #17919
Change the priority to P2 for can not reproduce it in our environment,.

[2020-08-28 03:32] nullnotnil commented on #17779
I believe this issue has been fixed. @AndrewDi @kennytm can you confirm?

Here is what I attempted to reproduce -

Create an initial test dataset:
[code]

Backup first with SQL interface:
[code]

Then I validated with the command line version:
[code]

[2020-08-28 03:35] bobotu opened #19560 "Unbounded memory usage of `BatchGet`'s cache"
## Bug Report

The internal cache used by `BatchGet` need a size limit, it is OK to randomly discard some entry in it.

### 1. Minimal reproduce step (Required)
Start a transaction, do a lot of batch get.

### 2. What did you expect to see? (Required)
Low memory usage.

### 3. What did you see instead (Required)
Unbounded memory usage.

![图片](https://user-images.githubusercontent.com/15031522/9151

[2020-08-28 03:53] #9296 closed

[2020-08-28 04:11] #1109 closed

[2020-08-28 04:13] #15590 closed

[2020-08-28 04:34] nullnotnil commented on #1109
It's not clear by the tags, was the intention to accept or reject this feature?

[2020-08-28 04:44] time-and-fate commented on #19549
/label sig/ddl

[2020-08-28 04:45] time-and-fate commented on #19548
/label sig/ddl

[2020-08-28 04:53] nullnotnil commented on #13808
Particularly in cloud environments, it's typical to have a load balancer in front of TiDB. What might be a more practical way to prevent connections breaking is to add a graceful shutdown which works as follows:

- The load balancer uses the status port to check for health.
- On issuing `SHUTDOWN GRACEFULLY`, TiDB immediately reports itself as unhealthy (but still accepts connections, and behaves

[2020-08-28 06:19] scsldb commented on #18038
We need to investigate the user scenario in depth, and then make a decision after the research is completed.

[2020-08-28 06:25] scsldb commented on #1895
We need to investigate the user scenario in depth, and then make a decision after the research is completed.

[2020-08-28 06:25] lzmhhh123 commented on #17803
It can't be reproduced on the master branch and release-4.0 branch. So I close it.

[2020-08-28 06:25] #17803 closed

[2020-08-28 06:30] zhangysh1995 commented on #18525
@ichn-hu  I had a look at MySQL's source code [here](https://github.com/mysql/mysql-server/blob/f8cdce86448a211511e8a039c62580ae16cb96f5/sql/item_cmpfunc.cc#L2727):

I think there maybe something wrong with the implementation, the following behavior is not given in the documentation:

[code]

[2020-08-28 06:33] zz-jason opened #19569 "add `digest` attribute to `information_schema.processlist` table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, users can kill a connection that executes an expensive query via the `kill` command. But there might be other connections executing that same expensive query as well. To find these connections, we have to do a pattern match on the query SQL, which is not accurate. A better way is to find all the con

[2020-08-28 06:33] scsldb commented on #17514
Difficult to implement technology, no solution yet.

We need to sort out the missing JSON features and optimization levels before we continue the discussion.

[2020-08-28 06:40] scsldb commented on #1109
GPL V3 licenses are at risk and cannot be supported at this time.

[2020-08-28 06:43] wjhuang2016 commented on #19495
Closed by https://github.com/pingcap/tidb/pull/19484

[2020-08-28 06:43] #19495 closed

[2020-08-28 06:45] scsldb commented on #6347
We need to investigate the user scenario in depth, and then make a decision after the research is completed.

[2020-08-28 06:47] time-and-fate commented on #18700
I failed to reproduce it on both f5c6e59 and current master branch.

[2020-08-28 06:48] scsldb commented on #17527
Short to medium term aggregation on relational databases, no plans yet.

[2020-08-28 06:50] scsldb commented on #6459
Short to medium term focus on MySQL compatibility, no plans yet.

[2020-08-28 06:50] scsldb commented on #19520
We need to investigate the user scenario in depth, and then make a decision after the research is completed.

[2020-08-28 06:50] scsldb commented on #18731
We need to investigate the user scenario in depth, and then make a decision after the research is completed.

[2020-08-28 07:05] ichn-hu commented on #18525
I've also checked the implementation, and MySQL uses linear scan when there is null value in the arguements, the behavior is indeed undefined, but it is reasonable when linear search is employed, I will also implement the linear search logic in TiDB.

[2020-08-28 07:12] zhangysh1995 commented on #18525
I reported it as a bug to MySQL, and it is verified now. See [bug 100670](https://bugs.mysql.com/bug.php?id=100670)

[2020-08-28 07:16] zyguan commented on #19423
[code]
Found similar problem when using `<> all` (an alias of `not in`). @eurekaka

[2020-08-28 07:19] zimulala opened #19571 "Supports transitions between the same type (String types)"
### Description

Supports transitions between the same types, including unsigned transitions.

### Value

- Support conversion between String types
    + The CHAR and VARCHAR Types
    + The BINARY and VARBINARY Types
    + The BLOB and TEXT Types
    + The ENUM Type
    + The SET Type

[2020-08-28 07:20] eurekaka commented on #19423
@zyguan hmmm, that is another code path of generating anti-semi-join. I will fix this later.

[2020-08-28 07:20] hicqu commented on #9604
It's resolved. `batchSendLoop` will return if its source channel is closed.

[2020-08-28 07:24] time-and-fate commented on #13150
/assign time-and-fate

[2020-08-28 07:31] #9604 closed

[2020-08-28 07:36] ChenPeng2013 opened #19572 "TIDB_INLJ and INL_HASH_JOIN may return runtime error"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
infinite loop the query sqls
[code]
### 4. What is your TiDB version? (Required)

master
[code]

## SIG slack channel
[#sig-exec](https://slack.tidb.io/in

[2020-08-28 07:43] eurekaka commented on #17812
Looks like we cannot support converting a `decimal` type column to `int` type without modifying the underlying data, otherwise the decoder would not work as expected.

[code]

@zimulala PTAL

[2020-08-28 07:44] eurekaka commented on #17812
A minimal repro:

[code]

[2020-08-28 07:47] cberescu commented on #19041
Hey guys,

I have let the query where i found the issue to be processed by tidb for the last 48h and i did not see for the error to appear again. So it seems maybe there was a fix between version 4.0.0 and 4.0.3

I will anyway keep it running like this for the time being.

[2020-08-28 07:58] IANTHEREAL commented on #11916
TiDB has the function `ConstructResultOfShowCreateTable`

duplicate of https://github.com/pingcap/tidb/issues/15795

[2020-08-28 07:58] #11916 closed

[2020-08-28 07:59] 5kbpers commented on #11916
@zz-jason @scsldb  For now we do create table/db by constructing a create sql, and seems not any problem while we integrate to tidb, this issue will be closed.

[2020-08-28 08:00] ichn-hu commented on #19041
Could you try @eurekaka 's suggestion, by rebuilding the tidb-server with `-race` flag and then continue the reproduction?

[2020-08-28 08:05] blacktear23 commented on #19479
@SunRunAway this test case fail on `TestTablesLockDelayClean` not `TestIfNotExists` please fix issue title.

[2020-08-28 08:09] IANTHEREAL commented on #9132
dm do it

[2020-08-28 08:09] #9132 closed

[2020-08-28 08:09] blacktear23 commented on #19480
I will fix this.

[2020-08-28 08:09] blacktear23 commented on #19479
I will fix this.

[2020-08-28 08:09] blacktear23 commented on #19481
I will fix this.

[2020-08-28 08:15] qw4990 commented on #17779
Please help us confirm if this issue is fixed @overvenus .

[2020-08-28 08:23] overvenus commented on #17779
It's fixed.

[2020-08-28 08:24] #17779 closed

[2020-08-28 08:31] cberescu commented on #19041
Hey @ichn-hu unfortunately i do not know how to do that, i used the tiup to deploy the cluster. Is this something i can do with it?  If you have a documentation about how i can do it i can deploy a instance with the flag set and send all traffic to it.

[2020-08-28 08:33] SunRunAway commented on #19479
Thanks. Fixed.

[2020-08-28 08:54] ichn-hu commented on #19041
Hi eurekaka, would you please elaborate for @cberescu ?

[2020-08-28 09:04] SunRunAway opened #19579 "Support select for update WAIT"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Example:

[code]

From https://docs.oracle.com/en/database/oracle/oracle-database/20/sqlrf/SELECT.html#GUID-CFA006CA-6FF1-4972-821E-6996142A51C6

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-28 10:27] rebelice commented on #19537
This is caused by sampling before sorting, but in fact, we can get a stable upper and lower bound by scanning before sampling. I don't know if it makes sense. Do you have any ideas about it? @qw4990

[2020-08-28 10:28] rebelice commented on #19537
If it doesn't make sense, I will close this issue.

[2020-08-28 11:08] zyguan opened #19585 "A row got updated twice by one update statement"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master @ b0c3fe7ba3acf8864709c825af681e5b35a111f2

[2020-08-28 11:09] zyguan commented on #19585
/assign @tiancaiamao

[2020-08-28 11:46] #16069 closed

[2020-08-28 12:54] #18878 closed

[2020-08-28 13:21] fouzhe opened #19589 "Why `go get github.com/pingcap/tidb/store` failed"
## General Question

Hi, all!
Why `go get github.com/pingcap/tidb/store` failed?
Thanks for your time!

[2020-08-28 13:24] fouzhe commented on #19589
https://oss-fuzz-build-logs.storage.googleapis.com/log-8ac2ecff-a4ab-4a0f-a85a-b8b00862cdb9.txt

[2020-08-28 13:50] time-and-fate commented on #19572
/label sig/execution

[2020-08-28 14:53] nullnotnil commented on #14448
Updating to match the severity of https://github.com/pingcap/tidb/issues/19383 (a similarly unsafe parse but ignore issue).

[2020-08-28 15:54] nullnotnil commented on #1895
As @kennytm notes, the use-case is not for lightning, but could be used for DM.

Because of SQL modes, timezones, character sets logical restores could corrupt data (even if TiDB is ostensibly behaving correctly). `CHECKSUM TABLE` provides a way of logically comparing two systems as having the same data.

MySQL users often use it during upgrades (MySQL <-> MySQL), for example logically dumping a 5

[2020-08-28 15:55] nullnotnil commented on #1895
This is a different type of checksum (page checksums on the physical format). It is not related to `CHECKSUM TABLE`. The manual does not explicitly state the format.

[2020-08-28 17:43] wjhuang2016 commented on #17769
Already fixed in release 4.0 and master.

[2020-08-28 17:43] #17769 closed

[2020-08-28 18:09] #13736 closed

[2020-08-28 18:26] nullnotnil commented on #19579
Note that this syntax is not offered by MySQL, but it is [in MariaDB](https://mariadb.com/kb/en/wait-and-nowait/). MySQL can achieve similar with a hint, although it applies to  `SELECT` statements only. This should work with TiDB too, but it looks like there is a bug:

Session 1:
[code]
Session 2:
[code]

In MySQL, session 2 will generate an error after 1000ms:
[code]

This doesn't work in TiDB.

[2020-08-28 19:21] nullnotnil commented on #18731
See https://brandur.org/fragments/ttl-indexes and https://docs.mongodb.com/manual/core/index-ttl/ for another implementation type. This makes it an index property rather than a table property.

[2020-08-29 01:33] bb7133 commented on #17812
Changing `DECIMAL` to `INT` is actually not supported. The bug is about a missing error check.

[2020-08-29 03:30] #14237 closed

[2020-08-29 05:17] mmyj commented on #19369
pick `value agg functions`

[2020-08-29 08:59] zz-jason commented on #9096
It's better to higher the priority to fix this issue: https://mp.weixin.qq.com/s/tYXLGXMfHm4f07NmJCy8Mg

[2020-08-29 14:51] #17809 closed

[2020-08-30 01:35] #18791 closed

[2020-08-30 03:43] nullnotnil commented on #18378
I believe this is a duplicate of https://github.com/pingcap/tidb/issues/14148

There are a few ways to implement this, my preference would be via an admin-only port.

[2020-08-30 03:45] nullnotnil commented on #17875
This is a duplicate of https://github.com/pingcap/tidb/issues/9411

[2020-08-30 04:21] wjhuang2016 opened #19595 "`alter table t add column c int auto_random;` successes"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Can't add an auto_random column
### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master

[2020-08-30 07:51] breeswish opened #19596 "Illegal alter table input breaks the partition table totally"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Throw error when executing alter table.

### 3. What did you see instead (Required)

TiDB connection is crashed when executing alter table.

TiDB respond `ERROR 1105 (HY000): strconv.ParseInt: parsing "`a`": invalid syn

[2020-08-30 09:10] time-and-fate commented on #19589
Hi~

We use Go modules to manage dependency now, which means a `go.mod` file is used to declare module path and dependencies.

If you're using Go modules and want to add `github.com/pingcap/tidb/store` to dependencies, you can try `GO111MODULE=on go get github.com/pingcap/tidb/store@master`.
If you just want to get the source code, you can clone this repo directly.

[2020-08-30 12:28] fouzhe commented on #19589
@time-and-fate Thank you so much! :)

[2020-08-30 12:29] #19589 closed

[2020-08-30 12:32] nathan-gao opened #19598 "Performance enhance possiblity"
## Performance Questions

I am using TiDB 4.04  and I think I have observed two performance bottlenecks. I have used sysbench(32 tables, 100000 lines data, point select test）to test the performance and generate flame graphs as follows.
![img1](https://user-images.githubusercontent.com/62699642/91658876-8dcf7e80-eafe-11ea-857e-aa2bb15ea8df.png)

I think the efficiency of
[code]
might have some way

[2020-08-30 13:38] zhangjinpeng1987 commented on #18616
@scsldb They are different if there are several columns that need to retrieve or the value of these columns is large.  Add columns to index means these columns will be encoded to the index key(large keys are not friendly to the storage engine), but if storing columns, these columns will be stored in the value.

@zz-jason https://www.cockroachlabs.com/docs/stable/indexes.html#storing-columns

[2020-08-30 13:59] LebronAl opened #19599 "Performance enhance about statistics's lock"
Hi, I'm using `tiup cluster deploy tidb-test nightly ./topology.yaml` to deploy TiDB cluster, and I'm using sysbench(oltp_write_only, 32 tables, 30000 rows) to test the performance of TiDB today.
![image](https://user-images.githubusercontent.com/32640567/91661009-f3763780-eb0b-11ea-87ed-d1a6298fdba9.png)
During the benchmark, I found a bottleneck about statistics's lock.
As you can see below, the

[2020-08-30 14:04] LebronAl commented on #19599
It seems that I don't have the authority to specify the label for this issue. Could someone help me put the label `type/performance` on ?

[2020-08-30 14:45] time-and-fate commented on #19599
/label type/performance

[2020-08-31 02:51] time-and-fate commented on #19596
/label sig/ddl

[2020-08-31 03:00] time-and-fate commented on #19560
/label sig/transaction

[2020-08-31 03:28] nullnotnil commented on #17875
I took a look at the "easy way to implement this", and it does indeed work. So I have created a PR in https://github.com/pingcap/tidb/pull/19603

I will leave https://github.com/pingcap/tidb/issues/9411 open as a request to actually implement `caching_sha2_password`, which has its own security merits.

[2020-08-31 03:41] wjhuang2016 commented on #18949
/assign

[2020-08-31 03:45] coocood opened #19604 "Add cost columns for table performance_schema.events_statements_summary_by_digest"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In many scenarios, the latency is mostly caused by waiting, it doesn't reflect the resource cost on the cluster.
If we want to optimize the cluster performance, we need to identify the statements that consume the most resource.

**Describe the feature you'd like:**
Add `sum_cost`, `avg_cost`, `max_cost` columns

[2020-08-31 03:50] zz-jason commented on #19604
`cost` may confuse the users with `executon plan cost`, do you have a better name?

[2020-08-31 03:51] zz-jason commented on #19604
can we display `read rows`, `write rows`, and `number of requests` separately instead of aggregating them to `cost`?

[2020-08-31 03:52] coocood commented on #19604
We need a property to order the statements, separate them doesn't work for this requirement.

[2020-08-31 03:56] coocood commented on #19604
How about `expense`?

[2020-08-31 04:09] nullnotnil commented on #19604
I think `expense` still makes users think it is from the cost-based optimizer. Can it be `row_requests` or `rows_accessed`?

[2020-08-31 04:11] coocood commented on #19604
There are many kinds of resource usage, we can not ignore them and use just rows.
Scan 1000 rows costs much less than 100 requests each only access one row.