[2020-10-27 08:52] qw4990 opened #20676 "display row width in results of explain statements"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Since one part of our cost model is `estRows * rowWidth * scanFactor`, the parameter `rowWidth` has an impact on the cost, but now TiDB only displays `estRows` when processing `explain`, which may confuse users in some cases, for example:
[code]

As shown above, `PK` has a better selectivity with `estRows=1` th

[2020-10-27 08:54] qw4990 commented on #20676
@SunRunAway @eurekaka @zz-jason What're your opinions?

[2020-10-27 08:55] cyliu0 opened #20677 "Unable to query system tables from information_schema.table_storage_stats"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Statistics information for system table mysql.tidb

### 3. What did you see instead (Required)
No information displayed

### 4. What is your TiDB version? (Required)

[code]

[2020-10-27 09:00] #19971 closed

[2020-10-27 09:21] ichn-hu commented on #20460
/unlabel sig/execution

[2020-10-27 09:21] ichn-hu commented on #20460
/label sig/planner

[2020-10-27 09:22] crazycs520 opened #20678 "Support list (columns) partition table"
## Development Task

### feature development

- [x] [P1] Support create list partition table  #20279
- [x] [P1]  Support DML(insert/update/delete) on list partition table #20279
    - [x] add more test #20635
- [x] [P1]  Support add/drop partition DDL on list partition table #20631
- [x] [P1]  Support show create table on list partition table #2063
- [x] [P1] Disable list partition by default. #22

[2020-10-27 09:36] #17942 closed

[2020-10-27 09:51] crazycs520 opened #20679 "Support default partition for list (columns) partition table"
## Feature Request

**Is your feature request related to a problem? Please describe:**

N/A

**Describe the feature you'd like:**

The default partition of list partition table is from [ORACLE](https://docs.oracle.com/database/121/VLDBG/GUID-8928C3B0-2F83-4213-B765-EFBBF0372F64.htm), MYSQL doesn't support this, but it is a very useful feature.

Here is an example, I want to create a list partition

[2020-10-27 09:57] crazycs520 commented on #20679
@zz-jason PTAL

[2020-10-27 10:25] eurekaka commented on #20666
https://github.com/pingcap/tidb/pull/20665 closes this issue.

[2020-10-27 10:25] #20666 closed

[2020-10-27 10:45] csuzhangxc commented on #18048
ping anyone

[2020-10-27 11:06] ichn-hu commented on #20139
/unlabel sig/execution

[2020-10-27 11:06] ichn-hu commented on #20139
/label sig/planner

[2020-10-27 11:16] ichn-hu commented on #20124
will be closed by https://github.com/pingcap/tidb/pull/20127

[2020-10-27 11:16] ichn-hu commented on #20124
/assign @SunRunAway

[2020-10-27 11:16] ichn-hu commented on #20124
/assign @SunRunAway

[2020-10-27 11:18] ichn-hu commented on #18910
/assign @SunRunAway

[2020-10-27 11:20] ichn-hu commented on #18976
Hi @heidawei , could you please privide more details on this bug? E.g. example SQLs to reproduce it?

Moreover, can you still reproduce this bug on current master?

[2020-10-27 11:30] Yisaer commented on #20448
assign "Add a new Session variable tidb_txn_scope to dispatch the Local/Global Transactions."

[2020-10-27 11:34] SunRunAway commented on #20547
@lzmhhh123 PTAL

[2020-10-27 11:37] SunRunAway commented on #20229
@bb7133 PTAL

[2020-10-27 11:43] SunRunAway commented on #8854
Reopen it.
It has a second step to support a 32-bit connection id and @pingyu will continue to work on it.

[2020-10-27 11:50] #20579 closed

[2020-10-27 12:10] #14467 closed

[2020-10-27 12:21] SunRunAway commented on #20651
Tips: https://github.com/pingcap/tidb/issues/9244#issuecomment-686237166

[2020-10-27 12:21] SunRunAway commented on #9244
Duplicate of #20651

[2020-10-27 12:21] #9244 closed

[2020-10-27 12:22] qw4990 commented on #20651
Thanks, @SunRunAway . Here is [a demo version of this feature](https://github.com/pingcap/tidb/compare/master...SunRunAway:shuffle-sort-agg), PTAL @JinLingChristopher

[2020-10-27 12:36] JinLingChristopher commented on #20651
thanks for your work, I would help me a a lot.

[2020-10-28 01:09] LENSHOOD opened #20684 "Support conversion from String types to bit"
## Description
### Background
In the closed #19971, there's a remaining problem about string types cannot convert to bit because of the Datum.convertToMysqlBit() implementation incompatible with MySQL.

### Problem
The Datum.convertToMysqlBit() will treat "1" as ascii 0x31, then lead to data truncate error. But MySQL can cast "1" to 0x01.

### Solution
Try to optimize the Datum.convertToMysqlBit()

[2020-10-28 01:43] LENSHOOD opened #20685 "Support conversion from Enum/Set types to date time types"
## Description
### Background
In the closed #19971, there's a remaining problem about enum/set types cannot convert to date time types because of the Datum.convertToMysqlSet() and Datum.convertToMysqlEnum() are not implement such conversion logic.

### Problem
The Datum.convertToMysqlSet() and Datum.convertToMysqlEnum() are not implement conversion from enum/set to date time types.

### Solution
T

[2020-10-28 02:45] seiya-annie commented on #20601
/info

[2020-10-28 02:58] SunRunAway commented on #20574
@rebelice PTAL

[2020-10-28 03:00] rebelice commented on #20574
/cc @rebelice

[2020-10-28 03:01] SunRunAway commented on #20574
/assign @rebelice

[2020-10-28 03:28] gejibin opened #20687 "Tidb supports the configuration of uploading original slow log files to s3"
User can set the following parameters：
1. set the slow log file size
2. set the number of days to keep files on s3 or the number of files to keep

[2020-10-28 03:36] #9384 closed

[2020-10-28 03:41] CadmusJiang opened #20688 "for test, don't need to process"
## General Question

[2020-10-28 03:45] CadmusJiang commented on #20688
/info

[2020-10-28 04:53] LENSHOOD commented on #19970
/pick-up

[2020-10-28 05:02] LENSHOOD commented on #20661
/pick-up

[2020-10-28 05:03] LENSHOOD commented on #20662
/pick-up

[2020-10-28 05:41] lzmhhh123 commented on #20280
miss close issue

[2020-10-28 05:41] #20280 closed

[2020-10-28 05:44] lzmhhh123 commented on #19864
@elvizlai the statement `in (...)` is not correct. You'd better add values in it.

[2020-10-28 05:44] #19864 closed

[2020-10-28 06:04] #19912 closed

[2020-10-28 06:08] #20446 closed

[2020-10-28 06:09] #20688 closed

[2020-10-28 06:27] #18748 closed

[2020-10-28 06:34] lzmhhh123 commented on #8258
can't reproduce.

[2020-10-28 06:34] #8258 closed

[2020-10-28 06:38] lzmhhh123 commented on #6933
confirm it has been supported:

[code]

[2020-10-28 06:38] #6933 closed

[2020-10-28 07:56] #20255 closed

[2020-10-28 08:03] you06 opened #20692 "Update statement not blocked by primary or unique lock"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Prepare table.

[code]

In **RR** isolation level.

|  txn1   | txn2  | txn3 |
|  ----  | ----  | ----  |
| begin;  | begin; | begin; |
| delete from t where id = 1 and v = 1 and vv = 1; | | |
| | insert into t values(1, 2, 3, 4); -- block | |
| | | update t

[2020-10-28 08:20] djshow832 commented on #14984
It's implemented, so close it.

[2020-10-28 08:20] #14984 closed

[2020-10-28 08:27] tangenta commented on #17270
@Abingcbc Sorry for the late reply.

There is no standard about the error message. Let's set it to
[code]

[2020-10-28 08:31] seiya-annie commented on #20579
/info

[2020-10-28 08:32] seiya-annie commented on #20666
/info

[2020-10-28 08:33] seiya-annie commented on #20507
/info

[2020-10-28 08:34] seiya-annie commented on #20450
/info

[2020-10-28 08:37] seiya-annie commented on #19912
/info

[2020-10-28 08:38] seiya-annie commented on #19864
/info

[2020-10-28 08:39] seiya-annie commented on #17942
/info

[2020-10-28 08:40] seiya-annie commented on #17791
/info

[2020-10-28 09:16] #17791 closed

[2020-10-28 09:50] seiya-annie commented on #20280
/info

[2020-10-28 11:04] TszKitLo40 commented on #20245
/pick-up

[2020-10-28 11:06] #19475 closed

[2020-10-28 11:28] cfzjywxk commented on #20692
The delete statement will try to lock the handleKey because the unique index has found index value. The insert statement will try to insert with the same handle key as the `delete` statement, so it's blocked. The update statement try to use the unique key to get but get nothing, so it just locks the non-exist index key with value `1, 2, 3`, thus it's not blocked.
If we change the update point get

[2020-10-28 11:28] ChenPeng2013 opened #20698 "DECIMAL value is out of range in '(4, 0)'"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

## SIG slack channel

 [#sig-exec](https://slack.tidb.io/invite?team=tidb-community&channel=sig

[2020-10-28 11:33] zz-jason commented on #20684
@LENSHOOD no need to create feature requests related to column type change since https://github.com/pingcap/tidb/issues/19939 is accepted. Please create these issues as development tasks instead.

[2020-10-28 11:34] zz-jason commented on #20685
@LENSHOOD no need to create feature requests related to column type change since https://github.com/pingcap/tidb/issues/19939 is accepted. Please create these issues as development tasks instead.

[2020-10-28 11:35] LENSHOOD commented on #20684
Got it, thx.

[2020-10-28 11:47] LENSHOOD opened #20700 "Support conversion from String types to bit"
## Development Task
### Background
In the closed #19971, there's a remaining problem about string types cannot convert to bit because of the Datum.convertToMysqlBit() implementation incompatible with MySQL.

### Problem
The Datum.convertToMysqlBit() will treat "1" as ascii 0x31, then lead to data truncate error. But MySQL can cast "1" to 0x01.

### Solution
Try to optimize the Datum.convertToMysql

[2020-10-28 11:47] #20684 closed

[2020-10-28 11:48] LENSHOOD opened #20701 "Support conversion from Enum/Set types to date time types"
## Development Task
### Background
In the closed #19971, there's a remaining problem about enum/set types cannot convert to date time types because of the Datum.convertToMysqlSet() and Datum.convertToMysqlEnum() are not implement such conversion logic.

### Problem
The Datum.convertToMysqlSet() and Datum.convertToMysqlEnum() are not implement conversion from enum/set to date time types.

### Solut

[2020-10-28 11:48] #20685 closed

[2020-10-28 12:03] zz-jason commented on #20679
I noticed that there is a worklog in MySQL which discusses to support the `default` list partition: [WL#5781: DEFAULT/catch-all partition for LIST partitioning](https://dev.mysql.com/worklog/task/?id=5781), the feature request in MySQL is [Bug #50566](https://bugs.mysql.com/bug.php?id=50566).

The Syntax is like Oracle:

[code]

Please note:

[2020-10-28 12:03] zz-jason commented on #20679
@crazycs520 I think it's better to keep the MySQL syntax since we are claimed to be MySQL compatible. BTW, it's better to discuss only one feature request at one issue.

[2020-10-28 12:04] zz-jason commented on #20679
This feature request LGTM

[2020-10-28 12:08] zz-jason commented on #20662
@AilinKid no need to create feature requests related to column type change since https://github.com/pingcap/tidb/issues/19939 is accepted. Please create these issues as development tasks instead.

I'm going to remove this issue from the feature request list, let's treat it as a normal development task.

[2020-10-28 12:08] zz-jason commented on #20661
@AilinKid no need to create feature requests related to column type change since https://github.com/pingcap/tidb/issues/19939 is accepted. Please create these issues as development tasks instead.

I'm going to remove this issue from the feature request list, let's treat it as a normal development task.

[2020-10-28 12:09] dyzsr commented on #17748
/assign

[2020-10-28 12:16] #20245 closed

[2020-10-28 13:27] HuGanghui commented on #15328
I think this issue that is fixed can be closed.

[2020-10-29 01:59] ou-bing commented on #14765
/pick-up

[2020-10-29 02:59] TszKitLo40 commented on #9384
/pick-up

[2020-10-29 03:52] bb7133 commented on #20629
The description is impressive.

[2020-10-29 04:08] #18798 closed

[2020-10-29 04:08] #20535 closed

[2020-10-29 06:30] XuHuaiyu opened #20709 "add a metric for `Dump Information Before OOM`"
## Feature Request

**Is your feature request related to a problem? Please describe:**
After https://github.com/pingcap/tidb/issues/17095, we'll record the top10 sqls and heap profiles when memory usage exceeds 80% system memory.

**Describe the feature you'd like:**
For now, we can only read from the log to know if this action has been triggered.
I suggest to add a metric for this action to make

[2020-10-29 06:41] SunRunAway opened #20710 "Optimizer does not consider the cost of other condition in Index Join"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

SQL is
[code]
If Index Join is used, currently **_t1.a = t2.a_** is put in the equality condition, and **_t1.b = t2.b_** is put in other conditions. If the selectivity of **_t1.a = t2.a_** is high, there will be quite a lot of rows that need to be filtered with **_t

[2020-10-29 06:51] SunRunAway commented on #20710
One solution which need not change the cost model is
1. make all equal conditions in other condition into the join key of **_Index Join_** & **_Index Hash Join_**
2. drop **_Index Merge Join_** if there is any equal condition in other condition

/cc @lzmhhh123 @eurekaka @XuHuaiyu @qw4990 @zz-jason

[2020-10-29 07:08] #20254 closed

[2020-10-29 07:37] crazycs520 opened #20714 "record affect rows in actRows of DML plan."
## Feature Request

**Is your feature request related to a problem? Please describe:**

When I execute DML such as `insert`:

[code]

I will know the affected rows from the result of execution.

But when I use `explain analyze` to execute this sql:

[code]

I can't know the affected rows from the result of `explain analyze`, So I request to record the affected rows in the plan `actRows` field.

**

[2020-10-29 07:42] crazycs520 commented on #20714
@SunRunAway @qw4990 PTAL

[2020-10-29 07:58] seiya-annie commented on #20624
add sig/execute and sig/ddl label based on pr.
add severity/minor lable

[2020-10-29 08:49] jackysp opened #20716 "The result set should be ordered by primary key by default, like MySQL"
## Feature Request

**Is your feature request related to a problem? Please describe:**

MySQL's default storage engine, innodb, uses IOT to organize data, so when a table has a primary key, the result set of scanning the data should be ordered by primary key. TiDB doesn't obey this. Although MySQL does not promise that the data will always be ordered by the primary key, certain users have gotten u

[2020-10-29 08:54] jackysp commented on #20716
Need to cherry-pick to release-4.0. @SunRunAway @zz-jason

[2020-10-29 09:27] xiebin2015 opened #20717 "Tidb事务问题"
你好 PingCap团队，我尝试使用了TiDb试图测试下分布式事务，发现不起作用，望指正。
我搭建了一个TiDb的集群，
![image](https://user-images.githubusercontent.com/14512197/97549555-7da72300-1a0b-11eb-80c7-b7ac66ce9548.png)
写了个测试代码如图
![image](https://user-images.githubusercontent.com/14512197/97549686-a3342c80-1a0b-11eb-9f5d-50dd458f6722.png)
代码里面在第一个insert之后抛出异常，原本我期望的是数据库中不会新增记录，但事实上每次都新增了一条记录，了解到TiDb支持分布式事务，支持强一致性，请问是不是我哪里搞错了，请指教，谢谢

[2020-10-29 09:57] iosmanthus commented on #18811
Currently, this feature is almost done, but these pull requests are still pending to review.
- [x] https://github.com/pingcap/tidb/pull/20387/: Output `SQL`'s plan hints and digest to slow query log and statement summary. (99%)
	* 2 LGTM
	* Blocked by the merging of https://github.com/pingcap/tidb/pull/20675
- [x] https://github.com/pingcap/parser/pull/969: TiDB's parser supports new syntax for SP

[2020-10-29 10:07] #19549 closed

[2020-10-29 10:08] zyguan commented on #20717
Hi, @xiebin2015 , can you translate your code into sql, and also provide the schema of table as well as init data?

[2020-10-29 10:21] windtalker opened #20719 "load data infile failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Data loaded successfully.

### 3. What did you see instead (Required)
Meet `Transaction is too large` error

### 4. What is your TiDB version? (Required)

[code]

[2020-10-29 10:36] zyguan opened #20720 "The flags of column are cleared after `change column`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Execute these statements with `mysql --column-type-info`.

### 2. What did you expect to see? (Required)

The flags keep unchanged after `change column`.

### 3. What did you see instead (Required)

The flags are cleared after the DDL as following. However, it's ok

[2020-10-29 11:31] bb7133 commented on #20717
Hi @xiebin2015 , thanks for reporting!

May I know the detailed information about the Exception? Please provide the message and stack of it if possible.

[2020-10-29 11:39] ChenPeng2013 opened #20723 "join return wrong results when new collation enabled"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

new_collations_enabled_on_first_bootstrap = true
use test;
source [test2.txt](https://github.com/pingcap/tidb/files/5458048/test2.txt);
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB ver

[2020-10-29 11:46] bb7133 opened #20724 "charset, transaction: update is skipped when the value is treated as the same in CI collations"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

When the new collation is enabled:
[code]
And run the following SQLs:
[code]

### 2. What did you expect to see? (Required)
[code]
(Same with MySQL)

### 3. What did you see instead (Required)
[code]
Please notice that the `Changed Rows` of `UPDATE` is 0.
### 4. What is you

[2020-10-29 11:49] zyguan opened #20725 "A pessimistic transaction cannot pass schema check even if it changes nothing"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
ps. run DDL in a separate session.

### 2. What did you expect to see? (Required)

The transaction can be committed successfully.

### 3. What did you see instead (Required)

Transaction failed due to `the related physical table ID is empty`.

### 4. What is your TiD

[2020-10-29 12:49] bb7133 commented on #20723
I'm not sure if this is related to new collation since when the new_collation is set to `False`, the hash join still reports an error:

[code]

[2020-10-29 12:50] bb7133 commented on #20723
PTAL firstly @SunRunAway

[2020-10-29 13:00] sre-bot opened #20726 "explainfor_test.go:testPrepareSerialSuite.TestPointGetUserVarPlanCache failed"
explainfor_test.go:testPrepareSerialSuite.TestPointGetUserVarPlanCache

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/56223/display/redirect

[2020-10-29 13:08] bb7133 commented on #20723
I noticed that some invalid values `NULL`/`` is inserted into `SET`/`ENUM` by setting the SQL mode. Maybe the error is related to this.

[2020-10-29 13:41] bb7133 opened #20727 "*: `insufficient bytes decode value` reported when adding index for some split common-handled tables."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)
The job ran successfully.

### 3. What did you see instead (Required)
Error reported when executing the DDL job:

[code]

### 4. What is your TiDB version? (Required)
This can be reproduced in the master version

[2020-10-29 14:31] zz-jason commented on #12295
closed due to outdated. feel free to reopen it once the same issue appears again.

[2020-10-29 14:31] #12295 closed

[2020-10-29 15:00] #20306 closed

[2020-10-29 15:32] nullnotnil commented on #20716
This is a duplicate of https://github.com/pingcap/tidb/issues/19818 which was addressed via documentation.

It is possible to use SPM to modify the query if the application can not be modified, but a generic option to force order has a lot of downsides. MySQL itself will only have a stable order when reading from the primary key. If TiDB were to implement such a feature, it would have to be stable

[2020-10-29 15:35] nullnotnil commented on #20719
This is caused by a behavior change in master, which is documented [in a note here](https://docs.pingcap.com/tidb/dev/sql-statement-load-data#mysql-compatibility):

[2020-10-29 15:38] SunRunAway commented on #20676
Another option is to put into `estRows`

[2020-10-29 15:45] nullnotnil commented on #20687
I think this is a handy feature. I think a s3 uri should be posssible in all contexts of a file path, not just `tidb_slow_query_file`. TLS certs might be one other example.

[2020-10-29 16:06] kolbe opened #20728 "Allow IndexMerge for DNF portion of complex queries that can use other indexes"
## Feature Request

**Is your feature request related to a problem? Please describe:**

IndexMerge today cannot be used if a query with a DNF component of its WHERE clause also includes separate conjunctive elements.

For example:

[code]

**Describe the feature you'd like:**

In some cases, it might be helpful to use IndexMerge to narrow down the rows matched by the DNF component of the WHERE cla

[2020-10-29 16:15] nullnotnil commented on #20728
Note that it is because `b=1` is indexed that prevents index merge from being selected:

[code]

[2020-10-29 19:39] travis-ray commented on #9847
Thanks - this is really helpful!

[2020-10-30 01:38] xiebin2015 commented on #20717
您好 ，感谢对我的回复
涉及的表很简单如下
SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for t_test
-- ----------------------------
DROP TABLE IF EXISTS `t_test`;
CREATE TABLE `t_test`  (
  `id` bigint(19) NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB CHARACTER S

[2020-10-30 01:41] qumingxing opened #20730 "Builtin IF truncates return type when containing user variables"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
Compare with Mysql, the TIDB results is not expected
### 4. What is your TiDB version? (Required)

[code]

[2020-10-30 01:50] nullnotnil commented on #20730
@qumingxing please share the output of `SHOW CREATE TABLE t`, as well as any sample data required to reproduce. Thanks!

[2020-10-30 01:58] xiebin2015 commented on #20717
Hi  bb7133
您好，测试的代码很简单，就是在同一个方法里面试图往同一个表中插入两条记录，调用 第一个insert之后，故意抛出了一个异常来模拟事务失败的情况

    /**
     * @return
     * @throws PendingException
     */
    public ResponseDto<Test> save() throws PendingException {
        com.gf.tx.bo.test.Test test = new com.gf.tx.bo.test.Test();
        test.setId(IdGeneratorSingleton.getInstance().generateKey().longValue());
        test.setName("分布式事务测试-1");

[2020-10-30 02:37] you06 opened #20731 "RC isolation lock behavior not compatible"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The update statement is blocked by insert's lock and the result of table t is (10, 20, 30, 40).

### 3. What did you see instead (Required)

The update statement is not blocked and affected 0 rows, the result of table t

[2020-10-30 02:40] qumingxing commented on #20730
CREATE TABLE `tmp` (
  `id` int(11) NOT NULL,
  `value` int(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin

SELECT tmp.id,
         tmp.value,
         @sum := IF(@sum=10,4,@sum + tmp.value) sum
    FROM tmp
ORDER BY tmp.id

[2020-10-30 02:41] nullnotnil commented on #20731
I believe this is currently [documented under #1](https://docs.pingcap.com/tidb/stable/pessimistic-transaction#difference-with-mysql-innodb) (tidb does not support gap locking), but could be made clearer.

@cfzjywxk is my understanding correct here?

[2020-10-30 02:44] you06 commented on #20731
This issue will not occur in RR isolation level, it seems it's caused by update statement does not read the lock in RC.

[2020-10-30 03:03] qw4990 commented on #20676
Like this?
[code]

[2020-10-30 03:13] nullnotnil commented on #20676
I think the cost is more important than the rows or width? i.e. these are all just dimensions that factor into the cost.

May I suggest renaming the column to `cost`?

[code]

(Many other DBs show cost in their explain output).

[2020-10-30 03:15] cfzjywxk commented on #20731
@nullnotnil I think it's caused by the implementation [here](https://github.com/pingcap/tidb/blob/master/executor/point_get.go#L262)that non-exist key will not be locked in RC isolation level.

[2020-10-30 03:18] xiongjiwei opened #20732 "cannot insert value to enum or set type column with hexLit"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
`ERROR 1265 (01000): Data truncated for column 'h' at row 1`
### 4. What is your TiDB version? (Required)

[code]

[2020-10-30 03:21] qw4990 commented on #20676
I think this is better! What do you think? @SunRunAway @eurekaka @zz-jason

[2020-10-30 04:11] zyguan commented on #20717
Yes, I think you are right. It depends on whether `testMapper.insert(test);` gets committed or not by your client.

No, a transactions is associated with a connection to a tidb-server, if you have two services, they typically have their own connections (or connection pool), TiDB doesn't guarantee such a consistency, even they are connected to same tidb-server.

[2020-10-30 04:27] nullnotnil commented on #20730
When I run this in MySQL 5.7, 8.0 it produces the same result as TiDB (4.0.1, master):
[code]

I looked at your query again, and it needs the `SHOW CREATE TABLE` from tables `a` and `b`. Can you please provide them, with the output of MySQL and TiDB so I can compare?

[2020-10-30 05:11] zyguan opened #20733 "A context canceled error is not treated as undetermined"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run [rw-register](https://github.com/pingcap/tipocket/tree/master/cmd/register) case with nemesis of random_kill,kill_pd_leader_5min,partition_one,subcritical_skews,big_skews,shuffle-leader-scheduler,shuffle-region-scheduler,random-merge-scheduler. [Here](http://172.16.5.98

[2020-10-30 05:30] qw4990 opened #20734 "confused and unnecessary double-projection in plans"
## Development Task
[code]
As shown above, the double-projection is confused and unnecessary, so it's better to merge them into one.

[2020-10-30 05:32] tangwz commented on #20734
/assign

[2020-10-30 05:41] xiebin2015 commented on #20717
Yes, I see. Thank you.

[2020-10-30 05:52] qumingxing commented on #20730
![image](https://user-images.githubusercontent.com/3928618/97665620-e13a5a80-1ab6-11eb-94bd-74f4fecfa51f.png)

Add `SET @sum := 0;` and try it again

[2020-10-30 06:01] SoulSong opened #20735 "Optimize dropping index logic"
## Feature Request

**Is your feature request related to a problem? Please describe:**
下图是ddl相关的执行任务列表
![screen](https://user-images.githubusercontent.com/13410104/97655208-834e4880-1a9f-11eb-8dcc-3ea7f95f3fcf.png)
此处关注3384、3385、3386以及对应的end_time即可。

问题一：**被删除索引已经不存在，且也不再待add index任务列表**
如上3384和3385是针对同一个table进行的ddl操作，在执行中存在阻塞逻辑，可以被理解。但此处有一个特殊点在于，3385中待drop的index其实已经被删除，并不存在，且与3384中的index并非同一个。此处仍

[2020-10-30 06:37] wjhuang2016 commented on #20735
在提交ddl job至待处理队列时，特别是drop类型的操作优先进行校验，只有校验通过的job才会被加入队列，反之直接被拒绝。

TiDB checks if the index exists before put the `drop index` into the queue, could you check if the index is dropped after JOB 3385 start?

[2020-10-30 06:59] SoulSong commented on #20735
已经被删除，否则能够在job列表中查看到执行状态。且会存在阻塞关系，尽管没有对应的截图数据，但根据job的执行逻辑来看3384处于running时一定是不会存在相同table的running状态drop index操作的。

[2020-10-30 07:04] wjhuang2016 commented on #20735
You can check it like: `admin show ddl jobs 50`.

[2020-10-30 07:07] pengdaqian2020 commented on #20668
/pick-up

[2020-10-30 07:24] SoulSong commented on #20735
![image](https://user-images.githubusercontent.com/13410104/97671258-d71e5900-1ac2-11eb-97ed-50a21f42e2d9.png)
通过上述的命令发现了对应的问题，看来是3381和3383导致的。3381的rollback较慢阻塞了3383，3383又阻塞了后续的3384等一系列job，3385提交的时候3381还没有执行完成，index确实还在。那是不是提交流程里面可以看下，如果当前add index已经处于rollback过程，其实一定程度等价于不存在了，对应的drop操作是不是都可以忽略？

[2020-10-30 07:55] wjhuang2016 commented on #20735
Sure, in that case, the drop operation can be ignored. We will try to support it in the feature `Parallel DDL`.

[2020-10-30 07:57] SoulSong commented on #20735
Good job.

[2020-10-30 08:05] SunRunAway commented on #20719
I'm closing it. @windtalker

[2020-10-30 08:05] #20719 closed

[2020-10-30 08:57] blacktear23 commented on #20720
/pick-up

[2020-10-30 09:00] SoulSong opened #20736 "Schema Version corresponds to the logic for row data value"
## General Question
主要想了解在进行column变更时，schema version如何与数据行进行对应更新，及其流程。当前已了解相关内容如下：
**Add Column 操作**
Add Column 整个操作不关心表的数据行内容，其整个操作只需要进行 5 个状态的变更即可。此操作前后做了两个优化：
新加列的 Default Value 是一个空值，那么就不需要实际的去填充。之后对此列的读取时，从 TiKV 返回的列值为空时，查看此列的元信息，如果它是 NULL 约束则可直接返回空值（这逻辑会在 Coprocess 处理）。
 新加列的 Default Value 的值为非空的情况下，也不用将 Default Value 存储到 TiKV，只需将此默认值存到一个 schema 的字段（Original Default Value）中。在之后做读取操作时，如果发现 Ti

[2020-10-30 10:31] tshqin opened #20737 "provide cluster id via API for all the cluster components"
[code]

in above case, the cluster looks running well, but when I log into the tidb-server on 172.16.4.88:4000, the data is not familiar, and I'm sure it's not my cluster, someone's cluster overwrite the tidb-server of mine. Unfortunately, tiup only detects the ip:port availability, so it presents my whole cluster performs well.
Move to the WARN part, all these tikv instances listed is not a part

[2020-10-30 13:51] dyzsr commented on #20698
Is it a duplicate of #20101?

[2020-10-30 15:40] zyguan opened #20741 "The default value of a newly added enum column is set improperly"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master
release-4.0
## Score

- 600

## Mentor

- @wjhuang2016

[2020-10-30 15:42] nullnotnil commented on #20730
@qumingxing Thank you. Verified as described against TiDB 4.0.1 and master:
[code]

MySQL 5.7.31 / 8.0.22 result is the same:
[code]

[2020-10-30 16:22] nullnotnil commented on #20730
Here is another test case which makes this clearer. The issue is caused by a truncation of the `@sum` variable:
[code]
Versus MySQL:
[code]

I think the bug is caused by the return type of the `IF` function being different between TiDB and MySQL. MySQL just uses the type `longlong` and sets the length to 21. TiDB tries to incorrectly guess the length based on the first return value possible in the

[2020-10-31 01:15] nullnotnil commented on #18038
I have a proposal for how to address this issue. I miss some of the context about why certain feature-flags exist, so I appreciate input:

1. The config option `enable-batch-dml` is enabled by default.
2. The sysvar `tidb_batch_insert` is deprecated, and implied by a non-zero value for `tidb_dml_batch_size`.
3. The sysvar `tidb_dml_batch_size` is changed to be `SET_VAR` hintable.
4. https://github

[2020-10-31 06:03] xiongjiwei commented on #20720
cannot reproduce at master.
[code]

[2020-10-31 06:10] blacktear23 commented on #20720
@xiongjiwei this bug is related for 4.0 serise. master already fix this bug.

[2020-11-01 09:42] amyangfei opened #20748 "The schema version TSO barrier of a DDL job"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. prepare table
[code]
2. check ddl job history via http api

Please pay attention to three timestamp:

- "start_ts": 420536581131337731,
- "update_timestamp": 420536581184028673,
- "FinishedTS": 420536581196873729

<details>
<summary>ddl job for add column</summary>
<pre>

[2020-11-01 15:15] shenli commented on #20748
@amyangfei is this a bug? or a question?

[2020-11-02 01:41] SunRunAway commented on #20654
@leoppro would you like file a PR?

[2020-11-02 02:27] Win-Man commented on #20626
I knew the reason is `SPM`:
[code]

After dropping binding, the hint and `use index` syntax works. I also tested it in my cluster.
![image](https://user-images.githubusercontent.com/12085878/97824081-f2bd7580-1cf5-11eb-9fa9-c2a264c5d9a7.png)
![Uploading image.png…]()

[2020-11-02 03:01] lzmhhh123 commented on #15337
can not reproduce.

[2020-11-02 03:01] #15337 closed

[2020-11-02 03:13] cyh19890727 commented on #20741
/pick-up

[2020-11-02 03:16] lzmhhh123 commented on #19387
can not reproduce.

[2020-11-02 03:16] #19387 closed

[2020-11-02 03:16] zyguan commented on #20741
cc @bb7133

[2020-11-02 03:17] amyangfei commented on #20748
Confirmed with the member in sig-DDL, the behavior is as expected.
- `update_timestamp` is the `startTs` of DDL meta transaction `StateX -> StatePublic`
- `FinishedTS` is the `startTs` of DDL meta transaction `StateDone -> StateSynced`
- the strong TSO barrier for two schema versions is the `CommitTs` of DDL meta transaction `StateX -> StatePublic`

[2020-11-02 03:17] #20748 closed

[2020-11-02 03:19] wjhuang2016 commented on #17919
Close this issue because it's not active anymore, feel free to reopen it if there is any update.

[2020-11-02 03:19] #17919 closed

[2020-11-02 03:21] wjhuang2016 commented on #2285
After internal discussion, we think it's the expected behavior. So it's not a bug.

[2020-11-02 03:23] djshow832 opened #20751 "ddl: defining the placement rule of a leader requires `REPLICAS` option"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

It should not report an error, as `role=leader` implies `REPLICAS=1`.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

## Score

- 600

## Mentor

- @djshow832
-

[2020-11-02 03:50] TszKitLo40 commented on #20724
/pick-up

[2020-11-02 04:01] #20315 closed

[2020-11-02 04:33] wjhuang2016 commented on #20315
@b41sh Please fill in the bug info.

[2020-11-02 05:58] wjhuang2016 commented on #20736
@SoulSong Hi, Thanks for your advice.
1. CockroachDB separates the schema version for tables while TiDB doesn't.  I think there are some advantages to separate them, for example, more parallelism. But there still some corner cases to consider, for example, rename table. We will investigate it more carefully and decide whether to separate them.
2. I don't think storing scheme version in row value i

[2020-11-02 06:08] lzmhhh123 opened #20756 "Some cases for CBO could choose point get"
## Description
Optimize CBO point get

[code]

The first SQL could use point get.

[2020-11-02 06:42] ojhtyy opened #20757 "when exporter is down, alertmanager alert it"
## Feature Request

**Is your feature request related to a problem? Please describe:**

when exporter is down, alertmanager  alert it

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-11-02 06:50] lzmhhh123 commented on #10392
duplicated with https://github.com/pingcap/tidb/issues/4323

[2020-11-02 07:20] lzmhhh123 commented on #11212
For MySQL 5.7.29, the result is the same as TiDB.

[code]

Maybe we should close the issue. What's your opinion? @SunRunAway @nullnotnil

[2020-11-02 07:21] #19952 closed

[2020-11-02 07:35] SunRunAway opened #20759 "hide & deprecate enable-streaming"
## Feature Request

**Is your feature request related to a problem? Please describe:**

`enable-streaming` is not well maintained because we are focusing on optimizing the non-streaming coprocessor API for its performance and resource usage and don’t have time to optimize streaming's currently, I propose to deprecate it temporarily until somebody has time to pick it up again and prove it could be

[2020-11-02 07:44] SunRunAway commented on #20759
/cc @zz-jason @breeswish

[2020-11-02 07:58] lzmhhh123 commented on #10591
Can not reproduce. Both on master branch and release-4.0 branch.

[2020-11-02 07:58] #10591 closed

[2020-11-02 08:50] SunRunAway opened #20762 "Index Join multiples tidb_distsql_scan_concurrency by tidb_index_lookup_join_concurrency"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

One coprocessor client opens the number of `tidb_index_lookup_join_concurrency`(defaults to 15) concurrency to fetch data from TiKV, while Index Join opens the number of `tidb_distsql_scan_concurrency` coprocessor clients(defaults to 4).
So a query with Index Join may have

[2020-11-02 08:52] zz-jason commented on #20759
@SunRunAway could you link all the bugs that related to streaming API?

[2020-11-02 08:53] SunRunAway commented on #20759
See https://asktug.com/t/topic/37526 and https://asktug.com/t/topic/62984

[2020-11-02 08:55] SunRunAway commented on #20759
We are currently focusing on optimizing the non-streaming coprocessor API for its performance and resource usage, but when the users enable the steaming API, they will not be benefited from us.

[2020-11-02 09:01] erwadba commented on #18517
/pick-up

[2020-11-02 09:02] #18517 closed

[2020-11-02 09:04] ou-bing commented on #20207
@lzmhhh123 Why does this issue have 600 points，isn't it a simple "error code" problem？🤔

[2020-11-02 09:10] ou-bing commented on #20207
/pick-up

[2020-11-02 09:11] lzmhhh123 commented on #20207
Sorry, that's a mistake. Only 300 points for this issue. 😂

[2020-11-02 09:15] breeswish commented on #20759
@zz-jason  There are a lot of known trivial issues, for example,

1. TiKV known bug: https://github.com/tikv/tikv/issues/3677 (won't fix)
2. TiKV does not handle streaming scan efficiently
3. Coprocessor Cache does not work in streaming
4. The runtime statistics in streaming mode is not correct. The newly added ScanDetailV2 may be incorrect as well.
5. When I reviewed the Coprocessor part in TiDB

[2020-11-02 09:17] ou-bing commented on #20207
shoot oneself in the foot.😂😂😂

[2020-11-02 09:23] lzmhhh123 commented on #11193
duplicated with https://github.com/pingcap/tidb/issues/20295

[2020-11-02 09:29] 3pointer opened #20767 "Don't let users drop the key system tables."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. `tiup playground nightly --tiflash 0`
2. `mysql --host 127.0.0.1 --port 44840 -u root`
3. `drop table mysql.GLOBAL_VARIABLES;`
4. exit this session
5. `mysql --host 127.0.0.1 --port 44840 -u root`
6. `use mysql;`

### 2. What did you expect to see? (Required)
no error

#

[2020-11-02 09:37] lzmhhh123 commented on #17780
This issue needs to modify tikv coprocessor.

[2020-11-02 09:39] tirsen commented on #19650
`engine=tikv` sounds like the best solution

[2020-11-02 09:51] bb7133 commented on #20767
PTAL @ilovesoup @zz-jason

[2020-11-02 10:00] ChenPeng2013 opened #20768 "only hash_join return the right result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master 152b60ebe409220413fdf274c89c3e8b96820f9b and release-4.0 e069732d40d92b54a81ceed7f481ba249aa1efaa

[2020-11-02 11:31] glorv opened #20771 "analyze table failed by Error 8229: TTL manager has timed out"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
After use lightning to importer 14k warehouse tpcc date to tidb cluster, run `analyze table customer` failed with `Error 8229: TTL manager has timed out, pessimistic locks may expire, please commit or rollback this transaction`

related logs:
[code]
The original tidb log is missing because pod is already destroyed.

[2020-11-02 11:50] zyguan opened #20773 "Transaction amender will cause failure of drainer"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Execute following sql on upstream
[code]
DDL should be run in an another session.

### 2. What did you expect to see? (Required)

No error reported by drainer and data is synced to downstream.

### 3. What did you see instead (Required)

Drainer exited unexpectedly with err

[2020-11-02 12:04] dyzsr commented on #3563
I think the behavior of MySQL is less reasonable. If we change the update statement a little bit (swapping `users` and `addresses`), we'll get different results.

[code]

[2020-11-02 12:08] asiafrank commented on #8733
/pick-up

[2020-11-02 12:09] zz-jason commented on #20762
is there any benchmarks to show the differences?

[2020-11-02 12:11] zz-jason commented on #20759
@breeswish got it, thanks.

[2020-11-02 12:31] djshow832 opened #20774 "Record transaction scopes in statements summary and slow query"
## Development Task

Record the transaction scope (global/local) of the current SQL in statements summary and slow query.
This is a part of the global/local transaction roadmap #20448.

## Implementations

For the slow query / slow log, it's straightforward to record it with a string value because one SQL only has one scope. The value indicates the global scope or the DC location it belongs to.
No

[2020-11-02 12:40] djshow832 opened #20775 "Provide a session variable to query the last transaction scope"
## Development Task

To figure out which transaction scope the last transaction uses, we need a read-only session variable to query it.
This is a part of the global/local transaction roadmap #20448.

## Implementations

It's similar to other session variables like `last_insert_id` and `last_plan_from_cache`. You can refer to the implementation of these variables.

[2020-11-02 13:01] sre-bot opened #20776 "DATA_RACE:github.com/pingcap/tidb/executor.(*IndexNestedLoopHashJoin).startWorkers() failed"
DATA_RACE:github.com/pingcap/tidb/executor.(*IndexNestedLoopHashJoin).startWorkers()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/56530/display/redirect

[2020-11-02 13:02] sre-bot opened #20777 "placement_sql_test.go:testDBSuite1.TestPlacementPolicyCache failed"
placement_sql_test.go:testDBSuite1.TestPlacementPolicyCache

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/56573/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/58341/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/58349/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tid

[2020-11-02 13:35] XuHuaiyu opened #20779 "indexHashJoin may hang if panic happens"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Add a `panic(test)` in `indexHashJoinOuterWorker::run`
2. execute
[code]

### 2. What did you expect to see? (Required)
error returned

### 3. What did you see instead (Required)
the query hangs
[code]

### 4. What is your TiDB version? (Required)

c67da2359c0a292c562bc4c

[2020-11-02 14:57] zz-jason commented on #20779
how did you find this bug?

[2020-11-03 00:57] tiancaiamao commented on #20779
A user meets it and provides the goroutine stack. @zz-jason

[2020-11-03 01:56] SoulSong commented on #20736
@wjhuang2016 Thank you for your reply.

[2020-11-03 01:56] #20736 closed

[2020-11-03 02:18] Patrick0308 commented on #20692
/pick-up

[2020-11-03 02:23] cfzjywxk commented on #20654
@tiancaiamao could help to take a look at this.

[2020-11-03 02:29] bb7133 commented on #20777
PTAL @djshow832

[2020-11-03 02:35] #18956 closed

[2020-11-03 02:55] #20777 closed

[2020-11-03 03:03] Yisaer commented on #20775
/assign

[2020-11-03 04:52] wjhuang2016 commented on #20773
@cfzjywxk PTAL

[2020-11-03 04:52] #18149 closed

[2020-11-03 05:02] nullnotnil commented on #11212
I am not getting the same result in TiDB and MySQL. TiDB returns 0, with MySQL returning either 1 or 2 warnings:
[code]

[2020-11-03 05:07] dragonly commented on #11866
/assign

[2020-11-03 05:20] wjhuang2016 commented on #10392
I think it's a compatibility problem. TiDB truncates the tailing spaces, insert "ab    "(three tail spaces) to char(4) is ok. But MySQL would pads "ab   " to char(4), then fails. @nullnotnil What do you think about this? Should we need to fix it?

[2020-11-03 05:24] #19354 closed

[2020-11-03 05:57] nullnotnil commented on #10392
Yes, I don't think it is high priority, but I expect there could be applications that depend on this.

[2020-11-03 05:59] #20779 closed

[2020-11-03 06:01] wjhuang2016 commented on #4323
It's fixed after introducing the new collation.  I believe that @qw4990 doesn't enable the new collation when reproduces it.

[2020-11-03 06:01] #4323 closed

[2020-11-03 06:04] wjhuang2016 commented on #10392
Ok, I hope some contributors may help us with this issue. It's not hard to fix.

[2020-11-03 06:10] jackysp commented on #20731
![image](https://user-images.githubusercontent.com/4352397/97954210-dd237b00-1ddd-11eb-86b2-1300eff07a80.png)
tested it with Oracle 11g, it is the same behavior with TiDB. So `id = 1` doesn't acquire the gap lock in MySQL. What's the lock type of it?

[2020-11-03 06:31] jackysp commented on #20731
![image](https://user-images.githubusercontent.com/4352397/97955466-317c2a00-1de1-11eb-99e4-033d2cb1409e.png)
So does Postgres.

[2020-11-03 06:44] #7077 closed

[2020-11-03 06:59] you06 commented on #20731
[code]

It's record lock in MySQL.

[2020-11-03 07:11] ChenPeng2013 opened #20795 ""explain for connection id" statement doesn't work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master e9941af7839370e07ce1b7dc44e7d93456ed37db and release-4.0 14532253d21f02e0ef90353843c1fbfbdca9bdd0

[2020-11-03 07:44] WentaoJin opened #20796 "TiDB v4.0 SQL execute error tmp-storage not such file or directory"
4.0 The memory is turned on by default. The oom tmp temporary disk is used. It should be noted that the temporary disk directory cannot be manually cleaned and deleted, otherwise the same SQL will be executed again to find the original result set file on the disk, and tidb needs to be restarted.
![image](https://user-images.githubusercontent.com/34805682/97959858-347c1800-1deb-11eb-95d3-9363223bb7

[2020-11-03 07:56] #20327 closed

[2020-11-03 08:26] blacktear23 commented on #20741
/pick-up

[2020-11-03 08:30] cfzjywxk commented on #20773
It's being solved in https://github.com/pingcap/tidb-binlog/pull/1006.

[2020-11-03 08:54] #17270 closed

[2020-11-03 09:20] cfzjywxk commented on #20654
@MyonKeminta will help to verify if the leak still exist in master and the release branch.

[2020-11-03 09:23] qw4990 opened #20800 "Dump execution details of all SQLs when server is consuming lots of memory"
## Feature Request

**Is your feature request related to a problem? Please describe:**

After https://github.com/pingcap/tidb/issues/17095, TiDB can dump SQLs and the heap profile when consuming most of the system memory(like 80% of system memory), which help us investigate memory problems.

But the information above may be not enough, it's better to record all ongoing SQLs' execution details(like

[2020-11-03 09:23] skyzh commented on #19982
/assign

[2020-11-03 09:25] cfzjywxk commented on #20731
I think our current implementaion is aimed at `Oracle read consistency`. So do we just document this compatibility issue?

[2020-11-03 09:25] qw4990 commented on #20800
PTAL @wshwsh12 @XuHuaiyu @SunRunAway @zz-jason

[2020-11-03 09:29] Win-Man commented on #11212
/pickup

[2020-11-03 09:29] dragonly commented on #11866
/pickup

[2020-11-03 09:30] dragonly commented on #11866
/pick

[2020-11-03 09:30] Win-Man commented on #11212
/pick-up

[2020-11-03 09:31] dragonly commented on #11866
/pick-up

[2020-11-03 09:39] cfzjywxk commented on #20725
I think it's duplicated with https://github.com/pingcap/tidb/issues/18954

[2020-11-03 10:06] tangenta opened #20801 "Select generated column with limit failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master
[code]

[2020-11-03 10:43] jackysp commented on #20692
The same as Oracle 11g and postgres.
Oracle
![image](https://user-images.githubusercontent.com/4352397/97975563-4ae29d80-1e04-11eb-8416-f87db5796679.png)
and postgres
![image](https://user-images.githubusercontent.com/4352397/97975651-6b125c80-1e04-11eb-9761-165654302c3d.png)

[2020-11-03 10:45] jackysp commented on #20731
What do you think? @nullnotnil

[2020-11-03 10:50] skyzh commented on #19982
/pick

[2020-11-03 11:10] skyzh commented on #19982
/pick-up

[2020-11-03 11:49] ichn-hu opened #20803 "Welcome to Contribute!"
this is a dummy issue, work in progress

[2020-11-03 11:50] ichn-hu commented on #20803
/unlabel type/bug

[2020-11-03 11:51] ichn-hu opened #20804 "Welcome to contribute"
If you are interested in database development, or you are a TiDB user, no matter what, if you want to contribute to TiDB and learn about how a distributed HTAP database worked, here is the right place.

Let's get started by solving some bugs! Here is a curated list of some easy-to-go bugs, pick the one that you want to smash!

* [sig/planner](#sig/planner)
* [sig/execution](#sig/execution)
* [sig/

[2020-11-03 11:52] #20803 closed

[2020-11-03 11:58] djshow832 opened #20809 "Abort the transaction when the placement rules are changed"
## Development Task

When a local transaction accesses a partition, it will check the placement rules of this partition. In this process, it assumes that the placement rules of these partitions don't change through the transaction. If the placement rules are changed, the assumption is broken, so we must abort the transaction.

## Implementation

Before introducing the solution, I need to introduce

[2020-11-03 12:00] MyonKeminta commented on #20654
The leak is found caused by not closing the etcd client in `EtcdSafePointKV`. The fix: https://github.com/pingcap/tidb/pull/20808
It should exist in all release branches.

[2020-11-03 12:08] TszKitLo40 commented on #20751
/pick-up

[2020-11-03 12:29] breeswish opened #20810 "Inconsistent result discovered by copr-test"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Executing this SQL:

[code]

over this data set:

https://github.com/tikv/copr-test/tree/master/push-down-test/sql

See https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_copr_test/detail/tidb_ghpr_integration_copr_test/9750/pipeline f

[2020-11-03 13:00] sre-bot opened #20812 "expr_to_pb_test.go:testEvaluatorSuite.TestExprPushDownToFlash failed"
expr_to_pb_test.go:testEvaluatorSuite.TestExprPushDownToFlash

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/56696/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/58587/display/redirect

[2020-11-03 13:04] cfzjywxk commented on #20731
I changed it to compatibility issues.

[2020-11-03 13:18] #20373 closed

[2020-11-03 14:43] nullnotnil commented on #20731
Because it's a non-default, I agree with calling it a compatibility issue and not a bug. But it is confusing to document it as `Oracle read consistency`, since RC also exists in MySQL.

[2020-11-03 14:55] #20619 closed

[2020-11-04 02:17] Patrick0308 commented on #20692
@jackysp Are you test in RC isolation level?

[2020-11-04 02:18] jackysp commented on #20692
Yes.

[2020-11-04 02:19] seiya-annie commented on #20327
/info

[2020-11-04 02:21] seiya-annie commented on #20779
/info

[2020-11-04 02:22] seiya-annie commented on #19354
/info

[2020-11-04 02:22] seiya-annie commented on #18149
/info

[2020-11-04 02:23] Patrick0308 commented on #20692
@you06 @cfzjywxk What do you think? Do we need to fix it to be consistent with the behavior of MYSQL?

[2020-11-04 02:25] seiya-annie commented on #18517
/info

[2020-11-04 02:42] cfzjywxk commented on #20692
It's unexpected because the generated point get plan used index `u0`,
[code]
Actually the primary key(which is handle key) could be used to access the row data directly, if it's used there will be a row returned instead of zero, and this statement will be blocked. Seems this is related to https://github.com/pingcap/tidb/blob/master/planner/core/point_get_plan.go#L784 this constraint generating the

[2020-11-04 02:42] XuHuaiyu commented on #20800
Not only the SQLs and heap profile will be recorded, but also [the expensive query log](https://docs.pingcap.com/zh/tidb/stable/identify-expensive-queries#expensive-query-%E6%97%A5%E5%BF%97%E7%A4%BA%E4%BE%8B), and the plan will also be recorded.

I think what you really needed is the result of `explain analyze for conn`?

[2020-11-04 02:44] #15328 closed

[2020-11-04 02:45] XuHuaiyu commented on #11577
duplicate with https://github.com/pingcap/tidb/issues/15328

[2020-11-04 02:45] #11577 closed

[2020-11-04 02:46] XuHuaiyu commented on #19607
Not a problem for now.

[2020-11-04 02:46] #19607 closed

[2020-11-04 02:48] you06 commented on #20692
It's unexpected in the RR isolation level only.

[2020-11-04 03:12] seiya-annie commented on #20528
sync sig label from PR

[2020-11-04 03:27] lysu commented on #15229
it's caused by docker alpine image's SSL library question, with standard ubuntu based image it works well

[2020-11-04 03:27] #15229 closed

[2020-11-04 03:29] jebter commented on #11911
/assign dyzsr

[2020-11-04 03:33] xiongjiwei commented on #20608
/label sig/execution

[2020-11-04 03:39] seiya-annie commented on #19941
/info

[2020-11-04 03:48] eurekaka commented on #11872
https://github.com/pingcap/tidb/pull/18973 can close this issue.

[2020-11-04 03:52] SunRunAway opened #20816 "The order of 0 and -0 is not stable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

See https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_copr_test/detail/tidb_ghpr_integration_copr_test/9750/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is yo

[2020-11-04 04:04] xiongjiwei commented on #19521
@LENSHOOD hi, do you have any conclusion？

[2020-11-04 04:38] AilinKid commented on #17904
Declaration:
When TiDB processes a job on handleDDLJobQueue, it will start a kv transaction (maxTs), and then take out the first job in
the queue for processing (READ), some kv modifications will be made according to the current schema status, and then finally
TiDB updates the job ( WRITE) and commits the transaction. If during the READ/WRITE process, another kv transaction (maxTs+1) occurs to can

[2020-11-04 04:38] #17904 closed

[2020-11-04 04:40] wjhuang2016 commented on #13641
Close because this test is stable now

[2020-11-04 04:40] #13641 closed

[2020-11-04 04:41] #18576 closed

[2020-11-04 04:54] wjhuang2016 commented on #16449
It does not appear anymore. And it should be the old version etcd's bug.

[2020-11-04 04:54] #16449 closed

[2020-11-04 04:56] wjhuang2016 commented on #15597
This test is stable now

[2020-11-04 04:56] #15597 closed

[2020-11-04 05:15] LENSHOOD commented on #19521
Forgot to do this after checkout mysql source code...
I'll check it in the next few days...

[2020-11-04 05:19] crazycs520 commented on #13491
`Hash partition` and `List partition` also have this problem too.

[2020-11-04 05:25] #20608 closed

[2020-11-04 05:41] wjhuang2016 commented on #19016
I think this problem can be solved after we implement GBK support.

[2020-11-04 05:50] wjhuang2016 commented on #20037
It's a BR problem and it had been fixed.

[2020-11-04 05:50] #20037 closed

[2020-11-04 05:53] #20213 closed

[2020-11-04 06:00] jyz0309 opened #20820 "executor:Change read slow-log file module to concurrent"
## Development Task
At present, reading the slow log is a serial operation, which greatly reduces the efficiency of the slow log query, so we can change the read operation to a concurrent mode to improve efficiency

[2020-11-04 06:03] AilinKid commented on #20213
/info

[2020-11-04 06:06] wjhuang2016 commented on #17765
It's a PD bug and had been fixed.

[2020-11-04 06:06] #17765 closed

[2020-11-04 06:07] seiya-annie commented on #14795
/info

[2020-11-04 06:10] seiya-annie commented on #20558
sync sig label from PR

[2020-11-04 06:34] LENSHOOD commented on #20662
/pick-up

[2020-11-04 06:34] LENSHOOD commented on #20661
/pick-up

[2020-11-04 06:43] #19970 closed

[2020-11-04 06:58] jebter commented on #20771
cc @cfzjywxk @SunRunAway

[2020-11-04 06:59] lzmhhh123 commented on #20768
It's a bug caused by `insert ignore`. If we directly insert (0) for year. We can get the correct results. `insert ignore` change the null year type value to 0 then cause the wrong result.

[2020-11-04 07:10] winoros opened #20822 "Improve `HandleAutoAnalyze`'s memory usage"
## Description

If you look into ycsb's workload e and catch some pprof result.
You'll see:

[code]

`HandleAutoAnalyze` consumes much memory.

## Score

* 600

## Mentor(s)

* @winoros

Contact the mentors: **#tidb-challenge-program** channel in [TiDB Community](https://join.slack.com/t/tidbcommunity/shared_invite/enQtNzc0MzI4ODExMDc4LWYwYmIzMjZkYzJiNDUxMmZlN2FiMGJkZjAyMzQ5NGU0NGY0NzI3NTYwMjAyNGQ

[2020-11-04 07:17] wjhuang2016 commented on #7146
@nullnotnil

Here is the output of MySQL:
[code]

Showing only the first column is intended:
https://github.com/pingcap/tidb/blob/6785ae626a442327a1dece38ef34bca42c4b4e0d/ddl/ddl_api.go#L258-L278

[2020-11-04 07:20] #7146 closed

[2020-11-04 07:33] jebter commented on #20810
@lzmhhh123  PTAL

[2020-11-04 07:35] dyzsr commented on #20295
/assign

[2020-11-04 07:49] ichn-hu commented on #19667
/assign @ichn-hu

[2020-11-04 07:58] #20801 closed

[2020-11-04 08:10] djshow832 opened #20827 "Check the partition placement constraint of local transactions"
## Development Task

Local transactions can only write to partitions that are bound to the transaction scope. If not, the statement should fail.
This is a part of the global/local transaction roadmap #20448.

For example:
1. One TiDB instance is configured with `txn_scope=bj`, which means the TiDB instance is located in Beijing DC.
2. This TiDB instance typically starts local transactions and the

[2020-11-04 08:12] #20768 closed

[2020-11-04 08:16] #19479 closed

[2020-11-04 08:17] #19480 closed

[2020-11-04 08:17] #19481 closed

[2020-11-04 08:21] wjhuang2016 commented on #19712
Close this issue because can not reproduce.

[2020-11-04 08:21] #19712 closed

[2020-11-04 08:26] #19929 closed

[2020-11-04 08:27] #20553 closed

[2020-11-04 08:30] skyzh commented on #19982
I could not reproduce this issue.
[code]

[2020-11-04 08:48] spf913 opened #20831 "PLEASE SHARE MARATHON JSON CONFIG FILE FOR PD,TIKV AND TIDB TO DEPLOY ON MESOS CLUSTER"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**
please share marathon json config file for a complete tidb cluster (3 pd, 3 tikv and 1 tidb) (container version) to deploy tidb cluster on mesos cluster or DC/OS with persistent data volume (tidb,tikv,pd).

**Describe alternatives you've considered:**

**Teachability, Docume

[2020-11-04 08:49] kennytm opened #30524 "Support encrypting the MySQL password"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently the MySQL password is stored as plain-text in the `config.toml`, which some users feel uncomfortable with.

**Describe the feature you'd like:**

Provide some way to hide the password. Example:

[code]

The password will always be decrypted in the Lightning process no matter which algorithm is chosen,

[2020-11-04 08:49] MyonKeminta commented on #20733
This is introduced by https://github.com/pingcap/tidb/pull/20030 .  I'm thinking of better way to solve the problem.

[2020-11-04 08:53] xiongjiwei commented on #11177
/pick-up

[2020-11-04 08:57] kamaljitsinghsikhamazon opened #20832 "TiDB update crd.yaml for latest kubernetes Version"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I test tidb operator crd.yaml with v1.15.0 kubernetes version. No error
But when I try to test with the latest kubernetes v1.19 it gives me error
apiextensions.k8s.io/v1beta1
This is the culprit. Kubernetes keep complaining to update this to
apiextensions.k8s.io/v1
There is 6 line on the crd.yaml with /v1beta
I

[2020-11-04 08:57] zhouyueyue1115 opened #20833 "the execution plan in the slow log is different from the SQL execution plan."
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/9099123/98090036-7f1a9480-1ebe-11eb-8d22-18a8a9964be1.png)

### 2. What did you expect to see? (Required)

the execution plan in the slow log is tablefullscan

### 3. What did you see instead (Required)

the

[2020-11-04 09:02] dhw-daniel opened #20834 "use order by sorts and pagination， get error data"
tidb_version()    is   4.0

[2020-11-04 09:07] #20724 closed

[2020-11-04 09:41] #18977 closed

[2020-11-04 10:09] xhebox opened #20838 "hptc ycsb-worloade: Implement AppendRows for Chunk"
## Description

This is a issue when viewing the profile of ycsb-workloade, i.e. `select * from t where key > ? and limit = ?`.

While the task it self may be batched, the appending process is not. In distsql.go:

[code]

`AppendRow` eventually goes to (utils/chunk/chunk.go):

[code]

So, the result is that, tidb is accessing columns in different memory locations every time appending a new row, wh

[2020-11-04 11:10] #19018 closed

[2020-11-04 11:27] jackysp opened #20840 "Replace should not skip with ci collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Set `new_collations_enabled_on_first_bootstrap` to true in config file before tidb-server bootstrapped.
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
09c941fd8cec4

[2020-11-04 11:28] jackysp commented on #20840
It is interesting that `set tidb_enable_clustered_index = 1;` will not reproduce it. I think it caused by the clustered primary key.

[2020-11-04 11:30] nolouch commented on #19801
/unlabel sig/ddl

[2020-11-04 11:32] wjhuang2016 commented on #20840
@TszKitLo40 Could you fix this issue too?

[2020-11-04 11:34] nolouch commented on #19801
This is caused by the invalid address, you should let `advertise-address = 10.10.0.1`

[2020-11-04 11:35] #19801 closed

[2020-11-04 11:35] TszKitLo40 commented on #20840
I can have a try.

[2020-11-04 11:41] xhebox opened #20841 "hptc ycsb-worloade: Make use of AppendRows in all cases"
## Description

#20838 will introduce a new api for `util.(*Chunk)`. Find all `AppendRows` cases in TiDB, and make use of the new api. Make sure all tests are not effected.

## Sig Slack Channel

You can join #sig-exec on slack in your spare time to discuss and get help with mentors or others.

## Score

- 300

## Mentor

- @xhebox

## Recommended Skills

+ Golang

## Learning Materials

N/A

[2020-11-04 11:58] TszKitLo40 commented on #20840
/pick-up

[2020-11-04 12:05] blueseason commented on #11755
@qw4990 @jebter  Could you help review this PR? Thanks.

[2020-11-04 12:07] xhebox opened #20843 "hptc ycsb-worloade: Modify lookupTableTask to return merged rows, and improve AppendRows"
## Description

Every row from resultTask has its own chunk, even if their column definitions are same. This makes it impossible to `appendColumn(chk.columns[0], rows.columns[0])`, i.e. append one column of lots of rows
 to another column of the chunk(or the result) at once.

https://github.com/pingcap/tidb/tree/master/executor/distsql.go#L67-L70

https://github.com/pingcap/tidb/blob/master/execut

[2020-11-04 13:01] sre-bot opened #20845 "conn_test.go:ConnTestSuite.TearDownSuite failed"
conn_test.go:ConnTestSuite.TearDownSuite

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/56855/display/redirect

[2020-11-04 13:01] sre-bot opened #20846 "executor_pkg_test.go:testExecSerialSuite.TestSortSpillDisk failed"
executor_pkg_test.go:testExecSerialSuite.TestSortSpillDisk

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/56807/display/redirect

[2020-11-04 13:56] bb7133 commented on #20646
I will close this issue since the related code is not merged: https://github.com/pingcap/tidb/pull/20434

[2020-11-04 13:56] #20646 closed

[2020-11-04 18:48] kennytm opened #20848 "Support Background Execution or CREATE EVENT"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB contains some commands which requires a long-running connection, such as `BACKUP`, `RESTORE`, `LOAD DATA`, `SELECT INTO`, and in the future `IMPORT` and `FLASHBACK TO TIMESTAMP`. All of these operations will be aborted if the connection is lost. However, because of network conditions such requirement is fr

[2020-11-04 18:49] kennytm commented on #20848
There are 3 approaches to background execution, increasing in generality.

# 1. `ASYNC` option

In SAP HAHA, the [`BACKUP DATA`](https://help.sap.com/viewer/4fe29514fd584807ac9f2a04f6754767/2.0.05/en-US/75a06c444e9a4b3287a46a6a40b4ee69.html) statement (and *only* `BACKUP DATA` statement) can request the execution be asynchronous with the `ASYNCHRONOUS` option:

[code]

We could do the same to the

[2020-11-04 18:49] kennytm commented on #20848
# 3. `CREATE EVENT`

MySQL and MariaDB has a built-in [event scheduler](https://dev.mysql.com/doc/refman/8.0/en/event-scheduler.html), which allows background execution. The `ASYNC` statement above is equivalent to

[code]

MySQL is quite unique that provides a dedicated syntax for event schedulers. Other RDBMS does have the same concept but usually exposed via extensions or built-in stored proced

[2020-11-04 18:53] kennytm commented on #20848
/label   sig/DDL

[2020-11-04 21:05] kennytm commented on #4055
I'd like to dispute the priority of this issue.

MySQL's `DES_ENCRYPT(plaintext, keystr)` function is actually a 3DES in CBC mode (`des-ede3-cbc`). It will compute `MD5(keystr)`, then use the first 24 bytes as the key and the last 8 bytes as the IV. A `0xff` will be prefixed to the encrypted result.

Since the key and IV cannot be specified directly, it makes `DES_ENCRYPT` useless outside of MySQL

[2020-11-04 21:17] nullnotnil commented on #4055
These functions were removed in MySQL 8.0 because they are no longer considered safe. If they are to be added, we should consider hiding them behind a flag.

[2020-11-05 02:12] bb7133 commented on #20848
The description is impressive and I think the feature is reasonable. Thanks @kennytm

PTAL @zz-jason @ilovesoup

[2020-11-05 02:15] bb7133 commented on #20834
Hi @dhw-daniel , can you provide some minimal data/SQLs to reproduce the error?

[2020-11-05 02:49] xiongjiwei commented on #11435
/pick-up

[2020-11-05 02:59] ou-bing commented on #14765
/pick-up

[2020-11-05 03:08] djshow832 opened #20853 "Start global transactions for some special SQLs"
## Development Task

Some special SQLs visit metadata or they are executed in background sessions, so they should always begin as a global transaction.
This is a part of the global/local transaction roadmap #20448.

## Rationale

The special SQLs mentioned above include:
- Statements that write metadata, e.g. DDL, select nextval(seq), insert with an auto-increment column. Obtaining the next value

[2020-11-05 03:42] King-Dylan opened #20854 "load data in file get wrong result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?
use lightning import csv  i get result ：
[code]

3. What did you see instead?
[code]

4. What version of TiDB are you using (`tidb-server -V` or run `select tidb_version();` on TiDB)?
tidb-v4.0.8

5.

[2020-11-05 04:08] jackysp opened #20856 "Replace should not overwrite the same rows in CI collation with clustered index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Set `new_collations_enabled_on_first_bootstrap` to true in config file before tidb-server bootstrapped.
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
09c941fd8cec4

[2020-11-05 04:13] ou-bing commented on #20139
/pick-up

[2020-11-05 04:38] wjhuang2016 commented on #20856
I guess `insert on duplicate key update` also has this problem?

[2020-11-05 05:34] zhouqiang-cl opened #20859 "`gocritic` report many warnings"
## Description
## Bug Report
gocritic check found many warnings

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
No output

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master

## SIG slack channel

 [#sig-planner](https://slack.tidb.io/invite?team=tidb-community&channel=sig-planner&ref=high-perform

[2020-11-05 05:45] IANTHEREAL commented on #20848
very amazing.  A suggestion,  further consider Cloud usage scenarios, especially DBaaS, it will be better

[2020-11-05 06:05] wjhuang2016 commented on #20856
[code]

[2020-11-05 06:08] #20751 closed

[2020-11-05 06:10] you06 opened #20860 "adddate function can write invalid date"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

This bug occurs both in 4.0 and master

[code]

[2020-11-05 06:21] #20549 closed

[2020-11-05 06:22] jackysp commented on #20856
+1

[2020-11-05 06:29] Patrick0308 commented on #20838
/pick-up

[2020-11-05 06:35] #20654 closed

[2020-11-05 06:52] dhw-daniel commented on #20834
I can get the data. When I sort by primary key and paginate, the data is correct. When I use other fields to sort and paginate, the data is wrong。I'm not sure if there's something wrong with my DB ORM。How can I solve this problem

[2020-11-05 06:58] dyzsr commented on #9799
/assign

[2020-11-05 07:37] Patrick0308 commented on #18042
/pick-up

[2020-11-05 07:50] TommyLemon commented on #8961
@nullnotnil ok, thx

[2020-11-05 08:01] luxinle commented on #20069
/pick-up

[2020-11-05 08:03] wjhuang2016 opened #20869 "clustered index + new collation + transaction get wrong results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Right result
### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
master

[2020-11-05 08:25] wjhuang2016 commented on #20869
[code]

[2020-11-05 08:56] wjhuang2016 opened #20873 "`SHOW STATS_BUCKETS` shows incorrect boundary for clustered index + new collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Lower_Bound and Upper_Bound display right.
### 3. What did you see instead (Required)
Wrong
### 4. What is your TiDB version? (Required)

master

[2020-11-05 08:58] wjhuang2016 opened #20874 "clustered index + new collation + analyze panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
No panic
### 3. What did you see instead (Required)
Panic
### 4. What is your TiDB version? (Required)

master

[2020-11-05 09:03] winoros opened #20875 "Not so good row count estimation formula when the queried value is out of histogram's bounds"
## Development Task

In #18543, we modified the function `outOfRangeEQSelectivity(ndv, modifyRows, totalRows int64)` to make it more realiable in most cases.

But there're some places called it in such way `outOfRangeEQSelectivity(outOfRangeBetweenRate, modifyCount, int64(idx.TotalRowCount())) * idx.TotalRowCount()`.

The `outOfRangeBetweenRate` is passed as `ndv`. But it's just a constant `100`.

[2020-11-05 09:10] wjhuang2016 opened #20876 "clustered index + new collation + union panic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Right result
### 3. What did you see instead (Required)
Panic
### 4. What is your TiDB version? (Required)

master

[2020-11-05 09:19] mmyj commented on #20838
/pick-up

[2020-11-05 09:20] ichn-hu commented on #20860
/label help-wanted difficulty-easy

[2020-11-05 09:23] wjhuang2016 opened #20878 "clustered index + new collation + load get wrong error message"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
Warnings show the right row values.
### 3. What did you see instead (Required)
Warnings show the wrong row values.
### 4. What is your TiDB version? (Required)

master

[2020-11-05 09:31] SunRunAway commented on #20124
Fixed in https://github.com/pingcap/tidb/pull/20127

[2020-11-05 09:31] #20124 closed

[2020-11-05 09:31] SunRunAway commented on #18910
Fixed in https://github.com/pingcap/tidb/pull/20127

[2020-11-05 09:31] #18910 closed

[2020-11-05 09:54] bb7133 commented on #20831
Hi @kamaljitsinghsikhamazon ,

For now, we don't officially provide support for deploying TiDB on Mesos, most of the TiDB users use K8s instead. So far as I know, a few customers did deploy TiDB on Mesos but the details are not public.

Can you try TiDB on K8s instead? Or there are some frameworks that 'mock' K8s on Mesos like https://github.com/mesosphere but I don't know much about it.

[2020-11-05 10:08] wjhuang2016 opened #20879 "partition table doesn't consider collation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Return one row.
### 3. What did you see instead (Required)
Empty. Note that the chosen partition is wrong. It should be p2, not p1.

### 4. What is your TiDB version? (Required)

master, 4.0

[2020-11-05 10:19] wjhuang2016 opened #20880 "TiDB doesn't check `LOAD DATA` for view/sequence."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
Unexpected error or success.
### 3. What did you see instead (Required)
Get the expected error.
### 4. What is your TiDB version? (Required)

 master

[2020-11-05 11:14] Abingcbc commented on #20128
https://github.com/pingcap/tidb/blob/76c1d28af9535c198b014ace893bc884a629e676/expression/builtin_compare_vec_generated.go#L43-L44
The problem seems to be caused by type conversion. The bit-type value just converts to a number close to max float64.

Can I try to do this?

[2020-11-05 12:36] wjhuang2016 opened #20881 "clustered index + new collation + transaction, `delete from t` doesn't delete all the values."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
After `delete from t;`, all rows are removed.
### 3. What did you see instead (Required)
One row left.
### 4. What is your TiDB version? (Required)

master.

[2020-11-05 12:42] yufan022 commented on #17489
/pick-up

[2020-11-05 13:00] sre-bot opened #20882 "plan_test.go:testPlanNormalize.TestEncodePlanPerformance failed"
plan_test.go:testPlanNormalize.TestEncodePlanPerformance

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/56983/display/redirect

[2020-11-05 14:12] aylei commented on #20848
Very promising! Some random thoughts below:

I would like to see `EVENT` scheduling support on heterogeneous clusters. Different kind of `EVENT` requires very different ideal instance specifications with each other and the sql compute instance. For example, a problem we are facing now is that `IMPORT` requires a high CPU instance with effective local SSD to achieve ideal performance, while the SQL

[2020-11-05 16:47] nullnotnil commented on #19417
There is a behavior change in TiDB 4.0.6 which should help resolve this issue. See: https://github.com/pingcap/tidb/pull/19796

Autocommit transactions will now switch to pessimistic for retries. This is mentioned in the release notes, but updates to the documentation are pending in https://github.com/pingcap/docs/pull/4165

[2020-11-05 23:15] gregwebs commented on #20848
We can consider doing async by default without any additional keywords. The command will output the job id. Alternatively the user's command can still even block until completion (by checking on the async task) but if the command is interrupted it does not kill the async job.

Another approach to async by default is to add a SYNCHRONOUS keyword for when async is not desired.

[2020-11-05 23:23] gregwebs commented on #20848
@aylei I don't think having someone specify `ON INSTANCE` at import time would work well in that situation. Rather we would want a hook to automatically handle the node scheduling of any import event.

[2020-11-06 01:26] windtalker opened #20884 "TiDB push down broadcast join to TiFlash even if new collation is on"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Since TiFlash support broadcast join, TiDB will convert a join to broadcast join based on the CBO, however, in the past, TiFlash broadcast join does not support new collation, so TiDB will not convert a join to broadcast join if the new collation is on.

**Describe the feature you'd like:**

Now TiFlash already

[2020-11-06 01:51] IANTHEREAL commented on #20848
@aylei Good suggestion.  and agree with @gregwebs

I want to implementing a distributed scheduling framework. With this framework, TiDB can schedule the import job according to the fixed quota resource allocation firstly, and then realize the import job scheduling according to the real-time status evaluation of the cluster (without affecting the query significantly).

[2020-11-06 02:37] ichn-hu commented on #17818
/unassign @qw4990

[2020-11-06 02:37] ichn-hu commented on #17818
/assign @ichn-hu

[2020-11-06 02:50] qw4990 commented on #14103
This is finished by https://github.com/pingcap/tidb/issues/19369, so can we close this issue now? @ichn-hu

[2020-11-06 02:51] qw4990 commented on #20860
I will fix it soon.

[2020-11-06 02:52] ichn-hu commented on #14103
sure!

[2020-11-06 02:52] #14103 closed

[2020-11-06 02:54] ichn-hu commented on #20860
I would advise to let the people from the community to fix it, since it is not very urgent.

[2020-11-06 03:02] bb7133 commented on #20834
Sorry but I need more detailed information about your issue, how the data is 'incorrect'? What is the expected data? Is there any way to reproduce it for the others?

For example, this issue https://github.com/pingcap/tidb/issues/20869 provides a sequence of SQLs, expected results and incorrect results, so we can easily diagnosis it and fix it. Can you give some instructions like that?

[2020-11-06 03:18] jackysp commented on #20731
We could just describe our behavior, we don't need to emphasize consistency with Oracle.

[2020-11-06 03:35] dhw-daniel commented on #20834
I found the cause of the error. When I sorted and paginated using sorts, I selected ID and name to get error data. When I select id, sort gets the correct data

this error json data
[code]
this correct  json data
`{"code":0,"msg":"success","data":{"list":[{"id":56,"sorts":8},{"id":52,"sorts":7},{"id":53,"sorts":6},{"id":30070,"sorts":0},{"id":30069,"sorts":0},{"id":30064,"sorts":0},{"id":30063,"so

[2020-11-06 03:40] #19667 closed

[2020-11-06 03:54] kennytm commented on #20848
@gregwebs

We tried doing async by default when implementing BACKUP and RESTORE (#15274). The user experience is extremely weird because the statement returned without any immediate effect. This also goes against the mainstream behavior of existing commands like SELECT INTO and LOAD DATA, or that in other DBMS like CockroachDB (IMPORT), all of which block and abort if the connection is closed. The

[2020-11-06 04:06] #10492 closed

[2020-11-06 05:11] dyzsr commented on #10151
/assign

[2020-11-06 05:16] dyzsr commented on #9799
#18973 can close this issue.

[2020-11-06 05:32] #20820 closed

[2020-11-06 05:41] jyz0309 opened #20890 "Change read slow-log file module to concurrent"
## Description
Currently, reading the slow-log is a serial operation, which greatly reduces the efficiency of the slow log query, so we can change the read operation to a concurrent mode to speed up it.
IMO, We can try to use multiple threads to read one slow log file, which I think will greatly speed up the slow log file reading speed.

**You can see `/executor/slow_query.go` to know more.**

##

[2020-11-06 06:03] Fizell commented on #20890
/pick-up

[2020-11-06 06:15] #20454 closed

[2020-11-06 06:44] wshwsh12 opened #20891 "Redact log can't take affect to expensive log."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
In expensive log, the SQL should be normalized.

### 3. What did you see instead (Required)
In expensive log, it will print original SQL. [sql="select sleep(70)"]
### 4. What is your TiDB version? (Required)
master

[2020-11-06 06:46] lzmhhh123 commented on #17154
I think it's not a bug. Because the `union` needs all columns from each child to have the same return type. The int column should be converted to big int by default. Then the equal condition also should match the cast function, otherwise if truncates happen, the query may get the wrong result.

[2020-11-06 06:47] lzmhhh123 commented on #17154
@wshwsh12 If you agree with me, please close the issue.

[2020-11-06 06:50] wshwsh12 commented on #17154
@lzmhhh123 Maybe it can be a feature? Mysql 8.0 can use index in this situation

[2020-11-06 06:51] lzmhhh123 commented on #17154
Yes, but we should check whether this is a truncated situation happen. In this case, `1` never be truncated when `int` convert to `bigint`.

[2020-11-06 06:52] lzmhhh123 commented on #17154
This issue type should be `type/enhancement`.

[2020-11-06 07:05] july2993 commented on #20832
duplicate of https://github.com/pingcap/tidb-operator/issues/3436

[2020-11-06 07:09] iosmanthus opened #20893 "`explain format='hint'`'s ouput is not recoverable."
## Description
## Bug Report

### 1. Minimal reproduce step (Required)
Create a cluster that contains one `TiFlash` node.

[code]

And here is the warnings:
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

`Master`

## SIG slack channel

[#sig-planner](https://slack.tidb.io/invite?team=t

[2020-11-06 07:14] blueseason commented on #11755
/help

[2020-11-06 07:15] blueseason commented on #11755
/pick-up

[2020-11-06 07:18] IANTHEREAL commented on #20848
This is a more complicated issue. let us consider a question, why need the schedule?

I think there are two main use case

1.  allocating sufficient resources for task running
2.  resource isolation to reduce the impact

 `CREATE EVENT's ON INSTANCE` is enough for case 1, my main concern is in case 2, which is a more important issue for users.
We can delegate the responsibility of scheduling to th

[2020-11-06 07:21] winoros commented on #20822
closed via #19837

[2020-11-06 07:21] #20822 closed

[2020-11-06 07:23] tiancaiamao commented on #20484
I have compared the change:

![image](https://user-images.githubusercontent.com/1420062/98337238-46f08e80-2043-11eb-9c8b-afd53f74e89a.png)

avg latency drop from 11.93ms => 11.02ms
qps increase from 1340.92 => 1452.11 , **8.29%**

and here is the benchmark log:

[code]

[2020-11-06 07:29] tiancaiamao commented on #20484
We can see that the Get operation is decreased by half, because after the change we avoid the get operation to check the new key's existence

![image](https://user-images.githubusercontent.com/1420062/98337828-2f65d580-2044-11eb-8ca5-b1336f46f10e.png)

[code]

[2020-11-06 07:29] tiancaiamao commented on #20484
@xiaodong-ji

[2020-11-06 07:36] blueseason commented on #11755
@SunRunAway, please help review this PR, thanks

[2020-11-06 07:39] spf913 opened #20895 "Deploy Tidb On MESOS Cluster Using Kubernetes (CHEAP)"
## Proof of Concept
# get $20 3 droplet from Digital ocean
# install centos 8.2
[code]
# Don't Even Bother to compile that kube-mesos-framework On that Cheap Server
# Just Straight Download and place (Instruction Above)
# just use HELM template or Kubectl to deplot Tidb Cluster on Mesos Cluster
# go to: <mesos_master_ip>:5050
# under framework Tab
# KUBERNETES :) Deployed
# download and Extract KU

[2020-11-06 07:42] kennytm commented on #20848
I think aylei's labeling idea works, although you could also just log into that isolated TiDB and execute `CREATE EVENT ON CURRENT INSTANCE ONLY` on that machine, since the SQL statement itself can only be executed by exactly one node at a time (labeling is still more flexible for recurring events).

Anything lower level than "which TiDB to run this SQL" is not the concern of this issue, since tha

[2020-11-06 07:49] crazycs520 opened #20896 "set tidb_general_log take no effect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

master branch, git hash: `76c1d28af9535c198b014ace893bc884a629e676`

[2020-11-06 07:50] IANTHEREAL commented on #20848
No technical problem, but technology cannot be separated from the use case. From the user perspective, I don't prefer to provide schedule syntax, which also is related to the evolution of the function arch

[2020-11-06 07:59] kennytm commented on #20848
Yes you can leave the PLACEMENT CONSTRAINTS out. That ON INSTANCE clause is also optional. What I mean is that CREATE EVENT / ASYNC / etc do not care about how IMPORT works, it just creates a connection when time's up, execute the IMPORT as instructed, and that's all.

[2020-11-06 08:05] IANTHEREAL commented on #20848
Yes, I agree with it.  And ON INSTANCE clause is optional, would the syntax confuse the user?

[2020-11-06 08:06] ilovesoup commented on #20423
Fallback only happens when users said it's allowed, for example, both engines are allowed by CBO.

[2020-11-06 08:20] kennytm commented on #20848
Since MySQL and MariaDB (being a single instance) does not have this clause, I think no users will be confused by the lack of it 😅.

When it is not provided one default should be picked. `ON ANY INSTANCE` should be better for flexibility, and allows us to switch to any magical scheduling scheme in the future.

[2020-11-06 08:22] TszKitLo40 commented on #20236
/pick-up

[2020-11-06 08:24] #20207 closed

[2020-11-06 08:51] you06 opened #20899 "amend txn: inconsistency when update and add/drop index parallel"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

This case will lead to this bug in a great possible.

[code]

### 2. What did you expect to see? (Required)

Admin check table got no error.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-06 08:54] XuHuaiyu opened #20900 "keep the default memory-quota-query as before if the tidb cluster is updated from a lower version"
## Development Task
If a user updates the tidb cluster from a lower version to v4.0.x, the memory-quota-query will be changed from 32GB to 1GB. It may cause a bad influence on the business.

- [x] Set the memory-quota-query default value as 1GB if it's a newly-built cluster
- [x] Keep the memory-quota-query default unchanged if the tidb cluster is updated from a lower version

[2020-11-06 08:56] spf913 opened #20902 "Learning Rust And GO"
Working On TiDB Application Logic. (adopting keepalived, nginx and Metallb) for multi master kubernetes
deploy on multi master MESOS cluster (No single Point of failure) (cheap)
Working on tidb-operator to adopt Heketi and CIPH on MESOS Cluster
Deploying Tidb Storage On Ram Using Cheap $20 :) server from DigitalOcean

https://github.com/pingcap/tidb-operator/issues/3470

Will Publish a Fork Of Bot

[2020-11-06 09:14] #20101 closed

[2020-11-06 09:31] xiaodong-ji commented on #20484
The result of the trace is the same when the tidb_constraint_check_in_place parameter is turned on and off.

[2020-11-06 09:53] #20698 closed

[2020-11-06 09:54] lzmhhh123 commented on #20698
Solved by https://github.com/pingcap/tidb/pull/20338

[2020-11-06 10:12] blacktear23 commented on #20217
/pick-up

[2020-11-06 10:39] JinLingChristopher commented on #20217
/give-up

[2020-11-06 11:23] xiongjiwei commented on #20879
/assign

[2020-11-06 11:24] xiongjiwei commented on #20879
/assign @xiongjiwei

[2020-11-06 11:43] pengfeiwang-cn commented on #20856
MySQL  127.0.0.1:4000  test  SQL > replace into t1 values ('A');
Query OK, 0 row affected (0.0011 sec)

should _be Query OK, **1** row affected (0.0011 sec)_

[2020-11-06 11:50] wjhuang2016 commented on #20869
Duplicate with https://github.com/pingcap/tidb/issues/20881

[2020-11-06 12:06] ilovesoup commented on #20810
This is not a valid test description I think. Would you please specify it more clear?

[2020-11-06 12:30] you06 opened #20909 "amend transaction: unique index not compatible with binlog"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Start two clusters and connect them with tidb binlog(pump & drainer), execute this from upstream.

[code]

### 2. What did you expect to see? (Required)

Upstream and downstream got same result.

[code]

### 3. What did you see instead (Required)

The data in downstream is

[2020-11-06 12:37] tiancaiamao commented on #20483
UPDATE sbtest7 SET k = k + 1 WHERE id = ?

![image](https://user-images.githubusercontent.com/1420062/98366960-c431f880-206f-11eb-8a22-a4029f3702c8.png)

[2020-11-06 12:50] zyguan opened #20910 "Amend transaction may still lead to data inconsistency when adding unique index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error reported by `admin check table`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

release-4.0 @ 45571c5e9bcc63195bc06b0aab19ddaac5fd4d2a

[2020-11-06 12:52] zyguan commented on #20910
cc @cfzjywxk

[2020-11-06 13:31] djshow832 opened #20911 "Provide API to obtain the DC information of partitions"
## Development Task

Local transactions need to check whether the partitions they write are bound to the specific scope.
This is a part of the global/local transaction roadmap #20448.

For example:
1. One TiDB instance is configured with `txn_scope=bj`, which means the TiDB instance is located in Beijing DC.
2. This TiDB instance typically starts local transactions and the TSO is allocated from a

[2020-11-06 13:38] JinLingChristopher commented on #20217
/unassign

[2020-11-06 13:39] JinLingChristopher commented on #20217
@blacktear23 , you can type `/assign` to pick up this issue now.

[2020-11-06 14:22] blacktear23 commented on #20217
/assign

[2020-11-06 14:57] zyguan opened #20912 "Amend transaction can cause lost update"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

release-4.0

[2020-11-06 14:57] zyguan commented on #20912
cc @cfzjywxk

[2020-11-08 02:48] ssmmray opened #20915 "create changefeed met a error"
when execute command
`tiup cdc cli changefeed list --pd=http://172.16.0.118:2379
`
this  error occurred

[2020/11/08 10:45:09.977 +08:00] [WARN] [client_changefeed.go:143] ["query changefeed info failed"] [error="404 page not found\n bad request"]

[2020-11-08 03:37] #20915 closed

[2020-11-09 02:07] LENSHOOD commented on #19507
/pick-up

[2020-11-09 02:14] nullnotnil commented on #20896
This is currently expected behavior. This setting is 'instance scoped' ([docs](https://docs.pingcap.com/tidb/stable/system-variables#tidb_general_log)).

Since `SET GLOBAL` propagates to the cluster, and `INSTANCE` scoped variables are not yet a first-class feature, they use `SESSION` scope in this way. This should be considered a duplicate of https://github.com/pingcap/tidb/issues/19332

[2020-11-09 02:19] nullnotnil commented on #15959
I have verified this against MySQL, and TiDB is currently behaving as expected. Here is a test case:
[code]

In MySQL 8.0.22:
[code]

In TiDB:
[code]

I am going to close this as fixed. Thanks!

[2020-11-09 02:19] #15959 closed

[2020-11-09 02:50] XuHuaiyu opened #20918 "tidb_general_log does not work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master branch

[2020-11-09 02:50] #20891 closed

[2020-11-09 02:52] wjhuang2016 commented on #20918
Duplicate with https://github.com/pingcap/tidb/issues/20896

[2020-11-09 03:17] #20918 closed

[2020-11-09 03:42] #20104 closed

[2020-11-09 03:43] SunRunAway commented on #20875
cc @qw4990

[2020-11-09 03:53] Yisaer commented on #20911
/assign

[2020-11-09 05:22] #20733 closed

[2020-11-09 05:26] LENSHOOD commented on #19521
@xiongjiwei
Hi, I've did some research:
In MySQL 5.7 source code, there's a `CHARSET_INFO.txt` file to illustrate method info relate to charset and collation.
It's said that:
[code]

In the code implementation, *find_in_set()* call `strnncoll()` to compare the element, but *str_cmp()* will call `strnncollsp()`. That's why *find_in_set()* cannot apply the PAD SPACE attribute.
(*finde_in_set()* loca

[2020-11-09 06:09] lzmhhh123 commented on #12840
can't reproduce.

[2020-11-09 06:09] #12840 closed

[2020-11-09 06:12] #17766 closed

[2020-11-09 06:12] lzmhhh123 commented on #17766
duplicated closed.

[2020-11-09 06:16] ichn-hu commented on #17818
After investigation, this issue is fixed in #16444 , and it can be closed now.

@lzmhhh123 please help close it.

[2020-11-09 06:17] #17818 closed

[2020-11-09 06:24] TszKitLo40 opened #20928 "some slow logs may be ignored in getBatchLog"
## Bug Report

![image](https://user-images.githubusercontent.com/18443139/98506889-6b44a900-2297-11eb-8d52-204ca2f7a2e6.png)
If we parse a log like the log mentioned above, the code in `slow_query.go` may have bugs. The slow log `use test; select * from t;` will be ignored if the `logNum` is small.
![image](https://user-images.githubusercontent.com/18443139/98506616-dd68be00-2296-11eb-98dd-ce2933

[2020-11-09 06:26] TszKitLo40 commented on #20928
@crazycs520 @jyz0309 PTAL, I think I can try to fix it.

[2020-11-09 06:38] cfzjywxk commented on #20500
Currently, we could only reproduce this issue by importing data with lightening and doing `insert into ... on duplicate update` at the same time, the phenomenon looks like what is found in the issue description. The issue is changed into an enhancement work for detecting such concurrent writes to the TiDB cluster importing data.

[2020-11-09 06:44] zhangysh1995 commented on #20305
/pick-up

[2020-11-09 06:45] zhangysh1995 commented on #20305
@JinLingChristopher Hi, I followed the link from bug fixing challenge to here, but I could not pick up this issue.

[2020-11-09 06:57] zhangysh1995 commented on #20060
/pick-up

[2020-11-09 07:00] zhangysh1995 commented on #20060
/give-up

[2020-11-09 07:04] JmPotato commented on #20448
assign "Update the PD Client wrapper to support the new Local/Global TSO generation." @JmPotato

[2020-11-09 07:04] zhangysh1995 commented on #19892
/pick-up

[2020-11-09 07:37] jyz0309 commented on #20928
Can you provide a way to reproduce the bug?😂
In fact, when I try to use `select count(*) from information_schema.slow_query;` to test this slow log:
[code]
the sql result is correct(the num of slow log is 1). Just seem it have not ignored this slow log

[2020-11-09 07:37] wshwsh12 commented on #12447
Fixed by https://github.com/pingcap/tidb/pull/13243

[2020-11-09 07:39] TszKitLo40 commented on #20928
This log would not be ignored. But the line `use test; select * from t;` will be ignored.

[2020-11-09 07:40] #12447 closed

[2020-11-09 07:44] jyz0309 commented on #20928
Yeah, I got it. It seem that the Prev_stmt field cause this bug. 😂

[2020-11-09 07:45] TszKitLo40 commented on #20928
Yes, `Prev_stmt` can't be parsed correctly. I can try to file a PR to fix it.

[2020-11-09 07:46] zhangysh1995 commented on #20305
/pick-up

[2020-11-09 07:49] wjhuang2016 opened #20932 "clustered index + new collation + transaction gets the wrong error message"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
The error message displays the right(a7-a-10) value.
### 3. What did you see instead (Required)
The error message displays the wrong value.
### 4. What is your TiDB version? (Required)

master

[2020-11-09 07:56] #20869 closed

[2020-11-09 08:01] wshwsh12 commented on #12202
Fixed by https://github.com/pingcap/tidb/pull/13705

[2020-11-09 08:02] #12202 closed

[2020-11-09 08:24] ichn-hu commented on #10392
/assign @ichn-hu

[2020-11-09 08:28] ichn-hu commented on #1161
/assign @ichn-hu

[2020-11-09 08:37] #20629 closed

[2020-11-09 08:52] Qanora opened #20936 "[ddl] init domain failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2020-11-09 08:58] xiongjiwei commented on #19521
That's a good job, thank you for your investigation, it's very helpful.

[2020-11-09 09:02] lzmhhh123 commented on #16039
fixed by https://github.com/pingcap/tidb/pull/20158

[2020-11-09 09:05] tiancaiamao commented on #11077
This issue is pretty old and we have done a lot after it.

https://github.com/pingcap/tidb/pull/15592 distsql
https://github.com/pingcap/tidb/pull/18445 cop response
https://github.com/pingcap/tidb/pull/20270 hash executor
... and so on ...

and I've just tested to ensure the `kill` command works

![image](https://user-images.githubusercontent.com/1420062/98520795-88847200-22ad-11eb-9b89-69949b8d1

[2020-11-09 09:06] #20692 closed

[2020-11-09 09:08] SunRunAway commented on #11077
Thanks.

[2020-11-09 09:08] #11077 closed

[2020-11-09 09:25] Yisaer commented on #20827
/assign

[2020-11-09 09:25] wjhuang2016 commented on #19521
@LENSHOOD @xiongjiwei It occurs to me that MySQL would ignore padding in `set`. And this why `find_in_set`

[2020-11-09 09:25] #19521 closed

[2020-11-09 09:29] qw4990 commented on #16939
The error occurs when decoding in `tidb_decode_plan`, PTAL @crazycs520

[2020-11-09 09:31] LENSHOOD commented on #19521
No problem.

[2020-11-09 09:45] qw4990 commented on #17749
It's not a bug, and the reason is that `new_collation_enabled` is not enabled:
[code]

[2020-11-09 09:45] #17749 closed

[2020-11-09 09:50] wjhuang2016 commented on #17749
After enable the new collation:
[code]
So, not a bug.

[2020-11-09 10:10] wjhuang2016 commented on #20876
UNION is not needed.
[code]

[2020-11-09 10:15] jebter commented on #12202
Unsupported behavior, not a bug

[2020-11-09 10:17] jebter commented on #12203
Unsupported behavior, not a bug

[2020-11-09 10:17] jebter commented on #12202
Unsupported behavior, not a bug

[2020-11-09 10:18] jebter commented on #12447
Unsupported behavior, not a bug

[2020-11-09 10:25] breeswish commented on #12447
@jebter The title is the error message that user will encounter. To reproduce, user just executes a normal SQL, using all valid functions or syntax in the documentation.

[2020-11-09 11:29] qw4990 commented on #12445
This bug cannot be reproduced on `master` and `v4.0`, so I close it.

[2020-11-09 11:29] #12445 closed

[2020-11-09 11:36] qw4990 commented on #19982
Can we close this issue since we cannot reproduce this bug now? @cyliu0

[2020-11-09 11:37] qw4990 commented on #19982
Close since we cannot reproduce it now. Open it again if it is reproduced in the future.

[2020-11-09 11:37] #19982 closed

[2020-11-09 11:41] breeswish commented on #12203
@jebter Why is it not a bug?

[2020-11-09 12:05] wjhuang2016 commented on #20936
TiDB master is not compatible with the 4.0 cluster now. You need to use the nightly cluster.
`tiup playground nightly --db.binpath tidb-server`

[2020-11-09 12:18] #20936 closed

[2020-11-09 13:00] sre-bot opened #20941 "DATA_RACE:runtime.mapassign_faststr() failed"
DATA_RACE:runtime.mapassign_faststr()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/57353/display/redirect

[2020-11-09 13:30] Yisaer opened #20943 "ddl, placement: add placement policy failed for partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. create 1pd/3kv/1tidb (master version) by tiup playground
2. create partition table by:

[code]
3. add placement policy with following steps:
[code]

### 2. What did you expect to see? (Required)
create rules successfully

### 3. What did you see instead (Required)

[code]

[2020-11-09 13:36] francis0407 commented on #17785
/assign

[2020-11-09 16:55] Lvnszn opened #20945 "table with read lock can be updated"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
lock tablse sbtest1 read;
update sbtest1 set k = 2 where id = 1;

### 2. What did you expect to see? (Required)
update unsuccessful
### 3. What did you see instead (Required)
update success
MySQL [benchmark]> unlock tables;
Query OK, 0 rows affected (1.01 sec)

MySQL [benchm

[2020-11-09 20:35] spf913 commented on #20831
@bb7133 can you pls just help me little bit to contribute??
https://github.com/pingcap/tidb-operator/issues/3455#issuecomment-723711705

[2020-11-10 01:18] asiafrank commented on #8733
/pick-up

[2020-11-10 02:27] wshwsh12 commented on #12203
Fixed by https://github.com/pingcap/tidb/pull/14571

[2020-11-10 02:30] xiongjiwei commented on #20209
/assign @xiongjiwei

[2020-11-10 02:52] crazycs520 commented on #20945
@Lvnszn Could you check the config value of `enable-table-lock` is `true`? You can use the following SQL to query.
[code]

You need to make sure `enable-table-lock` is true when you want to use the table lock feature.

[2020-11-10 03:19] blacktear23 commented on #20945
@crazycs520 I can reproduce it. This is because update with where goes PointGetPlan and this path is missing table lock check code.

[2020-11-10 03:27] #12203 closed

[2020-11-10 03:45] ichn-hu commented on #17781
@BusyJay Hi Jay, is there any updates about this issue? If we can't reproduce and confirm it is a bug, I'd like to close it, do you have any suggestions?

[2020-11-10 03:47] ichn-hu commented on #14280
Hi @iosmanthus @qw4990 , what's the current status of this issue? Is it already fixed?

[2020-11-10 03:47] lzmhhh123 commented on #20810
It seems the results of `col_bigint_unsigned * col_float` is a little different between tikv and tidb. So it gets the wrong results order.

[2020-11-10 03:51] ichn-hu commented on #11866
Hi @dragonly do you have any updates on this?

[2020-11-10 03:52] ichn-hu commented on #11212
@Win-Man Friendly ping~ Do you have any updates on this?

[2020-11-10 04:15] Win-Man commented on #11212
I think this problem is caused by [rewriteVariable](https://github.com/pingcap/tidb/blob/master/planner/core/expression_rewriter.go#L1114), TiDB handles variable A as `mysql.TypeString`. But it support to be handled as `mysql.TypeLongLong`.

But I have not yet figured out how to fix it.

[2020-11-10 04:58] ichn-hu commented on #1161
It is confirmed that this bug still persists in the current master branch, even if we explicitly use the `utf8mb4` collation.

[code]

[2020-11-10 05:00] ichn-hu commented on #1161
/assign @bb7133

[2020-11-10 05:09] ichn-hu commented on #1161
After a more careful investigation, this bug is already fixed.

As the document states, https://docs.pingcap.com/tidb/stable/character-set-and-collation#new-framework-for-collations, we need to enable

[code]

on the first time of bootstrap, and then the collation will work as MySQL.

[code]

@lzmhhh123 Please help close this issue.

[2020-11-10 05:10] #1161 closed

[2020-11-10 05:11] BusyJay commented on #17781
No, we can still open this if it's reproduced or reported.

[2020-11-10 05:18] ichn-hu commented on #17781
Cool, then I'll close it for now, feel free to reopen it if there are any updates.

[2020-11-10 05:18] pepezzzz opened #20949 "Duplicate entry in global unique index report key 'UNKNOWN'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

MySQL [test1106]> create table t_part_pk_id2(id int primary key, studentid int(10)) partition by hash(id) partitions 2;
Query OK, 0 rows affected (0.08 sec)

MySQL [test1106]> alter table t_part_pk_id2 add unique index(studentid);
Query OK, 0 rows affected (2.78 sec)

MySQL

[2020-11-10 05:19] lzmhhh123 commented on #20810
Already reproduced.

[code]

[2020-11-10 05:20] crazycs520 commented on #20949
@tiancaiamao PTAL

[2020-11-10 05:22] #17781 closed

[2020-11-10 05:23] lzmhhh123 commented on #20810
And the table data and meta is:

[code]

[2020-11-10 05:35] dyzsr commented on #18350
/assign

[2020-11-10 05:35] dyzsr commented on #17748
/assign

[2020-11-10 05:47] lzmhhh123 commented on #20810
From MySQL 8.0, the `-0` and `0` also don't affect order:

[code]

I think we should close the issue. Because it's not a bug, just affects the copr-test.

[2020-11-10 05:48] #20810 closed

[2020-11-10 05:48] breeswish commented on #20810
Since it is not a bug, I closed this issue and removed the bug label.

[2020-11-10 05:51] Yisaer opened #20951 "testPointGetSuite.TestIssue20692 timeout"
## Bug Report

[code]

https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/57449/nodes/86/steps/314/log/?start=0

[2020-11-10 05:52] Yisaer commented on #20951
It seems introduced in https://github.com/pingcap/tidb/pull/20842 @Patrick0308 @lzmhhh123  PTAL

[2020-11-10 06:05] ichn-hu commented on #20136
/assign @ichn-hu

[2020-11-10 06:09] SunRunAway opened #20952 "unit test of planner/core takes too much time"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

Seen in https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/57358/

[2020-11-10 06:11] SunRunAway commented on #20952
cc @winoros

[2020-11-10 06:19] SunRunAway opened #20953 "Unexpected result of MySQL test with Index Merge Join hint"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integratio

[2020-11-10 06:25] #20571 closed

[2020-11-10 06:25] #20953 closed

[2020-11-10 06:41] #20845 closed

[2020-11-10 06:44] jebter commented on #12203
After discussion, it is still defined as a bug.

[2020-11-10 06:45] jebter commented on #12447
After discussion, it is still defined as a bug.

[2020-11-10 06:45] jebter commented on #12202
After discussion, it is still defined as a bug.

[2020-11-10 07:09] qw4990 commented on #13562
Close since `TimestampAdd` tests have been removed.

[2020-11-10 07:09] #13562 closed

[2020-11-10 07:12] qw4990 commented on #17138
Close it now since it cannot be reproduced. We can open it again if it occurs in the future.

[2020-11-10 07:12] #17138 closed

[2020-11-10 07:28] Win-Man opened #20958 "The query result using INNER JOIN xxx USING(col1) didn't return col1 value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

- MySQL-8.0.19
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
[code]

[2020-11-10 07:41] qw4990 commented on #13018
This issue has the same root cause with https://github.com/pingcap/tidb/issues/17868.

[2020-11-10 07:53] lzmhhh123 commented on #11212
Could https://github.com/pingcap/tidb/pull/18973 fix this issue? @Win-Man

[2020-11-10 08:18] wjhuang2016 commented on #19016
Presently, it's the "expected behavior". Because we don't truly support "character_set_results". So I think it's should be a feature request: support "character_set_results".

[2020-11-10 08:44] wshwsh12 commented on #12849
Fixed by https://github.com/pingcap/parser/pull/1064.
Now parser can distinguish `not` and `!` correctly.

[2020-11-10 08:45] #12849 closed

[2020-11-10 09:10] wjhuang2016 commented on #20720
Closed by #20754

[2020-11-10 09:10] #20720 closed

[2020-11-10 09:15] wjhuang2016 commented on #19701
1. The error is expected since `alter table` changes the schema.
2. @cfzjywxk mentioned that `update` would change the schema, but I can't reproduce, maybe it's fixed in other PR.

[2020-11-10 09:21] wshwsh12 commented on #20952
same with https://github.com/pingcap/tidb/issues/20951

[2020-11-10 09:22] #20952 closed

[2020-11-10 09:51] #19507 closed

[2020-11-10 10:56] SunRunAway commented on #16096
Duplicate of #16817

[2020-11-10 10:56] #16096 closed

[2020-11-10 11:12] SunRunAway commented on #20834
@dhw-daniel Could you provide the table schema and the SQL?

[2020-11-10 11:21] SunRunAway commented on #20655
@cfzjywxk PTAL

[2020-11-10 11:24] Aaaaaaron opened #20963 "Site: 404 in github home link CONTRIBUTING.md"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
This link is missing

![image](https://user-images.githubusercontent.com/15643702/98667982-2baab980-238a-11eb-91c7-63025ec2309b.png)

![image](https://user-images.githubusercontent.com/15643702/98668028-3b2a0280-238a-11eb-976b-c38ed71ec917.png)

### 2. What did you expect to

[2020-11-10 11:40] ichn-hu commented on #11866
/assign @dragonly

[2020-11-10 11:50] cfzjywxk commented on #20909
Currently, it's difficult to make them comptatible for such scenerios, we'll document about this.

[2020-11-10 11:53] cfzjywxk commented on #20912
We'll document about this by now.

[2020-11-10 11:59] Win-Man commented on #11212
@lzmhhh123 I tested it, #18973 could fix this problem.
[code]

I don't need to fix it by myself.

[2020-11-10 12:01] #20884 closed

[2020-11-10 13:00] sre-bot opened #20968 "DATA_RACE:runtime.mapaccess2_faststr() failed"
DATA_RACE:runtime.mapaccess2_faststr()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/57458/display/redirect

[2020-11-10 13:12] pingyu commented on #16581
/pick-up

[2020-11-10 15:26] tiancaiamao commented on #20483
[code]

The dominant part of the time consuming is still 2PC (8.6ms), among which there are:
3.5ms prewrite
3.5ms commit
1.6ms get commit ts

And then comes the read operation (2.6ms) in the update statement:
1.6ms get start ts
1.5ms point get x2

Others like parse and compile can be omitted.

[2020-11-10 15:57] #20951 closed

[2020-11-10 22:38] nullnotnil commented on #20795
I modified the testcase to be `SELECT SLEEP(10)` instead of `SELECT * FROM t`, and I get the same behavior in MySQL and TiDB:

[code]

I thought that maybe MySQL would explain the last statement performed in the session (to prevent the race condition of the statement finishing), but this isn't the case. Both TiDB and MySQL require the statement to still be running in order to `EXPLAIN` it.

@ChenP

[2020-11-10 23:07] nullnotnil commented on #11924
I used the following testcase to generate a join which reliably runs 10 seconds:
[code]

If I continually poll information_schema, I can see the memory usage is stable (including with other variations of rows in the table and a shorter sleep). Once the statement is complete, the memory reduces to zero bytes:

[code]

My interpretation of the bug, is that this shows the sum of memory allocations du

[2020-11-10 23:07] #11924 closed

[2020-11-10 23:13] nullnotnil commented on #17732
This is a duplicate of https://github.com/pingcap/tidb/issues/8854 - it is a feature request, not a bug. Previously the connection_id in TiDB was local to a server, so it was unsafe to allow a `kill` from another MySQL connection (assuming there is a load balancer in between, there are no guarantees you will reach the same "local" tidb server.)

[2020-11-10 23:18] nullnotnil commented on #17776
Confirming that this has been fixed against master:
[code]

I am going to close this issue now. Thanks!

[2020-11-10 23:18] #17776 closed

[2020-11-11 00:55] nullnotnil commented on #17613
I believe this issue is because the syntax for `EXPLAIN FOR CONNECTION` was added before the functionality was (which is quite common, since the parser can be further ahead).

From the docs comparing [3.0](https://docs.pingcap.com/tidb/v3.0/sql-statement-explain) and [4.0](https://docs.pingcap.com/tidb/stable/sql-statement-explain), this sentence has been added:

This links to an anchor in the pag

[2020-11-11 00:55] #17613 closed

[2020-11-11 01:10] bezmax opened #20971 "Support for vitess' hashing algorithm"
## Feature Request

**Is your feature request related to a problem? Please describe:**
As a part of the migration from Vitess to TiDB we need to have a safe way to replicate the changes across two databases and safely go back in case of a disaster. For this process to work and be scalable, it is imperative to be able to efficiently calculate which shard on Vitess' side the data belongs into - so t

[2020-11-11 01:12] tiancaiamao commented on #11945
This is fixed in https://github.com/pingcap/tidb/pull/16375 and it has been cherry-picked to 4.0 https://github.com/pingcap/tidb/pull/16723

[2020-11-11 01:12] #11945 closed

[2020-11-11 01:22] bezmax commented on #20971
I have prepared a set of POC/Draft PRs implementing this feature. Please take a look.

In order PRs need to be merged:
1. https://github.com/pingcap/tipb/pull/198
2. https://github.com/pingcap/parser/pull/1089
3. https://github.com/pingcap/tidb/pull/20972

[2020-11-11 01:28] nullnotnil commented on #16128
I can't reproduce this against master, so I believe it has been fixed. Here is my testcase. First in SQL:
[code]

Then a small c program:
[code]

The output of this program is:
[code]

I am going to close this issue now, but please feel free to reopen if you have a different testcase to try. Thanks!

[2020-11-11 01:28] #16128 closed

[2020-11-11 01:45] tiancaiamao commented on #17699
I haven't seen this happen for quite a long time and there is no report about it anymore, so close it.

[2020-11-11 02:09] #18347 closed

[2020-11-11 02:13] xiongjiwei opened #20973 "some expression in partition definition should get syntax error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

syntax error

### 3. What did you see instead (Required)

success

### 4. What is your TiDB version? (Required)

[2020-11-11 02:13] xiongjiwei commented on #20973
/label sig/ddl

[2020-11-11 02:14] xiongjiwei commented on #20973
/assign @xiongjiwei

[2020-11-11 02:25] Reminiscent commented on #20958
/assign

[2020-11-11 02:41] #20231 closed

[2020-11-11 02:44] zz-jason commented on #20795
@nullnotnil Different from MySQL, TiDB returns the execution plan of the last executed statement or the running statement as the result of `explain for connection`.

[2020-11-11 02:56] nullnotnil commented on #15465
I believe this has been fixed (I copied the schema and data from a different issue). Here is the testcase:
[code]

The TiDB output is now:
[code]

MySQL 8 only returns one warnng, but because this is a strange edgecase (see there where - it is coercing the column and a strng to a bool), I think this can be categorized as a compatibility issue and not strictly a bug.

[2020-11-11 03:02] wjhuang2016 opened #20975 "Unexpected "Information schema is changed" when commits"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Commit successfully.
### 3. What did you see instead (Required)
Information schema is changed during the execution of the statement
### 4. What is your TiDB version? (Required)

4.0 master

[2020-11-11 03:09] sticnarf opened #20976 "Async commit prewrite failure leads to undetermine errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Enable async commit.
2. Use optimistic mode.
3. Run a workload with write conflicts. (For example, sysbench update a very small table with high concurrency)
4. An undetermined error happens and the connection will be terminated.

### 2. What did you expect to see? (Requi

[2020-11-11 03:11] wjhuang2016 commented on #20975
Besides,
[code]

[2020-11-11 03:16] zz-jason commented on #20971
there are lots of vindexes defined in Vitess, see [Predefined Vindexes](https://vitess.io/docs/reference/features/vindexes/#predefined-vindexes). Should we support all of them?

[2020-11-11 03:17] sticnarf commented on #20976
It is caused by this TODO: https://github.com/pingcap/tidb/blob/master/store/tikv/2pc.go#L1028

After #20857, when one prewrite request fails due to a non-rpc error, other requests will be cancelled. Then the cancelling will cause a RPC error. The RPC error becomes an undetermined error by mistake.

[2020-11-11 03:24] YangKian commented on #20256
/pick-up

[2020-11-11 03:40] asiafrank commented on #20477
/pick-up

[2020-11-11 03:45] asiafrank commented on #20477
/give-up

[2020-11-11 03:46] XuHuaiyu commented on #20477
/pick-up

[2020-11-11 03:51] xiongjiwei opened #20978 "some partition function should not allowed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

partition function is not allowed

### 3. What did you see instead (Required)

success

### 4. What is your TiDB version? (Required)

[2020-11-11 03:57] bobotu commented on #17494
I cannot reproduce this bug in an emulated environment.

I have investigated it several months ago, the conclusion is this a rare race condition happened when the client keeps executing prepared statements while the server is forced to terminate. This crash just finished the things the administrator ask TiDB to do.

[2020-11-11 03:57] #17494 closed

[2020-11-11 04:03] xiongjiwei commented on #20978
/label sig/ddl

[2020-11-11 04:04] wjhuang2016 commented on #18954
If the related table id is an empty set, there may be the case for concurrent DDLs.
Discard the error directly would cause concurrent DDLs to successfully modify the same column?

[2020-11-11 04:05] bezmax commented on #20971
@zz-jason The most important ones are "Functional Unique" vindex types, as those can be used as primary vindexes. From what I see, most of them are already supported in one way or another in TiDB:
* binary, numeric, null - noop
* binary_mdg - md5 is supported by TiDB
* numeric_static_map - can be implemented using control flow operators
* region_experimental, region_json - this is a very niche typ

[2020-11-11 04:07] xiongjiwei opened #20979 "partition columns value should be same type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

`[HY000][1654] Partition column values of incorrect type`

### 3. What did you see instead (Required)

create table success

### 4. What is your TiDB version? (Required)

[2020-11-11 04:09] xiongjiwei commented on #20979
/label sig/ddl

[2020-11-11 05:11] #20597 closed

[2020-11-11 05:42] zz-jason commented on #20971
seems the following is also a workaround instead of introducing a vitess specific function:

1. introduce a new [`block_encryption_mode`](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_block_encryption_mode) like `DES_ECB`
2. support `ECB` mode for `des_encrypt()`

[2020-11-11 06:03] blacktear23 commented on #20975
Seems this is related to write.go `updateRecord` function, when there is nothing changed, it just return without call `UpdateDeltaForTable` to update TxnCtx.TableDeltaMap, so when commit, `Commit` function will got an empty tableID list and `SchemaValidator` will return `ResultFail`.

[2020-11-11 06:10] #19907 closed

[2020-11-11 06:12] lzmhhh123 commented on #20958
Is this duplicated with https://github.com/pingcap/tidb/pull/20977?

[2020-11-11 06:15] XuHuaiyu commented on #20958
Yes , this issue can be fixed by the PR @Reminiscent

[2020-11-11 06:33] lzmhhh123 commented on #19097
It's a compatibility issue about the parser. So I move the sig/exec to sig/ddl and change type/bug to type/compatibility.

[2020-11-11 06:43] lzmhhh123 commented on #19336
Can't reproduce on master branch.

[code]
But it can be reproduced on release-4.0 branch.

[code]

[2020-11-11 06:56] Reminiscent commented on #20460
/assign

[2020-11-11 06:57] seiya-annie opened #20985 "lock tables drainerxxx.checkpoint statement does not take effect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. offline drainer, consistent param turn to "true" in drainer86_3.checkpoint
2. locked drainer86_3.checkpoint
3. online drainer, check consistent param in drainer86_3.checkpoint, (should not change)
4. manually change consistent to "true"
5. check the consistent value

[cod

[2020-11-11 07:01] lzmhhh123 commented on #11208
For now on the master branch:

[code]

And mysql 8.0.22:

[code]

[2020-11-11 07:22] #20529 closed

[2020-11-11 07:31] lzmhhh123 commented on #19336
Maybe we should cherry-pick
https://github.com/pingcap/tidb/pull/19506
https://github.com/pingcap/tidb/pull/19630
to release-4.0 branch.

@cfzjywxk @nullnotnil PTAL.

[2020-11-11 08:02] dyzsr commented on #11911
/assign

[2020-11-11 08:35] tirsen commented on #20971
The hash vindex is generally the one used to assign shards to rows. Other vindexes are for global indexes ("lookup vindexes") and geo partitioning and other things. We don't need to support those.

[2020-11-11 08:39] tirsen commented on #20971
I would be very wary of supporting DES. It is officially retired https://www.cryptomathic.com/news-events/blog/3des-is-officially-being-retired and is being removed from MySQL.

[2020-11-11 09:01] xiongjiwei commented on #11177
/pick-up

[2020-11-11 09:08] Win-Man commented on #11208
/pick-up

[2020-11-11 09:17] blueseason commented on #19940
/pick-up

[2020-11-11 09:20] blueseason commented on #20467
/pick-up

[2020-11-11 09:24] blueseason commented on #13157
/pick-up

[2020-11-11 09:39] qw4990 opened #20989 "planner: fix the inappropriate out-of-range range estimation rule"
## Development Task
When estimating the number of rows for ranges in `GetColumnRowCount`, if the range is out-of-range, for example, the range's upper bound is less than the minimum value in statistics, TiDB uses `outOfRangeEQSelectivity`, but this is inappropriate since `outOfRangeEQSelectivity` is created for point estimation instead of range estimation.
It's better to create a new function `out

[2020-11-11 09:44] erikthorselius opened #20990 "tidb_txn_mode don't default to pessimistic"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2020-11-11 09:49] #20673 closed

[2020-11-11 09:52] qw4990 commented on #20989
@tangwz Would you like to take a look at this?

[2020-11-11 10:02] blueseason commented on #13157
test in mysql 8.0:
`mysql> SELECT (col_datetime <= 'EWJ77aX7t') AS res FROM t;`
`ERROR 1525 (HY000): Incorrect DATETIME value: 'EWJ77aX7t'`
`mysql>  SELECT (col_datetime <= @p0) AS res FROM t;`
`+------+`
`| res  |`
`+------+`
`|    0 |`
`+-----+`
` row in set, 1 warning (0.00 sec)`
`mysql>  execute stmt2 using @p0;`
`+------+`
`| res  |`
`+------+`
`| NULL |`
`+-----+`
` row in set, 1 warning (0.

[2020-11-11 10:47] #20727 closed

[2020-11-11 11:03] eurekaka opened #20991 "explain format='hint' doesn't work for IndexHashJoin / IndexMergeJoin"
## Development Task

[code]

The generated `inl_hash_join()` / `inl_merge_join()` hint would not take effect since they have no table parameters.

[2020-11-11 11:12] SunRunAway commented on #20795
Yes, I think it's a regression bug which may be involved recently.

[2020-11-11 11:16] zz-jason commented on #20971
Since there isn’t a perfect solution to this case, supporting a `vitess_hash()` builtin function LGTM.

[2020-11-11 11:20] Reminiscent commented on #18884
/assign

[2020-11-11 11:38] #20840 closed

[2020-11-11 11:40] zhangysh1995 opened #20994 "File descriptor leakage"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

_Then use `go-randgen` to repeatedly create tables, insert data, query the tables, then drop the database, at last create the database and start the next iteration._ **Run the process for two hours.**

### 2. What did you expect to see? (Required)

The opened files with TiDB should not increase exponentially.

### 3. What did you see

[2020-11-11 11:44] zhangysh1995 commented on #20994
I have posted in AskTug [a similar case (CHINESE)](https://asktug.com/t/topic/37201/2) where **too many files caused the database to malfunction**, however, the given solution could mess up the usage of `ulimit`. I would consider this as a bug rather than the configuration is not suitable.

[2020-11-11 12:18] #11435 closed

[2020-11-11 12:53] bb7133 commented on #12835
Close this issue by #19418

[2020-11-11 12:53] #12835 closed

[2020-11-11 13:04] bb7133 commented on #20973
@xiongjiwei Is it fixed by https://github.com/pingcap/parser/pull/1087 ?

[2020-11-11 13:20] #20741 closed

[2020-11-11 13:43] dragonly opened #20995 "expression: unexpected result from TIME() when fsp digits > 6"
## Bug Report

It seems that TiDB will report an error when fsp digits is greater than 6, but MySQL will round it to the nearest 6-digit fsp number.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master branch

[2020-11-11 13:47] SunRunAway commented on #19634
Duplicate of #19892
#19892 is a superset of this issue, so I'm going to close this issue now, and let's discuss in #19892

[2020-11-11 13:47] #19634 closed

[2020-11-11 13:56] SunRunAway commented on #19651
Duplicate of #18488

[2020-11-11 13:56] #19651 closed

[2020-11-11 14:05] bb7133 commented on #19694
I got puzzled by MySQL 8:

[code]

I also get a little surprised by TiDB, that even the new collation is not enabled, the result is still the `1` when comparing date and string:

[code]

Anyway I think this is a corner case and the bug should be `severity/moderate'. @SunRunAway @nullnotnil

[2020-11-11 14:15] SunRunAway commented on #20978
@xiongjiwei
I tested with MySQL 8.0, window function is not allowed in partition neither.

[code]

[2020-11-11 14:29] SunRunAway commented on #20994
@coocood Could you help take a look?

[2020-11-11 15:12] cfzjywxk opened #20996 "make transaction amend fully compatible with binlog"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The transaction [amend](https://github.com/pingcap/tidb/projects/50) introduces some changes such as:
[code]
The commitTS is NOT guanranteed to be greater than the latest valid schema version, which means the amended transaction may commit after the concurrent DDLs but using a previous schema version.

The Binl

[2020-11-11 15:13] cfzjywxk commented on #20909
Change it to  part of feature request in https://github.com/pingcap/tidb/issues/20996

[2020-11-11 15:52] zyguan commented on #20990
Thanks for the report, @erikthorselius , `tidb_txn_mode` defaults to pessimistic when the store is tikv, however, `docker run -d -p 4000:4000 pingcap/tidb:v4.0.8` starts a tidb with mocktikv.

[2020-11-11 15:59] Lvnszn opened #20997 "[hptc sysbench-Oltp_Point_Select] Support Memory elimination mechanism for memdb"
## Description

As the number of queries increases, the memory will more and more bigger than before.
So we need to provide a memory elimination mechanism to ensure normal memory. Refer issue #20231

[2020-11-11 17:22] erikthorselius commented on #20990
It would be nice to have a mock that have similar configuration as to the real store or maybe make it configurable from start. We have a library that checks that the database have the right configuration before it can be uses. It works well when accessing a bigger installation (read dev/prod environments) of tidb but not when just running on a developers machine.

[2020-11-11 17:36] nullnotnil commented on #19694
Yes, I agree. There might be other variants discovered which are more likely/higher severity though. If that happens, we can revisit.

[2020-11-11 17:41] nullnotnil commented on #20795
Makes sense, it looks like this [is documented as well](https://docs.pingcap.com/tidb/stable/sql-statement-explain#explain-for-connection). I will try and track down where the regression occured.

[2020-11-12 01:14] coocood commented on #20994
The bug seems not easy to address.
On the other hand, the local engine is only used for tests, it's not urgent to fix.
We may fix it at some time but can not guarantee a date.

[2020-11-12 02:24] xiongjiwei commented on #20978
/assign @xiongjiwei

[2020-11-12 02:25] xiongjiwei commented on #20973
@bb7133 yes, but tidb does not update parser, I will do this job when fix issue #20978

[2020-11-12 02:38] tangwz commented on #20989
/assign

[2020-11-12 02:44] #20368 closed

[2020-11-12 02:52] zyguan commented on #20990
Yes, you are right, we keep it unchanged when using mocktikv because many test code rely on it. Can `set global tidb_txn_mode='pessimistic';` during provisioning resolve the problem?

[2020-11-12 03:42] #20963 closed

[2020-11-12 04:00] Reminiscent commented on #20460
The execution plan of this SQL statement is different under different optimizations.
[code]

[2020-11-12 04:02] ou-bing commented on #14765
/pick-up

[2020-11-12 04:12] #20945 closed

[2020-11-12 04:25] #16407 closed

[2020-11-12 04:53] wangggong commented on #19923
/pick-up

[2020-11-12 04:53] wangggong commented on #19923
/pick-up

[2020-11-12 04:59] ou-bing commented on #20139
/pick-up

[2020-11-12 05:01] #19923 closed

[2020-11-12 05:22] #20324 closed

[2020-11-12 05:27] erikthorselius commented on #20990
That's is how I solved it in the test's around the library right now. But it is a bit annoying because it takes around 2 seconds for the change to apply. It would be nice if it could be configured via configuration.

[2020-11-12 05:34] ichn-hu commented on #19336
/assign @cfzjywxk

[2020-11-12 05:34] ichn-hu commented on #19336
/assign @nullnotnil

[2020-11-12 05:35] ichn-hu commented on #19853
@xiaodong-ji Hi, do you have any updates on this?

[2020-11-12 05:42] nullnotnil commented on #19336
OK, I'll take a look.

[2020-11-12 05:42] xiaodong-ji commented on #19853
The PR is waiting to be reviewed.

[2020-11-12 05:53] nullnotnil commented on #19336
I am going to cherry pick only `SELECT .. LOCK IN SHARE MODE`. I am concerned about cherry picking `CALC_FOUND_ROWS` to the release branch.

[2020-11-12 05:54] lzmhhh123 commented on #20128
duplicate with #17994

[2020-11-12 05:54] #20896 closed

[2020-11-12 06:11] #20911 closed

[2020-11-12 06:11] lzmhhh123 commented on #20995
/assign @dragonly

[2020-11-12 06:22] wjhuang2016 commented on #14456
Hi, @nullnotnil  I disable it on purpose, consider the following statements:
[code]

In MySQL, we got:
[code]

Though it is not so convenient, I think correctness is more important.

[2020-11-12 06:23] ichn-hu commented on #20136
/unassign @ichn-hu

[2020-11-12 06:25] tiancaiamao commented on #19127
Fixed after https://github.com/pingcap/tidb/pull/19688

[2020-11-12 06:26] blacktear23 opened #21009 "table with read lock can be updated when plan has Batch_Point_Get"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

update unsuccessful

### 3. What did you see instead (Required)

update succeeded

### 4. What is your TiDB version? (Required)

master

[2020-11-12 06:34] #21009 closed

[2020-11-12 06:48] ichn-hu commented on #20027
/unassign @ichn-hu

[2020-11-12 06:49] ichn-hu commented on #20028
/unassign @ichn-hu

[2020-11-12 06:49] ichn-hu commented on #19560
/unassign @ichn-hu

[2020-11-12 06:55] Reminiscent commented on #20460
It can be fixed by [#15475](https://github.com/pingcap/tidb/pull/15475).

[2020-11-12 07:18] #20856 closed

[2020-11-12 07:18] #20881 closed

[2020-11-12 07:25] qw4990 commented on #20989
@tangwz You can refer to `Histogram.calcFraction` to know how to calculate `width`~

[2020-11-12 07:49] asiafrank commented on #15514
https://github.com/pingcap/tidb/blob/ef57bdbbb04f60a8be744060a99207e08a37514a/planner/core/find_best_task.go#L310-L338

the second warning is appended when `newProp.Enforced = true`. it will try `exhaustPhysicalPlans` again.

i dont known how to avoid this warning.

i need some advice.

[2020-11-12 07:52] lzmhhh123 commented on #15514
I think in this logic, the first time to `exhaustPhysicalPlans` should not append warning.

[2020-11-12 08:08] nolouch commented on #18014
duplicated with https://github.com/pingcap/tidb/issues/18012

[2020-11-12 08:08] #18014 closed

[2020-11-12 08:25] youjiali1995 commented on #20771
Shouldn't analyze table in a transaction.

[2020-11-12 08:30] #15395 closed

[2020-11-12 08:41] tiancaiamao commented on #15253
We can close this now because mocktikv is deprecated, it's replaced by unionstore.

[2020-11-12 08:41] #15253 closed

[2020-11-12 09:06] kennytm commented on #20368
/label component/executor

[2020-11-12 09:16] #12074 closed

[2020-11-12 09:16] #13743 closed

[2020-11-12 09:16] #3773 closed

[2020-11-12 09:16] #8844 closed

[2020-11-12 09:16] #13389 closed

[2020-11-12 09:16] #20192 closed

[2020-11-12 09:16] #20403 closed

[2020-11-12 09:21] qw4990 commented on #20875
Same with https://github.com/pingcap/tidb/issues/20989 ...

[2020-11-12 09:24] kennytm commented on #20368
#### 1. Root Cause Analysis (RCA) (optional)

When building source from view, planner did not first check if a view has already been built.

#### 2. Symptom (optional)

SELECTing from a recursive view causes stack overflow and crashes TiDB.

#### 3. All Trigger Conditions (optional)

Both:

* user created a view which transitively references the view itself.
* user access rows from the view.

####

[2020-11-12 09:28] #20991 closed

[2020-11-12 09:33] LENSHOOD commented on #20661
/pick-up

[2020-11-12 10:01] youjiali1995 commented on #17796
@cfzjywxk I think we can close it.

[2020-11-12 10:03] #20441 closed

[2020-11-12 10:03] #20477 closed

[2020-11-12 10:04] #15844 closed

[2020-11-12 10:04] #20476 closed

[2020-11-12 10:04] #20958 closed

[2020-11-12 10:44] winoros commented on #20875
This one will be fixed by the task #20989

[2020-11-12 10:59] youjiali1995 commented on #9124
I don't think it's a bug. It's by design that using token to limit concurrent executed session. The default value is 1000. The token wait duration should go up in proportion to the connection count.

[2020-11-12 11:03] #9124 closed

[2020-11-12 11:06] #20661 closed

[2020-11-12 11:13] #17796 closed

[2020-11-12 11:23] cyliu0 opened #21025 "`show table regions` return negative key ranges with bigint unsigned auto_random primary key"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
All the key ranges should be located positive key ranges since the primary key is bigint unsigned

### 3. What did you see instead (Required)
Negative key ranges
![image](https://user-images.githubusercontent.com/3535627

[2020-11-12 11:47] asiafrank commented on #15514
you mean,  first time to `exhaustPhysicalPlans` the prop should not be empty?

[2020-11-12 13:00] sre-bot opened #21028 "DATA_RACE:github.com/pingcap/tidb/store/tikv.actionPrewrite.handleSingleBatch() failed"
DATA_RACE:github.com/pingcap/tidb/store/tikv.actionPrewrite.handleSingleBatch()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/57791/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/57778/display/redirect

[2020-11-12 13:01] sre-bot opened #21029 "DATA_RACE:runtime.mapassign_fast64() failed"
DATA_RACE:runtime.mapassign_fast64()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/57742/display/redirect

[2020-11-12 13:01] sre-bot opened #21030 "executor_test.go:testSuite1.TestInsertIntoGivenPartitionSet failed"
executor_test.go:testSuite1.TestInsertIntoGivenPartitionSet

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/57751/display/redirect

[2020-11-12 13:08] Fizell commented on #20890
/give-up

[2020-11-12 17:23] nullnotnil commented on #20795
I tracked it down. The regression was introduced in https://github.com/pingcap/tidb/pull/19296 which was cherry picked into 4.0.8.

[2020-11-13 02:08] erwadba commented on #16039
/pick-up

[2020-11-13 02:16] windtalker opened #21033 "TiDB allow `Decimal(0,0)`, which will cause TiFlash error"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
According to Mysql documents, precision of a Decimal type should be greater than 0:
https://dev.mysql.com/doc/refman/5.7/en/precision-math-decimal-characteristics.html

The declaration syntax for a DECIMAL column is DECIMAL({{M,D)}}. The ranges of valu

[2020-11-13 03:16] #15654 closed

[2020-11-13 03:39] zyguan commented on #20990
@cfzjywxk @nullnotnil How do you think about this? Do we need to add a configuration item for it, or are there any other solutions?

[2020-11-13 03:43] #19798 closed

[2020-11-13 04:04] #19853 closed

[2020-11-13 05:41] hunterlxt opened #21035 "QPS drop for a while when benching TPCC due to different plans"
## Bug Report

### 1. Minimal reproduce step (Required)

1. deploy cluster using v4.0.8
[code]
2. replace tikv binary. refer to https://github.com/tikv/tikv/pull/8908
2. enable zstd for bottommost level sst and enable dict compression.
[code]
3. prepare and run tpcc
[code]

### 2. What did you expect to see? (Required)

Stable qps

### 3. What did you see instead (Required)

Sometimes qps drops by

[2020-11-13 05:43] #14456 closed

[2020-11-13 06:04] lzmhhh123 commented on #20510
Closed by https://github.com/pingcap/tidb/pull/19620

[2020-11-13 06:08] #20447 closed

[2020-11-13 06:24] blacktear23 commented on #19701
I found if you use `begin pessimistic;` instead of `begin;` the final `commit` will success. I found this is related to https://github.com/pingcap/tidb/blob/master/store/tikv/2pc.go#L1133

if we use `begin`, `c. isPessimistic` is false, so tryAmend is false. And then even there can be amended we still got a schema change error.

[2020-11-13 06:31] blacktear23 commented on #19701
And there has other test case, not even json field:
[code]

[2020-11-13 06:34] SunRunAway opened #21036 "Should not use Point Get if the Unique index is invisible"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The query plan should not be `Point_Get` relied on `index:c1` because it is marked as invisible.

### 3. What did you see instead (Required)

The query plan is `Point_Get`

### 4. What is your TiDB version? (Required)

[2020-11-13 06:34] SunRunAway commented on #21036
cc @bb7133

[2020-11-13 06:34] heming79 opened #21037 "8200 Unsupported multi schema change"
![image](https://user-images.githubusercontent.com/14069019/99036714-23869000-25bd-11eb-9108-15857e0565e5.png)
mysql can support  It  .

[2020-11-13 06:40] blacktear23 commented on #19701
I do a POC if we remove `c.isPessimistic` for https://github.com/pingcap/tidb/blob/master/store/tikv/2pc.go#L1133, the test cases can be passed.

[2020-11-13 06:45] djshow832 commented on #20943
Duplicate with https://github.com/pingcap/tidb/issues/20669

[2020-11-13 06:45] ichn-hu commented on #20027
@zyguan @iosmanthus I tried to deploy a nightly cluster, but can't reproduce it, @iosmanthus would you please have a try again to see if you can reproduce it now?

[code]

[2020-11-13 06:48] AilinKid commented on #21037
we are on it, please focus on this issue: https://github.com/pingcap/tidb/issues/18283

[2020-11-13 06:51] ichn-hu commented on #21028
Just found another case in https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_unit_test/runs/57924/nodes/92/steps/333/log/?start=0

[2020-11-13 06:52] sticnarf commented on #21028
I am working on it. Sorry for inconvenience.

[2020-11-13 07:07] lzmhhh123 commented on #20305
@zhangysh1995 Any updates?

[2020-11-13 07:12] Reminiscent commented on #18884
We need to `set @@session.tidb_opt_agg_push_down = 1;` for test.

[2020-11-13 07:25] #14280 closed

[2020-11-13 07:26] #21025 closed

[2020-11-13 07:54] ichn-hu commented on #20027
I can reproduce it with tidb `51d365fc45fdfc039eb204a96268c5bd1c55075f`, I'll bisect the history to find out which PR fixed it.

[2020-11-13 07:54] ichn-hu commented on #20027
/assign @ichn-hu

[2020-11-13 08:23] XuHuaiyu commented on #7529
This issue can not be reproduced

[2020-11-13 08:23] #7529 closed

[2020-11-13 08:33] xhebox commented on #20669
Root cause: The new added bundle of partition overrides the default 3 voter rule from PD. As a result, rules applied to this partition does not have a leader.

Overrides between bundles is to make sure that user-defined partition rules have higher priorities. But an override will delete all bundles that have lower priorities.

Reasonable solution: Copy/inherit rules from parent table/schema/PD. Us

[2020-11-13 09:02] xiongjiwei commented on #21036
/assign @xiongjiwei

[2020-11-13 09:11] blacktear23 commented on #21036
Seems BatchPointGet got same problem.

[2020-11-13 09:14] bb7133 commented on #21036
Yes, I guess the reason is PointGet and BatchPointGet are in 'the fast path' in the planner(rather than the 'general plans'), which is missed before.

[2020-11-13 09:15] AilinKid commented on #4586
this issue has been resolved in https://github.com/pingcap/tidb/issues/19939

[2020-11-13 09:15] #4586 closed

[2020-11-13 09:25] XuHuaiyu commented on #20219
minor case:
[code]

[2020-11-13 09:28] SunRunAway opened #21047 "cannot use explain for with the statement queried by explain analyze"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

client 1:
[code]

client 2:
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-11-13 09:28] SunRunAway commented on #21047
cc @crazycs520

[2020-11-13 09:30] blacktear23 commented on #21036
https://github.com/pingcap/tidb/blob/master/planner/core/point_get_plan.go#L802
seems missing check `idxInfo.Invisible`

[2020-11-13 09:31] bb7133 commented on #21036
Yeah it should be easy to fix...

[2020-11-13 09:32] blacktear23 commented on #21036
https://github.com/pingcap/tidb/blob/master/planner/core/point_get_plan.go#L543

[2020-11-13 09:39] #17432 closed

[2020-11-13 09:39] #17433 closed

[2020-11-13 09:40] rebelice opened #21049 "support baseline capturing for `UNION ALL`/`INTERSECT`/`EXCEPT`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

This issue is associated with #19932 and the [PR](https://github.com/pingcap/tidb/pull/20010) for it doesn't consider baseline capturing.

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
Not empty set.

### 3. What did you see instead (Required)
Empty set.

### 4. What

[2020-11-13 09:40] rebelice commented on #21049
/label sig/execution, sig/planner, epic/sql-plan-management

[2020-11-13 09:41] rebelice commented on #21049
/assign @rebelice

[2020-11-13 09:41] rebelice commented on #21049
/label sig/execution

[2020-11-13 09:45] wjhuang2016 commented on #16018
It doesn't panic now.

[2020-11-13 09:45] #16018 closed

[2020-11-13 09:51] #18990 closed

[2020-11-13 10:09] pengdaqian2020 commented on #20136
/pick-up

[2020-11-13 10:15] #17431 closed

[2020-11-13 10:21] AilinKid commented on #21037
this issue is duplicated with https://github.com/pingcap/tidb/issues/14766, and it's under development now, if you are interested with this and wanna join into the work with us, please contact us~ thank you every much

[2020-11-13 10:44] pengdaqian2020 commented on #20890
/pick-up

[2020-11-13 11:47] #19701 closed

[2020-11-13 12:03] pengdaqian2020 commented on #17994
/pick-up

[2020-11-13 12:03] pengdaqian2020 commented on #20128
/pick-up

[2020-11-13 13:01] #20973 closed

[2020-11-13 14:59] pengdaqian2020 commented on #17994
I'm confusing why. It seems str_type will convert to datatime ?
[code]

[2020-11-13 15:02] gs80140 opened #21053 "tidb cdc canal-json push empty string to kafka"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

cdc cli changefeed create --pd='http://192.168.1.121:2379' --sink-uri='kafka://192.168.1.141:9092/test-6?kafka-version=2.4.0&max-message-bytes=67108864&replication-factor=1&protocol=canal-json'

 kafka-console-consumer.sh --topic test-4 --from-beginning --bootstrap-server 1

[2020-11-13 15:03] gs80140 commented on #21053
使用canal协议就不会这样

cdc cli changefeed create --pd='http://192.168.1.121:2379' --sink-uri='kafka://192.168.1.141:9092/test-5?kafka-version=2.4.0&max-message-bytes=67108864&replication-factor=1&protocol=canal'

不加协议也会这样

cdc cli changefeed create --pd='http://192.168.1.121:2379' --sink-uri='kafka://192.168.1.141:9092/test-4?kafka-version=2.4.0&max-message-bytes=67108864&replication-factor=1'

[2020-11-13 17:22] #20759 closed

[2020-11-13 18:43] backkem opened #21056 "Apache Arrow Flight connector"
## Feature Request

**Describe the feature you'd like:**
Hi all, I'm wondering if there would be interest in supporting an [Apache Arrow Flight](https://arrow.apache.org/docs/format/Flight.html) connector. This transport can enable faster data retrieval and higher throughput by reducing (de)serialization and data copying. It also gives you nice strict typing on query results.
Further down the line

[2020-11-13 21:01] nullnotnil commented on #20848
I very much like the idea of this! Auto-scheduling backups to S3 solves a major pain point for users.

I prefer labeling over `ON INSTANCE`. It is more flexible to topology changes, such as instances disappearing, or new ones being added (assuming that many types of jobs can eventually be split and run concurrently).

A DDL scheduling algorithm was previously proposed in https://github.com/pingcap

[2020-11-14 03:12] kennytm commented on #20848
Just a note: recently #17649 introduced "global kill" into TiDB. It implemented cross-TiDB communication [through the coprocoessor](https://github.com/pingcap/tidb/blob/master/docs/design/2020-06-01-global-kill.md#6-global-kill).

[2020-11-14 13:07] winkyao commented on #21056
@backkem hi, do you mean that TiDB supports Apache Arrow Flight as a new client to replace the MySQL protocol?

[2020-11-14 13:08] winkyao commented on #21056
And do you have any interests to develop this feature with us?

[2020-11-14 13:54] backkem commented on #21056
Hi @winkyao. Yes, but I would add it in addition to the MySQL protocol. The MySQL protocol has broad support in existing tooling, therefore I would not phase it out. However, if you're writing a new service and want increased performance, or any of the other benefits, you could switch over to the Apache Arrow Flight protocol. The Flight connector could also be more 'native' if the data is stored i

[2020-11-14 13:57] pengdaqian2020 commented on #18884
hi guys, Is there anyone who is working for this? I want to have a try

[2020-11-14 13:58] pengdaqian2020 commented on #20816
it seesms that the link https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb_ghpr_integration_copr_test/detail/tidb_ghpr_integration_copr_test/9750/pipeline show nothing
![image](https://user-images.githubusercontent.com/71140907/99148758-92024580-26c4-11eb-8e48-710c181961f6.png)

[2020-11-14 14:08] winkyao commented on #21056
@backkem Thanks for your suggestion. We will try to reach out to the Arrow community and find a way to cooperate with them. Please keep an eye on this issue.

[2020-11-15 02:30] #19599 closed

[2020-11-15 02:47] gs80140 commented on #21053
已经发现问题, 4.0.8还不支持canal-json格式
在master分支发现有canal-json格式了

// FromString converts the protocol from string to Protocol enum type
func (p *Protocol) FromString(protocol string) {
	switch strings.ToLower(protocol) {
	case "default":
		*p = ProtocolDefault
	case "canal":
		*p = ProtocolCanal
	case "avro":
		*p = ProtocolAvro
	case "maxwell":
		*p = ProtocolMaxwell
	case "canal-json":
		*p = ProtocolCan

[2020-11-15 05:01] gs80140 commented on #21053
编译了最新的cdc,通过打补丁方式部署,真是太方便了
tiup cluster patch tidbhw /app/tools/ticdc-master/cdc-master-1115.tar.gz -R cdc

然后创建cdc任务,可以抓取成canal-json格式了, 下面准备使用canal-adapter 接收至 es7

[2020-11-15 05:50] Win-Man commented on #19150
/pick-up

[2020-11-15 06:43] LittleFall opened #21059 "Support push down `unix_timestamp()` and calculation of type `date` to TiFlash."
## Development Task
[code]

Currently with TiKV:
[code]

Currently with TiFlash:
[code]

Target: support `sum(unix_timestamp(c1)-unix_timestamp(c2)` and others which are user need push down.

[2020-11-15 07:19] zz-jason commented on #20629
@tangenta please cherry-pick the bugfix to the release branches.

[2020-11-15 08:43] pengdaqian2020 commented on #19126
/pick-up

[2020-11-15 09:04] Reminiscent commented on #18884
@pengdaqian2020 Sorry, I'm working on this issue. Do you want to try other issues on #20804 ?

[2020-11-15 09:41] blacktear23 commented on #21033
what about add the decimal boundry check at parser component?

[2020-11-15 12:38] blacktear23 opened #21063 "Missing decimal M and D check"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-15 14:56] ou-bing commented on #14481
/pick-up

[2020-11-15 22:23] pengdaqian2020 commented on #17153
Hi, guys. I want to do this.
But I'm confusing where I should add the logical ?
In `plannercore.Preprocess` ?
Or I should add a rule ?
Or something else ?

[2020-11-16 02:11] nullnotnil commented on #20990
I was not aware that the tests rely on optimistic, but that makes sense based on history. Without knowing how much work is involved to switch the tests, I agree with @erikthorselius that mocktikv should be using the same default. Otherwise there might be bugs in the default configuration which are not caught?

[2020-11-16 02:11] Reminiscent commented on #11976
/assign

[2020-11-16 03:07] SunRunAway commented on #20547
/cc @lzmhhh123

[2020-11-16 03:13] SunRunAway commented on #19678
Most failures are under release-3.0 branch

@winoros PTAL

[2020-11-16 03:26] SunRunAway commented on #17180
/cc @tiancaiamao

[2020-11-16 03:37] cfzjywxk opened #21069 "txn:make amended transaction semantic compatible"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The transaction [amend](https://github.com/pingcap/tidb/projects/50) may indrocude some incompatilities, we need to solve these issues for specific amend type.

Issues like:
- https://github.com/pingcap/tidb/issues/20912. For add column amend type, since the newest value on the added column will not be recorded

[2020-11-16 03:37] cfzjywxk commented on #20912
This issue is converted to a feature-request in #21069.

[2020-11-16 03:42] SunRunAway opened #21070 "unit test TestCompareSubquery panics"
PANIC: expression_rewriter_test.go:135: testExpressionRewriterSuite.TestCompareSubquery

## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2020-11-16 03:42] #10448 closed

[2020-11-16 03:44] #21070 closed

[2020-11-16 04:07] #20136 closed

[2020-11-16 04:20] phamtai97 opened #21075 "Query SQL uses order by too slow"
## Description
Hi all,
I have a query that uses `order by` and I think that it has run the `order by` clause for data of the table first, and then executed the query conditions in the `where` clause. Because the data is very large, so the time executed is too slow.

This is the result when I run to explain SQL:
[code]
**About (30s)**
[code]
Then, I try to run the query without using` order by`, th

[2020-11-16 04:29] dyzsr commented on #12356
/assign

[2020-11-16 05:08] seiya-annie commented on #21009
hi, if it is not a bug, please remove 'type/bug' label
@blacktear23

[2020-11-16 05:11] seiya-annie commented on #20896
sync sig label from PR

[2020-11-16 05:16] SunRunAway opened #21077 "Support explain for connection id across cluster."
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Since we have done global connection id in https://github.com/pingcap/tidb/issues/8854, `explain for connection id` can be queried across cluster.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-11-16 05:42] blacktear23 commented on #21009
/unlabel type/bug

[2020-11-16 05:53] XuHuaiyu commented on #19368
Not a bug, won't fix

[2020-11-16 05:53] #19368 closed

[2020-11-16 05:54] XuHuaiyu commented on #16253
Fixed already

[2020-11-16 05:54] #16253 closed

[2020-11-16 05:56] XuHuaiyu commented on #15940
Can not reproduce. Won't fix for now.

[2020-11-16 05:56] #15940 closed

[2020-11-16 06:01] XuHuaiyu commented on #15940
Can not reproduce for now.

[2020-11-16 06:09] #18898 closed

[2020-11-16 06:10] XuHuaiyu commented on #18898
The file `kv/sandbox_arena.go` has been removed.
Thus won't fix.

[2020-11-16 06:25] XuHuaiyu commented on #17652
Can be closed by
https://github.com/pingcap/tidb/pull/21062

[2020-11-16 06:51] #20219 closed

[2020-11-16 06:58] longfeixxxx opened #21082 "wrong engine type"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
create table t(id int) engine="innodb\\"#test";

### 2. What did you expect to see? (Required)
ERROR 1286 (42000): Unknown storage engine 'innodb"#test'

### 3. What did you see instead (Required)
Query OK, 0 rows affected (0.01 sec)

### 4. What is your TiDB version? (Requi

[2020-11-16 07:28] backkem commented on #21056
I reached out and found out there is work being done on a `Flight SQL Proposal`:
* [Proposal](https://docs.google.com/document/d/1WQz32bDF06GgMdEYyzhakqUigBZkALFwDF2y1x3DTAI/edit?usp=sharing)
* Mail [thread](https://lists.apache.org/thread.html/rc4717b78f09bbf7a69347b6c126849e17323c491338fc73457cf7558%40%3Cdev.arrow.apache.org%3E)
I'm sure some of the contributors here can provide valuable feedbac

[2020-11-16 07:39] Yisaer commented on #20809
/assign

[2020-11-16 07:57] erwadba commented on #8623
@nullnotnil
The bug was already fixed on tidb v4.0.6. I use tiup playground test like below.
[code]

[2020-11-16 08:34] lzmhhh123 commented on #21035
@hunterlxt Could you provide the regression SQL and the plan in the dashboard?

[2020-11-16 08:36] ichn-hu commented on #20305
/assign @ichn-hu

[2020-11-16 08:40] lastboy1228 opened #21087 "Can't select the result of "ON DUPLICATE KEY UPDATE" when there are concurrently updates"
## Bug Report
Reproduced in 4.0.6、4.0.8

### 1. create table
[code]
### 2. update in session A
[code]
### 3. update in session B
[code]
### 4. select and commit in session A
[code]
### 5. select in session B
[code]
Got null when the data is exactly the same. If the 'val' is different from sessionA , you can select what you updated.

[2020-11-16 08:49] xiongjiwei commented on #21036
@blacktear23 hi, would you like to fix this bug?

[2020-11-16 08:53] blacktear23 commented on #21036
@xiongjiwei OK

[2020-11-16 08:59] xiongjiwei commented on #21036
/assign @blacktear23

[2020-11-16 09:26] #20899 closed

[2020-11-16 09:33] wjhuang2016 commented on #18224
@nullnotnil I can't reproduce it in both v4.0.8 and master, could you reproduce it?

[2020-11-16 09:42] crazycs520 commented on #18224
@wjhuang2016 I can reproduce it, It may be caused by dashboard format SQL before display.

![image](https://user-images.githubusercontent.com/26020263/99237183-1b378a80-2833-11eb-8394-0bd4dafd0bfb.png)

[2020-11-16 09:44] #20910 closed

[2020-11-16 09:46] ChenPeng2013 opened #21089 "SPM: original_sql can use nonexistent index when creating binding"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-11-16 09:47] bb7133 commented on #18955
We decide to keep option 1 and close this issue for now(since it no serious problem is reported yet). Close this issue for now.

A warning is added to the official website for it: https://docs.pingcap.com/tidb/stable/character-set-and-collation#character-sets-and-collations-supported-by-tidb

[2020-11-16 09:47] #18955 closed

[2020-11-16 09:47] rebelice commented on #21049
The hints of UNION/INTERSECT/EXCEPT will involve a problem. UNION will generate an AGG that is not under any SELECT and INTERSECT/EXCEPT will generate a JOIN that is not under any SELECT. It is not easy to implement on the existing framework, and the changes are large. So it needs design doc and discussion.

[2020-11-16 09:48] cfzjywxk commented on #20725
Close beacsuse it's duplicated.

[2020-11-16 09:48] #20725 closed

[2020-11-16 09:50] bb7133 commented on #13870
Close this issue since it is actually duplicated with https://github.com/pingcap/tidb/issues/18955.

[2020-11-16 09:50] #13870 closed

[2020-11-16 10:02] ichn-hu commented on #20305
MySQL did not verified it as a bug, this report is invalid, since 10 will be interpretted as 2010, and 1930 < 2010 is correct.

[2020-11-16 10:39] seiya-annie commented on #21082
it is ok on v4.0.8
MySQL [db2]> create table t(id int) engine="innodb\"#test";
Query OK, 0 rows affected (0.14 sec)

[2020-11-16 10:53] wjhuang2016 commented on #18729
Duplicated with https://github.com/pingcap/tidb/issues/17791

[2020-11-16 10:57] wjhuang2016 commented on #18224
I move it to the dashboard's repo and close it now.

[2020-11-16 10:57] #18224 closed

[2020-11-16 11:03] #20209 closed

[2020-11-16 13:00] sre-bot opened #21092 "physical_plan_test.go:testPlanSuite.TestPreferRangeScanOff failed"
physical_plan_test.go:testPlanSuite.TestPreferRangeScanOff

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/61492/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/61295/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/58187/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb

[2020-11-16 13:00] sre-bot opened #21093 "physical_plan_test.go:testPlanSuite.TestPreferRangeScanOn failed"
physical_plan_test.go:testPlanSuite.TestPreferRangeScanOn

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/61484/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/58205/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/61334/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_

[2020-11-16 13:37] xiaodong-ji commented on #20484
/pick-up

[2020-11-16 13:47] NingLin-P opened #21094 "Support timestamp bounded read-only transactions on data replicas Tasklist"
## Development Task
Timestamp bounded read-only transactions return stale data within a user-provided staleness bound, and can provide better performance than normal read-only transactions:
- Can perform at replicas that don't have the most up-to-date data, so the `ReadIndex` request can be avoided and reduce the network latency cost, especially in cross-region deployment.
- With the specified `st

[2020-11-16 13:59] bb7133 commented on #9816
Hi @codezero00 , @xqwbx163 , I can't get the bug reproduced still, can you provide an instruction for that?

[2020-11-16 14:14] bb7133 commented on #14512
Close this issue by #17177 and #17243

[2020-11-16 14:14] #14512 closed

[2020-11-16 14:33] bezmax commented on #20971
@zz-jason @kolbe What are the next steps to get my PRs into the master branch? Should I assign them to someone specific? Or is it just a matter of time? Thanks!

[2020-11-16 16:27] zhaoxugang commented on #18042
/pick-up

[2020-11-17 02:21] #20097 closed

[2020-11-17 02:28] yufan022 commented on #6882
/pick-up

[2020-11-17 03:04] SunRunAway commented on #21077
cc @breeswish @crazycs520

[2020-11-17 03:42] asiafrank commented on #8733
/pick-up

[2020-11-17 04:02] #20547 closed

[2020-11-17 05:07] SunRunAway commented on #20971
We'll take a look shortly.

[2020-11-17 05:20] breeswish commented on #21077
This is a good idea and looks to be easy. Maybe we can open it as a course homework?

[2020-11-17 05:23] #21028 closed

[2020-11-17 05:51] winoros commented on #19678
#21004 closed this one.

[2020-11-17 05:51] #19678 closed

[2020-11-17 05:51] breeswish commented on #17419
What else should we do to reach "fully fix" state? @SunRunAway

[2020-11-17 06:02] pcqz opened #21098 "Dump table stats error on wrong enum values"
## Description
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

use test;
drop table if exists t;
create table t (id serial, field ENUM('Y','N') DEFAULT 'N');
insert into t values(1,'A');
analyze table t;

curl ${tidb-server-ip}:${tidb-server-status-port}/stats/dump/test/t

### 2. What did you expect to see? (Required)

D

[2020-11-17 06:09] #21036 closed

[2020-11-17 06:28] #20827 closed

[2020-11-17 06:50] bb7133 commented on #4450
I think it is a bug of MySQL 5.7, probably because the C-styled string terminator is not handled properly and it has been fixed in MySQL 8:

[code]
Although we claim that TiDB is compatible with 5.7, I still think we should not treat it as a bug nor fix it.

[2020-11-17 06:50] #4450 closed

[2020-11-17 06:55] ichn-hu commented on #20305
/pick

[2020-11-17 06:55] ichn-hu commented on #20305
/pick-up

[2020-11-17 06:59] SunRunAway commented on #20710
The issue should be closed after the second job done.

[2020-11-17 07:17] eurekaka commented on #21089
That is because we only check the validity for the hinted query, not for the original query. I prefer not to fix this, because the normal usage of SQL bind is to add hint in the hinted query instead of the original query, if we add check for the original query, the CPU usage is wasted for most of the cases.

[2020-11-17 07:19] #15827 closed

[2020-11-17 07:20] #21089 closed

[2020-11-17 07:24] ChenPeng2013 opened #21102 "SPM: binding of delete statement doesn't work"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

tidb_use_plan_baselines=ON
[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2020-11-17 07:24] ichn-hu commented on #21035
/unlabel severity/critical

[2020-11-17 07:24] ichn-hu commented on #21035
/label severity/major

[2020-11-17 07:25] ichn-hu commented on #21035
We have an internal work group on wework, and @qw4990 is assigned on this issue. /assign @qw4990

[2020-11-17 07:26] ichn-hu commented on #21035
/assgin @qw49

[2020-11-17 07:26] ichn-hu commented on #21035
/assign @qw4990

[2020-11-17 07:34] SunRunAway commented on #20130
[code]

@crazycs520 PTAL

[2020-11-17 07:36] #18992 closed

[2020-11-17 07:57] winkyao commented on #21056
@zz-jason Could you please take a look at these designs?

[2020-11-17 08:35] ichn-hu commented on #10392
/pick-up

[2020-11-17 08:54] crazycs520 commented on #20130
Let me see see.

[2020-11-17 09:03] #11212 closed

[2020-11-17 09:03] #16820 closed

[2020-11-17 09:03] #11872 closed

[2020-11-17 09:03] #16362 closed

[2020-11-17 09:03] #16603 closed

[2020-11-17 09:12] qw4990 commented on #13018
I find this issue is hard to fix. The root cause is that our comparison operator is not null-aware.
For example, when processing `2000xxxxxx != 2000-01-01 00:00:00`, the left operand `2000xxxxxx` is converted to `Datetime` implicitly and since it's invalid, a `Null` is returned with a warning.
Then the comparison is converted to `Null != 2000-01-01 00:00:00`, since its result is `Null`, the row `2

[2020-11-17 09:14] lzmhhh123 commented on #13018
I agree with that. What's your opinion? @SunRunAway

[2020-11-17 09:32] SunRunAway opened #21111 "The concurrency count of Index Merge Join is always `OFF`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

v4.0.7

[2020-11-17 09:33] #21111 closed

[2020-11-17 10:07] dyzsr opened #21112 "No check for `only full group by` after resolving `having` and `order by`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

This issue may relate to #12442.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

MySQL 8.0.21

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-17 10:33] #20594 closed

[2020-11-17 11:40] dyzsr commented on #12442
/assign

[2020-11-17 11:57] ichn-hu commented on #20879
/unlabel sig/execution

[2020-11-17 11:57] ichn-hu commented on #20879
/label sig/ddl

[2020-11-17 12:10] coocood commented on #20484
Can we make it only affects autocommit DML?

[2020-11-17 13:00] sre-bot opened #21118 "pessimistic_test.go:testPessimisticSuite.TestAmendForUniqueIndex failed"
pessimistic_test.go:testPessimisticSuite.TestAmendForUniqueIndex

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/58318/display/redirect

[2020-11-17 14:15] pingyu commented on #16581
/pick-up

[2020-11-17 14:33] djshow832 opened #21119 "Add a middle state in altering placement policies"
## Development Task

When altering the placement policy of a partition from DC A to DC B, TiDB needs to guarantee that all TSO allocated later in DC B should be larger than those allocated earlier in DC A. To achieve this goal, we need to introduce a middle state in the `ALTER PLACEMENT POLICY` statement.

This is a part of the global/local transaction tasklist #20448.

## Rationale

### Problem

[2020-11-17 15:04] ou-bing commented on #20735
mark

[2020-11-17 15:23] bb7133 commented on #9816
I will close this issue for now until meeting it again.

[2020-11-17 15:23] #9816 closed

[2020-11-18 03:54] tiancaiamao commented on #17180
I have tested many times with `cd session; go test -tags leak` and can't reproduce it.
This issue is pretty old, so close it.

[2020-11-18 03:54] #17180 closed

[2020-11-18 04:01] YangKian commented on #20256
/pick-up

[2020-11-18 04:34] Dieken opened #21121 ""SELECT * FROM tbl IN (subquery)" leads to full table scan"
## Performance Questions

- What version of TiDB are you using?

v4.0.8

- What's the observed and your expected performance respectively?

TiDB does full table scan:
[code]

MariaDB 10.5.6:
[code]

- Have you compared TiDB with other databases? If yes, what's their difference?

TiDB should do the sub query first, then push down the IN clause to TiKV for a range query.

[2020-11-18 05:11] nullnotnil commented on #17775
Confirming that this has been fixed in master:
[code]

I am going to go ahead and close this issue.

[2020-11-18 05:11] #17775 closed

[2020-11-18 05:15] nullnotnil commented on #17759
Closing as a duplicate of https://github.com/pingcap/tidb/issues/16764

[2020-11-18 05:15] #17759 closed

[2020-11-18 05:36] nullnotnil commented on #17746
Related to https://github.com/pingcap/tidb/issues/3644

[2020-11-18 05:44] nullnotnil commented on #11181
The error code is correct, changing to a compatibility-only issue.

[2020-11-18 05:52] nullnotnil commented on #17228
Confirming this has been fixed in master:
[code]

[2020-11-18 05:52] #17228 closed

[2020-11-18 05:57] nullnotnil commented on #9593
Closing as a duplicate of https://github.com/pingcap/tidb/issues/12233

[2020-11-18 05:57] #9593 closed

[2020-11-18 06:26] nullnotnil commented on #21121
I can reproduce this issue against master initially, but if I run `ANALYZE TABLE` it corrects itself. Here is a testcase with some sample data to illustrate further:

[code]

So it looks to be a statistics issue. MySQL and MariaDB use some strange tricks to actually execute some subqueries during planning, and will sometimes dive tables for statistics. It may be hard to achieve parity in all cases

[2020-11-18 08:45] Dieken commented on #21121
I did 'ANALYZE TABLE' on our real tables in production environment,  it indeed helps but this is really annoying,  I can't frequently analyze table because it's toooooo slow even I set `tidb_enable_fast_analyze=1`.

Somebody tells me to use hint `tidb_inlj(transaction)`,  this works great, stable behaviour, no need for manual `analyze table`! 👍🏻️

But the hint still fails on another similar scenar

[2020-11-18 09:15] Reminiscent commented on #19067
/assign

[2020-11-18 11:27] #20979 closed

[2020-11-18 11:31] Patrick0308 commented on #15284
/pick-up

[2020-11-18 11:47] TszKitLo40 commented on #17849
/pick-up

[2020-11-18 12:09] TszKitLo40 commented on #17849
@fzhedu Can I try this issue?

[2020-11-18 12:17] blacktear23 commented on #20756
@lzmhhh123 this issue's plan is the very correct. If we use point get plan we may got the wrong result compare to MySQL.

[2020-11-18 12:27] TszKitLo40 commented on #11181
/pick-up

[2020-11-18 12:37] blacktear23 commented on #20756
And there has another issue. In MySQL
[code]

But TiDB will use point get plan which will get an empty set result.

[2020-11-18 12:42] blacktear23 opened #21123 "planner: Point get plan will cause wrong result set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2020-11-18 12:45] blacktear23 commented on #21123
This is only happened when id column is primary key. So there must has some corner case in TryFastPlan logic. We should not use point get plan when column type not same as constant type.

[2020-11-18 12:55] TszKitLo40 commented on #15284
@Patrick0308 I have been working on this issue, can you try another one?

[2020-11-18 12:55] TszKitLo40 commented on #11181
/give-up

[2020-11-18 14:38] ou-bing commented on #10484
/pick-up

[2020-11-18 15:08] nullnotnil commented on #21121
@Dieken the index join hint is not working because the types do not match. See:

[code]

The cast method looks to not be working in master. I get the same result you have in your 4.0.1 production environment:

[code]

I think this is expected behavior - an index join really requires columns to be indexed, and the cast is preventing them from being directly compared.

[2020-11-18 15:39] blacktear23 commented on #21123
/assign

[2020-11-18 16:18] SunRunAway commented on #19336
@nullnotnil A friendly ping

[2020-11-18 17:51] nullnotnil commented on #19336
PR https://github.com/pingcap/tidb/pull/21005 created and merged. There has not been a cherry pick for https://github.com/pingcap/tidb/pull/19630 yet, so I will leave this issue open.

[2020-11-18 17:59] nullnotnil commented on #7953
I can reproduce against master:
[code]
Outputs:
[code]

[2020-11-18 18:03] nullnotnil commented on #19769
Closing this issue as a duplicate

[2020-11-18 18:03] #19769 closed

[2020-11-18 19:14] nullnotnil commented on #10938
I am going to close this issue as fixed. Please feel free to re-open if you discover otherwise. Thanks!

[2020-11-18 19:14] #10938 closed

[2020-11-19 01:41] nullnotnil commented on #19892
Here is a pasteable testcase using the default SQL mode to show the difference between TiDB and MySQL:
[code]

[2020-11-19 01:54] nullnotnil commented on #17760
I think this issue has been fixed. I tried the testcase to reproduce, but notice that the second select statement is against table `table_varchar_float` not `table_int_float`. If I update the testcase to use `table_int_float`, I get the same result in TiDB as MySQL:

[code]

I am going to close this now, but @zhangysh1995 do you mind double-checking that the original bug you reported is fixed? If

[2020-11-19 01:54] #17760 closed

[2020-11-19 01:57] seiya-annie commented on #11932
bug caused by invalid value should be Moderate

[2020-11-19 02:12] cfzjywxk commented on #19336
I checked that master dose not have this problem because master has another bug which may cover this one..

[2020-11-19 02:23] nullnotnil commented on #10485
I have updated the description to make the testcase clearer. There are a couple of different issues here:
1. The zero date compares to both IS NULL AND IS NOT NULL in a WHERE clause on a table, but not without a table. MySQL says this behavior is intentional :-)
2. The zero date in TiDB compares as `NOT NULL`. In MySQL it compares as `IS NULL`.

How to fix these issues is not clear to me, since th

[2020-11-19 02:58] #20975 closed

[2020-11-19 03:02] AilinKid commented on #13084
this issue has been resolved in https://github.com/pingcap/tidb/pull/20533, which will be published in the next v4.0.9

[2020-11-19 03:02] #13084 closed

[2020-11-19 03:05] lance6716 opened #21128 "Sensitive information printed in log"
## Feature Request

**Is your feature request related to a problem? Please describe:**

in log of `command dispatched failed`, SQLs are printed with sensitive information

https://github.com/pingcap/tidb/blob/e6e894dcc409e6414487f837cdfe16db301289db/server/conn.go#L805

**Describe the feature you'd like:**

use some regular expressions to match and replace them

**Describe alternatives you've cons

[2020-11-19 03:06] nullnotnil commented on #13225
I am running TiDB w/TiKV, and I can't reproduce this bug:
[code]

Explain also shows that it is executing with TiKV as described:

[code]

I am going to go ahead and close this issue because of the staleness, but please feel free to re-open if you are able to reproduce. Thanks!

[2020-11-19 03:06] #13225 closed

[2020-11-19 03:06] AilinKid commented on #13084
this issue is duplicated with https://github.com/pingcap/tidb/issues/20490

[2020-11-19 03:08] lance6716 commented on #21128
@overvenus @tennix

[2020-11-19 03:14] #19560 closed

[2020-11-19 03:21] lzmhhh123 commented on #19336
closed by #21126

[2020-11-19 03:21] #19336 closed

[2020-11-19 03:27] #19975 closed

[2020-11-19 03:28] AilinKid commented on #16766
in current master, the case is changed to:
`create table t1 (id int ) /*T! shard_row_id_bits=2 pre_split_regions=2 */ auto_id_cache=100`

Actually, this case is not possibly generated by the user, since `/*T!` is a special comment only generated by TiDB itself and parsed by a relative parser. And the generated query will enclose `/*T!` for all table option which needs to be compatible, so it shoul

[2020-11-19 03:28] #16766 closed

[2020-11-19 03:30] nullnotnil commented on #9763
I am going to close this as a duplicate of https://github.com/pingcap/tidb/issues/10485

There is a discussion in this issue which shows some of the nuances of MySQL's behavior. I don't think it all makes sense, so it is categorized as a feature request and not a bug. Feedback welcome of course if there are known applications that are impacted. Thanks :-)

[2020-11-19 03:30] #9763 closed

[2020-11-19 03:32] xiongjiwei opened #21131 "hash partition does not check partition name is unique"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`[HY000][1517] Duplicate partition name p2`
### 3. What did you see instead (Required)
create table success
### 4. What is your TiDB version? (Required)

[2020-11-19 03:35] wjhuang2016 commented on #20217
Closed by https://github.com/pingcap/tidb/pull/20967

[2020-11-19 03:35] #20217 closed

[2020-11-19 03:36] #20943 closed

[2020-11-19 03:38] xiongjiwei commented on #21131
/assign @xiongjiwei

[2020-11-19 03:48] blacktear23 commented on #20756
Please read #21123

[2020-11-19 04:04] bb7133 commented on #20277
Close it because of #21016

[2020-11-19 04:04] #20277 closed

[2020-11-19 04:08] wjhuang2016 commented on #11850
Duplicate with https://github.com/pingcap/tidb/issues/20720

[2020-11-19 04:08] #11850 closed

[2020-11-19 05:24] seiya-annie commented on #13440
degrade severity to minor for error code issue

[2020-11-19 05:25] zz-jason commented on #21128
Yeah, TiDB logs the syntax error which may leak the user passwd:

[code]

Seems we'd better not to log these failed SQLs. @nullnotnil what's your opinion?

[2020-11-19 05:27] SunRunAway commented on #21128
Maybe it's better to redact the password part.

[2020-11-19 05:27] Yisaer commented on #21119
/assign

[2020-11-19 05:40] #20671 closed

[2020-11-19 05:49] nullnotnil commented on #21128
@zz-jason I agree. This is a parse error from invalid syntax though, so desensitizing correctly is going to be difficult somewhat by definition.

To me, it looks like the solution requires changing the error level of "parse SQL failed" and "syntax error" to both be debug. I have a PR for tracking which errors were went to clients in https://github.com/pingcap/tidb/pull/20785 -- so it will be possi

[2020-11-19 06:03] ou-bing commented on #20139
/pick-up

[2020-11-19 06:26] Dieken commented on #21121
@nullnotnil

Yes,  if `transaction.account_id` and `account.id` are both `BIGINT` or both `VARCHAR`, the hint works as expected.

As I pasted in my last comment,  the hint works for `cast(id as char)` on my TiDB playground v4.0.1 and v4.0.8.

Both `account.id` and `transaction.account_id` are indexed, if I replace the `IN (subquery)` with `IN ('A', 'B')` the SQL execution plan doesn't have TableFu

[2020-11-19 06:38] winoros commented on #21121
Yeah, the given schema of @Dieken is worked well if i try it on master.
[code]

And failed on 4.0.8

[code]

[2020-11-19 06:44] seiya-annie commented on #21087
/inform

[2020-11-19 06:44] seiya-annie commented on #21098
/info

[2020-11-19 06:49] Dieken commented on #21121
For your record, @winoros verified case 2.1 in https://github.com/pingcap/tidb/issues/21121#issuecomment-730158842,  the hint in case 2.1 works on TiDB master, not work on TiDB 4.0.x.

[2020-11-19 07:03] LittleFall commented on #20508
After merging the two PRs in TiFlash, this error message becomes like:
[code]

[2020-11-19 07:09] Reminiscent commented on #19067
Because of the [PR#20241](https://github.com/pingcap/tidb/pull/20241), we can see
[code]

[2020-11-19 07:17] ChenPeng2013 opened #21140 "SPM: capture the same original sql binding"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2020-11-19 07:18] dyzsr commented on #21112
/label sig/planner

[2020-11-19 07:37] cfzjywxk commented on #18954
I think it's duplicated with #18954

[2020-11-19 07:37] #18954 closed

[2020-11-19 07:38] cfzjywxk commented on #20773
It should be solved in pingcap/tidb-binlog#1006.

[2020-11-19 07:38] #20773 closed

[2020-11-19 07:50] #10648 closed

[2020-11-19 07:51] lzmhhh123 commented on #20723
I have test it on master branch. (with new collation enabled)

All the join types return:

[code]

[2020-11-19 07:51] xuhui-lu commented on #18653
hello, I am interested to be a TIDB contributor, may I pick up this issue?

[2020-11-19 07:52] xuhui-lu commented on #1108
Is this issue still open? If so, I am willing to offer help.

[2020-11-19 07:53] youjiali1995 commented on #20771
From the lightning log, there is a `Region is unavailable` error.
[code]

I suspect the `Error 8229` is reported in [SaveStatsToStorage](https://github.com/pingcap/tidb/blob/2e918a2e8fb92777318bb5b4949202bb0d9090e4/statistics/handle/handle.go#L647) because TiKVs are unavailable, but there is no TiDB log to confirm it.

[code]

[2020-11-19 07:54] xuhui-lu commented on #21033
hello, is this issue still not assigned? If not, I am willing to offer help!

[2020-11-19 07:57] lzmhhh123 commented on #20723
mysql returns:

[code]

[2020-11-19 08:01] lysu commented on #18339
transportReader.Read question can be recovery from error by #18437

but and it didn't reproduced again, so we can close it first...and reopen when it appear again

[2020-11-19 08:01] #18339 closed

[2020-11-19 08:06] lysu commented on #20211
this issue is duplicate to #20242 and also has be fixed, so close this

[2020-11-19 08:06] #20211 closed

[2020-11-19 08:07] youjiali1995 commented on #20771
BTW, internal transactions are pessimistic. Is it optimistic transaction a better choice? @cfzjywxk @coocood

[2020-11-19 08:10] cfzjywxk commented on #8393
@tiancaiamao PTAL if it still exist

[2020-11-19 08:20] #20449 closed

[2020-11-19 08:22] time-and-fate commented on #20552
This issue can be closed because #19797 fixed it.

[2020-11-19 08:47] #20730 closed

[2020-11-19 08:51] JmPotato commented on #20853
/assign

[2020-11-19 09:02] #20976 closed

[2020-11-19 09:12] coocood opened #21145 "Allow filter condition push down to IndexScan for prefix index."
## Feature Request

Allow filter condition push down to IndexScan for prefix index.

[code]

The condition `b = 'b'` should be able to pushed down to `IndexScan` phase to reduce the lookup table cost.

We only need to make sure the equal condition value of `b` is less than the index column length 255.

The ideal plan should be

[code]

**Describe alternatives you've considered:**

**Teachability,

[2020-11-19 09:13] cfzjywxk commented on #20771
I think so.

[2020-11-19 09:17] #20710 closed

[2020-11-19 09:29] coocood commented on #20771
internal transaction can still have conflict if we have multiple tidb instances.

[2020-11-19 09:43] pengdaqian2020 commented on #19126
/give-up

[2020-11-19 09:45] youjiali1995 commented on #21087
Reproduced in v3.0.19 and master too.

[2020-11-19 09:48] lzmhhh123 commented on #20756
Yeah.

[2020-11-19 09:48] #20756 closed

[2020-11-19 11:04] #20305 closed

[2020-11-19 11:19] cfzjywxk commented on #21087
I think it's a compatibility issue bacause the second `select` in session B reads data using `startTS`, which is incompatible with MySQL behaviour.

[2020-11-19 11:34] 9547 commented on #7953
/pick-up

[2020-11-19 11:36] 9547 commented on #7953
@qw4990 Could you please add a `challenge-program` label to it, then I can pick it up.

[2020-11-19 11:36] #20464 closed

[2020-11-19 11:58] Patrick0308 commented on #11711
@XuHuaiyu I think it is expected. Because of ``active` bit(1)  AS ((json_extract(`$json`,'$."active"') = TRUE)) STORED NOT NULL`, the `json_extract(`$json`,'$."active"')` should be `types.ETReal`.

[2020-11-19 12:09] #20771 closed

[2020-11-19 12:33] yufan022 commented on #19126
/pick-up

[2020-11-19 12:58] MyonKeminta opened #21151 "buildIndexMergeReader doesn't refresh for update ts in RC isolation level"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
[code]

| session 1 | session 2 | comment |
|-----------|-----------|---------|
|`set transaction isolation level read committed; begin;`| | |
|`select /*+ NO_INDEX_MERGE() */ * from t where a > 3 or b > 3;`| | Returns `(2, 10, 4, 4)` |
|`select /*+ USE_INDEX_MERGE(t

[2020-11-19 13:00] sre-bot opened #21152 "DATA_RACE:github.com/pingcap/tidb/planner/core.getPossibleAccessPaths() failed"
DATA_RACE:github.com/pingcap/tidb/planner/core.getPossibleAccessPaths()

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/58539/display/redirect

[2020-11-19 13:01] sre-bot opened #21153 "db_test.go:testSerialDBSuite.TestModifyColumnTypeWhenInterception failed"
db_test.go:testSerialDBSuite.TestModifyColumnTypeWhenInterception

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/58485/display/redirect

[2020-11-19 13:01] sre-bot opened #21154 "write_test.go:testSuite8.TestUpdate failed"
write_test.go:testSuite8.TestUpdate

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/61966/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/58497/display/redirect
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_check_2/61951/display/redirect

[2020-11-19 13:17] cfzjywxk commented on #20854
Since it's not a common usage seen from users, we could lower the severity and consider the bugfix plan.

[2020-11-19 13:20] #15882 closed

[2020-11-19 18:04] bufdev commented on #12890
Let us know if we can be of any assistance here. Note that `buf generate` is now available and could simplify your Protobuf stub generation as well https://docs.buf.build/generate-usage/

[2020-11-20 00:57] shenli opened #21156 "Show column name in redacted log"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
I think it makes sense to show column name in both the error message and error log.

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
latest master or 4.0

[code]

[2020-11-20 01:55] SunRunAway commented on #21156
/assigne

[2020-11-20 01:56] SunRunAway commented on #21156
/assign

[2020-11-20 02:53] breeswish opened #21159 "Complex SQL in WHERE condition cause error or TiKV down"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

A SQL that contains a very complex push down predicate.

#### Example 1. Cause execution error

This is a SQL containing 1000 `OR int_column = INT_CONSTANT` conditions in the `WHERE`.

<details>
  <summary>Click to expand SQL</summary>

[code]

</details>

The SQL will exec

[2020-11-20 02:59] asiafrank commented on #19324
/pick-up

[2020-11-20 03:20] cfzjywxk commented on #20854
cc @jackysp @lysu

[2020-11-20 03:52] zz-jason commented on #21056
@backkem Thank you for your suggestion!

In TiDB:

- We use [`Chunk`](https://github.com/pingcap/tidb/blob/master/util/chunk/chunk.go#L32), which is a columnar data structure like [RecordBatch]() in Apache Arrow, to store data for vectorized query execution in the TiDB SQL layer. TiKV Coprocessor also utilizes a similar data structure and vectorized execution scheme.
- For internal communicating b

[2020-11-20 04:16] adeniyistephen commented on #18294
@SunRunAway do you have input? i would love to work on it. thanks

[2020-11-20 05:01] zz-jason commented on #21056
From the [Implementation Status](https://github.com/apache/arrow/blob/master/docs/source/status.rst#flight-rpc) in Apache Arrow, seems we need to support flight RPC for go firstly.

[2020-11-20 06:47] blacktear23 opened #21167 "Different behave between MySQL and TiDB in query"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

In MySQL：
[code]

### 3. What did you see instead (Required)

See section 1.

### 4. What is your TiDB version? (Required)

Release Version: v4.0.0-beta.2-1588-ge33271784-dirty
Edition: Community
Git Commit Hash: e332717843b37e6fc4bee15534f40c978b21030c
Git Branch: issue-21123
UTC Build

[2020-11-20 06:47] blacktear23 commented on #21167
@bb7133 @wjhuang2016 PTAL

[2020-11-20 06:49] blacktear23 commented on #21167
I think this is related ZERO value type convert and compare is not fully compatible with MySQL.

[2020-11-20 07:00] cfzjywxk commented on #18147
@lysu PTAL if we could close it.

[2020-11-20 07:02] cfzjywxk commented on #21151
Also we need to ensure for a single statement it will use the same `forUpdateTS` for example query with subqueries.

[2020-11-20 07:26] yufan022 commented on #6882
`mysql> set @j = 1000.31231231200432;
Query OK, 0 rows affected (0.00 sec)

mysql> set @k = 9381238.3123123120032;
Query OK, 0 rows affected (0.00 sec)

mysql> set @i = @j - @k;
Query OK, 0 rows affected (0.00 sec)

mysql> select @i;
+-------------------------+
| @i                      |
+-------------------------+
| -9380237.99999999999888 |
+-------------------------+
1 row in set (0.00 sec)

m

[2020-11-20 07:34] seiya-annie commented on #20985
The feature is experimental, but a main workflow does not work.   --change severity to major

[2020-11-20 07:39] #21128 closed

[2020-11-20 07:46] Reminiscent opened #21172 "Wrong result when we filter on the partition column of the partition table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
In mysql8.0
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master,4.0
git commit hash: eca1ce192b0a5aae1626c9eb005cd83ee670520f

[2020-11-20 07:47] Reminiscent commented on #21172
By the way, if the SQL is `select * from t4 where a = 1`. The result of TiDB is correct.

[2020-11-20 08:05] hi-rustin commented on #20841
/pick-up

[2020-11-20 08:24] rebelice commented on #20417
/assign @rebelice

[2020-11-20 08:40] qw4990 commented on #20876
@wjhuang2016 I cannot reproduce this problem now. Could you please confirm it again?

[2020-11-20 08:46] #9717 closed

[2020-11-20 08:48] qw4990 commented on #10484
Thanks @ou-bing , if you have any question, you can discuss with us [in the Slack channel](https://tidbcommunity.slack.com/archives/CMRD79DRR).

[2020-11-20 08:49] ou-bing commented on #10484
@XuHuaiyu The problem cannot be replicated on the latest master branch.

[2020-11-20 08:50] bb7133 commented on #13661
Close this issue since it is fixed by https://github.com/pingcap/parser/pull/960

And after the discussion with @lzmhhh123 , we decide not to cherry-pick to 4.0/3.0 because:

- The work is non-trivial.
- The syntax is a corner case and does not lead to a serious problem.

[2020-11-20 08:50] #13661 closed

[2020-11-20 08:54] bb7133 commented on #18728
Close this issue since it is fixed by https://github.com/pingcap/parser/pull/960

And after the discussion with @lzmhhh123 , we decide not to cherry-pick to 4.0/3.0 because:

- The work is non-trivial.
- The syntax is a corner case and does not lead to a serious problem.

[2020-11-20 08:54] #18728 closed

[2020-11-20 08:56] ou-bing commented on #10484
mysql> select tidb_version()\G
*************************** 1. row ***************************
tidb_version(): Release Version: v4.0.0-beta.2-1611-g3b3f3ac98
Edition: Community
Git Commit Hash: 3b3f3ac98cd769acf83bfc2d7d4ec6b37aafaa7a
Git Branch: master
UTC Build Time: 2020-11-20 08:53:15
GoVersion: go1.15.5
Race Enabled: false
TiKV Min Version: v3.0.0-60965b006877ca7234adaced7890d7b029ed1306
Check

[2020-11-20 09:18] #15961 closed

[2020-11-20 09:23] #18680 closed

[2020-11-20 09:27] eurekaka opened #21175 "stop baseline capture for queries known to contain invalid hints"
## Development Task

If we turn on the `tidb_capture_plan_baselines`, and execute a query which contains invalid hints twice, there would be a lot of logs in the background like the following:

[code]

We'd better figure out an approach to identify these queries containing invalid hints and ignore them in baseline capture.

[2020-11-20 09:29] #20860 closed

[2020-11-20 09:34] eurekaka commented on #15737
Cannot reproduce on 92c012c4492c32b592814c2b57bfca4425770957, it should be fixed already.

[2020-11-20 09:34] #15737 closed

[2020-11-20 10:01] ChenPeng2013 opened #21177 "ratelimit: query blocked because of deadlock"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

stack info
[code]
### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[code]

[2020-11-20 11:46] bb7133 commented on #16980
This is actually expected @cyliu0 :

Some error codes are not correct in 3.0, as you may see and we decided to fix them in the later(4.0+) version. However, the change didn't apply to 3.0 because we want to make the change only in major versions.

[2020-11-20 11:46] #16980 closed

[2020-11-20 12:25] breeswish commented on #18680
Can we add integration tests to verify the fix (and prevent future mistakes)?

[2020-11-20 12:43] #16425 closed

[2020-11-20 12:50] wjhuang2016 commented on #18680
I not sure if it is necessary. In fact, we shouldn't allow writing non-UTF8 bytes to TiKV.

[2020-11-20 13:00] asiafrank commented on #19324
Should I add a switch `EnableApplyCache` to control this?
https://github.com/pingcap/tidb/blob/2c66371d8b7e92f631088ba3fab24d1476691002/planner/core/exhaust_physical_plans.go#L1899-L1905

@XuHuaiyu

[2020-11-20 13:00] sre-bot opened #21178 "restart_test.go:testTableSuite.TestTableResume failed"
restart_test.go:testTableSuite.TestTableResume

[code]

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tidb_ghpr_unit_test/58683/display/redirect

[2020-11-20 16:13] nullnotnil commented on #21167
Yeah, I think it might be related to https://github.com/pingcap/tidb/issues/10485

[2020-11-21 01:53] #20879 closed

[2020-11-21 08:24] danche opened #21184 "Helm v2 to Helm v3"
## Development Task
[On November 13, 2020, Helm v2 support will formally end.](https://github.com/helm/charts#status-of-the-project)

we should migrate from Helm v2 to Helm v3. [Kubeapps](https://github.com/kubeapps/kubeapps/blob/master/docs/user/getting-started.md) only support Helm v3.

[2020-11-21 09:18] xiaodong-ji commented on #21075
@phamtai97 How many rows are there in the account_log table? Let me try to reappear this problem.