[2021-11-24 08:31] sylzd commented on #30101
/assign

[2021-11-24 08:35] sylzd commented on #30081
/assign

[2021-11-24 08:39] tiancaiamao commented on #14164
Rejected in 4.0.16 bug triage

[2021-11-24 08:41] 3pointer commented on #30099
I think we can ignore AutoTableID/AutoRandom/Sequence/Sequence cycle key. Let tidb re-allocate these key after restoration. @kennytm WDYT?

[2021-11-24 08:44] DiFronzo commented on #28860
/unassign

[2021-11-24 08:45] winoros commented on #29884
Currently, the golang limited the symbol number for WASM, see https://stackoverflow.com/questions/67294859/why-golang-limit-the-symbol-number-to-65535-while-compile-wasm-target.
So we cannot upgrade the TiDB version of play.pingcap.com easily. We need to first solve that issue to upgrade TiDB version :(

[2021-11-24 08:53] #29915 closed

[2021-11-24 08:55] fuzhe1989 commented on #28753
@wshwsh12 guess we still need to fix the issue since the plan is unexpected.

[2021-11-24 09:01] cyliu0 opened #30104 "br s3 endpoint can't end with '/'"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

This bug is a little bit frustrating.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
br backup successfully

### 3. What did you see instead (Required)
br backup failed
[code]

### 4. What is your TiDB version? (Required)

**5.3.0**

[2021-11-24 09:07] #23506 closed

[2021-11-24 09:07] #26818 closed

[2021-11-24 09:07] #29608 closed

[2021-11-24 09:09] sylzd commented on #30025
/assign

[2021-11-24 09:09] dveeden commented on #13729
ARM64 versions are available for all components and TiUP supports ARM64.
/close

[2021-11-24 09:13] dveeden commented on #23155
ARM64 versions are available for all components, including tiup.
/close

[2021-11-24 09:15] tiancaiamao commented on #24210
It's fixed before 4.0.16 and 5.0.5 ... if someone knows  the exact version please update the label

[2021-11-24 09:35] Reminiscent commented on #30100
https://github.com/pingcap/tidb/pull/30003 can solve this problem. And I will add more test cases.

[2021-11-24 10:03] cyliu0 commented on #29417
Crc32 has been affected by this too. Already fixed in master. In case someone will be curious about different crc32 results in different versions of TiDB
![image](https://user-images.githubusercontent.com/35356271/143217169-1bc61c2b-23a4-4f00-953e-2607ca0d5654.png)

[2021-11-24 10:03] tiancaiamao commented on #28698
Rejected in 4.0.16

[2021-11-24 10:03] aytrack opened #30107 "IT unstable test `tidb-test`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/7499/pipeline/81
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-11-24 10:07] aytrack commented on #30107
other failed in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/7498/pipeline/81

[2021-11-24 10:09] djshow832 opened #30108 "Refactor and test audit logs"
Currently, there are few tests about audit logs and there still exist some bugs.

### Roadmap
[ ] Add a `MockConn` to enable testing connections
[ ] Add statement event tests for audit log
[ ] Move the statement audit logs from executor to connection

[2021-11-24 10:09] djshow832 opened #30109 "Add a `MockConn` to enable testing connections"
Currently, it's hard to add tests that involve connections outside of the `server` package. One example is testing the audit log. We need to mock a connection.

[2021-11-24 10:09] djshow832 opened #30110 "Add statement event tests for audit log"
Currently, there are no tests on testing the audit logs of various statements, so we cannot find bugs in time.

[2021-11-24 10:10] djshow832 opened #30111 "Move the statement audit logs from executor to connection"
https://github.com/pingcap/tidb/issues/27268 suggested logging before and after statements, but there are still some other bugs such as https://github.com/pingcap/enterprise-plugin/issues/52.
These are caused by wrong `StmtCtx` or `InRestrictedSQL` settings, but it's hard to guarantee that future statements won't be logged incorrectly either.
If I move the audit event from the executor to the conn

[2021-11-24 10:10] aytrack opened #30112 "IT unstable case mysqltest `gcol_view`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/7886/pipeline/145
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB ve

[2021-11-24 10:16] aytrack opened #30113 "IT unstable case mysqltest `auto_increment`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/7890/pipeline
expect `AUTO_INCREMENT=2001000` but got `AUTO_INCREMENT=1634227`
[code]

### 2. What did you expect to see? (Required)

### 3. Wha

[2021-11-24 10:27] aytrack opened #30115 "ScalarFunction Unspecified is not supported in batch mode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

first find in  https://github.com/pingcap/tidb/pull/29905 merge Integration test https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/7898/pipeline
[code]

### 2. What did you expect to see? (Req

[2021-11-24 10:28] you06 commented on #27532
I made some investigation on it, found that the first statement goes through table scan, however without partition table option on, as a result, the resultset is empty. The second statement goes through index look up and looks good. @mjonss PTAL.

[2021-11-24 10:29] aytrack commented on #30115
ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_copr_test/detail/tidb_ghpr_integration_copr_test/7189/pipeline has the same issue.

[2021-11-24 10:30] aytrack commented on #30115
maybe introduced by https://github.com/pingcap/tidb/pull/29905

[2021-11-24 10:44] aytrack opened #30116 "IT test case mysqltest `insert_update` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/7898/pipeline
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB versio

[2021-11-24 10:51] aytrack opened #30118 "IT test faild with error message changed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
run in release-4.0
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/7903/pipeline
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What

[2021-11-24 10:52] sylzd commented on #30081
cannot reproduce at `17edc5758fbf865cada7e156318c41d3ee8a7501` and master branch, any special config set?

[2021-11-24 11:12] tongtongyin opened #30128 "During S3 backup, errors may occur if there is "/" at the end of the endpoint"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

<img width="2545" alt="1" src="https://user-images.githubusercontent.com/37565148/143226293-1d8c9b92-3829-48b1-ad2a-79d375e27c68.png">

![2](https://user-images.githubusercontent.com/37565148/143226449-149338ee-13bc-454a-9790-49c21f61cb3d.png)

when S3

[2021-11-24 11:17] #25663 closed

[2021-11-24 11:48] chrysan commented on #13167
When generating request properties for children, we don't provide alternatives, this part could be smarter:
https://github.com/pingcap/tidb/blob/master/planner/core/exhaust_physical_plans.go#L112

[2021-11-24 11:51] #29823 closed

[2021-11-24 12:26] winoros commented on #30118
This seems to be a good change. But why it's in 4.0?

[2021-11-24 12:59] Yui-Song commented on #30075
I have reported this bug to MySQL. https://bugs.mysql.com/bug.php?id=105699

[2021-11-24 13:33] kennytm commented on #30075
why is this considered an error in the first place? `id and id >= 4` is a perfectly valid expression.

[2021-11-24 13:59] Yui-Song commented on #30075
Because the predication `and id >= 4` is after the ORDER BY expression and SQL parser just ignore it and return the result of `select id from t1 where name='ccc' order by id`.
However, what I want is the result of `select id from t1 where name='ccc' and id >= 4 order by id ;`

[2021-11-24 14:04] Yui-Song commented on #30075
And if add `desc ` after `order by id`, it will report error.
[code]

[2021-11-24 15:50] ramanich1 commented on #30081
Nothing specific :
Time_zone = system;
sql_mode ='';

[2021-11-24 16:34] morgo commented on #30081
@sylzd I can reproduce with default SQL mode, any timezone (or at least my time + UTC) using the hash you provided:

[code]

It is only time1 which is invalid. This might be related to Daylight savings - when comparing to MySQL make sure to load the timezone database (it is loaded in TiDB by default, but not MySQL).

[2021-11-24 16:38] winoros commented on #30118
You can test this again @aytrack

[2021-11-24 16:38] #30118 closed

[2021-11-24 16:41] kennytm commented on #30081
`2007-03-11 02:00:00` is a non-existing local time in all US time zones observing DST, as it is the [beginning of that year's spring-forward](https://www.timeanddate.com/time/change/usa/new-york?year=2007). I believe this is a duplicate of #28739.

[2021-11-24 17:08] morgo commented on #30081
Thanks! I will comment on this issue.

[2021-11-24 17:12] morgo commented on #28739
This issue is critical to any user who has their server configured in a timezone which uses DST (it's not that uncommon in North America and Europe).

Consider the case that they use a timestamp to track the `order_date` of orders, and then have another script that tries to find orders in the last day. Because some of the orders were inserted with a zero date, they would be incorrectly missed.

[2021-11-24 18:19] kolbe commented on #30087
It seems like the rate limiting needs to happen in TiKV, since TiKV is the component actually interacting with S3. Or maybe you think the limiting should happen in BR, since BR is telling each of the TiKV nodes when and how many regions to back up?

[2021-11-24 19:06] Alkaagr81 opened #30129 "Comment max length is not set in TIDB (in mysql Max length -2048)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-11-24 19:19] mjonss commented on #28739
/assign

[2021-11-24 20:15] ramanich1 opened #30130 "Aggregation in derived table is not working in tidb :"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-11-24 20:19] ramanich1 opened #30131 "Derived table lists reference to alias is not working in tidb:"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
``1sql
mysql> SELECT * FROM (SELECT (1) alias1,(SELECT alias1) alias2 FROM t1) X ;
ERROR 1054 (42S22): Unknown column 'alias1' in 'field list'
[code]

[2021-11-24 20:21] #29922 closed

[2021-11-24 20:28] ramanich1 opened #30132 "JSON_QUOTE() in derived table is not working in Tidb:"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-11-24 21:10] mjonss commented on #28739
Notice that the specified time is non-existing (i.e. during Daylight Saving Time Leap forward):
[code]

[2021-11-24 21:17] mjonss opened #30133 "Support wider range of timestamp, as MySQL 8.0.28"
## Enhancement

Increase the range of Timestamp column, to 3001-01-19.

See https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html#function_unix-timestamp
[code]

It should be fairly easy in TiDB, since it is stored in the same format as DateTime, bit shifted YYYY MM DD HH MM SS . FRAC, but there are check to keep it in the same range as signed 32-bit time_t to be compatible with MyS

[2021-11-24 22:29] Alkaagr81 opened #30134 "Subquery returns more than 1 row using ANY()"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-11-25 00:51] dbsid opened #30135 "br restore hang, the dataset is backup with stats"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

restore same dataset as #29033, restore a 60GB backup with 2820 tables, --ignore-stats=false

### 2. What did you expect to see? (Required)
finished in half hour

### 3. What did you see instead (Required)
hang at 75.52% after 10 hours

### 4. What is your TiDB version? (Re

[2021-11-25 02:00] aytrack opened #30136 "IT Unstable case mysqltest `key`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/7527/pipeline/86
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-11-25 02:02] aytrack opened #30137 "IT Unstable case mysqltest `comment_table`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/7527/pipeline/86
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-11-25 02:03] bb7133 commented on #30075
Personally, I don't think it's a major bug, because the syntax is barely used. And if we try to solve it, it would be potentially a compatibility breaker.

[2021-11-25 02:08] bb7133 commented on #29327
@xiongjiwei Are you sure that the default value should be trimmed, no matter whether new collation is enabled?

[2021-11-25 02:12] bb7133 commented on #28745
I will close this issue since it cannot be reproduced.

[2021-11-25 02:12] #28745 closed

[2021-11-25 02:21] xiongjiwei commented on #29327
actually, I am wrong, it **is** related to the collation. we should also revert https://github.com/pingcap/parser/pull/1006, that is a wrong fix 😥

[2021-11-25 02:26] bb7133 commented on #28308
I agree with @mjonss , this is either a connection closed by the client, or some network errors. I will close it until there's a explicit way to reproduce it and confirmed as a server issue.

/cc @fubinzh

[2021-11-25 02:26] #28308 closed

[2021-11-25 02:27] bb7133 commented on #27620
Close it since the time-out issues are not tracked('5s' is not a limit for now).

[2021-11-25 02:27] #27620 closed

[2021-11-25 02:31] bb7133 commented on #24031
@morgo I will make it as 'enhancement' since the current behavior is expected. We can still keep this issue open as a backlog.

[2021-11-25 02:41] Yui-Song commented on #30075
MySQL has a special feature that apply to simple expressions used as predicates in conditions (such as in the WHERE clause). The condition

 ` where id and id >= 4`

is rewritten internally as

 ` where id <> 0 and id >= -4`

When you write a query like this one:

`select id from t1 where name='ccc' order by id and id>=4;`

That means that you are ordering the query by the Boolean result. That mea

[2021-11-25 02:42] 3pointer commented on #30087
yes, BR build tasks(one table or index corresponds to one task) and control the task interacting with TiKV. each task corresponds to one or many regions in TiKV.(according to table or index size).
So we had two level of concurrency.
1. task level (controlled by BR `--concurrency`)
2. thread level (controlled by TiKV config `num-threads`)

But. according to our experience. It's hard to believe the

[2021-11-25 02:42] bb7133 commented on #25968
Mark the issue as 'enhancement' because the 'add index row' is now an estimation, it is not accurate by design.

[2021-11-25 02:43] #30075 closed

[2021-11-25 02:43] YuJuncen commented on #30135
According to the goroutine dump, it stuck at:
[code]

The code here "wait" some table to be fully restored and send them to the next step. But it didn't involve some context for exit, so it get stuck at here, then the whole pipeline.

The restore already failed at `[2021/11/24 20:04:56.498 +08:00]` due to a corrupted SST file: `[BR:KV:ErrKVDownloadFailed]download sst failed; Engine Engine("Corrupt

[2021-11-25 02:48] Yui-Song commented on #30075
For more details, please refer to https://bugs.mysql.com/bug.php?id=105699

[2021-11-25 02:49] bb7133 commented on #10965
Close this issue because of #1107

[2021-11-25 02:49] #10965 closed

[2021-11-25 02:50] bb7133 commented on #22913
I think this is a compatibility issue related to expression casting.

[2021-11-25 02:52] bb7133 commented on #26750
I think this is an known behavior for 'overflow' related error message, it exists for a long time and we don't expect to fix it.

[2021-11-25 02:53] bb7133 commented on #26750
ggg

[2021-11-25 02:53] #26750 closed

[2021-11-25 02:58] fengou1 commented on #30135
I agreed with Juncen, waitTablesDone does not handle context cancel.

[2021-11-25 03:05] JayL-zxl commented on #29994
@XuHuaiyu

[2021-11-25 03:16] dbsid opened #30140 "TiDB panic when running sysbench oltp_read_write"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

running oltp_read_write with 32 tables each with 10,000,000 rows

### 2. What did you expect to see? (Required)
no panic

### 3. What did you see instead (Required)
tidb panic
[code]
![image](https://user-images.githubusercontent.com/2316425/143373650-b9deab8c-48e9-4c1c-8db

[2021-11-25 03:24] bb7133 commented on #29327
I think it may be fine to keep trimming the space even when new collation *is not* enabled, as long as it doesn't lead to any bug.

[2021-11-25 03:25] bb7133 commented on #29327
I don't see any reason that users DO NOT want trimming spaces for SET/ENUM values.

[2021-11-25 03:41] #30109 closed

[2021-11-25 03:44] Defined2014 commented on #29015
/assign

[2021-11-25 04:12] vivid392845427 opened #30141 "Conflict transaction do not wait lock as expect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

`wait s1 lock;`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-11-25 05:08] fuzhe1989 commented on #28370
/cc @fuzhe1989

[2021-11-25 05:24] nolouch commented on #29264
@Yisaer  It's not fix, plz continue to fix it.

[2021-11-25 05:29] dbsid opened #30142 "br full backup failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

full backup the dataset as #30135
[code]
### 2. What did you expect to see? (Required)

backup completed successfully

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

v5.3.0

[2021-11-25 05:40] #29675 closed

[2021-11-25 05:45] YuJuncen commented on #30142
The Go runtime has been stuck by a `delve` debugger. Then BR found that the service GC safepoint has expired and the checksum may cannot be executed. So it chooses to suicide, as expected.

The behavior is defined by the `StartServiceSafePointKeeper`, which panics if it found that the service safepoint has expired. Maybe at restore side, we can make it softer (that is, not to panic but just fire a

[2021-11-25 05:45] #30142 closed

[2021-11-25 06:12] #28356 closed

[2021-11-25 06:12] cfzjywxk commented on #30140
Seems introduced by https://github.com/tikv/client-go/pull/368,
@crazycs520 @mornyx PTAL

[2021-11-25 06:17] #29151 closed

[2021-11-25 06:23] vivid392845427 commented on #30141
behavioral changes because of https://github.com/pingcap/tidb/issues/30141，close this issue

[2021-11-25 06:24] guo-shaoge commented on #29417
Can you please paste the schema of `jxtest`.

[2021-11-25 06:55] 3pointer commented on #30104
duplicated https://github.com/pingcap/br/issues/992

[2021-11-25 06:57] fubinzh commented on #30018
TiKV side issue opened: https://github.com/tikv/tikv/issues/11470

[2021-11-25 06:58] hawkingrei commented on #30083
<img width="705" alt="image" src="https://user-images.githubusercontent.com/3427324/143394284-b0bcee0d-1e51-4ce2-8e7b-9f751481989f.png">

@espresso98  I test this case in MySQL 8.0.26. it cannot create a table.

[2021-11-25 07:01] glorv commented on #30018
The max region keys in lightning is 1440000, but this will trigger tikv auto-split. Lightning should decrease this threshold to avoid region split after import.

[2021-11-25 07:02] sylzd commented on #30081
that is weird. my result is like that. It seems related to the DST server configure. I'll keep concerned about #28739.
[code]

[2021-11-25 07:04] therealqxing opened #30145 "tidb-lightning local backend data import error"
I'm trying to import data into tidb using sql file, but it seems that `pd-addr` ip address is inversely resolved to the pd pod domain name.
[code]

The service and pod status is normal, and I can access the pd service cluster ip from k8s node.
[code]

Are there any restrictions using tidb-lightning local backend? or should I use hostNetwork mode for PD ?

[2021-11-25 07:10] #29993 closed

[2021-11-25 07:10] #30100 closed

[2021-11-25 07:31] sylzd opened #30149 "dumpling: dump failed when a sequence created"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

return dump failed. Since many people do not know what seq is, and error info is `Error 1051: Unknown table ''`, it will make them confused and worried.

### 2. What did you expect to see? (Required)
dump successfully.

### 3. What did you see instead (Required)

[c

[2021-11-25 07:39] sylzd commented on #30149
/assign

[2021-11-25 07:49] kennytm commented on #28739
while DST is common, I doubt if it is really critical to support parsing non-existing local timestamps 🤔

[2021-11-25 07:50] sylzd commented on #29948
/assign

[2021-11-25 07:50] hawkingrei commented on #30113
I think it is not a bug. it may be about the mechanism of auto_increment implement in tidb.

https://docs.pingcap.com/zh/tidb/stable/auto-increment#%E8%87%AA%E5%A2%9E%E6%AD%A5%E9%95%BF%E5%92%8C%E5%81%8F%E7%A7%BB%E9%87%8F%E8%AE%BE%E7%BD%AE

I think you can run this case in a separate tidb. it may be not reproduced.

[2021-11-25 07:53] hawkingrei commented on #30129
/assign

[2021-11-25 08:01] fengou1 commented on #30104
S3 endpoint w/o slash works:
![GJXNkBwlaJ](https://user-images.githubusercontent.com/85682690/143402213-d963a309-6106-4c68-86da-f2257a981eee.png)

minio endpoint w/o slash works:
![middle_img_v2_92e165a6-4a16-48b4-9434-43830ef78b3g](https://user-images.githubusercontent.com/85682690/143402373-3ed15b19-edad-472d-b33e-d340ae10a122.png)

[2021-11-25 08:05] JayL-zxl commented on #29994
@XuHuaiyu  hi if remove probeType and buildType in HashJoinExec. may cause `runJoinWorker` and `Next` function can't easily get `probeType` and `buildType` ...

[2021-11-25 08:06] fengou1 commented on #30104
According to definition of[ AWS endpoint](https://docs.aws.amazon.com/general/latest/gr/rande.html).

endpoint shall be a URL, and URL be w/o slash shall be valid.

[2021-11-25 08:07] rleungx commented on #27057
The switch is not necessary and I'm going to close this issue.

[2021-11-25 08:07] #27057 closed

[2021-11-25 08:10] kennytm commented on #30129
i don't see any reason why we want to retroactively impose an upper limit.

[2021-11-25 08:13] Reminiscent commented on #27949
The prepare statement can not use the binding when we set the `sql_select_limit`;
[code]

I will add a PR to fix it.

[2021-11-25 08:14] windtalker opened #30151 "`from_unixtime(string)` return inconsistent result"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
`from_unixtime('1.1'), from_unixtime(value)` returns same result.
### 3. What did you see instead (Required)
`from_unixtime('1.1'), from_unixtime(value)` returns different result.
And in MySQL, both of `from_unixtime('1.

[2021-11-25 08:28] mengxin9014 opened #30153 "prevent function date_add/sub_string_xxx pushed down to tiflash"
## Enhancement

[2021-11-25 09:13] #24567 closed

[2021-11-25 09:13] #30031 closed

[2021-11-25 09:43] #30153 closed

[2021-11-25 10:13] hawkingrei commented on #30107
Please not run tidb_test in parallel mode. it will cause data race.

[2021-11-25 10:45] #29264 closed

[2021-11-25 10:53] #30137 closed

[2021-11-25 11:03] qw4990 commented on #29539
Statistics also have this problem. (cached plans remain unchanged after updating statistics)

[2021-11-25 11:07] dveeden commented on #28739
I think failing (returning `NULL`) would be acceptable, giving a wrong result is more problematic.

[2021-11-25 11:33] #30094 closed

[2021-11-25 11:59] sylzd commented on #30149
`show table status`(the default show table method) cannot distinguish `sequence` from `base table`
![image](https://user-images.githubusercontent.com/10683568/143437855-67c86b31-3abc-4b64-aa36-3a91fe11da28.png)

related code:

[code]

[2021-11-25 12:14] hawkingrei commented on #30131
/assign

[2021-11-25 12:19] ilovesoup commented on #30153
Please add sufficient information on this issue. @mengxin9014

[2021-11-25 12:52] sylzd commented on #30149
I think support sequence dump is a new feature, but dump failed is still a bug that should be fixed first (it will return error at once and affected other tables dump which makes tables dump incompletely!). the feature pr can replace the unsupported error then. @kennytm @lichunzhu

[2021-11-25 13:06] tangenta commented on #30131
Currently, it is not easy to support alias referencing outside of subquery for TiDB. Let's take this for a feature request.

[2021-11-25 13:48] #30001 closed

[2021-11-25 14:05] hawkingrei commented on #29977
it needs more log and information to discover the cause.

[2021-11-25 14:47] lcwangchao commented on #29705
This problem is caused by `LogicalAggregation.PruneColumns` . See: https://github.com/pingcap/tidb/blob/75f6225948e71c285254c70f10c6ef1b7bfcd812/planner/core/rule_column_pruning.go#L114-L135

Sometimes `LogicalAggregation` will add one new column after pruning but as its parent,  `LogicalUnionAll` does not handle situation.

Some related PRs:
- #10974
- #24937
- #25289

[2021-11-25 15:48] oops-lgtm commented on #25364
I construct it by myself.

[2021-11-25 17:01] morgo commented on #30151
See also: https://github.com/pingcap/tidb/issues/6981

[2021-11-25 17:11] unconsolable commented on #30151
I found that it will be wrongly truncated in here https://github.com/pingcap/tidb/blob/75f6225948e71c285254c70f10c6ef1b7bfcd812/expression/builtin_cast.go#L1268
due to here
https://github.com/pingcap/tidb/blob/75f6225948e71c285254c70f10c6ef1b7bfcd812/types/datum.go#L1508-L1510
I tried to add
[code]
after here https://github.com/pingcap/tidb/blob/75f6225948e71c285254c70f10c6ef1b7bfcd812/expression/

[2021-11-25 21:28] mjonss commented on #26754
/label component/tablepartition

[2021-11-25 22:54] dveeden commented on #8087
@morgo like this?
[code]

[code]

Want to do this at build time, runtime or manually?

[2021-11-26 01:11] morgo commented on #8087
Yes.

I am fine with manually, but lets see what others say.

[2021-11-26 03:08] kennytm commented on #8087
The tzMarker should be `"TZif"` not `"TZif2"`. Versions 3 and 4 of those files do exist.

[2021-11-26 03:39] cfzjywxk commented on #30141
@vivid392845427
After disscussion the behaviour change is regarded as an optimization and it's expected, we could close this issue and add an task to change the expected behaviour in test case.

[2021-11-26 03:39] sticnarf commented on #30141
I think the new behavior is mostly better.

In most cases, pessimistic locks will be finally committed. So, it will be wasting time for the optimistic transaction to wait for a pessimistic transaction whose timestamp is larger than itself.

[2021-11-26 03:46] XuHuaiyu commented on #29994
It seems I misunderstood the meaning of the `probeType` and `buildType`. I thought they are totally the same before.
I check the code again, the `Flag` of `probeType` and `buildType` may be different. For example, when hashing a signed int value or an unsigned int value, the `UnsignedIntFlag` needs to be taken into consideration.
Thus we need to keep the existence of `probeType` and `buildType`.

[2021-11-26 03:47] XuHuaiyu commented on #29994
Close this issue since we do not need to do this furthermore.

[2021-11-26 03:47] #29994 closed

[2021-11-26 04:09] bb7133 commented on #29926
Change the severity of this issue from 'critical' to 'major' because the syntax is not commonly used.

[2021-11-26 04:12] qw4990 opened #30168 "Introduce a new global variable as the switch for Plan Cache"
## Enhancement
Now the switch of Plan Cache is a config item, which is not convenient.
To modify the switch, we have to update the config file and **restart the cluster**.
It's better to introduce a new global variable as the switch for Plan Cache.

[2021-11-26 04:24] cyliu0 commented on #29417
k is decimal(8,8)

[2021-11-26 04:27] guo-shaoge commented on #29417
THX. So according to the definition of `k`, the outputs of `crc32(k)` and `concat_ws()` are both reasonable.(Also same with MySQL).

[2021-11-26 04:58] JayL-zxl commented on #30168
/assign

[2021-11-26 05:19] #29735 closed

[2021-11-26 05:25] #30116 closed

[2021-11-26 05:25] JayL-zxl commented on #29114
@tisonkun  i notice `stat_test.go` use `testGetTable` and `testCreateSchema` etc. functions. These functions have a very strong coupling relationship with other tests in the ddl package

[2021-11-26 05:32] JayL-zxl commented on #29114
@tisonkun  The migration of a single test file is not very easy to do. Why don't I replace all of them with testing and remove the previous tests using Check

[2021-11-26 05:59] #29949 closed

[2021-11-26 06:17] lance6716 opened #30170 "parser restores DROP INDEX with IF EXISTS which not fit MySQL"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://github.com/pingcap/ticdc/issues/3004

https://dev.mysql.com/doc/refman/8.0/en/drop-index.html

https://mariadb.com/kb/en/drop-index/

**Describe the feature you'd like:**

should have a way to restore to `DROP INDEX /*T! if exists */` to provide better MySQL compatibility when replication scenario

**De

[2021-11-26 06:18] lance6716 commented on #30170
cc @sunzhaoyang @leoppro

[2021-11-26 06:18] tisonkun commented on #29114
@JayL-zxl you can always take multiple issues at the same time.

[2021-11-26 06:24] #30115 closed

[2021-11-26 06:27] #30112 closed

[2021-11-26 06:43] lcwangchao commented on #29705
It is easy to fix it just forcing LogicalAggregation's schema the same with it's children after pruning, but I don't know whether this way has some potential problems.

I think it has related to the semantics for `PruneColumns` . Should we allow `PruneColumns` to add extra columns after pruning which will require all its parent considering about this.

[2021-11-26 06:46] lcwangchao commented on #29705
Another way to fix it is to modify executor codes to make executor can correctly handle the case where the number of columns is 0 (The case where all agg functions is first_row should be processed too).

[2021-11-26 06:57] kennytm commented on #28739
MySQL 8 does return 0 for unsupported input though.

[code]

[2021-11-26 07:05] #30110 closed

[2021-11-26 07:11] tiancaiamao commented on #29958
For example, the read / write QPS on cached table; any error happens;
renew lease operation;
anything that is useful for us to debug the real online service...

[2021-11-26 07:22] kennytm commented on #30133
Interesting. Why the range is only extended to year 3001 (and strangely reusing 01-19&nbsp;03:14:07), not all the way to 9999-12-31&nbsp;23:59:59? If it is expanded from 31 bits to 35 bits the upper range can actually reach 3058-10-26&nbsp;03:46:07. If the return type of `UNIX_TIMESTAMP` is changed to `DECIMAL(10)` it should only reach 2286-11-20&nbsp;17:46:39, and if it is `DECIMAL(11)` it should

[2021-11-26 07:28] mjonss commented on #30133
Since MySQL 8.0.28 is not yet released, I assume we need to wait until it has been released to check the details. I also assume this update to the manual might been released a bit too early.
The extension is probably practical for users (year 3000 is far away for any practical use), rather than technical (not using the full 64 bit value for epoch)

[2021-11-26 07:41] kennytm commented on #30133
Well using the full 63 bits would take us to 292,277,026,596-12-04&nbsp;15:30:07 which is certainly impractical 🤣.

But I think it is better to support the full DATETIME range (year 1000–9999, occupying 39 bits) rather than slightly relaxing to the awkward middle of year 3001 🙃.

[2021-11-26 07:45] #27313 closed

[2021-11-26 07:48] vivid392845427 opened #30174 "enum type subquery return error record"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-11-26 08:13] lichunzhu commented on #30149
I agree.

[2021-11-26 08:39] glkappe opened #30175 "max_execution_time compatibility issues"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

The first point：Does not take effect for ddl statements

# run long time, it > max_execution_time
[code]

secondy point：

This may affect the normal execution of other sql, it is recommended to only leave the select, consistent with mysql
[code]

[2021-11-26 09:04] JayL-zxl commented on #29114
@tisonkun  i see ..

[2021-11-26 09:11] dveeden commented on #28739
@kennytm I'm ok with returning `0` in places where MySQL 8.0 also does this. However I would rather see us support timestamps past 2038.

[2021-11-26 09:28] tisonkun commented on #29114
@JayL-zxl I'm ok if you'd like to just rewrite the tests. But maybe you should reach a consensus with ones of @tiancaiamao @zimulala @djshow832 .

Just create a new issue and close these migration tests if that one accepted and resolved.

[2021-11-26 09:39] mjonss commented on #29995
@dveeden @morgo
Do you think we should change the behaviour of TiDB to fully support the mapping of '127.0.0.1' hostname to 'localhost' when it comes to authentication?

I just tested 8.0.27 with both 'localhost'@'localhost' and 'localhost'@'127.0.0.1' and it is a bit confusing for tcp loopback interface (127.0.0.1)
[code]

If we are changing the behaviour to also map 127.0.0.1 to localhost, how s

[2021-11-26 09:52] dveeden commented on #29995
@mjonss Yes, I think the TiDB behavior should match the behavior from MySQL 8.0 more closely

[2021-11-26 09:59] liubo0127 opened #30178 "Get wrong data when use `disk-usage` api to get usage for table which has partitions"
https://github.com/pingcap/tidb/blob/7a8c7f89cebe0e5596415a6106b1345cec9cfa27/store/helper/helper.go#L883

[2021-11-26 10:13] kennytm commented on #28739
well supporting timestamp outside of 1970–2038 would be a different issue (#30133) 🙃

[2021-11-26 11:21] xuyifangreeneyes commented on #29126
We use the size of the virtual column value minus one to calculate `tot_col_size` of virtual column index (see `(*baseCollector).collectColumnGroups`). Since the virtual column value is empty, `tot_col_size of` virtual column index is calculated as `-count`.

I tried to get `tot_col_size` of virtual column index in `(*AnalyzeColumnsExec).handleNDVForSpecialIndexes` but we don't maintain `tot_col_s

[2021-11-26 11:58] mornyx commented on #30140
/assign

[2021-11-26 12:44] bb7133 commented on #30175
The current behavior of max_execution_time is by design(not a bug), I will treat it as an enhancement.

[2021-11-26 13:03] bb7133 commented on #27438
Close this issue because the 'timeout' rule for single test case has been removed.

[2021-11-26 13:03] #27438 closed

[2021-11-26 13:03] bb7133 commented on #27440
Close this issue because the 'timeout' rule for single test case has been removed.

[2021-11-26 13:03] #27440 closed

[2021-11-26 13:04] bb7133 commented on #27439
Close this issue because the 'timeout' rule for single test case has been removed.

[2021-11-26 13:04] #27439 closed

[2021-11-26 13:04] mornyx commented on #30140
Hi @dbsid, thanks for your feedback. I tried to reproduce this panic but failed, can you reproduce this case stably? If so, please provide your more detailed background, such as the way to deploy TiDB, full command of your sysbench execution, etc. Thanks!

[2021-11-26 13:08] bb7133 commented on #29317
@crazycs520 Exactly, I don't think this is a bug because `skip-grant-table` is not supposed to be working in this way. I think if we want to make `show grants` work, it should be a feature request/enhancement.

[2021-11-26 13:08] #29317 closed

[2021-11-26 14:10] mjonss opened #30182 "Regression, no longer host:port reported in show processlist"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

In https://github.com/pingcap/tidb/issues/10903 the `host:port` was added in `show processlist`, but there has been a regression, resulting it it does no longer show up.

### 1. Minimal reproduce step (Required)

See https://github.com/pingcap/tidb/issues/10903

### 2. What did you expect to see? (Required)

### 3.

[2021-11-26 14:11] mjonss commented on #30182
Reason being cc.PeerHost() has been called before, but only returns "" for port on second call.

Fixed by something like:
[code]

[2021-11-26 14:49] mjonss commented on #30182
/assign

[2021-11-26 16:01] hawkingrei opened #30185 "data race when test in br/pkg/lightning/log"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make race

### 2. What did you expect to see? (Required)

nothing error

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[2021-11-26 16:18] Allan-Nava commented on #6840
Any news?

[2021-11-26 16:34] morgo commented on #29995
Yes I agree too. I don't think it will be that useful, but the MySQL semantics are hard enough to describe. Creating entirely new semantics is problematic to decide on and explain to users.

[2021-11-26 16:39] hawkingrei opened #30187 "data race in planbuilder"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make race

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

[2021-11-26 18:54] Thearas opened #30188 "unsupported add column 'name' constraint UNIQUE KEY when altering"
## Bug Report

It works fine on MySQL but reports an error on TiDB.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

No error.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-11-26 23:37] mjonss commented on #29995
For reference, this is the only part I found about MySQL mapping loopback interface to 'localhost'
https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_skip_name_resolve

[2021-11-27 12:28] JayL-zxl opened #30194 "ddl pkg test have a very strong coupling relationship with other tests in the ddl package"
for much better migrate test-infra to testify for ddl pkg.
Need to modify the coupling function of the test file.

This makes the task of testing migration easier #27180

[2021-11-27 12:28] JayL-zxl commented on #30194
/assign

[2021-11-27 14:30] guo-shaoge opened #30195 "IndexMerge didn't check if pushdown is enabled or not"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table t1;
    create table t1(c1 varchar(100), c2 varchar(100), key(c1), key(c2), c3 varchar(100));
    insert into t1 values('ab', '10', '10');
    explain select /*+ use_index_merge(t1) */ * from t1 where c1 = 'ab' or c2 = '10' and substring(c3, 10) = 10;
    sel

[2021-11-27 17:11] zhangyangyu opened #30196 "invalid `-affinity-cpus` returns with wrong retcode"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

`./bin/tidb-server -affinity-cpus x; echo $?`

### 2. What did you expect to see? (Required)

1

### 3. What did you see instead (Required)

0

### 4. What is your TiDB version? (Required)

[2021-11-27 17:13] zhangyangyu commented on #30196
/assign @zhangyangyu

[2021-11-28 03:28] feitian124 opened #30198 "wrong connect string makes tidb quit"
## Bug Report

i have below func to return mysql ConnectString.
[code]

when passwd is blank, the ConnectString is like `root:@tcp(127.0.0.1:4000)/testdb?parseTime=true"`,
notice the addtional `:` after `root`, this seems make tidb exit. i can not even connect with other mysql gui client.
the `tiup playground` log outputs:

[code]

`/home/ubuntu/.tiup/data/Sq1Vt4g/tidb-0/tidb.log` is below:

[tidb

[2021-11-28 03:32] feitian124 commented on #30198
@tiancaiamao @disksing please have a look, this may related to security.

[2021-11-28 03:33] JayL-zxl commented on #30194
it's not a simple task as i view...

[2021-11-28 08:01] JayL-zxl commented on #30194
Next, I may be busy, and then catch up with the deadline of the paper, so this issue needs someone to complete it.

[2021-11-28 08:45] wangggong commented on #29113
/assign

[2021-11-28 12:27] guo-shaoge opened #30200 "Got error when substring is used in filter"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table t1;
    create table t1(c1 varchar(100), c2 varchar(100), key(c1), key(c2), c3 varchar(100));
    insert into t1 values('ab', '10', '10');
    explain select /*+ use_index_merge(t1) */ * from t1 where c1 = 'ab' or c2 = '10' and substring(c3, 10) = 10;
    sel

[2021-11-28 14:35] #29757 closed

[2021-11-29 00:04] feitian124 commented on #30198
sorry, checked again with a simpler query `select version();`, it does not quit...
[code]
it should be other problem.

[2021-11-29 00:09] #30198 closed

[2021-11-29 01:02] feitian124 commented on #30198
fatal error: concurrent map writes

[code]

[2021-11-29 01:04] aytrack opened #30201 "IT Unstable case mysqltest `partition_innodb` and `partition_range`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/7562/pipeline/86
seems show table info was changed.
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is yo

[2021-11-29 01:09] aytrack commented on #28205
encounter again  in CI https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1374/pipeline
[code]

related #27328 #24010

[2021-11-29 01:11] AilinKid commented on #29862
After discussion with Eason and Dev guys: this is reasonable, we don't need to extend GC interval to match the internal analyze start timestamp, cause the analyze result for should-be-GCed data doesn't have it meanings. Maybe the log level for the internal sql error should be adjusted lower.

[2021-11-29 01:11] #29862 closed

[2021-11-29 01:46] aytrack commented on #30195
duplicated with #30200

[2021-11-29 01:50] zimulala commented on #30188
This statement consists of adding the `name` column and indexing it. TiDB currently does not support multiple operations with a single DDL statement by default. We can refer:  https://docs.pingcap.com/tidb/dev/mysql-compatibility#:~:text=Multiple%20operations%20cannot%20be%20completed%20in%20a%20single%20ALTER%20TABLE%20statement.

[2021-11-29 01:53] #30195 closed

[2021-11-29 01:55] zimulala commented on #30188
Maybe it's easier to understand if we return an `errRunMultiSchemaChanges` error.

[2021-11-29 02:14] JayL-zxl commented on #29958
/assign

[2021-11-29 02:17] tiancaiamao commented on #25293
2021/11/29
* The real StateRemote implementation [#29152](https://github.com/pingcap/tidb/pull/29152) finally get merged
     -- since it is too large for a single PR, it's split into two parts and the part 2 [#30066](https://github.com/pingcap/tidb/pull/30066) is still in review,
    this has been lasting for two weeks (and a bad indicator of the project healthy)
* A PR to handle statement summar

[2021-11-29 02:31] #29849 closed

[2021-11-29 02:34] tiancaiamao opened #30205 "renew write lock lease operation for cached table"

[2021-11-29 02:35] tiancaiamao commented on #29849
I add the write lock lease renew operation issue here https://github.com/pingcap/tidb/issues/30205

[2021-11-29 02:44] bb7133 commented on #27458
I've tried to reproduce the issue with TiDB v5.1.1:

MySQL 5.7.25:
[code]

TiDB v5.1.1:
[code]

[2021-11-29 02:45] bb7133 commented on #27458
Hi @ClSlaid , I will close this issue as suggested by @sylzd , please feel free to reopen it if you have further comments.

[2021-11-29 02:45] #27458 closed

[2021-11-29 03:01] #30141 closed

[2021-11-29 03:26] you06 opened #30207 "coprocessor streaming scans duplicated ranges"
## Bug Report

Found by [comment](https://github.com/pingcap/tidb/pull/29612#pullrequestreview-816564000).

### 1. Minimal reproduce step (Required)

1. Add a failpoint in coprocessor streaming result handle.

    https://github.com/you06/tidb/blob/446238dbe70d9b98973d592eff789c4b75ad06d9/store/copr/coprocessor.go#L843-L851

2. Enable failpoints, build TiDB and run the playground.

[code]

3. Prep

[2021-11-29 03:34] fuzhe1989 commented on #25646
@lzmhhh123 Any blocking issue? Guess we can cherry-pick to release branches as before.

[2021-11-29 03:37] guo-shaoge opened #30208 "Didn't tracker memory usage of IndexMergeReader"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists t1;
    create table t1(c1 varchar(100), c2 varchar(100), c3 varchar(100), key(c1), key(c2));
    load data local infile '/home/guo-shaoge/str.sql' into table t1 fields terminated by ' ';
    select /*+ use_index_merge(t1) */ * from t1 where c1 < '1

[2021-11-29 03:37] #30086 closed

[2021-11-29 03:41] sticnarf commented on #30140
@mornyx I can easily reproduce this problem. I'm running a 1 TiKV + 1 TiDB cluster deployed using TiUP. My sysbench command is like:
`sysbench oltp_write_only --rand-type=special --tables=32 --table-size=1000000 --threads=256 run`

The panic happens so frequently that I cannot finish any benchmark. Hope it is resolved soon.

[2021-11-29 04:53] mornyx commented on #30140
Thanks for this information, I'm solving.

[2021-11-29 05:39] ChenPeng2013 opened #30211 "index_lookup_join return empty result if it is Out Of Memory Quota"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

oom-action = "cancel"
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-11-29 06:11] #30182 closed

[2021-11-29 06:17] XuHuaiyu commented on #30211
Caused by [the mistaken delete](https://github.com/pingcap/tidb/pull/29068/files#diff-ba042b1d932ce5633f5562c36ec788a036f259961bc9a6d483e59e86636ed114L342)

[2021-11-29 06:37] #29881 closed

[2021-11-29 06:51] wjhuang2016 commented on #30140
I encountered this by：
[code]

[2021-11-29 07:07] Tammyxia opened #30215 "TiDB exited: panic: runtime error: invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

- Deploy cluster through operator
- Run sysbench prepare : "sysbench --db-driver=mysql --mysql-host=upstream-tidb.cdc-testbe
d--tps-510577-1-815 --mysql-port=4000 --mysql-user=root --mysql-db=workload --tables=32 --table-size=100000 --time=10800 --debug=true --threads=32 ol

[2021-11-29 07:29] JayL-zxl commented on #29546
/close

[2021-11-29 07:30] mornyx commented on #30215
/assign

[2021-11-29 07:30] mornyx commented on #30215
Same as https://github.com/pingcap/tidb/issues/30140. Fix PR is merging

[2021-11-29 07:36] guo-shaoge commented on #28078
@aytrack We'd better upgrade the severity of the problem to **critical**, because it's troublesome to bypass the problem, and it's best to cherry pick all branches.

[2021-11-29 07:53] #30140 closed

[2021-11-29 07:54] XuHuaiyu commented on #30207
I do not think this is a bug, we deprecate this config in https://github.com/pingcap/tidb/pull/25906.
I'll change the label from `bug` to `enhancement`.

[2021-11-29 07:55] mornyx commented on #30140
I have removed the code that may cause a panic, and now the master branch should no longer panic. cc @dbsid @sticnarf @wjhuang2016 @Tammyxia

I reproduced this panic locally with go1.16. The reason for not reproducing before is that I used go1.17 locally. There are some differences between the two versions that make the phenomenon different. At present, I suspect that this difference is caused by

[2021-11-29 08:07] mornyx commented on #30215
Hi @Tammyxia , fix PR has been merged, please re-bench to see if the problem has been resolved, thanks!

[2021-11-29 08:22] XuHuaiyu commented on #29947
without txn:
[code]

[2021-11-29 08:22] XuHuaiyu commented on #29947
with txn:
[code]

[2021-11-29 08:22] #30097 closed

[2021-11-29 08:29] #30078 closed

[2021-11-29 08:35] guo-shaoge opened #30224 "Got error when using insert into select on duplicate key update"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists ccd;
    drop table if exists cm1;
    create table ccd (s int, b int, p int);
    create table cm1 (p int);
    insert into ccd (p) select 3 from cm1 on duplicate key update p = cm1.p;

### 2. What did you expect to see? (Required)
no error
### 3.

[2021-11-29 08:48] qw4990 commented on #25301
`Selection` is supported:
[code]

I'll create a new issue for `Agg`.

[2021-11-29 08:48] #25301 closed

[2021-11-29 08:52] Orion7r commented on #28078
As early as a month ago, I mentioned a pr for this bug to fix this problem, but I haven't gotten a reply yet.

[2021-11-29 08:57] wjhuang2016 commented on #29755
Caused by https://github.com/pingcap/tidb/pull/29543

[2021-11-29 09:09] djshow832 commented on #25716
Closed by https://github.com/pingcap/tidb/pull/27625

[2021-11-29 09:09] #25716 closed

[2021-11-29 09:15] fubinzh opened #30225 "br restore encrypted backup failed "Bad table magic number""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. Prepare test data in TiDB
2. Run br backup and restore, specify crypter.method and crypter.key
[code]

### 2. What did you expect to see? (Required)
br restore should succeed.

### 3. What did you see instead (Required)
br restore fails.

br log:
[BR:KV:ErrKVDownloadFaile

[2021-11-29 09:20] Ivy-YinSu opened #30226 "release: v5.2.3"
- [x] 1st bug triage: Nov 29th
- [x]  Merge finish: Nov 29th
- [x]  Release: Dec 3nd

[2021-11-29 09:20] Ivy-YinSu opened #30227 "release: v5.1.3"
- [x] 1st bug triage: Nov 29th
- [x]  Merge finish: Nov 29th
- [x]  Release: Dec 3nd

[2021-11-29 09:20] Ivy-YinSu opened #30228 "release:v5.0.5"
- [x] 1st bug triage: Nov 29th
- [x]  Merge finish: Nov 29th
- [x]  Release: Dec 3nd

[2021-11-29 09:36] qw4990 opened #30229 "make the logical rule `decorrelate` cost-based"
## Enhancement
The logical rule `decorrelate` is not always optimal, so it should be cost-based.

[code]
In the case above, the optimizer always applies the decorrelate rule and chooses the HashJoin finally instead of Apply(NestedLoopJoin).

But if the condition `t1.a=1` has a high selectivity, the plan with Apply would be better:
[code]

[2021-11-29 09:40] qw4990 opened #30230 "introduce some new hints to support to ban logical rules in the query level"
## Enhancement
Some logical rules like `decorrelate`(https://github.com/pingcap/tidb/issues/30229) are not always optimal, and now we cannot control them in the query level(https://docs.pingcap.com/tidb/stable/blocklist-control-plan), which is not convenient.

[2021-11-29 09:50] hawkingrei opened #30232 "data race in the sessionctx when running ```make race```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make race

### 2. What did you expect to see? (Required)

None

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-11-29 09:56] guo-shaoge commented on #28078
Thank you for your contributation. And you can ask for review by commenting `/cc @xxx` if your pr is ready. Otherwise we may not know the state of your PR~

[2021-11-29 10:08] #29546 closed

[2021-11-29 10:13] Orion7r commented on #28078
Get it, thanks~

[2021-11-29 10:20] time-and-fate commented on #29705
The reason behind this is that the default `tidb_partition_prune_mode` is `dynamic` in the test and the bug occurs in the `static` mode. I'll fix this in the PR for this issue.

[2021-11-29 10:33] #29725 closed

[2021-11-29 10:35] time-and-fate opened #30234 "unstable test case: TestTraceCE"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tidb_ghpr_check_2/runs/48874/nodes/62/steps/73/log/?start=0

[code]
### 2. What did you expect to see? (Required)

The test case `TestTraceCE` runs successfully.

### 3. What did you see instead (Required)

So

[2021-11-29 10:46] time-and-fate commented on #30234
/assign

[2021-11-29 10:49] sylzd commented on #30174
cannot reproduce at `17edc5758fbf865cada7e156318c41d3ee8a7501`

[code]

[2021-11-29 10:54] cyliu0 commented on #27585
@bb7133 Any update on this? We're still struggling with plenty of switches for experimental features when we're running tests.

[2021-11-29 10:55] sylzd commented on #30174
/assign

[2021-11-29 11:11] aytrack opened #30237 "IT unstable test `TestSocketAndIp`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1389/pipeline
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-11-29 11:20] aytrack opened #30238 "IT unstable test `TestLoadData`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1387/pipeline
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-11-29 11:22] TrocTool opened #30239 "Weird View When a Record is Deleted by Two Concurrent Transactions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)

The last SELECT of s1 statement should get an empty set.

### 3. What did you see instead (Required)

The last SELECT of s1 statement gets (1, 1), although it has been deleted it.

### 4. What is your TiDB version? (Requi

[2021-11-29 11:24] aytrack commented on #28205
encounter in tidb-release 5.2
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1384/pipeline

[2021-11-29 11:32] aytrack commented on #29283
encounter again in ci  https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1382/pipeline

[2021-11-29 11:51] #30234 closed

[2021-11-29 12:03] #29996 closed

[2021-11-29 12:03] #30185 closed

[2021-11-29 12:10] fzhedu commented on #29952
[code]

[2021-11-29 12:15] #30211 closed

[2021-11-29 12:27] sylzd commented on #30025
it can be optimized by logic plan, when `sum` encounter `order by`, we can prune the `order by`, make it a simple query.
any suggestions or duplicated task?  @winoros @XuHuaiyu

[code]

[2021-11-29 13:07] sylzd commented on #29948
Actually, I prefer the tidb result, swap value by `set @a=@b, @b=@a;` is more like a `Syntactic sugar` which will make user confused. Futher more, the result as follows make me `laugh and cry`🤣, it's totally different.

[code]

[code]

[2021-11-29 13:15] fzhedu commented on #29952
related to https://github.com/pingcap/tics/issues/3562

[2021-11-29 13:35] Defined2014 opened #30245 "different error code with mysql in mix of collations"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-11-29 13:43] Defined2014 opened #30246 "different result with mysql in `TIMESTAMP`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-11-29 13:53] hawkingrei opened #30247 "Unstable test ```planner/core/integration_partition_test.go``` when ```make race ```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make race

### 2. What did you expect to see? (Required)

Nothing
### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

master

[2021-11-29 14:33] #30247 closed

[2021-11-29 14:58] mjonss commented on #30246
I would actually expect `00:00:00.567` so I would also consider MySQL to be buggy here!
But I would also accept a fix where extending time -> datetime using @@timestamp session variable for the date part (using @@time_zone as interpreting @@timestamp -> date).

My reasoning:
[code]

I assume it is the return type that makes the difference mentioned in the MySQL manual:
https://dev.mysql.com/doc/re

[2021-11-29 14:59] hawkingrei commented on #30232
close the issue because of stack inaccuracy

[2021-11-29 14:59] #30232 closed

[2021-11-29 16:29] #29822 closed

[2021-11-29 16:43] Allan-Nava commented on #3663
Any news?

[2021-11-29 16:46] mjonss commented on #30201
Should be fixed now, can you verify on next merge?

[2021-11-29 16:47] mjonss commented on #29792
/label component/tablepartition

[2021-11-29 17:01] #29168 closed, assigned to jackwener

[2021-11-30 01:04] aytrack commented on #30201
Yes, it has been fixed, in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/8025/pipeline/ they are pass.

[2021-11-30 01:24] vivid392845427 commented on #30239
duplicate，https://github.com/pingcap/tidb/issues/23966， and this action as same as mysql

[2021-11-30 01:48] Defined2014 commented on #30246
Seems it's a same issue with https://github.com/pingcap/tidb/issues/29498. Close this one.

[2021-11-30 01:48] #30246 closed

[2021-11-30 01:53] tiancaiamao commented on #30141
The user send "rollback" manually, or the query is killed, or the pessimistic lock conflict with the other pessimistic txn, or dead lock etc ... although I can list many, all those are rare cases

[2021-11-30 02:47] djshow832 commented on #30201
So I'll close this issue.

[2021-11-30 02:47] #30201 closed

[2021-11-30 02:52] tiancaiamao commented on #27328
A new occurrence in https://github.com/pingcap/tidb/pull/30066

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/49047/pipeline

[code]

[2021-11-30 03:02] tiancaiamao opened #30249 "Unstable test found in CI TestInitConnect"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

CI pass

### 3. What did you see instead (Required)

Sometimes fail ... I don't know how it happens

### 4. What is your TiDB version? (Required)

[code]

[2021-11-30 03:16] espresso98 commented on #30083
Hi, @hawkingrei.
Yes, it doesn't work in MySQL but shows a different error message. Also, I wanted to inform here that TiDB does not parse a default column value with a type identifier. You can feel free to skip this.

[2021-11-30 03:21] sylzd commented on #29948
/type compatibility

[2021-11-30 03:27] sylzd commented on #30224
/assign

[2021-11-30 03:38] zhangyangyu opened #30251 "["unexpected `Flen` value(-1) in CONCAT's args"] ["arg's index"=0] warning when select"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

`select concat(@@sql_mode,',STRICT_TRANS_TABLES');`

### 2. What did you expect to see? (Required)

everything works right

### 3. What did you see instead (Required)

warning as the title in log file

### 4. What is your TiDB version? (Required)

 Release Version: v5.2.2

[2021-11-30 03:53] vivid392845427 opened #30252 "tidb panic：invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

`run auto testcase tipocket-bank2a on test-store`

### 2. What did you expect to see? (Required)

`testcase run success`

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

` ["Welcome to TiDB."] ["Release Version"=v5.4.0-alpha

[2021-11-30 03:59] espresso98 opened #30253 "TiDB returns an error when to try `select INTERVAL 1 DAY + "1997-12-31"`"
## Bug Report

 TiDB returns an error when to try  `select INTERVAL 1 DAY + "1997-12-31"` but, supports it in the reverse form.
### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see?
[code]

### 3. What did you see instead
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-11-30 04:30] morgo opened #30255 "Validation Functions can not call vars.GlobalVarsAccessor.GetGlobalSysVar safely"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Start a tidb server with the following config:

[code]

Because of https://github.com/pingcap/tidb/pull/29594 it will cause the server to crash within a few seconds:

[code]

The root cause is because the validation function on `TiDBAnalyzeVersion` calls `vars.GlobalVarsAcc

[2021-11-30 04:39] fzhedu opened #30256 "TestAllHistory failed in CI"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[2021-11-30T04:23:30.648Z] --- FAIL: TestAllHistory (1.19s)
[2021-11-30T04:23:30.648Z]     dbtestkit.go:72:
[2021-11-30T04:23:30.648Z]         	Error Trace:	dbtestkit.go:72
[2021-11-30T04:23:30.648Z]         	            				http_handler_test.go:505
[2021-11-30T04:23:30.648Z]         	            				http_handler_te

[2021-11-30 05:15] Andrewmatilde opened #30258 "TiDB returned error 8027 and was up and down for several mins while injecting iochaos on one of three tikvs."
## Bug Report

### 1. Minimal reproduce step (Required)
Get a test cluster with three tikvs.
Run bench :
sysbench oltp_insert prepare --mysql-port=$port --mysql-host=127.0.0.1 --mysql-user=root --tables=32 --table-size=100000000 --num-threads=64
After 5min
Inject iochaos with iodelay(100ms) on the all write operation one tikv.([iochaos](https://chaos-mesh.org/docs/simulate-io-chaos-on-kubernetes/)

[2021-11-30 05:53] espresso98 opened #30259 "Comparison functions shows discrepancy"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]
[code]

### 2. What did you expect to see?
In MySQL8.0
[code]
In MySQL5.7
[code]

### 3. What did you see instead
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-11-30 06:00] Tammyxia commented on #30215
@mornyx  today 5.4-nightly tidb has not this issue yet, but has new issue:
start tidb-server ...
/tidb-server --store=tikv --advertise-address=upstream-tidb-0.upstream-tidb-peer.cdc-testbed--tps-510707-1-141.svc --host=0.0.0.0 --path=upstream-pd:2379 --config=/etc/tidb/tidb.toml

panic: runtime error: index out of range [4294967295] with length 2

goroutine 24492959 [running]:
github.com/tikv/clie

[2021-11-30 06:01] cyliu0 commented on #30140
We got another index out of range panic after this fix.

[code]

[2021-11-30 06:02] Tammyxia commented on #30215
Can reproduce it very often.
workload:  /go-tpc tpcc
--db workload --warehouses 50 -T 50 --host upstream-tidb.cdc-testbed--tps-510707-1-141 --port 4000 --parts 8 --time 1h0m0s run

[2021-11-30 06:03] sticnarf commented on #30140
@cyliu0 It is unrelated to this issue. It looks like https://github.com/pingcap/tidb/issues/26832.

[2021-11-30 06:03] hawkingrei commented on #28584
/assign

[2021-11-30 06:05] lzmhhh123 commented on #25646
There's still another related issue https://github.com/pingcap/tidb/issues/28476, I'd like to fix it then cherry-pick them together.

[2021-11-30 06:10] cyliu0 commented on #26832
@Tammyxia hit this twice today while running tpcc.

[code]

[2021-11-30 06:18] espresso98 opened #30261 "GREATEST function with DATE type returns DATETIME result"
## Bug Report

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see?

In MySQL8.0,
[code]
In MySQL5.7,
[code]

### 3. What did you see instead
[code]

### 4. What is your TiDB version?
[code]

[2021-11-30 06:18] #25827 closed

[2021-11-30 06:29] fubinzh commented on #30225
This issue only occurs in master build, for v5.3.0, it is OK.

[2021-11-30 06:32] mornyx commented on #30215
Hi @Tammyxia, it looks like this is a different problem, refer to https://github.com/pingcap/tidb/issues/30140#issuecomment-982314736

[2021-11-30 06:36] fuzhe1989 commented on #25734
tiflash doesn't have this issue.

[2021-11-30 06:41] you06 commented on #30207
#29612 made some reconstruction in review, this issue is fixed.

[2021-11-30 06:41] #30207 closed

[2021-11-30 06:44] espresso98 opened #30264 "GREATEST function with plus operations to time/date type gives wrong result."
## Bug Report

### 1. Minimal reproduce step

[code]

### 2. What did you expect to see?
[code]

### 3. What did you see instead
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-11-30 07:03] djshow832 opened #30266 "Unstable test: TestAuthPlugin2"
[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/49084/pipeline

This is caused by https://github.com/pingcap/tidb/pull/29738

[2021-11-30 07:17] XuHuaiyu commented on #25734
TiDB and TiKV both have the problem.

[2021-11-30 07:19] crazycs520 commented on #29536
@dingfeng Thanks for the feedback, There is indeed a problem here. Would you like to fix it? I think adding a capacity limit such as ` 1000000` here would be ok.

[2021-11-30 07:29] tongtongyin commented on #29105
/assign

[2021-11-30 07:49] imentu commented on #28637
/assign

[2021-11-30 07:51] kennytm commented on #30128
duplicate of #30104

[2021-11-30 07:51] #30128 closed

[2021-11-30 07:55] #30095 closed

[2021-11-30 07:55] djshow832 commented on #25028
I think it still makes sense for MySQL.
There is a difference between `insert values('null')` and `insert values(null)`. `'null'` is a JSON literal `null`, but `null` is a NULL type.

[code]

`json_valid('null')`, `json_valid(null)`, `json_type('null')`, and `json_type(null)` also make sense. `'null'` and `null` are both valid, `json_type` can only return several specific types and only `NULL` sui

[2021-11-30 08:17] XuHuaiyu commented on #27135
Tested on 37e0dac25981502120986e2072062d9d69c3452b, this problem has been fixed.

[code]

tidb config:
[code]

[code]

[2021-11-30 08:18] #27135 closed

[2021-11-30 08:19] wjhuang2016 opened #30271 "wrong result when optimize order by for index"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-11-30 08:20] fengou1 opened #30272 "A new TiDB batch ddl interface to create tables"
In order to speed up the restore speed, I hope TiDB to speed up the execution of DDL. In this scenario, BR can create tables at 200 tables/s

[2021-11-30 08:43] cfzjywxk commented on #29716
Some situations could be simulated and the slow `close` may impact the query time much but we could not find useful information from the slow log, just like
[code]

[2021-11-30 08:54] he0xff opened #30274 "SELECT value FROM mysql.stats_fm_sketch WHERE table_id = 2897 AND is_index = 0 AND hist_id = 3;"
system: centos7.6
cpu: 8
memory: 32

when database execute this sql "SELECT value FROM mysql.stats_fm_sketch WHERE table_id = 2897 AND is_index = 0 AND hist_id = 3;"

cpu  load average is highest

memory not increase moe

why ?

thanks

[2021-11-30 08:58] he0xff opened #30276 "SELECT value FROM mysql.stats_fm_sketch WHERE table_id = 2897 AND is_index = 0 AND hist_id = 3;"
system: centos7.6
cpu: 8
memory: 32

when database execute this sql "SELECT value FROM mysql.stats_fm_sketch WHERE table_id = 2897 AND is_index = 0 AND hist_id = 3;"

cpu  load average is highest

memory not increase moe

why ?

thanks

[2021-11-30 08:59] he0xff commented on #30276
same question

[2021-11-30 08:59] #30274 closed

[2021-11-30 09:34] ichn-hu commented on #27503
@vivid392845427 I can't reproduce this bug on master, could you please help verify this?

[2021-11-30 09:38] bb7133 commented on #30252
It looks that it is introduced by https://github.com/pingcap/parser/pull/1231, PTAL @crazycs520

[2021-11-30 09:39] aytrack opened #30279 "IT mysqltest `role` and `role2` failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
#30204 was change the login user identify
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/8049/pipeline
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (

[2021-11-30 09:44] aytrack commented on #30279
and this may lead to `grant_dynamic` failed because the u1@localhost already exists.
[code]

[2021-11-30 09:47] aytrack opened #30281 "IT Unstable case mysqltest `delete`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/8049/pipeline/
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB versi

[2021-11-30 09:57] #27540 closed

[2021-11-30 10:01] aytrack opened #30282 "IT Timeout test `ddl delete test`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_ddl_test/detail/tidb_ghpr_integration_ddl_test/6716/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-11-30 10:02] enmotplinux opened #30283 "TiDB 的grafana 新增图表可以查tidb-server的活跃链数情况。"
## Enhancement

[2021-11-30 10:04] xuyifangreeneyes commented on #30271
/label affects-5.2

[2021-11-30 10:04] xuyifangreeneyes commented on #30271
/label affects-5.3

[2021-11-30 10:09] #29015 closed

[2021-11-30 11:19] fengou1 opened #30284 "BR using new TiDB ddl api to create tables"
BR using new API to restore the tables

[2021-11-30 11:27] aytrack commented on #30259
This was affected with collation, did you open the new collation?
https://docs.pingcap.com/tidb/stable/character-set-and-collation#collation-support-framework

[2021-11-30 11:32] mjonss commented on #30282
This is a timeout due to slow progress in downloading the dependencies. I don't consider this as a bug, but rather an issue with the CI setup or environment.
Extracts from the log:
[code]

[2021-11-30 11:35] #30170 closed

[2021-11-30 12:24] dveeden commented on #30266
Looks stable:
[code]

[2021-11-30 12:28] dveeden commented on #30266
This seems true for both tests:
[code]

[2021-11-30 12:28] bb7133 commented on #30282
/close

[2021-11-30 12:28] #30282 closed

[2021-11-30 12:30] bb7133 commented on #30279
Is this related to the concurrent execution of mysql test?

[2021-11-30 12:47] aytrack opened #30286 "IT Unstable case `TestGetIndexMVCC`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1412/pipeline
[code]
### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-11-30 12:51] dveeden commented on #30266
The PR referenced in the log seems to have this test fail:
[code]

I think I might have found what's causing this

[2021-11-30 13:31] kennytm commented on #30253
adding a parser rule mapping `"INTERVAL" Expression TimeUnit '+' BitExpr` should be sufficient to fix this.

https://github.com/pingcap/tidb/blob/13d0deb7fef7fd7391dce19f320abef4256223bd/parser/parser.y#L6626

[2021-11-30 14:08] JZuming opened #30289 "TiDB loses connection when executing transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_
[mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7626270/mysql_bk.sql.txt)

**Testcase 1**
[code]

**Testcase 2**
[code]

### 2. What did you expect to see? (Required)

Two testcases are both executed normally.

##

[2021-11-30 14:09] #25285 closed

[2021-11-30 14:53] morgo commented on #30279
It is caused by an output difference:
- Grants for u1@localhost
+ Grants for u1@127.0.0.1

Functionality is the same.

I'll take a look.

[2021-11-30 14:55] JZuming commented on #30289
The log of the server:

[2021-11-30 15:36] zhangyangyu opened #30291 "Empty `INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS` table while there are FKs"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Why `INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS` table matter is because JDBC driver may use the following SQL to extract some metadata:

[code]

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

In MySQL 5.7, it outputs:

[code]
### 3. What did you see instead (Requir

[2021-11-30 15:37] zhangyangyu commented on #30291
@morgo PTAL

[2021-11-30 16:09] bb7133 commented on #30272
/component ddl

[2021-11-30 16:11] bb7133 commented on #29792
/component tablepartition

[2021-11-30 16:24] mjonss commented on #29705
/component tablepartition

[2021-11-30 16:26] mjonss commented on #28762
/close

[2021-11-30 16:26] #28762 closed

[2021-11-30 16:36] mjonss commented on #28073
/component tablepartition

[2021-11-30 16:37] mjonss commented on #27674
/component tablepartition

[2021-11-30 16:37] mjonss commented on #27532
/component tablepartition

[2021-11-30 19:09] espresso98 commented on #30259
Hi @aytrack, Thanks for letting me know this! Sometimes, users don't realize that the problem depends on the settings. After I turn on collations and if I can no longer reproduce this, I will close this issue soon. Thanks.

[2021-11-30 20:33] shellderp commented on #30175
To me it is a feature that `max_execution_time` applies to `update` and `delete`, not only `select`. It is a dangerous implementation in MySQL. That said, maybe perfect compatibility is more important.

[2021-11-30 22:24] morgo commented on #30291
It looks like it is fixed in master:
[code]

The commit which adds support is in 5.3 not 5.2: https://github.com/pingcap/tidb/commit/f8564e3177207dc8bcbe1ccf3985b403b9c55733

So it is a docs bug. We will need to remove this page from the 5.2 manual: https://docs.pingcap.com/tidb/v5.2/information-schema-referential-constraints

[2021-11-30 22:26] morgo commented on #29677
I've removed this part of the plan from the technical design. We can re-evaluate it in this issue and potentially re-add it in future.

[2021-11-30 23:55] morgo commented on #30175
MySQL implements MVCC differently, so rolling back a statement can be something like 30x more expensive than the corresponding apply. If the limit applied to all statements, there is a high risk that under some loads DMLs could hit the threshold and effectively DoS the server.

Since TiDB does not have this issue, I think it is quite a reasonable feature extension. But we can perhaps leave this op

[2021-12-01 00:17] morgo opened #30295 "support is_uuid function"
In the feature request https://github.com/pingcap/tidb/issues/20119 (PR: https://github.com/pingcap/tidb/pull/20140 ) 2 helper functions for UUIDs were added: `uuid_to_bin()` and `bin_to_uuid()`.

MySQL 8.0 also added a function `is_uuid()` which is helpful. This is a feature request to track this.

[2021-12-01 01:26] zhangjinpeng1987 commented on #30103
It should be a bug? @qw4990

[2021-12-01 01:47] #29927 closed

[2021-12-01 01:53] unconsolable commented on #30295
/assign
I'd like to try on it. I will remove assign if I can't do this.

[2021-12-01 01:54] vivid392845427 commented on #27503
it can reproduce this bug on release-5.2，and i tried to reproduce it on the master, but it did not reproduce. I saw that the access plan is different
mysql> explain select tbl_22.* , tbl_21.* from tbl_22 join tbl_21 on tbl_22.col_171 >= tbl_21.col_92 and tbl_22.col_170 <= tbl_21.col_91 where tbl_22.col_173 in ( 'Alice' , 'Bob' , 'Alice' ) and not( tbl_21.col_90 <> 'Charlie' ) and not( tbl_21.col_9

[2021-12-01 02:15] #29650 closed

[2021-12-01 02:47] aytrack opened #30297 "IT Unstable case `TestSumAvg`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1416/pipeline/
[code]
### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-01 03:15] XuHuaiyu commented on #27503
The explain result of master:
[code]

[2021-12-01 03:16] XuHuaiyu commented on #27503
From the explain results of release-5.2 and master, the main difference is
- `tbl_21` uses the `PRIMARY(col_90, col_92)` on release-5.2
- `tbl_21` uses the `idx_28(col_90, col_91)` on master

[2021-12-01 03:17] you06 commented on #29716
The latency appears between two statements, so no statement will record it. Maybe a `wait_start_time` would be helpful in diagnosing.

[2021-12-01 03:20] XuHuaiyu commented on #27503
1. I tried to use the hints `inl_join(tbl_21)` and `use index(primary)`  to re-produce the same plan on the master branch, but failed because the `HashJoin` is chosen.
2. I modified the source code of the master branch to enforce the `IndexJoin` and drop the index `index_28` of `tbl_21`, but got an error `ERROR 1815 (HY000): Internal : Can't find a proper physical plan for this query`

[2021-12-01 03:28] XuHuaiyu commented on #27503
- This problem can be reproduced on the release-5.2 branch.
- I can not reproduce the totally same plan as the release-5.2 on the master branch.
- The master branch can run successfully without any errors for now.

[2021-12-01 03:38] ichn-hu commented on #27503
we need a way to dump physical execution plan and execute with dumped physical plan directly instead of relying on planner to produce unstable plan.

[2021-12-01 03:38] xhebox commented on #29908
Closed for #7024

[2021-12-01 03:38] #29908 closed

[2021-12-01 05:00] Alkaagr81 opened #30300 "STRCMP values are different when charset set latin1"
## Bug Report

[code]
Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-01 05:28] zhangyangyu commented on #30291
Test in v5.3 it works. So let's fix the doc then and thanks @morgo !

[2021-12-01 05:28] #30291 closed

[2021-12-01 05:30] zhangyangyu commented on #30291
/remove-label needs-more-info

[2021-12-01 05:32] fuzhe1989 commented on #25734
/assign @XuHuaiyu

[2021-12-01 05:36] #28378 closed

[2021-12-01 06:18] yibin87 commented on #25734
Try mysql, it seems in some cases, it will execute the second comparison and report the error too:
mysql> select * from t2 where a > 10 or a >= 18446744073709551615 + 10;
ERROR 1690 (22003): BIGINT UNSIGNED value is out of range in '(18446744073709551615 + 10)'
So overflow calculations => ERROR seems reasonable, only concern is TiDB error message: '(10 + -1)', converting BigInt Unsigned to BigInt,

[2021-12-01 06:21] XuHuaiyu commented on #25734
Confirmed in TiDB with and without pushing down "or", both cases works successfully.

[2021-12-01 06:23] aytrack commented on #30300
in tidb
[code]

in mysql
[code]

[2021-12-01 06:29] yibin87 commented on #25734
You mean, TiDB won't report error message in the latest version for this case?

[2021-12-01 06:39] zach030 commented on #29110
/assign

[2021-12-01 06:41] zhangyangyu commented on #30251
/remove-label needs-more-info

[2021-12-01 06:45] zhangyangyu commented on #30251
@XuHuaiyu thanks for the action but could you please elaborate why wonfix although there are many warnings in the log?

[2021-12-01 06:47] tiancaiamao opened #30303 "Unstable CI test TestDBNameEscape"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]

### 1. Minimal reproduce step (Required)

Found in CI https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/49324/pipeline
https://github.com/pingcap/tidb/pull/30290

### 2. What did you expect to see? (Required)

CI success

### 3. What did you see instead (Required)

[2021-12-01 06:49] tiancaiamao commented on #30303
This one looks like https://github.com/pingcap/tidb/issues/30249

[2021-12-01 06:52] aytrack commented on #30255
releated to #27166

[2021-12-01 06:55] chongchaoyu opened #30304 "does TiDB have a "slow shutdown" feature as MySQL?"
I haven't find some features in TiDB,
1.does TiDB have a "slow shutdown" feature as MySQL?
2.TiDB uses DIRECTIO or cache when writing data to disk?
3.is it synchronized when TiDB writes data to disk, can it be changed?

And if not sp far, will they be features in the future?

Thanks

[2021-12-01 07:00] aytrack opened #30305 "IT mysqltest failed with timestamp using 0 as default value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/8074/pipeline/
[code]

similar issues #https://github.com/pingcap/tidb/issues/29795
### 2. What did you expect to see? (Required)

### 3. What d

[2021-12-01 07:05] joccau commented on #30225
- This bug is imported in PR(https://github.com/tikv/tikv/pull/10929)
- It causes that getting a bad SST after decrypt when download SST
- Enter a incorrect buffer length when decrypt buffer from reading SST

[2021-12-01 07:26] mjonss commented on #30237
This might be fixed by https://github.com/pingcap/tidb/pull/30189 since it replaces the static wait of 100milliseconds with a check if possible to connect over the MySQL protocol, with a longer total timeout (1 s or 100 * 10 ms retry wait)

[2021-12-01 07:29] #29995 closed

[2021-12-01 07:41] tiancaiamao opened #30307 "Grafana dashboard no data in PD Client -> Start TSO Wait Duration"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/1420062/144191842-0929fcb8-c656-4a0c-bcfc-9411672f9039.png)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

The data is missing...

### 4. What is your TiDB version? (Required)

m

[2021-12-01 07:48] tiancaiamao commented on #25645
I'll update the document for this

[2021-12-01 08:08] #30030 closed

[2021-12-01 08:11] youjiali1995 opened #30309 "TiDB doesn't log any slow log if log.level >= "error""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. Deploy a nightly cluster with config below:
[code]
2. Execute any query.
3. See whether there is the `tidb_slow_query.log` file.

### 2. What did you expect to see? (Required)

slow logs show.

### 3. What did you see instead (Required)

No slow logs.

### 4. What is you

[2021-12-01 08:19] wjhuang2016 commented on #26763
https://github.com/pingcap/tidb/blob/e97e8c0f238387c33cccca23f2434389f5f39c10/domain/domain.go#L759

Since the `ctx` is background, d.ctx.Done() is impossible. So there is no bug, but we still can remove this dead code.

[2021-12-01 08:19] mjonss commented on #30099
/type enhancement

[2021-12-01 08:22] youjiali1995 commented on #30309
Introduced by https://github.com/pingcap/tidb/pull/23534 which uses the same config of the server logger to initialize the slow query logger:
https://github.com/pingcap/tidb/pull/23534/files#diff-800042943fbf571b5e1b46f93f2ebab487a70873fd3c9708b00b39b9d59ce278R20.

The slow query logger uses default config https://github.com/pingcap/tidb/pull/23534/files#diff-163bbfde1f383898e507b5ca82bd6bec58809a

[2021-12-01 08:24] zach030 commented on #28629
/assign

[2021-12-01 08:25] #29240 closed

[2021-12-01 08:33] mjonss commented on #30175
For reference: https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_max_execution_time

[2021-12-01 08:40] wjhuang2016 commented on #24995
After discussion, this issue is very hard to fix, and it doesn't cause some serious problems. We would like to take it as a compatibility problem and not going to fix it.

[2021-12-01 08:41] wjhuang2016 commented on #24995
I will keep it for more suggesions.

[2021-12-01 08:50] Defined2014 commented on #30253
/assign

[2021-12-01 08:54] youjiali1995 opened #30313 "Update client-go to use resolveForRead"
## Enhancement

ref https://github.com/tikv/client-go/issues/356

[2021-12-01 08:55] qw4990 commented on #30103
Yep, we can regard this issue as a bug also, but it may not be appropriate.
To fix it, we have to design some experiments and test cases to evaluate the new formula to ensure there is no regression, which is what we are doing in Sprint6.
It seems that we cannot fix it like a bug quickly, so I just labeled it with `enhancement` and planned to solve it in Sprint6 by the project Cardinality&Cost Enha

[2021-12-01 08:57] mjonss commented on #30205
/type enhancement

[2021-12-01 09:05] guo-shaoge opened #30315 "add testcase for SlowQueryLogger.MaxDays/MaxSize/MaxBackups"
## Enhancement
Add a testcase to cover https://github.com/pingcap/tidb/issues/25716 , in case we break it again.

[2021-12-01 09:09] mjonss commented on #30215
Likely to be the same issue as https://github.com/pingcap/tidb/issues/26832

[2021-12-01 09:12] bb7133 commented on #29697
This is kind of expected: before introducing the new collation framework, collation id is meaningless for TiDB(there is only 1 collation for each charset). So for a lot of codes, the collation ID may be missing.

We probably need to fix it eventually with the code refactoring/testing enhancements.

[2021-12-01 09:12] bb7133 commented on #29697
/cc @wjhuang2016

[2021-12-01 09:14] guo-shaoge commented on #30224
dup with https://github.com/pingcap/tidb/issues/28078

[2021-12-01 09:14] #30224 closed

[2021-12-01 09:43] #29658 closed

[2021-12-01 10:15] wjhuang2016 commented on #29697
[code]
We doesn't set charset and collation for `_tidb_rowid`.

[2021-12-01 10:23] #30313 closed

[2021-12-01 10:29] lichunzhu opened #30319 "Support checksum for dumping"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When dumpling finishes dumping progress, it's hard for us to know whether dumpling dumps data correctly.
**Describe the feature you'd like:**

Support checksum for dumpling to check whether we dump data correctly.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration

[2021-12-01 10:39] #28637 closed

[2021-12-01 10:49] #29821 closed

[2021-12-01 10:50] Defined2014 commented on #30253
/unassign

[2021-12-01 11:01] #30271 closed

[2021-12-01 11:11] #30307 closed

[2021-12-01 11:59] lichunzhu commented on #30319
We can do this by computing checksum of the dumped dumpling files and of tidb by sql `select bit_xor(concat(a, b, c, d)) from t1 where a < 100  order by a`.

[2021-12-01 11:59] #29105 closed

[2021-12-01 12:05] mjonss commented on #30256
Duplicate of https://github.com/pingcap/tidb/issues/30249 ?

[2021-12-01 12:11] mjonss commented on #29498
I had a related comment [here](https://github.com/pingcap/tidb/issues/30246#issuecomment-981713396).

[2021-12-01 12:13] mjonss commented on #30264
related to https://github.com/pingcap/tidb/issues/29498

[2021-12-01 12:14] mjonss commented on #30261
Duplicate of https://github.com/pingcap/tidb/issues/30264 ?

[2021-12-01 12:33] mjonss commented on #30286
Related to https://github.com/pingcap/tidb/issues/30249 ?

[2021-12-01 12:35] #29705 closed

[2021-12-01 12:39] mjonss commented on #30295
/type enhancement

[2021-12-01 13:02] djshow832 commented on #30286
I think so. There are at least 5 relevant issues.

[2021-12-01 13:15] tiancaiamao commented on #30307
It's said 5.1.1 is unaffected while 5.1.2 is buggy...
5.0 and before this bug doesn't exist

[2021-12-01 15:07] unconsolable opened #30324 "inconsistent result for built in function `uuid_to_bin`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
MySQL 8.0.27
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
Release Version: v5.3.0
Edition: Community
Git Commit Hash: 4a1b2e9fe5b5afb1068c56de47adb07098d768d6
Gi

[2021-12-01 15:08] unconsolable commented on #30324
/sig execution

[2021-12-01 15:14] unconsolable commented on #30324
I think it is related to upstream package `github.com/google/uuid` and it's way of [Parse](https://pkg.go.dev/github.com/google/uuid@v1.1.2#Parse), there are tracking issues https://github.com/google/uuid/issues/60 and https://github.com/google/uuid/pull/61, but haven't been merged after a year.
IMHO to fix it, a wrapper of Parse may be needed, or we can fork a version and apply the changes.

[2021-12-01 15:40] #30324 closed

[2021-12-01 15:46] unconsolable opened #30325 "inconsistent result for built in function `uuid_to_bin`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

Ref https://github.com/pingcap/tidb/pull/30318#discussion_r760100899
Ref https://github.com/pingcap/tidb/pull/30318#discussion_r760120807

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
MySQL 8.0.27
[code]

### 3. What did you see instead (Required)
[code]

### 4. Wh

[2021-12-01 15:49] mjonss commented on #30305
Needs an `sql_mode` without `NO_ZERO_DATE`. If `sql_mode` includes `NO_ZERO_DATE`, then it is the correct behaviour.
So the bug is:
[code]

Either we fix the issue when `NO_ZERO_DATE` is not included in `sql_mode` or we accept the incompatibility with MySQL and just fixes the tests (which most likely sets `sql_mode` and fails to reset it back to DEFAULT).

[2021-12-01 15:49] mjonss commented on #30305
/assign

[2021-12-01 17:08] JZuming opened #30326 "Malicious SQL statement which directly crashes TiDB server by triggering stack overflow"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_ [mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7635777/mysql_bk.sql.txt)

**Testcase**
[code]

### 2. What did you expect to see? (Required)

Testcase does not crash the TiDB server.

### 3. What did you see inst

[2021-12-01 17:52] morgo commented on #30326
Verified as described against master:

[code]

Stack trace shows:
[code]

[2021-12-01 18:00] morgo commented on #30304
For (1): Short answer: no

If by slow shutdown you mean [`innodb-fast-shutdown=0`](https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_fast_shutdown), the main difference between 0 and 1 (default) is that the change buffer (aka insert buffer) is purged. TiDB (TiKV) does not have change buffering, so this doesn't apply.

For (2) See https://tikv.org/docs/dev/tasks/configure

[2021-12-01 19:05] ramanich1 opened #30327 "Convert time to date : Tidb is not using set timestamp value"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-01 20:29] ramanich1 opened #30328 "Create table with column length is too big : Mysql is converting VARBINARY to BLOB and VARCHAR to TEXT , Tidb is resulting error."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-01 20:52] ramanich1 opened #30329 "TIDB converting to datetime results are not compatible with mysql ( 8.0 and 5.7)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-01 22:28] ramanich1 opened #30330 "If command :comparing and assigning( using cast()) with user defined variable : Error in Tidb ( for date , datetime and decimal data types)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-01 23:17] Alkaagr81 opened #30331 "Compare result is different in tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-02 00:30] yudongusa commented on #30103
This is part of cost model enhancement planned in Sprint 6 in which this and other related costing enhancement and issues will be examined and improved.

[2021-12-02 01:16] aytrack opened #30332 "IT goroutine leak detected in `integration ddl`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_ddl_test/detail/tidb_ghpr_integration_ddl_test/6756/pipeline
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Re

[2021-12-02 01:24] aytrack opened #30333 "IT unstable case `TestPreparePlanCacheNotForCacheTable`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1422/pipeline
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-02 01:27] rebelice opened #30334 "add optimizer trace framework for physicalOptimize"

[2021-12-02 01:44] aytrack commented on #30266
encountered this again in ci: https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1430/pipeline
[code]

[2021-12-02 02:09] Ivy-YinSu opened #30336 "release: v5.4.0"
### Candidate SHA:
- TiDB: 974b5784adbbd47d14659916d47dd986effa7b4e
- TiKV: 51377c0190fd2376eb059cb4b7ea933b762a59c9
- PD: 5a16467494366ec416b94ab776d5487ee6022ef8
- TiFlash: d16a76ac266c4d57184076f585a2d1340484cd82
- BR: 974b5784adbbd47d14659916d47dd986effa7b4e
- binlog: e6686a36ea75aa32148cdff2b23158147d679ffd
- importer: 53d641a98c5d2811610fa23e9a5c6b1f63472d34
- tidb-tools: b1def7746ec382a71a7

[2021-12-02 02:15] ramanich1 opened #30337 "TiDB datetime comparison results are conflicting with mysql ( 5.7 and 8.0)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-02 02:16] Reminiscent commented on #30333
@sylzd PTAL

[2021-12-02 02:25] #29483 closed

[2021-12-02 02:43] ramanich1 commented on #30264
more issues with  DATE/DATETIME comparison using LEAST()/GREATEST() functions:
[code]

[2021-12-02 02:45] #30196 closed

[2021-12-02 02:48] aytrack commented on #30337
in tidb
[code]

[2021-12-02 03:04] bb7133 commented on #30326
PTAL @wjhuang2016

[2021-12-02 03:08] wjhuang2016 commented on #30326
/cc @guo-shaoge

[2021-12-02 03:27] #28584 closed

[2021-12-02 03:48] Defined2014 commented on #30253
Tried on #30312 , it will caused `select INTERVAL(0,1,1,1)` parse failed.
And try to follow [mysql](https://github.com/mysql/mysql-server/blob/3290a66c89eb1625a7058e0ef732432b6952b435/sql/sql_yacc.yy#L10568), it caused shift/reduce problems.

[2021-12-02 05:11] #30101 closed

[2021-12-02 05:23] #25028 closed

[2021-12-02 06:16] espresso98 commented on #30259
[code]

[2021-12-02 06:16] #30259 closed

[2021-12-02 06:56] hawkingrei opened #30342 "executor: checkptr: converted pointer straddles multiple allocations"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]
### 1. Minimal reproduce step (Required)

make race

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-02 06:56] unconsolable commented on #30328
/assign

[2021-12-02 06:59] guo-shaoge commented on #30200
There are two ways to fix this:
1. The simpler one: pushdown substring and char_length, just as #30193 did.
2. More thorough repair: fix the plan, add Selection above IndexMerge if some exprs cannot be pushdown, just as #30341 did.

[2021-12-02 07:07] fzhedu opened #30344 "tidb master idc-jenkins-ci-tidb/integration-copr-test failed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_copr_test/detail/tidb_ghpr_integration_copr_test/7305/pipeline

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)
mas

[2021-12-02 07:28] fuzhe1989 commented on #30337
/assign @XuHuaiyu

[2021-12-02 07:31] hawkingrei opened #30345 "data race in the GlobalConfig"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]

### 1. Minimal reproduce step (Required)

```make race```

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-02 07:34] tiancaiamao commented on #30342
This is a feature introduced in Go 1.14, `-d=checkptr` the compiler will check the pointer is aligned.
https://go.dev/doc/go1.14

[2021-12-02 07:47] hawkingrei commented on #30345
/assign

[2021-12-02 07:50] fuzhe1989 commented on #29948
/assign @wshwsh12

[2021-12-02 07:51] fuzhe1989 commented on #29831
/assign @fuzhe1989

[2021-12-02 07:54] fuzhe1989 commented on #29708
/assign @guo-shaoge

[2021-12-02 07:55] fuzhe1989 commented on #29629
/assign @ichn-hu

[2021-12-02 07:56] fuzhe1989 commented on #29498
/assign @XuHuaiyu

[2021-12-02 07:56] fuzhe1989 commented on #29497
/assign @wshwsh12

[2021-12-02 07:57] fuzhe1989 commented on #29236
@guo-shaoge

[2021-12-02 07:58] fuzhe1989 commented on #29070
/assign @ichn-hu

[2021-12-02 07:58] fuzhe1989 commented on #29236
/assign @guo-shaoge

[2021-12-02 08:02] tiancaiamao commented on #30215
Nop, this one is fixed by https://github.com/pingcap/tidb/pull/30181, I'll close it.

[2021-12-02 08:02] #30215 closed

[2021-12-02 08:03] tiancaiamao commented on #30215
Duplicated with https://github.com/pingcap/tidb/issues/30140

[2021-12-02 08:39] #29154 closed

[2021-12-02 08:45] fzhedu opened #30347 "typeInfer4Avg typeInfer4Sum typeInfer4MaxMin for decimal type is not reasonable"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]
If the input type is decimal(23,-1), then it will be changed to decimal(23,30), where precision > scale. This is not reasonable.

### 4. What is your TiDB version? (Required)
master

[2021-12-02 09:05] #29697 closed

[2021-12-02 09:37] #29755 closed

[2021-12-02 10:09] zyguan opened #30352 "Incompatible implementation of jsonpath extraction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master (6475e8949cf4bc4cddfc4cab7dfaf4f6b1bb9fa9)

[2021-12-02 10:11] mjonss opened #30353 "memory.reArrangeFallback uses 50% of the time for SELECT with 8k partitions"
## Bug Report

Profiling a simple `SELECT * FROM t` for a partitioned table with maximum number of partitions spends around half the time in the `memory.reArrangeFallback` tracking function.

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

The result to be given within milliseconds at least (MySQL does it in 0.1 second)
[code]

### 3. What did you s

[2021-12-02 10:14] mjonss commented on #30326
Related to memory.reArrangeFallback: https://github.com/pingcap/tidb/issues/30353

[2021-12-02 10:15] #28476 closed

[2021-12-02 10:15] #29416 closed

[2021-12-02 10:31] bb7133 commented on #30253
I don't think this is a major bug: `select INTERVAL 1 DAY + "1997-12-31";` is not a common usecase and it can be workarounded easily.

[2021-12-02 10:34] guo-shaoge opened #30354 "Wrong result when IndexMerge is used with virtual column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

    drop table if exists t1;
    create table t1(c1 int, c2 int, c3 int as (c1 + c2), key(c1), key(c2), key(c3));
    insert into t1(c1, c2) values(1, 1);
    select /*+ use_index_merge(t1) */ * from t1 where c1 < -10 or c2 < 10 and reverse(c3) = '2';

### 2. What did you e

[2021-12-02 10:41] bb7133 commented on #30352
I think this is related to the type system and json implementations. /cc @zyguan @XuHuaiyu

[2021-12-02 10:45] winoros commented on #29948
Our behavior is left-associative and updates the values in place. I think it's reasonable behavior.
It's a value, not a column. So once we assign the value, we update it. I don't think we should treat this behavior as a bug.

[2021-12-02 10:47] winoros commented on #29948
I'm the same as you. We can regard this as a compatibility issue, but not a *bug*

[2021-12-02 10:47] #30255 closed

[2021-12-02 10:49] fuzhe1989 commented on #29948
/unassign @wshwsh12

[2021-12-02 10:51] aytrack commented on #30344
duplicated with https://github.com/pingcap/tidb/issues/29755, maybe fixed by https://github.com/pingcap/tidb/pull/30236

[2021-12-02 10:55] dingfeng commented on #29536
ok, I will fix it in the spare time.

[2021-12-02 14:06] zhangyangyu opened #30357 "case-sensitivity issue when query `information_schema.tables` between TiDB and MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

This seems to affect liquibase migration behaviour. It uses [getTables](https://docs.oracle.com/javase/7/docs/api/java/sql/DatabaseMetaData.html#getTables(java.lang.String,%20java.lang.String,%20java.lang.String,%20java.lang.String[])) and fire sql like:

[code]

### 1. Minimal reproduce step (Required)

[code]

##

[2021-12-02 16:05] #30187 closed

[2021-12-02 17:00] morgo commented on #30329
I think this is major/moderate instead of critical. My reason is: it is not a standard datetime format, and at least TIDB returns `NULL` instead of a wrong result.

[2021-12-02 17:40] ramanich1 opened #30358 "Table definition for date filed is showing date and time in Tidb and mysql is only showing date"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-02 17:45] ramanich1 opened #30359 "TiDB is not treating '0000-00-00' date and '0000-00-00 00:00:00' as NULL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-02 19:31] mjonss opened #30360 "GetExplainRowsForPlan called twice for the same query"
## Bug Report

When profiling a `SELECT * FROM partitioned_table` I found that GetExplainRowsForPlan was called twice and took about 25% of the time when executing the query.

I wonder if it is even needed to call at all, since the plan is already stored, and could possibly be extended with `GetExplainRowsForPlan` when needed by `EXPLAIN FOR ...`

Found when first hacking out/disable reArrangeFall

[2021-12-02 20:08] mjonss commented on #30359
I would claim that this is rather a bug in MySQL that we should not be bug compatible with, since only `NULL` should match `IS NULL`

MySQL gives this weird result:
[code]

But apparently it is intended for ODBC compatibility:
https://bugs.mysql.com/bug.php?id=95416
@morgo what is your opinion on this? Should we also compare ZERO DATE/DATETIME with both NULL and NOT NULL?

[2021-12-02 20:16] morgo commented on #30359
It's not a bug if it is _documented_ and intentional :( Even if I have the same reaction as you :vomiting_face:

This is a duplicate of https://github.com/pingcap/tidb/issues/10485

My suggestion is: we close this as a duplicate, but leave the other issue open as a feature request so that users have something to refer to and request it be added. If we identify an application as affected, we can lo

[2021-12-02 21:06] JZuming opened #30361 "Unrepeatable read occurs when two transaction are executed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_

**Testcase**

connect command: mysql -h "127.0.0.1" -u root -P 4000 -D testdb

Two transaction T1 and T2
[code]

### 2. What did you expect to see? (Required)

Two select statement in transaction T2 output the same result

[2021-12-02 21:10] JZuming commented on #30361
When deleting the "order by" clause of the two select statements, they output the same result.
i.e.
[code]
The two select statements in transaction T2 output the same result:
[code]
So the bug may hide in the code related to "order by" clause.

[2021-12-02 21:37] ramanich1 opened #30362 "Tidb uhhex() results are conflicting with mysql( 5.7 and 8.0) when collation_database =gbk_chinese_ci"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-02 21:47] mjonss opened #30363 "to_days(1001-00-00) returns 365576 instead of NULL"
## Bug Report

to_days(<some invalid date>) does return a value instead of NULL, like MySQL.
This is most likely true for any invalid dates.

Found while testing MySQL test file `partition_pruning.test`

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Requ

[2021-12-02 22:06] mjonss commented on #30363
Also `TO_SECONDS()` is affected the same way.

[2021-12-03 01:11] aytrack opened #30364 "IT mysqltest `mysql_replace` failed with auto_increment errors"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/7643/pipeline/86
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-03 01:22] aytrack commented on #29545
another failed with in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_common_test/detail/tidb_ghpr_common_test/7643/pipeline/86
[code]
@winoros @time-and-fate seems there are several cases in mysqltest will be affected with this, could you check the cases  again and solve it.

[2021-12-03 01:45] windtalker opened #30365 "when using dynamic partition prune mode, MPP query does not show accessed partition in explain results"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
The access object of `TableReader_21` shows the accessed partition.
### 3. What did you see instead (Required)
partition pruning error[planner:1054]Unknown column 'store_id' in 'expression'
### 4. What is your TiDB versio

[2021-12-03 01:50] aytrack commented on #30113
Reopen this issue because we need to update the `run-tests.sh` to run auto_increment cases in separate tidb.

[2021-12-03 01:56] aytrack commented on #30107
Reopen this issue because need to update the `run-tests.sh`

[2021-12-03 01:58] bb7133 opened #30366 "*: a better design for GlobalConfig"
## Enhancement

Currently, the [GlobalConfig](https://github.com/pingcap/tidb/blob/cec4acbf5ea952a8f92c8258fce3142528f9fb1e/config/config.go#L729) is loaded from the configuration file and can be modified('dynamic config') after that, several fields are wrapped with an atomic operation helper to avoid data race issues, for example:

* https://github.com/pingcap/tidb/blob/cec4acbf5ea952a8f92c8258fc

[2021-12-03 02:00] bb7133 commented on #30366
/cc @morgo Do you think it's a good idea to deprecate 'dynamic configuration' for TiDB-server?

[2021-12-03 02:02] aytrack commented on #30331
It's related to the collation, the behavior of padding in tidb is incompatible with MySQL, https://docs.pingcap.com/tidb/stable/character-set-and-collation#new-framework-for-collations

[2021-12-03 02:03] aytrack commented on #30344
Not Encounter this after #30236 merged, close this issue .

[2021-12-03 02:03] #30344 closed

[2021-12-03 02:05] morgo commented on #30366
I would love to deprecate dynamic config and eventually the `toml` config file. For most server options users prefer dynamic config and we can use sysvars. For the options they can't, we could use a mysql-style config file.

The underlying limitation is deciding on the behavior of instance-scoped variables. There are two options:
- [This proposal: instance scoped variables](https://docs.google.com

[2021-12-03 02:09] chongchaoyu commented on #30304
Thanks a lot, I find that since 5.0, sync-log is forced to true, is that rtight?
"Delete the `raftstore.sync-log` configuration item. By default, written data is forcibly spilled to the disk. Before v5.0, you can explicitly disable `raftstore.sync-log`. Since v5.0, the configuration value is forcibly set to `true`"

[2021-12-03 02:22] dbsid opened #30368 "TiDB panic when running a banking workload"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

run a workload simulation

### 2. What did you expect to see? (Required)
no tidb panic

### 3. What did you see instead (Required)
tidb panic

[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-03 02:23] Lily2025 commented on #30255
/severity Critical

[2021-12-03 02:43] XuHuaiyu commented on #29498
The Length should be `23` instead of `14`

[code]

[2021-12-03 02:45] XuHuaiyu commented on #29498
We need to add a check after line 145
https://github.com/pingcap/tidb/blob/cec4acbf5ea952a8f92c8258fce3142528f9fb1e/expression/builtin_control.go#L145-L146

Like this:
[code]

[2021-12-03 03:09] #29952 closed

[2021-12-03 03:13] hawkingrei commented on #30357
/assign

[2021-12-03 03:15] XuHuaiyu commented on #30337
I think it's a bug of MySQL. I test in MySQL8.0 using the following SQL, it appears to be in conflict with the case mentioned in the description.
[code]

[2021-12-03 03:16] Lily2025 commented on #30258
/severity major

[2021-12-03 03:18] XuHuaiyu commented on #30337
I reported a bug to MySQL, wait for verification

[2021-12-03 03:36] wjhuang2016 commented on #30326
[code]

It has nothing to do with CTE, it seems that related to window function.

[2021-12-03 03:40] fuzhe1989 commented on #30363
/assign @XuHuaiyu

[2021-12-03 03:47] #30345 closed

[2021-12-03 05:03] Defined2014 commented on #30362
Tried on MySQL 8.0.27, the behavior is same as TiDB. What's your mysql version? @ramanich1

[code]

[2021-12-03 05:18] july2993 opened #30377 "WalkDir of gcs only iterate at most 1000 keys"
## Bug Report
ref

https://github.com/pingcap/tidb/blob/891517f23ec3443d971423d30d54feaa08fb51b3/br/pkg/storage/gcs.go#L183-L197

note `maxKeys` is 1000, and we will end the loop after iterate `maxKeys` keys
### 1. Minimal reproduce step (Required)
import data more than 1000 keys/files

### 2. What did you expect to see? (Required)
import all data under directory.
### 3. What did you see instead (

[2021-12-03 05:21] XuHuaiyu commented on #28370
Actually, I think it's expected behavior in TiDB. The assignments are evaluated from left to right, we can update a
I reported a [bug](https://bugs.mysql.com/bug.php?id=105784) to mysql see what does they thought.

[2021-12-03 05:22] kennytm commented on #30377
`maxKeys` is 1000 only if `opt.ListCount` is left has default (0).

[2021-12-03 05:24] XuHuaiyu commented on #28370
If we need to fix this behavior, we can add a not-null check during the building of `newRowData`.
https://github.com/pingcap/tidb/blob/891517f23ec3443d971423d30d54feaa08fb51b3/executor/update.go#L334-L386

We need to add the check after line 353 and line 380 separately like this:
[code]

[2021-12-03 05:26] glorv commented on #30377
I think this do is a bug. For s3 the `maxKeys` is used to limit the fetch keys for each request but still ensure to visit all the keys. But gcs only visit `maxKeys` keys and then stop.

[2021-12-03 05:26] glorv commented on #30377
/cc @3pointer

[2021-12-03 05:42] fuzhe1989 commented on #28370
IMO it is worth to fix. Thanks for your investigation.

[2021-12-03 05:53] Defined2014 commented on #30362
But we still have some problems with unhex() func related gbk.
[code]

mysql
[code]

TiDB
[code]

[2021-12-03 06:07] zyguan opened #30382 "TiDB panicked with index out of range [-1]"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

related issues: https://github.com/pingcap/tidb/issues/25812, https://github.com/pingcap/tidb/issues/28141, https://github.com/pingcap/tidb/pull/26380 .

### 2. What did you expect to see? (Required)

All statements are executed without error.

### 3. What did you s

[2021-12-03 06:15] zyguan commented on #30368
related to https://github.com/pingcap/tidb/issues/30252

[2021-12-03 06:16] zyguan commented on #30382
cc @tiancaiamao @Yisaer

[2021-12-03 06:34] XuHuaiyu commented on #30337
The bug is verified by the MySQL verification team, close this issue now.

[2021-12-03 06:34] #30337 closed

[2021-12-03 06:43] XuHuaiyu commented on #28370
The bug is verified by the MySQL verification team, close this issue now.

[2021-12-03 06:43] #28370 closed

[2021-12-03 06:47] djshow832 commented on #30364
It's caused by https://github.com/pingcap/tidb/pull/30301

[2021-12-03 06:50] Alkaagr81 opened #30384 "Wrong result for left join with using"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
`
### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-03 07:10] #30226 closed

[2021-12-03 07:10] #30228 closed

[2021-12-03 07:13] #26832 closed

[2021-12-03 07:33] #29947 closed

[2021-12-03 07:42] zyguan commented on #30361
Thanks for your reporting @JZuming . The issue only occurs when using unistore, you can use tikv to avoid it.

@cfzjywxk PTAL.

[2021-12-03 07:57] #29328 closed

[2021-12-03 08:01] XuHuaiyu commented on #30363
There are 2 problems of the issue:
1. According to the MySQL manual:

2. We do not handle the `zero_date` and `zero_in_date` compatibly for `select-stmt`.

[2021-12-03 08:04] XuHuaiyu commented on #30363
I think we can fix problem 1 temporarily, and keep the in-compatibility of `zero_date` and `zero_in_date`. Because the `NO_ZERO_DATE` and `NO_ZERO_IN_DATE` sql modes are [deprecated](https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html#sqlmode_no_zero_date) by MySQL.

[2021-12-03 08:07] XuHuaiyu commented on #30363
To fix problem 1, we can check the `Gregorian calendar` in https://github.com/pingcap/tidb/blob/28446605c2e019e84e934602f4bd136294a61ff3/expression/builtin_time.go#L6845-L6856

Remember to fix the implementation of vecEvalInt implementation.
https://github.com/pingcap/tidb/blob/28446605c2e019e84e934602f4bd136294a61ff3/expression/builtin_time_vec.go#L1825-L1856

[2021-12-03 08:21] fubinzh opened #30395 "lightning precheck message "smaller number for tikv-importer.disk-quota(8EiB)" too ambiguous when local disk space check fails"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Use lightning to import data where lightning local disk space is not enough.

### 2. What did you expect to see? (Required)
Precheck fail message should be clear, and be able to guide use to fix the issue

### 3. What did you see instead (Required)
1. "imprtestimate" should

[2021-12-03 08:37] JZuming opened #30397 "TiDB produces different results for SELECT statement when using transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_
[mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7647918/mysql_bk.sql.txt)

**Testcase 1**
[code]

**Testcase 2**
[code]

### 2. What did you expect to see? (Required)

The outputs of SELECT statements in Testcase

[2021-12-03 08:38] JZuming commented on #30397
Although [issue#29947](https://github.com/pingcap/tidb/issues/29947) has been fixed, these testcases still triggered the problem.

[2021-12-03 08:58] djshow832 commented on #30364
After discussion with @bb7133 , we decide not to be compatible with MySQL and always report an error when the auto_inc values are used up.

[2021-12-03 09:12] tangenta opened #30398 "Encapsulate the non-critical code to prevent core disaster"
## Enhancement

In https://github.com/pingcap/tidb/pull/29925, we encountered an OOM issue caused by "printing a log". This is unexpected and the problems like this significantly decrease the stability and availability of TiDB.

Besides enhancing our tests, we had better mark the components/packages that are less critical, and encapsulate them with a proper recovery mechanism.

Less critical compo

[2021-12-03 09:19] zyguan commented on #30397
Thanks, @JZuming ! Like #30361, this bug is also related to unistore.

[2021-12-03 09:19] dbsid opened #30399 "wrong plan for Q5 in TPCH workload and timeout"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

1. import 50G tpch dataset
2. gather statstistics
3. explain q5 and wait 120 seconds to wait for stats ready

### 2. What did you expect to see? (Required)
q5 completes in ~40s, and using below plan, the plan in v5.3.0
[code]

### 3. What did you see instead (Required)
wron

[2021-12-03 09:28] Defined2014 commented on #30362
I think the problem is about insert to a gbk filed. The minimal step to reproduce it:
[code]

[2021-12-03 09:53] tangenta opened #30400 "DDL progress can be blocked due to high concurrency"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

The original scenario is using sysbench to create 10000 tables through a load balancer. In a cluster with more than 10 TiDB instances, it is super easy to reproduce.

When the DDL job ID allocating transaction keeps rolling back because of the write conflict(like more than

[2021-12-03 10:02] aytrack opened #30402 "IT mysqltest failed with avg result precision"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
may introduced by #https://github.com/pingcap/tidb/pull/30010
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_common_test/detail/tidb_ghpr_integration_common_test/8134/pipeline
[code]

### 2. What did you expect to see? (Required)

### 3. What d

[2021-12-03 10:21] sylzd commented on #29371
@morgo It seems done already.

[2021-12-03 10:41] aytrack commented on #30384
I think you were use a different collation from MySQL. For TiDB , you need enable new collation with the config `new_collations_enabled_on_first_bootstrap = true`. After enable new collation, the behavior is same with mysql.
[code]

[2021-12-03 11:53] dbsid commented on #30399
Q9 out of memory quora has the similar issue
master
[code]

v5.3.0
[code]

[2021-12-03 13:59] purelind opened #30403 "dumpling github action upload ut coverage to codecov/tidb"
## Bug Report

codecov for pingcap/tidb only display dumpling ut coverage after [github action ](https://github.com/pingcap/tidb/blob/master/.github/workflows/dumpling_integration_test.yml#L51) finished

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)
[codecov](https://app.codecov.io/gh/pingcap/tidb/pulls?page=1&state=open&order=-pullid) for pingcap/tidb sho

[2021-12-03 14:42] zyguan commented on #30397
The count column processor of unistore is implemented incorrectly [here](https://github.com/pingcap/tidb/blob/28446605c2e019e84e934602f4bd136294a61ff3/store/mockstore/unistore/cophandler/closure_exec.go#L699), it always count the first column (`c_ymgvrd` in your case), that's why you got 39.
@JZuming can you test tidb with tikv? Unistore is only for test purpose.

[2021-12-03 15:28] JZuming commented on #30397
@zyguan OK. I have set up the environment for testing tidb with tikv. Hope new bugs can be detected.

[2021-12-03 15:59] #30227 closed

[2021-12-03 16:51] Alkaagr81 commented on #30384
It is Enabled
[code]

[2021-12-03 17:37] zhangyangyu commented on #30357
select from `INFORMATION_SCHEMA.COLUMNS` get the same problem. seems all columns like `table_schema` and `table_name` have the same problem.

[2021-12-03 17:43] morgo commented on #20510
This appears to be a regression or not fixed correctly:
[code]

[2021-12-03 17:55] zhangyangyu commented on #30357
@hawkingrei seems this is not a bug but by design. According to https://dev.mysql.com/doc/refman/5.7/en/charset-collation-information-schema.html and https://docs.pingcap.com/tidb/stable/character-set-and-collation, TiDB's `information_schema` database's default collate is `utf8mb4_bin` while MySQL's is `utf8_general_ci`. So this behaviour is right.

[2021-12-03 18:29] Alkaagr81 opened #30406 "sub select feature request"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
This is not compatible with mysql 5.7 but with 8.0. we can add this as a feature.
### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-03 19:09] morgo commented on #30304
Sorry, I should have linked you to the 5.0 version of the FAQ: https://tikv.org/docs/dev/reference/faq/#does-tikv-have-the-innodb_flush_log_trx_commit-parameter-like-mysql-to-guarantee-the-security-of-data

I don't think this is correct. It looks like this just a mistranlsation refering to defaults. See: https://tikv.org/docs/dev/tasks/configure/raftstore/#sync-log (it defaults to safe, but it is

[2021-12-04 08:36] tisonkun commented on #29137
Closed as done. Thanks for your reminder @hawkingrei!

[2021-12-04 08:36] #29137 closed

[2021-12-04 08:53] tisonkun commented on #28851
@shadowshot-x it seems a trivial issue to address. Are you still working on this issue?

[2021-12-04 08:54] tisonkun commented on #28853
@tongtongyin for handling the testdata part, you can take a look at https://github.com/pingcap/tidb/pull/30407. Other changes seem trivial.

[2021-12-04 10:25] xingyong opened #30408 "Time complexity of appendPoints2Ranges() is proportional to the square of the number of partitions"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Table：
 CREATE TABLE `base_table` ( `fdate` varchar(30) NOT NULL,
`accountid` int(11) NOT NULL,
`buid` int(11) NOT NULL,
`planid` int(11) NOT NULL,
`shopid` bigint(20) NOT NULL,
`launchid` bigint(20) NOT NULL,
`targetid` bigint(20) NOT NULL,
`imp` bigint(20) NOT NULL,
`clic

[2021-12-04 11:52] rebelice opened #30409 "`index merge` is implicitly prohibited in some cases"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

For some details, you can see `tidb/planner/core/stats.go func (ds *DataSource) DeriveStats`:
[code]
It can be seen that if there is `accessConds` in an index, then we will not add `index merge` as a candidate.
But for the above situation， `select * from t where (a >

[2021-12-04 15:46] zyguan opened #30410 "Lazy constraint check may cause data inconsistency"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Note that tidb_constraint_check_in_place is off by default!

### 2. What did you expect to see? (Required)

No error reported by admin check table.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master (28446605c2e

[2021-12-04 21:02] rsaphala opened #30411 "Very slow performance when adding indexes and columns"
I’m experiencing very slow performance when adding index and column to a table. Could anyone help? This table has 30 million rows only
[code]
[code]

This is my cluster spec:

[code]

The above cluster runs on GKE with N2 Node type

Cluster metrics:
https://snapshot.raintank.io/dashboard/snapshot/cGKaqDChkD5bDs6AQ8Sx6AwUtIf0MYnB?orgId=2

[2021-12-05 10:25] JZuming opened #30412 "TiDB fails to insert data when using transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_
[mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7655675/mysql_bk.sql.txt)

**Testcase 1**
[code]

**Testcase 2**
[code]

### 2. What did you expect to see? (Required)

The outputs of SELECT statements in Testcase

[2021-12-05 22:09] JZuming opened #30413 "TiDB (with tikv) produces different results for SELECT statements when using transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_
[mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7656907/mysql_bk.sql.txt)

**Testcase 1**
[code]

**Testcase 2**
[code]

### 2. What did you expect to see? (Required)

The outputs of SELECT statements in Testcase

[2021-12-06 01:32] aytrack commented on #30384
Can you provide mysql and tidb show create table info？

[2021-12-06 02:15] tiancaiamao commented on #25293
2021/12/06

* No progress last week

Blocked by PR reviewing #30066, and it's been two weeks since it's in review and 3 weeks since its filed. @bb7133

[2021-12-06 02:30] xuyifangreeneyes commented on #30408
/assign

[2021-12-06 02:31] #25032 closed

[2021-12-06 02:33] bb7133 commented on #30411
Hi,

1. Do you have the concurrent updates(`INSERT`/`DELETE`/`UPDATE`) for the tables?
2. You can use `ADMIN SHOW DDL JOBS` command to check your running `ADD INDEX` job and check the current progress, for example:

[code]

The 'ROW_COUNT' means that indexes for `989440` records have been added.

3. You can try to increase the resource used by adding index jobs by 2 system variables [tidb_ddl_reor

[2021-12-06 02:34] #20024 closed

[2021-12-06 02:42] morgo opened #30415 "Better handle invalid rules (error messages from PD)"

[2021-12-06 02:44] lcwangchao opened #30416 "Handle incompatible meta when recovering a table referring a policy"

[2021-12-06 02:45] lcwangchao opened #30417 "Handle incompatible meta when recovering a table referring a policy"
We should handle the below scene:

[code]

Maybe there are two solutions:

1. recover all table's placement as direct options. For example, `show create table t` will return the result as:

[code]

2. Fails if meta not match. It will check if the policy with the same ID exists when recovering, if not, it fails. Notice that we can set sys variable `placement_checks` to `false` to skip checking. At

[2021-12-06 03:08] XuHuaiyu commented on #30289
The panic happens because of that `ShuffleExec.Open` returns error, and the member attributes are **NOT** initialized successfully. Thus the `ShuffleExec.Close` triggers the nil pointer panic

[2021-12-06 03:21] joccau opened #30419 "br: enhance the error message when the backup-directory is not existed"
## Enhancement

It gets this error message when backuping with not existed backup directory.

`
Error: error happen in store 8 at 172.26.8.12:20160: Io(Os { code: 2, kind: NotFound, message: “No such file or directory” }): [BR:KV:ErrKVStorage]tikv storage occur I/O error
`

It should print error message like "/a/b/d is not existed in storeID 3"

View this [link](https://asktug.com/t/topic/273549)

[2021-12-06 03:22] joccau commented on #30419
Assign to myself

[2021-12-06 03:22] XuHuaiyu commented on #30289
Another problem is that, why the error is returned in the transaction.

[2021-12-06 03:25] #27151 closed

[2021-12-06 03:59] tiancaiamao commented on #30382
I find the extra PID column is missing in the final schema, and that's the direct cause of the panic.

Then I print out the plan and find the extra PID column is eliminated.
After logical optimize the plan is

[code]

and after physical optimize, the plan is

[code]

and after postoptimize, the plan is:

[code]

As you can see, after the postoptimize step, the final projection is elimitated, this

[2021-12-06 03:59] #29327 closed

[2021-12-06 04:17] #29136 closed

[2021-12-06 05:06] tisonkun commented on #28851
I'll take over this task.

[2021-12-06 05:21] mayjiang0203 opened #30425 "br: storage is not balance after restore 2T data"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Just use br restore two database, every one has more than 1T data in.

### 2. What did you expect to see? (Required)
![image](https://user-images.githubusercontent.com/9443637/144793927-cc0ef65b-424a-4b62-bfd8-439556501659.png)

Need take 1 hours to balance after br restore.

[2021-12-06 05:36] vivid392845427 commented on #30412
seems duplcate the issue：https://github.com/pingcap/tidb/issues/24195

[2021-12-06 05:43] mayjiang0203 commented on #30425
/assign @YuJuncen

[2021-12-06 05:50] vivid392845427 opened #30426 "tidb panic:invalid memory address or nil pointer dereference"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

https://github.com/pingcap/tidb/issues/30412
another scenario：

tiup playground --db.binpath /path/to/latest/tidb-server &
mysql -u root -P4000 -h127.0.0.1

[code]

### 2. What did you expect to see? (Required)

`insert success
`
### 3. What did you see instead (Required)

[2021-12-06 05:53] YuJuncen commented on #30425
This is firstly be considered as a side-effect of https://github.com/pingcap/tidb/pull/27240, but @mayjiang0203 also tested over v5.2.2 (which doesn't contains #27240) and reproduced this problem. We need farther tests to make sure what is the wrong with that.

[2021-12-06 06:14] sylzd commented on #30426
@vivid392845427  could you please add some schema info about tables?

[2021-12-06 06:35] lilinghai opened #30429 "It raises the error of Invalid latin1 character string"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
error when insert or successful when select
### 3. What did you see instead (Required)
ERROR 1300 (HY000): Invalid latin1 character string: 'F09F9889'
### 4. What is your TiDB version? (Required)

Release Version: v5.4.0-

[2021-12-06 06:35] lcwangchao commented on #30416
Dup with #30417

[2021-12-06 06:35] #30416 closed

[2021-12-06 06:44] cfzjywxk commented on #30410
The default `tidb_constraint_check_in_place` value is 0 so the `set tidb_constraint_check_in_place=0;` set statement is not a must to reproduce the issue.

[2021-12-06 06:49] tisonkun commented on #28853
I'll take over this.

[2021-12-06 06:50] joccau commented on #30419
/component br

[2021-12-06 06:53] #30400 closed

[2021-12-06 06:59] #30364 closed

[2021-12-06 07:05] JZuming commented on #30412
Thanks for your confirming, @vivid392845427 . I am just a bit confused why the test case can be successfully executed without transaction but it triggers the error with transaction. Is there any thing special for transaction? If there is, I think I should adjust my testing tool

[2021-12-06 07:06] wshwsh12 opened #30433 "SQL fails with error Subquery returns more than 1 row"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
Same environment with https://github.com/pingcap/tidb/issues/30326

Run the following sql:
[code]

### 2. What did you expect to see? (Required)
Empty set (0.001 sec)

### 3. What did you see instead (Required)
ERROR 1242 (21000): Subquery returns more than 1 row
### 4. What

[2021-12-06 07:12] zyguan commented on #30410
Yes, I just mean to address it.

[2021-12-06 07:12] wshwsh12 commented on #30326
The issue have three problems. I think we should track them through three issues
**Problem 1**
Stack overflow caused by issue #30353
**Problem 2**
runtime error: invalid memory address or nil pointer dereference in this commet, https://github.com/pingcap/tidb/issues/30326#issuecomment-985188109 Caused by window function.
**Problem 3**
SQL fails and get error subquery returns more than 1 row error.

[2021-12-06 07:17] nautaa commented on #22553
how is the progress

[2021-12-06 07:43] youjiali1995 opened #30435 "Decrease the base backoff time of `BoTxnLockFast`"
## Enhancement

The default base backoff time of `BoTxnLockFast` is 100ms which is too big to endure for a small read request. Let me decrease it.

[2021-12-06 07:45] XuHuaiyu commented on #30289
Test in MySQL, the sql without transaction should also return an error.
So, the problem becomes why the sql without txn does not return an error

[2021-12-06 08:21] ChenPeng2013 commented on #30429
https://docs.pingcap.com/tidb/stable/character-set-and-collation

[2021-12-06 08:23] wjhuang2016 opened #30437 "remove some unused codes"
## Enhancement
This issue is used to track the PR which remove unused codes.

[2021-12-06 09:06] bb7133 commented on #30429
PTAL @tangenta

[2021-12-06 09:43] youjiali1995 commented on #30309
We can use the default value of level to init the slow query logger here: https://github.com/pingcap/tidb/blob/dfd715763763805c01b79fa1ed8ec1c9492d04fd/util/logutil/slow_query_logger.go#L34

Slow query logger can always use `Warn()` to log slow query because it determines whether to log by execution duration, not by log level: https://github.com/pingcap/tidb/blob/dfd715763763805c01b79fa1ed8ec1c949

[2021-12-06 09:45] #30435 closed

[2021-12-06 09:54] wshwsh12 commented on #30433
Another case:
[code]

TiDB: ERROR 1242 (21000): Subquery returns more than 1 row
Mysql: Empty set (0.001 sec)

[2021-12-06 10:06] bb7133 opened #30440 "mockstore: panic happens for test TestMvccTxnRead"
## Bug Report

### 1. Minimal reproduce step (Required)

Test `TestMvccTxnRead` failed with following stack:

[code]

From https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/50372/pipeline, PR https://github.com/pingcap/tidb/pull/30306. I don't think it is related to #30306.

### 4. What is your TiDB version? (Required)

It happens in the CI of the `master

[2021-12-06 10:07] bb7133 commented on #30440
Mark the 'severity' to `moderate` because mockstore is not used in production env and the test does not fail often.

[2021-12-06 10:10] Defined2014 opened #30442 "builin func Compress() result is not same as MySQL with gbk charset"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-12-06 10:10] Defined2014 commented on #30442
/feature developing

[2021-12-06 10:13] #30266 closed

[2021-12-06 10:14] Defined2014 opened #30443 "The result of builtin func Upper() and Lower() are not same as MySQL with gbk charset"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-06 10:14] Defined2014 commented on #30443
/feature developing

[2021-12-06 10:18] Defined2014 opened #30444 "The error msg is not same as MySQL when concat with a illegal character"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-12-06 10:18] Defined2014 commented on #30444
/feature developing

[2021-12-06 10:48] sylzd commented on #30174
minor case:
[code]

[2021-12-06 10:54] sylzd commented on #30433
/assign

[2021-12-06 12:03] #30149 closed

[2021-12-06 12:05] dbsid commented on #30399
it turns out that the plan change is causing two sources:
1. the gather statistics is missing for tpch workload on master
2. the auto analyze kicks in, the the row count of lineitem is twice of the actual rows. the wrong rows count of the lineitem causing the indexHashJoin

need to figure out why the result of auto analyze on lineitem is wrong.

auto analyze result
[code]

manual analyze result
[c

[2021-12-06 12:59] 3pointer opened #30446 "Implement endpoint for backup streaming."

[2021-12-06 13:47] zyguan commented on #30412
@JZuming , changes made by DMLs will cached until the final commit in the transaction context. In your case, the underlying data source executor of the subquery can still read the data, even when the previous delete is executed successfully. The deleted rows are marked on tidb side and won't be shown to users, you can learn about the mechanism from [this doc](https://pingcap.com/zh/blog/tidb-api-u

[2021-12-06 13:48] martin-g opened #30448 "tracing_serial_test fails due to wrong time expectation"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run `make br_unit_test`

### 2. What did you expect to see? (Required)

All tests pass.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

v4.0.0-beta.2-3094-g6900a4622

[2021-12-06 13:50] martin-g opened #30449 "testBackupSuite.TestParseTSString fails"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Run `make br_unit_test`

### 2. What did you expect to see? (Required)

All tests to pass

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

v4.0.0-beta.2-3094-g6900a4622

[2021-12-06 13:52] zyguan commented on #26552
see https://github.com/pingcap/tidb/issues/30412#issuecomment-986792710

[2021-12-06 13:58] JZuming commented on #30412
Thanks for your clear explanation, @zyguan . I can read the [doc ](https://pingcap.com/zh/blog/tidb-api-union-scan) (I am Chinese) and I understand now.

[2021-12-06 14:02] zyguan commented on #30426
The complete reproduce steps:
[code]
and the panic stack:
[code]

[2021-12-06 16:37] ramanich1 opened #30451 "TiDB Float precision differers from mysql (5.7 and 8.0)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-06 16:40] morgo commented on #30417
I like option (1).

i.e. In the case of `drop table t; drop placement policy p1; create placement policy p1 ..; recover table t` I do not think it is correct to refer to the original policy p1.

[2021-12-06 16:42] morgo opened #30452 "Investigate duplicate placement options handling behavior"
The following syntax is currently legal:
[code]

The usage is fairly safe, since it is deterministic, but we should investigate how similar scenarios are handled in the server. It might make sense to convert this to an error so we can reduce user foot-gun scenarios.

[2021-12-06 16:42] morgo opened #30453 "FOLLOWERS=99 should be illegal"
The following syntax is currently considered legal in TiDB:
[code]

It seems that PD does not validate this either, but I propose the following:
- A non even number of followers returns a warning (raft recommends using an even number of followers, so the total group has an odd number).
- A number of followers greater than 8 returns an error.

[2021-12-06 16:42] morgo opened #30454 "Can we improve the error message of incorrect dict syntax?"
This is currently documented as a YAML parser issue:
[code]

It needs to be specified instead as:
[code]

I think this is going to be a common issue. If we can't fix it, can we improve the error message?

[2021-12-06 16:52] morgo commented on #29371
I have added several new issues to https://github.com/pingcap/tidb/issues/18030 just today (see the "Other" section).

[2021-12-06 16:53] #29371 closed

[2021-12-06 17:59] #30377 closed

[2021-12-06 18:47] #30295 closed

[2021-12-06 19:55] mjonss commented on #26754
/component tablepartition

[2021-12-06 22:50] ramanich1 opened #30455 "TiDB is reassigning user defined variable with-in calculation (query) versus mysql(5.7 and 8.0) at the end of the calculation (query) when count(*) window function is used"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-07 00:02] unconsolable commented on #30325
In `TestUUID` some test cases are added as follows:
https://github.com/pingcap/tidb/blob/3337405dd023040887642e54b41ffa63fa222525/expression/builtin_miscellaneous_test.go#L113-L116
If the behaviour changes, the test will be broken, so IMHO this issue can be closed now.

[2021-12-07 00:02] #30325 closed

[2021-12-07 01:43] sylzd commented on #30453
/assign

[2021-12-07 01:51] #28851 closed

[2021-12-07 01:54] aytrack commented on #30332
there are still some goroutine leak found in DDL test, including index test, insert test, other test, update test.
in ci https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_integration_ddl_test/detail/tidb_ghpr_integration_ddl_test/6855/pipeline

[2021-12-07 02:03] #18220 closed

[2021-12-07 02:13] Defined2014 commented on #30442
/assign

[2021-12-07 03:11] Defined2014 commented on #30442
same as https://github.com/pingcap/tidb/issues/11163#issuecomment-512162914

[2021-12-07 03:11] #30442 closed

[2021-12-07 03:11] #30326 closed

[2021-12-07 03:18] #29728 closed

[2021-12-07 03:19] VelocityLight commented on #29728
Logs too large，QA is dealing with race test failures，ignore this issue now

[2021-12-07 03:36] rleungx opened #30464 "Resource may leak when ReadAll meets error"
## Bug Report

### 1. Minimal reproduce step (Required)

https://github.com/pingcap/tidb/blob/b2ea0e66b85b448866237740818e238e2d536a95/domain/infosync/info.go#L347-L363

### 2. What did you expect to see? (Required)

The body should be closed when the error happens.

### 3. What did you see instead (Required)

The resource may leak.

### 4. What is your TiDB version? (Required)

master

[2021-12-07 04:23] Defined2014 commented on #30444
/severity minor

[2021-12-07 04:23] Defined2014 commented on #30444
/remove severity moderate

[2021-12-07 04:32] Defined2014 commented on #30444
/remove-severity moderate

[2021-12-07 04:41] Alkaagr81 opened #30466 "double datatype values differ from mysql in with group by and aggregation function."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-07 05:01] MyonKeminta opened #30468 "Data race when sub-executors of IndexLookUpJoin gets snapshot ts"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

It works normally.

### 3. What did you see instead (Required)

It randomly reports:

[code]

The stack trace:

[code]

and reports this in a lower probability:

[code]

It's found to be a data race in IndexLookUpJoin e

[2021-12-07 05:05] #30208 closed

[2021-12-07 05:15] crazycs520 commented on #30368
this should be fix by https://github.com/pingcap/tidb/pull/30296

[2021-12-07 05:15] #30368 closed

[2021-12-07 05:17] Defined2014 commented on #30443
/severity moderate

[2021-12-07 05:17] Defined2014 commented on #30443
/remove-severity major

[2021-12-07 05:20] bb7133 commented on #29977
Close this issue since it cannot be reproduced.

[2021-12-07 05:20] #29977 closed

[2021-12-07 05:24] bb7133 commented on #27162
Close this issue since it is not reproducible, and the reason is not clear. We can reopen it if it happens again.

[2021-12-07 05:24] #27162 closed

[2021-12-07 05:27] #30464 closed

[2021-12-07 05:29] bb7133 commented on #28949
I don't think this is a major bug since it can be reproduced by a 'malformed packet'.

[2021-12-07 05:30] #28949 closed

[2021-12-07 05:31] bb7133 commented on #29745
I don't think this is a major bug. It is a corner case and I think it can be treated as a 'compatibility enhancement'.

[2021-12-07 05:32] bb7133 commented on #25894
Close this issue since it does not appear for a long time(probably fixed).

[2021-12-07 05:32] #25894 closed

[2021-12-07 05:36] bb7133 opened #30470 "Unstable test case `TestSelectForUpdateNoWait`"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

From https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_check_2/detail/tidb_ghpr_check_2/50557/pipeline/(https://github.com/pingcap/tidb/pull/30467)

[2021-12-07 05:39] #27441 closed

[2021-12-07 05:43] bb7133 commented on #30113
I made it an 'enhancement' for a backlog of `run-tests.sh`.

[2021-12-07 05:46] zach030 commented on #28617
/assign

[2021-12-07 05:53] #30365 closed

[2021-12-07 06:14] lichunzhu commented on #28659
Should be fixed by https://github.com/pingcap/tidb-binlog/pull/1039

[2021-12-07 06:15] bb7133 commented on #27450
Close this issue since the timeout limitation has been removed.

[2021-12-07 06:15] #27450 closed

[2021-12-07 06:18] #27445 closed

[2021-12-07 06:19] #27443 closed

[2021-12-07 06:19] bb7133 commented on #27001
@charlesxsh  I cannot reproduce this issue for now, and I will close it for now. Feel free to reopen it if it can be reproduced, thanks!

[2021-12-07 06:19] #27001 closed

[2021-12-07 06:19] #26722 closed

[2021-12-07 06:20] winoros commented on #29538
This one should be resolved during the 5.3 releasing.

[2021-12-07 06:20] #29538 closed

[2021-12-07 06:31] xiongjiwei commented on #30357
dup of https://github.com/pingcap/tidb/issues/29910

[2021-12-07 06:32] xiongjiwei commented on #30357
I will close this one. /cc @hawkingrei

[2021-12-07 06:32] #30357 closed

[2021-12-07 06:35] bb7133 commented on #30237
Close it because of #30189, we can re-open it if the error happens again.

[2021-12-07 06:35] #30237 closed

[2021-12-07 06:35] zhangyangyu commented on #30357
/remove-label needs-more-info

[2021-12-07 06:37] wjhuang2016 commented on #24427
This problem is acceptable, and it will be fixed later when refactoring the DDL. I think we can change it to minor

[2021-12-07 06:39] bb7133 commented on #24427
OK

[2021-12-07 06:39] xiongjiwei commented on #30256
it seems the same error message with #30249 , I will assign it to you @tiancaiamao

[2021-12-07 06:40] SE-Bin opened #30472 "Using special comment syntax with /*!90000 */ caused TiCDC to report an error."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
I found that creating a table by using special comment syntax with `/*!90000 */` caused TiCDC to report an error.
The following step:
1.  In TiDB :
[code]

### 2. What did you expect to see? (Required)
TiCDC can sync DDL to downstream successfully.
### 3. What did you see in

[2021-12-07 06:44] #30281 closed

[2021-12-07 06:52] wjhuang2016 commented on #25462
Drop column with index is not GA yet. So I think we can change it to moderate. /cc @bb7133

[2021-12-07 06:52] xiongjiwei commented on #28841
I will close this issue since there is another one recording the problem. /cc @winoros

[2021-12-07 06:52] #28841 closed

[2021-12-07 06:54] zimulala commented on #24901
I think this is the same problem as 24651, both text/bobl type, in `Cast`. Close it first.

[2021-12-07 06:54] #24901 closed

[2021-12-07 06:58] hawkingrei commented on #30297
Closed by #30306

[2021-12-07 06:58] #30297 closed

[2021-12-07 06:59] hawkingrei commented on #30249
Closed by #30306

[2021-12-07 06:59] #30249 closed

[2021-12-07 06:59] #30279 closed

[2021-12-07 07:01] hawkingrei commented on #30297
we can re-open it if the error happens again.

[2021-12-07 07:01] hawkingrei commented on #30249
we can re-open it if the error happens again.

[2021-12-07 07:02] lance6716 commented on #30472
I'll transfer this issue to repo TiCDC.

[2021-12-07 07:03] #24038 closed

[2021-12-07 07:03] hawkingrei commented on #30256
Closed by #30306. We can re-open it if the error happens again.

[2021-12-07 07:03] #30256 closed

[2021-12-07 07:04] breeswish commented on #22493
@lzmhhh123 Please take a look to see whether this is a known problem. Thanks!

[2021-12-07 07:04] hawkingrei commented on #30286
Closed #30306. We can re-open it if the error happens again.

[2021-12-07 07:04] #30286 closed

[2021-12-07 07:05] breeswish commented on #22429
Hi, I'm going to close this issue. Feel free to leave updates if there are still problems. Thanks!

[2021-12-07 07:05] #22429 closed

[2021-12-07 07:42] djshow832 commented on #28054
According to the logs in https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_coverage/detail/tidb_ghpr_coverage/1191/pipeline, the last running test was `TestAuditLog` and all the statements were finished. The case was added on 5th, Aug, and this CI failure begins on 15th, Sep. I doubt there may be a relationship between them but the `TestAuditLog` was removed and changed to another test c

[2021-12-07 07:42] dveeden commented on #30266
/label affects-5.3
/unlabel needs-more-info

[2021-12-07 07:55] #28093 closed

[2021-12-07 08:12] hawkingrei commented on #27114
Close by https://github.com/pingcap/tidb/pull/30355.

[2021-12-07 08:12] #27114 closed

[2021-12-07 08:16] #15862 closed

[2021-12-07 08:29] #28853 closed

[2021-12-07 08:32] xiongjiwei commented on #10260
dup of https://github.com/pingcap/tidb/issues/18336

[2021-12-07 08:32] #10260 closed

[2021-12-07 08:35] sylzd commented on #30433
/type compatibility

[2021-12-07 08:59] zimulala commented on #24651
Other related issues are as follows:
[code]

MySQL:
[code]

TiDB
[code]

[2021-12-07 09:04] martin-g opened #30483 "TestAggregation fails due to comparison of floating point numbers"
## Bug Report

### 1. Minimal reproduce step (Required)

Run `make test` on Linux ARM64

### 2. What did you expect to see? (Required)

All tests to pass.

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

v4.0.0-beta.2-5580-gf8ae8e875

[2021-12-07 09:08] sylzd commented on #30433
- the case can be simplified futher
[code]
- the reason is:

error `ERROR 1242 (21000): Subquery returns more than 1 row` is returned at preprocessing `(expressionRewriter).handleScalarSubquery`.
I'm thinking how to know if the subQuery or table is empty at preprocessing. 🤔

[2021-12-07 09:08] zimulala commented on #24651
This should be a MySQL bug, and it has a similar have confirmed bug: https://bugs.mysql.com/bug.php?id=46225.
So I think we needn't handle it.

[2021-12-07 09:08] #24651 closed

[2021-12-07 09:19] #24817 closed

[2021-12-07 09:42] bb7133 commented on #25462
OK, it is not even exposed to the end-user. I will downgrade the severity.

[2021-12-07 09:46] wjhuang2016 opened #30486 "Collation used by `IN` clause is not correct."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
master

[2021-12-07 09:56] tiancaiamao commented on #28739
I don't this issue need a `severity/critical` tag, the input data is problematic to trigger it.

[2021-12-07 09:58] #19697 closed

[2021-12-07 10:04] hawkingrei opened #30488 "DATA RACE in ```collationInfo```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]
### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-07 10:28] seiya-annie opened #30489 "report "update partition record fails" error when upgrade from v4.0.16 to v5.2.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

upgrade from v4.0.16 to v5.2.0
after upgrade, run stmtflow test ddl/all.jsonnet test. found following error in log:
2021/12/07 17:08:16.565 +08:00] [INFO] [domain.go:129] ["diff load InfoSchema success"] [currentSchemaVersion=4402] [neededSchemaVersion=4403] ["start time"=8

[2021-12-07 10:31] seiya-annie commented on #30489
[tidb-5000.tar.gz](https://github.com/pingcap/tidb/files/7667567/tidb-5000.tar.gz)

[2021-12-07 11:13] seiya-annie commented on #30489
data collected by clinic: "https://clinic.pingcap.com:4433/diag/files?uuid=9813e1e4294438a6-116e126a69cc4232-45efdaf37f025cbd"

[2021-12-07 11:23] seiya-annie commented on #30489
this tidb node is scale-out after upgrade

[2021-12-07 11:31] phamtai97 commented on #17482
Oh thank you.

[2021-12-07 11:31] #17482 closed

[2021-12-07 11:33] glorv commented on #28462
@SunRunAway @kennytm  Is there a conclution for this issue?

[2021-12-07 12:05] crazycs520 commented on #27795
should be fix in https://github.com/pingcap/sysutil/pull/33

[2021-12-07 12:07] #30332 closed

[2021-12-07 12:36] tiancaiamao commented on #25496
This should have been fixed by https://github.com/pingcap/tidb/pull/30290
It's the same problem with https://github.com/pingcap/tidb/issues/26832

[2021-12-07 12:36] #25496 closed

[2021-12-07 12:37] sticnarf commented on #30470
I cannot think of how it happens. There seems to be bugs...

[2021-12-07 12:43] tiancaiamao commented on #30382
It's caused by here https://github.com/pingcap/tidb/blob/b585bf93cf52a7eb037b531bba126887b71063f8/planner/core/rule_column_pruning.go#L66-L79

The plan is DataSource -> ...  -> Projection(2) -> Lock -> Projection(1)
Only the Lock and the DataSource's schema contain the extra PID column

In column pruning of Project(2), the `parentUsedColumns` contain the extra PID column,
but the columns  are not

[2021-12-07 12:45] tiancaiamao commented on #30382
I'll find another way to fix it...
https://github.com/pingcap/tidb/pull/21148 fixes the original issue but introduce too many corner cases and this is one of it.

[2021-12-07 12:49] bb7133 commented on #30489
PTAL @mjonss @tiancaiamao

[2021-12-07 12:49] #30309 closed

[2021-12-07 12:58] lucklove opened #30496 "window function not work correctly when join two table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

Then run bellow sql multiple times.
[code]

### 2. What did you expect to see? (Required)
There should be a definite result.

### 3. What did you see instead (Required)
The results are different between two tests.
<img width="729" alt="屏幕快照 2021-12-07 下午8 59 16" src

[2021-12-07 13:06] crazycs520 commented on #30252
@vivid392845427 Can this case be reproduced?

[2021-12-07 13:16] lucklove commented on #30496
My fault, should not use the same variable in two sub query. This will work now:

[code]

[2021-12-07 13:16] #30496 closed

[2021-12-07 13:21] #30107 closed

[2021-12-07 13:30] bb7133 commented on #29262
https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html

[2021-12-07 13:35] bb7133 commented on #29259
Thanks for reporting this. Since we didn't claim to be MySQL 8 compatible, I will remove the 'bug' label and add a new 'compatibility-mysql8' label as a backlog.

[2021-12-07 13:47] bb7133 commented on #24734
I don't think this is a bug: the current behavior is by-design.

If there are too many slow log files, you can increase the threshold for slow queries, disable the slow log or set related parameters like `max-backups`.

[2021-12-07 13:47] #24734 closed

[2021-12-07 13:50] seiya-annie commented on #30489
the testcases report this error:
[negative.tar.gz](https://github.com/pingcap/tidb/files/7668728/negative.tar.gz)
table_partition__drop_partition_2
table_partition__drop_partition_3
table_partition__truncate_partition_2
table_partition__truncate_partition_3

[2021-12-07 13:55] bb7133 commented on #23865
I don't think this is a bug that is worth fixing since the case is barely used.

[2021-12-07 13:55] #23865 closed

[2021-12-07 14:01] bb7133 commented on #18336
I decide to make a feature request instead of a bug.

[2021-12-07 14:22] seiya-annie opened #30498 "oom-action: cancel, tidb report "outerWorker panicked""
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

upgrade from v3.0.0 to v4.0.16
run tpch:
 /data-sdb/tools/go-tpc/bin/go-tpc tpch -H 172.16.5.101 -P 4000 -D tpch --sf 1  prepare
 /data-sdb/tools/go-tpc/bin/go-tpc tpch -H 172.16.5.101 -P 4000 -D tpch run --time 600s

config:
  tidb:
    alter-primary-key: true
    enable-s

[2021-12-07 14:25] xuyifangreeneyes opened #30499 "different results of order by window func between MySQL and TiDB"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
I'm not sure which one has the correct result.

### 2. What did you expect to see? (Required)
MySQL 8.0.23
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-12-07 16:04] seiya-annie opened #30501 "runtime error: invalid memory address or nil pointer dereference, upgrade from 4.0.16 to v5.3.0"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
upgrade from 4.0.16 to v5.3.0

MySQL [randgen]> SELECT DISTINCT SUM( INSTR( `col_double_undef_unsigned`, `col_char(20)_key_signed` ) ) AS field1 FROM lt WHERE IF( 'm', "but", ('2013-07-27'  LIKE `col_char(20)_undef_signed` )) GROUP BY NULLIF( `col_double_undef_unsigned`, `co

[2021-12-07 16:47] hawkingrei opened #30502 "DATA RACE in the ```builtin_other_vec_generated_test.go```"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

[code]

### 1. Minimal reproduce step (Required)

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-07 19:12] Adam-Kulju commented on #27180
@tisonkun  Migrating schema_test, stat_test, and table_test to testify all spill over into restart_test so those will all have to be done at once I think. I'm working on them right now, hopefully restart_test won't end up spilling over into even more tests (if that's the case I'll probably give up).

[2021-12-07 20:57] Alkaagr81 opened #30504 "datatype Conversion output differ"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-07 22:24] mjonss commented on #27532
Since `auto_commit = 0` is set, and the first real statement has not started, there exists no transaction yet `SessionVars.InTxn()` in `[UseDynamicPartitionPrune()](https://github.com/pingcap/tidb/blob/d83ee8cfdad434d212d3229c0be24d9d81ef7ab3/sessionctx/variable/session.go#L1024)` which was added in https://github.com/pingcap/tidb/pull/26876 / https://github.com/pingcap/tidb/issues/26719 and needs

[2021-12-08 00:00] Alkaagr81 opened #30506 "set with duplicated value gives warning in mysql and create table but in tidb it gives us error."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-08 00:43] Alkaagr81 opened #30508 "Type Conversion from DOUBLE to set output differ"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-08 00:50] morgo opened #30509 "the scope in error message is wrong"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]
### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

master

[2021-12-08 01:20] aytrack opened #30512 "IT mysqltest `delete` failed with the plan changed"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_integration_common_test/detail/tikv_ghpr_integration_common_test/3248/pipeline
the case is
[code]
[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What

[2021-12-08 01:31] bb7133 commented on #30489
@seiya-annie What is the configuration of the cluster? I noticed that 'amend transaction' is enabled but not sure if it is related to this error.

It would be helpful if we can have a configuration for the cluster as well.

[2021-12-08 01:33] vivid392845427 commented on #30252
it is occasional，only appeared one time

[2021-12-08 01:47] bb7133 commented on #24305
Verified in v5.1, v5.2, v5.3 and master:

[code]

Now the behavior is the same with MySQL because of the support of 'changing column types'.

[2021-12-08 01:47] #24305 closed

[2021-12-08 02:12] tongtongyin commented on #28613
/assign

[2021-12-08 02:24] morgo opened #30515 "tidb_store_limit INSTANCE scope is broken"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

Deploy a cluster which uses tikv and PD (mocktikv without PD won't work).

[code]

### 2. What did you expect to see? (Required)

The value of tidb_store_limit should persist.

### 3. What did you see instead (Required)

It gets overwritten by the global value every 30 seco

[2021-12-08 02:30] fengou1 opened #30516 "Binlog can sync data between upstream (TiDB) to downstream"
binlog can skip restore data, any table restore won't stop binlog.

Able to sync data between upstream and downstream while restoring upstream
Disabled binlog, restore upstream, enable binlog, ensure non-restore data can’t sync to downstream.

[2021-12-08 02:42] IcePigZDB opened #30517 "executor: use GetRegionsTableInfo to get region schema for tidb_hot_regions_history"
## Enhancement
A region may contain multi tables or indics, shcema parse is done on TiDB end according to the key range of every Region. Previous implemention break when it find the first table or index of the region leaving others alone.

[2021-12-08 02:42] IcePigZDB opened #30518 "executor: use GetRegionsTableInfo to get region schema for tidb_hot_regions_history"
## Enhancement
A region may contain multi tables or indics, shcema parse is done on TiDB end according to the key range of every Region. Previous implemention break when it find the first table or index of the region leaving others alone.

[2021-12-08 02:46] ramanich1 opened #30519 "Interval() with expressions is not working in Tidb"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-08 04:25] #29901 closed

[2021-12-08 04:57] #30315 closed

[2021-12-08 05:36] Defined2014 commented on #30519
Seems the problem is caused by `precedence` in `parser.y`.

[code]

[2021-12-08 05:53] #30502 closed

[2021-12-08 06:02] guo-shaoge opened #30527 "Add more cases for IndexMerge"
## Enhancement
We should add more cases for IndexMerge when used with other function, like CTE, subquery etc.

[2021-12-08 06:29] #29365 closed

[2021-12-08 06:43] #30488 closed

[2021-12-08 06:53] #30509 closed

[2021-12-08 07:09] #24916 closed

[2021-12-08 07:19] tiancaiamao commented on #30382
How to make the Agg executor keep the children's schema even it's not in the agg function?

[code]

In Agg's schema, the partition columns from DataSource2 is dropped...

[2021-12-08 07:46] mjonss commented on #29329
I think we can can postpone the fix for NO_ZERO_IN_DATE, NO_ZERO_DATE and ERROR_FOR_DIVISION_BY_ZERO bugs, since they are deprecated in MySQL 8.0. We should just make sure that strict SQL mode (`STRICT_ALL_TABLES`/`STRICT_TRANS_TABLES`) works correctly and is covering the cases of these deprecated SQL modes.

From https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html
[code]

Same for NO_ZERO_DATE

[2021-12-08 07:51] #29669 closed

[2021-12-08 07:58] lcwangchao opened #30535 "Refactor txn context management in session"
## Enhancement

[2021-12-08 08:22] qw4990 commented on #18745
The [design doc](https://pingcap.feishu.cn/docs/doccnsUuPdHoa1pYhvzTJ9PYYxe)(Chinese version) designed by @An-DJ .
Work items:

- [ ] introduce a new global variable as the switch to control the behavior
- [ ] introduce two internal tables (`mysql.stats_history` and `mysql.stats_meta_history`) to store historical statistics
- [ ] support to record historical meta stats when updating `mysql.stats_m

[2021-12-08 08:37] XuHuaiyu commented on #30498
Expected behavior, not a bug.
TiDB uses `(*PanicOnExceed).Action` to make the cancel operation. It will trigger panic but not affect the server.

[2021-12-08 08:37] #30498 closed

[2021-12-08 08:56] kennytm commented on #30524
Design notes

* in "aes-256-ctr" we may want to concatenate "nonce" and "data" to reduce the number of fields.
* need to support DM's existing password encryption scheme
* what's the easiest way to distribute the encryption tool?
   - `dumpling` simply uses `pflag` so we're not going to allow `./dumpling encrypt-password ...`
   - user may not install the tools via `tiup` so we can't assume `tiup

[2021-12-08 09:19] glorv commented on #29566
close by #29077 after making these cases serialized.

[2021-12-08 09:19] #29566 closed

[2021-12-08 09:19] wshwsh12 opened #30539 "Optimize code struct of HashJoin open"
## Enhancement

[2021-12-08 09:44] xuyifangreeneyes opened #30542 "Different results between plan on tiflash and plan on tikv"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]
[code]

### 2. What did you expect to see? (Required)
The two queries have the same results.

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)
[code]

[2021-12-08 09:44] xuyifangreeneyes commented on #30542
[code]

[2021-12-08 09:49] 3pointer opened #30543 "Add a check before starts restoration."

[2021-12-08 10:01] 3pointer opened #30544 "implement Error mechanism for errors reporting and handling."
1. report error to prometheus.
2. build an mechanism to handle all errors.

[2021-12-08 10:06] hawkingrei commented on #29139
/assign

[2021-12-08 10:22] dragonly commented on #29497
verified with mysql 8 and get the result

[code]

[2021-12-08 10:31] crazycs520 commented on #24895
Look like currentlly TiDB doesn't have this problem:

[code]

[2021-12-08 11:01] SunRunAway commented on #28462
The current design and code is ok.
It is better to document the list of privileges that lightning requires when SEM is enabled.

[2021-12-08 11:07] #30251 closed

[2021-12-08 12:06] LittleFall commented on #30542
minimal reproduce:
[code]

[2021-12-08 12:25] crazycs520 commented on #24895
The issue was caused by PR #28838 starting to support fetch tiflash config.

[2021-12-08 12:25] #24895 closed

[2021-12-08 16:23] mjonss opened #30553 "parser not allowing expressions for default timestamp values in create table"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

create table t (a timestamp default (now() + 1));

### 2. What did you expect to see? (Required)

MySQL 8.0.27
[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

tidb_version(): Release Version: v5.4.0-alpha-341-gd83ee8

[2021-12-08 16:34] winoros commented on #30382
After some offline discussion, i update some results here.
Previous, @tiancaiamao think that for a SQL like the given one above we should lock both the table returned to the SELECT clause and the table in the subquery.
But from the MySQL's doc https://dev.mysql.com/doc/refman/8.0/en/innodb-locking-reads.html, we don't need to lock the subquery tables.

This can simplify this scenario, which can he

[2021-12-08 16:45] mjonss commented on #30553
See [DefaultValueExpr](https://github.com/pingcap/tidb/blob/e15e457f3eb65d46fc9010365a1d3a67b1ef1c78/parser/parser.y#L3328) in the parser.

While MySQL allows expressions.

[2021-12-08 17:45] winoros commented on #30512
Can we provide a script to find which commit changed the plan?
It's a little heavy work if all changes need to be checked by the people who didn't change it.

[2021-12-08 17:46] winoros commented on #28349
It's not one related to the master branch. So we close it first.

[2021-12-08 17:46] #28349 closed

[2021-12-08 19:33] Alkaagr81 opened #30554 "group_concat with mid string function in subquery doesn't work in TIDB"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-08 19:56] mjonss commented on #30553
/type enhancement

[2021-12-08 19:56] mjonss commented on #30553
/untype bug

[2021-12-08 22:43] ramanich1 opened #30556 "Function as identifier in Tidb is not compatible with Mysql(5.7 and 8.0)"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)
[code]

[2021-12-08 23:50] morgo opened #30557 "Simplified proposal for Instance Scoped Sysvars"
## Enhancement

This is the TiDB issue to track the proposal of instance scoped system variables (sysvars).

[2021-12-09 01:48] AilinKid commented on #27115
fixed by https://github.com/pingcap/tidb/pull/28354/files, same reason as https://github.com/pingcap/tidb/issues/28350

[2021-12-09 02:14] Alkaagr81 opened #30559 "group_concat with distinct is not working properly if data is string."
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-09 02:14] #30225 closed

[2021-12-09 02:39] #29794 closed

[2021-12-09 02:51] ChenPeng2013 commented on #30559
@Alkaagr81 Did you enable collation and set COLLATE=utf8mb4_general_ci,  I can't reproduce

new_collations_enabled_on_first_bootstrap = true
[code]

[2021-12-09 03:49] qw4990 commented on #28205
Close since it's duplicated with https://github.com/pingcap/tidb/issues/27328

[2021-12-09 03:49] #28205 closed

[2021-12-09 03:52] hawkingrei opened #30563 "race: limit on 8128 simultaneously alive goroutines is exceeded, dying"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-09 04:11] qw4990 commented on #27328
All failed cases are caused by `numBuckets` or `numTopN` is 0, so it seems the statistics is not loaded after analyzing.

[2021-12-09 04:12] hawkingrei commented on #30563
Fortunately, Golang team should be getting a new race detector for 1.19 that doesn't have this limit. See [#49761](https://github.com/golang/go/issues/49761).

[2021-12-09 04:25] bb7133 commented on #30559
PTAL @xiongjiwei and try to confirm if it is a bug.

[2021-12-09 04:47] Alkaagr81 commented on #30559
new_collations_enabled_on_first_bootstrap = true is true but I didn't set COLLATE=utf8mb4_general_ci in create table.If I set collate then the output is correct. How can I set default collation.Or do we need to add collation in create query.

[2021-12-09 05:23] xiongjiwei opened #30564 "runtime error when inserting data into gbk column"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

[code]
### 4. What is your TiDB version? (Required)

[2021-12-09 05:31] xiongjiwei opened #30565 "syntax error if character_set_client is gbk"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)

`no error`

### 3. What did you see instead (Required)

`syntax error`

### 4. What is your TiDB version? (Required)

[2021-12-09 05:36] xiongjiwei commented on #30559
our default collation for `utf8mb4` is `utf8mb4_bin`, which is different from MySQL. For now, we do not have a way to set the default collation, it is better to explicit the collation when creating the table.

[2021-12-09 05:43] Defined2014 opened #30567 "update result not same as MySQL with GBK charset"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
MySQL 8.0

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-09 05:43] Defined2014 commented on #30567
/feature developing

[2021-12-09 05:43] Defined2014 commented on #30567
/severity major

[2021-12-09 05:49] Defined2014 opened #30568 "`show create table` display not same as MySQL with default collate"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

[code]

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-09 05:49] Defined2014 commented on #30568
/severity minor

[2021-12-09 05:50] zimulala opened #30569 "`show create table` result is different with MySQL when creating a table with gbk charset"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master

[2021-12-09 05:55] zimulala commented on #30569
Duplicated #30568

[2021-12-09 05:55] #30569 closed

[2021-12-09 06:03] #29570 closed

[2021-12-09 06:11] LittleFall commented on #30542
5.0+ reproduce
[code]

[2021-12-09 06:17] #30289 closed

[2021-12-09 06:30] LittleFall commented on #30542
this issue will be closed because it will be transferred to tiflash's repo.

[2021-12-09 06:30] #30542 closed

[2021-12-09 06:35] djshow832 commented on #28739
I tried to set the timezone in MySQL 8.0.25 but it reports:

[code]

Where am I wrong?

[2021-12-09 06:38] tiancaiamao opened #30571 "http connection leak"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

In the master branch we have the lint check for http close https://github.com/pingcap/tidb/issues/28755

In 5.1 5.2 it's not added...
and some user meet the connection leak issues like https://asktug.com/t/topic/183219/16

### 2. What did you expect to see? (Required)

[cod

[2021-12-09 06:39] tiancaiamao commented on #30571
A hotfix for 5.1.1 is https://github.com/pingcap/tidb/pull/30570

We need to check the 5.1 5.2 5.3 branch and fix all of them

[2021-12-09 06:43] #30519 closed

[2021-12-09 07:22] AilinKid commented on #30501
How can I get the binary v4.0.16? I test migration from v4.0.15 to v5.3.0, it seems fine.

[2021-12-09 07:36] AilinKid commented on #30501
tiup start v4.0.16
create table
load data local infile '/home/arenatlx/download/data.txt' into table table_90_latin1_4;

upgrade to v5.3.0 manually
SELECT DISTINCT SUM...    // no panic, just warnings

[2021-12-09 07:43] sylzd opened #30577 "Support sql blacklist on tidb"
## Enhancement

When tidb run in production env, we often encounter the situation that the user produces a harmful sql.
in that case, the cluster will become slower and even crash. Further more, the user's retry mechanism may produce more and more similar sql, it will get worse.

For now, we handle it in this way:
1. Using `pt-kill` tool to keep killing this kind of sql.
2. Using `SPM` to relieve

[2021-12-09 07:45] you06 opened #30578 "Using paging to improve performance for indexlookup"
## Enhancement

#29612 allows TiDB's [distsql executors](https://github.com/pingcap/tidb/blob/05f7c6dc5b0634de59d9e0b26683d81868113b01/executor/distsql.go#L57-L61) using paging copr requests for pipelined processing. However, paging copr will introduce more RPC rounds. There is a use case which paging copr is a wise choose, only partial data is desired, e.g. a limit executor upon a distsql executo

[2021-12-09 08:15] Haaahei opened #30579 "ON condition doesn't support subqueries yet"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
MySQL [test]> show create table tba\G
*************************** 1. row ***************************
       Table: tba
Create Table: CREATE TABLE `tba` (
  `id` int(11) NOT NULL,
  `c1` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGIN

[2021-12-09 08:17] ChenPeng2013 opened #30580 "Extended stats concurrency test fail: Deadlock found when trying to get lock; try restarting transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

concurrentAddDropExtStats
TICASE-4847

### 2. What did you expect to see? (Required)
TICASE-4847 passed

### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

master

[2021-12-09 08:17] #27328 closed

[2021-12-09 08:26] time-and-fate commented on #30580
The content of the test case is concurrently run the following SQLs in multiple sessions:
[code]
The table access logic of the three SQLs are `InsertExtendedStats`, `SaveTableStatsToStorage` and `MarkExtendedStatsDeleted` in TiDB code.

All of them use pessimistic transactions and modify the same key in the `stats_meta` and `stats_extended` tables.

`InsertExtendedStats` and `MarkExtendedStatsDele

[2021-12-09 08:26] time-and-fate commented on #30580
/assign

[2021-12-09 08:30] zimulala opened #30581 "Insert 3 bytes of data into gbk column, result is inconsistent with MySQL"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
[code]

[code]

### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]

### 4. What is your TiDB version? (Required)

master

[2021-12-09 08:32] hawkingrei opened #30582 "DATA RACE in the IndexNestedLoopHashJoin"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

make race

[code]

### 2. What did you expect to see? (Required)

### 3. What did you see instead (Required)

### 4. What is your TiDB version? (Required)

[2021-12-09 08:43] Leavrth opened #30583 "br: support azure blob storage"
## Feature Request

br supports azure blob storage.

[2021-12-09 08:45] djshow832 opened #30584 "Unstable test: `testResourceTagSuite.TestResourceGroupTag`"
[code]

https://ci.pingcap.net/blue/organizations/jenkins/tidb_ghpr_unit_test/detail/tidb_ghpr_unit_test/23929/pipeline

[2021-12-09 08:57] #28739 closed

[2021-12-09 08:58] time-and-fate commented on #30580
Error log from tidb:
[code]

[2021-12-09 09:11] bb7133 commented on #30584
PTAL @crazycs520

[2021-12-09 09:16] dragonly commented on #29497
After a little bit digging, it turns out that the result column of `IFNULL` will contain both `Decimal(3,2)` and `Decimal(9,0)`.
Is this by design or bug?

PS: In the following screenshot, `arg0[2]` element is the wrong `2` and `arg0[0]` and `arg0[1]` is the expected `3.33`.
![IMG_6240](https://user-images.githubusercontent.com/8433465/145367676-2e0b076f-720f-4e8b-9f00-2328dc8f807f.jpg)

[2021-12-09 09:20] JZuming opened #30587 "TiDB loses connection when using transaction"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

**Setup the environment:**

[code]

_mysql_bk.sql:_
[mysql_bk.sql.txt](https://github.com/pingcap/tidb/files/7683779/mysql_bk.sql.txt)

**Test case**
[code]

### 2. What did you expect to see? (Required)

The connection will not be lost.

### 3. What did you see instead (Re

[2021-12-09 09:21] JZuming commented on #30587
The log of the server:

[2021-12-09 09:47] jacktd9 opened #34200 "v5.3.0 - lightning - ERROR 1054 unknown column ‘has_duplicates’ in fiedld list"

[2021-12-09 09:48] qw4990 commented on #30413
I simplified this case:
[code]

Actually, TiDB's behavior is more reasonable since the subquery returns 11 rows:
[code]

I also tried some similar cases in MySQL and you can see it returns the error too:
[code]

So I think it's a bug of MySQL instead of TiDB. I'll close this issue now, if I'm not correct, please reopen it again and let me know.

[2021-12-09 09:48] #30413 closed

[2021-12-09 10:04] bb7133 commented on #28054
Close this issue and we can try to open it, when the fail happens again after #30165.

[2021-12-09 10:04] #28054 closed

[2021-12-09 10:05] tiancaiamao commented on #30571
https://github.com/pingcap/tidb/pull/30570/files#diff-d19169611c4613e5d3f09dc49da1c5d99bc6c7adb90a4b2ebbd75ac869806f50R697

This is the most important change, it visits "/pd/api/v1/config"

One possible case call stack could be from telemetry, and the rate is 1min/op

[code]

Other possible way to trigger it is visit the `METRICS_SCHEMA` tables, for example,

[code]

The call stack  is

[code]

[2021-12-09 10:25] #29177 closed

[2021-12-09 10:59] #24172 closed

[2021-12-09 11:22] YuJuncen opened #30591 "br/stream: The File Tree of Log Backup"
## File Tree of Log Backup

### Design

#### Files and Naming

There should be 2 types of files: **MetaFiles** and **LogFiles**, MetaFiles contains the metadata of a set of LogFiles, in another way, it acting as the **index** of the LogFiles.

The MetaFiles should be saved at path  `{Prefix}/{StoreID:06}/{RegionID:06}{MinReslovedTSOfFiles:0??}{UnixTimeStamp:0??}.meta` . Where the `Prefix` is the u

[2021-12-09 11:25] YuJuncen commented on #30591
For now, I would prefer the sequence method for naming...(Even we involved the `NextBackupTS` and unix timestamp for naming the metafile, there still be chance for name conflicting, i.e. when the time is drifting, maybe monotonic clock can help?) 🤔
cc @kennytm @3pointer

[2021-12-09 12:45] tiancaiamao opened #30592 "annoying output of "[grpc_log=true]""
## General Question

In TiDB 5.1.1, I find this log every minute, it's annoying...

[code]

I googled and find grpclogger.go is in `github.com/grpc-ecosystem/go-grpc-middleware/logging/zap/grpclogger.go` this package.

Then `go mod why` tell me `tidb/util/logutil` introduce this package

[code]

And I print the call stack:

[code]

It's called in etcd client...

[2021-12-09 13:12] tiancaiamao commented on #30592
It's here... in the grpc package https://github.com/grpc/grpc-go/blame/a10661dd0a44abcdf594ef91224e65d7785dfabe/resolver_conn_wrapper.go#L171

[2021-12-09 13:19] tiancaiamao commented on #30592
Great, I find it's already done in https://github.com/pingcap/tidb/pull/27238

[2021-12-09 13:19] #30592 closed

[2021-12-09 13:30] bestwoody commented on #29498
As @XuHuaiyu said, “The Length should be 23 instead of 14”. Operating Date op with Time op will result in Datetime result, the TiDB use max(time.length, date.length) not datetime.legnth to derive length info which is incorrect. [PR](https://github.com/pingcap/tidb/pull/30588)

[2021-12-09 15:00] mjonss commented on #28739
I created a proposal for golang time package:
https://github.com/golang/go/issues/50062

[2021-12-09 16:12] morgo commented on #28770
This has been added, closing

[2021-12-09 16:12] #28770 closed

[2021-12-09 16:34] morgo commented on #30579
Thank you for the bug report! This appears to be a duplicate of: https://github.com/pingcap/tidb/issues/29032 https://github.com/pingcap/tidb/issues/11414

If you agree, I will go ahead and close this issue :-) Thanks

[2021-12-09 16:39] morgo commented on #30577
Thank you for the feature request!

Just to comment on how others do this: MySQL supports a feature they call a database firewall. Basically what it does it is record a list of permitted SQL digests and once the server is put in enforcing mode it will refuse to execute anything that is not in the list.

There are pros and cons for each approach: an allow list can help with security (reducing abili

[2021-12-09 17:46] morgo commented on #30366
I have proposed that we address this in refactoring in step 3 of this proposal: https://github.com/pingcap/tidb/pull/30558

[2021-12-09 19:59] mjonss opened #30594 "explain format = 'brief' for connection fails with ERROR 1105 (HY000): runtime error: index out of range [5] with length 5"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]

### 2. What did you expect to see? (Required)

Explain output

### 3. What did you see instead (Required)

[code]

### 4. What is your TiDB version? (Required)

[code]

[2021-12-09 23:37] Alkaagr81 opened #30595 "Inserting a time into a date (year) type is handling properly in mysql Not in TIDB"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]

### 3. What did you see instead (Required)
[code]
 -- If sql mode set to blank
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-10 00:46] Alkaagr81 opened #30596 "Year with some decimal values like(1998.9 or 1999.1) is not handled in TIDB"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

[code]
### 2. What did you expect to see? (Required)
[code]
### 3. What did you see instead (Required)
[code]
### 4. What is your TiDB version? (Required)

[code]

[2021-12-10 01:59] sylzd commented on #30577
Sounds Great to me! I will learn about database firewall.

[2021-12-10 02:17] chongchaoyu commented on #30304
Thanks

[2021-12-10 02:17] #30304 closed

[2021-12-10 02:30] bb7133 commented on #30571
@tiancaiamao Can we close this issue because of #30462 and #28756? Usually when an issue is fixed in master branch, we can close it and treat it as backlog for backporting for release branch.

[2021-12-10 02:37] tiancaiamao commented on #30571
OK, now I've verified the following actions:

- [x] Hotfix for [5.1.1](https://github.com/pingcap/tidb/pull/30570)
- [x] Make sure we have the lint check on [master branch](https://github.com/pingcap/tidb/issues/28755) so we can prevent this kind of error in the future
- [x] Check and cherry pick to [5.1](https://github.com/pingcap/tidb/pull/30597)
- [x] Check and cherry pick to [5.2](https://gith

[2021-12-10 02:43] tiancaiamao commented on #30571
I think we can close this one after the cherry-picks are merged, or if you're worried about the increase of DI, maybe we can close it now and make the following fixes asynchronous.  @bb7133

[2021-12-10 02:44] #30571 closed

[2021-12-10 03:07] Defined2014 commented on #30568
/assign

[2021-12-10 03:09] #30403 closed

[2021-12-10 03:40] dragonly commented on #29497
Supplement: the plan is
[code]

[2021-12-10 03:51] fzhedu commented on #30363
after discussed with @XuHuaiyu , we return null with warings for invalid date values.

[2021-12-10 03:59] #29139 closed

[2021-12-10 04:10] seiya-annie opened #30603 "upgrade fail from v4.0.15 to v4.0.16"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)

install v4.0.15 , upgrade to v4.0.16

### 2. What did you expect to see? (Required)
upgrade success

### 3. What did you see instead (Required)
[2021/12/10 12:07:51.950 +08:00] [INFO] [manager.go:188] ["start campaign owner"] [ownerInfo="[bindinfo] /tidb/bindinfo/owner"]
[2

[2021-12-10 04:12] seiya-annie commented on #30603
[tidb.log](https://github.com/pingcap/tidb/files/7690082/tidb.log)

[2021-12-10 04:44] seiya-annie commented on #30603
cluster info please find in:  https://clinic.pingcap.com:4433/diag/files?uuid=386a8fb8ce979d77-8d9c239d502fb376-d1d311cfa29069de

[2021-12-10 04:52] tisonkun commented on #26855
Closed as all subtasks done.

[2021-12-10 04:59] #30412 closed

[2021-12-10 04:59] xiongjiwei commented on #30412
dup of https://github.com/pingcap/tidb/issues/26552

[2021-12-10 05:05] espresso98 opened #30604 "Please enhance error message for spatial data type"
## Enhancement
Please give a more accurate error message for unsupported spatial data types.
"The spatial data type is not supported in TiDB."

[code]

[2021-12-10 05:08] tisonkun commented on #28181
/assign

[2021-12-10 05:08] #30604 closed

[2021-12-10 05:38] Ivy-YinSu opened #30607 "release: v4.0.17"

[2021-12-10 05:38] Ivy-YinSu opened #30608 "release: v5.2.4"
### Candidate SHA:
- TiDB: fe5aa9760b587799361c954cffab4d786dbdbf7e
- TiKV: dd3f47468240abb07374c73b300c3b1274bf493d
- PD: 35a202d9240106cc19b9b0fb07b6ad9ff380613b
- TiFlash: 18e9266c547115a1341409eb55bdeba8c8092c75
- BR: fe5aa9760b587799361c954cffab4d786dbdbf7e
- binlog: 020c0b4a0618ac98504dc44ee8a5b259dc6771f2
- tidb-tools: 915b22e4d42c1493edf90f1ccc79227e55e217ba
- tiflow: 2971ac36993aa11ff045b

[2021-12-10 05:38] Ivy-YinSu opened #30609 "release: v5.0.6"
### Candidate SHA:
- TiDB: 6416f8d601472892d245b950dfd5547e857a1a33
- TiKV: 7fcfaf4a9dd6b245fa7b6ac26740effda57b5139
- PD: 552c53ebd355eb657208d9130521e82a05ee009d
- TiFlash: 2e0d16c0f5abf9a3690cf8eada349420de6d3bb6
- BR: a135dc5eaf3b45b756a3899d71ab68b24134fa5b
- binlog: a9f873e6146ed9257e2ccf1d505934393f7e0aa9
- importer: 351ed5a142a61a2141bf06512085e6f8eb88feb4
- tidb-tools: 915b22e4d42c1493edf

[2021-12-10 05:38] Ivy-YinSu opened #30610 "release: v5.1.4"
### Candidate SHA:
- TiDB: 094b3e5e69d0921e2abe6907d217478bb5a7082d
- TiKV: 937df38124b977518eb2b932d7ced8be5d4eb163
- PD: 6919bc70f8211f8cd9b46e1d5e9d8058980ffa16
- TiFlash: 98ae1a43b9f33177b7b96ef00e58f2e644fcecc1
- BR: 3ac0ac15f91d5ab36591ae6ddec09d3251c138e8
- binlog: 32ff22ecdce268c34b14279d0b9f57484a949fd2
- importer: afb17bb47058445ba063603088e462779e8ef4ca
- tidb-tools: 915b22e4d42c1493edf

[2021-12-10 05:38] Ivy-YinSu opened #30611 "release: v5.3.1"
### Candidate SHA:
- TiDB: 459917c6f83df155edcc03f6ebde24942ff73b0e
- TiKV: ecc2549ed63fc21f1f6e11f1b85f19c2465234a5
- PD: b99630de0a59a14f1a6a00d99fd2e49016ab9aa1
- TiFlash: 2cbf30bc69b91f7b06dc28d7038eb6a81ad4ef4c
- BR: 459917c6f83df155edcc03f6ebde24942ff73b0e
- binlog: 795af767f98b27649b2eebd6e28941657937fc32
- importer: N/A
- tidb-tools: b6d9cbe5dff1f255d091c763b86cd6a05589bd65
- tiflow: 63089

[2021-12-10 05:43] bestwoody commented on #29498
PR: [#30588 ](https://github.com/pingcap/tidb/pull/30588)

[2021-12-10 05:45] Defined2014 commented on #30568
To be honest, I don't think follow the MySQL behavior is a good choose. Keep the collate in show create table is better whether it is default or not. Maybe MySQL change the default collate in someday.